{
  "name": "cloudnumberregistry",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "documentationLink": "https://docs.cloud.google.com/number-registry/reference/rest",
  "ownerDomain": "google.com",
  "description": "",
  "canonicalName": "Cloud Number Registry",
  "version": "v1alpha",
  "rootUrl": "https://cloudnumberregistry.googleapis.com/",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "path": "v1alpha/{+name}/locations",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$"
                },
                "extraLocationTypes": {
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query",
                  "repeated": true,
                  "type": "string"
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query"
                }
              },
              "flatPath": "v1alpha/projects/{projectsId}/locations",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "cloudnumberregistry.projects.locations.list",
              "response": {
                "$ref": "ListLocationsResponse"
              }
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "cloudnumberregistry.projects.locations.get",
              "response": {
                "$ref": "Location"
              },
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Resource name for the location.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "path": "v1alpha/{+name}",
              "httpMethod": "GET",
              "description": "Gets information about a location."
            }
          },
          "resources": {
            "registryBooks": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "description": "Lists RegistryBooks in a given project and location.",
                  "path": "v1alpha/{+parent}/registryBooks",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/registryBooks",
                  "parameters": {
                    "pageSize": {
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "filter": {
                      "description": "Optional. Filter expression to filter the results.",
                      "location": "query",
                      "type": "string"
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Optional. Hint for how to order the results.",
                      "location": "query"
                    },
                    "view": {
                      "description": "Optional. The view of the RegistryBook to retrieve.",
                      "location": "query",
                      "enum": [
                        "REGISTRY_BOOK_VIEW_UNSPECIFIED",
                        "BASIC",
                        "FULL",
                        "AGGREGATE"
                      ],
                      "type": "string",
                      "enumDescriptions": [
                        "Unspecified view. Defaults to BASIC.",
                        "Basic view.",
                        "Full view. Includes the same data as the BASIC view.",
                        "Aggregate includes data about the child resources of the RegistryBook."
                      ]
                    },
                    "pageToken": {
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. The parent resource name, for example `projects/*/locations/*`.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudnumberregistry.projects.locations.registryBooks.list",
                  "response": {
                    "$ref": "ListRegistryBooksResponse"
                  }
                },
                "get": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/registryBooks/[^/]+$",
                      "type": "string",
                      "description": "Required. The resource name of the RegistryBook to retrieve.",
                      "location": "path"
                    },
                    "view": {
                      "type": "string",
                      "enumDescriptions": [
                        "Unspecified view. Defaults to BASIC.",
                        "Basic view.",
                        "Full view. Includes the same data as the BASIC view.",
                        "Aggregate includes data about the child resources of the RegistryBook."
                      ],
                      "enum": [
                        "REGISTRY_BOOK_VIEW_UNSPECIFIED",
                        "BASIC",
                        "FULL",
                        "AGGREGATE"
                      ],
                      "description": "Optional. The view of the RegistryBook to retrieve.",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/registryBooks/{registryBooksId}",
                  "id": "cloudnumberregistry.projects.locations.registryBooks.get",
                  "response": {
                    "$ref": "RegistryBook"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets details of a single RegistryBook.",
                  "httpMethod": "GET",
                  "path": "v1alpha/{+name}"
                },
                "create": {
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/registryBooks",
                  "parameters": {
                    "registryBookId": {
                      "type": "string",
                      "description": "Required. The ID to use for the RegistryBook, which will become the final segment of the resource name.",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "description": "Required. The parent resource name where the RegistryBook will be created.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudnumberregistry.projects.locations.registryBooks.create",
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "RegistryBook"
                  },
                  "httpMethod": "POST",
                  "description": "Creates a new RegistryBook in a given project and location.",
                  "path": "v1alpha/{+parent}/registryBooks"
                },
                "searchIpResources": {
                  "path": "v1alpha/{+name}:searchIpResources",
                  "description": "Searches IP resources in a given RegistryBook.",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "SearchIpResourcesRequest"
                  },
                  "id": "cloudnumberregistry.projects.locations.registryBooks.searchIpResources",
                  "response": {
                    "$ref": "SearchIpResourcesResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The resource name of the RegistryBook to search in.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/registryBooks/[^/]+$",
                      "required": true
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/registryBooks/{registryBooksId}:searchIpResources"
                },
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudnumberregistry.projects.locations.registryBooks.patch",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. Identifier. The resource name of the RegistryBook.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/registryBooks/[^/]+$",
                      "required": true
                    },
                    "updateMask": {
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the RegistryBook resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/registryBooks/{registryBooksId}",
                  "path": "v1alpha/{+name}",
                  "httpMethod": "PATCH",
                  "description": "Updates the parameters of a single RegistryBook.",
                  "request": {
                    "$ref": "RegistryBook"
                  }
                },
                "delete": {
                  "path": "v1alpha/{+name}",
                  "httpMethod": "DELETE",
                  "description": "Deletes a single RegistryBook.",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudnumberregistry.projects.locations.registryBooks.delete",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the RegistryBook to delete.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/registryBooks/[^/]+$",
                      "required": true
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    },
                    "force": {
                      "description": "Optional. If set to true, all associated resources will be deleted.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/registryBooks/{registryBooksId}"
                }
              }
            },
            "discoveredRanges": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "description": "Lists DiscoveredRanges in a given project and location.",
                  "path": "v1alpha/{+parent}/discoveredRanges",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/discoveredRanges",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. The parent resource name, for example `projects/*/locations/*`.",
                      "location": "path"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "location": "query"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. Filter expression to filter the results.",
                      "location": "query"
                    },
                    "orderBy": {
                      "description": "Optional. Hint for how to order the results.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudnumberregistry.projects.locations.discoveredRanges.list",
                  "response": {
                    "$ref": "ListDiscoveredRangesResponse"
                  }
                },
                "findFreeIpRanges": {
                  "path": "v1alpha/{+name}:findFreeIpRanges",
                  "httpMethod": "GET",
                  "description": "Finds free IP ranges in a single DiscoveredRange.",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudnumberregistry.projects.locations.discoveredRanges.findFreeIpRanges",
                  "response": {
                    "$ref": "FindDiscoveredRangeFreeIpRangesResponse"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/discoveredRanges/{discoveredRangesId}:findFreeIpRanges",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/discoveredRanges/[^/]+$",
                      "required": true,
                      "description": "Required. The resource name of the DiscoveredRange to search within.",
                      "location": "path",
                      "type": "string"
                    },
                    "cidrPrefixLength": {
                      "description": "Required. The prefix length of the free IP ranges to find.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    },
                    "rangeCount": {
                      "description": "Optional. The number of free IP ranges to find.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    }
                  }
                },
                "get": {
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/discoveredRanges/{discoveredRangesId}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/discoveredRanges/[^/]+$",
                      "description": "Required. The resource name of the DiscoveredRange to retrieve.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "id": "cloudnumberregistry.projects.locations.discoveredRanges.get",
                  "response": {
                    "$ref": "DiscoveredRange"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets details of a single DiscoveredRange.",
                  "httpMethod": "GET",
                  "path": "v1alpha/{+name}"
                },
                "showUtilization": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudnumberregistry.projects.locations.discoveredRanges.showUtilization",
                  "response": {
                    "$ref": "ShowDiscoveredRangeUtilizationResponse"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/discoveredRanges/{discoveredRangesId}:showUtilization",
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the DiscoveredRange.",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/discoveredRanges/[^/]+$"
                    }
                  },
                  "path": "v1alpha/{+name}:showUtilization",
                  "httpMethod": "GET",
                  "description": "Gets the details of a single DiscoveredRange and its utilization."
                }
              }
            },
            "customRanges": {
              "methods": {
                "patch": {
                  "parameters": {
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the CustomRange resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                      "location": "query"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "type": "string",
                      "description": "Required. Identifier. The resource name of the CustomRange, in the format `projects/{project}/locations/{location}/customRanges/{custom_range}`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/customRanges/[^/]+$",
                      "required": true
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/customRanges/{customRangesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudnumberregistry.projects.locations.customRanges.patch",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "PATCH",
                  "description": "Updates the parameters of a single CustomRange.",
                  "request": {
                    "$ref": "CustomRange"
                  },
                  "path": "v1alpha/{+name}"
                },
                "delete": {
                  "path": "v1alpha/{+name}",
                  "description": "Deletes a single CustomRange.",
                  "httpMethod": "DELETE",
                  "id": "cloudnumberregistry.projects.locations.customRanges.delete",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/customRanges/{customRangesId}",
                  "parameters": {
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    },
                    "force": {
                      "description": "Optional. If set to true, all associated resources will be deleted.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/customRanges/[^/]+$",
                      "required": true,
                      "description": "Required. The resource name of the CustomRange to delete.",
                      "location": "path",
                      "type": "string"
                    }
                  }
                },
                "findFreeIpRanges": {
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/customRanges/{customRangesId}:findFreeIpRanges",
                  "parameters": {
                    "rangeCount": {
                      "description": "Optional. The number of free IP ranges to find.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    },
                    "name": {
                      "type": "string",
                      "description": "Required. The resource name of the CustomRange to search within.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/customRanges/[^/]+$"
                    },
                    "cidrPrefixLength": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Required. The prefix length of the free IP ranges to find.",
                      "location": "query"
                    }
                  },
                  "id": "cloudnumberregistry.projects.locations.customRanges.findFreeIpRanges",
                  "response": {
                    "$ref": "FindCustomRangeFreeIpRangesResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Finds free IP ranges in a single CustomRange.",
                  "httpMethod": "GET",
                  "path": "v1alpha/{+name}:findFreeIpRanges"
                },
                "get": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The resource name of the CustomRange to retrieve.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/customRanges/[^/]+$"
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/customRanges/{customRangesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudnumberregistry.projects.locations.customRanges.get",
                  "response": {
                    "$ref": "CustomRange"
                  },
                  "httpMethod": "GET",
                  "description": "Gets details of a single CustomRange.",
                  "path": "v1alpha/{+name}"
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudnumberregistry.projects.locations.customRanges.create",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "customRangeId": {
                      "type": "string",
                      "description": "Required. The ID to use for the CustomRange, which will become the final segment of the resource name.",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. The parent resource name where the CustomRange will be created.",
                      "location": "path"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/customRanges",
                  "path": "v1alpha/{+parent}/customRanges",
                  "httpMethod": "POST",
                  "description": "Creates a new CustomRange in a given project and location.",
                  "request": {
                    "$ref": "CustomRange"
                  }
                },
                "showUtilization": {
                  "path": "v1alpha/{+name}:showUtilization",
                  "httpMethod": "GET",
                  "description": "Gets the details of a single CustomRange and its utilization.",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudnumberregistry.projects.locations.customRanges.showUtilization",
                  "response": {
                    "$ref": "ShowCustomRangeUtilizationResponse"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/customRanges/{customRangesId}:showUtilization",
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the CustomRange.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/customRanges/[^/]+$",
                      "required": true
                    }
                  }
                },
                "list": {
                  "id": "cloudnumberregistry.projects.locations.customRanges.list",
                  "response": {
                    "$ref": "ListCustomRangesResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/customRanges",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "location": "query"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. Filter expression to filter the results.",
                      "location": "query"
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Optional. Hint for how to order the results.",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. The parent resource name, for example `projects/*/locations/*`.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    }
                  },
                  "path": "v1alpha/{+parent}/customRanges",
                  "description": "Lists CustomRanges in a given project and location.",
                  "httpMethod": "GET"
                }
              }
            },
            "operations": {
              "methods": {
                "list": {
                  "path": "v1alpha/{+name}/operations",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "httpMethod": "GET",
                  "id": "cloudnumberregistry.projects.locations.operations.list",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "The name of the operation's parent resource.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "description": "The standard list filter.",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query"
                    }
                  }
                },
                "delete": {
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "httpMethod": "DELETE",
                  "path": "v1alpha/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "The name of the operation resource to be deleted.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "id": "cloudnumberregistry.projects.locations.operations.delete",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "description": "The name of the operation resource.",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudnumberregistry.projects.locations.operations.get",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "GET",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "path": "v1alpha/{+name}"
                },
                "cancel": {
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudnumberregistry.projects.locations.operations.cancel",
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "POST",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "path": "v1alpha/{+name}:cancel"
                }
              }
            },
            "ipamAdminScopes": {
              "methods": {
                "checkAvailability": {
                  "path": "v1alpha/{+parent}/ipamAdminScopes:checkAvailability",
                  "httpMethod": "GET",
                  "description": "Checks the availability of IpamAdminScopes in a given project and location.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudnumberregistry.projects.locations.ipamAdminScopes.checkAvailability",
                  "response": {
                    "$ref": "CheckAvailabilityIpamAdminScopesResponse"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/ipamAdminScopes:checkAvailability",
                  "parameters": {
                    "scopes": {
                      "repeated": true,
                      "type": "string",
                      "description": "Required. The administrative scopes to check for availability.",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. The parent resource name, for example `projects/*/locations/*`.",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  }
                },
                "disable": {
                  "id": "cloudnumberregistry.projects.locations.ipamAdminScopes.disable",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/ipamAdminScopes/{ipamAdminScopesId}:disable",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/ipamAdminScopes/[^/]+$",
                      "type": "string",
                      "description": "Required. The resource name of the IpamAdminScope to disable.",
                      "location": "path"
                    }
                  },
                  "path": "v1alpha/{+name}:disable",
                  "request": {
                    "$ref": "DisableIpamAdminScopeRequest"
                  },
                  "description": "Disables a single IpamAdminScope.",
                  "httpMethod": "POST"
                },
                "patch": {
                  "path": "v1alpha/{+name}",
                  "description": "Updates the parameters of a single IpamAdminScope.",
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "IpamAdminScope"
                  },
                  "id": "cloudnumberregistry.projects.locations.ipamAdminScopes.patch",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/ipamAdminScopes/[^/]+$",
                      "type": "string",
                      "description": "Required. Identifier. The resource name of the IpamAdminScope.",
                      "location": "path"
                    },
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the IpamAdminScope resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                      "location": "query"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/ipamAdminScopes/{ipamAdminScopesId}"
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "description": "Deletes a single IpamAdminScope.",
                  "path": "v1alpha/{+name}",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/ipamAdminScopes/{ipamAdminScopesId}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/ipamAdminScopes/[^/]+$",
                      "description": "Required. The resource name of the IpamAdminScope to delete.",
                      "location": "path",
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    },
                    "force": {
                      "type": "boolean",
                      "description": "Optional. If set to true, all associated resources will be deleted.",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudnumberregistry.projects.locations.ipamAdminScopes.delete",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "cleanup": {
                  "id": "cloudnumberregistry.projects.locations.ipamAdminScopes.cleanup",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/ipamAdminScopes/{ipamAdminScopesId}:cleanup",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The resource name of the IpamAdminScope to clean up.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/ipamAdminScopes/[^/]+$"
                    }
                  },
                  "path": "v1alpha/{+name}:cleanup",
                  "request": {
                    "$ref": "CleanupIpamAdminScopeRequest"
                  },
                  "description": "Cleans up a single IpamAdminScope.",
                  "httpMethod": "POST"
                },
                "list": {
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. Filter expression to filter the results.",
                      "location": "query"
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Optional. Hint for how to order the results.",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. The parent resource name, for example `projects/*/locations/*`.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/ipamAdminScopes",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudnumberregistry.projects.locations.ipamAdminScopes.list",
                  "response": {
                    "$ref": "ListIpamAdminScopesResponse"
                  },
                  "httpMethod": "GET",
                  "description": "Lists IpamAdminScopes in a given project and location.",
                  "path": "v1alpha/{+parent}/ipamAdminScopes"
                },
                "get": {
                  "id": "cloudnumberregistry.projects.locations.ipamAdminScopes.get",
                  "response": {
                    "$ref": "IpamAdminScope"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the IpamAdminScope to retrieve.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/ipamAdminScopes/[^/]+$",
                      "required": true
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/ipamAdminScopes/{ipamAdminScopesId}",
                  "path": "v1alpha/{+name}",
                  "description": "Gets details of a single IpamAdminScope.",
                  "httpMethod": "GET"
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudnumberregistry.projects.locations.ipamAdminScopes.create",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "ipamAdminScopeId": {
                      "type": "string",
                      "description": "Required. The ID to use for the IpamAdminScope, which will become the final segment of the resource name.",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. The parent resource name where the IpamAdminScope will be created.",
                      "location": "path"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/ipamAdminScopes",
                  "path": "v1alpha/{+parent}/ipamAdminScopes",
                  "httpMethod": "POST",
                  "description": "Creates a new IpamAdminScope in a given project and location.",
                  "request": {
                    "$ref": "IpamAdminScope"
                  }
                }
              }
            },
            "realms": {
              "methods": {
                "list": {
                  "path": "v1alpha/{+parent}/realms",
                  "httpMethod": "GET",
                  "description": "Lists Realms in a given project and location.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudnumberregistry.projects.locations.realms.list",
                  "response": {
                    "$ref": "ListRealmsResponse"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/realms",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource name, for example `projects/*/locations/*`.",
                      "location": "path",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. Filter expression to filter the results.",
                      "location": "query"
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Optional. Hint for how to order the results.",
                      "location": "query"
                    },
                    "view": {
                      "description": "Optional. The view of the Realm to retrieve.",
                      "location": "query",
                      "enum": [
                        "REALM_VIEW_UNSPECIFIED",
                        "BASIC",
                        "FULL",
                        "AGGREGATE"
                      ],
                      "type": "string",
                      "enumDescriptions": [
                        "Unspecified view. Defaults to BASIC.",
                        "Basic view.",
                        "Full view. Includes the same data as the BASIC view.",
                        "Aggregate includes data about the child resources of the Realm."
                      ]
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "location": "query"
                    }
                  }
                },
                "get": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+$",
                      "description": "Required. The resource name of the Realm to retrieve.",
                      "location": "path",
                      "type": "string"
                    },
                    "view": {
                      "description": "Optional. The view of the Realm to retrieve.",
                      "location": "query",
                      "enum": [
                        "REALM_VIEW_UNSPECIFIED",
                        "BASIC",
                        "FULL",
                        "AGGREGATE"
                      ],
                      "type": "string",
                      "enumDescriptions": [
                        "Unspecified view. Defaults to BASIC.",
                        "Basic view.",
                        "Full view. Includes the same data as the BASIC view.",
                        "Aggregate includes data about the child resources of the Realm."
                      ]
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudnumberregistry.projects.locations.realms.get",
                  "response": {
                    "$ref": "Realm"
                  },
                  "httpMethod": "GET",
                  "description": "Gets details of a single Realm.",
                  "path": "v1alpha/{+name}"
                },
                "create": {
                  "path": "v1alpha/{+parent}/realms",
                  "request": {
                    "$ref": "Realm"
                  },
                  "httpMethod": "POST",
                  "description": "Creates a new Realm in a given project and location.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudnumberregistry.projects.locations.realms.create",
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/realms",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. The parent resource name where the Realm will be created.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request.",
                      "location": "query"
                    },
                    "realmId": {
                      "type": "string",
                      "description": "Required. The ID to use for the Realm, which will become the final segment of the resource name.",
                      "location": "query"
                    }
                  }
                },
                "patch": {
                  "path": "v1alpha/{+name}",
                  "description": "Updates the parameters of a single Realm.",
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "Realm"
                  },
                  "id": "cloudnumberregistry.projects.locations.realms.patch",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "updateMask": {
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the Realm resource by the update.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. Identifier. The resource name of the Realm.",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}"
                },
                "delete": {
                  "id": "cloudnumberregistry.projects.locations.realms.delete",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}",
                  "parameters": {
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request.",
                      "location": "query",
                      "type": "string"
                    },
                    "force": {
                      "type": "boolean",
                      "description": "Optional. If set to true, all associated resources will be deleted.",
                      "location": "query"
                    },
                    "name": {
                      "type": "string",
                      "description": "Required. The resource name of the Realm to delete.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+$"
                    }
                  },
                  "path": "v1alpha/{+name}",
                  "description": "Deletes a single Realm.",
                  "httpMethod": "DELETE"
                }
              }
            }
          }
        }
      }
    }
  },
  "parameters": {
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    }
  },
  "baseUrl": "https://cloudnumberregistry.googleapis.com/",
  "id": "cloudnumberregistry:v1alpha",
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "basePath": "",
  "batchPath": "batch",
  "revision": "20260729",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version_module": true,
  "ownerName": "Google",
  "protocol": "rest",
  "servicePath": "",
  "schemas": {
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "type": "array",
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request."
        }
      }
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "FindDiscoveredRangeFreeIpRangesResponse": {
      "id": "FindDiscoveredRangeFreeIpRangesResponse",
      "description": "Response message for the CloudNumberRegistry.FindDiscoveredRangeFreeIpRanges method.",
      "type": "object",
      "properties": {
        "freeIpCidrRanges": {
          "description": "Output only. The free IP CIDR ranges found.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "IpamAdminScope": {
      "id": "IpamAdminScope",
      "description": "An IpamAdminScope defines the administrative boundary for IP address discovery and management. It configures which platforms and organizational scopes are enabled for IP tracking.",
      "type": "object",
      "properties": {
        "enabledAddonPlatforms": {
          "description": "Required. Add-on platforms that are enabled for this IpamAdminScope. Cloud Number Registry only discovers the IP addresses from the enabled platforms.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified add-on platform.",
              "Google Compute Engine.",
              "Deprecated: Use COMPUTE_ENGINE instead."
            ],
            "enum": [
              "ADD_ON_PLATFORM_UNSPECIFIED",
              "COMPUTE_ENGINE",
              "GCE"
            ],
            "enumDeprecated": [
              false,
              false,
              true
            ]
          },
          "type": "array"
        },
        "scopes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. Administrative scopes enabled for IP address discovery and management. For example, \"organizations/1234567890\". Minimum of 1 scope is required. In preview, only one organization scope is allowed."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. User-defined labels.",
          "type": "object"
        },
        "state": {
          "description": "Output only. State of resource discovery pipeline.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "Internal failure.",
            "Failure.",
            "Setup in progress.",
            "Ready for use.",
            "Deleting in progress.",
            "Updating.",
            "Recovering.",
            "Disabled.",
            "Deleting completed.",
            "Cleanup in progress.",
            "Ready for deletion."
          ],
          "enum": [
            "DISCOVERY_PIPELINE_STATE_UNSPECIFIED",
            "INTERNAL_FAILURE",
            "FAILED",
            "SETUP_IN_PROGRESS",
            "READY_FOR_USE",
            "DELETING_IN_PROGRESS",
            "UPDATING",
            "RECOVERING",
            "DISABLED",
            "DELETION_COMPLETED",
            "CLEANUP_IN_PROGRESS",
            "READY_FOR_DELETION"
          ]
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time at which the IpamAdminScope was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "description": "Required. Identifier. The resource name of the IpamAdminScope.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which the IpamAdminScope was last updated.",
          "readOnly": true
        }
      }
    },
    "ListDiscoveredRangesResponse": {
      "id": "ListDiscoveredRangesResponse",
      "description": "Response message for the CloudNumberRegistry.ListDiscoveredRanges method.",
      "type": "object",
      "properties": {
        "discoveredRanges": {
          "items": {
            "$ref": "DiscoveredRange"
          },
          "type": "array",
          "description": "The list of DiscoveredRanges."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      }
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "DiscoveredRange": {
      "id": "DiscoveredRange",
      "description": "A DiscoveredRange represents an IP address range automatically detected by the discovery pipeline.",
      "type": "object",
      "properties": {
        "description": {
          "description": "Optional. Description of the DiscoveredRange.",
          "type": "string"
        },
        "parentRange": {
          "description": "Optional. The resource name of the parent DiscoveredRange, in the format `projects/{project}/locations/{location}/discoveredRanges/{discovered_range}`.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time at which the DiscoveredRange was created."
        },
        "realm": {
          "description": "Optional. The Realm of the DiscoveredRange.",
          "type": "string"
        },
        "ipv4CidrRange": {
          "description": "Optional. The IPv4 CIDR range of the DiscoveredRange.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which the DiscoveredRange was last updated.",
          "readOnly": true
        },
        "discoveryMetadata": {
          "readOnly": true,
          "description": "Output only. Owner metadata for this DiscoveredRange. A unique set of metadata is associated with each DiscoveredRange. If an IP range is shared by multiple resources (e.g., an Address resource and an Instance resource, or multiple ForwardingRules),separate DiscoveredRanges are created, each with a distinct owner. This ensures each DiscoveredRange has its own unique set of attributes, labels, create time and update time.",
          "$ref": "DiscoveryMetadata"
        },
        "ipv6CidrRange": {
          "description": "Optional. The IPv6 CIDR range of the DiscoveredRange.",
          "type": "string"
        },
        "name": {
          "description": "Required. Identifier. The resource name of the DiscoveredRange, in the format `projects/{project}/locations/{location}/discoveredRanges/{discovered_range}`.",
          "type": "string"
        },
        "childCidrOverlapAllowed": {
          "type": "boolean",
          "description": "Output only. If true, allows child DiscoveredRanges of this DiscoveredRange to overlap with each other.",
          "readOnly": true
        },
        "registryBook": {
          "description": "Output only. The RegistryBook of the DiscoveredRange.",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "description": "Optional. User-defined labels.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "attributes": {
          "description": "Optional. The attributes of the DiscoveredRange.",
          "items": {
            "$ref": "Attribute"
          },
          "type": "array"
        }
      }
    },
    "AggregatedData": {
      "type": "object",
      "properties": {
        "customRangesCount": {
          "readOnly": true,
          "description": "Output only. Number of CustomRanges in the RegistryBook.",
          "format": "int32",
          "type": "integer"
        },
        "uniqueScopesCount": {
          "readOnly": true,
          "description": "Output only. Number of scopes unique to the RegistryBook.",
          "format": "int32",
          "type": "integer"
        },
        "customRealmsCount": {
          "format": "int32",
          "type": "integer",
          "readOnly": true,
          "description": "Output only. Number of custom Realms in the RegistryBook."
        },
        "discoveredRealmsCount": {
          "description": "Output only. Number of discovered Realms in the RegistryBook.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "discoveredRangesCount": {
          "description": "Output only. Number of DiscoveredRanges in the RegistryBook.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "AggregatedData",
      "description": "Aggregated data for the RegistryBook."
    },
    "Operation": {
      "type": "object",
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        }
      },
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "SearchIpResourcesResult": {
      "type": "object",
      "properties": {
        "range": {
          "description": "A Range matching the search query.",
          "$ref": "Range"
        },
        "realm": {
          "description": "A Realm matching the search query.",
          "$ref": "Realm"
        }
      },
      "id": "SearchIpResourcesResult",
      "description": "A result matching the search query, which can be either a Range or a Realm."
    },
    "CheckAvailabilityIpamAdminScopesResponse": {
      "id": "CheckAvailabilityIpamAdminScopesResponse",
      "description": "Response message for the CloudNumberRegistry.CheckAvailabilityIpamAdminScopes method.",
      "type": "object",
      "properties": {
        "scopeAvailabilities": {
          "items": {
            "$ref": "IpamAdminScopeAvailability"
          },
          "type": "array",
          "description": "The details of the requested scopes."
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {}
    },
    "SearchIpResourcesResponse": {
      "type": "object",
      "properties": {
        "ranges": {
          "description": "Deprecated: Use results field instead. The list of Ranges matching the search query.",
          "deprecated": true,
          "type": "array",
          "items": {
            "$ref": "Range"
          }
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "results": {
          "description": "The list of results matching the search query.",
          "items": {
            "$ref": "SearchIpResourcesResult"
          },
          "type": "array"
        }
      },
      "id": "SearchIpResourcesResponse",
      "description": "Response message for the CloudNumberRegistry.SearchIpResources method."
    },
    "CleanupIpamAdminScopeRequest": {
      "id": "CleanupIpamAdminScopeRequest",
      "description": "Request message for the CloudNumberRegistry.CleanupIpamAdminScope method.",
      "type": "object",
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      }
    },
    "ListIpamAdminScopesResponse": {
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "ipamAdminScopes": {
          "items": {
            "$ref": "IpamAdminScope"
          },
          "type": "array",
          "description": "The list of IpamAdminScopes."
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "id": "ListIpamAdminScopesResponse",
      "description": "Response message for the CloudNumberRegistry.ListIpamAdminScopes method."
    },
    "SearchIpResourcesRequest": {
      "id": "SearchIpResourcesRequest",
      "description": "Request message for the CloudNumberRegistry.SearchIpResources method.",
      "type": "object",
      "properties": {
        "showUtilization": {
          "description": "Optional. Whether to show the utilization of the Ranges in the response.",
          "type": "boolean"
        },
        "orderBy": {
          "description": "Optional. Hint for how to order the results. Supported sort fields are: - `name`: Sort alphabetically by the resource name. - `create_time`: Sort by the creation timestamp of the resource. - `update_time`: Sort by the last update timestamp of the resource. Supported directions are `asc` (ascending) and `desc` (descending). If unspecified, direction defaults to `asc`. Only sorting by a single field is supported.",
          "type": "string"
        },
        "pageSize": {
          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
          "format": "int32",
          "type": "integer"
        },
        "pageToken": {
          "description": "Optional. A token identifying a page of results the server should return.",
          "type": "string"
        },
        "query": {
          "description": "Optional. Search query. This string filters resources in an AIP-160-like format. It has some limitations. You can only specify top level conjunctions or attribute level negations. Each restriction can only be used once except the attribute restriction. The available restrictions for Ranges are: - `realm`: The Realm name to search in. - `ip_address`: The IP address to search for within Ranges. - `ip_version`: The IP version to filter by (e.g., \"IPV4\", \"IPV6\"). - `parent_range`: The parent Range of the Range to search for. - `attribute_text`: The attribute text to search for within Ranges. - `attribute`: The attribute key and value to filter by. The available restrictions for Realms are: - `ip_version`: The IP version to search for. - `management_type`: The management type of the Realm (e.g., \"CNR\", \"USER\"). Only one of attribute_text or multiple attribute filters can be specified. Examples: - `realm=test-realm` - `realm=test-realm AND ip_address=10.0.0.0` - `realm=test-realm AND ip_version=IPV6` - `realm=test-realm AND attribute_text=test` - `ip_address=10.0.0.0 AND attribute:(key1=value1) AND attribute:(key2=value2)` - `attribute_text=test AND parent_range=projects/123/locations/global/discoveredRanges/test-parent-range` - `management_type=CNR`",
          "type": "string"
        },
        "searchResourceTypes": {
          "type": "array",
          "items": {
            "enum": [
              "SEARCH_RESOURCE_TYPE_UNSPECIFIED",
              "RANGES",
              "REALMS"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unspecified search type.",
              "Search for Ranges.",
              "Search for Realms."
            ]
          },
          "description": "Optional. The type of resources to search for. If not specified, the server will return Ranges."
        }
      }
    },
    "Attribute": {
      "type": "object",
      "properties": {
        "value": {
          "description": "Required. The value of the attribute.",
          "type": "string"
        },
        "key": {
          "description": "Required. The key of the attribute.",
          "type": "string"
        }
      },
      "id": "Attribute",
      "description": "A key-value pair representing a custom attribute associated with a resource."
    },
    "RegistryBook": {
      "id": "RegistryBook",
      "description": "A RegistryBook organizes and manages IP address space. It claims specific scopes (such as projects) and groups related Realms and Ranges.",
      "type": "object",
      "properties": {
        "labels": {
          "description": "Optional. User-defined labels.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "claimedScopes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. List of scopes claimed by the RegistryBook. In Preview, Only project scope is supported. Each scope is in the format of projects/{project}. Each scope can only be claimed once."
        },
        "name": {
          "description": "Required. Identifier. The resource name of the RegistryBook.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The time at which the RegistryBook was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "isDefault": {
          "description": "Output only. Whether the RegistryBook is the default one.",
          "readOnly": true,
          "type": "boolean"
        },
        "aggregatedData": {
          "description": "Output only. Aggregated data for the RegistryBook. Populated only when the view is AGGREGATE.",
          "readOnly": true,
          "$ref": "AggregatedData"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which the RegistryBook was created.",
          "readOnly": true
        }
      }
    },
    "IpamAdminScopeAvailability": {
      "id": "IpamAdminScopeAvailability",
      "description": "Availability details for a specific IpamAdminScope.",
      "type": "object",
      "properties": {
        "scope": {
[...]
