{
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://cloudbilling.mtls.googleapis.com/",
  "documentationLink": "https://cloud.google.com/billing/docs/apis",
  "servicePath": "",
  "basePath": "",
  "canonicalName": "Cloudbilling",
  "version": "v1beta",
  "id": "cloudbilling:v1beta",
  "resources": {
    "v1beta": {
      "methods": {
        "generateInsights": {
          "description": "Analyzes cost data for a billing account and/or specific projects. Returns a natural language summary and supporting datasets.",
          "path": "v1beta:generateInsights",
          "httpMethod": "POST",
          "parameters": {},
          "flatPath": "v1beta:generateInsights",
          "request": {
            "$ref": "GenerateInsightsRequest"
          },
          "id": "cloudbilling.generateInsights",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-billing",
            "https://www.googleapis.com/auth/cloud-billing.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "GenerateInsightsResponse"
          },
          "parameterOrder": []
        }
      }
    },
    "skus": {
      "resources": {
        "price": {
          "methods": {
            "get": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudBillingPricesV1betaPrice"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "cloudbilling.skus.price.get",
              "flatPath": "v1beta/skus/{skusId}/price",
              "parameters": {
                "currencyCode": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. ISO-4217 currency code for the price. If not specified, USD will be used."
                },
                "name": {
                  "description": "Required. Name of the latest price to retrieve. Format: skus/{sku}/price",
                  "pattern": "^skus/[^/]+/price$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "httpMethod": "GET",
              "path": "v1beta/{+name}",
              "description": "Gets the latest price for the given SKU."
            }
          }
        },
        "prices": {
          "methods": {
            "list": {
              "path": "v1beta/{+parent}/prices",
              "description": "Lists the latest prices for all SKUs.",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "description": "Required. To list the prices for all SKUs, use `-` as the SKU ID. Format: `skus/-` Specifying a specific SKU ID returns a collection with one Price object for the SKU.",
                  "pattern": "^skus/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "pageSize": {
                  "description": "Optional. Maximum number of prices to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "currencyCode": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. ISO-4217 currency code for the price. If not specified, USD will be used."
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Page token received from a previous ListPrices call to retrieve the next page of results. If this field is empty, the first page is returned."
                }
              },
              "flatPath": "v1beta/skus/{skusId}/prices",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "cloudbilling.skus.prices.list",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudBillingPricesV1betaListPricesResponse"
              }
            }
          }
        }
      }
    },
    "billingAccounts": {
      "resources": {
        "services": {
          "methods": {
            "list": {
              "id": "cloudbilling.billingAccounts.services.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudBillingBillingaccountservicesV1betaListBillingAccountServicesResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists services visible to a billing account.",
              "path": "v1beta/{+parent}/services",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "pattern": "^billingAccounts/[^/]+$",
                  "type": "string",
                  "description": "Required. The billing account to list billing account service from. Format: billingAccounts/{billing_account}",
                  "required": true,
                  "location": "path"
                },
                "pageSize": {
                  "description": "Maximum number of billing account service to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Page token received from a previous ListBillingAccountServices call to retrieve the next page of results. If this field is empty, the first page is returned.",
                  "type": "string"
                }
              },
              "flatPath": "v1beta/billingAccounts/{billingAccountsId}/services"
            },
            "get": {
              "httpMethod": "GET",
              "path": "v1beta/{+name}",
              "description": "Gets a Google Cloud service visible to a billing account.",
              "flatPath": "v1beta/billingAccounts/{billingAccountsId}/services/{servicesId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the billing account service to retrieve. Format: billingAccounts/{billing_account}/services/{service}",
                  "pattern": "^billingAccounts/[^/]+/services/[^/]+$",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "cloudbilling.billingAccounts.services.get",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudBillingBillingaccountservicesV1betaBillingAccountService"
              }
            }
          }
        },
        "skus": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "cloudbilling.billingAccounts.skus.list",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudBillingBillingaccountskusV1betaListBillingAccountSkusResponse"
              },
              "path": "v1beta/{+parent}/skus",
              "description": "Lists SKUs visible to a billing account.",
              "httpMethod": "GET",
              "parameters": {
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "Options for how to filter the billing account SKUs. Currently, only filter on `billing_account_service` is supported. Only !=, = operators are supported. Examples: - billing_account_service = \"billingAccounts/012345-567890-ABCDEF/services/DA34-426B-A397\""
                },
                "pageToken": {
                  "description": "Page token received from a previous ListBillingAccountSkus call to retrieve the next page of results. If this field is empty, the first page is returned.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "location": "path",
                  "pattern": "^billingAccounts/[^/]+$",
                  "type": "string",
                  "description": "Required. The billing account to list billing account SKU from. Format: billingAccounts/{billing_account}"
                },
                "pageSize": {
                  "location": "query",
                  "description": "Maximum number of billing account SKUs to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000.",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skus"
            },
            "get": {
              "id": "cloudbilling.billingAccounts.skus.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudBillingBillingaccountskusV1betaBillingAccountSku"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "description": "Gets a SKU visible to a billing account.",
              "path": "v1beta/{+name}",
              "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skus/{skusId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the billing account SKU to retrieve. Format: billingAccounts/{billing_account}/skus/{sku}",
                  "pattern": "^billingAccounts/[^/]+/skus/[^/]+$",
                  "type": "string"
                }
              }
            }
          },
          "resources": {
            "price": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "description": "Gets the latest price for SKUs available to your Cloud Billing account.",
                  "path": "v1beta/{+name}",
                  "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skus/{skusId}/price",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the billing account price to retrieve. Format: billingAccounts/{billing_account}/skus/{sku}/price",
                      "pattern": "^billingAccounts/[^/]+/skus/[^/]+/price$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "currencyCode": {
                      "location": "query",
                      "description": "Optional. ISO-4217 currency code for the price. If not specified, the currency of the billing account is used.",
                      "type": "string"
                    }
                  },
                  "id": "cloudbilling.billingAccounts.skus.price.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-billing",
                    "https://www.googleapis.com/auth/cloud-billing.readonly",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudBillingBillingaccountpricesV1betaBillingAccountPrice"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "prices": {
              "methods": {
                "list": {
                  "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skus/{skusId}/prices",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. Page token received from a previous ListBillingAccountPrices call to retrieve the next page of results. If this field is empty, the first page is returned.",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "location": "path",
                      "pattern": "^billingAccounts/[^/]+/skus/[^/]+$",
                      "type": "string",
                      "description": "Required. To list all Billing Account SKUs, use `-` as the SKU ID. Format: `billingAccounts/{billing_account}/skus/-` Note: Specifying an actual SKU resource id will return a collection of one Billing Account Price."
                    },
                    "currencyCode": {
                      "location": "query",
                      "description": "Optional. ISO-4217 currency code for the price. If not specified, currency of billing account will be used.",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. Maximum number of billing account price to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000.",
                      "location": "query"
                    }
                  },
                  "httpMethod": "GET",
                  "path": "v1beta/{+parent}/prices",
                  "description": "Lists the latest prices for SKUs available to your Cloud Billing account.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudBillingBillingaccountpricesV1betaListBillingAccountPricesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-billing",
                    "https://www.googleapis.com/auth/cloud-billing.readonly",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudbilling.billingAccounts.skus.prices.list"
                }
              }
            }
          }
        },
        "skuGroups": {
          "methods": {
            "list": {
              "path": "v1beta/{+parent}/skuGroups",
              "description": "Lists SKU groups visible to a billing account.",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The billing account to list billing account SKU groups from. Format: billingAccounts/{billing_account}",
                  "pattern": "^billingAccounts/[^/]+$",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "description": "Maximum number of billing account SKU groups to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000.",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "Page token received from a previous ListBillingAccountSkuGroups call to retrieve the next page of results. If this field is empty, the first page is returned.",
                  "location": "query",
                  "type": "string"
                }
              },
              "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skuGroups",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "cloudbilling.billingAccounts.skuGroups.list",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudBillingBillingaccountskugroupsV1betaListBillingAccountSkuGroupsResponse"
              }
            },
            "get": {
              "httpMethod": "GET",
              "path": "v1beta/{+name}",
              "description": "Gets a SKU group visible to a billing account.",
              "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skuGroups/{skuGroupsId}",
              "parameters": {
                "name": {
                  "description": "Required. The name of the BillingAccountSkuGroup to retrieve. Format: billingAccounts/{billing_account}/skuGroups/{sku_group}",
                  "pattern": "^billingAccounts/[^/]+/skuGroups/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "cloudbilling.billingAccounts.skuGroups.get",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudBillingBillingaccountskugroupsV1betaBillingAccountSkuGroup"
              }
            }
          },
          "resources": {
            "skus": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaListBillingAccountSkuGroupSkusResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "cloudbilling.billingAccounts.skuGroups.skus.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-billing",
                    "https://www.googleapis.com/auth/cloud-billing.readonly",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skuGroups/{skuGroupsId}/skus",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "Page token received from a previous ListBillingAccountSkuGroupSkus call to retrieve the next page of results. If this field is empty, the first page is returned.",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "location": "path",
                      "pattern": "^billingAccounts/[^/]+/skuGroups/[^/]+$",
                      "type": "string",
                      "description": "Required. The billing account SKU group to list billing account SKU group SKUs from. Format: billingAccounts/{billing_account}/skuGroups/{sku_group}"
                    },
                    "pageSize": {
                      "description": "Maximum number of billing account SKU group SKUs to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "httpMethod": "GET",
                  "description": "Lists SKUs that is part of billing account SKU groups.",
                  "path": "v1beta/{+parent}/skus"
                },
                "get": {
                  "description": "Gets a SKU that is part of a billing account SKU group.",
                  "path": "v1beta/{+name}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "pattern": "^billingAccounts/[^/]+/skuGroups/[^/]+/skus/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the billing account SKU group SKU to retrieve. Format: billingAccounts/{billing_account}/skuGroups/{sku_group}/skus/{sku}",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skuGroups/{skuGroupsId}/skus/{skusId}",
                  "id": "cloudbilling.billingAccounts.skuGroups.skus.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-billing",
                    "https://www.googleapis.com/auth/cloud-billing.readonly",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaBillingAccountSkuGroupSku"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "skuGroups": {
      "resources": {
        "skus": {
          "methods": {
            "list": {
              "id": "cloudbilling.skuGroups.skus.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudBillingSkugroupskusV1betaListSkuGroupSkusResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists all publicly listed SKUs contained by a publicly listed SKU group.",
              "path": "v1beta/{+parent}/skus",
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "description": "Page token received from a previous ListSkuGroupSkus call to retrieve the next page of results. If this field is empty, the first page is returned.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. The SkuGroup to list SkuGroupSku from. Format: skuGroups/{sku_group}",
                  "pattern": "^skuGroups/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "Maximum number of SKU group SKUs to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000."
                }
              },
              "flatPath": "v1beta/skuGroups/{skuGroupsId}/skus"
            },
            "get": {
              "id": "cloudbilling.skuGroups.skus.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudBillingSkugroupskusV1betaSkuGroupSku"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "description": "Gets a publicly listed SKU that is part of a publicly listed SKU group.",
              "path": "v1beta/{+name}",
              "flatPath": "v1beta/skuGroups/{skuGroupsId}/skus/{skusId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the SKU group SKU to retrieve. Format: skuGroups/{sku_group}/skus/{sku}",
                  "pattern": "^skuGroups/[^/]+/skus/[^/]+$",
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "methods": {
        "list": {
          "response": {
            "$ref": "GoogleCloudBillingSkugroupsV1betaListSkuGroupsResponse"
          },
          "parameterOrder": [],
          "id": "cloudbilling.skuGroups.list",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-billing",
            "https://www.googleapis.com/auth/cloud-billing.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "description": "Maximum number of SKU groups to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000.",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "description": "Page token received from a previous ListSkuGroups call to retrieve the next page of results. If this field is empty, the first page is returned.",
              "type": "string"
            }
          },
          "flatPath": "v1beta/skuGroups",
          "description": "Lists all publicly listed SKU groups.",
          "path": "v1beta/skuGroups",
          "httpMethod": "GET"
        },
        "get": {
          "flatPath": "v1beta/skuGroups/{skuGroupsId}",
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "description": "Required. The name of the SKU group to retrieve. Format: skuGroups/{sku_group}",
              "pattern": "^skuGroups/[^/]+$",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "path": "v1beta/{+name}",
          "description": "Gets a publicly listed SKU group.",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleCloudBillingSkugroupsV1betaSkuGroup"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-billing",
            "https://www.googleapis.com/auth/cloud-billing.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "cloudbilling.skuGroups.get"
        }
      }
    }
  },
  "protocol": "rest",
  "schemas": {
    "GoogleCloudBillingBillingaccountservicesV1betaBillingAccountService": {
      "id": "GoogleCloudBillingBillingaccountservicesV1betaBillingAccountService",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name for the BillingAccountService. Example: \"billingAccounts/012345-567890-ABCDEF/services/DA34-426B-A397\"."
        },
        "displayName": {
          "type": "string",
          "description": "Description of the BillingAccountService. Example: \"BigQuery\", \"Compute Engine\"."
        },
        "serviceId": {
          "description": "Identifier for the service. It is the string after the collection identifier \"services/\". Example: \"DA34-426B-A397\".",
          "type": "string"
        }
      },
      "description": "Encapsulates a Google Cloud service visible to a billing account."
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaListBillingAccountSkuGroupSkusResponse": {
      "description": "Response message for ListBillingAccountSkuGroupSkus.",
      "type": "object",
      "properties": {
        "billingAccountSkuGroupSkus": {
          "description": "The returned billing account SKU group SKUs.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaBillingAccountSkuGroupSku"
          }
        },
        "nextPageToken": {
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaListBillingAccountSkuGroupSkusResponse"
    },
    "GoogleCloudBillingBillingaccountpricesV1betaRateTier": {
      "description": "Encapsulates a rate price tier.",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaRateTier",
      "type": "object",
      "properties": {
        "effectiveDiscountPercent": {
          "description": "Percentage of effective discount calculated using the current list price per pricing tier. Formula used: effective_discount_percent = (list_price - contract_price) / list_price × 100 If list_price and contract_price are zero, this field is the same as `discount_percent` of FixedDiscount and FloatingDiscount. If your contract does NOT have the feature LIST_PRICE_AS_CEILING enabled, the effective_discount_percent can be negative if the SKU has a FixedDiscount and the current list price is lower than the list price on the date of the contract agreement. See the `FixedDiscount.fix_time` on when the discount was set. If you have questions regarding pricing per SKU, contact your Account team for more details.",
          "$ref": "Decimal"
        },
        "listPrice": {
          "description": "List price of one tier.",
          "$ref": "Money"
        },
        "contractPrice": {
          "description": "Negotiated contract price specific for a billing account.",
          "$ref": "Money"
        },
        "startAmount": {
          "description": "Lower bound amount for a tier. Tiers 0-100, 100-200 will be represented with two tiers with `start_amount` 0 and 100.",
          "$ref": "Decimal"
        }
      }
    },
    "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyMultiRegional": {
      "type": "object",
      "properties": {
        "regions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegion"
          },
          "description": "Google Cloud regions associated with the multi-regional geographic taxonomy."
        }
      },
      "id": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyMultiRegional",
      "description": "Encapsulates a multi-regional geographic taxonomy."
    },
    "BillingData": {
      "description": "Encapsulates billing data.",
      "id": "BillingData",
      "type": "object",
      "properties": {
        "rows": {
          "description": "Rows.",
          "type": "array",
          "items": {
            "$ref": "Row"
          }
        },
        "columnInfo": {
          "description": "Information about columns.",
          "type": "array",
          "items": {
            "$ref": "ColumnInfo"
          }
        }
      }
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyMultiRegional": {
      "type": "object",
      "properties": {
        "regions": {
          "description": "Google Cloud regions associated with the multi-regional geographic taxonomy.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegion"
          }
        }
      },
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyMultiRegional",
      "description": "Encapsulates a multi-regional geographic taxonomy."
    },
    "ValueProto": {
      "description": "This is a copy of storage/googlesql/public/value.proto. ValueProto represents the serialized form of the googlesql::Value. The intention is to support multiple languages including Java and C++, so we must be sensitive to the distinction between Java Strings and byte arrays or ByteStrings. We also want to support use-cases which do not want to serialize a copy of the GoogleSQL type for every instance (which might be very repetitive). Therefore, unlike googlesql::Value, ValueProto does not carry full type information with every instance, and can only be fully interpreted with an associated TypeProto.",
      "type": "object",
      "properties": {
        "rangeValue": {
          "$ref": "Range",
          "description": "Encoded range value. See go/googlesql_range."
        },
        "uint32Value": {
          "description": "Primitive for uint32.",
          "type": "integer",
          "format": "uint32"
        },
        "numericValue": {
          "type": "string",
          "format": "byte",
          "description": "Encoded numeric value. For the encoding format see documentation for NumericValue::SerializeAsProtoBytes()."
        },
        "doubleValue": {
          "type": "number",
          "format": "double",
          "description": "Primitive for double."
        },
        "timeValue": {
          "type": "string",
          "format": "int64",
          "description": "Bit field encoding of hour/minute/second/nanos. See TimeValue class for details."
        },
        "uuidValue": {
          "description": "Encoded uuid value. For the encoding format see documentation for UuidValue::SerializeAsBytes().",
          "type": "string",
          "format": "byte"
        },
        "bytesValue": {
          "type": "string",
          "format": "byte",
          "description": "Primitive for bytes."
        },
        "bignumericValue": {
          "type": "string",
          "format": "byte",
          "description": "Encoded bignumeric value. For the encoding format see documentation for BigNumericValue::SerializeAsProtoBytes()."
        },
        "protoValue": {
          "description": "Stores a serialized protocol message.",
          "type": "string",
          "format": "byte"
        },
        "timestampValue": {
          "description": "primitive for timestamp",
          "type": "string",
          "format": "google-datetime"
        },
        "timestampPicoValue": {
          "type": "string",
          "format": "byte",
          "description": "Encoded timestamp_pico value. For the encoding format see documentation for googlesql::TimestampPico::SerializeAsBytes()."
        },
        "boolValue": {
          "type": "boolean",
          "description": "Primitive for bool."
        },
        "jsonValue": {
          "type": "string",
          "description": "Tag 22 was used for json value as bytes, now obsolete. Json value represented as a string document."
        },
        "floatValue": {
          "type": "number",
          "format": "float",
          "description": "Primitive for float."
        },
        "ValueProtoSwitchMustHaveADefault": {
          "type": "boolean",
          "description": "User code that switches on this oneoff enum must have a default case so builds won't break when new fields are added."
        },
        "int32Value": {
          "description": "Primitive value for int32.",
          "type": "integer",
          "format": "int32"
        },
        "datetimeValue": {
          "$ref": "Datetime",
          "description": "primitive for datetime"
        },
        "intervalValue": {
          "type": "string",
          "format": "byte",
          "description": "Encoded interval value. For the encoding format see documentation for IntervalValue::SerializeAsBytes()."
        },
        "uint64Value": {
          "type": "string",
          "format": "uint64",
          "description": "Primitive for uint64."
        },
        "enumValue": {
          "type": "integer",
          "format": "int32",
          "description": "Tag 11 was used for specifying micros timestamps as int64, now obsolete."
        },
        "int64Value": {
          "description": "Primitive for int64.",
          "type": "string",
          "format": "int64"
        },
        "tokenlistValue": {
          "description": "Encoded tokenlist value. copybara:strip_begin(internal-comment) See //search/tokens:token_list. copybara:strip_end",
          "type": "string",
          "format": "byte"
        },
        "geographyValue": {
          "type": "string",
          "format": "byte",
          "description": "Geography encoded using ::stlib::STGeographyEncoder"
        },
        "structValue": {
          "description": "A struct of values",
          "$ref": "Struct"
        },
        "dateValue": {
          "description": "Primitive for date.",
          "type": "integer",
          "format": "int32"
        },
        "mapValue": {
          "$ref": "Map",
          "description": "Encoded map value. See go/googlesql_map."
        },
        "stringValue": {
          "description": "Primitive for string.",
          "type": "string"
        },
        "arrayValue": {
          "description": "An array of value",
          "$ref": "Array"
        }
      },
      "id": "ValueProto"
    },
    "MapEntry": {
      "type": "object",
      "properties": {
        "value": {
          "description": "Represents the serialized map value of the entry.",
          "$ref": "ValueProto"
        },
        "key": {
          "description": "Represents the serialized map key for the entry.",
          "$ref": "ValueProto"
        }
      },
      "id": "MapEntry",
      "description": "A single entry in a Map, representing the mapping between `key` and `value`."
    },
    "GoogleCloudBillingPricesV1betaUnitInfo": {
      "id": "GoogleCloudBillingPricesV1betaUnitInfo",
      "type": "object",
      "properties": {
        "unit": {
          "description": "Shorthand for the unit. Example: GiBy.mo.",
          "type": "string"
        },
        "unitQuantity": {
          "description": "Unit quantity for the tier. Example: if the RateTier price is $1 per 1000000 Bytes, then `unit_quantity` is set to 1000000.",
          "$ref": "Decimal"
        },
        "unitDescription": {
          "description": "Human-readable description of the unit. Example: gibibyte month.",
          "type": "string"
        }
      },
      "description": "Encapsulates the unit information for a Rate"
    },
    "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyGlobal": {
      "id": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyGlobal",
      "type": "object",
      "properties": {},
      "description": "Encapsulates a global geographic taxonomy."
    },
    "GoogleCloudBillingBillingaccountpricesV1betaMigratedPrice": {
      "description": "Encapsulates a price migrated from other SKUs.",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaMigratedPrice",
      "type": "object",
      "properties": {
        "sourceSku": {
          "type": "string",
          "description": "Source SKU where the discount is migrated from. Format: billingAccounts/{billing_account}/skus/{sku}"
        }
      }
    },
    "GoogleCloudBillingSkugroupsV1betaListSkuGroupsResponse": {
      "description": "Response message for ListSkuGroups.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        },
        "skuGroups": {
          "description": "The returned publicly listed SKU groups.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingSkugroupsV1betaSkuGroup"
          }
        }
      },
      "id": "GoogleCloudBillingSkugroupsV1betaListSkuGroupsResponse"
    },
    "GoogleCloudBillingBillingaccountpricesV1betaAggregationInfo": {
      "description": "Encapsulates the aggregation information such as aggregation level and interval for a billing account price.",
      "type": "object",
      "properties": {
        "level": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "Usage is aggregated at an account level.",
            "Usage is aggregated at a project level."
          ],
          "description": "Level at which usage is aggregated to compute cost. Example: \"ACCOUNT\" level indicates that usage is aggregated across all projects in a single account.",
          "enum": [
            "LEVEL_UNSPECIFIED",
            "LEVEL_ACCOUNT",
            "LEVEL_PROJECT"
          ]
        },
        "interval": {
          "description": "Interval at which usage is aggregated to compute cost. Example: \"MONTHLY\" interval indicates that usage is aggregated every month.",
          "enum": [
            "INTERVAL_UNSPECIFIED",
            "INTERVAL_MONTHLY",
            "INTERVAL_DAILY"
          ],
          "enumDescriptions": [
            "Default unspecified value.",
            "Usage is aggregated every month.",
            "Usage is aggregated every day."
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudBillingBillingaccountpricesV1betaAggregationInfo"
    },
    "GoogleCloudBillingBillingaccountpricesV1betaFixedDiscount": {
      "type": "object",
      "properties": {
        "discountScopeType": {
          "description": "Type of the fixed discount scope which indicates the source of the discount. It can have values such as 'unspecified' and 'sku-group'.",
          "type": "string"
        },
        "fixTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time that the fixed discount is anchored to."
        },
        "skuGroup": {
          "description": "SKU group where the fixed discount comes from.",
          "type": "string"
        },
        "discountPercent": {
          "$ref": "Decimal",
          "description": "Percentage of the fixed discount."
        }
      },
      "id": "GoogleCloudBillingBillingaccountpricesV1betaFixedDiscount",
      "description": "Encapsulates a discount off the list price, anchored to the list price as of a fixed time."
    },
    "Decimal": {
      "description": "A representation of a decimal value, such as 2.5. Clients may convert values into language-native decimal formats, such as Java's [BigDecimal](https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/math/BigDecimal.html) or Python's [decimal.Decimal](https://docs.python.org/3/library/decimal.html).",
      "id": "Decimal",
      "type": "object",
      "properties": {
        "value": {
          "description": "The decimal value, as a string. The string representation consists of an optional sign, `+` (`U+002B`) or `-` (`U+002D`), followed by a sequence of zero or more decimal digits (\"the integer\"), optionally followed by a fraction, optionally followed by an exponent. An empty string **should** be interpreted as `0`. The fraction consists of a decimal point followed by zero or more decimal digits. The string must contain at least one digit in either the integer or the fraction. The number formed by the sign, the integer and the fraction is referred to as the significand. The exponent consists of the character `e` (`U+0065`) or `E` (`U+0045`) followed by one or more decimal digits. Services **should** normalize decimal values before storing them by: - Removing an explicitly-provided `+` sign (`+2.5` -> `2.5`). - Replacing a zero-length integer value with `0` (`.5` -> `0.5`). - Coercing the exponent character to upper-case, with explicit sign (`2.5e8` -> `2.5E+8`). - Removing an explicitly-provided zero exponent (`2.5E0` -> `2.5`). Services **may** perform additional normalization based on its own needs and the internal decimal implementation selected, such as shifting the decimal point and exponent value together (example: `2.5E-1` <-> `0.25`). Additionally, services **may** preserve trailing zeroes in the fraction to indicate increased precision, but are not required to do so. Note that only the `.` character is supported to divide the integer and the fraction; `,` **should not** be supported regardless of locale. Additionally, thousand separators **should not** be supported. If a service does support them, values **must** be normalized. The ENBF grammar is: DecimalString = '' | [Sign] Significand [Exponent]; Sign = '+' | '-'; Significand = Digits '.' | [Digits] '.' Digits; Exponent = ('e' | 'E') [Sign] Digits; Digits = { '0' | '1' | '2' | '3' | '4' | '5' | '6' | '7' | '8' | '9' }; Services **should** clearly document the range of supported values, the maximum supported precision (total number of digits), and, if applicable, the scale (number of digits after the decimal point), as well as how it behaves when receiving out-of-bounds values. Services **may** choose to accept values passed as input even when the value has a higher precision or scale than the service supports, and **should** round the value to fit the supported scale. Alternatively, the service **may** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if precision would be lost. Services **should** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if the service receives a value outside of the supported range.",
          "type": "string"
        }
      }
    },
    "GoogleCloudBillingBillingaccountskusV1betaBillingAccountSku": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Resource name for the BillingAccountSku. Example: \"billingAccounts/012345-567890-ABCDEF/skus/AA95-CD31-42FE\".",
          "type": "string"
        },
        "skuId": {
          "description": "Unique identifier for the SKU. It is the string after the collection identifier \"skus/\" Example: \"AA95-CD31-42FE\".",
          "type": "string"
        },
        "billingAccountService": {
          "type": "string",
          "description": "BillingAccountService that the BillingAccountSku belongs to."
        },
        "productTaxonomy": {
          "description": "List of product categories that apply to the BillingAccountSku.",
          "$ref": "GoogleCloudBillingBillingaccountskusV1betaProductTaxonomy"
        },
        "displayName": {
          "description": "Description of the BillingAccountSku. Example: \"A2 Instance Core running in Hong Kong\".",
          "type": "string"
        },
        "geoTaxonomy": {
          "description": "Geographic metadata that applies to the BillingAccountSku.",
          "$ref": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomy"
        }
      },
      "id": "GoogleCloudBillingBillingaccountskusV1betaBillingAccountSku",
      "description": "Encapsulates a stock keeping unit (SKU) visible to a billing account. A SKU distinctly identifies a resource that you can purchase. For a list of available SKUs, see [SKUs](https://cloud.google.com/skus)."
    },
    "GoogleCloudBillingPricesV1betaAggregationInfo": {
      "description": "Encapsulates the aggregation information such as aggregation level and interval for a price.",
      "type": "object",
      "properties": {
        "level": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "Usage is aggregated at an account level.",
            "Usage is aggregated at a project level."
          ],
          "description": "Level at which usage is aggregated to compute cost. Example: \"ACCOUNT\" level indicates that usage is aggregated across all projects in a single account.",
          "enum": [
            "LEVEL_UNSPECIFIED",
            "LEVEL_ACCOUNT",
            "LEVEL_PROJECT"
          ]
        },
        "interval": {
          "type": "string",
          "description": "Interval at which usage is aggregated to compute cost. Example: \"MONTHLY\" interval indicates that usage is aggregated every month.",
          "enum": [
            "INTERVAL_UNSPECIFIED",
            "INTERVAL_MONTHLY",
            "INTERVAL_DAILY"
          ],
          "enumDescriptions": [
            "Default unspecified value.",
            "Usage is aggregated every month.",
            "Usage is aggregated every day."
          ]
        }
      },
      "id": "GoogleCloudBillingPricesV1betaAggregationInfo"
    },
    "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyGlobal": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyGlobal",
      "description": "Encapsulates a global geographic taxonomy."
    },
    "GoogleCloudBillingBillingaccountpricesV1betaPriceReason": {
      "type": "object",
      "properties": {
        "mergedPrice": {
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaMergedPrice",
          "description": "Price after merging from multiple sources."
        },
        "migratedPrice": {
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaMigratedPrice",
          "description": "Price migrated from other SKUs."
        },
        "type": {
          "type": "string",
          "description": "Type of the price reason. It can have values such as 'unspecified', 'default-price', 'fixed-price', 'fixed-discount', 'floating-discount', 'migrated-price', 'merged-price', 'list-price-as-ceiling'."
        },
        "fixedDiscount": {
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaFixedDiscount",
          "description": "Discount off the list price, anchored to the list price as of a fixed time."
        },
        "fixedPrice": {
          "description": "Fixed price applicable during the terms of a contract agreement.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaFixedPrice"
        },
        "floatingDiscount": {
          "description": "Discount off the current list price, not anchored to any list price as of a fixed time.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaFloatingDiscount"
        },
        "listPriceAsCeiling": {
          "description": "Contract feature that the list price (DefaultPrice) will be used for the price if the current list price drops lower than the custom fixed price. Available to new contracts after March 21, 2022. Applies to all fixed price SKUs in the contract, including FixedPrice, FixedDiscount, MigratedPrice, and MergedPrice.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaListPriceAsCeiling"
        },
        "defaultPrice": {
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaDefaultPrice",
          "description": "Default price which is the current list price."
        }
      },
      "id": "GoogleCloudBillingBillingaccountpricesV1betaPriceReason",
      "description": "Encapsulates a price reason which contains background information about the origin of the price."
    },
    "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegional": {
      "description": "Encapsulates a regional geographic taxonomy.",
      "type": "object",
      "properties": {
        "region": {
          "$ref": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegion",
          "description": "Google Cloud region associated with the regional geographic taxonomy."
        }
      },
      "id": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegional"
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaTaxonomyCategory": {
      "type": "object",
      "properties": {
        "category": {
          "description": "Name of the product category.",
          "type": "string"
        }
      },
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaTaxonomyCategory",
      "description": "Encapsulates a product category."
    },
    "GoogleCloudBillingPricesV1betaRateTier": {
      "id": "GoogleCloudBillingPricesV1betaRateTier",
      "type": "object",
      "properties": {
        "startAmount": {
          "$ref": "Decimal",
          "description": "Lower bound amount for a tier. Tiers 0-100, 100-200 will be represented with two tiers with `start_amount` 0 and 100."
        },
        "listPrice": {
          "description": "List price of one tier.",
          "$ref": "Money"
        }
      },
      "description": "Encapsulates a rate price tier."
    },
    "GoogleCloudBillingSkugroupsV1betaSkuGroup": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Resource name for the SKU group. Example: \"skuGroups/0e6403d1-4694-44d2-a696-7a78b1a69301\".",
          "type": "string"
        },
        "displayName": {
          "description": "Description of the SKU group. Example: \"A2 VMs (1 Year CUD)\".",
          "type": "string"
        }
      },
      "id": "GoogleCloudBillingSkugroupsV1betaSkuGroup",
      "description": "Encapsulates a publicly listed stock keeping unit (SKU) group. A SKU group represents a collection of SKUs that are related to each other. For example, the `AI Platform APIs` SKU group includes SKUs from the Cloud Dialogflow API, the Cloud Text-to-Speech API, and additional related APIs."
    },
    "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegional": {
      "description": "Encapsulates a regional geographic taxonomy.",
      "type": "object",
      "properties": {
        "region": {
          "description": "Google Cloud region associated with the regional geographic taxonomy.",
          "$ref": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegion"
        }
      },
      "id": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegional"
    },
    "GoogleCloudBillingPricesV1betaPrice": {
      "description": "Encapsulates the latest price for a SKU.",
      "id": "GoogleCloudBillingPricesV1betaPrice",
      "type": "object",
      "properties": {
        "name": {
          "description": "Resource name for the latest price.",
          "type": "string"
        },
        "valueType": {
          "description": "Type of the price. It can have values: [\"unspecified\", \"rate\"].",
          "type": "string"
        },
        "rate": {
          "$ref": "GoogleCloudBillingPricesV1betaRate",
          "description": "Rate price metadata. SKUs with `Rate` price are offered by pricing tiers. The price can have 1 or more rate pricing tiers."
        },
        "currencyCode": {
          "type": "string",
          "description": "ISO-4217 currency code for the price."
        }
      }
    },
    "GoogleCloudBillingBillingaccountservicesV1betaListBillingAccountServicesResponse": {
      "description": "Response message for ListBillingAccountServices.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages."
        },
        "billingAccountServices": {
          "description": "The returned billing account services.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountservicesV1betaBillingAccountService"
          }
        }
      },
      "id": "GoogleCloudBillingBillingaccountservicesV1betaListBillingAccountServicesResponse"
    },
    "InteropLink": {
      "type": "object",
      "properties": {
        "label": {
          "description": "Output only. The label of the link, suitable for UI rendering.",
          "readOnly": true,
          "type": "string"
        },
        "url": {
          "type": "string",
          "description": "Output only. The URL of the link.",
          "readOnly": true
        },
        "linkType": {
          "readOnly": true,
          "enum": [
            "LINK_TYPE_UNSPECIFIED",
            "COST_REPORT",
            "BQE_QUERY",
            "FINOPS_HUB"
          ],
          "enumDescriptions": [
            "Default value. Should not be used.",
            "A link to a Cost Report in Google Cloud Console.",
            "A link to a BigQuery Export query.",
            "A link to a FinOps Hub page."
          ],
          "description": "Output only. The type of the interop link, e.g., \"COST_REPORT\", \"BQE_QUERY\", etc.",
          "type": "string"
        }
      },
      "id": "InteropLink",
      "description": "A link to interoperable tools (e.g., pre-filtered Cost Reports, BQE queries)."
    },
    "BillingDataResource": {
      "description": "Specifies a Billing data resource that can be used for authorization to access billing data.",
      "id": "BillingDataResource",
      "type": "object",
      "properties": {
        "billingAccount": {
          "type": "string",
          "description": "Optional. If not provided the billing account currently associated with the resource will be used."
        },
        "resource": {
          "type": "string",
          "description": "Required. Resource name for an entitity that can be used for authorization to access billing data such as `projects/{project}` or `billingAccounts/{billing_account}`"
        }
      }
    },
    "GoogleCloudBillingBillingaccountpricesV1betaListPriceAsCeiling": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudBillingBillingaccountpricesV1betaListPriceAsCeiling",
      "description": "Encapsulates a contract feature that the list price (DefaultPrice) will be used for the price if the current list price drops lower than the custom fixed price. Available to new contracts after March 21, 2022. Applies to all fixed price SKUs in the contract, including FixedPrice, FixedDiscount, MigratedPrice, and MergedPrice."
    },
    "GoogleCloudBillingBillingaccountpricesV1betaListBillingAccountPricesResponse": {
      "type": "object",
      "properties": {
        "billingAccountPrices": {
          "description": "The returned billing account prices.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountpricesV1betaBillingAccountPrice"
          }
        },
        "nextPageToken": {
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleCloudBillingBillingaccountpricesV1betaListBillingAccountPricesResponse",
      "description": "Response message for ListBillingAccountPrices."
    },
    "GenerateInsightsResponse": {
      "description": "Response for GenerateInsights.",
      "type": "object",
      "properties": {
        "thoughtChunk": {
          "description": "Output only. A chunk of the agent's internal reasoning process. The UI can use this to render a \"Thinking...\" log or status.",
          "readOnly": true,
          "type": "string"
        },
        "finalResult": {
          "$ref": "FinalResult",
          "description": "Output only. The final structured results and metadata. Usually sent as the final message in the stream.",
          "readOnly": true
        },
        "rejection": {
          "description": "Output only. The request was rejected (e.g. out of scope).",
          "readOnly": true,
          "$ref": "Rejection"
        },
        "summaryChunk": {
          "description": "Output only. A chunk of the natural language summary (customer-facing). The UI can append these chunks to provide a real-time \"typing\" effect.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GenerateInsightsResponse"
    },
    "GoogleCloudBillingBillingaccountpricesV1betaDefaultPrice": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudBillingBillingaccountpricesV1betaDefaultPrice",
      "description": "Encapsulates a default price which is the current list price."
    },
    "SuggestedQuery": {
      "type": "object",
      "properties": {
        "query": {
          "type": "string",
          "description": "The natural language query."
        }
      },
      "id": "SuggestedQuery",
      "description": "A suggested follow-up query for the user."
    },
    "GoogleCloudBillingBillingaccountskugroupsV1betaListBillingAccountSkuGroupsResponse": {
      "description": "Response message for ListBillingAccountSkuGroups.",
      "id": "GoogleCloudBillingBillingaccountskugroupsV1betaListBillingAccountSkuGroupsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages."
        },
        "billingAccountSkuGroups": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskugroupsV1betaBillingAccountSkuGroup"
          },
          "description": "The returned publicly listed billing account SKU groups."
        }
      }
    },
    "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyMultiRegional": {
      "description": "Encapsulates a multi-regional geographic taxonomy.",
      "id": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyMultiRegional",
      "type": "object",
      "properties": {
        "regions": {
          "description": "Google Cloud regions associated with the multi-regional geographic taxonomy.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegion"
          }
        }
      }
    },
    "UserContext": {
      "type": "object",
      "properties": {
        "persona": {
          "type": "string",
          "description": "Optional. The user's persona (e.g., FinOps Manager, Developer).",
          "enum": [
            "PERSONA_UNSPECIFIED",
            "FINOPS_MANAGER",
            "DEVELOPER"
          ],
          "enumDescriptions": [
            "Default value. Should not be used.",
            "The user is a FinOps Manager.",
            "The user is a Developer."
          ]
        },
        "role": {
          "description": "Optional. The user's role (e.g., Billing Admin, Project Owner, etc.).",
          "type": "string"
        }
      },
      "id": "UserContext",
      "description": "Additional context for personalization (e.g., user persona, role)."
    },
    "GoogleCloudBillingSkugroupskusV1betaTaxonomyCategory": {
      "description": "Encapsulates a product category.",
      "id": "GoogleCloudBillingSkugroupskusV1betaTaxonomyCategory",
      "type": "object",
      "properties": {
        "category": {
          "description": "Name of the product category.",
          "type": "string"
        }
      }
    },
    "Range": {
      "type": "object",
      "properties": {
        "start": {
          "description": "Represents the start of the range.",
          "$ref": "ValueProto"
        },
        "end": {
          "description": "Represents the end of the range.",
          "$ref": "ValueProto"
        }
      },
      "id": "Range",
      "description": "A range of values, bounded by the values 'start' (inclusive) and 'end' (exclusive). A range has an element type, and values must be of this element type. A range is contiguous, ie it contains all values of the given element type starting at 'start' and ending before 'end'. A \"null\" value on start or end represents an unbounded start or end value respectively. Start and end values must always be present."
    },
    "AgenticQueryInfo": {
      "description": "A local representation of the query used to fetch the data. This is used instead of the raw QueryBillingDataRequest to avoid pulling in Cloud Policy Enforcement (CPE) resource_type annotations into the response payload, which causes ESF validation failures.",
      "id": "AgenticQueryInfo",
      "type": "object",
      "properties": {
        "parents": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The parents (e.g. projects, billing accounts) queried."
        },
        "filter": {
          "type": "string",
          "description": "The filter applied to the query."
        },
        "orderBy": {
          "description": "The order-by clause applied to the query.",
          "type": "string"
        },
        "limit": {
          "type": "integer",
          "format": "int32",
          "description": "The row limit applied to the query."
        },
        "columns": {
          "description": "The columns queried.",
          "type": "string"
        },
        "groupBy": {
          "type": "string",
          "description": "The group-by clause applied to the query."
        },
        "view": {
          "description": "The view queried.",
          "type": "string"
        }
      }
    },
    "GoogleCloudBillingBillingaccountpricesV1betaRate": {
      "description": "Encapsulates a `Rate` price. Billing account SKUs with `Rate` price are offered by pricing tiers. The price have 1 or more rate pricing tiers.",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaRate",
      "type": "object",
      "properties": {
        "unitInfo": {
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaUnitInfo",
          "description": "Unit info such as name and quantity."
        },
        "aggregationInfo": {
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaAggregationInfo",
          "description": "Aggregation info for tiers such as aggregation level and interval."
        },
        "tiers": {
          "description": "All tiers associated with the `Rate` price.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountpricesV1betaRateTier"
          }
        }
      }
    },
    "GenerateInsightsRequest": {
      "description": "Request for GenerateInsights.",
      "type": "object",
      "properties": {
        "overriddenMaxIterationCounts": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Overrides the maximum iterations for any selected strategy."
        },
        "parents": {
          "type": "array",
          "items": {
            "$ref": "BillingDataResource"
          },
          "description": "Optional. The billing account or projects to analyze."
        },
        "filter": {
          "type": "string",
          "description": "Optional. Filters cost data by service id. Follows https://google.aip.dev/160 for the filter syntax. eg. filter: \"service = 'C7E2-9256-1C43'\""
        },
        "prompt": {
          "type": "string",
          "description": "Required. The natural language prompt from the user."
        },
        "userContext": {
          "$ref": "UserContext",
          "description": "Optional. Additional context for personalization (e.g., user persona, role)."
        }
      },
      "id": "GenerateInsightsRequest"
    },
    "Map": {
      "description": "An unordered mapping from key to value, represented as a collection of map entries.",
      "type": "object",
      "properties": {
        "entry": {
          "description": "Represents the map entries in the map.",
          "type": "array",
          "items": {
            "$ref": "MapEntry"
          }
        }
      },
      "id": "Map"
    },
    "GoogleCloudBillingSkugroupskusV1betaProductTaxonomy": {
      "type": "object",
      "properties": {
        "taxonomyCategories": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingSkugroupskusV1betaTaxonomyCategory"
          },
          "description": "All product categories that the SKU group SKU belongs to."
        }
      },
      "id": "GoogleCloudBillingSkugroupskusV1betaProductTaxonomy",
      "description": "Encapsulates product categories, such as `Serverless`, `Cloud Run`, `TaskQueue`, and others."
    },
    "GoogleCloudBillingBillingaccountskusV1betaProductTaxonomy": {
      "description": "Encapsulates product categories, such as `Serverless`, `Cloud Run`, `TaskQueue`, and others.",
      "type": "object",
      "properties": {
        "taxonomyCategories": {
          "description": "All product categories that the billing account SKU belong to.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskusV1betaTaxonomyCategory"
          }
        }
      },
      "id": "GoogleCloudBillingBillingaccountskusV1betaProductTaxonomy"
    },
    "ColumnInfo": {
      "id": "ColumnInfo",
      "type": "object",
      "properties": {
        "column": {
          "type": "string",
          "description": "Name of the column."
        }
      },
      "description": "Represents a column header."
    },
    "GoogleCloudBillingBillingaccountpricesV1betaUnitInfo": {
      "type": "object",
      "properties": {
        "unit": {
          "type": "string",
          "description": "Shorthand for the unit. Example: GiBy.mo."
        },
        "unitQuantity": {
          "description": "Unit quantity for the tier. Example: if the RateTier price is $1 per 1000000 Bytes, then `unit_quantity` is set to 1000000.",
          "$ref": "Decimal"
        },
        "unitDescription": {
          "type": "string",
          "description": "Human-readable description of the unit. Example: gibibyte month."
        }
      },
      "id": "GoogleCloudBillingBillingaccountpricesV1betaUnitInfo",
      "description": "Encapsulates the unit information for a Rate"
    },
    "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomy": {
      "id": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomy",
      "type": "object",
      "properties": {
        "globalMetadata": {
          "$ref": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyGlobal",
          "description": "Global geographic metadata with no regions."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Default value. Unspecified type.",
            "Global geographic taxonomy with no regions.",
            "Regional geographic taxonomy with 1 region.",
            "Multi-regional geographic taxonomy with 2 or more regions."
          ],
          "description": "Type of geographic taxonomy associated with the billing account SKU.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_GLOBAL",
            "TYPE_REGIONAL",
            "TYPE_MULTI_REGIONAL"
          ]
        },
        "regionalMetadata": {
          "$ref": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegional",
          "description": "Regional geographic metadata with 1 region."
        },
        "multiRegionalMetadata": {
          "description": "Multi-regional geographic metadata with 2 or more regions.",
          "$ref": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyMultiRegional"
        }
      },
      "description": "Encapsulates geographic metadata, such as regions and multi-regions like `us-east4` or `European Union`."
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomy": {
      "description": "Encapsulates geographic metadata, such as regions and multi-regions like `us-east4` or `European Union`.",
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomy",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "Type of geographic taxonomy associated with the billing account SKU group SKU.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_GLOBAL",
            "TYPE_REGIONAL",
            "TYPE_MULTI_REGIONAL"
          ],
          "enumDescriptions": [
            "Default value. Unspecified type.",
            "Global geographic taxonomy with no regions.",
            "Regional geographic taxonomy with 1 region.",
            "Multi-regional geographic taxonomy with 2 or more regions."
          ]
        },
        "globalMetadata": {
          "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyGlobal",
          "description": "Global geographic metadata with no regions."
        },
        "regionalMetadata": {
          "description": "Regional geographic metadata with 1 region.",
          "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegional"
        },
        "multiRegionalMetadata": {
          "description": "Multi-regional geographic metadata with 2 or more regions.",
          "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyMultiRegional"
        }
      }
    },
    "Struct": {
      "id": "Struct",
      "type": "object",
      "properties": {
        "field": {
          "description": "The fields in the struct",
          "type": "array",
          "items": {
            "$ref": "ValueProto"
          }
        }
      },
      "description": "A collection of fields. The count, order, and type of the fields is determined by the type associated with this value."
    },
    "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegion": {
      "description": "Encapsulates a Google Cloud region.",
      "type": "object",
      "properties": {
        "region": {
          "type": "string",
          "description": "Description of a Google Cloud region. Example: \"us-west2\"."
        }
      },
      "id": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegion"
    },
    "GoogleCloudBillingBillingaccountpricesV1betaBillingAccountPrice": {
      "type": "object",
      "properties": {
        "valueType": {
          "description": "Type of the price. The possible values are: [\"unspecified\", \"rate\"].",
          "type": "string"
        },
        "rate": {
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaRate",
          "description": "Rate price metadata. Billing account SKUs with `Rate` price are offered by pricing tiers. The price can have 1 or more rate pricing tiers."
        },
        "priceReason": {
          "description": "Background information on the origin of the price.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaPriceReason"
        },
        "name": {
          "type": "string",
          "description": "Resource name for the latest billing account price."
        },
        "currencyCode": {
          "type": "string",
          "description": "ISO-4217 currency code for the price."
        }
      },
      "id": "GoogleCloudBillingBillingaccountpricesV1betaBillingAccountPrice",
      "description": "Encapsulates the latest price for a billing account SKU."
    },
    "GoogleCloudBillingPricesV1betaListPricesResponse": {
      "description": "Response message for ListPrices.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        },
        "prices": {
          "description": "The returned publicly listed prices.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingPricesV1betaPrice"
          }
        }
      },
      "id": "GoogleCloudBillingPricesV1betaListPricesResponse"
    },
    "GoogleCloudBillingBillingaccountpricesV1betaFixedPrice": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudBillingBillingaccountpricesV1betaFixedPrice",
      "description": "Encapsulates a set fixed price applicable during the terms of a contract agreement."
    },
    "GoogleCloudBillingPricesV1betaRate": {
      "id": "GoogleCloudBillingPricesV1betaRate",
      "type": "object",
      "properties": {
        "tiers": {
          "description": "All tiers associated with the `Rate` price.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingPricesV1betaRateTier"
          }
        },
        "aggregationInfo": {
          "description": "Aggregation info for tiers such as aggregation level and interval.",
          "$ref": "GoogleCloudBillingPricesV1betaAggregationInfo"
        },
        "unitInfo": {
          "description": "Unit info such as name and quantity.",
          "$ref": "GoogleCloudBillingPricesV1betaUnitInfo"
        }
      },
      "description": "Encapsulates a `Rate` price. SKUs with `Rate` price are offered by pricing tiers. The price have 1 or more rate pricing tiers."
    },
    "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomy": {
      "type": "object",
      "properties": {
        "regionalMetadata": {
          "description": "Regional geographic metadata with 1 region.",
          "$ref": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegional"
        },
        "multiRegionalMetadata": {
          "description": "Multi-regional geographic metadata with 2 or more regions.",
          "$ref": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyMultiRegional"
        },
        "globalMetadata": {
          "description": "Global geographic metadata with no regions.",
          "$ref": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyGlobal"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Default value. Unspecified type.",
            "Global geographic taxonomy with no regions.",
            "Regional geographic taxonomy with 1 region.",
            "Multi-regional geographic taxonomy with 2 or more regions."
          ],
          "description": "Type of geographic taxonomy associated with the SKU group SKU.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_GLOBAL",
            "TYPE_REGIONAL",
            "TYPE_MULTI_REGIONAL"
          ]
        }
      },
      "id": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomy",
      "description": "Encapsulates geographic metadata, such as regions and multi-regions like `us-east4` or `European Union`."
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegion": {
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegion",
      "type": "object",
      "properties": {
        "region": {
          "description": "Description of a Google Cloud region. Example: \"us-west2\".",
          "type": "string"
        }
      },
      "description": "Encapsulates a Google Cloud region."
    },
    "GoogleCloudBillingSkugroupskusV1betaSkuGroupSku": {
      "description": "Encapsulates a publicly listed stock keeping unit (SKU) that is part of a publicly listed SKU group. A SKU group represents a collection of SKUs that are related to each other. For example, the `AI Platform APIs` SKU group includes SKUs from the Cloud Dialogflow API, the Cloud Text-to-Speech API, and additional related APIs.",
      "type": "object",
      "properties": {
        "service": {
          "type": "string",
          "description": "Service that the SkuGroupSku belongs to."
        },
        "name": {
          "description": "Resource name for the SkuGroupSku. Example: \"skuGroups/0e6403d1-4694-44d2-a696-7a78b1a69301/skus/AA95-CD31-42FE\".",
          "type": "string"
        },
        "skuId": {
          "type": "string",
          "description": "Unique identifier for the SKU. It is the string after the collection identifier \"skus/\" Example: \"AA95-CD31-42FE\"."
        },
        "productTaxonomy": {
          "$ref": "GoogleCloudBillingSkugroupskusV1betaProductTaxonomy",
          "description": "List of product categories that apply to the SkuGroupSku."
        },
        "displayName": {
          "type": "string",
          "description": "Description of the SkuGroupSku. Example: \"A2 Instance Core running in Hong Kong\"."
        },
        "geoTaxonomy": {
          "$ref": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomy",
          "description": "Geographic metadata that applies to the SkuGroupSku."
        }
      },
      "id": "GoogleCloudBillingSkugroupskusV1betaSkuGroupSku"
    },
    "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegion": {
      "description": "Encapsulates a Google Cloud region.",
      "id": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegion",
      "type": "object",
      "properties": {
        "region": {
          "type": "string",
          "description": "Description of a Google Cloud region. Example: \"us-west2\"."
        }
      }
    },
    "GoogleCloudBillingBillingaccountpricesV1betaMergedPrice": {
      "id": "GoogleCloudBillingBillingaccountpricesV1betaMergedPrice",
      "type": "object",
      "properties": {},
      "description": "Encapsulates a price after merging from multiple sources. With merged tiers, each individual tier can be from a different source with different discount types."
    },
    "FinalResult": {
      "type": "object",
      "properties": {
        "summary": {
          "description": "Output only. The full natural language summary (re-sent for consistency).",
          "readOnly": true,
          "type": "string"
        },
        "dataSets": {
          "description": "Output only. Data sets used to support the insights, suitable for UI rendering (tables/charts).",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "DataSet"
          }
        },
        "insights": {
          "type": "array",
          "items": {
            "$ref": "Insight"
          },
          "description": "Output only. A list of discrete insights gleaned from the data.",
          "readOnly": true
        },
        "interopLinks": {
          "description": "Output only. Links to interoperable tools (e.g., pre-filtered Cost Reports or BQE queries).",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "InteropLink"
          }
        },
        "suggestedQueries": {
          "description": "Output only. A list of suggested follow-up queries for the user.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "SuggestedQuery"
          }
        },
        "fullAnalysis": {
          "type": "string",
          "description": "Output only. Contains the full natural language analysis, including thoughts, reasoning, and references.",
          "readOnly": true
        }
      },
      "id": "FinalResult",
      "description": "Encapsulates all structured data and the completed summary."
    },
    "Datetime": {
      "id": "Datetime",
      "type": "object",
      "properties": {
        "bitFieldDatetimeSeconds": {
          "type": "string",
          "format": "int64",
          "description": "Represents bit field encoding of year/month/day/hour/minute/second. See class DatetimeValue in civil_time.h for details of encoding."
        },
        "nanos": {
          "description": "Non-negative fractions of a second at nanosecond resolution.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "A datetime value."
    },
    "GoogleCloudBillingBillingaccountpricesV1betaFloatingDiscount": {
      "description": "Encapsulates a discount off the current list price, not anchored to any list price as of a fixed time.",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaFloatingDiscount",
      "type": "object",
      "properties": {
        "skuGroup": {
          "description": "SKU group where the floating discount comes from.",
          "type": "string"
        },
        "discountPercent": {
          "description": "Percentage of the floating discount.",
          "$ref": "Decimal"
        },
        "discountScopeType": {
          "description": "Type of the floating discount scope which indicates the source of the discount. It can have values such as 'unspecified' and 'sku-group'.",
          "type": "string"
        }
      }
    },
    "GoogleCloudBillingSkugroupskusV1betaListSkuGroupSkusResponse": {
      "description": "Response message for ListSkuGroupSkus.",
      "id": "GoogleCloudBillingSkugroupskusV1betaListSkuGroupSkusResponse",
      "type": "object",
      "properties": {
        "skuGroupSkus": {
          "description": "The returned SKU group SKUs.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingSkugroupskusV1betaSkuGroupSku"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages."
        }
      }
    },
    "SuggestedChart": {
      "description": "A suggested chart for the data set, used for UI rendering.",
      "type": "object",
      "properties": {
        "xAxisLabel": {
          "type": "string",
          "description": "The label of the x-axis."
        },
        "xAxisField": {
          "description": "The field used for the x-axis.",
          "type": "string"
        },
        "yAxisLabel": {
          "type": "string",
          "description": "The label of the y-axis."
        },
        "chartType": {
          "description": "The type of the chart.",
          "enum": [
            "CHART_TYPE_UNSPECIFIED",
            "BAR_CHART",
            "UNCHARTABLE",
            "LINE_CHART",
            "AREA_CHART"
          ],
          "enumDescriptions": [
            "Default value. Should not be used.",
            "Represents a bar chart.",
            "The data set cannot be rendered as a chart.",
            "Represents a line chart. Suitable for quantitative and temporal data on the x-axis.",
            "Represents an area chart."
          ],
          "type": "string"
        },
        "chartTitle": {
          "description": "The title of the chart.",
          "type": "string"
        },
        "yAxisField": {
          "type": "string",
          "description": "The field used for the y-axis."
        },
        "seriesField": {
          "description": "The field used for the series (e.g., color-coding). Optional, but recommended for time-series data.",
          "type": "string"
        }
      },
      "id": "SuggestedChart"
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyGlobal": {
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyGlobal",
      "type": "object",
      "properties": {},
      "description": "Encapsulates a global geographic taxonomy."
    },
    "GoogleCloudBillingBillingaccountskugroupsV1betaBillingAccountSkuGroup": {
      "description": "Encapsulates a stock keeping (SKU) group visible to a billing account. A SKU group represents a collection of SKUs that are related to each other. For example, the `AI Platform APIs` SKU group includes SKUs from the Cloud Dialogflow API, the Cloud Text-to-Speech API, and additional related APIs.",
      "id": "GoogleCloudBillingBillingaccountskugroupsV1betaBillingAccountSkuGroup",
      "type": "object",
      "properties": {
        "name": {
          "description": "Resource name for the BillingAccountSkuGroup. Example: \"billingAccounts/012345-567890-ABCDEF/skuGroups/0e6403d1-4694-44d2-a696-7a78b1a69301\".",
          "type": "string"
        },
        "displayName": {
          "description": "Description of the BillingAccountSkuGroup. Example: \"A2 VMs (1 Year CUD)\".",
          "type": "string"
        }
      }
    },
    "GoogleCloudBillingBillingaccountskusV1betaListBillingAccountSkusResponse": {
      "description": "Response message for ListBillingAccountSkus.",
      "type": "object",
      "properties": {
        "billingAccountSkus": {
          "description": "The returned billing account SKUs.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskusV1betaBillingAccountSku"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages."
        }
      },
      "id": "GoogleCloudBillingBillingaccountskusV1betaListBillingAccountSkusResponse"
    },
    "Row": {
      "type": "object",
      "properties": {
        "values": {
          "description": "Values for a row in the column order.",
          "type": "array",
          "items": {
            "$ref": "ValueProto"
          }
        }
      },
      "id": "Row",
      "description": "Represents a row in the query result."
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegional": {
      "description": "Encapsulates a regional geographic taxonomy.",
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegional",
      "type": "object",
      "properties": {
        "region": {
          "description": "Google Cloud region associated with the regional geographic taxonomy.",
          "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegion"
        }
      }
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaBillingAccountSkuGroupSku": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Resource name for the BillingAccountSkuGroupSku. Example: \"billingAccounts/012345-567890-ABCDEF/skuGroups/0e6403d1-4694-44d2-a696-7a78b1a69301/skus/AA95-CD31-42FE\".",
          "type": "string"
        },
        "skuId": {
          "description": "Unique identifier for the SKU. It is the string after the collection identifier \"skus/\" Example: \"AA95-CD31-42FE\".",
          "type": "string"
        },
        "billingAccountService": {
          "type": "string",
          "description": "BillingAccountService that the BillingAccountSkuGroupSku belongs to."
        },
        "productTaxonomy": {
          "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaProductTaxonomy",
          "description": "List of product categories that apply to the BillingAccountSkuGroupSku."
        },
        "displayName": {
          "type": "string",
          "description": "Description of the BillingAccountSkuGroupSku. Example: \"A2 Instance Core running in Hong Kong\"."
        },
        "geoTaxonomy": {
          "description": "Geographic metadata that applies to the BillingAccountSkuGroupSku.",
          "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomy"
        }
      },
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaBillingAccountSkuGroupSku",
      "description": "Encapsulates a SKU that is part of a billing account SKU group."
    },
    "GoogleCloudBillingBillingaccountskusV1betaTaxonomyCategory": {
      "type": "object",
      "properties": {
        "category": {
          "description": "Name of the product category.",
          "type": "string"
        }
      },
      "id": "GoogleCloudBillingBillingaccountskusV1betaTaxonomyCategory",
      "description": "Encapsulates a product category."
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaProductTaxonomy": {
      "description": "Encapsulates product categories, such as `Serverless`, `Cloud Run`, `TaskQueue`, and others.",
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaProductTaxonomy",
      "type": "object",
      "properties": {
        "taxonomyCategories": {
          "description": "All product categories that the billing account SKU group SKU belong to.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaTaxonomyCategory"
          }
        }
      }
    },
    "Array": {
      "type": "object",
      "properties": {
        "element": {
          "description": "The elements of the array.",
          "type": "array",
          "items": {
            "$ref": "ValueProto"
          }
        }
      },
      "id": "Array",
      "description": "An ordered collection of elements of arbitrary count."
    },
    "Money": {
      "description": "Represents an amount of money with its currency type.",
      "id": "Money",
      "type": "object",
      "properties": {
        "currencyCode": {
          "type": "string",
          "description": "The three-letter currency code defined in ISO 4217."
        },
        "units": {
          "type": "string",
          "format": "int64",
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar."
        },
        "nanos": {
          "type": "integer",
          "format": "int32",
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000."
        }
      }
    },
    "Rejection": {
      "description": "Encapsulates details about why a request was rejected.",
      "id": "Rejection",
      "type": "object",
      "properties": {
        "reason": {
          "readOnly": true,
          "enum": [
            "REASON_UNSPECIFIED",
            "EXPLICIT_OUT_OF_SCOPE"
          ],
          "description": "Output only. The reason for the rejection.",
          "enumDescriptions": [
            "Default value. Should not be used.",
            "The user explicitly asked about a service that is not Gemini or Vertex AI."
          ],
          "type": "string"
        },
        "displayMessage": {
          "type": "string",
          "description": "Output only. A user-facing message explaining the rejection.",
          "readOnly": true
        }
      }
    },
    "Insight": {
      "id": "Insight",
      "type": "object",
      "properties": {
        "title": {
          "type": "string",
          "description": "Output only. The title of the insight.",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Output only. The description of the insight.",
          "readOnly": true
        },
        "severity": {
          "readOnly": true,
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "INFO",
            "WARNING",
            "CRITICAL"
          ],
          "type": "string",
          "description": "Output only. The severity of the insight, used for UI rendering (e.g., color-coding).",
          "enumDescriptions": [
            "Default value. Should not be used.",
            "The insight is useful, but no action is required.",
            "The insight is useful, and some action may be required.",
            "The insight is useful, and immediate action is required."
          ]
        }
      },
      "description": "e.g. insight: title: \"Cost Increase (The Explanation)\" description: \"Your cost increase was driven by Vertex AI Online Prediction in us-central1...\" severity: INFO"
    },
    "DataSet": {
      "type": "object",
      "properties": {
        "billingData": {
          "description": "Output only. Actual billing data returned from the Data Mart. Uses the formal message from the Billing Data Service.",
          "readOnly": true,
          "$ref": "BillingData"
        },
        "queryInfo": {
          "description": "Output only. The query used to fetch this data.",
          "readOnly": true,
          "$ref": "AgenticQueryInfo"
        },
        "suggestedChart": {
          "description": "Output only. A suggested chart for the data set, used for UI rendering.",
          "readOnly": true,
          "$ref": "SuggestedChart"
        }
      },
      "id": "DataSet",
      "description": "A dataset used to support an insight, suitable for UI rendering (tables/charts)."
    }
  },
  "kind": "discovery#restDescription",
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    }
  },
  "name": "cloudbilling",
  "description": "Allows developers to manage billing for their Google Cloud Platform projects programmatically.",
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "revision": "20260717",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
[...]
