{
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "description": "",
  "baseUrl": "https://clouddeploy.googleapis.com/",
  "servicePath": "",
  "title": "Cloud Deploy API",
  "canonicalName": "Cloud Deploy",
  "parameters": {
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "default": "json",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "endpoints": [
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://clouddeploy.asia-south1.rep.googleapis.com/",
      "location": "asia-south1"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-south2",
      "endpointUrl": "https://clouddeploy.asia-south2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-central1",
      "endpointUrl": "https://clouddeploy.us-central1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-central2",
      "endpointUrl": "https://clouddeploy.us-central2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east1",
      "endpointUrl": "https://clouddeploy.us-east1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east4",
      "endpointUrl": "https://clouddeploy.us-east4.rep.googleapis.com/"
    },
    {
      "location": "us-east5",
      "endpointUrl": "https://clouddeploy.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://clouddeploy.us-east7.rep.googleapis.com/",
      "location": "us-east7"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://clouddeploy.us-south1.rep.googleapis.com/",
      "location": "us-south1"
    },
    {
      "location": "us-west1",
      "endpointUrl": "https://clouddeploy.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west2",
      "endpointUrl": "https://clouddeploy.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://clouddeploy.us-west3.rep.googleapis.com/",
      "location": "us-west3"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west4",
      "endpointUrl": "https://clouddeploy.us-west4.rep.googleapis.com/"
    }
  ],
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "ownerName": "Google",
  "protocol": "rest",
  "version_module": true,
  "discoveryVersion": "v1",
  "rootUrl": "https://clouddeploy.googleapis.com/",
  "name": "clouddeploy",
  "batchPath": "batch",
  "schemas": {
    "TargetAttribute": {
      "description": "Contains criteria for selecting Targets. This could be used to select targets for a Deploy Policy or for an Automation.",
      "id": "TargetAttribute",
      "properties": {
        "id": {
          "type": "string",
          "description": "Optional. ID of the `Target`. The value of this field could be one of the following: * The last segment of a target name * \"*\", all targets in a location"
        },
        "labels": {
          "description": "Target labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "KubernetesConfig": {
      "id": "KubernetesConfig",
      "properties": {
        "gatewayServiceMesh": {
          "description": "Optional. Kubernetes Gateway API service mesh configuration.",
          "$ref": "GatewayServiceMesh"
        },
        "serviceNetworking": {
          "description": "Optional. Kubernetes Service networking configuration.",
          "$ref": "ServiceNetworking"
        }
      },
      "description": "KubernetesConfig contains the Kubernetes runtime configuration.",
      "type": "object"
    },
    "DeliveryPipeline": {
      "id": "DeliveryPipeline",
      "properties": {
        "uid": {
          "type": "string",
          "description": "Output only. Unique identifier of the `DeliveryPipeline`.",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. Time at which the pipeline was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the `DeliveryPipeline`. Max length is 255 characters."
        },
        "serialPipeline": {
          "description": "Optional. SerialPipeline defines a sequential set of stages for a `DeliveryPipeline`.",
          "$ref": "SerialPipeline"
        },
        "condition": {
          "description": "Output only. Information around the state of the Delivery Pipeline.",
          "readOnly": true,
          "$ref": "PipelineCondition"
        },
        "annotations": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. User annotations. These attributes can only be set and used by the user, and not by Cloud Deploy."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Most recent time at which the pipeline was updated.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of the `DeliveryPipeline`. Format is `projects/{project}/locations/{location}/deliveryPipelines/{deliveryPipeline}`. The `deliveryPipeline` component must match `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`"
        },
        "labels": {
          "description": "Optional. Labels are attributes that can be set and used by both the user and by Cloud Deploy. Labels must meet the following constraints: * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. * All characters must use UTF-8 encoding, and international characters are allowed. * Keys must start with a lowercase letter or international character. * Each resource is limited to a maximum of 64 labels. Both keys and values are additionally constrained to be <= 128 bytes.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "suspended": {
          "description": "Optional. When suspended, no new releases or rollouts can be created, but in-progress ones will complete.",
          "type": "boolean"
        },
        "etag": {
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        }
      },
      "description": "A `DeliveryPipeline` resource in the Cloud Deploy API. A `DeliveryPipeline` defines a pipeline through which a Skaffold configuration can progress.",
      "type": "object"
    },
    "ListCustomTargetTypesResponse": {
      "id": "ListCustomTargetTypesResponse",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "customTargetTypes": {
          "description": "The `CustomTargetType` objects.",
          "items": {
            "$ref": "CustomTargetType"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "The response object from `ListCustomTargetTypes.`",
      "type": "object"
    },
    "Operation": {
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        }
      }
    },
    "AutomationRuleCondition": {
      "description": "`AutomationRuleCondition` contains conditions relevant to an `Automation` rule.",
      "id": "AutomationRuleCondition",
      "properties": {
        "targetsPresentCondition": {
          "description": "Optional. Details around targets enumerated in the rule.",
          "$ref": "TargetsPresentCondition"
        },
        "timedPromoteReleaseCondition": {
          "description": "Optional. TimedPromoteReleaseCondition contains rule conditions specific to a an Automation with a timed promote release rule defined.",
          "$ref": "TimedPromoteReleaseCondition"
        }
      },
      "type": "object"
    },
    "DeliveryPipelineNotificationEvent": {
      "type": "object",
      "id": "DeliveryPipelineNotificationEvent",
      "properties": {
        "message": {
          "type": "string",
          "description": "Debug message for when a notification fails to send."
        },
        "pipelineUid": {
          "description": "Unique identifier of the `DeliveryPipeline`.",
          "type": "string"
        },
        "deliveryPipeline": {
          "description": "The name of the `Delivery Pipeline`.",
          "type": "string"
        },
        "type": {
          "description": "Type of this notification, e.g. for a Pub/Sub failure.",
          "enumDescriptions": [
            "Type is unspecified.",
            "A Pub/Sub notification failed to be sent.",
            "Resource state changed.",
            "A process aborted.",
            "Restriction check failed.",
            "Resource deleted.",
            "Rollout updated.",
            "Deploy Policy evaluation.",
            "Deprecated: This field is never used. Use release_render log type instead."
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PUBSUB_NOTIFICATION_FAILURE",
            "TYPE_RESOURCE_STATE_CHANGE",
            "TYPE_PROCESS_ABORTED",
            "TYPE_RESTRICTION_VIOLATED",
            "TYPE_RESOURCE_DELETED",
            "TYPE_ROLLOUT_UPDATE",
            "TYPE_DEPLOY_POLICY_EVALUATION",
            "TYPE_RENDER_STATUES_CHANGE"
          ],
          "type": "string"
        }
      },
      "description": "Payload proto for \"clouddeploy.googleapis.com/deliverypipeline_notification\" Platform Log event that describes the failure to send delivery pipeline status change Pub/Sub notification."
    },
    "ChildRolloutJobs": {
      "id": "ChildRolloutJobs",
      "properties": {
        "createRolloutJobs": {
          "description": "Output only. List of CreateChildRolloutJobs",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Job"
          }
        },
        "advanceRolloutJobs": {
          "description": "Output only. List of AdvanceChildRolloutJobs",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Job"
          }
        }
      },
      "description": "ChildRollouts job composition",
      "type": "object"
    },
    "Job": {
      "description": "Job represents an operation for a `Rollout`.",
      "id": "Job",
      "properties": {
        "jobRun": {
          "type": "string",
          "description": "Output only. The name of the `JobRun` responsible for the most recent invocation of this Job.",
          "readOnly": true
        },
        "verifyJob": {
          "description": "Output only. A verify Job.",
          "readOnly": true,
          "$ref": "VerifyJob"
        },
        "skipMessage": {
          "type": "string",
          "description": "Output only. Additional information on why the Job was skipped, if available.",
          "readOnly": true
        },
        "postdeployJob": {
          "description": "Output only. A postdeploy Job.",
          "readOnly": true,
          "$ref": "PostdeployJob"
        },
        "id": {
          "description": "Output only. The ID of the Job.",
          "readOnly": true,
          "type": "string"
        },
        "predeployJob": {
          "$ref": "PredeployJob",
          "description": "Output only. A predeploy Job.",
          "readOnly": true
        },
        "analysisJob": {
          "description": "Output only. An analysis Job.",
          "readOnly": true,
          "$ref": "AnalysisJob"
        },
        "createChildRolloutJob": {
          "$ref": "CreateChildRolloutJob",
          "description": "Output only. A createChildRollout Job.",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "DISABLED",
            "IN_PROGRESS",
            "SUCCEEDED",
            "FAILED",
            "ABORTED",
            "SKIPPED",
            "IGNORED"
          ],
          "type": "string",
          "description": "Output only. The current state of the Job.",
          "enumDescriptions": [
            "The Job has an unspecified state.",
            "The Job is waiting for an earlier Phase(s) or Job(s) to complete.",
            "The Job is disabled.",
            "The Job is in progress.",
            "The Job succeeded.",
            "The Job failed.",
            "The Job was aborted.",
            "The Job was skipped.",
            "The Job was ignored."
          ]
        },
        "advanceChildRolloutJob": {
          "description": "Output only. An advanceChildRollout Job.",
          "readOnly": true,
          "$ref": "AdvanceChildRolloutJob"
        },
        "deployJob": {
          "$ref": "DeployJob",
          "description": "Output only. A deploy Job.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "VerifyJobRun": {
      "type": "object",
      "description": "VerifyJobRun contains information specific to a verify `JobRun`.",
      "id": "VerifyJobRun",
      "properties": {
        "artifactUri": {
          "type": "string",
          "description": "Output only. URI of a directory containing the verify artifacts. This contains the Skaffold event log.",
          "readOnly": true
        },
        "eventLogPath": {
          "type": "string",
          "description": "Output only. File path of the Skaffold event log relative to the artifact URI.",
          "readOnly": true
        },
        "failureMessage": {
          "description": "Output only. Additional information about the verify failure, if available.",
          "readOnly": true,
          "type": "string"
        },
        "metadata": {
          "description": "Output only. Metadata containing information about the verify `JobRun`.",
          "readOnly": true,
          "$ref": "VerifyJobRunMetadata"
        },
        "build": {
          "description": "Output only. The resource name of the Cloud Build `Build` object that is used to verify. Format is `projects/{project}/locations/{location}/builds/{build}`.",
          "readOnly": true,
          "type": "string"
        },
        "failureCause": {
          "enumDescriptions": [
            "No reason for failure is specified.",
            "Cloud Build is not available, either because it is not enabled or because Cloud Deploy has insufficient permissions. See [required permission](https://cloud.google.com/deploy/docs/cloud-deploy-service-account#required_permissions).",
            "The verify operation did not complete successfully; check Cloud Build logs.",
            "The verify job run did not complete within the allotted time.",
            "No Skaffold verify configuration was found.",
            "Cloud Build failed to fulfill Cloud Deploy's request. See failure_message for additional details."
          ],
          "description": "Output only. The reason the verify failed. This will always be unspecified while the verify is in progress or if it succeeded.",
          "type": "string",
          "enum": [
            "FAILURE_CAUSE_UNSPECIFIED",
            "CLOUD_BUILD_UNAVAILABLE",
            "EXECUTION_FAILED",
            "DEADLINE_EXCEEDED",
            "VERIFICATION_CONFIG_NOT_FOUND",
            "CLOUD_BUILD_REQUEST_FAILED"
          ],
          "readOnly": true
        }
      }
    },
    "DeployParameters": {
      "type": "object",
      "description": "DeployParameters contains deploy parameters information.",
      "id": "DeployParameters",
      "properties": {
        "values": {
          "description": "Required. Values are deploy parameters in key-value pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "matchTargetLabels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Deploy parameters are applied to targets with match labels. If unspecified, deploy parameters are applied to all targets (including child targets of a multi-target)."
        }
      }
    },
    "PostdeployJobRunMetadata": {
      "description": "PostdeployJobRunMetadata contains metadata about the postdeploy `JobRun`.",
      "id": "PostdeployJobRunMetadata",
      "properties": {
        "custom": {
          "$ref": "CustomMetadata",
          "description": "Output only. Custom metadata provided by user-defined postdeploy operation.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "PromoteReleaseOperation": {
      "type": "object",
      "id": "PromoteReleaseOperation",
      "properties": {
        "targetId": {
          "description": "Output only. The ID of the target that represents the promotion stage to which the release will be promoted. The value of this field is the last segment of a target name.",
          "readOnly": true,
          "type": "string"
        },
        "rollout": {
          "type": "string",
          "description": "Output only. The name of the rollout that initiates the `AutomationRun`.",
          "readOnly": true
        },
        "phase": {
          "type": "string",
          "description": "Output only. The starting phase of the rollout created by this operation.",
          "readOnly": true
        },
        "wait": {
          "description": "Output only. How long the operation will be paused.",
          "readOnly": true,
          "type": "string",
          "format": "google-duration"
        }
      },
      "description": "Contains the information of an automated promote-release operation."
    },
    "DeployPolicy": {
      "type": "object",
      "description": "A `DeployPolicy` resource in the Cloud Deploy API. A `DeployPolicy` inhibits manual or automation-driven actions within a Delivery Pipeline or Target.",
      "id": "DeployPolicy",
      "properties": {
        "rules": {
          "description": "Required. Rules to apply. At least one rule must be present.",
          "items": {
            "$ref": "PolicyRule"
          },
          "type": "array"
        },
        "uid": {
          "type": "string",
          "description": "Output only. Unique identifier of the `DeployPolicy`.",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time at which the deploy policy was created.",
          "readOnly": true
        },
        "description": {
          "description": "Optional. Description of the `DeployPolicy`. Max length is 255 characters.",
          "type": "string"
        },
        "name": {
          "description": "Output only. Name of the `DeployPolicy`. Format is `projects/{project}/locations/{location}/deployPolicies/{deployPolicy}`. The `deployPolicy` component must match `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "description": "Labels are attributes that can be set and used by both the user and by Cloud Deploy. Labels must meet the following constraints: * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. * All characters must use UTF-8 encoding, and international characters are allowed. * Keys must start with a lowercase letter or international character. * Each resource is limited to a maximum of 64 labels. Both keys and values are additionally constrained to be <= 128 bytes.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "annotations": {
          "description": "Optional. User annotations. These attributes can only be set and used by the user, and not by Cloud Deploy. Annotations must meet the following constraints: * Annotations are key/value pairs. * Valid annotation keys have two segments: an optional prefix and name, separated by a slash (`/`). * The name segment is required and must be 63 characters or less, beginning and ending with an alphanumeric character (`[a-z0-9A-Z]`) with dashes (`-`), underscores (`_`), dots (`.`), and alphanumerics between. * The prefix is optional. If specified, the prefix must be a DNS subdomain: a series of DNS labels separated by dots(`.`), not longer than 253 characters in total, followed by a slash (`/`). See https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/#syntax-and-character-set for more details.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "updateTime": {
          "description": "Output only. Most recent time at which the deploy policy was updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "suspended": {
          "description": "Optional. When suspended, the policy will not prevent actions from occurring, even if the action violates the policy.",
          "type": "boolean"
        },
        "etag": {
          "description": "The weak etag of the `DeployPolicy` resource. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "selectors": {
          "description": "Required. Selected resources to which the policy will be applied. At least one selector is required. If one selector matches the resource the policy applies. For example, if there are two selectors and the action being attempted matches one of them, the policy will apply to that action.",
          "type": "array",
          "items": {
            "$ref": "DeployPolicyResourceSelector"
          }
        }
      }
    },
    "TimedPromoteReleaseCondition": {
      "description": "`TimedPromoteReleaseCondition` contains conditions specific to an Automation with a Timed Promote Release rule defined.",
      "id": "TimedPromoteReleaseCondition",
      "properties": {
        "targetsList": {
          "type": "array",
          "items": {
            "$ref": "Targets"
          },
          "description": "Output only. A list of targets involved in the upcoming timed promotion(s).",
          "readOnly": true
        },
        "nextPromotionTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. When the next scheduled promotion(s) will occur.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "IgnoreJobResponse": {
      "description": "The response object from `IgnoreJob`.",
      "id": "IgnoreJobResponse",
      "properties": {},
      "type": "object"
    },
    "CustomCheckStatus": {
      "type": "object",
      "description": "CustomCheckStatus contains information specific to a single iteration of a custom analysis job.",
      "id": "CustomCheckStatus",
      "properties": {
        "task": {
          "description": "Output only. The task that ran for this custom check.",
          "readOnly": true,
          "$ref": "Task"
        },
        "metadata": {
          "description": "Output only. Custom metadata provided by the user-defined custom check operation. result.",
          "readOnly": true,
          "$ref": "CustomMetadata"
        },
        "latestBuild": {
          "type": "string",
          "description": "Output only. The resource name of the Cloud Build `Build` object that was used to execute the latest run of this custom action check. Format is `projects/{project}/locations/{location}/builds/{build}`.",
          "readOnly": true
        },
        "failureCause": {
          "readOnly": true,
          "enum": [
            "FAILURE_CAUSE_UNSPECIFIED",
            "CLOUD_BUILD_UNAVAILABLE",
            "EXECUTION_FAILED",
            "DEADLINE_EXCEEDED",
            "CLOUD_BUILD_REQUEST_FAILED"
          ],
          "type": "string",
          "description": "Output only. The reason the analysis failed. This will always be unspecified while the analysis is in progress or if it succeeded.",
          "enumDescriptions": [
            "No reason for failure is specified.",
            "Cloud Build is not available, either because it is not enabled or because Cloud Deploy has insufficient permissions. See [required permission](https://cloud.google.com/deploy/docs/cloud-deploy-service-account#required_permissions).",
            "The analysis operation did not complete successfully; check Cloud Build logs.",
            "The analysis job run did not complete within the alloted time defined in the target's execution environment configuration.",
            "Cloud Build failed to fulfill Cloud Deploy's request. See failure_message for additional details."
          ]
        },
        "frequency": {
          "type": "string",
          "format": "google-duration",
          "description": "Output only. The frequency in minutes at which the custom check is run.",
          "readOnly": true
        },
        "id": {
          "type": "string",
          "description": "Output only. The ID of the custom check.",
          "readOnly": true
        },
        "failureMessage": {
          "type": "string",
          "description": "Output only. Additional information about the analysis failure, if available.",
          "readOnly": true
        }
      }
    },
    "DeliveryPipelineAttribute": {
      "description": "Contains criteria for selecting DeliveryPipelines.",
      "id": "DeliveryPipelineAttribute",
      "properties": {
        "id": {
          "type": "string",
          "description": "Optional. ID of the `DeliveryPipeline`. The value of this field could be one of the following: * The last segment of a pipeline name * \"*\", all delivery pipelines in a location"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "DeliveryPipeline labels."
        }
      },
      "type": "object"
    },
    "DefaultPool": {
      "type": "object",
      "description": "Execution using the default Cloud Build pool.",
      "id": "DefaultPool",
      "properties": {
        "artifactStorage": {
          "description": "Optional. Cloud Storage location where execution outputs should be stored. This can either be a bucket (\"gs://my-bucket\") or a path within a bucket (\"gs://my-bucket/my-dir\"). If unspecified, a default bucket located in the same region will be used.",
          "type": "string"
        },
        "serviceAccount": {
          "description": "Optional. Google service account to use for execution. If unspecified, the project execution service account (-compute@developer.gserviceaccount.com) will be used.",
          "type": "string"
        }
      }
    },
    "PolicyViolationDetails": {
      "description": "Policy violation details.",
      "id": "PolicyViolationDetails",
      "properties": {
        "policy": {
          "description": "Name of the policy that was violated. Policy resource will be in the format of `projects/{project}/locations/{location}/policies/{policy}`.",
          "type": "string"
        },
        "ruleId": {
          "description": "Id of the rule that triggered the policy violation.",
          "type": "string"
        },
        "failureMessage": {
          "description": "User readable message about why the request violated a policy. This is not intended for machine parsing.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "RepairPhase": {
      "type": "object",
      "description": "RepairPhase tracks the repair attempts that have been made for each `RepairPhaseConfig` specified in the `Automation` resource.",
      "id": "RepairPhase",
      "properties": {
        "retry": {
          "$ref": "RetryPhase",
          "description": "Output only. Records of the retry attempts for retry repair mode.",
          "readOnly": true
        },
        "rollback": {
          "description": "Output only. Rollback attempt for rollback repair mode .",
          "readOnly": true,
          "$ref": "RollbackAttempt"
        }
      }
    },
    "ApproveRolloutResponse": {
      "id": "ApproveRolloutResponse",
      "properties": {},
      "description": "The response object from `ApproveRollout`.",
      "type": "object"
    },
    "Date": {
      "type": "object",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "id": "Date",
      "properties": {
        "day": {
          "type": "integer",
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        },
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ListJobRunsResponse": {
      "type": "object",
      "description": "ListJobRunsResponse is the response object returned by `ListJobRuns`.",
      "id": "ListJobRunsResponse",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "jobRuns": {
          "items": {
            "$ref": "JobRun"
          },
          "type": "array",
          "description": "The `JobRun` objects."
        }
      }
    },
    "WeeklyWindow": {
      "type": "object",
      "description": "Weekly windows. For example, blocking actions every Saturday and Sunday. Another example would be blocking actions every weekday from 5pm to midnight.",
      "id": "WeeklyWindow",
      "properties": {
        "endTime": {
          "description": "Optional. End time (exclusive). Use 24:00 to indicate midnight. If you specify end_time you must also specify start_time. If left empty, this will block for the entire day for the days specified in days_of_week.",
          "$ref": "TimeOfDay"
        },
        "daysOfWeek": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "The day of the week is unspecified.",
              "Monday",
              "Tuesday",
              "Wednesday",
              "Thursday",
              "Friday",
              "Saturday",
              "Sunday"
            ],
            "enum": [
              "DAY_OF_WEEK_UNSPECIFIED",
              "MONDAY",
              "TUESDAY",
              "WEDNESDAY",
              "THURSDAY",
              "FRIDAY",
              "SATURDAY",
              "SUNDAY"
            ]
          },
          "type": "array",
          "description": "Optional. Days of week. If left empty, all days of the week will be included."
        },
        "startTime": {
          "description": "Optional. Start time (inclusive). Use 00:00 for the beginning of the day. If you specify start_time you must also specify end_time. If left empty, this will block for the entire day for the days specified in days_of_week.",
          "$ref": "TimeOfDay"
        }
      }
    },
    "DeployJobRunMetadata": {
      "id": "DeployJobRunMetadata",
      "properties": {
        "cloudRun": {
          "description": "Output only. The name of the Cloud Run Service that is associated with a `DeployJobRun`.",
          "readOnly": true,
          "$ref": "CloudRunMetadata"
        },
        "custom": {
          "$ref": "CustomMetadata",
          "description": "Output only. Custom metadata provided by user-defined deploy operation.",
          "readOnly": true
        },
        "customTarget": {
          "description": "Output only. Custom Target metadata associated with a `DeployJobRun`.",
          "readOnly": true,
          "$ref": "CustomTargetDeployMetadata"
        }
      },
      "description": "DeployJobRunMetadata surfaces information associated with a `DeployJobRun` to the user.",
      "type": "object"
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "id": "CancelOperationRequest",
      "properties": {},
      "type": "object"
    },
    "CreateChildRolloutJob": {
      "description": "A createChildRollout Job.",
      "id": "CreateChildRolloutJob",
      "properties": {},
      "type": "object"
    },
    "ToolVersions": {
      "type": "object",
      "id": "ToolVersions",
      "properties": {
        "skaffold": {
          "description": "Optional. The Skaffold version to use for Cloud Deploy operations.",
          "type": "string"
        },
        "docker": {
          "description": "Optional. The Docker version to use for Cloud Deploy operations.",
          "type": "string"
        },
        "kpt": {
          "type": "string",
          "description": "Optional. The kpt version to use for Cloud Deploy operations."
        },
        "kustomize": {
          "type": "string",
          "description": "Optional. The Kustomize version to use for Cloud Deploy operations."
        },
        "helm": {
          "description": "Optional. The Helm version to use for Cloud Deploy operations.",
          "type": "string"
        },
        "kubectl": {
          "type": "string",
          "description": "Optional. The Kubectl version to use for Cloud Deploy operations."
        }
      },
      "description": "Details of ToolVersions for the release."
    },
    "Location": {
      "type": "object",
      "id": "Location",
      "properties": {
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        }
      },
      "description": "A resource that represents a Google Cloud location."
    },
    "TimedPromoteReleaseOperation": {
      "type": "object",
      "description": "Contains the information of an automated timed promote-release operation.",
      "id": "TimedPromoteReleaseOperation",
      "properties": {
        "targetId": {
          "type": "string",
          "description": "Output only. The ID of the target that represents the promotion stage to which the release will be promoted. The value of this field is the last segment of a target name.",
          "readOnly": true
        },
        "phase": {
          "description": "Output only. The starting phase of the rollout created by this operation.",
          "readOnly": true,
          "type": "string"
        },
        "release": {
          "description": "Output only. The name of the release to be promoted.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "DeployPolicyNotificationEvent": {
      "type": "object",
      "description": "Payload proto for \"clouddeploy.googleapis.com/deploypolicy_notification\". Platform Log event that describes the failure to send a pub/sub notification when there is a DeployPolicy status change.",
      "id": "DeployPolicyNotificationEvent",
      "properties": {
        "deployPolicy": {
          "description": "The name of the `DeployPolicy`.",
          "type": "string"
        },
        "type": {
          "description": "Type of this notification, e.g. for a Pub/Sub failure.",
          "enumDescriptions": [
            "Type is unspecified.",
            "A Pub/Sub notification failed to be sent.",
            "Resource state changed.",
            "A process aborted.",
            "Restriction check failed.",
            "Resource deleted.",
            "Rollout updated.",
            "Deploy Policy evaluation.",
            "Deprecated: This field is never used. Use release_render log type instead."
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PUBSUB_NOTIFICATION_FAILURE",
            "TYPE_RESOURCE_STATE_CHANGE",
            "TYPE_PROCESS_ABORTED",
            "TYPE_RESTRICTION_VIOLATED",
            "TYPE_RESOURCE_DELETED",
            "TYPE_ROLLOUT_UPDATE",
            "TYPE_DEPLOY_POLICY_EVALUATION",
            "TYPE_RENDER_STATUES_CHANGE"
          ]
        },
        "message": {
          "description": "Debug message for when a deploy policy fails to send a pub/sub notification.",
          "type": "string"
        },
        "deployPolicyUid": {
          "description": "Unique identifier of the deploy policy.",
          "type": "string"
        }
      }
    },
    "TimedPromoteReleaseRule": {
      "description": "The `TimedPromoteReleaseRule` will automatically promote a release from the current target(s) to the specified target(s) on a configured schedule.",
      "id": "TimedPromoteReleaseRule",
      "properties": {
        "condition": {
          "description": "Output only. Information around the state of the Automation rule.",
          "readOnly": true,
          "$ref": "AutomationRuleCondition"
        },
        "id": {
          "description": "Required. ID of the rule. This ID must be unique in the `Automation` resource to which this rule belongs. The format is `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`.",
          "type": "string"
        },
        "schedule": {
          "description": "Required. Schedule in crontab format. e.g. \"0 9 * * 1\" for every Monday at 9am.",
          "type": "string"
        },
        "destinationTargetId": {
          "description": "Optional. The ID of the stage in the pipeline to which this `Release` is deploying. If unspecified, default it to the next stage in the promotion flow. The value of this field could be one of the following: * The last segment of a target name * \"@next\", the next target in the promotion sequence",
          "type": "string"
        },
        "destinationPhase": {
          "type": "string",
          "description": "Optional. The starting phase of the rollout created by this rule. Default to the first phase."
        },
        "timeZone": {
          "type": "string",
          "description": "Required. The time zone in IANA format [IANA Time Zone Database](https://www.iana.org/time-zones) (e.g. America/New_York)."
        }
      },
      "type": "object"
    },
    "Automation": {
      "description": "An `Automation` resource in the Cloud Deploy API. An `Automation` enables the automation of manually driven actions for a Delivery Pipeline, which includes Release promotion among Targets, Rollout repair and Rollout deployment strategy advancement. The intention of Automation is to reduce manual intervention in the continuous delivery process.",
      "id": "Automation",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time at which the automation was created.",
          "readOnly": true
        },
        "rules": {
          "items": {
            "$ref": "AutomationRule"
          },
          "type": "array",
          "description": "Required. List of Automation rules associated with the Automation resource. Must have at least one rule and limited to 250 rules per Delivery Pipeline. Note: the order of the rules here is not the same as the order of execution."
        },
        "uid": {
          "description": "Output only. Unique identifier of the `Automation`.",
          "readOnly": true,
          "type": "string"
        },
        "selector": {
          "description": "Required. Selected resources to which the automation will be applied.",
          "$ref": "AutomationResourceSelector"
        },
        "etag": {
          "type": "string",
          "description": "Optional. The weak etag of the `Automation` resource. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
        },
        "suspended": {
          "type": "boolean",
          "description": "Optional. When Suspended, automation is deactivated from execution."
        },
        "name": {
          "description": "Output only. Name of the `Automation`. Format is `projects/{project}/locations/{location}/deliveryPipelines/{delivery_pipeline}/automations/{automation}`.",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels are attributes that can be set and used by both the user and by Cloud Deploy. Labels must meet the following constraints: * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. * All characters must use UTF-8 encoding, and international characters are allowed. * Keys must start with a lowercase letter or international character. * Each resource is limited to a maximum of 64 labels. Both keys and values are additionally constrained to be <= 63 characters."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time at which the automation was updated.",
          "readOnly": true
        },
        "annotations": {
          "description": "Optional. User annotations. These attributes can only be set and used by the user, and not by Cloud Deploy. Annotations must meet the following constraints: * Annotations are key/value pairs. * Valid annotation keys have two segments: an optional prefix and name, separated by a slash (`/`). * The name segment is required and must be 63 characters or less, beginning and ending with an alphanumeric character (`[a-z0-9A-Z]`) with dashes (`-`), underscores (`_`), dots (`.`), and alphanumerics between. * The prefix is optional. If specified, the prefix must be a DNS subdomain: a series of DNS labels separated by dots(`.`), not longer than 253 characters in total, followed by a slash (`/`). See https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/#syntax-and-character-set for more details.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "serviceAccount": {
          "type": "string",
          "description": "Required. Email address of the user-managed IAM service account that creates Cloud Deploy release and rollout resources."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the `Automation`. Max length is 255 characters."
        }
      },
      "type": "object"
    },
    "CancelRolloutRequest": {
      "id": "CancelRolloutRequest",
      "properties": {
        "overrideDeployPolicy": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Deploy policies to override. Format is `projects/{project}/locations/{location}/deployPolicies/{deployPolicy}`."
        }
      },
      "description": "The request object used by `CancelRollout`.",
      "type": "object"
    },
    "CustomCheck": {
      "type": "object",
      "id": "CustomCheck",
      "properties": {
        "id": {
          "type": "string",
          "description": "Required. The ID of the custom Analysis check."
        },
        "task": {
          "description": "Required. The Task to be run for this custom check.",
          "$ref": "Task"
        },
        "frequency": {
          "description": "Optional. The frequency at which the custom check will be run, with a minimum and default of 5 minutes.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "description": "CustomCheck configures a third-party metric provider to run the analysis, via a Task that runs at a specified frequency."
    },
    "Verify": {
      "description": "Verify contains the verify job configuration information.",
      "id": "Verify",
      "properties": {
        "tasks": {
          "items": {
            "$ref": "Task"
          },
          "type": "array",
          "description": "Optional. The tasks that will run as a part of the verify job. The tasks are executed sequentially in the order specified."
        }
      },
      "type": "object"
    },
    "ListTargetsResponse": {
      "type": "object",
      "description": "The response object from `ListTargets`.",
      "id": "ListTargetsResponse",
      "properties": {
        "targets": {
          "description": "The `Target` objects.",
          "items": {
            "$ref": "Target"
          },
          "type": "array"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "AlertPolicyCheck": {
      "description": "AlertPolicyCheck configures a set of Cloud Monitoring alerting policies that will be periodically polled for alerts. If any of the listed policies have an active alert, the analysis check will fail.",
      "id": "AlertPolicyCheck",
      "properties": {
        "alertPolicies": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The Cloud Monitoring Alert Policies to check for active alerts. Format is `projects/{project}/alertPolicies/{alert_policy}`."
        },
        "labels": {
          "description": "Optional. A set of labels to filter active alerts. If set, only alerts having all of the specified labels will be considered. Otherwise, all active alerts will be considered.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "id": {
          "type": "string",
          "description": "Required. The ID of the analysis check."
        }
      },
      "type": "object"
    },
    "TargetNotificationEvent": {
      "description": "Payload proto for \"clouddeploy.googleapis.com/target_notification\" Platform Log event that describes the failure to send target status change Pub/Sub notification.",
      "id": "TargetNotificationEvent",
      "properties": {
        "message": {
          "type": "string",
          "description": "Debug message for when a notification fails to send."
        },
        "target": {
          "type": "string",
          "description": "The name of the `Target`."
        },
        "type": {
          "description": "Type of this notification, e.g. for a Pub/Sub failure.",
          "enumDescriptions": [
            "Type is unspecified.",
            "A Pub/Sub notification failed to be sent.",
            "Resource state changed.",
            "A process aborted.",
            "Restriction check failed.",
            "Resource deleted.",
            "Rollout updated.",
            "Deploy Policy evaluation.",
            "Deprecated: This field is never used. Use release_render log type instead."
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PUBSUB_NOTIFICATION_FAILURE",
            "TYPE_RESOURCE_STATE_CHANGE",
            "TYPE_PROCESS_ABORTED",
            "TYPE_RESTRICTION_VIOLATED",
            "TYPE_RESOURCE_DELETED",
            "TYPE_ROLLOUT_UPDATE",
            "TYPE_DEPLOY_POLICY_EVALUATION",
            "TYPE_RENDER_STATUES_CHANGE"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "IgnoreJobRequest": {
      "type": "object",
      "description": "The request object used by `IgnoreJob`.",
      "id": "IgnoreJobRequest",
      "properties": {
        "overrideDeployPolicy": {
          "description": "Optional. Deploy policies to override. Format is `projects/{project}/locations/{location}/deployPolicies/{deployPolicy}`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "phaseId": {
          "description": "Required. The phase ID the Job to ignore belongs to.",
          "type": "string"
        },
        "jobId": {
          "type": "string",
          "description": "Required. The job ID for the Job to ignore."
        }
      }
    },
    "AuditLogConfig": {
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "id": "AuditLogConfig",
      "properties": {
        "logType": {
          "type": "string",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "description": "The log type that this config enables."
        },
        "exemptedMembers": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
        }
      },
      "type": "object"
    },
    "JobRun": {
      "id": "JobRun",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "SUCCEEDED",
            "FAILED",
            "TERMINATING",
            "TERMINATED"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The `JobRun` has an unspecified state.",
            "The `JobRun` is in progress.",
            "The `JobRun` has succeeded.",
            "The `JobRun` has failed.",
            "The `JobRun` is terminating.",
            "The `JobRun` was terminated."
          ],
          "description": "Output only. The current state of the `JobRun`."
        },
        "predeployJobRun": {
          "description": "Output only. Information specific to a predeploy `JobRun`.",
          "readOnly": true,
          "$ref": "PredeployJobRun"
        },
        "createChildRolloutJobRun": {
          "description": "Output only. Information specific to a createChildRollout `JobRun`.",
          "readOnly": true,
          "$ref": "CreateChildRolloutJobRun"
        },
        "jobId": {
          "type": "string",
          "description": "Output only. ID of the `Rollout` job this `JobRun` corresponds to.",
          "readOnly": true
        },
        "analysisJobRun": {
          "$ref": "AnalysisJobRun",
          "description": "Output only. Information specific to an analysis `JobRun`.",
          "readOnly": true
        },
        "phaseId": {
          "description": "Output only. ID of the `Rollout` phase this `JobRun` belongs in.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Time at which the `JobRun` was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time at which the `JobRun` was started.",
          "readOnly": true
        },
        "name": {
          "description": "Output only. Name of the `JobRun`. Format is `projects/{project}/locations/{location}/deliveryPipelines/{deliveryPipeline}/releases/{releases}/rollouts/{rollouts}/jobRuns/{uuid}`.",
          "readOnly": true,
          "type": "string"
        },
        "deployJobRun": {
          "$ref": "DeployJobRun",
          "description": "Output only. Information specific to a deploy `JobRun`.",
          "readOnly": true
        },
        "etag": {
          "description": "Output only. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "readOnly": true,
          "type": "string"
        },
        "verifyJobRun": {
          "description": "Output only. Information specific to a verify `JobRun`.",
          "readOnly": true,
          "$ref": "VerifyJobRun"
        },
        "uid": {
          "description": "Output only. Unique identifier of the `JobRun`.",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time at which the `JobRun` ended.",
          "readOnly": true
        },
        "postdeployJobRun": {
          "$ref": "PostdeployJobRun",
          "description": "Output only. Information specific to a postdeploy `JobRun`.",
          "readOnly": true
        },
        "advanceChildRolloutJobRun": {
          "description": "Output only. Information specific to an advanceChildRollout `JobRun`",
          "readOnly": true,
          "$ref": "AdvanceChildRolloutJobRun"
        }
      },
      "description": "A `JobRun` resource in the Cloud Deploy API. A `JobRun` contains information of a single `Rollout` job evaluation.",
      "type": "object"
    },
    "ReleaseNotificationEvent": {
      "type": "object",
      "description": "Payload proto for \"clouddeploy.googleapis.com/release_notification\" Platform Log event that describes the failure to send release status change Pub/Sub notification.",
      "id": "ReleaseNotificationEvent",
      "properties": {
        "message": {
          "description": "Debug message for when a notification fails to send.",
          "type": "string"
        },
        "releaseUid": {
          "description": "Unique identifier of the `Release`.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PUBSUB_NOTIFICATION_FAILURE",
            "TYPE_RESOURCE_STATE_CHANGE",
            "TYPE_PROCESS_ABORTED",
            "TYPE_RESTRICTION_VIOLATED",
            "TYPE_RESOURCE_DELETED",
            "TYPE_ROLLOUT_UPDATE",
            "TYPE_DEPLOY_POLICY_EVALUATION",
            "TYPE_RENDER_STATUES_CHANGE"
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true
          ],
          "enumDescriptions": [
            "Type is unspecified.",
            "A Pub/Sub notification failed to be sent.",
            "Resource state changed.",
            "A process aborted.",
            "Restriction check failed.",
            "Resource deleted.",
            "Rollout updated.",
            "Deploy Policy evaluation.",
            "Deprecated: This field is never used. Use release_render log type instead."
          ],
          "description": "Type of this notification, e.g. for a Pub/Sub failure."
        },
        "release": {
          "type": "string",
          "description": "The name of the `Release`."
        },
        "pipelineUid": {
          "description": "Unique identifier of the `DeliveryPipeline`.",
          "type": "string"
        }
      }
    },
    "CancelRolloutResponse": {
      "id": "CancelRolloutResponse",
      "properties": {},
      "description": "The response object from `CancelRollout`.",
      "type": "object"
    },
    "TargetRender": {
      "id": "TargetRender",
      "properties": {
        "failureCause": {
          "description": "Output only. Reason this render failed. This will always be unspecified while the render in progress.",
          "enumDescriptions": [
            "No reason for failure is specified.",
            "Cloud Build is not available, either because it is not enabled or because Cloud Deploy has insufficient permissions. See [required permission](https://cloud.google.com/deploy/docs/cloud-deploy-service-account#required_permissions).",
            "The render operation did not complete successfully; check Cloud Build logs.",
            "Cloud Build failed to fulfill Cloud Deploy's request. See failure_message for additional details.",
            "The render operation did not complete successfully because the verification stanza required for verify was not found on the Skaffold configuration.",
            "The render operation did not complete successfully because the custom action(s) required for Rollout jobs were not found in the Skaffold configuration. See failure_message for additional details.",
            "Release failed during rendering because the release configuration is not supported with the specified deployment strategy.",
            "The render operation had a feature configured that is not supported."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "FAILURE_CAUSE_UNSPECIFIED",
            "CLOUD_BUILD_UNAVAILABLE",
            "EXECUTION_FAILED",
            "CLOUD_BUILD_REQUEST_FAILED",
            "VERIFICATION_CONFIG_NOT_FOUND",
            "CUSTOM_ACTION_NOT_FOUND",
            "DEPLOYMENT_STRATEGY_NOT_SUPPORTED",
            "RENDER_FEATURE_NOT_SUPPORTED"
          ]
        },
        "renderingBuild": {
          "description": "Output only. The resource name of the Cloud Build `Build` object that is used to render the manifest for this target. Format is `projects/{project}/locations/{location}/builds/{build}`.",
          "readOnly": true,
          "type": "string"
        },
        "metadata": {
          "$ref": "RenderMetadata",
          "description": "Output only. Metadata related to the `Release` render for this Target.",
          "readOnly": true
        },
        "failureMessage": {
          "type": "string",
          "description": "Output only. Additional information about the render failure, if available.",
          "readOnly": true
        },
        "renderingState": {
          "description": "Output only. Current state of the render operation for this Target.",
          "enumDescriptions": [
            "The render operation state is unspecified.",
            "The render operation has completed successfully.",
            "The render operation has failed.",
            "The render operation is in progress."
          ],
          "readOnly": true,
          "enum": [
            "TARGET_RENDER_STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED",
            "IN_PROGRESS"
          ],
          "type": "string"
        }
      },
      "description": "Details of rendering for a single target.",
      "type": "object"
    },
    "RepairPhaseConfig": {
      "id": "RepairPhaseConfig",
      "properties": {
        "retry": {
          "description": "Optional. Retries a failed job.",
          "$ref": "Retry"
        },
        "rollback": {
          "description": "Optional. Rolls back a `Rollout`.",
          "$ref": "Rollback"
        }
      },
      "description": "Configuration of the repair phase.",
      "type": "object"
    },
    "GkeCluster": {
      "type": "object",
      "id": "GkeCluster",
      "properties": {
        "cluster": {
          "description": "Optional. Information specifying a GKE Cluster. Format is `projects/{project_id}/locations/{location_id}/clusters/{cluster_id}`.",
          "type": "string"
        },
        "dnsEndpoint": {
          "description": "Optional. If set, the cluster will be accessed using the DNS endpoint. Note that both `dns_endpoint` and `internal_ip` cannot be set to true.",
          "type": "boolean"
        },
        "internalIp": {
          "description": "Optional. If true, `cluster` is accessed using the private IP address of the control plane endpoint. Otherwise, the default IP address of the control plane endpoint is used. The default IP address is the private IP address for clusters with private control-plane endpoints and the public IP address otherwise. Only specify this option when `cluster` is a [private GKE cluster](https://cloud.google.com/kubernetes-engine/docs/concepts/private-cluster-concept). Note that `internal_ip` and `dns_endpoint` cannot both be set to true.",
          "type": "boolean"
        },
        "proxyUrl": {
          "description": "Optional. If set, used to configure a [proxy](https://kubernetes.io/docs/concepts/configuration/organize-cluster-access-kubeconfig/#proxy) to the Kubernetes server.",
          "type": "string"
        }
      },
      "description": "Information specifying a GKE Cluster."
    },
    "PipelineReadyCondition": {
      "type": "object",
      "id": "PipelineReadyCondition",
      "properties": {
        "status": {
          "description": "True if the Pipeline is in a valid state. Otherwise at least one condition in `PipelineCondition` is in an invalid state. Iterate over those conditions and see which condition(s) has status = false to find out what is wrong with the Pipeline.",
          "type": "boolean"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Last time the condition was updated."
        }
      },
      "description": "PipelineReadyCondition contains information around the status of the Pipeline."
    },
    "ServiceNetworking": {
      "type": "object",
      "description": "Information about the Kubernetes Service networking configuration.",
      "id": "ServiceNetworking",
      "properties": {
        "service": {
          "description": "Required. Name of the Kubernetes Service.",
          "type": "string"
        },
        "disablePodOverprovisioning": {
          "type": "boolean",
          "description": "Optional. Whether to disable Pod overprovisioning. If Pod overprovisioning is disabled then Cloud Deploy will limit the number of total Pods used for the deployment strategy to the number of Pods the Deployment has on the cluster."
        },
        "deployment": {
          "type": "string",
          "description": "Required. Name of the Kubernetes Deployment whose traffic is managed by the specified Service."
        },
        "podSelectorLabel": {
          "type": "string",
          "description": "Optional. The label to use when selecting Pods for the Deployment resource. This label must already be present in the Deployment."
        }
      }
    },
    "ListReleasesResponse": {
      "description": "The response object from `ListReleases`.",
      "id": "ListReleasesResponse",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "releases": {
          "description": "The `Release` objects.",
          "items": {
            "$ref": "Release"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "PhaseArtifact": {
      "type": "object",
      "description": "Contains the paths to the artifacts, relative to the URI, for a phase.",
      "id": "PhaseArtifact",
      "properties": {
        "jobManifestsPath": {
          "description": "Output only. File path of the directory of rendered job manifests relative to the URI. This is only set if it is applicable.",
          "readOnly": true,
          "type": "string"
        },
        "manifestPath": {
          "type": "string",
          "description": "Output only. File path of the rendered manifest relative to the URI.",
          "readOnly": true
        },
        "skaffoldConfigPath": {
          "type": "string",
          "description": "Output only. File path of the resolved Skaffold configuration relative to the URI.",
          "readOnly": true
        }
      }
    },
    "AdvanceChildRolloutJobRun": {
      "type": "object",
      "id": "AdvanceChildRolloutJobRun",
      "properties": {
        "rolloutPhaseId": {
          "description": "Output only. the ID of the ChildRollout's Phase.",
          "readOnly": true,
          "type": "string"
        },
        "rollout": {
          "description": "Output only. Name of the `ChildRollout`. Format is `projects/{project}/locations/{location}/deliveryPipelines/{deliveryPipeline}/releases/{release}/rollouts/{rollout}`.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "AdvanceChildRolloutJobRun contains information specific to a advanceChildRollout `JobRun`."
    },
    "TerminateJobRunResponse": {
      "type": "object",
      "id": "TerminateJobRunResponse",
      "properties": {},
      "description": "The response object from `TerminateJobRun`."
    },
    "KubernetesRenderMetadata": {
      "type": "object",
      "description": "KubernetesRenderMetadata contains Kubernetes information associated with a `Release` render.",
      "id": "KubernetesRenderMetadata",
      "properties": {
        "deployment": {
          "type": "string",
          "description": "Output only. Name of the Kubernetes Deployment that will be applied to the GKE cluster. Only set if a single Deployment was provided in the rendered manifest.",
          "readOnly": true
        },
        "kubernetesNamespace": {
          "description": "Output only. Namespace the Kubernetes resources will be applied to in the GKE cluster. Only set if applying resources to a single namespace.",
          "readOnly": true,
          "type": "string"
        },
        "canaryDeployment": {
          "description": "Output only. Name of the canary version of the Kubernetes Deployment that will be applied to the GKE cluster. Only set if a canary deployment strategy was configured.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "AdvanceRolloutResponse": {
      "type": "object",
      "id": "AdvanceRolloutResponse",
      "properties": {},
      "description": "The response object from `AdvanceRollout`."
    },
    "TimeWindows": {
      "type": "object",
      "id": "TimeWindows",
      "properties": {
        "oneTimeWindows": {
          "items": {
            "$ref": "OneTimeWindow"
          },
          "type": "array",
          "description": "Optional. One-time windows within which actions are restricted."
        },
        "weeklyWindows": {
          "description": "Optional. Recurring weekly windows within which actions are restricted.",
          "items": {
            "$ref": "WeeklyWindow"
          },
          "type": "array"
        },
        "timeZone": {
          "description": "Required. The time zone in IANA format [IANA Time Zone Database](https://www.iana.org/time-zones) (e.g. America/New_York).",
          "type": "string"
        }
      },
      "description": "Time windows within which actions are restricted. See the [documentation](https://cloud.google.com/deploy/docs/deploy-policy#dates_times) for more information on how to configure dates/times."
    },
    "MultiTarget": {
      "type": "object",
      "description": "Information specifying a multiTarget.",
      "id": "MultiTarget",
      "properties": {
        "targetIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The target_ids of this multiTarget."
        }
      }
    },
    "Config": {
      "type": "object",
      "description": "Service-wide configuration.",
      "id": "Config",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the configuration."
        },
        "defaultToolVersions": {
          "description": "Output only. Default tool versions. These tool versions are assigned when a Release is created without specifying tool versions.",
          "readOnly": true,
          "$ref": "ToolVersions"
        },
        "defaultSkaffoldVersion": {
          "description": "Default Skaffold version that is assigned when a Release is created without specifying a Skaffold version.",
          "type": "string"
        },
        "supportedVersions": {
          "description": "All supported versions of Skaffold.",
          "type": "array",
          "items": {
            "$ref": "SkaffoldVersion"
          }
        }
      }
    },
    "CustomTargetSkaffoldActions": {
      "description": "CustomTargetSkaffoldActions represents the `CustomTargetType` configuration using Skaffold custom actions.",
      "id": "CustomTargetSkaffoldActions",
      "properties": {
        "deployAction": {
          "description": "Required. The Skaffold custom action responsible for deploy operations.",
          "type": "string"
        },
        "renderAction": {
          "type": "string",
          "description": "Optional. The Skaffold custom action responsible for render operations. If not provided then Cloud Deploy will perform the render operations via `skaffold render`."
        },
        "includeSkaffoldModules": {
          "description": "Optional. List of Skaffold modules Cloud Deploy will include in the Skaffold Config as required before performing diagnose.",
          "items": {
            "$ref": "SkaffoldModules"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "OneTimeWindow": {
      "description": "One-time window within which actions are restricted. For example, blocking actions over New Year's Eve from December 31st at 5pm to January 1st at 9am.",
      "id": "OneTimeWindow",
      "properties": {
        "startDate": {
          "description": "Required. Start date.",
          "$ref": "Date"
        },
        "endDate": {
          "description": "Required. End date.",
          "$ref": "Date"
        },
        "startTime": {
          "description": "Required. Start time (inclusive). Use 00:00 for the beginning of the day.",
          "$ref": "TimeOfDay"
        },
        "endTime": {
          "description": "Required. End time (exclusive). You may use 24:00 for the end of the day.",
          "$ref": "TimeOfDay"
        }
      },
      "type": "object"
    },
    "CustomMetadata": {
      "type": "object",
      "description": "CustomMetadata contains information from a user-defined operation.",
      "id": "CustomMetadata",
      "properties": {
        "values": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Output only. Key-value pairs provided by the user-defined operation.",
          "readOnly": true
        }
      }
    },
    "PredeployJobRun": {
      "type": "object",
      "description": "PredeployJobRun contains information specific to a predeploy `JobRun`.",
      "id": "PredeployJobRun",
      "properties": {
        "build": {
          "description": "Output only. The resource name of the Cloud Build `Build` object that is used to execute the custom actions associated with the predeploy Job. Format is `projects/{project}/locations/{location}/builds/{build}`.",
          "readOnly": true,
          "type": "string"
        },
        "failureCause": {
          "type": "string",
          "enum": [
            "FAILURE_CAUSE_UNSPECIFIED",
            "CLOUD_BUILD_UNAVAILABLE",
            "EXECUTION_FAILED",
            "DEADLINE_EXCEEDED",
            "CLOUD_BUILD_REQUEST_FAILED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "No reason for failure is specified.",
            "Cloud Build is not available, either because it is not enabled or because Cloud Deploy has insufficient permissions. See [required permission](https://cloud.google.com/deploy/docs/cloud-deploy-service-account#required_permissions).",
            "The predeploy operation did not complete successfully; check Cloud Build logs.",
            "The predeploy job run did not complete within the allotted time.",
            "Cloud Build failed to fulfill Cloud Deploy's request. See failure_message for additional details."
          ],
          "description": "Output only. The reason the predeploy failed. This will always be unspecified while the predeploy is in progress or if it succeeded."
        },
        "failureMessage": {
          "type": "string",
          "description": "Output only. Additional information about the predeploy failure, if available.",
          "readOnly": true
        },
        "metadata": {
          "description": "Output only. Metadata containing information about the predeploy `JobRun`.",
          "readOnly": true,
          "$ref": "PredeployJobRunMetadata"
        }
      }
    },
    "JobRunNotificationEvent": {
      "id": "JobRunNotificationEvent",
      "properties": {
        "rollout": {
          "description": "The name of the `Rollout`.",
          "type": "string"
        },
        "message": {
          "description": "Debug message for when a notification fails to send.",
          "type": "string"
        },
        "release": {
          "description": "The name of the `Release`.",
          "type": "string"
        },
        "rolloutUid": {
          "type": "string",
          "description": "Unique identifier of the `Rollout`."
        },
        "pipelineUid": {
          "type": "string",
          "description": "Unique identifier of the `DeliveryPipeline`."
        },
        "targetId": {
          "type": "string",
          "description": "ID of the `Target`."
        },
        "jobRun": {
          "type": "string",
          "description": "The name of the `JobRun`."
        },
        "releaseUid": {
          "type": "string",
          "description": "Unique identifier of the `Release`."
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PUBSUB_NOTIFICATION_FAILURE",
            "TYPE_RESOURCE_STATE_CHANGE",
            "TYPE_PROCESS_ABORTED",
            "TYPE_RESTRICTION_VIOLATED",
            "TYPE_RESOURCE_DELETED",
            "TYPE_ROLLOUT_UPDATE",
            "TYPE_DEPLOY_POLICY_EVALUATION",
            "TYPE_RENDER_STATUES_CHANGE"
          ],
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true
          ],
          "enumDescriptions": [
            "Type is unspecified.",
            "A Pub/Sub notification failed to be sent.",
            "Resource state changed.",
            "A process aborted.",
            "Restriction check failed.",
            "Resource deleted.",
            "Rollout updated.",
            "Deploy Policy evaluation.",
            "Deprecated: This field is never used. Use release_render log type instead."
          ],
          "description": "Type of this notification, e.g. for a Pub/Sub failure."
        }
      },
      "description": "Payload proto for \"clouddeploy.googleapis.com/jobrun_notification\" Platform Log event that describes the failure to send JobRun resource update Pub/Sub notification.",
      "type": "object"
    },
    "CustomTargetTasks": {
      "type": "object",
      "id": "CustomTargetTasks",
      "properties": {
        "render": {
          "description": "Optional. The task responsible for render operations. If not provided then Cloud Deploy will perform its default rendering operation.",
          "$ref": "Task"
        },
        "deploy": {
          "description": "Required. The task responsible for deploy operations.",
          "$ref": "Task"
        }
      },
      "description": "CustomTargetTasks represents the `CustomTargetType` configuration using tasks."
    },
    "AutomationEvent": {
      "type": "object",
      "description": "Payload proto for \"clouddeploy.googleapis.com/automation\" Platform Log event that describes the Automation related events.",
      "id": "AutomationEvent",
      "properties": {
        "message": {
          "description": "Debug message for when there is an update on the AutomationRun. Provides further details about the resource creation or state change.",
          "type": "string"
        },
        "pipelineUid": {
          "type": "string",
          "description": "Unique identifier of the `DeliveryPipeline`."
        },
        "type": {
          "enumDescriptions": [
            "Type is unspecified.",
            "A Pub/Sub notification failed to be sent.",
            "Resource state changed.",
            "A process aborted.",
            "Restriction check failed.",
            "Resource deleted.",
            "Rollout updated.",
            "Deploy Policy evaluation.",
            "Deprecated: This field is never used. Use release_render log type instead."
          ],
          "description": "Type of this notification, e.g. for a Pub/Sub failure.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PUBSUB_NOTIFICATION_FAILURE",
            "TYPE_RESOURCE_STATE_CHANGE",
            "TYPE_PROCESS_ABORTED",
            "TYPE_RESTRICTION_VIOLATED",
            "TYPE_RESOURCE_DELETED",
            "TYPE_ROLLOUT_UPDATE",
            "TYPE_DEPLOY_POLICY_EVALUATION",
            "TYPE_RENDER_STATUES_CHANGE"
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true
          ]
        },
        "automation": {
          "type": "string",
          "description": "The name of the `AutomationRun`."
        }
      }
    },
    "AuditConfig": {
      "type": "object",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "id": "AuditConfig",
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "type": "array",
          "items": {
            "$ref": "AuditLogConfig"
          },
          "description": "The configuration for logging of each type of permission."
        }
      }
    },
    "Rollback": {
      "description": "Rolls back a `Rollout`.",
      "id": "Rollback",
      "properties": {
        "destinationPhase": {
          "description": "Optional. The starting phase ID for the `Rollout`. If unspecified, the `Rollout` will start in the stable phase.",
          "type": "string"
        },
        "disableRollbackIfRolloutPending": {
          "type": "boolean",
          "description": "Optional. If pending rollout exists on the target, the rollback operation will be aborted."
        }
      },
      "type": "object"
    },
    "PostdeployJob": {
      "id": "PostdeployJob",
      "properties": {
        "actions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. The custom actions that the postdeploy Job executes.",
          "readOnly": true
        },
        "tasks": {
          "items": {
            "$ref": "Task"
          },
          "type": "array",
          "description": "Output only. The tasks that are executed as part of the postdeploy Job.",
          "readOnly": true
        }
      },
      "description": "A postdeploy Job.",
      "type": "object"
    },
    "CancelAutomationRunRequest": {
      "type": "object",
      "description": "The request object used by `CancelAutomationRun`.",
      "id": "CancelAutomationRunRequest",
      "properties": {}
    },
    "RouteDestinations": {
      "description": "Information about route destinations for the Gateway API service mesh.",
      "id": "RouteDestinations",
      "properties": {
        "destinationIds": {
          "description": "Required. The clusters where the Gateway API HTTPRoute resource will be deployed to. Valid entries include the associated entities IDs configured in the Target resource and \"@self\" to include the Target cluster.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "propagateService": {
          "type": "boolean",
          "description": "Optional. Whether to propagate the Kubernetes Service to the route destination clusters. The Service will always be deployed to the Target cluster even if the HTTPRoute is not. This option may be used to facilitate successful DNS lookup in the route destination clusters. Can only be set to true if destinations are specified."
        }
      },
      "type": "object"
    },
    "Status": {
      "type": "object",
      "id": "Status",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "array"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "RolloutRestriction": {
      "description": "Rollout restrictions.",
      "id": "RolloutRestriction",
      "properties": {
        "invokers": {
          "description": "Optional. What invoked the action. If left empty, all invoker types will be restricted.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified.",
              "The action is user-driven. For example, creating a rollout manually via a gcloud create command.",
              "Automated action by Cloud Deploy."
            ],
            "enum": [
              "INVOKER_UNSPECIFIED",
              "USER",
              "DEPLOY_AUTOMATION"
            ]
          },
          "type": "array"
        },
        "id": {
          "description": "Required. Restriction rule ID. Required and must be unique within a DeployPolicy. The format is `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`.",
          "type": "string"
        },
        "actions": {
          "description": "Optional. Rollout actions to be restricted as part of the policy. If left empty, all actions will be restricted.",
          "items": {
            "enumDescriptions": [
              "Unspecified.",
              "Advance the rollout to the next phase.",
              "Approve the rollout.",
              "Cancel the rollout.",
              "Create a rollout.",
              "Ignore a job result on the rollout.",
              "Retry a job for a rollout.",
              "Rollback a rollout.",
              "Terminate a jobrun."
            ],
            "enum": [
              "ROLLOUT_ACTIONS_UNSPECIFIED",
              "ADVANCE",
              "APPROVE",
              "CANCEL",
              "CREATE",
              "IGNORE_JOB",
              "RETRY_JOB",
              "ROLLBACK",
              "TERMINATE_JOBRUN"
            ],
            "type": "string"
          },
          "type": "array"
        },
        "timeWindows": {
          "description": "Required. Time window within which actions are restricted.",
          "$ref": "TimeWindows"
        }
      },
      "type": "object"
    },
    "CloudRunConfig": {
      "type": "object",
      "id": "CloudRunConfig",
      "properties": {
        "priorRevisionTags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of tags that are added to the prior revision while the canary phase is in progress."
        },
        "automaticTrafficControl": {
          "description": "Optional. Whether Cloud Deploy should update the traffic stanza in a Cloud Run Service on the user's behalf to facilitate traffic splitting. This is required to be true for CanaryDeployments, but optional for CustomCanaryDeployments.",
          "type": "boolean"
        },
        "canaryRevisionTags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of tags that are added to the canary revision while the canary phase is in progress."
        },
        "stableRevisionTags": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. A list of tags that are added to the final stable revision when the stable phase is applied."
        }
      },
      "description": "CloudRunConfig contains the Cloud Run runtime configuration."
    },
    "CustomTargetType": {
      "type": "object",
      "description": "A `CustomTargetType` resource in the Cloud Deploy API. A `CustomTargetType` defines a type of custom target that can be referenced in a `Target` in order to facilitate deploying to other systems besides the supported runtimes.",
      "id": "CustomTargetType",
      "properties": {
        "customActions": {
          "description": "Optional. Configures render and deploy for the `CustomTargetType` using Skaffold custom actions.",
          "$ref": "CustomTargetSkaffoldActions"
        },
        "etag": {
          "type": "string",
          "description": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the `CustomTargetType`. Max length is 255 characters."
        },
        "annotations": {
          "description": "Optional. User annotations. These attributes can only be set and used by the user, and not by Cloud Deploy. See https://google.aip.dev/128#annotations for more details such as format and size limitations.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Most recent time at which the `CustomTargetType` was updated.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of the `CustomTargetType`. Format is `projects/{project}/locations/{location}/customTargetTypes/{customTargetType}`. The `customTargetType` component must match `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels are attributes that can be set and used by both the user and by Cloud Deploy. Labels must meet the following constraints: * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. * All characters must use UTF-8 encoding, and international characters are allowed. * Keys must start with a lowercase letter or international character. * Each resource is limited to a maximum of 64 labels. Both keys and values are additionally constrained to be <= 128 bytes."
        },
        "customTargetTypeId": {
          "type": "string",
          "description": "Output only. Resource id of the `CustomTargetType`.",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. Time at which the `CustomTargetType` was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "uid": {
          "type": "string",
          "description": "Output only. Unique identifier of the `CustomTargetType`.",
          "readOnly": true
        },
        "tasks": {
          "description": "Optional. Configures render and deploy for the `CustomTargetType` using tasks.",
          "$ref": "CustomTargetTasks"
        }
      }
    },
    "SetIamPolicyRequest": {
      "type": "object",
      "description": "Request message for `SetIamPolicy` method.",
      "id": "SetIamPolicyRequest",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        },
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
        }
      }
    },
    "TargetsPresentCondition": {
      "type": "object",
      "description": "`TargetsPresentCondition` contains information on any Targets referenced in the Delivery Pipeline that do not actually exist.",
      "id": "TargetsPresentCondition",
      "properties": {
[...]
