{
  "rootUrl": "https://cloudproductregistry.googleapis.com/",
  "batchPath": "batch",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "discoveryVersion": "v1",
  "servicePath": "",
  "version_module": true,
  "title": "Cloud Product Registry API",
  "resources": {
    "productSuites": {
      "methods": {
        "list": {
          "parameters": {
            "pageSize": {
              "description": "Optional. The maximum number of suites to return. The service may return fewer than this value. If unspecified, at most 100 suites will be returned. The maximum value is 500; values above 500 will be coerced to 500.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Optional. A page token, received from a previous `ListProductSuites` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListProductSuites` must match the call that provided the page token."
            }
          },
          "description": "Lists ProductSuites.",
          "httpMethod": "GET",
          "parameterOrder": [],
          "path": "v1/productSuites",
          "flatPath": "v1/productSuites",
          "id": "cloudproductregistry.productSuites.list",
          "response": {
            "$ref": "ListProductSuitesResponse"
          }
        },
        "get": {
          "response": {
            "$ref": "ProductSuite"
          },
          "path": "v1/{+name}",
          "flatPath": "v1/productSuites/{productSuitesId}",
          "id": "cloudproductregistry.productSuites.get",
          "description": "Get details of a ProductSuite.",
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^productSuites/[^/]+$",
              "location": "path",
              "required": true,
              "description": "Required. The name of the ProductSuite to retrieve. Format: productSuites/{product_suite}"
            }
          }
        },
        "lookupEntity": {
          "description": "Look up entities.",
          "httpMethod": "GET",
          "parameterOrder": [
            "lookupUri"
          ],
          "parameters": {
            "lookupUri": {
              "pattern": "^productSuites/[^/]+$",
              "type": "string",
              "required": true,
              "description": "Required. Entity uri to look up. Supported Formats: logicalProducts/{logical_product} logicalProducts/{logical_product}/variants/{variant} productSuites/{product_suite}",
              "location": "path"
            }
          },
          "response": {
            "$ref": "LookupEntityResponse"
          },
          "path": "v1/{+lookupUri}:lookupEntity",
          "flatPath": "v1/productSuites/{productSuitesId}:lookupEntity",
          "id": "cloudproductregistry.productSuites.lookupEntity"
        }
      }
    },
    "logicalProducts": {
      "methods": {
        "list": {
          "description": "Lists LogicalProducts matching given criteria.",
          "httpMethod": "GET",
          "parameterOrder": [],
          "parameters": {
            "filter": {
              "description": "Optional. The filter expression for listing logical products. Filter syntax: https://google.aip.dev/160 Supported fields: suite_id",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "description": "Optional. The maximum number of logical products to return. The service may return fewer than this value. If unspecified, at most 100 logical products will be returned. The maximum value is 500; values above 500 will be coerced to 500.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Optional. A page token, received from a previous `ListLogicalProducts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListLogicalProducts` must match the call that provided the page token."
            }
          },
          "response": {
            "$ref": "ListLogicalProductsResponse"
          },
          "path": "v1/logicalProducts",
          "flatPath": "v1/logicalProducts",
          "id": "cloudproductregistry.logicalProducts.list"
        },
        "get": {
          "response": {
            "$ref": "LogicalProduct"
          },
          "id": "cloudproductregistry.logicalProducts.get",
          "path": "v1/{+name}",
          "flatPath": "v1/logicalProducts/{logicalProductsId}",
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "description": "Gets details of a LogicalProduct.",
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^logicalProducts/[^/]+$",
              "location": "path",
              "required": true,
              "description": "Required. The name of the LogicalProduct to retrieve. Format: logicalProducts/{logical_product}"
            }
          }
        },
        "lookupEntity": {
          "path": "v1/{+lookupUri}:lookupEntity",
          "flatPath": "v1/logicalProducts/{logicalProductsId}:lookupEntity",
          "id": "cloudproductregistry.logicalProducts.lookupEntity",
          "response": {
            "$ref": "LookupEntityResponse"
          },
          "parameters": {
            "lookupUri": {
              "type": "string",
              "pattern": "^logicalProducts/[^/]+$",
              "location": "path",
              "required": true,
              "description": "Required. Entity uri to look up. Supported Formats: logicalProducts/{logical_product} logicalProducts/{logical_product}/variants/{variant} productSuites/{product_suite}"
            }
          },
          "description": "Look up entities.",
          "httpMethod": "GET",
          "parameterOrder": [
            "lookupUri"
          ]
        }
      },
      "resources": {
        "variants": {
          "methods": {
            "get": {
              "path": "v1/{+name}",
              "flatPath": "v1/logicalProducts/{logicalProductsId}/variants/{variantsId}",
              "id": "cloudproductregistry.logicalProducts.variants.get",
              "response": {
                "$ref": "LogicalProductVariant"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^logicalProducts/[^/]+/variants/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the LogicalProductVariant to retrieve. Format: logicalProducts/{logical_product}/variants/{variant}"
                }
              },
              "description": "Get details of a LogicalProductVariant.",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ]
            },
            "lookupEntity": {
              "parameters": {
                "lookupUri": {
                  "required": true,
                  "description": "Required. Entity uri to look up. Supported Formats: logicalProducts/{logical_product} logicalProducts/{logical_product}/variants/{variant} productSuites/{product_suite}",
                  "location": "path",
                  "pattern": "^logicalProducts/[^/]+/variants/[^/]+$",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "lookupUri"
              ],
              "description": "Look up entities.",
              "id": "cloudproductregistry.logicalProducts.variants.lookupEntity",
              "path": "v1/{+lookupUri}:lookupEntity",
              "flatPath": "v1/logicalProducts/{logicalProductsId}/variants/{variantsId}:lookupEntity",
              "response": {
                "$ref": "LookupEntityResponse"
              }
            },
            "list": {
              "path": "v1/{+parent}/variants",
              "flatPath": "v1/logicalProducts/{logicalProductsId}/variants",
              "id": "cloudproductregistry.logicalProducts.variants.list",
              "response": {
                "$ref": "ListLogicalProductVariantsResponse"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "description": "Required. Parent logical product id. Format: logicalProducts/{logical_product}",
                  "type": "string",
                  "pattern": "^logicalProducts/[^/]+$"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of logical product variants to return. The service may return fewer than this value. If unspecified, at most 100 logical product variants will be returned. The maximum value is 500; values above 500 will be coerced to 500.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListLogicalProductVariants` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListLogicalProductVariants` must match the call that provided the page token."
                }
              },
              "description": "Lists LogicalProductVariants matching given criteria.",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ]
            }
          }
        }
      }
    }
  },
  "protocol": "rest",
  "description": "cloudproductregistry.googleapis.com API.",
  "id": "cloudproductregistry:v1",
  "documentationLink": "https://docs.cloud.google.com/product-registry",
  "ownerName": "Google",
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "alt": {
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    }
  },
  "schemas": {
    "ListLogicalProductVariantsResponse": {
      "id": "ListLogicalProductVariantsResponse",
      "type": "object",
      "description": "Response message for ListLogicalProductVariants.",
      "properties": {
        "logicalProductVariants": {
          "description": "Matched LogicalProductVariants",
          "type": "array",
          "items": {
            "$ref": "LogicalProductVariant"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "LogicalProductVariant": {
      "id": "LogicalProductVariant",
      "type": "object",
      "properties": {
        "replaced": {
          "description": "Output only. Indicates whether the logical product variant has been replaced. If `false`, the variant is active. If `true`, the variant has been replaced by another type, and the `replacement` field contains the resource name of that replacement.",
          "readOnly": true,
          "type": "boolean"
        },
        "lifecycleState": {
          "description": "Output only. Current Lifecycle state of the logical product variant.",
          "readOnly": true,
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "LIFECYCLE_STATE_PUBLIC_PREVIEW",
            "LIFECYCLE_STATE_PRIVATE_GA",
            "LIFECYCLE_STATE_GA",
            "LIFECYCLE_STATE_DEPRECATED"
          ],
          "enumDescriptions": [
            "The default value. This value is used if the lifecycle state is not set.",
            "The entity is in Public Preview. It is available to all customers, but may not be feature-complete or have full support guarantees.",
            "The entity is in Private General Availability. It is fully supported and stable, but only available to a select group of customers.",
            "The entity is Generally Available. It is fully supported, stable, and available to all customers.",
            "The entity is deprecated. It is no longer recommended for use and may be removed in a future version."
          ],
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the LogicalProductVariant. Format: logicalProducts/{logical_product}/variants/{variant}"
        },
        "title": {
          "type": "string",
          "description": "Display name of the LogicalProductVariant."
        },
        "replacement": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the Logical Entity that the logical product variant is replaced by. This field is only populated when this logical product variant is replaced by some other type. Eg: logicalProducts/{logical_product}, productSuites/{product_suite}, etc."
        }
      },
      "description": "Represents a distinct offering derived from a primary product that retains core functionalities but offers specialized features for a specific market segment."
    },
    "ListProductSuitesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "productSuites": {
          "type": "array",
          "items": {
            "$ref": "ProductSuite"
          },
          "description": "Matched ProductSuites"
        }
      },
      "description": "Response message for ListProductSuites.",
      "id": "ListProductSuitesResponse",
      "type": "object"
    },
    "ProductSuite": {
      "id": "ProductSuite",
      "type": "object",
      "properties": {
        "logicalProducts": {
          "description": "Output only. LogicalProducts under this suite. Format: logicalProducts/{logical_product}",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "replaced": {
          "type": "boolean",
          "description": "Output only. Indicates whether the product suite has been replaced. If `false`, the product suite is active. If `true`, the product suite has been replaced by another type, and the `replacement` field contains the resource name of that replacement.",
          "readOnly": true
        },
        "title": {
          "type": "string",
          "description": "Title of the ProductSuite."
        },
        "replacement": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the Logical Entity that the product suite is replaced by. This field is only populated when this product suite is replaced by some other type. Eg: logicalProducts/{logical_product}, logicalProducts/{logical_product}/variants/{variant}, etc."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the ProductSuite. Format: productSuites/{product_suite}"
        }
      },
      "description": "Represents a unified grouping of products sharing a common brand and market positioning."
    },
    "ListLogicalProductsResponse": {
      "id": "ListLogicalProductsResponse",
      "type": "object",
      "description": "Response message for ListLogicalProducts.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "logicalProducts": {
          "type": "array",
          "items": {
            "$ref": "LogicalProduct"
          },
          "description": "Matched LogicalProducts"
        }
      }
    },
    "LookupEntityResponse": {
      "properties": {
        "logicalProduct": {
          "description": "Matched LogicalProduct.",
          "$ref": "LogicalProduct"
        },
        "logicalProductVariant": {
          "description": "Matched LogicalProductVariant.",
          "$ref": "LogicalProductVariant"
        },
        "productSuite": {
          "description": "Matched ProductSuite.",
          "$ref": "ProductSuite"
        }
      },
      "description": "Response message for LookupEntity.",
      "id": "LookupEntityResponse",
      "type": "object"
    },
    "LogicalProduct": {
      "description": "Represents an independent service offering that can be provisioned by a customer.",
      "properties": {
        "variants": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Child variant resource references. Format: logicalProducts/{logical_product}/variants/{variant}",
          "readOnly": true
        },
        "lifecycleState": {
          "enumDescriptions": [
            "The default value. This value is used if the lifecycle state is not set.",
            "The entity is in Public Preview. It is available to all customers, but may not be feature-complete or have full support guarantees.",
            "The entity is in Private General Availability. It is fully supported and stable, but only available to a select group of customers.",
            "The entity is Generally Available. It is fully supported, stable, and available to all customers.",
            "The entity is deprecated. It is no longer recommended for use and may be removed in a future version."
          ],
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "LIFECYCLE_STATE_PUBLIC_PREVIEW",
            "LIFECYCLE_STATE_PRIVATE_GA",
            "LIFECYCLE_STATE_GA",
            "LIFECYCLE_STATE_DEPRECATED"
          ],
          "readOnly": true,
          "description": "Output only. Current Lifecycle state of the logical product.",
          "type": "string"
        },
        "replaced": {
          "description": "Output only. Indicates whether the logical product has been replaced. If `false`, the product is active. If `true`, the product has been replaced by another type, and the `replacement` field contains the resource name of that replacement.",
          "readOnly": true,
          "type": "boolean"
        },
        "productSuite": {
          "type": "string",
          "description": "Product suite associated with the logical product. Format: productSuites/{product_suite}."
        },
        "name": {
          "description": "Identifier. The resource name of the LogicalProduct. Format: logicalProducts/{logical_product}.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Display name of the LogicalProduct."
        },
        "replacement": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the Logical Entity that the logical product is replaced by. This field is only populated when this logical product is replaced by some other type. Eg: logicalProducts/{logical_product}/variants/{variant}, productSuites/{product_suite}, etc."
        }
      },
      "id": "LogicalProduct",
      "type": "object"
    }
  },
  "kind": "discovery#restDescription",
  "version": "v1",
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "Cloud Product Registry",
  "ownerDomain": "google.com",
  "name": "cloudproductregistry",
  "revision": "20260715",
  "mtlsRootUrl": "https://cloudproductregistry.mtls.googleapis.com/",
  "baseUrl": "https://cloudproductregistry.googleapis.com/",
  "basePath": ""
}