{
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "description": "Allows developers to manage billing for their Google Cloud Platform projects programmatically.",
  "documentationLink": "https://cloud.google.com/billing/docs/apis",
  "mtlsRootUrl": "https://cloudbilling.mtls.googleapis.com/",
  "batchPath": "batch",
  "version": "v1beta",
  "kind": "discovery#restDescription",
  "rootUrl": "https://cloudbilling.googleapis.com/",
  "title": "Cloud Billing API",
  "name": "cloudbilling",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "ownerName": "Google",
  "baseUrl": "https://cloudbilling.googleapis.com/",
  "id": "cloudbilling:v1beta",
  "resources": {
    "skuGroups": {
      "methods": {
        "list": {
          "description": "Lists all publicly listed SKU groups.",
          "id": "cloudbilling.skuGroups.list",
          "parameterOrder": [],
          "httpMethod": "GET",
          "flatPath": "v1beta/skuGroups",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-billing",
            "https://www.googleapis.com/auth/cloud-billing.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta/skuGroups",
          "parameters": {
            "pageSize": {
              "description": "Maximum number of SKU groups to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "description": "Page token received from a previous ListSkuGroups call to retrieve the next page of results. If this field is empty, the first page is returned.",
              "location": "query",
              "type": "string"
            }
          },
          "response": {
            "$ref": "GoogleCloudBillingSkugroupsV1betaListSkuGroupsResponse"
          }
        },
        "get": {
          "description": "Gets a publicly listed SKU group.",
          "flatPath": "v1beta/skuGroups/{skuGroupsId}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-billing",
            "https://www.googleapis.com/auth/cloud-billing.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "id": "cloudbilling.skuGroups.get",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleCloudBillingSkugroupsV1betaSkuGroup"
          },
          "parameters": {
            "name": {
              "pattern": "^skuGroups/[^/]+$",
              "location": "path",
              "description": "Required. The name of the SKU group to retrieve. Format: skuGroups/{sku_group}",
              "type": "string",
              "required": true
            }
          },
          "path": "v1beta/{+name}"
        }
      },
      "resources": {
        "skus": {
          "methods": {
            "list": {
              "description": "Lists all publicly listed SKUs contained by a publicly listed SKU group.",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Maximum number of SKU group SKUs to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000."
                },
                "pageToken": {
                  "description": "Page token received from a previous ListSkuGroupSkus call to retrieve the next page of results. If this field is empty, the first page is returned.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The SkuGroup to list SkuGroupSku from. Format: skuGroups/{sku_group}",
                  "pattern": "^skuGroups/[^/]+$",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleCloudBillingSkugroupskusV1betaListSkuGroupSkusResponse"
              },
              "path": "v1beta/{+parent}/skus",
              "flatPath": "v1beta/skuGroups/{skuGroupsId}/skus",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "cloudbilling.skuGroups.skus.list",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET"
            },
            "get": {
              "description": "Gets a publicly listed SKU that is part of a publicly listed SKU group.",
              "path": "v1beta/{+name}",
              "response": {
                "$ref": "GoogleCloudBillingSkugroupskusV1betaSkuGroupSku"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the SKU group SKU to retrieve. Format: skuGroups/{sku_group}/skus/{sku}",
                  "pattern": "^skuGroups/[^/]+/skus/[^/]+$",
                  "location": "path"
                }
              },
              "httpMethod": "GET",
              "id": "cloudbilling.skuGroups.skus.get",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta/skuGroups/{skuGroupsId}/skus/{skusId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        }
      }
    },
    "v1beta": {
      "methods": {
        "generateInsights": {
          "description": "Analyzes cost data for a billing account and/or specific projects. Returns a natural language summary and supporting datasets.",
          "request": {
            "$ref": "GenerateInsightsRequest"
          },
          "flatPath": "v1beta:generateInsights",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-billing",
            "https://www.googleapis.com/auth/cloud-billing.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "cloudbilling.generateInsights",
          "parameterOrder": [],
          "httpMethod": "POST",
          "parameters": {},
          "response": {
            "$ref": "GenerateInsightsResponse"
          },
          "path": "v1beta:generateInsights"
        }
      }
    },
    "billingAccounts": {
      "resources": {
        "skus": {
          "resources": {
            "prices": {
              "methods": {
                "list": {
                  "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skus/{skusId}/prices",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-billing",
                    "https://www.googleapis.com/auth/cloud-billing.readonly",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "id": "cloudbilling.billingAccounts.skus.prices.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudBillingBillingaccountpricesV1betaListBillingAccountPricesResponse"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "description": "Required. To list all Billing Account SKUs, use `-` as the SKU ID. Format: `billingAccounts/{billing_account}/skus/-` Note: Specifying an actual SKU resource id will return a collection of one Billing Account Price.",
                      "pattern": "^billingAccounts/[^/]+/skus/[^/]+$",
                      "location": "path"
                    },
                    "currencyCode": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. ISO-4217 currency code for the price. If not specified, currency of billing account will be used."
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Optional. Maximum number of billing account price to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000.",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Page token received from a previous ListBillingAccountPrices call to retrieve the next page of results. If this field is empty, the first page is returned."
                    }
                  },
                  "path": "v1beta/{+parent}/prices",
                  "description": "Lists the latest prices for SKUs available to your Cloud Billing account."
                }
              }
            },
            "price": {
              "methods": {
                "get": {
                  "description": "Gets the latest price for SKUs available to your Cloud Billing account.",
                  "path": "v1beta/{+name}",
                  "response": {
                    "$ref": "GoogleCloudBillingBillingaccountpricesV1betaBillingAccountPrice"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the billing account price to retrieve. Format: billingAccounts/{billing_account}/skus/{sku}/price",
                      "pattern": "^billingAccounts/[^/]+/skus/[^/]+/price$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "currencyCode": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. ISO-4217 currency code for the price. If not specified, the currency of the billing account is used."
                    }
                  },
                  "httpMethod": "GET",
                  "id": "cloudbilling.billingAccounts.skus.price.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skus/{skusId}/price",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-billing",
                    "https://www.googleapis.com/auth/cloud-billing.readonly",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            }
          },
          "methods": {
            "list": {
              "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skus",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "id": "cloudbilling.billingAccounts.skus.list",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudBillingBillingaccountskusV1betaListBillingAccountSkusResponse"
              },
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "Maximum number of billing account SKUs to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000.",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "Page token received from a previous ListBillingAccountSkus call to retrieve the next page of results. If this field is empty, the first page is returned.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "type": "string",
                  "required": true,
                  "pattern": "^billingAccounts/[^/]+$",
                  "location": "path",
                  "description": "Required. The billing account to list billing account SKU from. Format: billingAccounts/{billing_account}"
                },
                "filter": {
                  "description": "Options for how to filter the billing account SKUs. Currently, only filter on `billing_account_service` is supported. Only !=, = operators are supported. Examples: - billing_account_service = \"billingAccounts/012345-567890-ABCDEF/services/DA34-426B-A397\"",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1beta/{+parent}/skus",
              "description": "Lists SKUs visible to a billing account."
            },
            "get": {
              "path": "v1beta/{+name}",
              "response": {
                "$ref": "GoogleCloudBillingBillingaccountskusV1betaBillingAccountSku"
              },
              "parameters": {
                "name": {
                  "pattern": "^billingAccounts/[^/]+/skus/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the billing account SKU to retrieve. Format: billingAccounts/{billing_account}/skus/{sku}",
                  "type": "string",
                  "required": true
                }
              },
              "httpMethod": "GET",
              "id": "cloudbilling.billingAccounts.skus.get",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skus/{skusId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets a SKU visible to a billing account."
            }
          }
        },
        "services": {
          "methods": {
            "list": {
              "description": "Lists services visible to a billing account.",
              "path": "v1beta/{+parent}/services",
              "parameters": {
                "parent": {
                  "pattern": "^billingAccounts/[^/]+$",
                  "location": "path",
                  "description": "Required. The billing account to list billing account service from. Format: billingAccounts/{billing_account}",
                  "type": "string",
                  "required": true
                },
                "pageSize": {
                  "format": "int32",
                  "description": "Maximum number of billing account service to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000.",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Page token received from a previous ListBillingAccountServices call to retrieve the next page of results. If this field is empty, the first page is returned."
                }
              },
              "response": {
                "$ref": "GoogleCloudBillingBillingaccountservicesV1betaListBillingAccountServicesResponse"
              },
              "id": "cloudbilling.billingAccounts.services.list",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "flatPath": "v1beta/billingAccounts/{billingAccountsId}/services",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "response": {
                "$ref": "GoogleCloudBillingBillingaccountservicesV1betaBillingAccountService"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^billingAccounts/[^/]+/services/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the billing account service to retrieve. Format: billingAccounts/{billing_account}/services/{service}"
                }
              },
              "path": "v1beta/{+name}",
              "flatPath": "v1beta/billingAccounts/{billingAccountsId}/services/{servicesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "id": "cloudbilling.billingAccounts.services.get",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets a Google Cloud service visible to a billing account."
            }
          }
        },
        "skuGroups": {
          "methods": {
            "list": {
              "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skuGroups",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "cloudbilling.billingAccounts.skuGroups.list",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Maximum number of billing account SKU groups to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000."
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Page token received from a previous ListBillingAccountSkuGroups call to retrieve the next page of results. If this field is empty, the first page is returned."
                },
                "parent": {
                  "type": "string",
                  "required": true,
                  "pattern": "^billingAccounts/[^/]+$",
                  "location": "path",
                  "description": "Required. The billing account to list billing account SKU groups from. Format: billingAccounts/{billing_account}"
                }
              },
              "response": {
                "$ref": "GoogleCloudBillingBillingaccountskugroupsV1betaListBillingAccountSkuGroupsResponse"
              },
              "path": "v1beta/{+parent}/skuGroups",
              "description": "Lists SKU groups visible to a billing account."
            },
            "get": {
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^billingAccounts/[^/]+/skuGroups/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the BillingAccountSkuGroup to retrieve. Format: billingAccounts/{billing_account}/skuGroups/{sku_group}"
                }
              },
              "response": {
                "$ref": "GoogleCloudBillingBillingaccountskugroupsV1betaBillingAccountSkuGroup"
              },
              "path": "v1beta/{+name}",
              "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skuGroups/{skuGroupsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "cloudbilling.billingAccounts.skuGroups.get",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "description": "Gets a SKU group visible to a billing account."
            }
          },
          "resources": {
            "skus": {
              "methods": {
                "list": {
                  "description": "Lists SKUs that is part of billing account SKU groups.",
                  "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skuGroups/{skuGroupsId}/skus",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-billing",
                    "https://www.googleapis.com/auth/cloud-billing.readonly",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "id": "cloudbilling.billingAccounts.skuGroups.skus.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaListBillingAccountSkuGroupSkusResponse"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^billingAccounts/[^/]+/skuGroups/[^/]+$",
                      "location": "path",
                      "description": "Required. The billing account SKU group to list billing account SKU group SKUs from. Format: billingAccounts/{billing_account}/skuGroups/{sku_group}",
                      "type": "string",
                      "required": true
                    },
                    "pageSize": {
                      "description": "Maximum number of billing account SKU group SKUs to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "Page token received from a previous ListBillingAccountSkuGroupSkus call to retrieve the next page of results. If this field is empty, the first page is returned.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1beta/{+parent}/skus"
                },
                "get": {
                  "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skuGroups/{skuGroupsId}/skus/{skusId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-billing",
                    "https://www.googleapis.com/auth/cloud-billing.readonly",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "id": "cloudbilling.billingAccounts.skuGroups.skus.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaBillingAccountSkuGroupSku"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the billing account SKU group SKU to retrieve. Format: billingAccounts/{billing_account}/skuGroups/{sku_group}/skus/{sku}",
                      "pattern": "^billingAccounts/[^/]+/skuGroups/[^/]+/skus/[^/]+$",
                      "location": "path"
                    }
                  },
                  "path": "v1beta/{+name}",
                  "description": "Gets a SKU that is part of a billing account SKU group."
                }
              }
            }
          }
        }
      }
    },
    "skus": {
      "resources": {
        "prices": {
          "methods": {
            "list": {
              "description": "Lists the latest prices for all SKUs.",
              "httpMethod": "GET",
              "id": "cloudbilling.skus.prices.list",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1beta/skus/{skusId}/prices",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta/{+parent}/prices",
              "response": {
                "$ref": "GoogleCloudBillingPricesV1betaListPricesResponse"
              },
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "description": "Optional. Maximum number of prices to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000.",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "Optional. Page token received from a previous ListPrices call to retrieve the next page of results. If this field is empty, the first page is returned.",
                  "location": "query",
                  "type": "string"
                },
                "currencyCode": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. ISO-4217 currency code for the price. If not specified, USD will be used."
                },
                "parent": {
                  "description": "Required. To list the prices for all SKUs, use `-` as the SKU ID. Format: `skus/-` Specifying a specific SKU ID returns a collection with one Price object for the SKU.",
                  "pattern": "^skus/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              }
            }
          }
        },
        "price": {
          "methods": {
            "get": {
              "description": "Gets the latest price for the given SKU.",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^skus/[^/]+/price$",
                  "location": "path",
                  "description": "Required. Name of the latest price to retrieve. Format: skus/{sku}/price"
                },
                "currencyCode": {
                  "description": "Optional. ISO-4217 currency code for the price. If not specified, USD will be used.",
                  "location": "query",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleCloudBillingPricesV1betaPrice"
              },
              "path": "v1beta/{+name}",
              "flatPath": "v1beta/skus/{skusId}/price",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "cloudbilling.skus.price.get",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET"
            }
          }
        }
      }
    }
  },
  "schemas": {
    "Insight": {
      "id": "Insight",
      "type": "object",
      "properties": {
        "description": {
          "readOnly": true,
          "description": "Output only. The description of the insight.",
          "type": "string"
        },
        "title": {
          "description": "Output only. The title of the insight.",
          "readOnly": true,
          "type": "string"
        },
        "severity": {
          "enumDescriptions": [
            "Default value. Should not be used.",
            "The insight is useful, but no action is required.",
            "The insight is useful, and some action may be required.",
            "The insight is useful, and immediate action is required."
          ],
          "description": "Output only. The severity of the insight, used for UI rendering (e.g., color-coding).",
          "readOnly": true,
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "INFO",
            "WARNING",
            "CRITICAL"
          ]
        }
      },
      "description": "e.g. insight: title: \"Cost Increase (The Explanation)\" description: \"Your cost increase was driven by Vertex AI Online Prediction in us-central1...\" severity: INFO"
    },
    "Rejection": {
      "id": "Rejection",
      "type": "object",
      "properties": {
        "reason": {
          "readOnly": true,
          "description": "Output only. The reason for the rejection.",
          "enumDescriptions": [
            "Default value. Should not be used.",
            "The user explicitly asked about a service that is not Gemini or Vertex AI."
          ],
          "enum": [
            "REASON_UNSPECIFIED",
            "EXPLICIT_OUT_OF_SCOPE"
          ],
          "type": "string"
        },
        "displayMessage": {
          "readOnly": true,
          "description": "Output only. A user-facing message explaining the rejection.",
          "type": "string"
        }
      },
      "description": "Encapsulates details about why a request was rejected."
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaBillingAccountSkuGroupSku": {
      "properties": {
        "name": {
          "description": "Resource name for the BillingAccountSkuGroupSku. Example: \"billingAccounts/012345-567890-ABCDEF/skuGroups/0e6403d1-4694-44d2-a696-7a78b1a69301/skus/AA95-CD31-42FE\".",
          "type": "string"
        },
        "displayName": {
          "description": "Description of the BillingAccountSkuGroupSku. Example: \"A2 Instance Core running in Hong Kong\".",
          "type": "string"
        },
        "billingAccountService": {
          "description": "BillingAccountService that the BillingAccountSkuGroupSku belongs to.",
          "type": "string"
        },
        "skuId": {
          "description": "Unique identifier for the SKU. It is the string after the collection identifier \"skus/\" Example: \"AA95-CD31-42FE\".",
          "type": "string"
        },
        "geoTaxonomy": {
          "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomy",
          "description": "Geographic metadata that applies to the BillingAccountSkuGroupSku."
        },
        "productTaxonomy": {
          "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaProductTaxonomy",
          "description": "List of product categories that apply to the BillingAccountSkuGroupSku."
        }
      },
      "description": "Encapsulates a SKU that is part of a billing account SKU group.",
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaBillingAccountSkuGroupSku",
      "type": "object"
    },
    "ColumnInfo": {
      "properties": {
        "column": {
          "description": "Name of the column.",
          "type": "string"
        }
      },
      "description": "Represents a column header.",
      "id": "ColumnInfo",
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegional": {
      "id": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegional",
      "type": "object",
      "properties": {
        "region": {
          "description": "Google Cloud region associated with the regional geographic taxonomy.",
          "$ref": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegion"
        }
      },
      "description": "Encapsulates a regional geographic taxonomy."
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaListBillingAccountSkuGroupSkusResponse": {
      "description": "Response message for ListBillingAccountSkuGroupSkus.",
      "properties": {
        "billingAccountSkuGroupSkus": {
          "description": "The returned billing account SKU group SKUs.",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaBillingAccountSkuGroupSku"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaListBillingAccountSkuGroupSkusResponse",
      "type": "object"
    },
    "UserContext": {
      "description": "Additional context for personalization (e.g., user persona, role).",
      "properties": {
        "role": {
          "description": "Optional. The user's role (e.g., Billing Admin, Project Owner, etc.).",
          "type": "string"
        },
        "persona": {
          "description": "Optional. The user's persona (e.g., FinOps Manager, Developer).",
          "enum": [
            "PERSONA_UNSPECIFIED",
            "FINOPS_MANAGER",
            "DEVELOPER"
          ],
          "enumDescriptions": [
            "Default value. Should not be used.",
            "The user is a FinOps Manager.",
            "The user is a Developer."
          ],
          "type": "string"
        }
      },
      "id": "UserContext",
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountskugroupsV1betaListBillingAccountSkuGroupsResponse": {
      "id": "GoogleCloudBillingBillingaccountskugroupsV1betaListBillingAccountSkuGroupsResponse",
      "type": "object",
      "properties": {
        "billingAccountSkuGroups": {
          "type": "array",
          "description": "The returned publicly listed billing account SKU groups.",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskugroupsV1betaBillingAccountSkuGroup"
          }
        },
        "nextPageToken": {
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for ListBillingAccountSkuGroups."
    },
    "GoogleCloudBillingSkugroupskusV1betaTaxonomyCategory": {
      "description": "Encapsulates a product category.",
      "properties": {
        "category": {
          "description": "Name of the product category.",
          "type": "string"
        }
      },
      "id": "GoogleCloudBillingSkugroupskusV1betaTaxonomyCategory",
      "type": "object"
    },
    "Map": {
      "description": "An unordered mapping from key to value, represented as a collection of map entries.",
      "properties": {
        "entry": {
          "items": {
            "$ref": "MapEntry"
          },
          "description": "Represents the map entries in the map.",
          "type": "array"
        }
      },
      "id": "Map",
      "type": "object"
    },
    "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyGlobal": {
      "id": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyGlobal",
      "type": "object",
      "properties": {},
      "description": "Encapsulates a global geographic taxonomy."
    },
    "GoogleCloudBillingBillingaccountpricesV1betaListBillingAccountPricesResponse": {
      "id": "GoogleCloudBillingBillingaccountpricesV1betaListBillingAccountPricesResponse",
      "type": "object",
      "description": "Response message for ListBillingAccountPrices.",
      "properties": {
        "nextPageToken": {
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        },
        "billingAccountPrices": {
          "type": "array",
          "description": "The returned billing account prices.",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountpricesV1betaBillingAccountPrice"
          }
        }
      }
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyGlobal": {
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyGlobal",
      "type": "object",
      "description": "Encapsulates a global geographic taxonomy.",
      "properties": {}
    },
    "GoogleCloudBillingSkugroupskusV1betaProductTaxonomy": {
      "properties": {
        "taxonomyCategories": {
          "items": {
            "$ref": "GoogleCloudBillingSkugroupskusV1betaTaxonomyCategory"
          },
          "description": "All product categories that the SKU group SKU belongs to.",
          "type": "array"
        }
      },
      "description": "Encapsulates product categories, such as `Serverless`, `Cloud Run`, `TaskQueue`, and others.",
      "id": "GoogleCloudBillingSkugroupskusV1betaProductTaxonomy",
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountpricesV1betaFixedPrice": {
      "id": "GoogleCloudBillingBillingaccountpricesV1betaFixedPrice",
      "type": "object",
      "properties": {},
      "description": "Encapsulates a set fixed price applicable during the terms of a contract agreement."
    },
    "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomy": {
      "id": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomy",
      "type": "object",
      "description": "Encapsulates geographic metadata, such as regions and multi-regions like `us-east4` or `European Union`.",
      "properties": {
        "globalMetadata": {
          "$ref": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyGlobal",
          "description": "Global geographic metadata with no regions."
        },
        "regionalMetadata": {
          "description": "Regional geographic metadata with 1 region.",
          "$ref": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegional"
        },
        "multiRegionalMetadata": {
          "description": "Multi-regional geographic metadata with 2 or more regions.",
          "$ref": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyMultiRegional"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Default value. Unspecified type.",
            "Global geographic taxonomy with no regions.",
            "Regional geographic taxonomy with 1 region.",
            "Multi-regional geographic taxonomy with 2 or more regions."
          ],
          "description": "Type of geographic taxonomy associated with the SKU group SKU.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_GLOBAL",
            "TYPE_REGIONAL",
            "TYPE_MULTI_REGIONAL"
          ]
        }
      }
    },
    "BillingDataResource": {
      "properties": {
        "billingAccount": {
          "description": "Optional. If not provided the billing account currently associated with the resource will be used.",
          "type": "string"
        },
        "resource": {
          "description": "Required. Resource name for an entitity that can be used for authorization to access billing data such as `projects/{project}` or `billingAccounts/{billing_account}`",
          "type": "string"
        }
      },
      "description": "Specifies a Billing data resource that can be used for authorization to access billing data.",
      "id": "BillingDataResource",
      "type": "object"
    },
    "GoogleCloudBillingPricesV1betaPrice": {
      "description": "Encapsulates the latest price for a SKU.",
      "properties": {
        "currencyCode": {
          "description": "ISO-4217 currency code for the price.",
          "type": "string"
        },
        "rate": {
          "description": "Rate price metadata. SKUs with `Rate` price are offered by pricing tiers. The price can have 1 or more rate pricing tiers.",
          "$ref": "GoogleCloudBillingPricesV1betaRate"
        },
        "name": {
          "description": "Resource name for the latest price.",
          "type": "string"
        },
        "valueType": {
          "description": "Type of the price. It can have values: [\"unspecified\", \"rate\"].",
          "type": "string"
        }
      },
      "id": "GoogleCloudBillingPricesV1betaPrice",
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomy": {
      "id": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomy",
      "type": "object",
      "description": "Encapsulates geographic metadata, such as regions and multi-regions like `us-east4` or `European Union`.",
      "properties": {
        "regionalMetadata": {
          "$ref": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegional",
          "description": "Regional geographic metadata with 1 region."
        },
        "globalMetadata": {
          "$ref": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyGlobal",
          "description": "Global geographic metadata with no regions."
        },
        "multiRegionalMetadata": {
          "description": "Multi-regional geographic metadata with 2 or more regions.",
          "$ref": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyMultiRegional"
        },
        "type": {
          "description": "Type of geographic taxonomy associated with the billing account SKU.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_GLOBAL",
            "TYPE_REGIONAL",
            "TYPE_MULTI_REGIONAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. Unspecified type.",
            "Global geographic taxonomy with no regions.",
            "Regional geographic taxonomy with 1 region.",
            "Multi-regional geographic taxonomy with 2 or more regions."
          ]
        }
      }
    },
    "GoogleCloudBillingBillingaccountpricesV1betaRate": {
      "properties": {
        "unitInfo": {
          "description": "Unit info such as name and quantity.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaUnitInfo"
        },
        "tiers": {
          "type": "array",
          "description": "All tiers associated with the `Rate` price.",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountpricesV1betaRateTier"
          }
        },
        "aggregationInfo": {
          "description": "Aggregation info for tiers such as aggregation level and interval.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaAggregationInfo"
        }
      },
      "description": "Encapsulates a `Rate` price. Billing account SKUs with `Rate` price are offered by pricing tiers. The price have 1 or more rate pricing tiers.",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaRate",
      "type": "object"
    },
    "BillingData": {
      "properties": {
        "columnInfo": {
          "items": {
            "$ref": "ColumnInfo"
          },
          "description": "Information about columns.",
          "type": "array"
        },
        "rows": {
          "items": {
            "$ref": "Row"
          },
          "description": "Rows.",
          "type": "array"
        }
      },
      "description": "Encapsulates billing data.",
      "id": "BillingData",
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountpricesV1betaFloatingDiscount": {
      "id": "GoogleCloudBillingBillingaccountpricesV1betaFloatingDiscount",
      "type": "object",
      "properties": {
        "discountPercent": {
          "$ref": "Decimal",
          "description": "Percentage of the floating discount."
        },
        "skuGroup": {
          "description": "SKU group where the floating discount comes from.",
          "type": "string"
        },
        "discountScopeType": {
          "description": "Type of the floating discount scope which indicates the source of the discount. It can have values such as 'unspecified' and 'sku-group'.",
          "type": "string"
        }
      },
      "description": "Encapsulates a discount off the current list price, not anchored to any list price as of a fixed time."
    },
    "GoogleCloudBillingBillingaccountskusV1betaTaxonomyCategory": {
      "id": "GoogleCloudBillingBillingaccountskusV1betaTaxonomyCategory",
      "type": "object",
      "properties": {
        "category": {
          "description": "Name of the product category.",
          "type": "string"
        }
      },
      "description": "Encapsulates a product category."
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaTaxonomyCategory": {
      "description": "Encapsulates a product category.",
      "properties": {
        "category": {
          "description": "Name of the product category.",
          "type": "string"
        }
      },
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaTaxonomyCategory",
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountservicesV1betaBillingAccountService": {
      "description": "Encapsulates a Google Cloud service visible to a billing account.",
      "properties": {
        "displayName": {
          "description": "Description of the BillingAccountService. Example: \"BigQuery\", \"Compute Engine\".",
          "type": "string"
        },
        "name": {
          "description": "Resource name for the BillingAccountService. Example: \"billingAccounts/012345-567890-ABCDEF/services/DA34-426B-A397\".",
          "type": "string"
        },
        "serviceId": {
          "description": "Identifier for the service. It is the string after the collection identifier \"services/\". Example: \"DA34-426B-A397\".",
          "type": "string"
        }
      },
      "id": "GoogleCloudBillingBillingaccountservicesV1betaBillingAccountService",
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyGlobal": {
      "id": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyGlobal",
      "type": "object",
      "description": "Encapsulates a global geographic taxonomy.",
      "properties": {}
    },
    "GoogleCloudBillingPricesV1betaUnitInfo": {
      "properties": {
        "unitQuantity": {
          "description": "Unit quantity for the tier. Example: if the RateTier price is $1 per 1000000 Bytes, then `unit_quantity` is set to 1000000.",
          "$ref": "Decimal"
        },
        "unit": {
          "description": "Shorthand for the unit. Example: GiBy.mo.",
          "type": "string"
        },
        "unitDescription": {
          "description": "Human-readable description of the unit. Example: gibibyte month.",
          "type": "string"
        }
      },
      "description": "Encapsulates the unit information for a Rate",
      "id": "GoogleCloudBillingPricesV1betaUnitInfo",
      "type": "object"
    },
    "GenerateInsightsRequest": {
      "description": "Request for GenerateInsights.",
      "properties": {
        "parents": {
          "description": "Optional. The billing account or projects to analyze.",
          "items": {
            "$ref": "BillingDataResource"
          },
          "type": "array"
        },
        "userContext": {
          "description": "Optional. Additional context for personalization (e.g., user persona, role).",
          "$ref": "UserContext"
        },
        "overriddenMaxIterationCounts": {
          "description": "Optional. Overrides the maximum iterations for any selected strategy.",
          "format": "int32",
          "type": "integer"
        },
        "filter": {
          "description": "Optional. Filters cost data by service id. Follows https://google.aip.dev/160 for the filter syntax. eg. filter: \"service = 'C7E2-9256-1C43'\"",
          "type": "string"
        },
        "prompt": {
          "description": "Required. The natural language prompt from the user.",
          "type": "string"
        }
      },
      "id": "GenerateInsightsRequest",
      "type": "object"
    },
    "SuggestedQuery": {
      "id": "SuggestedQuery",
      "type": "object",
      "properties": {
        "query": {
          "description": "The natural language query.",
          "type": "string"
        }
      },
      "description": "A suggested follow-up query for the user."
    },
    "GoogleCloudBillingBillingaccountskugroupsV1betaBillingAccountSkuGroup": {
      "id": "GoogleCloudBillingBillingaccountskugroupsV1betaBillingAccountSkuGroup",
      "type": "object",
      "properties": {
        "name": {
          "description": "Resource name for the BillingAccountSkuGroup. Example: \"billingAccounts/012345-567890-ABCDEF/skuGroups/0e6403d1-4694-44d2-a696-7a78b1a69301\".",
          "type": "string"
        },
        "displayName": {
          "description": "Description of the BillingAccountSkuGroup. Example: \"A2 VMs (1 Year CUD)\".",
          "type": "string"
        }
      },
      "description": "Encapsulates a stock keeping (SKU) group visible to a billing account. A SKU group represents a collection of SKUs that are related to each other. For example, the `AI Platform APIs` SKU group includes SKUs from the Cloud Dialogflow API, the Cloud Text-to-Speech API, and additional related APIs."
    },
    "AgenticQueryInfo": {
      "id": "AgenticQueryInfo",
      "type": "object",
      "properties": {
        "parents": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The parents (e.g. projects, billing accounts) queried."
        },
        "view": {
          "description": "The view queried.",
          "type": "string"
        },
        "limit": {
          "description": "The row limit applied to the query.",
          "format": "int32",
          "type": "integer"
        },
        "orderBy": {
          "description": "The order-by clause applied to the query.",
          "type": "string"
        },
        "groupBy": {
          "description": "The group-by clause applied to the query.",
          "type": "string"
        },
        "columns": {
          "description": "The columns queried.",
          "type": "string"
        },
        "filter": {
          "description": "The filter applied to the query.",
          "type": "string"
        }
      },
      "description": "A local representation of the query used to fetch the data. This is used instead of the raw QueryBillingDataRequest to avoid pulling in Cloud Policy Enforcement (CPE) resource_type annotations into the response payload, which causes ESF validation failures."
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegion": {
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegion",
      "type": "object",
      "properties": {
        "region": {
          "description": "Description of a Google Cloud region. Example: \"us-west2\".",
          "type": "string"
        }
      },
      "description": "Encapsulates a Google Cloud region."
    },
    "FinalResult": {
      "description": "Encapsulates all structured data and the completed summary.",
      "properties": {
        "fullAnalysis": {
          "type": "string",
          "description": "Output only. Contains the full natural language analysis, including thoughts, reasoning, and references.",
          "readOnly": true
        },
        "summary": {
          "description": "Output only. The full natural language summary (re-sent for consistency).",
          "readOnly": true,
          "type": "string"
        },
        "interopLinks": {
          "type": "array",
          "description": "Output only. Links to interoperable tools (e.g., pre-filtered Cost Reports or BQE queries).",
          "readOnly": true,
          "items": {
            "$ref": "InteropLink"
          }
        },
        "suggestedQueries": {
          "type": "array",
          "description": "Output only. A list of suggested follow-up queries for the user.",
          "readOnly": true,
          "items": {
            "$ref": "SuggestedQuery"
          }
        },
        "insights": {
          "readOnly": true,
          "items": {
            "$ref": "Insight"
          },
          "description": "Output only. A list of discrete insights gleaned from the data.",
          "type": "array"
        },
        "dataSets": {
          "readOnly": true,
          "items": {
            "$ref": "DataSet"
          },
          "description": "Output only. Data sets used to support the insights, suitable for UI rendering (tables/charts).",
          "type": "array"
        }
      },
      "id": "FinalResult",
      "type": "object"
    },
    "GenerateInsightsResponse": {
      "id": "GenerateInsightsResponse",
      "type": "object",
      "description": "Response for GenerateInsights.",
      "properties": {
        "finalResult": {
          "description": "Output only. The final structured results and metadata. Usually sent as the final message in the stream.",
          "readOnly": true,
          "$ref": "FinalResult"
        },
        "rejection": {
          "readOnly": true,
          "$ref": "Rejection",
          "description": "Output only. The request was rejected (e.g. out of scope)."
        },
        "thoughtChunk": {
          "readOnly": true,
          "description": "Output only. A chunk of the agent's internal reasoning process. The UI can use this to render a \"Thinking...\" log or status.",
          "type": "string"
        },
        "summaryChunk": {
          "description": "Output only. A chunk of the natural language summary (customer-facing). The UI can append these chunks to provide a real-time \"typing\" effect.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "DataSet": {
      "id": "DataSet",
      "type": "object",
      "properties": {
        "billingData": {
          "readOnly": true,
          "$ref": "BillingData",
          "description": "Output only. Actual billing data returned from the Data Mart. Uses the formal message from the Billing Data Service."
        },
        "suggestedChart": {
          "description": "Output only. A suggested chart for the data set, used for UI rendering.",
          "readOnly": true,
          "$ref": "SuggestedChart"
        },
        "queryInfo": {
          "description": "Output only. The query used to fetch this data.",
          "readOnly": true,
          "$ref": "AgenticQueryInfo"
        }
      },
      "description": "A dataset used to support an insight, suitable for UI rendering (tables/charts)."
    },
    "Decimal": {
      "id": "Decimal",
      "type": "object",
      "properties": {
        "value": {
          "description": "The decimal value, as a string. The string representation consists of an optional sign, `+` (`U+002B`) or `-` (`U+002D`), followed by a sequence of zero or more decimal digits (\"the integer\"), optionally followed by a fraction, optionally followed by an exponent. An empty string **should** be interpreted as `0`. The fraction consists of a decimal point followed by zero or more decimal digits. The string must contain at least one digit in either the integer or the fraction. The number formed by the sign, the integer and the fraction is referred to as the significand. The exponent consists of the character `e` (`U+0065`) or `E` (`U+0045`) followed by one or more decimal digits. Services **should** normalize decimal values before storing them by: - Removing an explicitly-provided `+` sign (`+2.5` -> `2.5`). - Replacing a zero-length integer value with `0` (`.5` -> `0.5`). - Coercing the exponent character to upper-case, with explicit sign (`2.5e8` -> `2.5E+8`). - Removing an explicitly-provided zero exponent (`2.5E0` -> `2.5`). Services **may** perform additional normalization based on its own needs and the internal decimal implementation selected, such as shifting the decimal point and exponent value together (example: `2.5E-1` <-> `0.25`). Additionally, services **may** preserve trailing zeroes in the fraction to indicate increased precision, but are not required to do so. Note that only the `.` character is supported to divide the integer and the fraction; `,` **should not** be supported regardless of locale. Additionally, thousand separators **should not** be supported. If a service does support them, values **must** be normalized. The ENBF grammar is: DecimalString = '' | [Sign] Significand [Exponent]; Sign = '+' | '-'; Significand = Digits '.' | [Digits] '.' Digits; Exponent = ('e' | 'E') [Sign] Digits; Digits = { '0' | '1' | '2' | '3' | '4' | '5' | '6' | '7' | '8' | '9' }; Services **should** clearly document the range of supported values, the maximum supported precision (total number of digits), and, if applicable, the scale (number of digits after the decimal point), as well as how it behaves when receiving out-of-bounds values. Services **may** choose to accept values passed as input even when the value has a higher precision or scale than the service supports, and **should** round the value to fit the supported scale. Alternatively, the service **may** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if precision would be lost. Services **should** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if the service receives a value outside of the supported range.",
          "type": "string"
        }
      },
      "description": "A representation of a decimal value, such as 2.5. Clients may convert values into language-native decimal formats, such as Java's [BigDecimal](https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/math/BigDecimal.html) or Python's [decimal.Decimal](https://docs.python.org/3/library/decimal.html)."
    },
    "GoogleCloudBillingSkugroupsV1betaSkuGroup": {
      "id": "GoogleCloudBillingSkugroupsV1betaSkuGroup",
      "type": "object",
      "description": "Encapsulates a publicly listed stock keeping unit (SKU) group. A SKU group represents a collection of SKUs that are related to each other. For example, the `AI Platform APIs` SKU group includes SKUs from the Cloud Dialogflow API, the Cloud Text-to-Speech API, and additional related APIs.",
      "properties": {
        "name": {
          "description": "Resource name for the SKU group. Example: \"skuGroups/0e6403d1-4694-44d2-a696-7a78b1a69301\".",
          "type": "string"
        },
        "displayName": {
          "description": "Description of the SKU group. Example: \"A2 VMs (1 Year CUD)\".",
          "type": "string"
        }
      }
    },
    "GoogleCloudBillingBillingaccountpricesV1betaPriceReason": {
      "id": "GoogleCloudBillingBillingaccountpricesV1betaPriceReason",
      "type": "object",
      "properties": {
        "mergedPrice": {
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaMergedPrice",
          "description": "Price after merging from multiple sources."
        },
        "fixedPrice": {
          "description": "Fixed price applicable during the terms of a contract agreement.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaFixedPrice"
        },
        "floatingDiscount": {
          "description": "Discount off the current list price, not anchored to any list price as of a fixed time.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaFloatingDiscount"
        },
        "defaultPrice": {
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaDefaultPrice",
          "description": "Default price which is the current list price."
        },
        "fixedDiscount": {
          "description": "Discount off the list price, anchored to the list price as of a fixed time.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaFixedDiscount"
        },
        "migratedPrice": {
          "description": "Price migrated from other SKUs.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaMigratedPrice"
        },
        "listPriceAsCeiling": {
          "description": "Contract feature that the list price (DefaultPrice) will be used for the price if the current list price drops lower than the custom fixed price. Available to new contracts after March 21, 2022. Applies to all fixed price SKUs in the contract, including FixedPrice, FixedDiscount, MigratedPrice, and MergedPrice.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaListPriceAsCeiling"
        },
        "type": {
          "description": "Type of the price reason. It can have values such as 'unspecified', 'default-price', 'fixed-price', 'fixed-discount', 'floating-discount', 'migrated-price', 'merged-price', 'list-price-as-ceiling'.",
          "type": "string"
        }
      },
      "description": "Encapsulates a price reason which contains background information about the origin of the price."
    },
    "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegion": {
      "description": "Encapsulates a Google Cloud region.",
      "properties": {
        "region": {
          "description": "Description of a Google Cloud region. Example: \"us-west2\".",
          "type": "string"
        }
      },
      "id": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegion",
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountpricesV1betaMergedPrice": {
      "id": "GoogleCloudBillingBillingaccountpricesV1betaMergedPrice",
      "type": "object",
      "description": "Encapsulates a price after merging from multiple sources. With merged tiers, each individual tier can be from a different source with different discount types.",
      "properties": {}
    },
    "GoogleCloudBillingPricesV1betaAggregationInfo": {
      "id": "GoogleCloudBillingPricesV1betaAggregationInfo",
      "type": "object",
      "description": "Encapsulates the aggregation information such as aggregation level and interval for a price.",
      "properties": {
        "level": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "Usage is aggregated at an account level.",
            "Usage is aggregated at a project level."
          ],
          "description": "Level at which usage is aggregated to compute cost. Example: \"ACCOUNT\" level indicates that usage is aggregated across all projects in a single account.",
          "enum": [
            "LEVEL_UNSPECIFIED",
            "LEVEL_ACCOUNT",
            "LEVEL_PROJECT"
          ]
        },
        "interval": {
          "description": "Interval at which usage is aggregated to compute cost. Example: \"MONTHLY\" interval indicates that usage is aggregated every month.",
          "enum": [
            "INTERVAL_UNSPECIFIED",
            "INTERVAL_MONTHLY",
            "INTERVAL_DAILY"
          ],
          "enumDescriptions": [
            "Default unspecified value.",
            "Usage is aggregated every month.",
            "Usage is aggregated every day."
          ],
          "type": "string"
        }
      }
    },
    "SuggestedChart": {
      "id": "SuggestedChart",
      "type": "object",
      "properties": {
        "yAxisLabel": {
          "description": "The label of the y-axis.",
          "type": "string"
        },
        "xAxisField": {
          "description": "The field used for the x-axis.",
          "type": "string"
        },
        "yAxisField": {
          "description": "The field used for the y-axis.",
          "type": "string"
        },
        "chartTitle": {
          "description": "The title of the chart.",
          "type": "string"
        },
        "chartType": {
          "description": "The type of the chart.",
          "enum": [
            "CHART_TYPE_UNSPECIFIED",
            "BAR_CHART",
            "UNCHARTABLE",
            "LINE_CHART",
            "AREA_CHART"
          ],
          "enumDescriptions": [
            "Default value. Should not be used.",
            "Represents a bar chart.",
            "The data set cannot be rendered as a chart.",
            "Represents a line chart. Suitable for quantitative and temporal data on the x-axis.",
            "Represents an area chart."
          ],
          "type": "string"
        },
        "xAxisLabel": {
          "description": "The label of the x-axis.",
          "type": "string"
        },
        "seriesField": {
          "description": "The field used for the series (e.g., color-coding). Optional, but recommended for time-series data.",
          "type": "string"
        }
      },
      "description": "A suggested chart for the data set, used for UI rendering."
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyMultiRegional": {
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyMultiRegional",
      "type": "object",
      "description": "Encapsulates a multi-regional geographic taxonomy.",
      "properties": {
        "regions": {
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegion"
          },
          "description": "Google Cloud regions associated with the multi-regional geographic taxonomy.",
          "type": "array"
        }
      }
    },
    "GoogleCloudBillingBillingaccountskusV1betaProductTaxonomy": {
      "properties": {
        "taxonomyCategories": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskusV1betaTaxonomyCategory"
          },
          "description": "All product categories that the billing account SKU belong to."
        }
      },
      "description": "Encapsulates product categories, such as `Serverless`, `Cloud Run`, `TaskQueue`, and others.",
      "id": "GoogleCloudBillingBillingaccountskusV1betaProductTaxonomy",
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountpricesV1betaListPriceAsCeiling": {
      "properties": {},
      "description": "Encapsulates a contract feature that the list price (DefaultPrice) will be used for the price if the current list price drops lower than the custom fixed price. Available to new contracts after March 21, 2022. Applies to all fixed price SKUs in the contract, including FixedPrice, FixedDiscount, MigratedPrice, and MergedPrice.",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaListPriceAsCeiling",
      "type": "object"
    },
    "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegional": {
      "id": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegional",
      "type": "object",
      "properties": {
        "region": {
          "description": "Google Cloud region associated with the regional geographic taxonomy.",
          "$ref": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegion"
        }
      },
      "description": "Encapsulates a regional geographic taxonomy."
    },
    "GoogleCloudBillingBillingaccountpricesV1betaFixedDiscount": {
      "properties": {
        "skuGroup": {
          "description": "SKU group where the fixed discount comes from.",
          "type": "string"
        },
        "discountScopeType": {
          "description": "Type of the fixed discount scope which indicates the source of the discount. It can have values such as 'unspecified' and 'sku-group'.",
          "type": "string"
        },
        "discountPercent": {
          "description": "Percentage of the fixed discount.",
          "$ref": "Decimal"
        },
        "fixTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time that the fixed discount is anchored to."
        }
      },
      "description": "Encapsulates a discount off the list price, anchored to the list price as of a fixed time.",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaFixedDiscount",
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountpricesV1betaDefaultPrice": {
      "description": "Encapsulates a default price which is the current list price.",
      "properties": {},
      "id": "GoogleCloudBillingBillingaccountpricesV1betaDefaultPrice",
      "type": "object"
    },
    "InteropLink": {
      "id": "InteropLink",
      "type": "object",
      "properties": {
        "label": {
          "type": "string",
          "description": "Output only. The label of the link, suitable for UI rendering.",
          "readOnly": true
        },
        "linkType": {
          "enumDescriptions": [
            "Default value. Should not be used.",
            "A link to a Cost Report in Google Cloud Console.",
            "A link to a BigQuery Export query.",
            "A link to a FinOps Hub page."
          ],
          "description": "Output only. The type of the interop link, e.g., \"COST_REPORT\", \"BQE_QUERY\", etc.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "LINK_TYPE_UNSPECIFIED",
            "COST_REPORT",
            "BQE_QUERY",
            "FINOPS_HUB"
          ]
        },
        "url": {
          "readOnly": true,
          "description": "Output only. The URL of the link.",
          "type": "string"
        }
      },
      "description": "A link to interoperable tools (e.g., pre-filtered Cost Reports, BQE queries)."
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomy": {
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomy",
      "type": "object",
      "description": "Encapsulates geographic metadata, such as regions and multi-regions like `us-east4` or `European Union`.",
      "properties": {
        "regionalMetadata": {
          "description": "Regional geographic metadata with 1 region.",
          "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegional"
        },
        "globalMetadata": {
          "description": "Global geographic metadata with no regions.",
          "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyGlobal"
        },
        "multiRegionalMetadata": {
          "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyMultiRegional",
          "description": "Multi-regional geographic metadata with 2 or more regions."
        },
        "type": {
          "description": "Type of geographic taxonomy associated with the billing account SKU group SKU.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_GLOBAL",
            "TYPE_REGIONAL",
            "TYPE_MULTI_REGIONAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. Unspecified type.",
            "Global geographic taxonomy with no regions.",
            "Regional geographic taxonomy with 1 region.",
            "Multi-regional geographic taxonomy with 2 or more regions."
          ]
        }
      }
    },
    "GoogleCloudBillingPricesV1betaListPricesResponse": {
      "description": "Response message for ListPrices.",
      "properties": {
        "prices": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingPricesV1betaPrice"
          },
          "description": "The returned publicly listed prices."
        },
        "nextPageToken": {
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleCloudBillingPricesV1betaListPricesResponse",
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountpricesV1betaRateTier": {
      "description": "Encapsulates a rate price tier.",
      "properties": {
        "listPrice": {
          "description": "List price of one tier.",
          "$ref": "Money"
        },
        "contractPrice": {
          "description": "Negotiated contract price specific for a billing account.",
          "$ref": "Money"
        },
        "effectiveDiscountPercent": {
          "description": "Percentage of effective discount calculated using the current list price per pricing tier. Formula used: effective_discount_percent = (list_price - contract_price) / list_price × 100 If list_price and contract_price are zero, this field is the same as `discount_percent` of FixedDiscount and FloatingDiscount. If your contract does NOT have the feature LIST_PRICE_AS_CEILING enabled, the effective_discount_percent can be negative if the SKU has a FixedDiscount and the current list price is lower than the list price on the date of the contract agreement. See the `FixedDiscount.fix_time` on when the discount was set. If you have questions regarding pricing per SKU, contact your Account team for more details.",
          "$ref": "Decimal"
        },
        "startAmount": {
          "description": "Lower bound amount for a tier. Tiers 0-100, 100-200 will be represented with two tiers with `start_amount` 0 and 100.",
          "$ref": "Decimal"
        }
      },
      "id": "GoogleCloudBillingBillingaccountpricesV1betaRateTier",
      "type": "object"
    },
    "Row": {
      "id": "Row",
      "type": "object",
      "properties": {
        "values": {
          "type": "array",
          "description": "Values for a row in the column order.",
          "items": {
            "$ref": "ValueProto"
          }
        }
      },
      "description": "Represents a row in the query result."
    },
    "Money": {
      "properties": {
        "currencyCode": {
          "description": "The three-letter currency code defined in ISO 4217.",
          "type": "string"
        },
        "units": {
          "format": "int64",
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "type": "string"
        },
        "nanos": {
          "type": "integer",
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "format": "int32"
        }
      },
      "description": "Represents an amount of money with its currency type.",
      "id": "Money",
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountpricesV1betaMigratedPrice": {
      "id": "GoogleCloudBillingBillingaccountpricesV1betaMigratedPrice",
      "type": "object",
      "description": "Encapsulates a price migrated from other SKUs.",
      "properties": {
        "sourceSku": {
          "description": "Source SKU where the discount is migrated from. Format: billingAccounts/{billing_account}/skus/{sku}",
          "type": "string"
        }
      }
    },
    "GoogleCloudBillingBillingaccountskusV1betaListBillingAccountSkusResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        },
        "billingAccountSkus": {
          "description": "The returned billing account SKUs.",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskusV1betaBillingAccountSku"
          },
          "type": "array"
        }
      },
      "description": "Response message for ListBillingAccountSkus.",
      "id": "GoogleCloudBillingBillingaccountskusV1betaListBillingAccountSkusResponse",
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegional": {
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegional",
      "type": "object",
      "description": "Encapsulates a regional geographic taxonomy.",
      "properties": {
        "region": {
          "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegion",
          "description": "Google Cloud region associated with the regional geographic taxonomy."
        }
      }
    },
    "GoogleCloudBillingSkugroupskusV1betaSkuGroupSku": {
      "id": "GoogleCloudBillingSkugroupskusV1betaSkuGroupSku",
      "type": "object",
      "description": "Encapsulates a publicly listed stock keeping unit (SKU) that is part of a publicly listed SKU group. A SKU group represents a collection of SKUs that are related to each other. For example, the `AI Platform APIs` SKU group includes SKUs from the Cloud Dialogflow API, the Cloud Text-to-Speech API, and additional related APIs.",
      "properties": {
        "productTaxonomy": {
          "$ref": "GoogleCloudBillingSkugroupskusV1betaProductTaxonomy",
          "description": "List of product categories that apply to the SkuGroupSku."
        },
        "skuId": {
          "description": "Unique identifier for the SKU. It is the string after the collection identifier \"skus/\" Example: \"AA95-CD31-42FE\".",
          "type": "string"
        },
        "geoTaxonomy": {
          "description": "Geographic metadata that applies to the SkuGroupSku.",
          "$ref": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomy"
        },
        "displayName": {
          "description": "Description of the SkuGroupSku. Example: \"A2 Instance Core running in Hong Kong\".",
          "type": "string"
        },
        "service": {
          "description": "Service that the SkuGroupSku belongs to.",
          "type": "string"
        },
        "name": {
          "description": "Resource name for the SkuGroupSku. Example: \"skuGroups/0e6403d1-4694-44d2-a696-7a78b1a69301/skus/AA95-CD31-42FE\".",
          "type": "string"
        }
      }
    },
    "GoogleCloudBillingBillingaccountpricesV1betaUnitInfo": {
      "id": "GoogleCloudBillingBillingaccountpricesV1betaUnitInfo",
      "type": "object",
      "description": "Encapsulates the unit information for a Rate",
      "properties": {
        "unitDescription": {
          "description": "Human-readable description of the unit. Example: gibibyte month.",
          "type": "string"
        },
        "unit": {
          "description": "Shorthand for the unit. Example: GiBy.mo.",
          "type": "string"
        },
        "unitQuantity": {
          "$ref": "Decimal",
          "description": "Unit quantity for the tier. Example: if the RateTier price is $1 per 1000000 Bytes, then `unit_quantity` is set to 1000000."
        }
      }
    },
    "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyMultiRegional": {
      "id": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyMultiRegional",
      "type": "object",
      "description": "Encapsulates a multi-regional geographic taxonomy.",
      "properties": {
        "regions": {
          "type": "array",
          "description": "Google Cloud regions associated with the multi-regional geographic taxonomy.",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegion"
          }
        }
      }
    },
    "Struct": {
      "id": "Struct",
      "type": "object",
      "properties": {
        "field": {
          "type": "array",
          "description": "The fields in the struct",
          "items": {
            "$ref": "ValueProto"
          }
        }
      },
      "description": "A collection of fields. The count, order, and type of the fields is determined by the type associated with this value."
    },
    "MapEntry": {
      "id": "MapEntry",
      "type": "object",
      "properties": {
        "value": {
          "$ref": "ValueProto",
          "description": "Represents the serialized map value of the entry."
        },
        "key": {
          "$ref": "ValueProto",
          "description": "Represents the serialized map key for the entry."
        }
      },
      "description": "A single entry in a Map, representing the mapping between `key` and `value`."
    },
    "GoogleCloudBillingBillingaccountpricesV1betaBillingAccountPrice": {
      "description": "Encapsulates the latest price for a billing account SKU.",
      "properties": {
        "name": {
          "description": "Resource name for the latest billing account price.",
          "type": "string"
        },
        "rate": {
          "description": "Rate price metadata. Billing account SKUs with `Rate` price are offered by pricing tiers. The price can have 1 or more rate pricing tiers.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaRate"
        },
        "valueType": {
          "description": "Type of the price. The possible values are: [\"unspecified\", \"rate\"].",
          "type": "string"
        },
        "currencyCode": {
          "description": "ISO-4217 currency code for the price.",
          "type": "string"
        },
        "priceReason": {
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaPriceReason",
          "description": "Background information on the origin of the price."
        }
      },
      "id": "GoogleCloudBillingBillingaccountpricesV1betaBillingAccountPrice",
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountskusV1betaBillingAccountSku": {
      "properties": {
        "productTaxonomy": {
          "$ref": "GoogleCloudBillingBillingaccountskusV1betaProductTaxonomy",
          "description": "List of product categories that apply to the BillingAccountSku."
        },
        "displayName": {
          "description": "Description of the BillingAccountSku. Example: \"A2 Instance Core running in Hong Kong\".",
          "type": "string"
        },
        "billingAccountService": {
          "description": "BillingAccountService that the BillingAccountSku belongs to.",
          "type": "string"
        },
        "skuId": {
          "description": "Unique identifier for the SKU. It is the string after the collection identifier \"skus/\" Example: \"AA95-CD31-42FE\".",
          "type": "string"
        },
        "geoTaxonomy": {
          "description": "Geographic metadata that applies to the BillingAccountSku.",
          "$ref": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomy"
        },
        "name": {
          "description": "Resource name for the BillingAccountSku. Example: \"billingAccounts/012345-567890-ABCDEF/skus/AA95-CD31-42FE\".",
          "type": "string"
        }
      },
      "description": "Encapsulates a stock keeping unit (SKU) visible to a billing account. A SKU distinctly identifies a resource that you can purchase. For a list of available SKUs, see [SKUs](https://cloud.google.com/skus).",
      "id": "GoogleCloudBillingBillingaccountskusV1betaBillingAccountSku",
      "type": "object"
    },
    "Datetime": {
      "id": "Datetime",
      "type": "object",
      "properties": {
        "bitFieldDatetimeSeconds": {
          "type": "string",
          "description": "Represents bit field encoding of year/month/day/hour/minute/second. See class DatetimeValue in civil_time.h for details of encoding.",
          "format": "int64"
        },
        "nanos": {
          "description": "Non-negative fractions of a second at nanosecond resolution.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "A datetime value."
    },
    "GoogleCloudBillingBillingaccountservicesV1betaListBillingAccountServicesResponse": {
      "id": "GoogleCloudBillingBillingaccountservicesV1betaListBillingAccountServicesResponse",
      "type": "object",
      "properties": {
        "billingAccountServices": {
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountservicesV1betaBillingAccountService"
          },
          "description": "The returned billing account services.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for ListBillingAccountServices."
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaProductTaxonomy": {
      "description": "Encapsulates product categories, such as `Serverless`, `Cloud Run`, `TaskQueue`, and others.",
      "properties": {
        "taxonomyCategories": {
          "type": "array",
          "description": "All product categories that the billing account SKU group SKU belong to.",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaTaxonomyCategory"
          }
        }
      },
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaProductTaxonomy",
      "type": "object"
    },
    "ValueProto": {
      "id": "ValueProto",
      "type": "object",
      "properties": {
        "geographyValue": {
          "format": "byte",
          "description": "Geography encoded using ::stlib::STGeographyEncoder",
          "type": "string"
        },
        "tokenlistValue": {
          "description": "Encoded tokenlist value. copybara:strip_begin(internal-comment) See //search/tokens:token_list. copybara:strip_end",
          "format": "byte",
          "type": "string"
        },
        "enumValue": {
          "type": "integer",
          "format": "int32",
          "description": "Tag 11 was used for specifying micros timestamps as int64, now obsolete."
        },
        "jsonValue": {
          "description": "Tag 22 was used for json value as bytes, now obsolete. Json value represented as a string document.",
          "type": "string"
        },
        "rangeValue": {
          "$ref": "Range",
          "description": "Encoded range value. See go/googlesql_range."
        },
        "int32Value": {
          "type": "integer",
          "format": "int32",
          "description": "Primitive value for int32."
        },
        "intervalValue": {
          "description": "Encoded interval value. For the encoding format see documentation for IntervalValue::SerializeAsBytes().",
          "format": "byte",
          "type": "string"
        },
        "stringValue": {
          "description": "Primitive for string.",
          "type": "string"
        },
        "boolValue": {
          "description": "Primitive for bool.",
          "type": "boolean"
        },
        "int64Value": {
          "format": "int64",
          "description": "Primitive for int64.",
          "type": "string"
        },
        "uint64Value": {
          "format": "uint64",
          "description": "Primitive for uint64.",
          "type": "string"
        },
        "uuidValue": {
          "type": "string",
          "format": "byte",
          "description": "Encoded uuid value. For the encoding format see documentation for UuidValue::SerializeAsBytes()."
        },
        "uint32Value": {
          "type": "integer",
          "format": "uint32",
          "description": "Primitive for uint32."
        },
        "floatValue": {
          "description": "Primitive for float.",
          "format": "float",
          "type": "number"
        },
        "doubleValue": {
          "description": "Primitive for double.",
          "format": "double",
          "type": "number"
        },
        "timestampValue": {
          "type": "string",
          "description": "primitive for timestamp",
          "format": "google-datetime"
        },
        "numericValue": {
          "format": "byte",
          "description": "Encoded numeric value. For the encoding format see documentation for NumericValue::SerializeAsProtoBytes().",
          "type": "string"
        },
        "arrayValue": {
          "description": "An array of value",
          "$ref": "Array"
        },
        "structValue": {
          "$ref": "Struct",
          "description": "A struct of values"
        },
        "bignumericValue": {
          "type": "string",
          "format": "byte",
          "description": "Encoded bignumeric value. For the encoding format see documentation for BigNumericValue::SerializeAsProtoBytes()."
        },
        "datetimeValue": {
          "$ref": "Datetime",
          "description": "primitive for datetime"
        },
        "mapValue": {
          "$ref": "Map",
          "description": "Encoded map value. See go/googlesql_map."
        },
        "ValueProtoSwitchMustHaveADefault": {
          "description": "User code that switches on this oneoff enum must have a default case so builds won't break when new fields are added.",
          "type": "boolean"
        },
        "timeValue": {
          "type": "string",
          "format": "int64",
          "description": "Bit field encoding of hour/minute/second/nanos. See TimeValue class for details."
        },
        "protoValue": {
          "description": "Stores a serialized protocol message.",
          "format": "byte",
          "type": "string"
        },
        "timestampPicoValue": {
          "type": "string",
          "format": "byte",
          "description": "Encoded timestamp_pico value. For the encoding format see documentation for googlesql::TimestampPico::SerializeAsBytes()."
        },
        "bytesValue": {
          "type": "string",
          "format": "byte",
          "description": "Primitive for bytes."
        },
        "dateValue": {
          "type": "integer",
          "format": "int32",
          "description": "Primitive for date."
        }
      },
      "description": "This is a copy of storage/googlesql/public/value.proto. ValueProto represents the serialized form of the googlesql::Value. The intention is to support multiple languages including Java and C++, so we must be sensitive to the distinction between Java Strings and byte arrays or ByteStrings. We also want to support use-cases which do not want to serialize a copy of the GoogleSQL type for every instance (which might be very repetitive). Therefore, unlike googlesql::Value, ValueProto does not carry full type information with every instance, and can only be fully interpreted with an associated TypeProto."
    },
    "Array": {
      "id": "Array",
      "type": "object",
      "properties": {
        "element": {
          "items": {
            "$ref": "ValueProto"
          },
          "description": "The elements of the array.",
          "type": "array"
        }
      },
      "description": "An ordered collection of elements of arbitrary count."
    },
    "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyMultiRegional": {
      "id": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyMultiRegional",
      "type": "object",
      "properties": {
        "regions": {
          "type": "array",
          "description": "Google Cloud regions associated with the multi-regional geographic taxonomy.",
          "items": {
            "$ref": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegion"
          }
        }
      },
      "description": "Encapsulates a multi-regional geographic taxonomy."
    },
    "GoogleCloudBillingBillingaccountpricesV1betaAggregationInfo": {
      "description": "Encapsulates the aggregation information such as aggregation level and interval for a billing account price.",
      "properties": {
        "level": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "Usage is aggregated at an account level.",
            "Usage is aggregated at a project level."
          ],
          "description": "Level at which usage is aggregated to compute cost. Example: \"ACCOUNT\" level indicates that usage is aggregated across all projects in a single account.",
          "enum": [
            "LEVEL_UNSPECIFIED",
            "LEVEL_ACCOUNT",
            "LEVEL_PROJECT"
          ]
        },
        "interval": {
          "description": "Interval at which usage is aggregated to compute cost. Example: \"MONTHLY\" interval indicates that usage is aggregated every month.",
          "enum": [
            "INTERVAL_UNSPECIFIED",
            "INTERVAL_MONTHLY",
            "INTERVAL_DAILY"
          ],
          "enumDescriptions": [
            "Default unspecified value.",
            "Usage is aggregated every month.",
            "Usage is aggregated every day."
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudBillingBillingaccountpricesV1betaAggregationInfo",
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegion": {
      "id": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegion",
      "type": "object",
      "properties": {
        "region": {
          "description": "Description of a Google Cloud region. Example: \"us-west2\".",
          "type": "string"
        }
      },
      "description": "Encapsulates a Google Cloud region."
    },
    "GoogleCloudBillingPricesV1betaRateTier": {
      "id": "GoogleCloudBillingPricesV1betaRateTier",
      "type": "object",
      "description": "Encapsulates a rate price tier.",
      "properties": {
        "startAmount": {
          "description": "Lower bound amount for a tier. Tiers 0-100, 100-200 will be represented with two tiers with `start_amount` 0 and 100.",
          "$ref": "Decimal"
        },
        "listPrice": {
          "description": "List price of one tier.",
          "$ref": "Money"
        }
      }
    },
    "GoogleCloudBillingSkugroupskusV1betaListSkuGroupSkusResponse": {
      "id": "GoogleCloudBillingSkugroupskusV1betaListSkuGroupSkusResponse",
      "type": "object",
      "description": "Response message for ListSkuGroupSkus.",
      "properties": {
        "skuGroupSkus": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingSkugroupskusV1betaSkuGroupSku"
          },
          "description": "The returned SKU group SKUs."
        },
        "nextPageToken": {
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleCloudBillingSkugroupsV1betaListSkuGroupsResponse": {
      "id": "GoogleCloudBillingSkugroupsV1betaListSkuGroupsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        },
        "skuGroups": {
          "description": "The returned publicly listed SKU groups.",
          "items": {
            "$ref": "GoogleCloudBillingSkugroupsV1betaSkuGroup"
          },
          "type": "array"
        }
      },
      "description": "Response message for ListSkuGroups."
    },
    "GoogleCloudBillingPricesV1betaRate": {
      "properties": {
        "unitInfo": {
          "description": "Unit info such as name and quantity.",
          "$ref": "GoogleCloudBillingPricesV1betaUnitInfo"
        },
        "aggregationInfo": {
          "description": "Aggregation info for tiers such as aggregation level and interval.",
          "$ref": "GoogleCloudBillingPricesV1betaAggregationInfo"
        },
        "tiers": {
          "description": "All tiers associated with the `Rate` price.",
          "items": {
            "$ref": "GoogleCloudBillingPricesV1betaRateTier"
          },
          "type": "array"
        }
      },
      "description": "Encapsulates a `Rate` price. SKUs with `Rate` price are offered by pricing tiers. The price have 1 or more rate pricing tiers.",
      "id": "GoogleCloudBillingPricesV1betaRate",
      "type": "object"
    },
    "Range": {
      "id": "Range",
      "type": "object",
      "description": "A range of values, bounded by the values 'start' (inclusive) and 'end' (exclusive). A range has an element type, and values must be of this element type. A range is contiguous, ie it contains all values of the given element type starting at 'start' and ending before 'end'. A \"null\" value on start or end represents an unbounded start or end value respectively. Start and end values must always be present.",
      "properties": {
        "start": {
          "$ref": "ValueProto",
          "description": "Represents the start of the range."
        },
        "end": {
          "$ref": "ValueProto",
          "description": "Represents the end of the range."
        }
      }
    }
  },
  "revision": "20260612",
  "protocol": "rest",
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "Cloudbilling",
  "basePath": "",
  "version_module": true,
  "parameters": {
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json",
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
[...]
