{
  "batchPath": "batch",
  "version": "v1",
  "description": "Cloud Product Registry API provides capabilities to access all first Google Cloud products.",
  "name": "cloudproductregistry",
  "rootUrl": "https://cloudproductregistry.googleapis.com/",
  "discoveryVersion": "v1",
  "resources": {
    "logicalProducts": {
      "resources": {
        "variants": {
          "methods": {
            "list": {
              "flatPath": "v1/logicalProducts/{logicalProductsId}/variants",
              "parameters": {
                "parent": {
                  "description": "Required. Parent logical product id. Format: logicalProducts/{logical_product}",
                  "location": "path",
                  "required": true,
                  "pattern": "^logicalProducts/[^/]+$",
                  "type": "string"
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListLogicalProductVariants` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListLogicalProductVariants` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. The maximum number of logical product variants to return. The service may return fewer than this value. If unspecified, at most 100 logical product variants will be returned. The maximum value is 500; values above 500 will be coerced to 500.",
                  "location": "query"
                }
              },
              "description": "Lists LogicalProductVariants matching given criteria.",
              "path": "v1/{+parent}/variants",
              "parameterOrder": [
                "parent"
              ],
              "id": "cloudproductregistry.logicalProducts.variants.list",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListLogicalProductVariantsResponse"
              }
            },
            "get": {
              "id": "cloudproductregistry.logicalProducts.variants.get",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "description": "Required. The name of the LogicalProductVariant to retrieve. Format: logicalProducts/{logical_product}/variants/{variant}",
                  "location": "path",
                  "required": true,
                  "pattern": "^logicalProducts/[^/]+/variants/[^/]+$",
                  "type": "string"
                }
              },
              "flatPath": "v1/logicalProducts/{logicalProductsId}/variants/{variantsId}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "LogicalProductVariant"
              },
              "httpMethod": "GET",
              "description": "Get details of a LogicalProductVariant."
            },
            "lookupEntity": {
              "httpMethod": "GET",
              "description": "Look up entities.",
              "id": "cloudproductregistry.logicalProducts.variants.lookupEntity",
              "flatPath": "v1/logicalProducts/{logicalProductsId}/variants/{variantsId}:lookupEntity",
              "parameterOrder": [
                "lookupUri"
              ],
              "response": {
                "$ref": "LookupEntityResponse"
              },
              "parameters": {
                "lookupUri": {
                  "pattern": "^logicalProducts/[^/]+/variants/[^/]+$",
                  "location": "path",
                  "description": "Required. Entity uri to look up. Supported Formats: logicalProducts/{logical_product} logicalProducts/{logical_product}/variants/{variant} productSuites/{product_suite}",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+lookupUri}:lookupEntity"
            }
          }
        }
      },
      "methods": {
        "get": {
          "parameters": {
            "name": {
              "pattern": "^logicalProducts/[^/]+$",
              "description": "Required. The name of the LogicalProduct to retrieve. Format: logicalProducts/{logical_product}",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "v1/logicalProducts/{logicalProductsId}",
          "parameterOrder": [
            "name"
          ],
          "id": "cloudproductregistry.logicalProducts.get",
          "response": {
            "$ref": "LogicalProduct"
          },
          "description": "Gets details of a LogicalProduct.",
          "httpMethod": "GET",
          "path": "v1/{+name}"
        },
        "lookupEntity": {
          "parameters": {
            "lookupUri": {
              "type": "string",
              "description": "Required. Entity uri to look up. Supported Formats: logicalProducts/{logical_product} logicalProducts/{logical_product}/variants/{variant} productSuites/{product_suite}",
              "pattern": "^logicalProducts/[^/]+$",
              "required": true,
              "location": "path"
            }
          },
          "flatPath": "v1/logicalProducts/{logicalProductsId}:lookupEntity",
          "response": {
            "$ref": "LookupEntityResponse"
          },
          "id": "cloudproductregistry.logicalProducts.lookupEntity",
          "parameterOrder": [
            "lookupUri"
          ],
          "path": "v1/{+lookupUri}:lookupEntity",
          "description": "Look up entities.",
          "httpMethod": "GET"
        },
        "list": {
          "flatPath": "v1/logicalProducts",
          "parameterOrder": [],
          "httpMethod": "GET",
          "description": "Lists LogicalProducts matching given criteria.",
          "id": "cloudproductregistry.logicalProducts.list",
          "path": "v1/logicalProducts",
          "parameters": {
            "pageToken": {
              "description": "Optional. A page token, received from a previous `ListLogicalProducts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListLogicalProducts` must match the call that provided the page token.",
              "type": "string",
              "location": "query"
            },
            "pageSize": {
              "location": "query",
              "description": "Optional. The maximum number of logical products to return. The service may return fewer than this value. If unspecified, at most 100 logical products will be returned. The maximum value is 500; values above 500 will be coerced to 500.",
              "format": "int32",
              "type": "integer"
            },
            "filter": {
              "location": "query",
              "description": "Optional. The filter expression for listing logical products. Filter syntax: https://google.aip.dev/160 Supported fields: suite_id",
              "type": "string"
            }
          },
          "response": {
            "$ref": "ListLogicalProductsResponse"
          }
        }
      }
    },
    "productSuites": {
      "methods": {
        "list": {
          "response": {
            "$ref": "ListProductSuitesResponse"
          },
          "httpMethod": "GET",
          "id": "cloudproductregistry.productSuites.list",
          "description": "Lists ProductSuites.",
          "path": "v1/productSuites",
          "parameters": {
            "pageToken": {
              "description": "Optional. A page token, received from a previous `ListProductSuites` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListProductSuites` must match the call that provided the page token.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "Optional. The maximum number of suites to return. The service may return fewer than this value. If unspecified, at most 100 suites will be returned. The maximum value is 500; values above 500 will be coerced to 500."
            }
          },
          "flatPath": "v1/productSuites",
          "parameterOrder": []
        },
        "lookupEntity": {
          "parameterOrder": [
            "lookupUri"
          ],
          "description": "Look up entities.",
          "httpMethod": "GET",
          "id": "cloudproductregistry.productSuites.lookupEntity",
          "flatPath": "v1/productSuites/{productSuitesId}:lookupEntity",
          "path": "v1/{+lookupUri}:lookupEntity",
          "parameters": {
            "lookupUri": {
              "pattern": "^productSuites/[^/]+$",
              "description": "Required. Entity uri to look up. Supported Formats: logicalProducts/{logical_product} logicalProducts/{logical_product}/variants/{variant} productSuites/{product_suite}",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "LookupEntityResponse"
          }
        },
        "get": {
          "id": "cloudproductregistry.productSuites.get",
          "httpMethod": "GET",
          "response": {
            "$ref": "ProductSuite"
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/productSuites/{productSuitesId}",
          "description": "Get details of a ProductSuite.",
          "parameters": {
            "name": {
              "required": true,
              "location": "path",
              "type": "string",
              "pattern": "^productSuites/[^/]+$",
              "description": "Required. The name of the ProductSuite to retrieve. Format: productSuites/{product_suite}"
            }
          },
          "path": "v1/{+name}"
        }
      }
    }
  },
  "title": "Cloud Product Registry API",
  "parameters": {
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "description": "Data format for response.",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    }
  },
  "schemas": {
    "LogicalProduct": {
      "description": "Represents an independent service offering that can be provisioned by a customer.",
      "id": "LogicalProduct",
      "properties": {
        "variants": {
          "description": "Output only. Child variant resource references. Format: logicalProducts/{logical_product}/variants/{variant}",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "replaced": {
          "readOnly": true,
          "description": "Output only. Indicates whether the logical product has been replaced. If `false`, the product is active. If `true`, the product has been replaced by another type, and the `replacement` field contains the resource name of that replacement.",
          "type": "boolean"
        },
        "lifecycleState": {
          "enumDescriptions": [
            "The default value. This value is used if the lifecycle state is not set.",
            "The entity is in Public Preview. It is available to all customers, but may not be feature-complete or have full support guarantees.",
            "The entity is in Private General Availability. It is fully supported and stable, but only available to a select group of customers.",
            "The entity is Generally Available. It is fully supported, stable, and available to all customers.",
            "The entity is deprecated. It is no longer recommended for use and may be removed in a future version."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "LIFECYCLE_STATE_PUBLIC_PREVIEW",
            "LIFECYCLE_STATE_PRIVATE_GA",
            "LIFECYCLE_STATE_GA",
            "LIFECYCLE_STATE_DEPRECATED"
          ],
          "description": "Output only. Current Lifecycle state of the logical product."
        },
        "productSuite": {
          "type": "string",
          "description": "Product suite associated with the logical product. Format: productSuites/{product_suite}."
        },
        "replacement": {
          "readOnly": true,
          "description": "Output only. The resource name of the Logical Entity that the logical product is replaced by. This field is only populated when this logical product is replaced by some other type. Eg: logicalProducts/{logical_product}/variants/{variant}, productSuites/{product_suite}, etc.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Display name of the LogicalProduct."
        },
        "name": {
          "description": "Identifier. The resource name of the LogicalProduct. Format: logicalProducts/{logical_product}.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "LogicalProductVariant": {
      "properties": {
        "replaced": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates whether the logical product variant has been replaced. If `false`, the variant is active. If `true`, the variant has been replaced by another type, and the `replacement` field contains the resource name of that replacement."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the LogicalProductVariant. Format: logicalProducts/{logical_product}/variants/{variant}"
        },
        "lifecycleState": {
          "enumDescriptions": [
            "The default value. This value is used if the lifecycle state is not set.",
            "The entity is in Public Preview. It is available to all customers, but may not be feature-complete or have full support guarantees.",
            "The entity is in Private General Availability. It is fully supported and stable, but only available to a select group of customers.",
            "The entity is Generally Available. It is fully supported, stable, and available to all customers.",
            "The entity is deprecated. It is no longer recommended for use and may be removed in a future version."
          ],
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "LIFECYCLE_STATE_PUBLIC_PREVIEW",
            "LIFECYCLE_STATE_PRIVATE_GA",
            "LIFECYCLE_STATE_GA",
            "LIFECYCLE_STATE_DEPRECATED"
          ],
          "description": "Output only. Current Lifecycle state of the logical product variant.",
          "readOnly": true,
          "type": "string"
        },
        "title": {
          "description": "Display name of the LogicalProductVariant.",
          "type": "string"
        },
        "replacement": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the Logical Entity that the logical product variant is replaced by. This field is only populated when this logical product variant is replaced by some other type. Eg: logicalProducts/{logical_product}, productSuites/{product_suite}, etc."
        }
      },
      "description": "Represents a distinct offering derived from a primary product that retains core functionalities but offers specialized features for a specific market segment.",
      "id": "LogicalProductVariant",
      "type": "object"
    },
    "ListProductSuitesResponse": {
      "properties": {
        "productSuites": {
          "type": "array",
          "items": {
            "$ref": "ProductSuite"
          },
          "description": "Matched ProductSuites"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListProductSuitesResponse",
      "description": "Response message for ListProductSuites.",
      "type": "object"
    },
    "ListLogicalProductsResponse": {
      "properties": {
        "logicalProducts": {
          "items": {
            "$ref": "LogicalProduct"
          },
          "description": "Matched LogicalProducts",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for ListLogicalProducts.",
      "id": "ListLogicalProductsResponse"
    },
    "ListLogicalProductVariantsResponse": {
      "id": "ListLogicalProductVariantsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "logicalProductVariants": {
          "description": "Matched LogicalProductVariants",
          "type": "array",
          "items": {
            "$ref": "LogicalProductVariant"
          }
        }
      },
      "description": "Response message for ListLogicalProductVariants."
    },
    "LookupEntityResponse": {
      "properties": {
        "productSuite": {
          "$ref": "ProductSuite",
          "description": "Matched ProductSuite."
        },
        "logicalProduct": {
          "description": "Matched LogicalProduct.",
          "$ref": "LogicalProduct"
        },
        "logicalProductVariant": {
          "$ref": "LogicalProductVariant",
          "description": "Matched LogicalProductVariant."
        }
      },
      "type": "object",
      "description": "Response message for LookupEntity.",
      "id": "LookupEntityResponse"
    },
    "ProductSuite": {
      "properties": {
        "logicalProducts": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. LogicalProducts under this suite. Format: logicalProducts/{logical_product}",
          "readOnly": true
        },
        "title": {
          "description": "Title of the ProductSuite.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the ProductSuite. Format: productSuites/{product_suite}",
          "type": "string"
        },
        "replacement": {
          "description": "Output only. The resource name of the Logical Entity that the product suite is replaced by. This field is only populated when this product suite is replaced by some other type. Eg: logicalProducts/{logical_product}, logicalProducts/{logical_product}/variants/{variant}, etc.",
          "type": "string",
          "readOnly": true
        },
        "replaced": {
          "type": "boolean",
          "description": "Output only. Indicates whether the product suite has been replaced. If `false`, the product suite is active. If `true`, the product suite has been replaced by another type, and the `replacement` field contains the resource name of that replacement.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Represents a unified grouping of products sharing a common brand and market positioning.",
      "id": "ProductSuite"
    }
  },
  "revision": "20260903",
  "kind": "discovery#restDescription",
  "basePath": "",
  "ownerName": "Google",
  "canonicalName": "Cloud Product Registry",
  "version_module": true,
  "id": "cloudproductregistry:v1",
  "baseUrl": "https://cloudproductregistry.googleapis.com/",
  "documentationLink": "https://docs.cloud.google.com/product-registry",
  "protocol": "rest",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "mtlsRootUrl": "https://cloudproductregistry.mtls.googleapis.com/",
  "ownerDomain": "google.com"
}