{
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "documentationLink": "https://cloud.google.com/cloud-build/docs/",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "basePath": "",
  "version_module": true,
  "description": "Creates and manages builds on Google Cloud Platform.",
  "protocol": "rest",
  "version": "v2",
  "servicePath": "",
  "id": "cloudbuild:v2",
  "title": "Cloud Build API",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "kind": "discovery#restDescription",
  "revision": "20260612",
  "endpoints": [
    {
      "endpointUrl": "https://cloudbuild.africa-south1.rep.googleapis.com/",
      "location": "africa-south1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.asia-east1.rep.googleapis.com/",
      "location": "asia-east1"
    },
    {
      "endpointUrl": "https://cloudbuild.asia-east2.rep.googleapis.com/",
      "location": "asia-east2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.asia-northeast1.rep.googleapis.com/",
      "location": "asia-northeast1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.asia-northeast2.rep.googleapis.com/",
      "location": "asia-northeast2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.asia-northeast3.rep.googleapis.com/",
      "location": "asia-northeast3"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.asia-south1.rep.googleapis.com/",
      "location": "asia-south1"
    },
    {
      "endpointUrl": "https://cloudbuild.asia-south2.rep.googleapis.com/",
      "location": "asia-south2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.asia-southeast1.rep.googleapis.com/",
      "location": "asia-southeast1"
    },
    {
      "endpointUrl": "https://cloudbuild.asia-southeast2.rep.googleapis.com/",
      "location": "asia-southeast2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.asia-southeast3.rep.googleapis.com/",
      "location": "asia-southeast3"
    },
    {
      "endpointUrl": "https://cloudbuild.australia-southeast1.rep.googleapis.com/",
      "location": "australia-southeast1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.australia-southeast2.rep.googleapis.com/",
      "location": "australia-southeast2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.europe-central2.rep.googleapis.com/",
      "location": "europe-central2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.europe-north1.rep.googleapis.com/",
      "location": "europe-north1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.europe-north2.rep.googleapis.com/",
      "location": "europe-north2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.europe-southwest1.rep.googleapis.com/",
      "location": "europe-southwest1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.europe-west1.rep.googleapis.com/",
      "location": "europe-west1"
    },
    {
      "endpointUrl": "https://cloudbuild.europe-west10.rep.googleapis.com/",
      "location": "europe-west10",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.europe-west12.rep.googleapis.com/",
      "location": "europe-west12",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.europe-west2.rep.googleapis.com/",
      "location": "europe-west2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.europe-west3.rep.googleapis.com/",
      "location": "europe-west3",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.europe-west4.rep.googleapis.com/",
      "location": "europe-west4",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.europe-west6.rep.googleapis.com/",
      "location": "europe-west6",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.europe-west8.rep.googleapis.com/",
      "location": "europe-west8",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.europe-west9.rep.googleapis.com/",
      "location": "europe-west9",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.europe-west15.rep.googleapis.com/",
      "location": "europe-west15",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.me-central1.rep.googleapis.com/",
      "location": "me-central1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.me-central2.rep.googleapis.com/",
      "location": "me-central2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.me-west1.rep.googleapis.com/",
      "location": "me-west1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.northamerica-northeast1.rep.googleapis.com/",
      "location": "northamerica-northeast1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.northamerica-northeast2.rep.googleapis.com/",
      "location": "northamerica-northeast2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.northamerica-south1.rep.googleapis.com/",
      "location": "northamerica-south1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.southamerica-east1.rep.googleapis.com/",
      "location": "southamerica-east1"
    },
    {
      "endpointUrl": "https://cloudbuild.southamerica-west1.rep.googleapis.com/",
      "location": "southamerica-west1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.us-central1.rep.googleapis.com/",
      "location": "us-central1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.us-central2.rep.googleapis.com/",
      "location": "us-central2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.us-east1.rep.googleapis.com/",
      "location": "us-east1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.us-east4.rep.googleapis.com/",
      "location": "us-east4"
    },
    {
      "endpointUrl": "https://cloudbuild.us-east5.rep.googleapis.com/",
      "location": "us-east5",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.us-east7.rep.googleapis.com/",
      "location": "us-east7"
    },
    {
      "endpointUrl": "https://cloudbuild.us-south1.rep.googleapis.com/",
      "location": "us-south1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.us-west1.rep.googleapis.com/",
      "location": "us-west1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.us-west2.rep.googleapis.com/",
      "location": "us-west2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.us-west3.rep.googleapis.com/",
      "location": "us-west3"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.us-west4.rep.googleapis.com/",
      "location": "us-west4"
    },
    {
      "endpointUrl": "https://cloudbuild.us-west8.rep.googleapis.com/",
      "location": "us-west8",
      "description": "Regional Endpoint"
    }
  ],
  "mtlsRootUrl": "https://cloudbuild.mtls.googleapis.com/",
  "rootUrl": "https://cloudbuild.googleapis.com/",
  "baseUrl": "https://cloudbuild.googleapis.com/",
  "canonicalName": "Cloud Build",
  "batchPath": "batch",
  "schemas": {
    "GoogleDevtoolsCloudbuildV2OperationMetadata": {
      "type": "object",
      "properties": {
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string"
        },
        "verb": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation."
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime"
        }
      },
      "id": "GoogleDevtoolsCloudbuildV2OperationMetadata",
      "description": "Represents the metadata of the long-running operation."
    },
    "ListRepositoriesResponse": {
      "id": "ListRepositoriesResponse",
      "description": "Message for response to listing Repositories.",
      "properties": {
        "repositories": {
          "type": "array",
          "description": "The list of Repositories.",
          "items": {
            "$ref": "Repository"
          }
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleDevtoolsCloudbuildV2Condition": {
      "id": "GoogleDevtoolsCloudbuildV2Condition",
      "description": "Conditions defines a readiness condition for a Knative resource.",
      "properties": {
        "lastTransitionTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "LastTransitionTime is the last time the condition transitioned from one status to another."
        },
        "message": {
          "description": "A human readable message indicating details about the transition.",
          "type": "string"
        },
        "status": {
          "description": "Status of the condition.",
          "enumDescriptions": [
            "Default enum type indicating execution is still ongoing.",
            "Success",
            "Failure"
          ],
          "type": "string",
          "enum": [
            "UNKNOWN",
            "TRUE",
            "FALSE"
          ]
        },
        "reason": {
          "description": "The reason for the condition's last transition.",
          "type": "string"
        },
        "severity": {
          "description": "Severity with which to treat failures of this type of condition.",
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Severity is warning.",
            "Severity is informational only."
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "WARNING",
            "INFO"
          ],
          "type": "string"
        },
        "type": {
          "description": "Type of condition.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AuditConfig": {
      "type": "object",
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "type": "array",
          "description": "The configuration for logging of each type of permission.",
          "items": {
            "$ref": "AuditLogConfig"
          }
        }
      },
      "id": "AuditConfig",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging."
    },
    "OperationMetadata": {
      "type": "object",
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "statusDetail": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API version used to start the operation."
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "cancelRequested": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        }
      },
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation."
    },
    "ParamValue": {
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "ARRAY",
            "OBJECT"
          ],
          "type": "string",
          "description": "Type of parameter.",
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Default",
            "Array type",
            "Object type"
          ]
        },
        "arrayVal": {
          "type": "array",
          "description": "Value of the parameter if type is array.",
          "items": {
            "type": "string"
          }
        },
        "stringVal": {
          "description": "Value of the parameter if type is string.",
          "type": "string"
        },
        "objectVal": {
          "description": "Optional. Value of the parameter if type is object.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "ParamValue",
      "description": "Parameter value."
    },
    "TaskRef": {
      "type": "object",
      "id": "TaskRef",
      "description": "TaskRef can be used to refer to a specific instance of a task. PipelineRef can be used to refer to a specific instance of a Pipeline.",
      "properties": {
        "name": {
          "description": "Optional. Name of the task.",
          "type": "string"
        },
        "resolver": {
          "description": "Resolver is the name of the resolver that should perform resolution of the referenced Tekton resource.",
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Bundles resolver. https://tekton.dev/docs/pipelines/bundle-resolver/",
            "GCB repo resolver.",
            "Simple Git resolver. https://tekton.dev/docs/pipelines/git-resolver/",
            "Developer Connect resolver.",
            "Default resolver."
          ],
          "enum": [
            "RESOLVER_NAME_UNSPECIFIED",
            "BUNDLES",
            "GCB_REPO",
            "GIT",
            "DEVELOPER_CONNECT",
            "DEFAULT"
          ],
          "type": "string"
        },
        "params": {
          "items": {
            "$ref": "Param"
          },
          "description": "Params contains the parameters used to identify the referenced Tekton resource. Example entries might include \"repo\" or \"path\" but the set of params ultimately depends on the chosen resolver.",
          "type": "array"
        }
      }
    },
    "WorkspaceDeclaration": {
      "type": "object",
      "id": "WorkspaceDeclaration",
      "description": "WorkspaceDeclaration is a declaration of a volume that a Task requires.",
      "properties": {
        "name": {
          "description": "Name is the name by which you can bind the volume at runtime.",
          "type": "string"
        },
        "readOnly": {
          "description": "ReadOnly dictates whether a mounted volume is writable.",
          "type": "boolean"
        },
        "mountPath": {
          "description": "MountPath overrides the directory that the volume will be made available at.",
          "type": "string"
        },
        "description": {
          "description": "Description is a human readable description of this volume.",
          "type": "string"
        },
        "optional": {
          "description": "Optional. Optional marks a Workspace as not being required in TaskRuns. By default this field is false and so declared workspaces are required.",
          "type": "boolean"
        }
      }
    },
    "Probe": {
      "id": "Probe",
      "description": "Probe describes a health check to be performed against a container to determine whether it is alive or ready to receive traffic.",
      "properties": {
        "exec": {
          "description": "Optional. Exec specifies the action to take. +optional",
          "$ref": "ExecAction"
        },
        "periodSeconds": {
          "description": "Optional. How often (in seconds) to perform the probe. Default to 10 seconds. Minimum value is 1. +optional",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "FetchLinkableRepositoriesResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "repositories": {
          "description": "repositories ready to be created.",
          "items": {
            "$ref": "Repository"
          },
          "type": "array"
        }
      },
      "id": "FetchLinkableRepositoriesResponse",
      "description": "Response message for FetchLinkableRepositories."
    },
    "PropertySpec": {
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING"
          ],
          "type": "string",
          "description": "A type for the object.",
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Default"
          ]
        }
      },
      "id": "PropertySpec",
      "description": "PropertySpec holds information about a property in an object."
    },
    "PipelineRunResult": {
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the TaskRun"
        },
        "value": {
          "description": "Output only. Value of the result.",
          "readOnly": true,
          "$ref": "ResultValue"
        }
      },
      "id": "PipelineRunResult",
      "description": "PipelineRunResult used to describe the results of a pipeline"
    },
    "Status": {
      "type": "object",
      "properties": {
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "FetchReadTokenRequest": {
      "type": "object",
      "id": "FetchReadTokenRequest",
      "description": "Message for fetching SCM read token.",
      "properties": {}
    },
    "SetIamPolicyRequest": {
      "id": "SetIamPolicyRequest",
      "description": "Request message for `SetIamPolicy` method.",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SkippedTask": {
      "id": "SkippedTask",
      "description": "SkippedTask is used to describe the Tasks that were skipped due to their When Expressions evaluating to False.",
      "properties": {
        "name": {
          "description": "Name is the Pipeline Task name",
          "type": "string"
        },
        "reason": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Reason is the cause of the PipelineTask being skipped."
        },
        "whenExpressions": {
          "description": "WhenExpressions is the list of checks guarding the execution of the PipelineTask",
          "items": {
            "$ref": "WhenExpression"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "FetchReadWriteTokenRequest": {
      "properties": {},
      "id": "FetchReadWriteTokenRequest",
      "description": "Message for fetching SCM read/write token.",
      "type": "object"
    },
    "PipelineResult": {
      "type": "object",
      "properties": {
        "description": {
          "description": "Output only. Description of the result.",
          "readOnly": true,
          "type": "string"
        },
        "value": {
          "description": "Output only. Value of the result.",
          "readOnly": true,
          "$ref": "ResultValue"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the result."
        },
        "type": {
          "description": "Output only. The type of data that the result holds.",
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Default",
            "Array type",
            "Object type"
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "ARRAY",
            "OBJECT"
          ]
        }
      },
      "id": "PipelineResult",
      "description": "A value produced by a Pipeline."
    },
    "FetchGitRefsResponse": {
      "properties": {
        "refNames": {
          "items": {
            "type": "string"
          },
          "description": "Name of the refs fetched.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "id": "FetchGitRefsResponse",
      "description": "Response for fetching git refs",
      "type": "object"
    },
    "ChildStatusReference": {
      "type": "object",
      "properties": {
        "whenExpressions": {
          "type": "array",
          "description": "WhenExpressions is the list of checks guarding the execution of the PipelineTask",
          "items": {
            "$ref": "WhenExpression"
          }
        },
        "name": {
          "description": "Name is the name of the TaskRun or Run this is referencing.",
          "type": "string"
        },
        "pipelineTaskName": {
          "description": "PipelineTaskName is the name of the PipelineTask this is referencing.",
          "type": "string"
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TASK_RUN"
          ],
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "TaskRun."
          ],
          "description": "Output only. Type of the child reference."
        }
      },
      "id": "ChildStatusReference",
      "description": "ChildStatusReference is used to point to the statuses of individual TaskRuns and Runs within this PipelineRun."
    },
    "Repository": {
      "id": "Repository",
      "description": "A repository associated to a parent connection.",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server assigned timestamp for when the connection was updated.",
          "format": "google-datetime"
        },
        "webhookId": {
          "description": "Output only. External ID of the webhook created for the repository.",
          "readOnly": true,
          "type": "string"
        },
        "remoteUri": {
          "description": "Required. Git Clone HTTPS URI.",
          "type": "string"
        },
        "etag": {
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "name": {
          "description": "Immutable. Resource name of the repository, in the format `projects/*/locations/*/connections/*/repositories/*`.",
          "type": "string"
        },
        "annotations": {
          "description": "Optional. Allows clients to store small amounts of arbitrary data.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server assigned timestamp for when the connection was created.",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "VolumeMount": {
      "properties": {
        "mountPath": {
          "description": "Path within the container at which the volume should be mounted. Must not contain ':'.",
          "type": "string"
        },
        "subPath": {
          "description": "Path within the volume from which the container's volume should be mounted. Defaults to \"\" (volume's root).",
          "type": "string"
        },
        "name": {
          "description": "Name of the volume.",
          "type": "string"
        },
        "readOnly": {
          "description": "Mounted read-only if true, read-write otherwise (false or unspecified).",
          "type": "boolean"
        },
        "subPathExpr": {
          "description": "Expanded path within the volume from which the container's volume should be mounted. Behaves similarly to SubPath but environment variable references $(VAR_NAME) are expanded using the container's environment. Defaults to \"\" (volume's root).",
          "type": "string"
        }
      },
      "id": "VolumeMount",
      "description": "Pod volumes to mount into the container's filesystem.",
      "type": "object"
    },
    "BitbucketCloudConfig": {
      "type": "object",
      "properties": {
        "workspace": {
          "description": "Required. The Bitbucket Cloud Workspace ID to be connected to Google Cloud Platform.",
          "type": "string"
        },
        "authorizerCredential": {
          "description": "Required. An access token with the `webhook`, `repository`, `repository:admin` and `pullrequest` scope access. It can be either a workspace, project or repository access token. It's recommended to use a system account to generate these credentials.",
          "$ref": "UserCredential"
        },
        "readAuthorizerCredential": {
          "description": "Required. An access token with the `repository` access. It can be either a workspace, project or repository access token. It's recommended to use a system account to generate the credentials.",
          "$ref": "UserCredential"
        },
        "webhookSecretSecretVersion": {
          "description": "Required. SecretManager resource containing the webhook secret used to verify webhook events, formatted as `projects/*/secrets/*/versions/*`.",
          "type": "string"
        }
      },
      "id": "BitbucketCloudConfig",
      "description": "Configuration for connections to Bitbucket Cloud."
    },
    "RunWorkflowCustomOperationMetadata": {
      "type": "object",
      "id": "RunWorkflowCustomOperationMetadata",
      "description": "Represents the custom metadata of the RunWorkflow long-running operation.",
      "properties": {
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime"
        },
        "pipelineRunId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. ID of the pipeline run created by RunWorkflow."
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API version used to start the operation."
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "verb": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation."
        }
      }
    },
    "WorkspaceBinding": {
      "properties": {
        "secret": {
          "description": "Secret Volume Source.",
          "$ref": "SecretVolumeSource"
        },
        "subPath": {
          "description": "Optional. SubPath is optionally a directory on the volume which should be used for this binding (i.e. the volume will be mounted at this sub directory). +optional",
          "type": "string"
        },
        "name": {
          "description": "Name of the workspace.",
          "type": "string"
        }
      },
      "id": "WorkspaceBinding",
      "description": "WorkspaceBinding maps a workspace to a Volume. PipelineRef can be used to refer to a specific instance of a Pipeline.",
      "type": "object"
    },
    "Location": {
      "id": "Location",
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EmptyDirVolumeSource": {
      "id": "EmptyDirVolumeSource",
      "description": "Represents an empty Volume source.",
      "properties": {},
      "type": "object"
    },
    "StepTemplate": {
      "id": "StepTemplate",
      "description": "StepTemplate can be used as the basis for all step containers within the Task, so that the steps inherit settings on the base container.",
      "properties": {
        "env": {
          "type": "array",
          "description": "Optional. List of environment variables to set in the Step. Cannot be updated.",
          "items": {
            "$ref": "EnvVar"
          }
        },
        "volumeMounts": {
          "type": "array",
          "items": {
            "$ref": "VolumeMount"
          },
          "description": "Optional. Pod volumes to mount into the container's filesystem."
        }
      },
      "type": "object"
    },
    "OAuthCredential": {
      "properties": {
        "oauthTokenSecretVersion": {
          "description": "Optional. A SecretManager resource containing the OAuth token that authorizes the Cloud Build connection. Format: `projects/*/secrets/*/versions/*`.",
          "type": "string"
        },
        "username": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The username associated to this token."
        }
      },
      "id": "OAuthCredential",
      "description": "Represents an OAuth token of the account that authorized the Connection, and associated metadata.",
      "type": "object"
    },
    "TestIamPermissionsResponse": {
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array"
        }
      },
      "id": "TestIamPermissionsResponse",
      "description": "Response message for `TestIamPermissions` method.",
      "type": "object"
    },
    "PipelineRun": {
      "type": "object",
      "properties": {
        "worker": {
          "description": "Optional. Worker configuration.",
          "$ref": "Worker"
        },
        "resolvedPipelineSpec": {
          "description": "Output only. The exact PipelineSpec used to instantiate the run.",
          "readOnly": true,
          "$ref": "PipelineSpec"
        },
        "gcbParams": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Output only. GCB default params."
        },
        "serviceAccount": {
          "deprecated": true,
          "type": "string",
          "description": "Service account used in the Pipeline. Deprecated; please use security.service_account instead."
        },
        "workerPool": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The WorkerPool used to run this PipelineRun."
        },
        "conditions": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Kubernetes Conditions convention for PipelineRun status and error.",
          "items": {
            "$ref": "GoogleDevtoolsCloudbuildV2Condition"
          }
        },
        "completionTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time the pipeline completed.",
          "format": "google-datetime"
        },
        "pipelineRunStatus": {
          "enum": [
            "PIPELINE_RUN_STATUS_UNSPECIFIED",
            "PIPELINE_RUN_CANCELLED"
          ],
          "type": "string",
          "description": "Pipelinerun status the user can provide. Used for cancellation.",
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Cancelled status."
          ]
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The `PipelineRun` name with format `projects/{project}/locations/{location}/pipelineRuns/{pipeline_run}`"
        },
        "workflow": {
          "description": "Output only. The Workflow used to create this PipelineRun.",
          "readOnly": true,
          "type": "string"
        },
        "params": {
          "type": "array",
          "description": "Params is a list of parameter names and values.",
          "items": {
            "$ref": "Param"
          }
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Time at which the request to update the `PipelineRun` was received.",
          "readOnly": true,
          "type": "string"
        },
        "pipelineSpec": {
          "description": "PipelineSpec defines the desired state of Pipeline.",
          "$ref": "PipelineSpec"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time at which the request to create the `PipelineRun` was received.",
          "format": "google-datetime"
        },
        "annotations": {
          "description": "User annotations. See https://google.aip.dev/128#annotations",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "pipelineSpecYaml": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Inline pipelineSpec yaml string, used by workflow run requests."
        },
        "pipelineRef": {
          "description": "PipelineRef refer to a specific instance of a Pipeline.",
          "$ref": "PipelineRef"
        },
        "etag": {
          "description": "Needed for declarative-friendly resources.",
          "type": "string"
        },
        "finallyStartTime": {
          "format": "google-datetime",
          "description": "Output only. FinallyStartTime is when all non-finally tasks have been completed and only finally tasks are being executed. +optional",
          "readOnly": true,
          "type": "string"
        },
        "workspaces": {
          "type": "array",
          "items": {
            "$ref": "WorkspaceBinding"
          },
          "description": "Workspaces is a list of WorkspaceBindings from volumes to workspaces."
        },
        "uid": {
          "description": "Output only. A unique identifier for the `PipelineRun`.",
          "readOnly": true,
          "type": "string"
        },
        "results": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "PipelineRunResult"
          },
          "description": "Optional. Output only. List of results written out by the pipeline's containers"
        },
        "skippedTasks": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. List of tasks that were skipped due to when expressions evaluating to false.",
          "items": {
            "$ref": "SkippedTask"
          }
        },
        "timeouts": {
          "description": "Time after which the Pipeline times out. Currently three keys are accepted in the map pipeline, tasks and finally with Timeouts.pipeline >= Timeouts.tasks + Timeouts.finally",
          "$ref": "TimeoutFields"
        },
        "record": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The `Record` of this `PipelineRun`. Format: `projects/{project}/locations/{location}/results/{result_id}/records/{record_id}`"
        },
        "childReferences": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. List of TaskRun and Run names and PipelineTask names for children of this PipelineRun.",
          "items": {
            "$ref": "ChildStatusReference"
          }
        },
        "security": {
          "description": "Optional. Security configuration.",
          "$ref": "Security"
        },
        "provenance": {
          "description": "Optional. Provenance configuration.",
          "$ref": "Provenance"
        },
        "startTime": {
          "description": "Output only. Time the pipeline is actually started.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "PipelineRun",
      "description": "Message describing PipelineRun object"
    },
    "PipelineRef": {
      "id": "PipelineRef",
      "description": "PipelineRef can be used to refer to a specific instance of a Pipeline.",
      "properties": {
        "name": {
          "description": "Optional. Name of the Pipeline.",
          "type": "string"
        },
        "resolver": {
          "description": "Resolver is the name of the resolver that should perform resolution of the referenced Tekton resource.",
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Bundles resolver. https://tekton.dev/docs/pipelines/bundle-resolver/",
            "GCB repo resolver.",
            "Simple Git resolver. https://tekton.dev/docs/pipelines/git-resolver/",
            "Developer Connect resolver.",
            "Default resolver."
          ],
          "type": "string",
          "enum": [
            "RESOLVER_NAME_UNSPECIFIED",
            "BUNDLES",
            "GCB_REPO",
            "GIT",
            "DEVELOPER_CONNECT",
            "DEFAULT"
          ]
        },
        "params": {
          "description": "Params contains the parameters used to identify the referenced Tekton resource. Example entries might include \"repo\" or \"path\" but the set of params ultimately depends on the chosen resolver.",
          "items": {
            "$ref": "Param"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Policy": {
      "id": "Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "properties": {
        "bindings": {
          "type": "array",
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "Binding"
          }
        },
        "etag": {
          "type": "string",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte"
        },
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "items": {
            "$ref": "AuditConfig"
          },
          "type": "array"
        },
        "version": {
          "type": "integer",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "Expr": {
      "type": "object",
      "id": "Expr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "properties": {
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        }
      }
    },
    "PipelineTask": {
      "type": "object",
      "properties": {
        "taskSpec": {
          "description": "Spec to instantiate this TaskRun.",
          "$ref": "EmbeddedTask"
        },
        "runAfter": {
          "description": "RunAfter is the list of PipelineTask names that should be executed before this Task executes. (Used to force a specific ordering in graph execution.)",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "params": {
          "items": {
            "$ref": "Param"
          },
          "description": "Params is a list of parameter names and values.",
          "type": "array"
        },
        "workspaces": {
          "items": {
            "$ref": "WorkspacePipelineTaskBinding"
          },
          "description": "Workspaces maps workspaces from the pipeline spec to the workspaces declared in the Task.",
          "type": "array"
        },
        "whenExpressions": {
          "type": "array",
          "items": {
            "$ref": "WhenExpression"
          },
          "description": "Conditions that need to be true for the task to run."
        },
        "timeout": {
          "format": "google-duration",
          "description": "Time after which the TaskRun times out. Defaults to 1 hour. Specified TaskRun timeout should be less than 24h.",
          "type": "string"
        },
        "taskRef": {
          "description": "Reference to a specific instance of a task.",
          "$ref": "TaskRef"
        },
        "retries": {
          "description": "Retries represents how many times this task should be retried in case of task failure.",
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "description": "Name of the task.",
          "type": "string"
        }
      },
      "id": "PipelineTask",
      "description": "PipelineTask defines a task in a Pipeline."
    },
    "Sidecar": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the Sidecar.",
          "type": "string"
        },
        "securityContext": {
          "description": "Optional. Security options the container should be run with.",
          "$ref": "SecurityContext"
        },
        "readinessProbe": {
          "description": "Optional. Periodic probe of Sidecar service readiness. Container will be removed from service endpoints if the probe fails. Cannot be updated. More info: https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle#container-probes +optional",
          "$ref": "Probe"
        },
        "script": {
          "description": "The contents of an executable file to execute.",
          "type": "string"
        },
        "args": {
          "type": "array",
          "description": "Arguments to the entrypoint.",
          "items": {
            "type": "string"
          }
        },
        "workingDir": {
          "description": "Container's working directory.",
          "type": "string"
        },
        "image": {
          "description": "Docker image name.",
          "type": "string"
        },
        "command": {
          "type": "array",
          "description": "Entrypoint array.",
          "items": {
            "type": "string"
          }
        },
        "env": {
          "items": {
            "$ref": "EnvVar"
          },
          "description": "List of environment variables to set in the container.",
          "type": "array"
        },
        "volumeMounts": {
          "type": "array",
          "items": {
            "$ref": "VolumeMount"
          },
          "description": "Pod volumes to mount into the container's filesystem."
        }
      },
      "id": "Sidecar",
      "description": "Sidecars run alongside the Task's step containers."
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "WorkspacePipelineTaskBinding": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the workspace as declared by the task.",
          "type": "string"
        },
        "subPath": {
          "description": "Optional. SubPath is optionally a directory on the volume which should be used for this binding (i.e. the volume will be mounted at this sub directory). +optional",
          "type": "string"
        },
        "workspace": {
          "description": "Name of the workspace declared by the pipeline.",
          "type": "string"
        }
      },
      "id": "WorkspacePipelineTaskBinding",
      "description": "WorkspacePipelineTaskBinding maps workspaces from the PipelineSpec to the workspaces declared in the Task."
    },
    "StepRef": {
      "type": "object",
      "id": "StepRef",
      "description": "A reference to a remote Step, i.e. a StepAction.",
      "properties": {
        "params": {
          "type": "array",
          "description": "Optional. Parameters used to control the resolution.",
          "items": {
            "$ref": "Param"
          }
        },
        "name": {
          "description": "Optional. Name of the step.",
          "type": "string"
        },
        "resolver": {
          "description": "Optional. Type of the resolver.",
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Bundles resolver. https://tekton.dev/docs/pipelines/bundle-resolver/",
            "GCB repo resolver.",
            "Simple Git resolver. https://tekton.dev/docs/pipelines/git-resolver/",
            "Developer Connect resolver.",
            "Default resolver."
          ],
          "enum": [
            "RESOLVER_NAME_UNSPECIFIED",
            "BUNDLES",
            "GCB_REPO",
            "GIT",
            "DEVELOPER_CONNECT",
            "DEFAULT"
          ],
          "type": "string"
        }
      }
    },
    "GoogleDevtoolsCloudbuildV2ServiceDirectoryConfig": {
      "type": "object",
      "id": "GoogleDevtoolsCloudbuildV2ServiceDirectoryConfig",
      "description": "ServiceDirectoryConfig represents Service Directory configuration for a connection.",
      "properties": {
        "service": {
          "description": "Required. The Service Directory service name. Format: projects/{project}/locations/{location}/namespaces/{namespace}/services/{service}.",
          "type": "string"
        }
      }
    },
    "HttpBody": {
      "type": "object",
      "id": "HttpBody",
      "description": "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page. This message can be used both in streaming and non-streaming API methods in the request as well as the response. It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body. Example: message GetResourceRequest { // A unique request id. string request_id = 1; // The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged.",
      "properties": {
        "extensions": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "Application specific response metadata. Must be set in the first response for streaming APIs.",
          "type": "array"
        },
        "data": {
          "type": "string",
          "description": "The HTTP request/response body as raw binary.",
          "format": "byte"
        },
        "contentType": {
          "description": "The HTTP Content-Type header value specifying the content type of the body.",
          "type": "string"
        }
      }
    },
    "SecurityContext": {
      "id": "SecurityContext",
      "description": "Security options the container should be run with.",
      "properties": {
        "runAsUser": {
          "format": "int64",
          "description": "Optional. The UID to run the entrypoint of the container process. Defaults to user specified in image metadata if unspecified. May also be set in PodSecurityContext. If set in both SecurityContext and PodSecurityContext, the value specified in SecurityContext takes precedence. Note that this field cannot be set when spec.os.name is windows. +optional",
          "type": "string"
        },
        "runAsNonRoot": {
          "description": "Optional. Indicates that the container must run as a non-root user. If true, the Kubelet will validate the image at runtime to ensure that it does not run as UID 0 (root) and fail to start the container if it does. If unset or false, no such validation will be performed. May also be set in PodSecurityContext. If set in both SecurityContext and PodSecurityContext, the value specified in SecurityContext takes precedence. +optional",
          "type": "boolean"
        },
        "allowPrivilegeEscalation": {
          "description": "Optional. AllowPrivilegeEscalation controls whether a process can gain more privileges than its parent process. This bool directly controls if the no_new_privs flag will be set on the container process. AllowPrivilegeEscalation is true always when the container is: 1) run as Privileged 2) has CAP_SYS_ADMIN Note that this field cannot be set when spec.os.name is windows. +optional",
          "type": "boolean"
        },
        "privileged": {
          "description": "Run container in privileged mode.",
          "type": "boolean"
        },
        "runAsGroup": {
          "description": "Optional. The GID to run the entrypoint of the container process. Uses runtime default if unset. May also be set in PodSecurityContext. If set in both SecurityContext and PodSecurityContext, the value specified in SecurityContext takes precedence. Note that this field cannot be set when spec.os.name is windows. +optional",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ResultValue": {
      "type": "object",
      "id": "ResultValue",
      "description": "ResultValue holds different types of data for a single result.",
      "properties": {
        "objectVal": {
          "description": "Value of the result if type is object.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "arrayVal": {
          "description": "Value of the result if type is array.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "type": {
          "description": "Output only. The type of data that the result holds.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "ARRAY",
            "OBJECT"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Default",
            "Array type",
            "Object type"
          ]
        },
        "stringVal": {
          "description": "Value of the result if type is string.",
          "type": "string"
        }
      }
    },
    "Param": {
      "properties": {
        "name": {
          "description": "Name of the parameter.",
          "type": "string"
        },
        "value": {
          "description": "Value of the parameter.",
          "$ref": "ParamValue"
        }
      },
      "id": "Param",
      "description": "Param defined with name and value. PipelineRef can be used to refer to a specific instance of a Pipeline.",
      "type": "object"
    },
    "BatchCreateRepositoriesResponse": {
      "properties": {
        "repositories": {
          "type": "array",
          "description": "Repository resources created.",
          "items": {
            "$ref": "Repository"
          }
        }
      },
      "id": "BatchCreateRepositoriesResponse",
      "description": "Message for response of creating repositories in batch.",
      "type": "object"
    },
    "Security": {
      "id": "Security",
      "description": "Security configuration.",
      "properties": {
        "serviceAccount": {
          "description": "IAM service account whose credentials will be used at runtime.",
          "type": "string"
        },
        "privilegeMode": {
          "description": "Optional. Privilege mode.",
          "enumDescriptions": [
            "Default to PRIVILEGED.",
            "Privileged mode.",
            "Unprivileged mode."
          ],
          "type": "string",
          "deprecated": true,
          "enum": [
            "PRIVILEGE_MODE_UNSPECIFIED",
            "PRIVILEGED",
            "UNPRIVILEGED"
          ]
        }
      },
      "type": "object"
    },
    "Provenance": {
      "id": "Provenance",
      "description": "Provenance configuration.",
      "properties": {
        "enabled": {
          "enum": [
            "ENABLED_UNSPECIFIED",
            "REQUIRED",
            "OPTIMISTIC",
            "DISABLED"
          ],
          "type": "string",
          "description": "Optional. Provenance push mode.",
          "enumDescriptions": [
            "Default to disabled (before AA regionalization), optimistic after",
            "Provenance failures would fail the run",
            "GCB will attempt to push to artifact analaysis and build state would not be impacted by the push failures.",
            "Disable the provenance push entirely."
          ]
        },
        "storage": {
          "description": "Optional. Where provenance is stored.",
          "enumDescriptions": [
            "Default PREFER_ARTIFACT_PROJECT.",
            "GCB will attempt to push provenance to the artifact project. If it is not available, fallback to build project.",
            "Only push to artifact project.",
            "Only push to build project."
          ],
          "type": "string",
          "enum": [
            "STORAGE_UNSPECIFIED",
            "PREFER_ARTIFACT_PROJECT",
            "ARTIFACT_PROJECT_ONLY",
            "BUILD_PROJECT_ONLY"
          ]
        },
        "region": {
          "enum": [
            "REGION_UNSPECIFIED",
            "GLOBAL"
          ],
          "type": "string",
          "description": "Optional. Provenance region.",
          "enumDescriptions": [
            "The PipelineRun/TaskRun/Workflow will be rejected. Update this comment to push to the same region as the run in Artifact Analysis when it's regionalized.",
            "Push provenance to Artifact Analysis in global region."
          ]
        }
      },
      "type": "object"
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      },
      "type": "object"
    },
    "BitbucketDataCenterConfig": {
      "type": "object",
      "properties": {
        "webhookSecretSecretVersion": {
          "description": "Required. Immutable. SecretManager resource containing the webhook secret used to verify webhook events, formatted as `projects/*/secrets/*/versions/*`.",
          "type": "string"
        },
        "sslCa": {
          "description": "Optional. SSL certificate to use for requests to the Bitbucket Data Center.",
          "type": "string"
        },
        "hostUri": {
          "description": "Required. The URI of the Bitbucket Data Center instance or cluster this connection is for.",
          "type": "string"
        },
        "serviceDirectoryConfig": {
          "description": "Optional. Configuration for using Service Directory to privately connect to a Bitbucket Data Center. This should only be set if the Bitbucket Data Center is hosted on-premises and not reachable by public internet. If this field is left empty, calls to the Bitbucket Data Center will be made over the public internet.",
          "$ref": "GoogleDevtoolsCloudbuildV2ServiceDirectoryConfig"
        },
        "serverVersion": {
          "description": "Output only. Version of the Bitbucket Data Center running on the `host_uri`.",
          "readOnly": true,
          "type": "string"
        },
        "readAuthorizerCredential": {
          "description": "Required. A http access token with the `REPO_READ` access.",
          "$ref": "UserCredential"
        },
        "authorizerCredential": {
          "description": "Required. A http access token with the `REPO_ADMIN` scope access.",
          "$ref": "UserCredential"
        }
      },
      "id": "BitbucketDataCenterConfig",
      "description": "Configuration for connections to Bitbucket Data Center."
    },
    "PipelineSpec": {
      "properties": {
        "tasks": {
          "type": "array",
          "description": "List of Tasks that execute when this Pipeline is run.",
          "items": {
            "$ref": "PipelineTask"
          }
        },
        "results": {
          "items": {
            "$ref": "PipelineResult"
          },
          "description": "Optional. Output only. List of results written out by the pipeline's containers",
          "readOnly": true,
          "type": "array"
        },
        "finallyTasks": {
          "items": {
            "$ref": "PipelineTask"
          },
          "description": "List of Tasks that execute just before leaving the Pipeline i.e. either after all Tasks are finished executing successfully or after a failure which would result in ending the Pipeline.",
          "type": "array"
        },
        "workspaces": {
          "type": "array",
          "description": "Workspaces declares a set of named workspaces that are expected to be provided by a PipelineRun.",
          "items": {
            "$ref": "PipelineWorkspaceDeclaration"
          }
        },
        "generatedYaml": {
          "description": "Output only. auto-generated yaml that is output only for display purpose for workflows using pipeline_spec, used by UI/gcloud cli for Workflows.",
          "readOnly": true,
          "type": "string"
        },
        "params": {
          "description": "List of parameters.",
          "items": {
            "$ref": "ParamSpec"
          },
          "type": "array"
        }
      },
      "id": "PipelineSpec",
      "description": "PipelineSpec defines the desired state of Pipeline.",
      "type": "object"
    },
    "EmbeddedTask": {
      "properties": {
        "taskSpec": {
          "description": "Spec to instantiate this TaskRun.",
          "$ref": "TaskSpec"
        },
        "annotations": {
          "description": "User annotations. See https://google.aip.dev/128#annotations",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "EmbeddedTask",
      "description": "EmbeddedTask defines a Task that is embedded in a Pipeline.",
      "type": "object"
    },
    "TaskSpec": {
      "type": "object",
      "properties": {
        "sidecars": {
          "type": "array",
          "description": "Sidecars that run alongside the Task's step containers.",
          "items": {
            "$ref": "Sidecar"
          }
        },
        "params": {
          "description": "List of parameters.",
          "items": {
            "$ref": "ParamSpec"
          },
          "type": "array"
        },
        "description": {
          "description": "Description of the task.",
          "type": "string"
        },
        "workspaces": {
          "description": "The volumes that this Task requires.",
          "items": {
            "$ref": "WorkspaceDeclaration"
          },
          "type": "array"
        },
        "results": {
          "description": "Values that this Task can output.",
          "items": {
            "$ref": "TaskResult"
          },
          "type": "array"
        },
        "volumes": {
          "type": "array",
          "items": {
            "$ref": "VolumeSource"
          },
          "description": "A collection of volumes that are available to mount into steps."
        },
        "stepTemplate": {
          "description": "Optional. StepTemplate can be used as the basis for all step containers within the Task, so that the steps inherit settings on the base container.",
          "$ref": "StepTemplate"
        },
        "managedSidecars": {
          "description": "Sidecars that run alongside the Task’s step containers that should be added to this Task.",
          "items": {
            "type": "string",
            "enum": [
              "MANAGED_SIDECAR_UNSPECIFIED",
              "PRIVILEGED_DOCKER_DAEMON"
            ],
            "enumDescriptions": [
              "Default enum type; should not be used.",
              "Sidecar for a privileged docker daemon."
            ]
          },
          "type": "array"
        },
        "steps": {
          "type": "array",
          "description": "Steps of the task.",
          "items": {
            "$ref": "Step"
          }
        }
      },
      "id": "TaskSpec",
      "description": "TaskSpec contains the Spec to instantiate a TaskRun."
    },
    "UserCredential": {
      "id": "UserCredential",
      "description": "Represents a personal access token that authorized the Connection, and associated metadata.",
      "properties": {
        "userTokenSecretVersion": {
          "description": "Required. A SecretManager resource containing the user token that authorizes the Cloud Build connection. Format: `projects/*/secrets/*/versions/*`.",
          "type": "string"
        },
        "username": {
          "description": "Output only. The username associated to this token.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "Step": {
      "id": "Step",
      "description": "Step embeds the Container type, which allows it to include fields not provided by Container.",
      "properties": {
        "securityContext": {
          "description": "Optional. SecurityContext defines the security options the Step should be run with. If set, the fields of SecurityContext override the equivalent fields of PodSecurityContext. More info: https://kubernetes.io/docs/tasks/configure-pod-container/security-context/ +optional",
          "$ref": "SecurityContext"
        },
        "name": {
          "description": "Name of the container specified as a DNS_LABEL.",
          "type": "string"
        },
        "command": {
          "description": "Entrypoint array.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "volumeMounts": {
          "type": "array",
          "description": "Pod volumes to mount into the container's filesystem.",
          "items": {
            "$ref": "VolumeMount"
          }
        },
        "ref": {
          "description": "Optional. Optional reference to a remote StepAction.",
          "$ref": "StepRef"
        },
        "workingDir": {
          "description": "Container's working directory.",
          "type": "string"
        },
        "args": {
          "type": "array",
          "description": "Arguments to the entrypoint.",
          "items": {
            "type": "string"
          }
        },
        "timeout": {
          "type": "string",
          "format": "google-duration",
          "description": "Time after which the Step times out. Defaults to never."
        },
        "script": {
          "description": "The contents of an executable file to execute.",
          "type": "string"
        },
        "onError": {
          "type": "string",
          "enum": [
            "ON_ERROR_TYPE_UNSPECIFIED",
            "STOP_AND_FAIL",
            "CONTINUE"
          ],
          "description": "Optional. OnError defines the exiting behavior on error can be set to [ continue | stopAndFail ]",
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "StopAndFail indicates exit if the step/task exits with non-zero exit code",
            "Continue indicates continue executing the rest of the steps/tasks irrespective of the exit code"
          ]
        },
        "env": {
          "description": "List of environment variables to set in the container.",
          "items": {
            "$ref": "EnvVar"
          },
          "type": "array"
        },
        "params": {
          "type": "array",
          "description": "Optional. Optional parameters passed to the StepAction.",
          "items": {
            "$ref": "Param"
          }
        },
        "image": {
          "description": "Docker image name.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TimeoutFields": {
      "type": "object",
      "id": "TimeoutFields",
      "description": "TimeoutFields allows granular specification of pipeline, task, and finally timeouts",
      "properties": {
        "pipeline": {
          "description": "Pipeline sets the maximum allowed duration for execution of the entire pipeline. The sum of individual timeouts for tasks and finally must not exceed this value.",
          "format": "google-duration",
          "type": "string"
        },
        "finally": {
          "type": "string",
          "format": "google-duration",
          "description": "Finally sets the maximum allowed duration of this pipeline's finally"
        },
        "tasks": {
          "type": "string",
          "format": "google-duration",
          "description": "Tasks sets the maximum allowed duration of this pipeline's tasks"
        }
      }
    },
    "CreateRepositoryRequest": {
      "type": "object",
      "properties": {
        "repositoryId": {
          "description": "Required. The ID to use for the repository, which will become the final component of the repository's resource name. This ID should be unique in the connection. Allows alphanumeric characters and any of -._~%!$&'()*+,;=@.",
          "type": "string"
        },
        "parent": {
          "description": "Required. The connection to contain the repository. If the request is part of a BatchCreateRepositoriesRequest, this field should be empty or match the parent specified there.",
          "type": "string"
        },
        "repository": {
          "description": "Required. The repository to create.",
          "$ref": "Repository"
        }
      },
      "id": "CreateRepositoryRequest",
      "description": "Message for creating a Repository."
    },
    "EnvVar": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the environment variable.",
          "type": "string"
        },
        "value": {
          "description": "Value of the environment variable.",
          "type": "string"
        }
      },
      "id": "EnvVar",
      "description": "Environment variable."
    },
    "ListLocationsResponse": {
      "properties": {
        "locations": {
          "type": "array",
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "type": "object"
    },
    "ParamSpec": {
      "type": "object",
      "properties": {
        "default": {
          "description": "The default value a parameter takes if no input value is supplied",
          "$ref": "ParamValue"
        },
        "description": {
          "description": "Description of the ParamSpec",
          "type": "string"
        },
        "name": {
          "description": "Name of the ParamSpec",
          "type": "string"
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "ARRAY",
            "OBJECT"
          ],
          "type": "string",
          "description": "Type of ParamSpec",
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Default",
            "Array type.",
            "Object type."
          ]
        }
      },
      "id": "ParamSpec",
      "description": "ParamSpec defines parameters needed beyond typed inputs (such as resources). Parameter values are provided by users as inputs on a TaskRun or PipelineRun."
    },
    "TaskResult": {
      "properties": {
        "name": {
          "description": "Name of the result.",
          "type": "string"
        },
        "type": {
          "description": "The type of data that the result holds.",
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Default",
            "Array type",
            "Object type"
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "ARRAY",
            "OBJECT"
          ]
        },
        "properties": {
          "description": "When type is OBJECT, this map holds the names of fields inside that object along with the type of data each field holds.",
          "type": "object",
          "additionalProperties": {
            "$ref": "PropertySpec"
          }
        },
        "description": {
          "description": "Description of the result.",
          "type": "string"
        },
        "value": {
          "description": "Optional. Optionally used to initialize a Task's result with a Step's result.",
          "$ref": "ParamValue"
        }
      },
      "id": "TaskResult",
      "description": "TaskResult is used to describe the results of a task.",
      "type": "object"
    },
    "WhenExpression": {
      "type": "object",
      "id": "WhenExpression",
      "description": "Conditions that need to be true for the task to run.",
      "properties": {
        "input": {
          "description": "Input is the string for guard checking which can be a static input or an output from a parent Task.",
          "type": "string"
        },
        "expressionOperator": {
          "type": "string",
          "enum": [
            "EXPRESSION_OPERATOR_UNSPECIFIED",
            "IN",
            "NOT_IN"
          ],
          "description": "Operator that represents an Input's relationship to the values",
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Input is in values.",
            "Input is not in values."
          ]
        },
        "values": {
          "items": {
            "type": "string"
          },
          "description": "Values is an array of strings, which is compared against the input, for guard checking.",
          "type": "array"
        }
      }
    },
    "TestIamPermissionsRequest": {
      "type": "object",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array"
        }
      },
      "id": "TestIamPermissionsRequest",
      "description": "Request message for `TestIamPermissions` method."
    },
    "PipelineWorkspaceDeclaration": {
      "type": "object",
      "properties": {
        "description": {
          "description": "Description is a human readable string describing how the workspace will be used in the Pipeline.",
          "type": "string"
        },
        "optional": {
          "description": "Optional marks a Workspace as not being required in PipelineRuns. By default this field is false and so declared workspaces are required.",
          "type": "boolean"
        },
        "name": {
          "description": "Name is the name of a workspace to be provided by a PipelineRun.",
          "type": "string"
        }
      },
      "id": "PipelineWorkspaceDeclaration",
      "description": "Workspaces declares a set of named workspaces that are expected to be provided by a PipelineRun."
    },
    "FetchReadTokenResponse": {
      "properties": {
        "token": {
          "description": "The token content.",
          "type": "string"
        },
        "expirationTime": {
          "format": "google-datetime",
          "description": "Expiration timestamp. Can be empty if unknown or non-expiring.",
          "type": "string"
        }
      },
      "id": "FetchReadTokenResponse",
      "description": "Message for responding to get read token.",
      "type": "object"
    },
    "ListConnectionsResponse": {
      "id": "ListConnectionsResponse",
      "description": "Message for response to listing Connections.",
      "properties": {
        "connections": {
          "description": "The list of Connections.",
          "items": {
            "$ref": "Connection"
          },
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "BatchCreateRepositoriesRequest": {
      "type": "object",
      "id": "BatchCreateRepositoriesRequest",
      "description": "Message for creating repositoritories in batch.",
      "properties": {
        "requests": {
          "items": {
            "$ref": "CreateRepositoryRequest"
          },
          "description": "Required. The request messages specifying the repositories to create.",
          "type": "array"
        }
      }
    },
    "SecretVolumeSource": {
      "type": "object",
      "id": "SecretVolumeSource",
      "description": "Secret Volume Source.",
      "properties": {
        "secretName": {
          "description": "Name of the secret referenced by the WorkspaceBinding.",
          "type": "string"
        },
        "secretVersion": {
          "description": "Optional. Resource name of the SecretVersion. In format: projects/*/secrets/*/versions/*",
          "type": "string"
        }
      }
    },
    "FetchReadWriteTokenResponse": {
      "type": "object",
      "properties": {
        "token": {
          "description": "The token content.",
          "type": "string"
        },
        "expirationTime": {
          "type": "string",
          "description": "Expiration timestamp. Can be empty if unknown or non-expiring.",
          "format": "google-datetime"
        }
      },
      "id": "FetchReadWriteTokenResponse",
      "description": "Message for responding to get read/write token."
    },
    "Connection": {
      "type": "object",
      "id": "Connection",
      "description": "A connection to a SCM like GitHub, GitHub Enterprise, Bitbucket Data Center, Bitbucket Cloud or GitLab.",
      "properties": {
        "githubEnterpriseConfig": {
          "description": "Configuration for connections to an instance of GitHub Enterprise.",
          "$ref": "GoogleDevtoolsCloudbuildV2GitHubEnterpriseConfig"
        },
        "githubConfig": {
          "description": "Configuration for connections to github.com.",
          "$ref": "GitHubConfig"
        },
        "name": {
          "description": "Immutable. The resource name of the connection, in the format `projects/{project}/locations/{location}/connections/{connection_id}`.",
          "type": "string"
        },
        "bitbucketDataCenterConfig": {
          "description": "Configuration for connections to Bitbucket Data Center.",
          "$ref": "BitbucketDataCenterConfig"
        },
        "disabled": {
          "description": "Optional. If disabled is set to true, functionality is disabled for this connection. Repository based API methods and webhooks processing for repositories in this connection will be disabled.",
          "type": "boolean"
        },
        "reconciling": {
          "description": "Output only. Set to true when the connection is being set up or updated in the background.",
          "readOnly": true,
          "type": "boolean"
        },
        "gitlabConfig": {
          "description": "Configuration for connections to gitlab.com or an instance of GitLab Enterprise.",
          "$ref": "GoogleDevtoolsCloudbuildV2GitLabConfig"
        },
        "bitbucketCloudConfig": {
          "description": "Configuration for connections to Bitbucket Cloud.",
          "$ref": "BitbucketCloudConfig"
        },
        "etag": {
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Server assigned timestamp for when the connection was updated."
        },
        "installationState": {
          "readOnly": true,
          "$ref": "InstallationState",
          "description": "Output only. Installation state of the Connection."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Server assigned timestamp for when the connection was created.",
          "readOnly": true,
          "type": "string"
        },
        "annotations": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Allows clients to store small amounts of arbitrary data."
        }
      }
    },
    "Worker": {
      "type": "object",
      "properties": {
        "machineType": {
          "description": "Optional. Machine type of a worker, default is \"e2-standard-2\".",
          "type": "string"
        }
      },
      "id": "Worker",
      "description": "Configuration for the worker."
    },
    "GoogleDevtoolsCloudbuildV2GitLabConfig": {
      "properties": {
        "authorizerCredential": {
          "description": "Required. A GitLab personal access token with the `api` scope access.",
          "$ref": "UserCredential"
        },
        "readAuthorizerCredential": {
          "description": "Required. A GitLab personal access token with the minimum `read_api` scope access.",
          "$ref": "UserCredential"
        },
        "serviceDirectoryConfig": {
          "description": "Optional. Configuration for using Service Directory to privately connect to a GitLab Enterprise server. This should only be set if the GitLab Enterprise server is hosted on-premises and not reachable by public internet. If this field is left empty, calls to the GitLab Enterprise server will be made over the public internet.",
          "$ref": "GoogleDevtoolsCloudbuildV2ServiceDirectoryConfig"
        },
        "serverVersion": {
          "description": "Output only. Version of the GitLab Enterprise server running on the `host_uri`.",
          "readOnly": true,
          "type": "string"
        },
        "hostUri": {
          "description": "Optional. The URI of the GitLab Enterprise host this connection is for. If not specified, the default value is https://gitlab.com.",
          "type": "string"
        },
        "webhookSecretSecretVersion": {
          "description": "Required. Immutable. SecretManager resource containing the webhook secret of a GitLab Enterprise project, formatted as `projects/*/secrets/*/versions/*`.",
          "type": "string"
        },
        "sslCa": {
          "description": "Optional. SSL certificate to use for requests to GitLab Enterprise.",
          "type": "string"
        }
      },
      "id": "GoogleDevtoolsCloudbuildV2GitLabConfig",
      "description": "Configuration for connections to gitlab.com or an instance of GitLab Enterprise.",
      "type": "object"
    },
    "Binding": {
      "id": "Binding",
      "description": "Associates `members`, or principals, with a `role`.",
      "properties": {
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        },
        "members": {
          "items": {
            "type": "string"
          },
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project
[...]
