{
  "version_module": true,
  "kind": "discovery#restDescription",
  "parameters": {
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    }
  },
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "mtlsRootUrl": "https://cloudbuild.mtls.googleapis.com/",
  "id": "cloudbuild:v1",
  "canonicalName": "Cloud Build",
  "batchPath": "batch",
  "basePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "baseUrl": "https://cloudbuild.googleapis.com/",
  "ownerName": "Google",
  "servicePath": "",
  "protocol": "rest",
  "rootUrl": "https://cloudbuild.googleapis.com/",
  "title": "Cloud Build API",
  "version": "v1",
  "endpoints": [
    {
      "endpointUrl": "https://cloudbuild.africa-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "africa-south1"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-east1",
      "endpointUrl": "https://cloudbuild.asia-east1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-east2",
      "endpointUrl": "https://cloudbuild.asia-east2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://cloudbuild.asia-northeast1.rep.googleapis.com/",
      "location": "asia-northeast1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.asia-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.asia-northeast3.rep.googleapis.com/",
      "location": "asia-northeast3"
    },
    {
      "endpointUrl": "https://cloudbuild.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south1"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-south2",
      "endpointUrl": "https://cloudbuild.asia-south2.rep.googleapis.com/"
    },
    {
      "location": "asia-southeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.asia-southeast1.rep.googleapis.com/"
    },
    {
      "location": "asia-southeast2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.asia-southeast2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-southeast3",
      "endpointUrl": "https://cloudbuild.asia-southeast3.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://cloudbuild.australia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "australia-southeast1"
    },
    {
      "endpointUrl": "https://cloudbuild.australia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "australia-southeast2"
    },
    {
      "endpointUrl": "https://cloudbuild.europe-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-central2"
    },
    {
      "location": "europe-north1",
      "endpointUrl": "https://cloudbuild.europe-north1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-north2",
      "endpointUrl": "https://cloudbuild.europe-north2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-southwest1",
      "endpointUrl": "https://cloudbuild.europe-southwest1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://cloudbuild.europe-west1.rep.googleapis.com/",
      "location": "europe-west1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west10",
      "endpointUrl": "https://cloudbuild.europe-west10.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://cloudbuild.europe-west12.rep.googleapis.com/",
      "location": "europe-west12",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.europe-west2.rep.googleapis.com/",
      "location": "europe-west2",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west3",
      "endpointUrl": "https://cloudbuild.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.europe-west4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west4"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.europe-west6.rep.googleapis.com/",
      "location": "europe-west6"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west8",
      "endpointUrl": "https://cloudbuild.europe-west8.rep.googleapis.com/"
    },
    {
      "location": "europe-west9",
      "endpointUrl": "https://cloudbuild.europe-west9.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west15",
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.europe-west15.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://cloudbuild.me-central1.rep.googleapis.com/",
      "location": "me-central1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-central2"
    },
    {
      "endpointUrl": "https://cloudbuild.me-west1.rep.googleapis.com/",
      "location": "me-west1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "northamerica-northeast1",
      "endpointUrl": "https://cloudbuild.northamerica-northeast1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "northamerica-northeast2",
      "endpointUrl": "https://cloudbuild.northamerica-northeast2.rep.googleapis.com/"
    },
    {
      "location": "northamerica-south1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.northamerica-south1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.southamerica-east1.rep.googleapis.com/",
      "location": "southamerica-east1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.southamerica-west1.rep.googleapis.com/",
      "location": "southamerica-west1"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-central1",
      "endpointUrl": "https://cloudbuild.us-central1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.us-central2.rep.googleapis.com/",
      "location": "us-central2"
    },
    {
      "location": "us-east1",
      "endpointUrl": "https://cloudbuild.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.us-east4.rep.googleapis.com/",
      "location": "us-east4",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.us-east5.rep.googleapis.com/",
      "location": "us-east5",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east7",
      "endpointUrl": "https://cloudbuild.us-east7.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://cloudbuild.us-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-south1"
    },
    {
      "endpointUrl": "https://cloudbuild.us-west1.rep.googleapis.com/",
      "location": "us-west1",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west2",
      "endpointUrl": "https://cloudbuild.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west3",
      "endpointUrl": "https://cloudbuild.us-west3.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://cloudbuild.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west4"
    },
    {
      "endpointUrl": "https://cloudbuild.us-west8.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west8"
    }
  ],
  "revision": "20260904",
  "schemas": {
    "Hash": {
      "id": "Hash",
      "properties": {
        "type": {
          "enumDescriptions": [
            "No hash requested.",
            "Use a sha256 hash.",
            "Use a md5 hash.",
            "Dirhash of a Go module's source code which is then hex-encoded.",
            "Use a sha512 hash.",
            "Use a dirsum_sha256 hash."
          ],
          "enum": [
            "NONE",
            "SHA256",
            "MD5",
            "GO_MODULE_H1",
            "SHA512",
            "DIRSUM_SHA256"
          ],
          "description": "The type of hash that was performed.",
          "type": "string"
        },
        "value": {
          "description": "The hash value.",
          "format": "byte",
          "type": "string"
        }
      },
      "description": "Container message for hash values.",
      "type": "object"
    },
    "BuildStep": {
      "id": "BuildStep",
      "description": "A step in the build pipeline.",
      "properties": {
        "status": {
          "description": "Output only. Status of the build step. At this time, build step status is only updated on build completion; step status is not updated in real-time as the build progresses.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Status of the build is unknown.",
            "Build has been created and is pending execution and queuing. It has not been queued.",
            "Build or step is queued; work has not yet begun.",
            "Build or step is being executed.",
            "Build or step finished successfully.",
            "Build or step failed to complete successfully.",
            "Build or step failed due to an internal cause.",
            "Build or step took longer than was allowed.",
            "Build or step was canceled by a user.",
            "Build was enqueued for longer than the value of `queue_ttl`."
          ],
          "enum": [
            "STATUS_UNKNOWN",
            "PENDING",
            "QUEUED",
            "WORKING",
            "SUCCESS",
            "FAILURE",
            "INTERNAL_ERROR",
            "TIMEOUT",
            "CANCELLED",
            "EXPIRED"
          ]
        },
        "results": {
          "description": "Declaration of results for this build step.",
          "type": "array",
          "items": {
            "$ref": "StepResult"
          }
        },
        "id": {
          "description": "Unique identifier for this build step, used in `wait_for` to reference this build step as a dependency.",
          "type": "string"
        },
        "timing": {
          "readOnly": true,
          "$ref": "TimeSpan",
          "description": "Output only. Stores timing information for executing this build step."
        },
        "args": {
          "description": "A list of arguments that will be presented to the step when it is started. If the image used to run the step's container has an entrypoint, the `args` are used as arguments to that entrypoint. If the image does not define an entrypoint, the first element in args is used as the entrypoint, and the remainder will be used as arguments.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "secretEnv": {
          "items": {
            "type": "string"
          },
          "description": "A list of environment variables which are encrypted using a Cloud Key Management Service crypto key. These values must be specified in the build's `Secret`.",
          "type": "array"
        },
        "exitCode": {
          "type": "integer",
          "description": "Output only. Return code from running the step.",
          "format": "int32",
          "readOnly": true
        },
        "pullTiming": {
          "description": "Output only. Stores timing information for pulling this build step's builder image only.",
          "readOnly": true,
          "$ref": "TimeSpan"
        },
        "allowFailure": {
          "description": "Allow this build step to fail without failing the entire build. If false, the entire build will fail if this step fails. Otherwise, the build will succeed, but this step will still have a failure status. Error information will be reported in the failure_detail field.",
          "type": "boolean"
        },
        "automapSubstitutions": {
          "description": "Option to include built-in and custom substitutions as env variables for this build step. This option will override the global option in BuildOption.",
          "type": "boolean"
        },
        "env": {
          "type": "array",
          "description": "A list of environment variable definitions to be used when running a step. The elements are of the form \"KEY=VALUE\" for the environment variable \"KEY\" being given the value \"VALUE\".",
          "items": {
            "type": "string"
          }
        },
        "waitFor": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The ID(s) of the step(s) that this build step depends on. This build step will not start until all the build steps in `wait_for` have completed successfully. If `wait_for` is empty, this build step will start when all previous build steps in the `Build.Steps` list have completed successfully."
        },
        "volumes": {
          "type": "array",
          "items": {
            "$ref": "Volume"
          },
          "description": "List of volumes to mount into the build step. Each volume is created as an empty volume prior to execution of the build step. Upon completion of the build, volumes and their contents are discarded. Using a named volume in only one step is not valid as it is indicative of a build request with an incorrect configuration."
        },
        "script": {
          "type": "string",
          "description": "A shell script to be executed in the step. When script is provided, the user cannot specify the entrypoint or args."
        },
        "allowExitCodes": {
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "description": "Allow this build step to fail without failing the entire build if and only if the exit code is one of the specified codes. If allow_failure is also specified, this field will take precedence."
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the container image that will run this particular build step. If the image is available in the host's Docker daemon's cache, it will be run directly. If not, the host will attempt to pull the image first, using the builder service account's credentials if necessary. The Docker daemon's cache will already have the latest versions of all of the officially supported build steps ([https://github.com/GoogleCloudPlatform/cloud-builders](https://github.com/GoogleCloudPlatform/cloud-builders)). The Docker daemon will also have cached many of the layers for some popular images, like \"ubuntu\", \"debian\", but they will be refreshed at the time you attempt to use them. If you built an image in a previous build step, it will be stored in the host's Docker daemon's cache and is available to use as the name for a later build step."
        },
        "entrypoint": {
          "description": "Entrypoint to be used instead of the build step image's default entrypoint. If unset, the image's default entrypoint is used.",
          "type": "string"
        },
        "timeout": {
          "description": "Time limit for executing this build step. If not defined, the step has no time limit and will be allowed to continue to run until either it completes or the build itself times out.",
          "type": "string",
          "format": "google-duration"
        },
        "dir": {
          "description": "Working directory to use when running this step's container. If this value is a relative path, it is relative to the build's working directory. If this value is absolute, it may be outside the build's working directory, in which case the contents of the path may not be persisted across build step executions, unless a `volume` for that path is specified. If the build specifies a `RepoSource` with `dir` and a step with a `dir`, which specifies an absolute path, the `RepoSource` `dir` is ignored for the step's execution.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Dependency": {
      "type": "object",
      "description": "A dependency that the Cloud Build worker will fetch before executing user steps.",
      "properties": {
        "empty": {
          "description": "If set to true disable all dependency fetching (ignoring the default source as well).",
          "type": "boolean"
        },
        "gitSource": {
          "description": "Represents a git repository as a build dependency.",
          "$ref": "GitSourceDependency"
        },
        "genericArtifact": {
          "$ref": "GenericArtifactDependency",
          "description": "Represents a generic artifact as a build dependency."
        }
      },
      "id": "Dependency"
    },
    "Status": {
      "id": "Status",
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        }
      }
    },
    "CreateBitbucketServerConfigOperationMetadata": {
      "id": "CreateBitbucketServerConfigOperationMetadata",
      "type": "object",
      "properties": {
        "bitbucketServerConfig": {
          "description": "The resource name of the BitbucketServerConfig to be created. Format: `projects/{project}/locations/{location}/bitbucketServerConfigs/{id}`.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time the operation was created."
        },
        "completeTime": {
          "type": "string",
          "description": "Time the operation was completed.",
          "format": "google-datetime"
        }
      },
      "description": "Metadata for `CreateBitbucketServerConfig` operation."
    },
    "Secrets": {
      "type": "object",
      "properties": {
        "inline": {
          "items": {
            "$ref": "InlineSecret"
          },
          "description": "Secrets encrypted with KMS key and the associated secret environment variable.",
          "type": "array"
        },
        "secretManager": {
          "type": "array",
          "items": {
            "$ref": "SecretManagerSecret"
          },
          "description": "Secrets in Secret Manager and associated secret environment variable."
        }
      },
      "id": "Secrets",
      "description": "Secrets and secret environment variables."
    },
    "ListWorkerPoolsResponse": {
      "properties": {
        "workerPools": {
          "description": "`WorkerPools` for the specified project.",
          "items": {
            "$ref": "WorkerPool"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Continuation token used to page through large result sets. Provide this value in a subsequent ListWorkerPoolsRequest to return the next page of results.",
          "type": "string"
        }
      },
      "description": "Response containing existing `WorkerPools`.",
      "id": "ListWorkerPoolsResponse",
      "type": "object"
    },
    "OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "id": "OperationMetadata",
      "type": "object",
      "properties": {
        "target": {
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true
        },
        "apiVersion": {
          "readOnly": true,
          "description": "Output only. API version used to start the operation.",
          "type": "string"
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime"
        },
        "verb": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation."
        },
        "statusDetail": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "cancelRequested": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation was created."
        }
      }
    },
    "RemoveBitbucketServerConnectedRepositoryRequest": {
      "properties": {
        "connectedRepository": {
          "description": "The connected repository to remove.",
          "$ref": "BitbucketServerRepositoryId"
        }
      },
      "id": "RemoveBitbucketServerConnectedRepositoryRequest",
      "description": "RPC request object accepted by RemoveBitbucketServerConnectedRepository RPC method.",
      "type": "object"
    },
    "PullRequestFilter": {
      "properties": {
        "invertRegex": {
          "type": "boolean",
          "description": "If true, branches that do NOT match the git_ref will trigger a build."
        },
        "branch": {
          "description": "Regex of branches to match. The syntax of the regular expressions accepted is the syntax accepted by RE2 and described at https://github.com/google/re2/wiki/Syntax",
          "type": "string"
        },
        "commentControl": {
          "description": "If CommentControl is enabled, depending on the setting, builds may not fire until a repository writer comments `/gcbrun` on a pull request or `/gcbrun` is in the pull request description. Only PR comments that contain `/gcbrun` will trigger builds. If CommentControl is set to disabled, comments with `/gcbrun` from a user with repository write permission or above will still trigger builds to run.",
          "enum": [
            "COMMENTS_DISABLED",
            "COMMENTS_ENABLED",
            "COMMENTS_ENABLED_FOR_EXTERNAL_CONTRIBUTORS_ONLY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Do not require `/gcbrun` comments from a user with repository write permission or above on pull requests before builds are triggered. Comments that contain `/gcbrun` will still fire builds so this should be thought of as comments not required.",
            "Builds will only fire in response to pull requests if: 1. The pull request author has repository write permission or above and `/gcbrun` is in the PR description. 2. A user with repository writer permissions or above comments `/gcbrun` on a pull request authored by any user.",
            "Builds will only fire in response to pull requests if: 1. The pull request author is a repository writer or above. 2. If the author does not have write permissions, a user with write permissions or above must comment `/gcbrun` in order to fire a build."
          ]
        }
      },
      "description": "PullRequestFilter contains filter properties for matching GitHub Pull Requests.",
      "type": "object",
      "id": "PullRequestFilter"
    },
    "Source": {
      "type": "object",
      "properties": {
        "repoSource": {
          "$ref": "RepoSource",
          "description": "If provided, get the source from this location in a Cloud Source Repository."
        },
        "developerConnectConfig": {
          "$ref": "DeveloperConnectConfig",
          "description": "If provided, get the source from this Developer Connect config."
        },
        "storageSourceManifest": {
          "description": "If provided, get the source from this manifest in Cloud Storage. This feature is in Preview; see description [here](https://github.com/GoogleCloudPlatform/cloud-builders/tree/master/gcs-fetcher).",
          "$ref": "StorageSourceManifest"
        },
        "gitSource": {
          "description": "If provided, get the source from this Git repository.",
          "$ref": "GitSource"
        },
        "connectedRepository": {
          "$ref": "ConnectedRepository",
          "description": "Optional. If provided, get the source from this 2nd-gen Google Cloud Build repository resource."
        },
        "storageSource": {
          "description": "If provided, get the source from this location in Cloud Storage.",
          "$ref": "StorageSource"
        }
      },
      "description": "Location of the source in a supported storage service.",
      "id": "Source"
    },
    "Empty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty"
    },
    "RepositoryEventConfig": {
      "description": "The configuration of a trigger that creates a build whenever an event from Repo API is received.",
      "id": "RepositoryEventConfig",
      "properties": {
        "pullRequest": {
          "$ref": "PullRequestFilter",
          "description": "Filter to match changes in pull requests."
        },
        "repositoryType": {
          "enumDescriptions": [
            "If unspecified, RepositoryType defaults to GITHUB.",
            "The SCM repo is GITHUB.",
            "The SCM repo is GITHUB Enterprise.",
            "The SCM repo is GITLAB Enterprise.",
            "The SCM repo is BITBUCKET Data Center.",
            "The SCM repo is BITBUCKET Cloud."
          ],
          "enum": [
            "REPOSITORY_TYPE_UNSPECIFIED",
            "GITHUB",
            "GITHUB_ENTERPRISE",
            "GITLAB_ENTERPRISE",
            "BITBUCKET_DATA_CENTER",
            "BITBUCKET_CLOUD"
          ],
          "type": "string",
          "description": "Output only. The type of the SCM vendor the repository points to.",
          "readOnly": true
        },
        "repository": {
          "type": "string",
          "description": "The resource name of the Repo API resource."
        },
        "push": {
          "description": "Filter to match changes in refs like branches, tags.",
          "$ref": "PushFilter"
        }
      },
      "type": "object"
    },
    "CreateWorkerPoolOperationMetadata": {
      "description": "Metadata for the `CreateWorkerPool` operation.",
      "properties": {
        "completeTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time the operation was completed."
        },
        "workerPool": {
          "type": "string",
          "description": "The resource name of the `WorkerPool` to create. Format: `projects/{project}/locations/{location}/workerPools/{worker_pool}`."
        },
        "createTime": {
          "description": "Time the operation was created.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "CreateWorkerPoolOperationMetadata"
    },
    "FailureInfo": {
      "description": "A fatal problem encountered during the execution of the build.",
      "properties": {
        "type": {
          "enum": [
            "FAILURE_TYPE_UNSPECIFIED",
            "PUSH_FAILED",
            "PUSH_IMAGE_NOT_FOUND",
            "PUSH_NOT_AUTHORIZED",
            "LOGGING_FAILURE",
            "USER_BUILD_STEP",
            "FETCH_SOURCE_FAILED"
          ],
          "description": "The name of the failure.",
          "type": "string",
          "enumDescriptions": [
            "Type unspecified",
            "Unable to push the image to the repository.",
            "Final image not found.",
            "Unauthorized push of the final image.",
            "Backend logging failures. Should retry.",
            "A build step has failed.",
            "The source fetching has failed."
          ]
        },
        "detail": {
          "description": "Explains the failure issue in more detail using hard-coded text.",
          "type": "string"
        }
      },
      "id": "FailureInfo",
      "type": "object"
    },
    "Artifacts": {
      "properties": {
        "npmPackages": {
          "type": "array",
          "description": "A list of npm packages to be uploaded to Artifact Registry upon successful completion of all build steps. Npm packages in the specified paths will be uploaded to the specified Artifact Registry repository using the builder service account's credentials. If any packages fail to be pushed, the build is marked FAILURE.",
          "items": {
            "$ref": "NpmPackage"
          }
        },
        "oci": {
          "type": "array",
          "items": {
            "$ref": "Oci"
          },
          "description": "Optional. A list of OCI images to be uploaded to Artifact Registry upon successful completion of all build steps. OCI images in the specified paths will be uploaded to the specified Artifact Registry repository using the builder service account's credentials. If any images fail to be pushed, the build is marked FAILURE."
        },
        "objects": {
          "description": "A list of objects to be uploaded to Cloud Storage upon successful completion of all build steps. Files in the workspace matching specified paths globs will be uploaded to the specified Cloud Storage location using the builder service account's credentials. The location and generation of the uploaded objects will be stored in the Build resource's results field. If any objects fail to be pushed, the build is marked FAILURE.",
          "$ref": "ArtifactObjects"
        },
        "pythonPackages": {
          "description": "A list of Python packages to be uploaded to Artifact Registry upon successful completion of all build steps. The build service account credentials will be used to perform the upload. If any objects fail to be pushed, the build is marked FAILURE.",
          "items": {
            "$ref": "PythonPackage"
          },
          "type": "array"
        },
        "goModules": {
          "type": "array",
          "description": "Optional. A list of Go modules to be uploaded to Artifact Registry upon successful completion of all build steps. If any objects fail to be pushed, the build is marked FAILURE.",
          "items": {
            "$ref": "GoModule"
          }
        },
        "genericArtifacts": {
          "type": "array",
          "items": {
            "$ref": "GenericArtifact"
          },
          "description": "Optional. A list of generic artifacts to be uploaded to Artifact Registry upon successful completion of all build steps. If any artifacts fail to be pushed, the build is marked FAILURE."
        },
        "images": {
          "description": "A list of images to be pushed upon the successful completion of all build steps. The images will be pushed using the builder service account's credentials. The digests of the pushed images will be stored in the Build resource's results field. If any of the images fail to be pushed, the build is marked FAILURE.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "mavenArtifacts": {
          "description": "A list of Maven artifacts to be uploaded to Artifact Registry upon successful completion of all build steps. Artifacts in the workspace matching specified paths globs will be uploaded to the specified Artifact Registry repository using the builder service account's credentials. If any artifacts fail to be pushed, the build is marked FAILURE.",
          "type": "array",
          "items": {
            "$ref": "MavenArtifact"
          }
        }
      },
      "description": "Artifacts produced by a build that should be uploaded upon successful completion of all build steps.",
      "type": "object",
      "id": "Artifacts"
    },
    "CreateBitbucketServerConnectedRepositoryRequest": {
      "description": "Request to connect a repository from a connected Bitbucket Server host.",
      "id": "CreateBitbucketServerConnectedRepositoryRequest",
      "properties": {
        "bitbucketServerConnectedRepository": {
          "$ref": "BitbucketServerConnectedRepository",
          "description": "Required. The Bitbucket Server repository to connect."
        },
        "parent": {
          "description": "Required. The name of the `BitbucketServerConfig` that added connected repository. Format: `projects/{project}/locations/{location}/bitbucketServerConfigs/{config}`",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PythonPackage": {
      "id": "PythonPackage",
      "description": "Python package to upload to Artifact Registry upon successful completion of all build steps. A package can encapsulate multiple objects to be uploaded to a single repository.",
      "type": "object",
      "properties": {
        "paths": {
          "description": "Path globs used to match files in the build's workspace. For Python/ Twine, this is usually `dist/*`, and sometimes additionally an `.asc` file.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "repository": {
          "type": "string",
          "description": "Artifact Registry repository, in the form \"https://$REGION-python.pkg.dev/$PROJECT/$REPOSITORY\" Files in the workspace matching any path pattern will be uploaded to Artifact Registry with this location as a prefix."
        }
      }
    },
    "BuildApproval": {
      "description": "BuildApproval describes a build's approval configuration, state, and result.",
      "type": "object",
      "id": "BuildApproval",
      "properties": {
        "result": {
          "description": "Output only. Result of manual approval for this Build.",
          "$ref": "ApprovalResult",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "APPROVED",
            "REJECTED",
            "CANCELLED"
          ],
          "description": "Output only. The state of this build's approval.",
          "enumDescriptions": [
            "Default enum type. This should not be used.",
            "Build approval is pending.",
            "Build approval has been approved.",
            "Build approval has been rejected.",
            "Build was cancelled while it was still pending approval."
          ]
        },
        "config": {
          "description": "Output only. Configuration for manual approval of this build.",
          "readOnly": true,
          "$ref": "ApprovalConfig"
        }
      }
    },
    "PubsubConfig": {
      "description": "PubsubConfig describes the configuration of a trigger that creates a build whenever a Pub/Sub message is published.",
      "id": "PubsubConfig",
      "properties": {
        "serviceAccountEmail": {
          "type": "string",
          "description": "Service account that will make the push request."
        },
        "topic": {
          "description": "Optional. The name of the topic from which this subscription is receiving messages. Format is `projects/{project}/topics/{topic}`.",
          "type": "string"
        },
        "state": {
          "description": "Potential issues with the underlying Pub/Sub subscription configuration. Only populated on get requests.",
          "type": "string",
          "enumDescriptions": [
            "The subscription configuration has not been checked.",
            "The Pub/Sub subscription is properly configured.",
            "The subscription has been deleted.",
            "The topic has been deleted.",
            "Some of the subscription's field are misconfigured."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "OK",
            "SUBSCRIPTION_DELETED",
            "TOPIC_DELETED",
            "SUBSCRIPTION_MISCONFIGURED"
          ]
        },
        "subscription": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the subscription. Format is `projects/{project}/subscriptions/{subscription}`."
        }
      },
      "type": "object"
    },
    "MavenArtifact": {
      "properties": {
        "repository": {
          "type": "string",
          "description": "Artifact Registry repository, in the form \"https://$REGION-maven.pkg.dev/$PROJECT/$REPOSITORY\" Artifact in the workspace specified by path will be uploaded to Artifact Registry with this location as a prefix."
        },
        "version": {
          "description": "Maven `version` value used when uploading the artifact to Artifact Registry.",
          "type": "string"
        },
        "groupId": {
          "description": "Maven `groupId` value used when uploading the artifact to Artifact Registry.",
          "type": "string"
        },
        "deployFolder": {
          "description": "Optional. Path to a folder containing the files to upload to Artifact Registry. This can be either an absolute path, e.g. `/workspace/my-app/target/`, or a relative path from /workspace, e.g. `my-app/target/`. This field is mutually exclusive with the `path` field.",
          "type": "string"
        },
        "path": {
          "type": "string",
          "description": "Optional. Path to an artifact in the build's workspace to be uploaded to Artifact Registry. This can be either an absolute path, e.g. /workspace/my-app/target/my-app-1.0.SNAPSHOT.jar or a relative path from /workspace, e.g. my-app/target/my-app-1.0.SNAPSHOT.jar."
        },
        "artifactId": {
          "description": "Maven `artifactId` value used when uploading the artifact to Artifact Registry.",
          "type": "string"
        }
      },
      "id": "MavenArtifact",
      "description": "A Maven artifact to upload to Artifact Registry upon successful completion of all build steps.",
      "type": "object"
    },
    "GitRepoSource": {
      "description": "GitRepoSource describes a repo and ref of a code repository.",
      "type": "object",
      "properties": {
        "uri": {
          "type": "string",
          "description": "The URI of the repo (e.g. https://github.com/user/repo.git). Either `uri` or `repository` can be specified and is required."
        },
        "repoType": {
          "description": "See RepoType below.",
          "enum": [
            "UNKNOWN",
            "CLOUD_SOURCE_REPOSITORIES",
            "GITHUB",
            "BITBUCKET_SERVER",
            "GITLAB",
            "BITBUCKET_CLOUD"
          ],
          "type": "string",
          "enumDescriptions": [
            "The default, unknown repo type. Don't use it, instead use one of the other repo types.",
            "A Google Cloud Source Repositories-hosted repo.",
            "A GitHub-hosted repo not necessarily on \"github.com\" (i.e. GitHub Enterprise).",
            "A Bitbucket Server-hosted repo.",
            "A GitLab-hosted repo.",
            "A Bitbucket Cloud-hosted repo."
          ]
        },
        "ref": {
          "description": "The branch or tag to use. Must start with \"refs/\" (required).",
          "type": "string"
        },
        "repository": {
          "description": "The connected repository resource name, in the format `projects/*/locations/*/connections/*/repositories/*`. Either `uri` or `repository` can be specified and is required.",
          "type": "string"
        },
        "bitbucketServerConfig": {
          "description": "The full resource name of the bitbucket server config. Format: `projects/{project}/locations/{location}/bitbucketServerConfigs/{id}`.",
          "type": "string"
        },
        "githubEnterpriseConfig": {
          "type": "string",
          "description": "The full resource name of the github enterprise config. Format: `projects/{project}/locations/{location}/githubEnterpriseConfigs/{id}`. `projects/{project}/githubEnterpriseConfigs/{id}`."
        }
      },
      "id": "GitRepoSource"
    },
    "BitbucketServerRepositoryId": {
      "type": "object",
      "properties": {
        "webhookId": {
          "readOnly": true,
          "description": "Output only. The ID of the webhook that was created for receiving events from this repo. We only create and manage a single webhook for each repo.",
          "type": "integer",
          "format": "int32"
        },
        "repoSlug": {
          "type": "string",
          "description": "Required. Identifier for the repository."
        },
        "projectKey": {
          "description": "Required. Identifier for the project storing the repository.",
          "type": "string"
        }
      },
      "id": "BitbucketServerRepositoryId",
      "description": "BitbucketServerRepositoryId identifies a specific repository hosted on a Bitbucket Server."
    },
    "SecretManagerSecret": {
      "description": "Pairs a secret environment variable with a SecretVersion in Secret Manager.",
      "properties": {
        "versionName": {
          "description": "Resource name of the SecretVersion. In format: projects/*/secrets/*/versions/*",
          "type": "string"
        },
        "env": {
          "description": "Environment variable name to associate with the secret. Secret environment variables must be unique across all of a build's secrets, and must be used by at least one build step.",
          "type": "string"
        }
      },
      "id": "SecretManagerSecret",
      "type": "object"
    },
    "StorageSource": {
      "id": "StorageSource",
      "properties": {
        "sourceFetcher": {
          "enum": [
            "SOURCE_FETCHER_UNSPECIFIED",
            "GSUTIL",
            "GCS_FETCHER"
          ],
          "description": "Optional. Option to specify the tool to fetch the source file for the build.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified defaults to GSUTIL.",
            "Use the \"gsutil\" tool to download the source file.",
            "Use the Cloud Storage Fetcher tool to download the source file."
          ]
        },
        "bucket": {
          "description": "Cloud Storage bucket containing the source (see [Bucket Name Requirements](https://cloud.google.com/storage/docs/bucket-naming#requirements)).",
          "type": "string"
        },
        "generation": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Cloud Storage generation for the object. If the generation is omitted, the latest generation will be used."
        },
        "object": {
          "type": "string",
          "description": "Required. Cloud Storage object containing the source. This object must be a zipped (`.zip`) or gzipped archive file (`.tar.gz`) containing source to build."
        }
      },
      "type": "object",
      "description": "Location of the source in an archive file in Cloud Storage."
    },
    "ApproveBuildRequest": {
      "type": "object",
      "description": "Request to approve or reject a pending build.",
      "id": "ApproveBuildRequest",
      "properties": {
        "approvalResult": {
          "$ref": "ApprovalResult",
          "description": "Approval decision and metadata."
        }
      }
    },
    "BitbucketServerTriggerConfig": {
      "id": "BitbucketServerTriggerConfig",
      "type": "object",
      "properties": {
        "push": {
          "description": "Filter to match changes in refs like branches, tags.",
          "$ref": "PushFilter"
        },
        "bitbucketServerConfig": {
          "$ref": "BitbucketServerConfig",
          "readOnly": true,
          "description": "Output only. The BitbucketServerConfig specified in the bitbucket_server_config_resource field."
        },
        "bitbucketServerConfigResource": {
          "description": "Required. The Bitbucket server config resource that this trigger config maps to.",
          "type": "string"
        },
        "projectKey": {
          "type": "string",
          "description": "Required. Key of the project that the repo is in. For example: The key for https://mybitbucket.server/projects/TEST/repos/test-repo is \"TEST\"."
        },
        "pullRequest": {
          "$ref": "PullRequestFilter",
          "description": "Filter to match changes in pull requests."
        },
        "repoSlug": {
          "type": "string",
          "description": "Required. Slug of the repository. A repository slug is a URL-friendly version of a repository name, automatically generated by Bitbucket for use in the URL. For example, if the repository name is 'test repo', in the URL it would become 'test-repo' as in https://mybitbucket.server/projects/TEST/repos/test-repo."
        }
      },
      "description": "BitbucketServerTriggerConfig describes the configuration of a trigger that creates a build whenever a Bitbucket Server event is received."
    },
    "HttpBody": {
      "type": "object",
      "id": "HttpBody",
      "properties": {
        "extensions": {
          "description": "Application specific response metadata. Must be set in the first response for streaming APIs.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          }
        },
        "data": {
          "description": "The HTTP request/response body as raw binary.",
          "format": "byte",
          "type": "string"
        },
        "contentType": {
          "description": "The HTTP Content-Type header value specifying the content type of the body.",
          "type": "string"
        }
      },
      "description": "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page. This message can be used both in streaming and non-streaming API methods in the request as well as the response. It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body. Example: message GetResourceRequest { // A unique request id. string request_id = 1; // The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged."
    },
    "WorkerPool": {
      "properties": {
        "state": {
          "type": "string",
          "enumDescriptions": [
            "State of the `WorkerPool` is unknown.",
            "`WorkerPool` is being created.",
            "`WorkerPool` is running.",
            "`WorkerPool` is being deleted: cancelling builds and draining workers.",
            "`WorkerPool` is deleted.",
            "`WorkerPool` is being updated; new builds cannot be run."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "RUNNING",
            "DELETING",
            "DELETED",
            "UPDATING"
          ],
          "description": "Output only. `WorkerPool` state."
        },
        "displayName": {
          "description": "A user-specified, human-readable name for the `WorkerPool`. If provided, this value must be 1-63 characters.",
          "type": "string"
        },
        "annotations": {
          "description": "User specified annotations. See https://google.aip.dev/128#annotations for more details such as format and size limitations.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "uid": {
          "description": "Output only. A unique identifier for the `WorkerPool`.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. Time at which the request to create the `WorkerPool` was received.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "privatePoolV1Config": {
          "$ref": "PrivatePoolV1Config",
          "description": "Private Pool configuration."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time at which the request to update the `WorkerPool` was received.",
          "readOnly": true
        },
        "deleteTime": {
          "description": "Output only. Time at which the request to delete the `WorkerPool` was received.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the `WorkerPool`, with format `projects/{project}/locations/{location}/workerPools/{worker_pool}`. The value of `{worker_pool}` is provided by `worker_pool_id` in `CreateWorkerPool` request and the value of `{location}` is determined by the endpoint accessed."
        },
        "etag": {
          "type": "string",
          "description": "Output only. Checksum computed by the server. May be sent on update and delete requests to ensure that the client has an up-to-date value before proceeding.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Configuration for a `WorkerPool`. Cloud Build owns and maintains a pool of workers for general use and have no access to a project's private network. By default, builds submitted to Cloud Build will use a worker from this pool. If your build needs access to resources on a private network, create and use a `WorkerPool` to run your builds. Private `WorkerPool`s give your builds access to any single VPC network that you administer, including any on-prem resources connected to that VPC network. For an overview of private pools, see [Private pools overview](https://cloud.google.com/build/docs/private-pools/private-pools-overview).",
      "id": "WorkerPool"
    },
    "ListBuildsResponse": {
      "type": "object",
      "properties": {
        "builds": {
          "type": "array",
          "items": {
            "$ref": "Build"
          },
          "description": "Builds will be sorted by `create_time`, descending."
        },
        "nextPageToken": {
          "description": "Token to receive the next page of results. This will be absent if the end of the response list has been reached.",
          "type": "string"
        }
      },
      "id": "ListBuildsResponse",
      "description": "Response including listed builds."
    },
    "CreateGitHubEnterpriseConfigOperationMetadata": {
      "type": "object",
      "id": "CreateGitHubEnterpriseConfigOperationMetadata",
      "properties": {
        "githubEnterpriseConfig": {
          "type": "string",
          "description": "The resource name of the GitHubEnterprise to be created. Format: `projects/{project}/locations/{location}/githubEnterpriseConfigs/{id}`."
        },
        "createTime": {
          "description": "Time the operation was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "completeTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time the operation was completed."
        }
      },
      "description": "Metadata for `CreateGithubEnterpriseConfig` operation."
    },
    "InlineSecret": {
      "id": "InlineSecret",
      "type": "object",
      "properties": {
        "envMap": {
          "description": "Map of environment variable name to its encrypted value. Secret environment variables must be unique across all of a build's secrets, and must be used by at least one build step. Values can be at most 64 KB in size. There can be at most 100 secret values across all of a build's secrets.",
          "type": "object",
          "additionalProperties": {
            "type": "string",
            "format": "byte"
          }
        },
        "kmsKeyName": {
          "type": "string",
          "description": "Resource name of Cloud KMS crypto key to decrypt the encrypted value. In format: projects/*/locations/*/keyRings/*/cryptoKeys/*"
        }
      },
      "description": "Pairs a set of secret environment variables mapped to encrypted values with the Cloud KMS key to use to decrypt the value."
    },
    "ConnectedRepository": {
      "id": "ConnectedRepository",
      "properties": {
        "repository": {
          "description": "Required. Name of the Google Cloud Build repository, formatted as `projects/*/locations/*/connections/*/repositories/*`.",
          "type": "string"
        },
        "dir": {
          "description": "Optional. Directory, relative to the source root, in which to run the build.",
          "type": "string"
        },
        "revision": {
          "description": "Required. The revision to fetch from the Git repository such as a branch, a tag, a commit SHA, or any Git ref.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Location of the source in a 2nd-gen Google Cloud Build repository resource."
    },
    "ListGithubEnterpriseConfigsResponse": {
      "type": "object",
      "id": "ListGithubEnterpriseConfigsResponse",
      "description": "RPC response object returned by ListGithubEnterpriseConfigs RPC method.",
      "properties": {
        "configs": {
          "items": {
            "$ref": "GitHubEnterpriseConfig"
          },
          "description": "A list of GitHubEnterpriseConfigs",
          "type": "array"
        }
      }
    },
    "BitbucketServerConnectedRepository": {
      "description": "/ BitbucketServerConnectedRepository represents a connected Bitbucket Server / repository.",
      "id": "BitbucketServerConnectedRepository",
      "properties": {
        "parent": {
          "description": "The name of the `BitbucketServerConfig` that added connected repository. Format: `projects/{project}/locations/{location}/bitbucketServerConfigs/{config}`",
          "type": "string"
        },
        "status": {
          "readOnly": true,
          "description": "Output only. The status of the repo connection request.",
          "$ref": "Status"
        },
        "repo": {
          "description": "The Bitbucket Server repositories to connect.",
          "$ref": "BitbucketServerRepositoryId"
        }
      },
      "type": "object"
    },
    "ArtifactResult": {
      "id": "ArtifactResult",
      "description": "An artifact that was uploaded during a build. This is a single record in the artifact manifest JSON file.",
      "properties": {
        "location": {
          "description": "The path of an artifact in a Cloud Storage bucket, with the generation number. For example, `gs://mybucket/path/to/output.jar#generation`.",
          "type": "string"
        },
        "fileHash": {
          "type": "array",
          "items": {
            "$ref": "FileHashes"
          },
          "description": "The file hash of the artifact."
        }
      },
      "type": "object"
    },
    "Secret": {
      "type": "object",
      "description": "Pairs a set of secret environment variables containing encrypted values with the Cloud KMS key to use to decrypt the value. Note: Use `kmsKeyName` with `available_secrets` instead of using `kmsKeyName` with `secret`. For instructions see: https://cloud.google.com/cloud-build/docs/securing-builds/use-encrypted-credentials.",
      "id": "Secret",
      "properties": {
        "secretEnv": {
          "additionalProperties": {
            "format": "byte",
            "type": "string"
          },
          "type": "object",
          "description": "Map of environment variable name to its encrypted value. Secret environment variables must be unique across all of a build's secrets, and must be used by at least one build step. Values can be at most 64 KB in size. There can be at most 100 secret values across all of a build's secrets."
        },
        "kmsKeyName": {
          "description": "Cloud KMS key name to use to decrypt these envs.",
          "type": "string"
        }
      }
    },
    "GoModule": {
      "type": "object",
      "description": "Go module to upload to Artifact Registry upon successful completion of all build steps. A module refers to all dependencies in a go.mod file.",
      "properties": {
        "repositoryLocation": {
          "description": "Optional. Location of the Artifact Registry repository. i.e. us-east1 Defaults to the build’s location.",
          "type": "string"
        },
        "repositoryName": {
          "type": "string",
          "description": "Optional. Artifact Registry repository name. Specified Go modules will be zipped and uploaded to Artifact Registry with this location as a prefix. e.g. my-go-repo"
        },
        "repositoryProjectId": {
          "type": "string",
          "description": "Optional. Project ID of the Artifact Registry repository. Defaults to the build project."
        },
        "moduleVersion": {
          "description": "Optional. The Go module's semantic version in the form vX.Y.Z. e.g. v0.1.1 Pre-release identifiers can also be added by appending a dash and dot separated ASCII alphanumeric characters and hyphens. e.g. v0.2.3-alpha.x.12m.5",
          "type": "string"
        },
        "modulePath": {
          "description": "Optional. The Go module's \"module path\". e.g. example.com/foo/v2",
          "type": "string"
        },
        "sourcePath": {
          "description": "Optional. Source path of the go.mod file in the build's workspace. If not specified, this will default to the current directory. e.g. ~/code/go/mypackage",
          "type": "string"
        }
      },
      "id": "GoModule"
    },
    "ReceiveTriggerWebhookResponse": {
      "type": "object",
      "properties": {},
      "id": "ReceiveTriggerWebhookResponse",
      "description": "ReceiveTriggerWebhookResponse [Experimental] is the response object for the ReceiveTriggerWebhook method."
    },
    "RepoSource": {
      "id": "RepoSource",
      "type": "object",
      "description": "Location of the source in a Google Cloud Source Repository.",
      "properties": {
        "invertRegex": {
          "description": "Optional. Only trigger a build if the revision regex does NOT match the revision regex.",
          "type": "boolean"
        },
        "dir": {
          "type": "string",
          "description": "Optional. Directory, relative to the source root, in which to run the build. This must be a relative path. If a step's `dir` is specified and is an absolute path, this value is ignored for that step's execution."
        },
        "tagName": {
          "type": "string",
          "description": "Regex matching tags to build. The syntax of the regular expressions accepted is the syntax accepted by RE2 and described at https://github.com/google/re2/wiki/Syntax"
        },
        "projectId": {
          "description": "Optional. ID of the project that owns the Cloud Source Repository. If omitted, the project ID requesting the build is assumed.",
          "type": "string"
        },
        "branchName": {
          "description": "Regex matching branches to build. The syntax of the regular expressions accepted is the syntax accepted by RE2 and described at https://github.com/google/re2/wiki/Syntax",
          "type": "string"
        },
        "commitSha": {
          "description": "Explicit commit SHA to build.",
          "type": "string"
        },
        "substitutions": {
          "description": "Optional. Substitutions to use in a triggered build. Should only be used with RunBuildTrigger",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "repoName": {
          "description": "Required. Name of the Cloud Source Repository.",
          "type": "string"
        }
      }
    },
    "HttpConfig": {
      "description": "HttpConfig is a configuration for HTTP related git operations.",
      "properties": {
        "proxySecretVersionName": {
          "description": "SecretVersion resource of the HTTP proxy URL. The Service Account used in the build (either the default Service Account or user-specified Service Account) should have `secretmanager.versions.access` permissions on this secret. The proxy URL should be in format `protocol://@]proxyhost[:port]`.",
          "type": "string"
        }
      },
      "id": "HttpConfig",
      "type": "object"
    },
    "BuiltImage": {
      "type": "object",
      "properties": {
        "digest": {
          "description": "Docker Registry 2.0 digest.",
          "type": "string"
        },
        "name": {
          "description": "Name used to push the container image to Google Container Registry, as presented to `docker push`.",
          "type": "string"
        },
        "artifactRegistryPackage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Path to the artifact in Artifact Registry."
        },
        "pushTiming": {
          "readOnly": true,
          "$ref": "TimeSpan",
          "description": "Output only. Stores timing information for pushing the specified image."
        },
        "ociMediaType": {
          "readOnly": true,
          "description": "Output only. The OCI media type of the artifact. Non-OCI images, such as Docker images, will have an unspecified value.",
          "enumDescriptions": [
            "Default value.",
            "The artifact is an image manifest, which represents a single image with all its layers.",
            "The artifact is an image index, which can contain a list of image manifests."
          ],
          "type": "string",
          "enum": [
            "OCI_MEDIA_TYPE_UNSPECIFIED",
            "IMAGE_MANIFEST",
            "IMAGE_INDEX"
          ]
        }
      },
      "description": "An image built by the pipeline.",
      "id": "BuiltImage"
    },
    "StepResult": {
      "type": "object",
      "id": "StepResult",
      "properties": {
        "attestationContent": {
          "description": "Optional. The content of the attestation to be generated.",
          "type": "string"
        },
        "attestationType": {
          "type": "string",
          "description": "Optional. The type of attestation to be generated."
        },
        "name": {
          "description": "Required. The name of the result.",
          "type": "string"
        }
      },
      "description": "StepResult is the declaration of a result for a build step."
    },
    "ProcessAppManifestCallbackOperationMetadata": {
      "id": "ProcessAppManifestCallbackOperationMetadata",
      "type": "object",
      "description": "Metadata for `ProcessAppManifestCallback` operation.",
      "properties": {
        "completeTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time the operation was completed."
        },
        "createTime": {
          "type": "string",
          "description": "Time the operation was created.",
          "format": "google-datetime"
        },
        "githubEnterpriseConfig": {
          "type": "string",
          "description": "The resource name of the GitHubEnterprise to be created. Format: `projects/{project}/locations/{location}/githubEnterpriseConfigs/{id}`."
        }
      }
    },
    "RetryBuildRequest": {
      "type": "object",
      "description": "Specifies a build to retry.",
      "id": "RetryBuildRequest",
      "properties": {
        "projectId": {
          "description": "Required. ID of the project.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the `Build` to retry. Format: `projects/{project}/locations/{location}/builds/{build}`"
        },
        "id": {
          "description": "Required. Build ID of the original build.",
          "type": "string"
        }
      }
    },
    "Build": {
      "properties": {
        "tags": {
          "description": "Tags for annotation of a `Build`. These are not docker tags.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "approval": {
          "readOnly": true,
          "description": "Output only. Describes this build's approval configuration, status, and result.",
          "$ref": "BuildApproval"
        },
        "timing": {
          "description": "Output only. Stores timing information for phases of the build. Valid keys are: * BUILD: time to execute all build steps. * PUSH: time to push all artifacts including docker images and non docker artifacts. * FETCHSOURCE: time to fetch source. * SETUPBUILD: time to set up build. If the build does not specify source or images, these keys will not be included.",
          "additionalProperties": {
            "$ref": "TimeSpan"
          },
          "readOnly": true,
          "type": "object"
        },
        "source": {
          "description": "Optional. The location of the source files to build.",
          "$ref": "Source"
        },
        "finishTime": {
          "description": "Output only. Time at which execution of the build was finished. The difference between finish_time and start_time is the duration of the build's execution.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "failureInfo": {
          "readOnly": true,
          "$ref": "FailureInfo",
          "description": "Output only. Contains information about the build when status=FAILURE."
        },
        "status": {
          "enumDescriptions": [
            "Status of the build is unknown.",
            "Build has been created and is pending execution and queuing. It has not been queued.",
            "Build or step is queued; work has not yet begun.",
            "Build or step is being executed.",
            "Build or step finished successfully.",
            "Build or step failed to complete successfully.",
            "Build or step failed due to an internal cause.",
            "Build or step took longer than was allowed.",
            "Build or step was canceled by a user.",
            "Build was enqueued for longer than the value of `queue_ttl`."
          ],
          "type": "string",
          "description": "Output only. Status of the build.",
          "enum": [
            "STATUS_UNKNOWN",
            "PENDING",
            "QUEUED",
            "WORKING",
            "SUCCESS",
            "FAILURE",
            "INTERNAL_ERROR",
            "TIMEOUT",
            "CANCELLED",
            "EXPIRED"
          ],
          "readOnly": true
        },
        "sourceProvenance": {
          "description": "Output only. A permanent fixed identifier for source.",
          "readOnly": true,
          "$ref": "SourceProvenance"
        },
        "logUrl": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. URL to logs for this build in Google Cloud Console."
        },
        "artifacts": {
          "description": "Artifacts produced by the build that should be uploaded upon successful completion of all build steps.",
          "$ref": "Artifacts"
        },
        "timeout": {
          "type": "string",
          "description": "Amount of time that this build should be allowed to run, to second granularity. If this amount of time elapses, work on the build will cease and the build status will be `TIMEOUT`. `timeout` starts ticking from `startTime`. Default time is 60 minutes.",
          "format": "google-duration"
        },
        "images": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of images to be pushed upon the successful completion of all build steps. The images are pushed using the builder service account's credentials. The digests of the pushed images will be stored in the `Build` resource's results field. If any of the images fail to be pushed, the build status is marked `FAILURE`."
        },
        "startTime": {
          "readOnly": true,
          "description": "Output only. Time at which execution of the build was started.",
          "type": "string",
          "format": "google-datetime"
        },
        "serviceAccount": {
          "description": "IAM service account whose credentials will be used at build runtime. Must be of the format `projects/{PROJECT_ID}/serviceAccounts/{ACCOUNT}`. ACCOUNT can be email address or uniqueId of the service account. ",
          "type": "string"
        },
        "logsBucket": {
          "description": "Cloud Storage bucket where logs should be written (see [Bucket Name Requirements](https://cloud.google.com/storage/docs/bucket-naming#requirements)). Logs file names will be of the format `${logs_bucket}/log-${build_id}.txt`.",
          "type": "string"
        },
        "results": {
          "readOnly": true,
          "$ref": "Results",
          "description": "Output only. Results of the build."
        },
        "statusDetail": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Customer-readable message about the current status."
        },
        "queueTtl": {
          "format": "google-duration",
          "description": "TTL in queue for this build. If provided and the build is enqueued longer than this value, the build will expire and the build status will be `EXPIRED`. The TTL starts ticking from create_time.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Time at which the request to create the build was received.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "options": {
          "$ref": "BuildOptions",
          "description": "Special options for this build."
        },
        "warnings": {
          "items": {
            "$ref": "Warning"
          },
          "description": "Output only. Non-fatal problems encountered during the execution of the build.",
          "type": "array",
          "readOnly": true
        },
        "substitutions": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Substitutions data for `Build` resource."
        },
        "name": {
          "description": "Output only. The 'Build' name with format: `projects/{project}/locations/{location}/builds/{build}`, where {build} is a unique identifier generated by the service.",
          "type": "string",
          "readOnly": true
        },
        "dependencies": {
          "items": {
            "$ref": "Dependency"
          },
          "description": "Optional. Dependencies that the Cloud Build worker will fetch before executing user steps.",
          "type": "array"
        },
        "secrets": {
          "description": "Secrets to decrypt using Cloud Key Management Service. Note: Secret Manager is the recommended technique for managing sensitive data with Cloud Build. Use `available_secrets` to configure builds to access secrets from Secret Manager. For instructions, see: https://cloud.google.com/cloud-build/docs/securing-builds/use-secrets",
          "items": {
            "$ref": "Secret"
          },
          "type": "array"
        },
        "availableSecrets": {
          "description": "Secrets and secret environment variables.",
          "$ref": "Secrets"
        },
        "projectId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. ID of the project."
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Unique identifier of the build."
        },
        "buildTriggerId": {
          "description": "Output only. The ID of the `BuildTrigger` that triggered this build, if it was triggered automatically.",
          "type": "string",
          "readOnly": true
        },
        "steps": {
          "items": {
            "$ref": "BuildStep"
          },
          "description": "Required. The operations to be performed on the workspace.",
          "type": "array"
        },
        "gitConfig": {
          "description": "Optional. Configuration for git operations.",
          "$ref": "GitConfig"
        }
      },
      "description": "A build resource in the Cloud Build API. At a high level, a `Build` describes where to find source code, how to build it (for example, the builder image to run on the source), and where to store the built artifacts. Fields can include the following variables, which will be expanded when the build is created: - $PROJECT_ID: the project ID of the build. - $PROJECT_NUMBER: the project number of the build. - $LOCATION: the location/region of the build. - $BUILD_ID: the autogenerated ID of the build. - $REPO_NAME: the source repository name specified by RepoSource. - $BRANCH_NAME: the branch name specified by RepoSource. - $TAG_NAME: the tag name specified by RepoSource. - $REVISION_ID or $COMMIT_SHA: the commit SHA specified by RepoSource or resolved from the specified branch or tag. - $SHORT_SHA: first 7 characters of $REVISION_ID or $COMMIT_SHA.",
      "id": "Build",
      "type": "object"
    },
    "UpdateGitHubEnterpriseConfigOperationMetadata": {
      "type": "object",
      "description": "Metadata for `UpdateGitHubEnterpriseConfig` operation.",
      "id": "UpdateGitHubEnterpriseConfigOperationMetadata",
      "properties": {
        "githubEnterpriseConfig": {
          "description": "The resource name of the GitHubEnterprise to be updated. Format: `projects/{project}/locations/{location}/githubEnterpriseConfigs/{id}`.",
          "type": "string"
        },
        "completeTime": {
          "description": "Time the operation was completed.",
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "type": "string",
          "description": "Time the operation was created.",
          "format": "google-datetime"
        }
      }
    },
    "BitbucketServerConfig": {
      "description": "BitbucketServerConfig represents the configuration for a Bitbucket Server.",
      "type": "object",
      "properties": {
        "peeredNetworkIpRange": {
          "description": "Immutable. IP range within the peered network. This is specified in CIDR notation with a slash and the subnet prefix size. You can optionally specify an IP address before the subnet prefix value. e.g. `192.168.0.0/29` would specify an IP range starting at 192.168.0.0 with a 29 bit prefix size. `/16` would specify a prefix size of 16 bits, with an automatically determined IP within the peered VPC. If unspecified, a value of `/24` will be used. The field only has an effect if peered_network is set.",
          "type": "string"
        },
        "webhookKey": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. UUID included in webhook requests. The UUID is used to look up the corresponding config."
        },
        "peeredNetwork": {
          "description": "Optional. The network to be used when reaching out to the Bitbucket Server instance. The VPC network must be enabled for private service connection. This should be set if the Bitbucket Server instance is hosted on-premises and not reachable by public internet. If this field is left empty, no network peering will occur and calls to the Bitbucket Server instance will be made over the public internet. Must be in the format `projects/{project}/global/networks/{network}`, where {project} is a project number or id and {network} is the name of a VPC network in the project.",
          "type": "string"
        },
        "secrets": {
          "$ref": "BitbucketServerSecrets",
          "description": "Required. Secret Manager secrets needed by the config."
        },
        "sslCa": {
          "type": "string",
          "description": "Optional. SSL certificate to use for requests to Bitbucket Server. The format should be PEM format but the extension can be one of .pem, .cer, or .crt."
        },
        "connectedRepositories": {
          "items": {
            "$ref": "BitbucketServerRepositoryId"
          },
          "type": "array",
          "description": "Output only. Connected Bitbucket Server repositories for this config.",
          "readOnly": true
        },
        "username": {
          "description": "Username of the account Cloud Build will use on Bitbucket Server.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Time when the config was created.",
          "format": "google-datetime"
        },
        "name": {
          "description": "Identifier. The resource name for the config.",
          "type": "string"
        },
        "hostUri": {
          "description": "Required. Immutable. The URI of the Bitbucket Server host. Once this field has been set, it cannot be changed. If you need to change it, please create another BitbucketServerConfig.",
          "type": "string"
        },
        "apiKey": {
          "type": "string",
          "description": "Required. Immutable. API Key that will be attached to webhook. Once this field has been set, it cannot be changed. If you need to change it, please create another BitbucketServerConfig."
        }
      },
      "id": "BitbucketServerConfig"
    },
    "Operation": {
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        }
      }
    },
    "GitHubEventsConfig": {
      "description": "GitHubEventsConfig describes the configuration of a trigger that creates a build whenever a GitHub event is received.",
      "properties": {
        "installationId": {
          "format": "int64",
          "description": "The installationID that emits the GitHub event.",
          "deprecated": true,
          "type": "string"
        },
        "pullRequest": {
          "description": "filter to match changes in pull requests.",
          "$ref": "PullRequestFilter"
        },
        "name": {
          "description": "Name of the repository. For example: The name for https://github.com/googlecloudplatform/cloud-builders is \"cloud-builders\".",
          "type": "string"
        },
        "push": {
          "description": "filter to match changes in refs like branches, tags.",
          "$ref": "PushFilter"
        },
        "owner": {
          "type": "string",
          "description": "Owner of the repository. For example: The owner for https://github.com/googlecloudplatform/cloud-builders is \"googlecloudplatform\"."
        },
        "enterpriseConfigResourceName": {
          "type": "string",
          "description": "The resource name of the github enterprise config that should be applied to this installation. For example: \"projects/{$project_id}/locations/{$location_id}/githubEnterpriseConfigs/{$config_id}\""
        }
      },
      "type": "object",
      "id": "GitHubEventsConfig"
    },
    "BuildStepResults": {
      "properties": {
        "results": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Results for a build step."
        }
      },
      "description": "Results for a build step.",
      "id": "BuildStepResults",
      "type": "object"
    },
    "GitFileSource": {
      "id": "GitFileSource",
      "type": "object",
      "description": "GitFileSource describes a file within a (possibly remote) code repository.",
      "properties": {
        "githubEnterpriseConfig": {
          "type": "string",
          "description": "The full resource name of the github enterprise config. Format: `projects/{project}/locations/{location}/githubEnterpriseConfigs/{id}`. `projects/{project}/githubEnterpriseConfigs/{id}`."
        },
        "repository": {
          "description": "The fully qualified resource name of the Repos API repository. Either URI or repository can be specified. If unspecified, the repo from which the trigger invocation originated is assumed to be the repo from which to read the specified path.",
          "type": "string"
        },
        "revision": {
          "description": "The branch, tag, arbitrary ref, or SHA version of the repo to use when resolving the filename (optional). This field respects the same syntax/resolution as described here: https://git-scm.com/docs/gitrevisions If unspecified, the revision from which the trigger invocation originated is assumed to be the revision from which to read the specified path.",
          "type": "string"
        },
        "bitbucketServerConfig": {
          "description": "The full resource name of the bitbucket server config. Format: `projects/{project}/locations/{location}/bitbucketServerConfigs/{id}`.",
          "type": "string"
        },
        "repoType": {
          "enumDescriptions": [
            "The default, unknown repo type. Don't use it, instead use one of the other repo types.",
            "A Google Cloud Source Repositories-hosted repo.",
            "A GitHub-hosted repo not necessarily on \"github.com\" (i.e. GitHub Enterprise).",
            "A Bitbucket Server-hosted repo.",
            "A GitLab-hosted repo.",
            "A Bitbucket Cloud-hosted repo."
          ],
          "type": "string",
          "description": "See RepoType above.",
          "enum": [
            "UNKNOWN",
            "CLOUD_SOURCE_REPOSITORIES",
            "GITHUB",
            "BITBUCKET_SERVER",
            "GITLAB",
            "BITBUCKET_CLOUD"
          ]
        },
        "uri": {
          "description": "The URI of the repo. Either uri or repository can be specified. If unspecified, the repo from which the trigger invocation originated is assumed to be the repo from which to read the specified path.",
          "type": "string"
        },
        "path": {
          "description": "The path of the file, with the repo root as the root of the path.",
          "type": "string"
        }
      }
    },
    "BuildOptions": {
      "id": "BuildOptions",
      "properties": {
        "substitutionOption": {
          "description": "Option to specify behavior when there is an error in the substitution checks. NOTE: this is always set to ALLOW_LOOSE for triggered builds and cannot be overridden in the build configuration file.",
          "type": "string",
          "enum": [
            "MUST_MATCH",
            "ALLOW_LOOSE"
          ],
          "enumDescriptions": [
            "Fails the build if error in substitutions checks, like missing a substitution in the template or in the map.",
            "Do not fail the build if error in substitutions checks."
          ]
        },
        "secretEnv": {
          "type": "array",
          "description": "A list of global environment variables, which are encrypted using a Cloud Key Management Service crypto key. These values must be specified in the build's `Secret`. These variables will be available to all build steps in this build.",
          "items": {
            "type": "string"
          }
        },
        "requestedVerifyOption": {
          "enumDescriptions": [
            "Not a verifiable build (the default).",
            "Build must be verified."
          ],
          "type": "string",
          "description": "Requested verifiability options.",
          "enum": [
            "NOT_VERIFIED",
            "VERIFIED"
          ]
        },
        "diskSizeGb": {
          "format": "int64",
          "description": "Requested disk size for the VM that runs the build. Note that this is *NOT* \"disk free\"; some of the space will be used by the operating system and build utilities. Also note that this is the minimum disk size that will be allocated for the build -- the build may run with a larger disk than requested. At present, the maximum disk size is 4000GB; builds that request more than the maximum are rejected with an error.",
          "type": "string"
        },
        "logStreamingOption": {
          "enum": [
            "STREAM_DEFAULT",
            "STREAM_ON",
            "STREAM_OFF"
          ],
          "type": "string",
          "enumDescriptions": [
            "Service may automatically determine build log streaming behavior.",
            "Build logs should be streamed to Cloud Storage.",
            "Build logs should not be streamed to Cloud Storage; they will be written when the build is completed."
          ],
          "description": "Option to define build log streaming behavior to Cloud Storage."
        },
        "sourceProvenanceHash": {
          "items": {
            "type": "string",
            "enum": [
              "NONE",
              "SHA256",
              "MD5",
              "GO_MODULE_H1",
              "SHA512",
              "DIRSUM_SHA256"
            ],
            "enumDescriptions": [
              "No hash requested.",
              "Use a sha256 hash.",
              "Use a md5 hash.",
              "Dirhash of a Go module's source code which is then hex-encoded.",
              "Use a sha512 hash.",
              "Use a dirsum_sha256 hash."
            ]
          },
          "type": "array",
          "description": "Requested hash for SourceProvenance."
        },
        "machineType": {
          "enumDeprecated": [
            false,
            true,
            true,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "UNSPECIFIED",
            "N1_HIGHCPU_8",
            "N1_HIGHCPU_32",
            "E2_HIGHCPU_8",
            "E2_HIGHCPU_32",
            "E2_MEDIUM",
            "E2_STANDARD_2"
          ],
          "enumDescriptions": [
            "Standard machine type.",
            "Highcpu machine with 8 CPUs.",
            "Highcpu machine with 32 CPUs.",
            "Highcpu e2 machine with 8 CPUs.",
            "Highcpu e2 machine with 32 CPUs.",
            "E2 machine with 1 CPU.",
            "E2 machine with 2 CPUs."
          ],
          "type": "string",
          "description": "Compute Engine machine type on which to run the build."
        },
        "dynamicSubstitutions": {
          "description": "Option to specify whether or not to apply bash style string operations to the substitutions. NOTE: this is always enabled for triggered builds and cannot be overridden in the build configuration file.",
          "type": "boolean"
        },
        "pubsubTopic": {
          "description": "Optional. Option to specify the Pub/Sub topic to receive build status updates.",
          "type": "string"
        },
        "env": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of global environment variable definitions that will exist for all build steps in this build. If a variable is defined in both globally and in a build step, the variable will use the build step value. The elements are of the form \"KEY=VALUE\" for the environment variable \"KEY\" being given the value \"VALUE\"."
        },
        "pool": {
          "description": "Optional. Specification for execution on a `WorkerPool`. See [running builds in a private pool](https://cloud.google.com/build/docs/private-pools/run-builds-in-private-pool) for more information.",
          "$ref": "PoolOption"
        },
        "volumes": {
          "type": "array",
          "items": {
            "$ref": "Volume"
          },
          "description": "Global list of volumes to mount for ALL build steps Each volume is created as an empty volume prior to starting the build process. Upon completion of the build, volumes and their contents are discarded. Global volume names and paths cannot conflict with the volumes defined a build step. Using a global volume in a build with only one step is not valid as it is indicative of a build request with an incorrect configuration."
        },
        "automapSubstitutions": {
          "type": "boolean",
          "description": "Option to include built-in and custom substitutions as env variables for all build steps."
        },
        "enableStructuredLogging": {
          "type": "boolean",
          "description": "Optional. Option to specify whether structured logging is enabled. If true, JSON-formatted logs are parsed as structured logs."
        },
        "logging": {
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false
          ],
          "enum": [
            "LOGGING_UNSPECIFIED",
            "LEGACY",
            "GCS_ONLY",
            "STACKDRIVER_ONLY",
            "CLOUD_LOGGING_ONLY",
            "NONE"
          ],
          "enumDescriptions": [
            "The service determines the logging mode. The default is `LEGACY`. Do not rely on the default logging behavior as it may change in the future.",
            "Build logs are stored in Cloud Logging and Cloud Storage.",
            "Build logs are stored in Cloud Storage.",
            "This option is the same as CLOUD_LOGGING_ONLY.",
            "Build logs are stored in Cloud Logging. Selecting this option will not allow [logs streaming](https://cloud.google.com/sdk/gcloud/reference/builds/log).",
            "Turn off all logging. No build logs will be captured."
          ],
          "type": "string",
          "description": "Option to specify the logging mode, which determines if and where build logs are stored."
        },
        "defaultLogsBucketBehavior": {
          "enumDescriptions": [
            "Unspecified.",
            "Bucket is located in user-owned project in the same region as the build. The builder service account must have access to create and write to Cloud Storage buckets in the build project.",
            "Bucket is located in a Google-owned project and is not regionalized."
          ],
          "type": "string",
          "enum": [
            "DEFAULT_LOGS_BUCKET_BEHAVIOR_UNSPECIFIED",
            "REGIONAL_USER_OWNED_BUCKET",
            "LEGACY_BUCKET"
          ],
          "description": "Optional. Option to specify how default logs buckets are setup."
        },
        "workerPool": {
          "type": "string",
          "description": "This field deprecated; please use `pool.name` instead.",
          "deprecated": true
        }
      },
      "description": "Optional arguments to enable specific features of builds.",
      "type": "object"
    },
    "NetworkConfig": {
      "id": "NetworkConfig",
      "type": "object",
      "description": "Defines the network configuration for the pool.",
      "properties": {
        "egressOption": {
          "type": "string",
          "enum": [
            "EGRESS_OPTION_UNSPECIFIED",
            "NO_PUBLIC_EGRESS",
            "PUBLIC_EGRESS"
          ],
          "enumDescriptions": [
            "If set, defaults to PUBLIC_EGRESS.",
            "If set, workers are created without any public address, which prevents network egress to public IPs unless a network proxy is configured.",
            "If set, workers are created with a public address which allows for public internet egress."
          ],
          "description": "Option to configure network egress for the workers."
        },
        "peeredNetwork": {
          "type": "string",
          "description": "Required. Immutable. The network definition that the workers are peered to. If this section is left empty, the workers will be peered to `WorkerPool.project_id` on the service producer network. Must be in the format `projects/{project}/global/networks/{network}`, where `{project}` is a project number, such as `12345`, and `{network}` is the name of a VPC network in the project. See [Understanding network configuration options](https://cloud.google.com/build/docs/private-pools/set-up-private-pool-environment)"
        },
        "peeredNetworkIpRange": {
          "type": "string",
[...]
