{
  "servicePath": "",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "endpoints": [
    {
      "endpointUrl": "https://cloudbuild.africa-south1.rep.googleapis.com/",
      "location": "africa-south1",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-east1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.asia-east1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://cloudbuild.asia-east2.rep.googleapis.com/",
      "location": "asia-east2",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast1",
      "endpointUrl": "https://cloudbuild.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.asia-northeast2.rep.googleapis.com/",
      "location": "asia-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast3",
      "endpointUrl": "https://cloudbuild.asia-northeast3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-south1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.asia-south1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-south2",
      "endpointUrl": "https://cloudbuild.asia-south2.rep.googleapis.com/"
    },
    {
      "location": "asia-southeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.asia-southeast1.rep.googleapis.com/"
    },
    {
      "location": "asia-southeast2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.asia-southeast2.rep.googleapis.com/"
    },
    {
      "location": "asia-southeast3",
      "endpointUrl": "https://cloudbuild.asia-southeast3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "australia-southeast1",
      "endpointUrl": "https://cloudbuild.australia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.australia-southeast2.rep.googleapis.com/",
      "location": "australia-southeast2",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-central2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.europe-central2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://cloudbuild.europe-north1.rep.googleapis.com/",
      "location": "europe-north1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.europe-north2.rep.googleapis.com/",
      "location": "europe-north2"
    },
    {
      "endpointUrl": "https://cloudbuild.europe-southwest1.rep.googleapis.com/",
      "location": "europe-southwest1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.europe-west1.rep.googleapis.com/",
      "location": "europe-west1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.europe-west10.rep.googleapis.com/",
      "location": "europe-west10",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.europe-west12.rep.googleapis.com/",
      "location": "europe-west12",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.europe-west2.rep.googleapis.com/",
      "location": "europe-west2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west3",
      "endpointUrl": "https://cloudbuild.europe-west3.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://cloudbuild.europe-west4.rep.googleapis.com/",
      "location": "europe-west4",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.europe-west6.rep.googleapis.com/",
      "location": "europe-west6"
    },
    {
      "endpointUrl": "https://cloudbuild.europe-west8.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west8"
    },
    {
      "location": "europe-west9",
      "endpointUrl": "https://cloudbuild.europe-west9.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west15",
      "endpointUrl": "https://cloudbuild.europe-west15.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.me-central1.rep.googleapis.com/",
      "location": "me-central1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "me-central2",
      "endpointUrl": "https://cloudbuild.me-central2.rep.googleapis.com/"
    },
    {
      "location": "me-west1",
      "endpointUrl": "https://cloudbuild.me-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.northamerica-northeast1.rep.googleapis.com/",
      "location": "northamerica-northeast1"
    },
    {
      "endpointUrl": "https://cloudbuild.northamerica-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-northeast2"
    },
    {
      "location": "northamerica-south1",
      "endpointUrl": "https://cloudbuild.northamerica-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "southamerica-east1",
      "endpointUrl": "https://cloudbuild.southamerica-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "southamerica-west1",
      "endpointUrl": "https://cloudbuild.southamerica-west1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://cloudbuild.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-central1"
    },
    {
      "endpointUrl": "https://cloudbuild.us-central2.rep.googleapis.com/",
      "location": "us-central2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east1"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east4",
      "endpointUrl": "https://cloudbuild.us-east4.rep.googleapis.com/"
    },
    {
      "location": "us-east5",
      "endpointUrl": "https://cloudbuild.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.us-east7.rep.googleapis.com/",
      "location": "us-east7",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.us-south1.rep.googleapis.com/",
      "location": "us-south1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.us-west1.rep.googleapis.com/",
      "location": "us-west1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.us-west2.rep.googleapis.com/",
      "location": "us-west2"
    },
    {
      "endpointUrl": "https://cloudbuild.us-west3.rep.googleapis.com/",
      "location": "us-west3",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west4",
      "endpointUrl": "https://cloudbuild.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west8",
      "endpointUrl": "https://cloudbuild.us-west8.rep.googleapis.com/"
    }
  ],
  "discoveryVersion": "v1",
  "rootUrl": "https://cloudbuild.googleapis.com/",
  "documentationLink": "https://cloud.google.com/cloud-build/docs/",
  "ownerDomain": "google.com",
  "version": "v2",
  "ownerName": "Google",
  "revision": "20260904",
  "mtlsRootUrl": "https://cloudbuild.mtls.googleapis.com/",
  "basePath": "",
  "baseUrl": "https://cloudbuild.googleapis.com/",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query"
                },
                "filter": {
                  "location": "query",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string"
                },
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "location": "path"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of results to return. If not set, the service selects a default."
                },
                "extraLocationTypes": {
                  "repeated": true,
                  "type": "string",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query"
                }
              },
              "flatPath": "v2/projects/{projectsId}/locations",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "id": "cloudbuild.projects.locations.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "path": "v2/{+name}/locations"
            },
            "get": {
              "description": "Gets information about a location.",
              "httpMethod": "GET",
              "response": {
                "$ref": "Location"
              },
              "id": "cloudbuild.projects.locations.get",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string",
                  "description": "Resource name for the location.",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v2/{+name}",
              "flatPath": "v2/projects/{projectsId}/locations/{locationsId}"
            }
          },
          "resources": {
            "connections": {
              "resources": {
                "repositories": {
                  "methods": {
                    "get": {
                      "response": {
                        "$ref": "Repository"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "description": "Gets details of a single repository.",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v2/{+name}",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/repositories/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "description": "Required. The name of the Repository to retrieve. Format: `projects/*/locations/*/connections/*/repositories/*`.",
                          "required": true
                        }
                      },
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/repositories/{repositoriesId}",
                      "id": "cloudbuild.projects.locations.connections.repositories.get"
                    },
                    "list": {
                      "path": "v2/{+parent}/repositories",
                      "parameters": {
                        "returnPartialSuccess": {
                          "location": "query",
                          "description": "Optional. If set to true, the response will return partial results when some regions are unreachable. If set to false, the response will fail if any region is unreachable.",
                          "type": "boolean"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                          "location": "path",
                          "description": "Required. The parent, which owns this collection of Repositories. Format: `projects/*/locations/*/connections/*`.",
                          "type": "string",
                          "required": true
                        },
                        "filter": {
                          "type": "string",
                          "location": "query",
                          "description": "A filter expression that filters resources listed in the response. Expressions must follow API improvement proposal [AIP-160](https://google.aip.dev/160). e.g. `remote_uri:\"https://github.com*\"`."
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "Number of results to return in the list.",
                          "location": "query",
                          "type": "integer"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Page start."
                        }
                      },
                      "id": "cloudbuild.projects.locations.connections.repositories.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Lists Repositories in a given connection.",
                      "response": {
                        "$ref": "ListRepositoriesResponse"
                      },
                      "httpMethod": "GET",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/repositories",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "delete": {
                      "description": "Deletes a single repository.",
                      "id": "cloudbuild.projects.locations.connections.repositories.delete",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "DELETE",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/repositories/{repositoriesId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/repositories/[^/]+$",
                          "type": "string",
                          "description": "Required. The name of the Repository to delete. Format: `projects/*/locations/*/connections/*/repositories/*`.",
                          "required": true
                        },
                        "etag": {
                          "type": "string",
                          "description": "The current etag of the repository. If an etag is provided and does not match the current etag of the repository, deletion will be blocked and an ABORTED error will be returned.",
                          "location": "query"
                        },
                        "validateOnly": {
                          "type": "boolean",
                          "description": "If set, validate the request, but do not actually post it.",
                          "location": "query"
                        }
                      },
                      "path": "v2/{+name}"
                    },
                    "fetchGitRefs": {
                      "parameters": {
                        "pageSize": {
                          "format": "int32",
                          "description": "Optional. Number of results to return in the list. Default to 20.",
                          "location": "query",
                          "type": "integer"
                        },
                        "refType": {
                          "location": "query",
                          "enumDescriptions": [
                            "No type specified.",
                            "To fetch tags.",
                            "To fetch branches."
                          ],
                          "type": "string",
                          "description": "Type of refs to fetch",
                          "enum": [
                            "REF_TYPE_UNSPECIFIED",
                            "TAG",
                            "BRANCH"
                          ]
                        },
                        "repository": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. The resource name of the repository in the format `projects/*/locations/*/connections/*/repositories/*`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/repositories/[^/]+$"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. Page start."
                        }
                      },
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/repositories/{repositoriesId}:fetchGitRefs",
                      "description": "Fetch the list of branches or tags for a given repository.",
                      "path": "v2/{+repository}:fetchGitRefs",
                      "httpMethod": "GET",
                      "id": "cloudbuild.projects.locations.connections.repositories.fetchGitRefs",
                      "parameterOrder": [
                        "repository"
                      ],
                      "response": {
                        "$ref": "FetchGitRefsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "accessReadWriteToken": {
                      "parameterOrder": [
                        "repository"
                      ],
                      "path": "v2/{+repository}:accessReadWriteToken",
                      "response": {
                        "$ref": "FetchReadWriteTokenResponse"
                      },
                      "description": "Fetches read/write token of a given repository.",
                      "request": {
                        "$ref": "FetchReadWriteTokenRequest"
                      },
                      "httpMethod": "POST",
                      "id": "cloudbuild.projects.locations.connections.repositories.accessReadWriteToken",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/repositories/{repositoriesId}:accessReadWriteToken",
                      "parameters": {
                        "repository": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/repositories/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "Required. The resource name of the repository in the format `projects/*/locations/*/connections/*/repositories/*`."
                        }
                      }
                    },
                    "create": {
                      "parameters": {
                        "parent": {
                          "description": "Required. The connection to contain the repository. If the request is part of a BatchCreateRepositoriesRequest, this field should be empty or match the parent specified there.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                          "required": true,
                          "type": "string"
                        },
                        "repositoryId": {
                          "description": "Required. The ID to use for the repository, which will become the final component of the repository's resource name. This ID should be unique in the connection. Allows alphanumeric characters and any of -._~%!$&'()*+,;=@.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "request": {
                        "$ref": "Repository"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "id": "cloudbuild.projects.locations.connections.repositories.create",
                      "httpMethod": "POST",
                      "path": "v2/{+parent}/repositories",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/repositories",
                      "description": "Creates a Repository."
                    },
                    "accessReadToken": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "repository"
                      ],
                      "description": "Fetches read token of a given repository.",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/repositories/{repositoriesId}:accessReadToken",
                      "parameters": {
                        "repository": {
                          "type": "string",
                          "required": true,
                          "description": "Required. The resource name of the repository in the format `projects/*/locations/*/connections/*/repositories/*`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/repositories/[^/]+$",
                          "location": "path"
                        }
                      },
                      "request": {
                        "$ref": "FetchReadTokenRequest"
                      },
                      "response": {
                        "$ref": "FetchReadTokenResponse"
                      },
                      "id": "cloudbuild.projects.locations.connections.repositories.accessReadToken",
                      "path": "v2/{+repository}:accessReadToken"
                    },
                    "batchCreate": {
                      "httpMethod": "POST",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/repositories:batchCreate",
                      "path": "v2/{+parent}/repositories:batchCreate",
                      "id": "cloudbuild.projects.locations.connections.repositories.batchCreate",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                          "required": true,
                          "description": "Required. The connection to contain all the repositories being created. Format: projects/*/locations/*/connections/* The parent field in the CreateRepositoryRequest messages must either be empty or match this field.",
                          "type": "string"
                        }
                      },
                      "request": {
                        "$ref": "BatchCreateRepositoriesRequest"
                      },
                      "description": "Creates multiple repositories inside a connection.",
                      "response": {
                        "$ref": "Operation"
                      }
                    }
                  }
                }
              },
              "methods": {
                "create": {
                  "httpMethod": "POST",
                  "description": "Creates a Connection.",
                  "path": "v2/{+parent}/connections",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "cloudbuild.projects.locations.connections.create",
                  "parameters": {
                    "parent": {
                      "description": "Required. Project and location where the connection will be created. Format: `projects/*/locations/*`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true
                    },
                    "connectionId": {
                      "location": "query",
                      "description": "Required. The ID to use for the Connection, which will become the final component of the Connection's resource name. Names must be unique per-project per-location. Allows alphanumeric characters and any of -._~%!$&'()*+,;=@.",
                      "type": "string"
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections",
                  "request": {
                    "$ref": "Connection"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "path": "v2/{+name}",
                  "response": {
                    "$ref": "Connection"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}",
                  "description": "Gets details of a single connection.",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the Connection to retrieve. Format: `projects/*/locations/*/connections/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "id": "cloudbuild.projects.locations.connections.get"
                },
                "fetchLinkableRepositories": {
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "description": "Number of results to return in the list. Default to 20.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "connection": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "required": true,
                      "description": "Required. The name of the Connection. Format: `projects/*/locations/*/connections/*`.",
                      "type": "string",
                      "location": "path"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Page start.",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2/{+connection}:fetchLinkableRepositories",
                  "response": {
                    "$ref": "FetchLinkableRepositoriesResponse"
                  },
                  "id": "cloudbuild.projects.locations.connections.fetchLinkableRepositories",
                  "parameterOrder": [
                    "connection"
                  ],
                  "description": "FetchLinkableRepositories get repositories from SCM that are accessible and could be added to the connection.",
                  "httpMethod": "GET",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:fetchLinkableRepositories"
                },
                "delete": {
                  "parameters": {
                    "etag": {
                      "description": "The current etag of the connection. If an etag is provided and does not match the current etag of the connection, deletion will be blocked and an ABORTED error will be returned.",
                      "type": "string",
                      "location": "query"
                    },
                    "validateOnly": {
                      "description": "If set, validate the request, but do not actually post it.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "description": "Required. The name of the Connection to delete. Format: `projects/*/locations/*/connections/*`.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "Deletes a single connection.",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "id": "cloudbuild.projects.locations.connections.delete",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v2/{+name}"
                },
                "setIamPolicy": {
                  "parameterOrder": [
                    "resource"
                  ],
                  "id": "cloudbuild.projects.locations.connections.setIamPolicy",
                  "path": "v2/{+resource}:setIamPolicy",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:setIamPolicy",
                  "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
                  "parameters": {
                    "resource": {
                      "required": true,
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Policy"
                  }
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "description": "Number of results to return in the list.",
                      "format": "int32",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "Page start.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. The parent, which owns this collection of Connections. Format: `projects/*/locations/*`.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. If set to true, the response will return partial results when some regions are unreachable. If set to false, the response will fail if any region is unreachable."
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListConnectionsResponse"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections",
                  "httpMethod": "GET",
                  "id": "cloudbuild.projects.locations.connections.list",
                  "path": "v2/{+parent}/connections",
                  "description": "Lists Connections in a given project and location."
                },
                "getIamPolicy": {
                  "id": "cloudbuild.projects.locations.connections.getIamPolicy",
                  "response": {
                    "$ref": "Policy"
                  },
                  "path": "v2/{+resource}:getIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                  "parameterOrder": [
                    "resource"
                  ],
                  "parameters": {
                    "options.requestedPolicyVersion": {
                      "location": "query",
                      "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                      "format": "int32",
                      "type": "integer"
                    },
                    "resource": {
                      "required": true,
                      "type": "string",
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$"
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:getIamPolicy"
                },
                "patch": {
                  "path": "v2/{+name}",
                  "request": {
                    "$ref": "Connection"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "etag": {
                      "location": "query",
                      "type": "string",
                      "description": "The current etag of the connection. If an etag is provided and does not match the current etag of the connection, update will be blocked and an ABORTED error will be returned."
                    },
                    "allowMissing": {
                      "type": "boolean",
                      "location": "query",
                      "description": "If set to true, and the connection is not found a new connection will be created. In this situation `update_mask` is ignored. The creation will succeed only if the input connection has all the necessary information (e.g a github_config with both user_oauth_token and installation_id properties)."
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "The list of fields to be updated.",
                      "type": "string"
                    },
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "location": "path",
                      "description": "Immutable. The resource name of the connection, in the format `projects/{project}/locations/{location}/connections/{connection_id}`."
                    }
                  },
                  "httpMethod": "PATCH",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}",
                  "id": "cloudbuild.projects.locations.connections.patch",
                  "description": "Updates a single connection."
                },
                "processWebhook": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections:processWebhook",
                  "description": "ProcessWebhook is called by the external SCM for notifying of events.",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "HttpBody"
                  },
                  "id": "cloudbuild.projects.locations.connections.processWebhook",
                  "path": "v2/{+parent}/connections:processWebhook",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. Project and location where the webhook will be received. Format: `projects/*/locations/*`."
                    },
                    "webhookKey": {
                      "type": "string",
                      "description": "Arbitrary additional key to find the matching repository for a webhook event if needed.",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "testIamPermissions": {
                  "id": "cloudbuild.projects.locations.connections.testIamPermissions",
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2/{+resource}:testIamPermissions",
                  "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:testIamPermissions",
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "type": "string"
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "cancel": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "description": "The name of the operation resource to be cancelled."
                    }
                  },
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "id": "cloudbuild.projects.locations.operations.cancel",
                  "path": "v2/{+name}:cancel",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "get": {
                  "httpMethod": "GET",
                  "path": "v2/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "description": "The name of the operation resource.",
                      "required": true
                    }
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "id": "cloudbuild.projects.locations.operations.get"
                }
              }
            }
          }
        }
      }
    }
  },
  "title": "Cloud Build API",
  "schemas": {
    "OAuthCredential": {
      "id": "OAuthCredential",
      "description": "Represents an OAuth token of the account that authorized the Connection, and associated metadata.",
      "type": "object",
      "properties": {
        "username": {
          "readOnly": true,
          "description": "Output only. The username associated to this token.",
          "type": "string"
        },
        "oauthTokenSecretVersion": {
          "description": "Optional. A SecretManager resource containing the OAuth token that authorizes the Cloud Build connection. Format: `projects/*/secrets/*/versions/*`.",
          "type": "string"
        }
      }
    },
    "FetchReadTokenRequest": {
      "id": "FetchReadTokenRequest",
      "description": "Message for fetching SCM read token.",
      "type": "object",
      "properties": {}
    },
    "Security": {
      "properties": {
        "privilegeMode": {
          "enumDescriptions": [
            "Default to PRIVILEGED.",
            "Privileged mode.",
            "Unprivileged mode."
          ],
          "description": "Optional. Privilege mode.",
          "enum": [
            "PRIVILEGE_MODE_UNSPECIFIED",
            "PRIVILEGED",
            "UNPRIVILEGED"
          ],
          "type": "string",
          "deprecated": true
        },
        "serviceAccount": {
          "description": "IAM service account whose credentials will be used at runtime.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Security configuration.",
      "id": "Security"
    },
    "AuditConfig": {
      "type": "object",
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "type": "array",
          "items": {
            "$ref": "AuditLogConfig"
          },
          "description": "The configuration for logging of each type of permission."
        }
      },
      "id": "AuditConfig",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging."
    },
    "Location": {
      "properties": {
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        }
      },
      "id": "Location",
      "type": "object",
      "description": "A resource that represents a Google Cloud location."
    },
    "PropertySpec": {
      "type": "object",
      "description": "PropertySpec holds information about a property in an object.",
      "id": "PropertySpec",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Default"
          ],
          "type": "string",
          "description": "A type for the object.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING"
          ]
        }
      }
    },
    "TaskRef": {
      "type": "object",
      "description": "TaskRef can be used to refer to a specific instance of a task. PipelineRef can be used to refer to a specific instance of a Pipeline.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Optional. Name of the task."
        },
        "resolver": {
          "type": "string",
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Bundles resolver. https://tekton.dev/docs/pipelines/bundle-resolver/",
            "GCB repo resolver.",
            "Simple Git resolver. https://tekton.dev/docs/pipelines/git-resolver/",
            "Developer Connect resolver.",
            "Default resolver."
          ],
          "enum": [
            "RESOLVER_NAME_UNSPECIFIED",
            "BUNDLES",
            "GCB_REPO",
            "GIT",
            "DEVELOPER_CONNECT",
            "DEFAULT"
          ],
          "description": "Resolver is the name of the resolver that should perform resolution of the referenced Tekton resource."
        },
        "params": {
          "type": "array",
          "items": {
            "$ref": "Param"
          },
          "description": "Params contains the parameters used to identify the referenced Tekton resource. Example entries might include \"repo\" or \"path\" but the set of params ultimately depends on the chosen resolver."
        }
      },
      "id": "TaskRef"
    },
    "EnvVar": {
      "properties": {
        "name": {
          "description": "Name of the environment variable.",
          "type": "string"
        },
        "value": {
          "description": "Value of the environment variable.",
          "type": "string"
        }
      },
      "id": "EnvVar",
      "description": "Environment variable.",
      "type": "object"
    },
    "PipelineResult": {
      "type": "object",
      "properties": {
        "type": {
          "description": "Output only. The type of data that the result holds.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "ARRAY",
            "OBJECT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Default",
            "Array type",
            "Object type"
          ],
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Name of the result.",
          "type": "string"
        },
        "value": {
          "$ref": "ResultValue",
          "description": "Output only. Value of the result.",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Output only. Description of the result.",
          "readOnly": true
        }
      },
      "id": "PipelineResult",
      "description": "A value produced by a Pipeline."
    },
    "Connection": {
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Server assigned timestamp for when the connection was updated.",
          "readOnly": true,
          "type": "string"
        },
        "reconciling": {
          "type": "boolean",
          "description": "Output only. Set to true when the connection is being set up or updated in the background.",
          "readOnly": true
        },
        "installationState": {
          "description": "Output only. Installation state of the Connection.",
          "readOnly": true,
          "$ref": "InstallationState"
        },
        "githubConfig": {
          "description": "Configuration for connections to github.com.",
          "$ref": "GitHubConfig"
        },
        "annotations": {
          "description": "Optional. Allows clients to store small amounts of arbitrary data.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "githubEnterpriseConfig": {
          "description": "Configuration for connections to an instance of GitHub Enterprise.",
          "$ref": "GoogleDevtoolsCloudbuildV2GitHubEnterpriseConfig"
        },
        "gitlabConfig": {
          "description": "Configuration for connections to gitlab.com or an instance of GitLab Enterprise.",
          "$ref": "GoogleDevtoolsCloudbuildV2GitLabConfig"
        },
        "name": {
          "description": "Immutable. The resource name of the connection, in the format `projects/{project}/locations/{location}/connections/{connection_id}`.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Server assigned timestamp for when the connection was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "bitbucketDataCenterConfig": {
          "$ref": "BitbucketDataCenterConfig",
          "description": "Configuration for connections to Bitbucket Data Center."
        },
        "bitbucketCloudConfig": {
          "$ref": "BitbucketCloudConfig",
          "description": "Configuration for connections to Bitbucket Cloud."
        },
        "disabled": {
          "description": "Optional. If disabled is set to true, functionality is disabled for this connection. Repository based API methods and webhooks processing for repositories in this connection will be disabled.",
          "type": "boolean"
        },
        "etag": {
          "type": "string",
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
        }
      },
      "id": "Connection",
      "description": "A connection to a SCM like GitHub, GitHub Enterprise, Bitbucket Data Center, Bitbucket Cloud or GitLab.",
      "type": "object"
    },
    "StepRef": {
      "id": "StepRef",
      "type": "object",
      "description": "A reference to a remote Step, i.e. a StepAction.",
      "properties": {
        "name": {
          "description": "Optional. Name of the step.",
          "type": "string"
        },
        "params": {
          "description": "Optional. Parameters used to control the resolution.",
          "type": "array",
          "items": {
            "$ref": "Param"
          }
        },
        "resolver": {
          "description": "Optional. Type of the resolver.",
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Bundles resolver. https://tekton.dev/docs/pipelines/bundle-resolver/",
            "GCB repo resolver.",
            "Simple Git resolver. https://tekton.dev/docs/pipelines/git-resolver/",
            "Developer Connect resolver.",
            "Default resolver."
          ],
          "type": "string",
          "enum": [
            "RESOLVER_NAME_UNSPECIFIED",
            "BUNDLES",
            "GCB_REPO",
            "GIT",
            "DEVELOPER_CONNECT",
            "DEFAULT"
          ]
        }
      }
    },
    "Repository": {
      "id": "Repository",
      "type": "object",
      "properties": {
        "webhookId": {
          "type": "string",
          "description": "Output only. External ID of the webhook created for the repository.",
          "readOnly": true
        },
        "name": {
          "description": "Immutable. Resource name of the repository, in the format `projects/*/locations/*/connections/*/repositories/*`.",
          "type": "string"
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Allows clients to store small amounts of arbitrary data."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Server assigned timestamp for when the connection was created.",
          "format": "google-datetime"
        },
        "etag": {
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "remoteUri": {
          "type": "string",
          "description": "Required. Git Clone HTTPS URI."
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Server assigned timestamp for when the connection was updated.",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "description": "A repository associated to a parent connection."
    },
    "FetchGitRefsResponse": {
      "id": "FetchGitRefsResponse",
      "properties": {
        "refNames": {
          "items": {
            "type": "string"
          },
          "description": "Name of the refs fetched.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      },
      "description": "Response for fetching git refs",
      "type": "object"
    },
    "PipelineRef": {
      "description": "PipelineRef can be used to refer to a specific instance of a Pipeline.",
      "type": "object",
      "id": "PipelineRef",
      "properties": {
        "params": {
          "description": "Params contains the parameters used to identify the referenced Tekton resource. Example entries might include \"repo\" or \"path\" but the set of params ultimately depends on the chosen resolver.",
          "items": {
            "$ref": "Param"
          },
          "type": "array"
        },
        "resolver": {
          "type": "string",
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Bundles resolver. https://tekton.dev/docs/pipelines/bundle-resolver/",
            "GCB repo resolver.",
            "Simple Git resolver. https://tekton.dev/docs/pipelines/git-resolver/",
            "Developer Connect resolver.",
            "Default resolver."
          ],
          "description": "Resolver is the name of the resolver that should perform resolution of the referenced Tekton resource.",
          "enum": [
            "RESOLVER_NAME_UNSPECIFIED",
            "BUNDLES",
            "GCB_REPO",
            "GIT",
            "DEVELOPER_CONNECT",
            "DEFAULT"
          ]
        },
        "name": {
          "type": "string",
          "description": "Optional. Name of the Pipeline."
        }
      }
    },
    "GoogleDevtoolsCloudbuildV2ServiceDirectoryConfig": {
      "properties": {
        "service": {
          "description": "Required. The Service Directory service name. Format: projects/{project}/locations/{location}/namespaces/{namespace}/services/{service}.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "ServiceDirectoryConfig represents Service Directory configuration for a connection.",
      "id": "GoogleDevtoolsCloudbuildV2ServiceDirectoryConfig"
    },
    "RunWorkflowCustomOperationMetadata": {
      "properties": {
        "apiVersion": {
          "type": "string",
          "description": "Output only. API version used to start the operation.",
          "readOnly": true
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "readOnly": true
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean",
          "readOnly": true
        },
        "pipelineRunId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. ID of the pipeline run created by RunWorkflow."
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents the custom metadata of the RunWorkflow long-running operation.",
      "id": "RunWorkflowCustomOperationMetadata"
    },
    "TaskSpec": {
      "id": "TaskSpec",
      "properties": {
        "results": {
          "description": "Values that this Task can output.",
          "items": {
            "$ref": "TaskResult"
          },
          "type": "array"
        },
        "description": {
          "type": "string",
          "description": "Description of the task."
        },
        "sidecars": {
          "items": {
            "$ref": "Sidecar"
          },
          "description": "Sidecars that run alongside the Task's step containers.",
          "type": "array"
        },
        "workspaces": {
          "description": "The volumes that this Task requires.",
          "items": {
            "$ref": "WorkspaceDeclaration"
          },
          "type": "array"
        },
        "steps": {
          "items": {
            "$ref": "Step"
          },
          "type": "array",
          "description": "Steps of the task."
        },
        "volumes": {
          "items": {
            "$ref": "VolumeSource"
          },
          "description": "A collection of volumes that are available to mount into steps.",
          "type": "array"
        },
        "stepTemplate": {
          "description": "Optional. StepTemplate can be used as the basis for all step containers within the Task, so that the steps inherit settings on the base container.",
          "$ref": "StepTemplate"
        },
        "params": {
          "type": "array",
          "description": "List of parameters.",
          "items": {
            "$ref": "ParamSpec"
          }
        },
        "managedSidecars": {
          "items": {
            "enum": [
              "MANAGED_SIDECAR_UNSPECIFIED",
              "PRIVILEGED_DOCKER_DAEMON"
            ],
            "enumDescriptions": [
              "Default enum type; should not be used.",
              "Sidecar for a privileged docker daemon."
            ],
            "type": "string"
          },
          "description": "Sidecars that run alongside the Task’s step containers that should be added to this Task.",
          "type": "array"
        }
      },
      "description": "TaskSpec contains the Spec to instantiate a TaskRun.",
      "type": "object"
    },
    "VolumeMount": {
      "type": "object",
      "id": "VolumeMount",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the volume."
        },
        "mountPath": {
          "description": "Path within the container at which the volume should be mounted. Must not contain ':'.",
          "type": "string"
        },
        "readOnly": {
          "description": "Mounted read-only if true, read-write otherwise (false or unspecified).",
          "type": "boolean"
        },
        "subPath": {
          "description": "Path within the volume from which the container's volume should be mounted. Defaults to \"\" (volume's root).",
          "type": "string"
        },
        "subPathExpr": {
          "description": "Expanded path within the volume from which the container's volume should be mounted. Behaves similarly to SubPath but environment variable references $(VAR_NAME) are expanded using the container's environment. Defaults to \"\" (volume's root).",
          "type": "string"
        }
      },
      "description": "Pod volumes to mount into the container's filesystem."
    },
    "BatchCreateRepositoriesRequest": {
      "id": "BatchCreateRepositoriesRequest",
      "description": "Message for creating repositoritories in batch.",
      "properties": {
        "requests": {
          "items": {
            "$ref": "CreateRepositoryRequest"
          },
          "description": "Required. The request messages specifying the repositories to create.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "properties": {},
      "type": "object",
      "description": "The request message for Operations.CancelOperation."
    },
    "BitbucketDataCenterConfig": {
      "properties": {
        "sslCa": {
          "type": "string",
          "description": "Optional. SSL certificate to use for requests to the Bitbucket Data Center."
        },
        "serverVersion": {
          "description": "Output only. Version of the Bitbucket Data Center running on the `host_uri`.",
          "readOnly": true,
          "type": "string"
        },
        "readAuthorizerCredential": {
          "$ref": "UserCredential",
          "description": "Required. A http access token with the `REPO_READ` access."
        },
        "serviceDirectoryConfig": {
          "$ref": "GoogleDevtoolsCloudbuildV2ServiceDirectoryConfig",
          "description": "Optional. Configuration for using Service Directory to privately connect to a Bitbucket Data Center. This should only be set if the Bitbucket Data Center is hosted on-premises and not reachable by public internet. If this field is left empty, calls to the Bitbucket Data Center will be made over the public internet."
        },
        "authorizerCredential": {
          "$ref": "UserCredential",
          "description": "Required. A http access token with the `REPO_ADMIN` scope access."
        },
        "webhookSecretSecretVersion": {
          "type": "string",
          "description": "Required. Immutable. SecretManager resource containing the webhook secret used to verify webhook events, formatted as `projects/*/secrets/*/versions/*`."
        },
        "hostUri": {
          "description": "Required. The URI of the Bitbucket Data Center instance or cluster this connection is for.",
          "type": "string"
        }
      },
      "id": "BitbucketDataCenterConfig",
      "type": "object",
      "description": "Configuration for connections to Bitbucket Data Center."
    },
    "WorkspaceDeclaration": {
      "id": "WorkspaceDeclaration",
      "type": "object",
      "description": "WorkspaceDeclaration is a declaration of a volume that a Task requires.",
      "properties": {
        "optional": {
          "description": "Optional. Optional marks a Workspace as not being required in TaskRuns. By default this field is false and so declared workspaces are required.",
          "type": "boolean"
        },
        "readOnly": {
          "description": "ReadOnly dictates whether a mounted volume is writable.",
          "type": "boolean"
        },
        "description": {
          "description": "Description is a human readable description of this volume.",
          "type": "string"
        },
        "mountPath": {
          "type": "string",
          "description": "MountPath overrides the directory that the volume will be made available at."
        },
        "name": {
          "type": "string",
          "description": "Name is the name by which you can bind the volume at runtime."
        }
      }
    },
    "HttpBody": {
      "description": "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page. This message can be used both in streaming and non-streaming API methods in the request as well as the response. It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body. Example: message GetResourceRequest { // A unique request id. string request_id = 1; // The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged.",
      "properties": {
        "data": {
          "type": "string",
          "description": "The HTTP request/response body as raw binary.",
          "format": "byte"
        },
        "extensions": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array",
          "description": "Application specific response metadata. Must be set in the first response for streaming APIs."
        },
        "contentType": {
          "description": "The HTTP Content-Type header value specifying the content type of the body.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "HttpBody"
    },
    "TestIamPermissionsRequest": {
      "properties": {
        "permissions": {
          "type": "array",
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "TestIamPermissionsRequest",
      "description": "Request message for `TestIamPermissions` method.",
      "type": "object"
    },
    "GoogleDevtoolsCloudbuildV2Condition": {
      "type": "object",
      "description": "Conditions defines a readiness condition for a Knative resource.",
      "id": "GoogleDevtoolsCloudbuildV2Condition",
      "properties": {
        "reason": {
          "description": "The reason for the condition's last transition.",
          "type": "string"
        },
        "type": {
          "description": "Type of condition.",
          "type": "string"
        },
        "severity": {
          "type": "string",
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Severity is warning.",
            "Severity is informational only."
          ],
          "description": "Severity with which to treat failures of this type of condition.",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "WARNING",
            "INFO"
          ]
        },
        "status": {
          "description": "Status of the condition.",
          "enumDescriptions": [
            "Default enum type indicating execution is still ongoing.",
            "Success",
            "Failure"
          ],
          "enum": [
            "UNKNOWN",
            "TRUE",
            "FALSE"
          ],
          "type": "string"
        },
        "lastTransitionTime": {
          "description": "LastTransitionTime is the last time the condition transitioned from one status to another.",
          "format": "google-datetime",
          "type": "string"
        },
        "message": {
          "description": "A human readable message indicating details about the transition.",
          "type": "string"
        }
      }
    },
    "PipelineRunResult": {
      "id": "PipelineRunResult",
      "properties": {
        "value": {
          "readOnly": true,
          "description": "Output only. Value of the result.",
          "$ref": "ResultValue"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the TaskRun"
        }
      },
      "description": "PipelineRunResult used to describe the results of a pipeline",
      "type": "object"
    },
    "GoogleDevtoolsCloudbuildV2GitLabConfig": {
      "properties": {
        "readAuthorizerCredential": {
          "$ref": "UserCredential",
          "description": "Required. A GitLab personal access token with the minimum `read_api` scope access."
        },
        "serviceDirectoryConfig": {
          "description": "Optional. Configuration for using Service Directory to privately connect to a GitLab Enterprise server. This should only be set if the GitLab Enterprise server is hosted on-premises and not reachable by public internet. If this field is left empty, calls to the GitLab Enterprise server will be made over the public internet.",
          "$ref": "GoogleDevtoolsCloudbuildV2ServiceDirectoryConfig"
        },
        "serverVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Version of the GitLab Enterprise server running on the `host_uri`."
        },
        "sslCa": {
          "type": "string",
          "description": "Optional. SSL certificate to use for requests to GitLab Enterprise."
        },
        "webhookSecretSecretVersion": {
          "description": "Required. Immutable. SecretManager resource containing the webhook secret of a GitLab Enterprise project, formatted as `projects/*/secrets/*/versions/*`.",
          "type": "string"
        },
        "hostUri": {
          "description": "Optional. The URI of the GitLab Enterprise host this connection is for. If not specified, the default value is https://gitlab.com.",
          "type": "string"
        },
        "authorizerCredential": {
          "description": "Required. A GitLab personal access token with the `api` scope access.",
          "$ref": "UserCredential"
        }
      },
      "type": "object",
      "description": "Configuration for connections to gitlab.com or an instance of GitLab Enterprise.",
      "id": "GoogleDevtoolsCloudbuildV2GitLabConfig"
    },
    "SecurityContext": {
      "id": "SecurityContext",
      "properties": {
        "runAsUser": {
          "description": "Optional. The UID to run the entrypoint of the container process. Defaults to user specified in image metadata if unspecified. May also be set in PodSecurityContext. If set in both SecurityContext and PodSecurityContext, the value specified in SecurityContext takes precedence. Note that this field cannot be set when spec.os.name is windows. +optional",
          "type": "string",
          "format": "int64"
        },
        "allowPrivilegeEscalation": {
          "description": "Optional. AllowPrivilegeEscalation controls whether a process can gain more privileges than its parent process. This bool directly controls if the no_new_privs flag will be set on the container process. AllowPrivilegeEscalation is true always when the container is: 1) run as Privileged 2) has CAP_SYS_ADMIN Note that this field cannot be set when spec.os.name is windows. +optional",
          "type": "boolean"
        },
        "runAsGroup": {
          "format": "int64",
          "description": "Optional. The GID to run the entrypoint of the container process. Uses runtime default if unset. May also be set in PodSecurityContext. If set in both SecurityContext and PodSecurityContext, the value specified in SecurityContext takes precedence. Note that this field cannot be set when spec.os.name is windows. +optional",
          "type": "string"
        },
        "runAsNonRoot": {
          "type": "boolean",
          "description": "Optional. Indicates that the container must run as a non-root user. If true, the Kubelet will validate the image at runtime to ensure that it does not run as UID 0 (root) and fail to start the container if it does. If unset or false, no such validation will be performed. May also be set in PodSecurityContext. If set in both SecurityContext and PodSecurityContext, the value specified in SecurityContext takes precedence. +optional"
        },
        "privileged": {
          "type": "boolean",
          "description": "Run container in privileged mode."
        }
      },
      "description": "Security options the container should be run with.",
      "type": "object"
    },
    "ParamValue": {
      "type": "object",
      "id": "ParamValue",
      "description": "Parameter value.",
      "properties": {
        "stringVal": {
          "description": "Value of the parameter if type is string.",
          "type": "string"
        },
        "arrayVal": {
          "type": "array",
          "description": "Value of the parameter if type is array.",
          "items": {
            "type": "string"
          }
        },
        "objectVal": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Value of the parameter if type is object."
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "ARRAY",
            "OBJECT"
          ],
          "description": "Type of parameter.",
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Default",
            "Array type",
            "Object type"
          ],
          "type": "string"
        }
      }
    },
    "BitbucketCloudConfig": {
      "properties": {
        "authorizerCredential": {
          "$ref": "UserCredential",
          "description": "Required. An access token with the `webhook`, `repository`, `repository:admin` and `pullrequest` scope access. It can be either a workspace, project or repository access token. It's recommended to use a system account to generate these credentials."
        },
        "readAuthorizerCredential": {
          "$ref": "UserCredential",
          "description": "Required. An access token with the `repository` access. It can be either a workspace, project or repository access token. It's recommended to use a system account to generate the credentials."
        },
        "workspace": {
          "type": "string",
          "description": "Required. The Bitbucket Cloud Workspace ID to be connected to Google Cloud Platform."
        },
        "webhookSecretSecretVersion": {
          "type": "string",
          "description": "Required. SecretManager resource containing the webhook secret used to verify webhook events, formatted as `projects/*/secrets/*/versions/*`."
        }
      },
      "description": "Configuration for connections to Bitbucket Cloud.",
      "id": "BitbucketCloudConfig",
      "type": "object"
    },
    "InstallationState": {
      "type": "object",
      "properties": {
        "actionUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Link to follow for next action. Empty string if the installation is already complete."
        },
        "stage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Current step of the installation process.",
          "enumDescriptions": [
            "No stage specified.",
            "Only for GitHub Enterprise. An App creation has been requested. The user needs to confirm the creation in their GitHub enterprise host.",
            "User needs to authorize the GitHub (or Enterprise) App via OAuth.",
            "User needs to follow the link to install the GitHub (or Enterprise) App.",
            "Installation process has been completed."
          ],
          "enum": [
            "STAGE_UNSPECIFIED",
            "PENDING_CREATE_APP",
            "PENDING_USER_OAUTH",
            "PENDING_INSTALL_APP",
            "COMPLETE"
          ]
        },
        "message": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Message of what the user should do next to continue the installation. Empty string if the installation is already complete."
        }
      },
      "id": "InstallationState",
      "description": "Describes stage and necessary actions to be taken by the user to complete the installation. Used for GitHub and GitHub Enterprise based connections."
    },
    "FetchLinkableRepositoriesResponse": {
      "description": "Response message for FetchLinkableRepositories.",
      "id": "FetchLinkableRepositoriesResponse",
      "properties": {
        "repositories": {
          "type": "array",
          "description": "repositories ready to be created.",
          "items": {
            "$ref": "Repository"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleDevtoolsCloudbuildV2GitHubEnterpriseConfig": {
      "properties": {
        "sslCa": {
          "description": "Optional. SSL certificate to use for requests to GitHub Enterprise.",
          "type": "string"
        },
        "serverVersion": {
          "readOnly": true,
          "description": "Output only. GitHub Enterprise version installed at the host_uri.",
          "type": "string"
        },
        "webhookSecretSecretVersion": {
          "description": "Optional. SecretManager resource containing the webhook secret of the GitHub App, formatted as `projects/*/secrets/*/versions/*`.",
          "type": "string"
        },
        "appId": {
          "description": "Optional. Id of the GitHub App created from the manifest.",
          "format": "int64",
          "type": "string"
        },
        "appInstallationId": {
          "format": "int64",
          "type": "string",
          "description": "Optional. ID of the installation of the GitHub App."
        },
        "privateKeySecretVersion": {
          "type": "string",
          "description": "Optional. SecretManager resource containing the private key of the GitHub App, formatted as `projects/*/secrets/*/versions/*`."
        },
        "appSlug": {
          "type": "string",
          "description": "Optional. The URL-friendly name of the GitHub App."
        },
        "serviceDirectoryConfig": {
          "$ref": "GoogleDevtoolsCloudbuildV2ServiceDirectoryConfig",
          "description": "Optional. Configuration for using Service Directory to privately connect to a GitHub Enterprise server. This should only be set if the GitHub Enterprise server is hosted on-premises and not reachable by public internet. If this field is left empty, calls to the GitHub Enterprise server will be made over the public internet."
        },
        "apiKey": {
          "type": "string",
          "description": "Required. API Key used for authentication of webhook events."
        },
        "hostUri": {
          "description": "Required. The URI of the GitHub Enterprise host this connection is for.",
          "type": "string"
        }
      },
      "description": "Configuration for connections to an instance of GitHub Enterprise.",
      "type": "object",
      "id": "GoogleDevtoolsCloudbuildV2GitHubEnterpriseConfig"
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "SetIamPolicyRequest": {
      "description": "Request message for `SetIamPolicy` method.",
      "id": "SetIamPolicyRequest",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        },
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "format": "google-fieldmask",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EmptyDirVolumeSource": {
      "properties": {},
      "description": "Represents an empty Volume source.",
      "id": "EmptyDirVolumeSource",
      "type": "object"
    },
    "ListConnectionsResponse": {
      "id": "ListConnectionsResponse",
      "properties": {
        "connections": {
          "type": "array",
          "description": "The list of Connections.",
          "items": {
            "$ref": "Connection"
          }
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Message for response to listing Connections."
    },
    "OperationMetadata": {
      "type": "object",
      "properties": {
        "cancelRequested": {
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "readOnly": true
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string",
          "readOnly": true
        },
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API version used to start the operation."
        },
        "target": {
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "statusDetail": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation."
    },
    "ParamSpec": {
      "description": "ParamSpec defines parameters needed beyond typed inputs (such as resources). Parameter values are provided by users as inputs on a TaskRun or PipelineRun.",
      "type": "object",
      "id": "ParamSpec",
      "properties": {
        "name": {
          "description": "Name of the ParamSpec",
          "type": "string"
        },
        "default": {
          "$ref": "ParamValue",
          "description": "The default value a parameter takes if no input value is supplied"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Default",
            "Array type.",
            "Object type."
          ],
          "description": "Type of ParamSpec",
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "ARRAY",
            "OBJECT"
          ]
        },
        "description": {
          "description": "Description of the ParamSpec",
          "type": "string"
        }
      }
    },
    "WorkspaceBinding": {
      "id": "WorkspaceBinding",
      "description": "WorkspaceBinding maps a workspace to a Volume. PipelineRef can be used to refer to a specific instance of a Pipeline.",
      "type": "object",
      "properties": {
        "subPath": {
          "type": "string",
          "description": "Optional. SubPath is optionally a directory on the volume which should be used for this binding (i.e. the volume will be mounted at this sub directory). +optional"
        },
        "secret": {
          "description": "Secret Volume Source.",
          "$ref": "SecretVolumeSource"
        },
        "name": {
          "type": "string",
          "description": "Name of the workspace."
        }
      }
    },
    "PipelineWorkspaceDeclaration": {
      "id": "PipelineWorkspaceDeclaration",
      "description": "Workspaces declares a set of named workspaces that are expected to be provided by a PipelineRun.",
      "properties": {
        "description": {
          "description": "Description is a human readable string describing how the workspace will be used in the Pipeline.",
          "type": "string"
        },
        "optional": {
          "description": "Optional marks a Workspace as not being required in PipelineRuns. By default this field is false and so declared workspaces are required.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "Name is the name of a workspace to be provided by a PipelineRun."
        }
      },
      "type": "object"
    },
    "ExecAction": {
      "id": "ExecAction",
      "description": "ExecAction describes a \"run in container\" action.",
      "type": "object",
      "properties": {
        "command": {
          "description": "Optional. Command is the command line to execute inside the container, the working directory for the command is root ('/') in the container's filesystem. The command is simply exec'd, it is not run inside a shell, so traditional shell instructions ('|', etc) won't work. To use a shell, you need to explicitly call out to that shell. Exit status of 0 is treated as live/healthy and non-zero is unhealthy. +optional",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "BatchCreateRepositoriesResponse": {
      "type": "object",
      "id": "BatchCreateRepositoriesResponse",
      "description": "Message for response of creating repositories in batch.",
      "properties": {
        "repositories": {
          "type": "array",
          "description": "Repository resources created.",
          "items": {
            "$ref": "Repository"
          }
        }
      }
    },
    "WorkspacePipelineTaskBinding": {
      "description": "WorkspacePipelineTaskBinding maps workspaces from the PipelineSpec to the workspaces declared in the Task.",
      "id": "WorkspacePipelineTaskBinding",
      "type": "object",
      "properties": {
        "subPath": {
          "description": "Optional. SubPath is optionally a directory on the volume which should be used for this binding (i.e. the volume will be mounted at this sub directory). +optional",
          "type": "string"
        },
        "name": {
          "description": "Name of the workspace as declared by the task.",
          "type": "string"
        },
        "workspace": {
          "type": "string",
          "description": "Name of the workspace declared by the pipeline."
        }
      }
    },
    "Probe": {
      "type": "object",
      "properties": {
        "exec": {
          "$ref": "ExecAction",
          "description": "Optional. Exec specifies the action to take. +optional"
        },
        "periodSeconds": {
          "type": "integer",
          "description": "Optional. How often (in seconds) to perform the probe. Default to 10 seconds. Minimum value is 1. +optional",
          "format": "int32"
        }
      },
      "id": "Probe",
      "description": "Probe describes a health check to be performed against a container to determine whether it is alive or ready to receive traffic."
    },
    "ListRepositoriesResponse": {
      "id": "ListRepositoriesResponse",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "repositories": {
          "items": {
            "$ref": "Repository"
          },
          "type": "array",
          "description": "The list of Repositories."
        }
      },
      "description": "Message for response to listing Repositories.",
      "type": "object"
    },
    "Policy": {
[...]
