{
  "kind": "discovery#restDescription",
  "baseUrl": "https://cloudcontrolspartner.googleapis.com/",
  "mtlsRootUrl": "https://cloudcontrolspartner.mtls.googleapis.com/",
  "description": "Provides insights about your customers and their Assured Workloads based on your Sovereign Controls by Partners offering.",
  "version_module": true,
  "version": "v1beta",
  "revision": "20260805",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "servicePath": "",
  "name": "cloudcontrolspartner",
  "title": "Cloud Controls Partner API",
  "resources": {
    "organizations": {
      "resources": {
        "locations": {
          "methods": {
            "getPartner": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Partner"
              },
              "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/partner",
              "path": "v1beta/{+name}",
              "parameters": {
                "name": {
                  "description": "Required. Format: `organizations/{organization}/locations/{location}/partner`",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^organizations/[^/]+/locations/[^/]+/partner$"
                }
              },
              "httpMethod": "GET",
              "description": "Get details of a Partner.",
              "parameterOrder": [
                "name"
              ],
              "id": "cloudcontrolspartner.organizations.locations.getPartner"
            }
          },
          "resources": {
            "customers": {
              "methods": {
                "patch": {
                  "path": "v1beta/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}`",
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+$"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "description": "Optional. The list of fields to update",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Customer"
                  },
                  "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}",
                  "description": "Update details of a single customer",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "Customer"
                  },
                  "id": "cloudcontrolspartner.organizations.locations.customers.patch",
                  "httpMethod": "PATCH"
                },
                "list": {
                  "httpMethod": "GET",
                  "id": "cloudcontrolspartner.organizations.locations.customers.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists customers of a partner identified by its Google Cloud organization ID",
                  "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers",
                  "response": {
                    "$ref": "ListCustomersResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageSize": {
                      "description": "The maximum number of Customers to return. The service may return fewer than this value. If unspecified, at most 500 Customers will be returned.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Filtering results"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A page token, received from a previous `ListCustomers` call. Provide this to retrieve the subsequent page."
                    },
                    "orderBy": {
                      "description": "Optional. Hint for how to order the results",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. Parent resource Format: `organizations/{organization}/locations/{location}`",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$"
                    }
                  },
                  "path": "v1beta/{+parent}/customers"
                },
                "delete": {
                  "id": "cloudcontrolspartner.organizations.locations.customers.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Delete details of a single customer",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+$",
                      "description": "Required. name of the resource to be deleted format: name=organizations/*/locations/*/customers/*",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "path": "v1beta/{+name}",
                  "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "httpMethod": "POST",
                  "id": "cloudcontrolspartner.organizations.locations.customers.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "Customer"
                  },
                  "description": "Creates a new customer.",
                  "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers",
                  "response": {
                    "$ref": "Customer"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. Parent resource Format: `organizations/{organization}/locations/{location}`",
                      "required": true
                    },
                    "customerId": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. The customer id to use for the customer, which will become the final component of the customer's resource name. The specified value must be a valid Google cloud organization id."
                    }
                  },
                  "path": "v1beta/{+parent}/customers"
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}",
                  "response": {
                    "$ref": "Customer"
                  },
                  "path": "v1beta/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. Format: `organizations/{organization}/locations/{location}/customers/{customer}`",
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+$"
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets details of a single customer",
                  "id": "cloudcontrolspartner.organizations.locations.customers.get"
                }
              },
              "resources": {
                "workloads": {
                  "methods": {
                    "getEkmConnections": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "EkmConnections"
                      },
                      "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads/{workloadsId}/ekmConnections",
                      "path": "v1beta/{+name}",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/ekmConnections`",
                          "required": true,
                          "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+/workloads/[^/]+/ekmConnections$"
                        }
                      },
                      "httpMethod": "GET",
                      "description": "Gets the EKM connections associated with a workload",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "cloudcontrolspartner.organizations.locations.customers.workloads.getEkmConnections"
                    },
                    "get": {
                      "parameters": {
                        "name": {
                          "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+/workloads/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "description": "Required. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}`",
                          "required": true
                        }
                      },
                      "path": "v1beta/{+name}",
                      "response": {
                        "$ref": "Workload"
                      },
                      "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads/{workloadsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "cloudcontrolspartner.organizations.locations.customers.workloads.get",
                      "description": "Gets details of a single workload",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET"
                    },
                    "getPartnerPermissions": {
                      "httpMethod": "GET",
                      "id": "cloudcontrolspartner.organizations.locations.customers.workloads.getPartnerPermissions",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Gets the partner permissions granted for a workload",
                      "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads/{workloadsId}/partnerPermissions",
                      "response": {
                        "$ref": "PartnerPermissions"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. Name of the resource to get in the format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/partnerPermissions`",
                          "required": true,
                          "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+/workloads/[^/]+/partnerPermissions$"
                        }
                      },
                      "path": "v1beta/{+name}"
                    },
                    "list": {
                      "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads",
                      "response": {
                        "$ref": "ListWorkloadsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32",
                          "description": "The maximum number of workloads to return. The service may return fewer than this value. If unspecified, at most 500 workloads will be returned."
                        },
                        "filter": {
                          "description": "Optional. Filtering results.",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. Parent resource Format: `organizations/{organization}/locations/{location}/customers/{customer}`",
                          "required": true,
                          "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+$"
                        },
                        "orderBy": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. Hint for how to order the results."
                        },
                        "pageToken": {
                          "description": "A page token, received from a previous `ListWorkloads` call. Provide this to retrieve the subsequent page.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "path": "v1beta/{+parent}/workloads",
                      "httpMethod": "GET",
                      "id": "cloudcontrolspartner.organizations.locations.customers.workloads.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Lists customer workloads for a given customer org id"
                    }
                  },
                  "resources": {
                    "accessApprovalRequests": {
                      "methods": {
                        "list": {
                          "id": "cloudcontrolspartner.organizations.locations.customers.workloads.accessApprovalRequests.list",
                          "description": "Deprecated: Only returns access approval requests directly associated with an assured workload folder.",
                          "parameterOrder": [
                            "parent"
                          ],
                          "httpMethod": "GET",
                          "deprecated": true,
                          "parameters": {
                            "parent": {
                              "type": "string",
                              "location": "path",
                              "description": "Required. Parent resource Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}`",
                              "required": true,
                              "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+/workloads/[^/]+$"
                            },
                            "orderBy": {
                              "location": "query",
                              "type": "string",
                              "description": "Optional. Hint for how to order the results."
                            },
                            "pageToken": {
                              "description": "Optional. A page token, received from a previous `ListAccessApprovalRequests` call. Provide this to retrieve the subsequent page.",
                              "type": "string",
                              "location": "query"
                            },
                            "pageSize": {
                              "type": "integer",
                              "location": "query",
                              "description": "Optional. The maximum number of access requests to return. The service may return fewer than this value. If unspecified, at most 500 access requests will be returned.",
                              "format": "int32"
                            },
                            "filter": {
                              "description": "Optional. Filtering results.",
                              "location": "query",
                              "type": "string"
                            }
                          },
                          "path": "v1beta/{+parent}/accessApprovalRequests",
                          "response": {
                            "$ref": "ListAccessApprovalRequestsResponse"
                          },
                          "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads/{workloadsId}/accessApprovalRequests",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        }
                      },
                      "deprecated": true
                    },
                    "violations": {
                      "methods": {
                        "list": {
                          "description": "Lists Violations for a workload Callers may also choose to read across multiple Customers or for a single customer as per [AIP-159](https://google.aip.dev/159) by using '-' (the hyphen or dash character) as a wildcard character instead of {customer} & {workload}. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}`",
                          "parameterOrder": [
                            "parent"
                          ],
                          "id": "cloudcontrolspartner.organizations.locations.customers.workloads.violations.list",
                          "httpMethod": "GET",
                          "path": "v1beta/{+parent}/violations",
                          "parameters": {
                            "pageSize": {
                              "description": "Optional. The maximum number of customers row to return. The service may return fewer than this value. If unspecified, at most 10 customers will be returned.",
                              "format": "int32",
                              "type": "integer",
                              "location": "query"
                            },
                            "filter": {
                              "location": "query",
                              "type": "string",
                              "description": "Optional. Filtering results"
                            },
                            "interval.endTime": {
                              "location": "query",
                              "type": "string",
                              "format": "google-datetime",
                              "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end."
                            },
                            "parent": {
                              "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+/workloads/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "description": "Required. Parent resource Format `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}`",
                              "required": true
                            },
                            "interval.startTime": {
                              "location": "query",
                              "type": "string",
                              "format": "google-datetime",
                              "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start."
                            },
                            "pageToken": {
                              "type": "string",
                              "location": "query",
                              "description": "Optional. A page token, received from a previous `ListViolations` call. Provide this to retrieve the subsequent page."
                            },
                            "orderBy": {
                              "description": "Optional. Hint for how to order the results",
                              "type": "string",
                              "location": "query"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "ListViolationsResponse"
                          },
                          "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads/{workloadsId}/violations"
                        },
                        "get": {
                          "id": "cloudcontrolspartner.organizations.locations.customers.workloads.violations.get",
                          "parameterOrder": [
                            "name"
                          ],
                          "description": "Gets details of a single Violation.",
                          "httpMethod": "GET",
                          "parameters": {
                            "name": {
                              "description": "Required. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/violations/{violation}`",
                              "required": true,
                              "type": "string",
                              "location": "path",
                              "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+/workloads/[^/]+/violations/[^/]+$"
                            }
                          },
                          "path": "v1beta/{+name}",
                          "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads/{workloadsId}/violations/{violationsId}",
                          "response": {
                            "$ref": "Violation"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "batchPath": "batch",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "schemas": {
    "WorkloadOnboardingStep": {
      "id": "WorkloadOnboardingStep",
      "type": "object",
      "properties": {
        "completionState": {
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified completion state.",
            "Task started (has start date) but not yet completed.",
            "Succeeded state.",
            "Failed state.",
            "Not applicable state."
          ],
          "enum": [
            "COMPLETION_STATE_UNSPECIFIED",
            "PENDING",
            "SUCCEEDED",
            "FAILED",
            "NOT_APPLICABLE"
          ],
          "type": "string",
          "description": "Output only. The completion state of the onboarding step."
        },
        "startTime": {
          "format": "google-datetime",
          "description": "The starting time of the onboarding step.",
          "type": "string"
        },
        "step": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified step.",
            "EKM Provisioned step.",
            "Signed Access Approval step."
          ],
          "enum": [
            "STEP_UNSPECIFIED",
            "EKM_PROVISIONED",
            "SIGNED_ACCESS_APPROVAL_CONFIGURED"
          ],
          "description": "The onboarding step."
        },
        "completionTime": {
          "format": "google-datetime",
          "description": "The completion time of the onboarding step.",
          "type": "string"
        }
      },
      "description": "Container for workload onboarding information."
    },
    "Console": {
      "id": "Console",
      "type": "object",
      "properties": {
        "consoleUris": {
          "description": "Link to console page where violations can be resolved",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "steps": {
          "description": "Steps to resolve violation via cloud console",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "additionalLinks": {
          "description": "Additional urls for more information about steps",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Remediation instructions to resolve violation via cloud console"
    },
    "WorkloadOnboardingState": {
      "id": "WorkloadOnboardingState",
      "type": "object",
      "properties": {
        "onboardingSteps": {
          "type": "array",
          "items": {
            "$ref": "WorkloadOnboardingStep"
          },
          "description": "List of workload onboarding steps."
        }
      },
      "description": "Container for workload onboarding steps."
    },
    "ConnectionError": {
      "id": "ConnectionError",
      "type": "object",
      "properties": {
        "errorDomain": {
          "description": "The error domain for the error",
          "type": "string"
        },
        "errorMessage": {
          "description": "The error message for the error",
          "type": "string"
        }
      },
      "description": "Information around the error that occurred if the connection state is anything other than available or unspecified"
    },
    "EkmConnections": {
      "description": "The EKM connections associated with a workload",
      "id": "EkmConnections",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/ekmConnections`",
          "type": "string"
        },
        "ekmConnections": {
          "description": "The EKM connections associated with the workload",
          "type": "array",
          "items": {
            "$ref": "EkmConnection"
          }
        }
      }
    },
    "AccessApprovalRequest": {
      "id": "AccessApprovalRequest",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/accessApprovalRequests/{access_approval_request}`",
          "type": "string"
        },
        "requestTime": {
          "description": "The time at which approval was requested.",
          "format": "google-datetime",
          "type": "string"
        },
        "requestedReason": {
          "$ref": "AccessReason",
          "description": "The justification for which approval is being requested."
        },
        "requestedExpirationTime": {
          "type": "string",
          "description": "The requested expiration for the approval. If the request is approved, access will be granted from the time of approval until the expiration time.",
          "format": "google-datetime"
        }
      },
      "description": "Details about the Access request."
    },
    "Sku": {
      "id": "Sku",
      "type": "object",
      "properties": {
        "id": {
          "description": "Argentum product SKU, that is associated with the partner offerings to customers used by Syntro for billing purposes. SKUs can represent resold Google products or support services.",
          "type": "string"
        },
        "displayName": {
          "description": "Display name of the product identified by the SKU. A partner may want to show partner branded names for their offerings such as local sovereign cloud solutions.",
          "type": "string"
        }
      },
      "description": "Represents the SKU a partner owns inside Google Cloud to sell to customers."
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "EkmMetadata": {
      "description": "Holds information needed by Mudbray to use partner EKMs for workloads.",
      "id": "EkmMetadata",
      "type": "object",
      "properties": {
        "ekmEndpointUri": {
          "description": "Endpoint for sending requests to the EKM for key provisioning during Assured Workload creation.",
          "type": "string"
        },
        "ekmSolution": {
          "enumDescriptions": [
            "Unspecified EKM solution",
            "EKM Partner Fortanix",
            "EKM Partner FutureX",
            "EKM Partner Thales",
            "This enum value is never used."
          ],
          "enum": [
            "EKM_SOLUTION_UNSPECIFIED",
            "FORTANIX",
            "FUTUREX",
            "THALES",
            "VIRTRU"
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            true
          ],
          "description": "The Cloud EKM partner.",
          "type": "string"
        }
      }
    },
    "EkmConnection": {
      "id": "EkmConnection",
      "type": "object",
      "properties": {
        "connectionError": {
          "$ref": "ConnectionError",
          "description": "The connection error that occurred if any"
        },
        "connectionState": {
          "type": "string",
          "description": "Output only. The connection state",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified EKM connection state",
            "Available EKM connection state",
            "Not available EKM connection state",
            "Error EKM connection state",
            "Permission denied EKM connection state"
          ],
          "enum": [
            "CONNECTION_STATE_UNSPECIFIED",
            "AVAILABLE",
            "NOT_AVAILABLE",
            "ERROR",
            "PERMISSION_DENIED"
          ]
        },
        "connectionName": {
          "description": "Resource name of the EKM connection in the format: projects/{project}/locations/{location}/ekmConnections/{ekm_connection}",
          "type": "string"
        }
      },
      "description": "Details about the EKM connection"
    },
    "CustomerOnboardingState": {
      "description": "Container for customer onboarding steps",
      "id": "CustomerOnboardingState",
      "type": "object",
      "properties": {
        "onboardingSteps": {
          "description": "List of customer onboarding steps",
          "type": "array",
          "items": {
            "$ref": "CustomerOnboardingStep"
          }
        }
      }
    },
    "Partner": {
      "id": "Partner",
      "type": "object",
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time the resource was created",
          "format": "google-datetime"
        },
        "skus": {
          "description": "List of SKUs the partner is offering",
          "type": "array",
          "items": {
            "$ref": "Sku"
          }
        },
        "ekmSolutions": {
          "type": "array",
          "items": {
            "$ref": "EkmMetadata"
          },
          "description": "List of Google Cloud supported EKM partners supported by the partner"
        },
        "partnerProjectId": {
          "description": "Google Cloud project ID in the partner's Google Cloud organization for receiving enhanced Logs for Partners.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The last time the resource was updated",
          "format": "google-datetime"
        },
        "name": {
          "description": "Identifier. The resource name of the partner. Format: `organizations/{organization}/locations/{location}/partner` Example: \"organizations/123456/locations/us-central1/partner\"",
          "type": "string"
        },
        "operatedCloudRegions": {
          "description": "List of Google Cloud regions that the partner sells services to customers. Valid Google Cloud regions found here: https://cloud.google.com/compute/docs/regions-zones",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Message describing Partner resource"
    },
    "Violation": {
      "id": "Violation",
      "type": "object",
      "properties": {
        "folderId": {
          "format": "int64",
          "description": "The folder_id of the violation",
          "type": "string"
        },
        "resolveTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time of the event which fixed the Violation. If the violation is ACTIVE this will be empty.",
          "format": "google-datetime"
        },
        "name": {
          "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/violations/{violation}`",
          "type": "string"
        },
        "category": {
          "description": "Output only. Category under which this violation is mapped. e.g. Location, Service Usage, Access, Encryption, etc.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Description for the Violation. e.g. OrgPolicy gcp.resourceLocations has non compliant value."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The last time when the Violation record was updated.",
          "format": "google-datetime"
        },
        "nonCompliantOrgPolicy": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Immutable. Name of the OrgPolicy which was modified with non-compliant change and resulted this violation. Format: `projects/{project_number}/policies/{constraint_name}` `folders/{folder_id}/policies/{constraint_name}` `organizations/{organization_id}/policies/{constraint_name}`"
        },
        "beginTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time of the event which triggered the Violation.",
          "format": "google-datetime"
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state.",
            "Violation is resolved.",
            "Violation is Unresolved",
            "Violation is Exception"
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "RESOLVED",
            "UNRESOLVED",
            "EXCEPTION"
          ],
          "readOnly": true,
          "description": "Output only. State of the violation",
          "type": "string"
        },
        "remediation": {
          "description": "Output only. Compliance violation remediation",
          "readOnly": true,
          "$ref": "Remediation"
        }
      },
      "description": "Details of resource Violation"
    },
    "Remediation": {
      "id": "Remediation",
      "type": "object",
      "properties": {
        "instructions": {
          "$ref": "Instructions",
          "description": "Required. Remediation instructions to resolve violations"
        },
        "compliantValues": {
          "description": "Values that can resolve the violation For example: for list org policy violations, this will either be the list of allowed or denied values",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "remediationType": {
          "enumDescriptions": [
            "Unspecified remediation type",
            "Remediation type for boolean org policy",
            "Remediation type for list org policy which have allowed values in the monitoring rule",
            "Remediation type for list org policy which have denied values in the monitoring rule",
            "Remediation type for gcp.restrictCmekCryptoKeyProjects",
            "Remediation type for resource violation."
          ],
          "enum": [
            "REMEDIATION_TYPE_UNSPECIFIED",
            "REMEDIATION_BOOLEAN_ORG_POLICY_VIOLATION",
            "REMEDIATION_LIST_ALLOWED_VALUES_ORG_POLICY_VIOLATION",
            "REMEDIATION_LIST_DENIED_VALUES_ORG_POLICY_VIOLATION",
            "REMEDIATION_RESTRICT_CMEK_CRYPTO_KEY_PROJECTS_ORG_POLICY_VIOLATION",
            "REMEDIATION_RESOURCE_VIOLATION"
          ],
          "readOnly": true,
          "description": "Output only. Remediation type based on the type of org policy values violated",
          "type": "string"
        }
      },
      "description": "Represents remediation guidance to resolve compliance violation for AssuredWorkload"
    },
    "Customer": {
      "id": "Customer",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}`",
          "type": "string"
        },
        "organizationDomain": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The customer organization domain, extracted from CRM Organization’s display_name field. e.g. \"google.com\""
        },
        "customerOnboardingState": {
          "$ref": "CustomerOnboardingState",
          "readOnly": true,
          "description": "Output only. Container for customer onboarding steps"
        },
        "isOnboarded": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates whether a customer is fully onboarded"
        },
        "displayName": {
          "description": "Required. Display name for the customer",
          "type": "string"
        }
      },
      "description": "Contains metadata around a Cloud Controls Partner Customer"
    },
    "PartnerPermissions": {
      "description": "The permissions granted to the partner for a workload",
      "id": "PartnerPermissions",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/partnerPermissions`",
          "type": "string"
        },
        "partnerPermissions": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified partner permission",
              "Permission for Access Transparency and emergency logs",
              "Permission for Assured Workloads monitoring violations",
              "Permission for Access Approval requests",
              "Permission for External Key Manager connection status",
              "Permission for support case details for Access Transparency log entries"
            ],
            "enum": [
              "PERMISSION_UNSPECIFIED",
              "ACCESS_TRANSPARENCY_AND_EMERGENCY_ACCESS_LOGS",
              "ASSURED_WORKLOADS_MONITORING",
              "ACCESS_APPROVAL_REQUESTS",
              "ASSURED_WORKLOADS_EKM_CONNECTION_STATUS",
              "ACCESS_TRANSPARENCY_LOGS_SUPPORT_CASE_VIEWER"
            ]
          },
          "description": "The partner permissions granted for the workload"
        }
      }
    },
    "Gcloud": {
      "description": "Remediation instructions to resolve violation via gcloud cli",
      "id": "Gcloud",
      "type": "object",
      "properties": {
        "gcloudCommands": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Gcloud command to resolve violation"
        },
        "steps": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Steps to resolve violation via gcloud cli"
        },
        "additionalLinks": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Additional urls for more information about steps"
        }
      }
    },
    "ListCustomersResponse": {
      "id": "ListCustomersResponse",
      "type": "object",
      "properties": {
        "customers": {
          "type": "array",
          "items": {
            "$ref": "Customer"
          },
          "description": "List of customers"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for list customer Customers requests"
    },
    "ListWorkloadsResponse": {
      "description": "Response message for list customer workloads requests.",
      "id": "ListWorkloadsResponse",
      "type": "object",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "workloads": {
          "type": "array",
          "items": {
            "$ref": "Workload"
          },
          "description": "List of customer workloads"
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "ListAccessApprovalRequestsResponse": {
      "id": "ListAccessApprovalRequestsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "accessApprovalRequests": {
          "description": "List of access approval requests",
          "type": "array",
          "items": {
            "$ref": "AccessApprovalRequest"
          }
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      },
      "description": "Response message for list access requests."
    },
    "CustomerOnboardingStep": {
      "description": "Container for customer onboarding information",
      "id": "CustomerOnboardingStep",
      "type": "object",
      "properties": {
        "step": {
          "enumDescriptions": [
            "Unspecified step",
            "KAJ Enrollment",
            "Customer Environment"
          ],
          "enum": [
            "STEP_UNSPECIFIED",
            "KAJ_ENROLLMENT",
            "CUSTOMER_ENVIRONMENT"
          ],
          "description": "The onboarding step",
          "type": "string"
        },
        "completionTime": {
          "type": "string",
          "description": "The completion time of the onboarding step",
          "format": "google-datetime"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "The starting time of the onboarding step",
          "type": "string"
        },
        "completionState": {
          "type": "string",
          "description": "Output only. Current state of the step",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified completion state.",
            "Task started (has start date) but not yet completed.",
            "Succeeded state.",
            "Failed state.",
            "Not applicable state."
          ],
          "enum": [
            "COMPLETION_STATE_UNSPECIFIED",
            "PENDING",
            "SUCCEEDED",
            "FAILED",
            "NOT_APPLICABLE"
          ]
        }
      }
    },
    "ListViolationsResponse": {
      "id": "ListViolationsResponse",
      "type": "object",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Workloads that could not be reached due to permission errors or any other error. Ref: https://google.aip.dev/217"
        },
        "violations": {
          "type": "array",
          "items": {
            "$ref": "Violation"
          },
          "description": "List of violation"
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for list customer violation requests"
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "type": "object",
      "properties": {
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API version used to start the operation."
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string"
        },
        "verb": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation."
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Represents the metadata of the long-running operation."
    },
    "Instructions": {
      "description": "Instructions to remediate violation",
      "id": "Instructions",
      "type": "object",
      "properties": {
        "gcloudInstructions": {
          "$ref": "Gcloud",
          "description": "Remediation instructions to resolve violation via gcloud cli"
        },
        "consoleInstructions": {
          "$ref": "Console",
          "description": "Remediation instructions to resolve violation via cloud console"
        }
      }
    },
    "AccessReason": {
      "id": "AccessReason",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Default value for proto, shouldn't be used.",
            "Customer made a request or raised an issue that required the principal to access customer data. `detail` is of the form (\"#####\" is the issue ID): - \"Feedback Report: #####\" - \"Case Number: #####\" - \"Case ID: #####\" - \"E-PIN Reference: #####\" - \"Google-#####\" - \"T-#####\"",
            "The principal accessed customer data in order to diagnose or resolve a suspected issue in services. Often this access is used to confirm that customers are not affected by a suspected service issue or to remediate a reversible system issue.",
            "Google initiated service for security, fraud, abuse, or compliance purposes.",
            "The principal was compelled to access customer data in order to respond to a legal third party data request or process, including legal processes from customers themselves.",
            "The principal accessed customer data in order to diagnose or resolve a suspected issue in services or a known outage.",
            "Similar to 'GOOGLE_INITIATED_SERVICE' or 'GOOGLE_INITIATED_REVIEW', but with universe agnostic naming. The principal accessed customer data in order to diagnose or resolve a suspected issue in services or a known outage, or for security, fraud, abuse, or compliance review purposes."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "CUSTOMER_INITIATED_SUPPORT",
            "GOOGLE_INITIATED_SERVICE",
            "GOOGLE_INITIATED_REVIEW",
            "THIRD_PARTY_DATA_REQUEST",
            "GOOGLE_RESPONSE_TO_PRODUCTION_ALERT",
            "CLOUD_INITIATED_ACCESS"
          ],
          "description": "Type of access justification."
        },
        "detail": {
          "description": "More detail about certain reason types. See comments for each type above.",
          "type": "string"
        }
      },
      "description": "Reason for the access."
    },
    "Workload": {
      "id": "Workload",
      "type": "object",
      "properties": {
        "workloadOnboardingState": {
          "$ref": "WorkloadOnboardingState",
          "description": "Container for workload onboarding steps."
        },
        "isOnboarded": {
          "description": "Indicates whether a workload is fully onboarded.",
          "type": "boolean"
        },
        "partner": {
          "type": "string",
          "description": "Partner associated with this workload.",
          "enumDescriptions": [
            "Unknown Partner.",
            "Enum representing S3NS (Thales) partner.",
            "Enum representing T_SYSTEM (TSI) partner.",
            "Enum representing SIA_MINSAIT (Indra) partner.",
            "Enum representing PSN (TIM) partner.",
            "Enum representing CNTXT (Kingdom of Saudi Arabia) partner.",
            "Enum representing CNXT (Kingdom of Saudi Arabia) partner offering without EKM provisioning.",
            "Enum representing Telefonica (Spain) partner."
          ],
          "enum": [
            "PARTNER_UNSPECIFIED",
            "PARTNER_LOCAL_CONTROLS_BY_S3NS",
            "PARTNER_SOVEREIGN_CONTROLS_BY_T_SYSTEMS",
            "PARTNER_SOVEREIGN_CONTROLS_BY_SIA_MINSAIT",
            "PARTNER_SOVEREIGN_CONTROLS_BY_PSN",
            "PARTNER_SOVEREIGN_CONTROLS_BY_CNTXT",
            "PARTNER_SOVEREIGN_CONTROLS_BY_CNTXT_NO_EKM",
            "PARTNER_SPAIN_DATA_BOUNDARY_BY_TELEFONICA"
          ]
        },
        "name": {
          "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}`",
          "type": "string"
        },
        "folderId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Folder id this workload is associated with",
          "format": "int64"
        },
        "folder": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of container folder of the assured workload"
        },
        "keyManagementProjectId": {
          "description": "The project id of the key management project for the workload",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time the resource was created.",
          "format": "google-datetime"
        },
        "location": {
          "description": "The Google Cloud location of the workload",
          "type": "string"
        }
      },
      "description": "Contains metadata around the [Workload resource](https://cloud.google.com/assured-workloads/docs/reference/rest/Shared.Types/Workload) in the Assured Workloads API."
    }
  },
  "documentationLink": "https://cloud.google.com/sovereign-controls-by-partners/docs/sovereign-partners/reference/rest",
  "rootUrl": "https://cloudcontrolspartner.googleapis.com/",
  "parameters": {
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "canonicalName": "Cloud Controls Partner Service",
  "id": "cloudcontrolspartner:v1beta"
}