{
  "version": "v1",
  "discoveryVersion": "v1",
  "name": "cloudproductregistry",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "resources": {
    "productSuites": {
      "methods": {
        "lookupEntity": {
          "flatPath": "v1/productSuites/{productSuitesId}:lookupEntity",
          "id": "cloudproductregistry.productSuites.lookupEntity",
          "httpMethod": "GET",
          "parameters": {
            "lookupUri": {
              "description": "Required. Entity uri to look up. Supported Formats: logicalProducts/{logical_product} logicalProducts/{logical_product}/variants/{variant} productSuites/{product_suite}",
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^productSuites/[^/]+$"
            }
          },
          "parameterOrder": [
            "lookupUri"
          ],
          "description": "Look up entities.",
          "path": "v1/{+lookupUri}:lookupEntity",
          "response": {
            "$ref": "LookupEntityResponse"
          }
        },
        "list": {
          "httpMethod": "GET",
          "parameters": {
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "description": "Optional. The maximum number of suites to return. The service may return fewer than this value. If unspecified, at most 100 suites will be returned. The maximum value is 500; values above 500 will be coerced to 500.",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "Optional. A page token, received from a previous `ListProductSuites` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListProductSuites` must match the call that provided the page token.",
              "location": "query"
            }
          },
          "id": "cloudproductregistry.productSuites.list",
          "path": "v1/productSuites",
          "response": {
            "$ref": "ListProductSuitesResponse"
          },
          "parameterOrder": [],
          "description": "Lists ProductSuites.",
          "flatPath": "v1/productSuites"
        },
        "get": {
          "id": "cloudproductregistry.productSuites.get",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "pattern": "^productSuites/[^/]+$",
              "description": "Required. The name of the ProductSuite to retrieve. Format: productSuites/{product_suite}",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "description": "Get details of a ProductSuite.",
          "path": "v1/{+name}",
          "response": {
            "$ref": "ProductSuite"
          },
          "flatPath": "v1/productSuites/{productSuitesId}"
        }
      }
    },
    "logicalProducts": {
      "resources": {
        "variants": {
          "methods": {
            "get": {
              "flatPath": "v1/logicalProducts/{logicalProductsId}/variants/{variantsId}",
              "id": "cloudproductregistry.logicalProducts.variants.get",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "pattern": "^logicalProducts/[^/]+/variants/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the LogicalProductVariant to retrieve. Format: logicalProducts/{logical_product}/variants/{variant}",
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Get details of a LogicalProductVariant.",
              "path": "v1/{+name}",
              "response": {
                "$ref": "LogicalProductVariant"
              }
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists LogicalProductVariants matching given criteria.",
              "path": "v1/{+parent}/variants",
              "response": {
                "$ref": "ListLogicalProductVariantsResponse"
              },
              "id": "cloudproductregistry.logicalProducts.variants.list",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "description": "Required. Parent logical product id. Format: logicalProducts/{logical_product}",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^logicalProducts/[^/]+$"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. The maximum number of logical product variants to return. The service may return fewer than this value. If unspecified, at most 100 logical product variants will be returned. The maximum value is 500; values above 500 will be coerced to 500.",
                  "location": "query"
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListLogicalProductVariants` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListLogicalProductVariants` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                }
              },
              "flatPath": "v1/logicalProducts/{logicalProductsId}/variants"
            },
            "lookupEntity": {
              "path": "v1/{+lookupUri}:lookupEntity",
              "response": {
                "$ref": "LookupEntityResponse"
              },
              "parameterOrder": [
                "lookupUri"
              ],
              "description": "Look up entities.",
              "httpMethod": "GET",
              "parameters": {
                "lookupUri": {
                  "type": "string",
                  "required": true,
                  "description": "Required. Entity uri to look up. Supported Formats: logicalProducts/{logical_product} logicalProducts/{logical_product}/variants/{variant} productSuites/{product_suite}",
                  "location": "path",
                  "pattern": "^logicalProducts/[^/]+/variants/[^/]+$"
                }
              },
              "id": "cloudproductregistry.logicalProducts.variants.lookupEntity",
              "flatPath": "v1/logicalProducts/{logicalProductsId}/variants/{variantsId}:lookupEntity"
            }
          }
        }
      },
      "methods": {
        "list": {
          "flatPath": "v1/logicalProducts",
          "parameterOrder": [],
          "description": "Lists LogicalProducts matching given criteria.",
          "path": "v1/logicalProducts",
          "response": {
            "$ref": "ListLogicalProductsResponse"
          },
          "id": "cloudproductregistry.logicalProducts.list",
          "httpMethod": "GET",
          "parameters": {
            "pageSize": {
              "format": "int32",
              "type": "integer",
              "description": "Optional. The maximum number of logical products to return. The service may return fewer than this value. If unspecified, at most 100 logical products will be returned. The maximum value is 500; values above 500 will be coerced to 500.",
              "location": "query"
            },
            "pageToken": {
              "description": "Optional. A page token, received from a previous `ListLogicalProducts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListLogicalProducts` must match the call that provided the page token.",
              "location": "query",
              "type": "string"
            },
            "filter": {
              "type": "string",
              "description": "Optional. The filter expression for listing logical products. Filter syntax: https://google.aip.dev/160 Supported fields: suite_id",
              "location": "query"
            }
          }
        },
        "lookupEntity": {
          "flatPath": "v1/logicalProducts/{logicalProductsId}:lookupEntity",
          "id": "cloudproductregistry.logicalProducts.lookupEntity",
          "httpMethod": "GET",
          "parameters": {
            "lookupUri": {
              "pattern": "^logicalProducts/[^/]+$",
              "description": "Required. Entity uri to look up. Supported Formats: logicalProducts/{logical_product} logicalProducts/{logical_product}/variants/{variant} productSuites/{product_suite}",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "lookupUri"
          ],
          "description": "Look up entities.",
          "path": "v1/{+lookupUri}:lookupEntity",
          "response": {
            "$ref": "LookupEntityResponse"
          }
        },
        "get": {
          "id": "cloudproductregistry.logicalProducts.get",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "pattern": "^logicalProducts/[^/]+$",
              "description": "Required. The name of the LogicalProduct to retrieve. Format: logicalProducts/{logical_product}",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "description": "Gets details of a LogicalProduct.",
          "path": "v1/{+name}",
          "response": {
            "$ref": "LogicalProduct"
          },
          "flatPath": "v1/logicalProducts/{logicalProductsId}"
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "baseUrl": "https://cloudproductregistry.googleapis.com/",
  "id": "cloudproductregistry:v1",
  "schemas": {
    "ProductSuite": {
      "type": "object",
      "id": "ProductSuite",
      "properties": {
        "replaced": {
          "description": "Output only. Indicates whether the product suite has been replaced. If `false`, the product suite is active. If `true`, the product suite has been replaced by another type, and the `replacement` field contains the resource name of that replacement.",
          "readOnly": true,
          "type": "boolean"
        },
        "title": {
          "description": "Title of the ProductSuite.",
          "type": "string"
        },
        "logicalProducts": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. LogicalProducts under this suite. Format: logicalProducts/{logical_product}",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the ProductSuite. Format: productSuites/{product_suite}"
        },
        "replacement": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the Logical Entity that the product suite is replaced by. This field is only populated when this product suite is replaced by some other type. Eg: logicalProducts/{logical_product}, logicalProducts/{logical_product}/variants/{variant}, etc."
        }
      },
      "description": "Represents a unified grouping of products sharing a common brand and market positioning."
    },
    "ListLogicalProductsResponse": {
      "id": "ListLogicalProductsResponse",
      "type": "object",
      "description": "Response message for ListLogicalProducts.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "logicalProducts": {
          "type": "array",
          "description": "Matched LogicalProducts",
          "items": {
            "$ref": "LogicalProduct"
          }
        }
      }
    },
    "ListLogicalProductVariantsResponse": {
      "type": "object",
      "id": "ListLogicalProductVariantsResponse",
      "properties": {
        "logicalProductVariants": {
          "description": "Matched LogicalProductVariants",
          "items": {
            "$ref": "LogicalProductVariant"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for ListLogicalProductVariants."
    },
    "LogicalProduct": {
      "id": "LogicalProduct",
      "type": "object",
      "description": "Represents an independent service offering that can be provisioned by a customer.",
      "properties": {
        "replacement": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the Logical Entity that the logical product is replaced by. This field is only populated when this logical product is replaced by some other type. Eg: logicalProducts/{logical_product}/variants/{variant}, productSuites/{product_suite}, etc."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the LogicalProduct. Format: logicalProducts/{logical_product}."
        },
        "variants": {
          "description": "Output only. Child variant resource references. Format: logicalProducts/{logical_product}/variants/{variant}",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "productSuite": {
          "description": "Product suite associated with the logical product. Format: productSuites/{product_suite}.",
          "type": "string"
        },
        "replaced": {
          "description": "Output only. Indicates whether the logical product has been replaced. If `false`, the product is active. If `true`, the product has been replaced by another type, and the `replacement` field contains the resource name of that replacement.",
          "readOnly": true,
          "type": "boolean"
        },
        "title": {
          "description": "Display name of the LogicalProduct.",
          "type": "string"
        },
        "lifecycleState": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The default value. This value is used if the lifecycle state is not set.",
            "The entity is in Public Preview. It is available to all customers, but may not be feature-complete or have full support guarantees.",
            "The entity is in Private General Availability. It is fully supported and stable, but only available to a select group of customers.",
            "The entity is Generally Available. It is fully supported, stable, and available to all customers.",
            "The entity is deprecated. It is no longer recommended for use and may be removed in a future version."
          ],
          "description": "Output only. Current Lifecycle state of the logical product.",
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "LIFECYCLE_STATE_PUBLIC_PREVIEW",
            "LIFECYCLE_STATE_PRIVATE_GA",
            "LIFECYCLE_STATE_GA",
            "LIFECYCLE_STATE_DEPRECATED"
          ]
        }
      }
    },
    "LookupEntityResponse": {
      "description": "Response message for LookupEntity.",
      "properties": {
        "logicalProductVariant": {
          "description": "Matched LogicalProductVariant.",
          "$ref": "LogicalProductVariant"
        },
        "productSuite": {
          "description": "Matched ProductSuite.",
          "$ref": "ProductSuite"
        },
        "logicalProduct": {
          "description": "Matched LogicalProduct.",
          "$ref": "LogicalProduct"
        }
      },
      "id": "LookupEntityResponse",
      "type": "object"
    },
    "ListProductSuitesResponse": {
      "properties": {
        "productSuites": {
          "type": "array",
          "description": "Matched ProductSuites",
          "items": {
            "$ref": "ProductSuite"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "Response message for ListProductSuites.",
      "type": "object",
      "id": "ListProductSuitesResponse"
    },
    "LogicalProductVariant": {
      "description": "Represents a distinct offering derived from a primary product that retains core functionalities but offers specialized features for a specific market segment.",
      "properties": {
        "replacement": {
          "description": "Output only. The resource name of the Logical Entity that the logical product variant is replaced by. This field is only populated when this logical product variant is replaced by some other type. Eg: logicalProducts/{logical_product}, productSuites/{product_suite}, etc.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the LogicalProductVariant. Format: logicalProducts/{logical_product}/variants/{variant}",
          "type": "string"
        },
        "replaced": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates whether the logical product variant has been replaced. If `false`, the variant is active. If `true`, the variant has been replaced by another type, and the `replacement` field contains the resource name of that replacement."
        },
        "title": {
          "type": "string",
          "description": "Display name of the LogicalProductVariant."
        },
        "lifecycleState": {
          "description": "Output only. Current Lifecycle state of the logical product variant.",
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "LIFECYCLE_STATE_PUBLIC_PREVIEW",
            "LIFECYCLE_STATE_PRIVATE_GA",
            "LIFECYCLE_STATE_GA",
            "LIFECYCLE_STATE_DEPRECATED"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The default value. This value is used if the lifecycle state is not set.",
            "The entity is in Public Preview. It is available to all customers, but may not be feature-complete or have full support guarantees.",
            "The entity is in Private General Availability. It is fully supported and stable, but only available to a select group of customers.",
            "The entity is Generally Available. It is fully supported, stable, and available to all customers.",
            "The entity is deprecated. It is no longer recommended for use and may be removed in a future version."
          ]
        }
      },
      "id": "LogicalProductVariant",
      "type": "object"
    }
  },
  "canonicalName": "Cloud Product Registry",
  "rootUrl": "https://cloudproductregistry.googleapis.com/",
  "version_module": true,
  "mtlsRootUrl": "https://cloudproductregistry.mtls.googleapis.com/",
  "documentationLink": "https://docs.cloud.google.com/product-registry",
  "fullyEncodeReservedExpansion": true,
  "ownerName": "Google",
  "batchPath": "batch",
  "revision": "20260715",
  "servicePath": "",
  "basePath": "",
  "description": "cloudproductregistry.googleapis.com API.",
  "ownerDomain": "google.com",
  "title": "Cloud Product Registry API",
  "parameters": {
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  }
}