{
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "id": "cloudsearch:v1",
  "protocol": "rest",
  "batchPath": "batch",
  "rootUrl": "https://cloudsearch.googleapis.com/",
  "description": "Cloud Search provides cloud-based search capabilities over Google Workspace data. The Cloud Search API allows indexing of non-Google Workspace data into Cloud Search.",
  "documentationLink": "https://developers.google.com/workspace/cloud-search/docs/guides/",
  "discoveryVersion": "v1",
  "name": "cloudsearch",
  "version": "v1",
  "revision": "20260819",
  "mtlsRootUrl": "https://cloudsearch.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "canonicalName": "Cloud Search",
  "resources": {
    "query": {
      "resources": {
        "sources": {
          "methods": {
            "list": {
              "description": "Returns list of sources that user can use for Search and Suggest APIs. **Note:** This API requires a standard end user account to execute. A service account can't perform Query API requests directly; to use a service account to perform queries, set up [Google Workspace domain-wide delegation of authority](https://developers.google.com/workspace/cloud-search/docs/guides/delegation/).",
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.query"
              ],
              "parameters": {
                "pageToken": {
                  "description": "Number of sources to return in the response.",
                  "location": "query",
                  "type": "string"
                },
                "requestOptions.searchApplicationId": {
                  "type": "string",
                  "location": "query",
                  "description": "The ID generated when you create a search application using the [admin console](https://support.google.com/a/answer/9043922)."
                },
                "requestOptions.timeZone": {
                  "location": "query",
                  "type": "string",
                  "description": "Current user's time zone id, such as \"America/Los_Angeles\" or \"Australia/Sydney\". These IDs are defined by [Unicode Common Locale Data Repository (CLDR)](http://cldr.unicode.org/) project, and currently available in the file [timezone.xml](http://unicode.org/repos/cldr/trunk/common/bcp47/timezone.xml). This field is used to correctly interpret date and time queries. If this field is not specified, the default time zone (UTC) is used."
                },
                "requestOptions.languageCode": {
                  "location": "query",
                  "description": "The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier. For translations. Set this field using the language set in browser or for the page. In the event that the user's language preference is known, set this field to the known user language. When specified, the documents in search results are biased towards the specified language. The Suggest API uses this field as a hint to make better third-party autocomplete predictions.",
                  "type": "string"
                },
                "requestOptions.clientDisplayLanguageCode": {
                  "location": "query",
                  "type": "string",
                  "description": "The BCP-47 language code, such as \"pt\" or \"en\". It represents the user's preferred Display Language."
                },
                "requestOptions.countryCode": {
                  "location": "query",
                  "description": "Optional. Specifies the country/region where the query originated, as a lowercase ISO 3166-1 alpha-2 region code (using 'uk' instead of 'gb' for the United Kingdom).",
                  "type": "string"
                },
                "requestOptions.debugOptions.enableDebugging": {
                  "location": "query",
                  "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                  "type": "boolean"
                }
              },
              "parameterOrder": [],
              "id": "cloudsearch.query.sources.list",
              "httpMethod": "GET",
              "flatPath": "v1/query/sources",
              "path": "v1/query/sources",
              "response": {
                "$ref": "ListQuerySourcesResponse"
              }
            }
          }
        }
      },
      "methods": {
        "search": {
          "id": "cloudsearch.query.search",
          "parameterOrder": [],
          "parameters": {},
          "flatPath": "v1/query/search",
          "path": "v1/query/search",
          "description": "The Cloud Search Query API provides the search method, which returns the most relevant results from a user query. The results can come from Google Workspace apps, such as Gmail or Google Drive, or they can come from data that you have indexed from a third party. **Note:** This API requires a standard end user account to execute. A service account can't perform Query API requests directly; to use a service account to perform queries, set up [Google Workspace domain-wide delegation of authority](https://developers.google.com/workspace/cloud-search/docs/guides/delegation/).",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.query"
          ],
          "response": {
            "$ref": "SearchResponse"
          },
          "request": {
            "$ref": "SearchRequest"
          }
        },
        "removeActivity": {
          "path": "v1/query:removeActivity",
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.query"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "RemoveActivityResponse"
          },
          "flatPath": "v1/query:removeActivity",
          "parameters": {},
          "parameterOrder": [],
          "request": {
            "$ref": "RemoveActivityRequest"
          },
          "id": "cloudsearch.query.removeActivity",
          "description": "Provides functionality to remove logged activity for a user. Currently to be used only for Chat 1p clients **Note:** This API requires a standard end user account to execute. A service account can't perform Remove Activity requests directly; to use a service account to perform queries, set up [Google Workspace domain-wide delegation of authority](https://developers.google.com/workspace/cloud-search/docs/guides/delegation/)."
        },
        "suggest": {
          "response": {
            "$ref": "SuggestResponse"
          },
          "request": {
            "$ref": "SuggestRequest"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.query"
          ],
          "description": "Provides suggestions for autocompleting the query. **Note:** This API requires a standard end user account to execute. A service account can't perform Query API requests directly; to use a service account to perform queries, set up [Google Workspace domain-wide delegation of authority](https://developers.google.com/workspace/cloud-search/docs/guides/delegation/).",
          "parameterOrder": [],
          "id": "cloudsearch.query.suggest",
          "flatPath": "v1/query/suggest",
          "path": "v1/query/suggest",
          "parameters": {}
        }
      }
    },
    "stats": {
      "methods": {
        "getSession": {
          "httpMethod": "GET",
          "parameterOrder": [],
          "description": "Get the # of search sessions, % of successful sessions with a click query statistics for customer. **Note:** This API requires a standard end user account to execute.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.stats",
            "https://www.googleapis.com/auth/cloud_search.stats.indexing"
          ],
          "response": {
            "$ref": "GetCustomerSessionStatsResponse"
          },
          "path": "v1/stats/session",
          "parameters": {
            "fromDate.month": {
              "description": "Month of date. Must be from 1 to 12.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "fromDate.year": {
              "location": "query",
              "type": "integer",
              "description": "Year of date. Must be from 1 to 9999.",
              "format": "int32"
            },
            "toDate.year": {
              "location": "query",
              "description": "Year of date. Must be from 1 to 9999.",
              "format": "int32",
              "type": "integer"
            },
            "toDate.day": {
              "format": "int32",
              "location": "query",
              "type": "integer",
              "description": "Day of month. Must be from 1 to 31 and valid for the year and month."
            },
            "toDate.month": {
              "type": "integer",
              "location": "query",
              "description": "Month of date. Must be from 1 to 12.",
              "format": "int32"
            },
            "fromDate.day": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Day of month. Must be from 1 to 31 and valid for the year and month."
            }
          },
          "id": "cloudsearch.stats.getSession",
          "flatPath": "v1/stats/session"
        },
        "getIndex": {
          "id": "cloudsearch.stats.getIndex",
          "parameterOrder": [],
          "parameters": {
            "fromDate.month": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "Month of date. Must be from 1 to 12."
            },
            "toDate.day": {
              "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "fromDate.day": {
              "location": "query",
              "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
              "type": "integer",
              "format": "int32"
            },
            "toDate.month": {
              "description": "Month of date. Must be from 1 to 12.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "fromDate.year": {
              "format": "int32",
              "location": "query",
              "type": "integer",
              "description": "Year of date. Must be from 1 to 9999."
            },
            "toDate.year": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "Year of date. Must be from 1 to 9999."
            }
          },
          "description": "Gets indexed item statistics aggreggated across all data sources. This API only returns statistics for previous dates; it doesn't return statistics for the current day. **Note:** This API requires a standard end user account to execute.",
          "flatPath": "v1/stats/index",
          "response": {
            "$ref": "GetCustomerIndexStatsResponse"
          },
          "path": "v1/stats/index",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.stats",
            "https://www.googleapis.com/auth/cloud_search.stats.indexing"
          ]
        },
        "getUser": {
          "description": "Get the users statistics for customer. **Note:** This API requires a standard end user account to execute.",
          "httpMethod": "GET",
          "path": "v1/stats/user",
          "parameterOrder": [],
          "flatPath": "v1/stats/user",
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.stats",
            "https://www.googleapis.com/auth/cloud_search.stats.indexing"
          ],
          "response": {
            "$ref": "GetCustomerUserStatsResponse"
          },
          "parameters": {
            "toDate.day": {
              "location": "query",
              "type": "integer",
              "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
              "format": "int32"
            },
            "toDate.year": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Year of date. Must be from 1 to 9999."
            },
            "fromDate.month": {
              "type": "integer",
              "location": "query",
              "description": "Month of date. Must be from 1 to 12.",
              "format": "int32"
            },
            "toDate.month": {
              "type": "integer",
              "location": "query",
              "description": "Month of date. Must be from 1 to 12.",
              "format": "int32"
            },
            "fromDate.year": {
              "location": "query",
              "format": "int32",
              "description": "Year of date. Must be from 1 to 9999.",
              "type": "integer"
            },
            "fromDate.day": {
              "type": "integer",
              "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
              "location": "query",
              "format": "int32"
            }
          },
          "id": "cloudsearch.stats.getUser"
        },
        "getSearchapplication": {
          "description": "Get search application stats for customer. **Note:** This API requires a standard end user account to execute.",
          "id": "cloudsearch.stats.getSearchapplication",
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.stats",
            "https://www.googleapis.com/auth/cloud_search.stats.indexing"
          ],
          "parameters": {
            "startDate.day": {
              "type": "integer",
              "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
              "format": "int32",
              "location": "query"
            },
            "endDate.month": {
              "format": "int32",
              "type": "integer",
              "description": "Month of date. Must be from 1 to 12.",
              "location": "query"
            },
            "endDate.year": {
              "format": "int32",
              "type": "integer",
              "description": "Year of date. Must be from 1 to 9999.",
              "location": "query"
            },
            "endDate.day": {
              "format": "int32",
              "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
              "type": "integer",
              "location": "query"
            },
            "startDate.month": {
              "description": "Month of date. Must be from 1 to 12.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "startDate.year": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "Year of date. Must be from 1 to 9999."
            }
          },
          "parameterOrder": [],
          "response": {
            "$ref": "GetCustomerSearchApplicationStatsResponse"
          },
          "httpMethod": "GET",
          "path": "v1/stats/searchapplication",
          "flatPath": "v1/stats/searchapplication"
        },
        "getQuery": {
          "id": "cloudsearch.stats.getQuery",
          "path": "v1/stats/query",
          "response": {
            "$ref": "GetCustomerQueryStatsResponse"
          },
          "flatPath": "v1/stats/query",
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.stats",
            "https://www.googleapis.com/auth/cloud_search.stats.indexing"
          ],
          "parameters": {
            "toDate.year": {
              "type": "integer",
              "description": "Year of date. Must be from 1 to 9999.",
              "format": "int32",
              "location": "query"
            },
            "fromDate.day": {
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "Day of month. Must be from 1 to 31 and valid for the year and month."
            },
            "fromDate.year": {
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "Year of date. Must be from 1 to 9999."
            },
            "toDate.month": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "Month of date. Must be from 1 to 12."
            },
            "toDate.day": {
              "type": "integer",
              "location": "query",
              "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
              "format": "int32"
            },
            "fromDate.month": {
              "format": "int32",
              "type": "integer",
              "description": "Month of date. Must be from 1 to 12.",
              "location": "query"
            }
          },
          "description": "Get the query statistics for customer. **Note:** This API requires a standard end user account to execute.",
          "parameterOrder": [],
          "httpMethod": "GET"
        }
      },
      "resources": {
        "index": {
          "resources": {
            "datasources": {
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.stats",
                    "https://www.googleapis.com/auth/cloud_search.stats.indexing"
                  ],
                  "parameters": {
                    "fromDate.day": {
                      "location": "query",
                      "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "toDate.month": {
                      "location": "query",
                      "format": "int32",
                      "description": "Month of date. Must be from 1 to 12.",
                      "type": "integer"
                    },
                    "name": {
                      "pattern": "^datasources/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "The resource id of the data source to retrieve statistics for, in the following format: \"datasources/{source_id}\"",
                      "location": "path"
                    },
                    "fromDate.month": {
                      "format": "int32",
                      "description": "Month of date. Must be from 1 to 12.",
                      "type": "integer",
                      "location": "query"
                    },
                    "toDate.day": {
                      "type": "integer",
                      "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
                      "format": "int32",
                      "location": "query"
                    },
                    "toDate.year": {
                      "type": "integer",
                      "description": "Year of date. Must be from 1 to 9999.",
                      "location": "query",
                      "format": "int32"
                    },
                    "fromDate.year": {
                      "description": "Year of date. Must be from 1 to 9999.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "id": "cloudsearch.stats.index.datasources.get",
                  "response": {
                    "$ref": "GetDataSourceIndexStatsResponse"
                  },
                  "description": "Gets indexed item statistics for a single data source. **Note:** This API requires a standard end user account to execute.",
                  "path": "v1/stats/index/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/stats/index/datasources/{datasourcesId}",
                  "httpMethod": "GET"
                }
              }
            }
          }
        },
        "session": {
          "resources": {
            "searchapplications": {
              "methods": {
                "get": {
                  "parameters": {
                    "toDate.month": {
                      "location": "query",
                      "type": "integer",
                      "description": "Month of date. Must be from 1 to 12.",
                      "format": "int32"
                    },
                    "fromDate.day": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "Day of month. Must be from 1 to 31 and valid for the year and month."
                    },
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The resource id of the search application session stats, in the following format: searchapplications/{application_id}",
                      "pattern": "^searchapplications/[^/]+$"
                    },
                    "fromDate.month": {
                      "location": "query",
                      "type": "integer",
                      "description": "Month of date. Must be from 1 to 12.",
                      "format": "int32"
                    },
                    "toDate.day": {
                      "location": "query",
                      "format": "int32",
                      "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
                      "type": "integer"
                    },
                    "fromDate.year": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Year of date. Must be from 1 to 9999.",
                      "location": "query"
                    },
                    "toDate.year": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "Year of date. Must be from 1 to 9999."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.stats",
                    "https://www.googleapis.com/auth/cloud_search.stats.indexing"
                  ],
                  "description": "Get the # of search sessions, % of successful sessions with a click query statistics for search application. **Note:** This API requires a standard end user account to execute.",
                  "id": "cloudsearch.stats.session.searchapplications.get",
                  "path": "v1/stats/session/{+name}",
                  "flatPath": "v1/stats/session/searchapplications/{searchapplicationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GetSearchApplicationSessionStatsResponse"
                  }
                }
              }
            }
          }
        },
        "query": {
          "resources": {
            "searchapplications": {
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.stats",
                    "https://www.googleapis.com/auth/cloud_search.stats.indexing"
                  ],
                  "httpMethod": "GET",
                  "path": "v1/stats/query/{+name}",
                  "id": "cloudsearch.stats.query.searchapplications.get",
                  "description": "Get the query statistics for search application. **Note:** This API requires a standard end user account to execute.",
                  "parameters": {
                    "fromDate.month": {
                      "format": "int32",
                      "description": "Month of date. Must be from 1 to 12.",
                      "location": "query",
                      "type": "integer"
                    },
                    "toDate.day": {
                      "type": "integer",
                      "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
                      "location": "query",
                      "format": "int32"
                    },
                    "name": {
                      "required": true,
                      "description": "The resource id of the search application query stats, in the following format: searchapplications/{application_id}",
                      "location": "path",
                      "pattern": "^searchapplications/[^/]+$",
                      "type": "string"
                    },
                    "toDate.month": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Month of date. Must be from 1 to 12.",
                      "location": "query"
                    },
                    "fromDate.day": {
                      "type": "integer",
                      "location": "query",
                      "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
                      "format": "int32"
                    },
                    "fromDate.year": {
                      "description": "Year of date. Must be from 1 to 9999.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "toDate.year": {
                      "type": "integer",
                      "description": "Year of date. Must be from 1 to 9999.",
                      "format": "int32",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/stats/query/searchapplications/{searchapplicationsId}",
                  "response": {
                    "$ref": "GetSearchApplicationQueryStatsResponse"
                  }
                }
              }
            }
          }
        },
        "user": {
          "resources": {
            "searchapplications": {
              "methods": {
                "get": {
                  "response": {
                    "$ref": "GetSearchApplicationUserStatsResponse"
                  },
                  "description": "Get the users statistics for search application. **Note:** This API requires a standard end user account to execute.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.stats",
                    "https://www.googleapis.com/auth/cloud_search.stats.indexing"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "toDate.day": {
                      "type": "integer",
                      "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
                      "location": "query",
                      "format": "int32"
                    },
                    "fromDate.year": {
                      "description": "Year of date. Must be from 1 to 9999.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "toDate.year": {
                      "description": "Year of date. Must be from 1 to 9999.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "fromDate.day": {
                      "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "fromDate.month": {
                      "type": "integer",
                      "description": "Month of date. Must be from 1 to 12.",
                      "format": "int32",
                      "location": "query"
                    },
                    "toDate.month": {
                      "type": "integer",
                      "location": "query",
                      "description": "Month of date. Must be from 1 to 12.",
                      "format": "int32"
                    },
                    "name": {
                      "pattern": "^searchapplications/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "The resource id of the search application session stats, in the following format: searchapplications/{application_id}",
                      "location": "path"
                    }
                  },
                  "id": "cloudsearch.stats.user.searchapplications.get",
                  "flatPath": "v1/stats/user/searchapplications/{searchapplicationsId}",
                  "httpMethod": "GET",
                  "path": "v1/stats/user/{+name}"
                }
              }
            }
          }
        }
      }
    },
    "settings": {
      "resources": {
        "searchapplications": {
          "methods": {
            "create": {
              "path": "v1/settings/searchapplications",
              "request": {
                "$ref": "SearchApplication"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.query"
              ],
              "httpMethod": "POST",
              "parameters": {},
              "response": {
                "$ref": "Operation"
              },
              "description": "Creates a search application. **Note:** This API requires an admin account to execute.",
              "id": "cloudsearch.settings.searchapplications.create",
              "parameterOrder": [],
              "flatPath": "v1/settings/searchapplications"
            },
            "update": {
              "flatPath": "v1/settings/searchapplications/{searchapplicationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.query"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "The name of the Search Application. Format: searchapplications/{application_id}.",
                  "location": "path",
                  "pattern": "^searchapplications/[^/]+$",
                  "required": true
                },
                "updateMask": {
                  "location": "query",
                  "description": "Only applies to [`settings.searchapplications.patch`](https://developers.google.com/workspace/cloud-search/docs/reference/rest/v1/settings.searchapplications/patch). Update mask to control which fields to update. Example field paths: `search_application.name`, `search_application.displayName`. * If `update_mask` is non-empty, then only the fields specified in the `update_mask` are updated. * If you specify a field in the `update_mask`, but don't specify its value in the `search_application`, then that field is cleared. * If the `update_mask` is not present or empty or has the value `*`, then all fields are updated.",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "response": {
                "$ref": "Operation"
              },
              "path": "v1/settings/{+name}",
              "id": "cloudsearch.settings.searchapplications.update",
              "httpMethod": "PUT",
              "request": {
                "$ref": "SearchApplication"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Updates a search application. **Note:** This API requires an admin account to execute."
            },
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.query"
              ],
              "description": "Updates a search application. **Note:** This API requires an admin account to execute.",
              "httpMethod": "PATCH",
              "id": "cloudsearch.settings.searchapplications.patch",
              "response": {
                "$ref": "Operation"
              },
              "flatPath": "v1/settings/searchapplications/{searchapplicationsId}",
              "path": "v1/settings/{+name}",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^searchapplications/[^/]+$",
                  "description": "The name of the Search Application. Format: searchapplications/{application_id}.",
                  "required": true
                },
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string",
                  "description": "Only applies to [`settings.searchapplications.patch`](https://developers.google.com/workspace/cloud-search/docs/reference/rest/v1/settings.searchapplications/patch). Update mask to control which fields to update. Example field paths: `search_application.name`, `search_application.displayName`. * If `update_mask` is non-empty, then only the fields specified in the `update_mask` are updated. * If you specify a field in the `update_mask`, but don't specify its value in the `search_application`, then that field is cleared. * If the `update_mask` is not present or empty or has the value `*`, then all fields are updated."
                }
              },
              "request": {
                "$ref": "SearchApplication"
              }
            },
            "reset": {
              "request": {
                "$ref": "ResetSearchApplicationRequest"
              },
              "id": "cloudsearch.settings.searchapplications.reset",
              "parameters": {
                "name": {
                  "pattern": "^searchapplications/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "The name of the search application to be reset. Format: applications/{application_id}.",
                  "location": "path"
                }
              },
              "path": "v1/settings/{+name}:reset",
              "description": "Resets a search application to default settings. This will return an empty response. **Note:** This API requires an admin account to execute.",
              "flatPath": "v1/settings/searchapplications/{searchapplicationsId}:reset",
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.query"
              ],
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "Operation"
              }
            },
            "list": {
              "parameterOrder": [],
              "response": {
                "$ref": "ListSearchApplicationsResponse"
              },
              "flatPath": "v1/settings/searchapplications",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of items to return."
                },
                "debugOptions.enableDebugging": {
                  "type": "boolean",
                  "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                  "location": "query"
                },
                "pageToken": {
                  "description": "The next_page_token value returned from a previous List request, if any. The default value is 10",
                  "type": "string",
                  "location": "query"
                }
              },
              "description": "Lists all search applications. **Note:** This API requires an admin account to execute.",
              "id": "cloudsearch.settings.searchapplications.list",
              "path": "v1/settings/searchapplications",
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.query"
              ],
              "httpMethod": "GET"
            },
            "get": {
              "description": "Gets the specified search application. **Note:** This API requires an admin account to execute.",
              "flatPath": "v1/settings/searchapplications/{searchapplicationsId}",
              "path": "v1/settings/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The name of the search application. Format: searchapplications/{application_id}.",
                  "pattern": "^searchapplications/[^/]+$"
                },
                "debugOptions.enableDebugging": {
                  "type": "boolean",
                  "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                  "location": "query"
                }
              },
              "id": "cloudsearch.settings.searchapplications.get",
              "response": {
                "$ref": "SearchApplication"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.query"
              ],
              "httpMethod": "GET"
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.query"
              ],
              "httpMethod": "DELETE",
              "id": "cloudsearch.settings.searchapplications.delete",
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes a search application. **Note:** This API requires an admin account to execute.",
              "flatPath": "v1/settings/searchapplications/{searchapplicationsId}",
              "path": "v1/settings/{+name}",
              "response": {
                "$ref": "Operation"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "The name of the search application to be deleted. Format: applications/{application_id}.",
                  "pattern": "^searchapplications/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "debugOptions.enableDebugging": {
                  "location": "query",
                  "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                  "type": "boolean"
                }
              }
            }
          }
        },
        "datasources": {
          "methods": {
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^datasources/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The name of the datasource. Format: datasources/{source_id}."
                },
                "debugOptions.enableDebugging": {
                  "type": "boolean",
                  "location": "query",
                  "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.indexing"
              ],
              "id": "cloudsearch.settings.datasources.delete",
              "response": {
                "$ref": "Operation"
              },
              "description": "Deletes a datasource. **Note:** This API requires an admin account to execute.",
              "flatPath": "v1/settings/datasources/{datasourcesId}",
              "httpMethod": "DELETE",
              "path": "v1/settings/{+name}"
            },
            "get": {
              "response": {
                "$ref": "DataSource"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/settings/datasources/{datasourcesId}",
              "path": "v1/settings/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.indexing"
              ],
              "description": "Gets a datasource. **Note:** This API requires an admin account to execute.",
              "id": "cloudsearch.settings.datasources.get",
              "parameters": {
                "name": {
                  "pattern": "^datasources/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "The name of the datasource resource. Format: datasources/{source_id}.",
                  "location": "path"
                },
                "debugOptions.enableDebugging": {
                  "type": "boolean",
                  "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                  "location": "query"
                }
              }
            },
            "update": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.indexing"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "The name of the datasource resource. Format: datasources/{source_id}. The name is ignored when creating a datasource.",
                  "required": true,
                  "pattern": "^datasources/[^/]+$",
                  "type": "string"
                }
              },
              "path": "v1/settings/{+name}",
              "id": "cloudsearch.settings.datasources.update",
              "response": {
                "$ref": "Operation"
              },
              "description": "Updates a datasource. **Note:** This API requires an admin account to execute.",
              "request": {
                "$ref": "UpdateDataSourceRequest"
              },
              "flatPath": "v1/settings/datasources/{datasourcesId}",
              "httpMethod": "PUT"
            },
            "list": {
              "httpMethod": "GET",
              "id": "cloudsearch.settings.datasources.list",
              "description": "Lists datasources. **Note:** This API requires an admin account to execute.",
              "flatPath": "v1/settings/datasources",
              "parameterOrder": [],
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "description": "Maximum number of datasources to fetch in a request. The max value is 1000. The default value is 1000.",
                  "type": "integer",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Starting index of the results.",
                  "type": "string"
                },
                "debugOptions.enableDebugging": {
                  "location": "query",
                  "type": "boolean",
                  "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field."
                }
              },
              "path": "v1/settings/datasources",
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.indexing"
              ],
              "response": {
                "$ref": "ListDataSourceResponse"
              }
            },
            "create": {
              "flatPath": "v1/settings/datasources",
              "path": "v1/settings/datasources",
              "id": "cloudsearch.settings.datasources.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.indexing"
              ],
              "httpMethod": "POST",
              "parameterOrder": [],
              "response": {
                "$ref": "Operation"
              },
              "request": {
                "$ref": "DataSource"
              },
              "parameters": {},
              "description": "Creates a datasource. **Note:** This API requires an admin account to execute."
            },
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "id": "cloudsearch.settings.datasources.patch",
              "httpMethod": "PATCH",
              "request": {
                "$ref": "DataSource"
              },
              "path": "v1/settings/{+name}",
              "response": {
                "$ref": "Operation"
              },
              "parameters": {
                "name": {
                  "pattern": "^datasources/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "The name of the datasource resource. Format: datasources/{source_id}. The name is ignored when creating a datasource.",
                  "location": "path"
                },
                "debugOptions.enableDebugging": {
                  "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                  "type": "boolean",
                  "location": "query"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "type": "string",
                  "description": "Only applies to [`settings.datasources.patch`](https://developers.google.com/workspace/cloud-search/docs/reference/rest/v1/settings.datasources/patch). Update mask to control which fields to update. Example field paths: `name`, `displayName`. * If `update_mask` is non-empty, then only the fields specified in the `update_mask` are updated. * If you specify a field in the `update_mask`, but don't specify its value in the source, that field is cleared. * If the `update_mask` is not present or empty or has the value `*`, then all fields are updated.",
                  "location": "query"
                }
              },
              "flatPath": "v1/settings/datasources/{datasourcesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.indexing"
              ],
              "description": "Updates a datasource. **Note:** This API requires an admin account to execute."
            }
          }
        }
      },
      "methods": {
        "getCustomer": {
          "path": "v1/settings/customer",
          "flatPath": "v1/settings/customer",
          "httpMethod": "GET",
          "response": {
            "$ref": "CustomerSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.settings",
            "https://www.googleapis.com/auth/cloud_search.settings.indexing"
          ],
          "description": "Get customer settings. **Note:** This API requires an admin account to execute.",
          "parameterOrder": [],
          "parameters": {},
          "id": "cloudsearch.settings.getCustomer"
        },
        "updateCustomer": {
          "description": "Update customer settings. **Note:** This API requires an admin account to execute.",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "CustomerSettings"
          },
          "parameters": {
            "updateMask": {
              "format": "google-fieldmask",
              "type": "string",
              "description": "Update mask to control which fields get updated. If you specify a field in the update_mask but don't specify its value here, that field will be cleared. If the mask is not present or empty, all fields will be updated. Currently supported field paths: vpc_settings and audit_logging_settings",
              "location": "query"
            }
          },
          "id": "cloudsearch.settings.updateCustomer",
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.settings",
            "https://www.googleapis.com/auth/cloud_search.settings.indexing"
          ],
          "path": "v1/settings/customer",
          "flatPath": "v1/settings/customer",
          "parameterOrder": []
        }
      }
    },
    "v1": {
      "methods": {
        "initializeCustomer": {
          "parameters": {},
          "path": "v1:initializeCustomer",
          "parameterOrder": [],
          "request": {
            "$ref": "InitializeCustomerRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.settings",
            "https://www.googleapis.com/auth/cloud_search.settings.indexing"
          ],
          "id": "cloudsearch.initializeCustomer",
          "flatPath": "v1:initializeCustomer",
          "httpMethod": "POST",
          "description": "Enables `third party` support in Google Cloud Search. **Note:** This API requires an admin account to execute.",
          "response": {
            "$ref": "Operation"
          }
        }
      }
    },
    "debug": {
      "resources": {
        "datasources": {
          "resources": {
            "items": {
              "methods": {
                "checkAccess": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Item name, format: datasources/{source_id}/items/{item_id}",
                      "location": "path",
                      "pattern": "^datasources/[^/]+/items/[^/]+$"
                    },
                    "debugOptions.enableDebugging": {
                      "type": "boolean",
                      "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                      "location": "query"
                    }
                  },
                  "path": "v1/debug/{+name}:checkAccess",
                  "id": "cloudsearch.debug.datasources.items.checkAccess",
                  "description": "Checks whether an item is accessible by specified principal. Principal must be a user; groups and domain values aren't supported. **Note:** This API requires an admin account to execute.",
                  "flatPath": "v1/debug/datasources/{datasourcesId}/items/{itemsId}:checkAccess",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.debug"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "Principal"
                  },
                  "response": {
                    "$ref": "CheckAccessResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "searchByViewUrl": {
                  "response": {
                    "$ref": "SearchItemsByViewUrlResponse"
                  },
                  "id": "cloudsearch.debug.datasources.items.searchByViewUrl",
                  "parameters": {
                    "name": {
                      "description": "Source name, format: datasources/{source_id}",
                      "pattern": "^datasources/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.debug"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/debug/{+name}/items:searchByViewUrl",
                  "flatPath": "v1/debug/datasources/{datasourcesId}/items:searchByViewUrl",
                  "request": {
                    "$ref": "SearchItemsByViewUrlRequest"
                  },
                  "httpMethod": "POST",
                  "description": "Fetches the item whose viewUrl exactly matches that of the URL provided in the request. **Note:** This API requires an admin account to execute."
                }
              },
              "resources": {
                "unmappedids": {
                  "methods": {
                    "list": {
                      "description": "List all unmapped identities for a specific item. **Note:** This API requires an admin account to execute.",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud_search",
                        "https://www.googleapis.com/auth/cloud_search.debug"
                      ],
                      "flatPath": "v1/debug/datasources/{datasourcesId}/items/{itemsId}/unmappedids",
                      "id": "cloudsearch.debug.datasources.items.unmappedids.list",
                      "path": "v1/debug/{+parent}/unmappedids",
                      "parameters": {
                        "debugOptions.enableDebugging": {
                          "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                          "location": "query",
                          "type": "boolean"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "The next_page_token value returned from a previous List request, if any.",
                          "type": "string"
                        },
                        "parent": {
                          "required": true,
                          "type": "string",
                          "pattern": "^datasources/[^/]+/items/[^/]+$",
                          "description": "The name of the item, in the following format: datasources/{source_id}/items/{ID}",
                          "location": "path"
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "Maximum number of items to fetch in a request. Defaults to 100.",
                          "format": "int32",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListUnmappedIdentitiesResponse"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "identitysources": {
          "resources": {
            "items": {
              "methods": {
                "listForunmappedidentity": {
                  "path": "v1/debug/{+parent}/items:forunmappedidentity",
                  "id": "cloudsearch.debug.identitysources.items.listForunmappedidentity",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "description": "Maximum number of items to fetch in a request. Defaults to 100.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "debugOptions.enableDebugging": {
                      "type": "boolean",
                      "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                      "location": "query"
                    },
                    "groupResourceName": {
                      "type": "string",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "location": "query"
                    },
                    "userResourceName": {
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^identitysources/[^/]+$",
                      "description": "The name of the identity source, in the following format: identitysources/{source_id}}",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.debug"
                  ],
                  "flatPath": "v1/debug/identitysources/{identitysourcesId}/items:forunmappedidentity",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListItemNamesForUnmappedIdentityResponse"
                  },
                  "description": "Lists names of items associated with an unmapped identity. **Note:** This API requires an admin account to execute."
                }
              }
            },
            "unmappedids": {
              "methods": {
                "list": {
                  "flatPath": "v1/debug/identitysources/{identitysourcesId}/unmappedids",
                  "httpMethod": "GET",
                  "description": "Lists unmapped user identities for an identity source. **Note:** This API requires an admin account to execute.",
                  "response": {
                    "$ref": "ListUnmappedIdentitiesResponse"
                  },
                  "id": "cloudsearch.debug.identitysources.unmappedids.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/debug/{+parent}/unmappedids",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.debug"
                  ],
                  "parameters": {
                    "debugOptions.enableDebugging": {
                      "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "description": "The name of the identity source, in the following format: identitysources/{source_id}",
                      "required": true,
                      "pattern": "^identitysources/[^/]+$"
                    },
                    "resolutionStatusCode": {
                      "enum": [
                        "CODE_UNSPECIFIED",
                        "NOT_FOUND",
                        "IDENTITY_SOURCE_NOT_FOUND",
                        "IDENTITY_SOURCE_MISCONFIGURED",
                        "TOO_MANY_MAPPINGS_FOUND",
                        "INTERNAL_ERROR"
                      ],
                      "enumDescriptions": [
                        "Input-only value. Used to list all unmapped identities regardless of status.",
                        "The unmapped identity was not found in IDaaS, and needs to be provided by the user.",
                        "The identity source associated with the identity was either not found or deleted.",
                        "IDaaS does not understand the identity source, probably because the schema was modified in a non compatible way.",
                        "The number of users associated with the external identity is too large.",
                        "Internal error."
                      ],
                      "location": "query",
                      "type": "string",
                      "description": "Limit users selection to this status."
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Maximum number of items to fetch in a request. Defaults to 100.",
                      "location": "query",
                      "format": "int32"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "operations": {
      "resources": {
        "lro": {
          "methods": {
            "list": {
              "id": "cloudsearch.operations.lro.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.debug",
                "https://www.googleapis.com/auth/cloud_search.indexing",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.indexing",
                "https://www.googleapis.com/auth/cloud_search.settings.query"
              ],
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}/lro",
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "The standard list page size."
                },
                "name": {
                  "location": "path",
                  "description": "The name of the operation's parent resource.",
                  "pattern": "^operations/.*$",
                  "type": "string",
                  "required": true
                },
                "pageToken": {
                  "type": "string",
                  "description": "The standard list page token.",
                  "location": "query"
                },
                "filter": {
                  "description": "The standard list filter.",
                  "type": "string",
                  "location": "query"
                },
                "returnPartialSuccess": {
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                  "type": "boolean",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "ListOperationsResponse"
              },
              "httpMethod": "GET",
              "flatPath": "v1/operations/{operationsId}/lro"
            }
          }
        }
      },
      "methods": {
        "get": {
          "flatPath": "v1/operations/{operationsId}",
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
          "parameters": {
            "name": {
              "description": "The name of the operation resource.",
              "location": "path",
              "type": "string",
              "pattern": "^operations/.*$",
              "required": true
            }
          },
          "parameterOrder": [
            "name"
          ],
          "path": "v1/{+name}",
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "GET",
          "id": "cloudsearch.operations.get",
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.debug",
            "https://www.googleapis.com/auth/cloud_search.indexing",
            "https://www.googleapis.com/auth/cloud_search.settings",
            "https://www.googleapis.com/auth/cloud_search.settings.indexing",
            "https://www.googleapis.com/auth/cloud_search.settings.query"
          ]
        }
      }
    },
    "media": {
      "methods": {
        "upload": {
          "description": "Uploads media for indexing. The upload endpoint supports direct and resumable upload protocols and is intended for large items that can not be [inlined during index requests](https://developers.google.com/workspace/cloud-search/docs/reference/rest/v1/indexing.datasources.items#itemcontent). To index large content: 1. Call indexing.datasources.items.upload with the item name to begin an upload session and retrieve the UploadItemRef. 1. Call media.upload to upload the content, as a streaming request, using the same resource name from the UploadItemRef from step 1. 1. Call indexing.datasources.items.index to index the item. Populate the [ItemContent](/cloud-search/docs/reference/rest/v1/indexing.datasources.items#ItemContent) with the UploadItemRef from step 1. For additional information, see [Create a content connector using the REST API](https://developers.google.com/workspace/cloud-search/docs/guides/content-connector#rest). **Note:** This API requires a service account to execute.",
          "response": {
            "$ref": "Media"
          },
          "parameters": {
            "resourceName": {
              "required": true,
              "description": "Name of the media that is being downloaded. See ReadRequest.resource_name.",
              "location": "path",
              "type": "string",
              "pattern": "^.*$"
            }
          },
          "flatPath": "v1/media/{mediaId}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.indexing"
          ],
          "request": {
            "$ref": "Media"
          },
          "path": "v1/media/{+resourceName}",
          "supportsMediaUpload": true,
          "mediaUpload": {
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/v1/media/{+resourceName}"
              }
            },
            "accept": [
              "*/*"
            ]
          },
          "parameterOrder": [
            "resourceName"
          ],
          "id": "cloudsearch.media.upload",
          "httpMethod": "POST"
        }
      }
    },
    "indexing": {
      "resources": {
        "datasources": {
          "methods": {
            "getSchema": {
              "response": {
                "$ref": "Schema"
              },
              "id": "cloudsearch.indexing.datasources.getSchema",
              "httpMethod": "GET",
              "flatPath": "v1/indexing/datasources/{datasourcesId}/schema",
              "path": "v1/indexing/{+name}/schema",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "debugOptions.enableDebugging": {
                  "type": "boolean",
                  "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                  "location": "query"
                },
                "name": {
                  "description": "The name of the data source to get Schema. Format: datasources/{source_id}",
                  "location": "path",
                  "type": "string",
                  "pattern": "^datasources/[^/]+$",
                  "required": true
                }
              },
              "description": "Gets the schema of a data source. **Note:** This API requires an admin or service account to execute.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.indexing"
              ]
            },
            "updateSchema": {
              "path": "v1/indexing/{+name}/schema",
              "request": {
                "$ref": "UpdateSchemaRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PUT",
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.indexing"
              ],
              "flatPath": "v1/indexing/datasources/{datasourcesId}/schema",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "The name of the data source to update Schema. Format: datasources/{source_id}",
                  "location": "path",
                  "pattern": "^datasources/[^/]+$"
                }
              },
              "id": "cloudsearch.indexing.datasources.updateSchema",
              "description": "Updates the schema of a data source. This method does not perform incremental updates to the schema. Instead, this method updates the schema by overwriting the entire schema. **Note:** This API requires an admin or service account to execute.",
              "response": {
                "$ref": "Operation"
              }
            },
            "deleteSchema": {
              "id": "cloudsearch.indexing.datasources.deleteSchema",
              "parameters": {
                "name": {
                  "description": "The name of the data source to delete Schema. Format: datasources/{source_id}",
                  "required": true,
                  "type": "string",
                  "pattern": "^datasources/[^/]+$",
                  "location": "path"
                },
                "debugOptions.enableDebugging": {
                  "type": "boolean",
                  "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                  "location": "query"
                }
              },
              "path": "v1/indexing/{+name}/schema",
              "response": {
                "$ref": "Operation"
              },
              "flatPath": "v1/indexing/datasources/{datasourcesId}/schema",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "description": "Deletes the schema of a data source. **Note:** This API requires an admin or service account to execute.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.indexing"
              ]
            }
          },
          "resources": {
            "items": {
              "methods": {
                "deleteQueueItems": {
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes all items in a queue. This method is useful for deleting stale items. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^datasources/[^/]+$",
                      "description": "The name of the Data Source to delete items in a queue. Format: datasources/{source_id}",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/indexing/datasources/{datasourcesId}/items:deleteQueueItems",
                  "request": {
                    "$ref": "DeleteQueueItemsRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.indexing"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/indexing/{+name}/items:deleteQueueItems",
                  "id": "cloudsearch.indexing.datasources.items.deleteQueueItems"
                },
                "unreserve": {
                  "parameters": {
                    "name": {
                      "pattern": "^datasources/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "The name of the Data Source to unreserve all items. Format: datasources/{source_id}",
                      "location": "path"
                    }
                  },
                  "path": "v1/indexing/{+name}/items:unreserve",
                  "description": "Unreserves all items from a queue, making them all eligible to be polled. This method is useful for resetting the indexing queue after a connector has been restarted. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/indexing/datasources/{datasourcesId}/items:unreserve",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.indexing"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "id": "cloudsearch.indexing.datasources.items.unreserve",
                  "request": {
                    "$ref": "UnreserveItemsRequest"
                  }
                },
                "push": {
                  "description": "Pushes an item onto a queue for later polling and updating. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source.",
                  "httpMethod": "POST",
                  "path": "v1/indexing/{+name}:push",
                  "request": {
                    "$ref": "PushItemRequest"
                  },
                  "flatPath": "v1/indexing/datasources/{datasourcesId}/items/{itemsId}:push",
                  "id": "cloudsearch.indexing.datasources.items.push",
                  "response": {
                    "$ref": "Item"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.indexing"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "The name of the item to push into the indexing queue. Format: datasources/{source_id}/items/{ID} This is a required field. The maximum length is 1536 characters.",
                      "pattern": "^datasources/[^/]+/items/[^/]+$",
                      "type": "string"
                    }
                  }
                },
                "poll": {
                  "response": {
                    "$ref": "PollItemsResponse"
                  },
                  "request": {
                    "$ref": "PollItemsRequest"
                  },
                  "parameters": {
                    "name": {
                      "description": "The name of the Data Source to poll items. Format: datasources/{source_id}",
                      "pattern": "^datasources/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.indexing"
                  ],
                  "description": "Polls for unreserved items from the indexing queue and marks a set as reserved, starting with items that have the oldest timestamp from the highest priority ItemStatus. The priority order is as follows: ERROR MODIFIED NEW_ITEM ACCEPTED Reserving items ensures that polling from other threads cannot create overlapping sets. After handling the reserved items, the client should put items back into the unreserved state, either by calling index, or by calling push with the type REQUEUE. Items automatically become available (unreserved) after 4 hours even if no update or push method is called. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source.",
                  "flatPath": "v1/indexing/datasources/{datasourcesId}/items:poll",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/indexing/{+name}/items:poll",
                  "id": "cloudsearch.indexing.datasources.items.poll"
                },
                "index": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.indexing"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "The name of the Item. Format: datasources/{source_id}/items/{item_id} This is a required field. The maximum length is 1536 characters.",
                      "required": true,
                      "pattern": "^datasources/[^/]+/items/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates Item ACL, metadata, and content. It will insert the Item if it does not exist. This method does not support partial updates. Fields with no provided values are cleared out in the Cloud Search index. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source.",
                  "flatPath": "v1/indexing/datasources/{datasourcesId}/items/{itemsId}:index",
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "IndexItemRequest"
                  },
                  "id": "cloudsearch.indexing.datasources.items.index",
                  "httpMethod": "POST",
                  "path": "v1/indexing/{+name}:index"
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/indexing/{+name}",
                  "flatPath": "v1/indexing/datasources/{datasourcesId}/items/{itemsId}",
                  "id": "cloudsearch.indexing.datasources.items.get",
                  "description": "Gets Item resource by item name. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^datasources/[^/]+/items/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "The name of the item to get info. Format: datasources/{source_id}/items/{item_id}"
                    },
                    "connectorName": {
                      "location": "query",
                      "type": "string",
                      "description": "The name of connector making this call. Format: datasources/{source_id}/connectors/{ID}"
                    },
                    "debugOptions.enableDebugging": {
                      "location": "query",
                      "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                      "type": "boolean"
                    }
                  },
                  "response": {
                    "$ref": "Item"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.indexing"
                  ],
                  "httpMethod": "GET"
                },
                "list": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1/indexing/datasources/{datasourcesId}/items",
                  "path": "v1/indexing/{+name}/items",
                  "description": "Lists all or a subset of Item resources. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source.",
                  "parameters": {
                    "brief": {
                      "location": "query",
                      "description": "When set to true, the indexing system only populates the following fields: name, version, queue. metadata.hash, metadata.title, metadata.sourceRepositoryURL, metadata.objectType, metadata.createTime, metadata.updateTime, metadata.contentLanguage, metadata.mimeType, structured_data.hash, content.hash, itemType, itemStatus.code, itemStatus.processingError.code, itemStatus.repositoryError.type, If this value is false, then all the fields are populated in Item.",
                      "type": "boolean"
                    },
                    "name": {
                      "type": "string",
                      "pattern": "^datasources/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "The name of the Data Source to list Items. Format: datasources/{source_id}"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The next_page_token value returned from a previous List request, if any."
                    },
                    "debugOptions.enableDebugging": {
                      "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "connectorName": {
                      "description": "The name of connector making this call. Format: datasources/{source_id}/connectors/{ID}",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Maximum number of items to fetch in a request. The max value is 1000 when brief is true. The max value is 10 if brief is false. The default value is 10",
                      "location": "query",
                      "type": "integer"
                    }
                  },
                  "id": "cloudsearch.indexing.datasources.items.list",
                  "response": {
                    "$ref": "ListItemsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.indexing"
                  ]
                },
                "delete": {
                  "flatPath": "v1/indexing/datasources/{datasourcesId}/items/{itemsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.indexing"
                  ],
                  "parameters": {
                    "connectorName": {
                      "description": "The name of connector making this call. Format: datasources/{source_id}/connectors/{ID}",
                      "location": "query",
                      "type": "string"
                    },
                    "debugOptions.enableDebugging": {
                      "type": "boolean",
                      "location": "query",
                      "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field."
                    },
                    "mode": {
                      "description": "Required. The RequestMode for this request.",
                      "enum": [
                        "UNSPECIFIED",
                        "SYNCHRONOUS",
                        "ASYNCHRONOUS"
                      ],
                      "location": "query",
                      "type": "string",
                      "enumDescriptions": [
                        "The priority is not specified in the update request. Leaving priority unspecified results in an update failure.",
                        "For real-time updates.",
                        "For changes that are executed after the response is sent back to the caller."
                      ]
                    },
                    "name": {
                      "required": true,
                      "description": "Required. The name of the item to delete. Format: datasources/{source_id}/items/{item_id}",
                      "pattern": "^datasources/[^/]+/items/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "version": {
                      "type": "string",
                      "description": "Required. The incremented version of the item to delete from the index. The indexing system stores the version from the datasource as a byte string and compares the Item version in the index to the version of the queued Item using lexical ordering. Cloud Search Indexing won't delete any queued item with a version value that is less than or equal to the version of the currently indexed item. The maximum length for this field is 1024 bytes. For information on how item version affects the deletion process, refer to [Handle revisions after manual deletes](https://developers.google.com/workspace/cloud-search/docs/guides/operations).",
                      "location": "query",
                      "format": "byte"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "cloudsearch.indexing.datasources.items.delete",
                  "path": "v1/indexing/{+name}",
                  "httpMethod": "DELETE",
                  "description": "Deletes Item resource for the specified resource name. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source."
                },
                "upload": {
                  "description": "Creates an upload session for uploading item content. For items smaller than 100 KB, it's easier to embed the content inline within an index request. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^datasources/[^/]+/items/[^/]+$",
                      "type": "string",
                      "description": "The name of the Item to start a resumable upload. Format: datasources/{source_id}/items/{item_id}. The maximum length is 1536 bytes.",
                      "required": true
                    }
                  },
                  "path": "v1/indexing/{+name}:upload",
                  "flatPath": "v1/indexing/datasources/{datasourcesId}/items/{itemsId}:upload",
                  "response": {
                    "$ref": "UploadItemRef"
                  },
                  "id": "cloudsearch.indexing.datasources.items.upload",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.indexing"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "StartUploadItemRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "schemas": {
    "SourceConfig": {
      "type": "object",
      "properties": {
        "scoringConfig": {
          "description": "The scoring configuration for the source.",
          "$ref": "SourceScoringConfig"
        },
        "crowdingConfig": {
          "description": "The crowding configuration for the source.",
          "$ref": "SourceCrowdingConfig"
        },
        "source": {
          "description": "The source for which this configuration is to be used.",
          "$ref": "Source"
        }
      },
      "id": "SourceConfig",
      "description": "Configurations for a source while processing a Search or Suggest request."
    },
    "IndexItemRequest": {
      "type": "object",
      "properties": {
        "connectorName": {
          "type": "string",
          "description": "The name of connector making this call. Format: datasources/{source_id}/connectors/{ID}"
        },
        "item": {
          "description": "The name of the item. Format: datasources/{source_id}/items/{item_id}",
          "$ref": "Item"
        },
        "debugOptions": {
          "$ref": "DebugOptions",
          "description": "Common debug options."
        },
        "indexItemOptions": {
          "$ref": "IndexItemOptions"
        },
        "mode": {
          "enum": [
            "UNSPECIFIED",
            "SYNCHRONOUS",
            "ASYNCHRONOUS"
          ],
          "enumDescriptions": [
            "The priority is not specified in the update request. Leaving priority unspecified results in an update failure.",
            "For real-time updates.",
            "For changes that are executed after the response is sent back to the caller."
          ],
          "description": "Required. The RequestMode for this request.",
          "type": "string"
        }
      },
      "id": "IndexItemRequest"
    },
    "EnterpriseTopazSidekickGenericAnswerCard": {
      "properties": {
        "answer": {
          "description": "The answer.",
          "type": "string"
        },
        "title": {
          "description": "Title or header of the card.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "EnterpriseTopazSidekickGenericAnswerCard"
    },
    "ItemCountByStatus": {
      "type": "object",
      "id": "ItemCountByStatus",
      "properties": {
        "statusCode": {
          "enum": [
            "CODE_UNSPECIFIED",
            "ERROR",
            "MODIFIED",
            "NEW_ITEM",
            "ACCEPTED"
          ],
          "description": "Status of the items.",
          "enumDescriptions": [
            "Input-only value. Used with Items.list to list all items in the queue, regardless of status.",
            "Error encountered by Cloud Search while processing this item. Details of the error are in repositoryError.",
            "Item has been modified in the repository, and is out of date with the version previously accepted into Cloud Search.",
            "Item is known to exist in the repository, but is not yet accepted by Cloud Search. An item can be in this state when Items.push has been called for an item of this name that did not exist previously.",
            "API has accepted the up-to-date data of this item."
          ],
          "type": "string"
        },
        "count": {
          "format": "int64",
          "type": "string",
          "description": "Number of items matching the status code."
        },
        "indexedItemsCount": {
          "format": "int64",
          "description": "Number of items matching the status code for which billing is done. This excludes virtual container items from the total count. This count would not be applicable for items with ERROR or NEW_ITEM status code.",
          "type": "string"
        }
      }
    },
    "SearchApplicationQueryStats": {
      "type": "object",
      "description": "Search application level query stats per date",
      "properties": {
        "date": {
          "description": "The date for which query stats were calculated. Stats calculated on the next day close to midnight are returned.",
          "$ref": "Date"
        },
        "queryCountByStatus": {
          "type": "array",
          "items": {
            "$ref": "QueryCountByStatus"
          }
        }
      },
      "id": "SearchApplicationQueryStats"
    },
    "GSuitePrincipal": {
      "properties": {
        "gsuiteUserEmail": {
          "description": "This principal references a Google Workspace user account.",
          "type": "string"
        },
        "gsuiteGroupEmail": {
          "type": "string",
          "description": "This principal references a Google Workspace group name."
        },
        "gsuiteDomain": {
          "description": "This principal represents all users of the Google Workspace domain of the customer.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GSuitePrincipal"
    },
    "EnterpriseTopazSidekickPeopleAnswerDisambiguationInfo": {
      "type": "object",
      "description": "Metadata for disambiguation.",
[...]
