{
  "parameters": {
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response.",
      "default": "json"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    }
  },
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "description": "Provides insights about your customers and their Assured Workloads based on your Sovereign Controls by Partners offering.",
  "batchPath": "batch",
  "documentationLink": "https://cloud.google.com/sovereign-controls-by-partners/docs/sovereign-partners/reference/rest",
  "version_module": true,
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "title": "Cloud Controls Partner API",
  "revision": "20260812",
  "ownerDomain": "google.com",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "baseUrl": "https://cloudcontrolspartner.googleapis.com/",
  "resources": {
    "organizations": {
      "resources": {
        "locations": {
          "resources": {
            "customers": {
              "methods": {
                "delete": {
                  "parameters": {
                    "name": {
                      "description": "Required. name of the resource to be deleted format: name=organizations/*/locations/*/customers/*",
                      "location": "path",
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+$",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Delete details of a single customer",
                  "id": "cloudcontrolspartner.organizations.locations.customers.delete",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "description": "The maximum number of Customers to return. The service may return fewer than this value. If unspecified, at most 500 Customers will be returned.",
                      "location": "query",
                      "type": "integer"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Filtering results"
                    },
                    "pageToken": {
                      "description": "A page token, received from a previous `ListCustomers` call. Provide this to retrieve the subsequent page.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. Parent resource Format: `organizations/{organization}/locations/{location}`",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$"
                    },
                    "orderBy": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Hint for how to order the results"
                    }
                  },
                  "response": {
                    "$ref": "ListCustomersResponse"
                  },
                  "description": "Lists customers of a partner identified by its Google Cloud organization ID",
                  "path": "v1/{+parent}/customers",
                  "httpMethod": "GET",
                  "id": "cloudcontrolspartner.organizations.locations.customers.list",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/customers",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "PATCH",
                  "id": "cloudcontrolspartner.organizations.locations.customers.patch",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "Customer"
                  },
                  "description": "Update details of a single customer",
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "description": "Optional. The list of fields to update",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}`"
                    }
                  },
                  "response": {
                    "$ref": "Customer"
                  }
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "id": "cloudcontrolspartner.organizations.locations.customers.get",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets details of a single customer",
                  "response": {
                    "$ref": "Customer"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. Format: `organizations/{organization}/locations/{location}/customers/{customer}`",
                      "location": "path",
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+$",
                      "type": "string"
                    }
                  }
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/customers",
                  "httpMethod": "POST",
                  "id": "cloudcontrolspartner.organizations.locations.customers.create",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/customers",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "Customer"
                  },
                  "description": "Creates a new customer.",
                  "parameters": {
                    "parent": {
                      "description": "Required. Parent resource Format: `organizations/{organization}/locations/{location}`",
                      "location": "path",
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "customerId": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. The customer id to use for the customer, which will become the final component of the customer's resource name. The specified value must be a valid Google cloud organization id."
                    }
                  },
                  "response": {
                    "$ref": "Customer"
                  }
                }
              },
              "resources": {
                "workloads": {
                  "resources": {
                    "accessApprovalRequests": {
                      "methods": {
                        "list": {
                          "deprecated": true,
                          "parameters": {
                            "orderBy": {
                              "description": "Optional. Hint for how to order the results.",
                              "location": "query",
                              "type": "string"
                            },
                            "parent": {
                              "type": "string",
                              "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+/workloads/[^/]+$",
                              "required": true,
                              "location": "path",
                              "description": "Required. Parent resource Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}`"
                            },
                            "pageSize": {
                              "description": "Optional. The maximum number of access requests to return. The service may return fewer than this value. If unspecified, at most 500 access requests will be returned.",
                              "format": "int32",
                              "type": "integer",
                              "location": "query"
                            },
                            "filter": {
                              "location": "query",
                              "type": "string",
                              "description": "Optional. Filtering results."
                            },
                            "pageToken": {
                              "type": "string",
                              "location": "query",
                              "description": "Optional. A page token, received from a previous `ListAccessApprovalRequests` call. Provide this to retrieve the subsequent page."
                            }
                          },
                          "response": {
                            "$ref": "ListAccessApprovalRequestsResponse"
                          },
                          "description": "Deprecated: Only returns access approval requests directly associated with an assured workload folder.",
                          "path": "v1/{+parent}/accessApprovalRequests",
                          "httpMethod": "GET",
                          "id": "cloudcontrolspartner.organizations.locations.customers.workloads.accessApprovalRequests.list",
                          "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads/{workloadsId}/accessApprovalRequests",
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        }
                      },
                      "deprecated": true
                    },
                    "violations": {
                      "methods": {
                        "list": {
                          "description": "Lists Violations for a workload Callers may also choose to read across multiple Customers or for a single customer as per [AIP-159](https://google.aip.dev/159) by using '-' (the hyphen or dash character) as a wildcard character instead of {customer} & {workload}. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}`",
                          "response": {
                            "$ref": "ListViolationsResponse"
                          },
                          "parameters": {
                            "parent": {
                              "required": true,
                              "type": "string",
                              "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+/workloads/[^/]+$",
                              "description": "Required. Parent resource Format `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}`",
                              "location": "path"
                            },
                            "orderBy": {
                              "type": "string",
                              "location": "query",
                              "description": "Optional. Hint for how to order the results"
                            },
                            "interval.startTime": {
                              "type": "string",
                              "location": "query",
                              "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
                              "format": "google-datetime"
                            },
                            "pageToken": {
                              "description": "Optional. A page token, received from a previous `ListViolations` call. Provide this to retrieve the subsequent page.",
                              "location": "query",
                              "type": "string"
                            },
                            "pageSize": {
                              "format": "int32",
                              "description": "Optional. The maximum number of customers row to return. The service may return fewer than this value. If unspecified, at most 10 customers will be returned.",
                              "location": "query",
                              "type": "integer"
                            },
                            "filter": {
                              "description": "Optional. Filtering results",
                              "location": "query",
                              "type": "string"
                            },
                            "interval.endTime": {
                              "format": "google-datetime",
                              "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
                              "location": "query",
                              "type": "string"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1/{+parent}/violations",
                          "httpMethod": "GET",
                          "id": "cloudcontrolspartner.organizations.locations.customers.workloads.violations.list",
                          "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads/{workloadsId}/violations",
                          "parameterOrder": [
                            "parent"
                          ]
                        },
                        "get": {
                          "description": "Gets details of a single Violation.",
                          "response": {
                            "$ref": "Violation"
                          },
                          "parameters": {
                            "name": {
                              "location": "path",
                              "description": "Required. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/violations/{violation}`",
                              "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+/workloads/[^/]+/violations/[^/]+$",
                              "type": "string",
                              "required": true
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "cloudcontrolspartner.organizations.locations.customers.workloads.violations.get",
                          "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads/{workloadsId}/violations/{violationsId}",
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v1/{+name}",
                          "httpMethod": "GET"
                        }
                      }
                    }
                  },
                  "methods": {
                    "get": {
                      "id": "cloudcontrolspartner.organizations.locations.customers.workloads.get",
                      "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads/{workloadsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+/workloads/[^/]+$",
                          "type": "string",
                          "description": "Required. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}`",
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "Workload"
                      },
                      "description": "Gets details of a single workload"
                    },
                    "list": {
                      "path": "v1/{+parent}/workloads",
                      "httpMethod": "GET",
                      "id": "cloudcontrolspartner.organizations.locations.customers.workloads.list",
                      "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "ListWorkloadsResponse"
                      },
                      "parameters": {
                        "orderBy": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. Hint for how to order the results."
                        },
                        "parent": {
                          "type": "string",
                          "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+$",
                          "required": true,
                          "location": "path",
                          "description": "Required. Parent resource Format: `organizations/{organization}/locations/{location}/customers/{customer}`"
                        },
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "description": "The maximum number of workloads to return. The service may return fewer than this value. If unspecified, at most 500 workloads will be returned.",
                          "format": "int32"
                        },
                        "filter": {
                          "description": "Optional. Filtering results.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "A page token, received from a previous `ListWorkloads` call. Provide this to retrieve the subsequent page."
                        }
                      },
                      "description": "Lists customer workloads for a given customer org id"
                    },
                    "getEkmConnections": {
                      "path": "v1/{+name}",
                      "httpMethod": "GET",
                      "id": "cloudcontrolspartner.organizations.locations.customers.workloads.getEkmConnections",
                      "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads/{workloadsId}/ekmConnections",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "Required. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/ekmConnections`",
                          "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+/workloads/[^/]+/ekmConnections$",
                          "type": "string",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "EkmConnections"
                      },
                      "description": "Gets the EKM connections associated with a workload"
                    },
                    "getPartnerPermissions": {
                      "path": "v1/{+name}",
                      "httpMethod": "GET",
                      "id": "cloudcontrolspartner.organizations.locations.customers.workloads.getPartnerPermissions",
                      "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads/{workloadsId}/partnerPermissions",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "PartnerPermissions"
                      },
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the resource to get in the format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/partnerPermissions`",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+/workloads/[^/]+/partnerPermissions$"
                        }
                      },
                      "description": "Gets the partner permissions granted for a workload"
                    }
                  }
                }
              }
            }
          },
          "methods": {
            "getPartner": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "id": "cloudcontrolspartner.organizations.locations.getPartner",
              "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/partner",
              "parameterOrder": [
                "name"
              ],
              "description": "Get details of a Partner.",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^organizations/[^/]+/locations/[^/]+/partner$",
                  "required": true,
                  "location": "path",
                  "description": "Required. Format: `organizations/{organization}/locations/{location}/partner`"
                }
              },
              "response": {
                "$ref": "Partner"
              }
            }
          }
        }
      }
    }
  },
  "basePath": "",
  "id": "cloudcontrolspartner:v1",
  "schemas": {
    "Violation": {
      "id": "Violation",
      "type": "object",
      "properties": {
        "state": {
          "enumDescriptions": [
            "Unspecified state.",
            "Violation is resolved.",
            "Violation is Unresolved",
            "Violation is Exception"
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "RESOLVED",
            "UNRESOLVED",
            "EXCEPTION"
          ],
          "readOnly": true,
          "description": "Output only. State of the violation"
        },
        "nonCompliantOrgPolicy": {
          "description": "Output only. Immutable. Name of the OrgPolicy which was modified with non-compliant change and resulted this violation. Format: `projects/{project_number}/policies/{constraint_name}` `folders/{folder_id}/policies/{constraint_name}` `organizations/{organization_id}/policies/{constraint_name}`",
          "type": "string",
          "readOnly": true
        },
        "remediation": {
          "$ref": "Remediation",
          "readOnly": true,
          "description": "Output only. Compliance violation remediation"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The last time when the Violation record was updated.",
          "readOnly": true,
          "type": "string"
        },
        "beginTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time of the event which triggered the Violation.",
          "format": "google-datetime"
        },
        "name": {
          "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/violations/{violation}`",
          "type": "string"
        },
        "folderId": {
          "description": "The folder_id of the violation",
          "format": "int64",
          "type": "string"
        },
        "resolveTime": {
          "description": "Output only. Time of the event which fixed the Violation. If the violation is ACTIVE this will be empty.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "category": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Category under which this violation is mapped. e.g. Location, Service Usage, Access, Encryption, etc."
        },
        "description": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Description for the Violation. e.g. OrgPolicy gcp.resourceLocations has non compliant value."
        }
      },
      "description": "Details of resource Violation"
    },
    "AccessApprovalRequest": {
      "properties": {
        "requestedReason": {
          "description": "The justification for which approval is being requested.",
          "$ref": "AccessReason"
        },
        "name": {
          "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/accessApprovalRequests/{access_approval_request}`",
          "type": "string"
        },
        "requestTime": {
          "format": "google-datetime",
          "description": "The time at which approval was requested.",
          "type": "string"
        },
        "requestedExpirationTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The requested expiration for the approval. If the request is approved, access will be granted from the time of approval until the expiration time."
        }
      },
      "description": "Details about the Access request.",
      "id": "AccessApprovalRequest",
      "type": "object"
    },
    "Console": {
      "id": "Console",
      "type": "object",
      "description": "Remediation instructions to resolve violation via cloud console",
      "properties": {
        "consoleUris": {
          "description": "Link to console page where violations can be resolved",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "steps": {
          "type": "array",
          "description": "Steps to resolve violation via cloud console",
          "items": {
            "type": "string"
          }
        },
        "additionalLinks": {
          "type": "array",
          "description": "Additional urls for more information about steps",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "EkmConnection": {
      "id": "EkmConnection",
      "type": "object",
      "properties": {
        "connectionError": {
          "description": "The connection error that occurred if any",
          "$ref": "ConnectionError"
        },
        "connectionName": {
          "description": "Resource name of the EKM connection in the format: projects/{project}/locations/{location}/ekmConnections/{ekm_connection}",
          "type": "string"
        },
        "connectionState": {
          "enumDescriptions": [
            "Unspecified EKM connection state",
            "Available EKM connection state",
            "Not available EKM connection state",
            "Error EKM connection state",
            "Permission denied EKM connection state"
          ],
          "type": "string",
          "enum": [
            "CONNECTION_STATE_UNSPECIFIED",
            "AVAILABLE",
            "NOT_AVAILABLE",
            "ERROR",
            "PERMISSION_DENIED"
          ],
          "readOnly": true,
          "description": "Output only. The connection state"
        }
      },
      "description": "Details about the EKM connection"
    },
    "EkmConnections": {
      "properties": {
        "name": {
          "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/ekmConnections`",
          "type": "string"
        },
        "ekmConnections": {
          "type": "array",
          "description": "The EKM connections associated with the workload",
          "items": {
            "$ref": "EkmConnection"
          }
        }
      },
      "description": "The EKM connections associated with a workload",
      "id": "EkmConnections",
      "type": "object"
    },
    "CustomerOnboardingStep": {
      "id": "CustomerOnboardingStep",
      "type": "object",
      "properties": {
        "completionState": {
          "enum": [
            "COMPLETION_STATE_UNSPECIFIED",
            "PENDING",
            "SUCCEEDED",
            "FAILED",
            "NOT_APPLICABLE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified completion state.",
            "Task started (has start date) but not yet completed.",
            "Succeeded state.",
            "Failed state.",
            "Not applicable state."
          ],
          "description": "Output only. Current state of the step",
          "readOnly": true
        },
        "step": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified step",
            "KAJ Enrollment",
            "Customer Environment"
          ],
          "description": "The onboarding step",
          "enum": [
            "STEP_UNSPECIFIED",
            "KAJ_ENROLLMENT",
            "CUSTOMER_ENVIRONMENT"
          ]
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The starting time of the onboarding step"
        },
        "completionTime": {
          "description": "The completion time of the onboarding step",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "Container for customer onboarding information"
    },
    "PartnerPermissions": {
      "description": "The permissions granted to the partner for a workload",
      "properties": {
        "name": {
          "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/partnerPermissions`",
          "type": "string"
        },
        "partnerPermissions": {
          "type": "array",
          "description": "The partner permissions granted for the workload",
          "items": {
            "enumDescriptions": [
              "Unspecified partner permission",
              "Permission for Access Transparency and emergency logs",
              "Permission for Assured Workloads monitoring violations",
              "Permission for Access Approval requests",
              "Permission for External Key Manager connection status",
              "Permission for support case details for Access Transparency log entries"
            ],
            "type": "string",
            "enum": [
              "PERMISSION_UNSPECIFIED",
              "ACCESS_TRANSPARENCY_AND_EMERGENCY_ACCESS_LOGS",
              "ASSURED_WORKLOADS_MONITORING",
              "ACCESS_APPROVAL_REQUESTS",
              "ASSURED_WORKLOADS_EKM_CONNECTION_STATUS",
              "ACCESS_TRANSPARENCY_LOGS_SUPPORT_CASE_VIEWER"
            ]
          }
        }
      },
      "id": "PartnerPermissions",
      "type": "object"
    },
    "Sku": {
      "id": "Sku",
      "type": "object",
      "properties": {
        "id": {
          "description": "Argentum product SKU, that is associated with the partner offerings to customers used by Syntro for billing purposes. SKUs can represent resold Google products or support services.",
          "type": "string"
        },
        "displayName": {
          "description": "Display name of the product identified by the SKU. A partner may want to show partner branded names for their offerings such as local sovereign cloud solutions.",
          "type": "string"
        }
      },
      "description": "Represents the SKU a partner owns inside Google Cloud to sell to customers."
    },
    "CustomerOnboardingState": {
      "id": "CustomerOnboardingState",
      "type": "object",
      "description": "Container for customer onboarding steps",
      "properties": {
        "onboardingSteps": {
          "type": "array",
          "description": "List of customer onboarding steps",
          "items": {
            "$ref": "CustomerOnboardingStep"
          }
        }
      }
    },
    "Customer": {
      "id": "Customer",
      "type": "object",
      "description": "Contains metadata around a Cloud Controls Partner Customer",
      "properties": {
        "name": {
          "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}`",
          "type": "string"
        },
        "displayName": {
          "description": "Required. Display name for the customer",
          "type": "string"
        },
        "isOnboarded": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates whether a customer is fully onboarded"
        },
        "customerOnboardingState": {
          "$ref": "CustomerOnboardingState",
          "readOnly": true,
          "description": "Output only. Container for customer onboarding steps"
        },
        "organizationDomain": {
          "description": "Output only. The customer organization domain, extracted from CRM Organization’s display_name field. e.g. \"google.com\"",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "Gcloud": {
      "id": "Gcloud",
      "type": "object",
      "description": "Remediation instructions to resolve violation via gcloud cli",
      "properties": {
        "gcloudCommands": {
          "description": "Gcloud command to resolve violation",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "steps": {
          "type": "array",
          "description": "Steps to resolve violation via gcloud cli",
          "items": {
            "type": "string"
          }
        },
        "additionalLinks": {
          "description": "Additional urls for more information about steps",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "ListViolationsResponse": {
      "description": "Response message for list customer violation requests",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "Workloads that could not be reached due to permission errors or any other error. Ref: https://google.aip.dev/217",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "violations": {
          "description": "List of violation",
          "items": {
            "$ref": "Violation"
          },
          "type": "array"
        }
      },
      "id": "ListViolationsResponse",
      "type": "object"
    },
    "ConnectionError": {
      "description": "Information around the error that occurred if the connection state is anything other than available or unspecified",
      "properties": {
        "errorDomain": {
          "description": "The error domain for the error",
          "type": "string"
        },
        "errorMessage": {
          "description": "The error message for the error",
          "type": "string"
        }
      },
      "id": "ConnectionError",
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "ListCustomersResponse": {
      "id": "ListCustomersResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "customers": {
          "description": "List of customers",
          "items": {
            "$ref": "Customer"
          },
          "type": "array"
        }
      },
      "description": "Response message for list customer Customers requests"
    },
    "Partner": {
      "properties": {
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time the resource was created",
          "format": "google-datetime"
        },
        "name": {
          "description": "Identifier. The resource name of the partner. Format: `organizations/{organization}/locations/{location}/partner` Example: \"organizations/123456/locations/us-central1/partner\"",
          "type": "string"
        },
        "partnerProjectId": {
          "description": "Google Cloud project ID in the partner's Google Cloud organization for receiving enhanced Logs for Partners.",
          "type": "string"
        },
        "skus": {
          "type": "array",
          "description": "List of SKUs the partner is offering",
          "items": {
            "$ref": "Sku"
          }
        },
        "updateTime": {
          "description": "Output only. The last time the resource was updated",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "ekmSolutions": {
          "description": "List of Google Cloud supported EKM partners supported by the partner",
          "items": {
            "$ref": "EkmMetadata"
          },
          "type": "array"
        },
        "operatedCloudRegions": {
          "type": "array",
          "description": "List of Google Cloud regions that the partner sells services to customers. Valid Google Cloud regions found here: https://cloud.google.com/compute/docs/regions-zones",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Message describing Partner resource",
      "id": "Partner",
      "type": "object"
    },
    "WorkloadOnboardingStep": {
      "id": "WorkloadOnboardingStep",
      "type": "object",
      "description": "Container for workload onboarding information.",
      "properties": {
        "step": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified step.",
            "EKM Provisioned step.",
            "Signed Access Approval step."
          ],
          "description": "The onboarding step.",
          "enum": [
            "STEP_UNSPECIFIED",
            "EKM_PROVISIONED",
            "SIGNED_ACCESS_APPROVAL_CONFIGURED"
          ]
        },
        "startTime": {
          "type": "string",
          "description": "The starting time of the onboarding step.",
          "format": "google-datetime"
        },
        "completionState": {
          "description": "Output only. The completion state of the onboarding step.",
          "readOnly": true,
          "enum": [
            "COMPLETION_STATE_UNSPECIFIED",
            "PENDING",
            "SUCCEEDED",
            "FAILED",
            "NOT_APPLICABLE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified completion state.",
            "Task started (has start date) but not yet completed.",
            "Succeeded state.",
            "Failed state.",
            "Not applicable state."
          ]
        },
        "completionTime": {
          "format": "google-datetime",
          "description": "The completion time of the onboarding step.",
          "type": "string"
        }
      }
    },
    "EkmMetadata": {
      "id": "EkmMetadata",
      "type": "object",
      "properties": {
        "ekmSolution": {
          "description": "The Cloud EKM partner.",
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            true
          ],
          "enumDescriptions": [
            "Unspecified EKM solution",
            "EKM Partner Fortanix",
            "EKM Partner FutureX",
            "EKM Partner Thales",
            "This enum value is never used."
          ],
          "type": "string",
          "enum": [
            "EKM_SOLUTION_UNSPECIFIED",
            "FORTANIX",
            "FUTUREX",
            "THALES",
            "VIRTRU"
          ]
        },
        "ekmEndpointUri": {
          "description": "Endpoint for sending requests to the EKM for key provisioning during Assured Workload creation.",
          "type": "string"
        }
      },
      "description": "Holds information needed by Mudbray to use partner EKMs for workloads."
    },
    "ListWorkloadsResponse": {
      "description": "Response message for list customer workloads requests.",
      "properties": {
        "workloads": {
          "type": "array",
          "description": "List of customer workloads",
          "items": {
            "$ref": "Workload"
          }
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListWorkloadsResponse",
      "type": "object"
    },
    "WorkloadOnboardingState": {
      "description": "Container for workload onboarding steps.",
      "properties": {
        "onboardingSteps": {
          "type": "array",
          "description": "List of workload onboarding steps.",
          "items": {
            "$ref": "WorkloadOnboardingStep"
          }
        }
      },
      "id": "WorkloadOnboardingState",
      "type": "object"
    },
    "Remediation": {
      "properties": {
        "instructions": {
          "description": "Required. Remediation instructions to resolve violations",
          "$ref": "Instructions"
        },
        "remediationType": {
          "enum": [
            "REMEDIATION_TYPE_UNSPECIFIED",
            "REMEDIATION_BOOLEAN_ORG_POLICY_VIOLATION",
            "REMEDIATION_LIST_ALLOWED_VALUES_ORG_POLICY_VIOLATION",
            "REMEDIATION_LIST_DENIED_VALUES_ORG_POLICY_VIOLATION",
            "REMEDIATION_RESTRICT_CMEK_CRYPTO_KEY_PROJECTS_ORG_POLICY_VIOLATION",
            "REMEDIATION_RESOURCE_VIOLATION"
          ],
          "enumDescriptions": [
            "Unspecified remediation type",
            "Remediation type for boolean org policy",
            "Remediation type for list org policy which have allowed values in the monitoring rule",
            "Remediation type for list org policy which have denied values in the monitoring rule",
            "Remediation type for gcp.restrictCmekCryptoKeyProjects",
            "Remediation type for resource violation."
          ],
          "type": "string",
          "description": "Output only. Remediation type based on the type of org policy values violated",
          "readOnly": true
        },
        "compliantValues": {
          "type": "array",
          "description": "Values that can resolve the violation For example: for list org policy violations, this will either be the list of allowed or denied values",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Represents remediation guidance to resolve compliance violation for AssuredWorkload",
      "id": "Remediation",
      "type": "object"
    },
    "OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string"
        },
        "verb": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation."
        },
        "requestedCancellation": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string",
          "readOnly": true
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "OperationMetadata",
      "type": "object"
    },
    "AccessReason": {
      "id": "AccessReason",
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Default value for proto, shouldn't be used.",
            "Customer made a request or raised an issue that required the principal to access customer data. `detail` is of the form (\"#####\" is the issue ID): - \"Feedback Report: #####\" - \"Case Number: #####\" - \"Case ID: #####\" - \"E-PIN Reference: #####\" - \"Google-#####\" - \"T-#####\"",
            "The principal accessed customer data in order to diagnose or resolve a suspected issue in services. Often this access is used to confirm that customers are not affected by a suspected service issue or to remediate a reversible system issue.",
            "Google initiated service for security, fraud, abuse, or compliance purposes.",
            "The principal was compelled to access customer data in order to respond to a legal third party data request or process, including legal processes from customers themselves.",
            "The principal accessed customer data in order to diagnose or resolve a suspected issue in services or a known outage.",
            "Similar to 'GOOGLE_INITIATED_SERVICE' or 'GOOGLE_INITIATED_REVIEW', but with universe agnostic naming. The principal accessed customer data in order to diagnose or resolve a suspected issue in services or a known outage, or for security, fraud, abuse, or compliance review purposes."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "CUSTOMER_INITIATED_SUPPORT",
            "GOOGLE_INITIATED_SERVICE",
            "GOOGLE_INITIATED_REVIEW",
            "THIRD_PARTY_DATA_REQUEST",
            "GOOGLE_RESPONSE_TO_PRODUCTION_ALERT",
            "CLOUD_INITIATED_ACCESS"
          ],
          "description": "Type of access justification."
        },
        "detail": {
          "description": "More detail about certain reason types. See comments for each type above.",
          "type": "string"
        }
      },
      "description": "Reason for the access."
    },
    "Workload": {
      "id": "Workload",
      "type": "object",
      "description": "Contains metadata around the [Workload resource](https://cloud.google.com/assured-workloads/docs/reference/rest/Shared.Types/Workload) in the Assured Workloads API.",
      "properties": {
        "name": {
          "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}`",
          "type": "string"
        },
        "folderId": {
          "format": "int64",
          "description": "Output only. Folder id this workload is associated with",
          "readOnly": true,
          "type": "string"
        },
        "location": {
          "description": "The Google Cloud location of the workload",
          "type": "string"
        },
        "workloadOnboardingState": {
          "description": "Container for workload onboarding steps.",
          "$ref": "WorkloadOnboardingState"
        },
        "partner": {
          "type": "string",
          "enumDescriptions": [
            "Unknown Partner.",
            "Enum representing S3NS (Thales) partner.",
            "Enum representing T_SYSTEM (TSI) partner.",
            "Enum representing SIA_MINSAIT (Indra) partner.",
            "Enum representing PSN (TIM) partner.",
            "Enum representing CNTXT (Kingdom of Saudi Arabia) partner.",
            "Enum representing CNXT (Kingdom of Saudi Arabia) partner offering without EKM provisioning.",
            "Enum representing Telefonica (Spain) partner."
          ],
          "description": "Partner associated with this workload.",
          "enum": [
            "PARTNER_UNSPECIFIED",
            "PARTNER_LOCAL_CONTROLS_BY_S3NS",
            "PARTNER_SOVEREIGN_CONTROLS_BY_T_SYSTEMS",
            "PARTNER_SOVEREIGN_CONTROLS_BY_SIA_MINSAIT",
            "PARTNER_SOVEREIGN_CONTROLS_BY_PSN",
            "PARTNER_SOVEREIGN_CONTROLS_BY_CNTXT",
            "PARTNER_SOVEREIGN_CONTROLS_BY_CNTXT_NO_EKM",
            "PARTNER_SPAIN_DATA_BOUNDARY_BY_TELEFONICA"
          ]
        },
        "isOnboarded": {
          "description": "Indicates whether a workload is fully onboarded.",
          "type": "boolean"
        },
        "keyManagementProjectId": {
          "description": "The project id of the key management project for the workload",
          "type": "string"
        },
        "folder": {
          "description": "Output only. The name of container folder of the assured workload",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. Time the resource was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ListAccessApprovalRequestsResponse": {
      "id": "ListAccessApprovalRequestsResponse",
      "type": "object",
      "description": "Response message for list access requests.",
      "properties": {
        "accessApprovalRequests": {
          "description": "List of access approval requests",
          "items": {
            "$ref": "AccessApprovalRequest"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "Instructions": {
      "id": "Instructions",
      "type": "object",
      "description": "Instructions to remediate violation",
      "properties": {
        "gcloudInstructions": {
          "description": "Remediation instructions to resolve violation via gcloud cli",
          "$ref": "Gcloud"
        },
        "consoleInstructions": {
          "description": "Remediation instructions to resolve violation via cloud console",
          "$ref": "Console"
        }
      }
    }
  },
  "rootUrl": "https://cloudcontrolspartner.googleapis.com/",
  "name": "cloudcontrolspartner",
  "ownerName": "Google",
  "canonicalName": "Cloud Controls Partner Service",
  "version": "v1",
  "mtlsRootUrl": "https://cloudcontrolspartner.mtls.googleapis.com/"
}