{
  "documentationLink": "https://cloud.google.com/cloud-build/docs/",
  "version_module": true,
  "kind": "discovery#restDescription",
  "parameters": {
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "baseUrl": "https://cloudbuild.googleapis.com/",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "name": "cloudbuild",
  "ownerName": "Google",
  "revision": "20260814",
  "version": "v2",
  "description": "Creates and manages builds on Google Cloud Platform.",
  "ownerDomain": "google.com",
  "basePath": "",
  "endpoints": [
    {
      "location": "africa-south1",
      "endpointUrl": "https://cloudbuild.africa-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-east1",
      "endpointUrl": "https://cloudbuild.asia-east1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-east2",
      "endpointUrl": "https://cloudbuild.asia-east2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.asia-northeast1.rep.googleapis.com/",
      "location": "asia-northeast1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.asia-northeast2.rep.googleapis.com/",
      "location": "asia-northeast2"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-northeast3",
      "endpointUrl": "https://cloudbuild.asia-northeast3.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.asia-south1.rep.googleapis.com/",
      "location": "asia-south1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.asia-south2.rep.googleapis.com/",
      "location": "asia-south2"
    },
    {
      "location": "asia-southeast1",
      "endpointUrl": "https://cloudbuild.asia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-southeast2",
      "endpointUrl": "https://cloudbuild.asia-southeast2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-southeast3",
      "endpointUrl": "https://cloudbuild.asia-southeast3.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://cloudbuild.australia-southeast1.rep.googleapis.com/",
      "location": "australia-southeast1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.australia-southeast2.rep.googleapis.com/",
      "location": "australia-southeast2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.europe-central2.rep.googleapis.com/",
      "location": "europe-central2"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-north1",
      "endpointUrl": "https://cloudbuild.europe-north1.rep.googleapis.com/"
    },
    {
      "location": "europe-north2",
      "endpointUrl": "https://cloudbuild.europe-north2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.europe-southwest1.rep.googleapis.com/",
      "location": "europe-southwest1"
    },
    {
      "endpointUrl": "https://cloudbuild.europe-west1.rep.googleapis.com/",
      "location": "europe-west1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west10",
      "endpointUrl": "https://cloudbuild.europe-west10.rep.googleapis.com/"
    },
    {
      "location": "europe-west12",
      "endpointUrl": "https://cloudbuild.europe-west12.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.europe-west2.rep.googleapis.com/",
      "location": "europe-west2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.europe-west3.rep.googleapis.com/",
      "location": "europe-west3"
    },
    {
      "endpointUrl": "https://cloudbuild.europe-west4.rep.googleapis.com/",
      "location": "europe-west4",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west6",
      "endpointUrl": "https://cloudbuild.europe-west6.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.europe-west8.rep.googleapis.com/",
      "location": "europe-west8"
    },
    {
      "endpointUrl": "https://cloudbuild.europe-west9.rep.googleapis.com/",
      "location": "europe-west9",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.europe-west15.rep.googleapis.com/",
      "location": "europe-west15"
    },
    {
      "endpointUrl": "https://cloudbuild.me-central1.rep.googleapis.com/",
      "location": "me-central1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "me-central2",
      "endpointUrl": "https://cloudbuild.me-central2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "me-west1",
      "endpointUrl": "https://cloudbuild.me-west1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://cloudbuild.northamerica-northeast1.rep.googleapis.com/",
      "location": "northamerica-northeast1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.northamerica-northeast2.rep.googleapis.com/",
      "location": "northamerica-northeast2"
    },
    {
      "location": "northamerica-south1",
      "endpointUrl": "https://cloudbuild.northamerica-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.southamerica-east1.rep.googleapis.com/",
      "location": "southamerica-east1"
    },
    {
      "description": "Regional Endpoint",
      "location": "southamerica-west1",
      "endpointUrl": "https://cloudbuild.southamerica-west1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://cloudbuild.us-central1.rep.googleapis.com/",
      "location": "us-central1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.us-central2.rep.googleapis.com/",
      "location": "us-central2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.us-east1.rep.googleapis.com/",
      "location": "us-east1"
    },
    {
      "location": "us-east4",
      "endpointUrl": "https://cloudbuild.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east5",
      "endpointUrl": "https://cloudbuild.us-east5.rep.googleapis.com/"
    },
    {
      "location": "us-east7",
      "endpointUrl": "https://cloudbuild.us-east7.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-south1",
      "endpointUrl": "https://cloudbuild.us-south1.rep.googleapis.com/"
    },
    {
      "location": "us-west1",
      "endpointUrl": "https://cloudbuild.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west2",
      "endpointUrl": "https://cloudbuild.us-west2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west3",
      "endpointUrl": "https://cloudbuild.us-west3.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west4",
      "endpointUrl": "https://cloudbuild.us-west4.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.us-west8.rep.googleapis.com/",
      "location": "us-west8"
    }
  ],
  "mtlsRootUrl": "https://cloudbuild.mtls.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "rootUrl": "https://cloudbuild.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "PipelineRunResult": {
      "description": "PipelineRunResult used to describe the results of a pipeline",
      "properties": {
        "name": {
          "description": "Output only. Name of the TaskRun",
          "readOnly": true,
          "type": "string"
        },
        "value": {
          "$ref": "ResultValue",
          "description": "Output only. Value of the result.",
          "readOnly": true
        }
      },
      "id": "PipelineRunResult",
      "type": "object"
    },
    "InstallationState": {
      "id": "InstallationState",
      "type": "object",
      "description": "Describes stage and necessary actions to be taken by the user to complete the installation. Used for GitHub and GitHub Enterprise based connections.",
      "properties": {
        "actionUri": {
          "description": "Output only. Link to follow for next action. Empty string if the installation is already complete.",
          "readOnly": true,
          "type": "string"
        },
        "message": {
          "description": "Output only. Message of what the user should do next to continue the installation. Empty string if the installation is already complete.",
          "readOnly": true,
          "type": "string"
        },
        "stage": {
          "type": "string",
          "enumDescriptions": [
            "No stage specified.",
            "Only for GitHub Enterprise. An App creation has been requested. The user needs to confirm the creation in their GitHub enterprise host.",
            "User needs to authorize the GitHub (or Enterprise) App via OAuth.",
            "User needs to follow the link to install the GitHub (or Enterprise) App.",
            "Installation process has been completed."
          ],
          "description": "Output only. Current step of the installation process.",
          "readOnly": true,
          "enum": [
            "STAGE_UNSPECIFIED",
            "PENDING_CREATE_APP",
            "PENDING_USER_OAUTH",
            "PENDING_INSTALL_APP",
            "COMPLETE"
          ]
        }
      }
    },
    "HttpBody": {
      "id": "HttpBody",
      "type": "object",
      "description": "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page. This message can be used both in streaming and non-streaming API methods in the request as well as the response. It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body. Example: message GetResourceRequest { // A unique request id. string request_id = 1; // The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged.",
      "properties": {
        "contentType": {
          "type": "string",
          "description": "The HTTP Content-Type header value specifying the content type of the body."
        },
        "extensions": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "description": "Application specific response metadata. Must be set in the first response for streaming APIs."
        },
        "data": {
          "type": "string",
          "format": "byte",
          "description": "The HTTP request/response body as raw binary."
        }
      }
    },
    "GoogleDevtoolsCloudbuildV2GitHubEnterpriseConfig": {
      "description": "Configuration for connections to an instance of GitHub Enterprise.",
      "properties": {
        "appInstallationId": {
          "description": "Optional. ID of the installation of the GitHub App.",
          "format": "int64",
          "type": "string"
        },
        "apiKey": {
          "description": "Required. API Key used for authentication of webhook events.",
          "type": "string"
        },
        "webhookSecretSecretVersion": {
          "type": "string",
          "description": "Optional. SecretManager resource containing the webhook secret of the GitHub App, formatted as `projects/*/secrets/*/versions/*`."
        },
        "sslCa": {
          "description": "Optional. SSL certificate to use for requests to GitHub Enterprise.",
          "type": "string"
        },
        "appId": {
          "description": "Optional. Id of the GitHub App created from the manifest.",
          "format": "int64",
          "type": "string"
        },
        "serviceDirectoryConfig": {
          "$ref": "GoogleDevtoolsCloudbuildV2ServiceDirectoryConfig",
          "description": "Optional. Configuration for using Service Directory to privately connect to a GitHub Enterprise server. This should only be set if the GitHub Enterprise server is hosted on-premises and not reachable by public internet. If this field is left empty, calls to the GitHub Enterprise server will be made over the public internet."
        },
        "privateKeySecretVersion": {
          "description": "Optional. SecretManager resource containing the private key of the GitHub App, formatted as `projects/*/secrets/*/versions/*`.",
          "type": "string"
        },
        "appSlug": {
          "description": "Optional. The URL-friendly name of the GitHub App.",
          "type": "string"
        },
        "serverVersion": {
          "description": "Output only. GitHub Enterprise version installed at the host_uri.",
          "readOnly": true,
          "type": "string"
        },
        "hostUri": {
          "type": "string",
          "description": "Required. The URI of the GitHub Enterprise host this connection is for."
        }
      },
      "id": "GoogleDevtoolsCloudbuildV2GitHubEnterpriseConfig",
      "type": "object"
    },
    "Step": {
      "id": "Step",
      "type": "object",
      "description": "Step embeds the Container type, which allows it to include fields not provided by Container.",
      "properties": {
        "workingDir": {
          "description": "Container's working directory.",
          "type": "string"
        },
        "onError": {
          "description": "Optional. OnError defines the exiting behavior on error can be set to [ continue | stopAndFail ]",
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "StopAndFail indicates exit if the step/task exits with non-zero exit code",
            "Continue indicates continue executing the rest of the steps/tasks irrespective of the exit code"
          ],
          "enum": [
            "ON_ERROR_TYPE_UNSPECIFIED",
            "STOP_AND_FAIL",
            "CONTINUE"
          ],
          "type": "string"
        },
        "image": {
          "type": "string",
          "description": "Docker image name."
        },
        "securityContext": {
          "description": "Optional. SecurityContext defines the security options the Step should be run with. If set, the fields of SecurityContext override the equivalent fields of PodSecurityContext. More info: https://kubernetes.io/docs/tasks/configure-pod-container/security-context/ +optional",
          "$ref": "SecurityContext"
        },
        "timeout": {
          "format": "google-duration",
          "description": "Time after which the Step times out. Defaults to never.",
          "type": "string"
        },
        "ref": {
          "description": "Optional. Optional reference to a remote StepAction.",
          "$ref": "StepRef"
        },
        "command": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Entrypoint array."
        },
        "params": {
          "type": "array",
          "description": "Optional. Optional parameters passed to the StepAction.",
          "items": {
            "$ref": "Param"
          }
        },
        "name": {
          "type": "string",
          "description": "Name of the container specified as a DNS_LABEL."
        },
        "args": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Arguments to the entrypoint."
        },
        "env": {
          "type": "array",
          "items": {
            "$ref": "EnvVar"
          },
          "description": "List of environment variables to set in the container."
        },
        "volumeMounts": {
          "items": {
            "$ref": "VolumeMount"
          },
          "description": "Pod volumes to mount into the container's filesystem.",
          "type": "array"
        },
        "script": {
          "type": "string",
          "description": "The contents of an executable file to execute."
        }
      }
    },
    "TaskResult": {
      "id": "TaskResult",
      "type": "object",
      "description": "TaskResult is used to describe the results of a task.",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Default",
            "Array type",
            "Object type"
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "ARRAY",
            "OBJECT"
          ],
          "type": "string",
          "description": "The type of data that the result holds."
        },
        "properties": {
          "type": "object",
          "additionalProperties": {
            "$ref": "PropertySpec"
          },
          "description": "When type is OBJECT, this map holds the names of fields inside that object along with the type of data each field holds."
        },
        "description": {
          "type": "string",
          "description": "Description of the result."
        },
        "name": {
          "description": "Name of the result.",
          "type": "string"
        },
        "value": {
          "description": "Optional. Optionally used to initialize a Task's result with a Step's result.",
          "$ref": "ParamValue"
        }
      }
    },
    "ParamValue": {
      "id": "ParamValue",
      "type": "object",
      "description": "Parameter value.",
      "properties": {
        "stringVal": {
          "type": "string",
          "description": "Value of the parameter if type is string."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Default",
            "Array type",
            "Object type"
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "ARRAY",
            "OBJECT"
          ],
          "description": "Type of parameter."
        },
        "arrayVal": {
          "type": "array",
          "description": "Value of the parameter if type is array.",
          "items": {
            "type": "string"
          }
        },
        "objectVal": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Value of the parameter if type is object."
        }
      }
    },
    "Probe": {
      "description": "Probe describes a health check to be performed against a container to determine whether it is alive or ready to receive traffic.",
      "properties": {
        "exec": {
          "$ref": "ExecAction",
          "description": "Optional. Exec specifies the action to take. +optional"
        },
        "periodSeconds": {
          "format": "int32",
          "description": "Optional. How often (in seconds) to perform the probe. Default to 10 seconds. Minimum value is 1. +optional",
          "type": "integer"
        }
      },
      "id": "Probe",
      "type": "object"
    },
    "BatchCreateRepositoriesRequest": {
      "description": "Message for creating repositoritories in batch.",
      "properties": {
        "requests": {
          "description": "Required. The request messages specifying the repositories to create.",
          "items": {
            "$ref": "CreateRepositoryRequest"
          },
          "type": "array"
        }
      },
      "id": "BatchCreateRepositoriesRequest",
      "type": "object"
    },
    "ListRepositoriesResponse": {
      "id": "ListRepositoriesResponse",
      "type": "object",
      "description": "Message for response to listing Repositories.",
      "properties": {
        "repositories": {
          "type": "array",
          "items": {
            "$ref": "Repository"
          },
          "description": "The list of Repositories."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      }
    },
    "GitHubConfig": {
      "description": "Configuration for connections to github.com.",
      "properties": {
        "appInstallationId": {
          "description": "Optional. GitHub App installation id.",
          "format": "int64",
          "type": "string"
        },
        "authorizerCredential": {
          "description": "Optional. OAuth credential of the account that authorized the Cloud Build GitHub App. It is recommended to use a robot account instead of a human user account. The OAuth token must be tied to the Cloud Build GitHub App.",
          "$ref": "OAuthCredential"
        }
      },
      "id": "GitHubConfig",
      "type": "object"
    },
    "Repository": {
      "description": "A repository associated to a parent connection.",
      "properties": {
        "etag": {
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "webhookId": {
          "type": "string",
          "description": "Output only. External ID of the webhook created for the repository.",
          "readOnly": true
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Server assigned timestamp for when the connection was updated.",
          "readOnly": true,
          "type": "string"
        },
        "remoteUri": {
          "description": "Required. Git Clone HTTPS URI.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Server assigned timestamp for when the connection was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "description": "Immutable. Resource name of the repository, in the format `projects/*/locations/*/connections/*/repositories/*`.",
          "type": "string"
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Allows clients to store small amounts of arbitrary data."
        }
      },
      "id": "Repository",
      "type": "object"
    },
    "ExecAction": {
      "description": "ExecAction describes a \"run in container\" action.",
      "properties": {
        "command": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Command is the command line to execute inside the container, the working directory for the command is root ('/') in the container's filesystem. The command is simply exec'd, it is not run inside a shell, so traditional shell instructions ('|', etc) won't work. To use a shell, you need to explicitly call out to that shell. Exit status of 0 is treated as live/healthy and non-zero is unhealthy. +optional"
        }
      },
      "id": "ExecAction",
      "type": "object"
    },
    "OAuthCredential": {
      "description": "Represents an OAuth token of the account that authorized the Connection, and associated metadata.",
      "properties": {
        "username": {
          "description": "Output only. The username associated to this token.",
          "readOnly": true,
          "type": "string"
        },
        "oauthTokenSecretVersion": {
          "type": "string",
          "description": "Optional. A SecretManager resource containing the OAuth token that authorizes the Cloud Build connection. Format: `projects/*/secrets/*/versions/*`."
        }
      },
      "id": "OAuthCredential",
      "type": "object"
    },
    "VolumeMount": {
      "description": "Pod volumes to mount into the container's filesystem.",
      "properties": {
        "subPathExpr": {
          "description": "Expanded path within the volume from which the container's volume should be mounted. Behaves similarly to SubPath but environment variable references $(VAR_NAME) are expanded using the container's environment. Defaults to \"\" (volume's root).",
          "type": "string"
        },
        "subPath": {
          "description": "Path within the volume from which the container's volume should be mounted. Defaults to \"\" (volume's root).",
          "type": "string"
        },
        "readOnly": {
          "type": "boolean",
          "description": "Mounted read-only if true, read-write otherwise (false or unspecified)."
        },
        "name": {
          "description": "Name of the volume.",
          "type": "string"
        },
        "mountPath": {
          "type": "string",
          "description": "Path within the container at which the volume should be mounted. Must not contain ':'."
        }
      },
      "id": "VolumeMount",
      "type": "object"
    },
    "PipelineSpec": {
      "description": "PipelineSpec defines the desired state of Pipeline.",
      "properties": {
        "workspaces": {
          "type": "array",
          "items": {
            "$ref": "PipelineWorkspaceDeclaration"
          },
          "description": "Workspaces declares a set of named workspaces that are expected to be provided by a PipelineRun."
        },
        "finallyTasks": {
          "description": "List of Tasks that execute just before leaving the Pipeline i.e. either after all Tasks are finished executing successfully or after a failure which would result in ending the Pipeline.",
          "items": {
            "$ref": "PipelineTask"
          },
          "type": "array"
        },
        "results": {
          "type": "array",
          "description": "Optional. Output only. List of results written out by the pipeline's containers",
          "readOnly": true,
          "items": {
            "$ref": "PipelineResult"
          }
        },
        "generatedYaml": {
          "description": "Output only. auto-generated yaml that is output only for display purpose for workflows using pipeline_spec, used by UI/gcloud cli for Workflows.",
          "readOnly": true,
          "type": "string"
        },
        "tasks": {
          "type": "array",
          "items": {
            "$ref": "PipelineTask"
          },
          "description": "List of Tasks that execute when this Pipeline is run."
        },
        "params": {
          "description": "List of parameters.",
          "items": {
            "$ref": "ParamSpec"
          },
          "type": "array"
        }
      },
      "id": "PipelineSpec",
      "type": "object"
    },
    "GoogleDevtoolsCloudbuildV2GitLabConfig": {
      "id": "GoogleDevtoolsCloudbuildV2GitLabConfig",
      "type": "object",
      "description": "Configuration for connections to gitlab.com or an instance of GitLab Enterprise.",
      "properties": {
        "serviceDirectoryConfig": {
          "description": "Optional. Configuration for using Service Directory to privately connect to a GitLab Enterprise server. This should only be set if the GitLab Enterprise server is hosted on-premises and not reachable by public internet. If this field is left empty, calls to the GitLab Enterprise server will be made over the public internet.",
          "$ref": "GoogleDevtoolsCloudbuildV2ServiceDirectoryConfig"
        },
        "webhookSecretSecretVersion": {
          "description": "Required. Immutable. SecretManager resource containing the webhook secret of a GitLab Enterprise project, formatted as `projects/*/secrets/*/versions/*`.",
          "type": "string"
        },
        "sslCa": {
          "description": "Optional. SSL certificate to use for requests to GitLab Enterprise.",
          "type": "string"
        },
        "hostUri": {
          "description": "Optional. The URI of the GitLab Enterprise host this connection is for. If not specified, the default value is https://gitlab.com.",
          "type": "string"
        },
        "readAuthorizerCredential": {
          "$ref": "UserCredential",
          "description": "Required. A GitLab personal access token with the minimum `read_api` scope access."
        },
        "authorizerCredential": {
          "$ref": "UserCredential",
          "description": "Required. A GitLab personal access token with the `api` scope access."
        },
        "serverVersion": {
          "type": "string",
          "description": "Output only. Version of the GitLab Enterprise server running on the `host_uri`.",
          "readOnly": true
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "FetchLinkableRepositoriesResponse": {
      "description": "Response message for FetchLinkableRepositories.",
      "properties": {
        "repositories": {
          "items": {
            "$ref": "Repository"
          },
          "description": "repositories ready to be created.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      },
      "id": "FetchLinkableRepositoriesResponse",
      "type": "object"
    },
    "Location": {
      "id": "Location",
      "type": "object",
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        }
      }
    },
    "TestIamPermissionsRequest": {
      "id": "TestIamPermissionsRequest",
      "type": "object",
      "description": "Request message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
        }
      }
    },
    "TaskRef": {
      "id": "TaskRef",
      "type": "object",
      "description": "TaskRef can be used to refer to a specific instance of a task. PipelineRef can be used to refer to a specific instance of a Pipeline.",
      "properties": {
        "resolver": {
          "description": "Resolver is the name of the resolver that should perform resolution of the referenced Tekton resource.",
          "type": "string",
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Bundles resolver. https://tekton.dev/docs/pipelines/bundle-resolver/",
            "GCB repo resolver.",
            "Simple Git resolver. https://tekton.dev/docs/pipelines/git-resolver/",
            "Developer Connect resolver.",
            "Default resolver."
          ],
          "enum": [
            "RESOLVER_NAME_UNSPECIFIED",
            "BUNDLES",
            "GCB_REPO",
            "GIT",
            "DEVELOPER_CONNECT",
            "DEFAULT"
          ]
        },
        "params": {
          "items": {
            "$ref": "Param"
          },
          "description": "Params contains the parameters used to identify the referenced Tekton resource. Example entries might include \"repo\" or \"path\" but the set of params ultimately depends on the chosen resolver.",
          "type": "array"
        },
        "name": {
          "description": "Optional. Name of the task.",
          "type": "string"
        }
      }
    },
    "FetchGitRefsResponse": {
      "description": "Response for fetching git refs",
      "properties": {
        "refNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Name of the refs fetched."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "id": "FetchGitRefsResponse",
      "type": "object"
    },
    "StepTemplate": {
      "id": "StepTemplate",
      "type": "object",
      "description": "StepTemplate can be used as the basis for all step containers within the Task, so that the steps inherit settings on the base container.",
      "properties": {
        "env": {
          "items": {
            "$ref": "EnvVar"
          },
          "description": "Optional. List of environment variables to set in the Step. Cannot be updated.",
          "type": "array"
        },
        "volumeMounts": {
          "description": "Optional. Pod volumes to mount into the container's filesystem.",
          "items": {
            "$ref": "VolumeMount"
          },
          "type": "array"
        }
      }
    },
    "ParamSpec": {
      "description": "ParamSpec defines parameters needed beyond typed inputs (such as resources). Parameter values are provided by users as inputs on a TaskRun or PipelineRun.",
      "properties": {
        "name": {
          "description": "Name of the ParamSpec",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Description of the ParamSpec"
        },
        "default": {
          "description": "The default value a parameter takes if no input value is supplied",
          "$ref": "ParamValue"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Default",
            "Array type.",
            "Object type."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "ARRAY",
            "OBJECT"
          ],
          "description": "Type of ParamSpec"
        }
      },
      "id": "ParamSpec",
      "type": "object"
    },
    "ListConnectionsResponse": {
      "id": "ListConnectionsResponse",
      "type": "object",
      "description": "Message for response to listing Connections.",
      "properties": {
        "connections": {
          "description": "The list of Connections.",
          "items": {
            "$ref": "Connection"
          },
          "type": "array"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      }
    },
    "FetchReadWriteTokenRequest": {
      "description": "Message for fetching SCM read/write token.",
      "properties": {},
      "id": "FetchReadWriteTokenRequest",
      "type": "object"
    },
    "PipelineRef": {
      "description": "PipelineRef can be used to refer to a specific instance of a Pipeline.",
      "properties": {
        "resolver": {
          "description": "Resolver is the name of the resolver that should perform resolution of the referenced Tekton resource.",
          "type": "string",
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Bundles resolver. https://tekton.dev/docs/pipelines/bundle-resolver/",
            "GCB repo resolver.",
            "Simple Git resolver. https://tekton.dev/docs/pipelines/git-resolver/",
            "Developer Connect resolver.",
            "Default resolver."
          ],
          "enum": [
            "RESOLVER_NAME_UNSPECIFIED",
            "BUNDLES",
            "GCB_REPO",
            "GIT",
            "DEVELOPER_CONNECT",
            "DEFAULT"
          ]
        },
        "params": {
          "type": "array",
          "items": {
            "$ref": "Param"
          },
          "description": "Params contains the parameters used to identify the referenced Tekton resource. Example entries might include \"repo\" or \"path\" but the set of params ultimately depends on the chosen resolver."
        },
        "name": {
          "type": "string",
          "description": "Optional. Name of the Pipeline."
        }
      },
      "id": "PipelineRef",
      "type": "object"
    },
    "GoogleDevtoolsCloudbuildV2OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true
        },
        "requestedCancellation": {
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string"
        },
        "verb": {
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true
        },
        "statusMessage": {
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleDevtoolsCloudbuildV2OperationMetadata",
      "type": "object"
    },
    "Sidecar": {
      "id": "Sidecar",
      "type": "object",
      "description": "Sidecars run alongside the Task's step containers.",
      "properties": {
        "command": {
          "items": {
            "type": "string"
          },
          "description": "Entrypoint array.",
          "type": "array"
        },
        "image": {
          "description": "Docker image name.",
          "type": "string"
        },
        "workingDir": {
          "description": "Container's working directory.",
          "type": "string"
        },
        "env": {
          "items": {
            "$ref": "EnvVar"
          },
          "description": "List of environment variables to set in the container.",
          "type": "array"
        },
        "volumeMounts": {
          "type": "array",
          "items": {
            "$ref": "VolumeMount"
          },
          "description": "Pod volumes to mount into the container's filesystem."
        },
        "script": {
          "type": "string",
          "description": "The contents of an executable file to execute."
        },
        "readinessProbe": {
          "$ref": "Probe",
          "description": "Optional. Periodic probe of Sidecar service readiness. Container will be removed from service endpoints if the probe fails. Cannot be updated. More info: https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle#container-probes +optional"
        },
        "securityContext": {
          "$ref": "SecurityContext",
          "description": "Optional. Security options the container should be run with."
        },
        "name": {
          "type": "string",
          "description": "Name of the Sidecar."
        },
        "args": {
          "items": {
            "type": "string"
          },
          "description": "Arguments to the entrypoint.",
          "type": "array"
        }
      }
    },
    "Expr": {
      "id": "Expr",
      "type": "object",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        }
      }
    },
    "PipelineTask": {
      "description": "PipelineTask defines a task in a Pipeline.",
      "properties": {
        "timeout": {
          "format": "google-duration",
          "description": "Time after which the TaskRun times out. Defaults to 1 hour. Specified TaskRun timeout should be less than 24h.",
          "type": "string"
        },
        "taskSpec": {
          "description": "Spec to instantiate this TaskRun.",
          "$ref": "EmbeddedTask"
        },
        "taskRef": {
          "description": "Reference to a specific instance of a task.",
          "$ref": "TaskRef"
        },
        "whenExpressions": {
          "items": {
            "$ref": "WhenExpression"
          },
          "description": "Conditions that need to be true for the task to run.",
          "type": "array"
        },
        "params": {
          "items": {
            "$ref": "Param"
          },
          "description": "Params is a list of parameter names and values.",
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Name of the task."
        },
        "workspaces": {
          "items": {
            "$ref": "WorkspacePipelineTaskBinding"
          },
          "description": "Workspaces maps workspaces from the pipeline spec to the workspaces declared in the Task.",
          "type": "array"
        },
        "runAfter": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "RunAfter is the list of PipelineTask names that should be executed before this Task executes. (Used to force a specific ordering in graph execution.)"
        },
        "retries": {
          "type": "integer",
          "format": "int32",
          "description": "Retries represents how many times this task should be retried in case of task failure."
        }
      },
      "id": "PipelineTask",
      "type": "object"
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "id": "CancelOperationRequest",
      "type": "object"
    },
    "PropertySpec": {
      "id": "PropertySpec",
      "type": "object",
      "description": "PropertySpec holds information about a property in an object.",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Default"
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING"
          ],
          "description": "A type for the object."
        }
      }
    },
    "WhenExpression": {
      "description": "Conditions that need to be true for the task to run.",
      "properties": {
        "expressionOperator": {
          "description": "Operator that represents an Input's relationship to the values",
          "type": "string",
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Input is in values.",
            "Input is not in values."
          ],
          "enum": [
            "EXPRESSION_OPERATOR_UNSPECIFIED",
            "IN",
            "NOT_IN"
          ]
        },
        "input": {
          "description": "Input is the string for guard checking which can be a static input or an output from a parent Task.",
          "type": "string"
        },
        "values": {
          "type": "array",
          "description": "Values is an array of strings, which is compared against the input, for guard checking.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "WhenExpression",
      "type": "object"
    },
    "Provenance": {
      "description": "Provenance configuration.",
      "properties": {
        "storage": {
          "enumDescriptions": [
            "Default PREFER_ARTIFACT_PROJECT.",
            "GCB will attempt to push provenance to the artifact project. If it is not available, fallback to build project.",
            "Only push to artifact project.",
            "Only push to build project."
          ],
          "enum": [
            "STORAGE_UNSPECIFIED",
            "PREFER_ARTIFACT_PROJECT",
            "ARTIFACT_PROJECT_ONLY",
            "BUILD_PROJECT_ONLY"
          ],
          "type": "string",
          "description": "Optional. Where provenance is stored."
        },
        "enabled": {
          "enumDescriptions": [
            "Default to disabled (before AA regionalization), optimistic after",
            "Provenance failures would fail the run",
            "GCB will attempt to push to artifact analaysis and build state would not be impacted by the push failures.",
            "Disable the provenance push entirely."
          ],
          "enum": [
            "ENABLED_UNSPECIFIED",
            "REQUIRED",
            "OPTIMISTIC",
            "DISABLED"
          ],
          "type": "string",
          "description": "Optional. Provenance push mode."
        },
        "region": {
          "type": "string",
          "enumDescriptions": [
            "The PipelineRun/TaskRun/Workflow will be rejected. Update this comment to push to the same region as the run in Artifact Analysis when it's regionalized.",
            "Push provenance to Artifact Analysis in global region."
          ],
          "enum": [
            "REGION_UNSPECIFIED",
            "GLOBAL"
          ],
          "description": "Optional. Provenance region."
        }
      },
      "id": "Provenance",
      "type": "object"
    },
    "Connection": {
      "id": "Connection",
      "type": "object",
      "description": "A connection to a SCM like GitHub, GitHub Enterprise, Bitbucket Data Center, Bitbucket Cloud or GitLab.",
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "Output only. Server assigned timestamp for when the connection was updated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "gitlabConfig": {
          "description": "Configuration for connections to gitlab.com or an instance of GitLab Enterprise.",
          "$ref": "GoogleDevtoolsCloudbuildV2GitLabConfig"
        },
        "installationState": {
          "description": "Output only. Installation state of the Connection.",
          "readOnly": true,
          "$ref": "InstallationState"
        },
        "etag": {
          "type": "string",
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
        },
        "bitbucketCloudConfig": {
          "description": "Configuration for connections to Bitbucket Cloud.",
          "$ref": "BitbucketCloudConfig"
        },
        "bitbucketDataCenterConfig": {
          "$ref": "BitbucketDataCenterConfig",
          "description": "Configuration for connections to Bitbucket Data Center."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Server assigned timestamp for when the connection was created.",
          "readOnly": true
        },
        "annotations": {
          "description": "Optional. Allows clients to store small amounts of arbitrary data.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "Immutable. The resource name of the connection, in the format `projects/{project}/locations/{location}/connections/{connection_id}`."
        },
        "githubConfig": {
          "description": "Configuration for connections to github.com.",
          "$ref": "GitHubConfig"
        },
        "disabled": {
          "type": "boolean",
          "description": "Optional. If disabled is set to true, functionality is disabled for this connection. Repository based API methods and webhooks processing for repositories in this connection will be disabled."
        },
        "githubEnterpriseConfig": {
          "description": "Configuration for connections to an instance of GitHub Enterprise.",
          "$ref": "GoogleDevtoolsCloudbuildV2GitHubEnterpriseConfig"
        },
        "reconciling": {
          "description": "Output only. Set to true when the connection is being set up or updated in the background.",
          "readOnly": true,
          "type": "boolean"
        }
      }
    },
    "SecretVolumeSource": {
      "id": "SecretVolumeSource",
      "type": "object",
      "description": "Secret Volume Source.",
      "properties": {
        "secretVersion": {
          "description": "Optional. Resource name of the SecretVersion. In format: projects/*/secrets/*/versions/*",
          "type": "string"
        },
        "secretName": {
          "description": "Name of the secret referenced by the WorkspaceBinding.",
          "type": "string"
        }
      }
    },
    "GoogleDevtoolsCloudbuildV2ServiceDirectoryConfig": {
      "description": "ServiceDirectoryConfig represents Service Directory configuration for a connection.",
      "properties": {
        "service": {
          "type": "string",
          "description": "Required. The Service Directory service name. Format: projects/{project}/locations/{location}/namespaces/{namespace}/services/{service}."
        }
      },
      "id": "GoogleDevtoolsCloudbuildV2ServiceDirectoryConfig",
      "type": "object"
    },
    "Policy": {
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "properties": {
        "version": {
          "type": "integer",
          "format": "int32",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "etag": {
          "type": "string",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte"
        },
        "auditConfigs": {
          "type": "array",
          "description": "Specifies cloud audit logging configuration for this policy.",
          "items": {
            "$ref": "AuditConfig"
          }
        },
        "bindings": {
          "type": "array",
          "items": {
            "$ref": "Binding"
          },
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
        }
      },
      "id": "Policy",
      "type": "object"
    },
    "FetchReadTokenRequest": {
      "description": "Message for fetching SCM read token.",
      "properties": {},
      "id": "FetchReadTokenRequest",
      "type": "object"
    },
    "Status": {
      "id": "Status",
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array"
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      }
    },
    "BitbucketDataCenterConfig": {
      "description": "Configuration for connections to Bitbucket Data Center.",
      "properties": {
        "webhookSecretSecretVersion": {
          "description": "Required. Immutable. SecretManager resource containing the webhook secret used to verify webhook events, formatted as `projects/*/secrets/*/versions/*`.",
          "type": "string"
        },
        "sslCa": {
          "type": "string",
          "description": "Optional. SSL certificate to use for requests to the Bitbucket Data Center."
        },
        "hostUri": {
          "description": "Required. The URI of the Bitbucket Data Center instance or cluster this connection is for.",
          "type": "string"
        },
        "readAuthorizerCredential": {
          "description": "Required. A http access token with the `REPO_READ` access.",
          "$ref": "UserCredential"
        },
        "authorizerCredential": {
          "$ref": "UserCredential",
          "description": "Required. A http access token with the `REPO_ADMIN` scope access."
        },
        "serverVersion": {
          "type": "string",
          "description": "Output only. Version of the Bitbucket Data Center running on the `host_uri`.",
          "readOnly": true
        },
        "serviceDirectoryConfig": {
          "description": "Optional. Configuration for using Service Directory to privately connect to a Bitbucket Data Center. This should only be set if the Bitbucket Data Center is hosted on-premises and not reachable by public internet. If this field is left empty, calls to the Bitbucket Data Center will be made over the public internet.",
          "$ref": "GoogleDevtoolsCloudbuildV2ServiceDirectoryConfig"
        }
      },
      "id": "BitbucketDataCenterConfig",
      "type": "object"
    },
    "TestIamPermissionsResponse": {
      "description": "Response message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
        }
      },
      "id": "TestIamPermissionsResponse",
      "type": "object"
    },
    "SecurityContext": {
      "id": "SecurityContext",
      "type": "object",
      "description": "Security options the container should be run with.",
      "properties": {
        "privileged": {
          "type": "boolean",
          "description": "Run container in privileged mode."
        },
        "runAsUser": {
          "type": "string",
          "format": "int64",
          "description": "Optional. The UID to run the entrypoint of the container process. Defaults to user specified in image metadata if unspecified. May also be set in PodSecurityContext. If set in both SecurityContext and PodSecurityContext, the value specified in SecurityContext takes precedence. Note that this field cannot be set when spec.os.name is windows. +optional"
        },
        "runAsGroup": {
          "format": "int64",
          "description": "Optional. The GID to run the entrypoint of the container process. Uses runtime default if unset. May also be set in PodSecurityContext. If set in both SecurityContext and PodSecurityContext, the value specified in SecurityContext takes precedence. Note that this field cannot be set when spec.os.name is windows. +optional",
          "type": "string"
        },
        "runAsNonRoot": {
          "description": "Optional. Indicates that the container must run as a non-root user. If true, the Kubelet will validate the image at runtime to ensure that it does not run as UID 0 (root) and fail to start the container if it does. If unset or false, no such validation will be performed. May also be set in PodSecurityContext. If set in both SecurityContext and PodSecurityContext, the value specified in SecurityContext takes precedence. +optional",
          "type": "boolean"
        },
        "allowPrivilegeEscalation": {
          "description": "Optional. AllowPrivilegeEscalation controls whether a process can gain more privileges than its parent process. This bool directly controls if the no_new_privs flag will be set on the container process. AllowPrivilegeEscalation is true always when the container is: 1) run as Privileged 2) has CAP_SYS_ADMIN Note that this field cannot be set when spec.os.name is windows. +optional",
          "type": "boolean"
        }
      }
    },
    "BitbucketCloudConfig": {
      "id": "BitbucketCloudConfig",
      "type": "object",
      "description": "Configuration for connections to Bitbucket Cloud.",
      "properties": {
        "webhookSecretSecretVersion": {
          "type": "string",
          "description": "Required. SecretManager resource containing the webhook secret used to verify webhook events, formatted as `projects/*/secrets/*/versions/*`."
        },
        "workspace": {
          "description": "Required. The Bitbucket Cloud Workspace ID to be connected to Google Cloud Platform.",
          "type": "string"
        },
        "readAuthorizerCredential": {
          "$ref": "UserCredential",
          "description": "Required. An access token with the `repository` access. It can be either a workspace, project or repository access token. It's recommended to use a system account to generate the credentials."
        },
        "authorizerCredential": {
          "$ref": "UserCredential",
          "description": "Required. An access token with the `webhook`, `repository`, `repository:admin` and `pullrequest` scope access. It can be either a workspace, project or repository access token. It's recommended to use a system account to generate these credentials."
        }
      }
    },
    "Binding": {
      "description": "Associates `members`, or principals, with a `role`.",
      "properties": {
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
        },
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        }
      },
      "id": "Binding",
      "type": "object"
    },
    "WorkspacePipelineTaskBinding": {
      "id": "WorkspacePipelineTaskBinding",
      "type": "object",
      "description": "WorkspacePipelineTaskBinding maps workspaces from the PipelineSpec to the workspaces declared in the Task.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the workspace as declared by the task."
        },
        "workspace": {
          "type": "string",
          "description": "Name of the workspace declared by the pipeline."
        },
        "subPath": {
          "type": "string",
          "description": "Optional. SubPath is optionally a directory on the volume which should be used for this binding (i.e. the volume will be mounted at this sub directory). +optional"
        }
      }
    },
    "BatchCreateRepositoriesResponse": {
      "id": "BatchCreateRepositoriesResponse",
      "type": "object",
      "description": "Message for response of creating repositories in batch.",
      "properties": {
        "repositories": {
          "items": {
            "$ref": "Repository"
          },
          "description": "Repository resources created.",
          "type": "array"
        }
      }
    },
    "WorkspaceDeclaration": {
      "id": "WorkspaceDeclaration",
      "type": "object",
      "description": "WorkspaceDeclaration is a declaration of a volume that a Task requires.",
      "properties": {
        "description": {
          "description": "Description is a human readable description of this volume.",
          "type": "string"
        },
        "readOnly": {
          "type": "boolean",
          "description": "ReadOnly dictates whether a mounted volume is writable."
        },
        "name": {
          "type": "string",
          "description": "Name is the name by which you can bind the volume at runtime."
        },
        "mountPath": {
          "type": "string",
          "description": "MountPath overrides the directory that the volume will be made available at."
        },
        "optional": {
          "description": "Optional. Optional marks a Workspace as not being required in TaskRuns. By default this field is false and so declared workspaces are required.",
          "type": "boolean"
        }
      }
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "locations": {
          "type": "array",
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "ListLocationsResponse",
      "type": "object"
    },
    "StepRef": {
      "id": "StepRef",
      "type": "object",
      "description": "A reference to a remote Step, i.e. a StepAction.",
      "properties": {
        "resolver": {
          "type": "string",
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Bundles resolver. https://tekton.dev/docs/pipelines/bundle-resolver/",
            "GCB repo resolver.",
            "Simple Git resolver. https://tekton.dev/docs/pipelines/git-resolver/",
            "Developer Connect resolver.",
            "Default resolver."
          ],
          "enum": [
            "RESOLVER_NAME_UNSPECIFIED",
            "BUNDLES",
            "GCB_REPO",
            "GIT",
            "DEVELOPER_CONNECT",
            "DEFAULT"
          ],
          "description": "Optional. Type of the resolver."
        },
        "params": {
          "items": {
            "$ref": "Param"
          },
          "description": "Optional. Parameters used to control the resolution.",
          "type": "array"
        },
        "name": {
          "description": "Optional. Name of the step.",
          "type": "string"
        }
      }
    },
    "GoogleDevtoolsCloudbuildV2Condition": {
      "id": "GoogleDevtoolsCloudbuildV2Condition",
      "type": "object",
      "description": "Conditions defines a readiness condition for a Knative resource.",
      "properties": {
        "lastTransitionTime": {
          "description": "LastTransitionTime is the last time the condition transitioned from one status to another.",
          "format": "google-datetime",
          "type": "string"
        },
        "message": {
          "type": "string",
          "description": "A human readable message indicating details about the transition."
        },
        "reason": {
          "type": "string",
          "description": "The reason for the condition's last transition."
        },
        "status": {
          "enumDescriptions": [
            "Default enum type indicating execution is still ongoing.",
            "Success",
            "Failure"
          ],
          "enum": [
            "UNKNOWN",
            "TRUE",
            "FALSE"
          ],
          "type": "string",
          "description": "Status of the condition."
        },
        "type": {
          "description": "Type of condition.",
          "type": "string"
        },
        "severity": {
          "type": "string",
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Severity is warning.",
            "Severity is informational only."
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "WARNING",
            "INFO"
          ],
          "description": "Severity with which to treat failures of this type of condition."
        }
      }
    },
    "ChildStatusReference": {
      "description": "ChildStatusReference is used to point to the statuses of individual TaskRuns and Runs within this PipelineRun.",
      "properties": {
        "whenExpressions": {
          "description": "WhenExpressions is the list of checks guarding the execution of the PipelineTask",
          "items": {
            "$ref": "WhenExpression"
          },
          "type": "array"
        },
        "type": {
          "description": "Output only. Type of the child reference.",
          "readOnly": true,
          "enum": [
            "TYPE_UNSPECIFIED",
            "TASK_RUN"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "TaskRun."
          ]
        },
        "pipelineTaskName": {
          "type": "string",
          "description": "PipelineTaskName is the name of the PipelineTask this is referencing."
        },
        "name": {
          "type": "string",
          "description": "Name is the name of the TaskRun or Run this is referencing."
        }
      },
      "id": "ChildStatusReference",
      "type": "object"
    },
    "FetchReadWriteTokenResponse": {
      "id": "FetchReadWriteTokenResponse",
      "type": "object",
      "description": "Message for responding to get read/write token.",
      "properties": {
        "token": {
          "type": "string",
          "description": "The token content."
        },
        "expirationTime": {
          "type": "string",
          "description": "Expiration timestamp. Can be empty if unknown or non-expiring.",
          "format": "google-datetime"
        }
      }
    },
    "EmbeddedTask": {
      "id": "EmbeddedTask",
      "type": "object",
      "description": "EmbeddedTask defines a Task that is embedded in a Pipeline.",
      "properties": {
        "annotations": {
          "description": "User annotations. See https://google.aip.dev/128#annotations",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "taskSpec": {
          "description": "Spec to instantiate this TaskRun.",
          "$ref": "TaskSpec"
        }
      }
    },
    "WorkspaceBinding": {
      "id": "WorkspaceBinding",
      "type": "object",
      "description": "WorkspaceBinding maps a workspace to a Volume. PipelineRef can be used to refer to a specific instance of a Pipeline.",
      "properties": {
        "secret": {
          "description": "Secret Volume Source.",
          "$ref": "SecretVolumeSource"
        },
        "subPath": {
          "type": "string",
          "description": "Optional. SubPath is optionally a directory on the volume which should be used for this binding (i.e. the volume will be mounted at this sub directory). +optional"
        },
        "name": {
          "type": "string",
          "description": "Name of the workspace."
        }
      }
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        }
      },
      "id": "Operation",
      "type": "object"
    },
    "FetchReadTokenResponse": {
      "id": "FetchReadTokenResponse",
      "type": "object",
      "description": "Message for responding to get read token.",
      "properties": {
        "token": {
          "type": "string",
          "description": "The token content."
        },
        "expirationTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Expiration timestamp. Can be empty if unknown or non-expiring."
        }
      }
    },
    "PipelineRun": {
      "id": "PipelineRun",
      "type": "object",
      "description": "Message describing PipelineRun object",
      "properties": {
        "pipelineRef": {
          "$ref": "PipelineRef",
          "description": "PipelineRef refer to a specific instance of a Pipeline."
        },
        "provenance": {
          "description": "Optional. Provenance configuration.",
          "$ref": "Provenance"
        },
        "worker": {
          "description": "Optional. Worker configuration.",
          "$ref": "Worker"
        },
        "pipelineRunStatus": {
          "description": "Pipelinerun status the user can provide. Used for cancellation.",
          "type": "string",
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Cancelled status."
          ],
          "enum": [
            "PIPELINE_RUN_STATUS_UNSPECIFIED",
            "PIPELINE_RUN_CANCELLED"
          ]
        },
        "conditions": {
          "type": "array",
          "items": {
            "$ref": "GoogleDevtoolsCloudbuildV2Condition"
          },
          "description": "Output only. Kubernetes Conditions convention for PipelineRun status and error.",
          "readOnly": true
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "PipelineRunResult"
          },
          "description": "Optional. Output only. List of results written out by the pipeline's containers",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Time at which the request to create the `PipelineRun` was received.",
          "readOnly": true,
          "type": "string"
        },
        "annotations": {
          "description": "User annotations. See https://google.aip.dev/128#annotations",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "childReferences": {
          "type": "array",
          "items": {
            "$ref": "ChildStatusReference"
          },
          "description": "Output only. List of TaskRun and Run names and PipelineTask names for children of this PipelineRun.",
          "readOnly": true
        },
        "etag": {
          "type": "string",
          "description": "Needed for declarative-friendly resources."
        },
        "completionTime": {
          "type": "string",
          "description": "Output only. Time the pipeline completed.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "record": {
          "description": "Output only. The `Record` of this `PipelineRun`. Format: `projects/{project}/locations/{location}/results/{result_id}/records/{record_id}`",
          "readOnly": true,
          "type": "string"
        },
        "uid": {
          "description": "Output only. A unique identifier for the `PipelineRun`.",
          "readOnly": true,
          "type": "string"
        },
        "startTime": {
          "description": "Output only. Time the pipeline is actually started.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "serviceAccount": {
          "deprecated": true,
          "type": "string",
          "description": "Service account used in the Pipeline. Deprecated; please use security.service_account instead."
        },
        "pipelineSpec": {
          "description": "PipelineSpec defines the desired state of Pipeline.",
          "$ref": "PipelineSpec"
        },
        "resolvedPipelineSpec": {
          "description": "Output only. The exact PipelineSpec used to instantiate the run.",
          "readOnly": true,
          "$ref": "PipelineSpec"
        },
        "workflow": {
          "type": "string",
          "description": "Output only. The Workflow used to create this PipelineRun.",
          "readOnly": true
        },
        "params": {
          "type": "array",
          "items": {
            "$ref": "Param"
          },
          "description": "Params is a list of parameter names and values."
        },
        "name": {
          "type": "string",
          "description": "Output only. The `PipelineRun` name with format `projects/{project}/locations/{location}/pipelineRuns/{pipeline_run}`",
          "readOnly": true
        },
        "workerPool": {
          "description": "Output only. The WorkerPool used to run this PipelineRun.",
          "readOnly": true,
          "type": "string"
        },
        "security": {
          "$ref": "Security",
          "description": "Optional. Security configuration."
        },
        "finallyStartTime": {
          "description": "Output only. FinallyStartTime is when all non-finally tasks have been completed and only finally tasks are being executed. +optional",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "skippedTasks": {
          "type": "array",
          "description": "Output only. List of tasks that were skipped due to when expressions evaluating to false.",
          "readOnly": true,
          "items": {
            "$ref": "SkippedTask"
          }
        },
        "timeouts": {
          "$ref": "TimeoutFields",
          "description": "Time after which the Pipeline times out. Currently three keys are accepted in the map pipeline, tasks and finally with Timeouts.pipeline >= Timeouts.tasks + Timeouts.finally"
        },
        "gcbParams": {
          "description": "Output only. GCB default params.",
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "workspaces": {
          "type": "array",
          "description": "Workspaces is a list of WorkspaceBindings from volumes to workspaces.",
          "items": {
            "$ref": "WorkspaceBinding"
          }
        },
        "updateTime": {
          "description": "Output only. Time at which the request to update the `PipelineRun` was received.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "pipelineSpecYaml": {
          "description": "Output only. Inline pipelineSpec yaml string, used by workflow run requests.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "VolumeSource": {
      "id": "VolumeSource",
      "type": "object",
      "description": "Volumes available to mount.",
      "properties": {
        "emptyDir": {
          "$ref": "EmptyDirVolumeSource",
          "description": "A temporary directory that shares a pod's lifetime."
        },
        "name": {
          "description": "Name of the Volume. Must be a DNS_LABEL and unique within the pod. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names",
          "type": "string"
        }
      }
    },
    "OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "readOnly": true
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "statusDetail": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "apiVersion": {
          "type": "string",
          "description": "Output only. API version used to start the operation.",
          "readOnly": true
        },
        "target": {
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string"
        },
        "cancelRequested": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "id": "OperationMetadata",
      "type": "object"
    },
    "ResultValue": {
      "id": "ResultValue",
      "type": "object",
      "description": "ResultValue holds different types of data for a single result.",
      "properties": {
        "stringVal": {
          "description": "Value of the result if type is string.",
          "type": "string"
        },
        "arrayVal": {
          "type": "array",
          "description": "Value of the result if type is array.",
          "items": {
            "type": "string"
          }
        },
        "type": {
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Default",
            "Array type",
            "Object type"
          ],
          "type": "string",
          "description": "Output only. The type of data that the result holds.",
          "readOnly": true,
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "ARRAY",
            "OBJECT"
          ]
        },
        "objectVal": {
          "description": "Value of the result if type is object.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      }
    },
    "EnvVar": {
      "description": "Environment variable.",
      "properties": {
        "name": {
          "description": "Name of the environment variable.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Value of the environment variable."
        }
      },
      "id": "EnvVar",
      "type": "object"
    },
    "PipelineResult": {
      "id": "PipelineResult",
      "type": "object",
      "description": "A value produced by a Pipeline.",
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "ARRAY",
            "OBJECT"
          ],
          "description": "Output only. The type of data that the result holds.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Default",
            "Array type",
            "Object type"
          ]
        },
        "description": {
          "description": "Output only. Description of the result.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Output only. Name of the result.",
          "readOnly": true,
          "type": "string"
        },
        "value": {
          "$ref": "ResultValue",
          "description": "Output only. Value of the result.",
          "readOnly": true
        }
      }
    },
    "SkippedTask": {
      "id": "SkippedTask",
      "type": "object",
      "description": "SkippedTask is used to describe the Tasks that were skipped due to their When Expressions evaluating to False.",
      "properties": {
        "reason": {
          "type": "string",
          "description": "Output only. Reason is the cause of the PipelineTask being skipped.",
          "readOnly": true
        },
        "whenExpressions": {
          "type": "array",
          "items": {
            "$ref": "WhenExpression"
          },
          "description": "WhenExpressions is the list of checks guarding the execution of the PipelineTask"
        },
        "name": {
          "description": "Name is the Pipeline Task name",
          "type": "string"
        }
      }
    },
    "Security": {
      "id": "Security",
      "type": "object",
      "description": "Security configuration.",
      "properties": {
        "serviceAccount": {
          "description": "IAM service account whose credentials will be used at runtime.",
          "type": "string"
        },
        "privilegeMode": {
          "enumDescriptions": [
            "Default to PRIVILEGED.",
            "Privileged mode.",
            "Unprivileged mode."
          ],
          "type": "string",
          "description": "Optional. Privilege mode.",
          "enum": [
            "PRIVILEGE_MODE_UNSPECIFIED",
            "PRIVILEGED",
            "UNPRIVILEGED"
          ],
          "deprecated": true
        }
      }
    },
    "Param": {
      "description": "Param defined with name and value. PipelineRef can be used to refer to a specific instance of a Pipeline.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the parameter."
        },
        "value": {
[...]
