{
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-identity.orgunits.readonly": {
          "description": "List org members of an OrgUnit in your Cloud Identity Organization."
        },
        "https://www.googleapis.com/auth/cloud-identity.inboundsso": {
          "description": "See and edit all of the Inbound SSO profiles and their assignments to any Org Units or Google Groups in your Cloud Identity Organization."
        },
        "https://www.googleapis.com/auth/cloud-identity.groups": {
          "description": "See, change, create, and delete any of the Cloud Identity Groups that you can access, including the members of each group"
        },
        "https://www.googleapis.com/auth/cloud-identity.policies.readonly": {
          "description": "See policies in your Cloud Identity Organization."
        },
        "https://www.googleapis.com/auth/cloud-identity.devices": {
          "description": "Private Service: https://www.googleapis.com/auth/cloud-identity.devices"
        },
        "https://www.googleapis.com/auth/cloud-identity.policies": {
          "description": "See and edit policies in your Cloud Identity Organization."
        },
        "https://www.googleapis.com/auth/cloud-identity.allowlisteddomains.readonly": {
          "description": "See allowlisted domains in your Cloud Identity Organization"
        },
        "https://www.googleapis.com/auth/cloud-identity.groups.readonly": {
          "description": "See any Cloud Identity Groups that you can access, including group members and their emails"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-identity.devices.lookup": {
          "description": "See your device details"
        },
        "https://www.googleapis.com/auth/cloud-identity.orgunits": {
          "description": "List, Move orgmembers of an OrgUnit in your Cloud Identity Organization."
        },
        "https://www.googleapis.com/auth/cloud-identity.devices.readonly": {
          "description": "Private Service: https://www.googleapis.com/auth/cloud-identity.devices.readonly"
        },
        "https://www.googleapis.com/auth/cloud-identity.allowlisteddomains": {
          "description": "See and edit allowlisted domains in your Cloud Identity Organization"
        },
        "https://www.googleapis.com/auth/cloud-identity.inboundsso.readonly": {
          "description": "See all of the Inbound SSO profiles and their assignments to any Org Units or Google Groups in your Cloud Identity Organization."
        }
      }
    }
  },
  "title": "Cloud Identity API",
  "canonicalName": "Cloud Identity",
  "basePath": "",
  "servicePath": "",
  "ownerName": "Google",
  "version": "v1beta1",
  "rootUrl": "https://cloudidentity.googleapis.com/",
  "kind": "discovery#restDescription",
  "documentationLink": "https://cloud.google.com/identity/",
  "schemas": {
    "CertificateTemplate": {
      "type": "object",
      "id": "CertificateTemplate",
      "description": "CertificateTemplate (v3 Extension in X.509).",
      "properties": {
        "id": {
          "description": "The template id of the template. Example: \"1.3.6.1.4.1.311.21.8.15608621.11768144.5720724.16068415.6889630.81.2472537.7784047\".",
          "type": "string"
        },
        "minorVersion": {
          "type": "integer",
          "format": "int32",
          "description": "The minor version of the template. Example: 12."
        },
        "majorVersion": {
          "description": "The Major version of the template. Example: 100.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "SamlSpConfig": {
      "id": "SamlSpConfig",
      "description": "SAML SP (service provider) configuration.",
      "properties": {
        "assertionConsumerServiceUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The SAML **Assertion Consumer Service (ACS) URL** to be used for the IDP-initiated login. Assumed to accept response messages via the `HTTP-POST` binding."
        },
        "entityId": {
          "description": "Output only. The SAML **Entity ID** for this service provider.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1ClientState": {
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1ClientState",
      "description": "Represents the state associated with an API client calling the Devices API. Resource representing ClientState and supports updates from API users",
      "properties": {
        "name": {
          "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the ClientState in format: `devices/{device}/deviceUsers/{device_user}/clientState/{partner}`, where partner corresponds to the partner storing the data. For partners belonging to the \"BeyondCorp Alliance\", this is the partner ID specified to you by Google. For all other callers, this is a string of the form: `{customer}-suffix`, where `customer` is your customer ID. The *suffix* is any string the caller specifies. This string will be displayed verbatim in the administration console. This suffix is used in setting up Custom Access Levels in Context-Aware Access. Your organization's customer ID can be obtained from the URL: `GET https://www.googleapis.com/admin/directory/v1/customers/my_customer` The `id` field in the response contains the customer ID starting with the letter 'C'. The customer ID to be used in this API is the string after the letter 'C' (not including 'C')",
          "readOnly": true,
          "type": "string"
        },
        "complianceState": {
          "type": "string",
          "enum": [
            "COMPLIANCE_STATE_UNSPECIFIED",
            "COMPLIANT",
            "NON_COMPLIANT"
          ],
          "enumDescriptions": [
            "The compliance state of the resource is unknown or unspecified.",
            "Device is compliant with third party policies",
            "Device is not compliant with third party policies"
          ],
          "description": "The compliance state of the resource as specified by the API client."
        },
        "managed": {
          "description": "The management state of the resource as specified by the API client.",
          "enumDescriptions": [
            "The management state of the resource is unknown or unspecified.",
            "The resource is managed.",
            "The resource is not managed."
          ],
          "type": "string",
          "enum": [
            "MANAGED_STATE_UNSPECIFIED",
            "MANAGED",
            "UNMANAGED"
          ]
        },
        "keyValuePairs": {
          "description": "The map of key-value attributes stored by callers specific to a device. The total serialized length of this map may not exceed 10KB. No limit is placed on the number of attributes in a map.",
          "additionalProperties": {
            "$ref": "GoogleAppsCloudidentityDevicesV1CustomAttributeValue"
          },
          "type": "object"
        },
        "lastUpdateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the client state data was last updated."
        },
        "ownerType": {
          "type": "string",
          "enum": [
            "OWNER_TYPE_UNSPECIFIED",
            "OWNER_TYPE_CUSTOMER",
            "OWNER_TYPE_PARTNER"
          ],
          "readOnly": true,
          "description": "Output only. The owner of the ClientState",
          "enumDescriptions": [
            "Unknown owner type",
            "Customer is the owner",
            "Partner is the owner"
          ]
        },
        "assetTags": {
          "description": "The caller can specify asset tags for this resource",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the client state data was created.",
          "format": "google-datetime"
        },
        "etag": {
          "description": "The token that needs to be passed back for concurrency control in updates. Token needs to be passed back in UpdateRequest",
          "type": "string"
        },
        "customId": {
          "description": "This field may be used to store a unique identifier for the API resource within which these CustomAttributes are a field.",
          "type": "string"
        },
        "healthScore": {
          "type": "string",
          "enum": [
            "HEALTH_SCORE_UNSPECIFIED",
            "VERY_POOR",
            "POOR",
            "NEUTRAL",
            "GOOD",
            "VERY_GOOD"
          ],
          "description": "The Health score of the resource. The Health score is the callers specification of the condition of the device from a usability point of view. For example, a third-party device management provider may specify a health score based on its compliance with organizational policies.",
          "enumDescriptions": [
            "Default value",
            "The object is in very poor health as defined by the caller.",
            "The object is in poor health as defined by the caller.",
            "The object health is neither good nor poor, as defined by the caller.",
            "The object is in good health as defined by the caller.",
            "The object is in very good health as defined by the caller."
          ]
        },
        "scoreReason": {
          "description": "A descriptive cause of the health score.",
          "type": "string"
        }
      }
    },
    "DynamicGroupStatus": {
      "id": "DynamicGroupStatus",
      "description": "The current status of a dynamic group along with timestamp.",
      "properties": {
        "status": {
          "enumDescriptions": [
            "Default.",
            "The dynamic group is up-to-date.",
            "The dynamic group has just been created and memberships are being updated.",
            "Group is in an unrecoverable state and its memberships can't be updated."
          ],
          "description": "Status of the dynamic group.",
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "UP_TO_DATE",
            "UPDATING_MEMBERSHIPS",
            "INVALID_QUERY"
          ]
        },
        "statusTime": {
          "type": "string",
          "description": "The latest time at which the dynamic group is guaranteed to be in the given status. If status is `UP_TO_DATE`, the latest time at which the dynamic group was confirmed to be up-to-date. If status is `UPDATING_MEMBERSHIPS`, the time at which dynamic group was created.",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "SignInBehavior": {
      "type": "object",
      "id": "SignInBehavior",
      "description": "Controls sign-in behavior.",
      "properties": {
        "redirectCondition": {
          "type": "string",
          "enum": [
            "REDIRECT_CONDITION_UNSPECIFIED",
            "NEVER"
          ],
          "enumDescriptions": [
            "Default and means \"always\"",
            "Sign-in flows where the user is prompted for their identity will not redirect to the IdP (so the user will most likely be prompted by Google for a password), but special flows like IdP-initiated SAML and sign-in following automatic redirection to the IdP by domain-specific service URLs will accept the IdP's assertion of the user's identity."
          ],
          "description": "When to redirect sign-ins to the IdP."
        }
      }
    },
    "SecuritySettings": {
      "type": "object",
      "id": "SecuritySettings",
      "description": "The definiion of security settings.",
      "properties": {
        "memberRestriction": {
          "description": "The Member Restriction value",
          "$ref": "MemberRestriction"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the security settings. Shall be of the form `groups/{group_id}/securitySettings`."
        }
      }
    },
    "IsInvitableUserResponse": {
      "id": "IsInvitableUserResponse",
      "description": "Response for IsInvitableUser RPC.",
      "properties": {
        "isInvitableUser": {
          "description": "Returns true if the email address is invitable.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1WipeDeviceUserResponse": {
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1WipeDeviceUserResponse",
      "description": "Response message for wiping the user's account from the device.",
      "properties": {
        "deviceUser": {
          "description": "Resultant DeviceUser object for the action.",
          "$ref": "GoogleAppsCloudidentityDevicesV1DeviceUser"
        }
      }
    },
    "ExpiryDetail": {
      "id": "ExpiryDetail",
      "description": "The `MembershipRole` expiry details.",
      "properties": {
        "expireTime": {
          "description": "The time at which the `MembershipRole` will expire.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DeleteInboundSamlSsoProfileOperationMetadata": {
      "type": "object",
      "id": "DeleteInboundSamlSsoProfileOperationMetadata",
      "description": "LRO response metadata for InboundSamlSsoProfilesService.DeleteInboundSamlSsoProfile.",
      "properties": {}
    },
    "UserInvitation": {
      "id": "UserInvitation",
      "description": "The `UserInvitation` resource represents an email that can be sent to an unmanaged user account inviting them to join the customer's Google Workspace or Cloud Identity account. An unmanaged account shares an email address domain with the Google Workspace or Cloud Identity account but is not managed by it yet. If the user accepts the `UserInvitation`, the user account will become managed.",
      "properties": {
        "mailsSentCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of invitation emails sent to the user."
        },
        "name": {
          "description": "Shall be of the form `customers/{customer}/userinvitations/{user_email_address}`.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Time when the `UserInvitation` was last updated.",
          "type": "string"
        },
        "state": {
          "description": "State of the `UserInvitation`.",
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "The `UserInvitation` has been created and is ready for sending as an email.",
            "The user has been invited by email.",
            "The user has accepted the invitation and is part of the organization.",
            "The user declined the invitation."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "NOT_YET_SENT",
            "INVITED",
            "ACCEPTED",
            "DECLINED"
          ]
        }
      },
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1DeviceUser": {
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1DeviceUser",
      "description": "Represents a user's use of a Device in the Cloud Identity Devices API. A DeviceUser is a resource representing a user's use of a Device",
      "properties": {
        "userEmail": {
          "description": "Email address of the user registered on the device.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "When the user first signed in to the device"
        },
        "lastSyncTime": {
          "format": "google-datetime",
          "description": "Output only. Last time when user synced with policies.",
          "readOnly": true,
          "type": "string"
        },
        "userAgent": {
          "description": "Output only. User agent on the device for this specific user",
          "type": "string",
          "readOnly": true
        },
        "firstSyncTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Most recent time when user registered with this service.",
          "format": "google-datetime"
        },
        "compromisedState": {
          "type": "string",
          "enum": [
            "COMPROMISED_STATE_UNSPECIFIED",
            "COMPROMISED",
            "NOT_COMPROMISED"
          ],
          "description": "Compromised State of the DeviceUser object",
          "enumDescriptions": [
            "Compromised state of Device User account is unknown or unspecified.",
            "Device User Account is compromised.",
            "Device User Account is not compromised."
          ]
        },
        "name": {
          "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the DeviceUser in format: `devices/{device}/deviceUsers/{device_user}`, where `device_user` uniquely identifies a user's use of a device.",
          "readOnly": true,
          "type": "string"
        },
        "passwordState": {
          "description": "Password state of the DeviceUser object",
          "enumDescriptions": [
            "Password state not set.",
            "Password set in object.",
            "Password not set in object."
          ],
          "type": "string",
          "enum": [
            "PASSWORD_STATE_UNSPECIFIED",
            "PASSWORD_SET",
            "PASSWORD_NOT_SET"
          ]
        },
        "languageCode": {
          "description": "Output only. Default locale used on device, in IETF BCP-47 format.",
          "type": "string",
          "readOnly": true
        },
        "managementState": {
          "description": "Output only. Management state of the user on the device.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "This user's data and profile is being removed from the device.",
            "This user's data and profile is removed from the device.",
            "User is approved to access data on the device.",
            "User is blocked from accessing data on the device.",
            "User is awaiting approval.",
            "User is unenrolled from Advanced Windows Management, but the Windows account is still intact."
          ],
          "type": "string",
          "enum": [
            "MANAGEMENT_STATE_UNSPECIFIED",
            "WIPING",
            "WIPED",
            "APPROVED",
            "BLOCKED",
            "PENDING_APPROVAL",
            "UNENROLLED"
          ],
          "readOnly": true
        }
      }
    },
    "GoogleAppsCloudidentityDevicesV1CustomAttributeValue": {
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1CustomAttributeValue",
      "description": "Additional custom attribute values may be one of these types",
      "properties": {
        "numberValue": {
          "type": "number",
          "format": "double",
          "description": "Represents a double value."
        },
        "stringValue": {
          "description": "Represents a string value.",
          "type": "string"
        },
        "boolValue": {
          "description": "Represents a boolean value.",
          "type": "boolean"
        }
      }
    },
    "ListAllowlistedDomainsResponse": {
      "type": "object",
      "id": "ListAllowlistedDomainsResponse",
      "description": "Response message for AllowlistedDomainsService.ListAllowlistedDomains.",
      "properties": {
        "allowlistedDomains": {
          "description": "Contains the list of domains in the allowlist. There is no defined ordering of domains within a result.",
          "items": {
            "$ref": "AllowlistedDomain"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Contains the next page token if the result is not exhaustive. If there are no more results, this token is empty.",
          "type": "string"
        }
      }
    },
    "ListUserInvitationsResponse": {
      "type": "object",
      "id": "ListUserInvitationsResponse",
      "description": "Response message for UserInvitation listing request.",
      "properties": {
        "userInvitations": {
          "type": "array",
          "description": "The list of UserInvitation resources.",
          "items": {
            "$ref": "UserInvitation"
          }
        },
        "nextPageToken": {
          "description": "The token for the next page. If not empty, indicates that there may be more `UserInvitation` resources that match the listing request; this value can be used in a subsequent ListUserInvitationsRequest to get continued results with the current list call.",
          "type": "string"
        }
      }
    },
    "DeleteInboundSsoAssignmentOperationMetadata": {
      "id": "DeleteInboundSsoAssignmentOperationMetadata",
      "description": "LRO response metadata for InboundSsoAssignmentsService.DeleteInboundSsoAssignment.",
      "properties": {},
      "type": "object"
    },
    "BlockDeviceUserRequest": {
      "type": "object",
      "id": "BlockDeviceUserRequest",
      "description": "Request message for blocking account on device.",
      "properties": {
        "customer": {
          "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer_id}`, where customer_id is the customer to whom the device belongs.",
          "type": "string"
        }
      }
    },
    "DeleteIdpCredentialOperationMetadata": {
      "id": "DeleteIdpCredentialOperationMetadata",
      "description": "LRO response metadata for InboundSamlSsoProfilesService.DeleteIdpCredential.",
      "properties": {},
      "type": "object"
    },
    "PolicyConflict": {
      "type": "object",
      "id": "PolicyConflict",
      "description": "Represents a policy value from a source that was not applied because a higher-priority source took precedence.",
      "properties": {
        "value": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The policy value from this lower-priority source."
        },
        "scope": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "SCOPE_UNKNOWN",
            "USER",
            "MACHINE"
          ],
          "enumDescriptions": [
            "Default value. The policy scope is unknown or not specified.",
            "User-level policy. This scope indicates the policy applies to the specific user session or profile. For cloud policies, this is typically the signed-in Chrome profile. On some platforms like Windows, this can also refer to the OS user.",
            "Machine-level policy. This scope indicates the policy applies system-wide to all users on the current machine or device."
          ],
          "description": "Output only. The scope at which this lower-priority policy is set (USER or MACHINE)."
        },
        "source": {
          "type": "string",
          "enum": [
            "SOURCE_UNKNOWN",
            "ENTERPRISE_DEFAULT",
            "CLOUD",
            "ACTIVE_DIRECTORY",
            "DEVICE_LOCAL_ACCOUNT_OVERRIDE_DEPRECATED",
            "PLATFORM",
            "PRIORITY_CLOUD_DEPRECATED",
            "MERGED",
            "COMMAND_LINE",
            "CLOUD_FROM_ASH",
            "RESTRICTED_MANAGED_GUEST_SESSION_OVERRIDE"
          ],
          "readOnly": true,
          "description": "Output only. The source from which this lower-priority policy value originated.",
          "enumDescriptions": [
            "Default value. The policy source is unknown or not specified.",
            "The policy is provided by Chrome's default settings when running in an enterprise environment.",
            "The policy is managed and pushed from a cloud-based administration console, such as the Google Admin console.",
            "The policy is sourced from Active Directory, primarily for Active Directory-managed ChromeOS devices.",
            "Deprecated: Formerly used when a policy was overridden by ChromeOS for public sessions or kiosk mode.",
            "The policy is set by OS built-in tool on desktop.",
            "Deprecated: Formerly used for cloud policies with higher priority.",
            "The applied policy value is the result of a merge from multiple policy sources.",
            "The policy is set using a command line argument passed to the Chrome executable, usually intended for development or testing.",
            "For ChromeOS, this indicates a policy set by cloud management in the Ash browser and then made available to the Lacros browser.",
            "The policy is set by the restricted managed guest session override."
          ]
        }
      }
    },
    "MemberRelation": {
      "id": "MemberRelation",
      "description": "Message representing a transitive membership of a group.",
      "properties": {
        "preferredMemberKey": {
          "type": "array",
          "description": "Entity key has an id and a namespace. In case of discussion forums, the id will be an email address without a namespace.",
          "items": {
            "$ref": "EntityKey"
          }
        },
        "member": {
          "description": "Resource name for this member.",
          "type": "string"
        },
        "roles": {
          "description": "The membership role details (i.e name of role and expiry time).",
          "items": {
            "$ref": "TransitiveMembershipRole"
          },
          "type": "array"
        },
        "relationType": {
          "description": "The relation between the group and the transitive membership.",
          "enumDescriptions": [
            "The relation type is undefined or undetermined.",
            "The two entities have only a direct membership with each other.",
            "The two entities have only an indirect membership with each other.",
            "The two entities have both a direct and an indirect membership with each other."
          ],
          "type": "string",
          "enum": [
            "RELATION_TYPE_UNSPECIFIED",
            "DIRECT",
            "INDIRECT",
            "DIRECT_AND_INDIRECT"
          ]
        }
      },
      "type": "object"
    },
    "EntityKey": {
      "type": "object",
      "id": "EntityKey",
      "description": "A unique identifier for an entity in the Cloud Identity Groups API. An entity can represent either a group with an optional `namespace` or a user without a `namespace`. The combination of `id` and `namespace` must be unique; however, the same `id` can be used with different `namespace`s.",
      "properties": {
        "id": {
          "description": "The ID of the entity. For Google-managed entities, the `id` must be the email address of an existing group or user. For external-identity-mapped entities, the `id` must be a string conforming to the Identity Source's requirements. Must be unique within a `namespace`.",
          "type": "string"
        },
        "namespace": {
          "description": "The namespace in which the entity exists. If not specified, the `EntityKey` represents a Google-managed entity such as a Google user or a Google Group. If specified, the `EntityKey` represents an external-identity-mapped group. The namespace must correspond to an identity source created in Admin Console and must be in the form of `identitysources/{identity_source_id}`.",
          "type": "string"
        }
      }
    },
    "InboundSamlSsoProfile": {
      "type": "object",
      "id": "InboundSamlSsoProfile",
      "description": "A [SAML 2.0](https://www.oasis-open.org/standards#samlv2.0) federation between a Google enterprise customer and a SAML identity provider.",
      "properties": {
        "spConfig": {
          "description": "SAML service provider configuration for this SAML SSO profile. These are the service provider details provided by Google that should be configured on the corresponding identity provider.",
          "$ref": "SamlSpConfig"
        },
        "displayName": {
          "description": "Human-readable name of the SAML SSO profile.",
          "type": "string"
        },
        "customer": {
          "description": "Immutable. The customer. For example: `customers/C0123abc`.",
          "type": "string"
        },
        "name": {
          "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the SAML SSO profile.",
          "type": "string",
          "readOnly": true
        },
        "idpConfig": {
          "description": "SAML identity provider configuration.",
          "$ref": "SamlIdpConfig"
        }
      }
    },
    "CancelWipeDeviceUserResponse": {
      "type": "object",
      "id": "CancelWipeDeviceUserResponse",
      "description": "Response message for cancelling an unfinished user account wipe.",
      "properties": {
        "deviceUser": {
          "description": "Resultant DeviceUser object for the action.",
          "$ref": "DeviceUser"
        }
      }
    },
    "DynamicGroupMetadata": {
      "id": "DynamicGroupMetadata",
      "description": "Dynamic group metadata like queries and status.",
      "properties": {
        "status": {
          "readOnly": true,
          "$ref": "DynamicGroupStatus",
          "description": "Output only. Status of the dynamic group."
        },
        "queries": {
          "description": "Memberships will be the union of all queries. Only one entry with USER resource is currently supported. Customers can create up to 500 dynamic groups.",
          "items": {
            "$ref": "DynamicGroupQuery"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceResponse": {
      "id": "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceResponse",
      "description": "Response message for cancelling an unfinished device wipe.",
      "properties": {
        "device": {
          "description": "Resultant Device object for the action. Note that asset tags will not be returned in the device object.",
          "$ref": "GoogleAppsCloudidentityDevicesV1Device"
        }
      },
      "type": "object"
    },
    "ModifyMembershipRolesRequest": {
      "type": "object",
      "id": "ModifyMembershipRolesRequest",
      "description": "The request message for MembershipsService.ModifyMembershipRoles.",
      "properties": {
        "addRoles": {
          "type": "array",
          "description": "The `MembershipRole`s to be added. Adding or removing roles in the same request as updating roles is not supported. Must not be set if `update_roles_params` is set.",
          "items": {
            "$ref": "MembershipRole"
          }
        },
        "updateRolesParams": {
          "description": "The `MembershipRole`s to be updated. Updating roles in the same request as adding or removing roles is not supported. Must not be set if either `add_roles` or `remove_roles` is set.",
          "items": {
            "$ref": "UpdateMembershipRolesParams"
          },
          "type": "array"
        },
        "removeRoles": {
          "description": "The `name`s of the `MembershipRole`s to be removed. Adding or removing roles in the same request as updating roles is not supported. It is not possible to remove the `MEMBER` `MembershipRole`. If you wish to delete a `Membership`, call MembershipsService.DeleteMembership instead. Must not contain `MEMBER`. Must not be set if `update_roles_params` is set.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "EndpointVerificationSpecificAttributes": {
      "id": "EndpointVerificationSpecificAttributes",
      "description": "Resource representing the [Endpoint Verification-specific attributes](https://cloud.google.com/endpoint-verification/docs/device-information) of a device.",
      "properties": {
        "certificateAttributes": {
          "description": "Details of certificates.",
          "items": {
            "$ref": "CertificateAttributes"
          },
          "type": "array"
        },
        "browserAttributes": {
          "description": "Details of browser profiles reported by Endpoint Verification.",
          "items": {
            "$ref": "BrowserAttributes"
          },
          "type": "array"
        },
        "additionalSignals": {
          "description": "[Additional signals](https://cloud.google.com/endpoint-verification/docs/device-information) reported by Endpoint Verification. It includes the following attributes: * Non-configurable attributes: hotfixes, av_installed, av_enabled, windows_domain_name, is_os_native_firewall_enabled, and is_secure_boot_enabled. * [Configurable attributes](https://cloud.google.com/endpoint-verification/docs/collect-config-attributes): file, folder, and binary attributes; registry entries; and properties in a plist.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "ListClientStatesResponse": {
      "id": "ListClientStatesResponse",
      "description": "Response message that is returned in LRO result of ListClientStates Operation.",
      "properties": {
        "clientStates": {
          "description": "Client states meeting the list restrictions.",
          "items": {
            "$ref": "ClientState"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results. Empty if there are no more results.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1AndroidAttributes": {
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1AndroidAttributes",
      "description": "Resource representing the Android specific attributes of a Device.",
      "properties": {
        "ctsProfileMatch": {
          "description": "Whether the device passes Android CTS compliance.",
          "type": "boolean"
        },
        "verifyAppsEnabled": {
          "description": "Whether Google Play Protect Verify Apps is enabled.",
          "type": "boolean"
        },
        "enabledUnknownSources": {
          "description": "Whether applications from unknown sources can be installed on device.",
          "type": "boolean"
        },
        "ownerProfileAccount": {
          "description": "Whether this account is on an owner/primary profile. For phones, only true for owner profiles. Android 4+ devices can have secondary or restricted user profiles.",
          "type": "boolean"
        },
        "supportsWorkProfile": {
          "description": "Whether device supports Android work profiles. If false, this service will not block access to corp data even if an administrator turns on the \"Enforce Work Profile\" policy.",
          "type": "boolean"
        },
        "ownershipPrivilege": {
          "description": "Ownership privileges on device.",
          "enumDescriptions": [
            "Ownership privilege is not set.",
            "Active device administrator privileges on the device.",
            "Profile Owner privileges. The account is in a managed corporate profile.",
            "Device Owner privileges on the device."
          ],
          "type": "string",
          "enum": [
            "OWNERSHIP_PRIVILEGE_UNSPECIFIED",
            "DEVICE_ADMINISTRATOR",
            "PROFILE_OWNER",
            "DEVICE_OWNER"
          ]
        },
        "hasPotentiallyHarmfulApps": {
          "description": "Whether any potentially harmful apps were detected on the device.",
          "type": "boolean"
        },
        "verifiedBoot": {
          "description": "Whether Android verified boot status is GREEN.",
          "type": "boolean"
        }
      }
    },
    "GoogleAppsCloudidentityDevicesV1UpdateDeviceMetadata": {
      "id": "GoogleAppsCloudidentityDevicesV1UpdateDeviceMetadata",
      "description": "Metadata for UpdateDevice LRO.",
      "properties": {},
      "type": "object"
    },
    "ListInboundSamlSsoProfilesResponse": {
      "id": "ListInboundSamlSsoProfilesResponse",
      "description": "Response of the InboundSamlSsoProfilesService.ListInboundSamlSsoProfiles method.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "inboundSamlSsoProfiles": {
          "description": "List of InboundSamlSsoProfiles.",
          "items": {
            "$ref": "InboundSamlSsoProfile"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "UpdateInboundSamlSsoProfileOperationMetadata": {
      "id": "UpdateInboundSamlSsoProfileOperationMetadata",
      "description": "LRO response metadata for InboundSamlSsoProfilesService.UpdateInboundSamlSsoProfile.",
      "properties": {
        "state": {
          "description": "State of this Operation Will be \"awaiting-multi-party-approval\" when the operation is deferred due to the target customer having enabled [Multi-party approval for sensitive actions](https://support.google.com/a/answer/13790448).",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListDevicesResponse": {
      "type": "object",
      "id": "ListDevicesResponse",
      "description": "Response message that is returned from the ListDevices method.",
      "properties": {
        "devices": {
          "description": "Devices meeting the list restrictions.",
          "items": {
            "$ref": "Device"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results. Empty if there are no more results.",
          "type": "string"
        }
      }
    },
    "Membership": {
      "id": "Membership",
      "description": "A membership within the Cloud Identity Groups API. A `Membership` defines a relationship between a `Group` and an entity belonging to that `Group`, referred to as a \"member\".",
      "properties": {
        "updateTime": {
          "description": "Output only. The time when the `Membership` was last updated.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Membership`. Shall be of the form `groups/{group_id}/memberships/{membership_id}`."
        },
        "roles": {
          "type": "array",
          "description": "The `MembershipRole`s that apply to the `Membership`. If unspecified, defaults to a single `MembershipRole` with `name` `MEMBER`. Must not contain duplicate `MembershipRole`s with the same `name`.",
          "items": {
            "$ref": "MembershipRole"
          }
        },
        "type": {
          "description": "Output only. The type of the membership.",
          "enumDescriptions": [
            "Default. Should not be used.",
            "Represents user type.",
            "Represents service account type.",
            "Represents group type.",
            "Represents Shared drive.",
            "Represents a CBCM-managed Chrome Browser type.",
            "Represents a ChromeOS-managed ChromeOS device type.",
            "Represents other type."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "USER",
            "SERVICE_ACCOUNT",
            "GROUP",
            "SHARED_DRIVE",
            "CBCM_BROWSER",
            "CHROME_OS_DEVICE",
            "OTHER"
          ],
          "readOnly": true
        },
        "memberKey": {
          "description": "Immutable. The `EntityKey` of the member. Either `member_key` or `preferred_member_key` must be set when calling MembershipsService.CreateMembership but not both; both shall be set when returned.",
          "$ref": "EntityKey"
        },
        "preferredMemberKey": {
          "description": "Required. Immutable. The `EntityKey` of the member. Either `member_key` or `preferred_member_key` must be set when calling MembershipsService.CreateMembership but not both; both shall be set when returned.",
          "$ref": "EntityKey"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time when the `Membership` was created.",
          "format": "google-datetime"
        },
        "deliverySetting": {
          "enumDescriptions": [
            "Default. Should not be used.",
            "Represents each mail should be delivered",
            "Represents 1 email for every 25 messages.",
            "Represents daily summary of messages.",
            "Represents no delivery.",
            "Represents disabled state."
          ],
          "description": "Output only. Delivery setting associated with the membership.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "DELIVERY_SETTING_UNSPECIFIED",
            "ALL_MAIL",
            "DIGEST",
            "DAILY",
            "NONE",
            "DISABLED"
          ]
        }
      },
      "type": "object"
    },
    "SearchDirectGroupsResponse": {
      "type": "object",
      "id": "SearchDirectGroupsResponse",
      "description": "The response message for MembershipsService.SearchDirectGroups.",
      "properties": {
        "memberships": {
          "type": "array",
          "description": "List of direct groups satisfying the query.",
          "items": {
            "$ref": "MembershipRelation"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results available for listing.",
          "type": "string"
        }
      }
    },
    "InboundOidcSsoProfile": {
      "id": "InboundOidcSsoProfile",
      "description": "An [OIDC](https://openid.net/developers/how-connect-works/) federation between a Google enterprise customer and an OIDC identity provider.",
      "properties": {
        "customer": {
          "description": "Immutable. The customer. For example: `customers/C0123abc`.",
          "type": "string"
        },
        "displayName": {
          "description": "Human-readable name of the OIDC SSO profile.",
          "type": "string"
        },
        "rpConfig": {
          "description": "OIDC relying party (RP) configuration for this OIDC SSO profile. These are the RP details provided by Google that should be configured on the corresponding identity provider.",
          "$ref": "OidcRpConfig"
        },
        "idpConfig": {
          "description": "OIDC identity provider configuration.",
          "$ref": "OidcIdpConfig"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the OIDC SSO profile."
        }
      },
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1WipeDeviceResponse": {
      "id": "GoogleAppsCloudidentityDevicesV1WipeDeviceResponse",
      "description": "Response message for wiping all data on the device.",
      "properties": {
        "device": {
          "description": "Resultant Device object for the action. Note that asset tags will not be returned in the device object.",
          "$ref": "GoogleAppsCloudidentityDevicesV1Device"
        }
      },
      "type": "object"
    },
    "CancelUserInvitationRequest": {
      "type": "object",
      "id": "CancelUserInvitationRequest",
      "description": "Request to cancel sent invitation for target email in UserInvitation.",
      "properties": {}
    },
    "GetMembershipGraphResponse": {
      "type": "object",
      "id": "GetMembershipGraphResponse",
      "description": "The response message for MembershipsService.GetMembershipGraph.",
      "properties": {
        "groups": {
          "type": "array",
          "description": "The resources representing each group in the adjacency list. Each group in this list can be correlated to a 'group' of the MembershipAdjacencyList using the 'name' of the Group resource.",
          "items": {
            "$ref": "Group"
          }
        },
        "adjacencyList": {
          "description": "The membership graph's path information represented as an adjacency list.",
          "items": {
            "$ref": "MembershipAdjacencyList"
          },
          "type": "array"
        }
      }
    },
    "GoogleAppsCloudidentityDevicesV1BrowserAttributes": {
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1BrowserAttributes",
      "description": "Contains information about browser profiles reported by the [Endpoint Verification extension](https://chromewebstore.google.com/detail/endpoint-verification/callobklhcbilhphinckomhgkigmfocg?pli=1).",
      "properties": {
        "chromeBrowserInfo": {
          "description": "Represents the current state of the [Chrome browser attributes](https://cloud.google.com/access-context-manager/docs/browser-attributes) sent by the [Endpoint Verification extension](https://chromewebstore.google.com/detail/endpoint-verification/callobklhcbilhphinckomhgkigmfocg?pli=1).",
          "$ref": "GoogleAppsCloudidentityDevicesV1BrowserInfo"
        },
        "chromeProfileId": {
          "description": "Chrome profile ID that is exposed by the Chrome API. It is unique for each device.",
          "type": "string"
        },
        "lastProfileSyncTime": {
          "type": "string",
          "description": "Timestamp in milliseconds since the Unix epoch when the profile/gcm id was last synced.",
          "format": "google-datetime"
        }
      }
    },
    "ChromePolicy": {
      "type": "object",
      "id": "ChromePolicy",
      "description": "Represents a Chrome policy and its current state.",
      "properties": {
        "scope": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "SCOPE_UNKNOWN",
            "USER",
            "MACHINE"
          ],
          "enumDescriptions": [
            "Default value. The policy scope is unknown or not specified.",
            "User-level policy. This scope indicates the policy applies to the specific user session or profile. For cloud policies, this is typically the signed-in Chrome profile. On some platforms like Windows, this can also refer to the OS user.",
            "Machine-level policy. This scope indicates the policy applies system-wide to all users on the current machine or device."
          ],
          "description": "Output only. The scope at which the *applied* policy value is set (USER or MACHINE)."
        },
        "source": {
          "description": "Output only. The source from which the *applied* policy value originated.",
          "enumDescriptions": [
            "Default value. The policy source is unknown or not specified.",
            "The policy is provided by Chrome's default settings when running in an enterprise environment.",
            "The policy is managed and pushed from a cloud-based administration console, such as the Google Admin console.",
            "The policy is sourced from Active Directory, primarily for Active Directory-managed ChromeOS devices.",
            "Deprecated: Formerly used when a policy was overridden by ChromeOS for public sessions or kiosk mode.",
            "The policy is set by OS built-in tool on desktop.",
            "Deprecated: Formerly used for cloud policies with higher priority.",
            "The applied policy value is the result of a merge from multiple policy sources.",
            "The policy is set using a command line argument passed to the Chrome executable, usually intended for development or testing.",
            "For ChromeOS, this indicates a policy set by cloud management in the Ash browser and then made available to the Lacros browser.",
            "The policy is set by the restricted managed guest session override."
          ],
          "type": "string",
          "enum": [
            "SOURCE_UNKNOWN",
            "ENTERPRISE_DEFAULT",
            "CLOUD",
            "ACTIVE_DIRECTORY",
            "DEVICE_LOCAL_ACCOUNT_OVERRIDE_DEPRECATED",
            "PLATFORM",
            "PRIORITY_CLOUD_DEPRECATED",
            "MERGED",
            "COMMAND_LINE",
            "CLOUD_FROM_ASH",
            "RESTRICTED_MANAGED_GUEST_SESSION_OVERRIDE"
          ],
          "readOnly": true
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The unique name of the Chrome policy. These names correspond to the policy names listed in [Chrome Enterprise Policy List](https://chromeenterprise.google/policies/)"
        },
        "conflicts": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. A list of other policy values for the same policy name that were not applied due to lower precedence. This field is empty if there were no conflicts.",
          "items": {
            "$ref": "PolicyConflict"
          }
        },
        "value": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The currently applied value of the policy. The format depends on the policy type (e.g., boolean, string, JSON array/object)."
        }
      }
    },
    "PosixGroup": {
      "type": "object",
      "id": "PosixGroup",
      "description": "POSIX Group definition to represent a group in a POSIX compliant system. Caution: POSIX groups are deprecated. As of September 26, 2024, you can no longer create new POSIX groups. For more information, see https://cloud.google.com/identity/docs/deprecations/posix-groups",
      "properties": {
        "name": {
          "description": "Name of the POSIX group.",
          "type": "string"
        },
        "gid": {
          "type": "string",
          "description": "GID of the POSIX group.",
          "format": "uint64"
        },
        "systemId": {
          "description": "System identifier for which group name and gid apply to. If not specified it will default to empty value.",
          "type": "string"
        }
      }
    },
    "WipeDeviceUserResponse": {
      "type": "object",
      "id": "WipeDeviceUserResponse",
      "description": "Response message for wiping the user's account from the device.",
      "properties": {
        "deviceUser": {
          "description": "Resultant DeviceUser object for the action.",
          "$ref": "DeviceUser"
        }
      }
    },
    "ListMembershipsResponse": {
      "type": "object",
      "id": "ListMembershipsResponse",
      "description": "The response message for MembershipsService.ListMemberships.",
      "properties": {
        "memberships": {
          "type": "array",
          "description": "The `Membership`s under the specified `parent`.",
          "items": {
            "$ref": "Membership"
          }
        },
        "nextPageToken": {
          "description": "A continuation token to retrieve the next page of results, or empty if there are no more results available.",
          "type": "string"
        }
      }
    },
    "UpdateMembershipRolesParams": {
      "type": "object",
      "id": "UpdateMembershipRolesParams",
      "description": "The details of an update to a `MembershipRole`.",
      "properties": {
        "membershipRole": {
          "description": "The `MembershipRole`s to be updated. Only `MEMBER` `MembershipRoles` can currently be updated. May only contain a `MembershipRole` with `name` `MEMBER`.",
          "$ref": "MembershipRole"
        },
        "fieldMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "The fully-qualified names of fields to update. May only contain the field `expiry_detail.expire_time`."
        }
      }
    },
    "GoogleAppsCloudidentityDevicesV1UpdateClientStateMetadata": {
      "id": "GoogleAppsCloudidentityDevicesV1UpdateClientStateMetadata",
      "description": "Metadata for UpdateClientState LRO.",
      "properties": {},
      "type": "object"
    },
    "SearchGroupsResponse": {
      "id": "SearchGroupsResponse",
      "description": "The response message for GroupsService.SearchGroups.",
      "properties": {
        "nextPageToken": {
          "description": "A continuation token to retrieve the next page of results, or empty if there are no more results available.",
          "type": "string"
        },
        "groups": {
          "type": "array",
          "description": "The `Group` resources that match the search query.",
          "items": {
            "$ref": "Group"
          }
        }
      },
      "type": "object"
    },
    "ListInboundOidcSsoProfilesResponse": {
      "id": "ListInboundOidcSsoProfilesResponse",
      "description": "Response of the InboundOidcSsoProfilesService.ListInboundOidcSsoProfiles method.",
      "properties": {
        "inboundOidcSsoProfiles": {
          "description": "List of InboundOidcSsoProfiles.",
          "items": {
            "$ref": "InboundOidcSsoProfile"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "MoveOrgMembershipRequest": {
      "type": "object",
      "id": "MoveOrgMembershipRequest",
      "description": "The request message for OrgMembershipsService.MoveOrgMembership.",
      "properties": {
        "customer": {
          "description": "Required. Immutable. Customer on whose membership change is made. All authorization will happen on the role assignments of this customer. Format: customers/{$customerId} where `$customerId` is the `id` from the [Admin SDK `Customer` resource](https://developers.google.com/admin-sdk/directory/reference/rest/v1/customers). You may also use `customers/my_customer` to specify your own organization.",
          "type": "string"
        },
        "destinationOrgUnit": {
          "description": "Required. Immutable. OrgUnit where the membership will be moved to. Format: orgUnits/{$orgUnitId} where `$orgUnitId` is the `orgUnitId` from the [Admin SDK `OrgUnit` resource](https://developers.google.com/admin-sdk/directory/reference/rest/v1/orgunits).",
          "type": "string"
        }
      }
    },
    "TransitiveMembershipRole": {
      "type": "object",
      "id": "TransitiveMembershipRole",
      "description": "Message representing the role of a TransitiveMembership.",
      "properties": {
        "role": {
          "description": "TransitiveMembershipRole in string format. Currently supported TransitiveMembershipRoles: `\"MEMBER\"`, `\"OWNER\"`, and `\"MANAGER\"`.",
          "type": "string"
        }
      }
    },
    "CustomAttributeValue": {
      "type": "object",
      "id": "CustomAttributeValue",
      "description": "Additional custom attribute values may be one of these types",
      "properties": {
        "numberValue": {
          "type": "number",
          "description": "Represents a double value.",
          "format": "double"
        },
        "stringValue": {
          "description": "Represents a string value.",
          "type": "string"
        },
        "boolValue": {
          "description": "Represents a boolean value.",
          "type": "boolean"
        }
      }
    },
    "GoogleAppsCloudidentityDevicesV1ApproveDeviceUserResponse": {
      "id": "GoogleAppsCloudidentityDevicesV1ApproveDeviceUserResponse",
      "description": "Response message for approving the device to access user data.",
      "properties": {
        "deviceUser": {
          "description": "Resultant DeviceUser object for the action.",
          "$ref": "GoogleAppsCloudidentityDevicesV1DeviceUser"
        }
      },
      "type": "object"
    },
    "AndroidAttributes": {
      "id": "AndroidAttributes",
      "description": "Resource representing the Android specific attributes of a Device.",
      "properties": {
        "supportsWorkProfile": {
          "description": "Whether the device supports Android work profiles. If false, this service will not block access to corp data even if an administrator turns on the \"Enforce Work Profile\" policy.",
          "type": "boolean"
        },
        "ownershipPrivilege": {
          "type": "string",
          "enum": [
            "OWNERSHIP_PRIVILEGE_UNSPECIFIED",
            "DEVICE_ADMINISTRATOR",
            "PROFILE_OWNER",
            "DEVICE_OWNER"
          ],
          "description": "Ownership privileges on device.",
          "enumDescriptions": [
            "Ownership privilege is not set.",
            "Active device administrator privileges on the device.",
            "Profile Owner privileges. The account is in a managed corporate profile.",
            "Device Owner privileges on the device."
          ]
        },
        "ownerProfileAccount": {
          "description": "Whether this account is on an owner/primary profile. For phones, only true for owner profiles. Android 4+ devices can have secondary or restricted user profiles.",
          "type": "boolean"
        },
        "verifiedBoot": {
          "description": "Whether Android verified boot status is GREEN.",
          "type": "boolean"
        },
        "hasPotentiallyHarmfulApps": {
          "description": "Whether any potentially harmful apps were detected on the device.",
          "type": "boolean"
        },
        "ctsProfileMatch": {
          "description": "Whether the device passes Android CTS compliance.",
          "type": "boolean"
        },
        "enabledUnknownSources": {
          "description": "Whether applications from unknown sources can be installed on device.",
          "type": "boolean"
        },
        "verifyAppsEnabled": {
          "description": "Whether Google Play Protect Verify Apps is enabled.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "AntivirusInfo": {
      "id": "AntivirusInfo",
      "description": "Resource representing the anti-virus information of a Device.",
      "properties": {
        "displayName": {
          "description": "Output only. The display name of the anti-virus software.",
          "type": "string",
          "readOnly": true
        },
        "productGuid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The GUID of the anti-virus product."
        },
        "productState": {
          "type": "string",
          "enum": [
            "PRODUCT_STATE_UNSPECIFIED",
            "PRODUCT_STATE_ON",
            "PRODUCT_STATE_OFF",
            "PRODUCT_STATE_SNOOZED",
            "PRODUCT_STATE_EXPIRED"
          ],
          "readOnly": true,
          "description": "Output only. The state of the anti-virus.",
          "enumDescriptions": [
            "Default value",
            "The anti-virus is on.",
            "The anti-virus is off.",
            "The anti-virus is snoozed.",
            "The anti-virus is expired."
          ]
        }
      },
      "type": "object"
    },
    "BrowserAttributes": {
      "id": "BrowserAttributes",
      "description": "Contains information about browser profiles reported by the clients on the device (e.g. [Endpoint Verification extension](https://chromewebstore.google.com/detail/endpoint-verification/callobklhcbilhphinckomhgkigmfocg?pli=1)).",
      "properties": {
        "lastProfileSyncTime": {
          "type": "string",
          "description": "Timestamp in milliseconds since the Unix epoch when the profile/gcm id was last synced.",
          "format": "google-datetime"
        },
        "chromeBrowserInfo": {
          "description": "Represents the current state of the [Chrome browser attributes](https://cloud.google.com/access-context-manager/docs/browser-attributes) sent by the clients on the device, such as [Endpoint Verification extension](https://chromewebstore.google.com/detail/endpoint-verification/callobklhcbilhphinckomhgkigmfocg?pli=1).",
          "$ref": "BrowserInfo"
        },
        "chromeProfileId": {
          "description": "Chrome profile ID that is exposed by the Chrome API. It is unique for each device.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "UpdateInboundOidcSsoProfileOperationMetadata": {
      "id": "UpdateInboundOidcSsoProfileOperationMetadata",
      "description": "LRO response metadata for InboundOidcSsoProfilesService.UpdateInboundOidcSsoProfile.",
      "properties": {
        "state": {
          "description": "State of this Operation Will be \"awaiting-multi-party-approval\" when the operation is deferred due to the target customer having enabled [Multi-party approval for sensitive actions](https://support.google.com/a/answer/13790448).",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListPoliciesResponse": {
      "type": "object",
      "id": "ListPoliciesResponse",
      "description": "The response message for PoliciesService.ListPolicies.",
      "properties": {
        "policies": {
          "type": "array",
          "description": "The results",
          "items": {
            "$ref": "Policy"
          }
        },
        "nextPageToken": {
          "description": "The pagination token to retrieve the next page of results. If this field is empty, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleAppsCloudidentityDevicesV1BrowserInfo": {
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1BrowserInfo",
      "description": "Browser-specific fields reported by the [Endpoint Verification extension](https://chromewebstore.google.com/detail/endpoint-verification/callobklhcbilhphinckomhgkigmfocg?pli=1).",
      "properties": {
        "isBuiltInDnsClientEnabled": {
          "description": "Current state of [built-in DNS client](https://chromeenterprise.google/policies/#BuiltInDnsClientEnabled).",
          "type": "boolean"
        },
        "passwordProtectionWarningTrigger": {
          "description": "Current state of [password protection trigger](https://chromeenterprise.google/policies/#PasswordProtectionWarningTrigger).",
          "enumDescriptions": [
            "Password protection is not specified.",
            "Password reuse is never detected.",
            "Warning is shown when the user reuses their protected password on a non-allowed site.",
            "Warning is shown when the user reuses their protected password on a phishing site."
          ],
          "type": "string",
          "enum": [
            "PASSWORD_PROTECTION_TRIGGER_UNSPECIFIED",
            "PROTECTION_OFF",
            "PASSWORD_REUSE",
            "PHISHING_REUSE"
          ]
        },
        "browserVersion": {
          "description": "Version of the request initiating browser. E.g. `91.0.4442.4`.",
          "type": "string"
        },
        "isBulkDataEntryAnalysisEnabled": {
          "description": "Current state of [bulk data analysis](https://chromeenterprise.google/policies/#OnBulkDataEntryEnterpriseConnector). Set to true if provider list from Chrome is non-empty.",
          "type": "boolean"
        },
        "isChromeRemoteDesktopAppBlocked": {
          "description": "Current state of [Chrome Remote Desktop app](https://chromeenterprise.google/policies/#URLBlocklist).",
          "type": "boolean"
        },
        "isSecurityEventAnalysisEnabled": {
          "description": "Current state of [security event analysis](https://chromeenterprise.google/policies/#OnSecurityEventEnterpriseConnector). Set to true if provider list from Chrome is non-empty.",
          "type": "boolean"
        },
        "safeBrowsingProtectionLevel": {
          "type": "string",
          "enum": [
            "SAFE_BROWSING_LEVEL_UNSPECIFIED",
            "DISABLED",
            "STANDARD",
            "ENHANCED"
          ],
          "enumDescriptions": [
            "Browser protection level is not specified.",
            "No protection against dangerous websites, downloads, and extensions.",
            "Standard protection against websites, downloads, and extensions that are known to be dangerous.",
            "Faster, proactive protection against dangerous websites, downloads, and extensions."
          ],
          "description": "Current state of [Safe Browsing protection level](https://chromeenterprise.google/policies/#SafeBrowsingProtectionLevel)."
        },
        "browserManagementState": {
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "UNMANAGED",
            "MANAGED_BY_OTHER_DOMAIN",
            "PROFILE_MANAGED",
            "BROWSER_MANAGED"
          ],
          "readOnly": true,
          "description": "Output only. Browser's management state.",
          "enumDescriptions": [
            "Management state is not specified.",
            "Browser/Profile is not managed by any customer.",
            "Browser/Profile is managed, but by some other customer.",
            "Profile is managed by customer.",
            "Browser is managed by customer."
          ]
        },
        "isFileDownloadAnalysisEnabled": {
          "description": "Current state of [file download analysis](https://chromeenterprise.google/policies/#OnFileDownloadedEnterpriseConnector). Set to true if provider list from Chrome is non-empty.",
          "type": "boolean"
        },
        "isThirdPartyBlockingEnabled": {
          "description": "Current state of [third-party blocking](https://chromeenterprise.google/policies/#ThirdPartyBlockingEnabled).",
          "type": "boolean"
        },
        "isFileUploadAnalysisEnabled": {
          "description": "Current state of [file upload analysis](https://chromeenterprise.google/policies/#OnFileAttachedEnterpriseConnector). Set to true if provider list from Chrome is non-empty.",
          "type": "boolean"
        },
        "isRealtimeUrlCheckEnabled": {
          "description": "Current state of [real-time URL check](https://chromeenterprise.google/policies/#EnterpriseRealTimeUrlCheckMode). Set to true if provider list from Chrome is non-empty.",
          "type": "boolean"
        },
        "isSiteIsolationEnabled": {
          "description": "Current state of [site isolation](https://chromeenterprise.google/policies/?policy=IsolateOrigins).",
          "type": "boolean"
        },
        "isChromeCleanupEnabled": {
          "description": "Deprecated: This field is not used for Chrome version 118 and later. Current state of [Chrome Cleanup](https://chromeenterprise.google/policies/#ChromeCleanupEnabled).",
          "deprecated": true,
          "type": "boolean"
        }
      }
    },
    "AllowlistedDomain": {
      "id": "AllowlistedDomain",
      "description": "This resource object defines a domain that has been designated as allowlisted.",
      "properties": {
        "domain": {
          "description": "Required. Immutable. Name of the domain that is in the allowlist. e.g. \"google.com\"",
          "type": "string"
        },
        "name": {
          "description": "Output only. Identifier. Resource name of the domain in the allowlist e.g. \"allowlistedDomains/0184mhaj1smlusv\"",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "LookupSelfDeviceUsersResponse": {
      "type": "object",
      "id": "LookupSelfDeviceUsersResponse",
      "description": "Response containing resource names of the DeviceUsers associated with the caller's credentials.",
      "properties": {
        "customer": {
          "description": "The customer Id that may be passed back to other Devices API methods such as List, Get, etc.",
          "type": "string"
        },
        "names": {
          "type": "array",
          "description": "[Resource names](https://cloud.google.com/apis/design/resource_names) of the DeviceUsers in the format: `devices/{device_id}/deviceUsers/{user_resource_id}`, where device_id is the unique ID assigned to a Device and user_resource_id is the unique user ID",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results. Empty if there are no more results.",
          "type": "string"
        }
      }
    },
    "MembershipRoleRestrictionEvaluation": {
      "id": "MembershipRoleRestrictionEvaluation",
      "description": "The evaluated state of this restriction.",
      "properties": {
        "state": {
          "description": "Output only. The current state of the restriction",
          "enumDescriptions": [
            "Default. Should not be used.",
            "The member adheres to the parent group's restriction.",
            "The group-group membership might be currently violating some parent group's restriction but in future, it will never allow any new member in the child group which can violate parent group's restriction.",
            "The member violates the parent group's restriction.",
            "The state of the membership is under evaluation."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLIANT",
            "FORWARD_COMPLIANT",
            "NON_COMPLIANT",
            "EVALUATING"
          ],
          "readOnly": true
        }
      },
      "type": "object"
    },
    "CreateInboundOidcSsoProfileOperationMetadata": {
      "type": "object",
      "id": "CreateInboundOidcSsoProfileOperationMetadata",
      "description": "LRO response metadata for InboundOidcSsoProfilesService.CreateInboundOidcSsoProfile.",
      "properties": {
        "state": {
          "description": "State of this Operation Will be \"awaiting-multi-party-approval\" when the operation is deferred due to the target customer having enabled [Multi-party approval for sensitive actions](https://support.google.com/a/answer/13790448).",
          "type": "string"
        }
      }
    },
    "AddIdpCredentialOperationMetadata": {
      "type": "object",
      "id": "AddIdpCredentialOperationMetadata",
      "description": "LRO response metadata for InboundSamlSsoProfilesService.AddIdpCredential.",
      "properties": {
        "state": {
          "description": "State of this Operation Will be \"awaiting-multi-party-approval\" when the operation is deferred due to the target customer having enabled [Multi-party approval for sensitive actions](https://support.google.com/a/answer/13790448).",
          "type": "string"
        }
      }
    },
    "ApproveDeviceUserResponse": {
      "id": "ApproveDeviceUserResponse",
      "description": "Response message for approving the device to access user data.",
      "properties": {
        "deviceUser": {
          "description": "Resultant DeviceUser object for the action.",
          "$ref": "DeviceUser"
        }
      },
      "type": "object"
    },
    "LookupMembershipNameResponse": {
      "type": "object",
      "id": "LookupMembershipNameResponse",
      "description": "The response message for MembershipsService.LookupMembershipName.",
      "properties": {
        "name": {
          "description": "The [resource name](https://cloud.google.com/apis/design/resource_names) of the looked-up `Membership`. Must be of the form `groups/{group_id}/memberships/{membership_id}`.",
          "type": "string"
        }
      }
    },
    "GoogleAppsCloudidentityDevicesV1BlockDeviceUserResponse": {
      "id": "GoogleAppsCloudidentityDevicesV1BlockDeviceUserResponse",
      "description": "Response message for blocking the device from accessing user data.",
      "properties": {
        "deviceUser": {
          "description": "Resultant DeviceUser object for the action.",
          "$ref": "GoogleAppsCloudidentityDevicesV1DeviceUser"
        }
      },
      "type": "object"
    },
    "Group": {
      "id": "Group",
      "description": "A group within the Cloud Identity Groups API. A `Group` is a collection of entities, where each entity is either a user, another group, or a service account.",
      "properties": {
        "groupKey": {
          "description": "Required. The `EntityKey` of the `Group`.",
          "$ref": "EntityKey"
        },
        "posixGroups": {
          "type": "array",
          "description": "Optional. The POSIX groups associated with the `Group`.",
          "items": {
            "$ref": "PosixGroup"
          }
        },
        "name": {
          "description": "Output only. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Group`. Shall be of the form `groups/{group_id}`.",
          "readOnly": true,
          "type": "string"
        },
        "additionalGroupKeys": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Additional group keys associated with the Group.",
          "items": {
            "$ref": "EntityKey"
          }
        },
        "labels": {
          "description": "Required. One or more label entries that apply to the Group. Labels contain a key with an empty value. Google Groups are the default type of group and have a label with a key of `cloudidentity.googleapis.com/groups.discussion_forum` and an empty value. Existing Google Groups can have an additional label with a key of `cloudidentity.googleapis.com/groups.security` and an empty value added to them. **This is an immutable change and the security label cannot be removed once added.** Dynamic groups have a label with a key of `cloudidentity.googleapis.com/groups.dynamic`. Identity-mapped groups for Cloud Search have a label with a key of `system/groups/external` and an empty value. Google Groups can be [locked](https://support.google.com/a?p=locked-groups). To lock a group, add a label with a key of `cloudidentity.googleapis.com/groups.locked` and an empty value. Doing so locks the group. To unlock the group, remove this label.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "externalIds": {
          "type": "array",
          "description": "Optional. External identifiers associated with the `Group`. Enables external identity providers and directory sync tools to link their native unique identifiers with this group. Currently, the only allowable namespace is `\"system/external\"`.",
          "items": {
            "$ref": "ExternalId"
          }
        },
        "parent": {
          "description": "Required. Immutable. The resource name of the entity under which this `Group` resides in the Cloud Identity resource hierarchy. Must be of the form `identitysources/{identity_source}` for external [identity-mapped groups](https://support.google.com/a/answer/9039510) or `customers/{customer_id}` for Google Groups. The `customer_id` must begin with \"C\" (for example, 'C046psxkn'). [Find your customer ID.] (https://support.google.com/cloudidentity/answer/10070793)",
          "type": "string"
        },
        "description": {
          "description": "An extended description to help users determine the purpose of a `Group`. Must not be longer than 4,096 characters.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the `Group` was created."
        },
        "dynamicGroupMetadata": {
          "description": "Optional. Dynamic group metadata like queries and status.",
          "$ref": "DynamicGroupMetadata"
        },
        "displayName": {
          "description": "The display name of the `Group`.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time when the `Group` was last updated.",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "DeviceUser": {
      "id": "DeviceUser",
      "description": "Represents a user's use of a Device in the Cloud Identity Devices API. A DeviceUser is a resource representing a user's use of a Device",
      "properties": {
        "firstSyncTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Most recent time when user registered with this service.",
          "format": "google-datetime"
        },
        "lastSyncTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Last time when user synced with policies."
        },
        "userAgent": {
          "description": "Output only. User agent on the device for this specific user",
          "type": "string",
          "readOnly": true
        },
        "compromisedState": {
          "type": "string",
          "enum": [
            "COMPROMISED_STATE_UNSPECIFIED",
            "COMPROMISED",
            "NOT_COMPROMISED"
          ],
          "enumDescriptions": [
            "Compromised state of Device User account is unknown or unspecified.",
            "Device User Account is compromised.",
            "Device User Account is not compromised."
          ],
          "description": "Compromised State of the DeviceUser object"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "When the user first signed in to the device",
          "type": "string"
        },
        "userEmail": {
          "description": "Email address of the user registered on the device.",
          "type": "string"
        },
        "languageCode": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Default locale used on device, in IETF BCP-47 format."
        },
        "managementState": {
          "type": "string",
          "enum": [
            "MANAGEMENT_STATE_UNSPECIFIED",
            "WIPING",
            "WIPED",
            "APPROVED",
            "BLOCKED",
            "PENDING_APPROVAL",
            "UNENROLLED"
          ],
          "readOnly": true,
          "description": "Output only. Management state of the user on the device.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "This user's data and profile is being removed from the device.",
            "This user's data and profile is removed from the device.",
            "User is approved to access data on the device.",
            "User is blocked from accessing data on the device.",
            "User is awaiting approval.",
            "User is unenrolled from Advanced Windows Management, but the Windows account is still intact."
          ]
        },
        "passwordState": {
          "type": "string",
          "enum": [
            "PASSWORD_STATE_UNSPECIFIED",
            "PASSWORD_SET",
            "PASSWORD_NOT_SET"
          ],
          "enumDescriptions": [
            "Password state not set.",
            "Password set in object.",
            "Password not set in object."
          ],
          "description": "Password state of the DeviceUser object"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the DeviceUser in format: `devices/{device_id}/deviceUsers/{device_user_id}`, where `device_user_id` uniquely identifies a user's use of a device."
        }
      },
      "type": "object"
    },
    "DeleteInboundOidcSsoProfileOperationMetadata": {
      "id": "DeleteInboundOidcSsoProfileOperationMetadata",
      "description": "LRO response metadata for InboundOidcSsoProfilesService.DeleteInboundOidcSsoProfile.",
      "properties": {},
      "type": "object"
    },
    "ApproveDeviceUserRequest": {
      "id": "ApproveDeviceUserRequest",
      "description": "Request message for approving the device to access user data.",
      "properties": {
        "customer": {
          "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer_id}`, where customer_id is the customer to whom the device belongs.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SearchTransitiveMembershipsResponse": {
      "id": "SearchTransitiveMembershipsResponse",
      "description": "The response message for MembershipsService.SearchTransitiveMemberships.",
      "properties": {
        "memberships": {
          "type": "array",
          "description": "List of transitive memberships satisfying the query.",
          "items": {
            "$ref": "MemberRelation"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Policy": {
      "id": "Policy",
      "description": "A Policy resource binds an instance of a single Setting with the scope of a PolicyQuery. The Setting instance will be applied to all entities that satisfy the query.",
      "properties": {
        "policyQuery": {
          "description": "Required. The PolicyQuery the Setting applies to.",
          "$ref": "PolicyQuery"
        },
        "customer": {
          "description": "Immutable. Customer that the Policy belongs to. The value is in the format 'customers/{customerId}'. The `customerId` must begin with \"C\" To find your customer ID in Admin Console see https://support.google.com/a/answer/10070793.",
          "type": "string"
        },
        "setting": {
          "description": "Required. The Setting configured by this Policy.",
          "$ref": "Setting"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Identifier. The [resource name](https://cloud.google.com/apis/design/resource_names) of the Policy. Format: policies/{policy}."
        },
        "type": {
          "description": "Output only. The type of the policy.",
          "enumDescriptions": [
            "Unspecified policy type.",
            "Policy type denoting the system-configured policies.",
            "Policy type denoting the admin-configurable policies."
          ],
          "type": "string",
          "enum": [
            "POLICY_TYPE_UNSPECIFIED",
            "SYSTEM",
            "ADMIN"
          ],
          "readOnly": true
        }
      },
      "type": "object"
    },
    "MemberRestriction": {
      "type": "object",
      "id": "MemberRestriction",
      "description": "The definition of MemberRestriction",
      "properties": {
        "query": {
          "description": "Member Restriction as defined by CEL expression. Supported restrictions are: `member.customer_id` and `member.type`. Valid values for `member.type` are `1`, `2` and `3`. They correspond to USER, SERVICE_ACCOUNT, and GROUP respectively. The value for `member.customer_id` only supports `groupCustomerId()` currently which means the customer id of the group will be used for restriction. Supported operators are `&&`, `||` and `==`, corresponding to AND, OR, and EQUAL. Examples: Allow only service accounts of given customer to be members. `member.type == 2 && member.customer_id == groupCustomerId()` Allow only users or groups to be members. `member.type == 1 || member.type == 3`",
          "type": "string"
        },
        "evaluation": {
          "description": "The evaluated state of this restriction on a group.",
          "$ref": "RestrictionEvaluation"
        }
      }
    },
    "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceUserMetadata": {
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceUserMetadata",
      "description": "Metadata for CancelWipeDeviceUser LRO.",
      "properties": {}
    },
    "CancelWipeDeviceResponse": {
      "type": "object",
      "id": "CancelWipeDeviceResponse",
      "description": "Response message for cancelling an unfinished device wipe.",
      "properties": {
        "device": {
          "description": "Resultant Device object for the action. Note that asset tags will not be returned in the device object.",
          "$ref": "Device"
        }
      }
    },
    "ListInboundSsoAssignmentsResponse": {
      "id": "ListInboundSsoAssignmentsResponse",
      "description": "Response of the InboundSsoAssignmentsService.ListInboundSsoAssignments method.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "inboundSsoAssignments": {
          "description": "The assignments.",
          "items": {
            "$ref": "InboundSsoAssignment"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ModifyMembershipRolesResponse": {
      "id": "ModifyMembershipRolesResponse",
      "description": "The response message for MembershipsService.ModifyMembershipRoles.",
      "properties": {
        "membership": {
          "description": "The `Membership` resource after modifying its `MembershipRole`s.",
          "$ref": "Membership"
        }
      },
      "type": "object"
    },
    "CreateInboundSsoAssignmentOperationMetadata": {
      "type": "object",
      "id": "CreateInboundSsoAssignmentOperationMetadata",
      "description": "LRO response metadata for InboundSsoAssignmentsService.CreateInboundSsoAssignment.",
      "properties": {}
    },
    "GoogleAppsCloudidentityDevicesV1ApproveDeviceUserMetadata": {
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1ApproveDeviceUserMetadata",
      "description": "Metadata for ApproveDeviceUser LRO.",
      "properties": {}
    },
    "GoogleAppsCloudidentityDevicesV1SignoutDeviceUserMetadata": {
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1SignoutDeviceUserMetadata",
      "description": "Metadata for SignoutDeviceUser LRO.",
      "properties": {}
    },
    "AddIdpCredentialRequest": {
      "id": "AddIdpCredentialRequest",
      "description": "The request for creating an IdpCredential with its associated payload. An InboundSamlSsoProfile can own up to 2 credentials.",
      "properties": {
        "pemData": {
          "description": "PEM encoded x509 certificate containing the public key for verifying IdP signatures.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ExternalId": {
      "type": "object",
      "id": "ExternalId",
      "description": "An external identifier for an entity in the Cloud Identity Groups API. Used to link a `Group` in Cloud Identity Groups API with a corresponding entity in an external identity system or directory.",
      "properties": {
        "id": {
          "description": "Required. The unique identifier assigned by the external identity provider. The API does not enforce uniqueness of IDs across entities, but clients should ensure IDs are unique within their namespace.",
          "type": "string"
        },
        "namespace": {
          "description": "Required. The namespace in which the entity exists. Cannot be empty. Currently, the only allowable namespace is `\"system/external\"`.",
          "type": "string"
        }
      }
    },
    "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceMetadata": {
      "id": "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceMetadata",
      "description": "Metadata for CancelWipeDevice LRO.",
      "properties": {},
      "type": "object"
    },
    "CancelWipeDeviceUserRequest": {
      "type": "object",
      "id": "CancelWipeDeviceUserRequest",
      "description": "Request message for cancelling an unfinished user account wipe.",
      "properties": {
        "customer": {
          "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer_id}`, where customer_id is the customer to whom the device belongs.",
          "type": "string"
        }
      }
    },
    "ListOrgMembershipsResponse": {
      "type": "object",
      "id": "ListOrgMembershipsResponse",
      "description": "The response message for OrgMembershipsService.ListOrgMemberships.",
      "properties": {
        "orgMemberships": {
          "description": "The non-vacuous membership in an orgUnit.",
          "items": {
            "$ref": "OrgMembership"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "OidcRpConfig": {
      "id": "OidcRpConfig",
      "description": "OIDC RP (relying party) configuration.",
      "properties": {
        "redirectUris": {
          "description": "Output only. The URL(s) that this client may use in authentication requests.",
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true
        },
        "clientId": {
          "description": "OAuth2 client ID for OIDC.",
          "type": "string"
        },
        "clientSecret": {
          "description": "Input only. OAuth2 client secret for OIDC.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "WipeDeviceRequest": {
      "type": "object",
      "id": "WipeDeviceRequest",
      "description": "Request message for wiping all data on the device.",
      "properties": {
        "customer": {
          "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer_id}`, where customer_id is the customer to whom the device belongs.",
          "type": "string"
        },
        "removeResetLock": {
          "description": "Optional. Specifies if a user is able to factory reset a device after a Device Wipe. On iOS, this is called \"Activation Lock\", while on Android, this is known as \"Factory Reset Protection\". If true, this protection will be removed from the device, so that a user can successfully factory reset. If false, the setting is untouched on the device.",
          "type": "boolean"
        }
      }
    },
    "GoogleAppsCloudidentityDevicesV1CreateDeviceMetadata": {
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1CreateDeviceMetadata",
      "description": "Metadata for CreateDevice LRO.",
      "properties": {}
    },
    "GoogleAppsCloudidentityDevicesV1WipeDeviceUserMetadata": {
      "id": "GoogleAppsCloudidentityDevicesV1WipeDeviceUserMetadata",
      "description": "Metadata for WipeDeviceUser LRO.",
      "properties": {},
      "type": "object"
    },
    "MembershipRelation": {
      "id": "MembershipRelation",
      "description": "Message containing membership relation.",
      "properties": {
        "labels": {
          "description": "One or more label entries that apply to the Group. Currently supported labels contain a key with an empty value.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "roles": {
          "description": "The `MembershipRole`s that apply to the `Membership`.",
          "items": {
            "$ref": "MembershipRole"
          },
          "type": "array"
        },
        "groupKey": {
          "description": "The `EntityKey` of the `Group`.",
          "$ref": "EntityKey"
        },
        "description": {
          "description": "An extended description to help users determine the purpose of a `Group`.",
          "type": "string"
        },
        "group": {
          "description": "The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Group`. Shall be of the form `groups/{group_id}`.",
          "type": "string"
        },
        "displayName": {
          "description": "The display name of the `Group`.",
          "type": "string"
        },
        "membership": {
          "description": "The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Membership`. Shall be of the form `groups/{group_id}/memberships/{membership_id}`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListDeviceUsersResponse": {
      "id": "ListDeviceUsersResponse",
      "description": "Response message that is returned from the ListDeviceUsers method.",
      "properties": {
        "deviceUsers": {
          "type": "array",
          "description": "Devices meeting the list restrictions.",
          "items": {
            "$ref": "DeviceUser"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results. Empty if there are no more results.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceUserResponse": {
      "id": "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceUserResponse",
      "description": "Response message for cancelling an unfinished user account wipe.",
      "properties": {
        "deviceUser": {
          "description": "Resultant DeviceUser object for the action.",
          "$ref": "GoogleAppsCloudidentityDevicesV1DeviceUser"
        }
      },
      "type": "object"
    },
    "RestrictionEvaluations": {
      "id": "RestrictionEvaluations",
      "description": "Evaluations of restrictions applied to parent group on this membership.",
      "properties": {
        "memberRestrictionEvaluation": {
          "description": "Evaluation of the member restriction applied to this membership. Empty if the user lacks permission to view the restriction evaluation.",
          "$ref": "MembershipRoleRestrictionEvaluation"
        }
      },
      "type": "object"
    },
    "PolicyQuery": {
      "id": "PolicyQuery",
      "description": "PolicyQuery",
      "properties": {
        "query": {
          "description": "Immutable. The CEL query that defines which entities the Policy applies to (ex. a User entity). For details about CEL see https://opensource.google.com/projects/cel. The OrgUnits the Policy applies to are represented by a clause like so: entity.org_units.exists(org_unit, org_unit.org_unit_id == orgUnitId('{orgUnitId}')) The Group the Policy applies to are represented by a clause like so: entity.groups.exists(group, group.group_id == groupId('{groupId}')) The Licenses the Policy applies to are represented by a clause like so: entity.licenses.exists(license, license in ['/product/{productId}/sku/{skuId}']) **Note:** The licenses clause is not supported in mutate endpoints. The above clauses can be present in any combination, and used in conjunction with the &&, || and ! operators. The org_unit and group fields below are helper fields that contain the corresponding value(s) as the query to make the query easier to use.",
          "type": "string"
        },
        "sortOrder": {
          "type": "number",
          "readOnly": true,
          "description": "Output only. The decimal sort order of this PolicyQuery. The value is relative to all other policies with the same setting type for the customer. (There are no duplicates within this set).",
          "format": "double"
        },
        "group": {
          "description": "Immutable. The group that the query applies to. This field is only set if there is a single value for group that satisfies all clauses of the query. If no group applies, this will be the empty string.",
          "type": "string"
        },
        "orgUnit": {
          "description": "Required. Immutable. Non-empty default. The OrgUnit the query applies to. This field is only set if there is a single value for org_unit that satisfies all clauses of the query.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "response": {
          "type": "object",
[...]
