{
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "revision": "20260911",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-billing.readonly": {
          "description": "View your Google Cloud Platform billing accounts"
        },
        "https://www.googleapis.com/auth/cloud-billing": {
          "description": "View and manage your Google Cloud Platform billing accounts"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "baseUrl": "https://cloudbilling.googleapis.com/",
  "mtlsRootUrl": "https://cloudbilling.mtls.googleapis.com/",
  "protocol": "rest",
  "canonicalName": "Cloudbilling",
  "ownerDomain": "google.com",
  "resources": {
    "v1beta": {
      "methods": {
        "generateInsights": {
          "id": "cloudbilling.generateInsights",
          "flatPath": "v1beta:generateInsights",
          "parameters": {},
          "description": "Analyzes cost data for a billing account and/or specific projects. Returns a natural language summary and supporting datasets.",
          "request": {
            "$ref": "GenerateInsightsRequest"
          },
          "httpMethod": "POST",
          "parameterOrder": [],
          "response": {
            "$ref": "GenerateInsightsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-billing",
            "https://www.googleapis.com/auth/cloud-billing.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta:generateInsights"
        }
      }
    },
    "skuGroups": {
      "methods": {
        "get": {
          "id": "cloudbilling.skuGroups.get",
          "flatPath": "v1beta/skuGroups/{skuGroupsId}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-billing",
            "https://www.googleapis.com/auth/cloud-billing.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "path": "v1beta/{+name}",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^skuGroups/[^/]+$",
              "location": "path",
              "description": "Required. The name of the SKU group to retrieve. Format: skuGroups/{sku_group}",
              "type": "string"
            }
          },
          "response": {
            "$ref": "GoogleCloudBillingSkugroupsV1betaSkuGroup"
          },
          "description": "Gets a publicly listed SKU group."
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-billing",
            "https://www.googleapis.com/auth/cloud-billing.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "GoogleCloudBillingSkugroupsV1betaListSkuGroupsResponse"
          },
          "description": "Lists all publicly listed SKU groups.",
          "parameterOrder": [],
          "httpMethod": "GET",
          "id": "cloudbilling.skuGroups.list",
          "path": "v1beta/skuGroups",
          "flatPath": "v1beta/skuGroups",
          "parameters": {
            "pageSize": {
              "format": "int32",
              "type": "integer",
              "description": "Maximum number of SKU groups to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000.",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Page token received from a previous ListSkuGroups call to retrieve the next page of results. If this field is empty, the first page is returned."
            }
          }
        }
      },
      "resources": {
        "skus": {
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the SKU group SKU to retrieve. Format: skuGroups/{sku_group}/skus/{sku}",
                  "location": "path",
                  "pattern": "^skuGroups/[^/]+/skus/[^/]+$",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleCloudBillingSkugroupskusV1betaSkuGroupSku"
              },
              "description": "Gets a publicly listed SKU that is part of a publicly listed SKU group.",
              "flatPath": "v1beta/skuGroups/{skuGroupsId}/skus/{skusId}",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}",
              "id": "cloudbilling.skuGroups.skus.get"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta/{+parent}/skus",
              "flatPath": "v1beta/skuGroups/{skuGroupsId}/skus",
              "httpMethod": "GET",
              "id": "cloudbilling.skuGroups.skus.list",
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^skuGroups/[^/]+$",
                  "location": "path",
                  "description": "Required. The SkuGroup to list SkuGroupSku from. Format: skuGroups/{sku_group}",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Maximum number of SKU group SKUs to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "Page token received from a previous ListSkuGroupSkus call to retrieve the next page of results. If this field is empty, the first page is returned.",
                  "type": "string",
                  "location": "query"
                }
              },
              "description": "Lists all publicly listed SKUs contained by a publicly listed SKU group.",
              "response": {
                "$ref": "GoogleCloudBillingSkugroupskusV1betaListSkuGroupSkusResponse"
              },
              "parameterOrder": [
                "parent"
              ]
            }
          }
        }
      }
    },
    "billingAccounts": {
      "resources": {
        "skus": {
          "methods": {
            "get": {
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^billingAccounts/[^/]+/skus/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the billing account SKU to retrieve. Format: billingAccounts/{billing_account}/skus/{sku}"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Gets a SKU visible to a billing account.",
              "id": "cloudbilling.billingAccounts.skus.get",
              "httpMethod": "GET",
              "path": "v1beta/{+name}",
              "response": {
                "$ref": "GoogleCloudBillingBillingaccountskusV1betaBillingAccountSku"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skus/{skusId}"
            },
            "list": {
              "parameters": {
                "pageToken": {
                  "description": "Page token received from a previous ListBillingAccountSkus call to retrieve the next page of results. If this field is empty, the first page is returned.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "Maximum number of billing account SKUs to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000.",
                  "type": "integer",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "pattern": "^billingAccounts/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The billing account to list billing account SKU from. Format: billingAccounts/{billing_account}"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Options for how to filter the billing account SKUs. Currently, only filter on `billing_account_service` is supported. Only !=, = operators are supported. Examples: - billing_account_service = \"billingAccounts/012345-567890-ABCDEF/services/DA34-426B-A397\""
                }
              },
              "response": {
                "$ref": "GoogleCloudBillingBillingaccountskusV1betaListBillingAccountSkusResponse"
              },
              "description": "Lists SKUs visible to a billing account.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "path": "v1beta/{+parent}/skus",
              "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skus",
              "id": "cloudbilling.billingAccounts.skus.list",
              "parameterOrder": [
                "parent"
              ]
            }
          },
          "resources": {
            "price": {
              "methods": {
                "get": {
                  "parameters": {
                    "currencyCode": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. ISO-4217 currency code for the price. If not specified, the currency of the billing account is used."
                    },
                    "name": {
                      "required": true,
                      "pattern": "^billingAccounts/[^/]+/skus/[^/]+/price$",
                      "type": "string",
                      "description": "Required. Name of the billing account price to retrieve. Format: billingAccounts/{billing_account}/skus/{sku}/price",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudBillingBillingaccountpricesV1betaBillingAccountPrice"
                  },
                  "description": "Gets the latest price for SKUs available to your Cloud Billing account.",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta/{+name}",
                  "httpMethod": "GET",
                  "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skus/{skusId}/price",
                  "id": "cloudbilling.billingAccounts.skus.price.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-billing",
                    "https://www.googleapis.com/auth/cloud-billing.readonly",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "prices": {
              "methods": {
                "list": {
                  "description": "Lists the latest prices for SKUs available to your Cloud Billing account.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-billing",
                    "https://www.googleapis.com/auth/cloud-billing.readonly",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skus/{skusId}/prices",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "cloudbilling.billingAccounts.skus.prices.list",
                  "parameters": {
                    "parent": {
                      "description": "Required. To list all Billing Account SKUs, use `-` as the SKU ID. Format: `billingAccounts/{billing_account}/skus/-` Note: Specifying an actual SKU resource id will return a collection of one Billing Account Price.",
                      "location": "path",
                      "pattern": "^billingAccounts/[^/]+/skus/[^/]+$",
                      "type": "string",
                      "required": true
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. Maximum number of billing account price to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000."
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. Page token received from a previous ListBillingAccountPrices call to retrieve the next page of results. If this field is empty, the first page is returned.",
                      "type": "string"
                    },
                    "currencyCode": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. ISO-4217 currency code for the price. If not specified, currency of billing account will be used."
                    }
                  },
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudBillingBillingaccountpricesV1betaListBillingAccountPricesResponse"
                  },
                  "path": "v1beta/{+parent}/prices"
                }
              }
            }
          }
        },
        "services": {
          "methods": {
            "list": {
              "id": "cloudbilling.billingAccounts.services.list",
              "path": "v1beta/{+parent}/services",
              "response": {
                "$ref": "GoogleCloudBillingBillingaccountservicesV1betaListBillingAccountServicesResponse"
              },
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "Page token received from a previous ListBillingAccountServices call to retrieve the next page of results. If this field is empty, the first page is returned.",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "pattern": "^billingAccounts/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The billing account to list billing account service from. Format: billingAccounts/{billing_account}"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "Maximum number of billing account service to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000.",
                  "location": "query"
                }
              },
              "flatPath": "v1beta/billingAccounts/{billingAccountsId}/services",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists services visible to a billing account."
            },
            "get": {
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^billingAccounts/[^/]+/services/[^/]+$",
                  "description": "Required. The name of the billing account service to retrieve. Format: billingAccounts/{billing_account}/services/{service}",
                  "required": true
                }
              },
              "flatPath": "v1beta/billingAccounts/{billingAccountsId}/services/{servicesId}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudBillingBillingaccountservicesV1betaBillingAccountService"
              },
              "id": "cloudbilling.billingAccounts.services.get",
              "description": "Gets a Google Cloud service visible to a billing account.",
              "path": "v1beta/{+name}"
            }
          }
        },
        "skuGroups": {
          "methods": {
            "list": {
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^billingAccounts/[^/]+$",
                  "description": "Required. The billing account to list billing account SKU groups from. Format: billingAccounts/{billing_account}",
                  "type": "string",
                  "location": "path"
                },
                "pageToken": {
                  "description": "Page token received from a previous ListBillingAccountSkuGroups call to retrieve the next page of results. If this field is empty, the first page is returned.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "description": "Maximum number of billing account SKU groups to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000.",
                  "format": "int32",
                  "type": "integer"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skuGroups",
              "httpMethod": "GET",
              "description": "Lists SKU groups visible to a billing account.",
              "path": "v1beta/{+parent}/skuGroups",
              "response": {
                "$ref": "GoogleCloudBillingBillingaccountskugroupsV1betaListBillingAccountSkuGroupsResponse"
              },
              "id": "cloudbilling.billingAccounts.skuGroups.list"
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The name of the BillingAccountSkuGroup to retrieve. Format: billingAccounts/{billing_account}/skuGroups/{sku_group}",
                  "type": "string",
                  "location": "path",
                  "pattern": "^billingAccounts/[^/]+/skuGroups/[^/]+$"
                }
              },
              "id": "cloudbilling.billingAccounts.skuGroups.get",
              "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skuGroups/{skuGroupsId}",
              "description": "Gets a SKU group visible to a billing account.",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudBillingBillingaccountskugroupsV1betaBillingAccountSkuGroup"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta/{+name}"
            }
          },
          "resources": {
            "skus": {
              "methods": {
                "get": {
                  "description": "Gets a SKU that is part of a billing account SKU group.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-billing",
                    "https://www.googleapis.com/auth/cloud-billing.readonly",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skuGroups/{skuGroupsId}/skus/{skusId}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "cloudbilling.billingAccounts.skuGroups.skus.get",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^billingAccounts/[^/]+/skuGroups/[^/]+/skus/[^/]+$",
                      "description": "Required. The name of the billing account SKU group SKU to retrieve. Format: billingAccounts/{billing_account}/skuGroups/{sku_group}/skus/{sku}",
                      "location": "path"
                    }
                  },
                  "path": "v1beta/{+name}",
                  "response": {
                    "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaBillingAccountSkuGroupSku"
                  }
                },
                "list": {
                  "response": {
                    "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaListBillingAccountSkuGroupSkusResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists SKUs that is part of billing account SKU groups.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-billing",
                    "https://www.googleapis.com/auth/cloud-billing.readonly",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^billingAccounts/[^/]+/skuGroups/[^/]+$",
                      "type": "string",
                      "description": "Required. The billing account SKU group to list billing account SKU group SKUs from. Format: billingAccounts/{billing_account}/skuGroups/{sku_group}",
                      "required": true
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "Maximum number of billing account SKU group SKUs to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000."
                    },
                    "pageToken": {
                      "description": "Page token received from a previous ListBillingAccountSkuGroupSkus call to retrieve the next page of results. If this field is empty, the first page is returned.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skuGroups/{skuGroupsId}/skus",
                  "id": "cloudbilling.billingAccounts.skuGroups.skus.list",
                  "httpMethod": "GET",
                  "path": "v1beta/{+parent}/skus"
                }
              }
            }
          }
        }
      }
    },
    "skus": {
      "resources": {
        "prices": {
          "methods": {
            "list": {
              "id": "cloudbilling.skus.prices.list",
              "flatPath": "v1beta/skus/{skusId}/prices",
              "path": "v1beta/{+parent}/prices",
              "response": {
                "$ref": "GoogleCloudBillingPricesV1betaListPricesResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageToken": {
                  "description": "Optional. Page token received from a previous ListPrices call to retrieve the next page of results. If this field is empty, the first page is returned.",
                  "type": "string",
                  "location": "query"
                },
                "currencyCode": {
                  "description": "Optional. ISO-4217 currency code for the price. If not specified, USD will be used.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "Optional. Maximum number of prices to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000."
                },
                "parent": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^skus/[^/]+$",
                  "required": true,
                  "description": "Required. To list the prices for all SKUs, use `-` as the SKU ID. Format: `skus/-` Specifying a specific SKU ID returns a collection with one Price object for the SKU."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists the latest prices for all SKUs.",
              "httpMethod": "GET"
            }
          }
        },
        "price": {
          "methods": {
            "get": {
              "id": "cloudbilling.skus.price.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta/skus/{skusId}/price",
              "path": "v1beta/{+name}",
              "description": "Gets the latest price for the given SKU.",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. Name of the latest price to retrieve. Format: skus/{sku}/price",
                  "pattern": "^skus/[^/]+/price$",
                  "location": "path",
                  "type": "string"
                },
                "currencyCode": {
                  "description": "Optional. ISO-4217 currency code for the price. If not specified, USD will be used.",
                  "type": "string",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "GoogleCloudBillingPricesV1betaPrice"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET"
            }
          }
        }
      }
    }
  },
  "title": "Cloud Billing API",
  "batchPath": "batch",
  "documentationLink": "https://cloud.google.com/billing/docs/apis",
  "id": "cloudbilling:v1beta",
  "version": "v1beta",
  "rootUrl": "https://cloudbilling.googleapis.com/",
  "parameters": {
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "GoogleCloudBillingPricesV1betaRate": {
      "properties": {
        "aggregationInfo": {
          "description": "Aggregation info for tiers such as aggregation level and interval.",
          "$ref": "GoogleCloudBillingPricesV1betaAggregationInfo"
        },
        "tiers": {
          "items": {
            "$ref": "GoogleCloudBillingPricesV1betaRateTier"
          },
          "type": "array",
          "description": "All tiers associated with the `Rate` price."
        },
        "unitInfo": {
          "$ref": "GoogleCloudBillingPricesV1betaUnitInfo",
          "description": "Unit info such as name and quantity."
        }
      },
      "description": "Encapsulates a `Rate` price. SKUs with `Rate` price are offered by pricing tiers. The price have 1 or more rate pricing tiers.",
      "id": "GoogleCloudBillingPricesV1betaRate",
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountpricesV1betaBillingAccountPrice": {
      "description": "Encapsulates the latest price for a billing account SKU.",
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaBillingAccountPrice",
      "properties": {
        "priceReason": {
          "description": "Background information on the origin of the price.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaPriceReason"
        },
        "currencyCode": {
          "description": "ISO-4217 currency code for the price.",
          "type": "string"
        },
        "name": {
          "description": "Resource name for the latest billing account price.",
          "type": "string"
        },
        "valueType": {
          "description": "Type of the price. The possible values are: [\"unspecified\", \"rate\"].",
          "type": "string"
        },
        "rate": {
          "description": "Rate price metadata. Billing account SKUs with `Rate` price are offered by pricing tiers. The price can have 1 or more rate pricing tiers.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaRate"
        }
      }
    },
    "GoogleCloudBillingBillingaccountskusV1betaListBillingAccountSkusResponse": {
      "id": "GoogleCloudBillingBillingaccountskusV1betaListBillingAccountSkusResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        },
        "billingAccountSkus": {
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskusV1betaBillingAccountSku"
          },
          "description": "The returned billing account SKUs.",
          "type": "array"
        }
      },
      "description": "Response message for ListBillingAccountSkus.",
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountpricesV1betaFixedDiscount": {
      "id": "GoogleCloudBillingBillingaccountpricesV1betaFixedDiscount",
      "description": "Encapsulates a discount off the list price, anchored to the list price as of a fixed time.",
      "properties": {
        "discountPercent": {
          "description": "Percentage of the fixed discount.",
          "$ref": "Decimal"
        },
        "skuGroup": {
          "type": "string",
          "description": "SKU group where the fixed discount comes from."
        },
        "fixTime": {
          "format": "google-datetime",
          "description": "Time that the fixed discount is anchored to.",
          "type": "string"
        },
        "discountScopeType": {
          "type": "string",
          "description": "Type of the fixed discount scope which indicates the source of the discount. It can have values such as 'unspecified' and 'sku-group'."
        }
      },
      "type": "object"
    },
    "GoogleCloudBillingPricesV1betaUnitInfo": {
      "id": "GoogleCloudBillingPricesV1betaUnitInfo",
      "description": "Encapsulates the unit information for a Rate",
      "properties": {
        "unit": {
          "type": "string",
          "description": "Shorthand for the unit. Example: GiBy.mo."
        },
        "unitDescription": {
          "description": "Human-readable description of the unit. Example: gibibyte month.",
          "type": "string"
        },
        "unitQuantity": {
          "$ref": "Decimal",
          "description": "Unit quantity for the tier. Example: if the RateTier price is $1 per 1000000 Bytes, then `unit_quantity` is set to 1000000."
        }
      },
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountpricesV1betaUnitInfo": {
      "id": "GoogleCloudBillingBillingaccountpricesV1betaUnitInfo",
      "type": "object",
      "properties": {
        "unitDescription": {
          "description": "Human-readable description of the unit. Example: gibibyte month.",
          "type": "string"
        },
        "unitQuantity": {
          "description": "Unit quantity for the tier. Example: if the RateTier price is $1 per 1000000 Bytes, then `unit_quantity` is set to 1000000.",
          "$ref": "Decimal"
        },
        "unit": {
          "type": "string",
          "description": "Shorthand for the unit. Example: GiBy.mo."
        }
      },
      "description": "Encapsulates the unit information for a Rate"
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegion": {
      "type": "object",
      "description": "Encapsulates a Google Cloud region.",
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegion",
      "properties": {
        "region": {
          "type": "string",
          "description": "Description of a Google Cloud region. Example: \"us-west2\"."
        }
      }
    },
    "Datetime": {
      "description": "A datetime value.",
      "id": "Datetime",
      "type": "object",
      "properties": {
        "bitFieldDatetimeSeconds": {
          "format": "int64",
          "type": "string",
          "description": "Represents bit field encoding of year/month/day/hour/minute/second. See class DatetimeValue in civil_time.h for details of encoding."
        },
        "nanos": {
          "description": "Non-negative fractions of a second at nanosecond resolution.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleCloudBillingBillingaccountskusV1betaProductTaxonomy": {
      "properties": {
        "taxonomyCategories": {
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskusV1betaTaxonomyCategory"
          },
          "type": "array",
          "description": "All product categories that the billing account SKU belong to."
        }
      },
      "description": "Encapsulates product categories, such as `Serverless`, `Cloud Run`, `TaskQueue`, and others.",
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountskusV1betaProductTaxonomy"
    },
    "GoogleCloudBillingBillingaccountpricesV1betaRateTier": {
      "id": "GoogleCloudBillingBillingaccountpricesV1betaRateTier",
      "properties": {
        "listPrice": {
          "$ref": "Money",
          "description": "List price of one tier."
        },
        "startAmount": {
          "description": "Lower bound amount for a tier. Tiers 0-100, 100-200 will be represented with two tiers with `start_amount` 0 and 100.",
          "$ref": "Decimal"
        },
        "contractPrice": {
          "description": "Negotiated contract price specific for a billing account.",
          "$ref": "Money"
        },
        "effectiveDiscountPercent": {
          "$ref": "Decimal",
          "description": "Percentage of effective discount calculated using the current list price per pricing tier. Formula used: effective_discount_percent = (list_price - contract_price) / list_price × 100 If list_price and contract_price are zero, this field is the same as `discount_percent` of FixedDiscount and FloatingDiscount. If your contract does NOT have the feature LIST_PRICE_AS_CEILING enabled, the effective_discount_percent can be negative if the SKU has a FixedDiscount and the current list price is lower than the list price on the date of the contract agreement. See the `FixedDiscount.fix_time` on when the discount was set. If you have questions regarding pricing per SKU, contact your Account team for more details."
        }
      },
      "type": "object",
      "description": "Encapsulates a rate price tier."
    },
    "GoogleCloudBillingBillingaccountpricesV1betaAggregationInfo": {
      "id": "GoogleCloudBillingBillingaccountpricesV1betaAggregationInfo",
      "properties": {
        "level": {
          "description": "Level at which usage is aggregated to compute cost. Example: \"ACCOUNT\" level indicates that usage is aggregated across all projects in a single account.",
          "type": "string",
          "enum": [
            "LEVEL_UNSPECIFIED",
            "LEVEL_ACCOUNT",
            "LEVEL_PROJECT"
          ],
          "enumDescriptions": [
            "Default unspecified value.",
            "Usage is aggregated at an account level.",
            "Usage is aggregated at a project level."
          ]
        },
        "interval": {
          "type": "string",
          "enum": [
            "INTERVAL_UNSPECIFIED",
            "INTERVAL_MONTHLY",
            "INTERVAL_DAILY"
          ],
          "description": "Interval at which usage is aggregated to compute cost. Example: \"MONTHLY\" interval indicates that usage is aggregated every month.",
          "enumDescriptions": [
            "Default unspecified value.",
            "Usage is aggregated every month.",
            "Usage is aggregated every day."
          ]
        }
      },
      "type": "object",
      "description": "Encapsulates the aggregation information such as aggregation level and interval for a billing account price."
    },
    "GoogleCloudBillingSkugroupsV1betaSkuGroup": {
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Description of the SKU group. Example: \"A2 VMs (1 Year CUD)\".",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Resource name for the SKU group. Example: \"skuGroups/0e6403d1-4694-44d2-a696-7a78b1a69301\"."
        }
      },
      "description": "Encapsulates a publicly listed stock keeping unit (SKU) group. A SKU group represents a collection of SKUs that are related to each other. For example, the `AI Platform APIs` SKU group includes SKUs from the Cloud Dialogflow API, the Cloud Text-to-Speech API, and additional related APIs.",
      "id": "GoogleCloudBillingSkugroupsV1betaSkuGroup"
    },
    "SuggestedChart": {
      "type": "object",
      "description": "A suggested chart for the data set, used for UI rendering.",
      "properties": {
        "xAxisLabel": {
          "description": "The label of the x-axis.",
          "type": "string"
        },
        "seriesField": {
          "description": "The field used for the series (e.g., color-coding). Optional, but recommended for time-series data.",
          "type": "string"
        },
        "chartType": {
          "type": "string",
          "enum": [
            "CHART_TYPE_UNSPECIFIED",
            "BAR_CHART",
            "UNCHARTABLE",
            "LINE_CHART",
            "AREA_CHART"
          ],
          "description": "The type of the chart.",
          "enumDescriptions": [
            "Default value. Should not be used.",
            "Represents a bar chart.",
            "The data set cannot be rendered as a chart.",
            "Represents a line chart. Suitable for quantitative and temporal data on the x-axis.",
            "Represents an area chart."
          ]
        },
        "yAxisLabel": {
          "description": "The label of the y-axis.",
          "type": "string"
        },
        "xAxisField": {
          "type": "string",
          "description": "The field used for the x-axis."
        },
        "yAxisField": {
          "type": "string",
          "description": "The field used for the y-axis."
        },
        "chartTitle": {
          "type": "string",
          "description": "The title of the chart."
        }
      },
      "id": "SuggestedChart"
    },
    "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyGlobal": {
      "id": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyGlobal",
      "properties": {},
      "description": "Encapsulates a global geographic taxonomy.",
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountskusV1betaTaxonomyCategory": {
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountskusV1betaTaxonomyCategory",
      "properties": {
        "category": {
          "description": "Name of the product category.",
          "type": "string"
        }
      },
      "description": "Encapsulates a product category."
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaTaxonomyCategory": {
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaTaxonomyCategory",
      "description": "Encapsulates a product category.",
      "properties": {
        "category": {
          "type": "string",
          "description": "Name of the product category."
        }
      }
    },
    "GoogleCloudBillingPricesV1betaRateTier": {
      "id": "GoogleCloudBillingPricesV1betaRateTier",
      "type": "object",
      "description": "Encapsulates a rate price tier.",
      "properties": {
        "listPrice": {
          "description": "List price of one tier.",
          "$ref": "Money"
        },
        "startAmount": {
          "$ref": "Decimal",
          "description": "Lower bound amount for a tier. Tiers 0-100, 100-200 will be represented with two tiers with `start_amount` 0 and 100."
        }
      }
    },
    "GoogleCloudBillingBillingaccountpricesV1betaMigratedPrice": {
      "description": "Encapsulates a price migrated from other SKUs.",
      "properties": {
        "sourceSku": {
          "description": "Source SKU where the discount is migrated from. Format: billingAccounts/{billing_account}/skus/{sku}",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaMigratedPrice"
    },
    "Array": {
      "id": "Array",
      "description": "An ordered collection of elements of arbitrary count.",
      "properties": {
        "element": {
          "items": {
            "$ref": "ValueProto"
          },
          "type": "array",
          "description": "The elements of the array."
        }
      },
      "type": "object"
    },
    "Money": {
      "type": "object",
      "description": "Represents an amount of money with its currency type.",
      "id": "Money",
      "properties": {
        "currencyCode": {
          "type": "string",
          "description": "The three-letter currency code defined in ISO 4217."
        },
        "units": {
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "type": "string",
          "format": "int64"
        },
        "nanos": {
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudBillingBillingaccountpricesV1betaRate": {
      "properties": {
        "unitInfo": {
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaUnitInfo",
          "description": "Unit info such as name and quantity."
        },
        "aggregationInfo": {
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaAggregationInfo",
          "description": "Aggregation info for tiers such as aggregation level and interval."
        },
        "tiers": {
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountpricesV1betaRateTier"
          },
          "type": "array",
          "description": "All tiers associated with the `Rate` price."
        }
      },
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaRate",
      "description": "Encapsulates a `Rate` price. Billing account SKUs with `Rate` price are offered by pricing tiers. The price have 1 or more rate pricing tiers."
    },
    "GenerateInsightsResponse": {
      "properties": {
        "thoughtChunk": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A chunk of the agent's internal reasoning process. The UI can use this to render a \"Thinking...\" log or status."
        },
        "rejection": {
          "description": "Output only. The request was rejected (e.g. out of scope).",
          "readOnly": true,
          "$ref": "Rejection"
        },
        "summaryChunk": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A chunk of the natural language summary (customer-facing). The UI can append these chunks to provide a real-time \"typing\" effect."
        },
        "finalResult": {
          "readOnly": true,
          "$ref": "FinalResult",
          "description": "Output only. The final structured results and metadata. Usually sent as the final message in the stream."
        }
      },
      "type": "object",
      "id": "GenerateInsightsResponse",
      "description": "Response for GenerateInsights."
    },
    "GoogleCloudBillingBillingaccountskugroupsV1betaBillingAccountSkuGroup": {
      "id": "GoogleCloudBillingBillingaccountskugroupsV1betaBillingAccountSkuGroup",
      "description": "Encapsulates a stock keeping (SKU) group visible to a billing account. A SKU group represents a collection of SKUs that are related to each other. For example, the `AI Platform APIs` SKU group includes SKUs from the Cloud Dialogflow API, the Cloud Text-to-Speech API, and additional related APIs.",
      "properties": {
        "displayName": {
          "description": "Description of the BillingAccountSkuGroup. Example: \"A2 VMs (1 Year CUD)\".",
          "type": "string"
        },
        "name": {
          "description": "Resource name for the BillingAccountSkuGroup. Example: \"billingAccounts/012345-567890-ABCDEF/skuGroups/0e6403d1-4694-44d2-a696-7a78b1a69301\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudBillingPricesV1betaListPricesResponse": {
      "type": "object",
      "properties": {
        "prices": {
          "type": "array",
          "description": "The returned publicly listed prices.",
          "items": {
            "$ref": "GoogleCloudBillingPricesV1betaPrice"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages."
        }
      },
      "id": "GoogleCloudBillingPricesV1betaListPricesResponse",
      "description": "Response message for ListPrices."
    },
    "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegion": {
      "properties": {
        "region": {
          "type": "string",
          "description": "Description of a Google Cloud region. Example: \"us-west2\"."
        }
      },
      "description": "Encapsulates a Google Cloud region.",
      "id": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegion",
      "type": "object"
    },
    "GenerateInsightsRequest": {
      "id": "GenerateInsightsRequest",
      "description": "Request for GenerateInsights.",
      "properties": {
        "filter": {
          "description": "Optional. Filters cost data by service id. Follows https://google.aip.dev/160 for the filter syntax. eg. filter: \"service = 'C7E2-9256-1C43'\"",
          "type": "string"
        },
        "prompt": {
          "type": "string",
          "description": "Required. The natural language prompt from the user."
        },
        "userContext": {
          "description": "Optional. Additional context for personalization (e.g., user persona, role).",
          "$ref": "UserContext"
        },
        "overriddenMaxIterationCounts": {
          "description": "Optional. Overrides the maximum iterations for any selected strategy.",
          "type": "integer",
          "format": "int32"
        },
        "parents": {
          "type": "array",
          "items": {
            "$ref": "BillingDataResource"
          },
          "description": "Optional. The billing account or projects to analyze."
        }
      },
      "type": "object"
    },
    "UserContext": {
      "type": "object",
      "id": "UserContext",
      "properties": {
        "persona": {
          "description": "Optional. The user's persona (e.g., FinOps Manager, Developer).",
          "type": "string",
          "enum": [
            "PERSONA_UNSPECIFIED",
            "FINOPS_MANAGER",
            "DEVELOPER"
          ],
          "enumDescriptions": [
            "Default value. Should not be used.",
            "The user is a FinOps Manager.",
            "The user is a Developer."
          ]
        },
        "role": {
          "type": "string",
          "description": "Optional. The user's role (e.g., Billing Admin, Project Owner, etc.)."
        }
      },
      "description": "Additional context for personalization (e.g., user persona, role)."
    },
    "GoogleCloudBillingPricesV1betaAggregationInfo": {
      "description": "Encapsulates the aggregation information such as aggregation level and interval for a price.",
      "properties": {
        "interval": {
          "enumDescriptions": [
            "Default unspecified value.",
            "Usage is aggregated every month.",
            "Usage is aggregated every day."
          ],
          "description": "Interval at which usage is aggregated to compute cost. Example: \"MONTHLY\" interval indicates that usage is aggregated every month.",
          "type": "string",
          "enum": [
            "INTERVAL_UNSPECIFIED",
            "INTERVAL_MONTHLY",
            "INTERVAL_DAILY"
          ]
        },
        "level": {
          "type": "string",
          "enum": [
            "LEVEL_UNSPECIFIED",
            "LEVEL_ACCOUNT",
            "LEVEL_PROJECT"
          ],
          "enumDescriptions": [
            "Default unspecified value.",
            "Usage is aggregated at an account level.",
            "Usage is aggregated at a project level."
          ],
          "description": "Level at which usage is aggregated to compute cost. Example: \"ACCOUNT\" level indicates that usage is aggregated across all projects in a single account."
        }
      },
      "id": "GoogleCloudBillingPricesV1betaAggregationInfo",
      "type": "object"
    },
    "Struct": {
      "id": "Struct",
      "description": "A collection of fields. The count, order, and type of the fields is determined by the type associated with this value.",
      "properties": {
        "field": {
          "description": "The fields in the struct",
          "type": "array",
          "items": {
            "$ref": "ValueProto"
          }
        }
      },
      "type": "object"
    },
    "ValueProto": {
      "description": "This is a copy of storage/googlesql/public/value.proto. ValueProto represents the serialized form of the googlesql::Value. The intention is to support multiple languages including Java and C++, so we must be sensitive to the distinction between Java Strings and byte arrays or ByteStrings. We also want to support use-cases which do not want to serialize a copy of the GoogleSQL type for every instance (which might be very repetitive). Therefore, unlike googlesql::Value, ValueProto does not carry full type information with every instance, and can only be fully interpreted with an associated TypeProto.",
      "type": "object",
      "properties": {
        "datetimeValue": {
          "description": "primitive for datetime",
          "$ref": "Datetime"
        },
        "bignumericValue": {
          "format": "byte",
          "description": "Encoded bignumeric value. For the encoding format see documentation for BigNumericValue::SerializeAsProtoBytes().",
          "type": "string"
        },
        "uuidValue": {
          "type": "string",
          "format": "byte",
          "description": "Encoded uuid value. For the encoding format see documentation for UuidValue::SerializeAsBytes()."
        },
        "uint32Value": {
          "type": "integer",
          "description": "Primitive for uint32.",
          "format": "uint32"
        },
        "intervalValue": {
          "format": "byte",
          "type": "string",
          "description": "Encoded interval value. For the encoding format see documentation for IntervalValue::SerializeAsBytes()."
        },
        "jsonValue": {
          "description": "Tag 22 was used for json value as bytes, now obsolete. Json value represented as a string document.",
          "type": "string"
        },
        "timeValue": {
          "format": "int64",
          "type": "string",
          "description": "Bit field encoding of hour/minute/second/nanos. See TimeValue class for details."
        },
        "enumValue": {
          "type": "integer",
          "description": "Tag 11 was used for specifying micros timestamps as int64, now obsolete.",
          "format": "int32"
        },
        "floatValue": {
          "type": "number",
          "format": "float",
          "description": "Primitive for float."
        },
        "uint64Value": {
          "format": "uint64",
          "type": "string",
          "description": "Primitive for uint64."
        },
        "structValue": {
          "$ref": "Struct",
          "description": "A struct of values"
        },
        "bytesValue": {
          "description": "Primitive for bytes.",
          "format": "byte",
          "type": "string"
        },
        "rangeValue": {
          "description": "Encoded range value. See go/googlesql_range.",
          "$ref": "Range"
        },
        "geographyValue": {
          "type": "string",
          "format": "byte",
          "description": "Geography encoded using ::stlib::STGeographyEncoder"
        },
        "int64Value": {
          "format": "int64",
          "description": "Primitive for int64.",
          "type": "string"
        },
        "tokenlistValue": {
          "description": "Encoded tokenlist value. copybara:strip_begin(internal-comment) See //search/tokens:token_list. copybara:strip_end",
          "type": "string",
          "format": "byte"
        },
        "ValueProtoSwitchMustHaveADefault": {
          "description": "User code that switches on this oneoff enum must have a default case so builds won't break when new fields are added.",
          "type": "boolean"
        },
        "boolValue": {
          "description": "Primitive for bool.",
          "type": "boolean"
        },
        "arrayValue": {
          "description": "An array of value",
          "$ref": "Array"
        },
        "numericValue": {
          "format": "byte",
          "description": "Encoded numeric value. For the encoding format see documentation for NumericValue::SerializeAsProtoBytes().",
          "type": "string"
        },
        "stringValue": {
          "description": "Primitive for string.",
          "type": "string"
        },
        "timestampPicoValue": {
          "type": "string",
          "format": "byte",
          "description": "Encoded timestamp_pico value. For the encoding format see documentation for googlesql::TimestampPico::SerializeAsBytes()."
        },
        "int32Value": {
          "format": "int32",
          "description": "Primitive value for int32.",
          "type": "integer"
        },
        "protoValue": {
          "description": "Stores a serialized protocol message.",
          "format": "byte",
          "type": "string"
        },
        "timestampValue": {
          "description": "primitive for timestamp",
          "type": "string",
          "format": "google-datetime"
        },
        "dateValue": {
          "type": "integer",
          "description": "Primitive for date.",
          "format": "int32"
        },
        "mapValue": {
          "$ref": "Map",
          "description": "Encoded map value. See go/googlesql_map."
        },
        "doubleValue": {
          "format": "double",
          "description": "Primitive for double.",
          "type": "number"
        }
      },
      "id": "ValueProto"
    },
    "GoogleCloudBillingBillingaccountpricesV1betaPriceReason": {
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaPriceReason",
      "properties": {
        "fixedDiscount": {
          "description": "Discount off the list price, anchored to the list price as of a fixed time.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaFixedDiscount"
        },
        "migratedPrice": {
          "description": "Price migrated from other SKUs.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaMigratedPrice"
        },
        "type": {
          "description": "Type of the price reason. It can have values such as 'unspecified', 'default-price', 'fixed-price', 'fixed-discount', 'floating-discount', 'migrated-price', 'merged-price', 'list-price-as-ceiling'.",
          "type": "string"
        },
        "defaultPrice": {
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaDefaultPrice",
          "description": "Default price which is the current list price."
        },
        "mergedPrice": {
          "description": "Price after merging from multiple sources.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaMergedPrice"
        },
        "floatingDiscount": {
          "description": "Discount off the current list price, not anchored to any list price as of a fixed time.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaFloatingDiscount"
        },
        "listPriceAsCeiling": {
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaListPriceAsCeiling",
          "description": "Contract feature that the list price (DefaultPrice) will be used for the price if the current list price drops lower than the custom fixed price. Available to new contracts after March 21, 2022. Applies to all fixed price SKUs in the contract, including FixedPrice, FixedDiscount, MigratedPrice, and MergedPrice."
        },
        "fixedPrice": {
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaFixedPrice",
          "description": "Fixed price applicable during the terms of a contract agreement."
        }
      },
      "description": "Encapsulates a price reason which contains background information about the origin of the price."
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyMultiRegional": {
      "description": "Encapsulates a multi-regional geographic taxonomy.",
      "properties": {
        "regions": {
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegion"
          },
          "type": "array",
          "description": "Google Cloud regions associated with the multi-regional geographic taxonomy."
        }
      },
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyMultiRegional"
    },
    "Map": {
      "properties": {
        "entry": {
          "description": "Represents the map entries in the map.",
          "items": {
            "$ref": "MapEntry"
          },
          "type": "array"
        }
      },
      "description": "An unordered mapping from key to value, represented as a collection of map entries.",
      "type": "object",
      "id": "Map"
    },
    "MapEntry": {
      "description": "A single entry in a Map, representing the mapping between `key` and `value`.",
      "id": "MapEntry",
      "type": "object",
      "properties": {
        "key": {
          "description": "Represents the serialized map key for the entry.",
          "$ref": "ValueProto"
        },
        "value": {
          "description": "Represents the serialized map value of the entry.",
          "$ref": "ValueProto"
        }
      }
    },
    "GoogleCloudBillingBillingaccountskusV1betaBillingAccountSku": {
      "description": "Encapsulates a stock keeping unit (SKU) visible to a billing account. A SKU distinctly identifies a resource that you can purchase. For a list of available SKUs, see [SKUs](https://cloud.google.com/skus).",
      "id": "GoogleCloudBillingBillingaccountskusV1betaBillingAccountSku",
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name for the BillingAccountSku. Example: \"billingAccounts/012345-567890-ABCDEF/skus/AA95-CD31-42FE\"."
        },
        "displayName": {
          "description": "Description of the BillingAccountSku. Example: \"A2 Instance Core running in Hong Kong\".",
          "type": "string"
        },
        "billingAccountService": {
          "description": "BillingAccountService that the BillingAccountSku belongs to.",
          "type": "string"
        },
        "geoTaxonomy": {
          "description": "Geographic metadata that applies to the BillingAccountSku.",
          "$ref": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomy"
        },
        "skuId": {
          "description": "Unique identifier for the SKU. It is the string after the collection identifier \"skus/\" Example: \"AA95-CD31-42FE\".",
          "type": "string"
        },
        "productTaxonomy": {
          "description": "List of product categories that apply to the BillingAccountSku.",
          "$ref": "GoogleCloudBillingBillingaccountskusV1betaProductTaxonomy"
        }
      },
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaProductTaxonomy": {
      "type": "object",
      "description": "Encapsulates product categories, such as `Serverless`, `Cloud Run`, `TaskQueue`, and others.",
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaProductTaxonomy",
      "properties": {
        "taxonomyCategories": {
          "type": "array",
          "description": "All product categories that the billing account SKU group SKU belong to.",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaTaxonomyCategory"
          }
        }
      }
    },
    "GoogleCloudBillingBillingaccountservicesV1betaBillingAccountService": {
      "description": "Encapsulates a Google Cloud service visible to a billing account.",
      "properties": {
        "name": {
          "description": "Resource name for the BillingAccountService. Example: \"billingAccounts/012345-567890-ABCDEF/services/DA34-426B-A397\".",
          "type": "string"
        },
        "serviceId": {
          "type": "string",
          "description": "Identifier for the service. It is the string after the collection identifier \"services/\". Example: \"DA34-426B-A397\"."
        },
        "displayName": {
          "type": "string",
          "description": "Description of the BillingAccountService. Example: \"BigQuery\", \"Compute Engine\"."
        }
      },
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountservicesV1betaBillingAccountService"
    },
    "GoogleCloudBillingBillingaccountskugroupsV1betaListBillingAccountSkuGroupsResponse": {
      "description": "Response message for ListBillingAccountSkuGroups.",
      "properties": {
        "billingAccountSkuGroups": {
          "description": "The returned publicly listed billing account SKU groups.",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskugroupsV1betaBillingAccountSkuGroup"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountskugroupsV1betaListBillingAccountSkuGroupsResponse"
    },
    "GoogleCloudBillingBillingaccountpricesV1betaDefaultPrice": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudBillingBillingaccountpricesV1betaDefaultPrice",
      "description": "Encapsulates a default price which is the current list price."
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaListBillingAccountSkuGroupSkusResponse": {
      "properties": {
        "billingAccountSkuGroupSkus": {
          "type": "array",
          "description": "The returned billing account SKU group SKUs.",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaBillingAccountSkuGroupSku"
          }
        },
        "nextPageToken": {
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for ListBillingAccountSkuGroupSkus.",
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaListBillingAccountSkuGroupSkusResponse"
    },
    "InteropLink": {
      "properties": {
        "url": {
          "type": "string",
          "description": "Output only. The URL of the link.",
          "readOnly": true
        },
        "linkType": {
          "enumDescriptions": [
            "Default value. Should not be used.",
            "A link to a Cost Report in Google Cloud Console.",
            "A link to a BigQuery Export query.",
            "A link to a FinOps Hub page."
          ],
          "readOnly": true,
          "enum": [
            "LINK_TYPE_UNSPECIFIED",
            "COST_REPORT",
            "BQE_QUERY",
            "FINOPS_HUB"
          ],
          "type": "string",
          "description": "Output only. The type of the interop link, e.g., \"COST_REPORT\", \"BQE_QUERY\", etc."
        },
        "label": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The label of the link, suitable for UI rendering."
        }
      },
      "id": "InteropLink",
      "type": "object",
      "description": "A link to interoperable tools (e.g., pre-filtered Cost Reports, BQE queries)."
    },
    "DataSet": {
      "description": "A dataset used to support an insight, suitable for UI rendering (tables/charts).",
      "properties": {
        "suggestedChart": {
          "description": "Output only. A suggested chart for the data set, used for UI rendering.",
          "readOnly": true,
          "$ref": "SuggestedChart"
        },
        "billingData": {
          "$ref": "BillingData",
          "readOnly": true,
          "description": "Output only. Actual billing data returned from the Data Mart. Uses the formal message from the Billing Data Service."
        },
        "queryInfo": {
          "description": "Output only. The query used to fetch this data.",
          "readOnly": true,
          "$ref": "AgenticQueryInfo"
        }
      },
      "type": "object",
      "id": "DataSet"
    },
    "GoogleCloudBillingBillingaccountservicesV1betaListBillingAccountServicesResponse": {
      "properties": {
        "billingAccountServices": {
          "type": "array",
          "description": "The returned billing account services.",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountservicesV1betaBillingAccountService"
          }
        },
        "nextPageToken": {
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for ListBillingAccountServices.",
      "id": "GoogleCloudBillingBillingaccountservicesV1betaListBillingAccountServicesResponse",
      "type": "object"
    },
    "GoogleCloudBillingSkugroupskusV1betaListSkuGroupSkusResponse": {
      "id": "GoogleCloudBillingSkugroupskusV1betaListSkuGroupSkusResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        },
        "skuGroupSkus": {
          "description": "The returned SKU group SKUs.",
          "items": {
            "$ref": "GoogleCloudBillingSkugroupskusV1betaSkuGroupSku"
          },
          "type": "array"
        }
      },
      "description": "Response message for ListSkuGroupSkus.",
      "type": "object"
    },
    "FinalResult": {
      "type": "object",
      "description": "Encapsulates all structured data and the completed summary.",
      "properties": {
        "fullAnalysis": {
          "description": "Output only. Contains the full natural language analysis, including thoughts, reasoning, and references.",
          "readOnly": true,
          "type": "string"
        },
        "insights": {
          "description": "Output only. A list of discrete insights gleaned from the data.",
          "items": {
            "$ref": "Insight"
          },
          "type": "array",
          "readOnly": true
        },
        "dataSets": {
          "type": "array",
          "items": {
            "$ref": "DataSet"
          },
          "description": "Output only. Data sets used to support the insights, suitable for UI rendering (tables/charts).",
          "readOnly": true
        },
        "suggestedQueries": {
          "readOnly": true,
          "items": {
            "$ref": "SuggestedQuery"
          },
          "description": "Output only. A list of suggested follow-up queries for the user.",
          "type": "array"
        },
        "summary": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The full natural language summary (re-sent for consistency)."
        },
        "interopLinks": {
          "description": "Output only. Links to interoperable tools (e.g., pre-filtered Cost Reports or BQE queries).",
          "items": {
            "$ref": "InteropLink"
          },
          "readOnly": true,
          "type": "array"
        }
      },
      "id": "FinalResult"
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaBillingAccountSkuGroupSku": {
      "type": "object",
      "description": "Encapsulates a SKU that is part of a billing account SKU group.",
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaBillingAccountSkuGroupSku",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Description of the BillingAccountSkuGroupSku. Example: \"A2 Instance Core running in Hong Kong\"."
        },
        "skuId": {
          "type": "string",
          "description": "Unique identifier for the SKU. It is the string after the collection identifier \"skus/\" Example: \"AA95-CD31-42FE\"."
        },
        "billingAccountService": {
          "type": "string",
          "description": "BillingAccountService that the BillingAccountSkuGroupSku belongs to."
        },
        "name": {
          "type": "string",
          "description": "Resource name for the BillingAccountSkuGroupSku. Example: \"billingAccounts/012345-567890-ABCDEF/skuGroups/0e6403d1-4694-44d2-a696-7a78b1a69301/skus/AA95-CD31-42FE\"."
        },
        "geoTaxonomy": {
          "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomy",
          "description": "Geographic metadata that applies to the BillingAccountSkuGroupSku."
        },
        "productTaxonomy": {
          "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaProductTaxonomy",
          "description": "List of product categories that apply to the BillingAccountSkuGroupSku."
        }
      }
    },
    "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegion": {
      "id": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegion",
      "type": "object",
      "description": "Encapsulates a Google Cloud region.",
      "properties": {
        "region": {
          "description": "Description of a Google Cloud region. Example: \"us-west2\".",
          "type": "string"
        }
      }
    },
    "Rejection": {
      "properties": {
        "displayMessage": {
          "readOnly": true,
          "description": "Output only. A user-facing message explaining the rejection.",
          "type": "string"
        },
        "reason": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The reason for the rejection.",
          "enum": [
            "REASON_UNSPECIFIED",
            "EXPLICIT_OUT_OF_SCOPE"
          ],
          "enumDescriptions": [
            "Default value. Should not be used.",
            "The user explicitly asked about a service that is not Gemini or Vertex AI."
          ]
        }
      },
      "type": "object",
      "description": "Encapsulates details about why a request was rejected.",
      "id": "Rejection"
    },
    "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegional": {
      "description": "Encapsulates a regional geographic taxonomy.",
      "id": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegional",
      "properties": {
        "region": {
          "$ref": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegion",
          "description": "Google Cloud region associated with the regional geographic taxonomy."
        }
      },
      "type": "object"
    },
    "GoogleCloudBillingSkugroupskusV1betaProductTaxonomy": {
      "description": "Encapsulates product categories, such as `Serverless`, `Cloud Run`, `TaskQueue`, and others.",
      "type": "object",
      "properties": {
        "taxonomyCategories": {
          "description": "All product categories that the SKU group SKU belongs to.",
          "items": {
            "$ref": "GoogleCloudBillingSkugroupskusV1betaTaxonomyCategory"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudBillingSkugroupskusV1betaProductTaxonomy"
    },
    "GoogleCloudBillingSkugroupsV1betaListSkuGroupsResponse": {
      "type": "object",
      "description": "Response message for ListSkuGroups.",
      "id": "GoogleCloudBillingSkugroupsV1betaListSkuGroupsResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        },
        "skuGroups": {
          "description": "The returned publicly listed SKU groups.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingSkugroupsV1betaSkuGroup"
          }
        }
      }
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegional": {
      "properties": {
        "region": {
          "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegion",
          "description": "Google Cloud region associated with the regional geographic taxonomy."
        }
      },
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegional",
      "description": "Encapsulates a regional geographic taxonomy."
    },
    "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyGlobal": {
      "type": "object",
      "id": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyGlobal",
      "description": "Encapsulates a global geographic taxonomy.",
      "properties": {}
    },
    "Range": {
      "description": "A range of values, bounded by the values 'start' (inclusive) and 'end' (exclusive). A range has an element type, and values must be of this element type. A range is contiguous, ie it contains all values of the given element type starting at 'start' and ending before 'end'. A \"null\" value on start or end represents an unbounded start or end value respectively. Start and end values must always be present.",
      "properties": {
        "end": {
          "$ref": "ValueProto",
          "description": "Represents the end of the range."
        },
        "start": {
          "description": "Represents the start of the range.",
          "$ref": "ValueProto"
        }
      },
      "id": "Range",
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountpricesV1betaFixedPrice": {
      "type": "object",
      "description": "Encapsulates a set fixed price applicable during the terms of a contract agreement.",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaFixedPrice",
      "properties": {}
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomy": {
      "description": "Encapsulates geographic metadata, such as regions and multi-regions like `us-east4` or `European Union`.",
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomy",
      "properties": {
        "regionalMetadata": {
          "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegional",
          "description": "Regional geographic metadata with 1 region."
        },
        "type": {
          "enumDescriptions": [
            "Default value. Unspecified type.",
            "Global geographic taxonomy with no regions.",
            "Regional geographic taxonomy with 1 region.",
            "Multi-regional geographic taxonomy with 2 or more regions."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_GLOBAL",
            "TYPE_REGIONAL",
            "TYPE_MULTI_REGIONAL"
          ],
          "description": "Type of geographic taxonomy associated with the billing account SKU group SKU."
        },
        "multiRegionalMetadata": {
          "description": "Multi-regional geographic metadata with 2 or more regions.",
          "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyMultiRegional"
        },
        "globalMetadata": {
          "description": "Global geographic metadata with no regions.",
          "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyGlobal"
        }
      }
    },
    "SuggestedQuery": {
      "type": "object",
      "properties": {
        "query": {
          "type": "string",
          "description": "The natural language query."
        }
      },
      "id": "SuggestedQuery",
      "description": "A suggested follow-up query for the user."
    },
    "BillingDataResource": {
      "properties": {
        "resource": {
          "type": "string",
          "description": "Required. Resource name for an entitity that can be used for authorization to access billing data such as `projects/{project}` or `billingAccounts/{billing_account}`"
        },
        "billingAccount": {
          "type": "string",
          "description": "Optional. If not provided the billing account currently associated with the resource will be used."
        }
      },
      "type": "object",
      "description": "Specifies a Billing data resource that can be used for authorization to access billing data.",
      "id": "BillingDataResource"
    },
    "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyMultiRegional": {
      "id": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyMultiRegional",
      "properties": {
        "regions": {
          "type": "array",
          "description": "Google Cloud regions associated with the multi-regional geographic taxonomy.",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegion"
          }
        }
      },
      "description": "Encapsulates a multi-regional geographic taxonomy.",
      "type": "object"
    },
    "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegional": {
      "properties": {
        "region": {
          "description": "Google Cloud region associated with the regional geographic taxonomy.",
          "$ref": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegion"
        }
      },
      "type": "object",
      "description": "Encapsulates a regional geographic taxonomy.",
      "id": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegional"
    },
    "GoogleCloudBillingBillingaccountpricesV1betaListPriceAsCeiling": {
      "description": "Encapsulates a contract feature that the list price (DefaultPrice) will be used for the price if the current list price drops lower than the custom fixed price. Available to new contracts after March 21, 2022. Applies to all fixed price SKUs in the contract, including FixedPrice, FixedDiscount, MigratedPrice, and MergedPrice.",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaListPriceAsCeiling",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyMultiRegional": {
      "type": "object",
      "properties": {
        "regions": {
          "description": "Google Cloud regions associated with the multi-regional geographic taxonomy.",
          "items": {
            "$ref": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegion"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyMultiRegional",
      "description": "Encapsulates a multi-regional geographic taxonomy."
    },
    "ColumnInfo": {
      "description": "Represents a column header.",
      "properties": {
        "column": {
          "type": "string",
          "description": "Name of the column."
        }
      },
      "type": "object",
      "id": "ColumnInfo"
    },
    "BillingData": {
      "description": "Encapsulates billing data.",
      "properties": {
        "rows": {
          "items": {
            "$ref": "Row"
          },
          "type": "array",
          "description": "Rows."
        },
        "columnInfo": {
          "type": "array",
          "items": {
            "$ref": "ColumnInfo"
          },
          "description": "Information about columns."
        }
      },
      "id": "BillingData",
      "type": "object"
    },
    "Row": {
      "type": "object",
      "id": "Row",
      "properties": {
        "values": {
          "items": {
            "$ref": "ValueProto"
          },
          "description": "Values for a row in the column order.",
          "type": "array"
        }
      },
      "description": "Represents a row in the query result."
    },
    "Decimal": {
      "type": "object",
      "description": "A representation of a decimal value, such as 2.5. Clients may convert values into language-native decimal formats, such as Java's [BigDecimal](https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/math/BigDecimal.html) or Python's [decimal.Decimal](https://docs.python.org/3/library/decimal.html).",
      "id": "Decimal",
      "properties": {
        "value": {
          "type": "string",
          "description": "The decimal value, as a string. The string representation consists of an optional sign, `+` (`U+002B`) or `-` (`U+002D`), followed by a sequence of zero or more decimal digits (\"the integer\"), optionally followed by a fraction, optionally followed by an exponent. An empty string **should** be interpreted as `0`. The fraction consists of a decimal point followed by zero or more decimal digits. The string must contain at least one digit in either the integer or the fraction. The number formed by the sign, the integer and the fraction is referred to as the significand. The exponent consists of the character `e` (`U+0065`) or `E` (`U+0045`) followed by one or more decimal digits. Services **should** normalize decimal values before storing them by: - Removing an explicitly-provided `+` sign (`+2.5` -> `2.5`). - Replacing a zero-length integer value with `0` (`.5` -> `0.5`). - Coercing the exponent character to upper-case, with explicit sign (`2.5e8` -> `2.5E+8`). - Removing an explicitly-provided zero exponent (`2.5E0` -> `2.5`). Services **may** perform additional normalization based on its own needs and the internal decimal implementation selected, such as shifting the decimal point and exponent value together (example: `2.5E-1` <-> `0.25`). Additionally, services **may** preserve trailing zeroes in the fraction to indicate increased precision, but are not required to do so. Note that only the `.` character is supported to divide the integer and the fraction; `,` **should not** be supported regardless of locale. Additionally, thousand separators **should not** be supported. If a service does support them, values **must** be normalized. The ENBF grammar is: DecimalString = '' | [Sign] Significand [Exponent]; Sign = '+' | '-'; Significand = Digits '.' | [Digits] '.' Digits; Exponent = ('e' | 'E') [Sign] Digits; Digits = { '0' | '1' | '2' | '3' | '4' | '5' | '6' | '7' | '8' | '9' }; Services **should** clearly document the range of supported values, the maximum supported precision (total number of digits), and, if applicable, the scale (number of digits after the decimal point), as well as how it behaves when receiving out-of-bounds values. Services **may** choose to accept values passed as input even when the value has a higher precision or scale than the service supports, and **should** round the value to fit the supported scale. Alternatively, the service **may** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if precision would be lost. Services **should** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if the service receives a value outside of the supported range."
        }
      }
    },
    "GoogleCloudBillingBillingaccountpricesV1betaMergedPrice": {
      "description": "Encapsulates a price after merging from multiple sources. With merged tiers, each individual tier can be from a different source with different discount types.",
      "properties": {},
      "id": "GoogleCloudBillingBillingaccountpricesV1betaMergedPrice",
      "type": "object"
    },
    "Insight": {
      "id": "Insight",
      "properties": {
        "title": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The title of the insight."
        },
        "severity": {
          "enumDescriptions": [
            "Default value. Should not be used.",
            "The insight is useful, but no action is required.",
            "The insight is useful, and some action may be required.",
            "The insight is useful, and immediate action is required."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "INFO",
            "WARNING",
            "CRITICAL"
          ],
          "description": "Output only. The severity of the insight, used for UI rendering (e.g., color-coding)."
        },
        "description": {
          "type": "string",
          "description": "Output only. The description of the insight.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "e.g. insight: title: \"Cost Increase (The Explanation)\" description: \"Your cost increase was driven by Vertex AI Online Prediction in us-central1...\" severity: INFO"
    },
    "AgenticQueryInfo": {
      "properties": {
        "filter": {
          "type": "string",
          "description": "The filter applied to the query."
        },
        "parents": {
          "items": {
            "type": "string"
          },
          "description": "The parents (e.g. projects, billing accounts) queried.",
          "type": "array"
        },
        "orderBy": {
          "type": "string",
          "description": "The order-by clause applied to the query."
        },
        "groupBy": {
          "description": "The group-by clause applied to the query.",
          "type": "string"
        },
        "limit": {
          "type": "integer",
          "description": "The row limit applied to the query.",
          "format": "int32"
        },
        "columns": {
          "type": "string",
          "description": "The columns queried."
        },
        "view": {
          "description": "The view queried.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A local representation of the query used to fetch the data. This is used instead of the raw QueryBillingDataRequest to avoid pulling in Cloud Policy Enforcement (CPE) resource_type annotations into the response payload, which causes ESF validation failures.",
      "id": "AgenticQueryInfo"
    },
    "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomy": {
      "description": "Encapsulates geographic metadata, such as regions and multi-regions like `us-east4` or `European Union`.",
      "properties": {
        "globalMetadata": {
          "$ref": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyGlobal",
          "description": "Global geographic metadata with no regions."
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_GLOBAL",
            "TYPE_REGIONAL",
            "TYPE_MULTI_REGIONAL"
          ],
          "description": "Type of geographic taxonomy associated with the billing account SKU.",
          "enumDescriptions": [
            "Default value. Unspecified type.",
            "Global geographic taxonomy with no regions.",
            "Regional geographic taxonomy with 1 region.",
            "Multi-regional geographic taxonomy with 2 or more regions."
          ]
        },
        "multiRegionalMetadata": {
          "description": "Multi-regional geographic metadata with 2 or more regions.",
          "$ref": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyMultiRegional"
        },
        "regionalMetadata": {
          "description": "Regional geographic metadata with 1 region.",
          "$ref": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegional"
        }
      },
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomy"
    },
    "GoogleCloudBillingSkugroupskusV1betaSkuGroupSku": {
      "properties": {
        "skuId": {
          "description": "Unique identifier for the SKU. It is the string after the collection identifier \"skus/\" Example: \"AA95-CD31-42FE\".",
          "type": "string"
        },
        "geoTaxonomy": {
          "description": "Geographic metadata that applies to the SkuGroupSku.",
          "$ref": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomy"
        },
        "productTaxonomy": {
          "description": "List of product categories that apply to the SkuGroupSku.",
          "$ref": "GoogleCloudBillingSkugroupskusV1betaProductTaxonomy"
        },
        "service": {
          "description": "Service that the SkuGroupSku belongs to.",
          "type": "string"
        },
        "displayName": {
          "description": "Description of the SkuGroupSku. Example: \"A2 Instance Core running in Hong Kong\".",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Resource name for the SkuGroupSku. Example: \"skuGroups/0e6403d1-4694-44d2-a696-7a78b1a69301/skus/AA95-CD31-42FE\"."
        }
      },
      "id": "GoogleCloudBillingSkugroupskusV1betaSkuGroupSku",
      "description": "Encapsulates a publicly listed stock keeping unit (SKU) that is part of a publicly listed SKU group. A SKU group represents a collection of SKUs that are related to each other. For example, the `AI Platform APIs` SKU group includes SKUs from the Cloud Dialogflow API, the Cloud Text-to-Speech API, and additional related APIs.",
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyGlobal": {
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyGlobal",
      "type": "object",
      "description": "Encapsulates a global geographic taxonomy.",
      "properties": {}
    },
    "GoogleCloudBillingBillingaccountpricesV1betaListBillingAccountPricesResponse": {
      "description": "Response message for ListBillingAccountPrices.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages."
        },
        "billingAccountPrices": {
          "type": "array",
          "description": "The returned billing account prices.",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountpricesV1betaBillingAccountPrice"
          }
        }
      },
      "id": "GoogleCloudBillingBillingaccountpricesV1betaListBillingAccountPricesResponse"
    },
    "GoogleCloudBillingPricesV1betaPrice": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Resource name for the latest price.",
          "type": "string"
        },
        "rate": {
          "$ref": "GoogleCloudBillingPricesV1betaRate",
          "description": "Rate price metadata. SKUs with `Rate` price are offered by pricing tiers. The price can have 1 or more rate pricing tiers."
        },
        "currencyCode": {
          "type": "string",
          "description": "ISO-4217 currency code for the price."
        },
        "valueType": {
          "type": "string",
          "description": "Type of the price. It can have values: [\"unspecified\", \"rate\"]."
        }
      },
      "id": "GoogleCloudBillingPricesV1betaPrice",
      "description": "Encapsulates the latest price for a SKU."
    },
    "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomy": {
      "type": "object",
      "properties": {
        "multiRegionalMetadata": {
          "description": "Multi-regional geographic metadata with 2 or more regions.",
          "$ref": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyMultiRegional"
        },
        "globalMetadata": {
          "$ref": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyGlobal",
          "description": "Global geographic metadata with no regions."
        },
        "regionalMetadata": {
          "description": "Regional geographic metadata with 1 region.",
          "$ref": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegional"
        },
        "type": {
          "description": "Type of geographic taxonomy associated with the SKU group SKU.",
          "enumDescriptions": [
            "Default value. Unspecified type.",
            "Global geographic taxonomy with no regions.",
            "Regional geographic taxonomy with 1 region.",
            "Multi-regional geographic taxonomy with 2 or more regions."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_GLOBAL",
            "TYPE_REGIONAL",
            "TYPE_MULTI_REGIONAL"
          ]
        }
      },
      "id": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomy",
      "description": "Encapsulates geographic metadata, such as regions and multi-regions like `us-east4` or `European Union`."
    },
    "GoogleCloudBillingBillingaccountpricesV1betaFloatingDiscount": {
      "id": "GoogleCloudBillingBillingaccountpricesV1betaFloatingDiscount",
      "properties": {
        "discountPercent": {
          "$ref": "Decimal",
          "description": "Percentage of the floating discount."
        },
        "discountScopeType": {
          "type": "string",
          "description": "Type of the floating discount scope which indicates the source of the discount. It can have values such as 'unspecified' and 'sku-group'."
        },
        "skuGroup": {
          "description": "SKU group where the floating discount comes from.",
          "type": "string"
        }
      },
      "type": "object",
[...]
