{
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "description": "Provides insights about your customers and their Assured Workloads based on your Sovereign Controls by Partners offering.",
  "protocol": "rest",
  "revision": "20260422",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "basePath": "",
  "name": "cloudcontrolspartner",
  "canonicalName": "Cloud Controls Partner Service",
  "schemas": {
    "Partner": {
      "description": "Message describing Partner resource",
      "properties": {
        "skus": {
          "type": "array",
          "items": {
            "$ref": "Sku"
          },
          "description": "List of SKUs the partner is offering"
        },
        "name": {
          "description": "Identifier. The resource name of the partner. Format: `organizations/{organization}/locations/{location}/partner` Example: \"organizations/123456/locations/us-central1/partner\"",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The last time the resource was updated"
        },
        "partnerProjectId": {
          "description": "Google Cloud project ID in the partner's Google Cloud organization for receiving enhanced Logs for Partners.",
          "type": "string"
        },
        "ekmSolutions": {
          "type": "array",
          "description": "List of Google Cloud supported EKM partners supported by the partner",
          "items": {
            "$ref": "EkmMetadata"
          }
        },
        "operatedCloudRegions": {
          "type": "array",
          "description": "List of Google Cloud regions that the partner sells services to customers. Valid Google Cloud regions found here: https://cloud.google.com/compute/docs/regions-zones",
          "items": {
            "type": "string"
          }
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Time the resource was created",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "Partner",
      "type": "object"
    },
    "AccessReason": {
      "description": "Reason for the access.",
      "properties": {
        "type": {
          "description": "Type of access justification.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "CUSTOMER_INITIATED_SUPPORT",
            "GOOGLE_INITIATED_SERVICE",
            "GOOGLE_INITIATED_REVIEW",
            "THIRD_PARTY_DATA_REQUEST",
            "GOOGLE_RESPONSE_TO_PRODUCTION_ALERT",
            "CLOUD_INITIATED_ACCESS"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value for proto, shouldn't be used.",
            "Customer made a request or raised an issue that required the principal to access customer data. `detail` is of the form (\"#####\" is the issue ID): - \"Feedback Report: #####\" - \"Case Number: #####\" - \"Case ID: #####\" - \"E-PIN Reference: #####\" - \"Google-#####\" - \"T-#####\"",
            "The principal accessed customer data in order to diagnose or resolve a suspected issue in services. Often this access is used to confirm that customers are not affected by a suspected service issue or to remediate a reversible system issue.",
            "Google initiated service for security, fraud, abuse, or compliance purposes.",
            "The principal was compelled to access customer data in order to respond to a legal third party data request or process, including legal processes from customers themselves.",
            "The principal accessed customer data in order to diagnose or resolve a suspected issue in services or a known outage.",
            "Similar to 'GOOGLE_INITIATED_SERVICE' or 'GOOGLE_INITIATED_REVIEW', but with universe agnostic naming. The principal accessed customer data in order to diagnose or resolve a suspected issue in services or a known outage, or for security, fraud, abuse, or compliance review purposes."
          ]
        },
        "detail": {
          "description": "More detail about certain reason types. See comments for each type above.",
          "type": "string"
        }
      },
      "id": "AccessReason",
      "type": "object"
    },
    "ListWorkloadsResponse": {
      "id": "ListWorkloadsResponse",
      "type": "object",
      "description": "Response message for list customer workloads requests.",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "workloads": {
          "type": "array",
          "description": "List of customer workloads",
          "items": {
            "$ref": "Workload"
          }
        }
      }
    },
    "Sku": {
      "id": "Sku",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Display name of the product identified by the SKU. A partner may want to show partner branded names for their offerings such as local sovereign cloud solutions.",
          "type": "string"
        },
        "id": {
          "description": "Argentum product SKU, that is associated with the partner offerings to customers used by Syntro for billing purposes. SKUs can represent resold Google products or support services.",
          "type": "string"
        }
      },
      "description": "Represents the SKU a partner owns inside Google Cloud to sell to customers."
    },
    "Workload": {
      "id": "Workload",
      "type": "object",
      "description": "Contains metadata around the [Workload resource](https://cloud.google.com/assured-workloads/docs/reference/rest/Shared.Types/Workload) in the Assured Workloads API.",
      "properties": {
        "keyManagementProjectId": {
          "description": "The project id of the key management project for the workload",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time the resource was created."
        },
        "isOnboarded": {
          "description": "Indicates whether a workload is fully onboarded.",
          "type": "boolean"
        },
        "folder": {
          "description": "Output only. The name of container folder of the assured workload",
          "readOnly": true,
          "type": "string"
        },
        "partner": {
          "description": "Partner associated with this workload.",
          "enum": [
            "PARTNER_UNSPECIFIED",
            "PARTNER_LOCAL_CONTROLS_BY_S3NS",
            "PARTNER_SOVEREIGN_CONTROLS_BY_T_SYSTEMS",
            "PARTNER_SOVEREIGN_CONTROLS_BY_SIA_MINSAIT",
            "PARTNER_SOVEREIGN_CONTROLS_BY_PSN",
            "PARTNER_SOVEREIGN_CONTROLS_BY_CNTXT",
            "PARTNER_SOVEREIGN_CONTROLS_BY_CNTXT_NO_EKM",
            "PARTNER_SPAIN_DATA_BOUNDARY_BY_TELEFONICA"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown Partner.",
            "Enum representing S3NS (Thales) partner.",
            "Enum representing T_SYSTEM (TSI) partner.",
            "Enum representing SIA_MINSAIT (Indra) partner.",
            "Enum representing PSN (TIM) partner.",
            "Enum representing CNTXT (Kingdom of Saudi Arabia) partner.",
            "Enum representing CNXT (Kingdom of Saudi Arabia) partner offering without EKM provisioning.",
            "Enum representing Telefonica (Spain) partner."
          ]
        },
        "name": {
          "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}`",
          "type": "string"
        },
        "folderId": {
          "description": "Output only. Folder id this workload is associated with",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "workloadOnboardingState": {
          "description": "Container for workload onboarding steps.",
          "$ref": "WorkloadOnboardingState"
        },
        "location": {
          "description": "The Google Cloud location of the workload",
          "type": "string"
        }
      }
    },
    "WorkloadOnboardingStep": {
      "id": "WorkloadOnboardingStep",
      "type": "object",
      "properties": {
        "completionState": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified completion state.",
            "Task started (has start date) but not yet completed.",
            "Succeeded state.",
            "Failed state.",
            "Not applicable state."
          ],
          "description": "Output only. The completion state of the onboarding step.",
          "enum": [
            "COMPLETION_STATE_UNSPECIFIED",
            "PENDING",
            "SUCCEEDED",
            "FAILED",
            "NOT_APPLICABLE"
          ]
        },
        "step": {
          "description": "The onboarding step.",
          "enum": [
            "STEP_UNSPECIFIED",
            "EKM_PROVISIONED",
            "SIGNED_ACCESS_APPROVAL_CONFIGURED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified step.",
            "EKM Provisioned step.",
            "Signed Access Approval step."
          ]
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The starting time of the onboarding step."
        },
        "completionTime": {
          "format": "google-datetime",
          "description": "The completion time of the onboarding step.",
          "type": "string"
        }
      },
      "description": "Container for workload onboarding information."
    },
    "Remediation": {
      "description": "Represents remediation guidance to resolve compliance violation for AssuredWorkload",
      "properties": {
        "instructions": {
          "description": "Required. Remediation instructions to resolve violations",
          "$ref": "Instructions"
        },
        "remediationType": {
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified remediation type",
            "Remediation type for boolean org policy",
            "Remediation type for list org policy which have allowed values in the monitoring rule",
            "Remediation type for list org policy which have denied values in the monitoring rule",
            "Remediation type for gcp.restrictCmekCryptoKeyProjects",
            "Remediation type for resource violation."
          ],
          "description": "Output only. Remediation type based on the type of org policy values violated",
          "enum": [
            "REMEDIATION_TYPE_UNSPECIFIED",
            "REMEDIATION_BOOLEAN_ORG_POLICY_VIOLATION",
            "REMEDIATION_LIST_ALLOWED_VALUES_ORG_POLICY_VIOLATION",
            "REMEDIATION_LIST_DENIED_VALUES_ORG_POLICY_VIOLATION",
            "REMEDIATION_RESTRICT_CMEK_CRYPTO_KEY_PROJECTS_ORG_POLICY_VIOLATION",
            "REMEDIATION_RESOURCE_VIOLATION"
          ],
          "type": "string"
        },
        "compliantValues": {
          "items": {
            "type": "string"
          },
          "description": "Values that can resolve the violation For example: for list org policy violations, this will either be the list of allowed or denied values",
          "type": "array"
        }
      },
      "id": "Remediation",
      "type": "object"
    },
    "Customer": {
      "properties": {
        "name": {
          "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}`",
          "type": "string"
        },
        "displayName": {
          "description": "Required. Display name for the customer",
          "type": "string"
        },
        "organizationDomain": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The customer organization domain, extracted from CRM Organization’s display_name field. e.g. \"google.com\""
        },
        "customerOnboardingState": {
          "readOnly": true,
          "$ref": "CustomerOnboardingState",
          "description": "Output only. Container for customer onboarding steps"
        },
        "isOnboarded": {
          "description": "Output only. Indicates whether a customer is fully onboarded",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "description": "Contains metadata around a Cloud Controls Partner Customer",
      "id": "Customer",
      "type": "object"
    },
    "ListViolationsResponse": {
      "id": "ListViolationsResponse",
      "type": "object",
      "description": "Response message for list customer violation requests",
      "properties": {
        "violations": {
          "description": "List of violation",
          "items": {
            "$ref": "Violation"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "Workloads that could not be reached due to permission errors or any other error. Ref: https://google.aip.dev/217",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty",
      "type": "object"
    },
    "Gcloud": {
      "description": "Remediation instructions to resolve violation via gcloud cli",
      "properties": {
        "gcloudCommands": {
          "type": "array",
          "description": "Gcloud command to resolve violation",
          "items": {
            "type": "string"
          }
        },
        "steps": {
          "items": {
            "type": "string"
          },
          "description": "Steps to resolve violation via gcloud cli",
          "type": "array"
        },
        "additionalLinks": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Additional urls for more information about steps"
        }
      },
      "id": "Gcloud",
      "type": "object"
    },
    "ListAccessApprovalRequestsResponse": {
      "id": "ListAccessApprovalRequestsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "accessApprovalRequests": {
          "type": "array",
          "description": "List of access approval requests",
          "items": {
            "$ref": "AccessApprovalRequest"
          }
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      },
      "description": "Response message for list access requests."
    },
    "ConnectionError": {
      "properties": {
        "errorDomain": {
          "description": "The error domain for the error",
          "type": "string"
        },
        "errorMessage": {
          "description": "The error message for the error",
          "type": "string"
        }
      },
      "description": "Information around the error that occurred if the connection state is anything other than available or unspecified",
      "id": "ConnectionError",
      "type": "object"
    },
    "WorkloadOnboardingState": {
      "id": "WorkloadOnboardingState",
      "type": "object",
      "properties": {
        "onboardingSteps": {
          "type": "array",
          "description": "List of workload onboarding steps.",
          "items": {
            "$ref": "WorkloadOnboardingStep"
          }
        }
      },
      "description": "Container for workload onboarding steps."
    },
    "PartnerPermissions": {
      "id": "PartnerPermissions",
      "type": "object",
      "description": "The permissions granted to the partner for a workload",
      "properties": {
        "name": {
          "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/partnerPermissions`",
          "type": "string"
        },
        "partnerPermissions": {
          "type": "array",
          "description": "The partner permissions granted for the workload",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified partner permission",
              "Permission for Access Transparency and emergency logs",
              "Permission for Assured Workloads monitoring violations",
              "Permission for Access Approval requests",
              "Permission for External Key Manager connection status",
              "Permission for support case details for Access Transparency log entries"
            ],
            "enum": [
              "PERMISSION_UNSPECIFIED",
              "ACCESS_TRANSPARENCY_AND_EMERGENCY_ACCESS_LOGS",
              "ASSURED_WORKLOADS_MONITORING",
              "ACCESS_APPROVAL_REQUESTS",
              "ASSURED_WORKLOADS_EKM_CONNECTION_STATUS",
              "ACCESS_TRANSPARENCY_LOGS_SUPPORT_CASE_VIEWER"
            ]
          }
        }
      }
    },
    "CustomerOnboardingState": {
      "properties": {
        "onboardingSteps": {
          "items": {
            "$ref": "CustomerOnboardingStep"
          },
          "description": "List of customer onboarding steps",
          "type": "array"
        }
      },
      "description": "Container for customer onboarding steps",
      "id": "CustomerOnboardingState",
      "type": "object"
    },
    "ListCustomersResponse": {
      "properties": {
        "customers": {
          "type": "array",
          "items": {
            "$ref": "Customer"
          },
          "description": "List of customers"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for list customer Customers requests",
      "id": "ListCustomersResponse",
      "type": "object"
    },
    "EkmConnections": {
      "id": "EkmConnections",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/ekmConnections`",
          "type": "string"
        },
        "ekmConnections": {
          "items": {
            "$ref": "EkmConnection"
          },
          "description": "The EKM connections associated with the workload",
          "type": "array"
        }
      },
      "description": "The EKM connections associated with a workload"
    },
    "Console": {
      "description": "Remediation instructions to resolve violation via cloud console",
      "properties": {
        "consoleUris": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Link to console page where violations can be resolved"
        },
        "steps": {
          "type": "array",
          "description": "Steps to resolve violation via cloud console",
          "items": {
            "type": "string"
          }
        },
        "additionalLinks": {
          "items": {
            "type": "string"
          },
          "description": "Additional urls for more information about steps",
          "type": "array"
        }
      },
      "id": "Console",
      "type": "object"
    },
    "EkmConnection": {
      "description": "Details about the EKM connection",
      "properties": {
        "connectionName": {
          "description": "Resource name of the EKM connection in the format: projects/{project}/locations/{location}/ekmConnections/{ekm_connection}",
          "type": "string"
        },
        "connectionError": {
          "description": "The connection error that occurred if any",
          "$ref": "ConnectionError"
        },
        "connectionState": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified EKM connection state",
            "Available EKM connection state",
            "Not available EKM connection state",
            "Error EKM connection state",
            "Permission denied EKM connection state"
          ],
          "description": "Output only. The connection state",
          "enum": [
            "CONNECTION_STATE_UNSPECIFIED",
            "AVAILABLE",
            "NOT_AVAILABLE",
            "ERROR",
            "PERMISSION_DENIED"
          ]
        }
      },
      "id": "EkmConnection",
      "type": "object"
    },
    "EkmMetadata": {
      "id": "EkmMetadata",
      "type": "object",
      "description": "Holds information needed by Mudbray to use partner EKMs for workloads.",
      "properties": {
        "ekmSolution": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified EKM solution",
            "EKM Partner Fortanix",
            "EKM Partner FutureX",
            "EKM Partner Thales",
            "This enum value is never used."
          ],
          "description": "The Cloud EKM partner.",
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            true
          ],
          "enum": [
            "EKM_SOLUTION_UNSPECIFIED",
            "FORTANIX",
            "FUTUREX",
            "THALES",
            "VIRTRU"
          ]
        },
        "ekmEndpointUri": {
          "description": "Endpoint for sending requests to the EKM for key provisioning during Assured Workload creation.",
          "type": "string"
        }
      }
    },
    "AccessApprovalRequest": {
      "id": "AccessApprovalRequest",
      "type": "object",
      "description": "Details about the Access request.",
      "properties": {
        "name": {
          "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/accessApprovalRequests/{access_approval_request}`",
          "type": "string"
        },
        "requestTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which approval was requested."
        },
        "requestedReason": {
          "description": "The justification for which approval is being requested.",
          "$ref": "AccessReason"
        },
        "requestedExpirationTime": {
          "type": "string",
          "description": "The requested expiration for the approval. If the request is approved, access will be granted from the time of approval until the expiration time.",
          "format": "google-datetime"
        }
      }
    },
    "Instructions": {
      "properties": {
        "gcloudInstructions": {
          "description": "Remediation instructions to resolve violation via gcloud cli",
          "$ref": "Gcloud"
        },
        "consoleInstructions": {
          "description": "Remediation instructions to resolve violation via cloud console",
          "$ref": "Console"
        }
      },
      "description": "Instructions to remediate violation",
      "id": "Instructions",
      "type": "object"
    },
    "CustomerOnboardingStep": {
      "properties": {
        "step": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified step",
            "KAJ Enrollment",
            "Customer Environment"
          ],
          "description": "The onboarding step",
          "enum": [
            "STEP_UNSPECIFIED",
            "KAJ_ENROLLMENT",
            "CUSTOMER_ENVIRONMENT"
          ]
        },
        "startTime": {
          "format": "google-datetime",
          "description": "The starting time of the onboarding step",
          "type": "string"
        },
        "completionTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The completion time of the onboarding step"
        },
        "completionState": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified completion state.",
            "Task started (has start date) but not yet completed.",
            "Succeeded state.",
            "Failed state.",
            "Not applicable state."
          ],
          "description": "Output only. Current state of the step",
          "enum": [
            "COMPLETION_STATE_UNSPECIFIED",
            "PENDING",
            "SUCCEEDED",
            "FAILED",
            "NOT_APPLICABLE"
          ]
        }
      },
      "description": "Container for customer onboarding information",
      "id": "CustomerOnboardingStep",
      "type": "object"
    },
    "Violation": {
      "properties": {
        "resolveTime": {
          "description": "Output only. Time of the event which fixed the Violation. If the violation is ACTIVE this will be empty.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The last time when the Violation record was updated."
        },
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Description for the Violation. e.g. OrgPolicy gcp.resourceLocations has non compliant value."
        },
        "beginTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time of the event which triggered the Violation.",
          "format": "google-datetime"
        },
        "category": {
          "description": "Output only. Category under which this violation is mapped. e.g. Location, Service Usage, Access, Encryption, etc.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "description": "Output only. State of the violation",
          "enum": [
            "STATE_UNSPECIFIED",
            "RESOLVED",
            "UNRESOLVED",
            "EXCEPTION"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified state.",
            "Violation is resolved.",
            "Violation is Unresolved",
            "Violation is Exception"
          ],
          "type": "string"
        },
        "nonCompliantOrgPolicy": {
          "description": "Output only. Immutable. Name of the OrgPolicy which was modified with non-compliant change and resulted this violation. Format: `projects/{project_number}/policies/{constraint_name}` `folders/{folder_id}/policies/{constraint_name}` `organizations/{organization_id}/policies/{constraint_name}`",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/violations/{violation}`",
          "type": "string"
        },
        "remediation": {
          "description": "Output only. Compliance violation remediation",
          "readOnly": true,
          "$ref": "Remediation"
        },
        "folderId": {
          "description": "The folder_id of the violation",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Details of resource Violation",
      "id": "Violation",
      "type": "object"
    },
    "OperationMetadata": {
      "properties": {
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API version used to start the operation."
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running."
        },
        "requestedCancellation": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        }
      },
      "description": "Represents the metadata of the long-running operation.",
      "id": "OperationMetadata",
      "type": "object"
    }
  },
  "version": "v1beta",
  "documentationLink": "https://cloud.google.com/sovereign-controls-by-partners/docs/sovereign-partners/reference/rest",
  "rootUrl": "https://cloudcontrolspartner.googleapis.com/",
  "parameters": {
    "alt": {
      "type": "string",
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    }
  },
  "title": "Cloud Controls Partner API",
  "mtlsRootUrl": "https://cloudcontrolspartner.mtls.googleapis.com/",
  "resources": {
    "organizations": {
      "resources": {
        "locations": {
          "methods": {
            "getPartner": {
              "description": "Get details of a Partner.",
              "response": {
                "$ref": "Partner"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^organizations/[^/]+/locations/[^/]+/partner$",
                  "type": "string",
                  "description": "Required. Format: `organizations/{organization}/locations/{location}/partner`",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "id": "cloudcontrolspartner.organizations.locations.getPartner",
              "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/partner",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta/{+name}"
            }
          },
          "resources": {
            "customers": {
              "resources": {
                "workloads": {
                  "methods": {
                    "list": {
                      "path": "v1beta/{+parent}/workloads",
                      "id": "cloudcontrolspartner.organizations.locations.customers.workloads.list",
                      "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "parameters": {
                        "pageToken": {
                          "description": "A page token, received from a previous `ListWorkloads` call. Provide this to retrieve the subsequent page.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "description": "Required. Parent resource Format: `organizations/{organization}/locations/{location}/customers/{customer}`",
                          "location": "path",
                          "type": "string",
                          "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+$",
                          "required": true
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "The maximum number of workloads to return. The service may return fewer than this value. If unspecified, at most 500 workloads will be returned.",
                          "location": "query",
                          "format": "int32"
                        },
                        "filter": {
                          "description": "Optional. Filtering results.",
                          "location": "query",
                          "type": "string"
                        },
                        "orderBy": {
                          "type": "string",
                          "description": "Optional. Hint for how to order the results.",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListWorkloadsResponse"
                      },
                      "description": "Lists customer workloads for a given customer org id"
                    },
                    "get": {
                      "parameters": {
                        "name": {
                          "description": "Required. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}`",
                          "location": "path",
                          "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+/workloads/[^/]+$",
                          "type": "string",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "id": "cloudcontrolspartner.organizations.locations.customers.workloads.get",
                      "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads/{workloadsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta/{+name}",
                      "description": "Gets details of a single workload",
                      "response": {
                        "$ref": "Workload"
                      }
                    },
                    "getEkmConnections": {
                      "description": "Gets the EKM connections associated with a workload",
                      "response": {
                        "$ref": "EkmConnections"
                      },
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+/workloads/[^/]+/ekmConnections$",
                          "type": "string",
                          "required": true,
                          "description": "Required. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/ekmConnections`",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1beta/{+name}",
                      "id": "cloudcontrolspartner.organizations.locations.customers.workloads.getEkmConnections",
                      "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads/{workloadsId}/ekmConnections",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "getPartnerPermissions": {
                      "response": {
                        "$ref": "PartnerPermissions"
                      },
                      "description": "Gets the partner permissions granted for a workload",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "cloudcontrolspartner.organizations.locations.customers.workloads.getPartnerPermissions",
                      "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads/{workloadsId}/partnerPermissions",
                      "path": "v1beta/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+/workloads/[^/]+/partnerPermissions$",
                          "type": "string",
                          "description": "Required. Name of the resource to get in the format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/partnerPermissions`",
                          "location": "path"
                        }
                      },
                      "httpMethod": "GET"
                    }
                  },
                  "resources": {
                    "accessApprovalRequests": {
                      "methods": {
                        "list": {
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "parent"
                          ],
                          "parameters": {
                            "pageToken": {
                              "description": "Optional. A page token, received from a previous `ListAccessApprovalRequests` call. Provide this to retrieve the subsequent page.",
                              "location": "query",
                              "type": "string"
                            },
                            "parent": {
                              "description": "Required. Parent resource Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}`",
                              "location": "path",
                              "type": "string",
                              "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+/workloads/[^/]+$",
                              "required": true
                            },
                            "pageSize": {
                              "description": "Optional. The maximum number of access requests to return. The service may return fewer than this value. If unspecified, at most 500 access requests will be returned.",
                              "location": "query",
                              "format": "int32",
                              "type": "integer"
                            },
                            "filter": {
                              "type": "string",
                              "description": "Optional. Filtering results.",
                              "location": "query"
                            },
                            "orderBy": {
                              "description": "Optional. Hint for how to order the results.",
                              "location": "query",
                              "type": "string"
                            }
                          },
                          "deprecated": true,
                          "path": "v1beta/{+parent}/accessApprovalRequests",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "cloudcontrolspartner.organizations.locations.customers.workloads.accessApprovalRequests.list",
                          "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads/{workloadsId}/accessApprovalRequests",
                          "description": "Deprecated: Only returns access approval requests directly associated with an assured workload folder.",
                          "response": {
                            "$ref": "ListAccessApprovalRequestsResponse"
                          }
                        }
                      },
                      "deprecated": true
                    },
                    "violations": {
                      "methods": {
                        "list": {
                          "description": "Lists Violations for a workload Callers may also choose to read across multiple Customers or for a single customer as per [AIP-159](https://google.aip.dev/159) by using '-' (the hyphen or dash character) as a wildcard character instead of {customer} & {workload}. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}`",
                          "response": {
                            "$ref": "ListViolationsResponse"
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "parameters": {
                            "filter": {
                              "type": "string",
                              "description": "Optional. Filtering results",
                              "location": "query"
                            },
                            "orderBy": {
                              "description": "Optional. Hint for how to order the results",
                              "location": "query",
                              "type": "string"
                            },
                            "interval.endTime": {
                              "type": "string",
                              "format": "google-datetime",
                              "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
                              "location": "query"
                            },
                            "pageSize": {
                              "format": "int32",
                              "description": "Optional. The maximum number of customers row to return. The service may return fewer than this value. If unspecified, at most 10 customers will be returned.",
                              "location": "query",
                              "type": "integer"
                            },
                            "pageToken": {
                              "description": "Optional. A page token, received from a previous `ListViolations` call. Provide this to retrieve the subsequent page.",
                              "location": "query",
                              "type": "string"
                            },
                            "parent": {
                              "description": "Required. Parent resource Format `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}`",
                              "location": "path",
                              "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+/workloads/[^/]+$",
                              "type": "string",
                              "required": true
                            },
                            "interval.startTime": {
                              "type": "string",
                              "format": "google-datetime",
                              "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
                              "location": "query"
                            }
                          },
                          "httpMethod": "GET",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "cloudcontrolspartner.organizations.locations.customers.workloads.violations.list",
                          "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads/{workloadsId}/violations",
                          "path": "v1beta/{+parent}/violations"
                        },
                        "get": {
                          "response": {
                            "$ref": "Violation"
                          },
                          "description": "Gets details of a single Violation.",
                          "path": "v1beta/{+name}",
                          "id": "cloudcontrolspartner.organizations.locations.customers.workloads.violations.get",
                          "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads/{workloadsId}/violations/{violationsId}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "GET",
                          "parameters": {
                            "name": {
                              "type": "string",
                              "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+/workloads/[^/]+/violations/[^/]+$",
                              "required": true,
                              "description": "Required. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/violations/{violation}`",
                              "location": "path"
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ]
                        }
                      }
                    }
                  }
                }
              },
              "methods": {
                "delete": {
                  "description": "Delete details of a single customer",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. name of the resource to be deleted format: name=organizations/*/locations/*/customers/*",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "id": "cloudcontrolspartner.organizations.locations.customers.delete",
                  "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta/{+name}"
                },
                "create": {
                  "parameters": {
                    "parent": {
                      "description": "Required. Parent resource Format: `organizations/{organization}/locations/{location}`",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$"
                    },
                    "customerId": {
                      "description": "Required. The customer id to use for the customer, which will become the final component of the customer's resource name. The specified value must be a valid Google cloud organization id.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "id": "cloudcontrolspartner.organizations.locations.customers.create",
                  "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta/{+parent}/customers",
                  "request": {
                    "$ref": "Customer"
                  },
                  "description": "Creates a new customer.",
                  "response": {
                    "$ref": "Customer"
                  }
                },
                "patch": {
                  "path": "v1beta/{+name}",
                  "request": {
                    "$ref": "Customer"
                  },
                  "id": "cloudcontrolspartner.organizations.locations.customers.patch",
                  "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+$",
                      "required": true,
                      "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}`",
                      "location": "path"
                    },
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Optional. The list of fields to update",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Customer"
                  },
                  "description": "Update details of a single customer"
                },
                "get": {
                  "parameters": {
                    "name": {
                      "description": "Required. Format: `organizations/{organization}/locations/{location}/customers/{customer}`",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "id": "cloudcontrolspartner.organizations.locations.customers.get",
                  "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta/{+name}",
                  "description": "Gets details of a single customer",
                  "response": {
                    "$ref": "Customer"
                  }
                },
                "list": {
                  "description": "Lists customers of a partner identified by its Google Cloud organization ID",
                  "response": {
                    "$ref": "ListCustomersResponse"
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageToken": {
                      "description": "A page token, received from a previous `ListCustomers` call. Provide this to retrieve the subsequent page.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. Parent resource Format: `organizations/{organization}/locations/{location}`",
                      "location": "path"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. Filtering results",
                      "location": "query"
                    },
                    "orderBy": {
                      "description": "Optional. Hint for how to order the results",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "The maximum number of Customers to return. The service may return fewer than this value. If unspecified, at most 500 Customers will be returned.",
                      "location": "query",
                      "type": "integer"
                    }
                  },
                  "path": "v1beta/{+parent}/customers",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudcontrolspartner.organizations.locations.customers.list",
                  "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers"
                }
              }
            }
          }
        }
      }
    }
  },
  "version_module": true,
  "baseUrl": "https://cloudcontrolspartner.googleapis.com/",
  "id": "cloudcontrolspartner:v1beta",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "batchPath": "batch"
}