{
  "revision": "20260627",
  "parameters": {
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    },
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    }
  },
  "discoveryVersion": "v1",
  "schemas": {
    "GitLabEventsConfig": {
      "id": "GitLabEventsConfig",
      "description": "Deprecated: CloudBuild GitLab V1 integration is deprecated. GitLabEventsConfig describes the configuration of a trigger that creates a build whenever a GitLab event is received.",
      "deprecated": true,
      "type": "object",
      "properties": {
        "push": {
          "$ref": "PushFilter",
          "description": "Filter to match changes in refs like branches, tags."
        },
        "gitlabConfigResource": {
          "type": "string",
          "description": "The GitLab config resource that this trigger config maps to."
        },
        "pullRequest": {
          "$ref": "PullRequestFilter",
          "description": "Filter to match changes in pull requests."
        },
        "gitlabConfig": {
          "$ref": "GitLabConfig",
          "description": "Output only. The GitLabConfig specified in the gitlab_config_resource field.",
          "readOnly": true
        },
        "projectNamespace": {
          "type": "string",
          "description": "Namespace of the GitLab project."
        }
      }
    },
    "BitbucketServerRepository": {
      "id": "BitbucketServerRepository",
      "type": "object",
      "description": "BitbucketServerRepository represents a repository hosted on a Bitbucket Server.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Display name of the repository."
        },
        "browseUri": {
          "description": "Link to the browse repo page on the Bitbucket Server instance.",
          "type": "string"
        },
        "name": {
          "description": "The resource name of the repository.",
          "type": "string"
        },
        "description": {
          "description": "Description of the repository.",
          "type": "string"
        },
        "repoId": {
          "description": "Identifier for a repository hosted on a Bitbucket Server.",
          "$ref": "BitbucketServerRepositoryId"
        }
      }
    },
    "ListBitbucketServerConfigsResponse": {
      "description": "RPC response object returned by ListBitbucketServerConfigs RPC method.",
      "properties": {
        "bitbucketServerConfigs": {
          "description": "A list of BitbucketServerConfigs",
          "items": {
            "$ref": "BitbucketServerConfig"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListBitbucketServerConfigsResponse"
    },
    "HttpConfig": {
      "description": "HttpConfig is a configuration for HTTP related git operations.",
      "properties": {
        "proxySecretVersionName": {
          "description": "SecretVersion resource of the HTTP proxy URL. The Service Account used in the build (either the default Service Account or user-specified Service Account) should have `secretmanager.versions.access` permissions on this secret. The proxy URL should be in format `protocol://@]proxyhost[:port]`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "HttpConfig"
    },
    "DeveloperConnectEventConfig": {
      "description": "The configuration of a trigger that creates a build whenever an event from the DeveloperConnect API is received.",
      "properties": {
        "gitRepositoryLinkType": {
          "readOnly": true,
          "description": "Output only. The type of DeveloperConnect GitRepositoryLink.",
          "enumDescriptions": [
            "If unspecified, GitRepositoryLinkType defaults to GITHUB.",
            "The SCM repo is GITHUB.",
            "The SCM repo is GITHUB_ENTERPRISE.",
            "The SCM repo is GITLAB.",
            "The SCM repo is GITLAB_ENTERPRISE.",
            "The SCM repo is BITBUCKET_DATA_CENTER.",
            "The SCM repo is BITBUCKET_CLOUD."
          ],
          "type": "string",
          "enum": [
            "GIT_REPOSITORY_LINK_TYPE_UNSPECIFIED",
            "GITHUB",
            "GITHUB_ENTERPRISE",
            "GITLAB",
            "GITLAB_ENTERPRISE",
            "BITBUCKET_DATA_CENTER",
            "BITBUCKET_CLOUD"
          ]
        },
        "pullRequest": {
          "$ref": "PullRequestFilter",
          "description": "Filter to match changes in pull requests."
        },
        "push": {
          "$ref": "PushFilter",
          "description": "Filter to match changes in refs like branches and tags."
        },
        "gitRepositoryLink": {
          "type": "string",
          "description": "Required. The Developer Connect Git repository link, formatted as `projects/*/locations/*/connections/*/gitRepositoryLink/*`."
        }
      },
      "id": "DeveloperConnectEventConfig",
      "type": "object"
    },
    "FileHashes": {
      "type": "object",
      "id": "FileHashes",
      "description": "Container message for hashes of byte content of files, used in SourceProvenance messages to verify integrity of source input to the build.",
      "properties": {
        "fileHash": {
          "description": "Collection of file hashes.",
          "items": {
            "$ref": "Hash"
          },
          "type": "array"
        }
      }
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "Status"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "type": "object",
      "id": "Empty"
    },
    "ListGitLabConfigsResponse": {
      "properties": {
        "gitlabConfigs": {
          "items": {
            "$ref": "GitLabConfig"
          },
          "description": "A list of GitLabConfigs",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page If this field is omitted, there are no subsequent pages."
        }
      },
      "deprecated": true,
      "type": "object",
      "description": "Deprecated: CloudBuild GitLab V1 integration is deprecated. RPC response object returned by ListGitLabConfigs RPC method.",
      "id": "ListGitLabConfigsResponse"
    },
    "SecretManagerSecret": {
      "description": "Pairs a secret environment variable with a SecretVersion in Secret Manager.",
      "properties": {
        "versionName": {
          "description": "Resource name of the SecretVersion. In format: projects/*/secrets/*/versions/*",
          "type": "string"
        },
        "env": {
          "type": "string",
          "description": "Environment variable name to associate with the secret. Secret environment variables must be unique across all of a build's secrets, and must be used by at least one build step."
        }
      },
      "id": "SecretManagerSecret",
      "type": "object"
    },
    "BatchCreateBitbucketServerConnectedRepositoriesRequest": {
      "id": "BatchCreateBitbucketServerConnectedRepositoriesRequest",
      "type": "object",
      "description": "RPC request object accepted by BatchCreateBitbucketServerConnectedRepositories RPC method.",
      "properties": {
        "requests": {
          "type": "array",
          "items": {
            "$ref": "CreateBitbucketServerConnectedRepositoryRequest"
          },
          "description": "Required. Requests to connect Bitbucket Server repositories."
        }
      }
    },
    "NetworkConfig": {
      "id": "NetworkConfig",
      "type": "object",
      "description": "Defines the network configuration for the pool.",
      "properties": {
        "peeredNetwork": {
          "type": "string",
          "description": "Required. Immutable. The network definition that the workers are peered to. If this section is left empty, the workers will be peered to `WorkerPool.project_id` on the service producer network. Must be in the format `projects/{project}/global/networks/{network}`, where `{project}` is a project number, such as `12345`, and `{network}` is the name of a VPC network in the project. See [Understanding network configuration options](https://cloud.google.com/build/docs/private-pools/set-up-private-pool-environment)"
        },
        "egressOption": {
          "type": "string",
          "enum": [
            "EGRESS_OPTION_UNSPECIFIED",
            "NO_PUBLIC_EGRESS",
            "PUBLIC_EGRESS"
          ],
          "description": "Option to configure network egress for the workers.",
          "enumDescriptions": [
            "If set, defaults to PUBLIC_EGRESS.",
            "If set, workers are created without any public address, which prevents network egress to public IPs unless a network proxy is configured.",
            "If set, workers are created with a public address which allows for public internet egress."
          ]
        },
        "peeredNetworkIpRange": {
          "type": "string",
          "description": "Immutable. Subnet IP range within the peered network. This is specified in CIDR notation with a slash and the subnet prefix size. You can optionally specify an IP address before the subnet prefix value. e.g. `192.168.0.0/29` would specify an IP range starting at 192.168.0.0 with a prefix size of 29 bits. `/16` would specify a prefix size of 16 bits, with an automatically determined IP within the peered VPC. If unspecified, a value of `/24` will be used."
        }
      }
    },
    "ListWorkerPoolsResponse": {
      "id": "ListWorkerPoolsResponse",
      "type": "object",
      "description": "Response containing existing `WorkerPools`.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through large result sets. Provide this value in a subsequent ListWorkerPoolsRequest to return the next page of results."
        },
        "workerPools": {
          "items": {
            "$ref": "WorkerPool"
          },
          "description": "`WorkerPools` for the specified project.",
          "type": "array"
        }
      }
    },
    "UpdateBitbucketServerConfigOperationMetadata": {
      "description": "Metadata for `UpdateBitbucketServerConfig` operation.",
      "properties": {
        "completeTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time the operation was completed."
        },
        "bitbucketServerConfig": {
          "description": "The resource name of the BitbucketServerConfig to be updated. Format: `projects/{project}/locations/{location}/bitbucketServerConfigs/{id}`.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Time the operation was created.",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "UpdateBitbucketServerConfigOperationMetadata"
    },
    "WorkerConfig": {
      "id": "WorkerConfig",
      "type": "object",
      "description": "Defines the configuration to be used for creating workers in the pool.",
      "properties": {
        "machineType": {
          "description": "Optional. Machine type of a worker, such as `e2-medium`. See [Worker pool config file](https://cloud.google.com/build/docs/private-pools/worker-pool-config-file-schema). If left blank, Cloud Build will use a sensible default.",
          "type": "string"
        },
        "diskSizeGb": {
          "description": "Size of the disk attached to the worker, in GB. See [Worker pool config file](https://cloud.google.com/build/docs/private-pools/worker-pool-config-file-schema). Specify a value of up to 4000. If `0` is specified, Cloud Build will use a standard disk size.",
          "format": "int64",
          "type": "string"
        },
        "enableNestedVirtualization": {
          "type": "boolean",
          "description": "Optional. Enable nested virtualization on the worker, if supported by the machine type. By default, nested virtualization is disabled."
        }
      }
    },
    "CreateGitHubEnterpriseConfigOperationMetadata": {
      "type": "object",
      "id": "CreateGitHubEnterpriseConfigOperationMetadata",
      "description": "Metadata for `CreateGithubEnterpriseConfig` operation.",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Time the operation was created.",
          "type": "string"
        },
        "githubEnterpriseConfig": {
          "type": "string",
          "description": "The resource name of the GitHubEnterprise to be created. Format: `projects/{project}/locations/{location}/githubEnterpriseConfigs/{id}`."
        },
        "completeTime": {
          "format": "google-datetime",
          "description": "Time the operation was completed.",
          "type": "string"
        }
      }
    },
    "TimeSpan": {
      "type": "object",
      "id": "TimeSpan",
      "description": "Start and end times for a build execution phase.",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "description": "Start of time span.",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "description": "End of time span.",
          "format": "google-datetime"
        }
      }
    },
    "CancelBuildRequest": {
      "type": "object",
      "id": "CancelBuildRequest",
      "description": "Request to cancel an ongoing build.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Required. ID of the build."
        },
        "name": {
          "type": "string",
          "description": "The name of the `Build` to cancel. Format: `projects/{project}/locations/{location}/builds/{build}`"
        },
        "projectId": {
          "description": "Required. ID of the project.",
          "type": "string"
        }
      }
    },
    "OperationMetadata": {
      "type": "object",
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "apiVersion": {
          "type": "string",
          "description": "Output only. API version used to start the operation.",
          "readOnly": true
        },
        "verb": {
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "target": {
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "type": "string"
        },
        "cancelRequested": {
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "readOnly": true
        },
        "statusDetail": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GitConfig": {
      "description": "GitConfig is a configuration for git operations.",
      "properties": {
        "http": {
          "$ref": "HttpConfig",
          "description": "Configuration for HTTP related git operations."
        }
      },
      "id": "GitConfig",
      "type": "object"
    },
    "DeleteBitbucketServerConfigOperationMetadata": {
      "description": "Metadata for `DeleteBitbucketServerConfig` operation.",
      "properties": {
        "completeTime": {
          "description": "Time the operation was completed.",
          "format": "google-datetime",
          "type": "string"
        },
        "bitbucketServerConfig": {
          "description": "The resource name of the BitbucketServerConfig to be deleted. Format: `projects/{project}/locations/{location}/bitbucketServerConfigs/{id}`.",
          "type": "string"
        },
        "createTime": {
          "description": "Time the operation was created.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "DeleteBitbucketServerConfigOperationMetadata",
      "type": "object"
    },
    "UploadedPythonPackage": {
      "type": "object",
      "id": "UploadedPythonPackage",
      "description": "Artifact uploaded using the PythonPackage directive.",
      "properties": {
        "artifactRegistryPackage": {
          "readOnly": true,
          "description": "Output only. Path to the artifact in Artifact Registry.",
          "type": "string"
        },
        "uri": {
          "type": "string",
          "description": "URI of the uploaded artifact."
        },
        "fileHashes": {
          "description": "Hash types and values of the Python Artifact.",
          "$ref": "FileHashes"
        },
        "pushTiming": {
          "description": "Output only. Stores timing information for pushing the specified artifact.",
          "readOnly": true,
          "$ref": "TimeSpan"
        }
      }
    },
    "ApprovalConfig": {
      "description": "ApprovalConfig describes configuration for manual approval of a build.",
      "properties": {
        "approvalRequired": {
          "type": "boolean",
          "description": "Whether or not approval is needed. If this is set on a build, it will become pending when created, and will need to be explicitly approved to start."
        }
      },
      "id": "ApprovalConfig",
      "type": "object"
    },
    "Build": {
      "description": "A build resource in the Cloud Build API. At a high level, a `Build` describes where to find source code, how to build it (for example, the builder image to run on the source), and where to store the built artifacts. Fields can include the following variables, which will be expanded when the build is created: - $PROJECT_ID: the project ID of the build. - $PROJECT_NUMBER: the project number of the build. - $LOCATION: the location/region of the build. - $BUILD_ID: the autogenerated ID of the build. - $REPO_NAME: the source repository name specified by RepoSource. - $BRANCH_NAME: the branch name specified by RepoSource. - $TAG_NAME: the tag name specified by RepoSource. - $REVISION_ID or $COMMIT_SHA: the commit SHA specified by RepoSource or resolved from the specified branch or tag. - $SHORT_SHA: first 7 characters of $REVISION_ID or $COMMIT_SHA.",
      "properties": {
        "logsBucket": {
          "description": "Cloud Storage bucket where logs should be written (see [Bucket Name Requirements](https://cloud.google.com/storage/docs/bucket-naming#requirements)). Logs file names will be of the format `${logs_bucket}/log-${build_id}.txt`.",
          "type": "string"
        },
        "options": {
          "$ref": "BuildOptions",
          "description": "Special options for this build."
        },
        "approval": {
          "description": "Output only. Describes this build's approval configuration, status, and result.",
          "readOnly": true,
          "$ref": "BuildApproval"
        },
        "images": {
          "type": "array",
          "description": "A list of images to be pushed upon the successful completion of all build steps. The images are pushed using the builder service account's credentials. The digests of the pushed images will be stored in the `Build` resource's results field. If any of the images fail to be pushed, the build status is marked `FAILURE`.",
          "items": {
            "type": "string"
          }
        },
        "availableSecrets": {
          "description": "Secrets and secret environment variables.",
          "$ref": "Secrets"
        },
        "timing": {
          "additionalProperties": {
            "$ref": "TimeSpan"
          },
          "type": "object",
          "description": "Output only. Stores timing information for phases of the build. Valid keys are: * BUILD: time to execute all build steps. * PUSH: time to push all artifacts including docker images and non docker artifacts. * FETCHSOURCE: time to fetch source. * SETUPBUILD: time to set up build. If the build does not specify source or images, these keys will not be included.",
          "readOnly": true
        },
        "serviceAccount": {
          "description": "IAM service account whose credentials will be used at build runtime. Must be of the format `projects/{PROJECT_ID}/serviceAccounts/{ACCOUNT}`. ACCOUNT can be email address or uniqueId of the service account. ",
          "type": "string"
        },
        "secrets": {
          "type": "array",
          "description": "Secrets to decrypt using Cloud Key Management Service. Note: Secret Manager is the recommended technique for managing sensitive data with Cloud Build. Use `available_secrets` to configure builds to access secrets from Secret Manager. For instructions, see: https://cloud.google.com/cloud-build/docs/securing-builds/use-secrets",
          "items": {
            "$ref": "Secret"
          }
        },
        "queueTtl": {
          "type": "string",
          "format": "google-duration",
          "description": "TTL in queue for this build. If provided and the build is enqueued longer than this value, the build will expire and the build status will be `EXPIRED`. The TTL starts ticking from create_time."
        },
        "results": {
          "description": "Output only. Results of the build.",
          "readOnly": true,
          "$ref": "Results"
        },
        "gitConfig": {
          "$ref": "GitConfig",
          "description": "Optional. Configuration for git operations."
        },
        "sourceProvenance": {
          "$ref": "SourceProvenance",
          "description": "Output only. A permanent fixed identifier for source.",
          "readOnly": true
        },
        "projectId": {
          "readOnly": true,
          "description": "Output only. ID of the project.",
          "type": "string"
        },
        "status": {
          "type": "string",
          "enum": [
            "STATUS_UNKNOWN",
            "PENDING",
            "QUEUED",
            "WORKING",
            "SUCCESS",
            "FAILURE",
            "INTERNAL_ERROR",
            "TIMEOUT",
            "CANCELLED",
            "EXPIRED"
          ],
          "readOnly": true,
          "description": "Output only. Status of the build.",
          "enumDescriptions": [
            "Status of the build is unknown.",
            "Build has been created and is pending execution and queuing. It has not been queued.",
            "Build or step is queued; work has not yet begun.",
            "Build or step is being executed.",
            "Build or step finished successfully.",
            "Build or step failed to complete successfully.",
            "Build or step failed due to an internal cause.",
            "Build or step took longer than was allowed.",
            "Build or step was canceled by a user.",
            "Build was enqueued for longer than the value of `queue_ttl`."
          ]
        },
        "id": {
          "description": "Output only. Unique identifier of the build.",
          "readOnly": true,
          "type": "string"
        },
        "steps": {
          "type": "array",
          "items": {
            "$ref": "BuildStep"
          },
          "description": "Required. The operations to be performed on the workspace."
        },
        "finishTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time at which execution of the build was finished. The difference between finish_time and start_time is the duration of the build's execution."
        },
        "startTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time at which execution of the build was started.",
          "type": "string"
        },
        "timeout": {
          "type": "string",
          "format": "google-duration",
          "description": "Amount of time that this build should be allowed to run, to second granularity. If this amount of time elapses, work on the build will cease and the build status will be `TIMEOUT`. `timeout` starts ticking from `startTime`. Default time is 60 minutes."
        },
        "failureInfo": {
          "readOnly": true,
          "description": "Output only. Contains information about the build when status=FAILURE.",
          "$ref": "FailureInfo"
        },
        "dependencies": {
          "type": "array",
          "items": {
            "$ref": "Dependency"
          },
          "description": "Optional. Dependencies that the Cloud Build worker will fetch before executing user steps."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The 'Build' name with format: `projects/{project}/locations/{location}/builds/{build}`, where {build} is a unique identifier generated by the service.",
          "type": "string"
        },
        "substitutions": {
          "description": "Substitutions data for `Build` resource.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "description": "Tags for annotation of a `Build`. These are not docker tags.",
          "type": "array"
        },
        "buildTriggerId": {
          "readOnly": true,
          "description": "Output only. The ID of the `BuildTrigger` that triggered this build, if it was triggered automatically.",
          "type": "string"
        },
        "source": {
          "$ref": "Source",
          "description": "Optional. The location of the source files to build."
        },
        "statusDetail": {
          "description": "Output only. Customer-readable message about the current status.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time at which the request to create the build was received.",
          "type": "string"
        },
        "artifacts": {
          "$ref": "Artifacts",
          "description": "Artifacts produced by the build that should be uploaded upon successful completion of all build steps."
        },
        "logUrl": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. URL to logs for this build in Google Cloud Console."
        },
        "warnings": {
          "type": "array",
          "description": "Output only. Non-fatal problems encountered during the execution of the build.",
          "readOnly": true,
          "items": {
            "$ref": "Warning"
          }
        }
      },
      "id": "Build",
      "type": "object"
    },
    "DefaultServiceAccount": {
      "id": "DefaultServiceAccount",
      "type": "object",
      "description": "The default service account used for `Builds`.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. Format: `projects/{project}/locations/{location}/defaultServiceAccount`."
        },
        "serviceAccountEmail": {
          "readOnly": true,
          "description": "Output only. The email address of the service account identity that will be used for a build by default. This is returned in the format `projects/{project}/serviceAccounts/{service_account}` where `{service_account}` could be the legacy Cloud Build SA, in the format [PROJECT_NUMBER]@cloudbuild.gserviceaccount.com or the Compute SA, in the format [PROJECT_NUMBER]-compute@developer.gserviceaccount.com. If no service account will be used by default, this will be empty.",
          "type": "string"
        }
      }
    },
    "DeveloperConnectConfig": {
      "id": "DeveloperConnectConfig",
      "type": "object",
      "description": "This config defines the location of a source through Developer Connect.",
      "properties": {
        "revision": {
          "description": "Required. The revision to fetch from the Git repository such as a branch, a tag, a commit SHA, or any Git ref.",
          "type": "string"
        },
        "dir": {
          "description": "Required. Directory, relative to the source root, in which to run the build.",
          "type": "string"
        },
        "gitRepositoryLink": {
          "type": "string",
          "description": "Required. The Developer Connect Git repository link, formatted as `projects/*/locations/*/connections/*/gitRepositoryLink/*`."
        }
      }
    },
    "BuildApproval": {
      "id": "BuildApproval",
      "type": "object",
      "description": "BuildApproval describes a build's approval configuration, state, and result.",
      "properties": {
        "state": {
          "readOnly": true,
          "description": "Output only. The state of this build's approval.",
          "enumDescriptions": [
            "Default enum type. This should not be used.",
            "Build approval is pending.",
            "Build approval has been approved.",
            "Build approval has been rejected.",
            "Build was cancelled while it was still pending approval."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "APPROVED",
            "REJECTED",
            "CANCELLED"
          ]
        },
        "config": {
          "description": "Output only. Configuration for manual approval of this build.",
          "readOnly": true,
          "$ref": "ApprovalConfig"
        },
        "result": {
          "$ref": "ApprovalResult",
          "description": "Output only. Result of manual approval for this Build.",
          "readOnly": true
        }
      }
    },
    "PullRequestFilter": {
      "description": "PullRequestFilter contains filter properties for matching GitHub Pull Requests.",
      "properties": {
        "invertRegex": {
          "type": "boolean",
          "description": "If true, branches that do NOT match the git_ref will trigger a build."
        },
        "branch": {
          "type": "string",
          "description": "Regex of branches to match. The syntax of the regular expressions accepted is the syntax accepted by RE2 and described at https://github.com/google/re2/wiki/Syntax"
        },
        "commentControl": {
          "type": "string",
          "enum": [
            "COMMENTS_DISABLED",
            "COMMENTS_ENABLED",
            "COMMENTS_ENABLED_FOR_EXTERNAL_CONTRIBUTORS_ONLY"
          ],
          "description": "If CommentControl is enabled, depending on the setting, builds may not fire until a repository writer comments `/gcbrun` on a pull request or `/gcbrun` is in the pull request description. Only PR comments that contain `/gcbrun` will trigger builds. If CommentControl is set to disabled, comments with `/gcbrun` from a user with repository write permission or above will still trigger builds to run.",
          "enumDescriptions": [
            "Do not require `/gcbrun` comments from a user with repository write permission or above on pull requests before builds are triggered. Comments that contain `/gcbrun` will still fire builds so this should be thought of as comments not required.",
            "Builds will only fire in response to pull requests if: 1. The pull request author has repository write permission or above and `/gcbrun` is in the PR description. 2. A user with repository writer permissions or above comments `/gcbrun` on a pull request authored by any user.",
            "Builds will only fire in response to pull requests if: 1. The pull request author is a repository writer or above. 2. If the author does not have write permissions, a user with write permissions or above must comment `/gcbrun` in order to fire a build."
          ]
        }
      },
      "type": "object",
      "id": "PullRequestFilter"
    },
    "BuildStepResults": {
      "description": "Results for a build step.",
      "properties": {
        "results": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Results for a build step."
        }
      },
      "id": "BuildStepResults",
      "type": "object"
    },
    "UploadedGenericArtifact": {
      "description": "A generic artifact uploaded to Artifact Registry using the GenericArtifact directive.",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Output only. URI of the uploaded artifact. Ex: projects/p1/locations/us/repositories/r1/packages/p1/versions/v1",
          "readOnly": true
        },
        "artifactFingerprint": {
          "description": "Output only. The hash of the whole artifact.",
          "readOnly": true,
          "$ref": "FileHashes"
        },
        "pushTiming": {
          "$ref": "TimeSpan",
          "readOnly": true,
          "description": "Output only. Stores timing information for pushing the specified artifact."
        },
        "artifactRegistryPackage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Path to the artifact in Artifact Registry."
        },
        "fileHashes": {
          "description": "Output only. The file hashes that make up the generic artifact.",
          "readOnly": true,
          "additionalProperties": {
            "$ref": "FileHashes"
          },
          "type": "object"
        }
      },
      "type": "object",
      "id": "UploadedGenericArtifact"
    },
    "Volume": {
      "description": "Volume describes a Docker container volume which is mounted into build steps in order to persist files across build step execution.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the volume to mount. Volume names must be unique per build step and must be valid names for Docker volumes. Each named volume must be used by at least two build steps."
        },
        "path": {
          "type": "string",
          "description": "Path at which to mount the volume. Paths must be absolute and cannot conflict with other volume paths on the same build step or with certain reserved volume paths."
        }
      },
      "id": "Volume",
      "type": "object"
    },
    "UploadedMavenArtifact": {
      "description": "A Maven artifact uploaded using the MavenArtifact directive.",
      "properties": {
        "artifactRegistryPackage": {
          "readOnly": true,
          "description": "Output only. Path to the artifact in Artifact Registry.",
          "type": "string"
        },
        "uri": {
          "description": "URI of the uploaded artifact.",
          "type": "string"
        },
        "fileHashes": {
          "$ref": "FileHashes",
          "description": "Hash types and values of the Maven Artifact."
        },
        "pushTiming": {
          "$ref": "TimeSpan",
          "readOnly": true,
          "description": "Output only. Stores timing information for pushing the specified artifact."
        }
      },
      "type": "object",
      "id": "UploadedMavenArtifact"
    },
    "Warning": {
      "type": "object",
      "id": "Warning",
      "description": "A non-fatal problem encountered during the execution of the build.",
      "properties": {
        "text": {
          "type": "string",
          "description": "Explanation of the warning generated."
        },
        "priority": {
          "type": "string",
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "INFO",
            "WARNING",
            "ALERT"
          ],
          "description": "The priority for this warning.",
          "enumDescriptions": [
            "Should not be used.",
            "e.g. deprecation warnings and alternative feature highlights.",
            "e.g. automated detection of possible issues with the build.",
            "e.g. alerts that a feature used in the build is pending removal"
          ]
        }
      }
    },
    "RemoveBitbucketServerConnectedRepositoryRequest": {
      "description": "RPC request object accepted by RemoveBitbucketServerConnectedRepository RPC method.",
      "properties": {
        "connectedRepository": {
          "description": "The connected repository to remove.",
          "$ref": "BitbucketServerRepositoryId"
        }
      },
      "type": "object",
      "id": "RemoveBitbucketServerConnectedRepositoryRequest"
    },
    "UploadedGoModule": {
      "description": "A Go module artifact uploaded to Artifact Registry using the GoModule directive.",
      "properties": {
        "artifactRegistryPackage": {
          "type": "string",
          "description": "Output only. Path to the artifact in Artifact Registry.",
          "readOnly": true
        },
        "uri": {
          "type": "string",
          "description": "URI of the uploaded artifact."
        },
        "fileHashes": {
          "description": "Hash types and values of the Go Module Artifact.",
          "$ref": "FileHashes"
        },
        "pushTiming": {
          "$ref": "TimeSpan",
          "readOnly": true,
          "description": "Output only. Stores timing information for pushing the specified artifact."
        }
      },
      "type": "object",
      "id": "UploadedGoModule"
    },
    "ListBuildsResponse": {
      "description": "Response including listed builds.",
      "properties": {
        "builds": {
          "items": {
            "$ref": "Build"
          },
          "description": "Builds will be sorted by `create_time`, descending.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to receive the next page of results. This will be absent if the end of the response list has been reached.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListBuildsResponse"
    },
    "GitHubEventsConfig": {
      "description": "GitHubEventsConfig describes the configuration of a trigger that creates a build whenever a GitHub event is received.",
      "properties": {
        "installationId": {
          "deprecated": true,
          "type": "string",
          "description": "The installationID that emits the GitHub event.",
          "format": "int64"
        },
        "owner": {
          "description": "Owner of the repository. For example: The owner for https://github.com/googlecloudplatform/cloud-builders is \"googlecloudplatform\".",
          "type": "string"
        },
        "pullRequest": {
          "description": "filter to match changes in pull requests.",
          "$ref": "PullRequestFilter"
        },
        "enterpriseConfigResourceName": {
          "description": "The resource name of the github enterprise config that should be applied to this installation. For example: \"projects/{$project_id}/locations/{$location_id}/githubEnterpriseConfigs/{$config_id}\"",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of the repository. For example: The name for https://github.com/googlecloudplatform/cloud-builders is \"cloud-builders\"."
        },
        "push": {
          "$ref": "PushFilter",
          "description": "filter to match changes in refs like branches, tags."
        }
      },
      "id": "GitHubEventsConfig",
      "type": "object"
    },
    "ReceiveTriggerWebhookResponse": {
      "description": "ReceiveTriggerWebhookResponse [Experimental] is the response object for the ReceiveTriggerWebhook method.",
      "properties": {},
      "id": "ReceiveTriggerWebhookResponse",
      "type": "object"
    },
    "DeleteGitLabConfigOperationMetadata": {
      "id": "DeleteGitLabConfigOperationMetadata",
      "description": "Deprecated: CloudBuild GitLab V1 integration is deprecated. Metadata for `DeleteGitLabConfig` operation.",
      "deprecated": true,
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Time the operation was created.",
          "type": "string"
        },
        "gitlabConfig": {
          "description": "The resource name of the GitLabConfig to be created. Format: `projects/{project}/locations/{location}/gitlabConfigs/{id}`.",
          "type": "string"
        },
        "completeTime": {
          "description": "Time the operation was completed.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "BitbucketServerTriggerConfig": {
      "description": "BitbucketServerTriggerConfig describes the configuration of a trigger that creates a build whenever a Bitbucket Server event is received.",
      "properties": {
        "repoSlug": {
          "type": "string",
          "description": "Required. Slug of the repository. A repository slug is a URL-friendly version of a repository name, automatically generated by Bitbucket for use in the URL. For example, if the repository name is 'test repo', in the URL it would become 'test-repo' as in https://mybitbucket.server/projects/TEST/repos/test-repo."
        },
        "bitbucketServerConfig": {
          "$ref": "BitbucketServerConfig",
          "description": "Output only. The BitbucketServerConfig specified in the bitbucket_server_config_resource field.",
          "readOnly": true
        },
        "push": {
          "description": "Filter to match changes in refs like branches, tags.",
          "$ref": "PushFilter"
        },
        "projectKey": {
          "description": "Required. Key of the project that the repo is in. For example: The key for https://mybitbucket.server/projects/TEST/repos/test-repo is \"TEST\".",
          "type": "string"
        },
        "bitbucketServerConfigResource": {
          "description": "Required. The Bitbucket server config resource that this trigger config maps to.",
          "type": "string"
        },
        "pullRequest": {
          "description": "Filter to match changes in pull requests.",
          "$ref": "PullRequestFilter"
        }
      },
      "type": "object",
      "id": "BitbucketServerTriggerConfig"
    },
    "PythonPackage": {
      "type": "object",
      "id": "PythonPackage",
      "description": "Python package to upload to Artifact Registry upon successful completion of all build steps. A package can encapsulate multiple objects to be uploaded to a single repository.",
      "properties": {
        "repository": {
          "type": "string",
          "description": "Artifact Registry repository, in the form \"https://$REGION-python.pkg.dev/$PROJECT/$REPOSITORY\" Files in the workspace matching any path pattern will be uploaded to Artifact Registry with this location as a prefix."
        },
        "paths": {
          "type": "array",
          "description": "Path globs used to match files in the build's workspace. For Python/ Twine, this is usually `dist/*`, and sometimes additionally an `.asc` file.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "PrivateServiceConnect": {
      "description": "Defines the Private Service Connect network configuration for the pool.",
      "properties": {
        "networkAttachment": {
          "type": "string",
          "description": "Required. Immutable. The network attachment that the worker network interface is peered to. Must be in the format `projects/{project}/regions/{region}/networkAttachments/{networkAttachment}`. The region of network attachment must be the same as the worker pool. See [Network Attachments](https://cloud.google.com/vpc/docs/about-network-attachments)"
        },
        "publicIpAddressDisabled": {
          "type": "boolean",
          "description": "Required. Immutable. Disable public IP on the primary network interface. If true, workers are created without any public address, which prevents network egress to public IPs unless a network proxy is configured. If false, workers are created with a public address which allows for public internet egress. The public address only applies to traffic through the primary network interface. If `route_all_traffic` is set to true, all traffic will go through the non-primary network interface, this boolean has no effect."
        },
        "routeAllTraffic": {
          "description": "Immutable. Route all traffic through PSC interface. Enable this if you want full control of traffic in the private pool. Configure Cloud NAT for the subnet of network attachment if you need to access public Internet. If false, Only route RFC 1918 (10.0.0.0/8, 172.16.0.0/12, and 192.168.0.0/16) and RFC 6598 (100.64.0.0/10) through PSC interface.",
          "type": "boolean"
        }
      },
      "id": "PrivateServiceConnect",
      "type": "object"
    },
    "GitLabConnectedRepository": {
      "description": "Deprecated: CloudBuild GitLab V1 integration is deprecated. GitLabConnectedRepository represents a GitLab connected repository request response.",
      "id": "GitLabConnectedRepository",
      "properties": {
        "repo": {
          "description": "The GitLab repositories to connect.",
          "$ref": "GitLabRepositoryId"
        },
        "status": {
          "readOnly": true,
          "description": "Output only. The status of the repo connection request.",
          "$ref": "Status"
        },
        "parent": {
          "type": "string",
          "description": "The name of the `GitLabConfig` that added connected repository. Format: `projects/{project}/locations/{location}/gitLabConfigs/{config}`"
        }
      },
      "deprecated": true,
      "type": "object"
    },
    "RepositoryEventConfig": {
      "description": "The configuration of a trigger that creates a build whenever an event from Repo API is received.",
      "properties": {
        "repository": {
          "description": "The resource name of the Repo API resource.",
          "type": "string"
        },
        "pullRequest": {
          "$ref": "PullRequestFilter",
          "description": "Filter to match changes in pull requests."
        },
        "push": {
          "description": "Filter to match changes in refs like branches, tags.",
          "$ref": "PushFilter"
        },
        "repositoryType": {
          "type": "string",
          "enum": [
            "REPOSITORY_TYPE_UNSPECIFIED",
            "GITHUB",
            "GITHUB_ENTERPRISE",
            "GITLAB_ENTERPRISE",
            "BITBUCKET_DATA_CENTER",
            "BITBUCKET_CLOUD"
          ],
          "description": "Output only. The type of the SCM vendor the repository points to.",
          "enumDescriptions": [
            "If unspecified, RepositoryType defaults to GITHUB.",
            "The SCM repo is GITHUB.",
            "The SCM repo is GITHUB Enterprise.",
            "The SCM repo is GITLAB Enterprise.",
            "The SCM repo is BITBUCKET Data Center.",
            "The SCM repo is BITBUCKET Cloud."
          ],
          "readOnly": true
        }
      },
      "id": "RepositoryEventConfig",
      "type": "object"
    },
    "Dependency": {
      "description": "A dependency that the Cloud Build worker will fetch before executing user steps.",
      "properties": {
        "empty": {
          "description": "If set to true disable all dependency fetching (ignoring the default source as well).",
          "type": "boolean"
        },
        "genericArtifact": {
          "$ref": "GenericArtifactDependency",
          "description": "Represents a generic artifact as a build dependency."
        },
        "gitSource": {
          "description": "Represents a git repository as a build dependency.",
          "$ref": "GitSourceDependency"
        }
      },
      "type": "object",
      "id": "Dependency"
    },
    "GenericArtifact": {
      "description": "Generic artifact to upload to Artifact Registry upon successful completion of all build steps.",
      "properties": {
        "registryPath": {
          "type": "string",
          "description": "Required. Registry path to upload the generic artifact to, in the form projects/$PROJECT/locations/$LOCATION/repositories/$REPO/packages/$PACKAGE/versions/$VERSION"
        },
        "folder": {
          "description": "Required. Path to the generic artifact in the build's workspace to be uploaded to Artifact Registry.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GenericArtifact"
    },
    "Secrets": {
      "id": "Secrets",
      "type": "object",
      "description": "Secrets and secret environment variables.",
      "properties": {
        "secretManager": {
          "type": "array",
          "description": "Secrets in Secret Manager and associated secret environment variable.",
          "items": {
            "$ref": "SecretManagerSecret"
          }
        },
        "inline": {
          "type": "array",
          "description": "Secrets encrypted with KMS key and the associated secret environment variable.",
          "items": {
            "$ref": "InlineSecret"
          }
        }
      }
    },
    "BuildOptions": {
      "id": "BuildOptions",
      "type": "object",
      "description": "Optional arguments to enable specific features of builds.",
      "properties": {
        "enableStructuredLogging": {
          "description": "Optional. Option to specify whether structured logging is enabled. If true, JSON-formatted logs are parsed as structured logs.",
          "type": "boolean"
        },
        "machineType": {
          "description": "Compute Engine machine type on which to run the build.",
          "enumDescriptions": [
            "Standard machine type.",
            "Highcpu machine with 8 CPUs.",
            "Highcpu machine with 32 CPUs.",
            "Highcpu e2 machine with 8 CPUs.",
            "Highcpu e2 machine with 32 CPUs.",
            "E2 machine with 1 CPU.",
            "E2 machine with 2 CPUs."
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "N1_HIGHCPU_8",
            "N1_HIGHCPU_32",
            "E2_HIGHCPU_8",
            "E2_HIGHCPU_32",
            "E2_MEDIUM",
            "E2_STANDARD_2"
          ],
          "enumDeprecated": [
            false,
            true,
            true,
            false,
            false,
            false,
            false
          ]
        },
        "sourceProvenanceHash": {
          "items": {
            "enumDescriptions": [
              "No hash requested.",
              "Use a sha256 hash.",
              "Use a md5 hash.",
              "Dirhash of a Go module's source code which is then hex-encoded.",
              "Use a sha512 hash.",
              "Use a dirsum_sha256 hash."
            ],
            "type": "string",
            "enum": [
              "NONE",
              "SHA256",
              "MD5",
              "GO_MODULE_H1",
              "SHA512",
              "DIRSUM_SHA256"
            ]
          },
          "description": "Requested hash for SourceProvenance.",
          "type": "array"
        },
        "defaultLogsBucketBehavior": {
          "type": "string",
          "enum": [
            "DEFAULT_LOGS_BUCKET_BEHAVIOR_UNSPECIFIED",
            "REGIONAL_USER_OWNED_BUCKET",
            "LEGACY_BUCKET"
          ],
          "description": "Optional. Option to specify how default logs buckets are setup.",
          "enumDescriptions": [
            "Unspecified.",
            "Bucket is located in user-owned project in the same region as the build. The builder service account must have access to create and write to Cloud Storage buckets in the build project.",
            "Bucket is located in a Google-owned project and is not regionalized."
          ]
        },
        "pubsubTopic": {
          "type": "string",
          "description": "Optional. Option to specify the Pub/Sub topic to receive build status updates."
        },
        "dynamicSubstitutions": {
          "description": "Option to specify whether or not to apply bash style string operations to the substitutions. NOTE: this is always enabled for triggered builds and cannot be overridden in the build configuration file.",
          "type": "boolean"
        },
        "diskSizeGb": {
          "description": "Requested disk size for the VM that runs the build. Note that this is *NOT* \"disk free\"; some of the space will be used by the operating system and build utilities. Also note that this is the minimum disk size that will be allocated for the build -- the build may run with a larger disk than requested. At present, the maximum disk size is 4000GB; builds that request more than the maximum are rejected with an error.",
          "format": "int64",
          "type": "string"
        },
        "logging": {
          "type": "string",
          "enum": [
            "LOGGING_UNSPECIFIED",
            "LEGACY",
            "GCS_ONLY",
            "STACKDRIVER_ONLY",
            "CLOUD_LOGGING_ONLY",
            "NONE"
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false
          ],
          "description": "Option to specify the logging mode, which determines if and where build logs are stored.",
          "enumDescriptions": [
            "The service determines the logging mode. The default is `LEGACY`. Do not rely on the default logging behavior as it may change in the future.",
            "Build logs are stored in Cloud Logging and Cloud Storage.",
            "Build logs are stored in Cloud Storage.",
            "This option is the same as CLOUD_LOGGING_ONLY.",
            "Build logs are stored in Cloud Logging. Selecting this option will not allow [logs streaming](https://cloud.google.com/sdk/gcloud/reference/builds/log).",
            "Turn off all logging. No build logs will be captured."
          ]
        },
        "requestedVerifyOption": {
          "description": "Requested verifiability options.",
          "enumDescriptions": [
            "Not a verifiable build (the default).",
            "Build must be verified."
          ],
          "type": "string",
          "enum": [
            "NOT_VERIFIED",
            "VERIFIED"
          ]
        },
        "pool": {
          "description": "Optional. Specification for execution on a `WorkerPool`. See [running builds in a private pool](https://cloud.google.com/build/docs/private-pools/run-builds-in-private-pool) for more information.",
          "$ref": "PoolOption"
        },
        "automapSubstitutions": {
          "type": "boolean",
          "description": "Option to include built-in and custom substitutions as env variables for all build steps."
        },
        "workerPool": {
          "type": "string",
          "deprecated": true,
          "description": "This field deprecated; please use `pool.name` instead."
        },
        "substitutionOption": {
          "type": "string",
          "enum": [
            "MUST_MATCH",
            "ALLOW_LOOSE"
          ],
          "description": "Option to specify behavior when there is an error in the substitution checks. NOTE: this is always set to ALLOW_LOOSE for triggered builds and cannot be overridden in the build configuration file.",
          "enumDescriptions": [
            "Fails the build if error in substitutions checks, like missing a substitution in the template or in the map.",
            "Do not fail the build if error in substitutions checks."
          ]
        },
        "volumes": {
          "type": "array",
          "description": "Global list of volumes to mount for ALL build steps Each volume is created as an empty volume prior to starting the build process. Upon completion of the build, volumes and their contents are discarded. Global volume names and paths cannot conflict with the volumes defined a build step. Using a global volume in a build with only one step is not valid as it is indicative of a build request with an incorrect configuration.",
          "items": {
            "$ref": "Volume"
          }
        },
        "secretEnv": {
          "items": {
            "type": "string"
          },
          "description": "A list of global environment variables, which are encrypted using a Cloud Key Management Service crypto key. These values must be specified in the build's `Secret`. These variables will be available to all build steps in this build.",
          "type": "array"
        },
        "logStreamingOption": {
          "description": "Option to define build log streaming behavior to Cloud Storage.",
          "enumDescriptions": [
            "Service may automatically determine build log streaming behavior.",
            "Build logs should be streamed to Cloud Storage.",
            "Build logs should not be streamed to Cloud Storage; they will be written when the build is completed."
          ],
          "type": "string",
          "enum": [
            "STREAM_DEFAULT",
            "STREAM_ON",
            "STREAM_OFF"
          ]
        },
        "env": {
          "type": "array",
          "description": "A list of global environment variable definitions that will exist for all build steps in this build. If a variable is defined in both globally and in a build step, the variable will use the build step value. The elements are of the form \"KEY=VALUE\" for the environment variable \"KEY\" being given the value \"VALUE\".",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListBuildTriggersResponse": {
      "description": "Response containing existing `BuildTriggers`.",
      "properties": {
        "triggers": {
          "items": {
            "$ref": "BuildTrigger"
          },
          "description": "`BuildTriggers` for the project, sorted by `create_time` descending.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to receive the next page of results."
        }
      },
      "id": "ListBuildTriggersResponse",
      "type": "object"
    },
    "DeleteGitHubEnterpriseConfigOperationMetadata": {
      "description": "Metadata for `DeleteGitHubEnterpriseConfig` operation.",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Time the operation was created.",
          "type": "string"
        },
        "completeTime": {
          "type": "string",
          "description": "Time the operation was completed.",
          "format": "google-datetime"
        },
        "githubEnterpriseConfig": {
          "description": "The resource name of the GitHubEnterprise to be deleted. Format: `projects/{project}/locations/{location}/githubEnterpriseConfigs/{id}`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "DeleteGitHubEnterpriseConfigOperationMetadata"
    },
    "RetryBuildRequest": {
      "description": "Specifies a build to retry.",
      "properties": {
        "name": {
          "description": "The name of the `Build` to retry. Format: `projects/{project}/locations/{location}/builds/{build}`",
          "type": "string"
        },
        "projectId": {
          "description": "Required. ID of the project.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Required. Build ID of the original build."
        }
      },
      "id": "RetryBuildRequest",
      "type": "object"
    },
    "BatchCreateBitbucketServerConnectedRepositoriesResponse": {
      "description": "Response of BatchCreateBitbucketServerConnectedRepositories RPC method including all successfully connected Bitbucket Server repositories.",
      "properties": {
        "bitbucketServerConnectedRepositories": {
          "type": "array",
          "items": {
            "$ref": "BitbucketServerConnectedRepository"
          },
          "description": "The connected Bitbucket Server repositories."
        }
      },
      "type": "object",
      "id": "BatchCreateBitbucketServerConnectedRepositoriesResponse"
    },
    "BuiltImage": {
      "type": "object",
      "id": "BuiltImage",
      "description": "An image built by the pipeline.",
      "properties": {
        "name": {
          "description": "Name used to push the container image to Google Container Registry, as presented to `docker push`.",
          "type": "string"
        },
        "artifactRegistryPackage": {
          "description": "Output only. Path to the artifact in Artifact Registry.",
          "readOnly": true,
          "type": "string"
        },
        "ociMediaType": {
          "type": "string",
          "enum": [
            "OCI_MEDIA_TYPE_UNSPECIFIED",
            "IMAGE_MANIFEST",
            "IMAGE_INDEX"
          ],
          "readOnly": true,
          "description": "Output only. The OCI media type of the artifact. Non-OCI images, such as Docker images, will have an unspecified value.",
          "enumDescriptions": [
            "Default value.",
            "The artifact is an image manifest, which represents a single image with all its layers.",
            "The artifact is an image index, which can contain a list of image manifests."
          ]
        },
        "pushTiming": {
          "description": "Output only. Stores timing information for pushing the specified image.",
          "readOnly": true,
          "$ref": "TimeSpan"
        },
        "digest": {
          "description": "Docker Registry 2.0 digest.",
          "type": "string"
        }
      }
    },
    "UpdateGitHubEnterpriseConfigOperationMetadata": {
      "id": "UpdateGitHubEnterpriseConfigOperationMetadata",
      "type": "object",
      "description": "Metadata for `UpdateGitHubEnterpriseConfig` operation.",
      "properties": {
        "githubEnterpriseConfig": {
          "type": "string",
          "description": "The resource name of the GitHubEnterprise to be updated. Format: `projects/{project}/locations/{location}/githubEnterpriseConfigs/{id}`."
        },
        "completeTime": {
          "type": "string",
          "description": "Time the operation was completed.",
          "format": "google-datetime"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Time the operation was created.",
          "type": "string"
        }
      }
    },
    "GitSource": {
      "type": "object",
      "id": "GitSource",
      "description": "Location of the source in any accessible Git repository.",
      "properties": {
        "url": {
          "type": "string",
          "description": "Required. Location of the Git repo to build. This will be used as a `git remote`, see https://git-scm.com/docs/git-remote."
        },
        "revision": {
          "type": "string",
          "description": "Optional. The revision to fetch from the Git repository such as a branch, a tag, a commit SHA, or any Git ref. Cloud Build uses `git fetch` to fetch the revision from the Git repository; therefore make sure that the string you provide for `revision` is parsable by the command. For information on string values accepted by `git fetch`, see https://git-scm.com/docs/gitrevisions#_specifying_revisions. For information on `git fetch`, see https://git-scm.com/docs/git-fetch."
        },
        "dir": {
          "description": "Optional. Directory, relative to the source root, in which to run the build. This must be a relative path. If a step's `dir` is specified and is an absolute path, this value is ignored for that step's execution.",
          "type": "string"
        }
      }
    },
    "SourceProvenance": {
      "id": "SourceProvenance",
      "type": "object",
      "description": "Provenance of the source. Ways to find the original source, or verify that some source was used for this build.",
      "properties": {
        "fileHashes": {
          "additionalProperties": {
            "$ref": "FileHashes"
          },
          "type": "object",
          "description": "Output only. Hash(es) of the build source, which can be used to verify that the original source integrity was maintained in the build. Note that `FileHashes` will only be populated if `BuildOptions` has requested a `SourceProvenanceHash`. The keys to this map are file paths used as build source and the values contain the hash values for those files. If the build source came in a single package such as a gzipped tarfile (`.tar.gz`), the `FileHash` will be for the single path to that file.",
          "readOnly": true
        },
        "resolvedStorageSource": {
          "$ref": "StorageSource",
          "description": "A copy of the build's `source.storage_source`, if exists, with any generations resolved."
        },
        "resolvedConnectedRepository": {
          "$ref": "ConnectedRepository",
          "readOnly": true,
          "description": "Output only. A copy of the build's `source.connected_repository`, if exists, with any revisions resolved."
        },
        "resolvedRepoSource": {
          "$ref": "RepoSource",
          "description": "A copy of the build's `source.repo_source`, if exists, with any revisions resolved."
        },
        "resolvedGitSource": {
          "description": "Output only. A copy of the build's `source.git_source`, if exists, with any revisions resolved.",
          "readOnly": true,
          "$ref": "GitSource"
        },
        "resolvedStorageSourceManifest": {
          "$ref": "StorageSourceManifest",
          "description": "A copy of the build's `source.storage_source_manifest`, if exists, with any revisions resolved. This feature is in Preview."
        }
      }
    },
    "InlineSecret": {
      "description": "Pairs a set of secret environment variables mapped to encrypted values with the Cloud KMS key to use to decrypt the value.",
      "properties": {
        "envMap": {
          "description": "Map of environment variable name to its encrypted value. Secret environment variables must be unique across all of a build's secrets, and must be used by at least one build step. Values can be at most 64 KB in size. There can be at most 100 secret values across all of a build's secrets.",
          "type": "object",
          "additionalProperties": {
            "type": "string",
            "format": "byte"
          }
        },
        "kmsKeyName": {
          "type": "string",
          "description": "Resource name of Cloud KMS crypto key to decrypt the encrypted value. In format: projects/*/locations/*/keyRings/*/cryptoKeys/*"
        }
      },
      "id": "InlineSecret",
      "type": "object"
    },
    "PushFilter": {
      "type": "object",
      "id": "PushFilter",
      "description": "Push contains filter properties for matching GitHub git pushes.",
      "properties": {
        "tag": {
          "description": "Regexes matching tags to build. The syntax of the regular expressions accepted is the syntax accepted by RE2 and described at https://github.com/google/re2/wiki/Syntax",
          "type": "string"
        },
        "branch": {
          "type": "string",
          "description": "Regexes matching branches to build. The syntax of the regular expressions accepted is the syntax accepted by RE2 and described at https://github.com/google/re2/wiki/Syntax"
        },
        "invertRegex": {
          "type": "boolean",
          "description": "When true, only trigger a build if the revision regex does NOT match the git_ref regex."
        }
      }
    },
    "BitbucketServerConfig": {
      "description": "BitbucketServerConfig represents the configuration for a Bitbucket Server.",
      "properties": {
        "hostUri": {
          "description": "Required. Immutable. The URI of the Bitbucket Server host. Once this field has been set, it cannot be changed. If you need to change it, please create another BitbucketServerConfig.",
          "type": "string"
        },
        "secrets": {
          "description": "Required. Secret Manager secrets needed by the config.",
          "$ref": "BitbucketServerSecrets"
        },
        "peeredNetwork": {
          "description": "Optional. The network to be used when reaching out to the Bitbucket Server instance. The VPC network must be enabled for private service connection. This should be set if the Bitbucket Server instance is hosted on-premises and not reachable by public internet. If this field is left empty, no network peering will occur and calls to the Bitbucket Server instance will be made over the public internet. Must be in the format `projects/{project}/global/networks/{network}`, where {project} is a project number or id and {network} is the name of a VPC network in the project.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time when the config was created."
        },
        "username": {
          "description": "Username of the account Cloud Build will use on Bitbucket Server.",
          "type": "string"
        },
        "apiKey": {
          "description": "Required. Immutable. API Key that will be attached to webhook. Once this field has been set, it cannot be changed. If you need to change it, please create another BitbucketServerConfig.",
          "type": "string"
        },
        "sslCa": {
          "type": "string",
          "description": "Optional. SSL certificate to use for requests to Bitbucket Server. The format should be PEM format but the extension can be one of .pem, .cer, or .crt."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name for the config."
        },
        "webhookKey": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. UUID included in webhook requests. The UUID is used to look up the corresponding config."
        },
        "connectedRepositories": {
          "type": "array",
          "description": "Output only. Connected Bitbucket Server repositories for this config.",
          "readOnly": true,
          "items": {
            "$ref": "BitbucketServerRepositoryId"
          }
        },
        "peeredNetworkIpRange": {
          "type": "string",
          "description": "Immutable. IP range within the peered network. This is specified in CIDR notation with a slash and the subnet prefix size. You can optionally specify an IP address before the subnet prefix value. e.g. `192.168.0.0/29` would specify an IP range starting at 192.168.0.0 with a 29 bit prefix size. `/16` would specify a prefix size of 16 bits, with an automatically determined IP within the peered VPC. If unspecified, a value of `/24` will be used. The field only has an effect if peered_network is set."
        }
      },
      "id": "BitbucketServerConfig",
      "type": "object"
    },
    "GenericArtifactDependency": {
      "description": "Represents a generic artifact as a build dependency.",
      "properties": {
        "resource": {
          "description": "Required. The location to download the artifact files from. Ex: projects/p1/locations/us/repositories/r1/packages/p1/versions/v1",
          "type": "string"
        },
        "destPath": {
          "type": "string",
          "description": "Required. Where the artifact files should be placed on the worker."
        }
      },
      "id": "GenericArtifactDependency",
      "type": "object"
    },
    "GitFileSource": {
      "description": "GitFileSource describes a file within a (possibly remote) code repository.",
      "properties": {
        "revision": {
          "description": "The branch, tag, arbitrary ref, or SHA version of the repo to use when resolving the filename (optional). This field respects the same syntax/resolution as described here: https://git-scm.com/docs/gitrevisions If unspecified, the revision from which the trigger invocation originated is assumed to be the revision from which to read the specified path.",
          "type": "string"
        },
        "bitbucketServerConfig": {
          "description": "The full resource name of the bitbucket server config. Format: `projects/{project}/locations/{location}/bitbucketServerConfigs/{id}`.",
          "type": "string"
        },
        "uri": {
          "type": "string",
          "description": "The URI of the repo. Either uri or repository can be specified. If unspecified, the repo from which the trigger invocation originated is assumed to be the repo from which to read the specified path."
        },
        "repository": {
          "description": "The fully qualified resource name of the Repos API repository. Either URI or repository can be specified. If unspecified, the repo from which the trigger invocation originated is assumed to be the repo from which to read the specified path.",
          "type": "string"
        },
        "path": {
          "description": "The path of the file, with the repo root as the root of the path.",
          "type": "string"
        },
        "repoType": {
          "description": "See RepoType above.",
          "enumDescriptions": [
            "The default, unknown repo type. Don't use it, instead use one of the other repo types.",
            "A Google Cloud Source Repositories-hosted repo.",
            "A GitHub-hosted repo not necessarily on \"github.com\" (i.e. GitHub Enterprise).",
            "A Bitbucket Server-hosted repo.",
            "A GitLab-hosted repo.",
            "A Bitbucket Cloud-hosted repo."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN",
            "CLOUD_SOURCE_REPOSITORIES",
            "GITHUB",
            "BITBUCKET_SERVER",
            "GITLAB",
            "BITBUCKET_CLOUD"
          ]
        },
        "githubEnterpriseConfig": {
          "description": "The full resource name of the github enterprise config. Format: `projects/{project}/locations/{location}/githubEnterpriseConfigs/{id}`. `projects/{project}/githubEnterpriseConfigs/{id}`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GitFileSource"
    },
    "Source": {
      "id": "Source",
      "type": "object",
      "description": "Location of the source in a supported storage service.",
      "properties": {
        "repoSource": {
          "$ref": "RepoSource",
          "description": "If provided, get the source from this location in a Cloud Source Repository."
        },
        "storageSourceManifest": {
          "description": "If provided, get the source from this manifest in Cloud Storage. This feature is in Preview; see description [here](https://github.com/GoogleCloudPlatform/cloud-builders/tree/master/gcs-fetcher).",
          "$ref": "StorageSourceManifest"
        },
        "developerConnectConfig": {
          "description": "If provided, get the source from this Developer Connect config.",
          "$ref": "DeveloperConnectConfig"
        },
        "storageSource": {
          "description": "If provided, get the source from this location in Cloud Storage.",
          "$ref": "StorageSource"
        },
        "gitSource": {
          "$ref": "GitSource",
          "description": "If provided, get the source from this Git repository."
        },
        "connectedRepository": {
          "description": "Optional. If provided, get the source from this 2nd-gen Google Cloud Build repository resource.",
          "$ref": "ConnectedRepository"
        }
      }
    },
    "CreateBitbucketServerConfigOperationMetadata": {
      "id": "CreateBitbucketServerConfigOperationMetadata",
      "type": "object",
      "description": "Metadata for `CreateBitbucketServerConfig` operation.",
      "properties": {
        "createTime": {
          "description": "Time the operation was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "completeTime": {
          "description": "Time the operation was completed.",
          "format": "google-datetime",
          "type": "string"
        },
        "bitbucketServerConfig": {
          "description": "The resource name of the BitbucketServerConfig to be created. Format: `projects/{project}/locations/{location}/bitbucketServerConfigs/{id}`.",
          "type": "string"
        }
      }
    },
    "RemoveGitLabConnectedRepositoryRequest": {
      "description": "Deprecated: CloudBuild GitLab V1 integration is deprecated. RPC request object accepted by RemoveGitLabConnectedRepository RPC method.",
      "id": "RemoveGitLabConnectedRepositoryRequest",
      "properties": {
        "connectedRepository": {
          "description": "The connected repository to remove.",
          "$ref": "GitLabRepositoryId"
        }
      },
      "type": "object",
      "deprecated": true
    },
    "BuildTrigger": {
      "id": "BuildTrigger",
      "type": "object",
      "description": "Configuration for an automated build in response to source repository changes.",
      "properties": {
        "approvalConfig": {
          "description": "Configuration for manual approval to start a build invocation of this BuildTrigger.",
          "$ref": "ApprovalConfig"
        },
        "includeBuildLogs": {
          "type": "string",
          "enum": [
            "INCLUDE_BUILD_LOGS_UNSPECIFIED",
            "INCLUDE_BUILD_LOGS_WITH_STATUS"
          ],
          "description": "If set to INCLUDE_BUILD_LOGS_WITH_STATUS, log url will be shown on GitHub page when build status is final. Setting this field to INCLUDE_BUILD_LOGS_WITH_STATUS for non GitHub triggers results in INVALID_ARGUMENT error.",
          "enumDescriptions": [
            "Build logs will not be shown on GitHub.",
            "Build logs will be shown on GitHub."
          ]
        },
        "serviceAccount": {
          "type": "string",
          "description": "The service account used for all user-controlled operations including UpdateBuildTrigger, RunBuildTrigger, CreateBuild, and CancelBuild. If no service account is set and the legacy Cloud Build service account ([PROJECT_NUM]@cloudbuild.gserviceaccount.com) is the default for the project then it will be used instead. Format: `projects/{PROJECT_ID}/serviceAccounts/{ACCOUNT_ID_OR_EMAIL}`"
        },
        "sourceToBuild": {
          "description": "The repo and ref of the repository from which to build. This field is used only for those triggers that do not respond to SCM events. Triggers that respond to such events build source at whatever commit caused the event. This field is currently only used by Webhook, Pub/Sub, Manual, and Cron triggers.",
          "$ref": "GitRepoSource"
        },
        "filter": {
          "description": "A Common Expression Language string.",
          "type": "string"
        },
        "description": {
          "description": "Human-readable description of this trigger.",
          "type": "string"
        },
        "filename": {
          "description": "Path, from the source root, to the build configuration file (i.e. cloudbuild.yaml).",
          "type": "string"
        },
        "triggerTemplate": {
          "$ref": "RepoSource",
          "description": "Template describing the types of source changes to trigger a build. Branch and tag names in trigger templates are interpreted as regular expressions. Any branch or tag change that matches that regular expression will trigger a build. Mutually exclusive with `github`."
        },
        "webhookConfig": {
          "description": "WebhookConfig describes the configuration of a trigger that creates a build whenever a webhook is sent to a trigger's webhook URL.",
          "$ref": "WebhookConfig"
        },
        "includedFiles": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "If any of the files altered in the commit pass the ignored_files filter and included_files is empty, then as far as this filter is concerned, we should trigger the build. If any of the files altered in the commit pass the ignored_files filter and included_files is not empty, then we make sure that at least one of those files matches a included_files glob. If not, then we do not trigger a build."
        },
        "repositoryEventConfig": {
          "description": "The configuration of a trigger that creates a build whenever an event from Repo API is received.",
          "$ref": "RepositoryEventConfig"
        },
        "autodetect": {
          "description": "Autodetect build configuration. The following precedence is used (case insensitive): 1. cloudbuild.yaml 2. cloudbuild.yml 3. cloudbuild.json 4. Dockerfile Currently only available for GitHub App Triggers.",
          "type": "boolean"
        },
        "build": {
          "$ref": "Build",
          "description": "Contents of the build template."
        },
        "pubsubConfig": {
          "$ref": "PubsubConfig",
          "description": "PubsubConfig describes the configuration of a trigger that creates a build whenever a Pub/Sub message is published."
        },
        "developerConnectEventConfig": {
          "description": "Optional. The configuration of a trigger that creates a build whenever an event from the DeveloperConnect API is received.",
          "$ref": "DeveloperConnectEventConfig"
        },
        "name": {
          "description": "User-assigned name of the trigger. Must be unique within the project. Trigger names must meet the following requirements: + They must contain only alphanumeric characters and dashes. + They can be 1-64 characters long. + They must begin and end with an alphanumeric character.",
          "type": "string"
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Tags for annotation of a `BuildTrigger`"
        },
        "gitFileSource": {
          "$ref": "GitFileSource",
          "description": "The file source describing the local or remote Build template."
        },
        "substitutions": {
          "description": "Substitutions for Build resource. The keys must match the following regular expression: `^_[A-Z0-9_]+$`.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "eventType": {
          "description": "EventType allows the user to explicitly set the type of event to which this BuildTrigger should respond. This field will be validated against the rest of the configuration if it is set.",
          "enumDescriptions": [
            "EVENT_TYPE_UNSPECIFIED event_types are ignored.",
            "REPO corresponds to the supported VCS integrations.",
            "WEBHOOK corresponds to webhook triggers.",
            "PUBSUB corresponds to pubsub triggers.",
            "MANUAL corresponds to manual-only invoked triggers."
          ],
          "type": "string",
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "REPO",
            "WEBHOOK",
            "PUBSUB",
            "MANUAL"
          ]
        },
        "bitbucketServerTriggerConfig": {
          "description": "BitbucketServerTriggerConfig describes the configuration of a trigger that creates a build whenever a Bitbucket Server event is received.",
          "$ref": "BitbucketServerTriggerConfig"
        },
        "id": {
          "description": "Output only. Unique identifier of the trigger.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time when the trigger was created."
        },
        "gitlabEnterpriseEventsConfig": {
          "deprecated": true,
          "$ref": "GitLabEventsConfig",
          "description": "Deprecated: CloudBuild GitLab V1 integration is deprecated. GitLabEnterpriseEventsConfig describes the configuration of a trigger that creates a build whenever a GitLab Enterprise event is received."
        },
        "disabled": {
          "type": "boolean",
          "description": "If true, the trigger will never automatically execute a build."
        },
        "resourceName": {
          "type": "string",
          "description": "The `Trigger` name with format: `projects/{project}/locations/{location}/triggers/{trigger}`, where {trigger} is a unique identifier generated by the service."
        },
        "github": {
          "$ref": "GitHubEventsConfig",
          "description": "GitHubEventsConfig describes the configuration of a trigger that creates a build whenever a GitHub event is received. Mutually exclusive with `trigger_template`."
        },
        "ignoredFiles": {
          "items": {
            "type": "string"
          },
          "description": "ignored_files and included_files are file glob matches using https://golang.org/pkg/path/filepath/#Match extended with support for \"**\". If ignored_files and changed files are both empty, then they are not used to determine whether or not to trigger a build. If ignored_files is not empty, then we ignore any files that match any of the ignored_file globs. If the change has no files that are outside of the ignored_files globs, then we do not trigger a build.",
          "type": "array"
        }
      }
    },
    "GitHubEnterpriseSecrets": {
      "id": "GitHubEnterpriseSecrets",
      "type": "object",
      "description": "GitHubEnterpriseSecrets represents the names of all necessary secrets in Secret Manager for a GitHub Enterprise server. Format is: projects//secrets/.",
      "properties": {
        "oauthClientIdName": {
          "description": "The resource name for the OAuth client ID secret in Secret Manager.",
          "deprecated": true,
          "type": "string"
        },
        "webhookSecretName": {
          "description": "The resource name for the webhook secret in Secret Manager.",
          "deprecated": true,
          "type": "string"
        },
        "oauthSecretVersionName": {
          "description": "The resource name for the OAuth secret secret version in Secret Manager.",
          "type": "string"
        },
        "oauthClientIdVersionName": {
          "type": "string",
          "description": "The resource name for the OAuth client ID secret version in Secret Manager."
        },
        "privateKeyName": {
          "description": "The resource name for the private key secret.",
          "deprecated": true,
          "type": "string"
        },
        "privateKeyVersionName": {
          "description": "The resource name for the private key secret version.",
          "type": "string"
        },
        "webhookSecretVersionName": {
          "type": "string",
          "description": "The resource name for the webhook secret secret version in Secret Manager."
        },
        "oauthSecretName": {
          "description": "The resource name for the OAuth secret in Secret Manager.",
          "type": "string",
          "deprecated": true
        }
      }
    },
    "BuildStep": {
      "description": "A step in the build pipeline.",
      "properties": {
        "args": {
          "items": {
            "type": "string"
          },
          "description": "A list of arguments that will be presented to the step when it is started. If the image used to run the step's container has an entrypoint, the `args` are used as arguments to that entrypoint. If the image does not define an entrypoint, the first element in args is used as the entrypoint, and the remainder will be used as arguments.",
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the container image that will run this particular build step. If the image is available in the host's Docker daemon's cache, it will be run directly. If not, the host will attempt to pull the image first, using the builder service account's credentials if necessary. The Docker daemon's cache will already have the latest versions of all of the officially supported build steps ([https://github.com/GoogleCloudPlatform/cloud-builders](https://github.com/GoogleCloudPlatform/cloud-builders)). The Docker daemon will also have cached many of the layers for some popular images, like \"ubuntu\", \"debian\", but they will be refreshed at the time you attempt to use them. If you built an image in a previous build step, it will be stored in the host's Docker daemon's cache and is available to use as the name for a later build step."
        },
        "timing": {
          "description": "Output only. Stores timing information for executing this build step.",
          "readOnly": true,
          "$ref": "TimeSpan"
        },
        "id": {
          "type": "string",
          "description": "Unique identifier for this build step, used in `wait_for` to reference this build step as a dependency."
        },
        "exitCode": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Return code from running the step.",
          "type": "integer"
        },
        "pullTiming": {
          "$ref": "TimeSpan",
          "readOnly": true,
          "description": "Output only. Stores timing information for pulling this build step's builder image only."
        },
        "script": {
          "description": "A shell script to be executed in the step. When script is provided, the user cannot specify the entrypoint or args.",
          "type": "string"
        },
        "timeout": {
          "format": "google-duration",
          "description": "Time limit for executing this build step. If not defined, the step has no time limit and will be allowed to continue to run until either it completes or the build itself times out.",
          "type": "string"
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "StepResult"
          },
          "description": "Declaration of results for this build step."
        },
        "allowExitCodes": {
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "description": "Allow this build step to fail without failing the entire build if and only if the exit code is one of the specified codes. If allow_failure is also specified, this field will take precedence."
        },
        "status": {
          "type": "string",
          "enum": [
            "STATUS_UNKNOWN",
            "PENDING",
            "QUEUED",
            "WORKING",
            "SUCCESS",
            "FAILURE",
            "INTERNAL_ERROR",
            "TIMEOUT",
            "CANCELLED",
            "EXPIRED"
          ],
          "description": "Output only. Status of the build step. At this time, build step status is only updated on build completion; step status is not updated in real-time as the build progresses.",
          "enumDescriptions": [
            "Status of the build is unknown.",
            "Build has been created and is pending execution and queuing. It has not been queued.",
            "Build or step is queued; work has not yet begun.",
            "Build or step is being executed.",
            "Build or step finished successfully.",
            "Build or step failed to complete successfully.",
            "Build or step failed due to an internal cause.",
            "Build or step took longer than was allowed.",
            "Build or step was canceled by a user.",
            "Build was enqueued for longer than the value of `queue_ttl`."
          ],
          "readOnly": true
        },
        "automapSubstitutions": {
          "type": "boolean",
          "description": "Option to include built-in and custom substitutions as env variables for this build step. This option will override the global option in BuildOption."
        },
        "secretEnv": {
          "description": "A list of environment variables which are encrypted using a Cloud Key Management Service crypto key. These values must be specified in the build's `Secret`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "env": {
          "description": "A list of environment variable definitions to be used when running a step. The elements are of the form \"KEY=VALUE\" for the environment variable \"KEY\" being given the value \"VALUE\".",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "dir": {
          "type": "string",
          "description": "Working directory to use when running this step's container. If this value is a relative path, it is relative to the build's working directory. If this value is absolute, it may be outside the build's working directory, in which case the contents of the path may not be persisted across build step executions, unless a `volume` for that path is specified. If the build specifies a `RepoSource` with `dir` and a step with a `dir`, which specifies an absolute path, the `RepoSource` `dir` is ignored for the step's execution."
        },
        "waitFor": {
          "type": "array",
          "description": "The ID(s) of the step(s) that this build step depends on. This build step will not start until all the build steps in `wait_for` have completed successfully. If `wait_for` is empty, this build step will start when all previous build steps in the `Build.Steps` list have completed successfully.",
          "items": {
            "type": "string"
          }
        },
        "allowFailure": {
          "type": "boolean",
          "description": "Allow this build step to fail without failing the entire build. If false, the entire build will fail if this step fails. Otherwise, the build will succeed, but this step will still have a failure status. Error information will be reported in the failure_detail field."
        },
        "volumes": {
          "description": "List of volumes to mount into the build step. Each volume is created as an empty volume prior to execution of the build step. Upon completion of the build, volumes and their contents are discarded. Using a named volume in only one step is not valid as it is indicative of a build request with an incorrect configuration.",
          "items": {
            "$ref": "Volume"
          },
          "type": "array"
        },
        "entrypoint": {
          "description": "Entrypoint to be used instead of the build step image's default entrypoint. If unset, the image's default entrypoint is used.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "BuildStep"
    },
    "GoModule": {
      "type": "object",
      "id": "GoModule",
      "description": "Go module to upload to Artifact Registry upon successful completion of all build steps. A module refers to all dependencies in a go.mod file.",
      "properties": {
        "sourcePath": {
          "type": "string",
[...]
