{
  "ownerDomain": "google.com",
  "canonicalName": "Cloud Deploy",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "description": "",
  "documentationLink": "https://cloud.google.com/deploy/",
  "rootUrl": "https://clouddeploy.googleapis.com/",
  "servicePath": "",
  "basePath": "",
  "baseUrl": "https://clouddeploy.googleapis.com/",
  "batchPath": "batch",
  "name": "clouddeploy",
  "protocol": "rest",
  "mtlsRootUrl": "https://clouddeploy.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "version": "v1",
  "id": "clouddeploy:v1",
  "title": "Cloud Deploy API",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "AutomationRolloutMetadata": {
      "id": "AutomationRolloutMetadata",
      "type": "object",
      "description": "AutomationRolloutMetadata contains Automation-related actions that were performed on a rollout.",
      "properties": {
        "advanceAutomationRuns": {
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. The names of the AutomationRuns initiated by an advance rollout rule."
        },
        "repairAutomationRuns": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. The names of the AutomationRuns initiated by a repair rollout rule.",
          "type": "array"
        },
        "promoteAutomationRun": {
          "type": "string",
          "description": "Output only. The name of the AutomationRun initiated by a promote release rule.",
          "readOnly": true
        }
      }
    },
    "TimeOfDay": {
      "id": "TimeOfDay",
      "type": "object",
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "properties": {
        "hours": {
          "type": "integer",
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "format": "int32"
        },
        "seconds": {
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "format": "int32",
          "type": "integer"
        },
        "minutes": {
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
          "format": "int32",
          "type": "integer"
        },
        "nanos": {
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "Analysis": {
      "id": "Analysis",
      "type": "object",
      "properties": {
        "customChecks": {
          "description": "Optional. Custom analysis checks from 3P metric providers.",
          "items": {
            "$ref": "CustomCheck"
          },
          "type": "array"
        },
        "duration": {
          "description": "Required. The amount of time in minutes the analysis on the target will last. If all analysis checks have successfully completed before the specified duration, the analysis is successful. If a check is still running while the specified duration passes, it will wait for that check to complete to determine if the analysis is successful. The maximum duration is 48 hours.",
          "format": "google-duration",
          "type": "string"
        },
        "googleCloud": {
          "description": "Optional. Google Cloud - based analysis checks.",
          "$ref": "GoogleCloudAnalysis"
        }
      },
      "description": "Analysis contains the configuration for the set of analyses to be performed on the target."
    },
    "AutomationRuleCondition": {
      "description": "`AutomationRuleCondition` contains conditions relevant to an `Automation` rule.",
      "properties": {
        "timedPromoteReleaseCondition": {
          "description": "Optional. TimedPromoteReleaseCondition contains rule conditions specific to a an Automation with a timed promote release rule defined.",
          "$ref": "TimedPromoteReleaseCondition"
        },
        "targetsPresentCondition": {
          "description": "Optional. Details around targets enumerated in the rule.",
          "$ref": "TargetsPresentCondition"
        }
      },
      "id": "AutomationRuleCondition",
      "type": "object"
    },
    "RolloutUpdateEvent": {
      "description": "Payload proto for \"clouddeploy.googleapis.com/rollout_update\" Platform Log event that describes the rollout update event.",
      "properties": {
        "rollout": {
          "description": "The name of the rollout. rollout_uid is not in this log message because we write some of these log messages at rollout creation time, before we've generated the uid.",
          "type": "string"
        },
        "releaseUid": {
          "description": "Unique identifier of the release.",
          "type": "string"
        },
        "release": {
          "description": "The name of the `Release`.",
          "type": "string"
        },
        "targetId": {
          "description": "ID of the target.",
          "type": "string"
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PUBSUB_NOTIFICATION_FAILURE",
            "TYPE_RESOURCE_STATE_CHANGE",
            "TYPE_PROCESS_ABORTED",
            "TYPE_RESTRICTION_VIOLATED",
            "TYPE_RESOURCE_DELETED",
            "TYPE_ROLLOUT_UPDATE",
            "TYPE_DEPLOY_POLICY_EVALUATION",
            "TYPE_RENDER_STATUES_CHANGE"
          ],
          "enumDescriptions": [
            "Type is unspecified.",
            "A Pub/Sub notification failed to be sent.",
            "Resource state changed.",
            "A process aborted.",
            "Restriction check failed.",
            "Resource deleted.",
            "Rollout updated.",
            "Deploy Policy evaluation.",
            "Deprecated: This field is never used. Use release_render log type instead."
          ],
          "description": "Type of this notification, e.g. for a rollout update event.",
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true
          ],
          "type": "string"
        },
        "message": {
          "description": "Debug message for when a rollout update event occurs.",
          "type": "string"
        },
        "pipelineUid": {
          "description": "Unique identifier of the pipeline.",
          "type": "string"
        },
        "rolloutUpdateType": {
          "description": "The type of the rollout update.",
          "enum": [
            "ROLLOUT_UPDATE_TYPE_UNSPECIFIED",
            "PENDING",
            "PENDING_RELEASE",
            "IN_PROGRESS",
            "CANCELLING",
            "CANCELLED",
            "HALTED",
            "SUCCEEDED",
            "FAILED",
            "APPROVAL_REQUIRED",
            "APPROVED",
            "REJECTED",
            "ADVANCE_REQUIRED",
            "ADVANCED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Rollout update type unspecified.",
            "Rollout state updated to pending (release has succeeded, waiting on the rollout to start).",
            "Rollout state updated to pending release.",
            "Rollout state updated to in progress.",
            "Rollout state updated to cancelling.",
            "Rollout state updated to cancelled.",
            "Rollout state updated to halted.",
            "Rollout state updated to succeeded.",
            "Rollout state updated to failed.",
            "Rollout requires approval.",
            "Rollout has been approved.",
            "Rollout has been rejected.",
            "Rollout requires advance to the next phase.",
            "Rollout has been advanced."
          ]
        }
      },
      "id": "RolloutUpdateEvent",
      "type": "object"
    },
    "Release": {
      "description": "A `Release` resource in the Cloud Deploy API. A `Release` defines a specific Skaffold configuration instance that can be deployed.",
      "properties": {
        "uid": {
          "readOnly": true,
          "description": "Output only. Unique identifier of the `Release`.",
          "type": "string"
        },
        "toolVersions": {
          "description": "Optional. The tool versions to use for this release and all subsequent operations involving this release. If unset, tool versions are frozen when the release is created.",
          "$ref": "ToolVersions"
        },
        "abandoned": {
          "description": "Output only. Indicates whether this is an abandoned release.",
          "readOnly": true,
          "type": "boolean"
        },
        "renderState": {
          "enumDescriptions": [
            "The render state is unspecified.",
            "All rendering operations have completed successfully.",
            "All rendering operations have completed, and one or more have failed.",
            "Rendering has started and is not complete."
          ],
          "enum": [
            "RENDER_STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED",
            "IN_PROGRESS"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. Current state of the render operation."
        },
        "etag": {
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "condition": {
          "readOnly": true,
          "description": "Output only. Information around the state of the Release.",
          "$ref": "ReleaseCondition"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Time at which the `Release` was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. User annotations. These attributes can only be set and used by the user, and not by Cloud Deploy. See https://google.aip.dev/128#annotations for more details such as format and size limitations.",
          "type": "object"
        },
        "customTargetTypeSnapshots": {
          "readOnly": true,
          "items": {
            "$ref": "CustomTargetType"
          },
          "description": "Output only. Snapshot of the custom target types referenced by the targets taken at release creation time.",
          "type": "array"
        },
        "name": {
          "description": "Identifier. Name of the `Release`. Format is `projects/{project}/locations/{location}/deliveryPipelines/{deliveryPipeline}/releases/{release}`. The `release` component must match `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`",
          "type": "string"
        },
        "skaffoldConfigPath": {
          "description": "Optional. Filepath of the Skaffold config inside of the config URI.",
          "type": "string"
        },
        "targetRenders": {
          "type": "object",
          "description": "Output only. Map from target ID to details of the render operation for that target.",
          "readOnly": true,
          "additionalProperties": {
            "$ref": "TargetRender"
          }
        },
        "skaffoldConfigUri": {
          "description": "Optional. Cloud Storage URI of tar.gz archive containing Skaffold configuration.",
          "type": "string"
        },
        "targetSnapshots": {
          "type": "array",
          "description": "Output only. Snapshot of the targets taken at release creation time.",
          "readOnly": true,
          "items": {
            "$ref": "Target"
          }
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels are attributes that can be set and used by both the user and by Cloud Deploy. Labels must meet the following constraints: * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. * All characters must use UTF-8 encoding, and international characters are allowed. * Keys must start with a lowercase letter or international character. * Each resource is limited to a maximum of 64 labels. Both keys and values are additionally constrained to be <= 128 bytes.",
          "type": "object"
        },
        "renderStartTime": {
          "description": "Output only. Time at which the render began.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "targetArtifacts": {
          "type": "object",
          "readOnly": true,
          "additionalProperties": {
            "$ref": "TargetArtifact"
          },
          "description": "Output only. Map from target ID to the target artifacts created during the render operation."
        },
        "description": {
          "description": "Optional. Description of the `Release`. Max length is 255 characters.",
          "type": "string"
        },
        "renderEndTime": {
          "readOnly": true,
          "description": "Output only. Time at which the render completed.",
          "format": "google-datetime",
          "type": "string"
        },
        "skaffoldVersion": {
          "description": "Optional. The Skaffold version to use when operating on this release, such as \"1.20.0\". Not all versions are valid; Cloud Deploy supports a specific set of versions. If unset, the most recent supported Skaffold version will be used.",
          "type": "string"
        },
        "buildArtifacts": {
          "type": "array",
          "items": {
            "$ref": "BuildArtifact"
          },
          "description": "Optional. List of artifacts to pass through to Skaffold command."
        },
        "deployParameters": {
          "description": "Optional. The deploy parameters to use for all targets in this release.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "deliveryPipelineSnapshot": {
          "description": "Output only. Snapshot of the parent pipeline taken at release creation time.",
          "$ref": "DeliveryPipeline",
          "readOnly": true
        }
      },
      "id": "Release",
      "type": "object"
    },
    "AlertPolicyCheckStatus": {
      "description": "AlertPolicyCheckStatus contains information specific to a single run of an alert policy check.",
      "properties": {
        "id": {
          "description": "Output only. The ID of this analysis.",
          "readOnly": true,
          "type": "string"
        },
        "alertPolicies": {
          "type": "array",
          "description": "Output only. The alert policies that this analysis monitors. Format is `projects/{project}/locations/{location}/alertPolicies/{alertPolicy}`.",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "labels": {
          "readOnly": true,
          "additionalProperties": {
            "type": "string"
          },
          "description": "Output only. The resolved labels used to filter for specific incidents.",
          "type": "object"
        },
        "failedAlertPolicies": {
          "readOnly": true,
          "items": {
            "$ref": "FailedAlertPolicy"
          },
          "description": "Output only. The alert policies that were found to be firing during this check. This will be empty if no incidents were found.",
          "type": "array"
        },
        "failureMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Additional information about the alert policy check failure, if available. This will be empty if the alert policy check succeeded."
        }
      },
      "id": "AlertPolicyCheckStatus",
      "type": "object"
    },
    "AutomationRunEvent": {
      "description": "Payload proto for \"clouddeploy.googleapis.com/automation_run\" Platform Log event that describes the AutomationRun related events.",
      "properties": {
        "automationId": {
          "description": "Identifier of the `Automation`.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Type is unspecified.",
            "A Pub/Sub notification failed to be sent.",
            "Resource state changed.",
            "A process aborted.",
            "Restriction check failed.",
            "Resource deleted.",
            "Rollout updated.",
            "Deploy Policy evaluation.",
            "Deprecated: This field is never used. Use release_render log type instead."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PUBSUB_NOTIFICATION_FAILURE",
            "TYPE_RESOURCE_STATE_CHANGE",
            "TYPE_PROCESS_ABORTED",
            "TYPE_RESTRICTION_VIOLATED",
            "TYPE_RESOURCE_DELETED",
            "TYPE_ROLLOUT_UPDATE",
            "TYPE_DEPLOY_POLICY_EVALUATION",
            "TYPE_RENDER_STATUES_CHANGE"
          ],
          "type": "string",
          "description": "Type of this notification, e.g. for a Pub/Sub failure.",
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true
          ]
        },
        "message": {
          "description": "Debug message for when there is an update on the AutomationRun. Provides further details about the resource creation or state change.",
          "type": "string"
        },
        "pipelineUid": {
          "description": "Unique identifier of the `DeliveryPipeline`.",
          "type": "string"
        },
        "ruleId": {
          "description": "Identifier of the `Automation` rule.",
          "type": "string"
        },
        "destinationTargetId": {
          "description": "ID of the `Target` to which the `AutomationRun` is created.",
          "type": "string"
        },
        "automationRun": {
          "description": "The name of the `AutomationRun`.",
          "type": "string"
        }
      },
      "id": "AutomationRunEvent",
      "type": "object"
    },
    "Location": {
      "properties": {
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        }
      },
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location",
      "type": "object"
    },
    "SkaffoldSupportedCondition": {
      "id": "SkaffoldSupportedCondition",
      "type": "object",
      "description": "SkaffoldSupportedCondition contains information about when support for the release's version of Skaffold ends.",
      "properties": {
        "status": {
          "description": "True if the version of Skaffold used by this release is supported.",
          "type": "boolean"
        },
        "maintenanceModeTime": {
          "description": "The time at which this release's version of Skaffold will enter maintenance mode.",
          "format": "google-datetime",
          "type": "string"
        },
        "supportExpirationTime": {
          "type": "string",
          "description": "The time at which this release's version of Skaffold will no longer be supported.",
          "format": "google-datetime"
        },
        "skaffoldSupportState": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "This Skaffold version is currently supported.",
            "This Skaffold version is in maintenance mode.",
            "This Skaffold version is no longer supported."
          ],
          "type": "string",
          "enum": [
            "SKAFFOLD_SUPPORT_STATE_UNSPECIFIED",
            "SKAFFOLD_SUPPORT_STATE_SUPPORTED",
            "SKAFFOLD_SUPPORT_STATE_MAINTENANCE_MODE",
            "SKAFFOLD_SUPPORT_STATE_UNSUPPORTED"
          ],
          "description": "The Skaffold support state for this release's version of Skaffold."
        }
      }
    },
    "AnalysisJobRun": {
      "id": "AnalysisJobRun",
      "type": "object",
      "properties": {
        "alertPolicyAnalyses": {
          "readOnly": true,
          "items": {
            "$ref": "AlertPolicyCheckStatus"
          },
          "description": "Output only. The status of the running alert policy checks configured for this analysis.",
          "type": "array"
        },
        "customCheckAnalyses": {
          "type": "array",
          "description": "Output only. The status of the running custom checks configured for this analysis.",
          "readOnly": true,
          "items": {
            "$ref": "CustomCheckStatus"
          }
        },
        "failedCheckId": {
          "readOnly": true,
          "description": "Output only. The ID of the configured check that failed. This will always be blank while the analysis is in progress or if it succeeded.",
          "type": "string"
        }
      },
      "description": "AnalysisJobRun contains information specific to an analysis `JobRun`."
    },
    "CloudRunRenderMetadata": {
      "id": "CloudRunRenderMetadata",
      "type": "object",
      "properties": {
        "revision": {
          "type": "string",
          "description": "Output only. The name of the Cloud Run Revision in the rendered manifest. Format is `projects/{project}/locations/{location}/services/{service}/revisions/{revision}`.",
          "readOnly": true
        },
        "service": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the Cloud Run Service in the rendered manifest. Format is `projects/{project}/locations/{location}/services/{service}`."
        },
        "workerPool": {
          "type": "string",
          "description": "Output only. The name of the Cloud Run Worker Pool in the rendered manifest. Format is `projects/{project}/locations/{location}/workerPools/{worker_pool}`.",
          "readOnly": true
        },
        "job": {
          "readOnly": true,
          "description": "Output only. The name of the Cloud Run Job in the rendered manifest. Format is `projects/{project}/locations/{location}/jobs/{job}`.",
          "type": "string"
        }
      },
      "description": "CloudRunRenderMetadata contains Cloud Run information associated with a `Release` render."
    },
    "CustomCheckStatus": {
      "description": "CustomCheckStatus contains information specific to a single iteration of a custom analysis job.",
      "properties": {
        "failureCause": {
          "enumDescriptions": [
            "No reason for failure is specified.",
            "Cloud Build is not available, either because it is not enabled or because Cloud Deploy has insufficient permissions. See [required permission](https://cloud.google.com/deploy/docs/cloud-deploy-service-account#required_permissions).",
            "The analysis operation did not complete successfully; check Cloud Build logs.",
            "The analysis job run did not complete within the alloted time defined in the target's execution environment configuration.",
            "Cloud Build failed to fulfill Cloud Deploy's request. See failure_message for additional details."
          ],
          "enum": [
            "FAILURE_CAUSE_UNSPECIFIED",
            "CLOUD_BUILD_UNAVAILABLE",
            "EXECUTION_FAILED",
            "DEADLINE_EXCEEDED",
            "CLOUD_BUILD_REQUEST_FAILED"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. The reason the analysis failed. This will always be unspecified while the analysis is in progress or if it succeeded."
        },
        "failureMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Additional information about the analysis failure, if available."
        },
        "frequency": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The frequency in minutes at which the custom check is run.",
          "format": "google-duration"
        },
        "metadata": {
          "readOnly": true,
          "description": "Output only. Custom metadata provided by the user-defined custom check operation. result.",
          "$ref": "CustomMetadata"
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The ID of the custom check."
        },
        "task": {
          "description": "Output only. The task that ran for this custom check.",
          "$ref": "Task",
          "readOnly": true
        },
        "latestBuild": {
          "description": "Output only. The resource name of the Cloud Build `Build` object that was used to execute the latest run of this custom action check. Format is `projects/{project}/locations/{location}/builds/{build}`.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "CustomCheckStatus",
      "type": "object"
    },
    "Strategy": {
      "description": "Strategy contains deployment strategy information.",
      "properties": {
        "canary": {
          "description": "Optional. Canary deployment strategy provides progressive percentage based deployments to a Target.",
          "$ref": "Canary"
        },
        "standard": {
          "description": "Optional. Standard deployment strategy executes a single deploy and allows verifying the deployment.",
          "$ref": "Standard"
        }
      },
      "id": "Strategy",
      "type": "object"
    },
    "CancelRolloutRequest": {
      "id": "CancelRolloutRequest",
      "type": "object",
      "properties": {
        "overrideDeployPolicy": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Deploy policies to override. Format is `projects/{project}/locations/{location}/deployPolicies/{deployPolicy}`."
        }
      },
      "description": "The request object used by `CancelRollout`."
    },
    "CreateChildRolloutJobRun": {
      "id": "CreateChildRolloutJobRun",
      "type": "object",
      "properties": {
        "rollout": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the `ChildRollout`. Format is `projects/{project}/locations/{location}/deliveryPipelines/{deliveryPipeline}/releases/{release}/rollouts/{rollout}`."
        },
        "rolloutPhaseId": {
          "readOnly": true,
          "description": "Output only. The ID of the childRollout Phase initiated by this JobRun.",
          "type": "string"
        }
      },
      "description": "CreateChildRolloutJobRun contains information specific to a createChildRollout `JobRun`."
    },
    "KubernetesConfig": {
      "id": "KubernetesConfig",
      "type": "object",
      "properties": {
        "gatewayServiceMesh": {
          "description": "Optional. Kubernetes Gateway API service mesh configuration.",
          "$ref": "GatewayServiceMesh"
        },
        "serviceNetworking": {
          "description": "Optional. Kubernetes Service networking configuration.",
          "$ref": "ServiceNetworking"
        }
      },
      "description": "KubernetesConfig contains the Kubernetes runtime configuration."
    },
    "CloudRunLocation": {
      "id": "CloudRunLocation",
      "type": "object",
      "properties": {
        "location": {
          "description": "Required. The location for the Cloud Run Service. Format must be `projects/{project}/locations/{location}`.",
          "type": "string"
        }
      },
      "description": "Information specifying where to deploy a Cloud Run Service."
    },
    "ReleaseCondition": {
      "description": "ReleaseCondition contains all conditions relevant to a Release.",
      "properties": {
        "kubectlVersionSupportedCondition": {
          "readOnly": true,
          "description": "Output only. Details around the support state of the release's Kubectl version.",
          "$ref": "ToolVersionSupportedCondition"
        },
        "releaseReadyCondition": {
          "description": "Details around the Releases's overall status.",
          "$ref": "ReleaseReadyCondition"
        },
        "kustomizeVersionSupportedCondition": {
          "description": "Output only. Details around the support state of the release's Kustomize version.",
          "$ref": "ToolVersionSupportedCondition",
          "readOnly": true
        },
        "kptVersionSupportedCondition": {
          "description": "Output only. Details around the support state of the release's kpt version.",
          "$ref": "ToolVersionSupportedCondition",
          "readOnly": true
        },
        "skaffoldVersionSupportedCondition": {
          "readOnly": true,
          "description": "Output only. Details around the support state of the release's Skaffold version.",
          "$ref": "ToolVersionSupportedCondition"
        },
        "skaffoldSupportedCondition": {
          "description": "Details around the support state of the release's Skaffold version.",
          "$ref": "SkaffoldSupportedCondition"
        },
        "dockerVersionSupportedCondition": {
          "description": "Output only. Details around the support state of the release's Docker version.",
          "$ref": "ToolVersionSupportedCondition",
          "readOnly": true
        },
        "helmVersionSupportedCondition": {
          "description": "Output only. Details around the support state of the release's Helm version.",
          "$ref": "ToolVersionSupportedCondition",
          "readOnly": true
        }
      },
      "id": "ReleaseCondition",
      "type": "object"
    },
    "TimeWindows": {
      "id": "TimeWindows",
      "type": "object",
      "description": "Time windows within which actions are restricted. See the [documentation](https://cloud.google.com/deploy/docs/deploy-policy#dates_times) for more information on how to configure dates/times.",
      "properties": {
        "timeZone": {
          "description": "Required. The time zone in IANA format [IANA Time Zone Database](https://www.iana.org/time-zones) (e.g. America/New_York).",
          "type": "string"
        },
        "oneTimeWindows": {
          "items": {
            "$ref": "OneTimeWindow"
          },
          "description": "Optional. One-time windows within which actions are restricted.",
          "type": "array"
        },
        "weeklyWindows": {
          "items": {
            "$ref": "WeeklyWindow"
          },
          "description": "Optional. Recurring weekly windows within which actions are restricted.",
          "type": "array"
        }
      }
    },
    "PhaseArtifact": {
      "properties": {
        "manifestPath": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. File path of the rendered manifest relative to the URI."
        },
        "skaffoldConfigPath": {
          "type": "string",
          "description": "Output only. File path of the resolved Skaffold configuration relative to the URI.",
          "readOnly": true
        },
        "jobManifestsPath": {
          "type": "string",
          "description": "Output only. File path of the directory of rendered job manifests relative to the URI. This is only set if it is applicable.",
          "readOnly": true
        }
      },
      "description": "Contains the paths to the artifacts, relative to the URI, for a phase.",
      "id": "PhaseArtifact",
      "type": "object"
    },
    "CancelAutomationRunResponse": {
      "id": "CancelAutomationRunResponse",
      "type": "object",
      "description": "The response object from `CancelAutomationRun`.",
      "properties": {}
    },
    "AdvanceRolloutOperation": {
      "id": "AdvanceRolloutOperation",
      "type": "object",
      "description": "Contains the information of an automated advance-rollout operation.",
      "properties": {
        "rollout": {
          "readOnly": true,
          "description": "Output only. The name of the rollout that initiates the `AutomationRun`.",
          "type": "string"
        },
        "destinationPhase": {
          "description": "Output only. The phase the rollout will be advanced to.",
          "readOnly": true,
          "type": "string"
        },
        "wait": {
          "readOnly": true,
          "description": "Output only. How long the operation will be paused.",
          "format": "google-duration",
          "type": "string"
        },
        "sourcePhase": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The phase of a deployment that initiated the operation."
        }
      }
    },
    "AdvanceChildRolloutJob": {
      "properties": {},
      "description": "An advanceChildRollout Job.",
      "id": "AdvanceChildRolloutJob",
      "type": "object"
    },
    "IgnoreJobRequest": {
      "id": "IgnoreJobRequest",
      "type": "object",
      "description": "The request object used by `IgnoreJob`.",
      "properties": {
        "phaseId": {
          "description": "Required. The phase ID the Job to ignore belongs to.",
          "type": "string"
        },
        "jobId": {
          "description": "Required. The job ID for the Job to ignore.",
          "type": "string"
        },
        "overrideDeployPolicy": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Deploy policies to override. Format is `projects/{project}/locations/{location}/deployPolicies/{deployPolicy}`."
        }
      }
    },
    "SkaffoldVersion": {
      "id": "SkaffoldVersion",
      "type": "object",
      "description": "Details of a supported Skaffold version.",
      "properties": {
        "version": {
          "description": "Release version number. For example, \"1.20.3\".",
          "type": "string"
        },
        "supportEndDate": {
          "description": "Date when this version is expected to no longer be supported.",
          "$ref": "Date"
        },
        "maintenanceModeTime": {
          "description": "The time at which this version of Skaffold will enter maintenance mode.",
          "format": "google-datetime",
          "type": "string"
        },
        "supportExpirationTime": {
          "description": "The time at which this version of Skaffold will no longer be supported.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "CustomTarget": {
      "description": "Information specifying a Custom Target.",
      "properties": {
        "customTargetType": {
          "description": "Required. The name of the CustomTargetType. Format must be `projects/{project}/locations/{location}/customTargetTypes/{custom_target_type}`.",
          "type": "string"
        }
      },
      "id": "CustomTarget",
      "type": "object"
    },
    "PromoteReleaseOperation": {
      "properties": {
        "targetId": {
          "type": "string",
          "description": "Output only. The ID of the target that represents the promotion stage to which the release will be promoted. The value of this field is the last segment of a target name.",
          "readOnly": true
        },
        "phase": {
          "type": "string",
          "description": "Output only. The starting phase of the rollout created by this operation.",
          "readOnly": true
        },
        "wait": {
          "description": "Output only. How long the operation will be paused.",
          "format": "google-duration",
          "readOnly": true,
          "type": "string"
        },
        "rollout": {
          "readOnly": true,
          "description": "Output only. The name of the rollout that initiates the `AutomationRun`.",
          "type": "string"
        }
      },
      "description": "Contains the information of an automated promote-release operation.",
      "id": "PromoteReleaseOperation",
      "type": "object"
    },
    "DefaultPool": {
      "properties": {
        "serviceAccount": {
          "description": "Optional. Google service account to use for execution. If unspecified, the project execution service account (-compute@developer.gserviceaccount.com) will be used.",
          "type": "string"
        },
        "artifactStorage": {
          "description": "Optional. Cloud Storage location where execution outputs should be stored. This can either be a bucket (\"gs://my-bucket\") or a path within a bucket (\"gs://my-bucket/my-dir\"). If unspecified, a default bucket located in the same region will be used.",
          "type": "string"
        }
      },
      "description": "Execution using the default Cloud Build pool.",
      "id": "DefaultPool",
      "type": "object"
    },
    "Rollout": {
      "id": "Rollout",
      "type": "object",
      "description": "A `Rollout` resource in the Cloud Deploy API. A `Rollout` contains information around a specific deployment to a `Target`.",
      "properties": {
        "name": {
          "description": "Identifier. Name of the `Rollout`. Format is `projects/{project}/locations/{location}/deliveryPipelines/{deliveryPipeline}/releases/{release}/rollouts/{rollout}`. The `rollout` component must match `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`",
          "type": "string"
        },
        "phases": {
          "description": "Output only. The phases that represent the workflows of this `Rollout`.",
          "readOnly": true,
          "items": {
            "$ref": "Phase"
          },
          "type": "array"
        },
        "deployStartTime": {
          "type": "string",
          "description": "Output only. Time at which the `Rollout` started deploying.",
          "format": "google-datetime",
          "readOnly": true
        },
        "etag": {
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. User annotations. These attributes can only be set and used by the user, and not by Cloud Deploy. See https://google.aip.dev/128#annotations for more details such as format and size limitations.",
          "type": "object"
        },
        "createTime": {
          "description": "Output only. Time at which the `Rollout` was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "deployFailureCause": {
          "enum": [
            "FAILURE_CAUSE_UNSPECIFIED",
            "CLOUD_BUILD_UNAVAILABLE",
            "EXECUTION_FAILED",
            "DEADLINE_EXCEEDED",
            "RELEASE_FAILED",
            "RELEASE_ABANDONED",
            "VERIFICATION_CONFIG_NOT_FOUND",
            "CLOUD_BUILD_REQUEST_FAILED",
            "OPERATION_FEATURE_NOT_SUPPORTED"
          ],
          "enumDescriptions": [
            "No reason for failure is specified.",
            "Cloud Build is not available, either because it is not enabled or because Cloud Deploy has insufficient permissions. See [required permission](https://cloud.google.com/deploy/docs/cloud-deploy-service-account#required_permissions).",
            "The deploy operation did not complete successfully; check Cloud Build logs.",
            "Deployment did not complete within the allotted time.",
            "Release is in a failed state.",
            "Release is abandoned.",
            "No Skaffold verify configuration was found.",
            "Cloud Build failed to fulfill Cloud Deploy's request. See failure_message for additional details.",
            "A Rollout operation had a feature configured that is not supported."
          ],
          "description": "Output only. The reason this rollout failed. This will always be unspecified while the rollout is in progress.",
          "readOnly": true,
          "type": "string"
        },
        "approveTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time at which the `Rollout` was approved.",
          "format": "google-datetime"
        },
        "metadata": {
          "readOnly": true,
          "description": "Output only. Metadata contains information about the rollout.",
          "$ref": "Metadata"
        },
        "uid": {
          "description": "Output only. Unique identifier of the `Rollout`.",
          "readOnly": true,
          "type": "string"
        },
        "activeRepairAutomationRun": {
          "readOnly": true,
          "description": "Output only. The AutomationRun actively repairing the rollout.",
          "type": "string"
        },
        "deployingBuild": {
          "description": "Output only. The resource name of the Cloud Build `Build` object that is used to deploy the Rollout. Format is `projects/{project}/locations/{location}/builds/{build}`.",
          "readOnly": true,
          "type": "string"
        },
        "enqueueTime": {
          "description": "Output only. Time at which the `Rollout` was enqueued.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "rollbackOfRollout": {
          "description": "Output only. Name of the `Rollout` that is rolled back by this `Rollout`. Empty if this `Rollout` wasn't created as a rollback.",
          "readOnly": true,
          "type": "string"
        },
        "controllerRollout": {
          "readOnly": true,
          "description": "Output only. Name of the `ControllerRollout`. Format is `projects/{project}/locations/{location}/deliveryPipelines/{deliveryPipeline}/releases/{release}/rollouts/{rollout}`.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Current state of the `Rollout`.",
          "enumDescriptions": [
            "The `Rollout` has an unspecified state.",
            "The `Rollout` has completed successfully.",
            "The `Rollout` has failed.",
            "The `Rollout` is being deployed.",
            "The `Rollout` needs approval.",
            "An approver rejected the `Rollout`.",
            "The `Rollout` is waiting for an earlier Rollout(s) to complete on this `Target`.",
            "The `Rollout` is waiting for the `Release` to be fully rendered.",
            "The `Rollout` is in the process of being cancelled.",
            "The `Rollout` has been cancelled.",
            "The `Rollout` is halted."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED",
            "IN_PROGRESS",
            "PENDING_APPROVAL",
            "APPROVAL_REJECTED",
            "PENDING",
            "PENDING_RELEASE",
            "CANCELLING",
            "CANCELLED",
            "HALTED"
          ]
        },
        "rolledBackByRollouts": {
          "description": "Output only. Names of `Rollouts` that rolled back this `Rollout`.",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "approvalState": {
          "enumDescriptions": [
            "The `Rollout` has an unspecified approval state.",
            "The `Rollout` requires approval.",
            "The `Rollout` does not require approval.",
            "The `Rollout` has been approved.",
            "The `Rollout` has been rejected."
          ],
          "enum": [
            "APPROVAL_STATE_UNSPECIFIED",
            "NEEDS_APPROVAL",
            "DOES_NOT_NEED_APPROVAL",
            "APPROVED",
            "REJECTED"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. Approval state of the `Rollout`."
        },
        "failureReason": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Additional information about the rollout failure, if available."
        },
        "labels": {
          "description": "Labels are attributes that can be set and used by both the user and by Cloud Deploy. Labels must meet the following constraints: * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. * All characters must use UTF-8 encoding, and international characters are allowed. * Keys must start with a lowercase letter or international character. * Each resource is limited to a maximum of 64 labels. Both keys and values are additionally constrained to be <= 128 bytes.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "deployEndTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time at which the `Rollout` finished deploying.",
          "format": "google-datetime"
        },
        "targetId": {
          "description": "Required. The ID of Target to which this `Rollout` is deploying.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the `Rollout` for user purposes. Max length is 255 characters.",
          "type": "string"
        }
      }
    },
    "Task": {
      "properties": {
        "container": {
          "description": "Optional. This task is represented by a container that is executed in the Cloud Build execution environment.",
          "$ref": "ContainerTask"
        }
      },
      "description": "A Task represents a unit of work that is executed as part of a Job.",
      "id": "Task",
      "type": "object"
    },
    "DeploymentJobs": {
      "id": "DeploymentJobs",
      "type": "object",
      "description": "Deployment job composition.",
      "properties": {
        "predeployJob": {
          "readOnly": true,
          "description": "Output only. The predeploy Job, which is the first job on the phase.",
          "$ref": "Job"
        },
        "deployJob": {
          "description": "Output only. The deploy Job. This is the deploy job in the phase.",
          "$ref": "Job",
          "readOnly": true
        },
        "analysisJob": {
          "description": "Output only. The analysis Job. Runs after a verify if there is a verify job and the verify job succeeds.",
          "$ref": "Job",
          "readOnly": true
        },
        "postdeployJob": {
          "readOnly": true,
          "description": "Output only. The postdeploy Job, which is the last job on the phase.",
          "$ref": "Job"
        },
        "verifyJob": {
          "description": "Output only. The verify Job. Runs after a deploy if the deploy succeeds.",
          "$ref": "Job",
          "readOnly": true
        }
      }
    },
    "RetryPhase": {
      "id": "RetryPhase",
      "type": "object",
      "properties": {
        "totalAttempts": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The number of attempts that have been made.",
          "format": "int64"
        },
        "backoffMode": {
          "enumDescriptions": [
            "No WaitMode is specified.",
            "Increases the wait time linearly.",
            "Increases the wait time exponentially."
          ],
          "enum": [
            "BACKOFF_MODE_UNSPECIFIED",
            "BACKOFF_MODE_LINEAR",
            "BACKOFF_MODE_EXPONENTIAL"
          ],
          "type": "string",
          "description": "Output only. The pattern of how the wait time of the retry attempt is calculated.",
          "readOnly": true
        },
        "attempts": {
          "description": "Output only. Detail of a retry action.",
          "readOnly": true,
          "items": {
            "$ref": "RetryAttempt"
          },
          "type": "array"
        }
      },
      "description": "RetryPhase contains the retry attempts and the metadata for initiating a new attempt."
    },
    "DeployJobRunMetadata": {
      "properties": {
        "cloudRun": {
          "description": "Output only. The name of the Cloud Run Service that is associated with a `DeployJobRun`.",
          "$ref": "CloudRunMetadata",
          "readOnly": true
        },
        "customTarget": {
          "description": "Output only. Custom Target metadata associated with a `DeployJobRun`.",
          "$ref": "CustomTargetDeployMetadata",
          "readOnly": true
        },
        "custom": {
          "description": "Output only. Custom metadata provided by user-defined deploy operation.",
          "$ref": "CustomMetadata",
          "readOnly": true
        }
      },
      "description": "DeployJobRunMetadata surfaces information associated with a `DeployJobRun` to the user.",
      "id": "DeployJobRunMetadata",
      "type": "object"
    },
    "CreateChildRolloutJob": {
      "id": "CreateChildRolloutJob",
      "type": "object",
      "properties": {},
      "description": "A createChildRollout Job."
    },
    "ServiceNetworking": {
      "id": "ServiceNetworking",
      "type": "object",
      "properties": {
        "disablePodOverprovisioning": {
          "description": "Optional. Whether to disable Pod overprovisioning. If Pod overprovisioning is disabled then Cloud Deploy will limit the number of total Pods used for the deployment strategy to the number of Pods the Deployment has on the cluster.",
          "type": "boolean"
        },
        "podSelectorLabel": {
          "description": "Optional. The label to use when selecting Pods for the Deployment resource. This label must already be present in the Deployment.",
          "type": "string"
        },
        "service": {
          "description": "Required. Name of the Kubernetes Service.",
          "type": "string"
        },
        "deployment": {
          "description": "Required. Name of the Kubernetes Deployment whose traffic is managed by the specified Service.",
          "type": "string"
        }
      },
      "description": "Information about the Kubernetes Service networking configuration."
    },
    "PolicyViolation": {
      "id": "PolicyViolation",
      "type": "object",
      "description": "Returned from an action if one or more policies were violated, and therefore the action was prevented. Contains information about what policies were violated and why.",
      "properties": {
        "policyViolationDetails": {
          "type": "array",
          "items": {
            "$ref": "PolicyViolationDetails"
          },
          "description": "Policy violation details."
        }
      }
    },
    "AdvanceRolloutRequest": {
      "properties": {
        "phaseId": {
          "description": "Required. The phase ID to advance the `Rollout` to.",
          "type": "string"
        },
        "overrideDeployPolicy": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Deploy policies to override. Format is `projects/{project}/locations/{location}/deployPolicies/{deployPolicy}`."
        }
      },
      "description": "The request object used by `AdvanceRollout`.",
      "id": "AdvanceRolloutRequest",
      "type": "object"
    },
    "AdvanceRolloutResponse": {
      "description": "The response object from `AdvanceRollout`.",
      "properties": {},
      "id": "AdvanceRolloutResponse",
      "type": "object"
    },
    "JobRun": {
      "id": "JobRun",
      "type": "object",
      "properties": {
        "deployJobRun": {
          "description": "Output only. Information specific to a deploy `JobRun`.",
          "$ref": "DeployJobRun",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The current state of the `JobRun`.",
          "enumDescriptions": [
            "The `JobRun` has an unspecified state.",
            "The `JobRun` is in progress.",
            "The `JobRun` has succeeded.",
            "The `JobRun` has failed.",
            "The `JobRun` is terminating.",
            "The `JobRun` was terminated."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "SUCCEEDED",
            "FAILED",
            "TERMINATING",
            "TERMINATED"
          ]
        },
        "jobId": {
          "description": "Output only. ID of the `Rollout` job this `JobRun` corresponds to.",
          "readOnly": true,
          "type": "string"
        },
        "createChildRolloutJobRun": {
          "description": "Output only. Information specific to a createChildRollout `JobRun`.",
          "$ref": "CreateChildRolloutJobRun",
          "readOnly": true
        },
        "phaseId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. ID of the `Rollout` phase this `JobRun` belongs in."
        },
        "postdeployJobRun": {
          "description": "Output only. Information specific to a postdeploy `JobRun`.",
          "$ref": "PostdeployJobRun",
          "readOnly": true
        },
        "uid": {
          "readOnly": true,
          "description": "Output only. Unique identifier of the `JobRun`.",
          "type": "string"
        },
        "analysisJobRun": {
          "description": "Output only. Information specific to an analysis `JobRun`.",
          "$ref": "AnalysisJobRun",
          "readOnly": true
        },
        "startTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time at which the `JobRun` was started.",
          "format": "google-datetime"
        },
        "predeployJobRun": {
          "description": "Output only. Information specific to a predeploy `JobRun`.",
          "$ref": "PredeployJobRun",
          "readOnly": true
        },
        "advanceChildRolloutJobRun": {
          "description": "Output only. Information specific to an advanceChildRollout `JobRun`",
          "$ref": "AdvanceChildRolloutJobRun",
          "readOnly": true
        },
        "etag": {
          "description": "Output only. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "description": "Output only. Time at which the `JobRun` ended.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time at which the `JobRun` was created.",
          "format": "google-datetime"
        },
        "name": {
          "description": "Output only. Name of the `JobRun`. Format is `projects/{project}/locations/{location}/deliveryPipelines/{deliveryPipeline}/releases/{releases}/rollouts/{rollouts}/jobRuns/{uuid}`.",
          "readOnly": true,
          "type": "string"
        },
        "verifyJobRun": {
          "description": "Output only. Information specific to a verify `JobRun`.",
          "$ref": "VerifyJobRun",
          "readOnly": true
        }
      },
      "description": "A `JobRun` resource in the Cloud Deploy API. A `JobRun` contains information of a single `Rollout` job evaluation."
    },
    "AutomationRun": {
      "id": "AutomationRun",
      "type": "object",
      "properties": {
        "policyViolation": {
          "readOnly": true,
          "description": "Output only. Contains information about what policies prevented the `AutomationRun` from proceeding.",
          "$ref": "PolicyViolation"
        },
        "uid": {
          "type": "string",
          "description": "Output only. Unique identifier of the `AutomationRun`.",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Time at which the `AutomationRun` was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "etag": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The weak etag of the `AutomationRun` resource. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
        },
        "name": {
          "type": "string",
          "description": "Output only. Name of the `AutomationRun`. Format is `projects/{project}/locations/{location}/deliveryPipelines/{delivery_pipeline}/automationRuns/{automation_run}`.",
          "readOnly": true
        },
        "promoteReleaseOperation": {
          "readOnly": true,
          "description": "Output only. Promotes a release to a specified 'Target'.",
          "$ref": "PromoteReleaseOperation"
        },
        "advanceRolloutOperation": {
          "readOnly": true,
          "description": "Output only. Advances a rollout to the next phase.",
          "$ref": "AdvanceRolloutOperation"
        },
        "targetId": {
          "description": "Output only. The ID of the source target that initiates the `AutomationRun`. The value of this field is the last segment of a target name.",
          "readOnly": true,
          "type": "string"
        },
        "stateDescription": {
          "type": "string",
          "description": "Output only. Explains the current state of the `AutomationRun`. Present only when an explanation is needed.",
          "readOnly": true
        },
        "repairRolloutOperation": {
          "description": "Output only. Repairs a failed 'Rollout'.",
          "$ref": "RepairRolloutOperation",
          "readOnly": true
        },
        "timedPromoteReleaseOperation": {
          "readOnly": true,
          "description": "Output only. Promotes a release to a specified 'Target' as defined in a Timed Promote Release rule.",
          "$ref": "TimedPromoteReleaseOperation"
        },
        "automationSnapshot": {
          "description": "Output only. Snapshot of the Automation taken at AutomationRun creation time.",
          "$ref": "Automation",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Current state of the `AutomationRun`.",
          "enumDescriptions": [
            "The `AutomationRun` has an unspecified state.",
            "The `AutomationRun` has succeeded.",
            "The `AutomationRun` was cancelled.",
            "The `AutomationRun` has failed.",
            "The `AutomationRun` is in progress.",
            "The `AutomationRun` is pending.",
            "The `AutomationRun` was aborted."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "CANCELLED",
            "FAILED",
            "IN_PROGRESS",
            "PENDING",
            "ABORTED"
          ]
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Time at which the automationRun was updated.",
          "format": "google-datetime",
          "readOnly": true
        },
        "automationId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The ID of the automation that initiated the operation."
        },
        "serviceAccount": {
          "description": "Output only. Email address of the user-managed IAM service account that performs the operations against Cloud Deploy resources.",
          "readOnly": true,
          "type": "string"
        },
        "ruleId": {
          "readOnly": true,
          "description": "Output only. The ID of the automation rule that initiated the operation.",
          "type": "string"
        },
        "waitUntilTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Earliest time the `AutomationRun` will attempt to resume. Wait-time is configured by `wait` in automation rule.",
          "format": "google-datetime"
        },
        "expireTime": {
          "readOnly": true,
          "description": "Output only. Time the `AutomationRun` expires. An `AutomationRun` expires after 14 days from its creation date.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "An `AutomationRun` resource in the Cloud Deploy API. An `AutomationRun` represents an execution instance of an automation rule."
    },
    "Canary": {
      "id": "Canary",
      "type": "object",
      "description": "Canary represents the canary deployment strategy.",
      "properties": {
        "customCanaryDeployment": {
          "description": "Optional. Configures the progressive based deployment for a Target, but allows customizing at the phase level where a phase represents each of the percentage deployments.",
          "$ref": "CustomCanaryDeployment"
        },
        "runtimeConfig": {
          "description": "Optional. Runtime specific configurations for the deployment strategy. The runtime configuration is used to determine how Cloud Deploy will split traffic to enable a progressive deployment.",
          "$ref": "RuntimeConfig"
        },
        "canaryDeployment": {
          "description": "Optional. Configures the progressive based deployment for a Target.",
          "$ref": "CanaryDeployment"
        }
      }
    },
    "TargetAttribute": {
      "id": "TargetAttribute",
      "type": "object",
      "properties": {
        "labels": {
          "type": "object",
          "description": "Target labels.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "id": {
          "description": "Optional. ID of the `Target`. The value of this field could be one of the following: * The last segment of a target name * \"*\", all targets in a location",
          "type": "string"
        }
      },
      "description": "Contains criteria for selecting Targets. This could be used to select targets for a Deploy Policy or for an Automation."
    },
    "DeliveryPipelineAttribute": {
      "description": "Contains criteria for selecting DeliveryPipelines.",
      "properties": {
        "labels": {
          "description": "DeliveryPipeline labels.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "id": {
          "description": "Optional. ID of the `DeliveryPipeline`. The value of this field could be one of the following: * The last segment of a pipeline name * \"*\", all delivery pipelines in a location",
          "type": "string"
        }
      },
      "id": "DeliveryPipelineAttribute",
      "type": "object"
    },
    "ReleaseReadyCondition": {
      "properties": {
        "status": {
          "description": "True if the Release is in a valid state. Otherwise at least one condition in `ReleaseCondition` is in an invalid state. Iterate over those conditions and see which condition(s) has status = false to find out what is wrong with the Release.",
          "type": "boolean"
        }
      },
      "description": "ReleaseReadyCondition contains information around the status of the Release. If a release is not ready, you cannot create a rollout with the release.",
      "id": "ReleaseReadyCondition",
      "type": "object"
    },
    "RepairRolloutRule": {
      "properties": {
        "repairPhases": {
          "type": "array",
          "items": {
            "$ref": "RepairPhaseConfig"
          },
          "description": "Required. Defines the types of automatic repair phases for failed jobs."
        },
        "phases": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Phases within which jobs are subject to automatic repair actions on failure. Proceeds only after phase name matched any one in the list, or for all phases if unspecified. This value must consist of lower-case letters, numbers, and hyphens, start with a letter and end with a letter or a number, and have a max length of 63 characters. In other words, it must match the following regex: `^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$`.",
          "type": "array"
        },
        "id": {
          "description": "Required. ID of the rule. This id must be unique in the `Automation` resource to which this rule belongs. The format is `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`.",
          "type": "string"
        },
        "condition": {
          "description": "Output only. Information around the state of the 'Automation' rule.",
          "$ref": "AutomationRuleCondition",
          "readOnly": true
        },
        "jobs": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Jobs to repair. Proceeds only after job name matched any one in the list, or for all jobs if unspecified or empty. The phase that includes the job must match the phase ID specified in `source_phase`. This value must consist of lower-case letters, numbers, and hyphens, start with a letter and end with a letter or a number, and have a max length of 63 characters. In other words, it must match the following regex: `^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$`.",
          "type": "array"
        }
      },
      "description": "The `RepairRolloutRule` automation rule will automatically repair a failed `Rollout`.",
      "id": "RepairRolloutRule",
      "type": "object"
    },
    "Status": {
      "properties": {
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object"
    },
    "ListReleasesResponse": {
      "id": "ListReleasesResponse",
      "type": "object",
      "description": "The response object from `ListReleases`.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "releases": {
          "items": {
            "$ref": "Release"
          },
          "description": "The `Release` objects.",
          "type": "array"
        }
      }
    },
    "CloudRunConfig": {
      "properties": {
        "priorRevisionTags": {
          "description": "Optional. A list of tags that are added to the prior revision while the canary phase is in progress.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "stableRevisionTags": {
          "type": "array",
          "description": "Optional. A list of tags that are added to the final stable revision when the stable phase is applied.",
          "items": {
            "type": "string"
          }
        },
        "automaticTrafficControl": {
          "description": "Optional. Whether Cloud Deploy should update the traffic stanza in a Cloud Run Service on the user's behalf to facilitate traffic splitting. This is required to be true for CanaryDeployments, but optional for CustomCanaryDeployments.",
          "type": "boolean"
        },
        "canaryRevisionTags": {
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of tags that are added to the canary revision while the canary phase is in progress.",
          "type": "array"
        }
      },
      "description": "CloudRunConfig contains the Cloud Run runtime configuration.",
      "id": "CloudRunConfig",
      "type": "object"
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "type": "object",
      "properties": {
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          }
        },
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "description": "The response message for Operations.ListOperations."
    },
    "AbandonReleaseResponse": {
      "id": "AbandonReleaseResponse",
      "type": "object",
      "properties": {},
      "description": "The response object for `AbandonRelease`."
    },
    "ReleaseNotificationEvent": {
      "properties": {
        "releaseUid": {
          "description": "Unique identifier of the `Release`.",
          "type": "string"
        },
        "message": {
          "description": "Debug message for when a notification fails to send.",
          "type": "string"
        },
        "release": {
          "description": "The name of the `Release`.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "Type of this notification, e.g. for a Pub/Sub failure.",
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true
          ],
          "enumDescriptions": [
            "Type is unspecified.",
            "A Pub/Sub notification failed to be sent.",
            "Resource state changed.",
            "A process aborted.",
            "Restriction check failed.",
            "Resource deleted.",
            "Rollout updated.",
            "Deploy Policy evaluation.",
            "Deprecated: This field is never used. Use release_render log type instead."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PUBSUB_NOTIFICATION_FAILURE",
            "TYPE_RESOURCE_STATE_CHANGE",
            "TYPE_PROCESS_ABORTED",
            "TYPE_RESTRICTION_VIOLATED",
            "TYPE_RESOURCE_DELETED",
            "TYPE_ROLLOUT_UPDATE",
            "TYPE_DEPLOY_POLICY_EVALUATION",
            "TYPE_RENDER_STATUES_CHANGE"
          ]
        },
        "pipelineUid": {
          "description": "Unique identifier of the `DeliveryPipeline`.",
          "type": "string"
        }
      },
      "description": "Payload proto for \"clouddeploy.googleapis.com/release_notification\" Platform Log event that describes the failure to send release status change Pub/Sub notification.",
      "id": "ReleaseNotificationEvent",
      "type": "object"
    },
    "ListDeliveryPipelinesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "deliveryPipelines": {
          "type": "array",
          "description": "The `DeliveryPipeline` objects.",
          "items": {
            "$ref": "DeliveryPipeline"
          }
        }
      },
      "description": "The response object from `ListDeliveryPipelines`.",
      "id": "ListDeliveryPipelinesResponse",
      "type": "object"
    },
    "TargetsPresentCondition": {
      "description": "`TargetsPresentCondition` contains information on any Targets referenced in the Delivery Pipeline that do not actually exist.",
      "properties": {
        "updateTime": {
          "description": "Last time the condition was updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "status": {
          "description": "True if there aren't any missing Targets.",
          "type": "boolean"
        },
        "missingTargets": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of Target names that do not exist. For example, `projects/{project_id}/locations/{location_name}/targets/{target_name}`."
        }
      },
      "id": "TargetsPresentCondition",
      "type": "object"
    },
    "JobRunNotificationEvent": {
      "id": "JobRunNotificationEvent",
      "type": "object",
      "properties": {
        "message": {
          "description": "Debug message for when a notification fails to send.",
          "type": "string"
        },
        "release": {
          "description": "The name of the `Release`.",
          "type": "string"
        },
        "targetId": {
          "description": "ID of the `Target`.",
          "type": "string"
        },
        "rolloutUid": {
          "description": "Unique identifier of the `Rollout`.",
          "type": "string"
        },
        "pipelineUid": {
          "description": "Unique identifier of the `DeliveryPipeline`.",
          "type": "string"
        },
        "type": {
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true
          ],
          "description": "Type of this notification, e.g. for a Pub/Sub failure.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PUBSUB_NOTIFICATION_FAILURE",
            "TYPE_RESOURCE_STATE_CHANGE",
            "TYPE_PROCESS_ABORTED",
            "TYPE_RESTRICTION_VIOLATED",
            "TYPE_RESOURCE_DELETED",
            "TYPE_ROLLOUT_UPDATE",
            "TYPE_DEPLOY_POLICY_EVALUATION",
            "TYPE_RENDER_STATUES_CHANGE"
          ],
          "enumDescriptions": [
            "Type is unspecified.",
            "A Pub/Sub notification failed to be sent.",
            "Resource state changed.",
            "A process aborted.",
            "Restriction check failed.",
            "Resource deleted.",
            "Rollout updated.",
            "Deploy Policy evaluation.",
            "Deprecated: This field is never used. Use release_render log type instead."
          ]
        },
        "releaseUid": {
          "description": "Unique identifier of the `Release`.",
          "type": "string"
        },
        "rollout": {
          "description": "The name of the `Rollout`.",
          "type": "string"
        },
        "jobRun": {
          "description": "The name of the `JobRun`.",
          "type": "string"
        }
      },
      "description": "Payload proto for \"clouddeploy.googleapis.com/jobrun_notification\" Platform Log event that describes the failure to send JobRun resource update Pub/Sub notification."
    },
    "AdvanceChildRolloutJobRun": {
      "id": "AdvanceChildRolloutJobRun",
      "type": "object",
      "properties": {
        "rollout": {
          "type": "string",
          "description": "Output only. Name of the `ChildRollout`. Format is `projects/{project}/locations/{location}/deliveryPipelines/{deliveryPipeline}/releases/{release}/rollouts/{rollout}`.",
          "readOnly": true
        },
        "rolloutPhaseId": {
          "type": "string",
          "description": "Output only. the ID of the ChildRollout's Phase.",
          "readOnly": true
        }
      },
      "description": "AdvanceChildRolloutJobRun contains information specific to a advanceChildRollout `JobRun`."
    },
    "Operation": {
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "type": "object"
    },
    "Date": {
      "properties": {
        "year": {
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32"
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32",
          "type": "integer"
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "id": "Date",
      "type": "object"
    },
    "CustomTargetType": {
      "id": "CustomTargetType",
      "type": "object",
      "properties": {
        "tasks": {
          "description": "Optional. Configures render and deploy for the `CustomTargetType` using tasks.",
          "$ref": "CustomTargetTasks"
        },
        "customTargetTypeId": {
          "description": "Output only. Resource id of the `CustomTargetType`.",
          "readOnly": true,
          "type": "string"
        },
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Unique identifier of the `CustomTargetType`."
        },
        "labels": {
          "type": "object",
          "description": "Optional. Labels are attributes that can be set and used by both the user and by Cloud Deploy. Labels must meet the following constraints: * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. * All characters must use UTF-8 encoding, and international characters are allowed. * Keys must start with a lowercase letter or international character. * Each resource is limited to a maximum of 64 labels. Both keys and values are additionally constrained to be <= 128 bytes.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "description": {
          "description": "Optional. Description of the `CustomTargetType`. Max length is 255 characters.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. Name of the `CustomTargetType`. Format is `projects/{project}/locations/{location}/customTargetTypes/{customTargetType}`. The `customTargetType` component must match `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`",
          "type": "string"
        },
        "etag": {
          "description": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "customActions": {
          "description": "Optional. Configures render and deploy for the `CustomTargetType` using Skaffold custom actions.",
          "$ref": "CustomTargetSkaffoldActions"
        },
        "createTime": {
          "description": "Output only. Time at which the `CustomTargetType` was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. User annotations. These attributes can only be set and used by the user, and not by Cloud Deploy. See https://google.aip.dev/128#annotations for more details such as format and size limitations.",
          "type": "object"
        },
        "updateTime": {
          "description": "Output only. Most recent time at which the `CustomTargetType` was updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "A `CustomTargetType` resource in the Cloud Deploy API. A `CustomTargetType` defines a type of custom target that can be referenced in a `Target` in order to facilitate deploying to other systems besides the supported runtimes."
    },
    "SetIamPolicyRequest": {
      "id": "SetIamPolicyRequest",
      "type": "object",
      "description": "Request message for `SetIamPolicy` method.",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        },
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "format": "google-fieldmask",
          "type": "string"
        }
      }
    },
    "TargetRender": {
      "description": "Details of rendering for a single target.",
      "properties": {
        "renderingState": {
          "enum": [
            "TARGET_RENDER_STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED",
            "IN_PROGRESS"
          ],
          "enumDescriptions": [
            "The render operation state is unspecified.",
            "The render operation has completed successfully.",
            "The render operation has failed.",
            "The render operation is in progress."
          ],
          "readOnly": true,
          "description": "Output only. Current state of the render operation for this Target.",
          "type": "string"
        },
        "failureCause": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Reason this render failed. This will always be unspecified while the render in progress.",
          "enumDescriptions": [
            "No reason for failure is specified.",
            "Cloud Build is not available, either because it is not enabled or because Cloud Deploy has insufficient permissions. See [required permission](https://cloud.google.com/deploy/docs/cloud-deploy-service-account#required_permissions).",
            "The render operation did not complete successfully; check Cloud Build logs.",
            "Cloud Build failed to fulfill Cloud Deploy's request. See failure_message for additional details.",
            "The render operation did not complete successfully because the verification stanza required for verify was not found on the Skaffold configuration.",
            "The render operation did not complete successfully because the custom action(s) required for Rollout jobs were not found in the Skaffold configuration. See failure_message for additional details.",
            "Release failed during rendering because the release configuration is not supported with the specified deployment strategy.",
            "The render operation had a feature configured that is not supported."
          ],
          "enum": [
            "FAILURE_CAUSE_UNSPECIFIED",
            "CLOUD_BUILD_UNAVAILABLE",
            "EXECUTION_FAILED",
            "CLOUD_BUILD_REQUEST_FAILED",
            "VERIFICATION_CONFIG_NOT_FOUND",
            "CUSTOM_ACTION_NOT_FOUND",
            "DEPLOYMENT_STRATEGY_NOT_SUPPORTED",
            "RENDER_FEATURE_NOT_SUPPORTED"
          ]
        },
        "failureMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Additional information about the render failure, if available."
        },
        "renderingBuild": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the Cloud Build `Build` object that is used to render the manifest for this target. Format is `projects/{project}/locations/{location}/builds/{build}`."
        },
        "metadata": {
          "description": "Output only. Metadata related to the `Release` render for this Target.",
          "$ref": "RenderMetadata",
          "readOnly": true
        }
      },
      "id": "TargetRender",
      "type": "object"
    },
    "RetryJobResponse": {
      "id": "RetryJobResponse",
      "type": "object",
      "properties": {},
      "description": "The response object from 'RetryJob'."
    },
    "CloudRunMetadata": {
      "description": "CloudRunMetadata contains information from a Cloud Run deployment.",
      "properties": {
        "serviceUrls": {
          "description": "Output only. The Cloud Run Service urls that are associated with a `Rollout`.",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "job": {
          "readOnly": true,
          "description": "Output only. The name of the Cloud Run job that is associated with a `Rollout`. Format is `projects/{project}/locations/{location}/jobs/{job_name}`.",
          "type": "string"
        },
        "revision": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The Cloud Run Revision id associated with a `Rollout`."
        },
        "previousRevision": {
          "description": "Output only. The previous Cloud Run Revision name associated with a `Rollout`. Only set when a canary deployment strategy is configured. Format for service is projects/{project}/locations/{location}/services/{service}/revisions/{revision}. Format for worker pool is projects/{project}/locations/{location}/workerPools/{workerpool}/revisions/{revision}.",
          "readOnly": true,
          "type": "string"
        },
        "service": {
          "type": "string",
          "description": "Output only. The name of the Cloud Run Service that is associated with a `Rollout`. Format is `projects/{project}/locations/{location}/services/{service}`.",
          "readOnly": true
        },
        "workerPool": {
          "readOnly": true,
          "description": "Output only. The Cloud Run worker pool associated with a `Rollout`. Format is `projects/{project}/locations/{location}/workerPools/{worker_pool}`.",
          "type": "string"
        }
      },
      "id": "CloudRunMetadata",
      "type": "object"
    },
    "MultiTarget": {
      "description": "Information specifying a multiTarget.",
      "properties": {
        "targetIds": {
          "items": {
            "type": "string"
          },
          "description": "Required. The target_ids of this multiTarget.",
          "type": "array"
        }
      },
      "id": "MultiTarget",
      "type": "object"
    },
    "RolloutNotificationEvent": {
      "id": "RolloutNotificationEvent",
      "type": "object",
      "properties": {
        "pipelineUid": {
          "description": "Unique identifier of the `DeliveryPipeline`.",
          "type": "string"
        },
        "rolloutUid": {
          "description": "Unique identifier of the `Rollout`.",
          "type": "string"
        },
        "releaseUid": {
          "description": "Unique identifier of the `Release`.",
          "type": "string"
        },
        "rollout": {
          "description": "The name of the `Rollout`.",
          "type": "string"
        },
        "message": {
          "description": "Debug message for when a notification fails to send.",
          "type": "string"
        },
        "release": {
          "description": "The name of the `Release`.",
          "type": "string"
        },
        "targetId": {
          "description": "ID of the `Target` that the rollout is deployed to.",
          "type": "string"
        },
        "type": {
          "description": "Type of this notification, e.g. for a Pub/Sub failure.",
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PUBSUB_NOTIFICATION_FAILURE",
            "TYPE_RESOURCE_STATE_CHANGE",
            "TYPE_PROCESS_ABORTED",
            "TYPE_RESTRICTION_VIOLATED",
            "TYPE_RESOURCE_DELETED",
            "TYPE_ROLLOUT_UPDATE",
            "TYPE_DEPLOY_POLICY_EVALUATION",
            "TYPE_RENDER_STATUES_CHANGE"
          ],
          "enumDescriptions": [
            "Type is unspecified.",
            "A Pub/Sub notification failed to be sent.",
            "Resource state changed.",
            "A process aborted.",
            "Restriction check failed.",
            "Resource deleted.",
            "Rollout updated.",
            "Deploy Policy evaluation.",
            "Deprecated: This field is never used. Use release_render log type instead."
          ]
        }
      },
      "description": "Payload proto for \"clouddeploy.googleapis.com/rollout_notification\" Platform Log event that describes the failure to send rollout status change Pub/Sub notification."
    },
    "TerminateJobRunResponse": {
      "properties": {},
      "description": "The response object from `TerminateJobRun`.",
      "id": "TerminateJobRunResponse",
      "type": "object"
    },
    "TimedPromoteReleaseCondition": {
      "id": "TimedPromoteReleaseCondition",
      "type": "object",
      "description": "`TimedPromoteReleaseCondition` contains conditions specific to an Automation with a Timed Promote Release rule defined.",
      "properties": {
        "nextPromotionTime": {
          "readOnly": true,
          "description": "Output only. When the next scheduled promotion(s) will occur.",
          "format": "google-datetime",
          "type": "string"
        },
        "targetsList": {
          "readOnly": true,
          "items": {
            "$ref": "Targets"
          },
          "description": "Output only. A list of targets involved in the upcoming timed promotion(s).",
          "type": "array"
        }
      }
    },
    "GkeCluster": {
      "id": "GkeCluster",
      "type": "object",
      "properties": {
        "internalIp": {
          "description": "Optional. If true, `cluster` is accessed using the private IP address of the control plane endpoint. Otherwise, the default IP address of the control plane endpoint is used. The default IP address is the private IP address for clusters with private control-plane endpoints and the public IP address otherwise. Only specify this option when `cluster` is a [private GKE cluster](https://cloud.google.com/kubernetes-engine/docs/concepts/private-cluster-concept). Note that `internal_ip` and `dns_endpoint` cannot both be set to true.",
          "type": "boolean"
        },
        "cluster": {
          "description": "Optional. Information specifying a GKE Cluster. Format is `projects/{project_id}/locations/{location_id}/clusters/{cluster_id}`.",
          "type": "string"
        },
        "proxyUrl": {
          "description": "Optional. If set, used to configure a [proxy](https://kubernetes.io/docs/concepts/configuration/organize-cluster-access-kubeconfig/#proxy) to the Kubernetes server.",
          "type": "string"
        },
        "dnsEndpoint": {
          "description": "Optional. If set, the cluster will be accessed using the DNS endpoint. Note that both `dns_endpoint` and `internal_ip` cannot be set to true.",
          "type": "boolean"
        }
      },
      "description": "Information specifying a GKE Cluster."
    },
    "CustomTargetTypeNotificationEvent": {
      "properties": {
        "type": {
          "enumDescriptions": [
            "Type is unspecified.",
            "A Pub/Sub notification failed to be sent.",
            "Resource state changed.",
            "A process aborted.",
            "Restriction check failed.",
            "Resource deleted.",
            "Rollout updated.",
            "Deploy Policy evaluation.",
            "Deprecated: This field is never used. Use release_render log type instead."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PUBSUB_NOTIFICATION_FAILURE",
            "TYPE_RESOURCE_STATE_CHANGE",
            "TYPE_PROCESS_ABORTED",
            "TYPE_RESTRICTION_VIOLATED",
            "TYPE_RESOURCE_DELETED",
            "TYPE_ROLLOUT_UPDATE",
            "TYPE_DEPLOY_POLICY_EVALUATION",
            "TYPE_RENDER_STATUES_CHANGE"
          ],
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true
          ],
          "description": "Type of this notification, e.g. for a Pub/Sub failure."
        },
        "message": {
          "description": "Debug message for when a notification fails to send.",
          "type": "string"
        },
        "customTargetTypeUid": {
          "description": "Unique identifier of the `CustomTargetType`.",
          "type": "string"
        },
        "customTargetType": {
          "description": "The name of the `CustomTargetType`.",
          "type": "string"
        }
      },
      "description": "Payload proto for \"clouddeploy.googleapis.com/customtargettype_notification\" Platform Log event that describes the failure to send a custom target type status change Pub/Sub notification.",
      "id": "CustomTargetTypeNotificationEvent",
      "type": "object"
    },
    "CustomCanaryDeployment": {
      "id": "CustomCanaryDeployment",
      "type": "object",
      "description": "CustomCanaryDeployment represents the custom canary deployment configuration.",
      "properties": {
        "phaseConfigs": {
          "type": "array",
[...]
