{
  "canonicalName": "Cloudbilling",
  "id": "cloudbilling:v1beta",
  "discoveryVersion": "v1",
  "rootUrl": "https://cloudbilling.googleapis.com/",
  "documentationLink": "https://cloud.google.com/billing/docs/apis",
  "batchPath": "batch",
  "revision": "20260814",
  "name": "cloudbilling",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version": "v1beta",
  "ownerName": "Google",
  "servicePath": "",
  "title": "Cloud Billing API",
  "basePath": "",
  "parameters": {
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-billing": {
          "description": "View and manage your Google Cloud Platform billing accounts"
        },
        "https://www.googleapis.com/auth/cloud-billing.readonly": {
          "description": "View your Google Cloud Platform billing accounts"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "schemas": {
    "ValueProto": {
      "type": "object",
      "id": "ValueProto",
      "description": "This is a copy of storage/googlesql/public/value.proto. ValueProto represents the serialized form of the googlesql::Value. The intention is to support multiple languages including Java and C++, so we must be sensitive to the distinction between Java Strings and byte arrays or ByteStrings. We also want to support use-cases which do not want to serialize a copy of the GoogleSQL type for every instance (which might be very repetitive). Therefore, unlike googlesql::Value, ValueProto does not carry full type information with every instance, and can only be fully interpreted with an associated TypeProto.",
      "properties": {
        "ValueProtoSwitchMustHaveADefault": {
          "type": "boolean",
          "description": "User code that switches on this oneoff enum must have a default case so builds won't break when new fields are added."
        },
        "timestampValue": {
          "type": "string",
          "format": "google-datetime",
          "description": "primitive for timestamp"
        },
        "uint64Value": {
          "description": "Primitive for uint64.",
          "type": "string",
          "format": "uint64"
        },
        "floatValue": {
          "type": "number",
          "format": "float",
          "description": "Primitive for float."
        },
        "enumValue": {
          "description": "Tag 11 was used for specifying micros timestamps as int64, now obsolete.",
          "type": "integer",
          "format": "int32"
        },
        "timeValue": {
          "type": "string",
          "format": "int64",
          "description": "Bit field encoding of hour/minute/second/nanos. See TimeValue class for details."
        },
        "doubleValue": {
          "type": "number",
          "format": "double",
          "description": "Primitive for double."
        },
        "datetimeValue": {
          "description": "primitive for datetime",
          "$ref": "Datetime"
        },
        "structValue": {
          "description": "A struct of values",
          "$ref": "Struct"
        },
        "arrayValue": {
          "description": "An array of value",
          "$ref": "Array"
        },
        "stringValue": {
          "type": "string",
          "description": "Primitive for string."
        },
        "uuidValue": {
          "type": "string",
          "format": "byte",
          "description": "Encoded uuid value. For the encoding format see documentation for UuidValue::SerializeAsBytes()."
        },
        "bignumericValue": {
          "description": "Encoded bignumeric value. For the encoding format see documentation for BigNumericValue::SerializeAsProtoBytes().",
          "type": "string",
          "format": "byte"
        },
        "protoValue": {
          "description": "Stores a serialized protocol message.",
          "type": "string",
          "format": "byte"
        },
        "intervalValue": {
          "description": "Encoded interval value. For the encoding format see documentation for IntervalValue::SerializeAsBytes().",
          "type": "string",
          "format": "byte"
        },
        "jsonValue": {
          "description": "Tag 22 was used for json value as bytes, now obsolete. Json value represented as a string document.",
          "type": "string"
        },
        "timestampPicoValue": {
          "type": "string",
          "format": "byte",
          "description": "Encoded timestamp_pico value. For the encoding format see documentation for googlesql::TimestampPico::SerializeAsBytes()."
        },
        "int32Value": {
          "description": "Primitive value for int32.",
          "type": "integer",
          "format": "int32"
        },
        "boolValue": {
          "description": "Primitive for bool.",
          "type": "boolean"
        },
        "uint32Value": {
          "type": "integer",
          "format": "uint32",
          "description": "Primitive for uint32."
        },
        "geographyValue": {
          "description": "Geography encoded using ::stlib::STGeographyEncoder",
          "type": "string",
          "format": "byte"
        },
        "mapValue": {
          "description": "Encoded map value. See go/googlesql_map.",
          "$ref": "Map"
        },
        "int64Value": {
          "type": "string",
          "format": "int64",
          "description": "Primitive for int64."
        },
        "bytesValue": {
          "description": "Primitive for bytes.",
          "type": "string",
          "format": "byte"
        },
        "rangeValue": {
          "description": "Encoded range value. See go/googlesql_range.",
          "$ref": "Range"
        },
        "tokenlistValue": {
          "description": "Encoded tokenlist value. copybara:strip_begin(internal-comment) See //search/tokens:token_list. copybara:strip_end",
          "type": "string",
          "format": "byte"
        },
        "numericValue": {
          "type": "string",
          "format": "byte",
          "description": "Encoded numeric value. For the encoding format see documentation for NumericValue::SerializeAsProtoBytes()."
        },
        "dateValue": {
          "type": "integer",
          "format": "int32",
          "description": "Primitive for date."
        }
      }
    },
    "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyGlobal": {
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyGlobal",
      "description": "Encapsulates a global geographic taxonomy.",
      "properties": {}
    },
    "DataSet": {
      "id": "DataSet",
      "description": "A dataset used to support an insight, suitable for UI rendering (tables/charts).",
      "properties": {
        "suggestedChart": {
          "$ref": "SuggestedChart",
          "description": "Output only. A suggested chart for the data set, used for UI rendering.",
          "readOnly": true
        },
        "queryInfo": {
          "description": "Output only. The query used to fetch this data.",
          "readOnly": true,
          "$ref": "AgenticQueryInfo"
        },
        "billingData": {
          "$ref": "BillingData",
          "description": "Output only. Actual billing data returned from the Data Mart. Uses the formal message from the Billing Data Service.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "Money": {
      "type": "object",
      "id": "Money",
      "description": "Represents an amount of money with its currency type.",
      "properties": {
        "currencyCode": {
          "description": "The three-letter currency code defined in ISO 4217.",
          "type": "string"
        },
        "nanos": {
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "type": "integer",
          "format": "int32"
        },
        "units": {
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegional": {
      "type": "object",
      "id": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegional",
      "description": "Encapsulates a regional geographic taxonomy.",
      "properties": {
        "region": {
          "description": "Google Cloud region associated with the regional geographic taxonomy.",
          "$ref": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegion"
        }
      }
    },
    "GenerateInsightsRequest": {
      "id": "GenerateInsightsRequest",
      "description": "Request for GenerateInsights.",
      "properties": {
        "filter": {
          "description": "Optional. Filters cost data by service id. Follows https://google.aip.dev/160 for the filter syntax. eg. filter: \"service = 'C7E2-9256-1C43'\"",
          "type": "string"
        },
        "prompt": {
          "type": "string",
          "description": "Required. The natural language prompt from the user."
        },
        "overriddenMaxIterationCounts": {
          "description": "Optional. Overrides the maximum iterations for any selected strategy.",
          "type": "integer",
          "format": "int32"
        },
        "parents": {
          "description": "Optional. The billing account or projects to analyze.",
          "items": {
            "$ref": "BillingDataResource"
          },
          "type": "array"
        },
        "userContext": {
          "description": "Optional. Additional context for personalization (e.g., user persona, role).",
          "$ref": "UserContext"
        }
      },
      "type": "object"
    },
    "ColumnInfo": {
      "id": "ColumnInfo",
      "description": "Represents a column header.",
      "properties": {
        "column": {
          "description": "Name of the column.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegion": {
      "id": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegion",
      "description": "Encapsulates a Google Cloud region.",
      "properties": {
        "region": {
          "type": "string",
          "description": "Description of a Google Cloud region. Example: \"us-west2\"."
        }
      },
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountskugroupsV1betaBillingAccountSkuGroup": {
      "id": "GoogleCloudBillingBillingaccountskugroupsV1betaBillingAccountSkuGroup",
      "description": "Encapsulates a stock keeping (SKU) group visible to a billing account. A SKU group represents a collection of SKUs that are related to each other. For example, the `AI Platform APIs` SKU group includes SKUs from the Cloud Dialogflow API, the Cloud Text-to-Speech API, and additional related APIs.",
      "properties": {
        "displayName": {
          "description": "Description of the BillingAccountSkuGroup. Example: \"A2 VMs (1 Year CUD)\".",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Resource name for the BillingAccountSkuGroup. Example: \"billingAccounts/012345-567890-ABCDEF/skuGroups/0e6403d1-4694-44d2-a696-7a78b1a69301\"."
        }
      },
      "type": "object"
    },
    "GoogleCloudBillingPricesV1betaRateTier": {
      "type": "object",
      "id": "GoogleCloudBillingPricesV1betaRateTier",
      "description": "Encapsulates a rate price tier.",
      "properties": {
        "startAmount": {
          "description": "Lower bound amount for a tier. Tiers 0-100, 100-200 will be represented with two tiers with `start_amount` 0 and 100.",
          "$ref": "Decimal"
        },
        "listPrice": {
          "description": "List price of one tier.",
          "$ref": "Money"
        }
      }
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyGlobal": {
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyGlobal",
      "description": "Encapsulates a global geographic taxonomy.",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegion": {
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegion",
      "description": "Encapsulates a Google Cloud region.",
      "properties": {
        "region": {
          "type": "string",
          "description": "Description of a Google Cloud region. Example: \"us-west2\"."
        }
      },
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegion": {
      "id": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegion",
      "description": "Encapsulates a Google Cloud region.",
      "properties": {
        "region": {
          "description": "Description of a Google Cloud region. Example: \"us-west2\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaListBillingAccountSkuGroupSkusResponse": {
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaListBillingAccountSkuGroupSkusResponse",
      "description": "Response message for ListBillingAccountSkuGroupSkus.",
      "properties": {
        "billingAccountSkuGroupSkus": {
          "type": "array",
          "description": "The returned billing account SKU group SKUs.",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaBillingAccountSkuGroupSku"
          }
        },
        "nextPageToken": {
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "UserContext": {
      "id": "UserContext",
      "description": "Additional context for personalization (e.g., user persona, role).",
      "properties": {
        "persona": {
          "description": "Optional. The user's persona (e.g., FinOps Manager, Developer).",
          "type": "string",
          "enumDescriptions": [
            "Default value. Should not be used.",
            "The user is a FinOps Manager.",
            "The user is a Developer."
          ],
          "enum": [
            "PERSONA_UNSPECIFIED",
            "FINOPS_MANAGER",
            "DEVELOPER"
          ]
        },
        "role": {
          "description": "Optional. The user's role (e.g., Billing Admin, Project Owner, etc.).",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AgenticQueryInfo": {
      "id": "AgenticQueryInfo",
      "description": "A local representation of the query used to fetch the data. This is used instead of the raw QueryBillingDataRequest to avoid pulling in Cloud Policy Enforcement (CPE) resource_type annotations into the response payload, which causes ESF validation failures.",
      "properties": {
        "view": {
          "type": "string",
          "description": "The view queried."
        },
        "filter": {
          "description": "The filter applied to the query.",
          "type": "string"
        },
        "columns": {
          "description": "The columns queried.",
          "type": "string"
        },
        "parents": {
          "description": "The parents (e.g. projects, billing accounts) queried.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "orderBy": {
          "type": "string",
          "description": "The order-by clause applied to the query."
        },
        "groupBy": {
          "description": "The group-by clause applied to the query.",
          "type": "string"
        },
        "limit": {
          "description": "The row limit applied to the query.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "GoogleCloudBillingSkugroupskusV1betaTaxonomyCategory": {
      "type": "object",
      "id": "GoogleCloudBillingSkugroupskusV1betaTaxonomyCategory",
      "description": "Encapsulates a product category.",
      "properties": {
        "category": {
          "type": "string",
          "description": "Name of the product category."
        }
      }
    },
    "GoogleCloudBillingBillingaccountpricesV1betaFixedDiscount": {
      "id": "GoogleCloudBillingBillingaccountpricesV1betaFixedDiscount",
      "description": "Encapsulates a discount off the list price, anchored to the list price as of a fixed time.",
      "properties": {
        "skuGroup": {
          "description": "SKU group where the fixed discount comes from.",
          "type": "string"
        },
        "fixTime": {
          "description": "Time that the fixed discount is anchored to.",
          "type": "string",
          "format": "google-datetime"
        },
        "discountPercent": {
          "description": "Percentage of the fixed discount.",
          "$ref": "Decimal"
        },
        "discountScopeType": {
          "type": "string",
          "description": "Type of the fixed discount scope which indicates the source of the discount. It can have values such as 'unspecified' and 'sku-group'."
        }
      },
      "type": "object"
    },
    "FinalResult": {
      "id": "FinalResult",
      "description": "Encapsulates all structured data and the completed summary.",
      "properties": {
        "insights": {
          "description": "Output only. A list of discrete insights gleaned from the data.",
          "readOnly": true,
          "items": {
            "$ref": "Insight"
          },
          "type": "array"
        },
        "summary": {
          "type": "string",
          "description": "Output only. The full natural language summary (re-sent for consistency).",
          "readOnly": true
        },
        "fullAnalysis": {
          "type": "string",
          "description": "Output only. Contains the full natural language analysis, including thoughts, reasoning, and references.",
          "readOnly": true
        },
        "suggestedQueries": {
          "description": "Output only. A list of suggested follow-up queries for the user.",
          "readOnly": true,
          "items": {
            "$ref": "SuggestedQuery"
          },
          "type": "array"
        },
        "dataSets": {
          "description": "Output only. Data sets used to support the insights, suitable for UI rendering (tables/charts).",
          "readOnly": true,
          "items": {
            "$ref": "DataSet"
          },
          "type": "array"
        },
        "interopLinks": {
          "type": "array",
          "description": "Output only. Links to interoperable tools (e.g., pre-filtered Cost Reports or BQE queries).",
          "readOnly": true,
          "items": {
            "$ref": "InteropLink"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountpricesV1betaUnitInfo": {
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaUnitInfo",
      "description": "Encapsulates the unit information for a Rate",
      "properties": {
        "unitDescription": {
          "description": "Human-readable description of the unit. Example: gibibyte month.",
          "type": "string"
        },
        "unit": {
          "description": "Shorthand for the unit. Example: GiBy.mo.",
          "type": "string"
        },
        "unitQuantity": {
          "description": "Unit quantity for the tier. Example: if the RateTier price is $1 per 1000000 Bytes, then `unit_quantity` is set to 1000000.",
          "$ref": "Decimal"
        }
      }
    },
    "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyMultiRegional": {
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyMultiRegional",
      "description": "Encapsulates a multi-regional geographic taxonomy.",
      "properties": {
        "regions": {
          "type": "array",
          "description": "Google Cloud regions associated with the multi-regional geographic taxonomy.",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegion"
          }
        }
      }
    },
    "SuggestedChart": {
      "type": "object",
      "id": "SuggestedChart",
      "description": "A suggested chart for the data set, used for UI rendering.",
      "properties": {
        "chartTitle": {
          "type": "string",
          "description": "The title of the chart."
        },
        "seriesField": {
          "type": "string",
          "description": "The field used for the series (e.g., color-coding). Optional, but recommended for time-series data."
        },
        "xAxisField": {
          "type": "string",
          "description": "The field used for the x-axis."
        },
        "chartType": {
          "description": "The type of the chart.",
          "type": "string",
          "enumDescriptions": [
            "Default value. Should not be used.",
            "Represents a bar chart.",
            "The data set cannot be rendered as a chart.",
            "Represents a line chart. Suitable for quantitative and temporal data on the x-axis.",
            "Represents an area chart."
          ],
          "enum": [
            "CHART_TYPE_UNSPECIFIED",
            "BAR_CHART",
            "UNCHARTABLE",
            "LINE_CHART",
            "AREA_CHART"
          ]
        },
        "xAxisLabel": {
          "type": "string",
          "description": "The label of the x-axis."
        },
        "yAxisLabel": {
          "type": "string",
          "description": "The label of the y-axis."
        },
        "yAxisField": {
          "type": "string",
          "description": "The field used for the y-axis."
        }
      }
    },
    "GoogleCloudBillingPricesV1betaUnitInfo": {
      "id": "GoogleCloudBillingPricesV1betaUnitInfo",
      "description": "Encapsulates the unit information for a Rate",
      "properties": {
        "unit": {
          "description": "Shorthand for the unit. Example: GiBy.mo.",
          "type": "string"
        },
        "unitQuantity": {
          "description": "Unit quantity for the tier. Example: if the RateTier price is $1 per 1000000 Bytes, then `unit_quantity` is set to 1000000.",
          "$ref": "Decimal"
        },
        "unitDescription": {
          "type": "string",
          "description": "Human-readable description of the unit. Example: gibibyte month."
        }
      },
      "type": "object"
    },
    "Array": {
      "type": "object",
      "id": "Array",
      "description": "An ordered collection of elements of arbitrary count.",
      "properties": {
        "element": {
          "description": "The elements of the array.",
          "items": {
            "$ref": "ValueProto"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudBillingPricesV1betaPrice": {
      "type": "object",
      "id": "GoogleCloudBillingPricesV1betaPrice",
      "description": "Encapsulates the latest price for a SKU.",
      "properties": {
        "currencyCode": {
          "description": "ISO-4217 currency code for the price.",
          "type": "string"
        },
        "rate": {
          "description": "Rate price metadata. SKUs with `Rate` price are offered by pricing tiers. The price can have 1 or more rate pricing tiers.",
          "$ref": "GoogleCloudBillingPricesV1betaRate"
        },
        "name": {
          "description": "Resource name for the latest price.",
          "type": "string"
        },
        "valueType": {
          "description": "Type of the price. It can have values: [\"unspecified\", \"rate\"].",
          "type": "string"
        }
      }
    },
    "GoogleCloudBillingBillingaccountpricesV1betaRateTier": {
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaRateTier",
      "description": "Encapsulates a rate price tier.",
      "properties": {
        "startAmount": {
          "description": "Lower bound amount for a tier. Tiers 0-100, 100-200 will be represented with two tiers with `start_amount` 0 and 100.",
          "$ref": "Decimal"
        },
        "listPrice": {
          "description": "List price of one tier.",
          "$ref": "Money"
        },
        "effectiveDiscountPercent": {
          "description": "Percentage of effective discount calculated using the current list price per pricing tier. Formula used: effective_discount_percent = (list_price - contract_price) / list_price × 100 If list_price and contract_price are zero, this field is the same as `discount_percent` of FixedDiscount and FloatingDiscount. If your contract does NOT have the feature LIST_PRICE_AS_CEILING enabled, the effective_discount_percent can be negative if the SKU has a FixedDiscount and the current list price is lower than the list price on the date of the contract agreement. See the `FixedDiscount.fix_time` on when the discount was set. If you have questions regarding pricing per SKU, contact your Account team for more details.",
          "$ref": "Decimal"
        },
        "contractPrice": {
          "description": "Negotiated contract price specific for a billing account.",
          "$ref": "Money"
        }
      }
    },
    "GoogleCloudBillingBillingaccountpricesV1betaPriceReason": {
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaPriceReason",
      "description": "Encapsulates a price reason which contains background information about the origin of the price.",
      "properties": {
        "defaultPrice": {
          "description": "Default price which is the current list price.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaDefaultPrice"
        },
        "migratedPrice": {
          "description": "Price migrated from other SKUs.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaMigratedPrice"
        },
        "floatingDiscount": {
          "description": "Discount off the current list price, not anchored to any list price as of a fixed time.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaFloatingDiscount"
        },
        "mergedPrice": {
          "description": "Price after merging from multiple sources.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaMergedPrice"
        },
        "fixedPrice": {
          "description": "Fixed price applicable during the terms of a contract agreement.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaFixedPrice"
        },
        "listPriceAsCeiling": {
          "description": "Contract feature that the list price (DefaultPrice) will be used for the price if the current list price drops lower than the custom fixed price. Available to new contracts after March 21, 2022. Applies to all fixed price SKUs in the contract, including FixedPrice, FixedDiscount, MigratedPrice, and MergedPrice.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaListPriceAsCeiling"
        },
        "fixedDiscount": {
          "description": "Discount off the list price, anchored to the list price as of a fixed time.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaFixedDiscount"
        },
        "type": {
          "type": "string",
          "description": "Type of the price reason. It can have values such as 'unspecified', 'default-price', 'fixed-price', 'fixed-discount', 'floating-discount', 'migrated-price', 'merged-price', 'list-price-as-ceiling'."
        }
      }
    },
    "GoogleCloudBillingSkugroupskusV1betaListSkuGroupSkusResponse": {
      "id": "GoogleCloudBillingSkugroupskusV1betaListSkuGroupSkusResponse",
      "description": "Response message for ListSkuGroupSkus.",
      "properties": {
        "skuGroupSkus": {
          "type": "array",
          "description": "The returned SKU group SKUs.",
          "items": {
            "$ref": "GoogleCloudBillingSkugroupskusV1betaSkuGroupSku"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages."
        }
      },
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountpricesV1betaMigratedPrice": {
      "id": "GoogleCloudBillingBillingaccountpricesV1betaMigratedPrice",
      "description": "Encapsulates a price migrated from other SKUs.",
      "properties": {
        "sourceSku": {
          "description": "Source SKU where the discount is migrated from. Format: billingAccounts/{billing_account}/skus/{sku}",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountpricesV1betaRate": {
      "id": "GoogleCloudBillingBillingaccountpricesV1betaRate",
      "description": "Encapsulates a `Rate` price. Billing account SKUs with `Rate` price are offered by pricing tiers. The price have 1 or more rate pricing tiers.",
      "properties": {
        "unitInfo": {
          "description": "Unit info such as name and quantity.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaUnitInfo"
        },
        "tiers": {
          "description": "All tiers associated with the `Rate` price.",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountpricesV1betaRateTier"
          },
          "type": "array"
        },
        "aggregationInfo": {
          "description": "Aggregation info for tiers such as aggregation level and interval.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaAggregationInfo"
        }
      },
      "type": "object"
    },
    "Insight": {
      "id": "Insight",
      "description": "e.g. insight: title: \"Cost Increase (The Explanation)\" description: \"Your cost increase was driven by Vertex AI Online Prediction in us-central1...\" severity: INFO",
      "properties": {
        "description": {
          "description": "Output only. The description of the insight.",
          "readOnly": true,
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Output only. The title of the insight.",
          "readOnly": true
        },
        "severity": {
          "type": "string",
          "enumDescriptions": [
            "Default value. Should not be used.",
            "The insight is useful, but no action is required.",
            "The insight is useful, and some action may be required.",
            "The insight is useful, and immediate action is required."
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "INFO",
            "WARNING",
            "CRITICAL"
          ],
          "description": "Output only. The severity of the insight, used for UI rendering (e.g., color-coding).",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaProductTaxonomy": {
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaProductTaxonomy",
      "description": "Encapsulates product categories, such as `Serverless`, `Cloud Run`, `TaskQueue`, and others.",
      "properties": {
        "taxonomyCategories": {
          "type": "array",
          "description": "All product categories that the billing account SKU group SKU belong to.",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaTaxonomyCategory"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomy": {
      "type": "object",
      "id": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomy",
      "description": "Encapsulates geographic metadata, such as regions and multi-regions like `us-east4` or `European Union`.",
      "properties": {
        "globalMetadata": {
          "description": "Global geographic metadata with no regions.",
          "$ref": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyGlobal"
        },
        "multiRegionalMetadata": {
          "description": "Multi-regional geographic metadata with 2 or more regions.",
          "$ref": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyMultiRegional"
        },
        "regionalMetadata": {
          "description": "Regional geographic metadata with 1 region.",
          "$ref": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegional"
        },
        "type": {
          "description": "Type of geographic taxonomy associated with the SKU group SKU.",
          "type": "string",
          "enumDescriptions": [
            "Default value. Unspecified type.",
            "Global geographic taxonomy with no regions.",
            "Regional geographic taxonomy with 1 region.",
            "Multi-regional geographic taxonomy with 2 or more regions."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_GLOBAL",
            "TYPE_REGIONAL",
            "TYPE_MULTI_REGIONAL"
          ]
        }
      }
    },
    "Range": {
      "type": "object",
      "id": "Range",
      "description": "A range of values, bounded by the values 'start' (inclusive) and 'end' (exclusive). A range has an element type, and values must be of this element type. A range is contiguous, ie it contains all values of the given element type starting at 'start' and ending before 'end'. A \"null\" value on start or end represents an unbounded start or end value respectively. Start and end values must always be present.",
      "properties": {
        "start": {
          "description": "Represents the start of the range.",
          "$ref": "ValueProto"
        },
        "end": {
          "description": "Represents the end of the range.",
          "$ref": "ValueProto"
        }
      }
    },
    "GoogleCloudBillingPricesV1betaAggregationInfo": {
      "id": "GoogleCloudBillingPricesV1betaAggregationInfo",
      "description": "Encapsulates the aggregation information such as aggregation level and interval for a price.",
      "properties": {
        "level": {
          "description": "Level at which usage is aggregated to compute cost. Example: \"ACCOUNT\" level indicates that usage is aggregated across all projects in a single account.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "Usage is aggregated at an account level.",
            "Usage is aggregated at a project level."
          ],
          "enum": [
            "LEVEL_UNSPECIFIED",
            "LEVEL_ACCOUNT",
            "LEVEL_PROJECT"
          ]
        },
        "interval": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "Usage is aggregated every month.",
            "Usage is aggregated every day."
          ],
          "enum": [
            "INTERVAL_UNSPECIFIED",
            "INTERVAL_MONTHLY",
            "INTERVAL_DAILY"
          ],
          "description": "Interval at which usage is aggregated to compute cost. Example: \"MONTHLY\" interval indicates that usage is aggregated every month."
        }
      },
      "type": "object"
    },
    "Row": {
      "type": "object",
      "id": "Row",
      "description": "Represents a row in the query result.",
      "properties": {
        "values": {
          "description": "Values for a row in the column order.",
          "items": {
            "$ref": "ValueProto"
          },
          "type": "array"
        }
      }
    },
    "Decimal": {
      "type": "object",
      "id": "Decimal",
      "description": "A representation of a decimal value, such as 2.5. Clients may convert values into language-native decimal formats, such as Java's [BigDecimal](https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/math/BigDecimal.html) or Python's [decimal.Decimal](https://docs.python.org/3/library/decimal.html).",
      "properties": {
        "value": {
          "description": "The decimal value, as a string. The string representation consists of an optional sign, `+` (`U+002B`) or `-` (`U+002D`), followed by a sequence of zero or more decimal digits (\"the integer\"), optionally followed by a fraction, optionally followed by an exponent. An empty string **should** be interpreted as `0`. The fraction consists of a decimal point followed by zero or more decimal digits. The string must contain at least one digit in either the integer or the fraction. The number formed by the sign, the integer and the fraction is referred to as the significand. The exponent consists of the character `e` (`U+0065`) or `E` (`U+0045`) followed by one or more decimal digits. Services **should** normalize decimal values before storing them by: - Removing an explicitly-provided `+` sign (`+2.5` -> `2.5`). - Replacing a zero-length integer value with `0` (`.5` -> `0.5`). - Coercing the exponent character to upper-case, with explicit sign (`2.5e8` -> `2.5E+8`). - Removing an explicitly-provided zero exponent (`2.5E0` -> `2.5`). Services **may** perform additional normalization based on its own needs and the internal decimal implementation selected, such as shifting the decimal point and exponent value together (example: `2.5E-1` <-> `0.25`). Additionally, services **may** preserve trailing zeroes in the fraction to indicate increased precision, but are not required to do so. Note that only the `.` character is supported to divide the integer and the fraction; `,` **should not** be supported regardless of locale. Additionally, thousand separators **should not** be supported. If a service does support them, values **must** be normalized. The ENBF grammar is: DecimalString = '' | [Sign] Significand [Exponent]; Sign = '+' | '-'; Significand = Digits '.' | [Digits] '.' Digits; Exponent = ('e' | 'E') [Sign] Digits; Digits = { '0' | '1' | '2' | '3' | '4' | '5' | '6' | '7' | '8' | '9' }; Services **should** clearly document the range of supported values, the maximum supported precision (total number of digits), and, if applicable, the scale (number of digits after the decimal point), as well as how it behaves when receiving out-of-bounds values. Services **may** choose to accept values passed as input even when the value has a higher precision or scale than the service supports, and **should** round the value to fit the supported scale. Alternatively, the service **may** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if precision would be lost. Services **should** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if the service receives a value outside of the supported range.",
          "type": "string"
        }
      }
    },
    "GoogleCloudBillingBillingaccountpricesV1betaFloatingDiscount": {
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaFloatingDiscount",
      "description": "Encapsulates a discount off the current list price, not anchored to any list price as of a fixed time.",
      "properties": {
        "discountPercent": {
          "description": "Percentage of the floating discount.",
          "$ref": "Decimal"
        },
        "discountScopeType": {
          "type": "string",
          "description": "Type of the floating discount scope which indicates the source of the discount. It can have values such as 'unspecified' and 'sku-group'."
        },
        "skuGroup": {
          "description": "SKU group where the floating discount comes from.",
          "type": "string"
        }
      }
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaTaxonomyCategory": {
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaTaxonomyCategory",
      "description": "Encapsulates a product category.",
      "properties": {
        "category": {
          "type": "string",
          "description": "Name of the product category."
        }
      },
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyMultiRegional": {
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyMultiRegional",
      "description": "Encapsulates a multi-regional geographic taxonomy.",
      "properties": {
        "regions": {
          "description": "Google Cloud regions associated with the multi-regional geographic taxonomy.",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegion"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountskusV1betaBillingAccountSku": {
      "id": "GoogleCloudBillingBillingaccountskusV1betaBillingAccountSku",
      "description": "Encapsulates a stock keeping unit (SKU) visible to a billing account. A SKU distinctly identifies a resource that you can purchase. For a list of available SKUs, see [SKUs](https://cloud.google.com/skus).",
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name for the BillingAccountSku. Example: \"billingAccounts/012345-567890-ABCDEF/skus/AA95-CD31-42FE\"."
        },
        "productTaxonomy": {
          "description": "List of product categories that apply to the BillingAccountSku.",
          "$ref": "GoogleCloudBillingBillingaccountskusV1betaProductTaxonomy"
        },
        "geoTaxonomy": {
          "description": "Geographic metadata that applies to the BillingAccountSku.",
          "$ref": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomy"
        },
        "skuId": {
          "type": "string",
          "description": "Unique identifier for the SKU. It is the string after the collection identifier \"skus/\" Example: \"AA95-CD31-42FE\"."
        },
        "displayName": {
          "description": "Description of the BillingAccountSku. Example: \"A2 Instance Core running in Hong Kong\".",
          "type": "string"
        },
        "billingAccountService": {
          "type": "string",
          "description": "BillingAccountService that the BillingAccountSku belongs to."
        }
      },
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountskusV1betaTaxonomyCategory": {
      "id": "GoogleCloudBillingBillingaccountskusV1betaTaxonomyCategory",
      "description": "Encapsulates a product category.",
      "properties": {
        "category": {
          "type": "string",
          "description": "Name of the product category."
        }
      },
      "type": "object"
    },
    "MapEntry": {
      "type": "object",
      "id": "MapEntry",
      "description": "A single entry in a Map, representing the mapping between `key` and `value`.",
      "properties": {
        "key": {
          "description": "Represents the serialized map key for the entry.",
          "$ref": "ValueProto"
        },
        "value": {
          "description": "Represents the serialized map value of the entry.",
          "$ref": "ValueProto"
        }
      }
    },
    "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomy": {
      "id": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomy",
      "description": "Encapsulates geographic metadata, such as regions and multi-regions like `us-east4` or `European Union`.",
      "properties": {
        "regionalMetadata": {
          "description": "Regional geographic metadata with 1 region.",
          "$ref": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegional"
        },
        "globalMetadata": {
          "description": "Global geographic metadata with no regions.",
          "$ref": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyGlobal"
        },
        "multiRegionalMetadata": {
          "description": "Multi-regional geographic metadata with 2 or more regions.",
          "$ref": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyMultiRegional"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Default value. Unspecified type.",
            "Global geographic taxonomy with no regions.",
            "Regional geographic taxonomy with 1 region.",
            "Multi-regional geographic taxonomy with 2 or more regions."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_GLOBAL",
            "TYPE_REGIONAL",
            "TYPE_MULTI_REGIONAL"
          ],
          "description": "Type of geographic taxonomy associated with the billing account SKU."
        }
      },
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountpricesV1betaBillingAccountPrice": {
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaBillingAccountPrice",
      "description": "Encapsulates the latest price for a billing account SKU.",
      "properties": {
        "rate": {
          "description": "Rate price metadata. Billing account SKUs with `Rate` price are offered by pricing tiers. The price can have 1 or more rate pricing tiers.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaRate"
        },
        "currencyCode": {
          "type": "string",
          "description": "ISO-4217 currency code for the price."
        },
        "priceReason": {
          "description": "Background information on the origin of the price.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaPriceReason"
        },
        "name": {
          "type": "string",
          "description": "Resource name for the latest billing account price."
        },
        "valueType": {
          "type": "string",
          "description": "Type of the price. The possible values are: [\"unspecified\", \"rate\"]."
        }
      }
    },
    "GoogleCloudBillingBillingaccountpricesV1betaMergedPrice": {
      "id": "GoogleCloudBillingBillingaccountpricesV1betaMergedPrice",
      "description": "Encapsulates a price after merging from multiple sources. With merged tiers, each individual tier can be from a different source with different discount types.",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaBillingAccountSkuGroupSku": {
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaBillingAccountSkuGroupSku",
      "description": "Encapsulates a SKU that is part of a billing account SKU group.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name for the BillingAccountSkuGroupSku. Example: \"billingAccounts/012345-567890-ABCDEF/skuGroups/0e6403d1-4694-44d2-a696-7a78b1a69301/skus/AA95-CD31-42FE\"."
        },
        "productTaxonomy": {
          "description": "List of product categories that apply to the BillingAccountSkuGroupSku.",
          "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaProductTaxonomy"
        },
        "geoTaxonomy": {
          "description": "Geographic metadata that applies to the BillingAccountSkuGroupSku.",
          "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomy"
        },
        "skuId": {
          "type": "string",
          "description": "Unique identifier for the SKU. It is the string after the collection identifier \"skus/\" Example: \"AA95-CD31-42FE\"."
        },
        "displayName": {
          "type": "string",
          "description": "Description of the BillingAccountSkuGroupSku. Example: \"A2 Instance Core running in Hong Kong\"."
        },
        "billingAccountService": {
          "type": "string",
          "description": "BillingAccountService that the BillingAccountSkuGroupSku belongs to."
        }
      },
      "type": "object"
    },
    "GenerateInsightsResponse": {
      "id": "GenerateInsightsResponse",
      "description": "Response for GenerateInsights.",
      "properties": {
        "summaryChunk": {
          "description": "Output only. A chunk of the natural language summary (customer-facing). The UI can append these chunks to provide a real-time \"typing\" effect.",
          "readOnly": true,
          "type": "string"
        },
        "rejection": {
          "description": "Output only. The request was rejected (e.g. out of scope).",
          "readOnly": true,
          "$ref": "Rejection"
        },
        "thoughtChunk": {
          "type": "string",
          "description": "Output only. A chunk of the agent's internal reasoning process. The UI can use this to render a \"Thinking...\" log or status.",
          "readOnly": true
        },
        "finalResult": {
          "$ref": "FinalResult",
          "description": "Output only. The final structured results and metadata. Usually sent as the final message in the stream.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomy": {
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomy",
      "description": "Encapsulates geographic metadata, such as regions and multi-regions like `us-east4` or `European Union`.",
      "properties": {
        "type": {
          "description": "Type of geographic taxonomy associated with the billing account SKU group SKU.",
          "type": "string",
          "enumDescriptions": [
            "Default value. Unspecified type.",
            "Global geographic taxonomy with no regions.",
            "Regional geographic taxonomy with 1 region.",
            "Multi-regional geographic taxonomy with 2 or more regions."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_GLOBAL",
            "TYPE_REGIONAL",
            "TYPE_MULTI_REGIONAL"
          ]
        },
        "regionalMetadata": {
          "description": "Regional geographic metadata with 1 region.",
          "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegional"
        },
        "globalMetadata": {
          "description": "Global geographic metadata with no regions.",
          "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyGlobal"
        },
        "multiRegionalMetadata": {
          "description": "Multi-regional geographic metadata with 2 or more regions.",
          "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyMultiRegional"
        }
      }
    },
    "BillingDataResource": {
      "type": "object",
      "id": "BillingDataResource",
      "description": "Specifies a Billing data resource that can be used for authorization to access billing data.",
      "properties": {
        "billingAccount": {
          "type": "string",
          "description": "Optional. If not provided the billing account currently associated with the resource will be used."
        },
        "resource": {
          "description": "Required. Resource name for an entitity that can be used for authorization to access billing data such as `projects/{project}` or `billingAccounts/{billing_account}`",
          "type": "string"
        }
      }
    },
    "GoogleCloudBillingSkugroupsV1betaListSkuGroupsResponse": {
      "id": "GoogleCloudBillingSkugroupsV1betaListSkuGroupsResponse",
      "description": "Response message for ListSkuGroups.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages."
        },
        "skuGroups": {
          "type": "array",
          "description": "The returned publicly listed SKU groups.",
          "items": {
            "$ref": "GoogleCloudBillingSkugroupsV1betaSkuGroup"
          }
        }
      },
      "type": "object"
    },
    "Struct": {
      "id": "Struct",
      "description": "A collection of fields. The count, order, and type of the fields is determined by the type associated with this value.",
      "properties": {
        "field": {
          "type": "array",
          "description": "The fields in the struct",
          "items": {
            "$ref": "ValueProto"
          }
        }
      },
      "type": "object"
    },
    "Rejection": {
      "type": "object",
      "id": "Rejection",
      "description": "Encapsulates details about why a request was rejected.",
      "properties": {
        "reason": {
          "enum": [
            "REASON_UNSPECIFIED",
            "EXPLICIT_OUT_OF_SCOPE"
          ],
          "description": "Output only. The reason for the rejection.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default value. Should not be used.",
            "The user explicitly asked about a service that is not Gemini or Vertex AI."
          ]
        },
        "displayMessage": {
          "type": "string",
          "description": "Output only. A user-facing message explaining the rejection.",
          "readOnly": true
        }
      }
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegional": {
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegional",
      "description": "Encapsulates a regional geographic taxonomy.",
      "properties": {
        "region": {
          "description": "Google Cloud region associated with the regional geographic taxonomy.",
          "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegion"
        }
      },
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountpricesV1betaListBillingAccountPricesResponse": {
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaListBillingAccountPricesResponse",
      "description": "Response message for ListBillingAccountPrices.",
      "properties": {
        "billingAccountPrices": {
          "type": "array",
          "description": "The returned billing account prices.",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountpricesV1betaBillingAccountPrice"
          }
        },
        "nextPageToken": {
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleCloudBillingBillingaccountpricesV1betaDefaultPrice": {
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaDefaultPrice",
      "description": "Encapsulates a default price which is the current list price.",
      "properties": {}
    },
    "GoogleCloudBillingBillingaccountskugroupsV1betaListBillingAccountSkuGroupsResponse": {
      "id": "GoogleCloudBillingBillingaccountskugroupsV1betaListBillingAccountSkuGroupsResponse",
      "description": "Response message for ListBillingAccountSkuGroups.",
      "properties": {
        "billingAccountSkuGroups": {
          "description": "The returned publicly listed billing account SKU groups.",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskugroupsV1betaBillingAccountSkuGroup"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages."
        }
      },
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountservicesV1betaListBillingAccountServicesResponse": {
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountservicesV1betaListBillingAccountServicesResponse",
      "description": "Response message for ListBillingAccountServices.",
      "properties": {
        "billingAccountServices": {
          "type": "array",
          "description": "The returned billing account services.",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountservicesV1betaBillingAccountService"
          }
        },
        "nextPageToken": {
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegional": {
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegional",
      "description": "Encapsulates a regional geographic taxonomy.",
      "properties": {
        "region": {
          "description": "Google Cloud region associated with the regional geographic taxonomy.",
          "$ref": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegion"
        }
      }
    },
    "GoogleCloudBillingPricesV1betaListPricesResponse": {
      "id": "GoogleCloudBillingPricesV1betaListPricesResponse",
      "description": "Response message for ListPrices.",
      "properties": {
        "prices": {
          "type": "array",
          "description": "The returned publicly listed prices.",
          "items": {
            "$ref": "GoogleCloudBillingPricesV1betaPrice"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages."
        }
      },
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountservicesV1betaBillingAccountService": {
      "id": "GoogleCloudBillingBillingaccountservicesV1betaBillingAccountService",
      "description": "Encapsulates a Google Cloud service visible to a billing account.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name for the BillingAccountService. Example: \"billingAccounts/012345-567890-ABCDEF/services/DA34-426B-A397\"."
        },
        "serviceId": {
          "description": "Identifier for the service. It is the string after the collection identifier \"services/\". Example: \"DA34-426B-A397\".",
          "type": "string"
        },
        "displayName": {
          "description": "Description of the BillingAccountService. Example: \"BigQuery\", \"Compute Engine\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountskusV1betaListBillingAccountSkusResponse": {
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountskusV1betaListBillingAccountSkusResponse",
      "description": "Response message for ListBillingAccountSkus.",
      "properties": {
        "billingAccountSkus": {
          "type": "array",
          "description": "The returned billing account SKUs.",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskusV1betaBillingAccountSku"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages."
        }
      }
    },
    "SuggestedQuery": {
      "id": "SuggestedQuery",
      "description": "A suggested follow-up query for the user.",
      "properties": {
        "query": {
          "type": "string",
          "description": "The natural language query."
        }
      },
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountskusV1betaProductTaxonomy": {
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountskusV1betaProductTaxonomy",
      "description": "Encapsulates product categories, such as `Serverless`, `Cloud Run`, `TaskQueue`, and others.",
      "properties": {
        "taxonomyCategories": {
          "description": "All product categories that the billing account SKU belong to.",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskusV1betaTaxonomyCategory"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyGlobal": {
      "id": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyGlobal",
      "description": "Encapsulates a global geographic taxonomy.",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyMultiRegional": {
      "id": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyMultiRegional",
      "description": "Encapsulates a multi-regional geographic taxonomy.",
      "properties": {
        "regions": {
          "type": "array",
          "description": "Google Cloud regions associated with the multi-regional geographic taxonomy.",
          "items": {
            "$ref": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegion"
          }
        }
      },
      "type": "object"
    },
    "BillingData": {
      "type": "object",
      "id": "BillingData",
      "description": "Encapsulates billing data.",
      "properties": {
        "rows": {
          "type": "array",
          "description": "Rows.",
          "items": {
            "$ref": "Row"
          }
        },
        "columnInfo": {
          "type": "array",
          "description": "Information about columns.",
          "items": {
            "$ref": "ColumnInfo"
          }
        }
      }
    },
    "Datetime": {
      "type": "object",
      "id": "Datetime",
      "description": "A datetime value.",
      "properties": {
        "bitFieldDatetimeSeconds": {
          "description": "Represents bit field encoding of year/month/day/hour/minute/second. See class DatetimeValue in civil_time.h for details of encoding.",
          "type": "string",
          "format": "int64"
        },
        "nanos": {
          "description": "Non-negative fractions of a second at nanosecond resolution.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudBillingSkugroupsV1betaSkuGroup": {
      "id": "GoogleCloudBillingSkugroupsV1betaSkuGroup",
      "description": "Encapsulates a publicly listed stock keeping unit (SKU) group. A SKU group represents a collection of SKUs that are related to each other. For example, the `AI Platform APIs` SKU group includes SKUs from the Cloud Dialogflow API, the Cloud Text-to-Speech API, and additional related APIs.",
      "properties": {
        "name": {
          "description": "Resource name for the SKU group. Example: \"skuGroups/0e6403d1-4694-44d2-a696-7a78b1a69301\".",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Description of the SKU group. Example: \"A2 VMs (1 Year CUD)\"."
        }
      },
      "type": "object"
    },
    "Map": {
      "type": "object",
      "id": "Map",
      "description": "An unordered mapping from key to value, represented as a collection of map entries.",
      "properties": {
        "entry": {
          "type": "array",
          "description": "Represents the map entries in the map.",
          "items": {
            "$ref": "MapEntry"
          }
        }
      }
    },
    "GoogleCloudBillingBillingaccountpricesV1betaAggregationInfo": {
      "id": "GoogleCloudBillingBillingaccountpricesV1betaAggregationInfo",
      "description": "Encapsulates the aggregation information such as aggregation level and interval for a billing account price.",
      "properties": {
        "level": {
          "description": "Level at which usage is aggregated to compute cost. Example: \"ACCOUNT\" level indicates that usage is aggregated across all projects in a single account.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "Usage is aggregated at an account level.",
            "Usage is aggregated at a project level."
          ],
          "enum": [
            "LEVEL_UNSPECIFIED",
            "LEVEL_ACCOUNT",
            "LEVEL_PROJECT"
          ]
        },
        "interval": {
          "description": "Interval at which usage is aggregated to compute cost. Example: \"MONTHLY\" interval indicates that usage is aggregated every month.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "Usage is aggregated every month.",
            "Usage is aggregated every day."
          ],
          "enum": [
            "INTERVAL_UNSPECIFIED",
            "INTERVAL_MONTHLY",
            "INTERVAL_DAILY"
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountpricesV1betaFixedPrice": {
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaFixedPrice",
      "description": "Encapsulates a set fixed price applicable during the terms of a contract agreement.",
      "properties": {}
    },
    "InteropLink": {
      "id": "InteropLink",
      "description": "A link to interoperable tools (e.g., pre-filtered Cost Reports, BQE queries).",
      "properties": {
        "label": {
          "type": "string",
          "description": "Output only. The label of the link, suitable for UI rendering.",
          "readOnly": true
        },
        "url": {
          "description": "Output only. The URL of the link.",
          "readOnly": true,
          "type": "string"
        },
        "linkType": {
          "enum": [
            "LINK_TYPE_UNSPECIFIED",
            "COST_REPORT",
            "BQE_QUERY",
            "FINOPS_HUB"
          ],
          "description": "Output only. The type of the interop link, e.g., \"COST_REPORT\", \"BQE_QUERY\", etc.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default value. Should not be used.",
            "A link to a Cost Report in Google Cloud Console.",
            "A link to a BigQuery Export query.",
            "A link to a FinOps Hub page."
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudBillingSkugroupskusV1betaSkuGroupSku": {
      "type": "object",
      "id": "GoogleCloudBillingSkugroupskusV1betaSkuGroupSku",
      "description": "Encapsulates a publicly listed stock keeping unit (SKU) that is part of a publicly listed SKU group. A SKU group represents a collection of SKUs that are related to each other. For example, the `AI Platform APIs` SKU group includes SKUs from the Cloud Dialogflow API, the Cloud Text-to-Speech API, and additional related APIs.",
      "properties": {
        "service": {
          "description": "Service that the SkuGroupSku belongs to.",
          "type": "string"
        },
        "skuId": {
          "description": "Unique identifier for the SKU. It is the string after the collection identifier \"skus/\" Example: \"AA95-CD31-42FE\".",
          "type": "string"
        },
        "displayName": {
          "description": "Description of the SkuGroupSku. Example: \"A2 Instance Core running in Hong Kong\".",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Resource name for the SkuGroupSku. Example: \"skuGroups/0e6403d1-4694-44d2-a696-7a78b1a69301/skus/AA95-CD31-42FE\"."
        },
        "productTaxonomy": {
          "description": "List of product categories that apply to the SkuGroupSku.",
          "$ref": "GoogleCloudBillingSkugroupskusV1betaProductTaxonomy"
        },
        "geoTaxonomy": {
          "description": "Geographic metadata that applies to the SkuGroupSku.",
          "$ref": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomy"
        }
      }
    },
    "GoogleCloudBillingBillingaccountpricesV1betaListPriceAsCeiling": {
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaListPriceAsCeiling",
      "description": "Encapsulates a contract feature that the list price (DefaultPrice) will be used for the price if the current list price drops lower than the custom fixed price. Available to new contracts after March 21, 2022. Applies to all fixed price SKUs in the contract, including FixedPrice, FixedDiscount, MigratedPrice, and MergedPrice.",
      "properties": {}
    },
    "GoogleCloudBillingPricesV1betaRate": {
      "id": "GoogleCloudBillingPricesV1betaRate",
      "description": "Encapsulates a `Rate` price. SKUs with `Rate` price are offered by pricing tiers. The price have 1 or more rate pricing tiers.",
      "properties": {
        "tiers": {
          "type": "array",
          "description": "All tiers associated with the `Rate` price.",
          "items": {
            "$ref": "GoogleCloudBillingPricesV1betaRateTier"
          }
        },
        "unitInfo": {
          "description": "Unit info such as name and quantity.",
          "$ref": "GoogleCloudBillingPricesV1betaUnitInfo"
        },
        "aggregationInfo": {
          "description": "Aggregation info for tiers such as aggregation level and interval.",
          "$ref": "GoogleCloudBillingPricesV1betaAggregationInfo"
        }
      },
      "type": "object"
    },
    "GoogleCloudBillingSkugroupskusV1betaProductTaxonomy": {
      "type": "object",
      "id": "GoogleCloudBillingSkugroupskusV1betaProductTaxonomy",
      "description": "Encapsulates product categories, such as `Serverless`, `Cloud Run`, `TaskQueue`, and others.",
      "properties": {
        "taxonomyCategories": {
          "description": "All product categories that the SKU group SKU belongs to.",
          "items": {
            "$ref": "GoogleCloudBillingSkugroupskusV1betaTaxonomyCategory"
          },
          "type": "array"
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "resources": {
    "billingAccounts": {
      "resources": {
        "services": {
          "methods": {
            "list": {
              "path": "v1beta/{+parent}/services",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudBillingBillingaccountservicesV1betaListBillingAccountServicesResponse"
              },
              "id": "cloudbilling.billingAccounts.services.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1beta/billingAccounts/{billingAccountsId}/services",
              "description": "Lists services visible to a billing account.",
              "parameters": {
                "parent": {
                  "pattern": "^billingAccounts/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The billing account to list billing account service from. Format: billingAccounts/{billing_account}"
                },
                "pageSize": {
                  "description": "Maximum number of billing account service to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Page token received from a previous ListBillingAccountServices call to retrieve the next page of results. If this field is empty, the first page is returned."
                }
              }
            },
            "get": {
              "parameters": {
                "name": {
                  "pattern": "^billingAccounts/[^/]+/services/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the billing account service to retrieve. Format: billingAccounts/{billing_account}/services/{service}",
                  "required": true
                }
              },
              "description": "Gets a Google Cloud service visible to a billing account.",
              "flatPath": "v1beta/billingAccounts/{billingAccountsId}/services/{servicesId}",
              "id": "cloudbilling.billingAccounts.services.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}",
              "response": {
                "$ref": "GoogleCloudBillingBillingaccountservicesV1betaBillingAccountService"
              },
              "httpMethod": "GET"
            }
          }
        },
        "skus": {
          "methods": {
            "get": {
              "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skus/{skusId}",
              "parameters": {
                "name": {
                  "pattern": "^billingAccounts/[^/]+/skus/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the billing account SKU to retrieve. Format: billingAccounts/{billing_account}/skus/{sku}"
                }
              },
              "description": "Gets a SKU visible to a billing account.",
              "response": {
                "$ref": "GoogleCloudBillingBillingaccountskusV1betaBillingAccountSku"
              },
              "httpMethod": "GET",
              "path": "v1beta/{+name}",
              "parameterOrder": [
                "name"
              ],
              "id": "cloudbilling.billingAccounts.skus.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Page token received from a previous ListBillingAccountSkus call to retrieve the next page of results. If this field is empty, the first page is returned."
                },
                "parent": {
                  "pattern": "^billingAccounts/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The billing account to list billing account SKU from. Format: billingAccounts/{billing_account}"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Options for how to filter the billing account SKUs. Currently, only filter on `billing_account_service` is supported. Only !=, = operators are supported. Examples: - billing_account_service = \"billingAccounts/012345-567890-ABCDEF/services/DA34-426B-A397\""
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Maximum number of billing account SKUs to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000."
                }
              },
              "description": "Lists SKUs visible to a billing account.",
              "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skus",
              "parameterOrder": [
                "parent"
              ],
              "id": "cloudbilling.billingAccounts.skus.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudBillingBillingaccountskusV1betaListBillingAccountSkusResponse"
              },
              "httpMethod": "GET",
              "path": "v1beta/{+parent}/skus"
            }
          },
          "resources": {
            "price": {
              "methods": {
                "get": {
                  "description": "Gets the latest price for SKUs available to your Cloud Billing account.",
                  "parameters": {
                    "name": {
                      "pattern": "^billingAccounts/[^/]+/skus/[^/]+/price$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. Name of the billing account price to retrieve. Format: billingAccounts/{billing_account}/skus/{sku}/price"
                    },
                    "currencyCode": {
                      "description": "Optional. ISO-4217 currency code for the price. If not specified, the currency of the billing account is used.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skus/{skusId}/price",
                  "id": "cloudbilling.billingAccounts.skus.price.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-billing",
                    "https://www.googleapis.com/auth/cloud-billing.readonly",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta/{+name}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudBillingBillingaccountpricesV1betaBillingAccountPrice"
                  }
                }
              }
            },
            "prices": {
              "methods": {
                "list": {
                  "parameters": {
                    "pageToken": {
                      "description": "Optional. Page token received from a previous ListBillingAccountPrices call to retrieve the next page of results. If this field is empty, the first page is returned.",
                      "location": "query",
                      "type": "string"
                    },
                    "currencyCode": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. ISO-4217 currency code for the price. If not specified, currency of billing account will be used."
                    },
                    "parent": {
                      "pattern": "^billingAccounts/[^/]+/skus/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. To list all Billing Account SKUs, use `-` as the SKU ID. Format: `billingAccounts/{billing_account}/skus/-` Note: Specifying an actual SKU resource id will return a collection of one Billing Account Price.",
                      "required": true
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. Maximum number of billing account price to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000."
                    }
                  },
                  "description": "Lists the latest prices for SKUs available to your Cloud Billing account.",
                  "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skus/{skusId}/prices",
                  "id": "cloudbilling.billingAccounts.skus.prices.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-billing",
                    "https://www.googleapis.com/auth/cloud-billing.readonly",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1beta/{+parent}/prices",
                  "response": {
                    "$ref": "GoogleCloudBillingBillingaccountpricesV1betaListBillingAccountPricesResponse"
                  },
                  "httpMethod": "GET"
                }
              }
            }
          }
        },
        "skuGroups": {
          "resources": {
            "skus": {
              "methods": {
                "list": {
                  "description": "Lists SKUs that is part of billing account SKU groups.",
                  "parameters": {
                    "pageSize": {
                      "description": "Maximum number of billing account SKU group SKUs to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "parent": {
                      "pattern": "^billingAccounts/[^/]+/skuGroups/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The billing account SKU group to list billing account SKU group SKUs from. Format: billingAccounts/{billing_account}/skuGroups/{sku_group}"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Page token received from a previous ListBillingAccountSkuGroupSkus call to retrieve the next page of results. If this field is empty, the first page is returned."
                    }
                  },
                  "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skuGroups/{skuGroupsId}/skus",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "cloudbilling.billingAccounts.skuGroups.skus.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-billing",
                    "https://www.googleapis.com/auth/cloud-billing.readonly",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaListBillingAccountSkuGroupSkusResponse"
                  },
                  "path": "v1beta/{+parent}/skus"
                },
                "get": {
                  "path": "v1beta/{+name}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaBillingAccountSkuGroupSku"
                  },
                  "id": "cloudbilling.billingAccounts.skuGroups.skus.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-billing",
                    "https://www.googleapis.com/auth/cloud-billing.readonly",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skuGroups/{skuGroupsId}/skus/{skusId}",
                  "description": "Gets a SKU that is part of a billing account SKU group.",
                  "parameters": {
                    "name": {
                      "pattern": "^billingAccounts/[^/]+/skuGroups/[^/]+/skus/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the billing account SKU group SKU to retrieve. Format: billingAccounts/{billing_account}/skuGroups/{sku_group}/skus/{sku}",
                      "required": true
                    }
                  }
                }
              }
            }
          },
          "methods": {
            "get": {
              "path": "v1beta/{+name}",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudBillingBillingaccountskugroupsV1betaBillingAccountSkuGroup"
              },
              "id": "cloudbilling.billingAccounts.skuGroups.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skuGroups/{skuGroupsId}",
              "description": "Gets a SKU group visible to a billing account.",
              "parameters": {
                "name": {
                  "description": "Required. The name of the BillingAccountSkuGroup to retrieve. Format: billingAccounts/{billing_account}/skuGroups/{sku_group}",
                  "required": true,
                  "pattern": "^billingAccounts/[^/]+/skuGroups/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              }
            },
            "list": {
              "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skuGroups",
              "parameters": {
                "parent": {
                  "pattern": "^billingAccounts/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The billing account to list billing account SKU groups from. Format: billingAccounts/{billing_account}"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Maximum number of billing account SKU groups to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000."
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Page token received from a previous ListBillingAccountSkuGroups call to retrieve the next page of results. If this field is empty, the first page is returned."
                }
              },
              "description": "Lists SKU groups visible to a billing account.",
              "path": "v1beta/{+parent}/skuGroups",
              "response": {
                "$ref": "GoogleCloudBillingBillingaccountskugroupsV1betaListBillingAccountSkuGroupsResponse"
              },
              "httpMethod": "GET",
              "id": "cloudbilling.billingAccounts.skuGroups.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ]
            }
          }
        }
      }
    },
    "skus": {
      "resources": {
        "prices": {
          "methods": {
            "list": {
              "description": "Lists the latest prices for all SKUs.",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Page token received from a previous ListPrices call to retrieve the next page of results. If this field is empty, the first page is returned."
                },
                "currencyCode": {
                  "description": "Optional. ISO-4217 currency code for the price. If not specified, USD will be used.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. To list the prices for all SKUs, use `-` as the SKU ID. Format: `skus/-` Specifying a specific SKU ID returns a collection with one Price object for the SKU.",
                  "required": true,
                  "pattern": "^skus/[^/]+$",
                  "location": "path",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. Maximum number of prices to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000."
                }
              },
              "flatPath": "v1beta/skus/{skusId}/prices",
              "id": "cloudbilling.skus.prices.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "path": "v1beta/{+parent}/prices",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudBillingPricesV1betaListPricesResponse"
              }
            }
          }
        },
        "price": {
          "methods": {
            "get": {
              "flatPath": "v1beta/skus/{skusId}/price",
              "description": "Gets the latest price for the given SKU.",
              "parameters": {
                "name": {
                  "description": "Required. Name of the latest price to retrieve. Format: skus/{sku}/price",
                  "required": true,
                  "pattern": "^skus/[^/]+/price$",
                  "location": "path",
                  "type": "string"
                },
                "currencyCode": {
                  "description": "Optional. ISO-4217 currency code for the price. If not specified, USD will be used.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1beta/{+name}",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudBillingPricesV1betaPrice"
              },
              "id": "cloudbilling.skus.price.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ]
            }
          }
        }
      }
    },
    "skuGroups": {
      "resources": {
        "skus": {
          "methods": {
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "id": "cloudbilling.skuGroups.skus.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudBillingSkugroupskusV1betaListSkuGroupSkusResponse"
              },
              "path": "v1beta/{+parent}/skus",
              "description": "Lists all publicly listed SKUs contained by a publicly listed SKU group.",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Page token received from a previous ListSkuGroupSkus call to retrieve the next page of results. If this field is empty, the first page is returned."
                },
                "parent": {
                  "pattern": "^skuGroups/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The SkuGroup to list SkuGroupSku from. Format: skuGroups/{sku_group}"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Maximum number of SKU group SKUs to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000."
                }
              },
              "flatPath": "v1beta/skuGroups/{skuGroupsId}/skus"
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "id": "cloudbilling.skuGroups.skus.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudBillingSkugroupskusV1betaSkuGroupSku"
              },
              "path": "v1beta/{+name}",
              "description": "Gets a publicly listed SKU that is part of a publicly listed SKU group.",
              "parameters": {
                "name": {
                  "description": "Required. The name of the SKU group SKU to retrieve. Format: skuGroups/{sku_group}/skus/{sku}",
                  "required": true,
                  "pattern": "^skuGroups/[^/]+/skus/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "flatPath": "v1beta/skuGroups/{skuGroupsId}/skus/{skusId}"
            }
          }
        }
      },
      "methods": {
        "get": {
          "path": "v1beta/{+name}",
          "httpMethod": "GET",
          "response": {
            "$ref": "GoogleCloudBillingSkugroupsV1betaSkuGroup"
          },
          "id": "cloudbilling.skuGroups.get",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-billing",
            "https://www.googleapis.com/auth/cloud-billing.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta/skuGroups/{skuGroupsId}",
          "description": "Gets a publicly listed SKU group.",
          "parameters": {
            "name": {
              "required": true,
              "description": "Required. The name of the SKU group to retrieve. Format: skuGroups/{sku_group}",
              "pattern": "^skuGroups/[^/]+$",
              "location": "path",
              "type": "string"
            }
          }
        },
        "list": {
          "parameterOrder": [],
          "id": "cloudbilling.skuGroups.list",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-billing",
            "https://www.googleapis.com/auth/cloud-billing.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "GoogleCloudBillingSkugroupsV1betaListSkuGroupsResponse"
          },
          "path": "v1beta/skuGroups",
          "description": "Lists all publicly listed SKU groups.",
          "parameters": {
            "pageToken": {
              "description": "Page token received from a previous ListSkuGroups call to retrieve the next page of results. If this field is empty, the first page is returned.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Maximum number of SKU groups to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000."
            }
          },
          "flatPath": "v1beta/skuGroups"
        }
      }
    },
    "v1beta": {
      "methods": {
        "generateInsights": {
          "path": "v1beta:generateInsights",
          "response": {
            "$ref": "GenerateInsightsResponse"
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "GenerateInsightsRequest"
          },
          "id": "cloudbilling.generateInsights",
          "scopes": [
[...]
