{
  "ownerName": "Google",
  "revision": "20260706",
  "documentationLink": "https://cloud.google.com/identity/",
  "name": "cloudidentity",
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "batchPath": "batch",
  "description": "API for provisioning and managing identity resources.",
  "discoveryVersion": "v1",
  "title": "Cloud Identity API",
  "version": "v1beta1",
  "resources": {
    "devices": {
      "methods": {
        "create": {
          "request": {
            "$ref": "CreateDeviceRequest"
          },
          "flatPath": "v1beta1/devices",
          "parameterOrder": [],
          "path": "v1beta1/devices",
          "description": "Creates a device. Only company-owned device may be created. **Note**: This method is available only to customers who have one of the following SKUs: Enterprise Standard, Enterprise Plus, Enterprise for Education, and Cloud Identity Premium",
          "id": "cloudidentity.devices.create",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.devices"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {}
        },
        "list": {
          "flatPath": "v1beta1/devices",
          "parameterOrder": [],
          "id": "cloudidentity.devices.list",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.devices",
            "https://www.googleapis.com/auth/cloud-identity.devices.readonly"
          ],
          "path": "v1beta1/devices",
          "description": "Lists/Searches devices.",
          "httpMethod": "GET",
          "response": {
            "$ref": "ListDevicesResponse"
          },
          "parameters": {
            "customer": {
              "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer.",
              "type": "string",
              "location": "query"
            },
            "pageSize": {
              "type": "integer",
              "description": "Optional. The maximum number of Devices to return. If unspecified, at most 20 Devices will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
              "format": "int32",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Optional. A page token, received from a previous `ListDevices` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListDevices` must match the call that provided the page token."
            },
            "orderBy": {
              "location": "query",
              "type": "string",
              "description": "Optional. Order specification for devices in the response. Only one of the following field names may be used to specify the order: `create_time`, `last_sync_time`, `model`, `os_version`, `device_type` and `serial_number`. `desc` may be specified optionally to specify results to be sorted in descending order. Default order is ascending."
            },
            "filter": {
              "location": "query",
              "type": "string",
              "description": "Optional. Additional restrictions when fetching list of devices. For a list of search fields, refer to [Mobile device search fields](https://developers.google.com/admin-sdk/directory/v1/search-operators). Multiple search fields are separated by the space character."
            },
            "view": {
              "description": "Optional. The view to use for the List request.",
              "type": "string",
              "enumDescriptions": [
                "Default value. The value is unused.",
                "This view contains all devices imported by the company admin. Each device in the response contains all information specified by the company admin when importing the device (i.e. asset tags).",
                "This view contains all devices with at least one user registered on the device. Each device in the response contains all device information, except for asset tags."
              ],
              "location": "query",
              "enum": [
                "VIEW_UNSPECIFIED",
                "COMPANY_INVENTORY",
                "USER_ASSIGNED_DEVICES"
              ]
            }
          }
        },
        "cancelWipe": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.devices"
          ],
          "id": "cloudidentity.devices.cancelWipe",
          "path": "v1beta1/{+name}:cancelWipe",
          "description": "Cancels an unfinished device wipe. This operation can be used to cancel device wipe in the gap between the wipe operation returning success and the device being wiped.",
          "flatPath": "v1beta1/devices/{devicesId}:cancelWipe",
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "CancelWipeDeviceRequest"
          },
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device_id}`, where device_id is the unique ID assigned to the Device.",
              "pattern": "^devices/[^/]+$"
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "POST"
        },
        "delete": {
          "flatPath": "v1beta1/devices/{devicesId}",
          "parameterOrder": [
            "name"
          ],
          "path": "v1beta1/{+name}",
          "description": "Deletes the specified device.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.devices"
          ],
          "id": "cloudidentity.devices.delete",
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "DELETE",
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device_id}`, where device_id is the unique ID assigned to the Device.",
              "pattern": "^devices/[^/]+$"
            },
            "customer": {
              "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer_id}`, where customer_id is the customer to whom the device belongs.",
              "type": "string",
              "location": "query"
            }
          }
        },
        "wipe": {
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device_id}/deviceUsers/{device_user_id}`, where device_id is the unique ID assigned to the Device, and device_user_id is the unique ID assigned to the User.",
              "pattern": "^devices/[^/]+$"
            }
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "Operation"
          },
          "path": "v1beta1/{+name}:wipe",
          "description": "Wipes all data on the specified device.",
          "id": "cloudidentity.devices.wipe",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.devices"
          ],
          "request": {
            "$ref": "WipeDeviceRequest"
          },
          "flatPath": "v1beta1/devices/{devicesId}:wipe",
          "parameterOrder": [
            "name"
          ]
        },
        "get": {
          "response": {
            "$ref": "Device"
          },
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "location": "path",
              "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device_id}`, where device_id is the unique ID assigned to the Device.",
              "pattern": "^devices/[^/]+$",
              "required": true,
              "type": "string"
            },
            "customer": {
              "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Customer in format: `customers/{customer_id}`, where customer_id is the customer to whom the device belongs.",
              "type": "string",
              "location": "query"
            }
          },
          "flatPath": "v1beta1/devices/{devicesId}",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.devices",
            "https://www.googleapis.com/auth/cloud-identity.devices.readonly"
          ],
          "id": "cloudidentity.devices.get",
          "path": "v1beta1/{+name}",
          "description": "Retrieves the specified device."
        }
      },
      "resources": {
        "deviceUsers": {
          "methods": {
            "lookup": {
              "path": "v1beta1/{+parent}:lookup",
              "description": "Looks up resource names of the DeviceUsers associated with the caller's credentials, as well as the properties provided in the request. This method must be called with end-user credentials with the scope: https://www.googleapis.com/auth/cloud-identity.devices.lookup If multiple properties are provided, only DeviceUsers having all of these properties are considered as matches - i.e. the query behaves like an AND. Different platforms require different amounts of information from the caller to ensure that the DeviceUser is uniquely identified. - iOS: If either the `partner` or `ios_device_id` field is provided, then both fields are required. - Android: Specifying the `android_id` field is required. - Desktop: Specifying the `raw_resource_id` field is required.",
              "id": "cloudidentity.devices.deviceUsers.lookup",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.devices.lookup"
              ],
              "flatPath": "v1beta1/devices/{devicesId}/deviceUsers:lookup",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "description": "The maximum number of DeviceUsers to return. If unspecified, at most 20 DeviceUsers will be returned. The maximum value is 20; values above 20 will be coerced to 20.",
                  "format": "int32",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "description": "A page token, received from a previous `LookupDeviceUsers` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `LookupDeviceUsers` must match the call that provided the page token.",
                  "location": "query"
                },
                "iosDeviceId": {
                  "location": "query",
                  "description": "Optional. The partner-specified device identifier assigned to the iOS device that initiated the Lookup API call. This string must match the value of the iosDeviceId key in the app config dictionary provided to Google Workspace apps.",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "description": "Must be set to \"devices/-/deviceUsers\" to search across all DeviceUser belonging to the user.",
                  "pattern": "^devices/[^/]+/deviceUsers$",
                  "location": "path"
                },
                "rawResourceId": {
                  "location": "query",
                  "description": "Raw Resource Id used by Google Endpoint Verification. If the user is enrolled into Google Endpoint Verification, this id will be saved as the 'device_resource_id' field in the following platform dependent files. Mac: ~/.secureConnect/context_aware_config.json Windows: C:\\Users\\%USERPROFILE%\\.secureConnect\\context_aware_config.json Linux: ~/.secureConnect/context_aware_config.json",
                  "type": "string"
                },
                "androidId": {
                  "type": "string",
                  "description": "Android Id returned by [Settings.Secure#ANDROID_ID](https://developer.android.com/reference/android/provider/Settings.Secure.html#ANDROID_ID).",
                  "location": "query"
                },
                "userId": {
                  "description": "The user whose DeviceUser's resource name will be fetched. Must be set to 'me' to fetch the DeviceUser's resource name for the calling user.",
                  "type": "string",
                  "location": "query"
                },
                "partner": {
                  "description": "Optional. The partner ID of the calling iOS app. This string must match the value of the partner key within the app configuration dictionary provided to Google Workspace apps.",
                  "type": "string",
                  "location": "query"
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "LookupSelfDeviceUsersResponse"
              }
            },
            "block": {
              "flatPath": "v1beta1/devices/{devicesId}/deviceUsers/{deviceUsersId}:block",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "BlockDeviceUserRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.devices"
              ],
              "id": "cloudidentity.devices.deviceUsers.block",
              "path": "v1beta1/{+name}:block",
              "description": "Blocks device from accessing user data",
              "response": {
                "$ref": "Operation"
              },
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device_id}/deviceUsers/{device_user_id}`, where device_id is the unique ID assigned to the Device, and device_user_id is the unique ID assigned to the User.",
                  "pattern": "^devices/[^/]+/deviceUsers/[^/]+$"
                }
              }
            },
            "list": {
              "response": {
                "$ref": "ListDeviceUsersResponse"
              },
              "httpMethod": "GET",
              "parameters": {
                "filter": {
                  "description": "Optional. Additional restrictions when fetching list of devices. For a list of search fields, refer to [Mobile device search fields](https://developers.google.com/admin-sdk/directory/v1/search-operators). Multiple search fields are separated by the space character.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. To list all DeviceUsers, set this to \"devices/-\". To list all DeviceUsers owned by a device, set this to the resource name of the device. Format: devices/{device}",
                  "pattern": "^devices/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "customer": {
                  "location": "query",
                  "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer_id}`, where customer_id is the customer to whom the device belongs.",
                  "type": "string"
                },
                "orderBy": {
                  "location": "query",
                  "description": "Optional. Order specification for devices in the response.",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of DeviceUsers to return. If unspecified, at most 5 DeviceUsers will be returned. The maximum value is 20; values above 20 will be coerced to 20.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListDeviceUsers` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListBooks` must match the call that provided the page token.",
                  "location": "query"
                }
              },
              "flatPath": "v1beta1/devices/{devicesId}/deviceUsers",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1beta1/{+parent}/deviceUsers",
              "description": "Lists/Searches DeviceUsers.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.devices",
                "https://www.googleapis.com/auth/cloud-identity.devices.readonly"
              ],
              "id": "cloudidentity.devices.deviceUsers.list"
            },
            "cancelWipe": {
              "request": {
                "$ref": "CancelWipeDeviceUserRequest"
              },
              "flatPath": "v1beta1/devices/{devicesId}/deviceUsers/{deviceUsersId}:cancelWipe",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta1/{+name}:cancelWipe",
              "description": "Cancels an unfinished user account wipe. This operation can be used to cancel device wipe in the gap between the wipe operation returning success and the device being wiped.",
              "id": "cloudidentity.devices.deviceUsers.cancelWipe",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.devices"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "Operation"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device_id}/deviceUsers/{device_user_id}`, where device_id is the unique ID assigned to the Device, and device_user_id is the unique ID assigned to the User.",
                  "pattern": "^devices/[^/]+/deviceUsers/[^/]+$"
                }
              }
            },
            "delete": {
              "id": "cloudidentity.devices.deviceUsers.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.devices"
              ],
              "path": "v1beta1/{+name}",
              "description": "Deletes the specified DeviceUser. This also revokes the user's access to device data.",
              "flatPath": "v1beta1/devices/{devicesId}/deviceUsers/{deviceUsersId}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device_id}/deviceUsers/{device_user_id}`, where device_id is the unique ID assigned to the Device, and device_user_id is the unique ID assigned to the User.",
                  "pattern": "^devices/[^/]+/deviceUsers/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "customer": {
                  "type": "string",
                  "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer_id}`, where customer_id is the customer to whom the device belongs.",
                  "location": "query"
                }
              },
              "httpMethod": "DELETE",
              "response": {
                "$ref": "Operation"
              }
            },
            "approve": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.devices"
              ],
              "id": "cloudidentity.devices.deviceUsers.approve",
              "path": "v1beta1/{+name}:approve",
              "description": "Approves device to access user data.",
              "flatPath": "v1beta1/devices/{devicesId}/deviceUsers/{deviceUsersId}:approve",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "ApproveDeviceUserRequest"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device_id}/deviceUsers/{device_user_id}`, where device_id is the unique ID assigned to the Device, and device_user_id is the unique ID assigned to the User.",
                  "pattern": "^devices/[^/]+/deviceUsers/[^/]+$"
                }
              },
              "response": {
                "$ref": "Operation"
              },
              "httpMethod": "POST"
            },
            "wipe": {
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device_id}/deviceUsers/{device_user_id}`, where device_id is the unique ID assigned to the Device, and device_user_id is the unique ID assigned to the User.",
                  "pattern": "^devices/[^/]+/deviceUsers/[^/]+$",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Operation"
              },
              "httpMethod": "POST",
              "path": "v1beta1/{+name}:wipe",
              "description": "Wipes the user's account on a device.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.devices"
              ],
              "id": "cloudidentity.devices.deviceUsers.wipe",
              "request": {
                "$ref": "WipeDeviceUserRequest"
              },
              "flatPath": "v1beta1/devices/{devicesId}/deviceUsers/{deviceUsersId}:wipe",
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device_id}/deviceUsers/{device_user_id}`, where device_id is the unique ID assigned to the Device, and device_user_id is the unique ID assigned to the User.",
                  "pattern": "^devices/[^/]+/deviceUsers/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "customer": {
                  "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer_id}`, where customer_id is the customer to whom the device belongs.",
                  "type": "string",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "DeviceUser"
              },
              "httpMethod": "GET",
              "path": "v1beta1/{+name}",
              "description": "Retrieves the specified DeviceUser",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.devices",
                "https://www.googleapis.com/auth/cloud-identity.devices.readonly"
              ],
              "id": "cloudidentity.devices.deviceUsers.get",
              "flatPath": "v1beta1/devices/{devicesId}/deviceUsers/{deviceUsersId}",
              "parameterOrder": [
                "name"
              ]
            }
          },
          "resources": {
            "clientStates": {
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-identity.devices",
                    "https://www.googleapis.com/auth/cloud-identity.devices.readonly"
                  ],
                  "id": "cloudidentity.devices.deviceUsers.clientStates.get",
                  "path": "v1beta1/{+name}",
                  "description": "Gets the client state for the device user",
                  "flatPath": "v1beta1/devices/{devicesId}/deviceUsers/{deviceUsersId}/clientStates/{clientStatesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the ClientState in format: `devices/{device_id}/deviceUsers/{device_user_id}/clientStates/{partner_id}`, where `device_id` is the unique ID assigned to the Device, `device_user_id` is the unique ID assigned to the User and `partner_id` identifies the partner storing the data. To get the client state for devices belonging to your own organization, the `partnerId` is in the format: `customerId-*anystring*`. Where the `customerId` is your organization's customer ID and `anystring` is any suffix. This suffix is used in setting up Custom Access Levels in Context-Aware Access. You may use `my_customer` instead of the customer ID for devices managed by your own organization. You may specify `-` in place of the `{device_id}`, so the ClientState resource name can be: `devices/-/deviceUsers/{device_user_resource_id}/clientStates/{partner_id}`.",
                      "pattern": "^devices/[^/]+/deviceUsers/[^/]+/clientStates/[^/]+$",
                      "location": "path"
                    },
                    "customer": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer_id}`, where customer_id is the customer to whom the device belongs."
                    }
                  },
                  "response": {
                    "$ref": "ClientState"
                  },
                  "httpMethod": "GET"
                },
                "patch": {
                  "path": "v1beta1/{+name}",
                  "description": "Updates the client state for the device user **Note**: This method is available only to customers who have one of the following SKUs: Enterprise Standard, Enterprise Plus, Enterprise for Education, and Cloud Identity Premium",
                  "id": "cloudidentity.devices.deviceUsers.clientStates.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-identity.devices"
                  ],
                  "request": {
                    "$ref": "ClientState"
                  },
                  "flatPath": "v1beta1/devices/{devicesId}/deviceUsers/{deviceUsersId}/clientStates/{clientStatesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the ClientState in format: `devices/{device_id}/deviceUsers/{device_user_id}/clientState/{partner_id}`, where partner_id corresponds to the partner storing the data.",
                      "pattern": "^devices/[^/]+/deviceUsers/[^/]+/clientStates/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "customer": {
                      "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer_id}`, where customer_id is the customer to whom the device belongs.",
                      "type": "string",
                      "location": "query"
                    },
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Comma-separated list of fully qualified names of fields to be updated. If not specified, all updatable fields in ClientState are updated.",
                      "format": "google-fieldmask"
                    }
                  },
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "Operation"
                  }
                }
              }
            }
          }
        }
      }
    },
    "policies": {
      "methods": {
        "patch": {
          "request": {
            "$ref": "Policy"
          },
          "flatPath": "v1beta1/policies/{policiesId}",
          "parameterOrder": [
            "name"
          ],
          "path": "v1beta1/{+name}",
          "description": "Update a policy.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.policies"
          ],
          "id": "cloudidentity.policies.patch",
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "PATCH",
          "parameters": {
            "name": {
              "description": "Output only. Identifier. The [resource name](https://cloud.google.com/apis/design/resource_names) of the Policy. Format: policies/{policy}.",
              "pattern": "^policies/[^/]+$",
              "required": true,
              "type": "string",
              "location": "path"
            }
          }
        },
        "list": {
          "flatPath": "v1beta1/policies",
          "parameterOrder": [],
          "path": "v1beta1/policies",
          "description": "List policies.",
          "id": "cloudidentity.policies.list",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.policies",
            "https://www.googleapis.com/auth/cloud-identity.policies.readonly"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "ListPoliciesResponse"
          },
          "parameters": {
            "filter": {
              "type": "string",
              "description": "Optional. A CEL expression for filtering the results. Policies can be filtered using the expression in the following ways: - Filter by application: `setting.type.matches('^settings/gmail\\\\..*$')` - Filter by setting type: `setting.type.matches('^.*\\\\.service_status$')` - Filter by customer: `customer == \"customers/{customer}\"` Where `customer` is the `id` from the [Admin SDK `Customer` resource](https://developers.google.com/admin-sdk/directory/reference/rest/v1/customers). You may use `customers/my_customer` to specify your own organization. When no `customer` is mentioned it will be default to `customers/my_customer`. You may only filter on policies for a single customer at a time. The above clauses can be combined together in a single filter expression with the `&&` and `||` operators, like in the following example: `customer == \"customers/my_customer\" && ( setting.type.matches('^settings/gmail\\\\..*$') || setting.type.matches('^.*\\\\.service_status$') )`.",
              "location": "query"
            },
            "pageSize": {
              "location": "query",
              "description": "Optional. The maximum number of results to return. The service can return fewer than this number. If omitted or set to `0`, the default is `50` results per page. The maximum allowed value is `100`. `page_size` values greater than `100` default to `100`.",
              "format": "int32",
              "type": "integer"
            },
            "pageToken": {
              "description": "Optional. The pagination token received from a prior call to PoliciesService.ListPolicies to retrieve the next page of results. When paginating, all other parameters provided to `ListPoliciesRequest` must match the call that provided the page token.",
              "type": "string",
              "location": "query"
            }
          }
        },
        "create": {
          "parameters": {},
          "httpMethod": "POST",
          "response": {
            "$ref": "Operation"
          },
          "path": "v1beta1/policies",
          "description": "Create a policy.",
          "id": "cloudidentity.policies.create",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.policies"
          ],
          "request": {
            "$ref": "Policy"
          },
          "flatPath": "v1beta1/policies",
          "parameterOrder": []
        },
        "delete": {
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "description": "Required. The name of the policy to delete. Format: `policies/{policy}`.",
              "pattern": "^policies/[^/]+$",
              "location": "path"
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "DELETE",
          "path": "v1beta1/{+name}",
          "description": "Delete a policy.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.policies"
          ],
          "id": "cloudidentity.policies.delete",
          "flatPath": "v1beta1/policies/{policiesId}",
          "parameterOrder": [
            "name"
          ]
        },
        "get": {
          "path": "v1beta1/{+name}",
          "description": "Get a policy.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.policies",
            "https://www.googleapis.com/auth/cloud-identity.policies.readonly"
          ],
          "id": "cloudidentity.policies.get",
          "flatPath": "v1beta1/policies/{policiesId}",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. The name of the policy to retrieve. Format: `policies/{policy}`.",
              "pattern": "^policies/[^/]+$"
            }
          },
          "response": {
            "$ref": "Policy"
          },
          "httpMethod": "GET"
        }
      }
    },
    "inboundOidcSsoProfiles": {
      "methods": {
        "delete": {
          "id": "cloudidentity.inboundOidcSsoProfiles.delete",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.inboundsso",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta1/{+name}",
          "description": "Deletes an InboundOidcSsoProfile.",
          "flatPath": "v1beta1/inboundOidcSsoProfiles/{inboundOidcSsoProfilesId}",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "description": "Required. The [resource name](https://cloud.google.com/apis/design/resource_names) of the InboundOidcSsoProfile to delete. Format: `inboundOidcSsoProfiles/{sso_profile_id}`",
              "pattern": "^inboundOidcSsoProfiles/[^/]+$",
              "location": "path"
            }
          },
          "httpMethod": "DELETE",
          "response": {
            "$ref": "Operation"
          }
        },
        "get": {
          "httpMethod": "GET",
          "response": {
            "$ref": "InboundOidcSsoProfile"
          },
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. The [resource name](https://cloud.google.com/apis/design/resource_names) of the InboundOidcSsoProfile to get. Format: `inboundOidcSsoProfiles/{sso_profile_id}`",
              "pattern": "^inboundOidcSsoProfiles/[^/]+$"
            }
          },
          "flatPath": "v1beta1/inboundOidcSsoProfiles/{inboundOidcSsoProfilesId}",
          "parameterOrder": [
            "name"
          ],
          "path": "v1beta1/{+name}",
          "description": "Gets an InboundOidcSsoProfile.",
          "id": "cloudidentity.inboundOidcSsoProfiles.get",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.inboundsso",
            "https://www.googleapis.com/auth/cloud-identity.inboundsso.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "patch": {
          "id": "cloudidentity.inboundOidcSsoProfiles.patch",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.inboundsso",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta1/{+name}",
          "description": "Updates an InboundOidcSsoProfile. When the target customer has enabled [Multi-party approval for sensitive actions](https://support.google.com/a/answer/13790448), the `Operation` in the response will have `\"done\": false`, it will not have a response, and the metadata will have `\"state\": \"awaiting-multi-party-approval\"`.",
          "flatPath": "v1beta1/inboundOidcSsoProfiles/{inboundOidcSsoProfilesId}",
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "InboundOidcSsoProfile"
          },
          "parameters": {
            "updateMask": {
              "description": "Required. The list of fields to be updated.",
              "format": "google-fieldmask",
              "type": "string",
              "location": "query"
            },
            "name": {
              "required": true,
              "type": "string",
              "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the OIDC SSO profile.",
              "pattern": "^inboundOidcSsoProfiles/[^/]+$",
              "location": "path"
            }
          },
          "httpMethod": "PATCH",
          "response": {
            "$ref": "Operation"
          }
        },
        "create": {
          "httpMethod": "POST",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {},
          "request": {
            "$ref": "InboundOidcSsoProfile"
          },
          "flatPath": "v1beta1/inboundOidcSsoProfiles",
          "parameterOrder": [],
          "path": "v1beta1/inboundOidcSsoProfiles",
          "description": "Creates an InboundOidcSsoProfile for a customer. When the target customer has enabled [Multi-party approval for sensitive actions](https://support.google.com/a/answer/13790448), the `Operation` in the response will have `\"done\": false`, it will not have a response, and the metadata will have `\"state\": \"awaiting-multi-party-approval\"`.",
          "id": "cloudidentity.inboundOidcSsoProfiles.create",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.inboundsso",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "list": {
          "flatPath": "v1beta1/inboundOidcSsoProfiles",
          "parameterOrder": [],
          "path": "v1beta1/inboundOidcSsoProfiles",
          "description": "Lists InboundOidcSsoProfile objects for a Google enterprise customer.",
          "id": "cloudidentity.inboundOidcSsoProfiles.list",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.inboundsso",
            "https://www.googleapis.com/auth/cloud-identity.inboundsso.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "ListInboundOidcSsoProfilesResponse"
          },
          "parameters": {
            "filter": {
              "location": "query",
              "type": "string",
              "description": "A [Common Expression Language](https://github.com/google/cel-spec) expression to filter the results. The only supported filter is filtering by customer. For example: `customer==\"customers/C0123abc\"`. Omitting the filter or specifying a filter of `customer==\"customers/my_customer\"` will return the profiles for the customer that the caller (authenticated user) belongs to. Specifying a filter of `customer==\"\"` will return the global shared OIDC profiles."
            },
            "pageSize": {
              "type": "integer",
              "description": "The maximum number of InboundOidcSsoProfiles to return. The service may return fewer than this value. If omitted (or defaulted to zero) the server will use a sensible default. This default may change over time. The maximum allowed value is 100. Requests with page_size greater than that will be silently interpreted as having this maximum value.",
              "format": "int32",
              "location": "query"
            },
            "pageToken": {
              "description": "A page token, received from a previous `ListInboundOidcSsoProfiles` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListInboundOidcSsoProfiles` must match the call that provided the page token.",
              "type": "string",
              "location": "query"
            }
          }
        }
      }
    },
    "customers": {
      "resources": {
        "userinvitations": {
          "methods": {
            "cancel": {
              "response": {
                "$ref": "Operation"
              },
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "description": "Required. `UserInvitation` name in the format `customers/{customer}/userinvitations/{user_email_address}`",
                  "pattern": "^customers/[^/]+/userinvitations/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "flatPath": "v1beta1/customers/{customersId}/userinvitations/{userinvitationsId}:cancel",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "CancelUserInvitationRequest"
              },
              "id": "cloudidentity.customers.userinvitations.cancel",
              "path": "v1beta1/{+name}:cancel",
              "description": "Cancels a UserInvitation that was already sent."
            },
            "get": {
              "path": "v1beta1/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. `UserInvitation` name in the format `customers/{customer}/userinvitations/{user_email_address}`",
                  "pattern": "^customers/[^/]+/userinvitations/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Retrieves a UserInvitation resource. **Note:** New consumer accounts with the customer's verified domain created within the previous 48 hours will not appear in the result. This delay also applies to newly-verified domains.",
              "id": "cloudidentity.customers.userinvitations.get",
              "flatPath": "v1beta1/customers/{customersId}/userinvitations/{userinvitationsId}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "UserInvitation"
              },
              "httpMethod": "GET"
            },
            "send": {
              "request": {
                "$ref": "SendUserInvitationRequest"
              },
              "flatPath": "v1beta1/customers/{customersId}/userinvitations/{userinvitationsId}:send",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta1/{+name}:send",
              "description": "Sends a UserInvitation to email. If the `UserInvitation` does not exist for this request and it is a valid request, the request creates a `UserInvitation`. **Note:** The `get` and `list` methods have a 48-hour delay where newly-created consumer accounts will not appear in the results. You can still send a `UserInvitation` to those accounts if you know the unmanaged email address and IsInvitableUser==True.",
              "id": "cloudidentity.customers.userinvitations.send",
              "httpMethod": "POST",
              "response": {
                "$ref": "Operation"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. `UserInvitation` name in the format `customers/{customer}/userinvitations/{user_email_address}`",
                  "pattern": "^customers/[^/]+/userinvitations/[^/]+$"
                }
              }
            },
            "list": {
              "flatPath": "v1beta1/customers/{customersId}/userinvitations",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListUserInvitationsResponse"
              },
              "httpMethod": "GET",
              "path": "v1beta1/{+parent}/userinvitations",
              "parameters": {
                "orderBy": {
                  "description": "Optional. The sort order of the list results. You can sort the results in descending order based on either email or last update timestamp but not both, using `order_by=\"email desc\"`. Currently, sorting is supported for `update_time asc`, `update_time desc`, `email asc`, and `email desc`. If not specified, results will be returned based on `email asc` order.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Optional. The maximum number of UserInvitation resources to return. If unspecified, at most 100 resources will be returned. The maximum value is 200; values above 200 will be set to 200.",
                  "format": "int32",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListUserInvitations` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListBooks` must match the call that provided the page token.",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The customer ID of the Google Workspace or Cloud Identity account the UserInvitation resources are associated with.",
                  "pattern": "^customers/[^/]+$"
                },
                "filter": {
                  "description": "Optional. A query string for filtering `UserInvitation` results by their current state, in the format: `\"state=='invited'\"`.",
                  "type": "string",
                  "location": "query"
                }
              },
              "description": "Retrieves a list of UserInvitation resources. **Note:** New consumer accounts with the customer's verified domain created within the previous 48 hours will not appear in the result. This delay also applies to newly-verified domains.",
              "id": "cloudidentity.customers.userinvitations.list"
            },
            "isInvitableUser": {
              "flatPath": "v1beta1/customers/{customersId}/userinvitations/{userinvitationsId}:isInvitableUser",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "IsInvitableUserResponse"
              },
              "httpMethod": "GET",
              "path": "v1beta1/{+name}:isInvitableUser",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. `UserInvitation` name in the format `customers/{customer}/userinvitations/{user_email_address}`",
                  "pattern": "^customers/[^/]+/userinvitations/[^/]+$"
                }
              },
              "description": "Verifies whether a user account is eligible to receive a UserInvitation (is an unmanaged account). Eligibility is based on the following criteria: * the email address is a consumer account and it's the primary email address of the account, and * the domain of the email address matches an existing verified Google Workspace or Cloud Identity domain If both conditions are met, the user is eligible. **Note:** This method is not supported for Workspace Essentials customers.",
              "id": "cloudidentity.customers.userinvitations.isInvitableUser"
            }
          }
        }
      }
    },
    "orgUnits": {
      "resources": {
        "memberships": {
          "methods": {
            "list": {
              "path": "v1beta1/{+parent}/memberships",
              "description": "List OrgMembership resources in an OrgUnit treated as 'parent'. Parent format: orgUnits/{$orgUnitId} where `$orgUnitId` is the `orgUnitId` from the [Admin SDK `OrgUnit` resource](https://developers.google.com/admin-sdk/directory/reference/rest/v1/orgunits)",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.orgunits",
                "https://www.googleapis.com/auth/cloud-identity.orgunits.readonly"
              ],
              "id": "cloudidentity.orgUnits.memberships.list",
              "flatPath": "v1beta1/orgUnits/{orgUnitsId}/memberships",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "description": "The maximum number of results to return. The service may return fewer than this value. If omitted (or defaulted to zero) the server will default to 50. The maximum allowed value is 100, though requests with page_size greater than that will be silently interpreted as 100.",
                  "format": "int32",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "A page token, received from a previous `OrgMembershipsService.ListOrgMemberships` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListOrgMembershipsRequest` must match the call that provided the page token.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "description": "Required. Immutable. OrgUnit which is queried for a list of memberships. Format: orgUnits/{$orgUnitId} where `$orgUnitId` is the `orgUnitId` from the [Admin SDK `OrgUnit` resource](https://developers.google.com/admin-sdk/directory/reference/rest/v1/orgunits).",
                  "pattern": "^orgUnits/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "customer": {
                  "type": "string",
                  "description": "Required. Immutable. Customer that this OrgMembership belongs to. All authorization will happen on the role assignments of this customer. Format: customers/{$customerId} where `$customerId` is the `id` from the [Admin SDK `Customer` resource](https://developers.google.com/admin-sdk/directory/reference/rest/v1/customers). You may also use `customers/my_customer` to specify your own organization.",
                  "location": "query"
                },
                "filter": {
                  "location": "query",
                  "description": "The search query. Must be specified in [Common Expression Language](https://opensource.google/projects/cel). May only contain equality operators on the `type` (e.g., `type == 'shared_drive'`).",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "ListOrgMembershipsResponse"
              },
              "httpMethod": "GET"
            },
            "move": {
              "request": {
                "$ref": "MoveOrgMembershipRequest"
              },
              "flatPath": "v1beta1/orgUnits/{orgUnitsId}/memberships/{membershipsId}:move",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta1/{+name}:move",
              "description": "Move an OrgMembership to a new OrgUnit. NOTE: This is an atomic copy-and-delete. The resource will have a new copy under the destination OrgUnit and be deleted from the source OrgUnit. The resource can only be searched under the destination OrgUnit afterwards.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.orgunits"
              ],
              "id": "cloudidentity.orgUnits.memberships.move",
              "response": {
                "$ref": "Operation"
              },
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. Immutable. The [resource name](https://cloud.google.com/apis/design/resource_names) of the OrgMembership. Format: orgUnits/{$orgUnitId}/memberships/{$membership} The `$orgUnitId` is the `orgUnitId` from the [Admin SDK `OrgUnit` resource](https://developers.google.com/admin-sdk/directory/reference/rest/v1/orgunits). To manage a Membership without specifying source `orgUnitId`, this API also supports the wildcard character '-' for `$orgUnitId` per https://google.aip.dev/159. The `$membership` shall be of the form `{$entityType};{$memberId}`, where `$entityType` is the enum value of OrgMembership.EntityType, and `memberId` is the `id` from [Drive API (V3) `Drive` resource](https://developers.google.com/drive/api/v3/reference/drives#resource) for OrgMembership.EntityType.SHARED_DRIVE.",
                  "pattern": "^orgUnits/[^/]+/memberships/[^/]+$"
                }
              }
            }
          }
        }
      }
    },
    "groups": {
      "methods": {
        "search": {
          "flatPath": "v1beta1/groups:search",
          "parameterOrder": [],
          "id": "cloudidentity.groups.search",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta1/groups:search",
          "description": "Searches for `Group` resources matching a specified query.",
          "httpMethod": "GET",
          "response": {
            "$ref": "SearchGroupsResponse"
          },
          "parameters": {
            "view": {
              "enumDescriptions": [
                "Default. Only basic resource information is returned.",
                "All resource information is returned."
              ],
              "location": "query",
              "enum": [
                "BASIC",
                "FULL"
              ],
              "description": "The level of detail to be returned. If unspecified, defaults to `View.BASIC`.",
              "type": "string"
            },
            "pageSize": {
              "location": "query",
              "description": "The maximum number of results to return. Note that the number of results returned may be less than this value even if there are more available results. To fetch all results, clients must continue calling this method repeatedly until the response no longer contains a `next_page_token`. If unspecified, defaults to 200 for `GroupView.BASIC` and to 50 for `GroupView.FULL`. Must not be greater than 1000 for `GroupView.BASIC` or 500 for `GroupView.FULL`.",
              "format": "int32",
              "type": "integer"
            },
            "pageToken": {
              "type": "string",
              "description": "The `next_page_token` value returned from a previous search request, if any.",
              "location": "query"
            },
            "orderBy": {
              "location": "query",
              "description": "The ordering of groups for the display name or email in the search groups response. The syntax for this field can be found at https://cloud.google.com/apis/design/design_patterns#sorting_order. Example: Sort by the ascending name: order_by=\"display_name\" Sort by the descending group key email: order_by=\"group_key desc\"",
              "type": "string"
            },
            "query": {
              "location": "query",
              "type": "string",
              "description": "Required. The search query. * Must be specified in [Common Expression Language](https://opensource.google/projects/cel). * Must contain equality operators on the parent, e.g. `parent == 'customers/{customer_id}'`. The `customer_id` must begin with \"C\" (for example, 'C046psxkn'). [Find your customer ID.] (https://support.google.com/cloudidentity/answer/10070793) * Can contain optional inclusion operators on `labels` such as `'cloudidentity.googleapis.com/groups.discussion_forum' in labels`). * Can contain an optional equality operator on `domain_name`. e.g. `domain_name == 'examplepetstore.com'` * Can contain optional `startsWith/contains/equality` operators on `group_key`, e.g. `group_key.startsWith('dev')`, `group_key.contains('dev'), group_key == 'dev@examplepetstore.com'` * Can contain optional `startsWith/contains/equality` operators on `display_name`, such as `display_name.startsWith('dev')` , `display_name.contains('dev')`, `display_name == 'dev'`"
            }
          }
        },
        "lookup": {
          "httpMethod": "GET",
          "response": {
            "$ref": "LookupGroupNameResponse"
          },
          "parameters": {
            "groupKey.id": {
              "type": "string",
              "description": "The ID of the entity. For Google-managed entities, the `id` must be the email address of an existing group or user. For external-identity-mapped entities, the `id` must be a string conforming to the Identity Source's requirements. Must be unique within a `namespace`.",
              "location": "query"
            },
            "groupKey.namespace": {
              "location": "query",
              "description": "The namespace in which the entity exists. If not specified, the `EntityKey` represents a Google-managed entity such as a Google user or a Google Group. If specified, the `EntityKey` represents an external-identity-mapped group. The namespace must correspond to an identity source created in Admin Console and must be in the form of `identitysources/{identity_source_id}`.",
              "type": "string"
            }
          },
          "flatPath": "v1beta1/groups:lookup",
          "parameterOrder": [],
          "path": "v1beta1/groups:lookup",
          "description": "Looks up the [resource name](https://cloud.google.com/apis/design/resource_names) of a `Group` by its `EntityKey`.",
          "id": "cloudidentity.groups.lookup",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "create": {
          "parameters": {
            "initialGroupConfig": {
              "enumDescriptions": [
                "Default. Should not be used.",
                "The end user making the request will be added as the initial owner of the `Group`.",
                "An empty group is created without any initial owners. This can only be used by admins of the domain."
              ],
              "location": "query",
              "enum": [
                "INITIAL_GROUP_CONFIG_UNSPECIFIED",
                "WITH_INITIAL_OWNER",
                "EMPTY"
              ],
              "description": "Required. The initial configuration option for the `Group`.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "cloudidentity.groups.create",
          "path": "v1beta1/groups",
          "description": "Creates a `Group`.",
          "flatPath": "v1beta1/groups",
          "parameterOrder": [],
          "request": {
            "$ref": "Group"
          }
        },
        "getSecuritySettings": {
          "response": {
            "$ref": "SecuritySettings"
          },
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "description": "Required. The security settings to retrieve. Format: `groups/{group_id}/securitySettings`",
              "pattern": "^groups/[^/]+/securitySettings$",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "readMask": {
              "description": "Field-level read mask of which fields to return. \"*\" returns all fields. If not specified, all fields will be returned. May only contain the following field: `member_restriction`.",
              "format": "google-fieldmask",
              "type": "string",
              "location": "query"
            }
          },
          "flatPath": "v1beta1/groups/{groupsId}/securitySettings",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "cloudidentity.groups.getSecuritySettings",
          "path": "v1beta1/{+name}",
          "description": "Get Security Settings"
        },
        "delete": {
          "flatPath": "v1beta1/groups/{groupsId}",
          "parameterOrder": [
            "name"
          ],
          "path": "v1beta1/{+name}",
          "description": "Deletes a `Group`.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "cloudidentity.groups.delete",
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "DELETE",
          "parameters": {
            "name": {
              "location": "path",
              "description": "Required. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Group` to retrieve. Must be of the form `groups/{group_id}`.",
              "pattern": "^groups/[^/]+$",
              "required": true,
              "type": "string"
            }
          }
        },
        "get": {
          "flatPath": "v1beta1/groups/{groupsId}",
          "parameterOrder": [
            "name"
          ],
          "path": "v1beta1/{+name}",
          "description": "Retrieves a `Group`.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "cloudidentity.groups.get",
          "response": {
            "$ref": "Group"
          },
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Group` to retrieve. Must be of the form `groups/{group_id}`.",
              "pattern": "^groups/[^/]+$"
            }
          }
        },
        "patch": {
          "parameters": {
            "updateMask": {
              "location": "query",
              "description": "Required. The names of fields to update. May only contain the following field names: `display_name`, `description`, `labels`, `dynamic_group_metadata`, `posix_groups`.",
              "format": "google-fieldmask",
              "type": "string"
            },
            "name": {
              "required": true,
              "type": "string",
              "description": "Output only. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Group`. Shall be of the form `groups/{group_id}`.",
              "pattern": "^groups/[^/]+$",
              "location": "path"
            }
          },
          "httpMethod": "PATCH",
          "response": {
            "$ref": "Operation"
          },
          "path": "v1beta1/{+name}",
          "description": "Updates a `Group`.",
          "id": "cloudidentity.groups.patch",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "Group"
          },
          "flatPath": "v1beta1/groups/{groupsId}",
          "parameterOrder": [
            "name"
          ]
        },
        "updateSecuritySettings": {
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "PATCH",
          "parameters": {
            "name": {
              "description": "Output only. The resource name of the security settings. Shall be of the form `groups/{group_id}/securitySettings`.",
              "pattern": "^groups/[^/]+/securitySettings$",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "updateMask": {
              "location": "query",
              "type": "string",
              "description": "Required. The fully-qualified names of fields to update. May only contain the following field: `member_restriction.query`.",
              "format": "google-fieldmask"
            }
          },
          "request": {
            "$ref": "SecuritySettings"
          },
          "flatPath": "v1beta1/groups/{groupsId}/securitySettings",
          "parameterOrder": [
            "name"
          ],
          "path": "v1beta1/{+name}",
          "description": "Update Security Settings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "cloudidentity.groups.updateSecuritySettings"
        },
        "list": {
          "flatPath": "v1beta1/groups",
          "parameterOrder": [],
          "path": "v1beta1/groups",
          "description": "Lists the `Group` resources under a customer or namespace.",
          "id": "cloudidentity.groups.list",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "ListGroupsResponse"
          },
          "parameters": {
            "parent": {
              "description": "Required. The parent resource under which to list all `Group` resources. Must be of the form `identitysources/{identity_source_id}` for external- identity-mapped groups or `customers/{customer_id}` for Google Groups. The `customer_id` must begin with \"C\" (for example, 'C046psxkn'). [Find your customer ID.] (https://support.google.com/cloudidentity/answer/10070793)",
              "type": "string",
              "location": "query"
            },
            "pageSize": {
              "location": "query",
              "description": "The maximum number of results to return. Note that the number of results returned may be less than this value even if there are more available results. To fetch all results, clients must continue calling this method repeatedly until the response no longer contains a `next_page_token`. If unspecified, defaults to 200 for `View.BASIC` and to 50 for `View.FULL`. Must not be greater than 1000 for `View.BASIC` or 500 for `View.FULL`.",
              "format": "int32",
              "type": "integer"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The `next_page_token` value returned from a previous list request, if any."
            },
            "view": {
              "description": "The level of detail to be returned. If unspecified, defaults to `View.BASIC`.",
              "type": "string",
              "enumDescriptions": [
                "Default. Should not be used.",
                "Only basic resource information is returned.",
                "All resource information is returned."
              ],
              "location": "query",
              "enum": [
                "VIEW_UNSPECIFIED",
                "BASIC",
                "FULL"
              ]
            }
          }
        }
      },
      "resources": {
        "memberships": {
          "methods": {
            "modifyMembershipRoles": {
              "path": "v1beta1/{+name}:modifyMembershipRoles",
              "description": "Modifies the `MembershipRole`s of a `Membership`.",
              "id": "cloudidentity.groups.memberships.modifyMembershipRoles",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "ModifyMembershipRolesRequest"
              },
              "flatPath": "v1beta1/groups/{groupsId}/memberships/{membershipsId}:modifyMembershipRoles",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Membership` whose roles are to be modified. Must be of the form `groups/{group_id}/memberships/{membership_id}`.",
                  "pattern": "^groups/[^/]+/memberships/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "ModifyMembershipRolesResponse"
              }
            },
            "searchTransitiveGroups": {
              "flatPath": "v1beta1/groups/{groupsId}/memberships:searchTransitiveGroups",
              "parameterOrder": [
                "parent"
              ],
              "id": "cloudidentity.groups.memberships.searchTransitiveGroups",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta1/{+parent}/memberships:searchTransitiveGroups",
              "description": "Search transitive groups of a member. **Note:** This feature is only available to Google Workspace Enterprise Standard, Enterprise Plus, and Enterprise for Education; and Cloud Identity Premium accounts. A transitive group is any group that has a direct or indirect membership to the member. Actor must have view permissions all transitive groups.",
              "httpMethod": "GET",
              "response": {
                "$ref": "SearchTransitiveGroupsResponse"
              },
              "parameters": {
                "query": {
                  "description": "Required. A CEL expression that MUST include member specification AND label(s). This is a `required` field. Users can search on label attributes of groups. CONTAINS match ('in') is supported on labels. Identity-mapped groups are uniquely identified by both a `member_key_id` and a `member_key_namespace`, which requires an additional query input: `member_key_namespace`. Example query: `member_key_id == 'member_key_id_value' && in labels` Query may optionally contain equality operators on the parent of the group restricting the search within a particular customer, e.g. `parent == 'customers/{customer_id}'`. The `customer_id` must begin with \"C\" (for example, 'C046psxkn'). This filtering is only supported for Admins with groups read permissions on the input customer. Example query: `member_key_id == 'member_key_id_value' && in labels && parent == 'customers/C046psxkn'`",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "description": "[Resource name](https://cloud.google.com/apis/design/resource_names) of the group to search transitive memberships in. Format: `groups/{group_id}`, where `group_id` is always '-' as this API will search across all groups for a given member.",
                  "pattern": "^groups/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "The default page size is 200 (max 1000).",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "description": "The `next_page_token` value returned from a previous list request, if any.",
                  "type": "string"
                }
              }
            },
            "getMembershipGraph": {
              "path": "v1beta1/{+parent}/memberships:getMembershipGraph",
              "description": "Get a membership graph of just a member or both a member and a group. **Note:** This feature is only available to Google Workspace Enterprise Standard, Enterprise Plus, and Enterprise for Education; and Cloud Identity Premium accounts. Given a member, the response will contain all membership paths from the member. Given both a group and a member, the response will contain all membership paths between the group and the member.",
              "id": "cloudidentity.groups.memberships.getMembershipGraph",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta1/groups/{groupsId}/memberships:getMembershipGraph",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the group to search transitive memberships in. Format: `groups/{group_id}`, where `group_id` is the unique ID assigned to the Group to which the Membership belongs to. group_id can be a wildcard collection id \"-\". When `group_id` is specified, the membership graph will be constrained to paths between the member (defined in the query) and the parent. If a wildcard collection is provided, all membership paths connected to the member will be returned.",
                  "pattern": "^groups/[^/]+$"
                },
                "query": {
                  "description": "Required. A CEL expression that MUST include member specification AND label(s). Certain groups are uniquely identified by both a 'member_key_id' and a 'member_key_namespace', which requires an additional query input: 'member_key_namespace'. Example query: `member_key_id == 'member_key_id_value' && in labels`",
                  "type": "string",
                  "location": "query"
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "Operation"
              }
            },
            "create": {
              "request": {
                "$ref": "Membership"
              },
              "flatPath": "v1beta1/groups/{groupsId}/memberships",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1beta1/{+parent}/memberships",
              "description": "Creates a `Membership`.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "cloudidentity.groups.memberships.create",
              "response": {
                "$ref": "Operation"
              },
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The parent `Group` resource under which to create the `Membership`. Must be of the form `groups/{group_id}`.",
                  "pattern": "^groups/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              }
            },
            "checkTransitiveMembership": {
              "parameters": {
                "query": {
                  "location": "query",
                  "description": "Required. A CEL expression that MUST include member specification. This is a `required` field. Certain groups are uniquely identified by both a 'member_key_id' and a 'member_key_namespace', which requires an additional query input: 'member_key_namespace'. Example query: `member_key_id == 'member_key_id_value'`",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "description": "[Resource name](https://cloud.google.com/apis/design/resource_names) of the group to check the transitive membership in. Format: `groups/{group_id}`, where `group_id` is the unique id assigned to the Group to which the Membership belongs to.",
                  "pattern": "^groups/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "CheckTransitiveMembershipResponse"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "cloudidentity.groups.memberships.checkTransitiveMembership",
              "path": "v1beta1/{+parent}/memberships:checkTransitiveMembership",
              "description": "Check a potential member for membership in a group. **Note:** This feature is only available to Google Workspace Enterprise Standard, Enterprise Plus, and Enterprise for Education; and Cloud Identity Premium accounts. A member has membership to a group as long as there is a single viewable transitive membership between the group and the member. The actor must have view permissions to at least one transitive membership between the member and group.",
              "flatPath": "v1beta1/groups/{groupsId}/memberships:checkTransitiveMembership",
              "parameterOrder": [
                "parent"
              ]
            },
            "lookup": {
              "parameters": {
                "memberKey.id": {
                  "type": "string",
                  "description": "The ID of the entity. For Google-managed entities, the `id` must be the email address of an existing group or user. For external-identity-mapped entities, the `id` must be a string conforming to the Identity Source's requirements. Must be unique within a `namespace`.",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "description": "Required. The parent `Group` resource under which to lookup the `Membership` name. Must be of the form `groups/{group_id}`.",
                  "pattern": "^groups/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "memberKey.namespace": {
                  "description": "The namespace in which the entity exists. If not specified, the `EntityKey` represents a Google-managed entity such as a Google user or a Google Group. If specified, the `EntityKey` represents an external-identity-mapped group. The namespace must correspond to an identity source created in Admin Console and must be in the form of `identitysources/{identity_source_id}`.",
                  "type": "string",
                  "location": "query"
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "LookupMembershipNameResponse"
              },
              "id": "cloudidentity.groups.memberships.lookup",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta1/{+parent}/memberships:lookup",
              "description": "Looks up the [resource name](https://cloud.google.com/apis/design/resource_names) of a `Membership` by its `EntityKey`.",
              "flatPath": "v1beta1/groups/{groupsId}/memberships:lookup",
              "parameterOrder": [
                "parent"
              ]
            },
            "searchTransitiveMemberships": {
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "description": "The default page size is 200 (max 1000).",
                  "format": "int32",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "description": "The next_page_token value returned from a previous list request, if any.",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "description": "[Resource name](https://cloud.google.com/apis/design/resource_names) of the group to search transitive memberships in. Format: `groups/{group_id}`, where `group_id` is the unique ID assigned to the Group.",
                  "pattern": "^groups/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "SearchTransitiveMembershipsResponse"
              },
              "httpMethod": "GET",
              "path": "v1beta1/{+parent}/memberships:searchTransitiveMemberships",
              "description": "Search transitive memberships of a group. **Note:** This feature is only available to Google Workspace Enterprise Standard, Enterprise Plus, and Enterprise for Education; and Cloud Identity Premium accounts. A transitive membership is any direct or indirect membership of a group. Actor must have view permissions to all transitive memberships.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "cloudidentity.groups.memberships.searchTransitiveMemberships",
              "flatPath": "v1beta1/groups/{groupsId}/memberships:searchTransitiveMemberships",
              "parameterOrder": [
                "parent"
              ]
            },
            "get": {
              "flatPath": "v1beta1/groups/{groupsId}/memberships/{membershipsId}",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta1/{+name}",
              "description": "Retrieves a `Membership`.",
              "id": "cloudidentity.groups.memberships.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "Membership"
              },
              "parameters": {
                "name": {
                  "description": "Required. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Membership` to retrieve. Must be of the form `groups/{group_id}/memberships/{membership_id}`.",
                  "pattern": "^groups/[^/]+/memberships/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              }
            },
            "searchDirectGroups": {
              "httpMethod": "GET",
              "response": {
                "$ref": "SearchDirectGroupsResponse"
              },
              "parameters": {
                "orderBy": {
                  "description": "The ordering of membership relation for the display name or email in the response. The syntax for this field can be found at https://cloud.google.com/apis/design/design_patterns#sorting_order. Example: Sort by the ascending display name: order_by=\"group_name\" or order_by=\"group_name asc\". Sort by the descending display name: order_by=\"group_name desc\". Sort by the ascending group key: order_by=\"group_key\" or order_by=\"group_key asc\". Sort by the descending group key: order_by=\"group_key desc\".",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "description": "The default page size is 200 (max 1000).",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "description": "The next_page_token value returned from a previous list request, if any.",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "description": "[Resource name](https://cloud.google.com/apis/design/resource_names) of the group to search transitive memberships in. Format: groups/{group_id}, where group_id is always '-' as this API will search across all groups for a given member.",
                  "pattern": "^groups/[^/]+$",
                  "location": "path"
                },
                "query": {
                  "location": "query",
                  "description": "Required. A CEL expression that MUST include member specification AND label(s). Users can search on label attributes of groups. CONTAINS match ('in') is supported on labels. Identity-mapped groups are uniquely identified by both a `member_key_id` and a `member_key_namespace`, which requires an additional query input: `member_key_namespace`. Example query: `member_key_id == 'member_key_id_value' && 'label_value' in labels`",
                  "type": "string"
                }
              },
              "flatPath": "v1beta1/groups/{groupsId}/memberships:searchDirectGroups",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1beta1/{+parent}/memberships:searchDirectGroups",
              "description": "Searches direct groups of a member. Groups for which the actor does not have the permission to view memberships are silently filtered out.",
              "id": "cloudidentity.groups.memberships.searchDirectGroups",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "delete": {
              "flatPath": "v1beta1/groups/{groupsId}/memberships/{membershipsId}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "cloudidentity.groups.memberships.delete",
              "path": "v1beta1/{+name}",
              "description": "Deletes a `Membership`.",
              "response": {
                "$ref": "Operation"
              },
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Membership` to delete. Must be of the form `groups/{group_id}/memberships/{membership_id}`.",
                  "pattern": "^groups/[^/]+/memberships/[^/]+$",
                  "location": "path"
                }
              }
            },
            "list": {
              "response": {
                "$ref": "ListMembershipsResponse"
              },
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of results to return. Note that the number of results returned may be less than this value even if there are more available results. To fetch all results, clients must continue calling this method repeatedly until the response no longer contains a `next_page_token`. If unspecified, defaults to 200 for `GroupView.BASIC` and to 50 for `GroupView.FULL`. Must not be greater than 1000 for `GroupView.BASIC` or 500 for `GroupView.FULL`.",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "description": "The `next_page_token` value returned from a previous search request, if any.",
                  "type": "string"
                },
                "view": {
                  "type": "string",
                  "description": "The level of detail to be returned. If unspecified, defaults to `MembershipView.BASIC`.",
                  "location": "query",
                  "enum": [
                    "BASIC",
                    "FULL"
                  ],
                  "enumDescriptions": [
                    "Default. Only basic resource information is returned.",
                    "All resource information is returned."
                  ]
                },
                "parent": {
                  "description": "Required. The parent `Group` resource under which to lookup the `Membership` name. Must be of the form `groups/{group_id}`.",
                  "pattern": "^groups/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "flatPath": "v1beta1/groups/{groupsId}/memberships",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1beta1/{+parent}/memberships",
              "description": "Lists the `Membership`s within a `Group`.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "cloudidentity.groups.memberships.list"
            }
          }
        }
      }
    },
    "inboundSamlSsoProfiles": {
      "methods": {
        "delete": {
          "path": "v1beta1/{+name}",
          "description": "Deletes an InboundSamlSsoProfile.",
          "id": "cloudidentity.inboundSamlSsoProfiles.delete",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.inboundsso",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1beta1/inboundSamlSsoProfiles/{inboundSamlSsoProfilesId}",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. The [resource name](https://cloud.google.com/apis/design/resource_names) of the InboundSamlSsoProfile to delete. Format: `inboundSamlSsoProfiles/{sso_profile_id}`",
              "pattern": "^inboundSamlSsoProfiles/[^/]+$"
            }
          },
          "httpMethod": "DELETE",
          "response": {
            "$ref": "Operation"
          }
        },
        "get": {
          "flatPath": "v1beta1/inboundSamlSsoProfiles/{inboundSamlSsoProfilesId}",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.inboundsso",
            "https://www.googleapis.com/auth/cloud-identity.inboundsso.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "cloudidentity.inboundSamlSsoProfiles.get",
          "path": "v1beta1/{+name}",
          "description": "Gets an InboundSamlSsoProfile.",
          "response": {
            "$ref": "InboundSamlSsoProfile"
          },
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. The [resource name](https://cloud.google.com/apis/design/resource_names) of the InboundSamlSsoProfile to get. Format: `inboundSamlSsoProfiles/{sso_profile_id}`",
              "pattern": "^inboundSamlSsoProfiles/[^/]+$"
            }
          }
        },
        "patch": {
          "request": {
            "$ref": "InboundSamlSsoProfile"
          },
          "flatPath": "v1beta1/inboundSamlSsoProfiles/{inboundSamlSsoProfilesId}",
          "parameterOrder": [
            "name"
          ],
          "path": "v1beta1/{+name}",
          "description": "Updates an InboundSamlSsoProfile. When the target customer has enabled [Multi-party approval for sensitive actions](https://support.google.com/a/answer/13790448), the `Operation` in the response will have `\"done\": false`, it will not have a response, and the metadata will have `\"state\": \"awaiting-multi-party-approval\"`.",
          "id": "cloudidentity.inboundSamlSsoProfiles.patch",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.inboundsso",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "PATCH",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the SAML SSO profile.",
              "pattern": "^inboundSamlSsoProfiles/[^/]+$",
              "location": "path"
            },
            "updateMask": {
              "type": "string",
              "description": "Required. The list of fields to be updated.",
              "format": "google-fieldmask",
              "location": "query"
            }
          }
        },
        "create": {
          "flatPath": "v1beta1/inboundSamlSsoProfiles",
          "parameterOrder": [],
          "request": {
            "$ref": "InboundSamlSsoProfile"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.inboundsso",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "cloudidentity.inboundSamlSsoProfiles.create",
          "path": "v1beta1/inboundSamlSsoProfiles",
          "description": "Creates an InboundSamlSsoProfile for a customer. When the target customer has enabled [Multi-party approval for sensitive actions](https://support.google.com/a/answer/13790448), the `Operation` in the response will have `\"done\": false`, it will not have a response, and the metadata will have `\"state\": \"awaiting-multi-party-approval\"`.",
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "POST",
          "parameters": {}
        },
        "list": {
[...]
