{
  "id": "cloudkms:v1",
  "revision": "20260821",
  "version_module": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "name": "cloudkms",
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloudkms": {
          "description": "View and manage your keys and secrets stored in Cloud Key Management Service"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "canonicalName": "Cloud KMS",
  "discoveryVersion": "v1",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    }
  },
  "servicePath": "",
  "schemas": {
    "DestroyCryptoKeyVersionRequest": {
      "description": "Request message for KeyManagementService.DestroyCryptoKeyVersion.",
      "properties": {},
      "type": "object",
      "id": "DestroyCryptoKeyVersionRequest"
    },
    "ShowEffectiveAutokeyConfigResponse": {
      "description": "Response message for ShowEffectiveAutokeyConfig",
      "properties": {
        "keyProjectResolutionMode": {
          "description": "The KeyProjectResolutionMode for the AutokeyConfig.",
          "enumDescriptions": [
            "Default value. When KeyProjectResolutionMode is set to KEY_PROJECT_RESOLUTION_MODE_UNSPECIFIED for a folder and that folder has a key_project set, the folder acts like its KeyProjectResolutionMode is DEDICATED_KEY_PROJECT.",
            "Keys are created in a dedicated project specified by `key_project`.",
            "Keys are created in the same project as the resource requesting the key. The `key_project` must not be set when this mode is used.",
            "Disables the AutokeyConfig. When this mode is set, any AutokeyConfig from higher levels in the resource hierarchy are ignored for this resource and its descendants. This setting can be overridden by a more specific configuration at a lower level. For example, if Autokey is disabled on a folder, it can be re-enabled on a sub-folder or project within that folder by setting a different mode (e.g., DEDICATED_KEY_PROJECT or RESOURCE_PROJECT)."
          ],
          "type": "string",
          "enum": [
            "KEY_PROJECT_RESOLUTION_MODE_UNSPECIFIED",
            "DEDICATED_KEY_PROJECT",
            "RESOURCE_PROJECT",
            "DISABLED"
          ]
        },
        "keyProject": {
          "description": "Name of the key project configured in the ancestry of the project or folder.",
          "type": "string"
        },
        "source": {
          "$ref": "Source",
          "description": "Source of the effective AutokeyConfig."
        }
      },
      "type": "object",
      "id": "ShowEffectiveAutokeyConfigResponse"
    },
    "ListRetiredResourcesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in ListRetiredResourcesRequest.page_token to retrieve the next page of results."
        },
        "retiredResources": {
          "type": "array",
          "items": {
            "$ref": "RetiredResource"
          },
          "description": "The list of RetiredResources."
        },
        "totalSize": {
          "type": "string",
          "format": "int64",
          "description": "The total number of RetiredResources that matched the query."
        }
      },
      "type": "object",
      "id": "ListRetiredResourcesResponse",
      "description": "Response message for KeyManagementService.ListRetiredResources."
    },
    "AsymmetricDecryptResponse": {
      "id": "AsymmetricDecryptResponse",
      "description": "Response message for KeyManagementService.AsymmetricDecrypt.",
      "type": "object",
      "properties": {
        "verifiedCiphertextCrc32c": {
          "type": "boolean",
          "description": "Integrity verification field. A flag indicating whether AsymmetricDecryptRequest.ciphertext_crc32c was received by KeyManagementService and used for the integrity verification of the ciphertext. A false value of this field indicates either that AsymmetricDecryptRequest.ciphertext_crc32c was left unset or that it was not delivered to KeyManagementService. If you've set AsymmetricDecryptRequest.ciphertext_crc32c but this field is still false, discard the response and perform a limited number of retries."
        },
        "plaintext": {
          "type": "string",
          "description": "The decrypted data originally encrypted with the matching public key.",
          "format": "byte"
        },
        "plaintextCrc32c": {
          "type": "string",
          "description": "Integrity verification field. A CRC32C checksum of the returned AsymmetricDecryptResponse.plaintext. An integrity check of AsymmetricDecryptResponse.plaintext can be performed by computing the CRC32C checksum of AsymmetricDecryptResponse.plaintext and comparing your results to this field. Discard the response in case of non-matching checksum values, and perform a limited number of retries. A persistent mismatch may indicate an issue in your computation of the CRC32C checksum. Note: This field is defined as int64 for reasons of compatibility across different languages. However, it is a non-negative integer, which will never exceed 2^32-1, and can be safely downconverted to uint32 in languages that support this type.",
          "format": "int64"
        },
        "protectionLevel": {
          "enumDescriptions": [
            "Not specified.",
            "Crypto operations are performed in software.",
            "Crypto operations are performed in a Hardware Security Module.",
            "Crypto operations are performed by an external key manager.",
            "Crypto operations are performed in an EKM-over-VPC backend.",
            "Crypto operations are performed in a single-tenant HSM."
          ],
          "description": "The ProtectionLevel of the CryptoKeyVersion used in decryption.",
          "type": "string",
          "enum": [
            "PROTECTION_LEVEL_UNSPECIFIED",
            "SOFTWARE",
            "HSM",
            "EXTERNAL",
            "EXTERNAL_VPC",
            "HSM_SINGLE_TENANT"
          ]
        }
      }
    },
    "CryptoKey": {
      "type": "object",
      "properties": {
        "cryptoKeyBackend": {
          "type": "string",
          "description": "Immutable. The resource name of the backend environment where the key material for all CryptoKeyVersions associated with this CryptoKey reside and where all related cryptographic operations are performed. Only applicable if CryptoKeyVersions have a ProtectionLevel of EXTERNAL_VPC, with the resource name in the format `projects/*/locations/*/ekmConnections/*`. Only applicable if CryptoKeyVersions have a ProtectionLevel of HSM_SINGLE_TENANT, with the resource name in the format `projects/*/locations/*/singleTenantHsmInstances/*`. Note, this list is non-exhaustive and may apply to additional ProtectionLevels in the future."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels with user-defined metadata. For more information, see [Labeling Keys](https://cloud.google.com/kms/docs/labeling-keys).",
          "type": "object"
        },
        "destroyScheduledDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "Immutable. The period of time that versions of this key spend in the DESTROY_SCHEDULED state before transitioning to DESTROYED. If not specified at creation time, the default duration is 30 days."
        },
        "name": {
          "description": "Output only. The resource name for this CryptoKey in the format `projects/*/locations/*/keyRings/*/cryptoKeys/*`.",
          "type": "string",
          "readOnly": true
        },
        "versionTemplate": {
          "description": "A template describing settings for new CryptoKeyVersion instances. The properties of new CryptoKeyVersion instances created by either CreateCryptoKeyVersion or auto-rotation are controlled by this template.",
          "$ref": "CryptoKeyVersionTemplate"
        },
        "purpose": {
          "enumDescriptions": [
            "Not specified.",
            "CryptoKeys with this purpose may be used with Encrypt and Decrypt.",
            "CryptoKeys with this purpose may be used with AsymmetricSign and GetPublicKey.",
            "CryptoKeys with this purpose may be used with AsymmetricDecrypt and GetPublicKey.",
            "CryptoKeys with this purpose may be used with RawEncrypt and RawDecrypt. This purpose is meant to be used for interoperable symmetric encryption and does not support automatic CryptoKey rotation.",
            "CryptoKeys with this purpose may be used with MacSign.",
            "CryptoKeys with this purpose may be used with GetPublicKey and Decapsulate.",
            "CryptoKeys with this purpose may be used for AES key"
          ],
          "type": "string",
          "enum": [
            "CRYPTO_KEY_PURPOSE_UNSPECIFIED",
            "ENCRYPT_DECRYPT",
            "ASYMMETRIC_SIGN",
            "ASYMMETRIC_DECRYPT",
            "RAW_ENCRYPT_DECRYPT",
            "MAC",
            "KEY_ENCAPSULATION",
            "AES_WRAPPING"
          ],
          "description": "Immutable. The immutable purpose of this CryptoKey."
        },
        "nextRotationTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "At next_rotation_time, the Key Management Service will automatically: 1. Create a new version of this CryptoKey. 2. Mark the new version as primary. Key rotations performed manually via CreateCryptoKeyVersion and UpdateCryptoKeyPrimaryVersion do not affect next_rotation_time. Keys with purpose ENCRYPT_DECRYPT support automatic rotation. For other keys, this field must be omitted."
        },
        "rotationPeriod": {
          "format": "google-duration",
          "type": "string",
          "description": "next_rotation_time will be advanced by this period when the service automatically rotates a key. Must be at least 24 hours and at most 876,000 hours. If rotation_period is set, next_rotation_time must also be set. Keys with purpose ENCRYPT_DECRYPT support automatic rotation. For other keys, this field must be omitted."
        },
        "importOnly": {
          "type": "boolean",
          "description": "Immutable. Whether this key may contain imported versions only."
        },
        "keyAccessJustificationsPolicy": {
          "description": "Optional. The policy used for Key Access Justifications Policy Enforcement. If this field is present and this key is enrolled in Key Access Justifications Policy Enforcement, the policy will be evaluated in encrypt, decrypt, and sign operations, and the operation will fail if rejected by the policy. The policy is defined by specifying zero or more allowed justification codes. https://cloud.google.com/assured-workloads/key-access-justifications/docs/justification-codes By default, this field is absent, and all justification codes are allowed. If the `key_access_justifications_policy.allowed_access_reasons` is empty (zero allowed justification code), all encrypt, decrypt, and sign operations will fail.",
          "$ref": "KeyAccessJustificationsPolicy"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time at which this CryptoKey was created.",
          "type": "string"
        },
        "primary": {
          "description": "Output only. A copy of the \"primary\" CryptoKeyVersion that will be used by Encrypt when this CryptoKey is given in EncryptRequest.name. The CryptoKey's primary version can be updated via UpdateCryptoKeyPrimaryVersion. Keys with purpose ENCRYPT_DECRYPT may have a primary. For other keys, this field will be omitted.",
          "readOnly": true,
          "$ref": "CryptoKeyVersion"
        }
      },
      "description": "A CryptoKey represents a logical key that can be used for cryptographic operations. A CryptoKey is made up of zero or more versions, which represent the actual key material used in cryptographic operations.",
      "id": "CryptoKey"
    },
    "ListCryptoKeyVersionsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve next page of results. Pass this value in ListCryptoKeyVersionsRequest.page_token to retrieve the next page of results.",
          "type": "string"
        },
        "totalSize": {
          "description": "The total number of CryptoKeyVersions that matched the query. This field is not populated if ListCryptoKeyVersionsRequest.filter is applied.",
          "format": "int32",
          "type": "integer"
        },
        "cryptoKeyVersions": {
          "type": "array",
          "description": "The list of CryptoKeyVersions.",
          "items": {
            "$ref": "CryptoKeyVersion"
          }
        }
      },
      "id": "ListCryptoKeyVersionsResponse",
      "description": "Response message for KeyManagementService.ListCryptoKeyVersions.",
      "type": "object"
    },
    "RefreshSingleTenantHsmInstance": {
      "properties": {},
      "description": "Refreshes the SingleTenantHsmInstance. This operation must be performed periodically to keep the SingleTenantHsmInstance active. This operation must be performed before unrefreshed_duration_until_disable has passed. The SingleTenantHsmInstance must be in the ACTIVE state to perform this operation.",
      "type": "object",
      "id": "RefreshSingleTenantHsmInstance"
    },
    "ListCryptoKeysResponse": {
      "id": "ListCryptoKeysResponse",
      "properties": {
        "totalSize": {
          "description": "The total number of CryptoKeys that matched the query. This field is not populated if ListCryptoKeysRequest.filter is applied.",
          "format": "int32",
          "type": "integer"
        },
        "nextPageToken": {
          "description": "A token to retrieve next page of results. Pass this value in ListCryptoKeysRequest.page_token to retrieve the next page of results.",
          "type": "string"
        },
        "cryptoKeys": {
          "description": "The list of CryptoKeys.",
          "items": {
            "$ref": "CryptoKey"
          },
          "type": "array"
        }
      },
      "description": "Response message for KeyManagementService.ListCryptoKeys.",
      "type": "object"
    },
    "ListLocationsResponse": {
      "type": "object",
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      }
    },
    "AutokeyConfig": {
      "properties": {
        "keyProject": {
          "type": "string",
          "description": "Optional. Name of the key project, e.g. `projects/{PROJECT_ID}` or `projects/{PROJECT_NUMBER}`, where Cloud KMS Autokey will provision a new CryptoKey when a KeyHandle is created. On UpdateAutokeyConfig, the caller will require `cloudkms.cryptoKeys.setIamPolicy` permission on this key project. Once configured, for Cloud KMS Autokey to function properly, this key project must have the Cloud KMS API activated and the Cloud KMS Service Agent for this key project must be granted the `cloudkms.admin` role (or pertinent permissions). A request with an empty key project field will clear the configuration."
        },
        "name": {
          "description": "Identifier. Name of the AutokeyConfig resource, e.g. `folders/{FOLDER_NUMBER}/autokeyConfig`, `projects/{PROJECT_NUMBER}/autokeyConfig`, or `projects/{PROJECT_ID}/autokeyConfig`.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "KEY_PROJECT_DELETED",
            "UNINITIALIZED",
            "KEY_PROJECT_PERMISSION_DENIED"
          ],
          "enumDescriptions": [
            "The state of the AutokeyConfig is unspecified.",
            "The AutokeyConfig is currently active.",
            "A previously configured key project has been deleted and the current AutokeyConfig is unusable.",
            "The AutokeyConfig is not yet initialized or has been reset to its default uninitialized state.",
            "Deprecated: This state is not returned by the backend."
          ],
          "readOnly": true,
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            true
          ],
          "description": "Output only. The state for the AutokeyConfig."
        },
        "etag": {
          "type": "string",
          "description": "Optional. A checksum computed by the server based on the value of other fields. This may be sent on update requests to ensure that the client has an up-to-date value before proceeding. The request will be rejected with an ABORTED error on a mismatched etag."
        },
        "keyProjectResolutionMode": {
          "enumDescriptions": [
            "Default value. When KeyProjectResolutionMode is set to KEY_PROJECT_RESOLUTION_MODE_UNSPECIFIED for a folder and that folder has a key_project set, the folder acts like its KeyProjectResolutionMode is DEDICATED_KEY_PROJECT.",
            "Keys are created in a dedicated project specified by `key_project`.",
            "Keys are created in the same project as the resource requesting the key. The `key_project` must not be set when this mode is used.",
            "Disables the AutokeyConfig. When this mode is set, any AutokeyConfig from higher levels in the resource hierarchy are ignored for this resource and its descendants. This setting can be overridden by a more specific configuration at a lower level. For example, if Autokey is disabled on a folder, it can be re-enabled on a sub-folder or project within that folder by setting a different mode (e.g., DEDICATED_KEY_PROJECT or RESOURCE_PROJECT)."
          ],
          "type": "string",
          "enum": [
            "KEY_PROJECT_RESOLUTION_MODE_UNSPECIFIED",
            "DEDICATED_KEY_PROJECT",
            "RESOURCE_PROJECT",
            "DISABLED"
          ],
          "description": "Optional. KeyProjectResolutionMode for the AutokeyConfig. Valid values are `DEDICATED_KEY_PROJECT`, `RESOURCE_PROJECT`, or `DISABLED`."
        }
      },
      "type": "object",
      "description": "Cloud KMS Autokey configuration for a project or folder.",
      "id": "AutokeyConfig"
    },
    "AsymmetricDecryptRequest": {
      "description": "Request message for KeyManagementService.AsymmetricDecrypt.",
      "properties": {
        "ciphertext": {
          "type": "string",
          "description": "Required. The data encrypted with the named CryptoKeyVersion's public key using OAEP.",
          "format": "byte"
        },
        "ciphertextCrc32c": {
          "type": "string",
          "description": "Optional. An optional CRC32C checksum of the AsymmetricDecryptRequest.ciphertext. If specified, KeyManagementService will verify the integrity of the received AsymmetricDecryptRequest.ciphertext using this checksum. KeyManagementService will report an error if the checksum verification fails. If you receive a checksum error, your client should verify that CRC32C(AsymmetricDecryptRequest.ciphertext) is equal to AsymmetricDecryptRequest.ciphertext_crc32c, and if so, perform a limited number of retries. A persistent mismatch may indicate an issue in your computation of the CRC32C checksum. Note: This field is defined as int64 for reasons of compatibility across different languages. However, it is a non-negative integer, which will never exceed 2^32-1, and can be safely downconverted to uint32 in languages that support this type.",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "AsymmetricDecryptRequest"
    },
    "CertificateChains": {
      "properties": {
        "googlePartitionCerts": {
          "items": {
            "type": "string"
          },
          "description": "Google partition certificate chain corresponding to the attestation.",
          "type": "array"
        },
        "caviumCerts": {
          "type": "array",
          "description": "Cavium certificate chain corresponding to the attestation.",
          "items": {
            "type": "string"
          }
        },
        "googleCardCerts": {
          "type": "array",
          "description": "Google card certificate chain corresponding to the attestation.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Certificate chains needed to verify the attestation. Certificates in chains are PEM-encoded and are ordered based on https://tools.ietf.org/html/rfc5246#section-7.4.2.",
      "id": "CertificateChains",
      "type": "object"
    },
    "KeyAccessJustificationsPolicyConfig": {
      "id": "KeyAccessJustificationsPolicyConfig",
      "properties": {
        "defaultPolicyAvailable": {
          "type": "boolean",
          "description": "Output only. Indicates whether this parent resource is available to default policy feature. Please consult [the prerequisite of default policy feature](https://cloud.google.com/assured-workloads/key-access-justifications/docs/set-default-policy#before) for more details.",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. Represents the resource name for this KeyAccessJustificationsPolicyConfig in the format of \"{organizations|folders|projects}/*/kajPolicyConfig\".",
          "type": "string"
        },
        "defaultKeyAccessJustificationPolicy": {
          "description": "Optional. Specifies the default key access justifications (KAJ) policy used when a CryptoKey is created in this folder. This is only used when a Key Access Justifications policy is not provided in the CreateCryptoKeyRequest. This overrides any default policies in its ancestry. If this field is unset, or is set but contains an empty allowed_access_reasons list, no default Key Access Justifications (KAJ) policy configuration is active. In this scenario, all newly created keys will default to an \"allow-all\" policy.",
          "$ref": "KeyAccessJustificationsPolicy"
        }
      },
      "description": "Represents a singleton configuration for Key Access Justifications policies.",
      "type": "object"
    },
    "ServiceResolver": {
      "id": "ServiceResolver",
      "type": "object",
      "description": "A ServiceResolver represents an EKM replica that can be reached within an EkmConnection.",
      "properties": {
        "endpointFilter": {
          "type": "string",
          "description": "Optional. The filter applied to the endpoints of the resolved service. If no filter is specified, all endpoints will be considered. An endpoint will be chosen arbitrarily from the filtered list for each request. For endpoint filter syntax and examples, see https://cloud.google.com/service-directory/docs/reference/rpc/google.cloud.servicedirectory.v1#resolveservicerequest."
        },
        "hostname": {
          "description": "Required. The hostname of the EKM replica used at TLS and HTTP layers.",
          "type": "string"
        },
        "serverCertificates": {
          "items": {
            "$ref": "Certificate"
          },
          "type": "array",
          "description": "Required. A list of leaf server certificates used to authenticate HTTPS connections to the EKM replica. Currently, a maximum of 10 Certificate is supported."
        },
        "serviceDirectoryService": {
          "type": "string",
          "description": "Required. The resource name of the Service Directory service pointing to an EKM replica, in the format `projects/*/locations/*/namespaces/*/services/*`."
        }
      }
    },
    "QuorumParameters": {
      "description": "Parameters of quorum approval for the SingleTenantHsmInstanceProposal.",
      "properties": {
        "challenges": {
          "description": "Output only. The challenges to be signed by 2FA keys for quorum auth. M of N of these challenges are required to be signed to approve the operation.",
          "items": {
            "$ref": "Challenge"
          },
          "type": "array",
          "readOnly": true
        },
        "approvedTwoFactorPublicKeyPems": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. The public keys associated with the 2FA keys that have already approved the SingleTenantHsmInstanceProposal by signing the challenge.",
          "items": {
            "type": "string"
          }
        },
        "requiredApproverCount": {
          "readOnly": true,
          "description": "Output only. The required numbers of approvers. This is the M value used for M of N quorum auth. It is less than the number of public keys.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "QuorumParameters"
    },
    "ImportJob": {
      "description": "An ImportJob can be used to create CryptoKeys and CryptoKeyVersions using pre-existing key material, generated outside of Cloud KMS. When an ImportJob is created, Cloud KMS will generate a \"wrapping key\", which is a public/private key pair. You use the wrapping key to encrypt (also known as wrap) the pre-existing key material to protect it during the import process. The nature of the wrapping key depends on the choice of import_method. When the wrapping key generation is complete, the state will be set to ACTIVE and the public_key can be fetched. The fetched public key can then be used to wrap your pre-existing key material. Once the key material is wrapped, it can be imported into a new CryptoKeyVersion in an existing CryptoKey by calling ImportCryptoKeyVersion. Multiple CryptoKeyVersions can be imported with a single ImportJob. Cloud KMS uses the private key portion of the wrapping key to unwrap the key material. Only Cloud KMS has access to the private key. An ImportJob expires 3 days after it is created. Once expired, Cloud KMS will no longer be able to import or unwrap any key material that was wrapped with the ImportJob's public key. For more information, see [Importing a key](https://cloud.google.com/kms/docs/importing-a-key).",
      "id": "ImportJob",
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name for this ImportJob in the format `projects/*/locations/*/keyRings/*/importJobs/*`."
        },
        "cryptoKeyBackend": {
          "type": "string",
          "description": "Immutable. The resource name of the backend environment where the key material for the wrapping key resides and where all related cryptographic operations are performed. Currently, this field is only populated for keys stored in HSM_SINGLE_TENANT. Note, this list is non-exhaustive and may apply to additional ProtectionLevels in the future. Supported resources: * `\"projects/*/locations/*/singleTenantHsmInstances/*\"`"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time at which this ImportJob was created.",
          "type": "string",
          "readOnly": true
        },
        "importMethod": {
          "type": "string",
          "enum": [
            "IMPORT_METHOD_UNSPECIFIED",
            "RSA_OAEP_3072_SHA1_AES_256",
            "RSA_OAEP_4096_SHA1_AES_256",
            "RSA_OAEP_3072_SHA256_AES_256",
            "RSA_OAEP_4096_SHA256_AES_256",
            "RSA_OAEP_3072_SHA256",
            "RSA_OAEP_4096_SHA256",
            "HPKE_KEM_ML_KEM_768_HKDF_SHA256_AES_256_GCM",
            "HPKE_KEM_ML_KEM_1024_HKDF_SHA256_AES_256_GCM",
            "HPKE_KEM_XWING_HKDF_SHA256_AES_256_GCM"
          ],
          "description": "Required. Immutable. The wrapping method to be used for incoming key material.",
          "enumDescriptions": [
            "Not specified.",
            "This ImportMethod represents the CKM_RSA_AES_KEY_WRAP key wrapping scheme defined in the PKCS #11 standard. In summary, this involves wrapping the raw key with an ephemeral AES key, and wrapping the ephemeral AES key with a 3072 bit RSA key. For more details, see [RSA AES key wrap mechanism](http://docs.oasis-open.org/pkcs11/pkcs11-curr/v2.40/cos01/pkcs11-curr-v2.40-cos01.html#_Toc408226908).",
            "This ImportMethod represents the CKM_RSA_AES_KEY_WRAP key wrapping scheme defined in the PKCS #11 standard. In summary, this involves wrapping the raw key with an ephemeral AES key, and wrapping the ephemeral AES key with a 4096 bit RSA key. For more details, see [RSA AES key wrap mechanism](http://docs.oasis-open.org/pkcs11/pkcs11-curr/v2.40/cos01/pkcs11-curr-v2.40-cos01.html#_Toc408226908).",
            "This ImportMethod represents the CKM_RSA_AES_KEY_WRAP key wrapping scheme defined in the PKCS #11 standard. In summary, this involves wrapping the raw key with an ephemeral AES key, and wrapping the ephemeral AES key with a 3072 bit RSA key. For more details, see [RSA AES key wrap mechanism](http://docs.oasis-open.org/pkcs11/pkcs11-curr/v2.40/cos01/pkcs11-curr-v2.40-cos01.html#_Toc408226908).",
            "This ImportMethod represents the CKM_RSA_AES_KEY_WRAP key wrapping scheme defined in the PKCS #11 standard. In summary, this involves wrapping the raw key with an ephemeral AES key, and wrapping the ephemeral AES key with a 4096 bit RSA key. For more details, see [RSA AES key wrap mechanism](http://docs.oasis-open.org/pkcs11/pkcs11-curr/v2.40/cos01/pkcs11-curr-v2.40-cos01.html#_Toc408226908).",
            "This ImportMethod represents RSAES-OAEP with a 3072 bit RSA key. The key material to be imported is wrapped directly with the RSA key. Due to technical limitations of RSA wrapping, this method cannot be used to wrap RSA keys for import.",
            "This ImportMethod represents RSAES-OAEP with a 4096 bit RSA key. The key material to be imported is wrapped directly with the RSA key. Due to technical limitations of RSA wrapping, this method cannot be used to wrap RSA keys for import.",
            "Represents the Hybrid Public Key Encryption (HPKE) Scheme originally defined in [RFC 9180](https://www.rfc-editor.org/rfc/rfc9180). It involves wrapping the raw key with an ephemeral AES key, derived with HKDF-SHA256 from an encryption context, that is, in turn obtained from the receiver’s public key with the help of the ML-KEM-768 KEM. For more details, see the [ML-KEM HPKE standard](http://datatracker.ietf.org/doc/draft-ietf-hpke-pq/01/).",
            "Represents the Hybrid Public Key Encryption (HPKE) Scheme originally defined in [RFC 9180](https://www.rfc-editor.org/rfc/rfc9180). It involves wrapping the raw key with an ephemeral AES key, derived with HKDF-SHA256 from an encryption context, that is, in turn obtained from the receiver’s public key with the help of the ML-KEM-1024 KEM. For more details, see the [ML-KEM HPKE standard](http://datatracker.ietf.org/doc/draft-ietf-hpke-pq/01/).",
            "Represents the Hybrid Public Key Encryption (HPKE) Scheme originally defined in [RFC 9180](https://www.rfc-editor.org/rfc/rfc9180). It involves wrapping the raw key with an ephemeral AES key, derived with HKDF-SHA256 from an encryption context, that is, in turn obtained from the receiver’s public key with the help of the X-Wing hybrid KEM. For more details, see the [X-Wing standard](http://datatracker.ietf.org/doc/draft-connolly-cfrg-xwing-kem/09/)."
          ]
        },
        "attestation": {
          "description": "Output only. Statement that was generated and signed by the key creator (for example, an HSM) at key creation time. Use this statement to verify attributes of the key as stored on the HSM, independently of Google. Only present if the chosen ImportMethod is one with a protection level of HSM.",
          "readOnly": true,
          "$ref": "KeyOperationAttestation"
        },
        "state": {
          "type": "string",
          "enum": [
            "IMPORT_JOB_STATE_UNSPECIFIED",
            "PENDING_GENERATION",
            "ACTIVE",
            "EXPIRED"
          ],
          "enumDescriptions": [
            "Not specified.",
            "The wrapping key for this job is still being generated. It may not be used. Cloud KMS will automatically mark this job as ACTIVE as soon as the wrapping key is generated.",
            "This job may be used in CreateCryptoKey and CreateCryptoKeyVersion requests.",
            "This job can no longer be used and may not leave this state once entered."
          ],
          "readOnly": true,
          "description": "Output only. The current state of the ImportJob, indicating if it can be used."
        },
        "publicKeyFormat": {
          "readOnly": true,
          "enumDescriptions": [
            "If the public_key_format field is not specified: - For PQC algorithms, an error will be returned. - For non-PQC algorithms, the default format is PEM, and the field pem will be populated. Otherwise, the public key will be exported through the public_key field in the requested format.",
            "The returned public key will be encoded in PEM format. See the [RFC7468](https://tools.ietf.org/html/rfc7468) sections for [General Considerations](https://tools.ietf.org/html/rfc7468#section-2) and [Textual Encoding of Subject Public Key Info] (https://tools.ietf.org/html/rfc7468#section-13) for more information.",
            "The returned public key will be encoded in DER format (the PrivateKeyInfo structure from RFC 5208).",
            "This is supported only for PQC algorithms. The key material is returned in the format defined by NIST PQC standards (FIPS 203, FIPS 204, and FIPS 205).",
            "The returned public key is in raw bytes format defined in its standard https://datatracker.ietf.org/doc/draft-connolly-cfrg-xwing-kem."
          ],
          "description": "Output only. Specifies the WrappingPublicKey format provided by the customer in the KeyManagementService.GetImportJob request.",
          "type": "string",
          "enum": [
            "PUBLIC_KEY_FORMAT_UNSPECIFIED",
            "PEM",
            "DER",
            "NIST_PQC",
            "XWING_RAW_BYTES"
          ]
        },
        "expireEventTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time this ImportJob expired. Only present if state is EXPIRED."
        },
        "generateTime": {
          "readOnly": true,
          "description": "Output only. The time this ImportJob's key material was generated.",
          "type": "string",
          "format": "google-datetime"
        },
        "expireTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time at which this ImportJob is scheduled for expiration and can no longer be used to import key material.",
          "type": "string"
        },
        "publicKey": {
          "readOnly": true,
          "$ref": "WrappingPublicKey",
          "description": "Output only. The public key with which to wrap key material prior to import. Only returned if state is ACTIVE."
        },
        "protectionLevel": {
          "description": "Required. Immutable. The protection level of the ImportJob. This must match the protection_level of the version_template on the CryptoKey you attempt to import into.",
          "enumDescriptions": [
            "Not specified.",
            "Crypto operations are performed in software.",
            "Crypto operations are performed in a Hardware Security Module.",
            "Crypto operations are performed by an external key manager.",
            "Crypto operations are performed in an EKM-over-VPC backend.",
            "Crypto operations are performed in a single-tenant HSM."
          ],
          "type": "string",
          "enum": [
            "PROTECTION_LEVEL_UNSPECIFIED",
            "SOFTWARE",
            "HSM",
            "EXTERNAL",
            "EXTERNAL_VPC",
            "HSM_SINGLE_TENANT"
          ]
        }
      }
    },
    "ListKeyHandlesResponse": {
      "properties": {
        "keyHandles": {
          "type": "array",
          "description": "Resulting KeyHandles.",
          "items": {
            "$ref": "KeyHandle"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve next page of results. Pass this value in ListKeyHandlesRequest.page_token to retrieve the next page of results."
        }
      },
      "description": "Response message for Autokey.ListKeyHandles.",
      "type": "object",
      "id": "ListKeyHandlesResponse"
    },
    "Operation": {
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "RemoveQuorumMember": {
      "description": "Remove a quorum member from the SingleTenantHsmInstance. This will reduce total_approver_count by 1. The SingleTenantHsmInstance must be in the ACTIVE state to perform this operation.",
      "properties": {
        "twoFactorPublicKeyPem": {
          "type": "string",
          "description": "Required. The public key associated with the 2FA key for the quorum member to remove. Public keys must be associated with RSA 2048 keys."
        }
      },
      "id": "RemoveQuorumMember",
      "type": "object"
    },
    "ExternalProtectionLevelOptions": {
      "type": "object",
      "id": "ExternalProtectionLevelOptions",
      "properties": {
        "externalKeyUri": {
          "description": "Optional. The URI for an external resource that this CryptoKeyVersion represents.",
          "type": "string"
        },
        "ekmConnectionKeyPath": {
          "type": "string",
          "description": "Optional. The path to the external key material on the EKM when using EkmConnection e.g., \"v0/my/key\". Set this field instead of external_key_uri when using an EkmConnection."
        },
        "ekmConnectionBackendOverride": {
          "type": "string",
          "description": "Optional. The resource name of the backend environment where the key material of CryptoKeyVersions is associated with. Setting this field overrides the crypto_key_backend. This field may be set when CryptoKeyVersions is set to EXTERNAL_VPC. Format: `projects/*/locations/*/ekmConnections/*`."
        }
      },
      "description": "ExternalProtectionLevelOptions stores a group of additional fields for configuring a CryptoKeyVersion that are specific to the EXTERNAL protection level and EXTERNAL_VPC protection levels."
    },
    "VerifyConnectivityResponse": {
      "id": "VerifyConnectivityResponse",
      "type": "object",
      "properties": {},
      "description": "Response message for EkmService.VerifyConnectivity."
    },
    "UpgradeKeyTrust": {
      "properties": {
        "twoFactorPublicKeyPem": {
          "description": "Required. The public key associated with the 2FA key that will sign the login nonce for this operation.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the CryptoKeyVersion to promote."
        }
      },
      "description": "Promotes a key with the AES_WRAPPING purpose to a trusted wrapping key. The key must be in the ACTIVE state to perform this operation.",
      "type": "object",
      "id": "UpgradeKeyTrust"
    },
    "RegisterTwoFactorAuthKeys": {
      "id": "RegisterTwoFactorAuthKeys",
      "description": "Register 2FA keys for the SingleTenantHsmInstance. This operation requires all Challenges to be signed by 2FA keys. The SingleTenantHsmInstance must be in the PENDING_TWO_FACTOR_AUTH_REGISTRATION state to perform this operation.",
      "properties": {
        "twoFactorPublicKeyPems": {
          "type": "array",
          "description": "Required. The public keys associated with the 2FA keys for M of N quorum auth. Public keys must be associated with RSA 2048 keys.",
          "items": {
            "type": "string"
          }
        },
        "requiredApproverCount": {
          "description": "Required. The required numbers of approvers to set for the SingleTenantHsmInstance. This is the M value used for M of N quorum auth. Must be greater than or equal to 2 and less than or equal to total_approver_count - 1.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "ApproveSingleTenantHsmInstanceProposalRequest": {
      "properties": {
        "requiredActionQuorumReply": {
          "$ref": "RequiredActionQuorumReply",
          "description": "Required. The reply to RequiredActionQuorumParameters for approving the proposal."
        },
        "quorumReply": {
          "$ref": "QuorumReply",
          "description": "Required. The reply to QuorumParameters for approving the proposal."
        }
      },
      "description": "Request message for HsmManagement.ApproveSingleTenantHsmInstanceProposal.",
      "id": "ApproveSingleTenantHsmInstanceProposalRequest",
      "type": "object"
    },
    "LocationMetadata": {
      "properties": {
        "hsmAvailable": {
          "type": "boolean",
          "description": "Indicates whether CryptoKeys with protection_level HSM can be created in this location."
        },
        "ekmAvailable": {
          "type": "boolean",
          "description": "Indicates whether CryptoKeys with protection_level EXTERNAL can be created in this location."
        },
        "hsmSingleTenantAvailable": {
          "description": "Indicates whether CryptoKeys with protection_level HSM_SINGLE_TENANT can be created in this location.",
          "type": "boolean"
        }
      },
      "description": "Cloud KMS metadata for the given google.cloud.location.Location.",
      "type": "object",
      "id": "LocationMetadata"
    },
    "GenerateRandomBytesRequest": {
      "id": "GenerateRandomBytesRequest",
      "properties": {
        "lengthBytes": {
          "format": "int32",
          "description": "The length in bytes of the amount of randomness to retrieve. Minimum 8 bytes, maximum 1024 bytes.",
          "type": "integer"
        },
        "protectionLevel": {
          "type": "string",
          "enum": [
            "PROTECTION_LEVEL_UNSPECIFIED",
            "SOFTWARE",
            "HSM",
            "EXTERNAL",
            "EXTERNAL_VPC",
            "HSM_SINGLE_TENANT"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Crypto operations are performed in software.",
            "Crypto operations are performed in a Hardware Security Module.",
            "Crypto operations are performed by an external key manager.",
            "Crypto operations are performed in an EKM-over-VPC backend.",
            "Crypto operations are performed in a single-tenant HSM."
          ],
          "description": "The ProtectionLevel to use when generating the random data. Currently, only HSM protection level is supported."
        }
      },
      "description": "Request message for KeyManagementService.GenerateRandomBytes.",
      "type": "object"
    },
    "CryptoKeyVersionTemplate": {
      "type": "object",
      "description": "A CryptoKeyVersionTemplate specifies the properties to use when creating a new CryptoKeyVersion, either manually with CreateCryptoKeyVersion or automatically as a result of auto-rotation.",
      "properties": {
        "protectionLevel": {
          "description": "ProtectionLevel to use when creating a CryptoKeyVersion based on this template. Immutable. Defaults to SOFTWARE.",
          "enumDescriptions": [
            "Not specified.",
            "Crypto operations are performed in software.",
            "Crypto operations are performed in a Hardware Security Module.",
            "Crypto operations are performed by an external key manager.",
            "Crypto operations are performed in an EKM-over-VPC backend.",
            "Crypto operations are performed in a single-tenant HSM."
          ],
          "type": "string",
          "enum": [
            "PROTECTION_LEVEL_UNSPECIFIED",
            "SOFTWARE",
            "HSM",
            "EXTERNAL",
            "EXTERNAL_VPC",
            "HSM_SINGLE_TENANT"
          ]
        },
        "algorithm": {
          "description": "Required. Algorithm to use when creating a CryptoKeyVersion based on this template. For backwards compatibility, GOOGLE_SYMMETRIC_ENCRYPTION is implied if both this field is omitted and CryptoKey.purpose is ENCRYPT_DECRYPT.",
          "type": "string",
          "enum": [
            "CRYPTO_KEY_VERSION_ALGORITHM_UNSPECIFIED",
            "GOOGLE_SYMMETRIC_ENCRYPTION",
            "AES_128_GCM",
            "AES_256_GCM",
            "AES_128_CBC",
            "AES_256_CBC",
            "AES_128_CTR",
            "AES_256_CTR",
            "RSA_SIGN_PSS_2048_SHA256",
            "RSA_SIGN_PSS_3072_SHA256",
            "RSA_SIGN_PSS_4096_SHA256",
            "RSA_SIGN_PSS_4096_SHA512",
            "RSA_SIGN_PKCS1_2048_SHA256",
            "RSA_SIGN_PKCS1_3072_SHA256",
            "RSA_SIGN_PKCS1_4096_SHA256",
            "RSA_SIGN_PKCS1_4096_SHA512",
            "RSA_SIGN_RAW_PKCS1_2048",
            "RSA_SIGN_RAW_PKCS1_3072",
            "RSA_SIGN_RAW_PKCS1_4096",
            "RSA_DECRYPT_OAEP_2048_SHA256",
            "RSA_DECRYPT_OAEP_3072_SHA256",
            "RSA_DECRYPT_OAEP_4096_SHA256",
            "RSA_DECRYPT_OAEP_4096_SHA512",
            "RSA_DECRYPT_OAEP_2048_SHA1",
            "RSA_DECRYPT_OAEP_3072_SHA1",
            "RSA_DECRYPT_OAEP_4096_SHA1",
            "EC_SIGN_P256_SHA256",
            "EC_SIGN_P384_SHA384",
            "EC_SIGN_SECP256K1_SHA256",
            "EC_SIGN_ED25519",
            "HMAC_SHA256",
            "HMAC_SHA1",
            "HMAC_SHA384",
            "HMAC_SHA512",
            "HMAC_SHA224",
            "EXTERNAL_SYMMETRIC_ENCRYPTION",
            "ML_KEM_768",
            "ML_KEM_1024",
            "KEM_XWING",
            "PQ_SIGN_ML_DSA_44",
            "PQ_SIGN_ML_DSA_65",
            "PQ_SIGN_ML_DSA_87",
            "PQ_SIGN_SLH_DSA_SHA2_128S",
            "PQ_SIGN_HASH_SLH_DSA_SHA2_128S_SHA256",
            "PQ_SIGN_ML_DSA_44_EXTERNAL_MU",
            "PQ_SIGN_ML_DSA_65_EXTERNAL_MU",
            "PQ_SIGN_ML_DSA_87_EXTERNAL_MU",
            "KEM_ECDH_P256",
            "KEM_ECDH_P384",
            "AES_256_KWP"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Creates symmetric encryption keys.",
            "AES-GCM (Galois Counter Mode) using 128-bit keys.",
            "AES-GCM (Galois Counter Mode) using 256-bit keys.",
            "AES-CBC (Cipher Block Chaining Mode) using 128-bit keys.",
            "AES-CBC (Cipher Block Chaining Mode) using 256-bit keys.",
            "AES-CTR (Counter Mode) using 128-bit keys.",
            "AES-CTR (Counter Mode) using 256-bit keys.",
            "RSASSA-PSS 2048 bit key with a SHA256 digest.",
            "RSASSA-PSS 3072 bit key with a SHA256 digest.",
            "RSASSA-PSS 4096 bit key with a SHA256 digest.",
            "RSASSA-PSS 4096 bit key with a SHA512 digest.",
            "RSASSA-PKCS1-v1_5 with a 2048 bit key and a SHA256 digest.",
            "RSASSA-PKCS1-v1_5 with a 3072 bit key and a SHA256 digest.",
            "RSASSA-PKCS1-v1_5 with a 4096 bit key and a SHA256 digest.",
            "RSASSA-PKCS1-v1_5 with a 4096 bit key and a SHA512 digest.",
            "RSASSA-PKCS1-v1_5 signing without encoding, with a 2048 bit key.",
            "RSASSA-PKCS1-v1_5 signing without encoding, with a 3072 bit key.",
            "RSASSA-PKCS1-v1_5 signing without encoding, with a 4096 bit key.",
            "RSAES-OAEP 2048 bit key with a SHA256 digest.",
            "RSAES-OAEP 3072 bit key with a SHA256 digest.",
            "RSAES-OAEP 4096 bit key with a SHA256 digest.",
            "RSAES-OAEP 4096 bit key with a SHA512 digest.",
            "RSAES-OAEP 2048 bit key with a SHA1 digest.",
            "RSAES-OAEP 3072 bit key with a SHA1 digest.",
            "RSAES-OAEP 4096 bit key with a SHA1 digest.",
            "ECDSA on the NIST P-256 curve with a SHA256 digest. Other hash functions can also be used: https://cloud.google.com/kms/docs/create-validate-signatures#ecdsa_support_for_other_hash_algorithms",
            "ECDSA on the NIST P-384 curve with a SHA384 digest. Other hash functions can also be used: https://cloud.google.com/kms/docs/create-validate-signatures#ecdsa_support_for_other_hash_algorithms",
            "ECDSA on the non-NIST secp256k1 curve. This curve is only supported for HSM protection level. Other hash functions can also be used: https://cloud.google.com/kms/docs/create-validate-signatures#ecdsa_support_for_other_hash_algorithms",
            "EdDSA on the Curve25519 in pure mode (taking data as input).",
            "HMAC-SHA256 signing with a 256 bit key.",
            "HMAC-SHA1 signing with a 160 bit key.",
            "HMAC-SHA384 signing with a 384 bit key.",
            "HMAC-SHA512 signing with a 512 bit key.",
            "HMAC-SHA224 signing with a 224 bit key.",
            "Algorithm representing symmetric encryption by an external key manager.",
            "ML-KEM-768 (FIPS 203)",
            "ML-KEM-1024 (FIPS 203)",
            "X-Wing hybrid KEM combining ML-KEM-768 with X25519 following datatracker.ietf.org/doc/draft-connolly-cfrg-xwing-kem/.",
            "The post-quantum Module-Lattice-Based Digital Signature Algorithm, at security level 1. Randomized version.",
            "The post-quantum Module-Lattice-Based Digital Signature Algorithm, at security level 3. Randomized version.",
            "The post-quantum Module-Lattice-Based Digital Signature Algorithm, at security level 5. Randomized version.",
            "The post-quantum stateless hash-based digital signature algorithm, at security level 1. Randomized version.",
            "The post-quantum stateless hash-based digital signature algorithm, at security level 1. Randomized pre-hash version supporting SHA256 digests.",
            "The post-quantum Module-Lattice-Based Digital Signature Algorithm, at security level 1. Randomized version supporting externally-computed message representatives.",
            "The post-quantum Module-Lattice-Based Digital Signature Algorithm, at security level 3. Randomized version supporting externally-computed message representatives.",
            "The post-quantum Module-Lattice-Based Digital Signature Algorithm, at security level 5. Randomized version supporting externally-computed message representatives.",
            "Key encapsulation: Elliptic Curve Diffie-Hellman with NIST P-256 key that returns shared secret.",
            "Key encapsulation: Elliptic Curve Diffie-Hellman with NIST P-384 key that returns shared secret.",
            "AES key wrap with zero padding algorithm (RFC 5649). Can only be used by keys with purpose AES_WRAPPING."
          ]
        }
      },
      "id": "CryptoKeyVersionTemplate"
    },
    "Binding": {
      "properties": {
        "members": {
          "items": {
            "type": "string"
          },
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "type": "array"
        },
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
        }
      },
      "description": "Associates `members`, or principals, with a `role`.",
      "type": "object",
      "id": "Binding"
    },
    "ShowEffectiveKeyAccessJustificationsPolicyConfigResponse": {
      "properties": {
        "effectiveKajPolicy": {
          "$ref": "KeyAccessJustificationsPolicyConfig",
          "description": "Contains the effective KeyAccessJustificationsPolicyConfig."
        }
      },
      "description": "Represents a response message for KeyAccessJustificationsConfig.ShowEffectiveKeyAccessJustificationsPolicyConfig.",
      "type": "object",
      "id": "ShowEffectiveKeyAccessJustificationsPolicyConfigResponse"
    },
    "KeyAccessJustificationsEnrollmentConfig": {
      "type": "object",
      "description": "Represents the configuration of a protection level for a project's Key Access Justifications enrollment.",
      "id": "KeyAccessJustificationsEnrollmentConfig",
      "properties": {
        "policyEnforcement": {
          "description": "Indicates whether the project is enrolled in KAJ policy enforcement.",
          "type": "boolean"
        },
        "auditLogging": {
          "type": "boolean",
          "description": "Indicates whether the project has KAJ logging enabled."
        }
      }
    },
    "KeyRing": {
      "id": "KeyRing",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name for the KeyRing in the format `projects/*/locations/*/keyRings/*`."
        },
        "createTime": {
          "description": "Output only. The time at which this KeyRing was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "description": "A KeyRing is a toplevel logical grouping of CryptoKeys."
    },
    "ListSingleTenantHsmInstanceProposalsResponse": {
      "id": "ListSingleTenantHsmInstanceProposalsResponse",
      "properties": {
        "totalSize": {
          "description": "The total number of SingleTenantHsmInstanceProposals that matched the query. This field is not populated if ListSingleTenantHsmInstanceProposalsRequest.filter is applied.",
          "format": "int32",
          "type": "integer"
        },
        "nextPageToken": {
          "description": "A token to retrieve next page of results. Pass this value in ListSingleTenantHsmInstanceProposalsRequest.page_token to retrieve the next page of results.",
          "type": "string"
        },
        "singleTenantHsmInstanceProposals": {
          "description": "The list of SingleTenantHsmInstanceProposals.",
          "type": "array",
          "items": {
            "$ref": "SingleTenantHsmInstanceProposal"
          }
        }
      },
      "type": "object",
      "description": "Response message for HsmManagement.ListSingleTenantHsmInstanceProposals."
    },
    "TestIamPermissionsResponse": {
      "type": "object",
      "id": "TestIamPermissionsResponse",
      "description": "Response message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "ListSingleTenantHsmInstancesResponse": {
      "properties": {
        "singleTenantHsmInstances": {
          "description": "The list of SingleTenantHsmInstances.",
          "type": "array",
          "items": {
            "$ref": "SingleTenantHsmInstance"
          }
        },
        "totalSize": {
          "description": "The total number of SingleTenantHsmInstances that matched the query. This field is not populated if ListSingleTenantHsmInstancesRequest.filter is applied.",
          "type": "integer",
          "format": "int32"
        },
        "nextPageToken": {
          "description": "A token to retrieve next page of results. Pass this value in ListSingleTenantHsmInstancesRequest.page_token to retrieve the next page of results.",
          "type": "string"
        }
      },
      "description": "Response message for HsmManagement.ListSingleTenantHsmInstances.",
      "id": "ListSingleTenantHsmInstancesResponse",
      "type": "object"
    },
    "Certificate": {
      "description": "A Certificate represents an X.509 certificate used to authenticate HTTPS connections to EKM replicas.",
      "type": "object",
      "id": "Certificate",
      "properties": {
        "serialNumber": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The certificate serial number as a hex string. Only present if parsed is true."
        },
        "rawDer": {
          "type": "string",
          "format": "byte",
          "description": "Required. The raw certificate bytes in DER format."
        },
        "notBeforeTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The certificate is not valid before this time. Only present if parsed is true.",
          "format": "google-datetime"
        },
        "notAfterTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The certificate is not valid after this time. Only present if parsed is true.",
          "format": "google-datetime"
        },
        "subjectAlternativeDnsNames": {
          "items": {
            "type": "string"
          },
          "description": "Output only. The subject Alternative DNS names. Only present if parsed is true.",
          "readOnly": true,
          "type": "array"
        },
        "subject": {
          "readOnly": true,
          "description": "Output only. The subject distinguished name in RFC 2253 format. Only present if parsed is true.",
          "type": "string"
        },
        "sha256Fingerprint": {
          "type": "string",
          "description": "Output only. The SHA-256 certificate fingerprint as a hex string. Only present if parsed is true.",
          "readOnly": true
        },
        "parsed": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. True if the certificate was parsed successfully."
        },
        "issuer": {
          "description": "Output only. The issuer distinguished name in RFC 2253 format. Only present if parsed is true.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "SetIamPolicyRequest": {
      "type": "object",
      "properties": {
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "format": "google-fieldmask",
          "type": "string"
        },
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        }
      },
      "description": "Request message for `SetIamPolicy` method.",
      "id": "SetIamPolicyRequest"
    },
    "RestoreCryptoKeyVersionRequest": {
      "properties": {},
      "id": "RestoreCryptoKeyVersionRequest",
      "description": "Request message for KeyManagementService.RestoreCryptoKeyVersion.",
      "type": "object"
    },
    "Challenge": {
      "properties": {
        "publicKeyPem": {
          "type": "string",
          "description": "Output only. The public key associated with the 2FA key that should sign the challenge.",
          "readOnly": true
        },
        "challenge": {
          "format": "byte",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The challenge to be signed by the 2FA key indicated by the public key."
        }
      },
      "description": "A challenge to be signed by a 2FA key.",
      "id": "Challenge",
      "type": "object"
    },
    "CryptoKeyVersion": {
      "properties": {
        "destroyTime": {
          "description": "Output only. The time this CryptoKeyVersion's key material is scheduled for destruction. Only present if state is DESTROY_SCHEDULED.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "reimportEligible": {
          "type": "boolean",
          "description": "Output only. Whether or not this key version is eligible for reimport, by being specified as a target in ImportCryptoKeyVersionRequest.crypto_key_version.",
          "readOnly": true
        },
        "generationFailureReason": {
          "readOnly": true,
          "description": "Output only. The root cause of the most recent generation failure. Only present if state is GENERATION_FAILED.",
          "type": "string"
        },
        "generateTime": {
          "type": "string",
          "description": "Output only. The time this CryptoKeyVersion's key material was generated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "importTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time at which this CryptoKeyVersion's key material was most recently imported.",
          "type": "string"
        },
        "externalProtectionLevelOptions": {
          "description": "ExternalProtectionLevelOptions stores a group of additional fields for configuring a CryptoKeyVersion that are specific to the EXTERNAL protection level and EXTERNAL_VPC protection levels.",
          "$ref": "ExternalProtectionLevelOptions"
        },
        "hsmTrusted": {
          "description": "Output only. Field indicating that the key wrapping key is trusted. This field is only valid for key purpose AES_256_WRAPPING, and protection level HSM_SINGLE_TENANT.",
          "readOnly": true,
          "type": "boolean"
        },
        "destroyEventTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time this CryptoKeyVersion's key material was destroyed. Only present if state is DESTROYED."
        },
        "externalDestructionFailureReason": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The root cause of the most recent external destruction failure. Only present if state is EXTERNAL_DESTRUCTION_FAILED."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time at which this CryptoKeyVersion was created.",
          "type": "string"
        },
        "protectionLevel": {
          "type": "string",
          "enum": [
            "PROTECTION_LEVEL_UNSPECIFIED",
            "SOFTWARE",
            "HSM",
            "EXTERNAL",
            "EXTERNAL_VPC",
            "HSM_SINGLE_TENANT"
          ],
          "description": "Output only. The ProtectionLevel describing how crypto operations are performed with this CryptoKeyVersion.",
          "readOnly": true,
          "enumDescriptions": [
            "Not specified.",
            "Crypto operations are performed in software.",
            "Crypto operations are performed in a Hardware Security Module.",
            "Crypto operations are performed by an external key manager.",
            "Crypto operations are performed in an EKM-over-VPC backend.",
            "Crypto operations are performed in a single-tenant HSM."
          ]
        },
        "trustedWrappingEnabled": {
          "description": "Optional. Immutable. Field indicating that the key may be wrapped by a trusted key. This field can be set for all key purposes except ENCRYPT_DECRYPT, and is only valid for keys with protection level HSM_SINGLE_TENANT. This field can only be set at creation or import time via CreateCryptoKeyVersion, or ImportCryptoKeyVersion.",
          "type": "boolean"
        },
        "importFailureReason": {
          "description": "Output only. The root cause of the most recent import failure. Only present if state is IMPORT_FAILED.",
          "type": "string",
          "readOnly": true
        },
        "algorithm": {
          "type": "string",
          "enum": [
            "CRYPTO_KEY_VERSION_ALGORITHM_UNSPECIFIED",
            "GOOGLE_SYMMETRIC_ENCRYPTION",
            "AES_128_GCM",
            "AES_256_GCM",
            "AES_128_CBC",
            "AES_256_CBC",
            "AES_128_CTR",
            "AES_256_CTR",
            "RSA_SIGN_PSS_2048_SHA256",
            "RSA_SIGN_PSS_3072_SHA256",
            "RSA_SIGN_PSS_4096_SHA256",
            "RSA_SIGN_PSS_4096_SHA512",
            "RSA_SIGN_PKCS1_2048_SHA256",
            "RSA_SIGN_PKCS1_3072_SHA256",
            "RSA_SIGN_PKCS1_4096_SHA256",
            "RSA_SIGN_PKCS1_4096_SHA512",
            "RSA_SIGN_RAW_PKCS1_2048",
            "RSA_SIGN_RAW_PKCS1_3072",
            "RSA_SIGN_RAW_PKCS1_4096",
            "RSA_DECRYPT_OAEP_2048_SHA256",
            "RSA_DECRYPT_OAEP_3072_SHA256",
            "RSA_DECRYPT_OAEP_4096_SHA256",
            "RSA_DECRYPT_OAEP_4096_SHA512",
            "RSA_DECRYPT_OAEP_2048_SHA1",
            "RSA_DECRYPT_OAEP_3072_SHA1",
            "RSA_DECRYPT_OAEP_4096_SHA1",
            "EC_SIGN_P256_SHA256",
            "EC_SIGN_P384_SHA384",
            "EC_SIGN_SECP256K1_SHA256",
            "EC_SIGN_ED25519",
            "HMAC_SHA256",
            "HMAC_SHA1",
            "HMAC_SHA384",
            "HMAC_SHA512",
            "HMAC_SHA224",
            "EXTERNAL_SYMMETRIC_ENCRYPTION",
            "ML_KEM_768",
            "ML_KEM_1024",
            "KEM_XWING",
            "PQ_SIGN_ML_DSA_44",
            "PQ_SIGN_ML_DSA_65",
            "PQ_SIGN_ML_DSA_87",
            "PQ_SIGN_SLH_DSA_SHA2_128S",
            "PQ_SIGN_HASH_SLH_DSA_SHA2_128S_SHA256",
            "PQ_SIGN_ML_DSA_44_EXTERNAL_MU",
            "PQ_SIGN_ML_DSA_65_EXTERNAL_MU",
            "PQ_SIGN_ML_DSA_87_EXTERNAL_MU",
            "KEM_ECDH_P256",
            "KEM_ECDH_P384",
            "AES_256_KWP"
          ],
          "description": "Output only. The CryptoKeyVersionAlgorithm that this CryptoKeyVersion supports.",
          "readOnly": true,
          "enumDescriptions": [
            "Not specified.",
            "Creates symmetric encryption keys.",
            "AES-GCM (Galois Counter Mode) using 128-bit keys.",
            "AES-GCM (Galois Counter Mode) using 256-bit keys.",
            "AES-CBC (Cipher Block Chaining Mode) using 128-bit keys.",
            "AES-CBC (Cipher Block Chaining Mode) using 256-bit keys.",
            "AES-CTR (Counter Mode) using 128-bit keys.",
            "AES-CTR (Counter Mode) using 256-bit keys.",
            "RSASSA-PSS 2048 bit key with a SHA256 digest.",
            "RSASSA-PSS 3072 bit key with a SHA256 digest.",
            "RSASSA-PSS 4096 bit key with a SHA256 digest.",
            "RSASSA-PSS 4096 bit key with a SHA512 digest.",
            "RSASSA-PKCS1-v1_5 with a 2048 bit key and a SHA256 digest.",
            "RSASSA-PKCS1-v1_5 with a 3072 bit key and a SHA256 digest.",
            "RSASSA-PKCS1-v1_5 with a 4096 bit key and a SHA256 digest.",
            "RSASSA-PKCS1-v1_5 with a 4096 bit key and a SHA512 digest.",
            "RSASSA-PKCS1-v1_5 signing without encoding, with a 2048 bit key.",
            "RSASSA-PKCS1-v1_5 signing without encoding, with a 3072 bit key.",
            "RSASSA-PKCS1-v1_5 signing without encoding, with a 4096 bit key.",
            "RSAES-OAEP 2048 bit key with a SHA256 digest.",
            "RSAES-OAEP 3072 bit key with a SHA256 digest.",
            "RSAES-OAEP 4096 bit key with a SHA256 digest.",
            "RSAES-OAEP 4096 bit key with a SHA512 digest.",
            "RSAES-OAEP 2048 bit key with a SHA1 digest.",
            "RSAES-OAEP 3072 bit key with a SHA1 digest.",
            "RSAES-OAEP 4096 bit key with a SHA1 digest.",
            "ECDSA on the NIST P-256 curve with a SHA256 digest. Other hash functions can also be used: https://cloud.google.com/kms/docs/create-validate-signatures#ecdsa_support_for_other_hash_algorithms",
            "ECDSA on the NIST P-384 curve with a SHA384 digest. Other hash functions can also be used: https://cloud.google.com/kms/docs/create-validate-signatures#ecdsa_support_for_other_hash_algorithms",
            "ECDSA on the non-NIST secp256k1 curve. This curve is only supported for HSM protection level. Other hash functions can also be used: https://cloud.google.com/kms/docs/create-validate-signatures#ecdsa_support_for_other_hash_algorithms",
            "EdDSA on the Curve25519 in pure mode (taking data as input).",
            "HMAC-SHA256 signing with a 256 bit key.",
            "HMAC-SHA1 signing with a 160 bit key.",
            "HMAC-SHA384 signing with a 384 bit key.",
            "HMAC-SHA512 signing with a 512 bit key.",
            "HMAC-SHA224 signing with a 224 bit key.",
            "Algorithm representing symmetric encryption by an external key manager.",
            "ML-KEM-768 (FIPS 203)",
            "ML-KEM-1024 (FIPS 203)",
            "X-Wing hybrid KEM combining ML-KEM-768 with X25519 following datatracker.ietf.org/doc/draft-connolly-cfrg-xwing-kem/.",
            "The post-quantum Module-Lattice-Based Digital Signature Algorithm, at security level 1. Randomized version.",
            "The post-quantum Module-Lattice-Based Digital Signature Algorithm, at security level 3. Randomized version.",
            "The post-quantum Module-Lattice-Based Digital Signature Algorithm, at security level 5. Randomized version.",
            "The post-quantum stateless hash-based digital signature algorithm, at security level 1. Randomized version.",
            "The post-quantum stateless hash-based digital signature algorithm, at security level 1. Randomized pre-hash version supporting SHA256 digests.",
            "The post-quantum Module-Lattice-Based Digital Signature Algorithm, at security level 1. Randomized version supporting externally-computed message representatives.",
            "The post-quantum Module-Lattice-Based Digital Signature Algorithm, at security level 3. Randomized version supporting externally-computed message representatives.",
            "The post-quantum Module-Lattice-Based Digital Signature Algorithm, at security level 5. Randomized version supporting externally-computed message representatives.",
            "Key encapsulation: Elliptic Curve Diffie-Hellman with NIST P-256 key that returns shared secret.",
            "Key encapsulation: Elliptic Curve Diffie-Hellman with NIST P-384 key that returns shared secret.",
            "AES key wrap with zero padding algorithm (RFC 5649). Can only be used by keys with purpose AES_WRAPPING."
          ]
        },
        "state": {
          "type": "string",
          "enum": [
            "CRYPTO_KEY_VERSION_STATE_UNSPECIFIED",
            "PENDING_GENERATION",
            "ENABLED",
            "DISABLED",
            "DESTROYED",
            "DESTROY_SCHEDULED",
            "PENDING_IMPORT",
            "IMPORT_FAILED",
            "GENERATION_FAILED",
            "PENDING_EXTERNAL_DESTRUCTION",
            "EXTERNAL_DESTRUCTION_FAILED"
          ],
          "enumDescriptions": [
            "Not specified.",
            "This version is still being generated. It may not be used, enabled, disabled, or destroyed yet. Cloud KMS will automatically mark this version ENABLED as soon as the version is ready.",
            "This version may be used for cryptographic operations.",
            "This version may not be used, but the key material is still available, and the version can be placed back into the ENABLED state.",
            "The key material of this version is destroyed and no longer stored. This version may only become ENABLED again if this version is reimport_eligible and the original key material is reimported with a call to KeyManagementService.ImportCryptoKeyVersion.",
            "This version is scheduled for destruction, and will be destroyed soon. Call RestoreCryptoKeyVersion to put it back into the DISABLED state.",
            "This version is still being imported. It may not be used, enabled, disabled, or destroyed yet. Cloud KMS will automatically mark this version ENABLED as soon as the version is ready.",
            "This version was not imported successfully. It may not be used, enabled, disabled, or destroyed. The submitted key material has been discarded. Additional details can be found in CryptoKeyVersion.import_failure_reason.",
            "This version was not generated successfully. It may not be used, enabled, disabled, or destroyed. Additional details can be found in CryptoKeyVersion.generation_failure_reason.",
            "This version was destroyed, and it may not be used or enabled again. Cloud KMS is waiting for the corresponding key material residing in an external key manager to be destroyed.",
            "This version was destroyed, and it may not be used or enabled again. However, Cloud KMS could not confirm that the corresponding key material residing in an external key manager was destroyed. Additional details can be found in CryptoKeyVersion.external_destruction_failure_reason."
          ],
          "description": "The current state of the CryptoKeyVersion."
        },
        "attestation": {
          "description": "Output only. Statement that was generated and signed by the HSM at key creation time. Use this statement to verify attributes of the key as stored on the HSM, independently of Google. Only provided for key versions with protection_level HSM.",
          "readOnly": true,
          "$ref": "KeyOperationAttestation"
        },
        "importJob": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the ImportJob used in the most recent import of this CryptoKeyVersion. Only present if the underlying key material was imported."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The resource name for this CryptoKeyVersion in the format `projects/*/locations/*/keyRings/*/cryptoKeys/*/cryptoKeyVersions/*`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A CryptoKeyVersion represents an individual cryptographic key, and the associated key material. An ENABLED version can be used for cryptographic operations. For security reasons, the raw cryptographic key material represented by a CryptoKeyVersion can never be viewed or exported. It can only be used to encrypt, decrypt, or sign data when an authorized user or application invokes Cloud KMS.",
      "id": "CryptoKeyVersion"
    },
    "EncryptRequest": {
      "id": "EncryptRequest",
      "properties": {
        "plaintextCrc32c": {
          "description": "Optional. An optional CRC32C checksum of the EncryptRequest.plaintext. If specified, KeyManagementService will verify the integrity of the received EncryptRequest.plaintext using this checksum. KeyManagementService will report an error if the checksum verification fails. If you receive a checksum error, your client should verify that CRC32C(EncryptRequest.plaintext) is equal to EncryptRequest.plaintext_crc32c, and if so, perform a limited number of retries. A persistent mismatch may indicate an issue in your computation of the CRC32C checksum. Note: This field is defined as int64 for reasons of compatibility across different languages. However, it is a non-negative integer, which will never exceed 2^32-1, and can be safely downconverted to uint32 in languages that support this type.",
          "type": "string",
          "format": "int64"
        },
        "additionalAuthenticatedDataCrc32c": {
          "format": "int64",
          "description": "Optional. An optional CRC32C checksum of the EncryptRequest.additional_authenticated_data. If specified, KeyManagementService will verify the integrity of the received EncryptRequest.additional_authenticated_data using this checksum. KeyManagementService will report an error if the checksum verification fails. If you receive a checksum error, your client should verify that CRC32C(EncryptRequest.additional_authenticated_data) is equal to EncryptRequest.additional_authenticated_data_crc32c, and if so, perform a limited number of retries. A persistent mismatch may indicate an issue in your computation of the CRC32C checksum. Note: This field is defined as int64 for reasons of compatibility across different languages. However, it is a non-negative integer, which will never exceed 2^32-1, and can be safely downconverted to uint32 in languages that support this type.",
          "type": "string"
        },
        "additionalAuthenticatedData": {
          "type": "string",
          "format": "byte",
          "description": "Optional. Optional data that, if specified, must also be provided during decryption through DecryptRequest.additional_authenticated_data. The maximum size depends on the key version's protection_level. For SOFTWARE, EXTERNAL, and EXTERNAL_VPC keys the AAD must be no larger than 64KiB. For HSM keys, the combined length of the plaintext and additional_authenticated_data fields must be no larger than 8KiB."
        },
        "plaintext": {
          "description": "Required. The data to encrypt. Must be no larger than 64KiB. The maximum size depends on the key version's protection_level. For SOFTWARE, EXTERNAL, and EXTERNAL_VPC keys, the plaintext must be no larger than 64KiB. For HSM keys, the combined length of the plaintext and additional_authenticated_data fields must be no larger than 8KiB.",
          "type": "string",
          "format": "byte"
        }
      },
      "description": "Request message for KeyManagementService.Encrypt.",
      "type": "object"
    },
    "AsymmetricSignRequest": {
      "description": "Request message for KeyManagementService.AsymmetricSign.",
      "type": "object",
      "id": "AsymmetricSignRequest",
      "properties": {
        "dataCrc32c": {
          "type": "string",
          "description": "Optional. An optional CRC32C checksum of the AsymmetricSignRequest.data. If specified, KeyManagementService will verify the integrity of the received AsymmetricSignRequest.data using this checksum. KeyManagementService will report an error if the checksum verification fails. If you receive a checksum error, your client should verify that CRC32C(AsymmetricSignRequest.data) is equal to AsymmetricSignRequest.data_crc32c, and if so, perform a limited number of retries. A persistent mismatch may indicate an issue in your computation of the CRC32C checksum. Note: This field is defined as int64 for reasons of compatibility across different languages. However, it is a non-negative integer, which will never exceed 2^32-1, and can be safely downconverted to uint32 in languages that support this type.",
          "format": "int64"
        },
        "digestCrc32c": {
          "type": "string",
          "format": "int64",
          "description": "Optional. An optional CRC32C checksum of the AsymmetricSignRequest.digest. If specified, KeyManagementService will verify the integrity of the received AsymmetricSignRequest.digest using this checksum. KeyManagementService will report an error if the checksum verification fails. If you receive a checksum error, your client should verify that CRC32C(AsymmetricSignRequest.digest) is equal to AsymmetricSignRequest.digest_crc32c, and if so, perform a limited number of retries. A persistent mismatch may indicate an issue in your computation of the CRC32C checksum. Note: This field is defined as int64 for reasons of compatibility across different languages. However, it is a non-negative integer, which will never exceed 2^32-1, and can be safely downconverted to uint32 in languages that support this type."
        },
        "digest": {
          "description": "Optional. The digest of the data to sign. The digest must be produced with the same digest algorithm as specified by the key version's algorithm. This field may not be supplied if AsymmetricSignRequest.data is supplied.",
          "$ref": "Digest"
        },
        "data": {
          "type": "string",
          "description": "Optional. The data to sign. It can't be supplied if AsymmetricSignRequest.digest is supplied.",
          "format": "byte"
        }
      }
    },
    "DecapsulateRequest": {
      "id": "DecapsulateRequest",
      "properties": {
        "ciphertext": {
          "description": "Required. The ciphertext produced from encapsulation with the named CryptoKeyVersion public key(s).",
          "type": "string",
          "format": "byte"
        },
        "ciphertextCrc32c": {
          "format": "int64",
          "type": "string",
          "description": "Optional. A CRC32C checksum of the DecapsulateRequest.ciphertext. If specified, KeyManagementService will verify the integrity of the received DecapsulateRequest.ciphertext using this checksum. KeyManagementService will report an error if the checksum verification fails. If you receive a checksum error, your client should verify that CRC32C(DecapsulateRequest.ciphertext) is equal to DecapsulateRequest.ciphertext_crc32c, and if so, perform a limited number of retries. A persistent mismatch may indicate an issue in your computation of the CRC32C checksum. Note: This field is defined as int64 for reasons of compatibility across different languages. However, it is a non-negative integer, which will never exceed 2^32-1, and can be safely downconverted to uint32 in languages that support this type."
        }
      },
      "description": "Request message for KeyManagementService.Decapsulate.",
      "type": "object"
    },
    "RawEncryptRequest": {
      "description": "Request message for KeyManagementService.RawEncrypt.",
      "type": "object",
      "id": "RawEncryptRequest",
      "properties": {
        "plaintext": {
          "format": "byte",
          "description": "Required. The data to encrypt. Must be no larger than 64KiB. The maximum size depends on the key version's protection_level. For SOFTWARE keys, the plaintext must be no larger than 64KiB. For HSM keys, the combined length of the plaintext and additional_authenticated_data fields must be no larger than 8KiB.",
          "type": "string"
        },
        "additionalAuthenticatedData": {
          "format": "byte",
          "description": "Optional. Optional data that, if specified, must also be provided during decryption through RawDecryptRequest.additional_authenticated_data. This field may only be used in conjunction with an algorithm that accepts additional authenticated data (for example, AES-GCM). The maximum size depends on the key version's protection_level. For SOFTWARE keys, the plaintext must be no larger than 64KiB. For HSM keys, the combined length of the plaintext and additional_authenticated_data fields must be no larger than 8KiB.",
          "type": "string"
        },
        "initializationVector": {
          "type": "string",
          "description": "Optional. A customer-supplied initialization vector that will be used for encryption. If it is not provided for AES-CBC and AES-CTR, one will be generated. It will be returned in RawEncryptResponse.initialization_vector.",
          "format": "byte"
        },
        "initializationVectorCrc32c": {
          "format": "int64",
          "description": "Optional. An optional CRC32C checksum of the RawEncryptRequest.initialization_vector. If specified, KeyManagementService will verify the integrity of the received initialization_vector using this checksum. KeyManagementService will report an error if the checksum verification fails. If you receive a checksum error, your client should verify that CRC32C(initialization_vector) is equal to initialization_vector_crc32c, and if so, perform a limited number of retries. A persistent mismatch may indicate an issue in your computation of the CRC32C checksum. Note: This field is defined as int64 for reasons of compatibility across different languages. However, it is a non-negative integer, which will never exceed 2^32-1, and can be safely downconverted to uint32 in languages that support this type.",
          "type": "string"
        },
        "plaintextCrc32c": {
          "description": "Optional. An optional CRC32C checksum of the RawEncryptRequest.plaintext. If specified, KeyManagementService will verify the integrity of the received plaintext using this checksum. KeyManagementService will report an error if the checksum verification fails. If you receive a checksum error, your client should verify that CRC32C(plaintext) is equal to plaintext_crc32c, and if so, perform a limited number of retries. A persistent mismatch may indicate an issue in your computation of the CRC32C checksum. Note: This field is defined as int64 for reasons of compatibility across different languages. However, it is a non-negative integer, which will never exceed 2^32-1, and can be safely downconverted to uint32 in languages that support this type.",
          "type": "string",
          "format": "int64"
        },
        "additionalAuthenticatedDataCrc32c": {
          "description": "Optional. An optional CRC32C checksum of the RawEncryptRequest.additional_authenticated_data. If specified, KeyManagementService will verify the integrity of the received additional_authenticated_data using this checksum. KeyManagementService will report an error if the checksum verification fails. If you receive a checksum error, your client should verify that CRC32C(additional_authenticated_data) is equal to additional_authenticated_data_crc32c, and if so, perform a limited number of retries. A persistent mismatch may indicate an issue in your computation of the CRC32C checksum. Note: This field is defined as int64 for reasons of compatibility across different languages. However, it is a non-negative integer, which will never exceed 2^32-1, and can be safely downconverted to uint32 in languages that support this type.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "KeyOperationAttestation": {
      "description": "Contains an HSM-generated attestation about a key operation. For more information, see [Verifying attestations] (https://cloud.google.com/kms/docs/attest-key).",
      "properties": {
        "format": {
          "enumDescriptions": [
            "Not specified.",
            "Cavium HSM attestation compressed with gzip. Note that this format is defined by Cavium and subject to change at any time. See https://www.marvell.com/products/security-solutions/nitrox-hs-adapters/software-key-attestation.html.",
            "Cavium HSM attestation V2 compressed with gzip. This is a new format introduced in Cavium's version 3.2-08.",
            "Cavium HSM attestation V209, introduced in Cavium's version 2.09-0702."
          ],
          "readOnly": true,
          "description": "Output only. The format of the attestation data.",
          "type": "string",
          "enum": [
            "ATTESTATION_FORMAT_UNSPECIFIED",
            "CAVIUM_V1_COMPRESSED",
            "CAVIUM_V2_COMPRESSED",
            "CAVIUM_V209"
          ]
        },
        "certChains": {
          "$ref": "CertificateChains",
          "description": "Output only. The certificate chains needed to validate the attestation",
          "readOnly": true
        },
        "content": {
          "description": "Output only. The attestation data provided by the HSM when the key operation was performed.",
          "type": "string",
          "format": "byte",
          "readOnly": true
        }
      },
      "id": "KeyOperationAttestation",
      "type": "object"
    },
    "EnableSingleTenantHsmInstance": {
      "properties": {},
      "id": "EnableSingleTenantHsmInstance",
      "description": "Enable the SingleTenantHsmInstance. The SingleTenantHsmInstance must be in the DISABLED state to perform this operation.",
      "type": "object"
    },
    "AuditConfig": {
      "properties": {
        "auditLogConfigs": {
          "type": "array",
          "description": "The configuration for logging of each type of permission.",
          "items": {
            "$ref": "AuditLogConfig"
          }
        },
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        }
      },
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "type": "object",
      "id": "AuditConfig"
    },
    "KeyAccessJustificationsPolicy": {
      "properties": {
        "allowedAccessReasons": {
          "type": "array",
          "description": "The list of allowed reasons for access to a CryptoKey. Note that empty allowed_access_reasons has a different meaning depending on where this message appears. If this is under KeyAccessJustificationsPolicyConfig, it means allow-all. If this is under CryptoKey, it means deny-all.",
          "items": {
            "enumDeprecated": [
[...]
