{
  "endpoints": [
    {
      "location": "asia-south1",
      "endpointUrl": "https://clouddeploy.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://clouddeploy.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south2"
    },
    {
      "location": "us-central1",
      "endpointUrl": "https://clouddeploy.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://clouddeploy.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east1"
    },
    {
      "endpointUrl": "https://clouddeploy.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east4"
    },
    {
      "location": "us-east5",
      "endpointUrl": "https://clouddeploy.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://clouddeploy.us-east7.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east7"
    },
    {
      "location": "us-south1",
      "endpointUrl": "https://clouddeploy.us-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west1",
      "endpointUrl": "https://clouddeploy.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://clouddeploy.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west2"
    },
    {
      "location": "us-west3",
      "endpointUrl": "https://clouddeploy.us-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west4",
      "endpointUrl": "https://clouddeploy.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    }
  ],
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "version": "v1",
  "protocol": "rest",
  "baseUrl": "https://clouddeploy.googleapis.com/",
  "basePath": "",
  "title": "Cloud Deploy API",
  "canonicalName": "Cloud Deploy",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "id": "clouddeploy.projects.locations.list",
              "path": "v1/{+name}/locations",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "flatPath": "v1/projects/{projectsId}/locations",
              "parameters": {
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160)."
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "required": true
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "format": "int32"
                },
                "extraLocationTypes": {
                  "location": "query",
                  "type": "string",
                  "repeated": true,
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage."
                }
              },
              "response": {
                "$ref": "ListLocationsResponse"
              }
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "description": "Resource name for the location.",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Location"
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "httpMethod": "GET",
              "description": "Gets information about a location.",
              "id": "clouddeploy.projects.locations.get",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ]
            },
            "getConfig": {
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/config",
              "httpMethod": "GET",
              "description": "Gets the configuration for a location.",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+/config$",
                  "location": "path",
                  "description": "Required. Name of requested configuration.",
                  "required": true
                }
              },
              "response": {
                "$ref": "Config"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "clouddeploy.projects.locations.getConfig",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ]
            }
          },
          "resources": {
            "deployPolicies": {
              "methods": {
                "create": {
                  "request": {
                    "$ref": "DeployPolicy"
                  },
                  "id": "clouddeploy.projects.locations.deployPolicies.create",
                  "path": "v1/{+parent}/deployPolicies",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "description": "Creates a new DeployPolicy in a given project and location.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deployPolicies",
                  "parameters": {
                    "requestId": {
                      "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server knows to ignore the request if it has already been completed. The server guarantees that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    },
                    "validateOnly": {
                      "description": "Optional. If set to true, the request is validated and the user is provided with an expected result, but no actual change is made.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "parent": {
                      "description": "Required. The parent collection in which the `DeployPolicy` must be created. The format is `projects/{project_id}/locations/{location_name}`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "deployPolicyId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. ID of the `DeployPolicy`."
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "id": "clouddeploy.projects.locations.deployPolicies.get",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "description": "Gets details of a single DeployPolicy.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deployPolicies/{deployPoliciesId}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/deployPolicies/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. Name of the `DeployPolicy`. Format must be `projects/{project_id}/locations/{location_name}/deployPolicies/{deploy_policy_name}`.",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "DeployPolicy"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "description": "Deletes a single DeployPolicy.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deployPolicies/{deployPoliciesId}",
                  "parameters": {
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server knows to ignore the request if it has already been completed. The server guarantees that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "allowMissing": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Optional. If set to true, then deleting an already deleted or non-existing `DeployPolicy` will succeed."
                    },
                    "validateOnly": {
                      "description": "Optional. If set, validate the request and preview the review, but do not actually post it.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/deployPolicies/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the `DeployPolicy` to delete. The format is `projects/{project_id}/locations/{location_name}/deployPolicies/{deploy_policy_name}`.",
                      "required": true
                    },
                    "etag": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "clouddeploy.projects.locations.deployPolicies.delete",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "patch": {
                  "request": {
                    "$ref": "DeployPolicy"
                  },
                  "id": "clouddeploy.projects.locations.deployPolicies.patch",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "description": "Updates the parameters of a single DeployPolicy.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deployPolicies/{deployPoliciesId}",
                  "parameters": {
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server knows to ignore the request if it has already been completed. The server guarantees that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "allowMissing": {
                      "description": "Optional. If set to true, updating a `DeployPolicy` that does not exist will result in the creation of a new `DeployPolicy`.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "validateOnly": {
                      "description": "Optional. If set to true, the request is validated and the user is provided with an expected result, but no actual change is made.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/deployPolicies/[^/]+$",
                      "location": "path",
                      "description": "Output only. Name of the `DeployPolicy`. Format is `projects/{project}/locations/{location}/deployPolicies/{deployPolicy}`. The `deployPolicy` component must match `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`",
                      "required": true
                    },
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. Field mask is used to specify the fields to be overwritten by the update in the `DeployPolicy` resource. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it's in the mask. If the user doesn't provide a mask then all fields are overwritten.",
                      "format": "google-fieldmask"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "id": "clouddeploy.projects.locations.deployPolicies.list",
                  "path": "v1/{+parent}/deployPolicies",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deployPolicies",
                  "httpMethod": "GET",
                  "description": "Lists DeployPolicies in a given project and location.",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "A page token, received from a previous `ListDeployPolicies` call. Provide this to retrieve the subsequent page. When paginating, all other provided parameters match the call that provided the page token."
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Filter deploy policies to be returned. See https://google.aip.dev/160 for more details. All fields can be used in the filter."
                    },
                    "orderBy": {
                      "type": "string",
                      "location": "query",
                      "description": "Field to sort by. See https://google.aip.dev/132#ordering for more details."
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The parent, which owns this collection of deploy policies. Format must be `projects/{project_id}/locations/{location_name}`.",
                      "required": true
                    },
                    "pageSize": {
                      "description": "The maximum number of deploy policies to return. The service may return fewer than this value. If unspecified, at most 50 deploy policies will be returned. The maximum value is 1000; values above 1000 will be set to 1000.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "ListDeployPoliciesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "getIamPolicy": {
                  "httpMethod": "GET",
                  "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deployPolicies/{deployPoliciesId}:getIamPolicy",
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/deployPolicies/[^/]+$",
                      "location": "path"
                    },
                    "options.requestedPolicyVersion": {
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                      "format": "int32"
                    }
                  },
                  "response": {
                    "$ref": "Policy"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "clouddeploy.projects.locations.deployPolicies.getIamPolicy",
                  "path": "v1/{+resource}:getIamPolicy",
                  "parameterOrder": [
                    "resource"
                  ]
                },
                "setIamPolicy": {
                  "id": "clouddeploy.projects.locations.deployPolicies.setIamPolicy",
                  "path": "v1/{+resource}:setIamPolicy",
                  "parameterOrder": [
                    "resource"
                  ],
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/deployPolicies/[^/]+$",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Policy"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deployPolicies/{deployPoliciesId}:setIamPolicy",
                  "httpMethod": "POST",
                  "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors."
                }
              }
            },
            "deliveryPipelines": {
              "methods": {
                "list": {
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "The maximum number of pipelines to return. The service may return fewer than this value. If unspecified, at most 50 pipelines will be returned. The maximum value is 1000; values above 1000 will be set to 1000.",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "A page token, received from a previous `ListDeliveryPipelines` call. Provide this to retrieve the subsequent page. When paginating, all other provided parameters match the call that provided the page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Filter pipelines to be returned. See https://google.aip.dev/160 for more details."
                    },
                    "orderBy": {
                      "description": "Field to sort by. See https://google.aip.dev/132#ordering for more details.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The parent, which owns this collection of pipelines. Format must be `projects/{project_id}/locations/{location_name}`.",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "ListDeliveryPipelinesResponse"
                  },
                  "httpMethod": "GET",
                  "description": "Lists DeliveryPipelines in a given project and location.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deliveryPipelines",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "clouddeploy.projects.locations.deliveryPipelines.list",
                  "path": "v1/{+parent}/deliveryPipelines",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "patch": {
                  "request": {
                    "$ref": "DeliveryPipeline"
                  },
                  "id": "clouddeploy.projects.locations.deliveryPipelines.patch",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. Field mask is used to specify the fields to be overwritten by the update in the `DeliveryPipeline` resource. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it's in the mask. If the user doesn't provide a mask then all fields are overwritten.",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "description": "Identifier. Name of the `DeliveryPipeline`. Format is `projects/{project}/locations/{location}/deliveryPipelines/{deliveryPipeline}`. The `deliveryPipeline` component must match `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/deliveryPipelines/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "requestId": {
                      "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server knows to ignore the request if it has already been completed. The server guarantees that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    },
                    "allowMissing": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. If set to true, updating a `DeliveryPipeline` that does not exist will result in the creation of a new `DeliveryPipeline`."
                    },
                    "validateOnly": {
                      "description": "Optional. If set to true, the request is validated and the user is provided with an expected result, but no actual change is made.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "PATCH",
                  "description": "Updates the parameters of a single DeliveryPipeline.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deliveryPipelines/{deliveryPipelinesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the `DeliveryPipeline`. Format must be `projects/{project_id}/locations/{location_name}/deliveryPipelines/{pipeline_name}`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/deliveryPipelines/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "DeliveryPipeline"
                  },
                  "httpMethod": "GET",
                  "description": "Gets details of a single DeliveryPipeline.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deliveryPipelines/{deliveryPipelinesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "clouddeploy.projects.locations.deliveryPipelines.get",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "rollbackTarget": {
                  "id": "clouddeploy.projects.locations.deliveryPipelines.rollbackTarget",
                  "path": "v1/{+name}:rollbackTarget",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "RollbackTargetRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/deliveryPipelines/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The `DeliveryPipeline` for which the rollback `Rollout` must be created. The format is `projects/{project_id}/locations/{location_name}/deliveryPipelines/{pipeline_name}`.",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "RollbackTargetResponse"
                  },
                  "httpMethod": "POST",
                  "description": "Creates a `Rollout` to roll back the specified target.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deliveryPipelines/{deliveryPipelinesId}:rollbackTarget"
                },
                "delete": {
                  "id": "clouddeploy.projects.locations.deliveryPipelines.delete",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "requestId": {
                      "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server knows to ignore the request if it has already been completed. The server guarantees that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    },
                    "allowMissing": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Optional. If set to true, then deleting an already deleted or non-existing `DeliveryPipeline` will succeed."
                    },
                    "validateOnly": {
                      "description": "Optional. If set, validate the request and preview the review, but do not actually post it.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/deliveryPipelines/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the `DeliveryPipeline` to delete. The format is `projects/{project_id}/locations/{location_name}/deliveryPipelines/{pipeline_name}`.",
                      "required": true
                    },
                    "force": {
                      "description": "Optional. If set to true, all child resources under this pipeline will also be deleted. Otherwise, the request will only work if the pipeline has no child resources.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "etag": {
                      "description": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "DELETE",
                  "description": "Deletes a single DeliveryPipeline.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deliveryPipelines/{deliveryPipelinesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "setIamPolicy": {
                  "id": "clouddeploy.projects.locations.deliveryPipelines.setIamPolicy",
                  "path": "v1/{+resource}:setIamPolicy",
                  "parameterOrder": [
                    "resource"
                  ],
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deliveryPipelines/{deliveryPipelinesId}:setIamPolicy",
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/deliveryPipelines/[^/]+$",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Policy"
                  }
                },
                "testIamPermissions": {
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "id": "clouddeploy.projects.locations.deliveryPipelines.testIamPermissions",
                  "path": "v1/{+resource}:testIamPermissions",
                  "parameterOrder": [
                    "resource"
                  ],
                  "httpMethod": "POST",
                  "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deliveryPipelines/{deliveryPipelinesId}:testIamPermissions",
                  "parameters": {
                    "resource": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/deliveryPipelines/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "getIamPolicy": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deliveryPipelines/{deliveryPipelinesId}:getIamPolicy",
                  "parameters": {
                    "resource": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/deliveryPipelines/[^/]+$",
                      "location": "path",
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "required": true
                    },
                    "options.requestedPolicyVersion": {
                      "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    }
                  },
                  "response": {
                    "$ref": "Policy"
                  },
                  "id": "clouddeploy.projects.locations.deliveryPipelines.getIamPolicy",
                  "path": "v1/{+resource}:getIamPolicy",
                  "parameterOrder": [
                    "resource"
                  ]
                },
                "create": {
                  "httpMethod": "POST",
                  "description": "Creates a new DeliveryPipeline in a given project and location.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deliveryPipelines",
                  "parameters": {
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server knows to ignore the request if it has already been completed. The server guarantees that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "validateOnly": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Optional. If set to true, the request is validated and the user is provided with an expected result, but no actual change is made."
                    },
                    "deliveryPipelineId": {
                      "description": "Required. ID of the `DeliveryPipeline`.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent collection in which the `DeliveryPipeline` must be created. The format is `projects/{project_id}/locations/{location_name}`.",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "DeliveryPipeline"
                  },
                  "id": "clouddeploy.projects.locations.deliveryPipelines.create",
                  "path": "v1/{+parent}/deliveryPipelines",
                  "parameterOrder": [
                    "parent"
                  ]
                }
              },
              "resources": {
                "automationRuns": {
                  "methods": {
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deliveryPipelines/{deliveryPipelinesId}/automationRuns/{automationRunsId}",
                      "httpMethod": "GET",
                      "description": "Gets details of a single AutomationRun.",
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the `AutomationRun`. Format must be `projects/{project}/locations/{location}/deliveryPipelines/{delivery_pipeline}/automationRuns/{automation_run}`.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/deliveryPipelines/[^/]+/automationRuns/[^/]+$",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "AutomationRun"
                      },
                      "id": "clouddeploy.projects.locations.deliveryPipelines.automationRuns.get",
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "list": {
                      "parameters": {
                        "parent": {
                          "description": "Required. The parent `Delivery Pipeline`, which owns this collection of automationRuns. Format must be `projects/{project}/locations/{location}/deliveryPipelines/{delivery_pipeline}`.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/deliveryPipelines/[^/]+$",
                          "location": "path",
                          "type": "string"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "A page token, received from a previous `ListAutomationRuns` call. Provide this to retrieve the subsequent page. When paginating, all other provided parameters match the call that provided the page token."
                        },
                        "filter": {
                          "description": "Filter automationRuns to be returned. All fields can be used in the filter.",
                          "location": "query",
                          "type": "string"
                        },
                        "orderBy": {
                          "type": "string",
                          "location": "query",
                          "description": "Field to sort by."
                        },
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "description": "The maximum number of automationRuns to return. The service may return fewer than this value. If unspecified, at most 50 automationRuns will be returned. The maximum value is 1000; values above 1000 will be set to 1000.",
                          "format": "int32"
                        }
                      },
                      "response": {
                        "$ref": "ListAutomationRunsResponse"
                      },
                      "httpMethod": "GET",
                      "description": "Lists AutomationRuns in a given project and location.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deliveryPipelines/{deliveryPipelinesId}/automationRuns",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "clouddeploy.projects.locations.deliveryPipelines.automationRuns.list",
                      "path": "v1/{+parent}/automationRuns",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "cancel": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/deliveryPipelines/[^/]+/automationRuns/[^/]+$",
                          "location": "path",
                          "description": "Required. Name of the `AutomationRun`. Format is `projects/{project}/locations/{location}/deliveryPipelines/{delivery_pipeline}/automationRuns/{automation_run}`.",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "CancelAutomationRunResponse"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deliveryPipelines/{deliveryPipelinesId}/automationRuns/{automationRunsId}:cancel",
                      "httpMethod": "POST",
                      "description": "Cancels an AutomationRun. The `state` of the `AutomationRun` after cancelling is `CANCELLED`. `CancelAutomationRun` can be called on AutomationRun in the state `IN_PROGRESS` and `PENDING`; AutomationRun in a different state returns an `FAILED_PRECONDITION` error.",
                      "id": "clouddeploy.projects.locations.deliveryPipelines.automationRuns.cancel",
                      "path": "v1/{+name}:cancel",
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "CancelAutomationRunRequest"
                      }
                    }
                  }
                },
                "automations": {
                  "methods": {
                    "patch": {
                      "id": "clouddeploy.projects.locations.deliveryPipelines.automations.patch",
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "Automation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deliveryPipelines/{deliveryPipelinesId}/automations/{automationsId}",
                      "httpMethod": "PATCH",
                      "description": "Updates the parameters of a single Automation resource.",
                      "parameters": {
                        "requestId": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server knows to ignore the request if it has already been completed. The server guarantees that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                        },
                        "allowMissing": {
                          "description": "Optional. If set to true, updating a `Automation` that does not exist will result in the creation of a new `Automation`.",
                          "type": "boolean",
                          "location": "query"
                        },
                        "validateOnly": {
                          "location": "query",
                          "type": "boolean",
                          "description": "Optional. If set to true, the request is validated and the user is provided with an expected result, but no actual change is made."
                        },
                        "name": {
                          "description": "Output only. Name of the `Automation`. Format is `projects/{project}/locations/{location}/deliveryPipelines/{delivery_pipeline}/automations/{automation}`.",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/deliveryPipelines/[^/]+/automations/[^/]+$",
                          "location": "path"
                        },
                        "updateMask": {
                          "description": "Required. Field mask is used to specify the fields to be overwritten by the update in the `Automation` resource. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it's in the mask. If the user doesn't provide a mask then all fields are overwritten.",
                          "format": "google-fieldmask",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      }
                    },
                    "list": {
                      "id": "clouddeploy.projects.locations.deliveryPipelines.automations.list",
                      "path": "v1/{+parent}/automations",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "description": "Lists Automations in a given project and location.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deliveryPipelines/{deliveryPipelinesId}/automations",
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "description": "The maximum number of automations to return. The service may return fewer than this value. If unspecified, at most 50 automations will be returned. The maximum value is 1000; values above 1000 will be set to 1000.",
                          "format": "int32"
                        },
                        "parent": {
                          "description": "Required. The parent `Delivery Pipeline`, which owns this collection of automations. Format must be `projects/{project_id}/locations/{location_name}/deliveryPipelines/{pipeline_name}`.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/deliveryPipelines/[^/]+$",
                          "location": "path",
                          "type": "string"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "A page token, received from a previous `ListAutomations` call. Provide this to retrieve the subsequent page. When paginating, all other provided parameters match the call that provided the page token."
                        },
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "Filter automations to be returned. All fields can be used in the filter."
                        },
                        "orderBy": {
                          "description": "Field to sort by.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "ListAutomationsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "create": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deliveryPipelines/{deliveryPipelinesId}/automations",
                      "httpMethod": "POST",
                      "description": "Creates a new Automation in a given project and location.",
                      "parameters": {
                        "requestId": {
                          "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server knows to ignore the request if it has already been completed. The server guarantees that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "type": "string",
                          "location": "query"
                        },
                        "validateOnly": {
                          "location": "query",
                          "type": "boolean",
                          "description": "Optional. If set to true, the request is validated and the user is provided with an expected result, but no actual change is made."
                        },
                        "automationId": {
                          "description": "Required. ID of the `Automation`.",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "description": "Required. The parent collection in which the `Automation` must be created. The format is `projects/{project_id}/locations/{location_name}/deliveryPipelines/{pipeline_name}`.",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/deliveryPipelines/[^/]+$",
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "Automation"
                      },
                      "id": "clouddeploy.projects.locations.deliveryPipelines.automations.create",
                      "path": "v1/{+parent}/automations",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/deliveryPipelines/[^/]+/automations/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "description": "Required. Name of the `Automation`. Format must be `projects/{project_id}/locations/{location_name}/deliveryPipelines/{pipeline_name}/automations/{automation_name}`.",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "Automation"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deliveryPipelines/{deliveryPipelinesId}/automations/{automationsId}",
                      "httpMethod": "GET",
                      "description": "Gets details of a single Automation.",
                      "id": "clouddeploy.projects.locations.deliveryPipelines.automations.get",
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "delete": {
                      "parameters": {
                        "requestId": {
                          "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server knows to ignore the request if it has already been completed. The server guarantees that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "location": "query",
                          "type": "string"
                        },
                        "allowMissing": {
                          "description": "Optional. If set to true, then deleting an already deleted or non-existing `Automation` will succeed.",
                          "location": "query",
                          "type": "boolean"
                        },
                        "validateOnly": {
                          "location": "query",
                          "type": "boolean",
                          "description": "Optional. If set, validate the request and verify whether the resource exists, but do not actually post it."
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/deliveryPipelines/[^/]+/automations/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "description": "Required. The name of the `Automation` to delete. The format is `projects/{project_id}/locations/{location_name}/deliveryPipelines/{pipeline_name}/automations/{automation_name}`.",
                          "required": true
                        },
                        "etag": {
                          "description": "Optional. The weak etag of the request. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "DELETE",
                      "description": "Deletes a single Automation resource.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deliveryPipelines/{deliveryPipelinesId}/automations/{automationsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "clouddeploy.projects.locations.deliveryPipelines.automations.delete",
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                },
                "releases": {
                  "methods": {
                    "abandon": {
                      "id": "clouddeploy.projects.locations.deliveryPipelines.releases.abandon",
                      "path": "v1/{+name}:abandon",
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "AbandonReleaseRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the Release. Format is `projects/{project}/locations/{location}/deliveryPipelines/{deliveryPipeline}/releases/{release}`.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/deliveryPipelines/[^/]+/releases/[^/]+$",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "AbandonReleaseResponse"
                      },
                      "httpMethod": "POST",
                      "description": "Abandons a Release in the Delivery Pipeline.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deliveryPipelines/{deliveryPipelinesId}/releases/{releasesId}:abandon"
                    },
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "pageSize": {
                          "description": "Optional. The maximum number of `Release` objects to return. The service may return fewer than this value. If unspecified, at most 50 `Release` objects will be returned. The maximum value is 1000; values above 1000 will be set to 1000.",
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        },
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/deliveryPipelines/[^/]+$",
                          "location": "path",
                          "description": "Required. The `DeliveryPipeline` which owns this collection of `Release` objects.",
                          "required": true
                        },
                        "pageToken": {
                          "description": "Optional. A page token, received from a previous `ListReleases` call. Provide this to retrieve the subsequent page. When paginating, all other provided parameters match the call that provided the page token.",
                          "type": "string",
                          "location": "query"
                        },
                        "filter": {
                          "description": "Optional. Filter releases to be returned. See https://google.aip.dev/160 for more details.",
                          "location": "query",
                          "type": "string"
                        },
                        "orderBy": {
                          "description": "Optional. Field to sort by. See https://google.aip.dev/132#ordering for more details.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "response": {
                        "$ref": "ListReleasesResponse"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deliveryPipelines/{deliveryPipelinesId}/releases",
                      "httpMethod": "GET",
                      "description": "Lists Releases in a given project and location.",
                      "id": "clouddeploy.projects.locations.deliveryPipelines.releases.list",
                      "path": "v1/{+parent}/releases",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "get": {
                      "id": "clouddeploy.projects.locations.deliveryPipelines.releases.get",
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/deliveryPipelines/[^/]+/releases/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "description": "Required. Name of the `Release`. Format must be `projects/{project_id}/locations/{location_name}/deliveryPipelines/{pipeline_name}/releases/{release_name}`.",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "Release"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deliveryPipelines/{deliveryPipelinesId}/releases/{releasesId}",
                      "httpMethod": "GET",
                      "description": "Gets details of a single Release."
                    },
                    "create": {
                      "parameters": {
                        "overrideDeployPolicy": {
                          "location": "query",
                          "type": "string",
                          "repeated": true,
                          "description": "Optional. Deploy policies to override. Format is `projects/{project}/locations/{location}/deployPolicies/{deployPolicy}`."
                        },
                        "releaseId": {
                          "description": "Required. ID of the `Release`.",
                          "type": "string",
                          "location": "query"
                        },
                        "requestId": {
                          "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server knows to ignore the request if it has already been completed. The server guarantees that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "location": "query",
                          "type": "string"
                        },
                        "validateOnly": {
                          "location": "query",
                          "type": "boolean",
                          "description": "Optional. If set to true, the request is validated and the user is provided with an expected result, but no actual change is made."
                        },
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/deliveryPipelines/[^/]+$",
                          "location": "path",
                          "description": "Required. The parent collection in which the `Release` is created. The format is `projects/{project_id}/locations/{location_name}/deliveryPipelines/{pipeline_name}`.",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "POST",
                      "description": "Creates a new Release in a given project and location.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deliveryPipelines/{deliveryPipelinesId}/releases",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "Release"
                      },
                      "id": "clouddeploy.projects.locations.deliveryPipelines.releases.create",
                      "path": "v1/{+parent}/releases",
                      "parameterOrder": [
                        "parent"
                      ]
                    }
                  },
                  "resources": {
                    "rollouts": {
                      "resources": {
                        "jobRuns": {
                          "methods": {
                            "list": {
                              "parameters": {
                                "pageSize": {
                                  "location": "query",
                                  "type": "integer",
                                  "description": "Optional. The maximum number of `JobRun` objects to return. The service may return fewer than this value. If unspecified, at most 50 `JobRun` objects will be returned. The maximum value is 1000; values above 1000 will be set to 1000.",
                                  "format": "int32"
                                },
                                "pageToken": {
                                  "description": "Optional. A page token, received from a previous `ListJobRuns` call. Provide this to retrieve the subsequent page. When paginating, all other provided parameters match the call that provided the page token.",
                                  "type": "string",
                                  "location": "query"
                                },
                                "filter": {
                                  "type": "string",
                                  "location": "query",
                                  "description": "Optional. Filter results to be returned. See https://google.aip.dev/160 for more details."
                                },
                                "orderBy": {
                                  "type": "string",
                                  "location": "query",
                                  "description": "Optional. Field to sort by. See https://google.aip.dev/132#ordering for more details."
                                },
                                "parent": {
                                  "pattern": "^projects/[^/]+/locations/[^/]+/deliveryPipelines/[^/]+/releases/[^/]+/rollouts/[^/]+$",
                                  "location": "path",
                                  "type": "string",
                                  "description": "Required. The `Rollout` which owns this collection of `JobRun` objects.",
                                  "required": true
                                }
                              },
                              "response": {
                                "$ref": "ListJobRunsResponse"
                              },
                              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deliveryPipelines/{deliveryPipelinesId}/releases/{releasesId}/rollouts/{rolloutsId}/jobRuns",
                              "httpMethod": "GET",
                              "description": "Lists JobRuns in a given project and location.",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "id": "clouddeploy.projects.locations.deliveryPipelines.releases.rollouts.jobRuns.list",
                              "path": "v1/{+parent}/jobRuns",
                              "parameterOrder": [
                                "parent"
                              ]
                            },
                            "get": {
                              "id": "clouddeploy.projects.locations.deliveryPipelines.releases.rollouts.jobRuns.get",
                              "path": "v1/{+name}",
                              "parameterOrder": [
                                "name"
                              ],
                              "httpMethod": "GET",
                              "description": "Gets details of a single JobRun.",
                              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deliveryPipelines/{deliveryPipelinesId}/releases/{releasesId}/rollouts/{rolloutsId}/jobRuns/{jobRunsId}",
                              "parameters": {
                                "name": {
                                  "pattern": "^projects/[^/]+/locations/[^/]+/deliveryPipelines/[^/]+/releases/[^/]+/rollouts/[^/]+/jobRuns/[^/]+$",
                                  "location": "path",
                                  "type": "string",
                                  "description": "Required. Name of the `JobRun`. Format must be `projects/{project_id}/locations/{location_name}/deliveryPipelines/{pipeline_name}/releases/{release_name}/rollouts/{rollout_name}/jobRuns/{job_run_name}`.",
                                  "required": true
                                }
                              },
                              "response": {
                                "$ref": "JobRun"
                              },
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ]
                            },
                            "terminate": {
                              "request": {
                                "$ref": "TerminateJobRunRequest"
                              },
                              "id": "clouddeploy.projects.locations.deliveryPipelines.releases.rollouts.jobRuns.terminate",
                              "path": "v1/{+name}:terminate",
                              "parameterOrder": [
                                "name"
                              ],
                              "parameters": {
                                "name": {
                                  "type": "string",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/deliveryPipelines/[^/]+/releases/[^/]+/rollouts/[^/]+/jobRuns/[^/]+$",
                                  "location": "path",
                                  "description": "Required. Name of the `JobRun`. Format must be `projects/{project}/locations/{location}/deliveryPipelines/{deliveryPipeline}/releases/{release}/rollouts/{rollout}/jobRuns/{jobRun}`.",
                                  "required": true
                                }
                              },
                              "response": {
                                "$ref": "TerminateJobRunResponse"
                              },
                              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deliveryPipelines/{deliveryPipelinesId}/releases/{releasesId}/rollouts/{rolloutsId}/jobRuns/{jobRunsId}:terminate",
                              "httpMethod": "POST",
                              "description": "Terminates a Job Run in a given project and location.",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ]
                            }
                          }
                        }
                      },
                      "methods": {
                        "cancel": {
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deliveryPipelines/{deliveryPipelinesId}/releases/{releasesId}/rollouts/{rolloutsId}:cancel",
                          "httpMethod": "POST",
                          "description": "Cancels a Rollout in a given project and location.",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/deliveryPipelines/[^/]+/releases/[^/]+/rollouts/[^/]+$",
                              "location": "path",
                              "type": "string",
                              "description": "Required. Name of the Rollout. Format is `projects/{project}/locations/{location}/deliveryPipelines/{deliveryPipeline}/releases/{release}/rollouts/{rollout}`.",
                              "required": true
                            }
                          },
                          "response": {
                            "$ref": "CancelRolloutResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "request": {
                            "$ref": "CancelRolloutRequest"
                          },
                          "id": "clouddeploy.projects.locations.deliveryPipelines.releases.rollouts.cancel",
                          "path": "v1/{+name}:cancel",
                          "parameterOrder": [
                            "name"
                          ]
                        },
                        "advance": {
                          "httpMethod": "POST",
                          "description": "Advances a Rollout in a given project and location.",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deliveryPipelines/{deliveryPipelinesId}/releases/{releasesId}/rollouts/{rolloutsId}:advance",
                          "parameters": {
                            "name": {
                              "description": "Required. Name of the Rollout. Format is `projects/{project}/locations/{location}/deliveryPipelines/{deliveryPipeline}/releases/{release}/rollouts/{rollout}`.",
                              "required": true,
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/deliveryPipelines/[^/]+/releases/[^/]+/rollouts/[^/]+$",
                              "location": "path"
                            }
                          },
                          "response": {
                            "$ref": "AdvanceRolloutResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "request": {
                            "$ref": "AdvanceRolloutRequest"
                          },
                          "id": "clouddeploy.projects.locations.deliveryPipelines.releases.rollouts.advance",
                          "path": "v1/{+name}:advance",
                          "parameterOrder": [
                            "name"
                          ]
                        },
                        "get": {
                          "parameters": {
                            "name": {
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/deliveryPipelines/[^/]+/releases/[^/]+/rollouts/[^/]+$",
                              "location": "path",
                              "description": "Required. Name of the `Rollout`. Format must be `projects/{project_id}/locations/{location_name}/deliveryPipelines/{pipeline_name}/releases/{release_name}/rollouts/{rollout_name}`.",
                              "required": true
                            }
                          },
                          "response": {
                            "$ref": "Rollout"
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deliveryPipelines/{deliveryPipelinesId}/releases/{releasesId}/rollouts/{rolloutsId}",
                          "httpMethod": "GET",
                          "description": "Gets details of a single Rollout.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "clouddeploy.projects.locations.deliveryPipelines.releases.rollouts.get",
                          "path": "v1/{+name}",
                          "parameterOrder": [
                            "name"
                          ]
                        },
                        "create": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "POST",
                          "description": "Creates a new Rollout in a given project and location.",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deliveryPipelines/{deliveryPipelinesId}/releases/{releasesId}/rollouts",
                          "parameters": {
                            "overrideDeployPolicy": {
                              "repeated": true,
                              "description": "Optional. Deploy policies to override. Format is `projects/{project}/locations/{location}/deployPolicies/{deployPolicy}`.",
                              "location": "query",
                              "type": "string"
                            },
                            "parent": {
                              "description": "Required. The parent collection in which the `Rollout` must be created. The format is `projects/{project_id}/locations/{location_name}/deliveryPipelines/{pipeline_name}/releases/{release_name}`.",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/deliveryPipelines/[^/]+/releases/[^/]+$",
                              "location": "path",
                              "type": "string"
                            },
                            "startingPhaseId": {
                              "location": "query",
                              "type": "string",
                              "description": "Optional. The starting phase ID for the `Rollout`. If empty the `Rollout` will start at the first phase."
                            },
                            "rolloutId": {
                              "location": "query",
                              "type": "string",
                              "description": "Required. ID of the `Rollout`."
                            },
                            "requestId": {
                              "type": "string",
                              "location": "query",
                              "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server knows to ignore the request if it has already been completed. The server guarantees that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                            },
                            "validateOnly": {
                              "type": "boolean",
                              "location": "query",
                              "description": "Optional. If set to true, the request is validated and the user is provided with an expected result, but no actual change is made."
                            }
                          },
                          "response": {
                            "$ref": "Operation"
                          },
                          "id": "clouddeploy.projects.locations.deliveryPipelines.releases.rollouts.create",
                          "path": "v1/{+parent}/rollouts",
                          "parameterOrder": [
                            "parent"
                          ],
                          "request": {
                            "$ref": "Rollout"
                          }
                        },
                        "ignoreJob": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deliveryPipelines/{deliveryPipelinesId}/releases/{releasesId}/rollouts/{rolloutsId}:ignoreJob",
                          "httpMethod": "POST",
                          "description": "Ignores the specified Job in a Rollout.",
                          "parameters": {
                            "rollout": {
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/deliveryPipelines/[^/]+/releases/[^/]+/rollouts/[^/]+$",
                              "location": "path",
                              "description": "Required. Name of the Rollout. Format is `projects/{project}/locations/{location}/deliveryPipelines/{deliveryPipeline}/releases/{release}/rollouts/{rollout}`.",
                              "required": true
                            }
                          },
                          "response": {
                            "$ref": "IgnoreJobResponse"
                          },
                          "id": "clouddeploy.projects.locations.deliveryPipelines.releases.rollouts.ignoreJob",
                          "path": "v1/{+rollout}:ignoreJob",
                          "parameterOrder": [
                            "rollout"
                          ],
                          "request": {
                            "$ref": "IgnoreJobRequest"
                          }
                        },
                        "approve": {
                          "id": "clouddeploy.projects.locations.deliveryPipelines.releases.rollouts.approve",
                          "path": "v1/{+name}:approve",
                          "parameterOrder": [
                            "name"
                          ],
                          "request": {
                            "$ref": "ApproveRolloutRequest"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "POST",
                          "description": "Approves a Rollout.",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deliveryPipelines/{deliveryPipelinesId}/releases/{releasesId}/rollouts/{rolloutsId}:approve",
                          "parameters": {
                            "name": {
                              "description": "Required. Name of the Rollout. Format is `projects/{project}/locations/{location}/deliveryPipelines/{deliveryPipeline}/releases/{release}/rollouts/{rollout}`.",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/deliveryPipelines/[^/]+/releases/[^/]+/rollouts/[^/]+$",
                              "location": "path",
                              "type": "string"
                            }
                          },
                          "response": {
                            "$ref": "ApproveRolloutResponse"
                          }
                        },
                        "list": {
                          "id": "clouddeploy.projects.locations.deliveryPipelines.releases.rollouts.list",
                          "path": "v1/{+parent}/rollouts",
                          "parameterOrder": [
                            "parent"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deliveryPipelines/{deliveryPipelinesId}/releases/{releasesId}/rollouts",
                          "httpMethod": "GET",
                          "description": "Lists Rollouts in a given project and location.",
                          "parameters": {
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/deliveryPipelines/[^/]+/releases/[^/]+$",
                              "location": "path",
                              "type": "string",
                              "description": "Required. The `Release` which owns this collection of `Rollout` objects.",
                              "required": true
                            },
                            "pageToken": {
                              "type": "string",
                              "location": "query",
                              "description": "Optional. A page token, received from a previous `ListRollouts` call. Provide this to retrieve the subsequent page. When paginating, all other provided parameters match the call that provided the page token."
                            },
                            "filter": {
                              "type": "string",
                              "location": "query",
                              "description": "Optional. Filter rollouts to be returned. See https://google.aip.dev/160 for more details."
                            },
                            "orderBy": {
                              "description": "Optional. Field to sort by. See https://google.aip.dev/132#ordering for more details.",
                              "location": "query",
                              "type": "string"
                            },
                            "pageSize": {
                              "location": "query",
                              "type": "integer",
                              "description": "Optional. The maximum number of `Rollout` objects to return. The service may return fewer than this value. If unspecified, at most 50 `Rollout` objects will be returned. The maximum value is 1000; values above 1000 will be set to 1000.",
                              "format": "int32"
                            }
                          },
                          "response": {
                            "$ref": "ListRolloutsResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        },
                        "retryJob": {
                          "httpMethod": "POST",
                          "description": "Retries the specified Job in a Rollout.",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deliveryPipelines/{deliveryPipelinesId}/releases/{releasesId}/rollouts/{rolloutsId}:retryJob",
                          "parameters": {
                            "rollout": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/deliveryPipelines/[^/]+/releases/[^/]+/rollouts/[^/]+$",
                              "location": "path",
                              "type": "string",
                              "description": "Required. Name of the Rollout. Format is `projects/{project}/locations/{location}/deliveryPipelines/{deliveryPipeline}/releases/{release}/rollouts/{rollout}`.",
                              "required": true
                            }
                          },
                          "response": {
                            "$ref": "RetryJobResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "request": {
                            "$ref": "RetryJobRequest"
                          },
                          "id": "clouddeploy.projects.locations.deliveryPipelines.releases.rollouts.retryJob",
                          "path": "v1/{+rollout}:retryJob",
                          "parameterOrder": [
                            "rollout"
                          ]
                        }
                      }
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "filter": {
                      "description": "The standard list filter.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "The standard list page size.",
                      "format": "int32"
                    }
                  },
[...]
