{
  "revision": "20260619",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-identity.devices.readonly": {
          "description": "Private Service: https://www.googleapis.com/auth/cloud-identity.devices.readonly"
        },
        "https://www.googleapis.com/auth/cloud-identity.devices.lookup": {
          "description": "See your device details"
        },
        "https://www.googleapis.com/auth/cloud-identity.orgunits.readonly": {
          "description": "List org members of an OrgUnit in your Cloud Identity Organization."
        },
        "https://www.googleapis.com/auth/cloud-identity.groups": {
          "description": "See, change, create, and delete any of the Cloud Identity Groups that you can access, including the members of each group"
        },
        "https://www.googleapis.com/auth/cloud-identity.inboundsso.readonly": {
          "description": "See all of the Inbound SSO profiles and their assignments to any Org Units or Google Groups in your Cloud Identity Organization."
        },
        "https://www.googleapis.com/auth/cloud-identity.devices": {
          "description": "Private Service: https://www.googleapis.com/auth/cloud-identity.devices"
        },
        "https://www.googleapis.com/auth/cloud-identity.groups.readonly": {
          "description": "See any Cloud Identity Groups that you can access, including group members and their emails"
        },
        "https://www.googleapis.com/auth/cloud-identity.inboundsso": {
          "description": "See and edit all of the Inbound SSO profiles and their assignments to any Org Units or Google Groups in your Cloud Identity Organization."
        },
        "https://www.googleapis.com/auth/cloud-identity.policies.readonly": {
          "description": "See policies in your Cloud Identity Organization."
        },
        "https://www.googleapis.com/auth/cloud-identity.orgunits": {
          "description": "List, Move orgmembers of an OrgUnit in your Cloud Identity Organization."
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-identity.policies": {
          "description": "See and edit policies in your Cloud Identity Organization."
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "documentationLink": "https://cloud.google.com/identity/",
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "name": "cloudidentity",
  "rootUrl": "https://cloudidentity.googleapis.com/",
  "servicePath": "",
  "id": "cloudidentity:v1beta1",
  "title": "Cloud Identity API",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "resources": {
    "inboundSamlSsoProfiles": {
      "resources": {
        "idpCredentials": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.inboundsso",
                "https://www.googleapis.com/auth/cloud-identity.inboundsso.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "description": "Returns a list of IdpCredentials in an InboundSamlSsoProfile.",
              "path": "v1beta1/{+parent}/idpCredentials",
              "flatPath": "v1beta1/inboundSamlSsoProfiles/{inboundSamlSsoProfilesId}/idpCredentials",
              "httpMethod": "GET",
              "id": "cloudidentity.inboundSamlSsoProfiles.idpCredentials.list",
              "response": {
                "$ref": "ListIdpCredentialsResponse"
              },
              "parameters": {
                "pageToken": {
                  "description": "A page token, received from a previous `ListIdpCredentials` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListIdpCredentials` must match the call that provided the page token.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "The maximum number of `IdpCredential`s to return. The service may return fewer than this value.",
                  "format": "int32",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^inboundSamlSsoProfiles/[^/]+$",
                  "description": "Required. The parent, which owns this collection of `IdpCredential`s. Format: `inboundSamlSsoProfiles/{sso_profile_id}`",
                  "type": "string"
                }
              }
            },
            "add": {
              "request": {
                "$ref": "AddIdpCredentialRequest"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.inboundsso",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The InboundSamlSsoProfile that owns the IdpCredential. Format: `inboundSamlSsoProfiles/{sso_profile_id}`",
                  "type": "string",
                  "pattern": "^inboundSamlSsoProfiles/[^/]+$"
                }
              },
              "id": "cloudidentity.inboundSamlSsoProfiles.idpCredentials.add",
              "response": {
                "$ref": "Operation"
              },
              "flatPath": "v1beta1/inboundSamlSsoProfiles/{inboundSamlSsoProfilesId}/idpCredentials:add",
              "httpMethod": "POST",
              "path": "v1beta1/{+parent}/idpCredentials:add",
              "description": "Adds an IdpCredential. Up to 2 credentials are allowed. When the target customer has enabled [Multi-party approval for sensitive actions](https://support.google.com/a/answer/13790448), the `Operation` in the response will have `\"done\": false`, it will not have a response, and the metadata will have `\"state\": \"awaiting-multi-party-approval\"`."
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.inboundsso",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "cloudidentity.inboundSamlSsoProfiles.idpCredentials.delete",
              "response": {
                "$ref": "Operation"
              },
              "flatPath": "v1beta1/inboundSamlSsoProfiles/{inboundSamlSsoProfilesId}/idpCredentials/{idpCredentialsId}",
              "httpMethod": "DELETE",
              "path": "v1beta1/{+name}",
              "description": "Deletes an IdpCredential.",
              "parameters": {
                "name": {
                  "pattern": "^inboundSamlSsoProfiles/[^/]+/idpCredentials/[^/]+$",
                  "type": "string",
                  "description": "Required. The [resource name](https://cloud.google.com/apis/design/resource_names) of the IdpCredential to delete. Format: `inboundSamlSsoProfiles/{sso_profile_id}/idpCredentials/{idp_credential_id}`",
                  "required": true,
                  "location": "path"
                }
              }
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.inboundsso",
                "https://www.googleapis.com/auth/cloud-identity.inboundsso.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta1/{+name}",
              "description": "Gets an IdpCredential.",
              "id": "cloudidentity.inboundSamlSsoProfiles.idpCredentials.get",
              "response": {
                "$ref": "IdpCredential"
              },
              "flatPath": "v1beta1/inboundSamlSsoProfiles/{inboundSamlSsoProfilesId}/idpCredentials/{idpCredentialsId}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "pattern": "^inboundSamlSsoProfiles/[^/]+/idpCredentials/[^/]+$",
                  "description": "Required. The [resource name](https://cloud.google.com/apis/design/resource_names) of the IdpCredential to retrieve. Format: `inboundSamlSsoProfiles/{sso_profile_id}/idpCredentials/{idp_credential_id}`",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              }
            }
          }
        }
      },
      "methods": {
        "patch": {
          "request": {
            "$ref": "InboundSamlSsoProfile"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.inboundsso",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the SAML SSO profile.",
              "pattern": "^inboundSamlSsoProfiles/[^/]+$"
            },
            "updateMask": {
              "description": "Required. The list of fields to be updated.",
              "format": "google-fieldmask",
              "type": "string",
              "location": "query"
            }
          },
          "description": "Updates an InboundSamlSsoProfile. When the target customer has enabled [Multi-party approval for sensitive actions](https://support.google.com/a/answer/13790448), the `Operation` in the response will have `\"done\": false`, it will not have a response, and the metadata will have `\"state\": \"awaiting-multi-party-approval\"`.",
          "path": "v1beta1/{+name}",
          "flatPath": "v1beta1/inboundSamlSsoProfiles/{inboundSamlSsoProfilesId}",
          "httpMethod": "PATCH",
          "id": "cloudidentity.inboundSamlSsoProfiles.patch",
          "response": {
            "$ref": "Operation"
          }
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.inboundsso",
            "https://www.googleapis.com/auth/cloud-identity.inboundsso.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "pattern": "^inboundSamlSsoProfiles/[^/]+$",
              "description": "Required. The [resource name](https://cloud.google.com/apis/design/resource_names) of the InboundSamlSsoProfile to get. Format: `inboundSamlSsoProfiles/{sso_profile_id}`",
              "type": "string"
            }
          },
          "path": "v1beta1/{+name}",
          "description": "Gets an InboundSamlSsoProfile.",
          "id": "cloudidentity.inboundSamlSsoProfiles.get",
          "response": {
            "$ref": "InboundSamlSsoProfile"
          },
          "flatPath": "v1beta1/inboundSamlSsoProfiles/{inboundSamlSsoProfilesId}",
          "httpMethod": "GET"
        },
        "create": {
          "request": {
            "$ref": "InboundSamlSsoProfile"
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.inboundsso",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {},
          "id": "cloudidentity.inboundSamlSsoProfiles.create",
          "response": {
            "$ref": "Operation"
          },
          "flatPath": "v1beta1/inboundSamlSsoProfiles",
          "httpMethod": "POST",
          "path": "v1beta1/inboundSamlSsoProfiles",
          "description": "Creates an InboundSamlSsoProfile for a customer. When the target customer has enabled [Multi-party approval for sensitive actions](https://support.google.com/a/answer/13790448), the `Operation` in the response will have `\"done\": false`, it will not have a response, and the metadata will have `\"state\": \"awaiting-multi-party-approval\"`."
        },
        "delete": {
          "description": "Deletes an InboundSamlSsoProfile.",
          "path": "v1beta1/{+name}",
          "flatPath": "v1beta1/inboundSamlSsoProfiles/{inboundSamlSsoProfilesId}",
          "httpMethod": "DELETE",
          "id": "cloudidentity.inboundSamlSsoProfiles.delete",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "name": {
              "required": true,
              "location": "path",
              "pattern": "^inboundSamlSsoProfiles/[^/]+$",
              "type": "string",
              "description": "Required. The [resource name](https://cloud.google.com/apis/design/resource_names) of the InboundSamlSsoProfile to delete. Format: `inboundSamlSsoProfiles/{sso_profile_id}`"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.inboundsso",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ]
        },
        "list": {
          "description": "Lists InboundSamlSsoProfiles for a customer.",
          "path": "v1beta1/inboundSamlSsoProfiles",
          "flatPath": "v1beta1/inboundSamlSsoProfiles",
          "httpMethod": "GET",
          "id": "cloudidentity.inboundSamlSsoProfiles.list",
          "response": {
            "$ref": "ListInboundSamlSsoProfilesResponse"
          },
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "A page token, received from a previous `ListInboundSamlSsoProfiles` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListInboundSamlSsoProfiles` must match the call that provided the page token."
            },
            "filter": {
              "location": "query",
              "type": "string",
              "description": "A [Common Expression Language](https://github.com/google/cel-spec) expression to filter the results. The only supported filter is filtering by customer. For example: `customer==\"customers/C0123abc\"`. Omitting the filter or specifying a filter of `customer==\"customers/my_customer\"` will return the profiles for the customer that the caller (authenticated user) belongs to."
            },
            "pageSize": {
              "location": "query",
              "description": "The maximum number of InboundSamlSsoProfiles to return. The service may return fewer than this value. If omitted (or defaulted to zero) the server will use a sensible default. This default may change over time. The maximum allowed value is 100. Requests with page_size greater than that will be silently interpreted as having this maximum value.",
              "format": "int32",
              "type": "integer"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.inboundsso",
            "https://www.googleapis.com/auth/cloud-identity.inboundsso.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": []
        }
      }
    },
    "groups": {
      "methods": {
        "delete": {
          "parameters": {
            "name": {
              "pattern": "^groups/[^/]+$",
              "description": "Required. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Group` to retrieve. Must be of the form `groups/{group_id}`.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "flatPath": "v1beta1/groups/{groupsId}",
          "httpMethod": "DELETE",
          "id": "cloudidentity.groups.delete",
          "response": {
            "$ref": "Operation"
          },
          "description": "Deletes a `Group`.",
          "path": "v1beta1/{+name}",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "lookup": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [],
          "path": "v1beta1/groups:lookup",
          "description": "Looks up the [resource name](https://cloud.google.com/apis/design/resource_names) of a `Group` by its `EntityKey`.",
          "id": "cloudidentity.groups.lookup",
          "response": {
            "$ref": "LookupGroupNameResponse"
          },
          "flatPath": "v1beta1/groups:lookup",
          "httpMethod": "GET",
          "parameters": {
            "groupKey.id": {
              "type": "string",
              "description": "The ID of the entity. For Google-managed entities, the `id` must be the email address of an existing group or user. For external-identity-mapped entities, the `id` must be a string conforming to the Identity Source's requirements. Must be unique within a `namespace`.",
              "location": "query"
            },
            "groupKey.namespace": {
              "location": "query",
              "description": "The namespace in which the entity exists. If not specified, the `EntityKey` represents a Google-managed entity such as a Google user or a Google Group. If specified, the `EntityKey` represents an external-identity-mapped group. The namespace must correspond to an identity source created in Admin Console and must be in the form of `identitysources/{identity_source_id}`.",
              "type": "string"
            }
          }
        },
        "list": {
          "description": "Lists the `Group` resources under a customer or namespace.",
          "path": "v1beta1/groups",
          "flatPath": "v1beta1/groups",
          "httpMethod": "GET",
          "id": "cloudidentity.groups.list",
          "response": {
            "$ref": "ListGroupsResponse"
          },
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The `next_page_token` value returned from a previous list request, if any."
            },
            "parent": {
              "type": "string",
              "description": "Required. The parent resource under which to list all `Group` resources. Must be of the form `identitysources/{identity_source_id}` for external- identity-mapped groups or `customers/{customer_id}` for Google Groups. The `customer_id` must begin with \"C\" (for example, 'C046psxkn'). [Find your customer ID.] (https://support.google.com/cloudidentity/answer/10070793)",
              "location": "query"
            },
            "view": {
              "type": "string",
              "enumDescriptions": [
                "Default. Should not be used.",
                "Only basic resource information is returned.",
                "All resource information is returned."
              ],
              "description": "The level of detail to be returned. If unspecified, defaults to `View.BASIC`.",
              "location": "query",
              "enum": [
                "VIEW_UNSPECIFIED",
                "BASIC",
                "FULL"
              ]
            },
            "pageSize": {
              "location": "query",
              "description": "The maximum number of results to return. Note that the number of results returned may be less than this value even if there are more available results. To fetch all results, clients must continue calling this method repeatedly until the response no longer contains a `next_page_token`. If unspecified, defaults to 200 for `View.BASIC` and to 50 for `View.FULL`. Must not be greater than 1000 for `View.BASIC` or 500 for `View.FULL`.",
              "format": "int32",
              "type": "integer"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": []
        },
        "getSecuritySettings": {
          "id": "cloudidentity.groups.getSecuritySettings",
          "response": {
            "$ref": "SecuritySettings"
          },
          "flatPath": "v1beta1/groups/{groupsId}/securitySettings",
          "httpMethod": "GET",
          "path": "v1beta1/{+name}",
          "description": "Get Security Settings",
          "parameters": {
            "name": {
              "type": "string",
              "description": "Required. The security settings to retrieve. Format: `groups/{group_id}/securitySettings`",
              "pattern": "^groups/[^/]+/securitySettings$",
              "required": true,
              "location": "path"
            },
            "readMask": {
              "location": "query",
              "description": "Field-level read mask of which fields to return. \"*\" returns all fields. If not specified, all fields will be returned. May only contain the following field: `member_restriction`.",
              "format": "google-fieldmask",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "create": {
          "parameters": {
            "initialGroupConfig": {
              "location": "query",
              "enum": [
                "INITIAL_GROUP_CONFIG_UNSPECIFIED",
                "WITH_INITIAL_OWNER",
                "EMPTY"
              ],
              "description": "Required. The initial configuration option for the `Group`.",
              "type": "string",
              "enumDescriptions": [
                "Default. Should not be used.",
                "The end user making the request will be added as the initial owner of the `Group`.",
                "An empty group is created without any initial owners. This can only be used by admins of the domain."
              ]
            }
          },
          "path": "v1beta1/groups",
          "description": "Creates a `Group`.",
          "id": "cloudidentity.groups.create",
          "response": {
            "$ref": "Operation"
          },
          "flatPath": "v1beta1/groups",
          "httpMethod": "POST",
          "request": {
            "$ref": "Group"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": []
        },
        "search": {
          "path": "v1beta1/groups:search",
          "description": "Searches for `Group` resources matching a specified query.",
          "id": "cloudidentity.groups.search",
          "response": {
            "$ref": "SearchGroupsResponse"
          },
          "flatPath": "v1beta1/groups:search",
          "httpMethod": "GET",
          "parameters": {
            "view": {
              "location": "query",
              "enum": [
                "BASIC",
                "FULL"
              ],
              "description": "The level of detail to be returned. If unspecified, defaults to `View.BASIC`.",
              "type": "string",
              "enumDescriptions": [
                "Default. Only basic resource information is returned.",
                "All resource information is returned."
              ]
            },
            "pageSize": {
              "location": "query",
              "type": "integer",
              "description": "The maximum number of results to return. Note that the number of results returned may be less than this value even if there are more available results. To fetch all results, clients must continue calling this method repeatedly until the response no longer contains a `next_page_token`. If unspecified, defaults to 200 for `GroupView.BASIC` and to 50 for `GroupView.FULL`. Must not be greater than 1000 for `GroupView.BASIC` or 500 for `GroupView.FULL`.",
              "format": "int32"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The `next_page_token` value returned from a previous search request, if any."
            },
            "query": {
              "location": "query",
              "type": "string",
              "description": "Required. The search query. * Must be specified in [Common Expression Language](https://opensource.google/projects/cel). * Must contain equality operators on the parent, e.g. `parent == 'customers/{customer_id}'`. The `customer_id` must begin with \"C\" (for example, 'C046psxkn'). [Find your customer ID.] (https://support.google.com/cloudidentity/answer/10070793) * Can contain optional inclusion operators on `labels` such as `'cloudidentity.googleapis.com/groups.discussion_forum' in labels`). * Can contain an optional equality operator on `domain_name`. e.g. `domain_name == 'examplepetstore.com'` * Can contain optional `startsWith/contains/equality` operators on `group_key`, e.g. `group_key.startsWith('dev')`, `group_key.contains('dev'), group_key == 'dev@examplepetstore.com'` * Can contain optional `startsWith/contains/equality` operators on `display_name`, such as `display_name.startsWith('dev')` , `display_name.contains('dev')`, `display_name == 'dev'`"
            },
            "orderBy": {
              "location": "query",
              "type": "string",
              "description": "The ordering of groups for the display name or email in the search groups response. The syntax for this field can be found at https://cloud.google.com/apis/design/design_patterns#sorting_order. Example: Sort by the ascending name: order_by=\"display_name\" Sort by the descending group key email: order_by=\"group_key desc\""
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": []
        },
        "updateSecuritySettings": {
          "request": {
            "$ref": "SecuritySettings"
          },
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "pattern": "^groups/[^/]+/securitySettings$",
              "type": "string",
              "description": "Output only. The resource name of the security settings. Shall be of the form `groups/{group_id}/securitySettings`.",
              "required": true,
              "location": "path"
            },
            "updateMask": {
              "location": "query",
              "type": "string",
              "description": "Required. The fully-qualified names of fields to update. May only contain the following field: `member_restriction.query`.",
              "format": "google-fieldmask"
            }
          },
          "id": "cloudidentity.groups.updateSecuritySettings",
          "response": {
            "$ref": "Operation"
          },
          "flatPath": "v1beta1/groups/{groupsId}/securitySettings",
          "httpMethod": "PATCH",
          "path": "v1beta1/{+name}",
          "description": "Update Security Settings"
        },
        "get": {
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "cloudidentity.groups.get",
          "response": {
            "$ref": "Group"
          },
          "flatPath": "v1beta1/groups/{groupsId}",
          "httpMethod": "GET",
          "path": "v1beta1/{+name}",
          "description": "Retrieves a `Group`.",
          "parameters": {
            "name": {
              "type": "string",
              "description": "Required. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Group` to retrieve. Must be of the form `groups/{group_id}`.",
              "pattern": "^groups/[^/]+$",
              "required": true,
              "location": "path"
            }
          }
        },
        "patch": {
          "parameters": {
            "name": {
              "pattern": "^groups/[^/]+$",
              "description": "Output only. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Group`. Shall be of the form `groups/{group_id}`.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "updateMask": {
              "type": "string",
              "description": "Required. The names of fields to update. May only contain the following field names: `display_name`, `description`, `labels`, `dynamic_group_metadata`, `posix_groups`.",
              "format": "google-fieldmask",
              "location": "query"
            }
          },
          "path": "v1beta1/{+name}",
          "description": "Updates a `Group`.",
          "id": "cloudidentity.groups.patch",
          "response": {
            "$ref": "Operation"
          },
          "flatPath": "v1beta1/groups/{groupsId}",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "Group"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ]
        }
      },
      "resources": {
        "memberships": {
          "methods": {
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "The `next_page_token` value returned from a previous search request, if any.",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The parent `Group` resource under which to lookup the `Membership` name. Must be of the form `groups/{group_id}`.",
                  "type": "string",
                  "pattern": "^groups/[^/]+$"
                },
                "view": {
                  "location": "query",
                  "enum": [
                    "BASIC",
                    "FULL"
                  ],
                  "type": "string",
                  "enumDescriptions": [
                    "Default. Only basic resource information is returned.",
                    "All resource information is returned."
                  ],
                  "description": "The level of detail to be returned. If unspecified, defaults to `MembershipView.BASIC`."
                },
                "pageSize": {
                  "location": "query",
                  "description": "The maximum number of results to return. Note that the number of results returned may be less than this value even if there are more available results. To fetch all results, clients must continue calling this method repeatedly until the response no longer contains a `next_page_token`. If unspecified, defaults to 200 for `GroupView.BASIC` and to 50 for `GroupView.FULL`. Must not be greater than 1000 for `GroupView.BASIC` or 500 for `GroupView.FULL`.",
                  "format": "int32",
                  "type": "integer"
                }
              },
              "flatPath": "v1beta1/groups/{groupsId}/memberships",
              "httpMethod": "GET",
              "id": "cloudidentity.groups.memberships.list",
              "response": {
                "$ref": "ListMembershipsResponse"
              },
              "description": "Lists the `Membership`s within a `Group`.",
              "path": "v1beta1/{+parent}/memberships"
            },
            "getMembershipGraph": {
              "parameters": {
                "query": {
                  "description": "Required. A CEL expression that MUST include member specification AND label(s). Certain groups are uniquely identified by both a 'member_key_id' and a 'member_key_namespace', which requires an additional query input: 'member_key_namespace'. Example query: `member_key_id == 'member_key_id_value' && in labels`",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the group to search transitive memberships in. Format: `groups/{group_id}`, where `group_id` is the unique ID assigned to the Group to which the Membership belongs to. group_id can be a wildcard collection id \"-\". When `group_id` is specified, the membership graph will be constrained to paths between the member (defined in the query) and the parent. If a wildcard collection is provided, all membership paths connected to the member will be returned.",
                  "type": "string",
                  "pattern": "^groups/[^/]+$"
                }
              },
              "flatPath": "v1beta1/groups/{groupsId}/memberships:getMembershipGraph",
              "httpMethod": "GET",
              "id": "cloudidentity.groups.memberships.getMembershipGraph",
              "response": {
                "$ref": "Operation"
              },
              "description": "Get a membership graph of just a member or both a member and a group. **Note:** This feature is only available to Google Workspace Enterprise Standard, Enterprise Plus, and Enterprise for Education; and Cloud Identity Premium accounts. Given a member, the response will contain all membership paths from the member. Given both a group and a member, the response will contain all membership paths between the group and the member.",
              "path": "v1beta1/{+parent}/memberships:getMembershipGraph",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "delete": {
              "flatPath": "v1beta1/groups/{groupsId}/memberships/{membershipsId}",
              "httpMethod": "DELETE",
              "id": "cloudidentity.groups.memberships.delete",
              "response": {
                "$ref": "Operation"
              },
              "description": "Deletes a `Membership`.",
              "path": "v1beta1/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^groups/[^/]+/memberships/[^/]+$",
                  "type": "string",
                  "description": "Required. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Membership` to delete. Must be of the form `groups/{group_id}/memberships/{membership_id}`.",
                  "required": true,
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "lookup": {
              "parameters": {
                "memberKey.id": {
                  "location": "query",
                  "description": "The ID of the entity. For Google-managed entities, the `id` must be the email address of an existing group or user. For external-identity-mapped entities, the `id` must be a string conforming to the Identity Source's requirements. Must be unique within a `namespace`.",
                  "type": "string"
                },
                "memberKey.namespace": {
                  "type": "string",
                  "description": "The namespace in which the entity exists. If not specified, the `EntityKey` represents a Google-managed entity such as a Google user or a Google Group. If specified, the `EntityKey` represents an external-identity-mapped group. The namespace must correspond to an identity source created in Admin Console and must be in the form of `identitysources/{identity_source_id}`.",
                  "location": "query"
                },
                "parent": {
                  "pattern": "^groups/[^/]+$",
                  "description": "Required. The parent `Group` resource under which to lookup the `Membership` name. Must be of the form `groups/{group_id}`.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "path": "v1beta1/{+parent}/memberships:lookup",
              "description": "Looks up the [resource name](https://cloud.google.com/apis/design/resource_names) of a `Membership` by its `EntityKey`.",
              "id": "cloudidentity.groups.memberships.lookup",
              "response": {
                "$ref": "LookupMembershipNameResponse"
              },
              "flatPath": "v1beta1/groups/{groupsId}/memberships:lookup",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ]
            },
            "searchTransitiveMemberships": {
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta1/groups/{groupsId}/memberships:searchTransitiveMemberships",
              "httpMethod": "GET",
              "id": "cloudidentity.groups.memberships.searchTransitiveMemberships",
              "response": {
                "$ref": "SearchTransitiveMembershipsResponse"
              },
              "description": "Search transitive memberships of a group. **Note:** This feature is only available to Google Workspace Enterprise Standard, Enterprise Plus, and Enterprise for Education; and Cloud Identity Premium accounts. A transitive membership is any direct or indirect membership of a group. Actor must have view permissions to all transitive memberships.",
              "path": "v1beta1/{+parent}/memberships:searchTransitiveMemberships",
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "pattern": "^groups/[^/]+$",
                  "type": "string",
                  "description": "[Resource name](https://cloud.google.com/apis/design/resource_names) of the group to search transitive memberships in. Format: `groups/{group_id}`, where `group_id` is the unique ID assigned to the Group."
                },
                "pageSize": {
                  "type": "integer",
                  "description": "The default page size is 200 (max 1000).",
                  "format": "int32",
                  "location": "query"
                },
                "pageToken": {
                  "description": "The next_page_token value returned from a previous list request, if any.",
                  "type": "string",
                  "location": "query"
                }
              }
            },
            "create": {
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. The parent `Group` resource under which to create the `Membership`. Must be of the form `groups/{group_id}`.",
                  "pattern": "^groups/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "description": "Creates a `Membership`.",
              "path": "v1beta1/{+parent}/memberships",
              "flatPath": "v1beta1/groups/{groupsId}/memberships",
              "httpMethod": "POST",
              "id": "cloudidentity.groups.memberships.create",
              "response": {
                "$ref": "Operation"
              },
              "request": {
                "$ref": "Membership"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ]
            },
            "modifyMembershipRoles": {
              "description": "Modifies the `MembershipRole`s of a `Membership`.",
              "path": "v1beta1/{+name}:modifyMembershipRoles",
              "flatPath": "v1beta1/groups/{groupsId}/memberships/{membershipsId}:modifyMembershipRoles",
              "httpMethod": "POST",
              "id": "cloudidentity.groups.memberships.modifyMembershipRoles",
              "response": {
                "$ref": "ModifyMembershipRolesResponse"
              },
              "parameters": {
                "name": {
                  "pattern": "^groups/[^/]+/memberships/[^/]+$",
                  "type": "string",
                  "description": "Required. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Membership` whose roles are to be modified. Must be of the form `groups/{group_id}/memberships/{membership_id}`.",
                  "required": true,
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "ModifyMembershipRolesRequest"
              }
            },
            "searchTransitiveGroups": {
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "The default page size is 200 (max 1000).",
                  "format": "int32"
                },
                "parent": {
                  "description": "[Resource name](https://cloud.google.com/apis/design/resource_names) of the group to search transitive memberships in. Format: `groups/{group_id}`, where `group_id` is always '-' as this API will search across all groups for a given member.",
                  "type": "string",
                  "pattern": "^groups/[^/]+$",
                  "location": "path",
                  "required": true
                },
                "query": {
                  "location": "query",
                  "type": "string",
                  "description": "Required. A CEL expression that MUST include member specification AND label(s). This is a `required` field. Users can search on label attributes of groups. CONTAINS match ('in') is supported on labels. Identity-mapped groups are uniquely identified by both a `member_key_id` and a `member_key_namespace`, which requires an additional query input: `member_key_namespace`. Example query: `member_key_id == 'member_key_id_value' && in labels` Query may optionally contain equality operators on the parent of the group restricting the search within a particular customer, e.g. `parent == 'customers/{customer_id}'`. The `customer_id` must begin with \"C\" (for example, 'C046psxkn'). This filtering is only supported for Admins with groups read permissions on the input customer. Example query: `member_key_id == 'member_key_id_value' && in labels && parent == 'customers/C046psxkn'`"
                },
                "pageToken": {
                  "type": "string",
                  "description": "The `next_page_token` value returned from a previous list request, if any.",
                  "location": "query"
                }
              },
              "id": "cloudidentity.groups.memberships.searchTransitiveGroups",
              "response": {
                "$ref": "SearchTransitiveGroupsResponse"
              },
              "flatPath": "v1beta1/groups/{groupsId}/memberships:searchTransitiveGroups",
              "httpMethod": "GET",
              "path": "v1beta1/{+parent}/memberships:searchTransitiveGroups",
              "description": "Search transitive groups of a member. **Note:** This feature is only available to Google Workspace Enterprise Standard, Enterprise Plus, and Enterprise for Education; and Cloud Identity Premium accounts. A transitive group is any group that has a direct or indirect membership to the member. Actor must have view permissions all transitive groups."
            },
            "checkTransitiveMembership": {
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "query": {
                  "location": "query",
                  "description": "Required. A CEL expression that MUST include member specification. This is a `required` field. Certain groups are uniquely identified by both a 'member_key_id' and a 'member_key_namespace', which requires an additional query input: 'member_key_namespace'. Example query: `member_key_id == 'member_key_id_value'`",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "description": "[Resource name](https://cloud.google.com/apis/design/resource_names) of the group to check the transitive membership in. Format: `groups/{group_id}`, where `group_id` is the unique id assigned to the Group to which the Membership belongs to.",
                  "type": "string",
                  "pattern": "^groups/[^/]+$"
                }
              },
              "id": "cloudidentity.groups.memberships.checkTransitiveMembership",
              "response": {
                "$ref": "CheckTransitiveMembershipResponse"
              },
              "flatPath": "v1beta1/groups/{groupsId}/memberships:checkTransitiveMembership",
              "httpMethod": "GET",
              "path": "v1beta1/{+parent}/memberships:checkTransitiveMembership",
              "description": "Check a potential member for membership in a group. **Note:** This feature is only available to Google Workspace Enterprise Standard, Enterprise Plus, and Enterprise for Education; and Cloud Identity Premium accounts. A member has membership to a group as long as there is a single viewable transitive membership between the group and the member. The actor must have view permissions to at least one transitive membership between the member and group."
            },
            "searchDirectGroups": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "query": {
                  "type": "string",
                  "description": "Required. A CEL expression that MUST include member specification AND label(s). Users can search on label attributes of groups. CONTAINS match ('in') is supported on labels. Identity-mapped groups are uniquely identified by both a `member_key_id` and a `member_key_namespace`, which requires an additional query input: `member_key_namespace`. Example query: `member_key_id == 'member_key_id_value' && 'label_value' in labels`",
                  "location": "query"
                },
                "orderBy": {
                  "type": "string",
                  "description": "The ordering of membership relation for the display name or email in the response. The syntax for this field can be found at https://cloud.google.com/apis/design/design_patterns#sorting_order. Example: Sort by the ascending display name: order_by=\"group_name\" or order_by=\"group_name asc\". Sort by the descending display name: order_by=\"group_name desc\". Sort by the ascending group key: order_by=\"group_key\" or order_by=\"group_key asc\". Sort by the descending group key: order_by=\"group_key desc\".",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "The next_page_token value returned from a previous list request, if any."
                },
                "pageSize": {
                  "location": "query",
                  "description": "The default page size is 200 (max 1000).",
                  "format": "int32",
                  "type": "integer"
                },
                "parent": {
                  "pattern": "^groups/[^/]+$",
                  "description": "[Resource name](https://cloud.google.com/apis/design/resource_names) of the group to search transitive memberships in. Format: groups/{group_id}, where group_id is always '-' as this API will search across all groups for a given member.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "description": "Searches direct groups of a member. Groups for which the actor does not have the permission to view memberships are silently filtered out.",
              "path": "v1beta1/{+parent}/memberships:searchDirectGroups",
              "flatPath": "v1beta1/groups/{groupsId}/memberships:searchDirectGroups",
              "httpMethod": "GET",
              "id": "cloudidentity.groups.memberships.searchDirectGroups",
              "response": {
                "$ref": "SearchDirectGroupsResponse"
              }
            },
            "get": {
              "description": "Retrieves a `Membership`.",
              "path": "v1beta1/{+name}",
              "flatPath": "v1beta1/groups/{groupsId}/memberships/{membershipsId}",
              "httpMethod": "GET",
              "id": "cloudidentity.groups.memberships.get",
              "response": {
                "$ref": "Membership"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Membership` to retrieve. Must be of the form `groups/{group_id}/memberships/{membership_id}`.",
                  "pattern": "^groups/[^/]+/memberships/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ]
            }
          }
        }
      }
    },
    "inboundOidcSsoProfiles": {
      "methods": {
        "patch": {
          "request": {
            "$ref": "InboundOidcSsoProfile"
          },
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.inboundsso",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "pattern": "^inboundOidcSsoProfiles/[^/]+$",
              "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the OIDC SSO profile.",
              "type": "string"
            },
            "updateMask": {
              "description": "Required. The list of fields to be updated.",
              "format": "google-fieldmask",
              "type": "string",
              "location": "query"
            }
          },
          "flatPath": "v1beta1/inboundOidcSsoProfiles/{inboundOidcSsoProfilesId}",
          "httpMethod": "PATCH",
          "id": "cloudidentity.inboundOidcSsoProfiles.patch",
          "response": {
            "$ref": "Operation"
          },
          "description": "Updates an InboundOidcSsoProfile. When the target customer has enabled [Multi-party approval for sensitive actions](https://support.google.com/a/answer/13790448), the `Operation` in the response will have `\"done\": false`, it will not have a response, and the metadata will have `\"state\": \"awaiting-multi-party-approval\"`.",
          "path": "v1beta1/{+name}"
        },
        "get": {
          "description": "Gets an InboundOidcSsoProfile.",
          "path": "v1beta1/{+name}",
          "flatPath": "v1beta1/inboundOidcSsoProfiles/{inboundOidcSsoProfilesId}",
          "httpMethod": "GET",
          "id": "cloudidentity.inboundOidcSsoProfiles.get",
          "response": {
            "$ref": "InboundOidcSsoProfile"
          },
          "parameters": {
            "name": {
              "description": "Required. The [resource name](https://cloud.google.com/apis/design/resource_names) of the InboundOidcSsoProfile to get. Format: `inboundOidcSsoProfiles/{sso_profile_id}`",
              "type": "string",
              "pattern": "^inboundOidcSsoProfiles/[^/]+$",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.inboundsso",
            "https://www.googleapis.com/auth/cloud-identity.inboundsso.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ]
        },
        "create": {
          "request": {
            "$ref": "InboundOidcSsoProfile"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.inboundsso",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [],
          "parameters": {},
          "description": "Creates an InboundOidcSsoProfile for a customer. When the target customer has enabled [Multi-party approval for sensitive actions](https://support.google.com/a/answer/13790448), the `Operation` in the response will have `\"done\": false`, it will not have a response, and the metadata will have `\"state\": \"awaiting-multi-party-approval\"`.",
          "path": "v1beta1/inboundOidcSsoProfiles",
          "flatPath": "v1beta1/inboundOidcSsoProfiles",
          "httpMethod": "POST",
          "id": "cloudidentity.inboundOidcSsoProfiles.create",
          "response": {
            "$ref": "Operation"
          }
        },
        "delete": {
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.inboundsso",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "pattern": "^inboundOidcSsoProfiles/[^/]+$",
              "type": "string",
              "description": "Required. The [resource name](https://cloud.google.com/apis/design/resource_names) of the InboundOidcSsoProfile to delete. Format: `inboundOidcSsoProfiles/{sso_profile_id}`",
              "required": true,
              "location": "path"
            }
          },
          "flatPath": "v1beta1/inboundOidcSsoProfiles/{inboundOidcSsoProfilesId}",
          "httpMethod": "DELETE",
          "id": "cloudidentity.inboundOidcSsoProfiles.delete",
          "response": {
            "$ref": "Operation"
          },
          "description": "Deletes an InboundOidcSsoProfile.",
          "path": "v1beta1/{+name}"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.inboundsso",
            "https://www.googleapis.com/auth/cloud-identity.inboundsso.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [],
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "A page token, received from a previous `ListInboundOidcSsoProfiles` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListInboundOidcSsoProfiles` must match the call that provided the page token."
            },
            "pageSize": {
              "location": "query",
              "type": "integer",
              "description": "The maximum number of InboundOidcSsoProfiles to return. The service may return fewer than this value. If omitted (or defaulted to zero) the server will use a sensible default. This default may change over time. The maximum allowed value is 100. Requests with page_size greater than that will be silently interpreted as having this maximum value.",
              "format": "int32"
            },
            "filter": {
              "type": "string",
              "description": "A [Common Expression Language](https://github.com/google/cel-spec) expression to filter the results. The only supported filter is filtering by customer. For example: `customer==\"customers/C0123abc\"`. Omitting the filter or specifying a filter of `customer==\"customers/my_customer\"` will return the profiles for the customer that the caller (authenticated user) belongs to. Specifying a filter of `customer==\"\"` will return the global shared OIDC profiles.",
              "location": "query"
            }
          },
          "description": "Lists InboundOidcSsoProfile objects for a Google enterprise customer.",
          "path": "v1beta1/inboundOidcSsoProfiles",
          "flatPath": "v1beta1/inboundOidcSsoProfiles",
          "httpMethod": "GET",
          "id": "cloudidentity.inboundOidcSsoProfiles.list",
          "response": {
            "$ref": "ListInboundOidcSsoProfilesResponse"
          }
        }
      }
    },
    "inboundSsoAssignments": {
      "methods": {
        "get": {
          "parameters": {
            "name": {
              "pattern": "^inboundSsoAssignments/[^/]+$",
              "type": "string",
              "description": "Required. The [resource name](https://cloud.google.com/apis/design/resource_names) of the InboundSsoAssignment to fetch. Format: `inboundSsoAssignments/{assignment}`",
              "required": true,
              "location": "path"
            }
          },
          "id": "cloudidentity.inboundSsoAssignments.get",
          "response": {
            "$ref": "InboundSsoAssignment"
          },
          "flatPath": "v1beta1/inboundSsoAssignments/{inboundSsoAssignmentsId}",
          "httpMethod": "GET",
          "path": "v1beta1/{+name}",
          "description": "Gets an InboundSsoAssignment.",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.inboundsso",
            "https://www.googleapis.com/auth/cloud-identity.inboundsso.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "patch": {
          "parameters": {
            "name": {
              "type": "string",
              "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Inbound SSO Assignment.",
              "pattern": "^inboundSsoAssignments/[^/]+$",
              "required": true,
              "location": "path"
            },
            "updateMask": {
              "description": "Required. The list of fields to be updated.",
              "format": "google-fieldmask",
              "type": "string",
              "location": "query"
            }
          },
          "description": "Updates an InboundSsoAssignment. The body of this request is the `inbound_sso_assignment` field and the `update_mask` is relative to that. For example: a PATCH to `/v1beta1/inboundSsoAssignments/0abcdefg1234567&update_mask=rank` with a body of `{ \"rank\": 1 }` moves that (presumably group-targeted) SSO assignment to the highest priority and shifts any other group-targeted assignments down in priority.",
          "path": "v1beta1/{+name}",
          "flatPath": "v1beta1/inboundSsoAssignments/{inboundSsoAssignmentsId}",
          "httpMethod": "PATCH",
          "id": "cloudidentity.inboundSsoAssignments.patch",
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "InboundSsoAssignment"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.inboundsso",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ]
        },
        "create": {
          "path": "v1beta1/inboundSsoAssignments",
          "description": "Creates an InboundSsoAssignment for users and devices in a `Customer` under a given `Group` or `OrgUnit`.",
          "id": "cloudidentity.inboundSsoAssignments.create",
          "response": {
            "$ref": "Operation"
          },
          "flatPath": "v1beta1/inboundSsoAssignments",
          "httpMethod": "POST",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.inboundsso",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [],
          "request": {
            "$ref": "InboundSsoAssignment"
          }
        },
        "delete": {
          "description": "Deletes an InboundSsoAssignment. To disable SSO, Create (or Update) an assignment that has `sso_mode` == `SSO_OFF`.",
          "path": "v1beta1/{+name}",
          "flatPath": "v1beta1/inboundSsoAssignments/{inboundSsoAssignmentsId}",
          "httpMethod": "DELETE",
          "id": "cloudidentity.inboundSsoAssignments.delete",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "description": "Required. The [resource name](https://cloud.google.com/apis/design/resource_names) of the InboundSsoAssignment to delete. Format: `inboundSsoAssignments/{assignment}`",
              "type": "string",
              "pattern": "^inboundSsoAssignments/[^/]+$"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.inboundsso",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ]
        },
        "list": {
          "description": "Lists the InboundSsoAssignments for a `Customer`.",
          "path": "v1beta1/inboundSsoAssignments",
          "flatPath": "v1beta1/inboundSsoAssignments",
          "httpMethod": "GET",
          "id": "cloudidentity.inboundSsoAssignments.list",
          "response": {
            "$ref": "ListInboundSsoAssignmentsResponse"
          },
          "parameters": {
            "pageSize": {
              "type": "integer",
              "description": "The maximum number of assignments to return. The service may return fewer than this value. If omitted (or defaulted to zero) the server will use a sensible default. This default may change over time. The maximum allowed value is 100, though requests with page_size greater than that will be silently interpreted as having this maximum value. This may increase in the futue.",
              "format": "int32",
              "location": "query"
            },
            "filter": {
              "description": "A CEL expression to filter the results. The only supported filter is filtering by customer. For example: `customer==customers/C0123abc`. Omitting the filter or specifying a filter of `customer==customers/my_customer` will return the assignments for the customer that the caller (authenticated user) belongs to.",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "A page token, received from a previous `ListInboundSsoAssignments` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListInboundSsoAssignments` must match the call that provided the page token.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.inboundsso",
            "https://www.googleapis.com/auth/cloud-identity.inboundsso.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": []
        }
      }
    },
    "policies": {
      "methods": {
        "list": {
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Optional. The pagination token received from a prior call to PoliciesService.ListPolicies to retrieve the next page of results. When paginating, all other parameters provided to `ListPoliciesRequest` must match the call that provided the page token."
            },
            "pageSize": {
              "description": "Optional. The maximum number of results to return. The service can return fewer than this number. If omitted or set to `0`, the default is `50` results per page. The maximum allowed value is `100`. `page_size` values greater than `100` default to `100`.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "filter": {
              "location": "query",
              "type": "string",
              "description": "Optional. A CEL expression for filtering the results. Policies can be filtered using the expression in the following ways: - Filter by application: `setting.type.matches('^settings/gmail\\\\..*$')` - Filter by setting type: `setting.type.matches('^.*\\\\.service_status$')` - Filter by customer: `customer == \"customers/{customer}\"` Where `customer` is the `id` from the [Admin SDK `Customer` resource](https://developers.google.com/admin-sdk/directory/reference/rest/v1/customers). You may use `customers/my_customer` to specify your own organization. When no `customer` is mentioned it will be default to `customers/my_customer`. You may only filter on policies for a single customer at a time. The above clauses can be combined together in a single filter expression with the `&&` and `||` operators, like in the following example: `customer == \"customers/my_customer\" && ( setting.type.matches('^settings/gmail\\\\..*$') || setting.type.matches('^.*\\\\.service_status$') )`."
            }
          },
          "path": "v1beta1/policies",
          "description": "List policies.",
          "id": "cloudidentity.policies.list",
          "response": {
            "$ref": "ListPoliciesResponse"
          },
          "flatPath": "v1beta1/policies",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.policies",
            "https://www.googleapis.com/auth/cloud-identity.policies.readonly"
          ],
          "parameterOrder": []
        },
        "delete": {
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.policies"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "description": "Required. The name of the policy to delete. Format: `policies/{policy}`.",
              "pattern": "^policies/[^/]+$",
              "required": true,
              "location": "path"
            }
          },
          "id": "cloudidentity.policies.delete",
          "response": {
            "$ref": "Operation"
          },
          "flatPath": "v1beta1/policies/{policiesId}",
          "httpMethod": "DELETE",
          "path": "v1beta1/{+name}",
          "description": "Delete a policy."
        },
        "create": {
          "description": "Create a policy.",
          "path": "v1beta1/policies",
          "flatPath": "v1beta1/policies",
          "httpMethod": "POST",
          "id": "cloudidentity.policies.create",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.policies"
          ],
          "parameterOrder": [],
          "request": {
            "$ref": "Policy"
          }
        },
        "get": {
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.policies",
            "https://www.googleapis.com/auth/cloud-identity.policies.readonly"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "description": "Required. The name of the policy to retrieve. Format: `policies/{policy}`.",
              "pattern": "^policies/[^/]+$",
              "required": true,
              "location": "path"
            }
          },
          "flatPath": "v1beta1/policies/{policiesId}",
          "httpMethod": "GET",
          "id": "cloudidentity.policies.get",
          "response": {
            "$ref": "Policy"
          },
          "description": "Get a policy.",
          "path": "v1beta1/{+name}"
        },
        "patch": {
          "parameters": {
            "name": {
              "pattern": "^policies/[^/]+$",
              "description": "Output only. Identifier. The [resource name](https://cloud.google.com/apis/design/resource_names) of the Policy. Format: policies/{policy}.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "path": "v1beta1/{+name}",
          "description": "Update a policy.",
          "id": "cloudidentity.policies.patch",
          "response": {
            "$ref": "Operation"
          },
          "flatPath": "v1beta1/policies/{policiesId}",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "Policy"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.policies"
          ],
          "parameterOrder": [
            "name"
          ]
        }
      }
    },
    "customers": {
      "resources": {
        "userinvitations": {
          "methods": {
            "send": {
              "description": "Sends a UserInvitation to email. If the `UserInvitation` does not exist for this request and it is a valid request, the request creates a `UserInvitation`. **Note:** The `get` and `list` methods have a 48-hour delay where newly-created consumer accounts will not appear in the results. You can still send a `UserInvitation` to those accounts if you know the unmanaged email address and IsInvitableUser==True.",
              "path": "v1beta1/{+name}:send",
              "flatPath": "v1beta1/customers/{customersId}/userinvitations/{userinvitationsId}:send",
              "httpMethod": "POST",
              "id": "cloudidentity.customers.userinvitations.send",
              "response": {
                "$ref": "Operation"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^customers/[^/]+/userinvitations/[^/]+$",
                  "description": "Required. `UserInvitation` name in the format `customers/{customer}/userinvitations/{user_email_address}`",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "SendUserInvitationRequest"
              }
            },
            "get": {
              "parameters": {
                "name": {
                  "description": "Required. `UserInvitation` name in the format `customers/{customer}/userinvitations/{user_email_address}`",
                  "type": "string",
                  "pattern": "^customers/[^/]+/userinvitations/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "description": "Retrieves a UserInvitation resource. **Note:** New consumer accounts with the customer's verified domain created within the previous 48 hours will not appear in the result. This delay also applies to newly-verified domains.",
              "path": "v1beta1/{+name}",
              "flatPath": "v1beta1/customers/{customersId}/userinvitations/{userinvitationsId}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "id": "cloudidentity.customers.userinvitations.get",
              "response": {
                "$ref": "UserInvitation"
              }
            },
            "list": {
              "description": "Retrieves a list of UserInvitation resources. **Note:** New consumer accounts with the customer's verified domain created within the previous 48 hours will not appear in the result. This delay also applies to newly-verified domains.",
              "path": "v1beta1/{+parent}/userinvitations",
              "flatPath": "v1beta1/customers/{customersId}/userinvitations",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "id": "cloudidentity.customers.userinvitations.list",
              "response": {
                "$ref": "ListUserInvitationsResponse"
              },
              "parameters": {
                "filter": {
                  "location": "query",
                  "description": "Optional. A query string for filtering `UserInvitation` results by their current state, in the format: `\"state=='invited'\"`.",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "Optional. The maximum number of UserInvitation resources to return. If unspecified, at most 100 resources will be returned. The maximum value is 200; values above 200 will be set to 200.",
                  "format": "int32"
                },
                "parent": {
                  "type": "string",
                  "description": "Required. The customer ID of the Google Workspace or Cloud Identity account the UserInvitation resources are associated with.",
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "location": "path"
                },
                "orderBy": {
                  "description": "Optional. The sort order of the list results. You can sort the results in descending order based on either email or last update timestamp but not both, using `order_by=\"email desc\"`. Currently, sorting is supported for `update_time asc`, `update_time desc`, `email asc`, and `email desc`. If not specified, results will be returned based on `email asc` order.",
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListUserInvitations` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListBooks` must match the call that provided the page token.",
                  "location": "query"
                }
              }
            },
            "cancel": {
              "description": "Cancels a UserInvitation that was already sent.",
              "path": "v1beta1/{+name}:cancel",
              "flatPath": "v1beta1/customers/{customersId}/userinvitations/{userinvitationsId}:cancel",
              "httpMethod": "POST",
              "id": "cloudidentity.customers.userinvitations.cancel",
              "response": {
                "$ref": "Operation"
              },
              "parameters": {
                "name": {
                  "pattern": "^customers/[^/]+/userinvitations/[^/]+$",
                  "type": "string",
                  "description": "Required. `UserInvitation` name in the format `customers/{customer}/userinvitations/{user_email_address}`",
                  "required": true,
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "CancelUserInvitationRequest"
              }
            },
            "isInvitableUser": {
              "flatPath": "v1beta1/customers/{customersId}/userinvitations/{userinvitationsId}:isInvitableUser",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "id": "cloudidentity.customers.userinvitations.isInvitableUser",
              "response": {
                "$ref": "IsInvitableUserResponse"
              },
              "description": "Verifies whether a user account is eligible to receive a UserInvitation (is an unmanaged account). Eligibility is based on the following criteria: * the email address is a consumer account and it's the primary email address of the account, and * the domain of the email address matches an existing verified Google Workspace or Cloud Identity domain If both conditions are met, the user is eligible. **Note:** This method is not supported for Workspace Essentials customers.",
              "path": "v1beta1/{+name}:isInvitableUser",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. `UserInvitation` name in the format `customers/{customer}/userinvitations/{user_email_address}`",
                  "pattern": "^customers/[^/]+/userinvitations/[^/]+$"
                }
              }
            }
          }
        }
      }
    },
    "devices": {
      "methods": {
        "list": {
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.devices",
            "https://www.googleapis.com/auth/cloud-identity.devices.readonly"
          ],
          "id": "cloudidentity.devices.list",
          "response": {
            "$ref": "ListDevicesResponse"
          },
          "flatPath": "v1beta1/devices",
          "httpMethod": "GET",
          "path": "v1beta1/devices",
          "description": "Lists/Searches devices.",
          "parameters": {
            "orderBy": {
              "location": "query",
              "description": "Optional. Order specification for devices in the response. Only one of the following field names may be used to specify the order: `create_time`, `last_sync_time`, `model`, `os_version`, `device_type` and `serial_number`. `desc` may be specified optionally to specify results to be sorted in descending order. Default order is ascending.",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "description": "Optional. A page token, received from a previous `ListDevices` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListDevices` must match the call that provided the page token.",
              "type": "string"
            },
            "pageSize": {
              "description": "Optional. The maximum number of Devices to return. If unspecified, at most 20 Devices will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "customer": {
              "location": "query",
              "type": "string",
              "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer."
            },
            "view": {
              "location": "query",
              "enum": [
                "VIEW_UNSPECIFIED",
                "COMPANY_INVENTORY",
                "USER_ASSIGNED_DEVICES"
              ],
              "description": "Optional. The view to use for the List request.",
              "type": "string",
              "enumDescriptions": [
                "Default value. The value is unused.",
                "This view contains all devices imported by the company admin. Each device in the response contains all information specified by the company admin when importing the device (i.e. asset tags).",
                "This view contains all devices with at least one user registered on the device. Each device in the response contains all device information, except for asset tags."
              ]
            },
            "filter": {
              "location": "query",
              "type": "string",
              "description": "Optional. Additional restrictions when fetching list of devices. For a list of search fields, refer to [Mobile device search fields](https://developers.google.com/admin-sdk/directory/v1/search-operators). Multiple search fields are separated by the space character."
            }
          }
        },
        "delete": {
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.devices"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "pattern": "^devices/[^/]+$",
              "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device_id}`, where device_id is the unique ID assigned to the Device.",
              "type": "string"
            },
            "customer": {
              "location": "query",
              "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer_id}`, where customer_id is the customer to whom the device belongs.",
              "type": "string"
            }
          },
          "flatPath": "v1beta1/devices/{devicesId}",
          "httpMethod": "DELETE",
          "id": "cloudidentity.devices.delete",
          "response": {
            "$ref": "Operation"
          },
          "description": "Deletes the specified device.",
          "path": "v1beta1/{+name}"
        },
        "cancelWipe": {
          "description": "Cancels an unfinished device wipe. This operation can be used to cancel device wipe in the gap between the wipe operation returning success and the device being wiped.",
          "path": "v1beta1/{+name}:cancelWipe",
          "flatPath": "v1beta1/devices/{devicesId}:cancelWipe",
          "httpMethod": "POST",
          "id": "cloudidentity.devices.cancelWipe",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "name": {
              "pattern": "^devices/[^/]+$",
              "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device_id}`, where device_id is the unique ID assigned to the Device.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.devices"
          ],
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "CancelWipeDeviceRequest"
          }
        },
        "create": {
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.devices"
          ],
          "request": {
            "$ref": "CreateDeviceRequest"
          },
          "id": "cloudidentity.devices.create",
          "response": {
            "$ref": "Operation"
          },
          "flatPath": "v1beta1/devices",
          "httpMethod": "POST",
          "path": "v1beta1/devices",
          "description": "Creates a device. Only company-owned device may be created. **Note**: This method is available only to customers who have one of the following SKUs: Enterprise Standard, Enterprise Plus, Enterprise for Education, and Cloud Identity Premium",
          "parameters": {}
        },
        "get": {
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.devices",
            "https://www.googleapis.com/auth/cloud-identity.devices.readonly"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "pattern": "^devices/[^/]+$",
              "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device_id}`, where device_id is the unique ID assigned to the Device.",
              "type": "string"
            },
            "customer": {
              "location": "query",
              "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Customer in format: `customers/{customer_id}`, where customer_id is the customer to whom the device belongs.",
              "type": "string"
            }
          },
          "flatPath": "v1beta1/devices/{devicesId}",
          "httpMethod": "GET",
          "id": "cloudidentity.devices.get",
          "response": {
            "$ref": "Device"
          },
          "description": "Retrieves the specified device.",
          "path": "v1beta1/{+name}"
        },
        "wipe": {
          "request": {
            "$ref": "WipeDeviceRequest"
          },
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.devices"
          ],
          "parameters": {
            "name": {
              "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device_id}/deviceUsers/{device_user_id}`, where device_id is the unique ID assigned to the Device, and device_user_id is the unique ID assigned to the User.",
              "type": "string",
              "pattern": "^devices/[^/]+$",
              "location": "path",
              "required": true
            }
          },
          "flatPath": "v1beta1/devices/{devicesId}:wipe",
          "httpMethod": "POST",
          "id": "cloudidentity.devices.wipe",
          "response": {
            "$ref": "Operation"
          },
          "description": "Wipes all data on the specified device.",
          "path": "v1beta1/{+name}:wipe"
        }
      },
      "resources": {
        "deviceUsers": {
          "resources": {
            "clientStates": {
              "methods": {
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-identity.devices",
                    "https://www.googleapis.com/auth/cloud-identity.devices.readonly"
                  ],
                  "flatPath": "v1beta1/devices/{devicesId}/deviceUsers/{deviceUsersId}/clientStates/{clientStatesId}",
                  "httpMethod": "GET",
                  "id": "cloudidentity.devices.deviceUsers.clientStates.get",
                  "response": {
                    "$ref": "ClientState"
                  },
                  "description": "Gets the client state for the device user",
                  "path": "v1beta1/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the ClientState in format: `devices/{device_id}/deviceUsers/{device_user_id}/clientStates/{partner_id}`, where `device_id` is the unique ID assigned to the Device, `device_user_id` is the unique ID assigned to the User and `partner_id` identifies the partner storing the data. To get the client state for devices belonging to your own organization, the `partnerId` is in the format: `customerId-*anystring*`. Where the `customerId` is your organization's customer ID and `anystring` is any suffix. This suffix is used in setting up Custom Access Levels in Context-Aware Access. You may use `my_customer` instead of the customer ID for devices managed by your own organization. You may specify `-` in place of the `{device_id}`, so the ClientState resource name can be: `devices/-/deviceUsers/{device_user_resource_id}/clientStates/{partner_id}`.",
                      "pattern": "^devices/[^/]+/deviceUsers/[^/]+/clientStates/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "customer": {
                      "type": "string",
                      "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer_id}`, where customer_id is the customer to whom the device belongs.",
                      "location": "query"
                    }
                  }
                },
                "patch": {
                  "id": "cloudidentity.devices.deviceUsers.clientStates.patch",
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1beta1/devices/{devicesId}/deviceUsers/{deviceUsersId}/clientStates/{clientStatesId}",
                  "httpMethod": "PATCH",
                  "path": "v1beta1/{+name}",
                  "description": "Updates the client state for the device user **Note**: This method is available only to customers who have one of the following SKUs: Enterprise Standard, Enterprise Plus, Enterprise for Education, and Cloud Identity Premium",
                  "parameters": {
                    "name": {
                      "pattern": "^devices/[^/]+/deviceUsers/[^/]+/clientStates/[^/]+$",
                      "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the ClientState in format: `devices/{device_id}/deviceUsers/{device_user_id}/clientState/{partner_id}`, where partner_id corresponds to the partner storing the data.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "customer": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer_id}`, where customer_id is the customer to whom the device belongs."
                    },
                    "updateMask": {
                      "location": "query",
                      "description": "Optional. Comma-separated list of fully qualified names of fields to be updated. If not specified, all updatable fields in ClientState are updated.",
                      "format": "google-fieldmask",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-identity.devices"
                  ],
                  "request": {
                    "$ref": "ClientState"
                  }
                }
              }
            }
          },
          "methods": {
            "get": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.devices",
                "https://www.googleapis.com/auth/cloud-identity.devices.readonly"
              ],
              "id": "cloudidentity.devices.deviceUsers.get",
              "response": {
                "$ref": "DeviceUser"
              },
              "flatPath": "v1beta1/devices/{devicesId}/deviceUsers/{deviceUsersId}",
              "httpMethod": "GET",
              "path": "v1beta1/{+name}",
              "description": "Retrieves the specified DeviceUser",
              "parameters": {
                "name": {
                  "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device_id}/deviceUsers/{device_user_id}`, where device_id is the unique ID assigned to the Device, and device_user_id is the unique ID assigned to the User.",
                  "type": "string",
                  "pattern": "^devices/[^/]+/deviceUsers/[^/]+$",
                  "location": "path",
                  "required": true
                },
                "customer": {
                  "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer_id}`, where customer_id is the customer to whom the device belongs.",
                  "type": "string",
                  "location": "query"
                }
              }
            },
            "block": {
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^devices/[^/]+/deviceUsers/[^/]+$",
                  "type": "string",
                  "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device_id}/deviceUsers/{device_user_id}`, where device_id is the unique ID assigned to the Device, and device_user_id is the unique ID assigned to the User."
                }
              },
              "id": "cloudidentity.devices.deviceUsers.block",
              "response": {
                "$ref": "Operation"
              },
              "flatPath": "v1beta1/devices/{devicesId}/deviceUsers/{deviceUsersId}:block",
              "httpMethod": "POST",
              "path": "v1beta1/{+name}:block",
              "description": "Blocks device from accessing user data",
              "request": {
                "$ref": "BlockDeviceUserRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.devices"
              ]
            },
            "wipe": {
              "flatPath": "v1beta1/devices/{devicesId}/deviceUsers/{deviceUsersId}:wipe",
              "httpMethod": "POST",
              "id": "cloudidentity.devices.deviceUsers.wipe",
              "response": {
                "$ref": "Operation"
              },
              "description": "Wipes the user's account on a device.",
              "path": "v1beta1/{+name}:wipe",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^devices/[^/]+/deviceUsers/[^/]+$",
                  "type": "string",
[...]
