{
  "version_module": true,
  "ownerName": "Google",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "description": "",
  "title": "Cloud Deploy API",
  "version": "v1",
  "batchPath": "batch",
  "baseUrl": "https://clouddeploy.googleapis.com/",
  "id": "clouddeploy:v1",
  "parameters": {
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response."
    }
  },
  "name": "clouddeploy",
  "basePath": "",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "revision": "20260923",
  "kind": "discovery#restDescription",
  "canonicalName": "Cloud Deploy",
  "documentationLink": "https://cloud.google.com/deploy/",
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "Expr": {
      "id": "Expr",
      "type": "object",
      "properties": {
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        }
      },
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
    },
    "JobRunNotificationEvent": {
      "type": "object",
      "id": "JobRunNotificationEvent",
      "description": "Payload proto for \"clouddeploy.googleapis.com/jobrun_notification\" Platform Log event that describes the failure to send JobRun resource update Pub/Sub notification.",
      "properties": {
        "jobRun": {
          "description": "The name of the `JobRun`.",
          "type": "string"
        },
        "rolloutUid": {
          "type": "string",
          "description": "Unique identifier of the `Rollout`."
        },
        "message": {
          "description": "Debug message for when a notification fails to send.",
          "type": "string"
        },
        "releaseUid": {
          "type": "string",
          "description": "Unique identifier of the `Release`."
        },
        "rollout": {
          "description": "The name of the `Rollout`.",
          "type": "string"
        },
        "type": {
          "description": "Type of this notification, e.g. for a Pub/Sub failure.",
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PUBSUB_NOTIFICATION_FAILURE",
            "TYPE_RESOURCE_STATE_CHANGE",
            "TYPE_PROCESS_ABORTED",
            "TYPE_RESTRICTION_VIOLATED",
            "TYPE_RESOURCE_DELETED",
            "TYPE_ROLLOUT_UPDATE",
            "TYPE_DEPLOY_POLICY_EVALUATION",
            "TYPE_RENDER_STATUES_CHANGE"
          ],
          "enumDescriptions": [
            "Type is unspecified.",
            "A Pub/Sub notification failed to be sent.",
            "Resource state changed.",
            "A process aborted.",
            "Restriction check failed.",
            "Resource deleted.",
            "Rollout updated.",
            "Deploy Policy evaluation.",
            "Deprecated: This field is never used. Use release_render log type instead."
          ]
        },
        "release": {
          "description": "The name of the `Release`.",
          "type": "string"
        },
        "targetId": {
          "description": "ID of the `Target`.",
          "type": "string"
        },
        "pipelineUid": {
          "description": "Unique identifier of the `DeliveryPipeline`.",
          "type": "string"
        }
      }
    },
    "PolicyViolationDetails": {
      "id": "PolicyViolationDetails",
      "description": "Policy violation details.",
      "type": "object",
      "properties": {
        "ruleId": {
          "type": "string",
          "description": "Id of the rule that triggered the policy violation."
        },
        "policy": {
          "type": "string",
          "description": "Name of the policy that was violated. Policy resource will be in the format of `projects/{project}/locations/{location}/policies/{policy}`."
        },
        "failureMessage": {
          "description": "User readable message about why the request violated a policy. This is not intended for machine parsing.",
          "type": "string"
        }
      }
    },
    "CancelRolloutResponse": {
      "type": "object",
      "properties": {},
      "description": "The response object from `CancelRollout`.",
      "id": "CancelRolloutResponse"
    },
    "PredeployJobRunMetadata": {
      "id": "PredeployJobRunMetadata",
      "type": "object",
      "properties": {
        "custom": {
          "$ref": "CustomMetadata",
          "readOnly": true,
          "description": "Output only. Custom metadata provided by user-defined predeploy operation."
        }
      },
      "description": "PredeployJobRunMetadata contains metadata about the predeploy `JobRun`."
    },
    "CloudRunConfig": {
      "type": "object",
      "properties": {
        "automaticTrafficControl": {
          "type": "boolean",
          "description": "Optional. Whether Cloud Deploy should update the traffic stanza in a Cloud Run Service on the user's behalf to facilitate traffic splitting. This is required to be true for CanaryDeployments, but optional for CustomCanaryDeployments."
        },
        "priorRevisionTags": {
          "description": "Optional. A list of tags that are added to the prior revision while the canary phase is in progress.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "canaryRevisionTags": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. A list of tags that are added to the canary revision while the canary phase is in progress."
        },
        "stableRevisionTags": {
          "type": "array",
          "description": "Optional. A list of tags that are added to the final stable revision when the stable phase is applied.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "CloudRunConfig",
      "description": "CloudRunConfig contains the Cloud Run runtime configuration."
    },
    "TargetNotificationEvent": {
      "type": "object",
      "id": "TargetNotificationEvent",
      "properties": {
        "type": {
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PUBSUB_NOTIFICATION_FAILURE",
            "TYPE_RESOURCE_STATE_CHANGE",
            "TYPE_PROCESS_ABORTED",
            "TYPE_RESTRICTION_VIOLATED",
            "TYPE_RESOURCE_DELETED",
            "TYPE_ROLLOUT_UPDATE",
            "TYPE_DEPLOY_POLICY_EVALUATION",
            "TYPE_RENDER_STATUES_CHANGE"
          ],
          "enumDescriptions": [
            "Type is unspecified.",
            "A Pub/Sub notification failed to be sent.",
            "Resource state changed.",
            "A process aborted.",
            "Restriction check failed.",
            "Resource deleted.",
            "Rollout updated.",
            "Deploy Policy evaluation.",
            "Deprecated: This field is never used. Use release_render log type instead."
          ],
          "description": "Type of this notification, e.g. for a Pub/Sub failure."
        },
        "target": {
          "type": "string",
          "description": "The name of the `Target`."
        },
        "message": {
          "description": "Debug message for when a notification fails to send.",
          "type": "string"
        }
      },
      "description": "Payload proto for \"clouddeploy.googleapis.com/target_notification\" Platform Log event that describes the failure to send target status change Pub/Sub notification."
    },
    "ApproveRolloutRequest": {
      "type": "object",
      "description": "The request object used by `ApproveRollout`.",
      "properties": {
        "overrideDeployPolicy": {
          "type": "array",
          "description": "Optional. Deploy policies to override. Format is `projects/{project}/locations/{location}/deployPolicies/{deployPolicy}`.",
          "items": {
            "type": "string"
          }
        },
        "approved": {
          "description": "Required. True = approve; false = reject",
          "type": "boolean"
        }
      },
      "id": "ApproveRolloutRequest"
    },
    "RollbackTargetResponse": {
      "properties": {
        "rollbackConfig": {
          "description": "The config of the rollback `Rollout` created or will be created.",
          "$ref": "RollbackTargetConfig"
        }
      },
      "type": "object",
      "description": "The response object from `RollbackTarget`.",
      "id": "RollbackTargetResponse"
    },
    "Status": {
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array"
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "id": "Status"
    },
    "DeployJob": {
      "properties": {},
      "type": "object",
      "id": "DeployJob",
      "description": "A deploy Job."
    },
    "AlertPolicyCheckStatus": {
      "description": "AlertPolicyCheckStatus contains information specific to a single run of an alert policy check.",
      "properties": {
        "alertPolicies": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. The alert policies that this analysis monitors. Format is `projects/{project}/locations/{location}/alertPolicies/{alertPolicy}`.",
          "items": {
            "type": "string"
          }
        },
        "id": {
          "readOnly": true,
          "description": "Output only. The ID of this analysis.",
          "type": "string"
        },
        "failureMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Additional information about the alert policy check failure, if available. This will be empty if the alert policy check succeeded."
        },
        "labels": {
          "type": "object",
          "description": "Output only. The resolved labels used to filter for specific incidents.",
          "additionalProperties": {
            "type": "string"
          },
          "readOnly": true
        },
        "failedAlertPolicies": {
          "description": "Output only. The alert policies that were found to be firing during this check. This will be empty if no incidents were found.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "FailedAlertPolicy"
          }
        }
      },
      "type": "object",
      "id": "AlertPolicyCheckStatus"
    },
    "DeliveryPipeline": {
      "id": "DeliveryPipeline",
      "properties": {
        "labels": {
          "type": "object",
          "description": "Optional. Labels are attributes that can be set and used by both the user and by Cloud Deploy. Labels must meet the following constraints: * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. * All characters must use UTF-8 encoding, and international characters are allowed. * Keys must start with a lowercase letter or international character. * Each resource is limited to a maximum of 64 labels. Both keys and values are additionally constrained to be <= 128 bytes.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "serialPipeline": {
          "description": "Optional. SerialPipeline defines a sequential set of stages for a `DeliveryPipeline`.",
          "$ref": "SerialPipeline"
        },
        "description": {
          "description": "Optional. Description of the `DeliveryPipeline`. Max length is 255 characters.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Most recent time at which the pipeline was updated.",
          "type": "string",
          "readOnly": true
        },
        "annotations": {
          "description": "Optional. User annotations. These attributes can only be set and used by the user, and not by Cloud Deploy.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "condition": {
          "$ref": "PipelineCondition",
          "description": "Output only. Information around the state of the Delivery Pipeline.",
          "readOnly": true
        },
        "uid": {
          "type": "string",
          "description": "Output only. Unique identifier of the `DeliveryPipeline`.",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. Time at which the pipeline was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of the `DeliveryPipeline`. Format is `projects/{project}/locations/{location}/deliveryPipelines/{deliveryPipeline}`. The `deliveryPipeline` component must match `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`"
        },
        "suspended": {
          "description": "Optional. When suspended, no new releases or rollouts can be created, but in-progress ones will complete.",
          "type": "boolean"
        }
      },
      "description": "A `DeliveryPipeline` resource in the Cloud Deploy API. A `DeliveryPipeline` defines a pipeline through which a Skaffold configuration can progress.",
      "type": "object"
    },
    "ReleaseRenderEvent": {
      "properties": {
        "release": {
          "type": "string",
          "description": "The name of the release. release_uid is not in this log message because we write some of these log messages at release creation time, before we've generated the uid."
        },
        "message": {
          "type": "string",
          "description": "Debug message for when a render transition occurs. Provides further details as rendering progresses through render states."
        },
        "releaseRenderState": {
          "enumDescriptions": [
            "The render state is unspecified.",
            "All rendering operations have completed successfully.",
            "All rendering operations have completed, and one or more have failed.",
            "Rendering has started and is not complete."
          ],
          "type": "string",
          "enum": [
            "RENDER_STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED",
            "IN_PROGRESS"
          ],
          "description": "The state of the release render."
        },
        "type": {
          "description": "Type of this notification, e.g. for a release render state change event.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PUBSUB_NOTIFICATION_FAILURE",
            "TYPE_RESOURCE_STATE_CHANGE",
            "TYPE_PROCESS_ABORTED",
            "TYPE_RESTRICTION_VIOLATED",
            "TYPE_RESOURCE_DELETED",
            "TYPE_ROLLOUT_UPDATE",
            "TYPE_DEPLOY_POLICY_EVALUATION",
            "TYPE_RENDER_STATUES_CHANGE"
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true
          ],
          "enumDescriptions": [
            "Type is unspecified.",
            "A Pub/Sub notification failed to be sent.",
            "Resource state changed.",
            "A process aborted.",
            "Restriction check failed.",
            "Resource deleted.",
            "Rollout updated.",
            "Deploy Policy evaluation.",
            "Deprecated: This field is never used. Use release_render log type instead."
          ]
        },
        "pipelineUid": {
          "type": "string",
          "description": "Unique identifier of the `DeliveryPipeline`."
        }
      },
      "description": "Payload proto for \"clouddeploy.googleapis.com/release_render\" Platform Log event that describes the render status change.",
      "type": "object",
      "id": "ReleaseRenderEvent"
    },
    "TimeOfDay": {
      "type": "object",
      "id": "TimeOfDay",
      "properties": {
        "hours": {
          "type": "integer",
          "format": "int32",
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time."
        },
        "nanos": {
          "type": "integer",
          "format": "int32",
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999."
        },
        "minutes": {
          "format": "int32",
          "type": "integer",
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59."
        },
        "seconds": {
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`."
    },
    "Phase": {
      "description": "Phase represents a collection of jobs that are logically grouped together for a `Rollout`.",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Output only. The ID of the Phase.",
          "readOnly": true
        },
        "deploymentJobs": {
          "$ref": "DeploymentJobs",
          "description": "Output only. Deployment job composition.",
          "readOnly": true
        },
        "state": {
          "description": "Output only. Current state of the Phase.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "IN_PROGRESS",
            "SUCCEEDED",
            "FAILED",
            "ABORTED",
            "SKIPPED"
          ],
          "enumDescriptions": [
            "The Phase has an unspecified state.",
            "The Phase is waiting for an earlier Phase(s) to complete.",
            "The Phase is in progress.",
            "The Phase has succeeded.",
            "The Phase has failed.",
            "The Phase was aborted.",
            "The Phase was skipped."
          ],
          "readOnly": true
        },
        "skipMessage": {
          "description": "Output only. Additional information on why the Phase was skipped, if available.",
          "type": "string",
          "readOnly": true
        },
        "childRolloutJobs": {
          "readOnly": true,
          "$ref": "ChildRolloutJobs",
          "description": "Output only. ChildRollout job composition."
        }
      },
      "id": "Phase"
    },
    "RepairRolloutOperation": {
      "description": "Contains the information for an automated `repair rollout` operation.",
      "type": "object",
      "properties": {
        "repairPhases": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Records of the repair attempts. Each repair phase may have multiple retry attempts or single rollback attempt.",
          "items": {
            "$ref": "RepairPhase"
          }
        },
        "jobId": {
          "readOnly": true,
          "description": "Output only. The job ID for the Job to repair.",
          "type": "string"
        },
        "rollout": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the rollout that initiates the `AutomationRun`."
        },
        "currentRepairPhaseIndex": {
          "format": "int64",
          "description": "Output only. The index of the current repair action in the repair sequence.",
          "readOnly": true,
          "type": "string"
        },
        "phaseId": {
          "description": "Output only. The phase ID of the phase that includes the job being repaired.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "RepairRolloutOperation"
    },
    "RetryPhase": {
      "type": "object",
      "properties": {
        "backoffMode": {
          "readOnly": true,
          "description": "Output only. The pattern of how the wait time of the retry attempt is calculated.",
          "enumDescriptions": [
            "No WaitMode is specified.",
            "Increases the wait time linearly.",
            "Increases the wait time exponentially."
          ],
          "type": "string",
          "enum": [
            "BACKOFF_MODE_UNSPECIFIED",
            "BACKOFF_MODE_LINEAR",
            "BACKOFF_MODE_EXPONENTIAL"
          ]
        },
        "totalAttempts": {
          "format": "int64",
          "description": "Output only. The number of attempts that have been made.",
          "readOnly": true,
          "type": "string"
        },
        "attempts": {
          "description": "Output only. Detail of a retry action.",
          "items": {
            "$ref": "RetryAttempt"
          },
          "type": "array",
          "readOnly": true
        }
      },
      "description": "RetryPhase contains the retry attempts and the metadata for initiating a new attempt.",
      "id": "RetryPhase"
    },
    "WeeklyWindow": {
      "description": "Weekly windows. For example, blocking actions every Saturday and Sunday. Another example would be blocking actions every weekday from 5pm to midnight.",
      "properties": {
        "daysOfWeek": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "The day of the week is unspecified.",
              "Monday",
              "Tuesday",
              "Wednesday",
              "Thursday",
              "Friday",
              "Saturday",
              "Sunday"
            ],
            "type": "string",
            "enum": [
              "DAY_OF_WEEK_UNSPECIFIED",
              "MONDAY",
              "TUESDAY",
              "WEDNESDAY",
              "THURSDAY",
              "FRIDAY",
              "SATURDAY",
              "SUNDAY"
            ]
          },
          "description": "Optional. Days of week. If left empty, all days of the week will be included."
        },
        "startTime": {
          "$ref": "TimeOfDay",
          "description": "Optional. Start time (inclusive). Use 00:00 for the beginning of the day. If you specify start_time you must also specify end_time. If left empty, this will block for the entire day for the days specified in days_of_week."
        },
        "endTime": {
          "description": "Optional. End time (exclusive). Use 24:00 to indicate midnight. If you specify end_time you must also specify start_time. If left empty, this will block for the entire day for the days specified in days_of_week.",
          "$ref": "TimeOfDay"
        }
      },
      "id": "WeeklyWindow",
      "type": "object"
    },
    "ListOperationsResponse": {
      "type": "object",
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "ListLocationsResponse": {
      "type": "object",
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "properties": {
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      }
    },
    "CustomCheckStatus": {
      "id": "CustomCheckStatus",
      "type": "object",
      "properties": {
        "frequency": {
          "type": "string",
          "description": "Output only. The frequency in minutes at which the custom check is run.",
          "readOnly": true,
          "format": "google-duration"
        },
        "failureMessage": {
          "description": "Output only. Additional information about the analysis failure, if available.",
          "type": "string",
          "readOnly": true
        },
        "latestBuild": {
          "readOnly": true,
          "description": "Output only. The resource name of the Cloud Build `Build` object that was used to execute the latest run of this custom action check. Format is `projects/{project}/locations/{location}/builds/{build}`.",
          "type": "string"
        },
        "task": {
          "description": "Output only. The task that ran for this custom check.",
          "readOnly": true,
          "$ref": "Task"
        },
        "failureCause": {
          "type": "string",
          "enum": [
            "FAILURE_CAUSE_UNSPECIFIED",
            "CLOUD_BUILD_UNAVAILABLE",
            "EXECUTION_FAILED",
            "DEADLINE_EXCEEDED",
            "CLOUD_BUILD_REQUEST_FAILED"
          ],
          "description": "Output only. The reason the analysis failed. This will always be unspecified while the analysis is in progress or if it succeeded.",
          "enumDescriptions": [
            "No reason for failure is specified.",
            "Cloud Build is not available, either because it is not enabled or because Cloud Deploy has insufficient permissions. See [required permission](https://cloud.google.com/deploy/docs/cloud-deploy-service-account#required_permissions).",
            "The analysis operation did not complete successfully; check Cloud Build logs.",
            "The analysis job run did not complete within the alloted time defined in the target's execution environment configuration.",
            "Cloud Build failed to fulfill Cloud Deploy's request. See failure_message for additional details."
          ],
          "readOnly": true
        },
        "metadata": {
          "description": "Output only. Custom metadata provided by the user-defined custom check operation. result.",
          "readOnly": true,
          "$ref": "CustomMetadata"
        },
        "id": {
          "readOnly": true,
          "description": "Output only. The ID of the custom check.",
          "type": "string"
        }
      },
      "description": "CustomCheckStatus contains information specific to a single iteration of a custom analysis job."
    },
    "RepairPhaseConfig": {
      "description": "Configuration of the repair phase.",
      "type": "object",
      "id": "RepairPhaseConfig",
      "properties": {
        "retry": {
          "description": "Optional. Retries a failed job.",
          "$ref": "Retry"
        },
        "rollback": {
          "$ref": "Rollback",
          "description": "Optional. Rolls back a `Rollout`."
        }
      }
    },
    "AuditLogConfig": {
      "id": "AuditLogConfig",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "properties": {
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "logType": {
          "description": "The log type that this config enables.",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "type": "string",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ]
        }
      },
      "type": "object"
    },
    "SkaffoldGCBRepoSource": {
      "properties": {
        "ref": {
          "description": "Optional. Branch or tag to use when cloning the repository.",
          "type": "string"
        },
        "repository": {
          "description": "Required. Name of the Cloud Build V2 Repository. Format is projects/{project}/locations/{location}/connections/{connection}/repositories/{repository}.",
          "type": "string"
        },
        "path": {
          "description": "Optional. Relative path from the repository root to the Skaffold Config file.",
          "type": "string"
        }
      },
      "description": "Cloud Build V2 Repository containing Skaffold Configs.",
      "id": "SkaffoldGCBRepoSource",
      "type": "object"
    },
    "TargetAttribute": {
      "properties": {
        "id": {
          "description": "Optional. ID of the `Target`. The value of this field could be one of the following: * The last segment of a target name * \"*\", all targets in a location",
          "type": "string"
        },
        "labels": {
          "description": "Target labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "TargetAttribute",
      "description": "Contains criteria for selecting Targets. This could be used to select targets for a Deploy Policy or for an Automation.",
      "type": "object"
    },
    "CustomCheck": {
      "type": "object",
      "description": "CustomCheck configures a third-party metric provider to run the analysis, via a Task that runs at a specified frequency.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Required. The ID of the custom Analysis check."
        },
        "frequency": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. The frequency at which the custom check will be run, with a minimum and default of 5 minutes."
        },
        "task": {
          "description": "Required. The Task to be run for this custom check.",
          "$ref": "Task"
        }
      },
      "id": "CustomCheck"
    },
    "CancelRolloutRequest": {
      "type": "object",
      "id": "CancelRolloutRequest",
      "description": "The request object used by `CancelRollout`.",
      "properties": {
        "overrideDeployPolicy": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Deploy policies to override. Format is `projects/{project}/locations/{location}/deployPolicies/{deployPolicy}`."
        }
      }
    },
    "DefaultPool": {
      "properties": {
        "serviceAccount": {
          "description": "Optional. Google service account to use for execution. If unspecified, the project execution service account (-compute@developer.gserviceaccount.com) will be used.",
          "type": "string"
        },
        "artifactStorage": {
          "description": "Optional. Cloud Storage location where execution outputs should be stored. This can either be a bucket (\"gs://my-bucket\") or a path within a bucket (\"gs://my-bucket/my-dir\"). If unspecified, a default bucket located in the same region will be used.",
          "type": "string"
        }
      },
      "id": "DefaultPool",
      "description": "Execution using the default Cloud Build pool.",
      "type": "object"
    },
    "AnalysisJob": {
      "type": "object",
      "properties": {
        "customChecks": {
          "readOnly": true,
          "description": "Output only. Custom analysis checks from 3P metric providers that are run as part of the analysis Job.",
          "type": "array",
          "items": {
            "$ref": "CustomCheck"
          }
        },
        "duration": {
          "readOnly": true,
          "description": "Output only. The amount of time in minutes the analysis Job will run, up to a maximum of 48 hours. If any check in this Job is still running when the duration ends, the Job keeps running until that check completes.",
          "format": "google-duration",
          "type": "string"
        },
        "googleCloud": {
          "readOnly": true,
          "description": "Output only. Google Cloud - based analysis checks that are run as part of the analysis Job.",
          "$ref": "GoogleCloudAnalysis"
        }
      },
      "id": "AnalysisJob",
      "description": "An analysis Job."
    },
    "AutomationRolloutMetadata": {
      "type": "object",
      "id": "AutomationRolloutMetadata",
      "properties": {
        "repairAutomationRuns": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. The names of the AutomationRuns initiated by a repair rollout rule."
        },
        "advanceAutomationRuns": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. The names of the AutomationRuns initiated by an advance rollout rule.",
          "type": "array"
        },
        "promoteAutomationRun": {
          "type": "string",
          "description": "Output only. The name of the AutomationRun initiated by a promote release rule.",
          "readOnly": true
        }
      },
      "description": "AutomationRolloutMetadata contains Automation-related actions that were performed on a rollout."
    },
    "CreateChildRolloutJobRun": {
      "type": "object",
      "properties": {
        "rolloutPhaseId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The ID of the childRollout Phase initiated by this JobRun."
        },
        "rollout": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the `ChildRollout`. Format is `projects/{project}/locations/{location}/deliveryPipelines/{deliveryPipeline}/releases/{release}/rollouts/{rollout}`."
        }
      },
      "description": "CreateChildRolloutJobRun contains information specific to a createChildRollout `JobRun`.",
      "id": "CreateChildRolloutJobRun"
    },
    "AbandonReleaseResponse": {
      "description": "The response object for `AbandonRelease`.",
      "id": "AbandonReleaseResponse",
      "properties": {},
      "type": "object"
    },
    "PostdeployJobRunMetadata": {
      "type": "object",
      "description": "PostdeployJobRunMetadata contains metadata about the postdeploy `JobRun`.",
      "id": "PostdeployJobRunMetadata",
      "properties": {
        "custom": {
          "readOnly": true,
          "description": "Output only. Custom metadata provided by user-defined postdeploy operation.",
          "$ref": "CustomMetadata"
        }
      }
    },
    "ListRolloutsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "rollouts": {
          "type": "array",
          "description": "The `Rollout` objects.",
          "items": {
            "$ref": "Rollout"
          }
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        }
      },
      "description": "ListRolloutsResponse is the response object returned by `ListRollouts`.",
      "id": "ListRolloutsResponse",
      "type": "object"
    },
    "Verify": {
      "properties": {
        "tasks": {
          "items": {
            "$ref": "Task"
          },
          "type": "array",
          "description": "Optional. The tasks that will run as a part of the verify job. The tasks are executed sequentially in the order specified."
        }
      },
      "description": "Verify contains the verify job configuration information.",
      "id": "Verify",
      "type": "object"
    },
    "Automation": {
      "type": "object",
      "id": "Automation",
      "description": "An `Automation` resource in the Cloud Deploy API. An `Automation` enables the automation of manually driven actions for a Delivery Pipeline, which includes Release promotion among Targets, Rollout repair and Rollout deployment strategy advancement. The intention of Automation is to reduce manual intervention in the continuous delivery process.",
      "properties": {
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time at which the automation was updated."
        },
        "etag": {
          "description": "Optional. The weak etag of the `Automation` resource. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Name of the `Automation`. Format is `projects/{project}/locations/{location}/deliveryPipelines/{delivery_pipeline}/automations/{automation}`.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels are attributes that can be set and used by both the user and by Cloud Deploy. Labels must meet the following constraints: * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. * All characters must use UTF-8 encoding, and international characters are allowed. * Keys must start with a lowercase letter or international character. * Each resource is limited to a maximum of 64 labels. Both keys and values are additionally constrained to be <= 63 characters.",
          "type": "object"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the `Automation`. Max length is 255 characters."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Time at which the automation was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "serviceAccount": {
          "description": "Required. Email address of the user-managed IAM service account that creates Cloud Deploy release and rollout resources.",
          "type": "string"
        },
        "suspended": {
          "description": "Optional. When Suspended, automation is deactivated from execution.",
          "type": "boolean"
        },
        "uid": {
          "description": "Output only. Unique identifier of the `Automation`.",
          "type": "string",
          "readOnly": true
        },
        "annotations": {
          "type": "object",
          "description": "Optional. User annotations. These attributes can only be set and used by the user, and not by Cloud Deploy. Annotations must meet the following constraints: * Annotations are key/value pairs. * Valid annotation keys have two segments: an optional prefix and name, separated by a slash (`/`). * The name segment is required and must be 63 characters or less, beginning and ending with an alphanumeric character (`[a-z0-9A-Z]`) with dashes (`-`), underscores (`_`), dots (`.`), and alphanumerics between. * The prefix is optional. If specified, the prefix must be a DNS subdomain: a series of DNS labels separated by dots(`.`), not longer than 253 characters in total, followed by a slash (`/`). See https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/#syntax-and-character-set for more details.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "selector": {
          "description": "Required. Selected resources to which the automation will be applied.",
          "$ref": "AutomationResourceSelector"
        },
        "rules": {
          "items": {
            "$ref": "AutomationRule"
          },
          "description": "Required. List of Automation rules associated with the Automation resource. Must have at least one rule and limited to 250 rules per Delivery Pipeline. Note: the order of the rules here is not the same as the order of execution.",
          "type": "array"
        }
      }
    },
    "CloudRunMetadata": {
      "properties": {
        "serviceUrls": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. The Cloud Run Service urls that are associated with a `Rollout`.",
          "type": "array"
        },
        "revision": {
          "type": "string",
          "description": "Output only. The Cloud Run Revision id associated with a `Rollout`.",
          "readOnly": true
        },
        "service": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the Cloud Run Service that is associated with a `Rollout`. Format is `projects/{project}/locations/{location}/services/{service}`."
        },
        "job": {
          "type": "string",
          "description": "Output only. The name of the Cloud Run job that is associated with a `Rollout`. Format is `projects/{project}/locations/{location}/jobs/{job_name}`.",
          "readOnly": true
        },
        "previousRevision": {
          "description": "Output only. The previous Cloud Run Revision name associated with a `Rollout`. Only set when a canary deployment strategy is configured. Format for service is projects/{project}/locations/{location}/services/{service}/revisions/{revision}. Format for worker pool is projects/{project}/locations/{location}/workerPools/{workerpool}/revisions/{revision}.",
          "readOnly": true,
          "type": "string"
        },
        "workerPool": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The Cloud Run worker pool associated with a `Rollout`. Format is `projects/{project}/locations/{location}/workerPools/{worker_pool}`."
        }
      },
      "description": "CloudRunMetadata contains information from a Cloud Run deployment.",
      "id": "CloudRunMetadata",
      "type": "object"
    },
    "DeploymentJobs": {
      "properties": {
        "analysisJob": {
          "readOnly": true,
          "$ref": "Job",
          "description": "Output only. The analysis Job. Runs after a verify if there is a verify job and the verify job succeeds."
        },
        "deployJob": {
          "description": "Output only. The deploy Job. This is the deploy job in the phase.",
          "$ref": "Job",
          "readOnly": true
        },
        "predeployJob": {
          "$ref": "Job",
          "readOnly": true,
          "description": "Output only. The predeploy Job, which is the first job on the phase."
        },
        "postdeployJob": {
          "description": "Output only. The postdeploy Job, which is the last job on the phase.",
          "$ref": "Job",
          "readOnly": true
        },
        "verifyJob": {
          "$ref": "Job",
          "description": "Output only. The verify Job. Runs after a deploy if the deploy succeeds.",
          "readOnly": true
        }
      },
      "description": "Deployment job composition.",
      "type": "object",
      "id": "DeploymentJobs"
    },
    "Binding": {
      "description": "Associates `members`, or principals, with a `role`.",
      "properties": {
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        }
      },
      "id": "Binding",
      "type": "object"
    },
    "PromoteReleaseRule": {
      "description": "The `PromoteRelease` rule will automatically promote a release from the current target to a specified target.",
      "properties": {
        "wait": {
          "type": "string",
          "description": "Optional. How long the release need to be paused until being promoted to the next target.",
          "format": "google-duration"
        },
        "condition": {
          "description": "Output only. Information around the state of the Automation rule.",
          "readOnly": true,
          "$ref": "AutomationRuleCondition"
        },
        "destinationPhase": {
          "type": "string",
          "description": "Optional. The starting phase of the rollout created by this operation. Default to the first phase."
        },
        "destinationTargetId": {
          "type": "string",
          "description": "Optional. The ID of the stage in the pipeline to which this `Release` is deploying. If unspecified, default it to the next stage in the promotion flow. The value of this field could be one of the following: * The last segment of a target name * \"@next\", the next target in the promotion sequence"
        },
        "id": {
          "description": "Required. ID of the rule. This id must be unique in the `Automation` resource to which this rule belongs. The format is `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "PromoteReleaseRule"
    },
    "AbandonReleaseRequest": {
      "description": "The request object used by `AbandonRelease`.",
      "type": "object",
      "properties": {},
      "id": "AbandonReleaseRequest"
    },
    "CanaryDeployment": {
      "type": "object",
      "id": "CanaryDeployment",
      "properties": {
        "analysis": {
          "description": "Optional. Configuration for the analysis job. If configured, the analysis will run after each percentage deployment.",
          "$ref": "Analysis"
        },
        "percentages": {
          "description": "Required. The percentage based deployments that will occur as a part of a `Rollout`. List is expected in ascending order and each integer n is 0 <= n < 100. If the GatewayServiceMesh is configured for Kubernetes, then the range for n is 0 <= n <= 100.",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array"
        },
        "predeploy": {
          "description": "Optional. Configuration for the predeploy job of the first phase. If this is not configured, there will be no predeploy job for this phase.",
          "$ref": "Predeploy"
        },
        "verifyConfig": {
          "description": "Optional. Configuration for the verify job. Cannot be set if `verify` is set to true.",
          "$ref": "Verify"
        },
        "postdeploy": {
          "$ref": "Postdeploy",
          "description": "Optional. Configuration for the postdeploy job of the last phase. If this is not configured, there will be no postdeploy job for this phase."
        },
        "verify": {
          "description": "Optional. Whether to run verify tests after each percentage deployment via `skaffold verify`.",
          "type": "boolean"
        }
      },
      "description": "CanaryDeployment represents the canary deployment configuration"
    },
    "CustomTargetTasks": {
      "description": "CustomTargetTasks represents the `CustomTargetType` configuration using tasks.",
      "properties": {
        "render": {
          "description": "Optional. The task responsible for render operations. If not provided then Cloud Deploy will perform its default rendering operation.",
          "$ref": "Task"
        },
        "deploy": {
          "$ref": "Task",
          "description": "Required. The task responsible for deploy operations."
        }
      },
      "type": "object",
      "id": "CustomTargetTasks"
    },
    "AdvanceRolloutOperation": {
      "type": "object",
      "id": "AdvanceRolloutOperation",
      "description": "Contains the information of an automated advance-rollout operation.",
      "properties": {
        "wait": {
          "type": "string",
          "description": "Output only. How long the operation will be paused.",
          "readOnly": true,
          "format": "google-duration"
        },
        "destinationPhase": {
          "type": "string",
          "description": "Output only. The phase the rollout will be advanced to.",
          "readOnly": true
        },
        "rollout": {
          "description": "Output only. The name of the rollout that initiates the `AutomationRun`.",
          "readOnly": true,
          "type": "string"
        },
        "sourcePhase": {
          "description": "Output only. The phase of a deployment that initiated the operation.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "CustomTargetTypeNotificationEvent": {
      "properties": {
        "customTargetTypeUid": {
          "description": "Unique identifier of the `CustomTargetType`.",
          "type": "string"
        },
        "type": {
          "description": "Type of this notification, e.g. for a Pub/Sub failure.",
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true
          ],
          "enumDescriptions": [
            "Type is unspecified.",
            "A Pub/Sub notification failed to be sent.",
            "Resource state changed.",
            "A process aborted.",
            "Restriction check failed.",
            "Resource deleted.",
            "Rollout updated.",
            "Deploy Policy evaluation.",
            "Deprecated: This field is never used. Use release_render log type instead."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PUBSUB_NOTIFICATION_FAILURE",
            "TYPE_RESOURCE_STATE_CHANGE",
            "TYPE_PROCESS_ABORTED",
            "TYPE_RESTRICTION_VIOLATED",
            "TYPE_RESOURCE_DELETED",
            "TYPE_ROLLOUT_UPDATE",
            "TYPE_DEPLOY_POLICY_EVALUATION",
            "TYPE_RENDER_STATUES_CHANGE"
          ]
        },
        "message": {
          "type": "string",
          "description": "Debug message for when a notification fails to send."
        },
        "customTargetType": {
          "type": "string",
          "description": "The name of the `CustomTargetType`."
        }
      },
      "id": "CustomTargetTypeNotificationEvent",
      "type": "object",
      "description": "Payload proto for \"clouddeploy.googleapis.com/customtargettype_notification\" Platform Log event that describes the failure to send a custom target type status change Pub/Sub notification."
    },
    "GatewayServiceMesh": {
      "id": "GatewayServiceMesh",
      "description": "Information about the Kubernetes Gateway API service mesh configuration.",
      "properties": {
        "service": {
          "description": "Required. Name of the Kubernetes Service.",
          "type": "string"
        },
        "routeUpdateWaitTime": {
          "description": "Optional. The time to wait for route updates to propagate. The maximum configurable time is 3 hours, in seconds format. If unspecified, there is no wait time.",
          "type": "string",
          "format": "google-duration"
        },
        "routeDestinations": {
          "description": "Optional. Route destinations allow configuring the Gateway API HTTPRoute to be deployed to additional clusters. This option is available for multi-cluster service mesh set ups that require the route to exist in the clusters that call the service. If unspecified, the HTTPRoute will only be deployed to the Target cluster.",
          "$ref": "RouteDestinations"
        },
        "deployment": {
          "type": "string",
          "description": "Required. Name of the Kubernetes Deployment whose traffic is managed by the specified HTTPRoute and Service."
        },
        "podSelectorLabel": {
          "description": "Optional. The label to use when selecting Pods for the Deployment and Service resources. This label must already be present in both resources.",
          "type": "string"
        },
        "stableCutbackDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. The amount of time to migrate traffic back from the canary Service to the original Service during the stable phase deployment. If specified, must be between 15s and 3600s. If unspecified, there is no cutback time."
        },
        "httpRoute": {
          "description": "Required. Name of the Gateway API HTTPRoute.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ContainerTask": {
      "type": "object",
      "properties": {
        "env": {
          "description": "Optional. Environment variables that are set in the container.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "args": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Args is the container arguments to use. This overrides the default arguments defined in the container image."
        },
        "image": {
          "description": "Required. Image is the container image to use.",
          "type": "string"
        },
        "command": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Command is the container entrypoint to use. This overrides the default entrypoint defined in the container image."
        }
      },
      "id": "ContainerTask",
      "description": "This task is represented by a container that is executed in the Cloud Build execution environment."
    },
    "ReleaseReadyCondition": {
      "properties": {
        "status": {
          "description": "True if the Release is in a valid state. Otherwise at least one condition in `ReleaseCondition` is in an invalid state. Iterate over those conditions and see which condition(s) has status = false to find out what is wrong with the Release.",
          "type": "boolean"
        }
      },
      "id": "ReleaseReadyCondition",
      "description": "ReleaseReadyCondition contains information around the status of the Release. If a release is not ready, you cannot create a rollout with the release.",
      "type": "object"
    },
    "DeliveryPipelineAttribute": {
      "id": "DeliveryPipelineAttribute",
      "type": "object",
      "description": "Contains criteria for selecting DeliveryPipelines.",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "DeliveryPipeline labels.",
          "type": "object"
        },
        "id": {
          "type": "string",
          "description": "Optional. ID of the `DeliveryPipeline`. The value of this field could be one of the following: * The last segment of a pipeline name * \"*\", all delivery pipelines in a location"
        }
      }
    },
    "Rollback": {
      "id": "Rollback",
      "description": "Rolls back a `Rollout`.",
      "type": "object",
      "properties": {
        "destinationPhase": {
          "type": "string",
          "description": "Optional. The starting phase ID for the `Rollout`. If unspecified, the `Rollout` will start in the stable phase."
        },
        "disableRollbackIfRolloutPending": {
          "type": "boolean",
          "description": "Optional. If pending rollout exists on the target, the rollback operation will be aborted."
        }
      }
    },
    "AdvanceChildRolloutJob": {
      "description": "An advanceChildRollout Job.",
      "id": "AdvanceChildRolloutJob",
      "type": "object",
      "properties": {}
    },
    "DeployParameters": {
      "type": "object",
      "id": "DeployParameters",
      "properties": {
        "values": {
          "description": "Required. Values are deploy parameters in key-value pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "matchTargetLabels": {
          "description": "Optional. Deploy parameters are applied to targets with match labels. If unspecified, deploy parameters are applied to all targets (including child targets of a multi-target).",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "description": "DeployParameters contains deploy parameters information."
    },
    "PhaseArtifact": {
      "type": "object",
      "properties": {
        "jobManifestsPath": {
          "description": "Output only. File path of the directory of rendered job manifests relative to the URI. This is only set if it is applicable.",
          "readOnly": true,
          "type": "string"
        },
        "manifestPath": {
          "type": "string",
          "description": "Output only. File path of the rendered manifest relative to the URI.",
          "readOnly": true
        },
        "skaffoldConfigPath": {
          "description": "Output only. File path of the resolved Skaffold configuration relative to the URI.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Contains the paths to the artifacts, relative to the URI, for a phase.",
      "id": "PhaseArtifact"
    },
    "CustomTargetDeployMetadata": {
      "id": "CustomTargetDeployMetadata",
      "properties": {
        "skipMessage": {
          "type": "string",
          "description": "Output only. Skip message provided in the results of a custom deploy operation.",
          "readOnly": true
        }
      },
      "description": "CustomTargetDeployMetadata contains information from a Custom Target deploy operation.",
      "type": "object"
    },
    "Standard": {
      "properties": {
        "analysis": {
          "description": "Optional. Configuration for the analysis job. If this is not configured, the analysis job will not be present.",
          "$ref": "Analysis"
        },
        "verify": {
          "description": "Optional. Whether to verify a deployment via `skaffold verify`.",
          "type": "boolean"
        },
        "predeploy": {
          "description": "Optional. Configuration for the predeploy job. If this is not configured, the predeploy job will not be present.",
          "$ref": "Predeploy"
        },
        "postdeploy": {
          "$ref": "Postdeploy",
          "description": "Optional. Configuration for the postdeploy job. If this is not configured, the postdeploy job will not be present."
        },
        "verifyConfig": {
          "description": "Optional. Configuration for the verify job. Cannot be set if `verify` is set to true.",
          "$ref": "Verify"
        }
      },
      "type": "object",
      "description": "Standard represents the standard deployment strategy.",
      "id": "Standard"
    },
    "PolicyViolation": {
      "type": "object",
      "properties": {
        "policyViolationDetails": {
          "type": "array",
          "description": "Policy violation details.",
          "items": {
            "$ref": "PolicyViolationDetails"
          }
        }
      },
      "id": "PolicyViolation",
      "description": "Returned from an action if one or more policies were violated, and therefore the action was prevented. Contains information about what policies were violated and why."
    },
    "CancelAutomationRunResponse": {
      "type": "object",
      "id": "CancelAutomationRunResponse",
      "description": "The response object from `CancelAutomationRun`.",
      "properties": {}
    },
    "Task": {
      "id": "Task",
      "type": "object",
      "description": "A Task represents a unit of work that is executed as part of a Job.",
      "properties": {
        "container": {
          "description": "Optional. This task is represented by a container that is executed in the Cloud Build execution environment.",
          "$ref": "ContainerTask"
        }
      }
    },
    "PredeployJobRun": {
      "description": "PredeployJobRun contains information specific to a predeploy `JobRun`.",
      "properties": {
        "build": {
          "readOnly": true,
          "description": "Output only. The resource name of the Cloud Build `Build` object that is used to execute the custom actions associated with the predeploy Job. Format is `projects/{project}/locations/{location}/builds/{build}`.",
          "type": "string"
        },
        "failureCause": {
          "readOnly": true,
          "description": "Output only. The reason the predeploy failed. This will always be unspecified while the predeploy is in progress or if it succeeded.",
          "enumDescriptions": [
            "No reason for failure is specified.",
            "Cloud Build is not available, either because it is not enabled or because Cloud Deploy has insufficient permissions. See [required permission](https://cloud.google.com/deploy/docs/cloud-deploy-service-account#required_permissions).",
            "The predeploy operation did not complete successfully; check Cloud Build logs.",
            "The predeploy job run did not complete within the allotted time.",
            "Cloud Build failed to fulfill Cloud Deploy's request. See failure_message for additional details."
          ],
          "type": "string",
          "enum": [
            "FAILURE_CAUSE_UNSPECIFIED",
            "CLOUD_BUILD_UNAVAILABLE",
            "EXECUTION_FAILED",
            "DEADLINE_EXCEEDED",
            "CLOUD_BUILD_REQUEST_FAILED"
          ]
        },
        "failureMessage": {
          "type": "string",
          "description": "Output only. Additional information about the predeploy failure, if available.",
          "readOnly": true
        },
        "metadata": {
          "$ref": "PredeployJobRunMetadata",
          "readOnly": true,
          "description": "Output only. Metadata containing information about the predeploy `JobRun`."
        }
      },
      "id": "PredeployJobRun",
      "type": "object"
    },
    "CustomTargetType": {
      "type": "object",
      "properties": {
        "labels": {
          "description": "Optional. Labels are attributes that can be set and used by both the user and by Cloud Deploy. Labels must meet the following constraints: * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. * All characters must use UTF-8 encoding, and international characters are allowed. * Keys must start with a lowercase letter or international character. * Each resource is limited to a maximum of 64 labels. Both keys and values are additionally constrained to be <= 128 bytes.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "etag": {
          "type": "string",
          "description": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Most recent time at which the `CustomTargetType` was updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the `CustomTargetType`. Max length is 255 characters."
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of the `CustomTargetType`. Format is `projects/{project}/locations/{location}/customTargetTypes/{customTargetType}`. The `customTargetType` component must match `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`"
        },
        "customActions": {
          "$ref": "CustomTargetSkaffoldActions",
          "description": "Optional. Configures render and deploy for the `CustomTargetType` using Skaffold custom actions."
        },
        "tasks": {
          "description": "Optional. Configures render and deploy for the `CustomTargetType` using tasks.",
          "$ref": "CustomTargetTasks"
        },
        "createTime": {
          "description": "Output only. Time at which the `CustomTargetType` was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. User annotations. These attributes can only be set and used by the user, and not by Cloud Deploy. See https://google.aip.dev/128#annotations for more details such as format and size limitations.",
          "type": "object"
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Unique identifier of the `CustomTargetType`."
        },
        "customTargetTypeId": {
          "type": "string",
          "description": "Output only. Resource id of the `CustomTargetType`.",
          "readOnly": true
        }
      },
      "description": "A `CustomTargetType` resource in the Cloud Deploy API. A `CustomTargetType` defines a type of custom target that can be referenced in a `Target` in order to facilitate deploying to other systems besides the supported runtimes.",
      "id": "CustomTargetType"
    },
    "TargetRender": {
      "properties": {
        "failureCause": {
          "enumDescriptions": [
            "No reason for failure is specified.",
            "Cloud Build is not available, either because it is not enabled or because Cloud Deploy has insufficient permissions. See [required permission](https://cloud.google.com/deploy/docs/cloud-deploy-service-account#required_permissions).",
            "The render operation did not complete successfully; check Cloud Build logs.",
            "Cloud Build failed to fulfill Cloud Deploy's request. See failure_message for additional details.",
            "The render operation did not complete successfully because the verification stanza required for verify was not found on the Skaffold configuration.",
            "The render operation did not complete successfully because the custom action(s) required for Rollout jobs were not found in the Skaffold configuration. See failure_message for additional details.",
            "Release failed during rendering because the release configuration is not supported with the specified deployment strategy.",
            "The render operation had a feature configured that is not supported."
          ],
          "description": "Output only. Reason this render failed. This will always be unspecified while the render in progress.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "FAILURE_CAUSE_UNSPECIFIED",
            "CLOUD_BUILD_UNAVAILABLE",
            "EXECUTION_FAILED",
            "CLOUD_BUILD_REQUEST_FAILED",
            "VERIFICATION_CONFIG_NOT_FOUND",
            "CUSTOM_ACTION_NOT_FOUND",
            "DEPLOYMENT_STRATEGY_NOT_SUPPORTED",
            "RENDER_FEATURE_NOT_SUPPORTED"
          ]
        },
        "failureMessage": {
          "description": "Output only. Additional information about the render failure, if available.",
          "readOnly": true,
          "type": "string"
        },
        "renderingBuild": {
          "description": "Output only. The resource name of the Cloud Build `Build` object that is used to render the manifest for this target. Format is `projects/{project}/locations/{location}/builds/{build}`.",
          "type": "string",
          "readOnly": true
        },
        "renderingState": {
          "type": "string",
          "enum": [
            "TARGET_RENDER_STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED",
            "IN_PROGRESS"
          ],
          "enumDescriptions": [
            "The render operation state is unspecified.",
            "The render operation has completed successfully.",
            "The render operation has failed.",
            "The render operation is in progress."
          ],
          "description": "Output only. Current state of the render operation for this Target.",
          "readOnly": true
        },
        "metadata": {
          "readOnly": true,
          "$ref": "RenderMetadata",
          "description": "Output only. Metadata related to the `Release` render for this Target."
        }
      },
      "description": "Details of rendering for a single target.",
      "type": "object",
      "id": "TargetRender"
    },
    "DeployPolicyEvaluationEvent": {
      "description": "Payload proto for \"clouddeploy.googleapis.com/deploypolicy_evaluation\" Platform Log event that describes the deploy policy evaluation event.",
      "properties": {
        "pipelineUid": {
          "type": "string",
          "description": "Unique identifier of the `Delivery Pipeline`."
        },
        "deliveryPipeline": {
          "description": "The name of the `Delivery Pipeline`.",
          "type": "string"
        },
        "verdict": {
          "description": "The policy verdict of the request.",
          "type": "string",
          "enum": [
            "POLICY_VERDICT_UNSPECIFIED",
            "ALLOWED_BY_POLICY",
            "DENIED_BY_POLICY"
          ],
          "enumDescriptions": [
            "This should never happen.",
            "Allowed by policy. This enum value is not currently used but may be used in the future. Currently logs are only generated when a request is denied by policy.",
            "Denied by policy."
          ]
        },
        "deployPolicy": {
          "type": "string",
          "description": "The name of the `DeployPolicy`."
        },
        "allowed": {
          "type": "boolean",
          "description": "Whether the request is allowed. Allowed is set as true if: (1) the request complies with the policy; or (2) the request doesn't comply with the policy but the policy was overridden; or (3) the request doesn't comply with the policy but the policy was suspended"
        },
        "message": {
          "type": "string",
          "description": "Debug message for when a deploy policy event occurs."
        },
        "targetUid": {
          "description": "Unique identifier of the `Target`. This is an optional field, as a `Target` may not always be applicable to a policy.",
          "type": "string"
        },
        "deployPolicyUid": {
          "type": "string",
          "description": "Unique identifier of the `DeployPolicy`."
        },
        "target": {
          "description": "The name of the `Target`. This is an optional field, as a `Target` may not always be applicable to a policy.",
          "type": "string"
        },
        "invoker": {
          "type": "string",
          "enum": [
            "INVOKER_UNSPECIFIED",
            "USER",
            "DEPLOY_AUTOMATION"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "The action is user-driven. For example, creating a rollout manually via a gcloud create command.",
            "Automated action by Cloud Deploy."
          ],
          "description": "What invoked the action (e.g. a user or automation)."
        },
        "overrides": {
          "items": {
            "enumDescriptions": [
              "This should never happen.",
              "The policy was overridden.",
              "The policy was suspended."
            ],
            "type": "string",
            "enum": [
              "POLICY_VERDICT_OVERRIDE_UNSPECIFIED",
              "POLICY_OVERRIDDEN",
              "POLICY_SUSPENDED"
            ]
          },
          "type": "array",
          "description": "Things that could have overridden the policy verdict. Overrides together with verdict decide whether the request is allowed."
        },
        "ruleType": {
          "type": "string",
          "description": "Rule type (e.g. Restrict Rollouts)."
        },
        "rule": {
          "description": "Rule id.",
          "type": "string"
        }
      },
      "id": "DeployPolicyEvaluationEvent",
      "type": "object"
    },
    "DeployPolicy": {
      "description": "A `DeployPolicy` resource in the Cloud Deploy API. A `DeployPolicy` inhibits manual or automation-driven actions within a Delivery Pipeline or Target.",
      "id": "DeployPolicy",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time at which the deploy policy was created.",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the `DeployPolicy`. Max length is 255 characters."
        },
        "suspended": {
          "type": "boolean",
          "description": "Optional. When suspended, the policy will not prevent actions from occurring, even if the action violates the policy."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels are attributes that can be set and used by both the user and by Cloud Deploy. Labels must meet the following constraints: * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. * All characters must use UTF-8 encoding, and international characters are allowed. * Keys must start with a lowercase letter or international character. * Each resource is limited to a maximum of 64 labels. Both keys and values are additionally constrained to be <= 128 bytes."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Most recent time at which the deploy policy was updated."
        },
        "rules": {
          "type": "array",
          "description": "Required. Rules to apply. At least one rule must be present.",
          "items": {
            "$ref": "PolicyRule"
          }
        },
        "selectors": {
          "type": "array",
          "items": {
            "$ref": "DeployPolicyResourceSelector"
          },
          "description": "Required. Selected resources to which the policy will be applied. At least one selector is required. If one selector matches the resource the policy applies. For example, if there are two selectors and the action being attempted matches one of them, the policy will apply to that action."
        },
        "annotations": {
          "description": "Optional. User annotations. These attributes can only be set and used by the user, and not by Cloud Deploy. Annotations must meet the following constraints: * Annotations are key/value pairs. * Valid annotation keys have two segments: an optional prefix and name, separated by a slash (`/`). * The name segment is required and must be 63 characters or less, beginning and ending with an alphanumeric character (`[a-z0-9A-Z]`) with dashes (`-`), underscores (`_`), dots (`.`), and alphanumerics between. * The prefix is optional. If specified, the prefix must be a DNS subdomain: a series of DNS labels separated by dots(`.`), not longer than 253 characters in total, followed by a slash (`/`). See https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/#syntax-and-character-set for more details.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "etag": {
          "description": "The weak etag of the `DeployPolicy` resource. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Unique identifier of the `DeployPolicy`."
        },
        "name": {
          "description": "Output only. Name of the `DeployPolicy`. Format is `projects/{project}/locations/{location}/deployPolicies/{deployPolicy}`. The `deployPolicy` component must match `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "SkaffoldGCSSource": {
      "properties": {
        "source": {
          "description": "Required. Cloud Storage source paths to copy recursively. For example, providing \"gs://my-bucket/dir/configs/*\" will result in Skaffold copying all files within the \"dir/configs\" directory in the bucket \"my-bucket\".",
          "type": "string"
        },
        "path": {
          "type": "string",
          "description": "Optional. Relative path from the source to the Skaffold file."
        }
      },
      "type": "object",
      "id": "SkaffoldGCSSource",
      "description": "Cloud Storage bucket containing Skaffold Config modules."
    },
    "Target": {
      "properties": {
        "labels": {
          "type": "object",
          "description": "Optional. Labels are attributes that can be set and used by both the user and by Cloud Deploy. Labels must meet the following constraints: * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. * All characters must use UTF-8 encoding, and international characters are allowed. * Keys must start with a lowercase letter or international character. * Each resource is limited to a maximum of 64 labels. Both keys and values are additionally constrained to be <= 128 bytes.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Time at which the `Target` was created."
        },
        "gke": {
          "description": "Optional. Information specifying a GKE Cluster.",
          "$ref": "GkeCluster"
        },
        "run": {
          "description": "Optional. Information specifying a Cloud Run deployment target.",
          "$ref": "CloudRunLocation"
        },
        "requireApproval": {
          "description": "Optional. Whether or not the `Target` requires approval.",
          "type": "boolean"
        },
        "anthosCluster": {
          "description": "Optional. Information specifying an Anthos Cluster.",
          "$ref": "AnthosCluster"
        },
        "executionConfigs": {
          "items": {
            "$ref": "ExecutionConfig"
          },
          "type": "array",
          "description": "Optional. Configurations for all execution that relates to this `Target`. Each `ExecutionEnvironmentUsage` value may only be used in a single configuration; using the same value multiple times is an error. When one or more configurations are specified, they must include the `RENDER` and `DEPLOY` `ExecutionEnvironmentUsage` values. When no configurations are specified, execution will use the default specified in `DefaultPool`."
        },
        "name": {
          "description": "Identifier. Name of the `Target`. Format is `projects/{project}/locations/{location}/targets/{target}`. The `target` component must match `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`",
          "type": "string"
        },
        "etag": {
          "description": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "targetId": {
          "type": "string",
          "description": "Output only. Resource id of the `Target`.",
          "readOnly": true
        },
        "deployParameters": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. The deploy parameters to use for this target."
        },
        "customTarget": {
          "description": "Optional. Information specifying a Custom Target.",
          "$ref": "CustomTarget"
        },
        "associatedEntities": {
          "additionalProperties": {
            "$ref": "AssociatedEntities"
          },
          "type": "object",
          "description": "Optional. Map of entity IDs to their associated entities. Associated entities allows specifying places other than the deployment target for specific features. For example, the Gateway API canary can be configured to deploy the HTTPRoute to a different cluster(s) than the deployment cluster using associated entities. An entity ID must consist of lower-case letters, numbers, and hyphens, start with a letter and end with a letter or a number, and have a max length of 63 characters. In other words, it must match the following regex: `^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$`."
        },
        "annotations": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. User annotations. These attributes can only be set and used by the user, and not by Cloud Deploy. See https://google.aip.dev/128#annotations for more details such as format and size limitations."
        },
        "uid": {
          "description": "Output only. Unique identifier of the `Target`.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Most recent time at which the `Target` was updated."
        },
        "description": {
          "description": "Optional. Description of the `Target`. Max length is 255 characters.",
          "type": "string"
        },
        "multiTarget": {
          "description": "Optional. Information specifying a multiTarget.",
          "$ref": "MultiTarget"
        }
      },
      "type": "object",
      "id": "Target",
      "description": "A `Target` resource in the Cloud Deploy API. A `Target` defines a location to which a Skaffold configuration can be deployed."
    },
    "AdvanceRolloutResponse": {
      "type": "object",
      "id": "AdvanceRolloutResponse",
      "properties": {},
      "description": "The response object from `AdvanceRollout`."
    },
    "ChildRolloutJobs": {
      "type": "object",
      "description": "ChildRollouts job composition",
      "id": "ChildRolloutJobs",
      "properties": {
        "advanceRolloutJobs": {
          "type": "array",
          "items": {
            "$ref": "Job"
          },
          "description": "Output only. List of AdvanceChildRolloutJobs",
          "readOnly": true
        },
        "createRolloutJobs": {
          "readOnly": true,
          "description": "Output only. List of CreateChildRolloutJobs",
          "type": "array",
          "items": {
            "$ref": "Job"
          }
        }
      }
    },
    "ListTargetsResponse": {
      "id": "ListTargetsResponse",
      "type": "object",
      "properties": {
        "targets": {
          "items": {
            "$ref": "Target"
          },
          "description": "The `Target` objects.",
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "The response object from `ListTargets`."
    },
    "SkaffoldModules": {
      "description": "Skaffold Config modules and their remote source.",
      "type": "object",
      "properties": {
        "configs": {
          "description": "Optional. The Skaffold Config modules to use from the specified source.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "git": {
          "$ref": "SkaffoldGitSource",
          "description": "Optional. Remote git repository containing the Skaffold Config modules."
        },
        "googleCloudStorage": {
          "$ref": "SkaffoldGCSSource",
          "description": "Optional. Cloud Storage bucket containing the Skaffold Config modules."
        },
        "googleCloudBuildRepo": {
          "description": "Optional. Cloud Build V2 repository containing the Skaffold Config modules.",
          "$ref": "SkaffoldGCBRepoSource"
        }
      },
      "id": "SkaffoldModules"
    },
    "PrivatePool": {
      "id": "PrivatePool",
      "type": "object",
      "properties": {
        "workerPool": {
          "description": "Required. Resource name of the Cloud Build worker pool to use. The format is `projects/{project}/locations/{location}/workerPools/{pool}`.",
          "type": "string"
        },
        "artifactStorage": {
          "description": "Optional. Cloud Storage location where execution outputs should be stored. This can either be a bucket (\"gs://my-bucket\") or a path within a bucket (\"gs://my-bucket/my-dir\"). If unspecified, a default bucket located in the same region will be used.",
          "type": "string"
        },
        "serviceAccount": {
          "description": "Optional. Google service account to use for execution. If unspecified, the project execution service account (-compute@developer.gserviceaccount.com) will be used.",
          "type": "string"
        }
      },
      "description": "Execution using a private Cloud Build pool."
    },
    "OneTimeWindow": {
      "description": "One-time window within which actions are restricted. For example, blocking actions over New Year's Eve from December 31st at 5pm to January 1st at 9am.",
      "type": "object",
      "id": "OneTimeWindow",
      "properties": {
        "startTime": {
          "$ref": "TimeOfDay",
          "description": "Required. Start time (inclusive). Use 00:00 for the beginning of the day."
        },
        "startDate": {
          "description": "Required. Start date.",
          "$ref": "Date"
        },
        "endDate": {
          "$ref": "Date",
          "description": "Required. End date."
        },
        "endTime": {
          "$ref": "TimeOfDay",
          "description": "Required. End time (exclusive). You may use 24:00 for the end of the day."
        }
      }
    },
    "ToolVersionSupportedCondition": {
      "properties": {
        "status": {
          "description": "Output only. True if the version of Tool used by this release is supported.",
          "readOnly": true,
          "type": "boolean"
        },
        "supportExpirationTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time at which this release's version of the tool will no longer be supported."
        },
        "toolVersionSupportState": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "This tool version is currently supported.",
            "This tool version is in maintenance mode.",
            "This tool version is no longer supported."
          ],
          "description": "Output only. The tool support state for this release's version of the tool.",
          "type": "string",
          "enum": [
            "TOOL_VERSION_SUPPORT_STATE_UNSPECIFIED",
            "TOOL_VERSION_SUPPORT_STATE_SUPPORTED",
[...]
