{
  "ownerDomain": "google.com",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "description": "Creates and manages Google Cloud Platform resources and infrastructure.",
  "kind": "discovery#restDescription",
  "documentationLink": "https://cloud.google.com/infrastructure-manager/docs",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "id": "config:v1",
  "parameters": {
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    }
  },
  "revision": "20260824",
  "servicePath": "",
  "mtlsRootUrl": "https://config.mtls.googleapis.com/",
  "canonicalName": "Config",
  "version_module": true,
  "ownerName": "Google",
  "baseUrl": "https://config.googleapis.com/",
  "name": "config",
  "title": "Infrastructure Manager API",
  "version": "v1",
  "schemas": {
    "DeleteStatefileRequest": {
      "type": "object",
      "properties": {
        "lockId": {
          "description": "Required. Lock ID of the lock file to verify that the user who is deleting the state file previously locked the Deployment.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "A request to delete a state file passed to a 'DeleteStatefile' call.",
      "id": "DeleteStatefileRequest"
    },
    "ExternalValueSource": {
      "id": "ExternalValueSource",
      "type": "object",
      "properties": {
        "deploymentSource": {
          "$ref": "DeploymentSource",
          "description": "A source from a Deployment."
        }
      },
      "description": "Configuration for a source of an external value."
    },
    "DeploymentUnit": {
      "type": "object",
      "description": "A DeploymentUnit is a container for a deployment and its dependencies. An existing deployment can be provided directly in the unit, or the unit can act as a placeholder to define the DAG, with the deployment specs supplied in a `provisionDeploymentRequest`.",
      "properties": {
        "dependencies": {
          "description": "Required. The IDs of the deployment units within the deployment group that this unit depends on.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "deployment": {
          "description": "Optional. The name of the deployment to be provisioned. Format: 'projects/{project_id}/locations/{location}/deployments/{deployment}'.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The id of the deployment unit. Must be unique within the deployment group."
        }
      },
      "id": "DeploymentUnit"
    },
    "Expr": {
      "type": "object",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "properties": {
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        }
      },
      "id": "Expr"
    },
    "DeploymentOperationMetadata": {
      "id": "DeploymentOperationMetadata",
      "type": "object",
      "properties": {
        "applyResults": {
          "description": "Outputs and artifacts from applying a deployment.",
          "$ref": "ApplyResults"
        },
        "step": {
          "enumDescriptions": [
            "Unspecified deployment step",
            "Infra Manager is creating a Google Cloud Storage bucket to store artifacts and metadata about the deployment and revision",
            "Downloading the blueprint onto the Google Cloud Storage bucket",
            "Initializing Terraform using `terraform init`",
            "Running `terraform plan`",
            "Actuating resources using Terraform using `terraform apply`",
            "Destroying resources using Terraform using `terraform destroy`",
            "Validating the uploaded TF state file when unlocking a deployment",
            "Unlocking a deployment",
            "Operation was successful",
            "Operation failed",
            "Validating the provided repository.",
            "Running quota validation"
          ],
          "description": "The current step the deployment operation is running.",
          "type": "string",
          "enum": [
            "DEPLOYMENT_STEP_UNSPECIFIED",
            "PREPARING_STORAGE_BUCKET",
            "DOWNLOADING_BLUEPRINT",
            "RUNNING_TF_INIT",
            "RUNNING_TF_PLAN",
            "RUNNING_TF_APPLY",
            "RUNNING_TF_DESTROY",
            "RUNNING_TF_VALIDATE",
            "UNLOCKING_DEPLOYMENT",
            "SUCCEEDED",
            "FAILED",
            "VALIDATING_REPOSITORY",
            "RUNNING_QUOTA_VALIDATION"
          ]
        },
        "logs": {
          "description": "Output only. Location of Deployment operations logs in `gs://{bucket}/{object}` format.",
          "readOnly": true,
          "type": "string"
        },
        "build": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Cloud Build instance UUID associated with this operation."
        },
        "applyResultsAvailable": {
          "description": "Output only. Indicating if early apply results are available.",
          "type": "boolean",
          "readOnly": true
        }
      },
      "description": "Ephemeral metadata content describing the state of a deployment operation."
    },
    "PreviewResult": {
      "type": "object",
      "properties": {
        "binarySignedUri": {
          "description": "Output only. Plan binary signed URL",
          "type": "string",
          "readOnly": true
        },
        "jsonSignedUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Plan JSON signed URL"
        }
      },
      "description": "Contains a signed Cloud Storage URLs.",
      "id": "PreviewResult"
    },
    "ResourceDrift": {
      "description": "A resource drift represents a drift to a resource in the state file.",
      "properties": {
        "propertyDrifts": {
          "readOnly": true,
          "description": "Output only. The property drifts of the resource drift.",
          "type": "array",
          "items": {
            "$ref": "PropertyDrift"
          }
        },
        "terraformInfo": {
          "description": "Output only. Terraform info of the resource drift.",
          "$ref": "ResourceDriftTerraformInfo",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The name of the resource drift. Format: 'projects/{project_id}/locations/{location}/previews/{preview}/resourceDrifts/{resource_drift}'.",
          "type": "string"
        }
      },
      "id": "ResourceDrift",
      "type": "object"
    },
    "ListDeploymentsResponse": {
      "id": "ListDeploymentsResponse",
      "type": "object",
      "properties": {
        "deployments": {
          "type": "array",
          "description": "List of Deployments.",
          "items": {
            "$ref": "Deployment"
          }
        },
        "nextPageToken": {
          "description": "Token to be supplied to the next ListDeployments request via `page_token` to obtain the next set of results.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListLocationsResponse": {
      "type": "object",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "id": "ListLocationsResponse"
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "ImportStatefileRequest": {
      "id": "ImportStatefileRequest",
      "type": "object",
      "properties": {
        "lockId": {
          "format": "int64",
          "description": "Required. Lock ID of the lock file to verify that the user who is importing the state file previously locked the Deployment.",
          "type": "string"
        }
      },
      "description": "A request to import a state file passed to a 'ImportStatefile' call."
    },
    "TerraformBlueprint": {
      "description": "TerraformBlueprint describes the source of a Terraform root module which describes the resources and configs to be deployed.",
      "id": "TerraformBlueprint",
      "type": "object",
      "properties": {
        "inputValues": {
          "additionalProperties": {
            "$ref": "TerraformVariable"
          },
          "description": "Optional. Input variable values for the Terraform blueprint.",
          "type": "object"
        },
        "gcsSource": {
          "description": "URI of an object in Google Cloud Storage. Format: `gs://{bucket}/{object}` URI may also specify an object version for zipped objects. Format: `gs://{bucket}/{object}#{version}`",
          "type": "string"
        },
        "gitSource": {
          "description": "URI of a public Git repo.",
          "$ref": "GitSource"
        },
        "externalValues": {
          "additionalProperties": {
            "$ref": "ExternalValueSource"
          },
          "description": "Optional. Map of input variable names in this blueprint to configurations for importing values from external sources.",
          "type": "object"
        }
      }
    },
    "ExportDeploymentStatefileRequest": {
      "id": "ExportDeploymentStatefileRequest",
      "properties": {
        "draft": {
          "description": "Optional. If this flag is set to true, the exported deployment state file will be the draft state. This will enable the draft file to be validated before copying it over to the working state on unlock.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "A request to export a state file passed to a 'ExportDeploymentStatefile' call."
    },
    "DeprovisionDeploymentGroupRequest": {
      "description": "The request message for the DeprovisionDeploymentGroup method.",
      "properties": {
        "force": {
          "description": "Optional. If set to true, this option is propagated to the deletion of each deployment in the group. This corresponds to the 'force' field in DeleteDeploymentRequest.",
          "type": "boolean"
        },
        "deletePolicy": {
          "type": "string",
          "enum": [
            "DELETE_POLICY_UNSPECIFIED",
            "DELETE",
            "ABANDON"
          ],
          "description": "Optional. Policy on how resources within each deployment should be handled during deletion. This policy is applied globally to the deletion of all deployments in this group. This corresponds to the 'delete_policy' field in DeleteDeploymentRequest.",
          "enumDescriptions": [
            "Unspecified policy, resources will be deleted.",
            "Deletes resources actuated by the deployment.",
            "Abandons resources and only deletes the deployment and its metadata."
          ]
        }
      },
      "type": "object",
      "id": "DeprovisionDeploymentGroupRequest"
    },
    "ResourceChange": {
      "type": "object",
      "properties": {
        "intent": {
          "description": "Output only. The intent of the resource change.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "INTENT_UNSPECIFIED",
            "CREATE",
            "UPDATE",
            "DELETE",
            "RECREATE",
            "UNCHANGED"
          ],
          "enumDescriptions": [
            "The default value.",
            "The resource will be created.",
            "The resource will be updated.",
            "The resource will be deleted.",
            "The resource will be recreated.",
            "The resource will be untouched."
          ]
        },
        "propertyChanges": {
          "readOnly": true,
          "items": {
            "$ref": "PropertyChange"
          },
          "type": "array",
          "description": "Output only. The property changes of the resource change."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the resource change. Format: 'projects/{project_id}/locations/{location}/previews/{preview}/resourceChanges/{resource_change}'."
        },
        "terraformInfo": {
          "readOnly": true,
          "$ref": "ResourceChangeTerraformInfo",
          "description": "Output only. Terraform info of the resource change."
        }
      },
      "description": "A resource change represents a change to a resource in the state file.",
      "id": "ResourceChange"
    },
    "ListResourceDriftsResponse": {
      "id": "ListResourceDriftsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token to request the next page of resources from the 'ListResourceDrifts' method. The value of an empty string means that there are no more resources to return.",
          "type": "string"
        },
        "resourceDrifts": {
          "type": "array",
          "description": "List of ResourceDrifts.",
          "items": {
            "$ref": "ResourceDrift"
          }
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unreachable resources, if any."
        }
      },
      "type": "object",
      "description": "A response to a 'ListResourceDrifts' call. Contains a list of ResourceDrifts."
    },
    "ResourceDriftTerraformInfo": {
      "type": "object",
      "properties": {
        "type": {
          "description": "Output only. The type of the drifted resource.",
          "type": "string",
          "readOnly": true
        },
        "provider": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The provider of the drifted resource."
        },
        "resourceName": {
          "description": "Output only. TF resource name.",
          "readOnly": true,
          "type": "string"
        },
        "address": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The address of the drifted resource."
        }
      },
      "description": "Terraform info of a ResourceChange.",
      "id": "ResourceDriftTerraformInfo"
    },
    "PreviewOperationMetadata": {
      "description": "Ephemeral metadata content describing the state of a preview operation.",
      "properties": {
        "previewArtifacts": {
          "$ref": "PreviewArtifacts",
          "description": "Artifacts from preview."
        },
        "build": {
          "type": "string",
          "description": "Output only. Cloud Build instance UUID associated with this preview.",
          "readOnly": true
        },
        "step": {
          "type": "string",
          "enum": [
            "PREVIEW_STEP_UNSPECIFIED",
            "PREPARING_STORAGE_BUCKET",
            "DOWNLOADING_BLUEPRINT",
            "RUNNING_TF_INIT",
            "RUNNING_TF_PLAN",
            "FETCHING_DEPLOYMENT",
            "LOCKING_DEPLOYMENT",
            "UNLOCKING_DEPLOYMENT",
            "SUCCEEDED",
            "FAILED",
            "VALIDATING_REPOSITORY"
          ],
          "description": "The current step the preview operation is running.",
          "enumDescriptions": [
            "Unspecified preview step.",
            "Infra Manager is creating a Google Cloud Storage bucket to store artifacts and metadata about the preview.",
            "Downloading the blueprint onto the Google Cloud Storage bucket.",
            "Initializing Terraform using `terraform init`.",
            "Running `terraform plan`.",
            "Fetching a deployment.",
            "Locking a deployment.",
            "Unlocking a deployment.",
            "Operation was successful.",
            "Operation failed.",
            "Validating the provided repository."
          ]
        },
        "logs": {
          "readOnly": true,
          "description": "Output only. Location of preview logs in `gs://{bucket}/{object}` format.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "PreviewOperationMetadata"
    },
    "AuditLogConfig": {
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "id": "AuditLogConfig",
      "type": "object",
      "properties": {
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "logType": {
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "type": "string",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "description": "The log type that this config enables."
        }
      }
    },
    "Statefile": {
      "description": "Contains info about a Terraform state file",
      "properties": {
        "signedUri": {
          "type": "string",
          "description": "Output only. Cloud Storage signed URI used for downloading or uploading the state file.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "Statefile"
    },
    "ResourceChangeTerraformInfo": {
      "properties": {
        "resourceName": {
          "type": "string",
          "description": "Output only. TF resource name.",
          "readOnly": true
        },
        "actions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. TF resource actions."
        },
        "address": {
          "description": "Output only. TF resource address that uniquely identifies the resource.",
          "readOnly": true,
          "type": "string"
        },
        "provider": {
          "description": "Output only. TF resource provider.",
          "readOnly": true,
          "type": "string"
        },
        "type": {
          "description": "Output only. TF resource type.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "ResourceChangeTerraformInfo",
      "description": "Terraform info of a ResourceChange.",
      "type": "object"
    },
    "Policy": {
      "type": "object",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "id": "Policy",
      "properties": {
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "Binding"
          },
          "type": "array"
        },
        "auditConfigs": {
          "items": {
            "$ref": "AuditConfig"
          },
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array"
        },
        "version": {
          "type": "integer",
          "format": "int32",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "etag": {
          "type": "string",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte"
        }
      }
    },
    "TestIamPermissionsRequest": {
      "description": "Request message for `TestIamPermissions` method.",
      "type": "object",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array"
        }
      },
      "id": "TestIamPermissionsRequest"
    },
    "ListRevisionsResponse": {
      "properties": {
        "revisions": {
          "description": "List of Revisions.",
          "type": "array",
          "items": {
            "$ref": "Revision"
          }
        },
        "nextPageToken": {
          "description": "A token to request the next page of resources from the 'ListRevisions' method. The value of an empty string means that there are no more resources to return.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      },
      "id": "ListRevisionsResponse",
      "description": "A response to a 'ListRevisions' call. Contains a list of Revisions.",
      "type": "object"
    },
    "ExportPreviewResultResponse": {
      "id": "ExportPreviewResultResponse",
      "properties": {
        "result": {
          "description": "Output only. Signed URLs for accessing the plan files.",
          "readOnly": true,
          "$ref": "PreviewResult"
        }
      },
      "type": "object",
      "description": "A response to `ExportPreviewResult` call. Contains preview results."
    },
    "Binding": {
      "type": "object",
      "id": "Binding",
      "properties": {
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
        },
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        }
      },
      "description": "Associates `members`, or principals, with a `role`."
    },
    "ListDeploymentGroupsResponse": {
      "description": "The response message for the ListDeploymentGroups method.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to be supplied to the next ListDeploymentGroups request via `page_token` to obtain the next set of results."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "deploymentGroups": {
          "description": "The deployment groups from the specified collection.",
          "items": {
            "$ref": "DeploymentGroup"
          },
          "type": "array"
        }
      },
      "id": "ListDeploymentGroupsResponse"
    },
    "PropertyDrift": {
      "id": "PropertyDrift",
      "type": "object",
      "description": "A property drift represents a drift to a property in the state file.",
      "properties": {
        "afterSensitivePaths": {
          "description": "Output only. The paths of sensitive fields in `after`. Paths are relative to `path`.",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "before": {
          "type": "any",
          "description": "Output only. Representations of the object value before the actions.",
          "readOnly": true
        },
        "beforeSensitivePaths": {
          "type": "array",
          "description": "Output only. The paths of sensitive fields in `before`. Paths are relative to `path`.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "path": {
          "description": "Output only. The path of the property drift.",
          "readOnly": true,
          "type": "string"
        },
        "after": {
          "readOnly": true,
          "description": "Output only. Representations of the object value after the actions.",
          "type": "any"
        }
      }
    },
    "Preview": {
      "id": "Preview",
      "description": "A preview represents a set of actions Infra Manager would perform to move the resources towards the desired state as specified in the configuration.",
      "type": "object",
      "properties": {
        "workerPool": {
          "description": "The user-specified Worker Pool resource in which the Cloud Build job will execute. Format projects/{project}/locations/{location}/workerPools/{workerPoolId} If this field is unspecified, the default Cloud Build worker pool will be used. If omitted and deployment resource ref provided has worker_pool defined, that worker pool is used.",
          "type": "string"
        },
        "errorCode": {
          "type": "string",
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "CLOUD_BUILD_PERMISSION_DENIED",
            "BUCKET_CREATION_PERMISSION_DENIED",
            "BUCKET_CREATION_FAILED",
            "DEPLOYMENT_LOCK_ACQUIRE_FAILED",
            "PREVIEW_BUILD_API_FAILED",
            "PREVIEW_BUILD_RUN_FAILED",
            "EXTERNAL_VALUE_SOURCE_IMPORT_FAILED"
          ],
          "description": "Output only. Code describing any errors that may have occurred.",
          "readOnly": true,
          "enumDescriptions": [
            "No error code was specified.",
            "Cloud Build failed due to a permissions issue.",
            "Cloud Storage bucket failed to create due to a permissions issue.",
            "Cloud Storage bucket failed for a non-permissions-related issue.",
            "Acquiring lock on provided deployment reference failed.",
            "Preview encountered an error when trying to access Cloud Build API.",
            "Preview created a build but build failed and logs were generated.",
            "Failed to import values from an external source."
          ]
        },
        "tfVersion": {
          "description": "Output only. The current Terraform version set on the preview. It is in the format of \"Major.Minor.Patch\", for example, \"1.3.10\".",
          "readOnly": true,
          "type": "string"
        },
        "serviceAccount": {
          "description": "Required. User-specified Service Account (SA) credentials to be used when previewing resources. Format: `projects/{projectID}/serviceAccounts/{serviceAccount}`",
          "type": "string"
        },
        "artifactsGcsBucket": {
          "type": "string",
          "description": "User-defined location of Cloud Build logs, artifacts, and in Google Cloud Storage. Format: `gs://{bucket}/{folder}` A default bucket will be bootstrapped if the field is not set or empty Default Bucket Format: `gs://--blueprint-config` Constraints: - The bucket needs to be in the same project as the deployment - The path cannot be within the path of `gcs_source` If omitted and deployment resource ref provided has artifacts_gcs_bucket defined, that artifact bucket is used."
        },
        "build": {
          "description": "Output only. Cloud Build instance UUID associated with this preview.",
          "type": "string",
          "readOnly": true
        },
        "previewMode": {
          "description": "Optional. Current mode of preview.",
          "enumDescriptions": [
            "Unspecified policy, default mode will be used.",
            "DEFAULT mode generates an execution plan for reconciling current resource state into expected resource state.",
            "DELETE mode generates as execution plan for destroying current resources."
          ],
          "type": "string",
          "enum": [
            "PREVIEW_MODE_UNSPECIFIED",
            "DEFAULT",
            "DELETE"
          ]
        },
        "logs": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Location of preview logs in `gs://{bucket}/{object}` format."
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name of the preview. Resource name can be user provided or server generated ID if unspecified. Format: `projects/{project}/locations/{location}/previews/{preview}`"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "SUCCEEDED",
            "APPLYING",
            "STALE",
            "DELETING",
            "FAILED",
            "DELETED"
          ],
          "readOnly": true,
          "description": "Output only. Current state of the preview.",
          "enumDescriptions": [
            "The default value. This value is used if the state is unknown.",
            "The preview is being created.",
            "The preview has succeeded.",
            "The preview is being applied.",
            "The preview is stale. A preview can become stale if a revision has been applied after this preview was created.",
            "The preview is being deleted.",
            "The preview has encountered an unexpected error.",
            "The preview has been deleted."
          ]
        },
        "previewArtifacts": {
          "$ref": "PreviewArtifacts",
          "description": "Output only. Artifacts from preview.",
          "readOnly": true
        },
        "errorLogs": {
          "type": "string",
          "description": "Output only. Link to tf-error.ndjson file, which contains the full list of the errors encountered during a Terraform preview. Format: `gs://{bucket}/{object}`.",
          "readOnly": true
        },
        "deployment": {
          "description": "Optional. Deployment reference. If specified, the preview will be performed using the provided deployment's current state and use any relevant fields from the deployment unless explicitly specified in the preview create request.",
          "type": "string"
        },
        "terraformBlueprint": {
          "$ref": "TerraformBlueprint",
          "description": "The terraform blueprint to preview."
        },
        "tfErrors": {
          "items": {
            "$ref": "TerraformError"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. Summary of errors encountered during Terraform preview. It has a size limit of 10, i.e. only top 10 errors will be summarized here."
        },
        "providerConfig": {
          "$ref": "ProviderConfig",
          "description": "Optional. This field specifies the provider configurations."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time the preview was created."
        },
        "annotations": {
          "type": "object",
          "description": "Optional. Arbitrary key-value metadata storage e.g. to help client tools identify preview during automation. See https://google.aip.dev/148#annotations for details on format and size limitations.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "labels": {
          "type": "object",
          "description": "Optional. User-defined labels for the preview.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "tfVersionConstraint": {
          "description": "The user-specified Terraform version constraint. Example: \"=1.3.10\".",
          "type": "string"
        },
        "errorStatus": {
          "$ref": "Status",
          "description": "Output only. Additional information regarding the current state.",
          "readOnly": true
        }
      }
    },
    "DeploymentOperationSummary": {
      "description": "The summary of the deployment operation.",
      "type": "object",
      "properties": {
        "logs": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Location of Deployment operations logs in `gs://{bucket}/{object}` format."
        },
        "build": {
          "type": "string",
          "description": "Output only. Cloud Build instance UUID associated with this operation.",
          "readOnly": true
        },
        "deploymentStep": {
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified deployment step",
            "Infra Manager is creating a Google Cloud Storage bucket to store artifacts and metadata about the deployment and revision",
            "Downloading the blueprint onto the Google Cloud Storage bucket",
            "Initializing Terraform using `terraform init`",
            "Running `terraform plan`",
            "Actuating resources using Terraform using `terraform apply`",
            "Destroying resources using Terraform using `terraform destroy`",
            "Validating the uploaded TF state file when unlocking a deployment",
            "Unlocking a deployment",
            "Operation was successful",
            "Operation failed",
            "Validating the provided repository.",
            "Running quota validation"
          ],
          "description": "Output only. The current step the deployment operation is running.",
          "type": "string",
          "enum": [
            "DEPLOYMENT_STEP_UNSPECIFIED",
            "PREPARING_STORAGE_BUCKET",
            "DOWNLOADING_BLUEPRINT",
            "RUNNING_TF_INIT",
            "RUNNING_TF_PLAN",
            "RUNNING_TF_APPLY",
            "RUNNING_TF_DESTROY",
            "RUNNING_TF_VALIDATE",
            "UNLOCKING_DEPLOYMENT",
            "SUCCEEDED",
            "FAILED",
            "VALIDATING_REPOSITORY",
            "RUNNING_QUOTA_VALIDATION"
          ]
        },
        "artifacts": {
          "type": "string",
          "description": "Output only. Location of Deployment operations artifacts in `gs://{bucket}/{object}` format.",
          "readOnly": true
        },
        "content": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Location of Deployment operations content in `gs://{bucket}/{object}` format."
        }
      },
      "id": "DeploymentOperationSummary"
    },
    "ProvisionDeploymentGroupOperationMetadata": {
      "description": "Operation metadata for `ProvisionDeploymentGroup` and `DeprovisionDeploymentGroup` long-running operations.",
      "properties": {
        "deploymentUnitProgresses": {
          "items": {
            "$ref": "DeploymentUnitProgress"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. Progress information for each deployment unit within the operation."
        },
        "step": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "PROVISION_DEPLOYMENT_GROUP_STEP_UNSPECIFIED",
            "VALIDATING_DEPLOYMENT_GROUP",
            "ASSOCIATING_DEPLOYMENTS_TO_DEPLOYMENT_GROUP",
            "PROVISIONING_DEPLOYMENT_UNITS",
            "DISASSOCIATING_DEPLOYMENTS_FROM_DEPLOYMENT_GROUP",
            "SUCCEEDED",
            "FAILED",
            "DEPROVISIONING_DEPLOYMENT_UNITS"
          ],
          "description": "Output only. The current step of the deployment group operation.",
          "enumDescriptions": [
            "Unspecified step.",
            "Validating the deployment group.",
            "Locking the deployments to the deployment group for atomic actuation.",
            "Provisioning the deployment units.",
            "Unlocking the deployments from the deployment group after actuation.",
            "The operation has succeeded.",
            "The operation has failed.",
            "Deprovisioning the deployment units."
          ]
        }
      },
      "id": "ProvisionDeploymentGroupOperationMetadata",
      "type": "object"
    },
    "Resource": {
      "description": "Resource represents a Google Cloud Platform resource actuated by IM. Resources are child resources of Revisions.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. Resource name. Format: `projects/{project}/locations/{location}/deployments/{deployment}/revisions/{revision}/resources/{resource}`",
          "readOnly": true
        },
        "state": {
          "description": "Output only. Current state of the resource.",
          "readOnly": true,
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "Resource has been planned for reconcile.",
            "Resource is actively reconciling into the intended state.",
            "Resource has reconciled to intended state.",
            "Resource failed to reconcile."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PLANNED",
            "IN_PROGRESS",
            "RECONCILED",
            "FAILED"
          ]
        },
        "intent": {
          "readOnly": true,
          "enumDescriptions": [
            "The default value. This value is used if the intent is omitted.",
            "Infra Manager will create this Resource.",
            "Infra Manager will update this Resource.",
            "Infra Manager will delete this Resource.",
            "Infra Manager will destroy and recreate this Resource.",
            "Infra Manager will leave this Resource untouched."
          ],
          "type": "string",
          "enum": [
            "INTENT_UNSPECIFIED",
            "CREATE",
            "UPDATE",
            "DELETE",
            "RECREATE",
            "UNCHANGED"
          ],
          "description": "Output only. Intent of the resource."
        },
        "caiAssets": {
          "additionalProperties": {
            "$ref": "ResourceCAIInfo"
          },
          "readOnly": true,
          "type": "object",
          "description": "Output only. Map of Cloud Asset Inventory (CAI) type to CAI info (e.g. CAI ID). CAI type format follows https://cloud.google.com/asset-inventory/docs/supported-asset-types"
        },
        "terraformInfo": {
          "description": "Output only. Terraform-specific info if this resource was created using Terraform.",
          "readOnly": true,
          "$ref": "ResourceTerraformInfo"
        }
      },
      "id": "Resource"
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "array"
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      },
      "type": "object"
    },
    "ExportRevisionStatefileRequest": {
      "type": "object",
      "id": "ExportRevisionStatefileRequest",
      "description": "A request to export a state file passed to a 'ExportRevisionStatefile' call.",
      "properties": {}
    },
    "OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "previewMetadata": {
          "description": "Output only. Metadata about the preview operation state.",
          "$ref": "PreviewOperationMetadata",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. Time when the operation was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "endTime": {
          "type": "string",
          "description": "Output only. Time when the operation finished running.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "verb": {
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "type": "string",
          "readOnly": true
        },
        "deploymentMetadata": {
          "description": "Output only. Metadata about the deployment operation state.",
          "$ref": "DeploymentOperationMetadata",
          "readOnly": true
        },
        "target": {
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true
        },
        "provisionDeploymentGroupMetadata": {
          "$ref": "ProvisionDeploymentGroupOperationMetadata",
          "description": "Output only. Metadata about ProvisionDeploymentGroup operation state.",
          "readOnly": true
        },
        "statusMessage": {
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true
        }
      },
      "id": "OperationMetadata",
      "type": "object"
    },
    "CancelOperationRequest": {
      "type": "object",
      "properties": {},
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation."
    },
    "ListResourcesResponse": {
      "description": "A response to a 'ListResources' call. Contains a list of Resources.",
      "id": "ListResourcesResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to request the next page of resources from the 'ListResources' method. The value of an empty string means that there are no more resources to return."
        },
        "resources": {
          "description": "List of Resources.",
          "items": {
            "$ref": "Resource"
          },
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "ResourceTerraformInfo": {
      "type": "object",
      "id": "ResourceTerraformInfo",
      "properties": {
        "id": {
          "description": "ID attribute of the TF resource",
          "type": "string"
        },
        "address": {
          "description": "TF resource address that uniquely identifies this resource within this deployment.",
          "type": "string"
        },
        "type": {
          "description": "TF resource type",
          "type": "string"
        }
      },
      "description": "Terraform info of a Resource."
    },
    "ListPreviewsResponse": {
      "description": "A response to a `ListPreviews` call. Contains a list of Previews.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to be supplied to the next ListPreviews request via `page_token` to obtain the next set of results."
        },
        "previews": {
          "type": "array",
          "description": "List of Previews.",
          "items": {
            "$ref": "Preview"
          }
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      },
      "id": "ListPreviewsResponse"
    },
    "ListDeploymentGroupRevisionsResponse": {
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "Unordered list. Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to be supplied to the next ListDeploymentGroupRevisions request via `page_token` to obtain the next set of results.",
          "type": "string"
        },
        "deploymentGroupRevisions": {
          "description": "The deployment group revisions from the specified collection.",
          "items": {
            "$ref": "DeploymentGroupRevision"
          },
          "type": "array"
        }
      },
      "description": "The response message for the ListDeploymentGroupRevisions method.",
      "id": "ListDeploymentGroupRevisionsResponse"
    },
    "PropertyChange": {
      "description": "A property change represents a change to a property in the state file.",
      "properties": {
        "afterSensitivePaths": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. The paths of sensitive fields in `after`. Paths are relative to `path`."
        },
        "path": {
          "readOnly": true,
          "description": "Output only. The path of the property change.",
          "type": "string"
        },
        "before": {
          "readOnly": true,
          "description": "Output only. Representations of the object value before the actions.",
          "type": "any"
        },
        "after": {
          "description": "Output only. Representations of the object value after the actions.",
          "type": "any",
          "readOnly": true
        },
        "beforeSensitivePaths": {
          "description": "Output only. The paths of sensitive fields in `before`. Paths are relative to `path`.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        }
      },
      "type": "object",
      "id": "PropertyChange"
    },
    "TerraformVersion": {
      "type": "object",
      "id": "TerraformVersion",
      "properties": {
        "state": {
          "description": "Output only. The state of the version, ACTIVE, DEPRECATED or OBSOLETE.",
          "readOnly": true,
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "The version is actively supported.",
            "The version is deprecated.",
            "The version is obsolete."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DEPRECATED",
            "OBSOLETE"
          ]
        },
        "name": {
          "description": "Identifier. The version name is in the format: 'projects/{project_id}/locations/{location}/terraformVersions/{terraform_version}'.",
          "type": "string"
        },
        "obsoleteTime": {
          "description": "Output only. When the version is obsolete.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "deprecateTime": {
          "description": "Output only. When the version is deprecated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "supportTime": {
          "description": "Output only. When the version is supported.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "description": "A TerraformVersion represents the support state the corresponding Terraform version."
    },
    "DeploymentSpec": {
      "id": "DeploymentSpec",
      "description": "Spec for a deployment to be created.",
      "type": "object",
      "properties": {
        "deploymentId": {
          "type": "string",
          "description": "Required. The id of the deployment to be created which doesn't include the project id and location."
        },
        "deployment": {
          "description": "Required. The deployment to be created.",
          "$ref": "Deployment"
        }
      }
    },
    "PreviewArtifacts": {
      "id": "PreviewArtifacts",
      "description": "Artifacts created by preview.",
      "type": "object",
      "properties": {
        "artifacts": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Location of artifacts in Google Cloud Storage. Format: `gs://{bucket}/{object}`"
        },
        "content": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Location of a blueprint copy and other content in Google Cloud Storage. Format: `gs://{bucket}/{object}`"
        }
      }
    },
    "ProvisionDeploymentGroupRequest": {
      "type": "object",
      "description": "The request message for the ProvisionDeploymentGroup method.",
      "properties": {
        "deploymentSpecs": {
          "additionalProperties": {
            "$ref": "DeploymentSpec"
          },
          "type": "object",
          "description": "Optional. The deployment specs of the deployment units to be created within the same project and location of the deployment group. The key is the unit ID, and the value is the `DeploymentSpec`. Provisioning will fail if a `deployment_spec` has a `deployment_id` that matches an existing deployment in the same project and location. If an existing deployment was part of the last successful revision but is no longer in the current DeploymentGroup's `deployment_units`, it will be recreated if included in `deployment_specs`."
        }
      },
      "id": "ProvisionDeploymentGroupRequest"
    },
    "UnlockDeploymentRequest": {
      "properties": {
        "lockId": {
          "description": "Required. Lock ID of the lock file to be unlocked.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A request to unlock a state file passed to a 'UnlockDeployment' call.",
      "id": "UnlockDeploymentRequest"
    },
    "DeploymentSource": {
      "properties": {
        "outputName": {
          "description": "Required. The name of the output variable in the source deployment's latest successfully applied revision.",
          "type": "string"
        },
        "deployment": {
          "type": "string",
          "description": "Required. The resource name of the source Deployment to import the output from. Format: projects/{project}/locations/{location}/deployments/{deployment} The source deployment must be in the same project and location."
        }
      },
      "id": "DeploymentSource",
      "description": "Configuration for a value sourced from a Deployment.",
      "type": "object"
    },
    "ApplyResults": {
      "id": "ApplyResults",
      "description": "Outputs and artifacts from applying a deployment.",
      "type": "object",
      "properties": {
        "artifacts": {
          "type": "string",
          "description": "Location of artifacts (e.g. logs) in Google Cloud Storage. Format: `gs://{bucket}/{object}`"
        },
        "content": {
          "description": "Location of a blueprint copy and other manifests in Google Cloud Storage. Format: `gs://{bucket}/{object}`",
          "type": "string"
        },
        "outputs": {
          "type": "object",
          "description": "Map of output name to output info.",
          "additionalProperties": {
            "$ref": "TerraformOutput"
          }
        }
      }
    },
    "Location": {
      "type": "object",
      "properties": {
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        }
      },
      "id": "Location",
      "description": "A resource that represents a Google Cloud location."
    },
    "ProviderConfig": {
      "id": "ProviderConfig",
      "description": "ProviderConfig contains the provider configurations.",
      "properties": {
        "sourceType": {
          "type": "string",
          "enum": [
            "PROVIDER_SOURCE_UNSPECIFIED",
            "SERVICE_MAINTAINED"
          ],
          "description": "Optional. ProviderSource specifies the source type of the provider.",
          "enumDescriptions": [
            "Unspecified source type, default to public sources.",
            "Service maintained provider source type."
          ]
        }
      },
      "type": "object"
    },
    "Deployment": {
      "description": "A Deployment is a group of resources and configs managed and provisioned by Infra Manager.",
      "properties": {
        "deleteLogs": {
          "description": "Output only. Location of Cloud Build logs in Google Cloud Storage, populated when deleting this deployment. Format: `gs://{bucket}/{object}`.",
          "type": "string",
          "readOnly": true
        },
        "deleteResults": {
          "readOnly": true,
          "description": "Output only. Location of artifacts from a DeleteDeployment operation.",
          "$ref": "ApplyResults"
        },
        "deleteBuild": {
          "readOnly": true,
          "description": "Output only. Cloud Build instance UUID associated with deleting this deployment.",
          "type": "string"
        },
        "serviceAccount": {
          "description": "Required. User-specified Service Account (SA) credentials to be used when actuating resources. Format: `projects/{projectID}/serviceAccounts/{serviceAccount}`",
          "type": "string"
        },
        "terraformBlueprint": {
          "description": "A blueprint described using Terraform's HashiCorp Configuration Language as a root module.",
          "$ref": "TerraformBlueprint"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time when the deployment was last modified."
        },
        "lockState": {
          "enumDescriptions": [
            "The default value. This value is used if the lock state is omitted.",
            "The deployment is locked.",
            "The deployment is unlocked.",
            "The deployment is being locked.",
            "The deployment is being unlocked.",
            "The deployment has failed to lock.",
            "The deployment has failed to unlock."
          ],
          "readOnly": true,
          "description": "Output only. Current lock state of the deployment.",
          "type": "string",
          "enum": [
            "LOCK_STATE_UNSPECIFIED",
            "LOCKED",
            "UNLOCKED",
            "LOCKING",
            "UNLOCKING",
            "LOCK_FAILED",
            "UNLOCK_FAILED"
          ]
        },
        "tfVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The current Terraform version set on the deployment. It is in the format of \"Major.Minor.Patch\", for example, \"1.3.10\"."
        },
        "state": {
          "description": "Output only. Current state of the deployment.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "UPDATING",
            "DELETING",
            "FAILED",
            "SUSPENDED",
            "DELETED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "The deployment is being created.",
            "The deployment is healthy.",
            "The deployment is being updated.",
            "The deployment is being deleted.",
            "The deployment has encountered an unexpected error.",
            "The deployment is no longer being actively reconciled. This may be the result of recovering the project after deletion.",
            "The deployment has been deleted."
          ]
        },
        "workerPool": {
          "description": "The user-specified Cloud Build worker pool resource in which the Cloud Build job will execute. Format: `projects/{project}/locations/{location}/workerPools/{workerPoolId}`. If this field is unspecified, the default Cloud Build worker pool will be used.",
          "type": "string"
        },
        "errorCode": {
          "readOnly": true,
          "enumDescriptions": [
            "No error code was specified.",
            "The revision failed. See Revision for more details.",
            "Cloud Build failed due to a permission issue.",
            "Cloud Build job associated with a deployment deletion could not be started.",
            "Cloud Build job associated with a deployment deletion was started but failed.",
            "Cloud Storage bucket creation failed due to a permission issue.",
            "Cloud Storage bucket creation failed due to an issue unrelated to permissions.",
            "Failed to import values from an external source."
          ],
          "type": "string",
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "REVISION_FAILED",
            "CLOUD_BUILD_PERMISSION_DENIED",
            "DELETE_BUILD_API_FAILED",
            "DELETE_BUILD_RUN_FAILED",
            "BUCKET_CREATION_PERMISSION_DENIED",
            "BUCKET_CREATION_FAILED",
            "EXTERNAL_VALUE_SOURCE_IMPORT_FAILED"
          ],
          "description": "Output only. Error code describing errors that may have occurred."
        },
        "annotations": {
          "type": "object",
          "description": "Optional. Arbitrary key-value metadata storage e.g. to help client tools identify deployments during automation. See https://google.aip.dev/148#annotations for details on format and size limitations.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "description": "Output only. Time when the deployment was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. User-defined metadata for the deployment."
        },
        "tfVersionConstraint": {
          "description": "The user-specified Terraform version constraint. Example: \"=1.3.10\".",
          "type": "string"
        },
        "stateDetail": {
          "readOnly": true,
          "description": "Output only. Additional information regarding the current state.",
          "type": "string"
        },
        "importExistingResources": {
          "description": "By default, Infra Manager will return a failure when Terraform encounters a 409 code (resource conflict error) during actuation. If this flag is set to true, Infra Manager will instead attempt to automatically import the resource into the Terraform state (for supported resource types) and continue actuation. Not all resource types are supported, refer to documentation.",
          "type": "boolean"
        },
        "latestRevision": {
          "readOnly": true,
          "description": "Output only. Revision name that was most recently applied. Format: `projects/{project}/locations/{location}/deployments/{deployment}/ revisions/{revision}`",
          "type": "string"
        },
        "providerConfig": {
          "description": "Optional. This field specifies the provider configurations.",
          "$ref": "ProviderConfig"
        },
        "quotaValidation": {
          "description": "Optional. Input to control quota checks for resources in terraform configuration files. There are limited resources on which quota validation applies.",
          "enumDescriptions": [
            "The default value. QuotaValidation on terraform configuration files will be disabled in this case.",
            "Enable computing quotas for resources in terraform configuration files to get visibility on resources with insufficient quotas.",
            "Enforce quota checks so deployment fails if there isn't sufficient quotas available to deploy resources in terraform configuration files."
          ],
          "type": "string",
          "enum": [
            "QUOTA_VALIDATION_UNSPECIFIED",
            "ENABLED",
            "ENFORCED"
          ]
        },
        "artifactsGcsBucket": {
          "description": "User-defined location of Cloud Build logs and artifacts in Google Cloud Storage. Format: `gs://{bucket}/{folder}` A default bucket will be bootstrapped if the field is not set or empty. Default bucket format: `gs://--blueprint-config` Constraints: - The bucket needs to be in the same project as the deployment - The path cannot be within the path of `gcs_source` - The field cannot be updated, including changing its presence",
          "type": "string"
        },
        "name": {
          "description": "Identifier. Resource name of the deployment. Format: `projects/{project}/locations/{location}/deployments/{deployment}`",
          "type": "string"
        },
        "errorLogs": {
          "description": "Output only. Location of Terraform error logs in Google Cloud Storage. Format: `gs://{bucket}/{object}`.",
          "readOnly": true,
          "type": "string"
        },
        "tfErrors": {
          "type": "array",
          "items": {
            "$ref": "TerraformError"
          },
          "description": "Output only. Errors encountered when deleting this deployment. Errors are truncated to 10 entries, see `delete_results` and `error_logs` for full details.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "Deployment"
    },
    "DeploymentGroupRevision": {
      "properties": {
        "snapshot": {
          "$ref": "DeploymentGroup",
          "readOnly": true,
          "description": "Output only. The snapshot of the deployment group at this revision."
        },
        "name": {
          "description": "Identifier. The name of the deployment group revision. Format: 'projects/{project_id}/locations/{location}/deploymentGroups/{deployment_group}/revisions/{revision}'.",
          "type": "string"
        },
        "alternativeIds": {
          "description": "Output only. The alternative IDs of the deployment group revision.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time when the deployment group revision was created."
        }
      },
      "id": "DeploymentGroupRevision",
      "type": "object",
      "description": "A DeploymentGroupRevision represents a snapshot of a DeploymentGroup at a given point in time, created when a DeploymentGroup is provisioned or deprovisioned."
    },
    "TerraformVariable": {
      "properties": {
        "inputValue": {
          "description": "Optional. Input variable value.",
          "type": "any"
        }
      },
      "description": "A Terraform input variable.",
      "type": "object",
      "id": "TerraformVariable"
    },
    "Empty": {
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "ResourceCAIInfo": {
      "properties": {
        "fullResourceName": {
          "type": "string",
          "description": "CAI resource name in the format following https://cloud.google.com/apis/design/resource_names#full_resource_name"
        }
      },
      "id": "ResourceCAIInfo",
      "type": "object",
      "description": "CAI info of a Resource."
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "type": "object"
    },
    "AuditConfig": {
      "type": "object",
      "id": "AuditConfig",
      "properties": {
        "auditLogConfigs": {
          "items": {
            "$ref": "AuditLogConfig"
          },
          "type": "array",
          "description": "The configuration for logging of each type of permission."
        },
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        }
      },
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging."
    },
    "ListResourceChangesResponse": {
      "id": "ListResourceChangesResponse",
      "properties": {
        "resourceChanges": {
          "type": "array",
          "description": "List of ResourceChanges.",
          "items": {
            "$ref": "ResourceChange"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to request the next page of resources from the 'ListResourceChanges' method. The value of an empty string means that there are no more resources to return."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unreachable resources, if any."
        }
      },
      "description": "A response to a 'ListResourceChanges' call. Contains a list of ResourceChanges.",
      "type": "object"
    },
    "TerraformError": {
      "type": "object",
      "description": "Errors encountered during actuation using Terraform",
      "properties": {
        "httpResponseCode": {
          "type": "integer",
          "description": "HTTP response code returned from Google Cloud Platform APIs when Terraform fails to provision the resource. If unset or 0, no HTTP response code was returned by Terraform.",
          "format": "int32"
        },
        "errorDescription": {
          "description": "A human-readable error description.",
          "type": "string"
        },
        "resourceAddress": {
          "description": "Address of the resource associated with the error, e.g. `google_compute_network.vpc_network`.",
          "type": "string"
        },
        "error": {
          "readOnly": true,
          "description": "Output only. Original error response from underlying Google API, if available.",
          "$ref": "Status"
        }
      },
      "id": "TerraformError"
    },
    "TerraformOutput": {
      "properties": {
        "sensitive": {
          "type": "boolean",
          "description": "Identifies whether Terraform has set this output as a potential sensitive value."
        },
        "value": {
          "type": "any",
          "description": "Value of output."
        }
      },
      "id": "TerraformOutput",
      "type": "object",
      "description": "Describes a Terraform output."
    },
    "DeploymentGroup": {
      "id": "DeploymentGroup",
      "description": "A DeploymentGroup is a collection of DeploymentUnits that in a DAG-like structure.",
      "type": "object",
      "properties": {
        "labels": {
          "description": "Optional. User-defined metadata for the deployment group.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "provisioningStateDescription": {
          "description": "Output only. Additional information regarding the current provisioning state.",
          "type": "string",
          "readOnly": true
        },
        "deploymentUnits": {
          "type": "array",
          "items": {
            "$ref": "DeploymentUnit"
          },
          "description": "The deployment units of the deployment group in a DAG like structure. When a deployment group is being provisioned, the deployment units are deployed in a DAG order. The provided units must be in a DAG order, otherwise an error will be returned."
        },
        "stateDescription": {
          "type": "string",
          "description": "Output only. Additional information regarding the current state.",
          "readOnly": true
        },
        "annotations": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Arbitrary key-value metadata storage e.g. to help client tools identify deployment group during automation. See https://google.aip.dev/148#annotations for details on format and size limitations."
        },
        "updateTime": {
          "description": "Output only. Time when the deployment group was last updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "The deployment group is being created.",
            "The deployment group is healthy.",
            "The deployment group is being updated.",
            "The deployment group is being deleted.",
            "The deployment group has encountered an unexpected error.",
            "The deployment group is no longer being actively reconciled. This may be the result of recovering the project after deletion.",
            "The deployment group has been deleted."
          ],
          "readOnly": true,
          "description": "Output only. Current state of the deployment group.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "UPDATING",
            "DELETING",
            "FAILED",
            "SUSPENDED",
            "DELETED"
          ]
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the deployment group. Format: 'projects/{project_id}/locations/{location}/deploymentGroups/{deployment_group}'."
        },
        "provisioningState": {
          "description": "Output only. The provisioning state of the deployment group.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "PROVISIONING_STATE_UNSPECIFIED",
            "PROVISIONING",
            "PROVISIONED",
            "FAILED_TO_PROVISION",
            "DEPROVISIONING",
            "DEPROVISIONED",
            "FAILED_TO_DEPROVISION"
          ],
          "enumDescriptions": [
            "Unspecified provisioning state.",
            "The deployment group is being provisioned.",
            "The deployment group is provisioned.",
            "The deployment group failed to be provisioned.",
            "The deployment group is being deprovisioned.",
            "The deployment group is deprovisioned.",
            "The deployment group failed to be deprovisioned."
          ]
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time when the deployment group was created."
        },
        "provisioningError": {
          "description": "Output only. The error status of the deployment group provisioning or deprovisioning.",
          "readOnly": true,
          "$ref": "Status"
        }
      }
    },
    "TestIamPermissionsResponse": {
      "properties": {
        "permissions": {
          "type": "array",
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Response message for `TestIamPermissions` method.",
      "type": "object",
      "id": "TestIamPermissionsResponse"
    },
    "ExportPreviewResultRequest": {
      "description": "A request to export preview results.",
      "type": "object",
      "properties": {},
      "id": "ExportPreviewResultRequest"
    },
    "LockInfo": {
      "type": "object",
      "description": "Details about the lock which locked the deployment.",
      "properties": {
        "lockId": {
          "type": "string",
          "description": "Unique ID for the lock to be overridden with generation ID in the backend.",
          "format": "int64"
        },
        "version": {
          "type": "string",
          "description": "Terraform version"
        },
        "createTime": {
          "description": "Time that the lock was taken.",
          "format": "google-datetime",
          "type": "string"
        },
        "who": {
          "type": "string",
          "description": "user@hostname when available"
        },
        "info": {
          "description": "Extra information to store with the lock, provided by the caller.",
          "type": "string"
        },
        "operation": {
          "type": "string",
          "description": "Terraform operation, provided by the caller."
        }
      },
      "id": "LockInfo"
    },
    "ListTerraformVersionsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token to be supplied to the next ListTerraformVersions request via `page_token` to obtain the next set of results.",
          "type": "string"
        },
        "terraformVersions": {
          "items": {
            "$ref": "TerraformVersion"
          },
          "type": "array",
          "description": "List of TerraformVersions."
        },
        "unreachable": {
          "description": "Unreachable resources, if any.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListTerraformVersionsResponse",
      "description": "The response message for the `ListTerraformVersions` method."
    },
    "SetIamPolicyRequest": {
      "id": "SetIamPolicyRequest",
      "type": "object",
      "properties": {
        "updateMask": {
          "type": "string",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "format": "google-fieldmask"
        },
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        }
      },
      "description": "Request message for `SetIamPolicy` method."
    },
    "GitSource": {
      "description": "A set of files in a Git repository.",
      "properties": {
        "directory": {
          "type": "string",
          "description": "Subdirectory inside the repository. Example: 'staging/my-package'"
        },
        "repo": {
          "type": "string",
          "description": "Repository URL. Example: 'https://github.com/kubernetes/examples.git'"
        },
        "ref": {
          "type": "string",
          "description": "Git reference (e.g. branch or tag)."
        }
      },
      "id": "GitSource",
      "type": "object"
    },
    "AutoMigrationConfig": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The name of the AutoMigrationConfig. Format: 'projects/{project_id}/locations/{location}/AutoMigrationConfig'.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time the AutoMigrationConfig was last updated.",
          "readOnly": true
        },
        "autoMigrationEnabled": {
          "type": "boolean",
          "description": "Optional. Whether the auto migration is enabled for the project."
        }
      },
      "description": "AutoMigrationConfig contains the automigration configuration for a project.",
      "id": "AutoMigrationConfig"
    },
    "Revision": {
      "type": "object",
      "description": "A child resource of a Deployment generated by a 'CreateDeployment' or 'UpdateDeployment' call. Each Revision contains metadata pertaining to a snapshot of a particular Deployment.",
      "properties": {
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "The revision is being applied.",
            "The revision was applied successfully.",
            "The revision could not be applied successfully."
          ],
          "description": "Output only. Current state of the revision.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "APPLYING",
            "APPLIED",
            "FAILED"
          ]
        },
        "tfVersionConstraint": {
          "readOnly": true,
          "description": "Output only. The user-specified Terraform version constraint. Example: \"=1.3.10\".",
          "type": "string"
        },
        "logs": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Location of Revision operation logs in `gs://{bucket}/{object}` format."
        },
        "providerConfig": {
          "description": "Output only. This field specifies the provider configurations.",
          "readOnly": true,
          "$ref": "ProviderConfig"
        },
        "terraformBlueprint": {
          "$ref": "TerraformBlueprint",
          "description": "Output only. A blueprint described using Terraform's HashiCorp Configuration Language as a root module.",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Time when the revision was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "errorCode": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "CLOUD_BUILD_PERMISSION_DENIED",
            "APPLY_BUILD_API_FAILED",
            "APPLY_BUILD_RUN_FAILED",
            "QUOTA_VALIDATION_FAILED",
            "EXTERNAL_VALUE_SOURCE_IMPORT_FAILED"
          ],
          "description": "Output only. Code describing any errors that may have occurred.",
          "enumDescriptions": [
            "No error code was specified.",
            "Cloud Build failed due to a permission issue.",
            "Cloud Build job associated with creating or updating a deployment could not be started.",
            "Cloud Build job associated with creating or updating a deployment was started but failed.",
            "quota validation failed for one or more resources in terraform configuration files.",
            "Failed to import values from an external source."
          ]
        },
        "tfVersion": {
          "type": "string",
          "description": "Output only. The version of Terraform used to create the Revision. It is in the format of \"Major.Minor.Patch\", for example, \"1.3.10\".",
          "readOnly": true
        },
        "importExistingResources": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. By default, Infra Manager will return a failure when Terraform encounters a 409 code (resource conflict error) during actuation. If this flag is set to true, Infra Manager will instead attempt to automatically import the resource into the Terraform state (for supported resource types) and continue actuation. Not all resource types are supported, refer to documentation."
        },
        "stateDetail": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Additional info regarding the current state."
        },
        "action": {
          "type": "string",
          "enum": [
            "ACTION_UNSPECIFIED",
            "CREATE",
            "UPDATE",
            "DELETE"
[...]
