{
  "ownerDomain": "google.com",
  "title": "Infrastructure Manager API",
  "version_module": true,
  "kind": "discovery#restDescription",
  "revision": "20260909",
  "description": "Creates and manages Google Cloud Platform resources and infrastructure.",
  "baseUrl": "https://config.googleapis.com/",
  "canonicalName": "Config",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "name": "config",
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "rootUrl": "https://config.googleapis.com/",
  "id": "config:v1",
  "protocol": "rest",
  "mtlsRootUrl": "https://config.mtls.googleapis.com/",
  "schemas": {
    "Expr": {
      "properties": {
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        }
      },
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "id": "Expr",
      "type": "object"
    },
    "PreviewOperationMetadata": {
      "properties": {
        "step": {
          "type": "string",
          "description": "The current step the preview operation is running.",
          "enumDescriptions": [
            "Unspecified preview step.",
            "Infra Manager is creating a Google Cloud Storage bucket to store artifacts and metadata about the preview.",
            "Downloading the blueprint onto the Google Cloud Storage bucket.",
            "Initializing Terraform using `terraform init`.",
            "Running `terraform plan`.",
            "Fetching a deployment.",
            "Locking a deployment.",
            "Unlocking a deployment.",
            "Operation was successful.",
            "Operation failed.",
            "Validating the provided repository."
          ],
          "enum": [
            "PREVIEW_STEP_UNSPECIFIED",
            "PREPARING_STORAGE_BUCKET",
            "DOWNLOADING_BLUEPRINT",
            "RUNNING_TF_INIT",
            "RUNNING_TF_PLAN",
            "FETCHING_DEPLOYMENT",
            "LOCKING_DEPLOYMENT",
            "UNLOCKING_DEPLOYMENT",
            "SUCCEEDED",
            "FAILED",
            "VALIDATING_REPOSITORY"
          ]
        },
        "previewArtifacts": {
          "$ref": "PreviewArtifacts",
          "description": "Artifacts from preview."
        },
        "build": {
          "readOnly": true,
          "description": "Output only. Cloud Build instance UUID associated with this preview.",
          "type": "string"
        },
        "logs": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Location of preview logs in `gs://{bucket}/{object}` format."
        }
      },
      "type": "object",
      "description": "Ephemeral metadata content describing the state of a preview operation.",
      "id": "PreviewOperationMetadata"
    },
    "ListResourcesResponse": {
      "id": "ListResourcesResponse",
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to request the next page of resources from the 'ListResources' method. The value of an empty string means that there are no more resources to return.",
          "type": "string"
        },
        "resources": {
          "type": "array",
          "description": "List of Resources.",
          "items": {
            "$ref": "Resource"
          }
        }
      },
      "description": "A response to a 'ListResources' call. Contains a list of Resources."
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "id": "ListLocationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        }
      }
    },
    "ListDeploymentGroupsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Token to be supplied to the next ListDeploymentGroups request via `page_token` to obtain the next set of results.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "deploymentGroups": {
          "description": "The deployment groups from the specified collection.",
          "type": "array",
          "items": {
            "$ref": "DeploymentGroup"
          }
        }
      },
      "id": "ListDeploymentGroupsResponse",
      "type": "object",
      "description": "The response message for the ListDeploymentGroups method."
    },
    "ListPreviewsResponse": {
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to be supplied to the next ListPreviews request via `page_token` to obtain the next set of results."
        },
        "previews": {
          "description": "List of Previews.",
          "type": "array",
          "items": {
            "$ref": "Preview"
          }
        }
      },
      "description": "A response to a `ListPreviews` call. Contains a list of Previews.",
      "id": "ListPreviewsResponse",
      "type": "object"
    },
    "TerraformOutput": {
      "description": "Describes a Terraform output.",
      "type": "object",
      "id": "TerraformOutput",
      "properties": {
        "sensitive": {
          "description": "Identifies whether Terraform has set this output as a potential sensitive value.",
          "type": "boolean"
        },
        "value": {
          "type": "any",
          "description": "Value of output."
        }
      }
    },
    "ApplyResults": {
      "properties": {
        "outputs": {
          "description": "Map of output name to output info.",
          "additionalProperties": {
            "$ref": "TerraformOutput"
          },
          "type": "object"
        },
        "artifacts": {
          "description": "Location of artifacts (e.g. logs) in Google Cloud Storage. Format: `gs://{bucket}/{object}`",
          "type": "string"
        },
        "content": {
          "type": "string",
          "description": "Location of a blueprint copy and other manifests in Google Cloud Storage. Format: `gs://{bucket}/{object}`"
        }
      },
      "id": "ApplyResults",
      "description": "Outputs and artifacts from applying a deployment.",
      "type": "object"
    },
    "Status": {
      "id": "Status",
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array"
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      }
    },
    "DeploymentUnit": {
      "id": "DeploymentUnit",
      "description": "A DeploymentUnit is a container for a deployment and its dependencies. An existing deployment can be provided directly in the unit, or the unit can act as a placeholder to define the DAG, with the deployment specs supplied in a `provisionDeploymentRequest`.",
      "properties": {
        "id": {
          "description": "The id of the deployment unit. Must be unique within the deployment group.",
          "type": "string"
        },
        "deployment": {
          "description": "Optional. The name of the deployment to be provisioned. Format: 'projects/{project_id}/locations/{location}/deployments/{deployment}'.",
          "type": "string"
        },
        "dependencies": {
          "description": "Required. The IDs of the deployment units within the deployment group that this unit depends on.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ListDeploymentsResponse": {
      "id": "ListDeploymentsResponse",
      "type": "object",
      "properties": {
        "deployments": {
          "description": "List of Deployments.",
          "items": {
            "$ref": "Deployment"
          },
          "type": "array"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "description": "Token to be supplied to the next ListDeployments request via `page_token` to obtain the next set of results.",
          "type": "string"
        }
      }
    },
    "DeploymentOperationMetadata": {
      "id": "DeploymentOperationMetadata",
      "type": "object",
      "properties": {
        "logs": {
          "description": "Output only. Location of Deployment operations logs in `gs://{bucket}/{object}` format.",
          "type": "string",
          "readOnly": true
        },
        "step": {
          "enum": [
            "DEPLOYMENT_STEP_UNSPECIFIED",
            "PREPARING_STORAGE_BUCKET",
            "DOWNLOADING_BLUEPRINT",
            "RUNNING_TF_INIT",
            "RUNNING_TF_PLAN",
            "RUNNING_TF_APPLY",
            "RUNNING_TF_DESTROY",
            "RUNNING_TF_VALIDATE",
            "UNLOCKING_DEPLOYMENT",
            "SUCCEEDED",
            "FAILED",
            "VALIDATING_REPOSITORY",
            "RUNNING_QUOTA_VALIDATION"
          ],
          "description": "The current step the deployment operation is running.",
          "enumDescriptions": [
            "Unspecified deployment step",
            "Infra Manager is creating a Google Cloud Storage bucket to store artifacts and metadata about the deployment and revision",
            "Downloading the blueprint onto the Google Cloud Storage bucket",
            "Initializing Terraform using `terraform init`",
            "Running `terraform plan`",
            "Actuating resources using Terraform using `terraform apply`",
            "Destroying resources using Terraform using `terraform destroy`",
            "Validating the uploaded TF state file when unlocking a deployment",
            "Unlocking a deployment",
            "Operation was successful",
            "Operation failed",
            "Validating the provided repository.",
            "Running quota validation"
          ],
          "type": "string"
        },
        "applyResults": {
          "$ref": "ApplyResults",
          "description": "Outputs and artifacts from applying a deployment."
        },
        "build": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Cloud Build instance UUID associated with this operation."
        },
        "applyResultsAvailable": {
          "description": "Output only. Indicating if early apply results are available.",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "description": "Ephemeral metadata content describing the state of a deployment operation."
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "Empty",
      "properties": {}
    },
    "ProviderConfig": {
      "properties": {
        "sourceType": {
          "description": "Optional. ProviderSource specifies the source type of the provider.",
          "enum": [
            "PROVIDER_SOURCE_UNSPECIFIED",
            "SERVICE_MAINTAINED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified source type, default to public sources.",
            "Service maintained provider source type."
          ]
        }
      },
      "type": "object",
      "id": "ProviderConfig",
      "description": "ProviderConfig contains the provider configurations."
    },
    "ResourceTerraformInfo": {
      "properties": {
        "id": {
          "type": "string",
          "description": "ID attribute of the TF resource"
        },
        "type": {
          "type": "string",
          "description": "TF resource type"
        },
        "address": {
          "type": "string",
          "description": "TF resource address that uniquely identifies this resource within this deployment."
        }
      },
      "id": "ResourceTerraformInfo",
      "description": "Terraform info of a Resource.",
      "type": "object"
    },
    "ResourceChangeTerraformInfo": {
      "description": "Terraform info of a ResourceChange.",
      "id": "ResourceChangeTerraformInfo",
      "type": "object",
      "properties": {
        "actions": {
          "description": "Output only. TF resource actions.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "resourceName": {
          "description": "Output only. TF resource name.",
          "type": "string",
          "readOnly": true
        },
        "provider": {
          "description": "Output only. TF resource provider.",
          "readOnly": true,
          "type": "string"
        },
        "address": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. TF resource address that uniquely identifies the resource."
        },
        "type": {
          "type": "string",
          "description": "Output only. TF resource type.",
          "readOnly": true
        }
      }
    },
    "PropertyChange": {
      "description": "A property change represents a change to a property in the state file.",
      "id": "PropertyChange",
      "type": "object",
      "properties": {
        "afterSensitivePaths": {
          "description": "Output only. The paths of sensitive fields in `after`. Paths are relative to `path`.",
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true
        },
        "after": {
          "readOnly": true,
          "description": "Output only. Representations of the object value after the actions.",
          "type": "any"
        },
        "beforeSensitivePaths": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. The paths of sensitive fields in `before`. Paths are relative to `path`.",
          "type": "array"
        },
        "path": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The path of the property change."
        },
        "before": {
          "type": "any",
          "readOnly": true,
          "description": "Output only. Representations of the object value before the actions."
        }
      }
    },
    "TestIamPermissionsResponse": {
      "description": "Response message for `TestIamPermissions` method.",
      "type": "object",
      "id": "TestIamPermissionsResponse",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
        }
      }
    },
    "GitSource": {
      "properties": {
        "directory": {
          "description": "Subdirectory inside the repository. Example: 'staging/my-package'",
          "type": "string"
        },
        "ref": {
          "type": "string",
          "description": "Git reference (e.g. branch or tag)."
        },
        "repo": {
          "description": "Repository URL. Example: 'https://github.com/kubernetes/examples.git'",
          "type": "string"
        }
      },
      "id": "GitSource",
      "type": "object",
      "description": "A set of files in a Git repository."
    },
    "ResourceChange": {
      "description": "A resource change represents a change to a resource in the state file.",
      "properties": {
        "intent": {
          "description": "Output only. The intent of the resource change.",
          "readOnly": true,
          "enumDescriptions": [
            "The default value.",
            "The resource will be created.",
            "The resource will be updated.",
            "The resource will be deleted.",
            "The resource will be recreated.",
            "The resource will be untouched."
          ],
          "type": "string",
          "enum": [
            "INTENT_UNSPECIFIED",
            "CREATE",
            "UPDATE",
            "DELETE",
            "RECREATE",
            "UNCHANGED"
          ]
        },
        "terraformInfo": {
          "$ref": "ResourceChangeTerraformInfo",
          "description": "Output only. Terraform info of the resource change.",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The name of the resource change. Format: 'projects/{project_id}/locations/{location}/previews/{preview}/resourceChanges/{resource_change}'.",
          "type": "string"
        },
        "propertyChanges": {
          "readOnly": true,
          "description": "Output only. The property changes of the resource change.",
          "type": "array",
          "items": {
            "$ref": "PropertyChange"
          }
        }
      },
      "type": "object",
      "id": "ResourceChange"
    },
    "Deployment": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. Resource name of the deployment. Format: `projects/{project}/locations/{location}/deployments/{deployment}`",
          "type": "string"
        },
        "deleteLogs": {
          "description": "Output only. Location of Cloud Build logs in Google Cloud Storage, populated when deleting this deployment. Format: `gs://{bucket}/{object}`.",
          "readOnly": true,
          "type": "string"
        },
        "serviceAccount": {
          "type": "string",
          "description": "Required. User-specified Service Account (SA) credentials to be used when actuating resources. Format: `projects/{projectID}/serviceAccounts/{serviceAccount}`"
        },
        "labels": {
          "description": "Optional. User-defined metadata for the deployment.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "tfErrors": {
          "items": {
            "$ref": "TerraformError"
          },
          "description": "Output only. Errors encountered when deleting this deployment. Errors are truncated to 10 entries, see `delete_results` and `error_logs` for full details.",
          "readOnly": true,
          "type": "array"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time when the deployment was last modified.",
          "format": "google-datetime"
        },
        "artifactsGcsBucket": {
          "type": "string",
          "description": "User-defined location of Cloud Build logs and artifacts in Google Cloud Storage. Format: `gs://{bucket}/{folder}` A default bucket will be bootstrapped if the field is not set or empty. Default bucket format: `gs://--blueprint-config` Constraints: - The bucket needs to be in the same project as the deployment - The path cannot be within the path of `gcs_source` - The field cannot be updated, including changing its presence"
        },
        "deleteBuild": {
          "description": "Output only. Cloud Build instance UUID associated with deleting this deployment.",
          "readOnly": true,
          "type": "string"
        },
        "annotations": {
          "description": "Optional. Arbitrary key-value metadata storage e.g. to help client tools identify deployments during automation. See https://google.aip.dev/148#annotations for details on format and size limitations.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "workerPool": {
          "type": "string",
          "description": "The user-specified Cloud Build worker pool resource in which the Cloud Build job will execute. Format: `projects/{project}/locations/{location}/workerPools/{workerPoolId}`. If this field is unspecified, the default Cloud Build worker pool will be used."
        },
        "errorLogs": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Location of Terraform error logs in Google Cloud Storage. Format: `gs://{bucket}/{object}`."
        },
        "providerConfig": {
          "$ref": "ProviderConfig",
          "description": "Optional. This field specifies the provider configurations."
        },
        "tfVersionConstraint": {
          "description": "The user-specified Terraform version constraint. Example: \"=1.3.10\".",
          "type": "string"
        },
        "stateDetail": {
          "description": "Output only. Additional information regarding the current state.",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "The deployment is being created.",
            "The deployment is healthy.",
            "The deployment is being updated.",
            "The deployment is being deleted.",
            "The deployment has encountered an unexpected error.",
            "The deployment is no longer being actively reconciled. This may be the result of recovering the project after deletion.",
            "The deployment has been deleted."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "UPDATING",
            "DELETING",
            "FAILED",
            "SUSPENDED",
            "DELETED"
          ],
          "description": "Output only. Current state of the deployment.",
          "type": "string"
        },
        "deleteResults": {
          "$ref": "ApplyResults",
          "readOnly": true,
          "description": "Output only. Location of artifacts from a DeleteDeployment operation."
        },
        "lockState": {
          "enumDescriptions": [
            "The default value. This value is used if the lock state is omitted.",
            "The deployment is locked.",
            "The deployment is unlocked.",
            "The deployment is being locked.",
            "The deployment is being unlocked.",
            "The deployment has failed to lock.",
            "The deployment has failed to unlock."
          ],
          "description": "Output only. Current lock state of the deployment.",
          "enum": [
            "LOCK_STATE_UNSPECIFIED",
            "LOCKED",
            "UNLOCKED",
            "LOCKING",
            "UNLOCKING",
            "LOCK_FAILED",
            "UNLOCK_FAILED"
          ],
          "readOnly": true,
          "type": "string"
        },
        "errorCode": {
          "type": "string",
          "enumDescriptions": [
            "No error code was specified.",
            "The revision failed. See Revision for more details.",
            "Cloud Build failed due to a permission issue.",
            "Cloud Build job associated with a deployment deletion could not be started.",
            "Cloud Build job associated with a deployment deletion was started but failed.",
            "Cloud Storage bucket creation failed due to a permission issue.",
            "Cloud Storage bucket creation failed due to an issue unrelated to permissions.",
            "Failed to import values from an external source."
          ],
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "REVISION_FAILED",
            "CLOUD_BUILD_PERMISSION_DENIED",
            "DELETE_BUILD_API_FAILED",
            "DELETE_BUILD_RUN_FAILED",
            "BUCKET_CREATION_PERMISSION_DENIED",
            "BUCKET_CREATION_FAILED",
            "EXTERNAL_VALUE_SOURCE_IMPORT_FAILED"
          ],
          "description": "Output only. Error code describing errors that may have occurred.",
          "readOnly": true
        },
        "tfVersion": {
          "readOnly": true,
          "description": "Output only. The current Terraform version set on the deployment. It is in the format of \"Major.Minor.Patch\", for example, \"1.3.10\".",
          "type": "string"
        },
        "latestRevision": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Revision name that was most recently applied. Format: `projects/{project}/locations/{location}/deployments/{deployment}/ revisions/{revision}`"
        },
        "terraformBlueprint": {
          "$ref": "TerraformBlueprint",
          "description": "A blueprint described using Terraform's HashiCorp Configuration Language as a root module."
        },
        "importExistingResources": {
          "description": "By default, Infra Manager will return a failure when Terraform encounters a 409 code (resource conflict error) during actuation. If this flag is set to true, Infra Manager will instead attempt to automatically import the resource into the Terraform state (for supported resource types) and continue actuation. Not all resource types are supported, refer to documentation.",
          "type": "boolean"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Time when the deployment was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "quotaValidation": {
          "enum": [
            "QUOTA_VALIDATION_UNSPECIFIED",
            "ENABLED",
            "ENFORCED"
          ],
          "enumDescriptions": [
            "The default value. QuotaValidation on terraform configuration files will be disabled in this case.",
            "Enable computing quotas for resources in terraform configuration files to get visibility on resources with insufficient quotas.",
            "Enforce quota checks so deployment fails if there isn't sufficient quotas available to deploy resources in terraform configuration files."
          ],
          "description": "Optional. Input to control quota checks for resources in terraform configuration files. There are limited resources on which quota validation applies.",
          "type": "string"
        }
      },
      "id": "Deployment",
      "description": "A Deployment is a group of resources and configs managed and provisioned by Infra Manager."
    },
    "DeploymentSource": {
      "type": "object",
      "id": "DeploymentSource",
      "properties": {
        "deployment": {
          "description": "Required. The resource name of the source Deployment to import the output from. Format: projects/{project}/locations/{location}/deployments/{deployment} The source deployment must be in the same project and location.",
          "type": "string"
        },
        "outputName": {
          "description": "Required. The name of the output variable in the source deployment's latest successfully applied revision.",
          "type": "string"
        }
      },
      "description": "Configuration for a value sourced from a Deployment."
    },
    "LockInfo": {
      "type": "object",
      "description": "Details about the lock which locked the deployment.",
      "id": "LockInfo",
      "properties": {
        "lockId": {
          "format": "int64",
          "description": "Unique ID for the lock to be overridden with generation ID in the backend.",
          "type": "string"
        },
        "version": {
          "description": "Terraform version",
          "type": "string"
        },
        "who": {
          "description": "user@hostname when available",
          "type": "string"
        },
        "info": {
          "description": "Extra information to store with the lock, provided by the caller.",
          "type": "string"
        },
        "operation": {
          "description": "Terraform operation, provided by the caller.",
          "type": "string"
        },
        "createTime": {
          "description": "Time that the lock was taken.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "TestIamPermissionsRequest": {
      "properties": {
        "permissions": {
          "type": "array",
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "TestIamPermissionsRequest",
      "description": "Request message for `TestIamPermissions` method.",
      "type": "object"
    },
    "Statefile": {
      "properties": {
        "signedUri": {
          "description": "Output only. Cloud Storage signed URI used for downloading or uploading the state file.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "description": "Contains info about a Terraform state file",
      "id": "Statefile"
    },
    "ImportStatefileRequest": {
      "id": "ImportStatefileRequest",
      "description": "A request to import a state file passed to a 'ImportStatefile' call.",
      "properties": {
        "lockId": {
          "description": "Required. Lock ID of the lock file to verify that the user who is importing the state file previously locked the Deployment.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DeprovisionDeploymentGroupRequest": {
      "type": "object",
      "description": "The request message for the DeprovisionDeploymentGroup method.",
      "id": "DeprovisionDeploymentGroupRequest",
      "properties": {
        "deletePolicy": {
          "enumDescriptions": [
            "Unspecified policy, resources will be deleted.",
            "Deletes resources actuated by the deployment.",
            "Abandons resources and only deletes the deployment and its metadata."
          ],
          "enum": [
            "DELETE_POLICY_UNSPECIFIED",
            "DELETE",
            "ABANDON"
          ],
          "type": "string",
          "description": "Optional. Policy on how resources within each deployment should be handled during deletion. This policy is applied globally to the deletion of all deployments in this group. This corresponds to the 'delete_policy' field in DeleteDeploymentRequest."
        },
        "force": {
          "type": "boolean",
          "description": "Optional. If set to true, this option is propagated to the deletion of each deployment in the group. This corresponds to the 'force' field in DeleteDeploymentRequest."
        }
      }
    },
    "TerraformError": {
      "properties": {
        "errorDescription": {
          "description": "A human-readable error description.",
          "type": "string"
        },
        "error": {
          "readOnly": true,
          "$ref": "Status",
          "description": "Output only. Original error response from underlying Google API, if available."
        },
        "resourceAddress": {
          "description": "Address of the resource associated with the error, e.g. `google_compute_network.vpc_network`.",
          "type": "string"
        },
        "httpResponseCode": {
          "description": "HTTP response code returned from Google Cloud Platform APIs when Terraform fails to provision the resource. If unset or 0, no HTTP response code was returned by Terraform.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Errors encountered during actuation using Terraform",
      "type": "object",
      "id": "TerraformError"
    },
    "ResourceDriftTerraformInfo": {
      "properties": {
        "address": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The address of the drifted resource."
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The type of the drifted resource."
        },
        "provider": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The provider of the drifted resource."
        },
        "resourceName": {
          "description": "Output only. TF resource name.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "ResourceDriftTerraformInfo",
      "description": "Terraform info of a ResourceChange.",
      "type": "object"
    },
    "Resource": {
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name. Format: `projects/{project}/locations/{location}/deployments/{deployment}/revisions/{revision}/resources/{resource}`",
          "type": "string"
        },
        "intent": {
          "description": "Output only. Intent of the resource.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The default value. This value is used if the intent is omitted.",
            "Infra Manager will create this Resource.",
            "Infra Manager will update this Resource.",
            "Infra Manager will delete this Resource.",
            "Infra Manager will destroy and recreate this Resource.",
            "Infra Manager will leave this Resource untouched."
          ],
          "enum": [
            "INTENT_UNSPECIFIED",
            "CREATE",
            "UPDATE",
            "DELETE",
            "RECREATE",
            "UNCHANGED"
          ]
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "Resource has been planned for reconcile.",
            "Resource is actively reconciling into the intended state.",
            "Resource has reconciled to intended state.",
            "Resource failed to reconcile."
          ],
          "description": "Output only. Current state of the resource.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PLANNED",
            "IN_PROGRESS",
            "RECONCILED",
            "FAILED"
          ],
          "type": "string"
        },
        "terraformInfo": {
          "readOnly": true,
          "description": "Output only. Terraform-specific info if this resource was created using Terraform.",
          "$ref": "ResourceTerraformInfo"
        },
        "caiAssets": {
          "readOnly": true,
          "description": "Output only. Map of Cloud Asset Inventory (CAI) type to CAI info (e.g. CAI ID). CAI type format follows https://cloud.google.com/asset-inventory/docs/supported-asset-types",
          "additionalProperties": {
            "$ref": "ResourceCAIInfo"
          },
          "type": "object"
        }
      },
      "id": "Resource",
      "description": "Resource represents a Google Cloud Platform resource actuated by IM. Resources are child resources of Revisions."
    },
    "DeploymentGroupRevision": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The name of the deployment group revision. Format: 'projects/{project_id}/locations/{location}/deploymentGroups/{deployment_group}/revisions/{revision}'."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time when the deployment group revision was created."
        },
        "alternativeIds": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. The alternative IDs of the deployment group revision.",
          "type": "array"
        },
        "snapshot": {
          "$ref": "DeploymentGroup",
          "description": "Output only. The snapshot of the deployment group at this revision.",
          "readOnly": true
        }
      },
      "id": "DeploymentGroupRevision",
      "description": "A DeploymentGroupRevision represents a snapshot of a DeploymentGroup at a given point in time, created when a DeploymentGroup is provisioned or deprovisioned.",
      "type": "object"
    },
    "Preview": {
      "type": "object",
      "id": "Preview",
      "description": "A preview represents a set of actions Infra Manager would perform to move the resources towards the desired state as specified in the configuration.",
      "properties": {
        "terraformBlueprint": {
          "$ref": "TerraformBlueprint",
          "description": "The terraform blueprint to preview."
        },
        "build": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Cloud Build instance UUID associated with this preview."
        },
        "errorCode": {
          "description": "Output only. Code describing any errors that may have occurred.",
          "type": "string",
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "CLOUD_BUILD_PERMISSION_DENIED",
            "BUCKET_CREATION_PERMISSION_DENIED",
            "BUCKET_CREATION_FAILED",
            "DEPLOYMENT_LOCK_ACQUIRE_FAILED",
            "PREVIEW_BUILD_API_FAILED",
            "PREVIEW_BUILD_RUN_FAILED",
            "EXTERNAL_VALUE_SOURCE_IMPORT_FAILED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "No error code was specified.",
            "Cloud Build failed due to a permissions issue.",
            "Cloud Storage bucket failed to create due to a permissions issue.",
            "Cloud Storage bucket failed for a non-permissions-related issue.",
            "Acquiring lock on provided deployment reference failed.",
            "Preview encountered an error when trying to access Cloud Build API.",
            "Preview created a build but build failed and logs were generated.",
            "Failed to import values from an external source."
          ]
        },
        "tfVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The current Terraform version set on the preview. It is in the format of \"Major.Minor.Patch\", for example, \"1.3.10\"."
        },
        "providerConfig": {
          "description": "Optional. This field specifies the provider configurations.",
          "$ref": "ProviderConfig"
        },
        "errorStatus": {
          "description": "Output only. Additional information regarding the current state.",
          "readOnly": true,
          "$ref": "Status"
        },
        "createTime": {
          "description": "Output only. Time the preview was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "previewMode": {
          "enum": [
            "PREVIEW_MODE_UNSPECIFIED",
            "DEFAULT",
            "DELETE"
          ],
          "enumDescriptions": [
            "Unspecified policy, default mode will be used.",
            "DEFAULT mode generates an execution plan for reconciling current resource state into expected resource state.",
            "DELETE mode generates as execution plan for destroying current resources."
          ],
          "type": "string",
          "description": "Optional. Current mode of preview."
        },
        "tfErrors": {
          "description": "Output only. Summary of errors encountered during Terraform preview. It has a size limit of 10, i.e. only top 10 errors will be summarized here.",
          "items": {
            "$ref": "TerraformError"
          },
          "type": "array",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. Resource name of the preview. Resource name can be user provided or server generated ID if unspecified. Format: `projects/{project}/locations/{location}/previews/{preview}`",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. User-defined labels for the preview."
        },
        "serviceAccount": {
          "type": "string",
          "description": "Required. User-specified Service Account (SA) credentials to be used when previewing resources. Format: `projects/{projectID}/serviceAccounts/{serviceAccount}`"
        },
        "logs": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Location of preview logs in `gs://{bucket}/{object}` format."
        },
        "annotations": {
          "description": "Optional. Arbitrary key-value metadata storage e.g. to help client tools identify preview during automation. See https://google.aip.dev/148#annotations for details on format and size limitations.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "deployment": {
          "description": "Optional. Deployment reference. If specified, the preview will be performed using the provided deployment's current state and use any relevant fields from the deployment unless explicitly specified in the preview create request.",
          "type": "string"
        },
        "previewArtifacts": {
          "$ref": "PreviewArtifacts",
          "description": "Output only. Artifacts from preview.",
          "readOnly": true
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "SUCCEEDED",
            "APPLYING",
            "STALE",
            "DELETING",
            "FAILED",
            "DELETED"
          ],
          "readOnly": true,
          "description": "Output only. Current state of the preview.",
          "type": "string",
          "enumDescriptions": [
            "The default value. This value is used if the state is unknown.",
            "The preview is being created.",
            "The preview has succeeded.",
            "The preview is being applied.",
            "The preview is stale. A preview can become stale if a revision has been applied after this preview was created.",
            "The preview is being deleted.",
            "The preview has encountered an unexpected error.",
            "The preview has been deleted."
          ]
        },
        "errorLogs": {
          "description": "Output only. Link to tf-error.ndjson file, which contains the full list of the errors encountered during a Terraform preview. Format: `gs://{bucket}/{object}`.",
          "type": "string",
          "readOnly": true
        },
        "tfVersionConstraint": {
          "description": "The user-specified Terraform version constraint. Example: \"=1.3.10\".",
          "type": "string"
        },
        "artifactsGcsBucket": {
          "description": "User-defined location of Cloud Build logs, artifacts, and in Google Cloud Storage. Format: `gs://{bucket}/{folder}` A default bucket will be bootstrapped if the field is not set or empty Default Bucket Format: `gs://--blueprint-config` Constraints: - The bucket needs to be in the same project as the deployment - The path cannot be within the path of `gcs_source` If omitted and deployment resource ref provided has artifacts_gcs_bucket defined, that artifact bucket is used.",
          "type": "string"
        },
        "workerPool": {
          "description": "The user-specified Worker Pool resource in which the Cloud Build job will execute. Format projects/{project}/locations/{location}/workerPools/{workerPoolId} If this field is unspecified, the default Cloud Build worker pool will be used. If omitted and deployment resource ref provided has worker_pool defined, that worker pool is used.",
          "type": "string"
        }
      }
    },
    "ExportDeploymentStatefileRequest": {
      "description": "A request to export a state file passed to a 'ExportDeploymentStatefile' call.",
      "type": "object",
      "id": "ExportDeploymentStatefileRequest",
      "properties": {
        "draft": {
          "type": "boolean",
          "description": "Optional. If this flag is set to true, the exported deployment state file will be the draft state. This will enable the draft file to be validated before copying it over to the working state on unlock."
        }
      }
    },
    "PreviewResult": {
      "id": "PreviewResult",
      "type": "object",
      "properties": {
        "binarySignedUri": {
          "description": "Output only. Plan binary signed URL",
          "readOnly": true,
          "type": "string"
        },
        "jsonSignedUri": {
          "description": "Output only. Plan JSON signed URL",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Contains a signed Cloud Storage URLs."
    },
    "UnlockDeploymentRequest": {
      "description": "A request to unlock a state file passed to a 'UnlockDeployment' call.",
      "id": "UnlockDeploymentRequest",
      "type": "object",
      "properties": {
        "lockId": {
          "type": "string",
          "description": "Required. Lock ID of the lock file to be unlocked.",
          "format": "int64"
        }
      }
    },
    "DeploymentOperationSummary": {
      "id": "DeploymentOperationSummary",
      "type": "object",
      "description": "The summary of the deployment operation.",
      "properties": {
        "artifacts": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Location of Deployment operations artifacts in `gs://{bucket}/{object}` format."
        },
        "deploymentStep": {
          "description": "Output only. The current step the deployment operation is running.",
          "enum": [
            "DEPLOYMENT_STEP_UNSPECIFIED",
            "PREPARING_STORAGE_BUCKET",
            "DOWNLOADING_BLUEPRINT",
            "RUNNING_TF_INIT",
            "RUNNING_TF_PLAN",
            "RUNNING_TF_APPLY",
            "RUNNING_TF_DESTROY",
            "RUNNING_TF_VALIDATE",
            "UNLOCKING_DEPLOYMENT",
            "SUCCEEDED",
            "FAILED",
            "VALIDATING_REPOSITORY",
            "RUNNING_QUOTA_VALIDATION"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified deployment step",
            "Infra Manager is creating a Google Cloud Storage bucket to store artifacts and metadata about the deployment and revision",
            "Downloading the blueprint onto the Google Cloud Storage bucket",
            "Initializing Terraform using `terraform init`",
            "Running `terraform plan`",
            "Actuating resources using Terraform using `terraform apply`",
            "Destroying resources using Terraform using `terraform destroy`",
            "Validating the uploaded TF state file when unlocking a deployment",
            "Unlocking a deployment",
            "Operation was successful",
            "Operation failed",
            "Validating the provided repository.",
            "Running quota validation"
          ]
        },
        "build": {
          "description": "Output only. Cloud Build instance UUID associated with this operation.",
          "readOnly": true,
          "type": "string"
        },
        "logs": {
          "description": "Output only. Location of Deployment operations logs in `gs://{bucket}/{object}` format.",
          "type": "string",
          "readOnly": true
        },
        "content": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Location of Deployment operations content in `gs://{bucket}/{object}` format."
        }
      }
    },
    "DeploymentGroup": {
      "properties": {
        "updateTime": {
          "description": "Output only. Time when the deployment group was last updated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "provisioningStateDescription": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Additional information regarding the current provisioning state."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "UPDATING",
            "DELETING",
            "FAILED",
            "SUSPENDED",
            "DELETED"
          ],
          "type": "string",
          "description": "Output only. Current state of the deployment group.",
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "The deployment group is being created.",
            "The deployment group is healthy.",
            "The deployment group is being updated.",
            "The deployment group is being deleted.",
            "The deployment group has encountered an unexpected error.",
            "The deployment group is no longer being actively reconciled. This may be the result of recovering the project after deletion.",
            "The deployment group has been deleted."
          ],
          "readOnly": true
        },
        "provisioningError": {
          "readOnly": true,
          "$ref": "Status",
          "description": "Output only. The error status of the deployment group provisioning or deprovisioning."
        },
        "deploymentUnits": {
          "description": "The deployment units of the deployment group in a DAG like structure. When a deployment group is being provisioned, the deployment units are deployed in a DAG order. The provided units must be in a DAG order, otherwise an error will be returned.",
          "type": "array",
          "items": {
            "$ref": "DeploymentUnit"
          }
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Arbitrary key-value metadata storage e.g. to help client tools identify deployment group during automation. See https://google.aip.dev/148#annotations for details on format and size limitations.",
          "type": "object"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time when the deployment group was created."
        },
        "provisioningState": {
          "description": "Output only. The provisioning state of the deployment group.",
          "enumDescriptions": [
            "Unspecified provisioning state.",
            "The deployment group is being provisioned.",
            "The deployment group is provisioned.",
            "The deployment group failed to be provisioned.",
            "The deployment group is being deprovisioned.",
            "The deployment group is deprovisioned.",
            "The deployment group failed to be deprovisioned."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "PROVISIONING_STATE_UNSPECIFIED",
            "PROVISIONING",
            "PROVISIONED",
            "FAILED_TO_PROVISION",
            "DEPROVISIONING",
            "DEPROVISIONED",
            "FAILED_TO_DEPROVISION"
          ]
        },
        "stateDescription": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Additional information regarding the current state."
        },
        "name": {
          "description": "Identifier. The name of the deployment group. Format: 'projects/{project_id}/locations/{location}/deploymentGroups/{deployment_group}'.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. User-defined metadata for the deployment group.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "id": "DeploymentGroup",
      "type": "object",
      "description": "A DeploymentGroup is a collection of DeploymentUnits that in a DAG-like structure."
    },
    "Revision": {
      "type": "object",
      "id": "Revision",
      "properties": {
        "importExistingResources": {
          "readOnly": true,
          "description": "Output only. By default, Infra Manager will return a failure when Terraform encounters a 409 code (resource conflict error) during actuation. If this flag is set to true, Infra Manager will instead attempt to automatically import the resource into the Terraform state (for supported resource types) and continue actuation. Not all resource types are supported, refer to documentation.",
          "type": "boolean"
        },
        "errorLogs": {
          "type": "string",
          "description": "Output only. Location of Terraform error logs in Google Cloud Storage. Format: `gs://{bucket}/{object}`.",
          "readOnly": true
        },
        "serviceAccount": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. User-specified Service Account (SA) to be used as credential to manage resources. Format: `projects/{projectID}/serviceAccounts/{serviceAccount}`"
        },
        "terraformBlueprint": {
          "readOnly": true,
          "$ref": "TerraformBlueprint",
          "description": "Output only. A blueprint described using Terraform's HashiCorp Configuration Language as a root module."
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Time when the revision was last modified.",
          "type": "string"
        },
        "workerPool": {
          "type": "string",
          "description": "Output only. The user-specified Cloud Build worker pool resource in which the Cloud Build job will execute. Format: `projects/{project}/locations/{location}/workerPools/{workerPoolId}`. If this field is unspecified, the default Cloud Build worker pool will be used.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Revision name. Format: `projects/{project}/locations/{location}/deployments/{deployment}/ revisions/{revision}`"
        },
        "stateDetail": {
          "description": "Output only. Additional info regarding the current state.",
          "readOnly": true,
          "type": "string"
        },
        "tfVersionConstraint": {
          "readOnly": true,
          "description": "Output only. The user-specified Terraform version constraint. Example: \"=1.3.10\".",
          "type": "string"
        },
        "quotaValidationResults": {
          "readOnly": true,
          "description": "Output only. Cloud Storage path containing quota validation results. This field is set when a user sets Deployment.quota_validation field to ENABLED or ENFORCED. Format: `gs://{bucket}/{object}`.",
          "type": "string"
        },
        "providerConfig": {
          "readOnly": true,
          "description": "Output only. This field specifies the provider configurations.",
          "$ref": "ProviderConfig"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Current state of the revision.",
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "The revision is being applied.",
            "The revision was applied successfully.",
            "The revision could not be applied successfully."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "APPLYING",
            "APPLIED",
            "FAILED"
          ]
        },
        "logs": {
          "type": "string",
          "description": "Output only. Location of Revision operation logs in `gs://{bucket}/{object}` format.",
          "readOnly": true
        },
        "tfErrors": {
          "readOnly": true,
          "items": {
            "$ref": "TerraformError"
          },
          "type": "array",
          "description": "Output only. Errors encountered when creating or updating this deployment. Errors are truncated to 10 entries, see `delete_results` and `error_logs` for full details."
        },
        "quotaValidation": {
          "enum": [
            "QUOTA_VALIDATION_UNSPECIFIED",
            "ENABLED",
            "ENFORCED"
          ],
          "description": "Optional. Input to control quota checks for resources in terraform configuration files. There are limited resources on which quota validation applies.",
          "type": "string",
          "enumDescriptions": [
            "The default value. QuotaValidation on terraform configuration files will be disabled in this case.",
            "Enable computing quotas for resources in terraform configuration files to get visibility on resources with insufficient quotas.",
            "Enforce quota checks so deployment fails if there isn't sufficient quotas available to deploy resources in terraform configuration files."
          ]
        },
        "errorCode": {
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "CLOUD_BUILD_PERMISSION_DENIED",
            "APPLY_BUILD_API_FAILED",
            "APPLY_BUILD_RUN_FAILED",
            "QUOTA_VALIDATION_FAILED",
            "EXTERNAL_VALUE_SOURCE_IMPORT_FAILED"
          ],
          "enumDescriptions": [
            "No error code was specified.",
            "Cloud Build failed due to a permission issue.",
            "Cloud Build job associated with creating or updating a deployment could not be started.",
            "Cloud Build job associated with creating or updating a deployment was started but failed.",
            "quota validation failed for one or more resources in terraform configuration files.",
            "Failed to import values from an external source."
          ],
          "description": "Output only. Code describing any errors that may have occurred.",
          "type": "string",
          "readOnly": true
        },
        "tfVersion": {
          "description": "Output only. The version of Terraform used to create the Revision. It is in the format of \"Major.Minor.Patch\", for example, \"1.3.10\".",
          "readOnly": true,
          "type": "string"
        },
        "applyResults": {
          "readOnly": true,
          "$ref": "ApplyResults",
          "description": "Output only. Outputs and artifacts from applying a deployment."
        },
        "build": {
          "type": "string",
          "description": "Output only. Cloud Build instance UUID associated with this revision.",
          "readOnly": true
        },
        "action": {
          "readOnly": true,
          "enum": [
            "ACTION_UNSPECIFIED",
            "CREATE",
            "UPDATE",
            "DELETE"
          ],
          "type": "string",
          "enumDescriptions": [
            "The default value. This value is used if the action is omitted.",
            "The revision was generated by creating a deployment.",
            "The revision was generated by updating a deployment.",
            "The revision was deleted."
          ],
          "description": "Output only. The action which created this revision"
        },
        "createTime": {
          "description": "Output only. Time when the revision was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "A child resource of a Deployment generated by a 'CreateDeployment' or 'UpdateDeployment' call. Each Revision contains metadata pertaining to a snapshot of a particular Deployment."
    },
    "ResourceCAIInfo": {
      "description": "CAI info of a Resource.",
      "properties": {
        "fullResourceName": {
          "description": "CAI resource name in the format following https://cloud.google.com/apis/design/resource_names#full_resource_name",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ResourceCAIInfo"
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "properties": {
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time when the operation was created.",
          "type": "string"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "type": "string",
          "readOnly": true
        },
        "target": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "deploymentMetadata": {
          "readOnly": true,
          "description": "Output only. Metadata about the deployment operation state.",
          "$ref": "DeploymentOperationMetadata"
        },
        "previewMetadata": {
          "$ref": "PreviewOperationMetadata",
          "description": "Output only. Metadata about the preview operation state.",
          "readOnly": true
        },
        "endTime": {
          "type": "string",
          "description": "Output only. Time when the operation finished running.",
          "format": "google-datetime",
          "readOnly": true
        },
        "requestedCancellation": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "provisionDeploymentGroupMetadata": {
          "description": "Output only. Metadata about ProvisionDeploymentGroup operation state.",
          "readOnly": true,
          "$ref": "ProvisionDeploymentGroupOperationMetadata"
        }
      }
    },
    "ExternalValueSource": {
      "type": "object",
      "description": "Configuration for a source of an external value.",
      "properties": {
        "deploymentSource": {
          "description": "A source from a Deployment.",
          "$ref": "DeploymentSource"
        }
      },
      "id": "ExternalValueSource"
    },
    "SetIamPolicyRequest": {
      "id": "SetIamPolicyRequest",
      "type": "object",
      "properties": {
        "updateMask": {
          "type": "string",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "format": "google-fieldmask"
        },
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        }
      },
      "description": "Request message for `SetIamPolicy` method."
    },
    "TerraformVersion": {
      "description": "A TerraformVersion represents the support state the corresponding Terraform version.",
      "properties": {
        "deprecateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. When the version is deprecated."
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DEPRECATED",
            "OBSOLETE"
          ],
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "The version is actively supported.",
            "The version is deprecated.",
            "The version is obsolete."
          ],
          "type": "string",
          "description": "Output only. The state of the version, ACTIVE, DEPRECATED or OBSOLETE."
        },
        "obsoleteTime": {
          "readOnly": true,
          "description": "Output only. When the version is obsolete.",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The version name is in the format: 'projects/{project_id}/locations/{location}/terraformVersions/{terraform_version}'."
        },
        "supportTime": {
          "description": "Output only. When the version is supported.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "TerraformVersion",
      "type": "object"
    },
    "ListResourceDriftsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token to request the next page of resources from the 'ListResourceDrifts' method. The value of an empty string means that there are no more resources to return.",
          "type": "string"
        },
        "resourceDrifts": {
          "description": "List of ResourceDrifts.",
          "type": "array",
          "items": {
            "$ref": "ResourceDrift"
          }
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unreachable resources, if any.",
          "type": "array"
        }
      },
      "id": "ListResourceDriftsResponse",
      "description": "A response to a 'ListResourceDrifts' call. Contains a list of ResourceDrifts."
    },
    "ListRevisionsResponse": {
      "description": "A response to a 'ListRevisions' call. Contains a list of Revisions.",
      "type": "object",
      "id": "ListRevisionsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token to request the next page of resources from the 'ListRevisions' method. The value of an empty string means that there are no more resources to return.",
          "type": "string"
        },
        "revisions": {
          "description": "List of Revisions.",
          "type": "array",
          "items": {
            "$ref": "Revision"
          }
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "DeploymentUnitProgress": {
      "type": "object",
      "description": "The progress of a deployment unit provisioning or deprovisioning.",
      "properties": {
        "intent": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "INTENT_UNSPECIFIED",
            "CREATE_DEPLOYMENT",
            "UPDATE_DEPLOYMENT",
            "DELETE_DEPLOYMENT",
            "RECREATE_DEPLOYMENT",
            "CLEAN_UP",
            "UNCHANGED"
          ],
          "description": "Output only. The intent of the deployment unit.",
          "enumDescriptions": [
            "Unspecified intent.",
            "Create deployment in the unit from the deployment spec.",
            "Update deployment in the unit.",
            "Delete deployment in the unit.",
            "Recreate deployment in the unit.",
            "Delete deployment in latest successful revision while no longer referenced in any deployment unit in the current deployment group.",
            "Expected to be unchanged."
          ]
        },
        "unitId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The unit id of the deployment unit to be provisioned."
        },
        "deploymentOperationSummary": {
          "readOnly": true,
          "$ref": "DeploymentOperationSummary",
          "description": "Output only. The summary of the deployment operation."
        },
        "stateDescription": {
          "type": "string",
          "description": "Output only. Additional information regarding the current state.",
          "readOnly": true
        },
        "deployment": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the deployment to be provisioned. Format: 'projects/{project}/locations/{location}/deployments/{deployment}'."
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "The default value. This value is unused.",
            "The deployment unit is queued for deployment creation or update.",
            "The underlying deployment of the unit is being created or updated.",
            "The underlying deployment operation of the unit has succeeded.",
            "The underlying deployment operation of the unit has failed.",
            "The deployment unit was aborted, likely due to failures in other dependent deployment units.",
            "The deployment unit was skipped because there were no changes to apply.",
            "The deployment is being deleted.",
            "The deployment is being previewed."
          ],
          "description": "Output only. The current step of the deployment unit provisioning.",
          "enum": [
            "STATE_UNSPECIFIED",
            "QUEUED",
            "APPLYING_DEPLOYMENT",
            "SUCCEEDED",
            "FAILED",
            "ABORTED",
            "SKIPPED",
            "DELETING_DEPLOYMENT",
            "PREVIEWING_DEPLOYMENT"
          ],
          "type": "string"
        },
        "error": {
          "$ref": "Status",
          "readOnly": true,
          "description": "Output only. Holds the error status of the deployment unit provisioning."
        }
      },
      "id": "DeploymentUnitProgress"
    },
    "LockDeploymentRequest": {
      "id": "LockDeploymentRequest",
      "properties": {},
      "description": "A request to lock a deployment passed to a 'LockDeployment' call.",
      "type": "object"
    },
    "ListDeploymentGroupRevisionsResponse": {
      "type": "object",
      "id": "ListDeploymentGroupRevisionsResponse",
      "description": "The response message for the ListDeploymentGroupRevisions method.",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "Token to be supplied to the next ListDeploymentGroupRevisions request via `page_token` to obtain the next set of results.",
          "type": "string"
        },
        "deploymentGroupRevisions": {
          "items": {
            "$ref": "DeploymentGroupRevision"
          },
          "type": "array",
          "description": "The deployment group revisions from the specified collection."
        }
      }
    },
    "TerraformVariable": {
      "type": "object",
      "properties": {
        "inputValue": {
          "description": "Optional. Input variable value.",
          "type": "any"
        }
      },
      "description": "A Terraform input variable.",
      "id": "TerraformVariable"
    },
    "ProvisionDeploymentGroupRequest": {
      "properties": {
        "deploymentSpecs": {
          "description": "Optional. The deployment specs of the deployment units to be created within the same project and location of the deployment group. The key is the unit ID, and the value is the `DeploymentSpec`. Provisioning will fail if a `deployment_spec` has a `deployment_id` that matches an existing deployment in the same project and location. If an existing deployment was part of the last successful revision but is no longer in the current DeploymentGroup's `deployment_units`, it will be recreated if included in `deployment_specs`.",
          "type": "object",
          "additionalProperties": {
            "$ref": "DeploymentSpec"
          }
        }
      },
      "description": "The request message for the ProvisionDeploymentGroup method.",
      "id": "ProvisionDeploymentGroupRequest",
      "type": "object"
    },
    "TerraformBlueprint": {
      "properties": {
        "gitSource": {
          "$ref": "GitSource",
          "description": "URI of a public Git repo."
        },
        "inputValues": {
          "type": "object",
          "additionalProperties": {
            "$ref": "TerraformVariable"
          },
          "description": "Optional. Input variable values for the Terraform blueprint."
        },
        "gcsSource": {
          "description": "URI of an object in Google Cloud Storage. Format: `gs://{bucket}/{object}` URI may also specify an object version for zipped objects. Format: `gs://{bucket}/{object}#{version}`",
          "type": "string"
        },
        "externalValues": {
          "description": "Optional. Map of input variable names in this blueprint to configurations for importing values from external sources.",
          "type": "object",
          "additionalProperties": {
            "$ref": "ExternalValueSource"
          }
        }
      },
      "description": "TerraformBlueprint describes the source of a Terraform root module which describes the resources and configs to be deployed.",
      "id": "TerraformBlueprint",
      "type": "object"
    },
    "ProvisionDeploymentGroupOperationMetadata": {
      "properties": {
        "step": {
          "description": "Output only. The current step of the deployment group operation.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "PROVISION_DEPLOYMENT_GROUP_STEP_UNSPECIFIED",
            "VALIDATING_DEPLOYMENT_GROUP",
            "ASSOCIATING_DEPLOYMENTS_TO_DEPLOYMENT_GROUP",
            "PROVISIONING_DEPLOYMENT_UNITS",
            "DISASSOCIATING_DEPLOYMENTS_FROM_DEPLOYMENT_GROUP",
            "SUCCEEDED",
            "FAILED",
            "DEPROVISIONING_DEPLOYMENT_UNITS"
          ],
          "enumDescriptions": [
            "Unspecified step.",
            "Validating the deployment group.",
            "Locking the deployments to the deployment group for atomic actuation.",
            "Provisioning the deployment units.",
            "Unlocking the deployments from the deployment group after actuation.",
            "The operation has succeeded.",
            "The operation has failed.",
            "Deprovisioning the deployment units."
          ]
        },
        "deploymentUnitProgresses": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Progress information for each deployment unit within the operation.",
          "items": {
            "$ref": "DeploymentUnitProgress"
          }
        }
      },
      "type": "object",
      "id": "ProvisionDeploymentGroupOperationMetadata",
      "description": "Operation metadata for `ProvisionDeploymentGroup` and `DeprovisionDeploymentGroup` long-running operations."
    },
    "ListTerraformVersionsResponse": {
      "type": "object",
      "description": "The response message for the `ListTerraformVersions` method.",
      "id": "ListTerraformVersionsResponse",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unreachable resources, if any."
        },
        "terraformVersions": {
          "items": {
            "$ref": "TerraformVersion"
          },
          "description": "List of TerraformVersions.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to be supplied to the next ListTerraformVersions request via `page_token` to obtain the next set of results."
        }
      }
    },
    "Operation": {
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "properties": {
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      }
    },
    "ExportRevisionStatefileRequest": {
      "id": "ExportRevisionStatefileRequest",
      "properties": {},
      "type": "object",
      "description": "A request to export a state file passed to a 'ExportRevisionStatefile' call."
    },
    "ListResourceChangesResponse": {
      "type": "object",
      "description": "A response to a 'ListResourceChanges' call. Contains a list of ResourceChanges.",
      "id": "ListResourceChangesResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to request the next page of resources from the 'ListResourceChanges' method. The value of an empty string means that there are no more resources to return."
        },
        "unreachable": {
          "type": "array",
          "description": "Unreachable resources, if any.",
          "items": {
            "type": "string"
          }
        },
        "resourceChanges": {
          "description": "List of ResourceChanges.",
          "items": {
            "$ref": "ResourceChange"
          },
          "type": "array"
        }
      }
    },
    "AutoMigrationConfig": {
      "description": "AutoMigrationConfig contains the automigration configuration for a project.",
      "id": "AutoMigrationConfig",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time the AutoMigrationConfig was last updated.",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the AutoMigrationConfig. Format: 'projects/{project_id}/locations/{location}/AutoMigrationConfig'."
        },
        "autoMigrationEnabled": {
          "description": "Optional. Whether the auto migration is enabled for the project.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "ExportPreviewResultRequest": {
      "description": "A request to export preview results.",
      "type": "object",
      "id": "ExportPreviewResultRequest",
      "properties": {}
    },
    "AuditConfig": {
      "id": "AuditConfig",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "type": "array",
          "items": {
            "$ref": "AuditLogConfig"
          },
          "description": "The configuration for logging of each type of permission."
        }
      },
      "type": "object"
    },
    "ExportPreviewResultResponse": {
      "id": "ExportPreviewResultResponse",
      "description": "A response to `ExportPreviewResult` call. Contains preview results.",
      "properties": {
        "result": {
          "$ref": "PreviewResult",
          "description": "Output only. Signed URLs for accessing the plan files.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "Policy": {
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "id": "Policy",
      "type": "object",
      "properties": {
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32",
          "type": "integer"
        },
        "bindings": {
          "type": "array",
          "items": {
            "$ref": "Binding"
          },
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
        },
        "etag": {
          "type": "string",
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
        },
        "auditConfigs": {
          "items": {
            "$ref": "AuditConfig"
          },
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array"
        }
      }
    },
    "ResourceDrift": {
      "description": "A resource drift represents a drift to a resource in the state file.",
      "id": "ResourceDrift",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The name of the resource drift. Format: 'projects/{project_id}/locations/{location}/previews/{preview}/resourceDrifts/{resource_drift}'."
        },
        "terraformInfo": {
          "description": "Output only. Terraform info of the resource drift.",
          "$ref": "ResourceDriftTerraformInfo",
          "readOnly": true
        },
        "propertyDrifts": {
          "items": {
            "$ref": "PropertyDrift"
          },
          "description": "Output only. The property drifts of the resource drift.",
          "readOnly": true,
          "type": "array"
        }
      },
      "type": "object"
    },
    "DeleteStatefileRequest": {
      "id": "DeleteStatefileRequest",
      "properties": {
        "lockId": {
          "type": "string",
          "description": "Required. Lock ID of the lock file to verify that the user who is deleting the state file previously locked the Deployment.",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "A request to delete a state file passed to a 'DeleteStatefile' call."
    },
    "CancelOperationRequest": {
      "properties": {},
      "type": "object",
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation."
    },
    "AuditLogConfig": {
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "properties": {
        "logType": {
          "description": "The log type that this config enables.",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ]
        },
        "exemptedMembers": {
          "items": {
            "type": "string"
          },
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "type": "array"
        }
      },
      "id": "AuditLogConfig",
      "type": "object"
    },
    "PropertyDrift": {
      "id": "PropertyDrift",
      "properties": {
        "beforeSensitivePaths": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. The paths of sensitive fields in `before`. Paths are relative to `path`."
        },
        "afterSensitivePaths": {
          "readOnly": true,
          "description": "Output only. The paths of sensitive fields in `after`. Paths are relative to `path`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "after": {
          "description": "Output only. Representations of the object value after the actions.",
          "readOnly": true,
          "type": "any"
        },
        "path": {
          "type": "string",
          "description": "Output only. The path of the property drift.",
          "readOnly": true
        },
        "before": {
          "readOnly": true,
          "description": "Output only. Representations of the object value before the actions.",
          "type": "any"
        }
      },
      "type": "object",
      "description": "A property drift represents a drift to a property in the state file."
    },
    "PreviewArtifacts": {
      "type": "object",
      "description": "Artifacts created by preview.",
      "properties": {
        "artifacts": {
          "description": "Output only. Location of artifacts in Google Cloud Storage. Format: `gs://{bucket}/{object}`",
          "readOnly": true,
          "type": "string"
        },
        "content": {
          "description": "Output only. Location of a blueprint copy and other content in Google Cloud Storage. Format: `gs://{bucket}/{object}`",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "PreviewArtifacts"
    },
    "ListOperationsResponse": {
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "properties": {
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        }
      }
    },
    "Location": {
      "type": "object",
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location",
      "properties": {
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "labels": {
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "Binding": {
      "description": "Associates `members`, or principals, with a `role`.",
      "type": "object",
      "properties": {
        "members": {
          "type": "array",
[...]
