{
  "discoveryVersion": "v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "ownerName": "Google",
  "id": "connectors:v1",
  "ownerDomain": "google.com",
  "basePath": "",
  "baseUrl": "https://connectors.googleapis.com/",
  "title": "Connectors API",
  "documentationLink": "https://cloud.google.com/apigee/docs/api-platform/connectors/about-connectors",
  "name": "connectors",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "description": "Enables users to create and manage connections to Google Cloud services and third-party business applications using the Connectors interface.",
  "canonicalName": "Connectors",
  "schemas": {
    "RoleGrant": {
      "id": "RoleGrant",
      "properties": {
        "helperTextTemplate": {
          "type": "string",
          "description": "Optional. Template that UI can use to provide helper text to customers."
        },
        "principal": {
          "type": "string",
          "enumDescriptions": [
            "Value type is not specified.",
            "Service Account used for Connector workload identity This is either the default service account if unspecified or Service Account provided by Customers through BYOSA."
          ],
          "enum": [
            "PRINCIPAL_UNSPECIFIED",
            "CONNECTOR_SA"
          ],
          "description": "Optional. Principal/Identity for whom the role need to assigned."
        },
        "roles": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. List of roles that need to be granted."
        },
        "resource": {
          "description": "Optional. Resource on which the roles needs to be granted for the principal.",
          "$ref": "Resource"
        }
      },
      "description": "This configuration defines all the Cloud IAM roles that needs to be granted to a particular Google Cloud resource for the selected principal like service account. These configurations will let UI display to customers what IAM roles need to be granted by them. Or these configurations can be used by the UI to render a 'grant' button to do the same on behalf of the user.",
      "type": "object"
    },
    "EncryptionConfig": {
      "id": "EncryptionConfig",
      "properties": {
        "kmsKeyName": {
          "description": "Optional. KMS crypto key. This field accepts identifiers of the form `projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/ {crypto_key}`",
          "type": "string"
        },
        "encryptionType": {
          "type": "string",
          "enumDescriptions": [
            "Encryption type unspecified.",
            "Google managed encryption keys",
            "Customer managed encryption keys."
          ],
          "enum": [
            "ENCRYPTION_TYPE_UNSPECIFIED",
            "GMEK",
            "CMEK"
          ],
          "description": "Optional. Encryption type for the region."
        }
      },
      "description": "Regional encryption config for CMEK details.",
      "type": "object"
    },
    "WithdrawCustomConnectorVersionRequest": {
      "type": "object",
      "description": "Request message for ConnectorsService.WithdrawCustomConnectorVersion",
      "properties": {},
      "id": "WithdrawCustomConnectorVersionRequest"
    },
    "HPAConfig": {
      "id": "HPAConfig",
      "properties": {
        "memoryUtilizationThreshold": {
          "description": "Output only. Percent Memory utilization where HPA triggers autoscaling.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "cpuUtilizationThreshold": {
          "format": "int64",
          "description": "Output only. Percent CPU utilization where HPA triggers autoscaling.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Autoscaling config for connector deployment system metrics.",
      "type": "object"
    },
    "ListRuntimeEntitySchemasResponse": {
      "properties": {
        "runtimeEntitySchemas": {
          "type": "array",
          "description": "Runtime entity schemas.",
          "items": {
            "$ref": "RuntimeEntitySchema"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Next page token."
        }
      },
      "id": "ListRuntimeEntitySchemasResponse",
      "type": "object",
      "description": "Response message for ConnectorsService.ListRuntimeEntitySchemas."
    },
    "ListEndUserAuthenticationsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Next page token."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "endUserAuthentications": {
          "items": {
            "$ref": "EndUserAuthentication"
          },
          "description": "Subscriptions.",
          "type": "array"
        }
      },
      "id": "ListEndUserAuthenticationsResponse",
      "type": "object",
      "description": "Response message for ConnectorsService.ListEndUserAuthentications"
    },
    "SupportedRuntimeFeatures": {
      "type": "object",
      "description": "Supported runtime features of a connector version.",
      "properties": {
        "asyncOperations": {
          "description": "Specifies if the connector supports async long running operations.",
          "type": "boolean"
        },
        "sqlQuery": {
          "description": "Specifies if the connector supports 'ExecuteSqlQuery' operation.",
          "type": "boolean"
        },
        "entityApis": {
          "type": "boolean",
          "description": "Specifies if the connector supports entity apis like 'createEntity'."
        },
        "actionApis": {
          "description": "Specifies if the connector supports action apis like 'executeAction'.",
          "type": "boolean"
        }
      },
      "id": "SupportedRuntimeFeatures"
    },
    "ValidateCustomConnectorSpecRequest": {
      "id": "ValidateCustomConnectorSpecRequest",
      "properties": {
        "specLocation": {
          "type": "string",
          "description": "Required. Location of the custom connector spec. The location can be either a public url like `https://public-url.com/spec` Or a Google Cloud Storage location like `gs:///`"
        },
        "serviceAccount": {
          "type": "string",
          "description": "Required. Service account to access the spec from Google Cloud Storage."
        },
        "specType": {
          "description": "Required. Spec type of the custom connector spec.",
          "type": "string",
          "enumDescriptions": [
            "Connector type is not specified.",
            "OpenAPI connector.",
            "Proto connector.",
            "SDK connector."
          ],
          "enum": [
            "CUSTOM_CONNECTOR_TYPE_UNSPECIFIED",
            "OPEN_API",
            "PROTO",
            "SDK"
          ]
        }
      },
      "description": "Request message for ConnectorsService.ValidateCustomConnectorSpec",
      "type": "object"
    },
    "EndUserAuthenticationConfigOauth2JwtBearer": {
      "properties": {
        "clientKey": {
          "description": "Required. secret version/value reference containing a PKCS#8 PEM-encoded private key associated with the Client Certificate. This private key will be used to sign JWTs used for the jwt-bearer authorization grant. Specified in the form as: `projects/*/strings/*/versions/*`.",
          "$ref": "EUASecret"
        },
        "jwtClaims": {
          "description": "JwtClaims providers fields to generate the token.",
          "$ref": "EndUserAuthenticationConfigOauth2JwtBearerJwtClaims"
        }
      },
      "id": "EndUserAuthenticationConfigOauth2JwtBearer",
      "type": "object",
      "description": "Parameters to support JSON Web Token (JWT) Profile for Oauth 2.0 Authorization Grant based authentication. See https://tools.ietf.org/html/rfc7523 for more details."
    },
    "RegionalSettings": {
      "description": "Regional Settings details.",
      "type": "object",
      "id": "RegionalSettings",
      "properties": {
        "networkConfig": {
          "description": "Optional. Regional network config.",
          "$ref": "NetworkConfig"
        },
        "provisioned": {
          "description": "Output only. Specifies whether the region is provisioned.",
          "readOnly": true,
          "type": "boolean"
        },
        "client": {
          "description": "Optional. Client type for the regional settings.",
          "type": "string"
        },
        "name": {
          "description": "Output only. Resource name of the Connection. Format: projects/{project}/locations/{location}/regionalSettings",
          "readOnly": true,
          "type": "string"
        },
        "encryptionConfig": {
          "description": "Optional. Regional encryption config to hold CMEK details.",
          "$ref": "EncryptionConfig"
        }
      }
    },
    "Resource": {
      "properties": {
        "type": {
          "description": "Optional. Different types of resource supported.",
          "type": "string",
          "enumDescriptions": [
            "Value type is not specified.",
            "Google Cloud Project Resource.",
            "Any Google Cloud Resource which is identified uniquely by IAM.",
            "Google Cloud Secret Resource.",
            "Google Cloud Secret Version Resource."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "GCP_PROJECT",
            "GCP_RESOURCE",
            "GCP_SECRETMANAGER_SECRET",
            "GCP_SECRETMANAGER_SECRET_VERSION"
          ]
        },
        "pathTemplate": {
          "description": "Optional. Template to uniquely represent a Google Cloud resource in a format IAM expects This is a template that can have references to other values provided in the config variable template.",
          "type": "string"
        }
      },
      "id": "Resource",
      "type": "object",
      "description": "Resource definition"
    },
    "ListEventTypesResponse": {
      "id": "ListEventTypesResponse",
      "properties": {
        "eventTypes": {
          "items": {
            "$ref": "EventType"
          },
          "description": "A list of connector versions.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Next page token."
        }
      },
      "description": "Response message for Connectors.ListEventTypes.",
      "type": "object"
    },
    "ExtractionRules": {
      "id": "ExtractionRules",
      "properties": {
        "extractionRule": {
          "type": "array",
          "description": "Collection of Extraction Rule.",
          "items": {
            "$ref": "ExtractionRule"
          }
        }
      },
      "description": "Extraction Rules to identity the backends from customer provided configuration in Connection resource.",
      "type": "object"
    },
    "NetworkEgressModeOverride": {
      "properties": {
        "isJobsOverrideEnabled": {
          "description": "boolean should be set to true to make sure only async operations enabled connections are migrated to direct vpc egress.",
          "type": "boolean"
        },
        "networkEgressMode": {
          "type": "string",
          "enumDescriptions": [
            "Network Egress mode is not specified.",
            "Default model VPC Access Connector.",
            "Direct VPC Egress."
          ],
          "enum": [
            "NETWORK_EGRESS_MODE_UNSPECIFIED",
            "SERVERLESS_VPC_ACCESS_CONNECTOR",
            "DIRECT_VPC_EGRESS"
          ],
          "description": "Determines the VPC Egress mode for the connector."
        },
        "isEventingOverrideEnabled": {
          "type": "boolean",
          "description": "boolean should be set to true to make sure only eventing enabled connections are migrated to direct vpc egress."
        }
      },
      "id": "NetworkEgressModeOverride",
      "type": "object",
      "description": "NetworkEgressModeOverride provides the network egress mode override for a connector."
    },
    "MarketplaceConnectorDetails": {
      "id": "MarketplaceConnectorDetails",
      "properties": {
        "partner": {
          "type": "string",
          "description": "The name of the partner."
        },
        "marketplaceProductUri": {
          "type": "string",
          "description": "Marketplace product URL."
        },
        "marketplaceProductId": {
          "type": "string",
          "description": "Marketplace product ID."
        },
        "marketplaceProduct": {
          "description": "Marketplace product name.",
          "type": "string"
        }
      },
      "description": "Marketplace connector details.",
      "type": "object"
    },
    "ListRuntimeActionSchemasResponse": {
      "properties": {
        "runtimeActionSchemas": {
          "type": "array",
          "description": "Runtime action schemas.",
          "items": {
            "$ref": "RuntimeActionSchema"
          }
        },
        "nextPageToken": {
          "description": "Next page token.",
          "type": "string"
        }
      },
      "id": "ListRuntimeActionSchemasResponse",
      "type": "object",
      "description": "Response message for ConnectorsService.ListRuntimeActionSchemas."
    },
    "Destination": {
      "type": "object",
      "properties": {
        "host": {
          "description": "For publicly routable host.",
          "type": "string"
        },
        "port": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The port is the target port number that is accepted by the destination."
        },
        "serviceAttachment": {
          "type": "string",
          "description": "PSC service attachments. Format: projects/*/regions/*/serviceAttachments/*",
          "deprecated": true
        }
      },
      "id": "Destination"
    },
    "EventType": {
      "description": "EventType includes fields.",
      "type": "object",
      "id": "EventType",
      "properties": {
        "enrichedEventPayloadSchema": {
          "description": "Output only. Schema of the event payload after enriched. Will be null if read before send is not supported.",
          "readOnly": true,
          "type": "string"
        },
        "idPath": {
          "description": "Output only. Id path denotes the path of id in webhook payload.",
          "readOnly": true,
          "type": "string"
        },
        "eventTypeId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Event type id. Example: `ticket.created`."
        },
        "eventPayloadSchema": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Schema of webhook event payload."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Created time.",
          "format": "google-datetime"
        },
        "entityType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Runtime entity type name. Will be null if entity type map is not available. Used for read before send feature."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name of the eventtype. Format: projects/{project}/locations/{location}/providers/{provider}/connectors/{connector}/versions/{version}/eventtypes/{eventtype} Only global location is supported for Connector resource."
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Updated time."
        }
      }
    },
    "NotificationParameter": {
      "description": "Contains notification related data.",
      "type": "object",
      "id": "NotificationParameter",
      "properties": {
        "values": {
          "type": "array",
          "description": "Optional. Array of string values. e.g. instance's replica information.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "InputParameter": {
      "id": "InputParameter",
      "properties": {
        "parameter": {
          "type": "string",
          "description": "Name of the Parameter."
        },
        "defaultValue": {
          "description": "The following field specifies the default value of the Parameter provided by the external system if a value is not provided.",
          "type": "any"
        },
        "description": {
          "type": "string",
          "description": "A brief description of the Parameter."
        },
        "nullable": {
          "type": "boolean",
          "description": "Specifies whether a null value is allowed."
        },
        "dataType": {
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "DATA_TYPE_INT",
            "DATA_TYPE_SMALLINT",
            "DATA_TYPE_DOUBLE",
            "DATA_TYPE_DATE",
            "DATA_TYPE_DATETIME",
            "DATA_TYPE_TIME",
            "DATA_TYPE_STRING",
            "DATA_TYPE_LONG",
            "DATA_TYPE_BOOLEAN",
            "DATA_TYPE_DECIMAL",
            "DATA_TYPE_UUID",
            "DATA_TYPE_BLOB",
            "DATA_TYPE_BIT",
            "DATA_TYPE_TINYINT",
            "DATA_TYPE_INTEGER",
            "DATA_TYPE_BIGINT",
            "DATA_TYPE_FLOAT",
            "DATA_TYPE_REAL",
            "DATA_TYPE_NUMERIC",
            "DATA_TYPE_CHAR",
            "DATA_TYPE_VARCHAR",
            "DATA_TYPE_LONGVARCHAR",
            "DATA_TYPE_TIMESTAMP",
            "DATA_TYPE_NCHAR",
            "DATA_TYPE_NVARCHAR",
            "DATA_TYPE_LONGNVARCHAR",
            "DATA_TYPE_NULL",
            "DATA_TYPE_OTHER",
            "DATA_TYPE_JAVA_OBJECT",
            "DATA_TYPE_DISTINCT",
            "DATA_TYPE_STRUCT",
            "DATA_TYPE_ARRAY",
            "DATA_TYPE_CLOB",
            "DATA_TYPE_REF",
            "DATA_TYPE_DATALINK",
            "DATA_TYPE_ROWID",
            "DATA_TYPE_BINARY",
            "DATA_TYPE_VARBINARY",
            "DATA_TYPE_LONGVARBINARY",
            "DATA_TYPE_NCLOB",
            "DATA_TYPE_SQLXML",
            "DATA_TYPE_REF_CURSOR",
            "DATA_TYPE_TIME_WITH_TIMEZONE",
            "DATA_TYPE_TIMESTAMP_WITH_TIMEZONE"
          ],
          "description": "The data type of the Parameter.",
          "type": "string",
          "enumDescriptions": [
            "Data type is not specified.",
            "DEPRECATED! Use DATA_TYPE_INTEGER.",
            "Short integer(int16) data type.",
            "Double data type.",
            "Date data type.",
            "DEPRECATED! Use DATA_TYPE_TIMESTAMP.",
            "Time data type.",
            "DEPRECATED! Use DATA_TYPE_VARCHAR.",
            "DEPRECATED! Use DATA_TYPE_BIGINT.",
            "Boolean data type.",
            "Decimal data type.",
            "DEPRECATED! Use DATA_TYPE_VARCHAR.",
            "UNSUPPORTED! Binary data type.",
            "Bit data type.",
            "Small integer(int8) data type.",
            "Integer(int32) data type.",
            "Long integer(int64) data type.",
            "Float data type.",
            "Real data type.",
            "Numeric data type.",
            "Char data type.",
            "Varchar data type.",
            "Longvarchar data type.",
            "Timestamp data type.",
            "Nchar data type.",
            "Nvarchar data type.",
            "Longnvarchar data type.",
            "Null data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Row id data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Variable binary data type.",
            "UNSUPPORTED! Long variable binary data type.",
            "UNSUPPORTED! NCLOB data type.",
            "UNSUPPORTED! SQL XML data type is not supported.",
            "UNSUPPORTED! Cursor reference type is not supported.",
            "UNSUPPORTED! Use TIME or TIMESTAMP instead.",
            "UNSUPPORTED! Use TIMESTAMP instead."
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            true,
            false,
            true,
            true,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ]
        },
        "jsonSchema": {
          "description": "JsonSchema representation of this action's parameter",
          "$ref": "JsonSchema"
        }
      },
      "description": "Metadata of an input parameter.",
      "type": "object"
    },
    "Empty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty"
    },
    "EndUserAuthenticationNotifyEndpointDestination": {
      "properties": {
        "endpoint": {
          "description": "Optional. OPTION 1: Hit an endpoint when the refresh token is expired.",
          "$ref": "EndUserAuthenticationNotifyEndpointDestinationEndPoint"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Default state.",
            "Endpoint - Hit the value of endpoint when event is received"
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "ENDPOINT"
          ],
          "description": "Required. type of the destination"
        },
        "serviceAccount": {
          "type": "string",
          "description": "Required. Service account needed for runtime plane to notify the backend."
        }
      },
      "id": "EndUserAuthenticationNotifyEndpointDestination",
      "type": "object",
      "description": "Message for NotifyEndpointDestination Destination to hit when the refresh token is expired."
    },
    "DenyMaintenancePeriod": {
      "description": "DenyMaintenancePeriod definition. Maintenance is forbidden within the deny period. The start_date must be less than the end_date.",
      "type": "object",
      "id": "DenyMaintenancePeriod",
      "properties": {
        "startDate": {
          "description": "Deny period start date. This can be: * A full date, with non-zero year, month and day values. * A month and day value, with a zero year. Allows recurring deny periods each year. Date matching this period will have to be the same or after the start.",
          "$ref": "Date"
        },
        "endDate": {
          "description": "Deny period end date. This can be: * A full date, with non-zero year, month and day values. * A month and day value, with a zero year. Allows recurring deny periods each year. Date matching this period will have to be before the end.",
          "$ref": "Date"
        },
        "time": {
          "description": "Time in UTC when the Blackout period starts on start_date and ends on end_date. This can be: * Full time. * All zeros for 00:00:00 UTC",
          "$ref": "TimeOfDay"
        }
      }
    },
    "Connector": {
      "properties": {
        "labels": {
          "readOnly": true,
          "type": "object",
          "description": "Output only. Resource labels to represent user-provided metadata. Refer to cloud documentation on labels for more details. https://cloud.google.com/compute/docs/labeling-resources",
          "additionalProperties": {
            "type": "string"
          }
        },
        "marketplaceConnectorDetails": {
          "description": "Output only. Marketplace connector details. Will be null if the connector is not marketplace connector.",
          "readOnly": true,
          "$ref": "MarketplaceConnectorDetails"
        },
        "eventingDetails": {
          "readOnly": true,
          "description": "Output only. Eventing details. Will be null if eventing is not supported.",
          "$ref": "EventingDetails"
        },
        "launchStage": {
          "type": "string",
          "enumDescriptions": [
            "LAUNCH_STAGE_UNSPECIFIED.",
            "PREVIEW.",
            "GA.",
            "DEPRECATED.",
            "TEST.",
            "PRIVATE_PREVIEW."
          ],
          "readOnly": true,
          "enum": [
            "LAUNCH_STAGE_UNSPECIFIED",
            "PREVIEW",
            "GA",
            "DEPRECATED",
            "TEST",
            "PRIVATE_PREVIEW"
          ],
          "description": "Output only. Flag to mark the version indicating the launch stage."
        },
        "documentationUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Link to documentation page."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name of the Connector. Format: projects/{project}/locations/{location}/providers/{provider}/connectors/{connector} Only global location is supported for Connector resource."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Created time.",
          "readOnly": true,
          "type": "string"
        },
        "externalUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Link to external page."
        },
        "tags": {
          "description": "Output only. Tags of the connector.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "category": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Category of the connector."
        },
        "description": {
          "description": "Output only. Description of the resource.",
          "readOnly": true,
          "type": "string"
        },
        "webAssetsLocation": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Cloud storage location of icons etc consumed by UI."
        },
        "displayName": {
          "description": "Output only. Display name.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Updated time.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "connectorType": {
          "description": "Output only. The type of the connector.",
          "readOnly": true,
          "enum": [
            "CONNECTOR_TYPE_UNSPECIFIED",
            "CONNECTOR_TYPE_GOOGLE",
            "CONNECTOR_TYPE_TECHNICAL",
            "CONNECTOR_TYPE_THIRD_PARTY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Google connectors.",
            "Technical connectors.",
            "Third Party connectors."
          ]
        }
      },
      "id": "Connector",
      "type": "object",
      "description": "Connectors indicates a specific connector type, e.x. Salesforce, SAP etc."
    },
    "GenerateConnectionToolspecOverrideResponse": {
      "id": "GenerateConnectionToolspecOverrideResponse",
      "properties": {
        "toolspecOverride": {
          "description": "Toolspec overrides for the connection.",
          "$ref": "ToolspecOverride"
        }
      },
      "description": "Response message for GenerateConnectionToolspecOverride API.",
      "type": "object"
    },
    "PublishCustomConnectorVersionRequest": {
      "type": "object",
      "description": "Request message for ConnectorsService.PublishCustomConnectorVersion",
      "properties": {
        "partnerMetadata": {
          "description": "Required. Partner metadata details for validating and publishing the custom connector as a partner connector version.",
          "$ref": "PartnerMetadata"
        }
      },
      "id": "PublishCustomConnectorVersionRequest"
    },
    "EventingRuntimeData": {
      "description": "Eventing runtime data has the details related to eventing managed by the system.",
      "type": "object",
      "id": "EventingRuntimeData",
      "properties": {
        "webhookData": {
          "description": "Output only. Webhook data.",
          "readOnly": true,
          "$ref": "WebhookData"
        },
        "eventsListenerPscSa": {
          "description": "Output only. Events listener PSC Service attachment. The value will be populated after provisioning the events listener with private connectivity enabled.",
          "readOnly": true,
          "type": "string"
        },
        "webhookSubscriptions": {
          "description": "Output only. Webhook subscriptions.",
          "readOnly": true,
          "$ref": "WebhookSubscriptions"
        },
        "eventsListenerEndpoint": {
          "description": "Output only. Events listener endpoint. The value will populated after provisioning the events listener.",
          "readOnly": true,
          "type": "string"
        },
        "status": {
          "readOnly": true,
          "description": "Output only. Current status of eventing.",
          "$ref": "EventingStatus"
        }
      }
    },
    "LogicalExpression": {
      "id": "LogicalExpression",
      "properties": {
        "fieldComparisons": {
          "type": "array",
          "description": "Optional. A list of fields to be compared.",
          "items": {
            "$ref": "FieldComparison"
          }
        },
        "logicalExpressions": {
          "description": "Optional. A list of nested conditions to be compared.",
          "type": "array",
          "items": {
            "$ref": "LogicalExpression"
          }
        },
        "logicalOperator": {
          "type": "string",
          "enumDescriptions": [
            "The default value.",
            "AND operator; The conditions must all be true.",
            "OR operator; At least one of the conditions must be true."
          ],
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "AND",
            "OR"
          ],
          "description": "Optional. The logical operator to use between the fields and conditions."
        }
      },
      "description": "Struct for representing boolean expressions.",
      "type": "object"
    },
    "Instance": {
      "description": "Instance represents the interface for SLM services to actuate the state of control plane resources. Example Instance in JSON, where consumer-project-number=123456, producer-project-id=cloud-sql: ```json Instance: { \"name\": \"projects/123456/locations/us-east1/instances/prod-instance\", \"create_time\": { \"seconds\": 1526406431, }, \"labels\": { \"env\": \"prod\", \"foo\": \"bar\" }, \"state\": READY, \"software_versions\": { \"software_update\": \"cloud-sql-09-28-2018\", }, \"maintenance_policy_names\": { \"UpdatePolicy\": \"projects/123456/locations/us-east1/maintenancePolicies/prod-update-policy\", } \"tenant_project_id\": \"cloud-sql-test-tenant\", \"producer_metadata\": { \"cloud-sql-tier\": \"basic\", \"cloud-sql-instance-size\": \"1G\", }, \"provisioned_resources\": [ { \"resource-type\": \"compute-instance\", \"resource-url\": \"https://www.googleapis.com/compute/v1/projects/cloud-sql/zones/us-east1-b/instances/vm-1\", } ], \"maintenance_schedules\": { \"csa_rollout\": { \"start_time\": { \"seconds\": 1526406431, }, \"end_time\": { \"seconds\": 1535406431, }, }, \"ncsa_rollout\": { \"start_time\": { \"seconds\": 1526406431, }, \"end_time\": { \"seconds\": 1535406431, }, } }, \"consumer_defined_name\": \"my-sql-instance1\", } ``` LINT.IfChange",
      "type": "object",
      "id": "Instance",
      "properties": {
        "maintenanceSchedules": {
          "description": "The MaintenanceSchedule contains the scheduling information of published maintenance schedule with same key as software_versions.",
          "type": "object",
          "additionalProperties": {
            "$ref": "MaintenanceSchedule"
          }
        },
        "maintenancePolicyNames": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The MaintenancePolicies that have been attached to the instance. The key must be of the type name of the oneof policy name defined in MaintenancePolicy, and the referenced policy must define the same policy type. For details, please refer to go/mr-user-guide. Should not be set if maintenance_settings.maintenance_policies is set.",
          "type": "object"
        },
        "consumerProjectNumber": {
          "description": "Optional. The consumer_project_number associated with this Apigee instance. This field is added specifically to support Apigee integration with SLM Rollout and UMM. It represents the numerical project ID of the GCP project that consumes this Apigee instance. It is used for SLM rollout notifications and UMM integration, enabling proper mapping to customer projects and log delivery for Apigee instances. This field complements consumer_project_id and may be used for specific Apigee scenarios where the numerical ID is required.",
          "type": "string"
        },
        "provisionedResources": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The list of data plane resources provisioned for this instance, e.g. compute VMs. See go/get-instance-metadata.",
          "items": {
            "$ref": "ProvisionedResource"
          }
        },
        "notificationParameters": {
          "additionalProperties": {
            "$ref": "NotificationParameter"
          },
          "type": "object",
          "description": "Optional. notification_parameter are information that service producers may like to include that is not relevant to Rollout. This parameter will only be passed to Gamma and Cloud Logging for notification/logging purpose."
        },
        "labels": {
          "type": "object",
          "description": "Optional. Resource labels to represent user provided metadata. Each label is a key-value pair, where both the key and the value are arbitrary strings provided by the user.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "UPDATING",
            "REPAIRING",
            "DELETING",
            "ERROR"
          ],
          "description": "Output only. Current lifecycle state of the resource (e.g. if it's being created or ready to use).",
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "Instance is being created.",
            "Instance has been created and is ready to use.",
            "Instance is being updated.",
            "Instance is unheathy and under repair.",
            "Instance is being deleted.",
            "Instance encountered an error and is in indeterministic state."
          ]
        },
        "name": {
          "type": "string",
          "description": "Unique name of the resource. It uses the form: `projects/{project_number}/locations/{location_id}/instances/{instance_id}` Note: This name is passed, stored and logged across the rollout system. So use of consumer project_id or any other consumer PII in the name is strongly discouraged for wipeout (go/wipeout) compliance. See go/elysium/project_ids#storage-guidance for more details."
        },
        "softwareVersions": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Software versions that are used to deploy this instance. This can be mutated by rollout services.",
          "type": "object"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp when the resource was created.",
          "readOnly": true,
          "type": "string"
        },
        "producerMetadata": {
          "readOnly": true,
          "type": "object",
          "description": "Output only. Custom string attributes used primarily to expose producer-specific information in monitoring dashboards. See go/get-instance-metadata.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "slmInstanceTemplate": {
          "description": "Link to the SLM instance template. Only populated when updating SLM instances via SSA's Actuation service adaptor. Service producers with custom control plane (e.g. Cloud SQL) doesn't need to populate this field. Instead they should use software_versions.",
          "type": "string"
        },
        "maintenanceSettings": {
          "description": "Optional. The MaintenanceSettings associated with instance.",
          "$ref": "MaintenanceSettings"
        },
        "tenantProjectId": {
          "description": "Output only. ID of the associated GCP tenant project. See go/get-instance-metadata.",
          "readOnly": true,
          "type": "string"
        },
        "consumerDefinedName": {
          "type": "string",
          "description": "consumer_defined_name is the name of the instance set by the service consumers. Generally this is different from the `name` field which reperesents the system-assigned id of the instance which the service consumers do not recognize. This is a required field for tenants onboarding to Maintenance Window notifications (go/slm-rollout-maintenance-policies#prerequisites)."
        },
        "instanceType": {
          "type": "string",
          "description": "Optional. The instance_type of this instance of format: projects/{project_number}/locations/{location_id}/instanceTypes/{instance_type_id}. Instance Type represents a high-level tier or SKU of the service that this instance belong to. When enabled(eg: Maintenance Rollout), Rollout uses 'instance_type' along with 'software_versions' to determine whether instance needs an update or not."
        },
        "updateTime": {
          "description": "Output only. Timestamp when the resource was last modified.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "sloMetadata": {
          "$ref": "SloMetadata",
          "readOnly": true,
          "description": "Output only. SLO metadata for instance classification in the Standardized dataplane SLO platform. See go/cloud-ssa-standard-slo for feature description."
        }
      }
    },
    "NetworkConfig": {
      "description": "Regional Network Config.",
      "type": "object",
      "id": "NetworkConfig",
      "properties": {
        "egressMode": {
          "description": "Optional. Egress mode for the network.",
          "type": "string",
          "enumDescriptions": [
            "Egress mode unspecified.",
            "Network egress through auto assigned IPs.",
            "Network egress through static IPs."
          ],
          "enum": [
            "NETWORK_EGRESS_MODE_UNSPECIFIED",
            "AUTO_IP",
            "STATIC_IP"
          ]
        },
        "egressIps": {
          "description": "Output only. Egress IPs",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GenerateConnectionToolspecOverrideRequest": {
      "description": "Request message for GenerateConnectionToolspecOverride API.",
      "type": "object",
      "id": "GenerateConnectionToolspecOverrideRequest",
      "properties": {
        "toolNames": {
          "items": {
            "$ref": "ToolName"
          },
          "type": "array",
          "description": "Required. List of tools for which the tool spec override is to be generated."
        }
      }
    },
    "RepairEventingRequest": {
      "id": "RepairEventingRequest",
      "properties": {},
      "description": "Request message for ConnectorsService.RepairEventing",
      "type": "object"
    },
    "ModifyConnectionToolspecOverrideResponse": {
      "id": "ModifyConnectionToolspecOverrideResponse",
      "properties": {
        "toolspecOverrides": {
          "description": "Toolspec overrides for the connection.",
          "$ref": "ToolspecOverride"
        }
      },
      "description": "Response message for ModifyConnectionToolspecOverride API.",
      "type": "object"
    },
    "ListConnectionsResponse": {
      "type": "object",
      "description": "Response message for ConnectorsService.ListConnections",
      "properties": {
        "connections": {
          "items": {
            "$ref": "Connection"
          },
          "type": "array",
          "description": "Connections."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Next page token."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      },
      "id": "ListConnectionsResponse"
    },
    "VpcscConfig": {
      "description": "This configuration provides VPCSC config for a connector.",
      "type": "object",
      "id": "VpcscConfig",
      "properties": {
        "defaultAllowlistedHost": {
          "type": "array",
          "description": "The list of allowlisted FQDNs for VPCSC.",
          "items": {
            "type": "string"
          }
        },
        "disableFirewallVpcscFlow": {
          "type": "boolean",
          "description": "Whether to disable firewall VPCSC flow."
        }
      }
    },
    "AuditConfig": {
      "id": "AuditConfig",
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "items": {
            "$ref": "AuditLogConfig"
          },
          "type": "array",
          "description": "The configuration for logging of each type of permission."
        }
      },
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "type": "object"
    },
    "ToolName": {
      "id": "ToolName",
      "properties": {
        "entityType": {
          "type": "string",
          "description": "Optional. Entity type name for which the tool was generated."
        },
        "name": {
          "description": "Required. Tool name that was generated in the list tools call.",
          "type": "string"
        },
        "operation": {
          "type": "string",
          "enumDescriptions": [
            "Operation unspecified.",
            "LIST entities.",
            "GET entity.",
            "CREATE entity.",
            "UPDATE entity.",
            "DELETE entity."
          ],
          "enum": [
            "OPERATION_UNSPECIFIED",
            "LIST",
            "GET",
            "CREATE",
            "UPDATE",
            "DELETE"
          ],
          "description": "Optional. Operation for which the tool was generated."
        }
      },
      "description": "Tool name for which the tool spec override is to be generated.",
      "type": "object"
    },
    "ListLocationsResponse": {
      "type": "object",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        }
      },
      "id": "ListLocationsResponse"
    },
    "Policy": {
      "id": "Policy",
      "properties": {
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        },
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "type": "array",
          "items": {
            "$ref": "Binding"
          }
        },
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array",
          "items": {
            "$ref": "AuditConfig"
          }
        },
        "etag": {
          "format": "byte",
          "type": "string",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
        }
      },
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "type": "object"
    },
    "EndUserAuthentication": {
      "description": "AuthConfig defines details of a authentication type.",
      "type": "object",
      "id": "EndUserAuthentication",
      "properties": {
        "status": {
          "description": "Optional. Status of the EndUserAuthentication.",
          "$ref": "EndUserAuthenticationEndUserAuthenticationStatus"
        },
        "userId": {
          "description": "Optional. The user id of the user.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Updated time.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "description": "Output only. Created time.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "Required. Identifier. Resource name of the EndUserAuthentication. Format: projects/{project}/locations/{location}/connections/{connection}/endUserAuthentications/{end_user_authentication}",
          "type": "string"
        },
        "notifyEndpointDestination": {
          "description": "Optional. The destination to hit when we receive an event",
          "$ref": "EndUserAuthenticationNotifyEndpointDestination"
        },
        "labels": {
          "description": "Optional. Labels for the EndUserAuthentication.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "endUserAuthenticationConfig": {
          "description": "Optional. The EndUserAuthenticationConfig for the EndUserAuthentication.",
          "$ref": "EndUserAuthenticationConfig"
        },
        "roles": {
          "description": "Optional. Roles for the EndUserAuthentication.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default state.",
              "READER.",
              "READER_DOMAIN_WIDE_ACCESSIBLE which has access to only public data."
            ],
            "enum": [
              "ROLE_UNSPECIFIED",
              "READER",
              "READER_DOMAIN_WIDE_ACCESSIBLE"
            ]
          }
        },
        "configVariables": {
          "description": "Optional. Config variables for the EndUserAuthentication.",
          "type": "array",
          "items": {
            "$ref": "EndUserAuthenticationConfigVariable"
          }
        },
        "destinationConfigs": {
          "items": {
            "$ref": "DestinationConfig"
          },
          "description": "Optional. Destination configs for the EndUserAuthentication.",
          "type": "array"
        }
      }
    },
    "SslConfigTemplate": {
      "description": "Ssl config details of a connector version",
      "type": "object",
      "id": "SslConfigTemplate",
      "properties": {
        "sslType": {
          "description": "Controls the ssl type for the given connector version",
          "type": "string",
          "enumDescriptions": [
            "No SSL configuration required.",
            "TLS Handshake",
            "mutual TLS (MTLS) Handshake"
          ],
          "enum": [
            "SSL_TYPE_UNSPECIFIED",
            "TLS",
            "MTLS"
          ]
        },
        "additionalVariables": {
          "type": "array",
          "description": "Any additional fields that need to be rendered",
          "items": {
            "$ref": "ConfigVariableTemplate"
          }
        },
        "clientCertType": {
          "description": "List of supported Client Cert Types",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Cert type unspecified.",
              "Privacy Enhanced Mail (PEM) Type"
            ],
            "enum": [
              "CERT_TYPE_UNSPECIFIED",
              "PEM"
            ]
          }
        },
        "isTlsMandatory": {
          "description": "Boolean for determining if the connector version mandates TLS.",
          "type": "boolean"
        },
        "serverCertType": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Cert type unspecified.",
              "Privacy Enhanced Mail (PEM) Type"
            ],
            "enum": [
              "CERT_TYPE_UNSPECIFIED",
              "PEM"
            ]
          },
          "type": "array",
          "description": "List of supported Server Cert Types"
        }
      }
    },
    "Location": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "labels": {
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          }
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        }
      },
      "id": "Location",
      "type": "object",
      "description": "A resource that represents a Google Cloud location."
    },
    "Status": {
      "properties": {
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "id": "Status",
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "Secret": {
      "description": "Secret provides a reference to entries in Secret Manager.",
      "type": "object",
      "id": "Secret",
      "properties": {
        "secretVersion": {
          "type": "string",
          "description": "Optional. The resource name of the secret version in the format, format as: `projects/*/secrets/*/versions/*`."
        }
      }
    },
    "ConnectionStatus": {
      "id": "ConnectionStatus",
      "properties": {
        "description": {
          "type": "string",
          "description": "Description."
        },
        "status": {
          "type": "string",
          "description": "Status provides detailed information for the state."
        },
        "state": {
          "description": "State.",
          "type": "string",
          "enumDescriptions": [
            "Connection does not have a state yet.",
            "Connection is being created.",
            "Connection is running and ready for requests.",
            "Connection is stopped.",
            "Connection is being deleted.",
            "Connection is being updated.",
            "Connection is not running due to an error.",
            "Connection is not running because the authorization configuration is not complete."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "INACTIVE",
            "DELETING",
            "UPDATING",
            "ERROR",
            "AUTHORIZATION_REQUIRED"
          ]
        }
      },
      "description": "ConnectionStatus indicates the state of the connection.",
      "type": "object"
    },
    "PublishStatus": {
      "description": "Publish status of a custom connector.",
      "type": "object",
      "id": "PublishStatus",
      "properties": {
        "publishTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Publish time.",
          "format": "google-datetime"
        },
        "publishedAs": {
          "description": "Output only. Partner connector name. Will be set on the custom connector. Format: providers/partner/connectors//versions/",
          "readOnly": true,
          "type": "string"
        },
        "publishState": {
          "readOnly": true,
          "enum": [
            "PUBLISH_STATE_UNSPECIFIED",
            "PUBLISHED",
            "PUBLISH_IN_PROGRESS",
            "UNPUBLISHED"
          ],
          "description": "Output only. Publish state of the custom connector.",
          "type": "string",
          "enumDescriptions": [
            "State Unspecified.",
            "Connector version has been published as partner connector version.",
            "Connector version is in the process of being published as partner connector version.",
            "Connector version has been unpublished as partner connector version"
          ]
        },
        "publishedSource": {
          "description": "Output only. Custom connector name. Will be set on the partner connector. Format: providers/customconnectors/connectors//versions/",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "EndUserAuthenticationNotifyEndpointDestinationEndPointHeader": {
      "id": "EndUserAuthenticationNotifyEndpointDestinationEndPointHeader",
      "properties": {
        "key": {
          "description": "Required. Key of Header.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Required. Value of Header."
        }
      },
      "description": "Header details for a given header to be added to Endpoint.",
      "type": "object"
    },
    "EndpointAttachment": {
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Resource labels to represent user-provided metadata. Refer to cloud documentation on labels for more details. https://cloud.google.com/compute/docs/labeling-resources",
          "type": "object"
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "ACCEPTED",
            "REJECTED",
            "CLOSED",
            "FROZEN",
            "NEEDS_ATTENTION",
            "ACCEPTED_NOT_PROGRAMMED"
          ],
          "description": "Output only. The Private Service Connect Connection Endpoint State. This value is only available in the Full view.",
          "type": "string",
          "enumDescriptions": [
            "STATE_UNSPECIFIED.",
            "The endpoint is pending acceptance by the producer.",
            "The endpoint has been accepted by the producer.",
            "The endpoint has been rejected by the producer.",
            "The endpoint has been closed by the producer and will not serve traffic going forward.",
            "The endpoint has been frozen by the producer and will not serve traffic.",
            "The endpoint has been accepted by the producer, but it is not ready to serve the traffic due to producer side issues.",
            "The endpoint has been accepted by the producer, but it cannot be programmed to the data plane due to invariant violation."
          ]
        },
        "endpointIp": {
          "description": "Output only. The Private Service Connect connection endpoint ip",
          "readOnly": true,
          "type": "string"
        },
        "serviceAttachment": {
          "type": "string",
          "description": "Required. The path of the service attachment"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the resource."
        },
        "endpointGlobalAccess": {
          "description": "Optional. The Private Service Connect Connection Endpoint Global Access. https://cloud.google.com/vpc/docs/about-accessing-vpc-hosted-services-endpoints#global-access",
          "type": "boolean"
        },
        "updateTime": {
          "description": "Output only. Updated time.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "Output only. Resource name of the Endpoint Attachment. Format: projects/{project}/locations/{location}/endpointAttachments/{endpoint_attachment}",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Created time.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "EndpointAttachment",
      "type": "object",
      "description": "represents the Connector's Endpoint Attachment resource"
    },
    "ListenEventResponse": {
      "description": "Expected response for ListenEvent API.",
      "type": "object",
      "id": "ListenEventResponse",
      "properties": {}
    },
    "TrafficShapingConfig": {
      "properties": {
        "quotaLimit": {
          "format": "int64",
          "type": "string",
          "description": "Required. Maximum number of api calls allowed."
        },
        "duration": {
          "description": "Required. Specifies the duration over which the API call quota limits are calculated. This duration is used to define the time window for evaluating if the number of API calls made by a user is within the allowed quota limits. For example: - To define a quota sampled over 16 seconds, set `seconds` to 16 - To define a quota sampled over 5 minutes, set `seconds` to 300 (5 * 60) - To define a quota sampled over 1 day, set `seconds` to 86400 (24 * 60 * 60) and so on. It is important to note that this duration is not the time the quota is valid for, but rather the time window over which the quota is evaluated. For example, if the quota is 100 calls per 10 seconds, then this duration field would be set to 10 seconds.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "id": "TrafficShapingConfig",
      "type": "object",
      "description": "* TrafficShapingConfig defines the configuration for shaping API traffic by specifying a quota limit and the duration over which this limit is enforced. This configuration helps to control and manage the rate at which API calls are made on the client side, preventing service overload on the backend. For example: - if the quota limit is 100 calls per 10 seconds, then the message would be: { quota_limit: 100 duration: { seconds: 10 } } - if the quota limit is 100 calls per 5 minutes, then the message would be: { quota_limit: 100 duration: { seconds: 300 } } - if the quota limit is 10000 calls per day, then the message would be: { quota_limit: 10000 duration: { seconds: 86400 } and so on."
    },
    "SshPublicKey": {
      "properties": {
        "sshClientCert": {
          "description": "Optional. SSH Client Cert. It should contain both public and private key.",
          "$ref": "Secret"
        },
        "certType": {
          "description": "Optional. Format of SSH Client cert.",
          "type": "string"
        },
        "sshClientCertPass": {
          "description": "Optional. Password (passphrase) for ssh client certificate if it has one.",
          "$ref": "Secret"
        },
        "username": {
          "description": "Optional. The user account used to authenticate.",
          "type": "string"
        }
      },
      "id": "SshPublicKey",
      "type": "object",
      "description": "Parameters to support Ssh public key Authentication."
    },
    "RuntimeEntitySchema": {
      "type": "object",
      "description": "Schema of a runtime entity.",
      "properties": {
        "fields": {
          "items": {
            "$ref": "Field"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. List of fields in the entity."
        },
        "entity": {
          "description": "Output only. Name of the entity.",
          "readOnly": true,
          "type": "string"
        },
        "jsonSchema": {
          "description": "Output only. JsonSchema representation of this entity's metadata",
          "readOnly": true,
          "$ref": "JsonSchema"
        },
        "operations": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Operation unspecified.",
              "This operation means entity type supports LIST entities.",
              "This operation means entity type supports GET entity.",
              "This operation means entity type supports CREATE entity.",
              "This operation means entity type supports UPDATE entity.",
              "This operation means entity type supports DELETE entity."
            ],
            "enum": [
              "OPERATION_UNSPECIFIED",
              "LIST",
              "GET",
              "CREATE",
              "UPDATE",
              "DELETE"
            ]
          },
          "description": "List of operations supported by this entity",
          "type": "array"
        }
      },
      "id": "RuntimeEntitySchema"
    },
    "AuditLogConfig": {
      "id": "AuditLogConfig",
      "properties": {
        "exemptedMembers": {
          "items": {
            "type": "string"
          },
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "type": "array"
        },
        "logType": {
          "description": "The log type that this config enables.",
          "type": "string",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ]
        }
      },
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "type": "object"
    },
    "SloMetadata": {
      "description": "SloMetadata contains resources required for proper SLO classification of the instance.",
      "type": "object",
      "id": "SloMetadata",
      "properties": {
        "tier": {
          "description": "Name of the SLO tier the Instance belongs to. This name will be expected to match the tiers specified in the service SLO configuration. Field is mandatory and must not be empty.",
          "type": "string"
        },
        "nodes": {
          "items": {
            "$ref": "NodeSloMetadata"
          },
          "type": "array",
          "description": "Optional. List of nodes. Some producers need to use per-node metadata to calculate SLO. This field allows such producers to publish per-node SLO meta data, which will be consumed by SSA Eligibility Exporter and published in the form of per node metric to Monarch."
        },
        "perSliEligibility": {
          "description": "Optional. Multiple per-instance SLI eligibilities which apply for individual SLIs.",
          "$ref": "PerSliSloEligibility"
        }
      }
    },
    "EUASecret": {
      "type": "object",
      "description": "EUASecret provides a reference to entries in Secret Manager.",
      "properties": {
        "secretValue": {
          "description": "Optional. The plain string value of the secret.",
          "type": "string"
        },
        "secretVersion": {
          "description": "Optional. The resource name of the secret version in the format, format as: `projects/*/secrets/*/versions/*`.",
          "type": "string"
        }
      },
      "id": "EUASecret"
    },
    "PerSliSloEligibility": {
      "description": "PerSliSloEligibility is a mapping from an SLI name to eligibility.",
      "type": "object",
      "id": "PerSliSloEligibility",
      "properties": {
        "eligibilities": {
          "additionalProperties": {
            "$ref": "SloEligibility"
          },
          "type": "object",
          "description": "An entry in the eligibilities map specifies an eligibility for a particular SLI for the given instance. The SLI key in the name must be a valid SLI name specified in the Eligibility Exporter binary flags otherwise an error will be emitted by Eligibility Exporter and the oncaller will be alerted. If an SLI has been defined in the binary flags but the eligibilities map does not contain it, the corresponding SLI time series will not be emitted by the Eligibility Exporter. This ensures a smooth rollout and compatibility between the data produced by different versions of the Eligibility Exporters. If eligibilities map contains a key for an SLI which has not been declared in the binary flags, there will be an error message emitted in the Eligibility Exporter log and the metric for the SLI in question will not be emitted."
        }
      }
    },
    "SchemaRefreshConfig": {
      "id": "SchemaRefreshConfig",
      "properties": {
        "useSynchronousSchemaRefresh": {
          "type": "boolean",
          "description": "Whether to use synchronous schema refresh."
        },
        "useActionDisplayNames": {
          "type": "boolean",
          "description": "Whether to use displayName for actions in UI."
        }
      },
      "description": "Config for connection schema refresh",
      "type": "object"
    },
    "CustomConnector": {
      "type": "object",
      "description": "CustomConnector represents the custom connector defined by the customer as part of byoc.",
      "properties": {
        "logo": {
          "type": "string",
          "description": "Optional. Logo of the resource."
        },
        "publishedMarketplaceVersions": {
          "description": "Output only. Published marketplace versions.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "customConnectorType": {
          "description": "Required. Type of the custom connector.",
          "type": "string",
          "enumDescriptions": [
            "Connector type is not specified.",
            "OpenAPI connector.",
            "Proto connector.",
            "SDK connector."
          ],
          "enum": [
            "CUSTOM_CONNECTOR_TYPE_UNSPECIFIED",
            "OPEN_API",
            "PROTO",
            "SDK"
          ]
        },
        "activeConnectorVersions": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Active connector versions."
        },
        "allMarketplaceVersions": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. All marketplace versions."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the resource."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Resource labels to represent user-provided metadata. Refer to cloud documentation on labels for more details. https://cloud.google.com/compute/docs/labeling-resources",
          "type": "object"
        },
        "createTime": {
          "description": "Output only. Created time.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name of the CustomConnector. Format: projects/{project}/locations/{location}/customConnectors/{connector}"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Updated time.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Optional. Display name.",
          "type": "string"
        },
        "allConnectorVersions": {
          "items": {
            "type": "string"
          },
          "description": "Output only. All connector versions.",
          "readOnly": true,
          "type": "array"
        }
      },
      "id": "CustomConnector"
    },
    "ConfigVariable": {
      "id": "ConfigVariable",
      "properties": {
        "secretValue": {
          "description": "Optional. Value is a secret.",
          "$ref": "Secret"
        },
        "intValue": {
          "format": "int64",
          "description": "Optional. Value is an integer",
          "type": "string"
        },
        "boolValue": {
          "type": "boolean",
          "description": "Optional. Value is a bool."
        },
        "encryptionKeyValue": {
          "description": "Optional. Value is a Encryption Key.",
          "$ref": "EncryptionKey"
        },
        "key": {
          "description": "Optional. Key of the config variable.",
          "type": "string"
        },
        "stringValue": {
          "type": "string",
          "description": "Optional. Value is a string."
        }
      },
      "description": "ConfigVariable represents a configuration variable present in a Connection. or AuthConfig.",
      "type": "object"
    },
    "EndUserAuthenticationConfigSshPublicKey": {
      "properties": {
        "sshClientCert": {
          "description": "Required. SSH Client Cert. It should contain both public and private key.",
          "$ref": "EUASecret"
        },
        "username": {
          "type": "string",
          "description": "The user account used to authenticate."
        },
        "certType": {
          "type": "string",
          "description": "Format of SSH Client cert."
        },
        "sshClientCertPass": {
          "description": "Required. Password (passphrase) for ssh client certificate if it has one.",
          "$ref": "EUASecret"
        }
      },
      "id": "EndUserAuthenticationConfigSshPublicKey",
      "type": "object",
      "description": "Parameters to support Ssh public key Authentication."
    },
    "Header": {
      "type": "object",
      "description": "Header details for a given header to be added to Endpoint.",
      "properties": {
        "key": {
          "description": "Optional. Key of Header.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Optional. Value of Header."
        }
      },
      "id": "Header"
    },
    "NodeSloMetadata": {
      "properties": {
        "nodeId": {
          "description": "The id of the node. This should be equal to SaasInstanceNode.node_id.",
          "type": "string"
        },
        "perSliEligibility": {
          "description": "If present, this will override eligibility for the node coming from instance or exclusions for specified SLIs.",
          "$ref": "PerSliSloEligibility"
        },
        "location": {
          "type": "string",
          "description": "The location of the node, if different from instance location."
        }
      },
      "id": "NodeSloMetadata",
      "type": "object",
      "description": "Node information for custom per-node SLO implementations. SSA does not support per-node SLO, but producers can populate per-node information in SloMetadata for custom precomputations. SSA Eligibility Exporter will emit per-node metric based on this information."
    },
    "UserPassword": {
      "id": "UserPassword",
      "properties": {
        "username": {
          "type": "string",
          "description": "Optional. Username."
        },
        "password": {
          "description": "Optional. Secret version reference containing the password.",
          "$ref": "Secret"
        }
      },
      "description": "Parameters to support Username and Password Authentication.",
      "type": "object"
    },
    "TimeOfDay": {
      "type": "object",
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "properties": {
        "hours": {
          "format": "int32",
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "type": "integer"
        },
        "seconds": {
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "type": "integer",
          "format": "int32"
        },
        "nanos": {
          "type": "integer",
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
          "format": "int32"
        },
        "minutes": {
          "format": "int32",
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
          "type": "integer"
        }
      },
      "id": "TimeOfDay"
    },
    "ModifyConnectionToolspecOverrideRequest": {
      "properties": {
        "toolspecOverride": {
          "description": "Required. Toolspec overrides to be modified.",
          "$ref": "ToolspecOverride"
        }
      },
      "id": "ModifyConnectionToolspecOverrideRequest",
      "type": "object",
      "description": "Request message for ModifyConnectionToolspecOverride API."
    },
    "AuthorizationCodeLink": {
      "properties": {
        "scopes": {
          "description": "Optional. The scopes for which the user will authorize Google Cloud Connectors on the connector data source.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "clientId": {
          "type": "string",
          "description": "Optional. The client ID assigned to the Google Cloud Connectors OAuth app for the connector data source."
        },
        "uri": {
          "type": "string",
          "description": "Optional. The base URI the user must click to trigger the authorization code login flow."
        },
        "clientSecret": {
          "description": "Optional. The client secret assigned to the Google Cloud Connectors OAuth app for the connector data source.",
          "$ref": "Secret"
        },
        "enablePkce": {
          "type": "boolean",
          "description": "Optional. Whether to enable PKCE for the auth code flow."
        },
        "omitQueryParams": {
          "description": "Optional. Omit query params from the redirect URI.",
          "type": "boolean"
        }
      },
      "id": "AuthorizationCodeLink",
      "type": "object",
      "description": "This configuration captures the details required to render an authorization link for the OAuth Authorization Code Flow."
    },
    "SetIamPolicyRequest": {
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object",
      "id": "SetIamPolicyRequest",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
        }
      }
    },
    "EventingConfigTemplate": {
      "type": "object",
      "description": "Eventing Config details of a connector version. next: 14",
      "properties": {
        "eventListenerType": {
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Webhook listener. e.g. Jira, Zendesk, Servicenow etc.,",
            "JMS Listener. e.g. IBM MQ, Rabbit MQ etc.,"
          ],
          "enum": [
            "EVENT_LISTENER_TYPE_UNSPECIFIED",
            "WEBHOOK_LISTENER",
            "JMS_LISTENER"
          ],
          "description": "The type of the event listener for a specific connector."
        },
        "listenerAuthConfigTemplates": {
          "items": {
            "$ref": "AuthConfigTemplate"
          },
          "description": "ListenerAuthConfigTemplates represents the auth values for the event listener.",
          "type": "array"
        },
        "additionalVariables": {
          "type": "array",
          "description": "Additional fields that need to be rendered.",
          "items": {
            "$ref": "ConfigVariableTemplate"
          }
        },
        "autoRefresh": {
          "description": "Auto refresh to extend webhook life.",
          "type": "boolean"
        },
        "enrichmentSupported": {
          "description": "Enrichment Supported.",
          "type": "boolean"
        },
        "autoRegistrationSupported": {
          "description": "Auto Registration supported.",
          "type": "boolean"
        },
        "authConfigTemplates": {
          "type": "array",
          "description": "AuthConfigTemplates represents the auth values for the webhook adapter.",
          "items": {
            "$ref": "AuthConfigTemplate"
          }
        },
        "isEventingSupported": {
          "description": "Is Eventing Supported.",
          "type": "boolean"
        },
        "proxyDestinationConfig": {
          "description": "Proxy destination config template.",
          "$ref": "DestinationConfigTemplate"
        },
        "triggerConfigVariables": {
          "items": {
            "$ref": "ConfigVariableTemplate"
          },
          "description": "Trigger Config fields that needs to be rendered",
          "type": "array"
        },
        "registrationDestinationConfig": {
          "description": "Registration host destination config template.",
          "$ref": "DestinationConfigTemplate"
        },
        "sslConfigTemplate": {
          "description": "SSL Config template for the connector version.",
          "$ref": "SslConfigTemplate"
        },
        "encryptionKeyTemplate": {
          "description": "Encryption key (can be either Google managed or CMEK).",
          "$ref": "ConfigVariableTemplate"
        }
      },
      "id": "EventingConfigTemplate"
    },
    "SloEligibility": {
      "type": "object",
      "description": "SloEligibility is a tuple containing eligibility value: true if an instance is eligible for SLO calculation or false if it should be excluded from all SLO-related calculations along with a user-defined reason.",
      "properties": {
        "eligible": {
          "description": "Whether an instance is eligible or ineligible.",
          "type": "boolean"
        },
        "reason": {
          "type": "string",
          "description": "User-defined reason for the current value of instance eligibility. Usually, this can be directly mapped to the internal state. An empty reason is allowed."
        }
      },
      "id": "SloEligibility"
    },
    "JsonAuthSchema": {
      "type": "object",
      "description": "JsonAuthSchema defines the JSON schema of all authentication types.",
      "properties": {
        "oneOf": {
          "description": "List of AuthObjects.",
          "type": "array",
          "items": {
            "$ref": "AuthObject"
          }
        },
        "$schema": {
          "description": "JSON schema of the AuthSchemas.",
          "type": "string"
        }
      },
      "id": "JsonAuthSchema"
    },
    "ListManagedZonesResponse": {
      "description": "Response message for ConnectorsService.ListManagedZones",
      "type": "object",
      "id": "ListManagedZonesResponse",
      "properties": {
        "managedZones": {
          "description": "ManagedZones.",
          "type": "array",
          "items": {
            "$ref": "ManagedZone"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Next page token."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      }
    },
    "JwtClaims": {
      "type": "object",
      "description": "JWT claims used for the jwt-bearer authorization grant.",
      "properties": {
        "issuer": {
          "type": "string",
          "description": "Optional. Value for the \"iss\" claim."
        },
        "subject": {
          "type": "string",
          "description": "Optional. Value for the \"sub\" claim."
        },
        "audience": {
          "type": "string",
          "description": "Optional. Value for the \"aud\" claim."
        }
      },
      "id": "JwtClaims"
    },
    "Operation": {
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        }
      },
      "id": "Operation",
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "SearchConnectionInstance": {
      "properties": {
        "entitySchema": {
          "$ref": "RuntimeEntitySchema",
          "readOnly": true,
          "description": "Output only. Schema of a runtime entity."
        },
        "connection": {
          "readOnly": true,
          "description": "Output only. Connection details",
          "$ref": "Connection"
        },
        "actionSchema": {
          "description": "Output only. Schema of a runtime action.",
          "readOnly": true,
          "$ref": "RuntimeActionSchema"
        }
      },
      "id": "SearchConnectionInstance",
      "type": "object",
      "description": "SearchConnectionInstance represents an instance of connector with specific fields"
    },
    "FieldComparison": {
      "id": "FieldComparison",
      "properties": {
        "intValue": {
          "description": "Integer value",
          "type": "string",
          "format": "int64"
        },
        "comparator": {
          "description": "Optional. Comparator to use for comparing the field value.",
          "type": "string",
          "enumDescriptions": [
            "The default value.",
            "The field value must be equal to the specified value.",
            "The field value must not be equal to the specified value."
          ],
          "enum": [
            "COMPARATOR_UNSPECIFIED",
            "EQUALS",
            "NOT_EQUALS"
          ]
        },
        "key": {
          "type": "string",
          "description": "Optional. Key of the field."
        },
        "stringValue": {
          "description": "String value",
          "type": "string"
        },
        "boolValue": {
          "type": "boolean",
          "description": "Boolean value"
        }
      },
      "description": "Field that needs to be compared.",
      "type": "object"
    },
    "EndUserAuthenticationConfigOauth2JwtBearerJwtClaims": {
      "description": "JWT claims used for the jwt-bearer authorization grant.",
      "type": "object",
      "id": "EndUserAuthenticationConfigOauth2JwtBearerJwtClaims",
      "properties": {
        "issuer": {
          "type": "string",
          "description": "Value for the \"iss\" claim."
        },
        "subject": {
          "type": "string",
          "description": "Value for the \"sub\" claim."
        },
        "audience": {
          "description": "Value for the \"aud\" claim.",
          "type": "string"
        }
      }
    },
    "ExtractionRule": {
      "description": "Extraction Rule.",
      "type": "object",
      "id": "ExtractionRule",
      "properties": {
        "source": {
          "description": "Source on which the rule is applied.",
          "$ref": "Source"
        },
        "formatString": {
          "description": "Format string used to format the extracted backend details. If empty, extracted backend details will be returned as it is.",
          "type": "string"
        },
        "extractionRegex": {
          "type": "string",
          "description": "Regex used to extract backend details from source. If empty, whole source value will be used."
        }
      }
    },
    "CustomConnectorVersion": {
      "description": "CustomConnectorVersion indicates a specific version of a connector.",
      "type": "object",
      "id": "CustomConnectorVersion",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Updated time.",
          "format": "google-datetime"
        },
        "specLocation": {
          "type": "string",
          "description": "Optional. Location of the custom connector spec. This is only used for Open API based custom connectors. The location can be either a public url like `https://public-url.com/spec` Or a Google Cloud Storage location like `gs:///`."
        },
        "authOverrideSupport": {
          "type": "boolean",
          "description": "Optional. Auth override support."
        },
        "authConfigTemplates": {
          "description": "Optional. Auth Config Templates is only used when connector backend is enabled. This is used to specify the auth configs supported by the connector backend service to talk to the actual application backend.",
          "type": "array",
          "items": {
            "$ref": "AuthConfigTemplate"
          }
        },
        "asyncOperationsSupport": {
          "description": "Optional. Indicates if Async Operations/Connector Job is supported. This is only available for SDK based custom connectors.",
          "type": "boolean"
        },
        "authConfig": {
          "description": "Optional. Authentication config for accessing connector service (facade). This is used only when enable_backend_destination_config is true.",
          "$ref": "AuthConfig"
        },
        "enableBackendDestinationConfig": {
          "type": "boolean",
          "description": "Optional. Indicates if an intermediatory connectorservice is used as backend. When this is enabled, the connector destination and connector auth config are required. For SDK based connectors, this is always enabled."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Created time."
        },
        "publishStatus": {
          "description": "Output only. Publish status of a custom connector.",
          "readOnly": true,
          "$ref": "PublishStatus"
        },
        "name": {
          "description": "Output only. Identifier. Resource name of the Version. Format: projects/{project}/locations/{location}/customConnectors/{custom_connector}/customConnectorVersions/{custom_connector_version}",
          "readOnly": true,
          "type": "string"
        },
        "serviceAccount": {
          "description": "Optional. Service account used by runtime plane to access auth config secrets.",
          "type": "string"
        },
        "destinationConfigs": {
          "items": {
            "$ref": "DestinationConfig"
          },
          "description": "Optional. Destination config(s) for accessing connector service (facade). This is used only when enable_backend_destination_config is true.",
          "type": "array"
        },
        "specServerUrls": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Server URLs parsed from the Open API spec. This is only used for Open API based custom connectors."
        },
        "backendVariableTemplates": {
          "items": {
            "$ref": "ConfigVariableTemplate"
          },
[...]
