{
  "endpoints": [
    {
      "endpointUrl": "https://connectors.us-central1.rep.googleapis.com/",
      "location": "us-central1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://connectors.us-east1.rep.googleapis.com/",
      "location": "us-east1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://connectors.us-east4.rep.googleapis.com/",
      "location": "us-east4",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://connectors.us-east5.rep.googleapis.com/",
      "location": "us-east5",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://connectors.us-south1.rep.googleapis.com/",
      "location": "us-south1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://connectors.us-west1.rep.googleapis.com/",
      "location": "us-west1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://connectors.us-west2.rep.googleapis.com/",
      "location": "us-west2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://connectors.us-west3.rep.googleapis.com/",
      "location": "us-west3",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://connectors.us-west4.rep.googleapis.com/",
      "location": "us-west4",
      "description": "Regional Endpoint"
    }
  ],
  "discoveryVersion": "v1",
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerDomain": "google.com",
  "servicePath": "",
  "canonicalName": "Connectors",
  "kind": "discovery#restDescription",
  "rootUrl": "https://connectors.googleapis.com/",
  "description": "Enables users to create and manage connections to Google Cloud services and third-party business applications using the Connectors interface.",
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    }
  },
  "id": "connectors:v1",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "get": {
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Resource name for the location."
                }
              },
              "id": "connectors.projects.locations.get",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "httpMethod": "GET",
              "response": {
                "$ref": "Location"
              },
              "description": "Gets information about a location.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "getRuntimeConfig": {
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "id": "connectors.projects.locations.getRuntimeConfig",
              "parameters": {
                "name": {
                  "description": "Required. Resource name of the form: `projects/*/locations/*/runtimeConfig`",
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+/runtimeConfig$",
                  "required": true,
                  "location": "path"
                }
              },
              "response": {
                "$ref": "RuntimeConfig"
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/runtimeConfig",
              "httpMethod": "GET",
              "description": "Gets the runtimeConfig of a location. RuntimeConfig is a singleton resource for each location.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "getRegionalSettings": {
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "response": {
                "$ref": "RegionalSettings"
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/regionalSettings",
              "httpMethod": "GET",
              "id": "connectors.projects.locations.getRegionalSettings",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+/regionalSettings$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The resource name of the Regional Settings.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "GetRegionalSettings gets settings of a region. RegionalSettings is a singleton resource."
            },
            "updateRegionalSettings": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Update the settings of a region.",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "request": {
                "$ref": "RegionalSettings"
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/regionalSettings",
              "httpMethod": "PATCH",
              "response": {
                "$ref": "Operation"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Output only. Resource name of the Connection. Format: projects/{project}/locations/{location}/regionalSettings",
                  "pattern": "^projects/[^/]+/locations/[^/]+/regionalSettings$",
                  "required": true,
                  "location": "path"
                },
                "updateMask": {
                  "description": "Required. The list of fields to update.",
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string"
                }
              },
              "id": "connectors.projects.locations.updateRegionalSettings"
            },
            "list": {
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "description": "The resource that owns the locations collection, if applicable.",
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path"
                },
                "filter": {
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query"
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "extraLocationTypes": {
                  "repeated": true,
                  "type": "string",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query"
                }
              },
              "id": "connectors.projects.locations.list",
              "flatPath": "v1/projects/{projectsId}/locations",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "path": "v1/{+name}/locations",
              "parameterOrder": [
                "name"
              ]
            }
          },
          "resources": {
            "connections": {
              "methods": {
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListConnectionsResponse"
                  },
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. Parent resource of the Connection, of the form: `projects/*/locations/*`",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Page size.",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Page token.",
                      "location": "query"
                    },
                    "orderBy": {
                      "description": "Order by parameters.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Filter.",
                      "location": "query"
                    },
                    "view": {
                      "enum": [
                        "CONNECTION_VIEW_UNSPECIFIED",
                        "BASIC",
                        "FULL"
                      ],
                      "location": "query",
                      "type": "string",
                      "description": "Specifies which fields of the Connection are returned in the response. Defaults to `BASIC` view.",
                      "enumDescriptions": [
                        "CONNECTION_UNSPECIFIED.",
                        "Do not include runtime required configs.",
                        "Include runtime required configs."
                      ]
                    }
                  },
                  "id": "connectors.projects.locations.connections.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/connections",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists Connections in a given project and location."
                },
                "delete": {
                  "description": "Deletes a single Connection.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "connectors.projects.locations.connections.delete",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. Resource name of the form: `projects/*/locations/*/connections/*`",
                      "type": "string"
                    },
                    "force": {
                      "type": "boolean",
                      "description": "Optional. If set to true, any child EndUserAuthentication/EventSubscription resources will also be deleted. Otherwise, the request will fail if the connection has any children. Followed the best practice from https://aip.dev/135#cascading-delete",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}",
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "getIamPolicy": {
                  "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "options.requestedPolicyVersion": {
                      "type": "integer",
                      "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                      "location": "query",
                      "format": "int32"
                    }
                  },
                  "id": "connectors.projects.locations.connections.getIamPolicy",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:getIamPolicy",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Policy"
                  },
                  "path": "v1/{+resource}:getIamPolicy",
                  "parameterOrder": [
                    "resource"
                  ]
                },
                "removeToolspecOverride": {
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "RemoveConnectionToolspecOverrideRequest"
                  },
                  "path": "v1/{+name}:removeToolspecOverride",
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:removeToolspecOverride",
                  "httpMethod": "POST",
                  "id": "connectors.projects.locations.connections.removeToolspecOverride",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. Resource name format: projects/{project}/locations/{location}/connections/{connection}"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes all Toolspec Override for a connection."
                },
                "getConnectionSchemaMetadata": {
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/connectionSchemaMetadata$",
                      "required": true,
                      "location": "path",
                      "description": "Required. Connection name Format: projects/{project}/locations/{location}/connections/{connection}/connectionSchemaMetadata",
                      "type": "string"
                    }
                  },
                  "id": "connectors.projects.locations.connections.getConnectionSchemaMetadata",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/connectionSchemaMetadata",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ConnectionSchemaMetadata"
                  },
                  "description": "Gets schema metadata of a connection. SchemaMetadata is a singleton resource for each connection.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "fetchToolspecOverride": {
                  "description": "Fetches Toolspec Override for a connection for the given list of tools. Returns results from the db if the tool is already present.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "connectors.projects.locations.connections.fetchToolspecOverride",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "required": true,
                      "description": "Required. Resource name format: projects/{project}/locations/{location}/connections/{connection}",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "FetchConnectionToolspecOverrideResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:fetchToolspecOverride",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "FetchConnectionToolspecOverrideRequest"
                  },
                  "path": "v1/{+name}:fetchToolspecOverride",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "modifyToolspecOverride": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates Toolspec Override for a connection with the admin provided descriptions.",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}:modifyToolspecOverride",
                  "request": {
                    "$ref": "ModifyConnectionToolspecOverrideRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:modifyToolspecOverride",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "ModifyConnectionToolspecOverrideResponse"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "required": true,
                      "description": "Required. Resource name format: projects/{project}/locations/{location}/connections/{connection}",
                      "type": "string"
                    }
                  },
                  "id": "connectors.projects.locations.connections.modifyToolspecOverride"
                },
                "listenEvent": {
                  "request": {
                    "$ref": "ListenEventRequest"
                  },
                  "path": "v1/{+resourcePath}:listenEvent",
                  "parameterOrder": [
                    "resourcePath"
                  ],
                  "id": "connectors.projects.locations.connections.listenEvent",
                  "parameters": {
                    "resourcePath": {
                      "type": "string",
                      "description": "Required. Resource path for request.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "ListenEventResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:listenEvent",
                  "httpMethod": "POST",
                  "description": "ListenEvent listens to the event.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "repairEventing": {
                  "request": {
                    "$ref": "RepairEventingRequest"
                  },
                  "path": "v1/{+name}:repairEventing",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "connectors.projects.locations.connections.repairEventing",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. Resource name of the form: `projects/*/locations/*/connections/*`",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:repairEventing",
                  "httpMethod": "POST",
                  "description": "RepaiEventing tries to repair eventing related event subscriptions.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "setIamPolicy": {
                  "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "resource": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "required": true,
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "type": "string"
                    }
                  },
                  "id": "connectors.projects.locations.connections.setIamPolicy",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:setIamPolicy",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Policy"
                  },
                  "path": "v1/{+resource}:setIamPolicy",
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "parameterOrder": [
                    "resource"
                  ]
                },
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "Connection"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}",
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Output only. Resource name of the Connection. Format: projects/{project}/locations/{location}/connections/{connection}"
                    },
                    "updateMask": {
                      "type": "string",
                      "description": "Required. The list of fields to update. Fields are specified relative to the connection. A field will be overwritten if it is in the mask. The field mask must not be empty, and it must not contain fields that are immutable or only set by the server. You can modify only the fields listed below. To lock/unlock a connection: * `lock_config` To suspend/resume a connection: * `suspended` To update the connection details: * `description` * `labels` * `connector_version` * `config_variables` * `auth_config` * `destination_configs` * `node_config` * `log_config` * `ssl_config` * `eventing_enablement_type` * `eventing_config` * `auth_override_enabled` * `async_operations_enabled`",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  },
                  "id": "connectors.projects.locations.connections.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates the parameters of a single Connection."
                },
                "generateToolspecOverride": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:generateToolspecOverride",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GenerateConnectionToolspecOverrideResponse"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. Resource name format: projects/{project}/locations/{location}/connections/{connection}",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "required": true
                    }
                  },
                  "id": "connectors.projects.locations.connections.generateToolspecOverride",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}:generateToolspecOverride",
                  "request": {
                    "$ref": "GenerateConnectionToolspecOverrideRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Generates Toolspec Override for a connection for the given list of entityTypes and operations. Returns results from the db if the entityType and operation are already present."
                },
                "create": {
                  "id": "connectors.projects.locations.connections.create",
                  "parameters": {
                    "connectionId": {
                      "type": "string",
                      "description": "Required. Identifier to assign to the Connection. Must be unique within scope of the parent resource.",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. Parent resource of the Connection, of the form: `projects/*/locations/*`",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "Connection"
                  },
                  "path": "v1/{+parent}/connections",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a new Connection in a given project and location.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets details of a single Connection.",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Connection"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}",
                  "httpMethod": "GET",
                  "id": "connectors.projects.locations.connections.get",
                  "parameters": {
                    "view": {
                      "enum": [
                        "CONNECTION_VIEW_UNSPECIFIED",
                        "BASIC",
                        "FULL"
                      ],
                      "location": "query",
                      "type": "string",
                      "description": "Specifies which fields of the Connection are returned in the response. Defaults to `BASIC` view.",
                      "enumDescriptions": [
                        "CONNECTION_UNSPECIFIED.",
                        "Do not include runtime required configs.",
                        "Include runtime required configs."
                      ]
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. Resource name of the form: `projects/*/locations/*/connections/*`",
                      "type": "string"
                    }
                  }
                },
                "search": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Returns Top matching Connections for a given query.",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}:search",
                  "response": {
                    "$ref": "SearchConnectionsResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections:search",
                  "httpMethod": "GET",
                  "id": "connectors.projects.locations.connections.search",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. Parent resource of the Connection, of the form: `projects/*/locations/*/connections`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections$",
                      "required": true,
                      "location": "path"
                    },
                    "pageToken": {
                      "description": "Optional. page_token",
                      "location": "query",
                      "type": "string"
                    },
                    "query": {
                      "description": "Required. The query against which the search needs to be done.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. The number of top matching connectors to return",
                      "location": "query",
                      "format": "int32"
                    }
                  }
                },
                "testIamPermissions": {
                  "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+resource}:testIamPermissions",
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "parameters": {
                    "resource": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "required": true,
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "type": "string"
                    }
                  },
                  "id": "connectors.projects.locations.connections.testIamPermissions",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:testIamPermissions",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  }
                }
              },
              "resources": {
                "eventSubscriptions": {
                  "methods": {
                    "list": {
                      "response": {
                        "$ref": "ListEventSubscriptionsResponse"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/eventSubscriptions",
                      "httpMethod": "GET",
                      "id": "connectors.projects.locations.connections.eventSubscriptions.list",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "Required. Parent resource of the EventSubscription, of the form: `projects/*/locations/*/connections/*`"
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "Page size.",
                          "location": "query",
                          "format": "int32"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Page token.",
                          "location": "query"
                        },
                        "orderBy": {
                          "description": "Order by parameters.",
                          "location": "query",
                          "type": "string"
                        },
                        "filter": {
                          "type": "string",
                          "description": "Filter.",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/eventSubscriptions",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "List EventSubscriptions in a given project,location and connection."
                    },
                    "patch": {
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "EventSubscription"
                      },
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "Operation"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/eventSubscriptions/{eventSubscriptionsId}",
                      "httpMethod": "PATCH",
                      "id": "connectors.projects.locations.connections.eventSubscriptions.patch",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/eventSubscriptions/[^/]+$",
                          "required": true,
                          "description": "Required. Identifier. Resource name of the EventSubscription. Format: projects/{project}/locations/{location}/connections/{connection}/eventSubscriptions/{event_subscription}",
                          "type": "string"
                        },
                        "updateMask": {
                          "description": "Required. The list of fields to update. Fields are specified relative to the Subscription. A field will be overwritten if it is in the mask. You can modify only the fields listed below. To update the EventSubscription details: * `serviceAccount`",
                          "location": "query",
                          "format": "google-fieldmask",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Updates the parameters of a single EventSubscription."
                    },
                    "delete": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Deletes a single EventSubscription.",
                      "response": {
                        "$ref": "Operation"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/eventSubscriptions/{eventSubscriptionsId}",
                      "httpMethod": "DELETE",
                      "id": "connectors.projects.locations.connections.eventSubscriptions.delete",
                      "parameters": {
                        "name": {
                          "description": "Required. Resource name of the form: `projects/*/locations/*/connections/*/eventsubscriptions/*`",
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/eventSubscriptions/[^/]+$",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}"
                    },
                    "create": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Creates a new EventSubscription in a given project,location and connection.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/eventSubscriptions",
                      "request": {
                        "$ref": "EventSubscription"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/eventSubscriptions",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "description": "Required. Parent resource of the EventSubscription, of the form: `projects/*/locations/*/connections/*`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                          "required": true,
                          "location": "path"
                        },
                        "eventSubscriptionId": {
                          "type": "string",
                          "description": "Required. Identifier to assign to the Event Subscription. Must be unique within scope of the parent resource.",
                          "location": "query"
                        }
                      },
                      "id": "connectors.projects.locations.connections.eventSubscriptions.create"
                    },
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Gets details of a single EventSubscription.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/eventSubscriptions/{eventSubscriptionsId}",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "EventSubscription"
                      },
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. Resource name of the form: `projects/*/locations/*/connections/*/eventSubscriptions/*`",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/eventSubscriptions/[^/]+$",
                          "required": true
                        }
                      },
                      "id": "connectors.projects.locations.connections.eventSubscriptions.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}"
                    },
                    "retry": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "RetryEventSubscription retries the registration of Subscription.",
                      "response": {
                        "$ref": "Operation"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/eventSubscriptions/{eventSubscriptionsId}:retry",
                      "httpMethod": "POST",
                      "id": "connectors.projects.locations.connections.eventSubscriptions.retry",
                      "parameters": {
                        "name": {
                          "description": "Required. Resource name of the form: `projects/*/locations/*/connections/*/eventSubscriptions/*`",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/eventSubscriptions/[^/]+$",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "RetryEventSubscriptionRequest"
                      },
                      "path": "v1/{+name}:retry"
                    }
                  }
                },
                "endUserAuthentications": {
                  "methods": {
                    "create": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "EndUserAuthentication"
                      },
                      "path": "v1/{+parent}/endUserAuthentications",
                      "response": {
                        "$ref": "Operation"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/endUserAuthentications",
                      "httpMethod": "POST",
                      "id": "connectors.projects.locations.connections.endUserAuthentications.create",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "Required. Parent resource of the EndUserAuthentication, of the form: `projects/*/locations/*/connections/*`"
                        },
                        "endUserAuthenticationId": {
                          "type": "string",
                          "description": "Required. Identifier to assign to the EndUserAuthentication. Must be unique within scope of the parent resource.",
                          "location": "query"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Creates a new EndUserAuthentication in a given project,location and connection."
                    },
                    "list": {
                      "description": "List EndUserAuthentications in a given project,location and connection.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/endUserAuthentications",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "Required. Parent resource of the EndUserAuthentication, of the form: `projects/*/locations/*/connections/*`"
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "Page size.",
                          "location": "query",
                          "format": "int32"
                        },
                        "filter": {
                          "description": "Filter.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageToken": {
                          "description": "Page token.",
                          "location": "query",
                          "type": "string"
                        },
                        "orderBy": {
                          "description": "Order by parameters.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "id": "connectors.projects.locations.connections.endUserAuthentications.list",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/endUserAuthentications",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListEndUserAuthenticationsResponse"
                      }
                    },
                    "patch": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Updates the parameters of a single EndUserAuthentication.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/endUserAuthentications/{endUserAuthenticationsId}",
                      "httpMethod": "PATCH",
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. Identifier. Resource name of the EndUserAuthentication. Format: projects/{project}/locations/{location}/connections/{connection}/endUserAuthentications/{end_user_authentication}",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/endUserAuthentications/[^/]+$",
                          "required": true
                        },
                        "updateMask": {
                          "type": "string",
                          "description": "Required. The list of fields to update. A field will be overwritten if it is in the mask. You can modify only the fields listed below. To update the EndUserAuthentication details: * `notify_endpoint_destination`",
                          "location": "query",
                          "format": "google-fieldmask"
                        }
                      },
                      "id": "connectors.projects.locations.connections.endUserAuthentications.patch",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "request": {
                        "$ref": "EndUserAuthentication"
                      }
                    },
                    "delete": {
                      "description": "Deletes a single EndUserAuthentication.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/endUserAuthentications/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "Required. Resource name of the form: `projects/*/locations/*/connections/*/endUserAuthentication/*`"
                        }
                      },
                      "id": "connectors.projects.locations.connections.endUserAuthentications.delete",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/endUserAuthentications/{endUserAuthenticationsId}",
                      "httpMethod": "DELETE",
                      "response": {
                        "$ref": "Operation"
                      }
                    },
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Gets details of a single EndUserAuthentication.",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/endUserAuthentications/{endUserAuthenticationsId}",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "EndUserAuthentication"
                      },
                      "parameters": {
                        "name": {
                          "description": "Required. Resource name of the form: `projects/*/locations/*/connections/*/EndUserAuthentications/*`",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/endUserAuthentications/[^/]+$",
                          "required": true,
                          "location": "path"
                        },
                        "view": {
                          "description": "Optional. View of the EndUserAuthentication to return.",
                          "enumDescriptions": [
                            "END_USER_AUTHENTICATION_UNSPECIFIED.",
                            "Do not include secret fields.",
                            "Include secret fields."
                          ],
                          "type": "string",
                          "location": "query",
                          "enum": [
                            "END_USER_AUTHENTICATION_VIEW_UNSPECIFIED",
                            "BASIC_VIEW",
                            "FULL_VIEW"
                          ]
                        }
                      },
                      "id": "connectors.projects.locations.connections.endUserAuthentications.get"
                    }
                  }
                },
                "connectionSchemaMetadata": {
                  "methods": {
                    "listActions": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "List actions.",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}:listActions",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/connectionSchemaMetadata:listActions",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListActionsResponse"
                      },
                      "parameters": {
                        "filter": {
                          "type": "string",
                          "description": "Required. Filter Wildcards are not supported in the filter currently.",
                          "location": "query"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Page token.",
                          "location": "query"
                        },
                        "pageSize": {
                          "description": "Page size. If unspecified, at most 50 actions will be returned.",
                          "location": "query",
                          "format": "int32",
                          "type": "integer"
                        },
                        "name": {
                          "description": "Required. Resource name format. projects/{project}/locations/{location}/connections/{connection}/connectionSchemaMetadata",
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/connectionSchemaMetadata$",
                          "required": true
                        },
                        "view": {
                          "type": "string",
                          "description": "Specifies which fields are returned in response. Defaults to BASIC view.",
                          "enumDescriptions": [
                            "",
                            ""
                          ],
                          "enum": [
                            "VIEW_UNSPECIFIED",
                            "BASIC"
                          ],
                          "location": "query"
                        }
                      },
                      "id": "connectors.projects.locations.connections.connectionSchemaMetadata.listActions"
                    },
                    "getEntityType": {
                      "description": "Get entity type.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}:getEntityType",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "connectors.projects.locations.connections.connectionSchemaMetadata.getEntityType",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/connectionSchemaMetadata$",
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Required. Resource name format: projects/{project}/locations/{location}/connections/{connection}/connectionSchemaMetadata"
                        },
                        "entityId": {
                          "description": "Required. Id of the entity type.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/connectionSchemaMetadata:getEntityType",
                      "httpMethod": "GET"
                    },
                    "getAction": {
                      "path": "v1/{+name}:getAction",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/connectionSchemaMetadata$",
                          "required": true,
                          "type": "string",
                          "description": "Required. Resource name format: projects/{project}/locations/{location}/connections/{connection}/connectionSchemaMetadata"
                        },
                        "actionId": {
                          "type": "string",
                          "description": "Required. Id of the action.",
                          "location": "query"
                        }
                      },
                      "id": "connectors.projects.locations.connections.connectionSchemaMetadata.getAction",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/connectionSchemaMetadata:getAction",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Get action.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "refresh": {
                      "description": "Refresh runtime schema of a connection.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "connectors.projects.locations.connections.connectionSchemaMetadata.refresh",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/connectionSchemaMetadata$",
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Required. Resource name. Format: projects/{project}/locations/{location}/connections/{connection}/connectionSchemaMetadata"
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/connectionSchemaMetadata:refresh",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "RefreshConnectionSchemaMetadataRequest"
                      },
                      "path": "v1/{+name}:refresh",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "listEntityTypes": {
                      "description": "List entity types.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "connectors.projects.locations.connections.connectionSchemaMetadata.listEntityTypes",
                      "parameters": {
                        "view": {
                          "enum": [
                            "VIEW_UNSPECIFIED",
                            "BASIC"
                          ],
                          "location": "query",
                          "type": "string",
                          "description": "Specifies which fields are returned in response. Defaults to BASIC view.",
                          "enumDescriptions": [
                            "",
                            ""
                          ]
                        },
                        "name": {
                          "description": "Required. Resource name format: projects/{project}/locations/{location}/connections/{connection}/connectionSchemaMetadata",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/connectionSchemaMetadata$",
                          "required": true,
                          "location": "path"
                        },
                        "pageSize": {
                          "description": "Page size. If unspecified, at most 50 entity types will be returned.",
                          "location": "query",
                          "format": "int32",
                          "type": "integer"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Page token.",
                          "location": "query"
                        },
                        "filter": {
                          "type": "string",
                          "description": "Required. Filter Wildcards are not supported in the filter currently.",
                          "location": "query"
                        }
                      },
                      "response": {
                        "$ref": "ListEntityTypesResponse"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/connectionSchemaMetadata:listEntityTypes",
                      "httpMethod": "GET",
                      "path": "v1/{+name}:listEntityTypes",
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                },
                "runtimeEntitySchemas": {
                  "methods": {
                    "list": {
                      "description": "List schema of a runtime entities filtered by entity name.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/runtimeEntitySchemas",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "connectors.projects.locations.connections.runtimeEntitySchemas.list",
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "description": "Page token.",
                          "location": "query"
                        },
                        "filter": {
                          "description": "Required. Filter Format: entity=\"{entityId}\" Only entity field is supported with literal equality operator. Accepted filter example: entity=\"Order\" Wildcards are not supported in the filter currently.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                          "required": true,
                          "location": "path",
                          "description": "Required. Parent resource of RuntimeEntitySchema Format: projects/{project}/locations/{location}/connections/{connection}",
                          "type": "string"
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "Page size.",
                          "location": "query",
                          "format": "int32"
                        }
                      },
                      "response": {
                        "$ref": "ListRuntimeEntitySchemasResponse"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/runtimeEntitySchemas",
                      "httpMethod": "GET"
                    }
                  }
                },
                "runtimeActionSchemas": {
                  "methods": {
                    "list": {
                      "id": "connectors.projects.locations.connections.runtimeActionSchemas.list",
                      "parameters": {
                        "parent": {
                          "description": "Required. Parent resource of RuntimeActionSchema Format: projects/{project}/locations/{location}/connections/{connection}",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                          "required": true,
                          "location": "path"
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "Page size.",
                          "location": "query",
                          "format": "int32"
                        },
                        "filter": {
                          "type": "string",
                          "description": "Required. Filter Format: action=\"{actionId}\" Only action field is supported with literal equality operator. Accepted filter example: action=\"CancelOrder\" Wildcards are not supported in the filter currently.",
                          "location": "query"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Page token.",
                          "location": "query"
                        },
                        "schemaAsString": {
                          "description": "Optional. Flag to indicate if schema should be returned as string or not",
                          "location": "query",
                          "type": "boolean"
                        }
                      },
                      "response": {
                        "$ref": "ListRuntimeActionSchemasResponse"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/runtimeActionSchemas",
                      "httpMethod": "GET",
                      "path": "v1/{+parent}/runtimeActionSchemas",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "List schema of a runtime actions filtered by action name.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                }
              }
            },
            "global": {
              "methods": {
                "getSettings": {
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/global/settings$",
                      "required": true,
                      "description": "Required. The resource name of the Settings.",
                      "type": "string"
                    }
                  },
                  "id": "connectors.projects.locations.global.getSettings",
                  "flatPath": "v1/projects/{projectsId}/locations/global/settings",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Settings"
                  },
                  "description": "GetGlobalSettings gets settings of a project. GlobalSettings is a singleton resource.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "updateSettings": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Update the global settings of a project.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/global/settings",
                  "httpMethod": "PATCH",
                  "id": "connectors.projects.locations.global.updateSettings",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/global/settings$",
                      "required": true,
                      "location": "path",
                      "description": "Output only. Resource name of the Connection. Format: projects/{project}/locations/global/settings}",
                      "type": "string"
                    },
                    "updateMask": {
                      "type": "string",
                      "description": "Required. The list of fields to update.",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "Settings"
                  },
                  "path": "v1/{+name}"
                }
              },
              "resources": {
                "managedZones": {
                  "methods": {
                    "create": {
                      "id": "connectors.projects.locations.global.managedZones.create",
                      "parameters": {
                        "parent": {
                          "description": "Required. Parent resource of the ManagedZone, of the form: `projects/*/locations/global`",
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/global$",
                          "required": true
                        },
                        "managedZoneId": {
                          "description": "Required. Identifier to assign to the ManagedZone. Must be unique within scope of the parent resource.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/global/managedZones",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "ManagedZone"
                      },
                      "path": "v1/{+parent}/managedZones",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Creates a new ManagedZone in a given project and location.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "List ManagedZones in a given project",
                      "response": {
                        "$ref": "ListManagedZonesResponse"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/global/managedZones",
                      "httpMethod": "GET",
                      "id": "connectors.projects.locations.global.managedZones.list",
                      "parameters": {
                        "returnPartialSuccess": {
                          "description": "Optional. If true, allow partial responses for multi-regional Aggregated List requests.",
                          "location": "query",
                          "type": "boolean"
                        },
                        "parent": {
                          "description": "Required. Parent resource of the Managed Zone, of the form: `projects/*/locations/global`",
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/global$",
                          "required": true
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "Page size.",
                          "location": "query",
                          "format": "int32"
                        },
                        "filter": {
                          "type": "string",
                          "description": "Filter.",
                          "location": "query"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Page token.",
                          "location": "query"
                        },
                        "orderBy": {
                          "description": "Order by parameters.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/managedZones"
                    },
                    "patch": {
                      "path": "v1/{+name}",
                      "request": {
                        "$ref": "ManagedZone"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "description": "Output only. Resource name of the Managed Zone. Format: projects/{project}/locations/global/managedZones/{managed_zone}",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/global/managedZones/[^/]+$",
                          "required": true,
                          "location": "path"
                        },
                        "updateMask": {
                          "description": "Required. The list of fields to update. Fields are specified relative to the managedZone. A field will be overwritten if it is in the mask. You can modify only the fields listed below. To update the managedZone details: * `description` * `labels` * `target_project` * `target_network`",
                          "location": "query",
                          "format": "google-fieldmask",
                          "type": "string"
                        }
                      },
                      "id": "connectors.projects.locations.global.managedZones.patch",
                      "flatPath": "v1/projects/{projectsId}/locations/global/managedZones/{managedZonesId}",
                      "httpMethod": "PATCH",
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Updates the parameters of a single ManagedZone.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "delete": {
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/global/managedZones/{managedZonesId}",
                      "httpMethod": "DELETE",
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/global/managedZones/[^/]+$",
                          "required": true,
                          "location": "path",
                          "description": "Required. Resource name of the form: `projects/*/locations/global/managedZones/*`",
                          "type": "string"
                        }
                      },
                      "id": "connectors.projects.locations.global.managedZones.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Deletes a single ManagedZone."
                    },
                    "get": {
                      "description": "Gets details of a single ManagedZone.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/global/managedZones/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "Required. Resource name of the form: `projects/*/locations/global/managedZones/*`"
                        }
                      },
                      "id": "connectors.projects.locations.global.managedZones.get",
                      "flatPath": "v1/projects/{projectsId}/locations/global/managedZones/{managedZonesId}",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ManagedZone"
                      }
                    }
                  }
                },
                "customConnectors": {
                  "methods": {
                    "get": {
                      "description": "Gets details of a single CustomConnector.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "connectors.projects.locations.global.customConnectors.get",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/global/customConnectors/[^/]+$",
                          "required": true,
                          "description": "Required. Resource name of the form: `projects/*/locations/*/customConnectors/*`",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "CustomConnector"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/global/customConnectors/{customConnectorsId}",
                      "httpMethod": "GET"
                    },
                    "delete": {
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "connectors.projects.locations.global.customConnectors.delete",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/global/customConnectors/[^/]+$",
                          "required": true,
                          "description": "Required. Resource name of the form: `projects/{project}/locations/{location}/customConnectors/{connector}`",
                          "type": "string"
                        },
                        "force": {
                          "type": "boolean",
                          "description": "Optional. If set to true, any customConnectorVersion which is a child resource will also be deleted. https://aip.dev/135#cascading-delete",
                          "location": "query"
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/global/customConnectors/{customConnectorsId}",
                      "httpMethod": "DELETE",
                      "description": "Deletes a single CustomConnector.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "list": {
                      "description": "List CustomConnectorVersions in a given project",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "connectors.projects.locations.global.customConnectors.list",
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "description": "Page token.",
                          "location": "query"
                        },
                        "filter": {
                          "description": "Filter string.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/global$",
                          "required": true,
                          "type": "string",
                          "description": "Required. Parent resource of the custom connectors, of the form: `projects/*/locations/*` Only global location is supported for CustomConnector resource."
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "Page size.",
                          "location": "query",
                          "format": "int32"
                        }
                      },
                      "response": {
                        "$ref": "ListCustomConnectorsResponse"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/global/customConnectors",
                      "httpMethod": "GET",
                      "path": "v1/{+parent}/customConnectors",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "patch": {
                      "description": "Updates the parameters of a CustomConnector.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/global/customConnectors/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Identifier. Resource name of the CustomConnector. Format: projects/{project}/locations/{location}/customConnectors/{connector}"
                        },
                        "updateMask": {
                          "description": "Required. Field mask is used to specify the fields to be overwritten in the Connector resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. Set the mask as \"*\" for full replacement, which means all fields will be overwritten.",
                          "location": "query",
                          "format": "google-fieldmask",
                          "type": "string"
                        }
                      },
                      "id": "connectors.projects.locations.global.customConnectors.patch",
                      "flatPath": "v1/projects/{projectsId}/locations/global/customConnectors/{customConnectorsId}",
                      "httpMethod": "PATCH",
                      "response": {
                        "$ref": "Operation"
                      },
                      "path": "v1/{+name}",
                      "request": {
                        "$ref": "CustomConnector"
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "create": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Creates a new CustomConnector in a given project and location.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "CustomConnector"
                      },
                      "path": "v1/{+parent}/customConnectors",
                      "response": {
                        "$ref": "Operation"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/global/customConnectors",
                      "httpMethod": "POST",
                      "id": "connectors.projects.locations.global.customConnectors.create",
                      "parameters": {
                        "customConnectorId": {
                          "description": "Required. Identifier to assign to the CreateCustomConnector. Must be unique within scope of the parent resource.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/global$",
                          "required": true,
                          "type": "string",
                          "description": "Required. Parent resource of the CreateCustomConnector, of the form: `projects/{project}/locations/*`"
                        }
                      }
                    }
                  },
                  "resources": {
                    "customConnectorVersions": {
                      "methods": {
                        "list": {
                          "description": "List CustomConnectorVersions in a given project",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "connectors.projects.locations.global.customConnectors.customConnectorVersions.list",
                          "parameters": {
                            "parent": {
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/global/customConnectors/[^/]+$",
                              "required": true,
                              "description": "Required. Parent resource of the connectors, of the form: `projects/*/locations/{location}/customConnectors/*/customConnectorVersions/*`",
                              "type": "string"
                            },
                            "pageSize": {
                              "type": "integer",
                              "description": "Page size.",
                              "location": "query",
                              "format": "int32"
                            },
                            "pageToken": {
                              "description": "Page token.",
                              "location": "query",
                              "type": "string"
                            }
                          },
                          "response": {
                            "$ref": "ListCustomConnectorVersionsResponse"
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/global/customConnectors/{customConnectorsId}/customConnectorVersions",
                          "httpMethod": "GET",
                          "path": "v1/{+parent}/customConnectorVersions",
                          "parameterOrder": [
                            "parent"
                          ]
                        },
                        "get": {
                          "description": "Gets details of a single CustomConnectorVersion.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1/{+name}",
                          "parameterOrder": [
                            "name"
                          ],
                          "id": "connectors.projects.locations.global.customConnectors.customConnectorVersions.get",
                          "parameters": {
                            "name": {
                              "type": "string",
                              "description": "Required. Resource name of the form: `projects/*/locations/{location}/customConnectors/*/customConnectorVersions/*`",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/global/customConnectors/[^/]+/customConnectorVersions/[^/]+$",
                              "required": true
                            }
                          },
                          "response": {
                            "$ref": "CustomConnectorVersion"
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/global/customConnectors/{customConnectorsId}/customConnectorVersions/{customConnectorVersionsId}",
                          "httpMethod": "GET"
                        },
                        "create": {
                          "flatPath": "v1/projects/{projectsId}/locations/global/customConnectors/{customConnectorsId}/customConnectorVersions",
                          "httpMethod": "POST",
                          "response": {
                            "$ref": "Operation"
                          },
                          "parameters": {
                            "customConnectorVersionId": {
                              "type": "string",
                              "description": "Required. Identifier to assign to the CreateCustomConnectorVersion. Must be unique within scope of the parent resource.",
                              "location": "query"
                            },
                            "parent": {
                              "description": "Required. Parent resource of the CreateCustomConnector, of the form: `projects/{project}/locations/{location}/customConnectors/{custom_connector}`",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/global/customConnectors/[^/]+$",
                              "required": true,
                              "location": "path"
                            }
                          },
                          "id": "connectors.projects.locations.global.customConnectors.customConnectorVersions.create",
                          "parameterOrder": [
                            "parent"
                          ],
                          "path": "v1/{+parent}/customConnectorVersions",
                          "request": {
                            "$ref": "CustomConnectorVersion"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Creates a new CustomConnectorVersion in a given project and location."
                        }
                      }
                    }
                  }
                }
              }
            },
            "endpointAttachments": {
              "methods": {
                "create": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/endpointAttachments",
                  "httpMethod": "POST",
                  "id": "connectors.projects.locations.endpointAttachments.create",
                  "parameters": {
[...]
