{
  "canonicalName": "Connectors",
  "baseUrl": "https://connectors.googleapis.com/",
  "servicePath": "",
  "documentationLink": "https://cloud.google.com/apigee/docs/api-platform/connectors/about-connectors",
  "revision": "20260804",
  "id": "connectors:v2",
  "description": "Enables users to create and manage connections to Google Cloud services and third-party business applications using the Connectors interface.",
  "discoveryVersion": "v1",
  "basePath": "",
  "schemas": {
    "GetResourcePostRequest": {
      "description": "Request message for ConnectorAgentService.GetResourcePost",
      "type": "object",
      "properties": {
        "executionConfig": {
          "description": "execution config for the request.",
          "$ref": "ExecutionConfig"
        },
        "toolSpec": {
          "description": "List of tool specifications.",
          "$ref": "ToolSpec"
        }
      },
      "id": "GetResourcePostRequest"
    },
    "MaintenanceSchedule": {
      "description": "Maintenance schedule which is exposed to customer and potentially end user, indicating published upcoming future maintenance schedule",
      "type": "object",
      "id": "MaintenanceSchedule",
      "properties": {
        "endTime": {
          "description": "The scheduled end time for the maintenance.",
          "type": "string",
          "format": "google-datetime"
        },
        "rolloutManagementPolicy": {
          "description": "The rollout management policy this maintenance schedule is associated with. When doing reschedule update request, the reschedule should be against this given policy.",
          "type": "string"
        },
        "scheduleDeadlineTime": {
          "format": "google-datetime",
          "description": "schedule_deadline_time is the time deadline any schedule start time cannot go beyond, including reschedule. It's normally the initial schedule start time plus maintenance window length (1 day or 1 week). Maintenance cannot be scheduled to start beyond this deadline.",
          "type": "string"
        },
        "canReschedule": {
          "deprecated": true,
          "description": "This field is deprecated, and will be always set to true since reschedule can happen multiple times now. This field should not be removed until all service producers remove this for their customers.",
          "type": "boolean"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "The scheduled start time for the maintenance.",
          "type": "string"
        }
      }
    },
    "HttpHeader": {
      "description": "A single HTTP header. Keys are case-insensitive. Multiple headers with the same key may be present.",
      "type": "object",
      "properties": {
        "key": {
          "description": "The header name.",
          "type": "string"
        },
        "value": {
          "description": "The header value.",
          "type": "string"
        }
      },
      "id": "HttpHeader"
    },
    "MaintenanceWindow": {
      "id": "MaintenanceWindow",
      "properties": {
        "weeklyCycle": {
          "description": "Weekly cycle.",
          "$ref": "WeeklyCycle"
        },
        "dailyCycle": {
          "description": "Daily cycle.",
          "$ref": "DailyCycle"
        }
      },
      "description": "MaintenanceWindow definition.",
      "type": "object"
    },
    "ExecuteSqlQueryResponse": {
      "properties": {
        "results": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object."
            }
          },
          "description": "In the case of successful execution of the query the response contains results returned by the external system. For example, the result rows of the query are contained in the 'results' Struct list - \"results\": [ { \"field1\": \"val1\", \"field2\": \"val2\",.. },.. ] Each Struct row can contain fields any type of like nested Structs or lists.",
          "type": "array"
        }
      },
      "id": "ExecuteSqlQueryResponse",
      "description": "A response returned by the connection after executing the sql query.",
      "type": "object"
    },
    "Tool": {
      "properties": {
        "description": {
          "description": "Description of the tool.",
          "type": "string"
        },
        "annotations": {
          "description": "Annotations for the tool.",
          "$ref": "ToolAnnotations"
        },
        "name": {
          "description": "Name of the tool.",
          "type": "string"
        },
        "inputSchema": {
          "description": "JSON schema for the input parameters of the tool.",
          "$ref": "JsonSchema"
        },
        "dependsOn": {
          "description": "List of tool names that this tool depends on.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "outputSchema": {
          "description": "JSON schema for the output of the tool.",
          "$ref": "JsonSchema"
        },
        "_meta": {
          "description": "Metadata for the tool.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "id": "Tool",
      "description": "Message representing a single tool.",
      "type": "object"
    },
    "ExchangeAuthCodeResponse": {
      "description": "ExchangeAuthCodeResponse includes the returned access token and its associated credentials.",
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Metadata like service latency, etc.",
          "type": "object",
          "additionalProperties": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "accessCredentials": {
          "$ref": "AccessCredentials"
        }
      },
      "id": "ExchangeAuthCodeResponse"
    },
    "Instance": {
      "description": "Instance represents the interface for SLM services to actuate the state of control plane resources. Example Instance in JSON, where consumer-project-number=123456, producer-project-id=cloud-sql: ```json Instance: { \"name\": \"projects/123456/locations/us-east1/instances/prod-instance\", \"create_time\": { \"seconds\": 1526406431, }, \"labels\": { \"env\": \"prod\", \"foo\": \"bar\" }, \"state\": READY, \"software_versions\": { \"software_update\": \"cloud-sql-09-28-2018\", }, \"maintenance_policy_names\": { \"UpdatePolicy\": \"projects/123456/locations/us-east1/maintenancePolicies/prod-update-policy\", } \"tenant_project_id\": \"cloud-sql-test-tenant\", \"producer_metadata\": { \"cloud-sql-tier\": \"basic\", \"cloud-sql-instance-size\": \"1G\", }, \"provisioned_resources\": [ { \"resource-type\": \"compute-instance\", \"resource-url\": \"https://www.googleapis.com/compute/v1/projects/cloud-sql/zones/us-east1-b/instances/vm-1\", } ], \"maintenance_schedules\": { \"csa_rollout\": { \"start_time\": { \"seconds\": 1526406431, }, \"end_time\": { \"seconds\": 1535406431, }, }, \"ncsa_rollout\": { \"start_time\": { \"seconds\": 1526406431, }, \"end_time\": { \"seconds\": 1535406431, }, } }, \"consumer_defined_name\": \"my-sql-instance1\", } ``` LINT.IfChange",
      "type": "object",
      "id": "Instance",
      "properties": {
        "instanceType": {
          "description": "Optional. The instance_type of this instance of format: projects/{project_number}/locations/{location_id}/instanceTypes/{instance_type_id}. Instance Type represents a high-level tier or SKU of the service that this instance belong to. When enabled(eg: Maintenance Rollout), Rollout uses 'instance_type' along with 'software_versions' to determine whether instance needs an update or not.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. Resource labels to represent user provided metadata. Each label is a key-value pair, where both the key and the value are arbitrary strings provided by the user.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "description": "Output only. Timestamp when the resource was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Timestamp when the resource was last modified.",
          "type": "string",
          "format": "google-datetime"
        },
        "notificationParameters": {
          "description": "Optional. notification_parameter are information that service producers may like to include that is not relevant to Rollout. This parameter will only be passed to Gamma and Cloud Logging for notification/logging purpose.",
          "type": "object",
          "additionalProperties": {
            "$ref": "NotificationParameter"
          }
        },
        "consumerDefinedName": {
          "description": "consumer_defined_name is the name of the instance set by the service consumers. Generally this is different from the `name` field which reperesents the system-assigned id of the instance which the service consumers do not recognize. This is a required field for tenants onboarding to Maintenance Window notifications (go/slm-rollout-maintenance-policies#prerequisites).",
          "type": "string"
        },
        "softwareVersions": {
          "description": "Software versions that are used to deploy this instance. This can be mutated by rollout services.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "maintenancePolicyNames": {
          "description": "Optional. The MaintenancePolicies that have been attached to the instance. The key must be of the type name of the oneof policy name defined in MaintenancePolicy, and the referenced policy must define the same policy type. For details, please refer to go/mr-user-guide. Should not be set if maintenance_settings.maintenance_policies is set.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "producerMetadata": {
          "readOnly": true,
          "description": "Output only. Custom string attributes used primarily to expose producer-specific information in monitoring dashboards. See go/get-instance-metadata.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "provisionedResources": {
          "readOnly": true,
          "description": "Output only. The list of data plane resources provisioned for this instance, e.g. compute VMs. See go/get-instance-metadata.",
          "type": "array",
          "items": {
            "$ref": "ProvisionedResource"
          }
        },
        "tenantProjectId": {
          "readOnly": true,
          "description": "Output only. ID of the associated GCP tenant project. See go/get-instance-metadata.",
          "type": "string"
        },
        "name": {
          "description": "Unique name of the resource. It uses the form: `projects/{project_number}/locations/{location_id}/instances/{instance_id}` Note: This name is passed, stored and logged across the rollout system. So use of consumer project_id or any other consumer PII in the name is strongly discouraged for wipeout (go/wipeout) compliance. See go/elysium/project_ids#storage-guidance for more details.",
          "type": "string"
        },
        "sloMetadata": {
          "readOnly": true,
          "description": "Output only. SLO metadata for instance classification in the Standardized dataplane SLO platform. See go/cloud-ssa-standard-slo for feature description.",
          "$ref": "SloMetadata"
        },
        "maintenanceSchedules": {
          "description": "The MaintenanceSchedule contains the scheduling information of published maintenance schedule with same key as software_versions.",
          "type": "object",
          "additionalProperties": {
            "$ref": "MaintenanceSchedule"
          }
        },
        "consumerProjectNumber": {
          "description": "Optional. The consumer_project_number associated with this Apigee instance. This field is added specifically to support Apigee integration with SLM Rollout and UMM. It represents the numerical project ID of the GCP project that consumes this Apigee instance. It is used for SLM rollout notifications and UMM integration, enabling proper mapping to customer projects and log delivery for Apigee instances. This field complements consumer_project_id and may be used for specific Apigee scenarios where the numerical ID is required.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state.",
            "Instance is being created.",
            "Instance has been created and is ready to use.",
            "Instance is being updated.",
            "Instance is unheathy and under repair.",
            "Instance is being deleted.",
            "Instance encountered an error and is in indeterministic state."
          ],
          "description": "Output only. Current lifecycle state of the resource (e.g. if it's being created or ready to use).",
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "UPDATING",
            "REPAIRING",
            "DELETING",
            "ERROR"
          ]
        },
        "slmInstanceTemplate": {
          "description": "Link to the SLM instance template. Only populated when updating SLM instances via SSA's Actuation service adaptor. Service producers with custom control plane (e.g. Cloud SQL) doesn't need to populate this field. Instead they should use software_versions.",
          "type": "string"
        },
        "maintenanceSettings": {
          "description": "Optional. The MaintenanceSettings associated with instance.",
          "$ref": "MaintenanceSettings"
        }
      }
    },
    "ListCustomToolNamesResponse": {
      "properties": {
        "toolNames": {
          "items": {
            "$ref": "ToolName"
          },
          "description": "List of custom tools.",
          "type": "array"
        }
      },
      "id": "ListCustomToolNamesResponse",
      "type": "object"
    },
    "ListActionsResponse": {
      "properties": {
        "unsupportedActionNames": {
          "description": "List of actions which contain unsupported Datatypes. Check datatype.proto for more information.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "Next page token if more actions available.",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata like service latency, etc.",
          "type": "object",
          "additionalProperties": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "actions": {
          "description": "List of action metadata.",
          "type": "array",
          "items": {
            "$ref": "Action"
          }
        }
      },
      "id": "ListActionsResponse",
      "description": "Response message for ActionService.ListActions",
      "type": "object"
    },
    "ToolSpec": {
      "properties": {
        "toolDefinitions": {
          "description": "List of tool definitions.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object."
            }
          }
        },
        "toolSpecVersion": {
          "description": "Version of the tool spec. Format: providerId/connectorId/versionId/toolSpecId",
          "type": "string"
        }
      },
      "id": "ToolSpec",
      "type": "object"
    },
    "ToolName": {
      "id": "ToolName",
      "properties": {
        "operation": {
          "enumDescriptions": [
            "Operation unspecified.",
            "LIST entities.",
            "GET entity.",
            "CREATE entity.",
            "UPDATE entity.",
            "DELETE entity."
          ],
          "description": "Operation for which the tool was generated.",
          "type": "string",
          "enum": [
            "OPERATION_UNSPECIFIED",
            "LIST",
            "GET",
            "CREATE",
            "UPDATE",
            "DELETE"
          ]
        },
        "name": {
          "description": "Tool name that was generated in the list tools call.",
          "type": "string"
        },
        "entityName": {
          "description": "Entity name for which the tool was generated.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListToolsPostRequest": {
      "properties": {
        "executionConfig": {
          "description": "execution config for the request.",
          "$ref": "ExecutionConfig"
        },
        "toolNames": {
          "items": {
            "type": "string"
          },
          "description": "List of tool names to for selective tool fetching.",
          "type": "array"
        },
        "toolSpec": {
          "description": "List of tool specifications.",
          "$ref": "ToolSpec"
        },
        "pageSize": {
          "description": "Page size.",
          "type": "integer",
          "format": "int32"
        },
        "pageToken": {
          "description": "Page token.",
          "type": "string"
        }
      },
      "id": "ListToolsPostRequest",
      "description": "Request message for ConnectorAgentService.ListToolsPost",
      "type": "object"
    },
    "NodeSloMetadata": {
      "description": "Node information for custom per-node SLO implementations. SSA does not support per-node SLO, but producers can populate per-node information in SloMetadata for custom precomputations. SSA Eligibility Exporter will emit per-node metric based on this information.",
      "type": "object",
      "id": "NodeSloMetadata",
      "properties": {
        "location": {
          "description": "The location of the node, if different from instance location.",
          "type": "string"
        },
        "nodeId": {
          "description": "The id of the node. This should be equal to SaasInstanceNode.node_id.",
          "type": "string"
        },
        "perSliEligibility": {
          "description": "If present, this will override eligibility for the node coming from instance or exclusions for specified SLIs.",
          "$ref": "PerSliSloEligibility"
        }
      }
    },
    "Field": {
      "properties": {
        "defaultValue": {
          "description": "The following field specifies the default value of the Field provided by the external system if a value is not provided.",
          "type": "any"
        },
        "dataType": {
          "type": "string",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "INT",
            "SMALLINT",
            "DOUBLE",
            "DATE",
            "DATETIME",
            "TIME",
            "STRING",
            "LONG",
            "BOOLEAN",
            "DECIMAL",
            "UUID",
            "BLOB",
            "BIT",
            "TINYINT",
            "INTEGER",
            "BIGINT",
            "FLOAT",
            "REAL",
            "NUMERIC",
            "CHAR",
            "VARCHAR",
            "LONGVARCHAR",
            "TIMESTAMP",
            "NCHAR",
            "NVARCHAR",
            "LONGNVARCHAR",
            "NULL",
            "OTHER",
            "JAVA_OBJECT",
            "DISTINCT",
            "STRUCT",
            "ARRAY",
            "CLOB",
            "REF",
            "DATALINK",
            "ROWID",
            "BINARY",
            "VARBINARY",
            "LONGVARBINARY",
            "NCLOB",
            "SQLXML",
            "REF_CURSOR",
            "TIME_WITH_TIMEZONE",
            "TIMESTAMP_WITH_TIMEZONE"
          ],
          "enumDescriptions": [
            "Datatype unspecified.",
            "Deprecated Int type, use INTEGER type instead.",
            "Small int type.",
            "Double type.",
            "Date type.",
            "Deprecated Datetime type.",
            "Time type.",
            "Deprecated string type, use VARCHAR type instead.",
            "Deprecated Long type, use BIGINT type instead.",
            "Boolean type.",
            "Decimal type.",
            "Deprecated UUID type, use VARCHAR instead.",
            "Blob type.",
            "Bit type.",
            "Tiny int type.",
            "Integer type.",
            "Big int type.",
            "Float type.",
            "Real type.",
            "Numeric type.",
            "Char type.",
            "Varchar type.",
            "Long varchar type.",
            "Timestamp type.",
            "Nchar type.",
            "Nvarchar type.",
            "Long Nvarchar type.",
            "Null type.",
            "Other type.",
            "Java object type.",
            "Distinct type keyword.",
            "Struct type.",
            "Array type.",
            "Clob type.",
            "Ref type.",
            "Datalink type.",
            "Row ID type.",
            "Binary type.",
            "Varbinary type.",
            "Long Varbinary type.",
            "Nclob type.",
            "SQLXML type.",
            "Ref_cursor type.",
            "Time with timezone type.",
            "Timestamp with timezone type."
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            true,
            false,
            true,
            true,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "description": "The data type of the Field."
        },
        "additionalDetails": {
          "description": "The following map contains fields that are not explicitly mentioned above,this give connectors the flexibility to add new metadata fields.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "nullable": {
          "description": "Specifies whether a null value is allowed.",
          "type": "boolean"
        },
        "reference": {
          "description": "Reference captures the association between two different entity types. Value links to the reference of another entity type.",
          "$ref": "Reference"
        },
        "key": {
          "description": "The following boolean field specifies if the current Field acts as a primary key or id if the parent is of type entity.",
          "type": "boolean"
        },
        "description": {
          "description": "A brief description of the Field.",
          "type": "string"
        },
        "name": {
          "description": "Name of the Field.",
          "type": "string"
        },
        "jsonSchema": {
          "description": "JsonSchema of the field, applicable only if field is of type `STRUCT`",
          "$ref": "JsonSchema"
        }
      },
      "id": "Field",
      "description": "Message contains EntityType's Field metadata.",
      "type": "object"
    },
    "PerSliSloEligibility": {
      "properties": {
        "eligibilities": {
          "description": "An entry in the eligibilities map specifies an eligibility for a particular SLI for the given instance. The SLI key in the name must be a valid SLI name specified in the Eligibility Exporter binary flags otherwise an error will be emitted by Eligibility Exporter and the oncaller will be alerted. If an SLI has been defined in the binary flags but the eligibilities map does not contain it, the corresponding SLI time series will not be emitted by the Eligibility Exporter. This ensures a smooth rollout and compatibility between the data produced by different versions of the Eligibility Exporters. If eligibilities map contains a key for an SLI which has not been declared in the binary flags, there will be an error message emitted in the Eligibility Exporter log and the metric for the SLI in question will not be emitted.",
          "type": "object",
          "additionalProperties": {
            "$ref": "SloEligibility"
          }
        }
      },
      "id": "PerSliSloEligibility",
      "description": "PerSliSloEligibility is a mapping from an SLI name to eligibility.",
      "type": "object"
    },
    "RefreshAccessTokenRequest": {
      "id": "RefreshAccessTokenRequest",
      "properties": {
        "oauth2Config": {
          "description": "OAuth2Config contains the OAuth2 config for the connection.",
          "$ref": "OAuth2Config"
        },
        "refreshToken": {
          "description": "Optional. Refresh Token String. If the Refresh Token is not provided, the runtime will read the data from the secret manager.",
          "type": "string"
        },
        "executionConfig": {
          "description": "ExecutionConfig contains the configuration for the execution of the request.",
          "$ref": "ExecutionConfig"
        }
      },
      "description": "RefreshAccessTokenRequest includes the refresh token.",
      "type": "object"
    },
    "WeeklyCycle": {
      "id": "WeeklyCycle",
      "properties": {
        "schedule": {
          "description": "User can specify multiple windows in a week. Minimum of 1 window.",
          "type": "array",
          "items": {
            "$ref": "Schedule"
          }
        }
      },
      "description": "Time window specified for weekly operations.",
      "type": "object"
    },
    "AuthCodeData": {
      "description": "AuthCodeData contains the data the runtime plane will give the connector backend in exchange for access and refresh tokens.",
      "type": "object",
      "properties": {
        "pkceVerifier": {
          "description": "OAuth PKCE verifier, needed if PKCE is enabled for this particular connection.",
          "type": "string"
        },
        "redirectUri": {
          "description": "OAuth redirect URI passed in during the auth code flow, required by some OAuth backends.",
          "type": "string"
        },
        "authCode": {
          "description": "OAuth authorization code.",
          "type": "string"
        },
        "scopes": {
          "description": "Scopes the connection will request when the user performs the auth code flow.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "AuthCodeData"
    },
    "GenerateCustomToolspecResponse": {
      "type": "object",
      "properties": {
        "toolSpec": {
          "description": "tool spec that has tool_defitions array containing the tools for all sted tool_names.",
          "$ref": "ToolSpec"
        }
      },
      "id": "GenerateCustomToolspecResponse"
    },
    "ListEntityTypesResponse": {
      "description": "Response message for EntityService.ListEntityTypes",
      "type": "object",
      "id": "ListEntityTypesResponse",
      "properties": {
        "nextPageToken": {
          "description": "Next page token if more entity types available.",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata like service latency, etc.",
          "type": "object",
          "additionalProperties": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "types": {
          "items": {
            "$ref": "EntityType"
          },
          "description": "List of metadata related to all entity types.",
          "type": "array"
        },
        "unsupportedTypeNames": {
          "description": "List of entity type names which contain unsupported Datatypes. Check datatype.proto for more information.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "UpdateEntitiesWithConditionsResponse": {
      "id": "UpdateEntitiesWithConditionsResponse",
      "properties": {
        "response": {
          "description": "Response returned by the external system.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "metadata": {
          "description": "Metadata like service latency, etc.",
          "type": "object",
          "additionalProperties": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      },
      "description": "Response message for EntityService.UpdateEntitiesWithConditions",
      "type": "object"
    },
    "ListEntitiesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Next page token if more records are available.",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata like service latency, etc.",
          "type": "object",
          "additionalProperties": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "entities": {
          "description": "List containing entity rows.",
          "type": "array",
          "items": {
            "$ref": "Entity"
          }
        }
      },
      "id": "ListEntitiesResponse",
      "description": "Response message for EntityService.ListEntities",
      "type": "object"
    },
    "Reference": {
      "type": "object",
      "properties": {
        "type": {
          "description": "Name of reference entity type.",
          "type": "string"
        },
        "name": {
          "description": "Name of the reference field.",
          "type": "string"
        }
      },
      "id": "Reference"
    },
    "EntityType": {
      "description": "EntityType message contains metadata information about a single entity type present in the external system.",
      "type": "object",
      "id": "EntityType",
      "properties": {
        "fields": {
          "items": {
            "$ref": "Field"
          },
          "description": "List containing metadata information about each field of the entity type.",
          "type": "array"
        },
        "defaultSortBy": {
          "type": "string"
        },
        "jsonSchema": {
          "description": "JsonSchema representation of this entity's schema",
          "$ref": "JsonSchema"
        },
        "operations": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "OPERATION_UNSPECIFIED",
              "LIST",
              "GET",
              "CREATE",
              "UPDATE",
              "DELETE"
            ],
            "enumDescriptions": [
              "Operation unspecified.",
              "This operation means entity type supports LIST method.",
              "This operation means entity type supports GET method.",
              "This operation means entity type supports CREATE method.",
              "This operation means entity type supports UPDATE method.",
              "This operation means entity type supports DELETE method."
            ]
          }
        },
        "metadata": {
          "description": "Metadata like service latency, etc.",
          "type": "object",
          "additionalProperties": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "name": {
          "description": "The name of the entity type.",
          "type": "string"
        }
      }
    },
    "ExecuteSqlQueryRequest": {
      "description": "An execute sql query request containing the query and the connection to execute it on.",
      "type": "object",
      "id": "ExecuteSqlQueryRequest",
      "properties": {
        "query": {
          "description": "Required. SQL statement passed by clients like Integration Platform, the query is passed as-is to the driver used for interfacing with external systems.",
          "$ref": "Query"
        }
      }
    },
    "CheckReadinessResponse": {
      "id": "CheckReadinessResponse",
      "properties": {
        "status": {
          "type": "string"
        }
      },
      "description": "Response containing status of the connector for readiness prober.",
      "type": "object"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {},
      "id": "Empty"
    },
    "MaintenancePolicy": {
      "description": "Defines policies to service maintenance events.",
      "type": "object",
      "id": "MaintenancePolicy",
      "properties": {
        "labels": {
          "description": "Optional. Resource labels to represent user provided metadata. Each label is a key-value pair, where both the key and the value are arbitrary strings provided by the user.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "description": {
          "description": "Optional. Description of what this policy is for. Create/Update methods return INVALID_ARGUMENT if the length is greater than 512.",
          "type": "string"
        },
        "updatePolicy": {
          "description": "Maintenance policy applicable to instance update.",
          "$ref": "UpdatePolicy"
        },
        "name": {
          "description": "Required. MaintenancePolicy name using the form: `projects/{project_id}/locations/{location_id}/maintenancePolicies/{maintenance_policy_id}` where {project_id} refers to a GCP consumer project ID, {location_id} refers to a GCP region/zone, {maintenance_policy_id} must be 1-63 characters long and match the regular expression `[a-z0-9]([-a-z0-9]*[a-z0-9])?`.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the resource was created.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The time when the resource was updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "description": "Optional. The state of the policy.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "DELETING"
          ],
          "enumDescriptions": [
            "Unspecified state.",
            "Resource is ready to be used.",
            "Resource is being deleted. It can no longer be attached to instances."
          ]
        }
      }
    },
    "ExecuteActionResponse": {
      "description": "Response message for ActionService.ExecuteAction",
      "type": "object",
      "id": "ExecuteActionResponse",
      "properties": {
        "results": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object."
            }
          },
          "description": "In the case of successful invocation of the specified action, the results Struct contains values based on the response of the action invoked. 1. If the action execution produces any entities as a result, they are returned as an array of Structs with the 'key' being the field name and the 'value' being the value of that field in each result row. { 'results': [{'key': 'value'}, ...] }",
          "type": "array"
        },
        "metadata": {
          "description": "Metadata like service latency, etc.",
          "type": "object",
          "additionalProperties": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "NotificationParameter": {
      "description": "Contains notification related data.",
      "type": "object",
      "properties": {
        "values": {
          "description": "Optional. Array of string values. e.g. instance's replica information.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "NotificationParameter"
    },
    "JsonSchema": {
      "id": "JsonSchema",
      "properties": {
        "allOf": {
          "items": {
            "$ref": "JsonSchema"
          },
          "description": "Schema that must be valid against all of the sub-schemas.",
          "type": "array"
        },
        "definitions": {
          "description": "Definitions for the schema.",
          "type": "object",
          "additionalProperties": {
            "$ref": "JsonSchema"
          }
        },
        "else": {
          "description": "Schema that must be valid if the \"if\" schema is invalid.",
          "$ref": "JsonSchema"
        },
        "properties": {
          "description": "The child schemas, applicable only if this is of type `object`. The key is the name of the property and the value is the json schema that describes that property",
          "type": "object",
          "additionalProperties": {
            "$ref": "JsonSchema"
          }
        },
        "maxProperties": {
          "format": "int32",
          "description": "Maximum number of properties.",
          "type": "integer"
        },
        "additionalItems": {
          "description": "Schema for additional items.",
          "$ref": "JsonSchema"
        },
        "dependencies": {
          "description": "Dependencies for the schema.",
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        },
        "propertyNames": {
          "description": "Schema for property names.",
          "$ref": "JsonSchema"
        },
        "uniqueItems": {
          "description": "Whether the items in the array field are unique.",
          "type": "boolean"
        },
        "maximum": {
          "description": "Maximum value of the number field.",
          "type": "any"
        },
        "minLength": {
          "description": "Minimum length of the string field.",
          "type": "integer",
          "format": "int32"
        },
        "readOnly": {
          "description": "Whether the value is read-only.",
          "type": "boolean"
        },
        "contentEncoding": {
          "description": "Encoding of the content.",
          "type": "string"
        },
        "contentMediaType": {
          "description": "Media type of the content.",
          "type": "string"
        },
        "writeOnly": {
          "description": "Whether the value is write-only.",
          "type": "boolean"
        },
        "patternProperties": {
          "description": "Pattern properties for the schema.",
          "type": "object",
          "additionalProperties": {
            "$ref": "JsonSchema"
          }
        },
        "additionalDetails": {
          "description": "Additional details apart from standard json schema fields, this gives flexibility to store metadata about the schema",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "type": {
          "items": {
            "type": "string"
          },
          "description": "JSON Schema Validation: A Vocabulary for Structural Validation of JSON",
          "type": "array"
        },
        "description": {
          "description": "A description of this schema.",
          "type": "string"
        },
        "required": {
          "items": {
            "type": "string"
          },
          "description": "Whether this property is required.",
          "type": "array"
        },
        "exclusiveMinimum": {
          "description": "Whether the minimum number value is exclusive.",
          "type": "any"
        },
        "oneOf": {
          "description": "Schema that must be valid against at least one of the sub-schemas.",
          "type": "array",
          "items": {
            "$ref": "JsonSchema"
          }
        },
        "exclusiveMaximum": {
          "description": "Whether the maximum number value is exclusive.",
          "type": "any"
        },
        "format": {
          "description": "Format of the value as per https://json-schema.org/understanding-json-schema/reference/string.html#format",
          "type": "string"
        },
        "jdbcType": {
          "enumDescriptions": [
            "Datatype unspecified.",
            "Deprecated Int type, use INTEGER type instead.",
            "Small int type.",
            "Double type.",
            "Date type.",
            "Deprecated Datetime type.",
            "Time type.",
            "Deprecated string type, use VARCHAR type instead.",
            "Deprecated Long type, use BIGINT type instead.",
            "Boolean type.",
            "Decimal type.",
            "Deprecated UUID type, use VARCHAR instead.",
            "Blob type.",
            "Bit type.",
            "Tiny int type.",
            "Integer type.",
            "Big int type.",
            "Float type.",
            "Real type.",
            "Numeric type.",
            "Char type.",
            "Varchar type.",
            "Long varchar type.",
            "Timestamp type.",
            "Nchar type.",
            "Nvarchar type.",
            "Long Nvarchar type.",
            "Null type.",
            "Other type.",
            "Java object type.",
            "Distinct type keyword.",
            "Struct type.",
            "Array type.",
            "Clob type.",
            "Ref type.",
            "Datalink type.",
            "Row ID type.",
            "Binary type.",
            "Varbinary type.",
            "Long Varbinary type.",
            "Nclob type.",
            "SQLXML type.",
            "Ref_cursor type.",
            "Time with timezone type.",
            "Timestamp with timezone type."
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            true,
            false,
            true,
            true,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "description": "JDBC datatype of the field.",
          "type": "string",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "INT",
            "SMALLINT",
            "DOUBLE",
            "DATE",
            "DATETIME",
            "TIME",
            "STRING",
            "LONG",
            "BOOLEAN",
            "DECIMAL",
            "UUID",
            "BLOB",
            "BIT",
            "TINYINT",
            "INTEGER",
            "BIGINT",
            "FLOAT",
            "REAL",
            "NUMERIC",
            "CHAR",
            "VARCHAR",
            "LONGVARCHAR",
            "TIMESTAMP",
            "NCHAR",
            "NVARCHAR",
            "LONGNVARCHAR",
            "NULL",
            "OTHER",
            "JAVA_OBJECT",
            "DISTINCT",
            "STRUCT",
            "ARRAY",
            "CLOB",
            "REF",
            "DATALINK",
            "ROWID",
            "BINARY",
            "VARBINARY",
            "LONGVARBINARY",
            "NCLOB",
            "SQLXML",
            "REF_CURSOR",
            "TIME_WITH_TIMEZONE",
            "TIMESTAMP_WITH_TIMEZONE"
          ]
        },
        "additionalProperties": {
          "description": "Schema for additional properties.",
          "$ref": "JsonSchema"
        },
        "minItems": {
          "format": "int32",
          "description": "Minimum number of items in the array field.",
          "type": "integer"
        },
        "examples": {
          "items": {
            "type": "any"
          },
          "description": "Examples of the value.",
          "type": "array"
        },
        "multipleOf": {
          "description": "Number must be a multiple of this value.",
          "type": "number",
          "format": "double"
        },
        "$id": {
          "description": "The URI defining the core schema meta-schema.",
          "type": "string"
        },
        "items": {
          "description": "Schema that applies to array values, applicable only if this is of type `array`.",
          "$ref": "JsonSchema"
        },
        "minimum": {
          "description": "Minimum value of the number field.",
          "type": "any"
        },
        "contains": {
          "description": "Schema that applies to at least one item in an array.",
          "$ref": "JsonSchema"
        },
        "anyOf": {
          "items": {
            "$ref": "JsonSchema"
          },
          "description": "Schema that must be valid against at least one of the sub-schemas.",
          "type": "array"
        },
        "maxLength": {
          "description": "Maximum length of the string field.",
          "type": "integer",
          "format": "int32"
        },
        "const": {
          "description": "Const value that the data must match.",
          "type": "any"
        },
        "default": {
          "description": "The default value of the field or object described by this schema.",
          "type": "any"
        },
        "pattern": {
          "description": "Regex pattern of the string field. This is a string value that describes the regular expression that the string value should match.",
          "type": "string"
        },
        "minProperties": {
          "description": "Minimum number of properties.",
          "type": "integer",
          "format": "int32"
        },
        "enum": {
          "items": {
            "type": "any"
          },
          "description": "Possible values for an enumeration. This works in conjunction with `type` to represent types with a fixed set of legal values",
          "type": "array"
        },
        "$ref": {
          "description": "A reference to another schema.",
          "type": "string"
        },
        "title": {
          "description": "A title of the schema.",
          "type": "string"
        },
        "then": {
          "description": "Schema that must be valid if the \"if\" schema is valid.",
          "$ref": "JsonSchema"
        },
        "$schema": {
          "description": "The URI defining the schema.",
          "type": "string"
        },
        "maxItems": {
          "format": "int32",
          "description": "Maximum number of items in the array field.",
          "type": "integer"
        },
        "$comment": {
          "description": "A comment on the schema.",
          "type": "string"
        },
        "if": {
          "description": "Schema that must be valid if the \"if\" schema is valid.",
          "$ref": "JsonSchema"
        },
        "not": {
          "description": "Schema that must not be valid.",
          "$ref": "JsonSchema"
        },
        "$defs": {
          "description": "Definitions for the schema.",
          "type": "object",
          "additionalProperties": {
            "$ref": "JsonSchema"
          }
        }
      },
      "description": "JsonSchema representation of schema metadata",
      "type": "object"
    },
    "Query": {
      "id": "Query",
      "properties": {
        "query": {
          "description": "Required. Sql query to execute.",
          "type": "string"
        },
        "queryParameters": {
          "description": "In the struct, the value corresponds to the value of query parameter and date type corresponds to the date type of the query parameter.",
          "type": "array",
          "items": {
            "$ref": "QueryParameter"
          }
        },
        "maxRows": {
          "description": "Sets the limit for the maximum number of rows returned after the query execution.",
          "type": "string",
          "format": "int64"
        },
        "timeout": {
          "description": "Sets the number of seconds the driver will wait for a query to execute.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "A wrapper around the SQL query statement. This is needed so that the JSON representation of ExecuteSqlQueryRequest has the following format: `{\"query\":\"select *\"}`.",
      "type": "object"
    },
    "SloEligibility": {
      "id": "SloEligibility",
      "properties": {
        "eligible": {
          "description": "Whether an instance is eligible or ineligible.",
          "type": "boolean"
        },
        "reason": {
          "description": "User-defined reason for the current value of instance eligibility. Usually, this can be directly mapped to the internal state. An empty reason is allowed.",
          "type": "string"
        }
      },
      "description": "SloEligibility is a tuple containing eligibility value: true if an instance is eligible for SLO calculation or false if it should be excluded from all SLO-related calculations along with a user-defined reason.",
      "type": "object"
    },
    "Date": {
      "id": "Date",
      "properties": {
        "year": {
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer"
        },
        "day": {
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer"
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "type": "object"
    },
    "ExecuteHttpRequestResponse": {
      "type": "object",
      "id": "ExecuteHttpRequestResponse",
      "properties": {
        "statusCode": {
          "format": "int32",
          "description": "The HTTP status code received from the backend.",
          "type": "integer"
        },
        "headers": {
          "description": "HTTP headers received in the response. Order is preserved and duplicate keys are allowed (e.g., multiple Set-Cookie headers).",
          "type": "array",
          "items": {
            "$ref": "HttpHeader"
          }
        },
        "reason": {
          "description": "The HTTP status reason phrase received from the backend (e.g., \"Not Found\"). May be empty if the backend did not provide one.",
          "type": "string"
        },
        "body": {
          "format": "byte",
          "description": "The raw response body.",
          "type": "string"
        }
      }
    },
    "ExecutionConfig": {
      "id": "ExecutionConfig",
      "properties": {
        "headers": {
          "description": "headers to be used for the request. For example: headers:'{\"x-integration-connectors-managed-connection-id\":\"conn-id\",\"x-integration-connectors-runtime-config\":\"runtime-cfg\"}'",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CheckStatusResponse": {
      "description": "The status of the connector.",
      "type": "object",
      "id": "CheckStatusResponse",
      "properties": {
        "description": {
          "description": "When the connector is not in ACTIVE state, the description must be populated to specify the reason why it's not in ACTIVE state.",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata like service latency, etc.",
          "type": "object",
          "additionalProperties": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "state": {
          "description": "State of the connector.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "ERROR",
            "AUTH_ERROR"
          ],
          "enumDescriptions": [
            "State unspecified.",
            "The connector is active and ready to process runtime requests. This can also mean that from the connector's perspective, the connector is not in an error state and should be able to process runtime requests successfully.",
            "The connector is in an error state and cannot process runtime requests. An example reason would be that the connection container has some network issues that prevent outbound requests from being sent.",
            "This is a more specific error state that the developers can opt to use when the connector is facing auth-related errors caused by auth configuration not present, invalid auth credentials, etc."
          ]
        }
      }
    },
    "QueryParameter": {
      "properties": {
        "value": {
          "type": "any"
        },
        "dataType": {
          "enumDescriptions": [
            "Datatype unspecified.",
            "Deprecated Int type, use INTEGER type instead.",
            "Small int type.",
            "Double type.",
            "Date type.",
            "Deprecated Datetime type.",
            "Time type.",
            "Deprecated string type, use VARCHAR type instead.",
            "Deprecated Long type, use BIGINT type instead.",
            "Boolean type.",
            "Decimal type.",
            "Deprecated UUID type, use VARCHAR instead.",
            "Blob type.",
            "Bit type.",
            "Tiny int type.",
            "Integer type.",
            "Big int type.",
            "Float type.",
            "Real type.",
            "Numeric type.",
            "Char type.",
            "Varchar type.",
            "Long varchar type.",
            "Timestamp type.",
            "Nchar type.",
            "Nvarchar type.",
            "Long Nvarchar type.",
            "Null type.",
            "Other type.",
            "Java object type.",
            "Distinct type keyword.",
            "Struct type.",
            "Array type.",
            "Clob type.",
            "Ref type.",
            "Datalink type.",
            "Row ID type.",
            "Binary type.",
            "Varbinary type.",
            "Long Varbinary type.",
            "Nclob type.",
            "SQLXML type.",
            "Ref_cursor type.",
            "Time with timezone type.",
            "Timestamp with timezone type."
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            true,
            false,
            true,
            true,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "type": "string",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "INT",
            "SMALLINT",
            "DOUBLE",
            "DATE",
            "DATETIME",
            "TIME",
            "STRING",
            "LONG",
            "BOOLEAN",
            "DECIMAL",
            "UUID",
            "BLOB",
            "BIT",
            "TINYINT",
            "INTEGER",
            "BIGINT",
            "FLOAT",
            "REAL",
            "NUMERIC",
            "CHAR",
            "VARCHAR",
            "LONGVARCHAR",
            "TIMESTAMP",
            "NCHAR",
            "NVARCHAR",
            "LONGNVARCHAR",
            "NULL",
            "OTHER",
            "JAVA_OBJECT",
            "DISTINCT",
            "STRUCT",
            "ARRAY",
            "CLOB",
            "REF",
            "DATALINK",
            "ROWID",
            "BINARY",
            "VARBINARY",
            "LONGVARBINARY",
            "NCLOB",
            "SQLXML",
            "REF_CURSOR",
            "TIME_WITH_TIMEZONE",
            "TIMESTAMP_WITH_TIMEZONE"
          ]
        }
      },
      "id": "QueryParameter",
      "description": "Query parameter definition",
      "type": "object"
    },
    "ResultMetadata": {
      "properties": {
        "name": {
          "description": "Name of the metadata field.",
          "type": "string"
        },
        "jsonSchema": {
          "description": "JsonSchema of the result, applicable only if parameter is of type `STRUCT`",
          "$ref": "JsonSchema"
        },
        "defaultValue": {
          "description": "The following field specifies the default value of the Parameter provided by the external system if a value is not provided.",
          "type": "any"
        },
        "dataType": {
          "type": "string",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "INT",
            "SMALLINT",
            "DOUBLE",
            "DATE",
            "DATETIME",
            "TIME",
            "STRING",
            "LONG",
            "BOOLEAN",
            "DECIMAL",
            "UUID",
            "BLOB",
            "BIT",
            "TINYINT",
            "INTEGER",
            "BIGINT",
            "FLOAT",
            "REAL",
            "NUMERIC",
            "CHAR",
            "VARCHAR",
            "LONGVARCHAR",
            "TIMESTAMP",
            "NCHAR",
            "NVARCHAR",
            "LONGNVARCHAR",
            "NULL",
            "OTHER",
            "JAVA_OBJECT",
            "DISTINCT",
            "STRUCT",
            "ARRAY",
            "CLOB",
            "REF",
            "DATALINK",
            "ROWID",
            "BINARY",
            "VARBINARY",
            "LONGVARBINARY",
            "NCLOB",
            "SQLXML",
            "REF_CURSOR",
            "TIME_WITH_TIMEZONE",
            "TIMESTAMP_WITH_TIMEZONE"
          ],
          "enumDescriptions": [
            "Datatype unspecified.",
            "Deprecated Int type, use INTEGER type instead.",
            "Small int type.",
            "Double type.",
            "Date type.",
            "Deprecated Datetime type.",
            "Time type.",
            "Deprecated string type, use VARCHAR type instead.",
            "Deprecated Long type, use BIGINT type instead.",
            "Boolean type.",
            "Decimal type.",
            "Deprecated UUID type, use VARCHAR instead.",
            "Blob type.",
            "Bit type.",
            "Tiny int type.",
            "Integer type.",
            "Big int type.",
            "Float type.",
            "Real type.",
            "Numeric type.",
            "Char type.",
            "Varchar type.",
            "Long varchar type.",
            "Timestamp type.",
            "Nchar type.",
            "Nvarchar type.",
            "Long Nvarchar type.",
            "Null type.",
            "Other type.",
            "Java object type.",
            "Distinct type keyword.",
            "Struct type.",
            "Array type.",
            "Clob type.",
            "Ref type.",
            "Datalink type.",
            "Row ID type.",
            "Binary type.",
            "Varbinary type.",
            "Long Varbinary type.",
            "Nclob type.",
            "SQLXML type.",
            "Ref_cursor type.",
            "Time with timezone type.",
            "Timestamp with timezone type."
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            true,
            false,
            true,
            true,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "description": "The data type of the metadata field"
        },
        "description": {
          "description": "A brief description of the metadata field.",
          "type": "string"
        },
        "nullable": {
          "description": "Specifies whether a null value is allowed.",
          "type": "boolean"
        }
      },
      "id": "ResultMetadata",
      "description": "Result Metadata message contains metadata about the result returned after executing an Action.",
      "type": "object"
    },
    "Schedule": {
      "description": "Configure the schedule.",
      "type": "object",
      "id": "Schedule",
      "properties": {
        "duration": {
          "format": "google-duration",
          "description": "Output only. Duration of the time window, set by service producer.",
          "type": "string"
        },
        "startTime": {
          "description": "Time within the window to start the operations.",
          "$ref": "TimeOfDay"
        },
        "day": {
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "description": "Allows to define schedule that runs specified day of the week.",
          "type": "string",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ]
        }
      }
    },
    "DenyMaintenancePeriod": {
      "properties": {
        "startDate": {
          "description": "Deny period start date. This can be: * A full date, with non-zero year, month and day values. * A month and day value, with a zero year. Allows recurring deny periods each year. Date matching this period will have to be the same or after the start.",
          "$ref": "Date"
        },
        "time": {
          "description": "Time in UTC when the Blackout period starts on start_date and ends on end_date. This can be: * Full time. * All zeros for 00:00:00 UTC",
          "$ref": "TimeOfDay"
        },
        "endDate": {
          "description": "Deny period end date. This can be: * A full date, with non-zero year, month and day values. * A month and day value, with a zero year. Allows recurring deny periods each year. Date matching this period will have to be before the end.",
          "$ref": "Date"
        }
      },
      "id": "DenyMaintenancePeriod",
      "description": "DenyMaintenancePeriod definition. Maintenance is forbidden within the deny period. The start_date must be less than the end_date.",
      "type": "object"
    },
    "ListResourcesResponse": {
      "id": "ListResourcesResponse",
      "properties": {
        "metadata": {
          "description": "Metadata like service latency, etc.",
          "type": "object",
          "additionalProperties": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "resources": {
          "items": {
            "$ref": "Resource"
          },
          "description": "List of available resources.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Next page token if more resources available.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TimeOfDay": {
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "type": "object",
      "id": "TimeOfDay",
      "properties": {
        "minutes": {
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
          "type": "integer",
          "format": "int32"
        },
        "seconds": {
          "format": "int32",
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "type": "integer"
        },
        "nanos": {
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
          "type": "integer",
          "format": "int32"
        },
        "hours": {
          "format": "int32",
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "type": "integer"
        }
      }
    },
    "Entity": {
      "properties": {
        "metadata": {
          "description": "Metadata like service latency, etc.",
          "type": "object",
          "additionalProperties": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name of the Entity. Format: projects/{project}/locations/{location}/connections/{connection}/entityTypes/{type}/entities/{id}",
          "type": "string"
        },
        "fields": {
          "description": "Fields of the entity. The key is name of the field and the value contains the applicable `google.protobuf.Value` entry for this field.",
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        }
      },
      "id": "Entity",
      "description": "'Entity row'/ 'Entity' refers to a single row of an entity type.",
      "type": "object"
    },
    "Action": {
      "properties": {
        "resultMetadata": {
          "description": "List containing the metadata of result fields.",
          "type": "array",
          "items": {
            "$ref": "ResultMetadata"
          }
        },
        "inputJsonSchema": {
          "description": "JsonSchema representation of this actions's input schema",
          "$ref": "JsonSchema"
        },
        "metadata": {
          "description": "Metadata like service latency, etc.",
          "type": "object",
          "additionalProperties": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "name": {
          "description": "Name of the action.",
          "type": "string"
        },
        "displayName": {
          "description": "Display Name of action to be shown on client side",
          "type": "string"
        },
        "description": {
          "description": "Brief Description of action",
          "type": "string"
        },
        "resultJsonSchema": {
          "description": "JsonSchema representation of this actions's result schema",
          "$ref": "JsonSchema"
        },
        "inputParameters": {
          "description": "List containing input parameter metadata.",
          "type": "array",
          "items": {
            "$ref": "InputParameter"
          }
        }
      },
      "id": "Action",
      "description": "Action message contains metadata information about a single action present in the external system.",
      "type": "object"
    },
    "RefreshAccessTokenResponse": {
      "description": "RefreshAccessTokenResponse includes the returned access token and its associated credentials.",
      "type": "object",
      "id": "RefreshAccessTokenResponse",
      "properties": {
        "accessCredentials": {
          "$ref": "AccessCredentials"
        },
        "metadata": {
          "description": "Metadata like service latency, etc.",
          "type": "object",
          "additionalProperties": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "UpdatePolicy": {
      "description": "Maintenance policy applicable to instance updates.",
      "type": "object",
      "id": "UpdatePolicy",
      "properties": {
        "channel": {
          "description": "Optional. Relative scheduling channel applied to resource.",
          "type": "string",
          "enum": [
            "UPDATE_CHANNEL_UNSPECIFIED",
            "EARLIER",
            "LATER",
            "WEEK1",
            "WEEK2",
            "WEEK5"
          ],
          "enumDescriptions": [
            "Unspecified channel.",
            "Early channel within a customer project.",
            "Later channel within a customer project.",
            "! ! The follow channels can ONLY be used if you adopt the new MW system! ! ! NOTE: all WEEK channels are assumed to be under a weekly window. ! There is currently no dedicated channel definitions for Daily windows. ! If you use Daily window, the system will assume a 1d (24Hours) advanced ! notification period b/w EARLY and LATER. ! We may consider support more flexible daily channel specifications in ! the future. WEEK1 == EARLIER with minimum 7d advanced notification. {7d, 14d} The system will treat them equally and will use WEEK1 whenever it can. New customers are encouraged to use this channel annotation.",
            "WEEK2 == LATER with minimum 14d advanced notification {14d, 21d}.",
            "WEEK5 == 40d support. minimum 35d advanced notification {35d, 42d}."
          ]
        },
        "window": {
          "description": "Optional. Maintenance window that is applied to resources covered by this policy.",
          "$ref": "MaintenanceWindow"
        },
        "denyMaintenancePeriods": {
          "description": "Deny Maintenance Period that is applied to resource to indicate when maintenance is forbidden. The protocol supports zero-to-many such periods, but the current SLM Rollout implementation only supports zero-to-one.",
          "type": "array",
          "items": {
            "$ref": "DenyMaintenancePeriod"
          }
        }
      }
    },
    "Resource": {
      "type": "object",
      "id": "Resource",
      "properties": {
        "name": {
          "description": "A human-readable name for this resource.",
          "type": "string"
        },
        "mimeType": {
          "description": "The MIME type of this resource, if known.",
          "type": "string"
        },
        "size": {
          "format": "int64",
          "description": "The size of the raw resource content, in bytes, if known.",
          "type": "string"
        },
        "_meta": {
          "description": "Metadata for the resource.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "uri": {
          "description": "The URI of this resource.",
          "type": "string"
        },
        "description": {
          "description": "A description of what this resource represents.",
          "type": "string"
        }
      }
    },
    "InputParameter": {
      "id": "InputParameter",
      "properties": {
        "nullable": {
          "description": "Specifies whether a null value is allowed.",
          "type": "boolean"
        },
        "description": {
          "description": "A brief description of the Parameter.",
          "type": "string"
        },
        "additionalDetails": {
          "description": "The following map contains fields that are not explicitly mentioned above,this give connectors the flexibility to add new metadata fields.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "dataType": {
          "enumDescriptions": [
            "Datatype unspecified.",
            "Deprecated Int type, use INTEGER type instead.",
            "Small int type.",
            "Double type.",
            "Date type.",
            "Deprecated Datetime type.",
            "Time type.",
            "Deprecated string type, use VARCHAR type instead.",
            "Deprecated Long type, use BIGINT type instead.",
            "Boolean type.",
            "Decimal type.",
            "Deprecated UUID type, use VARCHAR instead.",
            "Blob type.",
            "Bit type.",
            "Tiny int type.",
            "Integer type.",
            "Big int type.",
            "Float type.",
            "Real type.",
            "Numeric type.",
            "Char type.",
            "Varchar type.",
            "Long varchar type.",
            "Timestamp type.",
            "Nchar type.",
            "Nvarchar type.",
            "Long Nvarchar type.",
            "Null type.",
            "Other type.",
            "Java object type.",
            "Distinct type keyword.",
            "Struct type.",
            "Array type.",
            "Clob type.",
            "Ref type.",
            "Datalink type.",
            "Row ID type.",
            "Binary type.",
            "Varbinary type.",
            "Long Varbinary type.",
            "Nclob type.",
            "SQLXML type.",
            "Ref_cursor type.",
            "Time with timezone type.",
            "Timestamp with timezone type."
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            true,
            false,
            true,
            true,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "description": "The data type of the Parameter",
          "type": "string",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "INT",
            "SMALLINT",
            "DOUBLE",
            "DATE",
            "DATETIME",
            "TIME",
            "STRING",
            "LONG",
            "BOOLEAN",
            "DECIMAL",
            "UUID",
            "BLOB",
            "BIT",
            "TINYINT",
            "INTEGER",
            "BIGINT",
            "FLOAT",
            "REAL",
            "NUMERIC",
            "CHAR",
            "VARCHAR",
            "LONGVARCHAR",
            "TIMESTAMP",
            "NCHAR",
            "NVARCHAR",
            "LONGNVARCHAR",
            "NULL",
            "OTHER",
            "JAVA_OBJECT",
            "DISTINCT",
            "STRUCT",
            "ARRAY",
            "CLOB",
            "REF",
            "DATALINK",
            "ROWID",
            "BINARY",
            "VARBINARY",
            "LONGVARBINARY",
            "NCLOB",
            "SQLXML",
            "REF_CURSOR",
            "TIME_WITH_TIMEZONE",
            "TIMESTAMP_WITH_TIMEZONE"
          ]
        },
        "defaultValue": {
          "description": "The following field specifies the default value of the Parameter provided by the external system if a value is not provided.",
          "type": "any"
        },
        "jsonSchema": {
          "description": "JsonSchema of the parameter, applicable only if parameter is of type `STRUCT`",
          "$ref": "JsonSchema"
        },
        "name": {
          "description": "Name of the Parameter.",
          "type": "string"
        }
      },
      "description": "Input Parameter message contains metadata about the parameters required for executing an Action.",
      "type": "object"
    },
    "ExecuteActionRequest": {
      "description": "Request message for ActionService.ExecuteAction",
      "type": "object",
      "id": "ExecuteActionRequest",
      "properties": {
        "parameters": {
          "description": "Parameters for executing the action. The parameters can be key/value pairs or nested structs.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "executionConfig": {
          "description": "Execution config for the request.",
          "$ref": "ExecutionConfig"
        }
      }
    },
    "ExecuteToolResponse": {
      "id": "ExecuteToolResponse",
      "properties": {
        "result": {
          "description": "Output from the tool execution.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "metadata": {
          "description": "Metadata like service latency, etc.",
          "type": "object",
          "additionalProperties": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "_meta": {
          "description": "Metadata for the tool execution result.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "description": "Response message for ConnectorAgentService.ExecuteTool",
      "type": "object"
    },
    "OAuth2Config": {
      "properties": {
        "clientSecret": {
          "description": "Client secret for the OAuth2 flow.",
          "type": "string"
        },
        "authUri": {
          "description": "Authorization Server URL/Token Endpoint for Authorization Code Flow",
          "type": "string"
        },
        "clientId": {
          "description": "Client ID for the OAuth2 flow.",
          "type": "string"
        }
      },
      "id": "OAuth2Config",
      "type": "object"
    },
    "ExecuteToolRequest": {
      "properties": {
        "executionConfig": {
          "description": "execution config for the request.",
          "$ref": "ExecutionConfig"
        },
        "parameters": {
          "description": "Input parameters for the tool.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "toolDefinition": {
          "description": "Tool definition for the tool to be executed.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "id": "ExecuteToolRequest",
      "description": "Request message for ConnectorAgentService.ExecuteTool",
      "type": "object"
    },
    "MaintenanceSettings": {
      "description": "Maintenance settings associated with instance. Allows service producers and end users to assign settings that controls maintenance on this instance.",
      "type": "object",
      "properties": {
        "exclude": {
          "description": "Optional. Exclude instance from maintenance. When true, rollout service will not attempt maintenance on the instance. Rollout service will include the instance in reported rollout progress as not attempted.",
          "type": "boolean"
        },
        "isRollback": {
          "description": "Optional. If the update call is triggered from rollback, set the value as true.",
          "type": "boolean"
        },
        "maintenancePolicies": {
          "description": "Optional. The MaintenancePolicies that have been attached to the instance. The key must be of the type name of the oneof policy name defined in MaintenancePolicy, and the embedded policy must define the same policy type. For details, please refer to go/mr-user-guide. Should not be set if maintenance_policy_names is set. If only the name is needed, then only populate MaintenancePolicy.name.",
          "type": "object",
          "additionalProperties": {
            "$ref": "MaintenancePolicy"
          }
        }
      },
      "id": "MaintenanceSettings"
    },
    "AccessCredentials": {
      "description": "AccessCredentials includes the OAuth access token, and the other fields returned along with it.",
      "type": "object",
      "id": "AccessCredentials",
      "properties": {
        "accessToken": {
          "description": "OAuth access token.",
          "type": "string"
        },
        "expiresIn": {
          "format": "google-duration",
          "description": "Duration till the access token expires.",
          "type": "string"
        },
        "refreshToken": {
          "description": "OAuth refresh token.",
          "type": "string"
        }
      }
    },
    "DailyCycle": {
      "description": "Time window specified for daily operations.",
      "type": "object",
      "properties": {
        "startTime": {
          "description": "Time within the day to start the operations.",
          "$ref": "TimeOfDay"
        },
        "duration": {
          "format": "google-duration",
          "description": "Output only. Duration of the time window, set by service producer.",
          "type": "string"
        }
      },
      "id": "DailyCycle"
    },
    "GetResourceResponse": {
      "properties": {
        "data": {
          "description": "The content of the resource.",
          "type": "string",
          "format": "byte"
        },
        "_meta": {
          "description": "Metadata for the resource.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "mimeType": {
          "description": "The MIME type of the resource.",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata like service latency, etc.",
          "type": "object",
          "additionalProperties": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      },
      "id": "GetResourceResponse",
      "type": "object"
    },
    "ExecuteHttpRequestRequest": {
      "properties": {
        "httpMethod": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "Required. The HTTP method to use for the request.",
          "type": "string",
          "enum": [
            "HTTP_METHOD_UNSPECIFIED",
            "HTTP_METHOD_GET",
            "HTTP_METHOD_POST",
            "HTTP_METHOD_PUT",
            "HTTP_METHOD_PATCH",
            "HTTP_METHOD_DELETE",
            "HTTP_METHOD_HEAD",
            "HTTP_METHOD_OPTIONS"
          ]
        },
        "url": {
          "description": "Required. The fully resolved absolute target URL. Callers must pre-encode any query parameters.",
          "type": "string"
        },
        "headers": {
          "items": {
            "$ref": "HttpHeader"
          },
          "description": "HTTP headers to send with the request (e.g., Content-Type: application/json). Order is preserved and duplicate keys are allowed.",
          "type": "array"
        },
        "rawBody": {
          "description": "Raw byte payload. Used for all pre-serialized formats including JSON, XML, GraphQL, and Multipart.",
          "type": "string",
          "format": "byte"
        }
      },
      "id": "ExecuteHttpRequestRequest",
      "type": "object"
    },
    "SloMetadata": {
      "properties": {
        "nodes": {
          "description": "Optional. List of nodes. Some producers need to use per-node metadata to calculate SLO. This field allows such producers to publish per-node SLO meta data, which will be consumed by SSA Eligibility Exporter and published in the form of per node metric to Monarch.",
          "type": "array",
          "items": {
            "$ref": "NodeSloMetadata"
          }
        },
        "perSliEligibility": {
          "description": "Optional. Multiple per-instance SLI eligibilities which apply for individual SLIs.",
          "$ref": "PerSliSloEligibility"
        },
        "tier": {
          "description": "Name of the SLO tier the Instance belongs to. This name will be expected to match the tiers specified in the service SLO configuration. Field is mandatory and must not be empty.",
          "type": "string"
        }
      },
      "id": "SloMetadata",
      "description": "SloMetadata contains resources required for proper SLO classification of the instance.",
      "type": "object"
    },
    "ListToolsResponse": {
      "description": "Response message for ConnectorAgentService.ListTools",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Next page token.",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata like service latency, etc.",
          "type": "object",
          "additionalProperties": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "tools": {
          "description": "List of available tools.",
          "type": "array",
          "items": {
            "$ref": "Tool"
          }
        }
      },
      "id": "ListToolsResponse"
    },
    "ProvisionedResource": {
      "id": "ProvisionedResource",
      "properties": {
        "resourceUrl": {
          "description": "URL identifying the resource, e.g. \"https://www.googleapis.com/compute/v1/projects/...)\".",
          "type": "string"
        },
        "resourceType": {
          "description": "Type of the resource. This can be either a GCP resource or a custom one (e.g. another cloud provider's VM). For GCP compute resources use singular form of the names listed in GCP compute API documentation (https://cloud.google.com/compute/docs/reference/rest/v1/), prefixed with 'compute-', for example: 'compute-instance', 'compute-disk', 'compute-autoscaler'.",
          "type": "string"
        }
      },
      "description": "Describes provisioned dataplane resources.",
      "type": "object"
    },
    "ExchangeAuthCodeRequest": {
      "id": "ExchangeAuthCodeRequest",
      "properties": {
        "executionConfig": {
          "description": "ExecutionConfig contains the configuration for the execution of the request.",
          "$ref": "ExecutionConfig"
        },
        "oauth2Config": {
          "description": "OAuth2Config contains the OAuth2 config for the connection.",
          "$ref": "OAuth2Config"
        },
        "authCodeData": {
          "description": "Optional. AuthCodeData contains the data the runtime requires to exchange for access and refresh tokens. If the data is not provided, the runtime will read the data from the secret manager.",
          "$ref": "AuthCodeData"
        }
      },
      "description": "ExchangeAuthCodeRequest currently includes the auth code data.",
      "type": "object"
    },
    "GenerateCustomToolspecRequest": {
      "properties": {
        "toolNames": {
          "description": "list of tools to be generated.",
          "type": "array",
          "items": {
            "$ref": "ToolName"
          }
        }
      },
      "id": "GenerateCustomToolspecRequest",
      "type": "object"
    },
    "ToolAnnotations": {
      "properties": {
        "idempotentHint": {
          "description": "If true, calling the tool repeatedly with the same arguments will have no additional effect on the environment. (This property is meaningful only when `read_only_hint == false`)",
          "type": "boolean"
        },
        "readOnlyHint": {
          "description": "If true, the tool does not modify its environment.",
          "type": "boolean"
        },
        "destructiveHint": {
          "description": "If true, the tool may perform destructive updates to its environment. If false, the tool performs only additive updates. (This property is meaningful only when `read_only_hint == false`)",
          "type": "boolean"
        },
        "title": {
          "description": "A human-readable title for the tool.",
          "type": "string"
        },
        "openWorldHint": {
          "description": "If true, this tool may interact with an \"open world\" of external entities. If false, the tool's domain of interaction is closed. For example, the world of a web search tool is open, whereas that of a memory tool is not.",
          "type": "boolean"
        }
      },
      "id": "ToolAnnotations",
      "description": "ToolAnnotations holds annotations for a tool.",
      "type": "object"
    }
  },
  "mtlsRootUrl": "https://connectors.mtls.googleapis.com/",
  "protocol": "rest",
  "title": "Connectors API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "name": "connectors",
  "batchPath": "batch",
  "endpoints": [
    {
      "location": "us-central1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://connectors.us-central1.rep.googleapis.com/"
    },
    {
      "location": "us-east1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://connectors.us-east1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://connectors.us-east4.rep.googleapis.com/",
      "location": "us-east4"
    },
    {
      "endpointUrl": "https://connectors.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east5"
    },
    {
      "location": "us-south1",
      "endpointUrl": "https://connectors.us-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://connectors.us-west1.rep.googleapis.com/"
    },
    {
      "location": "us-west2",
      "endpointUrl": "https://connectors.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west3",
      "endpointUrl": "https://connectors.us-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://connectors.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west4"
    }
  ],
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "connections": {
              "methods": {
                "executeSqlQuery": {
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ExecuteSqlQueryResponse"
                  },
                  "parameterOrder": [
                    "connection"
                  ],
                  "description": "Executes a SQL statement specified in the body of the request. An example of this SQL statement in the case of Salesforce connector would be 'select * from Account a, Order o where a.Id = o.AccountId'.",
                  "request": {
                    "$ref": "ExecuteSqlQueryRequest"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:executeSqlQuery",
                  "id": "connectors.projects.locations.connections.executeSqlQuery",
                  "parameters": {
                    "connection": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. Resource name of the Connection. Format: projects/{project}/locations/{location}/connections/{connection}",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$"
                    }
                  },
                  "path": "v2/{+connection}:executeSqlQuery"
                },
                "listCustomToolNames": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:listCustomToolNames",
                  "id": "connectors.projects.locations.connections.listCustomToolNames",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. Resource name of the Connection. Format: projects/{project}/locations/{location}/connections/{connection}",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "type": "string"
                    }
                  },
                  "path": "v2/{+name}:listCustomToolNames",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListCustomToolNamesResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Lists custom tool names."
                },
                "exchangeAuthCode": {
                  "id": "connectors.projects.locations.connections.exchangeAuthCode",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "path": "v2/{+name}:exchangeAuthCode",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:exchangeAuthCode",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "ExchangeAuthCode exchanges the OAuth authorization code (and other necessary data) for an access token (and associated credentials).",
                  "request": {
                    "$ref": "ExchangeAuthCodeRequest"
                  },
                  "httpMethod": "POST",
[...]
