{
  "version_module": true,
  "title": "Connectors API",
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/apigee/docs/api-platform/connectors/about-connectors",
  "schemas": {
    "EndUserAuthenticationConfigOauth2AuthCodeFlow": {
      "id": "EndUserAuthenticationConfigOauth2AuthCodeFlow",
      "properties": {
        "redirectUri": {
          "description": "Optional. Redirect URI to be provided during the auth code exchange.",
          "type": "string"
        },
        "authCode": {
          "description": "Optional. Authorization code to be exchanged for access and refresh tokens.",
          "type": "string"
        },
        "clientSecret": {
          "description": "Optional. Client secret for user-provided OAuth app.",
          "$ref": "EUASecret"
        },
        "scopes": {
          "description": "Optional. Scopes the connection will request when the user performs the auth code flow.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "pkceVerifier": {
          "description": "Optional. PKCE verifier to be used during the auth code exchange.",
          "type": "string"
        },
        "oauthTokenData": {
          "description": "Optional. Auth Code Data",
          "$ref": "OAuthTokenData"
        },
        "clientId": {
          "description": "Optional. Client ID for user-provided OAuth app.",
          "type": "string"
        },
        "authUri": {
          "description": "Optional. Auth URL for Authorization Code Flow",
          "type": "string"
        },
        "enablePkce": {
          "description": "Optional. Whether to enable PKCE when the user performs the auth code flow.",
          "type": "boolean"
        }
      },
      "description": "Parameters to support Oauth 2.0 Auth Code Grant Authentication. See https://www.rfc-editor.org/rfc/rfc6749#section-1.3.1 for more details.",
      "type": "object"
    },
    "JMS": {
      "properties": {
        "type": {
          "enumDescriptions": [
            "Default state.",
            "JMS Queue.",
            "JMS Topic."
          ],
          "description": "Optional. Type of the JMS Source. i.e. Queue or Topic",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "QUEUE",
            "TOPIC"
          ]
        },
        "name": {
          "description": "Optional. Name of the JMS source. i.e. queueName or topicName",
          "type": "string"
        }
      },
      "id": "JMS",
      "description": "JMS message denotes the source of the event",
      "type": "object"
    },
    "ListActionsResponse": {
      "description": "Response message for ListActions API",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "token for next page",
          "type": "string"
        },
        "actions": {
          "description": "list of actions",
          "type": "array",
          "items": {
            "$ref": "RuntimeActionSchema"
          }
        }
      },
      "id": "ListActionsResponse"
    },
    "AuthConfig": {
      "description": "AuthConfig defines details of a authentication type.",
      "type": "object",
      "id": "AuthConfig",
      "properties": {
        "sshPublicKey": {
          "description": "SSH Public Key.",
          "$ref": "SshPublicKey"
        },
        "userPassword": {
          "description": "UserPassword.",
          "$ref": "UserPassword"
        },
        "oauth2JwtBearer": {
          "description": "Oauth2JwtBearer.",
          "$ref": "Oauth2JwtBearer"
        },
        "authType": {
          "enumDescriptions": [
            "Authentication type not specified.",
            "Username and Password Authentication.",
            "JSON Web Token (JWT) Profile for Oauth 2.0 Authorization Grant based authentication",
            "Oauth 2.0 Client Credentials Grant Authentication",
            "SSH Public Key Authentication",
            "Oauth 2.0 Authorization Code Flow",
            "Google authentication",
            "Oauth 2.0 Authorization Code Flow with Google Provided OAuth Client"
          ],
          "description": "Optional. The type of authentication configured.",
          "type": "string",
          "enum": [
            "AUTH_TYPE_UNSPECIFIED",
            "USER_PASSWORD",
            "OAUTH2_JWT_BEARER",
            "OAUTH2_CLIENT_CREDENTIALS",
            "SSH_PUBLIC_KEY",
            "OAUTH2_AUTH_CODE_FLOW",
            "GOOGLE_AUTHENTICATION",
            "OAUTH2_AUTH_CODE_FLOW_GOOGLE_MANAGED"
          ]
        },
        "oauth2AuthCodeFlow": {
          "description": "Oauth2AuthCodeFlow.",
          "$ref": "Oauth2AuthCodeFlow"
        },
        "authKey": {
          "description": "Optional. Identifier key for auth config",
          "type": "string"
        },
        "oauth2ClientCredentials": {
          "description": "Oauth2ClientCredentials.",
          "$ref": "Oauth2ClientCredentials"
        },
        "additionalVariables": {
          "description": "Optional. List containing additional auth configs.",
          "type": "array",
          "items": {
            "$ref": "ConfigVariable"
          }
        },
        "oauth2AuthCodeFlowGoogleManaged": {
          "description": "Oauth2AuthCodeFlowGoogleManaged.",
          "$ref": "Oauth2AuthCodeFlowGoogleManaged"
        }
      }
    },
    "SshPublicKey": {
      "id": "SshPublicKey",
      "properties": {
        "sshClientCert": {
          "description": "Optional. SSH Client Cert. It should contain both public and private key.",
          "$ref": "Secret"
        },
        "sshClientCertPass": {
          "description": "Optional. Password (passphrase) for ssh client certificate if it has one.",
          "$ref": "Secret"
        },
        "username": {
          "description": "Optional. The user account used to authenticate.",
          "type": "string"
        },
        "certType": {
          "description": "Optional. Format of SSH Client cert.",
          "type": "string"
        }
      },
      "description": "Parameters to support Ssh public key Authentication.",
      "type": "object"
    },
    "ListEntityTypesResponse": {
      "description": "Response message for ListEntityTypes API",
      "type": "object",
      "properties": {
        "entityTypes": {
          "description": "list of entity types",
          "type": "array",
          "items": {
            "$ref": "RuntimeEntitySchema"
          }
        },
        "nextPageToken": {
          "description": "token for next page",
          "type": "string"
        }
      },
      "id": "ListEntityTypesResponse"
    },
    "ListEndpointAttachmentsResponse": {
      "description": "Response message for ConnectorsService.ListEndpointAttachments",
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "Next page token.",
          "type": "string"
        },
        "endpointAttachments": {
          "description": "EndpointAttachments.",
          "type": "array",
          "items": {
            "$ref": "EndpointAttachment"
          }
        }
      },
      "id": "ListEndpointAttachmentsResponse"
    },
    "FetchAuthSchemaResponse": {
      "description": "Response message for Connectors.GetAuthSchema.",
      "type": "object",
      "id": "FetchAuthSchemaResponse",
      "properties": {
        "authSchemas": {
          "description": "List of AuthSchemas.",
          "type": "array",
          "items": {
            "$ref": "AuthSchema"
          }
        },
        "jsonSchema": {
          "description": "JSON schema of the AuthSchemas. This is only populated if the view is JSON_SCHEMA. The schema is in draft-07 format.",
          "$ref": "JsonAuthSchema"
        }
      }
    },
    "Binding": {
      "description": "Associates `members`, or principals, with a `role`.",
      "type": "object",
      "properties": {
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        },
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        }
      },
      "id": "Binding"
    },
    "WithdrawCustomConnectorVersionRequest": {
      "description": "Request message for ConnectorsService.WithdrawCustomConnectorVersion",
      "type": "object",
      "properties": {},
      "id": "WithdrawCustomConnectorVersionRequest"
    },
    "Connector": {
      "id": "Connector",
      "properties": {
        "connectorType": {
          "readOnly": true,
          "description": "Output only. The type of the connector.",
          "enum": [
            "CONNECTOR_TYPE_UNSPECIFIED",
            "CONNECTOR_TYPE_GOOGLE",
            "CONNECTOR_TYPE_TECHNICAL",
            "CONNECTOR_TYPE_THIRD_PARTY"
          ],
          "enumDescriptions": [
            "Default value.",
            "Google connectors.",
            "Technical connectors.",
            "Third Party connectors."
          ],
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name of the Connector. Format: projects/{project}/locations/{location}/providers/{provider}/connectors/{connector} Only global location is supported for Connector resource.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Updated time.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "eventingDetails": {
          "readOnly": true,
          "$ref": "EventingDetails",
          "description": "Output only. Eventing details. Will be null if eventing is not supported."
        },
        "createTime": {
          "description": "Output only. Created time.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "description": {
          "description": "Output only. Description of the resource.",
          "type": "string",
          "readOnly": true
        },
        "category": {
          "readOnly": true,
          "description": "Output only. Category of the connector.",
          "type": "string"
        },
        "marketplaceConnectorDetails": {
          "description": "Output only. Marketplace connector details. Will be null if the connector is not marketplace connector.",
          "readOnly": true,
          "$ref": "MarketplaceConnectorDetails"
        },
        "documentationUri": {
          "description": "Output only. Link to documentation page.",
          "type": "string",
          "readOnly": true
        },
        "webAssetsLocation": {
          "readOnly": true,
          "description": "Output only. Cloud storage location of icons etc consumed by UI.",
          "type": "string"
        },
        "tags": {
          "readOnly": true,
          "description": "Output only. Tags of the connector.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "externalUri": {
          "description": "Output only. Link to external page.",
          "type": "string",
          "readOnly": true
        },
        "labels": {
          "readOnly": true,
          "additionalProperties": {
            "type": "string"
          },
          "description": "Output only. Resource labels to represent user-provided metadata. Refer to cloud documentation on labels for more details. https://cloud.google.com/compute/docs/labeling-resources",
          "type": "object"
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. Display name.",
          "type": "string"
        },
        "launchStage": {
          "type": "string",
          "enumDescriptions": [
            "LAUNCH_STAGE_UNSPECIFIED.",
            "PREVIEW.",
            "GA.",
            "DEPRECATED.",
            "TEST.",
            "PRIVATE_PREVIEW."
          ],
          "enum": [
            "LAUNCH_STAGE_UNSPECIFIED",
            "PREVIEW",
            "GA",
            "DEPRECATED",
            "TEST",
            "PRIVATE_PREVIEW"
          ],
          "description": "Output only. Flag to mark the version indicating the launch stage.",
          "readOnly": true
        }
      },
      "description": "Connectors indicates a specific connector type, e.x. Salesforce, SAP etc.",
      "type": "object"
    },
    "RemoveConnectionToolspecOverrideRequest": {
      "properties": {},
      "id": "RemoveConnectionToolspecOverrideRequest",
      "description": "Request message for RemoveConnectionToolspecOverride API.",
      "type": "object"
    },
    "ValidateCustomConnectorSpecResponse": {
      "properties": {
        "errorMessage": {
          "description": "Error message. The spec is valid if the error message is empty.",
          "type": "string"
        }
      },
      "id": "ValidateCustomConnectorSpecResponse",
      "description": "Response message for ConnectorsService.ValidateCustomConnectorSpec",
      "type": "object"
    },
    "EndUserAuthenticationConfigSshPublicKey": {
      "description": "Parameters to support Ssh public key Authentication.",
      "type": "object",
      "properties": {
        "username": {
          "description": "The user account used to authenticate.",
          "type": "string"
        },
        "certType": {
          "description": "Format of SSH Client cert.",
          "type": "string"
        },
        "sshClientCert": {
          "description": "Required. SSH Client Cert. It should contain both public and private key.",
          "$ref": "EUASecret"
        },
        "sshClientCertPass": {
          "description": "Required. Password (passphrase) for ssh client certificate if it has one.",
          "$ref": "EUASecret"
        }
      },
      "id": "EndUserAuthenticationConfigSshPublicKey"
    },
    "EndUserAuthenticationConfigVariable": {
      "description": "EndUserAuthenticationConfigVariable represents a configuration variable present in a EndUserAuthentication.",
      "type": "object",
      "properties": {
        "secretValue": {
          "description": "Value is a secret",
          "$ref": "EUASecret"
        },
        "intValue": {
          "description": "Value is an integer",
          "type": "string",
          "format": "int64"
        },
        "key": {
          "description": "Required. Key of the config variable.",
          "type": "string"
        },
        "boolValue": {
          "description": "Value is a bool.",
          "type": "boolean"
        },
        "stringValue": {
          "description": "Value is a string.",
          "type": "string"
        }
      },
      "id": "EndUserAuthenticationConfigVariable"
    },
    "ResourceRequests": {
      "description": "Resource requests defined for connection pods of a given connector type.",
      "type": "object",
      "properties": {
        "memory": {
          "readOnly": true,
          "description": "Output only. Memory request.",
          "type": "string"
        },
        "cpu": {
          "readOnly": true,
          "description": "Output only. CPU request.",
          "type": "string"
        }
      },
      "id": "ResourceRequests"
    },
    "EndUserAuthenticationConfigUserPassword": {
      "id": "EndUserAuthenticationConfigUserPassword",
      "properties": {
        "username": {
          "description": "Username.",
          "type": "string"
        },
        "password": {
          "description": "Required. string value or secret version reference containing the password.",
          "$ref": "EUASecret"
        }
      },
      "description": "Parameters to support Username and Password Authentication.",
      "type": "object"
    },
    "Oauth2JwtBearer": {
      "id": "Oauth2JwtBearer",
      "properties": {
        "jwtClaims": {
          "description": "Optional. JwtClaims providers fields to generate the token.",
          "$ref": "JwtClaims"
        },
        "clientKey": {
          "description": "Optional. Secret version reference containing a PKCS#8 PEM-encoded private key associated with the Client Certificate. This private key will be used to sign JWTs used for the jwt-bearer authorization grant. Specified in the form as: `projects/*/secrets/*/versions/*`.",
          "$ref": "Secret"
        }
      },
      "description": "Parameters to support JSON Web Token (JWT) Profile for Oauth 2.0 Authorization Grant based authentication. See https://tools.ietf.org/html/rfc7523 for more details.",
      "type": "object"
    },
    "EventingDetails": {
      "id": "EventingDetails",
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "WEBHOOK",
            "JMS"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Webhook listener. e.g. Jira, Zendesk, Servicenow etc.,",
            "JMS Listener. e.g. IBM MQ, Rabbit MQ etc.,"
          ],
          "readOnly": true,
          "description": "Output only. The type of the event listener for a specific connector."
        },
        "searchTags": {
          "description": "Output only. Array of search keywords.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "launchStage": {
          "readOnly": true,
          "description": "Output only. Eventing Launch Stage.",
          "enum": [
            "LAUNCH_STAGE_UNSPECIFIED",
            "PREVIEW",
            "GA",
            "DEPRECATED",
            "TEST",
            "PRIVATE_PREVIEW"
          ],
          "enumDescriptions": [
            "LAUNCH_STAGE_UNSPECIFIED.",
            "PREVIEW.",
            "GA.",
            "DEPRECATED.",
            "TEST.",
            "PRIVATE_PREVIEW."
          ],
          "type": "string"
        },
        "iconLocation": {
          "description": "Output only. Cloud storage location of the icon.",
          "type": "string",
          "readOnly": true
        },
        "description": {
          "description": "Output only. Description.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Name of the Eventing trigger.",
          "type": "string"
        },
        "documentationLink": {
          "description": "Output only. Link to public documentation.",
          "type": "string",
          "readOnly": true
        },
        "customEventTypes": {
          "readOnly": true,
          "description": "Output only. Custom Event Types.",
          "type": "boolean"
        },
        "subscriptionType": {
          "enum": [
            "SUBSCRIPTION_TYPE_UNSPECIFIED",
            "SHARED",
            "USER_SPECIFIC"
          ],
          "description": "The webhook model supported by this connector.",
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Managed via admin credentials. Handles global or system-wide events.",
            "Managed via individual user credentials. Isolates data per user."
          ]
        }
      },
      "description": "Eventing Details message.",
      "type": "object"
    },
    "VpcscConfig": {
      "description": "This configuration provides VPCSC config for a connector.",
      "type": "object",
      "id": "VpcscConfig",
      "properties": {
        "disableFirewallVpcscFlow": {
          "description": "Whether to disable firewall VPCSC flow.",
          "type": "boolean"
        },
        "defaultAllowlistedHost": {
          "description": "The list of allowlisted FQDNs for VPCSC.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "AuthField": {
      "properties": {
        "description": {
          "description": "Description of the field.",
          "type": "string"
        },
        "key": {
          "description": "Key of the field.",
          "type": "string"
        },
        "dataType": {
          "description": "Data type of the field.",
          "type": "string"
        }
      },
      "id": "AuthField",
      "description": "AuthField defines a field in an authentication type.",
      "type": "object"
    },
    "ListRuntimeEntitySchemasResponse": {
      "description": "Response message for ConnectorsService.ListRuntimeEntitySchemas.",
      "type": "object",
      "properties": {
        "runtimeEntitySchemas": {
          "description": "Runtime entity schemas.",
          "type": "array",
          "items": {
            "$ref": "RuntimeEntitySchema"
          }
        },
        "nextPageToken": {
          "description": "Next page token.",
          "type": "string"
        }
      },
      "id": "ListRuntimeEntitySchemasResponse"
    },
    "ConnectorVersionInfraConfig": {
      "description": "This configuration provides infra configs like rate limit threshold which need to be configurable for every connector version",
      "type": "object",
      "properties": {
        "sharedDeployment": {
          "readOnly": true,
          "description": "Output only. The name of shared connector deployment.",
          "type": "string"
        },
        "resourceRequests": {
          "readOnly": true,
          "$ref": "ResourceRequests",
          "description": "Output only. System resource requests."
        },
        "resourceLimits": {
          "description": "Output only. System resource limits.",
          "readOnly": true,
          "$ref": "ResourceLimits"
        },
        "tlsMigrationState": {
          "enumDescriptions": [
            "TLS migration state is not specified.",
            "TLS migration is in progress.",
            "TLS migration is completed."
          ],
          "type": "string",
          "enum": [
            "TLS_MIGRATION_STATE_UNSPECIFIED",
            "TLS_MIGRATION_NOT_STARTED",
            "TLS_MIGRATION_COMPLETED"
          ],
          "description": "Output only. Status of the TLS migration.",
          "readOnly": true
        },
        "internalclientRatelimitThreshold": {
          "readOnly": true,
          "description": "Output only. Max QPS supported for internal requests originating from Connd.",
          "type": "string",
          "format": "int64"
        },
        "deploymentModel": {
          "enumDescriptions": [
            "Deployment model is not specified.",
            "Default model gke mst.",
            "Cloud run mst."
          ],
          "type": "string",
          "enum": [
            "DEPLOYMENT_MODEL_UNSPECIFIED",
            "GKE_MST",
            "CLOUD_RUN_MST"
          ],
          "description": "Output only. Indicates whether connector is deployed on GKE/CloudRun",
          "readOnly": true
        },
        "connectionRatelimitWindowSeconds": {
          "readOnly": true,
          "description": "Output only. The window used for ratelimiting runtime requests to connections.",
          "type": "string",
          "format": "int64"
        },
        "ratelimitThreshold": {
          "description": "Output only. Max QPS supported by the connector version before throttling of requests.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "deploymentModelMigrationState": {
          "enum": [
            "DEPLOYMENT_MODEL_MIGRATION_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "COMPLETED",
            "ROLLEDBACK",
            "ROLLBACK_IN_PROGRESS"
          ],
          "type": "string",
          "enumDescriptions": [
            "Deployment model migration state is not specified.",
            "Deployment model migration is in progress.",
            "Deployment model migration is completed.",
            "Deployment model migration rolledback.",
            "Deployment model migration rollback in progress."
          ],
          "readOnly": true,
          "description": "Output only. Status of the deployment model migration."
        },
        "hpaConfig": {
          "description": "Output only. HPA autoscaling config.",
          "readOnly": true,
          "$ref": "HPAConfig"
        },
        "maxInstanceRequestConcurrency": {
          "readOnly": true,
          "description": "Output only. Max instance request concurrency.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "ConnectorVersionInfraConfig"
    },
    "RuntimeConfig": {
      "description": "RuntimeConfig is the singleton resource of each location. It includes generic resource configs consumed by control plane and runtime plane like: pub/sub topic/subscription resource name, Cloud Storage location storing schema etc.",
      "type": "object",
      "id": "RuntimeConfig",
      "properties": {
        "conndTopic": {
          "readOnly": true,
          "description": "Output only. Pub/Sub topic for connd to send message. E.g. projects/{project-id}/topics/{topic-id}",
          "type": "string"
        },
        "schemaGcsBucket": {
          "readOnly": true,
          "description": "Output only. The Cloud Storage bucket that stores connector's schema reports.",
          "type": "string"
        },
        "runtimeEndpoint": {
          "readOnly": true,
          "description": "Output only. The endpoint of the connectors runtime ingress.",
          "type": "string"
        },
        "controlPlaneSubscription": {
          "description": "Output only. Pub/Sub subscription for control plane to receive message. E.g. projects/{project-id}/subscriptions/{topic-id}",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Output only. Name of the runtimeConfig resource. Format: projects/{project}/locations/{location}/runtimeConfig",
          "type": "string",
          "readOnly": true
        },
        "conndSubscription": {
          "description": "Output only. Pub/Sub subscription for connd to receive message. E.g. projects/{project-id}/subscriptions/{topic-id}",
          "type": "string",
          "readOnly": true
        },
        "locationId": {
          "readOnly": true,
          "description": "Output only. location_id of the runtime location. E.g. \"us-west1\".",
          "type": "string"
        },
        "controlPlaneTopic": {
          "readOnly": true,
          "description": "Output only. Pub/Sub topic for control plne to send message. communication. E.g. projects/{project-id}/topics/{topic-id}",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "description": "Output only. The state of the location.",
          "enumDeprecated": [
            false,
            true,
            true,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "INACTIVE",
            "ACTIVATING",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "UPDATING"
          ],
          "enumDescriptions": [
            "STATE_UNSPECIFIED.",
            "INACTIVE.",
            "ACTIVATING.",
            "ACTIVE.",
            "CREATING.",
            "DELETING.",
            "UPDATING."
          ],
          "type": "string"
        },
        "serviceDirectory": {
          "readOnly": true,
          "description": "Output only. The name of the Service Directory service name.",
          "type": "string"
        }
      }
    },
    "AuthObject": {
      "description": "AuthObject defines a JSON schema of an authentication type.",
      "type": "object",
      "id": "AuthObject",
      "properties": {
        "properties": {
          "description": "Properties of the object.",
          "type": "object",
          "additionalProperties": {
            "$ref": "AuthProperty"
          }
        },
        "description": {
          "description": "Description of the object.",
          "type": "string"
        },
        "isDefault": {
          "description": "Whether the object is the default one.",
          "type": "boolean"
        },
        "additionalProperties": {
          "description": "Whether the object has additional properties.",
          "type": "boolean"
        },
        "type": {
          "description": "Type of the object.",
          "type": "string"
        },
        "authType": {
          "description": "Auth type of the object.",
          "type": "string"
        },
        "authKey": {
          "description": "Auth key of the object.",
          "type": "string"
        }
      }
    },
    "EndUserAuthenticationEndUserAuthenticationStatus": {
      "id": "EndUserAuthenticationEndUserAuthenticationStatus",
      "properties": {
        "state": {
          "description": "Output only. State of Event Subscription resource.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default state.",
            "EndUserAuthentication is in Active state.",
            "EndUserAuthentication is in Error state."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "ERROR"
          ]
        },
        "description": {
          "readOnly": true,
          "description": "Output only. Description of the state.",
          "type": "string"
        }
      },
      "description": "EndUserAuthentication Status denotes the status of the EndUserAuthentication resource.",
      "type": "object"
    },
    "AuthConfigTemplate": {
      "description": "AuthConfigTemplate defines required field over an authentication type.",
      "type": "object",
      "properties": {
        "description": {
          "description": "Connector specific description for an authentication template.",
          "type": "string"
        },
        "configVariableTemplates": {
          "description": "Config variables to describe an `AuthConfig` for a `Connection`.",
          "type": "array",
          "items": {
            "$ref": "ConfigVariableTemplate"
          }
        },
        "displayName": {
          "description": "Display name for authentication template.",
          "type": "string"
        },
        "isDefault": {
          "description": "Whether the auth config is the default one.",
          "type": "boolean"
        },
        "authType": {
          "enum": [
            "AUTH_TYPE_UNSPECIFIED",
            "USER_PASSWORD",
            "OAUTH2_JWT_BEARER",
            "OAUTH2_CLIENT_CREDENTIALS",
            "SSH_PUBLIC_KEY",
            "OAUTH2_AUTH_CODE_FLOW",
            "GOOGLE_AUTHENTICATION",
            "OAUTH2_AUTH_CODE_FLOW_GOOGLE_MANAGED"
          ],
          "enumDescriptions": [
            "Authentication type not specified.",
            "Username and Password Authentication.",
            "JSON Web Token (JWT) Profile for Oauth 2.0 Authorization Grant based authentication",
            "Oauth 2.0 Client Credentials Grant Authentication",
            "SSH Public Key Authentication",
            "Oauth 2.0 Authorization Code Flow",
            "Google authentication",
            "Oauth 2.0 Authorization Code Flow with Google Provided OAuth Client"
          ],
          "description": "The type of authentication configured.",
          "type": "string"
        },
        "authKey": {
          "description": "Identifier key for auth config",
          "type": "string"
        }
      },
      "id": "AuthConfigTemplate"
    },
    "ModifyConnectionToolspecOverrideRequest": {
      "description": "Request message for ModifyConnectionToolspecOverride API.",
      "type": "object",
      "id": "ModifyConnectionToolspecOverrideRequest",
      "properties": {
        "toolspecOverride": {
          "description": "Required. Toolspec overrides to be modified.",
          "$ref": "ToolspecOverride"
        }
      }
    },
    "Oauth2AuthCodeFlow": {
      "id": "Oauth2AuthCodeFlow",
      "properties": {
        "authUri": {
          "description": "Optional. Auth URL for Authorization Code Flow",
          "type": "string"
        },
        "clientId": {
          "description": "Optional. Client ID for user-provided OAuth app.",
          "type": "string"
        },
        "enablePkce": {
          "description": "Optional. Whether to enable PKCE when the user performs the auth code flow.",
          "type": "boolean"
        },
        "redirectUri": {
          "description": "Optional. Redirect URI to be provided during the auth code exchange.",
          "type": "string"
        },
        "authCode": {
          "description": "Optional. Authorization code to be exchanged for access and refresh tokens.",
          "type": "string"
        },
        "pkceVerifier": {
          "description": "Optional. PKCE verifier to be used during the auth code exchange.",
          "type": "string"
        },
        "clientSecret": {
          "description": "Optional. Client secret for user-provided OAuth app.",
          "$ref": "Secret"
        },
        "scopes": {
          "description": "Optional. Scopes the connection will request when the user performs the auth code flow.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Parameters to support Oauth 2.0 Auth Code Grant Authentication. See https://www.rfc-editor.org/rfc/rfc6749#section-1.3.1 for more details.",
      "type": "object"
    },
    "TimeOfDay": {
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "type": "object",
      "id": "TimeOfDay",
      "properties": {
        "seconds": {
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "type": "integer",
          "format": "int32"
        },
        "minutes": {
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
          "type": "integer",
          "format": "int32"
        },
        "hours": {
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "type": "integer",
          "format": "int32"
        },
        "nanos": {
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "PublishStatus": {
      "description": "Publish status of a custom connector.",
      "type": "object",
      "id": "PublishStatus",
      "properties": {
        "publishTime": {
          "readOnly": true,
          "description": "Output only. Publish time.",
          "type": "string",
          "format": "google-datetime"
        },
        "publishedAs": {
          "description": "Output only. Partner connector name. Will be set on the custom connector. Format: providers/partner/connectors//versions/",
          "type": "string",
          "readOnly": true
        },
        "publishState": {
          "description": "Output only. Publish state of the custom connector.",
          "readOnly": true,
          "enumDescriptions": [
            "State Unspecified.",
            "Connector version has been published as partner connector version.",
            "Connector version is in the process of being published as partner connector version.",
            "Connector version has been unpublished as partner connector version"
          ],
          "type": "string",
          "enum": [
            "PUBLISH_STATE_UNSPECIFIED",
            "PUBLISHED",
            "PUBLISH_IN_PROGRESS",
            "UNPUBLISHED"
          ]
        },
        "publishedSource": {
          "readOnly": true,
          "description": "Output only. Custom connector name. Will be set on the partner connector. Format: providers/customconnectors/connectors//versions/",
          "type": "string"
        }
      }
    },
    "EndUserAuthentication": {
      "id": "EndUserAuthentication",
      "properties": {
        "notifyEndpointDestination": {
          "description": "Optional. The destination to hit when we receive an event",
          "$ref": "EndUserAuthenticationNotifyEndpointDestination"
        },
        "userId": {
          "description": "Optional. The user id of the user.",
          "type": "string"
        },
        "endUserAuthenticationConfig": {
          "description": "Optional. The EndUserAuthenticationConfig for the EndUserAuthentication.",
          "$ref": "EndUserAuthenticationConfig"
        },
        "labels": {
          "description": "Optional. Labels for the EndUserAuthentication.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "destinationConfigs": {
          "description": "Optional. Destination configs for the EndUserAuthentication.",
          "type": "array",
          "items": {
            "$ref": "DestinationConfig"
          }
        },
        "createTime": {
          "description": "Output only. Created time.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. Updated time.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "status": {
          "description": "Optional. Status of the EndUserAuthentication.",
          "$ref": "EndUserAuthenticationEndUserAuthenticationStatus"
        },
        "roles": {
          "description": "Optional. Roles for the EndUserAuthentication.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Default state.",
              "READER.",
              "READER_DOMAIN_WIDE_ACCESSIBLE which has access to only public data."
            ],
            "type": "string",
            "enum": [
              "ROLE_UNSPECIFIED",
              "READER",
              "READER_DOMAIN_WIDE_ACCESSIBLE"
            ]
          }
        },
        "name": {
          "description": "Required. Identifier. Resource name of the EndUserAuthentication. Format: projects/{project}/locations/{location}/connections/{connection}/endUserAuthentications/{end_user_authentication}",
          "type": "string"
        },
        "configVariables": {
          "description": "Optional. Config variables for the EndUserAuthentication.",
          "type": "array",
          "items": {
            "$ref": "EndUserAuthenticationConfigVariable"
          }
        }
      },
      "description": "AuthConfig defines details of a authentication type.",
      "type": "object"
    },
    "TrafficShapingConfig": {
      "description": "* TrafficShapingConfig defines the configuration for shaping API traffic by specifying a quota limit and the duration over which this limit is enforced. This configuration helps to control and manage the rate at which API calls are made on the client side, preventing service overload on the backend. For example: - if the quota limit is 100 calls per 10 seconds, then the message would be: { quota_limit: 100 duration: { seconds: 10 } } - if the quota limit is 100 calls per 5 minutes, then the message would be: { quota_limit: 100 duration: { seconds: 300 } } - if the quota limit is 10000 calls per day, then the message would be: { quota_limit: 10000 duration: { seconds: 86400 } and so on.",
      "type": "object",
      "properties": {
        "quotaLimit": {
          "description": "Required. Maximum number of api calls allowed.",
          "type": "string",
          "format": "int64"
        },
        "duration": {
          "description": "Required. Specifies the duration over which the API call quota limits are calculated. This duration is used to define the time window for evaluating if the number of API calls made by a user is within the allowed quota limits. For example: - To define a quota sampled over 16 seconds, set `seconds` to 16 - To define a quota sampled over 5 minutes, set `seconds` to 300 (5 * 60) - To define a quota sampled over 1 day, set `seconds` to 86400 (24 * 60 * 60) and so on. It is important to note that this duration is not the time the quota is valid for, but rather the time window over which the quota is evaluated. For example, if the quota is 100 calls per 10 seconds, then this duration field would be set to 10 seconds.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "id": "TrafficShapingConfig"
    },
    "SearchConnectionsResponse": {
      "id": "SearchConnectionsResponse",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "connections": {
          "description": "A list of connectors.",
          "type": "array",
          "items": {
            "$ref": "SearchConnectionInstance"
          }
        },
        "nextPageToken": {
          "description": "Optional. page_token",
          "type": "string"
        }
      },
      "description": "Response message for Connectors.SearchConnections.",
      "type": "object"
    },
    "SloMetadata": {
      "description": "SloMetadata contains resources required for proper SLO classification of the instance.",
      "type": "object",
      "properties": {
        "nodes": {
          "description": "Optional. List of nodes. Some producers need to use per-node metadata to calculate SLO. This field allows such producers to publish per-node SLO meta data, which will be consumed by SSA Eligibility Exporter and published in the form of per node metric to Monarch.",
          "type": "array",
          "items": {
            "$ref": "NodeSloMetadata"
          }
        },
        "tier": {
          "description": "Name of the SLO tier the Instance belongs to. This name will be expected to match the tiers specified in the service SLO configuration. Field is mandatory and must not be empty.",
          "type": "string"
        },
        "perSliEligibility": {
          "description": "Optional. Multiple per-instance SLI eligibilities which apply for individual SLIs.",
          "$ref": "PerSliSloEligibility"
        }
      },
      "id": "SloMetadata"
    },
    "ManagedZone": {
      "id": "ManagedZone",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Updated time.",
          "type": "string",
          "format": "google-datetime"
        },
        "description": {
          "description": "Optional. Description of the resource.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. Resource labels to represent user-provided metadata. Refer to cloud documentation on labels for more details. https://cloud.google.com/compute/docs/labeling-resources",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "targetVpc": {
          "description": "Required. The name of the Target Project VPC Network",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name of the Managed Zone. Format: projects/{project}/locations/global/managedZones/{managed_zone}",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Created time.",
          "type": "string",
          "format": "google-datetime"
        },
        "dns": {
          "description": "Required. DNS Name of the resource",
          "type": "string"
        },
        "targetProject": {
          "description": "Required. The name of the Target Project",
          "type": "string"
        }
      },
      "description": "represents the Connector's Managed Zone resource",
      "type": "object"
    },
    "PublishCustomConnectorVersionRequest": {
      "description": "Request message for ConnectorsService.PublishCustomConnectorVersion",
      "type": "object",
      "properties": {
        "partnerMetadata": {
          "description": "Required. Partner metadata details for validating and publishing the custom connector as a partner connector version.",
          "$ref": "PartnerMetadata"
        }
      },
      "id": "PublishCustomConnectorVersionRequest"
    },
    "ListCustomConnectorsResponse": {
      "properties": {
        "customConnectors": {
          "description": "A list of customConnectors.",
          "type": "array",
          "items": {
            "$ref": "CustomConnector"
          }
        },
        "nextPageToken": {
          "description": "Next page token.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListCustomConnectorsResponse",
      "description": "Response message for Connectors.ListCustomConnectors.",
      "type": "object"
    },
    "EndUserAuthenticationConfigOauth2AuthCodeFlowGoogleManaged": {
      "id": "EndUserAuthenticationConfigOauth2AuthCodeFlowGoogleManaged",
      "properties": {
        "scopes": {
          "description": "Required. Scopes the connection will request when the user performs the auth code flow.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "redirectUri": {
          "description": "Optional. Redirect URI to be provided during the auth code exchange.",
          "type": "string"
        },
        "oauthTokenData": {
          "description": "Auth Code Data",
          "$ref": "OAuthTokenData"
        },
        "authCode": {
          "description": "Optional. Authorization code to be exchanged for access and refresh tokens.",
          "type": "string"
        }
      },
      "description": "Parameters to support Oauth 2.0 Auth Code Grant Authentication using Google Provided OAuth Client. See https://tools.ietf.org/html/rfc6749#section-1.3.1 for more details.",
      "type": "object"
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "id": "ListLocationsResponse",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "WebhookData": {
      "description": "WebhookData has details of webhook configuration.",
      "type": "object",
      "id": "WebhookData",
      "properties": {
        "additionalVariables": {
          "readOnly": true,
          "description": "Output only. Additional webhook related field values.",
          "type": "array",
          "items": {
            "$ref": "ConfigVariable"
          }
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Timestamp when the webhook was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "nextRefreshTime": {
          "readOnly": true,
          "description": "Output only. Next webhook refresh time. Will be null if refresh is not supported.",
          "type": "string",
          "format": "google-datetime"
        },
        "eventTypes": {
          "readOnly": true,
          "description": "Output only. List of event types for the webhook. This is the event types subscribed by the current webhook.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "eventSubscriptions": {
          "readOnly": true,
          "description": "Output only. List of event subscriptions which are using the webhook.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Name of the Webhook",
          "type": "string"
        },
        "id": {
          "description": "Output only. ID to uniquely identify webhook.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Timestamp when the webhook was created.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "EndUserAuthenticationNotifyEndpointDestinationEndPoint": {
      "properties": {
        "headers": {
          "description": "Optional. List of Header to be added to the Endpoint.",
          "type": "array",
          "items": {
            "$ref": "EndUserAuthenticationNotifyEndpointDestinationEndPointHeader"
          }
        },
        "endpointUri": {
          "description": "Required. The URI of the Endpoint.",
          "type": "string"
        }
      },
      "id": "EndUserAuthenticationNotifyEndpointDestinationEndPoint",
      "description": "Endpoint message includes details of the Destination endpoint.",
      "type": "object"
    },
    "ListenEventRequest": {
      "id": "ListenEventRequest",
      "properties": {
        "payload": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. Request payload.",
          "type": "object"
        }
      },
      "description": "Expected request for ListenEvent API.",
      "type": "object"
    },
    "EnumOption": {
      "properties": {
        "id": {
          "description": "Optional. Id of the option.",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. Display name of the option.",
          "type": "string"
        }
      },
      "id": "EnumOption",
      "description": "EnumOption definition",
      "type": "object"
    },
    "EventingConfig": {
      "description": "Eventing Configuration of a connection next: 21",
      "type": "object",
      "properties": {
        "eventsListenerIngressEndpoint": {
          "readOnly": true,
          "description": "Output only. Ingress endpoint of the event listener. This is used only when private connectivity is enabled.",
          "type": "string"
        },
        "privateConnectivityAllowlistedProjects": {
          "description": "Optional. List of projects to be allowlisted for the service attachment created in the tenant project for eventing ingress.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "registrationDestinationConfig": {
          "description": "Optional. Registration endpoint for auto registration.",
          "$ref": "DestinationConfig"
        },
        "deadLetterConfig": {
          "description": "Optional. Dead letter configuration for eventing of a connection.",
          "$ref": "DeadLetterConfig"
        },
        "sslConfig": {
          "description": "Optional. Ssl config of a connection",
          "$ref": "SslConfig"
        },
        "enrichmentConfig": {
          "description": "Optional. Data enrichment configuration.",
          "$ref": "EnrichmentConfig"
        },
        "additionalVariables": {
          "description": "Optional. Additional eventing related field values",
          "type": "array",
          "items": {
            "$ref": "ConfigVariable"
          }
        },
        "globalEventFilter": {
          "description": "Optional. Filter to be applied on the events to be received by the connection.",
          "type": "string"
        },
        "enrichmentEnabled": {
          "description": "Optional. Enrichment Enabled.",
          "type": "boolean"
        },
        "authConfig": {
          "description": "Optional. Auth details for the webhook adapter.",
          "$ref": "AuthConfig"
        },
        "listenerAuthConfig": {
          "description": "Optional. Auth details for the event listener.",
          "$ref": "AuthConfig"
        },
        "proxyDestinationConfig": {
          "description": "Optional. Proxy for Eventing auto-registration.",
          "$ref": "DestinationConfig"
        },
        "privateConnectivityEnabled": {
          "description": "Optional. Private Connectivity Enabled.",
          "type": "boolean"
        },
        "allowedEventTypes": {
          "description": "Optional. List of allowed event types for the connection.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "EventingConfig"
    },
    "ListProvidersResponse": {
      "description": "Response message for Connectors.ListProviders.",
      "type": "object",
      "id": "ListProvidersResponse",
      "properties": {
        "providers": {
          "description": "A list of providers.",
          "type": "array",
          "items": {
            "$ref": "Provider"
          }
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "Next page token.",
          "type": "string"
        }
      }
    },
    "NetworkEgressModeOverride": {
      "description": "NetworkEgressModeOverride provides the network egress mode override for a connector.",
      "type": "object",
      "id": "NetworkEgressModeOverride",
      "properties": {
        "networkEgressMode": {
          "description": "Determines the VPC Egress mode for the connector.",
          "type": "string",
          "enumDescriptions": [
            "Network Egress mode is not specified.",
            "Default model VPC Access Connector.",
            "Direct VPC Egress."
          ],
          "enum": [
            "NETWORK_EGRESS_MODE_UNSPECIFIED",
            "SERVERLESS_VPC_ACCESS_CONNECTOR",
            "DIRECT_VPC_EGRESS"
          ]
        },
        "isEventingOverrideEnabled": {
          "description": "boolean should be set to true to make sure only eventing enabled connections are migrated to direct vpc egress.",
          "type": "boolean"
        },
        "isJobsOverrideEnabled": {
          "description": "boolean should be set to true to make sure only async operations enabled connections are migrated to direct vpc egress.",
          "type": "boolean"
        }
      }
    },
    "SupportedRuntimeFeatures": {
      "properties": {
        "entityApis": {
          "description": "Specifies if the connector supports entity apis like 'createEntity'.",
          "type": "boolean"
        },
        "actionApis": {
          "description": "Specifies if the connector supports action apis like 'executeAction'.",
          "type": "boolean"
        },
        "sqlQuery": {
          "description": "Specifies if the connector supports 'ExecuteSqlQuery' operation.",
          "type": "boolean"
        },
        "asyncOperations": {
          "description": "Specifies if the connector supports async long running operations.",
          "type": "boolean"
        }
      },
      "id": "SupportedRuntimeFeatures",
      "description": "Supported runtime features of a connector version.",
      "type": "object"
    },
    "ModifyConnectionToolspecOverrideResponse": {
      "description": "Response message for ModifyConnectionToolspecOverride API.",
      "type": "object",
      "id": "ModifyConnectionToolspecOverrideResponse",
      "properties": {
        "toolspecOverrides": {
          "description": "Toolspec overrides for the connection.",
          "$ref": "ToolspecOverride"
        }
      }
    },
    "Expr": {
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object",
      "properties": {
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        }
      },
      "id": "Expr"
    },
    "NotificationParameter": {
      "description": "Contains notification related data.",
      "type": "object",
      "properties": {
        "values": {
          "description": "Optional. Array of string values. e.g. instance's replica information.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "NotificationParameter"
    },
    "Settings": {
      "description": "Global Settings details.",
      "type": "object",
      "properties": {
        "vpcsc": {
          "description": "Optional. Flag indicates whether vpc-sc is enabled.",
          "type": "boolean"
        },
        "tenantProjectId": {
          "readOnly": true,
          "description": "Output only. Tenant project id of the consumer project.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name of the Connection. Format: projects/{project}/locations/global/settings}",
          "type": "string"
        },
        "payg": {
          "description": "Output only. Flag indicates if user is in PayG model",
          "type": "boolean",
          "readOnly": true
        }
      },
      "id": "Settings"
    },
    "MaintenanceSchedule": {
      "description": "Maintenance schedule which is exposed to customer and potentially end user, indicating published upcoming future maintenance schedule",
      "type": "object",
      "id": "MaintenanceSchedule",
      "properties": {
        "startTime": {
          "description": "The scheduled start time for the maintenance.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "The scheduled end time for the maintenance.",
          "type": "string",
          "format": "google-datetime"
        },
        "scheduleDeadlineTime": {
          "description": "schedule_deadline_time is the time deadline any schedule start time cannot go beyond, including reschedule. It's normally the initial schedule start time plus maintenance window length (1 day or 1 week). Maintenance cannot be scheduled to start beyond this deadline.",
          "type": "string",
          "format": "google-datetime"
        },
        "rolloutManagementPolicy": {
          "description": "The rollout management policy this maintenance schedule is associated with. When doing reschedule update request, the reschedule should be against this given policy.",
          "type": "string"
        },
        "canReschedule": {
          "deprecated": true,
          "description": "This field is deprecated, and will be always set to true since reschedule can happen multiple times now. This field should not be removed until all service producers remove this for their customers.",
          "type": "boolean"
        }
      }
    },
    "HPAConfig": {
      "properties": {
        "cpuUtilizationThreshold": {
          "readOnly": true,
          "description": "Output only. Percent CPU utilization where HPA triggers autoscaling.",
          "type": "string",
          "format": "int64"
        },
        "memoryUtilizationThreshold": {
          "readOnly": true,
          "description": "Output only. Percent Memory utilization where HPA triggers autoscaling.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "HPAConfig",
      "description": "Autoscaling config for connector deployment system metrics.",
      "type": "object"
    },
    "InputParameter": {
      "description": "Metadata of an input parameter.",
      "type": "object",
      "id": "InputParameter",
      "properties": {
        "dataType": {
          "description": "The data type of the Parameter.",
          "enumDescriptions": [
            "Data type is not specified.",
            "DEPRECATED! Use DATA_TYPE_INTEGER.",
            "Short integer(int16) data type.",
            "Double data type.",
            "Date data type.",
            "DEPRECATED! Use DATA_TYPE_TIMESTAMP.",
            "Time data type.",
            "DEPRECATED! Use DATA_TYPE_VARCHAR.",
            "DEPRECATED! Use DATA_TYPE_BIGINT.",
            "Boolean data type.",
            "Decimal data type.",
            "DEPRECATED! Use DATA_TYPE_VARCHAR.",
            "UNSUPPORTED! Binary data type.",
            "Bit data type.",
            "Small integer(int8) data type.",
            "Integer(int32) data type.",
            "Long integer(int64) data type.",
            "Float data type.",
            "Real data type.",
            "Numeric data type.",
            "Char data type.",
            "Varchar data type.",
            "Longvarchar data type.",
            "Timestamp data type.",
            "Nchar data type.",
            "Nvarchar data type.",
            "Longnvarchar data type.",
            "Null data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Row id data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Variable binary data type.",
            "UNSUPPORTED! Long variable binary data type.",
            "UNSUPPORTED! NCLOB data type.",
            "UNSUPPORTED! SQL XML data type is not supported.",
            "UNSUPPORTED! Cursor reference type is not supported.",
            "UNSUPPORTED! Use TIME or TIMESTAMP instead.",
            "UNSUPPORTED! Use TIMESTAMP instead."
          ],
          "type": "string",
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            true,
            false,
            true,
            true,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "DATA_TYPE_INT",
            "DATA_TYPE_SMALLINT",
            "DATA_TYPE_DOUBLE",
            "DATA_TYPE_DATE",
            "DATA_TYPE_DATETIME",
            "DATA_TYPE_TIME",
            "DATA_TYPE_STRING",
            "DATA_TYPE_LONG",
            "DATA_TYPE_BOOLEAN",
            "DATA_TYPE_DECIMAL",
            "DATA_TYPE_UUID",
            "DATA_TYPE_BLOB",
            "DATA_TYPE_BIT",
            "DATA_TYPE_TINYINT",
            "DATA_TYPE_INTEGER",
            "DATA_TYPE_BIGINT",
            "DATA_TYPE_FLOAT",
            "DATA_TYPE_REAL",
            "DATA_TYPE_NUMERIC",
            "DATA_TYPE_CHAR",
            "DATA_TYPE_VARCHAR",
            "DATA_TYPE_LONGVARCHAR",
            "DATA_TYPE_TIMESTAMP",
            "DATA_TYPE_NCHAR",
            "DATA_TYPE_NVARCHAR",
            "DATA_TYPE_LONGNVARCHAR",
            "DATA_TYPE_NULL",
            "DATA_TYPE_OTHER",
            "DATA_TYPE_JAVA_OBJECT",
            "DATA_TYPE_DISTINCT",
            "DATA_TYPE_STRUCT",
            "DATA_TYPE_ARRAY",
            "DATA_TYPE_CLOB",
            "DATA_TYPE_REF",
            "DATA_TYPE_DATALINK",
            "DATA_TYPE_ROWID",
            "DATA_TYPE_BINARY",
            "DATA_TYPE_VARBINARY",
            "DATA_TYPE_LONGVARBINARY",
            "DATA_TYPE_NCLOB",
            "DATA_TYPE_SQLXML",
            "DATA_TYPE_REF_CURSOR",
            "DATA_TYPE_TIME_WITH_TIMEZONE",
            "DATA_TYPE_TIMESTAMP_WITH_TIMEZONE"
          ]
        },
        "defaultValue": {
          "description": "The following field specifies the default value of the Parameter provided by the external system if a value is not provided.",
          "type": "any"
        },
        "jsonSchema": {
          "description": "JsonSchema representation of this action's parameter",
          "$ref": "JsonSchema"
        },
        "parameter": {
          "description": "Name of the Parameter.",
          "type": "string"
        },
        "description": {
          "description": "A brief description of the Parameter.",
          "type": "string"
        },
        "nullable": {
          "description": "Specifies whether a null value is allowed.",
          "type": "boolean"
        }
      }
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "id": "Status",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "UserPassword": {
      "description": "Parameters to support Username and Password Authentication.",
      "type": "object",
      "id": "UserPassword",
      "properties": {
        "password": {
          "description": "Optional. Secret version reference containing the password.",
          "$ref": "Secret"
        },
        "username": {
          "description": "Optional. Username.",
          "type": "string"
        }
      }
    },
    "SslConfigTemplate": {
      "description": "Ssl config details of a connector version",
      "type": "object",
      "properties": {
        "isTlsMandatory": {
          "description": "Boolean for determining if the connector version mandates TLS.",
          "type": "boolean"
        },
        "serverCertType": {
          "description": "List of supported Server Cert Types",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Cert type unspecified.",
              "Privacy Enhanced Mail (PEM) Type"
            ],
            "type": "string",
            "enum": [
              "CERT_TYPE_UNSPECIFIED",
              "PEM"
            ]
          }
        },
        "sslType": {
          "enumDescriptions": [
            "No SSL configuration required.",
            "TLS Handshake",
            "mutual TLS (MTLS) Handshake"
          ],
          "description": "Controls the ssl type for the given connector version",
          "type": "string",
          "enum": [
            "SSL_TYPE_UNSPECIFIED",
            "TLS",
            "MTLS"
          ]
        },
        "clientCertType": {
          "description": "List of supported Client Cert Types",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Cert type unspecified.",
              "Privacy Enhanced Mail (PEM) Type"
            ],
            "type": "string",
            "enum": [
              "CERT_TYPE_UNSPECIFIED",
              "PEM"
            ]
          }
        },
        "additionalVariables": {
          "description": "Any additional fields that need to be rendered",
          "type": "array",
          "items": {
            "$ref": "ConfigVariableTemplate"
          }
        }
      },
      "id": "SslConfigTemplate"
    },
    "SchemaRefreshConfig": {
      "description": "Config for connection schema refresh",
      "type": "object",
      "properties": {
        "useSynchronousSchemaRefresh": {
          "description": "Whether to use synchronous schema refresh.",
          "type": "boolean"
        },
        "useActionDisplayNames": {
          "description": "Whether to use displayName for actions in UI.",
          "type": "boolean"
        }
      },
      "id": "SchemaRefreshConfig"
    },
    "RuntimeEntitySchema": {
      "id": "RuntimeEntitySchema",
      "properties": {
        "entity": {
          "description": "Output only. Name of the entity.",
          "type": "string",
          "readOnly": true
        },
        "jsonSchema": {
          "readOnly": true,
          "$ref": "JsonSchema",
          "description": "Output only. JsonSchema representation of this entity's metadata"
        },
        "fields": {
          "readOnly": true,
          "description": "Output only. List of fields in the entity.",
          "type": "array",
          "items": {
            "$ref": "Field"
          }
        },
        "operations": {
          "description": "List of operations supported by this entity",
          "type": "array",
          "items": {
            "enum": [
              "OPERATION_UNSPECIFIED",
              "LIST",
              "GET",
              "CREATE",
              "UPDATE",
              "DELETE"
            ],
            "type": "string",
            "enumDescriptions": [
              "Operation unspecified.",
              "This operation means entity type supports LIST entities.",
              "This operation means entity type supports GET entity.",
              "This operation means entity type supports CREATE entity.",
              "This operation means entity type supports UPDATE entity.",
              "This operation means entity type supports DELETE entity."
            ]
          }
        }
      },
      "description": "Schema of a runtime entity.",
      "type": "object"
    },
    "BillingConfig": {
      "description": "Billing config for the connection.",
      "type": "object",
      "properties": {
        "billingCategory": {
          "enum": [
            "BILLING_CATEGORY_UNSPECIFIED",
            "GCP_AND_TECHNICAL_CONNECTOR",
            "NON_GCP_CONNECTOR"
          ],
          "enumDescriptions": [
            "Billing category is not specified.",
            "GCP/Technical connector.",
            "Non-GCP connector."
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. Billing category for the connector."
        }
      },
      "id": "BillingConfig"
    },
    "SloEligibility": {
      "id": "SloEligibility",
      "properties": {
        "reason": {
          "description": "User-defined reason for the current value of instance eligibility. Usually, this can be directly mapped to the internal state. An empty reason is allowed.",
          "type": "string"
        },
        "eligible": {
          "description": "Whether an instance is eligible or ineligible.",
          "type": "boolean"
        }
      },
      "description": "SloEligibility is a tuple containing eligibility value: true if an instance is eligible for SLO calculation or false if it should be excluded from all SLO-related calculations along with a user-defined reason.",
      "type": "object"
    },
    "ListenEventResponse": {
      "description": "Expected response for ListenEvent API.",
      "type": "object",
      "properties": {},
      "id": "ListenEventResponse"
    },
    "ExtractionRule": {
      "properties": {
        "formatString": {
          "description": "Format string used to format the extracted backend details. If empty, extracted backend details will be returned as it is.",
          "type": "string"
        },
        "source": {
          "description": "Source on which the rule is applied.",
          "$ref": "Source"
        },
        "extractionRegex": {
          "description": "Regex used to extract backend details from source. If empty, whole source value will be used.",
          "type": "string"
        }
      },
      "id": "ExtractionRule",
      "description": "Extraction Rule.",
      "type": "object"
    },
    "WeeklyCycle": {
      "id": "WeeklyCycle",
      "properties": {
        "schedule": {
          "description": "User can specify multiple windows in a week. Minimum of 1 window.",
          "type": "array",
          "items": {
            "$ref": "Schedule"
          }
        }
      },
      "description": "Time window specified for weekly operations.",
      "type": "object"
    },
    "JwtClaims": {
      "id": "JwtClaims",
      "properties": {
        "subject": {
          "description": "Optional. Value for the \"sub\" claim.",
          "type": "string"
        },
        "issuer": {
          "description": "Optional. Value for the \"iss\" claim.",
          "type": "string"
        },
        "audience": {
          "description": "Optional. Value for the \"aud\" claim.",
          "type": "string"
        }
      },
      "description": "JWT claims used for the jwt-bearer authorization grant.",
      "type": "object"
    },
    "PartnerMetadata": {
      "properties": {
        "targetCustomerSegment": {
          "description": "Required. Target customer segment for the partner connector.",
          "type": "string"
        },
        "partner": {
          "description": "Required. Partner name.",
          "type": "string"
        },
        "additionalComments": {
          "description": "Optional. Additional comments for the submission.",
          "type": "string"
        },
        "marketplaceProductId": {
          "description": "Required. Marketplace product ID.",
          "type": "string"
        },
        "confirmPartnerRequirements": {
          "description": "Required. Confirmation that connector meets all applicable requirements mentioned in the Partner Connector Publishing requirements list and Partner onboardiong requirements list (https://cloud.google.com/marketplace/docs/partners/get-started#requirements).",
          "type": "boolean"
        },
        "publishRequestTime": {
          "readOnly": true,
          "description": "Output only. Publish request time.",
          "type": "string",
          "format": "google-datetime"
        },
        "useCases": {
          "description": "Required. Details about partner connector use cases.",
          "type": "string"
        },
        "partnerConnectorDisplayName": {
          "description": "Required. Partner connector display name.",
          "type": "string"
        },
        "hasDynamicSpecUri": {
          "description": "Output only. Has dynamic open api spec uri.",
          "type": "boolean",
          "readOnly": true
        },
        "marketplaceProductUri": {
          "description": "Optional. Marketplace product URL.",
          "type": "string"
        },
        "targetApplication": {
          "description": "Required. Target application for which partner connector is built.",
          "type": "string"
        },
        "localSpecPath": {
          "readOnly": true,
          "description": "Output only. Local spec path. Required if has_dynamic_spec_uri is true.",
          "type": "string"
        },
        "marketplaceProduct": {
          "description": "Optional. Marketplace product name.",
          "type": "string"
        },
        "acceptGcpTos": {
          "description": "Required. Whether the user has accepted the Google Cloud Platform Terms of Service (https://cloud.google.com/terms/) and the Google Cloud Marketplace Terms of Service (https://cloud.google.com/terms/marketplace/launcher?hl=en).",
          "type": "boolean"
        },
        "integrationTemplates": {
          "description": "Required. Integration example templates for the custom connector.",
          "type": "string"
        },
        "marketplaceProductProjectId": {
          "description": "Optional. Marketplace product project ID.",
          "type": "string"
        },
        "demoUri": {
          "description": "Required. Public URL for the demo video.",
          "type": "string"
        }
      },
      "id": "PartnerMetadata",
      "description": "Partner metadata details. This will be populated when publishing the custom connector as a partner connector version. On publishing, parntner connector version will be created using the fields in PartnerMetadata.",
      "type": "object"
    },
    "EnrichmentConfig": {
      "id": "EnrichmentConfig",
      "properties": {
        "appendAcl": {
          "description": "Optional. Append ACL to the event.",
          "type": "boolean"
        }
      },
      "description": "Data enrichment configuration.",
      "type": "object"
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "The response message for Operations.ListOperations.",
      "type": "object"
    },
    "Source": {
      "properties": {
        "fieldId": {
          "description": "Field identifier. For example config variable name.",
          "type": "string"
        },
        "sourceType": {
          "enum": [
            "SOURCE_TYPE_UNSPECIFIED",
            "CONFIG_VARIABLE",
            "AUTH_CONFIG_VARIABLE"
          ],
          "description": "Type of the source.",
          "type": "string",
          "enumDescriptions": [
            "Default SOURCE.",
            "Config Variable source type.",
            "Auth Config Variable source type."
          ]
        }
      },
      "id": "Source",
      "description": "Source to extract the backend from.",
      "type": "object"
    },
    "FetchConnectionToolspecOverrideRequest": {
      "description": "Request message for FetchConnectionToolspecOverride API.",
      "type": "object",
      "properties": {
        "toolNames": {
          "description": "Required. List of tools for which the tool spec override is to be generated.",
          "type": "array",
          "items": {
            "$ref": "ToolName"
          }
        }
      },
      "id": "FetchConnectionToolspecOverrideRequest"
    },
    "EventSubscription": {
      "description": "represents the Connector's EventSubscription resource",
      "type": "object",
      "id": "EventSubscription",
      "properties": {
        "subscriberLink": {
          "description": "Optional. Link for Subscriber of the current EventSubscription.",
          "type": "string"
        },
        "triggerConfigVariables": {
          "description": "Optional. Configuration for configuring the trigger",
          "type": "array",
          "items": {
            "$ref": "ConfigVariable"
          }
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Created time.",
          "type": "string",
          "format": "google-datetime"
        },
        "filter": {
          "description": "Optional. Filter for the event subscription. Incoming events are filtered based on the filter expression.",
          "type": "string"
        },
        "subscriber": {
          "description": "Optional. name of the Subscriber for the current EventSubscription.",
          "type": "string"
        },
        "eventTypeId": {
          "description": "Optional. Event type id of the event of current EventSubscription.",
          "type": "string"
        },
        "status": {
          "description": "Optional. Status indicates the status of the event subscription resource",
          "$ref": "EventSubscriptionStatus"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Updated time.",
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "Required. Identifier. Resource name of the EventSubscription. Format: projects/{project}/locations/{location}/connections/{connection}/eventSubscriptions/{event_subscription}",
          "type": "string"
        },
        "destinations": {
          "description": "Optional. The destination to hit when we receive an event",
          "$ref": "EventSubscriptionDestination"
        },
        "jms": {
          "description": "Optional. JMS is the source for the event listener.",
          "$ref": "JMS"
        }
      }
    },
    "AuthorizationCodeLink": {
      "description": "This configuration captures the details required to render an authorization link for the OAuth Authorization Code Flow.",
      "type": "object",
      "properties": {
        "uri": {
          "description": "Optional. The base URI the user must click to trigger the authorization code login flow.",
          "type": "string"
        },
        "scopes": {
          "description": "Optional. The scopes for which the user will authorize Google Cloud Connectors on the connector data source.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "clientSecret": {
          "description": "Optional. The client secret assigned to the Google Cloud Connectors OAuth app for the connector data source.",
          "$ref": "Secret"
        },
        "clientId": {
          "description": "Optional. The client ID assigned to the Google Cloud Connectors OAuth app for the connector data source.",
          "type": "string"
        },
        "enablePkce": {
          "description": "Optional. Whether to enable PKCE for the auth code flow.",
          "type": "boolean"
        },
        "omitQueryParams": {
          "description": "Optional. Omit query params from the redirect URI.",
          "type": "boolean"
        }
      },
      "id": "AuthorizationCodeLink"
    },
    "Header": {
      "properties": {
        "value": {
          "description": "Optional. Value of Header.",
          "type": "string"
        },
        "key": {
          "description": "Optional. Key of Header.",
          "type": "string"
        }
      },
      "id": "Header",
      "description": "Header details for a given header to be added to Endpoint.",
      "type": "object"
    },
    "SslConfig": {
      "description": "SSL Configuration of a connection",
      "type": "object",
      "properties": {
        "clientCertType": {
          "enum": [
            "CERT_TYPE_UNSPECIFIED",
            "PEM"
          ],
          "description": "Optional. Type of Client Cert (PEM/JKS/.. etc.)",
          "type": "string",
          "enumDescriptions": [
            "Cert type unspecified.",
            "Privacy Enhanced Mail (PEM) Type"
          ]
        },
        "type": {
          "enum": [
            "SSL_TYPE_UNSPECIFIED",
            "TLS",
            "MTLS"
          ],
          "enumDescriptions": [
            "No SSL configuration required.",
            "TLS Handshake",
            "mutual TLS (MTLS) Handshake"
          ],
          "description": "Optional. Controls the ssl type for the given connector version.",
          "type": "string"
        },
        "clientCertificate": {
          "description": "Optional. Client Certificate",
          "$ref": "Secret"
        },
        "serverCertType": {
          "enum": [
            "CERT_TYPE_UNSPECIFIED",
            "PEM"
          ],
          "enumDescriptions": [
            "Cert type unspecified.",
            "Privacy Enhanced Mail (PEM) Type"
          ],
          "description": "Optional. Type of Server Cert (PEM/JKS/.. etc.)",
          "type": "string"
        },
        "useSsl": {
          "description": "Optional. Bool for enabling SSL",
          "type": "boolean"
        },
        "privateServerCertificate": {
          "description": "Optional. Private Server Certificate. Needs to be specified if trust model is `PRIVATE`.",
          "$ref": "Secret"
        },
        "additionalVariables": {
          "description": "Optional. Additional SSL related field values",
          "type": "array",
          "items": {
            "$ref": "ConfigVariable"
          }
        },
        "trustModel": {
          "enum": [
            "PUBLIC",
            "PRIVATE",
            "INSECURE"
          ],
          "description": "Optional. Trust Model of the SSL connection",
          "type": "string",
          "enumDescriptions": [
            "Public Trust Model. Takes the Default Java trust store.",
            "Private Trust Model. Takes custom/private trust store.",
            "Insecure Trust Model. Accept all certificates."
          ]
        },
        "clientPrivateKey": {
          "description": "Optional. Client Private Key",
          "$ref": "Secret"
        },
        "clientPrivateKeyPass": {
          "description": "Optional. Secret containing the passphrase protecting the Client Private Key",
          "$ref": "Secret"
        }
      },
      "id": "SslConfig"
    },
    "DestinationConfigTemplate": {
      "properties": {
        "description": {
          "description": "Description.",
          "type": "string"
        },
        "key": {
          "description": "Key of the destination.",
          "type": "string"
        },
        "displayName": {
          "description": "Display name of the parameter.",
          "type": "string"
        },
        "max": {
          "description": "The maximum number of destinations supported for this key.",
          "type": "integer",
          "format": "int32"
        },
        "defaultPort": {
          "description": "The default port.",
          "type": "integer",
          "format": "int32"
        },
        "portFieldType": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "description": "Whether port number should be provided by customers.",
          "type": "string",
          "enum": [
            "FIELD_TYPE_UNSPECIFIED",
            "REQUIRED",
            "OPTIONAL",
            "NOT_USED"
          ]
        },
        "regexPattern": {
          "description": "Regex pattern for host.",
          "type": "string"
        },
        "isAdvanced": {
          "description": "Whether the current destination tempalate is part of Advanced settings",
          "type": "boolean"
        },
        "min": {
          "description": "The minimum number of destinations supported for this key.",
          "type": "integer",
          "format": "int32"
        },
        "autocompleteSuggestions": {
          "description": "Autocomplete suggestions for destination URL field.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "DestinationConfigTemplate",
      "description": "DestinationConfigTemplate defines required destinations supported by the Connector.",
      "type": "object"
    },
    "WebhookSubscriptions": {
      "description": "WebhookSubscriptions has details of webhook subscriptions.",
      "type": "object",
      "id": "WebhookSubscriptions",
      "properties": {
        "webhookData": {
          "readOnly": true,
          "description": "Output only. Webhook data.",
          "type": "array",
          "items": {
            "$ref": "WebhookData"
          }
        }
      }
    },
    "DeprecateCustomConnectorVersionRequest": {
      "properties": {},
      "id": "DeprecateCustomConnectorVersionRequest",
      "description": "Request message for ConnectorsService.DeprecateCustomConnectorVersion",
      "type": "object"
    },
    "ToolspecOverride": {
      "id": "ToolspecOverride",
      "properties": {
        "tools": {
          "description": "Required. List of tools defined in the tool spec. Marking this field as required as this is the only field that is editable by the user in modify API so we should have at least one tool in the list.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object."
            }
          }
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Updated time.",
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "description": "Output only. Created time.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "baseVersion": {
          "description": "Required. Represents the base version of the toolspec for which admin has added overrides.",
          "type": "string"
        }
      },
      "description": "Toolspec overrides for a connection only holds the information that is to be displayed in the UI for admins.",
      "type": "object"
    },
    "Date": {
      "id": "Date",
      "properties": {
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "type": "object"
    },
    "Connection": {
      "properties": {
        "eventingRuntimeData": {
          "readOnly": true,
          "$ref": "EventingRuntimeData",
          "description": "Output only. Eventing Runtime Data."
        },
        "suspended": {
          "description": "Optional. Suspended indicates if a user has suspended a connection or not.",
          "type": "boolean"
        },
        "adminFilters": {
[...]
