{
  "rootUrl": "https://connectors.googleapis.com/",
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "id": "connectors:v2",
  "mtlsRootUrl": "https://connectors.mtls.googleapis.com/",
  "description": "Enables users to create and manage connections to Google Cloud services and third-party business applications using the Connectors interface.",
  "baseUrl": "https://connectors.googleapis.com/",
  "documentationLink": "https://cloud.google.com/apigee/docs/api-platform/connectors/about-connectors",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "revision": "20260921",
  "name": "connectors",
  "title": "Connectors API",
  "kind": "discovery#restDescription",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "servicePath": "",
  "ownerDomain": "google.com",
  "basePath": "",
  "version_module": true,
  "ownerName": "Google",
  "version": "v2",
  "batchPath": "batch",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "connections": {
              "methods": {
                "checkReadiness": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "connectors.projects.locations.connections.checkReadiness",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:checkReadiness",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "required": true
                    }
                  },
                  "path": "v2/{+name}:checkReadiness",
                  "response": {
                    "$ref": "CheckReadinessResponse"
                  },
                  "description": "Reports readiness status of the connector. Similar logic to GetStatus but modified for kubernetes health check to understand."
                },
                "executeSqlQuery": {
                  "parameterOrder": [
                    "connection"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:executeSqlQuery",
                  "httpMethod": "POST",
                  "id": "connectors.projects.locations.connections.executeSqlQuery",
                  "parameters": {
                    "connection": {
                      "description": "Required. Resource name of the Connection. Format: projects/{project}/locations/{location}/connections/{connection}",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "ExecuteSqlQueryResponse"
                  },
                  "request": {
                    "$ref": "ExecuteSqlQueryRequest"
                  },
                  "description": "Executes a SQL statement specified in the body of the request. An example of this SQL statement in the case of Salesforce connector would be 'select * from Account a, Order o where a.Id = o.AccountId'.",
                  "path": "v2/{+connection}:executeSqlQuery"
                },
                "refreshAccessToken": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "RefreshAccessTokenResponse"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:refreshAccessToken",
                  "path": "v2/{+name}:refreshAccessToken",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "RefreshAccessTokenRequest"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "description": "RefreshAccessToken exchanges the OAuth refresh token (and other necessary data) for a new access token (and new associated credentials).",
                  "httpMethod": "POST",
                  "id": "connectors.projects.locations.connections.refreshAccessToken"
                },
                "exchangeAuthCode": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:exchangeAuthCode",
                  "description": "ExchangeAuthCode exchanges the OAuth authorization code (and other necessary data) for an access token (and associated credentials).",
                  "request": {
                    "$ref": "ExchangeAuthCodeRequest"
                  },
                  "id": "connectors.projects.locations.connections.exchangeAuthCode",
                  "response": {
                    "$ref": "ExchangeAuthCodeResponse"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$"
                    }
                  },
                  "httpMethod": "POST",
                  "path": "v2/{+name}:exchangeAuthCode",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                },
                "tools": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v2/{+parent}/tools",
                  "parameters": {
                    "parent": {
                      "description": "Required. Resource name of the Connection. Format: projects/{project}/locations/{location}/connections/{connection}",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "ListToolsPostRequest"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListToolsResponse"
                  },
                  "id": "connectors.projects.locations.connections.tools",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/tools",
                  "description": "Lists all available tools with POST."
                },
                "executeHttpRequest": {
                  "response": {
                    "$ref": "ExecuteHttpRequestResponse"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. Resource name of the Connection. Format: projects/{project}/locations/{location}/connections/{connection}",
                      "required": true
                    }
                  },
                  "path": "v2/{+name}:executeHttpRequest",
                  "httpMethod": "POST",
                  "description": "Executes a generic HTTP request. This supports all payload formats including REST/JSON, GraphQL, XML, SOAP, and Multipart by passing the rendered payload as raw bytes.",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:executeHttpRequest",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "connectors.projects.locations.connections.executeHttpRequest",
                  "request": {
                    "$ref": "ExecuteHttpRequestRequest"
                  }
                },
                "checkStatus": {
                  "httpMethod": "GET",
                  "parameters": {
                    "executionConfig.headers": {
                      "type": "string",
                      "description": "headers to be used for the request. For example: headers:'{\"x-integration-connectors-managed-connection-id\":\"conn-id\",\"x-integration-connectors-runtime-config\":\"runtime-cfg\"}'",
                      "location": "query"
                    },
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "type": "string"
                    }
                  },
                  "id": "connectors.projects.locations.connections.checkStatus",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2/{+name}:checkStatus",
                  "response": {
                    "$ref": "CheckStatusResponse"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:checkStatus",
                  "description": "Reports the status of the connection. Note that when the connection is in a state that is not ACTIVE, the implementation of this RPC method must return a Status with the corresponding State instead of returning a gRPC status code that is not \"OK\", which indicates that ConnectionStatus itself, not the connection, failed."
                },
                "generateConnectionToolspecOverride": {
                  "response": {
                    "$ref": "GenerateCustomToolspecResponse"
                  },
                  "description": "Generate toolspec override for the given list of toolNames.",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:generateConnectionToolspecOverride",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "required": true,
                      "description": "Required. Resource name of the Connection. Format: projects/{project}/locations/{location}/connections/{connection}",
                      "type": "string"
                    }
                  },
                  "path": "v2/{+name}:generateConnectionToolspecOverride",
                  "request": {
                    "$ref": "GenerateCustomToolspecRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "connectors.projects.locations.connections.generateConnectionToolspecOverride"
                },
                "listCustomToolNames": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists custom tool names.",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "ListCustomToolNamesResponse"
                  },
                  "id": "connectors.projects.locations.connections.listCustomToolNames",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "description": "Required. Resource name of the Connection. Format: projects/{project}/locations/{location}/connections/{connection}",
                      "location": "path"
                    }
                  },
                  "httpMethod": "GET",
                  "path": "v2/{+name}:listCustomToolNames",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:listCustomToolNames"
                }
              },
              "resources": {
                "resources": {
                  "methods": {
                    "list": {
                      "response": {
                        "$ref": "ListResourcesResponse"
                      },
                      "description": "Lists all available resources.",
                      "path": "v2/{+parent}/resources",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/resources",
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. Page token for the request."
                        },
                        "parent": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                          "type": "string",
                          "description": "Required. Resource name of the connection. Format: projects/{project}/locations/{location}/connections/{connection}"
                        },
                        "pageSize": {
                          "location": "query",
                          "description": "Optional. Page size for the request.",
                          "format": "int32",
                          "type": "integer"
                        },
                        "executionConfig.headers": {
                          "location": "query",
                          "type": "string",
                          "description": "headers to be used for the request. For example: headers:'{\"x-integration-connectors-managed-connection-id\":\"conn-id\",\"x-integration-connectors-runtime-config\":\"runtime-cfg\"}'"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "id": "connectors.projects.locations.connections.resources.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "getResourcePost": {
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/resources/.*$",
                          "type": "string",
                          "description": "Required. Resource name of the Resource. Format: projects/{project}/locations/{location}/connections/{connection}/resources/{resource}",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "path": "v2/{+name}",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "GetResourceResponse"
                      },
                      "description": "Gets a specific resource with POST.",
                      "request": {
                        "$ref": "GetResourcePostRequest"
                      },
                      "id": "connectors.projects.locations.connections.resources.getResourcePost",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/resources/{resourcesId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "get": {
                      "id": "connectors.projects.locations.connections.resources.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/resources/{resourcesId}",
                      "httpMethod": "GET",
                      "parameters": {
                        "executionConfig.headers": {
                          "location": "query",
                          "description": "headers to be used for the request. For example: headers:'{\"x-integration-connectors-managed-connection-id\":\"conn-id\",\"x-integration-connectors-runtime-config\":\"runtime-cfg\"}'",
                          "type": "string"
                        },
                        "name": {
                          "description": "Required. Resource name of the Resource. Format: projects/{project}/locations/{location}/connections/{connection}/resources/{resource}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/resources/.*$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "GetResourceResponse"
                      },
                      "description": "Gets a specific resource.",
                      "path": "v2/{+name}",
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                },
                "entityTypes": {
                  "resources": {
                    "entities": {
                      "methods": {
                        "get": {
                          "response": {
                            "$ref": "Entity"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "connectors.projects.locations.connections.entityTypes.entities.get",
                          "description": "Gets a single entity row matching the entity type and entity id specified in the request.",
                          "parameterOrder": [
                            "name"
                          ],
                          "parameters": {
                            "name": {
                              "required": true,
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/entityTypes/[^/]+/entities/[^/]+$",
                              "description": "Required. Resource name of the Entity Type. Format: projects/{project}/locations/{location}/connections/{connection}/entityTypes/{type}/entities/{id}",
                              "type": "string"
                            },
                            "executionConfig.headers": {
                              "location": "query",
                              "type": "string",
                              "description": "headers to be used for the request. For example: headers:'{\"x-integration-connectors-managed-connection-id\":\"conn-id\",\"x-integration-connectors-runtime-config\":\"runtime-cfg\"}'"
                            }
                          },
                          "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/entityTypes/{entityTypesId}/entities/{entitiesId}",
                          "httpMethod": "GET",
                          "path": "v2/{+name}"
                        },
                        "delete": {
                          "parameters": {
                            "executionConfig.headers": {
                              "location": "query",
                              "type": "string",
                              "description": "headers to be used for the request. For example: headers:'{\"x-integration-connectors-managed-connection-id\":\"conn-id\",\"x-integration-connectors-runtime-config\":\"runtime-cfg\"}'"
                            },
                            "name": {
                              "description": "Required. Resource name of the Entity Type. Format: projects/{project}/locations/{location}/connections/{connection}/entityTypes/{type}/entities/{id}",
                              "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/entityTypes/[^/]+/entities/[^/]+$",
                              "required": true,
                              "location": "path",
                              "type": "string"
                            }
                          },
                          "httpMethod": "DELETE",
                          "path": "v2/{+name}",
                          "response": {
                            "$ref": "Empty"
                          },
                          "id": "connectors.projects.locations.connections.entityTypes.entities.delete",
                          "description": "Deletes an existing entity row matching the entity type and entity id specified in the request.",
                          "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/entityTypes/{entityTypesId}/entities/{entitiesId}",
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        },
                        "patch": {
                          "response": {
                            "$ref": "Entity"
                          },
                          "parameters": {
                            "executionConfig.headers": {
                              "type": "string",
                              "description": "headers to be used for the request. For example: headers:'{\"x-integration-connectors-managed-connection-id\":\"conn-id\",\"x-integration-connectors-runtime-config\":\"runtime-cfg\"}'",
                              "location": "query"
                            },
                            "name": {
                              "type": "string",
                              "description": "Output only. Resource name of the Entity. Format: projects/{project}/locations/{location}/connections/{connection}/entityTypes/{type}/entities/{id}",
                              "required": true,
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/entityTypes/[^/]+/entities/[^/]+$"
                            }
                          },
                          "httpMethod": "PATCH",
                          "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/entityTypes/{entityTypesId}/entities/{entitiesId}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Updates an existing entity row matching the entity type and entity id specified in the request. The fields in the entity row that need to be modified are contained in the body of the request. All unspecified fields are left unchanged. The response message contains a `Entity` message object returned as a response by the external system.",
                          "path": "v2/{+name}",
                          "parameterOrder": [
                            "name"
                          ],
                          "request": {
                            "$ref": "Entity"
                          },
                          "id": "connectors.projects.locations.connections.entityTypes.entities.patch"
                        },
                        "updateEntitiesWithConditions": {
                          "path": "v2/{+entityType}/entities:updateEntitiesWithConditions",
                          "parameterOrder": [
                            "entityType"
                          ],
                          "request": {
                            "$ref": "Entity"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "executionConfig.headers": {
                              "type": "string",
                              "description": "headers to be used for the request. For example: headers:'{\"x-integration-connectors-managed-connection-id\":\"conn-id\",\"x-integration-connectors-runtime-config\":\"runtime-cfg\"}'",
                              "location": "query"
                            },
                            "conditions": {
                              "description": "Required. Conditions to be used when updating entities. From a proto standpoint, There are no restrictions on what can be passed using this field. The connector documentation should have information about what format of filters/conditions are supported. Note: If this conditions field is left empty, an exception is thrown. We don't want to consider 'empty conditions' to be a match-all case. Connector developers can determine and document what a match-all case constraint would be.",
                              "location": "query",
                              "type": "string"
                            },
                            "entityType": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/entityTypes/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "description": "Required. Resource name of the Entity Type. Format: projects/{project}/locations/{location}/connections/{connection}/entityTypes/{type}",
                              "required": true
                            }
                          },
                          "response": {
                            "$ref": "UpdateEntitiesWithConditionsResponse"
                          },
                          "httpMethod": "POST",
                          "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/entityTypes/{entityTypesId}/entities:updateEntitiesWithConditions",
                          "id": "connectors.projects.locations.connections.entityTypes.entities.updateEntitiesWithConditions",
                          "description": "Updates entities based on conditions specified in the request and not on entity id."
                        },
                        "create": {
                          "request": {
                            "$ref": "Entity"
                          },
                          "id": "connectors.projects.locations.connections.entityTypes.entities.create",
                          "path": "v2/{+parent}/entities",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/entityTypes/{entityTypesId}/entities",
                          "httpMethod": "POST",
                          "description": "Creates a new entity row of the specified entity type in the external system. The field values for creating the row are contained in the body of the request. The response message contains a `Entity` message object returned as a response by the external system.",
                          "parameters": {
                            "parent": {
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/entityTypes/[^/]+$",
                              "required": true,
                              "location": "path",
                              "description": "Required. Resource name of the Entity Type. Format: projects/{project}/locations/{location}/connections/{connection}/entityTypes/{type}"
                            },
                            "executionConfig.headers": {
                              "type": "string",
                              "description": "headers to be used for the request. For example: headers:'{\"x-integration-connectors-managed-connection-id\":\"conn-id\",\"x-integration-connectors-runtime-config\":\"runtime-cfg\"}'",
                              "location": "query"
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "response": {
                            "$ref": "Entity"
                          }
                        },
                        "deleteEntitiesWithConditions": {
                          "response": {
                            "$ref": "Empty"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "POST",
                          "description": "Deletes entities based on conditions specified in the request and not on entity id.",
                          "parameters": {
                            "entityType": {
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/entityTypes/[^/]+$",
                              "location": "path",
                              "required": true,
                              "description": "Required. Resource name of the Entity Type. Format: projects/{project}/locations/{location}/connections/{connection}/entityTypes/{type}"
                            },
                            "executionConfig.headers": {
                              "location": "query",
                              "description": "headers to be used for the request. For example: headers:'{\"x-integration-connectors-managed-connection-id\":\"conn-id\",\"x-integration-connectors-runtime-config\":\"runtime-cfg\"}'",
                              "type": "string"
                            },
                            "conditions": {
                              "location": "query",
                              "type": "string",
                              "description": "Required. Conditions to be used when deleting entities. From a proto standpoint, There are no restrictions on what can be passed using this field. The connector documentation should have information about what format of filters/conditions are supported. Note: If this conditions field is left empty, an exception is thrown. We don't want to consider 'empty conditions' to be a match-all case. Connector developers can determine and document what a match-all case constraint would be."
                            }
                          },
                          "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/entityTypes/{entityTypesId}/entities:deleteEntitiesWithConditions",
                          "id": "connectors.projects.locations.connections.entityTypes.entities.deleteEntitiesWithConditions",
                          "parameterOrder": [
                            "entityType"
                          ],
                          "path": "v2/{+entityType}/entities:deleteEntitiesWithConditions"
                        },
                        "list": {
                          "id": "connectors.projects.locations.connections.entityTypes.entities.list",
                          "httpMethod": "GET",
                          "parameters": {
                            "conditions": {
                              "location": "query",
                              "type": "string",
                              "description": "Conditions to be used when listing entities. From a proto standpoint, There are no restrictions on what can be passed using this field. The connector documentation should have information about what format of filters/conditions are supported."
                            },
                            "executionConfig.headers": {
                              "location": "query",
                              "description": "headers to be used for the request. For example: headers:'{\"x-integration-connectors-managed-connection-id\":\"conn-id\",\"x-integration-connectors-runtime-config\":\"runtime-cfg\"}'",
                              "type": "string"
                            },
                            "pageSize": {
                              "type": "integer",
                              "location": "query",
                              "description": "Number of entity rows to return. Defaults page size = 25. Max page size = 200.",
                              "format": "int32"
                            },
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/entityTypes/[^/]+$",
                              "type": "string",
                              "description": "Required. Resource name of the Entity Type. Format: projects/{project}/locations/{location}/connections/{connection}/entityTypes/{type}",
                              "location": "path",
                              "required": true
                            },
                            "sortBy": {
                              "type": "string",
                              "location": "query",
                              "repeated": true,
                              "description": "List of 'sort_by' columns to use when returning the results."
                            },
                            "pageToken": {
                              "description": "Page token value if available from a previous request.",
                              "type": "string",
                              "location": "query"
                            },
                            "sortOrder": {
                              "description": "List of 'sort_order' columns to use when returning the results.",
                              "type": "string",
                              "repeated": true,
                              "location": "query"
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Lists entity rows of a particular entity type contained in the request. Note: 1. Currently, only max of one 'sort_by' column is supported. 2. If no 'sort_by' column is provided, the primary key of the table is used. If zero or more than one primary key is available, we default to the unpaginated list entities logic which only returns the first page. 3. The values of the 'sort_by' columns must uniquely identify an entity row, otherwise undefined behaviors may be observed during pagination. 4. Since transactions are not supported, any updates, inserts or deletes during pagination can lead to stale data being returned or other unexpected behaviors.",
                          "path": "v2/{+parent}/entities",
                          "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/entityTypes/{entityTypesId}/entities",
                          "response": {
                            "$ref": "ListEntitiesResponse"
                          }
                        }
                      }
                    }
                  },
                  "methods": {
                    "list": {
                      "path": "v2/{+parent}/entityTypes",
                      "id": "connectors.projects.locations.connections.entityTypes.list",
                      "description": "Lists metadata related to all entity types present in the external system.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListEntityTypesResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/entityTypes",
                      "parameters": {
                        "pageToken": {
                          "description": "Page token, return from a previous ListEntityTypes call, that can be used retrieve the next page of content. If unspecified, the request returns the first page of entity types.",
                          "location": "query",
                          "type": "string"
                        },
                        "executionConfig.headers": {
                          "type": "string",
                          "location": "query",
                          "description": "headers to be used for the request. For example: headers:'{\"x-integration-connectors-managed-connection-id\":\"conn-id\",\"x-integration-connectors-runtime-config\":\"runtime-cfg\"}'"
                        },
                        "parent": {
                          "required": true,
                          "description": "Required. Resource name of the Entity Type. Format: projects/{project}/locations/{location}/connections/{connection}",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                          "type": "string"
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "Number of entity types to return. Defaults to 25.",
                          "location": "query",
                          "type": "integer"
                        },
                        "view": {
                          "enum": [
                            "ENTITY_TYPE_VIEW_UNSPECIFIED",
                            "ENTITY_TYPE_VIEW_BASIC",
                            "ENTITY_TYPE_VIEW_FULL"
                          ],
                          "location": "query",
                          "description": "Specifies which fields of the Entity Type are returned in the response.",
                          "type": "string",
                          "enumDescriptions": [
                            "VIEW_UNSPECIFIED. The unset value. Defaults to FULL View.",
                            "Return only entity type names.",
                            "Return entity types with schema"
                          ]
                        }
                      },
                      "httpMethod": "GET"
                    },
                    "get": {
                      "response": {
                        "$ref": "EntityType"
                      },
                      "path": "v2/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/entityTypes/{entityTypesId}",
                      "parameters": {
                        "view": {
                          "enum": [
                            "ENTITY_TYPE_SCHEMA_VIEW_UNSPECIFIED",
                            "ENTITY_TYPE_SCHEMA_VIEW_BASIC",
                            "ENTITY_TYPE_SCHEMA_VIEW_ENRICHED"
                          ],
                          "location": "query",
                          "enumDescriptions": [
                            "VIEW_UNSPECIFIED. The unset value. Defaults to BASIC View.",
                            "Return basic entity type schema.",
                            "Return enriched entity types schema."
                          ],
                          "description": "Specifies view for entity type schema.",
                          "type": "string"
                        },
                        "contextMetadata": {
                          "description": "Context metadata for request could be used to fetch customization of entity type schema.",
                          "type": "string",
                          "location": "query"
                        },
                        "executionConfig.headers": {
                          "description": "headers to be used for the request. For example: headers:'{\"x-integration-connectors-managed-connection-id\":\"conn-id\",\"x-integration-connectors-runtime-config\":\"runtime-cfg\"}'",
                          "type": "string",
                          "location": "query"
                        },
                        "name": {
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/entityTypes/[^/]+$",
                          "location": "path",
                          "description": "Required. Resource name of the Entity Type. Format: projects/{project}/locations/{location}/connections/{connection}/entityTypes/{entityType}"
                        }
                      },
                      "httpMethod": "GET",
                      "id": "connectors.projects.locations.connections.entityTypes.get",
                      "description": "Gets metadata of given entity type",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                },
                "actions": {
                  "methods": {
                    "get": {
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/actions/{actionsId}",
                      "path": "v2/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Action"
                      },
                      "description": "Gets the schema of the given action.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "connectors.projects.locations.connections.actions.get",
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "description": "Required. Resource name of the Action. Format: projects/{project}/locations/{location}/connections/{connection}/actions/{action}",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/actions/[^/]+$",
                          "required": true,
                          "type": "string"
                        },
                        "executionConfig.headers": {
                          "type": "string",
                          "description": "headers to be used for the request. For example: headers:'{\"x-integration-connectors-managed-connection-id\":\"conn-id\",\"x-integration-connectors-runtime-config\":\"runtime-cfg\"}'",
                          "location": "query"
                        },
                        "view": {
                          "description": "Specified view of the action schema.",
                          "enumDescriptions": [
                            "VIEW_UNSPECIFIED. The unset value. Defaults to BASIC View.",
                            "Return basic action schema.",
                            "Return enriched action schema."
                          ],
                          "type": "string",
                          "enum": [
                            "ACTION_SCHEMA_VIEW_UNSPECIFIED",
                            "ACTION_SCHEMA_VIEW_BASIC",
                            "ACTION_SCHEMA_VIEW_ENRICHED"
                          ],
                          "location": "query"
                        }
                      }
                    },
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListActionsResponse"
                      },
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/actions",
                      "parameters": {
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "description": "Number of Actions to return. Defaults to 25.",
                          "format": "int32"
                        },
                        "executionConfig.headers": {
                          "type": "string",
                          "description": "headers to be used for the request. For example: headers:'{\"x-integration-connectors-managed-connection-id\":\"conn-id\",\"x-integration-connectors-runtime-config\":\"runtime-cfg\"}'",
                          "location": "query"
                        },
                        "view": {
                          "description": "Specifies which fields of the Action are returned in the response.",
                          "enum": [
                            "ACTION_VIEW_UNSPECIFIED",
                            "ACTION_VIEW_BASIC",
                            "ACTION_VIEW_FULL"
                          ],
                          "enumDescriptions": [
                            "VIEW_UNSPECIFIED. The unset value Defaults to FULL View.",
                            "Return only action names.",
                            "Return actions with schema."
                          ],
                          "type": "string",
                          "location": "query"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Page token, return from a previous ListActions call, that can be used retrieve the next page of content. If unspecified, the request returns the first page of actions."
                        },
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                          "type": "string",
                          "description": "Required. Parent resource name of the Action. Format: projects/{project}/locations/{location}/connections/{connection}",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "id": "connectors.projects.locations.connections.actions.list",
                      "description": "Gets the schema of all the actions supported by the connector.",
                      "path": "v2/{+parent}/actions"
                    },
                    "execute": {
                      "request": {
                        "$ref": "ExecuteActionRequest"
                      },
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/actions/{actionsId}:execute",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v2/{+name}:execute",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "parameters": {
                        "name": {
                          "description": "Required. Resource name of the Action. Format: projects/{project}/locations/{location}/connections/{connection}/actions/{action}",
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/actions/[^/]+$"
                        }
                      },
                      "response": {
                        "$ref": "ExecuteActionResponse"
                      },
                      "description": "Executes an action with the name specified in the request. The input parameters for executing the action are passed through the body of the ExecuteAction request.",
                      "id": "connectors.projects.locations.connections.actions.execute"
                    }
                  }
                },
                "tools": {
                  "methods": {
                    "execute": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "connectors.projects.locations.connections.tools.execute",
                      "path": "v2/{+name}:execute",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/tools/{toolsId}:execute",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "ExecuteToolRequest"
                      },
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. Resource name of the Tool. Format: projects/{project}/locations/{location}/connections/{connection}/tools/{tool}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/tools/[^/]+$",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "ExecuteToolResponse"
                      },
                      "description": "Executes a specific tool."
                    },
                    "list": {
                      "path": "v2/{+parent}/tools",
                      "httpMethod": "GET",
                      "id": "connectors.projects.locations.connections.tools.list",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                          "location": "path",
                          "description": "Required. Resource name of the Connection. Format: projects/{project}/locations/{location}/connections/{connection}",
                          "required": true
                        },
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "description": "Page size.",
                          "type": "integer"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Page token."
                        },
                        "executionConfig.headers": {
                          "type": "string",
                          "description": "headers to be used for the request. For example: headers:'{\"x-integration-connectors-managed-connection-id\":\"conn-id\",\"x-integration-connectors-runtime-config\":\"runtime-cfg\"}'",
                          "location": "query"
                        },
                        "toolNames": {
                          "description": "List of tool names for selective tool fetching.",
                          "repeated": true,
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/tools",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists all available tools.",
                      "response": {
                        "$ref": "ListToolsResponse"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "canonicalName": "Connectors",
  "parameters": {
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "default": "json",
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    }
  },
  "endpoints": [
    {
      "location": "us-central1",
      "endpointUrl": "https://connectors.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://connectors.us-east1.rep.googleapis.com/"
    },
    {
      "location": "us-east4",
      "endpointUrl": "https://connectors.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east5",
      "endpointUrl": "https://connectors.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-south1",
      "endpointUrl": "https://connectors.us-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west1",
      "endpointUrl": "https://connectors.us-west1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://connectors.us-west2.rep.googleapis.com/",
      "location": "us-west2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://connectors.us-west3.rep.googleapis.com/",
      "location": "us-west3"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west4",
      "endpointUrl": "https://connectors.us-west4.rep.googleapis.com/"
    }
  ],
  "schemas": {
    "Resource": {
      "id": "Resource",
      "properties": {
        "mimeType": {
          "description": "The MIME type of this resource, if known.",
          "type": "string"
        },
        "uri": {
          "type": "string",
          "description": "The URI of this resource."
        },
        "name": {
          "description": "A human-readable name for this resource.",
          "type": "string"
        },
        "description": {
          "description": "A description of what this resource represents.",
          "type": "string"
        },
        "_meta": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "Metadata for the resource."
        },
        "size": {
          "type": "string",
          "description": "The size of the raw resource content, in bytes, if known.",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "Schedule": {
      "id": "Schedule",
      "type": "object",
      "properties": {
        "duration": {
          "type": "string",
          "format": "google-duration",
          "description": "Output only. Duration of the time window, set by service producer."
        },
        "day": {
          "type": "string",
          "description": "Allows to define schedule that runs specified day of the week.",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ]
        },
        "startTime": {
          "$ref": "TimeOfDay",
          "description": "Time within the window to start the operations."
        }
      },
      "description": "Configure the schedule."
    },
    "UpdatePolicy": {
      "description": "Maintenance policy applicable to instance updates.",
      "id": "UpdatePolicy",
      "properties": {
        "denyMaintenancePeriods": {
          "type": "array",
          "items": {
            "$ref": "DenyMaintenancePeriod"
          },
          "description": "Deny Maintenance Period that is applied to resource to indicate when maintenance is forbidden. The protocol supports zero-to-many such periods, but the current SLM Rollout implementation only supports zero-to-one."
        },
        "window": {
          "$ref": "MaintenanceWindow",
          "description": "Optional. Maintenance window that is applied to resources covered by this policy."
        },
        "channel": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified channel.",
            "Early channel within a customer project.",
            "Later channel within a customer project.",
            "! ! The follow channels can ONLY be used if you adopt the new MW system! ! ! NOTE: all WEEK channels are assumed to be under a weekly window. ! There is currently no dedicated channel definitions for Daily windows. ! If you use Daily window, the system will assume a 1d (24Hours) advanced ! notification period b/w EARLY and LATER. ! We may consider support more flexible daily channel specifications in ! the future. WEEK1 == EARLIER with minimum 7d advanced notification. {7d, 14d} The system will treat them equally and will use WEEK1 whenever it can. New customers are encouraged to use this channel annotation.",
            "WEEK2 == LATER with minimum 14d advanced notification {14d, 21d}.",
            "WEEK5 == 40d support. minimum 35d advanced notification {35d, 42d}."
          ],
          "enum": [
            "UPDATE_CHANNEL_UNSPECIFIED",
            "EARLIER",
            "LATER",
            "WEEK1",
            "WEEK2",
            "WEEK5"
          ],
          "description": "Optional. Relative scheduling channel applied to resource."
        }
      },
      "type": "object"
    },
    "SloMetadata": {
      "description": "SloMetadata contains resources required for proper SLO classification of the instance.",
      "id": "SloMetadata",
      "properties": {
        "tier": {
          "type": "string",
          "description": "Name of the SLO tier the Instance belongs to. This name will be expected to match the tiers specified in the service SLO configuration. Field is mandatory and must not be empty."
        },
        "perSliEligibility": {
          "description": "Optional. Multiple per-instance SLI eligibilities which apply for individual SLIs.",
          "$ref": "PerSliSloEligibility"
        },
        "nodes": {
          "description": "Optional. List of nodes. Some producers need to use per-node metadata to calculate SLO. This field allows such producers to publish per-node SLO meta data, which will be consumed by SSA Eligibility Exporter and published in the form of per node metric to Monarch.",
          "items": {
            "$ref": "NodeSloMetadata"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ExecuteToolRequest": {
      "description": "Request message for ConnectorAgentService.ExecuteTool",
      "id": "ExecuteToolRequest",
      "type": "object",
      "properties": {
        "toolDefinition": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "Tool definition for the tool to be executed."
        },
        "parameters": {
          "description": "Input parameters for the tool.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "executionConfig": {
          "$ref": "ExecutionConfig",
          "description": "execution config for the request."
        }
      }
    },
    "NotificationParameter": {
      "properties": {
        "values": {
          "type": "array",
          "description": "Optional. Array of string values. e.g. instance's replica information.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Contains notification related data.",
      "id": "NotificationParameter"
    },
    "ProvisionedResource": {
      "id": "ProvisionedResource",
      "properties": {
        "resourceUrl": {
          "description": "URL identifying the resource, e.g. \"https://www.googleapis.com/compute/v1/projects/...)\".",
          "type": "string"
        },
        "resourceType": {
          "description": "Type of the resource. This can be either a GCP resource or a custom one (e.g. another cloud provider's VM). For GCP compute resources use singular form of the names listed in GCP compute API documentation (https://cloud.google.com/compute/docs/reference/rest/v1/), prefixed with 'compute-', for example: 'compute-instance', 'compute-disk', 'compute-autoscaler'.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Describes provisioned dataplane resources."
    },
    "ListToolsPostRequest": {
      "id": "ListToolsPostRequest",
      "type": "object",
      "properties": {
        "pageSize": {
          "format": "int32",
          "type": "integer",
          "description": "Page size."
        },
        "toolNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of tool names to for selective tool fetching."
        },
        "toolSpec": {
          "$ref": "ToolSpec",
          "description": "List of tool specifications."
        },
        "pageToken": {
          "type": "string",
          "description": "Page token."
        },
        "executionConfig": {
          "description": "execution config for the request.",
          "$ref": "ExecutionConfig"
        }
      },
      "description": "Request message for ConnectorAgentService.ListToolsPost"
    },
    "ExchangeAuthCodeResponse": {
      "id": "ExchangeAuthCodeResponse",
      "description": "ExchangeAuthCodeResponse includes the returned access token and its associated credentials.",
      "type": "object",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "object",
          "description": "Metadata like service latency, etc."
        },
        "accessCredentials": {
          "$ref": "AccessCredentials"
        }
      }
    },
    "ListActionsResponse": {
      "properties": {
        "actions": {
          "type": "array",
          "items": {
            "$ref": "Action"
          },
          "description": "List of action metadata."
        },
        "unsupportedActionNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of actions which contain unsupported Datatypes. Check datatype.proto for more information."
        },
        "metadata": {
          "additionalProperties": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "object",
          "description": "Metadata like service latency, etc."
        },
        "nextPageToken": {
          "description": "Next page token if more actions available.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListActionsResponse",
      "description": "Response message for ActionService.ListActions"
    },
    "ToolAnnotations": {
      "description": "ToolAnnotations holds annotations for a tool.",
      "type": "object",
      "id": "ToolAnnotations",
      "properties": {
        "openWorldHint": {
          "description": "If true, this tool may interact with an \"open world\" of external entities. If false, the tool's domain of interaction is closed. For example, the world of a web search tool is open, whereas that of a memory tool is not.",
          "type": "boolean"
        },
        "destructiveHint": {
          "type": "boolean",
          "description": "If true, the tool may perform destructive updates to its environment. If false, the tool performs only additive updates. (This property is meaningful only when `read_only_hint == false`)"
        },
        "title": {
          "description": "A human-readable title for the tool.",
          "type": "string"
        },
        "idempotentHint": {
          "description": "If true, calling the tool repeatedly with the same arguments will have no additional effect on the environment. (This property is meaningful only when `read_only_hint == false`)",
          "type": "boolean"
        },
        "readOnlyHint": {
          "description": "If true, the tool does not modify its environment.",
          "type": "boolean"
        }
      }
    },
    "CheckStatusResponse": {
      "type": "object",
      "id": "CheckStatusResponse",
      "properties": {
        "description": {
          "description": "When the connector is not in ACTIVE state, the description must be populated to specify the reason why it's not in ACTIVE state.",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "Metadata like service latency, etc.",
          "type": "object"
        },
        "state": {
          "type": "string",
          "description": "State of the connector.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "ERROR",
            "AUTH_ERROR"
          ],
          "enumDescriptions": [
            "State unspecified.",
            "The connector is active and ready to process runtime requests. This can also mean that from the connector's perspective, the connector is not in an error state and should be able to process runtime requests successfully.",
            "The connector is in an error state and cannot process runtime requests. An example reason would be that the connection container has some network issues that prevent outbound requests from being sent.",
            "This is a more specific error state that the developers can opt to use when the connector is facing auth-related errors caused by auth configuration not present, invalid auth credentials, etc."
          ]
        }
      },
      "description": "The status of the connector."
    },
    "RefreshAccessTokenResponse": {
      "description": "RefreshAccessTokenResponse includes the returned access token and its associated credentials.",
      "id": "RefreshAccessTokenResponse",
      "properties": {
        "metadata": {
          "description": "Metadata like service latency, etc.",
          "type": "object",
          "additionalProperties": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        },
        "accessCredentials": {
          "$ref": "AccessCredentials"
        }
      },
      "type": "object"
    },
    "MaintenanceSchedule": {
      "id": "MaintenanceSchedule",
      "type": "object",
      "description": "Maintenance schedule which is exposed to customer and potentially end user, indicating published upcoming future maintenance schedule",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The scheduled start time for the maintenance."
        },
        "scheduleDeadlineTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "schedule_deadline_time is the time deadline any schedule start time cannot go beyond, including reschedule. It's normally the initial schedule start time plus maintenance window length (1 day or 1 week). Maintenance cannot be scheduled to start beyond this deadline."
        },
        "canReschedule": {
          "deprecated": true,
          "type": "boolean",
          "description": "This field is deprecated, and will be always set to true since reschedule can happen multiple times now. This field should not be removed until all service producers remove this for their customers."
        },
        "rolloutManagementPolicy": {
          "type": "string",
          "description": "The rollout management policy this maintenance schedule is associated with. When doing reschedule update request, the reschedule should be against this given policy."
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The scheduled end time for the maintenance."
        }
      }
    },
    "PerSliSloEligibility": {
      "id": "PerSliSloEligibility",
      "type": "object",
      "properties": {
        "eligibilities": {
          "description": "An entry in the eligibilities map specifies an eligibility for a particular SLI for the given instance. The SLI key in the name must be a valid SLI name specified in the Eligibility Exporter binary flags otherwise an error will be emitted by Eligibility Exporter and the oncaller will be alerted. If an SLI has been defined in the binary flags but the eligibilities map does not contain it, the corresponding SLI time series will not be emitted by the Eligibility Exporter. This ensures a smooth rollout and compatibility between the data produced by different versions of the Eligibility Exporters. If eligibilities map contains a key for an SLI which has not been declared in the binary flags, there will be an error message emitted in the Eligibility Exporter log and the metric for the SLI in question will not be emitted.",
          "additionalProperties": {
            "$ref": "SloEligibility"
          },
          "type": "object"
        }
      },
      "description": "PerSliSloEligibility is a mapping from an SLI name to eligibility."
    },
    "AccessCredentials": {
      "properties": {
        "accessToken": {
          "description": "OAuth access token.",
          "type": "string"
        },
        "refreshToken": {
          "description": "OAuth refresh token.",
          "type": "string"
        },
        "expiresIn": {
          "format": "google-duration",
          "type": "string",
          "description": "Duration till the access token expires."
        }
      },
      "description": "AccessCredentials includes the OAuth access token, and the other fields returned along with it.",
      "type": "object",
      "id": "AccessCredentials"
    },
    "MaintenanceSettings": {
      "id": "MaintenanceSettings",
      "description": "Maintenance settings associated with instance. Allows service producers and end users to assign settings that controls maintenance on this instance.",
      "type": "object",
      "properties": {
        "maintenancePolicies": {
          "additionalProperties": {
            "$ref": "MaintenancePolicy"
          },
          "type": "object",
          "description": "Optional. The MaintenancePolicies that have been attached to the instance. The key must be of the type name of the oneof policy name defined in MaintenancePolicy, and the embedded policy must define the same policy type. For details, please refer to go/mr-user-guide. Should not be set if maintenance_policy_names is set. If only the name is needed, then only populate MaintenancePolicy.name."
        },
        "isRollback": {
          "description": "Optional. If the update call is triggered from rollback, set the value as true.",
          "type": "boolean"
        },
        "exclude": {
          "description": "Optional. Exclude instance from maintenance. When true, rollout service will not attempt maintenance on the instance. Rollout service will include the instance in reported rollout progress as not attempted.",
          "type": "boolean"
        }
      }
    },
    "RefreshAccessTokenRequest": {
      "type": "object",
      "id": "RefreshAccessTokenRequest",
      "properties": {
        "oauth2Config": {
          "description": "OAuth2Config contains the OAuth2 config for the connection.",
          "$ref": "OAuth2Config"
        },
        "refreshToken": {
          "type": "string",
          "description": "Optional. Refresh Token String. If the Refresh Token is not provided, the runtime will read the data from the secret manager."
        },
        "executionConfig": {
          "$ref": "ExecutionConfig",
          "description": "ExecutionConfig contains the configuration for the execution of the request."
        }
      },
      "description": "RefreshAccessTokenRequest includes the refresh token."
    },
    "ListEntityTypesResponse": {
      "id": "ListEntityTypesResponse",
      "description": "Response message for EntityService.ListEntityTypes",
      "type": "object",
      "properties": {
        "types": {
          "type": "array",
          "description": "List of metadata related to all entity types.",
          "items": {
            "$ref": "EntityType"
          }
        },
        "metadata": {
          "additionalProperties": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "object",
          "description": "Metadata like service latency, etc."
        },
        "unsupportedTypeNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of entity type names which contain unsupported Datatypes. Check datatype.proto for more information."
        },
        "nextPageToken": {
          "description": "Next page token if more entity types available.",
          "type": "string"
        }
      }
    },
    "UpdateEntitiesWithConditionsResponse": {
      "description": "Response message for EntityService.UpdateEntitiesWithConditions",
      "properties": {
        "response": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "Response returned by the external system."
        },
        "metadata": {
          "additionalProperties": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "object",
          "description": "Metadata like service latency, etc."
        }
      },
      "id": "UpdateEntitiesWithConditionsResponse",
      "type": "object"
    },
    "Field": {
      "id": "Field",
      "type": "object",
      "description": "Message contains EntityType's Field metadata.",
      "properties": {
        "dataType": {
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "INT",
            "SMALLINT",
            "DOUBLE",
            "DATE",
            "DATETIME",
            "TIME",
            "STRING",
            "LONG",
            "BOOLEAN",
            "DECIMAL",
            "UUID",
            "BLOB",
            "BIT",
            "TINYINT",
            "INTEGER",
            "BIGINT",
            "FLOAT",
            "REAL",
            "NUMERIC",
            "CHAR",
            "VARCHAR",
            "LONGVARCHAR",
            "TIMESTAMP",
            "NCHAR",
            "NVARCHAR",
            "LONGNVARCHAR",
            "NULL",
            "OTHER",
            "JAVA_OBJECT",
            "DISTINCT",
            "STRUCT",
            "ARRAY",
            "CLOB",
            "REF",
            "DATALINK",
            "ROWID",
            "BINARY",
            "VARBINARY",
            "LONGVARBINARY",
            "NCLOB",
            "SQLXML",
            "REF_CURSOR",
            "TIME_WITH_TIMEZONE",
            "TIMESTAMP_WITH_TIMEZONE"
          ],
          "enumDescriptions": [
            "Datatype unspecified.",
            "Deprecated Int type, use INTEGER type instead.",
            "Small int type.",
            "Double type.",
            "Date type.",
            "Deprecated Datetime type.",
            "Time type.",
            "Deprecated string type, use VARCHAR type instead.",
            "Deprecated Long type, use BIGINT type instead.",
            "Boolean type.",
            "Decimal type.",
            "Deprecated UUID type, use VARCHAR instead.",
            "Blob type.",
            "Bit type.",
            "Tiny int type.",
            "Integer type.",
            "Big int type.",
            "Float type.",
            "Real type.",
            "Numeric type.",
            "Char type.",
            "Varchar type.",
            "Long varchar type.",
            "Timestamp type.",
            "Nchar type.",
            "Nvarchar type.",
            "Long Nvarchar type.",
            "Null type.",
            "Other type.",
            "Java object type.",
            "Distinct type keyword.",
            "Struct type.",
            "Array type.",
            "Clob type.",
            "Ref type.",
            "Datalink type.",
            "Row ID type.",
            "Binary type.",
            "Varbinary type.",
            "Long Varbinary type.",
            "Nclob type.",
            "SQLXML type.",
            "Ref_cursor type.",
            "Time with timezone type.",
            "Timestamp with timezone type."
          ],
          "description": "The data type of the Field.",
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            true,
            false,
            true,
            true,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "type": "string"
        },
        "key": {
          "type": "boolean",
          "description": "The following boolean field specifies if the current Field acts as a primary key or id if the parent is of type entity."
        },
        "reference": {
          "$ref": "Reference",
          "description": "Reference captures the association between two different entity types. Value links to the reference of another entity type."
        },
        "name": {
          "description": "Name of the Field.",
          "type": "string"
        },
        "additionalDetails": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "The following map contains fields that are not explicitly mentioned above,this give connectors the flexibility to add new metadata fields."
        },
        "jsonSchema": {
          "$ref": "JsonSchema",
          "description": "JsonSchema of the field, applicable only if field is of type `STRUCT`"
        },
        "nullable": {
          "type": "boolean",
          "description": "Specifies whether a null value is allowed."
        },
        "defaultValue": {
          "description": "The following field specifies the default value of the Field provided by the external system if a value is not provided.",
          "type": "any"
        },
        "description": {
          "type": "string",
          "description": "A brief description of the Field."
        }
      }
    },
    "ListToolsResponse": {
      "type": "object",
      "description": "Response message for ConnectorAgentService.ListTools",
      "id": "ListToolsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Next page token."
        },
        "tools": {
          "items": {
            "$ref": "Tool"
          },
          "type": "array",
          "description": "List of available tools."
        },
        "metadata": {
          "additionalProperties": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "object",
          "description": "Metadata like service latency, etc."
        }
      }
    },
    "Query": {
      "type": "object",
      "properties": {
        "timeout": {
          "type": "string",
          "format": "int64",
          "description": "Sets the number of seconds the driver will wait for a query to execute."
        },
        "queryParameters": {
          "description": "In the struct, the value corresponds to the value of query parameter and date type corresponds to the date type of the query parameter.",
          "items": {
            "$ref": "QueryParameter"
          },
          "type": "array"
        },
        "query": {
          "description": "Required. Sql query to execute.",
          "type": "string"
        },
        "maxRows": {
          "type": "string",
          "description": "Sets the limit for the maximum number of rows returned after the query execution.",
          "format": "int64"
        }
      },
      "id": "Query",
      "description": "A wrapper around the SQL query statement. This is needed so that the JSON representation of ExecuteSqlQueryRequest has the following format: `{\"query\":\"select *\"}`."
    },
    "Empty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "properties": {}
    },
    "NodeSloMetadata": {
      "type": "object",
      "id": "NodeSloMetadata",
      "properties": {
        "perSliEligibility": {
          "description": "If present, this will override eligibility for the node coming from instance or exclusions for specified SLIs.",
          "$ref": "PerSliSloEligibility"
        },
        "location": {
          "description": "The location of the node, if different from instance location.",
          "type": "string"
        },
        "nodeId": {
          "type": "string",
          "description": "The id of the node. This should be equal to SaasInstanceNode.node_id."
        }
      },
      "description": "Node information for custom per-node SLO implementations. SSA does not support per-node SLO, but producers can populate per-node information in SloMetadata for custom precomputations. SSA Eligibility Exporter will emit per-node metric based on this information."
    },
    "ExecuteSqlQueryResponse": {
      "id": "ExecuteSqlQueryResponse",
      "type": "object",
      "properties": {
        "results": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object."
            }
          },
          "description": "In the case of successful execution of the query the response contains results returned by the external system. For example, the result rows of the query are contained in the 'results' Struct list - \"results\": [ { \"field1\": \"val1\", \"field2\": \"val2\",.. },.. ] Each Struct row can contain fields any type of like nested Structs or lists.",
          "type": "array"
        }
      },
      "description": "A response returned by the connection after executing the sql query."
    },
    "CheckReadinessResponse": {
      "id": "CheckReadinessResponse",
      "type": "object",
      "properties": {
        "status": {
          "type": "string"
        }
      },
      "description": "Response containing status of the connector for readiness prober."
    },
    "ExecuteSqlQueryRequest": {
      "properties": {
        "query": {
          "description": "Required. SQL statement passed by clients like Integration Platform, the query is passed as-is to the driver used for interfacing with external systems.",
          "$ref": "Query"
        }
      },
      "type": "object",
      "description": "An execute sql query request containing the query and the connection to execute it on.",
      "id": "ExecuteSqlQueryRequest"
    },
    "ToolName": {
      "type": "object",
      "properties": {
        "entityName": {
          "description": "Entity name for which the tool was generated.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Tool name that was generated in the list tools call."
        },
        "operation": {
          "type": "string",
          "description": "Operation for which the tool was generated.",
          "enumDescriptions": [
            "Operation unspecified.",
            "LIST entities.",
            "GET entity.",
            "CREATE entity.",
            "UPDATE entity.",
            "DELETE entity."
          ],
          "enum": [
            "OPERATION_UNSPECIFIED",
            "LIST",
            "GET",
            "CREATE",
            "UPDATE",
            "DELETE"
          ]
        }
      },
      "id": "ToolName"
    },
    "Entity": {
      "description": "'Entity row'/ 'Entity' refers to a single row of an entity type.",
      "id": "Entity",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name of the Entity. Format: projects/{project}/locations/{location}/connections/{connection}/entityTypes/{type}/entities/{id}",
          "type": "string"
        },
        "fields": {
          "description": "Fields of the entity. The key is name of the field and the value contains the applicable `google.protobuf.Value` entry for this field.",
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        },
        "metadata": {
          "additionalProperties": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "description": "Metadata like service latency, etc.",
          "type": "object"
        }
      },
      "type": "object"
    },
    "DailyCycle": {
      "type": "object",
      "id": "DailyCycle",
      "description": "Time window specified for daily operations.",
      "properties": {
        "duration": {
          "format": "google-duration",
          "type": "string",
          "description": "Output only. Duration of the time window, set by service producer."
        },
        "startTime": {
          "$ref": "TimeOfDay",
          "description": "Time within the day to start the operations."
        }
      }
    },
    "OAuth2Config": {
      "properties": {
        "clientSecret": {
          "description": "Client secret for the OAuth2 flow.",
          "type": "string"
        },
        "clientId": {
          "description": "Client ID for the OAuth2 flow.",
          "type": "string"
        },
        "authUri": {
          "type": "string",
          "description": "Authorization Server URL/Token Endpoint for Authorization Code Flow"
        }
      },
      "type": "object",
      "id": "OAuth2Config"
    },
    "QueryParameter": {
      "type": "object",
      "description": "Query parameter definition",
      "id": "QueryParameter",
      "properties": {
        "dataType": {
          "enumDescriptions": [
            "Datatype unspecified.",
            "Deprecated Int type, use INTEGER type instead.",
            "Small int type.",
            "Double type.",
            "Date type.",
            "Deprecated Datetime type.",
            "Time type.",
            "Deprecated string type, use VARCHAR type instead.",
            "Deprecated Long type, use BIGINT type instead.",
            "Boolean type.",
            "Decimal type.",
            "Deprecated UUID type, use VARCHAR instead.",
            "Blob type.",
            "Bit type.",
            "Tiny int type.",
            "Integer type.",
            "Big int type.",
            "Float type.",
            "Real type.",
            "Numeric type.",
            "Char type.",
            "Varchar type.",
            "Long varchar type.",
            "Timestamp type.",
            "Nchar type.",
            "Nvarchar type.",
            "Long Nvarchar type.",
            "Null type.",
            "Other type.",
            "Java object type.",
            "Distinct type keyword.",
            "Struct type.",
            "Array type.",
            "Clob type.",
            "Ref type.",
            "Datalink type.",
            "Row ID type.",
            "Binary type.",
            "Varbinary type.",
            "Long Varbinary type.",
            "Nclob type.",
            "SQLXML type.",
            "Ref_cursor type.",
            "Time with timezone type.",
            "Timestamp with timezone type."
          ],
          "type": "string",
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            true,
            false,
            true,
            true,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "INT",
            "SMALLINT",
            "DOUBLE",
            "DATE",
            "DATETIME",
            "TIME",
            "STRING",
            "LONG",
            "BOOLEAN",
            "DECIMAL",
            "UUID",
            "BLOB",
            "BIT",
            "TINYINT",
            "INTEGER",
            "BIGINT",
            "FLOAT",
            "REAL",
            "NUMERIC",
            "CHAR",
            "VARCHAR",
            "LONGVARCHAR",
            "TIMESTAMP",
            "NCHAR",
            "NVARCHAR",
            "LONGNVARCHAR",
            "NULL",
            "OTHER",
            "JAVA_OBJECT",
            "DISTINCT",
            "STRUCT",
            "ARRAY",
            "CLOB",
            "REF",
            "DATALINK",
            "ROWID",
            "BINARY",
            "VARBINARY",
            "LONGVARBINARY",
            "NCLOB",
            "SQLXML",
            "REF_CURSOR",
            "TIME_WITH_TIMEZONE",
            "TIMESTAMP_WITH_TIMEZONE"
          ]
        },
        "value": {
          "type": "any"
        }
      }
    },
    "ExecuteHttpRequestResponse": {
      "properties": {
        "reason": {
          "description": "The HTTP status reason phrase received from the backend (e.g., \"Not Found\"). May be empty if the backend did not provide one.",
          "type": "string"
        },
        "headers": {
          "type": "array",
          "items": {
            "$ref": "HttpHeader"
          },
          "description": "HTTP headers received in the response. Order is preserved and duplicate keys are allowed (e.g., multiple Set-Cookie headers)."
        },
        "statusCode": {
          "description": "The HTTP status code received from the backend.",
          "format": "int32",
          "type": "integer"
        },
        "body": {
          "type": "string",
          "description": "The raw response body.",
          "format": "byte"
        }
      },
      "type": "object",
      "id": "ExecuteHttpRequestResponse"
    },
    "Action": {
      "type": "object",
      "properties": {
        "resultJsonSchema": {
          "$ref": "JsonSchema",
          "description": "JsonSchema representation of this actions's result schema"
        },
        "inputJsonSchema": {
          "$ref": "JsonSchema",
          "description": "JsonSchema representation of this actions's input schema"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "Metadata like service latency, etc."
        },
        "name": {
          "description": "Name of the action.",
          "type": "string"
        },
        "resultMetadata": {
          "type": "array",
          "items": {
            "$ref": "ResultMetadata"
          },
          "description": "List containing the metadata of result fields."
        },
        "displayName": {
          "type": "string",
          "description": "Display Name of action to be shown on client side"
        },
        "description": {
          "description": "Brief Description of action",
          "type": "string"
        },
        "inputParameters": {
          "type": "array",
          "description": "List containing input parameter metadata.",
          "items": {
[...]
