{
  "description": "Enables users to create and manage connections to Google Cloud services and third-party business applications using the Connectors interface.",
  "ownerName": "Google",
  "batchPath": "batch",
  "kind": "discovery#restDescription",
  "rootUrl": "https://connectors.googleapis.com/",
  "name": "connectors",
  "protocol": "rest",
  "documentationLink": "https://cloud.google.com/apigee/docs/api-platform/connectors/about-connectors",
  "id": "connectors:v1",
  "parameters": {
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    }
  },
  "baseUrl": "https://connectors.googleapis.com/",
  "servicePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "version_module": true,
  "mtlsRootUrl": "https://connectors.mtls.googleapis.com/",
  "version": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "revision": "20260814",
  "title": "Connectors API",
  "ownerDomain": "google.com",
  "canonicalName": "Connectors",
  "endpoints": [
    {
      "endpointUrl": "https://connectors.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-central1"
    },
    {
      "location": "us-east1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://connectors.us-east1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://connectors.us-east4.rep.googleapis.com/",
      "location": "us-east4",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://connectors.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east5"
    },
    {
      "endpointUrl": "https://connectors.us-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-south1"
    },
    {
      "endpointUrl": "https://connectors.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west1"
    },
    {
      "endpointUrl": "https://connectors.us-west2.rep.googleapis.com/",
      "location": "us-west2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://connectors.us-west3.rep.googleapis.com/",
      "location": "us-west3",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west4",
      "endpointUrl": "https://connectors.us-west4.rep.googleapis.com/"
    }
  ],
  "schemas": {
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        }
      },
      "id": "Operation",
      "type": "object"
    },
    "ListEventTypesResponse": {
      "description": "Response message for Connectors.ListEventTypes.",
      "properties": {
        "eventTypes": {
          "type": "array",
          "items": {
            "$ref": "EventType"
          },
          "description": "A list of connector versions."
        },
        "nextPageToken": {
          "description": "Next page token.",
          "type": "string"
        }
      },
      "id": "ListEventTypesResponse",
      "type": "object"
    },
    "EndUserAuthenticationNotifyEndpointDestinationEndPoint": {
      "type": "object",
      "id": "EndUserAuthenticationNotifyEndpointDestinationEndPoint",
      "description": "Endpoint message includes details of the Destination endpoint.",
      "properties": {
        "endpointUri": {
          "description": "Required. The URI of the Endpoint.",
          "type": "string"
        },
        "headers": {
          "type": "array",
          "items": {
            "$ref": "EndUserAuthenticationNotifyEndpointDestinationEndPointHeader"
          },
          "description": "Optional. List of Header to be added to the Endpoint."
        }
      }
    },
    "RegionalSettings": {
      "type": "object",
      "id": "RegionalSettings",
      "description": "Regional Settings details.",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name of the Connection. Format: projects/{project}/locations/{location}/regionalSettings"
        },
        "networkConfig": {
          "description": "Optional. Regional network config.",
          "$ref": "NetworkConfig"
        },
        "provisioned": {
          "description": "Output only. Specifies whether the region is provisioned.",
          "type": "boolean",
          "readOnly": true
        },
        "client": {
          "description": "Optional. Client type for the regional settings.",
          "type": "string"
        },
        "encryptionConfig": {
          "description": "Optional. Regional encryption config to hold CMEK details.",
          "$ref": "EncryptionConfig"
        }
      }
    },
    "ToolName": {
      "type": "object",
      "id": "ToolName",
      "description": "Tool name for which the tool spec override is to be generated.",
      "properties": {
        "name": {
          "description": "Required. Tool name that was generated in the list tools call.",
          "type": "string"
        },
        "operation": {
          "enum": [
            "OPERATION_UNSPECIFIED",
            "LIST",
            "GET",
            "CREATE",
            "UPDATE",
            "DELETE"
          ],
          "description": "Optional. Operation for which the tool was generated.",
          "type": "string",
          "enumDescriptions": [
            "Operation unspecified.",
            "LIST entities.",
            "GET entity.",
            "CREATE entity.",
            "UPDATE entity.",
            "DELETE entity."
          ]
        },
        "entityType": {
          "description": "Optional. Entity type name for which the tool was generated.",
          "type": "string"
        }
      }
    },
    "Connector": {
      "description": "Connectors indicates a specific connector type, e.x. Salesforce, SAP etc.",
      "properties": {
        "marketplaceConnectorDetails": {
          "description": "Output only. Marketplace connector details. Will be null if the connector is not marketplace connector.",
          "readOnly": true,
          "$ref": "MarketplaceConnectorDetails"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource name of the Connector. Format: projects/{project}/locations/{location}/providers/{provider}/connectors/{connector} Only global location is supported for Connector resource."
        },
        "launchStage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Flag to mark the version indicating the launch stage.",
          "enumDescriptions": [
            "LAUNCH_STAGE_UNSPECIFIED.",
            "PREVIEW.",
            "GA.",
            "DEPRECATED.",
            "TEST.",
            "PRIVATE_PREVIEW."
          ],
          "enum": [
            "LAUNCH_STAGE_UNSPECIFIED",
            "PREVIEW",
            "GA",
            "DEPRECATED",
            "TEST",
            "PRIVATE_PREVIEW"
          ]
        },
        "webAssetsLocation": {
          "description": "Output only. Cloud storage location of icons etc consumed by UI.",
          "type": "string",
          "readOnly": true
        },
        "labels": {
          "description": "Output only. Resource labels to represent user-provided metadata. Refer to cloud documentation on labels for more details. https://cloud.google.com/compute/docs/labeling-resources",
          "additionalProperties": {
            "type": "string"
          },
          "readOnly": true,
          "type": "object"
        },
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Description of the resource."
        },
        "createTime": {
          "description": "Output only. Created time.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "connectorType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The type of the connector.",
          "enumDescriptions": [
            "Default value.",
            "Google connectors.",
            "Technical connectors.",
            "Third Party connectors."
          ],
          "enum": [
            "CONNECTOR_TYPE_UNSPECIFIED",
            "CONNECTOR_TYPE_GOOGLE",
            "CONNECTOR_TYPE_TECHNICAL",
            "CONNECTOR_TYPE_THIRD_PARTY"
          ]
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Display name."
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Updated time."
        },
        "documentationUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Link to documentation page."
        },
        "externalUri": {
          "description": "Output only. Link to external page.",
          "readOnly": true,
          "type": "string"
        },
        "eventingDetails": {
          "description": "Output only. Eventing details. Will be null if eventing is not supported.",
          "readOnly": true,
          "$ref": "EventingDetails"
        },
        "category": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Category of the connector."
        },
        "tags": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Tags of the connector."
        }
      },
      "id": "Connector",
      "type": "object"
    },
    "MultipleSelectConfig": {
      "description": "MultipleSelectConfig represents the multiple options for a config variable.",
      "properties": {
        "multipleSelectOptions": {
          "description": "Required. Multiple select options.",
          "type": "array",
          "items": {
            "$ref": "MultipleSelectOption"
          }
        },
        "valueSeparator": {
          "description": "Required. Value separator. Only \",\" can be used for OAuth auth code flow scope field.",
          "type": "string"
        },
        "allowCustomValues": {
          "description": "Optional. Allow custom values.",
          "type": "boolean"
        }
      },
      "id": "MultipleSelectConfig",
      "type": "object"
    },
    "Oauth2JwtBearer": {
      "description": "Parameters to support JSON Web Token (JWT) Profile for Oauth 2.0 Authorization Grant based authentication. See https://tools.ietf.org/html/rfc7523 for more details.",
      "properties": {
        "clientKey": {
          "description": "Optional. Secret version reference containing a PKCS#8 PEM-encoded private key associated with the Client Certificate. This private key will be used to sign JWTs used for the jwt-bearer authorization grant. Specified in the form as: `projects/*/secrets/*/versions/*`.",
          "$ref": "Secret"
        },
        "jwtClaims": {
          "description": "Optional. JwtClaims providers fields to generate the token.",
          "$ref": "JwtClaims"
        }
      },
      "id": "Oauth2JwtBearer",
      "type": "object"
    },
    "Header": {
      "id": "Header",
      "type": "object",
      "description": "Header details for a given header to be added to Endpoint.",
      "properties": {
        "key": {
          "description": "Optional. Key of Header.",
          "type": "string"
        },
        "value": {
          "description": "Optional. Value of Header.",
          "type": "string"
        }
      }
    },
    "PublishCustomConnectorVersionRequest": {
      "type": "object",
      "id": "PublishCustomConnectorVersionRequest",
      "description": "Request message for ConnectorsService.PublishCustomConnectorVersion",
      "properties": {
        "partnerMetadata": {
          "$ref": "PartnerMetadata",
          "description": "Required. Partner metadata details for validating and publishing the custom connector as a partner connector version."
        }
      }
    },
    "ToolspecOverride": {
      "type": "object",
      "id": "ToolspecOverride",
      "description": "Toolspec overrides for a connection only holds the information that is to be displayed in the UI for admins.",
      "properties": {
        "baseVersion": {
          "description": "Required. Represents the base version of the toolspec for which admin has added overrides.",
          "type": "string"
        },
        "tools": {
          "description": "Required. List of tools defined in the tool spec. Marking this field as required as this is the only field that is editable by the user in modify API so we should have at least one tool in the list.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object."
            }
          }
        },
        "createTime": {
          "description": "Output only. Created time.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Updated time."
        }
      }
    },
    "AuthSchema": {
      "id": "AuthSchema",
      "type": "object",
      "description": "AuthSchema defines the schema of an authentication type.",
      "properties": {
        "isDefault": {
          "description": "Whether the auth schema is the default one.",
          "type": "boolean"
        },
        "authKey": {
          "description": "Auth key of the schema.",
          "type": "string"
        },
        "description": {
          "description": "Description of the schema.",
          "type": "string"
        },
        "authFields": {
          "description": "List of AuthFields.",
          "type": "array",
          "items": {
            "$ref": "AuthField"
          }
        },
        "displayName": {
          "description": "Display name of the schema.",
          "type": "string"
        },
        "authType": {
          "type": "string",
          "enumDescriptions": [
            "Authentication type not specified.",
            "Username and Password Authentication.",
            "JSON Web Token (JWT) Profile for Oauth 2.0 Authorization Grant based authentication",
            "Oauth 2.0 Client Credentials Grant Authentication",
            "SSH Public Key Authentication",
            "Oauth 2.0 Authorization Code Flow",
            "Google authentication",
            "Oauth 2.0 Authorization Code Flow with Google Provided OAuth Client"
          ],
          "enum": [
            "AUTH_TYPE_UNSPECIFIED",
            "USER_PASSWORD",
            "OAUTH2_JWT_BEARER",
            "OAUTH2_CLIENT_CREDENTIALS",
            "SSH_PUBLIC_KEY",
            "OAUTH2_AUTH_CODE_FLOW",
            "GOOGLE_AUTHENTICATION",
            "OAUTH2_AUTH_CODE_FLOW_GOOGLE_MANAGED"
          ],
          "description": "Auth type of the schema."
        }
      }
    },
    "Oauth2AuthCodeFlowGoogleManaged": {
      "id": "Oauth2AuthCodeFlowGoogleManaged",
      "type": "object",
      "description": "Parameters to support Oauth 2.0 Auth Code Grant Authentication using Google Provided OAuth Client. See https://tools.ietf.org/html/rfc6749#section-1.3.1 for more details.",
      "properties": {
        "redirectUri": {
          "description": "Optional. Redirect URI to be provided during the auth code exchange.",
          "type": "string"
        },
        "scopes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. Scopes the connection will request when the user performs the auth code flow."
        },
        "authCode": {
          "description": "Optional. Authorization code to be exchanged for access and refresh tokens.",
          "type": "string"
        }
      }
    },
    "ExtractionRules": {
      "type": "object",
      "id": "ExtractionRules",
      "description": "Extraction Rules to identity the backends from customer provided configuration in Connection resource.",
      "properties": {
        "extractionRule": {
          "type": "array",
          "items": {
            "$ref": "ExtractionRule"
          },
          "description": "Collection of Extraction Rule."
        }
      }
    },
    "ListProvidersResponse": {
      "id": "ListProvidersResponse",
      "type": "object",
      "description": "Response message for Connectors.ListProviders.",
      "properties": {
        "nextPageToken": {
          "description": "Next page token.",
          "type": "string"
        },
        "providers": {
          "type": "array",
          "items": {
            "$ref": "Provider"
          },
          "description": "A list of providers."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      }
    },
    "MaintenanceSettings": {
      "id": "MaintenanceSettings",
      "type": "object",
      "description": "Maintenance settings associated with instance. Allows service producers and end users to assign settings that controls maintenance on this instance.",
      "properties": {
        "exclude": {
          "description": "Optional. Exclude instance from maintenance. When true, rollout service will not attempt maintenance on the instance. Rollout service will include the instance in reported rollout progress as not attempted.",
          "type": "boolean"
        },
        "maintenancePolicies": {
          "description": "Optional. The MaintenancePolicies that have been attached to the instance. The key must be of the type name of the oneof policy name defined in MaintenancePolicy, and the embedded policy must define the same policy type. For details, please refer to go/mr-user-guide. Should not be set if maintenance_policy_names is set. If only the name is needed, then only populate MaintenancePolicy.name.",
          "additionalProperties": {
            "$ref": "MaintenancePolicy"
          },
          "type": "object"
        },
        "isRollback": {
          "description": "Optional. If the update call is triggered from rollback, set the value as true.",
          "type": "boolean"
        }
      }
    },
    "LockConfig": {
      "description": "Determines whether or no a connection is locked. If locked, a reason must be specified.",
      "properties": {
        "locked": {
          "description": "Optional. Indicates whether or not the connection is locked.",
          "type": "boolean"
        },
        "reason": {
          "description": "Optional. Describes why a connection is locked.",
          "type": "string"
        }
      },
      "id": "LockConfig",
      "type": "object"
    },
    "EndUserAuthenticationConfigUserPassword": {
      "type": "object",
      "id": "EndUserAuthenticationConfigUserPassword",
      "description": "Parameters to support Username and Password Authentication.",
      "properties": {
        "password": {
          "$ref": "EUASecret",
          "description": "Required. string value or secret version reference containing the password."
        },
        "username": {
          "description": "Username.",
          "type": "string"
        }
      }
    },
    "EventSubscriptionStatus": {
      "type": "object",
      "id": "EventSubscriptionStatus",
      "description": "EventSubscription Status denotes the status of the EventSubscription resource.",
      "properties": {
        "state": {
          "description": "Output only. State of Event Subscription resource.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "UPDATING",
            "ACTIVE",
            "SUSPENDED",
            "ERROR"
          ],
          "enumDescriptions": [
            "Default state.",
            "EventSubscription creation is in progress.",
            "EventSubscription is in Updating status.",
            "EventSubscription is in Active state and is ready to receive events.",
            "EventSubscription is currently suspended.",
            "EventSubscription is in Error state."
          ]
        },
        "description": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Description of the state."
        }
      }
    },
    "Resource": {
      "id": "Resource",
      "type": "object",
      "description": "Resource definition",
      "properties": {
        "pathTemplate": {
          "description": "Optional. Template to uniquely represent a Google Cloud resource in a format IAM expects This is a template that can have references to other values provided in the config variable template.",
          "type": "string"
        },
        "type": {
          "description": "Optional. Different types of resource supported.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "GCP_PROJECT",
            "GCP_RESOURCE",
            "GCP_SECRETMANAGER_SECRET",
            "GCP_SECRETMANAGER_SECRET_VERSION"
          ],
          "type": "string",
          "enumDescriptions": [
            "Value type is not specified.",
            "Google Cloud Project Resource.",
            "Any Google Cloud Resource which is identified uniquely by IAM.",
            "Google Cloud Secret Resource.",
            "Google Cloud Secret Version Resource."
          ]
        }
      }
    },
    "ResourceRequests": {
      "description": "Resource requests defined for connection pods of a given connector type.",
      "properties": {
        "memory": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Memory request."
        },
        "cpu": {
          "description": "Output only. CPU request.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "ResourceRequests"
    },
    "PubSub": {
      "description": "Pub/Sub message includes details of the Destination Pub/Sub topic.",
      "properties": {
        "configVariables": {
          "type": "array",
          "items": {
            "$ref": "ConfigVariable"
          },
          "description": "Optional. Configuration for configuring the trigger"
        },
        "attributes": {
          "description": "Optional. Pub/Sub message attributes to be added to the Pub/Sub message.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "projectId": {
          "description": "Required. The project id which has the Pub/Sub topic.",
          "type": "string"
        },
        "topicId": {
          "description": "Required. The topic id of the Pub/Sub topic.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "PubSub"
    },
    "EndUserAuthenticationConfigOauth2AuthCodeFlow": {
      "type": "object",
      "id": "EndUserAuthenticationConfigOauth2AuthCodeFlow",
      "description": "Parameters to support Oauth 2.0 Auth Code Grant Authentication. See https://www.rfc-editor.org/rfc/rfc6749#section-1.3.1 for more details.",
      "properties": {
        "authUri": {
          "description": "Optional. Auth URL for Authorization Code Flow",
          "type": "string"
        },
        "pkceVerifier": {
          "description": "Optional. PKCE verifier to be used during the auth code exchange.",
          "type": "string"
        },
        "authCode": {
          "description": "Optional. Authorization code to be exchanged for access and refresh tokens.",
          "type": "string"
        },
        "oauthTokenData": {
          "description": "Optional. Auth Code Data",
          "$ref": "OAuthTokenData"
        },
        "clientSecret": {
          "description": "Optional. Client secret for user-provided OAuth app.",
          "$ref": "EUASecret"
        },
        "scopes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Scopes the connection will request when the user performs the auth code flow."
        },
        "enablePkce": {
          "description": "Optional. Whether to enable PKCE when the user performs the auth code flow.",
          "type": "boolean"
        },
        "redirectUri": {
          "description": "Optional. Redirect URI to be provided during the auth code exchange.",
          "type": "string"
        },
        "clientId": {
          "description": "Optional. Client ID for user-provided OAuth app.",
          "type": "string"
        }
      }
    },
    "FieldComparison": {
      "type": "object",
      "id": "FieldComparison",
      "description": "Field that needs to be compared.",
      "properties": {
        "boolValue": {
          "description": "Boolean value",
          "type": "boolean"
        },
        "stringValue": {
          "description": "String value",
          "type": "string"
        },
        "key": {
          "description": "Optional. Key of the field.",
          "type": "string"
        },
        "comparator": {
          "type": "string",
          "enumDescriptions": [
            "The default value.",
            "The field value must be equal to the specified value.",
            "The field value must not be equal to the specified value."
          ],
          "enum": [
            "COMPARATOR_UNSPECIFIED",
            "EQUALS",
            "NOT_EQUALS"
          ],
          "description": "Optional. Comparator to use for comparing the field value."
        },
        "intValue": {
          "format": "int64",
          "type": "string",
          "description": "Integer value"
        }
      }
    },
    "ConfigVariableTemplate": {
      "description": "ConfigVariableTemplate provides metadata about a `ConfigVariable` that is used in a Connection.",
      "properties": {
        "validationRegex": {
          "description": "Optional. Regular expression in RE2 syntax used for validating the `value` of a `ConfigVariable`.",
          "type": "string"
        },
        "state": {
          "description": "Output only. State of the config variable.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DEPRECATED"
          ],
          "enumDescriptions": [
            "Status is unspecified.",
            "Config variable is active",
            "Config variable is deprecated."
          ]
        },
        "locationType": {
          "enum": [
            "LOCATION_TYPE_UNSPECIFIED",
            "HEADER",
            "PAYLOAD",
            "QUERY_PARAM",
            "PATH_PARAM"
          ],
          "description": "Optional. Location Type denotes where this value should be sent in BYOC connections.",
          "type": "string",
          "enumDescriptions": [
            "Location type unspecified.",
            "Request header.",
            "Request Payload.",
            "Request query param.",
            "Request path param."
          ]
        },
        "enumSource": {
          "enum": [
            "ENUM_SOURCE_UNSPECIFIED",
            "EVENT_TYPES_API"
          ],
          "description": "Optional. enum source denotes the source of api to fill the enum options",
          "type": "string",
          "enumDescriptions": [
            "Api type unspecified.",
            "list event types."
          ]
        },
        "description": {
          "description": "Optional. Description.",
          "type": "string"
        },
        "requiredCondition": {
          "$ref": "LogicalExpression",
          "description": "Optional. Condition under which a field would be required. The condition can be represented in the form of a logical expression."
        },
        "required": {
          "description": "Optional. Flag represents that this `ConfigVariable` must be provided for a connection.",
          "type": "boolean"
        },
        "valueType": {
          "enum": [
            "VALUE_TYPE_UNSPECIFIED",
            "STRING",
            "INT",
            "BOOL",
            "SECRET",
            "ENUM",
            "AUTHORIZATION_CODE",
            "ENCRYPTION_KEY",
            "MULTIPLE_SELECT"
          ],
          "description": "Optional. Type of the parameter: string, int, bool etc. consider custom type for the benefit for the validation.",
          "type": "string",
          "enumDescriptions": [
            "Value type is not specified.",
            "Value type is string.",
            "Value type is integer.",
            "Value type is boolean.",
            "Value type is secret.",
            "Value type is enum.",
            "Value type is authorization code.",
            "Encryption Key.",
            "Value type is multiple select."
          ]
        },
        "isAdvanced": {
          "description": "Optional. Indicates if current template is part of advanced settings",
          "type": "boolean"
        },
        "displayName": {
          "description": "Optional. Display name of the parameter.",
          "type": "string"
        },
        "roleGrant": {
          "description": "Optional. Role grant configuration for the config variable.",
          "$ref": "RoleGrant"
        },
        "multipleSelectConfig": {
          "description": "Optional. MultipleSelectConfig represents the multiple options for a config variable.",
          "$ref": "MultipleSelectConfig"
        },
        "authorizationCodeLink": {
          "description": "Optional. Authorization code link options. To be populated if `ValueType` is `AUTHORIZATION_CODE`",
          "$ref": "AuthorizationCodeLink"
        },
        "key": {
          "description": "Optional. Key of the config variable.",
          "type": "string"
        },
        "enumOptions": {
          "type": "array",
          "items": {
            "$ref": "EnumOption"
          },
          "description": "Optional. Enum options. To be populated if `ValueType` is `ENUM`"
        }
      },
      "type": "object",
      "id": "ConfigVariableTemplate"
    },
    "EndUserAuthentication": {
      "type": "object",
      "id": "EndUserAuthentication",
      "description": "AuthConfig defines details of a authentication type.",
      "properties": {
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Created time."
        },
        "status": {
          "$ref": "EndUserAuthenticationEndUserAuthenticationStatus",
          "description": "Optional. Status of the EndUserAuthentication."
        },
        "configVariables": {
          "description": "Optional. Config variables for the EndUserAuthentication.",
          "type": "array",
          "items": {
            "$ref": "EndUserAuthenticationConfigVariable"
          }
        },
        "endUserAuthenticationConfig": {
          "$ref": "EndUserAuthenticationConfig",
          "description": "Optional. The EndUserAuthenticationConfig for the EndUserAuthentication."
        },
        "name": {
          "description": "Required. Identifier. Resource name of the EndUserAuthentication. Format: projects/{project}/locations/{location}/connections/{connection}/endUserAuthentications/{end_user_authentication}",
          "type": "string"
        },
        "notifyEndpointDestination": {
          "$ref": "EndUserAuthenticationNotifyEndpointDestination",
          "description": "Optional. The destination to hit when we receive an event"
        },
        "roles": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default state.",
              "READER.",
              "READER_DOMAIN_WIDE_ACCESSIBLE which has access to only public data."
            ],
            "enum": [
              "ROLE_UNSPECIFIED",
              "READER",
              "READER_DOMAIN_WIDE_ACCESSIBLE"
            ]
          },
          "description": "Optional. Roles for the EndUserAuthentication."
        },
        "userId": {
          "description": "Optional. The user id of the user.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. Labels for the EndUserAuthentication.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "updateTime": {
          "description": "Output only. Updated time.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "destinationConfigs": {
          "type": "array",
          "items": {
            "$ref": "DestinationConfig"
          },
          "description": "Optional. Destination configs for the EndUserAuthentication."
        }
      }
    },
    "EndUserAuthenticationNotifyEndpointDestinationEndPointHeader": {
      "description": "Header details for a given header to be added to Endpoint.",
      "properties": {
        "key": {
          "description": "Required. Key of Header.",
          "type": "string"
        },
        "value": {
          "description": "Required. Value of Header.",
          "type": "string"
        }
      },
      "id": "EndUserAuthenticationNotifyEndpointDestinationEndPointHeader",
      "type": "object"
    },
    "EventType": {
      "description": "EventType includes fields.",
      "properties": {
        "createTime": {
          "description": "Output only. Created time.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "entityType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Runtime entity type name. Will be null if entity type map is not available. Used for read before send feature."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name of the eventtype. Format: projects/{project}/locations/{location}/providers/{provider}/connectors/{connector}/versions/{version}/eventtypes/{eventtype} Only global location is supported for Connector resource."
        },
        "eventTypeId": {
          "description": "Output only. Event type id. Example: `ticket.created`.",
          "type": "string",
          "readOnly": true
        },
        "enrichedEventPayloadSchema": {
          "description": "Output only. Schema of the event payload after enriched. Will be null if read before send is not supported.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Updated time."
        },
        "eventPayloadSchema": {
          "description": "Output only. Schema of webhook event payload.",
          "readOnly": true,
          "type": "string"
        },
        "idPath": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Id path denotes the path of id in webhook payload."
        }
      },
      "type": "object",
      "id": "EventType"
    },
    "ValidateCustomConnectorSpecResponse": {
      "description": "Response message for ConnectorsService.ValidateCustomConnectorSpec",
      "properties": {
        "errorMessage": {
          "description": "Error message. The spec is valid if the error message is empty.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ValidateCustomConnectorSpecResponse"
    },
    "Policy": {
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "properties": {
        "version": {
          "type": "integer",
          "format": "int32",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "auditConfigs": {
          "type": "array",
          "items": {
            "$ref": "AuditConfig"
          },
          "description": "Specifies cloud audit logging configuration for this policy."
        },
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "type": "array",
          "items": {
            "$ref": "Binding"
          }
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string",
          "format": "byte"
        }
      },
      "id": "Policy",
      "type": "object"
    },
    "TestIamPermissionsRequest": {
      "id": "TestIamPermissionsRequest",
      "type": "object",
      "description": "Request message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "BillingConfig": {
      "description": "Billing config for the connection.",
      "properties": {
        "billingCategory": {
          "enum": [
            "BILLING_CATEGORY_UNSPECIFIED",
            "GCP_AND_TECHNICAL_CONNECTOR",
            "NON_GCP_CONNECTOR"
          ],
          "enumDescriptions": [
            "Billing category is not specified.",
            "GCP/Technical connector.",
            "Non-GCP connector."
          ],
          "description": "Output only. Billing category for the connector.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "BillingConfig"
    },
    "OAuthTokenData": {
      "description": "pass only at create and not update using updateMask Auth Code Data",
      "properties": {
        "expiry": {
          "description": "Optional. Time in seconds when the access token expires.",
          "type": "string",
          "format": "google-duration"
        },
        "accessToken": {
          "$ref": "EUASecret",
          "description": "Optional. Access token for the connection."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. Timestamp when the access token was created."
        },
        "refreshToken": {
          "$ref": "EUASecret",
          "description": "Optional. Refresh token for the connection."
        }
      },
      "id": "OAuthTokenData",
      "type": "object"
    },
    "EndUserAuthenticationConfigOauth2ClientCredentials": {
      "id": "EndUserAuthenticationConfigOauth2ClientCredentials",
      "type": "object",
      "description": "Parameters to support Oauth 2.0 Client Credentials Grant Authentication. See https://tools.ietf.org/html/rfc6749#section-1.3.4 for more details.",
      "properties": {
        "clientId": {
          "description": "The client identifier.",
          "type": "string"
        },
        "clientSecret": {
          "description": "Required. string value or secret version containing the client secret.",
          "$ref": "EUASecret"
        }
      }
    },
    "EndPoint": {
      "id": "EndPoint",
      "type": "object",
      "description": "Endpoint message includes details of the Destination endpoint.",
      "properties": {
        "endpointUri": {
          "description": "Optional. The URI of the Endpoint.",
          "type": "string"
        },
        "headers": {
          "description": "Optional. List of Header to be added to the Endpoint.",
          "type": "array",
          "items": {
            "$ref": "Header"
          }
        }
      }
    },
    "MaintenanceSchedule": {
      "description": "Maintenance schedule which is exposed to customer and potentially end user, indicating published upcoming future maintenance schedule",
      "properties": {
        "startTime": {
          "description": "The scheduled start time for the maintenance.",
          "format": "google-datetime",
          "type": "string"
        },
        "canReschedule": {
          "description": "This field is deprecated, and will be always set to true since reschedule can happen multiple times now. This field should not be removed until all service producers remove this for their customers.",
          "deprecated": true,
          "type": "boolean"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The scheduled end time for the maintenance."
        },
        "rolloutManagementPolicy": {
          "description": "The rollout management policy this maintenance schedule is associated with. When doing reschedule update request, the reschedule should be against this given policy.",
          "type": "string"
        },
        "scheduleDeadlineTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "schedule_deadline_time is the time deadline any schedule start time cannot go beyond, including reschedule. It's normally the initial schedule start time plus maintenance window length (1 day or 1 week). Maintenance cannot be scheduled to start beyond this deadline."
        }
      },
      "type": "object",
      "id": "MaintenanceSchedule"
    },
    "EncryptionConfig": {
      "type": "object",
      "id": "EncryptionConfig",
      "description": "Regional encryption config for CMEK details.",
      "properties": {
        "encryptionType": {
          "type": "string",
          "enumDescriptions": [
            "Encryption type unspecified.",
            "Google managed encryption keys",
            "Customer managed encryption keys."
          ],
          "description": "Optional. Encryption type for the region.",
          "enum": [
            "ENCRYPTION_TYPE_UNSPECIFIED",
            "GMEK",
            "CMEK"
          ]
        },
        "kmsKeyName": {
          "description": "Optional. KMS crypto key. This field accepts identifiers of the form `projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/ {crypto_key}`",
          "type": "string"
        }
      }
    },
    "GenerateConnectionToolspecOverrideRequest": {
      "type": "object",
      "id": "GenerateConnectionToolspecOverrideRequest",
      "description": "Request message for GenerateConnectionToolspecOverride API.",
      "properties": {
        "toolNames": {
          "description": "Required. List of tools for which the tool spec override is to be generated.",
          "type": "array",
          "items": {
            "$ref": "ToolName"
          }
        }
      }
    },
    "WebhookData": {
      "id": "WebhookData",
      "type": "object",
      "description": "WebhookData has details of webhook configuration.",
      "properties": {
        "additionalVariables": {
          "description": "Output only. Additional webhook related field values.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "ConfigVariable"
          }
        },
        "id": {
          "description": "Output only. ID to uniquely identify webhook.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Timestamp when the webhook was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "eventSubscriptions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. List of event subscriptions which are using the webhook."
        },
        "name": {
          "description": "Output only. Name of the Webhook",
          "type": "string",
          "readOnly": true
        },
        "eventTypes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. List of event types for the webhook. This is the event types subscribed by the current webhook."
        },
        "nextRefreshTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Next webhook refresh time. Will be null if refresh is not supported."
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp when the webhook was last updated."
        }
      }
    },
    "ConfigVariable": {
      "type": "object",
      "id": "ConfigVariable",
      "description": "ConfigVariable represents a configuration variable present in a Connection. or AuthConfig.",
      "properties": {
        "key": {
          "description": "Optional. Key of the config variable.",
          "type": "string"
        },
        "intValue": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Value is an integer"
        },
        "boolValue": {
          "description": "Optional. Value is a bool.",
          "type": "boolean"
        },
        "encryptionKeyValue": {
          "description": "Optional. Value is a Encryption Key.",
          "$ref": "EncryptionKey"
        },
        "stringValue": {
          "description": "Optional. Value is a string.",
          "type": "string"
        },
        "secretValue": {
          "description": "Optional. Value is a secret.",
          "$ref": "Secret"
        }
      }
    },
    "DeprecateCustomConnectorVersionRequest": {
      "description": "Request message for ConnectorsService.DeprecateCustomConnectorVersion",
      "properties": {},
      "id": "DeprecateCustomConnectorVersionRequest",
      "type": "object"
    },
    "ConnectorsLogConfig": {
      "type": "object",
      "id": "ConnectorsLogConfig",
      "description": "Log configuration for the connection.",
      "properties": {
        "level": {
          "enum": [
            "LOG_LEVEL_UNSPECIFIED",
            "ERROR",
            "INFO",
            "DEBUG"
          ],
          "description": "Optional. Log configuration level.",
          "type": "string",
          "enumDescriptions": [
            "Log level unspecified.",
            "Only error logs are enabled.",
            "Info and error logs are enabled.",
            "Debug and high verbosity logs are enabled."
          ]
        },
        "enabled": {
          "description": "Optional. Enabled represents whether logging is enabled or not for a connection.",
          "type": "boolean"
        }
      }
    },
    "ListenEventRequest": {
      "id": "ListenEventRequest",
      "type": "object",
      "description": "Expected request for ListenEvent API.",
      "properties": {
        "payload": {
          "type": "object",
          "description": "Optional. Request payload.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "EventingDetails": {
      "id": "EventingDetails",
      "type": "object",
      "description": "Eventing Details message.",
      "properties": {
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The type of the event listener for a specific connector.",
          "enumDescriptions": [
            "Default value.",
            "Webhook listener. e.g. Jira, Zendesk, Servicenow etc.,",
            "JMS Listener. e.g. IBM MQ, Rabbit MQ etc.,"
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "WEBHOOK",
            "JMS"
          ]
        },
        "name": {
          "description": "Output only. Name of the Eventing trigger.",
          "type": "string",
          "readOnly": true
        },
        "description": {
          "description": "Output only. Description.",
          "readOnly": true,
          "type": "string"
        },
        "documentationLink": {
          "description": "Output only. Link to public documentation.",
          "readOnly": true,
          "type": "string"
        },
        "customEventTypes": {
          "description": "Output only. Custom Event Types.",
          "readOnly": true,
          "type": "boolean"
        },
        "searchTags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. Array of search keywords."
        },
        "subscriptionType": {
          "description": "The webhook model supported by this connector.",
          "enum": [
            "SUBSCRIPTION_TYPE_UNSPECIFIED",
            "SHARED",
            "USER_SPECIFIC"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Managed via admin credentials. Handles global or system-wide events.",
            "Managed via individual user credentials. Isolates data per user."
          ]
        },
        "iconLocation": {
          "description": "Output only. Cloud storage location of the icon.",
          "type": "string",
          "readOnly": true
        },
        "launchStage": {
          "enumDescriptions": [
            "LAUNCH_STAGE_UNSPECIFIED.",
            "PREVIEW.",
            "GA.",
            "DEPRECATED.",
            "TEST.",
            "PRIVATE_PREVIEW."
          ],
          "enum": [
            "LAUNCH_STAGE_UNSPECIFIED",
            "PREVIEW",
            "GA",
            "DEPRECATED",
            "TEST",
            "PRIVATE_PREVIEW"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. Eventing Launch Stage."
        }
      }
    },
    "EndUserAuthenticationConfig": {
      "description": "EndUserAuthenticationConfig defines details of a authentication configuration for EUC",
      "properties": {
        "oauth2JwtBearer": {
          "description": "Oauth2JwtBearer.",
          "$ref": "EndUserAuthenticationConfigOauth2JwtBearer"
        },
        "oauth2ClientCredentials": {
          "description": "Oauth2ClientCredentials.",
          "$ref": "EndUserAuthenticationConfigOauth2ClientCredentials"
        },
        "additionalVariables": {
          "type": "array",
          "items": {
            "$ref": "EndUserAuthenticationConfigVariable"
          },
          "description": "Optional. List containing additional auth configs."
        },
        "authType": {
          "type": "string",
          "enumDescriptions": [
            "Authentication type not specified.",
            "Username and Password Authentication.",
            "JSON Web Token (JWT) Profile for Oauth 2.0 Authorization Grant based authentication",
            "Oauth 2.0 Client Credentials Grant Authentication",
            "SSH Public Key Authentication",
            "Oauth 2.0 Authorization Code Flow",
            "Google authentication",
            "Oauth 2.0 Authorization Code Flow with Google Provided OAuth Client"
          ],
          "enum": [
            "AUTH_TYPE_UNSPECIFIED",
            "USER_PASSWORD",
            "OAUTH2_JWT_BEARER",
            "OAUTH2_CLIENT_CREDENTIALS",
            "SSH_PUBLIC_KEY",
            "OAUTH2_AUTH_CODE_FLOW",
            "GOOGLE_AUTHENTICATION",
            "OAUTH2_AUTH_CODE_FLOW_GOOGLE_MANAGED"
          ],
          "description": "The type of authentication configured."
        },
        "oauth2AuthCodeFlow": {
          "$ref": "EndUserAuthenticationConfigOauth2AuthCodeFlow",
          "description": "Oauth2AuthCodeFlow."
        },
        "userPassword": {
          "$ref": "EndUserAuthenticationConfigUserPassword",
          "description": "UserPassword."
        },
        "authKey": {
          "description": "Identifier key for auth config",
          "type": "string"
        },
        "sshPublicKey": {
          "description": "SSH Public Key.",
          "$ref": "EndUserAuthenticationConfigSshPublicKey"
        },
        "oauth2AuthCodeFlowGoogleManaged": {
          "description": "Oauth2AuthCodeFlowGoogleManaged.",
          "$ref": "EndUserAuthenticationConfigOauth2AuthCodeFlowGoogleManaged"
        }
      },
      "type": "object",
      "id": "EndUserAuthenticationConfig"
    },
    "ListRuntimeActionSchemasResponse": {
      "type": "object",
      "id": "ListRuntimeActionSchemasResponse",
      "description": "Response message for ConnectorsService.ListRuntimeActionSchemas.",
      "properties": {
        "nextPageToken": {
          "description": "Next page token.",
          "type": "string"
        },
        "runtimeActionSchemas": {
          "type": "array",
          "items": {
            "$ref": "RuntimeActionSchema"
          },
          "description": "Runtime action schemas."
        }
      }
    },
    "EUASecret": {
      "id": "EUASecret",
      "type": "object",
      "description": "EUASecret provides a reference to entries in Secret Manager.",
      "properties": {
        "secretVersion": {
          "description": "Optional. The resource name of the secret version in the format, format as: `projects/*/secrets/*/versions/*`.",
          "type": "string"
        },
        "secretValue": {
          "description": "Optional. The plain string value of the secret.",
          "type": "string"
        }
      }
    },
    "ConnectorInfraConfig": {
      "id": "ConnectorInfraConfig",
      "type": "object",
      "description": "This cofiguration provides infra configs like rate limit threshold which need to be configurable for every connector version",
      "properties": {
        "connectionRatelimitWindowSeconds": {
          "description": "The window used for ratelimiting runtime requests to connections.",
          "type": "string",
          "format": "int64"
        },
        "publicNetworkIngressEnabled": {
          "description": "Indicate whether public network ingress should be enabled.",
          "type": "boolean"
        },
        "internalclientRatelimitThreshold": {
          "type": "string",
          "format": "int64",
          "description": "Max QPS supported for internal requests originating from Connd."
        },
        "sharedDeployment": {
          "description": "The name of shared connector deployment.",
          "type": "string"
        },
        "maxInstanceRequestConcurrency": {
          "description": "Max Instance Request Conncurrency for Cloud Run service.",
          "format": "int32",
          "type": "integer"
        },
        "hpaConfig": {
          "description": "HPA autoscaling config.",
          "$ref": "HPAConfig"
        },
        "connectionServiceAccountEnabled": {
          "description": "Indicate whether connection service account is enabled. If false, the common runtime service agent is used.",
          "type": "boolean"
        },
        "provisionCloudSpanner": {
          "description": "Indicate whether cloud spanner is required for connector job.",
          "type": "boolean"
        },
        "migrateTls": {
          "description": "Indicate whether connector is being migrated to TLS.",
          "type": "boolean"
        },
        "provisionMemstore": {
          "description": "Indicate whether memstore is required for connector job.",
          "type": "boolean"
        },
        "resourceRequests": {
          "$ref": "ResourceRequests",
          "description": "System resource requests."
        },
        "networkEgressModeOverride": {
          "description": "Network egress mode override to migrate to direct VPC egress.",
          "$ref": "NetworkEgressModeOverride"
        },
        "migrateDeploymentModel": {
          "description": "Indicate whether connector is being migrated to cloud run deployment model.",
          "type": "boolean"
        },
        "alwaysAllocateCpu": {
          "description": "Indicates that the Cloud Run CPU should always be allocated.",
          "type": "boolean"
        },
        "ratelimitThreshold": {
          "description": "Max QPS supported by the connector version before throttling of requests.",
          "type": "string",
          "format": "int64"
        },
        "connectorVersioningEnabled": {
          "description": "Indicate whether connector versioning is enabled.",
          "type": "boolean"
        },
        "deploymentModel": {
          "enum": [
            "DEPLOYMENT_MODEL_UNSPECIFIED",
            "GKE_MST",
            "CLOUD_RUN_MST"
          ],
          "description": "Indicate whether connector is deployed on GKE/CloudRun",
          "type": "string",
          "enumDescriptions": [
            "Deployment model is not specified.",
            "Default model gke mst.",
            "Cloud run mst."
          ]
        },
        "resourceLimits": {
          "$ref": "ResourceLimits",
          "description": "System resource limits."
        }
      }
    },
    "ProvisionedResource": {
      "description": "Describes provisioned dataplane resources.",
      "properties": {
        "resourceType": {
          "description": "Type of the resource. This can be either a GCP resource or a custom one (e.g. another cloud provider's VM). For GCP compute resources use singular form of the names listed in GCP compute API documentation (https://cloud.google.com/compute/docs/reference/rest/v1/), prefixed with 'compute-', for example: 'compute-instance', 'compute-disk', 'compute-autoscaler'.",
          "type": "string"
        },
        "resourceUrl": {
          "description": "URL identifying the resource, e.g. \"https://www.googleapis.com/compute/v1/projects/...)\".",
          "type": "string"
        }
      },
      "id": "ProvisionedResource",
      "type": "object"
    },
    "SearchConnectionInstance": {
      "description": "SearchConnectionInstance represents an instance of connector with specific fields",
      "properties": {
        "connection": {
          "description": "Output only. Connection details",
          "readOnly": true,
          "$ref": "Connection"
        },
        "entitySchema": {
          "readOnly": true,
          "$ref": "RuntimeEntitySchema",
          "description": "Output only. Schema of a runtime entity."
        },
        "actionSchema": {
          "readOnly": true,
          "$ref": "RuntimeActionSchema",
          "description": "Output only. Schema of a runtime action."
        }
      },
      "id": "SearchConnectionInstance",
      "type": "object"
    },
    "JsonSchema": {
      "description": "JsonSchema representation of schema metadata",
      "properties": {
        "maxItems": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum number of items in the array field."
        },
        "items": {
          "$ref": "JsonSchema",
          "description": "Schema that applies to array values, applicable only if this is of type `array`."
        },
        "exclusiveMinimum": {
          "description": "Whether the minimum number value is exclusive.",
          "type": "any"
        },
        "maxProperties": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum number of properties."
        },
        "additionalDetails": {
          "type": "object",
          "description": "Additional details apart from standard json schema fields, this gives flexibility to store metadata about the schema",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "oneOf": {
          "type": "array",
          "items": {
            "$ref": "JsonSchema"
          },
          "description": "Schema that must be valid against at least one of the sub-schemas."
        },
        "multipleOf": {
          "description": "Number must be a multiple of this value.",
          "type": "number",
          "format": "double"
        },
        "maximum": {
          "description": "Maximum value of the number field.",
          "type": "any"
        },
        "else": {
          "description": "Schema that must be valid if the \"if\" schema is invalid.",
          "$ref": "JsonSchema"
        },
        "additionalItems": {
          "description": "Schema for additional items.",
          "$ref": "JsonSchema"
        },
        "uniqueItems": {
          "description": "Whether the items in the array field are unique.",
          "type": "boolean"
        },
        "$comment": {
          "description": "A comment on the schema.",
          "type": "string"
        },
        "$defs": {
          "description": "Definitions for the schema.",
          "additionalProperties": {
            "$ref": "JsonSchema"
          },
          "type": "object"
        },
        "dependencies": {
          "description": "Dependencies for the schema.",
          "additionalProperties": {
            "type": "any"
          },
          "type": "object"
        },
        "enum": {
          "type": "array",
          "items": {
            "type": "any"
          },
          "description": "Possible values for an enumeration. This works in conjunction with `type` to represent types with a fixed set of legal values"
        },
        "not": {
          "$ref": "JsonSchema",
          "description": "Schema that must not be valid."
        },
        "patternProperties": {
          "type": "object",
          "description": "Pattern properties for the schema.",
          "additionalProperties": {
            "$ref": "JsonSchema"
          }
        },
        "$id": {
          "description": "The URI defining the core schema meta-schema.",
          "type": "string"
        },
        "minItems": {
          "format": "int32",
          "type": "integer",
          "description": "Minimum number of items in the array field."
        },
        "minProperties": {
          "format": "int32",
          "type": "integer",
          "description": "Minimum number of properties."
        },
        "contains": {
          "$ref": "JsonSchema",
          "description": "Schema that applies to at least one item in an array."
        },
        "then": {
          "description": "Schema that must be valid if the \"if\" schema is valid.",
          "$ref": "JsonSchema"
        },
        "anyOf": {
          "type": "array",
          "items": {
            "$ref": "JsonSchema"
          },
          "description": "Schema that must be valid against at least one of the sub-schemas."
        },
        "const": {
          "description": "Const value that the data must match.",
          "type": "any"
        },
        "writeOnly": {
          "description": "Whether the value is write-only.",
          "type": "boolean"
        },
        "exclusiveMaximum": {
          "description": "Whether the maximum number value is exclusive.",
          "type": "any"
        },
        "readOnly": {
          "description": "Whether the value is read-only.",
          "type": "boolean"
        },
        "default": {
          "description": "The default value of the field or object described by this schema.",
          "type": "any"
        },
        "properties": {
          "description": "The child schemas, applicable only if this is of type `object`. The key is the name of the property and the value is the json schema that describes that property",
          "additionalProperties": {
            "$ref": "JsonSchema"
          },
          "type": "object"
        },
        "$schema": {
          "description": "The URI defining the schema.",
          "type": "string"
        },
        "additionalProperties": {
          "$ref": "JsonSchema",
          "description": "Schema for additional properties."
        },
        "type": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "JSON Schema Validation: A Vocabulary for Structural Validation of JSON"
        },
        "title": {
          "description": "A title of the schema.",
          "type": "string"
        },
        "definitions": {
          "type": "object",
          "description": "Definitions for the schema.",
          "additionalProperties": {
            "$ref": "JsonSchema"
          }
        },
        "jdbcType": {
          "type": "string",
          "description": "JDBC datatype of the field.",
          "enumDescriptions": [
            "Data type is not specified.",
            "DEPRECATED! Use DATA_TYPE_INTEGER.",
            "Short integer(int16) data type.",
            "Double data type.",
            "Date data type.",
            "DEPRECATED! Use DATA_TYPE_TIMESTAMP.",
            "Time data type.",
            "DEPRECATED! Use DATA_TYPE_VARCHAR.",
            "DEPRECATED! Use DATA_TYPE_BIGINT.",
            "Boolean data type.",
            "Decimal data type.",
            "DEPRECATED! Use DATA_TYPE_VARCHAR.",
            "UNSUPPORTED! Binary data type.",
            "Bit data type.",
            "Small integer(int8) data type.",
            "Integer(int32) data type.",
            "Long integer(int64) data type.",
            "Float data type.",
            "Real data type.",
            "Numeric data type.",
            "Char data type.",
            "Varchar data type.",
            "Longvarchar data type.",
            "Timestamp data type.",
            "Nchar data type.",
            "Nvarchar data type.",
            "Longnvarchar data type.",
            "Null data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Row id data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Variable binary data type.",
            "UNSUPPORTED! Long variable binary data type.",
            "UNSUPPORTED! NCLOB data type.",
            "UNSUPPORTED! SQL XML data type is not supported.",
            "UNSUPPORTED! Cursor reference type is not supported.",
            "UNSUPPORTED! Use TIME or TIMESTAMP instead.",
            "UNSUPPORTED! Use TIMESTAMP instead."
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            true,
            false,
            true,
            true,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "DATA_TYPE_INT",
            "DATA_TYPE_SMALLINT",
            "DATA_TYPE_DOUBLE",
            "DATA_TYPE_DATE",
            "DATA_TYPE_DATETIME",
            "DATA_TYPE_TIME",
            "DATA_TYPE_STRING",
            "DATA_TYPE_LONG",
            "DATA_TYPE_BOOLEAN",
            "DATA_TYPE_DECIMAL",
            "DATA_TYPE_UUID",
            "DATA_TYPE_BLOB",
            "DATA_TYPE_BIT",
            "DATA_TYPE_TINYINT",
            "DATA_TYPE_INTEGER",
            "DATA_TYPE_BIGINT",
            "DATA_TYPE_FLOAT",
            "DATA_TYPE_REAL",
            "DATA_TYPE_NUMERIC",
            "DATA_TYPE_CHAR",
            "DATA_TYPE_VARCHAR",
            "DATA_TYPE_LONGVARCHAR",
            "DATA_TYPE_TIMESTAMP",
            "DATA_TYPE_NCHAR",
            "DATA_TYPE_NVARCHAR",
            "DATA_TYPE_LONGNVARCHAR",
            "DATA_TYPE_NULL",
            "DATA_TYPE_OTHER",
            "DATA_TYPE_JAVA_OBJECT",
            "DATA_TYPE_DISTINCT",
            "DATA_TYPE_STRUCT",
            "DATA_TYPE_ARRAY",
            "DATA_TYPE_CLOB",
            "DATA_TYPE_REF",
            "DATA_TYPE_DATALINK",
            "DATA_TYPE_ROWID",
            "DATA_TYPE_BINARY",
            "DATA_TYPE_VARBINARY",
            "DATA_TYPE_LONGVARBINARY",
            "DATA_TYPE_NCLOB",
            "DATA_TYPE_SQLXML",
            "DATA_TYPE_REF_CURSOR",
            "DATA_TYPE_TIME_WITH_TIMEZONE",
            "DATA_TYPE_TIMESTAMP_WITH_TIMEZONE"
          ]
        },
        "minimum": {
          "description": "Minimum value of the number field.",
          "type": "any"
        },
        "propertyNames": {
          "$ref": "JsonSchema",
          "description": "Schema for property names."
        },
        "description": {
          "description": "A description of this schema.",
          "type": "string"
        },
        "examples": {
          "description": "Examples of the value.",
          "type": "array",
          "items": {
            "type": "any"
          }
        },
        "minLength": {
          "format": "int32",
          "type": "integer",
          "description": "Minimum length of the string field."
        },
        "maxLength": {
          "description": "Maximum length of the string field.",
          "format": "int32",
          "type": "integer"
        },
        "allOf": {
          "type": "array",
          "items": {
            "$ref": "JsonSchema"
          },
          "description": "Schema that must be valid against all of the sub-schemas."
        },
        "pattern": {
          "description": "Regex pattern of the string field. This is a string value that describes the regular expression that the string value should match.",
          "type": "string"
        },
        "$ref": {
          "description": "A reference to another schema.",
          "type": "string"
        },
        "format": {
          "description": "Format of the value as per https://json-schema.org/understanding-json-schema/reference/string.html#format",
          "type": "string"
        },
        "required": {
          "description": "Whether this property is required.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "if": {
          "$ref": "JsonSchema",
          "description": "Schema that must be valid if the \"if\" schema is valid."
        },
        "contentMediaType": {
          "description": "Media type of the content.",
          "type": "string"
        },
        "contentEncoding": {
          "description": "Encoding of the content.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "JsonSchema"
    },
    "DailyCycle": {
      "description": "Time window specified for daily operations.",
      "properties": {
        "startTime": {
          "description": "Time within the day to start the operations.",
          "$ref": "TimeOfDay"
        },
        "duration": {
          "type": "string",
          "format": "google-duration",
          "description": "Output only. Duration of the time window, set by service producer."
        }
      },
      "id": "DailyCycle",
      "type": "object"
    },
    "ListEntityTypesResponse": {
      "description": "Response message for ListEntityTypes API",
      "properties": {
        "nextPageToken": {
          "description": "token for next page",
          "type": "string"
        },
        "entityTypes": {
          "type": "array",
          "items": {
            "$ref": "RuntimeEntitySchema"
          },
          "description": "list of entity types"
        }
      },
      "id": "ListEntityTypesResponse",
      "type": "object"
    },
    "RoleGrant": {
      "description": "This configuration defines all the Cloud IAM roles that needs to be granted to a particular Google Cloud resource for the selected principal like service account. These configurations will let UI display to customers what IAM roles need to be granted by them. Or these configurations can be used by the UI to render a 'grant' button to do the same on behalf of the user.",
      "properties": {
        "roles": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. List of roles that need to be granted."
        },
        "resource": {
          "description": "Optional. Resource on which the roles needs to be granted for the principal.",
          "$ref": "Resource"
        },
        "principal": {
          "description": "Optional. Principal/Identity for whom the role need to assigned.",
          "enum": [
            "PRINCIPAL_UNSPECIFIED",
            "CONNECTOR_SA"
          ],
          "type": "string",
          "enumDescriptions": [
            "Value type is not specified.",
            "Service Account used for Connector workload identity This is either the default service account if unspecified or Service Account provided by Customers through BYOSA."
          ]
        },
        "helperTextTemplate": {
          "description": "Optional. Template that UI can use to provide helper text to customers.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "RoleGrant"
    },
    "FetchConnectionToolspecOverrideRequest": {
      "id": "FetchConnectionToolspecOverrideRequest",
      "type": "object",
      "description": "Request message for FetchConnectionToolspecOverride API.",
      "properties": {
        "toolNames": {
          "type": "array",
          "items": {
            "$ref": "ToolName"
          },
          "description": "Required. List of tools for which the tool spec override is to be generated."
        }
      }
    },
    "ListCustomConnectorVersionsResponse": {
      "id": "ListCustomConnectorVersionsResponse",
      "type": "object",
      "description": "Response message for Connectors.ListCustomConnectorVersions.",
      "properties": {
        "customConnectorVersions": {
          "type": "array",
          "items": {
            "$ref": "CustomConnectorVersion"
          },
          "description": "A list of connector versions."
        },
        "nextPageToken": {
          "description": "Next page token.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ValidateCustomConnectorSpecRequest": {
      "id": "ValidateCustomConnectorSpecRequest",
      "type": "object",
      "description": "Request message for ConnectorsService.ValidateCustomConnectorSpec",
      "properties": {
        "serviceAccount": {
          "description": "Required. Service account to access the spec from Google Cloud Storage.",
          "type": "string"
        },
        "specLocation": {
          "description": "Required. Location of the custom connector spec. The location can be either a public url like `https://public-url.com/spec` Or a Google Cloud Storage location like `gs:///`",
          "type": "string"
        },
        "specType": {
          "description": "Required. Spec type of the custom connector spec.",
          "enum": [
            "CUSTOM_CONNECTOR_TYPE_UNSPECIFIED",
            "OPEN_API",
            "PROTO",
            "SDK"
          ],
          "type": "string",
          "enumDescriptions": [
            "Connector type is not specified.",
            "OpenAPI connector.",
            "Proto connector.",
            "SDK connector."
          ]
        }
      }
    },
    "Binding": {
      "type": "object",
      "id": "Binding",
      "description": "Associates `members`, or principals, with a `role`.",
      "properties": {
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "members": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
        },
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        }
      }
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "type": "object",
      "id": "CancelOperationRequest"
    },
    "EventingRuntimeData": {
      "description": "Eventing runtime data has the details related to eventing managed by the system.",
      "properties": {
        "webhookData": {
          "readOnly": true,
          "$ref": "WebhookData",
          "description": "Output only. Webhook data."
        },
        "status": {
          "description": "Output only. Current status of eventing.",
          "readOnly": true,
          "$ref": "EventingStatus"
        },
        "eventsListenerEndpoint": {
          "description": "Output only. Events listener endpoint. The value will populated after provisioning the events listener.",
          "type": "string",
          "readOnly": true
        },
        "eventsListenerPscSa": {
          "description": "Output only. Events listener PSC Service attachment. The value will be populated after provisioning the events listener with private connectivity enabled.",
          "readOnly": true,
          "type": "string"
        },
        "webhookSubscriptions": {
          "readOnly": true,
          "$ref": "WebhookSubscriptions",
          "description": "Output only. Webhook subscriptions."
        }
      },
      "type": "object",
      "id": "EventingRuntimeData"
    },
    "ListConnectionsResponse": {
      "type": "object",
      "id": "ListConnectionsResponse",
      "description": "Response message for ConnectorsService.ListConnections",
      "properties": {
        "connections": {
          "description": "Connections.",
          "type": "array",
          "items": {
            "$ref": "Connection"
          }
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "description": "Next page token.",
          "type": "string"
        }
      }
    },
    "EventingStatus": {
      "description": "EventingStatus indicates the state of eventing.",
      "properties": {
        "state": {
          "enumDescriptions": [
            "Default state.",
            "Eventing is enabled and ready to receive events.",
            "Eventing is not active due to an error.",
            "Ingress endpoint required."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "ERROR",
            "INGRESS_ENDPOINT_REQUIRED"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. State."
        },
        "description": {
          "description": "Output only. Description of error if State is set to \"ERROR\".",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "EventingStatus",
      "type": "object"
    },
    "ConnectorVersion": {
      "type": "object",
      "id": "ConnectorVersion",
      "description": "ConnectorVersion indicates a specific version of a connector.",
      "properties": {
        "authConfigTemplates": {
          "description": "Output only. List of auth configs supported by the Connector Version.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "AuthConfigTemplate"
          }
        },
        "eventingConfigTemplate": {
          "readOnly": true,
          "$ref": "EventingConfigTemplate",
          "description": "Output only. Eventing configuration supported by the Connector."
        },
        "supportedRuntimeFeatures": {
          "readOnly": true,
          "$ref": "SupportedRuntimeFeatures",
          "description": "Output only. Information about the runtime features supported by the Connector."
        },
        "supportedStandardActions": {
          "description": "Output only. Supported standard actions.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "StandardAction"
          }
        },
        "vpcscConfig": {
          "readOnly": true,
          "$ref": "VpcscConfig",
          "description": "Output only. VPCSC config for the connector."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Created time."
        },
        "configVariableTemplates": {
          "description": "Output only. List of config variables needed to create a connection.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "ConfigVariableTemplate"
          }
        },
        "isCustomEntitiesSupported": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Is custom entities supported."
        },
        "sslConfigTemplate": {
          "readOnly": true,
          "$ref": "SslConfigTemplate",
          "description": "Output only. Ssl configuration supported by the Connector."
        },
        "roleGrants": {
          "description": "Output only. Role grant configurations for this connector version.",
          "type": "array",
          "items": {
            "$ref": "RoleGrant"
          },
          "readOnly": true
        },
        "connectorInfraConfig": {
          "readOnly": true,
          "$ref": "ConnectorInfraConfig",
          "description": "Output only. Infra configs supported by Connector."
        },
        "supportedStandardEntities": {
          "description": "Output only. Supported standard entities.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "StandardEntity"
          }
        },
        "destinationConfigTemplates": {
          "type": "array",
          "items": {
            "$ref": "DestinationConfigTemplate"
          },
          "readOnly": true,
          "description": "Output only. List of destination configs needed to create a connection."
        },
        "roleGrant": {
          "description": "Output only. Role grant configuration for this config variable. It will be DEPRECATED soon.",
          "readOnly": true,
          "$ref": "RoleGrant"
        },
        "unsupportedConnectionTypes": {
          "description": "Output only. Unsupported connection types.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Connection type is unspecified.",
              "Connection with eventing.",
              "Only connection.",
              "Only eventing."
            ],
            "enum": [
              "CONNECTION_TYPE_UNSPECIFIED",
              "CONNECTION_WITH_EVENTING",
              "ONLY_CONNECTION",
              "ONLY_EVENTING"
            ]
          },
          "readOnly": true
        },
        "launchStage": {
          "enumDescriptions": [
            "LAUNCH_STAGE_UNSPECIFIED.",
            "PREVIEW.",
            "GA.",
            "DEPRECATED.",
            "TEST.",
            "PRIVATE_PREVIEW."
          ],
          "enum": [
            "LAUNCH_STAGE_UNSPECIFIED",
            "PREVIEW",
            "GA",
            "DEPRECATED",
            "TEST",
            "PRIVATE_PREVIEW"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. Flag to mark the version indicating the launch stage."
        },
        "name": {
          "description": "Output only. Resource name of the Version. Format: projects/{project}/locations/{location}/providers/{provider}/connectors/{connector}/versions/{version} Only global location is supported for Connector resource.",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "readOnly": true,
          "type": "object",
          "description": "Output only. Resource labels to represent user-provided metadata. Refer to cloud documentation on labels for more details. https://cloud.google.com/compute/docs/labeling-resources",
          "additionalProperties": {
            "type": "string"
          }
        },
        "schemaRefreshConfig": {
          "$ref": "SchemaRefreshConfig",
          "description": "Connection Schema Refresh Config"
        },
        "authOverrideEnabled": {
          "description": "Output only. Flag to mark the dynamic auth override.",
          "type": "boolean",
          "readOnly": true
        },
        "isCustomActionsSupported": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Is custom actions supported."
        },
        "egressControlConfig": {
          "readOnly": true,
          "$ref": "EgressControlConfig",
          "description": "Output only. Configuration for Egress Control."
        },
        "updateTime": {
          "description": "Output only. Updated time.",
          "type": "string",
          "readOnly": true,
[...]
