{
  "endpoints": [
    {
      "endpointUrl": "https://connectors.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-central1"
    },
    {
      "endpointUrl": "https://connectors.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east1"
    },
    {
      "location": "us-east4",
      "endpointUrl": "https://connectors.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://connectors.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east5"
    },
    {
      "endpointUrl": "https://connectors.us-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-south1"
    },
    {
      "endpointUrl": "https://connectors.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west1"
    },
    {
      "endpointUrl": "https://connectors.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west2"
    },
    {
      "location": "us-west3",
      "endpointUrl": "https://connectors.us-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west4",
      "endpointUrl": "https://connectors.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    }
  ],
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://connectors.mtls.googleapis.com/",
  "revision": "20260907",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "name": "connectors",
  "ownerName": "Google",
  "canonicalName": "Connectors",
  "schemas": {
    "EndUserAuthenticationEndUserAuthenticationStatus": {
      "type": "object",
      "id": "EndUserAuthenticationEndUserAuthenticationStatus",
      "properties": {
        "description": {
          "readOnly": true,
          "description": "Output only. Description of the state.",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "ERROR"
          ],
          "description": "Output only. State of Event Subscription resource.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Default state.",
            "EndUserAuthentication is in Active state.",
            "EndUserAuthentication is in Error state."
          ]
        }
      },
      "description": "EndUserAuthentication Status denotes the status of the EndUserAuthentication resource."
    },
    "StandardEntity": {
      "id": "StandardEntity",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the standard entity."
        }
      },
      "description": "Standard entity"
    },
    "Oauth2JwtBearer": {
      "type": "object",
      "properties": {
        "clientKey": {
          "$ref": "Secret",
          "description": "Optional. Secret version reference containing a PKCS#8 PEM-encoded private key associated with the Client Certificate. This private key will be used to sign JWTs used for the jwt-bearer authorization grant. Specified in the form as: `projects/*/secrets/*/versions/*`."
        },
        "jwtClaims": {
          "description": "Optional. JwtClaims providers fields to generate the token.",
          "$ref": "JwtClaims"
        }
      },
      "id": "Oauth2JwtBearer",
      "description": "Parameters to support JSON Web Token (JWT) Profile for Oauth 2.0 Authorization Grant based authentication. See https://tools.ietf.org/html/rfc7523 for more details."
    },
    "SupportedRuntimeFeatures": {
      "properties": {
        "asyncOperations": {
          "type": "boolean",
          "description": "Specifies if the connector supports async long running operations."
        },
        "sqlQuery": {
          "description": "Specifies if the connector supports 'ExecuteSqlQuery' operation.",
          "type": "boolean"
        },
        "entityApis": {
          "description": "Specifies if the connector supports entity apis like 'createEntity'.",
          "type": "boolean"
        },
        "actionApis": {
          "description": "Specifies if the connector supports action apis like 'executeAction'.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "SupportedRuntimeFeatures",
      "description": "Supported runtime features of a connector version."
    },
    "Source": {
      "type": "object",
      "id": "Source",
      "description": "Source to extract the backend from.",
      "properties": {
        "sourceType": {
          "type": "string",
          "enum": [
            "SOURCE_TYPE_UNSPECIFIED",
            "CONFIG_VARIABLE",
            "AUTH_CONFIG_VARIABLE"
          ],
          "enumDescriptions": [
            "Default SOURCE.",
            "Config Variable source type.",
            "Auth Config Variable source type."
          ],
          "description": "Type of the source."
        },
        "fieldId": {
          "description": "Field identifier. For example config variable name.",
          "type": "string"
        }
      }
    },
    "Policy": {
      "id": "Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "type": "object",
      "properties": {
        "bindings": {
          "items": {
            "$ref": "Binding"
          },
          "type": "array",
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
        },
        "version": {
          "type": "integer",
          "format": "int32",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "etag": {
          "type": "string",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte"
        },
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array",
          "items": {
            "$ref": "AuditConfig"
          }
        }
      }
    },
    "RoleGrant": {
      "properties": {
        "roles": {
          "items": {
            "type": "string"
          },
          "description": "Optional. List of roles that need to be granted.",
          "type": "array"
        },
        "principal": {
          "description": "Optional. Principal/Identity for whom the role need to assigned.",
          "type": "string",
          "enum": [
            "PRINCIPAL_UNSPECIFIED",
            "CONNECTOR_SA"
          ],
          "enumDescriptions": [
            "Value type is not specified.",
            "Service Account used for Connector workload identity This is either the default service account if unspecified or Service Account provided by Customers through BYOSA."
          ]
        },
        "helperTextTemplate": {
          "type": "string",
          "description": "Optional. Template that UI can use to provide helper text to customers."
        },
        "resource": {
          "$ref": "Resource",
          "description": "Optional. Resource on which the roles needs to be granted for the principal."
        }
      },
      "id": "RoleGrant",
      "type": "object",
      "description": "This configuration defines all the Cloud IAM roles that needs to be granted to a particular Google Cloud resource for the selected principal like service account. These configurations will let UI display to customers what IAM roles need to be granted by them. Or these configurations can be used by the UI to render a 'grant' button to do the same on behalf of the user."
    },
    "AuthProperty": {
      "properties": {
        "type": {
          "description": "Type of the property.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Description of the property."
        }
      },
      "id": "AuthProperty",
      "description": "AuthProperty defines a property of an authentication type.",
      "type": "object"
    },
    "SshPublicKey": {
      "id": "SshPublicKey",
      "description": "Parameters to support Ssh public key Authentication.",
      "properties": {
        "certType": {
          "type": "string",
          "description": "Optional. Format of SSH Client cert."
        },
        "sshClientCertPass": {
          "description": "Optional. Password (passphrase) for ssh client certificate if it has one.",
          "$ref": "Secret"
        },
        "username": {
          "description": "Optional. The user account used to authenticate.",
          "type": "string"
        },
        "sshClientCert": {
          "description": "Optional. SSH Client Cert. It should contain both public and private key.",
          "$ref": "Secret"
        }
      },
      "type": "object"
    },
    "ExtractionRules": {
      "id": "ExtractionRules",
      "description": "Extraction Rules to identity the backends from customer provided configuration in Connection resource.",
      "type": "object",
      "properties": {
        "extractionRule": {
          "items": {
            "$ref": "ExtractionRule"
          },
          "type": "array",
          "description": "Collection of Extraction Rule."
        }
      }
    },
    "EgressControlConfig": {
      "type": "object",
      "properties": {
        "accessMode": {
          "type": "string",
          "enum": [
            "ACCESS_MODE_UNSPECIFIED",
            "RESTRICTED",
            "ALLOW_ALL"
          ],
          "enumDescriptions": [
            "The default value. Per best practices (go/protodosdonts#unspecified-enum), the first value should be UNSPECIFIED and have a tag of 0. Application logic should treat this the same as RESTRICTED.",
            "Enforce the allowlist. Only projects in 'allowlisted_project_numbers' are permitted.",
            "Allow all projects. 'allowlisted_project_numbers' is ignored."
          ],
          "description": "Optional. Access mode for egress control."
        },
        "allowlistedProjectNumbers": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Used when access_mode is RESTRICTED or ACCESS_MODE_UNSPECIFIED.",
          "type": "array"
        },
        "extractionRules": {
          "description": "Extractions Rules to extract the backends from customer provided configuration.",
          "$ref": "ExtractionRules",
          "deprecated": true
        },
        "backends": {
          "description": "Static Comma separated backends which are common for all Connection resources. Supported formats for each backend are host:port or just host (host can be ip address or domain name).",
          "type": "string"
        },
        "launchEnvironment": {
          "type": "string",
          "enum": [
            "LAUNCH_ENVIRONMENT_UNSPECIFIED",
            "AUTOPUSH",
            "STAGING",
            "PROD"
          ],
          "enumDescriptions": [
            "Default value. If not specified, the launch environment will default to AUTOPUSH.",
            "Autopush environment.",
            "Staging environment.",
            "Prod environment."
          ],
          "description": "Launch environment for egress control."
        },
        "additionalExtractionRules": {
          "$ref": "ExtractionRules",
          "description": "Additional extraction rules to identity the backends from customer provided configuration in Connection resource. These rules are applied in addition to the ones specified in `oneof_backends`."
        }
      },
      "id": "EgressControlConfig",
      "description": "Egress control config for connector runtime. These configurations define the rules to identify which outbound domains/hosts needs to be whitelisted. It may be a static information for a particular connector version or it is derived from the configurations provided by the customer in Connection resource."
    },
    "GenerateConnectionToolspecOverrideResponse": {
      "description": "Response message for GenerateConnectionToolspecOverride API.",
      "id": "GenerateConnectionToolspecOverrideResponse",
      "type": "object",
      "properties": {
        "toolspecOverride": {
          "description": "Toolspec overrides for the connection.",
          "$ref": "ToolspecOverride"
        }
      }
    },
    "PublishCustomConnectorVersionRequest": {
      "properties": {
        "partnerMetadata": {
          "description": "Required. Partner metadata details for validating and publishing the custom connector as a partner connector version.",
          "$ref": "PartnerMetadata"
        }
      },
      "description": "Request message for ConnectorsService.PublishCustomConnectorVersion",
      "type": "object",
      "id": "PublishCustomConnectorVersionRequest"
    },
    "ResultMetadata": {
      "id": "ResultMetadata",
      "properties": {
        "nullable": {
          "description": "Specifies whether a null value is allowed.",
          "type": "boolean"
        },
        "dataType": {
          "description": "The data type of the field.",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "DATA_TYPE_INT",
            "DATA_TYPE_SMALLINT",
            "DATA_TYPE_DOUBLE",
            "DATA_TYPE_DATE",
            "DATA_TYPE_DATETIME",
            "DATA_TYPE_TIME",
            "DATA_TYPE_STRING",
            "DATA_TYPE_LONG",
            "DATA_TYPE_BOOLEAN",
            "DATA_TYPE_DECIMAL",
            "DATA_TYPE_UUID",
            "DATA_TYPE_BLOB",
            "DATA_TYPE_BIT",
            "DATA_TYPE_TINYINT",
            "DATA_TYPE_INTEGER",
            "DATA_TYPE_BIGINT",
            "DATA_TYPE_FLOAT",
            "DATA_TYPE_REAL",
            "DATA_TYPE_NUMERIC",
            "DATA_TYPE_CHAR",
            "DATA_TYPE_VARCHAR",
            "DATA_TYPE_LONGVARCHAR",
            "DATA_TYPE_TIMESTAMP",
            "DATA_TYPE_NCHAR",
            "DATA_TYPE_NVARCHAR",
            "DATA_TYPE_LONGNVARCHAR",
            "DATA_TYPE_NULL",
            "DATA_TYPE_OTHER",
            "DATA_TYPE_JAVA_OBJECT",
            "DATA_TYPE_DISTINCT",
            "DATA_TYPE_STRUCT",
            "DATA_TYPE_ARRAY",
            "DATA_TYPE_CLOB",
            "DATA_TYPE_REF",
            "DATA_TYPE_DATALINK",
            "DATA_TYPE_ROWID",
            "DATA_TYPE_BINARY",
            "DATA_TYPE_VARBINARY",
            "DATA_TYPE_LONGVARBINARY",
            "DATA_TYPE_NCLOB",
            "DATA_TYPE_SQLXML",
            "DATA_TYPE_REF_CURSOR",
            "DATA_TYPE_TIME_WITH_TIMEZONE",
            "DATA_TYPE_TIMESTAMP_WITH_TIMEZONE"
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            true,
            false,
            true,
            true,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enumDescriptions": [
            "Data type is not specified.",
            "DEPRECATED! Use DATA_TYPE_INTEGER.",
            "Short integer(int16) data type.",
            "Double data type.",
            "Date data type.",
            "DEPRECATED! Use DATA_TYPE_TIMESTAMP.",
            "Time data type.",
            "DEPRECATED! Use DATA_TYPE_VARCHAR.",
            "DEPRECATED! Use DATA_TYPE_BIGINT.",
            "Boolean data type.",
            "Decimal data type.",
            "DEPRECATED! Use DATA_TYPE_VARCHAR.",
            "UNSUPPORTED! Binary data type.",
            "Bit data type.",
            "Small integer(int8) data type.",
            "Integer(int32) data type.",
            "Long integer(int64) data type.",
            "Float data type.",
            "Real data type.",
            "Numeric data type.",
            "Char data type.",
            "Varchar data type.",
            "Longvarchar data type.",
            "Timestamp data type.",
            "Nchar data type.",
            "Nvarchar data type.",
            "Longnvarchar data type.",
            "Null data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Row id data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Variable binary data type.",
            "UNSUPPORTED! Long variable binary data type.",
            "UNSUPPORTED! NCLOB data type.",
            "UNSUPPORTED! SQL XML data type is not supported.",
            "UNSUPPORTED! Cursor reference type is not supported.",
            "UNSUPPORTED! Use TIME or TIMESTAMP instead.",
            "UNSUPPORTED! Use TIMESTAMP instead."
          ],
          "type": "string"
        },
        "field": {
          "type": "string",
          "description": "Name of the result field."
        },
        "jsonSchema": {
          "$ref": "JsonSchema",
          "description": "JsonSchema representation of this action's result"
        },
        "defaultValue": {
          "description": "The following field specifies the default value of the Parameter provided by the external system if a value is not provided.",
          "type": "any"
        },
        "description": {
          "type": "string",
          "description": "A brief description of the field."
        }
      },
      "type": "object",
      "description": "Metadata of result field."
    },
    "SearchConnectionInstance": {
      "properties": {
        "actionSchema": {
          "$ref": "RuntimeActionSchema",
          "description": "Output only. Schema of a runtime action.",
          "readOnly": true
        },
        "connection": {
          "description": "Output only. Connection details",
          "readOnly": true,
          "$ref": "Connection"
        },
        "entitySchema": {
          "readOnly": true,
          "description": "Output only. Schema of a runtime entity.",
          "$ref": "RuntimeEntitySchema"
        }
      },
      "description": "SearchConnectionInstance represents an instance of connector with specific fields",
      "type": "object",
      "id": "SearchConnectionInstance"
    },
    "MarketplaceConnectorDetails": {
      "properties": {
        "marketplaceProduct": {
          "type": "string",
          "description": "Marketplace product name."
        },
        "partner": {
          "type": "string",
          "description": "The name of the partner."
        },
        "marketplaceProductUri": {
          "type": "string",
          "description": "Marketplace product URL."
        },
        "marketplaceProductId": {
          "description": "Marketplace product ID.",
          "type": "string"
        }
      },
      "id": "MarketplaceConnectorDetails",
      "description": "Marketplace connector details.",
      "type": "object"
    },
    "AuditConfig": {
      "properties": {
        "service": {
          "type": "string",
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
        },
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "type": "array",
          "items": {
            "$ref": "AuditLogConfig"
          }
        }
      },
      "id": "AuditConfig",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "type": "object"
    },
    "WebhookData": {
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp when the webhook was created."
        },
        "id": {
          "type": "string",
          "description": "Output only. ID to uniquely identify webhook.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Output only. Name of the Webhook",
          "readOnly": true
        },
        "nextRefreshTime": {
          "description": "Output only. Next webhook refresh time. Will be null if refresh is not supported.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. Timestamp when the webhook was last updated.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "eventTypes": {
          "readOnly": true,
          "description": "Output only. List of event types for the webhook. This is the event types subscribed by the current webhook.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "eventSubscriptions": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. List of event subscriptions which are using the webhook.",
          "type": "array"
        },
        "additionalVariables": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "ConfigVariable"
          },
          "description": "Output only. Additional webhook related field values."
        }
      },
      "id": "WebhookData",
      "type": "object",
      "description": "WebhookData has details of webhook configuration."
    },
    "EndpointAttachment": {
      "type": "object",
      "description": "represents the Connector's Endpoint Attachment resource",
      "id": "EndpointAttachment",
      "properties": {
        "description": {
          "description": "Optional. Description of the resource.",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "ACCEPTED",
            "REJECTED",
            "CLOSED",
            "FROZEN",
            "NEEDS_ATTENTION",
            "ACCEPTED_NOT_PROGRAMMED"
          ],
          "enumDescriptions": [
            "STATE_UNSPECIFIED.",
            "The endpoint is pending acceptance by the producer.",
            "The endpoint has been accepted by the producer.",
            "The endpoint has been rejected by the producer.",
            "The endpoint has been closed by the producer and will not serve traffic going forward.",
            "The endpoint has been frozen by the producer and will not serve traffic.",
            "The endpoint has been accepted by the producer, but it is not ready to serve the traffic due to producer side issues.",
            "The endpoint has been accepted by the producer, but it cannot be programmed to the data plane due to invariant violation."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The Private Service Connect Connection Endpoint State. This value is only available in the Full view."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Created time."
        },
        "endpointGlobalAccess": {
          "type": "boolean",
          "description": "Optional. The Private Service Connect Connection Endpoint Global Access. https://cloud.google.com/vpc/docs/about-accessing-vpc-hosted-services-endpoints#global-access"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Resource labels to represent user-provided metadata. Refer to cloud documentation on labels for more details. https://cloud.google.com/compute/docs/labeling-resources"
        },
        "endpointIp": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The Private Service Connect connection endpoint ip"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Updated time.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource name of the Endpoint Attachment. Format: projects/{project}/locations/{location}/endpointAttachments/{endpoint_attachment}"
        },
        "serviceAttachment": {
          "description": "Required. The path of the service attachment",
          "type": "string"
        }
      }
    },
    "AdminFilters": {
      "description": "* AdminFilters defines a set of filters that can be applied to a connection. These are currently used by Gemini Enterprise connections.",
      "type": "object",
      "id": "AdminFilters",
      "properties": {
        "intValue": {
          "description": "Optional. A single integer value.",
          "type": "string",
          "format": "int64"
        },
        "filterKey": {
          "description": "Required. Unique name for the filter, e.g., \"SharePointSiteURL\", \"DocumentType\", \"ChatSpaceName\".",
          "type": "string"
        },
        "filterType": {
          "enumDescriptions": [
            "Filter type is not specified.",
            "Only allow items matching the configured values.",
            "Disallow items matching the configured values."
          ],
          "description": "Required. Type of the filter.",
          "type": "string",
          "enum": [
            "FILTER_TYPE_UNSPECIFIED",
            "INCLUSION",
            "EXCLUSION"
          ]
        },
        "stringValue": {
          "description": "Optional. A single string value.",
          "type": "string"
        },
        "stringListValues": {
          "$ref": "StringListValues",
          "description": "Optional. List of string values."
        }
      }
    },
    "UpdatePolicy": {
      "id": "UpdatePolicy",
      "type": "object",
      "properties": {
        "window": {
          "description": "Optional. Maintenance window that is applied to resources covered by this policy.",
          "$ref": "MaintenanceWindow"
        },
        "denyMaintenancePeriods": {
          "items": {
            "$ref": "DenyMaintenancePeriod"
          },
          "description": "Deny Maintenance Period that is applied to resource to indicate when maintenance is forbidden. The protocol supports zero-to-many such periods, but the current SLM Rollout implementation only supports zero-to-one.",
          "type": "array"
        },
        "channel": {
          "type": "string",
          "enum": [
            "UPDATE_CHANNEL_UNSPECIFIED",
            "EARLIER",
            "LATER",
            "WEEK1",
            "WEEK2",
            "WEEK5"
          ],
          "enumDescriptions": [
            "Unspecified channel.",
            "Early channel within a customer project.",
            "Later channel within a customer project.",
            "! ! The follow channels can ONLY be used if you adopt the new MW system! ! ! NOTE: all WEEK channels are assumed to be under a weekly window. ! There is currently no dedicated channel definitions for Daily windows. ! If you use Daily window, the system will assume a 1d (24Hours) advanced ! notification period b/w EARLY and LATER. ! We may consider support more flexible daily channel specifications in ! the future. WEEK1 == EARLIER with minimum 7d advanced notification. {7d, 14d} The system will treat them equally and will use WEEK1 whenever it can. New customers are encouraged to use this channel annotation.",
            "WEEK2 == LATER with minimum 14d advanced notification {14d, 21d}.",
            "WEEK5 == 40d support. minimum 35d advanced notification {35d, 42d}."
          ],
          "description": "Optional. Relative scheduling channel applied to resource."
        }
      },
      "description": "Maintenance policy applicable to instance updates."
    },
    "EventSubscriptionStatus": {
      "id": "EventSubscriptionStatus",
      "properties": {
        "description": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Description of the state."
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "UPDATING",
            "ACTIVE",
            "SUSPENDED",
            "ERROR"
          ],
          "description": "Output only. State of Event Subscription resource.",
          "enumDescriptions": [
            "Default state.",
            "EventSubscription creation is in progress.",
            "EventSubscription is in Updating status.",
            "EventSubscription is in Active state and is ready to receive events.",
            "EventSubscription is currently suspended.",
            "EventSubscription is in Error state."
          ],
          "type": "string"
        }
      },
      "description": "EventSubscription Status denotes the status of the EventSubscription resource.",
      "type": "object"
    },
    "EnrichmentConfig": {
      "properties": {
        "appendAcl": {
          "type": "boolean",
          "description": "Optional. Append ACL to the event."
        }
      },
      "type": "object",
      "description": "Data enrichment configuration.",
      "id": "EnrichmentConfig"
    },
    "EndUserAuthenticationConfigOauth2JwtBearerJwtClaims": {
      "type": "object",
      "properties": {
        "issuer": {
          "description": "Value for the \"iss\" claim.",
          "type": "string"
        },
        "subject": {
          "type": "string",
          "description": "Value for the \"sub\" claim."
        },
        "audience": {
          "description": "Value for the \"aud\" claim.",
          "type": "string"
        }
      },
      "id": "EndUserAuthenticationConfigOauth2JwtBearerJwtClaims",
      "description": "JWT claims used for the jwt-bearer authorization grant."
    },
    "Header": {
      "properties": {
        "value": {
          "description": "Optional. Value of Header.",
          "type": "string"
        },
        "key": {
          "type": "string",
          "description": "Optional. Key of Header."
        }
      },
      "type": "object",
      "id": "Header",
      "description": "Header details for a given header to be added to Endpoint."
    },
    "Field": {
      "properties": {
        "readonly": {
          "type": "boolean",
          "description": "Specifies if the Field is readonly."
        },
        "description": {
          "type": "string",
          "description": "A brief description of the Field."
        },
        "defaultValue": {
          "description": "The following field specifies the default value of the Field provided by the external system if a value is not provided.",
          "type": "any"
        },
        "key": {
          "description": "The following boolean field specifies if the current Field acts as a primary key or id if the parent is of type entity.",
          "type": "boolean"
        },
        "additionalDetails": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "The following map contains fields that are not explicitly mentioned above,this give connectors the flexibility to add new metadata fields."
        },
        "nullable": {
          "description": "Specifies whether a null value is allowed.",
          "type": "boolean"
        },
        "jsonSchema": {
          "description": "JsonSchema representation of this entity's schema",
          "$ref": "JsonSchema"
        },
        "field": {
          "type": "string",
          "description": "Name of the Field."
        },
        "dataType": {
          "enumDescriptions": [
            "Data type is not specified.",
            "DEPRECATED! Use DATA_TYPE_INTEGER.",
            "Short integer(int16) data type.",
            "Double data type.",
            "Date data type.",
            "DEPRECATED! Use DATA_TYPE_TIMESTAMP.",
            "Time data type.",
            "DEPRECATED! Use DATA_TYPE_VARCHAR.",
            "DEPRECATED! Use DATA_TYPE_BIGINT.",
            "Boolean data type.",
            "Decimal data type.",
            "DEPRECATED! Use DATA_TYPE_VARCHAR.",
            "UNSUPPORTED! Binary data type.",
            "Bit data type.",
            "Small integer(int8) data type.",
            "Integer(int32) data type.",
            "Long integer(int64) data type.",
            "Float data type.",
            "Real data type.",
            "Numeric data type.",
            "Char data type.",
            "Varchar data type.",
            "Longvarchar data type.",
            "Timestamp data type.",
            "Nchar data type.",
            "Nvarchar data type.",
            "Longnvarchar data type.",
            "Null data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Row id data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Variable binary data type.",
            "UNSUPPORTED! Long variable binary data type.",
            "UNSUPPORTED! NCLOB data type.",
            "UNSUPPORTED! SQL XML data type is not supported.",
            "UNSUPPORTED! Cursor reference type is not supported.",
            "UNSUPPORTED! Use TIME or TIMESTAMP instead.",
            "UNSUPPORTED! Use TIMESTAMP instead."
          ],
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "DATA_TYPE_INT",
            "DATA_TYPE_SMALLINT",
            "DATA_TYPE_DOUBLE",
            "DATA_TYPE_DATE",
            "DATA_TYPE_DATETIME",
            "DATA_TYPE_TIME",
            "DATA_TYPE_STRING",
            "DATA_TYPE_LONG",
            "DATA_TYPE_BOOLEAN",
            "DATA_TYPE_DECIMAL",
            "DATA_TYPE_UUID",
            "DATA_TYPE_BLOB",
            "DATA_TYPE_BIT",
            "DATA_TYPE_TINYINT",
            "DATA_TYPE_INTEGER",
            "DATA_TYPE_BIGINT",
            "DATA_TYPE_FLOAT",
            "DATA_TYPE_REAL",
            "DATA_TYPE_NUMERIC",
            "DATA_TYPE_CHAR",
            "DATA_TYPE_VARCHAR",
            "DATA_TYPE_LONGVARCHAR",
            "DATA_TYPE_TIMESTAMP",
            "DATA_TYPE_NCHAR",
            "DATA_TYPE_NVARCHAR",
            "DATA_TYPE_LONGNVARCHAR",
            "DATA_TYPE_NULL",
            "DATA_TYPE_OTHER",
            "DATA_TYPE_JAVA_OBJECT",
            "DATA_TYPE_DISTINCT",
            "DATA_TYPE_STRUCT",
            "DATA_TYPE_ARRAY",
            "DATA_TYPE_CLOB",
            "DATA_TYPE_REF",
            "DATA_TYPE_DATALINK",
            "DATA_TYPE_ROWID",
            "DATA_TYPE_BINARY",
            "DATA_TYPE_VARBINARY",
            "DATA_TYPE_LONGVARBINARY",
            "DATA_TYPE_NCLOB",
            "DATA_TYPE_SQLXML",
            "DATA_TYPE_REF_CURSOR",
            "DATA_TYPE_TIME_WITH_TIMEZONE",
            "DATA_TYPE_TIMESTAMP_WITH_TIMEZONE"
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            true,
            false,
            true,
            true,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "type": "string",
          "description": "The data type of the Field."
        }
      },
      "type": "object",
      "id": "Field",
      "description": "Metadata of an entity field."
    },
    "EndUserAuthenticationConfigOauth2AuthCodeFlowGoogleManaged": {
      "properties": {
        "authCode": {
          "type": "string",
          "description": "Optional. Authorization code to be exchanged for access and refresh tokens."
        },
        "scopes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. Scopes the connection will request when the user performs the auth code flow."
        },
        "redirectUri": {
          "description": "Optional. Redirect URI to be provided during the auth code exchange.",
          "type": "string"
        },
        "oauthTokenData": {
          "$ref": "OAuthTokenData",
          "description": "Auth Code Data"
        }
      },
      "type": "object",
      "description": "Parameters to support Oauth 2.0 Auth Code Grant Authentication using Google Provided OAuth Client. See https://tools.ietf.org/html/rfc6749#section-1.3.1 for more details.",
      "id": "EndUserAuthenticationConfigOauth2AuthCodeFlowGoogleManaged"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "type": "object",
      "properties": {}
    },
    "Oauth2ClientCredentials": {
      "description": "Parameters to support Oauth 2.0 Client Credentials Grant Authentication. See https://tools.ietf.org/html/rfc6749#section-1.3.4 for more details.",
      "id": "Oauth2ClientCredentials",
      "type": "object",
      "properties": {
        "clientId": {
          "description": "Optional. The client identifier.",
          "type": "string"
        },
        "clientSecret": {
          "description": "Optional. Secret version reference containing the client secret.",
          "$ref": "Secret"
        }
      }
    },
    "CustomConnector": {
      "description": "CustomConnector represents the custom connector defined by the customer as part of byoc.",
      "id": "CustomConnector",
      "properties": {
        "activeConnectorVersions": {
          "type": "array",
          "description": "Output only. Active connector versions.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Created time.",
          "format": "google-datetime"
        },
        "publishedMarketplaceVersions": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. Published marketplace versions."
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name of the CustomConnector. Format: projects/{project}/locations/{location}/customConnectors/{connector}"
        },
        "displayName": {
          "description": "Optional. Display name.",
          "type": "string"
        },
        "allConnectorVersions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. All connector versions."
        },
        "customConnectorType": {
          "enumDescriptions": [
            "Connector type is not specified.",
            "OpenAPI connector.",
            "Proto connector.",
            "SDK connector."
          ],
          "description": "Required. Type of the custom connector.",
          "type": "string",
          "enum": [
            "CUSTOM_CONNECTOR_TYPE_UNSPECIFIED",
            "OPEN_API",
            "PROTO",
            "SDK"
          ]
        },
        "logo": {
          "description": "Optional. Logo of the resource.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. Resource labels to represent user-provided metadata. Refer to cloud documentation on labels for more details. https://cloud.google.com/compute/docs/labeling-resources",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Updated time.",
          "readOnly": true
        },
        "allMarketplaceVersions": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. All marketplace versions.",
          "type": "array"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the resource."
        }
      },
      "type": "object"
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "properties": {
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "type": "object",
      "description": "The response message for Locations.ListLocations."
    },
    "ConnectorsLogConfig": {
      "id": "ConnectorsLogConfig",
      "description": "Log configuration for the connection.",
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Optional. Enabled represents whether logging is enabled or not for a connection."
        },
        "level": {
          "type": "string",
          "enum": [
            "LOG_LEVEL_UNSPECIFIED",
            "ERROR",
            "INFO",
            "DEBUG"
          ],
          "enumDescriptions": [
            "Log level unspecified.",
            "Only error logs are enabled.",
            "Info and error logs are enabled.",
            "Debug and high verbosity logs are enabled."
          ],
          "description": "Optional. Log configuration level."
        }
      }
    },
    "WeeklyCycle": {
      "type": "object",
      "id": "WeeklyCycle",
      "properties": {
        "schedule": {
          "type": "array",
          "description": "User can specify multiple windows in a week. Minimum of 1 window.",
          "items": {
            "$ref": "Schedule"
          }
        }
      },
      "description": "Time window specified for weekly operations."
    },
    "ListCustomConnectorsResponse": {
      "description": "Response message for Connectors.ListCustomConnectors.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Next page token."
        },
        "customConnectors": {
          "items": {
            "$ref": "CustomConnector"
          },
          "type": "array",
          "description": "A list of customConnectors."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListCustomConnectorsResponse"
    },
    "RuntimeActionSchema": {
      "id": "RuntimeActionSchema",
      "type": "object",
      "description": "Schema of a runtime action.",
      "properties": {
        "resultMetadata": {
          "type": "array",
          "items": {
            "$ref": "ResultMetadata"
          },
          "description": "Output only. List of result field metadata.",
          "readOnly": true
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Display Name of action to be shown on client side"
        },
        "inputParameters": {
          "items": {
            "$ref": "InputParameter"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. List of input parameter metadata for the action."
        },
        "resultJsonSchema": {
          "description": "Output only. JsonSchema representation of this action's result metadata",
          "$ref": "JsonSchema",
          "readOnly": true
        },
        "inputJsonSchema": {
          "readOnly": true,
          "$ref": "JsonSchema",
          "description": "Output only. JsonSchema representation of this action's input metadata"
        },
        "inputSchemaAsString": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Input schema as string."
        },
        "resultSchemaAsString": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Result schema as string."
        },
        "action": {
          "type": "string",
          "description": "Output only. Name of the action.",
          "readOnly": true
        },
        "description": {
          "description": "Output only. Brief Description of action",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "RefreshConnectionSchemaMetadataRequest": {
      "description": "Request message for ConnectorsService.RefreshConnectionSchemaMetadata.",
      "id": "RefreshConnectionSchemaMetadataRequest",
      "properties": {},
      "type": "object"
    },
    "OAuthTokenData": {
      "description": "pass only at create and not update using updateMask Auth Code Data",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Optional. Timestamp when the access token was created.",
          "format": "google-datetime"
        },
        "expiry": {
          "format": "google-duration",
          "description": "Optional. Time in seconds when the access token expires.",
          "type": "string"
        },
        "refreshToken": {
          "$ref": "EUASecret",
          "description": "Optional. Refresh token for the connection."
        },
        "accessToken": {
          "description": "Optional. Access token for the connection.",
          "$ref": "EUASecret"
        }
      },
      "type": "object",
      "id": "OAuthTokenData"
    },
    "ConnectorVersion": {
      "description": "ConnectorVersion indicates a specific version of a connector.",
      "id": "ConnectorVersion",
      "properties": {
        "vpcscConfig": {
          "description": "Output only. VPCSC config for the connector.",
          "$ref": "VpcscConfig",
          "readOnly": true
        },
        "authOverrideEnabled": {
          "description": "Output only. Flag to mark the dynamic auth override.",
          "readOnly": true,
          "type": "boolean"
        },
        "isCustomActionsSupported": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Is custom actions supported."
        },
        "supportedStandardEntities": {
          "readOnly": true,
          "description": "Output only. Supported standard entities.",
          "type": "array",
          "items": {
            "$ref": "StandardEntity"
          }
        },
        "roleGrant": {
          "$ref": "RoleGrant",
          "readOnly": true,
          "description": "Output only. Role grant configuration for this config variable. It will be DEPRECATED soon."
        },
        "isCustomEntitiesSupported": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Is custom entities supported."
        },
        "eventingConfigTemplate": {
          "description": "Output only. Eventing configuration supported by the Connector.",
          "readOnly": true,
          "$ref": "EventingConfigTemplate"
        },
        "roleGrants": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "RoleGrant"
          },
          "description": "Output only. Role grant configurations for this connector version."
        },
        "connectorInfraConfig": {
          "description": "Output only. Infra configs supported by Connector.",
          "$ref": "ConnectorInfraConfig",
          "readOnly": true
        },
        "schemaRefreshConfig": {
          "description": "Connection Schema Refresh Config",
          "$ref": "SchemaRefreshConfig"
        },
        "supportedRuntimeFeatures": {
          "description": "Output only. Information about the runtime features supported by the Connector.",
          "readOnly": true,
          "$ref": "SupportedRuntimeFeatures"
        },
        "egressControlConfig": {
          "$ref": "EgressControlConfig",
          "readOnly": true,
          "description": "Output only. Configuration for Egress Control."
        },
        "authConfigTemplates": {
          "description": "Output only. List of auth configs supported by the Connector Version.",
          "type": "array",
          "items": {
            "$ref": "AuthConfigTemplate"
          },
          "readOnly": true
        },
        "destinationConfigTemplates": {
          "items": {
            "$ref": "DestinationConfigTemplate"
          },
          "readOnly": true,
          "description": "Output only. List of destination configs needed to create a connection.",
          "type": "array"
        },
        "displayName": {
          "description": "Output only. Display name.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name of the Version. Format: projects/{project}/locations/{location}/providers/{provider}/connectors/{connector}/versions/{version} Only global location is supported for Connector resource.",
          "type": "string"
        },
        "unsupportedConnectionTypes": {
          "readOnly": true,
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Connection type is unspecified.",
              "Connection with eventing.",
              "Only connection.",
              "Only eventing."
            ],
            "type": "string",
            "enum": [
              "CONNECTION_TYPE_UNSPECIFIED",
              "CONNECTION_WITH_EVENTING",
              "ONLY_CONNECTION",
              "ONLY_EVENTING"
            ]
          },
          "description": "Output only. Unsupported connection types."
        },
        "releaseVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. ReleaseVersion of the connector, for example: \"1.0.1-alpha\"."
        },
        "labels": {
          "type": "object",
          "readOnly": true,
          "additionalProperties": {
            "type": "string"
          },
          "description": "Output only. Resource labels to represent user-provided metadata. Refer to cloud documentation on labels for more details. https://cloud.google.com/compute/docs/labeling-resources"
        },
        "createTime": {
          "description": "Output only. Created time.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "sslConfigTemplate": {
          "readOnly": true,
          "$ref": "SslConfigTemplate",
          "description": "Output only. Ssl configuration supported by the Connector."
        },
        "configVariableTemplates": {
          "items": {
            "$ref": "ConfigVariableTemplate"
          },
          "type": "array",
          "description": "Output only. List of config variables needed to create a connection.",
          "readOnly": true
        },
        "supportedStandardActions": {
          "items": {
            "$ref": "StandardAction"
          },
          "type": "array",
          "description": "Output only. Supported standard actions.",
          "readOnly": true
        },
        "launchStage": {
          "type": "string",
          "description": "Output only. Flag to mark the version indicating the launch stage.",
          "enumDescriptions": [
            "LAUNCH_STAGE_UNSPECIFIED.",
            "PREVIEW.",
            "GA.",
            "DEPRECATED.",
            "TEST.",
            "PRIVATE_PREVIEW."
          ],
          "enum": [
            "LAUNCH_STAGE_UNSPECIFIED",
            "PREVIEW",
            "GA",
            "DEPRECATED",
            "TEST",
            "PRIVATE_PREVIEW"
          ],
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Updated time.",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "WithdrawCustomConnectorVersionRequest": {
      "description": "Request message for ConnectorsService.WithdrawCustomConnectorVersion",
      "type": "object",
      "id": "WithdrawCustomConnectorVersionRequest",
      "properties": {}
    },
    "JsonAuthSchema": {
      "id": "JsonAuthSchema",
      "description": "JsonAuthSchema defines the JSON schema of all authentication types.",
      "type": "object",
      "properties": {
        "oneOf": {
          "items": {
            "$ref": "AuthObject"
          },
          "type": "array",
          "description": "List of AuthObjects."
        },
        "$schema": {
          "type": "string",
          "description": "JSON schema of the AuthSchemas."
        }
      }
    },
    "EndUserAuthenticationConfigUserPassword": {
      "id": "EndUserAuthenticationConfigUserPassword",
      "type": "object",
      "properties": {
        "password": {
          "$ref": "EUASecret",
          "description": "Required. string value or secret version reference containing the password."
        },
        "username": {
          "description": "Username.",
          "type": "string"
        }
      },
      "description": "Parameters to support Username and Password Authentication."
    },
    "Status": {
      "properties": {
        "details": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "id": "Status",
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "FetchAuthSchemaResponse": {
      "id": "FetchAuthSchemaResponse",
      "properties": {
        "authSchemas": {
          "items": {
            "$ref": "AuthSchema"
          },
          "description": "List of AuthSchemas.",
          "type": "array"
        },
        "jsonSchema": {
          "description": "JSON schema of the AuthSchemas. This is only populated if the view is JSON_SCHEMA. The schema is in draft-07 format.",
          "$ref": "JsonAuthSchema"
        }
      },
      "type": "object",
      "description": "Response message for Connectors.GetAuthSchema."
    },
    "EUASecret": {
      "description": "EUASecret provides a reference to entries in Secret Manager.",
      "type": "object",
      "properties": {
        "secretVersion": {
          "description": "Optional. The resource name of the secret version in the format, format as: `projects/*/secrets/*/versions/*`.",
          "type": "string"
        },
        "secretValue": {
          "description": "Optional. The plain string value of the secret.",
          "type": "string"
        }
      },
      "id": "EUASecret"
    },
    "NotificationParameter": {
      "properties": {
        "values": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Array of string values. e.g. instance's replica information.",
          "type": "array"
        }
      },
      "description": "Contains notification related data.",
      "type": "object",
      "id": "NotificationParameter"
    },
    "TestIamPermissionsResponse": {
      "properties": {
        "permissions": {
          "type": "array",
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Response message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsResponse"
    },
    "EventingConfigTemplate": {
      "description": "Eventing Config details of a connector version. next: 14",
      "id": "EventingConfigTemplate",
      "type": "object",
      "properties": {
        "proxyDestinationConfig": {
          "description": "Proxy destination config template.",
          "$ref": "DestinationConfigTemplate"
        },
        "encryptionKeyTemplate": {
          "$ref": "ConfigVariableTemplate",
          "description": "Encryption key (can be either Google managed or CMEK)."
        },
        "additionalVariables": {
          "description": "Additional fields that need to be rendered.",
          "items": {
            "$ref": "ConfigVariableTemplate"
          },
          "type": "array"
        },
        "registrationDestinationConfig": {
          "description": "Registration host destination config template.",
          "$ref": "DestinationConfigTemplate"
        },
        "isEventingSupported": {
          "type": "boolean",
          "description": "Is Eventing Supported."
        },
        "triggerConfigVariables": {
          "type": "array",
          "description": "Trigger Config fields that needs to be rendered",
          "items": {
            "$ref": "ConfigVariableTemplate"
          }
        },
        "eventListenerType": {
          "type": "string",
          "enum": [
            "EVENT_LISTENER_TYPE_UNSPECIFIED",
            "WEBHOOK_LISTENER",
            "JMS_LISTENER"
          ],
          "description": "The type of the event listener for a specific connector.",
          "enumDescriptions": [
            "Default value.",
            "Webhook listener. e.g. Jira, Zendesk, Servicenow etc.,",
            "JMS Listener. e.g. IBM MQ, Rabbit MQ etc.,"
          ]
        },
        "enrichmentSupported": {
          "description": "Enrichment Supported.",
          "type": "boolean"
        },
        "autoRegistrationSupported": {
          "description": "Auto Registration supported.",
          "type": "boolean"
        },
        "sslConfigTemplate": {
          "description": "SSL Config template for the connector version.",
          "$ref": "SslConfigTemplate"
        },
        "listenerAuthConfigTemplates": {
          "items": {
            "$ref": "AuthConfigTemplate"
          },
          "type": "array",
          "description": "ListenerAuthConfigTemplates represents the auth values for the event listener."
        },
        "authConfigTemplates": {
          "description": "AuthConfigTemplates represents the auth values for the webhook adapter.",
          "type": "array",
          "items": {
            "$ref": "AuthConfigTemplate"
          }
        },
        "autoRefresh": {
          "description": "Auto refresh to extend webhook life.",
          "type": "boolean"
        }
      }
    },
    "ListConnectorsResponse": {
      "description": "Response message for Connectors.ListConnectors.",
      "id": "ListConnectorsResponse",
      "properties": {
        "nextPageToken": {
          "description": "Next page token.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "connectors": {
          "type": "array",
          "description": "A list of connectors.",
          "items": {
            "$ref": "Connector"
          }
        }
      },
      "type": "object"
    },
    "TimeOfDay": {
      "id": "TimeOfDay",
      "type": "object",
      "properties": {
        "nanos": {
          "type": "integer",
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
          "format": "int32"
        },
        "minutes": {
          "format": "int32",
          "type": "integer",
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59."
        },
        "hours": {
          "type": "integer",
          "format": "int32",
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time."
        },
        "seconds": {
          "type": "integer",
          "format": "int32",
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds."
        }
      },
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`."
    },
    "BillingConfig": {
      "properties": {
        "billingCategory": {
          "enum": [
            "BILLING_CATEGORY_UNSPECIFIED",
            "GCP_AND_TECHNICAL_CONNECTOR",
            "NON_GCP_CONNECTOR"
          ],
          "enumDescriptions": [
            "Billing category is not specified.",
            "GCP/Technical connector.",
            "Non-GCP connector."
          ],
          "description": "Output only. Billing category for the connector.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "BillingConfig",
      "type": "object",
      "description": "Billing config for the connection."
    },
    "InputParameter": {
      "id": "InputParameter",
      "type": "object",
      "description": "Metadata of an input parameter.",
      "properties": {
        "jsonSchema": {
          "description": "JsonSchema representation of this action's parameter",
          "$ref": "JsonSchema"
        },
        "description": {
          "type": "string",
          "description": "A brief description of the Parameter."
        },
        "defaultValue": {
          "description": "The following field specifies the default value of the Parameter provided by the external system if a value is not provided.",
          "type": "any"
        },
        "dataType": {
          "description": "The data type of the Parameter.",
          "enumDescriptions": [
            "Data type is not specified.",
            "DEPRECATED! Use DATA_TYPE_INTEGER.",
            "Short integer(int16) data type.",
            "Double data type.",
            "Date data type.",
            "DEPRECATED! Use DATA_TYPE_TIMESTAMP.",
            "Time data type.",
            "DEPRECATED! Use DATA_TYPE_VARCHAR.",
            "DEPRECATED! Use DATA_TYPE_BIGINT.",
            "Boolean data type.",
            "Decimal data type.",
            "DEPRECATED! Use DATA_TYPE_VARCHAR.",
            "UNSUPPORTED! Binary data type.",
            "Bit data type.",
            "Small integer(int8) data type.",
            "Integer(int32) data type.",
            "Long integer(int64) data type.",
            "Float data type.",
            "Real data type.",
            "Numeric data type.",
            "Char data type.",
            "Varchar data type.",
            "Longvarchar data type.",
            "Timestamp data type.",
            "Nchar data type.",
            "Nvarchar data type.",
            "Longnvarchar data type.",
            "Null data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Row id data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Variable binary data type.",
            "UNSUPPORTED! Long variable binary data type.",
            "UNSUPPORTED! NCLOB data type.",
            "UNSUPPORTED! SQL XML data type is not supported.",
            "UNSUPPORTED! Cursor reference type is not supported.",
            "UNSUPPORTED! Use TIME or TIMESTAMP instead.",
            "UNSUPPORTED! Use TIMESTAMP instead."
          ],
          "type": "string",
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            true,
            false,
            true,
            true,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "DATA_TYPE_INT",
            "DATA_TYPE_SMALLINT",
            "DATA_TYPE_DOUBLE",
            "DATA_TYPE_DATE",
            "DATA_TYPE_DATETIME",
            "DATA_TYPE_TIME",
            "DATA_TYPE_STRING",
            "DATA_TYPE_LONG",
            "DATA_TYPE_BOOLEAN",
            "DATA_TYPE_DECIMAL",
            "DATA_TYPE_UUID",
            "DATA_TYPE_BLOB",
            "DATA_TYPE_BIT",
            "DATA_TYPE_TINYINT",
            "DATA_TYPE_INTEGER",
            "DATA_TYPE_BIGINT",
            "DATA_TYPE_FLOAT",
            "DATA_TYPE_REAL",
            "DATA_TYPE_NUMERIC",
            "DATA_TYPE_CHAR",
            "DATA_TYPE_VARCHAR",
            "DATA_TYPE_LONGVARCHAR",
            "DATA_TYPE_TIMESTAMP",
            "DATA_TYPE_NCHAR",
            "DATA_TYPE_NVARCHAR",
            "DATA_TYPE_LONGNVARCHAR",
            "DATA_TYPE_NULL",
            "DATA_TYPE_OTHER",
            "DATA_TYPE_JAVA_OBJECT",
            "DATA_TYPE_DISTINCT",
            "DATA_TYPE_STRUCT",
            "DATA_TYPE_ARRAY",
            "DATA_TYPE_CLOB",
            "DATA_TYPE_REF",
            "DATA_TYPE_DATALINK",
            "DATA_TYPE_ROWID",
            "DATA_TYPE_BINARY",
            "DATA_TYPE_VARBINARY",
            "DATA_TYPE_LONGVARBINARY",
            "DATA_TYPE_NCLOB",
            "DATA_TYPE_SQLXML",
            "DATA_TYPE_REF_CURSOR",
            "DATA_TYPE_TIME_WITH_TIMEZONE",
            "DATA_TYPE_TIMESTAMP_WITH_TIMEZONE"
          ]
        },
        "parameter": {
          "description": "Name of the Parameter.",
          "type": "string"
        },
        "nullable": {
          "description": "Specifies whether a null value is allowed.",
          "type": "boolean"
        }
      }
    },
    "EventSubscriptionDestination": {
      "type": "object",
      "description": "Message for EventSubscription Destination to act on receiving an event",
      "id": "EventSubscriptionDestination",
      "properties": {
        "endpoint": {
          "description": "OPTION 1: Hit an endpoint when we receive an event.",
          "$ref": "EndPoint"
        },
        "type": {
          "enumDescriptions": [
            "Default state.",
            "Endpoint - Hit the value of endpoint when event is received",
            "Cloud Storage - Write the event to Cloud Storage bucket",
            "Pub/Sub - Write the event to Pub/Sub topic"
          ],
          "description": "Optional. type of the destination",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "ENDPOINT",
            "GCS",
            "PUBSUB"
          ]
        },
        "pubsub": {
          "description": "OPTION 3: Write the event to Pub/Sub topic.",
          "$ref": "PubSub"
        },
        "serviceAccount": {
          "type": "string",
          "description": "Optional. Service account needed for runtime plane to trigger IP workflow."
        }
      }
    },
    "Destination": {
      "id": "Destination",
      "type": "object",
      "properties": {
        "port": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The port is the target port number that is accepted by the destination."
        },
        "host": {
          "type": "string",
          "description": "For publicly routable host."
        },
        "serviceAttachment": {
          "type": "string",
          "deprecated": true,
          "description": "PSC service attachments. Format: projects/*/regions/*/serviceAttachments/*"
        }
      }
    },
    "ConfigVariable": {
      "properties": {
        "stringValue": {
          "type": "string",
          "description": "Optional. Value is a string."
        },
        "intValue": {
          "type": "string",
          "description": "Optional. Value is an integer",
          "format": "int64"
        },
        "encryptionKeyValue": {
          "$ref": "EncryptionKey",
          "description": "Optional. Value is a Encryption Key."
        },
        "boolValue": {
          "description": "Optional. Value is a bool.",
          "type": "boolean"
        },
        "key": {
          "type": "string",
          "description": "Optional. Key of the config variable."
        },
        "secretValue": {
          "description": "Optional. Value is a secret.",
          "$ref": "Secret"
        }
      },
      "type": "object",
      "id": "ConfigVariable",
      "description": "ConfigVariable represents a configuration variable present in a Connection. or AuthConfig."
    },
    "ExtractionRule": {
      "properties": {
        "formatString": {
          "description": "Format string used to format the extracted backend details. If empty, extracted backend details will be returned as it is.",
          "type": "string"
        },
        "source": {
          "description": "Source on which the rule is applied.",
          "$ref": "Source"
        },
        "extractionRegex": {
          "type": "string",
          "description": "Regex used to extract backend details from source. If empty, whole source value will be used."
        }
      },
      "id": "ExtractionRule",
      "type": "object",
      "description": "Extraction Rule."
    },
    "ListenEventResponse": {
      "description": "Expected response for ListenEvent API.",
      "properties": {},
      "id": "ListenEventResponse",
      "type": "object"
    },
    "EndUserAuthenticationNotifyEndpointDestinationEndPointHeader": {
      "type": "object",
      "id": "EndUserAuthenticationNotifyEndpointDestinationEndPointHeader",
      "description": "Header details for a given header to be added to Endpoint.",
      "properties": {
        "value": {
          "type": "string",
          "description": "Required. Value of Header."
        },
        "key": {
          "type": "string",
          "description": "Required. Key of Header."
        }
      }
    },
    "Settings": {
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource name of the Connection. Format: projects/{project}/locations/global/settings}"
        },
        "payg": {
          "description": "Output only. Flag indicates if user is in PayG model",
          "readOnly": true,
          "type": "boolean"
        },
        "tenantProjectId": {
          "readOnly": true,
          "description": "Output only. Tenant project id of the consumer project.",
          "type": "string"
        },
        "vpcsc": {
          "description": "Optional. Flag indicates whether vpc-sc is enabled.",
          "type": "boolean"
        }
      },
      "description": "Global Settings details.",
      "id": "Settings",
      "type": "object"
    },
    "Provider": {
      "type": "object",
      "description": "Provider indicates the owner who provides the connectors.",
      "id": "Provider",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Updated time.",
          "format": "google-datetime",
          "type": "string"
        },
        "externalUri": {
          "description": "Output only. Link to external page.",
          "type": "string",
          "readOnly": true
        },
        "webAssetsLocation": {
          "description": "Output only. Cloud storage location of icons etc consumed by UI.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name of the Provider. Format: projects/{project}/locations/{location}/providers/{provider} Only global location is supported for Provider resource."
        },
        "documentationUri": {
          "description": "Output only. Link to documentation page.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Output only. Display name.",
          "readOnly": true
        },
        "labels": {
          "type": "object",
          "readOnly": true,
          "description": "Output only. Resource labels to represent user-provided metadata. Refer to cloud documentation on labels for more details. https://cloud.google.com/compute/docs/labeling-resources",
          "additionalProperties": {
            "type": "string"
          }
        },
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Description of the resource."
        },
        "launchStage": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "LAUNCH_STAGE_UNSPECIFIED.",
            "PREVIEW.",
            "GA.",
            "DEPRECATED.",
            "TEST.",
            "PRIVATE_PREVIEW."
          ],
          "enum": [
            "LAUNCH_STAGE_UNSPECIFIED",
            "PREVIEW",
            "GA",
            "DEPRECATED",
            "TEST",
            "PRIVATE_PREVIEW"
          ],
          "description": "Output only. Flag to mark the version indicating the launch stage."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Created time."
        }
      }
    },
    "EventingStatus": {
      "type": "object",
      "properties": {
        "state": {
          "description": "Output only. State.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "ERROR",
            "INGRESS_ENDPOINT_REQUIRED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Default state.",
            "Eventing is enabled and ready to receive events.",
            "Eventing is not active due to an error.",
            "Ingress endpoint required."
          ],
          "type": "string"
        },
        "description": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Description of error if State is set to \"ERROR\"."
        }
      },
      "description": "EventingStatus indicates the state of eventing.",
      "id": "EventingStatus"
    },
    "ListRuntimeActionSchemasResponse": {
      "description": "Response message for ConnectorsService.ListRuntimeActionSchemas.",
      "id": "ListRuntimeActionSchemasResponse",
      "properties": {
        "runtimeActionSchemas": {
          "items": {
            "$ref": "RuntimeActionSchema"
          },
          "description": "Runtime action schemas.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Next page token."
        }
      },
      "type": "object"
    },
    "SchemaRefreshConfig": {
      "properties": {
        "useSynchronousSchemaRefresh": {
          "description": "Whether to use synchronous schema refresh.",
          "type": "boolean"
        },
        "useActionDisplayNames": {
          "description": "Whether to use displayName for actions in UI.",
          "type": "boolean"
        }
      },
      "id": "SchemaRefreshConfig",
      "type": "object",
      "description": "Config for connection schema refresh"
    },
    "Oauth2AuthCodeFlowGoogleManaged": {
      "properties": {
        "redirectUri": {
          "description": "Optional. Redirect URI to be provided during the auth code exchange.",
          "type": "string"
        },
        "scopes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. Scopes the connection will request when the user performs the auth code flow."
        },
        "authCode": {
          "type": "string",
          "description": "Optional. Authorization code to be exchanged for access and refresh tokens."
        }
      },
      "type": "object",
      "id": "Oauth2AuthCodeFlowGoogleManaged",
      "description": "Parameters to support Oauth 2.0 Auth Code Grant Authentication using Google Provided OAuth Client. See https://tools.ietf.org/html/rfc6749#section-1.3.1 for more details."
    },
    "ConnectionStatus": {
      "description": "ConnectionStatus indicates the state of the connection.",
      "type": "object",
      "properties": {
        "status": {
          "description": "Status provides detailed information for the state.",
          "type": "string"
        },
        "description": {
          "description": "Description.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "INACTIVE",
            "DELETING",
            "UPDATING",
            "ERROR",
            "AUTHORIZATION_REQUIRED"
          ],
          "enumDescriptions": [
            "Connection does not have a state yet.",
            "Connection is being created.",
            "Connection is running and ready for requests.",
            "Connection is stopped.",
            "Connection is being deleted.",
            "Connection is being updated.",
            "Connection is not running due to an error.",
            "Connection is not running because the authorization configuration is not complete."
          ],
          "description": "State."
        }
      },
      "id": "ConnectionStatus"
    },
    "Resource": {
      "id": "Resource",
      "description": "Resource definition",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Value type is not specified.",
            "Google Cloud Project Resource.",
            "Any Google Cloud Resource which is identified uniquely by IAM.",
            "Google Cloud Secret Resource.",
            "Google Cloud Secret Version Resource."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "GCP_PROJECT",
            "GCP_RESOURCE",
            "GCP_SECRETMANAGER_SECRET",
            "GCP_SECRETMANAGER_SECRET_VERSION"
          ],
          "description": "Optional. Different types of resource supported."
        },
        "pathTemplate": {
          "description": "Optional. Template to uniquely represent a Google Cloud resource in a format IAM expects This is a template that can have references to other values provided in the config variable template.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "id": "OperationMetadata",
      "properties": {
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "verb": {
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "type": "string"
        },
        "requestedCancellation": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "apiVersion": {
          "readOnly": true,
          "description": "Output only. API version used to start the operation.",
          "type": "string"
        },
        "endTime": {
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "type": "string"
        },
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any."
        }
      }
    },
    "DailyCycle": {
      "id": "DailyCycle",
      "description": "Time window specified for daily operations.",
      "type": "object",
      "properties": {
        "startTime": {
          "$ref": "TimeOfDay",
          "description": "Time within the day to start the operations."
        },
        "duration": {
          "type": "string",
          "description": "Output only. Duration of the time window, set by service producer.",
          "format": "google-duration"
        }
      }
    },
    "DeadLetterConfig": {
      "type": "object",
      "description": "Dead Letter configuration details provided by the user.",
      "properties": {
        "topic": {
          "description": "Optional. Topic to push events which couldn't be processed.",
          "type": "string"
        },
        "projectId": {
          "type": "string",
          "description": "Optional. Project which has the topic given."
        }
      },
      "id": "DeadLetterConfig"
    },
    "FetchConnectionToolspecOverrideRequest": {
      "type": "object",
      "properties": {
        "toolNames": {
          "items": {
            "$ref": "ToolName"
          },
          "type": "array",
          "description": "Required. List of tools for which the tool spec override is to be generated."
        }
      },
      "description": "Request message for FetchConnectionToolspecOverride API.",
      "id": "FetchConnectionToolspecOverrideRequest"
    },
    "NodeSloMetadata": {
      "type": "object",
      "properties": {
        "nodeId": {
          "description": "The id of the node. This should be equal to SaasInstanceNode.node_id.",
          "type": "string"
        },
        "perSliEligibility": {
          "description": "If present, this will override eligibility for the node coming from instance or exclusions for specified SLIs.",
          "$ref": "PerSliSloEligibility"
        },
        "location": {
          "description": "The location of the node, if different from instance location.",
          "type": "string"
        }
      },
      "id": "NodeSloMetadata",
      "description": "Node information for custom per-node SLO implementations. SSA does not support per-node SLO, but producers can populate per-node information in SloMetadata for custom precomputations. SSA Eligibility Exporter will emit per-node metric based on this information."
    },
    "MultipleSelectConfig": {
      "properties": {
        "valueSeparator": {
          "description": "Required. Value separator. Only \",\" can be used for OAuth auth code flow scope field.",
          "type": "string"
        },
        "multipleSelectOptions": {
          "items": {
            "$ref": "MultipleSelectOption"
          },
          "type": "array",
          "description": "Required. Multiple select options."
        },
        "allowCustomValues": {
          "description": "Optional. Allow custom values.",
          "type": "boolean"
        }
      },
      "id": "MultipleSelectConfig",
      "type": "object",
      "description": "MultipleSelectConfig represents the multiple options for a config variable."
    },
    "DestinationConfigTemplate": {
      "properties": {
        "portFieldType": {
          "type": "string",
          "enum": [
            "FIELD_TYPE_UNSPECIFIED",
            "REQUIRED",
            "OPTIONAL",
            "NOT_USED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "description": "Whether port number should be provided by customers."
        },
        "min": {
          "description": "The minimum number of destinations supported for this key.",
          "type": "integer",
          "format": "int32"
        },
        "displayName": {
          "type": "string",
          "description": "Display name of the parameter."
        },
        "key": {
          "description": "Key of the destination.",
          "type": "string"
        },
        "max": {
          "description": "The maximum number of destinations supported for this key.",
          "format": "int32",
          "type": "integer"
        },
        "autocompleteSuggestions": {
          "type": "array",
          "description": "Autocomplete suggestions for destination URL field.",
          "items": {
            "type": "string"
          }
        },
        "isAdvanced": {
          "description": "Whether the current destination tempalate is part of Advanced settings",
          "type": "boolean"
        },
        "regexPattern": {
          "type": "string",
          "description": "Regex pattern for host."
        },
        "defaultPort": {
          "description": "The default port.",
          "type": "integer",
          "format": "int32"
        },
        "description": {
          "description": "Description.",
          "type": "string"
        }
      },
      "id": "DestinationConfigTemplate",
      "description": "DestinationConfigTemplate defines required destinations supported by the Connector.",
      "type": "object"
    },
    "MaintenanceSchedule": {
      "id": "MaintenanceSchedule",
      "properties": {
        "canReschedule": {
          "type": "boolean",
          "deprecated": true,
          "description": "This field is deprecated, and will be always set to true since reschedule can happen multiple times now. This field should not be removed until all service producers remove this for their customers."
        },
        "startTime": {
          "description": "The scheduled start time for the maintenance.",
          "format": "google-datetime",
          "type": "string"
        },
        "rolloutManagementPolicy": {
          "type": "string",
          "description": "The rollout management policy this maintenance schedule is associated with. When doing reschedule update request, the reschedule should be against this given policy."
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The scheduled end time for the maintenance."
        },
        "scheduleDeadlineTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "schedule_deadline_time is the time deadline any schedule start time cannot go beyond, including reschedule. It's normally the initial schedule start time plus maintenance window length (1 day or 1 week). Maintenance cannot be scheduled to start beyond this deadline."
        }
      },
      "description": "Maintenance schedule which is exposed to customer and potentially end user, indicating published upcoming future maintenance schedule",
      "type": "object"
    },
    "ListEndpointAttachmentsResponse": {
      "description": "Response message for ConnectorsService.ListEndpointAttachments",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Next page token.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "endpointAttachments": {
          "type": "array",
          "items": {
            "$ref": "EndpointAttachment"
          },
          "description": "EndpointAttachments."
        }
      },
      "id": "ListEndpointAttachmentsResponse"
    },
    "WebhookSubscriptions": {
      "id": "WebhookSubscriptions",
      "description": "WebhookSubscriptions has details of webhook subscriptions.",
      "type": "object",
      "properties": {
        "webhookData": {
          "items": {
            "$ref": "WebhookData"
          },
          "description": "Output only. Webhook data.",
          "type": "array",
          "readOnly": true
        }
      }
    },
    "TestIamPermissionsRequest": {
      "description": "Request message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsRequest",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "JMS": {
      "type": "object",
      "description": "JMS message denotes the source of the event",
      "id": "JMS",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "QUEUE",
            "TOPIC"
          ],
          "description": "Optional. Type of the JMS Source. i.e. Queue or Topic",
          "enumDescriptions": [
            "Default state.",
            "JMS Queue.",
            "JMS Topic."
          ]
        },
        "name": {
          "type": "string",
          "description": "Optional. Name of the JMS source. i.e. queueName or topicName"
        }
      }
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
[...]
