{
  "basePath": "",
  "baseUrl": "https://connectors.googleapis.com/",
  "canonicalName": "Connectors",
  "protocol": "rest",
  "revision": "20260828",
  "id": "connectors:v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "name": "connectors",
  "servicePath": "",
  "mtlsRootUrl": "https://connectors.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "version": "v1",
  "version_module": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "rootUrl": "https://connectors.googleapis.com/",
  "title": "Connectors API",
  "documentationLink": "https://cloud.google.com/apigee/docs/api-platform/connectors/about-connectors",
  "parameters": {
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    }
  },
  "batchPath": "batch",
  "schemas": {
    "ConnectorInfraConfig": {
      "id": "ConnectorInfraConfig",
      "properties": {
        "networkEgressModeOverride": {
          "$ref": "NetworkEgressModeOverride",
          "description": "Network egress mode override to migrate to direct VPC egress."
        },
        "internalclientRatelimitThreshold": {
          "format": "int64",
          "type": "string",
          "description": "Max QPS supported for internal requests originating from Connd."
        },
        "connectionServiceAccountEnabled": {
          "type": "boolean",
          "description": "Indicate whether connection service account is enabled. If false, the common runtime service agent is used."
        },
        "resourceLimits": {
          "$ref": "ResourceLimits",
          "description": "System resource limits."
        },
        "sharedDeployment": {
          "type": "string",
          "description": "The name of shared connector deployment."
        },
        "alwaysAllocateCpu": {
          "description": "Indicates that the Cloud Run CPU should always be allocated.",
          "type": "boolean"
        },
        "deploymentModel": {
          "type": "string",
          "enum": [
            "DEPLOYMENT_MODEL_UNSPECIFIED",
            "GKE_MST",
            "CLOUD_RUN_MST"
          ],
          "description": "Indicate whether connector is deployed on GKE/CloudRun",
          "enumDescriptions": [
            "Deployment model is not specified.",
            "Default model gke mst.",
            "Cloud run mst."
          ]
        },
        "provisionMemstore": {
          "type": "boolean",
          "description": "Indicate whether memstore is required for connector job."
        },
        "migrateDeploymentModel": {
          "type": "boolean",
          "description": "Indicate whether connector is being migrated to cloud run deployment model."
        },
        "provisionCloudSpanner": {
          "type": "boolean",
          "description": "Indicate whether cloud spanner is required for connector job."
        },
        "ratelimitThreshold": {
          "format": "int64",
          "description": "Max QPS supported by the connector version before throttling of requests.",
          "type": "string"
        },
        "publicNetworkIngressEnabled": {
          "description": "Indicate whether public network ingress should be enabled.",
          "type": "boolean"
        },
        "maxInstanceRequestConcurrency": {
          "type": "integer",
          "description": "Max Instance Request Conncurrency for Cloud Run service.",
          "format": "int32"
        },
        "resourceRequests": {
          "$ref": "ResourceRequests",
          "description": "System resource requests."
        },
        "hpaConfig": {
          "$ref": "HPAConfig",
          "description": "HPA autoscaling config."
        },
        "migrateTls": {
          "description": "Indicate whether connector is being migrated to TLS.",
          "type": "boolean"
        },
        "connectionRatelimitWindowSeconds": {
          "description": "The window used for ratelimiting runtime requests to connections.",
          "type": "string",
          "format": "int64"
        },
        "connectorVersioningEnabled": {
          "description": "Indicate whether connector versioning is enabled.",
          "type": "boolean"
        }
      },
      "description": "This cofiguration provides infra configs like rate limit threshold which need to be configurable for every connector version",
      "type": "object"
    },
    "AuthObject": {
      "properties": {
        "properties": {
          "additionalProperties": {
            "$ref": "AuthProperty"
          },
          "type": "object",
          "description": "Properties of the object."
        },
        "authKey": {
          "type": "string",
          "description": "Auth key of the object."
        },
        "isDefault": {
          "type": "boolean",
          "description": "Whether the object is the default one."
        },
        "additionalProperties": {
          "type": "boolean",
          "description": "Whether the object has additional properties."
        },
        "type": {
          "description": "Type of the object.",
          "type": "string"
        },
        "authType": {
          "type": "string",
          "description": "Auth type of the object."
        },
        "description": {
          "description": "Description of the object.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "AuthObject",
      "description": "AuthObject defines a JSON schema of an authentication type."
    },
    "Secret": {
      "id": "Secret",
      "description": "Secret provides a reference to entries in Secret Manager.",
      "type": "object",
      "properties": {
        "secretVersion": {
          "description": "Optional. The resource name of the secret version in the format, format as: `projects/*/secrets/*/versions/*`.",
          "type": "string"
        }
      }
    },
    "PartnerMetadata": {
      "description": "Partner metadata details. This will be populated when publishing the custom connector as a partner connector version. On publishing, parntner connector version will be created using the fields in PartnerMetadata.",
      "properties": {
        "marketplaceProductUri": {
          "description": "Optional. Marketplace product URL.",
          "type": "string"
        },
        "localSpecPath": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Local spec path. Required if has_dynamic_spec_uri is true."
        },
        "useCases": {
          "description": "Required. Details about partner connector use cases.",
          "type": "string"
        },
        "partnerConnectorDisplayName": {
          "description": "Required. Partner connector display name.",
          "type": "string"
        },
        "demoUri": {
          "type": "string",
          "description": "Required. Public URL for the demo video."
        },
        "publishRequestTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Publish request time.",
          "readOnly": true
        },
        "marketplaceProductProjectId": {
          "type": "string",
          "description": "Optional. Marketplace product project ID."
        },
        "marketplaceProduct": {
          "type": "string",
          "description": "Optional. Marketplace product name."
        },
        "additionalComments": {
          "type": "string",
          "description": "Optional. Additional comments for the submission."
        },
        "confirmPartnerRequirements": {
          "description": "Required. Confirmation that connector meets all applicable requirements mentioned in the Partner Connector Publishing requirements list and Partner onboardiong requirements list (https://cloud.google.com/marketplace/docs/partners/get-started#requirements).",
          "type": "boolean"
        },
        "acceptGcpTos": {
          "description": "Required. Whether the user has accepted the Google Cloud Platform Terms of Service (https://cloud.google.com/terms/) and the Google Cloud Marketplace Terms of Service (https://cloud.google.com/terms/marketplace/launcher?hl=en).",
          "type": "boolean"
        },
        "integrationTemplates": {
          "type": "string",
          "description": "Required. Integration example templates for the custom connector."
        },
        "targetApplication": {
          "description": "Required. Target application for which partner connector is built.",
          "type": "string"
        },
        "hasDynamicSpecUri": {
          "description": "Output only. Has dynamic open api spec uri.",
          "readOnly": true,
          "type": "boolean"
        },
        "targetCustomerSegment": {
          "type": "string",
          "description": "Required. Target customer segment for the partner connector."
        },
        "marketplaceProductId": {
          "description": "Required. Marketplace product ID.",
          "type": "string"
        },
        "partner": {
          "description": "Required. Partner name.",
          "type": "string"
        }
      },
      "id": "PartnerMetadata",
      "type": "object"
    },
    "InputParameter": {
      "type": "object",
      "properties": {
        "description": {
          "description": "A brief description of the Parameter.",
          "type": "string"
        },
        "jsonSchema": {
          "$ref": "JsonSchema",
          "description": "JsonSchema representation of this action's parameter"
        },
        "nullable": {
          "type": "boolean",
          "description": "Specifies whether a null value is allowed."
        },
        "defaultValue": {
          "type": "any",
          "description": "The following field specifies the default value of the Parameter provided by the external system if a value is not provided."
        },
        "parameter": {
          "description": "Name of the Parameter.",
          "type": "string"
        },
        "dataType": {
          "enumDescriptions": [
            "Data type is not specified.",
            "DEPRECATED! Use DATA_TYPE_INTEGER.",
            "Short integer(int16) data type.",
            "Double data type.",
            "Date data type.",
            "DEPRECATED! Use DATA_TYPE_TIMESTAMP.",
            "Time data type.",
            "DEPRECATED! Use DATA_TYPE_VARCHAR.",
            "DEPRECATED! Use DATA_TYPE_BIGINT.",
            "Boolean data type.",
            "Decimal data type.",
            "DEPRECATED! Use DATA_TYPE_VARCHAR.",
            "UNSUPPORTED! Binary data type.",
            "Bit data type.",
            "Small integer(int8) data type.",
            "Integer(int32) data type.",
            "Long integer(int64) data type.",
            "Float data type.",
            "Real data type.",
            "Numeric data type.",
            "Char data type.",
            "Varchar data type.",
            "Longvarchar data type.",
            "Timestamp data type.",
            "Nchar data type.",
            "Nvarchar data type.",
            "Longnvarchar data type.",
            "Null data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Row id data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Variable binary data type.",
            "UNSUPPORTED! Long variable binary data type.",
            "UNSUPPORTED! NCLOB data type.",
            "UNSUPPORTED! SQL XML data type is not supported.",
            "UNSUPPORTED! Cursor reference type is not supported.",
            "UNSUPPORTED! Use TIME or TIMESTAMP instead.",
            "UNSUPPORTED! Use TIMESTAMP instead."
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            true,
            false,
            true,
            true,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "type": "string",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "DATA_TYPE_INT",
            "DATA_TYPE_SMALLINT",
            "DATA_TYPE_DOUBLE",
            "DATA_TYPE_DATE",
            "DATA_TYPE_DATETIME",
            "DATA_TYPE_TIME",
            "DATA_TYPE_STRING",
            "DATA_TYPE_LONG",
            "DATA_TYPE_BOOLEAN",
            "DATA_TYPE_DECIMAL",
            "DATA_TYPE_UUID",
            "DATA_TYPE_BLOB",
            "DATA_TYPE_BIT",
            "DATA_TYPE_TINYINT",
            "DATA_TYPE_INTEGER",
            "DATA_TYPE_BIGINT",
            "DATA_TYPE_FLOAT",
            "DATA_TYPE_REAL",
            "DATA_TYPE_NUMERIC",
            "DATA_TYPE_CHAR",
            "DATA_TYPE_VARCHAR",
            "DATA_TYPE_LONGVARCHAR",
            "DATA_TYPE_TIMESTAMP",
            "DATA_TYPE_NCHAR",
            "DATA_TYPE_NVARCHAR",
            "DATA_TYPE_LONGNVARCHAR",
            "DATA_TYPE_NULL",
            "DATA_TYPE_OTHER",
            "DATA_TYPE_JAVA_OBJECT",
            "DATA_TYPE_DISTINCT",
            "DATA_TYPE_STRUCT",
            "DATA_TYPE_ARRAY",
            "DATA_TYPE_CLOB",
            "DATA_TYPE_REF",
            "DATA_TYPE_DATALINK",
            "DATA_TYPE_ROWID",
            "DATA_TYPE_BINARY",
            "DATA_TYPE_VARBINARY",
            "DATA_TYPE_LONGVARBINARY",
            "DATA_TYPE_NCLOB",
            "DATA_TYPE_SQLXML",
            "DATA_TYPE_REF_CURSOR",
            "DATA_TYPE_TIME_WITH_TIMEZONE",
            "DATA_TYPE_TIMESTAMP_WITH_TIMEZONE"
          ],
          "description": "The data type of the Parameter."
        }
      },
      "description": "Metadata of an input parameter.",
      "id": "InputParameter"
    },
    "UpdatePolicy": {
      "type": "object",
      "properties": {
        "channel": {
          "enumDescriptions": [
            "Unspecified channel.",
            "Early channel within a customer project.",
            "Later channel within a customer project.",
            "! ! The follow channels can ONLY be used if you adopt the new MW system! ! ! NOTE: all WEEK channels are assumed to be under a weekly window. ! There is currently no dedicated channel definitions for Daily windows. ! If you use Daily window, the system will assume a 1d (24Hours) advanced ! notification period b/w EARLY and LATER. ! We may consider support more flexible daily channel specifications in ! the future. WEEK1 == EARLIER with minimum 7d advanced notification. {7d, 14d} The system will treat them equally and will use WEEK1 whenever it can. New customers are encouraged to use this channel annotation.",
            "WEEK2 == LATER with minimum 14d advanced notification {14d, 21d}.",
            "WEEK5 == 40d support. minimum 35d advanced notification {35d, 42d}."
          ],
          "type": "string",
          "enum": [
            "UPDATE_CHANNEL_UNSPECIFIED",
            "EARLIER",
            "LATER",
            "WEEK1",
            "WEEK2",
            "WEEK5"
          ],
          "description": "Optional. Relative scheduling channel applied to resource."
        },
        "window": {
          "description": "Optional. Maintenance window that is applied to resources covered by this policy.",
          "$ref": "MaintenanceWindow"
        },
        "denyMaintenancePeriods": {
          "items": {
            "$ref": "DenyMaintenancePeriod"
          },
          "description": "Deny Maintenance Period that is applied to resource to indicate when maintenance is forbidden. The protocol supports zero-to-many such periods, but the current SLM Rollout implementation only supports zero-to-one.",
          "type": "array"
        }
      },
      "description": "Maintenance policy applicable to instance updates.",
      "id": "UpdatePolicy"
    },
    "EndUserAuthenticationNotifyEndpointDestinationEndPointHeader": {
      "properties": {
        "key": {
          "type": "string",
          "description": "Required. Key of Header."
        },
        "value": {
          "type": "string",
          "description": "Required. Value of Header."
        }
      },
      "id": "EndUserAuthenticationNotifyEndpointDestinationEndPointHeader",
      "description": "Header details for a given header to be added to Endpoint.",
      "type": "object"
    },
    "Expr": {
      "id": "Expr",
      "properties": {
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
    },
    "MarketplaceConnectorDetails": {
      "id": "MarketplaceConnectorDetails",
      "type": "object",
      "description": "Marketplace connector details.",
      "properties": {
        "partner": {
          "description": "The name of the partner.",
          "type": "string"
        },
        "marketplaceProduct": {
          "description": "Marketplace product name.",
          "type": "string"
        },
        "marketplaceProductUri": {
          "description": "Marketplace product URL.",
          "type": "string"
        },
        "marketplaceProductId": {
          "type": "string",
          "description": "Marketplace product ID."
        }
      }
    },
    "EventSubscription": {
      "type": "object",
      "properties": {
        "subscriber": {
          "type": "string",
          "description": "Optional. name of the Subscriber for the current EventSubscription."
        },
        "jms": {
          "description": "Optional. JMS is the source for the event listener.",
          "$ref": "JMS"
        },
        "filter": {
          "type": "string",
          "description": "Optional. Filter for the event subscription. Incoming events are filtered based on the filter expression."
        },
        "eventTypeId": {
          "type": "string",
          "description": "Optional. Event type id of the event of current EventSubscription."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Created time."
        },
        "destinations": {
          "description": "Optional. The destination to hit when we receive an event",
          "$ref": "EventSubscriptionDestination"
        },
        "triggerConfigVariables": {
          "type": "array",
          "description": "Optional. Configuration for configuring the trigger",
          "items": {
            "$ref": "ConfigVariable"
          }
        },
        "subscriberLink": {
          "description": "Optional. Link for Subscriber of the current EventSubscription.",
          "type": "string"
        },
        "name": {
          "description": "Required. Identifier. Resource name of the EventSubscription. Format: projects/{project}/locations/{location}/connections/{connection}/eventSubscriptions/{event_subscription}",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Updated time."
        },
        "status": {
          "$ref": "EventSubscriptionStatus",
          "description": "Optional. Status indicates the status of the event subscription resource"
        }
      },
      "id": "EventSubscription",
      "description": "represents the Connector's EventSubscription resource"
    },
    "Connector": {
      "properties": {
        "externalUri": {
          "description": "Output only. Link to external page.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name of the Connector. Format: projects/{project}/locations/{location}/providers/{provider}/connectors/{connector} Only global location is supported for Connector resource.",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Updated time.",
          "readOnly": true
        },
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Description of the resource."
        },
        "launchStage": {
          "type": "string",
          "enum": [
            "LAUNCH_STAGE_UNSPECIFIED",
            "PREVIEW",
            "GA",
            "DEPRECATED",
            "TEST",
            "PRIVATE_PREVIEW"
          ],
          "enumDescriptions": [
            "LAUNCH_STAGE_UNSPECIFIED.",
            "PREVIEW.",
            "GA.",
            "DEPRECATED.",
            "TEST.",
            "PRIVATE_PREVIEW."
          ],
          "description": "Output only. Flag to mark the version indicating the launch stage.",
          "readOnly": true
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "readOnly": true,
          "description": "Output only. Resource labels to represent user-provided metadata. Refer to cloud documentation on labels for more details. https://cloud.google.com/compute/docs/labeling-resources"
        },
        "category": {
          "description": "Output only. Category of the connector.",
          "readOnly": true,
          "type": "string"
        },
        "connectorType": {
          "readOnly": true,
          "enumDescriptions": [
            "Default value.",
            "Google connectors.",
            "Technical connectors.",
            "Third Party connectors."
          ],
          "description": "Output only. The type of the connector.",
          "type": "string",
          "enum": [
            "CONNECTOR_TYPE_UNSPECIFIED",
            "CONNECTOR_TYPE_GOOGLE",
            "CONNECTOR_TYPE_TECHNICAL",
            "CONNECTOR_TYPE_THIRD_PARTY"
          ]
        },
        "eventingDetails": {
          "description": "Output only. Eventing details. Will be null if eventing is not supported.",
          "readOnly": true,
          "$ref": "EventingDetails"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Created time.",
          "type": "string",
          "format": "google-datetime"
        },
        "marketplaceConnectorDetails": {
          "$ref": "MarketplaceConnectorDetails",
          "readOnly": true,
          "description": "Output only. Marketplace connector details. Will be null if the connector is not marketplace connector."
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Tags of the connector.",
          "readOnly": true
        },
        "documentationUri": {
          "description": "Output only. Link to documentation page.",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "description": "Output only. Display name.",
          "readOnly": true,
          "type": "string"
        },
        "webAssetsLocation": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Cloud storage location of icons etc consumed by UI."
        }
      },
      "id": "Connector",
      "type": "object",
      "description": "Connectors indicates a specific connector type, e.x. Salesforce, SAP etc."
    },
    "AuthConfigTemplate": {
      "type": "object",
      "id": "AuthConfigTemplate",
      "properties": {
        "authKey": {
          "description": "Identifier key for auth config",
          "type": "string"
        },
        "isDefault": {
          "description": "Whether the auth config is the default one.",
          "type": "boolean"
        },
        "displayName": {
          "description": "Display name for authentication template.",
          "type": "string"
        },
        "description": {
          "description": "Connector specific description for an authentication template.",
          "type": "string"
        },
        "authType": {
          "description": "The type of authentication configured.",
          "type": "string",
          "enum": [
            "AUTH_TYPE_UNSPECIFIED",
            "USER_PASSWORD",
            "OAUTH2_JWT_BEARER",
            "OAUTH2_CLIENT_CREDENTIALS",
            "SSH_PUBLIC_KEY",
            "OAUTH2_AUTH_CODE_FLOW",
            "GOOGLE_AUTHENTICATION",
            "OAUTH2_AUTH_CODE_FLOW_GOOGLE_MANAGED"
          ],
          "enumDescriptions": [
            "Authentication type not specified.",
            "Username and Password Authentication.",
            "JSON Web Token (JWT) Profile for Oauth 2.0 Authorization Grant based authentication",
            "Oauth 2.0 Client Credentials Grant Authentication",
            "SSH Public Key Authentication",
            "Oauth 2.0 Authorization Code Flow",
            "Google authentication",
            "Oauth 2.0 Authorization Code Flow with Google Provided OAuth Client"
          ]
        },
        "configVariableTemplates": {
          "type": "array",
          "description": "Config variables to describe an `AuthConfig` for a `Connection`.",
          "items": {
            "$ref": "ConfigVariableTemplate"
          }
        }
      },
      "description": "AuthConfigTemplate defines required field over an authentication type."
    },
    "MultipleSelectConfig": {
      "type": "object",
      "id": "MultipleSelectConfig",
      "description": "MultipleSelectConfig represents the multiple options for a config variable.",
      "properties": {
        "valueSeparator": {
          "type": "string",
          "description": "Required. Value separator. Only \",\" can be used for OAuth auth code flow scope field."
        },
        "multipleSelectOptions": {
          "description": "Required. Multiple select options.",
          "type": "array",
          "items": {
            "$ref": "MultipleSelectOption"
          }
        },
        "allowCustomValues": {
          "type": "boolean",
          "description": "Optional. Allow custom values."
        }
      }
    },
    "OAuthTokenData": {
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. Timestamp when the access token was created."
        },
        "expiry": {
          "description": "Optional. Time in seconds when the access token expires.",
          "format": "google-duration",
          "type": "string"
        },
        "accessToken": {
          "$ref": "EUASecret",
          "description": "Optional. Access token for the connection."
        },
        "refreshToken": {
          "$ref": "EUASecret",
          "description": "Optional. Refresh token for the connection."
        }
      },
      "description": "pass only at create and not update using updateMask Auth Code Data",
      "type": "object",
      "id": "OAuthTokenData"
    },
    "EventingConfig": {
      "id": "EventingConfig",
      "description": "Eventing Configuration of a connection next: 21",
      "properties": {
        "additionalVariables": {
          "type": "array",
          "items": {
            "$ref": "ConfigVariable"
          },
          "description": "Optional. Additional eventing related field values"
        },
        "sslConfig": {
          "description": "Optional. Ssl config of a connection",
          "$ref": "SslConfig"
        },
        "proxyDestinationConfig": {
          "description": "Optional. Proxy for Eventing auto-registration.",
          "$ref": "DestinationConfig"
        },
        "registrationDestinationConfig": {
          "description": "Optional. Registration endpoint for auto registration.",
          "$ref": "DestinationConfig"
        },
        "authConfig": {
          "description": "Optional. Auth details for the webhook adapter.",
          "$ref": "AuthConfig"
        },
        "enrichmentConfig": {
          "description": "Optional. Data enrichment configuration.",
          "$ref": "EnrichmentConfig"
        },
        "deadLetterConfig": {
          "$ref": "DeadLetterConfig",
          "description": "Optional. Dead letter configuration for eventing of a connection."
        },
        "allowedEventTypes": {
          "type": "array",
          "description": "Optional. List of allowed event types for the connection.",
          "items": {
            "type": "string"
          }
        },
        "privateConnectivityAllowlistedProjects": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. List of projects to be allowlisted for the service attachment created in the tenant project for eventing ingress."
        },
        "enrichmentEnabled": {
          "description": "Optional. Enrichment Enabled.",
          "type": "boolean"
        },
        "listenerAuthConfig": {
          "$ref": "AuthConfig",
          "description": "Optional. Auth details for the event listener."
        },
        "privateConnectivityEnabled": {
          "description": "Optional. Private Connectivity Enabled.",
          "type": "boolean"
        },
        "eventsListenerIngressEndpoint": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Ingress endpoint of the event listener. This is used only when private connectivity is enabled."
        },
        "globalEventFilter": {
          "description": "Optional. Filter to be applied on the events to be received by the connection.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AdminFilters": {
      "description": "* AdminFilters defines a set of filters that can be applied to a connection. These are currently used by Gemini Enterprise connections.",
      "type": "object",
      "properties": {
        "stringListValues": {
          "$ref": "StringListValues",
          "description": "Optional. List of string values."
        },
        "filterKey": {
          "description": "Required. Unique name for the filter, e.g., \"SharePointSiteURL\", \"DocumentType\", \"ChatSpaceName\".",
          "type": "string"
        },
        "stringValue": {
          "description": "Optional. A single string value.",
          "type": "string"
        },
        "intValue": {
          "description": "Optional. A single integer value.",
          "format": "int64",
          "type": "string"
        },
        "filterType": {
          "description": "Required. Type of the filter.",
          "type": "string",
          "enum": [
            "FILTER_TYPE_UNSPECIFIED",
            "INCLUSION",
            "EXCLUSION"
          ],
          "enumDescriptions": [
            "Filter type is not specified.",
            "Only allow items matching the configured values.",
            "Disallow items matching the configured values."
          ]
        }
      },
      "id": "AdminFilters"
    },
    "NetworkConfig": {
      "description": "Regional Network Config.",
      "type": "object",
      "properties": {
        "egressIps": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. Egress IPs"
        },
        "egressMode": {
          "type": "string",
          "enum": [
            "NETWORK_EGRESS_MODE_UNSPECIFIED",
            "AUTO_IP",
            "STATIC_IP"
          ],
          "description": "Optional. Egress mode for the network.",
          "enumDescriptions": [
            "Egress mode unspecified.",
            "Network egress through auto assigned IPs.",
            "Network egress through static IPs."
          ]
        }
      },
      "id": "NetworkConfig"
    },
    "NodeConfig": {
      "description": "Node configuration for the connection.",
      "id": "NodeConfig",
      "type": "object",
      "properties": {
        "minNodeCount": {
          "type": "integer",
          "description": "Optional. Minimum number of nodes in the runtime nodes.",
          "format": "int32"
        },
        "maxNodeCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Maximum number of nodes in the runtime nodes."
        }
      }
    },
    "DailyCycle": {
      "description": "Time window specified for daily operations.",
      "properties": {
        "duration": {
          "format": "google-duration",
          "type": "string",
          "description": "Output only. Duration of the time window, set by service producer."
        },
        "startTime": {
          "description": "Time within the day to start the operations.",
          "$ref": "TimeOfDay"
        }
      },
      "type": "object",
      "id": "DailyCycle"
    },
    "EventingConfigTemplate": {
      "description": "Eventing Config details of a connector version. next: 14",
      "properties": {
        "proxyDestinationConfig": {
          "description": "Proxy destination config template.",
          "$ref": "DestinationConfigTemplate"
        },
        "enrichmentSupported": {
          "description": "Enrichment Supported.",
          "type": "boolean"
        },
        "encryptionKeyTemplate": {
          "$ref": "ConfigVariableTemplate",
          "description": "Encryption key (can be either Google managed or CMEK)."
        },
        "additionalVariables": {
          "description": "Additional fields that need to be rendered.",
          "items": {
            "$ref": "ConfigVariableTemplate"
          },
          "type": "array"
        },
        "eventListenerType": {
          "enumDescriptions": [
            "Default value.",
            "Webhook listener. e.g. Jira, Zendesk, Servicenow etc.,",
            "JMS Listener. e.g. IBM MQ, Rabbit MQ etc.,"
          ],
          "description": "The type of the event listener for a specific connector.",
          "type": "string",
          "enum": [
            "EVENT_LISTENER_TYPE_UNSPECIFIED",
            "WEBHOOK_LISTENER",
            "JMS_LISTENER"
          ]
        },
        "triggerConfigVariables": {
          "type": "array",
          "description": "Trigger Config fields that needs to be rendered",
          "items": {
            "$ref": "ConfigVariableTemplate"
          }
        },
        "isEventingSupported": {
          "description": "Is Eventing Supported.",
          "type": "boolean"
        },
        "autoRefresh": {
          "description": "Auto refresh to extend webhook life.",
          "type": "boolean"
        },
        "listenerAuthConfigTemplates": {
          "description": "ListenerAuthConfigTemplates represents the auth values for the event listener.",
          "items": {
            "$ref": "AuthConfigTemplate"
          },
          "type": "array"
        },
        "sslConfigTemplate": {
          "description": "SSL Config template for the connector version.",
          "$ref": "SslConfigTemplate"
        },
        "autoRegistrationSupported": {
          "description": "Auto Registration supported.",
          "type": "boolean"
        },
        "authConfigTemplates": {
          "items": {
            "$ref": "AuthConfigTemplate"
          },
          "type": "array",
          "description": "AuthConfigTemplates represents the auth values for the webhook adapter."
        },
        "registrationDestinationConfig": {
          "description": "Registration host destination config template.",
          "$ref": "DestinationConfigTemplate"
        }
      },
      "id": "EventingConfigTemplate",
      "type": "object"
    },
    "EnumOption": {
      "properties": {
        "id": {
          "description": "Optional. Id of the option.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. Display name of the option."
        }
      },
      "type": "object",
      "id": "EnumOption",
      "description": "EnumOption definition"
    },
    "EncryptionKey": {
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "GOOGLE_MANAGED",
            "CUSTOMER_MANAGED"
          ],
          "description": "Optional. Specifies the type of the encryption key.",
          "enumDescriptions": [
            "Value type is not specified.",
            "Google Managed.",
            "Customer Managed."
          ]
        },
        "kmsKeyName": {
          "description": "Optional. The [KMS key name] with which the content of the Operation is encrypted. The expected format: `projects/*/locations/*/keyRings/*/cryptoKeys/*`. Will be empty string if google managed.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Encryption Key value.",
      "id": "EncryptionKey"
    },
    "GenerateConnectionToolspecOverrideResponse": {
      "description": "Response message for GenerateConnectionToolspecOverride API.",
      "type": "object",
      "properties": {
        "toolspecOverride": {
          "description": "Toolspec overrides for the connection.",
          "$ref": "ToolspecOverride"
        }
      },
      "id": "GenerateConnectionToolspecOverrideResponse"
    },
    "RemoveConnectionToolspecOverrideRequest": {
      "properties": {},
      "description": "Request message for RemoveConnectionToolspecOverride API.",
      "type": "object",
      "id": "RemoveConnectionToolspecOverrideRequest"
    },
    "EndUserAuthenticationConfigVariable": {
      "properties": {
        "key": {
          "type": "string",
          "description": "Required. Key of the config variable."
        },
        "secretValue": {
          "description": "Value is a secret",
          "$ref": "EUASecret"
        },
        "boolValue": {
          "type": "boolean",
          "description": "Value is a bool."
        },
        "stringValue": {
          "description": "Value is a string.",
          "type": "string"
        },
        "intValue": {
          "type": "string",
          "description": "Value is an integer",
          "format": "int64"
        }
      },
      "description": "EndUserAuthenticationConfigVariable represents a configuration variable present in a EndUserAuthentication.",
      "id": "EndUserAuthenticationConfigVariable",
      "type": "object"
    },
    "Status": {
      "type": "object",
      "id": "Status",
      "properties": {
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "ValidateCustomConnectorSpecRequest": {
      "description": "Request message for ConnectorsService.ValidateCustomConnectorSpec",
      "id": "ValidateCustomConnectorSpecRequest",
      "properties": {
        "specLocation": {
          "type": "string",
          "description": "Required. Location of the custom connector spec. The location can be either a public url like `https://public-url.com/spec` Or a Google Cloud Storage location like `gs:///`"
        },
        "specType": {
          "enumDescriptions": [
            "Connector type is not specified.",
            "OpenAPI connector.",
            "Proto connector.",
            "SDK connector."
          ],
          "type": "string",
          "enum": [
            "CUSTOM_CONNECTOR_TYPE_UNSPECIFIED",
            "OPEN_API",
            "PROTO",
            "SDK"
          ],
          "description": "Required. Spec type of the custom connector spec."
        },
        "serviceAccount": {
          "type": "string",
          "description": "Required. Service account to access the spec from Google Cloud Storage."
        }
      },
      "type": "object"
    },
    "NodeSloMetadata": {
      "description": "Node information for custom per-node SLO implementations. SSA does not support per-node SLO, but producers can populate per-node information in SloMetadata for custom precomputations. SSA Eligibility Exporter will emit per-node metric based on this information.",
      "properties": {
        "nodeId": {
          "description": "The id of the node. This should be equal to SaasInstanceNode.node_id.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "The location of the node, if different from instance location."
        },
        "perSliEligibility": {
          "$ref": "PerSliSloEligibility",
          "description": "If present, this will override eligibility for the node coming from instance or exclusions for specified SLIs."
        }
      },
      "type": "object",
      "id": "NodeSloMetadata"
    },
    "Field": {
      "description": "Metadata of an entity field.",
      "type": "object",
      "properties": {
        "nullable": {
          "type": "boolean",
          "description": "Specifies whether a null value is allowed."
        },
        "additionalDetails": {
          "description": "The following map contains fields that are not explicitly mentioned above,this give connectors the flexibility to add new metadata fields.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "jsonSchema": {
          "description": "JsonSchema representation of this entity's schema",
          "$ref": "JsonSchema"
        },
        "field": {
          "description": "Name of the Field.",
          "type": "string"
        },
        "readonly": {
          "type": "boolean",
          "description": "Specifies if the Field is readonly."
        },
        "defaultValue": {
          "type": "any",
          "description": "The following field specifies the default value of the Field provided by the external system if a value is not provided."
        },
        "key": {
          "type": "boolean",
          "description": "The following boolean field specifies if the current Field acts as a primary key or id if the parent is of type entity."
        },
        "description": {
          "description": "A brief description of the Field.",
          "type": "string"
        },
        "dataType": {
          "type": "string",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "DATA_TYPE_INT",
            "DATA_TYPE_SMALLINT",
            "DATA_TYPE_DOUBLE",
            "DATA_TYPE_DATE",
            "DATA_TYPE_DATETIME",
            "DATA_TYPE_TIME",
            "DATA_TYPE_STRING",
            "DATA_TYPE_LONG",
            "DATA_TYPE_BOOLEAN",
            "DATA_TYPE_DECIMAL",
            "DATA_TYPE_UUID",
            "DATA_TYPE_BLOB",
            "DATA_TYPE_BIT",
            "DATA_TYPE_TINYINT",
            "DATA_TYPE_INTEGER",
            "DATA_TYPE_BIGINT",
            "DATA_TYPE_FLOAT",
            "DATA_TYPE_REAL",
            "DATA_TYPE_NUMERIC",
            "DATA_TYPE_CHAR",
            "DATA_TYPE_VARCHAR",
            "DATA_TYPE_LONGVARCHAR",
            "DATA_TYPE_TIMESTAMP",
            "DATA_TYPE_NCHAR",
            "DATA_TYPE_NVARCHAR",
            "DATA_TYPE_LONGNVARCHAR",
            "DATA_TYPE_NULL",
            "DATA_TYPE_OTHER",
            "DATA_TYPE_JAVA_OBJECT",
            "DATA_TYPE_DISTINCT",
            "DATA_TYPE_STRUCT",
            "DATA_TYPE_ARRAY",
            "DATA_TYPE_CLOB",
            "DATA_TYPE_REF",
            "DATA_TYPE_DATALINK",
            "DATA_TYPE_ROWID",
            "DATA_TYPE_BINARY",
            "DATA_TYPE_VARBINARY",
            "DATA_TYPE_LONGVARBINARY",
            "DATA_TYPE_NCLOB",
            "DATA_TYPE_SQLXML",
            "DATA_TYPE_REF_CURSOR",
            "DATA_TYPE_TIME_WITH_TIMEZONE",
            "DATA_TYPE_TIMESTAMP_WITH_TIMEZONE"
          ],
          "description": "The data type of the Field.",
          "enumDescriptions": [
            "Data type is not specified.",
            "DEPRECATED! Use DATA_TYPE_INTEGER.",
            "Short integer(int16) data type.",
            "Double data type.",
            "Date data type.",
            "DEPRECATED! Use DATA_TYPE_TIMESTAMP.",
            "Time data type.",
            "DEPRECATED! Use DATA_TYPE_VARCHAR.",
            "DEPRECATED! Use DATA_TYPE_BIGINT.",
            "Boolean data type.",
            "Decimal data type.",
            "DEPRECATED! Use DATA_TYPE_VARCHAR.",
            "UNSUPPORTED! Binary data type.",
            "Bit data type.",
            "Small integer(int8) data type.",
            "Integer(int32) data type.",
            "Long integer(int64) data type.",
            "Float data type.",
            "Real data type.",
            "Numeric data type.",
            "Char data type.",
            "Varchar data type.",
            "Longvarchar data type.",
            "Timestamp data type.",
            "Nchar data type.",
            "Nvarchar data type.",
            "Longnvarchar data type.",
            "Null data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Row id data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Variable binary data type.",
            "UNSUPPORTED! Long variable binary data type.",
            "UNSUPPORTED! NCLOB data type.",
            "UNSUPPORTED! SQL XML data type is not supported.",
            "UNSUPPORTED! Cursor reference type is not supported.",
            "UNSUPPORTED! Use TIME or TIMESTAMP instead.",
            "UNSUPPORTED! Use TIMESTAMP instead."
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            true,
            false,
            true,
            true,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ]
        }
      },
      "id": "Field"
    },
    "ManagedZone": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. Description of the resource."
        },
        "updateTime": {
          "description": "Output only. Updated time.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Created time.",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name of the Managed Zone. Format: projects/{project}/locations/global/managedZones/{managed_zone}"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Resource labels to represent user-provided metadata. Refer to cloud documentation on labels for more details. https://cloud.google.com/compute/docs/labeling-resources"
        },
        "targetProject": {
          "description": "Required. The name of the Target Project",
          "type": "string"
        },
        "targetVpc": {
          "description": "Required. The name of the Target Project VPC Network",
          "type": "string"
        },
        "dns": {
          "description": "Required. DNS Name of the resource",
          "type": "string"
        }
      },
      "description": "represents the Connector's Managed Zone resource",
      "type": "object",
      "id": "ManagedZone"
    },
    "EventingDetails": {
      "description": "Eventing Details message.",
      "type": "object",
      "id": "EventingDetails",
      "properties": {
        "documentationLink": {
          "description": "Output only. Link to public documentation.",
          "readOnly": true,
          "type": "string"
        },
        "iconLocation": {
          "description": "Output only. Cloud storage location of the icon.",
          "readOnly": true,
          "type": "string"
        },
        "searchTags": {
          "description": "Output only. Array of search keywords.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "launchStage": {
          "description": "Output only. Eventing Launch Stage.",
          "readOnly": true,
          "enumDescriptions": [
            "LAUNCH_STAGE_UNSPECIFIED.",
            "PREVIEW.",
            "GA.",
            "DEPRECATED.",
            "TEST.",
            "PRIVATE_PREVIEW."
          ],
          "type": "string",
          "enum": [
            "LAUNCH_STAGE_UNSPECIFIED",
            "PREVIEW",
            "GA",
            "DEPRECATED",
            "TEST",
            "PRIVATE_PREVIEW"
          ]
        },
        "subscriptionType": {
          "enumDescriptions": [
            "Default value.",
            "Managed via admin credentials. Handles global or system-wide events.",
            "Managed via individual user credentials. Isolates data per user."
          ],
          "type": "string",
          "enum": [
            "SUBSCRIPTION_TYPE_UNSPECIFIED",
            "SHARED",
            "USER_SPECIFIC"
          ],
          "description": "The webhook model supported by this connector."
        },
        "description": {
          "description": "Output only. Description.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. Name of the Eventing trigger.",
          "readOnly": true
        },
        "customEventTypes": {
          "readOnly": true,
          "description": "Output only. Custom Event Types.",
          "type": "boolean"
        },
        "type": {
          "enumDescriptions": [
            "Default value.",
            "Webhook listener. e.g. Jira, Zendesk, Servicenow etc.,",
            "JMS Listener. e.g. IBM MQ, Rabbit MQ etc.,"
          ],
          "description": "Output only. The type of the event listener for a specific connector.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "WEBHOOK",
            "JMS"
          ],
          "readOnly": true
        }
      }
    },
    "RetryEventSubscriptionRequest": {
      "id": "RetryEventSubscriptionRequest",
      "description": "Request message for ConnectorsService.RefreshEventSubscription",
      "properties": {},
      "type": "object"
    },
    "ListActionsResponse": {
      "description": "Response message for ListActions API",
      "properties": {
        "actions": {
          "type": "array",
          "items": {
            "$ref": "RuntimeActionSchema"
          },
          "description": "list of actions"
        },
        "nextPageToken": {
          "description": "token for next page",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListActionsResponse"
    },
    "Binding": {
      "description": "Associates `members`, or principals, with a `role`.",
      "type": "object",
      "id": "Binding",
      "properties": {
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        },
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
        },
        "members": {
          "items": {
            "type": "string"
          },
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "type": "array"
        }
      }
    },
    "CustomConnectorVersion": {
      "description": "CustomConnectorVersion indicates a specific version of a connector.",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Identifier. Resource name of the Version. Format: projects/{project}/locations/{location}/customConnectors/{custom_connector}/customConnectorVersions/{custom_connector_version}"
        },
        "specLocation": {
          "type": "string",
          "description": "Optional. Location of the custom connector spec. This is only used for Open API based custom connectors. The location can be either a public url like `https://public-url.com/spec` Or a Google Cloud Storage location like `gs:///`."
        },
        "serviceAccount": {
          "description": "Optional. Service account used by runtime plane to access auth config secrets.",
          "type": "string"
        },
        "specServerUrls": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Server URLs parsed from the Open API spec. This is only used for Open API based custom connectors."
        },
        "labels": {
          "description": "Optional. Resource labels to represent user-provided metadata. Refer to cloud documentation on labels for more details. https://cloud.google.com/compute/docs/labeling-resources",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "asyncOperationsSupport": {
          "description": "Optional. Indicates if Async Operations/Connector Job is supported. This is only available for SDK based custom connectors.",
          "type": "boolean"
        },
        "destinationConfigs": {
          "items": {
            "$ref": "DestinationConfig"
          },
          "type": "array",
          "description": "Optional. Destination config(s) for accessing connector service (facade). This is used only when enable_backend_destination_config is true."
        },
        "partnerMetadata": {
          "description": "Optional. Partner metadata details. This should be populated only when publishing the custom connector to partner connector.",
          "$ref": "PartnerMetadata"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Created time."
        },
        "authConfigTemplates": {
          "type": "array",
          "items": {
            "$ref": "AuthConfigTemplate"
          },
          "description": "Optional. Auth Config Templates is only used when connector backend is enabled. This is used to specify the auth configs supported by the connector backend service to talk to the actual application backend."
        },
        "backendVariableTemplates": {
          "type": "array",
          "description": "Optional. Backend variable templates is only used when connector backend is enabled. This is used to specify the variables required by the connector backend service to talk to the actual application backend. This translates to additional variable templates in the connection config.",
          "items": {
            "$ref": "ConfigVariableTemplate"
          }
        },
        "publishStatus": {
          "description": "Output only. Publish status of a custom connector.",
          "readOnly": true,
          "$ref": "PublishStatus"
        },
        "state": {
          "enumDescriptions": [
            "State Unspecified.",
            "Active state. By default we set the state to Active.",
            "Deprecated state."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DEPRECATED"
          ],
          "description": "Output only. State of the custom connector version.",
          "readOnly": true
        },
        "enableBackendDestinationConfig": {
          "description": "Optional. Indicates if an intermediatory connectorservice is used as backend. When this is enabled, the connector destination and connector auth config are required. For SDK based connectors, this is always enabled.",
          "type": "boolean"
        },
        "authOverrideSupport": {
          "description": "Optional. Auth override support.",
          "type": "boolean"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Updated time.",
          "type": "string"
        },
        "authConfig": {
          "description": "Optional. Authentication config for accessing connector service (facade). This is used only when enable_backend_destination_config is true.",
          "$ref": "AuthConfig"
        }
      },
      "id": "CustomConnectorVersion",
      "type": "object"
    },
    "ListEntityTypesResponse": {
      "id": "ListEntityTypesResponse",
      "type": "object",
      "description": "Response message for ListEntityTypes API",
      "properties": {
        "entityTypes": {
          "description": "list of entity types",
          "items": {
            "$ref": "RuntimeEntitySchema"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "token for next page",
          "type": "string"
        }
      }
    },
    "TimeOfDay": {
      "properties": {
        "nanos": {
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
          "type": "integer",
          "format": "int32"
        },
        "minutes": {
          "type": "integer",
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
          "format": "int32"
        },
        "seconds": {
          "format": "int32",
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "type": "integer"
        },
        "hours": {
          "type": "integer",
          "format": "int32",
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time."
        }
      },
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "id": "TimeOfDay",
      "type": "object"
    },
    "MultipleSelectOption": {
      "description": "MultiplSelecteOption represents the single option for a config variable.",
      "properties": {
        "preselected": {
          "type": "boolean",
          "description": "Optional. Indicates if the option is preselected."
        },
        "description": {
          "type": "string",
          "description": "Optional. Value of the option."
        },
        "displayName": {
          "description": "Required. Display name of the option.",
          "type": "string"
        },
        "key": {
          "description": "Required. Key of the option.",
          "type": "string"
        }
      },
      "id": "MultipleSelectOption",
      "type": "object"
    },
    "Settings": {
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name of the Connection. Format: projects/{project}/locations/global/settings}",
          "type": "string"
        },
        "payg": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Flag indicates if user is in PayG model"
        },
        "vpcsc": {
          "description": "Optional. Flag indicates whether vpc-sc is enabled.",
          "type": "boolean"
        },
        "tenantProjectId": {
          "description": "Output only. Tenant project id of the consumer project.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Global Settings details.",
      "type": "object",
      "id": "Settings"
    },
    "EndpointAttachment": {
      "id": "EndpointAttachment",
      "description": "represents the Connector's Endpoint Attachment resource",
      "type": "object",
      "properties": {
        "state": {
          "enumDescriptions": [
            "STATE_UNSPECIFIED.",
            "The endpoint is pending acceptance by the producer.",
            "The endpoint has been accepted by the producer.",
            "The endpoint has been rejected by the producer.",
            "The endpoint has been closed by the producer and will not serve traffic going forward.",
            "The endpoint has been frozen by the producer and will not serve traffic.",
            "The endpoint has been accepted by the producer, but it is not ready to serve the traffic due to producer side issues.",
            "The endpoint has been accepted by the producer, but it cannot be programmed to the data plane due to invariant violation."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "ACCEPTED",
            "REJECTED",
            "CLOSED",
            "FROZEN",
            "NEEDS_ATTENTION",
            "ACCEPTED_NOT_PROGRAMMED"
          ],
          "readOnly": true,
          "description": "Output only. The Private Service Connect Connection Endpoint State. This value is only available in the Full view."
        },
        "endpointGlobalAccess": {
          "description": "Optional. The Private Service Connect Connection Endpoint Global Access. https://cloud.google.com/vpc/docs/about-accessing-vpc-hosted-services-endpoints#global-access",
          "type": "boolean"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Created time."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Resource labels to represent user-provided metadata. Refer to cloud documentation on labels for more details. https://cloud.google.com/compute/docs/labeling-resources",
          "type": "object"
        },
        "description": {
          "description": "Optional. Description of the resource.",
          "type": "string"
        },
        "name": {
          "description": "Output only. Resource name of the Endpoint Attachment. Format: projects/{project}/locations/{location}/endpointAttachments/{endpoint_attachment}",
          "readOnly": true,
          "type": "string"
        },
        "endpointIp": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The Private Service Connect connection endpoint ip"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Updated time.",
          "type": "string"
        },
        "serviceAttachment": {
          "description": "Required. The path of the service attachment",
          "type": "string"
        }
      }
    },
    "Operation": {
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      }
    },
    "StringListValues": {
      "id": "StringListValues",
      "type": "object",
      "properties": {
        "listValues": {
          "description": "Required. The list of string values.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "StringListValues is a message to store a list of string values."
    },
    "MaintenanceSchedule": {
      "id": "MaintenanceSchedule",
      "type": "object",
      "description": "Maintenance schedule which is exposed to customer and potentially end user, indicating published upcoming future maintenance schedule",
      "properties": {
        "canReschedule": {
          "type": "boolean",
          "deprecated": true,
          "description": "This field is deprecated, and will be always set to true since reschedule can happen multiple times now. This field should not be removed until all service producers remove this for their customers."
        },
        "rolloutManagementPolicy": {
          "type": "string",
          "description": "The rollout management policy this maintenance schedule is associated with. When doing reschedule update request, the reschedule should be against this given policy."
        },
        "endTime": {
          "format": "google-datetime",
          "description": "The scheduled end time for the maintenance.",
          "type": "string"
        },
        "scheduleDeadlineTime": {
          "description": "schedule_deadline_time is the time deadline any schedule start time cannot go beyond, including reschedule. It's normally the initial schedule start time plus maintenance window length (1 day or 1 week). Maintenance cannot be scheduled to start beyond this deadline.",
          "type": "string",
          "format": "google-datetime"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The scheduled start time for the maintenance."
        }
      }
    },
    "EUASecret": {
      "description": "EUASecret provides a reference to entries in Secret Manager.",
      "type": "object",
      "properties": {
        "secretVersion": {
          "type": "string",
          "description": "Optional. The resource name of the secret version in the format, format as: `projects/*/secrets/*/versions/*`."
        },
        "secretValue": {
          "description": "Optional. The plain string value of the secret.",
          "type": "string"
        }
      },
      "id": "EUASecret"
    },
    "UserPassword": {
      "properties": {
        "username": {
          "description": "Optional. Username.",
          "type": "string"
        },
        "password": {
          "$ref": "Secret",
          "description": "Optional. Secret version reference containing the password."
        }
      },
      "type": "object",
      "description": "Parameters to support Username and Password Authentication.",
      "id": "UserPassword"
    },
    "WeeklyCycle": {
      "description": "Time window specified for weekly operations.",
      "type": "object",
      "properties": {
        "schedule": {
          "description": "User can specify multiple windows in a week. Minimum of 1 window.",
          "type": "array",
          "items": {
            "$ref": "Schedule"
          }
        }
      },
      "id": "WeeklyCycle"
    },
    "ConnectionSchemaMetadata": {
      "type": "object",
      "id": "ConnectionSchemaMetadata",
      "description": "ConnectionSchemaMetadata is the singleton resource of each connection. It includes the entity and action names of runtime resources exposed by a connection backend.",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource name. Format: projects/{project}/locations/{location}/connections/{connection}/connectionSchemaMetadata"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Timestamp when the connection runtime schema was updated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "errorMessage": {
          "type": "string",
          "description": "Error message for users."
        },
        "refreshTime": {
          "description": "Output only. Timestamp when the connection runtime schema refresh was triggered.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "actions": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. List of actions.",
          "items": {
            "type": "string"
          }
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "Default state.",
            "Schema refresh is in progress.",
            "Schema has been updated.",
            "Schema refresh for metadata is in progress.",
            "Schema metadata has been updated.",
            "Failed to refresh schema metadata",
            "Triggered full schema refresh",
            "Updated full schema"
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "REFRESHING",
            "UPDATED",
            "REFRESHING_SCHEMA_METADATA",
            "UPDATED_SCHEMA_METADATA",
            "REFRESH_SCHEMA_METADATA_FAILED",
            "REFRESHING_FULL_SCHEMA",
            "UPDATED_FULL_SCHEMA"
          ],
          "description": "Output only. The current state of runtime schema."
        },
        "entities": {
          "description": "Output only. List of entity names.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        }
      }
    },
    "EndUserAuthenticationEndUserAuthenticationStatus": {
      "properties": {
        "state": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "ERROR"
          ],
          "description": "Output only. State of Event Subscription resource.",
          "enumDescriptions": [
            "Default state.",
            "EndUserAuthentication is in Active state.",
            "EndUserAuthentication is in Error state."
          ]
        },
        "description": {
          "description": "Output only. Description of the state.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "description": "EndUserAuthentication Status denotes the status of the EndUserAuthentication resource.",
      "id": "EndUserAuthenticationEndUserAuthenticationStatus"
    },
    "ValidateCustomConnectorSpecResponse": {
      "type": "object",
      "properties": {
        "errorMessage": {
          "type": "string",
          "description": "Error message. The spec is valid if the error message is empty."
        }
      },
      "id": "ValidateCustomConnectorSpecResponse",
      "description": "Response message for ConnectorsService.ValidateCustomConnectorSpec"
    },
    "EndUserAuthenticationConfigOauth2AuthCodeFlow": {
      "type": "object",
      "id": "EndUserAuthenticationConfigOauth2AuthCodeFlow",
      "properties": {
        "clientId": {
          "description": "Optional. Client ID for user-provided OAuth app.",
          "type": "string"
        },
        "clientSecret": {
          "description": "Optional. Client secret for user-provided OAuth app.",
          "$ref": "EUASecret"
        },
        "enablePkce": {
          "type": "boolean",
          "description": "Optional. Whether to enable PKCE when the user performs the auth code flow."
        },
        "scopes": {
          "type": "array",
          "description": "Optional. Scopes the connection will request when the user performs the auth code flow.",
          "items": {
            "type": "string"
          }
        },
        "oauthTokenData": {
          "description": "Optional. Auth Code Data",
          "$ref": "OAuthTokenData"
        },
        "authCode": {
          "type": "string",
          "description": "Optional. Authorization code to be exchanged for access and refresh tokens."
        },
        "authUri": {
          "type": "string",
          "description": "Optional. Auth URL for Authorization Code Flow"
        },
        "redirectUri": {
          "type": "string",
          "description": "Optional. Redirect URI to be provided during the auth code exchange."
        },
        "pkceVerifier": {
          "type": "string",
          "description": "Optional. PKCE verifier to be used during the auth code exchange."
        }
      },
      "description": "Parameters to support Oauth 2.0 Auth Code Grant Authentication. See https://www.rfc-editor.org/rfc/rfc6749#section-1.3.1 for more details."
    },
    "RepairEventingRequest": {
      "id": "RepairEventingRequest",
      "description": "Request message for ConnectorsService.RepairEventing",
      "properties": {},
      "type": "object"
    },
    "SchemaRefreshConfig": {
      "properties": {
        "useSynchronousSchemaRefresh": {
          "description": "Whether to use synchronous schema refresh.",
          "type": "boolean"
        },
        "useActionDisplayNames": {
          "type": "boolean",
          "description": "Whether to use displayName for actions in UI."
        }
      },
      "id": "SchemaRefreshConfig",
      "type": "object",
      "description": "Config for connection schema refresh"
    },
    "RuntimeEntitySchema": {
      "description": "Schema of a runtime entity.",
      "type": "object",
      "id": "RuntimeEntitySchema",
      "properties": {
        "entity": {
          "description": "Output only. Name of the entity.",
          "readOnly": true,
          "type": "string"
        },
        "operations": {
          "items": {
            "type": "string",
            "enum": [
              "OPERATION_UNSPECIFIED",
              "LIST",
              "GET",
              "CREATE",
              "UPDATE",
              "DELETE"
            ],
            "enumDescriptions": [
              "Operation unspecified.",
              "This operation means entity type supports LIST entities.",
              "This operation means entity type supports GET entity.",
              "This operation means entity type supports CREATE entity.",
              "This operation means entity type supports UPDATE entity.",
              "This operation means entity type supports DELETE entity."
            ]
          },
          "description": "List of operations supported by this entity",
          "type": "array"
        },
        "fields": {
          "description": "Output only. List of fields in the entity.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Field"
          }
        },
        "jsonSchema": {
          "$ref": "JsonSchema",
          "readOnly": true,
          "description": "Output only. JsonSchema representation of this entity's metadata"
        }
      }
    },
    "EndUserAuthenticationConfig": {
      "id": "EndUserAuthenticationConfig",
      "type": "object",
      "description": "EndUserAuthenticationConfig defines details of a authentication configuration for EUC",
      "properties": {
        "userPassword": {
          "description": "UserPassword.",
          "$ref": "EndUserAuthenticationConfigUserPassword"
        },
        "authKey": {
          "description": "Identifier key for auth config",
          "type": "string"
        },
        "authType": {
          "description": "The type of authentication configured.",
          "enumDescriptions": [
            "Authentication type not specified.",
            "Username and Password Authentication.",
            "JSON Web Token (JWT) Profile for Oauth 2.0 Authorization Grant based authentication",
            "Oauth 2.0 Client Credentials Grant Authentication",
            "SSH Public Key Authentication",
            "Oauth 2.0 Authorization Code Flow",
            "Google authentication",
            "Oauth 2.0 Authorization Code Flow with Google Provided OAuth Client"
          ],
          "type": "string",
          "enum": [
            "AUTH_TYPE_UNSPECIFIED",
            "USER_PASSWORD",
            "OAUTH2_JWT_BEARER",
            "OAUTH2_CLIENT_CREDENTIALS",
            "SSH_PUBLIC_KEY",
            "OAUTH2_AUTH_CODE_FLOW",
            "GOOGLE_AUTHENTICATION",
            "OAUTH2_AUTH_CODE_FLOW_GOOGLE_MANAGED"
          ]
        },
        "oauth2AuthCodeFlow": {
          "description": "Oauth2AuthCodeFlow.",
          "$ref": "EndUserAuthenticationConfigOauth2AuthCodeFlow"
        },
        "oauth2ClientCredentials": {
          "description": "Oauth2ClientCredentials.",
          "$ref": "EndUserAuthenticationConfigOauth2ClientCredentials"
        },
        "sshPublicKey": {
          "$ref": "EndUserAuthenticationConfigSshPublicKey",
          "description": "SSH Public Key."
        },
        "additionalVariables": {
          "type": "array",
          "description": "Optional. List containing additional auth configs.",
          "items": {
            "$ref": "EndUserAuthenticationConfigVariable"
          }
        },
        "oauth2JwtBearer": {
          "description": "Oauth2JwtBearer.",
          "$ref": "EndUserAuthenticationConfigOauth2JwtBearer"
        },
        "oauth2AuthCodeFlowGoogleManaged": {
          "$ref": "EndUserAuthenticationConfigOauth2AuthCodeFlowGoogleManaged",
          "description": "Oauth2AuthCodeFlowGoogleManaged."
        }
      }
    },
    "TrafficShapingConfig": {
      "type": "object",
      "description": "* TrafficShapingConfig defines the configuration for shaping API traffic by specifying a quota limit and the duration over which this limit is enforced. This configuration helps to control and manage the rate at which API calls are made on the client side, preventing service overload on the backend. For example: - if the quota limit is 100 calls per 10 seconds, then the message would be: { quota_limit: 100 duration: { seconds: 10 } } - if the quota limit is 100 calls per 5 minutes, then the message would be: { quota_limit: 100 duration: { seconds: 300 } } - if the quota limit is 10000 calls per day, then the message would be: { quota_limit: 10000 duration: { seconds: 86400 } and so on.",
      "id": "TrafficShapingConfig",
      "properties": {
        "quotaLimit": {
          "format": "int64",
          "type": "string",
          "description": "Required. Maximum number of api calls allowed."
        },
        "duration": {
          "type": "string",
          "description": "Required. Specifies the duration over which the API call quota limits are calculated. This duration is used to define the time window for evaluating if the number of API calls made by a user is within the allowed quota limits. For example: - To define a quota sampled over 16 seconds, set `seconds` to 16 - To define a quota sampled over 5 minutes, set `seconds` to 300 (5 * 60) - To define a quota sampled over 1 day, set `seconds` to 86400 (24 * 60 * 60) and so on. It is important to note that this duration is not the time the quota is valid for, but rather the time window over which the quota is evaluated. For example, if the quota is 100 calls per 10 seconds, then this duration field would be set to 10 seconds.",
          "format": "google-duration"
        }
      }
    },
    "ToolName": {
      "description": "Tool name for which the tool spec override is to be generated.",
      "id": "ToolName",
      "properties": {
        "entityType": {
          "description": "Optional. Entity type name for which the tool was generated.",
          "type": "string"
        },
        "name": {
          "description": "Required. Tool name that was generated in the list tools call.",
          "type": "string"
        },
        "operation": {
          "enumDescriptions": [
            "Operation unspecified.",
            "LIST entities.",
            "GET entity.",
            "CREATE entity.",
            "UPDATE entity.",
            "DELETE entity."
          ],
          "type": "string",
          "enum": [
            "OPERATION_UNSPECIFIED",
            "LIST",
            "GET",
            "CREATE",
            "UPDATE",
            "DELETE"
          ],
          "description": "Optional. Operation for which the tool was generated."
        }
      },
      "type": "object"
    },
    "Schedule": {
      "description": "Configure the schedule.",
      "properties": {
        "day": {
          "type": "string",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "description": "Allows to define schedule that runs specified day of the week.",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ]
        },
        "startTime": {
          "description": "Time within the window to start the operations.",
          "$ref": "TimeOfDay"
        },
        "duration": {
          "type": "string",
          "format": "google-duration",
          "description": "Output only. Duration of the time window, set by service producer."
        }
      },
      "type": "object",
      "id": "Schedule"
    },
    "JwtClaims": {
      "properties": {
        "issuer": {
          "description": "Optional. Value for the \"iss\" claim.",
          "type": "string"
        },
        "subject": {
          "description": "Optional. Value for the \"sub\" claim.",
          "type": "string"
        },
        "audience": {
          "description": "Optional. Value for the \"aud\" claim.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "JWT claims used for the jwt-bearer authorization grant.",
      "id": "JwtClaims"
    },
    "TestIamPermissionsResponse": {
      "type": "object",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "TestIamPermissionsResponse",
      "description": "Response message for `TestIamPermissions` method."
    },
    "RegionalSettings": {
      "id": "RegionalSettings",
      "type": "object",
      "properties": {
        "provisioned": {
          "readOnly": true,
          "description": "Output only. Specifies whether the region is provisioned.",
          "type": "boolean"
        },
        "client": {
          "description": "Optional. Client type for the regional settings.",
          "type": "string"
        },
        "encryptionConfig": {
          "$ref": "EncryptionConfig",
          "description": "Optional. Regional encryption config to hold CMEK details."
        },
        "networkConfig": {
          "$ref": "NetworkConfig",
          "description": "Optional. Regional network config."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource name of the Connection. Format: projects/{project}/locations/{location}/regionalSettings"
        }
      },
      "description": "Regional Settings details."
    },
    "MaintenanceSettings": {
      "description": "Maintenance settings associated with instance. Allows service producers and end users to assign settings that controls maintenance on this instance.",
      "type": "object",
      "id": "MaintenanceSettings",
      "properties": {
        "isRollback": {
          "type": "boolean",
          "description": "Optional. If the update call is triggered from rollback, set the value as true."
        },
        "exclude": {
          "type": "boolean",
          "description": "Optional. Exclude instance from maintenance. When true, rollout service will not attempt maintenance on the instance. Rollout service will include the instance in reported rollout progress as not attempted."
        },
        "maintenancePolicies": {
          "additionalProperties": {
            "$ref": "MaintenancePolicy"
          },
          "type": "object",
          "description": "Optional. The MaintenancePolicies that have been attached to the instance. The key must be of the type name of the oneof policy name defined in MaintenancePolicy, and the embedded policy must define the same policy type. For details, please refer to go/mr-user-guide. Should not be set if maintenance_policy_names is set. If only the name is needed, then only populate MaintenancePolicy.name."
        }
      }
    },
    "Oauth2JwtBearer": {
      "id": "Oauth2JwtBearer",
      "type": "object",
      "properties": {
        "clientKey": {
          "$ref": "Secret",
          "description": "Optional. Secret version reference containing a PKCS#8 PEM-encoded private key associated with the Client Certificate. This private key will be used to sign JWTs used for the jwt-bearer authorization grant. Specified in the form as: `projects/*/secrets/*/versions/*`."
        },
        "jwtClaims": {
          "description": "Optional. JwtClaims providers fields to generate the token.",
          "$ref": "JwtClaims"
        }
      },
      "description": "Parameters to support JSON Web Token (JWT) Profile for Oauth 2.0 Authorization Grant based authentication. See https://tools.ietf.org/html/rfc7523 for more details."
    },
    "EndUserAuthenticationNotifyEndpointDestination": {
      "description": "Message for NotifyEndpointDestination Destination to hit when the refresh token is expired.",
      "id": "EndUserAuthenticationNotifyEndpointDestination",
      "properties": {
        "serviceAccount": {
          "type": "string",
          "description": "Required. Service account needed for runtime plane to notify the backend."
        },
        "endpoint": {
          "$ref": "EndUserAuthenticationNotifyEndpointDestinationEndPoint",
          "description": "Optional. OPTION 1: Hit an endpoint when the refresh token is expired."
        },
        "type": {
          "description": "Required. type of the destination",
[...]
