{
  "servicePath": "",
  "documentationLink": "https://cloud.google.com/contact-center/insights/docs",
  "description": "",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "parameters": {
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "default": "json",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    }
  },
  "baseUrl": "https://contactcenterinsights.googleapis.com/",
  "revision": "20260629",
  "id": "contactcenterinsights:v1",
  "ownerDomain": "google.com",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "mtlsRootUrl": "https://contactcenterinsights.mtls.googleapis.com/",
  "ownerName": "Google",
  "batchPath": "batch",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "getSettings": {
              "response": {
                "$ref": "GoogleCloudContactcenterinsightsV1Settings"
              },
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+/settings$",
                  "description": "Required. The name of the settings resource to get.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/settings",
              "id": "contactcenterinsights.projects.locations.getSettings",
              "description": "Gets project-level settings."
            },
            "generativeInsights": {
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:generativeInsights",
              "id": "contactcenterinsights.projects.locations.generativeInsights",
              "description": "Natural language based Insights which powers the next generation of dashboards in Insights. Next generation of QueryMetrics.",
              "request": {
                "$ref": "GoogleCloudContactcenterinsightsV1GenerativeInsightsRequest"
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+location}:generativeInsights",
              "parameters": {
                "location": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Required. The location of the data. \"projects/{project}/locations/{location}\"",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "location"
              ]
            },
            "bulkDownloadFeedbackLabels": {
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:bulkDownloadFeedbackLabels",
              "description": "Download feedback labels in bulk from an external source. Currently supports exporting Quality AI example conversations with transcripts and question bodies.",
              "id": "contactcenterinsights.projects.locations.bulkDownloadFeedbackLabels",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+parent}:bulkDownloadFeedbackLabels",
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The parent resource for new feedback labels.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "request": {
                "$ref": "GoogleCloudContactcenterinsightsV1BulkDownloadFeedbackLabelsRequest"
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ]
            },
            "updateSettings": {
              "request": {
                "$ref": "GoogleCloudContactcenterinsightsV1Settings"
              },
              "response": {
                "$ref": "GoogleCloudContactcenterinsightsV1Settings"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "Required. The list of fields to be updated.",
                  "type": "string"
                },
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+/settings$",
                  "description": "Immutable. The resource name of the settings resource. Format: projects/{project}/locations/{location}/settings",
                  "location": "path",
                  "required": true
                }
              },
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/settings",
              "id": "contactcenterinsights.projects.locations.updateSettings",
              "description": "Updates project-level settings."
            },
            "getEncryptionSpec": {
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudContactcenterinsightsV1EncryptionSpec"
              },
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+/encryptionSpec$",
                  "description": "Required. The name of the encryption spec resource to get.",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "contactcenterinsights.projects.locations.getEncryptionSpec",
              "description": "Gets location-level encryption key specification.",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/encryptionSpec"
            },
            "bulkDeleteFeedbackLabels": {
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "request": {
                "$ref": "GoogleCloudContactcenterinsightsV1BulkDeleteFeedbackLabelsRequest"
              },
              "path": "v1/{+parent}:bulkDeleteFeedbackLabels",
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The parent resource for new feedback labels.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:bulkDeleteFeedbackLabels",
              "id": "contactcenterinsights.projects.locations.bulkDeleteFeedbackLabels",
              "description": "Delete feedback labels in bulk using a filter."
            },
            "queryPerformanceOverview": {
              "id": "contactcenterinsights.projects.locations.queryPerformanceOverview",
              "description": "Generates a summary of predefined performance metrics for a set of conversations. Conversations can be specified by specifying a time window and an agent id, for now. The summary includes a comparison of metrics computed for conversations in the previous time period, and also a comparison with peers in the same time period.",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:queryPerformanceOverview",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleCloudContactcenterinsightsV1QueryPerformanceOverviewRequest"
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+parent}:queryPerformanceOverview",
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Required. The parent resource of the conversations to derive performance stats from. \"projects/{project}/locations/{location}\"",
                  "location": "path",
                  "required": true
                }
              }
            },
            "testCorrelationConfig": {
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:testCorrelationConfig",
              "id": "contactcenterinsights.projects.locations.testCorrelationConfig",
              "description": "Tests correlation config on a conversation.",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "request": {
                "$ref": "GoogleCloudContactcenterinsightsV1TestCorrelationConfigRequest"
              },
              "path": "v1/{+location}:testCorrelationConfig",
              "parameters": {
                "location": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Required. The location to test correlation config. Format: projects/{project}/locations/{location}"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "parameterOrder": [
                "location"
              ]
            },
            "queryMetrics": {
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:queryMetrics",
              "id": "contactcenterinsights.projects.locations.queryMetrics",
              "description": "Query metrics.",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "request": {
                "$ref": "GoogleCloudContactcenterinsightsV1QueryMetricsRequest"
              },
              "path": "v1/{+location}:queryMetrics",
              "parameters": {
                "location": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Required. The location of the data. \"projects/{project}/locations/{location}\"",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "parameterOrder": [
                "location"
              ]
            },
            "listAllFeedbackLabels": {
              "path": "v1/{+parent}:listAllFeedbackLabels",
              "parameters": {
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. A filter to reduce results to a specific subset in the entire project. Supports disjunctions (OR) and conjunctions (AND). Supported fields: * `issue_model_id` * `qa_question_id` * `min_create_time` * `max_create_time` * `min_update_time` * `max_update_time` * `feedback_label_type`: QUALITY_AI, TOPIC_MODELING"
                },
                "parent": {
                  "description": "Required. The parent resource of all feedback labels per project.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "Optional. The maximum number of feedback labels to return in the response. A valid page size ranges from 0 to 100,000 inclusive. If the page size is zero or unspecified, a default page size of 100 will be chosen. Note that a call might return fewer results than the requested page size."
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. The value returned by the last `ListAllFeedbackLabelsResponse`. This value indicates that this is a continuation of a prior `ListAllFeedbackLabels` call and that the system should return the next page of data."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudContactcenterinsightsV1ListAllFeedbackLabelsResponse"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:listAllFeedbackLabels",
              "description": "List all feedback labels by project number.",
              "id": "contactcenterinsights.projects.locations.listAllFeedbackLabels"
            },
            "bulkUploadFeedbackLabels": {
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:bulkUploadFeedbackLabels",
              "description": "Upload feedback labels from an external source in bulk. Currently supports labeling Quality AI example conversations.",
              "id": "contactcenterinsights.projects.locations.bulkUploadFeedbackLabels",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+parent}:bulkUploadFeedbackLabels",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Required. The parent resource for new feedback labels."
                }
              },
              "request": {
                "$ref": "GoogleCloudContactcenterinsightsV1BulkUploadFeedbackLabelsRequest"
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ]
            },
            "getCorrelationConfig": {
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudContactcenterinsightsV1CorrelationConfig"
              },
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+/correlationConfig$",
                  "description": "Required. The name of the correlation config resource to get. Format: projects/{project}/locations/{location}/correlationConfig",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "contactcenterinsights.projects.locations.getCorrelationConfig",
              "description": "Gets correlation config.",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/correlationConfig"
            },
            "updateCorrelationConfig": {
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/correlationConfig",
              "description": "Updates correlation config.",
              "id": "contactcenterinsights.projects.locations.updateCorrelationConfig",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+/correlationConfig$",
                  "description": "Immutable. Identifier. The resource name of the correlation config. Format: projects/{project}/locations/{location}/correlationConfig",
                  "type": "string"
                },
                "updateMask": {
                  "description": "Optional. The list of fields to be updated.",
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudContactcenterinsightsV1CorrelationConfig"
              },
              "request": {
                "$ref": "GoogleCloudContactcenterinsightsV1CorrelationConfig"
              },
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ]
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "path": "v1/{+name}/operations",
                  "parameters": {
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "The standard list page size.",
                      "location": "query",
                      "format": "int32"
                    },
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list filter."
                    },
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "contactcenterinsights.projects.locations.operations.list",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations"
                },
                "get": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource."
                    }
                  },
                  "id": "contactcenterinsights.projects.locations.operations.get",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}"
                },
                "cancel": {
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}:cancel",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "description": "The name of the operation resource to be cancelled.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "id": "contactcenterinsights.projects.locations.operations.cancel",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel"
                }
              }
            },
            "datasets": {
              "methods": {
                "create": {
                  "description": "Creates a dataset.",
                  "id": "contactcenterinsights.projects.locations.datasets.create",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/datasets",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. The parent resource of the dataset.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "datasetId": {
                      "location": "query",
                      "description": "Optional. The ID to use for the dataset.",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1Dataset"
                  },
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1Dataset"
                  }
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}",
                  "description": "Gets a dataset.",
                  "id": "contactcenterinsights.projects.locations.datasets.get",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                      "description": "Required. The name of the dataset to get.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1Dataset"
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "patch": {
                  "id": "contactcenterinsights.projects.locations.datasets.patch",
                  "description": "Updates a dataset.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}",
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1Dataset"
                  },
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1Dataset"
                  },
                  "path": "v1/{+name}",
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "Optional. The list of fields to update.",
                      "type": "string"
                    },
                    "name": {
                      "type": "string",
                      "description": "Immutable. Identifier. Resource name of the dataset. Format: projects/{project}/locations/{location}/datasets/{dataset}",
                      "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "bulkDeleteFeedbackLabels": {
                  "path": "v1/{+parent}:bulkDeleteFeedbackLabels",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "description": "Required. The parent resource for new feedback labels.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1BulkDeleteFeedbackLabelsRequest"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}:bulkDeleteFeedbackLabels",
                  "description": "Delete feedback labels in bulk using a filter.",
                  "id": "contactcenterinsights.projects.locations.datasets.bulkDeleteFeedbackLabels"
                },
                "bulkDownloadFeedbackLabels": {
                  "description": "Download feedback labels in bulk from an external source. Currently supports exporting Quality AI example conversations with transcripts and question bodies.",
                  "id": "contactcenterinsights.projects.locations.datasets.bulkDownloadFeedbackLabels",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}:bulkDownloadFeedbackLabels",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}:bulkDownloadFeedbackLabels",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. The parent resource for new feedback labels.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1BulkDownloadFeedbackLabelsRequest"
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  }
                },
                "listAllFeedbackLabels": {
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1ListAllFeedbackLabelsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}:listAllFeedbackLabels",
                  "parameters": {
                    "filter": {
                      "description": "Optional. A filter to reduce results to a specific subset in the entire project. Supports disjunctions (OR) and conjunctions (AND). Supported fields: * `issue_model_id` * `qa_question_id` * `min_create_time` * `max_create_time` * `min_update_time` * `max_update_time` * `feedback_label_type`: QUALITY_AI, TOPIC_MODELING",
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. The value returned by the last `ListAllFeedbackLabelsResponse`. This value indicates that this is a continuation of a prior `ListAllFeedbackLabels` call and that the system should return the next page of data."
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                      "description": "Required. The parent resource of all feedback labels per project."
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of feedback labels to return in the response. A valid page size ranges from 0 to 100,000 inclusive. If the page size is zero or unspecified, a default page size of 100 will be chosen. Note that a call might return fewer results than the requested page size.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}:listAllFeedbackLabels",
                  "id": "contactcenterinsights.projects.locations.datasets.listAllFeedbackLabels",
                  "description": "List all feedback labels by project number."
                },
                "bulkUploadFeedbackLabels": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}:bulkUploadFeedbackLabels",
                  "description": "Upload feedback labels from an external source in bulk. Currently supports labeling Quality AI example conversations.",
                  "id": "contactcenterinsights.projects.locations.datasets.bulkUploadFeedbackLabels",
                  "path": "v1/{+parent}:bulkUploadFeedbackLabels",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                      "description": "Required. The parent resource for new feedback labels.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1BulkUploadFeedbackLabelsRequest"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "list": {
                  "path": "v1/{+parent}/datasets",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. The value returned by the last `ListDatasetsResponse`; indicates that this is a continuation of a prior `ListDatasets` call and the system should return the next page of data.",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The parent resource of the dataset.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of datasets to return in the response. If this value is zero, the service will select a default size. A call might return fewer objects than requested. A non-empty `next_page_token` in the response indicates that more data is available.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. A filter to reduce results to a specific subset. Useful for querying datasets with specific properties. Supported fields include, for Q2 though we only support list by project: - `type` - `description` - `project_number`",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1ListDatasetsResponse"
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets",
                  "description": "List datasets matching the input.",
                  "id": "contactcenterinsights.projects.locations.datasets.list"
                },
                "delete": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}",
                  "id": "contactcenterinsights.projects.locations.datasets.delete",
                  "description": "Delete a dataset.",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                      "description": "Required. The name of the dataset to delete.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ]
                }
              },
              "resources": {
                "insightsdata": {
                  "methods": {
                    "export": {
                      "path": "v1/{+parent}/insightsdata:export",
                      "parameters": {
                        "parent": {
                          "description": "Required. The parent resource to export data from.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "request": {
                        "$ref": "GoogleCloudContactcenterinsightsV1ExportInsightsDataRequest"
                      },
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/insightsdata:export",
                      "description": "Export insights data to a destination defined in the request body.",
                      "id": "contactcenterinsights.projects.locations.datasets.insightsdata.export"
                    }
                  }
                },
                "conversations": {
                  "methods": {
                    "generateSignedAudio": {
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}:generateSignedAudio",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+/conversations/[^/]+$",
                          "description": "Required. The name of the conversation to sign.",
                          "location": "path",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudContactcenterinsightsV1GenerateConversationSignedAudioResponse"
                      },
                      "description": "Gets the signed URI for the audio for the given conversation.",
                      "id": "contactcenterinsights.projects.locations.datasets.conversations.generateSignedAudio",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/conversations/{conversationsId}:generateSignedAudio"
                    },
                    "delete": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/conversations/{conversationsId}",
                      "id": "contactcenterinsights.projects.locations.datasets.conversations.delete",
                      "description": "Deletes a conversation.",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+/conversations/[^/]+$",
                          "description": "Required. The name of the conversation to delete."
                        },
                        "force": {
                          "type": "boolean",
                          "description": "If set to true, all of this conversation's analyses will also be deleted. Otherwise, the request will only succeed if the conversation has no analyses.",
                          "location": "query"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "DELETE",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "ingest": {
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/conversations:ingest",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                          "description": "Required. The parent resource for new conversations.",
                          "location": "path",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "request": {
                        "$ref": "GoogleCloudContactcenterinsightsV1IngestConversationsRequest"
                      },
                      "description": "Imports conversations and processes them according to the user's configuration.",
                      "id": "contactcenterinsights.projects.locations.datasets.conversations.ingest",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/conversations:ingest"
                    },
                    "get": {
                      "id": "contactcenterinsights.projects.locations.datasets.conversations.get",
                      "description": "Gets a conversation.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/conversations/{conversationsId}",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleCloudContactcenterinsightsV1Conversation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}",
                      "parameters": {
                        "view": {
                          "enum": [
                            "CONVERSATION_VIEW_UNSPECIFIED",
                            "FULL",
                            "BASIC"
                          ],
                          "location": "query",
                          "type": "string",
                          "description": "The level of details of the conversation. Default is `FULL`.",
                          "enumDescriptions": [
                            "The conversation view is not specified. * Defaults to `FULL` in `GetConversationRequest`. * Defaults to `BASIC` in `ListConversationsRequest`.",
                            "Populates all fields in the conversation.",
                            "Populates all fields in the conversation except the transcript."
                          ]
                        },
                        "name": {
                          "description": "Required. The name of the conversation to get.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+/conversations/[^/]+$",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        }
                      }
                    },
                    "list": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/conversations",
                      "description": "Lists conversations.",
                      "id": "contactcenterinsights.projects.locations.datasets.conversations.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/conversations",
                      "parameters": {
                        "orderBy": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. The attribute by which to order conversations in the response. If empty, conversations will be ordered by descending creation time. Supported values are one of the following: * create_time * customer_satisfaction_rating * duration * latest_analysis * start_time * turn_count The default sort order is ascending. To specify order, append `asc` or `desc` (`create_time desc`). For more details, see [Google AIPs Ordering](https://google.aip.dev/132#ordering)."
                        },
                        "filter": {
                          "description": "A filter to reduce results to a specific subset. Useful for querying conversations with specific properties.",
                          "location": "query",
                          "type": "string"
                        },
                        "view": {
                          "enum": [
                            "CONVERSATION_VIEW_UNSPECIFIED",
                            "FULL",
                            "BASIC"
                          ],
                          "location": "query",
                          "type": "string",
                          "description": "The level of details of the conversation. Default is `BASIC`.",
                          "enumDescriptions": [
                            "The conversation view is not specified. * Defaults to `FULL` in `GetConversationRequest`. * Defaults to `BASIC` in `ListConversationsRequest`.",
                            "Populates all fields in the conversation.",
                            "Populates all fields in the conversation except the transcript."
                          ]
                        },
                        "parent": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Required. The parent resource of the conversation.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$"
                        },
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "description": "The maximum number of conversations to return in the response. A valid page size ranges from 0 to 100,000 inclusive. If the page size is zero or unspecified, a default page size of 100 will be chosen. Note that a call might return fewer results than the requested page size.",
                          "type": "integer"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "The value returned by the last `ListConversationsResponse`. This value indicates that this is a continuation of a prior `ListConversations` call and that the system should return the next page of data."
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudContactcenterinsightsV1ListConversationsResponse"
                      },
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "sample": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/conversations:sample",
                      "description": "Samples conversations based on user configuration and handles the sampled conversations for different use cases.",
                      "id": "contactcenterinsights.projects.locations.datasets.conversations.sample",
                      "path": "v1/{+parent}/conversations:sample",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                          "description": "Required. The parent resource of the dataset.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "request": {
                        "$ref": "GoogleCloudContactcenterinsightsV1SampleConversationsRequest"
                      },
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "calculateStats": {
                      "path": "v1/{+location}/conversations:calculateStats",
                      "parameters": {
                        "location": {
                          "description": "Required. The location of the conversations.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudContactcenterinsightsV1CalculateStatsResponse"
                      },
                      "request": {
                        "$ref": "GoogleCloudContactcenterinsightsV1CalculateStatsRequest"
                      },
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "location"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/conversations:calculateStats",
                      "description": "Gets conversation statistics.",
                      "id": "contactcenterinsights.projects.locations.datasets.conversations.calculateStats"
                    },
                    "bulkDelete": {
                      "path": "v1/{+parent}/conversations:bulkDelete",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                          "description": "Required. The parent resource to delete conversations from. Format: projects/{project}/locations/{location}"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "request": {
                        "$ref": "GoogleCloudContactcenterinsightsV1BulkDeleteConversationsRequest"
                      },
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/conversations:bulkDelete",
                      "description": "Deletes multiple conversations in a single request.",
                      "id": "contactcenterinsights.projects.locations.datasets.conversations.bulkDelete"
                    }
                  },
                  "resources": {
                    "feedbackLabels": {
                      "methods": {
                        "delete": {
                          "httpMethod": "DELETE",
                          "parameterOrder": [
                            "name"
                          ],
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1/{+name}",
                          "parameters": {
                            "name": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+/conversations/[^/]+/feedbackLabels/[^/]+$",
                              "description": "Required. The name of the feedback label to delete."
                            }
                          },
                          "id": "contactcenterinsights.projects.locations.datasets.conversations.feedbackLabels.delete",
                          "description": "Delete feedback label.",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/conversations/{conversationsId}/feedbackLabels/{feedbackLabelsId}"
                        },
                        "list": {
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/conversations/{conversationsId}/feedbackLabels",
                          "id": "contactcenterinsights.projects.locations.datasets.conversations.feedbackLabels.list",
                          "description": "List feedback labels.",
                          "response": {
                            "$ref": "GoogleCloudContactcenterinsightsV1ListFeedbackLabelsResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1/{+parent}/feedbackLabels",
                          "parameters": {
                            "filter": {
                              "type": "string",
                              "description": "Optional. A filter to reduce results to a specific subset. Supports disjunctions (OR) and conjunctions (AND). Automatically sorts by conversation ID. To sort by all feedback labels in a project see ListAllFeedbackLabels. Supported fields: * `issue_model_id` * `qa_question_id` * `qa_scorecard_id` * `min_create_time` * `max_create_time` * `min_update_time` * `max_update_time` * `feedback_label_type`: QUALITY_AI, TOPIC_MODELING",
                              "location": "query"
                            },
                            "pageToken": {
                              "type": "string",
                              "location": "query",
                              "description": "Optional. The value returned by the last `ListFeedbackLabelsResponse`. This value indicates that this is a continuation of a prior `ListFeedbackLabels` call and that the system should return the next page of data."
                            },
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+/conversations/[^/]+$",
                              "description": "Required. The parent resource of the feedback labels.",
                              "type": "string",
                              "location": "path",
                              "required": true
                            },
                            "pageSize": {
                              "description": "Optional. The maximum number of feedback labels to return in the response. A valid page size ranges from 0 to 100,000 inclusive. If the page size is zero or unspecified, a default page size of 100 will be chosen. Note that a call might return fewer results than the requested page size.",
                              "location": "query",
                              "format": "int32",
                              "type": "integer"
                            }
                          },
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "parent"
                          ]
                        },
                        "get": {
                          "description": "Get feedback label.",
                          "id": "contactcenterinsights.projects.locations.datasets.conversations.feedbackLabels.get",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/conversations/{conversationsId}/feedbackLabels/{feedbackLabelsId}",
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1/{+name}",
                          "parameters": {
                            "name": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+/conversations/[^/]+/feedbackLabels/[^/]+$",
                              "description": "Required. The name of the feedback label to get."
                            }
                          },
                          "response": {
                            "$ref": "GoogleCloudContactcenterinsightsV1FeedbackLabel"
                          }
                        },
                        "patch": {
                          "httpMethod": "PATCH",
                          "parameterOrder": [
                            "name"
                          ],
                          "response": {
                            "$ref": "GoogleCloudContactcenterinsightsV1FeedbackLabel"
                          },
                          "request": {
                            "$ref": "GoogleCloudContactcenterinsightsV1FeedbackLabel"
                          },
                          "path": "v1/{+name}",
                          "parameters": {
                            "updateMask": {
                              "type": "string",
                              "location": "query",
                              "format": "google-fieldmask",
                              "description": "Required. The list of fields to be updated."
                            },
                            "name": {
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+/conversations/[^/]+/feedbackLabels/[^/]+$",
                              "description": "Immutable. Resource name of the FeedbackLabel. Format: projects/{project}/locations/{location}/conversations/{conversation}/feedbackLabels/{feedback_label}",
                              "location": "path",
                              "required": true
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "contactcenterinsights.projects.locations.datasets.conversations.feedbackLabels.patch",
                          "description": "Update feedback label.",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/conversations/{conversationsId}/feedbackLabels/{feedbackLabelsId}"
                        },
                        "create": {
                          "httpMethod": "POST",
                          "parameterOrder": [
                            "parent"
                          ],
                          "path": "v1/{+parent}/feedbackLabels",
                          "parameters": {
                            "parent": {
                              "type": "string",
                              "description": "Required. The parent resource of the feedback label.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+/conversations/[^/]+$",
                              "required": true,
                              "location": "path"
                            },
                            "feedbackLabelId": {
                              "type": "string",
                              "location": "query",
                              "description": "Optional. The ID of the feedback label to create. If one is not specified it will be generated by the server."
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "GoogleCloudContactcenterinsightsV1FeedbackLabel"
                          },
                          "request": {
                            "$ref": "GoogleCloudContactcenterinsightsV1FeedbackLabel"
                          },
                          "description": "Create feedback label.",
                          "id": "contactcenterinsights.projects.locations.datasets.conversations.feedbackLabels.create",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/conversations/{conversationsId}/feedbackLabels"
                        }
                      }
                    }
                  }
                }
              }
            },
            "analysisRules": {
              "methods": {
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/analysisRules/{analysisRulesId}",
                  "description": "Get a analysis rule.",
                  "id": "contactcenterinsights.projects.locations.analysisRules.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/analysisRules/[^/]+$",
                      "description": "Required. The name of the AnalysisRule to get."
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1AnalysisRule"
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1ListAnalysisRulesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/analysisRules",
                  "parameters": {
                    "pageToken": {
                      "description": "Optional. The value returned by the last `ListAnalysisRulesResponse`; indicates that this is a continuation of a prior `ListAnalysisRules` call and the system should return the next page of data.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "location": "path",
                      "description": "Required. The parent resource of the analysis rules.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. The maximum number of analysis rule to return in the response. If this value is zero, the service will select a default size. A call may return fewer objects than requested. A non-empty `next_page_token` in the response indicates that more data is available."
                    }
                  },
                  "id": "contactcenterinsights.projects.locations.analysisRules.list",
                  "description": "Lists analysis rules.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/analysisRules"
                },
                "patch": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/analysisRules/{analysisRulesId}",
                  "id": "contactcenterinsights.projects.locations.analysisRules.patch",
                  "description": "Updates a analysis rule.",
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1AnalysisRule"
                  },
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1AnalysisRule"
                  },
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/analysisRules/[^/]+$",
                      "description": "Identifier. The resource name of the analysis rule. Format: projects/{project}/locations/{location}/analysisRules/{analysis_rule}",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "updateMask": {
                      "type": "string",
                      "description": "Optional. The list of fields to be updated. If the update_mask is not provided, the update will be applied to all fields.",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/analysisRules/[^/]+$",
                      "description": "Required. The name of the analysis rule to delete.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/analysisRules/{analysisRulesId}",
                  "description": "Deletes a analysis rule.",
                  "id": "contactcenterinsights.projects.locations.analysisRules.delete"
                },
                "create": {
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1AnalysisRule"
                  },
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1AnalysisRule"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/analysisRules",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource of the analysis rule. Required. The location to create a analysis rule for. Format: `projects//locations/` or `projects//locations/`",
                      "location": "path",
                      "required": true
                    }
                  },
                  "id": "contactcenterinsights.projects.locations.analysisRules.create",
                  "description": "Creates a analysis rule.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/analysisRules"
                }
              }
            },
            "insightsdata": {
              "methods": {
                "export": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/insightsdata:export",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource to export data from.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1ExportInsightsDataRequest"
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/insightsdata:export",
                  "description": "Export insights data to a destination defined in the request body.",
                  "id": "contactcenterinsights.projects.locations.insightsdata.export"
                }
              }
            },
            "dashboards": {
              "methods": {
                "delete": {
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the dashboard to delete.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dashboards/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "description": "Deletes a Dashboard.",
                  "id": "contactcenterinsights.projects.locations.dashboards.delete",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dashboards/{dashboardsId}"
                },
                "get": {
                  "id": "contactcenterinsights.projects.locations.dashboards.get",
                  "description": "Gets a Dashboard.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dashboards/{dashboardsId}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1Dashboard"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dashboards/[^/]+$",
                      "description": "Required. The name of the dashboard to get.",
                      "location": "path",
                      "required": true
                    }
                  }
                },
                "list": {
                  "path": "v1/{+parent}/dashboards",
                  "parameters": {
                    "orderBy": {
                      "location": "query",
                      "description": "Optional. The order by expression to order dashboards listed in the response.",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource of the dashboards."
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. The maximum number of dashboards to return. The service may return fewer than this value. The default and maximum value is 100.",
                      "type": "integer"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. The value returned by the last `ListDashboardsResponse`. This value indicates that this is a continuation of a prior `ListDashboards` call and that the system should return the next page of data.",
                      "location": "query"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. The filter expression to filter dashboards listed in the response.",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1ListDashboardsResponse"
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dashboards",
                  "description": "Lists Dashboards.",
                  "id": "contactcenterinsights.projects.locations.dashboards.list"
                },
                "patch": {
                  "description": "Updates a Dashboard.",
                  "id": "contactcenterinsights.projects.locations.dashboards.patch",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dashboards/{dashboardsId}",
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "parameters": {
                    "updateMask": {
                      "description": "Optional. List of fields to be updated. All possible fields can be updated by passing `*`, or a subset of the following updateable fields can be provided: * `display_name` * `root_container` * `description`",
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string"
                    },
                    "name": {
                      "required": true,
                      "location": "path",
                      "description": "Identifier. Dashboard resource name. Format: projects/{project}/locations/{location}/dashboards/{dashboard}",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dashboards/[^/]+$",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1Dashboard"
                  },
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1Dashboard"
                  }
                },
                "create": {
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1Dashboard"
                  },
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1Dashboard"
                  },
                  "path": "v1/{+parent}/dashboards",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. The parent resource of the dashboard.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "dashboardId": {
                      "type": "string",
                      "description": "Optional. A unique ID for the new Dashboard. This ID will become the final component of the Dashboard's resource name. If no ID is specified, a server-generated ID will be used. This value should be 4-64 characters and must match the regular expression `^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$`.",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "contactcenterinsights.projects.locations.dashboards.create",
                  "description": "Creates a Dashboard.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dashboards"
                }
              },
              "resources": {
                "charts": {
                  "methods": {
                    "delete": {
                      "httpMethod": "DELETE",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Required. The name of the chart to delete.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/dashboards/[^/]+/charts/[^/]+$"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "contactcenterinsights.projects.locations.dashboards.charts.delete",
                      "description": "Deletes a Chart.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dashboards/{dashboardsId}/charts/{chartsId}"
                    },
                    "get": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dashboards/{dashboardsId}/charts/{chartsId}",
                      "description": "Gets a Chart.",
                      "id": "contactcenterinsights.projects.locations.dashboards.charts.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "description": "Required. The name of the chart to get.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/dashboards/[^/]+/charts/[^/]+$",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudContactcenterinsightsV1Chart"
                      },
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "list": {
                      "response": {
                        "$ref": "GoogleCloudContactcenterinsightsV1ListChartsResponse"
                      },
                      "path": "v1/{+parent}/charts",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/dashboards/[^/]+$",
                          "description": "Required. The parent resource of the charts.",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dashboards/{dashboardsId}/charts",
                      "id": "contactcenterinsights.projects.locations.dashboards.charts.list",
                      "description": "Lists Charts."
                    },
                    "patch": {
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/dashboards/[^/]+/charts/[^/]+$",
                          "description": "Identifier. Chart resource name. Format: projects/{project}/locations/{location}/dashboards/{dashboard}/charts/{chart}",
                          "location": "path",
                          "required": true
                        },
                        "updateMask": {
                          "location": "query",
                          "format": "google-fieldmask",
                          "description": "Optional. List of fields to be updated. All possible fields can be updated by passing `*`, or a subset of the following updateable fields can be provided: * `display_name`",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudContactcenterinsightsV1Chart"
                      },
                      "request": {
                        "$ref": "GoogleCloudContactcenterinsightsV1Chart"
                      },
                      "httpMethod": "PATCH",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dashboards/{dashboardsId}/charts/{chartsId}",
                      "description": "Updates a Chart.",
                      "id": "contactcenterinsights.projects.locations.dashboards.charts.patch"
                    },
                    "create": {
                      "id": "contactcenterinsights.projects.locations.dashboards.charts.create",
                      "description": "Creates a Chart.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dashboards/{dashboardsId}/charts",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "GoogleCloudContactcenterinsightsV1Chart"
                      },
                      "response": {
                        "$ref": "GoogleCloudContactcenterinsightsV1Chart"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/charts",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/dashboards/[^/]+$",
                          "description": "Required. The parent resource of the chart.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "chartId": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. A unique ID for the new Chart. This ID will become the final component of the Chart's resource name. If no ID is specified, a server-generated ID will be used. This value should be 4-64 characters and must match the regular expression `^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$`."
                        }
                      }
                    }
                  }
                }
              }
            },
            "phraseMatchers": {
              "methods": {
                "get": {
                  "id": "contactcenterinsights.projects.locations.phraseMatchers.get",
                  "description": "Gets a phrase matcher.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/phraseMatchers/{phraseMatchersId}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1PhraseMatcher"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/phraseMatchers/[^/]+$",
                      "description": "Required. The name of the phrase matcher to get.",
                      "location": "path",
                      "required": true
                    }
                  }
                },
                "list": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/phraseMatchers",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. The parent resource of the phrase matcher.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "The maximum number of phrase matchers to return in the response. If this value is zero, the service will select a default size. A call might return fewer objects than requested. A non-empty `next_page_token` in the response indicates that more data is available."
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The value returned by the last `ListPhraseMatchersResponse`. This value indicates that this is a continuation of a prior `ListPhraseMatchers` call and that the system should return the next page of data.",
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "description": "A filter to reduce results to a specific subset. Useful for querying phrase matchers with specific properties.",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1ListPhraseMatchersResponse"
                  },
                  "description": "Lists phrase matchers.",
                  "id": "contactcenterinsights.projects.locations.phraseMatchers.list",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/phraseMatchers"
                },
                "patch": {
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1PhraseMatcher"
                  },
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1PhraseMatcher"
                  },
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/phraseMatchers/[^/]+$",
                      "description": "The resource name of the phrase matcher. Format: projects/{project}/locations/{location}/phraseMatchers/{phrase_matcher}",
                      "type": "string"
                    },
                    "updateMask": {
                      "type": "string",
                      "description": "The list of fields to be updated.",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/phraseMatchers/{phraseMatchersId}",
                  "id": "contactcenterinsights.projects.locations.phraseMatchers.patch",
                  "description": "Updates a phrase matcher."
                },
                "delete": {
                  "description": "Deletes a phrase matcher.",
                  "id": "contactcenterinsights.projects.locations.phraseMatchers.delete",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/phraseMatchers/{phraseMatchersId}",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the phrase matcher to delete.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/phraseMatchers/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  }
                },
                "create": {
                  "id": "contactcenterinsights.projects.locations.phraseMatchers.create",
                  "description": "Creates a phrase matcher.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/phraseMatchers",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1PhraseMatcher"
                  },
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1PhraseMatcher"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/phraseMatchers",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource of the phrase matcher. Required. The location to create a phrase matcher for. Format: `projects//locations/` or `projects//locations/`",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  }
                }
              }
            },
            "issueModels": {
              "methods": {
                "calculateIssueModelStats": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/issueModels/{issueModelsId}:calculateIssueModelStats",
                  "description": "Gets an issue model's statistics.",
                  "id": "contactcenterinsights.projects.locations.issueModels.calculateIssueModelStats",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
[...]
