{
  "mtlsRootUrl": "https://contactcenterinsights.mtls.googleapis.com/",
  "parameters": {
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "description": "Data format for response."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    }
  },
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "description": "",
  "schemas": {
    "GoogleCloudContactcenterinsightsV1alpha1UpdateQaQuestionTagRequest": {
      "properties": {
        "updateMask": {
          "description": "Optional. The list of fields to be updated. All possible fields can be updated by passing `*`, or a subset of the following updateable fields can be provided: * `qa_question_tag_name` - the name of the tag * `qa_question_ids` - the list of questions the tag applies to",
          "type": "string",
          "format": "google-fieldmask"
        },
        "qaQuestionTag": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1QaQuestionTag",
          "description": "Required. The QaQuestionTag to update."
        }
      },
      "description": "The request for updating a QaQuestionTag.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1UpdateQaQuestionTagRequest",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainDimensionMediumDimensionMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1mainDimensionMediumDimensionMetadata",
      "properties": {
        "medium": {
          "type": "string",
          "description": "Optional. The conversation medium. Currently supports : PHONE_CALL, CHAT."
        }
      },
      "type": "object",
      "description": "Metadata about the conversation medium dimension."
    },
    "GoogleCloudContactcenterinsightsV1alpha1IssueModel": {
      "properties": {
        "modelType": {
          "type": "string",
          "description": "Type of the model.",
          "enum": [
            "MODEL_TYPE_UNSPECIFIED",
            "TYPE_V1",
            "TYPE_V2"
          ],
          "enumDescriptions": [
            "Unspecified model type.",
            "Type V1.",
            "Type V2."
          ]
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time at which this issue model was created.",
          "readOnly": true,
          "type": "string"
        },
        "trainingStats": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1IssueModelLabelStats",
          "description": "Output only. Immutable. The issue model's label statistics on its training data.",
          "readOnly": true
        },
        "inputDataConfig": {
          "description": "Configs for the input data that used to create the issue model.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1IssueModelInputDataConfig"
        },
        "issueCount": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Number of issues in this issue model.",
          "type": "string"
        },
        "name": {
          "description": "Immutable. The resource name of the issue model. Format: projects/{project}/locations/{location}/issueModels/{issue_model}",
          "type": "string"
        },
        "languageCode": {
          "description": "Language of the model.",
          "type": "string"
        },
        "state": {
          "description": "Output only. State of the model.",
          "enum": [
            "STATE_UNSPECIFIED",
            "UNDEPLOYED",
            "DEPLOYING",
            "DEPLOYED",
            "UNDEPLOYING",
            "DELETING"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Model is not deployed but is ready to deploy.",
            "Model is being deployed.",
            "Model is deployed and is ready to be used. A model can only be used in analysis if it's in this state.",
            "Model is being undeployed.",
            "Model is being deleted."
          ],
          "readOnly": true
        },
        "displayName": {
          "description": "The representative name for the issue model.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The most recent time at which the issue model was updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1IssueModel",
      "description": "The issue model resource.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1QueryMetricsResponse": {
      "type": "object",
      "description": "The response for querying metrics.",
      "id": "GoogleCloudContactcenterinsightsV1QueryMetricsResponse",
      "properties": {
        "location": {
          "description": "Required. The location of the data. \"projects/{project}/locations/{location}\"",
          "type": "string"
        },
        "updateTime": {
          "description": "The metrics last update time.",
          "format": "google-datetime",
          "type": "string"
        },
        "macroAverageSlice": {
          "$ref": "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSlice",
          "description": "The macro average slice contains aggregated averages across all selected dimensions. i.e. if group_by agent and scorecard_id is specified, this field will contain the average across all agents and all scorecards. This field is only populated if the request specifies a Dimension."
        },
        "slices": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSlice"
          },
          "type": "array",
          "description": "A slice contains a total and (if the request specified a time granularity) a time series of metric values. Each slice contains a unique combination of the cardinality of dimensions from the request."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1ChartDataSource": {
      "properties": {
        "queryMetrics": {
          "$ref": "GoogleCloudContactcenterinsightsV1QueryMetrics",
          "description": "Use the existing QueryMetrics to generate the chart."
        },
        "generativeInsights": {
          "$ref": "GoogleCloudContactcenterinsightsV1GenerativeInsights",
          "description": "Use natural language query to generate the chart."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1ChartDataSource",
      "description": "The request data for visualizing the dataset in the chart.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1CorrelationRule": {
      "description": "A correlation rule that defines how to join conversations for a given correlation type.",
      "type": "object",
      "properties": {
        "joinKeyExpression": {
          "description": "Optional. A cel expression (go/cel) to be evaluated as a string value. This string value will be used as the join key for the correlation.",
          "type": "string"
        },
        "ruleId": {
          "description": "Required. The unique identifier of the rule.",
          "type": "string"
        },
        "active": {
          "type": "boolean",
          "description": "Optional. Whether the config is active to be evaluated."
        },
        "constraintExpression": {
          "description": "Optional. A cel expression (go/cel) to be evaluated as a boolean value. Two variables conversation_a and conversation_b will be available for evaluation. This expression should evaluate to true if conversation_a and conversation_b should be joined. This is used as an extra constraint on top of the join_key_expression to further refine the group of conversations that are joined together and will be evaluated in both directions. for two conversations c1 and c2 and the result will be OR'd. We will evaluate: f(c1, c2) OR f(c2, c1)",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1CorrelationRule"
    },
    "GoogleCloudContactcenterinsightsV1DeployQaScorecardRevisionRequest": {
      "properties": {},
      "description": "The request to deploy a QaScorecardRevision",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1DeployQaScorecardRevisionRequest"
    },
    "GoogleCloudContactcenterinsightsV1mainCreateIssueRequest": {
      "properties": {
        "parent": {
          "description": "Required. The parent resource of the issue.",
          "type": "string"
        },
        "issue": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainIssue",
          "description": "Required. The values for the new issue."
        }
      },
      "description": "The request to create an issue.",
      "id": "GoogleCloudContactcenterinsightsV1mainCreateIssueRequest",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainBulkDeleteConversationsResponse": {
      "id": "GoogleCloudContactcenterinsightsV1mainBulkDeleteConversationsResponse",
      "type": "object",
      "description": "The response for a bulk delete conversations operation.",
      "properties": {}
    },
    "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsResponse": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsResponse",
      "description": "The response to an IngestConversations operation.",
      "properties": {}
    },
    "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentWordInfo": {
      "description": "Word-level info for words in a transcript.",
      "properties": {
        "startOffset": {
          "description": "Time offset of the start of this word relative to the beginning of the total conversation.",
          "type": "string",
          "format": "google-duration"
        },
        "endOffset": {
          "description": "Time offset of the end of this word relative to the beginning of the total conversation.",
          "format": "google-duration",
          "type": "string"
        },
        "word": {
          "type": "string",
          "description": "The word itself. Includes punctuation marks that surround the word."
        },
        "confidence": {
          "description": "A confidence estimate between 0.0 and 1.0 of the fidelity of this word. A default value of 0.0 indicates that the value is unset.",
          "type": "number",
          "format": "float"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentWordInfo"
    },
    "GoogleCloudContactcenterinsightsV1alpha1Intent": {
      "properties": {
        "displayName": {
          "description": "The human-readable name of the intent.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The unique identifier of the intent."
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1Intent",
      "description": "The data for an intent. Represents a detected intent in the conversation, for example MAKES_PROMISE."
    },
    "GoogleCloudContactcenterinsightsV1alpha1ExportInsightsDataResponse": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1ExportInsightsDataResponse",
      "type": "object",
      "properties": {},
      "description": "Response for an export insights operation."
    },
    "GoogleCloudContactcenterinsightsV1SampleConversationsRequest": {
      "id": "GoogleCloudContactcenterinsightsV1SampleConversationsRequest",
      "description": "The request to sample conversations to a dataset.",
      "type": "object",
      "properties": {
        "parent": {
          "type": "string",
          "description": "Required. The parent resource of the dataset."
        },
        "sampleRule": {
          "description": "Optional. The sample rule used for sampling conversations.",
          "$ref": "GoogleCloudContactcenterinsightsV1SampleRule"
        },
        "destinationDataset": {
          "description": "The dataset resource to copy the sampled conversations to.",
          "$ref": "GoogleCloudContactcenterinsightsV1Dataset"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartMediaPart": {
      "id": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartMediaPart",
      "description": "A media part.",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Optional. URI or URL to the media."
        },
        "alternativeText": {
          "description": "Optional. Alternative text description.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1BulkDeleteConversationsRequest": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1BulkDeleteConversationsRequest",
      "type": "object",
      "description": "The request to delete conversations in bulk.",
      "properties": {
        "parent": {
          "type": "string",
          "description": "Required. The parent resource to delete conversations from. Format: projects/{project}/locations/{location}"
        },
        "filter": {
          "type": "string",
          "description": "Filter used to select the subset of conversations to delete."
        },
        "maxDeleteCount": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum number of conversations to delete."
        },
        "force": {
          "description": "If set to true, all of this conversation's analyses will also be deleted. Otherwise, the request will only succeed if the conversation has no analyses.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainEntity": {
      "type": "object",
      "description": "The data for an entity annotation. Represents a phrase in the conversation that is a known entity, such as a person, an organization, or location.",
      "properties": {
        "sentiment": {
          "description": "The aggregate sentiment expressed for this entity in the conversation.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainSentimentData"
        },
        "metadata": {
          "type": "object",
          "description": "Metadata associated with the entity. For most entity types, the metadata is a Wikipedia URL (`wikipedia_url`) and Knowledge Graph MID (`mid`), if they are available. For the metadata associated with other entity types, see the Type table below.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "displayName": {
          "description": "The representative name for the entity.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Unspecified.",
            "Person.",
            "Location.",
            "Organization.",
            "Event.",
            "Artwork.",
            "Consumer product.",
            "Other types of entities.",
            "Phone number. The metadata lists the phone number (formatted according to local convention), plus whichever additional elements appear in the text: * `number` - The actual number, broken down into sections according to local convention. * `national_prefix` - Country code, if detected. * `area_code` - Region or area code, if detected. * `extension` - Phone extension (to be dialed after connection), if detected.",
            "Address. The metadata identifies the street number and locality plus whichever additional elements appear in the text: * `street_number` - Street number. * `locality` - City or town. * `street_name` - Street/route name, if detected. * `postal_code` - Postal code, if detected. * `country` - Country, if detected. * `broad_region` - Administrative area, such as the state, if detected. * `narrow_region` - Smaller administrative area, such as county, if detected. * `sublocality` - Used in Asian addresses to demark a district within a city, if detected.",
            "Date. The metadata identifies the components of the date: * `year` - Four digit year, if detected. * `month` - Two digit month number, if detected. * `day` - Two digit day number, if detected.",
            "Number. The metadata is the number itself.",
            "Price. The metadata identifies the `value` and `currency`."
          ],
          "description": "The entity type.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "PERSON",
            "LOCATION",
            "ORGANIZATION",
            "EVENT",
            "WORK_OF_ART",
            "CONSUMER_GOOD",
            "OTHER",
            "PHONE_NUMBER",
            "ADDRESS",
            "DATE",
            "NUMBER",
            "PRICE"
          ]
        },
        "salience": {
          "format": "float",
          "description": "The salience score associated with the entity in the [0, 1.0] range. The salience score for an entity provides information about the importance or centrality of that entity to the entire document text. Scores closer to 0 are less salient, while scores closer to 1.0 are highly salient.",
          "type": "number"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainEntity"
    },
    "GoogleCloudContactcenterinsightsV1GenerativeInsightConversationTranscriptMessageSystemMessages": {
      "id": "GoogleCloudContactcenterinsightsV1GenerativeInsightConversationTranscriptMessageSystemMessages",
      "properties": {
        "systemMessages": {
          "description": "A message from the system in response to the user.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1GenerativeInsightConversationTranscriptMessageSystemMessage"
          },
          "type": "array"
        }
      },
      "description": "A wrapper for system messages per turn.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1RuntimeAnnotation": {
      "properties": {
        "createTime": {
          "type": "string",
          "description": "The time at which this annotation was created.",
          "format": "google-datetime"
        },
        "cesEndSessionAnnotation": {
          "description": "The CES end session annotation.",
          "$ref": "GoogleCloudContactcenterinsightsV1CesEndSessionAnnotation"
        },
        "dialogflowInteraction": {
          "$ref": "GoogleCloudContactcenterinsightsV1DialogflowInteractionData",
          "description": "Dialogflow interaction data."
        },
        "cesTurnAnnotation": {
          "description": "The CES turn annotation.",
          "$ref": "GoogleCloudContactcenterinsightsV1CesTurnAnnotation"
        },
        "answerFeedback": {
          "$ref": "GoogleCloudContactcenterinsightsV1AnswerFeedback",
          "description": "The feedback that the customer has about the answer in `data`."
        },
        "smartReply": {
          "description": "Agent Assist Smart Reply data.",
          "$ref": "GoogleCloudContactcenterinsightsV1SmartReplyData"
        },
        "faqAnswer": {
          "$ref": "GoogleCloudContactcenterinsightsV1FaqAnswerData",
          "description": "Agent Assist FAQ answer data."
        },
        "startBoundary": {
          "description": "The boundary in the conversation where the annotation starts, inclusive.",
          "$ref": "GoogleCloudContactcenterinsightsV1AnnotationBoundary"
        },
        "conversationSummarizationSuggestion": {
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationSummarizationSuggestionData",
          "description": "Conversation summarization suggestion data."
        },
        "endBoundary": {
          "description": "The boundary in the conversation where the annotation ends, inclusive.",
          "$ref": "GoogleCloudContactcenterinsightsV1AnnotationBoundary"
        },
        "articleSuggestion": {
          "$ref": "GoogleCloudContactcenterinsightsV1ArticleSuggestionData",
          "description": "Agent Assist Article Suggestion data."
        },
        "userInput": {
          "$ref": "GoogleCloudContactcenterinsightsV1RuntimeAnnotationUserInput",
          "description": "Explicit input used for generating the answer"
        },
        "smartComposeSuggestion": {
          "$ref": "GoogleCloudContactcenterinsightsV1SmartComposeSuggestionData",
          "description": "Agent Assist Smart Compose suggestion data."
        },
        "annotationId": {
          "type": "string",
          "description": "The unique identifier of the annotation. Format: projects/{project}/locations/{location}/conversationDatasets/{dataset}/conversationDataItems/{data_item}/conversationAnnotations/{annotation}"
        }
      },
      "description": "An annotation that was generated during the customer and agent interaction.",
      "id": "GoogleCloudContactcenterinsightsV1RuntimeAnnotation",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1DialogflowSource": {
      "description": "A Dialogflow source of conversation data.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1DialogflowSource",
      "type": "object",
      "properties": {
        "dialogflowConversation": {
          "description": "Output only. The name of the Dialogflow conversation that this conversation resource is derived from. Format: projects/{project}/locations/{location}/conversations/{conversation}",
          "readOnly": true,
          "type": "string"
        },
        "audioUri": {
          "description": "Cloud Storage URI that points to a file that contains the conversation audio.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainIntent": {
      "properties": {
        "id": {
          "type": "string",
          "description": "The unique identifier of the intent."
        },
        "displayName": {
          "type": "string",
          "description": "The human-readable name of the intent."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainIntent",
      "description": "The data for an intent. Represents a detected intent in the conversation, for example MAKES_PROMISE.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1QaAnswerAnswerValue": {
      "description": "Message for holding the value of a QaAnswer. QaQuestion.AnswerChoice defines the possible answer values for a question.",
      "id": "GoogleCloudContactcenterinsightsV1QaAnswerAnswerValue",
      "properties": {
        "score": {
          "description": "Output only. Numerical score of the answer.",
          "format": "double",
          "type": "number",
          "readOnly": true
        },
        "potentialScore": {
          "description": "Output only. The maximum potential score of the question.",
          "format": "double",
          "readOnly": true,
          "type": "number"
        },
        "numValue": {
          "description": "Numerical value.",
          "format": "double",
          "type": "number"
        },
        "naValue": {
          "description": "A value of \"Not Applicable (N/A)\". Should only ever be `true`.",
          "type": "boolean"
        },
        "boolValue": {
          "type": "boolean",
          "description": "Boolean value."
        },
        "normalizedScore": {
          "readOnly": true,
          "description": "Output only. Normalized score of the questions. Calculated as score / potential_score.",
          "type": "number",
          "format": "double"
        },
        "skipValue": {
          "description": "Output only. A value of \"Skip\". If provided, this field may only be set to `true`. If a question receives this answer, it will be excluded from any score calculations. This would mean that the question was not evaluated.",
          "type": "boolean",
          "readOnly": true
        },
        "strValue": {
          "type": "string",
          "description": "String value."
        },
        "key": {
          "description": "A short string used as an identifier. Matches the value used in QaQuestion.AnswerChoice.key.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegment": {
      "type": "object",
      "description": "A segment of a full transcript.",
      "id": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegment",
      "properties": {
        "messageTime": {
          "description": "The time that the message occurred, if provided.",
          "format": "google-datetime",
          "type": "string"
        },
        "languageCode": {
          "description": "The language code of this segment as a [BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt) language tag. Example: \"en-US\".",
          "type": "string"
        },
        "words": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentWordInfo"
          },
          "type": "array",
          "description": "A list of the word-specific information for each word in the segment."
        },
        "turnLevelAudio": {
          "description": "Turn level audio for this transcript segment.",
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationDataSourceTurnLevelAudio"
        },
        "dialogflowSegmentMetadata": {
          "description": "CCAI metadata relating to the current transcript segment.",
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentDialogflowSegmentMetadata"
        },
        "segmentParticipant": {
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationParticipant",
          "description": "The participant of this segment."
        },
        "sentiment": {
          "$ref": "GoogleCloudContactcenterinsightsV1SentimentData",
          "description": "The sentiment for this transcript segment."
        },
        "channelTag": {
          "description": "For conversations derived from multi-channel audio, this is the channel number corresponding to the audio from that channel. For audioChannelCount = N, its output values can range from '1' to 'N'. A channel tag of 0 indicates that the audio is mono.",
          "type": "integer",
          "format": "int32"
        },
        "parts": {
          "description": "Optional. The structured parts that make up this transcript segment.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPart"
          }
        },
        "text": {
          "description": "The text of this segment.",
          "type": "string"
        },
        "confidence": {
          "format": "float",
          "description": "A confidence estimate between 0.0 and 1.0 of the fidelity of this segment. A default value of 0.0 indicates that the value is unset.",
          "type": "number"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1ListQaScorecardsResponse": {
      "id": "GoogleCloudContactcenterinsightsV1ListQaScorecardsResponse",
      "type": "object",
      "description": "The response from a ListQaScorecards request.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "qaScorecards": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1QaScorecard"
          },
          "description": "The QaScorecards under the parent.",
          "type": "array"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainConversationQualityMetadataAgentInfo": {
      "description": "Information about an agent involved in the conversation.",
      "type": "object",
      "properties": {
        "location": {
          "description": "The agent's location.",
          "type": "string"
        },
        "entrySubagentId": {
          "description": "The entry subagent's ID.",
          "type": "string"
        },
        "agentId": {
          "type": "string",
          "description": "A user-specified string representing the agent."
        },
        "team": {
          "type": "string",
          "deprecated": true,
          "description": "A user-specified string representing the agent's team. Deprecated in favor of the `teams` field."
        },
        "agentType": {
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER",
            "ANY_AGENT"
          ],
          "description": "The agent type, e.g. HUMAN_AGENT.",
          "type": "string",
          "enumDescriptions": [
            "Participant's role is not set.",
            "Participant is a human agent.",
            "Participant is an automated agent.",
            "Participant is an end user who conversed with the contact center.",
            "Participant is either a human or automated agent."
          ]
        },
        "deploymentId": {
          "description": "The agent's deployment ID. Only applicable to automated agents.",
          "type": "string"
        },
        "entrySubagentDisplayName": {
          "description": "The entry subagent's display name.",
          "type": "string"
        },
        "dispositionCode": {
          "type": "string",
          "description": "A user-provided string indicating the outcome of the agent's segment of the call."
        },
        "displayName": {
          "type": "string",
          "description": "The agent's name."
        },
        "deploymentDisplayName": {
          "description": "The agent's deployment display name. Only applicable to automated agents.",
          "type": "string"
        },
        "teams": {
          "description": "User-specified strings representing the agent's teams.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "versionId": {
          "description": "The agent's version ID. Only applicable to automated agents.",
          "type": "string"
        },
        "versionDisplayName": {
          "type": "string",
          "description": "The agent's version display name. Only applicable to automated agents."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainConversationQualityMetadataAgentInfo"
    },
    "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartSuggestionChipsPart": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartSuggestionChipsPart",
      "properties": {
        "chips": {
          "description": "Optional. List of suggestion chips.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartChip"
          }
        }
      },
      "description": "A suggestion chips part."
    },
    "GoogleCloudContactcenterinsightsV1AnnotatorSelectorQaConfigScorecardList": {
      "description": "Container for a list of scorecards.",
      "id": "GoogleCloudContactcenterinsightsV1AnnotatorSelectorQaConfigScorecardList",
      "type": "object",
      "properties": {
        "qaScorecardRevisions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of QaScorecardRevisions."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1ExportIssueModelRequest": {
      "type": "object",
      "properties": {
        "gcsDestination": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1ExportIssueModelRequestGcsDestination",
          "description": "Google Cloud Storage URI to export the issue model to."
        },
        "name": {
          "type": "string",
          "description": "Required. The issue model to export."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1ExportIssueModelRequest",
      "description": "Request to export an issue model."
    },
    "GoogleCloudContactcenterinsightsV1mainAnnotatorSelectorQaConfigScorecardList": {
      "type": "object",
      "description": "Container for a list of scorecards.",
      "properties": {
        "qaScorecardRevisions": {
          "description": "List of QaScorecardRevisions.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainAnnotatorSelectorQaConfigScorecardList"
    },
    "GoogleCloudContactcenterinsightsV1HoldData": {
      "type": "object",
      "description": "The data for a hold annotation.",
      "properties": {},
      "id": "GoogleCloudContactcenterinsightsV1HoldData"
    },
    "GoogleCloudContactcenterinsightsV1ExportIssueModelRequestGcsDestination": {
      "id": "GoogleCloudContactcenterinsightsV1ExportIssueModelRequestGcsDestination",
      "description": "Google Cloud Storage Object URI to save the issue model to.",
      "properties": {
        "objectUri": {
          "type": "string",
          "description": "Required. Format: `gs:///`"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartListItem": {
      "description": "An item in a list.",
      "id": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartListItem",
      "type": "object",
      "properties": {
        "subItems": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartListItem"
          },
          "type": "array",
          "description": "Optional. Nested sub-items."
        },
        "text": {
          "description": "Optional. The text of the list item.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1ListConversationsResponse": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1ListConversationsResponse",
      "description": "The response of listing conversations.",
      "properties": {
        "conversations": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1Conversation"
          },
          "description": "The conversations that match the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token which can be sent as `page_token` to retrieve the next page. If this field is set, it means there is another page available. If it is not set, it means no other pages are available.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainListFeedbackLabelsResponse": {
      "description": "The response for listing feedback labels.",
      "type": "object",
      "properties": {
        "feedbackLabels": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainFeedbackLabel"
          },
          "description": "The feedback labels that match the request."
        },
        "nextPageToken": {
          "description": "The next page token.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainListFeedbackLabelsResponse"
    },
    "GoogleCloudContactcenterinsightsV1mainDimensionQaQuestionAnswerDimensionMetadata": {
      "description": "Metadata about the QA question-answer dimension. This is useful for showing the answer distribution for questions for a given scorecard.",
      "id": "GoogleCloudContactcenterinsightsV1mainDimensionQaQuestionAnswerDimensionMetadata",
      "type": "object",
      "properties": {
        "answerValue": {
          "type": "string",
          "description": "Optional. The full body of the question."
        },
        "questionBody": {
          "description": "Optional. The full body of the question.",
          "type": "string"
        },
        "qaQuestionId": {
          "description": "Optional. The QA question ID.",
          "type": "string"
        },
        "qaScorecardId": {
          "description": "Optional. The QA scorecard ID.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1IssueAssignment": {
      "description": "Information about the issue.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1IssueAssignment",
      "properties": {
        "displayName": {
          "description": "Immutable. Display name of the assigned issue. This field is set at time of analysis and immutable since then.",
          "type": "string"
        },
        "issue": {
          "type": "string",
          "description": "Resource name of the assigned issue."
        },
        "score": {
          "format": "double",
          "type": "number",
          "description": "Score indicating the likelihood of the issue assignment. currently bounded on [0,1]."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponse": {
      "description": "The response for querying metrics.",
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The metrics last update time."
        },
        "slices": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSlice"
          },
          "description": "A slice contains a total and (if the request specified a time granularity) a time series of metric values. Each slice contains a unique combination of the cardinality of dimensions from the request."
        },
        "macroAverageSlice": {
          "description": "The macro average slice contains aggregated averages across all selected dimensions. i.e. if group_by agent and scorecard_id is specified, this field will contain the average across all agents and all scorecards. This field is only populated if the request specifies a Dimension.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSlice"
        },
        "location": {
          "description": "Required. The location of the data. \"projects/{project}/locations/{location}\"",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponse",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1UndeployIssueModelMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1UndeployIssueModelMetadata",
      "description": "Metadata for undeploying an issue model.",
      "type": "object",
      "properties": {
        "request": {
          "description": "The original request for undeployment.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1UndeployIssueModelRequest"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "readOnly": true
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1DimensionMediumDimensionMetadata": {
      "properties": {
        "medium": {
          "description": "Optional. The conversation medium. Currently supports : PHONE_CALL, CHAT.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1DimensionMediumDimensionMetadata",
      "description": "Metadata about the conversation medium dimension."
    },
    "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartTextPart": {
      "type": "object",
      "properties": {
        "text": {
          "description": "Optional. The text content.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartTextPart",
      "description": "A text part."
    },
    "GoogleCloudContactcenterinsightsV1mainUpdateQaQuestionTagMetadata": {
      "description": "The metadata for updating a QaQuestionTag Resource.",
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the operation was created."
        },
        "request": {
          "description": "Output only. The original request.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainUpdateQaQuestionTagRequest",
          "readOnly": true
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainUpdateQaQuestionTagMetadata"
    },
    "GoogleCloudContactcenterinsightsV1ListViewsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "views": {
          "description": "The views that match the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1View"
          }
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1ListViewsResponse",
      "description": "The response of listing views."
    },
    "GoogleCloudContactcenterinsightsV1IssueMatchData": {
      "description": "The data for an issue match annotation.",
      "id": "GoogleCloudContactcenterinsightsV1IssueMatchData",
      "properties": {
        "issueAssignment": {
          "description": "Information about the issue's assignment.",
          "$ref": "GoogleCloudContactcenterinsightsV1IssueAssignment"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPartTableRow": {
      "properties": {
        "cells": {
          "type": "array",
          "description": "Optional. The cell values in the row.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "A row in a table.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPartTableRow"
    },
    "GoogleCloudContactcenterinsightsV1DeployIssueModelMetadata": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1DeployIssueModelMetadata",
      "description": "Metadata for deploying an issue model.",
      "properties": {
        "endTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "readOnly": true
        },
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1DeployIssueModelRequest",
          "description": "The original request for deployment."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainBulkDeleteFeedbackLabelsResponse": {
      "id": "GoogleCloudContactcenterinsightsV1mainBulkDeleteFeedbackLabelsResponse",
      "description": "Response for the BulkDeleteFeedbackLabels endpoint.",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1IngestConversationsRequestTranscriptObjectConfig": {
      "properties": {
        "medium": {
          "description": "Required. The medium transcript objects represent.",
          "enumDescriptions": [
            "Default value for unspecified.",
            "The format for conversations that took place over the phone.",
            "The format for conversations that took place over chat."
          ],
          "enum": [
            "MEDIUM_UNSPECIFIED",
            "PHONE_CALL",
            "CHAT"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1IngestConversationsRequestTranscriptObjectConfig",
      "description": "Configuration for processing transcript objects."
    },
    "GoogleCloudContactcenterinsightsV1mainEncryptionSpec": {
      "type": "object",
      "properties": {
        "kmsKey": {
          "type": "string",
          "description": "Required. The name of customer-managed encryption key that is used to secure a resource and its sub-resources. If empty, the resource is secured by our default encryption key. Only the key in the same location as this resource is allowed to be used for encryption. Format: `projects/{project}/locations/{location}/keyRings/{keyRing}/cryptoKeys/{key}`"
        },
        "name": {
          "description": "Immutable. The resource name of the encryption key specification resource. Format: projects/{project}/locations/{location}/encryptionSpec",
          "type": "string"
        }
      },
      "description": "A customer-managed encryption key specification that can be applied to all created resources (e.g. `Conversation`).",
      "id": "GoogleCloudContactcenterinsightsV1mainEncryptionSpec"
    },
    "GoogleCloudContactcenterinsightsV1DeleteQaQuestionTagRequest": {
      "id": "GoogleCloudContactcenterinsightsV1DeleteQaQuestionTagRequest",
      "type": "object",
      "description": "The request for deleting a QaQuestionTag.",
      "properties": {
        "name": {
          "description": "Required. The name of the QaQuestionTag to delete.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationSummarizationSuggestionData": {
      "description": "Conversation summarization suggestion data.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationSummarizationSuggestionData",
      "properties": {
        "answerRecord": {
          "description": "The name of the answer record. Format: projects/{project}/locations/{location}/answerRecords/{answer_record}",
          "type": "string"
        },
        "conversationModel": {
          "description": "The name of the model that generates this summary. Format: projects/{project}/locations/{location}/conversationModels/{conversation_model}",
          "type": "string"
        },
        "text": {
          "type": "string",
          "description": "The summarization content that is concatenated into one string."
        },
        "generatorId": {
          "type": "string",
          "description": "Agent Assist generator ID."
        },
        "textSections": {
          "type": "object",
          "description": "The summarization content that is divided into sections. The key is the section's name and the value is the section's content. There is no specific format for the key or value.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "confidence": {
          "type": "number",
          "description": "The confidence score of the summarization.",
          "format": "float"
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "A map that contains metadata about the summarization and the document from which it originates."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1QueryPerformanceOverviewResponse": {
      "description": "The response for querying performance overview.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1QueryPerformanceOverviewResponse",
      "properties": {
        "summaryText": {
          "description": "The summary text of the performance.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainQaScorecardResultQaTagResult": {
      "id": "GoogleCloudContactcenterinsightsV1mainQaScorecardResultQaTagResult",
      "properties": {
        "tag": {
          "description": "The tag the score applies to.",
          "type": "string"
        },
        "score": {
          "format": "double",
          "description": "The score the tag applies to.",
          "type": "number"
        },
        "normalizedScore": {
          "description": "The normalized score the tag applies to.",
          "type": "number",
          "format": "double"
        },
        "potentialScore": {
          "description": "The potential score the tag applies to.",
          "format": "double",
          "type": "number"
        }
      },
      "type": "object",
      "description": "Tags and their corresponding results."
    },
    "GoogleCloudContactcenterinsightsV1ListChartsResponse": {
      "id": "GoogleCloudContactcenterinsightsV1ListChartsResponse",
      "description": "The response of listing charts.",
      "properties": {
        "charts": {
          "description": "The charts under the parent.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1Chart"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The value returned by the last `ListChartsResponse`. This value indicates that this is a continuation of a prior `ListCharts` call and that the system should return the next page of data."
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainGenerativeInsightsResponse": {
      "type": "object",
      "description": "The response for generative insights.",
      "id": "GoogleCloudContactcenterinsightsV1mainGenerativeInsightsResponse",
      "properties": {
        "generativeResponses": {
          "description": "The full list of generative responses. Each response is ordered by time.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainGenerativeInsightsResponseGenerativeResponse"
          }
        },
        "transcript": {
          "description": "The transcript of the generative insights conversation.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainGenerativeInsightConversationTranscript"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1DimensionConversationalAgentsPlaybookDimensionMetadata": {
      "description": "Metadata about the Conversational Agents playbook dimension.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1DimensionConversationalAgentsPlaybookDimensionMetadata",
      "properties": {
        "playbookDisplayName": {
          "description": "Optional. The dialogflow playbook display name.",
          "type": "string"
        },
        "playbookId": {
          "type": "string",
          "description": "Optional. The dialogflow playbook ID."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1CalculateStatsResponseTimeSeries": {
      "id": "GoogleCloudContactcenterinsightsV1CalculateStatsResponseTimeSeries",
      "description": "A time series representing conversations over time.",
      "properties": {
        "points": {
          "description": "An ordered list of intervals from earliest to latest, where each interval represents the number of conversations that transpired during the time window.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1CalculateStatsResponseTimeSeriesInterval"
          },
          "type": "array"
        },
        "intervalDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "The duration of each interval."
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainBulkAnalyzeConversationsMetadata": {
      "description": "The metadata for a bulk analyze conversations operation.",
      "type": "object",
      "properties": {
        "failedAnalysesCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of requested analyses that have failed so far."
        },
        "relabel": {
          "description": "Output only. If true, the labeling rules will be re-evaluated for the conversations.",
          "type": "boolean",
          "readOnly": true
        },
        "totalRequestedAnalysesCount": {
          "format": "int32",
          "description": "Total number of analyses requested. Computed by the number of conversations returned by `filter` multiplied by `analysis_percentage` in the request.",
          "type": "integer"
        },
        "createTime": {
          "description": "The time the operation was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "The time the operation finished running.",
          "type": "string"
        },
        "partialErrors": {
          "readOnly": true,
          "description": "Output only. Partial errors during bulk analyze operation that might cause the operation output to be incomplete.",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        },
        "completedAnalysesCount": {
          "description": "The number of requested analyses that have completed successfully so far.",
          "format": "int32",
          "type": "integer"
        },
        "request": {
          "description": "The original request for bulk analyze.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainBulkAnalyzeConversationsRequest"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainBulkAnalyzeConversationsMetadata"
    },
    "GoogleCloudContactcenterinsightsV1mainTestCorrelationConfigResponse": {
      "description": "The response of testing correlation config.",
      "properties": {
        "detailedResults": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainTestCorrelationConfigResponseDetailedCorrelationResults",
          "description": "Results for the DETAILED_SYNC execution mode."
        },
        "partialErrors": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array",
          "description": "Partial errors during test correlation config operation that might cause the operation output to be incomplete."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainTestCorrelationConfigResponse",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartListPart": {
      "properties": {
        "items": {
          "type": "array",
          "description": "Optional. List items.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartListItem"
          }
        },
        "listType": {
          "enumDescriptions": [
            "Unspecified list type.",
            "Unordered list.",
            "Ordered numbered list.",
            "Ordered alphabetic list."
          ],
          "enum": [
            "LIST_TYPE_UNSPECIFIED",
            "UNORDERED",
            "ORDERED_NUMBER",
            "ORDERED_ALPHA"
          ],
          "type": "string",
          "description": "Optional. The type of list."
        }
      },
      "type": "object",
      "description": "A list part.",
      "id": "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartListPart"
    },
    "GoogleCloudContactcenterinsightsV1alpha1CreateIssueMetadata": {
      "type": "object",
      "properties": {
        "request": {
          "description": "The original request for creation.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1CreateIssueRequest"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime"
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1CreateIssueMetadata",
      "description": "Metadata for creating an issue."
    },
    "GoogleCloudContactcenterinsightsV1alpha1CreateAnalysisOperationMetadata": {
      "description": "Metadata for a create analysis operation.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1CreateAnalysisOperationMetadata",
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime"
        },
        "endTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime"
        },
        "annotatorSelector": {
          "description": "Output only. The annotator selector used for the analysis (if any).",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1AnnotatorSelector"
        },
        "conversation": {
          "readOnly": true,
          "description": "Output only. The Conversation that this Analysis Operation belongs to.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1ConversationLevelSentiment": {
      "id": "GoogleCloudContactcenterinsightsV1ConversationLevelSentiment",
      "type": "object",
      "properties": {
        "sentimentData": {
          "description": "Data specifying sentiment.",
          "$ref": "GoogleCloudContactcenterinsightsV1SentimentData"
        },
        "channelTag": {
          "type": "integer",
          "description": "The channel of the audio that the data applies to.",
          "format": "int32"
        }
      },
      "description": "One channel of conversation-level sentiment data."
    },
    "GoogleCloudContactcenterinsightsV1mainImportIssueModelRequest": {
      "id": "GoogleCloudContactcenterinsightsV1mainImportIssueModelRequest",
      "description": "Request to import an issue model.",
      "properties": {
        "gcsSource": {
          "description": "Google Cloud Storage source message.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainImportIssueModelRequestGcsSource"
        },
        "createNewModel": {
          "description": "Optional. If set to true, will create an issue model from the imported file with randomly generated IDs for the issue model and corresponding issues. Otherwise, replaces an existing model with the same ID as the file.",
          "type": "boolean"
        },
        "parent": {
          "type": "string",
          "description": "Required. The parent resource of the issue model."
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainIssue": {
      "description": "The issue resource.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainIssue",
      "properties": {
        "displayDescription": {
          "description": "Representative description of the issue.",
          "type": "string"
        },
        "sampleUtterances": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. Resource names of the sample representative utterances that match to this issue."
        },
        "updateTime": {
          "description": "Output only. The most recent time that this issue was updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "The representative name for the issue.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time at which this issue was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "description": "Immutable. The resource name of the issue. Format: projects/{project}/locations/{location}/issueModels/{issue_model}/issues/{issue}",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1QaQuestionAnswerChoice": {
      "id": "GoogleCloudContactcenterinsightsV1QaQuestionAnswerChoice",
      "properties": {
        "score": {
          "format": "double",
          "description": "Numerical score of the answer, used for generating the overall score of a QaScorecardResult. If the answer uses na_value, this field is unused.",
          "type": "number"
        },
        "numValue": {
          "format": "double",
          "type": "number",
          "description": "Numerical value."
        },
        "boolValue": {
          "type": "boolean",
          "description": "Boolean value."
        },
        "naValue": {
          "type": "boolean",
          "description": "A value of \"Not Applicable (N/A)\". If provided, this field may only be set to `true`. If a question receives this answer, it will be excluded from any score calculations."
        },
        "key": {
          "description": "A short string used as an identifier.",
          "type": "string"
        },
        "strValue": {
          "type": "string",
          "description": "String value."
        }
      },
      "description": "Message representing a possible answer to the question.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1HoldData": {
      "description": "The data for a hold annotation.",
      "properties": {},
      "id": "GoogleCloudContactcenterinsightsV1alpha1HoldData",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1SampleConversationsResponse": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1SampleConversationsResponse",
      "properties": {},
      "type": "object",
      "description": "The response to an SampleConversations operation."
    },
    "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartProductCollectionPart": {
      "description": "A product collection part.",
      "properties": {
        "products": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartProduct"
          },
          "type": "array",
          "description": "Optional. List of products."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartProductCollectionPart",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainDeployIssueModelMetadata": {
      "description": "Metadata for deploying an issue model.",
      "properties": {
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation finished running."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainDeployIssueModelRequest",
          "description": "The original request for deployment."
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainDeployIssueModelMetadata"
    },
    "GoogleCloudContactcenterinsightsV1Dimension": {
      "type": "object",
      "description": "A dimension determines the grouping key for the query. In SQL terms, these would be part of both the \"SELECT\" and \"GROUP BY\" clauses.",
      "id": "GoogleCloudContactcenterinsightsV1Dimension",
      "properties": {
        "conversationalAgentsPlaybookDimensionMetadata": {
          "$ref": "GoogleCloudContactcenterinsightsV1DimensionConversationalAgentsPlaybookDimensionMetadata",
          "description": "Output only. Metadata about the Conversational Agents playbook dimension.",
          "readOnly": true
        },
        "qaQuestionAnswerDimensionMetadata": {
          "description": "Output only. Metadata about the QA question-answer dimension.",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1DimensionQaQuestionAnswerDimensionMetadata"
        },
        "agentDimensionMetadata": {
          "description": "Output only. Metadata about the agent dimension.",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1DimensionAgentDimensionMetadata"
        },
        "dimensionKey": {
          "enum": [
            "DIMENSION_KEY_UNSPECIFIED",
            "ISSUE",
            "ISSUE_NAME",
            "AGENT",
            "AGENT_TEAM",
            "QA_QUESTION_ID",
            "QA_QUESTION_ANSWER_VALUE",
            "QA_SCORECARD_ID",
            "CONVERSATION_PROFILE_ID",
            "MEDIUM",
            "CONVERSATIONAL_AGENTS_PLAYBOOK_ID",
            "CONVERSATIONAL_AGENTS_PLAYBOOK_NAME",
            "CONVERSATIONAL_AGENTS_TOOL_ID",
            "CONVERSATIONAL_AGENTS_TOOL_NAME",
            "CLIENT_SENTIMENT_CATEGORY",
            "AGENT_VERSION_ID",
            "AGENT_DEPLOYMENT_ID",
            "AGENT_ASSIST_SUPERVISOR_ID",
            "LABEL_KEY",
            "LABEL_VALUE",
            "LABEL_KEY_AND_VALUE",
            "LAST_TRANSFER_SUB_AGENT_NAME"
          ],
          "description": "The key of the dimension.",
          "type": "string",
          "enumDescriptions": [
            "The key of the dimension is unspecified.",
            "The dimension is keyed by issues.",
            "The dimension is keyed by issue names.",
            "The dimension is keyed by agents.",
            "The dimension is keyed by agent teams.",
            "The dimension is keyed by QaQuestionIds. Note that: We only group by the QuestionId and not the revision-id of the scorecard this question is a part of. This allows for showing stats for the same question across different scorecard revisions.",
            "The dimension is keyed by QaQuestionIds-Answer value pairs. Note that: We only group by the QuestionId and not the revision-id of the scorecard this question is a part of. This allows for showing distribution of answers per question across different scorecard revisions.",
            "The dimension is keyed by QaScorecardIds. Note that: We only group by the ScorecardId and not the revision-id of the scorecard. This allows for showing stats for the same scorecard across different revisions. This metric is mostly only useful if querying the average normalized score per scorecard.",
            "The dimension is keyed by the conversation profile ID.",
            "The dimension is keyed by the conversation medium.",
            "The dimension is keyed by the Conversational Agents playbook ID.",
            "The dimension is keyed by the Conversational Agents playbook display name.",
            "The dimension is keyed by the Conversational Agents tool ID.",
            "The dimension is keyed by the Conversational Agents tool display name.",
            "The dimension is keyed by the client sentiment category.",
            "The dimension is keyed by the agent version ID.",
            "The dimension is keyed by the agent deployment ID.",
            "The dimension is keyed by the supervisor ID of the assigned human supervisor for virtual agents.",
            "The dimension is keyed by label keys.",
            "The dimension is keyed by label values.",
            "The dimension is keyed by label key-value pairs.",
            "The dimension is keyed by the last transfer sub agent name."
          ]
        },
        "labelDimensionMetadata": {
          "description": "Output only. Metadata about conversation labels.",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1DimensionLabelDimensionMetadata"
        },
        "qaScorecardDimensionMetadata": {
          "$ref": "GoogleCloudContactcenterinsightsV1DimensionQaScorecardDimensionMetadata",
          "description": "Output only. Metadata about the QA scorecard dimension.",
          "readOnly": true
        },
        "conversationalAgentsToolDimensionMetadata": {
          "$ref": "GoogleCloudContactcenterinsightsV1DimensionConversationalAgentsToolDimensionMetadata",
          "readOnly": true,
          "description": "Output only. Metadata about the Conversational Agents tool dimension."
        },
        "qaQuestionDimensionMetadata": {
          "readOnly": true,
          "description": "Output only. Metadata about the QA question dimension.",
          "$ref": "GoogleCloudContactcenterinsightsV1DimensionQaQuestionDimensionMetadata"
        },
        "clientSentimentCategoryDimensionMetadata": {
          "readOnly": true,
          "description": "Output only. Metadata about the client sentiment category dimension.",
          "$ref": "GoogleCloudContactcenterinsightsV1DimensionClientSentimentCategoryDimensionMetadata"
        },
        "mediumDimensionMetadata": {
          "description": "Output only. Metadata about the conversation medium dimension.",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1DimensionMediumDimensionMetadata"
        },
        "conversationProfileDimensionMetadata": {
          "description": "Output only. Metadata about the conversation profile dimension.",
          "$ref": "GoogleCloudContactcenterinsightsV1DimensionConversationProfileDimensionMetadata",
          "readOnly": true
        },
        "issueDimensionMetadata": {
          "description": "Output only. Metadata about the issue dimension.",
          "$ref": "GoogleCloudContactcenterinsightsV1DimensionIssueDimensionMetadata",
          "readOnly": true
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1DimensionAgentDimensionMetadata": {
      "type": "object",
      "description": "Metadata about the agent dimension.",
      "properties": {
        "agentDeploymentDisplayName": {
          "description": "Optional. The agent's deployment display name. Only applicable to automated agents. This will be populated for AGENT_DEPLOYMENT_ID dimensions.",
          "type": "string"
        },
        "agentId": {
          "description": "Optional. A user-specified string representing the agent. This will be populated for AGENT, AGENT_TEAM, AGENT_VERSION_ID, and AGENT_DEPLOYMENT_ID dimensions.",
          "type": "string"
        },
        "agentTeam": {
          "description": "Optional. A user-specified string representing the agent's team.",
          "type": "string"
        },
        "agentDeploymentId": {
          "type": "string",
          "description": "Optional. The agent's deployment ID. Only applicable to automated agents. This will be populated for AGENT and AGENT_DEPLOYMENT_ID dimensions."
        },
        "agentVersionId": {
          "description": "Optional. The agent's version ID. Only applicable to automated agents. This will be populated for AGENT_VERSION_ID, and AGENT_DEPLOYMENT_ID dimensions.",
          "type": "string"
        },
        "agentDisplayName": {
          "description": "Optional. The agent's name This will be populated for AGENT, AGENT_TEAM, AGENT_VERSION_ID, and AGENT_DEPLOYMENT_ID dimensions.",
          "type": "string"
        },
        "agentVersionDisplayName": {
          "type": "string",
          "description": "Optional. The agent's version display name. Only applicable to automated agents. This will be populated for AGENT_VERSION_ID, and AGENT_DEPLOYMENT_ID dimensions."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1DimensionAgentDimensionMetadata"
    },
    "GoogleCloudContactcenterinsightsV1Dashboard": {
      "description": "Configurable dashboard",
      "type": "object",
      "properties": {
        "filter": {
          "description": "Filter applied to all charts in the dashboard. Should support scope later.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Dashboard creation time.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "description": {
          "description": "Dashboard description",
          "type": "string"
        },
        "rootContainer": {
          "description": "The dashboard's root widget container. We want to display the dashboard layout in a tree-like structure, where the root container contains other widgets (containers or charts) as children.",
          "$ref": "GoogleCloudContactcenterinsightsV1Container"
        },
        "dateRangeConfig": {
          "description": "Date range config applied to all charts in the dashboard.",
          "$ref": "GoogleCloudContactcenterinsightsV1DateRangeConfig"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Dashboard last update time.",
          "type": "string",
          "format": "google-datetime"
        },
        "displayName": {
          "description": "User provided display name of the dashboard.",
          "type": "string"
        },
        "readOnly": {
          "readOnly": true,
          "description": "Output only. Whether the dashboard is read-only. All predefined dashboards are read-only and cannot be modified by the user.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Dashboard resource name. Format: projects/{project}/locations/{location}/dashboards/{dashboard}"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1Dashboard"
    },
    "GoogleCloudContactcenterinsightsV1alpha1EncryptionSpec": {
      "type": "object",
      "description": "A customer-managed encryption key specification that can be applied to all created resources (e.g. `Conversation`).",
      "properties": {
        "kmsKey": {
          "type": "string",
          "description": "Required. The name of customer-managed encryption key that is used to secure a resource and its sub-resources. If empty, the resource is secured by our default encryption key. Only the key in the same location as this resource is allowed to be used for encryption. Format: `projects/{project}/locations/{location}/keyRings/{keyRing}/cryptoKeys/{key}`"
        },
        "name": {
          "type": "string",
          "description": "Immutable. The resource name of the encryption key specification resource. Format: projects/{project}/locations/{location}/encryptionSpec"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1EncryptionSpec"
    },
    "GoogleCloudContactcenterinsightsV1CorrelationConfig": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Immutable. Identifier. The resource name of the correlation config. Format: projects/{project}/locations/{location}/correlationConfig"
        },
        "updateTime": {
          "description": "Output only. The time at which the correlation config was last updated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "fullConversationConfig": {
          "description": "The correlation type config for full conversations.",
          "$ref": "GoogleCloudContactcenterinsightsV1CorrelationTypeConfig"
        },
        "createTime": {
          "description": "Output only. The time at which the correlation config was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1CorrelationConfig",
      "description": "A configuration that defines how to correlate conversations for a given a given project.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1AnalysisRule": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1AnalysisRule",
      "description": "The CCAI Insights project wide analysis rule. This rule will be applied to all conversations that match the filter defined in the rule. For a conversation matches the filter, the annotators specified in the rule will be run. If a conversation matches multiple rules, a union of all the annotators will be run. One project can have multiple analysis rules.",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The most recent time at which this analysis rule was updated."
        },
        "displayName": {
          "description": "Display Name of the analysis rule.",
          "type": "string"
        },
        "conversationFilter": {
          "description": "Filter for the conversations that should apply this analysis rule. An empty filter means this analysis rule applies to all conversations. Refer to https://cloud.google.com/contact-center/insights/docs/filtering for details.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the analysis rule. Format: projects/{project}/locations/{location}/analysisRules/{analysis_rule}"
        },
        "annotatorSelector": {
          "description": "Selector of annotators to run and the phrase matchers to use for conversations that matches the conversation_filter. If not specified, NO annotators will be run.",
          "$ref": "GoogleCloudContactcenterinsightsV1AnnotatorSelector"
        },
        "active": {
          "description": "If true, apply this rule to conversations. Otherwise, this rule is inactive and saved as a draft.",
          "type": "boolean"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time at which this analysis rule was created."
        },
        "analysisPercentage": {
          "description": "Percentage of conversations that we should apply this analysis setting automatically, between [0, 1]. For example, 0.1 means 10%. Conversations are sampled in a determenestic way. The original runtime_percentage & upload percentage will be replaced by defining filters on the conversation.",
          "format": "double",
          "type": "number"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPoint": {
      "type": "object",
      "properties": {
        "dialogflowInteractionMeasure": {
          "$ref": "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPointDialogflowInteractionMeasure",
          "description": "The measure related to dialogflow interactions."
        },
        "interval": {
          "description": "The interval that this data point represents. * If this is the total data point, the interval is [starting create time, ending create time) from the request. * If this a data point from the time series, the interval is [time, time + time granularity from the request).",
          "$ref": "GoogleTypeInterval"
        },
        "conversationMeasure": {
          "$ref": "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPointConversationMeasure",
          "description": "The measure related to conversations."
        }
      },
      "description": "A data point contains the metric values mapped to an interval.",
      "id": "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPoint"
    },
    "GoogleCloudContactcenterinsightsV1mainInitializeEncryptionSpecRequest": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainInitializeEncryptionSpecRequest",
      "properties": {
        "encryptionSpec": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainEncryptionSpec",
          "description": "Required. The encryption spec used for CMEK encryption. It is required that the kms key is in the same region as the endpoint. The same key will be used for all provisioned resources, if encryption is available. If the `kms_key_name` field is left empty, no encryption will be enforced."
        }
      },
      "description": "The request to initialize a location-level encryption specification."
    },
    "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPointPercentileResult": {
      "description": "The percentile result. Currently supported percentiles are 50th, 90th, and 99th.",
      "type": "object",
      "properties": {
        "p50": {
          "description": "The 50th percentile value.",
          "format": "double",
          "type": "number"
        },
        "p90": {
          "type": "number",
          "description": "The 90th percentile value.",
          "format": "double"
        },
        "p99": {
          "type": "number",
          "format": "double",
          "description": "The 99th percentile value."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPointPercentileResult"
    },
    "GoogleCloudContactcenterinsightsV1alpha1GenerativeInsightConversationTranscript": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1GenerativeInsightConversationTranscript",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Output only. The create time of the conversation.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "conversationId": {
          "description": "The conversation id of the chart.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The update time of the conversation.",
          "type": "string",
          "format": "google-datetime"
        },
        "messages": {
          "description": "Ordered list of messages, including user inputs and system responses.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1GenerativeInsightConversationTranscriptMessage"
          },
          "type": "array"
        }
      },
      "description": "The conversation transcript for the chart."
    },
    "GoogleCloudContactcenterinsightsV1CreateAnalysisOperationMetadata": {
      "properties": {
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation was created."
        },
        "annotatorSelector": {
          "$ref": "GoogleCloudContactcenterinsightsV1AnnotatorSelector",
          "description": "Output only. The annotator selector used for the analysis (if any).",
          "readOnly": true
        },
        "conversation": {
          "description": "Output only. The Conversation that this Analysis Operation belongs to.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1CreateAnalysisOperationMetadata",
      "description": "Metadata for a create analysis operation."
    },
    "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartProductCollectionPart": {
      "properties": {
        "products": {
          "description": "Optional. List of products.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartProduct"
          }
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartProductCollectionPart",
      "description": "A product collection part.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainConversationDataSourceTurnLevelAudio": {
      "description": "A wrapper for holding the audio for any given turn.",
      "id": "GoogleCloudContactcenterinsightsV1mainConversationDataSourceTurnLevelAudio",
      "properties": {
        "audioDuration": {
          "type": "string",
          "description": "The duration of the audio.",
          "format": "google-duration"
        },
        "audioGcsUri": {
          "type": "string",
          "description": "The Cloud Storage URI of the audio for any given turn."
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1RuntimeAnnotationUserInput": {
      "type": "object",
      "properties": {
        "generatorName": {
          "description": "The resource name of associated generator. Format: `projects//locations//generators/`",
          "type": "string"
        },
        "querySource": {
          "enum": [
            "QUERY_SOURCE_UNSPECIFIED",
            "AGENT_QUERY",
            "SUGGESTED_QUERY"
          ],
          "description": "Query source for the answer.",
          "type": "string",
          "enumDescriptions": [
            "Unknown query source.",
            "The query is from agents.",
            "The query is a query from previous suggestions, e.g. from a preceding SuggestKnowledgeAssist response."
          ]
        },
        "query": {
          "description": "Query text. Article Search uses this to store the input query used to generate the search results.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1RuntimeAnnotationUserInput",
      "description": "Explicit input used for generating the answer"
    },
    "GoogleCloudContactcenterinsightsV1BulkUploadFeedbackLabelsRequestGcsSource": {
      "properties": {
        "format": {
          "enumDescriptions": [
            "Unspecified format.",
            "CSV format.",
            "JSON format."
          ],
          "type": "string",
          "enum": [
            "FORMAT_UNSPECIFIED",
            "CSV",
            "JSON"
          ],
          "description": "Required. File format which will be ingested."
        },
        "objectUri": {
          "description": "Required. The Google Cloud Storage URI of the file to import. Format: `gs://bucket_name/object_name`",
          "type": "string"
        }
      },
      "description": "Google Cloud Storage Object details to get the feedback label file from.",
      "id": "GoogleCloudContactcenterinsightsV1BulkUploadFeedbackLabelsRequestGcsSource",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1ConversationCorrelationResult": {
      "description": "The result of testing correlation config on a single conversation.",
      "type": "object",
      "properties": {
        "conversation": {
          "description": "The conversation resource name.",
          "type": "string"
        },
        "ruleResults": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1ConversationCorrelationResultRuleCorrelationResult"
          },
          "type": "array",
          "description": "The results for each correlation rule."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1ConversationCorrelationResult"
    },
    "GoogleCloudContactcenterinsightsV1DateRangeConfig": {
      "properties": {
        "relativeDateRange": {
          "description": "A relative date range.",
          "$ref": "GoogleCloudContactcenterinsightsV1DateRangeConfigRelativeDateRange"
        },
        "absoluteDateRange": {
          "description": "An absolute date range.",
          "$ref": "GoogleCloudContactcenterinsightsV1QueryInterval"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1DateRangeConfig",
      "type": "object",
      "description": "Date range configuration for dashboard charts."
    },
    "GoogleCloudContactcenterinsightsV1BulkDeleteFeedbackLabelsMetadata": {
      "description": "Metadata for the BulkDeleteFeedbackLabels endpoint.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1BulkDeleteFeedbackLabelsMetadata",
      "properties": {
        "request": {
          "description": "Output only. The original request for delete.",
          "$ref": "GoogleCloudContactcenterinsightsV1BulkDeleteFeedbackLabelsRequest",
          "readOnly": true
        },
        "partialErrors": {
          "description": "Partial errors during deletion operation that might cause the operation output to be incomplete.",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1SignedAudioUris": {
      "id": "GoogleCloudContactcenterinsightsV1SignedAudioUris",
      "properties": {
        "signedGcsAudioUri": {
          "description": "The signed URI for the audio from the Cloud Storage conversation source.",
          "type": "string"
        },
        "signedGcsAudioUris": {
          "description": "Output only. The signed URIs for the audio from the Cloud Storage conversation source when multiple audio files exist (e.g. multi-leg conversations).",
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true
        },
        "signedDialogflowAudioUri": {
          "type": "string",
          "description": "The signed URI for the audio from the Dialogflow conversation source."
        },
        "signedTurnLevelAudios": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1ConversationDataSourceTurnLevelAudio"
          },
          "description": "The signed URI for the audio corresponding to each turn in the conversation."
        }
      },
      "description": "Signed audio URIs for a conversation.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1GenerativeInsightsResponseGenerativeResponse": {
      "type": "object",
      "description": "Wrapper for storing the generative response for a chart.",
      "properties": {
        "textMessage": {
          "description": "The text output from the LLM. Will be populated during the chart building phase. For a reloaded chart, this will NOT be populated. May contain THOUGHT or a FINAL response or some in-progress response.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1GenerativeInsightsResponseGenerativeResponseTextOutput"
        },
        "chartSpec": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "The chart spec for the data. This will be specified in the vega-lite or vega format.",
          "type": "object"
        },
        "generatedSqlQuery": {
          "description": "The generated SQL query from the LLM. Will be populated during the chart building phase. The generated SQL will be cached in the corresponding chart resource.",
          "type": "string"
        },
        "textOutput": {
          "deprecated": true,
          "type": "string",
          "description": "The text output from the LLM. Will be populated during the chart building phase. For a reloaded chart, this will NOT be populated. May contain THOUGHT or a FINAL response or some in-progress response."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1GenerativeInsightsResponseGenerativeResponse"
    },
    "GoogleCloudContactcenterinsightsV1mainDeleteIssueModelMetadata": {
      "description": "Metadata for deleting an issue model.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainDeleteIssueModelMetadata",
      "properties": {
        "request": {
          "description": "The original request for deletion.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainDeleteIssueModelRequest"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1AnalysisResult": {
      "type": "object",
      "description": "The result of an analysis.",
      "properties": {
        "endTime": {
          "description": "The time at which the analysis ended.",
          "type": "string",
          "format": "google-datetime"
        },
        "callAnalysisMetadata": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1AnalysisResultCallAnalysisMetadata",
          "description": "Call-specific metadata created by the analysis."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1AnalysisResult"
    },
    "GoogleCloudContactcenterinsightsV1AuthorizedView": {
      "description": "An AuthorizedView represents a view of accessible Insights resources (for example, Conversation and Scorecard). Who have read access to the AuthorizedView resource will have access to these Insight resources as well.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the AuthorizedView. Format: projects/{project}/locations/{location}/authorizedViewSets/{authorized_view_set}/authorizedViews/{authorized_view}"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The most recent time at which the authorized view was updated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "conversationFilter": {
          "type": "string",
          "description": "A filter to reduce conversation results to a specific subset. The AuthorizedView's assigned permission (read/write) could be applied to the subset of conversations. If conversation_filter is empty, there is no restriction on the conversations that the AuthorizedView can access. Having *authorizedViews.get* access to the AuthorizedView means having the same read/write access to the Conversations (as well as metadata/annotations linked to the conversation) that this AuthorizedView has."
        },
        "displayName": {
          "description": "Display Name. Limit 64 characters.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which the authorized view was created.",
          "readOnly": true
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1AuthorizedView"
    },
    "GoogleCloudContactcenterinsightsV1mainDialogflowSource": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainDialogflowSource",
      "description": "A Dialogflow source of conversation data.",
      "properties": {
        "dialogflowConversation": {
          "readOnly": true,
          "description": "Output only. The name of the Dialogflow conversation that this conversation resource is derived from. Format: projects/{project}/locations/{location}/conversations/{conversation}",
          "type": "string"
        },
        "audioUri": {
          "type": "string",
          "description": "Cloud Storage URI that points to a file that contains the conversation audio."
        }
      }
    },
    "GoogleCloudCesV1mainBlob": {
      "properties": {
        "mimeType": {
          "description": "Required. The IANA standard MIME type of the source data.",
          "type": "string"
        },
        "data": {
          "type": "string",
          "format": "byte",
          "description": "Required. Raw bytes of the blob."
        }
      },
      "description": "Represents a blob input or output in the conversation.",
      "type": "object",
      "id": "GoogleCloudCesV1mainBlob"
    },
    "GoogleCloudContactcenterinsightsV1RedirectAction": {
      "description": "The redirect action to be taken when the chart is clicked.",
      "id": "GoogleCloudContactcenterinsightsV1RedirectAction",
      "type": "object",
      "properties": {
        "queryParams": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The query params to be added to the redirect path."
        },
        "relativePath": {
          "description": "The relative path to redirect to.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainDialogflowInteractionData": {
      "type": "object",
[...]
