{
  "ownerName": "Google",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "name": "content",
  "baseUrl": "https://shoppingcontent.googleapis.com/content/v2.1/",
  "schemas": {
    "DeliveryTime": {
      "id": "DeliveryTime",
      "properties": {
        "transitTimeTable": {
          "description": "Transit time table, number of business days spent in transit based on row and column dimensions. Either `{min,max}TransitTimeInDays` or `transitTimeTable` can be set, but not both.",
          "$ref": "TransitTable"
        },
        "holidayCutoffs": {
          "description": "Holiday cutoff definitions. If configured, they specify order cutoff times for holiday-specific shipping.",
          "type": "array",
          "items": {
            "$ref": "HolidayCutoff"
          }
        },
        "handlingBusinessDayConfig": {
          "description": "The business days during which orders can be handled. If not provided, Monday to Friday business days will be assumed.",
          "$ref": "BusinessDayConfig"
        },
        "transitBusinessDayConfig": {
          "description": "The business days during which orders can be in-transit. If not provided, Monday to Friday business days will be assumed.",
          "$ref": "BusinessDayConfig"
        },
        "warehouseBasedDeliveryTimes": {
          "type": "array",
          "items": {
            "$ref": "WarehouseBasedDeliveryTime"
          },
          "description": "Indicates that the delivery time should be calculated per warehouse (shipping origin location) based on the settings of the selected carrier. When set, no other transit time related field in DeliveryTime should be set."
        },
        "maxHandlingTimeInDays": {
          "format": "uint32",
          "type": "integer",
          "description": "Maximum number of business days spent before an order is shipped. 0 means same day shipped, 1 means next day shipped. Must be greater than or equal to `minHandlingTimeInDays`."
        },
        "minHandlingTimeInDays": {
          "format": "uint32",
          "type": "integer",
          "description": "Minimum number of business days spent before an order is shipped. 0 means same day shipped, 1 means next day shipped."
        },
        "maxTransitTimeInDays": {
          "format": "uint32",
          "type": "integer",
          "description": "Maximum number of business days that are spent in transit. 0 means same day delivery, 1 means next day delivery. Must be greater than or equal to `minTransitTimeInDays`."
        },
        "cutoffTime": {
          "description": "Business days cutoff time definition. If not configured, the cutoff time will be defaulted to 8AM PST. If local delivery, use Service.StoreConfig.CutoffConfig.",
          "$ref": "CutoffTime"
        },
        "minTransitTimeInDays": {
          "description": "Minimum number of business days that are spent in transit. 0 means same day delivery, 1 means next day delivery. Either `{min,max}TransitTimeInDays` or `transitTimeTable` must be set, but not both.",
          "format": "uint32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "ShoppingAdsProgramStatusRegionStatus": {
      "type": "object",
      "id": "ShoppingAdsProgramStatusRegionStatus",
      "description": "Status of program and region.",
      "properties": {
        "reviewIneligibilityReasonDescription": {
          "type": "string",
          "description": "Reason a program in a specific region isn’t eligible for review. Only visible if `reviewEligibilityStatus` is `INELIGIBLE`."
        },
        "eligibilityStatus": {
          "description": "Eligibility status of the Shopping Ads program.",
          "enumDescriptions": [
            "State is not known.",
            "If the account has no issues and review is completed successfully.",
            "There are one or more issues that needs to be resolved for account to be active for the program. Detailed list of account issues are available in [accountstatuses](https://developers.google.com/shopping-content/reference/rest/v2.1/accountstatuses) API.",
            "If account has issues but offers are servable. Some of the issue can make account DISAPPROVED after a certain deadline.",
            "Account is under review.",
            "Account is waiting for review to start.",
            "Program is currently onboarding. Upload valid offers to complete onboarding."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "APPROVED",
            "DISAPPROVED",
            "WARNING",
            "UNDER_REVIEW",
            "PENDING_REVIEW",
            "ONBOARDING"
          ]
        },
        "reviewIneligibilityReasonDetails": {
          "description": "Additional information for ineligibility. If `reviewIneligibilityReason` is `IN_COOLDOWN_PERIOD`, a timestamp for the end of the cooldown period is provided.",
          "$ref": "ShoppingAdsProgramStatusReviewIneligibilityReasonDetails"
        },
        "regionCodes": {
          "description": "The two-letter [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) codes for all the regions with the same `eligibilityStatus` and `reviewEligibility`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "onboardingIssues": {
          "description": "Issues that must be fixed to be eligible for review.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "reviewIneligibilityReason": {
          "description": "Review ineligibility reason if account is not eligible for review.",
          "enumDescriptions": [
            "Requesting a review from Google is not possible.",
            "All onboarding issues needs to be fixed.",
            "Not enough offers uploaded for this country.",
            "Cooldown period applies. Wait until cooldown period ends.",
            "Account is already under review.",
            "No issues available to review.",
            "Account will be automatically reviewed at the end of the grace period.",
            "Account is retired. Should not appear in MC.",
            "Account has already been reviewed. You can't request further reviews."
          ],
          "type": "string",
          "enum": [
            "REVIEW_INELIGIBILITY_REASON_UNSPECIFIED",
            "ONBOARDING_ISSUES",
            "NOT_ENOUGH_OFFERS",
            "IN_COOLDOWN_PERIOD",
            "ALREADY_UNDER_REVIEW",
            "NO_REVIEW_REQUIRED",
            "WILL_BE_REVIEWED_AUTOMATICALLY",
            "IS_RETIRED",
            "ALREADY_REVIEWED"
          ]
        },
        "reviewIssues": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Issues evaluated in the review process. Fix all issues before requesting a review."
        },
        "disapprovalDate": {
          "type": "string",
          "description": "Date by which eligibilityStatus will go from `WARNING` to `DISAPPROVED`. Only visible when your eligibilityStatus is WARNING. In [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format: `YYYY-MM-DD`."
        },
        "reviewEligibilityStatus": {
          "description": "If a program is eligible for review in a specific region. Only visible if `eligibilityStatus` is `DISAPPROVED`.",
          "enumDescriptions": [
            "Review eligibility state is unknown.",
            "Account is eligible for review for a specified region code.",
            "Account is not eligible for review for a specified region code."
          ],
          "type": "string",
          "enum": [
            "REVIEW_ELIGIBILITY_UNSPECIFIED",
            "ELIGIBLE",
            "INELIGIBLE"
          ]
        }
      }
    },
    "AccountsCustomBatchRequestEntry": {
      "id": "AccountsCustomBatchRequestEntry",
      "description": "A batch entry encoding a single non-batch accounts request.",
      "properties": {
        "merchantId": {
          "description": "The ID of the managing account.",
          "type": "string",
          "format": "uint64"
        },
        "linkRequest": {
          "description": "Details about the `link` request.",
          "$ref": "AccountsCustomBatchRequestEntryLinkRequest"
        },
        "method": {
          "type": "string",
          "description": "The method of the batch entry. Acceptable values are: - \"`claimWebsite`\" - \"`delete`\" - \"`get`\" - \"`insert`\" - \"`link`\" - \"`update`\" "
        },
        "accountId": {
          "description": "The ID of the targeted account. Only defined if the method is not `insert`.",
          "format": "uint64",
          "type": "string"
        },
        "overwrite": {
          "type": "boolean",
          "description": "Only applicable if the method is `claimwebsite`. Indicates whether or not to take the claim from another account in case there is a conflict."
        },
        "view": {
          "type": "string",
          "description": "Controls which fields are visible. Only applicable if the method is 'get'."
        },
        "account": {
          "description": "The account to create or update. Only defined if the method is `insert` or `update`.",
          "$ref": "Account"
        },
        "labelIds": {
          "type": "array",
          "items": {
            "format": "uint64",
            "type": "string"
          },
          "description": "Label IDs for the 'updatelabels' request."
        },
        "batchId": {
          "format": "uint32",
          "type": "integer",
          "description": "An entry ID, unique within the batch request."
        },
        "force": {
          "description": "Whether the account should be deleted if the account has offers. Only applicable if the method is `delete`.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "AccountStatus": {
      "id": "AccountStatus",
      "description": "The status of an account, that is, information about its products, which is computed offline and not returned immediately at insertion time.",
      "properties": {
        "websiteClaimed": {
          "description": "Whether the account's website is claimed or not.",
          "type": "boolean"
        },
        "accountManagement": {
          "description": "How the account is managed. Acceptable values are: - \"`manual`\" - \"`automatic`\" ",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#accountStatus`\""
        },
        "accountId": {
          "type": "string",
          "description": "The ID of the account for which the status is reported."
        },
        "products": {
          "description": "List of product-related data by channel, destination, and country. Data in this field may be delayed by up to 30 minutes.",
          "type": "array",
          "items": {
            "$ref": "AccountStatusProducts"
          }
        },
        "accountLevelIssues": {
          "description": "A list of account level issues.",
          "type": "array",
          "items": {
            "$ref": "AccountStatusAccountLevelIssue"
          }
        }
      },
      "type": "object"
    },
    "MethodQuota": {
      "type": "object",
      "id": "MethodQuota",
      "description": "The quota information per method in the Content API.",
      "properties": {
        "quotaMinuteLimit": {
          "readOnly": true,
          "description": "Output only. The maximum number of calls allowed per minute for the method.",
          "type": "string",
          "format": "int64"
        },
        "method": {
          "readOnly": true,
          "description": "Output only. The method name, for example `products.list`. Method name does not contain version because quota can be shared between different API versions of the same method.",
          "type": "string"
        },
        "quotaUsage": {
          "readOnly": true,
          "description": "Output only. The current quota usage, meaning the number of calls already made to the method per day. Usage is reset every day at 12 PM midday UTC.",
          "type": "string",
          "format": "int64"
        },
        "quotaLimit": {
          "description": "Output only. The maximum number of calls allowed per day for the method.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        }
      }
    },
    "ShippingsettingsCustomBatchResponseEntry": {
      "type": "object",
      "id": "ShippingsettingsCustomBatchResponseEntry",
      "description": "A batch entry encoding a single non-batch shipping settings response.",
      "properties": {
        "batchId": {
          "description": "The ID of the request entry to which this entry responds.",
          "format": "uint32",
          "type": "integer"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#shippingsettingsCustomBatchResponseEntry`\""
        },
        "shippingSettings": {
          "description": "The retrieved or updated account shipping settings.",
          "$ref": "ShippingSettings"
        },
        "errors": {
          "description": "A list of errors for failed custombatch entries. *Note:* Schema errors fail the whole request.",
          "$ref": "Errors"
        }
      }
    },
    "LiasettingsRequestInventoryVerificationResponse": {
      "id": "LiasettingsRequestInventoryVerificationResponse",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#liasettingsRequestInventoryVerificationResponse`\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AccountStatusItemLevelIssue": {
      "type": "object",
      "id": "AccountStatusItemLevelIssue",
      "properties": {
        "code": {
          "type": "string",
          "description": "The error code of the issue."
        },
        "detail": {
          "description": "A detailed issue description in English.",
          "type": "string"
        },
        "resolution": {
          "type": "string",
          "description": "Whether the issue can be resolved by the merchant."
        },
        "numItems": {
          "description": "Number of items with this issue.",
          "format": "int64",
          "type": "string"
        },
        "attributeName": {
          "type": "string",
          "description": "The attribute's name, if the issue is caused by a single attribute."
        },
        "documentation": {
          "type": "string",
          "description": "The URL of a web page to help with resolving this issue."
        },
        "description": {
          "description": "A short issue description in English.",
          "type": "string"
        },
        "servability": {
          "type": "string",
          "description": "How this issue affects serving of the offer."
        }
      }
    },
    "InputValue": {
      "type": "object",
      "id": "InputValue",
      "description": "Input provided by the merchant for input field.",
      "properties": {
        "textInputValue": {
          "description": "Value for text input field.",
          "$ref": "InputValueTextInputValue"
        },
        "choiceInputValue": {
          "description": "Value for choice input field.",
          "$ref": "InputValueChoiceInputValue"
        },
        "inputFieldId": {
          "type": "string",
          "description": "Required. Id of the corresponding input field."
        },
        "checkboxInputValue": {
          "description": "Value for checkbox input field.",
          "$ref": "InputValueCheckboxInputValue"
        }
      }
    },
    "AccountIssueImpact": {
      "id": "AccountIssueImpact",
      "description": "Overall impact of the issue.",
      "properties": {
        "breakdowns": {
          "type": "array",
          "items": {
            "$ref": "Breakdown"
          },
          "description": "Detailed impact breakdown. Explains the types of restriction the issue has in different shopping destinations and territory. If present, it should be rendered to the merchant. Can be shown as a mouse over dropdown or a dialog. Each breakdown item represents a group of regions with the same impact details."
        },
        "message": {
          "description": "Optional. Message summarizing the overall impact of the issue. If present, it should be rendered to the merchant. For example: \"Disapproves 90k offers in 25 countries\"",
          "type": "string"
        },
        "severity": {
          "description": "The severity of the issue.",
          "enumDescriptions": [
            "Default value. Will never be provided by the API.",
            "Causes either an account suspension or an item disapproval. Errors should be resolved as soon as possible to ensure items are eligible to appear in results again.",
            "Warnings can negatively impact the performance of ads and can lead to item or account suspensions in the future unless the issue is resolved.",
            "Infos are suggested optimizations to increase data quality. Resolving these issues is recommended, but not required."
          ],
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "ERROR",
            "WARNING",
            "INFO"
          ]
        }
      },
      "type": "object"
    },
    "ProductCluster": {
      "type": "object",
      "id": "ProductCluster",
      "description": "Product cluster fields. A product cluster is a grouping for different offers that represent the same product. Values are only set for fields requested explicitly in the request's search query.",
      "properties": {
        "categoryL5": {
          "type": "string",
          "description": "Product category (5th level) of the product cluster, represented in Google's product taxonomy."
        },
        "variantGtins": {
          "description": "GTINs of example variants of the product cluster.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "inventoryStatus": {
          "description": "Tells whether the product cluster is `IN_STOCK` in your product feed across multiple countries, `OUT_OF_STOCK` in your product feed, or `NOT_IN_INVENTORY` at all. The field doesn't take the Best Sellers report country filter into account.",
          "enumDescriptions": [
            "Inventory status is unknown.",
            "Merchant has a product for this product cluster or brand in stock.",
            "Merchant has a product for this product cluster or brand in inventory but it is currently out of stock.",
            "Merchant does not have a product for this product cluster or brand in inventory."
          ],
          "type": "string",
          "enum": [
            "INVENTORY_STATUS_UNSPECIFIED",
            "IN_STOCK",
            "OUT_OF_STOCK",
            "NOT_IN_INVENTORY"
          ]
        },
        "categoryL3": {
          "description": "Product category (3rd level) of the product cluster, represented in Google's product taxonomy.",
          "type": "string"
        },
        "title": {
          "description": "Title of the product cluster.",
          "type": "string"
        },
        "brand": {
          "description": "Brand of the product cluster.",
          "type": "string"
        },
        "categoryL1": {
          "type": "string",
          "description": "Product category (1st level) of the product cluster, represented in Google's product taxonomy."
        },
        "categoryL4": {
          "description": "Product category (4th level) of the product cluster, represented in Google's product taxonomy.",
          "type": "string"
        },
        "categoryL2": {
          "type": "string",
          "description": "Product category (2nd level) of the product cluster, represented in Google's product taxonomy."
        },
        "brandInventoryStatus": {
          "description": "Tells if there is at least one product of the brand currently `IN_STOCK` in your product feed across multiple countries, all products are `OUT_OF_STOCK` in your product feed, or `NOT_IN_INVENTORY`. The field doesn't take the Best Sellers report country filter into account.",
          "enumDescriptions": [
            "Inventory status is unknown.",
            "Merchant has a product for this product cluster or brand in stock.",
            "Merchant has a product for this product cluster or brand in inventory but it is currently out of stock.",
            "Merchant does not have a product for this product cluster or brand in inventory."
          ],
          "type": "string",
          "enum": [
            "INVENTORY_STATUS_UNSPECIFIED",
            "IN_STOCK",
            "OUT_OF_STOCK",
            "NOT_IN_INVENTORY"
          ]
        }
      }
    },
    "AccountTax": {
      "id": "AccountTax",
      "description": "The tax settings of a merchant account. All methods require the admin role.",
      "properties": {
        "rules": {
          "description": "Tax rules. Updating the tax rules will enable \"US\" taxes (not reversible). Defining no rules is equivalent to not charging tax at all.",
          "type": "array",
          "items": {
            "$ref": "AccountTaxTaxRule"
          }
        },
        "accountId": {
          "description": "Required. The ID of the account to which these account tax settings belong.",
          "type": "string",
          "format": "uint64"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#accountTax`\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ProductsCustomBatchRequestEntry": {
      "id": "ProductsCustomBatchRequestEntry",
      "description": "A batch entry encoding a single non-batch products request.",
      "properties": {
        "batchId": {
          "description": "An entry ID, unique within the batch request.",
          "type": "integer",
          "format": "uint32"
        },
        "method": {
          "type": "string",
          "description": "The method of the batch entry. Acceptable values are: - \"`delete`\" - \"`get`\" - \"`insert`\" - \"`update`\" "
        },
        "product": {
          "description": "The product to insert or update. Only required if the method is `insert` or `update`. If the `update` method is used with `updateMask` only to delete a field, then this isn't required. For example, setting `salePrice` on the `updateMask` and not providing a `product` will result in an existing sale price on the product specified by `productId` being deleted.",
          "$ref": "Product"
        },
        "productId": {
          "type": "string",
          "description": "The ID of the product to get or mutate. Only defined if the method is `get`, `delete`, or `update`."
        },
        "feedId": {
          "type": "string",
          "format": "uint64",
          "description": "The Content API Supplemental Feed ID. If present then product insertion or deletion applies to a supplemental feed instead of primary Content API feed."
        },
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "The comma-separated list of product attributes to be updated. Example: `\"title,salePrice\"`. Attributes specified in the update mask without a value specified in the body will be deleted from the product. *You must specify the update mask to delete attributes.* Only top-level product attributes can be updated. If not defined, product attributes with set values will be updated and other attributes will stay unchanged. Only defined if the method is `update`."
        },
        "merchantId": {
          "format": "uint64",
          "type": "string",
          "description": "The ID of the managing account."
        }
      },
      "type": "object"
    },
    "LocalinventoryCustomBatchResponseEntry": {
      "type": "object",
      "id": "LocalinventoryCustomBatchResponseEntry",
      "description": "Batch entry encoding a single local inventory update response.",
      "properties": {
        "batchId": {
          "description": "The ID of the request entry this entry responds to.",
          "type": "integer",
          "format": "uint32"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#localinventoryCustomBatchResponseEntry`\"",
          "type": "string"
        },
        "errors": {
          "description": "A list of errors for failed custombatch entries. *Note:* Schema errors fail the whole request.",
          "$ref": "Errors"
        }
      }
    },
    "HolidaysHoliday": {
      "type": "object",
      "id": "HolidaysHoliday",
      "properties": {
        "id": {
          "type": "string",
          "description": "Unique identifier for the holiday to be used when configuring holiday cutoffs. Always present."
        },
        "date": {
          "description": "Date of the holiday, in ISO 8601 format. For example, \"2016-12-25\" for Christmas 2016. Always present.",
          "type": "string"
        },
        "deliveryGuaranteeHour": {
          "format": "uint64",
          "type": "string",
          "description": "Hour of the day in the delivery location's timezone on the guaranteed delivery date by which the order has to arrive at the customer's. Possible values are: 0 (midnight), 1, ..., 12 (noon), 13, ..., 23. Always present."
        },
        "type": {
          "description": "The holiday type. Always present. Acceptable values are: - \"`Christmas`\" - \"`Easter`\" - \"`Father's Day`\" - \"`Halloween`\" - \"`Independence Day (USA)`\" - \"`Mother's Day`\" - \"`Thanksgiving`\" - \"`Valentine's Day`\" ",
          "type": "string"
        },
        "countryCode": {
          "description": "The CLDR territory code of the country in which the holiday is available. For example, \"US\", \"DE\", \"GB\". A holiday cutoff can only be configured in a shipping settings service with matching delivery country. Always present.",
          "type": "string"
        },
        "deliveryGuaranteeDate": {
          "type": "string",
          "description": "Date on which the order has to arrive at the customer's, in ISO 8601 format. For example, \"2016-12-24\" for 24th December 2016. Always present."
        }
      }
    },
    "OrderTrackingSignalShippingInfo": {
      "id": "OrderTrackingSignalShippingInfo",
      "description": "The shipping information for the order.",
      "properties": {
        "shippedTime": {
          "description": "The time when the shipment was shipped. Include the year and timezone string, if available.",
          "$ref": "DateTime"
        },
        "trackingId": {
          "description": "The tracking ID of the shipment. This field is required if one of the following fields is absent: earliest_delivery_promise_time, latest_delivery_promise_time, and actual_delivery_time.",
          "type": "string"
        },
        "carrierServiceName": {
          "type": "string",
          "description": "The service type for fulfillment, e.g., GROUND, FIRST_CLASS, etc."
        },
        "carrierName": {
          "description": "The name of the shipping carrier for the delivery. This field is required if one of the following fields is absent: earliest_delivery_promise_time, latest_delivery_promise_time, and actual_delivery_time.",
          "type": "string"
        },
        "originRegionCode": {
          "description": "The [CLDR territory code] (http://www.unicode.org/repos/cldr/tags/latest/common/main/en.xml) for the shipping origin.",
          "type": "string"
        },
        "actualDeliveryTime": {
          "description": "The time when the shipment was actually delivered. Include the year and timezone string, if available. This field is required, if one of the following fields is absent: tracking_id or carrier_name.",
          "$ref": "DateTime"
        },
        "shippingStatus": {
          "type": "string",
          "enum": [
            "SHIPPING_STATE_UNSPECIFIED",
            "SHIPPED",
            "DELIVERED"
          ],
          "description": "The status of the shipment.",
          "enumDescriptions": [
            "The shipping status is not known to merchant.",
            "All items are shipped.",
            "The shipment is already delivered."
          ]
        },
        "originPostalCode": {
          "type": "string",
          "description": "The origin postal code, as a continuous string without spaces or dashes, e.g. \"95016\". This field will be anonymized in returned OrderTrackingSignal creation response."
        },
        "shipmentId": {
          "description": "Required. The shipment ID. This field will be hashed in returned OrderTrackingSignal creation response.",
          "type": "string"
        },
        "latestDeliveryPromiseTime": {
          "description": "The latest delivery promised time. Include the year and timezone string, if available. This field is required, if one of the following fields is absent: tracking_id or carrier_name.",
          "$ref": "DateTime"
        },
        "earliestDeliveryPromiseTime": {
          "description": "The earliest delivery promised time. Include the year and timezone string, if available. This field is required, if one of the following fields is absent: tracking_id or carrier_name.",
          "$ref": "DateTime"
        }
      },
      "type": "object"
    },
    "ProductTax": {
      "type": "object",
      "id": "ProductTax",
      "properties": {
        "country": {
          "description": "The country within which the item is taxed, specified as a CLDR territory code.",
          "type": "string"
        },
        "postalCode": {
          "description": "The postal code range that the tax rate applies to, represented by a ZIP code, a ZIP code prefix using * wildcard, a range between two ZIP codes or two ZIP code prefixes of equal length. Examples: 94114, 94*, 94002-95460, 94*-95*.",
          "type": "string"
        },
        "locationId": {
          "format": "int64",
          "type": "string",
          "description": "The numeric ID of a location that the tax rate applies to as defined in the Google Ads API."
        },
        "region": {
          "description": "The geographic region to which the tax rate applies.",
          "type": "string"
        },
        "rate": {
          "format": "double",
          "type": "number",
          "description": "The percentage of tax rate that applies to the item price."
        },
        "taxShip": {
          "description": "Should be set to true if tax is charged on shipping.",
          "type": "boolean"
        }
      }
    },
    "PostalCodeGroup": {
      "id": "PostalCodeGroup",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the postal code group, referred to in headers. Required."
        },
        "country": {
          "type": "string",
          "description": "The CLDR territory code of the country the postal code group applies to. Required."
        },
        "postalCodeRanges": {
          "type": "array",
          "items": {
            "$ref": "PostalCodeRange"
          },
          "description": "A range of postal codes. Required."
        }
      },
      "type": "object"
    },
    "BuiltInUserInputAction": {
      "id": "BuiltInUserInputAction",
      "description": "Action that is implemented and performed in (your) third-party application. The application needs to show an additional content and input form to the merchant. They can start the action only when they provided all required inputs. The application will request processing of the action by calling the [triggeraction method](https://developers.google.com/shopping-content/reference/rest/v2.1/merchantsupport/triggeraction).",
      "properties": {
        "flows": {
          "description": "Actions may provide multiple different flows. Merchant selects one that fits best to their intent. Selecting the flow is the first step in user's interaction with the action. It affects what input fields will be available and required and also how the request will be processed.",
          "type": "array",
          "items": {
            "$ref": "ActionFlow"
          }
        },
        "actionContext": {
          "type": "string",
          "description": "Internal details. Not for display but need to be sent back when triggering the action."
        }
      },
      "type": "object"
    },
    "OrderTrackingSignal": {
      "id": "OrderTrackingSignal",
      "description": "Represents a merchant trade from which signals are extracted, e.g. shipping.",
      "properties": {
        "shipmentLineItemMapping": {
          "type": "array",
          "items": {
            "$ref": "OrderTrackingSignalShipmentLineItemMapping"
          },
          "description": "The mapping of the line items to the shipment information."
        },
        "merchantId": {
          "description": "The Google merchant ID of this order tracking signal. This value is optional. If left unset, the caller's merchant ID is used. You must request access in order to provide data on behalf of another merchant. For more information, see [Submitting Order Tracking Signals](/shopping-content/guides/order-tracking-signals).",
          "type": "string",
          "format": "int64"
        },
        "deliveryPostalCode": {
          "description": "Required. The delivery postal code, as a continuous string without spaces or dashes, e.g. \"95016\". This field will be anonymized in returned OrderTrackingSignal creation response.",
          "type": "string"
        },
        "deliveryRegionCode": {
          "description": "Required. The [CLDR territory code] (http://www.unicode.org/repos/cldr/tags/latest/common/main/en.xml) for the shipping destination.",
          "type": "string"
        },
        "orderTrackingSignalId": {
          "readOnly": true,
          "description": "Output only. The ID that uniquely identifies this order tracking signal.",
          "type": "string",
          "format": "int64"
        },
        "orderId": {
          "description": "Required. The ID of the order on the merchant side. This field will be hashed in returned OrderTrackingSignal creation response.",
          "type": "string"
        },
        "shippingInfo": {
          "type": "array",
          "items": {
            "$ref": "OrderTrackingSignalShippingInfo"
          },
          "description": "The shipping information for the order."
        },
        "lineItems": {
          "description": "Information about line items in the order.",
          "type": "array",
          "items": {
            "$ref": "OrderTrackingSignalLineItemDetails"
          }
        },
        "orderCreatedTime": {
          "description": "Required. The time when the order was created on the merchant side. Include the year and timezone string, if available.",
          "$ref": "DateTime"
        },
        "customerShippingFee": {
          "description": "The shipping fee of the order; this value should be set to zero in the case of free shipping.",
          "$ref": "PriceAmount"
        }
      },
      "type": "object"
    },
    "PosDataProvidersPosDataProvider": {
      "type": "object",
      "id": "PosDataProvidersPosDataProvider",
      "properties": {
        "providerId": {
          "type": "string",
          "format": "uint64",
          "description": "The ID of the account."
        },
        "displayName": {
          "type": "string",
          "description": "The display name of Pos data Provider."
        },
        "fullName": {
          "type": "string",
          "description": "The full name of this POS data Provider."
        }
      }
    },
    "DatafeedStatusExample": {
      "type": "object",
      "id": "DatafeedStatusExample",
      "description": "An example occurrence for a particular error.",
      "properties": {
        "lineNumber": {
          "description": "Line number in the data feed where the example is found.",
          "type": "string",
          "format": "uint64"
        },
        "itemId": {
          "description": "The ID of the example item.",
          "type": "string"
        },
        "value": {
          "description": "The problematic value.",
          "type": "string"
        }
      }
    },
    "ListConversionSourcesResponse": {
      "id": "ListConversionSourcesResponse",
      "description": "Response message for the ListConversionSources method.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to be used to fetch the next results page."
        },
        "conversionSources": {
          "description": "List of conversion sources.",
          "type": "array",
          "items": {
            "$ref": "ConversionSource"
          }
        }
      },
      "type": "object"
    },
    "AttributionSettings": {
      "id": "AttributionSettings",
      "description": "Represents attribution settings for conversion sources receiving pre-attribution data.",
      "properties": {
        "attributionLookbackWindowInDays": {
          "type": "integer",
          "format": "int32",
          "description": "Required. Lookback windows (in days) used for attribution in this source. Supported values are 7, 30, 40."
        },
        "conversionType": {
          "description": "Immutable. Unordered list. List of different conversion types a conversion event can be classified as. A standard \"purchase\" type will be automatically created if this list is empty at creation time.",
          "type": "array",
          "items": {
            "$ref": "AttributionSettingsConversionType"
          }
        },
        "attributionModel": {
          "type": "string",
          "enum": [
            "ATTRIBUTION_MODEL_UNSPECIFIED",
            "CROSS_CHANNEL_LAST_CLICK",
            "ADS_PREFERRED_LAST_CLICK",
            "CROSS_CHANNEL_DATA_DRIVEN",
            "CROSS_CHANNEL_FIRST_CLICK",
            "CROSS_CHANNEL_LINEAR",
            "CROSS_CHANNEL_POSITION_BASED",
            "CROSS_CHANNEL_TIME_DECAY"
          ],
          "enumDescriptions": [
            "",
            "Cross-channel Last Click model.",
            "Ads-preferred Last Click model.",
            "Cross-channel Data Driven model.",
            "Cross-channel First Click model.",
            "Cross-channel Linear model.",
            "Cross-channel Position Based model.",
            "Cross-channel Time Decay model."
          ]
        }
      },
      "type": "object"
    },
    "TriggerActionResponse": {
      "id": "TriggerActionResponse",
      "description": "Response informing about the started action.",
      "properties": {
        "message": {
          "description": "The message for merchant.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TimePeriod": {
      "type": "object",
      "id": "TimePeriod",
      "description": "A message that represents a time period.",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The starting timestamp."
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The ending timestamp."
        }
      }
    },
    "Account": {
      "id": "Account",
      "description": "Account data. After the creation of a new account it may take a few minutes before it's fully operational. The methods delete, insert, and update require the admin role.",
      "properties": {
        "googleMyBusinessLink": {
          "description": "The Business Profile which is linked or in the process of being linked with the Merchant Center account.",
          "$ref": "AccountGoogleMyBusinessLink"
        },
        "name": {
          "type": "string",
          "description": "Required. Display name for the account."
        },
        "youtubeChannelLinks": {
          "description": "Linked YouTube channels that are active or pending approval. To create a new link request, add a new link with status `active` to the list. It will remain in a `pending` state until approved or rejected in the YT Creator Studio interface. To delete an active link, or to cancel a link request, remove it from the list.",
          "type": "array",
          "items": {
            "$ref": "AccountYouTubeChannelLink"
          }
        },
        "businessIdentity": {
          "description": "The business identity attributes can be used to self-declare attributes that let customers know more about your business.",
          "$ref": "AccountBusinessIdentity"
        },
        "adultContent": {
          "description": "Indicates whether the merchant sells adult content.",
          "type": "boolean"
        },
        "labelIds": {
          "type": "array",
          "items": {
            "format": "uint64",
            "type": "string"
          },
          "description": "Manually created label IDs that are assigned to the account by CSS."
        },
        "businessInformation": {
          "description": "The business information of the account.",
          "$ref": "AccountBusinessInformation"
        },
        "websiteUrl": {
          "type": "string",
          "description": "The merchant's website."
        },
        "users": {
          "type": "array",
          "items": {
            "$ref": "AccountUser"
          },
          "description": "Users with access to the account. Every account (except for subaccounts) must have at least one admin user."
        },
        "id": {
          "type": "string",
          "format": "uint64",
          "description": "Required. 64-bit Merchant Center account ID."
        },
        "automaticImprovements": {
          "description": "The automatic improvements of the account can be used to automatically update items, improve images and shipping. Each section inside AutomaticImprovements is updated separately.",
          "$ref": "AccountAutomaticImprovements"
        },
        "cssId": {
          "format": "uint64",
          "type": "string",
          "description": "ID of CSS the account belongs to."
        },
        "conversionSettings": {
          "description": "Settings for conversion tracking.",
          "$ref": "AccountConversionSettings"
        },
        "accountManagement": {
          "type": "string",
          "description": "Output only. How the account is managed. Acceptable values are: - \"`manual`\" - \"`automatic`\" ",
          "readOnly": true
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#account`\".",
          "type": "string"
        },
        "automaticLabelIds": {
          "description": "Automatically created label IDs that are assigned to the account by CSS Center.",
          "type": "array",
          "items": {
            "format": "uint64",
            "type": "string"
          }
        },
        "sellerId": {
          "type": "string",
          "description": "Client-specific, locally-unique, internal ID for the child account."
        },
        "adsLinks": {
          "type": "array",
          "items": {
            "$ref": "AccountAdsLink"
          },
          "description": "Linked Ads accounts that are active or pending approval. To create a new link request, add a new link with status `active` to the list. It will remain in a `pending` state until approved or rejected either in the Ads interface or through the Google Ads API. To delete an active link, or to cancel a link request, remove it from the list."
        }
      },
      "type": "object"
    },
    "ExternalAction": {
      "id": "ExternalAction",
      "description": "Action that is implemented and performed outside of the third-party application. It should redirect the merchant to the provided URL of an external system where they can perform the action. For example to request a review in the Merchant Center.",
      "properties": {
        "uri": {
          "description": "URL to external system, for example Merchant Center, where the merchant can perform the action.",
          "type": "string"
        },
        "type": {
          "description": "The type of external action.",
          "enumDescriptions": [
            "Default value. Will never be provided by the API.",
            "Redirect to Merchant Center where the merchant can request a review for issue related to their product.",
            "Redirect to Merchant Center where the merchant can request a review for issue related to their account.",
            "Redirect to the form in Help Center where the merchant can request a legal appeal for the issue.",
            "Redirect to Merchant Center where the merchant can perform identity verification."
          ],
          "type": "string",
          "enum": [
            "EXTERNAL_ACTION_TYPE_UNSPECIFIED",
            "REVIEW_PRODUCT_ISSUE_IN_MERCHANT_CENTER",
            "REVIEW_ACCOUNT_ISSUE_IN_MERCHANT_CENTER",
            "LEGAL_APPEAL_IN_HELP_CENTER",
            "VERIFY_IDENTITY_IN_MERCHANT_CENTER"
          ]
        }
      },
      "type": "object"
    },
    "Errors": {
      "type": "object",
      "id": "Errors",
      "description": "A list of errors returned by a failed batch entry.",
      "properties": {
        "code": {
          "type": "integer",
          "format": "uint32",
          "description": "The HTTP status of the first error in `errors`."
        },
        "message": {
          "type": "string",
          "description": "The message of the first error in `errors`."
        },
        "errors": {
          "description": "A list of errors.",
          "type": "array",
          "items": {
            "$ref": "Error"
          }
        }
      }
    },
    "ProductId": {
      "type": "object",
      "id": "ProductId",
      "description": "The Content API ID of the product.",
      "properties": {
        "productId": {
          "type": "string",
          "description": "The Content API ID of the product, in the form `channel:contentLanguage:targetCountry:offerId`."
        }
      }
    },
    "AccountImageImprovementsSettings": {
      "type": "object",
      "id": "AccountImageImprovementsSettings",
      "description": "Settings for the Automatic Image Improvements.",
      "properties": {
        "allowAutomaticImageImprovements": {
          "description": "Enables automatic image improvements.",
          "type": "boolean"
        }
      }
    },
    "LabelIds": {
      "id": "LabelIds",
      "description": "The IDs of labels that should be assigned to the CSS domain.",
      "properties": {
        "labelIds": {
          "description": "The list of label IDs.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        }
      },
      "type": "object"
    },
    "Metrics": {
      "type": "object",
      "id": "Metrics",
      "description": "Performance metrics. Values are only set for metrics requested explicitly in the request's search query.",
      "properties": {
        "daysToShip": {
          "description": "*Deprecated*: This field is no longer supported and retrieving it returns 0 starting from May 2024. Average number of days between an order being placed and the order being fully shipped, reported on the last shipment date. **This metric cannot be segmented by product dimensions and customer_country_code.**",
          "format": "double",
          "type": "number"
        },
        "aos": {
          "description": "*Deprecated*: This field is no longer supported and retrieving it returns 0 starting from May 2024. Average order size - the average number of items in an order. **This metric cannot be segmented by product dimensions and customer_country_code.**",
          "format": "double",
          "type": "number"
        },
        "returnedItems": {
          "description": "*Deprecated*: This field is no longer supported and retrieving it returns 0 starting from May 2024. Number of ordered items sent back for return, reported on the date when the merchant accepted the return. **This metric cannot be segmented by customer_country_code.**",
          "format": "int64",
          "type": "string"
        },
        "returnsMicros": {
          "format": "int64",
          "type": "string",
          "description": "*Deprecated*: This field is no longer supported and retrieving it returns 0 starting from May 2024. Total price of ordered items sent back for return in micros (1 millionth of a standard unit, 1 USD = 1000000 micros), reported on the date when the merchant accepted the return. The currency of the returned value is stored in the currency_code segment. If this metric is selected, 'segments.currency_code' is automatically added to the SELECT clause in the search query (unless it is explicitly selected by the user) and the currency_code segment is populated in the response. **This metric cannot be segmented by customer_country_code.**"
        },
        "itemDaysToShip": {
          "type": "number",
          "format": "double",
          "description": "*Deprecated*: This field is no longer supported and retrieving it returns 0 starting from May 2024. Average number of days between an item being ordered and the item being **This metric cannot be segmented by customer_country_code.**"
        },
        "conversions": {
          "format": "double",
          "type": "number",
          "description": "Number of conversions attributed to the product, reported on the conversion date. Depending on the attribution model, a conversion might be distributed across multiple clicks, where each click gets its own credit assigned. This metric is a sum of all such credits. The metric is currently available only for the `FREE_PRODUCT_LISTING` program."
        },
        "unshippedOrders": {
          "type": "number",
          "format": "double",
          "description": "*Deprecated*: This field is no longer supported and retrieving it returns 0 starting from May 2024. Number of orders not shipped or partially shipped up until the end of the queried day. If a multi-day period is specified in the search query, the returned value is the average number of unshipped orders over the days in the queried period. **This metric cannot be segmented by product dimensions and customer_country_code.**"
        },
        "rejectedItems": {
          "format": "int64",
          "type": "string",
          "description": "*Deprecated*: This field is no longer supported and retrieving it returns 0 starting from May 2024. Number of ordered items canceled by the merchant, reported on the order date. **This metric cannot be segmented by customer_country_code.**"
        },
        "shippedOrders": {
          "format": "int64",
          "type": "string",
          "description": "*Deprecated*: This field is no longer supported and retrieving it returns 0 starting from May 2024. Number of fully shipped orders, reported on the last shipment date. **This metric cannot be segmented by product dimensions and customer_country_code.**"
        },
        "ctr": {
          "format": "double",
          "type": "number",
          "description": "Click-through rate - the number of clicks merchant's products receive (clicks) divided by the number of times the products are shown (impressions)."
        },
        "impressions": {
          "type": "string",
          "format": "int64",
          "description": "Number of times merchant's products are shown."
        },
        "returnRate": {
          "type": "number",
          "format": "double",
          "description": "*Deprecated*: This field is no longer supported and retrieving it returns 0 starting from May 2024. Total price of returned items divided by the total price of shipped items, reported on the order date. If this metric is selected, 'segments.currency_code' is automatically added to the SELECT clause in the search query (unless it is explicitly selected by the user) and the currency_code segment is populated in the response. **This metric cannot be segmented by customer_country_code.**"
        },
        "orders": {
          "description": "*Deprecated*: This field is no longer supported and retrieving it returns 0 starting from May 2024. Number of placed orders. Excludes customer cancellations that happened within 30 minutes of placing the order. **This metric cannot be segmented by product dimensions and customer_country_code.**",
          "format": "int64",
          "type": "string"
        },
        "unshippedItems": {
          "format": "double",
          "type": "number",
          "description": "*Deprecated*: This field is no longer supported and retrieving it returns 0 starting from May 2024. Number of ordered items not shipped up until the end of the queried day. If a multi-day period is specified in the search query, the returned value is the average number of unshipped items over the days in the queried period. **This metric cannot be segmented by customer_country_code.**"
        },
        "itemFillRate": {
          "format": "double",
          "type": "number",
          "description": "*Deprecated*: This field is no longer supported and retrieving it returns 0 starting from May 2024. Percentage of shipped items in relation to all finalized items (shipped or rejected by the merchant; unshipped items are not taken into account), reported on the order date. Item fill rate is lowered by merchant rejections. **This metric cannot be segmented by customer_country_code.**"
        },
        "orderedItems": {
          "type": "string",
          "format": "int64",
          "description": "*Deprecated*: This field is no longer supported and retrieving it returns 0 starting from May 2024. Number of ordered items. Excludes customer cancellations that happened within 30 minutes of placing the order. **This metric cannot be segmented by customer_country_code.**"
        },
        "aovMicros": {
          "format": "double",
          "type": "number",
          "description": "*Deprecated*: This field is no longer supported and retrieving it returns 0 starting from May 2024. Average order value in micros (1 millionth of a standard unit, 1 USD = 1000000 micros) - the average value (total price of items) of all placed orders. The currency of the returned value is stored in the currency_code segment. If this metric is selected, 'segments.currency_code' is automatically added to the SELECT clause in the search query (unless it is explicitly selected by the user) and the currency_code segment is populated in the response. **This metric cannot be segmented by product dimensions and customer_country_code.**"
        },
        "clicks": {
          "format": "int64",
          "type": "string",
          "description": "Number of clicks."
        },
        "shippedItems": {
          "description": "*Deprecated*: This field is no longer supported and retrieving it returns 0 starting from May 2024. Number of shipped items, reported on the shipment date. **This metric cannot be segmented by customer_country_code.**",
          "type": "string",
          "format": "int64"
        },
        "shippedItemSalesMicros": {
          "description": "*Deprecated*: This field is no longer supported and retrieving it returns 0 starting from May 2024. Total price of shipped items in micros (1 millionth of a standard unit, 1 USD = 1000000 micros), reported on the order date. Excludes shipping and taxes (US only). The currency of the returned value is stored in the currency_code segment. If this metric is selected, 'segments.currency_code' is automatically added to the SELECT clause in the search query (unless it is explicitly selected by the user) and the currency_code segment is populated in the response. **This metric cannot be segmented by customer_country_code.**",
          "type": "string",
          "format": "int64"
        },
        "conversionValueMicros": {
          "description": "Value of conversions in micros (1 millionth of a standard unit, 1 USD = 1000000 micros) attributed to the product, reported on the conversion date. The metric is currently available only for the `FREE_PRODUCT_LISTING` program. The currency of the returned value is stored in the currency_code segment. If this metric is selected, 'segments.currency_code' is automatically added to the SELECT clause in the search query (unless it is explicitly selected by the user) and the currency_code segment is populated in the response.",
          "type": "string",
          "format": "int64"
        },
        "orderedItemSalesMicros": {
          "format": "int64",
          "type": "string",
          "description": "*Deprecated*: This field is no longer supported and retrieving it returns 0 starting from May 2024. Total price of ordered items in micros (1 millionth of a standard unit, 1 USD = 1000000 micros). Excludes shipping, taxes (US only), and customer cancellations that happened within 30 minutes of placing the order. The currency of the returned value is stored in the currency_code segment. If this metric is selected, 'segments.currency_code' is automatically added to the SELECT clause in the search query (unless it is explicitly selected by the user) and the currency_code segment is populated in the response. **This metric cannot be segmented by customer_country_code.**"
        },
        "conversionRate": {
          "description": "Number of conversions divided by the number of clicks, reported on the impression date. The metric is currently available only for the `FREE_PRODUCT_LISTING` program.",
          "format": "double",
          "type": "number"
        }
      }
    },
    "OrderTrackingSignalLineItemDetails": {
      "id": "OrderTrackingSignalLineItemDetails",
      "description": "The line items of the order.",
      "properties": {
        "productTitle": {
          "description": "Plain text title of this product.",
          "type": "string"
        },
        "productId": {
          "description": "Required. The Content API REST ID of the product, in the form channel:contentLanguage:targetCountry:offerId.",
          "type": "string"
        },
        "gtin": {
          "description": "The Global Trade Item Number.",
          "type": "string"
        },
        "lineItemId": {
          "description": "Required. The ID for this line item.",
          "type": "string"
        },
        "productDescription": {
          "description": "Plain text description of this product (deprecated: Please use product_title instead).",
          "deprecated": true,
          "type": "string"
        },
        "quantity": {
          "type": "string",
          "format": "int64",
          "description": "The quantity of the line item in the order."
        },
        "sku": {
          "type": "string",
          "description": "Merchant SKU for this item (deprecated).",
          "deprecated": true
        },
        "brand": {
          "type": "string",
          "description": "Brand of the product."
        },
        "mpn": {
          "description": "The manufacturer part number.",
          "type": "string"
        },
        "upc": {
          "type": "string",
          "description": "Universal product code for this item (deprecated: Please use GTIN instead).",
          "deprecated": true
        }
      },
      "type": "object"
    },
    "ProductstatusesCustomBatchRequest": {
      "id": "ProductstatusesCustomBatchRequest",
      "properties": {
        "entries": {
          "type": "array",
          "items": {
            "$ref": "ProductstatusesCustomBatchRequestEntry"
          },
          "description": "The request entries to be processed in the batch."
        }
      },
      "type": "object"
    },
    "Brand": {
      "type": "object",
      "id": "Brand",
      "description": "Brand fields. Values are only set for fields requested explicitly in the request's search query.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the brand."
        }
      }
    },
    "ProductViewItemIssueItemIssueType": {
      "type": "object",
      "id": "ProductViewItemIssueItemIssueType",
      "description": "Type of the item issue.",
      "properties": {
        "canonicalAttribute": {
          "type": "string",
          "description": "Canonical attribute name for attribute-specific issues."
        },
        "code": {
          "type": "string",
          "description": "Error code of the issue."
        }
      }
    },
    "AccountShippingImprovements": {
      "id": "AccountShippingImprovements",
      "description": "Not available for MCAs [accounts](https://support.google.com/merchants/answer/188487). By turning on [automatic shipping improvements](https://support.google.com/merchants/answer/10027038), you are allowing Google to improve the accuracy of your delivery times shown to shoppers using Google. More accurate delivery times, especially when faster, typically lead to better conversion rates. Google will improve your estimated delivery times based on various factors: * Delivery address of an order * Current handling time and shipping time settings * Estimated weekdays or business days * Parcel tracking data",
      "properties": {
        "allowShippingImprovements": {
          "type": "boolean",
          "description": "Enables automatic shipping improvements."
        }
      },
      "type": "object"
    },
    "DateTime": {
      "type": "object",
      "id": "DateTime",
      "description": "Represents civil time (or occasionally physical time). This type can represent a civil time in one of a few possible ways: * When utc_offset is set and time_zone is unset: a civil time on a calendar day with a particular offset from UTC. * When time_zone is set and utc_offset is unset: a civil time on a calendar day in a particular time zone. * When neither time_zone nor utc_offset is set: a civil time on a calendar day in local time. The date is relative to the Proleptic Gregorian Calendar. If year, month, or day are 0, the DateTime is considered not to have a specific year, month, or day respectively. This type may also be used to represent a physical time if all the date and time fields are set and either case of the `time_offset` oneof is set. Consider using `Timestamp` message for physical time instead. If your use case also would like to store the user's timezone, that can be done in another field. This type is more flexible than some applications may want. Make sure to document and validate your application's limitations.",
      "properties": {
        "minutes": {
          "description": "Optional. Minutes of hour of day. Must be from 0 to 59, defaults to 0.",
          "type": "integer",
          "format": "int32"
        },
        "timeZone": {
          "description": "Time zone.",
          "$ref": "TimeZone"
        },
        "month": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Month of year. Must be from 1 to 12, or 0 if specifying a datetime without a month."
        },
        "seconds": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Seconds of minutes of the time. Must normally be from 0 to 59, defaults to 0. An API may allow the value 60 if it allows leap-seconds."
        },
        "utcOffset": {
          "description": "UTC offset. Must be whole seconds, between -18 hours and +18 hours. For example, a UTC offset of -4:00 would be represented as { seconds: -14400 }.",
          "format": "google-duration",
          "type": "string"
        },
        "day": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Day of month. Must be from 1 to 31 and valid for the year and month, or 0 if specifying a datetime without a day."
        },
        "year": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Year of date. Must be from 1 to 9999, or 0 if specifying a datetime without a year."
        },
        "hours": {
          "description": "Optional. Hours of day in 24 hour format. Should be from 0 to 23, defaults to 0 (midnight). An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "format": "int32",
          "type": "integer"
        },
        "nanos": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999, defaults to 0."
        }
      }
    },
    "PosSaleRequest": {
      "type": "object",
      "id": "PosSaleRequest",
      "properties": {
        "saleId": {
          "type": "string",
          "description": "A unique ID to group items from the same sale event."
        },
        "storeCode": {
          "description": "Required. The identifier of the merchant's store. Either a `storeCode` inserted through the API or the code of the store in a Business Profile.",
          "type": "string"
        },
        "targetCountry": {
          "description": "Required. The CLDR territory code for the item.",
          "type": "string"
        },
        "gtin": {
          "description": "Global Trade Item Number.",
          "type": "string"
        },
        "timestamp": {
          "description": "Required. The inventory timestamp, in ISO 8601 format.",
          "type": "string"
        },
        "contentLanguage": {
          "description": "Required. The two-letter ISO 639-1 language code for the item.",
          "type": "string"
        },
        "price": {
          "description": "Required. The price of the item.",
          "$ref": "Price"
        },
        "itemId": {
          "description": "Required. A unique identifier for the item.",
          "type": "string"
        },
        "quantity": {
          "format": "int64",
          "type": "string",
          "description": "Required. The relative change of the available quantity. Negative for items returned."
        }
      }
    },
    "RequestPhoneVerificationRequest": {
      "type": "object",
      "id": "RequestPhoneVerificationRequest",
      "description": "Request message for the RequestPhoneVerification method.",
      "properties": {
        "languageCode": {
          "description": "Language code [IETF BCP 47 syntax](https://tools.ietf.org/html/bcp47) (for example, en-US). Language code is used to provide localized `SMS` and `PHONE_CALL`. Default language used is en-US if not provided.",
          "type": "string"
        },
        "phoneRegionCode": {
          "type": "string",
          "description": "Required. Two letter country code for the phone number, for example `CA` for Canadian numbers. See the [ISO 3166-1 alpha-2](https://wikipedia.org/wiki/ISO_3166-1_alpha-2#Officially_assigned_code_elements) officially assigned codes."
        },
        "phoneNumber": {
          "type": "string",
          "description": "Phone number to be verified."
        },
        "phoneVerificationMethod": {
          "description": "Verification method to receive verification code.",
          "enumDescriptions": [
            "Unknown method.",
            "Receive verification code by SMS.",
            "Receive verification code by phone call."
          ],
          "type": "string",
          "enum": [
            "PHONE_VERIFICATION_METHOD_UNSPECIFIED",
            "SMS",
            "PHONE_CALL"
          ]
        }
      }
    },
    "SearchResponse": {
      "type": "object",
      "id": "SearchResponse",
      "description": "Response message for the ReportService.Search method.",
      "properties": {
        "results": {
          "type": "array",
          "items": {
            "$ref": "ReportRow"
          },
          "description": "Rows that matched the search query."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token which can be sent as `page_token` to retrieve the next page. If omitted, there are no subsequent pages."
        }
      }
    },
    "ProductSubscriptionCost": {
      "id": "ProductSubscriptionCost",
      "properties": {
        "periodLength": {
          "type": "string",
          "format": "int64",
          "description": "The number of subscription periods the buyer has to pay."
        },
        "period": {
          "description": "The type of subscription period. - \"`month`\" - \"`year`\" ",
          "type": "string"
        },
        "amount": {
          "description": "The amount the buyer has to pay per subscription period.",
          "$ref": "Price"
        }
      },
      "type": "object"
    },
    "PosInventoryResponse": {
      "id": "PosInventoryResponse",
      "properties": {
        "gtin": {
          "description": "Global Trade Item Number.",
          "type": "string"
        },
        "timestamp": {
          "description": "Required. The inventory timestamp, in ISO 8601 format.",
          "type": "string"
        },
        "pickupSla": {
          "type": "string",
          "description": "Optional. Expected date that an order will be ready for pickup relative to the order date. Must be submitted together with `pickupMethod`. For accepted attribute values, see the [local product inventory feed specification](https://support.google.com/merchants/answer/3061342)."
        },
        "storeCode": {
          "type": "string",
          "description": "Required. The identifier of the merchant's store. Either a `storeCode` inserted through the API or the code of the store in a Business Profile."
        },
        "targetCountry": {
          "description": "Required. The CLDR territory code for the item.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#posInventoryResponse`\".",
          "type": "string"
        },
        "itemId": {
          "type": "string",
          "description": "Required. A unique identifier for the item."
        },
        "quantity": {
          "description": "Required. The available quantity of the item.",
          "format": "int64",
          "type": "string"
        },
        "pickupMethod": {
          "type": "string",
          "description": "Optional. Supported pickup method for this offer. Unless the value is \"not supported\", this field must be submitted together with `pickupSla`. For accepted attribute values, see the [local product inventory feed specification](https://support.google.com/merchants/answer/3061342)."
        },
        "contentLanguage": {
          "description": "Required. The two-letter ISO 639-1 language code for the item.",
          "type": "string"
        },
        "price": {
          "description": "Required. The current price of the item.",
          "$ref": "Price"
        }
      },
      "type": "object"
    },
    "ProductWeight": {
      "id": "ProductWeight",
      "properties": {
        "value": {
          "description": "Required. The weight represented as a number. The weight can have a maximum precision of four decimal places.",
          "type": "number",
          "format": "double"
        },
        "unit": {
          "type": "string",
          "description": "Required. The weight unit. Acceptable values are: - \"`g`\" - \"`kg`\" - \"`oz`\" - \"`lb`\" "
        }
      },
      "type": "object"
    },
    "MinimumOrderValueTable": {
      "id": "MinimumOrderValueTable",
      "properties": {
        "storeCodeSetWithMovs": {
          "type": "array",
          "items": {
            "$ref": "MinimumOrderValueTableStoreCodeSetWithMov"
          }
        }
      },
      "type": "object"
    },
    "ProductUnitPricingMeasure": {
      "type": "object",
      "id": "ProductUnitPricingMeasure",
      "properties": {
        "value": {
          "description": "The measure of an item.",
          "format": "double",
          "type": "number"
        },
        "unit": {
          "description": "The unit of the measure.",
          "type": "string"
        }
      }
    },
    "PosSaleResponse": {
      "type": "object",
      "id": "PosSaleResponse",
      "properties": {
        "storeCode": {
          "type": "string",
          "description": "Required. The identifier of the merchant's store. Either a `storeCode` inserted through the API or the code of the store in a Business Profile."
        },
        "targetCountry": {
          "description": "Required. The CLDR territory code for the item.",
          "type": "string"
        },
        "saleId": {
          "description": "A unique ID to group items from the same sale event.",
          "type": "string"
        },
        "timestamp": {
          "description": "Required. The inventory timestamp, in ISO 8601 format.",
          "type": "string"
        },
        "gtin": {
          "type": "string",
          "description": "Global Trade Item Number."
        },
        "contentLanguage": {
          "type": "string",
          "description": "Required. The two-letter ISO 639-1 language code for the item."
        },
        "price": {
          "description": "Required. The price of the item.",
          "$ref": "Price"
        },
        "quantity": {
          "type": "string",
          "format": "int64",
          "description": "Required. The relative change of the available quantity. Negative for items returned."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#posSaleResponse`\"."
        },
        "itemId": {
          "type": "string",
          "description": "Required. A unique identifier for the item."
        }
      }
    },
    "AccountGoogleMyBusinessLink": {
      "id": "AccountGoogleMyBusinessLink",
      "properties": {
        "gmbEmail": {
          "description": "The Business Profile email address of a specific account within a Business Profile. A sample account within a Business Profile could be a business account with set of locations, managed under the Business Profile.",
          "type": "string"
        },
        "status": {
          "type": "string",
          "description": "Status of the link between this Merchant Center account and the Business Profile. Acceptable values are: - \"`active`\" - \"`pending`\" "
        },
        "gmbAccountId": {
          "type": "string",
          "description": "The ID of the Business Profile. If this is provided, then `gmbEmail` is ignored. The value of this field should match the `accountId` used by the Business Profile API."
        }
      },
      "type": "object"
    },
    "CheckoutSettings": {
      "id": "CheckoutSettings",
      "description": "`CheckoutSettings` for a specific merchant ID.",
      "properties": {
        "enrollmentState": {
          "readOnly": true,
          "description": "Output only. Reflects the merchant enrollment state in `Checkout` feature.",
          "enumDescriptions": [
            "Default enrollment state when enrollment state is not specified.",
            "Merchant has not enrolled into the feature.",
            "Merchant has enrolled into the feature by providing either an account level URL or checkout URLs as part of their feed.",
            "Merchant has previously enrolled but opted out of the feature."
          ],
          "type": "string",
          "enum": [
            "CHECKOUT_ON_MERCHANT_ENROLLMENT_STATE_UNSPECIFIED",
            "INACTIVE",
            "ENROLLED",
            "OPT_OUT"
          ]
        },
        "effectiveUriSettings": {
          "description": "The effective value of `url_settings` for a given merchant ID. If account level settings are present then this value will be a copy of the account level settings. Otherwise, it will have the value of the parent account.",
          "$ref": "UrlSettings"
        },
        "effectiveEnrollmentState": {
          "type": "string",
          "enum": [
            "CHECKOUT_ON_MERCHANT_ENROLLMENT_STATE_UNSPECIFIED",
            "INACTIVE",
            "ENROLLED",
            "OPT_OUT"
          ],
          "description": "Output only. The effective value of enrollment state for a given merchant ID. If account level settings are present then this value will be a copy of the account level settings. Otherwise, it will have the value of the parent account.",
          "enumDescriptions": [
            "Default enrollment state when enrollment state is not specified.",
            "Merchant has not enrolled into the feature.",
            "Merchant has enrolled into the feature by providing either an account level URL or checkout URLs as part of their feed.",
            "Merchant has previously enrolled but opted out of the feature."
          ],
          "readOnly": true
        },
        "merchantId": {
          "format": "int64",
          "type": "string",
          "description": "Required. The ID of the account."
        },
        "reviewState": {
          "description": "Output only. Reflects the merchant review state in `Checkout` feature. This is set based on the data quality reviews of the URL provided by the merchant. A merchant with enrollment state as `ENROLLED` can be in the following review states: `IN_REVIEW`, `APPROVED` or `DISAPPROVED`. A merchant must be in an enrollment_state of `ENROLLED` before a review can begin for the merchant.",
          "enumDescriptions": [
            "Default review state when review state is not specified.",
            "Merchant provided URLs are being reviewed for data quality issues.",
            "Merchant account has been approved. Indicates the data quality checks have passed.",
            "Merchant account has been disapproved due to data quality issues."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "CHECKOUT_ON_MERCHANT_REVIEW_STATE_UNSPECIFIED",
            "IN_REVIEW",
            "APPROVED",
            "DISAPPROVED"
          ]
        },
        "effectiveReviewState": {
          "type": "string",
          "enum": [
            "CHECKOUT_ON_MERCHANT_REVIEW_STATE_UNSPECIFIED",
            "IN_REVIEW",
            "APPROVED",
            "DISAPPROVED"
          ],
          "description": "Output only. The effective value of review state for a given merchant ID. If account level settings are present then this value will be a copy of the account level settings. Otherwise, it will have the value of the parent account.",
          "enumDescriptions": [
            "Default review state when review state is not specified.",
            "Merchant provided URLs are being reviewed for data quality issues.",
            "Merchant account has been approved. Indicates the data quality checks have passed.",
            "Merchant account has been disapproved due to data quality issues."
          ],
          "readOnly": true
        },
        "uriSettings": {
          "description": "URL settings for cart or checkout URL.",
          "$ref": "UrlSettings"
        }
      },
      "type": "object"
    },
    "GmbAccountsGmbAccount": {
      "type": "object",
      "id": "GmbAccountsGmbAccount",
      "properties": {
        "type": {
          "description": "The type of the Business Profile (User or Business).",
          "type": "string"
        },
        "email": {
          "description": "The email which identifies the Business Profile.",
          "type": "string"
        },
        "name": {
          "description": "The name of the Business Profile.",
          "type": "string"
        },
        "listingCount": {
          "description": "Number of listings under this account.",
          "format": "uint64",
          "type": "string"
        }
      }
    },
    "RateGroup": {
      "id": "RateGroup",
      "properties": {
        "subtables": {
          "description": "A list of subtables referred to by `mainTable`. Can only be set if `mainTable` is set.",
          "type": "array",
          "items": {
            "$ref": "Table"
          }
        },
        "mainTable": {
          "description": "A table defining the rate group, when `singleValue` is not expressive enough. Can only be set if `singleValue` is not set.",
          "$ref": "Table"
        },
        "name": {
          "type": "string",
          "description": "Name of the rate group. Optional. If set has to be unique within shipping service."
        },
        "singleValue": {
          "description": "The value of the rate group (for example, flat rate $10). Can only be set if `mainTable` and `subtables` are not set.",
          "$ref": "Value"
        },
        "carrierRates": {
          "description": "A list of carrier rates that can be referred to by `mainTable` or `singleValue`.",
          "type": "array",
          "items": {
            "$ref": "CarrierRate"
          }
        },
        "applicableShippingLabels": {
          "description": "A list of shipping labels defining the products to which this rate group applies to. This is a disjunction: only one of the labels has to match for the rate group to apply. May only be empty for the last rate group of a service. Required.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "ProductStatusDestinationStatus": {
      "id": "ProductStatusDestinationStatus",
      "properties": {
        "approvedCountries": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of country codes (ISO 3166-1 alpha-2) where the offer is approved."
        },
        "status": {
          "description": "Deprecated. Destination approval status in `targetCountry` of the offer.",
          "deprecated": true,
          "type": "string"
        },
        "pendingCountries": {
          "description": "List of country codes (ISO 3166-1 alpha-2) where the offer is pending approval.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "destination": {
          "type": "string",
          "description": "The name of the destination"
        },
        "channel": {
          "type": "string",
          "description": "The channel of the destination."
        },
        "disapprovedCountries": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of country codes (ISO 3166-1 alpha-2) where the offer is disapproved."
        }
      },
      "type": "object"
    },
    "TimeZone": {
      "type": "object",
      "id": "TimeZone",
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "properties": {
        "id": {
          "type": "string",
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\"."
        },
        "version": {
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
          "type": "string"
        }
      }
    },
    "ProductstatusesListResponse": {
      "id": "ProductstatusesListResponse",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#productstatusesListResponse`\".",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The token for the retrieval of the next page of products statuses.",
          "type": "string"
        },
        "resources": {
          "type": "array",
          "items": {
            "$ref": "ProductStatus"
          }
        }
      },
      "type": "object"
    },
    "MerchantCenterDestination": {
      "type": "object",
      "id": "MerchantCenterDestination",
      "description": "\"Merchant Center Destination\" sources can be used to send conversion events from a website using a Google tag directly to a Merchant Center account where the source is created.",
      "properties": {
        "displayName": {
          "description": "Required. Merchant-specified display name for the destination. This is the name that identifies the conversion source within the Merchant Center UI. Limited to 64 characters.",
          "type": "string"
        },
        "destinationId": {
          "description": "Output only. Merchant Center Destination ID.",
          "readOnly": true,
          "type": "string"
        },
        "attributionSettings": {
          "description": "Required. Attribution settings being used for the Merchant Center Destination.",
          "$ref": "AttributionSettings"
        },
        "currencyCode": {
          "type": "string",
          "description": "Required. Three-letter currency code (ISO 4217). The currency code defines in which currency the conversions sent to this destination will be reported in Merchant Center."
        }
      }
    },
    "RegionalinventoryCustomBatchResponseEntry": {
      "id": "RegionalinventoryCustomBatchResponseEntry",
      "description": "A batch entry encoding a single non-batch regional inventory response.",
      "properties": {
        "batchId": {
          "description": "The ID of the request entry this entry responds to.",
          "type": "integer",
          "format": "uint32"
        },
        "regionalInventory": {
          "description": "Price and availability of the product.",
          "$ref": "RegionalInventory"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#regionalinventoryCustomBatchResponseEntry`\".",
          "type": "string"
        },
        "errors": {
          "description": "A list of errors for failed custombatch entries. *Note:* Schema errors fail the whole request.",
          "$ref": "Errors"
        }
      },
      "type": "object"
    },
    "BreakdownRegion": {
      "id": "BreakdownRegion",
      "description": "Region with code and localized name.",
      "properties": {
        "code": {
          "description": "The [CLDR territory code] (http://www.unicode.org/repos/cldr/tags/latest/common/main/en.xml)",
          "type": "string"
        },
        "name": {
          "description": "The localized name of the region. For region with code='001' the value is 'All countries' or the equivalent in other languages.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AccountUser": {
      "type": "object",
      "id": "AccountUser",
      "properties": {
        "readOnly": {
          "description": "Optional. Whether user has standard read-only access.",
          "type": "boolean"
        },
        "emailAddress": {
          "type": "string",
          "description": "User's email address."
        },
        "admin": {
          "description": "Whether user is an admin.",
          "type": "boolean"
        },
        "orderManager": {
          "type": "boolean",
          "description": "This role is deprecated and can no longer be assigned. Any value set will be ignored.",
          "deprecated": true
        },
        "reportingManager": {
          "type": "boolean",
          "description": "Whether user is a reporting manager. This role is equivalent to the Performance and insights role in Merchant Center."
        },
        "paymentsManager": {
          "description": "This role is deprecated and can no longer be assigned. Any value set will be ignored.",
          "deprecated": true,
          "type": "boolean"
        },
        "paymentsAnalyst": {
          "type": "boolean",
          "description": "This role is deprecated and can no longer be assigned. Any value set will be ignored.",
          "deprecated": true
        }
      }
    },
    "PosInventoryRequest": {
      "type": "object",
      "id": "PosInventoryRequest",
      "properties": {
        "storeCode": {
          "description": "Required. The identifier of the merchant's store. Either a `storeCode` inserted through the API or the code of the store in a Business Profile.",
          "type": "string"
        },
        "targetCountry": {
          "type": "string",
          "description": "Required. The CLDR territory code for the item."
        },
        "pickupSla": {
          "type": "string",
          "description": "Optional. Expected date that an order will be ready for pickup relative to the order date. Must be submitted together with `pickupMethod`. For accepted attribute values, see the [local product inventory feed specification](https://support.google.com/merchants/answer/3061342)."
        },
        "timestamp": {
          "description": "Required. The inventory timestamp, in ISO 8601 format.",
          "type": "string"
        },
        "gtin": {
          "type": "string",
          "description": "Global Trade Item Number."
        },
        "contentLanguage": {
          "description": "Required. The two-letter ISO 639-1 language code for the item.",
          "type": "string"
        },
        "price": {
          "description": "Required. The current price of the item.",
          "$ref": "Price"
        },
        "quantity": {
          "description": "Required. The available quantity of the item.",
          "format": "int64",
          "type": "string"
        },
        "itemId": {
          "type": "string",
          "description": "Required. A unique identifier for the item."
        },
        "pickupMethod": {
          "description": "Optional. Supported pickup method for this offer. Unless the value is \"not supported\", this field must be submitted together with `pickupSla`. For accepted attribute values, see the [local product inventory feed specification](https://support.google.com/merchants/answer/3061342).",
          "type": "string"
        }
      }
    },
    "ProductIssueImpact": {
      "id": "ProductIssueImpact",
      "description": "Overall impact of product issue.",
      "properties": {
        "breakdowns": {
          "type": "array",
          "items": {
            "$ref": "Breakdown"
          },
          "description": "Detailed impact breakdown. Explains the types of restriction the issue has in different shopping destinations and territory. If present, it should be rendered to the merchant. Can be shown as a mouse over dropdown or a dialog. Each breakdown item represents a group of regions with the same impact details."
        },
        "message": {
          "description": "Optional. Message summarizing the overall impact of the issue. If present, it should be rendered to the merchant. For example: \"Limits visibility in France\"",
          "type": "string"
        },
        "severity": {
          "description": "The severity of the issue.",
          "enumDescriptions": [
            "Default value. Will never be provided by the API.",
            "Causes either an account suspension or an item disapproval. Errors should be resolved as soon as possible to ensure items are eligible to appear in results again.",
            "Warnings can negatively impact the performance of ads and can lead to item or account suspensions in the future unless the issue is resolved.",
            "Infos are suggested optimizations to increase data quality. Resolving these issues is recommended, but not required."
          ],
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "ERROR",
            "WARNING",
            "INFO"
          ]
        }
      },
      "type": "object"
    },
    "AccounttaxCustomBatchRequest": {
      "id": "AccounttaxCustomBatchRequest",
      "properties": {
        "entries": {
          "description": "The request entries to be processed in the batch.",
          "type": "array",
          "items": {
            "$ref": "AccounttaxCustomBatchRequestEntry"
          }
        }
      },
      "type": "object"
    },
    "BestSellers": {
      "type": "object",
      "id": "BestSellers",
      "description": "Fields related to the [Best sellers reports](https://support.google.com/merchants/answer/9488679).",
      "properties": {
        "previousRank": {
          "type": "string",
          "format": "int64",
          "description": "Popularity rank in the previous week or month."
        },
        "relativeDemandChange": {
          "type": "string",
          "enum": [
            "RELATIVE_DEMAND_CHANGE_TYPE_UNSPECIFIED",
            "SINKER",
            "FLAT",
            "RISER"
          ],
          "description": "Change in the estimated demand. Whether it rose, sank or remained flat.",
          "enumDescriptions": [
            "Relative demand change is unknown.",
            "Relative demand is lower than previous time period.",
            "Relative demand is equal to previous time period.",
            "Relative demand is higher than the previous time period."
          ]
        },
        "reportGranularity": {
          "description": "Granularity of the report. The ranking can be done over a week or a month timeframe. A `WHERE` condition on `best_sellers.report_granularity` is required in the query.",
          "enumDescriptions": [
            "Report granularity is unknown.",
            "Ranking is done over a week timeframe.",
            "Ranking is done over a month timeframe."
          ],
          "type": "string",
          "enum": [
            "REPORT_GRANULARITY_UNSPECIFIED",
            "WEEKLY",
            "MONTHLY"
          ]
        },
        "categoryId": {
          "type": "string",
          "format": "int64",
          "description": "Google product category ID to calculate the ranking for, represented in [Google's product taxonomy](https://support.google.com/merchants/answer/6324436). If a `WHERE` condition on `best_sellers.category_id` is not specified in the query, rankings for all top-level categories are returned."
        },
        "relativeDemand": {
          "type": "string",
          "enum": [
            "RELATIVE_DEMAND_UNSPECIFIED",
            "VERY_LOW",
            "LOW",
            "MEDIUM",
            "HIGH",
            "VERY_HIGH"
          ],
          "description": "Estimated demand in relation to the item with the highest popularity rank in the same category and country.",
          "enumDescriptions": [
            "Relative demand is unknown.",
            "Demand is 0-5% of the demand of the highest ranked product clusters or brands.",
            "Demand is 6-10% of the demand of the highest ranked product clusters or brands.",
            "Demand is 11-20% of the demand of the highest ranked product clusters or brands.",
            "Demand is 21-50% of the demand of the highest ranked product clusters or brands.",
            "Demand is 51-100% of the demand of the highest ranked product clusters or brands."
          ]
        },
        "countryCode": {
          "type": "string",
          "description": "Country where the ranking is calculated. A `WHERE` condition on `best_sellers.country_code` is required in the query."
        },
        "rank": {
          "description": "Popularity on Shopping ads and free listings, in the selected category and country, based on the estimated number of units sold.",
          "format": "int64",
          "type": "string"
        },
        "previousRelativeDemand": {
          "type": "string",
          "enum": [
            "RELATIVE_DEMAND_UNSPECIFIED",
            "VERY_LOW",
            "LOW",
            "MEDIUM",
            "HIGH",
            "VERY_HIGH"
          ],
          "description": "Estimated demand in relation to the item with the highest popularity rank in the same category and country in the previous week or month.",
          "enumDescriptions": [
            "Relative demand is unknown.",
            "Demand is 0-5% of the demand of the highest ranked product clusters or brands.",
            "Demand is 6-10% of the demand of the highest ranked product clusters or brands.",
            "Demand is 11-20% of the demand of the highest ranked product clusters or brands.",
            "Demand is 21-50% of the demand of the highest ranked product clusters or brands.",
            "Demand is 51-100% of the demand of the highest ranked product clusters or brands."
          ]
        },
        "reportDate": {
          "description": "Report date. The value of this field can only be one of the following: * The first day of the week (Monday) for weekly reports. * The first day of the month for monthly reports. If a `WHERE` condition on `best_sellers.report_date` is not specified in the query, the latest available weekly or monthly report is returned.",
          "$ref": "Date"
        }
      }
    },
    "PosDataProviders": {
      "id": "PosDataProviders",
      "properties": {
        "country": {
          "type": "string",
          "description": "Country code."
        },
        "posDataProviders": {
          "description": "A list of POS data providers.",
          "type": "array",
          "items": {
            "$ref": "PosDataProvidersPosDataProvider"
          }
        }
      },
      "type": "object"
    },
    "Weight": {
      "type": "object",
      "id": "Weight",
      "properties": {
        "value": {
          "type": "string",
          "description": "Required. The weight represented as a number. The weight can have a maximum precision of four decimal places."
        },
        "unit": {
          "type": "string",
          "description": "Required. The weight unit. Acceptable values are: - \"`kg`\" - \"`lb`\" "
        }
      }
    },
    "AccountItemUpdates": {
      "id": "AccountItemUpdates",
      "description": "Turning on [item updates](https://support.google.com/merchants/answer/3246284) allows Google to automatically update items for you. When item updates are on, Google uses the structured data markup on the website and advanced data extractors to update the price and availability of the items. When the item updates are off, items with mismatched data aren't shown.",
      "properties": {
        "effectiveAllowConditionUpdates": {
          "readOnly": true,
          "description": "Output only. The effective value of allow_condition_updates. If account_item_updates_settings is present, then this value is the same. Otherwise, it represents the inherited value of the parent account. Read-only.",
          "type": "boolean"
        },
        "effectiveAllowPriceUpdates": {
          "type": "boolean",
          "description": "Output only. The effective value of allow_price_updates. If account_item_updates_settings is present, then this value is the same. Otherwise, it represents the inherited value of the parent account. Read-only.",
          "readOnly": true
        },
        "effectiveAllowAvailabilityUpdates": {
          "type": "boolean",
          "readOnly": true,
[...]
