{
  "title": "Contact Center AI Insights API",
  "kind": "discovery#restDescription",
  "description": "",
  "discoveryVersion": "v1",
  "baseUrl": "https://contactcenterinsights.googleapis.com/",
  "id": "contactcenterinsights:v1",
  "documentationLink": "https://cloud.google.com/contact-center/insights/docs",
  "revision": "20260805",
  "ownerDomain": "google.com",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "basePath": "",
  "schemas": {
    "GoogleCloudContactcenterinsightsV1CalculateIssueModelStatsResponse": {
      "description": "Response of querying an issue model's statistics.",
      "id": "GoogleCloudContactcenterinsightsV1CalculateIssueModelStatsResponse",
      "properties": {
        "currentStats": {
          "$ref": "GoogleCloudContactcenterinsightsV1IssueModelLabelStats",
          "description": "The latest label statistics for the queried issue model. Includes results on both training data and data labeled after deployment."
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1QueryPerformanceOverviewResponse": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1QueryPerformanceOverviewResponse",
      "properties": {
        "summaryText": {
          "description": "The summary text of the performance.",
          "type": "string"
        }
      },
      "description": "The response for querying performance overview."
    },
    "GoogleCloudContactcenterinsightsV1mainImportIssueModelRequest": {
      "id": "GoogleCloudContactcenterinsightsV1mainImportIssueModelRequest",
      "properties": {
        "parent": {
          "description": "Required. The parent resource of the issue model.",
          "type": "string"
        },
        "createNewModel": {
          "description": "Optional. If set to true, will create an issue model from the imported file with randomly generated IDs for the issue model and corresponding issues. Otherwise, replaces an existing model with the same ID as the file.",
          "type": "boolean"
        },
        "gcsSource": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainImportIssueModelRequestGcsSource",
          "description": "Google Cloud Storage source message."
        }
      },
      "description": "Request to import an issue model.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1InitializeEncryptionSpecMetadata": {
      "type": "object",
      "description": "Metadata for initializing a location-level encryption specification.",
      "id": "GoogleCloudContactcenterinsightsV1InitializeEncryptionSpecMetadata",
      "properties": {
        "partialErrors": {
          "description": "Partial errors during initializing operation that might cause the operation output to be incomplete.",
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string"
        },
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1InitializeEncryptionSpecRequest",
          "description": "Output only. The original request for initialization.",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1ExportInsightsDataResponse": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1ExportInsightsDataResponse",
      "properties": {},
      "description": "Response for an export insights operation.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainDimensionMediumDimensionMetadata": {
      "description": "Metadata about the conversation medium dimension.",
      "id": "GoogleCloudContactcenterinsightsV1mainDimensionMediumDimensionMetadata",
      "properties": {
        "medium": {
          "description": "Optional. The conversation medium. Currently supports : PHONE_CALL, CHAT.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleIamV1AuditLogConfig": {
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "id": "GoogleIamV1AuditLogConfig",
      "properties": {
        "exemptedMembers": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
        },
        "logType": {
          "description": "The log type that this config enables.",
          "type": "string",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsRequestTranscriptObjectConfig": {
      "type": "object",
      "description": "Configuration for processing transcript objects.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsRequestTranscriptObjectConfig",
      "properties": {
        "medium": {
          "description": "Required. The medium transcript objects represent.",
          "type": "string",
          "enumDescriptions": [
            "Default value for unspecified.",
            "The format for conversations that took place over the phone.",
            "The format for conversations that took place over chat."
          ],
          "enum": [
            "MEDIUM_UNSPECIFIED",
            "PHONE_CALL",
            "CHAT"
          ]
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscript": {
      "description": "A message representing the transcript of a conversation.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscript",
      "properties": {
        "transcriptSegments": {
          "description": "A list of sequential transcript segments that comprise the conversation.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegment"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainDimensionConversationalAgentsPlaybookDimensionMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1mainDimensionConversationalAgentsPlaybookDimensionMetadata",
      "properties": {
        "playbookId": {
          "description": "Optional. The dialogflow playbook ID.",
          "type": "string"
        },
        "playbookDisplayName": {
          "description": "Optional. The dialogflow playbook display name.",
          "type": "string"
        }
      },
      "description": "Metadata about the Conversational Agents playbook dimension.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1QaScorecardResultQaTagResult": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1QaScorecardResultQaTagResult",
      "properties": {
        "tag": {
          "description": "The tag the score applies to.",
          "type": "string"
        },
        "normalizedScore": {
          "format": "double",
          "description": "The normalized score the tag applies to.",
          "type": "number"
        },
        "score": {
          "type": "number",
          "format": "double",
          "description": "The score the tag applies to."
        },
        "potentialScore": {
          "format": "double",
          "description": "The potential score the tag applies to.",
          "type": "number"
        }
      },
      "description": "Tags and their corresponding results."
    },
    "GoogleCloudContactcenterinsightsV1CalculateStatsRequest": {
      "description": "The request for calculating conversation statistics.",
      "id": "GoogleCloudContactcenterinsightsV1CalculateStatsRequest",
      "properties": {
        "filter": {
          "description": "A filter to reduce results to a specific subset. This field is useful for getting statistics about conversations with specific properties.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1IssueModelLabelStatsIssueStats": {
      "type": "object",
      "description": "Aggregated statistics about an issue.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1IssueModelLabelStatsIssueStats",
      "properties": {
        "issue": {
          "description": "Issue resource. Format: projects/{project}/locations/{location}/issueModels/{issue_model}/issues/{issue}",
          "type": "string"
        },
        "labeledConversationsCount": {
          "description": "Number of conversations attached to the issue at this point in time.",
          "format": "int64",
          "type": "string"
        },
        "displayName": {
          "description": "Display name of the issue.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1GenerativeInsightsChartCheckpoint": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1GenerativeInsightsChartCheckpoint",
      "properties": {
        "sessionId": {
          "description": "The session id of the chart.",
          "type": "string"
        },
        "revisionId": {
          "description": "The revision id of the chart.",
          "type": "string"
        }
      },
      "description": "The current chart checkpoint state."
    },
    "GoogleCloudContactcenterinsightsV1alpha1BulkDeleteConversationsRequest": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1BulkDeleteConversationsRequest",
      "properties": {
        "maxDeleteCount": {
          "type": "integer",
          "description": "Maximum number of conversations to delete.",
          "format": "int32"
        },
        "parent": {
          "description": "Required. The parent resource to delete conversations from. Format: projects/{project}/locations/{location}",
          "type": "string"
        },
        "force": {
          "description": "If set to true, all of this conversation's analyses will also be deleted. Otherwise, the request will only succeed if the conversation has no analyses.",
          "type": "boolean"
        },
        "filter": {
          "description": "Filter used to select the subset of conversations to delete.",
          "type": "string"
        }
      },
      "description": "The request to delete conversations in bulk."
    },
    "GoogleCloudContactcenterinsightsV1ExactMatchConfig": {
      "type": "object",
      "description": "Exact match configuration.",
      "id": "GoogleCloudContactcenterinsightsV1ExactMatchConfig",
      "properties": {
        "caseSensitive": {
          "description": "Whether to consider case sensitivity when performing an exact match.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1GenerativeInsightsChartConversationMessageSystemMessageTextOutput": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1GenerativeInsightsChartConversationMessageSystemMessageTextOutput",
      "properties": {
        "texts": {
          "description": "The parts of the message.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "type": {
          "description": "The type of the text message.",
          "type": "string",
          "enumDescriptions": [
            "The default text type.",
            "The text is a thinking plan generated by the thinking tool.",
            "The text is a final response to the user question.",
            "The text is an informational message about the agent's progress, such as a tool being invoked. This is distinct from the agent's internal thought process (`THOUGHT`) and the final answer to the user (`FINAL_RESPONSE`). These messages provide insight into the agent's actions."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "THOUGHT",
            "FINAL_RESPONSE",
            "PROGRESS"
          ]
        }
      },
      "description": "A text output message from the system."
    },
    "GoogleCloudContactcenterinsightsV1mainBulkDownloadFeedbackLabelsMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1mainBulkDownloadFeedbackLabelsMetadata",
      "properties": {
        "partialErrors": {
          "description": "Partial errors during ingest operation that might cause the operation output to be incomplete.",
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "endTime": {
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "request": {
          "description": "Output only. The original request for download.",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1mainBulkDownloadFeedbackLabelsRequest"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "readOnly": true
        },
        "downloadStats": {
          "description": "Output only. Statistics for BulkDownloadFeedbackLabels operation.",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1mainBulkDownloadFeedbackLabelsMetadataDownloadStats"
        }
      },
      "description": "Metadata for the BulkDownloadFeedbackLabel endpoint.",
      "type": "object"
    },
    "GoogleRpcStatus": {
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "GoogleRpcStatus",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1TestCorrelationConfigResponse": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1TestCorrelationConfigResponse",
      "properties": {
        "detailedResults": {
          "description": "Results for the DETAILED_SYNC execution mode.",
          "$ref": "GoogleCloudContactcenterinsightsV1TestCorrelationConfigResponseDetailedCorrelationResults"
        },
        "partialErrors": {
          "description": "Partial errors during test correlation config operation that might cause the operation output to be incomplete.",
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        }
      },
      "description": "The response of testing correlation config."
    },
    "GoogleCloudContactcenterinsightsV1mainAnswerFeedback": {
      "description": "The feedback that the customer has about a certain answer in the conversation.",
      "id": "GoogleCloudContactcenterinsightsV1mainAnswerFeedback",
      "properties": {
        "correctnessLevel": {
          "type": "string",
          "enumDescriptions": [
            "Correctness level unspecified.",
            "Answer is totally wrong.",
            "Answer is partially correct.",
            "Answer is fully correct."
          ],
          "enum": [
            "CORRECTNESS_LEVEL_UNSPECIFIED",
            "NOT_CORRECT",
            "PARTIALLY_CORRECT",
            "FULLY_CORRECT"
          ],
          "description": "The correctness level of an answer."
        },
        "clicked": {
          "description": "Indicates whether an answer or item was clicked by the human agent.",
          "type": "boolean"
        },
        "displayed": {
          "description": "Indicates whether an answer or item was displayed to the human agent in the agent desktop UI.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1DimensionQaQuestionAnswerDimensionMetadata": {
      "description": "Metadata about the QA question-answer dimension. This is useful for showing the answer distribution for questions for a given scorecard.",
      "id": "GoogleCloudContactcenterinsightsV1DimensionQaQuestionAnswerDimensionMetadata",
      "properties": {
        "answerValue": {
          "description": "Optional. The full body of the question.",
          "type": "string"
        },
        "qaScorecardId": {
          "description": "Optional. The QA scorecard ID.",
          "type": "string"
        },
        "questionBody": {
          "description": "Optional. The full body of the question.",
          "type": "string"
        },
        "qaQuestionId": {
          "description": "Optional. The QA question ID.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1QueryMetrics": {
      "id": "GoogleCloudContactcenterinsightsV1QueryMetrics",
      "properties": {
        "request": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "description": "Request data that use the existing QueryMetrics.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainGenerativeInsightConversationTranscriptMessageSystemMessageTextOutput": {
      "type": "object",
      "description": "A text output message from the system.",
      "id": "GoogleCloudContactcenterinsightsV1mainGenerativeInsightConversationTranscriptMessageSystemMessageTextOutput",
      "properties": {
        "text": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The parts of the message."
        },
        "textType": {
          "type": "string",
          "enumDescriptions": [
            "The default text type.",
            "The text is a thinking plan generated by the thinking tool.",
            "The text is a final response to the user question.",
            "The text is an informational message about the agent's progress, such as a tool being invoked. This is distinct from the agent's internal thought process (`THOUGHT`) and the final answer to the user (`FINAL_RESPONSE`). These messages provide insight into the agent's actions."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "THOUGHT",
            "FINAL_RESPONSE",
            "PROGRESS"
          ],
          "description": "The type of the text message."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1DeployIssueModelMetadata": {
      "description": "Metadata for deploying an issue model.",
      "id": "GoogleCloudContactcenterinsightsV1DeployIssueModelMetadata",
      "properties": {
        "request": {
          "description": "The original request for deployment.",
          "$ref": "GoogleCloudContactcenterinsightsV1DeployIssueModelRequest"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1AnalysisRule": {
      "type": "object",
      "description": "The CCAI Insights project wide analysis rule. This rule will be applied to all conversations that match the filter defined in the rule. For a conversation matches the filter, the annotators specified in the rule will be run. If a conversation matches multiple rules, a union of all the annotators will be run. One project can have multiple analysis rules.",
      "id": "GoogleCloudContactcenterinsightsV1AnalysisRule",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the analysis rule. Format: projects/{project}/locations/{location}/analysisRules/{analysis_rule}",
          "type": "string"
        },
        "active": {
          "description": "If true, apply this rule to conversations. Otherwise, this rule is inactive and saved as a draft.",
          "type": "boolean"
        },
        "conversationFilter": {
          "description": "Filter for the conversations that should apply this analysis rule. An empty filter means this analysis rule applies to all conversations. Refer to https://cloud.google.com/contact-center/insights/docs/filtering for details.",
          "type": "string"
        },
        "annotatorSelector": {
          "description": "Selector of annotators to run and the phrase matchers to use for conversations that matches the conversation_filter. If not specified, NO annotators will be run.",
          "$ref": "GoogleCloudContactcenterinsightsV1AnnotatorSelector"
        },
        "analysisPercentage": {
          "description": "Percentage of conversations that we should apply this analysis setting automatically, between [0, 1]. For example, 0.1 means 10%. Conversations are sampled in a determenestic way. The original runtime_percentage & upload percentage will be replaced by defining filters on the conversation.",
          "format": "double",
          "type": "number"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time at which this analysis rule was created.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Display Name of the analysis rule.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The most recent time at which this analysis rule was updated.",
          "readOnly": true,
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1IngestConversationsMetadataIngestConversationsStats": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1IngestConversationsMetadataIngestConversationsStats",
      "properties": {
        "failedIngestCount": {
          "description": "Output only. The number of objects which were unable to be ingested due to errors. The errors are populated in the partial_errors field.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "duplicatesSkippedCount": {
          "description": "Output only. The number of objects skipped because another conversation with the same transcript uri had already been ingested.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "successfulIngestCount": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. The number of new conversations added during this ingest operation.",
          "readOnly": true
        },
        "processedObjectCount": {
          "type": "integer",
          "description": "Output only. The number of objects processed during the ingest operation.",
          "readOnly": true,
          "format": "int32"
        }
      },
      "description": "Statistics for IngestConversations operation."
    },
    "GoogleCloudContactcenterinsightsV1ConversationLevelSilence": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1ConversationLevelSilence",
      "properties": {
        "silencePercentage": {
          "type": "number",
          "format": "float",
          "description": "Percentage of the total conversation spent in silence."
        },
        "silenceDuration": {
          "format": "google-duration",
          "description": "Amount of time calculated to be in silence.",
          "type": "string"
        }
      },
      "description": "Conversation-level silence data."
    },
    "GoogleCloudContactcenterinsightsV1SampleConversationsRequest": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1SampleConversationsRequest",
      "properties": {
        "destinationDataset": {
          "$ref": "GoogleCloudContactcenterinsightsV1Dataset",
          "description": "The dataset resource to copy the sampled conversations to."
        },
        "parent": {
          "description": "Required. The parent resource of the dataset.",
          "type": "string"
        },
        "sampleRule": {
          "$ref": "GoogleCloudContactcenterinsightsV1SampleRule",
          "description": "Optional. The sample rule used for sampling conversations."
        }
      },
      "description": "The request to sample conversations to a dataset."
    },
    "GoogleCloudContactcenterinsightsV1alpha1AnnotationBoundary": {
      "description": "A point in a conversation that marks the start or the end of an annotation.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1AnnotationBoundary",
      "properties": {
        "transcriptIndex": {
          "type": "integer",
          "format": "int32",
          "description": "The index in the sequence of transcribed pieces of the conversation where the boundary is located. This index starts at zero."
        },
        "wordIndex": {
          "type": "integer",
          "description": "The word index of this boundary with respect to the first word in the transcript piece. This index starts at zero.",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1SettingsAnalysisConfig": {
      "description": "Default configuration when creating Analyses in Insights.",
      "id": "GoogleCloudContactcenterinsightsV1SettingsAnalysisConfig",
      "properties": {
        "annotatorSelector": {
          "description": "To select the annotators to run and the phrase matchers to use (if any). If not specified, all annotators will be run.",
          "$ref": "GoogleCloudContactcenterinsightsV1AnnotatorSelector"
        },
        "runtimeIntegrationAnalysisPercentage": {
          "type": "number",
          "description": "Percentage of conversations created using Dialogflow runtime integration to analyze automatically, between [0, 100].",
          "format": "double"
        },
        "uploadConversationAnalysisPercentage": {
          "description": "Percentage of conversations created using the UploadConversation endpoint to analyze automatically, between [0, 100].",
          "format": "double",
          "type": "number"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainCreateIssueRequest": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainCreateIssueRequest",
      "properties": {
        "parent": {
          "description": "Required. The parent resource of the issue.",
          "type": "string"
        },
        "issue": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainIssue",
          "description": "Required. The values for the new issue."
        }
      },
      "description": "The request to create an issue."
    },
    "GoogleCloudContactcenterinsightsV1mainConversationDataSourceTurnLevelAudio": {
      "description": "A wrapper for holding the audio for any given turn.",
      "id": "GoogleCloudContactcenterinsightsV1mainConversationDataSourceTurnLevelAudio",
      "properties": {
        "audioGcsUri": {
          "description": "The Cloud Storage URI of the audio for any given turn.",
          "type": "string"
        },
        "audioDuration": {
          "format": "google-duration",
          "description": "The duration of the audio.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1UploadConversationRequest": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1UploadConversationRequest",
      "properties": {
        "conversationId": {
          "description": "Optional. A unique ID for the new conversation. This ID will become the final component of the conversation's resource name. If no ID is specified, a server-generated ID will be used. This value should be 4-64 characters and must match the regular expression `^[a-z0-9-]{4,64}$`. Valid characters are `a-z-`",
          "type": "string"
        },
        "parent": {
          "description": "Required. The parent resource of the conversation.",
          "type": "string"
        },
        "conversation": {
          "description": "Required. The conversation resource to create.",
          "$ref": "GoogleCloudContactcenterinsightsV1Conversation"
        },
        "speechConfig": {
          "description": "Optional. Speech-to-Text configuration. Will default to the config specified in Settings.",
          "$ref": "GoogleCloudContactcenterinsightsV1SpeechConfig"
        },
        "redactionConfig": {
          "description": "Optional. DLP settings for transcript redaction. Will default to the config specified in Settings.",
          "$ref": "GoogleCloudContactcenterinsightsV1RedactionConfig"
        }
      },
      "description": "Request to upload a conversation."
    },
    "GoogleCloudContactcenterinsightsV1DeployQaScorecardRevisionRequest": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1DeployQaScorecardRevisionRequest",
      "properties": {},
      "description": "The request to deploy a QaScorecardRevision"
    },
    "GoogleCloudContactcenterinsightsV1alpha1DimensionClientSentimentCategoryDimensionMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1DimensionClientSentimentCategoryDimensionMetadata",
      "properties": {
        "sentimentCategory": {
          "description": "Optional. The client sentiment category.",
          "type": "string"
        }
      },
      "description": "Metadata about the client sentiment category dimension.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1RuntimeAnnotation": {
      "description": "An annotation that was generated during the customer and agent interaction.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1RuntimeAnnotation",
      "properties": {
        "smartComposeSuggestion": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1SmartComposeSuggestionData",
          "description": "Agent Assist Smart Compose suggestion data."
        },
        "createTime": {
          "description": "The time at which this annotation was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "startBoundary": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1AnnotationBoundary",
          "description": "The boundary in the conversation where the annotation starts, inclusive."
        },
        "smartReply": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1SmartReplyData",
          "description": "Agent Assist Smart Reply data."
        },
        "cesEndSessionAnnotation": {
          "description": "The CES end session annotation.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1CesEndSessionAnnotation"
        },
        "annotationId": {
          "description": "The unique identifier of the annotation. Format: projects/{project}/locations/{location}/conversationDatasets/{dataset}/conversationDataItems/{data_item}/conversationAnnotations/{annotation}",
          "type": "string"
        },
        "articleSuggestion": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1ArticleSuggestionData",
          "description": "Agent Assist Article Suggestion data."
        },
        "conversationSummarizationSuggestion": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConversationSummarizationSuggestionData",
          "description": "Conversation summarization suggestion data."
        },
        "cesTurnAnnotation": {
          "description": "The CES turn annotation.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1CesTurnAnnotation"
        },
        "dialogflowInteraction": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1DialogflowInteractionData",
          "description": "Dialogflow interaction data."
        },
        "answerFeedback": {
          "description": "The feedback that the customer has about the answer in `data`.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1AnswerFeedback"
        },
        "userInput": {
          "description": "Explicit input used for generating the answer",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1RuntimeAnnotationUserInput"
        },
        "faqAnswer": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1FaqAnswerData",
          "description": "Agent Assist FAQ answer data."
        },
        "endBoundary": {
          "description": "The boundary in the conversation where the annotation ends, inclusive.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1AnnotationBoundary"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1CorrelationConfig": {
      "id": "GoogleCloudContactcenterinsightsV1CorrelationConfig",
      "properties": {
        "name": {
          "description": "Immutable. Identifier. The resource name of the correlation config. Format: projects/{project}/locations/{location}/correlationConfig",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The time at which the correlation config was last updated.",
          "readOnly": true,
          "type": "string"
        },
        "fullConversationConfig": {
          "description": "The correlation type config for full conversations.",
          "$ref": "GoogleCloudContactcenterinsightsV1CorrelationTypeConfig"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which the correlation config was created.",
          "readOnly": true
        }
      },
      "description": "A configuration that defines how to correlate conversations for a given a given project.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1ConversationCorrelationResult": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1ConversationCorrelationResult",
      "properties": {
        "ruleResults": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1ConversationCorrelationResultRuleCorrelationResult"
          },
          "description": "The results for each correlation rule."
        },
        "conversation": {
          "description": "The conversation resource name.",
          "type": "string"
        }
      },
      "description": "The result of testing correlation config on a single conversation."
    },
    "GoogleCloudContactcenterinsightsV1ConstraintEvaluationResultRuleConstraintResult": {
      "id": "GoogleCloudContactcenterinsightsV1ConstraintEvaluationResultRuleConstraintResult",
      "properties": {
        "constraintMet": {
          "description": "Whether the constraint expression evaluated to true for (A, B) or (B, A).",
          "type": "boolean"
        },
        "error": {
          "description": "The error status if the constraint expression failed to evaluate.",
          "$ref": "GoogleRpcStatus"
        },
        "ruleId": {
          "description": "The rule ID.",
          "type": "string"
        }
      },
      "description": "The result of a single constraint rule on the pair of conversations.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1UndeployIssueModelResponse": {
      "description": "The response to undeploy an issue model.",
      "id": "GoogleCloudContactcenterinsightsV1UndeployIssueModelResponse",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1SampleConversationsMetadata": {
      "description": "The metadata for an SampleConversations operation.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1SampleConversationsMetadata",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string"
        },
        "partialErrors": {
          "description": "Output only. Partial errors during sample conversations operation that might cause the operation output to be incomplete.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "readOnly": true
        },
        "request": {
          "description": "Output only. The original request for sample conversations to dataset.",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1SampleConversationsRequest"
        },
        "sampleConversationsStats": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1SampleConversationsMetadataSampleConversationsStats",
          "description": "Output only. Statistics for SampleConversations operation.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainDeployIssueModelMetadata": {
      "description": "Metadata for deploying an issue model.",
      "id": "GoogleCloudContactcenterinsightsV1mainDeployIssueModelMetadata",
      "properties": {
        "request": {
          "description": "The original request for deployment.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainDeployIssueModelRequest"
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1PhraseMatchRuleConfig": {
      "description": "Configuration information of a phrase match rule.",
      "id": "GoogleCloudContactcenterinsightsV1PhraseMatchRuleConfig",
      "properties": {
        "exactMatchConfig": {
          "$ref": "GoogleCloudContactcenterinsightsV1ExactMatchConfig",
          "description": "The configuration for the exact match rule."
        },
        "regexMatchConfig": {
          "description": "The configuration for the regex match rule.",
          "$ref": "GoogleCloudContactcenterinsightsV1RegexMatchConfig"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainIngestConversationsMetadataIngestConversationsStats": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainIngestConversationsMetadataIngestConversationsStats",
      "properties": {
        "failedIngestCount": {
          "description": "Output only. The number of objects which were unable to be ingested due to errors. The errors are populated in the partial_errors field.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "duplicatesSkippedCount": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. The number of objects skipped because another conversation with the same transcript uri had already been ingested.",
          "readOnly": true
        },
        "successfulIngestCount": {
          "format": "int32",
          "description": "Output only. The number of new conversations added during this ingest operation.",
          "readOnly": true,
          "type": "integer"
        },
        "processedObjectCount": {
          "description": "Output only. The number of objects processed during the ingest operation.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Statistics for IngestConversations operation."
    },
    "GoogleCloudContactcenterinsightsV1mainTestCorrelationConfigMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1mainTestCorrelationConfigMetadata",
      "properties": {
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "stats": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainTestCorrelationConfigMetadataFullConversationCorrelationStats",
          "description": "The statistics for the operation."
        },
        "dataset": {
          "description": "The dataset used for sampling conversations.",
          "type": "string"
        }
      },
      "description": "Metadata for testing correlation config.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1UserInfo": {
      "id": "GoogleCloudContactcenterinsightsV1UserInfo",
      "properties": {
        "username": {
          "description": "The user's username.",
          "type": "string"
        }
      },
      "description": "Information about a user.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1TestCorrelationConfigResponseDetailedCorrelationResults": {
      "description": "Wrapper for detailed, step-by-step results.",
      "id": "GoogleCloudContactcenterinsightsV1TestCorrelationConfigResponseDetailedCorrelationResults",
      "properties": {
        "joinKeyResults": {
          "description": "A list of join key correlation results for each conversation tested.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1ConversationCorrelationResult"
          }
        },
        "constraintResults": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1ConstraintEvaluationResult"
          },
          "type": "array",
          "description": "A list of constraint evaluation results for each pair of conversations."
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1QaAnswerAnswerValue": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1QaAnswerAnswerValue",
      "properties": {
        "key": {
          "description": "A short string used as an identifier. Matches the value used in QaQuestion.AnswerChoice.key.",
          "type": "string"
        },
        "normalizedScore": {
          "type": "number",
          "description": "Output only. Normalized score of the questions. Calculated as score / potential_score.",
          "readOnly": true,
          "format": "double"
        },
        "naValue": {
          "description": "A value of \"Not Applicable (N/A)\". Should only ever be `true`.",
          "type": "boolean"
        },
        "boolValue": {
          "description": "Boolean value.",
          "type": "boolean"
        },
        "skipValue": {
          "description": "Output only. A value of \"Skip\". If provided, this field may only be set to `true`. If a question receives this answer, it will be excluded from any score calculations. This would mean that the question was not evaluated.",
          "readOnly": true,
          "type": "boolean"
        },
        "numValue": {
          "format": "double",
          "description": "Numerical value.",
          "type": "number"
        },
        "potentialScore": {
          "format": "double",
          "description": "Output only. The maximum potential score of the question.",
          "readOnly": true,
          "type": "number"
        },
        "score": {
          "description": "Output only. Numerical score of the answer.",
          "readOnly": true,
          "format": "double",
          "type": "number"
        },
        "strValue": {
          "description": "String value.",
          "type": "string"
        }
      },
      "description": "Message for holding the value of a QaAnswer. QaQuestion.AnswerChoice defines the possible answer values for a question.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponse": {
      "description": "The response for querying metrics.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponse",
      "properties": {
        "location": {
          "description": "Required. The location of the data. \"projects/{project}/locations/{location}\"",
          "type": "string"
        },
        "macroAverageSlice": {
          "description": "The macro average slice contains aggregated averages across all selected dimensions. i.e. if group_by agent and scorecard_id is specified, this field will contain the average across all agents and all scorecards. This field is only populated if the request specifies a Dimension.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponseSlice"
        },
        "updateTime": {
          "description": "The metrics last update time.",
          "format": "google-datetime",
          "type": "string"
        },
        "slices": {
          "description": "A slice contains a total and (if the request specified a time granularity) a time series of metric values. Each slice contains a unique combination of the cardinality of dimensions from the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponseSlice"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPointPercentileResult": {
      "description": "The percentile result. Currently supported percentiles are 50th, 90th, and 99th.",
      "id": "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPointPercentileResult",
      "properties": {
        "p50": {
          "type": "number",
          "description": "The 50th percentile value.",
          "format": "double"
        },
        "p99": {
          "format": "double",
          "description": "The 99th percentile value.",
          "type": "number"
        },
        "p90": {
          "type": "number",
          "description": "The 90th percentile value.",
          "format": "double"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1GenerativeInsightsResponse": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1GenerativeInsightsResponse",
      "properties": {
        "generativeResponses": {
          "description": "The full list of generative responses. Each response is ordered by time.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1GenerativeInsightsResponseGenerativeResponse"
          }
        },
        "transcript": {
          "description": "The transcript of the generative insights conversation.",
          "$ref": "GoogleCloudContactcenterinsightsV1GenerativeInsightConversationTranscript"
        }
      },
      "description": "The response for generative insights."
    },
    "GoogleCloudContactcenterinsightsV1CreateAnalysisOperationMetadata": {
      "type": "object",
      "description": "Metadata for a create analysis operation.",
      "id": "GoogleCloudContactcenterinsightsV1CreateAnalysisOperationMetadata",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string"
        },
        "conversation": {
          "description": "Output only. The Conversation that this Analysis Operation belongs to.",
          "readOnly": true,
          "type": "string"
        },
        "annotatorSelector": {
          "description": "Output only. The annotator selector used for the analysis (if any).",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1AnnotatorSelector"
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1CesEndSessionAnnotation": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1CesEndSessionAnnotation",
      "properties": {
        "endSession": {
          "description": "End session signal from CES.",
          "$ref": "GoogleCloudCesV1mainEndSession"
        }
      },
      "description": "The CES end session annotation."
    },
    "GoogleCloudContactcenterinsightsV1DimensionConversationProfileDimensionMetadata": {
      "description": "Metadata about the conversation profile dimension.",
      "id": "GoogleCloudContactcenterinsightsV1DimensionConversationProfileDimensionMetadata",
      "properties": {
        "conversationProfileId": {
          "description": "Optional. The conversation profile ID.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1RedirectAction": {
      "id": "GoogleCloudContactcenterinsightsV1RedirectAction",
      "properties": {
        "queryParams": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The query params to be added to the redirect path."
        },
        "relativePath": {
          "description": "The relative path to redirect to.",
          "type": "string"
        }
      },
      "description": "The redirect action to be taken when the chart is clicked.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1UpdateQaQuestionTagMetadata": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1UpdateQaQuestionTagMetadata",
      "properties": {
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1UpdateQaQuestionTagRequest",
          "description": "Output only. The original request.",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "The metadata for updating a QaQuestionTag Resource."
    },
    "GoogleCloudContactcenterinsightsV1mainDeleteIssueModelRequest": {
      "type": "object",
      "description": "The request to delete an issue model.",
      "id": "GoogleCloudContactcenterinsightsV1mainDeleteIssueModelRequest",
      "properties": {
        "name": {
          "description": "Required. The name of the issue model to delete.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainQaQuestionTag": {
      "description": "A tag is a resource which aims to categorize a set of questions across multiple scorecards, e.g., \"Customer Satisfaction\",\"Billing\", etc.",
      "id": "GoogleCloudContactcenterinsightsV1mainQaQuestionTag",
      "properties": {
        "qaQuestionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The list of Scorecard Question IDs that the tag applies to. Each QaQuestionId is represented as a full resource name containing the Question ID. Lastly, Since a tag may not necessarily be referenced by any Scorecard Questions, we treat this field as optional."
        },
        "name": {
          "description": "Identifier. Resource name for the QaQuestionTag Format projects/{project}/locations/{location}/qaQuestionTags/{qa_question_tag} In the above format, the last segment, i.e., qa_question_tag, is a server-generated ID corresponding to the tag resource.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. A user-specified display name for the tag.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time at which the question tag was created.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The most recent time at which the question tag was updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainAnnotatorSelector": {
      "description": "Selector of all available annotators and phrase matchers to run.",
      "id": "GoogleCloudContactcenterinsightsV1mainAnnotatorSelector",
      "properties": {
        "runSentimentAnnotator": {
          "description": "Whether to run the sentiment annotator.",
          "type": "boolean"
        },
        "issueModels": {
          "description": "The issue model to run. If not provided, the most recently deployed topic model will be used. The provided issue model will only be used for inference if the issue model is deployed and if run_issue_model_annotator is set to true. If more than one issue model is provided, only the first provided issue model will be used for inference.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "summarizationConfig": {
          "description": "Configuration for the summarization annotator.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainAnnotatorSelectorSummarizationConfig"
        },
        "runQaAnnotator": {
          "description": "Whether to run the QA annotator.",
          "type": "boolean"
        },
        "runPhraseMatcherAnnotator": {
          "description": "Whether to run the active phrase matcher annotator(s).",
          "type": "boolean"
        },
        "runIssueModelAnnotator": {
          "description": "Whether to run the issue model annotator. A model should have already been deployed for this to take effect.",
          "type": "boolean"
        },
        "runSummarizationAnnotator": {
          "description": "Whether to run the summarization annotator.",
          "type": "boolean"
        },
        "runInterruptionAnnotator": {
          "description": "Whether to run the interruption annotator.",
          "type": "boolean"
        },
        "qaConfig": {
          "description": "Configuration for the QA annotator.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainAnnotatorSelectorQaConfig"
        },
        "runSilenceAnnotator": {
          "description": "Whether to run the silence annotator.",
          "type": "boolean"
        },
        "runIntentAnnotator": {
          "description": "Whether to run the intent annotator.",
          "type": "boolean"
        },
        "runAutoLabelingAnnotator": {
          "description": "Optional. Whether to run the auto-labeling annotator. If true, the auto-labeling annotator will be run. This is a non-billable operation designed for fixing or backfilling custom labels.",
          "type": "boolean"
        },
        "phraseMatchers": {
          "description": "The list of phrase matchers to run. If not provided, all active phrase matchers will be used. If inactive phrase matchers are provided, they will not be used. Phrase matchers will be run only if run_phrase_matcher_annotator is set to true. Format: projects/{project}/locations/{location}/phraseMatchers/{phrase_matcher}",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "runEntityAnnotator": {
          "description": "Whether to run the entity annotator.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1EntityMentionData": {
      "description": "The data for an entity mention annotation. This represents a mention of an `Entity` in the conversation.",
      "id": "GoogleCloudContactcenterinsightsV1EntityMentionData",
      "properties": {
        "sentiment": {
          "$ref": "GoogleCloudContactcenterinsightsV1SentimentData",
          "description": "Sentiment expressed for this mention of the entity."
        },
        "type": {
          "description": "The type of the entity mention.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Proper noun.",
            "Common noun (or noun compound)."
          ],
          "enum": [
            "MENTION_TYPE_UNSPECIFIED",
            "PROPER",
            "COMMON"
          ]
        },
        "entityUniqueId": {
          "description": "The key of this entity in conversation entities. Can be used to retrieve the exact `Entity` this mention is attached to.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1AnnotatorSelectorQaConfigScorecardList": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1AnnotatorSelectorQaConfigScorecardList",
      "properties": {
        "qaScorecardRevisions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of QaScorecardRevisions."
        }
      },
      "description": "Container for a list of scorecards."
    },
    "GoogleCloudContactcenterinsightsV1mainHoldData": {
      "description": "The data for a hold annotation.",
      "id": "GoogleCloudContactcenterinsightsV1mainHoldData",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1IssueModelLabelStatsIssueStats": {
      "type": "object",
      "description": "Aggregated statistics about an issue.",
      "id": "GoogleCloudContactcenterinsightsV1IssueModelLabelStatsIssueStats",
      "properties": {
        "issue": {
          "description": "Issue resource. Format: projects/{project}/locations/{location}/issueModels/{issue_model}/issues/{issue}",
          "type": "string"
        },
        "labeledConversationsCount": {
          "type": "string",
          "description": "Number of conversations attached to the issue at this point in time.",
          "format": "int64"
        },
        "displayName": {
          "description": "Display name of the issue.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPointDialogflowInteractionMeasure": {
      "type": "object",
      "description": "The measure related to dialogflow interactions.",
      "id": "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPointDialogflowInteractionMeasure",
      "properties": {
        "percentileAudioInAudioOutLatency": {
          "description": "The percentile result for audio in audio out latency in milliseconds per dialogflow interaction level.",
          "$ref": "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPointPercentileResult"
        },
        "percentileTtsLatency": {
          "$ref": "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPointPercentileResult",
          "description": "The percentile result for TTS latency in milliseconds per dialogflow interaction level."
        },
        "percentileToolUseLatency": {
          "$ref": "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPointPercentileResult",
          "description": "The percentile result for tool use latency in milliseconds per dialogflow interaction level."
        },
        "percentileEndToEndLatency": {
          "$ref": "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPointPercentileResult",
          "description": "The percentile result for end to end chat latency in milliseconds per dialogflow interaction level."
        },
        "percentileLlmCallLatency": {
          "$ref": "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPointPercentileResult",
          "description": "The percentile result for LLM latency in milliseconds per dialogflow interaction level."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1DimensionConversationProfileDimensionMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1DimensionConversationProfileDimensionMetadata",
      "properties": {
        "conversationProfileId": {
          "description": "Optional. The conversation profile ID.",
          "type": "string"
        }
      },
      "description": "Metadata about the conversation profile dimension.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1DateRangeConfigRelativeDateRange": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1DateRangeConfigRelativeDateRange",
      "properties": {
        "quantity": {
          "format": "int64",
          "description": "Required. The quantity of units in the past.",
          "type": "string"
        },
        "unit": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Day.",
            "Week.",
            "Month.",
            "Quarter.",
            "Year."
          ],
          "enum": [
            "TIME_UNIT_UNSPECIFIED",
            "DAY",
            "WEEK",
            "MONTH",
            "QUARTER",
            "YEAR"
          ],
          "description": "Required. The unit of time."
        }
      },
      "description": "Relative date range configuration."
    },
    "GoogleIamV1TestIamPermissionsResponse": {
      "type": "object",
      "id": "GoogleIamV1TestIamPermissionsResponse",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
        }
      },
      "description": "Response message for `TestIamPermissions` method."
    },
    "GoogleCloudContactcenterinsightsV1ExportIssueModelRequest": {
      "id": "GoogleCloudContactcenterinsightsV1ExportIssueModelRequest",
      "properties": {
        "gcsDestination": {
          "$ref": "GoogleCloudContactcenterinsightsV1ExportIssueModelRequestGcsDestination",
          "description": "Google Cloud Storage URI to export the issue model to."
        },
        "name": {
          "description": "Required. The issue model to export.",
          "type": "string"
        }
      },
      "description": "Request to export an issue model.",
      "type": "object"
    },
    "GoogleTypeExpr": {
      "type": "object",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "id": "GoogleTypeExpr",
      "properties": {
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1ChartDataSource": {
      "id": "GoogleCloudContactcenterinsightsV1ChartDataSource",
      "properties": {
        "generativeInsights": {
          "$ref": "GoogleCloudContactcenterinsightsV1GenerativeInsights",
          "description": "Use natural language query to generate the chart."
        },
        "queryMetrics": {
          "$ref": "GoogleCloudContactcenterinsightsV1QueryMetrics",
          "description": "Use the existing QueryMetrics to generate the chart."
        }
      },
      "description": "The request data for visualizing the dataset in the chart.",
      "type": "object"
    },
    "GoogleCloudCesV1mainChunk": {
      "id": "GoogleCloudCesV1mainChunk",
      "properties": {
        "toolCall": {
          "description": "Optional. Tool execution request.",
          "$ref": "GoogleCloudCesV1mainToolCall"
        },
        "text": {
          "description": "Optional. Text data.",
          "type": "string"
        },
        "toolResponse": {
          "$ref": "GoogleCloudCesV1mainToolResponse",
          "description": "Optional. Tool execution response."
        },
        "defaultVariables": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "A struct represents default variables at the start of the conversation, keyed by variable names."
        },
        "blob": {
          "description": "Optional. Blob data.",
          "$ref": "GoogleCloudCesV1mainBlob"
        },
        "agentTransfer": {
          "description": "Optional. Agent transfer event.",
          "$ref": "GoogleCloudCesV1mainAgentTransfer"
        },
        "transcript": {
          "description": "Optional. Transcript associated with the audio.",
          "type": "string"
        },
        "image": {
          "$ref": "GoogleCloudCesV1mainImage",
          "description": "Optional. Image data."
        },
        "payload": {
          "type": "object",
          "description": "Optional. Custom payload data.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "updatedVariables": {
          "description": "A struct represents variables that were updated in the conversation, keyed by variable names.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        }
      },
      "description": "A chunk of content within a message.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1QueryPerformanceOverviewResponse": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1QueryPerformanceOverviewResponse",
      "properties": {
        "summaryText": {
          "description": "The summary text of the performance.",
          "type": "string"
        }
      },
      "description": "The response for querying performance overview."
    },
    "GoogleCloudContactcenterinsightsV1mainDimensionConversationProfileDimensionMetadata": {
      "type": "object",
      "description": "Metadata about the conversation profile dimension.",
      "id": "GoogleCloudContactcenterinsightsV1mainDimensionConversationProfileDimensionMetadata",
      "properties": {
        "conversationProfileId": {
          "description": "Optional. The conversation profile ID.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainFeedbackLabel": {
      "type": "object",
      "description": "Represents a conversation, resource, and label provided by the user. Can take the form of a string label or a QaAnswer label. QaAnswer labels are used for Quality AI example conversations. String labels are used for Topic Modeling. AgentAssistSummary labels are used for Agent Assist Summarization.",
      "id": "GoogleCloudContactcenterinsightsV1mainFeedbackLabel",
      "properties": {
        "createTime": {
          "description": "Output only. Create time of the label.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "description": "Immutable. Resource name of the FeedbackLabel. Format: projects/{project}/locations/{location}/conversations/{conversation}/feedbackLabels/{feedback_label}",
          "type": "string"
        },
        "label": {
          "description": "String label used for Topic Modeling.",
          "type": "string"
        },
        "qaAnswerLabel": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainQaAnswerAnswerValue",
          "description": "QaAnswer label used for Quality AI example conversations."
        },
        "labeledResource": {
          "description": "Name of the resource to be labeled. Supported resources are: * `projects/{project}/locations/{location}/qaScorecards/{scorecard}/revisions/{revision}/qaQuestions/{question}` * `projects/{project}/locations/{location}/issueModels/{issue_model}` * `projects/{project}/locations/{location}/generators/{generator_id}`",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Update time of the label.",
          "readOnly": true,
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainBulkDeleteConversationsResponse": {
      "description": "The response for a bulk delete conversations operation.",
      "id": "GoogleCloudContactcenterinsightsV1mainBulkDeleteConversationsResponse",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1BulkDeleteConversationsRequest": {
      "type": "object",
      "description": "The request to delete conversations in bulk.",
      "id": "GoogleCloudContactcenterinsightsV1BulkDeleteConversationsRequest",
      "properties": {
        "force": {
          "description": "If set to true, all of this conversation's analyses will also be deleted. Otherwise, the request will only succeed if the conversation has no analyses.",
          "type": "boolean"
        },
        "filter": {
          "description": "Filter used to select the subset of conversations to delete.",
          "type": "string"
        },
        "maxDeleteCount": {
          "description": "Maximum number of conversations to delete.",
          "format": "int32",
          "type": "integer"
        },
        "parent": {
          "description": "Required. The parent resource to delete conversations from. Format: projects/{project}/locations/{location}",
          "type": "string"
        }
      }
    },
    "GoogleIamV1Policy": {
      "type": "object",
      "id": "GoogleIamV1Policy",
      "properties": {
        "version": {
          "type": "integer",
          "format": "int32",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "GoogleIamV1Binding"
          },
          "type": "array"
        },
        "auditConfigs": {
          "type": "array",
          "items": {
            "$ref": "GoogleIamV1AuditConfig"
          },
          "description": "Specifies cloud audit logging configuration for this policy."
        },
        "etag": {
          "type": "string",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte"
        }
      },
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
    },
    "GoogleCloudCesV1mainEndSession": {
      "id": "GoogleCloudCesV1mainEndSession",
      "properties": {
        "metadata": {
          "description": "Optional. Provides additional information about the end session signal, such as the reason for ending the session.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        }
      },
      "description": "Indicates the session has terminated, due to either successful completion (e.g. user says \"Good bye!\" ) or an agent escalation. The agent will not process any further inputs after session is terminated and the client should half-close and disconnect after receiving all remaining responses from the agent.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainIngestConversationsResponse": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainIngestConversationsResponse",
      "properties": {},
      "description": "The response to an IngestConversations operation."
    },
    "GoogleCloudCesV1mainSpan": {
      "type": "object",
      "description": "A span is a unit of work or a single operation during the request processing.",
      "id": "GoogleCloudCesV1mainSpan",
      "properties": {
        "attributes": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Output only. Key-value attributes associated with the span.",
          "readOnly": true
        },
        "name": {
          "description": "Output only. The name of the span.",
          "readOnly": true,
          "type": "string"
        },
        "childSpans": {
          "items": {
            "$ref": "GoogleCloudCesV1mainSpan"
          },
          "type": "array",
          "description": "Output only. The child spans that are nested under this span.",
          "readOnly": true
        },
        "duration": {
          "type": "string",
          "description": "Output only. The duration of the span.",
          "readOnly": true,
          "format": "google-duration"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Output only. The start time of the span.",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "description": "Output only. The end time of the span.",
          "readOnly": true,
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1ConversationParticipant": {
      "description": "The call participant speaking for a given utterance.",
      "id": "GoogleCloudContactcenterinsightsV1ConversationParticipant",
      "properties": {
        "dialogflowParticipantName": {
          "description": "The name of the participant provided by Dialogflow. Format: projects/{project}/locations/{location}/conversations/{conversation}/participants/{participant}",
          "type": "string"
        },
        "userId": {
          "description": "A user-specified ID representing the participant.",
          "type": "string"
        },
        "dialogflowParticipant": {
          "description": "Deprecated. Use `dialogflow_participant_name` instead. The name of the Dialogflow participant. Format: projects/{project}/locations/{location}/conversations/{conversation}/participants/{participant}",
          "deprecated": true,
          "type": "string"
        },
        "obfuscatedExternalUserId": {
          "description": "Obfuscated user ID from Dialogflow.",
          "type": "string"
        },
        "role": {
          "description": "The role of the participant.",
          "type": "string",
          "enumDescriptions": [
            "Participant's role is not set.",
            "Participant is a human agent.",
            "Participant is an automated agent.",
            "Participant is an end user who conversed with the contact center.",
            "Participant is either a human or automated agent."
          ],
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER",
            "ANY_AGENT"
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainEntityMentionData": {
      "description": "The data for an entity mention annotation. This represents a mention of an `Entity` in the conversation.",
      "id": "GoogleCloudContactcenterinsightsV1mainEntityMentionData",
      "properties": {
        "entityUniqueId": {
          "description": "The key of this entity in conversation entities. Can be used to retrieve the exact `Entity` this mention is attached to.",
          "type": "string"
        },
        "sentiment": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainSentimentData",
          "description": "Sentiment expressed for this mention of the entity."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Proper noun.",
            "Common noun (or noun compound)."
          ],
          "enum": [
            "MENTION_TYPE_UNSPECIFIED",
            "PROPER",
            "COMMON"
          ],
          "description": "The type of the entity mention."
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1PhraseMatcher": {
      "description": "The phrase matcher resource.",
      "id": "GoogleCloudContactcenterinsightsV1PhraseMatcher",
      "properties": {
        "type": {
          "description": "Required. The type of this phrase matcher.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Must meet all phrase match rule groups or there is no match.",
            "If any of the phrase match rule groups are met, there is a match."
          ],
          "enum": [
            "PHRASE_MATCHER_TYPE_UNSPECIFIED",
            "ALL_OF",
            "ANY_OF"
          ]
        },
        "updateTime": {
          "description": "Output only. The most recent time at which the phrase matcher was updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "description": "The resource name of the phrase matcher. Format: projects/{project}/locations/{location}/phraseMatchers/{phrase_matcher}",
          "type": "string"
        },
        "phraseMatchRuleGroups": {
          "description": "A list of phase match rule groups that are included in this matcher.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1PhraseMatchRuleGroup"
          }
        },
        "roleMatch": {
          "type": "string",
          "enumDescriptions": [
            "Participant's role is not set.",
            "Participant is a human agent.",
            "Participant is an automated agent.",
            "Participant is an end user who conversed with the contact center.",
            "Participant is either a human or automated agent."
          ],
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER",
            "ANY_AGENT"
          ],
          "description": "The role whose utterances the phrase matcher should be matched against. If the role is ROLE_UNSPECIFIED it will be matched against any utterances in the transcript."
        },
        "versionTag": {
          "description": "The customized version tag to use for the phrase matcher. If not specified, it will default to `revision_id`.",
          "type": "string"
        },
        "displayName": {
          "description": "The human-readable name of the phrase matcher.",
          "type": "string"
        },
        "revisionCreateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp of when the revision was created. It is also the create time when a new matcher is added.",
          "readOnly": true
        },
        "activationUpdateTime": {
          "description": "Output only. The most recent time at which the activation status was updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "revisionId": {
          "type": "string",
          "description": "Output only. Immutable. The revision ID of the phrase matcher. A new revision is committed whenever the matcher is changed, except when it is activated or deactivated. A server generated random ID will be used. Example: locations/global/phraseMatchers/my-first-matcher@1234567",
          "readOnly": true
        },
        "active": {
          "description": "Applies the phrase matcher only when it is active.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainConstraintEvaluationResult": {
      "description": "The result of testing a constraint expression on a pair of conversations.",
      "id": "GoogleCloudContactcenterinsightsV1mainConstraintEvaluationResult",
      "properties": {
        "ruleConstraintResults": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainConstraintEvaluationResultRuleConstraintResult"
          },
          "type": "array",
          "description": "The results for each applicable constraint rule."
        },
        "conversationB": {
          "description": "The second conversation resource name.",
          "type": "string"
        },
        "conversationA": {
          "description": "The first conversation resource name.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1ListAuthorizedViewSetsResponse": {
      "id": "GoogleCloudContactcenterinsightsV1ListAuthorizedViewSetsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "authorizedViewSets": {
          "description": "The AuthorizedViewSets under the parent.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1AuthorizedViewSet"
          }
        }
      },
      "description": "The response from a ListAuthorizedViewSet request.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1QueryPerformanceOverviewMetadata": {
      "description": "The metadata for querying performance overview.",
      "id": "GoogleCloudContactcenterinsightsV1QueryPerformanceOverviewMetadata",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSlice": {
      "description": "A slice contains a total and (if the request specified a time granularity) a time series of metric values. Each slice contains a unique combination of the cardinality of dimensions from the request. For example, if the request specifies a single ISSUE dimension and it has a cardinality of 2 (i.e. the data used to compute the metrics has 2 issues in total), the response will have 2 slices: * Slice 1 -> dimensions=[Issue 1] * Slice 2 -> dimensions=[Issue 2]",
      "id": "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSlice",
      "properties": {
        "timeSeries": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceTimeSeries",
          "description": "A time series of metric values. This is only populated if the request specifies a time granularity other than NONE."
        },
        "dimensions": {
          "description": "A unique combination of dimensions that this slice represents.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainDimension"
          }
        },
        "total": {
          "description": "The total metric value. The interval of this data point is [starting create time, ending create time) from the request.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPoint"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1IssueModel": {
      "description": "The issue model resource.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1IssueModel",
      "properties": {
        "displayName": {
          "description": "The representative name for the issue model.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which this issue model was created.",
          "readOnly": true
        },
        "modelType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified model type.",
            "Type V1.",
            "Type V2."
          ],
          "enum": [
            "MODEL_TYPE_UNSPECIFIED",
            "TYPE_V1",
            "TYPE_V2"
          ],
          "description": "Type of the model."
        },
        "issueCount": {
          "type": "string",
          "format": "int64",
          "description": "Output only. Number of issues in this issue model.",
          "readOnly": true
        },
        "inputDataConfig": {
          "description": "Configs for the input data that used to create the issue model.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1IssueModelInputDataConfig"
        },
        "languageCode": {
          "description": "Language of the model.",
          "type": "string"
        },
        "name": {
          "description": "Immutable. The resource name of the issue model. Format: projects/{project}/locations/{location}/issueModels/{issue_model}",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Unspecified.",
            "Model is not deployed but is ready to deploy.",
            "Model is being deployed.",
            "Model is deployed and is ready to be used. A model can only be used in analysis if it's in this state.",
            "Model is being undeployed.",
            "Model is being deleted."
          ],
          "description": "Output only. State of the model.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "UNDEPLOYED",
            "DEPLOYING",
            "DEPLOYED",
            "UNDEPLOYING",
            "DELETING"
          ]
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The most recent time at which the issue model was updated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "trainingStats": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1IssueModelLabelStats",
          "description": "Output only. Immutable. The issue model's label statistics on its training data.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1IssueModelResult": {
      "description": "Issue Modeling result on a conversation.",
      "id": "GoogleCloudContactcenterinsightsV1IssueModelResult",
      "properties": {
        "issueModel": {
          "description": "Issue model that generates the result. Format: projects/{project}/locations/{location}/issueModels/{issue_model}",
          "type": "string"
        },
        "issues": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1IssueAssignment"
          },
          "type": "array",
          "description": "All the matched issues."
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1IngestConversationsMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1IngestConversationsMetadata",
      "properties": {
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "partialErrors": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array",
          "description": "Output only. Partial errors during ingest operation that might cause the operation output to be incomplete.",
          "readOnly": true
        },
        "ingestConversationsStats": {
          "description": "Output only. Statistics for IngestConversations operation.",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1IngestConversationsMetadataIngestConversationsStats"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "readOnly": true
        },
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1IngestConversationsRequest",
          "description": "Output only. The original request for ingest.",
          "readOnly": true
        },
        "sampledConversations": {
          "description": "Output only. Stores the conversation resources produced by ingest sampling operations.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "The metadata for an IngestConversations operation.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainSampleRule": {
      "type": "object",
      "description": "Message for sampling conversations.",
      "id": "GoogleCloudContactcenterinsightsV1mainSampleRule",
      "properties": {
        "conversationFilter": {
          "description": "To specify the filter for the conversions that should apply this sample rule. An empty filter means this sample rule applies to all conversations.",
          "type": "string"
        },
        "samplePercentage": {
          "format": "double",
          "description": "Percentage of conversations that we should sample based on the dimension between [0, 100].",
          "type": "number"
        },
        "dimension": {
          "description": "Optional. Group by dimension to sample the conversation. If no dimension is provided, the sampling will be applied to the project level. Current supported dimensions is 'quality_metadata.agent_info.agent_id'.",
          "type": "string"
        },
        "sampleRow": {
          "type": "string",
          "description": "Number of the conversations that we should sample based on the dimension.",
          "format": "int64"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1ExportIssueModelRequestGcsDestination": {
      "id": "GoogleCloudContactcenterinsightsV1ExportIssueModelRequestGcsDestination",
      "properties": {
        "objectUri": {
          "description": "Required. Format: `gs:///`",
          "type": "string"
        }
      },
      "description": "Google Cloud Storage Object URI to save the issue model to.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainDeleteQaQuestionTagRequest": {
      "id": "GoogleCloudContactcenterinsightsV1mainDeleteQaQuestionTagRequest",
      "properties": {
        "name": {
          "description": "Required. The name of the QaQuestionTag to delete.",
          "type": "string"
        }
      },
      "description": "The request for deleting a QaQuestionTag.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1GcsSource": {
      "description": "A Cloud Storage source of conversation data.",
      "id": "GoogleCloudContactcenterinsightsV1GcsSource",
      "properties": {
        "audioUri": {
          "description": "Cloud Storage URI that points to a file that contains the conversation audio.",
          "type": "string"
        },
        "transcriptUri": {
          "description": "Immutable. Cloud Storage URI that points to a file that contains the conversation transcript.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1UndeployIssueModelResponse": {
[...]
