{
  "discoveryVersion": "v1",
  "revision": "20260701",
  "rootUrl": "https://shoppingcontent.googleapis.com/",
  "resources": {
    "pubsubnotificationsettings": {
      "methods": {
        "update": {
          "httpMethod": "PUT",
          "parameters": {
            "merchantId": {
              "format": "uint64",
              "required": true,
              "description": "The ID of the account.",
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "merchantId"
          ],
          "description": "Register a Merchant Center account for pubsub notifications. Note that cloud topic name shouldn't be provided as part of the request.",
          "path": "{merchantId}/pubsubnotificationsettings",
          "response": {
            "$ref": "PubsubNotificationSettings"
          },
          "request": {
            "$ref": "PubsubNotificationSettings"
          },
          "flatPath": "{merchantId}/pubsubnotificationsettings",
          "id": "content.pubsubnotificationsettings.update",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "get": {
          "httpMethod": "GET",
          "parameters": {
            "merchantId": {
              "format": "uint64",
              "required": true,
              "type": "string",
              "description": "The ID of the account for which to get pubsub notification settings.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "merchantId"
          ],
          "description": "Retrieves a Merchant Center account's pubsub notification settings.",
          "path": "{merchantId}/pubsubnotificationsettings",
          "response": {
            "$ref": "PubsubNotificationSettings"
          },
          "id": "content.pubsubnotificationsettings.get",
          "flatPath": "{merchantId}/pubsubnotificationsettings",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        }
      }
    },
    "productstatuses": {
      "methods": {
        "custombatch": {
          "id": "content.productstatuses.custombatch",
          "flatPath": "productstatuses/batch",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "POST",
          "parameters": {},
          "parameterOrder": [],
          "description": "Gets the statuses of multiple products in a single request.",
          "path": "productstatuses/batch",
          "response": {
            "$ref": "ProductstatusesCustomBatchResponse"
          },
          "request": {
            "$ref": "ProductstatusesCustomBatchRequest"
          }
        },
        "list": {
          "flatPath": "{merchantId}/productstatuses",
          "id": "content.productstatuses.list",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "GET",
          "parameters": {
            "maxResults": {
              "location": "query",
              "description": "The maximum number of product statuses to return in the response, used for paging. The default value is 25. The maximum value is 250.",
              "format": "uint32",
              "type": "integer"
            },
            "pageToken": {
              "location": "query",
              "description": "The token returned by the previous request.",
              "type": "string"
            },
            "merchantId": {
              "format": "uint64",
              "required": true,
              "type": "string",
              "description": "The ID of the account that contains the products. This account cannot be a multi-client account.",
              "location": "path"
            },
            "destinations": {
              "repeated": true,
              "type": "string",
              "description": "If set, only issues for the specified destinations are returned, otherwise only issues for the Shopping destination.",
              "location": "query"
            }
          },
          "parameterOrder": [
            "merchantId"
          ],
          "description": "Lists the statuses of the products in your Merchant Center account.",
          "path": "{merchantId}/productstatuses",
          "response": {
            "$ref": "ProductstatusesListResponse"
          }
        },
        "get": {
          "path": "{merchantId}/productstatuses/{productId}",
          "response": {
            "$ref": "ProductStatus"
          },
          "httpMethod": "GET",
          "parameters": {
            "merchantId": {
              "required": true,
              "format": "uint64",
              "type": "string",
              "location": "path",
              "description": "The ID of the account that contains the product. This account cannot be a multi-client account."
            },
            "destinations": {
              "type": "string",
              "repeated": true,
              "location": "query",
              "description": "If set, only issues for the specified destinations are returned, otherwise only issues for the Shopping destination."
            },
            "productId": {
              "description": "The REST ID of the product.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "merchantId",
            "productId"
          ],
          "description": "Gets the status of a product from your Merchant Center account.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "{merchantId}/productstatuses/{productId}",
          "id": "content.productstatuses.get"
        }
      }
    },
    "promotions": {
      "methods": {
        "create": {
          "path": "{merchantId}/promotions",
          "response": {
            "$ref": "Promotion"
          },
          "request": {
            "$ref": "Promotion"
          },
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "description": "Required. The ID of the account that contains the collection.",
              "location": "path",
              "type": "string",
              "format": "int64",
              "required": true
            }
          },
          "parameterOrder": [
            "merchantId"
          ],
          "description": "Inserts a promotion for your Merchant Center account. If the promotion already exists, then it updates the promotion instead. To [end or delete] (https://developers.google.com/shopping-content/guides/promotions#end_a_promotion) a promotion update the time period of the promotion to a time that has already passed.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.promotions.create",
          "flatPath": "{merchantId}/promotions"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "{merchantId}/promotions",
          "id": "content.promotions.list",
          "path": "{merchantId}/promotions",
          "response": {
            "$ref": "ListPromotionResponse"
          },
          "httpMethod": "GET",
          "parameters": {
            "countryCode": {
              "type": "string",
              "location": "query",
              "description": "[CLDR country code](http://www.unicode.org/repos/cldr/tags/latest/common/main/en.xml) (for example, \"US\"), used as a filter on promotions target country."
            },
            "pageToken": {
              "description": "A page token, received from a previous `ListPromotion` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPromotion` must match the call that provided the page token.",
              "location": "query",
              "type": "string"
            },
            "merchantId": {
              "required": true,
              "format": "int64",
              "location": "path",
              "description": "Required. The ID of the account that contains the collection.",
              "type": "string"
            },
            "pageSize": {
              "description": "The maximum number of promotions to return. The service may return fewer than this value. If unspecified, at most 50 labels will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "languageCode": {
              "location": "query",
              "description": "The two-letter ISO 639-1 language code associated with the promotions, used as a filter.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "merchantId"
          ],
          "description": "List all promotions from your Merchant Center account."
        },
        "get": {
          "id": "content.promotions.get",
          "flatPath": "{merchantId}/promotions/{id}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "GET",
          "parameters": {
            "merchantId": {
              "format": "int64",
              "required": true,
              "type": "string",
              "description": "Required. The ID of the account that contains the collection.",
              "location": "path"
            },
            "id": {
              "type": "string",
              "description": "Required. REST ID of the promotion to retrieve.",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "merchantId",
            "id"
          ],
          "description": "Retrieves a promotion from your Merchant Center account.",
          "path": "{merchantId}/promotions/{id}",
          "response": {
            "$ref": "Promotion"
          }
        }
      }
    },
    "regions": {
      "methods": {
        "create": {
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "description": "Required. The id of the merchant for which to create region definition.",
              "location": "path",
              "type": "string",
              "format": "int64",
              "required": true
            },
            "regionId": {
              "type": "string",
              "location": "query",
              "description": "Required. The id of the region to create."
            }
          },
          "parameterOrder": [
            "merchantId"
          ],
          "description": "Creates a region definition in your Merchant Center account.",
          "request": {
            "$ref": "Region"
          },
          "path": "{merchantId}/regions",
          "response": {
            "$ref": "Region"
          },
          "flatPath": "{merchantId}/regions",
          "id": "content.regions.create",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "patch": {
          "id": "content.regions.patch",
          "flatPath": "{merchantId}/regions/{regionId}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "PATCH",
          "parameters": {
            "regionId": {
              "location": "path",
              "required": true,
              "description": "Required. The id of the region to update.",
              "type": "string"
            },
            "updateMask": {
              "type": "string",
              "description": "Optional. The comma-separated field mask indicating the fields to update. Example: `\"displayName,postalCodeArea.regionCode\"`.",
              "format": "google-fieldmask",
              "location": "query"
            },
            "merchantId": {
              "required": true,
              "format": "int64",
              "location": "path",
              "description": "Required. The id of the merchant for which to update region definition.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "merchantId",
            "regionId"
          ],
          "description": "Updates a region definition in your Merchant Center account.",
          "request": {
            "$ref": "Region"
          },
          "path": "{merchantId}/regions/{regionId}",
          "response": {
            "$ref": "Region"
          }
        },
        "get": {
          "httpMethod": "GET",
          "parameters": {
            "merchantId": {
              "format": "int64",
              "required": true,
              "type": "string",
              "description": "Required. The id of the merchant for which to retrieve region definition.",
              "location": "path"
            },
            "regionId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. The id of the region to retrieve."
            }
          },
          "parameterOrder": [
            "merchantId",
            "regionId"
          ],
          "description": "Retrieves a region defined in your Merchant Center account.",
          "path": "{merchantId}/regions/{regionId}",
          "response": {
            "$ref": "Region"
          },
          "id": "content.regions.get",
          "flatPath": "{merchantId}/regions/{regionId}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "{merchantId}/regions",
          "id": "content.regions.list",
          "path": "{merchantId}/regions",
          "response": {
            "$ref": "ListRegionsResponse"
          },
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "A page token, received from a previous `ListRegions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListRegions` must match the call that provided the page token."
            },
            "merchantId": {
              "description": "Required. The id of the merchant for which to list region definitions.",
              "location": "path",
              "type": "string",
              "format": "int64",
              "required": true
            },
            "pageSize": {
              "location": "query",
              "description": "The maximum number of regions to return. The service may return fewer than this value. If unspecified, at most 50 rules will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
              "format": "int32",
              "type": "integer"
            }
          },
          "parameterOrder": [
            "merchantId"
          ],
          "description": "Lists the regions in your Merchant Center account."
        },
        "delete": {
          "httpMethod": "DELETE",
          "parameters": {
            "merchantId": {
              "required": true,
              "format": "int64",
              "location": "path",
              "description": "Required. The id of the merchant for which to delete region definition.",
              "type": "string"
            },
            "regionId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. The id of the region to delete."
            }
          },
          "parameterOrder": [
            "merchantId",
            "regionId"
          ],
          "description": "Deletes a region definition from your Merchant Center account.",
          "id": "content.regions.delete",
          "flatPath": "{merchantId}/regions/{regionId}",
          "path": "{merchantId}/regions/{regionId}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        }
      }
    },
    "productdeliverytime": {
      "methods": {
        "create": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "{merchantId}/productdeliverytime",
          "id": "content.productdeliverytime.create",
          "request": {
            "$ref": "ProductDeliveryTime"
          },
          "path": "{merchantId}/productdeliverytime",
          "response": {
            "$ref": "ProductDeliveryTime"
          },
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "format": "int64",
              "required": true,
              "type": "string",
              "description": "The Google merchant ID of the account that contains the product. This account cannot be a multi-client account.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "merchantId"
          ],
          "description": "Creates or updates the delivery time of a product."
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "{merchantId}/productdeliverytime/{productId}",
          "id": "content.productdeliverytime.get",
          "path": "{merchantId}/productdeliverytime/{productId}",
          "response": {
            "$ref": "ProductDeliveryTime"
          },
          "httpMethod": "GET",
          "parameters": {
            "merchantId": {
              "type": "string",
              "location": "path",
              "description": "Required. The Google merchant ID of the account that contains the product. This account cannot be a multi-client account.",
              "required": true,
              "format": "int64"
            },
            "productId": {
              "location": "path",
              "required": true,
              "description": "Required. The Content API ID of the product, in the form `channel:contentLanguage:targetCountry:offerId`.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "merchantId",
            "productId"
          ],
          "description": "Gets `productDeliveryTime` by `productId`."
        },
        "delete": {
          "httpMethod": "DELETE",
          "parameters": {
            "merchantId": {
              "format": "int64",
              "required": true,
              "type": "string",
              "description": "Required. The Google merchant ID of the account that contains the product. This account cannot be a multi-client account.",
              "location": "path"
            },
            "productId": {
              "description": "Required. The Content API ID of the product, in the form `channel:contentLanguage:targetCountry:offerId`.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "merchantId",
            "productId"
          ],
          "description": "Deletes the delivery time of a product.",
          "id": "content.productdeliverytime.delete",
          "flatPath": "{merchantId}/productdeliverytime/{productId}",
          "path": "{merchantId}/productdeliverytime/{productId}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        }
      }
    },
    "products": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "parameters": {
            "maxResults": {
              "type": "integer",
              "description": "The maximum number of products to return in the response, used for paging. The default value is 25. The maximum value is 250.",
              "format": "uint32",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The token returned by the previous request."
            },
            "merchantId": {
              "required": true,
              "format": "uint64",
              "location": "path",
              "description": "The ID of the account that contains the products. This account cannot be a multi-client account.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "merchantId"
          ],
          "description": "Lists the products in your Merchant Center account. The response might contain fewer items than specified by maxResults. Rely on nextPageToken to determine if there are more items to be requested.",
          "path": "{merchantId}/products",
          "response": {
            "$ref": "ProductsListResponse"
          },
          "flatPath": "{merchantId}/products",
          "id": "content.products.list",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "insert": {
          "path": "{merchantId}/products",
          "response": {
            "$ref": "Product"
          },
          "request": {
            "$ref": "Product"
          },
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "required": true,
              "format": "uint64",
              "location": "path",
              "description": "The ID of the account that contains the product. This account cannot be a multi-client account.",
              "type": "string"
            },
            "feedId": {
              "description": "The Content API Supplemental Feed ID. If present then product insertion applies to the data in a supplemental feed.",
              "format": "uint64",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [
            "merchantId"
          ],
          "description": "Uploads a product to your Merchant Center account. If an item with the same channel, contentLanguage, offerId, and targetCountry already exists, this method updates that entry.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.products.insert",
          "flatPath": "{merchantId}/products"
        },
        "delete": {
          "flatPath": "{merchantId}/products/{productId}",
          "id": "content.products.delete",
          "httpMethod": "DELETE",
          "parameters": {
            "productId": {
              "description": "The REST ID of the product.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "merchantId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the account that contains the product. This account cannot be a multi-client account.",
              "required": true,
              "format": "uint64"
            },
            "feedId": {
              "description": "The Content API Supplemental Feed ID. If present then product deletion applies to the data in a supplemental feed. If absent, entire product will be deleted.",
              "format": "uint64",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [
            "merchantId",
            "productId"
          ],
          "description": "Deletes a product from your Merchant Center account.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "{merchantId}/products/{productId}"
        },
        "custombatch": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "products/batch",
          "id": "content.products.custombatch",
          "path": "products/batch",
          "response": {
            "$ref": "ProductsCustomBatchResponse"
          },
          "request": {
            "$ref": "ProductsCustomBatchRequest"
          },
          "httpMethod": "POST",
          "parameters": {},
          "parameterOrder": [],
          "description": "Retrieves, inserts, and deletes multiple products in a single request."
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "{merchantId}/products/{productId}",
          "id": "content.products.update",
          "request": {
            "$ref": "Product"
          },
          "path": "{merchantId}/products/{productId}",
          "response": {
            "$ref": "Product"
          },
          "httpMethod": "PATCH",
          "parameters": {
            "merchantId": {
              "type": "string",
              "description": "The ID of the account that contains the product. This account cannot be a multi-client account.",
              "location": "path",
              "format": "uint64",
              "required": true
            },
            "productId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The REST ID of the product for which to update."
            },
            "updateMask": {
              "description": "The comma-separated list of product attributes to be updated. Example: `\"title,salePrice\"`. Attributes specified in the update mask without a value specified in the body will be deleted from the product. *You must specify the update mask to delete attributes.* Only top-level product attributes can be updated. If not defined, product attributes with set values will be updated and other attributes will stay unchanged.",
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [
            "merchantId",
            "productId"
          ],
          "description": "Updates an existing product in your Merchant Center account. Only updates attributes provided in the request."
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.products.get",
          "flatPath": "{merchantId}/products/{productId}",
          "path": "{merchantId}/products/{productId}",
          "response": {
            "$ref": "Product"
          },
          "httpMethod": "GET",
          "parameters": {
            "merchantId": {
              "format": "uint64",
              "required": true,
              "description": "The ID of the account that contains the product. This account cannot be a multi-client account.",
              "location": "path",
              "type": "string"
            },
            "productId": {
              "type": "string",
              "description": "The REST ID of the product.",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "merchantId",
            "productId"
          ],
          "description": "Retrieves a product from your Merchant Center account."
        }
      }
    },
    "datafeeds": {
      "methods": {
        "fetchnow": {
          "flatPath": "{merchantId}/datafeeds/{datafeedId}/fetchNow",
          "id": "content.datafeeds.fetchnow",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "format": "uint64",
              "required": true,
              "description": "The ID of the account that manages the datafeed. This account cannot be a multi-client account.",
              "location": "path",
              "type": "string"
            },
            "datafeedId": {
              "location": "path",
              "description": "The ID of the datafeed to be fetched.",
              "type": "string",
              "required": true,
              "format": "uint64"
            }
          },
          "parameterOrder": [
            "merchantId",
            "datafeedId"
          ],
          "description": "Invokes a fetch for the datafeed in your Merchant Center account. If you need to call this method more than once per day, we recommend you use the [Products service](https://developers.google.com/shopping-content/reference/rest/v2.1/products) to update your product data.",
          "path": "{merchantId}/datafeeds/{datafeedId}/fetchNow",
          "response": {
            "$ref": "DatafeedsFetchNowResponse"
          }
        },
        "insert": {
          "flatPath": "{merchantId}/datafeeds",
          "id": "content.datafeeds.insert",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "required": true,
              "format": "uint64",
              "location": "path",
              "description": "The ID of the account that manages the datafeed. This account cannot be a multi-client account.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "merchantId"
          ],
          "description": "Registers a datafeed configuration with your Merchant Center account.",
          "path": "{merchantId}/datafeeds",
          "response": {
            "$ref": "Datafeed"
          },
          "request": {
            "$ref": "Datafeed"
          }
        },
        "list": {
          "httpMethod": "GET",
          "parameters": {
            "merchantId": {
              "required": true,
              "format": "uint64",
              "type": "string",
              "location": "path",
              "description": "The ID of the account that manages the datafeeds. This account cannot be a multi-client account."
            },
            "maxResults": {
              "location": "query",
              "description": "The maximum number of products to return in the response, used for paging.",
              "format": "uint32",
              "type": "integer"
            },
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            }
          },
          "parameterOrder": [
            "merchantId"
          ],
          "description": "Lists the configurations for datafeeds in your Merchant Center account.",
          "path": "{merchantId}/datafeeds",
          "response": {
            "$ref": "DatafeedsListResponse"
          },
          "id": "content.datafeeds.list",
          "flatPath": "{merchantId}/datafeeds",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "delete": {
          "flatPath": "{merchantId}/datafeeds/{datafeedId}",
          "id": "content.datafeeds.delete",
          "httpMethod": "DELETE",
          "parameters": {
            "merchantId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the account that manages the datafeed. This account cannot be a multi-client account.",
              "required": true,
              "format": "uint64"
            },
            "datafeedId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the datafeed.",
              "required": true,
              "format": "uint64"
            }
          },
          "parameterOrder": [
            "merchantId",
            "datafeedId"
          ],
          "description": "Deletes a datafeed configuration from your Merchant Center account.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "{merchantId}/datafeeds/{datafeedId}"
        },
        "custombatch": {
          "flatPath": "datafeeds/batch",
          "id": "content.datafeeds.custombatch",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "POST",
          "parameters": {},
          "parameterOrder": [],
          "description": "Deletes, fetches, gets, inserts and updates multiple datafeeds in a single request.",
          "path": "datafeeds/batch",
          "response": {
            "$ref": "DatafeedsCustomBatchResponse"
          },
          "request": {
            "$ref": "DatafeedsCustomBatchRequest"
          }
        },
        "get": {
          "path": "{merchantId}/datafeeds/{datafeedId}",
          "response": {
            "$ref": "Datafeed"
          },
          "httpMethod": "GET",
          "parameters": {
            "merchantId": {
              "format": "uint64",
              "required": true,
              "type": "string",
              "description": "The ID of the account that manages the datafeed. This account cannot be a multi-client account.",
              "location": "path"
            },
            "datafeedId": {
              "format": "uint64",
              "required": true,
              "description": "The ID of the datafeed.",
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "merchantId",
            "datafeedId"
          ],
          "description": "Retrieves a datafeed configuration from your Merchant Center account.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "{merchantId}/datafeeds/{datafeedId}",
          "id": "content.datafeeds.get"
        },
        "update": {
          "httpMethod": "PUT",
          "parameters": {
            "merchantId": {
              "description": "The ID of the account that manages the datafeed. This account cannot be a multi-client account.",
              "location": "path",
              "type": "string",
              "format": "uint64",
              "required": true
            },
            "datafeedId": {
              "location": "path",
              "description": "The ID of the datafeed.",
              "type": "string",
              "required": true,
              "format": "uint64"
            }
          },
          "parameterOrder": [
            "merchantId",
            "datafeedId"
          ],
          "description": "Updates a datafeed configuration of your Merchant Center account. Any fields that are not provided are deleted from the resource.",
          "request": {
            "$ref": "Datafeed"
          },
          "path": "{merchantId}/datafeeds/{datafeedId}",
          "response": {
            "$ref": "Datafeed"
          },
          "id": "content.datafeeds.update",
          "flatPath": "{merchantId}/datafeeds/{datafeedId}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        }
      }
    },
    "reports": {
      "methods": {
        "search": {
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "required": true,
              "format": "int64",
              "type": "string",
              "location": "path",
              "description": "Required. Id of the merchant making the call. Must be a standalone account or an MCA subaccount."
            }
          },
          "parameterOrder": [
            "merchantId"
          ],
          "description": "Retrieves merchant performance metrics matching the search query and optionally segmented by selected dimensions.",
          "request": {
            "$ref": "SearchRequest"
          },
          "path": "{merchantId}/reports/search",
          "response": {
            "$ref": "SearchResponse"
          },
          "id": "content.reports.search",
          "flatPath": "{merchantId}/reports/search",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        }
      }
    },
    "localinventory": {
      "methods": {
        "insert": {
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "format": "uint64",
              "required": true,
              "type": "string",
              "description": "The ID of the account that contains the product. This account cannot be a multi-client account.",
              "location": "path"
            },
            "productId": {
              "description": "The REST ID of the product for which to update local inventory.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "merchantId",
            "productId"
          ],
          "description": "Updates the local inventory of a product in your Merchant Center account.",
          "request": {
            "$ref": "LocalInventory"
          },
          "path": "{merchantId}/products/{productId}/localinventory",
          "response": {
            "$ref": "LocalInventory"
          },
          "flatPath": "{merchantId}/products/{productId}/localinventory",
          "id": "content.localinventory.insert",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "custombatch": {
          "flatPath": "localinventory/batch",
          "id": "content.localinventory.custombatch",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "POST",
          "parameters": {},
          "parameterOrder": [],
          "description": "Updates local inventory for multiple products or stores in a single request.",
          "path": "localinventory/batch",
          "response": {
            "$ref": "LocalinventoryCustomBatchResponse"
          },
          "request": {
            "$ref": "LocalinventoryCustomBatchRequest"
          }
        }
      }
    },
    "pos": {
      "methods": {
        "sale": {
          "path": "{merchantId}/pos/{targetMerchantId}/sale",
          "response": {
            "$ref": "PosSaleResponse"
          },
          "request": {
            "$ref": "PosSaleRequest"
          },
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "format": "uint64",
              "required": true,
              "description": "The ID of the POS or inventory data provider.",
              "location": "path",
              "type": "string"
            },
            "targetMerchantId": {
              "description": "The ID of the target merchant.",
              "location": "path",
              "type": "string",
              "format": "uint64",
              "required": true
            }
          },
          "parameterOrder": [
            "merchantId",
            "targetMerchantId"
          ],
          "description": "Submit a sale event for the given merchant.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "{merchantId}/pos/{targetMerchantId}/sale",
          "id": "content.pos.sale"
        },
        "delete": {
          "flatPath": "{merchantId}/pos/{targetMerchantId}/store/{storeCode}",
          "id": "content.pos.delete",
          "httpMethod": "DELETE",
          "parameters": {
            "targetMerchantId": {
              "type": "string",
              "description": "The ID of the target merchant.",
              "location": "path",
              "format": "uint64",
              "required": true
            },
            "storeCode": {
              "location": "path",
              "required": true,
              "description": "A store code that is unique per merchant.",
              "type": "string"
            },
            "merchantId": {
              "description": "The ID of the POS or inventory data provider.",
              "location": "path",
              "type": "string",
              "format": "uint64",
              "required": true
            }
          },
          "parameterOrder": [
            "merchantId",
            "targetMerchantId",
            "storeCode"
          ],
          "description": "Deletes a store for the given merchant.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "{merchantId}/pos/{targetMerchantId}/store/{storeCode}"
        },
        "list": {
          "flatPath": "{merchantId}/pos/{targetMerchantId}/store",
          "id": "content.pos.list",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "GET",
          "parameters": {
            "merchantId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the POS or inventory data provider.",
              "required": true,
              "format": "uint64"
            },
            "targetMerchantId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the target merchant.",
              "required": true,
              "format": "uint64"
            }
          },
          "parameterOrder": [
            "merchantId",
            "targetMerchantId"
          ],
          "description": "Lists the stores of the target merchant.",
          "path": "{merchantId}/pos/{targetMerchantId}/store",
          "response": {
            "$ref": "PosListResponse"
          }
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.pos.insert",
          "flatPath": "{merchantId}/pos/{targetMerchantId}/store",
          "request": {
            "$ref": "PosStore"
          },
          "path": "{merchantId}/pos/{targetMerchantId}/store",
          "response": {
            "$ref": "PosStore"
          },
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "location": "path",
              "description": "The ID of the POS or inventory data provider.",
              "type": "string",
              "required": true,
              "format": "uint64"
            },
            "targetMerchantId": {
              "type": "string",
              "description": "The ID of the target merchant.",
              "location": "path",
              "format": "uint64",
              "required": true
            }
          },
          "parameterOrder": [
            "merchantId",
            "targetMerchantId"
          ],
          "description": "Creates a store for the given merchant."
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.pos.get",
          "flatPath": "{merchantId}/pos/{targetMerchantId}/store/{storeCode}",
          "path": "{merchantId}/pos/{targetMerchantId}/store/{storeCode}",
          "response": {
            "$ref": "PosStore"
          },
          "httpMethod": "GET",
          "parameters": {
            "merchantId": {
              "required": true,
              "format": "uint64",
              "type": "string",
              "location": "path",
              "description": "The ID of the POS or inventory data provider."
            },
            "targetMerchantId": {
              "required": true,
              "format": "uint64",
              "type": "string",
              "location": "path",
              "description": "The ID of the target merchant."
            },
            "storeCode": {
              "type": "string",
              "description": "A store code that is unique per merchant.",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "merchantId",
            "targetMerchantId",
            "storeCode"
          ],
          "description": "Retrieves information about the given store."
        },
        "custombatch": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.pos.custombatch",
          "flatPath": "pos/batch",
          "request": {
            "$ref": "PosCustomBatchRequest"
          },
          "path": "pos/batch",
          "response": {
            "$ref": "PosCustomBatchResponse"
          },
          "httpMethod": "POST",
          "parameters": {},
          "parameterOrder": [],
          "description": "Batches multiple POS-related calls in a single request."
        },
        "inventory": {
          "id": "content.pos.inventory",
          "flatPath": "{merchantId}/pos/{targetMerchantId}/inventory",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "required": true,
              "format": "uint64",
              "location": "path",
              "description": "The ID of the POS or inventory data provider.",
              "type": "string"
            },
            "targetMerchantId": {
              "required": true,
              "format": "uint64",
              "location": "path",
              "description": "The ID of the target merchant.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "merchantId",
            "targetMerchantId"
          ],
          "description": "Submit inventory for the given merchant.",
          "request": {
            "$ref": "PosInventoryRequest"
          },
          "path": "{merchantId}/pos/{targetMerchantId}/inventory",
          "response": {
            "$ref": "PosInventoryResponse"
          }
        }
      }
    },
    "accounts": {
      "methods": {
        "link": {
          "request": {
            "$ref": "AccountsLinkRequest"
          },
          "path": "{merchantId}/accounts/{accountId}/link",
          "response": {
            "$ref": "AccountsLinkResponse"
          },
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "required": true,
              "format": "uint64",
              "location": "path",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "type": "string"
            },
            "accountId": {
              "required": true,
              "format": "uint64",
              "type": "string",
              "location": "path",
              "description": "The ID of the account that should be linked."
            }
          },
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "description": "Performs an action on a link between two Merchant Center accounts, namely accountId and linkedAccountId.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "{merchantId}/accounts/{accountId}/link",
          "id": "content.accounts.link"
        },
        "requestphoneverification": {
          "request": {
            "$ref": "RequestPhoneVerificationRequest"
          },
          "path": "{merchantId}/accounts/{accountId}/requestphoneverification",
          "response": {
            "$ref": "RequestPhoneVerificationResponse"
          },
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "format": "int64",
              "required": true,
              "description": "Required. The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and accountId must be the ID of a sub-account of this account.",
              "location": "path",
              "type": "string"
            },
            "accountId": {
              "type": "string",
              "location": "path",
              "description": "Required. The ID of the account.",
              "required": true,
              "format": "int64"
            }
          },
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "description": "Request verification code to start phone verification.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.accounts.requestphoneverification",
          "flatPath": "{merchantId}/accounts/{accountId}/requestphoneverification"
        },
        "authinfo": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "accounts/authinfo",
          "id": "content.accounts.authinfo",
          "path": "accounts/authinfo",
          "response": {
            "$ref": "AccountsAuthInfoResponse"
          },
          "httpMethod": "GET",
          "parameters": {},
          "parameterOrder": [],
          "description": "Returns information about the authenticated user."
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.accounts.list",
          "flatPath": "{merchantId}/accounts",
          "path": "{merchantId}/accounts",
          "response": {
            "$ref": "AccountsListResponse"
          },
          "httpMethod": "GET",
          "parameters": {
            "merchantId": {
              "type": "string",
              "description": "The ID of the managing account. This must be a multi-client account.",
              "location": "path",
              "format": "uint64",
              "required": true
            },
            "name": {
              "description": "If set, only the accounts with the given name (case sensitive) will be returned.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            },
            "view": {
              "type": "string",
              "location": "query",
              "enum": [
                "MERCHANT",
                "CSS"
              ],
              "description": "Controls which fields will be populated. Acceptable values are: \"merchant\" and \"css\". The default value is \"merchant\".",
              "enumDescriptions": [
                "Default. View is populated with Merchant Center fields.",
                "View is populated with Comparison Shopping Services fields."
              ]
            },
            "label": {
              "description": "If view is set to \"css\", only return accounts that are assigned label with given ID.",
              "format": "uint64",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "description": "The maximum number of accounts to return in the response, used for paging.",
              "format": "uint32",
              "location": "query",
              "type": "integer"
            }
          },
          "parameterOrder": [
            "merchantId"
          ],
          "description": "Lists the sub-accounts in your Merchant Center account."
        },
        "get": {
          "flatPath": "{merchantId}/accounts/{accountId}",
          "id": "content.accounts.get",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "GET",
          "parameters": {
            "view": {
              "location": "query",
              "enum": [
                "MERCHANT",
                "CSS"
              ],
              "description": "Controls which fields will be populated. Acceptable values are: \"merchant\" and \"css\". The default value is \"merchant\".",
              "type": "string",
              "enumDescriptions": [
                "Default. View is populated with Merchant Center fields.",
                "View is populated with Comparison Shopping Services fields."
              ]
            },
            "merchantId": {
              "location": "path",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "type": "string",
              "required": true,
              "format": "uint64"
            },
            "accountId": {
              "description": "The ID of the account.",
              "location": "path",
              "type": "string",
              "format": "uint64",
              "required": true
            }
          },
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "description": "Retrieves a Merchant Center account.",
          "path": "{merchantId}/accounts/{accountId}",
          "response": {
            "$ref": "Account"
          }
        },
        "delete": {
          "path": "{merchantId}/accounts/{accountId}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "DELETE",
          "parameters": {
            "merchantId": {
              "format": "uint64",
              "required": true,
              "type": "string",
              "description": "The ID of the managing account. This must be a multi-client account, and accountId must be the ID of a sub-account of this account.",
              "location": "path"
            },
            "accountId": {
              "location": "path",
              "description": "The ID of the account.",
              "type": "string",
              "required": true,
              "format": "uint64"
            },
            "force": {
              "type": "boolean",
              "default": "false",
              "location": "query",
              "description": "Option to delete sub-accounts with products. The default value is false."
            }
          },
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "description": "Deletes a Merchant Center sub-account.",
          "id": "content.accounts.delete",
          "flatPath": "{merchantId}/accounts/{accountId}"
        },
        "custombatch": {
          "path": "accounts/batch",
          "response": {
            "$ref": "AccountsCustomBatchResponse"
          },
          "request": {
            "$ref": "AccountsCustomBatchRequest"
          },
          "httpMethod": "POST",
          "parameters": {},
          "parameterOrder": [],
          "description": "Retrieves, inserts, updates, and deletes multiple Merchant Center (sub-)accounts in a single request.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "accounts/batch",
          "id": "content.accounts.custombatch"
        },
        "verifyphonenumber": {
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "location": "path",
              "description": "Required. The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and accountId must be the ID of a sub-account of this account.",
              "type": "string",
              "required": true,
              "format": "int64"
            },
            "accountId": {
              "description": "Required. The ID of the account.",
              "location": "path",
              "type": "string",
              "format": "int64",
              "required": true
            }
          },
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "description": "Validates verification code to verify phone number for the account. If successful this will overwrite the value of `accounts.businessinformation.phoneNumber`. Only verified phone number will replace an existing verified phone number.",
          "path": "{merchantId}/accounts/{accountId}/verifyphonenumber",
          "response": {
            "$ref": "VerifyPhoneNumberResponse"
          },
          "request": {
            "$ref": "VerifyPhoneNumberRequest"
          },
          "flatPath": "{merchantId}/accounts/{accountId}/verifyphonenumber",
          "id": "content.accounts.verifyphonenumber",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.accounts.update",
          "flatPath": "{merchantId}/accounts/{accountId}",
          "path": "{merchantId}/accounts/{accountId}",
          "response": {
            "$ref": "Account"
          },
          "request": {
            "$ref": "Account"
          },
          "httpMethod": "PUT",
          "parameters": {
            "merchantId": {
              "required": true,
              "format": "uint64",
              "type": "string",
              "location": "path",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account."
            },
            "accountId": {
              "required": true,
              "format": "uint64",
              "type": "string",
              "location": "path",
              "description": "The ID of the account."
            }
          },
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "description": "Updates a Merchant Center account. Any fields that are not provided are deleted from the resource."
        },
        "claimwebsite": {
          "flatPath": "{merchantId}/accounts/{accountId}/claimwebsite",
          "id": "content.accounts.claimwebsite",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "POST",
          "parameters": {
            "overwrite": {
              "type": "boolean",
              "location": "query",
              "description": "Only available to selected merchants, for example multi-client accounts (MCAs) and their sub-accounts. When set to `True`, this option removes any existing claim on the requested website and replaces it with a claim from the account that makes the request."
            },
            "merchantId": {
              "required": true,
              "format": "uint64",
              "location": "path",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "type": "string"
            },
            "accountId": {
              "format": "uint64",
              "required": true,
              "description": "The ID of the account whose website is claimed.",
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "description": "Claims the website of a Merchant Center sub-account. Merchant accounts with approved third-party CSSs aren't required to claim a website.",
          "path": "{merchantId}/accounts/{accountId}/claimwebsite",
          "response": {
            "$ref": "AccountsClaimWebsiteResponse"
          }
        },
        "insert": {
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "location": "path",
              "description": "The ID of the managing account. This must be a multi-client account.",
              "type": "string",
              "required": true,
              "format": "uint64"
            }
          },
          "parameterOrder": [
            "merchantId"
          ],
          "description": "Creates a Merchant Center sub-account.",
          "path": "{merchantId}/accounts",
          "response": {
            "$ref": "Account"
          },
          "request": {
            "$ref": "Account"
          },
          "id": "content.accounts.insert",
          "flatPath": "{merchantId}/accounts",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "listlinks": {
          "path": "{merchantId}/accounts/{accountId}/listlinks",
          "response": {
            "$ref": "AccountsListLinksResponse"
          },
          "httpMethod": "GET",
          "parameters": {
            "merchantId": {
              "format": "uint64",
              "required": true,
              "type": "string",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "location": "path"
            },
            "accountId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the account for which to list links.",
              "required": true,
              "format": "uint64"
            },
            "maxResults": {
              "description": "The maximum number of links to return in the response, used for pagination. The minimum allowed value is 5 results per page. If provided value is lower than 5, it will be automatically increased to 5.",
              "format": "uint32",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            }
          },
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "description": "Returns the list of accounts linked to your Merchant Center account.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.accounts.listlinks",
          "flatPath": "{merchantId}/accounts/{accountId}/listlinks"
        },
        "updatelabels": {
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "format": "uint64",
              "required": true,
              "description": "The ID of the managing account.",
              "location": "path",
              "type": "string"
            },
            "accountId": {
              "format": "uint64",
              "required": true,
              "description": "The ID of the account whose labels are updated.",
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "description": "Updates labels that are assigned to the Merchant Center account by CSS user.",
          "request": {
            "$ref": "AccountsUpdateLabelsRequest"
          },
          "path": "{merchantId}/accounts/{accountId}/updatelabels",
          "response": {
            "$ref": "AccountsUpdateLabelsResponse"
          },
          "flatPath": "{merchantId}/accounts/{accountId}/updatelabels",
          "id": "content.accounts.updatelabels",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        }
      },
      "resources": {
        "credentials": {
          "methods": {
            "create": {
              "httpMethod": "POST",
              "parameters": {
                "accountId": {
                  "required": true,
                  "format": "int64",
                  "type": "string",
                  "location": "path",
                  "description": "Required. The merchant id of the account these credentials belong to."
                }
              },
              "parameterOrder": [
                "accountId"
              ],
              "description": "Uploads credentials for the Merchant Center account. If credentials already exist for this Merchant Center account and purpose, this method updates them.",
              "request": {
                "$ref": "AccountCredentials"
              },
              "path": "accounts/{accountId}/credentials",
              "response": {
                "$ref": "AccountCredentials"
              },
              "id": "content.accounts.credentials.create",
              "flatPath": "accounts/{accountId}/credentials",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            }
          }
        },
        "returncarrier": {
          "methods": {
            "delete": {
              "path": "accounts/{accountId}/returncarrier/{carrierAccountId}",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "httpMethod": "DELETE",
              "parameters": {
                "accountId": {
                  "required": true,
                  "format": "int64",
                  "type": "string",
                  "location": "path",
                  "description": "Required. The Merchant Center Account Id under which the Return Carrier is to be linked."
                },
                "carrierAccountId": {
                  "format": "int64",
                  "required": true,
                  "type": "string",
                  "description": "Required. The Google-provided unique carrier ID, used to update the resource.",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "accountId",
                "carrierAccountId"
              ],
              "description": "Delete a return carrier in the merchant account.",
              "id": "content.accounts.returncarrier.delete",
              "flatPath": "accounts/{accountId}/returncarrier/{carrierAccountId}"
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "content.accounts.returncarrier.create",
              "flatPath": "accounts/{accountId}/returncarrier",
              "request": {
                "$ref": "AccountReturnCarrier"
              },
              "path": "accounts/{accountId}/returncarrier",
              "response": {
                "$ref": "AccountReturnCarrier"
              },
              "httpMethod": "POST",
              "parameters": {
                "accountId": {
                  "required": true,
                  "format": "int64",
                  "location": "path",
                  "description": "Required. The Merchant Center Account Id under which the Return Carrier is to be linked.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "accountId"
              ],
              "description": "Links return carrier to a merchant account."
            },
            "patch": {
              "path": "accounts/{accountId}/returncarrier/{carrierAccountId}",
              "response": {
                "$ref": "AccountReturnCarrier"
              },
              "request": {
                "$ref": "AccountReturnCarrier"
              },
              "httpMethod": "PATCH",
              "parameters": {
                "accountId": {
                  "required": true,
                  "format": "int64",
                  "type": "string",
                  "location": "path",
                  "description": "Required. The Merchant Center Account Id under which the Return Carrier is to be linked."
                },
                "carrierAccountId": {
                  "format": "int64",
                  "required": true,
                  "type": "string",
                  "description": "Required. The Google-provided unique carrier ID, used to update the resource.",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "accountId",
                "carrierAccountId"
              ],
              "description": "Updates a return carrier in the merchant account.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "content.accounts.returncarrier.patch",
              "flatPath": "accounts/{accountId}/returncarrier/{carrierAccountId}"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "content.accounts.returncarrier.list",
              "flatPath": "accounts/{accountId}/returncarrier",
              "path": "accounts/{accountId}/returncarrier",
              "response": {
                "$ref": "ListAccountReturnCarrierResponse"
              },
              "httpMethod": "GET",
              "parameters": {
                "accountId": {
                  "required": true,
                  "format": "int64",
                  "type": "string",
                  "location": "path",
                  "description": "Required. The Merchant Center Account Id under which the Return Carrier is to be linked."
                }
              },
              "parameterOrder": [
                "accountId"
              ],
              "description": "Lists available return carriers in the merchant account."
            }
          }
        },
        "labels": {
          "methods": {
            "delete": {
              "id": "content.accounts.labels.delete",
              "httpMethod": "DELETE",
              "parameters": {
                "labelId": {
                  "format": "int64",
                  "required": true,
                  "type": "string",
                  "description": "Required. The id of the label to delete.",
                  "location": "path"
                },
                "accountId": {
                  "description": "Required. The id of the account that owns the label.",
                  "location": "path",
                  "type": "string",
                  "format": "int64",
                  "required": true
                }
              },
              "parameterOrder": [
                "accountId",
                "labelId"
              ],
              "description": "Deletes a label and removes it from all accounts to which it was assigned.",
              "flatPath": "accounts/{accountId}/labels/{labelId}",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "accounts/{accountId}/labels/{labelId}"
            },
            "list": {
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "A page token, received from a previous `ListAccountLabels` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccountLabels` must match the call that provided the page token.",
                  "type": "string"
                },
                "accountId": {
                  "required": true,
                  "format": "int64",
                  "location": "path",
                  "description": "Required. The account id for whose labels are to be listed.",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "The maximum number of labels to return. The service may return fewer than this value. If unspecified, at most 50 labels will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "format": "int32"
                }
              },
              "parameterOrder": [
                "accountId"
              ],
              "description": "Lists the labels assigned to an account.",
              "path": "accounts/{accountId}/labels",
              "response": {
                "$ref": "ListAccountLabelsResponse"
              },
              "flatPath": "accounts/{accountId}/labels",
              "id": "content.accounts.labels.list",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "accounts/{accountId}/labels",
              "id": "content.accounts.labels.create",
              "request": {
                "$ref": "AccountLabel"
              },
              "path": "accounts/{accountId}/labels",
              "response": {
                "$ref": "AccountLabel"
              },
              "httpMethod": "POST",
              "parameters": {
                "accountId": {
                  "description": "Required. The id of the account this label belongs to.",
                  "location": "path",
                  "type": "string",
                  "format": "int64",
                  "required": true
                }
              },
              "parameterOrder": [
                "accountId"
              ],
              "description": "Creates a new label, not assigned to any account."
            },
            "patch": {
              "id": "content.accounts.labels.patch",
              "flatPath": "accounts/{accountId}/labels/{labelId}",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "httpMethod": "PATCH",
              "parameters": {
                "labelId": {
                  "format": "int64",
                  "required": true,
                  "type": "string",
                  "description": "Required. The id of the label to update.",
                  "location": "path"
                },
                "accountId": {
                  "format": "int64",
                  "required": true,
                  "type": "string",
                  "description": "Required. The id of the account this label belongs to.",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "accountId",
                "labelId"
              ],
              "description": "Updates a label.",
              "path": "accounts/{accountId}/labels/{labelId}",
              "response": {
                "$ref": "AccountLabel"
              },
              "request": {
                "$ref": "AccountLabel"
              }
            }
          }
        }
      }
    },
    "collections": {
      "methods": {
        "list": {
          "path": "{merchantId}/collections",
          "response": {
            "$ref": "ListCollectionsResponse"
          },
          "httpMethod": "GET",
          "parameters": {
            "merchantId": {
              "format": "int64",
              "required": true,
              "description": "Required. The ID of the account that contains the collection. This account cannot be a multi-client account.",
              "location": "path",
              "type": "string"
            },
            "pageSize": {
              "type": "integer",
              "description": "The maximum number of collections to return in the response, used for paging. Defaults to 50; values above 1000 will be coerced to 1000.",
              "format": "int32",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "Token (if provided) to retrieve the subsequent page. All other parameters must match the original call that provided the page token.",
              "location": "query"
            }
          },
          "parameterOrder": [
            "merchantId"
          ],
          "description": "Lists the collections in your Merchant Center account. The response might contain fewer items than specified by page_size. Rely on next_page_token to determine if there are more items to be requested.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "{merchantId}/collections",
          "id": "content.collections.list"
        },
        "create": {
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "type": "string",
              "location": "path",
              "description": "Required. The ID of the account that contains the collection. This account cannot be a multi-client account.",
              "required": true,
              "format": "int64"
            }
          },
          "parameterOrder": [
            "merchantId"
          ],
          "description": "Uploads a collection to your Merchant Center account. If a collection with the same collectionId already exists, this method updates that entry. In each update, the collection is completely replaced by the fields in the body of the update request.",
          "request": {
            "$ref": "Collection"
          },
          "path": "{merchantId}/collections",
          "response": {
            "$ref": "Collection"
          },
          "flatPath": "{merchantId}/collections",
          "id": "content.collections.create",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "get": {
          "flatPath": "{merchantId}/collections/{collectionId}",
          "id": "content.collections.get",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "GET",
          "parameters": {
            "collectionId": {
              "location": "path",
              "required": true,
              "description": "Required. The REST ID of the collection.",
              "type": "string"
            },
            "merchantId": {
              "description": "Required. The ID of the account that contains the collection. This account cannot be a multi-client account.",
              "location": "path",
              "type": "string",
              "format": "int64",
              "required": true
            }
          },
          "parameterOrder": [
            "merchantId",
            "collectionId"
          ],
          "description": "Retrieves a collection from your Merchant Center account.",
          "path": "{merchantId}/collections/{collectionId}",
          "response": {
            "$ref": "Collection"
          }
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "{merchantId}/collections/{collectionId}",
          "flatPath": "{merchantId}/collections/{collectionId}",
          "id": "content.collections.delete",
          "httpMethod": "DELETE",
          "parameters": {
            "merchantId": {
              "required": true,
              "format": "int64",
              "location": "path",
              "description": "Required. The ID of the account that contains the collection. This account cannot be a multi-client account.",
              "type": "string"
            },
            "collectionId": {
              "type": "string",
              "description": "Required. The collectionId of the collection. CollectionId is the same as the REST ID of the collection.",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "merchantId",
            "collectionId"
          ],
          "description": "Deletes a collection from your Merchant Center account."
        }
      }
    },
    "returnpolicyonline": {
      "methods": {
        "create": {
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "required": true,
              "format": "int64",
              "location": "path",
              "description": "Required. The id of the merchant for which to retrieve the return policy online object.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "merchantId"
          ],
          "description": "Creates a new return policy.",
          "request": {
            "$ref": "ReturnPolicyOnline"
          },
          "path": "{merchantId}/returnpolicyonline",
          "response": {
            "$ref": "ReturnPolicyOnline"
          },
          "id": "content.returnpolicyonline.create",
          "flatPath": "{merchantId}/returnpolicyonline",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "patch": {
          "path": "{merchantId}/returnpolicyonline/{returnPolicyId}",
          "response": {
            "$ref": "ReturnPolicyOnline"
          },
          "request": {
            "$ref": "ReturnPolicyOnline"
          },
          "httpMethod": "PATCH",
          "parameters": {
            "merchantId": {
              "required": true,
              "format": "int64",
              "type": "string",
              "location": "path",
              "description": "Required. The id of the merchant for which to retrieve the return policy online object."
            },
            "returnPolicyId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. The id of the return policy to update."
            }
          },
          "parameterOrder": [
            "merchantId",
            "returnPolicyId"
          ],
          "description": "Updates an existing return policy.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.returnpolicyonline.patch",
          "flatPath": "{merchantId}/returnpolicyonline/{returnPolicyId}"
        },
        "get": {
          "path": "{merchantId}/returnpolicyonline/{returnPolicyId}",
          "response": {
            "$ref": "ReturnPolicyOnline"
          },
          "httpMethod": "GET",
          "parameters": {
            "merchantId": {
              "type": "string",
              "description": "Required. The id of the merchant for which to retrieve the return policy online object.",
              "location": "path",
              "format": "int64",
              "required": true
            },
            "returnPolicyId": {
              "location": "path",
              "required": true,
              "description": "Required. The id of the return policy to retrieve.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "merchantId",
            "returnPolicyId"
          ],
          "description": "Gets an existing return policy.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.returnpolicyonline.get",
          "flatPath": "{merchantId}/returnpolicyonline/{returnPolicyId}"
        },
        "list": {
          "httpMethod": "GET",
          "parameters": {
            "merchantId": {
              "format": "int64",
              "required": true,
              "description": "Required. The id of the merchant for which to retrieve the return policy online object.",
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "merchantId"
          ],
          "description": "Lists all existing return policies.",
          "path": "{merchantId}/returnpolicyonline",
          "response": {
            "$ref": "ListReturnPolicyOnlineResponse"
          },
          "flatPath": "{merchantId}/returnpolicyonline",
          "id": "content.returnpolicyonline.list",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "delete": {
          "httpMethod": "DELETE",
          "parameters": {
            "merchantId": {
              "required": true,
              "format": "int64",
              "type": "string",
              "location": "path",
              "description": "Required. The id of the merchant for which to retrieve the return policy online object."
            },
            "returnPolicyId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. The id of the return policy to delete."
            }
          },
          "parameterOrder": [
            "merchantId",
            "returnPolicyId"
          ],
          "description": "Deletes an existing return policy.",
          "id": "content.returnpolicyonline.delete",
          "flatPath": "{merchantId}/returnpolicyonline/{returnPolicyId}",
          "path": "{merchantId}/returnpolicyonline/{returnPolicyId}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        }
      }
    },
    "freelistingsprogram": {
      "methods": {
        "get": {
          "flatPath": "{merchantId}/freelistingsprogram",
          "id": "content.freelistingsprogram.get",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "GET",
          "parameters": {
            "merchantId": {
              "type": "string",
              "location": "path",
              "description": "Required. The ID of the account.",
              "required": true,
              "format": "int64"
            }
          },
          "parameterOrder": [
            "merchantId"
          ],
          "description": "Retrieves the status and review eligibility for the free listing program. Returns errors and warnings if they require action to resolve, will become disapprovals, or impact impressions. Use `accountstatuses` to view all issues for an account.",
          "path": "{merchantId}/freelistingsprogram",
          "response": {
            "$ref": "FreeListingsProgramStatus"
          }
        },
        "requestreview": {
          "request": {
            "$ref": "RequestReviewFreeListingsRequest"
          },
          "path": "{merchantId}/freelistingsprogram/requestreview",
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "type": "string",
              "description": "Required. The ID of the account.",
              "location": "path",
              "format": "int64",
              "required": true
            }
          },
          "parameterOrder": [
            "merchantId"
          ],
          "description": "Requests a review of free listings in a specific region. This method deprecated. Use the `MerchantSupportService` to view product and account issues and request a review.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "{merchantId}/freelistingsprogram/requestreview",
          "id": "content.freelistingsprogram.requestreview"
        }
      },
      "resources": {
        "checkoutsettings": {
          "methods": {
            "insert": {
              "flatPath": "{merchantId}/freelistingsprogram/checkoutsettings",
              "id": "content.freelistingsprogram.checkoutsettings.insert",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "httpMethod": "POST",
              "parameters": {
                "merchantId": {
                  "format": "int64",
                  "required": true,
                  "description": "Required. The ID of the account.",
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "merchantId"
              ],
              "description": "Enrolls merchant in `Checkout` program.",
              "path": "{merchantId}/freelistingsprogram/checkoutsettings",
              "response": {
                "$ref": "CheckoutSettings"
              },
              "request": {
                "$ref": "InsertCheckoutSettingsRequest"
              }
            },
            "get": {
              "httpMethod": "GET",
              "parameters": {
                "merchantId": {
                  "description": "Required. The ID of the account.",
                  "location": "path",
                  "type": "string",
                  "format": "int64",
                  "required": true
                }
              },
              "parameterOrder": [
                "merchantId"
              ],
              "description": "Gets Checkout settings for the given merchant. This includes information about review state, enrollment state and URL settings.",
              "path": "{merchantId}/freelistingsprogram/checkoutsettings",
              "response": {
                "$ref": "CheckoutSettings"
              },
              "flatPath": "{merchantId}/freelistingsprogram/checkoutsettings",
              "id": "content.freelistingsprogram.checkoutsettings.get",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "{merchantId}/freelistingsprogram/checkoutsettings",
              "flatPath": "{merchantId}/freelistingsprogram/checkoutsettings",
              "id": "content.freelistingsprogram.checkoutsettings.delete",
              "httpMethod": "DELETE",
              "parameters": {
                "merchantId": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The ID of the account.",
                  "required": true,
                  "format": "int64"
                }
              },
              "parameterOrder": [
                "merchantId"
              ],
              "description": "Deletes `Checkout` settings and unenrolls merchant from `Checkout` program."
            }
          }
        }
      }
    },
    "quotas": {
      "methods": {
        "list": {
          "path": "{merchantId}/quotas",
          "response": {
            "$ref": "ListMethodQuotasResponse"
          },
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Token (if provided) to retrieve the subsequent page. All other parameters must match the original call that provided the page token."
            },
            "merchantId": {
              "type": "string",
              "description": "Required. The ID of the account that has quota. This account must be an admin.",
              "location": "path",
              "format": "int64",
              "required": true
            },
            "pageSize": {
              "type": "integer",
              "description": "The maximum number of quotas to return in the response, used for paging. Defaults to 500; values above 1000 will be coerced to 1000.",
              "format": "int32",
              "location": "query"
            }
          },
          "parameterOrder": [
            "merchantId"
          ],
          "description": "Lists the daily call quota and usage per method for your Merchant Center account.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "{merchantId}/quotas",
          "id": "content.quotas.list"
        }
      }
    },
    "merchantsupport": {
      "methods": {
        "renderproductissues": {
          "flatPath": "{merchantId}/merchantsupport/renderproductissues/{productId}",
          "id": "content.merchantsupport.renderproductissues",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "description": "Required. The ID of the account that contains the product.",
              "location": "path",
              "type": "string",
              "format": "int64",
              "required": true
            },
            "timeZone": {
              "type": "string",
              "location": "query",
              "description": "Optional. The [IANA](https://www.iana.org/time-zones) timezone used to localize times in support content. For example 'America/Los_Angeles'. If not set, results will use as a default UTC."
            },
            "productId": {
              "type": "string",
              "description": "Required. The [REST_ID](https://developers.google.com/shopping-content/reference/rest/v2.1/products#Product.FIELDS.id) of the product to fetch issues for.",
              "location": "path",
              "required": true
            },
            "languageCode": {
              "location": "query",
              "description": "Optional. The [IETF BCP-47](https://tools.ietf.org/html/bcp47) language code used to localize support content. If not set, the result will be in default language `en-US`.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "merchantId",
            "productId"
          ],
          "description": "Provide a list of issues for merchant's product with a support content and available actions. This content and actions are meant to be rendered and shown in third-party applications.",
          "request": {
            "$ref": "RenderProductIssuesRequestPayload"
          },
          "path": "{merchantId}/merchantsupport/renderproductissues/{productId}",
          "response": {
            "$ref": "RenderProductIssuesResponse"
          }
        },
        "triggeraction": {
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "required": true,
              "format": "int64",
              "location": "path",
              "description": "Required. The ID of the merchant's account.",
              "type": "string"
            },
            "languageCode": {
              "type": "string",
              "description": "Optional. Language code [IETF BCP 47 syntax](https://tools.ietf.org/html/bcp47) used to localize the response. If not set, the result will be in default language `en-US`.",
              "location": "query"
            }
          },
          "parameterOrder": [
            "merchantId"
          ],
          "description": "Start an action. The action can be requested by merchants in third-party application. Before merchants can request the action, the third-party application needs to show them action specific content and display a user input form. You can submit an allowlist request in the [Shopping API Support Form](https://support.google.com/merchants/contact/shopping_api_support_form) under \"What is the issue/question?\" to get access to this feature. The action can be successfully started only once all `required` inputs are provided. If any `required` input is missing, or invalid value was provided, the service will return 400 error. Validation errors will contain Ids for all problematic field together with translated, human readable error messages that can be shown to the user.",
          "path": "{merchantId}/merchantsupport/triggeraction",
          "response": {
            "$ref": "TriggerActionResponse"
          },
          "request": {
            "$ref": "TriggerActionPayload"
          },
          "id": "content.merchantsupport.triggeraction",
          "flatPath": "{merchantId}/merchantsupport/triggeraction",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "renderaccountissues": {
          "path": "{merchantId}/merchantsupport/renderaccountissues",
          "response": {
            "$ref": "RenderAccountIssuesResponse"
          },
          "request": {
            "$ref": "RenderAccountIssuesRequestPayload"
          },
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "type": "string",
              "location": "path",
              "description": "Required. The ID of the account to fetch issues for.",
              "required": true,
              "format": "int64"
            },
            "timeZone": {
              "type": "string",
              "location": "query",
              "description": "Optional. The [IANA](https://www.iana.org/time-zones) timezone used to localize times in support content. For example 'America/Los_Angeles'. If not set, results will use as a default UTC."
            },
            "languageCode": {
              "type": "string",
              "description": "Optional. The [IETF BCP-47](https://tools.ietf.org/html/bcp47) language code used to localize support content. If not set, the result will be in default language `en-US`.",
              "location": "query"
            }
          },
          "parameterOrder": [
            "merchantId"
          ],
          "description": "Provide a list of merchant's issues with a support content and available actions. This content and actions are meant to be rendered and shown in third-party applications.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "{merchantId}/merchantsupport/renderaccountissues",
          "id": "content.merchantsupport.renderaccountissues"
        }
      }
    },
    "regionalinventory": {
      "methods": {
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "{merchantId}/products/{productId}/regionalinventory",
          "id": "content.regionalinventory.insert",
          "request": {
            "$ref": "RegionalInventory"
          },
          "path": "{merchantId}/products/{productId}/regionalinventory",
          "response": {
            "$ref": "RegionalInventory"
          },
          "httpMethod": "POST",
          "parameters": {
            "productId": {
              "location": "path",
              "required": true,
              "description": "The REST ID of the product for which to update the regional inventory.",
              "type": "string"
            },
            "merchantId": {
              "format": "uint64",
              "required": true,
              "description": "The ID of the account that contains the product. This account cannot be a multi-client account.",
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "merchantId",
            "productId"
          ],
          "description": "Updates the regional inventory of a product in your Merchant Center account. If a regional inventory with the same region ID already exists, this method updates that entry."
        },
        "custombatch": {
[...]
