{
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "alt": {
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    }
  },
  "name": "content",
  "baseUrl": "https://shoppingcontent.googleapis.com/content/v2.1/",
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "AccountConversionSettings": {
      "type": "object",
      "properties": {
        "freeListingsAutoTaggingEnabled": {
          "type": "boolean",
          "description": "When enabled, free listing URLs have a parameter to enable conversion tracking for products owned by the current merchant account. See [auto-tagging](https://support.google.com/merchants/answer/11127659)."
        }
      },
      "id": "AccountConversionSettings",
      "description": "Settings for conversion tracking."
    },
    "AccountLabel": {
      "id": "AccountLabel",
      "description": "Label assigned by CSS domain or CSS group to one of its sub-accounts.",
      "type": "object",
      "properties": {
        "labelType": {
          "type": "string",
          "enumDescriptions": [
            "Unknown label type.",
            "Indicates that the label was created manually.",
            "Indicates that the label was created automatically by CSS Center."
          ],
          "enum": [
            "LABEL_TYPE_UNSPECIFIED",
            "MANUAL",
            "AUTOMATIC"
          ],
          "description": "Output only. The type of this label.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The display name of this label."
        },
        "labelId": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. The ID of the label.",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "description": "Immutable. The ID of account this label belongs to.",
          "format": "int64"
        },
        "description": {
          "type": "string",
          "description": "The description of this label."
        }
      }
    },
    "LiaSettings": {
      "type": "object",
      "properties": {
        "countrySettings": {
          "type": "array",
          "description": "The LIA settings for each country.",
          "items": {
            "$ref": "LiaCountrySettings"
          }
        },
        "accountId": {
          "format": "uint64",
          "type": "string",
          "description": "The ID of the account to which these LIA settings belong. Ignored upon update, always present in get request responses."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#liaSettings`\""
        }
      },
      "id": "LiaSettings",
      "description": "Local Inventory ads (LIA) settings. All methods except listposdataproviders require the admin role."
    },
    "AccountReturnCarrier": {
      "type": "object",
      "properties": {
        "carrierAccountNumber": {
          "description": "Number of the carrier account.",
          "type": "string"
        },
        "carrierAccountName": {
          "type": "string",
          "description": "Name of the carrier account."
        },
        "carrierAccountId": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. Immutable. The Google-provided unique carrier ID, used to update the resource."
        },
        "carrierCode": {
          "type": "string",
          "enumDescriptions": [
            "Carrier not specified",
            "FedEx carrier",
            "UPS carrier"
          ],
          "enum": [
            "CARRIER_CODE_UNSPECIFIED",
            "FEDEX",
            "UPS"
          ],
          "description": "The carrier code enum. Accepts the values FEDEX or UPS."
        }
      },
      "id": "AccountReturnCarrier",
      "description": " The return carrier information. This service is designed for merchants enrolled in the Buy on Google program. "
    },
    "Service": {
      "id": "Service",
      "type": "object",
      "properties": {
        "rateGroups": {
          "type": "array",
          "description": "Shipping rate group definitions. Only the last one is allowed to have an empty `applicableShippingLabels`, which means \"everything else\". The other `applicableShippingLabels` must not overlap.",
          "items": {
            "$ref": "RateGroup"
          }
        },
        "currency": {
          "type": "string",
          "description": "The CLDR code of the currency to which this service applies. Must match that of the prices in rate groups."
        },
        "deliveryTime": {
          "description": "Time spent in various aspects from order to the delivery of the product. Required.",
          "$ref": "DeliveryTime"
        },
        "minimumOrderValue": {
          "description": "Minimum order value for this service. If set, indicates that customers will have to spend at least this amount. All prices within a service must have the same currency. Cannot be set together with minimum_order_value_table.",
          "$ref": "Price"
        },
        "pickupService": {
          "description": "The carrier-service pair delivering items to collection points. The list of supported pickup services can be retrieved through the `getSupportedPickupServices` method. Required if and only if the service delivery type is `pickup`.",
          "$ref": "PickupCarrierService"
        },
        "shipmentType": {
          "type": "string",
          "description": "Type of locations this service ships orders to. Acceptable values are: - \"`delivery`\" - \"`pickup` (deprecated)\" - \"`local_delivery`\" - \"`collection_point`\" "
        },
        "active": {
          "description": "A boolean exposing the active status of the shipping service. Required.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "Free-form name of the service. Must be unique within target account. Required."
        },
        "minimumOrderValueTable": {
          "description": "Table of per store minimum order values for the pickup fulfillment type. Cannot be set together with minimum_order_value.",
          "$ref": "MinimumOrderValueTable"
        },
        "deliveryCountry": {
          "type": "string",
          "description": "The CLDR territory code of the country to which the service applies. Required."
        },
        "storeConfig": {
          "description": "A list of stores your products are delivered from. This is only available for the local delivery shipment type.",
          "$ref": "ServiceStoreConfig"
        },
        "eligibility": {
          "type": "string",
          "description": "Eligibility for this service. Acceptable values are: - \"`All scenarios`\" - \"`All scenarios except Shopping Actions`\" - \"`Shopping Actions`\" "
        }
      }
    },
    "LoyaltyProgram": {
      "type": "object",
      "properties": {
        "programLabel": {
          "type": "string",
          "description": "Required. The label of the loyalty program. This is an internal label that uniquely identifies the relationship between a merchant entity and a loyalty program entity. It must be provided so that system can associate the assets below (for example, price and points) with a merchant. The corresponding program must be linked to the merchant account."
        },
        "price": {
          "description": "Optional. The price for members of the given tier (instant discount price). Must be smaller or equal to the regular price.",
          "$ref": "Price"
        },
        "cashbackForFutureUse": {
          "description": "Optional. The cashback that can be used for future purchases.",
          "$ref": "Price"
        },
        "tierLabel": {
          "type": "string",
          "description": "Required. The label of the tier within the loyalty program. Must match one of the labels within the program."
        },
        "memberPriceEffectiveDate": {
          "description": "Optional. A date range during which the item is eligible for member price. If not specified, the member price is always applicable. The date range is represented by a pair of ISO 8601 dates separated by a space, comma, or slash.",
          "type": "string"
        },
        "loyaltyPoints": {
          "format": "int64",
          "description": "Optional. The amount of loyalty points earned on a purchase.",
          "type": "string"
        },
        "shippingLabel": {
          "type": "string",
          "description": "Optional. The shipping label for the loyalty program. You can use this label to indicate whether this offer has the loyalty shipping benefit. If not specified, the item is not eligible for loyalty shipping for the given loyalty tier."
        }
      },
      "id": "LoyaltyProgram",
      "description": "Allows the setting up of loyalty program benefits (for example price or points). https://support.google.com/merchants/answer/12922446"
    },
    "GenerateRecommendationsResponse": {
      "id": "GenerateRecommendationsResponse",
      "description": "Response containing generated recommendations.",
      "type": "object",
      "properties": {
        "recommendations": {
          "description": "Recommendations generated for a request.",
          "type": "array",
          "items": {
            "$ref": "Recommendation"
          }
        },
        "responseToken": {
          "readOnly": true,
          "description": "Output only. Response token is a string created for each `GenerateRecommendationsResponse`. This token doesn't expire, and is globally unique. This token must be used when reporting interactions for recommendations.",
          "type": "string"
        }
      }
    },
    "ProductStatusDestinationStatus": {
      "id": "ProductStatusDestinationStatus",
      "type": "object",
      "properties": {
        "disapprovedCountries": {
          "type": "array",
          "description": "List of country codes (ISO 3166-1 alpha-2) where the offer is disapproved.",
          "items": {
            "type": "string"
          }
        },
        "channel": {
          "description": "The channel of the destination.",
          "type": "string"
        },
        "destination": {
          "type": "string",
          "description": "The name of the destination"
        },
        "approvedCountries": {
          "type": "array",
          "description": "List of country codes (ISO 3166-1 alpha-2) where the offer is approved.",
          "items": {
            "type": "string"
          }
        },
        "status": {
          "deprecated": true,
          "type": "string",
          "description": "Deprecated. Destination approval status in `targetCountry` of the offer."
        },
        "pendingCountries": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of country codes (ISO 3166-1 alpha-2) where the offer is pending approval."
        }
      }
    },
    "RequestPhoneVerificationResponse": {
      "id": "RequestPhoneVerificationResponse",
      "description": "Response message for the RequestPhoneVerification method.",
      "type": "object",
      "properties": {
        "verificationId": {
          "type": "string",
          "description": "The verification ID to use in subsequent calls to `verifyphonenumber`."
        }
      }
    },
    "CompetitiveVisibility": {
      "id": "CompetitiveVisibility",
      "description": "Fields related to [competitive visibility reports] (https://support.google.com/merchants/answer/11366442).",
      "type": "object",
      "properties": {
        "higherPositionRate": {
          "type": "number",
          "description": "Higher position rate shows how often a competitor’s offer got placed in a higher position on the page than your offer. Available only in `CompetitiveVisibilityTopMerchantView` and `CompetitiveVisibilityCompetitorView`. Cannot be filtered on in the 'WHERE' clause.",
          "format": "double"
        },
        "isYourDomain": {
          "type": "boolean",
          "description": "True if this row contains data for your domain. Available only in `CompetitiveVisibilityTopMerchantView` and `CompetitiveVisibilityCompetitorView`. Cannot be filtered on in the 'WHERE' clause."
        },
        "trafficSource": {
          "description": "Type of impression listing. Required in the `SELECT` clause. Cannot be filtered on in the 'WHERE' clause.",
          "type": "string",
          "enumDescriptions": [
            "Traffic source is unknown.",
            "Organic traffic.",
            "Traffic from Ads.",
            "Organic and Ads traffic."
          ],
          "enum": [
            "UNKNOWN",
            "ORGANIC",
            "ADS",
            "ALL"
          ]
        },
        "countryCode": {
          "description": "The country where impression appeared. Required in the `SELECT` clause. A `WHERE` condition on `competitive_visibility.country_code` is required in the query.",
          "type": "string"
        },
        "adsOrganicRatio": {
          "type": "number",
          "description": "[Ads / organic ratio] (https://support.google.com/merchants/answer/11366442#zippy=%2Cadsfree-ratio) shows how often a merchant receives impressions from Shopping ads compared to organic traffic. The number is rounded and bucketed. Available only in `CompetitiveVisibilityTopMerchantView` and `CompetitiveVisibilityCompetitorView`. Cannot be filtered on in the 'WHERE' clause.",
          "format": "double"
        },
        "yourDomainVisibilityTrend": {
          "format": "double",
          "type": "number",
          "description": "Change in visibility based on impressions for your domain with respect to the start of the selected time range (or first day with non-zero impressions). Available only in `CompetitiveVisibilityBenchmarkView`. Cannot be filtered on in the 'WHERE' clause."
        },
        "relativeVisibility": {
          "format": "double",
          "description": "Relative visibility shows how often your competitors’ offers are shown compared to your offers. In other words, this is the number of displayed impressions of a competitor retailer divided by the number of your displayed impressions during a selected time range for a selected product category and country. Available only in `CompetitiveVisibilityCompetitorView`. Cannot be filtered on in the 'WHERE' clause.",
          "type": "number"
        },
        "categoryId": {
          "type": "string",
          "description": "Google product category ID to calculate the report for, represented in [Google's product taxonomy](https://support.google.com/merchants/answer/6324436). Required in the `SELECT` clause. A `WHERE` condition on `competitive_visibility.category_id` is required in the query.",
          "format": "int64"
        },
        "date": {
          "description": "Date of this row. Available only in `CompetitiveVisibilityBenchmarkView` and `CompetitiveVisibilityCompetitorView`. Required in the `SELECT` clause for `CompetitiveVisibilityMarketBenchmarkView`.",
          "$ref": "Date"
        },
        "domain": {
          "type": "string",
          "description": "Domain of your competitor or your domain, if 'is_your_domain' is true. Available only in `CompetitiveVisibilityTopMerchantView` and `CompetitiveVisibilityCompetitorView`. Required in the `SELECT` clause for `CompetitiveVisibilityTopMerchantView` and `CompetitiveVisibilityCompetitorView`. Cannot be filtered on in the 'WHERE' clause."
        },
        "pageOverlapRate": {
          "description": "Page overlap rate describes how frequently competing retailers’ offers are shown together with your offers on the same page. Available only in `CompetitiveVisibilityTopMerchantView` and `CompetitiveVisibilityCompetitorView`. Cannot be filtered on in the 'WHERE' clause.",
          "type": "number",
          "format": "double"
        },
        "rank": {
          "type": "string",
          "description": "Position of the domain in the top merchants ranking for the selected keys (`date`, `category_id`, `country_code`, `listing_type`) based on impressions. 1 is the highest. Available only in `CompetitiveVisibilityTopMerchantView` and `CompetitiveVisibilityCompetitorView`. Cannot be filtered on in the 'WHERE' clause.",
          "format": "uint64"
        },
        "categoryBenchmarkVisibilityTrend": {
          "format": "double",
          "description": "Change in visibility based on impressions with respect to the start of the selected time range (or first day with non-zero impressions) for a combined set of merchants with highest visibility approximating the market. Available only in `CompetitiveVisibilityBenchmarkView`. Cannot be filtered on in the 'WHERE' clause.",
          "type": "number"
        }
      }
    },
    "LiaOmnichannelExperience": {
      "type": "object",
      "properties": {
        "country": {
          "description": "The CLDR country code (for example, \"US\").",
          "type": "string"
        },
        "lsfType": {
          "type": "string",
          "description": "The Local Store Front (LSF) type for this country. Acceptable values are: - \"`ghlsf`\" (Google-Hosted Local Store Front) - \"`mhlsfBasic`\" (Merchant-Hosted Local Store Front Basic) - \"`mhlsfFull`\" (Merchant-Hosted Local Store Front Full) More details about these types can be found here."
        },
        "pickupTypes": {
          "type": "array",
          "description": "The Pickup types for this country. Acceptable values are: - \"`pickupToday`\" - \"`pickupLater`\" ",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "LiaOmnichannelExperience",
      "description": "Omnichannel experience details."
    },
    "AccountShippingImprovements": {
      "id": "AccountShippingImprovements",
      "description": "Not available for MCAs [accounts](https://support.google.com/merchants/answer/188487). By turning on [automatic shipping improvements](https://support.google.com/merchants/answer/10027038), you are allowing Google to improve the accuracy of your delivery times shown to shoppers using Google. More accurate delivery times, especially when faster, typically lead to better conversion rates. Google will improve your estimated delivery times based on various factors: * Delivery address of an order * Current handling time and shipping time settings * Estimated weekdays or business days * Parcel tracking data",
      "type": "object",
      "properties": {
        "allowShippingImprovements": {
          "type": "boolean",
          "description": "Enables automatic shipping improvements."
        }
      }
    },
    "PosInventory": {
      "type": "object",
      "properties": {
        "storeCode": {
          "description": "Required. The identifier of the merchant's store. Either a `storeCode` inserted through the API or the code of the store in a Business Profile.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#posInventory`\"",
          "type": "string"
        },
        "quantity": {
          "format": "int64",
          "type": "string",
          "description": "Required. The available quantity of the item."
        },
        "price": {
          "description": "Required. The current price of the item.",
          "$ref": "Price"
        },
        "pickupSla": {
          "description": "Optional. Expected date that an order will be ready for pickup relative to the order date. Must be submitted together with `pickupMethod`. For accepted attribute values, see the [local product inventory feed specification](https://support.google.com/merchants/answer/3061342).",
          "type": "string"
        },
        "targetCountry": {
          "description": "Required. The CLDR territory code for the item.",
          "type": "string"
        },
        "gtin": {
          "type": "string",
          "description": "Global Trade Item Number."
        },
        "pickupMethod": {
          "type": "string",
          "description": "Optional. Supported pickup method for this offer. Unless the value is \"not supported\", this field must be submitted together with `pickupSla`. For accepted attribute values, see the [local product inventory feed specification](https://support.google.com/merchants/answer/3061342)."
        },
        "itemId": {
          "description": "Required. A unique identifier for the item.",
          "type": "string"
        },
        "contentLanguage": {
          "description": "Required. The two-letter ISO 639-1 language code for the item.",
          "type": "string"
        },
        "timestamp": {
          "type": "string",
          "description": "Required. The inventory timestamp, in ISO 8601 format."
        }
      },
      "id": "PosInventory",
      "description": "The absolute quantity of an item available at the given store."
    },
    "DatafeedsCustomBatchResponse": {
      "id": "DatafeedsCustomBatchResponse",
      "type": "object",
      "properties": {
        "entries": {
          "items": {
            "$ref": "DatafeedsCustomBatchResponseEntry"
          },
          "description": "The result of the execution of the batch requests.",
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#datafeedsCustomBatchResponse`\"."
        }
      }
    },
    "Error": {
      "id": "Error",
      "description": "An error returned by the API.",
      "type": "object",
      "properties": {
        "domain": {
          "description": "The domain of the error.",
          "type": "string"
        },
        "message": {
          "type": "string",
          "description": "A description of the error."
        },
        "reason": {
          "description": "The error code.",
          "type": "string"
        }
      }
    },
    "ProductCertification": {
      "id": "ProductCertification",
      "description": "Product [certification](https://support.google.com/merchants/answer/13528839), introduced for EU energy efficiency labeling compliance using the [EU EPREL](https://eprel.ec.europa.eu/screen/home) database.",
      "type": "object",
      "properties": {
        "certificationAuthority": {
          "type": "string",
          "description": "The certification authority, for example \"European_Commission\". Maximum length is 2000 characters."
        },
        "certificationValue": {
          "description": "The certification value (also known as class, level or grade), for example \"A+\", \"C\", \"gold\". Maximum length is 2000 characters.",
          "type": "string"
        },
        "certificationName": {
          "description": "The name of the certification, for example \"EPREL\". Maximum length is 2000 characters.",
          "type": "string"
        },
        "certificationCode": {
          "description": "The certification code, for eaxample \"123456\". Maximum length is 2000 characters.",
          "type": "string"
        }
      }
    },
    "Recommendation": {
      "id": "Recommendation",
      "description": "Recommendations are suggested ways to improve your merchant account's performance. For example, to engage with a feature, or start using a new Google product.",
      "type": "object",
      "properties": {
        "title": {
          "type": "string",
          "description": "Optional. Localized Recommendation Title. Localization uses the {@link `GenerateRecommendationsRequest.language_code`} field in {@link `GenerateRecommendationsRequest`} requests."
        },
        "defaultDescription": {
          "description": "Optional. Localized recommendation description. The localization the {@link `GenerateRecommendationsRequest.language_code`} field in {@link `GenerateRecommendationsRequest`} requests.",
          "type": "string"
        },
        "defaultCallToAction": {
          "description": "Optional. Default CTA of the recommendation.",
          "$ref": "RecommendationCallToAction"
        },
        "additionalCallToAction": {
          "readOnly": true,
          "items": {
            "$ref": "RecommendationCallToAction"
          },
          "description": "Output only. CTAs of this recommendation. Repeated.",
          "type": "array"
        },
        "additionalDescriptions": {
          "description": "Output only. List of additional localized descriptions for a recommendation. Localication uses the `languageCode` field in `GenerateRecommendations` requests. Not all description types are guaranteed to be present and we recommend to rely on default description.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "RecommendationDescription"
          }
        },
        "numericalImpact": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. A numerical score of the impact from the recommendation's description. For example, a recommendation might suggest an upward trend in sales for a certain product. Higher number means larger impact."
        },
        "paid": {
          "description": "Optional. Indicates whether a user needs to pay when they complete the user journey suggested by the recommendation.",
          "type": "boolean"
        },
        "type": {
          "readOnly": true,
          "description": "Output only. Type of the recommendation. List of currently available recommendation types: - OPPORTUNITY_CREATE_NEW_COLLECTION - OPPORTUNITY_CREATE_EMAIL_CAMPAIGN",
          "type": "string"
        },
        "recommendationName": {
          "type": "string",
          "description": "Optional. Localized recommendation name. The localization uses the {@link `GenerateRecommendationsRequest.language_code`} field in {@link `GenerateRecommendationsRequest`} requests."
        },
        "creative": {
          "type": "array",
          "description": "Output only. Any creatives attached to the recommendation. Repeated.",
          "items": {
            "$ref": "RecommendationCreative"
          },
          "readOnly": true
        },
        "subType": {
          "description": "Optional. Subtype of the recommendations. Only applicable when multiple recommendations can be generated per type, and is used as an identifier of recommendation under the same recommendation type.",
          "type": "string"
        }
      }
    },
    "PickupServicesPickupService": {
      "id": "PickupServicesPickupService",
      "type": "object",
      "properties": {
        "country": {
          "description": "The CLDR country code of the carrier (for example, \"US\"). Always present.",
          "type": "string"
        },
        "serviceName": {
          "description": "The name of the pickup service (for example, `\"Access point\"`). Always present.",
          "type": "string"
        },
        "carrierName": {
          "description": "The name of the carrier (for example, `\"UPS\"`). Always present.",
          "type": "string"
        }
      }
    },
    "BuiltInSimpleAction": {
      "type": "object",
      "properties": {
        "additionalContent": {
          "description": "Long text from an external source that should be available to the merchant. Present when the type is `SHOW_ADDITIONAL_CONTENT`.",
          "$ref": "BuiltInSimpleActionAdditionalContent"
        },
        "attributeCode": {
          "type": "string",
          "description": "The attribute that needs to be updated. Present when the type is `EDIT_ITEM_ATTRIBUTE`. This field contains a code for attribute, represented in snake_case. You can find a list of product's attributes, with their codes [here](https://support.google.com/merchants/answer/7052112)."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Default value. Will never be provided by the API.",
            "Redirect merchant to the part of your application where they can verify their phone.",
            "Redirect merchant to the part of your application where they can claim their website.",
            "Redirect merchant to the part of your application where they can add products.",
            "Open a form where the merchant can edit their contact information.",
            "Redirect merchant to the part of your application where they can link ads account.",
            "Open a form where the merchant can add their business registration number.",
            "Open a form where the merchant can edit an attribute. The attribute that needs to be updated is specified in attribute_code field of the action.",
            "Redirect merchant from the product issues to the diagnostic page with their account issues in your application. This action will be returned only for product issues that are caused by an account issue and thus merchant should resolve the problem on the account level.",
            "Show additional content to the merchant. This action will be used for example to deliver a justification from national authority."
          ],
          "enum": [
            "BUILT_IN_SIMPLE_ACTION_TYPE_UNSPECIFIED",
            "VERIFY_PHONE",
            "CLAIM_WEBSITE",
            "ADD_PRODUCTS",
            "ADD_CONTACT_INFO",
            "LINK_ADS_ACCOUNT",
            "ADD_BUSINESS_REGISTRATION_NUMBER",
            "EDIT_ITEM_ATTRIBUTE",
            "FIX_ACCOUNT_ISSUE",
            "SHOW_ADDITIONAL_CONTENT"
          ],
          "description": "The type of action that represents a functionality that is expected to be available in third-party application."
        }
      },
      "id": "BuiltInSimpleAction",
      "description": "Action that is implemented and performed in (your) third-party application. Represents various functionality that is expected to be available to merchant and will help them with resolving the issue. The application should point the merchant to the place, where they can access the corresponding functionality. If the functionality is not supported, it is recommended to explain the situation to merchant and provide them with instructions how to solve the issue."
    },
    "DatafeedsCustomBatchResponseEntry": {
      "id": "DatafeedsCustomBatchResponseEntry",
      "description": "A batch entry encoding a single non-batch datafeeds response.",
      "type": "object",
      "properties": {
        "datafeed": {
          "description": "The requested data feed. Defined if and only if the request was successful.",
          "$ref": "Datafeed"
        },
        "batchId": {
          "format": "uint32",
          "type": "integer",
          "description": "The ID of the request entry this entry responds to."
        },
        "errors": {
          "description": "A list of errors for failed custombatch entries. *Note:* Schema errors fail the whole request.",
          "$ref": "Errors"
        }
      }
    },
    "RenderAccountIssuesResponse": {
      "type": "object",
      "properties": {
        "issues": {
          "type": "array",
          "description": "List of account issues for a given account. This list can be shown with compressed, expandable items. In the compressed form, the title and impact should be shown for each issue. Once the issue is expanded, the detailed content and available actions should be rendered.",
          "items": {
            "$ref": "AccountIssue"
          }
        },
        "alternateDisputeResolution": {
          "deprecated": true,
          "description": "Alternate Dispute Resolution (ADR) is deprecated. Use `prerendered_out_of_court_dispute_settlement` instead.",
          "$ref": "AlternateDisputeResolution"
        }
      },
      "id": "RenderAccountIssuesResponse",
      "description": "Response containing support content and actions for listed account issues."
    },
    "RecommendationDescription": {
      "type": "object",
      "properties": {
        "text": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Text of the description."
        },
        "type": {
          "readOnly": true,
          "description": "Output only. Type of the description.",
          "type": "string",
          "enumDescriptions": [
            "Default value. Will never be provided by the API.",
            "Short description.",
            "Long description."
          ],
          "enum": [
            "DESCRIPTION_TYPE_UNSPECIFIED",
            "SHORT",
            "LONG"
          ]
        }
      },
      "id": "RecommendationDescription",
      "description": "Google-provided description for the recommendation."
    },
    "AccountsUpdateLabelsResponse": {
      "id": "AccountsUpdateLabelsResponse",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#accountsUpdateLabelsResponse`\".",
          "type": "string"
        }
      }
    },
    "AccountsUpdateLabelsRequest": {
      "id": "AccountsUpdateLabelsRequest",
      "type": "object",
      "properties": {
        "labelIds": {
          "description": "The IDs of labels that should be assigned to the account.",
          "type": "array",
          "items": {
            "format": "uint64",
            "type": "string"
          }
        }
      }
    },
    "Datafeed": {
      "id": "Datafeed",
      "description": "Datafeed configuration data.",
      "type": "object",
      "properties": {
        "attributeLanguage": {
          "type": "string",
          "description": "The two-letter ISO 639-1 language in which the attributes are defined in the data feed."
        },
        "targets": {
          "items": {
            "$ref": "DatafeedTarget"
          },
          "description": "The targets this feed should apply to (country, language, destinations).",
          "type": "array"
        },
        "fileName": {
          "description": "Required. The filename of the feed. All feeds must have a unique file name.",
          "type": "string"
        },
        "fetchSchedule": {
          "description": "Fetch schedule for the feed file.",
          "$ref": "DatafeedFetchSchedule"
        },
        "id": {
          "type": "string",
          "description": "Required for update. The ID of the data feed.",
          "format": "int64"
        },
        "contentType": {
          "type": "string",
          "description": "Required. The type of data feed. For product inventory feeds, only feeds for local stores, not online stores, are supported. Acceptable values are: - \"`local products`\" - \"`product inventory`\" - \"`products`\" "
        },
        "format": {
          "description": "Format of the feed file.",
          "$ref": "DatafeedFormat"
        },
        "name": {
          "type": "string",
          "description": "Required for insert. A descriptive name of the data feed."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#datafeed`\""
        }
      }
    },
    "WarehouseBasedDeliveryTime": {
      "id": "WarehouseBasedDeliveryTime",
      "type": "object",
      "properties": {
        "originStreetAddress": {
          "description": "Shipping origin's street address.",
          "type": "string"
        },
        "originCountry": {
          "type": "string",
          "description": "Shipping origin's country represented as a [CLDR territory code](https://github.com/unicode-org/cldr/blob/latest/common/main/en.xml)."
        },
        "originCity": {
          "description": "Shipping origin's city.",
          "type": "string"
        },
        "originAdministrativeArea": {
          "type": "string",
          "description": "Shipping origin's state."
        },
        "carrier": {
          "type": "string",
          "description": "Required. Carrier, such as `\"UPS\"` or `\"Fedex\"`. The list of supported carriers can be retrieved through the `listSupportedCarriers` method."
        },
        "carrierService": {
          "type": "string",
          "description": "Required. Carrier service, such as `\"ground\"` or `\"2 days\"`. The list of supported services for a carrier can be retrieved through the `listSupportedCarriers` method. The name of the service must be in the eddSupportedServices list."
        },
        "originPostalCode": {
          "description": "Shipping origin.",
          "type": "string"
        },
        "warehouseName": {
          "type": "string",
          "description": "The name of the warehouse. Warehouse name need to be matched with name. If warehouseName is set, the below fields will be ignored. The warehouse info will be read from warehouse."
        }
      }
    },
    "ProductCluster": {
      "id": "ProductCluster",
      "description": "Product cluster fields. A product cluster is a grouping for different offers that represent the same product. Values are only set for fields requested explicitly in the request's search query.",
      "type": "object",
      "properties": {
        "brand": {
          "description": "Brand of the product cluster.",
          "type": "string"
        },
        "categoryL2": {
          "type": "string",
          "description": "Product category (2nd level) of the product cluster, represented in Google's product taxonomy."
        },
        "categoryL1": {
          "type": "string",
          "description": "Product category (1st level) of the product cluster, represented in Google's product taxonomy."
        },
        "title": {
          "description": "Title of the product cluster.",
          "type": "string"
        },
        "variantGtins": {
          "type": "array",
          "description": "GTINs of example variants of the product cluster.",
          "items": {
            "type": "string"
          }
        },
        "inventoryStatus": {
          "description": "Tells whether the product cluster is `IN_STOCK` in your product feed across multiple countries, `OUT_OF_STOCK` in your product feed, or `NOT_IN_INVENTORY` at all. The field doesn't take the Best Sellers report country filter into account.",
          "type": "string",
          "enumDescriptions": [
            "Inventory status is unknown.",
            "Merchant has a product for this product cluster or brand in stock.",
            "Merchant has a product for this product cluster or brand in inventory but it is currently out of stock.",
            "Merchant does not have a product for this product cluster or brand in inventory."
          ],
          "enum": [
            "INVENTORY_STATUS_UNSPECIFIED",
            "IN_STOCK",
            "OUT_OF_STOCK",
            "NOT_IN_INVENTORY"
          ]
        },
        "categoryL4": {
          "type": "string",
          "description": "Product category (4th level) of the product cluster, represented in Google's product taxonomy."
        },
        "categoryL3": {
          "type": "string",
          "description": "Product category (3rd level) of the product cluster, represented in Google's product taxonomy."
        },
        "brandInventoryStatus": {
          "description": "Tells if there is at least one product of the brand currently `IN_STOCK` in your product feed across multiple countries, all products are `OUT_OF_STOCK` in your product feed, or `NOT_IN_INVENTORY`. The field doesn't take the Best Sellers report country filter into account.",
          "type": "string",
          "enumDescriptions": [
            "Inventory status is unknown.",
            "Merchant has a product for this product cluster or brand in stock.",
            "Merchant has a product for this product cluster or brand in inventory but it is currently out of stock.",
            "Merchant does not have a product for this product cluster or brand in inventory."
          ],
          "enum": [
            "INVENTORY_STATUS_UNSPECIFIED",
            "IN_STOCK",
            "OUT_OF_STOCK",
            "NOT_IN_INVENTORY"
          ]
        },
        "categoryL5": {
          "type": "string",
          "description": "Product category (5th level) of the product cluster, represented in Google's product taxonomy."
        }
      }
    },
    "AttributionSettings": {
      "id": "AttributionSettings",
      "description": "Represents attribution settings for conversion sources receiving pre-attribution data.",
      "type": "object",
      "properties": {
        "attributionLookbackWindowInDays": {
          "format": "int32",
          "type": "integer",
          "description": "Required. Lookback windows (in days) used for attribution in this source. Supported values are 7, 30, 40."
        },
        "conversionType": {
          "description": "Immutable. Unordered list. List of different conversion types a conversion event can be classified as. A standard \"purchase\" type will be automatically created if this list is empty at creation time.",
          "type": "array",
          "items": {
            "$ref": "AttributionSettingsConversionType"
          }
        },
        "attributionModel": {
          "type": "string",
          "enumDescriptions": [
            "",
            "Cross-channel Last Click model.",
            "Ads-preferred Last Click model.",
            "Cross-channel Data Driven model.",
            "Cross-channel First Click model.",
            "Cross-channel Linear model.",
            "Cross-channel Position Based model.",
            "Cross-channel Time Decay model."
          ],
          "enum": [
            "ATTRIBUTION_MODEL_UNSPECIFIED",
            "CROSS_CHANNEL_LAST_CLICK",
            "ADS_PREFERRED_LAST_CLICK",
            "CROSS_CHANNEL_DATA_DRIVEN",
            "CROSS_CHANNEL_FIRST_CLICK",
            "CROSS_CHANNEL_LINEAR",
            "CROSS_CHANNEL_POSITION_BASED",
            "CROSS_CHANNEL_TIME_DECAY"
          ]
        }
      }
    },
    "AccountIssue": {
      "type": "object",
      "properties": {
        "prerenderedContent": {
          "description": "Details of the issue as a pre-rendered HTML. HTML elements contain CSS classes that can be used to customize the style of the content. Always sanitize the HTML before embedding it directly to your application. The sanitizer needs to allow basic HTML tags, such as: `div`, `span`, `p`, `a`, `ul`, `li`, `table`, `tr`, `td`. For example, you can use [DOMPurify](https://www.npmjs.com/package/dompurify). CSS classes: * `issue-detail` - top level container for the detail of the issue * `callout-banners` - section of the `issue-detail` with callout banners * `callout-banner` - single callout banner, inside `callout-banners` * `callout-banner-info` - callout with important information (default) * `callout-banner-warning` - callout with a warning * `callout-banner-error` - callout informing about an error (most severe) * `issue-content` - section of the `issue-detail`, contains multiple `content-element` * `content-element` - content element such as a list, link or paragraph, inside `issue-content` * `root-causes` - unordered list with items describing root causes of the issue, inside `issue-content` * `root-causes-intro` - intro text before the `root-causes` list, inside `issue-content` * `segment` - section of the text, `span` inside paragraph * `segment-attribute` - section of the text that represents a product attribute, for example 'image\\_link' * `segment-literal` - section of the text that contains a special value, for example '0-1000 kg' * `segment-bold` - section of the text that should be rendered as bold * `segment-italic` - section of the text that should be rendered as italic * `tooltip` - used on paragraphs that should be rendered with a tooltip. A section of the text in such a paragraph will have a class `tooltip-text` and is intended to be shown in a mouse over dialog. If the style is not used, the `tooltip-text` section would be shown on a new line, after the main part of the text. * `tooltip-text` - marks a section of the text within a `tooltip`, that is intended to be shown in a mouse over dialog. * `tooltip-icon` - marks a section of the text within a `tooltip`, that can be replaced with a tooltip icon, for example '?' or 'i'. By default, this section contains a `br` tag, that is separating the main text and the tooltip text when the style is not used. * `tooltip-style-question` - the tooltip shows helpful information, can use the '?' as an icon. * `tooltip-style-info` - the tooltip adds additional information fitting to the context, can use the 'i' as an icon. * `content-moderation` - marks the paragraph that explains how the issue was identified. * `new-element` - Present for new elements added to the pre-rendered content in the future. To make sure that a new content element does not break your style, you can hide everything with this class.",
          "type": "string"
        },
        "title": {
          "description": "Title of the issue.",
          "type": "string"
        },
        "actions": {
          "type": "array",
          "description": "A list of actionable steps that can be executed to solve the issue. An example is requesting a re-review or providing arguments when merchant disagrees with the issue. Actions that are supported in (your) third-party application can be rendered as buttons and should be available to merchant when they expand the issue.",
          "items": {
            "$ref": "Action"
          }
        },
        "impact": {
          "description": "Clarifies the severity of the issue. The summarizing message, if present, should be shown right under the title for each issue. It helps merchants to quickly understand the impact of the issue. The detailed breakdown helps the merchant to fully understand the impact of the issue. It can be rendered as dialog that opens when the merchant mouse over the summarized impact statement. Issues with different severity can be styled differently. They may use a different color or icon to signal the difference between `ERROR`, `WARNING` and `INFO`.",
          "$ref": "AccountIssueImpact"
        },
        "prerenderedOutOfCourtDisputeSettlement": {
          "type": "string",
          "description": "Pre-rendered HTML that contains a link to the external location where the ODS can be requested and instructions for how to request it. HTML elements contain CSS classes that can be used to customize the style of this snippet. Always sanitize the HTML before embedding it directly to your application. The sanitizer needs to allow basic HTML tags, such as: `div`, `span`, `p`, `a`, `ul`, `li`, `table`, `tr`, `td`. For example, you can use [DOMPurify](https://www.npmjs.com/package/dompurify). CSS classes: * `ods-section`* - wrapper around the out-of-court dispute resolution section * `ods-description`* - intro text for the out-of-court dispute resolution. It may contain multiple segments and a link. * `ods-param`* - wrapper around the header-value pair for parameters that merchant may need to provide during the ODS process. * `ods-routing-id`* - ods param for the Routing ID. * `ods-reference-id`* - ods param for the Routing ID. * `ods-param-header`* - header for the ODS parameter * `ods-param-value`* - value of the ODS parameter. This value should be rendered in a way that it is easy for merchants to identify and copy. * `segment` - section of the text, `span` inside paragraph * `segment-attribute` - section of the text that represents a product attribute, for example 'image\\_link' * `segment-literal` - section of the text that contains a special value, for example '0-1000 kg' * `segment-bold` - section of the text that should be rendered as bold * `segment-italic` - section of the text that should be rendered as italic * `tooltip` - used on paragraphs that should be rendered with a tooltip. A section of the text in such a paragraph will have a class `tooltip-text` and is intended to be shown in a mouse over dialog. If the style is not used, the `tooltip-text` section would be shown on a new line, after the main part of the text. * `tooltip-text` - marks a section of the text within a `tooltip`, that is intended to be shown in a mouse over dialog. * `tooltip-icon` - marks a section of the text within a `tooltip`, that can be replaced with a tooltip icon, for example '?' or 'i'. By default, this section contains a `br` tag, that is separating the main text and the tooltip text when the style is not used. * `tooltip-style-question` - the tooltip shows helpful information, can use the '?' as an icon. * `tooltip-style-info` - the tooltip adds additional information fitting to the context, can use the 'i' as an icon."
        }
      },
      "id": "AccountIssue",
      "description": "An issue affecting specific merchant."
    },
    "RecommendationCallToAction": {
      "type": "object",
      "properties": {
        "localizedText": {
          "type": "string",
          "description": "Output only. Localized text of the CTA. Optional.",
          "readOnly": true
        },
        "intent": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Intent of the action. This value describes the intent (for example, `OPEN_CREATE_EMAIL_CAMPAIGN_FLOW`) and can vary from recommendation to recommendation. This value can change over time for the same recommendation. Currently available intent values: - OPEN_CREATE_EMAIL_CAMPAIGN_FLOW: Opens a user journey where they can create a marketing email campaign. (No default URL) - OPEN_CREATE_COLLECTION_TAB: Opens a user journey where they can [create a collection](https://support.google.com/merchants/answer/9703228) for their Merchant account. (No default URL)"
        },
        "uri": {
          "description": "Optional. URL of the CTA. This field will only be set for some recommendations where there is a suggested landing URL. Otherwise it will be set to an empty string. We recommend developers to use their own custom landing page according to the description of the intent field above when this uri field is empty.",
          "type": "string"
        }
      },
      "id": "RecommendationCallToAction",
      "description": "Call to action (CTA) that explains how a merchant can implement this recommendation"
    },
    "VerifyPhoneNumberResponse": {
      "type": "object",
      "properties": {
        "verifiedPhoneNumber": {
          "description": "Verified phone number if verification is successful. This phone number can only be replaced by another verified phone number.",
          "type": "string"
        }
      },
      "id": "VerifyPhoneNumberResponse",
      "description": "Response message for the VerifyPhoneNumber method."
    },
    "TransitTableTransitTimeRowTransitTimeValue": {
      "type": "object",
      "properties": {
        "minTransitTimeInDays": {
          "format": "uint32",
          "description": "Transit time range (min-max) in business days. 0 means same day delivery, 1 means next day delivery.",
          "type": "integer"
        },
        "maxTransitTimeInDays": {
          "format": "uint32",
          "description": "Must be greater than or equal to `minTransitTimeInDays`.",
          "type": "integer"
        }
      },
      "id": "TransitTableTransitTimeRowTransitTimeValue"
    },
    "AccountIdentityType": {
      "type": "object",
      "properties": {
        "selfIdentified": {
          "description": "Optional. Indicates that the business identifies itself with a given identity type. Setting this field does not automatically mean eligibility for promotions.",
          "type": "boolean"
        }
      },
      "id": "AccountIdentityType",
      "description": "The account identity type used to specify attributes."
    },
    "ProductViewItemIssueItemIssueSeverity": {
      "id": "ProductViewItemIssueItemIssueSeverity",
      "description": "Severity of an issue per destination in a region, and aggregated severity.",
      "type": "object",
      "properties": {
        "severityPerDestination": {
          "type": "array",
          "description": "Item issue severity for every destination.",
          "items": {
            "$ref": "ProductViewItemIssueIssueSeverityPerDestination"
          }
        },
        "aggregatedSeverity": {
          "description": "Severity of an issue aggregated for destination.",
          "type": "string",
          "enumDescriptions": [
            "Undefined Issue severity.",
            "Issue disapproves the product in at least one of the selected destinations.",
            "Issue demotes the product in all selected destinations it affects.",
            "Issue resolution is `PENDING_PROCESSING`."
          ],
          "enum": [
            "AGGREGATED_ISSUE_SEVERITY_UNSPECIFIED",
            "DISAPPROVED",
            "DEMOTED",
            "PENDING"
          ]
        }
      }
    },
    "ProductDeliveryTimeAreaDeliveryTime": {
      "type": "object",
      "properties": {
        "deliveryArea": {
          "description": "Required. The delivery area associated with `deliveryTime` for this product.",
          "$ref": "DeliveryArea"
        },
        "deliveryTime": {
          "description": "Required. The delivery time associated with `deliveryArea` for this product.",
          "$ref": "ProductDeliveryTimeAreaDeliveryTimeDeliveryTime"
        }
      },
      "id": "ProductDeliveryTimeAreaDeliveryTime",
      "description": "A pairing of `DeliveryArea` associated with a `DeliveryTime` for this product."
    },
    "MerchantCenterDestination": {
      "id": "MerchantCenterDestination",
      "description": "\"Merchant Center Destination\" sources can be used to send conversion events from a website using a Google tag directly to a Merchant Center account where the source is created.",
      "type": "object",
      "properties": {
        "attributionSettings": {
          "description": "Required. Attribution settings being used for the Merchant Center Destination.",
          "$ref": "AttributionSettings"
        },
        "displayName": {
          "description": "Required. Merchant-specified display name for the destination. This is the name that identifies the conversion source within the Merchant Center UI. Limited to 64 characters.",
          "type": "string"
        },
        "destinationId": {
          "description": "Output only. Merchant Center Destination ID.",
          "type": "string",
          "readOnly": true
        },
        "currencyCode": {
          "type": "string",
          "description": "Required. Three-letter currency code (ISO 4217). The currency code defines in which currency the conversions sent to this destination will be reported in Merchant Center."
        }
      }
    },
    "RegionalinventoryCustomBatchResponse": {
      "id": "RegionalinventoryCustomBatchResponse",
      "type": "object",
      "properties": {
        "entries": {
          "items": {
            "$ref": "RegionalinventoryCustomBatchResponseEntry"
          },
          "description": "The result of the execution of the batch requests.",
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#regionalinventoryCustomBatchResponse`\"."
        }
      }
    },
    "AccountCredentials": {
      "id": "AccountCredentials",
      "description": "Credentials allowing Google to call a partner's API on behalf of a merchant.",
      "type": "object",
      "properties": {
        "purpose": {
          "enumDeprecated": [
            false,
            true,
            false
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown purpose.",
            "The credentials allow Google to manage Shopify orders on behalf of the merchant (deprecated).",
            "The credentials allow Google to manage Shopify integration on behalf of the merchant."
          ],
          "enum": [
            "ACCOUNT_CREDENTIALS_PURPOSE_UNSPECIFIED",
            "SHOPIFY_ORDER_MANAGEMENT",
            "SHOPIFY_INTEGRATION"
          ],
          "description": "Indicates to Google how Google should use these OAuth tokens."
        },
        "accessToken": {
          "type": "string",
          "description": "An OAuth access token."
        },
        "expiresIn": {
          "description": "The amount of time, in seconds, after which the access token is no longer valid.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "OrderTrackingSignalShipmentLineItemMapping": {
      "type": "object",
      "properties": {
        "lineItemId": {
          "type": "string",
          "description": "Required. The line item ID."
        },
        "quantity": {
          "type": "string",
          "description": "The line item quantity in the shipment.",
          "format": "int64"
        },
        "shipmentId": {
          "description": "Required. The shipment ID. This field will be hashed in returned OrderTrackingSignal creation response.",
          "type": "string"
        }
      },
      "id": "OrderTrackingSignalShipmentLineItemMapping",
      "description": "Represents how many items are in the shipment for the given shipment_id and line_item_id."
    },
    "InsertCheckoutSettingsRequest": {
      "id": "InsertCheckoutSettingsRequest",
      "description": "Request message for the `InsertCheckoutSettings` method.",
      "type": "object",
      "properties": {
        "uriSettings": {
          "description": "Required. The `UrlSettings` for the request. The presence of URL settings indicates `Checkout` enrollment.",
          "$ref": "UrlSettings"
        }
      }
    },
    "ReturnPolicyOnlineRestockingFee": {
      "type": "object",
      "properties": {
        "fixedFee": {
          "description": "Fixed restocking fee.",
          "$ref": "PriceAmount"
        },
        "microPercent": {
          "format": "int32",
          "description": "Percent of total price in micros. 15,000,000 means 15% of the total price would be charged.",
          "type": "integer"
        }
      },
      "id": "ReturnPolicyOnlineRestockingFee",
      "description": "The restocking fee. This can either be a fixed fee or a micro percent."
    },
    "ShippingsettingsCustomBatchRequest": {
      "id": "ShippingsettingsCustomBatchRequest",
      "type": "object",
      "properties": {
        "entries": {
          "items": {
            "$ref": "ShippingsettingsCustomBatchRequestEntry"
          },
          "type": "array",
          "description": "The request entries to be processed in the batch."
        }
      }
    },
    "ShoppingAdsProgramStatus": {
      "id": "ShoppingAdsProgramStatus",
      "description": "Response message for GetShoppingAdsProgramStatus.",
      "type": "object",
      "properties": {
        "globalState": {
          "type": "string",
          "enumDescriptions": [
            "State is unknown.",
            "Program is not enabled for any country.",
            "No products have been uploaded for any region. Upload products to Merchant Center.",
            "Program is enabled and offers are uploaded for at least one country."
          ],
          "enum": [
            "PROGRAM_STATE_UNSPECIFIED",
            "NOT_ENABLED",
            "NO_OFFERS_UPLOADED",
            "ENABLED"
          ],
          "description": "State of the program. `ENABLED` if there are offers for at least one region."
        },
        "regionStatuses": {
          "items": {
            "$ref": "ShoppingAdsProgramStatusRegionStatus"
          },
          "description": "Status of the program in each region. Regions with the same status and review eligibility are grouped together in `regionCodes`.",
          "type": "array"
        }
      }
    },
    "SearchRequest": {
      "type": "object",
      "properties": {
        "query": {
          "description": "Required. Query that defines performance metrics to retrieve and dimensions according to which the metrics are to be segmented. For details on how to construct your query, see the [Query Language guide](https://developers.google.com/shopping-content/guides/reports/query-language/overview).",
          "type": "string"
        },
        "pageSize": {
          "description": "Number of ReportRows to retrieve in a single page. Defaults to 1000. Values above 5000 are coerced to 5000.",
          "type": "integer",
          "format": "int32"
        },
        "pageToken": {
          "type": "string",
          "description": "Token of the page to retrieve. If not specified, the first page of results is returned. In order to request the next page of results, the value obtained from `next_page_token` in the previous response should be used."
        }
      },
      "id": "SearchRequest",
      "description": "Request message for the ReportService.Search method."
    },
    "PriceInsights": {
      "type": "object",
      "properties": {
        "predictedConversionsChangeFraction": {
          "type": "number",
          "description": "The predicted change in conversions as a fraction after introducing the suggested price compared to current active price. For example, 0.05 is a 5% predicted increase in conversions).",
          "format": "double"
        },
        "predictedClicksChangeFraction": {
          "format": "double",
          "description": "The predicted change in clicks as a fraction after introducing the suggested price compared to current active price. For example, 0.05 is a 5% predicted increase in clicks.",
          "type": "number"
        },
        "predictedGrossProfitChangeFraction": {
          "type": "number",
          "description": "*Deprecated*: This field is no longer supported and will start returning 0. The predicted change in gross profit as a fraction after introducing the suggested price compared to current active price. For example, 0.05 is a 5% predicted increase in gross profit.",
          "format": "double"
        },
        "suggestedPriceCurrencyCode": {
          "description": "The suggested price currency (ISO 4217 code).",
          "type": "string"
        },
        "predictedImpressionsChangeFraction": {
          "description": "The predicted change in impressions as a fraction after introducing the suggested price compared to current active price. For example, 0.05 is a 5% predicted increase in impressions.",
          "type": "number",
          "format": "double"
        },
        "predictedMonthlyGrossProfitChangeCurrencyCode": {
          "description": "*Deprecated*: This field is no longer supported and will start returning USD for all requests. The predicted monthly gross profit change currency (ISO 4217 code).",
          "type": "string"
        },
        "effectiveness": {
          "type": "string",
          "enumDescriptions": [
            "Effectiveness is unknown.",
            "Effectiveness is low.",
            "Effectiveness is medium.",
            "Effectiveness is high."
          ],
          "enum": [
            "EFFECTIVENESS_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH"
          ],
          "description": "The predicted effectiveness of applying the price suggestion, bucketed."
        },
        "predictedMonthlyGrossProfitChangeMicros": {
          "format": "int64",
          "description": "*Deprecated*: This field is no longer supported and will start returning 0. The predicted change in gross profit in micros (1 millionth of a standard unit, 1 USD = 1000000 micros) after introducing the suggested price for a month compared to current active price.",
          "type": "string"
        },
        "suggestedPriceMicros": {
          "format": "int64",
          "description": "The latest suggested price in micros (1 millionth of a standard unit, 1 USD = 1000000 micros) for the product.",
          "type": "string"
        }
      },
      "id": "PriceInsights",
      "description": "Price insights fields requested by the merchant in the query. Field values are only set if the merchant queries `PriceInsightsProductView`. https://support.google.com/merchants/answer/11916926"
    },
    "Metrics": {
      "id": "Metrics",
      "description": "Performance metrics. Values are only set for metrics requested explicitly in the request's search query.",
      "type": "object",
      "properties": {
        "conversionValueMicros": {
          "type": "string",
          "description": "Value of conversions in micros (1 millionth of a standard unit, 1 USD = 1000000 micros) attributed to the product, reported on the conversion date. The metric is currently available only for the `FREE_PRODUCT_LISTING` program. The currency of the returned value is stored in the currency_code segment. If this metric is selected, 'segments.currency_code' is automatically added to the SELECT clause in the search query (unless it is explicitly selected by the user) and the currency_code segment is populated in the response.",
          "format": "int64"
        },
        "orderedItemSalesMicros": {
          "description": "*Deprecated*: This field is no longer supported and retrieving it returns 0 starting from May 2024. Total price of ordered items in micros (1 millionth of a standard unit, 1 USD = 1000000 micros). Excludes shipping, taxes (US only), and customer cancellations that happened within 30 minutes of placing the order. The currency of the returned value is stored in the currency_code segment. If this metric is selected, 'segments.currency_code' is automatically added to the SELECT clause in the search query (unless it is explicitly selected by the user) and the currency_code segment is populated in the response. **This metric cannot be segmented by customer_country_code.**",
          "type": "string",
          "format": "int64"
        },
        "itemDaysToShip": {
          "format": "double",
          "description": "*Deprecated*: This field is no longer supported and retrieving it returns 0 starting from May 2024. Average number of days between an item being ordered and the item being **This metric cannot be segmented by customer_country_code.**",
          "type": "number"
        },
        "clicks": {
          "description": "Number of clicks.",
          "type": "string",
          "format": "int64"
        },
        "impressions": {
          "type": "string",
          "description": "Number of times merchant's products are shown.",
          "format": "int64"
        },
        "returnsMicros": {
          "type": "string",
          "description": "*Deprecated*: This field is no longer supported and retrieving it returns 0 starting from May 2024. Total price of ordered items sent back for return in micros (1 millionth of a standard unit, 1 USD = 1000000 micros), reported on the date when the merchant accepted the return. The currency of the returned value is stored in the currency_code segment. If this metric is selected, 'segments.currency_code' is automatically added to the SELECT clause in the search query (unless it is explicitly selected by the user) and the currency_code segment is populated in the response. **This metric cannot be segmented by customer_country_code.**",
          "format": "int64"
        },
        "aovMicros": {
          "format": "double",
          "description": "*Deprecated*: This field is no longer supported and retrieving it returns 0 starting from May 2024. Average order value in micros (1 millionth of a standard unit, 1 USD = 1000000 micros) - the average value (total price of items) of all placed orders. The currency of the returned value is stored in the currency_code segment. If this metric is selected, 'segments.currency_code' is automatically added to the SELECT clause in the search query (unless it is explicitly selected by the user) and the currency_code segment is populated in the response. **This metric cannot be segmented by product dimensions and customer_country_code.**",
          "type": "number"
        },
        "orderedItems": {
          "format": "int64",
          "description": "*Deprecated*: This field is no longer supported and retrieving it returns 0 starting from May 2024. Number of ordered items. Excludes customer cancellations that happened within 30 minutes of placing the order. **This metric cannot be segmented by customer_country_code.**",
          "type": "string"
        },
        "aos": {
          "format": "double",
          "type": "number",
          "description": "*Deprecated*: This field is no longer supported and retrieving it returns 0 starting from May 2024. Average order size - the average number of items in an order. **This metric cannot be segmented by product dimensions and customer_country_code.**"
        },
        "conversionRate": {
          "format": "double",
          "type": "number",
          "description": "Number of conversions divided by the number of clicks, reported on the impression date. The metric is currently available only for the `FREE_PRODUCT_LISTING` program."
        },
        "shippedItemSalesMicros": {
          "format": "int64",
          "type": "string",
          "description": "*Deprecated*: This field is no longer supported and retrieving it returns 0 starting from May 2024. Total price of shipped items in micros (1 millionth of a standard unit, 1 USD = 1000000 micros), reported on the order date. Excludes shipping and taxes (US only). The currency of the returned value is stored in the currency_code segment. If this metric is selected, 'segments.currency_code' is automatically added to the SELECT clause in the search query (unless it is explicitly selected by the user) and the currency_code segment is populated in the response. **This metric cannot be segmented by customer_country_code.**"
        },
        "returnRate": {
          "format": "double",
          "description": "*Deprecated*: This field is no longer supported and retrieving it returns 0 starting from May 2024. Total price of returned items divided by the total price of shipped items, reported on the order date. If this metric is selected, 'segments.currency_code' is automatically added to the SELECT clause in the search query (unless it is explicitly selected by the user) and the currency_code segment is populated in the response. **This metric cannot be segmented by customer_country_code.**",
          "type": "number"
        },
        "conversions": {
          "format": "double",
          "type": "number",
          "description": "Number of conversions attributed to the product, reported on the conversion date. Depending on the attribution model, a conversion might be distributed across multiple clicks, where each click gets its own credit assigned. This metric is a sum of all such credits. The metric is currently available only for the `FREE_PRODUCT_LISTING` program."
        },
        "unshippedOrders": {
          "format": "double",
          "description": "*Deprecated*: This field is no longer supported and retrieving it returns 0 starting from May 2024. Number of orders not shipped or partially shipped up until the end of the queried day. If a multi-day period is specified in the search query, the returned value is the average number of unshipped orders over the days in the queried period. **This metric cannot be segmented by product dimensions and customer_country_code.**",
          "type": "number"
        },
        "shippedOrders": {
          "format": "int64",
          "description": "*Deprecated*: This field is no longer supported and retrieving it returns 0 starting from May 2024. Number of fully shipped orders, reported on the last shipment date. **This metric cannot be segmented by product dimensions and customer_country_code.**",
          "type": "string"
        },
        "rejectedItems": {
          "description": "*Deprecated*: This field is no longer supported and retrieving it returns 0 starting from May 2024. Number of ordered items canceled by the merchant, reported on the order date. **This metric cannot be segmented by customer_country_code.**",
          "type": "string",
          "format": "int64"
        },
        "orders": {
          "format": "int64",
          "description": "*Deprecated*: This field is no longer supported and retrieving it returns 0 starting from May 2024. Number of placed orders. Excludes customer cancellations that happened within 30 minutes of placing the order. **This metric cannot be segmented by product dimensions and customer_country_code.**",
          "type": "string"
        },
        "itemFillRate": {
          "type": "number",
          "description": "*Deprecated*: This field is no longer supported and retrieving it returns 0 starting from May 2024. Percentage of shipped items in relation to all finalized items (shipped or rejected by the merchant; unshipped items are not taken into account), reported on the order date. Item fill rate is lowered by merchant rejections. **This metric cannot be segmented by customer_country_code.**",
          "format": "double"
        },
        "shippedItems": {
          "description": "*Deprecated*: This field is no longer supported and retrieving it returns 0 starting from May 2024. Number of shipped items, reported on the shipment date. **This metric cannot be segmented by customer_country_code.**",
          "type": "string",
          "format": "int64"
        },
        "daysToShip": {
          "format": "double",
          "type": "number",
          "description": "*Deprecated*: This field is no longer supported and retrieving it returns 0 starting from May 2024. Average number of days between an order being placed and the order being fully shipped, reported on the last shipment date. **This metric cannot be segmented by product dimensions and customer_country_code.**"
        },
        "unshippedItems": {
          "type": "number",
          "description": "*Deprecated*: This field is no longer supported and retrieving it returns 0 starting from May 2024. Number of ordered items not shipped up until the end of the queried day. If a multi-day period is specified in the search query, the returned value is the average number of unshipped items over the days in the queried period. **This metric cannot be segmented by customer_country_code.**",
          "format": "double"
        },
        "returnedItems": {
          "description": "*Deprecated*: This field is no longer supported and retrieving it returns 0 starting from May 2024. Number of ordered items sent back for return, reported on the date when the merchant accepted the return. **This metric cannot be segmented by customer_country_code.**",
          "type": "string",
          "format": "int64"
        },
        "ctr": {
          "format": "double",
          "description": "Click-through rate - the number of clicks merchant's products receive (clicks) divided by the number of times the products are shown (impressions).",
          "type": "number"
        }
      }
    },
    "UrlSettings": {
      "id": "UrlSettings",
      "description": "Specifications related to the `Checkout` URL. The `UriTemplate` is of the form `https://www.mystore.com/checkout?item_id={id}` where `{id}` will be automatically replaced with data from the merchant account with this attribute [offer_id](https://developers.google.com/shopping-content/reference/rest/v2.1/products#Product.FIELDS.offer_id)",
      "type": "object",
      "properties": {
        "checkoutUriTemplate": {
          "type": "string",
          "description": "URL template when the placeholders are expanded will redirect the buyer to the merchant checkout page with the item in the cart."
        },
        "cartUriTemplate": {
          "type": "string",
          "description": "URL template when the placeholders are expanded will redirect the buyer to the cart page on the merchant website with the selected item in cart."
        }
      }
    },
    "ProductIssueImpact": {
      "id": "ProductIssueImpact",
      "description": "Overall impact of product issue.",
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "Optional. Message summarizing the overall impact of the issue. If present, it should be rendered to the merchant. For example: \"Limits visibility in France\""
        },
        "severity": {
          "type": "string",
          "enumDescriptions": [
            "Default value. Will never be provided by the API.",
            "Causes either an account suspension or an item disapproval. Errors should be resolved as soon as possible to ensure items are eligible to appear in results again.",
            "Warnings can negatively impact the performance of ads and can lead to item or account suspensions in the future unless the issue is resolved.",
            "Infos are suggested optimizations to increase data quality. Resolving these issues is recommended, but not required."
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "ERROR",
            "WARNING",
            "INFO"
          ],
          "description": "The severity of the issue."
        },
        "breakdowns": {
          "items": {
            "$ref": "Breakdown"
          },
          "description": "Detailed impact breakdown. Explains the types of restriction the issue has in different shopping destinations and territory. If present, it should be rendered to the merchant. Can be shown as a mouse over dropdown or a dialog. Each breakdown item represents a group of regions with the same impact details.",
          "type": "array"
        }
      }
    },
    "DeliveryTime": {
      "id": "DeliveryTime",
      "type": "object",
      "properties": {
        "minTransitTimeInDays": {
          "description": "Minimum number of business days that are spent in transit. 0 means same day delivery, 1 means next day delivery. Either `{min,max}TransitTimeInDays` or `transitTimeTable` must be set, but not both.",
          "type": "integer",
          "format": "uint32"
        },
        "holidayCutoffs": {
          "type": "array",
          "description": "Holiday cutoff definitions. If configured, they specify order cutoff times for holiday-specific shipping.",
          "items": {
            "$ref": "HolidayCutoff"
          }
        },
        "transitTimeTable": {
          "description": "Transit time table, number of business days spent in transit based on row and column dimensions. Either `{min,max}TransitTimeInDays` or `transitTimeTable` can be set, but not both.",
          "$ref": "TransitTable"
        },
        "minHandlingTimeInDays": {
          "format": "uint32",
          "type": "integer",
          "description": "Minimum number of business days spent before an order is shipped. 0 means same day shipped, 1 means next day shipped."
        },
        "warehouseBasedDeliveryTimes": {
          "items": {
            "$ref": "WarehouseBasedDeliveryTime"
          },
          "description": "Indicates that the delivery time should be calculated per warehouse (shipping origin location) based on the settings of the selected carrier. When set, no other transit time related field in DeliveryTime should be set.",
          "type": "array"
        },
        "transitBusinessDayConfig": {
          "description": "The business days during which orders can be in-transit. If not provided, Monday to Friday business days will be assumed.",
          "$ref": "BusinessDayConfig"
        },
        "maxTransitTimeInDays": {
          "format": "uint32",
          "description": "Maximum number of business days that are spent in transit. 0 means same day delivery, 1 means next day delivery. Must be greater than or equal to `minTransitTimeInDays`.",
          "type": "integer"
        },
        "cutoffTime": {
          "description": "Business days cutoff time definition. If not configured, the cutoff time will be defaulted to 8AM PST. If local delivery, use Service.StoreConfig.CutoffConfig.",
          "$ref": "CutoffTime"
        },
        "maxHandlingTimeInDays": {
          "format": "uint32",
          "description": "Maximum number of business days spent before an order is shipped. 0 means same day shipped, 1 means next day shipped. Must be greater than or equal to `minHandlingTimeInDays`.",
          "type": "integer"
        },
        "handlingBusinessDayConfig": {
          "description": "The business days during which orders can be handled. If not provided, Monday to Friday business days will be assumed.",
          "$ref": "BusinessDayConfig"
        }
      }
    },
    "Product": {
      "type": "object",
      "properties": {
        "identifierExists": {
          "description": "False when the item does not have unique product identifiers appropriate to its category, such as GTIN, MPN, and brand. Required according to the Unique Product Identifier Rules for all target countries except for Canada.",
          "type": "boolean"
        },
        "availability": {
          "description": "Availability status of the item.",
          "type": "string"
        },
        "shippingWeight": {
          "description": "Weight of the item for shipping.",
          "$ref": "ProductShippingWeight"
        },
        "productLength": {
          "description": "The length of the product in the units provided. The value must be between 0 (exclusive) and 3000 (inclusive).",
          "$ref": "ProductDimension"
        },
        "customLabel1": {
          "description": "Custom label 1 for custom grouping of items in a Shopping campaign.",
          "type": "string"
        },
        "displayAdsLink": {
          "description": "URL directly to your item's landing page for dynamic remarketing campaigns.",
          "type": "string"
        },
        "transitTimeLabel": {
          "type": "string",
          "description": "The transit time label of the product, used to group product in account-level transit time tables."
        },
        "certifications": {
          "description": "Product [certification](https://support.google.com/merchants/answer/13528839), introduced for EU energy efficiency labeling compliance using the [EU EPREL](https://eprel.ec.europa.eu/screen/home) database.",
          "type": "array",
          "items": {
            "$ref": "ProductCertification"
          }
        },
        "description": {
          "description": "Description of the item.",
          "type": "string"
        },
        "minHandlingTime": {
          "format": "int64",
          "type": "string",
          "description": "Minimal product handling time (in business days)."
        },
        "link": {
          "type": "string",
          "description": "URL directly linking to your item's page on your website."
        },
        "sellOnGoogleQuantity": {
          "format": "int64",
          "type": "string",
          "description": "The quantity of the product that is available for selling on Google. Supported only for online products."
        },
        "displayAdsId": {
          "description": "An identifier for an item for dynamic remarketing campaigns.",
          "type": "string"
        },
        "material": {
          "type": "string",
          "description": "The material of which the item is made."
        },
        "adult": {
          "type": "boolean",
          "description": "Should be set to true if the item is targeted towards adults."
        },
        "includedDestinations": {
          "items": {
            "type": "string"
          },
          "description": "The list of [destinations to include](//support.google.com/merchants/answer/7501026) for this target (corresponds to checked check boxes in Merchant Center). Default destinations are always included unless provided in `excludedDestinations`.",
          "type": "array"
        },
        "customAttributes": {
          "items": {
            "$ref": "CustomAttribute"
          },
          "type": "array",
          "description": "A list of custom (merchant-provided) attributes. It can also be used for submitting any attribute of the feed specification in its generic form (for example, `{ \"name\": \"size type\", \"value\": \"regular\" }`). This is useful for submitting attributes not explicitly exposed by the API, such as additional attributes used for Buy on Google (formerly known as Shopping Actions)."
        },
        "shippingWidth": {
          "description": "Width of the item for shipping.",
          "$ref": "ProductShippingDimension"
        },
        "salePrice": {
          "description": "Advertised sale price of the item.",
          "$ref": "Price"
        },
        "sustainabilityIncentives": {
          "description": "Optional. The list of sustainability incentive programs.",
          "type": "array",
          "items": {
            "$ref": "ProductSustainabilityIncentive"
          }
        },
        "customLabel3": {
          "description": "Custom label 3 for custom grouping of items in a Shopping campaign.",
          "type": "string"
        },
        "cloudExportAdditionalProperties": {
          "type": "array",
          "description": "Extra fields to export to the Cloud Retail program.",
          "items": {
            "$ref": "CloudExportAdditionalProperties"
          }
        },
        "subscriptionCost": {
          "description": "Number of periods (months or years) and amount of payment per period for an item with an associated subscription contract.",
          "$ref": "ProductSubscriptionCost"
        },
        "shipping": {
          "items": {
            "$ref": "ProductShipping"
          },
          "description": "Shipping rules.",
          "type": "array"
        },
        "productHighlights": {
          "type": "array",
          "description": "Bullet points describing the most relevant highlights of a product.",
          "items": {
            "type": "string"
          }
        },
        "promotionIds": {
          "description": "The unique ID of a promotion.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "gtin": {
          "type": "string",
          "description": "Global Trade Item Number (GTIN) of the item."
        },
        "offerId": {
          "type": "string",
          "description": "Required. A unique identifier for the item. Leading and trailing whitespaces are stripped and multiple whitespaces are replaced by a single whitespace upon submission. Only valid unicode characters are accepted. See the products feed specification for details. *Note:* Content API methods that operate on products take the REST ID of the product, *not* this identifier."
        },
        "canonicalLink": {
          "type": "string",
          "description": "URL for the canonical version of your item's landing page."
        },
        "productDetails": {
          "type": "array",
          "description": "Technical specification or additional product details.",
          "items": {
            "$ref": "ProductProductDetail"
          }
        },
        "additionalImageLinks": {
          "items": {
            "type": "string"
          },
          "description": "Additional URLs of images of the item.",
          "type": "array"
        },
        "maxEnergyEfficiencyClass": {
          "type": "string",
          "description": "The energy efficiency class as defined in EU directive 2010/30/EU."
        },
        "loyaltyProgram": {
          "description": "Loyalty program information that is used to surface loyalty benefits ( for example, better pricing, points, etc) to the user of this item. This signular field points to the latest uploaded loyalty program info. This field will be deprecated in the coming weeks and should not be used in favor of the plural 'LoyaltyProgram' field below.",
          "$ref": "LoyaltyProgram"
        },
        "maxHandlingTime": {
          "format": "int64",
          "description": "Maximal product handling time (in business days).",
          "type": "string"
        },
        "multipack": {
          "format": "int64",
          "description": "The number of identical products in a merchant-defined multipack.",
          "type": "string"
        },
        "condition": {
          "description": "Condition or state of the item.",
          "type": "string"
        },
        "costOfGoodsSold": {
          "description": "Cost of goods sold. Used for gross profit reporting.",
          "$ref": "Price"
        },
        "maximumRetailPrice": {
          "description": "Maximum retail price (MRP) of the item. Applicable to India only.",
          "$ref": "Price"
        },
        "energyEfficiencyClass": {
          "description": "The energy efficiency class as defined in EU directive 2010/30/EU.",
          "type": "string"
        },
        "pause": {
          "description": "Publication of this item should be temporarily paused. Acceptable values are: - \"`ads`\" ",
          "type": "string"
        },
        "id": {
          "description": "The REST ID of the product. Content API methods that operate on products take this as their `productId` parameter. The REST ID for a product has one of the 2 forms channel:contentLanguage: targetCountry: offerId or channel:contentLanguage:feedLabel: offerId.",
          "type": "string"
        },
        "title": {
          "description": "Title of the item.",
          "type": "string"
        },
        "feedLabel": {
          "type": "string",
          "description": "Feed label for the item. Either `targetCountry` or `feedLabel` is required. Must be less than or equal to 20 uppercase letters (A-Z), numbers (0-9), and dashes (-)."
        },
        "virtualModelLink": {
          "description": "URL of the 3D model of the item to provide more visuals.",
          "type": "string"
        },
        "taxes": {
          "items": {
            "$ref": "ProductTax"
          },
          "description": "Tax information.",
          "type": "array"
        },
        "googleProductCategory": {
          "type": "string",
          "description": "Google's category of the item (see [Google product taxonomy](https://support.google.com/merchants/answer/1705911)). When querying products, this field will contain the user provided value. There is currently no way to get back the auto assigned google product categories through the API."
        },
        "contentLanguage": {
          "description": "Required. The two-letter ISO 639-1 language code for the item.",
          "type": "string"
        },
        "productWeight": {
          "description": "The weight of the product in the units provided. The value must be between 0 (exclusive) and 2000 (inclusive).",
          "$ref": "ProductWeight"
        },
        "mpn": {
          "description": "Manufacturer Part Number (MPN) of the item.",
          "type": "string"
        },
        "loyaltyPrograms": {
          "items": {
            "$ref": "LoyaltyProgram"
          },
          "type": "array",
          "description": "Optional. A list of loyalty program information that is used to surface loyalty benefits (for example, better pricing, points, etc) to the user of this item."
        },
        "channel": {
          "type": "string",
          "description": "Required. The item's channel (online or local). Acceptable values are: - \"`local`\" - \"`online`\" "
        },
        "availabilityDate": {
          "description": "The day a pre-ordered product becomes available for delivery, in ISO 8601 format.",
          "type": "string"
        },
        "customLabel0": {
          "type": "string",
          "description": "Custom label 0 for custom grouping of items in a Shopping campaign."
        },
        "disclosureDate": {
          "type": "string",
          "description": "The date time when an offer becomes visible in search results across Google’s YouTube surfaces, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format. See [Disclosure date](https://support.google.com/merchants/answer/13034208) for more information."
        },
        "structuredTitle": {
          "description": "Structured title, for algorithmically (AI)-generated titles.",
          "$ref": "ProductStructuredTitle"
        },
        "productWidth": {
          "description": "The width of the product in the units provided. The value must be between 0 (exclusive) and 3000 (inclusive).",
          "$ref": "ProductDimension"
        },
        "shoppingAdsExcludedCountries": {
          "description": "List of country codes (ISO 3166-1 alpha-2) to exclude the offer from Shopping Ads destination. Countries from this list are removed from countries configured in MC feed settings.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "brand": {
          "type": "string",
          "description": "Brand of the item."
        },
        "color": {
          "type": "string",
          "description": "Color of the item."
        },
        "displayAdsTitle": {
          "type": "string",
          "description": "Title of an item for dynamic remarketing campaigns."
        },
        "autoPricingMinPrice": {
          "description": "A safeguard in the [Automated Discounts](//support.google.com/merchants/answer/10295759) and [Dynamic Promotions](//support.google.com/merchants/answer/13949249) projects, ensuring that discounts on merchants' offers do not fall below this value, thereby preserving the offer's value and profitability.",
          "$ref": "Price"
        },
        "lifestyleImageLinks": {
          "items": {
            "type": "string"
          },
          "description": "Additional URLs of lifestyle images of the item. Used to explicitly identify images that showcase your item in a real-world context. See the Help Center article for more information.",
          "type": "array"
        },
        "targetCountry": {
          "type": "string",
          "description": "Required. The CLDR territory code for the item's country of sale."
        },
        "shippingLabel": {
          "description": "The shipping label of the product, used to group product in account-level shipping rules.",
          "type": "string"
        },
        "displayAdsSimilarIds": {
          "items": {
            "type": "string"
          },
          "description": "Advertiser-specified recommendations.",
          "type": "array"
        },
        "externalSellerId": {
          "description": "Required for multi-seller accounts. Use this attribute if you're a marketplace uploading products for various sellers to your multi-seller account.",
          "type": "string"
        },
        "installment": {
          "description": "Number and amount of installments to pay for an item.",
          "$ref": "Installment"
        },
        "unitPricingBaseMeasure": {
          "description": "The preference of the denominator of the unit price.",
          "$ref": "ProductUnitPricingBaseMeasure"
        },
        "excludedDestinations": {
          "items": {
            "type": "string"
          },
          "description": "The list of [destinations to exclude](//support.google.com/merchants/answer/6324486) for this target (corresponds to cleared check boxes in Merchant Center). Products that are excluded from all destinations for more than 7 days are automatically deleted.",
          "type": "array"
        },
        "sizes": {
          "items": {
            "type": "string"
          },
          "description": "Size of the item. Only one value is allowed. For variants with different sizes, insert a separate product for each size with the same `itemGroupId` value (see size definition).",
          "type": "array"
        },
        "mobileLinkTemplate": {
          "type": "string",
          "description": "URL template for merchant hosted local storefront optimized for mobile devices."
        },
        "imageLink": {
          "description": "URL of an image of the item.",
          "type": "string"
        },
        "taxCategory": {
          "type": "string",
          "description": "The tax category of the product, used to configure detailed tax nexus in account-level tax settings."
        },
        "gender": {
          "description": "Target gender of the item.",
          "type": "string"
        },
        "pattern": {
          "type": "string",
          "description": "The item's pattern (for example, polka dots)."
        },
        "price": {
          "description": "Price of the item.",
          "$ref": "Price"
        },
        "linkTemplate": {
          "description": "URL template for merchant hosted local storefront.",
          "type": "string"
        },
        "adsRedirect": {
          "type": "string",
          "description": "Allows advertisers to override the item URL when the product is shown within the context of Product Ads."
        },
        "minEnergyEfficiencyClass": {
          "type": "string",
[...]
