{
  "fullyEncodeReservedExpansion": true,
  "batchPath": "batch",
  "mtlsRootUrl": "https://contactcenterinsights.mtls.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "parameters": {
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    }
  },
  "version": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "revision": "20260612",
  "kind": "discovery#restDescription",
  "baseUrl": "https://contactcenterinsights.googleapis.com/",
  "title": "Contact Center AI Insights API",
  "description": "",
  "protocol": "rest",
  "version_module": true,
  "documentationLink": "https://cloud.google.com/contact-center/insights/docs",
  "schemas": {
    "GoogleCloudContactcenterinsightsV1GenerativeInsightConversationTranscriptMessageUserMessage": {
      "id": "GoogleCloudContactcenterinsightsV1GenerativeInsightConversationTranscriptMessageUserMessage",
      "description": "The user message.",
      "type": "object",
      "properties": {
        "text": {
          "type": "string",
          "description": "A message from the user that is interacting with the system."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1DimensionConversationProfileDimensionMetadata": {
      "type": "object",
      "properties": {
        "conversationProfileId": {
          "type": "string",
          "description": "Optional. The conversation profile ID."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1DimensionConversationProfileDimensionMetadata",
      "description": "Metadata about the conversation profile dimension."
    },
    "GoogleCloudContactcenterinsightsV1ListQaQuestionsResponse": {
      "id": "GoogleCloudContactcenterinsightsV1ListQaQuestionsResponse",
      "description": "The response from a ListQaQuestions request.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "qaQuestions": {
          "description": "The QaQuestions under the parent.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1QaQuestion"
          }
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1SampleRule": {
      "type": "object",
      "properties": {
        "sampleRow": {
          "type": "string",
          "description": "Number of the conversations that we should sample based on the dimension.",
          "format": "int64"
        },
        "dimension": {
          "type": "string",
          "description": "Optional. Group by dimension to sample the conversation. If no dimension is provided, the sampling will be applied to the project level. Current supported dimensions is 'quality_metadata.agent_info.agent_id'."
        },
        "samplePercentage": {
          "type": "number",
          "description": "Percentage of conversations that we should sample based on the dimension between [0, 100].",
          "format": "double"
        },
        "conversationFilter": {
          "description": "To specify the filter for the conversions that should apply this sample rule. An empty filter means this sample rule applies to all conversations.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1SampleRule",
      "description": "Message for sampling conversations."
    },
    "GoogleCloudContactcenterinsightsV1BulkDownloadFeedbackLabelsRequestSheetsDestination": {
      "id": "GoogleCloudContactcenterinsightsV1BulkDownloadFeedbackLabelsRequestSheetsDestination",
      "description": "Google Sheets document details to write the feedback labels to.",
      "type": "object",
      "properties": {
        "sheetTitle": {
          "type": "string",
          "description": "Optional. The title of the new sheet to write the feedback labels to."
        },
        "spreadsheetUri": {
          "description": "Required. The Google Sheets document to write the feedback labels to. Retrieved from Google Sheets URI. E.g. `https://docs.google.com/spreadsheets/d/1234567890` The spreadsheet must be shared with the Insights P4SA. The spreadsheet ID written to will be returned as `file_names` in the BulkDownloadFeedbackLabelsMetadata.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPoint": {
      "id": "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPoint",
      "description": "A data point contains the metric values mapped to an interval.",
      "type": "object",
      "properties": {
        "dialogflowInteractionMeasure": {
          "description": "The measure related to dialogflow interactions.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPointDialogflowInteractionMeasure"
        },
        "interval": {
          "description": "The interval that this data point represents. * If this is the total data point, the interval is [starting create time, ending create time) from the request. * If this a data point from the time series, the interval is [time, time + time granularity from the request).",
          "$ref": "GoogleTypeInterval"
        },
        "conversationMeasure": {
          "description": "The measure related to conversations.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPointConversationMeasure"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1RedirectAction": {
      "id": "GoogleCloudContactcenterinsightsV1RedirectAction",
      "description": "The redirect action to be taken when the chart is clicked.",
      "type": "object",
      "properties": {
        "queryParams": {
          "description": "The query params to be added to the redirect path.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "relativePath": {
          "description": "The relative path to redirect to.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainListAllFeedbackLabelsResponse": {
      "id": "GoogleCloudContactcenterinsightsV1mainListAllFeedbackLabelsResponse",
      "description": "The response for listing all feedback labels.",
      "type": "object",
      "properties": {
        "feedbackLabels": {
          "description": "The feedback labels that match the request.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainFeedbackLabel"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainDialogflowSource": {
      "id": "GoogleCloudContactcenterinsightsV1mainDialogflowSource",
      "description": "A Dialogflow source of conversation data.",
      "type": "object",
      "properties": {
        "dialogflowConversation": {
          "type": "string",
          "description": "Output only. The name of the Dialogflow conversation that this conversation resource is derived from. Format: projects/{project}/locations/{location}/conversations/{conversation}",
          "readOnly": true
        },
        "audioUri": {
          "description": "Cloud Storage URI that points to a file that contains the conversation audio.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1UploadConversationRequest": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1UploadConversationRequest",
      "description": "Request to upload a conversation.",
      "type": "object",
      "properties": {
        "conversation": {
          "description": "Required. The conversation resource to create.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1Conversation"
        },
        "parent": {
          "description": "Required. The parent resource of the conversation.",
          "type": "string"
        },
        "speechConfig": {
          "description": "Optional. Speech-to-Text configuration. Will default to the config specified in Settings.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1SpeechConfig"
        },
        "conversationId": {
          "description": "Optional. A unique ID for the new conversation. This ID will become the final component of the conversation's resource name. If no ID is specified, a server-generated ID will be used. This value should be 4-64 characters and must match the regular expression `^[a-z0-9-]{4,64}$`. Valid characters are `a-z-`",
          "type": "string"
        },
        "redactionConfig": {
          "description": "Optional. DLP settings for transcript redaction. Will default to the config specified in Settings.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1RedactionConfig"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1GenerativeInsightsRequest": {
      "type": "object",
      "properties": {
        "chart": {
          "type": "string",
          "description": "The full name of the chart resource this request corresponds to. Format: projects/{project}/locations/{location}/dashboards/{dashboard}/charts/{chart}"
        },
        "revisionId": {
          "type": "string",
          "description": "Optional. The revision id that maps to the state of the chart state revision. When specified, the backend will reload the chart with the sql and visual spec from that revision."
        },
        "comparisonFilter": {
          "type": "string",
          "description": "Optional. Filter for the data that can be specified in addition to the natural language query. This `filter` is specifically used for charts where comparisons are possible. For example, \"compare to last month\" or \"compare to previous quarter\"."
        },
        "sessionId": {
          "type": "string",
          "description": "Optional. The session id of the conversation. If the session id is not specified, backend will generate a random session id. If the session id is specified, will associate user-provided user_query with the provided session id."
        },
        "naturalLanguageQuery": {
          "type": "string",
          "description": "The natural language query specified by the user. If this field is specified, `sql_query` will be ignored."
        },
        "sqlQuery": {
          "description": "Optional. The SQL query specified by the user. This query must be in BigQuery SQL dialect. The `filter` field will also be ignored, as it is assumed that any filtering is already included in the SQL query.",
          "type": "string"
        },
        "sqlComparisonKey": {
          "type": "string",
          "description": "Optional. For charts with comparison, this key will determine the metric that will be compared between the current and another dataset."
        },
        "filter": {
          "description": "Filter for the data that can be specified in addition to the natural language query. Users are encouraged to use this field to populate time-windows.",
          "type": "string"
        },
        "userProvidedChartSpec": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. The user provided chart spec for the chart. This will be used to override the visual spec generated by the LLM."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1GenerativeInsightsRequest",
      "description": "The request for generative insights."
    },
    "GoogleCloudContactcenterinsightsV1alpha1BulkAnalyzeConversationsRequest": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1BulkAnalyzeConversationsRequest",
      "description": "The request to analyze conversations in bulk.",
      "type": "object",
      "properties": {
        "filter": {
          "description": "Required. Filter used to select the subset of conversations to analyze.",
          "type": "string"
        },
        "annotatorSelector": {
          "description": "To select the annotators to run and the phrase matchers to use (if any). If not specified, all annotators will be run.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1AnnotatorSelector"
        },
        "parent": {
          "description": "Required. The parent resource to create analyses in.",
          "type": "string"
        },
        "analysisPercentage": {
          "type": "number",
          "description": "Required. Percentage of selected conversation to analyze, between [0, 100].",
          "format": "float"
        },
        "relabel": {
          "description": "Optional. If true, the labeling rules will be re-evaluated for the conversations.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1BulkUploadFeedbackLabelsRequestSheetsSource": {
      "type": "object",
      "properties": {
        "spreadsheetUri": {
          "type": "string",
          "description": "Required. The Google Sheets document to write the feedback labels to. Retrieved from Google Sheets URI. E.g. `https://docs.google.com/spreadsheets/d/1234567890` The spreadsheet must be shared with the Insights P4SA."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1BulkUploadFeedbackLabelsRequestSheetsSource",
      "description": "Google Sheets document details to get the feedback label file from."
    },
    "GoogleCloudContactcenterinsightsV1IngestConversationsMetadata": {
      "type": "object",
      "properties": {
        "ingestConversationsStats": {
          "$ref": "GoogleCloudContactcenterinsightsV1IngestConversationsMetadataIngestConversationsStats",
          "description": "Output only. Statistics for IngestConversations operation.",
          "readOnly": true
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1IngestConversationsRequest",
          "description": "Output only. The original request for ingest.",
          "readOnly": true
        },
        "sampledConversations": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. Stores the conversation resources produced by ingest sampling operations.",
          "readOnly": true
        },
        "partialErrors": {
          "description": "Output only. Partial errors during ingest operation that might cause the operation output to be incomplete.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1IngestConversationsMetadata",
      "description": "The metadata for an IngestConversations operation."
    },
    "GoogleCloudContactcenterinsightsV1mainAnnotatorSelectorSummarizationConfig": {
      "id": "GoogleCloudContactcenterinsightsV1mainAnnotatorSelectorSummarizationConfig",
      "description": "Configuration for summarization.",
      "type": "object",
      "properties": {
        "conversationProfile": {
          "description": "Resource name of the Dialogflow conversation profile. Format: projects/{project}/locations/{location}/conversationProfiles/{conversation_profile}",
          "type": "string"
        },
        "summarizationModel": {
          "description": "Default summarization model to be used.",
          "type": "string",
          "enumDeprecated": [
            false,
            true,
            true
          ],
          "enum": [
            "SUMMARIZATION_MODEL_UNSPECIFIED",
            "BASELINE_MODEL",
            "BASELINE_MODEL_V2_0"
          ],
          "enumDescriptions": [
            "Unspecified summarization model.",
            "The CCAI baseline model. This model is deprecated and will be removed in the future. We recommend using `generator` instead.",
            "The CCAI baseline model, V2.0. This model is deprecated and will be removed in the future. We recommend using `generator` instead."
          ]
        },
        "generator": {
          "type": "string",
          "description": "The resource name of the existing created generator. Format: projects//locations//generators/"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1BulkUploadFeedbackLabelsRequestGcsSource": {
      "type": "object",
      "properties": {
        "format": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified format.",
            "CSV format.",
            "JSON format."
          ],
          "description": "Required. File format which will be ingested.",
          "enum": [
            "FORMAT_UNSPECIFIED",
            "CSV",
            "JSON"
          ]
        },
        "objectUri": {
          "description": "Required. The Google Cloud Storage URI of the file to import. Format: `gs://bucket_name/object_name`",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1BulkUploadFeedbackLabelsRequestGcsSource",
      "description": "Google Cloud Storage Object details to get the feedback label file from."
    },
    "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponseSliceDataPointDialogflowInteractionMeasure": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponseSliceDataPointDialogflowInteractionMeasure",
      "description": "The measure related to dialogflow interactions.",
      "type": "object",
      "properties": {
        "percentileEndToEndLatency": {
          "description": "The percentile result for end to end chat latency in milliseconds per dialogflow interaction level.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponseSliceDataPointPercentileResult"
        },
        "percentileTtsLatency": {
          "description": "The percentile result for TTS latency in milliseconds per dialogflow interaction level.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponseSliceDataPointPercentileResult"
        },
        "percentileLlmCallLatency": {
          "description": "The percentile result for LLM latency in milliseconds per dialogflow interaction level.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponseSliceDataPointPercentileResult"
        },
        "percentileAudioInAudioOutLatency": {
          "description": "The percentile result for audio in audio out latency in milliseconds per dialogflow interaction level.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponseSliceDataPointPercentileResult"
        },
        "percentileToolUseLatency": {
          "description": "The percentile result for tool use latency in milliseconds per dialogflow interaction level.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponseSliceDataPointPercentileResult"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1QueryPerformanceOverviewRequest": {
      "type": "object",
      "properties": {
        "filter": {
          "type": "string",
          "description": "Optional. Filter to select a subset of conversations to compute the performance overview. Supports the same filters as the filter field in QueryMetricsRequest. The source and query interval/comparison query interval should not be included here."
        },
        "comparisonQueryInterval": {
          "description": "The time window of the conversations to compare the performance to.",
          "$ref": "GoogleCloudContactcenterinsightsV1QueryInterval"
        },
        "queryInterval": {
          "description": "Required. The time window of the conversations to derive performance stats from.",
          "$ref": "GoogleCloudContactcenterinsightsV1QueryInterval"
        },
        "agentPerformanceSource": {
          "description": "Conversations are from a single agent.",
          "$ref": "GoogleCloudContactcenterinsightsV1QueryPerformanceOverviewRequestAgentSource"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1QueryPerformanceOverviewRequest",
      "description": "The request for summarizing performance according to different metrics for conversations over a specified time window."
    },
    "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsRequestConversationConfig": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsRequestConversationConfig",
      "description": "Configuration that applies to all conversations.",
      "type": "object",
      "properties": {
        "agentId": {
          "type": "string",
          "description": "Optional. An opaque, user-specified string representing a human agent who handled all conversations in the import. Note that this will be overridden if per-conversation metadata is provided through the `metadata_bucket_uri`."
        },
        "customerChannel": {
          "description": "Optional. Indicates which of the channels, 1 or 2, contains the agent. Note that this must be set for conversations to be properly displayed and analyzed.",
          "format": "int32",
          "type": "integer"
        },
        "agentChannel": {
          "type": "integer",
          "description": "Optional. Indicates which of the channels, 1 or 2, contains the agent. Note that this must be set for conversations to be properly displayed and analyzed.",
          "format": "int32"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1DimensionConversationProfileDimensionMetadata": {
      "type": "object",
      "properties": {
        "conversationProfileId": {
          "description": "Optional. The conversation profile ID.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1DimensionConversationProfileDimensionMetadata",
      "description": "Metadata about the conversation profile dimension."
    },
    "GoogleCloudContactcenterinsightsV1mainGenerativeInsightConversationTranscriptMessageSystemMessages": {
      "id": "GoogleCloudContactcenterinsightsV1mainGenerativeInsightConversationTranscriptMessageSystemMessages",
      "description": "A wrapper for system messages per turn.",
      "type": "object",
      "properties": {
        "systemMessages": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainGenerativeInsightConversationTranscriptMessageSystemMessage"
          },
          "type": "array",
          "description": "A message from the system in response to the user."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainExportIssueModelResponse": {
      "id": "GoogleCloudContactcenterinsightsV1mainExportIssueModelResponse",
      "description": "Response from export issue model",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudContactcenterinsightsV1RedactionConfig": {
      "type": "object",
      "properties": {
        "deidentifyTemplate": {
          "description": "The fully-qualified DLP deidentify template resource name. Format: `projects/{project}/deidentifyTemplates/{template}`",
          "type": "string"
        },
        "inspectTemplate": {
          "description": "The fully-qualified DLP inspect template resource name. Format: `projects/{project}/locations/{location}/inspectTemplates/{template}`",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1RedactionConfig",
      "description": "DLP resources used for redaction while ingesting conversations. DLP settings are applied to conversations ingested from the `UploadConversation` and `IngestConversations` endpoints, including conversation coming from CCAI Platform. They are not applied to conversations ingested from the `CreateConversation` endpoint or the Dialogflow / Agent Assist runtime integrations. When using Dialogflow / Agent Assist runtime integrations, redaction should be performed in Dialogflow / Agent Assist."
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationParticipant": {
      "type": "object",
      "properties": {
        "obfuscatedExternalUserId": {
          "description": "Obfuscated user ID from Dialogflow.",
          "type": "string"
        },
        "userId": {
          "description": "A user-specified ID representing the participant.",
          "type": "string"
        },
        "dialogflowParticipantName": {
          "description": "The name of the participant provided by Dialogflow. Format: projects/{project}/locations/{location}/conversations/{conversation}/participants/{participant}",
          "type": "string"
        },
        "dialogflowParticipant": {
          "deprecated": true,
          "description": "Deprecated. Use `dialogflow_participant_name` instead. The name of the Dialogflow participant. Format: projects/{project}/locations/{location}/conversations/{conversation}/participants/{participant}",
          "type": "string"
        },
        "role": {
          "description": "The role of the participant.",
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER",
            "ANY_AGENT"
          ],
          "enumDescriptions": [
            "Participant's role is not set.",
            "Participant is a human agent.",
            "Participant is an automated agent.",
            "Participant is an end user who conversed with the contact center.",
            "Participant is either a human or automated agent."
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationParticipant",
      "description": "The call participant speaking for a given utterance."
    },
    "GoogleCloudContactcenterinsightsV1ExportIssueModelRequest": {
      "id": "GoogleCloudContactcenterinsightsV1ExportIssueModelRequest",
      "description": "Request to export an issue model.",
      "type": "object",
      "properties": {
        "gcsDestination": {
          "description": "Google Cloud Storage URI to export the issue model to.",
          "$ref": "GoogleCloudContactcenterinsightsV1ExportIssueModelRequestGcsDestination"
        },
        "name": {
          "description": "Required. The issue model to export.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1TestCorrelationConfigResponse": {
      "type": "object",
      "properties": {
        "partialErrors": {
          "description": "Partial errors during test correlation config operation that might cause the operation output to be incomplete.",
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "detailedResults": {
          "description": "Results for the DETAILED_SYNC execution mode.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1TestCorrelationConfigResponseDetailedCorrelationResults"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1TestCorrelationConfigResponse",
      "description": "The response of testing correlation config."
    },
    "GoogleCloudContactcenterinsightsV1mainAnnotationBoundary": {
      "id": "GoogleCloudContactcenterinsightsV1mainAnnotationBoundary",
      "description": "A point in a conversation that marks the start or the end of an annotation.",
      "type": "object",
      "properties": {
        "transcriptIndex": {
          "description": "The index in the sequence of transcribed pieces of the conversation where the boundary is located. This index starts at zero.",
          "format": "int32",
          "type": "integer"
        },
        "wordIndex": {
          "type": "integer",
          "description": "The word index of this boundary with respect to the first word in the transcript piece. This index starts at zero.",
          "format": "int32"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1InitializeEncryptionSpecRequest": {
      "type": "object",
      "properties": {
        "encryptionSpec": {
          "description": "Required. The encryption spec used for CMEK encryption. It is required that the kms key is in the same region as the endpoint. The same key will be used for all provisioned resources, if encryption is available. If the `kms_key_name` field is left empty, no encryption will be enforced.",
          "$ref": "GoogleCloudContactcenterinsightsV1EncryptionSpec"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1InitializeEncryptionSpecRequest",
      "description": "The request to initialize a location-level encryption specification."
    },
    "GoogleCloudContactcenterinsightsV1NoteQaQuestionNote": {
      "id": "GoogleCloudContactcenterinsightsV1NoteQaQuestionNote",
      "description": "A note about a QA question.",
      "type": "object",
      "properties": {
        "qaQuestion": {
          "type": "string",
          "description": "The question resource that the note is associated with."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainDialogflowIntent": {
      "type": "object",
      "properties": {
        "displayName": {
          "description": "The human-readable name of the intent.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainDialogflowIntent",
      "description": "The data for a Dialogflow intent. Represents a detected intent in the conversation, e.g. MAKES_PROMISE."
    },
    "GoogleCloudContactcenterinsightsV1GenerativeInsightsResponse": {
      "type": "object",
      "properties": {
        "generativeResponses": {
          "description": "The full list of generative responses. Each response is ordered by time.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1GenerativeInsightsResponseGenerativeResponse"
          }
        },
        "transcript": {
          "description": "The transcript of the generative insights conversation.",
          "$ref": "GoogleCloudContactcenterinsightsV1GenerativeInsightConversationTranscript"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1GenerativeInsightsResponse",
      "description": "The response for generative insights."
    },
    "GoogleCloudContactcenterinsightsV1PhraseMatchRuleGroup": {
      "id": "GoogleCloudContactcenterinsightsV1PhraseMatchRuleGroup",
      "description": "A message representing a rule in the phrase matcher.",
      "type": "object",
      "properties": {
        "type": {
          "description": "Required. The type of this phrase match rule group.",
          "enum": [
            "PHRASE_MATCH_RULE_GROUP_TYPE_UNSPECIFIED",
            "ALL_OF",
            "ANY_OF"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Must meet all phrase match rules or there is no match.",
            "If any of the phrase match rules are met, there is a match."
          ],
          "type": "string"
        },
        "phraseMatchRules": {
          "description": "A list of phrase match rules that are included in this group.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1PhraseMatchRule"
          }
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1PhraseMatchRuleConfig": {
      "type": "object",
      "properties": {
        "regexMatchConfig": {
          "description": "The configuration for the regex match rule.",
          "$ref": "GoogleCloudContactcenterinsightsV1RegexMatchConfig"
        },
        "exactMatchConfig": {
          "description": "The configuration for the exact match rule.",
          "$ref": "GoogleCloudContactcenterinsightsV1ExactMatchConfig"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1PhraseMatchRuleConfig",
      "description": "Configuration information of a phrase match rule."
    },
    "GoogleCloudContactcenterinsightsV1CalculateStatsResponseTimeSeries": {
      "type": "object",
      "properties": {
        "intervalDuration": {
          "description": "The duration of each interval.",
          "format": "google-duration",
          "type": "string"
        },
        "points": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1CalculateStatsResponseTimeSeriesInterval"
          },
          "description": "An ordered list of intervals from earliest to latest, where each interval represents the number of conversations that transpired during the time window."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1CalculateStatsResponseTimeSeries",
      "description": "A time series representing conversations over time."
    },
    "GoogleCloudContactcenterinsightsV1ExportIssueModelRequestGcsDestination": {
      "id": "GoogleCloudContactcenterinsightsV1ExportIssueModelRequestGcsDestination",
      "description": "Google Cloud Storage Object URI to save the issue model to.",
      "type": "object",
      "properties": {
        "objectUri": {
          "type": "string",
          "description": "Required. Format: `gs:///`"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1PhraseMatchData": {
      "type": "object",
      "properties": {
        "displayName": {
          "description": "The human-readable name of the phrase matcher.",
          "type": "string"
        },
        "phraseMatcher": {
          "description": "The unique identifier (the resource name) of the phrase matcher.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1PhraseMatchData",
      "description": "The data for a matched phrase matcher. Represents information identifying a phrase matcher for a given match."
    },
    "GoogleCloudContactcenterinsightsV1IssueModelResult": {
      "type": "object",
      "properties": {
        "issues": {
          "description": "All the matched issues.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1IssueAssignment"
          },
          "type": "array"
        },
        "issueModel": {
          "description": "Issue model that generates the result. Format: projects/{project}/locations/{location}/issueModels/{issue_model}",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1IssueModelResult",
      "description": "Issue Modeling result on a conversation."
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegment": {
      "type": "object",
      "properties": {
        "channelTag": {
          "description": "For conversations derived from multi-channel audio, this is the channel number corresponding to the audio from that channel. For audioChannelCount = N, its output values can range from '1' to 'N'. A channel tag of 0 indicates that the audio is mono.",
          "format": "int32",
          "type": "integer"
        },
        "segmentParticipant": {
          "description": "The participant of this segment.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConversationParticipant"
        },
        "dialogflowSegmentMetadata": {
          "description": "CCAI metadata relating to the current transcript segment.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentDialogflowSegmentMetadata"
        },
        "text": {
          "description": "The text of this segment.",
          "type": "string"
        },
        "turnLevelAudio": {
          "description": "Turn level audio for this transcript segment.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConversationDataSourceTurnLevelAudio"
        },
        "confidence": {
          "type": "number",
          "description": "A confidence estimate between 0.0 and 1.0 of the fidelity of this segment. A default value of 0.0 indicates that the value is unset.",
          "format": "float"
        },
        "messageTime": {
          "type": "string",
          "description": "The time that the message occurred, if provided.",
          "format": "google-datetime"
        },
        "words": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentWordInfo"
          },
          "description": "A list of the word-specific information for each word in the segment."
        },
        "languageCode": {
          "description": "The language code of this segment as a [BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt) language tag. Example: \"en-US\".",
          "type": "string"
        },
        "sentiment": {
          "description": "The sentiment for this transcript segment.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1SentimentData"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegment",
      "description": "A segment of a full transcript."
    },
    "GoogleCloudContactcenterinsightsV1alpha1InitializeEncryptionSpecRequest": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1InitializeEncryptionSpecRequest",
      "description": "The request to initialize a location-level encryption specification.",
      "type": "object",
      "properties": {
        "encryptionSpec": {
          "description": "Required. The encryption spec used for CMEK encryption. It is required that the kms key is in the same region as the endpoint. The same key will be used for all provisioned resources, if encryption is available. If the `kms_key_name` field is left empty, no encryption will be enforced.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1EncryptionSpec"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1Issue": {
      "type": "object",
      "properties": {
        "sampleUtterances": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. Resource names of the sample representative utterances that match to this issue.",
          "readOnly": true
        },
        "name": {
          "description": "Immutable. The resource name of the issue. Format: projects/{project}/locations/{location}/issueModels/{issue_model}/issues/{issue}",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The most recent time that this issue was updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "displayName": {
          "description": "The representative name for the issue.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time at which this issue was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "displayDescription": {
          "description": "Representative description of the issue.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1Issue",
      "description": "The issue resource."
    },
    "GoogleCloudContactcenterinsightsV1alpha1GenerativeInsightsResponse": {
      "type": "object",
      "properties": {
        "generativeResponses": {
          "description": "The full list of generative responses. Each response is ordered by time.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1GenerativeInsightsResponseGenerativeResponse"
          }
        },
        "transcript": {
          "description": "The transcript of the generative insights conversation.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1GenerativeInsightConversationTranscript"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1GenerativeInsightsResponse",
      "description": "The response for generative insights."
    },
    "GoogleCloudContactcenterinsightsV1mainQaScorecardResult": {
      "type": "object",
      "properties": {
        "potentialScore": {
          "type": "number",
          "description": "The maximum potential overall score of the scorecard. Any questions answered using `na_value` are excluded from this calculation.",
          "format": "double"
        },
        "score": {
          "description": "The overall numerical score of the result, incorporating any manual edits if they exist.",
          "format": "double",
          "type": "number"
        },
        "agentId": {
          "type": "string",
          "description": "ID of the agent that handled the conversation."
        },
        "qaScorecardRevision": {
          "type": "string",
          "description": "The QaScorecardRevision scored by this result."
        },
        "normalizedScore": {
          "type": "number",
          "description": "The normalized score, which is the score divided by the potential score. Any manual edits are included if they exist.",
          "format": "double"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the scorecard result. Format: projects/{project}/locations/{location}/qaScorecardResults/{qa_scorecard_result}"
        },
        "qaAnswers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainQaAnswer"
          },
          "description": "Set of QaAnswers represented in the result."
        },
        "scoreSources": {
          "description": "List of all individual score sets.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainQaScorecardResultScoreSource"
          }
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The timestamp that the revision was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "qaTagResults": {
          "description": "Collection of tags and their scores.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainQaScorecardResultQaTagResult"
          },
          "type": "array"
        },
        "conversation": {
          "description": "The conversation scored by this result.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainQaScorecardResult",
      "description": "The results of scoring a single conversation against a QaScorecard. Contains a collection of QaAnswers and aggregate score."
    },
    "GoogleCloudContactcenterinsightsV1ArticleSuggestionData": {
      "id": "GoogleCloudContactcenterinsightsV1ArticleSuggestionData",
      "description": "Agent Assist Article Suggestion data.",
      "type": "object",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Article URI."
        },
        "confidenceScore": {
          "description": "The system's confidence score that this article is a good match for this conversation, ranging from 0.0 (completely uncertain) to 1.0 (completely certain).",
          "format": "float",
          "type": "number"
        },
        "metadata": {
          "description": "Map that contains metadata about the Article Suggestion and the document that it originates from.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "source": {
          "description": "The knowledge document that this answer was extracted from. Format: projects/{project}/knowledgeBases/{knowledge_base}/documents/{document}",
          "type": "string"
        },
        "queryRecord": {
          "description": "The name of the answer record. Format: projects/{project}/locations/{location}/answerRecords/{answer_record}",
          "type": "string"
        },
        "title": {
          "description": "Article title.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1BulkDeleteConversationsRequest": {
      "type": "object",
      "properties": {
        "maxDeleteCount": {
          "type": "integer",
          "description": "Maximum number of conversations to delete.",
          "format": "int32"
        },
        "parent": {
          "type": "string",
          "description": "Required. The parent resource to delete conversations from. Format: projects/{project}/locations/{location}"
        },
        "filter": {
          "description": "Filter used to select the subset of conversations to delete.",
          "type": "string"
        },
        "force": {
          "description": "If set to true, all of this conversation's analyses will also be deleted. Otherwise, the request will only succeed if the conversation has no analyses.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1BulkDeleteConversationsRequest",
      "description": "The request to delete conversations in bulk."
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationDataSourceTurnLevelAudio": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationDataSourceTurnLevelAudio",
      "description": "A wrapper for holding the audio for any given turn.",
      "type": "object",
      "properties": {
        "audioDuration": {
          "type": "string",
          "description": "The duration of the audio.",
          "format": "google-duration"
        },
        "audioGcsUri": {
          "description": "The Cloud Storage URI of the audio for any given turn.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1BulkAnalyzeConversationsResponse": {
      "type": "object",
      "properties": {
        "successfulAnalysisCount": {
          "description": "Count of successful analyses.",
          "format": "int32",
          "type": "integer"
        },
        "failedAnalysisCount": {
          "type": "integer",
          "description": "Count of failed analyses.",
          "format": "int32"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1BulkAnalyzeConversationsResponse",
      "description": "The response for a bulk analyze conversations operation."
    },
    "GoogleCloudContactcenterinsightsV1BulkDownloadFeedbackLabelsRequest": {
      "type": "object",
      "properties": {
        "maxDownloadCount": {
          "description": "Optional. Limits the maximum number of feedback labels that will be downloaded. The first `N` feedback labels will be downloaded.",
          "format": "int32",
          "type": "integer"
        },
        "templateQaScorecardId": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. If set, a template for labeling conversations and scorecard questions will be created from the conversation_filter and the questions under the scorecard(s). The feedback label `filter` will be ignored."
        },
        "conversationFilter": {
          "description": "Optional. Filter parent conversations to download feedback labels for. When specified, the feedback labels will be downloaded for the conversations that match the filter. If `template_qa_scorecard_id` is set, all the conversations that match the filter will be paired with the questions under the scorecard for labeling.",
          "type": "string"
        },
        "filter": {
          "description": "Optional. A filter to reduce results to a specific subset. Supports disjunctions (OR) and conjunctions (AND). Supported fields: * `issue_model_id` * `qa_question_id` * `qa_scorecard_id` * `min_create_time` * `max_create_time` * `min_update_time` * `max_update_time` * `feedback_label_type`: QUALITY_AI, TOPIC_MODELING",
          "type": "string"
        },
        "feedbackLabelType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified format",
            "Downloaded file will contain all Quality AI labels from the latest scorecard revision.",
            "Downloaded file will contain only Topic Modeling labels.",
            "Agent Assist Summarization labels."
          ],
          "description": "Optional. The type of feedback labels that will be downloaded.",
          "enum": [
            "FEEDBACK_LABEL_TYPE_UNSPECIFIED",
            "QUALITY_AI",
            "TOPIC_MODELING",
            "AGENT_ASSIST_SUMMARY"
          ]
        },
        "sheetsDestination": {
          "description": "A sheets document destination.",
          "$ref": "GoogleCloudContactcenterinsightsV1BulkDownloadFeedbackLabelsRequestSheetsDestination"
        },
        "gcsDestination": {
          "description": "A cloud storage bucket destination.",
          "$ref": "GoogleCloudContactcenterinsightsV1BulkDownloadFeedbackLabelsRequestGcsDestination"
        },
        "parent": {
          "description": "Required. The parent resource for new feedback labels.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1BulkDownloadFeedbackLabelsRequest",
      "description": "Request for the BulkDownloadFeedbackLabel endpoint."
    },
    "GoogleCloudContactcenterinsightsV1mainCreateAnalysisOperationMetadata": {
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "annotatorSelector": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainAnnotatorSelector",
          "description": "Output only. The annotator selector used for the analysis (if any).",
          "readOnly": true
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "conversation": {
          "description": "Output only. The Conversation that this Analysis Operation belongs to.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainCreateAnalysisOperationMetadata",
      "description": "Metadata for a create analysis operation."
    },
    "GoogleCloudContactcenterinsightsV1mainDimensionClientSentimentCategoryDimensionMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1mainDimensionClientSentimentCategoryDimensionMetadata",
      "description": "Metadata about the client sentiment category dimension.",
      "type": "object",
      "properties": {
        "sentimentCategory": {
          "type": "string",
          "description": "Optional. The client sentiment category."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPointConversationMeasure": {
      "id": "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPointConversationMeasure",
      "description": "The measure related to conversations.",
      "type": "object",
      "properties": {
        "aaSupervisorDroppedConversationsCount": {
          "description": "The number of conversations that were dropped, i.e. escalated but not assigned to an AA human supervisor.",
          "format": "int32",
          "type": "integer"
        },
        "aiCoachSuggestionAgentMessageTriggerCount": {
          "description": "Count of agent messages that triggered an Ai Coach Suggestion.",
          "format": "int32",
          "type": "integer"
        },
        "averageAgentSentimentScore": {
          "description": "The average agent's sentiment score.",
          "format": "float",
          "type": "number"
        },
        "averageQaNormalizedScore": {
          "description": "The average normalized QA score for a scorecard. When computing the average across a set of conversations, if a conversation has been evaluated with multiple revisions of a scorecard, only the latest revision results will be used. Will exclude 0's in average calculation. Will be only populated if the request specifies a dimension of QA_SCORECARD_ID.",
          "format": "double",
          "type": "number"
        },
        "knowledgeSearchPositiveFeedbackRatio": {
          "type": "number",
          "description": "Proportion of knowledge search (Generative Knowledge Assist) queries that had positive feedback.",
          "format": "double"
        },
        "aiCoachSuggestionAgentUsageCount": {
          "description": "Count of Ai Coach Suggestion that has been used by agents.",
          "format": "int32",
          "type": "integer"
        },
        "averageTurnCount": {
          "type": "number",
          "description": "The average turn count.",
          "format": "float"
        },
        "dialogflowAverageWebhookLatency": {
          "description": "Average latency of dialogflow webhook calls.",
          "format": "double",
          "type": "number"
        },
        "conversationAiCoachSuggestionRatio": {
          "description": "Proportion of conversations that has Ai Coach Suggestions.",
          "format": "double",
          "type": "number"
        },
        "aaSupervisorTransferredToHumanAgentConvCount": {
          "description": "The number of conversations transferred to a human agent.",
          "format": "int32",
          "type": "integer"
        },
        "aiCoachSuggestionCustomerMessageTriggerRatio": {
          "type": "number",
          "description": "Proportion of customer messages that triggered an Ai Coach Suggestion.",
          "format": "double"
        },
        "aiCoachSuggestionMessageTriggerCount": {
          "type": "integer",
          "description": "Count of end_of_utterance trigger event messages that triggered an Ai Coach Suggestion.",
          "format": "int32"
        },
        "dialogflowConversationsEscalationRatio": {
          "type": "number",
          "description": "Proportion of conversations that was handed off from virtual agent to human agent.",
          "format": "double"
        },
        "conversationalAgentsAverageTtsLatency": {
          "type": "number",
          "description": "The macro average latency of conversational agents' TTS latency per interaction. This is computed as the average of the all the interactions' TTS latencies in a conversation and averaged across conversations.",
          "format": "double"
        },
        "conversationalAgentsAverageEndToEndLatency": {
          "description": "The average latency of conversational agents' latency per interaction. This is computed as the average of the all the iteractions' end to end latencies in a conversation and averaged across conversations. The e2e latency is the time between the end of the user utterance and the start of the agent utterance on the interaction level.",
          "format": "double",
          "type": "number"
        },
        "averageClientSentimentScore": {
          "type": "number",
          "description": "The average client's sentiment score.",
          "format": "float"
        },
        "containedConversationRatio": {
          "description": "The percentage of conversations that were contained.",
          "format": "double",
          "type": "number"
        },
        "knowledgeAssistUriClickRatio": {
          "description": "Proportion of knowledge assist (Proactive Generative Knowledge Assist) queries that had a URL clicked.",
          "format": "double",
          "type": "number"
        },
        "averageQaQuestionNormalizedScore": {
          "type": "number",
          "description": "Average QA normalized score averaged for questions averaged across all revisions of the parent scorecard. Will be only populated if the request specifies a dimension of QA_QUESTION_ID.",
          "format": "double"
        },
        "summarizationSuggestionEditRatio": {
          "description": "Proportion of summarization suggestions that were manually edited.",
          "format": "double",
          "type": "number"
        },
        "aiCoachSuggestionCustomerMessageTriggerCount": {
          "description": "Count of customer messages that triggered an Ai Coach Suggestion.",
          "format": "int32",
          "type": "integer"
        },
        "qaTagScores": {
          "description": "Average QA normalized score for all the tags.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPointConversationMeasureQaTagScore"
          }
        },
        "avgConversationClientTurnSentimentEma": {
          "description": "The exponential moving average of the sentiment score of client turns in the conversation.",
          "format": "double",
          "type": "number"
        },
        "conversationTotalCustomerMessageCount": {
          "description": "The customer message count.",
          "format": "int32",
          "type": "integer"
        },
        "dialogflowInteractionsNoInputRatio": {
          "type": "number",
          "description": "Proportion of dialogflow interactions that has empty input.",
          "format": "double"
        },
        "conversationAiCoachSuggestionCount": {
          "type": "integer",
          "description": "Count of conversations that has Ai Coach Suggestions.",
          "format": "int32"
        },
        "averageSummarizationSuggestionNormalizedEditDistance": {
          "type": "number",
          "description": "Normalized Average edit distance of the summarization suggestions. Edit distance (also called as levenshtein distance) is calculated by summing up number of insertions, deletions and substitutions required to transform the summization feedback to the original summary suggestion. Normalized edit distance is the average of (edit distance / summary length).",
          "format": "double"
        },
        "summarizationSuggestionResultCount": {
          "type": "integer",
          "description": "Count of summarization suggestions results.",
          "format": "int32"
        },
        "aiCoachSuggestionAgentUsageRatio": {
          "description": "Proportion of Ai Coach Suggestion that has been used by agents.",
          "format": "double",
          "type": "number"
        },
        "knowledgeAssistNegativeFeedbackRatio": {
          "description": "Proportion of knowledge assist (Proactive Generative Knowledge Assist) queries that had negative feedback.",
          "format": "double",
          "type": "number"
        },
        "averageSummarizationSuggestionEditDistance": {
          "description": "Average edit distance of the summarization suggestions. Edit distance (also called as levenshtein distance) is calculated by summing up number of insertions, deletions and substitutions required to transform the summization feedback to the original summary suggestion.",
          "format": "double",
          "type": "number"
        },
        "dialogflowInteractionsNoMatchRatio": {
          "description": "Proportion of dialogflow interactions that has no intent match for the input.",
          "format": "double",
          "type": "number"
        },
        "aaSupervisorEscalatedConversationsCount": {
          "description": "The number of conversations that were escalated to an AA human supervisor for intervention.",
          "format": "int32",
          "type": "integer"
        },
        "averageSilencePercentage": {
          "description": "The average silence percentage.",
          "format": "float",
          "type": "number"
        },
        "knowledgeAssistResultCount": {
          "description": "Count of knowledge assist results (Proactive Generative Knowledge Assist) shown to the user.",
          "format": "int32",
          "type": "integer"
        },
        "dialogflowWebhookFailureRatio": {
          "description": "Proportion of dialogflow webhook calls that failed.",
          "format": "double",
          "type": "number"
        },
        "knowledgeAssistPositiveFeedbackRatio": {
          "description": "Proportion of knowledge assist (Proactive Generative Knowledge Assist) queries that had positive feedback.",
          "format": "double",
          "type": "number"
        },
        "containedConversationCount": {
          "description": "The number of conversations that were contained.",
          "format": "int32",
          "type": "integer"
        },
        "conversationalAgentsAverageLlmCallLatency": {
          "type": "number",
          "description": "The average latency of conversational agents' LLM call latency per interaction. This is computed as the average of the all the interactions LLM call latencies in a conversation and averaged across conversations.",
          "format": "double"
        },
        "conversationalAgentsAverageAudioInAudioOutLatency": {
          "type": "number",
          "description": "The average latency of conversational agents' audio in audio out latency per interaction. This is computed as the average of the all the interactions' audio in audio out latencies in a conversation and averaged across conversations.",
          "format": "double"
        },
        "conversationCount": {
          "description": "The conversation count.",
          "format": "int32",
          "type": "integer"
        },
        "knowledgeSearchAgentQuerySourceRatio": {
          "type": "number",
          "description": "Proportion of knowledge search (Generative Knowledge Assist) queries made by the agent compared to the total number of knowledge search queries made.",
          "format": "double"
        },
        "knowledgeSearchResultCount": {
          "description": "Count of knowledge search results (Generative Knowledge Assist) shown to the user.",
          "format": "int32",
          "type": "integer"
        },
        "knowledgeSearchSuggestedQuerySourceRatio": {
          "description": "Proportion of knowledge search (Generative Knowledge Assist) queries suggested compared to the total number of knowledge search queries made.",
          "format": "double",
          "type": "number"
        },
        "conversationSuggestedSummaryRatio": {
          "type": "number",
          "description": "Proportion of conversations that had a suggested summary.",
          "format": "double"
        },
        "dialogflowConversationsEscalationCount": {
          "type": "number",
          "description": "count of conversations that was handed off from virtual agent to human agent.",
          "format": "double"
        },
        "conversationTotalAgentMessageCount": {
          "description": "The agent message count.",
          "format": "int32",
          "type": "integer"
        },
        "knowledgeSearchUriClickRatio": {
          "type": "number",
          "description": "Proportion of knowledge search (Generative Knowledge Assist) queries that had a URL clicked.",
          "format": "double"
        },
        "knowledgeSearchNegativeFeedbackRatio": {
          "type": "number",
          "description": "Proportion of knowledge search (Generative Knowledge Assist) queries that had negative feedback.",
          "format": "double"
        },
        "aiCoachSuggestionMessageTriggerRatio": {
          "type": "number",
          "description": "Proportion of end_of_utterance trigger event messages that triggered an Ai Coach Suggestion.",
          "format": "double"
        },
        "dialogflowWebhookTimeoutRatio": {
          "description": "Proportion of dialogflow webhook calls that timed out.",
          "format": "double",
          "type": "number"
        },
        "averageCustomerSatisfactionRating": {
          "description": "The average customer satisfaction rating.",
          "format": "double",
          "type": "number"
        },
        "aaSupervisorMonitoredConversationsCount": {
          "description": "The number of conversations scanned by the AA human supervisor.",
          "format": "int32",
          "type": "integer"
        },
        "aaSupervisorAssignedConversationsCount": {
          "type": "integer",
          "description": "The number of conversations that were assigned to an AA human supervisor.",
          "format": "int32"
        },
        "averageDuration": {
          "type": "string",
          "description": "The average duration.",
          "format": "google-duration"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1UpdateQaQuestionTagMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1UpdateQaQuestionTagMetadata",
      "description": "The metadata for updating a QaQuestionTag Resource.",
      "type": "object",
      "properties": {
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "request": {
          "description": "Output only. The original request.",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1UpdateQaQuestionTagRequest"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainBulkAnalyzeConversationsRequest": {
      "id": "GoogleCloudContactcenterinsightsV1mainBulkAnalyzeConversationsRequest",
      "description": "The request to analyze conversations in bulk.",
      "type": "object",
      "properties": {
        "filter": {
          "type": "string",
          "description": "Required. Filter used to select the subset of conversations to analyze."
        },
        "annotatorSelector": {
          "description": "To select the annotators to run and the phrase matchers to use (if any). If not specified, all annotators will be run.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainAnnotatorSelector"
        },
        "parent": {
          "type": "string",
          "description": "Required. The parent resource to create analyses in."
        },
        "analysisPercentage": {
          "description": "Required. Percentage of selected conversation to analyze, between [0, 100].",
          "format": "float",
          "type": "number"
        },
        "relabel": {
          "description": "Optional. If true, the labeling rules will be re-evaluated for the conversations.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainUploadConversationRequest": {
      "type": "object",
      "properties": {
        "conversationId": {
          "description": "Optional. A unique ID for the new conversation. This ID will become the final component of the conversation's resource name. If no ID is specified, a server-generated ID will be used. This value should be 4-64 characters and must match the regular expression `^[a-z0-9-]{4,64}$`. Valid characters are `a-z-`",
          "type": "string"
        },
        "redactionConfig": {
          "description": "Optional. DLP settings for transcript redaction. Will default to the config specified in Settings.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainRedactionConfig"
        },
        "parent": {
          "type": "string",
          "description": "Required. The parent resource of the conversation."
        },
        "speechConfig": {
          "description": "Optional. Speech-to-Text configuration. Will default to the config specified in Settings.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainSpeechConfig"
        },
        "conversation": {
          "description": "Required. The conversation resource to create.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainConversation"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainUploadConversationRequest",
      "description": "Request to upload a conversation."
    },
    "GoogleCloudContactcenterinsightsV1mainIssueMatchData": {
      "id": "GoogleCloudContactcenterinsightsV1mainIssueMatchData",
      "description": "The data for an issue match annotation.",
      "type": "object",
      "properties": {
        "issueAssignment": {
          "description": "Information about the issue's assignment.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainIssueAssignment"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainAnalysis": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Immutable. The resource name of the analysis. Format: projects/{project}/locations/{location}/conversations/{conversation}/analyses/{analysis}"
        },
        "createTime": {
          "description": "Output only. The time at which the analysis was created, which occurs when the long-running operation completes.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "annotatorSelector": {
          "description": "To select the annotators to run and the phrase matchers to use (if any). If not specified, all annotators will be run.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainAnnotatorSelector"
        },
        "requestTime": {
          "description": "Output only. The time at which the analysis was requested.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "analysisResult": {
          "description": "Output only. The result of the analysis, which is populated when the analysis finishes.",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1mainAnalysisResult"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainAnalysis",
      "description": "The analysis resource."
    },
    "GoogleCloudContactcenterinsightsV1alpha1DimensionConversationalAgentsPlaybookDimensionMetadata": {
      "type": "object",
      "properties": {
        "playbookId": {
          "description": "Optional. The dialogflow playbook ID.",
          "type": "string"
        },
        "playbookDisplayName": {
          "description": "Optional. The dialogflow playbook display name.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1DimensionConversationalAgentsPlaybookDimensionMetadata",
      "description": "Metadata about the Conversational Agents playbook dimension."
    },
    "GoogleCloudContactcenterinsightsV1mainCallAnnotation": {
      "type": "object",
      "properties": {
        "channelTag": {
          "type": "integer",
          "description": "The channel of the audio where the annotation occurs. For single-channel audio, this field is not populated.",
          "format": "int32"
        },
        "holdData": {
          "description": "Data specifying a hold.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainHoldData"
        },
        "phraseMatchData": {
          "description": "Data specifying a phrase match.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainPhraseMatchData"
        },
        "silenceData": {
          "description": "Data specifying silence.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainSilenceData"
        },
        "intentMatchData": {
          "description": "Data specifying an intent match.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainIntentMatchData"
        },
        "annotationStartBoundary": {
          "description": "The boundary in the conversation where the annotation starts, inclusive.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainAnnotationBoundary"
        },
        "annotationEndBoundary": {
          "description": "The boundary in the conversation where the annotation ends, inclusive.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainAnnotationBoundary"
        },
        "sentimentData": {
          "description": "Data specifying sentiment.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainSentimentData"
        },
        "entityMentionData": {
          "description": "Data specifying an entity mention.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainEntityMentionData"
        },
        "issueMatchData": {
          "description": "Data specifying an issue match.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainIssueMatchData"
        },
        "interruptionData": {
          "description": "Data specifying an interruption.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainInterruptionData"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainCallAnnotation",
      "description": "A piece of metadata that applies to a window of a call."
    },
    "GoogleCloudContactcenterinsightsV1IntentMatchData": {
      "type": "object",
      "properties": {
        "intentUniqueId": {
          "description": "The id of the matched intent. Can be used to retrieve the corresponding intent information.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1IntentMatchData",
      "description": "The data for an intent match. Represents an intent match for a text segment in the conversation. A text segment can be part of a sentence, a complete sentence, or an utterance with multiple sentences."
    },
    "GoogleCloudContactcenterinsightsV1alpha1DeleteIssueModelMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1DeleteIssueModelMetadata",
      "description": "Metadata for deleting an issue model.",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "request": {
          "description": "The original request for deletion.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1DeleteIssueModelRequest"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentDialogflowSegmentMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentDialogflowSegmentMetadata",
      "description": "Metadata from Dialogflow relating to the current transcript segment.",
      "type": "object",
      "properties": {
        "smartReplyAllowlistCovered": {
          "type": "boolean",
          "description": "Whether the transcript segment was covered under the configured smart reply allowlist in Agent Assist."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1SampleConversationsRequest": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1SampleConversationsRequest",
      "description": "The request to sample conversations to a dataset.",
      "type": "object",
      "properties": {
        "destinationDataset": {
          "description": "The dataset resource to copy the sampled conversations to.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1Dataset"
        },
        "parent": {
          "description": "Required. The parent resource of the dataset.",
          "type": "string"
        },
        "sampleRule": {
          "description": "Optional. The sample rule used for sampling conversations.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1SampleRule"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1AnnotatorSelectorSummarizationConfig": {
      "id": "GoogleCloudContactcenterinsightsV1AnnotatorSelectorSummarizationConfig",
      "description": "Configuration for summarization.",
      "type": "object",
      "properties": {
        "conversationProfile": {
          "description": "Resource name of the Dialogflow conversation profile. Format: projects/{project}/locations/{location}/conversationProfiles/{conversation_profile}",
          "type": "string"
        },
        "summarizationModel": {
          "type": "string",
          "enumDeprecated": [
            false,
            true,
            true
          ],
          "description": "Default summarization model to be used.",
          "enumDescriptions": [
            "Unspecified summarization model.",
            "The CCAI baseline model. This model is deprecated and will be removed in the future. We recommend using `generator` instead.",
            "The CCAI baseline model, V2.0. This model is deprecated and will be removed in the future. We recommend using `generator` instead."
          ],
          "enum": [
            "SUMMARIZATION_MODEL_UNSPECIFIED",
            "BASELINE_MODEL",
            "BASELINE_MODEL_V2_0"
          ]
        },
        "generator": {
          "type": "string",
          "description": "The resource name of the existing created generator. Format: projects//locations//generators/"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1TestCorrelationConfigResponseDetailedCorrelationResults": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1TestCorrelationConfigResponseDetailedCorrelationResults",
      "description": "Wrapper for detailed, step-by-step results.",
      "type": "object",
      "properties": {
        "joinKeyResults": {
          "description": "A list of join key correlation results for each conversation tested.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConversationCorrelationResult"
          }
        },
        "constraintResults": {
          "description": "A list of constraint evaluation results for each pair of conversations.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConstraintEvaluationResult"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1RedactionConfig": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1RedactionConfig",
      "description": "DLP resources used for redaction while ingesting conversations. DLP settings are applied to conversations ingested from the `UploadConversation` and `IngestConversations` endpoints, including conversation coming from CCAI Platform. They are not applied to conversations ingested from the `CreateConversation` endpoint or the Dialogflow / Agent Assist runtime integrations. When using Dialogflow / Agent Assist runtime integrations, redaction should be performed in Dialogflow / Agent Assist.",
      "type": "object",
      "properties": {
        "deidentifyTemplate": {
          "type": "string",
          "description": "The fully-qualified DLP deidentify template resource name. Format: `projects/{project}/deidentifyTemplates/{template}`"
        },
        "inspectTemplate": {
          "type": "string",
          "description": "The fully-qualified DLP inspect template resource name. Format: `projects/{project}/locations/{location}/inspectTemplates/{template}`"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainAnalysisResult": {
      "type": "object",
      "properties": {
        "endTime": {
          "type": "string",
          "description": "The time at which the analysis ended.",
          "format": "google-datetime"
        },
        "callAnalysisMetadata": {
          "description": "Call-specific metadata created by the analysis.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainAnalysisResultCallAnalysisMetadata"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainAnalysisResult",
      "description": "The result of an analysis."
    },
    "GoogleCloudContactcenterinsightsV1alpha1UndeployIssueModelResponse": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1UndeployIssueModelResponse",
      "description": "The response to undeploy an issue model.",
      "type": "object",
      "properties": {}
    },
    "GoogleIamV1AuditLogConfig": {
      "type": "object",
      "properties": {
        "logType": {
          "type": "string",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "description": "The log type that this config enables.",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ]
        },
        "exemptedMembers": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
        }
      },
      "id": "GoogleIamV1AuditLogConfig",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
    },
    "GoogleCloudContactcenterinsightsV1Analysis": {
      "type": "object",
      "properties": {
        "requestTime": {
          "description": "Output only. The time at which the analysis was requested.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "analysisResult": {
          "description": "Output only. The result of the analysis, which is populated when the analysis finishes.",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1AnalysisResult"
        },
        "createTime": {
          "description": "Output only. The time at which the analysis was created, which occurs when the long-running operation completes.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "annotatorSelector": {
          "description": "To select the annotators to run and the phrase matchers to use (if any). If not specified, all annotators will be run.",
          "$ref": "GoogleCloudContactcenterinsightsV1AnnotatorSelector"
        },
        "name": {
          "type": "string",
          "description": "Immutable. The resource name of the analysis. Format: projects/{project}/locations/{location}/conversations/{conversation}/analyses/{analysis}"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1Analysis",
      "description": "The analysis resource."
    },
    "GoogleCloudContactcenterinsightsV1mainIntentMatchData": {
      "type": "object",
      "properties": {
        "intentUniqueId": {
          "type": "string",
          "description": "The id of the matched intent. Can be used to retrieve the corresponding intent information."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainIntentMatchData",
      "description": "The data for an intent match. Represents an intent match for a text segment in the conversation. A text segment can be part of a sentence, a complete sentence, or an utterance with multiple sentences."
    },
    "GoogleCloudContactcenterinsightsV1alpha1InitializeEncryptionSpecMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1InitializeEncryptionSpecMetadata",
      "description": "Metadata for initializing a location-level encryption specification.",
      "type": "object",
      "properties": {
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "request": {
          "description": "Output only. The original request for initialization.",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1InitializeEncryptionSpecRequest"
        },
        "partialErrors": {
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "Partial errors during initializing operation that might cause the operation output to be incomplete."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainImportIssueModelRequestGcsSource": {
      "type": "object",
      "properties": {
        "objectUri": {
          "type": "string",
          "description": "Required. Format: `gs:///`"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainImportIssueModelRequestGcsSource",
      "description": "Google Cloud Storage Object URI to get the issue model file from."
    },
    "GoogleCloudContactcenterinsightsV1TestCorrelationConfigRequestConversations": {
      "type": "object",
      "properties": {
        "conversations": {
          "description": "Optional. The conversations.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1Conversation"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1TestCorrelationConfigRequestConversations",
      "description": "Wrapper for a list of conversations."
    },
    "GoogleCloudContactcenterinsightsV1alpha1DialogflowSource": {
      "type": "object",
      "properties": {
        "dialogflowConversation": {
          "description": "Output only. The name of the Dialogflow conversation that this conversation resource is derived from. Format: projects/{project}/locations/{location}/conversations/{conversation}",
          "readOnly": true,
          "type": "string"
        },
        "audioUri": {
          "description": "Cloud Storage URI that points to a file that contains the conversation audio.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1DialogflowSource",
      "description": "A Dialogflow source of conversation data."
    },
    "GoogleCloudContactcenterinsightsV1mainConversationDataSource": {
      "type": "object",
      "properties": {
        "gcsSource": {
          "description": "A Cloud Storage location specification for the audio and transcript.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainGcsSource"
        },
        "metadataUri": {
          "type": "string",
          "description": "Cloud Storage URI that points to a file that contains the conversation metadata."
        },
        "turnLevelAudios": {
          "description": "Cloud Storage URIs that points to files that contain the conversation audio for each turn. Assume the order of the URIs is the same as the order of the transcript turns.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainConversationDataSourceTurnLevelAudio"
          }
        },
        "dialogflowSource": {
          "description": "The source when the conversation comes from Dialogflow.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainDialogflowSource"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainConversationDataSource",
      "description": "The conversation source, which is a combination of transcript and audio."
    },
    "GoogleCloudContactcenterinsightsV1alpha1ExportInsightsDataRequest": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1ExportInsightsDataRequest",
      "description": "The request to export insights.",
      "type": "object",
      "properties": {
        "filter": {
          "description": "A filter to reduce results to a specific subset. Useful for exporting conversations with specific properties.",
          "type": "string"
        },
        "exportSchemaVersion": {
          "description": "Optional. Version of the export schema.",
          "enum": [
            "EXPORT_SCHEMA_VERSION_UNSPECIFIED",
            "EXPORT_V1",
            "EXPORT_V2",
            "EXPORT_V3",
            "EXPORT_V4",
            "EXPORT_V5",
            "EXPORT_V6",
            "EXPORT_V7",
            "EXPORT_V8",
            "EXPORT_V9",
            "EXPORT_V10",
            "EXPORT_V11",
            "EXPORT_V12",
            "EXPORT_V13",
            "EXPORT_V14",
            "EXPORT_V15",
            "EXPORT_V16",
            "EXPORT_V17",
            "EXPORT_VERSION_LATEST_AVAILABLE"
          ],
          "enumDescriptions": [
            "Unspecified. Defaults to EXPORT_V3.",
            "Export schema version 1.",
            "Export schema version 2.",
            "Export schema version 3.",
            "Export schema version 4.",
            "Export schema version 5.",
            "Export schema version 6.",
            "Export schema version 7.",
            "Export schema version 8.",
            "Export schema version 9.",
            "Export schema version 10.",
            "Export schema version 11.",
            "Export schema version 12.",
            "Export schema version 13.",
            "Export schema version 14.",
            "Export schema version 15.",
            "Export schema version 16.",
            "Export schema version 17.",
            "Export schema version latest available."
          ],
          "type": "string"
        },
        "writeDisposition": {
          "enumDescriptions": [
            "Write disposition is not specified. Defaults to WRITE_TRUNCATE.",
            "If the table already exists, BigQuery will overwrite the table data and use the schema from the load.",
            "If the table already exists, BigQuery will append data to the table."
          ],
          "description": "Options for what to do if the destination table already exists.",
          "enum": [
            "WRITE_DISPOSITION_UNSPECIFIED",
            "WRITE_TRUNCATE",
            "WRITE_APPEND"
          ],
          "type": "string"
        },
        "kmsKey": {
          "description": "A fully qualified KMS key name for BigQuery tables protected by CMEK. Format: projects/{project}/locations/{location}/keyRings/{keyring}/cryptoKeys/{key}/cryptoKeyVersions/{version}",
          "type": "string"
        },
        "bigQueryDestination": {
          "description": "Specified if sink is a BigQuery table.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1ExportInsightsDataRequestBigQueryDestination"
        },
        "parent": {
          "description": "Required. The parent resource to export data from.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentDialogflowSegmentMetadata": {
      "type": "object",
      "properties": {
        "smartReplyAllowlistCovered": {
          "description": "Whether the transcript segment was covered under the configured smart reply allowlist in Agent Assist.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentDialogflowSegmentMetadata",
      "description": "Metadata from Dialogflow relating to the current transcript segment."
    },
    "GoogleCloudContactcenterinsightsV1mainIssueModelLabelStats": {
      "id": "GoogleCloudContactcenterinsightsV1mainIssueModelLabelStats",
      "description": "Aggregated statistics about an issue model.",
      "type": "object",
      "properties": {
        "issueStats": {
          "description": "Statistics on each issue. Key is the issue's resource name.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainIssueModelLabelStatsIssueStats"
          }
        },
        "analyzedConversationsCount": {
          "type": "string",
          "description": "Number of conversations the issue model has analyzed at this point in time.",
          "format": "int64"
        },
        "unclassifiedConversationsCount": {
          "description": "Number of analyzed conversations for which no issue was applicable at this point in time.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainConversationLevelSentiment": {
      "id": "GoogleCloudContactcenterinsightsV1mainConversationLevelSentiment",
      "description": "One channel of conversation-level sentiment data.",
      "type": "object",
      "properties": {
        "channelTag": {
          "description": "The channel of the audio that the data applies to.",
          "format": "int32",
          "type": "integer"
        },
        "sentimentData": {
          "description": "Data specifying sentiment.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainSentimentData"
        }
      }
    },
    "GoogleLongrunningOperation": {
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        }
      },
      "id": "GoogleLongrunningOperation",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "GoogleCloudContactcenterinsightsV1SignedAudioUris": {
      "id": "GoogleCloudContactcenterinsightsV1SignedAudioUris",
      "description": "Signed audio URIs for a conversation.",
      "type": "object",
      "properties": {
        "signedDialogflowAudioUri": {
          "type": "string",
          "description": "The signed URI for the audio from the Dialogflow conversation source."
        },
        "signedGcsAudioUri": {
          "description": "The signed URI for the audio from the Cloud Storage conversation source.",
          "type": "string"
        },
        "signedTurnLevelAudios": {
          "description": "The signed URI for the audio corresponding to each turn in the conversation.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1ConversationDataSourceTurnLevelAudio"
          }
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1AnswerFeedback": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1AnswerFeedback",
      "description": "The feedback that the customer has about a certain answer in the conversation.",
[...]
