{
  "version_module": true,
  "parameters": {
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "alt": {
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    }
  },
  "ownerName": "Google",
  "description": "",
  "servicePath": "",
  "rootUrl": "https://contactcenteraiplatform.googleapis.com/",
  "discoveryVersion": "v1",
  "revision": "20260625",
  "protocol": "rest",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "contactcenteraiplatform:v1alpha1",
  "title": "Contact Center AI Platform API",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://contactcenteraiplatform.mtls.googleapis.com/",
  "baseUrl": "https://contactcenteraiplatform.googleapis.com/",
  "documentationLink": "https://cloud.google.com/solutions/contact-center-ai-platform",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "get": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Resource name for the location."
                }
              },
              "response": {
                "$ref": "Location"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}",
              "id": "contactcenteraiplatform.projects.locations.get",
              "path": "v1alpha1/{+name}",
              "description": "Gets information about a location."
            },
            "generateShifts": {
              "request": {
                "$ref": "GenerateShiftsRequest"
              },
              "path": "v1alpha1/{+parent}:generateShifts",
              "description": "Generates shifts constrained by various parameters.",
              "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}:generateShifts",
              "id": "contactcenteraiplatform.projects.locations.generateShifts",
              "parameters": {
                "parent": {
                  "description": "Required. Name of the parent resource associated with the request. Format: projects/{project}/locations/{location}",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "response": {
                "$ref": "Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ]
            },
            "list": {
              "path": "v1alpha1/{+name}/locations",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "parameters": {
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "The resource that owns the locations collection, if applicable."
                },
                "extraLocationTypes": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "repeated": true
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of results to return. If not set, the service selects a default."
                }
              },
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1alpha1/projects/{projectsId}/locations",
              "id": "contactcenteraiplatform.projects.locations.list",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET"
            },
            "queryContactCenterQuota": {
              "path": "v1alpha1/{+parent}:queryContactCenterQuota",
              "description": "Queries the contact center quota, an aggregation over all the projects, that belongs to the billing account, which the input project belongs to.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. Parent project resource id."
                }
              },
              "response": {
                "$ref": "ContactCenterQuota"
              },
              "id": "contactcenteraiplatform.projects.locations.queryContactCenterQuota",
              "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}:queryContactCenterQuota",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET"
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "contactcenteraiplatform.projects.locations.operations.get",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "path": "v1alpha1/{+name}",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
                },
                "cancel": {
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "path": "v1alpha1/{+name}:cancel",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "id": "contactcenteraiplatform.projects.locations.operations.cancel",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "path": "v1alpha1/{+name}/operations",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "parameters": {
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The name of the operation's parent resource."
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    }
                  },
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/operations",
                  "id": "contactcenteraiplatform.projects.locations.operations.list"
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be deleted.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "id": "contactcenteraiplatform.projects.locations.operations.delete",
                  "path": "v1alpha1/{+name}",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
                }
              }
            },
            "contactCenters": {
              "methods": {
                "list": {
                  "path": "v1alpha1/{+parent}/contactCenters",
                  "description": "Lists ContactCenters in a given project and location.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageToken": {
                      "description": "A token identifying a page of results the server should return.",
                      "location": "query",
                      "type": "string"
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Hint for how to order the results"
                    },
                    "pageSize": {
                      "description": "Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "filter": {
                      "description": "Filtering results",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. Parent value for ListContactCentersRequest",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "ListContactCentersResponse"
                  },
                  "id": "contactcenteraiplatform.projects.locations.contactCenters.list",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/contactCenters",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET"
                },
                "create": {
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "ContactCenter"
                  },
                  "path": "v1alpha1/{+parent}/contactCenters",
                  "description": "Creates a new ContactCenter in a given project and location.",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/contactCenters",
                  "id": "contactcenteraiplatform.projects.locations.contactCenters.create",
                  "parameters": {
                    "contactCenterId": {
                      "description": "Required. Id of the requesting object If auto-generating Id server-side, remove this field and contact_center_id from the method_signature of Create RPC",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. Value for parent.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "path": "v1alpha1/{+name}",
                  "description": "Deletes a single ContactCenter.",
                  "id": "contactcenteraiplatform.projects.locations.contactCenters.delete",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/contactCenters/{contactCentersId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the resource",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/contactCenters/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "path": "v1alpha1/{+name}",
                  "description": "Gets details of a single ContactCenter.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the resource",
                      "pattern": "^projects/[^/]+/locations/[^/]+/contactCenters/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "ContactCenter"
                  },
                  "id": "contactcenteraiplatform.projects.locations.contactCenters.get",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/contactCenters/{contactCentersId}"
                },
                "patch": {
                  "id": "contactcenteraiplatform.projects.locations.contactCenters.patch",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/contactCenters/{contactCentersId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Required. Field mask is used to specify the fields to be overwritten in the ContactCenter resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten."
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/contactCenters/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "name of resource"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "ContactCenter"
                  },
                  "path": "v1alpha1/{+name}",
                  "description": "Updates the parameters of a single ContactCenter.",
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "CCAI Platform",
  "schemas": {
    "ListContactCentersResponse": {
      "description": "Message for response to listing ContactCenters",
      "id": "ListContactCentersResponse",
      "type": "object",
      "properties": {
        "contactCenters": {
          "type": "array",
          "items": {
            "$ref": "ContactCenter"
          },
          "description": "The list of ContactCenter"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      }
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        }
      }
    },
    "EmployeeInfo": {
      "description": "Information about a particular employee for planning purposes.",
      "id": "EmployeeInfo",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Required. Unique ID of this employee."
        },
        "unwantedEventIntervals": {
          "type": "array",
          "description": "Optional. A list of unwanted event intervals for this employee. The start time of the interval must be in the planning horizon.",
          "items": {
            "$ref": "UnwantedEventInterval"
          }
        }
      }
    },
    "OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "id": "OperationMetadata",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        },
        "verb": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation."
        },
        "contactCenter": {
          "description": "Contact center information for this request",
          "$ref": "ContactCenter"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running."
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        }
      }
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "id": "CancelOperationRequest",
      "type": "object",
      "properties": {}
    },
    "Normal": {
      "description": "Instances in this Channel will receive updates after all instances in `Early` were updated + 2 days.",
      "id": "Normal",
      "type": "object",
      "properties": {}
    },
    "UnwantedEventInterval": {
      "id": "UnwantedEventInterval",
      "type": "object",
      "properties": {
        "startTime": {
          "$ref": "DateTime",
          "description": "Required. Start time of the event."
        },
        "durationMinutes": {
          "format": "int32",
          "type": "integer",
          "description": "Required. Duration of the event."
        }
      },
      "description": "Specifies a time interval during which the overlap with events (generated from event templates) should be minimal."
    },
    "ShiftTemplate": {
      "description": "Template specifying rules for generating shifts. A shift is a unit of work that specifies a start time, end time, and may contain events (e.g. lunch, breaks etc.). Shifts will be assigned to specific dates in the response.",
      "id": "ShiftTemplate",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Required. Unique ID of this template."
        },
        "eventTemplates": {
          "type": "array",
          "items": {
            "$ref": "EventTemplate"
          },
          "description": "Optional. Rules for generating events for each shift. Exactly one event will be included in each shift for each `EventTemplate` specified."
        },
        "latestStartTime": {
          "$ref": "TimeOfDay",
          "description": "Required. Latest time in the day that a shift can start. This value is specified with hours and minutes; seconds and nanos are ignored. If this value is less than the `earliest_start_time`, it may imply an overnight shift."
        },
        "maximumEmployeeCount": {
          "description": "Required. Maximum number of employees that can be assigned to all shifts generated by this template on working days.",
          "format": "int32",
          "type": "integer"
        },
        "daysOffDates": {
          "description": "Optional. Fixed dates when shifts from this template should not be generated.",
          "$ref": "DateList"
        },
        "startTimeIncrementMinutes": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The time increment (in minutes) used to generate the set of possible start times between `earliest_start_time` and `latest_start_time`. For example, if the earliest start time is 8:00, the latest start time is 8:30, and the start time increment is 10 minutes, then all possible start times for this shift template are: 8:00, 8:10, 8:20, and 8:30."
        },
        "minimumEmployeeCount": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Minimum number of employees that can be assigned to all shifts generated by this template on working days."
        },
        "daysOffCountPerWeek": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Fixed number of days off per week. An employee has a given day off if they are not assigned to a shift that starts on that day. A week is 7 days and begins on Sunday."
        },
        "minimumIntereventGapMinutes": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Minimum minutes between the end of one event and the start of the next."
        },
        "earliestStartTime": {
          "description": "Required. Earliest time in the day that a shift can start. This value is specified with hours and minutes; seconds and nanos are ignored.",
          "$ref": "TimeOfDay"
        },
        "durationMinutes": {
          "description": "Required. Fixed duration of a shift generated by this template.",
          "format": "int32",
          "type": "integer"
        },
        "assignableEmployeeIds": {
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of specific employee IDs that can be assigned to shifts generated by this template. If this field is present, there will be `EmployeeSchedule`s in the response for which the `EmployeeSchedule.employee_id` field is set to one of the IDs in this list. The number of employee schedules with an assigned employee ID will be between `minimum_employee_count` and `maximum_employee_count`. If this field is empty, between `minimum_employee_count` and `maximum_employee_count` employees can be assigned to shifts generated by this template and the employee schedules won't have an assigned employee ID. Currently, only one assignable employee ID is supported.",
          "type": "array"
        }
      }
    },
    "Early": {
      "description": "LINT.IfChange First Channel to receive the updates. Meant to dev/test instances",
      "id": "Early",
      "type": "object",
      "properties": {}
    },
    "GenerateShiftsRequest": {
      "id": "GenerateShiftsRequest",
      "type": "object",
      "properties": {
        "solverConfig": {
          "$ref": "SolverConfig",
          "description": "Required. Parameters for the solver."
        },
        "planningHorizon": {
          "$ref": "PlanningHorizon",
          "description": "Required. The solver will generate the maximum number of shifts per shift template."
        },
        "employeeInfo": {
          "type": "array",
          "items": {
            "$ref": "EmployeeInfo"
          },
          "description": "Optional. Employee information that should be considered when generating shifts."
        },
        "shiftTemplates": {
          "type": "array",
          "items": {
            "$ref": "ShiftTemplate"
          },
          "description": "Required. Set of shift templates specifying rules for generating shifts. A shift template can be used for generating multiple shifts."
        },
        "workforceDemands": {
          "description": "Required. All the workforce demands that the generated shifts need to cover. The planning horizon is defined between the earliest start time and the latest end time across all the entries. This field cannot be empty.",
          "$ref": "WorkforceDemandList"
        }
      },
      "description": "Request with constraints for generating shifts. The shifts generated must adhere to these constraints."
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "DateTime": {
      "id": "DateTime",
      "type": "object",
      "properties": {
        "timeZone": {
          "$ref": "TimeZone",
          "description": "Time zone."
        },
        "minutes": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Minutes of hour of day. Must be from 0 to 59, defaults to 0."
        },
        "seconds": {
          "description": "Optional. Seconds of minutes of the time. Must normally be from 0 to 59, defaults to 0. An API may allow the value 60 if it allows leap-seconds.",
          "type": "integer",
          "format": "int32"
        },
        "year": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Year of date. Must be from 1 to 9999, or 0 if specifying a datetime without a year."
        },
        "month": {
          "description": "Optional. Month of year. Must be from 1 to 12, or 0 if specifying a datetime without a month.",
          "type": "integer",
          "format": "int32"
        },
        "day": {
          "description": "Optional. Day of month. Must be from 1 to 31 and valid for the year and month, or 0 if specifying a datetime without a day.",
          "type": "integer",
          "format": "int32"
        },
        "hours": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Hours of day in 24 hour format. Should be from 0 to 23, defaults to 0 (midnight). An API may choose to allow the value \"24:00:00\" for scenarios like business closing time."
        },
        "utcOffset": {
          "format": "google-duration",
          "type": "string",
          "description": "UTC offset. Must be whole seconds, between -18 hours and +18 hours. For example, a UTC offset of -4:00 would be represented as { seconds: -14400 }."
        },
        "nanos": {
          "description": "Optional. Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999, defaults to 0.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Represents civil time (or occasionally physical time). This type can represent a civil time in one of a few possible ways: * When utc_offset is set and time_zone is unset: a civil time on a calendar day with a particular offset from UTC. * When time_zone is set and utc_offset is unset: a civil time on a calendar day in a particular time zone. * When neither time_zone nor utc_offset is set: a civil time on a calendar day in local time. The date is relative to the Proleptic Gregorian Calendar. If year, month, or day are 0, the DateTime is considered not to have a specific year, month, or day respectively. This type may also be used to represent a physical time if all the date and time fields are set and either case of the `time_offset` oneof is set. Consider using `Timestamp` message for physical time instead. If your use case also would like to store the user's timezone, that can be done in another field. This type is more flexible than some applications may want. Make sure to document and validate your application's limitations."
    },
    "SAMLParams": {
      "id": "SAMLParams",
      "type": "object",
      "properties": {
        "authenticationContexts": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "The Unspecified class indicates that the authentication was performed by unspecified means.",
              "The Internet Protocol class is applicable when a principal is authenticated through the use of a provided IP address.",
              "The Internet Protocol Password class is applicable when a principal is authenticated through the use of a provided IP address, in addition to a username/password.",
              "This class is applicable when the principal has authenticated using a password to a local authentication authority, in order to acquire a Kerberos ticket. That Kerberos ticket is then used for subsequent network authentication.",
              "Reflects no mobile customer registration procedures and an authentication of the mobile device without requiring explicit end-user interaction. This context class authenticates only the device and never the user; it is useful when services other than the mobile operator want to add a secure device authentication to their authentication process.",
              "Reflects no mobile customer registration procedures and a two-factor based authentication, such as secure device and user PIN. This context class is useful when a service other than the mobile operator wants to link their customer ID to a mobile supplied two-factor authentication service by capturing mobile phone data at enrollment.",
              "Reflects mobile contract customer registration procedures and a single factor authentication. For example, a digital signing device with tamper resistant memory for key storage, such as the mobile MSISDN, but no required PIN or biometric for real-time user authentication.",
              "Reflects mobile contract customer registration procedures and a two-factor based authentication. For example, a digital signing device with tamper resistant memory for key storage, such as a GSM SIM, that requires explicit proof of user identity and intent, such as a PIN or biometric.",
              "The Password class is applicable when a principal authenticates to an authentication authority through the presentation of a password over an unprotected HTTP session.",
              "The PasswordProtectedTransport class is applicable when a principal authenticates to an authentication authority through the presentation of a password over a protected session.",
              "The PreviousSession class is applicable when a principal had authenticated to an authentication authority at some point in the past using any authentication context supported by that authentication authority",
              "The X509 context class indicates that the principal authenticated by means of a digital signature where the key was validated as part of an X.509 Public Key Infrastructure.",
              "The PGP context class indicates that the principal authenticated by means of a digital signature where the key was validated as part of a PGP Public Key Infrastructure.",
              "The SPKI context class indicates that the principal authenticated by means of a digital signature where the key was validated via an SPKI Infrastructure.",
              "This context class indicates that the principal authenticated by means of a digital signature according to the processing rules specified in the XML Digital Signature specification [XMLSig].",
              "The Smartcard class is identified when a principal authenticates to an authentication authority using a smartcard.",
              "The SmartcardPKI class is applicable when a principal authenticates to an authentication authority through a two-factor authentication mechanism using a smartcard with enclosed private key and a PIN.",
              "The Software-PKI class is applicable when a principal uses an X.509 certificate stored in software to authenticate to the authentication authority.",
              "This class is used to indicate that the principal authenticated via the provision of a fixed-line telephone number, transported via a telephony protocol such as ADSL.",
              "Indicates that the principal is \"roaming\" (perhaps using a phone card) and authenticates via the means of the line number, a user suffix, and a password element.",
              "This class is used to indicate that the principal authenticated via the provision of a fixed-line telephone number and a user suffix, transported via a telephony protocol such as ADSL.",
              "Indicates that the principal authenticated via the means of the line number, a user suffix, and a password element.",
              "The Secure Remote Password class is applicable when the authentication was performed by means of Secure Remote Password as specified in [RFC 2945].",
              "This class indicates that the principal authenticated by means of a client certificate, secured with the SSL/TLS transport.",
              "The TimeSyncToken class is applicable when a principal authenticates through a time synchronization token."
            ],
            "enum": [
              "AUTHENTICATION_CONTEXT_UNSPECIFIED",
              "INTERNET_PROTOCOL",
              "INTERNET_PROTOCOL_PASSWORD",
              "KERBEROS",
              "MOBILE_ONE_FACTOR_UNREGISTERED",
              "MOBILE_TWO_FACTOR_UNREGISTERED",
              "MOBILE_ONE_FACTOR_CONTRACT",
              "MOBILE_TWO_FACTOR_CONTRACT",
              "PASSWORD",
              "PASSWORD_PROTECTED_TRANSPORT",
              "PREVIOUS_SESSION",
              "PUBLIC_KEY_X509",
              "PUBLIC_KEY_PGP",
              "PUBLIC_KEY_SPKI",
              "PUBLIC_KEY_XML_DIGITAL_SIGNATURE",
              "SMARTCARD",
              "SMARTCARD_PKI",
              "SOFTWARE_PKI",
              "TELEPHONY",
              "TELEPHONY_NOMADIC",
              "TELEPHONY_PERSONALIZED",
              "TELEPHONY_AUTHENTICATED",
              "SECURE_REMOTE_PASSWORD",
              "SSL_TLS_CERTIFICATE_BASED",
              "TIME_SYNC_TOKEN"
            ]
          },
          "description": "Additional contexts used for authentication.",
          "type": "array"
        },
        "entityId": {
          "type": "string",
          "description": "Entity id URL"
        },
        "emailMapping": {
          "description": "IdP field that maps to the user’s email address",
          "type": "string"
        },
        "ssoUri": {
          "description": "Single sign-on URL",
          "type": "string"
        },
        "certificate": {
          "description": "SAML certificate",
          "type": "string"
        },
        "userEmail": {
          "description": "Email address of the first admin users.",
          "deprecated": true,
          "type": "string"
        }
      },
      "description": "Message storing SAML params to enable Google as IDP."
    },
    "PrivateAccess": {
      "description": "Defines ingress and egress private traffic settings for CCAIP instances.",
      "id": "PrivateAccess",
      "type": "object",
      "properties": {
        "pscSetting": {
          "description": "Private service connect settings.",
          "$ref": "PscSetting"
        },
        "ingressSettings": {
          "type": "array",
          "items": {
            "$ref": "Component"
          },
          "description": "List of ingress components that should not be accessed via the Internet. For more information see go/ccaip-private-path-v2."
        },
        "egressSettings": {
          "type": "array",
          "description": "List of egress components that should not be accessed via the Internet. For more information see go/ccaip-private-path-v2.",
          "items": {
            "$ref": "Component"
          }
        }
      }
    },
    "FeatureConfig": {
      "id": "FeatureConfig",
      "type": "object",
      "properties": {
        "agentDesktopEnabled": {
          "type": "boolean",
          "description": "Optional. If true - enables the agent desktop feature. Default is false."
        }
      }
    },
    "ContactCenter": {
      "description": "Message describing ContactCenter object",
      "id": "ContactCenter",
      "type": "object",
      "properties": {
        "adminUser": {
          "$ref": "AdminUser",
          "description": "Optional. Info about the first admin user, such as given name and family name."
        },
        "privateAccess": {
          "$ref": "PrivateAccess",
          "description": "Optional. VPC-SC related networking configuration."
        },
        "advancedReportingEnabled": {
          "type": "boolean",
          "description": "Optional. Whether the advanced reporting feature is enabled."
        },
        "deleteTime": {
          "description": "Output only. Timestamp in UTC of when this resource was soft-deleted.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "uris": {
          "description": "Output only. URIs to access the deployed ContactCenters.",
          "$ref": "URIs",
          "readOnly": true
        },
        "instanceConfig": {
          "$ref": "InstanceConfig",
          "description": "The configuration of this instance, it is currently immutable once created."
        },
        "privateComponents": {
          "items": {
            "type": "string"
          },
          "description": "Output only. TODO(b/283407860) Deprecate this field.",
          "readOnly": true,
          "type": "array"
        },
        "samlParams": {
          "$ref": "SAMLParams",
          "description": "Optional. Params that sets up Google as IdP."
        },
        "name": {
          "description": "name of resource",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. [Output only] Create time stamp"
        },
        "kmsKey": {
          "type": "string",
          "description": "Immutable. The KMS key name to encrypt the user input (`ContactCenter`)."
        },
        "customerDomainPrefix": {
          "description": "Required. Immutable. At least 2 and max 16 char long, must conform to [RFC 1035](https://www.ietf.org/rfc/rfc1035.txt).",
          "type": "string"
        },
        "early": {
          "description": "Optional. Early release channel.",
          "$ref": "Early"
        },
        "expireTime": {
          "description": "Output only. Timestamp in UTC of when this resource is considered expired.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "State DEPLOYING",
            "State DEPLOYED",
            "State TERMINATING",
            "State FAILED",
            "State TERMINATING_FAILED",
            "Reused for soft-deleted state because semantically equivalent to `DELETED` as implied by go/aip/164.",
            "State IN_GRACE_PERIOD",
            "State in STATE_FAILING_OVER. This State must ONLY be used by Multiregional Instances when a failover was triggered. Customers are not able to update instances in this state.",
            "State DEGRADED. This State must ONLY be used by Multiregional Instances after a failover was executed successfully. Customers are not able to update instances in this state.",
            "State REPAIRING. This State must ONLY be used by Multiregional Instances after a fallback was triggered. Customers are not able to update instancs in this state.",
            "Flagged by an automation as soon to be expired."
          ],
          "type": "string",
          "description": "Output only. The state of this contact center.",
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_DEPLOYING",
            "STATE_DEPLOYED",
            "STATE_TERMINATING",
            "STATE_FAILED",
            "STATE_TERMINATING_FAILED",
            "STATE_TERMINATED",
            "STATE_IN_GRACE_PERIOD",
            "STATE_FAILING_OVER",
            "STATE_DEGRADED",
            "STATE_REPAIRING",
            "STATE_EXPIRING"
          ],
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. [Output only] Update time stamp",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "purgeTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp in UTC of when this resource is going to be hard-deleted."
        },
        "userEmail": {
          "description": "Optional. Email address of the first admin user.",
          "type": "string"
        },
        "releaseVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. UJET release version, unique for each new release."
        },
        "featureConfig": {
          "$ref": "FeatureConfig",
          "description": "Optional. Feature configuration to populate the feature flags."
        },
        "ccaipManagedUsers": {
          "description": "Optional. Whether to enable users to be created in the CCAIP-instance concurrently to having users in Cloud identity",
          "type": "boolean"
        },
        "critical": {
          "$ref": "Critical",
          "description": "Optional. Critical release channel."
        },
        "displayName": {
          "description": "Required. A user friendly name for the ContactCenter.",
          "type": "string"
        },
        "normal": {
          "description": "Optional. Normal release channel.",
          "$ref": "Normal"
        },
        "labels": {
          "type": "object",
          "description": "Labels as key value pairs",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "type": "object",
      "properties": {
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      }
    },
    "GoogleCloudCommonOperationMetadata": {
      "id": "GoogleCloudCommonOperationMetadata",
      "type": "object",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation finished running."
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "verb": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation."
        },
        "cancelRequested": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
        },
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API version used to start the operation."
        },
        "statusDetail": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Represents the metadata of the long-running operation."
    },
    "WeeklySchedule": {
      "description": "Message representing a weekly schedule.",
      "id": "WeeklySchedule",
      "type": "object",
      "properties": {
        "days": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "The day of the week is unspecified.",
              "Monday",
              "Tuesday",
              "Wednesday",
              "Thursday",
              "Friday",
              "Saturday",
              "Sunday"
            ],
            "enum": [
              "DAY_OF_WEEK_UNSPECIFIED",
              "MONDAY",
              "TUESDAY",
              "WEDNESDAY",
              "THURSDAY",
              "FRIDAY",
              "SATURDAY",
              "SUNDAY"
            ]
          },
          "description": "Required. Days of the week this schedule applies to."
        },
        "endTime": {
          "$ref": "TimeOfDay",
          "description": "Optional. Daily end time of the schedule. If `end_time` is before `start_time`, the schedule will be considered as ending on the next day."
        },
        "duration": {
          "description": "Optional. Duration of the schedule.",
          "type": "string",
          "format": "google-duration"
        },
        "startTime": {
          "description": "Required. Daily start time of the schedule.",
          "$ref": "TimeOfDay"
        }
      }
    },
    "TimeOfDay": {
      "id": "TimeOfDay",
      "type": "object",
      "properties": {
        "minutes": {
          "format": "int32",
          "type": "integer",
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59."
        },
        "seconds": {
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "type": "integer",
          "format": "int32"
        },
        "nanos": {
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
          "type": "integer",
          "format": "int32"
        },
        "hours": {
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`."
    },
    "Date": {
      "id": "Date",
      "type": "object",
      "properties": {
        "year": {
          "format": "int32",
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32",
          "type": "integer"
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
    },
    "EventTemplate": {
      "id": "EventTemplate",
      "type": "object",
      "properties": {
        "maximumMinutesAfterShiftStart": {
          "description": "Optional. Maximum number of minutes after the beginning of a shift that this event can start.",
          "type": "integer",
          "format": "int32"
        },
        "minimumMinutesAfterShiftStart": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Minimum number of minutes after the beginning of a shift that this event can start."
        },
        "id": {
          "description": "Required. Unique ID of this template.",
          "type": "string"
        },
        "startTimeIncrementMinutes": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The time increment (in minutes) used to generate the set of possible event start times between `minimum_minutes_after_shift_start` and `maximum_minutes_after_shift_start`. For example, if the minimum minutes after shift start are 30, maximum minutes after shift start are 45, and the start time increment is 5 minutes, the event can take place 30, 35, 40, or 45 minutes after the start of the shift."
        },
        "durationMinutes": {
          "type": "integer",
          "format": "int32",
          "description": "Required. Fixed duration in minutes of this event."
        }
      },
      "description": "Template specifying rules for generating a single event that occurs during a shift. An event may represent a meeting, break, lunch, etc."
    },
    "TimeZone": {
      "id": "TimeZone",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\"."
        },
        "version": {
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
          "type": "string"
        }
      },
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones)."
    },
    "WorkforceDemand": {
      "id": "WorkforceDemand",
      "type": "object",
      "properties": {
        "endTime": {
          "description": "Required. End of the time interval for the given demand (exclusive). These values are read down to the minute; seconds and all smaller units are ignored.",
          "$ref": "DateTime"
        },
        "employeeCount": {
          "description": "Optional. Number of employees needed to cover the demand for this interval.",
          "type": "integer",
          "format": "int32"
        },
        "startTime": {
          "description": "Required. Start of the time interval for the given demand (inclusive). These values are read down to the minute; seconds and all smaller units are ignored.",
          "$ref": "DateTime"
        }
      },
      "description": "Specifies the number of employees required to cover the demand in the given time interval. The length of the interval must be strictly positive."
    },
    "Critical": {
      "description": "Instances in this Channel will receive updates after all instances in `Normal` were updated. They also will only be updated outside of their peak hours.",
      "id": "Critical",
      "type": "object",
      "properties": {
        "peakHours": {
          "type": "array",
          "description": "Required. Hours during which the instance should not be updated.",
          "items": {
            "$ref": "WeeklySchedule"
          }
        }
      }
    },
    "DateList": {
      "id": "DateList",
      "type": "object",
      "properties": {
        "values": {
          "description": "Optional. Values in the list.",
          "items": {
            "$ref": "Date"
          },
          "type": "array"
        }
      },
      "description": "List of dates."
    },
    "PlanningHorizon": {
      "id": "PlanningHorizon",
      "type": "object",
      "properties": {
        "startTime": {
          "$ref": "DateTime",
          "description": "Required. Start of the time interval for the given demand (inclusive). These values are read down to the minute; seconds and all smaller units are ignored."
        },
        "endTime": {
          "description": "Required. End of the time interval for the given demand (exclusive). These values are read down to the minute; seconds and all smaller units are ignored.",
          "$ref": "DateTime"
        }
      },
      "description": "Specifies the time interval during which the solver should generate shifts. The start time must be before the end time."
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "type": "object",
      "properties": {
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "The response message for Operations.ListOperations."
    },
    "Component": {
      "id": "Component",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the component.",
          "type": "string"
        },
        "serviceAttachmentNames": {
          "type": "array",
          "description": "Associated service attachments. The service attachment names that will be used for sending private traffic to the CCAIP tenant project. Example service attachment name: \"projects/${TENANT_PROJECT_ID}/regions/${REGION}/serviceAttachments/ingress-default\".",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Defines a logical CCAIP component that e.g. “EMAIL”, \"CRM\". For more information see go/ccaip-private-path-v2. Each logical component is associated with a list of service attachments."
    },
    "Status": {
      "id": "Status",
      "type": "object",
      "properties": {
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "ContactCenterQuota": {
      "id": "ContactCenterQuota",
      "type": "object",
      "properties": {
        "contactCenterCountSum": {
          "description": "Deprecated: Use the Quota fields instead. Reflects the count sum of contact centers on a billing account.",
          "format": "int32",
          "deprecated": true,
          "type": "integer"
        },
        "quotas": {
          "items": {
            "$ref": "Quota"
          },
          "description": "Quota details per contact center instance type.",
          "type": "array"
        },
        "contactCenterCountLimit": {
          "description": "Deprecated: Use the Quota fields instead. Reflects the count limit of contact centers on a billing account.",
          "format": "int32",
          "deprecated": true,
          "type": "integer"
        }
      },
      "description": "Represents a quota for contact centers."
    },
    "InstanceConfig": {
      "description": "Message storing the instance configuration.",
      "id": "InstanceConfig",
      "type": "object",
      "properties": {
        "instanceSize": {
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "Instance Size STANDARD_SMALL.",
            "Instance Size STANDARD_MEDIUM.",
            "Instance Size STANDARD_LARGE.",
            "Instance Size STANDARD_XLARGE.",
            "Instance Size STANDARD_2XLARGE.",
            "Instance Size STANDARD_3XLARGE.",
            "Instance Size MULTIREGION_SMALL",
            "Instance Size MULTIREGION_MEDIUM",
            "Instance Size MULTIREGION_LARGE",
            "Instance Size MULTIREGION_XLARGE",
            "Instance Size MULTIREGION_2XLARGE.",
            "Instance Size MULTIREGION_3XLARGE.",
            "Instance Size DEV_SMALL",
            "Instance Size SANDBOX_SMALL",
            "Instance Size TRIAL_SMALL",
            "Instance Size TIME_LIMITED_TRIAL_SMALL"
          ],
          "enum": [
            "INSTANCE_SIZE_UNSPECIFIED",
            "STANDARD_SMALL",
            "STANDARD_MEDIUM",
            "STANDARD_LARGE",
            "STANDARD_XLARGE",
            "STANDARD_2XLARGE",
            "STANDARD_3XLARGE",
            "MULTIREGION_SMALL",
            "MULTIREGION_MEDIUM",
            "MULTIREGION_LARGE",
            "MULTIREGION_XLARGE",
            "MULTIREGION_2XLARGE",
            "MULTIREGION_3XLARGE",
            "DEV_SMALL",
            "SANDBOX_SMALL",
            "TRIAL_SMALL",
            "TIME_LIMITED_TRIAL_SMALL"
          ],
          "type": "string",
          "description": "The instance size of this the instance configuration."
        }
      }
    },
    "AdminUser": {
      "description": "Message storing info about the first admin user. Next ID: 3",
      "id": "AdminUser",
      "type": "object",
      "properties": {
        "givenName": {
          "description": "Optional. First/given name of the first admin user.",
          "type": "string"
        },
        "familyName": {
          "description": "Optional. Last/family name of the first admin user.",
          "type": "string"
        }
      }
    },
    "PscSetting": {
      "description": "Private service connect settings.",
      "id": "PscSetting",
      "type": "object",
      "properties": {
        "allowedConsumerProjectIds": {
          "type": "array",
          "description": "The list of project ids that are allowed to send traffic to the service attachment. This field should be filled only for the ingress components.",
          "items": {
            "type": "string"
          }
        },
        "producerProjectIds": {
          "items": {
            "type": "string"
          },
          "description": "Output only. The CCAIP tenant project ids.",
          "readOnly": true,
          "type": "array"
        }
      }
    },
    "WorkforceDemandList": {
      "description": "List of workforce demands.",
      "id": "WorkforceDemandList",
      "type": "object",
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "$ref": "WorkforceDemand"
          },
          "description": "Optional. Values in the list."
        }
      }
    },
    "SolverConfig": {
      "description": "Specifies additional parameters for the solver generating shifts.",
      "id": "SolverConfig",
      "type": "object",
      "properties": {
        "maximumProcessingDuration": {
          "format": "google-duration",
          "type": "string",
          "description": "Optional. Maximum time the solver should spend on the problem. If not set, defaults to 1 minute. The choice of a time limit should depend on the size of the problem. To give an example, when solving a 7-day instance with 2 `ShiftTemplates`, each with ~20 possible start times and holding 2 events with ~30 possible start times, and two days off per week, recommended values are: <10s for fast solutions (and likely suboptimal), (10s, 300s) for good quality solutions, and >300s for an exhaustive search. Larger instances may require longer time limits. This value is not a hard limit and it does not account for the communication overhead. The expected latency to solve the problem may slightly exceed this value."
        },
        "scheduleType": {
          "description": "Required. Specifies the type of schedule to generate.",
          "enumDescriptions": [
            "Unspecified schedule type. Should not be used.",
            "Each `EmployeeSchedule` will include exactly one shift.",
            "`EmployeeSchedule`s will include several shifts to generate a week-long schedule. The start and end time of events in a particular `EmployeeSchedule` will be identical. All the shifts have the same start and end time.",
            "`EmployeeSchedule`s will include several shifts to generate a week-long schedule. The start and end time of events in a particular `EmployeeSchedule` can vary. All the shifts have the same start and end time. This option may result in longer solve times."
          ],
          "enum": [
            "SCHEDULE_TYPE_UNSPECIFIED",
            "SINGLE_SHIFT",
            "WEEKLY_WITH_FIXED_EVENTS",
            "WEEKLY_WITH_VARIABLE_EVENTS"
          ],
          "type": "string"
        }
      }
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location",
      "type": "object",
      "properties": {
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        }
      }
    },
    "URIs": {
      "id": "URIs",
      "type": "object",
      "properties": {
        "rootUri": {
          "description": "Root Uri of the ContactCenter.",
          "type": "string"
        },
        "mediaUri": {
          "description": "Media Uri of the ContactCenter.",
          "type": "string"
        },
        "virtualAgentStreamingServiceUri": {
          "type": "string",
          "description": "Virtual Agent Streaming Service Uri of the ContactCenter."
        },
        "chatBotUri": {
          "type": "string",
          "description": "Chat Bot Uri of the ContactCenter"
        }
      },
      "description": "Message storing the URIs of the ContactCenter."
    },
    "Quota": {
      "description": "Quota details.",
      "id": "Quota",
      "type": "object",
      "properties": {
        "contactCenterCountLimit": {
          "description": "Reflects the count limit of contact centers on a billing account.",
          "type": "integer",
          "format": "int32"
        },
        "contactCenterCountSum": {
          "description": "Reflects the count sum of contact centers on a billing account.",
          "type": "integer",
          "format": "int32"
        },
        "contactCenterInstanceSize": {
          "description": "Contact center instance type.",
          "type": "string",
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "Instance Size STANDARD_SMALL.",
            "Instance Size STANDARD_MEDIUM.",
            "Instance Size STANDARD_LARGE.",
            "Instance Size STANDARD_XLARGE.",
            "Instance Size STANDARD_2XLARGE.",
            "Instance Size STANDARD_3XLARGE.",
            "Instance Size MULTIREGION_SMALL",
            "Instance Size MULTIREGION_MEDIUM",
            "Instance Size MULTIREGION_LARGE",
            "Instance Size MULTIREGION_XLARGE",
            "Instance Size MULTIREGION_2XLARGE.",
            "Instance Size MULTIREGION_3XLARGE.",
            "Instance Size DEV_SMALL",
            "Instance Size SANDBOX_SMALL",
            "Instance Size TRIAL_SMALL",
            "Instance Size TIME_LIMITED_TRIAL_SMALL"
          ],
          "enum": [
            "INSTANCE_SIZE_UNSPECIFIED",
            "STANDARD_SMALL",
            "STANDARD_MEDIUM",
            "STANDARD_LARGE",
            "STANDARD_XLARGE",
            "STANDARD_2XLARGE",
            "STANDARD_3XLARGE",
            "MULTIREGION_SMALL",
            "MULTIREGION_MEDIUM",
            "MULTIREGION_LARGE",
            "MULTIREGION_XLARGE",
            "MULTIREGION_2XLARGE",
            "MULTIREGION_3XLARGE",
            "DEV_SMALL",
            "SANDBOX_SMALL",
            "TRIAL_SMALL",
            "TIME_LIMITED_TRIAL_SMALL"
          ]
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "name": "contactcenteraiplatform",
  "version": "v1alpha1",
  "batchPath": "batch",
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  }
}