{
  "ownerName": "Google",
  "documentationLink": "https://cloud.google.com/contact-center/insights/docs",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "title": "Contact Center AI Insights API",
  "version": "v1",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "issueModels": {
              "resources": {
                "issues": {
                  "methods": {
                    "create": {
                      "id": "contactcenterinsights.projects.locations.issueModels.issues.create",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/issues",
                      "request": {
                        "$ref": "GoogleCloudContactcenterinsightsV1Issue"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/issueModels/{issueModelsId}/issues",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Creates an issue.",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/issueModels/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Required. The parent resource of the issue."
                        }
                      }
                    },
                    "delete": {
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "path": "v1/{+name}",
                      "description": "Deletes an issue.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/issueModels/{issueModelsId}/issues/{issuesId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "contactcenterinsights.projects.locations.issueModels.issues.delete",
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/issueModels/[^/]+/issues/[^/]+$",
                          "type": "string",
                          "description": "Required. The name of the issue to delete.",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "list": {
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/issueModels/[^/]+$",
                          "location": "path",
                          "description": "Required. The parent resource of the issue."
                        }
                      },
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/issueModels/{issueModelsId}/issues",
                      "id": "contactcenterinsights.projects.locations.issueModels.issues.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/issues",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudContactcenterinsightsV1ListIssuesResponse"
                      },
                      "description": "Lists issues."
                    },
                    "get": {
                      "response": {
                        "$ref": "GoogleCloudContactcenterinsightsV1Issue"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Gets an issue.",
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "contactcenterinsights.projects.locations.issueModels.issues.get",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/issueModels/{issueModelsId}/issues/{issuesId}",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the issue to get.",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/issueModels/[^/]+/issues/[^/]+$",
                          "type": "string"
                        }
                      },
                      "httpMethod": "GET"
                    },
                    "patch": {
                      "response": {
                        "$ref": "GoogleCloudContactcenterinsightsV1Issue"
                      },
                      "description": "Updates an issue.",
                      "id": "contactcenterinsights.projects.locations.issueModels.issues.patch",
                      "httpMethod": "PATCH",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "parameters": {
                        "updateMask": {
                          "location": "query",
                          "type": "string",
                          "format": "google-fieldmask",
                          "description": "The list of fields to be updated."
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/issueModels/[^/]+/issues/[^/]+$",
                          "type": "string",
                          "description": "Immutable. The resource name of the issue. Format: projects/{project}/locations/{location}/issueModels/{issue_model}/issues/{issue}",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/issueModels/{issueModelsId}/issues/{issuesId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "GoogleCloudContactcenterinsightsV1Issue"
                      }
                    }
                  }
                }
              },
              "methods": {
                "get": {
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1IssueModel"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the issue model to get.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/issueModels/[^/]+$",
                      "required": true
                    }
                  },
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/issueModels/{issueModelsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets an issue model.",
                  "id": "contactcenterinsights.projects.locations.issueModels.get"
                },
                "deploy": {
                  "id": "contactcenterinsights.projects.locations.issueModels.deploy",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/issueModels/[^/]+$",
                      "required": true,
                      "description": "Required. The issue model to deploy.",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1DeployIssueModelRequest"
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "path": "v1/{+name}:deploy",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/issueModels/{issueModelsId}:deploy",
                  "description": "Deploys an issue model. Returns an error if a model is already deployed. An issue model can only be used in analysis after it has been deployed.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "undeploy": {
                  "description": "Undeploys an issue model. An issue model can not be used in analysis after it has been undeployed.",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/issueModels/{issueModelsId}:undeploy",
                  "id": "contactcenterinsights.projects.locations.issueModels.undeploy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The issue model to undeploy.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/issueModels/[^/]+$"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1UndeployIssueModelRequest"
                  },
                  "path": "v1/{+name}:undeploy",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  }
                },
                "export": {
                  "path": "v1/{+name}:export",
                  "id": "contactcenterinsights.projects.locations.issueModels.export",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/issueModels/{issueModelsId}:export",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Exports an issue model to the provided destination.",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The issue model to export.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/issueModels/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1ExportIssueModelRequest"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "create": {
                  "description": "Creates an issue model.",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1IssueModel"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/issueModels",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/issueModels",
                  "id": "contactcenterinsights.projects.locations.issueModels.create",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent resource of the issue model.",
                      "location": "path"
                    }
                  }
                },
                "list": {
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource of the issue model."
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1ListIssueModelsResponse"
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/issueModels",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "contactcenterinsights.projects.locations.issueModels.list",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/issueModels",
                  "description": "Lists issue models."
                },
                "calculateIssueModelStats": {
                  "id": "contactcenterinsights.projects.locations.issueModels.calculateIssueModelStats",
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1CalculateIssueModelStatsResponse"
                  },
                  "parameters": {
                    "issueModel": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/issueModels/[^/]+$",
                      "description": "Required. The resource name of the issue model to query against.",
                      "required": true
                    }
                  },
                  "httpMethod": "GET",
                  "path": "v1/{+issueModel}:calculateIssueModelStats",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/issueModels/{issueModelsId}:calculateIssueModelStats",
                  "parameterOrder": [
                    "issueModel"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets an issue model's statistics."
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates an issue model.",
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1IssueModel"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/issueModels/{issueModelsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/issueModels/[^/]+$",
                      "required": true,
                      "description": "Immutable. The resource name of the issue model. Format: projects/{project}/locations/{location}/issueModels/{issue_model}"
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "The list of fields to be updated.",
                      "type": "string"
                    }
                  },
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1IssueModel"
                  },
                  "path": "v1/{+name}",
                  "id": "contactcenterinsights.projects.locations.issueModels.patch"
                },
                "delete": {
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the issue model to delete.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/issueModels/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "description": "Deletes an issue model.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/issueModels/{issueModelsId}",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "contactcenterinsights.projects.locations.issueModels.delete"
                },
                "import": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "contactcenterinsights.projects.locations.issueModels.import",
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1ImportIssueModelRequest"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent resource of the issue model.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/issueModels:import",
                  "description": "Imports an issue model from a Cloud Storage bucket.",
                  "path": "v1/{+parent}/issueModels:import"
                }
              }
            },
            "encryptionSpec": {
              "methods": {
                "initialize": {
                  "id": "contactcenterinsights.projects.locations.encryptionSpec.initialize",
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1InitializeEncryptionSpecRequest"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/encryptionSpec$",
                      "description": "Immutable. The resource name of the encryption key specification resource. Format: projects/{project}/locations/{location}/encryptionSpec",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/encryptionSpec:initialize",
                  "httpMethod": "POST",
                  "path": "v1/{+name}:initialize",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "description": "Initializes a location-level encryption key specification. An error will result if the location has resources already created before the initialization. After the encryption specification is initialized at a location, it is immutable and all newly created resources under the location will be encrypted with the existing specification."
                }
              }
            },
            "dashboards": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1Dashboard"
                  },
                  "description": "Gets a Dashboard.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The name of the dashboard to get.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dashboards/[^/]+$",
                      "required": true
                    }
                  },
                  "id": "contactcenterinsights.projects.locations.dashboards.get",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dashboards/{dashboardsId}"
                },
                "list": {
                  "path": "v1/{+parent}/dashboards",
                  "id": "contactcenterinsights.projects.locations.dashboards.list",
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1ListDashboardsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The filter expression to filter dashboards listed in the response."
                    },
                    "orderBy": {
                      "description": "Optional. The order by expression to order dashboards listed in the response.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The parent resource of the dashboards.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. The value returned by the last `ListDashboardsResponse`. This value indicates that this is a continuation of a prior `ListDashboards` call and that the system should return the next page of data.",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. The maximum number of dashboards to return. The service may return fewer than this value. The default and maximum value is 100.",
                      "location": "query"
                    }
                  },
                  "description": "Lists Dashboards.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dashboards"
                },
                "patch": {
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1Dashboard"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "id": "contactcenterinsights.projects.locations.dashboards.patch",
                  "parameters": {
                    "updateMask": {
                      "description": "Optional. List of fields to be updated. All possible fields can be updated by passing `*`, or a subset of the following updateable fields can be provided: * `display_name` * `root_container` * `description`",
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/dashboards/[^/]+$",
                      "description": "Identifier. Dashboard resource name. Format: projects/{project}/locations/{location}/dashboards/{dashboard}",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dashboards/{dashboardsId}",
                  "description": "Updates a Dashboard.",
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1Dashboard"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "id": "contactcenterinsights.projects.locations.dashboards.create",
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dashboards",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. The parent resource of the dashboard.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "dashboardId": {
                      "description": "Optional. A unique ID for the new Dashboard. This ID will become the final component of the Dashboard's resource name. If no ID is specified, a server-generated ID will be used. This value should be 4-64 characters and must match the regular expression `^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$`.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1Dashboard"
                  },
                  "description": "Creates a Dashboard.",
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1Dashboard"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/dashboards",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "delete": {
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/dashboards/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the dashboard to delete.",
                      "location": "path"
                    }
                  },
                  "id": "contactcenterinsights.projects.locations.dashboards.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dashboards/{dashboardsId}",
                  "description": "Deletes a Dashboard.",
                  "parameterOrder": [
                    "name"
                  ]
                }
              },
              "resources": {
                "charts": {
                  "methods": {
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "contactcenterinsights.projects.locations.dashboards.charts.get",
                      "description": "Gets a Chart.",
                      "response": {
                        "$ref": "GoogleCloudContactcenterinsightsV1Chart"
                      },
                      "path": "v1/{+name}",
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dashboards/{dashboardsId}/charts/{chartsId}",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. The name of the chart to get.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/dashboards/[^/]+/charts/[^/]+$",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "create": {
                      "id": "contactcenterinsights.projects.locations.dashboards.charts.create",
                      "path": "v1/{+parent}/charts",
                      "response": {
                        "$ref": "GoogleCloudContactcenterinsightsV1Chart"
                      },
                      "request": {
                        "$ref": "GoogleCloudContactcenterinsightsV1Chart"
                      },
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The parent resource of the chart.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/dashboards/[^/]+$"
                        },
                        "chartId": {
                          "location": "query",
                          "description": "Optional. A unique ID for the new Chart. This ID will become the final component of the Chart's resource name. If no ID is specified, a server-generated ID will be used. This value should be 4-64 characters and must match the regular expression `^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$`.",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Creates a Chart.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dashboards/{dashboardsId}/charts"
                    },
                    "delete": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}",
                      "description": "Deletes a Chart.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dashboards/{dashboardsId}/charts/{chartsId}",
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/dashboards/[^/]+/charts/[^/]+$",
                          "description": "Required. The name of the chart to delete.",
                          "type": "string"
                        }
                      },
                      "httpMethod": "DELETE",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "contactcenterinsights.projects.locations.dashboards.charts.delete",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      }
                    },
                    "list": {
                      "path": "v1/{+parent}/charts",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dashboards/{dashboardsId}/charts",
                      "description": "Lists Charts.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "contactcenterinsights.projects.locations.dashboards.charts.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudContactcenterinsightsV1ListChartsResponse"
                      },
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. The parent resource of the charts.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/dashboards/[^/]+$"
                        }
                      },
                      "httpMethod": "GET"
                    },
                    "patch": {
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "description": "Updates a Chart.",
                      "request": {
                        "$ref": "GoogleCloudContactcenterinsightsV1Chart"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dashboards/{dashboardsId}/charts/{chartsId}",
                      "httpMethod": "PATCH",
                      "id": "contactcenterinsights.projects.locations.dashboards.charts.patch",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/dashboards/[^/]+/charts/[^/]+$",
                          "type": "string",
                          "description": "Identifier. Chart resource name. Format: projects/{project}/locations/{location}/dashboards/{dashboard}/charts/{chart}"
                        },
                        "updateMask": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. List of fields to be updated. All possible fields can be updated by passing `*`, or a subset of the following updateable fields can be provided: * `display_name`",
                          "format": "google-fieldmask"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudContactcenterinsightsV1Chart"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                }
              }
            },
            "assessmentRules": {
              "methods": {
                "create": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/assessmentRules",
                  "id": "contactcenterinsights.projects.locations.assessmentRules.create",
                  "path": "v1/{+parent}/assessmentRules",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1AssessmentRule"
                  },
                  "description": "Creates an assessment rule.",
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1AssessmentRule"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource of the assessment rule. Required. The location to create a assessment rule for. Format: `projects//locations/` or `projects//locations/`",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "assessmentRuleId": {
                      "location": "query",
                      "description": "Optional. A unique ID for the new AssessmentRule. This ID will become the final component of the AssessmentRule's resource name. If no ID is specified, a server-generated ID will be used. This value should be 4-64 characters and must match the regular expression `^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$`.",
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST"
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/assessmentRules/{assessmentRulesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "id": "contactcenterinsights.projects.locations.assessmentRules.delete",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name of the assessment rule to delete.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/assessmentRules/[^/]+$",
                      "required": true
                    }
                  },
                  "path": "v1/{+name}",
                  "description": "Deletes an assessment rule.",
                  "httpMethod": "DELETE"
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "id": "contactcenterinsights.projects.locations.assessmentRules.list",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. The maximum number of assessment rule to return in the response. If this value is zero, the service will select a default size. A call may return fewer objects than requested. A non-empty `next_page_token` in the response indicates that more data is available.",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. The value returned by the last `ListAssessmentRulesResponse`; indicates that this is a continuation of a prior `ListAssessmentRules` call and the system should return the next page of data.",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The parent resource of the assessment rules."
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1ListAssessmentRulesResponse"
                  },
                  "path": "v1/{+parent}/assessmentRules",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists assessment rules.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/assessmentRules"
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/assessmentRules/{assessmentRulesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/assessmentRules/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the assessment rule to get.",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "description": "Get an assessment rule.",
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1AssessmentRule"
                  },
                  "id": "contactcenterinsights.projects.locations.assessmentRules.get",
                  "path": "v1/{+name}"
                },
                "patch": {
                  "description": "Updates an assessment rule.",
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1AssessmentRule"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1AssessmentRule"
                  },
                  "id": "contactcenterinsights.projects.locations.assessmentRules.patch",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/assessmentRules/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Identifier. The resource name of the assessment rule. Format: projects/{project}/locations/{location}/assessmentRules/{assessment_rule}"
                    },
                    "updateMask": {
                      "description": "Optional. The list of fields to be updated. If the update_mask is not provided, the update will be applied to all fields.",
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/assessmentRules/{assessmentRulesId}"
                }
              }
            },
            "qaScorecards": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The value returned by the last `ListQaScorecardsResponse`. This value indicates that this is a continuation of a prior `ListQaScorecards` call and that the system should return the next page of data."
                    },
                    "qaScorecardSources": {
                      "description": "Optional. The source of scorecards are based on how those Scorecards were created, e.g., a customer-defined scorecard, a predefined scorecard, etc. This field is used to retrieve Scorecards of one or more sources.",
                      "location": "query",
                      "repeated": true,
                      "type": "string",
                      "enum": [
                        "QA_SCORECARD_SOURCE_UNSPECIFIED",
                        "QA_SCORECARD_SOURCE_CUSTOMER_DEFINED",
                        "QA_SCORECARD_SOURCE_DISCOVERY_ENGINE",
                        "QA_SCORECARD_SOURCE_INTENT_TAXONOMY"
                      ],
                      "enumDescriptions": [
                        "The source of the scorecard is unspecified. Default to QA_SCORECARD_SOURCE_CUSTOMER_DEFINED.",
                        "The scorecard is a custom scorecard created by the user.",
                        "The scorecard is a scorecard created through discovery engine deployment.",
                        "The scorecard is derived from the custom intent taxonomy. Customers can edit question content, but cannot delete the scorecard or add/remove questions."
                      ]
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent resource of the scorecards.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of scorecards to return in the response. If the value is zero, the service will select a default size. A call might return fewer objects than requested. A non-empty `next_page_token` in the response indicates that more data is available.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    }
                  },
                  "id": "contactcenterinsights.projects.locations.qaScorecards.list",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1ListQaScorecardsResponse"
                  },
                  "description": "Lists QaScorecards.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/qaScorecards",
                  "path": "v1/{+parent}/qaScorecards"
                },
                "get": {
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1QaScorecard"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets a QaScorecard.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/qaScorecards/{qaScorecardsId}",
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/qaScorecards/[^/]+$",
                      "description": "Required. The name of the QaScorecard to get."
                    }
                  },
                  "id": "contactcenterinsights.projects.locations.qaScorecards.get"
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1QaScorecard"
                  },
                  "id": "contactcenterinsights.projects.locations.qaScorecards.patch",
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1QaScorecard"
                  },
                  "parameters": {
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query",
                      "description": "Required. The list of fields to be updated. All possible fields can be updated by passing `*`, or a subset of the following updateable fields can be provided: * `description` * `display_name`"
                    },
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/qaScorecards/[^/]+$",
                      "description": "Identifier. The scorecard name. Format: projects/{project}/locations/{location}/qaScorecards/{qa_scorecard}"
                    }
                  },
                  "path": "v1/{+name}",
                  "description": "Updates a QaScorecard.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/qaScorecards/{qaScorecardsId}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "create": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/qaScorecards",
                  "path": "v1/{+parent}/qaScorecards",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1QaScorecard"
                  },
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1QaScorecard"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent resource of the QaScorecard.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "qaScorecardId": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A unique ID for the new QaScorecard. This ID will become the final component of the QaScorecard's resource name. If no ID is specified, a server-generated ID will be used. This value should be 4-64 characters and must match the regular expression `^[a-z0-9-]{4,64}$`. Valid characters are `a-z-`."
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "id": "contactcenterinsights.projects.locations.qaScorecards.create",
                  "description": "Create a QaScorecard."
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/qaScorecards/[^/]+$",
                      "description": "Required. The name of the QaScorecard to delete.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "force": {
                      "location": "query",
                      "description": "Optional. If set to true, all of this QaScorecard's child resources will also be deleted. Otherwise, the request will only succeed if it has none.",
                      "type": "boolean"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/qaScorecards/{qaScorecardsId}",
                  "id": "contactcenterinsights.projects.locations.qaScorecards.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "description": "Deletes a QaScorecard.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}"
                }
              },
              "resources": {
                "revisions": {
                  "resources": {
                    "qaQuestions": {
                      "methods": {
                        "get": {
                          "parameterOrder": [
                            "name"
                          ],
                          "parameters": {
                            "name": {
                              "description": "Required. The name of the QaQuestion to get.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/qaScorecards/[^/]+/revisions/[^/]+/qaQuestions/[^/]+$",
                              "required": true,
                              "location": "path",
                              "type": "string"
                            }
                          },
                          "httpMethod": "GET",
                          "response": {
                            "$ref": "GoogleCloudContactcenterinsightsV1QaQuestion"
                          },
                          "path": "v1/{+name}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Gets a QaQuestion.",
                          "id": "contactcenterinsights.projects.locations.qaScorecards.revisions.qaQuestions.get",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/qaScorecards/{qaScorecardsId}/revisions/{revisionsId}/qaQuestions/{qaQuestionsId}"
                        },
                        "patch": {
                          "parameters": {
                            "name": {
                              "required": true,
                              "type": "string",
                              "description": "Identifier. The resource name of the question. Format: projects/{project}/locations/{location}/qaScorecards/{qa_scorecard}/revisions/{revision}/qaQuestions/{qa_question}",
                              "pattern": "^projects/[^/]+/locations/[^/]+/qaScorecards/[^/]+/revisions/[^/]+/qaQuestions/[^/]+$",
                              "location": "path"
                            },
                            "updateMask": {
                              "type": "string",
                              "description": "Required. The list of fields to be updated. All possible fields can be updated by passing `*`, or a subset of the following updateable fields can be provided: * `abbreviation` * `answer_choices` * `answer_instructions` * `order` * `question_body` * `tags`",
                              "location": "query",
                              "format": "google-fieldmask"
                            }
                          },
                          "description": "Updates a QaQuestion.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1/{+name}",
                          "httpMethod": "PATCH",
                          "request": {
                            "$ref": "GoogleCloudContactcenterinsightsV1QaQuestion"
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/qaScorecards/{qaScorecardsId}/revisions/{revisionsId}/qaQuestions/{qaQuestionsId}",
                          "id": "contactcenterinsights.projects.locations.qaScorecards.revisions.qaQuestions.patch",
                          "response": {
                            "$ref": "GoogleCloudContactcenterinsightsV1QaQuestion"
                          }
                        },
                        "list": {
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "parent"
                          ],
                          "parameters": {
                            "pageSize": {
                              "format": "int32",
                              "type": "integer",
                              "location": "query",
                              "description": "Optional. The maximum number of questions to return in the response. If the value is zero, the service will select a default size. A call might return fewer objects than requested. A non-empty `next_page_token` in the response indicates that more data is available."
                            },
                            "parent": {
                              "description": "Required. The parent resource of the questions.",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/qaScorecards/[^/]+/revisions/[^/]+$",
                              "required": true,
                              "location": "path"
                            },
                            "pageToken": {
                              "type": "string",
                              "description": "Optional. The value returned by the last `ListQaQuestionsResponse`. This value indicates that this is a continuation of a prior `ListQaQuestions` call and that the system should return the next page of data.",
                              "location": "query"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "GoogleCloudContactcenterinsightsV1ListQaQuestionsResponse"
                          },
                          "description": "Lists QaQuestions.",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/qaScorecards/{qaScorecardsId}/revisions/{revisionsId}/qaQuestions",
                          "path": "v1/{+parent}/qaQuestions",
                          "id": "contactcenterinsights.projects.locations.qaScorecards.revisions.qaQuestions.list"
                        },
                        "create": {
                          "parameters": {
                            "parent": {
                              "type": "string",
                              "location": "path",
                              "description": "Required. The parent resource of the QaQuestion.",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/qaScorecards/[^/]+/revisions/[^/]+$"
                            },
                            "qaQuestionId": {
                              "location": "query",
                              "type": "string",
                              "description": "Optional. A unique ID for the new question. This ID will become the final component of the question's resource name. If no ID is specified, a server-generated ID will be used. This value should be 4-64 characters and must match the regular expression `^[a-z0-9-]{4,64}$`. Valid characters are `a-z-`."
                            }
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/qaScorecards/{qaScorecardsId}/revisions/{revisionsId}/qaQuestions",
                          "httpMethod": "POST",
                          "id": "contactcenterinsights.projects.locations.qaScorecards.revisions.qaQuestions.create",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "request": {
                            "$ref": "GoogleCloudContactcenterinsightsV1QaQuestion"
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "response": {
                            "$ref": "GoogleCloudContactcenterinsightsV1QaQuestion"
                          },
                          "path": "v1/{+parent}/qaQuestions",
                          "description": "Create a QaQuestion."
                        },
                        "delete": {
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "description": "Deletes a QaQuestion.",
                          "httpMethod": "DELETE",
                          "parameters": {
                            "name": {
                              "location": "path",
                              "type": "string",
                              "required": true,
                              "description": "Required. The name of the QaQuestion to delete.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/qaScorecards/[^/]+/revisions/[^/]+/qaQuestions/[^/]+$"
                            }
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/qaScorecards/{qaScorecardsId}/revisions/{revisionsId}/qaQuestions/{qaQuestionsId}",
                          "path": "v1/{+name}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "contactcenterinsights.projects.locations.qaScorecards.revisions.qaQuestions.delete",
                          "parameterOrder": [
                            "name"
                          ]
                        }
                      }
                    }
                  },
                  "methods": {
                    "deploy": {
                      "request": {
                        "$ref": "GoogleCloudContactcenterinsightsV1DeployQaScorecardRevisionRequest"
                      },
                      "description": "Deploy a QaScorecardRevision.",
                      "response": {
                        "$ref": "GoogleCloudContactcenterinsightsV1QaScorecardRevision"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "contactcenterinsights.projects.locations.qaScorecards.revisions.deploy",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}:deploy",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. The name of the QaScorecardRevision to deploy.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/qaScorecards/[^/]+/revisions/[^/]+$"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/qaScorecards/{qaScorecardsId}/revisions/{revisionsId}:deploy",
                      "httpMethod": "POST"
                    },
                    "get": {
                      "description": "Gets a QaScorecardRevision.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudContactcenterinsightsV1QaScorecardRevision"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/qaScorecards/{qaScorecardsId}/revisions/{revisionsId}",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/qaScorecards/[^/]+/revisions/[^/]+$",
                          "description": "Required. The name of the QaScorecardRevision to get.",
                          "location": "path"
                        }
                      },
                      "path": "v1/{+name}",
                      "id": "contactcenterinsights.projects.locations.qaScorecards.revisions.get"
                    },
                    "undeploy": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/qaScorecards/{qaScorecardsId}/revisions/{revisionsId}:undeploy",
                      "id": "contactcenterinsights.projects.locations.qaScorecards.revisions.undeploy",
                      "path": "v1/{+name}:undeploy",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleCloudContactcenterinsightsV1QaScorecardRevision"
                      },
                      "description": "Undeploy a QaScorecardRevision.",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GoogleCloudContactcenterinsightsV1UndeployQaScorecardRevisionRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/qaScorecards/[^/]+/revisions/[^/]+$",
                          "type": "string",
                          "description": "Required. The name of the QaScorecardRevision to undeploy."
                        }
                      }
                    },
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/qaScorecards/{qaScorecardsId}/revisions",
                      "httpMethod": "GET",
                      "id": "contactcenterinsights.projects.locations.qaScorecards.revisions.list",
                      "parameters": {
                        "qaScorecardSources": {
                          "description": "Optional. The source of scorecards are based on how those Scorecards were created, e.g., a customer-defined scorecard, a predefined scorecard, etc. This field is used to retrieve Scorecards Revisions from Scorecards of one or more sources.",
                          "enumDescriptions": [
                            "The source of the scorecard is unspecified. Default to QA_SCORECARD_SOURCE_CUSTOMER_DEFINED.",
                            "The scorecard is a custom scorecard created by the user.",
                            "The scorecard is a scorecard created through discovery engine deployment.",
                            "The scorecard is derived from the custom intent taxonomy. Customers can edit question content, but cannot delete the scorecard or add/remove questions."
                          ],
                          "type": "string",
                          "enum": [
                            "QA_SCORECARD_SOURCE_UNSPECIFIED",
                            "QA_SCORECARD_SOURCE_CUSTOMER_DEFINED",
                            "QA_SCORECARD_SOURCE_DISCOVERY_ENGINE",
                            "QA_SCORECARD_SOURCE_INTENT_TAXONOMY"
                          ],
                          "repeated": true,
                          "location": "query"
                        },
                        "parent": {
                          "description": "Required. The parent resource of the scorecard revisions. To list all revisions of all scorecards, substitute the QaScorecard ID with a '-' character.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/qaScorecards/[^/]+$",
                          "required": true,
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "Optional. The maximum number of scorecard revisions to return in the response. If the value is zero, the service will select a default size. A call might return fewer objects than requested. A non-empty `next_page_token` in the response indicates that more data is available.",
                          "location": "query",
                          "format": "int32",
                          "type": "integer"
                        },
                        "filter": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. A filter to reduce results to a specific subset. Useful for querying scorecard revisions with specific properties."
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. The value returned by the last `ListQaScorecardRevisionsResponse`. This value indicates that this is a continuation of a prior `ListQaScorecardRevisions` call and that the system should return the next page of data."
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Lists all revisions under the parent QaScorecard.",
                      "response": {
                        "$ref": "GoogleCloudContactcenterinsightsV1ListQaScorecardRevisionsResponse"
                      },
                      "path": "v1/{+parent}/revisions"
                    },
                    "create": {
                      "request": {
                        "$ref": "GoogleCloudContactcenterinsightsV1QaScorecardRevision"
                      },
                      "path": "v1/{+parent}/revisions",
                      "description": "Creates a QaScorecardRevision.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudContactcenterinsightsV1QaScorecardRevision"
                      },
                      "id": "contactcenterinsights.projects.locations.qaScorecards.revisions.create",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/qaScorecards/{qaScorecardsId}/revisions",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST",
                      "parameters": {
                        "qaScorecardRevisionId": {
                          "location": "query",
                          "description": "Optional. A unique ID for the new QaScorecardRevision. This ID will become the final component of the QaScorecardRevision's resource name. If no ID is specified, a server-generated ID will be used. This value should be 4-64 characters and must match the regular expression `^[a-z0-9-]{4,64}$`. Valid characters are `a-z-`.",
                          "type": "string"
                        },
                        "parent": {
                          "description": "Required. The parent resource of the QaScorecardRevision.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/qaScorecards/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      }
                    },
                    "delete": {
                      "parameters": {
                        "force": {
                          "location": "query",
                          "type": "boolean",
                          "description": "Optional. If set to true, all of this QaScorecardRevision's child resources will also be deleted. Otherwise, the request will only succeed if it has none."
                        },
                        "name": {
                          "description": "Required. The name of the QaScorecardRevision to delete.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/qaScorecards/[^/]+/revisions/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "contactcenterinsights.projects.locations.qaScorecards.revisions.delete",
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/qaScorecards/{qaScorecardsId}/revisions/{revisionsId}",
                      "description": "Deletes a QaScorecardRevision.",
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      }
                    },
                    "tuneQaScorecardRevision": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/qaScorecards/{qaScorecardsId}/revisions/{revisionsId}:tuneQaScorecardRevision",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "request": {
                        "$ref": "GoogleCloudContactcenterinsightsV1TuneQaScorecardRevisionRequest"
                      },
                      "httpMethod": "POST",
                      "path": "v1/{+parent}:tuneQaScorecardRevision",
                      "id": "contactcenterinsights.projects.locations.qaScorecards.revisions.tuneQaScorecardRevision",
                      "description": "Fine tune one or more QaModels.",
                      "parameters": {
                        "parent": {
                          "description": "Required. The parent resource for new fine tuning job instance.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/qaScorecards/[^/]+/revisions/[^/]+$",
                          "type": "string",
                          "location": "path"
                        }
                      }
                    }
                  }
                }
              }
            },
            "authorizedViewSets": {
              "resources": {
                "authorizedViews": {
                  "resources": {
                    "operations": {
                      "methods": {
                        "list": {
                          "parameters": {
                            "name": {
                              "type": "string",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/authorizedViewSets/[^/]+/authorizedViews/[^/]+$",
                              "location": "path",
                              "description": "The name of the operation's parent resource."
                            },
                            "returnPartialSuccess": {
                              "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                              "type": "boolean",
                              "location": "query"
                            },
                            "pageToken": {
                              "type": "string",
                              "description": "The standard list page token.",
                              "location": "query"
                            },
                            "pageSize": {
                              "description": "The standard list page size.",
                              "location": "query",
                              "type": "integer",
                              "format": "int32"
                            },
                            "filter": {
                              "description": "The standard list filter.",
                              "location": "query",
                              "type": "string"
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "httpMethod": "GET",
                          "response": {
                            "$ref": "GoogleLongrunningListOperationsResponse"
                          },
                          "id": "contactcenterinsights.projects.locations.authorizedViewSets.authorizedViews.operations.list",
                          "path": "v1/{+name}/operations",
                          "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/authorizedViewSets/{authorizedViewSetsId}/authorizedViews/{authorizedViewsId}/operations",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        },
                        "cancel": {
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "contactcenterinsights.projects.locations.authorizedViewSets.authorizedViews.operations.cancel",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/authorizedViewSets/{authorizedViewSetsId}/authorizedViews/{authorizedViewsId}/operations/{operationsId}:cancel",
                          "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                          "path": "v1/{+name}:cancel",
                          "parameters": {
                            "name": {
                              "type": "string",
                              "description": "The name of the operation resource to be cancelled.",
                              "required": true,
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/authorizedViewSets/[^/]+/authorizedViews/[^/]+/operations/[^/]+$"
                            }
                          },
                          "httpMethod": "POST",
                          "parameterOrder": [
                            "name"
                          ]
                        },
                        "get": {
                          "httpMethod": "GET",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/authorizedViewSets/{authorizedViewSetsId}/authorizedViews/{authorizedViewsId}/operations/{operationsId}",
                          "parameters": {
                            "name": {
                              "location": "path",
                              "type": "string",
                              "required": true,
                              "description": "The name of the operation resource.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/authorizedViewSets/[^/]+/authorizedViews/[^/]+/operations/[^/]+$"
                            }
                          },
                          "path": "v1/{+name}",
                          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                          "id": "contactcenterinsights.projects.locations.authorizedViewSets.authorizedViews.operations.get",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "parameterOrder": [
                            "name"
                          ]
                        }
                      }
                    },
                    "conversations": {
                      "methods": {
                        "list": {
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "GoogleCloudContactcenterinsightsV1ListConversationsResponse"
                          },
                          "path": "v1/{+parent}/conversations",
                          "description": "Lists conversations.",
                          "httpMethod": "GET",
                          "id": "contactcenterinsights.projects.locations.authorizedViewSets.authorizedViews.conversations.list",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/authorizedViewSets/{authorizedViewSetsId}/authorizedViews/{authorizedViewsId}/conversations",
                          "parameters": {
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/authorizedViewSets/[^/]+/authorizedViews/[^/]+$",
                              "description": "Required. The parent resource of the conversation.",
                              "required": true,
                              "type": "string",
                              "location": "path"
                            },
                            "pageSize": {
                              "description": "The maximum number of conversations to return in the response. A valid page size ranges from 0 to 100,000 inclusive. If the page size is zero or unspecified, a default page size of 100 will be chosen. Note that a call might return fewer results than the requested page size.",
                              "type": "integer",
                              "format": "int32",
                              "location": "query"
                            },
                            "filter": {
                              "type": "string",
                              "location": "query",
                              "description": "A filter to reduce results to a specific subset. Useful for querying conversations with specific properties."
                            },
                            "view": {
                              "description": "The level of details of the conversation. Default is `BASIC`.",
                              "type": "string",
                              "enum": [
                                "CONVERSATION_VIEW_UNSPECIFIED",
                                "FULL",
                                "BASIC",
                                "FULL_WITH_STRUCTURED_TRANSCRIPT"
                              ],
                              "location": "query",
                              "enumDescriptions": [
                                "The conversation view is not specified. * Defaults to `FULL` in `GetConversationRequest`. * Defaults to `BASIC` in `ListConversationsRequest`.",
                                "Populates all fields in the conversation.",
                                "Populates all fields in the conversation except the transcript.",
                                "Populates all fields in the conversation, including the structured transcript parts."
                              ]
                            },
                            "pageToken": {
                              "location": "query",
                              "type": "string",
                              "description": "The value returned by the last `ListConversationsResponse`. This value indicates that this is a continuation of a prior `ListConversations` call and that the system should return the next page of data."
                            },
                            "orderBy": {
                              "description": "Optional. The attribute by which to order conversations in the response. If empty, conversations will be ordered by descending creation time. Supported values are one of the following: * create_time * customer_satisfaction_rating * duration * latest_analysis * start_time * turn_count The default sort order is ascending. To specify order, append `asc` or `desc` (`create_time desc`). For more details, see [Google AIPs Ordering](https://google.aip.dev/132#ordering).",
                              "type": "string",
                              "location": "query"
                            }
                          }
                        },
                        "delete": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1/{+name}",
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "httpMethod": "DELETE",
                          "description": "Deletes a conversation.",
                          "parameters": {
                            "name": {
                              "location": "path",
                              "description": "Required. The name of the conversation to delete.",
                              "required": true,
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/authorizedViewSets/[^/]+/authorizedViews/[^/]+/conversations/[^/]+$"
                            },
                            "force": {
                              "description": "If set to true, all of this conversation's analyses will also be deleted. Otherwise, the request will only succeed if the conversation has no analyses.",
                              "location": "query",
                              "type": "boolean"
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "id": "contactcenterinsights.projects.locations.authorizedViewSets.authorizedViews.conversations.delete",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/authorizedViewSets/{authorizedViewSetsId}/authorizedViews/{authorizedViewsId}/conversations/{conversationsId}"
                        },
                        "get": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "name"
                          ],
                          "response": {
                            "$ref": "GoogleCloudContactcenterinsightsV1Conversation"
                          },
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/authorizedViewSets/[^/]+/authorizedViews/[^/]+/conversations/[^/]+$",
                              "location": "path",
                              "type": "string",
                              "required": true,
                              "description": "Required. The name of the conversation to get."
                            },
                            "view": {
                              "type": "string",
                              "enum": [
                                "CONVERSATION_VIEW_UNSPECIFIED",
                                "FULL",
                                "BASIC",
                                "FULL_WITH_STRUCTURED_TRANSCRIPT"
                              ],
                              "enumDescriptions": [
                                "The conversation view is not specified. * Defaults to `FULL` in `GetConversationRequest`. * Defaults to `BASIC` in `ListConversationsRequest`.",
                                "Populates all fields in the conversation.",
                                "Populates all fields in the conversation except the transcript.",
                                "Populates all fields in the conversation, including the structured transcript parts."
                              ],
                              "description": "The level of details of the conversation. Default is `FULL`.",
                              "location": "query"
                            }
                          },
                          "path": "v1/{+name}",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/authorizedViewSets/{authorizedViewSetsId}/authorizedViews/{authorizedViewsId}/conversations/{conversationsId}",
                          "description": "Gets a conversation.",
                          "id": "contactcenterinsights.projects.locations.authorizedViewSets.authorizedViews.conversations.get"
                        },
                        "calculateStats": {
                          "path": "v1/{+location}/conversations:calculateStats",
                          "response": {
                            "$ref": "GoogleCloudContactcenterinsightsV1CalculateStatsResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "location": {
                              "type": "string",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/authorizedViewSets/[^/]+/authorizedViews/[^/]+$",
                              "description": "Required. The location of the conversations.",
                              "required": true
                            },
                            "filter": {
                              "description": "A filter to reduce results to a specific subset. This field is useful for getting statistics about conversations with specific properties.",
                              "type": "string",
                              "location": "query"
                            }
                          },
                          "httpMethod": "GET",
                          "description": "Gets conversation statistics.",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/authorizedViewSets/{authorizedViewSetsId}/authorizedViews/{authorizedViewsId}/conversations:calculateStats",
                          "id": "contactcenterinsights.projects.locations.authorizedViewSets.authorizedViews.conversations.calculateStats",
                          "parameterOrder": [
                            "location"
                          ]
                        },
                        "generateSignedAudio": {
                          "path": "v1/{+name}:generateSignedAudio",
                          "description": "Gets the signed URI for the audio for the given conversation.",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/authorizedViewSets/{authorizedViewSetsId}/authorizedViews/{authorizedViewsId}/conversations/{conversationsId}:generateSignedAudio",
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "GoogleCloudContactcenterinsightsV1GenerateConversationSignedAudioResponse"
                          },
                          "parameters": {
                            "name": {
                              "type": "string",
                              "description": "Required. The name of the conversation to sign.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/authorizedViewSets/[^/]+/authorizedViews/[^/]+/conversations/[^/]+$",
                              "location": "path",
                              "required": true
                            }
                          },
                          "httpMethod": "GET",
                          "id": "contactcenterinsights.projects.locations.authorizedViewSets.authorizedViews.conversations.generateSignedAudio"
                        }
                      },
                      "resources": {
                        "feedbackLabels": {
                          "methods": {
                            "create": {
                              "description": "Create feedback label.",
                              "id": "contactcenterinsights.projects.locations.authorizedViewSets.authorizedViews.conversations.feedbackLabels.create",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "response": {
                                "$ref": "GoogleCloudContactcenterinsightsV1FeedbackLabel"
                              },
                              "request": {
                                "$ref": "GoogleCloudContactcenterinsightsV1FeedbackLabel"
                              },
                              "httpMethod": "POST",
                              "parameterOrder": [
                                "parent"
                              ],
                              "parameters": {
                                "parent": {
                                  "description": "Required. The parent resource of the feedback label.",
                                  "required": true,
                                  "type": "string",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/authorizedViewSets/[^/]+/authorizedViews/[^/]+/conversations/[^/]+$",
                                  "location": "path"
                                },
                                "feedbackLabelId": {
                                  "type": "string",
                                  "location": "query",
                                  "description": "Optional. The ID of the feedback label to create. If one is not specified it will be generated by the server."
                                }
                              },
                              "path": "v1/{+parent}/feedbackLabels",
[...]
