{
  "canonicalName": "Shopping Content",
  "parameters": {
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    }
  },
  "basePath": "/content/v2.1/",
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "title": "Content API for Shopping",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version": "v2.1",
  "baseUrl": "https://shoppingcontent.googleapis.com/content/v2.1/",
  "ownerName": "Google",
  "rootUrl": "https://shoppingcontent.googleapis.com/",
  "servicePath": "content/v2.1/",
  "resources": {
    "reports": {
      "methods": {
        "search": {
          "id": "content.reports.search",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "POST",
          "parameterOrder": [
            "merchantId"
          ],
          "parameters": {
            "merchantId": {
              "format": "int64",
              "type": "string",
              "description": "Required. Id of the merchant making the call. Must be a standalone account or an MCA subaccount.",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "SearchResponse"
          },
          "request": {
            "$ref": "SearchRequest"
          },
          "description": "Retrieves merchant performance metrics matching the search query and optionally segmented by selected dimensions.",
          "path": "{merchantId}/reports/search",
          "flatPath": "{merchantId}/reports/search"
        }
      }
    },
    "pubsubnotificationsettings": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "merchantId": {
              "description": "The ID of the account for which to get pubsub notification settings.",
              "required": true,
              "format": "uint64",
              "type": "string",
              "location": "path"
            }
          },
          "description": "Retrieves a Merchant Center account's pubsub notification settings.",
          "httpMethod": "GET",
          "id": "content.pubsubnotificationsettings.get",
          "path": "{merchantId}/pubsubnotificationsettings",
          "parameterOrder": [
            "merchantId"
          ],
          "response": {
            "$ref": "PubsubNotificationSettings"
          },
          "flatPath": "{merchantId}/pubsubnotificationsettings"
        },
        "update": {
          "httpMethod": "PUT",
          "id": "content.pubsubnotificationsettings.update",
          "response": {
            "$ref": "PubsubNotificationSettings"
          },
          "path": "{merchantId}/pubsubnotificationsettings",
          "request": {
            "$ref": "PubsubNotificationSettings"
          },
          "parameters": {
            "merchantId": {
              "description": "The ID of the account.",
              "location": "path",
              "type": "string",
              "format": "uint64",
              "required": true
            }
          },
          "flatPath": "{merchantId}/pubsubnotificationsettings",
          "description": "Register a Merchant Center account for pubsub notifications. Note that cloud topic name shouldn't be provided as part of the request.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId"
          ]
        }
      }
    },
    "productstatuses": {
      "methods": {
        "list": {
          "description": "Lists the statuses of the products in your Merchant Center account.",
          "parameterOrder": [
            "merchantId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "destinations": {
              "description": "If set, only issues for the specified destinations are returned, otherwise only issues for the Shopping destination.",
              "repeated": true,
              "type": "string",
              "location": "query"
            },
            "merchantId": {
              "description": "The ID of the account that contains the products. This account cannot be a multi-client account.",
              "required": true,
              "location": "path",
              "format": "uint64",
              "type": "string"
            },
            "maxResults": {
              "description": "The maximum number of product statuses to return in the response, used for paging. The default value is 25. The maximum value is 250.",
              "location": "query",
              "type": "integer",
              "format": "uint32"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "type": "string",
              "location": "query"
            }
          },
          "flatPath": "{merchantId}/productstatuses",
          "response": {
            "$ref": "ProductstatusesListResponse"
          },
          "httpMethod": "GET",
          "path": "{merchantId}/productstatuses",
          "id": "content.productstatuses.list"
        },
        "get": {
          "path": "{merchantId}/productstatuses/{productId}",
          "parameters": {
            "destinations": {
              "location": "query",
              "type": "string",
              "description": "If set, only issues for the specified destinations are returned, otherwise only issues for the Shopping destination.",
              "repeated": true
            },
            "merchantId": {
              "format": "uint64",
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the account that contains the product. This account cannot be a multi-client account."
            },
            "productId": {
              "description": "The REST ID of the product.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "merchantId",
            "productId"
          ],
          "description": "Gets the status of a product from your Merchant Center account.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "{merchantId}/productstatuses/{productId}",
          "id": "content.productstatuses.get",
          "response": {
            "$ref": "ProductStatus"
          }
        },
        "custombatch": {
          "httpMethod": "POST",
          "response": {
            "$ref": "ProductstatusesCustomBatchResponse"
          },
          "flatPath": "productstatuses/batch",
          "description": "Gets the statuses of multiple products in a single request.",
          "parameterOrder": [],
          "parameters": {},
          "path": "productstatuses/batch",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "request": {
            "$ref": "ProductstatusesCustomBatchRequest"
          },
          "id": "content.productstatuses.custombatch"
        }
      }
    },
    "liasettings": {
      "methods": {
        "listposdataproviders": {
          "response": {
            "$ref": "LiasettingsListPosDataProvidersResponse"
          },
          "path": "liasettings/posdataproviders",
          "httpMethod": "GET",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "liasettings/posdataproviders",
          "parameters": {},
          "id": "content.liasettings.listposdataproviders",
          "description": "Retrieves the list of POS data providers that have active settings for the all eiligible countries."
        },
        "update": {
          "id": "content.liasettings.update",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "{merchantId}/liasettings/{accountId}",
          "response": {
            "$ref": "LiaSettings"
          },
          "request": {
            "$ref": "LiaSettings"
          },
          "httpMethod": "PUT",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "description": "Updates the LIA settings of the account. Any fields that are not provided are deleted from the resource.",
          "flatPath": "{merchantId}/liasettings/{accountId}",
          "parameters": {
            "accountId": {
              "location": "path",
              "type": "string",
              "required": true,
              "format": "uint64",
              "description": "The ID of the account for which to get or update LIA settings."
            },
            "merchantId": {
              "required": true,
              "format": "uint64",
              "type": "string",
              "location": "path",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account."
            }
          }
        },
        "list": {
          "path": "{merchantId}/liasettings",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "merchantId": {
              "required": true,
              "description": "The ID of the managing account. This must be a multi-client account.",
              "type": "string",
              "location": "path",
              "format": "uint64"
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "description": "The maximum number of LIA settings to return in the response, used for paging.",
              "format": "uint32"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "type": "string",
              "location": "query"
            }
          },
          "id": "content.liasettings.list",
          "httpMethod": "GET",
          "description": "Lists the LIA settings of the sub-accounts in your Merchant Center account.",
          "response": {
            "$ref": "LiasettingsListResponse"
          },
          "flatPath": "{merchantId}/liasettings",
          "parameterOrder": [
            "merchantId"
          ]
        },
        "requestinventoryverification": {
          "description": "Requests inventory validation for the specified country.",
          "parameters": {
            "country": {
              "type": "string",
              "description": "The country for which inventory validation is requested.",
              "location": "path",
              "required": true
            },
            "accountId": {
              "type": "string",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true
            },
            "merchantId": {
              "location": "path",
              "format": "uint64",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "POST",
          "id": "content.liasettings.requestinventoryverification",
          "parameterOrder": [
            "merchantId",
            "accountId",
            "country"
          ],
          "flatPath": "{merchantId}/liasettings/{accountId}/requestinventoryverification/{country}",
          "response": {
            "$ref": "LiasettingsRequestInventoryVerificationResponse"
          },
          "path": "{merchantId}/liasettings/{accountId}/requestinventoryverification/{country}"
        },
        "setinventoryverificationcontact": {
          "response": {
            "$ref": "LiasettingsSetInventoryVerificationContactResponse"
          },
          "path": "{merchantId}/liasettings/{accountId}/setinventoryverificationcontact",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId",
            "accountId",
            "country",
            "language",
            "contactName",
            "contactEmail"
          ],
          "flatPath": "{merchantId}/liasettings/{accountId}/setinventoryverificationcontact",
          "id": "content.liasettings.setinventoryverificationcontact",
          "description": "Sets the inventory verification contact for the specified country.",
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "format": "uint64",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "contactEmail": {
              "location": "query",
              "description": "The email of the inventory verification contact.",
              "required": true,
              "type": "string"
            },
            "country": {
              "required": true,
              "type": "string",
              "description": "The country for which inventory verification is requested.",
              "location": "query"
            },
            "accountId": {
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "type": "string",
              "location": "path",
              "required": true,
              "format": "uint64"
            },
            "contactName": {
              "required": true,
              "type": "string",
              "description": "The name of the inventory verification contact.",
              "location": "query"
            },
            "language": {
              "required": true,
              "type": "string",
              "description": "The language for which inventory verification is requested.",
              "location": "query"
            }
          }
        },
        "get": {
          "id": "content.liasettings.get",
          "description": "Retrieves the LIA settings of the account.",
          "response": {
            "$ref": "LiaSettings"
          },
          "flatPath": "{merchantId}/liasettings/{accountId}",
          "parameters": {
            "merchantId": {
              "required": true,
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "format": "uint64",
              "type": "string",
              "location": "path"
            },
            "accountId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the account for which to get or update LIA settings.",
              "format": "uint64",
              "required": true
            }
          },
          "path": "{merchantId}/liasettings/{accountId}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId",
            "accountId"
          ]
        },
        "setomnichannelexperience": {
          "flatPath": "{merchantId}/liasettings/{accountId}/setomnichannelexperience",
          "id": "content.liasettings.setomnichannelexperience",
          "path": "{merchantId}/liasettings/{accountId}/setomnichannelexperience",
          "response": {
            "$ref": "LiaOmnichannelExperience"
          },
          "parameters": {
            "pickupTypes": {
              "repeated": true,
              "description": "The Pickup types for this country. Acceptable values are: - \"`pickupToday`\" - \"`pickupLater`\" ",
              "type": "string",
              "location": "query"
            },
            "accountId": {
              "location": "path",
              "required": true,
              "format": "uint64",
              "type": "string",
              "description": "The ID of the account for which to retrieve accessible Business Profiles."
            },
            "lsfType": {
              "location": "query",
              "description": "The Local Store Front (LSF) type for this country. Acceptable values are: - \"`ghlsf`\" (Google-Hosted Local Store Front) - \"`mhlsfBasic`\" (Merchant-Hosted Local Store Front Basic) - \"`mhlsfFull`\" (Merchant-Hosted Local Store Front Full) More details about these types can be found here.",
              "type": "string"
            },
            "country": {
              "type": "string",
              "description": "The CLDR country code (for example, \"US\") for which the omnichannel experience is selected.",
              "location": "query"
            },
            "merchantId": {
              "location": "path",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "type": "string",
              "format": "uint64",
              "required": true
            }
          },
          "httpMethod": "POST",
          "description": "Sets the omnichannel experience for the specified country. Only supported for merchants whose POS data provider is trusted to enable the corresponding experience. For more context, see these help articles [about LFP](https://support.google.com/merchants/answer/7676652) and [how to get started](https://support.google.com/merchants/answer/7676578) with it.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId",
            "accountId"
          ]
        },
        "custombatch": {
          "flatPath": "liasettings/batch",
          "httpMethod": "POST",
          "parameters": {},
          "response": {
            "$ref": "LiasettingsCustomBatchResponse"
          },
          "parameterOrder": [],
          "description": "Retrieves and/or updates the LIA settings of multiple accounts in a single request.",
          "path": "liasettings/batch",
          "id": "content.liasettings.custombatch",
          "request": {
            "$ref": "LiasettingsCustomBatchRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "getaccessiblegmbaccounts": {
          "id": "content.liasettings.getaccessiblegmbaccounts",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "parameters": {
            "merchantId": {
              "required": true,
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "format": "uint64",
              "type": "string",
              "location": "path"
            },
            "accountId": {
              "location": "path",
              "description": "The ID of the account for which to retrieve accessible Business Profiles.",
              "format": "uint64",
              "type": "string",
              "required": true
            }
          },
          "httpMethod": "GET",
          "description": "Retrieves the list of accessible Business Profiles.",
          "response": {
            "$ref": "LiasettingsGetAccessibleGmbAccountsResponse"
          },
          "flatPath": "{merchantId}/liasettings/{accountId}/accessiblegmbaccounts",
          "path": "{merchantId}/liasettings/{accountId}/accessiblegmbaccounts",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "requestgmbaccess": {
          "description": "Requests access to a specified Business Profile.",
          "parameterOrder": [
            "merchantId",
            "accountId",
            "gmbEmail"
          ],
          "flatPath": "{merchantId}/liasettings/{accountId}/requestgmbaccess",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "LiasettingsRequestGmbAccessResponse"
          },
          "id": "content.liasettings.requestgmbaccess",
          "parameters": {
            "gmbEmail": {
              "location": "query",
              "description": "The email of the Business Profile.",
              "required": true,
              "type": "string"
            },
            "merchantId": {
              "location": "path",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "format": "uint64",
              "type": "string",
              "required": true
            },
            "accountId": {
              "required": true,
              "type": "string",
              "description": "The ID of the account for which Business Profile access is requested.",
              "format": "uint64",
              "location": "path"
            }
          },
          "path": "{merchantId}/liasettings/{accountId}/requestgmbaccess",
          "httpMethod": "POST"
        },
        "setposdataprovider": {
          "parameterOrder": [
            "merchantId",
            "accountId",
            "country"
          ],
          "path": "{merchantId}/liasettings/{accountId}/setposdataprovider",
          "flatPath": "{merchantId}/liasettings/{accountId}/setposdataprovider",
          "description": "Sets the POS data provider for the specified country.",
          "parameters": {
            "merchantId": {
              "required": true,
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "format": "uint64",
              "type": "string",
              "location": "path"
            },
            "posDataProviderId": {
              "description": "The ID of POS data provider.",
              "type": "string",
              "location": "query",
              "format": "uint64"
            },
            "country": {
              "location": "query",
              "description": "The country for which the POS data provider is selected.",
              "required": true,
              "type": "string"
            },
            "accountId": {
              "description": "The ID of the account for which to retrieve accessible Business Profiles.",
              "type": "string",
              "location": "path",
              "format": "uint64",
              "required": true
            },
            "posExternalAccountId": {
              "description": "The account ID by which this merchant is known to the POS data provider.",
              "location": "query",
              "type": "string"
            }
          },
          "id": "content.liasettings.setposdataprovider",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "LiasettingsSetPosDataProviderResponse"
          }
        }
      }
    },
    "quotas": {
      "methods": {
        "list": {
          "description": "Lists the daily call quota and usage per method for your Merchant Center account.",
          "parameters": {
            "pageSize": {
              "type": "integer",
              "description": "The maximum number of quotas to return in the response, used for paging. Defaults to 500; values above 1000 will be coerced to 1000.",
              "location": "query",
              "format": "int32"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Token (if provided) to retrieve the subsequent page. All other parameters must match the original call that provided the page token."
            },
            "merchantId": {
              "format": "int64",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. The ID of the account that has quota. This account must be an admin."
            }
          },
          "httpMethod": "GET",
          "id": "content.quotas.list",
          "parameterOrder": [
            "merchantId"
          ],
          "response": {
            "$ref": "ListMethodQuotasResponse"
          },
          "path": "{merchantId}/quotas",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "{merchantId}/quotas"
        }
      }
    },
    "conversionsources": {
      "methods": {
        "undelete": {
          "parameters": {
            "merchantId": {
              "location": "path",
              "description": "Required. The ID of the account that owns the new conversion source.",
              "format": "int64",
              "type": "string",
              "required": true
            },
            "conversionSourceId": {
              "location": "path",
              "required": true,
              "description": "Required. The ID of the conversion source to be undeleted.",
              "type": "string"
            }
          },
          "description": "Re-enables an archived conversion source.",
          "request": {
            "$ref": "UndeleteConversionSourceRequest"
          },
          "path": "{merchantId}/conversionsources/{conversionSourceId}:undelete",
          "parameterOrder": [
            "merchantId",
            "conversionSourceId"
          ],
          "httpMethod": "POST",
          "flatPath": "{merchantId}/conversionsources/{conversionSourceId}:undelete",
          "id": "content.conversionsources.undelete",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "list": {
          "description": "Retrieves the list of conversion sources the caller has access to.",
          "id": "content.conversionsources.list",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId"
          ],
          "parameters": {
            "showDeleted": {
              "location": "query",
              "description": "If true, also returns archived conversion sources.",
              "type": "boolean"
            },
            "merchantId": {
              "format": "int64",
              "description": "Required. The ID of the account that owns the new conversion source.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "pageToken": {
              "description": "Page token.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "description": "The maximum number of conversion sources to return in a page. If no `page_size` is specified, `100` is used as the default value. The maximum value is `200`. Values above `200` will be coerced to `200`. Regardless of pagination, at most `200` conversion sources are returned in total.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            }
          },
          "response": {
            "$ref": "ListConversionSourcesResponse"
          },
          "path": "{merchantId}/conversionsources",
          "flatPath": "{merchantId}/conversionsources"
        },
        "patch": {
          "httpMethod": "PATCH",
          "id": "content.conversionsources.patch",
          "parameterOrder": [
            "merchantId",
            "conversionSourceId"
          ],
          "path": "{merchantId}/conversionsources/{conversionSourceId}",
          "parameters": {
            "merchantId": {
              "type": "string",
              "required": true,
              "location": "path",
              "format": "int64",
              "description": "Required. The ID of the account that owns the new conversion source."
            },
            "updateMask": {
              "location": "query",
              "type": "string",
              "description": "Optional. List of fields being updated. The following fields can be updated: `attribution_settings`, `display_name`, `currency_code`.",
              "format": "google-fieldmask"
            },
            "conversionSourceId": {
              "type": "string",
              "location": "path",
              "description": "Required. The ID of the conversion source to be updated.",
              "required": true
            }
          },
          "response": {
            "$ref": "ConversionSource"
          },
          "description": "Updates information of an existing conversion source.",
          "request": {
            "$ref": "ConversionSource"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "{merchantId}/conversionsources/{conversionSourceId}"
        },
        "create": {
          "id": "content.conversionsources.create",
          "path": "{merchantId}/conversionsources",
          "parameterOrder": [
            "merchantId"
          ],
          "parameters": {
            "merchantId": {
              "type": "string",
              "required": true,
              "location": "path",
              "format": "int64",
              "description": "Required. The ID of the account that owns the new conversion source."
            }
          },
          "flatPath": "{merchantId}/conversionsources",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Creates a new conversion source.",
          "request": {
            "$ref": "ConversionSource"
          },
          "response": {
            "$ref": "ConversionSource"
          },
          "httpMethod": "POST"
        },
        "delete": {
          "description": "Archives an existing conversion source. It will be recoverable for 30 days. This archiving behavior is not typical in the Content API and unique to this service.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "conversionSourceId": {
              "location": "path",
              "description": "Required. The ID of the conversion source to be deleted.",
              "type": "string",
              "required": true
            },
            "merchantId": {
              "format": "int64",
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Required. The ID of the account that owns the new conversion source."
            }
          },
          "id": "content.conversionsources.delete",
          "flatPath": "{merchantId}/conversionsources/{conversionSourceId}",
          "httpMethod": "DELETE",
          "path": "{merchantId}/conversionsources/{conversionSourceId}",
          "parameterOrder": [
            "merchantId",
            "conversionSourceId"
          ]
        },
        "get": {
          "path": "{merchantId}/conversionsources/{conversionSourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Fetches a conversion source.",
          "flatPath": "{merchantId}/conversionsources/{conversionSourceId}",
          "httpMethod": "GET",
          "parameterOrder": [
            "merchantId",
            "conversionSourceId"
          ],
          "parameters": {
            "merchantId": {
              "description": "Required. The ID of the account that owns the new conversion source.",
              "format": "int64",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "conversionSourceId": {
              "description": "Required. The REST ID of the collection.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "id": "content.conversionsources.get",
          "response": {
            "$ref": "ConversionSource"
          }
        }
      }
    },
    "accounttax": {
      "methods": {
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Updates the tax settings of the account. Any fields that are not provided are deleted from the resource.",
          "id": "content.accounttax.update",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "request": {
            "$ref": "AccountTax"
          },
          "response": {
            "$ref": "AccountTax"
          },
          "httpMethod": "PUT",
          "path": "{merchantId}/accounttax/{accountId}",
          "flatPath": "{merchantId}/accounttax/{accountId}",
          "parameters": {
            "accountId": {
              "format": "uint64",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the account for which to get/update account tax settings."
            },
            "merchantId": {
              "required": true,
              "type": "string",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "location": "path",
              "format": "uint64"
            }
          }
        },
        "list": {
          "description": "Lists the tax settings of the sub-accounts in your Merchant Center account.",
          "id": "content.accounttax.list",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId"
          ],
          "response": {
            "$ref": "AccounttaxListResponse"
          },
          "httpMethod": "GET",
          "path": "{merchantId}/accounttax",
          "flatPath": "{merchantId}/accounttax",
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The token returned by the previous request."
            },
            "merchantId": {
              "required": true,
              "format": "uint64",
              "description": "The ID of the managing account. This must be a multi-client account.",
              "type": "string",
              "location": "path"
            },
            "maxResults": {
              "format": "uint32",
              "location": "query",
              "description": "The maximum number of tax settings to return in the response, used for paging.",
              "type": "integer"
            }
          }
        },
        "custombatch": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "accounttax/batch",
          "httpMethod": "POST",
          "parameterOrder": [],
          "response": {
            "$ref": "AccounttaxCustomBatchResponse"
          },
          "parameters": {},
          "flatPath": "accounttax/batch",
          "id": "content.accounttax.custombatch",
          "request": {
            "$ref": "AccounttaxCustomBatchRequest"
          },
          "description": "Retrieves and updates tax settings of multiple accounts in a single request."
        },
        "get": {
          "path": "{merchantId}/accounttax/{accountId}",
          "httpMethod": "GET",
          "description": "Retrieves the tax settings of the account.",
          "parameters": {
            "merchantId": {
              "format": "uint64",
              "required": true,
              "type": "string",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "location": "path"
            },
            "accountId": {
              "location": "path",
              "description": "The ID of the account for which to get/update account tax settings.",
              "type": "string",
              "format": "uint64",
              "required": true
            }
          },
          "flatPath": "{merchantId}/accounttax/{accountId}",
          "id": "content.accounttax.get",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "response": {
            "$ref": "AccountTax"
          }
        }
      }
    },
    "accountstatuses": {
      "methods": {
        "custombatch": {
          "response": {
            "$ref": "AccountstatusesCustomBatchResponse"
          },
          "parameters": {},
          "parameterOrder": [],
          "description": "Retrieves multiple Merchant Center account statuses in a single request.",
          "path": "accountstatuses/batch",
          "flatPath": "accountstatuses/batch",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.accountstatuses.custombatch",
          "request": {
            "$ref": "AccountstatusesCustomBatchRequest"
          }
        },
        "get": {
          "response": {
            "$ref": "AccountStatus"
          },
          "parameters": {
            "destinations": {
              "description": "If set, only issues for the specified destinations are returned, otherwise only issues for the Shopping destination.",
              "location": "query",
              "type": "string",
              "repeated": true
            },
            "merchantId": {
              "location": "path",
              "format": "uint64",
              "required": true,
              "type": "string",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account."
            },
            "accountId": {
              "description": "The ID of the account.",
              "required": true,
              "format": "uint64",
              "type": "string",
              "location": "path"
            }
          },
          "flatPath": "{merchantId}/accountstatuses/{accountId}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "description": "Retrieves the status of a Merchant Center account. No itemLevelIssues are returned for multi-client accounts.",
          "path": "{merchantId}/accountstatuses/{accountId}",
          "id": "content.accountstatuses.get"
        },
        "list": {
          "response": {
            "$ref": "AccountstatusesListResponse"
          },
          "description": "Lists the statuses of the sub-accounts in your Merchant Center account.",
          "flatPath": "{merchantId}/accountstatuses",
          "id": "content.accountstatuses.list",
          "httpMethod": "GET",
          "parameterOrder": [
            "merchantId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "{merchantId}/accountstatuses",
          "parameters": {
            "destinations": {
              "repeated": true,
              "description": "If set, only issues for the specified destinations are returned, otherwise only issues for the Shopping destination.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            },
            "name": {
              "type": "string",
              "description": "If set, only the accounts with the given name (case sensitive) will be returned.",
              "location": "query"
            },
            "merchantId": {
              "type": "string",
              "description": "The ID of the managing account. This must be a multi-client account.",
              "required": true,
              "format": "uint64",
              "location": "path"
            },
            "maxResults": {
              "location": "query",
              "description": "The maximum number of account statuses to return in the response, used for paging.",
              "format": "uint32",
              "type": "integer"
            }
          }
        }
      }
    },
    "accounts": {
      "methods": {
        "list": {
          "flatPath": "{merchantId}/accounts",
          "id": "content.accounts.list",
          "response": {
            "$ref": "AccountsListResponse"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "merchantId"
          ],
          "path": "{merchantId}/accounts",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "view": {
              "type": "string",
              "enum": [
                "MERCHANT",
                "CSS"
              ],
              "location": "query",
              "description": "Controls which fields will be populated. Acceptable values are: \"merchant\" and \"css\". The default value is \"merchant\".",
              "enumDescriptions": [
                "Default. View is populated with Merchant Center fields.",
                "View is populated with Comparison Shopping Services fields."
              ]
            },
            "name": {
              "description": "If set, only the accounts with the given name (case sensitive) will be returned.",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "type": "string",
              "location": "query"
            },
            "label": {
              "format": "uint64",
              "type": "string",
              "description": "If view is set to \"css\", only return accounts that are assigned label with given ID.",
              "location": "query"
            },
            "merchantId": {
              "description": "The ID of the managing account. This must be a multi-client account.",
              "required": true,
              "format": "uint64",
              "type": "string",
              "location": "path"
            },
            "maxResults": {
              "format": "uint32",
              "description": "The maximum number of accounts to return in the response, used for paging.",
              "type": "integer",
              "location": "query"
            }
          },
          "description": "Lists the sub-accounts in your Merchant Center account."
        },
        "authinfo": {
          "httpMethod": "GET",
          "parameterOrder": [],
          "parameters": {},
          "path": "accounts/authinfo",
          "flatPath": "accounts/authinfo",
          "response": {
            "$ref": "AccountsAuthInfoResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Returns information about the authenticated user.",
          "id": "content.accounts.authinfo"
        },
        "updatelabels": {
          "httpMethod": "POST",
          "flatPath": "{merchantId}/accounts/{accountId}/updatelabels",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "request": {
            "$ref": "AccountsUpdateLabelsRequest"
          },
          "parameters": {
            "accountId": {
              "format": "uint64",
              "required": true,
              "description": "The ID of the account whose labels are updated.",
              "location": "path",
              "type": "string"
            },
            "merchantId": {
              "required": true,
              "description": "The ID of the managing account.",
              "type": "string",
              "format": "uint64",
              "location": "path"
            }
          },
          "response": {
            "$ref": "AccountsUpdateLabelsResponse"
          },
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "description": "Updates labels that are assigned to the Merchant Center account by CSS user.",
          "path": "{merchantId}/accounts/{accountId}/updatelabels",
          "id": "content.accounts.updatelabels"
        },
        "verifyphonenumber": {
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "parameters": {
            "merchantId": {
              "format": "int64",
              "location": "path",
              "required": true,
              "description": "Required. The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and accountId must be the ID of a sub-account of this account.",
              "type": "string"
            },
            "accountId": {
              "location": "path",
              "type": "string",
              "format": "int64",
              "description": "Required. The ID of the account.",
              "required": true
            }
          },
          "id": "content.accounts.verifyphonenumber",
          "request": {
            "$ref": "VerifyPhoneNumberRequest"
          },
          "httpMethod": "POST",
          "path": "{merchantId}/accounts/{accountId}/verifyphonenumber",
          "response": {
            "$ref": "VerifyPhoneNumberResponse"
          },
          "description": "Validates verification code to verify phone number for the account. If successful this will overwrite the value of `accounts.businessinformation.phoneNumber`. Only verified phone number will replace an existing verified phone number.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "{merchantId}/accounts/{accountId}/verifyphonenumber"
        },
        "get": {
          "id": "content.accounts.get",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "Account"
          },
          "path": "{merchantId}/accounts/{accountId}",
          "parameters": {
            "accountId": {
              "type": "string",
              "location": "path",
              "required": true,
              "format": "uint64",
              "description": "The ID of the account."
            },
            "merchantId": {
              "required": true,
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "format": "uint64",
              "type": "string",
              "location": "path"
            },
            "view": {
              "location": "query",
              "type": "string",
              "enum": [
                "MERCHANT",
                "CSS"
              ],
              "description": "Controls which fields will be populated. Acceptable values are: \"merchant\" and \"css\". The default value is \"merchant\".",
              "enumDescriptions": [
                "Default. View is populated with Merchant Center fields.",
                "View is populated with Comparison Shopping Services fields."
              ]
            }
          },
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "flatPath": "{merchantId}/accounts/{accountId}",
          "description": "Retrieves a Merchant Center account."
        },
        "requestphoneverification": {
          "httpMethod": "POST",
          "parameters": {
            "accountId": {
              "format": "int64",
              "type": "string",
              "required": true,
              "description": "Required. The ID of the account.",
              "location": "path"
            },
            "merchantId": {
              "location": "path",
              "description": "Required. The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and accountId must be the ID of a sub-account of this account.",
              "format": "int64",
              "type": "string",
              "required": true
            }
          },
          "request": {
            "$ref": "RequestPhoneVerificationRequest"
          },
          "flatPath": "{merchantId}/accounts/{accountId}/requestphoneverification",
          "path": "{merchantId}/accounts/{accountId}/requestphoneverification",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "description": "Request verification code to start phone verification.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.accounts.requestphoneverification",
          "response": {
            "$ref": "RequestPhoneVerificationResponse"
          }
        },
        "claimwebsite": {
          "id": "content.accounts.claimwebsite",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Claims the website of a Merchant Center sub-account. Merchant accounts with approved third-party CSSs aren't required to claim a website.",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "response": {
            "$ref": "AccountsClaimWebsiteResponse"
          },
          "path": "{merchantId}/accounts/{accountId}/claimwebsite",
          "parameters": {
            "merchantId": {
              "required": true,
              "location": "path",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "format": "uint64",
              "type": "string"
            },
            "accountId": {
              "description": "The ID of the account whose website is claimed.",
              "required": true,
              "format": "uint64",
              "location": "path",
              "type": "string"
            },
            "overwrite": {
              "location": "query",
              "type": "boolean",
              "description": "Only available to selected merchants, for example multi-client accounts (MCAs) and their sub-accounts. When set to `True`, this option removes any existing claim on the requested website and replaces it with a claim from the account that makes the request."
            }
          },
          "httpMethod": "POST",
          "flatPath": "{merchantId}/accounts/{accountId}/claimwebsite"
        },
        "update": {
          "request": {
            "$ref": "Account"
          },
          "flatPath": "{merchantId}/accounts/{accountId}",
          "httpMethod": "PUT",
          "response": {
            "$ref": "Account"
          },
          "id": "content.accounts.update",
          "description": "Updates a Merchant Center account. Any fields that are not provided are deleted from the resource.",
          "parameters": {
            "merchantId": {
              "type": "string",
              "location": "path",
              "format": "uint64",
              "required": true,
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account."
            },
            "accountId": {
              "description": "The ID of the account.",
              "format": "uint64",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "{merchantId}/accounts/{accountId}"
        },
        "insert": {
          "parameters": {
            "merchantId": {
              "description": "The ID of the managing account. This must be a multi-client account.",
              "type": "string",
              "required": true,
              "format": "uint64",
              "location": "path"
            }
          },
          "response": {
            "$ref": "Account"
          },
          "description": "Creates a Merchant Center sub-account.",
          "parameterOrder": [
            "merchantId"
          ],
          "httpMethod": "POST",
          "flatPath": "{merchantId}/accounts",
          "id": "content.accounts.insert",
          "request": {
            "$ref": "Account"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "{merchantId}/accounts"
        },
        "custombatch": {
          "path": "accounts/batch",
          "response": {
            "$ref": "AccountsCustomBatchResponse"
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "accounts/batch",
          "request": {
            "$ref": "AccountsCustomBatchRequest"
          },
          "id": "content.accounts.custombatch",
          "parameters": {},
          "description": "Retrieves, inserts, updates, and deletes multiple Merchant Center (sub-)accounts in a single request.",
          "httpMethod": "POST"
        },
        "listlinks": {
          "httpMethod": "GET",
          "description": "Returns the list of accounts linked to your Merchant Center account.",
          "path": "{merchantId}/accounts/{accountId}/listlinks",
          "parameters": {
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            },
            "merchantId": {
              "required": true,
              "type": "string",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "format": "uint64",
              "location": "path"
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "format": "uint32",
              "description": "The maximum number of links to return in the response, used for pagination. The minimum allowed value is 5 results per page. If provided value is lower than 5, it will be automatically increased to 5."
            },
            "accountId": {
              "description": "The ID of the account for which to list links.",
              "format": "uint64",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "id": "content.accounts.listlinks",
          "flatPath": "{merchantId}/accounts/{accountId}/listlinks",
          "response": {
            "$ref": "AccountsListLinksResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "delete": {
          "description": "Deletes a Merchant Center sub-account.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "DELETE",
          "path": "{merchantId}/accounts/{accountId}",
          "flatPath": "{merchantId}/accounts/{accountId}",
          "parameters": {
            "force": {
              "default": "false",
              "location": "query",
              "type": "boolean",
              "description": "Option to delete sub-accounts with products. The default value is false."
            },
            "accountId": {
              "required": true,
              "type": "string",
              "description": "The ID of the account.",
              "format": "uint64",
              "location": "path"
            },
            "merchantId": {
              "description": "The ID of the managing account. This must be a multi-client account, and accountId must be the ID of a sub-account of this account.",
              "required": true,
              "type": "string",
              "format": "uint64",
              "location": "path"
            }
          },
          "id": "content.accounts.delete",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ]
        },
        "link": {
          "response": {
            "$ref": "AccountsLinkResponse"
          },
          "path": "{merchantId}/accounts/{accountId}/link",
          "id": "content.accounts.link",
          "request": {
            "$ref": "AccountsLinkRequest"
          },
          "flatPath": "{merchantId}/accounts/{accountId}/link",
          "description": "Performs an action on a link between two Merchant Center accounts, namely accountId and linkedAccountId.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "POST",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "parameters": {
            "accountId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the account that should be linked.",
              "format": "uint64",
              "required": true
            },
            "merchantId": {
              "format": "uint64",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          }
        }
      },
      "resources": {
        "labels": {
          "methods": {
            "patch": {
              "parameterOrder": [
                "accountId",
                "labelId"
              ],
              "description": "Updates a label.",
              "flatPath": "accounts/{accountId}/labels/{labelId}",
              "httpMethod": "PATCH",
              "parameters": {
                "labelId": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The id of the label to update.",
                  "format": "int64",
                  "type": "string"
                },
                "accountId": {
                  "format": "int64",
                  "location": "path",
                  "required": true,
                  "description": "Required. The id of the account this label belongs to.",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "AccountLabel"
              },
              "id": "content.accounts.labels.patch",
              "path": "accounts/{accountId}/labels/{labelId}",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "response": {
                "$ref": "AccountLabel"
              }
            },
            "list": {
              "id": "content.accounts.labels.list",
              "parameterOrder": [
                "accountId"
              ],
              "flatPath": "accounts/{accountId}/labels",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "The maximum number of labels to return. The service may return fewer than this value. If unspecified, at most 50 labels will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "type": "integer"
                },
                "accountId": {
                  "location": "path",
                  "format": "int64",
                  "required": true,
                  "description": "Required. The account id for whose labels are to be listed.",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token, received from a previous `ListAccountLabels` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccountLabels` must match the call that provided the page token."
                }
              },
              "response": {
                "$ref": "ListAccountLabelsResponse"
              },
              "path": "accounts/{accountId}/labels",
              "description": "Lists the labels assigned to an account.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "httpMethod": "GET"
            },
            "create": {
              "description": "Creates a new label, not assigned to any account.",
              "id": "content.accounts.labels.create",
              "path": "accounts/{accountId}/labels",
              "parameterOrder": [
                "accountId"
              ],
              "flatPath": "accounts/{accountId}/labels",
              "parameters": {
                "accountId": {
                  "required": true,
                  "format": "int64",
                  "description": "Required. The id of the account this label belongs to.",
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "request": {
                "$ref": "AccountLabel"
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "AccountLabel"
              }
            },
            "delete": {
              "parameterOrder": [
                "accountId",
                "labelId"
              ],
              "description": "Deletes a label and removes it from all accounts to which it was assigned.",
              "flatPath": "accounts/{accountId}/labels/{labelId}",
              "httpMethod": "DELETE",
              "path": "accounts/{accountId}/labels/{labelId}",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "content.accounts.labels.delete",
              "parameters": {
                "labelId": {
                  "type": "string",
                  "location": "path",
                  "format": "int64",
                  "required": true,
                  "description": "Required. The id of the label to delete."
                },
                "accountId": {
                  "required": true,
                  "format": "int64",
                  "description": "Required. The id of the account that owns the label.",
                  "type": "string",
                  "location": "path"
                }
              }
            }
          }
        },
        "returncarrier": {
          "methods": {
            "create": {
              "id": "content.accounts.returncarrier.create",
              "parameterOrder": [
                "accountId"
              ],
              "description": "Links return carrier to a merchant account.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "response": {
                "$ref": "AccountReturnCarrier"
              },
              "path": "accounts/{accountId}/returncarrier",
              "request": {
                "$ref": "AccountReturnCarrier"
              },
              "httpMethod": "POST",
              "parameters": {
                "accountId": {
                  "description": "Required. The Merchant Center Account Id under which the Return Carrier is to be linked.",
                  "format": "int64",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "accounts/{accountId}/returncarrier"
            },
            "delete": {
              "parameters": {
                "accountId": {
                  "required": true,
                  "location": "path",
                  "format": "int64",
                  "type": "string",
                  "description": "Required. The Merchant Center Account Id under which the Return Carrier is to be linked."
                },
                "carrierAccountId": {
                  "required": true,
                  "description": "Required. The Google-provided unique carrier ID, used to update the resource.",
                  "type": "string",
                  "format": "int64",
                  "location": "path"
                }
              },
              "flatPath": "accounts/{accountId}/returncarrier/{carrierAccountId}",
              "id": "content.accounts.returncarrier.delete",
              "description": "Delete a return carrier in the merchant account.",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "accountId",
                "carrierAccountId"
              ],
              "path": "accounts/{accountId}/returncarrier/{carrierAccountId}",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            },
            "patch": {
              "description": "Updates a return carrier in the merchant account.",
              "request": {
                "$ref": "AccountReturnCarrier"
              },
              "path": "accounts/{accountId}/returncarrier/{carrierAccountId}",
              "parameterOrder": [
                "accountId",
                "carrierAccountId"
              ],
              "flatPath": "accounts/{accountId}/returncarrier/{carrierAccountId}",
              "id": "content.accounts.returncarrier.patch",
              "httpMethod": "PATCH",
              "response": {
                "$ref": "AccountReturnCarrier"
              },
              "parameters": {
                "accountId": {
                  "format": "int64",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The Merchant Center Account Id under which the Return Carrier is to be linked."
                },
                "carrierAccountId": {
                  "required": true,
                  "description": "Required. The Google-provided unique carrier ID, used to update the resource.",
                  "format": "int64",
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            },
            "list": {
              "description": "Lists available return carriers in the merchant account.",
              "httpMethod": "GET",
              "flatPath": "accounts/{accountId}/returncarrier",
              "response": {
                "$ref": "ListAccountReturnCarrierResponse"
              },
              "id": "content.accounts.returncarrier.list",
              "parameters": {
                "accountId": {
                  "location": "path",
                  "format": "int64",
                  "type": "string",
                  "description": "Required. The Merchant Center Account Id under which the Return Carrier is to be linked.",
                  "required": true
                }
              },
              "path": "accounts/{accountId}/returncarrier",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "accountId"
              ]
            }
          }
        },
        "credentials": {
          "methods": {
            "create": {
              "id": "content.accounts.credentials.create",
              "description": "Uploads credentials for the Merchant Center account. If credentials already exist for this Merchant Center account and purpose, this method updates them.",
              "response": {
                "$ref": "AccountCredentials"
              },
              "httpMethod": "POST",
              "path": "accounts/{accountId}/credentials",
              "parameterOrder": [
                "accountId"
              ],
              "request": {
                "$ref": "AccountCredentials"
              },
              "flatPath": "accounts/{accountId}/credentials",
              "parameters": {
                "accountId": {
                  "type": "string",
                  "format": "int64",
                  "description": "Required. The merchant id of the account these credentials belong to.",
                  "required": true,
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            }
          }
        }
      }
    },
    "datafeeds": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "merchantId": {
              "type": "string",
              "required": true,
              "format": "uint64",
              "description": "The ID of the account that manages the datafeeds. This account cannot be a multi-client account.",
              "location": "path"
            },
            "maxResults": {
              "type": "integer",
              "format": "uint32",
              "description": "The maximum number of products to return in the response, used for paging.",
              "location": "query"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "type": "string",
              "location": "query"
            }
          },
          "flatPath": "{merchantId}/datafeeds",
          "description": "Lists the configurations for datafeeds in your Merchant Center account.",
          "response": {
            "$ref": "DatafeedsListResponse"
          },
          "path": "{merchantId}/datafeeds",
          "httpMethod": "GET",
          "parameterOrder": [
            "merchantId"
          ],
          "id": "content.datafeeds.list"
        },
        "delete": {
          "flatPath": "{merchantId}/datafeeds/{datafeedId}",
          "description": "Deletes a datafeed configuration from your Merchant Center account.",
          "parameters": {
            "merchantId": {
              "required": true,
              "type": "string",
              "description": "The ID of the account that manages the datafeed. This account cannot be a multi-client account.",
              "format": "uint64",
              "location": "path"
            },
            "datafeedId": {
              "type": "string",
              "location": "path",
              "format": "uint64",
              "required": true,
              "description": "The ID of the datafeed."
            }
          },
          "path": "{merchantId}/datafeeds/{datafeedId}",
          "id": "content.datafeeds.delete",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId",
            "datafeedId"
          ],
          "httpMethod": "DELETE"
        },
        "update": {
          "parameterOrder": [
            "merchantId",
            "datafeedId"
          ],
          "path": "{merchantId}/datafeeds/{datafeedId}",
          "request": {
            "$ref": "Datafeed"
          },
          "id": "content.datafeeds.update",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "{merchantId}/datafeeds/{datafeedId}",
          "httpMethod": "PUT",
          "description": "Updates a datafeed configuration of your Merchant Center account. Any fields that are not provided are deleted from the resource.",
          "parameters": {
            "merchantId": {
              "type": "string",
              "location": "path",
              "format": "uint64",
              "required": true,
              "description": "The ID of the account that manages the datafeed. This account cannot be a multi-client account."
            },
            "datafeedId": {
              "required": true,
              "type": "string",
              "location": "path",
              "format": "uint64",
              "description": "The ID of the datafeed."
            }
          },
          "response": {
            "$ref": "Datafeed"
          }
        },
        "get": {
          "id": "content.datafeeds.get",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId",
            "datafeedId"
          ],
          "flatPath": "{merchantId}/datafeeds/{datafeedId}",
          "httpMethod": "GET",
          "description": "Retrieves a datafeed configuration from your Merchant Center account.",
          "parameters": {
            "merchantId": {
              "type": "string",
              "required": true,
              "format": "uint64",
              "location": "path",
              "description": "The ID of the account that manages the datafeed. This account cannot be a multi-client account."
            },
            "datafeedId": {
              "location": "path",
              "description": "The ID of the datafeed.",
              "required": true,
              "format": "uint64",
              "type": "string"
            }
          },
          "path": "{merchantId}/datafeeds/{datafeedId}",
          "response": {
            "$ref": "Datafeed"
          }
        },
        "fetchnow": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "{merchantId}/datafeeds/{datafeedId}/fetchNow",
          "id": "content.datafeeds.fetchnow",
          "description": "Invokes a fetch for the datafeed in your Merchant Center account. If you need to call this method more than once per day, we recommend you use the [Products service](https://developers.google.com/shopping-content/reference/rest/v2.1/products) to update your product data.",
          "parameterOrder": [
            "merchantId",
            "datafeedId"
          ],
          "parameters": {
            "merchantId": {
              "type": "string",
              "required": true,
              "format": "uint64",
              "description": "The ID of the account that manages the datafeed. This account cannot be a multi-client account.",
              "location": "path"
            },
            "datafeedId": {
              "required": true,
              "description": "The ID of the datafeed to be fetched.",
              "type": "string",
              "format": "uint64",
              "location": "path"
            }
          },
          "response": {
            "$ref": "DatafeedsFetchNowResponse"
          },
          "flatPath": "{merchantId}/datafeeds/{datafeedId}/fetchNow"
        },
        "insert": {
          "parameterOrder": [
            "merchantId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "Datafeed"
          },
          "httpMethod": "POST",
          "id": "content.datafeeds.insert",
          "path": "{merchantId}/datafeeds",
          "description": "Registers a datafeed configuration with your Merchant Center account.",
          "flatPath": "{merchantId}/datafeeds",
          "request": {
            "$ref": "Datafeed"
          },
          "parameters": {
            "merchantId": {
              "format": "uint64",
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the account that manages the datafeed. This account cannot be a multi-client account."
            }
          }
        },
        "custombatch": {
          "description": "Deletes, fetches, gets, inserts and updates multiple datafeeds in a single request.",
          "flatPath": "datafeeds/batch",
          "request": {
            "$ref": "DatafeedsCustomBatchRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "DatafeedsCustomBatchResponse"
          },
          "parameters": {},
          "id": "content.datafeeds.custombatch",
          "path": "datafeeds/batch",
          "httpMethod": "POST",
          "parameterOrder": []
        }
      }
    },
    "merchantsupport": {
      "methods": {
        "renderproductissues": {
          "flatPath": "{merchantId}/merchantsupport/renderproductissues/{productId}",
          "path": "{merchantId}/merchantsupport/renderproductissues/{productId}",
          "response": {
            "$ref": "RenderProductIssuesResponse"
          },
          "description": "Provide a list of issues for merchant's product with a support content and available actions. This content and actions are meant to be rendered and shown in third-party applications.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "POST",
          "parameterOrder": [
            "merchantId",
            "productId"
          ],
          "request": {
            "$ref": "RenderProductIssuesRequestPayload"
          },
          "parameters": {
            "productId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Required. The [REST_ID](https://developers.google.com/shopping-content/reference/rest/v2.1/products#Product.FIELDS.id) of the product to fetch issues for."
            },
            "languageCode": {
              "location": "query",
              "type": "string",
              "description": "Optional. The [IETF BCP-47](https://tools.ietf.org/html/bcp47) language code used to localize support content. If not set, the result will be in default language `en-US`."
            },
            "timeZone": {
              "location": "query",
              "description": "Optional. The [IANA](https://www.iana.org/time-zones) timezone used to localize times in support content. For example 'America/Los_Angeles'. If not set, results will use as a default UTC.",
              "type": "string"
            },
            "merchantId": {
              "required": true,
              "description": "Required. The ID of the account that contains the product.",
              "type": "string",
              "format": "int64",
              "location": "path"
            }
          },
          "id": "content.merchantsupport.renderproductissues"
        },
        "triggeraction": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "{merchantId}/merchantsupport/triggeraction",
          "response": {
            "$ref": "TriggerActionResponse"
          },
          "id": "content.merchantsupport.triggeraction",
          "parameterOrder": [
            "merchantId"
          ],
          "path": "{merchantId}/merchantsupport/triggeraction",
          "request": {
            "$ref": "TriggerActionPayload"
          },
          "httpMethod": "POST",
          "description": "Start an action. The action can be requested by merchants in third-party application. Before merchants can request the action, the third-party application needs to show them action specific content and display a user input form. You can submit an allowlist request in the [Shopping API Support Form](https://support.google.com/merchants/contact/shopping_api_support_form) under \"What is the issue/question?\" to get access to this feature. The action can be successfully started only once all `required` inputs are provided. If any `required` input is missing, or invalid value was provided, the service will return 400 error. Validation errors will contain Ids for all problematic field together with translated, human readable error messages that can be shown to the user.",
          "parameters": {
            "merchantId": {
              "location": "path",
              "description": "Required. The ID of the merchant's account.",
              "format": "int64",
              "type": "string",
              "required": true
            },
            "languageCode": {
              "description": "Optional. Language code [IETF BCP 47 syntax](https://tools.ietf.org/html/bcp47) used to localize the response. If not set, the result will be in default language `en-US`.",
              "type": "string",
              "location": "query"
            }
          }
        },
        "renderaccountissues": {
          "parameterOrder": [
            "merchantId"
          ],
          "response": {
            "$ref": "RenderAccountIssuesResponse"
          },
          "parameters": {
            "merchantId": {
              "required": true,
              "type": "string",
              "description": "Required. The ID of the account to fetch issues for.",
              "format": "int64",
              "location": "path"
            },
            "languageCode": {
              "location": "query",
              "description": "Optional. The [IETF BCP-47](https://tools.ietf.org/html/bcp47) language code used to localize support content. If not set, the result will be in default language `en-US`.",
              "type": "string"
            },
            "timeZone": {
              "description": "Optional. The [IANA](https://www.iana.org/time-zones) timezone used to localize times in support content. For example 'America/Los_Angeles'. If not set, results will use as a default UTC.",
              "type": "string",
              "location": "query"
            }
          },
          "description": "Provide a list of merchant's issues with a support content and available actions. This content and actions are meant to be rendered and shown in third-party applications.",
          "flatPath": "{merchantId}/merchantsupport/renderaccountissues",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "RenderAccountIssuesRequestPayload"
          },
          "path": "{merchantId}/merchantsupport/renderaccountissues",
          "id": "content.merchantsupport.renderaccountissues"
        }
      }
    },
    "returnpolicyonline": {
      "methods": {
        "list": {
          "parameters": {
            "merchantId": {
              "required": true,
              "format": "int64",
              "type": "string",
              "description": "Required. The id of the merchant for which to retrieve the return policy online object.",
              "location": "path"
            }
          },
          "path": "{merchantId}/returnpolicyonline",
          "id": "content.returnpolicyonline.list",
          "httpMethod": "GET",
          "flatPath": "{merchantId}/returnpolicyonline",
          "description": "Lists all existing return policies.",
          "parameterOrder": [
            "merchantId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "ListReturnPolicyOnlineResponse"
          }
        },
        "get": {
          "flatPath": "{merchantId}/returnpolicyonline/{returnPolicyId}",
          "parameterOrder": [
            "merchantId",
            "returnPolicyId"
          ],
          "httpMethod": "GET",
          "id": "content.returnpolicyonline.get",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "merchantId": {
              "location": "path",
              "type": "string",
              "description": "Required. The id of the merchant for which to retrieve the return policy online object.",
              "format": "int64",
              "required": true
            },
            "returnPolicyId": {
              "location": "path",
              "type": "string",
              "description": "Required. The id of the return policy to retrieve.",
              "required": true
            }
          },
          "response": {
            "$ref": "ReturnPolicyOnline"
          },
          "description": "Gets an existing return policy.",
          "path": "{merchantId}/returnpolicyonline/{returnPolicyId}"
        },
        "patch": {
          "path": "{merchantId}/returnpolicyonline/{returnPolicyId}",
          "description": "Updates an existing return policy.",
          "parameters": {
            "merchantId": {
              "type": "string",
              "location": "path",
              "format": "int64",
              "required": true,
              "description": "Required. The id of the merchant for which to retrieve the return policy online object."
            },
            "returnPolicyId": {
              "required": true,
              "description": "Required. The id of the return policy to update.",
              "location": "path",
              "type": "string"
            }
          },
          "flatPath": "{merchantId}/returnpolicyonline/{returnPolicyId}",
          "id": "content.returnpolicyonline.patch",
          "parameterOrder": [
            "merchantId",
            "returnPolicyId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "PATCH",
          "request": {
            "$ref": "ReturnPolicyOnline"
          },
          "response": {
            "$ref": "ReturnPolicyOnline"
          }
        },
        "create": {
          "description": "Creates a new return policy.",
          "id": "content.returnpolicyonline.create",
          "parameters": {
            "merchantId": {
              "format": "int64",
              "type": "string",
              "required": true,
              "description": "Required. The id of the merchant for which to retrieve the return policy online object.",
              "location": "path"
            }
          },
          "request": {
            "$ref": "ReturnPolicyOnline"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "merchantId"
          ],
          "response": {
            "$ref": "ReturnPolicyOnline"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "{merchantId}/returnpolicyonline",
          "flatPath": "{merchantId}/returnpolicyonline"
        },
        "delete": {
          "flatPath": "{merchantId}/returnpolicyonline/{returnPolicyId}",
          "description": "Deletes an existing return policy.",
          "path": "{merchantId}/returnpolicyonline/{returnPolicyId}",
          "httpMethod": "DELETE",
          "parameters": {
            "merchantId": {
              "type": "string",
              "location": "path",
              "required": true,
              "format": "int64",
              "description": "Required. The id of the merchant for which to retrieve the return policy online object."
            },
            "returnPolicyId": {
              "description": "Required. The id of the return policy to delete.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "id": "content.returnpolicyonline.delete",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId",
            "returnPolicyId"
          ]
        }
      }
    },
    "freelistingsprogram": {
      "resources": {
        "checkoutsettings": {
          "methods": {
            "insert": {
              "path": "{merchantId}/freelistingsprogram/checkoutsettings",
              "description": "Enrolls merchant in `Checkout` program.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "CheckoutSettings"
              },
              "request": {
                "$ref": "InsertCheckoutSettingsRequest"
              },
              "id": "content.freelistingsprogram.checkoutsettings.insert",
              "parameterOrder": [
                "merchantId"
              ],
              "parameters": {
                "merchantId": {
                  "format": "int64",
                  "required": true,
                  "type": "string",
                  "description": "Required. The ID of the account.",
                  "location": "path"
                }
              },
              "flatPath": "{merchantId}/freelistingsprogram/checkoutsettings"
            },
            "delete": {
              "parameterOrder": [
                "merchantId"
              ],
              "id": "content.freelistingsprogram.checkoutsettings.delete",
              "parameters": {
                "merchantId": {
                  "required": true,
                  "location": "path",
                  "format": "int64",
                  "description": "Required. The ID of the account.",
                  "type": "string"
                }
              },
              "path": "{merchantId}/freelistingsprogram/checkoutsettings",
              "description": "Deletes `Checkout` settings and unenrolls merchant from `Checkout` program.",
              "flatPath": "{merchantId}/freelistingsprogram/checkoutsettings",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "httpMethod": "DELETE"
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "CheckoutSettings"
              },
              "path": "{merchantId}/freelistingsprogram/checkoutsettings",
              "flatPath": "{merchantId}/freelistingsprogram/checkoutsettings",
              "description": "Gets Checkout settings for the given merchant. This includes information about review state, enrollment state and URL settings.",
              "parameters": {
                "merchantId": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The ID of the account.",
                  "required": true,
                  "format": "int64"
                }
              },
              "parameterOrder": [
                "merchantId"
              ],
              "id": "content.freelistingsprogram.checkoutsettings.get"
            }
          }
        }
      },
      "methods": {
        "get": {
          "path": "{merchantId}/freelistingsprogram",
          "description": "Retrieves the status and review eligibility for the free listing program. Returns errors and warnings if they require action to resolve, will become disapprovals, or impact impressions. Use `accountstatuses` to view all issues for an account.",
          "parameters": {
            "merchantId": {
              "location": "path",
              "format": "int64",
              "type": "string",
              "description": "Required. The ID of the account.",
              "required": true
            }
          },
          "response": {
            "$ref": "FreeListingsProgramStatus"
          },
          "flatPath": "{merchantId}/freelistingsprogram",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.freelistingsprogram.get",
          "parameterOrder": [
            "merchantId"
          ]
        },
        "requestreview": {
          "parameters": {
            "merchantId": {
              "location": "path",
              "description": "Required. The ID of the account.",
              "type": "string",
              "required": true,
              "format": "int64"
            }
          },
          "description": "Requests a review of free listings in a specific region. This method deprecated. Use the `MerchantSupportService` to view product and account issues and request a review.",
          "httpMethod": "POST",
          "request": {
            "$ref": "RequestReviewFreeListingsRequest"
          },
          "parameterOrder": [
            "merchantId"
          ],
          "flatPath": "{merchantId}/freelistingsprogram/requestreview",
          "path": "{merchantId}/freelistingsprogram/requestreview",
          "id": "content.freelistingsprogram.requestreview",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        }
      }
    },
    "datafeedstatuses": {
      "methods": {
        "get": {
          "parameterOrder": [
            "merchantId",
            "datafeedId"
          ],
          "path": "{merchantId}/datafeedstatuses/{datafeedId}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Retrieves the status of a datafeed from your Merchant Center account.",
          "flatPath": "{merchantId}/datafeedstatuses/{datafeedId}",
          "httpMethod": "GET",
          "response": {
            "$ref": "DatafeedStatus"
          },
          "parameters": {
            "country": {
              "description": "Deprecated. Use `feedLabel` instead. The country to get the datafeed status for. If this parameter is provided then `language` must also be provided. Note that this parameter is required for feeds targeting multiple countries and languages, since a feed may have a different status for each target.",
              "type": "string",
              "location": "query"
            },
            "merchantId": {
              "location": "path",
              "type": "string",
              "format": "uint64",
              "description": "The ID of the account that manages the datafeed. This account cannot be a multi-client account.",
              "required": true
            },
            "datafeedId": {
              "format": "uint64",
              "description": "The ID of the datafeed.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "feedLabel": {
              "type": "string",
              "location": "query",
[...]
