{
  "title": "Contact Center AI Insights API",
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/contact-center/insights/docs",
  "protocol": "rest",
  "revision": "20261002",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "baseUrl": "https://contactcenterinsights.googleapis.com/",
  "id": "contactcenterinsights:v1",
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    }
  },
  "rootUrl": "https://contactcenterinsights.googleapis.com/",
  "ownerDomain": "google.com",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "version": "v1",
  "schemas": {
    "GoogleCloudContactcenterinsightsV1alpha1GenerativeInsightsMetadata": {
      "properties": {
        "errorMessages": {
          "type": "array",
          "description": "The error message when the generative insights request fails.",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        }
      },
      "description": "The metadata for generative insights.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1GenerativeInsightsMetadata"
    },
    "GoogleCloudContactcenterinsightsV1RuntimeAnnotation": {
      "type": "object",
      "description": "An annotation that was generated during the customer and agent interaction.",
      "properties": {
        "userInput": {
          "description": "Explicit input used for generating the answer",
          "$ref": "GoogleCloudContactcenterinsightsV1RuntimeAnnotationUserInput"
        },
        "smartComposeSuggestion": {
          "$ref": "GoogleCloudContactcenterinsightsV1SmartComposeSuggestionData",
          "description": "Agent Assist Smart Compose suggestion data."
        },
        "dialogflowInteraction": {
          "$ref": "GoogleCloudContactcenterinsightsV1DialogflowInteractionData",
          "description": "Dialogflow interaction data."
        },
        "endBoundary": {
          "description": "The boundary in the conversation where the annotation ends, inclusive.",
          "$ref": "GoogleCloudContactcenterinsightsV1AnnotationBoundary"
        },
        "createTime": {
          "description": "The time at which this annotation was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "cesTurnAnnotation": {
          "description": "The CES turn annotation.",
          "$ref": "GoogleCloudContactcenterinsightsV1CesTurnAnnotation"
        },
        "answerFeedback": {
          "$ref": "GoogleCloudContactcenterinsightsV1AnswerFeedback",
          "description": "The feedback that the customer has about the answer in `data`."
        },
        "annotationId": {
          "description": "The unique identifier of the annotation. Format: projects/{project}/locations/{location}/conversationDatasets/{dataset}/conversationDataItems/{data_item}/conversationAnnotations/{annotation}",
          "type": "string"
        },
        "conversationSummarizationSuggestion": {
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationSummarizationSuggestionData",
          "description": "Conversation summarization suggestion data."
        },
        "smartReply": {
          "$ref": "GoogleCloudContactcenterinsightsV1SmartReplyData",
          "description": "Agent Assist Smart Reply data."
        },
        "startBoundary": {
          "description": "The boundary in the conversation where the annotation starts, inclusive.",
          "$ref": "GoogleCloudContactcenterinsightsV1AnnotationBoundary"
        },
        "cesEndSessionAnnotation": {
          "description": "The CES end session annotation.",
          "$ref": "GoogleCloudContactcenterinsightsV1CesEndSessionAnnotation"
        },
        "articleSuggestion": {
          "$ref": "GoogleCloudContactcenterinsightsV1ArticleSuggestionData",
          "description": "Agent Assist Article Suggestion data."
        },
        "faqAnswer": {
          "description": "Agent Assist FAQ answer data.",
          "$ref": "GoogleCloudContactcenterinsightsV1FaqAnswerData"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1RuntimeAnnotation"
    },
    "GoogleCloudContactcenterinsightsV1mainUndeployIssueModelRequest": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The issue model to undeploy.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainUndeployIssueModelRequest",
      "description": "The request to undeploy an issue model."
    },
    "GoogleCloudContactcenterinsightsV1alpha1TestCorrelationConfigMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1TestCorrelationConfigMetadata",
      "description": "Metadata for testing correlation config.",
      "properties": {
        "dataset": {
          "description": "The dataset used for sampling conversations.",
          "type": "string"
        },
        "stats": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1TestCorrelationConfigMetadataFullConversationCorrelationStats",
          "description": "The statistics for the operation."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the operation was created."
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPartMediaPart": {
      "description": "A media part.",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Optional. URI or URL to the media."
        },
        "alternativeText": {
          "description": "Optional. Alternative text description.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPartMediaPart"
    },
    "GoogleCloudContactcenterinsightsV1mainGenerativeInsightConversationTranscript": {
      "type": "object",
      "description": "The conversation transcript for the chart.",
      "id": "GoogleCloudContactcenterinsightsV1mainGenerativeInsightConversationTranscript",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The create time of the conversation.",
          "type": "string"
        },
        "messages": {
          "type": "array",
          "description": "Ordered list of messages, including user inputs and system responses.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainGenerativeInsightConversationTranscriptMessage"
          }
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The update time of the conversation.",
          "format": "google-datetime"
        },
        "conversationId": {
          "type": "string",
          "description": "The conversation id of the chart."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1PhraseMatchRule": {
      "type": "object",
      "properties": {
        "query": {
          "description": "Required. The phrase to be matched.",
          "type": "string"
        },
        "config": {
          "description": "Provides additional information about the rule that specifies how to apply the rule.",
          "$ref": "GoogleCloudContactcenterinsightsV1PhraseMatchRuleConfig"
        },
        "negated": {
          "description": "Specifies whether the phrase must be missing from the transcript segment or present in the transcript segment.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1PhraseMatchRule",
      "description": "The data for a phrase match rule."
    },
    "GoogleCloudContactcenterinsightsV1TestCorrelationConfigMetadata": {
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime"
        },
        "stats": {
          "$ref": "GoogleCloudContactcenterinsightsV1TestCorrelationConfigMetadataFullConversationCorrelationStats",
          "description": "The statistics for the operation."
        },
        "dataset": {
          "description": "The dataset used for sampling conversations.",
          "type": "string"
        }
      },
      "description": "Metadata for testing correlation config.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1TestCorrelationConfigMetadata"
    },
    "GoogleCloudContactcenterinsightsV1alpha1DimensionConversationalAgentsPlaybookDimensionMetadata": {
      "properties": {
        "playbookDisplayName": {
          "description": "Optional. The dialogflow playbook display name.",
          "type": "string"
        },
        "playbookId": {
          "description": "Optional. The dialogflow playbook ID.",
          "type": "string"
        }
      },
      "description": "Metadata about the Conversational Agents playbook dimension.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1DimensionConversationalAgentsPlaybookDimensionMetadata",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainConversationSummarizationSuggestionData": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainConversationSummarizationSuggestionData",
      "description": "Conversation summarization suggestion data.",
      "properties": {
        "textSections": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The summarization content that is divided into sections. The key is the section's name and the value is the section's content. There is no specific format for the key or value."
        },
        "generatorId": {
          "description": "Agent Assist generator ID.",
          "type": "string"
        },
        "text": {
          "description": "The summarization content that is concatenated into one string.",
          "type": "string"
        },
        "conversationModel": {
          "type": "string",
          "description": "The name of the model that generates this summary. Format: projects/{project}/locations/{location}/conversationModels/{conversation_model}"
        },
        "answerRecord": {
          "description": "The name of the answer record. Format: projects/{project}/locations/{location}/answerRecords/{answer_record}",
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "description": "The confidence score of the summarization.",
          "format": "float"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "A map that contains metadata about the summarization and the document from which it originates."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1AnalysisRule": {
      "id": "GoogleCloudContactcenterinsightsV1AnalysisRule",
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time at which this analysis rule was created."
        },
        "displayName": {
          "type": "string",
          "description": "Display Name of the analysis rule."
        },
        "satisfiesPzi": {
          "readOnly": true,
          "description": "Output only. Whether this resource is zone isolated.",
          "type": "boolean"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The most recent time at which this analysis rule was updated."
        },
        "conversationFilter": {
          "description": "Filter for the conversations that should apply this analysis rule. An empty filter means this analysis rule applies to all conversations. Refer to https://cloud.google.com/contact-center/insights/docs/filtering for details.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the analysis rule. Format: projects/{project}/locations/{location}/analysisRules/{analysis_rule}"
        },
        "satisfiesPzs": {
          "description": "Output only. Whether this resource is zone separated.",
          "readOnly": true,
          "type": "boolean"
        },
        "active": {
          "description": "If true, apply this rule to conversations. Otherwise, this rule is inactive and saved as a draft.",
          "type": "boolean"
        },
        "annotatorSelector": {
          "description": "Selector of annotators to run and the phrase matchers to use for conversations that matches the conversation_filter. If not specified, NO annotators will be run.",
          "$ref": "GoogleCloudContactcenterinsightsV1AnnotatorSelector"
        },
        "analysisPercentage": {
          "description": "Percentage of conversations that we should apply this analysis setting automatically, between [0, 1]. For example, 0.1 means 10%. Conversations are sampled in a determenestic way. The original runtime_percentage & upload percentage will be replaced by defining filters on the conversation.",
          "format": "double",
          "type": "number"
        }
      },
      "description": "The CCAI Insights project wide analysis rule. This rule will be applied to all conversations that match the filter defined in the rule. For a conversation matches the filter, the annotators specified in the rule will be run. If a conversation matches multiple rules, a union of all the annotators will be run. One project can have multiple analysis rules."
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationDataSourceTurnLevelAudio": {
      "description": "A wrapper for holding the audio for any given turn.",
      "properties": {
        "audioDuration": {
          "description": "The duration of the audio.",
          "format": "google-duration",
          "type": "string"
        },
        "audioGcsUri": {
          "type": "string",
          "description": "The Cloud Storage URI of the audio for any given turn."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationDataSourceTurnLevelAudio",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainExportInsightsDataRequestBigQueryDestination": {
      "id": "GoogleCloudContactcenterinsightsV1mainExportInsightsDataRequestBigQueryDestination",
      "properties": {
        "dataset": {
          "type": "string",
          "description": "Required. The name of the BigQuery dataset that the snapshot result should be exported to. If this dataset does not exist, the export call returns an INVALID_ARGUMENT error."
        },
        "projectId": {
          "description": "A project ID or number. If specified, then export will attempt to write data to this project instead of the resource project. Otherwise, the resource project will be used.",
          "type": "string"
        },
        "table": {
          "description": "The BigQuery table name to which the insights data should be written. If this table does not exist, the export call returns an INVALID_ARGUMENT error.",
          "type": "string"
        }
      },
      "description": "A BigQuery Table Reference.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainDimensionQaQuestionAnswerDimensionMetadata": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainDimensionQaQuestionAnswerDimensionMetadata",
      "description": "Metadata about the QA question-answer dimension. This is useful for showing the answer distribution for questions for a given scorecard.",
      "properties": {
        "answerValue": {
          "type": "string",
          "description": "Optional. The full body of the question."
        },
        "qaQuestionId": {
          "description": "Optional. The QA question ID.",
          "type": "string"
        },
        "questionBody": {
          "type": "string",
          "description": "Optional. The full body of the question."
        },
        "qaScorecardId": {
          "type": "string",
          "description": "Optional. The QA scorecard ID."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentDialogflowSegmentMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentDialogflowSegmentMetadata",
      "properties": {
        "smartReplyAllowlistCovered": {
          "description": "Whether the transcript segment was covered under the configured smart reply allowlist in Agent Assist.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Metadata from Dialogflow relating to the current transcript segment."
    },
    "GoogleCloudContactcenterinsightsV1alpha1CreateAnalysisOperationMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1CreateAnalysisOperationMetadata",
      "description": "Metadata for a create analysis operation.",
      "type": "object",
      "properties": {
        "annotatorSelector": {
          "description": "Output only. The annotator selector used for the analysis (if any).",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1AnnotatorSelector"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "conversation": {
          "type": "string",
          "description": "Output only. The Conversation that this Analysis Operation belongs to.",
          "readOnly": true
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartLinkPart": {
      "properties": {
        "text": {
          "description": "Optional. Anchor or display text.",
          "type": "string"
        },
        "uri": {
          "description": "Optional. Target URI.",
          "type": "string"
        }
      },
      "description": "A link part.",
      "id": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartLinkPart",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1CreateIssueMetadata": {
      "properties": {
        "request": {
          "description": "The original request for creation.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1CreateIssueRequest"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime"
        },
        "endTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1CreateIssueMetadata",
      "description": "Metadata for creating an issue."
    },
    "GoogleCloudContactcenterinsightsV1QaScorecardRevision": {
      "properties": {
        "createTime": {
          "description": "Output only. The timestamp that the revision was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "satisfiesPzs": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether this resource is zone separated."
        },
        "satisfiesPzi": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether this resource is zone isolated."
        },
        "snapshot": {
          "description": "The snapshot of the scorecard at the time of this revision's creation.",
          "$ref": "GoogleCloudContactcenterinsightsV1QaScorecard"
        },
        "name": {
          "description": "Identifier. The name of the scorecard revision. Format: projects/{project}/locations/{location}/qaScorecards/{qa_scorecard}/revisions/{revision}",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "EDITABLE",
            "TRAINING",
            "TRAINING_FAILED",
            "READY",
            "DELETING",
            "TRAINING_CANCELLED"
          ],
          "readOnly": true,
          "description": "Output only. State of the scorecard revision, indicating whether it's ready to be used in analysis.",
          "enumDescriptions": [
            "Unspecified.",
            "The scorecard revision can be edited.",
            "Scorecard model training is in progress.",
            "Scorecard revision model training failed.",
            "The revision can be used in analysis.",
            "Scorecard is being deleted.",
            "Scorecard model training was explicitly cancelled by the user."
          ]
        },
        "alternateIds": {
          "description": "Output only. Alternative IDs for this revision of the scorecard, e.g., `latest`.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        }
      },
      "description": "A revision of a QaScorecard. Modifying published scorecard fields would invalidate existing scorecard results — the questions may have changed, or the score weighting will make existing scores impossible to understand. So changes must create a new revision, rather than modifying the existing resource.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1QaScorecardRevision"
    },
    "GoogleCloudContactcenterinsightsV1SignedAudioUris": {
      "type": "object",
      "description": "Signed audio URIs for a conversation.",
      "properties": {
        "signedDialogflowAudioUri": {
          "type": "string",
          "description": "The signed URI for the audio from the Dialogflow conversation source."
        },
        "signedGcsAudioUris": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. The signed URIs for the audio from the Cloud Storage conversation source when multiple audio files exist (e.g. multi-leg conversations).",
          "readOnly": true
        },
        "signedGcsAudioUri": {
          "description": "The signed URI for the audio from the Cloud Storage conversation source.",
          "type": "string"
        },
        "signedTurnLevelAudios": {
          "type": "array",
          "description": "The signed URI for the audio corresponding to each turn in the conversation.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1ConversationDataSourceTurnLevelAudio"
          }
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1SignedAudioUris"
    },
    "GoogleCloudContactcenterinsightsV1mainTestCorrelationConfigMetadataFullConversationCorrelationStats": {
      "properties": {
        "correlatedConversationsCount": {
          "description": "The number of conversations correlated.",
          "type": "integer",
          "format": "int32"
        },
        "partialErrors": {
          "description": "Partial errors during test correlation config operation that might cause the operation output to be incomplete.",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        },
        "sampledConversationsCount": {
          "description": "The number of conversations sampled.",
          "type": "integer",
          "format": "int32"
        },
        "conversationCorrelationErrors": {
          "description": "A list of errors that occurred during correlation, one for each conversation that failed.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainTestCorrelationConfigMetadataFullConversationCorrelationStatsConversationCorrelationError"
          },
          "type": "array"
        },
        "failedConversationsCount": {
          "description": "The number of conversations that failed correlation.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Statistics for TestCorrelationConfig operation.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainTestCorrelationConfigMetadataFullConversationCorrelationStats"
    },
    "GoogleCloudContactcenterinsightsV1mainDeleteQaQuestionTagRequest": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainDeleteQaQuestionTagRequest",
      "description": "The request for deleting a QaQuestionTag.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The name of the QaQuestionTag to delete."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainUndeployIssueModelResponse": {
      "id": "GoogleCloudContactcenterinsightsV1mainUndeployIssueModelResponse",
      "description": "The response to undeploy an issue model.",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudContactcenterinsightsV1mainSampleConversationsRequest": {
      "id": "GoogleCloudContactcenterinsightsV1mainSampleConversationsRequest",
      "type": "object",
      "description": "The request to sample conversations to a dataset.",
      "properties": {
        "destinationDataset": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainDataset",
          "description": "The dataset resource to copy the sampled conversations to."
        },
        "parent": {
          "description": "Required. The parent resource of the dataset.",
          "type": "string"
        },
        "sampleRule": {
          "description": "Optional. The sample rule used for sampling conversations.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainSampleRule"
        }
      }
    },
    "GoogleIamV1SetIamPolicyRequest": {
      "type": "object",
      "description": "Request message for `SetIamPolicy` method.",
      "properties": {
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
        },
        "policy": {
          "$ref": "GoogleIamV1Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        }
      },
      "id": "GoogleIamV1SetIamPolicyRequest"
    },
    "GoogleCloudContactcenterinsightsV1alpha1GenerativeInsightsResponse": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1GenerativeInsightsResponse",
      "type": "object",
      "properties": {
        "transcript": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1GenerativeInsightConversationTranscript",
          "description": "The transcript of the generative insights conversation."
        },
        "generativeResponses": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1GenerativeInsightsResponseGenerativeResponse"
          },
          "description": "The full list of generative responses. Each response is ordered by time.",
          "type": "array"
        }
      },
      "description": "The response for generative insights."
    },
    "GoogleCloudContactcenterinsightsV1DimensionConversationalAgentsPlaybookDimensionMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1DimensionConversationalAgentsPlaybookDimensionMetadata",
      "description": "Metadata about the Conversational Agents playbook dimension.",
      "properties": {
        "playbookId": {
          "description": "Optional. The dialogflow playbook ID.",
          "type": "string"
        },
        "playbookDisplayName": {
          "type": "string",
          "description": "Optional. The dialogflow playbook display name."
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1DeleteIssueModelRequest": {
      "type": "object",
      "description": "The request to delete an issue model.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1DeleteIssueModelRequest",
      "properties": {
        "name": {
          "description": "Required. The name of the issue model to delete.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1PublishAssessmentRequest": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudContactcenterinsightsV1PublishAssessmentRequest",
      "description": "The message to publish an assessment. Draft and appealed assessments can be published. Publishing simply changes the state of the assessment to published, allowing the console and authorized views to filter on the state."
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPartCustomPayloadPart": {
      "properties": {
        "payload": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. Arbitrary structured payload.",
          "type": "object"
        },
        "payloadType": {
          "type": "string",
          "description": "Optional. Type identifier for the payload."
        }
      },
      "type": "object",
      "description": "A custom payload part.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPartCustomPayloadPart"
    },
    "GoogleLongrunningListOperationsResponse": {
      "id": "GoogleLongrunningListOperationsResponse",
      "type": "object",
      "properties": {
        "operations": {
          "type": "array",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "The response message for Operations.ListOperations."
    },
    "GoogleCloudContactcenterinsightsV1GenerativeInsightConversationTranscriptMessageSystemMessages": {
      "type": "object",
      "description": "A wrapper for system messages per turn.",
      "id": "GoogleCloudContactcenterinsightsV1GenerativeInsightConversationTranscriptMessageSystemMessages",
      "properties": {
        "systemMessages": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1GenerativeInsightConversationTranscriptMessageSystemMessage"
          },
          "description": "A message from the system in response to the user.",
          "type": "array"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1ListQaQuestionsResponse": {
      "type": "object",
      "description": "The response from a ListQaQuestions request.",
      "id": "GoogleCloudContactcenterinsightsV1ListQaQuestionsResponse",
      "properties": {
        "qaQuestions": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1QaQuestion"
          },
          "description": "The QaQuestions under the parent.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1GenerativeInsightsChartConversation": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1GenerativeInsightsChartConversation",
      "properties": {
        "messages": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1GenerativeInsightsChartConversationMessage"
          },
          "description": "Ordered list of messages, including user inputs and system responses.",
          "type": "array"
        },
        "updateTime": {
          "description": "The update time of the conversation.",
          "format": "google-datetime",
          "type": "string"
        },
        "conversationId": {
          "description": "The conversation id of the chart.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "The create time of the conversation.",
          "type": "string"
        }
      },
      "description": "The conversation used to generate the chart."
    },
    "GoogleCloudContactcenterinsightsV1Issue": {
      "id": "GoogleCloudContactcenterinsightsV1Issue",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "The representative name for the issue.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The most recent time that this issue was updated."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time at which this issue was created."
        },
        "sampleUtterances": {
          "description": "Output only. Resource names of the sample representative utterances that match to this issue.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "name": {
          "description": "Immutable. The resource name of the issue. Format: projects/{project}/locations/{location}/issueModels/{issue_model}/issues/{issue}",
          "type": "string"
        },
        "displayDescription": {
          "description": "Representative description of the issue.",
          "type": "string"
        }
      },
      "description": "The issue resource."
    },
    "GoogleCloudContactcenterinsightsV1QaScorecardResultQaTagResult": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1QaScorecardResultQaTagResult",
      "properties": {
        "normalizedScore": {
          "type": "number",
          "description": "The normalized score the tag applies to.",
          "format": "double"
        },
        "tag": {
          "description": "The tag the score applies to.",
          "type": "string"
        },
        "potentialScore": {
          "type": "number",
          "description": "The potential score the tag applies to.",
          "format": "double"
        },
        "score": {
          "type": "number",
          "format": "double",
          "description": "The score the tag applies to."
        }
      },
      "description": "Tags and their corresponding results."
    },
    "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartTextPart": {
      "type": "object",
      "description": "A text part.",
      "id": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartTextPart",
      "properties": {
        "text": {
          "type": "string",
          "description": "Optional. The text content."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1QaQuestion": {
      "id": "GoogleCloudContactcenterinsightsV1QaQuestion",
      "type": "object",
      "description": "A single question to be scored by the Insights QA feature.",
      "properties": {
        "metrics": {
          "description": "Metrics of the underlying tuned LLM over a holdout/test set while fine tuning the underlying LLM for the given question. This field will only be populated if and only if the question is part of a scorecard revision that has been tuned.",
          "$ref": "GoogleCloudContactcenterinsightsV1QaQuestionMetrics"
        },
        "questionBody": {
          "type": "string",
          "description": "Question text. E.g., \"Did the agent greet the customer?\""
        },
        "order": {
          "description": "Defines the order of the question within its parent scorecard revision.",
          "format": "int32",
          "type": "integer"
        },
        "tags": {
          "type": "array",
          "description": "Questions are tagged for categorization and scoring. Tags can either be: - Default Tags: These are predefined categories. They are identified by their string value (e.g., \"BUSINESS\", \"COMPLIANCE\", and \"CUSTOMER\"). - Custom Tags: These are user-defined categories. They are identified by their full resource name (e.g., projects/{project}/locations/{location}/qaQuestionTags/{qa_question_tag}). Both default and custom tags are used to group questions and to influence the scoring of each question.",
          "items": {
            "type": "string"
          }
        },
        "tuningMetadata": {
          "description": "Metadata about the tuning operation for the question.This field will only be populated if and only if the question is part of a scorecard revision that has been tuned.",
          "$ref": "GoogleCloudContactcenterinsightsV1QaQuestionTuningMetadata"
        },
        "predefinedQuestionConfig": {
          "description": "The configuration of the predefined question. This field will only be set if the Question Type is predefined.",
          "$ref": "GoogleCloudContactcenterinsightsV1QaQuestionPredefinedQuestionConfig"
        },
        "answerInstructions": {
          "type": "string",
          "description": "Instructions describing how to determine the answer."
        },
        "createTime": {
          "description": "Output only. The time at which this question was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "satisfiesPzs": {
          "description": "Output only. Whether this resource is zone separated.",
          "readOnly": true,
          "type": "boolean"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The most recent time at which the question was updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "questionType": {
          "description": "The type of question.",
          "enumDescriptions": [
            "The type of the question is unspecified.",
            "The default question type. The question is fully customizable by the user.",
            "The question type is using a predefined model provided by CCAI teams. Users are not allowed to edit the question_body, answer_choices, upload feedback labels for the question nor fine-tune the question. However, users may edit other fields like question tags, question order, etc."
          ],
          "type": "string",
          "enum": [
            "QA_QUESTION_TYPE_UNSPECIFIED",
            "CUSTOMIZABLE",
            "PREDEFINED"
          ]
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the question. Format: projects/{project}/locations/{location}/qaScorecards/{qa_scorecard}/revisions/{revision}/qaQuestions/{qa_question}"
        },
        "satisfiesPzi": {
          "type": "boolean",
          "description": "Output only. Whether this resource is zone isolated.",
          "readOnly": true
        },
        "answerChoices": {
          "description": "A list of valid answers to the question, which the LLM must choose from.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1QaQuestionAnswerChoice"
          },
          "type": "array"
        },
        "qaQuestionDataOptions": {
          "description": "Options for configuring the data used to generate the QA question.",
          "$ref": "GoogleCloudContactcenterinsightsV1QaQuestionQaQuestionDataOptions"
        },
        "abbreviation": {
          "description": "Short, descriptive string, used in the UI where it's not practical to display the full question body. E.g., \"Greeting\".",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainEntity": {
      "id": "GoogleCloudContactcenterinsightsV1mainEntity",
      "type": "object",
      "description": "The data for an entity annotation. Represents a phrase in the conversation that is a known entity, such as a person, an organization, or location.",
      "properties": {
        "type": {
          "description": "The entity type.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "PERSON",
            "LOCATION",
            "ORGANIZATION",
            "EVENT",
            "WORK_OF_ART",
            "CONSUMER_GOOD",
            "OTHER",
            "PHONE_NUMBER",
            "ADDRESS",
            "DATE",
            "NUMBER",
            "PRICE"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Person.",
            "Location.",
            "Organization.",
            "Event.",
            "Artwork.",
            "Consumer product.",
            "Other types of entities.",
            "Phone number. The metadata lists the phone number (formatted according to local convention), plus whichever additional elements appear in the text: * `number` - The actual number, broken down into sections according to local convention. * `national_prefix` - Country code, if detected. * `area_code` - Region or area code, if detected. * `extension` - Phone extension (to be dialed after connection), if detected.",
            "Address. The metadata identifies the street number and locality plus whichever additional elements appear in the text: * `street_number` - Street number. * `locality` - City or town. * `street_name` - Street/route name, if detected. * `postal_code` - Postal code, if detected. * `country` - Country, if detected. * `broad_region` - Administrative area, such as the state, if detected. * `narrow_region` - Smaller administrative area, such as county, if detected. * `sublocality` - Used in Asian addresses to demark a district within a city, if detected.",
            "Date. The metadata identifies the components of the date: * `year` - Four digit year, if detected. * `month` - Two digit month number, if detected. * `day` - Two digit day number, if detected.",
            "Number. The metadata is the number itself.",
            "Price. The metadata identifies the `value` and `currency`."
          ]
        },
        "displayName": {
          "type": "string",
          "description": "The representative name for the entity."
        },
        "metadata": {
          "description": "Metadata associated with the entity. For most entity types, the metadata is a Wikipedia URL (`wikipedia_url`) and Knowledge Graph MID (`mid`), if they are available. For the metadata associated with other entity types, see the Type table below.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "salience": {
          "description": "The salience score associated with the entity in the [0, 1.0] range. The salience score for an entity provides information about the importance or centrality of that entity to the entire document text. Scores closer to 0 are less salient, while scores closer to 1.0 are highly salient.",
          "format": "float",
          "type": "number"
        },
        "sentiment": {
          "description": "The aggregate sentiment expressed for this entity in the conversation.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainSentimentData"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartTablePart": {
      "type": "object",
      "properties": {
        "rows": {
          "type": "array",
          "description": "Optional. Table rows.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartTableRow"
          }
        },
        "title": {
          "description": "Optional. Optional title for the table.",
          "type": "string"
        },
        "headers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Table column headers."
        }
      },
      "description": "A table part.",
      "id": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartTablePart"
    },
    "GoogleCloudContactcenterinsightsV1mainAnalysisResult": {
      "type": "object",
      "properties": {
        "endTime": {
          "description": "The time at which the analysis ended.",
          "format": "google-datetime",
          "type": "string"
        },
        "callAnalysisMetadata": {
          "description": "Call-specific metadata created by the analysis.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainAnalysisResultCallAnalysisMetadata"
        }
      },
      "description": "The result of an analysis.",
      "id": "GoogleCloudContactcenterinsightsV1mainAnalysisResult"
    },
    "GoogleCloudContactcenterinsightsV1QueryMetricsMetadata": {
      "properties": {
        "resultIsTruncated": {
          "type": "boolean",
          "description": "Whether the result rows were truncated because the result row size is too large to materialize."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1QueryMetricsMetadata",
      "description": "The metadata from querying metrics.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1NoteConversationTurnNote": {
      "id": "GoogleCloudContactcenterinsightsV1NoteConversationTurnNote",
      "properties": {
        "turnIndex": {
          "format": "int32",
          "type": "integer",
          "description": "The conversation turn index that the note is associated with."
        }
      },
      "type": "object",
      "description": "A note about a conversation turn."
    },
    "GoogleCloudContactcenterinsightsV1ConversationSummarizationSuggestionData": {
      "type": "object",
      "properties": {
        "metadata": {
          "description": "A map that contains metadata about the summarization and the document from which it originates.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "text": {
          "type": "string",
          "description": "The summarization content that is concatenated into one string."
        },
        "confidence": {
          "type": "number",
          "format": "float",
          "description": "The confidence score of the summarization."
        },
        "textSections": {
          "description": "The summarization content that is divided into sections. The key is the section's name and the value is the section's content. There is no specific format for the key or value.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "conversationModel": {
          "type": "string",
          "description": "The name of the model that generates this summary. Format: projects/{project}/locations/{location}/conversationModels/{conversation_model}"
        },
        "answerRecord": {
          "type": "string",
          "description": "The name of the answer record. Format: projects/{project}/locations/{location}/answerRecords/{answer_record}"
        },
        "generatorId": {
          "description": "Agent Assist generator ID.",
          "type": "string"
        }
      },
      "description": "Conversation summarization suggestion data.",
      "id": "GoogleCloudContactcenterinsightsV1ConversationSummarizationSuggestionData"
    },
    "GoogleCloudContactcenterinsightsV1mainConversationCorrelationInfo": {
      "id": "GoogleCloudContactcenterinsightsV1mainConversationCorrelationInfo",
      "type": "object",
      "properties": {
        "correlationTypes": {
          "items": {
            "type": "string",
            "enum": [
              "CORRELATION_TYPE_UNSPECIFIED",
              "SEGMENT",
              "PARTIAL",
              "FULL",
              "SYNTHETIC"
            ],
            "enumDescriptions": [
              "Default value for unspecified.",
              "This conversation represents a segment of a full conversation. The lowest level of granularity.",
              "This conversation represents a partial conversation of potentially multiple segments but is not a full conversation.",
              "This conversation represents a full conversation of potentially multiple segments.",
              "This conversation represents a synthetic conversation."
            ]
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. The correlation types of this conversation. A single conversation can have multiple correlation types. For example a conversation that only has a single segment is both a SEGMENT and a FULL_CONVERSATION."
        },
        "mergedFullConversationCorrelationId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The full conversation correlation id this conversation is a merged conversation of."
        },
        "fullConversationCorrelationId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The full conversation correlation id this conversation is a segment of."
        }
      },
      "description": "Info for correlating across conversations."
    },
    "GoogleCloudContactcenterinsightsV1IngestConversationsRequest": {
      "description": "The request to ingest conversations.",
      "id": "GoogleCloudContactcenterinsightsV1IngestConversationsRequest",
      "properties": {
        "redactionConfig": {
          "$ref": "GoogleCloudContactcenterinsightsV1RedactionConfig",
          "description": "Optional. DLP settings for transcript redaction. Optional, will default to the config specified in Settings."
        },
        "conversationConfig": {
          "$ref": "GoogleCloudContactcenterinsightsV1IngestConversationsRequestConversationConfig",
          "description": "Configuration that applies to all conversations."
        },
        "sampleSize": {
          "description": "Optional. If set, this fields indicates the number of objects to ingest from the Cloud Storage bucket. If empty, the entire bucket will be ingested. Unless they are first deleted, conversations produced through sampling won't be ingested by subsequent ingest requests.",
          "format": "int32",
          "type": "integer"
        },
        "gcsSource": {
          "$ref": "GoogleCloudContactcenterinsightsV1IngestConversationsRequestGcsSource",
          "description": "A cloud storage bucket source. Note that any previously ingested objects from the source will be skipped to avoid duplication."
        },
        "parent": {
          "description": "Required. The parent resource for new conversations.",
          "type": "string"
        },
        "transcriptObjectConfig": {
          "description": "Configuration for when `source` contains conversation transcripts.",
          "$ref": "GoogleCloudContactcenterinsightsV1IngestConversationsRequestTranscriptObjectConfig"
        },
        "speechConfig": {
          "description": "Optional. Default Speech-to-Text configuration. Optional, will default to the config specified in Settings.",
          "$ref": "GoogleCloudContactcenterinsightsV1SpeechConfig"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainGenerativeInsightConversationTranscriptMessage": {
      "id": "GoogleCloudContactcenterinsightsV1mainGenerativeInsightConversationTranscriptMessage",
      "description": "The message in the conversation.",
      "type": "object",
      "properties": {
        "messageId": {
          "type": "string",
          "description": "The message id of the message."
        },
        "systemMessageWrapper": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainGenerativeInsightConversationTranscriptMessageSystemMessages",
          "description": "A wrapper for system messages per turn."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. For user messages, this is the time at which the system received the message. For system messages, this is the time at which the system generated the message.",
          "format": "google-datetime"
        },
        "userMessage": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainGenerativeInsightConversationTranscriptMessageUserMessage",
          "description": "A message from the user that is interacting with the system."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartMediaPart": {
      "properties": {
        "uri": {
          "description": "Optional. URI or URL to the media.",
          "type": "string"
        },
        "alternativeText": {
          "type": "string",
          "description": "Optional. Alternative text description."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartMediaPart",
      "description": "A media part.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainQaAnswerAnswerValue": {
      "properties": {
        "skipValue": {
          "description": "Output only. A value of \"Skip\". If provided, this field may only be set to `true`. If a question receives this answer, it will be excluded from any score calculations. This would mean that the question was not evaluated.",
          "readOnly": true,
          "type": "boolean"
        },
        "strValue": {
          "type": "string",
          "description": "String value."
        },
        "boolValue": {
          "description": "Boolean value.",
          "type": "boolean"
        },
        "score": {
          "description": "Output only. Numerical score of the answer.",
          "format": "double",
          "readOnly": true,
          "type": "number"
        },
        "numValue": {
          "format": "double",
          "type": "number",
          "description": "Numerical value."
        },
        "potentialScore": {
          "description": "Output only. The maximum potential score of the question.",
          "format": "double",
          "type": "number",
          "readOnly": true
        },
        "normalizedScore": {
          "readOnly": true,
          "description": "Output only. Normalized score of the questions. Calculated as score / potential_score.",
          "format": "double",
          "type": "number"
        },
        "naValue": {
          "description": "A value of \"Not Applicable (N/A)\". Should only ever be `true`.",
          "type": "boolean"
        },
        "key": {
          "type": "string",
          "description": "A short string used as an identifier. Matches the value used in QaQuestion.AnswerChoice.key."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainQaAnswerAnswerValue",
      "description": "Message for holding the value of a QaAnswer. QaQuestion.AnswerChoice defines the possible answer values for a question.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainIssueAssignment": {
      "id": "GoogleCloudContactcenterinsightsV1mainIssueAssignment",
      "type": "object",
      "description": "Information about the issue.",
      "properties": {
        "score": {
          "type": "number",
          "format": "double",
          "description": "Score indicating the likelihood of the issue assignment. currently bounded on [0,1]."
        },
        "issue": {
          "description": "Resource name of the assigned issue.",
          "type": "string"
        },
        "displayName": {
          "description": "Immutable. Display name of the assigned issue. This field is set at time of analysis and immutable since then.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainDimensionMediumDimensionMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1mainDimensionMediumDimensionMetadata",
      "properties": {
        "medium": {
          "type": "string",
          "description": "Optional. The conversation medium. Currently supports : PHONE_CALL, CHAT."
        }
      },
      "description": "Metadata about the conversation medium dimension.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainIssueModelLabelStatsIssueStats": {
      "id": "GoogleCloudContactcenterinsightsV1mainIssueModelLabelStatsIssueStats",
      "properties": {
        "labeledConversationsCount": {
          "format": "int64",
          "description": "Number of conversations attached to the issue at this point in time.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Display name of the issue."
        },
        "issue": {
          "description": "Issue resource. Format: projects/{project}/locations/{location}/issueModels/{issue_model}/issues/{issue}",
          "type": "string"
        }
      },
      "description": "Aggregated statistics about an issue.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartListPart": {
      "properties": {
        "listType": {
          "type": "string",
          "enum": [
            "LIST_TYPE_UNSPECIFIED",
            "UNORDERED",
            "ORDERED_NUMBER",
            "ORDERED_ALPHA"
          ],
          "description": "Optional. The type of list.",
          "enumDescriptions": [
            "Unspecified list type.",
            "Unordered list.",
            "Ordered numbered list.",
            "Ordered alphabetic list."
          ]
        },
        "items": {
          "description": "Optional. List items.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartListItem"
          },
          "type": "array"
        }
      },
      "description": "A list part.",
      "id": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartListPart",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1AnnotatorSelectorQaConfigScorecardList": {
      "id": "GoogleCloudContactcenterinsightsV1AnnotatorSelectorQaConfigScorecardList",
      "properties": {
        "qaScorecardRevisions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of QaScorecardRevisions."
        }
      },
      "description": "Container for a list of scorecards.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainAnnotatorSelectorQaConfigScorecardList": {
      "id": "GoogleCloudContactcenterinsightsV1mainAnnotatorSelectorQaConfigScorecardList",
      "type": "object",
      "properties": {
        "qaScorecardRevisions": {
          "type": "array",
          "description": "List of QaScorecardRevisions.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Container for a list of scorecards."
    },
    "GoogleCloudContactcenterinsightsV1DeployIssueModelMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1DeployIssueModelMetadata",
      "properties": {
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1DeployIssueModelRequest",
          "description": "The original request for deployment."
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the operation was created."
        }
      },
      "type": "object",
      "description": "Metadata for deploying an issue model."
    },
    "GoogleCloudContactcenterinsightsV1alpha1QaAnswerAnswerValue": {
      "description": "Message for holding the value of a QaAnswer. QaQuestion.AnswerChoice defines the possible answer values for a question.",
      "properties": {
        "skipValue": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. A value of \"Skip\". If provided, this field may only be set to `true`. If a question receives this answer, it will be excluded from any score calculations. This would mean that the question was not evaluated."
        },
        "potentialScore": {
          "readOnly": true,
          "format": "double",
          "description": "Output only. The maximum potential score of the question.",
          "type": "number"
        },
        "boolValue": {
          "description": "Boolean value.",
          "type": "boolean"
        },
        "naValue": {
          "type": "boolean",
          "description": "A value of \"Not Applicable (N/A)\". Should only ever be `true`."
        },
        "normalizedScore": {
          "type": "number",
          "description": "Output only. Normalized score of the questions. Calculated as score / potential_score.",
          "format": "double",
          "readOnly": true
        },
        "strValue": {
          "type": "string",
          "description": "String value."
        },
        "numValue": {
          "type": "number",
          "format": "double",
          "description": "Numerical value."
        },
        "key": {
          "description": "A short string used as an identifier. Matches the value used in QaQuestion.AnswerChoice.key.",
          "type": "string"
        },
        "score": {
          "type": "number",
          "description": "Output only. Numerical score of the answer.",
          "format": "double",
          "readOnly": true
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1QaAnswerAnswerValue",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1BulkUploadFeedbackLabelsRequestGcsSource": {
      "properties": {
        "format": {
          "enumDescriptions": [
            "Unspecified format.",
            "CSV format.",
            "JSON format."
          ],
          "type": "string",
          "enum": [
            "FORMAT_UNSPECIFIED",
            "CSV",
            "JSON"
          ],
          "description": "Required. File format which will be ingested."
        },
        "objectUri": {
          "type": "string",
          "description": "Required. The Google Cloud Storage URI of the file to import. Format: `gs://bucket_name/object_name`"
        }
      },
      "type": "object",
      "description": "Google Cloud Storage Object details to get the feedback label file from.",
      "id": "GoogleCloudContactcenterinsightsV1BulkUploadFeedbackLabelsRequestGcsSource"
    },
    "GoogleCloudContactcenterinsightsV1mainExportIssueModelResponse": {
      "id": "GoogleCloudContactcenterinsightsV1mainExportIssueModelResponse",
      "description": "Response from export issue model",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainTestCorrelationConfigMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1mainTestCorrelationConfigMetadata",
      "description": "Metadata for testing correlation config.",
      "properties": {
        "stats": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainTestCorrelationConfigMetadataFullConversationCorrelationStats",
          "description": "The statistics for the operation."
        },
        "dataset": {
          "type": "string",
          "description": "The dataset used for sampling conversations."
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1ConversationParticipant": {
      "id": "GoogleCloudContactcenterinsightsV1ConversationParticipant",
      "type": "object",
      "properties": {
        "dialogflowParticipantName": {
          "description": "The name of the participant provided by Dialogflow. Format: projects/{project}/locations/{location}/conversations/{conversation}/participants/{participant}",
          "type": "string"
        },
        "dialogflowParticipant": {
          "type": "string",
          "deprecated": true,
          "description": "Deprecated. Use `dialogflow_participant_name` instead. The name of the Dialogflow participant. Format: projects/{project}/locations/{location}/conversations/{conversation}/participants/{participant}"
        },
        "userId": {
          "description": "A user-specified ID representing the participant.",
          "type": "string"
        },
        "role": {
          "enumDescriptions": [
            "Participant's role is not set.",
            "Participant is a human agent.",
            "Participant is an automated agent.",
            "Participant is an end user who conversed with the contact center.",
            "Participant is either a human or automated agent."
          ],
          "type": "string",
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER",
            "ANY_AGENT"
          ],
          "description": "The role of the participant."
        },
        "obfuscatedExternalUserId": {
          "type": "string",
          "description": "Obfuscated user ID from Dialogflow."
        }
      },
      "description": "The call participant speaking for a given utterance."
    },
    "GoogleCloudContactcenterinsightsV1ListChartsResponse": {
      "type": "object",
      "description": "The response of listing charts.",
      "properties": {
        "nextPageToken": {
          "description": "The value returned by the last `ListChartsResponse`. This value indicates that this is a continuation of a prior `ListCharts` call and that the system should return the next page of data.",
          "type": "string"
        },
        "charts": {
          "type": "array",
          "description": "The charts under the parent.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1Chart"
          }
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1ListChartsResponse"
    },
    "GoogleCloudContactcenterinsightsV1CreateIssueMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1CreateIssueMetadata",
      "properties": {
        "endTime": {
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "readOnly": true
        },
        "request": {
          "description": "The original request for creation.",
          "$ref": "GoogleCloudContactcenterinsightsV1CreateIssueRequest"
        }
      },
      "description": "Metadata for creating an issue.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainDeleteIssueModelRequest": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The name of the issue model to delete."
        }
      },
      "description": "The request to delete an issue model.",
      "id": "GoogleCloudContactcenterinsightsV1mainDeleteIssueModelRequest"
    },
    "GoogleCloudContactcenterinsightsV1SpeechConfig": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1SpeechConfig",
      "description": "Speech-to-Text configuration. Speech-to-Text settings are applied to conversations ingested from the `UploadConversation` and `IngestConversations` endpoints, including conversation coming from CCAI Platform. They are not applied to conversations ingested from the `CreateConversation` endpoint.",
      "properties": {
        "disableWordTimeOffsets": {
          "type": "boolean",
          "description": "Whether to disable word time offsets. If true, the `enable_word_time_offsets` field in the recognition config will be set to false."
        },
        "speechRecognizer": {
          "type": "string",
          "description": "The fully-qualified Speech Recognizer resource name. Format: `projects/{project_id}/locations/{location}/recognizer/{recognizer}`"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPartTablePart": {
      "type": "object",
      "description": "A table part.",
      "properties": {
        "headers": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Table column headers.",
          "type": "array"
        },
        "rows": {
          "type": "array",
          "description": "Optional. Table rows.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPartTableRow"
          }
        },
        "title": {
          "description": "Optional. Optional title for the table.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPartTablePart"
    },
    "GoogleCloudCesV1mainSpan": {
      "type": "object",
      "description": "A span is a unit of work or a single operation during the request processing.",
      "id": "GoogleCloudCesV1mainSpan",
      "properties": {
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The end time of the span."
        },
        "startTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The start time of the span.",
          "format": "google-datetime"
        },
        "childSpans": {
          "items": {
            "$ref": "GoogleCloudCesV1mainSpan"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. The child spans that are nested under this span."
        },
        "name": {
          "description": "Output only. The name of the span.",
          "readOnly": true,
          "type": "string"
        },
        "attributes": {
          "description": "Output only. Key-value attributes associated with the span.",
          "type": "object",
          "readOnly": true,
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "duration": {
          "format": "google-duration",
          "readOnly": true,
          "description": "Output only. The duration of the span.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1ExportInsightsDataMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1ExportInsightsDataMetadata",
      "properties": {
        "request": {
          "description": "The original request for export.",
          "$ref": "GoogleCloudContactcenterinsightsV1ExportInsightsDataRequest"
        },
        "completedExportCount": {
          "format": "int32",
          "description": "The number of conversations that were exported successfully.",
          "type": "integer"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "failedExportCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of conversations that failed to be exported."
        },
        "partialErrors": {
          "type": "array",
          "description": "Partial errors during export operation that might cause the operation output to be incomplete.",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Metadata for an export insights operation."
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConstraintEvaluationResultRuleConstraintResult": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConstraintEvaluationResultRuleConstraintResult",
      "type": "object",
      "properties": {
        "constraintMet": {
          "description": "Whether the constraint expression evaluated to true for (A, B) or (B, A).",
          "type": "boolean"
        },
        "ruleId": {
          "description": "The rule ID.",
          "type": "string"
        },
        "error": {
          "description": "The error status if the constraint expression failed to evaluate.",
          "$ref": "GoogleRpcStatus"
        }
      },
      "description": "The result of a single constraint rule on the pair of conversations."
    },
    "GoogleCloudContactcenterinsightsV1mainInitializeEncryptionSpecRequest": {
      "type": "object",
      "properties": {
        "encryptionSpec": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainEncryptionSpec",
          "description": "Required. The encryption spec used for CMEK encryption. It is required that the kms key is in the same region as the endpoint. The same key will be used for all provisioned resources, if encryption is available. If the `kms_key_name` field is left empty, no encryption will be enforced."
        }
      },
      "description": "The request to initialize a location-level encryption specification.",
      "id": "GoogleCloudContactcenterinsightsV1mainInitializeEncryptionSpecRequest"
    },
    "GoogleCloudContactcenterinsightsV1mainTestCorrelationConfigResponse": {
      "type": "object",
      "properties": {
        "detailedResults": {
          "description": "Results for the DETAILED_SYNC execution mode.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainTestCorrelationConfigResponseDetailedCorrelationResults"
        },
        "partialErrors": {
          "description": "Partial errors during test correlation config operation that might cause the operation output to be incomplete.",
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainTestCorrelationConfigResponse",
      "description": "The response of testing correlation config."
    },
    "GoogleCloudContactcenterinsightsV1Note": {
      "type": "object",
      "description": "The conversation assessment note resource.",
      "properties": {
        "noteCreator": {
          "readOnly": true,
          "description": "Output only. The user that created the note.",
          "$ref": "GoogleCloudContactcenterinsightsV1UserInfo"
        },
        "qaQuestionNote": {
          "$ref": "GoogleCloudContactcenterinsightsV1NoteQaQuestionNote",
          "description": "The note is associated with a QA question in one of the conversation's scorecard results."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the note. Format: projects/{project}/locations/{location}/conversations/{conversation}/assessments/{assessment}/notes/{note}"
        },
        "conversationTurnNote": {
          "$ref": "GoogleCloudContactcenterinsightsV1NoteConversationTurnNote",
          "description": "The note is associated with a conversation turn."
        },
        "content": {
          "description": "The note content.",
          "type": "string"
        },
        "assessmentNote": {
          "description": "The note is associated to the entire parent assessment.",
          "$ref": "GoogleCloudContactcenterinsightsV1NoteAssessmentNote"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which the note was created.",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time at which the note was last updated."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1Note"
    },
    "GoogleCloudContactcenterinsightsV1alpha1QaAnswerAnswerSource": {
      "properties": {
        "answerValue": {
          "description": "The answer value from this source. This field is populated by default, unless the question has a selection strategy configured to return multiple answer values, in which case `answer_values` will be populated instead.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1QaAnswerAnswerValue"
        },
        "sourceType": {
          "description": "What created the answer.",
          "enumDescriptions": [
            "Source type is unspecified.",
            "Answer was system-generated; created during an Insights analysis.",
            "Answer was created by a human via manual edit."
          ],
          "type": "string",
          "enum": [
            "SOURCE_TYPE_UNSPECIFIED",
            "SYSTEM_GENERATED",
            "MANUAL_EDIT"
          ]
        }
      },
      "description": "A question may have multiple answers from varying sources, one of which becomes the \"main\" answer above. AnswerSource represents each individual answer.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1QaAnswerAnswerSource",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1GcsSource": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1GcsSource",
      "description": "A Cloud Storage source of conversation data.",
      "type": "object",
      "properties": {
        "transcriptUri": {
          "description": "Immutable. Cloud Storage URI that points to a file that contains the conversation transcript.",
          "type": "string"
        },
        "audioUris": {
          "items": {
            "type": "string"
          },
          "description": "Immutable. Cloud Storage URIs that point to files that contain the conversation audio. Supports both single audio files and multi-leg session recordings (e.g., call transfers, rolling recording buffers).",
          "type": "array"
        },
        "audioUri": {
          "description": "Immutable. Deprecated: Use `audio_uris` instead. Cloud Storage URI that points to a file that contains the conversation audio.",
          "deprecated": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsRequestConversationConfig": {
      "type": "object",
      "properties": {
        "customerChannel": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Indicates which of the channels, 1 or 2, contains the agent. Note that this must be set for conversations to be properly displayed and analyzed."
        },
        "agentChannel": {
          "description": "Optional. Indicates which of the channels, 1 or 2, contains the agent. Note that this must be set for conversations to be properly displayed and analyzed.",
          "format": "int32",
          "type": "integer"
        },
        "agentId": {
          "description": "Optional. An opaque, user-specified string representing a human agent who handled all conversations in the import. Note that this will be overridden if per-conversation metadata is provided through the `metadata_bucket_uri`.",
          "type": "string"
        }
      },
      "description": "Configuration that applies to all conversations.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsRequestConversationConfig"
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPartListItem": {
      "description": "An item in a list.",
      "properties": {
        "text": {
          "type": "string",
          "description": "Optional. The text of the list item."
        },
        "subItems": {
          "description": "Optional. Nested sub-items.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPartListItem"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPartListItem"
    },
    "GoogleCloudContactcenterinsightsV1mainConversation": {
      "description": "The conversation resource.",
      "type": "object",
      "properties": {
        "runtimeAnnotations": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The annotations that were generated during the customer and agent interaction.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainRuntimeAnnotation"
          }
        },
        "startTime": {
          "description": "The time at which the conversation started.",
          "format": "google-datetime",
          "type": "string"
        },
        "metadataJson": {
          "description": "Optional. JSON metadata encoded as a string. This field is primarily used by Insights integrations with various telephony systems and must be in one of Insight's supported formats.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The most recent time at which the conversation was updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "qualityMetadata": {
          "description": "Conversation metadata related to quality management.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainConversationQualityMetadata"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time at which the conversation was created.",
          "readOnly": true,
          "type": "string"
        },
        "agentId": {
          "description": "An opaque, user-specified string representing the human agent who handled the conversation.",
          "type": "string"
        },
        "dialogflowIntents": {
          "readOnly": true,
          "description": "Output only. All the matched Dialogflow intents in the call. The key corresponds to a Dialogflow intent, format: projects/{project}/agent/{agent}/intents/{intent}",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainDialogflowIntent"
          }
        },
        "languageCode": {
          "type": "string",
          "description": "A user-specified language code for the conversation."
        },
        "ttl": {
          "type": "string",
          "description": "Input only. The TTL for this resource. If specified, then this TTL will be used to calculate the expire time.",
          "format": "google-duration"
        },
        "turnCount": {
          "type": "integer",
          "readOnly": true,
          "format": "int32",
          "description": "Output only. The number of turns in the conversation."
        },
        "satisfiesPzi": {
          "type": "boolean",
          "description": "Output only. Whether this resource is zone isolated.",
          "readOnly": true
        },
        "latestAnalysis": {
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1mainAnalysis",
          "description": "Output only. The conversation's latest analysis, if one exists."
        },
        "callMetadata": {
          "description": "Call-specific metadata.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainConversationCallMetadata"
        },
        "transcript": {
          "description": "Output only. The conversation transcript.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainConversationTranscript",
          "readOnly": true
        },
        "obfuscatedUserId": {
          "type": "string",
          "description": "Obfuscated user ID which the customer sent to us."
        },
        "expireTime": {
          "format": "google-datetime",
          "description": "The time at which this conversation should expire. After this time, the conversation data and any associated analyses will be deleted.",
          "type": "string"
        },
        "medium": {
          "type": "string",
          "enum": [
            "MEDIUM_UNSPECIFIED",
            "PHONE_CALL",
            "CHAT"
          ],
          "enumDescriptions": [
            "Default value for unspecified.",
            "The format for conversations that took place over the phone.",
            "The format for conversations that took place over chat."
          ],
          "description": "Immutable. The conversation medium."
        },
        "name": {
          "description": "Immutable. The resource name of the conversation. Format: projects/{project}/locations/{location}/conversations/{conversation}",
          "type": "string"
        },
        "latestSummary": {
          "description": "Output only. Latest summary of the conversation.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainConversationSummarizationSuggestionData",
          "readOnly": true
        },
        "dataSource": {
          "description": "The source of the audio and transcription for the conversation.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainConversationDataSource"
        },
        "labels": {
          "type": "object",
          "description": "A map for the user to specify any custom fields. A maximum of 100 labels per conversation is allowed, with a maximum of 256 characters per entry.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "correlationInfo": {
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1mainConversationCorrelationInfo",
          "description": "Output only. Info for correlating across conversations."
        },
        "duration": {
          "format": "google-duration",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The duration of the conversation."
        },
        "satisfiesPzs": {
          "readOnly": true,
          "description": "Output only. Whether this resource is zone separated.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainConversation"
    },
    "GoogleCloudContactcenterinsightsV1AutoLabelingRuleLabelingCondition": {
      "description": "Condition for auto-labeling conversations.",
      "properties": {
        "value": {
          "type": "string",
          "description": "CEL expression to be evaluated as the value."
        },
        "condition": {
          "type": "string",
          "description": "A optional CEL expression to be evaluated as a boolean value. Once evaluated as true, then we will proceed with the value evaluation. An empty condition will be auto evaluated as true."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1AutoLabelingRuleLabelingCondition",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1Container": {
      "properties": {
        "width": {
          "description": "The width of the container in grid units.",
          "format": "int32",
          "type": "integer"
        },
        "displayName": {
          "description": "User provided display name of the Container.",
          "type": "string"
        },
        "containerId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Unique ID for the container."
        },
        "widgets": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1Widget"
          },
          "description": "Widgets in the Container.",
          "type": "array"
        },
        "filter": {
          "description": "Filter applied to all charts in the container. Should support scope later.",
          "type": "string"
        },
        "height": {
          "description": "The height of the container in grid units.",
          "type": "integer",
          "format": "int32"
        },
        "description": {
          "description": "Container description",
          "type": "string"
        },
        "dateRangeConfig": {
          "description": "Date range config applied to all charts in the container.",
          "$ref": "GoogleCloudContactcenterinsightsV1DateRangeConfig"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1Container",
      "description": "Configurable dashboard's container. Container can contain multiple widgets.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartListItem": {
      "id": "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartListItem",
      "type": "object",
      "properties": {
        "text": {
          "description": "Optional. The text of the list item.",
          "type": "string"
        },
        "subItems": {
          "description": "Optional. Nested sub-items.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartListItem"
          },
          "type": "array"
        }
      },
      "description": "An item in a list."
    },
    "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartCustomPayloadPart": {
      "id": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartCustomPayloadPart",
      "type": "object",
      "description": "A custom payload part.",
      "properties": {
        "payloadType": {
          "type": "string",
          "description": "Optional. Type identifier for the payload."
        },
        "payload": {
          "description": "Optional. Arbitrary structured payload.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1ListAssessmentRulesResponse": {
      "type": "object",
      "properties": {
        "assessmentRules": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1AssessmentRule"
          },
          "description": "The assessment rules that match the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1ListAssessmentRulesResponse",
      "description": "The response of listing assessment rules."
    },
    "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponseSliceDataPoint": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponseSliceDataPoint",
      "type": "object",
      "description": "A data point contains the metric values mapped to an interval.",
      "properties": {
        "interval": {
          "$ref": "GoogleTypeInterval",
          "description": "The interval that this data point represents. * If this is the total data point, the interval is [starting create time, ending create time) from the request. * If this a data point from the time series, the interval is [time, time + time granularity from the request)."
        },
        "conversationMeasure": {
          "description": "The measure related to conversations.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponseSliceDataPointConversationMeasure"
        },
        "dialogflowInteractionMeasure": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponseSliceDataPointDialogflowInteractionMeasure",
          "description": "The measure related to dialogflow interactions."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartListItem": {
      "description": "An item in a list.",
      "properties": {
        "text": {
          "type": "string",
          "description": "Optional. The text of the list item."
        },
        "subItems": {
          "description": "Optional. Nested sub-items.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartListItem"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartListItem",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1AnnotatorSelectorSummarizationConfig": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1AnnotatorSelectorSummarizationConfig",
      "properties": {
        "conversationProfile": {
          "type": "string",
          "description": "Resource name of the Dialogflow conversation profile. Format: projects/{project}/locations/{location}/conversationProfiles/{conversation_profile}"
        },
        "summarizationModel": {
          "description": "Default summarization model to be used.",
          "type": "string",
          "enum": [
            "SUMMARIZATION_MODEL_UNSPECIFIED",
            "BASELINE_MODEL",
            "BASELINE_MODEL_V2_0"
          ],
          "enumDescriptions": [
            "Unspecified summarization model.",
            "The CCAI baseline model. This model is deprecated and will be removed in the future. We recommend using `generator` instead.",
            "The CCAI baseline model, V2.0. This model is deprecated and will be removed in the future. We recommend using `generator` instead."
          ],
          "enumDeprecated": [
            false,
            true,
            true
          ]
        },
        "generator": {
          "description": "The resource name of the existing created generator. Format: projects//locations//generators/",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Configuration for summarization."
    },
    "GoogleCloudContactcenterinsightsV1ImportIssueModelMetadata": {
      "description": "Metadata used for import issue model.",
      "properties": {
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1ImportIssueModelRequest",
          "description": "The original import request."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the operation was created."
        },
        "endTime": {
          "type": "string",
          "description": "The time the operation finished running.",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1ImportIssueModelMetadata",
      "type": "object"
    },
[...]
