{
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "documentationLink": "https://cloud.google.com/contact-center/insights/docs",
  "canonicalName": "Contactcenterinsights",
  "mtlsRootUrl": "https://contactcenterinsights.mtls.googleapis.com/",
  "name": "contactcenterinsights",
  "schemas": {
    "GoogleCloudContactcenterinsightsV1ExportInsightsDataMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1ExportInsightsDataMetadata",
      "type": "object",
      "description": "Metadata for an export insights operation.",
      "properties": {
        "request": {
          "description": "The original request for export.",
          "$ref": "GoogleCloudContactcenterinsightsV1ExportInsightsDataRequest"
        },
        "completedExportCount": {
          "description": "The number of conversations that were exported successfully.",
          "type": "integer",
          "format": "int32"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "readOnly": true
        },
        "partialErrors": {
          "type": "array",
          "description": "Partial errors during export operation that might cause the operation output to be incomplete.",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "failedExportCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of conversations that failed to be exported."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1DimensionConversationalAgentsToolDimensionMetadata": {
      "description": "Metadata about the Conversational Agents tool dimension.",
      "properties": {
        "toolId": {
          "description": "Optional. The dialogflow tool ID.",
          "type": "string"
        },
        "toolDisplayName": {
          "description": "Optional. The dialogflow tool display name.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1DimensionConversationalAgentsToolDimensionMetadata",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainUploadConversationRequest": {
      "id": "GoogleCloudContactcenterinsightsV1mainUploadConversationRequest",
      "type": "object",
      "description": "Request to upload a conversation.",
      "properties": {
        "parent": {
          "description": "Required. The parent resource of the conversation.",
          "type": "string"
        },
        "speechConfig": {
          "description": "Optional. Speech-to-Text configuration. Will default to the config specified in Settings.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainSpeechConfig"
        },
        "conversationId": {
          "description": "Optional. A unique ID for the new conversation. This ID will become the final component of the conversation's resource name. If no ID is specified, a server-generated ID will be used. This value should be 4-64 characters and must match the regular expression `^[a-z0-9-]{4,64}$`. Valid characters are `a-z-`",
          "type": "string"
        },
        "redactionConfig": {
          "description": "Optional. DLP settings for transcript redaction. Will default to the config specified in Settings.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainRedactionConfig"
        },
        "conversation": {
          "description": "Required. The conversation resource to create.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainConversation"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1PublishAssessmentRequest": {
      "description": "The message to publish an assessment. Draft and appealed assessments can be published. Publishing simply changes the state of the assessment to published, allowing the console and authorized views to filter on the state.",
      "properties": {},
      "id": "GoogleCloudContactcenterinsightsV1PublishAssessmentRequest",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1GenerativeInsightConversationTranscriptMessageSystemMessages": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1GenerativeInsightConversationTranscriptMessageSystemMessages",
      "type": "object",
      "description": "A wrapper for system messages per turn.",
      "properties": {
        "systemMessages": {
          "type": "array",
          "description": "A message from the system in response to the user.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1GenerativeInsightConversationTranscriptMessageSystemMessage"
          }
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1ConstraintEvaluationResultRuleConstraintResult": {
      "id": "GoogleCloudContactcenterinsightsV1ConstraintEvaluationResultRuleConstraintResult",
      "type": "object",
      "description": "The result of a single constraint rule on the pair of conversations.",
      "properties": {
        "constraintMet": {
          "description": "Whether the constraint expression evaluated to true for (A, B) or (B, A).",
          "type": "boolean"
        },
        "error": {
          "description": "The error status if the constraint expression failed to evaluate.",
          "$ref": "GoogleRpcStatus"
        },
        "ruleId": {
          "description": "The rule ID.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1BulkDownloadFeedbackLabelsRequest": {
      "id": "GoogleCloudContactcenterinsightsV1BulkDownloadFeedbackLabelsRequest",
      "type": "object",
      "description": "Request for the BulkDownloadFeedbackLabel endpoint.",
      "properties": {
        "gcsDestination": {
          "description": "A cloud storage bucket destination.",
          "$ref": "GoogleCloudContactcenterinsightsV1BulkDownloadFeedbackLabelsRequestGcsDestination"
        },
        "templateQaScorecardId": {
          "type": "array",
          "description": "Optional. If set, a template for labeling conversations and scorecard questions will be created from the conversation_filter and the questions under the scorecard(s). The feedback label `filter` will be ignored.",
          "items": {
            "type": "string"
          }
        },
        "sheetsDestination": {
          "description": "A sheets document destination.",
          "$ref": "GoogleCloudContactcenterinsightsV1BulkDownloadFeedbackLabelsRequestSheetsDestination"
        },
        "maxDownloadCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Limits the maximum number of feedback labels that will be downloaded. The first `N` feedback labels will be downloaded."
        },
        "feedbackLabelType": {
          "description": "Optional. The type of feedback labels that will be downloaded.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified format",
            "Downloaded file will contain all Quality AI labels from the latest scorecard revision.",
            "Downloaded file will contain only Topic Modeling labels.",
            "Agent Assist Summarization labels."
          ],
          "enum": [
            "FEEDBACK_LABEL_TYPE_UNSPECIFIED",
            "QUALITY_AI",
            "TOPIC_MODELING",
            "AGENT_ASSIST_SUMMARY"
          ]
        },
        "filter": {
          "description": "Optional. A filter to reduce results to a specific subset. Supports disjunctions (OR) and conjunctions (AND). Supported fields: * `issue_model_id` * `qa_question_id` * `qa_scorecard_id` * `min_create_time` * `max_create_time` * `min_update_time` * `max_update_time` * `feedback_label_type`: QUALITY_AI, TOPIC_MODELING",
          "type": "string"
        },
        "parent": {
          "description": "Required. The parent resource for new feedback labels.",
          "type": "string"
        },
        "conversationFilter": {
          "description": "Optional. Filter parent conversations to download feedback labels for. When specified, the feedback labels will be downloaded for the conversations that match the filter. If `template_qa_scorecard_id` is set, all the conversations that match the filter will be paired with the questions under the scorecard for labeling.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1IssueModelInputDataConfig": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1IssueModelInputDataConfig",
      "type": "object",
      "description": "Configs for the input data used to create the issue model.",
      "properties": {
        "medium": {
          "enum": [
            "MEDIUM_UNSPECIFIED",
            "PHONE_CALL",
            "CHAT"
          ],
          "deprecated": true,
          "description": "Medium of conversations used in training data. This field is being deprecated. To specify the medium to be used in training a new issue model, set the `medium` field on `filter`.",
          "type": "string",
          "enumDescriptions": [
            "Default value for unspecified.",
            "The format for conversations that took place over the phone.",
            "The format for conversations that took place over chat."
          ]
        },
        "trainingConversationsCount": {
          "description": "Output only. Number of conversations used in training. Output only.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "filter": {
          "description": "A filter to reduce the conversations used for training the model to a specific subset. Refer to https://cloud.google.com/contact-center/insights/docs/filtering for details.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1QaQuestionTag": {
      "description": "A tag is a resource which aims to categorize a set of questions across multiple scorecards, e.g., \"Customer Satisfaction\",\"Billing\", etc.",
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The most recent time at which the question tag was updated.",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. Resource name for the QaQuestionTag Format projects/{project}/locations/{location}/qaQuestionTags/{qa_question_tag} In the above format, the last segment, i.e., qa_question_tag, is a server-generated ID corresponding to the tag resource.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. A user-specified display name for the tag.",
          "type": "string"
        },
        "qaQuestionIds": {
          "description": "Optional. The list of Scorecard Question IDs that the tag applies to. Each QaQuestionId is represented as a full resource name containing the Question ID. Lastly, Since a tag may not necessarily be referenced by any Scorecard Questions, we treat this field as optional.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which the question tag was created.",
          "readOnly": true
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1QaQuestionTag",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1BulkAnalyzeConversationsResponse": {
      "description": "The response for a bulk analyze conversations operation.",
      "properties": {
        "successfulAnalysisCount": {
          "description": "Count of successful analyses.",
          "type": "integer",
          "format": "int32"
        },
        "failedAnalysisCount": {
          "description": "Count of failed analyses.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1BulkAnalyzeConversationsResponse",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainFaqAnswerData": {
      "description": "Agent Assist frequently-asked-question answer data.",
      "properties": {
        "question": {
          "description": "The corresponding FAQ question.",
          "type": "string"
        },
        "queryRecord": {
          "description": "The name of the answer record. Format: projects/{project}/locations/{location}/answerRecords/{answer_record}",
          "type": "string"
        },
        "answer": {
          "description": "The piece of text from the `source` knowledge base document.",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Map that contains metadata about the FAQ answer and the document that it originates from."
        },
        "source": {
          "description": "The knowledge document that this answer was extracted from. Format: projects/{project}/knowledgeBases/{knowledge_base}/documents/{document}.",
          "type": "string"
        },
        "confidenceScore": {
          "description": "The system's confidence score that this answer is a good match for this conversation, ranging from 0.0 (completely uncertain) to 1.0 (completely certain).",
          "type": "number",
          "format": "float"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainFaqAnswerData",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentDialogflowSegmentMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentDialogflowSegmentMetadata",
      "type": "object",
      "description": "Metadata from Dialogflow relating to the current transcript segment.",
      "properties": {
        "smartReplyAllowlistCovered": {
          "description": "Whether the transcript segment was covered under the configured smart reply allowlist in Agent Assist.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1IssueModelResult": {
      "id": "GoogleCloudContactcenterinsightsV1IssueModelResult",
      "type": "object",
      "description": "Issue Modeling result on a conversation.",
      "properties": {
        "issueModel": {
          "description": "Issue model that generates the result. Format: projects/{project}/locations/{location}/issueModels/{issue_model}",
          "type": "string"
        },
        "issues": {
          "description": "All the matched issues.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1IssueAssignment"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPointConversationMeasure": {
      "description": "The measure related to conversations.",
      "properties": {
        "conversationalAgentsAverageEndToEndLatency": {
          "description": "The average latency of conversational agents' latency per interaction. This is computed as the average of the all the iteractions' end to end latencies in a conversation and averaged across conversations. The e2e latency is the time between the end of the user utterance and the start of the agent utterance on the interaction level.",
          "type": "number",
          "format": "double"
        },
        "summarizationSuggestionResultCount": {
          "description": "Count of summarization suggestions results.",
          "type": "integer",
          "format": "int32"
        },
        "knowledgeSearchPositiveFeedbackRatio": {
          "type": "number",
          "format": "double",
          "description": "Proportion of knowledge search (Generative Knowledge Assist) queries that had positive feedback."
        },
        "conversationTotalCustomerMessageCount": {
          "type": "integer",
          "format": "int32",
          "description": "The customer message count."
        },
        "summarizationSuggestionEditRatio": {
          "type": "number",
          "format": "double",
          "description": "Proportion of summarization suggestions that were manually edited."
        },
        "dialogflowConversationsEscalationCount": {
          "type": "number",
          "format": "double",
          "description": "count of conversations that was handed off from virtual agent to human agent."
        },
        "averageQaNormalizedScore": {
          "description": "The average normalized QA score for a scorecard. When computing the average across a set of conversations, if a conversation has been evaluated with multiple revisions of a scorecard, only the latest revision results will be used. Will exclude 0's in average calculation. Will be only populated if the request specifies a dimension of QA_SCORECARD_ID.",
          "type": "number",
          "format": "double"
        },
        "avgConversationClientTurnSentimentEma": {
          "type": "number",
          "format": "double",
          "description": "The exponential moving average of the sentiment score of client turns in the conversation."
        },
        "aiCoachSuggestionMessageTriggerCount": {
          "type": "integer",
          "format": "int32",
          "description": "Count of end_of_utterance trigger event messages that triggered an Ai Coach Suggestion."
        },
        "averageClientSentimentScore": {
          "description": "The average client's sentiment score.",
          "type": "number",
          "format": "float"
        },
        "aiCoachSuggestionAgentUsageCount": {
          "description": "Count of Ai Coach Suggestion that has been used by agents.",
          "type": "integer",
          "format": "int32"
        },
        "dialogflowWebhookTimeoutRatio": {
          "type": "number",
          "format": "double",
          "description": "Proportion of dialogflow webhook calls that timed out."
        },
        "dialogflowConversationsEscalationRatio": {
          "type": "number",
          "format": "double",
          "description": "Proportion of conversations that was handed off from virtual agent to human agent."
        },
        "conversationAiCoachSuggestionCount": {
          "type": "integer",
          "format": "int32",
          "description": "Count of conversations that has Ai Coach Suggestions."
        },
        "aaSupervisorAssignedConversationsCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of conversations that were assigned to an AA human supervisor."
        },
        "knowledgeSearchUriClickRatio": {
          "description": "Proportion of knowledge search (Generative Knowledge Assist) queries that had a URL clicked.",
          "type": "number",
          "format": "double"
        },
        "conversationAiCoachSuggestionRatio": {
          "description": "Proportion of conversations that has Ai Coach Suggestions.",
          "type": "number",
          "format": "double"
        },
        "dialogflowAverageWebhookLatency": {
          "type": "number",
          "format": "double",
          "description": "Average latency of dialogflow webhook calls."
        },
        "aaSupervisorMonitoredConversationsCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of conversations scanned by the AA human supervisor."
        },
        "aaSupervisorEscalatedConversationsCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of conversations that were escalated to an AA human supervisor for intervention."
        },
        "dialogflowInteractionsNoInputRatio": {
          "type": "number",
          "format": "double",
          "description": "Proportion of dialogflow interactions that has empty input."
        },
        "averageQaQuestionNormalizedScore": {
          "type": "number",
          "format": "double",
          "description": "Average QA normalized score averaged for questions averaged across all revisions of the parent scorecard. Will be only populated if the request specifies a dimension of QA_QUESTION_ID."
        },
        "conversationCount": {
          "description": "The conversation count.",
          "type": "integer",
          "format": "int32"
        },
        "averageAgentSentimentScore": {
          "type": "number",
          "format": "float",
          "description": "The average agent's sentiment score."
        },
        "averageCustomerSatisfactionRating": {
          "type": "number",
          "format": "double",
          "description": "The average customer satisfaction rating."
        },
        "qaTagScores": {
          "description": "Average QA normalized score for all the tags.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPointConversationMeasureQaTagScore"
          },
          "type": "array"
        },
        "aiCoachSuggestionCustomerMessageTriggerCount": {
          "description": "Count of customer messages that triggered an Ai Coach Suggestion.",
          "type": "integer",
          "format": "int32"
        },
        "knowledgeSearchResultCount": {
          "description": "Count of knowledge search results (Generative Knowledge Assist) shown to the user.",
          "type": "integer",
          "format": "int32"
        },
        "knowledgeSearchAgentQuerySourceRatio": {
          "type": "number",
          "format": "double",
          "description": "Proportion of knowledge search (Generative Knowledge Assist) queries made by the agent compared to the total number of knowledge search queries made."
        },
        "dialogflowWebhookFailureRatio": {
          "type": "number",
          "format": "double",
          "description": "Proportion of dialogflow webhook calls that failed."
        },
        "conversationalAgentsAverageTtsLatency": {
          "type": "number",
          "format": "double",
          "description": "The macro average latency of conversational agents' TTS latency per interaction. This is computed as the average of the all the interactions' TTS latencies in a conversation and averaged across conversations."
        },
        "aaSupervisorTransferredToHumanAgentConvCount": {
          "description": "The number of conversations transferred to a human agent.",
          "type": "integer",
          "format": "int32"
        },
        "averageDuration": {
          "description": "The average duration.",
          "type": "string",
          "format": "google-duration"
        },
        "knowledgeAssistUriClickRatio": {
          "description": "Proportion of knowledge assist (Proactive Generative Knowledge Assist) queries that had a URL clicked.",
          "type": "number",
          "format": "double"
        },
        "knowledgeSearchSuggestedQuerySourceRatio": {
          "type": "number",
          "format": "double",
          "description": "Proportion of knowledge search (Generative Knowledge Assist) queries suggested compared to the total number of knowledge search queries made."
        },
        "knowledgeAssistResultCount": {
          "type": "integer",
          "format": "int32",
          "description": "Count of knowledge assist results (Proactive Generative Knowledge Assist) shown to the user."
        },
        "averageTurnCount": {
          "description": "The average turn count.",
          "type": "number",
          "format": "float"
        },
        "knowledgeAssistNegativeFeedbackRatio": {
          "description": "Proportion of knowledge assist (Proactive Generative Knowledge Assist) queries that had negative feedback.",
          "type": "number",
          "format": "double"
        },
        "knowledgeAssistPositiveFeedbackRatio": {
          "type": "number",
          "format": "double",
          "description": "Proportion of knowledge assist (Proactive Generative Knowledge Assist) queries that had positive feedback."
        },
        "aiCoachSuggestionAgentMessageTriggerCount": {
          "type": "integer",
          "format": "int32",
          "description": "Count of agent messages that triggered an Ai Coach Suggestion."
        },
        "conversationTotalAgentMessageCount": {
          "description": "The agent message count.",
          "type": "integer",
          "format": "int32"
        },
        "averageSummarizationSuggestionEditDistance": {
          "type": "number",
          "format": "double",
          "description": "Average edit distance of the summarization suggestions. Edit distance (also called as levenshtein distance) is calculated by summing up number of insertions, deletions and substitutions required to transform the summization feedback to the original summary suggestion."
        },
        "aiCoachSuggestionCustomerMessageTriggerRatio": {
          "type": "number",
          "format": "double",
          "description": "Proportion of customer messages that triggered an Ai Coach Suggestion."
        },
        "conversationalAgentsAverageAudioInAudioOutLatency": {
          "type": "number",
          "format": "double",
          "description": "The average latency of conversational agents' audio in audio out latency per interaction. This is computed as the average of the all the interactions' audio in audio out latencies in a conversation and averaged across conversations."
        },
        "dialogflowInteractionsNoMatchRatio": {
          "description": "Proportion of dialogflow interactions that has no intent match for the input.",
          "type": "number",
          "format": "double"
        },
        "conversationalAgentsAverageLlmCallLatency": {
          "description": "The average latency of conversational agents' LLM call latency per interaction. This is computed as the average of the all the interactions LLM call latencies in a conversation and averaged across conversations.",
          "type": "number",
          "format": "double"
        },
        "containedConversationRatio": {
          "type": "number",
          "format": "double",
          "description": "The percentage of conversations that were contained."
        },
        "aaSupervisorDroppedConversationsCount": {
          "description": "The number of conversations that were dropped, i.e. escalated but not assigned to an AA human supervisor.",
          "type": "integer",
          "format": "int32"
        },
        "averageSilencePercentage": {
          "type": "number",
          "format": "float",
          "description": "The average silence percentage."
        },
        "conversationSuggestedSummaryRatio": {
          "type": "number",
          "format": "double",
          "description": "Proportion of conversations that had a suggested summary."
        },
        "aiCoachSuggestionMessageTriggerRatio": {
          "description": "Proportion of end_of_utterance trigger event messages that triggered an Ai Coach Suggestion.",
          "type": "number",
          "format": "double"
        },
        "knowledgeSearchNegativeFeedbackRatio": {
          "description": "Proportion of knowledge search (Generative Knowledge Assist) queries that had negative feedback.",
          "type": "number",
          "format": "double"
        },
        "aiCoachSuggestionAgentUsageRatio": {
          "type": "number",
          "format": "double",
          "description": "Proportion of Ai Coach Suggestion that has been used by agents."
        },
        "containedConversationCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of conversations that were contained."
        },
        "averageSummarizationSuggestionNormalizedEditDistance": {
          "description": "Normalized Average edit distance of the summarization suggestions. Edit distance (also called as levenshtein distance) is calculated by summing up number of insertions, deletions and substitutions required to transform the summization feedback to the original summary suggestion. Normalized edit distance is the average of (edit distance / summary length).",
          "type": "number",
          "format": "double"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPointConversationMeasure",
      "type": "object"
    },
    "GoogleIamV1SetIamPolicyRequest": {
      "id": "GoogleIamV1SetIamPolicyRequest",
      "type": "object",
      "description": "Request message for `SetIamPolicy` method.",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "GoogleIamV1Policy"
        },
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1CreateIssueRequest": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1CreateIssueRequest",
      "type": "object",
      "description": "The request to create an issue.",
      "properties": {
        "parent": {
          "description": "Required. The parent resource of the issue.",
          "type": "string"
        },
        "issue": {
          "description": "Required. The values for the new issue.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1Issue"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainSampleConversationsResponse": {
      "description": "The response to an SampleConversations operation.",
      "properties": {},
      "id": "GoogleCloudContactcenterinsightsV1mainSampleConversationsResponse",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainEntity": {
      "id": "GoogleCloudContactcenterinsightsV1mainEntity",
      "type": "object",
      "description": "The data for an entity annotation. Represents a phrase in the conversation that is a known entity, such as a person, an organization, or location.",
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Metadata associated with the entity. For most entity types, the metadata is a Wikipedia URL (`wikipedia_url`) and Knowledge Graph MID (`mid`), if they are available. For the metadata associated with other entity types, see the Type table below."
        },
        "salience": {
          "type": "number",
          "format": "float",
          "description": "The salience score associated with the entity in the [0, 1.0] range. The salience score for an entity provides information about the importance or centrality of that entity to the entire document text. Scores closer to 0 are less salient, while scores closer to 1.0 are highly salient."
        },
        "sentiment": {
          "description": "The aggregate sentiment expressed for this entity in the conversation.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainSentimentData"
        },
        "displayName": {
          "description": "The representative name for the entity.",
          "type": "string"
        },
        "type": {
          "description": "The entity type.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Person.",
            "Location.",
            "Organization.",
            "Event.",
            "Artwork.",
            "Consumer product.",
            "Other types of entities.",
            "Phone number. The metadata lists the phone number (formatted according to local convention), plus whichever additional elements appear in the text: * `number` - The actual number, broken down into sections according to local convention. * `national_prefix` - Country code, if detected. * `area_code` - Region or area code, if detected. * `extension` - Phone extension (to be dialed after connection), if detected.",
            "Address. The metadata identifies the street number and locality plus whichever additional elements appear in the text: * `street_number` - Street number. * `locality` - City or town. * `street_name` - Street/route name, if detected. * `postal_code` - Postal code, if detected. * `country` - Country, if detected. * `broad_region` - Administrative area, such as the state, if detected. * `narrow_region` - Smaller administrative area, such as county, if detected. * `sublocality` - Used in Asian addresses to demark a district within a city, if detected.",
            "Date. The metadata identifies the components of the date: * `year` - Four digit year, if detected. * `month` - Two digit month number, if detected. * `day` - Two digit day number, if detected.",
            "Number. The metadata is the number itself.",
            "Price. The metadata identifies the `value` and `currency`."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "PERSON",
            "LOCATION",
            "ORGANIZATION",
            "EVENT",
            "WORK_OF_ART",
            "CONSUMER_GOOD",
            "OTHER",
            "PHONE_NUMBER",
            "ADDRESS",
            "DATE",
            "NUMBER",
            "PRICE"
          ]
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1IngestConversationsMetadataIngestConversationsStats": {
      "id": "GoogleCloudContactcenterinsightsV1IngestConversationsMetadataIngestConversationsStats",
      "type": "object",
      "description": "Statistics for IngestConversations operation.",
      "properties": {
        "processedObjectCount": {
          "description": "Output only. The number of objects processed during the ingest operation.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "successfulIngestCount": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. The number of new conversations added during this ingest operation.",
          "readOnly": true
        },
        "failedIngestCount": {
          "description": "Output only. The number of objects which were unable to be ingested due to errors. The errors are populated in the partial_errors field.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "duplicatesSkippedCount": {
          "description": "Output only. The number of objects skipped because another conversation with the same transcript uri had already been ingested.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1GenerativeInsightConversationTranscriptMessageSystemMessages": {
      "description": "A wrapper for system messages per turn.",
      "properties": {
        "systemMessages": {
          "description": "A message from the system in response to the user.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1GenerativeInsightConversationTranscriptMessageSystemMessage"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1GenerativeInsightConversationTranscriptMessageSystemMessages",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationCorrelationResult": {
      "description": "The result of testing correlation config on a single conversation.",
      "properties": {
        "conversation": {
          "description": "The conversation resource name.",
          "type": "string"
        },
        "ruleResults": {
          "type": "array",
          "description": "The results for each correlation rule.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConversationCorrelationResultRuleCorrelationResult"
          }
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationCorrelationResult",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1ListQaScorecardsResponse": {
      "description": "The response from a ListQaScorecards request.",
      "properties": {
        "qaScorecards": {
          "description": "The QaScorecards under the parent.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1QaScorecard"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1ListQaScorecardsResponse",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1CallAnnotation": {
      "description": "A piece of metadata that applies to a window of a call.",
      "properties": {
        "intentMatchData": {
          "description": "Data specifying an intent match.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1IntentMatchData"
        },
        "entityMentionData": {
          "description": "Data specifying an entity mention.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1EntityMentionData"
        },
        "sentimentData": {
          "description": "Data specifying sentiment.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1SentimentData"
        },
        "annotationStartBoundary": {
          "description": "The boundary in the conversation where the annotation starts, inclusive.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1AnnotationBoundary"
        },
        "annotationEndBoundary": {
          "description": "The boundary in the conversation where the annotation ends, inclusive.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1AnnotationBoundary"
        },
        "holdData": {
          "description": "Data specifying a hold.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1HoldData"
        },
        "silenceData": {
          "description": "Data specifying silence.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1SilenceData"
        },
        "interruptionData": {
          "description": "Data specifying an interruption.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1InterruptionData"
        },
        "phraseMatchData": {
          "description": "Data specifying a phrase match.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1PhraseMatchData"
        },
        "issueMatchData": {
          "description": "Data specifying an issue match.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1IssueMatchData"
        },
        "channelTag": {
          "description": "The channel of the audio where the annotation occurs. For single-channel audio, this field is not populated.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1CallAnnotation",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1DimensionIssueDimensionMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1DimensionIssueDimensionMetadata",
      "type": "object",
      "description": "Metadata about the issue dimension.",
      "properties": {
        "issueDisplayName": {
          "description": "The issue display name.",
          "type": "string"
        },
        "issueId": {
          "description": "The issue ID.",
          "type": "string"
        },
        "issueModelId": {
          "description": "The parent issue model ID.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPointConversationMeasureQaTagScore": {
      "description": "Average QA normalized score for the tag.",
      "properties": {
        "tag": {
          "description": "Tag name.",
          "type": "string"
        },
        "averageTagNormalizedScore": {
          "description": "Average tag normalized score per tag.",
          "type": "number",
          "format": "double"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPointConversationMeasureQaTagScore",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainInitializeEncryptionSpecRequest": {
      "description": "The request to initialize a location-level encryption specification.",
      "properties": {
        "encryptionSpec": {
          "description": "Required. The encryption spec used for CMEK encryption. It is required that the kms key is in the same region as the endpoint. The same key will be used for all provisioned resources, if encryption is available. If the `kms_key_name` field is left empty, no encryption will be enforced.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainEncryptionSpec"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainInitializeEncryptionSpecRequest",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1ConversationDataOptions": {
      "description": "Options for configuring what metadata is included in the conversation data used in QAI and Discovery Engine.",
      "properties": {
        "includeDialogflowInteractionData": {
          "description": "Whether to include the per turn Dialogflow interaction data in conversation transcript.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1ConversationDataOptions",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainSampleConversationsRequest": {
      "description": "The request to sample conversations to a dataset.",
      "properties": {
        "destinationDataset": {
          "description": "The dataset resource to copy the sampled conversations to.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainDataset"
        },
        "parent": {
          "description": "Required. The parent resource of the dataset.",
          "type": "string"
        },
        "sampleRule": {
          "description": "Optional. The sample rule used for sampling conversations.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainSampleRule"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainSampleConversationsRequest",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsRequest": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsRequest",
      "type": "object",
      "description": "The request to ingest conversations.",
      "properties": {
        "redactionConfig": {
          "description": "Optional. DLP settings for transcript redaction. Optional, will default to the config specified in Settings.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1RedactionConfig"
        },
        "conversationConfig": {
          "description": "Configuration that applies to all conversations.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsRequestConversationConfig"
        },
        "parent": {
          "description": "Required. The parent resource for new conversations.",
          "type": "string"
        },
        "speechConfig": {
          "description": "Optional. Default Speech-to-Text configuration. Optional, will default to the config specified in Settings.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1SpeechConfig"
        },
        "transcriptObjectConfig": {
          "description": "Configuration for when `source` contains conversation transcripts.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsRequestTranscriptObjectConfig"
        },
        "gcsSource": {
          "description": "A cloud storage bucket source. Note that any previously ingested objects from the source will be skipped to avoid duplication.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsRequestGcsSource"
        },
        "sampleSize": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. If set, this fields indicates the number of objects to ingest from the Cloud Storage bucket. If empty, the entire bucket will be ingested. Unless they are first deleted, conversations produced through sampling won't be ingested by subsequent ingest requests."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1DeployIssueModelResponse": {
      "id": "GoogleCloudContactcenterinsightsV1DeployIssueModelResponse",
      "type": "object",
      "description": "The response to deploy an issue model.",
      "properties": {}
    },
    "GoogleCloudContactcenterinsightsV1mainTestCorrelationConfigMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1mainTestCorrelationConfigMetadata",
      "type": "object",
      "description": "Metadata for testing correlation config.",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "readOnly": true
        },
        "dataset": {
          "description": "The dataset used for sampling conversations.",
          "type": "string"
        },
        "stats": {
          "description": "The statistics for the operation.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainTestCorrelationConfigMetadataFullConversationCorrelationStats"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1TestAutoLabelingRuleResponse": {
      "id": "GoogleCloudContactcenterinsightsV1TestAutoLabelingRuleResponse",
      "type": "object",
      "description": "The response message for testing auto labeling rules.",
      "properties": {
        "labelResult": {
          "description": "The result of the test auto labeling rule.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1QueryInterval": {
      "description": "A time window for querying conversations.",
      "properties": {
        "endTime": {
          "description": "Required. The end time of the time window.",
          "type": "string",
          "format": "google-datetime"
        },
        "startTime": {
          "description": "Required. The start time of the time window.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1QueryInterval",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1Dataset": {
      "description": "Dataset resource represents a collection of conversations that may be bounded (Static Dataset, e.g. golden dataset for training), or unbounded (Dynamic Dataset, e.g. live traffic, or agent training traffic)",
      "properties": {
        "ttl": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. Option TTL for the dataset."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Dataset create time.",
          "readOnly": true
        },
        "description": {
          "description": "Dataset description.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Dataset update time.",
          "readOnly": true
        },
        "displayName": {
          "description": "Display name for the dataaset",
          "type": "string"
        },
        "type": {
          "description": "Dataset usage type.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "EVAL",
            "LIVE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value for unspecified.",
            "For evals only.",
            "Dataset with new conversations coming in regularly (Insights legacy conversations and AI trainer)"
          ]
        },
        "name": {
          "description": "Immutable. Identifier. Resource name of the dataset. Format: projects/{project}/locations/{location}/datasets/{dataset}",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1Dataset",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1DimensionMediumDimensionMetadata": {
      "description": "Metadata about the conversation medium dimension.",
      "properties": {
        "medium": {
          "description": "Optional. The conversation medium. Currently supports : PHONE_CALL, CHAT.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1DimensionMediumDimensionMetadata",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1ConversationQualityMetadataAgentInfo": {
      "description": "Information about an agent involved in the conversation.",
      "properties": {
        "displayName": {
          "description": "The agent's name.",
          "type": "string"
        },
        "agentType": {
          "type": "string",
          "enumDescriptions": [
            "Participant's role is not set.",
            "Participant is a human agent.",
            "Participant is an automated agent.",
            "Participant is an end user who conversed with the contact center.",
            "Participant is either a human or automated agent."
          ],
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER",
            "ANY_AGENT"
          ],
          "description": "The agent type, e.g. HUMAN_AGENT."
        },
        "team": {
          "type": "string",
          "deprecated": true,
          "description": "A user-specified string representing the agent's team. Deprecated in favor of the `teams` field."
        },
        "dispositionCode": {
          "description": "A user-provided string indicating the outcome of the agent's segment of the call.",
          "type": "string"
        },
        "entrySubagentId": {
          "description": "The entry subagent's ID.",
          "type": "string"
        },
        "agentId": {
          "description": "A user-specified string representing the agent.",
          "type": "string"
        },
        "versionId": {
          "description": "The agent's version ID. Only applicable to automated agents.",
          "type": "string"
        },
        "entrySubagentDisplayName": {
          "description": "The entry subagent's display name.",
          "type": "string"
        },
        "teams": {
          "type": "array",
          "description": "User-specified strings representing the agent's teams.",
          "items": {
            "type": "string"
          }
        },
        "deploymentDisplayName": {
          "description": "The agent's deployment display name. Only applicable to automated agents.",
          "type": "string"
        },
        "versionDisplayName": {
          "description": "The agent's version display name. Only applicable to automated agents.",
          "type": "string"
        },
        "location": {
          "description": "The agent's location.",
          "type": "string"
        },
        "deploymentId": {
          "description": "The agent's deployment ID. Only applicable to automated agents.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1ConversationQualityMetadataAgentInfo",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1CorrelationRule": {
      "id": "GoogleCloudContactcenterinsightsV1CorrelationRule",
      "type": "object",
      "description": "A correlation rule that defines how to join conversations for a given correlation type.",
      "properties": {
        "constraintExpression": {
          "description": "Optional. A cel expression (go/cel) to be evaluated as a boolean value. Two variables conversation_a and conversation_b will be available for evaluation. This expression should evaluate to true if conversation_a and conversation_b should be joined. This is used as an extra constraint on top of the join_key_expression to further refine the group of conversations that are joined together and will be evaluated in both directions. for two conversations c1 and c2 and the result will be OR'd. We will evaluate: f(c1, c2) OR f(c2, c1)",
          "type": "string"
        },
        "ruleId": {
          "description": "Required. The unique identifier of the rule.",
          "type": "string"
        },
        "active": {
          "description": "Optional. Whether the config is active to be evaluated.",
          "type": "boolean"
        },
        "joinKeyExpression": {
          "description": "Optional. A cel expression (go/cel) to be evaluated as a string value. This string value will be used as the join key for the correlation.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainConstraintEvaluationResultRuleConstraintResult": {
      "id": "GoogleCloudContactcenterinsightsV1mainConstraintEvaluationResultRuleConstraintResult",
      "type": "object",
      "description": "The result of a single constraint rule on the pair of conversations.",
      "properties": {
        "error": {
          "description": "The error status if the constraint expression failed to evaluate.",
          "$ref": "GoogleRpcStatus"
        },
        "constraintMet": {
          "description": "Whether the constraint expression evaluated to true for (A, B) or (B, A).",
          "type": "boolean"
        },
        "ruleId": {
          "description": "The rule ID.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1RuntimeAnnotationUserInput": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1RuntimeAnnotationUserInput",
      "type": "object",
      "description": "Explicit input used for generating the answer",
      "properties": {
        "generatorName": {
          "description": "The resource name of associated generator. Format: `projects//locations//generators/`",
          "type": "string"
        },
        "querySource": {
          "description": "Query source for the answer.",
          "type": "string",
          "enumDescriptions": [
            "Unknown query source.",
            "The query is from agents.",
            "The query is a query from previous suggestions, e.g. from a preceding SuggestKnowledgeAssist response."
          ],
          "enum": [
            "QUERY_SOURCE_UNSPECIFIED",
            "AGENT_QUERY",
            "SUGGESTED_QUERY"
          ]
        },
        "query": {
          "description": "Query text. Article Search uses this to store the input query used to generate the search results.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1BulkDeleteFeedbackLabelsMetadata": {
      "description": "Metadata for the BulkDeleteFeedbackLabels endpoint.",
      "properties": {
        "request": {
          "description": "Output only. The original request for delete.",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1BulkDeleteFeedbackLabelsRequest"
        },
        "partialErrors": {
          "type": "array",
          "description": "Partial errors during deletion operation that might cause the operation output to be incomplete.",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1BulkDeleteFeedbackLabelsMetadata",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainConversationDataSourceTurnLevelAudio": {
      "id": "GoogleCloudContactcenterinsightsV1mainConversationDataSourceTurnLevelAudio",
      "type": "object",
      "description": "A wrapper for holding the audio for any given turn.",
      "properties": {
        "audioGcsUri": {
          "description": "The Cloud Storage URI of the audio for any given turn.",
          "type": "string"
        },
        "audioDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "The duration of the audio."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegment": {
      "description": "A segment of a full transcript.",
      "properties": {
        "text": {
          "description": "The text of this segment.",
          "type": "string"
        },
        "words": {
          "type": "array",
          "description": "A list of the word-specific information for each word in the segment.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentWordInfo"
          }
        },
        "confidence": {
          "description": "A confidence estimate between 0.0 and 1.0 of the fidelity of this segment. A default value of 0.0 indicates that the value is unset.",
          "type": "number",
          "format": "float"
        },
        "sentiment": {
          "description": "The sentiment for this transcript segment.",
          "$ref": "GoogleCloudContactcenterinsightsV1SentimentData"
        },
        "languageCode": {
          "description": "The language code of this segment as a [BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt) language tag. Example: \"en-US\".",
          "type": "string"
        },
        "messageTime": {
          "description": "The time that the message occurred, if provided.",
          "type": "string",
          "format": "google-datetime"
        },
        "segmentParticipant": {
          "description": "The participant of this segment.",
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationParticipant"
        },
        "dialogflowSegmentMetadata": {
          "description": "CCAI metadata relating to the current transcript segment.",
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentDialogflowSegmentMetadata"
        },
        "channelTag": {
          "description": "For conversations derived from multi-channel audio, this is the channel number corresponding to the audio from that channel. For audioChannelCount = N, its output values can range from '1' to 'N'. A channel tag of 0 indicates that the audio is mono.",
          "type": "integer",
          "format": "int32"
        },
        "turnLevelAudio": {
          "description": "Turn level audio for this transcript segment.",
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationDataSourceTurnLevelAudio"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegment",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainBulkAnalyzeConversationsResponse": {
      "description": "The response for a bulk analyze conversations operation.",
      "properties": {
        "failedAnalysisCount": {
          "description": "Count of failed analyses.",
          "type": "integer",
          "format": "int32"
        },
        "successfulAnalysisCount": {
          "type": "integer",
          "format": "int32",
          "description": "Count of successful analyses."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainBulkAnalyzeConversationsResponse",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1AnalysisRule": {
      "id": "GoogleCloudContactcenterinsightsV1AnalysisRule",
      "type": "object",
      "description": "The CCAI Insights project wide analysis rule. This rule will be applied to all conversations that match the filter defined in the rule. For a conversation matches the filter, the annotators specified in the rule will be run. If a conversation matches multiple rules, a union of all the annotators will be run. One project can have multiple analysis rules.",
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The most recent time at which this analysis rule was updated.",
          "readOnly": true
        },
        "annotatorSelector": {
          "description": "Selector of annotators to run and the phrase matchers to use for conversations that matches the conversation_filter. If not specified, NO annotators will be run.",
          "$ref": "GoogleCloudContactcenterinsightsV1AnnotatorSelector"
        },
        "displayName": {
          "description": "Display Name of the analysis rule.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the analysis rule. Format: projects/{project}/locations/{location}/analysisRules/{analysis_rule}",
          "type": "string"
        },
        "analysisPercentage": {
          "type": "number",
          "format": "double",
          "description": "Percentage of conversations that we should apply this analysis setting automatically, between [0, 1]. For example, 0.1 means 10%. Conversations are sampled in a determenestic way. The original runtime_percentage & upload percentage will be replaced by defining filters on the conversation."
        },
        "conversationFilter": {
          "description": "Filter for the conversations that should apply this analysis rule. An empty filter means this analysis rule applies to all conversations. Refer to https://cloud.google.com/contact-center/insights/docs/filtering for details.",
          "type": "string"
        },
        "active": {
          "description": "If true, apply this rule to conversations. Otherwise, this rule is inactive and saved as a draft.",
          "type": "boolean"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which this analysis rule was created.",
          "readOnly": true
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1QueryPerformanceOverviewRequestAgentSource": {
      "description": "The entity whose performance is being queried is a single agent.",
      "properties": {
        "agentId": {
          "description": "Required. Agent id to query performance overview for.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1QueryPerformanceOverviewRequestAgentSource",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1DialogflowSource": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1DialogflowSource",
      "type": "object",
      "description": "A Dialogflow source of conversation data.",
      "properties": {
        "dialogflowConversation": {
          "type": "string",
          "description": "Output only. The name of the Dialogflow conversation that this conversation resource is derived from. Format: projects/{project}/locations/{location}/conversations/{conversation}",
          "readOnly": true
        },
        "audioUri": {
          "description": "Cloud Storage URI that points to a file that contains the conversation audio.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1Conversation": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1Conversation",
      "type": "object",
      "description": "The conversation resource.",
      "properties": {
        "metadataJson": {
          "description": "Optional. JSON metadata encoded as a string. This field is primarily used by Insights integrations with various telephony systems and must be in one of Insight's supported formats.",
          "type": "string"
        },
        "medium": {
          "description": "Immutable. The conversation medium.",
          "type": "string",
          "enumDescriptions": [
            "Default value for unspecified.",
            "The format for conversations that took place over the phone.",
            "The format for conversations that took place over chat."
          ],
          "enum": [
            "MEDIUM_UNSPECIFIED",
            "PHONE_CALL",
            "CHAT"
          ]
        },
        "correlationInfo": {
          "description": "Output only. Info for correlating across conversations.",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConversationCorrelationInfo"
        },
        "latestSummary": {
          "description": "Output only. Latest summary of the conversation.",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConversationSummarizationSuggestionData"
        },
        "name": {
          "description": "Immutable. The resource name of the conversation. Format: projects/{project}/locations/{location}/conversations/{conversation}",
          "type": "string"
        },
        "expireTime": {
          "description": "The time at which this conversation should expire. After this time, the conversation data and any associated analyses will be deleted.",
          "type": "string",
          "format": "google-datetime"
        },
        "runtimeAnnotations": {
          "type": "array",
          "description": "Output only. The annotations that were generated during the customer and agent interaction.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1RuntimeAnnotation"
          }
        },
        "callMetadata": {
          "description": "Call-specific metadata.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConversationCallMetadata"
        },
        "dataSource": {
          "description": "The source of the audio and transcription for the conversation.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConversationDataSource"
        },
        "createTime": {
          "description": "Output only. The time at which the conversation was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "latestAnalysis": {
          "description": "Output only. The conversation's latest analysis, if one exists.",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1Analysis"
        },
        "ttl": {
          "type": "string",
          "format": "google-duration",
          "description": "Input only. The TTL for this resource. If specified, then this TTL will be used to calculate the expire time."
        },
        "dialogflowIntents": {
          "description": "Output only. All the matched Dialogflow intents in the call. The key corresponds to a Dialogflow intent, format: projects/{project}/agent/{agent}/intents/{intent}",
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1DialogflowIntent"
          }
        },
        "labels": {
          "description": "A map for the user to specify any custom fields. A maximum of 100 labels per conversation is allowed, with a maximum of 256 characters per entry.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the conversation started."
        },
        "languageCode": {
          "description": "A user-specified language code for the conversation.",
          "type": "string"
        },
        "turnCount": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. The number of turns in the conversation.",
          "readOnly": true
        },
        "duration": {
          "type": "string",
          "format": "google-duration",
          "description": "Output only. The duration of the conversation.",
          "readOnly": true
        },
        "agentId": {
          "description": "An opaque, user-specified string representing the human agent who handled the conversation.",
          "type": "string"
        },
        "transcript": {
          "description": "Output only. The conversation transcript.",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscript"
        },
        "obfuscatedUserId": {
          "description": "Obfuscated user ID which the customer sent to us.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The most recent time at which the conversation was updated.",
          "readOnly": true
        },
        "qualityMetadata": {
          "description": "Conversation metadata related to quality management.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConversationQualityMetadata"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1ConversationCallMetadata": {
      "description": "Call-specific metadata.",
      "properties": {
        "customerChannel": {
          "description": "The audio channel that contains the customer.",
          "type": "integer",
          "format": "int32"
        },
        "agentChannel": {
          "type": "integer",
          "format": "int32",
          "description": "The audio channel that contains the agent."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1ConversationCallMetadata",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1CesTurnAnnotation": {
      "description": "The CES diagnostic information.",
      "properties": {
        "rootSpan": {
          "description": "The root span of the action processing.",
          "$ref": "GoogleCloudCesV1mainSpan"
        },
        "messages": {
          "description": "The messages in the turn.",
          "items": {
            "$ref": "GoogleCloudCesV1mainMessage"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1CesTurnAnnotation",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainUploadConversationMetadata": {
      "description": "The metadata for an `UploadConversation` operation.",
      "properties": {
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "request": {
          "description": "Output only. The original request.",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1mainUploadConversationRequest"
        },
        "analysisOperation": {
          "type": "string",
          "description": "Output only. The operation name for a successfully created analysis operation, if any.",
          "readOnly": true
        },
        "appliedRedactionConfig": {
          "description": "Output only. The redaction config applied to the uploaded conversation.",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1mainRedactionConfig"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainUploadConversationMetadata",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationDataSourceTurnLevelAudio": {
      "description": "A wrapper for holding the audio for any given turn.",
      "properties": {
        "audioGcsUri": {
          "description": "The Cloud Storage URI of the audio for any given turn.",
          "type": "string"
        },
        "audioDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "The duration of the audio."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationDataSourceTurnLevelAudio",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainConversation": {
      "id": "GoogleCloudContactcenterinsightsV1mainConversation",
      "type": "object",
      "description": "The conversation resource.",
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The most recent time at which the conversation was updated.",
          "readOnly": true
        },
        "qualityMetadata": {
          "description": "Conversation metadata related to quality management.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainConversationQualityMetadata"
        },
        "agentId": {
          "description": "An opaque, user-specified string representing the human agent who handled the conversation.",
          "type": "string"
        },
        "transcript": {
          "description": "Output only. The conversation transcript.",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1mainConversationTranscript"
        },
        "obfuscatedUserId": {
          "description": "Obfuscated user ID which the customer sent to us.",
          "type": "string"
        },
        "duration": {
          "description": "Output only. The duration of the conversation.",
          "readOnly": true,
          "type": "string",
          "format": "google-duration"
        },
        "languageCode": {
          "description": "A user-specified language code for the conversation.",
          "type": "string"
        },
        "turnCount": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. The number of turns in the conversation.",
          "readOnly": true
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the conversation started."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "A map for the user to specify any custom fields. A maximum of 100 labels per conversation is allowed, with a maximum of 256 characters per entry."
        },
        "dialogflowIntents": {
          "description": "Output only. All the matched Dialogflow intents in the call. The key corresponds to a Dialogflow intent, format: projects/{project}/agent/{agent}/intents/{intent}",
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainDialogflowIntent"
          }
        },
        "ttl": {
          "description": "Input only. The TTL for this resource. If specified, then this TTL will be used to calculate the expire time.",
          "type": "string",
          "format": "google-duration"
        },
        "runtimeAnnotations": {
          "type": "array",
          "description": "Output only. The annotations that were generated during the customer and agent interaction.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainRuntimeAnnotation"
          }
        },
        "expireTime": {
          "description": "The time at which this conversation should expire. After this time, the conversation data and any associated analyses will be deleted.",
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "Immutable. The resource name of the conversation. Format: projects/{project}/locations/{location}/conversations/{conversation}",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which the conversation was created.",
          "readOnly": true
        },
        "latestAnalysis": {
          "description": "Output only. The conversation's latest analysis, if one exists.",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1mainAnalysis"
        },
        "dataSource": {
          "description": "The source of the audio and transcription for the conversation.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainConversationDataSource"
        },
        "callMetadata": {
          "description": "Call-specific metadata.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainConversationCallMetadata"
        },
        "medium": {
          "enum": [
            "MEDIUM_UNSPECIFIED",
            "PHONE_CALL",
            "CHAT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value for unspecified.",
            "The format for conversations that took place over the phone.",
            "The format for conversations that took place over chat."
          ],
          "description": "Immutable. The conversation medium."
        },
        "correlationInfo": {
          "description": "Output only. Info for correlating across conversations.",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1mainConversationCorrelationInfo"
        },
        "metadataJson": {
          "description": "Optional. JSON metadata encoded as a string. This field is primarily used by Insights integrations with various telephony systems and must be in one of Insight's supported formats.",
          "type": "string"
        },
        "latestSummary": {
          "description": "Output only. Latest summary of the conversation.",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1mainConversationSummarizationSuggestionData"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1ImportIssueModelRequestGcsSource": {
      "description": "Google Cloud Storage Object URI to get the issue model file from.",
      "properties": {
        "objectUri": {
          "description": "Required. Format: `gs:///`",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1ImportIssueModelRequestGcsSource",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentDialogflowSegmentMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentDialogflowSegmentMetadata",
      "type": "object",
      "description": "Metadata from Dialogflow relating to the current transcript segment.",
      "properties": {
        "smartReplyAllowlistCovered": {
          "description": "Whether the transcript segment was covered under the configured smart reply allowlist in Agent Assist.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1IssueMatchData": {
      "id": "GoogleCloudContactcenterinsightsV1IssueMatchData",
      "type": "object",
      "description": "The data for an issue match annotation.",
      "properties": {
        "issueAssignment": {
          "description": "Information about the issue's assignment.",
          "$ref": "GoogleCloudContactcenterinsightsV1IssueAssignment"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1TestCorrelationConfigMetadataFullConversationCorrelationStats": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1TestCorrelationConfigMetadataFullConversationCorrelationStats",
      "type": "object",
      "description": "Statistics for TestCorrelationConfig operation.",
      "properties": {
        "partialErrors": {
          "type": "array",
          "description": "Partial errors during test correlation config operation that might cause the operation output to be incomplete.",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "sampledConversationsCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of conversations sampled."
        },
        "correlatedConversationsCount": {
          "description": "The number of conversations correlated.",
          "type": "integer",
          "format": "int32"
        },
        "failedConversationsCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of conversations that failed correlation."
        },
        "conversationCorrelationErrors": {
          "description": "A list of errors that occurred during correlation, one for each conversation that failed.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1TestCorrelationConfigMetadataFullConversationCorrelationStatsConversationCorrelationError"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1QaScorecardResultScoreSource": {
      "id": "GoogleCloudContactcenterinsightsV1QaScorecardResultScoreSource",
      "type": "object",
      "description": "A scorecard result may have multiple sets of scores from varying sources, one of which becomes the \"main\" answer above. A ScoreSource represents each individual set of scores.",
      "properties": {
        "score": {
          "description": "The overall numerical score of the result.",
          "type": "number",
          "format": "double"
        },
        "sourceType": {
          "description": "What created the score.",
          "enum": [
            "SOURCE_TYPE_UNSPECIFIED",
            "SYSTEM_GENERATED_ONLY",
            "INCLUDES_MANUAL_EDITS"
          ],
          "type": "string",
          "enumDescriptions": [
            "Source type is unspecified.",
            "Score is derived only from system-generated answers.",
            "Score is derived from both system-generated answers, and includes any manual edits if they exist."
          ]
        },
        "potentialScore": {
          "type": "number",
          "format": "double",
          "description": "The maximum potential overall score of the scorecard. Any questions answered using `na_value` are excluded from this calculation."
        },
        "normalizedScore": {
          "type": "number",
          "format": "double",
          "description": "The normalized score, which is the score divided by the potential score."
        },
        "qaTagResults": {
          "type": "array",
          "description": "Collection of tags and their scores.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1QaScorecardResultQaTagResult"
          }
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1TestCorrelationConfigMetadataFullConversationCorrelationStatsConversationCorrelationError": {
      "description": "An error that occurred during correlation for a specific conversation.",
      "properties": {
        "conversation": {
          "description": "The conversation resource name that had an error during correlation.",
          "type": "string"
        },
        "status": {
          "description": "The error status.",
          "$ref": "GoogleRpcStatus"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1TestCorrelationConfigMetadataFullConversationCorrelationStatsConversationCorrelationError",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1SettingsDiagnosticMetricConfig": {
      "description": "Configuration for diagnostic metrics.",
      "properties": {
        "metrics": {
          "description": "Optional. A map of diagnostic metrics. The key is a unique identifier for the metric (e.g., \"containment\").",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudContactcenterinsightsV1MetricDefinition"
          }
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1SettingsDiagnosticMetricConfig",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1ListViewsResponse": {
      "id": "GoogleCloudContactcenterinsightsV1ListViewsResponse",
      "type": "object",
      "description": "The response of listing views.",
      "properties": {
        "views": {
          "type": "array",
          "description": "The views that match the request.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1View"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainDimensionQaQuestionAnswerDimensionMetadata": {
      "description": "Metadata about the QA question-answer dimension. This is useful for showing the answer distribution for questions for a given scorecard.",
      "properties": {
        "answerValue": {
          "description": "Optional. The full body of the question.",
          "type": "string"
        },
        "qaScorecardId": {
          "description": "Optional. The QA scorecard ID.",
          "type": "string"
        },
        "questionBody": {
          "description": "Optional. The full body of the question.",
          "type": "string"
        },
        "qaQuestionId": {
          "description": "Optional. The QA question ID.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainDimensionQaQuestionAnswerDimensionMetadata",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainDataset": {
      "description": "Dataset resource represents a collection of conversations that may be bounded (Static Dataset, e.g. golden dataset for training), or unbounded (Dynamic Dataset, e.g. live traffic, or agent training traffic)",
      "properties": {
        "displayName": {
          "description": "Display name for the dataaset",
          "type": "string"
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "EVAL",
            "LIVE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value for unspecified.",
            "For evals only.",
            "Dataset with new conversations coming in regularly (Insights legacy conversations and AI trainer)"
          ],
          "description": "Dataset usage type."
        },
        "name": {
          "description": "Immutable. Identifier. Resource name of the dataset. Format: projects/{project}/locations/{location}/datasets/{dataset}",
          "type": "string"
        },
        "description": {
          "description": "Dataset description.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Dataset update time.",
          "readOnly": true
        },
        "ttl": {
          "description": "Optional. Option TTL for the dataset.",
          "type": "string",
          "format": "google-duration"
        },
        "createTime": {
          "description": "Output only. Dataset create time.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainDataset",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1ConversationSummarizationSuggestionData": {
      "description": "Conversation summarization suggestion data.",
      "properties": {
        "textSections": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The summarization content that is divided into sections. The key is the section's name and the value is the section's content. There is no specific format for the key or value."
        },
        "answerRecord": {
          "description": "The name of the answer record. Format: projects/{project}/locations/{location}/answerRecords/{answer_record}",
          "type": "string"
        },
        "metadata": {
          "description": "A map that contains metadata about the summarization and the document from which it originates.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "text": {
          "description": "The summarization content that is concatenated into one string.",
          "type": "string"
        },
        "confidence": {
          "description": "The confidence score of the summarization.",
          "type": "number",
          "format": "float"
        },
        "conversationModel": {
          "description": "The name of the model that generates this summary. Format: projects/{project}/locations/{location}/conversationModels/{conversation_model}",
          "type": "string"
        },
        "generatorId": {
          "description": "Agent Assist generator ID.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1ConversationSummarizationSuggestionData",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1AnswerFeedback": {
      "id": "GoogleCloudContactcenterinsightsV1AnswerFeedback",
      "type": "object",
      "description": "The feedback that the customer has about a certain answer in the conversation.",
      "properties": {
        "clicked": {
          "description": "Indicates whether an answer or item was clicked by the human agent.",
          "type": "boolean"
        },
        "displayed": {
          "description": "Indicates whether an answer or item was displayed to the human agent in the agent desktop UI.",
          "type": "boolean"
        },
        "correctnessLevel": {
          "description": "The correctness level of an answer.",
          "enum": [
            "CORRECTNESS_LEVEL_UNSPECIFIED",
            "NOT_CORRECT",
            "PARTIALLY_CORRECT",
            "FULLY_CORRECT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Correctness level unspecified.",
            "Answer is totally wrong.",
            "Answer is partially correct.",
            "Answer is fully correct."
          ]
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainExportIssueModelMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1mainExportIssueModelMetadata",
      "type": "object",
      "description": "Metadata used for export issue model.",
      "properties": {
        "request": {
          "description": "The original export request.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainExportIssueModelRequest"
        },
        "createTime": {
          "description": "The time the operation was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "The time the operation finished running.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscript": {
      "description": "A message representing the transcript of a conversation.",
      "properties": {
        "transcriptSegments": {
          "type": "array",
          "description": "A list of sequential transcript segments that comprise the conversation.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegment"
          }
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscript",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainSentimentData": {
      "id": "GoogleCloudContactcenterinsightsV1mainSentimentData",
      "type": "object",
      "description": "The data for a sentiment annotation.",
      "properties": {
        "magnitude": {
          "description": "A non-negative number from 0 to infinity which represents the absolute magnitude of sentiment regardless of score.",
          "type": "number",
          "format": "float"
        },
        "score": {
          "description": "The sentiment score between -1.0 (negative) and 1.0 (positive).",
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainQaAnswer": {
      "description": "An answer to a QaQuestion.",
      "properties": {
        "questionBody": {
          "description": "Question text. E.g., \"Did the agent greet the customer?\"",
          "type": "string"
        },
        "answerValue": {
          "description": "The answer value from this source. This field is populated by default, unless the question has a selection strategy configured to return multiple answer values, in which case `answer_values` will be populated instead.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainQaAnswerAnswerValue"
        },
        "tags": {
          "type": "array",
          "description": "User-defined list of arbitrary tags. Matches the value from QaScorecard.ScorecardQuestion.tags. Used for grouping/organization and for weighting the score of each answer.",
          "items": {
            "type": "string"
          }
        },
        "answerSources": {
          "description": "Lists all answer sources containing one or more answer values of a specific source type, e.g., all system-generated answer sources, or all manual edit answer sources.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainQaAnswerAnswerSource"
          },
          "type": "array"
        },
        "qaQuestion": {
          "description": "The QaQuestion answered by this answer.",
          "type": "string"
        },
        "conversation": {
          "description": "The conversation the answer applies to.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainQaAnswer",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1UndeployIssueModelResponse": {
      "description": "The response to undeploy an issue model.",
      "properties": {},
      "id": "GoogleCloudContactcenterinsightsV1alpha1UndeployIssueModelResponse",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1ExportIssueModelMetadata": {
      "description": "Metadata used for export issue model.",
      "properties": {
        "request": {
          "description": "The original export request.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1ExportIssueModelRequest"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the operation was created."
        },
        "endTime": {
          "description": "The time the operation finished running.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1ExportIssueModelMetadata",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1DimensionConversationProfileDimensionMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1DimensionConversationProfileDimensionMetadata",
      "type": "object",
      "description": "Metadata about the conversation profile dimension.",
      "properties": {
        "conversationProfileId": {
          "description": "Optional. The conversation profile ID.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1GenerativeInsightConversationTranscriptMessageSystemMessageTextOutput": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1GenerativeInsightConversationTranscriptMessageSystemMessageTextOutput",
      "type": "object",
      "description": "A text output message from the system.",
      "properties": {
        "text": {
          "type": "array",
          "description": "The parts of the message.",
          "items": {
            "type": "string"
          }
        },
        "textType": {
          "description": "The type of the text message.",
          "type": "string",
          "enumDescriptions": [
            "The default text type.",
            "The text is a thinking plan generated by the thinking tool.",
            "The text is a final response to the user question.",
            "The text is an informational message about the agent's progress, such as a tool being invoked. This is distinct from the agent's internal thought process (`THOUGHT`) and the final answer to the user (`FINAL_RESPONSE`). These messages provide insight into the agent's actions."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "THOUGHT",
            "FINAL_RESPONSE",
            "PROGRESS"
          ]
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1TestCorrelationConfigMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1TestCorrelationConfigMetadata",
      "type": "object",
      "description": "Metadata for testing correlation config.",
      "properties": {
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "dataset": {
          "description": "The dataset used for sampling conversations.",
          "type": "string"
        },
        "stats": {
          "description": "The statistics for the operation.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1TestCorrelationConfigMetadataFullConversationCorrelationStats"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1SpeechConfig": {
      "description": "Speech-to-Text configuration. Speech-to-Text settings are applied to conversations ingested from the `UploadConversation` and `IngestConversations` endpoints, including conversation coming from CCAI Platform. They are not applied to conversations ingested from the `CreateConversation` endpoint.",
      "properties": {
        "speechRecognizer": {
          "description": "The fully-qualified Speech Recognizer resource name. Format: `projects/{project_id}/locations/{location}/recognizer/{recognizer}`",
          "type": "string"
        },
        "disableWordTimeOffsets": {
          "description": "Whether to disable word time offsets. If true, the `enable_word_time_offsets` field in the recognition config will be set to false.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1SpeechConfig",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1ExportInsightsDataRequestBigQueryDestination": {
[...]
