{
  "servicePath": "",
  "kind": "discovery#restDescription",
  "baseUrl": "https://contactcenterinsights.googleapis.com/",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "description": "",
  "version": "v1",
  "schemas": {
    "GoogleCloudCesV1mainBlob": {
      "properties": {
        "data": {
          "description": "Required. Raw bytes of the blob.",
          "type": "string",
          "format": "byte"
        },
        "mimeType": {
          "description": "Required. The IANA standard MIME type of the source data.",
          "type": "string"
        }
      },
      "description": "Represents a blob input or output in the conversation.",
      "id": "GoogleCloudCesV1mainBlob",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1AssistantChunk": {
      "properties": {
        "text": {
          "type": "string",
          "description": "Optional. Text data."
        }
      },
      "type": "object",
      "description": "A chunk of data in an assistant message.",
      "id": "GoogleCloudContactcenterinsightsV1AssistantChunk"
    },
    "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPoint": {
      "id": "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPoint",
      "description": "A data point contains the metric values mapped to an interval.",
      "type": "object",
      "properties": {
        "interval": {
          "description": "The interval that this data point represents. * If this is the total data point, the interval is [starting create time, ending create time) from the request. * If this a data point from the time series, the interval is [time, time + time granularity from the request).",
          "$ref": "GoogleTypeInterval"
        },
        "conversationMeasure": {
          "description": "The measure related to conversations.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPointConversationMeasure"
        },
        "dialogflowInteractionMeasure": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPointDialogflowInteractionMeasure",
          "description": "The measure related to dialogflow interactions."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPartChip": {
      "properties": {
        "text": {
          "description": "Optional. The chip label or text.",
          "type": "string"
        },
        "actionUri": {
          "type": "string",
          "description": "Optional. Optional action or destination URI triggered by the chip."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPartChip",
      "type": "object",
      "description": "A suggestion chip."
    },
    "GoogleCloudContactcenterinsightsV1mainBulkDownloadFeedbackLabelsRequestSheetsDestination": {
      "type": "object",
      "properties": {
        "spreadsheetUri": {
          "type": "string",
          "description": "Required. The Google Sheets document to write the feedback labels to. Retrieved from Google Sheets URI. E.g. `https://docs.google.com/spreadsheets/d/1234567890` The spreadsheet must be shared with the Insights P4SA. The spreadsheet ID written to will be returned as `file_names` in the BulkDownloadFeedbackLabelsMetadata."
        },
        "sheetTitle": {
          "description": "Optional. The title of the new sheet to write the feedback labels to.",
          "type": "string"
        }
      },
      "description": "Google Sheets document details to write the feedback labels to.",
      "id": "GoogleCloudContactcenterinsightsV1mainBulkDownloadFeedbackLabelsRequestSheetsDestination"
    },
    "GoogleCloudContactcenterinsightsV1alpha1SampleConversationsResponse": {
      "properties": {},
      "type": "object",
      "description": "The response to an SampleConversations operation.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1SampleConversationsResponse"
    },
    "GoogleCloudContactcenterinsightsV1SampleConversationsResponse": {
      "properties": {},
      "id": "GoogleCloudContactcenterinsightsV1SampleConversationsResponse",
      "type": "object",
      "description": "The response to an SampleConversations operation."
    },
    "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPointDialogflowInteractionMeasure": {
      "type": "object",
      "properties": {
        "percentileLlmCallLatency": {
          "description": "The percentile result for LLM latency in milliseconds per dialogflow interaction level.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPointPercentileResult"
        },
        "percentileToolUseLatency": {
          "description": "The percentile result for tool use latency in milliseconds per dialogflow interaction level.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPointPercentileResult"
        },
        "percentileTtsLatency": {
          "description": "The percentile result for TTS latency in milliseconds per dialogflow interaction level.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPointPercentileResult"
        },
        "percentileEndToEndLatency": {
          "description": "The percentile result for end to end chat latency in milliseconds per dialogflow interaction level.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPointPercentileResult"
        },
        "percentileAudioInAudioOutLatency": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPointPercentileResult",
          "description": "The percentile result for audio in audio out latency in milliseconds per dialogflow interaction level."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPointDialogflowInteractionMeasure",
      "description": "The measure related to dialogflow interactions."
    },
    "GoogleCloudContactcenterinsightsV1BulkDownloadFeedbackLabelsRequest": {
      "id": "GoogleCloudContactcenterinsightsV1BulkDownloadFeedbackLabelsRequest",
      "properties": {
        "templateQaScorecardId": {
          "description": "Optional. If set, a template for labeling conversations and scorecard questions will be created from the conversation_filter and the questions under the scorecard(s). The feedback label `filter` will be ignored.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "sheetsDestination": {
          "$ref": "GoogleCloudContactcenterinsightsV1BulkDownloadFeedbackLabelsRequestSheetsDestination",
          "description": "A sheets document destination."
        },
        "feedbackLabelType": {
          "enumDescriptions": [
            "Unspecified format",
            "Downloaded file will contain all Quality AI labels from the latest scorecard revision.",
            "Downloaded file will contain only Topic Modeling labels.",
            "Agent Assist Summarization labels."
          ],
          "type": "string",
          "enum": [
            "FEEDBACK_LABEL_TYPE_UNSPECIFIED",
            "QUALITY_AI",
            "TOPIC_MODELING",
            "AGENT_ASSIST_SUMMARY"
          ],
          "description": "Optional. The type of feedback labels that will be downloaded."
        },
        "maxDownloadCount": {
          "description": "Optional. Limits the maximum number of feedback labels that will be downloaded. The first `N` feedback labels will be downloaded.",
          "type": "integer",
          "format": "int32"
        },
        "gcsDestination": {
          "description": "A cloud storage bucket destination.",
          "$ref": "GoogleCloudContactcenterinsightsV1BulkDownloadFeedbackLabelsRequestGcsDestination"
        },
        "filter": {
          "type": "string",
          "description": "Optional. A filter to reduce results to a specific subset. Supports disjunctions (OR) and conjunctions (AND). Supported fields: * `issue_model_id` * `qa_question_id` * `qa_scorecard_id` * `min_create_time` * `max_create_time` * `min_update_time` * `max_update_time` * `feedback_label_type`: QUALITY_AI, TOPIC_MODELING"
        },
        "conversationFilter": {
          "description": "Optional. Filter parent conversations to download feedback labels for. When specified, the feedback labels will be downloaded for the conversations that match the filter. If `template_qa_scorecard_id` is set, all the conversations that match the filter will be paired with the questions under the scorecard for labeling.",
          "type": "string"
        },
        "parent": {
          "description": "Required. The parent resource for new feedback labels.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request for the BulkDownloadFeedbackLabel endpoint."
    },
    "GoogleCloudContactcenterinsightsV1PhraseMatcher": {
      "properties": {
        "phraseMatchRuleGroups": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1PhraseMatchRuleGroup"
          },
          "type": "array",
          "description": "A list of phase match rule groups that are included in this matcher."
        },
        "activationUpdateTime": {
          "description": "Output only. The most recent time at which the activation status was updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The human-readable name of the phrase matcher."
        },
        "versionTag": {
          "type": "string",
          "description": "The customized version tag to use for the phrase matcher. If not specified, it will default to `revision_id`."
        },
        "name": {
          "type": "string",
          "description": "The resource name of the phrase matcher. Format: projects/{project}/locations/{location}/phraseMatchers/{phrase_matcher}"
        },
        "roleMatch": {
          "type": "string",
          "enumDescriptions": [
            "Participant's role is not set.",
            "Participant is a human agent.",
            "Participant is an automated agent.",
            "Participant is an end user who conversed with the contact center.",
            "Participant is either a human or automated agent."
          ],
          "description": "The role whose utterances the phrase matcher should be matched against. If the role is ROLE_UNSPECIFIED it will be matched against any utterances in the transcript.",
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER",
            "ANY_AGENT"
          ]
        },
        "revisionId": {
          "type": "string",
          "description": "Output only. Immutable. The revision ID of the phrase matcher. A new revision is committed whenever the matcher is changed, except when it is activated or deactivated. A server generated random ID will be used. Example: locations/global/phraseMatchers/my-first-matcher@1234567",
          "readOnly": true
        },
        "revisionCreateTime": {
          "readOnly": true,
          "description": "Output only. The timestamp of when the revision was created. It is also the create time when a new matcher is added.",
          "format": "google-datetime",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Unspecified.",
            "Must meet all phrase match rule groups or there is no match.",
            "If any of the phrase match rule groups are met, there is a match."
          ],
          "description": "Required. The type of this phrase matcher.",
          "enum": [
            "PHRASE_MATCHER_TYPE_UNSPECIFIED",
            "ALL_OF",
            "ANY_OF"
          ],
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The most recent time at which the phrase matcher was updated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "active": {
          "description": "Applies the phrase matcher only when it is active.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "The phrase matcher resource.",
      "id": "GoogleCloudContactcenterinsightsV1PhraseMatcher"
    },
    "GoogleCloudContactcenterinsightsV1alpha1ImportIssueModelRequest": {
      "type": "object",
      "properties": {
        "createNewModel": {
          "description": "Optional. If set to true, will create an issue model from the imported file with randomly generated IDs for the issue model and corresponding issues. Otherwise, replaces an existing model with the same ID as the file.",
          "type": "boolean"
        },
        "parent": {
          "description": "Required. The parent resource of the issue model.",
          "type": "string"
        },
        "gcsSource": {
          "description": "Google Cloud Storage source message.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1ImportIssueModelRequestGcsSource"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1ImportIssueModelRequest",
      "description": "Request to import an issue model."
    },
    "GoogleCloudContactcenterinsightsV1mainGenerativeInsightsResponseGenerativeResponse": {
      "type": "object",
      "description": "Wrapper for storing the generative response for a chart.",
      "id": "GoogleCloudContactcenterinsightsV1mainGenerativeInsightsResponseGenerativeResponse",
      "properties": {
        "chartSpec": {
          "description": "The chart spec for the data. This will be specified in the vega-lite or vega format.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "textOutput": {
          "type": "string",
          "description": "The text output from the LLM. Will be populated during the chart building phase. For a reloaded chart, this will NOT be populated. May contain THOUGHT or a FINAL response or some in-progress response.",
          "deprecated": true
        },
        "textMessage": {
          "description": "The text output from the LLM. Will be populated during the chart building phase. For a reloaded chart, this will NOT be populated. May contain THOUGHT or a FINAL response or some in-progress response.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainGenerativeInsightsResponseGenerativeResponseTextOutput"
        },
        "generatedSqlQuery": {
          "description": "The generated SQL query from the LLM. Will be populated during the chart building phase. The generated SQL will be cached in the corresponding chart resource.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1ListConversationsResponse": {
      "id": "GoogleCloudContactcenterinsightsV1ListConversationsResponse",
      "properties": {
        "conversations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1Conversation"
          },
          "description": "The conversations that match the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token which can be sent as `page_token` to retrieve the next page. If this field is set, it means there is another page available. If it is not set, it means no other pages are available."
        }
      },
      "description": "The response of listing conversations.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainAnnotatorSelectorQaConfig": {
      "description": "Configuration for the QA feature.",
      "properties": {
        "scorecardList": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainAnnotatorSelectorQaConfigScorecardList",
          "description": "A manual list of scorecards to score."
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainAnnotatorSelectorQaConfig"
    },
    "GoogleCloudContactcenterinsightsV1alpha1DialogflowSource": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1DialogflowSource",
      "description": "A Dialogflow source of conversation data.",
      "type": "object",
      "properties": {
        "audioUri": {
          "type": "string",
          "description": "Cloud Storage URI that points to a file that contains the conversation audio."
        },
        "dialogflowConversation": {
          "description": "Output only. The name of the Dialogflow conversation that this conversation resource is derived from. Format: projects/{project}/locations/{location}/conversations/{conversation}",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainConversationLevelSentiment": {
      "description": "One channel of conversation-level sentiment data.",
      "type": "object",
      "properties": {
        "sentimentData": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainSentimentData",
          "description": "Data specifying sentiment."
        },
        "channelTag": {
          "description": "The channel of the audio that the data applies to.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainConversationLevelSentiment"
    },
    "GoogleCloudContactcenterinsightsV1CesTurnAnnotation": {
      "properties": {
        "messages": {
          "description": "The messages in the turn.",
          "items": {
            "$ref": "GoogleCloudCesV1mainMessage"
          },
          "type": "array"
        },
        "rootSpan": {
          "description": "The root span of the action processing.",
          "$ref": "GoogleCloudCesV1mainSpan"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1CesTurnAnnotation",
      "description": "The CES diagnostic information.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainDimensionQaQuestionAnswerDimensionMetadata": {
      "type": "object",
      "properties": {
        "answerValue": {
          "description": "Optional. The full body of the question.",
          "type": "string"
        },
        "questionBody": {
          "description": "Optional. The full body of the question.",
          "type": "string"
        },
        "qaScorecardId": {
          "description": "Optional. The QA scorecard ID.",
          "type": "string"
        },
        "qaQuestionId": {
          "description": "Optional. The QA question ID.",
          "type": "string"
        }
      },
      "description": "Metadata about the QA question-answer dimension. This is useful for showing the answer distribution for questions for a given scorecard.",
      "id": "GoogleCloudContactcenterinsightsV1mainDimensionQaQuestionAnswerDimensionMetadata"
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPartThoughtPart": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPartThoughtPart",
      "description": "A thought part.",
      "type": "object",
      "properties": {
        "text": {
          "description": "Optional. The thought or reasoning text.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1DialogflowIntent": {
      "properties": {
        "displayName": {
          "description": "The human-readable name of the intent.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1DialogflowIntent",
      "description": "The data for a Dialogflow intent. Represents a detected intent in the conversation, e.g. MAKES_PROMISE.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1CalculateStatsResponseTimeSeries": {
      "id": "GoogleCloudContactcenterinsightsV1CalculateStatsResponseTimeSeries",
      "properties": {
        "points": {
          "description": "An ordered list of intervals from earliest to latest, where each interval represents the number of conversations that transpired during the time window.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1CalculateStatsResponseTimeSeriesInterval"
          }
        },
        "intervalDuration": {
          "format": "google-duration",
          "type": "string",
          "description": "The duration of each interval."
        }
      },
      "description": "A time series representing conversations over time.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1QaAnswerAnswerValue": {
      "description": "Message for holding the value of a QaAnswer. QaQuestion.AnswerChoice defines the possible answer values for a question.",
      "properties": {
        "key": {
          "type": "string",
          "description": "A short string used as an identifier. Matches the value used in QaQuestion.AnswerChoice.key."
        },
        "strValue": {
          "description": "String value.",
          "type": "string"
        },
        "score": {
          "description": "Output only. Numerical score of the answer.",
          "readOnly": true,
          "type": "number",
          "format": "double"
        },
        "boolValue": {
          "description": "Boolean value.",
          "type": "boolean"
        },
        "potentialScore": {
          "description": "Output only. The maximum potential score of the question.",
          "format": "double",
          "readOnly": true,
          "type": "number"
        },
        "naValue": {
          "description": "A value of \"Not Applicable (N/A)\". Should only ever be `true`.",
          "type": "boolean"
        },
        "skipValue": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. A value of \"Skip\". If provided, this field may only be set to `true`. If a question receives this answer, it will be excluded from any score calculations. This would mean that the question was not evaluated."
        },
        "normalizedScore": {
          "description": "Output only. Normalized score of the questions. Calculated as score / potential_score.",
          "type": "number",
          "format": "double",
          "readOnly": true
        },
        "numValue": {
          "format": "double",
          "description": "Numerical value.",
          "type": "number"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1QaAnswerAnswerValue",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationDataSource": {
      "properties": {
        "turnLevelAudios": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConversationDataSourceTurnLevelAudio"
          },
          "description": "Cloud Storage URIs that points to files that contain the conversation audio for each turn. Assume the order of the URIs is the same as the order of the transcript turns.",
          "type": "array"
        },
        "dialogflowSource": {
          "description": "The source when the conversation comes from Dialogflow.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1DialogflowSource"
        },
        "metadataUri": {
          "description": "Cloud Storage URI that points to a file that contains the conversation metadata.",
          "type": "string"
        },
        "gcsSource": {
          "description": "A Cloud Storage location specification for the audio and transcript.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1GcsSource"
        }
      },
      "type": "object",
      "description": "The conversation source, which is a combination of transcript and audio.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationDataSource"
    },
    "GoogleCloudContactcenterinsightsV1mainBulkAnalyzeConversationsRequest": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainBulkAnalyzeConversationsRequest",
      "properties": {
        "analysisPercentage": {
          "type": "number",
          "format": "float",
          "description": "Required. Percentage of selected conversation to analyze, between [0, 100]."
        },
        "relabel": {
          "type": "boolean",
          "description": "Optional. If true, the labeling rules will be re-evaluated for the conversations."
        },
        "filter": {
          "description": "Required. Filter used to select the subset of conversations to analyze.",
          "type": "string"
        },
        "annotatorSelector": {
          "description": "To select the annotators to run and the phrase matchers to use (if any). If not specified, all annotators will be run.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainAnnotatorSelector"
        },
        "parent": {
          "description": "Required. The parent resource to create analyses in.",
          "type": "string"
        }
      },
      "description": "The request to analyze conversations in bulk."
    },
    "GoogleCloudContactcenterinsightsV1QaQuestionPredefinedQuestionConfig": {
      "id": "GoogleCloudContactcenterinsightsV1QaQuestionPredefinedQuestionConfig",
      "properties": {
        "type": {
          "description": "The type of the predefined question.",
          "enum": [
            "PREDEFINED_QUESTION_TYPE_UNSPECIFIED",
            "CONVERSATION_OUTCOME",
            "CONVERSATION_OUTCOME_ESCALATION_INITIATOR_ROLE",
            "CONVERSATION_OUTCOME_AI_AVERSION"
          ],
          "type": "string",
          "enumDescriptions": [
            "The type of the predefined question is unspecified.",
            "A prebuilt classifier classfying the outcome of the conversation. For example, if the customer issue mentioned in a conversation has been resolved or not.",
            "A prebuilt classifier classfying the initiator of the conversation escalation. For example, if it was initiated by the customer or the agent.",
            "Classifies whether the customer demonstrates AI aversion by instantly requesting escalation to a human agent without attempting to work with the AI agent."
          ]
        }
      },
      "description": "Configuration for a predefined question. This field will only be set if the Question Type is predefined.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1Intent": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1Intent",
      "description": "The data for an intent. Represents a detected intent in the conversation, for example MAKES_PROMISE.",
      "properties": {
        "id": {
          "description": "The unique identifier of the intent.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The human-readable name of the intent."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1QaScorecardResultScoreSource": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1QaScorecardResultScoreSource",
      "properties": {
        "qaTagResults": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1QaScorecardResultQaTagResult"
          },
          "type": "array",
          "description": "Collection of tags and their scores."
        },
        "score": {
          "type": "number",
          "format": "double",
          "description": "The overall numerical score of the result."
        },
        "sourceType": {
          "description": "What created the score.",
          "enumDescriptions": [
            "Source type is unspecified.",
            "Score is derived only from system-generated answers.",
            "Score is derived from both system-generated answers, and includes any manual edits if they exist."
          ],
          "type": "string",
          "enum": [
            "SOURCE_TYPE_UNSPECIFIED",
            "SYSTEM_GENERATED_ONLY",
            "INCLUDES_MANUAL_EDITS"
          ]
        },
        "normalizedScore": {
          "type": "number",
          "format": "double",
          "description": "The normalized score, which is the score divided by the potential score."
        },
        "potentialScore": {
          "type": "number",
          "format": "double",
          "description": "The maximum potential overall score of the scorecard. Any questions answered using `na_value` are excluded from this calculation."
        }
      },
      "type": "object",
      "description": "A scorecard result may have multiple sets of scores from varying sources, one of which becomes the \"main\" answer above. A ScoreSource represents each individual set of scores."
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPartListPart": {
      "type": "object",
      "properties": {
        "items": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPartListItem"
          },
          "type": "array",
          "description": "Optional. List items."
        },
        "listType": {
          "enumDescriptions": [
            "Unspecified list type.",
            "Unordered list.",
            "Ordered numbered list.",
            "Ordered alphabetic list."
          ],
          "description": "Optional. The type of list.",
          "enum": [
            "LIST_TYPE_UNSPECIFIED",
            "UNORDERED",
            "ORDERED_NUMBER",
            "ORDERED_ALPHA"
          ],
          "type": "string"
        }
      },
      "description": "A list part.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPartListPart"
    },
    "GoogleCloudContactcenterinsightsV1TestCorrelationConfigResponseDetailedCorrelationResults": {
      "type": "object",
      "properties": {
        "joinKeyResults": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1ConversationCorrelationResult"
          },
          "description": "A list of join key correlation results for each conversation tested."
        },
        "constraintResults": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1ConstraintEvaluationResult"
          },
          "type": "array",
          "description": "A list of constraint evaluation results for each pair of conversations."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1TestCorrelationConfigResponseDetailedCorrelationResults",
      "description": "Wrapper for detailed, step-by-step results."
    },
    "GoogleCloudCesV1mainToolCall": {
      "type": "object",
      "properties": {
        "toolsetTool": {
          "description": "Optional. The toolset tool to execute.",
          "$ref": "GoogleCloudCesV1mainToolsetTool"
        },
        "agentName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable name of the agent that issued this call, e.g. \"Contract Architect\". Empty when the root agent issued it."
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Display name of the tool."
        },
        "parentToolCallId": {
          "type": "string",
          "description": "Output only. The id of the tool call that caused this one, when it was issued by a sub-agent working on behalf of a parent call. Empty for top-level calls. Lets a client group a sub-agent's work under the call that started it instead of rendering every step as a sibling.",
          "readOnly": true
        },
        "tool": {
          "type": "string",
          "description": "Optional. The name of the tool to execute. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`"
        },
        "args": {
          "description": "Optional. The input parameters and values for the tool in JSON object format.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "id": {
          "description": "Optional. The unique identifier of the tool call. If populated, the client should return the execution result with the matching ID in ToolResponse.",
          "type": "string"
        }
      },
      "id": "GoogleCloudCesV1mainToolCall",
      "description": "Request for the client or the agent to execute the specified tool."
    },
    "GoogleCloudContactcenterinsightsV1ConversationTranscript": {
      "description": "A message representing the transcript of a conversation.",
      "properties": {
        "transcriptSegments": {
          "description": "A list of sequential transcript segments that comprise the conversation.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegment"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1ConversationTranscript",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartLinkPart": {
      "id": "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartLinkPart",
      "properties": {
        "uri": {
          "description": "Optional. Target URI.",
          "type": "string"
        },
        "text": {
          "description": "Optional. Anchor or display text.",
          "type": "string"
        }
      },
      "description": "A link part.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainQueryPerformanceOverviewMetadata": {
      "properties": {},
      "description": "The metadata for querying performance overview.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainQueryPerformanceOverviewMetadata"
    },
    "GoogleCloudContactcenterinsightsV1mainDimensionAgentDimensionMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1mainDimensionAgentDimensionMetadata",
      "type": "object",
      "description": "Metadata about the agent dimension.",
      "properties": {
        "agentDeploymentId": {
          "type": "string",
          "description": "Optional. The agent's deployment ID. Only applicable to automated agents. This will be populated for AGENT and AGENT_DEPLOYMENT_ID dimensions."
        },
        "agentVersionDisplayName": {
          "description": "Optional. The agent's version display name. Only applicable to automated agents. This will be populated for AGENT_VERSION_ID, and AGENT_DEPLOYMENT_ID dimensions.",
          "type": "string"
        },
        "agentTeam": {
          "description": "Optional. A user-specified string representing the agent's team.",
          "type": "string"
        },
        "agentId": {
          "description": "Optional. A user-specified string representing the agent. This will be populated for AGENT, AGENT_TEAM, AGENT_VERSION_ID, and AGENT_DEPLOYMENT_ID dimensions.",
          "type": "string"
        },
        "agentVersionId": {
          "type": "string",
          "description": "Optional. The agent's version ID. Only applicable to automated agents. This will be populated for AGENT_VERSION_ID, and AGENT_DEPLOYMENT_ID dimensions."
        },
        "agentDisplayName": {
          "description": "Optional. The agent's name This will be populated for AGENT, AGENT_TEAM, AGENT_VERSION_ID, and AGENT_DEPLOYMENT_ID dimensions.",
          "type": "string"
        },
        "agentDeploymentDisplayName": {
          "type": "string",
          "description": "Optional. The agent's deployment display name. Only applicable to automated agents. This will be populated for AGENT_DEPLOYMENT_ID dimensions."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1SampleConversationsMetadataSampleConversationsStats": {
      "properties": {
        "failedSampleCount": {
          "readOnly": true,
          "format": "int32",
          "type": "integer",
          "description": "Output only. The number of objects which were unable to be sampled due to errors. The errors are populated in the partial_errors field."
        },
        "successfulSampleCount": {
          "format": "int32",
          "description": "Output only. The number of new conversations added during this sample operation.",
          "readOnly": true,
          "type": "integer"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1SampleConversationsMetadataSampleConversationsStats",
      "type": "object",
      "description": "Statistics for SampleConversations operation."
    },
    "GoogleCloudContactcenterinsightsV1mainIngestConversationsRequestTranscriptObjectConfig": {
      "description": "Configuration for processing transcript objects.",
      "properties": {
        "medium": {
          "description": "Required. The medium transcript objects represent.",
          "enumDescriptions": [
            "Default value for unspecified.",
            "The format for conversations that took place over the phone.",
            "The format for conversations that took place over chat."
          ],
          "enum": [
            "MEDIUM_UNSPECIFIED",
            "PHONE_CALL",
            "CHAT"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainIngestConversationsRequestTranscriptObjectConfig"
    },
    "GoogleCloudContactcenterinsightsV1BulkUploadFeedbackLabelsRequestGcsSource": {
      "id": "GoogleCloudContactcenterinsightsV1BulkUploadFeedbackLabelsRequestGcsSource",
      "type": "object",
      "properties": {
        "format": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified format.",
            "CSV format.",
            "JSON format."
          ],
          "description": "Required. File format which will be ingested.",
          "enum": [
            "FORMAT_UNSPECIFIED",
            "CSV",
            "JSON"
          ]
        },
        "objectUri": {
          "type": "string",
          "description": "Required. The Google Cloud Storage URI of the file to import. Format: `gs://bucket_name/object_name`"
        }
      },
      "description": "Google Cloud Storage Object details to get the feedback label file from."
    },
    "GoogleCloudContactcenterinsightsV1QaScorecardRevision": {
      "type": "object",
      "description": "A revision of a QaScorecard. Modifying published scorecard fields would invalidate existing scorecard results — the questions may have changed, or the score weighting will make existing scores impossible to understand. So changes must create a new revision, rather than modifying the existing resource.",
      "id": "GoogleCloudContactcenterinsightsV1QaScorecardRevision",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The name of the scorecard revision. Format: projects/{project}/locations/{location}/qaScorecards/{qa_scorecard}/revisions/{revision}"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "EDITABLE",
            "TRAINING",
            "TRAINING_FAILED",
            "READY",
            "DELETING",
            "TRAINING_CANCELLED"
          ],
          "description": "Output only. State of the scorecard revision, indicating whether it's ready to be used in analysis.",
          "enumDescriptions": [
            "Unspecified.",
            "The scorecard revision can be edited.",
            "Scorecard model training is in progress.",
            "Scorecard revision model training failed.",
            "The revision can be used in analysis.",
            "Scorecard is being deleted.",
            "Scorecard model training was explicitly cancelled by the user."
          ],
          "readOnly": true,
          "type": "string"
        },
        "snapshot": {
          "description": "The snapshot of the scorecard at the time of this revision's creation.",
          "$ref": "GoogleCloudContactcenterinsightsV1QaScorecard"
        },
        "alternateIds": {
          "description": "Output only. Alternative IDs for this revision of the scorecard, e.g., `latest`.",
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp that the revision was created.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1DeleteQaQuestionTagRequest": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1DeleteQaQuestionTagRequest",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The name of the QaQuestionTag to delete."
        }
      },
      "type": "object",
      "description": "The request for deleting a QaQuestionTag."
    },
    "GoogleCloudContactcenterinsightsV1ChartDataSource": {
      "type": "object",
      "properties": {
        "generativeInsights": {
          "$ref": "GoogleCloudContactcenterinsightsV1GenerativeInsights",
          "description": "Use natural language query to generate the chart."
        },
        "queryMetrics": {
          "description": "Use the existing QueryMetrics to generate the chart.",
          "$ref": "GoogleCloudContactcenterinsightsV1QueryMetrics"
        }
      },
      "description": "The request data for visualizing the dataset in the chart.",
      "id": "GoogleCloudContactcenterinsightsV1ChartDataSource"
    },
    "GoogleCloudContactcenterinsightsV1GenerativeInsightsChartCheckpoint": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1GenerativeInsightsChartCheckpoint",
      "description": "The current chart checkpoint state.",
      "properties": {
        "revisionId": {
          "description": "The revision id of the chart.",
          "type": "string"
        },
        "sessionId": {
          "type": "string",
          "description": "The session id of the chart."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainDimensionQaQuestionDimensionMetadata": {
      "type": "object",
      "properties": {
        "questionBody": {
          "description": "Optional. The full body of the question.",
          "type": "string"
        },
        "qaQuestionId": {
          "type": "string",
          "description": "Optional. The QA question ID."
        },
        "qaScorecardId": {
          "description": "Optional. The QA scorecard ID.",
          "type": "string"
        }
      },
      "description": "Metadata about the QA question dimension.",
      "id": "GoogleCloudContactcenterinsightsV1mainDimensionQaQuestionDimensionMetadata"
    },
    "GoogleCloudContactcenterinsightsV1ListQaQuestionTagsResponse": {
      "id": "GoogleCloudContactcenterinsightsV1ListQaQuestionTagsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "qaQuestionTags": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1QaQuestionTag"
          },
          "type": "array",
          "description": "The parent resource of the questions."
        }
      },
      "description": "The response from a ListQaQuestionTags request."
    },
    "GoogleCloudContactcenterinsightsV1mainDimensionConversationProfileDimensionMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1mainDimensionConversationProfileDimensionMetadata",
      "description": "Metadata about the conversation profile dimension.",
      "properties": {
        "conversationProfileId": {
          "type": "string",
          "description": "Optional. The conversation profile ID."
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1BulkUploadFeedbackLabelsRequest": {
      "properties": {
        "validateOnly": {
          "type": "boolean",
          "description": "Optional. If set, upload will not happen and the labels will be validated. If not set, then default behavior will be to upload the labels after validation is complete."
        },
        "sheetsSource": {
          "description": "A sheets document source.",
          "$ref": "GoogleCloudContactcenterinsightsV1BulkUploadFeedbackLabelsRequestSheetsSource"
        },
        "gcsSource": {
          "$ref": "GoogleCloudContactcenterinsightsV1BulkUploadFeedbackLabelsRequestGcsSource",
          "description": "A cloud storage bucket source."
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1BulkUploadFeedbackLabelsRequest",
      "description": "The request for bulk uploading feedback labels."
    },
    "GoogleCloudContactcenterinsightsV1IngestConversationsMetadataIngestConversationsStats": {
      "type": "object",
      "properties": {
        "duplicatesSkippedCount": {
          "format": "int32",
          "description": "Output only. The number of objects skipped because another conversation with the same transcript uri had already been ingested.",
          "type": "integer",
          "readOnly": true
        },
        "processedObjectCount": {
          "format": "int32",
          "type": "integer",
          "readOnly": true,
          "description": "Output only. The number of objects processed during the ingest operation."
        },
        "failedIngestCount": {
          "format": "int32",
          "readOnly": true,
          "description": "Output only. The number of objects which were unable to be ingested due to errors. The errors are populated in the partial_errors field.",
          "type": "integer"
        },
        "successfulIngestCount": {
          "format": "int32",
          "description": "Output only. The number of new conversations added during this ingest operation.",
          "readOnly": true,
          "type": "integer"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1IngestConversationsMetadataIngestConversationsStats",
      "description": "Statistics for IngestConversations operation."
    },
    "GoogleCloudContactcenterinsightsV1alpha1AnswerFeedback": {
      "properties": {
        "displayed": {
          "type": "boolean",
          "description": "Indicates whether an answer or item was displayed to the human agent in the agent desktop UI."
        },
        "correctnessLevel": {
          "description": "The correctness level of an answer.",
          "enum": [
            "CORRECTNESS_LEVEL_UNSPECIFIED",
            "NOT_CORRECT",
            "PARTIALLY_CORRECT",
            "FULLY_CORRECT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Correctness level unspecified.",
            "Answer is totally wrong.",
            "Answer is partially correct.",
            "Answer is fully correct."
          ]
        },
        "clicked": {
          "description": "Indicates whether an answer or item was clicked by the human agent.",
          "type": "boolean"
        }
      },
      "description": "The feedback that the customer has about a certain answer in the conversation.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1AnswerFeedback",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPartListItem": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPartListItem",
      "description": "An item in a list.",
      "properties": {
        "text": {
          "description": "Optional. The text of the list item.",
          "type": "string"
        },
        "subItems": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPartListItem"
          },
          "description": "Optional. Nested sub-items.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1ListAllFeedbackLabelsResponse": {
      "description": "The response for listing all feedback labels.",
      "properties": {
        "feedbackLabels": {
          "type": "array",
          "description": "The feedback labels that match the request.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1FeedbackLabel"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1ListAllFeedbackLabelsResponse",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartListItem": {
      "description": "An item in a list.",
      "properties": {
        "text": {
          "description": "Optional. The text of the list item.",
          "type": "string"
        },
        "subItems": {
          "type": "array",
          "description": "Optional. Nested sub-items.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartListItem"
          }
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartListItem",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainEntityMentionData": {
      "properties": {
        "entityUniqueId": {
          "description": "The key of this entity in conversation entities. Can be used to retrieve the exact `Entity` this mention is attached to.",
          "type": "string"
        },
        "sentiment": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainSentimentData",
          "description": "Sentiment expressed for this mention of the entity."
        },
        "type": {
          "description": "The type of the entity mention.",
          "enumDescriptions": [
            "Unspecified.",
            "Proper noun.",
            "Common noun (or noun compound)."
          ],
          "type": "string",
          "enum": [
            "MENTION_TYPE_UNSPECIFIED",
            "PROPER",
            "COMMON"
          ]
        }
      },
      "description": "The data for an entity mention annotation. This represents a mention of an `Entity` in the conversation.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainEntityMentionData"
    },
    "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceTimeSeries": {
      "type": "object",
      "description": "A time series of metric values.",
      "id": "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceTimeSeries",
      "properties": {
        "dataPoints": {
          "type": "array",
          "description": "The data points that make up the time series .",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPoint"
          }
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainAnalysisResultCallAnalysisMetadata": {
      "type": "object",
      "description": "Call-specific metadata created during analysis.",
      "properties": {
        "qaScorecardResults": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainQaScorecardResult"
          },
          "description": "Results of scoring QaScorecards.",
          "type": "array"
        },
        "sentiments": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainConversationLevelSentiment"
          },
          "description": "Overall conversation-level sentiment for each channel of the call."
        },
        "annotations": {
          "description": "A list of call annotations that apply to this call.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainCallAnnotation"
          }
        },
        "silence": {
          "description": "Overall conversation-level silence during the call.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainConversationLevelSilence"
        },
        "intents": {
          "description": "All the matched intents in the call.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainIntent"
          }
        },
        "entities": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainEntity"
          },
          "description": "All the entities in the call."
        },
        "phraseMatchers": {
          "description": "All the matched phrase matchers in the call.",
          "additionalProperties": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainPhraseMatchData"
          },
          "type": "object"
        },
        "issueModelResult": {
          "description": "Overall conversation-level issue modeling result.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainIssueModelResult"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainAnalysisResultCallAnalysisMetadata"
    },
    "GoogleCloudContactcenterinsightsV1AuthorizedViewSet": {
      "type": "object",
      "description": "An AuthorizedViewSet contains a set of AuthorizedView resources.",
      "id": "GoogleCloudContactcenterinsightsV1AuthorizedViewSet",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the AuthorizedViewSet. Format: projects/{project}/locations/{location}/authorizedViewSets/{authorized_view_set}"
        },
        "displayName": {
          "description": "Display Name. Limit 64 characters.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Create time.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Update time.",
          "readOnly": true
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1ExportInsightsDataRequestBigQueryDestination": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1ExportInsightsDataRequestBigQueryDestination",
      "properties": {
        "table": {
          "description": "The BigQuery table name to which the insights data should be written. If this table does not exist, the export call returns an INVALID_ARGUMENT error.",
          "type": "string"
        },
        "projectId": {
          "type": "string",
          "description": "A project ID or number. If specified, then export will attempt to write data to this project instead of the resource project. Otherwise, the resource project will be used."
        },
        "dataset": {
          "description": "Required. The name of the BigQuery dataset that the snapshot result should be exported to. If this dataset does not exist, the export call returns an INVALID_ARGUMENT error.",
          "type": "string"
        }
      },
      "description": "A BigQuery Table Reference."
    },
    "GoogleCloudContactcenterinsightsV1QaScorecardResult": {
      "id": "GoogleCloudContactcenterinsightsV1QaScorecardResult",
      "description": "The results of scoring a single conversation against a QaScorecard. Contains a collection of QaAnswers and aggregate score.",
      "properties": {
        "name": {
          "description": "Identifier. The name of the scorecard result. Format: projects/{project}/locations/{location}/qaScorecardResults/{qa_scorecard_result}",
          "type": "string"
        },
        "scoreSources": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1QaScorecardResultScoreSource"
          },
          "type": "array",
          "description": "List of all individual score sets."
        },
        "score": {
          "description": "The overall numerical score of the result, incorporating any manual edits if they exist.",
          "format": "double",
          "type": "number"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp that the revision was created.",
          "format": "google-datetime"
        },
        "normalizedScore": {
          "type": "number",
          "description": "The normalized score, which is the score divided by the potential score. Any manual edits are included if they exist.",
          "format": "double"
        },
        "qaAnswers": {
          "description": "Set of QaAnswers represented in the result.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1QaAnswer"
          },
          "type": "array"
        },
        "qaTagResults": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1QaScorecardResultQaTagResult"
          },
          "description": "Collection of tags and their scores.",
          "type": "array"
        },
        "potentialScore": {
          "description": "The maximum potential overall score of the scorecard. Any questions answered using `na_value` are excluded from this calculation.",
          "type": "number",
          "format": "double"
        },
        "qaScorecardRevision": {
          "description": "The QaScorecardRevision scored by this result.",
          "type": "string"
        },
        "conversation": {
          "type": "string",
          "description": "The conversation scored by this result."
        },
        "agentId": {
          "type": "string",
          "description": "ID of the agent that handled the conversation."
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainIngestConversationsRequest": {
      "description": "The request to ingest conversations.",
      "properties": {
        "transcriptObjectConfig": {
          "description": "Configuration for when `source` contains conversation transcripts.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainIngestConversationsRequestTranscriptObjectConfig"
        },
        "parent": {
          "type": "string",
          "description": "Required. The parent resource for new conversations."
        },
        "redactionConfig": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainRedactionConfig",
          "description": "Optional. DLP settings for transcript redaction. Optional, will default to the config specified in Settings."
        },
        "gcsSource": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainIngestConversationsRequestGcsSource",
          "description": "A cloud storage bucket source. Note that any previously ingested objects from the source will be skipped to avoid duplication."
        },
        "speechConfig": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainSpeechConfig",
          "description": "Optional. Default Speech-to-Text configuration. Optional, will default to the config specified in Settings."
        },
        "conversationConfig": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainIngestConversationsRequestConversationConfig",
          "description": "Configuration that applies to all conversations."
        },
        "sampleSize": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. If set, this fields indicates the number of objects to ingest from the Cloud Storage bucket. If empty, the entire bucket will be ingested. Unless they are first deleted, conversations produced through sampling won't be ingested by subsequent ingest requests."
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainIngestConversationsRequest"
    },
    "GoogleCloudCesV1mainEndSession": {
      "id": "GoogleCloudCesV1mainEndSession",
      "properties": {
        "metadata": {
          "description": "Optional. Provides additional information about the end session signal, such as the reason for ending the session.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      },
      "type": "object",
      "description": "Indicates the session has terminated, due to either successful completion (e.g. user says \"Good bye!\" ) or an agent escalation. The agent will not process any further inputs after session is terminated and the client should half-close and disconnect after receiving all remaining responses from the agent."
    },
    "GoogleCloudContactcenterinsightsV1mainBulkDeleteFeedbackLabelsMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1mainBulkDeleteFeedbackLabelsMetadata",
      "type": "object",
      "properties": {
        "partialErrors": {
          "type": "array",
          "description": "Partial errors during deletion operation that might cause the operation output to be incomplete.",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainBulkDeleteFeedbackLabelsRequest",
          "readOnly": true,
          "description": "Output only. The original request for delete."
        }
      },
      "description": "Metadata for the BulkDeleteFeedbackLabels endpoint."
    },
    "GoogleCloudContactcenterinsightsV1mainConversationCallMetadata": {
      "type": "object",
      "description": "Call-specific metadata.",
      "id": "GoogleCloudContactcenterinsightsV1mainConversationCallMetadata",
      "properties": {
        "agentChannel": {
          "description": "The audio channel that contains the agent.",
          "format": "int32",
          "type": "integer"
        },
        "customerChannel": {
          "description": "The audio channel that contains the customer.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1TestCorrelationConfigRequestConversations": {
      "id": "GoogleCloudContactcenterinsightsV1TestCorrelationConfigRequestConversations",
      "description": "Wrapper for a list of conversations.",
      "type": "object",
      "properties": {
        "conversations": {
          "description": "Optional. The conversations.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1Conversation"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainTestCorrelationConfigMetadata": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainTestCorrelationConfigMetadata",
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime"
        },
        "stats": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainTestCorrelationConfigMetadataFullConversationCorrelationStats",
          "description": "The statistics for the operation."
        },
        "dataset": {
          "description": "The dataset used for sampling conversations.",
          "type": "string"
        }
      },
      "description": "Metadata for testing correlation config."
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationCorrelationResult": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationCorrelationResult",
      "type": "object",
      "properties": {
        "ruleResults": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConversationCorrelationResultRuleCorrelationResult"
          },
          "description": "The results for each correlation rule.",
          "type": "array"
        },
        "conversation": {
          "type": "string",
          "description": "The conversation resource name."
        }
      },
      "description": "The result of testing correlation config on a single conversation."
    },
    "GoogleCloudContactcenterinsightsV1alpha1GenerativeInsightsResponseGenerativeResponse": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1GenerativeInsightsResponseGenerativeResponse",
      "description": "Wrapper for storing the generative response for a chart.",
      "properties": {
        "generatedSqlQuery": {
          "type": "string",
          "description": "The generated SQL query from the LLM. Will be populated during the chart building phase. The generated SQL will be cached in the corresponding chart resource."
        },
        "textOutput": {
          "deprecated": true,
          "type": "string",
          "description": "The text output from the LLM. Will be populated during the chart building phase. For a reloaded chart, this will NOT be populated. May contain THOUGHT or a FINAL response or some in-progress response."
        },
        "chartSpec": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "The chart spec for the data. This will be specified in the vega-lite or vega format."
        },
        "textMessage": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1GenerativeInsightsResponseGenerativeResponseTextOutput",
          "description": "The text output from the LLM. Will be populated during the chart building phase. For a reloaded chart, this will NOT be populated. May contain THOUGHT or a FINAL response or some in-progress response."
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainIngestConversationsMetadataIngestConversationsStats": {
      "description": "Statistics for IngestConversations operation.",
      "properties": {
        "failedIngestCount": {
          "readOnly": true,
          "description": "Output only. The number of objects which were unable to be ingested due to errors. The errors are populated in the partial_errors field.",
          "format": "int32",
          "type": "integer"
        },
        "processedObjectCount": {
          "readOnly": true,
          "format": "int32",
          "type": "integer",
          "description": "Output only. The number of objects processed during the ingest operation."
        },
        "duplicatesSkippedCount": {
          "readOnly": true,
          "description": "Output only. The number of objects skipped because another conversation with the same transcript uri had already been ingested.",
          "type": "integer",
          "format": "int32"
        },
        "successfulIngestCount": {
          "description": "Output only. The number of new conversations added during this ingest operation.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainIngestConversationsMetadataIngestConversationsStats",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1ListDashboardsResponse": {
      "description": "The response of listing dashboards.",
      "properties": {
        "dashboards": {
          "description": "The dashboards under the parent.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1Dashboard"
          }
        },
        "nextPageToken": {
          "description": "The value returned by the last `ListDashboardsResponse`. This value indicates that this is a continuation of a prior `ListDashboards` call and that the system should return the next page of data.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1ListDashboardsResponse"
    },
    "GoogleCloudContactcenterinsightsV1mainCesTurnAnnotation": {
      "id": "GoogleCloudContactcenterinsightsV1mainCesTurnAnnotation",
      "type": "object",
      "properties": {
        "rootSpan": {
          "$ref": "GoogleCloudCesV1mainSpan",
          "description": "The root span of the action processing."
        },
        "messages": {
          "description": "The messages in the turn.",
          "items": {
            "$ref": "GoogleCloudCesV1mainMessage"
          },
          "type": "array"
        }
      },
      "description": "The CES diagnostic information."
    },
    "GoogleCloudContactcenterinsightsV1DimensionQaScorecardDimensionMetadata": {
      "description": "Metadata about the QA scorecard dimension.",
      "properties": {
        "qaScorecardId": {
          "description": "Optional. The QA scorecard ID.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1DimensionQaScorecardDimensionMetadata",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1CalculateIssueModelStatsResponse": {
      "id": "GoogleCloudContactcenterinsightsV1CalculateIssueModelStatsResponse",
      "properties": {
        "currentStats": {
          "description": "The latest label statistics for the queried issue model. Includes results on both training data and data labeled after deployment.",
          "$ref": "GoogleCloudContactcenterinsightsV1IssueModelLabelStats"
        }
      },
      "type": "object",
      "description": "Response of querying an issue model's statistics."
    },
    "GoogleCloudContactcenterinsightsV1DeployIssueModelResponse": {
      "description": "The response to deploy an issue model.",
      "properties": {},
      "id": "GoogleCloudContactcenterinsightsV1DeployIssueModelResponse",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainIssueAssignment": {
      "id": "GoogleCloudContactcenterinsightsV1mainIssueAssignment",
      "properties": {
        "issue": {
          "description": "Resource name of the assigned issue.",
          "type": "string"
        },
        "score": {
          "description": "Score indicating the likelihood of the issue assignment. currently bounded on [0,1].",
          "type": "number",
          "format": "double"
        },
        "displayName": {
          "description": "Immutable. Display name of the assigned issue. This field is set at time of analysis and immutable since then.",
          "type": "string"
        }
      },
      "description": "Information about the issue.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1Container": {
      "description": "Configurable dashboard's container. Container can contain multiple widgets.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1Container",
      "properties": {
        "containerId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Unique ID for the container."
        },
        "filter": {
          "description": "Filter applied to all charts in the container. Should support scope later.",
          "type": "string"
        },
        "description": {
          "description": "Container description",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "User provided display name of the Container."
        },
        "widgets": {
          "type": "array",
          "description": "Widgets in the Container.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1Widget"
          }
        },
        "dateRangeConfig": {
          "description": "Date range config applied to all charts in the container.",
          "$ref": "GoogleCloudContactcenterinsightsV1DateRangeConfig"
        },
        "height": {
          "format": "int32",
          "type": "integer",
          "description": "The height of the container in grid units."
        },
        "width": {
          "description": "The width of the container in grid units.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1BulkAnalyzeConversationsRequest": {
      "description": "The request to analyze conversations in bulk.",
      "type": "object",
      "properties": {
        "filter": {
          "description": "Required. Filter used to select the subset of conversations to analyze.",
          "type": "string"
        },
        "parent": {
          "description": "Required. The parent resource to create analyses in.",
          "type": "string"
        },
        "relabel": {
          "description": "Optional. If true, the labeling rules will be re-evaluated for the conversations.",
          "type": "boolean"
        },
        "analysisPercentage": {
          "description": "Required. Percentage of selected conversation to analyze, between [0, 100].",
          "format": "float",
          "type": "number"
        },
        "annotatorSelector": {
          "description": "To select the annotators to run and the phrase matchers to use (if any). If not specified, all annotators will be run.",
          "$ref": "GoogleCloudContactcenterinsightsV1AnnotatorSelector"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1BulkAnalyzeConversationsRequest"
    },
    "GoogleCloudContactcenterinsightsV1DeleteIssueModelRequest": {
      "description": "The request to delete an issue model.",
      "id": "GoogleCloudContactcenterinsightsV1DeleteIssueModelRequest",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The name of the issue model to delete."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainDimensionQaScorecardDimensionMetadata": {
      "description": "Metadata about the QA scorecard dimension.",
      "properties": {
        "qaScorecardId": {
          "description": "Optional. The QA scorecard ID.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainDimensionQaScorecardDimensionMetadata",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1IngestConversationsRequestConversationConfig": {
      "description": "Configuration that applies to all conversations.",
      "properties": {
        "customerChannel": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Indicates which of the channels, 1 or 2, contains the agent. Note that this must be set for conversations to be properly displayed and analyzed."
        },
        "agentId": {
          "type": "string",
          "description": "Optional. An opaque, user-specified string representing a human agent who handled all conversations in the import. Note that this will be overridden if per-conversation metadata is provided through the `metadata_bucket_uri`."
        },
        "agentChannel": {
          "type": "integer",
          "description": "Optional. Indicates which of the channels, 1 or 2, contains the agent. Note that this must be set for conversations to be properly displayed and analyzed.",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1IngestConversationsRequestConversationConfig"
    },
    "GoogleIamV1AuditConfig": {
      "id": "GoogleIamV1AuditConfig",
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "type": "array",
          "items": {
            "$ref": "GoogleIamV1AuditLogConfig"
          }
        }
      },
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainGenerativeInsightConversationTranscriptMessageSystemMessages": {
      "id": "GoogleCloudContactcenterinsightsV1mainGenerativeInsightConversationTranscriptMessageSystemMessages",
      "type": "object",
      "description": "A wrapper for system messages per turn.",
      "properties": {
        "systemMessages": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainGenerativeInsightConversationTranscriptMessageSystemMessage"
          },
          "type": "array",
          "description": "A message from the system in response to the user."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1Issue": {
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "Output only. The most recent time that this issue was updated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "sampleUtterances": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. Resource names of the sample representative utterances that match to this issue."
        },
        "name": {
          "description": "Immutable. The resource name of the issue. Format: projects/{project}/locations/{location}/issueModels/{issue_model}/issues/{issue}",
          "type": "string"
        },
        "displayDescription": {
          "description": "Representative description of the issue.",
          "type": "string"
        },
        "displayName": {
          "description": "The representative name for the issue.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time at which this issue was created.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1Issue",
      "description": "The issue resource."
    },
    "GoogleCloudContactcenterinsightsV1alpha1DeployIssueModelResponse": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1DeployIssueModelResponse",
      "description": "The response to deploy an issue model.",
      "properties": {}
    },
    "GoogleCloudContactcenterinsightsV1RedactionConfig": {
      "id": "GoogleCloudContactcenterinsightsV1RedactionConfig",
      "type": "object",
      "properties": {
        "inspectTemplate": {
          "description": "The fully-qualified DLP inspect template resource name. Format: `projects/{project}/locations/{location}/inspectTemplates/{template}`",
          "type": "string"
        },
        "deidentifyTemplate": {
          "description": "The fully-qualified DLP deidentify template resource name. Format: `projects/{project}/deidentifyTemplates/{template}`",
          "type": "string"
        }
      },
      "description": "DLP resources used for redaction while ingesting conversations. DLP settings are applied to conversations ingested from the `UploadConversation` and `IngestConversations` endpoints, including conversation coming from CCAI Platform. They are not applied to conversations ingested from the `CreateConversation` endpoint or the Dialogflow / Agent Assist runtime integrations. When using Dialogflow / Agent Assist runtime integrations, redaction should be performed in Dialogflow / Agent Assist."
    },
    "GoogleCloudContactcenterinsightsV1ConversationDataOptions": {
      "properties": {
        "includeDialogflowInteractionData": {
          "description": "Whether to include the per turn Dialogflow interaction data in conversation transcript.",
          "type": "boolean"
        }
      },
      "description": "Options for configuring what metadata is included in the conversation data used in QAI and Discovery Engine.",
      "id": "GoogleCloudContactcenterinsightsV1ConversationDataOptions",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1ArticleSuggestionData": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1ArticleSuggestionData",
      "description": "Agent Assist Article Suggestion data.",
      "properties": {
        "uri": {
          "description": "Article URI.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Article title."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Map that contains metadata about the Article Suggestion and the document that it originates from."
        },
        "source": {
          "description": "The knowledge document that this answer was extracted from. Format: projects/{project}/knowledgeBases/{knowledge_base}/documents/{document}",
          "type": "string"
        },
        "confidenceScore": {
          "format": "float",
          "description": "The system's confidence score that this article is a good match for this conversation, ranging from 0.0 (completely uncertain) to 1.0 (completely certain).",
          "type": "number"
        },
        "queryRecord": {
          "type": "string",
          "description": "The name of the answer record. Format: projects/{project}/locations/{location}/answerRecords/{answer_record}"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1RedactionConfig": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1RedactionConfig",
      "description": "DLP resources used for redaction while ingesting conversations. DLP settings are applied to conversations ingested from the `UploadConversation` and `IngestConversations` endpoints, including conversation coming from CCAI Platform. They are not applied to conversations ingested from the `CreateConversation` endpoint or the Dialogflow / Agent Assist runtime integrations. When using Dialogflow / Agent Assist runtime integrations, redaction should be performed in Dialogflow / Agent Assist.",
      "type": "object",
      "properties": {
        "inspectTemplate": {
          "type": "string",
          "description": "The fully-qualified DLP inspect template resource name. Format: `projects/{project}/locations/{location}/inspectTemplates/{template}`"
        },
        "deidentifyTemplate": {
          "description": "The fully-qualified DLP deidentify template resource name. Format: `projects/{project}/deidentifyTemplates/{template}`",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1ImportIssueModelRequestGcsSource": {
      "type": "object",
      "description": "Google Cloud Storage Object URI to get the issue model file from.",
      "id": "GoogleCloudContactcenterinsightsV1ImportIssueModelRequestGcsSource",
      "properties": {
        "objectUri": {
          "type": "string",
          "description": "Required. Format: `gs:///`"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1Chart": {
      "properties": {
        "action": {
          "description": "Optional action to be taken when the chart is clicked.",
          "$ref": "GoogleCloudContactcenterinsightsV1ChartAction"
        },
        "description": {
          "type": "string",
          "description": "Chart description"
        },
        "displayName": {
          "type": "string",
          "description": "User provided display name of the chart."
        },
        "dateRangeConfig": {
          "description": "Date range config applied to the chart.",
          "$ref": "GoogleCloudContactcenterinsightsV1DateRangeConfig"
        },
        "chartVisualizationType": {
          "description": "Chart visualization type.",
          "enumDescriptions": [
            "Unspecified chart visualization type.",
            "Bar chart.",
            "Line chart.",
            "Area chart.",
            "Pie chart.",
            "Scatter chart.",
            "Table chart.",
            "Score card chart.",
            "Sunburst chart.",
            "Gauge chart.",
            "Sankey chart."
          ],
          "enum": [
            "CHART_VISUALIZATION_TYPE_UNSPECIFIED",
            "BAR",
            "LINE",
            "AREA",
            "PIE",
            "SCATTER",
            "TABLE",
            "SCORE_CARD",
            "SUNBURST",
            "GAUGE",
            "SANKEY"
          ],
          "type": "string"
        },
        "height": {
          "type": "integer",
          "format": "int32",
          "description": "The height of the chart in grid units."
        },
        "chartType": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified chart type.",
            "Pre-defined chart type.",
            "Configurable chart type."
          ],
          "enum": [
            "CHART_TYPE_UNSPECIFIED",
            "SYSTEM_DEFINED",
            "USER_DEFINED"
          ],
          "description": "Output only. Chart type."
        },
        "name": {
          "type": "string",
          "description": "Identifier. Chart resource name. Format: projects/{project}/locations/{location}/dashboards/{dashboard}/charts/{chart}"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Chart last update time.",
          "readOnly": true
        },
        "dataSource": {
          "$ref": "GoogleCloudContactcenterinsightsV1ChartDataSource"
        },
        "filter": {
          "description": "Filter applied to all charts in the container. Should support scope later.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Chart create time.",
          "format": "google-datetime"
        },
        "width": {
          "format": "int32",
          "type": "integer",
          "description": "The width of the chart in grid units."
        }
      },
      "description": "Configurable dashboard's widget that displays data as a chart.",
      "id": "GoogleCloudContactcenterinsightsV1Chart",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1SmartComposeSuggestionData": {
      "properties": {
        "queryRecord": {
          "description": "The name of the answer record. Format: projects/{project}/locations/{location}/answerRecords/{answer_record}",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Map that contains metadata about the Smart Compose suggestion and the document from which it originates."
        },
        "suggestion": {
          "type": "string",
          "description": "The content of the suggestion."
        },
        "confidenceScore": {
          "type": "number",
          "description": "The system's confidence score that this suggestion is a good match for this conversation, ranging from 0.0 (completely uncertain) to 1.0 (completely certain).",
          "format": "double"
        }
      },
      "type": "object",
      "description": "Agent Assist Smart Compose suggestion data.",
      "id": "GoogleCloudContactcenterinsightsV1SmartComposeSuggestionData"
    },
    "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponseSliceDataPointPercentileResult": {
      "type": "object",
      "description": "The percentile result. Currently supported percentiles are 50th, 90th, and 99th.",
      "properties": {
        "p90": {
          "format": "double",
          "type": "number",
          "description": "The 90th percentile value."
        },
        "p50": {
          "format": "double",
          "type": "number",
          "description": "The 50th percentile value."
        },
        "p99": {
          "format": "double",
          "type": "number",
          "description": "The 99th percentile value."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponseSliceDataPointPercentileResult"
    },
    "GoogleCloudContactcenterinsightsV1alpha1DimensionLabelDimensionMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1DimensionLabelDimensionMetadata",
      "type": "object",
      "properties": {
        "labelValue": {
          "description": "Optional. The label value.",
          "type": "string"
        },
        "labelKey": {
          "description": "Optional. The label key.",
          "type": "string"
        }
      },
      "description": "Metadata about conversation labels."
    },
    "GoogleCloudCesV1mainToolResponse": {
      "description": "The execution result of a specific tool from the client or the agent.",
      "type": "object",
      "properties": {
        "toolsetTool": {
          "$ref": "GoogleCloudCesV1mainToolsetTool",
          "description": "Optional. The toolset tool that got executed."
        },
        "response": {
          "type": "object",
          "description": "Required. The tool execution result in JSON object format. Use \"output\" key to specify tool response and \"error\" key to specify error details (if any). If \"output\" and \"error\" keys are not specified, then whole \"response\" is treated as tool execution result.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "displayName": {
          "description": "Output only. Display name of the tool.",
          "readOnly": true,
          "type": "string"
        },
        "agentName": {
          "readOnly": true,
          "description": "Output only. Human-readable name of the agent that issued this call, e.g. \"Contract Architect\". Empty when the root agent issued it.",
          "type": "string"
        },
        "parentToolCallId": {
          "description": "Output only. The id of the tool call that caused this one, when it was issued by a sub-agent working on behalf of a parent call. Empty for top-level calls. Lets a client group a sub-agent's work under the call that started it instead of rendering every step as a sibling.",
          "type": "string",
          "readOnly": true
        },
        "id": {
          "type": "string",
          "description": "Optional. The matching ID of the tool call the response is for."
        },
        "tool": {
          "description": "Optional. The name of the tool to execute. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`",
          "type": "string"
        }
      },
      "id": "GoogleCloudCesV1mainToolResponse"
    },
    "GoogleCloudContactcenterinsightsV1alpha1UploadConversationRequest": {
      "properties": {
        "speechConfig": {
          "description": "Optional. Speech-to-Text configuration. Will default to the config specified in Settings.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1SpeechConfig"
        },
        "parent": {
          "type": "string",
          "description": "Required. The parent resource of the conversation."
        },
        "conversationId": {
          "description": "Optional. A unique ID for the new conversation. This ID will become the final component of the conversation's resource name. If no ID is specified, a server-generated ID will be used. This value should be 4-64 characters and must match the regular expression `^[a-z0-9-]{4,64}$`. Valid characters are `a-z-`",
          "type": "string"
        },
        "redactionConfig": {
          "description": "Optional. DLP settings for transcript redaction. Will default to the config specified in Settings.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1RedactionConfig"
        },
        "conversation": {
          "description": "Required. The conversation resource to create.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1Conversation"
        }
      },
      "description": "Request to upload a conversation.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1UploadConversationRequest",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1ListIssueModelsResponse": {
      "id": "GoogleCloudContactcenterinsightsV1ListIssueModelsResponse",
      "type": "object",
      "description": "The response of listing issue models.",
      "properties": {
        "issueModels": {
          "description": "The issue models that match the request.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1IssueModel"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1InitializeEncryptionSpecMetadata": {
      "description": "Metadata for initializing a location-level encryption specification.",
      "properties": {
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true
        },
        "partialErrors": {
          "description": "Partial errors during initializing operation that might cause the operation output to be incomplete.",
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1InitializeEncryptionSpecRequest",
          "readOnly": true,
          "description": "Output only. The original request for initialization."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation was created."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1InitializeEncryptionSpecMetadata",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainConversationQualityMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1mainConversationQualityMetadata",
      "type": "object",
      "description": "Conversation metadata related to quality management.",
      "properties": {
        "customerSatisfactionRating": {
          "type": "integer",
          "description": "An arbitrary integer value indicating the customer's satisfaction rating.",
          "format": "int32"
        },
        "feedbackLabels": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainFeedbackLabel"
          },
          "type": "array",
          "description": "Input only. The feedback labels associated with the conversation."
        },
        "agentInfo": {
          "type": "array",
          "description": "Information about agents involved in the call.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainConversationQualityMetadataAgentInfo"
          }
        },
        "waitDuration": {
          "format": "google-duration",
          "description": "The amount of time the customer waited to connect with an agent.",
          "type": "string"
        },
        "menuPath": {
          "description": "An arbitrary string value specifying the menu path the customer took.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1HoldData": {
      "properties": {},
      "id": "GoogleCloudContactcenterinsightsV1HoldData",
      "description": "The data for a hold annotation.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartTextPart": {
      "id": "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartTextPart",
      "type": "object",
      "description": "A text part.",
      "properties": {
        "text": {
          "description": "Optional. The text content.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsResponse": {
      "properties": {},
      "description": "The response to an IngestConversations operation.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsResponse"
    },
    "GoogleCloudContactcenterinsightsV1NoteConversationTurnNote": {
      "properties": {
        "turnIndex": {
          "format": "int32",
          "type": "integer",
          "description": "The conversation turn index that the note is associated with."
        }
      },
      "type": "object",
      "description": "A note about a conversation turn.",
      "id": "GoogleCloudContactcenterinsightsV1NoteConversationTurnNote"
    },
    "GoogleCloudContactcenterinsightsV1StreamChatRequest": {
      "id": "GoogleCloudContactcenterinsightsV1StreamChatRequest",
      "properties": {
        "message": {
          "type": "string",
          "description": "Required. The message to send to the assistant."
        }
      },
      "description": "Request to stream chat.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainArticleSuggestionData": {
      "properties": {
        "queryRecord": {
          "type": "string",
          "description": "The name of the answer record. Format: projects/{project}/locations/{location}/answerRecords/{answer_record}"
        },
        "title": {
          "type": "string",
          "description": "Article title."
        },
        "source": {
          "description": "The knowledge document that this answer was extracted from. Format: projects/{project}/knowledgeBases/{knowledge_base}/documents/{document}",
          "type": "string"
        },
        "uri": {
          "description": "Article URI.",
          "type": "string"
        },
        "confidenceScore": {
[...]
