{
  "fullyEncodeReservedExpansion": true,
  "documentationLink": "https://developers.google.com/shopping-content/v2/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerDomain": "google.com",
  "rootUrl": "https://shoppingcontent.googleapis.com/",
  "parameters": {
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format."
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "description": "Data format for response.",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    }
  },
  "discoveryVersion": "v1",
  "protocol": "rest",
  "servicePath": "content/v2.1/",
  "id": "content:v2.1",
  "baseUrl": "https://shoppingcontent.googleapis.com/content/v2.1/",
  "schemas": {
    "ShippingsettingsCustomBatchResponse": {
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#shippingsettingsCustomBatchResponse`\".",
          "type": "string"
        },
        "entries": {
          "items": {
            "$ref": "ShippingsettingsCustomBatchResponseEntry"
          },
          "description": "The result of the execution of the batch requests.",
          "type": "array"
        }
      },
      "id": "ShippingsettingsCustomBatchResponse",
      "type": "object"
    },
    "InputFieldTextInput": {
      "type": "object",
      "properties": {
        "additionalInfo": {
          "description": "Additional info regarding the field to be displayed to merchant. For example, warning to not include personal identifiable information. There may be more information to be shown in a tooltip.",
          "$ref": "TextWithTooltip"
        },
        "type": {
          "description": "Type of the text input",
          "enumDescriptions": [
            "Default value. Will never be provided by the API.",
            "Used when a short text is expected. The field can be rendered as a [text field](https://www.w3.org/TR/2012/WD-html-markup-20121025/input.text.html#input.text).",
            "Used when a longer text is expected. The field should be rendered as a [textarea](https://www.w3.org/TR/2012/WD-html-markup-20121025/textarea.html#textarea)."
          ],
          "type": "string",
          "enum": [
            "TEXT_INPUT_TYPE_UNSPECIFIED",
            "GENERIC_SHORT_TEXT",
            "GENERIC_LONG_TEXT"
          ]
        },
        "ariaLabel": {
          "description": "Text to be used as the [aria-label](https://www.w3.org/TR/WCAG20-TECHS/ARIA14.html) for the input.",
          "type": "string"
        },
        "formatInfo": {
          "description": "Information about the required format. If present, it should be shown close to the input field to help merchants to provide a correct value. For example: \"VAT numbers should be in a format similar to SK9999999999\"",
          "type": "string"
        }
      },
      "description": "Text input allows merchants to provide a text value.",
      "id": "InputFieldTextInput"
    },
    "MerchantCenterDestination": {
      "properties": {
        "currencyCode": {
          "type": "string",
          "description": "Required. Three-letter currency code (ISO 4217). The currency code defines in which currency the conversions sent to this destination will be reported in Merchant Center."
        },
        "attributionSettings": {
          "$ref": "AttributionSettings",
          "description": "Required. Attribution settings being used for the Merchant Center Destination."
        },
        "destinationId": {
          "readOnly": true,
          "description": "Output only. Merchant Center Destination ID.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. Merchant-specified display name for the destination. This is the name that identifies the conversion source within the Merchant Center UI. Limited to 64 characters.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "MerchantCenterDestination",
      "description": "\"Merchant Center Destination\" sources can be used to send conversion events from a website using a Google tag directly to a Merchant Center account where the source is created."
    },
    "LiasettingsSetPosDataProviderResponse": {
      "id": "LiasettingsSetPosDataProviderResponse",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#liasettingsSetPosDataProviderResponse`\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AccounttaxCustomBatchResponse": {
      "properties": {
        "entries": {
          "items": {
            "$ref": "AccounttaxCustomBatchResponseEntry"
          },
          "description": "The result of the execution of the batch requests.",
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#accounttaxCustomBatchResponse`\"."
        }
      },
      "type": "object",
      "id": "AccounttaxCustomBatchResponse"
    },
    "Weight": {
      "type": "object",
      "id": "Weight",
      "properties": {
        "unit": {
          "description": "Required. The weight unit. Acceptable values are: - \"`kg`\" - \"`lb`\" ",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Required. The weight represented as a number. The weight can have a maximum precision of four decimal places."
        }
      }
    },
    "DatafeedStatus": {
      "id": "DatafeedStatus",
      "properties": {
        "warnings": {
          "items": {
            "$ref": "DatafeedStatusError"
          },
          "type": "array",
          "description": "The list of errors occurring in the feed."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#datafeedStatus`\"",
          "type": "string"
        },
        "language": {
          "description": "The two-letter ISO 639-1 language for which the status is reported.",
          "type": "string"
        },
        "country": {
          "description": "The country for which the status is reported, represented as a CLDR territory code.",
          "type": "string"
        },
        "itemsTotal": {
          "type": "string",
          "description": "The number of items in the feed that were processed.",
          "format": "uint64"
        },
        "processingStatus": {
          "description": "The processing status of the feed. Acceptable values are: - \"`\"`failure`\": The feed could not be processed or all items had errors.`\" - \"`in progress`\": The feed is being processed. - \"`none`\": The feed has not yet been processed. For example, a feed that has never been uploaded will have this processing status. - \"`success`\": The feed was processed successfully, though some items might have had errors. ",
          "type": "string"
        },
        "datafeedId": {
          "description": "The ID of the feed for which the status is reported.",
          "format": "uint64",
          "type": "string"
        },
        "feedLabel": {
          "description": "The feed label status is reported for.",
          "type": "string"
        },
        "lastUploadDate": {
          "type": "string",
          "description": "The last date at which the feed was uploaded."
        },
        "errors": {
          "description": "The list of errors occurring in the feed.",
          "items": {
            "$ref": "DatafeedStatusError"
          },
          "type": "array"
        },
        "itemsValid": {
          "type": "string",
          "format": "uint64",
          "description": "The number of items in the feed that were valid."
        }
      },
      "type": "object",
      "description": "The status of a datafeed, that is, the result of the last retrieval of the datafeed computed asynchronously when the feed processing is finished."
    },
    "CarrierRate": {
      "id": "CarrierRate",
      "properties": {
        "name": {
          "description": "Name of the carrier rate. Must be unique per rate group. Required.",
          "type": "string"
        },
        "carrierName": {
          "description": "Carrier service, such as `\"UPS\"` or `\"Fedex\"`. The list of supported carriers can be retrieved through the `getSupportedCarriers` method. Required.",
          "type": "string"
        },
        "carrierService": {
          "type": "string",
          "description": "Carrier service, such as `\"ground\"` or `\"2 days\"`. The list of supported services for a carrier can be retrieved through the `getSupportedCarriers` method. Required."
        },
        "flatAdjustment": {
          "description": "Additive shipping rate modifier. Can be negative. For example `{ \"value\": \"1\", \"currency\" : \"USD\" }` adds $1 to the rate, `{ \"value\": \"-3\", \"currency\" : \"USD\" }` removes $3 from the rate. Optional.",
          "$ref": "Price"
        },
        "originPostalCode": {
          "type": "string",
          "description": "Shipping origin for this carrier rate. Required."
        },
        "percentageAdjustment": {
          "type": "string",
          "description": "Multiplicative shipping rate modifier as a number in decimal notation. Can be negative. For example `\"5.4\"` increases the rate by 5.4%, `\"-3\"` decreases the rate by 3%. Optional."
        }
      },
      "type": "object"
    },
    "AccountCustomerService": {
      "properties": {
        "email": {
          "type": "string",
          "description": "Customer service email."
        },
        "phoneNumber": {
          "type": "string",
          "description": "Customer service phone number."
        },
        "url": {
          "description": "Customer service URL.",
          "type": "string"
        }
      },
      "id": "AccountCustomerService",
      "type": "object"
    },
    "CollectionStatus": {
      "description": "The collectionstatus message.",
      "id": "CollectionStatus",
      "type": "object",
      "properties": {
        "collectionLevelIssuses": {
          "items": {
            "$ref": "CollectionStatusItemLevelIssue"
          },
          "type": "array",
          "description": "A list of all issues associated with the collection."
        },
        "destinationStatuses": {
          "type": "array",
          "items": {
            "$ref": "CollectionStatusDestinationStatus"
          },
          "description": "The intended destinations for the collection."
        },
        "id": {
          "description": "Required. The ID of the collection for which status is reported.",
          "type": "string"
        },
        "lastUpdateDate": {
          "type": "string",
          "description": "Date on which the collection has been last updated in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format: Date, time, and offset, for example \"2020-01-02T09:00:00+01:00\" or \"2020-01-02T09:00:00Z\""
        },
        "creationDate": {
          "description": "Date on which the collection has been created in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format: Date, time, and offset, for example \"2020-01-02T09:00:00+01:00\" or \"2020-01-02T09:00:00Z\"",
          "type": "string"
        }
      }
    },
    "RegionalinventoryCustomBatchResponseEntry": {
      "description": "A batch entry encoding a single non-batch regional inventory response.",
      "id": "RegionalinventoryCustomBatchResponseEntry",
      "properties": {
        "regionalInventory": {
          "$ref": "RegionalInventory",
          "description": "Price and availability of the product."
        },
        "batchId": {
          "format": "uint32",
          "type": "integer",
          "description": "The ID of the request entry this entry responds to."
        },
        "errors": {
          "description": "A list of errors for failed custombatch entries. *Note:* Schema errors fail the whole request.",
          "$ref": "Errors"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#regionalinventoryCustomBatchResponseEntry`\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "InputValueChoiceInputValue": {
      "properties": {
        "choiceInputOptionId": {
          "description": "Required. Id of the option that was selected by the merchant.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Value for choice input field.",
      "id": "InputValueChoiceInputValue"
    },
    "Callout": {
      "id": "Callout",
      "type": "object",
      "description": "An important message that should be highlighted. Usually displayed as a banner.",
      "properties": {
        "fullMessage": {
          "$ref": "TextWithTooltip",
          "description": "A full message that needs to be shown to the merchant."
        },
        "styleHint": {
          "enumDescriptions": [
            "Default value. Will never be provided by the API.",
            "The most important type of information highlighting problems, like an unsuccessful outcome of previously requested actions.",
            "Information warning about pending problems, risks or deadlines.",
            "Default severity for important information like pending status of previously requested action or cooldown for re-review."
          ],
          "description": "Can be used to render messages with different severity in different styles. Snippets off all types contain important information that should be displayed to merchants.",
          "type": "string",
          "enum": [
            "CALLOUT_STYLE_HINT_UNSPECIFIED",
            "ERROR",
            "WARNING",
            "INFO"
          ]
        }
      }
    },
    "ListAccountLabelsResponse": {
      "properties": {
        "accountLabels": {
          "items": {
            "$ref": "AccountLabel"
          },
          "description": "The labels from the specified account.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for the `ListAccountLabels` method.",
      "id": "ListAccountLabelsResponse"
    },
    "ProductDeliveryTimeAreaDeliveryTimeDeliveryTime": {
      "type": "object",
      "description": "A delivery time for this product.",
      "id": "ProductDeliveryTimeAreaDeliveryTimeDeliveryTime",
      "properties": {
        "maxHandlingTimeDays": {
          "description": "Required. The maximum number of business days (inclusive) between when an order is placed and when the product ships. If a product ships in the same day, set this value to 0.",
          "format": "int32",
          "type": "integer"
        },
        "minTransitTimeDays": {
          "format": "int32",
          "description": "Required. The minimum number of business days (inclusive) between when the product ships and when the product is delivered.",
          "type": "integer"
        },
        "maxTransitTimeDays": {
          "format": "int32",
          "description": "Required. The maximum number of business days (inclusive) between when the product ships and when the product is delivered.",
          "type": "integer"
        },
        "minHandlingTimeDays": {
          "format": "int32",
          "description": "Required. The minimum number of business days (inclusive) between when an order is placed and when the product ships. If a product ships in the same day, set this value to 0.",
          "type": "integer"
        }
      }
    },
    "PubsubNotificationSettings": {
      "id": "PubsubNotificationSettings",
      "type": "object",
      "description": "Settings for Pub/Sub notifications, all methods require that the caller is a direct user of the merchant center account.",
      "properties": {
        "registeredEvents": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of event types. Acceptable values are: - \"`orderPendingShipment`\" "
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#pubsubNotificationSettings`\"",
          "type": "string"
        },
        "cloudTopicName": {
          "description": "Cloud pub/sub topic to which notifications are sent (read-only).",
          "type": "string"
        }
      }
    },
    "ProductViewItemIssueIssueSeverityPerDestination": {
      "properties": {
        "destination": {
          "description": "Issue destination.",
          "type": "string"
        },
        "disapprovedCountries": {
          "items": {
            "type": "string"
          },
          "description": "List of disapproved countries in the destination.",
          "type": "array"
        },
        "demotedCountries": {
          "description": "List of demoted countries in the destination.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "ProductViewItemIssueIssueSeverityPerDestination",
      "description": "Issue severity for all affected regions in a destination.",
      "type": "object"
    },
    "LabelIds": {
      "id": "LabelIds",
      "description": "The IDs of labels that should be assigned to the CSS domain.",
      "properties": {
        "labelIds": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array",
          "description": "The list of label IDs."
        }
      },
      "type": "object"
    },
    "PriceInsights": {
      "id": "PriceInsights",
      "description": "Price insights fields requested by the merchant in the query. Field values are only set if the merchant queries `PriceInsightsProductView`. https://support.google.com/merchants/answer/11916926",
      "type": "object",
      "properties": {
        "predictedImpressionsChangeFraction": {
          "format": "double",
          "type": "number",
          "description": "The predicted change in impressions as a fraction after introducing the suggested price compared to current active price. For example, 0.05 is a 5% predicted increase in impressions."
        },
        "predictedGrossProfitChangeFraction": {
          "description": "*Deprecated*: This field is no longer supported and will start returning 0. The predicted change in gross profit as a fraction after introducing the suggested price compared to current active price. For example, 0.05 is a 5% predicted increase in gross profit.",
          "format": "double",
          "type": "number"
        },
        "effectiveness": {
          "enumDescriptions": [
            "Effectiveness is unknown.",
            "Effectiveness is low.",
            "Effectiveness is medium.",
            "Effectiveness is high."
          ],
          "type": "string",
          "enum": [
            "EFFECTIVENESS_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH"
          ],
          "description": "The predicted effectiveness of applying the price suggestion, bucketed."
        },
        "predictedMonthlyGrossProfitChangeMicros": {
          "description": "*Deprecated*: This field is no longer supported and will start returning 0. The predicted change in gross profit in micros (1 millionth of a standard unit, 1 USD = 1000000 micros) after introducing the suggested price for a month compared to current active price.",
          "format": "int64",
          "type": "string"
        },
        "predictedConversionsChangeFraction": {
          "format": "double",
          "type": "number",
          "description": "The predicted change in conversions as a fraction after introducing the suggested price compared to current active price. For example, 0.05 is a 5% predicted increase in conversions)."
        },
        "predictedClicksChangeFraction": {
          "type": "number",
          "description": "The predicted change in clicks as a fraction after introducing the suggested price compared to current active price. For example, 0.05 is a 5% predicted increase in clicks.",
          "format": "double"
        },
        "predictedMonthlyGrossProfitChangeCurrencyCode": {
          "type": "string",
          "description": "*Deprecated*: This field is no longer supported and will start returning USD for all requests. The predicted monthly gross profit change currency (ISO 4217 code)."
        },
        "suggestedPriceCurrencyCode": {
          "type": "string",
          "description": "The suggested price currency (ISO 4217 code)."
        },
        "suggestedPriceMicros": {
          "type": "string",
          "format": "int64",
          "description": "The latest suggested price in micros (1 millionth of a standard unit, 1 USD = 1000000 micros) for the product."
        }
      }
    },
    "AccountstatusesCustomBatchResponseEntry": {
      "id": "AccountstatusesCustomBatchResponseEntry",
      "type": "object",
      "properties": {
        "batchId": {
          "description": "The ID of the request entry this entry responds to.",
          "format": "uint32",
          "type": "integer"
        },
        "accountStatus": {
          "description": "The requested account status. Defined if and only if the request was successful.",
          "$ref": "AccountStatus"
        },
        "errors": {
          "description": "A list of errors for failed custombatch entries. *Note:* Schema errors fail the whole request.",
          "$ref": "Errors"
        }
      },
      "description": "A batch entry encoding a single non-batch accountstatuses response."
    },
    "Distance": {
      "id": "Distance",
      "description": "Distance represented by an integer and unit.",
      "properties": {
        "value": {
          "type": "string",
          "format": "int64",
          "description": "The distance represented as a number."
        },
        "unit": {
          "description": "The distance unit. Acceptable values are `None`, `Miles`, and `Kilometers`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "MinimumOrderValueTableStoreCodeSetWithMov": {
      "description": "A list of store code sets sharing the same minimum order value. At least two sets are required and the last one must be empty, which signifies 'MOV for all other stores'. Each store code can only appear once across all the sets. All prices within a service must have the same currency.",
      "id": "MinimumOrderValueTableStoreCodeSetWithMov",
      "type": "object",
      "properties": {
        "storeCodes": {
          "description": "A list of unique store codes or empty for the catch all.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "value": {
          "$ref": "Price",
          "description": "The minimum order value for the given stores."
        }
      }
    },
    "GmbAccounts": {
      "properties": {
        "gmbAccounts": {
          "description": "A list of Business Profiles which are available to the merchant.",
          "type": "array",
          "items": {
            "$ref": "GmbAccountsGmbAccount"
          }
        },
        "accountId": {
          "format": "uint64",
          "type": "string",
          "description": "The ID of the Merchant Center account."
        }
      },
      "id": "GmbAccounts",
      "type": "object"
    },
    "ActionInput": {
      "description": "Input provided by the merchant.",
      "id": "ActionInput",
      "properties": {
        "inputValues": {
          "description": "Required. Values for input fields.",
          "type": "array",
          "items": {
            "$ref": "InputValue"
          }
        },
        "actionFlowId": {
          "type": "string",
          "description": "Required. Id of the selected action flow."
        }
      },
      "type": "object"
    },
    "DatafeedsCustomBatchRequestEntry": {
      "id": "DatafeedsCustomBatchRequestEntry",
      "type": "object",
      "properties": {
        "datafeed": {
          "description": "The data feed to insert.",
          "$ref": "Datafeed"
        },
        "datafeedId": {
          "type": "string",
          "description": "The ID of the data feed to get, delete or fetch.",
          "format": "uint64"
        },
        "method": {
          "description": "The method of the batch entry. Acceptable values are: - \"`delete`\" - \"`fetchNow`\" - \"`get`\" - \"`insert`\" - \"`update`\" ",
          "type": "string"
        },
        "merchantId": {
          "type": "string",
          "format": "uint64",
          "description": "The ID of the managing account."
        },
        "batchId": {
          "type": "integer",
          "format": "uint32",
          "description": "An entry ID, unique within the batch request."
        }
      },
      "description": "A batch entry encoding a single non-batch datafeeds request."
    },
    "PromotionPromotionStatusDestinationStatus": {
      "id": "PromotionPromotionStatusDestinationStatus",
      "description": "The destination status of the promotion.",
      "type": "object",
      "properties": {
        "destination": {
          "type": "string",
          "description": "The name of the destination."
        },
        "status": {
          "enumDescriptions": [
            "Unknown promotion state.",
            "The promotion is under review.",
            "The promotion is disapproved",
            "The promotion is approved and active.",
            "The promotion is stopped by merchant.",
            "The promotion is no longer active.",
            "The promotion is not stopped, and all reviews are approved, but the active date is in the future."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "IN_REVIEW",
            "REJECTED",
            "LIVE",
            "STOPPED",
            "EXPIRED",
            "PENDING"
          ],
          "description": "The status for the specified destination."
        }
      }
    },
    "ShippingSettings": {
      "id": "ShippingSettings",
      "properties": {
        "warehouses": {
          "description": "Optional. A list of warehouses which can be referred to in `services`.",
          "items": {
            "$ref": "Warehouse"
          },
          "type": "array"
        },
        "accountId": {
          "type": "string",
          "format": "uint64",
          "description": "The ID of the account to which these account shipping settings belong. Ignored upon update, always present in get request responses."
        },
        "postalCodeGroups": {
          "description": "A list of postal code groups that can be referred to in `services`. Optional.",
          "type": "array",
          "items": {
            "$ref": "PostalCodeGroup"
          }
        },
        "services": {
          "type": "array",
          "items": {
            "$ref": "Service"
          },
          "description": "The target account's list of services. Optional."
        }
      },
      "description": "The merchant account's shipping settings. All methods except getsupportedcarriers and getsupportedholidays require the admin role.",
      "type": "object"
    },
    "GmbAccountsGmbAccount": {
      "type": "object",
      "id": "GmbAccountsGmbAccount",
      "properties": {
        "email": {
          "description": "The email which identifies the Business Profile.",
          "type": "string"
        },
        "type": {
          "description": "The type of the Business Profile (User or Business).",
          "type": "string"
        },
        "name": {
          "description": "The name of the Business Profile.",
          "type": "string"
        },
        "listingCount": {
          "description": "Number of listings under this account.",
          "type": "string",
          "format": "uint64"
        }
      }
    },
    "PosSaleResponse": {
      "id": "PosSaleResponse",
      "type": "object",
      "properties": {
        "price": {
          "$ref": "Price",
          "description": "Required. The price of the item."
        },
        "itemId": {
          "description": "Required. A unique identifier for the item.",
          "type": "string"
        },
        "saleId": {
          "type": "string",
          "description": "A unique ID to group items from the same sale event."
        },
        "contentLanguage": {
          "description": "Required. The two-letter ISO 639-1 language code for the item.",
          "type": "string"
        },
        "storeCode": {
          "description": "Required. The identifier of the merchant's store. Either a `storeCode` inserted through the API or the code of the store in a Business Profile.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#posSaleResponse`\".",
          "type": "string"
        },
        "quantity": {
          "type": "string",
          "format": "int64",
          "description": "Required. The relative change of the available quantity. Negative for items returned."
        },
        "targetCountry": {
          "description": "Required. The CLDR territory code for the item.",
          "type": "string"
        },
        "timestamp": {
          "type": "string",
          "description": "Required. The inventory timestamp, in ISO 8601 format."
        },
        "gtin": {
          "description": "Global Trade Item Number.",
          "type": "string"
        }
      }
    },
    "InputValue": {
      "id": "InputValue",
      "type": "object",
      "properties": {
        "choiceInputValue": {
          "description": "Value for choice input field.",
          "$ref": "InputValueChoiceInputValue"
        },
        "textInputValue": {
          "$ref": "InputValueTextInputValue",
          "description": "Value for text input field."
        },
        "inputFieldId": {
          "description": "Required. Id of the corresponding input field.",
          "type": "string"
        },
        "checkboxInputValue": {
          "description": "Value for checkbox input field.",
          "$ref": "InputValueCheckboxInputValue"
        }
      },
      "description": "Input provided by the merchant for input field."
    },
    "ExternalAction": {
      "description": "Action that is implemented and performed outside of the third-party application. It should redirect the merchant to the provided URL of an external system where they can perform the action. For example to request a review in the Merchant Center.",
      "properties": {
        "uri": {
          "description": "URL to external system, for example Merchant Center, where the merchant can perform the action.",
          "type": "string"
        },
        "type": {
          "description": "The type of external action.",
          "type": "string",
          "enum": [
            "EXTERNAL_ACTION_TYPE_UNSPECIFIED",
            "REVIEW_PRODUCT_ISSUE_IN_MERCHANT_CENTER",
            "REVIEW_ACCOUNT_ISSUE_IN_MERCHANT_CENTER",
            "LEGAL_APPEAL_IN_HELP_CENTER",
            "VERIFY_IDENTITY_IN_MERCHANT_CENTER"
          ],
          "enumDescriptions": [
            "Default value. Will never be provided by the API.",
            "Redirect to Merchant Center where the merchant can request a review for issue related to their product.",
            "Redirect to Merchant Center where the merchant can request a review for issue related to their account.",
            "Redirect to the form in Help Center where the merchant can request a legal appeal for the issue.",
            "Redirect to Merchant Center where the merchant can perform identity verification."
          ]
        }
      },
      "id": "ExternalAction",
      "type": "object"
    },
    "Recommendation": {
      "description": "Recommendations are suggested ways to improve your merchant account's performance. For example, to engage with a feature, or start using a new Google product.",
      "type": "object",
      "id": "Recommendation",
      "properties": {
        "title": {
          "description": "Optional. Localized Recommendation Title. Localization uses the {@link `GenerateRecommendationsRequest.language_code`} field in {@link `GenerateRecommendationsRequest`} requests.",
          "type": "string"
        },
        "defaultDescription": {
          "type": "string",
          "description": "Optional. Localized recommendation description. The localization the {@link `GenerateRecommendationsRequest.language_code`} field in {@link `GenerateRecommendationsRequest`} requests."
        },
        "subType": {
          "type": "string",
          "description": "Optional. Subtype of the recommendations. Only applicable when multiple recommendations can be generated per type, and is used as an identifier of recommendation under the same recommendation type."
        },
        "additionalCallToAction": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. CTAs of this recommendation. Repeated.",
          "items": {
            "$ref": "RecommendationCallToAction"
          }
        },
        "additionalDescriptions": {
          "description": "Output only. List of additional localized descriptions for a recommendation. Localication uses the `languageCode` field in `GenerateRecommendations` requests. Not all description types are guaranteed to be present and we recommend to rely on default description.",
          "type": "array",
          "items": {
            "$ref": "RecommendationDescription"
          },
          "readOnly": true
        },
        "paid": {
          "description": "Optional. Indicates whether a user needs to pay when they complete the user journey suggested by the recommendation.",
          "type": "boolean"
        },
        "creative": {
          "items": {
            "$ref": "RecommendationCreative"
          },
          "description": "Output only. Any creatives attached to the recommendation. Repeated.",
          "type": "array",
          "readOnly": true
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Type of the recommendation. List of currently available recommendation types: - OPPORTUNITY_CREATE_NEW_COLLECTION - OPPORTUNITY_CREATE_EMAIL_CAMPAIGN"
        },
        "defaultCallToAction": {
          "$ref": "RecommendationCallToAction",
          "description": "Optional. Default CTA of the recommendation."
        },
        "recommendationName": {
          "description": "Optional. Localized recommendation name. The localization uses the {@link `GenerateRecommendationsRequest.language_code`} field in {@link `GenerateRecommendationsRequest`} requests.",
          "type": "string"
        },
        "numericalImpact": {
          "description": "Optional. A numerical score of the impact from the recommendation's description. For example, a recommendation might suggest an upward trend in sales for a certain product. Higher number means larger impact.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "AccountsCustomBatchRequest": {
      "id": "AccountsCustomBatchRequest",
      "properties": {
        "entries": {
          "description": "The request entries to be processed in the batch.",
          "type": "array",
          "items": {
            "$ref": "AccountsCustomBatchRequestEntry"
          }
        }
      },
      "type": "object"
    },
    "TimeZone": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\"."
        },
        "version": {
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
          "type": "string"
        }
      },
      "id": "TimeZone",
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones)."
    },
    "PickupServicesPickupService": {
      "id": "PickupServicesPickupService",
      "type": "object",
      "properties": {
        "serviceName": {
          "type": "string",
          "description": "The name of the pickup service (for example, `\"Access point\"`). Always present."
        },
        "country": {
          "description": "The CLDR country code of the carrier (for example, \"US\"). Always present.",
          "type": "string"
        },
        "carrierName": {
          "type": "string",
          "description": "The name of the carrier (for example, `\"UPS\"`). Always present."
        }
      }
    },
    "LiaSettings": {
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#liaSettings`\"",
          "type": "string"
        },
        "countrySettings": {
          "type": "array",
          "description": "The LIA settings for each country.",
          "items": {
            "$ref": "LiaCountrySettings"
          }
        },
        "accountId": {
          "description": "The ID of the account to which these LIA settings belong. Ignored upon update, always present in get request responses.",
          "format": "uint64",
          "type": "string"
        }
      },
      "id": "LiaSettings",
      "description": "Local Inventory ads (LIA) settings. All methods except listposdataproviders require the admin role.",
      "type": "object"
    },
    "DeliveryAreaPostalCodeRange": {
      "id": "DeliveryAreaPostalCodeRange",
      "properties": {
        "firstPostalCode": {
          "type": "string",
          "description": "Required. A postal code or a pattern of the form prefix* denoting the inclusive lower bound of the range defining the area. Examples values: `\"94108\"`, `\"9410*\"`, `\"9*\"`."
        },
        "lastPostalCode": {
          "type": "string",
          "description": "A postal code or a pattern of the form prefix* denoting the inclusive upper bound of the range defining the area (for example [070* - 078*] results in the range [07000 - 07899]). It must have the same length as `firstPostalCode`: if `firstPostalCode` is a postal code then `lastPostalCode` must be a postal code too; if firstPostalCode is a pattern then `lastPostalCode` must be a pattern with the same prefix length. Ignored if not set, then the area is defined as being all the postal codes matching `firstPostalCode`."
        }
      },
      "type": "object",
      "description": "A range of postal codes that defines the delivery area. Only set `firstPostalCode` when specifying a single postal code."
    },
    "ShippingsettingsCustomBatchRequestEntry": {
      "id": "ShippingsettingsCustomBatchRequestEntry",
      "type": "object",
      "description": "A batch entry encoding a single non-batch shippingsettings request.",
      "properties": {
        "shippingSettings": {
          "description": "The account shipping settings to update. Only defined if the method is `update`.",
          "$ref": "ShippingSettings"
        },
        "merchantId": {
          "type": "string",
          "description": "The ID of the managing account.",
          "format": "uint64"
        },
        "batchId": {
          "format": "uint32",
          "type": "integer",
          "description": "An entry ID, unique within the batch request."
        },
        "accountId": {
          "description": "The ID of the account for which to get/update account shipping settings.",
          "type": "string",
          "format": "uint64"
        },
        "method": {
          "description": "The method of the batch entry. Acceptable values are: - \"`get`\" - \"`update`\" ",
          "type": "string"
        }
      }
    },
    "PosCustomBatchRequest": {
      "id": "PosCustomBatchRequest",
      "properties": {
        "entries": {
          "description": "The request entries to be processed in the batch.",
          "type": "array",
          "items": {
            "$ref": "PosCustomBatchRequestEntry"
          }
        }
      },
      "type": "object"
    },
    "LocalinventoryCustomBatchResponse": {
      "type": "object",
      "id": "LocalinventoryCustomBatchResponse",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#localinventoryCustomBatchResponse`\".",
          "type": "string"
        },
        "entries": {
          "description": "The result of the execution of the batch requests.",
          "type": "array",
          "items": {
            "$ref": "LocalinventoryCustomBatchResponseEntry"
          }
        }
      }
    },
    "ShippingsettingsCustomBatchRequest": {
      "type": "object",
      "id": "ShippingsettingsCustomBatchRequest",
      "properties": {
        "entries": {
          "items": {
            "$ref": "ShippingsettingsCustomBatchRequestEntry"
          },
          "description": "The request entries to be processed in the batch.",
          "type": "array"
        }
      }
    },
    "PaymentServiceProviderLinkInfo": {
      "type": "object",
      "id": "PaymentServiceProviderLinkInfo",
      "description": "Additional information required for PAYMENT_SERVICE_PROVIDER link type.",
      "properties": {
        "externalAccountId": {
          "type": "string",
          "description": "The id used by the third party service provider to identify the merchant."
        },
        "externalAccountBusinessCountry": {
          "description": "The business country of the merchant account as identified by the third party service provider.",
          "type": "string"
        }
      }
    },
    "Errors": {
      "type": "object",
      "id": "Errors",
      "properties": {
        "errors": {
          "type": "array",
          "description": "A list of errors.",
          "items": {
            "$ref": "Error"
          }
        },
        "code": {
          "description": "The HTTP status of the first error in `errors`.",
          "type": "integer",
          "format": "uint32"
        },
        "message": {
          "description": "The message of the first error in `errors`.",
          "type": "string"
        }
      },
      "description": "A list of errors returned by a failed batch entry."
    },
    "BuiltInSimpleAction": {
      "id": "BuiltInSimpleAction",
      "properties": {
        "type": {
          "description": "The type of action that represents a functionality that is expected to be available in third-party application.",
          "type": "string",
          "enum": [
            "BUILT_IN_SIMPLE_ACTION_TYPE_UNSPECIFIED",
            "VERIFY_PHONE",
            "CLAIM_WEBSITE",
            "ADD_PRODUCTS",
            "ADD_CONTACT_INFO",
            "LINK_ADS_ACCOUNT",
            "ADD_BUSINESS_REGISTRATION_NUMBER",
            "EDIT_ITEM_ATTRIBUTE",
            "FIX_ACCOUNT_ISSUE",
            "SHOW_ADDITIONAL_CONTENT"
          ],
          "enumDescriptions": [
            "Default value. Will never be provided by the API.",
            "Redirect merchant to the part of your application where they can verify their phone.",
            "Redirect merchant to the part of your application where they can claim their website.",
            "Redirect merchant to the part of your application where they can add products.",
            "Open a form where the merchant can edit their contact information.",
            "Redirect merchant to the part of your application where they can link ads account.",
            "Open a form where the merchant can add their business registration number.",
            "Open a form where the merchant can edit an attribute. The attribute that needs to be updated is specified in attribute_code field of the action.",
            "Redirect merchant from the product issues to the diagnostic page with their account issues in your application. This action will be returned only for product issues that are caused by an account issue and thus merchant should resolve the problem on the account level.",
            "Show additional content to the merchant. This action will be used for example to deliver a justification from national authority."
          ]
        },
        "attributeCode": {
          "description": "The attribute that needs to be updated. Present when the type is `EDIT_ITEM_ATTRIBUTE`. This field contains a code for attribute, represented in snake_case. You can find a list of product's attributes, with their codes [here](https://support.google.com/merchants/answer/7052112).",
          "type": "string"
        },
        "additionalContent": {
          "description": "Long text from an external source that should be available to the merchant. Present when the type is `SHOW_ADDITIONAL_CONTENT`.",
          "$ref": "BuiltInSimpleActionAdditionalContent"
        }
      },
      "type": "object",
      "description": "Action that is implemented and performed in (your) third-party application. Represents various functionality that is expected to be available to merchant and will help them with resolving the issue. The application should point the merchant to the place, where they can access the corresponding functionality. If the functionality is not supported, it is recommended to explain the situation to merchant and provide them with instructions how to solve the issue."
    },
    "DatafeedstatusesCustomBatchRequestEntry": {
      "type": "object",
      "id": "DatafeedstatusesCustomBatchRequestEntry",
      "description": "A batch entry encoding a single non-batch datafeedstatuses request.",
      "properties": {
        "feedLabel": {
          "type": "string",
          "description": "The feed label to get the datafeed status for. If this parameter is provided, then `language` must also be provided. Note that for multi-target datafeeds this parameter is required."
        },
        "language": {
          "type": "string",
          "description": "The language to get the datafeed status for. If this parameter is provided then `country` must also be provided. Note that for multi-target datafeeds this parameter is required."
        },
        "batchId": {
          "description": "An entry ID, unique within the batch request.",
          "type": "integer",
          "format": "uint32"
        },
        "datafeedId": {
          "format": "uint64",
          "type": "string",
          "description": "The ID of the data feed to get."
        },
        "country": {
          "description": "Deprecated. Use `feedLabel` instead. The country to get the datafeed status for. If this parameter is provided, then `language` must also be provided. Note that for multi-target datafeeds this parameter is required.",
          "type": "string"
        },
        "method": {
          "description": "The method of the batch entry. Acceptable values are: - \"`get`\" ",
          "type": "string"
        },
        "merchantId": {
          "type": "string",
          "format": "uint64",
          "description": "The ID of the managing account."
        }
      }
    },
    "AccountBusinessIdentity": {
      "type": "object",
      "description": "The [business identity attributes](https://support.google.com/merchants/answer/10342414) can be used to self-declare attributes that let customers know more about your business.",
      "properties": {
        "womenOwned": {
          "$ref": "AccountIdentityType",
          "description": "Specifies whether the business identifies itself as being women-owned. This optional field is only available for merchants with a business country set to \"US\". This field is not allowed for marketplaces or marketplace sellers."
        },
        "latinoOwned": {
          "$ref": "AccountIdentityType",
          "description": "Specifies whether the business identifies itself as being latino-owned. This optional field is only available for merchants with a business country set to \"US\". This field is not allowed for marketplaces or marketplace sellers."
        },
        "includeForPromotions": {
          "type": "boolean",
          "description": "Required. By setting this field, your business may be included in promotions for all the selected attributes. If you clear this option, it won't affect your identification with any of the attributes. For this field to be set, the merchant must self identify with at least one of the `AccountIdentityType`. If none are included, the request will be considered invalid."
        },
        "veteranOwned": {
          "description": "Specifies whether the business identifies itself as being veteran-owned. This optional field is only available for merchants with a business country set to \"US\". This field is not allowed for marketplaces or marketplace sellers.",
          "$ref": "AccountIdentityType"
        },
        "blackOwned": {
          "$ref": "AccountIdentityType",
          "description": "Specifies whether the business identifies itself as being black-owned. This optional field is only available for merchants with a business country set to \"US\". This field is not allowed for marketplaces or marketplace sellers."
        },
        "smallBusiness": {
          "description": "Specifies whether the business identifies itself as a small business. This optional field is only available for merchants with a business country set to \"US\". It is also not allowed for marketplaces, but it is allowed to marketplace sellers.",
          "$ref": "AccountIdentityType"
        }
      },
      "id": "AccountBusinessIdentity"
    },
    "DatafeedFormat": {
      "properties": {
        "fileEncoding": {
          "description": "Character encoding scheme of the data feed. If not specified, the encoding will be auto-detected. Acceptable values are: - \"`latin-1`\" - \"`utf-16be`\" - \"`utf-16le`\" - \"`utf-8`\" - \"`windows-1252`\" ",
          "type": "string"
        },
        "quotingMode": {
          "description": "Specifies how double quotes are interpreted. If not specified, the mode will be auto-detected. Ignored for non-DSV data feeds. Acceptable values are: - \"`normal character`\" - \"`value quoting`\" ",
          "type": "string"
        },
        "columnDelimiter": {
          "description": "Delimiter for the separation of values in a delimiter-separated values feed. If not specified, the delimiter will be auto-detected. Ignored for non-DSV data feeds. Acceptable values are: - \"`pipe`\" - \"`tab`\" - \"`tilde`\" ",
          "type": "string"
        }
      },
      "type": "object",
      "id": "DatafeedFormat"
    },
    "ServiceStoreConfig": {
      "type": "object",
      "properties": {
        "cutoffConfig": {
          "description": "Time local delivery ends for the day. This can be either `local_cutoff_time` or `store_close_offset_hours`, if both are provided an error is thrown.",
          "$ref": "ServiceStoreConfigCutoffConfig"
        },
        "serviceRadius": {
          "$ref": "Distance",
          "description": "Maximum delivery radius. Only needed for local delivery fulfillment type."
        },
        "storeCodes": {
          "description": "A list of store codes that provide local delivery. If empty, then `store_service_type` must be `all_stores`, or an error is thrown. If not empty, then `store_service_type` must be `selected_stores`, or an error is thrown.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "storeServiceType": {
          "type": "string",
          "description": "Indicates whether all stores listed by this merchant provide local delivery or not. Acceptable values are `all stores` and `selected stores`"
        }
      },
      "description": "Stores that provide local delivery. Only valid with local delivery fulfillment.",
      "id": "ServiceStoreConfig"
    },
    "AccountsUpdateLabelsRequest": {
      "properties": {
        "labelIds": {
          "description": "The IDs of labels that should be assigned to the account.",
          "type": "array",
          "items": {
            "format": "uint64",
            "type": "string"
          }
        }
      },
      "id": "AccountsUpdateLabelsRequest",
      "type": "object"
    },
    "UrlSettings": {
      "id": "UrlSettings",
      "properties": {
        "cartUriTemplate": {
          "description": "URL template when the placeholders are expanded will redirect the buyer to the cart page on the merchant website with the selected item in cart.",
          "type": "string"
        },
        "checkoutUriTemplate": {
          "description": "URL template when the placeholders are expanded will redirect the buyer to the merchant checkout page with the item in the cart.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Specifications related to the `Checkout` URL. The `UriTemplate` is of the form `https://www.mystore.com/checkout?item_id={id}` where `{id}` will be automatically replaced with data from the merchant account with this attribute [offer_id](https://developers.google.com/shopping-content/reference/rest/v2.1/products#Product.FIELDS.offer_id)"
    },
    "OrderTrackingSignalShipmentLineItemMapping": {
      "type": "object",
      "properties": {
        "lineItemId": {
          "description": "Required. The line item ID.",
          "type": "string"
        },
        "quantity": {
          "type": "string",
          "description": "The line item quantity in the shipment.",
          "format": "int64"
        },
        "shipmentId": {
          "type": "string",
          "description": "Required. The shipment ID. This field will be hashed in returned OrderTrackingSignal creation response."
        }
      },
      "id": "OrderTrackingSignalShipmentLineItemMapping",
      "description": "Represents how many items are in the shipment for the given shipment_id and line_item_id."
    },
    "LiaInventorySettings": {
      "id": "LiaInventorySettings",
      "properties": {
        "status": {
          "description": "The status of the inventory verification process. Acceptable values are: - \"`active`\" - \"`inactive`\" - \"`pending`\" ",
          "type": "string"
        },
        "inventoryVerificationContactStatus": {
          "type": "string",
          "description": "The status of the verification contact. Acceptable values are: - \"`active`\" - \"`inactive`\" - \"`pending`\" "
        },
        "inventoryVerificationContactName": {
          "type": "string",
          "description": "The name of the contact for the inventory verification process."
        },
        "inventoryVerificationContactEmail": {
          "type": "string",
          "description": "The email of the contact for the inventory verification process."
        }
      },
      "type": "object"
    },
    "Service": {
      "id": "Service",
      "type": "object",
      "properties": {
        "active": {
          "type": "boolean",
          "description": "A boolean exposing the active status of the shipping service. Required."
        },
        "storeConfig": {
          "description": "A list of stores your products are delivered from. This is only available for the local delivery shipment type.",
          "$ref": "ServiceStoreConfig"
        },
        "pickupService": {
          "description": "The carrier-service pair delivering items to collection points. The list of supported pickup services can be retrieved through the `getSupportedPickupServices` method. Required if and only if the service delivery type is `pickup`.",
          "$ref": "PickupCarrierService"
        },
        "name": {
          "description": "Free-form name of the service. Must be unique within target account. Required.",
          "type": "string"
        },
        "eligibility": {
          "description": "Eligibility for this service. Acceptable values are: - \"`All scenarios`\" - \"`All scenarios except Shopping Actions`\" - \"`Shopping Actions`\" ",
          "type": "string"
        },
        "shipmentType": {
          "type": "string",
          "description": "Type of locations this service ships orders to. Acceptable values are: - \"`delivery`\" - \"`pickup` (deprecated)\" - \"`local_delivery`\" - \"`collection_point`\" "
        },
        "deliveryCountry": {
          "description": "The CLDR territory code of the country to which the service applies. Required.",
          "type": "string"
        },
        "minimumOrderValueTable": {
          "$ref": "MinimumOrderValueTable",
          "description": "Table of per store minimum order values for the pickup fulfillment type. Cannot be set together with minimum_order_value."
        },
        "rateGroups": {
          "items": {
            "$ref": "RateGroup"
          },
          "description": "Shipping rate group definitions. Only the last one is allowed to have an empty `applicableShippingLabels`, which means \"everything else\". The other `applicableShippingLabels` must not overlap.",
          "type": "array"
        },
        "currency": {
          "description": "The CLDR code of the currency to which this service applies. Must match that of the prices in rate groups.",
          "type": "string"
        },
        "deliveryTime": {
          "description": "Time spent in various aspects from order to the delivery of the product. Required.",
          "$ref": "DeliveryTime"
        },
        "minimumOrderValue": {
          "description": "Minimum order value for this service. If set, indicates that customers will have to spend at least this amount. All prices within a service must have the same currency. Cannot be set together with minimum_order_value_table.",
          "$ref": "Price"
        }
      }
    },
    "CollectionStatusItemLevelIssue": {
      "description": "Issue associated with the collection.",
      "type": "object",
      "id": "CollectionStatusItemLevelIssue",
      "properties": {
        "applicableCountries": {
          "type": "array",
          "description": "Country codes (ISO 3166-1 alpha-2) where issue applies to the offer.",
          "items": {
            "type": "string"
          }
        },
        "servability": {
          "type": "string",
          "description": "How this issue affects the serving of the collection."
        },
        "destination": {
          "description": "The destination the issue applies to.",
          "type": "string"
        },
        "attributeName": {
          "type": "string",
          "description": "The attribute's name, if the issue is caused by a single attribute."
        },
        "detail": {
          "description": "A detailed issue description in English.",
          "type": "string"
        },
        "resolution": {
          "description": "Whether the issue can be resolved by the merchant.",
          "type": "string"
        },
        "description": {
          "description": "A short issue description in English.",
          "type": "string"
        },
        "documentation": {
          "description": "The URL of a web page to help with resolving this issue.",
          "type": "string"
        },
        "code": {
          "type": "string",
          "description": "The error code of the issue."
        }
      }
    },
    "ReturnPolicyOnlinePolicy": {
      "type": "object",
      "id": "ReturnPolicyOnlinePolicy",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Number of days after a return is delivered.",
            "No returns.",
            "Life time returns."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "NUMBER_OF_DAYS_AFTER_DELIVERY",
            "NO_RETURNS",
            "LIFETIME_RETURNS"
          ],
          "description": "Policy type."
        },
        "days": {
          "format": "int64",
          "description": "The number of days items can be returned after delivery, where one day is defined to be 24 hours after the delivery timestamp. Required for `numberOfDaysAfterDelivery` returns.",
          "type": "string"
        }
      },
      "description": "The available policies."
    },
    "CollectionStatusDestinationStatus": {
      "description": "Destination status message.",
      "type": "object",
      "id": "CollectionStatusDestinationStatus",
      "properties": {
        "destination": {
          "description": "The name of the destination",
          "type": "string"
        },
        "status": {
          "type": "string",
          "description": "The status for the specified destination in the collections target country."
        },
        "approvedCountries": {
          "description": "Country codes (ISO 3166-1 alpha-2) where the collection is approved.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "disapprovedCountries": {
          "items": {
            "type": "string"
          },
          "description": "Country codes (ISO 3166-1 alpha-2) where the collection is disapproved.",
          "type": "array"
        },
        "pendingCountries": {
          "type": "array",
          "description": "Country codes (ISO 3166-1 alpha-2) where the collection is pending approval.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "PosStore": {
      "id": "PosStore",
      "description": "Store resource.",
      "properties": {
        "placeId": {
          "type": "string",
          "description": "The Google Place Id of the store location."
        },
        "matchingStatus": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The matching status of POS store and Google Business Profile store. Possible values are: - \"`matched`\": The POS store is successfully matched with the Google Business Profile store. - \"`failed`\": The POS store is not matched with the Google Business Profile store. See matching_status_hint for further details. Note that there is up to 48 hours propagation delay for changes in Merchant Center (e.g. creation of new account, accounts linking) and Google Business Profile (e.g. store address update) which may affect the matching status. In such cases, after a delay call [pos.list](https://developers.google.com/shopping-content/reference/rest/v2.1/pos/list) to retrieve the updated matching status. "
        },
        "storeCode": {
          "description": "Required. A store identifier that is unique for the given merchant.",
          "type": "string"
        },
        "storeName": {
          "type": "string",
          "description": "The merchant or store name."
        },
        "matchingStatusHint": {
          "readOnly": true,
          "description": "Output only. The hint of why the matching has failed. This is only set when matching_status=failed. Possible values are: - \"`linked-store-not-found`\": There aren't any Google Business Profile stores available for matching. Connect your Merchant Center account with the Google Business Profile account. Or add a new Google Business Profile store corresponding to the POS store. - \"`store-match-not-found`\": The provided POS store couldn't be matched to any of the connected Google Business Profile stores. Merchant Center account is connected correctly and stores are available on Google Business Profile, but POS store location address does not match with Google Business Profile stores' addresses. Update POS store address or Google Business Profile store address to match correctly. - \"`store-match-unverified`\": The provided POS store couldn't be matched to any of the connected Google Business Profile stores, as the matched Google Business Profile store is unverified. Go through the Google Business Profile verification process to match correctly. ",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#posStore`\"",
          "type": "string"
        },
        "storeAddress": {
          "type": "string",
          "description": "Required. The street address of the store."
        },
        "gcidCategory": {
          "description": "The business type of the store.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "phoneNumber": {
          "description": "The store phone number.",
          "type": "string"
        },
        "websiteUrl": {
          "type": "string",
          "description": "The website url for the store or merchant."
        }
      },
      "type": "object"
    },
    "RenderAccountIssuesResponse": {
      "description": "Response containing support content and actions for listed account issues.",
      "id": "RenderAccountIssuesResponse",
      "properties": {
        "issues": {
          "items": {
            "$ref": "AccountIssue"
          },
          "description": "List of account issues for a given account. This list can be shown with compressed, expandable items. In the compressed form, the title and impact should be shown for each issue. Once the issue is expanded, the detailed content and available actions should be rendered.",
          "type": "array"
        },
        "alternateDisputeResolution": {
          "$ref": "AlternateDisputeResolution",
          "description": "Alternate Dispute Resolution (ADR) is deprecated. Use `prerendered_out_of_court_dispute_settlement` instead.",
          "deprecated": true
        }
      },
      "type": "object"
    },
    "TopicTrends": {
      "type": "object",
      "description": "Topic trends fields requested by the merchant in the query. Field values are only set if the merchant queries `TopicTrendsView`. Forecast data can be queried up to 13 weeks by passing a future date in the `date` field. Historical data is measured daily, and forecasted data is projected weekly. All data points are normalized based on the highest data points returned in the response. If you make separate queries with different date ranges, you might see different values for the same date in each response. The recommended way to get a trend score of a topic is `last7_days_search_interest / last{$day}_days_search_interest - 1`. You can view trends for up to eight topics at a time.",
      "id": "TopicTrends",
      "properties": {
        "last120DaysSearchInterest": {
          "description": "Search interest in the last 120 days, with the same normalization as search_interest. This field is only present for a past date.",
          "type": "number",
          "format": "double"
        },
        "last90DaysSearchInterest": {
          "description": "Search interest in the last 90 days, with the same normalization as search_interest. This field is only present for a past date.",
          "format": "double",
          "type": "number"
        },
        "next7DaysSearchInterest": {
          "type": "number",
          "description": "Estimated search interest in the next 7 days, with the same normalization as search_interest. This field is only present for a future date.",
          "format": "double"
        },
        "searchInterest": {
          "format": "double",
          "type": "number",
          "description": "Daily search interest, normalized to the time and country to make comparisons easier, with 100 representing peak popularity (from 0 to 100) for the requested time period and location."
        },
        "date": {
          "description": "Date the trend score was retrieved.",
          "$ref": "Date"
        },
        "last7DaysSearchInterest": {
          "description": "Search interest in the last 7 days, with the same normalization as search_interest. This field is only present for a past date.",
          "type": "number",
          "format": "double"
        },
        "topic": {
          "type": "string",
          "description": "Google-provided topic trends are calculated for. Only top eight topics are returned. Topic is what shoppers are searching for on Google, grouped by the same concept."
        },
        "last30DaysSearchInterest": {
          "type": "number",
          "format": "double",
          "description": "Search interest in the last 30 days, with the same normalization as search_interest. This field is only present for a past date."
        },
        "customerCountryCode": {
          "description": "Country trends are calculated for. Must be a two-letter country code (ISO 3166-1-alpha-2 code), for example, `“US”`.",
          "type": "string"
        }
      }
    },
    "AccountstatusesCustomBatchResponse": {
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#accountstatusesCustomBatchResponse`\".",
          "type": "string"
        },
        "entries": {
          "type": "array",
          "items": {
            "$ref": "AccountstatusesCustomBatchResponseEntry"
          },
          "description": "The result of the execution of the batch requests."
        }
      },
      "id": "AccountstatusesCustomBatchResponse",
      "type": "object"
    },
    "ProductStructuredTitle": {
      "properties": {
        "content": {
          "description": "Required. The title text. Maximum length is 150 characters.",
          "type": "string"
        },
        "digitalSourceType": {
          "description": "Optional. The digital source type. Acceptable values are: - \"`trained_algorithmic_media`\" - \"`default`\" ",
          "type": "string"
        }
      },
      "id": "ProductStructuredTitle",
      "type": "object",
      "description": "Structured title, for algorithmically (AI)-generated titles. See [title](https://support.google.com/merchants/answer/6324415#Whentouse) for more information."
    },
    "ProductstatusesCustomBatchRequest": {
      "id": "ProductstatusesCustomBatchRequest",
      "properties": {
        "entries": {
          "description": "The request entries to be processed in the batch.",
          "items": {
            "$ref": "ProductstatusesCustomBatchRequestEntry"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "AccountsLinkRequest": {
      "type": "object",
      "properties": {
        "action": {
          "type": "string",
          "description": "Action to perform for this link. The `\"request\"` action is only available to select merchants. Acceptable values are: - \"`approve`\" - \"`remove`\" - \"`request`\" "
        },
        "services": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": " Acceptable values are: - \"`shoppingAdsProductManagement`\" - \"`shoppingActionsProductManagement`\" - \"`shoppingActionsOrderManagement`\" - \"`paymentProcessing`\" "
        },
        "eCommercePlatformLinkInfo": {
          "description": "Additional information required for `eCommercePlatform` link type.",
          "$ref": "ECommercePlatformLinkInfo"
        },
        "paymentServiceProviderLinkInfo": {
          "description": "Additional information required for `paymentServiceProvider` link type.",
          "$ref": "PaymentServiceProviderLinkInfo"
        },
        "linkedAccountId": {
          "description": "The ID of the linked account.",
          "type": "string"
        },
        "linkType": {
          "description": "Type of the link between the two accounts. Acceptable values are: - \"`channelPartner`\" - \"`eCommercePlatform`\" - \"`paymentServiceProvider`\" ",
          "type": "string"
        }
      },
      "id": "AccountsLinkRequest"
    },
    "RenderProductIssuesRequestPayload": {
      "id": "RenderProductIssuesRequestPayload",
      "properties": {
        "contentOption": {
          "enumDescriptions": [
            "Default value. Will never be provided by the API.",
            "Returns the detail of the issue as a pre-rendered HTML text."
          ],
          "description": "Optional. How the detailed content should be returned. Default option is to return the content as a pre-rendered HTML text.",
          "type": "string",
          "enum": [
            "CONTENT_OPTION_UNSPECIFIED",
            "PRE_RENDERED_HTML"
          ]
        },
        "userInputActionOption": {
          "type": "string",
          "enum": [
            "USER_INPUT_ACTION_RENDERING_OPTION_UNSPECIFIED",
            "REDIRECT_TO_MERCHANT_CENTER",
            "BUILT_IN_USER_INPUT_ACTIONS"
          ],
          "description": "Optional. How actions with user input form should be handled. If not provided, actions will be returned as links that points merchant to Merchant Center where they can request the action.",
          "enumDescriptions": [
            "Default value. Will never be provided by the API.",
            "Actions that require user input are represented only as links that points merchant to Merchant Center where they can request the action. Provides easier to implement alternative to `BUILT_IN_USER_INPUT_ACTIONS`.",
            "Returns content and input form definition for each complex action. Your application needs to display this content and input form to the merchant before they can request processing of the action. To start the action, your application needs to call the `triggeraction` method."
          ]
        }
      },
      "description": "The payload for configuring how the content should be rendered.",
      "type": "object"
    },
    "ReturnPolicyOnlineReturnShippingFee": {
      "description": "The return shipping fee. This can either be a fixed fee or a boolean to indicate that the customer pays the actual shipping cost.",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The return shipping fee is a fixed value.",
            "Customer will pay the actual return shipping fee."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "FIXED",
            "CUSTOMER_PAYING_ACTUAL_FEE"
          ],
          "description": "Type of return shipping fee."
        },
        "fixedFee": {
          "$ref": "PriceAmount",
          "description": "Fixed return shipping fee amount. This value is only applicable when type is FIXED. We will treat the return shipping fee as free if type is FIXED and this value is not set."
        }
      },
      "id": "ReturnPolicyOnlineReturnShippingFee",
      "type": "object"
    },
    "ProductIssue": {
      "id": "ProductIssue",
      "properties": {
        "prerenderedContent": {
          "description": "Details of the issue as a pre-rendered HTML. HTML elements contain CSS classes that can be used to customize the style of the content. Always sanitize the HTML before embedding it directly to your application. The sanitizer needs to allow basic HTML tags, such as: `div`, `span`, `p`, `a`, `ul`, `li`, `table`, `tr`, `td`. For example, you can use [DOMPurify](https://www.npmjs.com/package/dompurify). CSS classes: * `issue-detail` - top level container for the detail of the issue * `callout-banners` - section of the `issue-detail` with callout banners * `callout-banner` - single callout banner, inside `callout-banners` * `callout-banner-info` - callout with important information (default) * `callout-banner-warning` - callout with a warning * `callout-banner-error` - callout informing about an error (most severe) * `issue-content` - section of the `issue-detail`, contains multiple `content-element` * `content-element` - content element such as a list, link or paragraph, inside `issue-content` * `root-causes` - unordered list with items describing root causes of the issue, inside `issue-content` * `root-causes-intro` - intro text before the `root-causes` list, inside `issue-content` * `segment` - section of the text, `span` inside paragraph * `segment-attribute` - section of the text that represents a product attribute, for example 'image\\_link' * `segment-literal` - section of the text that contains a special value, for example '0-1000 kg' * `segment-bold` - section of the text that should be rendered as bold * `segment-italic` - section of the text that should be rendered as italic * `tooltip` - used on paragraphs that should be rendered with a tooltip. A section of the text in such a paragraph will have a class `tooltip-text` and is intended to be shown in a mouse over dialog. If the style is not used, the `tooltip-text` section would be shown on a new line, after the main part of the text. * `tooltip-text` - marks a section of the text within a `tooltip`, that is intended to be shown in a mouse over dialog. * `tooltip-icon` - marks a section of the text within a `tooltip`, that can be replaced with a tooltip icon, for example '?' or 'i'. By default, this section contains a `br` tag, that is separating the main text and the tooltip text when the style is not used. * `tooltip-style-question` - the tooltip shows helpful information, can use the '?' as an icon. * `tooltip-style-info` - the tooltip adds additional information fitting to the context, can use the 'i' as an icon. * `content-moderation` - marks the paragraph that explains how the issue was identified. * `list-intro` - marks the paragraph that contains an intro for a list. This paragraph will be always followed by a list. * `new-element` - Present for new elements added to the pre-rendered content in the future. To make sure that a new content element does not break your style, you can hide everything with this class.",
          "type": "string"
        },
        "prerenderedOutOfCourtDisputeSettlement": {
          "description": "Pre-rendered HTML that contains a link to the external location where the ODS can be requested and instructions for how to request it. HTML elements contain CSS classes that can be used to customize the style of this snippet. Always sanitize the HTML before embedding it directly to your application. The sanitizer needs to allow basic HTML tags, such as: `div`, `span`, `p`, `a`, `ul`, `li`, `table`, `tr`, `td`. For example, you can use [DOMPurify](https://www.npmjs.com/package/dompurify). CSS classes: * `ods-section`* - wrapper around the out-of-court dispute resolution section * `ods-description`* - intro text for the out-of-court dispute resolution. It may contain multiple segments and a link. * `ods-param`* - wrapper around the header-value pair for parameters that merchant may need to provide during the ODS process. * `ods-routing-id`* - ods param for the Routing ID. * `ods-reference-id`* - ods param for the Routing ID. * `ods-param-header`* - header for the ODS parameter * `ods-param-value`* - value of the ODS parameter. This value should be rendered in a way that it is easy for merchants to identify and copy. * `segment` - section of the text, `span` inside paragraph * `segment-attribute` - section of the text that represents a product attribute, for example 'image\\_link' * `segment-literal` - section of the text that contains a special value, for example '0-1000 kg' * `segment-bold` - section of the text that should be rendered as bold * `segment-italic` - section of the text that should be rendered as italic * `tooltip` - used on paragraphs that should be rendered with a tooltip. A section of the text in such a paragraph will have a class `tooltip-text` and is intended to be shown in a mouse over dialog. If the style is not used, the `tooltip-text` section would be shown on a new line, after the main part of the text. * `tooltip-text` - marks a section of the text within a `tooltip`, that is intended to be shown in a mouse over dialog. * `tooltip-icon` - marks a section of the text within a `tooltip`, that can be replaced with a tooltip icon, for example '?' or 'i'. By default, this section contains a `br` tag, that is separating the main text and the tooltip text when the style is not used. * `tooltip-style-question` - the tooltip shows helpful information, can use the '?' as an icon. * `tooltip-style-info` - the tooltip adds additional information fitting to the context, can use the 'i' as an icon.",
          "type": "string"
        },
        "title": {
          "description": "Title of the issue.",
          "type": "string"
        },
        "actions": {
          "description": "A list of actionable steps that can be executed to solve the issue. An example is requesting a re-review or providing arguments when merchant disagrees with the issue. Actions that are supported in (your) third-party application can be rendered as buttons and should be available to merchant when they expand the issue.",
          "type": "array",
          "items": {
            "$ref": "Action"
          }
        },
        "impact": {
          "description": "Clarifies the severity of the issue. The summarizing message, if present, should be shown right under the title for each issue. It helps merchants to quickly understand the impact of the issue. The detailed breakdown helps the merchant to fully understand the impact of the issue. It can be rendered as dialog that opens when the merchant mouse over the summarized impact statement. Issues with different severity can be styled differently. They may use a different color or icon to signal the difference between `ERROR`, `WARNING` and `INFO`.",
          "$ref": "ProductIssueImpact"
        }
      },
      "description": "An issue affecting specific product.",
      "type": "object"
    },
    "CustomAttribute": {
      "properties": {
        "value": {
          "type": "string",
          "description": "The value of the attribute."
        },
        "groupValues": {
          "description": "Subattributes within this attribute group. Exactly one of value or groupValues must be provided.",
          "items": {
            "$ref": "CustomAttribute"
          },
          "type": "array"
        },
        "name": {
          "description": "The name of the attribute. Underscores will be replaced by spaces upon insertion.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "CustomAttribute",
      "description": "A message that represents custom attributes. Exactly one of `value` or `groupValues` must be provided. Maximum allowed number of characters for each custom attribute is 10240 (represents sum of characters for name and value). Maximum 2500 custom attributes can be set per merchant, with total size of 102.4kB."
    },
    "RequestPhoneVerificationRequest": {
      "properties": {
        "phoneRegionCode": {
          "type": "string",
          "description": "Required. Two letter country code for the phone number, for example `CA` for Canadian numbers. See the [ISO 3166-1 alpha-2](https://wikipedia.org/wiki/ISO_3166-1_alpha-2#Officially_assigned_code_elements) officially assigned codes."
        },
        "phoneVerificationMethod": {
          "description": "Verification method to receive verification code.",
          "type": "string",
          "enum": [
            "PHONE_VERIFICATION_METHOD_UNSPECIFIED",
            "SMS",
            "PHONE_CALL"
          ],
          "enumDescriptions": [
            "Unknown method.",
            "Receive verification code by SMS.",
            "Receive verification code by phone call."
          ]
        },
        "languageCode": {
          "description": "Language code [IETF BCP 47 syntax](https://tools.ietf.org/html/bcp47) (for example, en-US). Language code is used to provide localized `SMS` and `PHONE_CALL`. Default language used is en-US if not provided.",
          "type": "string"
        },
        "phoneNumber": {
          "description": "Phone number to be verified.",
          "type": "string"
        }
      },
      "id": "RequestPhoneVerificationRequest",
      "type": "object",
      "description": "Request message for the RequestPhoneVerification method."
    },
    "MinimumOrderValueTable": {
      "properties": {
        "storeCodeSetWithMovs": {
          "type": "array",
          "items": {
            "$ref": "MinimumOrderValueTableStoreCodeSetWithMov"
          }
        }
      },
      "id": "MinimumOrderValueTable",
      "type": "object"
    },
    "DatafeedStatusExample": {
      "type": "object",
      "id": "DatafeedStatusExample",
      "description": "An example occurrence for a particular error.",
      "properties": {
        "itemId": {
          "type": "string",
          "description": "The ID of the example item."
        },
        "lineNumber": {
          "type": "string",
          "format": "uint64",
          "description": "Line number in the data feed where the example is found."
        },
        "value": {
          "description": "The problematic value.",
          "type": "string"
        }
      }
    },
    "ProductSustainabilityIncentive": {
      "type": "object",
      "properties": {
        "amount": {
          "description": "Optional. The fixed amount of the incentive.",
          "$ref": "Price"
        },
        "type": {
          "enumDescriptions": [
            "Unspecified or unknown sustainability incentive type.",
            "Program offering tax liability reductions for electric vehicles and, in some countries, plug-in hybrids. These reductions can be based on a specific amount or a percentage of the sale price.",
            "A subsidy program, often called an environmental bonus, provides a purchase grant for electric vehicles and, in some countries, plug-in hybrids. The grant amount may be a fixed sum or a percentage of the sale price."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "EV_TAX_CREDIT",
            "EV_PRICE_DISCOUNT"
          ],
          "description": "Required. Sustainability incentive program."
        },
        "percentage": {
          "format": "double",
          "type": "number",
          "description": "Optional. The percentage of the sale price that the incentive is applied to."
        }
      },
      "description": "Information regarding sustainability related incentive programs such as rebates or tax relief.",
      "id": "ProductSustainabilityIncentive"
    },
    "ProductSubscriptionCost": {
      "properties": {
        "period": {
          "description": "The type of subscription period. - \"`month`\" - \"`year`\" ",
          "type": "string"
        },
        "amount": {
          "description": "The amount the buyer has to pay per subscription period.",
          "$ref": "Price"
        },
        "periodLength": {
          "type": "string",
          "format": "int64",
          "description": "The number of subscription periods the buyer has to pay."
        }
      },
      "id": "ProductSubscriptionCost",
      "type": "object"
    },
    "VerifyPhoneNumberResponse": {
      "type": "object",
      "description": "Response message for the VerifyPhoneNumber method.",
      "properties": {
        "verifiedPhoneNumber": {
          "description": "Verified phone number if verification is successful. This phone number can only be replaced by another verified phone number.",
          "type": "string"
        }
      },
      "id": "VerifyPhoneNumberResponse"
    },
    "PosInventoryRequest": {
      "id": "PosInventoryRequest",
      "properties": {
        "storeCode": {
          "type": "string",
          "description": "Required. The identifier of the merchant's store. Either a `storeCode` inserted through the API or the code of the store in a Business Profile."
        },
        "price": {
          "$ref": "Price",
          "description": "Required. The current price of the item."
        },
        "targetCountry": {
          "description": "Required. The CLDR territory code for the item.",
          "type": "string"
        },
        "pickupMethod": {
          "description": "Optional. Supported pickup method for this offer. Unless the value is \"not supported\", this field must be submitted together with `pickupSla`. For accepted attribute values, see the [local product inventory feed specification](https://support.google.com/merchants/answer/3061342).",
          "type": "string"
        },
        "quantity": {
          "description": "Required. The available quantity of the item.",
          "format": "int64",
          "type": "string"
        },
        "gtin": {
          "description": "Global Trade Item Number.",
          "type": "string"
        },
        "contentLanguage": {
          "description": "Required. The two-letter ISO 639-1 language code for the item.",
          "type": "string"
        },
        "timestamp": {
          "description": "Required. The inventory timestamp, in ISO 8601 format.",
          "type": "string"
        },
        "itemId": {
          "type": "string",
          "description": "Required. A unique identifier for the item."
        },
        "pickupSla": {
          "type": "string",
          "description": "Optional. Expected date that an order will be ready for pickup relative to the order date. Must be submitted together with `pickupMethod`. For accepted attribute values, see the [local product inventory feed specification](https://support.google.com/merchants/answer/3061342)."
        }
      },
      "type": "object"
    },
    "ListMethodQuotasResponse": {
      "id": "ListMethodQuotasResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "methodQuotas": {
          "items": {
            "$ref": "MethodQuota"
          },
          "type": "array",
          "description": "The current quota usage and limits per each method."
        }
      },
      "type": "object",
      "description": "Response message for the ListMethodQuotas method."
    },
    "AccountImageImprovementsSettings": {
      "properties": {
        "allowAutomaticImageImprovements": {
          "type": "boolean",
          "description": "Enables automatic image improvements."
        }
      },
      "description": "Settings for the Automatic Image Improvements.",
      "type": "object",
      "id": "AccountImageImprovementsSettings"
    },
    "ReportRow": {
      "properties": {
        "segments": {
          "$ref": "Segments",
          "description": "Segmentation dimensions requested by the merchant in the query. Dimension values are only set for dimensions requested explicitly in the query."
        },
        "brand": {
          "$ref": "Brand",
          "description": "Brand fields requested by the merchant in the query. Field values are only set if the merchant queries `BestSellersBrandView`."
        },
        "topicTrends": {
          "description": "[Topic trends](https://support.google.com/merchants/answer/13542370) fields requested by the merchant in the query. Field values are only set if the merchant queries `TopicTrendsView`.",
          "$ref": "TopicTrends"
        },
        "productView": {
          "$ref": "ProductView",
          "description": "Product fields requested by the merchant in the query. Field values are only set if the merchant queries `ProductView`."
        },
        "priceCompetitiveness": {
          "$ref": "PriceCompetitiveness",
          "description": "Price competitiveness fields requested by the merchant in the query. Field values are only set if the merchant queries `PriceCompetitivenessProductView`."
        },
        "bestSellers": {
          "$ref": "BestSellers",
          "description": "Best sellers fields requested by the merchant in the query. Field values are only set if the merchant queries `BestSellersProductClusterView` or `BestSellersBrandView`."
        },
        "priceInsights": {
          "description": "Price insights fields requested by the merchant in the query. Field values are only set if the merchant queries `PriceInsightsProductView`.",
          "$ref": "PriceInsights"
        },
        "metrics": {
          "description": "Metrics requested by the merchant in the query. Metric values are only set for metrics requested explicitly in the query.",
          "$ref": "Metrics"
        },
        "competitiveVisibility": {
          "$ref": "CompetitiveVisibility",
          "description": "Competitive visibility fields requested by the merchant in the query. Field values are only set if the merchant queries `CompetitiveVisibilityTopMerchantView`, `CompetitiveVisibilityBenchmarkView` or `CompetitiveVisibilityCompetitorView`."
        },
        "productCluster": {
          "$ref": "ProductCluster",
          "description": "Product cluster fields requested by the merchant in the query. Field values are only set if the merchant queries `BestSellersProductClusterView`."
        }
      },
      "description": "Result row returned from the search query.",
      "type": "object",
      "id": "ReportRow"
    },
    "AccountConversionSettings": {
      "id": "AccountConversionSettings",
      "type": "object",
      "properties": {
        "freeListingsAutoTaggingEnabled": {
          "type": "boolean",
          "description": "When enabled, free listing URLs have a parameter to enable conversion tracking for products owned by the current merchant account. See [auto-tagging](https://support.google.com/merchants/answer/11127659)."
        }
      },
      "description": "Settings for conversion tracking."
    },
    "Account": {
      "description": "Account data. After the creation of a new account it may take a few minutes before it's fully operational. The methods delete, insert, and update require the admin role.",
      "id": "Account",
      "properties": {
        "websiteUrl": {
          "description": "The merchant's website.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#account`\".",
          "type": "string"
        },
        "name": {
          "description": "Required. Display name for the account.",
          "type": "string"
        },
        "users": {
          "description": "Users with access to the account. Every account (except for subaccounts) must have at least one admin user.",
          "type": "array",
          "items": {
            "$ref": "AccountUser"
          }
        },
        "accountManagement": {
          "readOnly": true,
          "description": "Output only. How the account is managed. Acceptable values are: - \"`manual`\" - \"`automatic`\" ",
          "type": "string"
        },
        "adsLinks": {
          "type": "array",
          "items": {
            "$ref": "AccountAdsLink"
          },
          "description": "Linked Ads accounts that are active or pending approval. To create a new link request, add a new link with status `active` to the list. It will remain in a `pending` state until approved or rejected either in the Ads interface or through the Google Ads API. To delete an active link, or to cancel a link request, remove it from the list."
        },
        "sellerId": {
          "type": "string",
          "description": "Client-specific, locally-unique, internal ID for the child account."
        },
        "googleMyBusinessLink": {
          "description": "The Business Profile which is linked or in the process of being linked with the Merchant Center account.",
          "$ref": "AccountGoogleMyBusinessLink"
        },
        "id": {
          "format": "uint64",
          "type": "string",
          "description": "Required. 64-bit Merchant Center account ID."
        },
        "automaticLabelIds": {
          "type": "array",
          "description": "Automatically created label IDs that are assigned to the account by CSS Center.",
          "items": {
            "type": "string",
            "format": "uint64"
          }
        },
        "adultContent": {
          "description": "Indicates whether the merchant sells adult content.",
          "type": "boolean"
        },
        "businessIdentity": {
          "$ref": "AccountBusinessIdentity",
          "description": "The business identity attributes can be used to self-declare attributes that let customers know more about your business."
        },
        "youtubeChannelLinks": {
          "description": "Linked YouTube channels that are active or pending approval. To create a new link request, add a new link with status `active` to the list. It will remain in a `pending` state until approved or rejected in the YT Creator Studio interface. To delete an active link, or to cancel a link request, remove it from the list.",
          "items": {
            "$ref": "AccountYouTubeChannelLink"
          },
          "type": "array"
        },
        "cssId": {
          "type": "string",
          "format": "uint64",
[...]
