{
  "description": "Builds and manages container-based applications, powered by the open source Kubernetes technology.",
  "id": "container:v1",
  "batchPath": "batch",
  "title": "Kubernetes Engine API",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "schemas": {
    "MaintenancePolicy": {
      "type": "object",
      "properties": {
        "resourceVersion": {
          "description": "A hash identifying the version of this policy, so that updates to fields of the policy won't accidentally undo intermediate changes (and so that users of the API unaware of some fields won't accidentally remove other fields). Make a `get()` request to the cluster to get the current resource version and include it with requests to set the policy.",
          "type": "string"
        },
        "window": {
          "description": "Specifies the maintenance window in which maintenance may be performed.",
          "$ref": "MaintenanceWindow"
        },
        "disruptionBudget": {
          "description": "Optional. The upgrade disruption budget for the cluster control plane.",
          "$ref": "DisruptionBudget"
        }
      },
      "id": "MaintenancePolicy",
      "description": "MaintenancePolicy defines the maintenance policy to be used for the cluster."
    },
    "BinaryAuthorization": {
      "description": "Configuration for Binary Authorization.",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "This field is deprecated. Leave this unset and instead configure BinaryAuthorization using evaluation_mode. If evaluation_mode is set to anything other than EVALUATION_MODE_UNSPECIFIED, this field is ignored.",
          "deprecated": true,
          "type": "boolean"
        },
        "evaluationMode": {
          "description": "Mode of operation for binauthz policy evaluation. If unspecified, defaults to DISABLED.",
          "enum": [
            "EVALUATION_MODE_UNSPECIFIED",
            "DISABLED",
            "PROJECT_SINGLETON_POLICY_ENFORCE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value",
            "Disable BinaryAuthorization",
            "Enforce Kubernetes admission requests with BinaryAuthorization using the project's singleton policy. This is equivalent to setting the enabled boolean to true."
          ]
        }
      },
      "id": "BinaryAuthorization"
    },
    "ShieldedNodes": {
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Whether Shielded Nodes features are enabled on all nodes in this cluster.",
          "type": "boolean"
        }
      },
      "id": "ShieldedNodes",
      "description": "Configuration of Shielded Nodes feature."
    },
    "WindowsNodeConfig": {
      "id": "WindowsNodeConfig",
      "type": "object",
      "properties": {
        "osVersion": {
          "type": "string",
          "enumDescriptions": [
            "When OSVersion is not specified.",
            "LTSC2019 specifies to use LTSC2019 as the Windows Servercore Base Image.",
            "LTSC2022 specifies to use LTSC2022 as the Windows Servercore Base Image."
          ],
          "enum": [
            "OS_VERSION_UNSPECIFIED",
            "OS_VERSION_LTSC2019",
            "OS_VERSION_LTSC2022"
          ],
          "description": "OSVersion specifies the Windows node config to be used on the node."
        }
      },
      "description": "Parameters that can be configured on Windows nodes. Windows Node Config that define the parameters that will be used to configure the Windows node pool settings."
    },
    "GCPSecretManagerCertificateConfig": {
      "description": "GCPSecretManagerCertificateConfig configures a secret from [Secret Manager](https://cloud.google.com/secret-manager).",
      "type": "object",
      "properties": {
        "secretUri": {
          "description": "Secret URI, in the form \"projects/$PROJECT_ID/secrets/$SECRET_NAME/versions/$VERSION\". Version can be fixed (e.g. \"2\") or \"latest\"",
          "type": "string"
        }
      },
      "id": "GCPSecretManagerCertificateConfig"
    },
    "AdvancedDatapathObservabilityConfig": {
      "id": "AdvancedDatapathObservabilityConfig",
      "type": "object",
      "properties": {
        "enableMetrics": {
          "description": "Expose flow metrics on nodes",
          "type": "boolean"
        },
        "enableRelay": {
          "description": "Enable Relay component",
          "type": "boolean"
        },
        "relayMode": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This shouldn't be used.",
            "disabled",
            "exposed via internal load balancer",
            "exposed via external load balancer"
          ],
          "enum": [
            "RELAY_MODE_UNSPECIFIED",
            "DISABLED",
            "INTERNAL_VPC_LB",
            "EXTERNAL_LB"
          ],
          "description": "Method used to make Relay available"
        }
      },
      "description": "AdvancedDatapathObservabilityConfig specifies configuration of observability features of advanced datapath."
    },
    "EnterpriseConfig": {
      "properties": {
        "clusterTier": {
          "description": "Output only. cluster_tier indicates the effective tier of the cluster.",
          "readOnly": true,
          "enum": [
            "CLUSTER_TIER_UNSPECIFIED",
            "STANDARD",
            "ENTERPRISE"
          ],
          "type": "string",
          "enumDescriptions": [
            "CLUSTER_TIER_UNSPECIFIED is when cluster_tier is not set.",
            "STANDARD indicates a standard GKE cluster.",
            "ENTERPRISE indicates a GKE Enterprise cluster."
          ]
        },
        "desiredTier": {
          "description": "desired_tier specifies the desired tier of the cluster.",
          "type": "string",
          "enumDescriptions": [
            "CLUSTER_TIER_UNSPECIFIED is when cluster_tier is not set.",
            "STANDARD indicates a standard GKE cluster.",
            "ENTERPRISE indicates a GKE Enterprise cluster."
          ],
          "enum": [
            "CLUSTER_TIER_UNSPECIFIED",
            "STANDARD",
            "ENTERPRISE"
          ]
        }
      },
      "deprecated": true,
      "description": "EnterpriseConfig is the cluster enterprise configuration. Deprecated: GKE Enterprise features are now available without an Enterprise tier.",
      "type": "object",
      "id": "EnterpriseConfig"
    },
    "UpdateMasterRequest": {
      "description": "UpdateMasterRequest updates the master of the cluster.",
      "id": "UpdateMasterRequest",
      "type": "object",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
          "deprecated": true
        },
        "name": {
          "description": "The name (project, location, cluster) of the cluster to update. Specified in the format `projects/*/locations/*/clusters/*`.",
          "type": "string"
        },
        "zone": {
          "type": "string",
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
          "deprecated": true
        },
        "masterVersion": {
          "description": "Required. The Kubernetes version to change the master to. Users may specify either explicit versions offered by Kubernetes Engine or version aliases, which have the following behavior: - \"latest\": picks the highest valid Kubernetes version - \"1.X\": picks the highest valid patch+gke.N patch in the 1.X version - \"1.X.Y\": picks the highest valid gke.N patch in the 1.X.Y version - \"1.X.Y-gke.N\": picks an explicit Kubernetes version - \"-\": picks the default Kubernetes version",
          "type": "string"
        },
        "clusterId": {
          "type": "string",
          "description": "Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field.",
          "deprecated": true
        }
      }
    },
    "GcsFuseCsiDriverConfig": {
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Whether the Cloud Storage Fuse CSI driver is enabled for this cluster.",
          "type": "boolean"
        }
      },
      "id": "GcsFuseCsiDriverConfig",
      "description": "Configuration for the Cloud Storage Fuse CSI driver."
    },
    "EvictionGracePeriod": {
      "type": "object",
      "properties": {
        "memoryAvailable": {
          "description": "Optional. Grace period for eviction due to memory available signal. Sample format: \"10s\". Must be >= 0. See https://kubernetes.io/docs/concepts/scheduling-eviction/node-pressure-eviction/#eviction-signals",
          "type": "string"
        },
        "pidAvailable": {
          "description": "Optional. Grace period for eviction due to pid available signal. Sample format: \"10s\". Must be >= 0. See https://kubernetes.io/docs/concepts/scheduling-eviction/node-pressure-eviction/#eviction-signals",
          "type": "string"
        },
        "nodefsInodesFree": {
          "description": "Optional. Grace period for eviction due to nodefs inodes free signal. Sample format: \"10s\". Must be >= 0. See https://kubernetes.io/docs/concepts/scheduling-eviction/node-pressure-eviction/#eviction-signals",
          "type": "string"
        },
        "imagefsInodesFree": {
          "description": "Optional. Grace period for eviction due to imagefs inodes free signal. Sample format: \"10s\". Must be >= 0. See https://kubernetes.io/docs/concepts/scheduling-eviction/node-pressure-eviction/#eviction-signals",
          "type": "string"
        },
        "nodefsAvailable": {
          "description": "Optional. Grace period for eviction due to nodefs available signal. Sample format: \"10s\". Must be >= 0. See https://kubernetes.io/docs/concepts/scheduling-eviction/node-pressure-eviction/#eviction-signals",
          "type": "string"
        },
        "imagefsAvailable": {
          "description": "Optional. Grace period for eviction due to imagefs available signal. Sample format: \"10s\". Must be >= 0. See https://kubernetes.io/docs/concepts/scheduling-eviction/node-pressure-eviction/#eviction-signals",
          "type": "string"
        }
      },
      "id": "EvictionGracePeriod",
      "description": "Eviction grace periods are grace periods for each eviction signal."
    },
    "GcePersistentDiskCsiDriverConfig": {
      "description": "Configuration for the Compute Engine PD CSI driver.",
      "id": "GcePersistentDiskCsiDriverConfig",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Whether the Compute Engine PD CSI driver is enabled for this cluster.",
          "type": "boolean"
        }
      }
    },
    "Filter": {
      "id": "Filter",
      "type": "object",
      "properties": {
        "eventType": {
          "type": "array",
          "items": {
            "enum": [
              "EVENT_TYPE_UNSPECIFIED",
              "UPGRADE_AVAILABLE_EVENT",
              "UPGRADE_EVENT",
              "SECURITY_BULLETIN_EVENT",
              "UPGRADE_INFO_EVENT"
            ],
            "type": "string",
            "enumDescriptions": [
              "Not set, will be ignored.",
              "Corresponds with UpgradeAvailableEvent.",
              "Corresponds with UpgradeEvent.",
              "Corresponds with SecurityBulletinEvent.",
              "Corresponds with UpgradeInfoEvent."
            ]
          },
          "description": "Event types to allowlist."
        }
      },
      "description": "Allows filtering to one or more specific event types. If event types are present, those and only those event types will be transmitted to the cluster. Other types will be skipped. If no filter is specified, or no event types are present, all event types will be sent"
    },
    "Date": {
      "id": "Date",
      "type": "object",
      "properties": {
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        },
        "day": {
          "type": "integer",
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        },
        "year": {
          "type": "integer",
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        }
      },
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
    },
    "TopologyManager": {
      "id": "TopologyManager",
      "type": "object",
      "properties": {
        "policy": {
          "description": "Configures the strategy for resource alignment. Allowed values are: * none: the default policy, and does not perform any topology alignment. * restricted: the topology manager stores the preferred NUMA node affinity for the container, and will reject the pod if the affinity if not preferred. * best-effort: the topology manager stores the preferred NUMA node affinity for the container. If the affinity is not preferred, the topology manager will admit the pod to the node anyway. * single-numa-node: the topology manager determines if the single NUMA node affinity is possible. If it is, Topology Manager will store this and the Hint Providers can then use this information when making the resource allocation decision. If, however, this is not possible then the Topology Manager will reject the pod from the node. This will result in a pod in a Terminated state with a pod admission failure. The default policy value is 'none' if unspecified. Details about each strategy can be found [here](https://kubernetes.io/docs/tasks/administer-cluster/topology-manager/#topology-manager-policies).",
          "type": "string"
        },
        "scope": {
          "description": "The Topology Manager aligns resources in following scopes: * container * pod The default scope is 'container' if unspecified. See https://kubernetes.io/docs/tasks/administer-cluster/topology-manager/#topology-manager-scopes",
          "type": "string"
        }
      },
      "description": "TopologyManager defines the configuration options for the [`kubelet` Topology Manager component](https://kubernetes.io/docs/tasks/administer-cluster/topology-manager/). For more information about the supported machine types and versions for the Topology Manager in GKE, see [Customizing node system configuration](https://docs.cloud.google.com/kubernetes-engine/docs/how-to/node-system-config#kubelet-resource-managers)."
    },
    "AutoIpamConfig": {
      "description": "AutoIpamConfig contains all information related to Auto IPAM",
      "id": "AutoIpamConfig",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "The flag that enables Auto IPAM on this cluster",
          "type": "boolean"
        }
      }
    },
    "ManagedPrometheusConfig": {
      "description": "ManagedPrometheusConfig defines the configuration for Google Cloud Managed Service for Prometheus.",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Enable Managed Collection.",
          "type": "boolean"
        },
        "autoMonitoringConfig": {
          "description": "GKE Workload Auto-Monitoring Configuration.",
          "$ref": "AutoMonitoringConfig"
        }
      },
      "id": "ManagedPrometheusConfig"
    },
    "AutoMonitoringConfig": {
      "id": "AutoMonitoringConfig",
      "type": "object",
      "properties": {
        "scope": {
          "description": "Scope for GKE Workload Auto-Monitoring.",
          "enum": [
            "SCOPE_UNSPECIFIED",
            "ALL",
            "NONE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "Auto-Monitoring is enabled for all supported applications.",
            "Disable Auto-Monitoring."
          ]
        }
      },
      "description": "AutoMonitoringConfig defines the configuration for GKE Workload Auto-Monitoring."
    },
    "LocalNvmeSsdBlockConfig": {
      "id": "LocalNvmeSsdBlockConfig",
      "type": "object",
      "properties": {
        "localSsdCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of local NVMe SSDs to use. The limit for this value is dependent upon the maximum number of disk available on a machine per zone. See: https://cloud.google.com/compute/docs/disks/local-ssd for more information. A zero (or unset) value has different meanings depending on machine type being used: 1. For pre-Gen3 machines, which support flexible numbers of local ssds, zero (or unset) means to disable using local SSDs as ephemeral storage. 2. For Gen3 machines which dictate a specific number of local ssds, zero (or unset) means to use the default number of local ssds that goes with that machine type. For example, for a c3-standard-8-lssd machine, 2 local ssds would be provisioned. For c3-standard-8 (which doesn't support local ssds), 0 will be provisioned. See https://cloud.google.com/compute/docs/disks/local-ssd#choose_number_local_ssds for more info."
        }
      },
      "description": "LocalNvmeSsdBlockConfig contains configuration for using raw-block local NVMe SSDs"
    },
    "HorizontalPodAutoscaling": {
      "type": "object",
      "properties": {
        "disabled": {
          "description": "Whether the Horizontal Pod Autoscaling feature is enabled in the cluster. When enabled, it ensures that metrics are collected into Stackdriver Monitoring.",
          "type": "boolean"
        }
      },
      "id": "HorizontalPodAutoscaling",
      "description": "Configuration options for the horizontal pod autoscaling feature, which increases or decreases the number of replica pods a replication controller has based on the resource usage of the existing pods."
    },
    "KubernetesDashboard": {
      "type": "object",
      "properties": {
        "disabled": {
          "description": "Whether the Kubernetes Dashboard is enabled for this cluster.",
          "type": "boolean"
        }
      },
      "id": "KubernetesDashboard",
      "description": "Configuration for the Kubernetes Dashboard."
    },
    "CustomNodeInit": {
      "type": "object",
      "properties": {
        "initScript": {
          "description": "Optional. The init script to be executed on the node.",
          "$ref": "InitScript"
        }
      },
      "id": "CustomNodeInit",
      "description": "Support for running custom init code while bootstrapping nodes."
    },
    "KubeletCertInfo": {
      "type": "object",
      "properties": {
        "tpmBootstrapCertExpireTime": {
          "description": "Output only.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "nonTpmBootstrapCertExpireTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only.",
          "readOnly": true
        }
      },
      "id": "KubeletCertInfo",
      "description": "Contains expiry information about the kubelet certificate."
    },
    "MonitoringComponentConfig": {
      "description": "MonitoringComponentConfig is cluster monitoring component configuration.",
      "id": "MonitoringComponentConfig",
      "type": "object",
      "properties": {
        "enableComponents": {
          "type": "array",
          "items": {
            "enum": [
              "COMPONENT_UNSPECIFIED",
              "SYSTEM_COMPONENTS",
              "APISERVER",
              "SCHEDULER",
              "CONTROLLER_MANAGER",
              "STORAGE",
              "HPA",
              "POD",
              "DAEMONSET",
              "DEPLOYMENT",
              "STATEFULSET",
              "CADVISOR",
              "KUBELET",
              "DCGM",
              "JOBSET"
            ],
            "type": "string",
            "enumDescriptions": [
              "Default value. This shouldn't be used.",
              "system components",
              "kube-apiserver",
              "kube-scheduler",
              "kube-controller-manager",
              "Storage",
              "Horizontal Pod Autoscaling",
              "Pod",
              "DaemonSet",
              "Deployment",
              "Statefulset",
              "CADVISOR",
              "KUBELET",
              "NVIDIA Data Center GPU Manager (DCGM)",
              "JobSet"
            ]
          },
          "description": "Select components to collect metrics. An empty set would disable all monitoring."
        }
      }
    },
    "Status": {
      "id": "Status",
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "GatewayAPIConfig": {
      "type": "object",
      "properties": {
        "channel": {
          "enum": [
            "CHANNEL_UNSPECIFIED",
            "CHANNEL_DISABLED",
            "CHANNEL_EXPERIMENTAL",
            "CHANNEL_STANDARD"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Gateway API support is disabled",
            "Deprecated: use CHANNEL_STANDARD instead. Gateway API support is enabled, experimental CRDs are installed",
            "Gateway API support is enabled, standard CRDs are installed"
          ],
          "description": "The Gateway API release channel to use for Gateway API.",
          "enumDeprecated": [
            false,
            false,
            true,
            false
          ]
        }
      },
      "id": "GatewayAPIConfig",
      "description": "GatewayAPIConfig contains the desired config of Gateway API on this cluster."
    },
    "ReleaseChannelConfig": {
      "description": "ReleaseChannelConfig exposes configuration for a release channel.",
      "type": "object",
      "properties": {
        "defaultVersion": {
          "description": "The default version for newly created clusters on the channel.",
          "type": "string"
        },
        "upgradeTargetVersion": {
          "description": "The auto upgrade target version for clusters on the channel.",
          "type": "string"
        },
        "channel": {
          "enum": [
            "UNSPECIFIED",
            "RAPID",
            "REGULAR",
            "STABLE",
            "EXTENDED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Deprecated: No channel specified. it will be removed in the future, use RAPID, REGULAR, STABLE or EXTENDED instead.",
            "RAPID channel is offered on an early access basis for customers who want to test new releases. WARNING: Versions available in the RAPID Channel may be subject to unresolved issues with no known workaround and are not subject to any SLAs.",
            "Clusters subscribed to REGULAR receive versions that are considered GA quality. REGULAR is intended for production users who want to take advantage of new features.",
            "Clusters subscribed to STABLE receive versions that are known to be stable and reliable in production.",
            "Clusters subscribed to EXTENDED receive extended support and availability for versions which are known to be stable and reliable in production."
          ],
          "description": "The release channel this configuration applies to.",
          "enumDeprecated": [
            true,
            false,
            false,
            false,
            false
          ]
        },
        "validVersions": {
          "description": "List of valid versions for the channel.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ReleaseChannelConfig"
    },
    "UpdateClusterRequest": {
      "description": "UpdateClusterRequest updates the settings of a cluster.",
      "id": "UpdateClusterRequest",
      "type": "object",
      "properties": {
        "update": {
          "description": "Required. A description of the update.",
          "$ref": "ClusterUpdate"
        },
        "clusterId": {
          "description": "Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field.",
          "deprecated": true,
          "type": "string"
        },
        "zone": {
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
          "deprecated": true,
          "type": "string"
        },
        "projectId": {
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
          "deprecated": true,
          "type": "string"
        },
        "name": {
          "description": "The name (project, location, cluster) of the cluster to update. Specified in the format `projects/*/locations/*/clusters/*`.",
          "type": "string"
        }
      }
    },
    "AdditionalPodNetworkConfig": {
      "description": "AdditionalPodNetworkConfig is the configuration for additional pod networks within the NodeNetworkConfig message",
      "type": "object",
      "properties": {
        "subnetwork": {
          "description": "Name of the subnetwork where the additional pod network belongs.",
          "type": "string"
        },
        "networkAttachment": {
          "description": "The name of the network attachment for pods to communicate to; cannot be specified along with subnetwork or secondary_pod_range.",
          "type": "string"
        },
        "secondaryPodRange": {
          "description": "The name of the secondary range on the subnet which provides IP address for this pod range.",
          "type": "string"
        },
        "maxPodsPerNode": {
          "description": "The maximum number of pods per node which use this pod network.",
          "$ref": "MaxPodsConstraint"
        }
      },
      "id": "AdditionalPodNetworkConfig"
    },
    "AdditionalNodeNetworkConfig": {
      "id": "AdditionalNodeNetworkConfig",
      "type": "object",
      "properties": {
        "network": {
          "description": "Name of the VPC where the additional interface belongs",
          "type": "string"
        },
        "subnetwork": {
          "description": "Name of the subnetwork where the additional interface belongs",
          "type": "string"
        }
      },
      "description": "AdditionalNodeNetworkConfig is the configuration for additional node networks within the NodeNetworkConfig message"
    },
    "IPEndpointsConfig": {
      "description": "IP endpoints configuration.",
      "id": "IPEndpointsConfig",
      "type": "object",
      "properties": {
        "privateEndpointSubnetwork": {
          "description": "Subnet to provision the master's private endpoint during cluster creation. Specified in projects/*/regions/*/subnetworks/* format. It is invalid to specify both PrivateClusterConfig.privateEndpointSubnetwork and this field at the same time.",
          "type": "string"
        },
        "enablePublicEndpoint": {
          "description": "Controls whether the control plane allows access through a public IP. It is invalid to specify both PrivateClusterConfig.enablePrivateEndpoint and this field at the same time.",
          "type": "boolean"
        },
        "authorizedNetworksConfig": {
          "description": "Configuration of authorized networks. If enabled, restricts access to the control plane based on source IP. It is invalid to specify both Cluster.masterAuthorizedNetworksConfig and this field at the same time.",
          "$ref": "MasterAuthorizedNetworksConfig"
        },
        "publicEndpoint": {
          "description": "Output only. The external IP address of this cluster's control plane. Only populated if enabled.",
          "readOnly": true,
          "type": "string"
        },
        "globalAccess": {
          "description": "Controls whether the control plane's private endpoint is accessible from sources in other regions. It is invalid to specify both PrivateClusterMasterGlobalAccessConfig.enabled and this field at the same time.",
          "type": "boolean"
        },
        "privateEndpoint": {
          "description": "Output only. The internal IP address of this cluster's control plane. Only populated if enabled.",
          "readOnly": true,
          "type": "string"
        },
        "enabled": {
          "description": "Controls whether to allow direct IP access.",
          "type": "boolean"
        }
      }
    },
    "LoggingComponentConfig": {
      "id": "LoggingComponentConfig",
      "type": "object",
      "properties": {
        "enableComponents": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default value. This shouldn't be used.",
              "system components",
              "workloads",
              "kube-apiserver",
              "kube-scheduler",
              "kube-controller-manager",
              "kcp-sshd",
              "kcp connection logs",
              "horizontal pod autoscaler decision logs",
              "vertical pod autoscaler decision logs"
            ],
            "enum": [
              "COMPONENT_UNSPECIFIED",
              "SYSTEM_COMPONENTS",
              "WORKLOADS",
              "APISERVER",
              "SCHEDULER",
              "CONTROLLER_MANAGER",
              "KCP_SSHD",
              "KCP_CONNECTION",
              "KCP_HPA",
              "KCP_VPA"
            ]
          },
          "description": "Select components to collect logs. An empty set would disable all logging."
        }
      },
      "description": "LoggingComponentConfig is cluster logging component configuration."
    },
    "HighScaleCheckpointingConfig": {
      "description": "Configuration for the High Scale Checkpointing.",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Whether the High Scale Checkpointing is enabled for this cluster.",
          "type": "boolean"
        }
      },
      "id": "HighScaleCheckpointingConfig"
    },
    "RollbackSafeUpgrade": {
      "id": "RollbackSafeUpgrade",
      "type": "object",
      "properties": {
        "controlPlaneSoakDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. A user-defined period for the cluster remains in the rollbackable state. ex: {seconds: 21600}."
        }
      },
      "description": "RollbackSafeUpgrade is the configuration for the rollback safe upgrade."
    },
    "SoleTenantConfig": {
      "type": "object",
      "properties": {
        "nodeAffinities": {
          "description": "NodeAffinities used to match to a shared sole tenant node group.",
          "type": "array",
          "items": {
            "$ref": "NodeAffinity"
          }
        },
        "minNodeCpus": {
          "description": "Optional. The minimum number of virtual CPUs this instance will consume when running on a sole-tenant node. This field can only be set if the node pool is created in a shared sole-tenant node group.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "SoleTenantConfig",
      "description": "SoleTenantConfig contains the NodeAffinities to specify what shared sole tenant node groups should back the node pool."
    },
    "NodeManagement": {
      "description": "NodeManagement defines the set of node management services turned on for the node pool.",
      "type": "object",
      "properties": {
        "autoRepair": {
          "description": "A flag that specifies whether the node auto-repair is enabled for the node pool. If enabled, the nodes in this node pool will be monitored and, if they fail health checks too many times, an automatic repair action will be triggered.",
          "type": "boolean"
        },
        "autoUpgrade": {
          "description": "A flag that specifies whether node auto-upgrade is enabled for the node pool. If enabled, node auto-upgrade helps keep the nodes in your node pool up to date with the latest release version of Kubernetes.",
          "type": "boolean"
        },
        "upgradeOptions": {
          "description": "Specifies the Auto Upgrade knobs for the node pool.",
          "$ref": "AutoUpgradeOptions"
        }
      },
      "id": "NodeManagement"
    },
    "SecurityBulletinEvent": {
      "description": "SecurityBulletinEvent is a notification sent to customers when a security bulletin has been posted that they are vulnerable to.",
      "type": "object",
      "properties": {
        "affectedSupportedMinors": {
          "description": "The GKE minor versions affected by this vulnerability.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "severity": {
          "description": "The severity of this bulletin as it relates to GKE.",
          "type": "string"
        },
        "suggestedUpgradeTarget": {
          "description": "This represents a version selected from the patched_versions field that the cluster receiving this notification should most likely want to upgrade to based on its current version. Note that if this notification is being received by a given cluster, it means that this version is currently available as an upgrade target in that cluster's location.",
          "type": "string"
        },
        "manualStepsRequired": {
          "description": "If this field is specified, it means there are manual steps that the user must take to make their clusters safe.",
          "type": "boolean"
        },
        "cveIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The CVEs associated with this bulletin."
        },
        "briefDescription": {
          "description": "A brief description of the bulletin. See the bulletin pointed to by the bulletin_uri field for an expanded description.",
          "type": "string"
        },
        "bulletinUri": {
          "description": "The URI link to the bulletin on the website for more information.",
          "type": "string"
        },
        "patchedVersions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The GKE versions where this vulnerability is patched."
        },
        "mitigatedVersions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The GKE versions where this vulnerability is mitigated."
        },
        "resourceTypeAffected": {
          "description": "The resource type (node/control plane) that has the vulnerability. Multiple notifications (1 notification per resource type) will be sent for a vulnerability that affects > 1 resource type.",
          "type": "string"
        },
        "bulletinId": {
          "description": "The ID of the bulletin corresponding to the vulnerability.",
          "type": "string"
        }
      },
      "id": "SecurityBulletinEvent"
    },
    "ClientCertificateConfig": {
      "type": "object",
      "properties": {
        "issueClientCertificate": {
          "description": "Issue a client certificate.",
          "type": "boolean"
        }
      },
      "id": "ClientCertificateConfig",
      "description": "Configuration for client certificates on the cluster."
    },
    "MasterAuth": {
      "id": "MasterAuth",
      "type": "object",
      "properties": {
        "password": {
          "description": "The password to use for HTTP basic authentication to the master endpoint. Because the master endpoint is open to the Internet, you should create a strong password. If a password is provided for cluster creation, username must be non-empty. Warning: basic authentication is deprecated, and will be removed in GKE control plane versions 1.19 and newer. For a list of recommended authentication methods, see: https://cloud.google.com/kubernetes-engine/docs/how-to/api-server-authentication",
          "deprecated": true,
          "type": "string"
        },
        "clusterCaCertificate": {
          "description": "Output only. Base64-encoded public certificate that is the root of trust for the cluster.",
          "readOnly": true,
          "type": "string"
        },
        "clientCertificateConfig": {
          "description": "Configuration for client certificate authentication on the cluster. For clusters before v1.12, if no configuration is specified, a client certificate is issued.",
          "$ref": "ClientCertificateConfig"
        },
        "username": {
          "description": "The username to use for HTTP basic authentication to the master endpoint. For clusters v1.6.0 and later, basic authentication can be disabled by leaving username unspecified (or setting it to the empty string). Warning: basic authentication is deprecated, and will be removed in GKE control plane versions 1.19 and newer. For a list of recommended authentication methods, see: https://cloud.google.com/kubernetes-engine/docs/how-to/api-server-authentication",
          "deprecated": true,
          "type": "string"
        },
        "clientKey": {
          "type": "string",
          "description": "Output only. Base64-encoded private key used by clients to authenticate to the cluster endpoint.",
          "readOnly": true
        },
        "clientCertificate": {
          "description": "Output only. Base64-encoded public certificate used by clients to authenticate to the cluster endpoint. Issued only if client_certificate_config is set.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "The authentication information for accessing the master endpoint. Authentication can be done using HTTP basic auth or using client certificates."
    },
    "UpgradeAvailableEvent": {
      "type": "object",
      "properties": {
        "version": {
          "description": "The release version available for upgrade.",
          "type": "string"
        },
        "resource": {
          "description": "Optional relative path to the resource. For example, the relative path of the node pool.",
          "type": "string"
        },
        "resourceType": {
          "enum": [
            "UPGRADE_RESOURCE_TYPE_UNSPECIFIED",
            "MASTER",
            "NODE_POOL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This shouldn't be used.",
            "Master / control plane",
            "Node pool"
          ],
          "description": "The resource type of the release version."
        },
        "releaseChannel": {
          "description": "The release channel of the version. If empty, it means a non-channel release.",
          "$ref": "ReleaseChannel"
        }
      },
      "id": "UpgradeAvailableEvent",
      "description": "UpgradeAvailableEvent is a notification sent to customers when a new available version is released."
    },
    "CreateNodePoolRequest": {
      "id": "CreateNodePoolRequest",
      "type": "object",
      "properties": {
        "nodePool": {
          "description": "Required. The node pool to create.",
          "$ref": "NodePool"
        },
        "clusterId": {
          "type": "string",
          "description": "Deprecated. The name of the cluster. This field has been deprecated and replaced by the parent field.",
          "deprecated": true
        },
        "zone": {
          "type": "string",
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the parent field.",
          "deprecated": true
        },
        "parent": {
          "description": "The parent (project, location, cluster name) where the node pool will be created. Specified in the format `projects/*/locations/*/clusters/*`.",
          "type": "string"
        },
        "projectId": {
          "type": "string",
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the parent field.",
          "deprecated": true
        }
      },
      "description": "CreateNodePoolRequest creates a node pool for a cluster."
    },
    "SetNodePoolSizeRequest": {
      "id": "SetNodePoolSizeRequest",
      "type": "object",
      "properties": {
        "zone": {
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
          "deprecated": true,
          "type": "string"
        },
        "nodePoolId": {
          "description": "Deprecated. The name of the node pool to update. This field has been deprecated and replaced by the name field.",
          "deprecated": true,
          "type": "string"
        },
        "projectId": {
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
          "deprecated": true,
          "type": "string"
        },
        "name": {
          "description": "The name (project, location, cluster, node pool id) of the node pool to set size. Specified in the format `projects/*/locations/*/clusters/*/nodePools/*`.",
          "type": "string"
        },
        "nodeCount": {
          "description": "Required. The desired node count for the pool.",
          "type": "integer",
          "format": "int32"
        },
        "clusterId": {
          "description": "Deprecated. The name of the cluster to update. This field has been deprecated and replaced by the name field.",
          "deprecated": true,
          "type": "string"
        }
      },
      "description": "SetNodePoolSizeRequest sets the size of a node pool."
    },
    "PrivilegedAdmissionConfig": {
      "description": "PrivilegedAdmissionConfig stores the list of authorized allowlist paths for the cluster.",
      "id": "PrivilegedAdmissionConfig",
      "type": "object",
      "properties": {
        "allowlistPaths": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The customer allowlist Cloud Storage paths for the cluster. These paths are used with the `--autopilot-privileged-admission` flag to authorize privileged workloads in Autopilot clusters. Paths can be GKE-owned, in the format `gke:////`, or customer-owned, in the format `gs:///`. Wildcards (`*`) are supported to authorize all allowlists under specific paths or directories. Example: `gs://my-bucket/*` will authorize all allowlists under the `my-bucket` bucket."
        }
      }
    },
    "AcceleratorConfig": {
      "description": "AcceleratorConfig represents a Hardware Accelerator request.",
      "type": "object",
      "properties": {
        "acceleratorCount": {
          "type": "string",
          "format": "int64",
          "description": "The number of the accelerator cards exposed to an instance."
        },
        "acceleratorType": {
          "description": "The accelerator type resource name. List of supported accelerators [here](https://cloud.google.com/compute/docs/gpus)",
          "type": "string"
        },
        "gpuSharingConfig": {
          "description": "The configuration for GPU sharing options.",
          "$ref": "GPUSharingConfig"
        },
        "gpuPartitionSize": {
          "description": "Size of partitions to create on the GPU. Valid values are described in the NVIDIA [mig user guide](https://docs.nvidia.com/datacenter/tesla/mig-user-guide/#partitioning).",
          "type": "string"
        },
        "gpuDriverInstallationConfig": {
          "description": "The configuration for auto installation of GPU driver.",
          "$ref": "GPUDriverInstallationConfig"
        }
      },
      "id": "AcceleratorConfig"
    },
    "LinuxNodeConfig": {
      "description": "Parameters that can be configured on Linux nodes.",
      "id": "LinuxNodeConfig",
      "type": "object",
      "properties": {
        "transparentHugepageDefrag": {
          "enum": [
            "TRANSPARENT_HUGEPAGE_DEFRAG_UNSPECIFIED",
            "TRANSPARENT_HUGEPAGE_DEFRAG_ALWAYS",
            "TRANSPARENT_HUGEPAGE_DEFRAG_DEFER",
            "TRANSPARENT_HUGEPAGE_DEFRAG_DEFER_WITH_MADVISE",
            "TRANSPARENT_HUGEPAGE_DEFRAG_MADVISE",
            "TRANSPARENT_HUGEPAGE_DEFRAG_NEVER"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. GKE will not modify the kernel configuration.",
            "It means that an application requesting THP will stall on allocation failure and directly reclaim pages and compact memory in an effort to allocate a THP immediately.",
            "It means that an application will wake kswapd in the background to reclaim pages and wake kcompactd to compact memory so that THP is available in the near future. It's the responsibility of khugepaged to then install the THP pages later.",
            "It means that an application will enter direct reclaim and compaction like always, but only for regions that have used madvise(MADV_HUGEPAGE); all other regions will wake kswapd in the background to reclaim pages and wake kcompactd to compact memory so that THP is available in the near future.",
            "It means that an application will enter direct reclaim like always but only for regions that are have used madvise(MADV_HUGEPAGE). This is the default kernel configuration.",
            "It means that an application will never enter direct reclaim or compaction."
          ],
          "description": "Optional. Defines the transparent hugepage defrag configuration on the node. VM hugepage allocation can be managed by either limiting defragmentation for delayed allocation or skipping it entirely for immediate allocation only. See https://docs.kernel.org/admin-guide/mm/transhuge.html for more details."
        },
        "swapConfig": {
          "description": "Optional. Enables and configures swap space on nodes. If omitted, swap is disabled.",
          "$ref": "SwapConfig"
        },
        "sysctls": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The Linux kernel parameters to be applied to the nodes and all pods running on the nodes. The following parameters are supported. net.core.busy_poll net.core.busy_read net.core.netdev_max_backlog net.core.rmem_max net.core.rmem_default net.core.wmem_default net.core.wmem_max net.core.optmem_max net.core.somaxconn net.ipv4.neigh.default.gc_thresh1 net.ipv4.neigh.default.gc_thresh2 net.ipv4.neigh.default.gc_thresh3 net.ipv4.tcp_rmem net.ipv4.tcp_wmem net.ipv4.tcp_tw_reuse net.ipv4.tcp_mtu_probing net.ipv4.tcp_max_orphans net.ipv4.tcp_max_tw_buckets net.ipv4.tcp_syn_retries net.ipv4.tcp_ecn net.ipv4.tcp_congestion_control net.netfilter.nf_conntrack_max net.netfilter.nf_conntrack_buckets net.netfilter.nf_conntrack_tcp_timeout_close_wait net.netfilter.nf_conntrack_tcp_timeout_time_wait net.netfilter.nf_conntrack_tcp_timeout_established net.netfilter.nf_conntrack_acct kernel.keys.maxkeys kernel.keys.maxbytes kernel.shmmni kernel.shmmax kernel.shmall kernel.core_pattern kernel.perf_event_paranoid kernel.sched_rt_runtime_us kernel.softlockup_panic kernel.yama.ptrace_scope kernel.kptr_restrict kernel.dmesg_restrict kernel.sysrq fs.aio-max-nr fs.file-max fs.inotify.max_user_instances fs.inotify.max_user_watches fs.nr_open vm.dirty_background_ratio vm.dirty_background_bytes vm.dirty_expire_centisecs vm.dirty_ratio vm.dirty_bytes vm.dirty_writeback_centisecs vm.max_map_count vm.overcommit_memory vm.overcommit_ratio vm.vfs_cache_pressure vm.swappiness vm.watermark_scale_factor vm.min_free_kbytes"
        },
        "nodeVfioConfig": {
          "description": "Optional. Contains VFIO-related configurations for this node.",
          "$ref": "NodeVfioConfig"
        },
        "transparentHugepageEnabled": {
          "description": "Optional. Transparent hugepage support for anonymous memory can be entirely disabled (mostly for debugging purposes) or only enabled inside MADV_HUGEPAGE regions (to avoid the risk of consuming more memory resources) or enabled system wide. See https://docs.kernel.org/admin-guide/mm/transhuge.html for more details.",
          "enum": [
            "TRANSPARENT_HUGEPAGE_ENABLED_UNSPECIFIED",
            "TRANSPARENT_HUGEPAGE_ENABLED_ALWAYS",
            "TRANSPARENT_HUGEPAGE_ENABLED_MADVISE",
            "TRANSPARENT_HUGEPAGE_ENABLED_NEVER"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. GKE will not modify the kernel configuration.",
            "Transparent hugepage support for anonymous memory is enabled system wide.",
            "Transparent hugepage support for anonymous memory is enabled inside MADV_HUGEPAGE regions. This is the default kernel configuration.",
            "Transparent hugepage support for anonymous memory is disabled."
          ]
        },
        "customNodeInit": {
          "description": "Optional. Allow users to run arbitrary bash script or container on the node.",
          "$ref": "CustomNodeInit"
        },
        "nodeKernelModuleLoading": {
          "description": "Optional. Configuration for kernel module loading on nodes. When enabled, the node pool will be provisioned with a Container-Optimized OS image that enforces kernel module signature verification.",
          "$ref": "NodeKernelModuleLoading"
        },
        "cgroupMode": {
          "type": "string",
          "enumDescriptions": [
            "CGROUP_MODE_UNSPECIFIED is when unspecified cgroup configuration is used. The default for the GKE node OS image will be used.",
            "CGROUP_MODE_V1 specifies to use cgroupv1 for the cgroup configuration on the node image.",
            "CGROUP_MODE_V2 specifies to use cgroupv2 for the cgroup configuration on the node image."
          ],
          "enum": [
            "CGROUP_MODE_UNSPECIFIED",
            "CGROUP_MODE_V1",
            "CGROUP_MODE_V2"
          ],
          "description": "cgroup_mode specifies the cgroup mode to be used on the node."
        },
        "hugepages": {
          "description": "Optional. Amounts for 2M and 1G hugepages",
          "$ref": "HugepagesConfig"
        },
        "diskIoScheduler": {
          "description": "Optional. Controls the configuration for the disk IO scheduler.",
          "$ref": "DiskIoScheduler"
        },
        "accurateTimeConfig": {
          "description": "Optional. The accurate time configuration for the node pool.",
          "$ref": "AccurateTimeConfig"
        }
      }
    },
    "AutopilotConfig": {
      "description": "AutopilotConfig contains configuration of autopilot feature for this node pool.",
      "id": "AutopilotConfig",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Denotes that nodes belonging to this node pool are Autopilot nodes.",
          "type": "boolean"
        }
      }
    },
    "SetLocationsRequest": {
      "description": "SetLocationsRequest sets the locations of the cluster.",
      "id": "SetLocationsRequest",
      "type": "object",
      "properties": {
        "zone": {
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
          "deprecated": true,
          "type": "string"
        },
        "projectId": {
          "type": "string",
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
          "deprecated": true
        },
        "name": {
          "description": "The name (project, location, cluster) of the cluster to set locations. Specified in the format `projects/*/locations/*/clusters/*`.",
          "type": "string"
        },
        "locations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The desired list of Google Compute Engine [zones](https://cloud.google.com/compute/docs/zones#available) in which the cluster's nodes should be located. Changing the locations a cluster is in will result in nodes being either created or removed from the cluster, depending on whether locations are being added or removed. This list must always include the cluster's primary zone."
        },
        "clusterId": {
          "type": "string",
          "description": "Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field.",
          "deprecated": true
        }
      }
    },
    "ConfigConnectorConfig": {
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Whether Cloud Connector is enabled for this cluster.",
          "type": "boolean"
        }
      },
      "id": "ConfigConnectorConfig",
      "description": "Configuration options for the Config Connector add-on."
    },
    "NotificationConfig": {
      "id": "NotificationConfig",
      "type": "object",
      "properties": {
        "pubsub": {
          "description": "Notification config for Pub/Sub.",
          "$ref": "PubSub"
        }
      },
      "description": "NotificationConfig is the configuration of notifications."
    },
    "SetMasterAuthRequest": {
      "id": "SetMasterAuthRequest",
      "type": "object",
      "properties": {
        "update": {
          "description": "Required. A description of the update.",
          "$ref": "MasterAuth"
        },
        "clusterId": {
          "type": "string",
          "description": "Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field.",
          "deprecated": true
        },
        "action": {
          "description": "Required. The exact form of action to be taken on the master auth.",
          "type": "string",
          "enumDescriptions": [
            "Operation is unknown and will error out.",
            "Set the password to a user generated value.",
            "Generate a new password and set it to that.",
            "Set the username. If an empty username is provided, basic authentication is disabled for the cluster. If a non-empty username is provided, basic authentication is enabled, with either a provided password or a generated one."
          ],
          "enum": [
            "UNKNOWN",
            "SET_PASSWORD",
            "GENERATE_PASSWORD",
            "SET_USERNAME"
          ]
        },
        "projectId": {
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
          "deprecated": true,
          "type": "string"
        },
        "name": {
          "description": "The name (project, location, cluster) of the cluster to set auth. Specified in the format `projects/*/locations/*/clusters/*`.",
          "type": "string"
        },
        "zone": {
          "type": "string",
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
          "deprecated": true
        }
      },
      "description": "SetMasterAuthRequest updates the admin password of a cluster."
    },
    "DataplaneV2Config": {
      "description": "DataplaneV2Config is the configuration for DPv2.",
      "type": "object",
      "properties": {
        "scalabilityMode": {
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Disables the scale optimized mode for DPv2.",
            "Enables the scale optimized mode for DPv2."
          ],
          "enum": [
            "SCALABILITY_MODE_UNSPECIFIED",
            "DISABLED",
            "SCALE_OPTIMIZED"
          ],
          "description": "Optional. Scalability mode for the cluster."
        }
      },
      "id": "DataplaneV2Config"
    },
    "SyncRotationConfig": {
      "id": "SyncRotationConfig",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Whether the rotation is enabled.",
          "type": "boolean"
        },
        "rotationInterval": {
          "description": "The interval between two consecutive rotations. Default rotation interval is 2 minutes.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "description": "SyncRotationConfig is config for secret manager auto rotation."
    },
    "ListUsableSubnetworksResponse": {
      "id": "ListUsableSubnetworksResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "This token allows you to get the next page of results for list requests. If the number of results is larger than `page_size`, use the `next_page_token` as a value for the query parameter `page_token` in the next request. The value will become empty when there are no more pages.",
          "type": "string"
        },
        "subnetworks": {
          "type": "array",
          "items": {
            "$ref": "UsableSubnetwork"
          },
          "description": "A list of usable subnetworks in the specified network project."
        }
      },
      "description": "ListUsableSubnetworksResponse is the response of ListUsableSubnetworksRequest."
    },
    "NodeCreationConfig": {
      "description": "NodeCreationConfig defines the settings of node creation mode.",
      "id": "NodeCreationConfig",
      "type": "object",
      "properties": {
        "nodeCreationMode": {
          "enum": [
            "MODE_UNSPECIFIED",
            "VIA_KUBELET",
            "VIA_CONTROL_PLANE"
          ],
          "type": "string",
          "enumDescriptions": [
            "When no user input is provided.",
            "Kubelet registers itself.",
            "gcp-controller-manager automatically creates the node object after CSR approval."
          ],
          "description": "The mode of node creation."
        }
      }
    },
    "CrashLoopBackOffConfig": {
      "type": "object",
      "properties": {
        "maxContainerRestartPeriod": {
          "description": "Optional. The maximum duration the backoff delay can accrue to for container restarts, minimum 1 second, maximum 300 seconds. If not set, defaults to the internal crashloopbackoff maximum. The string must be a sequence of decimal numbers, each with optional fraction and a unit suffix, such as \"300ms\". Valid time units are \"ns\", \"us\" (or \"µs\"), \"ms\", \"s\", \"m\", \"h\". See https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#configurable-container-restart-delay for more details.",
          "type": "string"
        }
      },
      "id": "CrashLoopBackOffConfig",
      "description": "Contains config to modify node-level parameters for container restart behavior."
    },
    "ClusterUpdate": {
      "description": "ClusterUpdate describes an update to the cluster. Exactly one update can be applied to a cluster with each request, so at most one field can be provided.",
      "type": "object",
      "properties": {
        "desiredAutoIpamConfig": {
          "description": "AutoIpamConfig contains all information related to Auto IPAM",
          "$ref": "AutoIpamConfig"
        },
        "desiredMasterAuthorizedNetworksConfig": {
          "description": "The desired configuration options for master authorized networks feature. Deprecated: Use desired_control_plane_endpoints_config.ip_endpoints_config.authorized_networks_config instead.",
          "deprecated": true,
          "$ref": "MasterAuthorizedNetworksConfig"
        },
        "desiredInTransitEncryptionConfig": {
          "description": "Specify the details of in-transit encryption.",
          "enum": [
            "IN_TRANSIT_ENCRYPTION_CONFIG_UNSPECIFIED",
            "IN_TRANSIT_ENCRYPTION_DISABLED",
            "IN_TRANSIT_ENCRYPTION_INTER_NODE_TRANSPARENT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified, will be inferred as default - IN_TRANSIT_ENCRYPTION_UNSPECIFIED.",
            "In-transit encryption is disabled.",
            "Data in-transit is encrypted using inter-node transparent encryption."
          ]
        },
        "userManagedKeysConfig": {
          "description": "The Custom keys configuration for the cluster. This field is deprecated. Use ClusterUpdate.desired_user_managed_keys_config instead.",
          "deprecated": true,
          "$ref": "UserManagedKeysConfig"
        },
        "desiredPrivateClusterConfig": {
          "description": "The desired private cluster configuration. master_global_access_config is the only field that can be changed via this field. See also ClusterUpdate.desired_enable_private_endpoint for modifying other fields within PrivateClusterConfig. Deprecated: Use desired_control_plane_endpoints_config.ip_endpoints_config.global_access instead.",
          "deprecated": true,
          "$ref": "PrivateClusterConfig"
        },
        "desiredContainerdConfig": {
          "description": "The desired containerd config for the cluster.",
          "$ref": "ContainerdConfig"
        },
        "gkeAutoUpgradeConfig": {
          "description": "Configuration for GKE auto upgrade.",
          "$ref": "GkeAutoUpgradeConfig"
        },
        "desiredImage": {
          "description": "The desired name of the image to use for this node. This is used to create clusters using a custom image. NOTE: Set the \"desired_node_pool\" field as well.",
          "type": "string"
        },
        "desiredNodeCreationConfig": {
          "description": "Optional. The desired NodeCreationConfig for the cluster.",
          "$ref": "NodeCreationConfig"
        },
        "desiredNodePoolId": {
          "description": "The node pool to be upgraded. This field is mandatory if \"desired_node_version\", \"desired_image_family\" or \"desired_node_pool_autoscaling\" is specified and there is more than one node pool on the cluster.",
          "type": "string"
        },
        "desiredLoggingService": {
          "description": "The logging service the cluster should use to write logs. Currently available options: * `logging.googleapis.com/kubernetes` - The Cloud Logging service with a Kubernetes-native resource model * `logging.googleapis.com` - The legacy Cloud Logging service (no longer available as of GKE 1.15). * `none` - no logs will be exported from the cluster. If left as an empty string,`logging.googleapis.com/kubernetes` will be used for GKE 1.14+ or `logging.googleapis.com` for earlier versions.",
          "type": "string"
        },
        "desiredCompliancePostureConfig": {
          "description": "Deprecated: Compliance Posture is no longer supported. For more details, see https://cloud.google.com/kubernetes-engine/docs/deprecations/posture-management-deprecation. Enable/Disable Compliance Posture features for the cluster.",
          "deprecated": true,
          "$ref": "CompliancePostureConfig"
        },
        "desiredAutopilotClusterPolicyConfig": {
          "description": "The desired autopilot cluster policies that to be enforced in the cluster.",
          "$ref": "ClusterPolicyConfig"
        },
        "desiredImageProject": {
          "description": "The project containing the desired image to use for this node. This is used to create clusters using a custom image. NOTE: Set the \"desired_node_pool\" field as well.",
          "type": "string"
        },
        "desiredEnableFqdnNetworkPolicy": {
          "description": "Enable/Disable FQDN Network Policy for the cluster.",
          "type": "boolean"
        },
        "desiredSecretManagerConfig": {
          "description": "Enable/Disable Secret Manager Config.",
          "$ref": "SecretManagerConfig"
        },
        "desiredNodePoolAutoConfigLinuxNodeConfig": {
          "description": "The desired Linux node config for all auto-provisioned node pools in autopilot clusters and node auto-provisioning enabled clusters. Currently only `cgroup_mode` can be set here.",
          "$ref": "LinuxNodeConfig"
        },
        "desiredDatabaseEncryption": {
          "description": "Configuration of etcd encryption.",
          "$ref": "DatabaseEncryption"
        },
        "desiredClusterAutoscaling": {
          "description": "Cluster-level autoscaling configuration.",
          "$ref": "ClusterAutoscaling"
        },
        "desiredNetworkTierConfig": {
          "description": "The desired network tier configuration for the cluster.",
          "$ref": "NetworkTierConfig"
        },
        "desiredMonitoringService": {
          "description": "The monitoring service the cluster should use to write metrics. Currently available options: * `monitoring.googleapis.com/kubernetes` - The Cloud Monitoring service with a Kubernetes-native resource model * `monitoring.googleapis.com` - The legacy Cloud Monitoring service (no longer available as of GKE 1.15). * `none` - No metrics will be exported from the cluster. If left as an empty string,`monitoring.googleapis.com/kubernetes` will be used for GKE 1.14+ or `monitoring.googleapis.com` for earlier versions.",
          "type": "string"
        },
        "desiredNodeKubeletConfig": {
          "description": "The desired node kubelet config for the cluster.",
          "$ref": "NodeKubeletConfig"
        },
        "desiredSecretSyncConfig": {
          "description": "Configuration for sync Secret Manager secrets as k8s secrets.",
          "$ref": "SecretSyncConfig"
        },
        "desiredGcfsConfig": {
          "description": "The desired GCFS config for the cluster",
          "$ref": "GcfsConfig"
        },
        "desiredMonitoringConfig": {
          "description": "The desired monitoring configuration.",
          "$ref": "MonitoringConfig"
        },
        "desiredNodePoolAutoConfigKubeletConfig": {
          "description": "The desired node kubelet config for all auto-provisioned node pools in autopilot clusters and node auto-provisioning enabled clusters.",
          "$ref": "NodeKubeletConfig"
        },
        "desiredMeshCertificates": {
          "description": "Configuration for issuance of mTLS keys and certificates to Kubernetes pods.",
          "$ref": "MeshCertificates"
        },
        "desiredEmulatedVersion": {
          "description": "Optional. The desired emulated version for the cluster.",
          "type": "string"
        },
        "desiredServiceExternalIpsConfig": {
          "description": "ServiceExternalIPsConfig specifies the config for the use of Services with ExternalIPs field.",
          "$ref": "ServiceExternalIPsConfig"
        },
        "desiredBinaryAuthorization": {
          "description": "The desired configuration options for the Binary Authorization feature.",
          "$ref": "BinaryAuthorization"
        },
        "desiredDisableL4LbFirewallReconciliation": {
          "description": "Enable/Disable L4 LB VPC firewall reconciliation for the cluster.",
          "type": "boolean"
        },
        "desiredShieldedNodes": {
          "description": "Configuration for Shielded Nodes.",
          "$ref": "ShieldedNodes"
        },
        "desiredNodePoolAutoConfigResourceManagerTags": {
          "description": "The desired resource manager tags that apply to all auto-provisioned node pools in autopilot clusters and node auto-provisioning enabled clusters.",
          "$ref": "ResourceManagerTags"
        },
        "desiredDnsConfig": {
          "description": "DNSConfig contains clusterDNS config for this cluster.",
          "$ref": "DNSConfig"
        },
        "desiredAdditionalIpRangesConfig": {
          "description": "The desired config for additional subnetworks attached to the cluster.",
          "$ref": "DesiredAdditionalIPRangesConfig"
        },
        "desiredEnterpriseConfig": {
          "description": "The desired enterprise configuration for the cluster. Deprecated: GKE Enterprise features are now available without an Enterprise tier.",
          "deprecated": true,
          "$ref": "DesiredEnterpriseConfig"
        },
        "desiredNetworkPerformanceConfig": {
          "description": "The desired network performance config.",
          "$ref": "ClusterNetworkPerformanceConfig"
        },
        "desiredResourceUsageExportConfig": {
          "description": "The desired configuration for exporting resource usage.",
          "$ref": "ResourceUsageExportConfig"
        },
        "removedAdditionalPodRangesConfig": {
          "description": "The additional pod ranges that are to be removed from the cluster. The pod ranges specified here must have been specified earlier in the 'additional_pod_ranges_config' argument.",
          "$ref": "AdditionalPodRangesConfig"
        },
        "desiredL4ilbSubsettingConfig": {
          "description": "The desired L4 Internal Load Balancer Subsetting configuration.",
          "$ref": "ILBSubsettingConfig"
        },
        "desiredVerticalPodAutoscaling": {
          "description": "Cluster-level Vertical Pod Autoscaling configuration.",
          "$ref": "VerticalPodAutoscaling"
        },
        "desiredDefaultEnablePrivateNodes": {
          "description": "Override the default setting of whether future created nodes have private IP addresses only, namely NetworkConfig.default_enable_private_nodes",
          "type": "boolean"
        },
        "additionalPodRangesConfig": {
          "description": "The additional pod ranges to be added to the cluster. These pod ranges can be used by node pools to allocate pod IPs.",
          "$ref": "AdditionalPodRangesConfig"
        },
        "desiredImageType": {
          "description": "The desired image type for the node pool. NOTE: Set the \"desired_node_pool\" field as well.",
          "type": "string"
        },
        "desiredPrivilegedAdmissionConfig": {
          "description": "The desired privileged admission config for the cluster.",
          "$ref": "PrivilegedAdmissionConfig"
        },
        "desiredNodeVersion": {
          "description": "The Kubernetes version to change the nodes to (typically an upgrade). Users may specify either explicit versions offered by Kubernetes Engine or version aliases, which have the following behavior: - \"latest\": picks the highest valid Kubernetes version - \"1.X\": picks the highest valid patch+gke.N patch in the 1.X version - \"1.X.Y\": picks the highest valid gke.N patch in the 1.X.Y version - \"1.X.Y-gke.N\": picks an explicit Kubernetes version - \"-\": picks the Kubernetes master version",
          "type": "string"
        },
        "enableK8sBetaApis": {
          "description": "Kubernetes open source beta apis enabled on the cluster. Only beta apis",
          "$ref": "K8sBetaAPIConfig"
        },
        "desiredLocations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The desired list of Google Compute Engine [zones](https://cloud.google.com/compute/docs/zones#available) in which the cluster's nodes should be located. This list must always include the cluster's primary zone. Warning: changing cluster locations will update the locations of all node pools and will result in nodes being added and/or removed."
        },
        "desiredStackType": {
          "type": "string",
          "enumDescriptions": [
            "Default value, will be defaulted as IPV4 only",
            "Cluster is IPV4 only",
            "Cluster can use both IPv4 and IPv6"
          ],
          "enum": [
            "STACK_TYPE_UNSPECIFIED",
            "IPV4",
            "IPV4_IPV6"
          ],
          "description": "The desired stack type of the cluster. If a stack type is provided and does not match the current stack type of the cluster, update will attempt to change the stack type to the new type."
        },
        "desiredCostManagementConfig": {
          "description": "The desired configuration for the fine-grained cost management feature.",
          "$ref": "CostManagementConfig"
        },
        "desiredUserManagedKeysConfig": {
          "description": "The desired user managed keys config for the cluster.",
          "$ref": "UserManagedKeysConfig"
        },
        "desiredAddonsConfig": {
          "description": "Configurations for the various addons available to run in the cluster.",
          "$ref": "AddonsConfig"
        },
        "desiredLoggingConfig": {
          "description": "The desired logging configuration.",
          "$ref": "LoggingConfig"
        },
        "desiredMasterVersion": {
          "description": "The Kubernetes version to change the master to. Users may specify either explicit versions offered by Kubernetes Engine or version aliases, which have the following behavior: - \"latest\": picks the highest valid Kubernetes version - \"1.X\": picks the highest valid patch+gke.N patch in the 1.X version - \"1.X.Y\": picks the highest valid gke.N patch in the 1.X.Y version - \"1.X.Y-gke.N\": picks an explicit Kubernetes version - \"-\": picks the default Kubernetes version",
          "type": "string"
        },
        "desiredNodePoolAutoscaling": {
          "description": "Autoscaler configuration for the node pool specified in desired_node_pool_id. If there is only one pool in the cluster and desired_node_pool_id is not provided then the change applies to that single node pool.",
          "$ref": "NodePoolAutoscaling"
        },
        "desiredAutopilotWorkloadPolicyConfig": {
          "description": "WorkloadPolicyConfig is the configuration related to GCW workload policy",
          "$ref": "WorkloadPolicyConfig"
        },
        "desiredWorkloadIdentityConfig": {
          "description": "Configuration for Workload Identity.",
          "$ref": "WorkloadIdentityConfig"
        },
        "desiredReleaseChannel": {
          "description": "The desired release channel configuration.",
          "$ref": "ReleaseChannel"
        },
        "desiredParentProductConfig": {
          "description": "The desired parent product config for the cluster.",
          "$ref": "ParentProductConfig"
        },
        "desiredNodePoolLoggingConfig": {
          "description": "The desired node pool logging configuration defaults for the cluster.",
          "$ref": "NodePoolLoggingConfig"
        },
        "desiredControlPlaneEndpointsConfig": {
          "description": "Control plane endpoints configuration.",
          "$ref": "ControlPlaneEndpointsConfig"
        },
        "desiredEnableCiliumClusterwideNetworkPolicy": {
          "description": "Enable/Disable Cilium Clusterwide Network Policy for the cluster.",
          "type": "boolean"
        },
        "desiredPrivateIpv6GoogleAccess": {
          "type": "string",
          "enumDescriptions": [
            "Default value. Same as DISABLED",
            "No private access to or from Google Services",
            "Enables private IPv6 access to Google Services from GKE",
            "Enables private IPv6 access to and from Google Services"
          ],
          "enum": [
            "PRIVATE_IPV6_GOOGLE_ACCESS_UNSPECIFIED",
            "PRIVATE_IPV6_GOOGLE_ACCESS_DISABLED",
            "PRIVATE_IPV6_GOOGLE_ACCESS_TO_GOOGLE",
            "PRIVATE_IPV6_GOOGLE_ACCESS_BIDIRECTIONAL"
          ],
          "description": "The desired state of IPv6 connectivity to Google Services."
        },
        "desiredRbacBindingConfig": {
          "description": "RBACBindingConfig allows user to restrict ClusterRoleBindings an RoleBindings that can be created.",
          "$ref": "RBACBindingConfig"
        },
        "desiredGatewayApiConfig": {
          "description": "The desired config of Gateway API on this cluster.",
          "$ref": "GatewayAPIConfig"
        },
        "desiredPodAutoscaling": {
          "description": "The desired config for pod autoscaling.",
          "$ref": "PodAutoscaling"
        },
        "etag": {
          "description": "The current etag of the cluster. If an etag is provided and does not match the current etag of the cluster, update will be blocked and an ABORTED error will be returned.",
          "type": "string"
        },
        "desiredManagedOpentelemetryConfig": {
          "description": "The desired managed open telemetry configuration.",
          "$ref": "ManagedOpenTelemetryConfig"
        },
        "desiredIdentityServiceConfig": {
          "description": "The desired Identity Service component configuration.",
          "$ref": "IdentityServiceConfig"
        },
        "desiredAuthenticatorGroupsConfig": {
          "description": "The desired authenticator groups config for the cluster.",
          "$ref": "AuthenticatorGroupsConfig"
        },
        "desiredAnonymousAuthenticationConfig": {
          "description": "Configuration for limiting anonymous access to all endpoints except the health checks.",
          "$ref": "AnonymousAuthenticationConfig"
        },
        "desiredManagedMachineLearningDiagnosticsConfig": {
          "description": "The desired managed machine learning diagnostics configuration.",
          "$ref": "ManagedMachineLearningDiagnosticsConfig"
        },
        "desiredRollbackSafeUpgrade": {
          "description": "Optional. The desired rollback safe upgrade configuration.",
          "$ref": "RollbackSafeUpgrade"
        },
        "desiredIntraNodeVisibilityConfig": {
          "description": "The desired config of Intra-node visibility.",
          "$ref": "IntraNodeVisibilityConfig"
        },
        "desiredNotificationConfig": {
          "description": "The desired notification configuration.",
          "$ref": "NotificationConfig"
        },
        "desiredK8sBetaApis": {
          "description": "Desired Beta APIs to be enabled for cluster.",
          "$ref": "K8sBetaAPIConfig"
        },
        "desiredControlPlaneEgress": {
          "description": "The desired control plane egress control config for the cluster.",
          "$ref": "ControlPlaneEgress"
        },
        "desiredEnableMultiNetworking": {
          "description": "Enable/Disable Multi-Networking for the cluster",
          "type": "boolean"
        },
        "desiredDefaultSnatStatus": {
          "description": "The desired status of whether to disable default sNAT for this cluster.",
          "$ref": "DefaultSnatStatus"
        },
        "desiredEnablePrivateEndpoint": {
          "type": "boolean",
          "description": "Enable/Disable private endpoint for the cluster's master. Deprecated: Use desired_control_plane_endpoints_config.ip_endpoints_config.enable_public_endpoint instead. Note that the value of enable_public_endpoint is reversed: if enable_private_endpoint is false, then enable_public_endpoint will be true.",
          "deprecated": true
        },
        "desiredFleet": {
          "description": "The desired fleet configuration for the cluster.",
          "$ref": "Fleet"
        },
        "desiredSecurityPostureConfig": {
          "description": "Enable/Disable Security Posture API features for the cluster.",
          "$ref": "SecurityPostureConfig"
        },
        "desiredNodePoolAutoConfigNetworkTags": {
          "description": "The desired network tags that apply to all auto-provisioned node pools in autopilot clusters and node auto-provisioning enabled clusters.",
          "$ref": "NetworkTags"
        },
        "desiredDatapathProvider": {
          "description": "The desired datapath provider for the cluster.",
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Use the IPTables implementation based on kube-proxy.",
            "Use the eBPF based GKE Dataplane V2 with additional features. See the [GKE Dataplane V2 documentation](https://cloud.google.com/kubernetes-engine/docs/how-to/dataplane-v2) for more."
          ],
          "enum": [
            "DATAPATH_PROVIDER_UNSPECIFIED",
            "LEGACY_DATAPATH",
            "ADVANCED_DATAPATH"
          ]
        }
      },
      "id": "ClusterUpdate"
    },
    "DedicatedLocalSsdProfile": {
      "id": "DedicatedLocalSsdProfile",
      "type": "object",
      "properties": {
        "diskCount": {
          "description": "The number of physical local NVMe SSD disks to attach.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Provisions a new, separate local NVMe SSD exclusively for swap."
    },
    "ListClustersResponse": {
      "description": "ListClustersResponse is the result of ListClustersRequest.",
      "id": "ListClustersResponse",
      "type": "object",
      "properties": {
        "missingZones": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "If any zones are listed here, the list of clusters returned may be missing those zones."
        },
        "clusters": {
          "type": "array",
          "items": {
            "$ref": "Cluster"
          },
          "description": "A list of clusters in the project in the specified zone, or across all ones."
        }
      }
    },
    "SlurmOperatorConfig": {
      "type": "object",
      "properties": {
        "enabled": {
          "description": "When enabled, it runs a Slurm Operator that manages the set of compute pods for Slurm Cluster.",
          "type": "boolean"
        }
      },
      "id": "SlurmOperatorConfig",
      "description": "Configuration for the Slurm Operator."
    },
    "OperationError": {
      "id": "OperationError",
      "type": "object",
      "properties": {
        "keyName": {
          "description": "CloudKMS key resource that had the error.",
          "type": "string"
        },
        "timestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time when the CloudKMS error was seen."
        },
        "errorMessage": {
          "description": "Description of the error seen during the operation.",
          "type": "string"
        }
      },
      "description": "OperationError records errors seen from CloudKMS keys encountered during updates to DatabaseEncryption configuration."
    },
    "BootDisk": {
      "description": "BootDisk specifies the boot disk configuration for node pools.",
      "type": "object",
      "properties": {
        "diskType": {
          "description": "Disk type of the boot disk. (i.e. Hyperdisk-Balanced, PD-Balanced, etc.)",
          "type": "string"
        },
        "sizeGb": {
          "description": "Disk size in GB. Replaces NodeConfig.disk_size_gb",
          "type": "string",
          "format": "int64"
        },
        "provisionedThroughput": {
          "description": "For Hyperdisk-Balanced only, the provisioned throughput config value.",
          "type": "string",
          "format": "int64"
        },
        "provisionedIops": {
          "type": "string",
          "format": "int64",
          "description": "For Hyperdisk-Balanced only, the provisioned IOPS config value."
        }
      },
      "id": "BootDisk"
    },
    "AutoUpgradeOptions": {
      "type": "object",
      "properties": {
        "description": {
          "description": "Output only. This field is set when upgrades are about to commence with the description of the upgrade.",
          "readOnly": true,
          "type": "string"
        },
        "autoUpgradeStartTime": {
          "type": "string",
          "description": "Output only. This field is set when upgrades are about to commence with the approximate start time for the upgrades, in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format.",
          "readOnly": true
        }
      },
      "id": "AutoUpgradeOptions",
      "description": "AutoUpgradeOptions defines the set of options for the user to control how the Auto Upgrades will proceed."
    },
    "SandboxConfig": {
      "id": "SandboxConfig",
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "UNSPECIFIED",
            "GVISOR"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This should not be used.",
            "Run sandbox using gvisor."
          ],
          "description": "Type of the sandbox to use for the node."
        }
      },
      "description": "SandboxConfig contains configurations of the sandbox to use for the node."
    },
    "GcpFilestoreCsiDriverConfig": {
      "id": "GcpFilestoreCsiDriverConfig",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Whether the Filestore CSI driver is enabled for this cluster.",
          "type": "boolean"
        }
      },
      "description": "Configuration for the Filestore CSI driver."
    },
    "SetLegacyAbacRequest": {
      "description": "SetLegacyAbacRequest enables or disables the ABAC authorization mechanism for a cluster.",
      "id": "SetLegacyAbacRequest",
      "type": "object",
      "properties": {
        "clusterId": {
          "type": "string",
          "description": "Deprecated. The name of the cluster to update. This field has been deprecated and replaced by the name field.",
          "deprecated": true
        },
        "projectId": {
          "type": "string",
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
          "deprecated": true
        },
        "name": {
          "description": "The name (project, location, cluster name) of the cluster to set legacy abac. Specified in the format `projects/*/locations/*/clusters/*`.",
          "type": "string"
        },
        "zone": {
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
          "deprecated": true,
          "type": "string"
        },
        "enabled": {
          "description": "Required. Whether ABAC authorization will be enabled in the cluster.",
          "type": "boolean"
        }
      }
    },
    "LoggingVariantConfig": {
      "type": "object",
      "properties": {
        "variant": {
          "description": "Logging variant deployed on nodes.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This shouldn't be used.",
            "default logging variant.",
            "maximum logging throughput variant."
          ],
          "enum": [
            "VARIANT_UNSPECIFIED",
            "DEFAULT",
            "MAX_THROUGHPUT"
          ]
        }
      },
      "id": "LoggingVariantConfig",
      "description": "LoggingVariantConfig specifies the behaviour of the logging component."
    },
    "WritableCgroups": {
      "description": "Defines writable cgroups configuration.",
      "id": "WritableCgroups",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Optional. Whether writable cgroups is enabled.",
          "type": "boolean"
        }
      }
    },
    "AutoscaledRolloutPolicy": {
      "description": "Autoscaled rollout policy utilizes the cluster autoscaler during blue-green upgrade to scale both the blue and green pools.",
      "type": "object",
      "properties": {
        "waitForDrainDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. Time to wait after cordoning the blue pool before draining the nodes. Defaults to 3 days. The value can be set between 0 and 7 days, inclusive."
        }
      },
      "id": "AutoscaledRolloutPolicy"
    },
    "UsableSubnetwork": {
      "type": "object",
      "properties": {
        "network": {
          "description": "Network Name. Example: projects/my-project/global/networks/my-network",
          "type": "string"
        },
        "secondaryIpRanges": {
          "description": "Secondary IP ranges.",
          "type": "array",
          "items": {
            "$ref": "UsableSubnetworkSecondaryRange"
          }
        },
        "statusMessage": {
          "description": "A human readable status message representing the reasons for cases where the caller cannot use the secondary ranges under the subnet. For example if the secondary_ip_ranges is empty due to a permission issue, an insufficient permission message will be given by status_message.",
          "type": "string"
        },
        "ipCidrRange": {
          "description": "The range of internal addresses that are owned by this subnetwork.",
          "type": "string"
        },
        "subnetwork": {
          "description": "Subnetwork Name. Example: projects/my-project/regions/us-central1/subnetworks/my-subnet",
          "type": "string"
        }
      },
      "id": "UsableSubnetwork",
      "description": "UsableSubnetwork resource returns the subnetwork name, its associated network and the primary CIDR range."
    },
    "EvictionSignals": {
      "type": "object",
      "properties": {
        "nodefsAvailable": {
          "description": "Optional. Amount of storage available on filesystem that kubelet uses for volumes, daemon logs, etc. Defines the amount of \"nodefs.available\" signal in kubelet. Default is unset, if not specified in the kubelet config. It takses percentage value for now. Sample format: \"30%\". Must be >= 10% and <= 50%. See https://kubernetes.io/docs/concepts/scheduling-eviction/node-pressure-eviction/#eviction-signals",
          "type": "string"
        },
        "imagefsAvailable": {
          "description": "Optional. Amount of storage available on filesystem that container runtime uses for storing images layers. If the container filesystem and image filesystem are not separate, then imagefs can store both image layers and writeable layers. Defines the amount of \"imagefs.available\" signal in kubelet. Default is unset, if not specified in the kubelet config. It takses percentage value for now. Sample format: \"30%\". Must be >= 15% and <= 50%. See https://kubernetes.io/docs/concepts/scheduling-eviction/node-pressure-eviction/#eviction-signals",
          "type": "string"
        },
        "nodefsInodesFree": {
          "description": "Optional. Amount of inodes available on filesystem that kubelet uses for volumes, daemon logs, etc. Defines the amount of \"nodefs.inodesFree\" signal in kubelet. Default is unset, if not specified in the kubelet config. Linux only. It takses percentage value for now. Sample format: \"30%\". Must be >= 5% and <= 50%. See https://kubernetes.io/docs/concepts/scheduling-eviction/node-pressure-eviction/#eviction-signals",
          "type": "string"
        },
        "imagefsInodesFree": {
          "description": "Optional. Amount of inodes available on filesystem that container runtime uses for storing images layers. Defines the amount of \"imagefs.inodesFree\" signal in kubelet. Default is unset, if not specified in the kubelet config. Linux only. It takses percentage value for now. Sample format: \"30%\". Must be >= 5% and <= 50%. See https://kubernetes.io/docs/concepts/scheduling-eviction/node-pressure-eviction/#eviction-signals",
          "type": "string"
        },
        "pidAvailable": {
          "description": "Optional. Amount of PID available for pod allocation. Defines the amount of \"pid.available\" signal in kubelet. Default is unset, if not specified in the kubelet config. It takses percentage value for now. Sample format: \"30%\". Must be >= 10% and <= 50%. See https://kubernetes.io/docs/concepts/scheduling-eviction/node-pressure-eviction/#eviction-signals",
          "type": "string"
        },
        "memoryAvailable": {
          "description": "Optional. Memory available (i.e. capacity - workingSet), in bytes. Defines the amount of \"memory.available\" signal in kubelet. Default is unset, if not specified in the kubelet config. Format: positive number + unit, e.g. 100Ki, 10Mi, 5Gi. Valid units are Ki, Mi, Gi. Must be >= 100Mi and <= 50% of the node's memory. See https://kubernetes.io/docs/concepts/scheduling-eviction/node-pressure-eviction/#eviction-signals",
          "type": "string"
        }
      },
      "id": "EvictionSignals",
      "description": "Eviction signals are the current state of a particular resource at a specific point in time. The kubelet uses eviction signals to make eviction decisions by comparing the signals to eviction thresholds, which are the minimum amount of the resource that should be available on the node."
    },
    "BlueGreenInfo": {
      "id": "BlueGreenInfo",
      "type": "object",
      "properties": {
        "blueInstanceGroupUrls": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The resource URLs of the [managed instance groups] (/compute/docs/instance-groups/creating-groups-of-managed-instances) associated with blue pool."
        },
        "greenPoolVersion": {
          "description": "Version of green pool.",
          "type": "string"
        },
        "greenInstanceGroupUrls": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The resource URLs of the [managed instance groups] (/compute/docs/instance-groups/creating-groups-of-managed-instances) associated with green pool."
        },
        "phase": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified phase.",
            "blue-green upgrade has been initiated.",
            "Start creating green pool nodes.",
            "Start cordoning blue pool nodes.",
            "Start draining blue pool nodes.",
            "Start soaking time after draining entire blue pool.",
            "Start deleting blue nodes.",
            "Rollback has been initiated."
          ],
          "enum": [
            "PHASE_UNSPECIFIED",
            "UPDATE_STARTED",
            "CREATING_GREEN_POOL",
            "CORDONING_BLUE_POOL",
            "DRAINING_BLUE_POOL",
            "NODE_POOL_SOAKING",
            "DELETING_BLUE_POOL",
            "ROLLBACK_STARTED"
          ],
          "description": "Current blue-green upgrade phase."
        },
        "bluePoolDeletionStartTime": {
          "description": "Time to start deleting blue pool to complete blue-green upgrade, in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format.",
          "type": "string"
        }
      },
      "description": "Information relevant to blue-green upgrade."
    },
    "AddonsConfig": {
      "id": "AddonsConfig",
      "type": "object",
      "properties": {
        "gkeBackupAgentConfig": {
          "description": "Configuration for the Backup for GKE agent addon.",
          "$ref": "GkeBackupAgentConfig"
        },
        "lustreCsiDriverConfig": {
          "description": "Configuration for the Lustre CSI driver.",
          "$ref": "LustreCsiDriverConfig"
        },
        "kubernetesDashboard": {
          "description": "Configuration for the Kubernetes Dashboard. This addon is deprecated, and will be disabled in 1.15. It is recommended to use the Cloud Console to manage and monitor your Kubernetes clusters, workloads and applications. For more information, see: https://cloud.google.com/kubernetes-engine/docs/concepts/dashboards",
          "deprecated": true,
          "$ref": "KubernetesDashboard"
        },
        "gcePersistentDiskCsiDriverConfig": {
          "description": "Configuration for the Compute Engine Persistent Disk CSI driver.",
          "$ref": "GcePersistentDiskCsiDriverConfig"
        },
        "highScaleCheckpointingConfig": {
          "description": "Configuration for the High Scale Checkpointing add-on.",
          "$ref": "HighScaleCheckpointingConfig"
        },
        "horizontalPodAutoscaling": {
[...]
