{
  "baseUrl": "https://containeranalysis.googleapis.com/",
  "servicePath": "",
  "version": "v1beta1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "basePath": "",
  "documentationLink": "https://cloud.google.com/container-analysis/api/reference/rest/",
  "discoveryVersion": "v1",
  "schemas": {
    "ContaineranalysisGoogleDevtoolsCloudbuildV1BuildStep": {
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1BuildStep",
      "type": "object",
      "properties": {
        "allowExitCodes": {
          "description": "Allow this build step to fail without failing the entire build if and only if the exit code is one of the specified codes. If allow_failure is also specified, this field will take precedence.",
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "entrypoint": {
          "description": "Entrypoint to be used instead of the build step image's default entrypoint. If unset, the image's default entrypoint is used.",
          "type": "string"
        },
        "dir": {
          "description": "Working directory to use when running this step's container. If this value is a relative path, it is relative to the build's working directory. If this value is absolute, it may be outside the build's working directory, in which case the contents of the path may not be persisted across build step executions, unless a `volume` for that path is specified. If the build specifies a `RepoSource` with `dir` and a step with a `dir`, which specifies an absolute path, the `RepoSource` `dir` is ignored for the step's execution.",
          "type": "string"
        },
        "results": {
          "description": "Declaration of results for this build step.",
          "items": {
            "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1StepResult"
          },
          "type": "array"
        },
        "args": {
          "type": "array",
          "description": "A list of arguments that will be presented to the step when it is started. If the image used to run the step's container has an entrypoint, the `args` are used as arguments to that entrypoint. If the image does not define an entrypoint, the first element in args is used as the entrypoint, and the remainder will be used as arguments.",
          "items": {
            "type": "string"
          }
        },
        "secretEnv": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of environment variables which are encrypted using a Cloud Key Management Service crypto key. These values must be specified in the build's `Secret`."
        },
        "status": {
          "type": "string",
          "enum": [
            "STATUS_UNKNOWN",
            "PENDING",
            "QUEUED",
            "WORKING",
            "SUCCESS",
            "FAILURE",
            "INTERNAL_ERROR",
            "TIMEOUT",
            "CANCELLED",
            "EXPIRED"
          ],
          "enumDescriptions": [
            "Status of the build is unknown.",
            "Build has been created and is pending execution and queuing. It has not been queued.",
            "Build or step is queued; work has not yet begun.",
            "Build or step is being executed.",
            "Build or step finished successfully.",
            "Build or step failed to complete successfully.",
            "Build or step failed due to an internal cause.",
            "Build or step took longer than was allowed.",
            "Build or step was canceled by a user.",
            "Build was enqueued for longer than the value of `queue_ttl`."
          ],
          "readOnly": true,
          "description": "Output only. Status of the build step. At this time, build step status is only updated on build completion; step status is not updated in real-time as the build progresses."
        },
        "volumes": {
          "description": "List of volumes to mount into the build step. Each volume is created as an empty volume prior to execution of the build step. Upon completion of the build, volumes and their contents are discarded. Using a named volume in only one step is not valid as it is indicative of a build request with an incorrect configuration.",
          "items": {
            "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1Volume"
          },
          "type": "array"
        },
        "timeout": {
          "type": "string",
          "format": "google-duration",
          "description": "Time limit for executing this build step. If not defined, the step has no time limit and will be allowed to continue to run until either it completes or the build itself times out."
        },
        "allowFailure": {
          "type": "boolean",
          "description": "Allow this build step to fail without failing the entire build. If false, the entire build will fail if this step fails. Otherwise, the build will succeed, but this step will still have a failure status. Error information will be reported in the failure_detail field."
        },
        "timing": {
          "readOnly": true,
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1TimeSpan",
          "description": "Output only. Stores timing information for executing this build step."
        },
        "waitFor": {
          "items": {
            "type": "string"
          },
          "description": "The ID(s) of the step(s) that this build step depends on. This build step will not start until all the build steps in `wait_for` have completed successfully. If `wait_for` is empty, this build step will start when all previous build steps in the `Build.Steps` list have completed successfully.",
          "type": "array"
        },
        "automapSubstitutions": {
          "description": "Option to include built-in and custom substitutions as env variables for this build step. This option will override the global option in BuildOption.",
          "type": "boolean"
        },
        "id": {
          "description": "Unique identifier for this build step, used in `wait_for` to reference this build step as a dependency.",
          "type": "string"
        },
        "env": {
          "description": "A list of environment variable definitions to be used when running a step. The elements are of the form \"KEY=VALUE\" for the environment variable \"KEY\" being given the value \"VALUE\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "pullTiming": {
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1TimeSpan",
          "description": "Output only. Stores timing information for pulling this build step's builder image only.",
          "readOnly": true
        },
        "name": {
          "description": "Required. The name of the container image that will run this particular build step. If the image is available in the host's Docker daemon's cache, it will be run directly. If not, the host will attempt to pull the image first, using the builder service account's credentials if necessary. The Docker daemon's cache will already have the latest versions of all of the officially supported build steps ([https://github.com/GoogleCloudPlatform/cloud-builders](https://github.com/GoogleCloudPlatform/cloud-builders)). The Docker daemon will also have cached many of the layers for some popular images, like \"ubuntu\", \"debian\", but they will be refreshed at the time you attempt to use them. If you built an image in a previous build step, it will be stored in the host's Docker daemon's cache and is available to use as the name for a later build step.",
          "type": "string"
        },
        "exitCode": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. Return code from running the step.",
          "readOnly": true
        },
        "script": {
          "type": "string",
          "description": "A shell script to be executed in the step. When script is provided, the user cannot specify the entrypoint or args."
        }
      },
      "description": "A step in the build pipeline."
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1StepResult": {
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1StepResult",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The name of the result.",
          "type": "string"
        },
        "attestationType": {
          "description": "Optional. The type of attestation to be generated.",
          "type": "string"
        },
        "attestationContent": {
          "description": "Optional. The content of the attestation to be generated.",
          "type": "string"
        }
      },
      "description": "StepResult is the declaration of a result for a build step."
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1BuildResourceUsage": {
      "description": "Aggregated/summary metrics over the entire build lifecycle.",
      "properties": {
        "averageCpuUtilization": {
          "type": "number",
          "readOnly": true,
          "description": "Output only. The average CPU utilization ratio across all vCPUs over the duration of the build, expressed as a fraction in the range [0.0, 1.0].",
          "format": "float"
        },
        "totalCpuDuration": {
          "description": "Output only. Total CPU execution time consumed across all cores during build execution.",
          "type": "string",
          "format": "google-duration",
          "readOnly": true
        },
        "peakCpuUtilization": {
          "readOnly": true,
          "type": "number",
          "format": "float",
          "description": "Output only. The highest CPU utilization ratio across all vCPUs observed over the duration of the build, expressed as a fraction in the range [0.0, 1.0]."
        },
        "peakMemoryUtilization": {
          "readOnly": true,
          "type": "number",
          "description": "Output only. The highest memory utilization ratio observed over the duration of the build, expressed as a fraction in the range [0.0, 1.0].",
          "format": "float"
        },
        "averageMemoryUtilization": {
          "description": "Output only. The average memory utilization ratio over the duration of the build, expressed as a fraction in the range [0.0, 1.0].",
          "readOnly": true,
          "format": "float",
          "type": "number"
        }
      },
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1BuildResourceUsage",
      "type": "object"
    },
    "Version": {
      "description": "Version contains structured information about the version of a package.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Required. Distinguishes between sentinel MIN/MAX versions and normal versions.",
          "enum": [
            "VERSION_KIND_UNSPECIFIED",
            "NORMAL",
            "MINIMUM",
            "MAXIMUM"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "A standard package version.",
            "A special version representing negative infinity.",
            "A special version representing positive infinity."
          ]
        },
        "epoch": {
          "description": "Used to correct mistakes in the version numbering scheme.",
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "description": "Required only when version kind is NORMAL. The main part of the version name.",
          "type": "string"
        },
        "revision": {
          "description": "The iteration of the package build from the above version.",
          "type": "string"
        },
        "inclusive": {
          "description": "Whether this version is specifying part of an inclusive range. Grafeas does not have the capability to specify version ranges; instead we have fields that specify start version and end versions. At times this is insufficient - we also need to specify whether the version is included in the range or is excluded from the range. This boolean is expected to be set to true when the version is included in a range.",
          "type": "boolean"
        }
      },
      "id": "Version"
    },
    "Link": {
      "id": "Link",
      "type": "object",
      "description": "This corresponds to an in-toto link.",
      "properties": {
        "byproducts": {
          "description": "ByProducts are data generated as part of a software supply chain step, but are not the actual result of the step.",
          "$ref": "ByProducts"
        },
        "command": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "This field contains the full command executed for the step. This can also be empty if links are generated for operations that aren't directly mapped to a specific command. Each term in the command is an independent string in the list. An example of a command in the in-toto metadata field is: \"command\": [\"git\", \"clone\", \"https://github.com/in-toto/demo-project.git\"]"
        },
        "environment": {
          "$ref": "Environment",
          "description": "This is a field that can be used to capture information about the environment. It is suggested for this field to contain information that details environment variables, filesystem information, and the present working directory. The recommended structure of this field is: \"environment\": { \"custom_values\": { \"variables\": \"\", \"filesystem\": \"\", \"workdir\": \"\", \"\": \"...\" } }"
        },
        "materials": {
          "type": "array",
          "items": {
            "$ref": "GrafeasV1beta1IntotoArtifact"
          },
          "description": "Materials are the supply chain artifacts that go into the step and are used for the operation performed. The key of the map is the path of the artifact and the structure contains the recorded hash information. An example is: \"materials\": [ { \"resource_uri\": \"foo/bar\", \"hashes\": { \"sha256\": \"ebebf...\", : } } ]"
        },
        "products": {
          "type": "array",
          "description": "Products are the supply chain artifacts generated as a result of the step. The structure is identical to that of materials.",
          "items": {
            "$ref": "GrafeasV1beta1IntotoArtifact"
          }
        }
      }
    },
    "Publisher": {
      "id": "Publisher",
      "properties": {
        "name": {
          "description": "Name of the publisher. Examples: 'Google', 'Google Cloud Platform'.",
          "type": "string"
        },
        "issuingAuthority": {
          "type": "string",
          "description": "Provides information about the authority of the issuing party to release the document, in particular, the party's constituency and responsibilities or other obligations."
        },
        "publisherNamespace": {
          "type": "string",
          "description": "The context or namespace. Contains a URL which is under control of the issuing party and can be used as a globally unique identifier for that issuing party. Example: https://csaf.io"
        }
      },
      "type": "object",
      "description": "Publisher contains information about the publisher of this Note."
    },
    "Occurrence": {
      "type": "object",
      "id": "Occurrence",
      "description": "An instance of an analysis type that has been found on a resource.",
      "properties": {
        "sbom": {
          "$ref": "DocumentOccurrence",
          "description": "Describes a specific software bill of materials document."
        },
        "resource": {
          "description": "Required. Immutable. The resource for which the occurrence applies.",
          "$ref": "Resource"
        },
        "remediation": {
          "description": "A description of actions that can be taken to remedy the note.",
          "type": "string"
        },
        "intoto": {
          "$ref": "GrafeasV1beta1IntotoDetails",
          "description": "Describes a specific in-toto link."
        },
        "attestation": {
          "description": "Describes an attestation of an artifact.",
          "$ref": "Details"
        },
        "name": {
          "type": "string",
          "description": "Output only. The name of the occurrence in the form of `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]`."
        },
        "installation": {
          "description": "Describes the installation of a package on the linked resource.",
          "$ref": "GrafeasV1beta1PackageDetails"
        },
        "deployment": {
          "description": "Describes the deployment of an artifact on a runtime.",
          "$ref": "GrafeasV1beta1DeploymentDetails"
        },
        "secret": {
          "$ref": "SecretOccurrence",
          "description": "Describes a secret."
        },
        "createTime": {
          "description": "Output only. The time this occurrence was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "discovered": {
          "description": "Describes when a resource was discovered.",
          "$ref": "GrafeasV1beta1DiscoveryDetails"
        },
        "spdxRelationship": {
          "description": "Describes a specific SPDX Relationship.",
          "$ref": "RelationshipOccurrence"
        },
        "spdxPackage": {
          "description": "Describes a specific SPDX Package.",
          "$ref": "PackageInfoOccurrence"
        },
        "kind": {
          "description": "Output only. This explicitly denotes which of the occurrence details are specified. This field can be used as a filter in list requests.",
          "type": "string",
          "enum": [
            "NOTE_KIND_UNSPECIFIED",
            "VULNERABILITY",
            "BUILD",
            "IMAGE",
            "PACKAGE",
            "DEPLOYMENT",
            "DISCOVERY",
            "ATTESTATION",
            "INTOTO",
            "SBOM",
            "SPDX_PACKAGE",
            "SPDX_FILE",
            "SPDX_RELATIONSHIP",
            "VULNERABILITY_ASSESSMENT",
            "SBOM_REFERENCE",
            "SECRET",
            "AI_SKILL_ANALYSIS"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The note and occurrence represent a package vulnerability.",
            "The note and occurrence assert build provenance.",
            "This represents an image basis relationship.",
            "This represents a package installed via a package manager.",
            "The note and occurrence track deployment events.",
            "The note and occurrence track the initial discovery status of a resource.",
            "This represents a logical \"role\" that can attest to artifacts.",
            "This represents an in-toto link.",
            "This represents a software bill of materials.",
            "This represents an SPDX Package.",
            "This represents an SPDX File.",
            "This represents an SPDX Relationship.",
            "This represents a Vulnerability Assessment.",
            "This represents an SBOM Reference.",
            "This represents a secret.",
            "This represents an AI skill analysis."
          ]
        },
        "derivedImage": {
          "description": "Describes how this resource derives from the basis in the associated note.",
          "$ref": "GrafeasV1beta1ImageDetails"
        },
        "aiSkillAnalysis": {
          "$ref": "AISkillAnalysisOccurrence",
          "description": "Describes a specific AI Skill Analysis occurrence."
        },
        "sbomReference": {
          "$ref": "SBOMReferenceOccurrence",
          "description": "Describes a specific SBOM reference occurrences."
        },
        "spdxFile": {
          "description": "Describes a specific SPDX File.",
          "$ref": "FileOccurrence"
        },
        "vulnerability": {
          "$ref": "GrafeasV1beta1VulnerabilityDetails",
          "description": "Describes a security vulnerability."
        },
        "noteName": {
          "description": "Required. Immutable. The analysis note associated with this occurrence, in the form of `projects/[PROVIDER_ID]/notes/[NOTE_ID]`. This field can be used as a filter in list requests.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time this occurrence was last updated."
        },
        "envelope": {
          "description": "https://github.com/secure-systems-lab/dsse",
          "$ref": "Envelope"
        },
        "build": {
          "description": "Describes a verifiable build.",
          "$ref": "GrafeasV1beta1BuildDetails"
        }
      }
    },
    "ListNotesResponse": {
      "type": "object",
      "description": "Response for listing notes.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The next pagination token in the list response. It should be used as `page_token` for the following request. An empty value means no more results."
        },
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Unreachable regions. Populated for requests from the global region when `return_partial_success` is set. Format: `projects/[PROJECT_ID]/locations/[LOCATION]`",
          "items": {
            "type": "string"
          }
        },
        "notes": {
          "type": "array",
          "items": {
            "$ref": "Note"
          },
          "description": "The notes requested."
        }
      },
      "id": "ListNotesResponse"
    },
    "Vulnerability": {
      "properties": {
        "cvssVersion": {
          "description": "CVSS version used to populate cvss_score and severity.",
          "enumDescriptions": [
            "Unspecified.",
            "CVSS v2.",
            "CVSS v3.",
            "CVSS v4."
          ],
          "enum": [
            "CVSS_VERSION_UNSPECIFIED",
            "CVSS_VERSION_2",
            "CVSS_VERSION_3",
            "CVSS_VERSION_4"
          ],
          "type": "string"
        },
        "details": {
          "type": "array",
          "description": "All information about the package to specifically identify this vulnerability. One entry per (version range and cpe_uri) the package vulnerability has manifested in.",
          "items": {
            "$ref": "Detail"
          }
        },
        "cvssScore": {
          "type": "number",
          "description": "The CVSS score for this vulnerability.",
          "format": "float"
        },
        "windowsDetails": {
          "items": {
            "$ref": "WindowsDetail"
          },
          "description": "Windows details get their own format because the information format and model don't match a normal detail. Specifically Windows updates are done as patches, thus Windows vulnerabilities really are a missing package, rather than a package being at an incorrect version.",
          "type": "array"
        },
        "cvssV3": {
          "description": "The full description of the CVSS for version 3.",
          "$ref": "CVSSv3"
        },
        "cvssV2": {
          "description": "The full description of the CVSS for version 2.",
          "$ref": "CVSS"
        },
        "sourceUpdateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time this information was last changed at the source. This is an upstream timestamp from the underlying information source - e.g. Ubuntu security tracker."
        },
        "severity": {
          "enumDescriptions": [
            "Unknown.",
            "Minimal severity.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity."
          ],
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "MINIMAL",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "description": "Note provider assigned impact of the vulnerability."
        },
        "cvssV4": {
          "description": "The full description of the CVSS for version 4.",
          "$ref": "CVSS"
        },
        "cwe": {
          "description": "A list of CWE for this vulnerability. For details, see: https://cwe.mitre.org/index.html",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "advisoryPublishTime": {
          "description": "The time this advisory was published by the source.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "Vulnerability provides metadata about a security vulnerability in a Note.",
      "id": "Vulnerability",
      "type": "object"
    },
    "Command": {
      "type": "object",
      "id": "Command",
      "description": "Command describes a step performed as part of the build pipeline.",
      "properties": {
        "dir": {
          "type": "string",
          "description": "Working directory (relative to project source root) used when running this command."
        },
        "args": {
          "description": "Command-line arguments used when executing this command.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "env": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Environment variables set before running this command."
        },
        "waitFor": {
          "description": "The ID(s) of the command(s) that this command depends on.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Required. Name of the command, as presented on the command line, or if the command is packaged as a Docker container, as presented to `docker pull`."
        },
        "id": {
          "description": "Optional unique identifier for this command, used in wait_for to reference this command as a dependency.",
          "type": "string"
        }
      }
    },
    "GrafeasV1beta1DeploymentDetails": {
      "type": "object",
      "properties": {
        "deployment": {
          "$ref": "Deployment",
          "description": "Required. Deployment history for the resource."
        }
      },
      "id": "GrafeasV1beta1DeploymentDetails",
      "description": "Details of a deployment occurrence."
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "id": "Status",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      }
    },
    "MalwareScanResult": {
      "type": "object",
      "id": "MalwareScanResult",
      "properties": {
        "verdict": {
          "enum": [
            "VERDICT_UNSPECIFIED",
            "PASSED",
            "FAILED"
          ],
          "enumDescriptions": [
            "Unspecified verdict.",
            "Scanner passed.",
            "Scanner failed."
          ],
          "description": "Verdict of the scan.",
          "type": "string"
        },
        "scanStatus": {
          "type": "string",
          "description": "Status of the scan.",
          "enum": [
            "SCAN_STATUS_UNSPECIFIED",
            "PERFORMED",
            "NOT_PERFORMED"
          ],
          "enumDescriptions": [
            "Unspecified scan status.",
            "Scan was performed.",
            "Scan was not performed."
          ]
        }
      },
      "description": "Result of Malware scan."
    },
    "BuildMetadata": {
      "id": "BuildMetadata",
      "properties": {
        "finishedOn": {
          "type": "string",
          "format": "google-datetime"
        },
        "startedOn": {
          "type": "string",
          "format": "google-datetime"
        },
        "invocationId": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Package": {
      "description": "Package represents a particular package version.",
      "id": "Package",
      "type": "object",
      "properties": {
        "packageType": {
          "description": "The type of package; whether native or non native (e.g., ruby gems, node.js packages, etc.).",
          "type": "string"
        },
        "url": {
          "type": "string",
          "description": "The homepage for this package."
        },
        "digest": {
          "items": {
            "$ref": "Digest"
          },
          "description": "Hash value, typically a file digest, that allows unique identification a specific package.",
          "type": "array"
        },
        "distribution": {
          "items": {
            "$ref": "Distribution"
          },
          "type": "array",
          "description": "The various channels by which a package is distributed."
        },
        "architecture": {
          "description": "The CPU architecture for which packages in this distribution channel were built. Architecture will be blank for language packages.",
          "enum": [
            "ARCHITECTURE_UNSPECIFIED",
            "X86",
            "X64"
          ],
          "enumDescriptions": [
            "Unknown architecture.",
            "X86 architecture.",
            "X64 architecture."
          ],
          "type": "string"
        },
        "maintainer": {
          "type": "string",
          "description": "A freeform text denoting the maintainer of this package."
        },
        "license": {
          "$ref": "License",
          "description": "Licenses that have been declared by the authors of the package."
        },
        "description": {
          "description": "The description of this package.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. Immutable. The name of the package."
        },
        "cpeUri": {
          "description": "The cpe_uri in [CPE format](https://cpe.mitre.org/specification/) denoting the package manager version distributing a package. The cpe_uri will be blank for language packages.",
          "type": "string"
        },
        "version": {
          "description": "The version of the package.",
          "$ref": "Version"
        }
      }
    },
    "VulnerabilityLocation": {
      "type": "object",
      "id": "VulnerabilityLocation",
      "properties": {
        "version": {
          "$ref": "Version",
          "description": "Required. The version of the package being described."
        },
        "cpeUri": {
          "type": "string",
          "description": "Required. The CPE URI in [cpe format](https://cpe.mitre.org/specification/) format. Examples include distro or storage location for vulnerable jar."
        },
        "package": {
          "description": "Required. The package being described.",
          "type": "string"
        }
      },
      "description": "The location of the vulnerability."
    },
    "TokenUsage": {
      "description": "Token usage associated with an AI scan.",
      "properties": {
        "candidateCount": {
          "type": "string",
          "format": "int64",
          "description": "Tokens in the model response."
        },
        "promptCount": {
          "type": "string",
          "format": "int64",
          "description": "Tokens in the user request."
        },
        "toolUsePromptCount": {
          "format": "int64",
          "type": "string",
          "description": "Prompt tokens for using tools."
        },
        "thinkingCount": {
          "format": "int64",
          "type": "string",
          "description": "Tokens in the thinking output."
        },
        "cacheCount": {
          "type": "string",
          "description": "Cache matched tokens for implicit cache.",
          "format": "int64"
        }
      },
      "id": "TokenUsage",
      "type": "object"
    },
    "BuildProvenance": {
      "description": "Provenance of a build. Contains all information needed to verify the full details about the build from source to completion.",
      "properties": {
        "builderVersion": {
          "type": "string",
          "description": "Version string of the builder at the time this build was executed."
        },
        "logsUri": {
          "type": "string",
          "description": "URI where any logs for this provenance were written."
        },
        "builtArtifacts": {
          "items": {
            "$ref": "Artifact"
          },
          "type": "array",
          "description": "Output of the build."
        },
        "triggerId": {
          "description": "Trigger identifier if the build was triggered automatically; empty if not.",
          "type": "string"
        },
        "sourceProvenance": {
          "$ref": "Source",
          "description": "Details of the Source input to the build."
        },
        "createTime": {
          "description": "Time at which the build was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "commands": {
          "items": {
            "$ref": "Command"
          },
          "type": "array",
          "description": "Commands requested by the build."
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time at which execution of the build was started."
        },
        "buildOptions": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Special options applied to this build. This is a catch-all field where build providers can enter any desired additional details."
        },
        "endTime": {
          "description": "Time at which execution of the build was finished.",
          "type": "string",
          "format": "google-datetime"
        },
        "creator": {
          "type": "string",
          "description": "E-mail address of the user who initiated this build. Note that this was the user's e-mail address at the time the build was initiated; this address may not represent the same end-user for all time."
        },
        "projectId": {
          "description": "ID of the project.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Required. Unique identifier of the build."
        }
      },
      "type": "object",
      "id": "BuildProvenance"
    },
    "Distribution": {
      "type": "object",
      "id": "Distribution",
      "description": "This represents a particular channel of distribution for a given package. E.g., Debian's jessie-backports dpkg mirror.",
      "properties": {
        "cpeUri": {
          "type": "string",
          "description": "Required. The cpe_uri in [CPE format](https://cpe.mitre.org/specification/) denoting the package manager version distributing a package."
        },
        "description": {
          "type": "string",
          "description": "The distribution channel-specific description of this package."
        },
        "maintainer": {
          "type": "string",
          "description": "A freeform string denoting the maintainer of this package."
        },
        "architecture": {
          "type": "string",
          "description": "The CPU architecture for which packages in this distribution channel were built.",
          "enum": [
            "ARCHITECTURE_UNSPECIFIED",
            "X86",
            "X64"
          ],
          "enumDescriptions": [
            "Unknown architecture.",
            "X86 architecture.",
            "X64 architecture."
          ]
        },
        "url": {
          "type": "string",
          "description": "The distribution channel-specific homepage for this package."
        },
        "latestVersion": {
          "$ref": "Version",
          "description": "The latest available version of this package in this distribution channel."
        }
      }
    },
    "WindowsDetail": {
      "properties": {
        "description": {
          "description": "The description of the vulnerability.",
          "type": "string"
        },
        "fixingKbs": {
          "items": {
            "$ref": "KnowledgeBase"
          },
          "description": "Required. The names of the KBs which have hotfixes to mitigate this vulnerability. Note that there may be multiple hotfixes (and thus multiple KBs) that mitigate a given vulnerability. Currently any listed kb's presence is considered a fix.",
          "type": "array"
        },
        "cpeUri": {
          "type": "string",
          "description": "Required. The CPE URI in [cpe format](https://cpe.mitre.org/specification/) in which the vulnerability manifests. Examples include distro or storage location for vulnerable jar."
        },
        "name": {
          "description": "Required. The name of the vulnerability.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "WindowsDetail"
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1BuildStepResults": {
      "description": "Results for a build step.",
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1BuildStepResults",
      "properties": {
        "results": {
          "description": "Results for a build step.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "Detail": {
      "description": "Identifies all appearances of this vulnerability in the package for a specific distro/location. For example: glibc in cpe:/o:debian:debian_linux:8 for versions 2.1 - 2.2",
      "properties": {
        "fixedLocation": {
          "description": "The fix for this specific package version.",
          "$ref": "VulnerabilityLocation"
        },
        "severityName": {
          "description": "The severity (eg: distro assigned severity) for this vulnerability.",
          "type": "string"
        },
        "description": {
          "description": "A vendor-specific description of this note.",
          "type": "string"
        },
        "isObsolete": {
          "description": "Whether this detail is obsolete. Occurrences are expected not to point to obsolete details.",
          "type": "boolean"
        },
        "cpeUri": {
          "description": "Required. The CPE URI in [cpe format](https://cpe.mitre.org/specification/) in which the vulnerability manifests. Examples include distro or storage location for vulnerable jar.",
          "type": "string"
        },
        "source": {
          "type": "string",
          "description": "The source from which the information in this Detail was obtained."
        },
        "sourceUpdateTime": {
          "type": "string",
          "description": "The time this information was last changed at the source. This is an upstream timestamp from the underlying information source - e.g. Ubuntu security tracker.",
          "format": "google-datetime"
        },
        "minAffectedVersion": {
          "$ref": "Version",
          "description": "The min version of the package in which the vulnerability exists."
        },
        "package": {
          "description": "Required. The name of the package where the vulnerability was found.",
          "type": "string"
        },
        "vendor": {
          "description": "The name of the vendor of the product.",
          "type": "string"
        },
        "maxAffectedVersion": {
          "$ref": "Version",
          "description": "The max version of the package in which the vulnerability exists."
        },
        "packageType": {
          "description": "The type of package; whether native or non native(ruby gems, node.js packages etc).",
          "type": "string"
        }
      },
      "id": "Detail",
      "type": "object"
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1GitSource": {
      "properties": {
        "revision": {
          "type": "string",
          "description": "Optional. The revision to fetch from the Git repository such as a branch, a tag, a commit SHA, or any Git ref. Cloud Build uses `git fetch` to fetch the revision from the Git repository; therefore make sure that the string you provide for `revision` is parsable by the command. For information on string values accepted by `git fetch`, see https://git-scm.com/docs/gitrevisions#_specifying_revisions. For information on `git fetch`, see https://git-scm.com/docs/git-fetch."
        },
        "url": {
          "type": "string",
          "description": "Required. Location of the Git repo to build. This will be used as a `git remote`, see https://git-scm.com/docs/git-remote."
        },
        "dir": {
          "type": "string",
          "description": "Optional. Directory, relative to the source root, in which to run the build. This must be a relative path. If a step's `dir` is specified and is an absolute path, this value is ignored for that step's execution."
        }
      },
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1GitSource",
      "description": "Location of the source in any accessible Git repository.",
      "type": "object"
    },
    "Binding": {
      "description": "Associates `members`, or principals, with a `role`.",
      "type": "object",
      "properties": {
        "members": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
        },
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        }
      },
      "id": "Binding"
    },
    "GerritSourceContext": {
      "id": "GerritSourceContext",
      "type": "object",
      "description": "A SourceContext referring to a Gerrit project.",
      "properties": {
        "gerritProject": {
          "description": "The full project name within the host. Projects may be nested, so \"project/subproject\" is a valid project name. The \"repo name\" is the hostURI/project.",
          "type": "string"
        },
        "hostUri": {
          "description": "The URI of a running Gerrit instance.",
          "type": "string"
        },
        "aliasContext": {
          "description": "An alias, which may be a branch or tag.",
          "$ref": "AliasContext"
        },
        "revisionId": {
          "type": "string",
          "description": "A revision (commit) ID."
        }
      }
    },
    "Finding": {
      "id": "Finding",
      "properties": {
        "details": {
          "type": "string",
          "description": "Description of the finding category."
        },
        "location": {
          "$ref": "FindingLocation",
          "description": "Location (path and line) where the finding was detected."
        },
        "scanner": {
          "enumDescriptions": [
            "Unspecified scanner.",
            "Static scanner.",
            "LLM scanner.",
            "WS_POLICY scanner.",
            "Google AntiVirus Service scanner."
          ],
          "type": "string",
          "description": "Scanner determines which engine (e.g. static, llm) emitted the finding.",
          "enum": [
            "SCANNER_UNSPECIFIED",
            "STATIC",
            "LLM",
            "WS_POLICY",
            "GOOGLE_ANTIVIRUS"
          ]
        },
        "category": {
          "description": "Category of the finding.",
          "type": "string"
        },
        "severity": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified severity.",
            "Critical severity.",
            "High severity."
          ],
          "description": "Severity of the finding.",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH"
          ]
        }
      },
      "type": "object",
      "description": "Finding provides details for a single finding within an AISkillAnalysisOccurrence."
    },
    "FixableTotalByDigest": {
      "id": "FixableTotalByDigest",
      "type": "object",
      "properties": {
        "totalCount": {
          "format": "int64",
          "description": "The total number of vulnerabilities associated with this resource.",
          "type": "string"
        },
        "severity": {
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "MINIMAL",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "enumDescriptions": [
            "Unknown.",
            "Minimal severity.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity."
          ],
          "description": "The severity for this count. SEVERITY_UNSPECIFIED indicates total across all severities."
        },
        "resource": {
          "$ref": "Resource",
          "description": "The affected resource."
        },
        "fixableCount": {
          "format": "int64",
          "type": "string",
          "description": "The number of fixable vulnerabilities associated with this resource."
        }
      },
      "description": "Per resource and severity counts of fixable and total vulnerabilities."
    },
    "BatchCreateNotesResponse": {
      "properties": {
        "notes": {
          "type": "array",
          "items": {
            "$ref": "Note"
          },
          "description": "The notes that were created."
        }
      },
      "type": "object",
      "id": "BatchCreateNotesResponse",
      "description": "Response for creating notes in batch."
    },
    "RepoId": {
      "id": "RepoId",
      "description": "A unique identifier for a Cloud Repo.",
      "properties": {
        "uid": {
          "description": "A server-assigned, globally unique identifier.",
          "type": "string"
        },
        "projectRepoId": {
          "$ref": "ProjectRepoId",
          "description": "A combination of a project ID and a repo name."
        }
      },
      "type": "object"
    },
    "Subject": {
      "type": "object",
      "id": "Subject",
      "properties": {
        "name": {
          "description": "Identifier to distinguish this artifact from others within the subject.",
          "type": "string"
        },
        "digest": {
          "description": "`\"\": \"\"` Algorithms can be e.g. sha256, sha512 See https://github.com/in-toto/attestation/blob/main/spec/field_types.md#DigestSet",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "description": "Set of software artifacts that the attestation applies to. Each element represents a single software artifact."
    },
    "Artifact": {
      "id": "Artifact",
      "properties": {
        "checksum": {
          "type": "string",
          "description": "Hash or checksum value of a binary, or Docker Registry 2.0 digest of a container."
        },
        "id": {
          "type": "string",
          "description": "Artifact ID, if any; for container images, this will be a URL by digest like `gcr.io/projectID/imagename@sha256:123456`."
        },
        "names": {
          "description": "Related artifact names. This may be the path to a binary or jar file, or in the case of a container build, the name used to push the container image to Google Container Registry, as presented to `docker push`. Note that a single Artifact ID can have multiple names, for example if two tags are applied to one image.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Artifact describes a build product.",
      "type": "object"
    },
    "ByProducts": {
      "description": "Defines an object for the byproducts field in in-toto links. The suggested fields are \"stderr\", \"stdout\", and \"return-value\".",
      "type": "object",
      "properties": {
        "customValues": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "id": "ByProducts"
    },
    "SlsaProvenanceV1": {
      "id": "SlsaProvenanceV1",
      "properties": {
        "buildDefinition": {
          "$ref": "BuildDefinition"
        },
        "runDetails": {
          "$ref": "RunDetails"
        }
      },
      "type": "object",
      "description": "Keep in sync with schema at https://github.com/slsa-framework/slsa/blob/main/docs/provenance/schema/v1/provenance.proto Builder renamed to ProvenanceBuilder because of Java conflicts."
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1BuildOptionsPoolOption": {
      "description": "Details about how a build should be executed on a `WorkerPool`. See [running builds in a private pool](https://cloud.google.com/build/docs/private-pools/run-builds-in-private-pool) for more information.",
      "type": "object",
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1BuildOptionsPoolOption",
      "properties": {
        "workerRelease": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. OUTPUT_ONLY. The release or release channel used to run the Build. This is set to the same value as `PrivatePoolV1Config.WorkerConfig.worker_release` for the UI to easily access."
        },
        "name": {
          "description": "The `WorkerPool` resource to execute the build on. You must have `cloudbuild.workerpools.use` on the project hosting the WorkerPool. Format projects/{project}/locations/{location}/workerPools/{workerPoolId}",
          "type": "string"
        },
        "resolvedWorkerRelease": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. OUTPUT_ONLY. Worker release resolved from the release channel."
        }
      }
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1Artifacts": {
      "description": "Artifacts produced by a build that should be uploaded upon successful completion of all build steps.",
      "properties": {
        "goModules": {
          "description": "Optional. A list of Go modules to be uploaded to Artifact Registry upon successful completion of all build steps. If any objects fail to be pushed, the build is marked FAILURE.",
          "type": "array",
          "items": {
            "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsGoModule"
          }
        },
        "pythonPackages": {
          "items": {
            "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsPythonPackage"
          },
          "type": "array",
          "description": "A list of Python packages to be uploaded to Artifact Registry upon successful completion of all build steps. The build service account credentials will be used to perform the upload. If any objects fail to be pushed, the build is marked FAILURE."
        },
        "genericArtifacts": {
          "type": "array",
          "items": {
            "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsGenericArtifact"
          },
          "description": "Optional. A list of generic artifacts to be uploaded to Artifact Registry upon successful completion of all build steps. If any artifacts fail to be pushed, the build is marked FAILURE."
        },
        "images": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of images to be pushed upon the successful completion of all build steps. The images will be pushed using the builder service account's credentials. The digests of the pushed images will be stored in the Build resource's results field. If any of the images fail to be pushed, the build is marked FAILURE."
        },
        "mavenArtifacts": {
          "items": {
            "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsMavenArtifact"
          },
          "description": "A list of Maven artifacts to be uploaded to Artifact Registry upon successful completion of all build steps. Artifacts in the workspace matching specified paths globs will be uploaded to the specified Artifact Registry repository using the builder service account's credentials. If any artifacts fail to be pushed, the build is marked FAILURE.",
          "type": "array"
        },
        "npmPackages": {
          "items": {
            "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsNpmPackage"
          },
          "description": "A list of npm packages to be uploaded to Artifact Registry upon successful completion of all build steps. Npm packages in the specified paths will be uploaded to the specified Artifact Registry repository using the builder service account's credentials. If any packages fail to be pushed, the build is marked FAILURE.",
          "type": "array"
        },
        "objects": {
          "description": "A list of objects to be uploaded to Cloud Storage upon successful completion of all build steps. Files in the workspace matching specified paths globs will be uploaded to the specified Cloud Storage location using the builder service account's credentials. The location and generation of the uploaded objects will be stored in the Build resource's results field. If any objects fail to be pushed, the build is marked FAILURE.",
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsArtifactObjects"
        },
        "oci": {
          "description": "Optional. A list of OCI images to be uploaded to Artifact Registry upon successful completion of all build steps. OCI images in the specified paths will be uploaded to the specified Artifact Registry repository using the builder service account's credentials. If any images fail to be pushed, the build is marked FAILURE.",
          "items": {
            "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsOci"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1Artifacts"
    },
    "GoogleDevtoolsContaineranalysisV1alpha1OperationMetadata": {
      "properties": {
        "createTime": {
          "description": "Output only. The time this operation was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time that this operation was marked completed or failed."
        }
      },
      "description": "Metadata for all operations used and required for all operations that created by Container Analysis Providers",
      "id": "GoogleDevtoolsContaineranalysisV1alpha1OperationMetadata",
      "type": "object"
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1Hash": {
      "description": "Container message for hash values.",
      "properties": {
        "value": {
          "format": "byte",
          "type": "string",
          "description": "The hash value."
        },
        "type": {
          "description": "The type of hash that was performed.",
          "type": "string",
          "enumDescriptions": [
            "No hash requested.",
            "Use a sha256 hash.",
            "Use a md5 hash.",
            "Dirhash of a Go module's source code which is then hex-encoded.",
            "Use a sha512 hash.",
            "Use a dirsum_sha256 hash."
          ],
          "enum": [
            "NONE",
            "SHA256",
            "MD5",
            "GO_MODULE_H1",
            "SHA512",
            "DIRSUM_SHA256"
          ]
        }
      },
      "type": "object",
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1Hash"
    },
    "BatchCreateOccurrencesResponse": {
      "id": "BatchCreateOccurrencesResponse",
      "type": "object",
      "properties": {
        "occurrences": {
          "type": "array",
          "items": {
            "$ref": "Occurrence"
          },
          "description": "The occurrences that were created."
        }
      },
      "description": "Response for creating occurrences in batch."
    },
    "Justification": {
      "type": "object",
      "id": "Justification",
      "properties": {
        "details": {
          "description": "Additional details on why this justification was chosen.",
          "type": "string"
        },
        "justificationType": {
          "enum": [
            "JUSTIFICATION_TYPE_UNSPECIFIED",
            "COMPONENT_NOT_PRESENT",
            "VULNERABLE_CODE_NOT_PRESENT",
            "VULNERABLE_CODE_NOT_IN_EXECUTE_PATH",
            "VULNERABLE_CODE_CANNOT_BE_CONTROLLED_BY_ADVERSARY",
            "INLINE_MITIGATIONS_ALREADY_EXIST"
          ],
          "description": "The justification type for this vulnerability.",
          "type": "string",
          "enumDescriptions": [
            "JUSTIFICATION_TYPE_UNSPECIFIED.",
            "The vulnerable component is not present in the product.",
            "The vulnerable code is not present. Typically this case occurs when source code is configured or built in a way that excludes the vulnerable code.",
            "The vulnerable code can not be executed. Typically this case occurs when the product includes the vulnerable code but does not call or use the vulnerable code.",
            "The vulnerable code cannot be controlled by an attacker to exploit the vulnerability.",
            "The product includes built-in protections or features that prevent exploitation of the vulnerability. These built-in protections cannot be subverted by the attacker and cannot be configured or disabled by the user. These mitigations completely prevent exploitation based on known attack vectors."
          ]
        }
      },
      "description": "Justification provides the justification when the state of the assessment if NOT_AFFECTED."
    },
    "Fingerprint": {
      "type": "object",
      "properties": {
        "v2Blob": {
          "description": "Required. The ordered list of v2 blobs that represent a given image.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "v2Name": {
          "description": "Output only. The name of the image's v2 blobs computed via: [bottom] := v2_blobbottom := sha256(v2_blob[N] + \" \" + v2_name[N+1]) Only the name of the final blob is kept.",
          "type": "string"
        },
        "v1Name": {
          "description": "Required. The layer ID of the final layer in the Docker image's v1 representation.",
          "type": "string"
        }
      },
      "id": "Fingerprint",
      "description": "A set of properties that uniquely identify a given Docker image."
    },
    "Volume": {
      "type": "object",
      "id": "Volume",
      "properties": {
        "path": {
          "description": "Path at which to mount the volume. Paths must be absolute and cannot conflict with other volume paths on the same build step or with certain reserved volume paths.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of the volume to mount. Volume names must be unique per build step and must be valid names for Docker volumes. Each named volume must be used by at least two build steps."
        }
      },
      "description": "Volume describes a Docker container volume which is mounted into build steps in order to persist files across build step execution. Next ID: 3"
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1DeveloperConnectConfig": {
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1DeveloperConnectConfig",
      "properties": {
        "revision": {
          "type": "string",
          "description": "Required. The revision to fetch from the Git repository such as a branch, a tag, a commit SHA, or any Git ref."
        },
        "dir": {
          "type": "string",
          "description": "Required. Directory, relative to the source root, in which to run the build."
        },
        "gitRepositoryLink": {
          "description": "Required. The Developer Connect Git repository link, formatted as `projects/*/locations/*/connections/*/gitRepositoryLink/*`.",
          "type": "string"
        }
      },
      "description": "This config defines the location of a source through Developer Connect.",
      "type": "object"
    },
    "ExportSBOMResponse": {
      "properties": {
        "discoveryOccurrenceId": {
          "description": "The name of the discovery occurrence in the form \"projects/{project_id}/occurrences/{OCCURRENCE_ID} It can be used to track the progression of the SBOM export.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The response from a call to ExportSBOM",
      "id": "ExportSBOMResponse"
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1GitConfig": {
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1GitConfig",
      "type": "object",
      "properties": {
        "http": {
          "description": "Configuration for HTTP related git operations.",
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1GitConfigHttpConfig"
        }
      },
      "description": "GitConfig is a configuration for git operations."
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsGoModule": {
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsGoModule",
      "description": "Go module to upload to Artifact Registry upon successful completion of all build steps. A module refers to all dependencies in a go.mod file.",
      "type": "object",
      "properties": {
        "repositoryProjectId": {
          "type": "string",
          "description": "Optional. Project ID of the Artifact Registry repository. Defaults to the build project."
        },
        "repositoryName": {
          "description": "Optional. Artifact Registry repository name. Specified Go modules will be zipped and uploaded to Artifact Registry with this location as a prefix. e.g. my-go-repo",
          "type": "string"
        },
        "moduleVersion": {
          "type": "string",
          "description": "Optional. The Go module's semantic version in the form vX.Y.Z. e.g. v0.1.1 Pre-release identifiers can also be added by appending a dash and dot separated ASCII alphanumeric characters and hyphens. e.g. v0.2.3-alpha.x.12m.5"
        },
        "modulePath": {
          "type": "string",
          "description": "Optional. The Go module's \"module path\". e.g. example.com/foo/v2"
        },
        "repositoryLocation": {
          "description": "Optional. Location of the Artifact Registry repository. i.e. us-east1 Defaults to the build’s location.",
          "type": "string"
        },
        "sourcePath": {
          "description": "Optional. Source path of the go.mod file in the build's workspace. If not specified, this will default to the current directory. e.g. ~/code/go/mypackage",
          "type": "string"
        }
      }
    },
    "SBOMReferenceOccurrence": {
      "type": "object",
      "description": "The occurrence representing an SBOM reference as applied to a specific resource. The occurrence follows the DSSE specification. See https://github.com/secure-systems-lab/dsse/blob/master/envelope.md for more details.",
      "id": "SBOMReferenceOccurrence",
      "properties": {
        "payloadType": {
          "description": "The kind of payload that SbomReferenceIntotoPayload takes. Since it's in the intoto format, this value is expected to be 'application/vnd.in-toto+json'.",
          "type": "string"
        },
        "signatures": {
          "items": {
            "$ref": "EnvelopeSignature"
          },
          "description": "The signatures over the payload.",
          "type": "array"
        },
        "payload": {
          "$ref": "SbomReferenceIntotoPayload",
          "description": "The actual payload that contains the SBOM reference data."
        }
      }
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1DependencyGitSourceDependency": {
      "type": "object",
      "description": "Represents a git repository as a build dependency.",
      "properties": {
        "destPath": {
          "type": "string",
          "description": "Required. Where should the files be placed on the worker."
        },
        "repository": {
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1DependencyGitSourceRepository",
          "description": "Required. The kind of repo (url or dev connect)."
        },
        "revision": {
          "description": "Required. The revision that we will fetch the repo at.",
          "type": "string"
        },
        "fetchTags": {
          "description": "Optional. True if remote tags should be fetched too (default false). Note: when depth is 1 (default), git fetch only retrieves tags pointing to commits within the shallow boundary. Set depth to -1 to fetch all historical tags.",
          "type": "boolean"
        },
        "recurseSubmodules": {
          "description": "Optional. True if submodules should be fetched too (default false).",
          "type": "boolean"
        },
        "depth": {
          "type": "string",
          "format": "int64",
          "description": "Optional. How much history should be fetched for the build (default 1, -1 for all history)."
        }
      },
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1DependencyGitSourceDependency"
    },
    "ArtifactRule": {
      "type": "object",
      "properties": {
        "artifactRule": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Defines an object to declare an in-toto artifact rule",
      "id": "ArtifactRule"
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1ApprovalConfig": {
      "description": "ApprovalConfig describes configuration for manual approval of a build.",
      "type": "object",
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1ApprovalConfig",
      "properties": {
        "approvalRequired": {
          "type": "boolean",
          "description": "Whether or not approval is needed. If this is set on a build, it will become pending when created, and will need to be explicitly approved to start."
        }
      }
    },
    "SetIamPolicyRequest": {
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        }
      },
      "id": "SetIamPolicyRequest",
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object"
    },
    "FileOccurrence": {
      "description": "FileOccurrence represents an SPDX File Information section: https://spdx.github.io/spdx-spec/4-file-information/",
      "properties": {
        "licenseConcluded": {
          "$ref": "License",
          "description": "This field contains the license the SPDX file creator has concluded as governing the file or alternative values if the governing license cannot be determined"
        },
        "copyright": {
          "type": "string",
          "description": "Identify the copyright holder of the file, as well as any dates present"
        },
        "id": {
          "type": "string",
          "description": "Uniquely identify any element in an SPDX document which may be referenced by other elements"
        },
        "notice": {
          "description": "This field provides a place for the SPDX file creator to record license notices or other such related notices found in the file",
          "type": "string"
        },
        "filesLicenseInfo": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "This field contains the license information actually found in the file, if any"
        },
        "contributors": {
          "description": "This field provides a place for the SPDX file creator to record file contributors",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "comment": {
          "description": "This field provides a place for the SPDX file creator to record any general comments about the file",
          "type": "string"
        },
        "attributions": {
          "description": "This field provides a place for the SPDX data creator to record, at the file level, acknowledgements that may be needed to be communicated in some contexts",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "FileOccurrence",
      "type": "object"
    },
    "BuildStep": {
      "id": "BuildStep",
      "description": "A step in the build pipeline. Next ID: 23",
      "properties": {
        "dir": {
          "type": "string",
          "description": "Working directory to use when running this step's container. If this value is a relative path, it is relative to the build's working directory. If this value is absolute, it may be outside the build's working directory, in which case the contents of the path may not be persisted across build step executions, unless a `volume` for that path is specified. If the build specifies a `RepoSource` with `dir` and a step with a `dir`, which specifies an absolute path, the `RepoSource` `dir` is ignored for the step's execution."
        },
        "timeout": {
          "type": "string",
          "format": "google-duration",
          "description": "Time limit for executing this build step. If not defined, the step has no time limit and will be allowed to continue to run until either it completes or the build itself times out."
        },
        "volumes": {
          "description": "List of volumes to mount into the build step. Each volume is created as an empty volume prior to execution of the build step. Upon completion of the build, volumes and their contents are discarded. Using a named volume in only one step is not valid as it is indicative of a build request with an incorrect configuration.",
          "type": "array",
          "items": {
            "$ref": "Volume"
          }
        },
        "args": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of arguments that will be presented to the step when it is started. If the image used to run the step's container has an entrypoint, the `args` are used as arguments to that entrypoint. If the image does not define an entrypoint, the first element in args is used as the entrypoint, and the remainder will be used as arguments."
        },
        "remoteConfig": {
          "description": "Remote configuration for the build step.",
          "type": "string"
        },
        "status": {
          "enumDescriptions": [
            "Status of the build is unknown.",
            "Build has been created and is pending execution and queuing. It has not been queued.",
            "Build has been received and is being queued.",
            "Build or step is queued; work has not yet begun.",
            "Build or step is being executed.",
            "Build or step finished successfully.",
            "Build or step failed to complete successfully.",
            "Build or step failed due to an internal cause.",
            "Build or step took longer than was allowed.",
            "Build or step was canceled by a user.",
            "Build was enqueued for longer than the value of `queue_ttl`."
          ],
          "type": "string",
          "enum": [
            "STATUS_UNKNOWN",
            "PENDING",
            "QUEUING",
            "QUEUED",
            "WORKING",
            "SUCCESS",
            "FAILURE",
            "INTERNAL_ERROR",
            "TIMEOUT",
            "CANCELLED",
            "EXPIRED"
          ],
          "description": "Output only. Status of the build step. At this time, build step status is only updated on build completion; step status is not updated in real-time as the build progresses."
        },
        "entrypoint": {
          "type": "string",
          "description": "Entrypoint to be used instead of the build step image's default entrypoint. If unset, the image's default entrypoint is used."
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "StepResult"
          }
        },
        "timing": {
          "description": "Output only. Stores timing information for executing this build step.",
          "$ref": "TimeSpan"
        },
        "env": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of environment variable definitions to be used when running a step. The elements are of the form \"KEY=VALUE\" for the environment variable \"KEY\" being given the value \"VALUE\"."
        },
        "allowExitCodes": {
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "description": "Allow this build step to fail without failing the entire build if and only if the exit code is one of the specified codes. If allow_failure is also specified, this field will take precedence.",
          "type": "array"
        },
        "pullTiming": {
          "$ref": "TimeSpan",
          "description": "Output only. Stores timing information for pulling this build step's builder image only."
        },
        "waitFor": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The ID(s) of the step(s) that this build step depends on. This build step will not start until all the build steps in `wait_for` have completed successfully. If `wait_for` is empty, this build step will start when all previous build steps in the `Build.Steps` list have completed successfully."
        },
        "secretEnv": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of environment variables which are encrypted using a Cloud Key Management Service crypto key. These values must be specified in the build's `Secret`."
        },
        "script": {
          "description": "A shell script to be executed in the step. When script is provided, the user cannot specify the entrypoint or args.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the container image that will run this particular build step. If the image is available in the host's Docker daemon's cache, it will be run directly. If not, the host will attempt to pull the image first, using the builder service account's credentials if necessary. The Docker daemon's cache will already have the latest versions of all of the officially supported build steps ([https://github.com/GoogleCloudPlatform/cloud-builders](https://github.com/GoogleCloudPlatform/cloud-builders)). The Docker daemon will also have cached many of the layers for some popular images, like \"ubuntu\", \"debian\", but they will be refreshed at the time you attempt to use them. If you built an image in a previous build step, it will be stored in the host's Docker daemon's cache and is available to use as the name for a later build step."
        },
        "allowFailure": {
          "type": "boolean",
          "description": "Allow this build step to fail without failing the entire build. If false, the entire build will fail if this step fails. Otherwise, the build will succeed, but this step will still have a failure status. Error information will be reported in the failure_detail field."
        },
        "automapSubstitutions": {
          "type": "boolean",
          "description": "Option to include built-in and custom substitutions as env variables for this build step. This option will override the global option in BuildOption."
        },
        "exitCode": {
          "description": "Output only. Return code from running the step.",
          "format": "int32",
          "type": "integer"
        },
        "id": {
          "description": "Unique identifier for this build step, used in `wait_for` to reference this build step as a dependency.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsOci": {
      "description": "OCI image to upload to Artifact Registry upon successful completion of all build steps.",
      "type": "object",
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsOci",
      "properties": {
        "file": {
          "description": "Required. Path on the local file system where to find the container to upload. e.g. /workspace/my-image.tar",
          "type": "string"
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Tags to apply to the uploaded image. e.g. latest, 1.0.0"
        },
        "registryPath": {
          "type": "string",
          "description": "Required. Registry path to upload the container to. e.g. us-east1-docker.pkg.dev/my-project/my-repo/my-image"
        }
      }
    },
    "AnalysisCompleted": {
      "id": "AnalysisCompleted",
      "description": "Indicates which analysis completed successfully. Multiple types of analysis can be performed on a single resource.",
      "type": "object",
      "properties": {
        "analysisType": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Deployment": {
      "description": "The period during which some deployable was active in a runtime.",
      "properties": {
        "platform": {
          "description": "Platform hosting this deployment.",
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Google Container Engine.",
            "Google App Engine: Flexible Environment.",
            "Custom user-defined platform."
          ],
          "enum": [
            "PLATFORM_UNSPECIFIED",
            "GKE",
            "FLEX",
            "CUSTOM"
          ]
        },
        "address": {
          "type": "string",
          "description": "Address of the runtime element hosting this deployment."
        },
        "undeployTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "End of the lifetime of this deployment."
        },
        "resourceUri": {
          "type": "array",
          "description": "Output only. Resource URI for the artifact being deployed taken from the deployable field with the same name.",
          "items": {
            "type": "string"
          }
        },
        "config": {
          "description": "Configuration used to create this deployment.",
          "type": "string"
        },
        "deployTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. Beginning of the lifetime of this deployment."
        },
        "userEmail": {
          "description": "Identity of the user that triggered this deployment.",
          "type": "string"
        }
      },
      "id": "Deployment",
      "type": "object"
    },
    "SbomReferenceIntotoPredicate": {
      "type": "object",
      "id": "SbomReferenceIntotoPredicate",
      "description": "A predicate which describes the SBOM being referenced.",
      "properties": {
        "mimeType": {
          "description": "The mime type of the SBOM.",
          "type": "string"
        },
        "digest": {
          "description": "A map of algorithm to digest of the contents of the SBOM.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "referrerId": {
          "description": "The person or system referring this predicate to the consumer.",
          "type": "string"
        },
        "location": {
          "description": "The location of the SBOM.",
          "type": "string"
        }
      }
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty",
      "type": "object"
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1ApprovalResult": {
      "type": "object",
      "properties": {
        "approvalTime": {
          "type": "string",
          "description": "Output only. The time when the approval decision was made.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "approverAccount": {
          "description": "Output only. Email of the user that called the ApproveBuild API to approve or reject a build at the time that the API was called.",
          "readOnly": true,
          "type": "string"
        },
        "decision": {
          "enumDescriptions": [
            "Default enum type. This should not be used.",
            "Build is approved.",
            "Build is rejected."
          ],
          "enum": [
            "DECISION_UNSPECIFIED",
            "APPROVED",
            "REJECTED"
          ],
          "type": "string",
          "description": "Required. The decision of this manual approval."
        },
        "url": {
          "type": "string",
          "description": "Optional. An optional URL tied to this manual approval result. This field is essentially the same as comment, except that it will be rendered by the UI differently. An example use case is a link to an external job that approved this Build."
        },
        "comment": {
          "description": "Optional. An optional comment for this manual approval result.",
          "type": "string"
        }
      },
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1ApprovalResult",
      "description": "ApprovalResult describes the decision and associated metadata of a manual approval of a build."
    },
    "GetPolicyOptions": {
      "id": "GetPolicyOptions",
      "type": "object",
      "properties": {
        "requestedPolicyVersion": {
          "type": "integer",
          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32"
        }
      },
      "description": "Encapsulates settings provided to GetIamPolicy."
    },
    "PgpSignedAttestation": {
      "description": "An attestation wrapper with a PGP-compatible signature. This message only supports `ATTACHED` signatures, where the payload that is signed is included alongside the signature itself in the same file.",
      "type": "object",
      "properties": {
        "contentType": {
          "enum": [
            "CONTENT_TYPE_UNSPECIFIED",
            "SIMPLE_SIGNING_JSON"
          ],
          "enumDescriptions": [
            "`ContentType` is not set.",
            "Atomic format attestation signature. See https://github.com/containers/image/blob/8a5d2f82a6e3263290c8e0276c3e0f64e77723e7/docs/atomic-signature.md The payload extracted from `signature` is a JSON blob conforming to the linked schema."
          ],
          "description": "Type (for example schema) of the attestation payload that was signed. The verifier must ensure that the provided type is one that the verifier supports, and that the attestation payload is a valid instantiation of that type (for example by validating a JSON schema).",
          "type": "string"
        },
        "pgpKeyId": {
          "type": "string",
          "description": "The cryptographic fingerprint of the key used to generate the signature, as output by, e.g. `gpg --list-keys`. This should be the version 4, full 160-bit fingerprint, expressed as a 40 character hexadecimal string. See https://tools.ietf.org/html/rfc4880#section-12.2 for details. Implementations may choose to acknowledge \"LONG\", \"SHORT\", or other abbreviated key IDs, but only the full fingerprint is guaranteed to work. In gpg, the full fingerprint can be retrieved from the `fpr` field returned when calling --list-keys with --with-colons. For example: ``` gpg --with-colons --with-fingerprint --force-v4-certs \\ --list-keys attester@example.com tru::1:1513631572:0:3:1:5 pub:...... fpr:::::::::24FF6481B76AC91E66A00AC657A93A81EF3AE6FB: ``` Above, the fingerprint is `24FF6481B76AC91E66A00AC657A93A81EF3AE6FB`."
        },
        "signature": {
          "description": "Required. The raw content of the signature, as output by GNU Privacy Guard (GPG) or equivalent. Since this message only supports attached signatures, the payload that was signed must be attached. While the signature format supported is dependent on the verification implementation, currently only ASCII-armored (`--armor` to gpg), non-clearsigned (`--sign` rather than `--clearsign` to gpg) are supported. Concretely, `gpg --sign --armor --output=signature.gpg payload.json` will create the signature content expected in this field in `signature.gpg` for the `payload.json` attestation payload.",
          "type": "string"
        }
      },
      "id": "PgpSignedAttestation"
    },
    "GrafeasV1beta1DiscoveryDetails": {
      "id": "GrafeasV1beta1DiscoveryDetails",
      "description": "Details of a discovery occurrence.",
      "type": "object",
      "properties": {
        "discovered": {
          "$ref": "Discovered",
          "description": "Required. Analysis status for the discovered resource."
        }
      }
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsNpmPackage": {
      "description": "Npm package to upload to Artifact Registry upon successful completion of all build steps.",
      "type": "object",
      "properties": {
        "repository": {
          "description": "Artifact Registry repository, in the form \"https://$REGION-npm.pkg.dev/$PROJECT/$REPOSITORY\" Npm package in the workspace specified by path will be zipped and uploaded to Artifact Registry with this location as a prefix.",
          "type": "string"
        },
        "packagePath": {
          "description": "Optional. Path to the package.json. e.g. workspace/path/to/package Only one of `archive` or `package_path` can be specified.",
          "type": "string"
        }
      },
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsNpmPackage"
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1StorageSource": {
      "description": "Location of the source in an archive file in Cloud Storage.",
      "properties": {
        "generation": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Cloud Storage generation for the object. If the generation is omitted, the latest generation will be used."
        },
        "bucket": {
          "description": "Cloud Storage bucket containing the source (see [Bucket Name Requirements](https://cloud.google.com/storage/docs/bucket-naming#requirements)).",
          "type": "string"
        },
        "object": {
          "description": "Required. Cloud Storage object containing the source. This object must be a zipped (`.zip`) or gzipped archive file (`.tar.gz`) containing source to build.",
          "type": "string"
        },
        "sourceFetcher": {
          "enum": [
            "SOURCE_FETCHER_UNSPECIFIED",
            "GSUTIL",
            "GCS_FETCHER"
          ],
          "description": "Optional. Option to specify the tool to fetch the source file for the build.",
          "enumDescriptions": [
            "Unspecified defaults to GSUTIL.",
            "Use the \"gsutil\" tool to download the source file.",
            "Use the Cloud Storage Fetcher tool to download the source file."
          ],
          "type": "string"
        }
      },
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1StorageSource",
      "type": "object"
    },
    "GenericSignedAttestation": {
      "description": "An attestation wrapper that uses the Grafeas `Signature` message. This attestation must define the `serialized_payload` that the `signatures` verify and any metadata necessary to interpret that plaintext. The signatures should always be over the `serialized_payload` bytestring.",
      "id": "GenericSignedAttestation",
      "properties": {
        "serializedPayload": {
          "type": "string",
          "description": "The serialized payload that is verified by one or more `signatures`. The encoding and semantic meaning of this payload must match what is set in `content_type`.",
          "format": "byte"
        },
        "contentType": {
          "enumDescriptions": [
            "`ContentType` is not set.",
            "Atomic format attestation signature. See https://github.com/containers/image/blob/8a5d2f82a6e3263290c8e0276c3e0f64e77723e7/docs/atomic-signature.md The payload extracted in `plaintext` is a JSON blob conforming to the linked schema."
          ],
          "enum": [
            "CONTENT_TYPE_UNSPECIFIED",
            "SIMPLE_SIGNING_JSON"
          ],
          "type": "string",
          "description": "Type (for example schema) of the attestation payload that was signed. The verifier must ensure that the provided type is one that the verifier supports, and that the attestation payload is a valid instantiation of that type (for example by validating a JSON schema)."
        },
        "signatures": {
          "type": "array",
          "items": {
            "$ref": "Signature"
          },
          "description": "One or more signatures over `serialized_payload`. Verifier implementations should consider this attestation message verified if at least one `signature` verifies `serialized_payload`. See `Signature` in common.proto for more details on signature structure and verification."
        }
      },
      "type": "object"
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1SourceProvenance": {
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1SourceProvenance",
      "description": "Provenance of the source. Ways to find the original source, or verify that some source was used for this build.",
      "type": "object",
      "properties": {
        "resolvedConnectedRepository": {
          "description": "Output only. A copy of the build's `source.connected_repository`, if exists, with any revisions resolved.",
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1ConnectedRepository",
          "readOnly": true
        },
        "resolvedGitSource": {
          "readOnly": true,
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1GitSource",
          "description": "Output only. A copy of the build's `source.git_source`, if exists, with any revisions resolved."
        },
        "resolvedStorageSource": {
          "description": "A copy of the build's `source.storage_source`, if exists, with any generations resolved.",
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1StorageSource"
        },
        "resolvedRepoSource": {
          "description": "A copy of the build's `source.repo_source`, if exists, with any revisions resolved.",
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1RepoSource"
        },
        "resolvedStorageSourceManifest": {
          "description": "A copy of the build's `source.storage_source_manifest`, if exists, with any revisions resolved. This feature is in Preview.",
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1StorageSourceManifest"
        },
        "fileHashes": {
          "type": "object",
          "readOnly": true,
[...]
