{
  "servicePath": "content/v2.1/",
  "rootUrl": "https://shoppingcontent.googleapis.com/",
  "description": "This API is deprecated. Please use Merchant API instead: https://developers.google.com/merchant/api. ",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "documentationLink": "https://developers.google.com/shopping-content/v2/",
  "parameters": {
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "description": "Data format for response.",
      "default": "json"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    }
  },
  "canonicalName": "Shopping Content",
  "ownerName": "Google",
  "mtlsRootUrl": "https://shoppingcontent.mtls.googleapis.com/",
  "version": "v2.1",
  "id": "content:v2.1",
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "PosSaleRequest": {
      "properties": {
        "contentLanguage": {
          "description": "Required. The two-letter ISO 639-1 language code for the item.",
          "type": "string"
        },
        "targetCountry": {
          "type": "string",
          "description": "Required. The CLDR territory code for the item."
        },
        "timestamp": {
          "type": "string",
          "description": "Required. The inventory timestamp, in ISO 8601 format."
        },
        "storeCode": {
          "description": "Required. The identifier of the merchant's store. Either a `storeCode` inserted through the API or the code of the store in a Business Profile.",
          "type": "string"
        },
        "saleId": {
          "type": "string",
          "description": "A unique ID to group items from the same sale event."
        },
        "gtin": {
          "type": "string",
          "description": "Global Trade Item Number."
        },
        "quantity": {
          "format": "int64",
          "type": "string",
          "description": "Required. The relative change of the available quantity. Negative for items returned."
        },
        "itemId": {
          "description": "Required. A unique identifier for the item.",
          "type": "string"
        },
        "price": {
          "description": "Required. The price of the item.",
          "$ref": "Price"
        }
      },
      "type": "object",
      "id": "PosSaleRequest"
    },
    "ProductstatusesCustomBatchRequest": {
      "id": "ProductstatusesCustomBatchRequest",
      "type": "object",
      "properties": {
        "entries": {
          "type": "array",
          "description": "The request entries to be processed in the batch.",
          "items": {
            "$ref": "ProductstatusesCustomBatchRequestEntry"
          }
        }
      }
    },
    "LoyaltyProgram": {
      "type": "object",
      "id": "LoyaltyProgram",
      "properties": {
        "cashbackForFutureUse": {
          "description": "Optional. The cashback that can be used for future purchases.",
          "$ref": "Price"
        },
        "tierLabel": {
          "description": "Required. The label of the tier within the loyalty program. Must match one of the labels within the program.",
          "type": "string"
        },
        "loyaltyPoints": {
          "type": "string",
          "format": "int64",
          "description": "Optional. The amount of loyalty points earned on a purchase."
        },
        "memberPriceEffectiveDate": {
          "description": "Optional. A date range during which the item is eligible for member price. If not specified, the member price is always applicable. The date range is represented by a pair of ISO 8601 dates separated by a space, comma, or slash.",
          "type": "string"
        },
        "programLabel": {
          "description": "Required. The label of the loyalty program. This is an internal label that uniquely identifies the relationship between a merchant entity and a loyalty program entity. It must be provided so that system can associate the assets below (for example, price and points) with a merchant. The corresponding program must be linked to the merchant account.",
          "type": "string"
        },
        "shippingLabel": {
          "description": "Optional. The shipping label for the loyalty program. You can use this label to indicate whether this offer has the loyalty shipping benefit. If not specified, the item is not eligible for loyalty shipping for the given loyalty tier.",
          "type": "string"
        },
        "price": {
          "description": "Optional. The price for members of the given tier (instant discount price). Must be smaller or equal to the regular price.",
          "$ref": "Price"
        }
      },
      "description": "Allows the setting up of loyalty program benefits (for example price or points). https://support.google.com/merchants/answer/12922446"
    },
    "ListConversionSourcesResponse": {
      "id": "ListConversionSourcesResponse",
      "type": "object",
      "description": "Response message for the ListConversionSources method.",
      "properties": {
        "conversionSources": {
          "type": "array",
          "description": "List of conversion sources.",
          "items": {
            "$ref": "ConversionSource"
          }
        },
        "nextPageToken": {
          "description": "Token to be used to fetch the next results page.",
          "type": "string"
        }
      }
    },
    "LiasettingsCustomBatchResponseEntry": {
      "properties": {
        "posDataProviders": {
          "description": "The list of POS data providers.",
          "items": {
            "$ref": "PosDataProviders"
          },
          "type": "array"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#liasettingsCustomBatchResponseEntry`\"",
          "type": "string"
        },
        "batchId": {
          "description": "The ID of the request entry to which this entry responds.",
          "type": "integer",
          "format": "uint32"
        },
        "gmbAccounts": {
          "$ref": "GmbAccounts",
          "description": "The list of accessible Business Profiles."
        },
        "omnichannelExperience": {
          "description": "The updated omnichannel experience for a country.",
          "$ref": "LiaOmnichannelExperience"
        },
        "liaSettings": {
          "$ref": "LiaSettings",
          "description": "The retrieved or updated Lia settings."
        },
        "errors": {
          "$ref": "Errors",
          "description": "A list of errors defined if, and only if, the request failed."
        }
      },
      "id": "LiasettingsCustomBatchResponseEntry",
      "type": "object"
    },
    "AccountConversionSettings": {
      "properties": {
        "freeListingsAutoTaggingEnabled": {
          "type": "boolean",
          "description": "When enabled, free listing URLs have a parameter to enable conversion tracking for products owned by the current merchant account. See [auto-tagging](https://support.google.com/merchants/answer/11127659)."
        }
      },
      "description": "Settings for conversion tracking.",
      "type": "object",
      "id": "AccountConversionSettings"
    },
    "CheckoutSettings": {
      "type": "object",
      "id": "CheckoutSettings",
      "properties": {
        "enrollmentState": {
          "description": "Output only. Reflects the merchant enrollment state in `Checkout` feature.",
          "type": "string",
          "enum": [
            "CHECKOUT_ON_MERCHANT_ENROLLMENT_STATE_UNSPECIFIED",
            "INACTIVE",
            "ENROLLED",
            "OPT_OUT"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Default enrollment state when enrollment state is not specified.",
            "Merchant has not enrolled into the feature.",
            "Merchant has enrolled into the feature by providing either an account level URL or checkout URLs as part of their feed.",
            "Merchant has previously enrolled but opted out of the feature."
          ]
        },
        "uriSettings": {
          "description": "URL settings for cart or checkout URL.",
          "$ref": "UrlSettings"
        },
        "effectiveReviewState": {
          "description": "Output only. The effective value of review state for a given merchant ID. If account level settings are present then this value will be a copy of the account level settings. Otherwise, it will have the value of the parent account.",
          "type": "string",
          "enum": [
            "CHECKOUT_ON_MERCHANT_REVIEW_STATE_UNSPECIFIED",
            "IN_REVIEW",
            "APPROVED",
            "DISAPPROVED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Default review state when review state is not specified.",
            "Merchant provided URLs are being reviewed for data quality issues.",
            "Merchant account has been approved. Indicates the data quality checks have passed.",
            "Merchant account has been disapproved due to data quality issues."
          ]
        },
        "merchantId": {
          "type": "string",
          "format": "int64",
          "description": "Required. The ID of the account."
        },
        "effectiveUriSettings": {
          "description": "The effective value of `url_settings` for a given merchant ID. If account level settings are present then this value will be a copy of the account level settings. Otherwise, it will have the value of the parent account.",
          "$ref": "UrlSettings"
        },
        "reviewState": {
          "description": "Output only. Reflects the merchant review state in `Checkout` feature. This is set based on the data quality reviews of the URL provided by the merchant. A merchant with enrollment state as `ENROLLED` can be in the following review states: `IN_REVIEW`, `APPROVED` or `DISAPPROVED`. A merchant must be in an enrollment_state of `ENROLLED` before a review can begin for the merchant.",
          "type": "string",
          "enum": [
            "CHECKOUT_ON_MERCHANT_REVIEW_STATE_UNSPECIFIED",
            "IN_REVIEW",
            "APPROVED",
            "DISAPPROVED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Default review state when review state is not specified.",
            "Merchant provided URLs are being reviewed for data quality issues.",
            "Merchant account has been approved. Indicates the data quality checks have passed.",
            "Merchant account has been disapproved due to data quality issues."
          ]
        },
        "effectiveEnrollmentState": {
          "enum": [
            "CHECKOUT_ON_MERCHANT_ENROLLMENT_STATE_UNSPECIFIED",
            "INACTIVE",
            "ENROLLED",
            "OPT_OUT"
          ],
          "enumDescriptions": [
            "Default enrollment state when enrollment state is not specified.",
            "Merchant has not enrolled into the feature.",
            "Merchant has enrolled into the feature by providing either an account level URL or checkout URLs as part of their feed.",
            "Merchant has previously enrolled but opted out of the feature."
          ],
          "readOnly": true,
          "description": "Output only. The effective value of enrollment state for a given merchant ID. If account level settings are present then this value will be a copy of the account level settings. Otherwise, it will have the value of the parent account.",
          "type": "string"
        }
      },
      "description": "`CheckoutSettings` for a specific merchant ID."
    },
    "LocalinventoryCustomBatchRequestEntry": {
      "type": "object",
      "id": "LocalinventoryCustomBatchRequestEntry",
      "properties": {
        "batchId": {
          "description": "An entry ID, unique within the batch request.",
          "format": "uint32",
          "type": "integer"
        },
        "method": {
          "description": "Method of the batch request entry. Acceptable values are: - \"`insert`\" ",
          "type": "string"
        },
        "localInventory": {
          "description": "Local inventory of the product.",
          "$ref": "LocalInventory"
        },
        "merchantId": {
          "description": "The ID of the managing account.",
          "format": "uint64",
          "type": "string"
        },
        "productId": {
          "type": "string",
          "description": "The ID of the product for which to update local inventory."
        }
      },
      "description": "Batch entry encoding a single local inventory update request."
    },
    "ReturnPolicyOnlineRestockingFee": {
      "properties": {
        "microPercent": {
          "description": "Percent of total price in micros. 15,000,000 means 15% of the total price would be charged.",
          "type": "integer",
          "format": "int32"
        },
        "fixedFee": {
          "$ref": "PriceAmount",
          "description": "Fixed restocking fee."
        }
      },
      "description": "The restocking fee. This can either be a fixed fee or a micro percent.",
      "type": "object",
      "id": "ReturnPolicyOnlineRestockingFee"
    },
    "InputFieldChoiceInputChoiceInputOption": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Not for display but need to be sent back for the selected choice option."
        },
        "additionalInput": {
          "$ref": "InputField",
          "description": "Input that should be displayed when this option is selected. The additional input will not contain a `ChoiceInput`."
        },
        "label": {
          "$ref": "TextWithTooltip",
          "description": "Short description of the choice option. There may be more information to be shown as a tooltip."
        }
      },
      "description": "A choice that merchant can select.",
      "type": "object",
      "id": "InputFieldChoiceInputChoiceInputOption"
    },
    "AccountStatusAccountLevelIssue": {
      "properties": {
        "destination": {
          "description": "The destination the issue applies to. If this field is empty then the issue applies to all available destinations.",
          "type": "string"
        },
        "detail": {
          "description": "Additional details about the issue.",
          "type": "string"
        },
        "country": {
          "description": "Country for which this issue is reported.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Issue identifier."
        },
        "title": {
          "type": "string",
          "description": "Short description of the issue."
        },
        "documentation": {
          "type": "string",
          "description": "The URL of a web page to help resolving this issue."
        },
        "severity": {
          "type": "string",
          "description": "Severity of the issue. Acceptable values are: - \"`critical`\" - \"`error`\" - \"`suggestion`\" "
        }
      },
      "type": "object",
      "id": "AccountStatusAccountLevelIssue"
    },
    "InsertCheckoutSettingsRequest": {
      "properties": {
        "uriSettings": {
          "description": "Required. The `UrlSettings` for the request. The presence of URL settings indicates `Checkout` enrollment.",
          "$ref": "UrlSettings"
        }
      },
      "description": "Request message for the `InsertCheckoutSettings` method.",
      "type": "object",
      "id": "InsertCheckoutSettingsRequest"
    },
    "ShoppingAdsProgramStatusRegionStatus": {
      "type": "object",
      "id": "ShoppingAdsProgramStatusRegionStatus",
      "properties": {
        "disapprovalDate": {
          "type": "string",
          "description": "Date by which eligibilityStatus will go from `WARNING` to `DISAPPROVED`. Only visible when your eligibilityStatus is WARNING. In [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format: `YYYY-MM-DD`."
        },
        "reviewIneligibilityReason": {
          "description": "Review ineligibility reason if account is not eligible for review.",
          "enum": [
            "REVIEW_INELIGIBILITY_REASON_UNSPECIFIED",
            "ONBOARDING_ISSUES",
            "NOT_ENOUGH_OFFERS",
            "IN_COOLDOWN_PERIOD",
            "ALREADY_UNDER_REVIEW",
            "NO_REVIEW_REQUIRED",
            "WILL_BE_REVIEWED_AUTOMATICALLY",
            "IS_RETIRED",
            "ALREADY_REVIEWED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Requesting a review from Google is not possible.",
            "All onboarding issues needs to be fixed.",
            "Not enough offers uploaded for this country.",
            "Cooldown period applies. Wait until cooldown period ends.",
            "Account is already under review.",
            "No issues available to review.",
            "Account will be automatically reviewed at the end of the grace period.",
            "Account is retired. Should not appear in MC.",
            "Account has already been reviewed. You can't request further reviews."
          ]
        },
        "reviewIneligibilityReasonDetails": {
          "description": "Additional information for ineligibility. If `reviewIneligibilityReason` is `IN_COOLDOWN_PERIOD`, a timestamp for the end of the cooldown period is provided.",
          "$ref": "ShoppingAdsProgramStatusReviewIneligibilityReasonDetails"
        },
        "onboardingIssues": {
          "type": "array",
          "description": "Issues that must be fixed to be eligible for review.",
          "items": {
            "type": "string"
          }
        },
        "regionCodes": {
          "type": "array",
          "description": "The two-letter [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) codes for all the regions with the same `eligibilityStatus` and `reviewEligibility`.",
          "items": {
            "type": "string"
          }
        },
        "reviewIneligibilityReasonDescription": {
          "description": "Reason a program in a specific region isn’t eligible for review. Only visible if `reviewEligibilityStatus` is `INELIGIBLE`.",
          "type": "string"
        },
        "reviewEligibilityStatus": {
          "type": "string",
          "enumDescriptions": [
            "Review eligibility state is unknown.",
            "Account is eligible for review for a specified region code.",
            "Account is not eligible for review for a specified region code."
          ],
          "description": "If a program is eligible for review in a specific region. Only visible if `eligibilityStatus` is `DISAPPROVED`.",
          "enum": [
            "REVIEW_ELIGIBILITY_UNSPECIFIED",
            "ELIGIBLE",
            "INELIGIBLE"
          ]
        },
        "reviewIssues": {
          "description": "Issues evaluated in the review process. Fix all issues before requesting a review.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "eligibilityStatus": {
          "type": "string",
          "enumDescriptions": [
            "State is not known.",
            "If the account has no issues and review is completed successfully.",
            "There are one or more issues that needs to be resolved for account to be active for the program. Detailed list of account issues are available in [accountstatuses](https://developers.google.com/shopping-content/reference/rest/v2.1/accountstatuses) API.",
            "If account has issues but offers are servable. Some of the issue can make account DISAPPROVED after a certain deadline.",
            "Account is under review.",
            "Account is waiting for review to start.",
            "Program is currently onboarding. Upload valid offers to complete onboarding."
          ],
          "description": "Eligibility status of the Shopping Ads program.",
          "enum": [
            "STATE_UNSPECIFIED",
            "APPROVED",
            "DISAPPROVED",
            "WARNING",
            "UNDER_REVIEW",
            "PENDING_REVIEW",
            "ONBOARDING"
          ]
        }
      },
      "description": "Status of program and region."
    },
    "Breakdown": {
      "id": "Breakdown",
      "type": "object",
      "description": "A detailed impact breakdown for a group of regions where the impact of the issue on different shopping destinations is the same.",
      "properties": {
        "regions": {
          "type": "array",
          "description": "Lists of regions. Should be rendered as a title for this group of details. The full list should be shown to merchant. If the list is too long, it is recommended to make it expandable.",
          "items": {
            "$ref": "BreakdownRegion"
          }
        },
        "details": {
          "type": "array",
          "description": "Human readable, localized description of issue's effect on different targets. Should be rendered as a list. For example: * \"Products not showing in ads\" * \"Products not showing organically\"",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "CloudExportAdditionalProperties": {
      "properties": {
        "propertyName": {
          "type": "string",
          "description": "Name of the given property. For example, \"Screen-Resolution\" for a TV product. Maximum string size is 256 characters."
        },
        "boolValue": {
          "description": "Boolean value of the given property. For example for a TV product, \"True\" or \"False\" if the screen is UHD.",
          "type": "boolean"
        },
        "floatValue": {
          "type": "array",
          "description": "Float values of the given property. For example for a TV product 1.2345. Maximum number of specified values for this field is 400. Values are stored in an arbitrary but consistent order.",
          "items": {
            "type": "number",
            "format": "float"
          }
        },
        "unitCode": {
          "description": "Unit of the given property. For example, \"Pixels\" for a TV product. Maximum string size is 256 bytes.",
          "type": "string"
        },
        "textValue": {
          "description": "Text value of the given property. For example, \"8K(UHD)\" could be a text value for a TV product. Maximum number of specified values for this field is 400. Values are stored in an arbitrary but consistent order. Maximum string size is 256 characters.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "maxValue": {
          "format": "float",
          "type": "number",
          "description": "Maximum float value of the given property. For example for a TV product 100.00."
        },
        "minValue": {
          "format": "float",
          "type": "number",
          "description": "Minimum float value of the given property. For example for a TV product 1.00."
        },
        "intValue": {
          "description": "Integer values of the given property. For example, 1080 for a screen resolution of a TV product. Maximum number of specified values for this field is 400. Values are stored in an arbitrary but consistent order.",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array"
        }
      },
      "description": "Product property for the Cloud Retail API. For example, properties for a TV product could be \"Screen-Resolution\" or \"Screen-Size\".",
      "type": "object",
      "id": "CloudExportAdditionalProperties"
    },
    "AccountStatus": {
      "description": "The status of an account, that is, information about its products, which is computed offline and not returned immediately at insertion time.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#accountStatus`\""
        },
        "websiteClaimed": {
          "type": "boolean",
          "description": "Whether the account's website is claimed or not."
        },
        "accountManagement": {
          "type": "string",
          "description": "How the account is managed. Acceptable values are: - \"`manual`\" - \"`automatic`\" "
        },
        "accountId": {
          "description": "The ID of the account for which the status is reported.",
          "type": "string"
        },
        "accountLevelIssues": {
          "type": "array",
          "description": "A list of account level issues.",
          "items": {
            "$ref": "AccountStatusAccountLevelIssue"
          }
        },
        "products": {
          "type": "array",
          "description": "List of product-related data by channel, destination, and country. Data in this field may be delayed by up to 30 minutes.",
          "items": {
            "$ref": "AccountStatusProducts"
          }
        }
      },
      "id": "AccountStatus",
      "type": "object"
    },
    "PosDataProvidersPosDataProvider": {
      "type": "object",
      "id": "PosDataProvidersPosDataProvider",
      "properties": {
        "fullName": {
          "description": "The full name of this POS data Provider.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of Pos data Provider."
        },
        "providerId": {
          "description": "The ID of the account.",
          "type": "string",
          "format": "uint64"
        }
      }
    },
    "LiasettingsRequestInventoryVerificationResponse": {
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#liasettingsRequestInventoryVerificationResponse`\".",
          "type": "string"
        }
      },
      "type": "object",
      "id": "LiasettingsRequestInventoryVerificationResponse"
    },
    "ShippingsettingsCustomBatchResponse": {
      "properties": {
        "entries": {
          "description": "The result of the execution of the batch requests.",
          "items": {
            "$ref": "ShippingsettingsCustomBatchResponseEntry"
          },
          "type": "array"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#shippingsettingsCustomBatchResponse`\".",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ShippingsettingsCustomBatchResponse"
    },
    "AccountsUpdateLabelsResponse": {
      "type": "object",
      "id": "AccountsUpdateLabelsResponse",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#accountsUpdateLabelsResponse`\".",
          "type": "string"
        }
      }
    },
    "LocalinventoryCustomBatchResponseEntry": {
      "description": "Batch entry encoding a single local inventory update response.",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#localinventoryCustomBatchResponseEntry`\"",
          "type": "string"
        },
        "batchId": {
          "description": "The ID of the request entry this entry responds to.",
          "format": "uint32",
          "type": "integer"
        },
        "errors": {
          "$ref": "Errors",
          "description": "A list of errors for failed custombatch entries. *Note:* Schema errors fail the whole request."
        }
      },
      "id": "LocalinventoryCustomBatchResponseEntry",
      "type": "object"
    },
    "InputValueCheckboxInputValue": {
      "type": "object",
      "id": "InputValueCheckboxInputValue",
      "properties": {
        "value": {
          "description": "Required. True if the merchant checked the box field. False otherwise.",
          "type": "boolean"
        }
      },
      "description": "Value for checkbox input field."
    },
    "ProductProductDetail": {
      "id": "ProductProductDetail",
      "type": "object",
      "properties": {
        "attributeName": {
          "type": "string",
          "description": "The name of the product detail."
        },
        "sectionName": {
          "description": "The section header used to group a set of product details.",
          "type": "string"
        },
        "attributeValue": {
          "type": "string",
          "description": "The value of the product detail."
        }
      }
    },
    "PriceInsights": {
      "type": "object",
      "id": "PriceInsights",
      "properties": {
        "suggestedPriceMicros": {
          "format": "int64",
          "type": "string",
          "description": "The latest suggested price in micros (1 millionth of a standard unit, 1 USD = 1000000 micros) for the product."
        },
        "suggestedPriceCurrencyCode": {
          "type": "string",
          "description": "The suggested price currency (ISO 4217 code)."
        },
        "predictedGrossProfitChangeFraction": {
          "description": "*Deprecated*: This field is no longer supported and will start returning 0. The predicted change in gross profit as a fraction after introducing the suggested price compared to current active price. For example, 0.05 is a 5% predicted increase in gross profit.",
          "type": "number",
          "format": "double"
        },
        "predictedMonthlyGrossProfitChangeCurrencyCode": {
          "type": "string",
          "description": "*Deprecated*: This field is no longer supported and will start returning USD for all requests. The predicted monthly gross profit change currency (ISO 4217 code)."
        },
        "predictedMonthlyGrossProfitChangeMicros": {
          "description": "*Deprecated*: This field is no longer supported and will start returning 0. The predicted change in gross profit in micros (1 millionth of a standard unit, 1 USD = 1000000 micros) after introducing the suggested price for a month compared to current active price.",
          "type": "string",
          "format": "int64"
        },
        "predictedImpressionsChangeFraction": {
          "type": "number",
          "format": "double",
          "description": "The predicted change in impressions as a fraction after introducing the suggested price compared to current active price. For example, 0.05 is a 5% predicted increase in impressions."
        },
        "effectiveness": {
          "description": "The predicted effectiveness of applying the price suggestion, bucketed.",
          "enum": [
            "EFFECTIVENESS_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH"
          ],
          "type": "string",
          "enumDescriptions": [
            "Effectiveness is unknown.",
            "Effectiveness is low.",
            "Effectiveness is medium.",
            "Effectiveness is high."
          ]
        },
        "predictedConversionsChangeFraction": {
          "format": "double",
          "type": "number",
          "description": "The predicted change in conversions as a fraction after introducing the suggested price compared to current active price. For example, 0.05 is a 5% predicted increase in conversions)."
        },
        "predictedClicksChangeFraction": {
          "description": "The predicted change in clicks as a fraction after introducing the suggested price compared to current active price. For example, 0.05 is a 5% predicted increase in clicks.",
          "type": "number",
          "format": "double"
        }
      },
      "description": "Price insights fields requested by the merchant in the query. Field values are only set if the merchant queries `PriceInsightsProductView`. https://support.google.com/merchants/answer/11916926"
    },
    "SearchResponse": {
      "description": "Response message for the ReportService.Search method.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token which can be sent as `page_token` to retrieve the next page. If omitted, there are no subsequent pages."
        },
        "results": {
          "description": "Rows that matched the search query.",
          "items": {
            "$ref": "ReportRow"
          },
          "type": "array"
        }
      },
      "id": "SearchResponse",
      "type": "object"
    },
    "PickupServicesPickupService": {
      "type": "object",
      "id": "PickupServicesPickupService",
      "properties": {
        "country": {
          "description": "The CLDR country code of the carrier (for example, \"US\"). Always present.",
          "type": "string"
        },
        "carrierName": {
          "type": "string",
          "description": "The name of the carrier (for example, `\"UPS\"`). Always present."
        },
        "serviceName": {
          "type": "string",
          "description": "The name of the pickup service (for example, `\"Access point\"`). Always present."
        }
      }
    },
    "Recommendation": {
      "properties": {
        "numericalImpact": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. A numerical score of the impact from the recommendation's description. For example, a recommendation might suggest an upward trend in sales for a certain product. Higher number means larger impact."
        },
        "subType": {
          "type": "string",
          "description": "Optional. Subtype of the recommendations. Only applicable when multiple recommendations can be generated per type, and is used as an identifier of recommendation under the same recommendation type."
        },
        "additionalCallToAction": {
          "description": "Output only. CTAs of this recommendation. Repeated.",
          "items": {
            "$ref": "RecommendationCallToAction"
          },
          "readOnly": true,
          "type": "array"
        },
        "creative": {
          "description": "Output only. Any creatives attached to the recommendation. Repeated.",
          "items": {
            "$ref": "RecommendationCreative"
          },
          "readOnly": true,
          "type": "array"
        },
        "recommendationName": {
          "type": "string",
          "description": "Optional. Localized recommendation name. The localization uses the {@link `GenerateRecommendationsRequest.language_code`} field in {@link `GenerateRecommendationsRequest`} requests."
        },
        "additionalDescriptions": {
          "description": "Output only. List of additional localized descriptions for a recommendation. Localication uses the `languageCode` field in `GenerateRecommendations` requests. Not all description types are guaranteed to be present and we recommend to rely on default description.",
          "items": {
            "$ref": "RecommendationDescription"
          },
          "type": "array",
          "readOnly": true
        },
        "defaultCallToAction": {
          "$ref": "RecommendationCallToAction",
          "description": "Optional. Default CTA of the recommendation."
        },
        "title": {
          "description": "Optional. Localized Recommendation Title. Localization uses the {@link `GenerateRecommendationsRequest.language_code`} field in {@link `GenerateRecommendationsRequest`} requests.",
          "type": "string"
        },
        "defaultDescription": {
          "type": "string",
          "description": "Optional. Localized recommendation description. The localization the {@link `GenerateRecommendationsRequest.language_code`} field in {@link `GenerateRecommendationsRequest`} requests."
        },
        "type": {
          "description": "Output only. Type of the recommendation. List of currently available recommendation types: - OPPORTUNITY_CREATE_NEW_COLLECTION - OPPORTUNITY_CREATE_EMAIL_CAMPAIGN",
          "type": "string",
          "readOnly": true
        },
        "paid": {
          "description": "Optional. Indicates whether a user needs to pay when they complete the user journey suggested by the recommendation.",
          "type": "boolean"
        }
      },
      "description": "Recommendations are suggested ways to improve your merchant account's performance. For example, to engage with a feature, or start using a new Google product.",
      "type": "object",
      "id": "Recommendation"
    },
    "TimeZone": {
      "id": "TimeZone",
      "type": "object",
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "properties": {
        "id": {
          "type": "string",
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\"."
        },
        "version": {
          "type": "string",
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\"."
        }
      }
    },
    "DatafeedsCustomBatchRequestEntry": {
      "id": "DatafeedsCustomBatchRequestEntry",
      "type": "object",
      "description": "A batch entry encoding a single non-batch datafeeds request.",
      "properties": {
        "batchId": {
          "type": "integer",
          "format": "uint32",
          "description": "An entry ID, unique within the batch request."
        },
        "datafeedId": {
          "description": "The ID of the data feed to get, delete or fetch.",
          "format": "uint64",
          "type": "string"
        },
        "method": {
          "description": "The method of the batch entry. Acceptable values are: - \"`delete`\" - \"`fetchNow`\" - \"`get`\" - \"`insert`\" - \"`update`\" ",
          "type": "string"
        },
        "datafeed": {
          "$ref": "Datafeed",
          "description": "The data feed to insert."
        },
        "merchantId": {
          "description": "The ID of the managing account.",
          "format": "uint64",
          "type": "string"
        }
      }
    },
    "ProductstatusesListResponse": {
      "id": "ProductstatusesListResponse",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#productstatusesListResponse`\"."
        },
        "nextPageToken": {
          "description": "The token for the retrieval of the next page of products statuses.",
          "type": "string"
        },
        "resources": {
          "type": "array",
          "items": {
            "$ref": "ProductStatus"
          }
        }
      }
    },
    "ShippingsettingsGetSupportedHolidaysResponse": {
      "type": "object",
      "id": "ShippingsettingsGetSupportedHolidaysResponse",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#shippingsettingsGetSupportedHolidaysResponse`\".",
          "type": "string"
        },
        "holidays": {
          "description": "A list of holidays applicable for delivery guarantees. May be empty.",
          "items": {
            "$ref": "HolidaysHoliday"
          },
          "type": "array"
        }
      }
    },
    "RequestPhoneVerificationRequest": {
      "description": "Request message for the RequestPhoneVerification method.",
      "properties": {
        "phoneVerificationMethod": {
          "type": "string",
          "enumDescriptions": [
            "Unknown method.",
            "Receive verification code by SMS.",
            "Receive verification code by phone call."
          ],
          "description": "Verification method to receive verification code.",
          "enum": [
            "PHONE_VERIFICATION_METHOD_UNSPECIFIED",
            "SMS",
            "PHONE_CALL"
          ]
        },
        "languageCode": {
          "description": "Language code [IETF BCP 47 syntax](https://tools.ietf.org/html/bcp47) (for example, en-US). Language code is used to provide localized `SMS` and `PHONE_CALL`. Default language used is en-US if not provided.",
          "type": "string"
        },
        "phoneRegionCode": {
          "description": "Required. Two letter country code for the phone number, for example `CA` for Canadian numbers. See the [ISO 3166-1 alpha-2](https://wikipedia.org/wiki/ISO_3166-1_alpha-2#Officially_assigned_code_elements) officially assigned codes.",
          "type": "string"
        },
        "phoneNumber": {
          "description": "Phone number to be verified.",
          "type": "string"
        }
      },
      "id": "RequestPhoneVerificationRequest",
      "type": "object"
    },
    "MerchantCenterDestination": {
      "properties": {
        "attributionSettings": {
          "description": "Required. Attribution settings being used for the Merchant Center Destination.",
          "$ref": "AttributionSettings"
        },
        "destinationId": {
          "description": "Output only. Merchant Center Destination ID.",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "Required. Merchant-specified display name for the destination. This is the name that identifies the conversion source within the Merchant Center UI. Limited to 64 characters."
        },
        "currencyCode": {
          "description": "Required. Three-letter currency code (ISO 4217). The currency code defines in which currency the conversions sent to this destination will be reported in Merchant Center.",
          "type": "string"
        }
      },
      "description": "\"Merchant Center Destination\" sources can be used to send conversion events from a website using a Google tag directly to a Merchant Center account where the source is created.",
      "type": "object",
      "id": "MerchantCenterDestination"
    },
    "InputFieldCheckboxInput": {
      "type": "object",
      "id": "InputFieldCheckboxInput",
      "properties": {},
      "description": "Checkbox input allows merchants to provide a boolean value. Corresponds to the [html input type=checkbox](https://www.w3.org/TR/2012/WD-html-markup-20121025/input.checkbox.html#input.checkbox). If merchant checks the box, the input value for the field is `true`, otherwise it is `false`. This type of input is often used as a confirmation that the merchant completed required steps before they are allowed to start the action. In such a case, the input field is marked as required and the button to trigger the action should stay disabled until the merchant checks the box."
    },
    "CompetitiveVisibility": {
      "properties": {
        "domain": {
          "type": "string",
          "description": "Domain of your competitor or your domain, if 'is_your_domain' is true. Available only in `CompetitiveVisibilityTopMerchantView` and `CompetitiveVisibilityCompetitorView`. Required in the `SELECT` clause for `CompetitiveVisibilityTopMerchantView` and `CompetitiveVisibilityCompetitorView`. Cannot be filtered on in the 'WHERE' clause."
        },
        "adsOrganicRatio": {
          "description": "[Ads / organic ratio] (https://support.google.com/merchants/answer/11366442#zippy=%2Cadsfree-ratio) shows how often a merchant receives impressions from Shopping ads compared to organic traffic. The number is rounded and bucketed. Available only in `CompetitiveVisibilityTopMerchantView` and `CompetitiveVisibilityCompetitorView`. Cannot be filtered on in the 'WHERE' clause.",
          "type": "number",
          "format": "double"
        },
        "countryCode": {
          "type": "string",
          "description": "The country where impression appeared. Required in the `SELECT` clause. A `WHERE` condition on `competitive_visibility.country_code` is required in the query."
        },
        "categoryId": {
          "description": "Google product category ID to calculate the report for, represented in [Google's product taxonomy](https://support.google.com/merchants/answer/6324436). Required in the `SELECT` clause. A `WHERE` condition on `competitive_visibility.category_id` is required in the query.",
          "type": "string",
          "format": "int64"
        },
        "yourDomainVisibilityTrend": {
          "format": "double",
          "type": "number",
          "description": "Change in visibility based on impressions for your domain with respect to the start of the selected time range (or first day with non-zero impressions). Available only in `CompetitiveVisibilityBenchmarkView`. Cannot be filtered on in the 'WHERE' clause."
        },
        "higherPositionRate": {
          "format": "double",
          "type": "number",
          "description": "Higher position rate shows how often a competitor’s offer got placed in a higher position on the page than your offer. Available only in `CompetitiveVisibilityTopMerchantView` and `CompetitiveVisibilityCompetitorView`. Cannot be filtered on in the 'WHERE' clause."
        },
        "rank": {
          "description": "Position of the domain in the top merchants ranking for the selected keys (`date`, `category_id`, `country_code`, `listing_type`) based on impressions. 1 is the highest. Available only in `CompetitiveVisibilityTopMerchantView` and `CompetitiveVisibilityCompetitorView`. Cannot be filtered on in the 'WHERE' clause.",
          "format": "uint64",
          "type": "string"
        },
        "trafficSource": {
          "type": "string",
          "enumDescriptions": [
            "Traffic source is unknown.",
            "Organic traffic.",
            "Traffic from Ads.",
            "Organic and Ads traffic."
          ],
          "description": "Type of impression listing. Required in the `SELECT` clause. Cannot be filtered on in the 'WHERE' clause.",
          "enum": [
            "UNKNOWN",
            "ORGANIC",
            "ADS",
            "ALL"
          ]
        },
        "pageOverlapRate": {
          "format": "double",
          "type": "number",
          "description": "Page overlap rate describes how frequently competing retailers’ offers are shown together with your offers on the same page. Available only in `CompetitiveVisibilityTopMerchantView` and `CompetitiveVisibilityCompetitorView`. Cannot be filtered on in the 'WHERE' clause."
        },
        "relativeVisibility": {
          "type": "number",
          "format": "double",
          "description": "Relative visibility shows how often your competitors’ offers are shown compared to your offers. In other words, this is the number of displayed impressions of a competitor retailer divided by the number of your displayed impressions during a selected time range for a selected product category and country. Available only in `CompetitiveVisibilityCompetitorView`. Cannot be filtered on in the 'WHERE' clause."
        },
        "isYourDomain": {
          "type": "boolean",
          "description": "True if this row contains data for your domain. Available only in `CompetitiveVisibilityTopMerchantView` and `CompetitiveVisibilityCompetitorView`. Cannot be filtered on in the 'WHERE' clause."
        },
        "date": {
          "description": "Date of this row. Available only in `CompetitiveVisibilityBenchmarkView` and `CompetitiveVisibilityCompetitorView`. Required in the `SELECT` clause for `CompetitiveVisibilityMarketBenchmarkView`.",
          "$ref": "Date"
        },
        "categoryBenchmarkVisibilityTrend": {
          "format": "double",
          "type": "number",
          "description": "Change in visibility based on impressions with respect to the start of the selected time range (or first day with non-zero impressions) for a combined set of merchants with highest visibility approximating the market. Available only in `CompetitiveVisibilityBenchmarkView`. Cannot be filtered on in the 'WHERE' clause."
        }
      },
      "description": "Fields related to [competitive visibility reports] (https://support.google.com/merchants/answer/11366442).",
      "type": "object",
      "id": "CompetitiveVisibility"
    },
    "AccountBusinessInformation": {
      "type": "object",
      "id": "AccountBusinessInformation",
      "properties": {
        "address": {
          "$ref": "AccountAddress",
          "description": "The address of the business. Use `\\n` to add a second address line."
        },
        "phoneNumber": {
          "type": "string",
          "description": "The phone number of the business in [E.164](https://en.wikipedia.org/wiki/E.164) format. This can only be updated if a verified phone number is not already set. To replace a verified phone number use the `Accounts.requestphoneverification` and `Accounts.verifyphonenumber`."
        },
        "phoneVerificationStatus": {
          "description": "Verification status of the phone number of the business. This status is read only and can be updated only by successful phone verification. Acceptable values are: - \"`verified`\" - \"`unverified`\" ",
          "type": "string"
        },
        "koreanBusinessRegistrationNumber": {
          "type": "string",
          "description": "The 10-digit [Korean business registration number](https://support.google.com/merchants/answer/9037766) separated with dashes in the format: XXX-XX-XXXXX. This field will only be updated if explicitly set."
        },
        "customerService": {
          "$ref": "AccountCustomerService",
          "description": "The customer service information of the business."
        }
      }
    },
    "InputFieldChoiceInput": {
      "properties": {
        "options": {
          "description": "A list of choices. Only one option can be selected.",
          "items": {
            "$ref": "InputFieldChoiceInputChoiceInputOption"
          },
          "type": "array"
        }
      },
      "description": "Choice input allows merchants to select one of the offered choices. Some choices may be linked to additional input fields that should be displayed under or next to the choice option. The value for the additional input field needs to be provided only when the specific choice is selected by the merchant. For example, additional input field can be hidden or disabled until the merchant selects the specific choice.",
      "type": "object",
      "id": "InputFieldChoiceInput"
    },
    "ECommercePlatformLinkInfo": {
      "description": "Additional information required for E_COMMERCE_PLATFORM link type.",
      "properties": {
        "externalAccountId": {
          "description": "The id used by the third party service provider to identify the merchant.",
          "type": "string"
        }
      },
      "id": "ECommercePlatformLinkInfo",
      "type": "object"
    },
    "ExternalAction": {
      "description": "Action that is implemented and performed outside of the third-party application. It should redirect the merchant to the provided URL of an external system where they can perform the action. For example to request a review in the Merchant Center.",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Default value. Will never be provided by the API.",
            "Redirect to Merchant Center where the merchant can request a review for issue related to their product.",
            "Redirect to Merchant Center where the merchant can request a review for issue related to their account.",
            "Redirect to the form in Help Center where the merchant can request a legal appeal for the issue.",
            "Redirect to Merchant Center where the merchant can perform identity verification."
          ],
          "description": "The type of external action.",
          "enum": [
            "EXTERNAL_ACTION_TYPE_UNSPECIFIED",
            "REVIEW_PRODUCT_ISSUE_IN_MERCHANT_CENTER",
            "REVIEW_ACCOUNT_ISSUE_IN_MERCHANT_CENTER",
            "LEGAL_APPEAL_IN_HELP_CENTER",
            "VERIFY_IDENTITY_IN_MERCHANT_CENTER"
          ]
        },
        "uri": {
          "type": "string",
          "description": "URL to external system, for example Merchant Center, where the merchant can perform the action."
        }
      },
      "id": "ExternalAction",
      "type": "object"
    },
    "LiaInventorySettings": {
      "properties": {
        "status": {
          "description": "The status of the inventory verification process. Acceptable values are: - \"`active`\" - \"`inactive`\" - \"`pending`\" ",
          "type": "string"
        },
        "inventoryVerificationContactEmail": {
          "type": "string",
          "description": "The email of the contact for the inventory verification process."
        },
        "inventoryVerificationContactName": {
          "description": "The name of the contact for the inventory verification process.",
          "type": "string"
        },
        "inventoryVerificationContactStatus": {
          "type": "string",
          "description": "The status of the verification contact. Acceptable values are: - \"`active`\" - \"`inactive`\" - \"`pending`\" "
        }
      },
      "id": "LiaInventorySettings",
      "type": "object"
    },
    "ProductId": {
      "id": "ProductId",
      "type": "object",
      "description": "The Content API ID of the product.",
      "properties": {
        "productId": {
          "type": "string",
          "description": "The Content API ID of the product, in the form `channel:contentLanguage:targetCountry:offerId`."
        }
      }
    },
    "LiaOnDisplayToOrderSettings": {
      "properties": {
        "shippingCostPolicyUrl": {
          "type": "string",
          "description": "Shipping cost and policy URL."
        },
        "status": {
          "type": "string",
          "description": "The status of the ?On display to order? feature. Acceptable values are: - \"`active`\" - \"`inactive`\" - \"`pending`\" "
        }
      },
      "type": "object",
      "id": "LiaOnDisplayToOrderSettings"
    },
    "AccountImageImprovements": {
      "type": "object",
      "id": "AccountImageImprovements",
      "properties": {
        "effectiveAllowAutomaticImageImprovements": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. The effective value of allow_automatic_image_improvements. If account_image_improvements_settings is present, then this value is the same. Otherwise, it represents the inherited value of the parent account. Read-only."
        },
        "accountImageImprovementsSettings": {
          "description": "Determines how the images should be automatically updated. If this field is not present, then the settings will be deleted. If there are no settings for subaccount, they are inherited from aggregator.",
          "$ref": "AccountImageImprovementsSettings"
        }
      },
      "description": "This improvement will attempt to automatically correct submitted images if they don't meet the [image requirements](https://support.google.com/merchants/answer/6324350), for example, removing overlays. If successful, the image will be replaced and approved. This improvement is only applied to images of disapproved offers. For more information see: [Automatic image improvements](https://support.google.com/merchants/answer/9242973)"
    },
    "AccountsLinkRequest": {
      "id": "AccountsLinkRequest",
      "type": "object",
      "properties": {
        "linkedAccountId": {
          "type": "string",
          "description": "The ID of the linked account."
        },
        "paymentServiceProviderLinkInfo": {
          "description": "Additional information required for `paymentServiceProvider` link type.",
          "$ref": "PaymentServiceProviderLinkInfo"
        },
        "eCommercePlatformLinkInfo": {
          "$ref": "ECommercePlatformLinkInfo",
          "description": "Additional information required for `eCommercePlatform` link type."
        },
        "action": {
          "type": "string",
          "description": "Action to perform for this link. The `\"request\"` action is only available to select merchants. Acceptable values are: - \"`approve`\" - \"`remove`\" - \"`request`\" "
        },
        "services": {
          "description": " Acceptable values are: - \"`shoppingAdsProductManagement`\" - \"`shoppingActionsProductManagement`\" - \"`shoppingActionsOrderManagement`\" - \"`paymentProcessing`\" ",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "linkType": {
          "description": "Type of the link between the two accounts. Acceptable values are: - \"`channelPartner`\" - \"`eCommercePlatform`\" - \"`paymentServiceProvider`\" ",
          "type": "string"
        }
      }
    },
    "ProductSustainabilityIncentive": {
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified or unknown sustainability incentive type.",
            "Program offering tax liability reductions for electric vehicles and, in some countries, plug-in hybrids. These reductions can be based on a specific amount or a percentage of the sale price.",
            "A subsidy program, often called an environmental bonus, provides a purchase grant for electric vehicles and, in some countries, plug-in hybrids. The grant amount may be a fixed sum or a percentage of the sale price."
          ],
          "description": "Required. Sustainability incentive program.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "EV_TAX_CREDIT",
            "EV_PRICE_DISCOUNT"
          ]
        },
        "percentage": {
          "description": "Optional. The percentage of the sale price that the incentive is applied to.",
          "format": "double",
          "type": "number"
        },
        "amount": {
          "description": "Optional. The fixed amount of the incentive.",
          "$ref": "Price"
        }
      },
      "description": "Information regarding sustainability related incentive programs such as rebates or tax relief.",
      "type": "object",
      "id": "ProductSustainabilityIncentive"
    },
    "TopicTrends": {
      "type": "object",
      "id": "TopicTrends",
      "properties": {
        "last30DaysSearchInterest": {
          "type": "number",
          "format": "double",
          "description": "Search interest in the last 30 days, with the same normalization as search_interest. This field is only present for a past date."
        },
        "topic": {
          "type": "string",
          "description": "Google-provided topic trends are calculated for. Only top eight topics are returned. Topic is what shoppers are searching for on Google, grouped by the same concept."
        },
        "last7DaysSearchInterest": {
          "type": "number",
          "format": "double",
          "description": "Search interest in the last 7 days, with the same normalization as search_interest. This field is only present for a past date."
        },
        "last120DaysSearchInterest": {
          "description": "Search interest in the last 120 days, with the same normalization as search_interest. This field is only present for a past date.",
          "type": "number",
          "format": "double"
        },
        "customerCountryCode": {
          "type": "string",
          "description": "Country trends are calculated for. Must be a two-letter country code (ISO 3166-1-alpha-2 code), for example, `“US”`."
        },
        "date": {
          "$ref": "Date",
          "description": "Date the trend score was retrieved."
        },
        "searchInterest": {
          "format": "double",
          "type": "number",
          "description": "Daily search interest, normalized to the time and country to make comparisons easier, with 100 representing peak popularity (from 0 to 100) for the requested time period and location."
        },
        "last90DaysSearchInterest": {
          "description": "Search interest in the last 90 days, with the same normalization as search_interest. This field is only present for a past date.",
          "format": "double",
          "type": "number"
        },
        "next7DaysSearchInterest": {
          "description": "Estimated search interest in the next 7 days, with the same normalization as search_interest. This field is only present for a future date.",
          "format": "double",
          "type": "number"
        }
      },
      "description": "Topic trends fields requested by the merchant in the query. Field values are only set if the merchant queries `TopicTrendsView`. Forecast data can be queried up to 13 weeks by passing a future date in the `date` field. Historical data is measured daily, and forecasted data is projected weekly. All data points are normalized based on the highest data points returned in the response. If you make separate queries with different date ranges, you might see different values for the same date in each response. The recommended way to get a trend score of a topic is `last7_days_search_interest / last{$day}_days_search_interest - 1`. You can view trends for up to eight topics at a time."
    },
    "Brand": {
      "properties": {
        "name": {
          "description": "Name of the brand.",
          "type": "string"
        }
      },
      "description": "Brand fields. Values are only set for fields requested explicitly in the request's search query.",
      "type": "object",
      "id": "Brand"
    },
    "RegionalinventoryCustomBatchResponseEntry": {
      "description": "A batch entry encoding a single non-batch regional inventory response.",
      "properties": {
        "errors": {
          "$ref": "Errors",
          "description": "A list of errors for failed custombatch entries. *Note:* Schema errors fail the whole request."
        },
        "regionalInventory": {
          "$ref": "RegionalInventory",
          "description": "Price and availability of the product."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#regionalinventoryCustomBatchResponseEntry`\"."
        },
        "batchId": {
          "description": "The ID of the request entry this entry responds to.",
          "type": "integer",
          "format": "uint32"
        }
      },
      "id": "RegionalinventoryCustomBatchResponseEntry",
      "type": "object"
    },
    "PaymentServiceProviderLinkInfo": {
      "id": "PaymentServiceProviderLinkInfo",
      "type": "object",
      "description": "Additional information required for PAYMENT_SERVICE_PROVIDER link type.",
      "properties": {
        "externalAccountId": {
          "description": "The id used by the third party service provider to identify the merchant.",
          "type": "string"
        },
        "externalAccountBusinessCountry": {
          "description": "The business country of the merchant account as identified by the third party service provider.",
          "type": "string"
        }
      }
    },
    "HolidaysHoliday": {
      "properties": {
        "type": {
          "type": "string",
          "description": "The holiday type. Always present. Acceptable values are: - \"`Christmas`\" - \"`Easter`\" - \"`Father's Day`\" - \"`Halloween`\" - \"`Independence Day (USA)`\" - \"`Mother's Day`\" - \"`Thanksgiving`\" - \"`Valentine's Day`\" "
        },
        "deliveryGuaranteeDate": {
          "type": "string",
          "description": "Date on which the order has to arrive at the customer's, in ISO 8601 format. For example, \"2016-12-24\" for 24th December 2016. Always present."
        },
        "id": {
          "description": "Unique identifier for the holiday to be used when configuring holiday cutoffs. Always present.",
          "type": "string"
        },
        "deliveryGuaranteeHour": {
          "description": "Hour of the day in the delivery location's timezone on the guaranteed delivery date by which the order has to arrive at the customer's. Possible values are: 0 (midnight), 1, ..., 12 (noon), 13, ..., 23. Always present.",
          "type": "string",
          "format": "uint64"
        },
        "countryCode": {
          "description": "The CLDR territory code of the country in which the holiday is available. For example, \"US\", \"DE\", \"GB\". A holiday cutoff can only be configured in a shipping settings service with matching delivery country. Always present.",
          "type": "string"
        },
        "date": {
          "description": "Date of the holiday, in ISO 8601 format. For example, \"2016-12-25\" for Christmas 2016. Always present.",
          "type": "string"
        }
      },
      "id": "HolidaysHoliday",
      "type": "object"
    },
    "InputFieldTextInput": {
      "type": "object",
      "id": "InputFieldTextInput",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Default value. Will never be provided by the API.",
            "Used when a short text is expected. The field can be rendered as a [text field](https://www.w3.org/TR/2012/WD-html-markup-20121025/input.text.html#input.text).",
            "Used when a longer text is expected. The field should be rendered as a [textarea](https://www.w3.org/TR/2012/WD-html-markup-20121025/textarea.html#textarea)."
          ],
          "description": "Type of the text input",
          "enum": [
            "TEXT_INPUT_TYPE_UNSPECIFIED",
            "GENERIC_SHORT_TEXT",
            "GENERIC_LONG_TEXT"
          ]
        },
        "formatInfo": {
          "description": "Information about the required format. If present, it should be shown close to the input field to help merchants to provide a correct value. For example: \"VAT numbers should be in a format similar to SK9999999999\"",
          "type": "string"
        },
        "additionalInfo": {
          "description": "Additional info regarding the field to be displayed to merchant. For example, warning to not include personal identifiable information. There may be more information to be shown in a tooltip.",
          "$ref": "TextWithTooltip"
        },
        "ariaLabel": {
          "type": "string",
          "description": "Text to be used as the [aria-label](https://www.w3.org/TR/WCAG20-TECHS/ARIA14.html) for the input."
        }
      },
      "description": "Text input allows merchants to provide a text value."
    },
    "LiasettingsListResponse": {
      "type": "object",
      "id": "LiasettingsListResponse",
      "properties": {
        "nextPageToken": {
          "description": "The token for the retrieval of the next page of LIA settings.",
          "type": "string"
        },
        "resources": {
          "items": {
            "$ref": "LiaSettings"
          },
          "type": "array"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#liasettingsListResponse`\".",
          "type": "string"
        }
      }
    },
    "ProductStatusDestinationStatus": {
      "properties": {
        "destination": {
          "description": "The name of the destination",
          "type": "string"
        },
        "approvedCountries": {
          "type": "array",
          "description": "List of country codes (ISO 3166-1 alpha-2) where the offer is approved.",
          "items": {
            "type": "string"
          }
        },
        "status": {
          "type": "string",
          "deprecated": true,
          "description": "Deprecated. Destination approval status in `targetCountry` of the offer."
        },
        "pendingCountries": {
          "type": "array",
          "description": "List of country codes (ISO 3166-1 alpha-2) where the offer is pending approval.",
          "items": {
            "type": "string"
          }
        },
        "channel": {
          "type": "string",
          "description": "The channel of the destination."
        },
        "disapprovedCountries": {
          "description": "List of country codes (ISO 3166-1 alpha-2) where the offer is disapproved.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "ProductStatusDestinationStatus"
    },
    "AccountIdentityType": {
      "id": "AccountIdentityType",
      "type": "object",
      "description": "The account identity type used to specify attributes.",
      "properties": {
        "selfIdentified": {
          "type": "boolean",
          "description": "Optional. Indicates that the business identifies itself with a given identity type. Setting this field does not automatically mean eligibility for promotions."
        }
      }
    },
    "DatafeedFetchSchedule": {
      "description": "The required fields vary based on the frequency of fetching. For a monthly fetch schedule, day_of_month and hour are required. For a weekly fetch schedule, weekday and hour are required. For a daily fetch schedule, only hour is required.",
      "properties": {
        "hour": {
          "description": "The hour of the day the feed file should be fetched (0-23).",
          "format": "uint32",
          "type": "integer"
        },
        "timeZone": {
          "description": "Time zone used for schedule. UTC by default. For example, \"America/Los_Angeles\".",
          "type": "string"
        },
        "fetchUrl": {
          "type": "string",
          "description": "The URL where the feed file can be fetched. Google Merchant Center will support automatic scheduled uploads using the HTTP, HTTPS, FTP, or SFTP protocols, so the value will need to be a valid link using one of those four protocols."
        },
        "username": {
          "type": "string",
          "description": "An optional user name for fetch_url."
        },
        "password": {
          "description": "An optional password for fetch_url.",
          "type": "string"
        },
        "minuteOfHour": {
          "type": "integer",
          "format": "uint32",
          "description": "The minute of the hour the feed file should be fetched (0-59). Read-only."
        },
        "weekday": {
          "type": "string",
          "description": "The day of the week the feed file should be fetched. Acceptable values are: - \"`monday`\" - \"`tuesday`\" - \"`wednesday`\" - \"`thursday`\" - \"`friday`\" - \"`saturday`\" - \"`sunday`\" "
        },
        "paused": {
          "type": "boolean",
          "description": "Whether the scheduled fetch is paused or not."
        },
        "dayOfMonth": {
          "description": "The day of the month the feed file should be fetched (1-31).",
          "type": "integer",
          "format": "uint32"
        }
      },
      "id": "DatafeedFetchSchedule",
      "type": "object"
    },
    "ReturnPolicyOnlinePolicy": {
      "description": "The available policies.",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Number of days after a return is delivered.",
            "No returns.",
            "Life time returns."
          ],
          "description": "Policy type.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "NUMBER_OF_DAYS_AFTER_DELIVERY",
            "NO_RETURNS",
            "LIFETIME_RETURNS"
          ]
        },
        "days": {
          "description": "The number of days items can be returned after delivery, where one day is defined to be 24 hours after the delivery timestamp. Required for `numberOfDaysAfterDelivery` returns.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "ReturnPolicyOnlinePolicy",
      "type": "object"
    },
    "AccountsCustomBatchRequest": {
      "type": "object",
      "id": "AccountsCustomBatchRequest",
      "properties": {
        "entries": {
          "type": "array",
          "description": "The request entries to be processed in the batch.",
          "items": {
            "$ref": "AccountsCustomBatchRequestEntry"
          }
        }
      }
    },
    "PostalCodeRange": {
      "id": "PostalCodeRange",
      "type": "object",
      "properties": {
        "postalCodeRangeEnd": {
          "description": "A postal code or a pattern of the form `prefix*` denoting the inclusive upper bound of the range defining the area. It must have the same length as `postalCodeRangeBegin`: if `postalCodeRangeBegin` is a postal code then `postalCodeRangeEnd` must be a postal code too; if `postalCodeRangeBegin` is a pattern then `postalCodeRangeEnd` must be a pattern with the same prefix length. Optional: if not set, then the area is defined as being all the postal codes matching `postalCodeRangeBegin`.",
          "type": "string"
        },
        "postalCodeRangeBegin": {
          "type": "string",
          "description": "A postal code or a pattern of the form `prefix*` denoting the inclusive lower bound of the range defining the area. Examples values: `\"94108\"`, `\"9410*\"`, `\"9*\"`. Required."
        }
      }
    },
    "ShoppingAdsProgramStatus": {
      "description": "Response message for GetShoppingAdsProgramStatus.",
      "properties": {
        "globalState": {
          "description": "State of the program. `ENABLED` if there are offers for at least one region.",
          "enum": [
            "PROGRAM_STATE_UNSPECIFIED",
            "NOT_ENABLED",
            "NO_OFFERS_UPLOADED",
            "ENABLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "State is unknown.",
            "Program is not enabled for any country.",
            "No products have been uploaded for any region. Upload products to Merchant Center.",
            "Program is enabled and offers are uploaded for at least one country."
          ]
        },
        "regionStatuses": {
          "description": "Status of the program in each region. Regions with the same status and review eligibility are grouped together in `regionCodes`.",
          "items": {
            "$ref": "ShoppingAdsProgramStatusRegionStatus"
          },
          "type": "array"
        }
      },
      "id": "ShoppingAdsProgramStatus",
      "type": "object"
    },
    "RegionPostalCodeArea": {
      "id": "RegionPostalCodeArea",
      "type": "object",
      "description": "A list of postal codes that defines the region area. Note: All regions defined using postal codes are accessible via the account's `ShippingSettings.postalCodeGroups` resource.",
      "properties": {
        "regionCode": {
          "type": "string",
          "description": "Required. CLDR territory code or the country the postal code group applies to."
        },
        "postalCodes": {
          "description": "Required. A range of postal codes.",
          "items": {
            "$ref": "RegionPostalCodeAreaPostalCodeRange"
          },
          "type": "array"
        }
      }
    },
    "HolidayCutoff": {
      "type": "object",
      "id": "HolidayCutoff",
      "properties": {
        "deadlineHour": {
          "description": "Hour of the day on the deadline date until which the order has to be placed to qualify for the delivery guarantee. Possible values are: 0 (midnight), 1, ..., 12 (noon), 13, ..., 23. Required.",
          "type": "integer",
          "format": "uint32"
        },
        "holidayId": {
          "description": "Unique identifier for the holiday. Required.",
          "type": "string"
        },
        "deadlineDate": {
          "type": "string",
          "description": "Date of the order deadline, in ISO 8601 format. For example, \"2016-11-29\" for 29th November 2016. Required."
        },
        "visibleFromDate": {
          "type": "string",
          "description": "Date on which the deadline will become visible to consumers in ISO 8601 format. For example, \"2016-10-31\" for 31st October 2016. Required."
        },
        "deadlineTimezone": {
          "description": "Timezone identifier for the deadline hour (for example, \"Europe/Zurich\"). List of identifiers. Required.",
          "type": "string"
        }
      }
    },
    "VerifyPhoneNumberRequest": {
      "properties": {
        "verificationCode": {
          "type": "string",
          "description": "The verification code that was sent to the phone number for validation."
        },
        "verificationId": {
          "description": "The verification ID returned by `requestphoneverification`.",
          "type": "string"
        },
        "phoneVerificationMethod": {
          "type": "string",
          "enumDescriptions": [
            "Unknown method.",
            "Receive verification code by SMS.",
            "Receive verification code by phone call."
          ],
          "description": "Verification method used to receive verification code.",
          "enum": [
            "PHONE_VERIFICATION_METHOD_UNSPECIFIED",
            "SMS",
            "PHONE_CALL"
          ]
        }
      },
      "description": "Request message for the VerifyPhoneNumber method.",
      "type": "object",
      "id": "VerifyPhoneNumberRequest"
    },
    "Error": {
      "id": "Error",
      "type": "object",
      "description": "An error returned by the API.",
      "properties": {
        "reason": {
          "type": "string",
          "description": "The error code."
        },
        "domain": {
          "description": "The domain of the error.",
          "type": "string"
        },
        "message": {
          "description": "A description of the error.",
          "type": "string"
        }
      }
    },
    "ProductSubscriptionCost": {
      "id": "ProductSubscriptionCost",
      "type": "object",
      "properties": {
        "periodLength": {
          "description": "The number of subscription periods the buyer has to pay.",
          "format": "int64",
          "type": "string"
        },
        "period": {
          "type": "string",
          "description": "The type of subscription period. - \"`month`\" - \"`year`\" "
        },
        "amount": {
          "$ref": "Price",
          "description": "The amount the buyer has to pay per subscription period."
        }
      }
    },
    "ConversionSource": {
      "properties": {
        "googleAnalyticsLink": {
          "description": "Immutable. Conversion Source of type \"Link to Google Analytics Property\".",
          "$ref": "GoogleAnalyticsLink"
        },
        "merchantCenterDestination": {
          "description": "Conversion Source of type \"Merchant Center Tag Destination\".",
          "$ref": "MerchantCenterDestination"
        },
        "expireTime": {
          "description": "Output only. The time when an archived conversion source becomes permanently deleted and is no longer available to undelete.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "conversionSourceId": {
          "description": "Output only. Generated by the Content API upon creation of a new `ConversionSource`. Format: [a-z]{4}:.+ The four characters before the colon represent the type of conversio source. Content after the colon represents the ID of the conversion source within that type. The ID of two different conversion sources might be the same across different types. The following type prefixes are supported: - galk: For GoogleAnalyticsLink sources. - mcdn: For MerchantCenterDestination sources.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "ARCHIVED",
            "PENDING"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "",
            "Conversion source is fully functional.",
            "Conversion source has been archived in the last 30 days and not currently functional. Can be restored using the undelete method.",
            "Conversion source creation has started but not fully finished yet."
          ],
          "description": "Output only. Current state of this conversion source. Can't be edited through the API.",
          "type": "string"
        }
      },
      "description": "Represents a conversion source owned by a Merchant account. A merchant account can have up to 200 conversion sources.",
      "type": "object",
      "id": "ConversionSource"
    },
    "ReturnPolicyOnlineReturnShippingFee": {
      "type": "object",
      "id": "ReturnPolicyOnlineReturnShippingFee",
      "properties": {
        "type": {
          "description": "Type of return shipping fee.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "FIXED",
            "CUSTOMER_PAYING_ACTUAL_FEE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The return shipping fee is a fixed value.",
            "Customer will pay the actual return shipping fee."
          ]
        },
        "fixedFee": {
          "description": "Fixed return shipping fee amount. This value is only applicable when type is FIXED. We will treat the return shipping fee as free if type is FIXED and this value is not set.",
          "$ref": "PriceAmount"
        }
      },
      "description": "The return shipping fee. This can either be a fixed fee or a boolean to indicate that the customer pays the actual shipping cost."
    },
    "DeliveryArea": {
      "type": "object",
      "id": "DeliveryArea",
      "properties": {
        "countryCode": {
          "description": "Required. The country that the product can be delivered to. Submit a [unicode CLDR region](http://www.unicode.org/repos/cldr/tags/latest/common/main/en.xml) such as `US` or `CH`.",
          "type": "string"
        },
        "postalCodeRange": {
          "$ref": "DeliveryAreaPostalCodeRange",
          "description": "A postal code, postal code range or postal code prefix that defines this area. Limited to US and AUS."
        },
        "regionCode": {
          "type": "string",
          "description": "A state, territory, or prefecture. This is supported for the United States, Australia, and Japan. Provide a subdivision code from the ISO 3166-2 code tables ([US](https://en.wikipedia.org/wiki/ISO_3166-2:US), [AU](https://en.wikipedia.org/wiki/ISO_3166-2:AU), or [JP](https://en.wikipedia.org/wiki/ISO_3166-2:JP)) without country prefix (for example, `\"NY\"`, `\"NSW\"`, `\"03\"`)."
        }
      },
      "description": "A delivery area for the product. Only one of `countryCode` or `postalCodeRange` must be set."
    },
    "PosStore": {
      "id": "PosStore",
      "type": "object",
      "description": "Store resource.",
      "properties": {
        "storeAddress": {
          "description": "Required. The street address of the store.",
          "type": "string"
        },
        "matchingStatus": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The matching status of POS store and Google Business Profile store. Possible values are: - \"`matched`\": The POS store is successfully matched with the Google Business Profile store. - \"`failed`\": The POS store is not matched with the Google Business Profile store. See matching_status_hint for further details. Note that there is up to 48 hours propagation delay for changes in Merchant Center (e.g. creation of new account, accounts linking) and Google Business Profile (e.g. store address update) which may affect the matching status. In such cases, after a delay call [pos.list](https://developers.google.com/shopping-content/reference/rest/v2.1/pos/list) to retrieve the updated matching status. "
        },
        "phoneNumber": {
          "type": "string",
          "description": "The store phone number."
        },
        "placeId": {
          "type": "string",
          "description": "The Google Place Id of the store location."
        },
        "storeCode": {
          "description": "Required. A store identifier that is unique for the given merchant.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#posStore`\""
        },
        "matchingStatusHint": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The hint of why the matching has failed. This is only set when matching_status=failed. Possible values are: - \"`linked-store-not-found`\": There aren't any Google Business Profile stores available for matching. Connect your Merchant Center account with the Google Business Profile account. Or add a new Google Business Profile store corresponding to the POS store. - \"`store-match-not-found`\": The provided POS store couldn't be matched to any of the connected Google Business Profile stores. Merchant Center account is connected correctly and stores are available on Google Business Profile, but POS store location address does not match with Google Business Profile stores' addresses. Update POS store address or Google Business Profile store address to match correctly. - \"`store-match-unverified`\": The provided POS store couldn't be matched to any of the connected Google Business Profile stores, as the matched Google Business Profile store is unverified. Go through the Google Business Profile verification process to match correctly. "
        },
        "gcidCategory": {
          "type": "array",
          "description": "The business type of the store.",
          "items": {
            "type": "string"
          }
        },
        "websiteUrl": {
          "type": "string",
          "description": "The website url for the store or merchant."
        },
        "storeName": {
          "type": "string",
          "description": "The merchant or store name."
        }
      }
    },
    "CollectionStatusItemLevelIssue": {
      "type": "object",
      "id": "CollectionStatusItemLevelIssue",
      "properties": {
        "servability": {
          "type": "string",
          "description": "How this issue affects the serving of the collection."
        },
        "destination": {
          "description": "The destination the issue applies to.",
          "type": "string"
        },
        "attributeName": {
          "type": "string",
          "description": "The attribute's name, if the issue is caused by a single attribute."
        },
        "detail": {
          "type": "string",
          "description": "A detailed issue description in English."
        },
        "description": {
          "description": "A short issue description in English.",
          "type": "string"
        },
        "resolution": {
          "description": "Whether the issue can be resolved by the merchant.",
          "type": "string"
        },
        "code": {
          "description": "The error code of the issue.",
          "type": "string"
        },
        "documentation": {
          "description": "The URL of a web page to help with resolving this issue.",
          "type": "string"
        },
        "applicableCountries": {
          "type": "array",
          "description": "Country codes (ISO 3166-1 alpha-2) where issue applies to the offer.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Issue associated with the collection."
    },
    "AccountAddress": {
      "id": "AccountAddress",
      "type": "object",
      "properties": {
        "locality": {
          "description": "City, town or commune. May also include dependent localities or sublocalities (for example, neighborhoods or suburbs).",
          "type": "string"
        },
        "region": {
          "type": "string",
          "description": "Top-level administrative subdivision of the country. For example, a state like California (\"CA\") or a province like Quebec (\"QC\")."
        },
        "streetAddress": {
          "type": "string",
          "description": "Street-level part of the address. Use `\\n` to add a second line."
        },
        "postalCode": {
          "description": "Postal code or ZIP (for example, \"94043\").",
          "type": "string"
        },
        "country": {
          "description": "CLDR country code (for example, \"US\"). All MCA sub-accounts inherit the country of their parent MCA by default, however the country can be updated for individual sub-accounts.",
          "type": "string"
        }
      }
    },
    "AccountLabel": {
      "properties": {
        "labelType": {
          "type": "string",
          "description": "Output only. The type of this label.",
          "enumDescriptions": [
            "Unknown label type.",
            "Indicates that the label was created manually.",
            "Indicates that the label was created automatically by CSS Center."
          ],
          "readOnly": true,
          "enum": [
            "LABEL_TYPE_UNSPECIFIED",
            "MANUAL",
            "AUTOMATIC"
          ]
        },
        "accountId": {
          "description": "Immutable. The ID of account this label belongs to.",
          "format": "int64",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The display name of this label."
        },
        "description": {
          "type": "string",
          "description": "The description of this label."
        },
        "labelId": {
          "type": "string",
          "readOnly": true,
          "format": "int64",
          "description": "Output only. The ID of the label."
        }
      },
      "description": "Label assigned by CSS domain or CSS group to one of its sub-accounts.",
      "type": "object",
      "id": "AccountLabel"
    },
    "AccountsLinkResponse": {
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#accountsLinkResponse`\".",
          "type": "string"
        }
      },
      "type": "object",
      "id": "AccountsLinkResponse"
    },
    "ProductstatusesCustomBatchResponseEntry": {
      "description": "A batch entry encoding a single non-batch productstatuses response.",
      "properties": {
        "batchId": {
          "description": "The ID of the request entry this entry responds to.",
          "format": "uint32",
          "type": "integer"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#productstatusesCustomBatchResponseEntry`\""
        },
        "productStatus": {
          "description": "The requested product status. Only defined if the request was successful.",
          "$ref": "ProductStatus"
        },
        "errors": {
          "$ref": "Errors",
          "description": "A list of errors for failed custombatch entries. *Note:* Schema errors fail the whole request."
        }
      },
      "id": "ProductstatusesCustomBatchResponseEntry",
      "type": "object"
    },
    "UrlSettings": {
      "properties": {
        "checkoutUriTemplate": {
          "type": "string",
          "description": "URL template when the placeholders are expanded will redirect the buyer to the merchant checkout page with the item in the cart."
        },
        "cartUriTemplate": {
          "type": "string",
          "description": "URL template when the placeholders are expanded will redirect the buyer to the cart page on the merchant website with the selected item in cart."
        }
      },
      "description": "Specifications related to the `Checkout` URL. The `UriTemplate` is of the form `https://www.mystore.com/checkout?item_id={id}` where `{id}` will be automatically replaced with data from the merchant account with this attribute [offer_id](https://developers.google.com/shopping-content/reference/rest/v2.1/products#Product.FIELDS.offer_id)",
      "type": "object",
      "id": "UrlSettings"
    },
    "ReturnPolicyOnlineReturnReasonCategoryInfo": {
      "type": "object",
      "id": "ReturnPolicyOnlineReturnReasonCategoryInfo",
      "properties": {
        "returnLabelSource": {
          "description": "The corresponding return label source. If the `ReturnMethod` field includes `BY_MAIL`, it is required to specify `ReturnLabelSource` for both `BUYER_REMORSE` and `ITEM_DEFECT` return reason categories.",
          "enum": [
            "RETURN_LABEL_SOURCE_UNSPECIFIED",
            "DOWNLOAD_AND_PRINT",
            "IN_THE_BOX",
            "CUSTOMER_RESPONSIBILITY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Download and print the label.",
            "Label in the box.",
            "Customers' responsibility to get the label."
          ]
        },
        "returnReasonCategory": {
          "description": "The return reason category.",
          "enum": [
            "RETURN_REASON_CATEGORY_UNSPECIFIED",
            "BUYER_REMORSE",
            "ITEM_DEFECT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Buyer remorse.",
            "Item defect."
          ]
        },
        "returnShippingFee": {
          "description": "The corresponding return shipping fee. This is only applicable when returnLabelSource is not the customer's responsibility.",
          "$ref": "ReturnPolicyOnlineReturnShippingFee"
        }
      },
      "description": "The return reason category info wrapper."
    },
    "DatafeedsListResponse": {
      "type": "object",
      "id": "DatafeedsListResponse",
      "properties": {
        "resources": {
          "items": {
            "$ref": "Datafeed"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The token for the retrieval of the next page of datafeeds.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#datafeedsListResponse`\"."
        }
      }
    },
    "InputField": {
      "description": "Input field that needs to be available to the merchant. If the field is marked as required, then a value needs to be provided for a successful processing of the request.",
      "properties": {
        "id": {
          "description": "Not for display but need to be sent back for the given input field.",
          "type": "string"
        },
        "choiceInput": {
          "$ref": "InputFieldChoiceInput",
          "description": "Input field to select one of the offered choices. Corresponds to the [html input type=radio](https://www.w3.org/TR/2012/WD-html-markup-20121025/input.radio.html#input.radio)."
        },
        "label": {
          "$ref": "TextWithTooltip",
          "description": "Input field label. There may be more information to be shown in a tooltip."
        },
        "textInput": {
          "$ref": "InputFieldTextInput",
          "description": "Input field to provide text information. Corresponds to the [html input type=text](https://www.w3.org/TR/2012/WD-html-markup-20121025/input.text.html#input.text) or [html textarea](https://www.w3.org/TR/2012/WD-html-markup-20121025/textarea.html#textarea)."
        },
        "required": {
          "description": "Whether the field is required. The action button needs to stay disabled till values for all required fields are provided.",
          "type": "boolean"
        },
        "checkboxInput": {
          "description": "Input field to provide a boolean value. Corresponds to the [html input type=checkbox](https://www.w3.org/TR/2012/WD-html-markup-20121025/input.checkbox.html#input.checkbox).",
          "$ref": "InputFieldCheckboxInput"
        }
      },
      "id": "InputField",
      "type": "object"
    },
    "AccountShippingImprovements": {
      "type": "object",
      "id": "AccountShippingImprovements",
      "properties": {
        "allowShippingImprovements": {
          "type": "boolean",
          "description": "Enables automatic shipping improvements."
        }
      },
      "description": "Not available for MCAs [accounts](https://support.google.com/merchants/answer/188487). By turning on [automatic shipping improvements](https://support.google.com/merchants/answer/10027038), you are allowing Google to improve the accuracy of your delivery times shown to shoppers using Google. More accurate delivery times, especially when faster, typically lead to better conversion rates. Google will improve your estimated delivery times based on various factors: * Delivery address of an order * Current handling time and shipping time settings * Estimated weekdays or business days * Parcel tracking data"
    },
    "RegionalinventoryCustomBatchRequest": {
      "properties": {
        "entries": {
          "type": "array",
          "description": "The request entries to be processed in the batch.",
          "items": {
            "$ref": "RegionalinventoryCustomBatchRequestEntry"
          }
        }
      },
      "type": "object",
      "id": "RegionalinventoryCustomBatchRequest"
    },
    "LiaPosDataProvider": {
      "id": "LiaPosDataProvider",
      "type": "object",
      "properties": {
        "posDataProviderId": {
          "type": "string",
          "format": "uint64",
[...]
