{
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "title": "Content API for Shopping",
  "description": "This API is deprecated. Please use Merchant API instead: https://developers.google.com/merchant/api. ",
  "basePath": "/content/v2.1/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "protocol": "rest",
  "id": "content:v2.1",
  "mtlsRootUrl": "https://shoppingcontent.mtls.googleapis.com/",
  "revision": "20260721",
  "batchPath": "batch",
  "schemas": {
    "LabelIds": {
      "description": "The IDs of labels that should be assigned to the CSS domain.",
      "properties": {
        "labelIds": {
          "type": "array",
          "description": "The list of label IDs.",
          "items": {
            "format": "int64",
            "type": "string"
          }
        }
      },
      "id": "LabelIds",
      "type": "object"
    },
    "LocalinventoryCustomBatchResponseEntry": {
      "description": "Batch entry encoding a single local inventory update response.",
      "properties": {
        "errors": {
          "description": "A list of errors for failed custombatch entries. *Note:* Schema errors fail the whole request.",
          "$ref": "Errors"
        },
        "batchId": {
          "format": "uint32",
          "type": "integer",
          "description": "The ID of the request entry this entry responds to."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#localinventoryCustomBatchResponseEntry`\""
        }
      },
      "id": "LocalinventoryCustomBatchResponseEntry",
      "type": "object"
    },
    "Weight": {
      "id": "Weight",
      "type": "object",
      "properties": {
        "unit": {
          "type": "string",
          "description": "Required. The weight unit. Acceptable values are: - \"`kg`\" - \"`lb`\" "
        },
        "value": {
          "type": "string",
          "description": "Required. The weight represented as a number. The weight can have a maximum precision of four decimal places."
        }
      }
    },
    "ReportRow": {
      "id": "ReportRow",
      "type": "object",
      "description": "Result row returned from the search query.",
      "properties": {
        "metrics": {
          "description": "Metrics requested by the merchant in the query. Metric values are only set for metrics requested explicitly in the query.",
          "$ref": "Metrics"
        },
        "brand": {
          "description": "Brand fields requested by the merchant in the query. Field values are only set if the merchant queries `BestSellersBrandView`.",
          "$ref": "Brand"
        },
        "bestSellers": {
          "description": "Best sellers fields requested by the merchant in the query. Field values are only set if the merchant queries `BestSellersProductClusterView` or `BestSellersBrandView`.",
          "$ref": "BestSellers"
        },
        "segments": {
          "description": "Segmentation dimensions requested by the merchant in the query. Dimension values are only set for dimensions requested explicitly in the query.",
          "$ref": "Segments"
        },
        "productCluster": {
          "description": "Product cluster fields requested by the merchant in the query. Field values are only set if the merchant queries `BestSellersProductClusterView`.",
          "$ref": "ProductCluster"
        },
        "priceInsights": {
          "description": "Price insights fields requested by the merchant in the query. Field values are only set if the merchant queries `PriceInsightsProductView`.",
          "$ref": "PriceInsights"
        },
        "productView": {
          "description": "Product fields requested by the merchant in the query. Field values are only set if the merchant queries `ProductView`.",
          "$ref": "ProductView"
        },
        "priceCompetitiveness": {
          "description": "Price competitiveness fields requested by the merchant in the query. Field values are only set if the merchant queries `PriceCompetitivenessProductView`.",
          "$ref": "PriceCompetitiveness"
        },
        "competitiveVisibility": {
          "description": "Competitive visibility fields requested by the merchant in the query. Field values are only set if the merchant queries `CompetitiveVisibilityTopMerchantView`, `CompetitiveVisibilityBenchmarkView` or `CompetitiveVisibilityCompetitorView`.",
          "$ref": "CompetitiveVisibility"
        },
        "topicTrends": {
          "description": "[Topic trends](https://support.google.com/merchants/answer/13542370) fields requested by the merchant in the query. Field values are only set if the merchant queries `TopicTrendsView`.",
          "$ref": "TopicTrends"
        }
      }
    },
    "PosCustomBatchResponseEntry": {
      "id": "PosCustomBatchResponseEntry",
      "type": "object",
      "properties": {
        "errors": {
          "description": "A list of errors defined if, and only if, the request failed.",
          "$ref": "Errors"
        },
        "batchId": {
          "format": "uint32",
          "description": "The ID of the request entry to which this entry responds.",
          "type": "integer"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#posCustomBatchResponseEntry`\""
        },
        "sale": {
          "description": "The updated sale information.",
          "$ref": "PosSale"
        },
        "store": {
          "description": "The retrieved or updated store information.",
          "$ref": "PosStore"
        },
        "inventory": {
          "description": "The updated inventory information.",
          "$ref": "PosInventory"
        }
      }
    },
    "ProductsCustomBatchResponseEntry": {
      "description": "A batch entry encoding a single non-batch products response.",
      "properties": {
        "product": {
          "description": "The inserted product. Only defined if the method is `insert` and if the request was successful.",
          "$ref": "Product"
        },
        "errors": {
          "description": "A list of errors for failed custombatch entries. *Note:* Schema errors fail the whole request.",
          "$ref": "Errors"
        },
        "batchId": {
          "format": "uint32",
          "description": "The ID of the request entry this entry responds to.",
          "type": "integer"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#productsCustomBatchResponseEntry`\""
        }
      },
      "id": "ProductsCustomBatchResponseEntry",
      "type": "object"
    },
    "InputField": {
      "id": "InputField",
      "type": "object",
      "description": "Input field that needs to be available to the merchant. If the field is marked as required, then a value needs to be provided for a successful processing of the request.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Not for display but need to be sent back for the given input field."
        },
        "checkboxInput": {
          "description": "Input field to provide a boolean value. Corresponds to the [html input type=checkbox](https://www.w3.org/TR/2012/WD-html-markup-20121025/input.checkbox.html#input.checkbox).",
          "$ref": "InputFieldCheckboxInput"
        },
        "choiceInput": {
          "description": "Input field to select one of the offered choices. Corresponds to the [html input type=radio](https://www.w3.org/TR/2012/WD-html-markup-20121025/input.radio.html#input.radio).",
          "$ref": "InputFieldChoiceInput"
        },
        "label": {
          "description": "Input field label. There may be more information to be shown in a tooltip.",
          "$ref": "TextWithTooltip"
        },
        "required": {
          "description": "Whether the field is required. The action button needs to stay disabled till values for all required fields are provided.",
          "type": "boolean"
        },
        "textInput": {
          "description": "Input field to provide text information. Corresponds to the [html input type=text](https://www.w3.org/TR/2012/WD-html-markup-20121025/input.text.html#input.text) or [html textarea](https://www.w3.org/TR/2012/WD-html-markup-20121025/textarea.html#textarea).",
          "$ref": "InputFieldTextInput"
        }
      }
    },
    "WarehouseCutoffTime": {
      "id": "WarehouseCutoffTime",
      "type": "object",
      "properties": {
        "hour": {
          "description": "Required. Hour (24-hour clock) of the cutoff time until which an order has to be placed to be processed in the same day by the warehouse. Hour is based on the timezone of warehouse.",
          "type": "integer",
          "format": "int32"
        },
        "minute": {
          "format": "int32",
          "description": "Required. Minute of the cutoff time until which an order has to be placed to be processed in the same day by the warehouse. Minute is based on the timezone of warehouse.",
          "type": "integer"
        }
      }
    },
    "BuiltInSimpleAction": {
      "id": "BuiltInSimpleAction",
      "type": "object",
      "description": "Action that is implemented and performed in (your) third-party application. Represents various functionality that is expected to be available to merchant and will help them with resolving the issue. The application should point the merchant to the place, where they can access the corresponding functionality. If the functionality is not supported, it is recommended to explain the situation to merchant and provide them with instructions how to solve the issue.",
      "properties": {
        "attributeCode": {
          "type": "string",
          "description": "The attribute that needs to be updated. Present when the type is `EDIT_ITEM_ATTRIBUTE`. This field contains a code for attribute, represented in snake_case. You can find a list of product's attributes, with their codes [here](https://support.google.com/merchants/answer/7052112)."
        },
        "type": {
          "enum": [
            "BUILT_IN_SIMPLE_ACTION_TYPE_UNSPECIFIED",
            "VERIFY_PHONE",
            "CLAIM_WEBSITE",
            "ADD_PRODUCTS",
            "ADD_CONTACT_INFO",
            "LINK_ADS_ACCOUNT",
            "ADD_BUSINESS_REGISTRATION_NUMBER",
            "EDIT_ITEM_ATTRIBUTE",
            "FIX_ACCOUNT_ISSUE",
            "SHOW_ADDITIONAL_CONTENT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. Will never be provided by the API.",
            "Redirect merchant to the part of your application where they can verify their phone.",
            "Redirect merchant to the part of your application where they can claim their website.",
            "Redirect merchant to the part of your application where they can add products.",
            "Open a form where the merchant can edit their contact information.",
            "Redirect merchant to the part of your application where they can link ads account.",
            "Open a form where the merchant can add their business registration number.",
            "Open a form where the merchant can edit an attribute. The attribute that needs to be updated is specified in attribute_code field of the action.",
            "Redirect merchant from the product issues to the diagnostic page with their account issues in your application. This action will be returned only for product issues that are caused by an account issue and thus merchant should resolve the problem on the account level.",
            "Show additional content to the merchant. This action will be used for example to deliver a justification from national authority."
          ],
          "description": "The type of action that represents a functionality that is expected to be available in third-party application."
        },
        "additionalContent": {
          "description": "Long text from an external source that should be available to the merchant. Present when the type is `SHOW_ADDITIONAL_CONTENT`.",
          "$ref": "BuiltInSimpleActionAdditionalContent"
        }
      }
    },
    "AccountAutomaticImprovements": {
      "description": "The automatic improvements of the account can be used to automatically update items, improve images and shipping.",
      "properties": {
        "itemUpdates": {
          "description": "Turning on [item updates](https://support.google.com/merchants/answer/3246284) allows Google to automatically update items for you. When item updates are on, Google uses the structured data markup on the website and advanced data extractors to update the price and availability of the items. When the item updates are off, items with mismatched data aren't shown. This field is only updated (cleared) if provided.",
          "$ref": "AccountItemUpdates"
        },
        "imageImprovements": {
          "description": "This improvement will attempt to automatically correct submitted images if they don't meet the [image requirements](https://support.google.com/merchants/answer/6324350), for example, removing overlays. If successful, the image will be replaced and approved. This improvement is only applied to images of disapproved offers. For more information see: [Automatic image improvements](https://support.google.com/merchants/answer/9242973) This field is only updated (cleared) if provided.",
          "$ref": "AccountImageImprovements"
        },
        "shippingImprovements": {
          "description": "Not available for MCAs [accounts](https://support.google.com/merchants/answer/188487). By turning on [automatic shipping improvements](https://support.google.com/merchants/answer/10027038), you are allowing Google to improve the accuracy of your delivery times shown to shoppers using Google. More accurate delivery times, especially when faster, typically lead to better conversion rates. Google will improve your estimated delivery times based on various factors: - Delivery address of an order - Current handling time and shipping time settings - Estimated weekdays or business days - Parcel tracking data This field is only updated (cleared) if provided.",
          "$ref": "AccountShippingImprovements"
        }
      },
      "id": "AccountAutomaticImprovements",
      "type": "object"
    },
    "ProductTax": {
      "id": "ProductTax",
      "type": "object",
      "properties": {
        "locationId": {
          "description": "The numeric ID of a location that the tax rate applies to as defined in the Google Ads API.",
          "type": "string",
          "format": "int64"
        },
        "rate": {
          "type": "number",
          "description": "The percentage of tax rate that applies to the item price.",
          "format": "double"
        },
        "region": {
          "description": "The geographic region to which the tax rate applies.",
          "type": "string"
        },
        "taxShip": {
          "description": "Should be set to true if tax is charged on shipping.",
          "type": "boolean"
        },
        "country": {
          "description": "The country within which the item is taxed, specified as a CLDR territory code.",
          "type": "string"
        },
        "postalCode": {
          "description": "The postal code range that the tax rate applies to, represented by a ZIP code, a ZIP code prefix using * wildcard, a range between two ZIP codes or two ZIP code prefixes of equal length. Examples: 94114, 94*, 94002-95460, 94*-95*.",
          "type": "string"
        }
      }
    },
    "ProductCluster": {
      "id": "ProductCluster",
      "type": "object",
      "description": "Product cluster fields. A product cluster is a grouping for different offers that represent the same product. Values are only set for fields requested explicitly in the request's search query.",
      "properties": {
        "categoryL3": {
          "type": "string",
          "description": "Product category (3rd level) of the product cluster, represented in Google's product taxonomy."
        },
        "categoryL5": {
          "type": "string",
          "description": "Product category (5th level) of the product cluster, represented in Google's product taxonomy."
        },
        "inventoryStatus": {
          "enum": [
            "INVENTORY_STATUS_UNSPECIFIED",
            "IN_STOCK",
            "OUT_OF_STOCK",
            "NOT_IN_INVENTORY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Inventory status is unknown.",
            "Merchant has a product for this product cluster or brand in stock.",
            "Merchant has a product for this product cluster or brand in inventory but it is currently out of stock.",
            "Merchant does not have a product for this product cluster or brand in inventory."
          ],
          "description": "Tells whether the product cluster is `IN_STOCK` in your product feed across multiple countries, `OUT_OF_STOCK` in your product feed, or `NOT_IN_INVENTORY` at all. The field doesn't take the Best Sellers report country filter into account."
        },
        "categoryL2": {
          "type": "string",
          "description": "Product category (2nd level) of the product cluster, represented in Google's product taxonomy."
        },
        "variantGtins": {
          "items": {
            "type": "string"
          },
          "description": "GTINs of example variants of the product cluster.",
          "type": "array"
        },
        "brand": {
          "description": "Brand of the product cluster.",
          "type": "string"
        },
        "categoryL4": {
          "type": "string",
          "description": "Product category (4th level) of the product cluster, represented in Google's product taxonomy."
        },
        "categoryL1": {
          "type": "string",
          "description": "Product category (1st level) of the product cluster, represented in Google's product taxonomy."
        },
        "title": {
          "type": "string",
          "description": "Title of the product cluster."
        },
        "brandInventoryStatus": {
          "type": "string",
          "enumDescriptions": [
            "Inventory status is unknown.",
            "Merchant has a product for this product cluster or brand in stock.",
            "Merchant has a product for this product cluster or brand in inventory but it is currently out of stock.",
            "Merchant does not have a product for this product cluster or brand in inventory."
          ],
          "description": "Tells if there is at least one product of the brand currently `IN_STOCK` in your product feed across multiple countries, all products are `OUT_OF_STOCK` in your product feed, or `NOT_IN_INVENTORY`. The field doesn't take the Best Sellers report country filter into account.",
          "enum": [
            "INVENTORY_STATUS_UNSPECIFIED",
            "IN_STOCK",
            "OUT_OF_STOCK",
            "NOT_IN_INVENTORY"
          ]
        }
      }
    },
    "LocalinventoryCustomBatchResponse": {
      "id": "LocalinventoryCustomBatchResponse",
      "type": "object",
      "properties": {
        "entries": {
          "items": {
            "$ref": "LocalinventoryCustomBatchResponseEntry"
          },
          "type": "array",
          "description": "The result of the execution of the batch requests."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#localinventoryCustomBatchResponse`\".",
          "type": "string"
        }
      }
    },
    "PosCustomBatchResponse": {
      "properties": {
        "entries": {
          "type": "array",
          "description": "The result of the execution of the batch requests.",
          "items": {
            "$ref": "PosCustomBatchResponseEntry"
          }
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#posCustomBatchResponse`\"."
        }
      },
      "id": "PosCustomBatchResponse",
      "type": "object"
    },
    "ProductDeliveryTimeAreaDeliveryTime": {
      "id": "ProductDeliveryTimeAreaDeliveryTime",
      "type": "object",
      "description": "A pairing of `DeliveryArea` associated with a `DeliveryTime` for this product.",
      "properties": {
        "deliveryArea": {
          "description": "Required. The delivery area associated with `deliveryTime` for this product.",
          "$ref": "DeliveryArea"
        },
        "deliveryTime": {
          "description": "Required. The delivery time associated with `deliveryArea` for this product.",
          "$ref": "ProductDeliveryTimeAreaDeliveryTimeDeliveryTime"
        }
      }
    },
    "LiasettingsCustomBatchResponseEntry": {
      "properties": {
        "posDataProviders": {
          "type": "array",
          "description": "The list of POS data providers.",
          "items": {
            "$ref": "PosDataProviders"
          }
        },
        "gmbAccounts": {
          "description": "The list of accessible Business Profiles.",
          "$ref": "GmbAccounts"
        },
        "omnichannelExperience": {
          "description": "The updated omnichannel experience for a country.",
          "$ref": "LiaOmnichannelExperience"
        },
        "batchId": {
          "type": "integer",
          "description": "The ID of the request entry to which this entry responds.",
          "format": "uint32"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#liasettingsCustomBatchResponseEntry`\""
        },
        "liaSettings": {
          "description": "The retrieved or updated Lia settings.",
          "$ref": "LiaSettings"
        },
        "errors": {
          "description": "A list of errors defined if, and only if, the request failed.",
          "$ref": "Errors"
        }
      },
      "id": "LiasettingsCustomBatchResponseEntry",
      "type": "object"
    },
    "DatafeedTarget": {
      "properties": {
        "feedLabel": {
          "type": "string",
          "description": "Feed label for the DatafeedTarget. Either `country` or `feedLabel` is required. If both `feedLabel` and `country` is specified, the values must match. Must be less than or equal to 20 uppercase letters (A-Z), numbers (0-9), and dashes (-)."
        },
        "country": {
          "description": "Deprecated. Use `feedLabel` instead. The country where the items in the feed will be included in the search index, represented as a CLDR territory code.",
          "type": "string"
        },
        "targetCountries": {
          "description": "The countries where the items may be displayed. Represented as a CLDR territory code. Will be ignored for \"product inventory\" feeds.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "language": {
          "type": "string",
          "description": "The two-letter ISO 639-1 language of the items in the feed. Must be a valid language for `targets[].country`."
        },
        "excludedDestinations": {
          "type": "array",
          "description": "The list of [destinations to exclude](//support.google.com/merchants/answer/6324486) for this target (corresponds to cleared check boxes in Merchant Center). Products that are excluded from all destinations for more than 7 days are automatically deleted.",
          "items": {
            "type": "string"
          }
        },
        "includedDestinations": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of [destinations to include](//support.google.com/merchants/answer/7501026) for this target (corresponds to checked check boxes in Merchant Center). Default destinations are always included unless provided in `excludedDestinations`."
        }
      },
      "id": "DatafeedTarget",
      "type": "object"
    },
    "AccountImageImprovementsSettings": {
      "id": "AccountImageImprovementsSettings",
      "type": "object",
      "description": "Settings for the Automatic Image Improvements.",
      "properties": {
        "allowAutomaticImageImprovements": {
          "description": "Enables automatic image improvements.",
          "type": "boolean"
        }
      }
    },
    "AccountYouTubeChannelLink": {
      "properties": {
        "channelId": {
          "description": "Channel ID.",
          "type": "string"
        },
        "status": {
          "type": "string",
          "description": "Status of the link between this Merchant Center account and the YouTube channel. Upon retrieval, it represents the actual status of the link and can be either `active` if it was approved in YT Creator Studio or `pending` if it's pending approval. Upon insertion, it represents the *intended* status of the link. Re-uploading a link with status `active` when it's still pending or with status `pending` when it's already active will have no effect: the status will remain unchanged. Re-uploading a link with deprecated status `inactive` is equivalent to not submitting the link at all and will delete the link if it was active or cancel the link request if it was pending."
        }
      },
      "id": "AccountYouTubeChannelLink",
      "type": "object"
    },
    "AccountsLinkResponse": {
      "id": "AccountsLinkResponse",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#accountsLinkResponse`\".",
          "type": "string"
        }
      }
    },
    "PosInventoryResponse": {
      "properties": {
        "contentLanguage": {
          "type": "string",
          "description": "Required. The two-letter ISO 639-1 language code for the item."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#posInventoryResponse`\".",
          "type": "string"
        },
        "storeCode": {
          "type": "string",
          "description": "Required. The identifier of the merchant's store. Either a `storeCode` inserted through the API or the code of the store in a Business Profile."
        },
        "gtin": {
          "description": "Global Trade Item Number.",
          "type": "string"
        },
        "timestamp": {
          "type": "string",
          "description": "Required. The inventory timestamp, in ISO 8601 format."
        },
        "quantity": {
          "description": "Required. The available quantity of the item.",
          "type": "string",
          "format": "int64"
        },
        "targetCountry": {
          "type": "string",
          "description": "Required. The CLDR territory code for the item."
        },
        "pickupMethod": {
          "type": "string",
          "description": "Optional. Supported pickup method for this offer. Unless the value is \"not supported\", this field must be submitted together with `pickupSla`. For accepted attribute values, see the [local product inventory feed specification](https://support.google.com/merchants/answer/3061342)."
        },
        "itemId": {
          "description": "Required. A unique identifier for the item.",
          "type": "string"
        },
        "price": {
          "description": "Required. The current price of the item.",
          "$ref": "Price"
        },
        "pickupSla": {
          "description": "Optional. Expected date that an order will be ready for pickup relative to the order date. Must be submitted together with `pickupMethod`. For accepted attribute values, see the [local product inventory feed specification](https://support.google.com/merchants/answer/3061342).",
          "type": "string"
        }
      },
      "id": "PosInventoryResponse",
      "type": "object"
    },
    "PromotionPromotionStatusPromotionIssue": {
      "id": "PromotionPromotionStatusPromotionIssue",
      "type": "object",
      "description": "The issue associated with the promotion.",
      "properties": {
        "code": {
          "type": "string",
          "description": "Code of the issue."
        },
        "detail": {
          "description": "Explanation of the issue.",
          "type": "string"
        }
      }
    },
    "AccountstatusesCustomBatchResponseEntry": {
      "id": "AccountstatusesCustomBatchResponseEntry",
      "type": "object",
      "description": "A batch entry encoding a single non-batch accountstatuses response.",
      "properties": {
        "batchId": {
          "type": "integer",
          "description": "The ID of the request entry this entry responds to.",
          "format": "uint32"
        },
        "accountStatus": {
          "description": "The requested account status. Defined if and only if the request was successful.",
          "$ref": "AccountStatus"
        },
        "errors": {
          "description": "A list of errors for failed custombatch entries. *Note:* Schema errors fail the whole request.",
          "$ref": "Errors"
        }
      }
    },
    "PriceAmount": {
      "id": "PriceAmount",
      "type": "object",
      "description": "The price represented as a number and currency.",
      "properties": {
        "value": {
          "description": "The price represented as a number.",
          "type": "string"
        },
        "currency": {
          "description": "The currency of the price.",
          "type": "string"
        }
      }
    },
    "AccountsCustomBatchRequest": {
      "properties": {
        "entries": {
          "items": {
            "$ref": "AccountsCustomBatchRequestEntry"
          },
          "type": "array",
          "description": "The request entries to be processed in the batch."
        }
      },
      "id": "AccountsCustomBatchRequest",
      "type": "object"
    },
    "LiaPosDataProvider": {
      "properties": {
        "posDataProviderId": {
          "format": "uint64",
          "description": "The ID of the POS data provider.",
          "type": "string"
        },
        "posExternalAccountId": {
          "type": "string",
          "description": "The account ID by which this merchant is known to the POS data provider."
        }
      },
      "id": "LiaPosDataProvider",
      "type": "object"
    },
    "PosStore": {
      "id": "PosStore",
      "type": "object",
      "description": "Store resource.",
      "properties": {
        "phoneNumber": {
          "description": "The store phone number.",
          "type": "string"
        },
        "gcidCategory": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The business type of the store."
        },
        "storeName": {
          "description": "The merchant or store name.",
          "type": "string"
        },
        "matchingStatusHint": {
          "readOnly": true,
          "description": "Output only. The hint of why the matching has failed. This is only set when matching_status=failed. Possible values are: - \"`linked-store-not-found`\": There aren't any Google Business Profile stores available for matching. Connect your Merchant Center account with the Google Business Profile account. Or add a new Google Business Profile store corresponding to the POS store. - \"`store-match-not-found`\": The provided POS store couldn't be matched to any of the connected Google Business Profile stores. Merchant Center account is connected correctly and stores are available on Google Business Profile, but POS store location address does not match with Google Business Profile stores' addresses. Update POS store address or Google Business Profile store address to match correctly. - \"`store-match-unverified`\": The provided POS store couldn't be matched to any of the connected Google Business Profile stores, as the matched Google Business Profile store is unverified. Go through the Google Business Profile verification process to match correctly. ",
          "type": "string"
        },
        "websiteUrl": {
          "description": "The website url for the store or merchant.",
          "type": "string"
        },
        "storeAddress": {
          "type": "string",
          "description": "Required. The street address of the store."
        },
        "storeCode": {
          "type": "string",
          "description": "Required. A store identifier that is unique for the given merchant."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#posStore`\""
        },
        "placeId": {
          "description": "The Google Place Id of the store location.",
          "type": "string"
        },
        "matchingStatus": {
          "readOnly": true,
          "description": "Output only. The matching status of POS store and Google Business Profile store. Possible values are: - \"`matched`\": The POS store is successfully matched with the Google Business Profile store. - \"`failed`\": The POS store is not matched with the Google Business Profile store. See matching_status_hint for further details. Note that there is up to 48 hours propagation delay for changes in Merchant Center (e.g. creation of new account, accounts linking) and Google Business Profile (e.g. store address update) which may affect the matching status. In such cases, after a delay call [pos.list](https://developers.google.com/shopping-content/reference/rest/v2.1/pos/list) to retrieve the updated matching status. ",
          "type": "string"
        }
      }
    },
    "RenderProductIssuesResponse": {
      "description": "Response containing support content and actions for listed product issues.",
      "properties": {
        "issues": {
          "type": "array",
          "description": "List of issues for a given product. This list can be shown with compressed, expandable items. In the compressed form, the title and impact should be shown for each issue. Once the issue is expanded, the detailed content and available actions should be rendered.",
          "items": {
            "$ref": "ProductIssue"
          }
        },
        "alternateDisputeResolution": {
          "description": "Alternate Dispute Resolution (ADR) is deprecated. Use `prerendered_out_of_court_dispute_settlement` instead.",
          "$ref": "AlternateDisputeResolution",
          "deprecated": true
        }
      },
      "id": "RenderProductIssuesResponse",
      "type": "object"
    },
    "ECommercePlatformLinkInfo": {
      "id": "ECommercePlatformLinkInfo",
      "type": "object",
      "description": "Additional information required for E_COMMERCE_PLATFORM link type.",
      "properties": {
        "externalAccountId": {
          "description": "The id used by the third party service provider to identify the merchant.",
          "type": "string"
        }
      }
    },
    "PosCustomBatchRequestEntry": {
      "id": "PosCustomBatchRequestEntry",
      "type": "object",
      "properties": {
        "sale": {
          "description": "The sale information to submit. This should be set only if the method is `sale`.",
          "$ref": "PosSale"
        },
        "store": {
          "description": "The store information to submit. This should be set only if the method is `insert`.",
          "$ref": "PosStore"
        },
        "targetMerchantId": {
          "format": "uint64",
          "type": "string",
          "description": "The ID of the account for which to get/submit data."
        },
        "batchId": {
          "type": "integer",
          "description": "An entry ID, unique within the batch request.",
          "format": "uint32"
        },
        "storeCode": {
          "description": "The store code. This should be set only if the method is `delete` or `get`.",
          "type": "string"
        },
        "inventory": {
          "description": "The inventory to submit. This should be set only if the method is `inventory`.",
          "$ref": "PosInventory"
        },
        "method": {
          "description": "The method of the batch entry. Acceptable values are: - \"`delete`\" - \"`get`\" - \"`insert`\" - \"`inventory`\" - \"`sale`\" ",
          "type": "string"
        },
        "merchantId": {
          "format": "uint64",
          "type": "string",
          "description": "The ID of the POS data provider."
        }
      }
    },
    "ProductStatus": {
      "description": "The status of a product, that is, information about a product computed asynchronously.",
      "properties": {
        "productId": {
          "description": "The ID of the product for which status is reported.",
          "type": "string"
        },
        "link": {
          "type": "string",
          "description": "The link to the product."
        },
        "lastUpdateDate": {
          "description": "Date on which the item has been last updated, in ISO 8601 format.",
          "type": "string"
        },
        "googleExpirationDate": {
          "description": "Date on which the item expires in Google Shopping, in ISO 8601 format.",
          "type": "string"
        },
        "title": {
          "description": "The title of the product.",
          "type": "string"
        },
        "creationDate": {
          "type": "string",
          "description": "Date on which the item has been created, in ISO 8601 format."
        },
        "destinationStatuses": {
          "description": "The intended destinations for the product.",
          "type": "array",
          "items": {
            "$ref": "ProductStatusDestinationStatus"
          }
        },
        "itemLevelIssues": {
          "items": {
            "$ref": "ProductStatusItemLevelIssue"
          },
          "description": "A list of all issues associated with the product.",
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#productStatus`\""
        }
      },
      "id": "ProductStatus",
      "type": "object"
    },
    "MinimumOrderValueTableStoreCodeSetWithMov": {
      "description": "A list of store code sets sharing the same minimum order value. At least two sets are required and the last one must be empty, which signifies 'MOV for all other stores'. Each store code can only appear once across all the sets. All prices within a service must have the same currency.",
      "properties": {
        "storeCodes": {
          "description": "A list of unique store codes or empty for the catch all.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "value": {
          "description": "The minimum order value for the given stores.",
          "$ref": "Price"
        }
      },
      "id": "MinimumOrderValueTableStoreCodeSetWithMov",
      "type": "object"
    },
    "DatafeedStatusExample": {
      "description": "An example occurrence for a particular error.",
      "properties": {
        "itemId": {
          "type": "string",
          "description": "The ID of the example item."
        },
        "lineNumber": {
          "type": "string",
          "description": "Line number in the data feed where the example is found.",
          "format": "uint64"
        },
        "value": {
          "type": "string",
          "description": "The problematic value."
        }
      },
      "id": "DatafeedStatusExample",
      "type": "object"
    },
    "AccountShippingImprovements": {
      "description": "Not available for MCAs [accounts](https://support.google.com/merchants/answer/188487). By turning on [automatic shipping improvements](https://support.google.com/merchants/answer/10027038), you are allowing Google to improve the accuracy of your delivery times shown to shoppers using Google. More accurate delivery times, especially when faster, typically lead to better conversion rates. Google will improve your estimated delivery times based on various factors: * Delivery address of an order * Current handling time and shipping time settings * Estimated weekdays or business days * Parcel tracking data",
      "properties": {
        "allowShippingImprovements": {
          "type": "boolean",
          "description": "Enables automatic shipping improvements."
        }
      },
      "id": "AccountShippingImprovements",
      "type": "object"
    },
    "AccounttaxCustomBatchResponse": {
      "properties": {
        "entries": {
          "type": "array",
          "description": "The result of the execution of the batch requests.",
          "items": {
            "$ref": "AccounttaxCustomBatchResponseEntry"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#accounttaxCustomBatchResponse`\".",
          "type": "string"
        }
      },
      "id": "AccounttaxCustomBatchResponse",
      "type": "object"
    },
    "RenderAccountIssuesResponse": {
      "description": "Response containing support content and actions for listed account issues.",
      "properties": {
        "issues": {
          "description": "List of account issues for a given account. This list can be shown with compressed, expandable items. In the compressed form, the title and impact should be shown for each issue. Once the issue is expanded, the detailed content and available actions should be rendered.",
          "type": "array",
          "items": {
            "$ref": "AccountIssue"
          }
        },
        "alternateDisputeResolution": {
          "description": "Alternate Dispute Resolution (ADR) is deprecated. Use `prerendered_out_of_court_dispute_settlement` instead.",
          "$ref": "AlternateDisputeResolution",
          "deprecated": true
        }
      },
      "id": "RenderAccountIssuesResponse",
      "type": "object"
    },
    "LiasettingsListPosDataProvidersResponse": {
      "id": "LiasettingsListPosDataProvidersResponse",
      "type": "object",
      "properties": {
        "posDataProviders": {
          "items": {
            "$ref": "PosDataProviders"
          },
          "type": "array",
          "description": "The list of POS data providers for each eligible country"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#liasettingsListPosDataProvidersResponse`\".",
          "type": "string"
        }
      }
    },
    "Action": {
      "description": "An actionable step that can be executed to solve the issue.",
      "properties": {
        "builtinUserInputAction": {
          "description": "Action implemented and performed in (your) third-party application. The application needs to show an additional content and input form to the merchant as specified for given action. They can trigger the action only when they provided all required inputs.",
          "$ref": "BuiltInUserInputAction"
        },
        "buttonLabel": {
          "type": "string",
          "description": "Label of the action button."
        },
        "isAvailable": {
          "description": "Controlling whether the button is active or disabled. The value is 'false' when the action was already requested or is not available. If the action is not available then a reason will be present. If (your) third-party application shows a disabled button for action that is not available, then it should also show reasons.",
          "type": "boolean"
        },
        "externalAction": {
          "description": "Action that is implemented and performed outside of (your) third-party application. The application needs to redirect the merchant to the external location where they can perform the action.",
          "$ref": "ExternalAction"
        },
        "builtinSimpleAction": {
          "description": "Action implemented and performed in (your) third-party application. The application should point the merchant to the place, where they can access the corresponding functionality or provide instructions, if the specific functionality is not available.",
          "$ref": "BuiltInSimpleAction"
        },
        "reasons": {
          "description": "List of reasons why the action is not available. The list of reasons is empty if the action is available. If there is only one reason, it can be displayed next to the disabled button. If there are more reasons, all of them should be displayed, for example in a pop-up dialog.",
          "type": "array",
          "items": {
            "$ref": "ActionReason"
          }
        }
      },
      "id": "Action",
      "type": "object"
    },
    "TopicTrends": {
      "description": "Topic trends fields requested by the merchant in the query. Field values are only set if the merchant queries `TopicTrendsView`. Forecast data can be queried up to 13 weeks by passing a future date in the `date` field. Historical data is measured daily, and forecasted data is projected weekly. All data points are normalized based on the highest data points returned in the response. If you make separate queries with different date ranges, you might see different values for the same date in each response. The recommended way to get a trend score of a topic is `last7_days_search_interest / last{$day}_days_search_interest - 1`. You can view trends for up to eight topics at a time.",
      "properties": {
        "searchInterest": {
          "type": "number",
          "description": "Daily search interest, normalized to the time and country to make comparisons easier, with 100 representing peak popularity (from 0 to 100) for the requested time period and location.",
          "format": "double"
        },
        "topic": {
          "type": "string",
          "description": "Google-provided topic trends are calculated for. Only top eight topics are returned. Topic is what shoppers are searching for on Google, grouped by the same concept."
        },
        "date": {
          "description": "Date the trend score was retrieved.",
          "$ref": "Date"
        },
        "last120DaysSearchInterest": {
          "format": "double",
          "description": "Search interest in the last 120 days, with the same normalization as search_interest. This field is only present for a past date.",
          "type": "number"
        },
        "next7DaysSearchInterest": {
          "type": "number",
          "description": "Estimated search interest in the next 7 days, with the same normalization as search_interest. This field is only present for a future date.",
          "format": "double"
        },
        "last7DaysSearchInterest": {
          "format": "double",
          "description": "Search interest in the last 7 days, with the same normalization as search_interest. This field is only present for a past date.",
          "type": "number"
        },
        "last90DaysSearchInterest": {
          "format": "double",
          "description": "Search interest in the last 90 days, with the same normalization as search_interest. This field is only present for a past date.",
          "type": "number"
        },
        "customerCountryCode": {
          "description": "Country trends are calculated for. Must be a two-letter country code (ISO 3166-1-alpha-2 code), for example, `“US”`.",
          "type": "string"
        },
        "last30DaysSearchInterest": {
          "format": "double",
          "type": "number",
          "description": "Search interest in the last 30 days, with the same normalization as search_interest. This field is only present for a past date."
        }
      },
      "id": "TopicTrends",
      "type": "object"
    },
    "Price": {
      "properties": {
        "value": {
          "type": "string",
          "description": "The price represented as a number."
        },
        "currency": {
          "description": "The currency of the price.",
          "type": "string"
        }
      },
      "id": "Price",
      "type": "object"
    },
    "Error": {
      "id": "Error",
      "type": "object",
      "description": "An error returned by the API.",
      "properties": {
        "domain": {
          "type": "string",
          "description": "The domain of the error."
        },
        "reason": {
          "description": "The error code.",
          "type": "string"
        },
        "message": {
          "type": "string",
          "description": "A description of the error."
        }
      }
    },
    "CutoffTime": {
      "properties": {
        "hour": {
          "format": "uint32",
          "type": "integer",
          "description": "Hour of the cutoff time until which an order has to be placed to be processed in the same day. Required."
        },
        "minute": {
          "type": "integer",
          "description": "Minute of the cutoff time until which an order has to be placed to be processed in the same day. Required.",
          "format": "uint32"
        },
        "timezone": {
          "description": "Timezone identifier for the cutoff time (for example, \"Europe/Zurich\"). List of identifiers. Required.",
          "type": "string"
        }
      },
      "id": "CutoffTime",
      "type": "object"
    },
    "ListConversionSourcesResponse": {
      "id": "ListConversionSourcesResponse",
      "type": "object",
      "description": "Response message for the ListConversionSources method.",
      "properties": {
        "conversionSources": {
          "items": {
            "$ref": "ConversionSource"
          },
          "type": "array",
          "description": "List of conversion sources."
        },
        "nextPageToken": {
          "description": "Token to be used to fetch the next results page.",
          "type": "string"
        }
      }
    },
    "Installment": {
      "id": "Installment",
      "type": "object",
      "description": "Details of a monthly installment payment offering. [Learn more](https://support.google.com/merchants/answer/6324474) about installments.",
      "properties": {
        "months": {
          "format": "int64",
          "type": "string",
          "description": "The number of installments the buyer has to pay."
        },
        "downpayment": {
          "description": "Optional. The initial down payment amount the buyer has to pay.",
          "$ref": "Price"
        },
        "creditType": {
          "description": "Optional. Type of installment payments. Supported values are: - \"`finance`\" - \"`lease`\" ",
          "type": "string"
        },
        "amount": {
          "description": "The amount the buyer has to pay per month.",
          "$ref": "Price"
        }
      }
    },
    "InputFieldCheckboxInput": {
      "id": "InputFieldCheckboxInput",
      "type": "object",
      "description": "Checkbox input allows merchants to provide a boolean value. Corresponds to the [html input type=checkbox](https://www.w3.org/TR/2012/WD-html-markup-20121025/input.checkbox.html#input.checkbox). If merchant checks the box, the input value for the field is `true`, otherwise it is `false`. This type of input is often used as a confirmation that the merchant completed required steps before they are allowed to start the action. In such a case, the input field is marked as required and the button to trigger the action should stay disabled until the merchant checks the box.",
      "properties": {}
    },
    "ProductStatusItemLevelIssue": {
      "properties": {
        "attributeName": {
          "description": "The attribute's name, if the issue is caused by a single attribute.",
          "type": "string"
        },
        "code": {
          "type": "string",
          "description": "The error code of the issue."
        },
        "destination": {
          "description": "The destination the issue applies to.",
          "type": "string"
        },
        "documentation": {
          "description": "The URL of a web page to help with resolving this issue.",
          "type": "string"
        },
        "resolution": {
          "type": "string",
          "description": "Whether the issue can be resolved by the merchant."
        },
        "description": {
          "description": "A short issue description in English.",
          "type": "string"
        },
        "servability": {
          "type": "string",
          "description": "How this issue affects serving of the offer."
        },
        "detail": {
          "description": "A detailed issue description in English.",
          "type": "string"
        },
        "applicableCountries": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of country codes (ISO 3166-1 alpha-2) where issue applies to the offer."
        }
      },
      "id": "ProductStatusItemLevelIssue",
      "type": "object"
    },
    "AccountStatus": {
      "description": "The status of an account, that is, information about its products, which is computed offline and not returned immediately at insertion time.",
      "properties": {
        "accountId": {
          "type": "string",
          "description": "The ID of the account for which the status is reported."
        },
        "accountLevelIssues": {
          "type": "array",
          "description": "A list of account level issues.",
          "items": {
            "$ref": "AccountStatusAccountLevelIssue"
          }
        },
        "accountManagement": {
          "type": "string",
          "description": "How the account is managed. Acceptable values are: - \"`manual`\" - \"`automatic`\" "
        },
        "products": {
          "type": "array",
          "description": "List of product-related data by channel, destination, and country. Data in this field may be delayed by up to 30 minutes.",
          "items": {
            "$ref": "AccountStatusProducts"
          }
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#accountStatus`\""
        },
        "websiteClaimed": {
          "type": "boolean",
          "description": "Whether the account's website is claimed or not."
        }
      },
      "id": "AccountStatus",
      "type": "object"
    },
    "ProductDimension": {
      "id": "ProductDimension",
      "type": "object",
      "properties": {
        "value": {
          "description": "Required. The length value represented as a number. The value can have a maximum precision of four decimal places.",
          "type": "number",
          "format": "double"
        },
        "unit": {
          "description": "Required. The length units. Acceptable values are: - \"`in`\" - \"`cm`\" ",
          "type": "string"
        }
      }
    },
    "CollectionFeaturedProduct": {
      "description": "The message for FeaturedProduct. [FeaturedProduct](https://support.google.com/merchants/answer/9703736)",
      "properties": {
        "offerId": {
          "description": "The unique identifier for the product item.",
          "type": "string"
        },
        "x": {
          "description": "Required. X-coordinate of the product callout on the Shoppable Image.",
          "type": "number",
          "format": "float"
        },
        "y": {
          "type": "number",
          "description": "Required. Y-coordinate of the product callout on the Shoppable Image.",
          "format": "float"
        }
      },
      "id": "CollectionFeaturedProduct",
      "type": "object"
    },
    "ReturnPolicyOnlineReturnShippingFee": {
      "description": "The return shipping fee. This can either be a fixed fee or a boolean to indicate that the customer pays the actual shipping cost.",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The return shipping fee is a fixed value.",
            "Customer will pay the actual return shipping fee."
          ],
          "description": "Type of return shipping fee.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "FIXED",
            "CUSTOMER_PAYING_ACTUAL_FEE"
          ]
        },
        "fixedFee": {
          "description": "Fixed return shipping fee amount. This value is only applicable when type is FIXED. We will treat the return shipping fee as free if type is FIXED and this value is not set.",
          "$ref": "PriceAmount"
        }
      },
      "id": "ReturnPolicyOnlineReturnShippingFee",
      "type": "object"
    },
    "AccountsListLinksResponse": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#accountsListLinksResponse`\"."
        },
        "nextPageToken": {
          "description": "The token for the retrieval of the next page of links.",
          "type": "string"
        },
        "links": {
          "items": {
            "$ref": "LinkedAccount"
          },
          "description": "The list of available links.",
          "type": "array"
        }
      },
      "id": "AccountsListLinksResponse",
      "type": "object"
    },
    "ProductSustainabilityIncentive": {
      "description": "Information regarding sustainability related incentive programs such as rebates or tax relief.",
      "properties": {
        "type": {
          "description": "Required. Sustainability incentive program.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified or unknown sustainability incentive type.",
            "Program offering tax liability reductions for electric vehicles and, in some countries, plug-in hybrids. These reductions can be based on a specific amount or a percentage of the sale price.",
            "A subsidy program, often called an environmental bonus, provides a purchase grant for electric vehicles and, in some countries, plug-in hybrids. The grant amount may be a fixed sum or a percentage of the sale price."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "EV_TAX_CREDIT",
            "EV_PRICE_DISCOUNT"
          ]
        },
        "amount": {
          "description": "Optional. The fixed amount of the incentive.",
          "$ref": "Price"
        },
        "percentage": {
          "description": "Optional. The percentage of the sale price that the incentive is applied to.",
          "type": "number",
          "format": "double"
        }
      },
      "id": "ProductSustainabilityIncentive",
      "type": "object"
    },
    "DatafeedsListResponse": {
      "id": "DatafeedsListResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token for the retrieval of the next page of datafeeds."
        },
        "resources": {
          "items": {
            "$ref": "Datafeed"
          },
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#datafeedsListResponse`\"."
        }
      }
    },
    "AccountAdsLink": {
      "properties": {
        "adsId": {
          "description": "Customer ID of the Ads account.",
          "type": "string",
          "format": "uint64"
        },
        "status": {
          "type": "string",
          "description": "Status of the link between this Merchant Center account and the Ads account. Upon retrieval, it represents the actual status of the link and can be either `active` if it was approved in Google Ads or `pending` if it's pending approval. Upon insertion, it represents the *intended* status of the link. Re-uploading a link with status `active` when it's still pending or with status `pending` when it's already active will have no effect: the status will remain unchanged. Re-uploading a link with deprecated status `inactive` is equivalent to not submitting the link at all and will delete the link if it was active or cancel the link request if it was pending. Acceptable values are: - \"`active`\" - \"`pending`\" "
        }
      },
      "id": "AccountAdsLink",
      "type": "object"
    },
    "PickupCarrierService": {
      "properties": {
        "serviceName": {
          "description": "The name of the pickup service (for example, `\"Access point\"`). Required.",
          "type": "string"
        },
        "carrierName": {
          "description": "The name of the pickup carrier (for example, `\"UPS\"`). Required.",
          "type": "string"
        }
      },
      "id": "PickupCarrierService",
      "type": "object"
    },
    "InputValueCheckboxInputValue": {
      "description": "Value for checkbox input field.",
      "properties": {
        "value": {
          "type": "boolean",
          "description": "Required. True if the merchant checked the box field. False otherwise."
        }
      },
      "id": "InputValueCheckboxInputValue",
      "type": "object"
    },
    "GmbAccounts": {
      "properties": {
        "accountId": {
          "format": "uint64",
          "description": "The ID of the Merchant Center account.",
          "type": "string"
        },
        "gmbAccounts": {
          "items": {
            "$ref": "GmbAccountsGmbAccount"
          },
          "description": "A list of Business Profiles which are available to the merchant.",
          "type": "array"
        }
      },
      "id": "GmbAccounts",
      "type": "object"
    },
    "VerifyPhoneNumberResponse": {
      "description": "Response message for the VerifyPhoneNumber method.",
      "properties": {
        "verifiedPhoneNumber": {
          "type": "string",
          "description": "Verified phone number if verification is successful. This phone number can only be replaced by another verified phone number."
        }
      },
      "id": "VerifyPhoneNumberResponse",
      "type": "object"
    },
    "ProductStatusDestinationStatus": {
      "properties": {
        "pendingCountries": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of country codes (ISO 3166-1 alpha-2) where the offer is pending approval."
        },
        "disapprovedCountries": {
          "type": "array",
          "description": "List of country codes (ISO 3166-1 alpha-2) where the offer is disapproved.",
          "items": {
            "type": "string"
          }
        },
        "status": {
          "deprecated": true,
          "type": "string",
          "description": "Deprecated. Destination approval status in `targetCountry` of the offer."
        },
        "approvedCountries": {
          "type": "array",
          "description": "List of country codes (ISO 3166-1 alpha-2) where the offer is approved.",
          "items": {
            "type": "string"
          }
        },
        "channel": {
          "type": "string",
          "description": "The channel of the destination."
        },
        "destination": {
          "description": "The name of the destination",
          "type": "string"
        }
      },
      "id": "ProductStatusDestinationStatus",
      "type": "object"
    },
    "Row": {
      "properties": {
        "cells": {
          "description": "The list of cells that constitute the row. Must have the same length as `columnHeaders` for two-dimensional tables, a length of 1 for one-dimensional tables. Required.",
          "type": "array",
          "items": {
            "$ref": "Value"
          }
        }
      },
      "id": "Row",
      "type": "object"
    },
    "GmbAccountsGmbAccount": {
      "properties": {
        "email": {
          "description": "The email which identifies the Business Profile.",
          "type": "string"
        },
        "listingCount": {
          "type": "string",
          "description": "Number of listings under this account.",
          "format": "uint64"
        },
        "name": {
          "description": "The name of the Business Profile.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The type of the Business Profile (User or Business)."
        }
      },
      "id": "GmbAccountsGmbAccount",
      "type": "object"
    },
    "TimePeriod": {
      "id": "TimePeriod",
      "type": "object",
      "description": "A message that represents a time period.",
      "properties": {
        "endTime": {
          "description": "The ending timestamp.",
          "type": "string",
          "format": "google-datetime"
        },
        "startTime": {
          "description": "The starting timestamp.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "LinkedAccount": {
      "properties": {
        "linkedAccountId": {
          "type": "string",
          "description": "The ID of the linked account."
        },
        "services": {
          "description": "List of provided services.",
          "type": "array",
          "items": {
            "$ref": "LinkService"
          }
        }
      },
      "id": "LinkedAccount",
      "type": "object"
    },
    "RegionPostalCodeArea": {
      "id": "RegionPostalCodeArea",
      "type": "object",
      "description": "A list of postal codes that defines the region area. Note: All regions defined using postal codes are accessible via the account's `ShippingSettings.postalCodeGroups` resource.",
      "properties": {
        "postalCodes": {
          "description": "Required. A range of postal codes.",
          "type": "array",
          "items": {
            "$ref": "RegionPostalCodeAreaPostalCodeRange"
          }
        },
        "regionCode": {
          "description": "Required. CLDR territory code or the country the postal code group applies to.",
          "type": "string"
        }
      }
    },
    "ShippingsettingsGetSupportedHolidaysResponse": {
      "properties": {
        "holidays": {
          "description": "A list of holidays applicable for delivery guarantees. May be empty.",
          "type": "array",
          "items": {
            "$ref": "HolidaysHoliday"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#shippingsettingsGetSupportedHolidaysResponse`\".",
          "type": "string"
        }
      },
      "id": "ShippingsettingsGetSupportedHolidaysResponse",
      "type": "object"
    },
    "ShoppingAdsProgramStatus": {
      "id": "ShoppingAdsProgramStatus",
      "type": "object",
      "description": "Response message for GetShoppingAdsProgramStatus.",
      "properties": {
        "globalState": {
          "type": "string",
          "enumDescriptions": [
            "State is unknown.",
            "Program is not enabled for any country.",
            "No products have been uploaded for any region. Upload products to Merchant Center.",
            "Program is enabled and offers are uploaded for at least one country."
          ],
          "description": "State of the program. `ENABLED` if there are offers for at least one region.",
          "enum": [
            "PROGRAM_STATE_UNSPECIFIED",
            "NOT_ENABLED",
            "NO_OFFERS_UPLOADED",
            "ENABLED"
          ]
        },
        "regionStatuses": {
          "items": {
            "$ref": "ShoppingAdsProgramStatusRegionStatus"
          },
          "description": "Status of the program in each region. Regions with the same status and review eligibility are grouped together in `regionCodes`.",
          "type": "array"
        }
      }
    },
    "BreakdownRegion": {
      "id": "BreakdownRegion",
      "type": "object",
      "description": "Region with code and localized name.",
      "properties": {
        "code": {
          "description": "The [CLDR territory code] (http://www.unicode.org/repos/cldr/tags/latest/common/main/en.xml)",
          "type": "string"
        },
        "name": {
          "description": "The localized name of the region. For region with code='001' the value is 'All countries' or the equivalent in other languages.",
          "type": "string"
        }
      }
    },
    "ProductsCustomBatchResponse": {
      "id": "ProductsCustomBatchResponse",
      "type": "object",
      "properties": {
        "entries": {
          "type": "array",
          "description": "The result of the execution of the batch requests.",
          "items": {
            "$ref": "ProductsCustomBatchResponseEntry"
          }
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#productsCustomBatchResponse`\"."
        }
      }
    },
    "PriceInsights": {
      "description": "Price insights fields requested by the merchant in the query. Field values are only set if the merchant queries `PriceInsightsProductView`. https://support.google.com/merchants/answer/11916926",
      "properties": {
        "predictedGrossProfitChangeFraction": {
          "description": "*Deprecated*: This field is no longer supported and will start returning 0. The predicted change in gross profit as a fraction after introducing the suggested price compared to current active price. For example, 0.05 is a 5% predicted increase in gross profit.",
          "type": "number",
          "format": "double"
        },
        "predictedMonthlyGrossProfitChangeCurrencyCode": {
          "description": "*Deprecated*: This field is no longer supported and will start returning USD for all requests. The predicted monthly gross profit change currency (ISO 4217 code).",
          "type": "string"
        },
        "suggestedPriceMicros": {
          "description": "The latest suggested price in micros (1 millionth of a standard unit, 1 USD = 1000000 micros) for the product.",
          "type": "string",
          "format": "int64"
        },
        "predictedConversionsChangeFraction": {
          "type": "number",
          "description": "The predicted change in conversions as a fraction after introducing the suggested price compared to current active price. For example, 0.05 is a 5% predicted increase in conversions).",
          "format": "double"
        },
        "predictedImpressionsChangeFraction": {
          "format": "double",
          "description": "The predicted change in impressions as a fraction after introducing the suggested price compared to current active price. For example, 0.05 is a 5% predicted increase in impressions.",
          "type": "number"
        },
        "predictedMonthlyGrossProfitChangeMicros": {
          "description": "*Deprecated*: This field is no longer supported and will start returning 0. The predicted change in gross profit in micros (1 millionth of a standard unit, 1 USD = 1000000 micros) after introducing the suggested price for a month compared to current active price.",
          "type": "string",
          "format": "int64"
        },
        "effectiveness": {
          "enum": [
            "EFFECTIVENESS_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH"
          ],
          "type": "string",
          "enumDescriptions": [
            "Effectiveness is unknown.",
            "Effectiveness is low.",
            "Effectiveness is medium.",
            "Effectiveness is high."
          ],
          "description": "The predicted effectiveness of applying the price suggestion, bucketed."
        },
        "predictedClicksChangeFraction": {
          "format": "double",
          "type": "number",
          "description": "The predicted change in clicks as a fraction after introducing the suggested price compared to current active price. For example, 0.05 is a 5% predicted increase in clicks."
        },
        "suggestedPriceCurrencyCode": {
          "type": "string",
          "description": "The suggested price currency (ISO 4217 code)."
        }
      },
      "id": "PriceInsights",
      "type": "object"
    },
    "Service": {
      "id": "Service",
      "type": "object",
      "properties": {
        "eligibility": {
          "type": "string",
          "description": "Eligibility for this service. Acceptable values are: - \"`All scenarios`\" - \"`All scenarios except Shopping Actions`\" - \"`Shopping Actions`\" "
        },
        "storeConfig": {
          "description": "A list of stores your products are delivered from. This is only available for the local delivery shipment type.",
          "$ref": "ServiceStoreConfig"
        },
        "active": {
          "description": "A boolean exposing the active status of the shipping service. Required.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "Free-form name of the service. Must be unique within target account. Required."
        },
        "minimumOrderValue": {
          "description": "Minimum order value for this service. If set, indicates that customers will have to spend at least this amount. All prices within a service must have the same currency. Cannot be set together with minimum_order_value_table.",
          "$ref": "Price"
        },
        "minimumOrderValueTable": {
          "description": "Table of per store minimum order values for the pickup fulfillment type. Cannot be set together with minimum_order_value.",
          "$ref": "MinimumOrderValueTable"
        },
        "deliveryCountry": {
          "type": "string",
          "description": "The CLDR territory code of the country to which the service applies. Required."
        },
        "currency": {
          "type": "string",
          "description": "The CLDR code of the currency to which this service applies. Must match that of the prices in rate groups."
        },
        "deliveryTime": {
          "description": "Time spent in various aspects from order to the delivery of the product. Required.",
          "$ref": "DeliveryTime"
        },
        "shipmentType": {
          "description": "Type of locations this service ships orders to. Acceptable values are: - \"`delivery`\" - \"`pickup` (deprecated)\" - \"`local_delivery`\" - \"`collection_point`\" ",
          "type": "string"
        },
        "pickupService": {
          "description": "The carrier-service pair delivering items to collection points. The list of supported pickup services can be retrieved through the `getSupportedPickupServices` method. Required if and only if the service delivery type is `pickup`.",
          "$ref": "PickupCarrierService"
        },
        "rateGroups": {
          "description": "Shipping rate group definitions. Only the last one is allowed to have an empty `applicableShippingLabels`, which means \"everything else\". The other `applicableShippingLabels` must not overlap.",
          "type": "array",
          "items": {
            "$ref": "RateGroup"
          }
        }
      }
    },
    "ProductUnitPricingBaseMeasure": {
      "properties": {
        "value": {
          "format": "int64",
          "description": "The denominator of the unit price.",
          "type": "string"
        },
        "unit": {
          "type": "string",
          "description": "The unit of the denominator."
        }
      },
      "id": "ProductUnitPricingBaseMeasure",
      "type": "object"
    },
    "PostalCodeRange": {
      "properties": {
        "postalCodeRangeEnd": {
          "type": "string",
          "description": "A postal code or a pattern of the form `prefix*` denoting the inclusive upper bound of the range defining the area. It must have the same length as `postalCodeRangeBegin`: if `postalCodeRangeBegin` is a postal code then `postalCodeRangeEnd` must be a postal code too; if `postalCodeRangeBegin` is a pattern then `postalCodeRangeEnd` must be a pattern with the same prefix length. Optional: if not set, then the area is defined as being all the postal codes matching `postalCodeRangeBegin`."
        },
        "postalCodeRangeBegin": {
          "description": "A postal code or a pattern of the form `prefix*` denoting the inclusive lower bound of the range defining the area. Examples values: `\"94108\"`, `\"9410*\"`, `\"9*\"`. Required.",
          "type": "string"
        }
      },
      "id": "PostalCodeRange",
      "type": "object"
    },
    "AccountLabel": {
      "description": "Label assigned by CSS domain or CSS group to one of its sub-accounts.",
      "properties": {
        "description": {
          "type": "string",
          "description": "The description of this label."
        },
        "labelId": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. The ID of the label.",
          "type": "string"
        },
        "labelType": {
          "type": "string",
          "enumDescriptions": [
            "Unknown label type.",
            "Indicates that the label was created manually.",
            "Indicates that the label was created automatically by CSS Center."
          ],
          "enum": [
            "LABEL_TYPE_UNSPECIFIED",
            "MANUAL",
            "AUTOMATIC"
          ],
          "description": "Output only. The type of this label.",
          "readOnly": true
        },
        "accountId": {
          "type": "string",
          "description": "Immutable. The ID of account this label belongs to.",
          "format": "int64"
        },
        "name": {
          "description": "The display name of this label.",
          "type": "string"
        }
      },
      "id": "AccountLabel",
      "type": "object"
    },
    "PosInventoryRequest": {
      "id": "PosInventoryRequest",
      "type": "object",
      "properties": {
        "quantity": {
          "type": "string",
          "description": "Required. The available quantity of the item.",
          "format": "int64"
        },
        "itemId": {
          "type": "string",
          "description": "Required. A unique identifier for the item."
        },
        "price": {
          "description": "Required. The current price of the item.",
          "$ref": "Price"
        },
        "targetCountry": {
          "description": "Required. The CLDR territory code for the item.",
          "type": "string"
        },
        "pickupMethod": {
          "description": "Optional. Supported pickup method for this offer. Unless the value is \"not supported\", this field must be submitted together with `pickupSla`. For accepted attribute values, see the [local product inventory feed specification](https://support.google.com/merchants/answer/3061342).",
          "type": "string"
        },
        "pickupSla": {
          "type": "string",
          "description": "Optional. Expected date that an order will be ready for pickup relative to the order date. Must be submitted together with `pickupMethod`. For accepted attribute values, see the [local product inventory feed specification](https://support.google.com/merchants/answer/3061342)."
        },
        "contentLanguage": {
          "description": "Required. The two-letter ISO 639-1 language code for the item.",
          "type": "string"
        },
        "storeCode": {
          "description": "Required. The identifier of the merchant's store. Either a `storeCode` inserted through the API or the code of the store in a Business Profile.",
          "type": "string"
        },
        "gtin": {
          "description": "Global Trade Item Number.",
          "type": "string"
        },
        "timestamp": {
          "description": "Required. The inventory timestamp, in ISO 8601 format.",
          "type": "string"
        }
      }
    },
    "DatafeedStatusError": {
      "description": "An error occurring in the feed, like \"invalid price\".",
      "properties": {
        "code": {
          "type": "string",
          "description": "The code of the error, for example, \"validation/invalid_value\"."
        },
        "examples": {
          "type": "array",
          "description": "A list of example occurrences of the error, grouped by product.",
          "items": {
            "$ref": "DatafeedStatusExample"
          }
        },
        "count": {
          "type": "string",
          "description": "The number of occurrences of the error in the feed.",
          "format": "uint64"
        },
        "message": {
          "type": "string",
          "description": "The error message, for example, \"Invalid price\"."
        }
      },
      "id": "DatafeedStatusError",
      "type": "object"
    },
    "AccountstatusesCustomBatchRequest": {
      "id": "AccountstatusesCustomBatchRequest",
      "type": "object",
      "properties": {
        "entries": {
          "items": {
            "$ref": "AccountstatusesCustomBatchRequestEntry"
          },
          "description": "The request entries to be processed in the batch.",
          "type": "array"
        }
      }
    },
    "RegionalinventoryCustomBatchRequest": {
      "id": "RegionalinventoryCustomBatchRequest",
      "type": "object",
      "properties": {
        "entries": {
          "type": "array",
          "description": "The request entries to be processed in the batch.",
          "items": {
            "$ref": "RegionalinventoryCustomBatchRequestEntry"
          }
        }
      }
    },
    "CheckoutSettings": {
      "description": "`CheckoutSettings` for a specific merchant ID.",
      "properties": {
        "uriSettings": {
          "description": "URL settings for cart or checkout URL.",
          "$ref": "UrlSettings"
        },
        "reviewState": {
          "description": "Output only. Reflects the merchant review state in `Checkout` feature. This is set based on the data quality reviews of the URL provided by the merchant. A merchant with enrollment state as `ENROLLED` can be in the following review states: `IN_REVIEW`, `APPROVED` or `DISAPPROVED`. A merchant must be in an enrollment_state of `ENROLLED` before a review can begin for the merchant.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default review state when review state is not specified.",
            "Merchant provided URLs are being reviewed for data quality issues.",
            "Merchant account has been approved. Indicates the data quality checks have passed.",
            "Merchant account has been disapproved due to data quality issues."
          ],
          "enum": [
            "CHECKOUT_ON_MERCHANT_REVIEW_STATE_UNSPECIFIED",
            "IN_REVIEW",
            "APPROVED",
            "DISAPPROVED"
          ]
        },
        "enrollmentState": {
          "enum": [
            "CHECKOUT_ON_MERCHANT_ENROLLMENT_STATE_UNSPECIFIED",
            "INACTIVE",
            "ENROLLED",
            "OPT_OUT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default enrollment state when enrollment state is not specified.",
            "Merchant has not enrolled into the feature.",
            "Merchant has enrolled into the feature by providing either an account level URL or checkout URLs as part of their feed.",
            "Merchant has previously enrolled but opted out of the feature."
          ],
          "readOnly": true,
          "description": "Output only. Reflects the merchant enrollment state in `Checkout` feature."
        },
        "effectiveUriSettings": {
          "description": "The effective value of `url_settings` for a given merchant ID. If account level settings are present then this value will be a copy of the account level settings. Otherwise, it will have the value of the parent account.",
          "$ref": "UrlSettings"
        },
        "effectiveEnrollmentState": {
          "type": "string",
          "enumDescriptions": [
            "Default enrollment state when enrollment state is not specified.",
            "Merchant has not enrolled into the feature.",
            "Merchant has enrolled into the feature by providing either an account level URL or checkout URLs as part of their feed.",
            "Merchant has previously enrolled but opted out of the feature."
          ],
          "enum": [
            "CHECKOUT_ON_MERCHANT_ENROLLMENT_STATE_UNSPECIFIED",
            "INACTIVE",
            "ENROLLED",
            "OPT_OUT"
          ],
          "description": "Output only. The effective value of enrollment state for a given merchant ID. If account level settings are present then this value will be a copy of the account level settings. Otherwise, it will have the value of the parent account.",
          "readOnly": true
        },
        "effectiveReviewState": {
          "type": "string",
          "enumDescriptions": [
            "Default review state when review state is not specified.",
            "Merchant provided URLs are being reviewed for data quality issues.",
            "Merchant account has been approved. Indicates the data quality checks have passed.",
            "Merchant account has been disapproved due to data quality issues."
          ],
          "enum": [
            "CHECKOUT_ON_MERCHANT_REVIEW_STATE_UNSPECIFIED",
            "IN_REVIEW",
            "APPROVED",
            "DISAPPROVED"
          ],
          "description": "Output only. The effective value of review state for a given merchant ID. If account level settings are present then this value will be a copy of the account level settings. Otherwise, it will have the value of the parent account.",
          "readOnly": true
        },
        "merchantId": {
          "format": "int64",
          "description": "Required. The ID of the account.",
          "type": "string"
        }
      },
      "id": "CheckoutSettings",
      "type": "object"
    },
    "AccounttaxCustomBatchResponseEntry": {
      "description": "A batch entry encoding a single non-batch accounttax response.",
      "properties": {
        "accountTax": {
          "description": "The retrieved or updated account tax settings.",
          "$ref": "AccountTax"
        },
        "errors": {
          "description": "A list of errors for failed custombatch entries. *Note:* Schema errors fail the whole request.",
          "$ref": "Errors"
        },
        "batchId": {
          "type": "integer",
          "description": "The ID of the request entry this entry responds to.",
          "format": "uint32"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#accounttaxCustomBatchResponseEntry`\"",
          "type": "string"
        }
      },
      "id": "AccounttaxCustomBatchResponseEntry",
      "type": "object"
    },
    "ListReturnPolicyOnlineResponse": {
      "id": "ListReturnPolicyOnlineResponse",
      "type": "object",
      "description": "Response message for the `ListReturnPolicyOnline` method.",
      "properties": {
        "returnPolicies": {
          "items": {
            "$ref": "ReturnPolicyOnline"
          },
          "description": "The retrieved return policies.",
          "type": "array"
        }
      }
    },
    "Callout": {
      "description": "An important message that should be highlighted. Usually displayed as a banner.",
      "properties": {
        "fullMessage": {
          "description": "A full message that needs to be shown to the merchant.",
          "$ref": "TextWithTooltip"
        },
        "styleHint": {
          "enum": [
            "CALLOUT_STYLE_HINT_UNSPECIFIED",
            "ERROR",
            "WARNING",
            "INFO"
          ],
          "description": "Can be used to render messages with different severity in different styles. Snippets off all types contain important information that should be displayed to merchants.",
          "type": "string",
          "enumDescriptions": [
            "Default value. Will never be provided by the API.",
            "The most important type of information highlighting problems, like an unsuccessful outcome of previously requested actions.",
            "Information warning about pending problems, risks or deadlines.",
            "Default severity for important information like pending status of previously requested action or cooldown for re-review."
          ]
        }
      },
      "id": "Callout",
      "type": "object"
    },
    "MethodQuota": {
      "id": "MethodQuota",
      "type": "object",
      "description": "The quota information per method in the Content API.",
      "properties": {
        "quotaLimit": {
          "description": "Output only. The maximum number of calls allowed per day for the method.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "quotaMinuteLimit": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. The maximum number of calls allowed per minute for the method."
        },
        "method": {
          "type": "string",
          "description": "Output only. The method name, for example `products.list`. Method name does not contain version because quota can be shared between different API versions of the same method.",
          "readOnly": true
        },
        "quotaUsage": {
          "type": "string",
          "description": "Output only. The current quota usage, meaning the number of calls already made to the method per day. Usage is reset every day at 12 PM midday UTC.",
          "readOnly": true,
          "format": "int64"
        }
      }
    },
    "ShippingsettingsGetSupportedCarriersResponse": {
      "id": "ShippingsettingsGetSupportedCarriersResponse",
      "type": "object",
      "properties": {
        "carriers": {
          "description": "A list of supported carriers. May be empty.",
          "type": "array",
          "items": {
            "$ref": "CarriersCarrier"
          }
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#shippingsettingsGetSupportedCarriersResponse`\"."
        }
      }
    },
    "LiasettingsCustomBatchRequestEntry": {
      "id": "LiasettingsCustomBatchRequestEntry",
      "type": "object",
      "properties": {
        "contactName": {
          "type": "string",
          "description": "Inventory validation contact name. Required only for SetInventoryValidationContact."
        },
        "liaSettings": {
          "description": "The account Lia settings to update. Only defined if the method is `update`.",
          "$ref": "LiaSettings"
        },
        "batchId": {
          "format": "uint32",
          "type": "integer",
          "description": "An entry ID, unique within the batch request."
        },
        "method": {
          "type": "string",
          "description": "The method of the batch entry. Acceptable values are: - \"`get`\" - \"`getAccessibleGmbAccounts`\" - \"`requestGmbAccess`\" - \"`requestInventoryVerification`\" - \"`setInventoryVerificationContact`\" - \"`update`\" "
        },
        "merchantId": {
          "format": "uint64",
          "description": "The ID of the managing account.",
          "type": "string"
        },
        "country": {
          "type": "string",
          "description": "The country code. Required only for RequestInventoryVerification."
        },
        "posDataProviderId": {
          "type": "string",
          "description": "The ID of POS data provider. Required only for SetPosProvider.",
          "format": "uint64"
        },
        "omnichannelExperience": {
          "description": "The omnichannel experience for a country. Required only for SetOmnichannelExperience.",
          "$ref": "LiaOmnichannelExperience"
        },
        "contactEmail": {
          "description": "Inventory validation contact email. Required only for SetInventoryValidationContact.",
          "type": "string"
        },
        "gmbEmail": {
          "description": "The Business Profile. Required only for RequestGmbAccess.",
          "type": "string"
        },
        "posExternalAccountId": {
          "type": "string",
          "description": "The account ID by which this merchant is known to the POS provider."
        },
        "accountId": {
          "type": "string",
          "description": "The ID of the account for which to get/update account LIA settings.",
          "format": "uint64"
        }
      }
    },
    "RegionalinventoryCustomBatchResponse": {
      "id": "RegionalinventoryCustomBatchResponse",
      "type": "object",
      "properties": {
        "entries": {
          "items": {
            "$ref": "RegionalinventoryCustomBatchResponseEntry"
          },
          "type": "array",
          "description": "The result of the execution of the batch requests."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#regionalinventoryCustomBatchResponse`\".",
          "type": "string"
        }
      }
    },
    "PriceCompetitiveness": {
      "id": "PriceCompetitiveness",
      "type": "object",
      "description": "Price competitiveness fields requested by the merchant in the query. Field values are only set if the merchant queries `PriceCompetitivenessProductView`. https://support.google.com/merchants/answer/9626903",
      "properties": {
        "benchmarkPriceCurrencyCode": {
          "type": "string",
          "description": "The price benchmark currency (ISO 4217 code)."
        },
        "countryCode": {
          "type": "string",
          "description": "The country of the price benchmark (ISO 3166 code)."
        },
        "benchmarkPriceMicros": {
          "description": "The latest available price benchmark in micros (1 millionth of a standard unit, 1 USD = 1000000 micros) for the product's catalog in the benchmark country.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "DeliveryArea": {
      "description": "A delivery area for the product. Only one of `countryCode` or `postalCodeRange` must be set.",
      "properties": {
        "countryCode": {
          "description": "Required. The country that the product can be delivered to. Submit a [unicode CLDR region](http://www.unicode.org/repos/cldr/tags/latest/common/main/en.xml) such as `US` or `CH`.",
          "type": "string"
        },
        "postalCodeRange": {
          "description": "A postal code, postal code range or postal code prefix that defines this area. Limited to US and AUS.",
          "$ref": "DeliveryAreaPostalCodeRange"
        },
        "regionCode": {
          "type": "string",
          "description": "A state, territory, or prefecture. This is supported for the United States, Australia, and Japan. Provide a subdivision code from the ISO 3166-2 code tables ([US](https://en.wikipedia.org/wiki/ISO_3166-2:US), [AU](https://en.wikipedia.org/wiki/ISO_3166-2:AU), or [JP](https://en.wikipedia.org/wiki/ISO_3166-2:JP)) without country prefix (for example, `\"NY\"`, `\"NSW\"`, `\"03\"`)."
        }
      },
      "id": "DeliveryArea",
      "type": "object"
    },
    "ShippingsettingsCustomBatchResponse": {
      "properties": {
        "entries": {
          "items": {
            "$ref": "ShippingsettingsCustomBatchResponseEntry"
          },
          "description": "The result of the execution of the batch requests.",
          "type": "array"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#shippingsettingsCustomBatchResponse`\".",
          "type": "string"
        }
      },
      "id": "ShippingsettingsCustomBatchResponse",
      "type": "object"
    },
    "Recommendation": {
      "id": "Recommendation",
      "type": "object",
      "description": "Recommendations are suggested ways to improve your merchant account's performance. For example, to engage with a feature, or start using a new Google product.",
      "properties": {
        "defaultDescription": {
          "type": "string",
          "description": "Optional. Localized recommendation description. The localization the {@link `GenerateRecommendationsRequest.language_code`} field in {@link `GenerateRecommendationsRequest`} requests."
        },
        "subType": {
          "type": "string",
          "description": "Optional. Subtype of the recommendations. Only applicable when multiple recommendations can be generated per type, and is used as an identifier of recommendation under the same recommendation type."
        },
        "type": {
          "readOnly": true,
          "description": "Output only. Type of the recommendation. List of currently available recommendation types: - OPPORTUNITY_CREATE_NEW_COLLECTION - OPPORTUNITY_CREATE_EMAIL_CAMPAIGN",
          "type": "string"
        },
        "additionalDescriptions": {
          "items": {
            "$ref": "RecommendationDescription"
          },
          "readOnly": true,
          "description": "Output only. List of additional localized descriptions for a recommendation. Localication uses the `languageCode` field in `GenerateRecommendations` requests. Not all description types are guaranteed to be present and we recommend to rely on default description.",
          "type": "array"
        },
        "defaultCallToAction": {
          "description": "Optional. Default CTA of the recommendation.",
          "$ref": "RecommendationCallToAction"
        },
        "paid": {
          "description": "Optional. Indicates whether a user needs to pay when they complete the user journey suggested by the recommendation.",
          "type": "boolean"
        },
        "creative": {
          "items": {
            "$ref": "RecommendationCreative"
          },
          "readOnly": true,
          "description": "Output only. Any creatives attached to the recommendation. Repeated.",
          "type": "array"
        },
        "title": {
          "type": "string",
          "description": "Optional. Localized Recommendation Title. Localization uses the {@link `GenerateRecommendationsRequest.language_code`} field in {@link `GenerateRecommendationsRequest`} requests."
        },
        "additionalCallToAction": {
          "description": "Output only. CTAs of this recommendation. Repeated.",
          "type": "array",
          "items": {
            "$ref": "RecommendationCallToAction"
          },
          "readOnly": true
        },
        "recommendationName": {
          "type": "string",
          "description": "Optional. Localized recommendation name. The localization uses the {@link `GenerateRecommendationsRequest.language_code`} field in {@link `GenerateRecommendationsRequest`} requests."
        },
        "numericalImpact": {
          "format": "int32",
          "type": "integer",
[...]
