{
  "protocol": "rest",
  "version": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "batchPath": "batch",
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "description": "Data format for response."
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    }
  },
  "revision": "20260910",
  "discoveryVersion": "v1",
  "description": "",
  "version_module": true,
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "GoogleCloudContactcenterinsightsV1mainTestCorrelationConfigResponse": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainTestCorrelationConfigResponse",
      "description": "The response of testing correlation config.",
      "properties": {
        "detailedResults": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainTestCorrelationConfigResponseDetailedCorrelationResults",
          "description": "Results for the DETAILED_SYNC execution mode."
        },
        "partialErrors": {
          "description": "Partial errors during test correlation config operation that might cause the operation output to be incomplete.",
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainSampleConversationsResponse": {
      "id": "GoogleCloudContactcenterinsightsV1mainSampleConversationsResponse",
      "properties": {},
      "description": "The response to an SampleConversations operation.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1QaQuestionPredefinedQuestionConfig": {
      "type": "object",
      "description": "Configuration for a predefined question. This field will only be set if the Question Type is predefined.",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "PREDEFINED_QUESTION_TYPE_UNSPECIFIED",
            "CONVERSATION_OUTCOME",
            "CONVERSATION_OUTCOME_ESCALATION_INITIATOR_ROLE",
            "CONVERSATION_OUTCOME_AI_AVERSION"
          ],
          "enumDescriptions": [
            "The type of the predefined question is unspecified.",
            "A prebuilt classifier classfying the outcome of the conversation. For example, if the customer issue mentioned in a conversation has been resolved or not.",
            "A prebuilt classifier classfying the initiator of the conversation escalation. For example, if it was initiated by the customer or the agent.",
            "Classifies whether the customer demonstrates AI aversion by instantly requesting escalation to a human agent without attempting to work with the AI agent."
          ],
          "description": "The type of the predefined question."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1QaQuestionPredefinedQuestionConfig"
    },
    "GoogleCloudContactcenterinsightsV1alpha1ImportIssueModelMetadata": {
      "description": "Metadata used for import issue model.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1ImportIssueModelMetadata",
      "properties": {
        "endTime": {
          "description": "The time the operation finished running.",
          "type": "string",
          "format": "google-datetime"
        },
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1ImportIssueModelRequest",
          "description": "The original import request."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "The time the operation was created.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPointConversationMeasure": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPointConversationMeasure",
      "description": "The measure related to conversations.",
      "properties": {
        "conversationAiCoachSuggestionCount": {
          "format": "int32",
          "description": "Count of conversations that has Ai Coach Suggestions.",
          "type": "integer"
        },
        "aiCoachSuggestionAgentMessageTriggerCount": {
          "format": "int32",
          "description": "Count of agent messages that triggered an Ai Coach Suggestion.",
          "type": "integer"
        },
        "averageTurnCount": {
          "format": "float",
          "description": "The average turn count.",
          "type": "number"
        },
        "dialogflowWebhookTimeoutRatio": {
          "type": "number",
          "description": "Proportion of dialogflow webhook calls that timed out.",
          "format": "double"
        },
        "averageSummarizationSuggestionNormalizedEditDistance": {
          "description": "Normalized Average edit distance of the summarization suggestions. Edit distance (also called as levenshtein distance) is calculated by summing up number of insertions, deletions and substitutions required to transform the summization feedback to the original summary suggestion. Normalized edit distance is the average of (edit distance / summary length).",
          "type": "number",
          "format": "double"
        },
        "dialogflowAverageWebhookLatency": {
          "format": "double",
          "type": "number",
          "description": "Average latency of dialogflow webhook calls."
        },
        "aaSupervisorDroppedConversationsCount": {
          "type": "integer",
          "description": "The number of conversations that were dropped, i.e. escalated but not assigned to an AA human supervisor.",
          "format": "int32"
        },
        "aaSupervisorMonitoredConversationsCount": {
          "format": "int32",
          "description": "The number of conversations scanned by the AA human supervisor.",
          "type": "integer"
        },
        "averageQaQuestionNormalizedScore": {
          "format": "double",
          "type": "number",
          "description": "Average QA normalized score averaged for questions averaged across all revisions of the parent scorecard. Will be only populated if the request specifies a dimension of QA_QUESTION_ID."
        },
        "summarizationSuggestionResultCount": {
          "description": "Count of summarization suggestions results.",
          "type": "integer",
          "format": "int32"
        },
        "averageCustomerSatisfactionRating": {
          "format": "double",
          "type": "number",
          "description": "The average customer satisfaction rating."
        },
        "conversationCount": {
          "format": "int32",
          "description": "The conversation count.",
          "type": "integer"
        },
        "conversationalAgentsAverageAudioInAudioOutLatency": {
          "description": "The average latency of conversational agents' audio in audio out latency per interaction. This is computed as the average of the all the interactions' audio in audio out latencies in a conversation and averaged across conversations.",
          "format": "double",
          "type": "number"
        },
        "averageAgentSentimentScore": {
          "format": "float",
          "type": "number",
          "description": "The average agent's sentiment score."
        },
        "aaSupervisorEscalatedConversationsCount": {
          "description": "The number of conversations that were escalated to an AA human supervisor for intervention.",
          "format": "int32",
          "type": "integer"
        },
        "aiCoachSuggestionAgentUsageRatio": {
          "description": "Proportion of Ai Coach Suggestion that has been used by agents.",
          "type": "number",
          "format": "double"
        },
        "dialogflowInteractionsNoInputRatio": {
          "format": "double",
          "type": "number",
          "description": "Proportion of dialogflow interactions that has empty input."
        },
        "avgConversationClientTurnSentimentEma": {
          "format": "double",
          "type": "number",
          "description": "The exponential moving average of the sentiment score of client turns in the conversation."
        },
        "knowledgeAssistNegativeFeedbackRatio": {
          "format": "double",
          "type": "number",
          "description": "Proportion of knowledge assist (Proactive Generative Knowledge Assist) queries that had negative feedback."
        },
        "knowledgeAssistUriClickRatio": {
          "type": "number",
          "format": "double",
          "description": "Proportion of knowledge assist (Proactive Generative Knowledge Assist) queries that had a URL clicked."
        },
        "dialogflowConversationsEscalationRatio": {
          "format": "double",
          "type": "number",
          "description": "Proportion of conversations that was handed off from virtual agent to human agent."
        },
        "conversationalAgentsAverageEndToEndLatency": {
          "format": "double",
          "description": "The average latency of conversational agents' latency per interaction. This is computed as the average of the all the iteractions' end to end latencies in a conversation and averaged across conversations. The e2e latency is the time between the end of the user utterance and the start of the agent utterance on the interaction level.",
          "type": "number"
        },
        "knowledgeAssistResultCount": {
          "format": "int32",
          "description": "Count of knowledge assist results (Proactive Generative Knowledge Assist) shown to the user.",
          "type": "integer"
        },
        "conversationalAgentsAverageTtsLatency": {
          "type": "number",
          "description": "The macro average latency of conversational agents' TTS latency per interaction. This is computed as the average of the all the interactions' TTS latencies in a conversation and averaged across conversations.",
          "format": "double"
        },
        "dialogflowInteractionsNoMatchRatio": {
          "format": "double",
          "type": "number",
          "description": "Proportion of dialogflow interactions that has no intent match for the input."
        },
        "knowledgeAssistPositiveFeedbackRatio": {
          "format": "double",
          "type": "number",
          "description": "Proportion of knowledge assist (Proactive Generative Knowledge Assist) queries that had positive feedback."
        },
        "averageSummarizationSuggestionEditDistance": {
          "format": "double",
          "description": "Average edit distance of the summarization suggestions. Edit distance (also called as levenshtein distance) is calculated by summing up number of insertions, deletions and substitutions required to transform the summization feedback to the original summary suggestion.",
          "type": "number"
        },
        "knowledgeSearchPositiveFeedbackRatio": {
          "description": "Proportion of knowledge search (Generative Knowledge Assist) queries that had positive feedback.",
          "type": "number",
          "format": "double"
        },
        "aiCoachSuggestionCustomerMessageTriggerRatio": {
          "description": "Proportion of customer messages that triggered an Ai Coach Suggestion.",
          "format": "double",
          "type": "number"
        },
        "qaTagScores": {
          "description": "Average QA normalized score for all the tags.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPointConversationMeasureQaTagScore"
          }
        },
        "averageQaNormalizedScore": {
          "type": "number",
          "format": "double",
          "description": "The average normalized QA score for a scorecard. When computing the average across a set of conversations, if a conversation has been evaluated with multiple revisions of a scorecard, only the latest revision results will be used. Will exclude 0's in average calculation. Will be only populated if the request specifies a dimension of QA_SCORECARD_ID."
        },
        "aaSupervisorAssignedConversationsCount": {
          "description": "The number of conversations that were assigned to an AA human supervisor.",
          "format": "int32",
          "type": "integer"
        },
        "aiCoachSuggestionAgentUsageCount": {
          "description": "Count of Ai Coach Suggestion that has been used by agents.",
          "format": "int32",
          "type": "integer"
        },
        "conversationTotalCustomerMessageCount": {
          "description": "The customer message count.",
          "format": "int32",
          "type": "integer"
        },
        "aiCoachSuggestionMessageTriggerCount": {
          "format": "int32",
          "description": "Count of end_of_utterance trigger event messages that triggered an Ai Coach Suggestion.",
          "type": "integer"
        },
        "conversationAiCoachSuggestionRatio": {
          "format": "double",
          "description": "Proportion of conversations that has Ai Coach Suggestions.",
          "type": "number"
        },
        "averageDuration": {
          "description": "The average duration.",
          "format": "google-duration",
          "type": "string"
        },
        "averageSilencePercentage": {
          "description": "The average silence percentage.",
          "format": "float",
          "type": "number"
        },
        "containedConversationCount": {
          "type": "integer",
          "description": "The number of conversations that were contained.",
          "format": "int32"
        },
        "knowledgeSearchUriClickRatio": {
          "format": "double",
          "type": "number",
          "description": "Proportion of knowledge search (Generative Knowledge Assist) queries that had a URL clicked."
        },
        "knowledgeSearchResultCount": {
          "description": "Count of knowledge search results (Generative Knowledge Assist) shown to the user.",
          "format": "int32",
          "type": "integer"
        },
        "aiCoachSuggestionCustomerMessageTriggerCount": {
          "format": "int32",
          "description": "Count of customer messages that triggered an Ai Coach Suggestion.",
          "type": "integer"
        },
        "knowledgeSearchNegativeFeedbackRatio": {
          "type": "number",
          "description": "Proportion of knowledge search (Generative Knowledge Assist) queries that had negative feedback.",
          "format": "double"
        },
        "conversationSuggestedSummaryRatio": {
          "format": "double",
          "description": "Proportion of conversations that had a suggested summary.",
          "type": "number"
        },
        "dialogflowWebhookFailureRatio": {
          "description": "Proportion of dialogflow webhook calls that failed.",
          "type": "number",
          "format": "double"
        },
        "conversationalAgentsAverageLlmCallLatency": {
          "description": "The average latency of conversational agents' LLM call latency per interaction. This is computed as the average of the all the interactions LLM call latencies in a conversation and averaged across conversations.",
          "type": "number",
          "format": "double"
        },
        "aaSupervisorTransferredToHumanAgentConvCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of conversations transferred to a human agent."
        },
        "dialogflowConversationsEscalationCount": {
          "format": "double",
          "type": "number",
          "description": "count of conversations that was handed off from virtual agent to human agent."
        },
        "containedConversationRatio": {
          "description": "The percentage of conversations that were contained.",
          "format": "double",
          "type": "number"
        },
        "conversationTotalAgentMessageCount": {
          "format": "int32",
          "description": "The agent message count.",
          "type": "integer"
        },
        "knowledgeSearchSuggestedQuerySourceRatio": {
          "description": "Proportion of knowledge search (Generative Knowledge Assist) queries suggested compared to the total number of knowledge search queries made.",
          "format": "double",
          "type": "number"
        },
        "aiCoachSuggestionMessageTriggerRatio": {
          "format": "double",
          "description": "Proportion of end_of_utterance trigger event messages that triggered an Ai Coach Suggestion.",
          "type": "number"
        },
        "averageClientSentimentScore": {
          "description": "The average client's sentiment score.",
          "format": "float",
          "type": "number"
        },
        "summarizationSuggestionEditRatio": {
          "type": "number",
          "format": "double",
          "description": "Proportion of summarization suggestions that were manually edited."
        },
        "knowledgeSearchAgentQuerySourceRatio": {
          "type": "number",
          "description": "Proportion of knowledge search (Generative Knowledge Assist) queries made by the agent compared to the total number of knowledge search queries made.",
          "format": "double"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1GenerativeInsightsResponseGenerativeResponse": {
      "id": "GoogleCloudContactcenterinsightsV1GenerativeInsightsResponseGenerativeResponse",
      "properties": {
        "generatedSqlQuery": {
          "description": "The generated SQL query from the LLM. Will be populated during the chart building phase. The generated SQL will be cached in the corresponding chart resource.",
          "type": "string"
        },
        "textMessage": {
          "$ref": "GoogleCloudContactcenterinsightsV1GenerativeInsightsResponseGenerativeResponseTextOutput",
          "description": "The text output from the LLM. Will be populated during the chart building phase. For a reloaded chart, this will NOT be populated. May contain THOUGHT or a FINAL response or some in-progress response."
        },
        "chartSpec": {
          "description": "The chart spec for the data. This will be specified in the vega-lite or vega format.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "textOutput": {
          "description": "The text output from the LLM. Will be populated during the chart building phase. For a reloaded chart, this will NOT be populated. May contain THOUGHT or a FINAL response or some in-progress response.",
          "deprecated": true,
          "type": "string"
        }
      },
      "description": "Wrapper for storing the generative response for a chart.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainDimension": {
      "id": "GoogleCloudContactcenterinsightsV1mainDimension",
      "description": "A dimension determines the grouping key for the query. In SQL terms, these would be part of both the \"SELECT\" and \"GROUP BY\" clauses.",
      "properties": {
        "issueDimensionMetadata": {
          "description": "Output only. Metadata about the issue dimension.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainDimensionIssueDimensionMetadata",
          "readOnly": true
        },
        "labelDimensionMetadata": {
          "description": "Output only. Metadata about conversation labels.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainDimensionLabelDimensionMetadata",
          "readOnly": true
        },
        "mediumDimensionMetadata": {
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1mainDimensionMediumDimensionMetadata",
          "description": "Output only. Metadata about the conversation medium dimension."
        },
        "agentDimensionMetadata": {
          "description": "Output only. Metadata about the agent dimension.",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1mainDimensionAgentDimensionMetadata"
        },
        "qaScorecardDimensionMetadata": {
          "description": "Output only. Metadata about the QA scorecard dimension.",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1mainDimensionQaScorecardDimensionMetadata"
        },
        "conversationalAgentsPlaybookDimensionMetadata": {
          "readOnly": true,
          "description": "Output only. Metadata about the Conversational Agents playbook dimension.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainDimensionConversationalAgentsPlaybookDimensionMetadata"
        },
        "clientSentimentCategoryDimensionMetadata": {
          "description": "Output only. Metadata about the client sentiment category dimension.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainDimensionClientSentimentCategoryDimensionMetadata",
          "readOnly": true
        },
        "qaQuestionDimensionMetadata": {
          "description": "Output only. Metadata about the QA question dimension.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainDimensionQaQuestionDimensionMetadata",
          "readOnly": true
        },
        "conversationalAgentsToolDimensionMetadata": {
          "description": "Output only. Metadata about the Conversational Agents tool dimension.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainDimensionConversationalAgentsToolDimensionMetadata",
          "readOnly": true
        },
        "dimensionKey": {
          "type": "string",
          "enum": [
            "DIMENSION_KEY_UNSPECIFIED",
            "ISSUE",
            "ISSUE_NAME",
            "AGENT",
            "AGENT_TEAM",
            "QA_QUESTION_ID",
            "QA_QUESTION_ANSWER_VALUE",
            "QA_SCORECARD_ID",
            "CONVERSATION_PROFILE_ID",
            "MEDIUM",
            "CONVERSATIONAL_AGENTS_PLAYBOOK_ID",
            "CONVERSATIONAL_AGENTS_PLAYBOOK_NAME",
            "CONVERSATIONAL_AGENTS_TOOL_ID",
            "CONVERSATIONAL_AGENTS_TOOL_NAME",
            "CLIENT_SENTIMENT_CATEGORY",
            "AGENT_VERSION_ID",
            "AGENT_DEPLOYMENT_ID",
            "AGENT_ASSIST_SUPERVISOR_ID",
            "LABEL_KEY",
            "LABEL_VALUE",
            "LABEL_KEY_AND_VALUE",
            "LAST_TRANSFER_SUB_AGENT_NAME"
          ],
          "enumDescriptions": [
            "The key of the dimension is unspecified.",
            "The dimension is keyed by issues.",
            "The dimension is keyed by issue names.",
            "The dimension is keyed by agents.",
            "The dimension is keyed by agent teams.",
            "The dimension is keyed by QaQuestionIds. Note that: We only group by the QuestionId and not the revision-id of the scorecard this question is a part of. This allows for showing stats for the same question across different scorecard revisions.",
            "The dimension is keyed by QaQuestionIds-Answer value pairs. Note that: We only group by the QuestionId and not the revision-id of the scorecard this question is a part of. This allows for showing distribution of answers per question across different scorecard revisions.",
            "The dimension is keyed by QaScorecardIds. Note that: We only group by the ScorecardId and not the revision-id of the scorecard. This allows for showing stats for the same scorecard across different revisions. This metric is mostly only useful if querying the average normalized score per scorecard.",
            "The dimension is keyed by the conversation profile ID.",
            "The dimension is keyed by the conversation medium.",
            "The dimension is keyed by the Conversational Agents playbook ID.",
            "The dimension is keyed by the Conversational Agents playbook display name.",
            "The dimension is keyed by the Conversational Agents tool ID.",
            "The dimension is keyed by the Conversational Agents tool display name.",
            "The dimension is keyed by the client sentiment category.",
            "The dimension is keyed by the agent version ID.",
            "The dimension is keyed by the agent deployment ID.",
            "The dimension is keyed by the supervisor ID of the assigned human supervisor for virtual agents.",
            "The dimension is keyed by label keys.",
            "The dimension is keyed by label values.",
            "The dimension is keyed by label key-value pairs.",
            "The dimension is keyed by the last transfer sub agent name."
          ],
          "description": "The key of the dimension."
        },
        "qaQuestionAnswerDimensionMetadata": {
          "readOnly": true,
          "description": "Output only. Metadata about the QA question-answer dimension.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainDimensionQaQuestionAnswerDimensionMetadata"
        },
        "conversationProfileDimensionMetadata": {
          "description": "Output only. Metadata about the conversation profile dimension.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainDimensionConversationProfileDimensionMetadata",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1DialogflowIntent": {
      "description": "The data for a Dialogflow intent. Represents a detected intent in the conversation, e.g. MAKES_PROMISE.",
      "id": "GoogleCloudContactcenterinsightsV1DialogflowIntent",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "The human-readable name of the intent.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainQaScorecardResultQaTagResult": {
      "id": "GoogleCloudContactcenterinsightsV1mainQaScorecardResultQaTagResult",
      "description": "Tags and their corresponding results.",
      "type": "object",
      "properties": {
        "normalizedScore": {
          "format": "double",
          "description": "The normalized score the tag applies to.",
          "type": "number"
        },
        "tag": {
          "type": "string",
          "description": "The tag the score applies to."
        },
        "score": {
          "description": "The score the tag applies to.",
          "type": "number",
          "format": "double"
        },
        "potentialScore": {
          "description": "The potential score the tag applies to.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1EntityMentionData": {
      "properties": {
        "entityUniqueId": {
          "type": "string",
          "description": "The key of this entity in conversation entities. Can be used to retrieve the exact `Entity` this mention is attached to."
        },
        "sentiment": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1SentimentData",
          "description": "Sentiment expressed for this mention of the entity."
        },
        "type": {
          "description": "The type of the entity mention.",
          "type": "string",
          "enum": [
            "MENTION_TYPE_UNSPECIFIED",
            "PROPER",
            "COMMON"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Proper noun.",
            "Common noun (or noun compound)."
          ]
        }
      },
      "description": "The data for an entity mention annotation. This represents a mention of an `Entity` in the conversation.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1EntityMentionData",
      "type": "object"
    },
    "GoogleCloudCesV1mainImage": {
      "id": "GoogleCloudCesV1mainImage",
      "description": "Represents an image input or output in the conversation.",
      "type": "object",
      "properties": {
        "data": {
          "type": "string",
          "description": "Required. Raw bytes of the image.",
          "format": "byte"
        },
        "altText": {
          "type": "string",
          "description": "Optional. The alternative text for the image."
        },
        "mimeType": {
          "type": "string",
          "description": "Required. The IANA standard MIME type of the source data. Supported image types includes: * image/png * image/jpeg * image/webp"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1TestCorrelationConfigMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1TestCorrelationConfigMetadata",
      "properties": {
        "dataset": {
          "type": "string",
          "description": "The dataset used for sampling conversations."
        },
        "stats": {
          "description": "The statistics for the operation.",
          "$ref": "GoogleCloudContactcenterinsightsV1TestCorrelationConfigMetadataFullConversationCorrelationStats"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Metadata for testing correlation config."
    },
    "GoogleCloudContactcenterinsightsV1mainDimensionConversationProfileDimensionMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1mainDimensionConversationProfileDimensionMetadata",
      "properties": {
        "conversationProfileId": {
          "description": "Optional. The conversation profile ID.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Metadata about the conversation profile dimension."
    },
    "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSlice": {
      "id": "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSlice",
      "description": "A slice contains a total and (if the request specified a time granularity) a time series of metric values. Each slice contains a unique combination of the cardinality of dimensions from the request. For example, if the request specifies a single ISSUE dimension and it has a cardinality of 2 (i.e. the data used to compute the metrics has 2 issues in total), the response will have 2 slices: * Slice 1 -> dimensions=[Issue 1] * Slice 2 -> dimensions=[Issue 2]",
      "type": "object",
      "properties": {
        "total": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPoint",
          "description": "The total metric value. The interval of this data point is [starting create time, ending create time) from the request."
        },
        "dimensions": {
          "type": "array",
          "description": "A unique combination of dimensions that this slice represents.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainDimension"
          }
        },
        "timeSeries": {
          "description": "A time series of metric values. This is only populated if the request specifies a time granularity other than NONE.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceTimeSeries"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1ChartDataSource": {
      "id": "GoogleCloudContactcenterinsightsV1ChartDataSource",
      "type": "object",
      "description": "The request data for visualizing the dataset in the chart.",
      "properties": {
        "generativeInsights": {
          "$ref": "GoogleCloudContactcenterinsightsV1GenerativeInsights",
          "description": "Use natural language query to generate the chart."
        },
        "queryMetrics": {
          "$ref": "GoogleCloudContactcenterinsightsV1QueryMetrics",
          "description": "Use the existing QueryMetrics to generate the chart."
        }
      }
    },
    "GoogleCloudCesV1mainAgentTransfer": {
      "description": "Represents an event indicating the transfer of a conversation to a different agent.",
      "properties": {
        "targetAgent": {
          "description": "Required. The agent to which the conversation is being transferred. The agent will handle the conversation from this point forward. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Display name of the agent."
        }
      },
      "type": "object",
      "id": "GoogleCloudCesV1mainAgentTransfer"
    },
    "GoogleCloudContactcenterinsightsV1Note": {
      "type": "object",
      "properties": {
        "conversationTurnNote": {
          "description": "The note is associated with a conversation turn.",
          "$ref": "GoogleCloudContactcenterinsightsV1NoteConversationTurnNote"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time at which the note was created."
        },
        "content": {
          "type": "string",
          "description": "The note content."
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The time at which the note was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "noteCreator": {
          "readOnly": true,
          "description": "Output only. The user that created the note.",
          "$ref": "GoogleCloudContactcenterinsightsV1UserInfo"
        },
        "qaQuestionNote": {
          "description": "The note is associated with a QA question in one of the conversation's scorecard results.",
          "$ref": "GoogleCloudContactcenterinsightsV1NoteQaQuestionNote"
        },
        "name": {
          "description": "Identifier. The resource name of the note. Format: projects/{project}/locations/{location}/conversations/{conversation}/assessments/{assessment}/notes/{note}",
          "type": "string"
        },
        "assessmentNote": {
          "description": "The note is associated to the entire parent assessment.",
          "$ref": "GoogleCloudContactcenterinsightsV1NoteAssessmentNote"
        }
      },
      "description": "The conversation assessment note resource.",
      "id": "GoogleCloudContactcenterinsightsV1Note"
    },
    "GoogleCloudContactcenterinsightsV1QaAnswerAnswerSource": {
      "description": "A question may have multiple answers from varying sources, one of which becomes the \"main\" answer above. AnswerSource represents each individual answer.",
      "id": "GoogleCloudContactcenterinsightsV1QaAnswerAnswerSource",
      "type": "object",
      "properties": {
        "sourceType": {
          "description": "What created the answer.",
          "type": "string",
          "enum": [
            "SOURCE_TYPE_UNSPECIFIED",
            "SYSTEM_GENERATED",
            "MANUAL_EDIT"
          ],
          "enumDescriptions": [
            "Source type is unspecified.",
            "Answer was system-generated; created during an Insights analysis.",
            "Answer was created by a human via manual edit."
          ]
        },
        "answerValue": {
          "description": "The answer value from this source. This field is populated by default, unless the question has a selection strategy configured to return multiple answer values, in which case `answer_values` will be populated instead.",
          "$ref": "GoogleCloudContactcenterinsightsV1QaAnswerAnswerValue"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1QaScorecardResult": {
      "type": "object",
      "description": "The results of scoring a single conversation against a QaScorecard. Contains a collection of QaAnswers and aggregate score.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1QaScorecardResult",
      "properties": {
        "conversation": {
          "type": "string",
          "description": "The conversation scored by this result."
        },
        "qaTagResults": {
          "description": "Collection of tags and their scores.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1QaScorecardResultQaTagResult"
          },
          "type": "array"
        },
        "agentId": {
          "type": "string",
          "description": "ID of the agent that handled the conversation."
        },
        "qaAnswers": {
          "description": "Set of QaAnswers represented in the result.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1QaAnswer"
          },
          "type": "array"
        },
        "score": {
          "format": "double",
          "description": "The overall numerical score of the result, incorporating any manual edits if they exist.",
          "type": "number"
        },
        "normalizedScore": {
          "type": "number",
          "format": "double",
          "description": "The normalized score, which is the score divided by the potential score. Any manual edits are included if they exist."
        },
        "scoreSources": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1QaScorecardResultScoreSource"
          },
          "type": "array",
          "description": "List of all individual score sets."
        },
        "createTime": {
          "description": "Output only. The timestamp that the revision was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "potentialScore": {
          "format": "double",
          "description": "The maximum potential overall score of the scorecard. Any questions answered using `na_value` are excluded from this calculation.",
          "type": "number"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the scorecard result. Format: projects/{project}/locations/{location}/qaScorecardResults/{qa_scorecard_result}"
        },
        "qaScorecardRevision": {
          "type": "string",
          "description": "The QaScorecardRevision scored by this result."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1BulkDownloadFeedbackLabelsRequest": {
      "id": "GoogleCloudContactcenterinsightsV1BulkDownloadFeedbackLabelsRequest",
      "type": "object",
      "description": "Request for the BulkDownloadFeedbackLabel endpoint.",
      "properties": {
        "maxDownloadCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Limits the maximum number of feedback labels that will be downloaded. The first `N` feedback labels will be downloaded."
        },
        "parent": {
          "description": "Required. The parent resource for new feedback labels.",
          "type": "string"
        },
        "conversationFilter": {
          "description": "Optional. Filter parent conversations to download feedback labels for. When specified, the feedback labels will be downloaded for the conversations that match the filter. If `template_qa_scorecard_id` is set, all the conversations that match the filter will be paired with the questions under the scorecard for labeling.",
          "type": "string"
        },
        "feedbackLabelType": {
          "description": "Optional. The type of feedback labels that will be downloaded.",
          "enumDescriptions": [
            "Unspecified format",
            "Downloaded file will contain all Quality AI labels from the latest scorecard revision.",
            "Downloaded file will contain only Topic Modeling labels.",
            "Agent Assist Summarization labels."
          ],
          "type": "string",
          "enum": [
            "FEEDBACK_LABEL_TYPE_UNSPECIFIED",
            "QUALITY_AI",
            "TOPIC_MODELING",
            "AGENT_ASSIST_SUMMARY"
          ]
        },
        "templateQaScorecardId": {
          "description": "Optional. If set, a template for labeling conversations and scorecard questions will be created from the conversation_filter and the questions under the scorecard(s). The feedback label `filter` will be ignored.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "filter": {
          "description": "Optional. A filter to reduce results to a specific subset. Supports disjunctions (OR) and conjunctions (AND). Supported fields: * `issue_model_id` * `qa_question_id` * `qa_scorecard_id` * `min_create_time` * `max_create_time` * `min_update_time` * `max_update_time` * `feedback_label_type`: QUALITY_AI, TOPIC_MODELING",
          "type": "string"
        },
        "gcsDestination": {
          "description": "A cloud storage bucket destination.",
          "$ref": "GoogleCloudContactcenterinsightsV1BulkDownloadFeedbackLabelsRequestGcsDestination"
        },
        "sheetsDestination": {
          "description": "A sheets document destination.",
          "$ref": "GoogleCloudContactcenterinsightsV1BulkDownloadFeedbackLabelsRequestSheetsDestination"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1ListFeedbackLabelsResponse": {
      "properties": {
        "feedbackLabels": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1FeedbackLabel"
          },
          "type": "array",
          "description": "The feedback labels that match the request."
        },
        "nextPageToken": {
          "description": "The next page token.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The response for listing feedback labels.",
      "id": "GoogleCloudContactcenterinsightsV1ListFeedbackLabelsResponse"
    },
    "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPart": {
      "description": "A structured component/part of a transcript segment.",
      "type": "object",
      "properties": {
        "table": {
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartTablePart",
          "description": "Optional. Tabular data."
        },
        "video": {
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartMediaPart",
          "description": "Optional. Video media."
        },
        "image": {
          "description": "Optional. Image media.",
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartMediaPart"
        },
        "suggestionChips": {
          "description": "Optional. Suggestion chips or interactive buttons.",
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartSuggestionChipsPart"
        },
        "customPayload": {
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartCustomPayloadPart",
          "description": "Optional. Generic custom structured payload."
        },
        "list": {
          "description": "Optional. Ordered or unordered list.",
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartListPart"
        },
        "thought": {
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartThoughtPart",
          "description": "Optional. Model thought or internal reasoning."
        },
        "link": {
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartLinkPart",
          "description": "Optional. Web link or URL."
        },
        "text": {
          "description": "Optional. Plain text content.",
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartTextPart"
        },
        "productCollection": {
          "description": "Optional. Product collection or carousel.",
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartProductCollectionPart"
        },
        "citation": {
          "description": "Optional. Citation or reference to grounding material.",
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartCitationPart"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPart"
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPartMediaPart": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPartMediaPart",
      "type": "object",
      "description": "A media part.",
      "properties": {
        "uri": {
          "description": "Optional. URI or URL to the media.",
          "type": "string"
        },
        "alternativeText": {
          "description": "Optional. Alternative text description.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1TestAutoLabelingRuleResponse": {
      "id": "GoogleCloudContactcenterinsightsV1TestAutoLabelingRuleResponse",
      "type": "object",
      "description": "The response message for testing auto labeling rules.",
      "properties": {
        "labelResult": {
          "description": "The result of the test auto labeling rule.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1ListAnalysesResponse": {
      "type": "object",
      "description": "The response to list analyses.",
      "properties": {
        "analyses": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1Analysis"
          },
          "description": "The analyses that match the request."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1ListAnalysesResponse"
    },
    "GoogleCloudContactcenterinsightsV1AnnotatorSelectorQaConfig": {
      "id": "GoogleCloudContactcenterinsightsV1AnnotatorSelectorQaConfig",
      "type": "object",
      "description": "Configuration for the QA feature.",
      "properties": {
        "scorecardList": {
          "$ref": "GoogleCloudContactcenterinsightsV1AnnotatorSelectorQaConfigScorecardList",
          "description": "A manual list of scorecards to score."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1AnalysisResultCallAnalysisMetadata": {
      "description": "Call-specific metadata created during analysis.",
      "id": "GoogleCloudContactcenterinsightsV1AnalysisResultCallAnalysisMetadata",
      "type": "object",
      "properties": {
        "issueModelResult": {
          "description": "Overall conversation-level issue modeling result.",
          "$ref": "GoogleCloudContactcenterinsightsV1IssueModelResult"
        },
        "entities": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudContactcenterinsightsV1Entity"
          },
          "description": "All the entities in the call."
        },
        "silence": {
          "description": "Overall conversation-level silence during the call.",
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationLevelSilence"
        },
        "annotations": {
          "description": "A list of call annotations that apply to this call.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1CallAnnotation"
          },
          "type": "array"
        },
        "qaScorecardResults": {
          "description": "Results of scoring QaScorecards.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1QaScorecardResult"
          }
        },
        "phraseMatchers": {
          "type": "object",
          "description": "All the matched phrase matchers in the call.",
          "additionalProperties": {
            "$ref": "GoogleCloudContactcenterinsightsV1PhraseMatchData"
          }
        },
        "sentiments": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1ConversationLevelSentiment"
          },
          "description": "Overall conversation-level sentiment for each channel of the call.",
          "type": "array"
        },
        "intents": {
          "type": "object",
          "description": "All the matched intents in the call.",
          "additionalProperties": {
            "$ref": "GoogleCloudContactcenterinsightsV1Intent"
          }
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1BulkUploadFeedbackLabelsRequest": {
      "type": "object",
      "description": "The request for bulk uploading feedback labels.",
      "properties": {
        "sheetsSource": {
          "description": "A sheets document source.",
          "$ref": "GoogleCloudContactcenterinsightsV1BulkUploadFeedbackLabelsRequestSheetsSource"
        },
        "validateOnly": {
          "description": "Optional. If set, upload will not happen and the labels will be validated. If not set, then default behavior will be to upload the labels after validation is complete.",
          "type": "boolean"
        },
        "gcsSource": {
          "description": "A cloud storage bucket source.",
          "$ref": "GoogleCloudContactcenterinsightsV1BulkUploadFeedbackLabelsRequestGcsSource"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1BulkUploadFeedbackLabelsRequest"
    },
    "GoogleCloudContactcenterinsightsV1BulkDeleteFeedbackLabelsResponse": {
      "description": "Response for the BulkDeleteFeedbackLabels endpoint.",
      "id": "GoogleCloudContactcenterinsightsV1BulkDeleteFeedbackLabelsResponse",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudContactcenterinsightsV1IngestConversationsResponse": {
      "description": "The response to an IngestConversations operation.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1IngestConversationsResponse",
      "properties": {}
    },
    "GoogleCloudContactcenterinsightsV1mainIssueModelResult": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainIssueModelResult",
      "properties": {
        "issues": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainIssueAssignment"
          },
          "description": "All the matched issues."
        },
        "issueModel": {
          "description": "Issue model that generates the result. Format: projects/{project}/locations/{location}/issueModels/{issue_model}",
          "type": "string"
        }
      },
      "description": "Issue Modeling result on a conversation."
    },
    "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartThoughtPart": {
      "properties": {
        "text": {
          "description": "Optional. The thought or reasoning text.",
          "type": "string"
        }
      },
      "description": "A thought part.",
      "id": "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartThoughtPart",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1DimensionConversationProfileDimensionMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1DimensionConversationProfileDimensionMetadata",
      "description": "Metadata about the conversation profile dimension.",
      "properties": {
        "conversationProfileId": {
          "description": "Optional. The conversation profile ID.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPartCitationPart": {
      "properties": {
        "sourceUri": {
          "description": "Optional. The cited source URI.",
          "type": "string"
        },
        "snippet": {
          "description": "Optional. Snippet of the cited text.",
          "type": "string"
        },
        "sourceTitle": {
          "type": "string",
          "description": "Optional. The cited source title."
        }
      },
      "type": "object",
      "description": "A citation part.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPartCitationPart"
    },
    "GoogleCloudContactcenterinsightsV1alpha1DimensionQaQuestionAnswerDimensionMetadata": {
      "description": "Metadata about the QA question-answer dimension. This is useful for showing the answer distribution for questions for a given scorecard.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1DimensionQaQuestionAnswerDimensionMetadata",
      "properties": {
        "questionBody": {
          "description": "Optional. The full body of the question.",
          "type": "string"
        },
        "answerValue": {
          "type": "string",
          "description": "Optional. The full body of the question."
        },
        "qaQuestionId": {
          "type": "string",
          "description": "Optional. The QA question ID."
        },
        "qaScorecardId": {
          "description": "Optional. The QA scorecard ID.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1UpdateQaQuestionTagMetadata": {
      "properties": {
        "endTime": {
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "type": "string"
        },
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1UpdateQaQuestionTagRequest",
          "description": "Output only. The original request.",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "description": "The metadata for updating a QaQuestionTag Resource.",
      "id": "GoogleCloudContactcenterinsightsV1UpdateQaQuestionTagMetadata"
    },
    "GoogleCloudContactcenterinsightsV1mainIngestConversationsRequestConversationConfig": {
      "id": "GoogleCloudContactcenterinsightsV1mainIngestConversationsRequestConversationConfig",
      "description": "Configuration that applies to all conversations.",
      "type": "object",
      "properties": {
        "customerChannel": {
          "type": "integer",
          "description": "Optional. Indicates which of the channels, 1 or 2, contains the agent. Note that this must be set for conversations to be properly displayed and analyzed.",
          "format": "int32"
        },
        "agentChannel": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Indicates which of the channels, 1 or 2, contains the agent. Note that this must be set for conversations to be properly displayed and analyzed."
        },
        "agentId": {
          "type": "string",
          "description": "Optional. An opaque, user-specified string representing a human agent who handled all conversations in the import. Note that this will be overridden if per-conversation metadata is provided through the `metadata_bucket_uri`."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1ExportInsightsDataMetadata": {
      "type": "object",
      "description": "Metadata for an export insights operation.",
      "id": "GoogleCloudContactcenterinsightsV1ExportInsightsDataMetadata",
      "properties": {
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "type": "string"
        },
        "completedExportCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of conversations that were exported successfully."
        },
        "failedExportCount": {
          "description": "The number of conversations that failed to be exported.",
          "type": "integer",
          "format": "int32"
        },
        "partialErrors": {
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "Partial errors during export operation that might cause the operation output to be incomplete."
        },
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1ExportInsightsDataRequest",
          "description": "The original request for export."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1TestCorrelationConfigResponseDetailedCorrelationResults": {
      "properties": {
        "joinKeyResults": {
          "description": "A list of join key correlation results for each conversation tested.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConversationCorrelationResult"
          }
        },
        "constraintResults": {
          "description": "A list of constraint evaluation results for each pair of conversations.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConstraintEvaluationResult"
          }
        }
      },
      "description": "Wrapper for detailed, step-by-step results.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1TestCorrelationConfigResponseDetailedCorrelationResults"
    },
    "GoogleCloudContactcenterinsightsV1ListQaQuestionTagsResponse": {
      "type": "object",
      "properties": {
        "qaQuestionTags": {
          "description": "The parent resource of the questions.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1QaQuestionTag"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "The response from a ListQaQuestionTags request.",
      "id": "GoogleCloudContactcenterinsightsV1ListQaQuestionTagsResponse"
    },
    "GoogleCloudContactcenterinsightsV1alpha1ExportInsightsDataMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1ExportInsightsDataMetadata",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "completedExportCount": {
          "type": "integer",
          "description": "The number of conversations that were exported successfully.",
          "format": "int32"
        },
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1ExportInsightsDataRequest",
          "description": "The original request for export."
        },
        "failedExportCount": {
          "format": "int32",
          "description": "The number of conversations that failed to be exported.",
          "type": "integer"
        },
        "partialErrors": {
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "Partial errors during export operation that might cause the operation output to be incomplete."
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "Metadata for an export insights operation.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1PhraseMatchData": {
      "properties": {
        "displayName": {
          "description": "The human-readable name of the phrase matcher.",
          "type": "string"
        },
        "phraseMatcher": {
          "description": "The unique identifier (the resource name) of the phrase matcher.",
          "type": "string"
        }
      },
      "description": "The data for a matched phrase matcher. Represents information identifying a phrase matcher for a given match.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1PhraseMatchData",
      "type": "object"
    },
    "GoogleIamV1AuditConfig": {
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "type": "object",
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "type": "array",
          "items": {
            "$ref": "GoogleIamV1AuditLogConfig"
          }
        }
      },
      "id": "GoogleIamV1AuditConfig"
    },
    "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsMetadata": {
      "properties": {
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsRequest",
          "description": "Output only. The original request for ingest.",
          "readOnly": true
        },
        "partialErrors": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Partial errors during ingest operation that might cause the operation output to be incomplete."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "readOnly": true
        },
        "endTime": {
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "format": "google-datetime"
        },
        "ingestConversationsStats": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsMetadataIngestConversationsStats",
          "description": "Output only. Statistics for IngestConversations operation.",
          "readOnly": true
        },
        "sampledConversations": {
          "readOnly": true,
          "description": "Output only. Stores the conversation resources produced by ingest sampling operations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsMetadata",
      "description": "The metadata for an IngestConversations operation.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1PhraseMatchRuleGroup": {
      "description": "A message representing a rule in the phrase matcher.",
      "properties": {
        "type": {
          "description": "Required. The type of this phrase match rule group.",
          "enumDescriptions": [
            "Unspecified.",
            "Must meet all phrase match rules or there is no match.",
            "If any of the phrase match rules are met, there is a match."
          ],
          "type": "string",
          "enum": [
            "PHRASE_MATCH_RULE_GROUP_TYPE_UNSPECIFIED",
            "ALL_OF",
            "ANY_OF"
          ]
        },
        "phraseMatchRules": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1PhraseMatchRule"
          },
          "description": "A list of phrase match rules that are included in this group.",
          "type": "array"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1PhraseMatchRuleGroup",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1DateRangeConfig": {
      "properties": {
        "relativeDateRange": {
          "$ref": "GoogleCloudContactcenterinsightsV1DateRangeConfigRelativeDateRange",
          "description": "A relative date range."
        },
        "absoluteDateRange": {
          "description": "An absolute date range.",
          "$ref": "GoogleCloudContactcenterinsightsV1QueryInterval"
        }
      },
      "type": "object",
      "description": "Date range configuration for dashboard charts.",
      "id": "GoogleCloudContactcenterinsightsV1DateRangeConfig"
    },
    "GoogleCloudContactcenterinsightsV1SmartReplyData": {
      "type": "object",
      "properties": {
        "confidenceScore": {
          "type": "number",
          "format": "double",
          "description": "The system's confidence score that this reply is a good match for this conversation, ranging from 0.0 (completely uncertain) to 1.0 (completely certain)."
        },
        "metadata": {
          "type": "object",
          "description": "Map that contains metadata about the Smart Reply and the document from which it originates.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "queryRecord": {
          "type": "string",
          "description": "The name of the answer record. Format: projects/{project}/locations/{location}/answerRecords/{answer_record}"
        },
        "reply": {
          "type": "string",
          "description": "The content of the reply."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1SmartReplyData",
      "description": "Agent Assist Smart Reply data."
    },
    "GoogleCloudContactcenterinsightsV1mainIssueModelLabelStats": {
      "description": "Aggregated statistics about an issue model.",
      "properties": {
        "unclassifiedConversationsCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of analyzed conversations for which no issue was applicable at this point in time."
        },
        "analyzedConversationsCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of conversations the issue model has analyzed at this point in time."
        },
        "issueStats": {
          "type": "object",
          "description": "Statistics on each issue. Key is the issue's resource name.",
          "additionalProperties": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainIssueModelLabelStatsIssueStats"
          }
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainIssueModelLabelStats",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainEncryptionSpec": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Immutable. The resource name of the encryption key specification resource. Format: projects/{project}/locations/{location}/encryptionSpec"
        },
        "kmsKey": {
          "type": "string",
          "description": "Required. The name of customer-managed encryption key that is used to secure a resource and its sub-resources. If empty, the resource is secured by our default encryption key. Only the key in the same location as this resource is allowed to be used for encryption. Format: `projects/{project}/locations/{location}/keyRings/{keyRing}/cryptoKeys/{key}`"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainEncryptionSpec",
      "description": "A customer-managed encryption key specification that can be applied to all created resources (e.g. `Conversation`)."
    },
    "GoogleCloudContactcenterinsightsV1DeleteQaQuestionTagMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1DeleteQaQuestionTagMetadata",
      "description": "The metadata for deleting a QaQuestionTag Resource.",
      "properties": {
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the operation finished running."
        },
        "request": {
          "readOnly": true,
          "description": "Output only. The original request.",
          "$ref": "GoogleCloudContactcenterinsightsV1DeleteQaQuestionTagRequest"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1GenerativeInsightsResponseGenerativeResponse": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1GenerativeInsightsResponseGenerativeResponse",
      "type": "object",
      "description": "Wrapper for storing the generative response for a chart.",
      "properties": {
        "generatedSqlQuery": {
          "type": "string",
          "description": "The generated SQL query from the LLM. Will be populated during the chart building phase. The generated SQL will be cached in the corresponding chart resource."
        },
        "chartSpec": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "The chart spec for the data. This will be specified in the vega-lite or vega format."
        },
        "textOutput": {
          "description": "The text output from the LLM. Will be populated during the chart building phase. For a reloaded chart, this will NOT be populated. May contain THOUGHT or a FINAL response or some in-progress response.",
          "deprecated": true,
          "type": "string"
        },
        "textMessage": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1GenerativeInsightsResponseGenerativeResponseTextOutput",
          "description": "The text output from the LLM. Will be populated during the chart building phase. For a reloaded chart, this will NOT be populated. May contain THOUGHT or a FINAL response or some in-progress response."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1RuntimeAnnotationUserInput": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1RuntimeAnnotationUserInput",
      "description": "Explicit input used for generating the answer",
      "properties": {
        "querySource": {
          "enumDescriptions": [
            "Unknown query source.",
            "The query is from agents.",
            "The query is a query from previous suggestions, e.g. from a preceding SuggestKnowledgeAssist response."
          ],
          "type": "string",
          "enum": [
            "QUERY_SOURCE_UNSPECIFIED",
            "AGENT_QUERY",
            "SUGGESTED_QUERY"
          ],
          "description": "Query source for the answer."
        },
        "generatorName": {
          "description": "The resource name of associated generator. Format: `projects//locations//generators/`",
          "type": "string"
        },
        "query": {
          "description": "Query text. Article Search uses this to store the input query used to generate the search results.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1ConversationTranscript": {
      "description": "A message representing the transcript of a conversation.",
      "type": "object",
      "properties": {
        "transcriptSegments": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegment"
          },
          "description": "A list of sequential transcript segments that comprise the conversation."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1ConversationTranscript"
    },
    "GoogleCloudContactcenterinsightsV1DimensionClientSentimentCategoryDimensionMetadata": {
      "description": "Metadata about the client sentiment category dimension.",
      "id": "GoogleCloudContactcenterinsightsV1DimensionClientSentimentCategoryDimensionMetadata",
      "properties": {
        "sentimentCategory": {
          "description": "Optional. The client sentiment category.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1DimensionClientSentimentCategoryDimensionMetadata": {
      "type": "object",
      "properties": {
        "sentimentCategory": {
          "description": "Optional. The client sentiment category.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1DimensionClientSentimentCategoryDimensionMetadata",
      "description": "Metadata about the client sentiment category dimension."
    },
    "GoogleCloudContactcenterinsightsV1QueryMetricsMetadata": {
      "description": "The metadata from querying metrics.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1QueryMetricsMetadata",
      "properties": {
        "resultIsTruncated": {
          "description": "Whether the result rows were truncated because the result row size is too large to materialize.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1ConversationLevelSentiment": {
      "properties": {
        "sentimentData": {
          "description": "Data specifying sentiment.",
          "$ref": "GoogleCloudContactcenterinsightsV1SentimentData"
        },
        "channelTag": {
          "type": "integer",
          "description": "The channel of the audio that the data applies to.",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "One channel of conversation-level sentiment data.",
      "id": "GoogleCloudContactcenterinsightsV1ConversationLevelSentiment"
    },
    "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegment": {
      "type": "object",
      "description": "A segment of a full transcript.",
      "properties": {
        "messageTime": {
          "type": "string",
          "description": "The time that the message occurred, if provided.",
          "format": "google-datetime"
        },
        "channelTag": {
          "format": "int32",
          "description": "For conversations derived from multi-channel audio, this is the channel number corresponding to the audio from that channel. For audioChannelCount = N, its output values can range from '1' to 'N'. A channel tag of 0 indicates that the audio is mono.",
          "type": "integer"
        },
        "segmentParticipant": {
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationParticipant",
          "description": "The participant of this segment."
        },
        "turnLevelAudio": {
          "description": "Turn level audio for this transcript segment.",
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationDataSourceTurnLevelAudio"
        },
        "text": {
          "type": "string",
          "description": "The text of this segment."
        },
        "dialogflowSegmentMetadata": {
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentDialogflowSegmentMetadata",
          "description": "CCAI metadata relating to the current transcript segment."
        },
        "sentiment": {
          "$ref": "GoogleCloudContactcenterinsightsV1SentimentData",
          "description": "The sentiment for this transcript segment."
        },
        "languageCode": {
          "type": "string",
          "description": "The language code of this segment as a [BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt) language tag. Example: \"en-US\"."
        },
        "parts": {
          "description": "Optional. The structured parts that make up this transcript segment.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPart"
          },
          "type": "array"
        },
        "words": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentWordInfo"
          },
          "description": "A list of the word-specific information for each word in the segment.",
          "type": "array"
        },
        "confidence": {
          "type": "number",
          "format": "float",
          "description": "A confidence estimate between 0.0 and 1.0 of the fidelity of this segment. A default value of 0.0 indicates that the value is unset."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegment"
    },
    "GoogleCloudContactcenterinsightsV1RedactionConfig": {
      "id": "GoogleCloudContactcenterinsightsV1RedactionConfig",
      "type": "object",
      "properties": {
        "deidentifyTemplate": {
          "description": "The fully-qualified DLP deidentify template resource name. Format: `projects/{project}/deidentifyTemplates/{template}`",
          "type": "string"
        },
        "inspectTemplate": {
          "description": "The fully-qualified DLP inspect template resource name. Format: `projects/{project}/locations/{location}/inspectTemplates/{template}`",
          "type": "string"
        }
      },
      "description": "DLP resources used for redaction while ingesting conversations. DLP settings are applied to conversations ingested from the `UploadConversation` and `IngestConversations` endpoints, including conversation coming from CCAI Platform. They are not applied to conversations ingested from the `CreateConversation` endpoint or the Dialogflow / Agent Assist runtime integrations. When using Dialogflow / Agent Assist runtime integrations, redaction should be performed in Dialogflow / Agent Assist."
    },
    "GoogleCloudContactcenterinsightsV1DimensionConversationProfileDimensionMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1DimensionConversationProfileDimensionMetadata",
      "description": "Metadata about the conversation profile dimension.",
      "type": "object",
      "properties": {
        "conversationProfileId": {
          "type": "string",
          "description": "Optional. The conversation profile ID."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1IssueModelInputDataConfig": {
      "properties": {
        "medium": {
          "description": "Medium of conversations used in training data. This field is being deprecated. To specify the medium to be used in training a new issue model, set the `medium` field on `filter`.",
          "type": "string",
          "enum": [
            "MEDIUM_UNSPECIFIED",
            "PHONE_CALL",
            "CHAT"
          ],
          "enumDescriptions": [
            "Default value for unspecified.",
            "The format for conversations that took place over the phone.",
            "The format for conversations that took place over chat."
          ],
          "deprecated": true
        },
        "filter": {
          "type": "string",
          "description": "A filter to reduce the conversations used for training the model to a specific subset. Refer to https://cloud.google.com/contact-center/insights/docs/filtering for details."
        },
        "trainingConversationsCount": {
          "format": "int64",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Number of conversations used in training. Output only."
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1IssueModelInputDataConfig",
      "description": "Configs for the input data used to create the issue model."
    },
    "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceTimeSeries": {
      "type": "object",
      "properties": {
        "dataPoints": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPoint"
          },
          "description": "The data points that make up the time series .",
          "type": "array"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceTimeSeries",
      "description": "A time series of metric values."
    },
    "GoogleCloudContactcenterinsightsV1CalculateStatsResponseTimeSeries": {
      "type": "object",
      "description": "A time series representing conversations over time.",
      "id": "GoogleCloudContactcenterinsightsV1CalculateStatsResponseTimeSeries",
      "properties": {
        "points": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1CalculateStatsResponseTimeSeriesInterval"
          },
          "type": "array",
          "description": "An ordered list of intervals from earliest to latest, where each interval represents the number of conversations that transpired during the time window."
        },
        "intervalDuration": {
          "description": "The duration of each interval.",
          "format": "google-duration",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1UploadConversationMetadata": {
      "properties": {
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime"
        },
        "appliedRedactionConfig": {
          "$ref": "GoogleCloudContactcenterinsightsV1RedactionConfig",
          "readOnly": true,
          "description": "Output only. The redaction config applied to the uploaded conversation."
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running."
        },
        "analysisOperation": {
          "readOnly": true,
          "description": "Output only. The operation name for a successfully created analysis operation, if any.",
          "type": "string"
        },
        "request": {
          "description": "Output only. The original request.",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1UploadConversationRequest"
        }
      },
      "description": "The metadata for an `UploadConversation` operation.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1UploadConversationMetadata"
    },
    "GoogleCloudContactcenterinsightsV1alpha1Dataset": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "EVAL",
            "LIVE"
          ],
          "description": "Dataset usage type.",
          "enumDescriptions": [
            "Default value for unspecified.",
            "For evals only.",
            "Dataset with new conversations coming in regularly (Insights legacy conversations and AI trainer)"
          ]
        },
        "displayName": {
          "description": "Display name for the dataaset",
          "type": "string"
        },
        "ttl": {
          "type": "string",
          "description": "Optional. Option TTL for the dataset.",
          "format": "google-duration"
        },
        "description": {
          "description": "Dataset description.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Immutable. Identifier. Resource name of the dataset. Format: projects/{project}/locations/{location}/datasets/{dataset}"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Dataset update time."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Dataset create time.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Dataset resource represents a collection of conversations that may be bounded (Static Dataset, e.g. golden dataset for training), or unbounded (Dynamic Dataset, e.g. live traffic, or agent training traffic)",
      "id": "GoogleCloudContactcenterinsightsV1alpha1Dataset"
    },
    "GoogleCloudContactcenterinsightsV1AssistantChunk": {
      "id": "GoogleCloudContactcenterinsightsV1AssistantChunk",
      "properties": {
        "text": {
          "type": "string",
          "description": "Optional. Text data."
        }
      },
      "description": "A chunk of data in an assistant message.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1CreateIssueMetadata": {
      "type": "object",
      "description": "Metadata for creating an issue.",
      "id": "GoogleCloudContactcenterinsightsV1CreateIssueMetadata",
      "properties": {
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1CreateIssueRequest",
          "description": "The original request for creation."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1DimensionQaScorecardDimensionMetadata": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1DimensionQaScorecardDimensionMetadata",
      "description": "Metadata about the QA scorecard dimension.",
      "properties": {
        "qaScorecardId": {
          "description": "Optional. The QA scorecard ID.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1UndeployIssueModelRequest": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The issue model to undeploy."
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1UndeployIssueModelRequest",
      "description": "The request to undeploy an issue model."
    },
    "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartTextPart": {
      "type": "object",
      "properties": {
        "text": {
          "description": "Optional. The text content.",
          "type": "string"
        }
      },
      "description": "A text part.",
      "id": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartTextPart"
    },
    "GoogleCloudContactcenterinsightsV1mainUploadConversationRequest": {
      "type": "object",
      "description": "Request to upload a conversation.",
      "properties": {
        "conversationId": {
          "description": "Optional. A unique ID for the new conversation. This ID will become the final component of the conversation's resource name. If no ID is specified, a server-generated ID will be used. This value should be 4-64 characters and must match the regular expression `^[a-z0-9-]{4,64}$`. Valid characters are `a-z-`",
          "type": "string"
        },
        "conversation": {
          "description": "Required. The conversation resource to create.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainConversation"
        },
        "redactionConfig": {
          "description": "Optional. DLP settings for transcript redaction. Will default to the config specified in Settings.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainRedactionConfig"
        },
        "parent": {
          "description": "Required. The parent resource of the conversation.",
          "type": "string"
        },
        "speechConfig": {
          "description": "Optional. Speech-to-Text configuration. Will default to the config specified in Settings.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainSpeechConfig"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainUploadConversationRequest"
    },
    "GoogleCloudContactcenterinsightsV1alpha1ExportInsightsDataRequestBigQueryDestination": {
      "description": "A BigQuery Table Reference.",
      "type": "object",
      "properties": {
        "table": {
          "type": "string",
          "description": "The BigQuery table name to which the insights data should be written. If this table does not exist, the export call returns an INVALID_ARGUMENT error."
        },
        "projectId": {
          "description": "A project ID or number. If specified, then export will attempt to write data to this project instead of the resource project. Otherwise, the resource project will be used.",
          "type": "string"
        },
        "dataset": {
          "description": "Required. The name of the BigQuery dataset that the snapshot result should be exported to. If this dataset does not exist, the export call returns an INVALID_ARGUMENT error.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1ExportInsightsDataRequestBigQueryDestination"
    },
    "GoogleCloudContactcenterinsightsV1DeployIssueModelRequest": {
      "description": "The request to deploy an issue model.",
      "id": "GoogleCloudContactcenterinsightsV1DeployIssueModelRequest",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The issue model to deploy.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainBulkDownloadFeedbackLabelsResponse": {
      "id": "GoogleCloudContactcenterinsightsV1mainBulkDownloadFeedbackLabelsResponse",
      "properties": {},
      "description": "Response for the BulkDownloadFeedbackLabel endpoint.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationCorrelationInfo": {
      "properties": {
        "mergedFullConversationCorrelationId": {
          "type": "string",
          "description": "Output only. The full conversation correlation id this conversation is a merged conversation of.",
          "readOnly": true
        },
        "fullConversationCorrelationId": {
          "readOnly": true,
          "description": "Output only. The full conversation correlation id this conversation is a segment of.",
          "type": "string"
        },
        "correlationTypes": {
          "readOnly": true,
          "items": {
            "type": "string",
            "enum": [
              "CORRELATION_TYPE_UNSPECIFIED",
              "SEGMENT",
              "PARTIAL",
              "FULL",
              "SYNTHETIC"
            ],
            "enumDescriptions": [
              "Default value for unspecified.",
              "This conversation represents a segment of a full conversation. The lowest level of granularity.",
              "This conversation represents a partial conversation of potentially multiple segments but is not a full conversation.",
              "This conversation represents a full conversation of potentially multiple segments.",
              "This conversation represents a synthetic conversation."
            ]
          },
          "description": "Output only. The correlation types of this conversation. A single conversation can have multiple correlation types. For example a conversation that only has a single segment is both a SEGMENT and a FULL_CONVERSATION.",
          "type": "array"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationCorrelationInfo",
      "type": "object",
      "description": "Info for correlating across conversations."
    },
    "GoogleCloudContactcenterinsightsV1ListAuthorizedViewSetsResponse": {
      "id": "GoogleCloudContactcenterinsightsV1ListAuthorizedViewSetsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "authorizedViewSets": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1AuthorizedViewSet"
          },
          "type": "array",
          "description": "The AuthorizedViewSets under the parent."
        }
      },
      "type": "object",
      "description": "The response from a ListAuthorizedViewSet request."
    },
    "GoogleCloudContactcenterinsightsV1mainExportInsightsDataMetadata": {
      "properties": {
        "completedExportCount": {
          "description": "The number of conversations that were exported successfully.",
          "format": "int32",
          "type": "integer"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "readOnly": true
        },
        "endTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation finished running."
        },
        "failedExportCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of conversations that failed to be exported."
        },
        "partialErrors": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array",
          "description": "Partial errors during export operation that might cause the operation output to be incomplete."
        },
        "request": {
          "description": "The original request for export.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainExportInsightsDataRequest"
        }
      },
      "description": "Metadata for an export insights operation.",
      "id": "GoogleCloudContactcenterinsightsV1mainExportInsightsDataMetadata",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1ChartAction": {
      "properties": {
        "redirectAction": {
          "description": "Redirect action.",
          "$ref": "GoogleCloudContactcenterinsightsV1RedirectAction"
        },
        "conversationFilter": {
          "type": "string",
          "description": "The conversation filter string."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1ChartAction",
      "type": "object",
      "description": "The action to be taken when the chart is clicked."
    },
    "GoogleCloudContactcenterinsightsV1QaAnswer": {
      "description": "An answer to a QaQuestion.",
      "type": "object",
      "properties": {
        "qaQuestion": {
          "type": "string",
          "description": "The QaQuestion answered by this answer."
        },
        "answerValue": {
          "$ref": "GoogleCloudContactcenterinsightsV1QaAnswerAnswerValue",
          "description": "The answer value from this source. This field is populated by default, unless the question has a selection strategy configured to return multiple answer values, in which case `answer_values` will be populated instead."
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "User-defined list of arbitrary tags. Matches the value from QaScorecard.ScorecardQuestion.tags. Used for grouping/organization and for weighting the score of each answer."
        },
        "conversation": {
          "description": "The conversation the answer applies to.",
          "type": "string"
        },
        "questionBody": {
          "description": "Question text. E.g., \"Did the agent greet the customer?\"",
          "type": "string"
        },
        "answerSources": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1QaAnswerAnswerSource"
          },
          "type": "array",
[...]
