{
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "revision": "20260805",
  "endpoints": [
    {
      "endpointUrl": "https://containeranalysis.asia-east1.rep.googleapis.com/",
      "location": "asia-east1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://containeranalysis.asia-east2.rep.googleapis.com/",
      "location": "asia-east2"
    },
    {
      "endpointUrl": "https://containeranalysis.asia-northeast1.rep.googleapis.com/",
      "location": "asia-northeast1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://containeranalysis.asia-northeast3.rep.googleapis.com/",
      "location": "asia-northeast3"
    },
    {
      "endpointUrl": "https://containeranalysis.asia-south1.rep.googleapis.com/",
      "location": "asia-south1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://containeranalysis.asia-south2.rep.googleapis.com/",
      "location": "asia-south2"
    },
    {
      "endpointUrl": "https://containeranalysis.asia-southeast1.rep.googleapis.com/",
      "location": "asia-southeast1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://containeranalysis.asia-southeast2.rep.googleapis.com/",
      "location": "asia-southeast2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://containeranalysis.australia-southeast1.rep.googleapis.com/",
      "location": "australia-southeast1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://containeranalysis.europe-central2.rep.googleapis.com/",
      "location": "europe-central2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://containeranalysis.europe-north1.rep.googleapis.com/",
      "location": "europe-north1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://containeranalysis.europe-southwest1.rep.googleapis.com/",
      "location": "europe-southwest1"
    },
    {
      "endpointUrl": "https://containeranalysis.europe-west1.rep.googleapis.com/",
      "location": "europe-west1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://containeranalysis.europe-west2.rep.googleapis.com/",
      "location": "europe-west2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://containeranalysis.europe-west3.rep.googleapis.com/",
      "location": "europe-west3"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://containeranalysis.europe-west4.rep.googleapis.com/",
      "location": "europe-west4"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://containeranalysis.europe-west6.rep.googleapis.com/",
      "location": "europe-west6"
    },
    {
      "endpointUrl": "https://containeranalysis.europe-west8.rep.googleapis.com/",
      "location": "europe-west8",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://containeranalysis.europe-west9.rep.googleapis.com/",
      "location": "europe-west9"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://containeranalysis.me-central1.rep.googleapis.com/",
      "location": "me-central1"
    },
    {
      "endpointUrl": "https://containeranalysis.me-central2.rep.googleapis.com/",
      "location": "me-central2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://containeranalysis.me-west1.rep.googleapis.com/",
      "location": "me-west1"
    },
    {
      "endpointUrl": "https://containeranalysis.northamerica-northeast1.rep.googleapis.com/",
      "location": "northamerica-northeast1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://containeranalysis.northamerica-northeast2.rep.googleapis.com/",
      "location": "northamerica-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://containeranalysis.southamerica-east1.rep.googleapis.com/",
      "location": "southamerica-east1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://containeranalysis.southamerica-west1.rep.googleapis.com/",
      "location": "southamerica-west1"
    },
    {
      "endpointUrl": "https://containeranalysis.us-central1.rep.googleapis.com/",
      "location": "us-central1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://containeranalysis.us-central2.rep.googleapis.com/",
      "location": "us-central2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://containeranalysis.us-east1.rep.googleapis.com/",
      "location": "us-east1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://containeranalysis.us-east4.rep.googleapis.com/",
      "location": "us-east4"
    },
    {
      "endpointUrl": "https://containeranalysis.us-east5.rep.googleapis.com/",
      "location": "us-east5",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://containeranalysis.us-east7.rep.googleapis.com/",
      "location": "us-east7"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://containeranalysis.us-south1.rep.googleapis.com/",
      "location": "us-south1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://containeranalysis.us-west1.rep.googleapis.com/",
      "location": "us-west1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://containeranalysis.us-west2.rep.googleapis.com/",
      "location": "us-west2"
    },
    {
      "endpointUrl": "https://containeranalysis.us-west3.rep.googleapis.com/",
      "location": "us-west3",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://containeranalysis.us-west4.rep.googleapis.com/",
      "location": "us-west4"
    },
    {
      "endpointUrl": "https://containeranalysis.africa-south1.rep.googleapis.com/",
      "location": "africa-south1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://containeranalysis.asia-northeast2.rep.googleapis.com/",
      "location": "asia-northeast2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://containeranalysis.australia-southeast2.rep.googleapis.com/",
      "location": "australia-southeast2"
    },
    {
      "endpointUrl": "https://containeranalysis.europe-west10.rep.googleapis.com/",
      "location": "europe-west10",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://containeranalysis.us.rep.googleapis.com/",
      "location": "us",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://containeranalysis.eu.rep.googleapis.com/",
      "location": "eu"
    }
  ],
  "resources": {
    "projects": {
      "resources": {
        "occurrences": {
          "methods": {
            "setIamPolicy": {
              "response": {
                "$ref": "Policy"
              },
              "path": "v1beta1/{+resource}:setIamPolicy",
              "flatPath": "v1beta1/projects/{projectsId}/occurrences/{occurrencesId}:setIamPolicy",
              "httpMethod": "POST",
              "parameterOrder": [
                "resource"
              ],
              "id": "containeranalysis.projects.occurrences.setIamPolicy",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Sets the access control policy on the specified note or occurrence. Requires `containeranalysis.notes.setIamPolicy` or `containeranalysis.occurrences.setIamPolicy` permission if the resource is a note or an occurrence, respectively. The resource takes the format `projects/[PROJECT_ID]/notes/[NOTE_ID]` for notes and `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]` for occurrences.",
              "parameters": {
                "resource": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                }
              },
              "request": {
                "$ref": "SetIamPolicyRequest"
              }
            },
            "list": {
              "description": "Lists occurrences for the specified project.",
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the project to list occurrences for in the form of `projects/[PROJECT_ID]`.",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                },
                "filter": {
                  "location": "query",
                  "description": "The filter expression.",
                  "type": "string"
                },
                "returnPartialSuccess": {
                  "type": "boolean",
                  "location": "query",
                  "description": "If set, the request will return all reachable Occurrences and report all unreachable regions in the `unreachable` field in the response. Only applicable for requests in the global region."
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Number of occurrences to return in the list. Must be positive. Max allowed page size is 1000. If not specified, page size defaults to 20.",
                  "location": "query",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "Token to provide to skip to a particular spot in the list.",
                  "location": "query",
                  "type": "string"
                }
              },
              "id": "containeranalysis.projects.occurrences.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ListOccurrencesResponse"
              },
              "path": "v1beta1/{+parent}/occurrences",
              "flatPath": "v1beta1/projects/{projectsId}/occurrences",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ]
            },
            "batchCreate": {
              "flatPath": "v1beta1/projects/{projectsId}/occurrences:batchCreate",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "BatchCreateOccurrencesResponse"
              },
              "path": "v1beta1/{+parent}/occurrences:batchCreate",
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the project in the form of `projects/[PROJECT_ID]`, under which the occurrences are to be created."
                }
              },
              "request": {
                "$ref": "BatchCreateOccurrencesRequest"
              },
              "description": "Creates new occurrences in batch.",
              "id": "containeranalysis.projects.occurrences.batchCreate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "patch": {
              "response": {
                "$ref": "Occurrence"
              },
              "path": "v1beta1/{+name}",
              "flatPath": "v1beta1/projects/{projectsId}/occurrences/{occurrencesId}",
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "id": "containeranalysis.projects.occurrences.patch",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Updates the specified occurrence.",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the occurrence in the form of `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]`.",
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "updateMask": {
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "The fields to update."
                }
              },
              "request": {
                "$ref": "Occurrence"
              }
            },
            "getVulnerabilitySummary": {
              "response": {
                "$ref": "VulnerabilityOccurrencesSummary"
              },
              "path": "v1beta1/{+parent}/occurrences:vulnerabilitySummary",
              "flatPath": "v1beta1/projects/{projectsId}/occurrences:vulnerabilitySummary",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "description": "Gets a summary of the number and severity of occurrences.",
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the project to get a vulnerability summary for in the form of `projects/[PROJECT_ID]`."
                },
                "filter": {
                  "type": "string",
                  "description": "The filter expression.",
                  "location": "query"
                },
                "returnPartialSuccess": {
                  "location": "query",
                  "description": "If set, the request will return all reachable occurrence summaries and report all unreachable regions in the `unreachable` field in the response. Only applicable for requests in the global region.",
                  "type": "boolean"
                }
              },
              "id": "containeranalysis.projects.occurrences.getVulnerabilitySummary",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "create": {
              "response": {
                "$ref": "Occurrence"
              },
              "path": "v1beta1/{+parent}/occurrences",
              "flatPath": "v1beta1/projects/{projectsId}/occurrences",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates a new occurrence.",
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the project in the form of `projects/[PROJECT_ID]`, under which the occurrence is to be created.",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "Occurrence"
              },
              "id": "containeranalysis.projects.occurrences.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "getNotes": {
              "description": "Gets the note attached to the specified occurrence. Consumer projects can use this method to get a note that belongs to a provider project.",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the occurrence in the form of `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]`.",
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$",
                  "required": true
                }
              },
              "id": "containeranalysis.projects.occurrences.getNotes",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Note"
              },
              "path": "v1beta1/{+name}/notes",
              "flatPath": "v1beta1/projects/{projectsId}/occurrences/{occurrencesId}/notes",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "response": {
                "$ref": "Occurrence"
              },
              "path": "v1beta1/{+name}",
              "flatPath": "v1beta1/projects/{projectsId}/occurrences/{occurrencesId}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "id": "containeranalysis.projects.occurrences.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets the specified occurrence.",
              "parameters": {
                "name": {
                  "description": "Required. The name of the occurrence in the form of `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]`.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              }
            },
            "delete": {
              "flatPath": "v1beta1/projects/{projectsId}/occurrences/{occurrencesId}",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta1/{+name}",
              "response": {
                "$ref": "Empty"
              },
              "id": "containeranalysis.projects.occurrences.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the occurrence in the form of `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]`.",
                  "type": "string"
                }
              },
              "description": "Deletes the specified occurrence. For example, use this method to delete an occurrence when the occurrence is no longer applicable for the given resource."
            },
            "getIamPolicy": {
              "flatPath": "v1beta1/projects/{projectsId}/occurrences/{occurrencesId}:getIamPolicy",
              "httpMethod": "POST",
              "parameterOrder": [
                "resource"
              ],
              "path": "v1beta1/{+resource}:getIamPolicy",
              "response": {
                "$ref": "Policy"
              },
              "request": {
                "$ref": "GetIamPolicyRequest"
              },
              "parameters": {
                "resource": {
                  "location": "path",
                  "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Gets the access control policy for a note or an occurrence resource. Requires `containeranalysis.notes.setIamPolicy` or `containeranalysis.occurrences.setIamPolicy` permission if the resource is a note or occurrence, respectively. The resource takes the format `projects/[PROJECT_ID]/notes/[NOTE_ID]` for notes and `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]` for occurrences.",
              "id": "containeranalysis.projects.occurrences.getIamPolicy",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "testIamPermissions": {
              "path": "v1beta1/{+resource}:testIamPermissions",
              "response": {
                "$ref": "TestIamPermissionsResponse"
              },
              "flatPath": "v1beta1/projects/{projectsId}/occurrences/{occurrencesId}:testIamPermissions",
              "httpMethod": "POST",
              "parameterOrder": [
                "resource"
              ],
              "description": "Returns the permissions that a caller has on the specified note or occurrence. Requires list permission on the project (for example, `containeranalysis.notes.list`). The resource takes the format `projects/[PROJECT_ID]/notes/[NOTE_ID]` for notes and `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]` for occurrences.",
              "request": {
                "$ref": "TestIamPermissionsRequest"
              },
              "parameters": {
                "resource": {
                  "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "containeranalysis.projects.occurrences.testIamPermissions",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "locations": {
          "resources": {
            "occurrences": {
              "methods": {
                "getVulnerabilitySummary": {
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/occurrences:vulnerabilitySummary",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1beta1/{+parent}/occurrences:vulnerabilitySummary",
                  "response": {
                    "$ref": "VulnerabilityOccurrencesSummary"
                  },
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. The name of the project to get a vulnerability summary for in the form of `projects/[PROJECT_ID]`.",
                      "location": "path"
                    },
                    "filter": {
                      "description": "The filter expression.",
                      "location": "query",
                      "type": "string"
                    },
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "description": "If set, the request will return all reachable occurrence summaries and report all unreachable regions in the `unreachable` field in the response. Only applicable for requests in the global region.",
                      "location": "query"
                    }
                  },
                  "description": "Gets a summary of the number and severity of occurrences.",
                  "id": "containeranalysis.projects.locations.occurrences.getVulnerabilitySummary",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/occurrences/{occurrencesId}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta1/{+name}",
                  "response": {
                    "$ref": "Occurrence"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name of the occurrence in the form of `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/occurrences/[^/]+$",
                      "required": true
                    }
                  },
                  "description": "Gets the specified occurrence.",
                  "id": "containeranalysis.projects.locations.occurrences.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "path": "v1beta1/{+name}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/occurrences/{occurrencesId}",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "containeranalysis.projects.locations.occurrences.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes the specified occurrence. For example, use this method to delete an occurrence when the occurrence is no longer applicable for the given resource.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The name of the occurrence in the form of `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/occurrences/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  }
                },
                "getIamPolicy": {
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/occurrences/{occurrencesId}:getIamPolicy",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "resource"
                  ],
                  "path": "v1beta1/{+resource}:getIamPolicy",
                  "response": {
                    "$ref": "Policy"
                  },
                  "id": "containeranalysis.projects.locations.occurrences.getIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GetIamPolicyRequest"
                  },
                  "parameters": {
                    "resource": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/occurrences/[^/]+$",
                      "required": true,
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "description": "Gets the access control policy for a note or an occurrence resource. Requires `containeranalysis.notes.setIamPolicy` or `containeranalysis.occurrences.setIamPolicy` permission if the resource is a note or occurrence, respectively. The resource takes the format `projects/[PROJECT_ID]/notes/[NOTE_ID]` for notes and `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]` for occurrences."
                },
                "testIamPermissions": {
                  "description": "Returns the permissions that a caller has on the specified note or occurrence. Requires list permission on the project (for example, `containeranalysis.notes.list`). The resource takes the format `projects/[PROJECT_ID]/notes/[NOTE_ID]` for notes and `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]` for occurrences.",
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "parameters": {
                    "resource": {
                      "type": "string",
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/occurrences/[^/]+$",
                      "required": true
                    }
                  },
                  "id": "containeranalysis.projects.locations.occurrences.testIamPermissions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/{+resource}:testIamPermissions",
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/occurrences/{occurrencesId}:testIamPermissions",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "resource"
                  ]
                },
                "create": {
                  "parameters": {
                    "parent": {
                      "description": "Required. The name of the project in the form of `projects/[PROJECT_ID]`, under which the occurrence is to be created.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "Occurrence"
                  },
                  "description": "Creates a new occurrence.",
                  "id": "containeranalysis.projects.locations.occurrences.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/occurrences",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Occurrence"
                  },
                  "path": "v1beta1/{+parent}/occurrences"
                },
                "getNotes": {
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the occurrence in the form of `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/occurrences/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "Gets the note attached to the specified occurrence. Consumer projects can use this method to get a note that belongs to a provider project.",
                  "id": "containeranalysis.projects.locations.occurrences.getNotes",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/occurrences/{occurrencesId}/notes",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Note"
                  },
                  "path": "v1beta1/{+name}/notes"
                },
                "setIamPolicy": {
                  "id": "containeranalysis.projects.locations.occurrences.setIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "resource": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/occurrences/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "description": "Sets the access control policy on the specified note or occurrence. Requires `containeranalysis.notes.setIamPolicy` or `containeranalysis.occurrences.setIamPolicy` permission if the resource is a note or an occurrence, respectively. The resource takes the format `projects/[PROJECT_ID]/notes/[NOTE_ID]` for notes and `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]` for occurrences.",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/occurrences/{occurrencesId}:setIamPolicy",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "resource"
                  ],
                  "response": {
                    "$ref": "Policy"
                  },
                  "path": "v1beta1/{+resource}:setIamPolicy"
                },
                "list": {
                  "id": "containeranalysis.projects.locations.occurrences.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists occurrences for the specified project.",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "Number of occurrences to return in the list. Must be positive. Max allowed page size is 1000. If not specified, page size defaults to 20."
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Token to provide to skip to a particular spot in the list.",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. The name of the project to list occurrences for in the form of `projects/[PROJECT_ID]`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "description": "The filter expression.",
                      "location": "query"
                    },
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "description": "If set, the request will return all reachable Occurrences and report all unreachable regions in the `unreachable` field in the response. Only applicable for requests in the global region.",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "ListOccurrencesResponse"
                  },
                  "path": "v1beta1/{+parent}/occurrences",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/occurrences",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "patch": {
                  "id": "containeranalysis.projects.locations.occurrences.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/occurrences/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. The name of the occurrence in the form of `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]`.",
                      "type": "string"
                    },
                    "updateMask": {
                      "description": "The fields to update.",
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "Occurrence"
                  },
                  "description": "Updates the specified occurrence.",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/occurrences/{occurrencesId}",
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Occurrence"
                  },
                  "path": "v1beta1/{+name}"
                },
                "batchCreate": {
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/occurrences:batchCreate",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1beta1/{+parent}/occurrences:batchCreate",
                  "response": {
                    "$ref": "BatchCreateOccurrencesResponse"
                  },
                  "id": "containeranalysis.projects.locations.occurrences.batchCreate",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "BatchCreateOccurrencesRequest"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. The name of the project in the form of `projects/[PROJECT_ID]`, under which the occurrences are to be created.",
                      "type": "string"
                    }
                  },
                  "description": "Creates new occurrences in batch."
                }
              }
            },
            "notes": {
              "methods": {
                "get": {
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/notes/{notesId}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Note"
                  },
                  "path": "v1beta1/{+name}",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the note in the form of `projects/[PROVIDER_ID]/notes/[NOTE_ID]`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/notes/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "Gets the specified note.",
                  "id": "containeranalysis.projects.locations.notes.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/notes/{notesId}",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta1/{+name}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name of the note in the form of `projects/[PROVIDER_ID]/notes/[NOTE_ID]`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/notes/[^/]+$",
                      "required": true
                    }
                  },
                  "description": "Deletes the specified note.",
                  "id": "containeranalysis.projects.locations.notes.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "getIamPolicy": {
                  "id": "containeranalysis.projects.locations.notes.getIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the access control policy for a note or an occurrence resource. Requires `containeranalysis.notes.setIamPolicy` or `containeranalysis.occurrences.setIamPolicy` permission if the resource is a note or occurrence, respectively. The resource takes the format `projects/[PROJECT_ID]/notes/[NOTE_ID]` for notes and `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]` for occurrences.",
                  "parameters": {
                    "resource": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/notes/[^/]+$",
                      "required": true,
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "GetIamPolicyRequest"
                  },
                  "response": {
                    "$ref": "Policy"
                  },
                  "path": "v1beta1/{+resource}:getIamPolicy",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/notes/{notesId}:getIamPolicy",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "resource"
                  ]
                },
                "testIamPermissions": {
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/notes/{notesId}:testIamPermissions",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "resource"
                  ],
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "path": "v1beta1/{+resource}:testIamPermissions",
                  "id": "containeranalysis.projects.locations.notes.testIamPermissions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "resource": {
                      "type": "string",
                      "location": "path",
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/notes/[^/]+$",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "description": "Returns the permissions that a caller has on the specified note or occurrence. Requires list permission on the project (for example, `containeranalysis.notes.list`). The resource takes the format `projects/[PROJECT_ID]/notes/[NOTE_ID]` for notes and `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]` for occurrences."
                },
                "create": {
                  "id": "containeranalysis.projects.locations.notes.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates a new note.",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. The name of the project in the form of `projects/[PROJECT_ID]`, under which the note is to be created."
                    },
                    "noteId": {
                      "description": "Required. The ID to use for this note.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "Note"
                  },
                  "response": {
                    "$ref": "Note"
                  },
                  "path": "v1beta1/{+parent}/notes",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/notes",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "patch": {
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/notes/{notesId}",
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Note"
                  },
                  "path": "v1beta1/{+name}",
                  "id": "containeranalysis.projects.locations.notes.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/notes/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. The name of the note in the form of `projects/[PROVIDER_ID]/notes/[NOTE_ID]`.",
                      "type": "string"
                    },
                    "updateMask": {
                      "description": "The fields to update.",
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "Note"
                  },
                  "description": "Updates the specified note."
                },
                "batchCreate": {
                  "path": "v1beta1/{+parent}/notes:batchCreate",
                  "response": {
                    "$ref": "BatchCreateNotesResponse"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/notes:batchCreate",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "containeranalysis.projects.locations.notes.batchCreate",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates new notes in batch.",
                  "request": {
                    "$ref": "BatchCreateNotesRequest"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. The name of the project in the form of `projects/[PROJECT_ID]`, under which the notes are to be created.",
                      "location": "path",
                      "type": "string"
                    }
                  }
                },
                "setIamPolicy": {
                  "description": "Sets the access control policy on the specified note or occurrence. Requires `containeranalysis.notes.setIamPolicy` or `containeranalysis.occurrences.setIamPolicy` permission if the resource is a note or an occurrence, respectively. The resource takes the format `projects/[PROJECT_ID]/notes/[NOTE_ID]` for notes and `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]` for occurrences.",
                  "parameters": {
                    "resource": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/notes/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                    }
                  },
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "id": "containeranalysis.projects.locations.notes.setIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Policy"
                  },
                  "path": "v1beta1/{+resource}:setIamPolicy",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/notes/{notesId}:setIamPolicy",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "resource"
                  ]
                },
                "list": {
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/notes",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1beta1/{+parent}/notes",
                  "response": {
                    "$ref": "ListNotesResponse"
                  },
                  "id": "containeranalysis.projects.locations.notes.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "Number of notes to return in the list. Must be positive. Max allowed page size is 1000. If not specified, page size defaults to 20."
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Token to provide to skip to a particular spot in the list.",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "description": "Required. The name of the project to list notes for in the form of `projects/[PROJECT_ID]`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "The filter expression."
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "description": "If set, the request will return all reachable Notes and report all unreachable regions in the `unreachable` field in the response. Only applicable for requests in the global region.",
                      "type": "boolean"
                    }
                  },
                  "description": "Lists notes for the specified project."
                }
              },
              "resources": {
                "occurrences": {
                  "methods": {
                    "list": {
                      "description": "Lists occurrences referencing the specified note. Provider projects can use this method to get all occurrences across consumer projects referencing the specified note.",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/notes/[^/]+$",
                          "required": true,
                          "description": "Required. The name of the note to list occurrences for in the form of `projects/[PROVIDER_ID]/notes/[NOTE_ID]`.",
                          "location": "path",
                          "type": "string"
                        },
                        "filter": {
                          "location": "query",
                          "description": "The filter expression.",
                          "type": "string"
                        },
                        "pageToken": {
                          "description": "Token to provide to skip to a particular spot in the list.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "format": "int32",
                          "description": "Number of occurrences to return in the list."
                        }
                      },
                      "id": "containeranalysis.projects.locations.notes.occurrences.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta1/{+name}/occurrences",
                      "response": {
                        "$ref": "ListNoteOccurrencesResponse"
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/notes/{notesId}/occurrences",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                }
              }
            },
            "resources": {
              "methods": {
                "generatePackagesSummary": {
                  "id": "containeranalysis.projects.locations.resources.generatePackagesSummary",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets a summary of the packages within a given resource.",
                  "request": {
                    "$ref": "GeneratePackagesSummaryRequest"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name of the resource to get a packages summary for in the form of `projects/[PROJECT_ID]/resources/[RESOURCE_URL]`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/resources/.*$",
                      "required": true
                    }
                  },
                  "path": "v1beta1/{+name}:generatePackagesSummary",
                  "response": {
                    "$ref": "PackagesSummaryResponse"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/resources/{resourcesId}:generatePackagesSummary",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "exportSBOM": {
                  "id": "containeranalysis.projects.locations.resources.exportSBOM",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The name of the resource in the form of `projects/[PROJECT_ID]/resources/[RESOURCE_URL]`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/resources/.*$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "ExportSBOMRequest"
                  },
                  "description": "Generates an SBOM and other dependency information for the given resource.",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/resources/{resourcesId}:exportSBOM",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "ExportSBOMResponse"
                  },
                  "path": "v1beta1/{+name}:exportSBOM"
                }
              }
            }
          }
        },
        "notes": {
          "resources": {
            "occurrences": {
              "methods": {
                "list": {
                  "path": "v1beta1/{+name}/occurrences",
                  "response": {
                    "$ref": "ListNoteOccurrencesResponse"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/notes/{notesId}/occurrences",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Lists occurrences referencing the specified note. Provider projects can use this method to get all occurrences across consumer projects referencing the specified note.",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "Token to provide to skip to a particular spot in the list.",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "Number of occurrences to return in the list."
                    },
                    "name": {
                      "type": "string",
                      "description": "Required. The name of the note to list occurrences for in the form of `projects/[PROVIDER_ID]/notes/[NOTE_ID]`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/notes/[^/]+$",
                      "required": true
                    },
                    "filter": {
                      "description": "The filter expression.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "id": "containeranalysis.projects.notes.occurrences.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            }
          },
          "methods": {
            "create": {
              "id": "containeranalysis.projects.notes.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. The name of the project in the form of `projects/[PROJECT_ID]`, under which the note is to be created.",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                },
                "noteId": {
                  "type": "string",
                  "location": "query",
                  "description": "Required. The ID to use for this note."
                }
              },
              "request": {
                "$ref": "Note"
              },
              "description": "Creates a new note.",
              "flatPath": "v1beta1/projects/{projectsId}/notes",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "Note"
              },
              "path": "v1beta1/{+parent}/notes"
            },
            "testIamPermissions": {
              "parameters": {
                "resource": {
                  "type": "string",
                  "location": "path",
                  "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "pattern": "^projects/[^/]+/notes/[^/]+$",
                  "required": true
                }
              },
              "request": {
                "$ref": "TestIamPermissionsRequest"
              },
              "description": "Returns the permissions that a caller has on the specified note or occurrence. Requires list permission on the project (for example, `containeranalysis.notes.list`). The resource takes the format `projects/[PROJECT_ID]/notes/[NOTE_ID]` for notes and `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]` for occurrences.",
              "id": "containeranalysis.projects.notes.testIamPermissions",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/notes/{notesId}:testIamPermissions",
              "httpMethod": "POST",
              "parameterOrder": [
                "resource"
              ],
              "response": {
                "$ref": "TestIamPermissionsResponse"
              },
              "path": "v1beta1/{+resource}:testIamPermissions"
            },
            "get": {
              "id": "containeranalysis.projects.notes.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets the specified note.",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the note in the form of `projects/[PROVIDER_ID]/notes/[NOTE_ID]`.",
                  "pattern": "^projects/[^/]+/notes/[^/]+$",
                  "required": true
                }
              },
              "response": {
                "$ref": "Note"
              },
              "path": "v1beta1/{+name}",
              "flatPath": "v1beta1/projects/{projectsId}/notes/{notesId}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ]
            },
            "delete": {
              "id": "containeranalysis.projects.notes.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Deletes the specified note.",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/notes/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the note in the form of `projects/[PROVIDER_ID]/notes/[NOTE_ID]`.",
                  "location": "path"
                }
              },
              "path": "v1beta1/{+name}",
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1beta1/projects/{projectsId}/notes/{notesId}",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ]
            },
            "getIamPolicy": {
              "description": "Gets the access control policy for a note or an occurrence resource. Requires `containeranalysis.notes.setIamPolicy` or `containeranalysis.occurrences.setIamPolicy` permission if the resource is a note or occurrence, respectively. The resource takes the format `projects/[PROJECT_ID]/notes/[NOTE_ID]` for notes and `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]` for occurrences.",
              "request": {
                "$ref": "GetIamPolicyRequest"
              },
              "parameters": {
                "resource": {
                  "type": "string",
                  "location": "path",
                  "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "pattern": "^projects/[^/]+/notes/[^/]+$",
                  "required": true
                }
              },
              "id": "containeranalysis.projects.notes.getIamPolicy",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta1/{+resource}:getIamPolicy",
              "response": {
                "$ref": "Policy"
              },
              "flatPath": "v1beta1/projects/{projectsId}/notes/{notesId}:getIamPolicy",
              "httpMethod": "POST",
              "parameterOrder": [
                "resource"
              ]
            },
            "batchCreate": {
              "id": "containeranalysis.projects.notes.batchCreate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Creates new notes in batch.",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the project in the form of `projects/[PROJECT_ID]`, under which the notes are to be created.",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "BatchCreateNotesRequest"
              },
              "response": {
                "$ref": "BatchCreateNotesResponse"
              },
              "path": "v1beta1/{+parent}/notes:batchCreate",
              "flatPath": "v1beta1/projects/{projectsId}/notes:batchCreate",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ]
            },
            "patch": {
              "path": "v1beta1/{+name}",
              "response": {
                "$ref": "Note"
              },
              "flatPath": "v1beta1/projects/{projectsId}/notes/{notesId}",
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "id": "containeranalysis.projects.notes.patch",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Updates the specified note.",
              "request": {
                "$ref": "Note"
              },
              "parameters": {
                "name": {
                  "description": "Required. The name of the note in the form of `projects/[PROVIDER_ID]/notes/[NOTE_ID]`.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/notes/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "The fields to update.",
                  "type": "string"
                }
              }
            },
            "list": {
              "flatPath": "v1beta1/projects/{projectsId}/notes",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1beta1/{+parent}/notes",
              "response": {
                "$ref": "ListNotesResponse"
              },
              "id": "containeranalysis.projects.notes.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "returnPartialSuccess": {
                  "description": "If set, the request will return all reachable Notes and report all unreachable regions in the `unreachable` field in the response. Only applicable for requests in the global region.",
                  "location": "query",
                  "type": "boolean"
                },
                "parent": {
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the project to list notes for in the form of `projects/[PROJECT_ID]`."
                },
                "filter": {
                  "location": "query",
                  "description": "The filter expression.",
                  "type": "string"
                },
                "pageToken": {
                  "description": "Token to provide to skip to a particular spot in the list.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "Number of notes to return in the list. Must be positive. Max allowed page size is 1000. If not specified, page size defaults to 20."
                }
              },
              "description": "Lists notes for the specified project."
            },
            "setIamPolicy": {
              "flatPath": "v1beta1/projects/{projectsId}/notes/{notesId}:setIamPolicy",
              "httpMethod": "POST",
              "parameterOrder": [
                "resource"
              ],
              "path": "v1beta1/{+resource}:setIamPolicy",
              "response": {
                "$ref": "Policy"
              },
              "request": {
                "$ref": "SetIamPolicyRequest"
              },
              "parameters": {
                "resource": {
                  "pattern": "^projects/[^/]+/notes/[^/]+$",
                  "required": true,
                  "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "location": "path",
                  "type": "string"
                }
              },
              "description": "Sets the access control policy on the specified note or occurrence. Requires `containeranalysis.notes.setIamPolicy` or `containeranalysis.occurrences.setIamPolicy` permission if the resource is a note or an occurrence, respectively. The resource takes the format `projects/[PROJECT_ID]/notes/[NOTE_ID]` for notes and `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]` for occurrences.",
              "id": "containeranalysis.projects.notes.setIamPolicy",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "resources": {
          "methods": {
            "generatePackagesSummary": {
              "response": {
                "$ref": "PackagesSummaryResponse"
              },
              "path": "v1beta1/{+name}:generatePackagesSummary",
              "flatPath": "v1beta1/projects/{projectsId}/resources/{resourcesId}:generatePackagesSummary",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "id": "containeranalysis.projects.resources.generatePackagesSummary",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets a summary of the packages within a given resource.",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/resources/.*$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the resource to get a packages summary for in the form of `projects/[PROJECT_ID]/resources/[RESOURCE_URL]`.",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "GeneratePackagesSummaryRequest"
              }
            },
            "exportSBOM": {
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the resource in the form of `projects/[PROJECT_ID]/resources/[RESOURCE_URL]`.",
                  "pattern": "^projects/[^/]+/resources/.*$",
                  "required": true,
                  "type": "string"
                }
              },
              "request": {
                "$ref": "ExportSBOMRequest"
              },
              "description": "Generates an SBOM and other dependency information for the given resource.",
              "id": "containeranalysis.projects.resources.exportSBOM",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/resources/{resourcesId}:exportSBOM",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "ExportSBOMResponse"
              },
              "path": "v1beta1/{+name}:exportSBOM"
            }
          }
        }
      }
    }
  },
  "title": "Container Analysis API",
  "version": "v1beta1",
  "mtlsRootUrl": "https://containeranalysis.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "id": "containeranalysis:v1beta1",
  "batchPath": "batch",
  "basePath": "",
  "schemas": {
    "ContaineranalysisGoogleDevtoolsCloudbuildV1Secret": {
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1Secret",
      "description": "Pairs a set of secret environment variables containing encrypted values with the Cloud KMS key to use to decrypt the value. Note: Use `kmsKeyName` with `available_secrets` instead of using `kmsKeyName` with `secret`. For instructions see: https://cloud.google.com/cloud-build/docs/securing-builds/use-encrypted-credentials.",
      "properties": {
        "kmsKeyName": {
          "type": "string",
          "description": "Cloud KMS key name to use to decrypt these envs."
        },
        "secretEnv": {
          "type": "object",
          "additionalProperties": {
            "type": "string",
            "format": "byte"
          },
          "description": "Map of environment variable name to its encrypted value. Secret environment variables must be unique across all of a build's secrets, and must be used by at least one build step. Values can be at most 64 KB in size. There can be at most 100 secret values across all of a build's secrets."
        }
      },
      "type": "object"
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1GitConfig": {
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1GitConfig",
      "description": "GitConfig is a configuration for git operations.",
      "properties": {
        "http": {
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1GitConfigHttpConfig",
          "description": "Configuration for HTTP related git operations."
        }
      },
      "type": "object"
    },
    "BuildProvenance": {
      "id": "BuildProvenance",
      "description": "Provenance of a build. Contains all information needed to verify the full details about the build from source to completion.",
      "properties": {
        "commands": {
          "type": "array",
          "items": {
            "$ref": "Command"
          },
          "description": "Commands requested by the build."
        },
        "builtArtifacts": {
          "type": "array",
          "items": {
            "$ref": "Artifact"
          },
          "description": "Output of the build."
        },
        "logsUri": {
          "type": "string",
          "description": "URI where any logs for this provenance were written."
        },
        "id": {
          "type": "string",
          "description": "Required. Unique identifier of the build."
        },
        "sourceProvenance": {
          "description": "Details of the Source input to the build.",
          "$ref": "Source"
        },
        "triggerId": {
          "type": "string",
          "description": "Trigger identifier if the build was triggered automatically; empty if not."
        },
        "projectId": {
          "type": "string",
          "description": "ID of the project."
        },
        "creator": {
          "description": "E-mail address of the user who initiated this build. Note that this was the user's e-mail address at the time the build was initiated; this address may not represent the same end-user for all time.",
          "type": "string"
        },
        "startTime": {
          "description": "Time at which execution of the build was started.",
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Time at which execution of the build was finished.",
          "type": "string"
        },
        "builderVersion": {
          "type": "string",
          "description": "Version string of the builder at the time this build was executed."
        },
        "createTime": {
          "type": "string",
          "description": "Time at which the build was created.",
          "format": "google-datetime"
        },
        "buildOptions": {
          "description": "Special options applied to this build. This is a catch-all field where build providers can enter any desired additional details.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GenericSignedAttestation": {
      "id": "GenericSignedAttestation",
      "description": "An attestation wrapper that uses the Grafeas `Signature` message. This attestation must define the `serialized_payload` that the `signatures` verify and any metadata necessary to interpret that plaintext. The signatures should always be over the `serialized_payload` bytestring.",
      "properties": {
        "serializedPayload": {
          "description": "The serialized payload that is verified by one or more `signatures`. The encoding and semantic meaning of this payload must match what is set in `content_type`.",
          "format": "byte",
          "type": "string"
        },
        "contentType": {
          "description": "Type (for example schema) of the attestation payload that was signed. The verifier must ensure that the provided type is one that the verifier supports, and that the attestation payload is a valid instantiation of that type (for example by validating a JSON schema).",
          "enum": [
            "CONTENT_TYPE_UNSPECIFIED",
            "SIMPLE_SIGNING_JSON"
          ],
          "enumDescriptions": [
            "`ContentType` is not set.",
            "Atomic format attestation signature. See https://github.com/containers/image/blob/8a5d2f82a6e3263290c8e0276c3e0f64e77723e7/docs/atomic-signature.md The payload extracted in `plaintext` is a JSON blob conforming to the linked schema."
          ],
          "type": "string"
        },
        "signatures": {
          "description": "One or more signatures over `serialized_payload`. Verifier implementations should consider this attestation message verified if at least one `signature` verifies `serialized_payload`. See `Signature` in common.proto for more details on signature structure and verification.",
          "type": "array",
          "items": {
            "$ref": "Signature"
          }
        }
      },
      "type": "object"
    },
    "SbomReferenceIntotoPredicate": {
      "type": "object",
      "id": "SbomReferenceIntotoPredicate",
      "description": "A predicate which describes the SBOM being referenced.",
      "properties": {
        "mimeType": {
          "description": "The mime type of the SBOM.",
          "type": "string"
        },
        "referrerId": {
          "description": "The person or system referring this predicate to the consumer.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "The location of the SBOM."
        },
        "digest": {
          "description": "A map of algorithm to digest of the contents of the SBOM.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "LicensesSummary": {
      "type": "object",
      "id": "LicensesSummary",
      "description": "Per license count",
      "properties": {
        "license": {
          "type": "string",
          "description": "The license of the package. Note that the format of this value is not guaranteed. It may be nil, an empty string, a boolean value (A | B), a differently formed boolean value (A OR B), etc..."
        },
        "count": {
          "format": "int64",
          "description": "The number of fixable vulnerabilities associated with this resource.",
          "type": "string"
        }
      }
    },
    "Resource": {
      "id": "Resource",
      "description": "An entity that can have metadata. For example, a Docker image.",
      "properties": {
        "name": {
          "deprecated": true,
          "description": "Deprecated, do not use. Use uri instead. The name of the resource. For example, the name of a Docker image - \"Debian\".",
          "type": "string"
        },
        "contentHash": {
          "$ref": "Hash",
          "deprecated": true,
          "description": "Deprecated, do not use. Use uri instead. The hash of the resource content. For example, the Docker digest."
        },
        "uri": {
          "type": "string",
          "description": "Required. The unique URI of the resource. For example, `https://gcr.io/project/image@sha256:foo` for a Docker image."
        }
      },
      "type": "object"
    },
    "GetPolicyOptions": {
      "id": "GetPolicyOptions",
      "description": "Encapsulates settings provided to GetIamPolicy.",
      "properties": {
        "requestedPolicyVersion": {
          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1DeveloperConnectConfig": {
      "type": "object",
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1DeveloperConnectConfig",
      "description": "This config defines the location of a source through Developer Connect.",
      "properties": {
        "gitRepositoryLink": {
          "description": "Required. The Developer Connect Git repository link, formatted as `projects/*/locations/*/connections/*/gitRepositoryLink/*`.",
          "type": "string"
        },
        "dir": {
          "type": "string",
          "description": "Required. Directory, relative to the source root, in which to run the build."
        },
        "revision": {
          "type": "string",
          "description": "Required. The revision to fetch from the Git repository such as a branch, a tag, a commit SHA, or any Git ref."
        }
      }
    },
    "SlsaProvenanceV1": {
      "id": "SlsaProvenanceV1",
      "description": "Keep in sync with schema at https://github.com/slsa-framework/slsa/blob/main/docs/provenance/schema/v1/provenance.proto Builder renamed to ProvenanceBuilder because of Java conflicts.",
      "properties": {
        "runDetails": {
          "$ref": "RunDetails"
        },
        "buildDefinition": {
          "$ref": "BuildDefinition"
        }
      },
      "type": "object"
    },
    "GoogleDevtoolsContaineranalysisV1alpha1OperationMetadata": {
      "id": "GoogleDevtoolsContaineranalysisV1alpha1OperationMetadata",
      "description": "Metadata for all operations used and required for all operations that created by Container Analysis Providers",
      "properties": {
        "endTime": {
          "description": "Output only. The time that this operation was marked completed or failed.",
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time this operation was created.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "FixableTotalByDigest": {
      "type": "object",
      "id": "FixableTotalByDigest",
      "description": "Per resource and severity counts of fixable and total vulnerabilities.",
      "properties": {
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "MINIMAL",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "description": "The severity for this count. SEVERITY_UNSPECIFIED indicates total across all severities.",
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Minimal severity.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity."
          ]
        },
        "fixableCount": {
          "format": "int64",
          "description": "The number of fixable vulnerabilities associated with this resource.",
          "type": "string"
        },
        "totalCount": {
          "description": "The total number of vulnerabilities associated with this resource.",
          "format": "int64",
          "type": "string"
        },
        "resource": {
          "description": "The affected resource.",
          "$ref": "Resource"
        }
      }
    },
    "ExportSBOMResponse": {
      "id": "ExportSBOMResponse",
      "description": "The response from a call to ExportSBOM",
      "properties": {
        "discoveryOccurrenceId": {
          "type": "string",
          "description": "The name of the discovery occurrence in the form \"projects/{project_id}/occurrences/{OCCURRENCE_ID} It can be used to track the progression of the SBOM export."
        }
      },
      "type": "object"
    },
    "CVSSv3": {
      "type": "object",
      "id": "CVSSv3",
      "description": "Deprecated. Common Vulnerability Scoring System version 3. For details, see https://www.first.org/cvss/specification-document",
      "properties": {
        "attackComplexity": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "ATTACK_COMPLEXITY_UNSPECIFIED",
            "ATTACK_COMPLEXITY_LOW",
            "ATTACK_COMPLEXITY_HIGH"
          ]
        },
        "userInteraction": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "USER_INTERACTION_UNSPECIFIED",
            "USER_INTERACTION_NONE",
            "USER_INTERACTION_REQUIRED"
          ]
        },
        "integrityImpact": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ]
        },
        "exploitabilityScore": {
          "type": "number",
          "format": "float"
        },
        "scope": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "SCOPE_UNSPECIFIED",
            "SCOPE_UNCHANGED",
            "SCOPE_CHANGED"
          ]
        },
        "confidentialityImpact": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ]
        },
        "impactScore": {
          "type": "number",
          "format": "float"
        },
        "privilegesRequired": {
          "enum": [
            "PRIVILEGES_REQUIRED_UNSPECIFIED",
            "PRIVILEGES_REQUIRED_NONE",
            "PRIVILEGES_REQUIRED_LOW",
            "PRIVILEGES_REQUIRED_HIGH"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "attackVector": {
          "description": "Base Metrics Represents the intrinsic characteristics of a vulnerability that are constant over time and across user environments.",
          "enum": [
            "ATTACK_VECTOR_UNSPECIFIED",
            "ATTACK_VECTOR_NETWORK",
            "ATTACK_VECTOR_ADJACENT",
            "ATTACK_VECTOR_LOCAL",
            "ATTACK_VECTOR_PHYSICAL"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "availabilityImpact": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ]
        },
        "baseScore": {
          "type": "number",
          "description": "The base score is a function of the base metric scores.",
          "format": "float"
        }
      }
    },
    "FileHashes": {
      "id": "FileHashes",
      "description": "Container message for hashes of byte content of files, used in source messages to verify integrity of source input to the build.",
      "properties": {
        "fileHash": {
          "type": "array",
          "items": {
            "$ref": "Hash"
          },
          "description": "Required. Collection of file hashes."
        }
      },
      "type": "object"
    },
    "InTotoSlsaProvenanceV1": {
      "type": "object",
      "id": "InTotoSlsaProvenanceV1",
      "properties": {
        "predicate": {
          "$ref": "SlsaProvenanceV1"
        },
        "_type": {
          "type": "string",
          "description": "InToto spec defined at https://github.com/in-toto/attestation/tree/main/spec#statement"
        },
        "predicateType": {
          "type": "string"
        },
        "subject": {
          "type": "array",
          "items": {
            "$ref": "Subject"
          }
        }
      }
    },
    "Deployment": {
      "id": "Deployment",
      "description": "The period during which some deployable was active in a runtime.",
      "properties": {
        "userEmail": {
          "description": "Identity of the user that triggered this deployment.",
          "type": "string"
        },
        "undeployTime": {
          "type": "string",
          "description": "End of the lifetime of this deployment.",
          "format": "google-datetime"
        },
        "platform": {
          "enum": [
            "PLATFORM_UNSPECIFIED",
            "GKE",
            "FLEX",
            "CUSTOM"
          ],
          "description": "Platform hosting this deployment.",
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Google Container Engine.",
            "Google App Engine: Flexible Environment.",
            "Custom user-defined platform."
          ]
        },
        "deployTime": {
          "description": "Required. Beginning of the lifetime of this deployment.",
          "format": "google-datetime",
          "type": "string"
        },
        "resourceUri": {
          "description": "Output only. Resource URI for the artifact being deployed taken from the deployable field with the same name.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "config": {
          "type": "string",
          "description": "Configuration used to create this deployment."
        },
        "address": {
          "description": "Address of the runtime element hosting this deployment.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GeneratePackagesSummaryRequest": {
      "type": "object",
      "id": "GeneratePackagesSummaryRequest",
      "description": "GeneratePackagesSummaryRequest is the request body for the GeneratePackagesSummary API method. It just takes a single name argument, referring to the resource.",
      "properties": {}
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1DependencyGitSourceDependency": {
      "type": "object",
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1DependencyGitSourceDependency",
      "description": "Represents a git repository as a build dependency.",
      "properties": {
        "recurseSubmodules": {
          "description": "Optional. True if submodules should be fetched too (default false).",
          "type": "boolean"
        },
        "repository": {
          "description": "Required. The kind of repo (url or dev connect).",
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1DependencyGitSourceRepository"
        },
        "destPath": {
          "description": "Required. Where should the files be placed on the worker.",
          "type": "string"
        },
        "revision": {
          "description": "Required. The revision that we will fetch the repo at.",
          "type": "string"
        },
        "depth": {
          "type": "string",
          "format": "int64",
          "description": "Optional. How much history should be fetched for the build (default 1, -1 for all history)."
        }
      }
    },
    "Finding": {
      "id": "Finding",
      "description": "Finding provides details for a single finding within an AISkillAnalysisOccurrence.",
      "properties": {
        "location": {
          "description": "Location (path and line) where the finding was detected.",
          "$ref": "FindingLocation"
        },
        "scanner": {
          "enum": [
            "SCANNER_UNSPECIFIED",
            "STATIC",
            "LLM",
            "WS_POLICY",
            "GOOGLE_ANTIVIRUS"
          ],
          "description": "Scanner determines which engine (e.g. static, llm) emitted the finding.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified scanner.",
            "Static scanner.",
            "LLM scanner.",
            "WS_POLICY scanner.",
            "Google AntiVirus Service scanner."
          ]
        },
        "severity": {
          "enumDescriptions": [
            "Unspecified severity.",
            "Critical severity.",
            "High severity."
          ],
          "type": "string",
          "description": "Severity of the finding.",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH"
          ]
        },
        "category": {
          "description": "Category of the finding.",
          "type": "string"
        },
        "details": {
          "type": "string",
          "description": "Description of the finding category."
        }
      },
      "type": "object"
    },
    "SbomReferenceIntotoPayload": {
      "id": "SbomReferenceIntotoPayload",
      "description": "The actual payload that contains the SBOM Reference data. The payload follows the intoto statement specification. See https://github.com/in-toto/attestation/blob/main/spec/v1.0/statement.md for more details.",
      "properties": {
        "subject": {
          "type": "array",
          "items": {
            "$ref": "Subject"
          },
          "description": "Set of software artifacts that the attestation applies to. Each element represents a single software artifact."
        },
        "predicateType": {
          "type": "string",
          "description": "URI identifying the type of the Predicate."
        },
        "_type": {
          "type": "string",
          "description": "Identifier for the schema of the Statement."
        },
        "predicate": {
          "$ref": "SbomReferenceIntotoPredicate",
          "description": "Additional parameters of the Predicate. Includes the actual data about the SBOM."
        }
      },
      "type": "object"
    },
    "FileOccurrence": {
      "type": "object",
      "id": "FileOccurrence",
[...]
