{
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "description": "Data format for response.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    }
  },
  "documentationLink": "https://cloud.google.com/contact-center/insights/docs",
  "ownerName": "Google",
  "protocol": "rest",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "canonicalName": "Contactcenterinsights",
  "mtlsRootUrl": "https://contactcenterinsights.mtls.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version": "v1",
  "revision": "20260818",
  "name": "contactcenterinsights",
  "description": "",
  "ownerDomain": "google.com",
  "title": "Contact Center AI Insights API",
  "id": "contactcenterinsights:v1",
  "schemas": {
    "GoogleCloudContactcenterinsightsV1RedactionConfig": {
      "description": "DLP resources used for redaction while ingesting conversations. DLP settings are applied to conversations ingested from the `UploadConversation` and `IngestConversations` endpoints, including conversation coming from CCAI Platform. They are not applied to conversations ingested from the `CreateConversation` endpoint or the Dialogflow / Agent Assist runtime integrations. When using Dialogflow / Agent Assist runtime integrations, redaction should be performed in Dialogflow / Agent Assist.",
      "properties": {
        "inspectTemplate": {
          "type": "string",
          "description": "The fully-qualified DLP inspect template resource name. Format: `projects/{project}/locations/{location}/inspectTemplates/{template}`"
        },
        "deidentifyTemplate": {
          "type": "string",
          "description": "The fully-qualified DLP deidentify template resource name. Format: `projects/{project}/deidentifyTemplates/{template}`"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1RedactionConfig",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1ListDashboardsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The value returned by the last `ListDashboardsResponse`. This value indicates that this is a continuation of a prior `ListDashboards` call and that the system should return the next page of data."
        },
        "dashboards": {
          "description": "The dashboards under the parent.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1Dashboard"
          },
          "type": "array"
        }
      },
      "description": "The response of listing dashboards.",
      "id": "GoogleCloudContactcenterinsightsV1ListDashboardsResponse",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1IssueModelResult": {
      "id": "GoogleCloudContactcenterinsightsV1IssueModelResult",
      "description": "Issue Modeling result on a conversation.",
      "properties": {
        "issues": {
          "description": "All the matched issues.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1IssueAssignment"
          }
        },
        "issueModel": {
          "description": "Issue model that generates the result. Format: projects/{project}/locations/{location}/issueModels/{issue_model}",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1BulkDownloadFeedbackLabelsResponse": {
      "id": "GoogleCloudContactcenterinsightsV1BulkDownloadFeedbackLabelsResponse",
      "type": "object",
      "properties": {},
      "description": "Response for the BulkDownloadFeedbackLabel endpoint."
    },
    "GoogleCloudContactcenterinsightsV1alpha1ExportInsightsDataRequest": {
      "properties": {
        "writeDisposition": {
          "description": "Options for what to do if the destination table already exists.",
          "type": "string",
          "enum": [
            "WRITE_DISPOSITION_UNSPECIFIED",
            "WRITE_TRUNCATE",
            "WRITE_APPEND"
          ],
          "enumDescriptions": [
            "Write disposition is not specified. Defaults to WRITE_TRUNCATE.",
            "If the table already exists, BigQuery will overwrite the table data and use the schema from the load.",
            "If the table already exists, BigQuery will append data to the table."
          ]
        },
        "kmsKey": {
          "description": "A fully qualified KMS key name for BigQuery tables protected by CMEK. Format: projects/{project}/locations/{location}/keyRings/{keyring}/cryptoKeys/{key}/cryptoKeyVersions/{version}",
          "type": "string"
        },
        "parent": {
          "description": "Required. The parent resource to export data from.",
          "type": "string"
        },
        "filter": {
          "type": "string",
          "description": "A filter to reduce results to a specific subset. Useful for exporting conversations with specific properties."
        },
        "bigQueryDestination": {
          "description": "Specified if sink is a BigQuery table.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1ExportInsightsDataRequestBigQueryDestination"
        },
        "exportSchemaVersion": {
          "enumDescriptions": [
            "Unspecified. Defaults to EXPORT_V3.",
            "Export schema version 1.",
            "Export schema version 2.",
            "Export schema version 3.",
            "Export schema version 4.",
            "Export schema version 5.",
            "Export schema version 6.",
            "Export schema version 7.",
            "Export schema version 8.",
            "Export schema version 9.",
            "Export schema version 10.",
            "Export schema version 11.",
            "Export schema version 12.",
            "Export schema version 13.",
            "Export schema version 14.",
            "Export schema version 15.",
            "Export schema version 16.",
            "Export schema version 17.",
            "Export schema version latest available."
          ],
          "type": "string",
          "enum": [
            "EXPORT_SCHEMA_VERSION_UNSPECIFIED",
            "EXPORT_V1",
            "EXPORT_V2",
            "EXPORT_V3",
            "EXPORT_V4",
            "EXPORT_V5",
            "EXPORT_V6",
            "EXPORT_V7",
            "EXPORT_V8",
            "EXPORT_V9",
            "EXPORT_V10",
            "EXPORT_V11",
            "EXPORT_V12",
            "EXPORT_V13",
            "EXPORT_V14",
            "EXPORT_V15",
            "EXPORT_V16",
            "EXPORT_V17",
            "EXPORT_VERSION_LATEST_AVAILABLE"
          ],
          "description": "Optional. Version of the export schema."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1ExportInsightsDataRequest",
      "description": "The request to export insights.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponse": {
      "description": "The response for querying metrics.",
      "properties": {
        "slices": {
          "description": "A slice contains a total and (if the request specified a time granularity) a time series of metric values. Each slice contains a unique combination of the cardinality of dimensions from the request.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSlice"
          },
          "type": "array"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The metrics last update time."
        },
        "macroAverageSlice": {
          "description": "The macro average slice contains aggregated averages across all selected dimensions. i.e. if group_by agent and scorecard_id is specified, this field will contain the average across all agents and all scorecards. This field is only populated if the request specifies a Dimension.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSlice"
        },
        "location": {
          "type": "string",
          "description": "Required. The location of the data. \"projects/{project}/locations/{location}\""
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponse",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1RuntimeAnnotationUserInput": {
      "description": "Explicit input used for generating the answer",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1RuntimeAnnotationUserInput",
      "properties": {
        "querySource": {
          "description": "Query source for the answer.",
          "enumDescriptions": [
            "Unknown query source.",
            "The query is from agents.",
            "The query is a query from previous suggestions, e.g. from a preceding SuggestKnowledgeAssist response."
          ],
          "type": "string",
          "enum": [
            "QUERY_SOURCE_UNSPECIFIED",
            "AGENT_QUERY",
            "SUGGESTED_QUERY"
          ]
        },
        "query": {
          "description": "Query text. Article Search uses this to store the input query used to generate the search results.",
          "type": "string"
        },
        "generatorName": {
          "type": "string",
          "description": "The resource name of associated generator. Format: `projects//locations//generators/`"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainDimensionConversationProfileDimensionMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1mainDimensionConversationProfileDimensionMetadata",
      "properties": {
        "conversationProfileId": {
          "type": "string",
          "description": "Optional. The conversation profile ID."
        }
      },
      "description": "Metadata about the conversation profile dimension.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationParticipant": {
      "properties": {
        "dialogflowParticipant": {
          "deprecated": true,
          "description": "Deprecated. Use `dialogflow_participant_name` instead. The name of the Dialogflow participant. Format: projects/{project}/locations/{location}/conversations/{conversation}/participants/{participant}",
          "type": "string"
        },
        "dialogflowParticipantName": {
          "description": "The name of the participant provided by Dialogflow. Format: projects/{project}/locations/{location}/conversations/{conversation}/participants/{participant}",
          "type": "string"
        },
        "userId": {
          "description": "A user-specified ID representing the participant.",
          "type": "string"
        },
        "obfuscatedExternalUserId": {
          "type": "string",
          "description": "Obfuscated user ID from Dialogflow."
        },
        "role": {
          "enumDescriptions": [
            "Participant's role is not set.",
            "Participant is a human agent.",
            "Participant is an automated agent.",
            "Participant is an end user who conversed with the contact center.",
            "Participant is either a human or automated agent."
          ],
          "type": "string",
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER",
            "ANY_AGENT"
          ],
          "description": "The role of the participant."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationParticipant",
      "description": "The call participant speaking for a given utterance.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentDialogflowSegmentMetadata": {
      "type": "object",
      "description": "Metadata from Dialogflow relating to the current transcript segment.",
      "id": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentDialogflowSegmentMetadata",
      "properties": {
        "smartReplyAllowlistCovered": {
          "type": "boolean",
          "description": "Whether the transcript segment was covered under the configured smart reply allowlist in Agent Assist."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainBulkAnalyzeConversationsRequest": {
      "id": "GoogleCloudContactcenterinsightsV1mainBulkAnalyzeConversationsRequest",
      "properties": {
        "analysisPercentage": {
          "format": "float",
          "type": "number",
          "description": "Required. Percentage of selected conversation to analyze, between [0, 100]."
        },
        "annotatorSelector": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainAnnotatorSelector",
          "description": "To select the annotators to run and the phrase matchers to use (if any). If not specified, all annotators will be run."
        },
        "filter": {
          "description": "Required. Filter used to select the subset of conversations to analyze.",
          "type": "string"
        },
        "relabel": {
          "type": "boolean",
          "description": "Optional. If true, the labeling rules will be re-evaluated for the conversations."
        },
        "parent": {
          "type": "string",
          "description": "Required. The parent resource to create analyses in."
        }
      },
      "type": "object",
      "description": "The request to analyze conversations in bulk."
    },
    "GoogleCloudContactcenterinsightsV1TestCorrelationConfigMetadataFullConversationCorrelationStats": {
      "id": "GoogleCloudContactcenterinsightsV1TestCorrelationConfigMetadataFullConversationCorrelationStats",
      "type": "object",
      "properties": {
        "failedConversationsCount": {
          "format": "int32",
          "description": "The number of conversations that failed correlation.",
          "type": "integer"
        },
        "conversationCorrelationErrors": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1TestCorrelationConfigMetadataFullConversationCorrelationStatsConversationCorrelationError"
          },
          "description": "A list of errors that occurred during correlation, one for each conversation that failed."
        },
        "correlatedConversationsCount": {
          "description": "The number of conversations correlated.",
          "format": "int32",
          "type": "integer"
        },
        "sampledConversationsCount": {
          "format": "int32",
          "description": "The number of conversations sampled.",
          "type": "integer"
        },
        "partialErrors": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array",
          "description": "Partial errors during test correlation config operation that might cause the operation output to be incomplete."
        }
      },
      "description": "Statistics for TestCorrelationConfig operation."
    },
    "GoogleCloudContactcenterinsightsV1ListAssessmentsResponse": {
      "id": "GoogleCloudContactcenterinsightsV1ListAssessmentsResponse",
      "description": "The response of listing assessments.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "assessments": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1Assessment"
          },
          "description": "The assessments that match the request.",
          "type": "array"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1ConversationCallMetadata": {
      "properties": {
        "customerChannel": {
          "description": "The audio channel that contains the customer.",
          "format": "int32",
          "type": "integer"
        },
        "agentChannel": {
          "description": "The audio channel that contains the agent.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Call-specific metadata.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1ConversationCallMetadata"
    },
    "GoogleCloudContactcenterinsightsV1mainDimensionClientSentimentCategoryDimensionMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1mainDimensionClientSentimentCategoryDimensionMetadata",
      "type": "object",
      "properties": {
        "sentimentCategory": {
          "description": "Optional. The client sentiment category.",
          "type": "string"
        }
      },
      "description": "Metadata about the client sentiment category dimension."
    },
    "GoogleCloudContactcenterinsightsV1alpha1DimensionMediumDimensionMetadata": {
      "description": "Metadata about the conversation medium dimension.",
      "properties": {
        "medium": {
          "type": "string",
          "description": "Optional. The conversation medium. Currently supports : PHONE_CALL, CHAT."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1DimensionMediumDimensionMetadata",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1BulkUploadFeedbackLabelsRequest": {
      "id": "GoogleCloudContactcenterinsightsV1BulkUploadFeedbackLabelsRequest",
      "description": "The request for bulk uploading feedback labels.",
      "properties": {
        "sheetsSource": {
          "$ref": "GoogleCloudContactcenterinsightsV1BulkUploadFeedbackLabelsRequestSheetsSource",
          "description": "A sheets document source."
        },
        "validateOnly": {
          "description": "Optional. If set, upload will not happen and the labels will be validated. If not set, then default behavior will be to upload the labels after validation is complete.",
          "type": "boolean"
        },
        "gcsSource": {
          "$ref": "GoogleCloudContactcenterinsightsV1BulkUploadFeedbackLabelsRequestGcsSource",
          "description": "A cloud storage bucket source."
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1GenerativeInsightConversationTranscript": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1GenerativeInsightConversationTranscript",
      "properties": {
        "updateTime": {
          "description": "Output only. The update time of the conversation.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "messages": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1GenerativeInsightConversationTranscriptMessage"
          },
          "type": "array",
          "description": "Ordered list of messages, including user inputs and system responses."
        },
        "conversationId": {
          "description": "The conversation id of the chart.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The create time of the conversation."
        }
      },
      "type": "object",
      "description": "The conversation transcript for the chart."
    },
    "GoogleCloudContactcenterinsightsV1SampleConversationsMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1SampleConversationsMetadata",
      "type": "object",
      "properties": {
        "partialErrors": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "readOnly": true,
          "description": "Output only. Partial errors during sample conversations operation that might cause the operation output to be incomplete.",
          "type": "array"
        },
        "sampleConversationsStats": {
          "$ref": "GoogleCloudContactcenterinsightsV1SampleConversationsMetadataSampleConversationsStats",
          "description": "Output only. Statistics for SampleConversations operation.",
          "readOnly": true
        },
        "request": {
          "description": "Output only. The original request for sample conversations to dataset.",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1SampleConversationsRequest"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "The metadata for an SampleConversations operation."
    },
    "GoogleCloudContactcenterinsightsV1Issue": {
      "id": "GoogleCloudContactcenterinsightsV1Issue",
      "type": "object",
      "description": "The issue resource.",
      "properties": {
        "sampleUtterances": {
          "items": {
            "type": "string"
          },
          "description": "Output only. Resource names of the sample representative utterances that match to this issue.",
          "readOnly": true,
          "type": "array"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time at which this issue was created."
        },
        "name": {
          "type": "string",
          "description": "Immutable. The resource name of the issue. Format: projects/{project}/locations/{location}/issueModels/{issue_model}/issues/{issue}"
        },
        "displayDescription": {
          "type": "string",
          "description": "Representative description of the issue."
        },
        "updateTime": {
          "description": "Output only. The most recent time that this issue was updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "displayName": {
          "description": "The representative name for the issue.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1GenerativeInsightConversationTranscriptMessageSystemMessages": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1GenerativeInsightConversationTranscriptMessageSystemMessages",
      "type": "object",
      "properties": {
        "systemMessages": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1GenerativeInsightConversationTranscriptMessageSystemMessage"
          },
          "description": "A message from the system in response to the user.",
          "type": "array"
        }
      },
      "description": "A wrapper for system messages per turn."
    },
    "GoogleCloudContactcenterinsightsV1mainIngestConversationsResponse": {
      "id": "GoogleCloudContactcenterinsightsV1mainIngestConversationsResponse",
      "type": "object",
      "description": "The response to an IngestConversations operation.",
      "properties": {}
    },
    "GoogleCloudContactcenterinsightsV1alpha1ListFeedbackLabelsResponse": {
      "type": "object",
      "description": "The response for listing feedback labels.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1ListFeedbackLabelsResponse",
      "properties": {
        "feedbackLabels": {
          "description": "The feedback labels that match the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1FeedbackLabel"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The next page token."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainDimensionMediumDimensionMetadata": {
      "description": "Metadata about the conversation medium dimension.",
      "properties": {
        "medium": {
          "description": "Optional. The conversation medium. Currently supports : PHONE_CALL, CHAT.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainDimensionMediumDimensionMetadata"
    },
    "GoogleIamV1AuditConfig": {
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "items": {
            "$ref": "GoogleIamV1AuditLogConfig"
          },
          "type": "array"
        }
      },
      "id": "GoogleIamV1AuditConfig",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainImportIssueModelRequest": {
      "id": "GoogleCloudContactcenterinsightsV1mainImportIssueModelRequest",
      "properties": {
        "createNewModel": {
          "description": "Optional. If set to true, will create an issue model from the imported file with randomly generated IDs for the issue model and corresponding issues. Otherwise, replaces an existing model with the same ID as the file.",
          "type": "boolean"
        },
        "gcsSource": {
          "description": "Google Cloud Storage source message.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainImportIssueModelRequestGcsSource"
        },
        "parent": {
          "description": "Required. The parent resource of the issue model.",
          "type": "string"
        }
      },
      "description": "Request to import an issue model.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1CesEndSessionAnnotation": {
      "type": "object",
      "properties": {
        "endSession": {
          "$ref": "GoogleCloudCesV1mainEndSession",
          "description": "End session signal from CES."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1CesEndSessionAnnotation",
      "description": "The CES end session annotation."
    },
    "GoogleCloudContactcenterinsightsV1mainConversationCorrelationResult": {
      "type": "object",
      "description": "The result of testing correlation config on a single conversation.",
      "properties": {
        "ruleResults": {
          "description": "The results for each correlation rule.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainConversationCorrelationResultRuleCorrelationResult"
          }
        },
        "conversation": {
          "type": "string",
          "description": "The conversation resource name."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainConversationCorrelationResult"
    },
    "GoogleCloudContactcenterinsightsV1alpha1Entity": {
      "type": "object",
      "description": "The data for an entity annotation. Represents a phrase in the conversation that is a known entity, such as a person, an organization, or location.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The representative name for the entity."
        },
        "type": {
          "enumDescriptions": [
            "Unspecified.",
            "Person.",
            "Location.",
            "Organization.",
            "Event.",
            "Artwork.",
            "Consumer product.",
            "Other types of entities.",
            "Phone number. The metadata lists the phone number (formatted according to local convention), plus whichever additional elements appear in the text: * `number` - The actual number, broken down into sections according to local convention. * `national_prefix` - Country code, if detected. * `area_code` - Region or area code, if detected. * `extension` - Phone extension (to be dialed after connection), if detected.",
            "Address. The metadata identifies the street number and locality plus whichever additional elements appear in the text: * `street_number` - Street number. * `locality` - City or town. * `street_name` - Street/route name, if detected. * `postal_code` - Postal code, if detected. * `country` - Country, if detected. * `broad_region` - Administrative area, such as the state, if detected. * `narrow_region` - Smaller administrative area, such as county, if detected. * `sublocality` - Used in Asian addresses to demark a district within a city, if detected.",
            "Date. The metadata identifies the components of the date: * `year` - Four digit year, if detected. * `month` - Two digit month number, if detected. * `day` - Two digit day number, if detected.",
            "Number. The metadata is the number itself.",
            "Price. The metadata identifies the `value` and `currency`."
          ],
          "description": "The entity type.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "PERSON",
            "LOCATION",
            "ORGANIZATION",
            "EVENT",
            "WORK_OF_ART",
            "CONSUMER_GOOD",
            "OTHER",
            "PHONE_NUMBER",
            "ADDRESS",
            "DATE",
            "NUMBER",
            "PRICE"
          ]
        },
        "metadata": {
          "type": "object",
          "description": "Metadata associated with the entity. For most entity types, the metadata is a Wikipedia URL (`wikipedia_url`) and Knowledge Graph MID (`mid`), if they are available. For the metadata associated with other entity types, see the Type table below.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "salience": {
          "format": "float",
          "description": "The salience score associated with the entity in the [0, 1.0] range. The salience score for an entity provides information about the importance or centrality of that entity to the entire document text. Scores closer to 0 are less salient, while scores closer to 1.0 are highly salient.",
          "type": "number"
        },
        "sentiment": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1SentimentData",
          "description": "The aggregate sentiment expressed for this entity in the conversation."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1Entity"
    },
    "GoogleCloudContactcenterinsightsV1DimensionClientSentimentCategoryDimensionMetadata": {
      "description": "Metadata about the client sentiment category dimension.",
      "id": "GoogleCloudContactcenterinsightsV1DimensionClientSentimentCategoryDimensionMetadata",
      "properties": {
        "sentimentCategory": {
          "description": "Optional. The client sentiment category.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponseSliceTimeSeries": {
      "description": "A time series of metric values.",
      "properties": {
        "dataPoints": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponseSliceDataPoint"
          },
          "type": "array",
          "description": "The data points that make up the time series ."
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponseSliceTimeSeries"
    },
    "GoogleCloudContactcenterinsightsV1mainUpdateQaQuestionTagMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1mainUpdateQaQuestionTagMetadata",
      "type": "object",
      "description": "The metadata for updating a QaQuestionTag Resource.",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation was created."
        },
        "request": {
          "description": "Output only. The original request.",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1mainUpdateQaQuestionTagRequest"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1ListAutoLabelingRulesResponse": {
      "description": "The response message for listing auto labeling rules.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "autoLabelingRules": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1AutoLabelingRule"
          },
          "description": "The auto labeling rules.",
          "type": "array"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1ListAutoLabelingRulesResponse",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1ListAssessmentRulesResponse": {
      "id": "GoogleCloudContactcenterinsightsV1ListAssessmentRulesResponse",
      "properties": {
        "assessmentRules": {
          "type": "array",
          "description": "The assessment rules that match the request.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1AssessmentRule"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "The response of listing assessment rules.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1ScheduleInfo": {
      "description": "Message for schedule info.",
      "id": "GoogleCloudContactcenterinsightsV1ScheduleInfo",
      "type": "object",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Start time of the schedule. If not specified, will start as soon as the schedule is created."
        },
        "timeZone": {
          "type": "string",
          "description": "The timezone to use for the groc expression. If not specified, defaults to UTC."
        },
        "schedule": {
          "type": "string",
          "description": "The groc expression. Format: `every number [synchronized]` Time units can be: minutes, hours Synchronized is optional and indicates that the schedule should be synchronized to the start of the interval: every 5 minutes synchronized means 00:00, 00:05 ... Otherwise the start time is random within the interval. Example: `every 5 minutes` could be 00:02, 00:07, 00:12, ..."
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "End time of the schedule. If not specified, will keep scheduling new pipelines for execution util the schedule is no longer active or deleted."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainDeleteIssueModelMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1mainDeleteIssueModelMetadata",
      "type": "object",
      "properties": {
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainDeleteIssueModelRequest",
          "description": "The original request for deletion."
        },
        "endTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime"
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Metadata for deleting an issue model."
    },
    "GoogleCloudContactcenterinsightsV1mainBulkDeleteConversationsResponse": {
      "description": "The response for a bulk delete conversations operation.",
      "properties": {},
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainBulkDeleteConversationsResponse"
    },
    "GoogleCloudContactcenterinsightsV1mainDeleteQaQuestionTagMetadata": {
      "properties": {
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "request": {
          "readOnly": true,
          "description": "Output only. The original request.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainDeleteQaQuestionTagRequest"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainDeleteQaQuestionTagMetadata",
      "type": "object",
      "description": "The metadata for deleting a QaQuestionTag Resource."
    },
    "GoogleCloudContactcenterinsightsV1mainEntityMentionData": {
      "id": "GoogleCloudContactcenterinsightsV1mainEntityMentionData",
      "type": "object",
      "description": "The data for an entity mention annotation. This represents a mention of an `Entity` in the conversation.",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "MENTION_TYPE_UNSPECIFIED",
            "PROPER",
            "COMMON"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Proper noun.",
            "Common noun (or noun compound)."
          ],
          "description": "The type of the entity mention."
        },
        "entityUniqueId": {
          "type": "string",
          "description": "The key of this entity in conversation entities. Can be used to retrieve the exact `Entity` this mention is attached to."
        },
        "sentiment": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainSentimentData",
          "description": "Sentiment expressed for this mention of the entity."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1TestCorrelationConfigRequest": {
      "properties": {
        "maxSampleCount": {
          "type": "integer",
          "description": "Optional. The maximum number of conversations to sample when using the `filter`. If not set, defaults to 1000. Values greater than 1000 are coerced to 1000. This field is ignored if `conversations` is provided.",
          "format": "int32"
        },
        "correlationConfig": {
          "description": "Required. The correlation config to test.",
          "$ref": "GoogleCloudContactcenterinsightsV1CorrelationConfig"
        },
        "conversations": {
          "$ref": "GoogleCloudContactcenterinsightsV1TestCorrelationConfigRequestConversations",
          "description": "Optional. A list of conversations to test against."
        },
        "filter": {
          "type": "string",
          "description": "Optional. Filter to select conversations to test correlation against. Conversations matching this filter will be sampled based on start time. The most recent `max_sample_count` conversations will be selected. If no conversations match the filter, the request will fail with an `INVALID_ARGUMENT` error."
        }
      },
      "description": "The request to test correlation config.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1TestCorrelationConfigRequest"
    },
    "GoogleCloudContactcenterinsightsV1BulkAnalyzeConversationsResponse": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1BulkAnalyzeConversationsResponse",
      "description": "The response for a bulk analyze conversations operation.",
      "properties": {
        "successfulAnalysisCount": {
          "description": "Count of successful analyses.",
          "type": "integer",
          "format": "int32"
        },
        "failedAnalysisCount": {
          "type": "integer",
          "format": "int32",
          "description": "Count of failed analyses."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1QaAnswerAnswerSource": {
      "description": "A question may have multiple answers from varying sources, one of which becomes the \"main\" answer above. AnswerSource represents each individual answer.",
      "properties": {
        "sourceType": {
          "type": "string",
          "enum": [
            "SOURCE_TYPE_UNSPECIFIED",
            "SYSTEM_GENERATED",
            "MANUAL_EDIT"
          ],
          "description": "What created the answer.",
          "enumDescriptions": [
            "Source type is unspecified.",
            "Answer was system-generated; created during an Insights analysis.",
            "Answer was created by a human via manual edit."
          ]
        },
        "answerValue": {
          "description": "The answer value from this source. This field is populated by default, unless the question has a selection strategy configured to return multiple answer values, in which case `answer_values` will be populated instead.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1QaAnswerAnswerValue"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1QaAnswerAnswerSource"
    },
    "GoogleCloudContactcenterinsightsV1RedirectAction": {
      "properties": {
        "relativePath": {
          "description": "The relative path to redirect to.",
          "type": "string"
        },
        "queryParams": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The query params to be added to the redirect path.",
          "type": "object"
        }
      },
      "description": "The redirect action to be taken when the chart is clicked.",
      "id": "GoogleCloudContactcenterinsightsV1RedirectAction",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1ConversationLevelSilence": {
      "type": "object",
      "description": "Conversation-level silence data.",
      "properties": {
        "silencePercentage": {
          "format": "float",
          "type": "number",
          "description": "Percentage of the total conversation spent in silence."
        },
        "silenceDuration": {
          "description": "Amount of time calculated to be in silence.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1ConversationLevelSilence"
    },
    "GoogleCloudContactcenterinsightsV1mainDeleteQaQuestionTagRequest": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The name of the QaQuestionTag to delete."
        }
      },
      "description": "The request for deleting a QaQuestionTag.",
      "id": "GoogleCloudContactcenterinsightsV1mainDeleteQaQuestionTagRequest",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1PhraseMatcher": {
      "properties": {
        "phraseMatchRuleGroups": {
          "description": "A list of phase match rule groups that are included in this matcher.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1PhraseMatchRuleGroup"
          },
          "type": "array"
        },
        "revisionId": {
          "description": "Output only. Immutable. The revision ID of the phrase matcher. A new revision is committed whenever the matcher is changed, except when it is activated or deactivated. A server generated random ID will be used. Example: locations/global/phraseMatchers/my-first-matcher@1234567",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The most recent time at which the phrase matcher was updated."
        },
        "name": {
          "type": "string",
          "description": "The resource name of the phrase matcher. Format: projects/{project}/locations/{location}/phraseMatchers/{phrase_matcher}"
        },
        "type": {
          "type": "string",
          "enum": [
            "PHRASE_MATCHER_TYPE_UNSPECIFIED",
            "ALL_OF",
            "ANY_OF"
          ],
          "description": "Required. The type of this phrase matcher.",
          "enumDescriptions": [
            "Unspecified.",
            "Must meet all phrase match rule groups or there is no match.",
            "If any of the phrase match rule groups are met, there is a match."
          ]
        },
        "displayName": {
          "description": "The human-readable name of the phrase matcher.",
          "type": "string"
        },
        "revisionCreateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp of when the revision was created. It is also the create time when a new matcher is added.",
          "type": "string"
        },
        "roleMatch": {
          "description": "The role whose utterances the phrase matcher should be matched against. If the role is ROLE_UNSPECIFIED it will be matched against any utterances in the transcript.",
          "enumDescriptions": [
            "Participant's role is not set.",
            "Participant is a human agent.",
            "Participant is an automated agent.",
            "Participant is an end user who conversed with the contact center.",
            "Participant is either a human or automated agent."
          ],
          "type": "string",
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER",
            "ANY_AGENT"
          ]
        },
        "activationUpdateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The most recent time at which the activation status was updated.",
          "readOnly": true
        },
        "versionTag": {
          "type": "string",
          "description": "The customized version tag to use for the phrase matcher. If not specified, it will default to `revision_id`."
        },
        "active": {
          "description": "Applies the phrase matcher only when it is active.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "The phrase matcher resource.",
      "id": "GoogleCloudContactcenterinsightsV1PhraseMatcher"
    },
    "GoogleCloudCesV1mainToolsetTool": {
      "type": "object",
      "properties": {
        "toolset": {
          "type": "string",
          "description": "Required. The resource name of the Toolset from which this tool is derived. Format: `projects/{project}/locations/{location}/apps/{app}/toolsets/{toolset}`"
        },
        "toolId": {
          "type": "string",
          "description": "Optional. The tool ID to filter the tools to retrieve the schema for."
        }
      },
      "id": "GoogleCloudCesV1mainToolsetTool",
      "description": "A tool that is created from a toolset."
    },
    "GoogleCloudContactcenterinsightsV1GenerativeInsightsRequest": {
      "description": "The request for generative insights.",
      "id": "GoogleCloudContactcenterinsightsV1GenerativeInsightsRequest",
      "type": "object",
      "properties": {
        "sqlQuery": {
          "description": "Optional. The SQL query specified by the user. This query must be in BigQuery SQL dialect. The `filter` field will also be ignored, as it is assumed that any filtering is already included in the SQL query.",
          "type": "string"
        },
        "sessionId": {
          "type": "string",
          "description": "Optional. The session id of the conversation. If the session id is not specified, backend will generate a random session id. If the session id is specified, will associate user-provided user_query with the provided session id."
        },
        "chart": {
          "type": "string",
          "description": "The full name of the chart resource this request corresponds to. Format: projects/{project}/locations/{location}/dashboards/{dashboard}/charts/{chart}"
        },
        "filter": {
          "description": "Filter for the data that can be specified in addition to the natural language query. Users are encouraged to use this field to populate time-windows.",
          "type": "string"
        },
        "userProvidedChartSpec": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "Optional. The user provided chart spec for the chart. This will be used to override the visual spec generated by the LLM."
        },
        "revisionId": {
          "type": "string",
          "description": "Optional. The revision id that maps to the state of the chart state revision. When specified, the backend will reload the chart with the sql and visual spec from that revision."
        },
        "naturalLanguageQuery": {
          "type": "string",
          "description": "The natural language query specified by the user. If this field is specified, `sql_query` will be ignored."
        },
        "sqlComparisonKey": {
          "description": "Optional. For charts with comparison, this key will determine the metric that will be compared between the current and another dataset.",
          "type": "string"
        },
        "comparisonFilter": {
          "type": "string",
          "description": "Optional. Filter for the data that can be specified in addition to the natural language query. This `filter` is specifically used for charts where comparisons are possible. For example, \"compare to last month\" or \"compare to previous quarter\"."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainExportInsightsDataResponse": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudContactcenterinsightsV1mainExportInsightsDataResponse",
      "description": "Response for an export insights operation."
    },
    "GoogleCloudContactcenterinsightsV1mainQaScorecardResult": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainQaScorecardResult",
      "properties": {
        "qaScorecardRevision": {
          "description": "The QaScorecardRevision scored by this result.",
          "type": "string"
        },
        "scoreSources": {
          "description": "List of all individual score sets.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainQaScorecardResultScoreSource"
          },
          "type": "array"
        },
        "qaAnswers": {
          "type": "array",
          "description": "Set of QaAnswers represented in the result.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainQaAnswer"
          }
        },
        "name": {
          "description": "Identifier. The name of the scorecard result. Format: projects/{project}/locations/{location}/qaScorecardResults/{qa_scorecard_result}",
          "type": "string"
        },
        "qaTagResults": {
          "description": "Collection of tags and their scores.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainQaScorecardResultQaTagResult"
          }
        },
        "potentialScore": {
          "format": "double",
          "type": "number",
          "description": "The maximum potential overall score of the scorecard. Any questions answered using `na_value` are excluded from this calculation."
        },
        "score": {
          "description": "The overall numerical score of the result, incorporating any manual edits if they exist.",
          "type": "number",
          "format": "double"
        },
        "agentId": {
          "description": "ID of the agent that handled the conversation.",
          "type": "string"
        },
        "normalizedScore": {
          "format": "double",
          "type": "number",
          "description": "The normalized score, which is the score divided by the potential score. Any manual edits are included if they exist."
        },
        "conversation": {
          "description": "The conversation scored by this result.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp that the revision was created."
        }
      },
      "description": "The results of scoring a single conversation against a QaScorecard. Contains a collection of QaAnswers and aggregate score."
    },
    "GoogleCloudContactcenterinsightsV1PhraseMatchData": {
      "id": "GoogleCloudContactcenterinsightsV1PhraseMatchData",
      "description": "The data for a matched phrase matcher. Represents information identifying a phrase matcher for a given match.",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "The human-readable name of the phrase matcher.",
          "type": "string"
        },
        "phraseMatcher": {
          "description": "The unique identifier (the resource name) of the phrase matcher.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1AnalysisResultCallAnalysisMetadata": {
      "description": "Call-specific metadata created during analysis.",
      "properties": {
        "intents": {
          "description": "All the matched intents in the call.",
          "additionalProperties": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1Intent"
          },
          "type": "object"
        },
        "qaScorecardResults": {
          "description": "Results of scoring QaScorecards.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1QaScorecardResult"
          },
          "type": "array"
        },
        "entities": {
          "additionalProperties": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1Entity"
          },
          "description": "All the entities in the call.",
          "type": "object"
        },
        "sentiments": {
          "type": "array",
          "description": "Overall conversation-level sentiment for each channel of the call.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConversationLevelSentiment"
          }
        },
        "issueModelResult": {
          "description": "Overall conversation-level issue modeling result.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1IssueModelResult"
        },
        "phraseMatchers": {
          "description": "All the matched phrase matchers in the call.",
          "additionalProperties": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1PhraseMatchData"
          },
          "type": "object"
        },
        "annotations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1CallAnnotation"
          },
          "description": "A list of call annotations that apply to this call."
        },
        "silence": {
          "description": "Overall conversation-level silence during the call.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConversationLevelSilence"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1AnalysisResultCallAnalysisMetadata",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainGenerativeInsightConversationTranscriptMessageSystemMessageTextOutput": {
      "type": "object",
      "properties": {
        "text": {
          "description": "The parts of the message.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "textType": {
          "description": "The type of the text message.",
          "enumDescriptions": [
            "The default text type.",
            "The text is a thinking plan generated by the thinking tool.",
            "The text is a final response to the user question.",
            "The text is an informational message about the agent's progress, such as a tool being invoked. This is distinct from the agent's internal thought process (`THOUGHT`) and the final answer to the user (`FINAL_RESPONSE`). These messages provide insight into the agent's actions."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "THOUGHT",
            "FINAL_RESPONSE",
            "PROGRESS"
          ]
        }
      },
      "description": "A text output message from the system.",
      "id": "GoogleCloudContactcenterinsightsV1mainGenerativeInsightConversationTranscriptMessageSystemMessageTextOutput"
    },
    "GoogleCloudContactcenterinsightsV1SampleConversationsMetadataSampleConversationsStats": {
      "description": "Statistics for SampleConversations operation.",
      "properties": {
        "failedSampleCount": {
          "description": "Output only. The number of objects which were unable to be sampled due to errors. The errors are populated in the partial_errors field.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "successfulSampleCount": {
          "type": "integer",
          "description": "Output only. The number of new conversations added during this sample operation.",
          "format": "int32",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1SampleConversationsMetadataSampleConversationsStats"
    },
    "GoogleCloudContactcenterinsightsV1mainIngestConversationsRequestTranscriptObjectConfig": {
      "id": "GoogleCloudContactcenterinsightsV1mainIngestConversationsRequestTranscriptObjectConfig",
      "description": "Configuration for processing transcript objects.",
      "properties": {
        "medium": {
          "type": "string",
          "enum": [
            "MEDIUM_UNSPECIFIED",
            "PHONE_CALL",
            "CHAT"
          ],
          "enumDescriptions": [
            "Default value for unspecified.",
            "The format for conversations that took place over the phone.",
            "The format for conversations that took place over chat."
          ],
          "description": "Required. The medium transcript objects represent."
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainSpeechConfig": {
      "type": "object",
      "properties": {
        "speechRecognizer": {
          "description": "The fully-qualified Speech Recognizer resource name. Format: `projects/{project_id}/locations/{location}/recognizer/{recognizer}`",
          "type": "string"
        },
        "disableWordTimeOffsets": {
          "type": "boolean",
          "description": "Whether to disable word time offsets. If true, the `enable_word_time_offsets` field in the recognition config will be set to false."
        }
      },
      "description": "Speech-to-Text configuration. Speech-to-Text settings are applied to conversations ingested from the `UploadConversation` and `IngestConversations` endpoints, including conversation coming from CCAI Platform. They are not applied to conversations ingested from the `CreateConversation` endpoint.",
      "id": "GoogleCloudContactcenterinsightsV1mainSpeechConfig"
    },
    "GoogleCloudContactcenterinsightsV1PhraseMatchRuleGroup": {
      "id": "GoogleCloudContactcenterinsightsV1PhraseMatchRuleGroup",
      "description": "A message representing a rule in the phrase matcher.",
      "type": "object",
      "properties": {
        "phraseMatchRules": {
          "description": "A list of phrase match rules that are included in this group.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1PhraseMatchRule"
          },
          "type": "array"
        },
        "type": {
          "description": "Required. The type of this phrase match rule group.",
          "type": "string",
          "enum": [
            "PHRASE_MATCH_RULE_GROUP_TYPE_UNSPECIFIED",
            "ALL_OF",
            "ANY_OF"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Must meet all phrase match rules or there is no match.",
            "If any of the phrase match rules are met, there is a match."
          ]
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponseSlice": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponseSlice",
      "description": "A slice contains a total and (if the request specified a time granularity) a time series of metric values. Each slice contains a unique combination of the cardinality of dimensions from the request. For example, if the request specifies a single ISSUE dimension and it has a cardinality of 2 (i.e. the data used to compute the metrics has 2 issues in total), the response will have 2 slices: * Slice 1 -> dimensions=[Issue 1] * Slice 2 -> dimensions=[Issue 2]",
      "type": "object",
      "properties": {
        "total": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponseSliceDataPoint",
          "description": "The total metric value. The interval of this data point is [starting create time, ending create time) from the request."
        },
        "dimensions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1Dimension"
          },
          "description": "A unique combination of dimensions that this slice represents."
        },
        "timeSeries": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponseSliceTimeSeries",
          "description": "A time series of metric values. This is only populated if the request specifies a time granularity other than NONE."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationCorrelationInfo": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationCorrelationInfo",
      "properties": {
        "mergedFullConversationCorrelationId": {
          "type": "string",
          "description": "Output only. The full conversation correlation id this conversation is a merged conversation of.",
          "readOnly": true
        },
        "correlationTypes": {
          "items": {
            "type": "string",
            "enum": [
              "CORRELATION_TYPE_UNSPECIFIED",
              "SEGMENT",
              "PARTIAL",
              "FULL",
              "SYNTHETIC"
            ],
            "enumDescriptions": [
              "Default value for unspecified.",
              "This conversation represents a segment of a full conversation. The lowest level of granularity.",
              "This conversation represents a partial conversation of potentially multiple segments but is not a full conversation.",
              "This conversation represents a full conversation of potentially multiple segments.",
              "This conversation represents a synthetic conversation."
            ]
          },
          "readOnly": true,
          "description": "Output only. The correlation types of this conversation. A single conversation can have multiple correlation types. For example a conversation that only has a single segment is both a SEGMENT and a FULL_CONVERSATION.",
          "type": "array"
        },
        "fullConversationCorrelationId": {
          "type": "string",
          "description": "Output only. The full conversation correlation id this conversation is a segment of.",
          "readOnly": true
        }
      },
      "description": "Info for correlating across conversations.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainExportIssueModelMetadata": {
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "description": "The time the operation finished running.",
          "type": "string"
        },
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainExportIssueModelRequest",
          "description": "The original export request."
        },
        "createTime": {
          "description": "The time the operation was created.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Metadata used for export issue model.",
      "id": "GoogleCloudContactcenterinsightsV1mainExportIssueModelMetadata",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1CalculateStatsResponseTimeSeriesInterval": {
      "type": "object",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "description": "The start time of this interval.",
          "type": "string"
        },
        "conversationCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of conversations created in this interval."
        }
      },
      "description": "A single interval in a time series.",
      "id": "GoogleCloudContactcenterinsightsV1CalculateStatsResponseTimeSeriesInterval"
    },
    "GoogleCloudContactcenterinsightsV1QueryPerformanceOverviewResponse": {
      "description": "The response for querying performance overview.",
      "properties": {
        "summaryText": {
          "description": "The summary text of the performance.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1QueryPerformanceOverviewResponse",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainAnnotatorSelector": {
      "id": "GoogleCloudContactcenterinsightsV1mainAnnotatorSelector",
      "description": "Selector of all available annotators and phrase matchers to run.",
      "type": "object",
      "properties": {
        "runEntityAnnotator": {
          "description": "Whether to run the entity annotator.",
          "type": "boolean"
        },
        "runInterruptionAnnotator": {
          "description": "Whether to run the interruption annotator.",
          "type": "boolean"
        },
        "runPhraseMatcherAnnotator": {
          "type": "boolean",
          "description": "Whether to run the active phrase matcher annotator(s)."
        },
        "runSummarizationAnnotator": {
          "description": "Whether to run the summarization annotator.",
          "type": "boolean"
        },
        "phraseMatchers": {
          "items": {
            "type": "string"
          },
          "description": "The list of phrase matchers to run. If not provided, all active phrase matchers will be used. If inactive phrase matchers are provided, they will not be used. Phrase matchers will be run only if run_phrase_matcher_annotator is set to true. Format: projects/{project}/locations/{location}/phraseMatchers/{phrase_matcher}",
          "type": "array"
        },
        "qaConfig": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainAnnotatorSelectorQaConfig",
          "description": "Configuration for the QA annotator."
        },
        "summarizationConfig": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainAnnotatorSelectorSummarizationConfig",
          "description": "Configuration for the summarization annotator."
        },
        "runIssueModelAnnotator": {
          "description": "Whether to run the issue model annotator. A model should have already been deployed for this to take effect.",
          "type": "boolean"
        },
        "issueModels": {
          "type": "array",
          "description": "The issue model to run. If not provided, the most recently deployed topic model will be used. The provided issue model will only be used for inference if the issue model is deployed and if run_issue_model_annotator is set to true. If more than one issue model is provided, only the first provided issue model will be used for inference.",
          "items": {
            "type": "string"
          }
        },
        "runSilenceAnnotator": {
          "type": "boolean",
          "description": "Whether to run the silence annotator."
        },
        "runAutoLabelingAnnotator": {
          "description": "Optional. Whether to run the auto-labeling annotator. If true, the auto-labeling annotator will be run. This is a non-billable operation designed for fixing or backfilling custom labels.",
          "type": "boolean"
        },
        "runSentimentAnnotator": {
          "type": "boolean",
          "description": "Whether to run the sentiment annotator."
        },
        "runIntentAnnotator": {
          "type": "boolean",
          "description": "Whether to run the intent annotator."
        },
        "runQaAnnotator": {
          "description": "Whether to run the QA annotator.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsRequestTranscriptObjectConfig": {
      "type": "object",
      "properties": {
        "medium": {
          "description": "Required. The medium transcript objects represent.",
          "enumDescriptions": [
            "Default value for unspecified.",
            "The format for conversations that took place over the phone.",
            "The format for conversations that took place over chat."
          ],
          "type": "string",
          "enum": [
            "MEDIUM_UNSPECIFIED",
            "PHONE_CALL",
            "CHAT"
          ]
        }
      },
      "description": "Configuration for processing transcript objects.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsRequestTranscriptObjectConfig"
    },
    "GoogleCloudCesV1mainSpan": {
      "id": "GoogleCloudCesV1mainSpan",
      "type": "object",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The start time of the span.",
          "type": "string"
        },
        "attributes": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Output only. Key-value attributes associated with the span.",
          "readOnly": true
        },
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The end time of the span."
        },
        "childSpans": {
          "description": "Output only. The child spans that are nested under this span.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudCesV1mainSpan"
          }
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the span."
        },
        "duration": {
          "type": "string",
          "description": "Output only. The duration of the span.",
          "format": "google-duration",
          "readOnly": true
        }
      },
      "description": "A span is a unit of work or a single operation during the request processing."
    },
    "GoogleCloudContactcenterinsightsV1DeleteQaQuestionTagMetadata": {
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime"
        },
        "request": {
          "description": "Output only. The original request.",
          "$ref": "GoogleCloudContactcenterinsightsV1DeleteQaQuestionTagRequest",
          "readOnly": true
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "The metadata for deleting a QaQuestionTag Resource.",
      "id": "GoogleCloudContactcenterinsightsV1DeleteQaQuestionTagMetadata"
    },
    "GoogleCloudContactcenterinsightsV1alpha1ImportIssueModelMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1ImportIssueModelMetadata",
      "properties": {
        "request": {
          "description": "The original import request.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1ImportIssueModelRequest"
        },
        "createTime": {
          "type": "string",
          "description": "The time the operation was created.",
          "format": "google-datetime"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "The time the operation finished running.",
          "type": "string"
        }
      },
      "description": "Metadata used for import issue model.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponseSliceDataPointPercentileResult": {
      "description": "The percentile result. Currently supported percentiles are 50th, 90th, and 99th.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponseSliceDataPointPercentileResult",
      "type": "object",
      "properties": {
        "p90": {
          "type": "number",
          "format": "double",
          "description": "The 90th percentile value."
        },
        "p50": {
          "type": "number",
          "description": "The 50th percentile value.",
          "format": "double"
        },
        "p99": {
          "format": "double",
          "type": "number",
          "description": "The 99th percentile value."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1QueryPerformanceOverviewMetadata": {
      "properties": {},
      "description": "The metadata for querying performance overview.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1QueryPerformanceOverviewMetadata"
    },
    "GoogleCloudContactcenterinsightsV1BulkDownloadFeedbackLabelsMetadata": {
      "type": "object",
      "properties": {
        "downloadStats": {
          "$ref": "GoogleCloudContactcenterinsightsV1BulkDownloadFeedbackLabelsMetadataDownloadStats",
          "description": "Output only. Statistics for BulkDownloadFeedbackLabels operation.",
          "readOnly": true
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true
        },
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1BulkDownloadFeedbackLabelsRequest",
          "description": "Output only. The original request for download.",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string"
        },
        "partialErrors": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "Partial errors during ingest operation that might cause the operation output to be incomplete.",
          "type": "array"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1BulkDownloadFeedbackLabelsMetadata",
      "description": "Metadata for the BulkDownloadFeedbackLabel endpoint."
    },
    "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsMetadata": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsMetadata",
      "properties": {
        "resultIsTruncated": {
          "description": "Whether the result rows were truncated because the result row size is too large to materialize.",
          "type": "boolean"
        }
      },
      "description": "The metadata from querying metrics."
    },
    "GoogleCloudContactcenterinsightsV1ListQaScorecardsResponse": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1ListQaScorecardsResponse",
      "properties": {
        "qaScorecards": {
          "description": "The QaScorecards under the parent.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1QaScorecard"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "The response from a ListQaScorecards request."
    },
    "GoogleCloudCesV1mainEndSession": {
      "type": "object",
      "description": "Indicates the session has terminated, due to either successful completion (e.g. user says \"Good bye!\" ) or an agent escalation. The agent will not process any further inputs after session is terminated and the client should half-close and disconnect after receiving all remaining responses from the agent.",
      "id": "GoogleCloudCesV1mainEndSession",
      "properties": {
        "metadata": {
          "type": "object",
          "description": "Optional. Provides additional information about the end session signal, such as the reason for ending the session.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "GoogleTypeExpr": {
      "properties": {
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        }
      },
      "type": "object",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "id": "GoogleTypeExpr"
    },
    "GoogleCloudContactcenterinsightsV1mainIngestConversationsRequestGcsSource": {
      "properties": {
        "transcriptBucketUri": {
          "type": "string",
          "description": "Optional. The Cloud Storage path to the conversation transcripts. Note that: [1] Transcript files are expected to be in JSON format. [2] Transcript, audio, metadata files must be in separate buckets / folders. [3] A source file and its corresponding metadata file must share the same name to be properly ingested, E.g. `gs://bucket/audio/conversation1.mp3` and `gs://bucket/metadata/conversation1.json`."
        },
        "bucketObjectType": {
          "enumDescriptions": [
            "The object type is unspecified and will default to `TRANSCRIPT`.",
            "The object is a transcript.",
            "The object is an audio file."
          ],
          "type": "string",
          "enum": [
            "BUCKET_OBJECT_TYPE_UNSPECIFIED",
            "TRANSCRIPT",
            "AUDIO"
          ],
          "description": "Optional. Specifies the type of the objects in `bucket_uri`. Avoid passing this. This is inferred from the `transcript_bucket_uri`, `audio_bucket_uri`."
        },
        "bucketUri": {
          "description": "Optional. The Cloud Storage bucket containing source objects. Avoid passing this. Pass this through one of `transcript_bucket_uri` or `audio_bucket_uri`.",
          "type": "string"
        },
        "audioBucketUri": {
          "type": "string",
          "description": "Optional. The Cloud Storage path to the conversation audio file. Note that: [1] Audio files will be transcribed if not already. [2] Audio files and transcript files must be in separate buckets / folders. [3] A source file and its corresponding audio file must share the same name to be properly ingested, E.g. `gs://bucket/transcript/conversation1.json` and `gs://bucket/audio/conversation1.mp3`."
        },
        "metadataBucketUri": {
          "description": "Optional. The Cloud Storage path to the conversation metadata. Note that: [1] Metadata files are expected to be in JSON format. [2] Metadata and source files (transcripts or audio) must be in separate buckets / folders. [3] A source file and its corresponding metadata file must share the same name to be properly ingested, E.g. `gs://bucket/audio/conversation1.mp3` and `gs://bucket/metadata/conversation1.json`.",
          "type": "string"
        },
        "customMetadataKeys": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Custom keys to extract as conversation labels from metadata files in `metadata_bucket_uri`. Keys not included in this field will be ignored. Note that there is a limit of 100 labels per conversation."
        }
      },
      "type": "object",
      "description": "Configuration for Cloud Storage bucket sources.",
      "id": "GoogleCloudContactcenterinsightsV1mainIngestConversationsRequestGcsSource"
    },
    "GoogleCloudContactcenterinsightsV1QueryPerformanceOverviewRequestAgentSource": {
      "properties": {
        "agentId": {
          "description": "Required. Agent id to query performance overview for.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The entity whose performance is being queried is a single agent.",
      "id": "GoogleCloudContactcenterinsightsV1QueryPerformanceOverviewRequestAgentSource"
    },
    "GoogleCloudContactcenterinsightsV1CorrelationConfig": {
      "id": "GoogleCloudContactcenterinsightsV1CorrelationConfig",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time at which the correlation config was created."
        },
        "name": {
          "type": "string",
          "description": "Immutable. Identifier. The resource name of the correlation config. Format: projects/{project}/locations/{location}/correlationConfig"
        },
        "fullConversationConfig": {
          "description": "The correlation type config for full conversations.",
          "$ref": "GoogleCloudContactcenterinsightsV1CorrelationTypeConfig"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The time at which the correlation config was last updated.",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "type": "object",
      "description": "A configuration that defines how to correlate conversations for a given a given project."
    },
    "GoogleCloudContactcenterinsightsV1ConstraintEvaluationResultRuleConstraintResult": {
      "properties": {
        "ruleId": {
          "description": "The rule ID.",
          "type": "string"
        },
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "The error status if the constraint expression failed to evaluate."
        },
        "constraintMet": {
          "description": "Whether the constraint expression evaluated to true for (A, B) or (B, A).",
          "type": "boolean"
        }
      },
      "description": "The result of a single constraint rule on the pair of conversations.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1ConstraintEvaluationResultRuleConstraintResult"
    },
    "GoogleCloudContactcenterinsightsV1alpha1ImportIssueModelResponse": {
      "properties": {
        "issueModel": {
          "description": "The issue model that was imported.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1IssueModel"
        }
      },
      "description": "Response from import issue model",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1ImportIssueModelResponse"
    },
    "GoogleCloudContactcenterinsightsV1ListConversationsResponse": {
      "properties": {
        "conversations": {
          "description": "The conversations that match the request.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1Conversation"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token which can be sent as `page_token` to retrieve the next page. If this field is set, it means there is another page available. If it is not set, it means no other pages are available.",
          "type": "string"
        }
      },
      "description": "The response of listing conversations.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1ListConversationsResponse"
    },
    "GoogleCloudContactcenterinsightsV1mainIntentMatchData": {
      "type": "object",
      "properties": {
        "intentUniqueId": {
          "description": "The id of the matched intent. Can be used to retrieve the corresponding intent information.",
          "type": "string"
        }
      },
      "description": "The data for an intent match. Represents an intent match for a text segment in the conversation. A text segment can be part of a sentence, a complete sentence, or an utterance with multiple sentences.",
      "id": "GoogleCloudContactcenterinsightsV1mainIntentMatchData"
    },
    "GoogleCloudContactcenterinsightsV1mainUpdateQaQuestionTagRequest": {
      "description": "The request for updating a QaQuestionTag.",
      "type": "object",
      "properties": {
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Optional. The list of fields to be updated. All possible fields can be updated by passing `*`, or a subset of the following updateable fields can be provided: * `qa_question_tag_name` - the name of the tag * `qa_question_ids` - the list of questions the tag applies to"
        },
        "qaQuestionTag": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainQaQuestionTag",
          "description": "Required. The QaQuestionTag to update."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainUpdateQaQuestionTagRequest"
    },
    "GoogleCloudContactcenterinsightsV1UndeployIssueModelMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1UndeployIssueModelMetadata",
      "description": "Metadata for undeploying an issue model.",
      "type": "object",
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation was created."
        },
        "request": {
          "description": "The original request for undeployment.",
          "$ref": "GoogleCloudContactcenterinsightsV1UndeployIssueModelRequest"
        },
        "endTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainDimensionLabelDimensionMetadata": {
      "properties": {
        "labelKey": {
          "description": "Optional. The label key.",
          "type": "string"
        },
        "labelValue": {
          "type": "string",
          "description": "Optional. The label value."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainDimensionLabelDimensionMetadata",
      "description": "Metadata about conversation labels.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1GcsSource": {
      "description": "A Cloud Storage source of conversation data.",
      "properties": {
        "audioUri": {
          "description": "Immutable. Deprecated: Use `audio_uris` instead. Cloud Storage URI that points to a file that contains the conversation audio.",
          "deprecated": true,
          "type": "string"
        },
        "transcriptUri": {
          "type": "string",
          "description": "Immutable. Cloud Storage URI that points to a file that contains the conversation transcript."
        },
        "audioUris": {
          "description": "Immutable. Cloud Storage URIs that point to files that contain the conversation audio. Supports both single audio files and multi-leg session recordings (e.g., call transfers, rolling recording buffers).",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1GcsSource"
    },
    "GoogleCloudContactcenterinsightsV1alpha1DimensionIssueDimensionMetadata": {
      "properties": {
        "issueModelId": {
          "type": "string",
          "description": "The parent issue model ID."
        },
        "issueDisplayName": {
          "type": "string",
          "description": "The issue display name."
        },
        "issueId": {
          "description": "The issue ID.",
          "type": "string"
        }
      },
      "description": "Metadata about the issue dimension.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1DimensionIssueDimensionMetadata"
    },
    "GoogleCloudContactcenterinsightsV1TuneQaScorecardRevisionRequest": {
      "properties": {
        "validateOnly": {
          "description": "Optional. Run in validate only mode, no fine tuning will actually run. Data quality validations like training data distributions will run. Even when set to false, the data quality validations will still run but once the validations complete we will proceed with the fine tune, if applicable.",
          "type": "boolean"
        },
        "filter": {
          "type": "string",
          "description": "Required. Filter for selecting the feedback labels that needs to be used for training. This filter can be used to limit the feedback labels used for tuning to a feedback labels created or updated for a specific time-window etc."
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1TuneQaScorecardRevisionRequest",
      "description": "Request for TuneQaScorecardRevision endpoint."
    },
    "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsResponse": {
      "description": "The response to an IngestConversations operation.",
      "properties": {},
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsResponse"
    },
    "GoogleCloudContactcenterinsightsV1alpha1TestCorrelationConfigMetadataFullConversationCorrelationStatsConversationCorrelationError": {
      "description": "An error that occurred during correlation for a specific conversation.",
      "type": "object",
      "properties": {
        "status": {
          "$ref": "GoogleRpcStatus",
          "description": "The error status."
        },
        "conversation": {
          "description": "The conversation resource name that had an error during correlation.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1TestCorrelationConfigMetadataFullConversationCorrelationStatsConversationCorrelationError"
    },
    "GoogleCloudContactcenterinsightsV1ImportIssueModelRequest": {
      "description": "Request to import an issue model.",
      "id": "GoogleCloudContactcenterinsightsV1ImportIssueModelRequest",
      "properties": {
        "createNewModel": {
          "type": "boolean",
          "description": "Optional. If set to true, will create an issue model from the imported file with randomly generated IDs for the issue model and corresponding issues. Otherwise, replaces an existing model with the same ID as the file."
        },
        "gcsSource": {
          "$ref": "GoogleCloudContactcenterinsightsV1ImportIssueModelRequestGcsSource",
          "description": "Google Cloud Storage source message."
        },
        "parent": {
          "description": "Required. The parent resource of the issue model.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1ExportInsightsDataRequestBigQueryDestination": {
      "properties": {
        "table": {
          "description": "The BigQuery table name to which the insights data should be written. If this table does not exist, the export call returns an INVALID_ARGUMENT error.",
          "type": "string"
        },
        "projectId": {
          "description": "A project ID or number. If specified, then export will attempt to write data to this project instead of the resource project. Otherwise, the resource project will be used.",
          "type": "string"
        },
        "dataset": {
          "type": "string",
          "description": "Required. The name of the BigQuery dataset that the snapshot result should be exported to. If this dataset does not exist, the export call returns an INVALID_ARGUMENT error."
        }
      },
      "description": "A BigQuery Table Reference.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1ExportInsightsDataRequestBigQueryDestination"
    },
    "GoogleCloudContactcenterinsightsV1ImportIssueModelRequestGcsSource": {
      "id": "GoogleCloudContactcenterinsightsV1ImportIssueModelRequestGcsSource",
      "description": "Google Cloud Storage Object URI to get the issue model file from.",
      "type": "object",
      "properties": {
        "objectUri": {
          "type": "string",
          "description": "Required. Format: `gs:///`"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsRequestConversationConfig": {
      "properties": {
        "agentId": {
          "description": "Optional. An opaque, user-specified string representing a human agent who handled all conversations in the import. Note that this will be overridden if per-conversation metadata is provided through the `metadata_bucket_uri`.",
          "type": "string"
        },
        "customerChannel": {
          "type": "integer",
          "format": "int32",
[...]
