{
  "parameters": {
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    },
    "alt": {
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    }
  },
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://containeranalysis.mtls.googleapis.com/",
  "rootUrl": "https://containeranalysis.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "ownerDomain": "google.com",
  "revision": "20260826",
  "id": "containeranalysis:v1alpha1",
  "canonicalName": "Container Analysis",
  "description": "This API is a prerequisite for leveraging Artifact Analysis scanning capabilities in Artifact Registry. In addition, the Container Analysis API is an implementation of the Grafeas API, which enables storing, querying, and retrieval of critical metadata about all of your software artifacts.",
  "servicePath": "",
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/container-analysis/api/reference/rest/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "name": "containeranalysis",
  "batchPath": "batch",
  "baseUrl": "https://containeranalysis.googleapis.com/",
  "title": "Container Analysis API",
  "version_module": true,
  "schemas": {
    "Distribution": {
      "id": "Distribution",
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "The distribution channel-specific description of this package."
        },
        "architecture": {
          "enumDescriptions": [
            "Unknown architecture",
            "X86 architecture",
            "X64 architecture"
          ],
          "description": "The CPU architecture for which packages in this distribution channel were built",
          "type": "string",
          "enum": [
            "ARCHITECTURE_UNSPECIFIED",
            "X86",
            "X64"
          ]
        },
        "latestVersion": {
          "$ref": "Version",
          "description": "The latest available version of this package in this distribution channel."
        },
        "cpeUri": {
          "type": "string",
          "description": "The cpe_uri in [cpe format](https://cpe.mitre.org/specification/) denoting the package manager version distributing a package."
        },
        "url": {
          "type": "string",
          "description": "The distribution channel-specific homepage for this package."
        },
        "maintainer": {
          "description": "A freeform string denoting the maintainer of this package.",
          "type": "string"
        }
      },
      "description": "This represents a particular channel of distribution for a given package. e.g. Debian's jessie-backports dpkg mirror"
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsGenericArtifact": {
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsGenericArtifact",
      "type": "object",
      "properties": {
        "registryPath": {
          "type": "string",
          "description": "Required. Registry path to upload the generic artifact to, in the form projects/$PROJECT/locations/$LOCATION/repositories/$REPO/packages/$PACKAGE/versions/$VERSION"
        },
        "folder": {
          "type": "string",
          "description": "Required. Path to the generic artifact in the build's workspace to be uploaded to Artifact Registry."
        }
      },
      "description": "Generic artifact to upload to Artifact Registry upon successful completion of all build steps."
    },
    "AttestationAuthority": {
      "properties": {
        "hint": {
          "$ref": "AttestationAuthorityHint"
        }
      },
      "id": "AttestationAuthority",
      "description": "Note kind that represents a logical attestation \"role\" or \"authority\". For example, an organization might have one `AttestationAuthority` for \"QA\" and one for \"build\". This Note is intended to act strictly as a grouping mechanism for the attached Occurrences (Attestations). This grouping mechanism also provides a security boundary, since IAM ACLs gate the ability for a principle to attach an Occurrence to a given Note. It also provides a single point of lookup to find all attached Attestation Occurrences, even if they don't all live in the same project.",
      "type": "object"
    },
    "GoogleDevtoolsContaineranalysisV1alpha1RepoId": {
      "type": "object",
      "id": "GoogleDevtoolsContaineranalysisV1alpha1RepoId",
      "properties": {
        "uid": {
          "type": "string",
          "description": "A server-assigned, globally unique identifier."
        },
        "projectRepoId": {
          "description": "A combination of a project ID and a repo name.",
          "$ref": "GoogleDevtoolsContaineranalysisV1alpha1ProjectRepoId"
        }
      },
      "description": "A unique identifier for a Cloud Repo."
    },
    "MaliciousContentStaticResult": {
      "type": "object",
      "id": "MaliciousContentStaticResult",
      "properties": {
        "scanState": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified scan state.",
            "Scan was performed.",
            "Scan was not performed."
          ],
          "description": "Output only. State of the scan.",
          "enum": [
            "SCAN_STATE_UNSPECIFIED",
            "PERFORMED",
            "NOT_PERFORMED"
          ]
        },
        "maxSeverity": {
          "description": "Optional. Tracks max severity found.",
          "enumDescriptions": [
            "Unspecified severity.",
            "Critical severity.",
            "High severity."
          ],
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH"
          ]
        }
      },
      "description": "Result of Malicious Content Static scan."
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1DeveloperConnectConfig": {
      "type": "object",
      "properties": {
        "gitRepositoryLink": {
          "type": "string",
          "description": "Required. The Developer Connect Git repository link, formatted as `projects/*/locations/*/connections/*/gitRepositoryLink/*`."
        },
        "dir": {
          "description": "Required. Directory, relative to the source root, in which to run the build.",
          "type": "string"
        },
        "revision": {
          "description": "Required. The revision to fetch from the Git repository such as a branch, a tag, a commit SHA, or any Git ref.",
          "type": "string"
        }
      },
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1DeveloperConnectConfig",
      "description": "This config defines the location of a source through Developer Connect."
    },
    "ListNotesResponse": {
      "type": "object",
      "id": "ListNotesResponse",
      "description": "Response including listed notes.",
      "properties": {
        "notes": {
          "description": "The occurrences requested",
          "type": "array",
          "items": {
            "$ref": "Note"
          }
        },
        "nextPageToken": {
          "description": "The next pagination token in the list response. It should be used as page_token for the following request. An empty value means no more result.",
          "type": "string"
        }
      }
    },
    "SBOMStatus": {
      "properties": {
        "sbomState": {
          "description": "Output only. The progress of the SBOM generation.",
          "enum": [
            "SBOM_STATE_UNSPECIFIED",
            "PENDING",
            "COMPLETE"
          ],
          "enumDescriptions": [
            "Default unknown state.",
            "SBOM scanning is pending.",
            "SBOM scanning has completed."
          ],
          "readOnly": true,
          "type": "string"
        },
        "error": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. If there was an error generating an SBOM, this will indicate what that error was."
        }
      },
      "id": "SBOMStatus",
      "description": "The status of an SBOM generation.",
      "type": "object"
    },
    "Finding": {
      "type": "object",
      "id": "Finding",
      "properties": {
        "category": {
          "description": "Optional. Category of the finding.",
          "type": "string"
        },
        "severity": {
          "enumDescriptions": [
            "Unspecified severity.",
            "Critical severity.",
            "High severity."
          ],
          "description": "Optional. Severity of the finding.",
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH"
          ]
        },
        "location": {
          "$ref": "FindingLocation",
          "description": "Optional. Location (path and line) where the finding was detected."
        },
        "scanner": {
          "enumDescriptions": [
            "Unspecified scanner.",
            "Static scanner.",
            "LLM scanner.",
            "WS_POLICY scanner.",
            "Google AntiVirus Service scanner."
          ],
          "type": "string",
          "enum": [
            "SCANNER_UNSPECIFIED",
            "STATIC",
            "LLM",
            "WS_POLICY",
            "GOOGLE_ANTIVIRUS"
          ],
          "description": "Optional. Scanner determines which engine (e.g. static, llm) emitted the finding."
        },
        "details": {
          "type": "string",
          "description": "Optional. Description of the finding category."
        }
      },
      "description": "Finding provides details for a single finding within an AISkillAnalysisOccurrence."
    },
    "Material": {
      "id": "Material",
      "type": "object",
      "properties": {
        "uri": {
          "description": "uri is the uri of the material",
          "type": "string"
        },
        "digest": {
          "description": "digest is a map from a hash algorithm (e.g. sha256) to the value in the material",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "Material is a material used in the generation of the provenance"
    },
    "ComplianceOccurrence": {
      "description": "An indication that the compliance checks in the associated ComplianceNote were not satisfied for particular resources or a specified reason.",
      "properties": {
        "nonCompliantFiles": {
          "description": "A list of files which are violating compliance checks.",
          "items": {
            "$ref": "NonCompliantFile"
          },
          "type": "array"
        },
        "nonComplianceReason": {
          "description": "The reason for non compliance of these files.",
          "type": "string"
        },
        "version": {
          "$ref": "ComplianceVersion",
          "description": "The OS and config version the benchmark was run on."
        }
      },
      "type": "object",
      "id": "ComplianceOccurrence"
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1BuildStepResults": {
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1BuildStepResults",
      "type": "object",
      "properties": {
        "results": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Results for a build step."
        }
      },
      "description": "Results for a build step."
    },
    "ListScanConfigsResponse": {
      "properties": {
        "scanConfigs": {
          "description": "The set of scan configs.",
          "type": "array",
          "items": {
            "$ref": "ScanConfig"
          }
        },
        "nextPageToken": {
          "description": "A page token to pass in order to get more scan configs.",
          "type": "string"
        }
      },
      "description": "A list of scan configs for the project.",
      "id": "ListScanConfigsResponse",
      "type": "object"
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1BuildApproval": {
      "properties": {
        "config": {
          "readOnly": true,
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1ApprovalConfig",
          "description": "Output only. Configuration for manual approval of this build."
        },
        "result": {
          "readOnly": true,
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1ApprovalResult",
          "description": "Output only. Result of manual approval for this Build."
        },
        "state": {
          "description": "Output only. The state of this build's approval.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "APPROVED",
            "REJECTED",
            "CANCELLED"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default enum type. This should not be used.",
            "Build approval is pending.",
            "Build approval has been approved.",
            "Build approval has been rejected.",
            "Build was cancelled while it was still pending approval."
          ]
        }
      },
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1BuildApproval",
      "description": "BuildApproval describes a build's approval configuration, state, and result.",
      "type": "object"
    },
    "FileOccurrence": {
      "id": "FileOccurrence",
      "type": "object",
      "properties": {
        "notice": {
          "description": "This field provides a place for the SPDX file creator to record license notices or other such related notices found in the file",
          "type": "string"
        },
        "id": {
          "description": "Uniquely identify any element in an SPDX document which may be referenced by other elements",
          "type": "string"
        },
        "licenseConcluded": {
          "$ref": "License",
          "description": "This field contains the license the SPDX file creator has concluded as governing the file or alternative values if the governing license cannot be determined"
        },
        "filesLicenseInfo": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "This field contains the license information actually found in the file, if any"
        },
        "contributors": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "This field provides a place for the SPDX file creator to record file contributors"
        },
        "attributions": {
          "items": {
            "type": "string"
          },
          "description": "This field provides a place for the SPDX data creator to record, at the file level, acknowledgements that may be needed to be communicated in some contexts",
          "type": "array"
        },
        "comment": {
          "description": "This field provides a place for the SPDX file creator to record any general comments about the file",
          "type": "string"
        },
        "copyright": {
          "type": "string",
          "description": "Identify the copyright holder of the file, as well as any dates present"
        }
      },
      "description": "FileOccurrence represents an SPDX File Information section: https://spdx.github.io/spdx-spec/4-file-information/"
    },
    "WorkspacePolicyResult": {
      "description": "Result of Workspace Policy scan.",
      "type": "object",
      "properties": {
        "verdict": {
          "enumDescriptions": [
            "Unspecified verdict.",
            "Scanner passed.",
            "Scanner failed."
          ],
          "description": "Optional. Verdict of the scan.",
          "type": "string",
          "enum": [
            "VERDICT_UNSPECIFIED",
            "PASSED",
            "FAILED"
          ]
        },
        "scanState": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified scan state.",
            "Scan was performed.",
            "Scan was not performed."
          ],
          "enum": [
            "SCAN_STATE_UNSPECIFIED",
            "PERFORMED",
            "NOT_PERFORMED"
          ],
          "description": "Output only. State of the scan."
        }
      },
      "id": "WorkspacePolicyResult"
    },
    "AttestationAuthorityHint": {
      "type": "object",
      "properties": {
        "humanReadableName": {
          "description": "The human readable name of this Attestation Authority, for example \"qa\".",
          "type": "string"
        }
      },
      "id": "AttestationAuthorityHint",
      "description": "This submessage provides human-readable hints about the purpose of the AttestationAuthority. Because the name of a Note acts as its resource reference, it is important to disambiguate the canonical name of the Note (which might be a UUID for security purposes) from \"readable\" names more suitable for debug output. Note that these hints should NOT be used to look up AttestationAuthorities in security sensitive contexts, such as when looking up Attestations to verify."
    },
    "AnalysisCompleted": {
      "id": "AnalysisCompleted",
      "properties": {
        "analysisType": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "type of analysis that were completed on a resource."
        }
      },
      "description": "Indicates which analysis completed successfully. Multiple types of analysis can be performed on a single resource.",
      "type": "object"
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1Secrets": {
      "description": "Secrets and secret environment variables.",
      "properties": {
        "secretManager": {
          "description": "Secrets in Secret Manager and associated secret environment variable.",
          "type": "array",
          "items": {
            "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1SecretManagerSecret"
          }
        },
        "inline": {
          "items": {
            "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1InlineSecret"
          },
          "type": "array",
          "description": "Secrets encrypted with KMS key and the associated secret environment variable."
        }
      },
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1Secrets",
      "type": "object"
    },
    "Deployment": {
      "properties": {
        "undeployTime": {
          "type": "string",
          "description": "End of the lifetime of this deployment.",
          "format": "google-datetime"
        },
        "userEmail": {
          "description": "Identity of the user that triggered this deployment.",
          "type": "string"
        },
        "deployTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Beginning of the lifetime of this deployment."
        },
        "config": {
          "description": "Configuration used to create this deployment.",
          "type": "string"
        },
        "resourceUri": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Resource URI for the artifact being deployed taken from the deployable field with the same name."
        },
        "address": {
          "type": "string",
          "description": "Address of the runtime element hosting this deployment."
        },
        "platform": {
          "description": "Platform hosting this deployment.",
          "enumDescriptions": [
            "Unknown",
            "Google Container Engine",
            "Google App Engine: Flexible Environment",
            "Custom user-defined platform"
          ],
          "type": "string",
          "enum": [
            "PLATFORM_UNSPECIFIED",
            "GKE",
            "FLEX",
            "CUSTOM"
          ]
        }
      },
      "description": "The period during which some deployable was active in a runtime.",
      "id": "Deployment",
      "type": "object"
    },
    "SecretOccurrence": {
      "properties": {
        "locations": {
          "type": "array",
          "description": "Optional. Locations where the secret is detected.",
          "items": {
            "$ref": "SecretLocation"
          }
        },
        "statuses": {
          "items": {
            "$ref": "SecretStatus"
          },
          "type": "array",
          "description": "Optional. Status of the secret."
        },
        "kind": {
          "enumDescriptions": [
            "Unspecified",
            "The secret kind is unknown.",
            "A Google Cloud service account key per: https://cloud.google.com/iam/docs/creating-managing-service-account-keys",
            "A Google Cloud API key per: https://cloud.google.com/docs/authentication/api-keys",
            "A Google Cloud OAuth2 client credentials per: https://developers.google.com/identity/protocols/oauth2",
            "A Google Cloud OAuth2 access token per: https://cloud.google.com/docs/authentication/token-types#access",
            "An Anthropic Admin API key. This is called Workspace API key in Scalibr.",
            "An Anthropic API key. This is called Model key in Scalibr.",
            "An Azure access token.",
            "An Azure Identity Platform ID token.",
            "A Docker Hub personal access token.",
            "A GitHub App refresh token.",
            "A GitHub App server-to-server token.",
            "A GitHub App user-to-server token.",
            "A GitHub personal access token (classic).",
            "A GitHub fine-grained personal access token.",
            "A GitHub OAuth token.",
            "A Hugging Face API key.",
            "An OpenAI API key.",
            "A Perplexity API key.",
            "A Stripe secret key.",
            "A Stripe restricted key.",
            "A Stripe webhook secret."
          ],
          "description": "Required. Type of secret.",
          "type": "string",
          "enum": [
            "SECRET_KIND_UNSPECIFIED",
            "SECRET_KIND_UNKNOWN",
            "SECRET_KIND_GCP_SERVICE_ACCOUNT_KEY",
            "SECRET_KIND_GCP_API_KEY",
            "SECRET_KIND_GCP_OAUTH2_CLIENT_CREDENTIALS",
            "SECRET_KIND_GCP_OAUTH2_ACCESS_TOKEN",
            "SECRET_KIND_ANTHROPIC_ADMIN_API_KEY",
            "SECRET_KIND_ANTHROPIC_API_KEY",
            "SECRET_KIND_AZURE_ACCESS_TOKEN",
            "SECRET_KIND_AZURE_IDENTITY_TOKEN",
            "SECRET_KIND_DOCKER_HUB_PERSONAL_ACCESS_TOKEN",
            "SECRET_KIND_GITHUB_APP_REFRESH_TOKEN",
            "SECRET_KIND_GITHUB_APP_SERVER_TO_SERVER_TOKEN",
            "SECRET_KIND_GITHUB_APP_USER_TO_SERVER_TOKEN",
            "SECRET_KIND_GITHUB_CLASSIC_PERSONAL_ACCESS_TOKEN",
            "SECRET_KIND_GITHUB_FINE_GRAINED_PERSONAL_ACCESS_TOKEN",
            "SECRET_KIND_GITHUB_OAUTH_TOKEN",
            "SECRET_KIND_HUGGINGFACE_API_KEY",
            "SECRET_KIND_OPENAI_API_KEY",
            "SECRET_KIND_PERPLEXITY_API_KEY",
            "SECRET_KIND_STRIPE_SECRET_KEY",
            "SECRET_KIND_STRIPE_RESTRICTED_KEY",
            "SECRET_KIND_STRIPE_WEBHOOK_SECRET"
          ]
        }
      },
      "description": "The occurrence provides details of a secret.",
      "id": "SecretOccurrence",
      "type": "object"
    },
    "Digest": {
      "description": "Digest information.",
      "type": "object",
      "properties": {
        "algo": {
          "description": "`SHA1`, `SHA512` etc.",
          "type": "string"
        },
        "digestBytes": {
          "format": "byte",
          "description": "Value of the digest.",
          "type": "string"
        }
      },
      "id": "Digest"
    },
    "Basis": {
      "description": "Basis describes the base image portion (Note) of the DockerImage relationship. Linked occurrences are derived from this or an equivalent image via: FROM Or an equivalent reference, e.g. a tag of the resource_url.",
      "id": "Basis",
      "properties": {
        "resourceUrl": {
          "type": "string",
          "description": "The resource_url for the resource representing the basis of associated occurrence images."
        },
        "fingerprint": {
          "description": "The fingerprint of the base image.",
          "$ref": "Fingerprint"
        }
      },
      "type": "object"
    },
    "PgpSignedAttestation": {
      "id": "PgpSignedAttestation",
      "properties": {
        "signature": {
          "description": "The raw content of the signature, as output by GNU Privacy Guard (GPG) or equivalent. Since this message only supports attached signatures, the payload that was signed must be attached. While the signature format supported is dependent on the verification implementation, currently only ASCII-armored (`--armor` to gpg), non-clearsigned (`--sign` rather than `--clearsign` to gpg) are supported. Concretely, `gpg --sign --armor --output=signature.gpg payload.json` will create the signature content expected in this field in `signature.gpg` for the `payload.json` attestation payload.",
          "type": "string"
        },
        "pgpKeyId": {
          "description": "The cryptographic fingerprint of the key used to generate the signature, as output by, e.g. `gpg --list-keys`. This should be the version 4, full 160-bit fingerprint, expressed as a 40 character hexadecimal string. See https://tools.ietf.org/html/rfc4880#section-12.2 for details. Implementations may choose to acknowledge \"LONG\", \"SHORT\", or other abbreviated key IDs, but only the full fingerprint is guaranteed to work. In gpg, the full fingerprint can be retrieved from the `fpr` field returned when calling --list-keys with --with-colons. For example: ``` gpg --with-colons --with-fingerprint --force-v4-certs \\ --list-keys attester@example.com tru::1:1513631572:0:3:1:5 pub:...... fpr:::::::::24FF6481B76AC91E66A00AC657A93A81EF3AE6FB: ``` Above, the fingerprint is `24FF6481B76AC91E66A00AC657A93A81EF3AE6FB`.",
          "type": "string"
        },
        "contentType": {
          "enumDescriptions": [
            "`ContentType` is not set.",
            "Atomic format attestation signature. See https://github.com/containers/image/blob/8a5d2f82a6e3263290c8e0276c3e0f64e77723e7/docs/atomic-signature.md The payload extracted from `signature` is a JSON blob conforming to the linked schema."
          ],
          "type": "string",
          "enum": [
            "CONTENT_TYPE_UNSPECIFIED",
            "SIMPLE_SIGNING_JSON"
          ],
          "description": "Type (for example schema) of the attestation payload that was signed. The verifier must ensure that the provided type is one that the verifier supports, and that the attestation payload is a valid instantiation of that type (for example by validating a JSON schema)."
        }
      },
      "description": "An attestation wrapper with a PGP-compatible signature. This message only supports `ATTACHED` signatures, where the payload that is signed is included alongside the signature itself in the same file.",
      "type": "object"
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1Source": {
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1Source",
      "type": "object",
      "description": "Location of the source in a supported storage service.",
      "properties": {
        "storageSourceManifest": {
          "description": "If provided, get the source from this manifest in Cloud Storage. This feature is in Preview; see description [here](https://github.com/GoogleCloudPlatform/cloud-builders/tree/master/gcs-fetcher).",
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1StorageSourceManifest"
        },
        "storageSource": {
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1StorageSource",
          "description": "If provided, get the source from this location in Cloud Storage."
        },
        "gitSource": {
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1GitSource",
          "description": "If provided, get the source from this Git repository."
        },
        "developerConnectConfig": {
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1DeveloperConnectConfig",
          "description": "If provided, get the source from this Developer Connect config."
        },
        "connectedRepository": {
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1ConnectedRepository",
          "description": "Optional. If provided, get the source from this 2nd-gen Google Cloud Build repository resource."
        },
        "repoSource": {
          "description": "If provided, get the source from this location in a Cloud Source Repository.",
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1RepoSource"
        }
      }
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1StorageSource": {
      "description": "Location of the source in an archive file in Cloud Storage.",
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1StorageSource",
      "properties": {
        "object": {
          "description": "Required. Cloud Storage object containing the source. This object must be a zipped (`.zip`) or gzipped archive file (`.tar.gz`) containing source to build.",
          "type": "string"
        },
        "sourceFetcher": {
          "description": "Optional. Option to specify the tool to fetch the source file for the build.",
          "type": "string",
          "enum": [
            "SOURCE_FETCHER_UNSPECIFIED",
            "GSUTIL",
            "GCS_FETCHER"
          ],
          "enumDescriptions": [
            "Unspecified defaults to GSUTIL.",
            "Use the \"gsutil\" tool to download the source file.",
            "Use the Cloud Storage Fetcher tool to download the source file."
          ]
        },
        "generation": {
          "description": "Optional. Cloud Storage generation for the object. If the generation is omitted, the latest generation will be used.",
          "type": "string",
          "format": "int64"
        },
        "bucket": {
          "type": "string",
          "description": "Cloud Storage bucket containing the source (see [Bucket Name Requirements](https://cloud.google.com/storage/docs/bucket-naming#requirements))."
        }
      },
      "type": "object"
    },
    "BuildSignature": {
      "properties": {
        "publicKey": {
          "type": "string",
          "description": "Public key of the builder which can be used to verify that the related findings are valid and unchanged. If `key_type` is empty, this defaults to PEM encoded public keys. This field may be empty if `key_id` references an external key. For Cloud Build based signatures, this is a PEM encoded public key. To verify the Cloud Build signature, place the contents of this field into a file (public.pem). The signature field is base64-decoded into its binary representation in signature.bin, and the provenance bytes from `BuildDetails` are base64-decoded into a binary representation in signed.bin. OpenSSL can then verify the signature: `openssl sha256 -verify public.pem -signature signature.bin signed.bin`"
        },
        "keyId": {
          "description": "An Id for the key used to sign. This could be either an Id for the key stored in `public_key` (such as the Id or fingerprint for a PGP key, or the CN for a cert), or a reference to an external key (such as a reference to a key in Cloud Key Management Service).",
          "type": "string"
        },
        "keyType": {
          "description": "The type of the key, either stored in `public_key` or referenced in `key_id`",
          "enumDescriptions": [
            "`KeyType` is not set.",
            "`PGP ASCII Armored` public key.",
            "`PKIX PEM` public key."
          ],
          "type": "string",
          "enum": [
            "KEY_TYPE_UNSPECIFIED",
            "PGP_ASCII_ARMORED",
            "PKIX_PEM"
          ]
        },
        "signature": {
          "type": "string",
          "description": "Signature of the related `BuildProvenance`, encoded in a base64 string."
        }
      },
      "id": "BuildSignature",
      "type": "object",
      "description": "Message encapsulating the signature of the verified build."
    },
    "InTotoStatement": {
      "id": "InTotoStatement",
      "properties": {
        "subject": {
          "description": "subject is the subjects of the intoto statement",
          "type": "array",
          "items": {
            "$ref": "Subject"
          }
        },
        "slsaProvenance": {
          "$ref": "SlsaProvenance",
          "description": "SLSA 0.1 provenance."
        },
        "provenance": {
          "description": "Generic Grafeas provenance.",
          "$ref": "InTotoProvenance"
        },
        "predicateType": {
          "type": "string",
          "description": "\"https://slsa.dev/provenance/v0.1\" for SlsaProvenance."
        },
        "slsaProvenanceZeroTwo": {
          "description": "SLSA 0.2 provenance.",
          "$ref": "SlsaProvenanceZeroTwo"
        },
        "_type": {
          "type": "string",
          "description": "Always \"https://in-toto.io/Statement/v0.1\"."
        }
      },
      "type": "object",
      "description": "Spec defined at https://github.com/in-toto/attestation/tree/main/spec#statement The serialized InTotoStatement will be stored as Envelope.payload. Envelope.payloadType is always \"application/vnd.in-toto+json\"."
    },
    "CISAKnownExploitedVulnerabilities": {
      "id": "CISAKnownExploitedVulnerabilities",
      "description": "CISAKnownExploitedVulnerabilities provides information about whether the vulnerability is known to have been leveraged as part of a ransomware campaign.",
      "type": "object",
      "properties": {
        "knownRansomwareCampaignUse": {
          "type": "string",
          "description": "Optional. Whether the vulnerability is known to have been leveraged as part of a ransomware campaign."
        }
      }
    },
    "Installation": {
      "description": "This represents how a particular software package may be installed on a system.",
      "properties": {
        "license": {
          "$ref": "License",
          "description": "Licenses that have been declared by the authors of the package."
        },
        "packageType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The type of package; whether native or non native (e.g., ruby gems, node.js packages, etc.)."
        },
        "architecture": {
          "readOnly": true,
          "enumDescriptions": [
            "Unknown architecture",
            "X86 architecture",
            "X64 architecture"
          ],
          "description": "Output only. The CPU architecture for which packages in this distribution channel were built. Architecture will be blank for language packages.",
          "type": "string",
          "enum": [
            "ARCHITECTURE_UNSPECIFIED",
            "X86",
            "X64"
          ]
        },
        "name": {
          "description": "Output only. The name of the installed package.",
          "readOnly": true,
          "type": "string"
        },
        "location": {
          "items": {
            "$ref": "Location"
          },
          "description": "All of the places within the filesystem versions of this package have been found.",
          "type": "array"
        },
        "cpeUri": {
          "description": "Output only. The cpe_uri in [CPE format](https://cpe.mitre.org/specification/) denoting the package manager version distributing a package. The cpe_uri will be blank for language packages.",
          "readOnly": true,
          "type": "string"
        },
        "version": {
          "$ref": "Version",
          "description": "Output only. The version of the package.",
          "readOnly": true
        }
      },
      "id": "Installation",
      "type": "object"
    },
    "TimeSpan": {
      "type": "object",
      "description": "Start and end times for a build execution phase. Next ID: 3",
      "id": "TimeSpan",
      "properties": {
        "startTime": {
          "description": "Start of time span.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "End of time span.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1GitSource": {
      "description": "Location of the source in any accessible Git repository.",
      "properties": {
        "url": {
          "description": "Required. Location of the Git repo to build. This will be used as a `git remote`, see https://git-scm.com/docs/git-remote.",
          "type": "string"
        },
        "dir": {
          "description": "Optional. Directory, relative to the source root, in which to run the build. This must be a relative path. If a step's `dir` is specified and is an absolute path, this value is ignored for that step's execution.",
          "type": "string"
        },
        "revision": {
          "description": "Optional. The revision to fetch from the Git repository such as a branch, a tag, a commit SHA, or any Git ref. Cloud Build uses `git fetch` to fetch the revision from the Git repository; therefore make sure that the string you provide for `revision` is parsable by the command. For information on string values accepted by `git fetch`, see https://git-scm.com/docs/gitrevisions#_specifying_revisions. For information on `git fetch`, see https://git-scm.com/docs/git-fetch.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1GitSource"
    },
    "ExternalRef": {
      "properties": {
        "locator": {
          "type": "string",
          "description": "The unique string with no spaces necessary to access the package-specific information, metadata, or content within the target location"
        },
        "category": {
          "type": "string",
          "enum": [
            "CATEGORY_UNSPECIFIED",
            "SECURITY",
            "PACKAGE_MANAGER",
            "PERSISTENT_ID",
            "OTHER"
          ],
          "description": "An External Reference allows a Package to reference an external source of additional information, metadata, enumerations, asset identifiers, or downloadable content believed to be relevant to the Package",
          "enumDescriptions": [
            "Unspecified",
            "Security (e.g. cpe22Type, cpe23Type)",
            "Package Manager (e.g. maven-central, npm, nuget, bower, purl)",
            "Persistent-Id (e.g. swh)",
            "Other"
          ]
        },
        "comment": {
          "description": "Human-readable information about the purpose and target of the reference",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "Type of category (e.g. 'npm' for the PACKAGE_MANAGER category)"
        }
      },
      "description": "An External Reference allows a Package to reference an external source of additional information, metadata, enumerations, asset identifiers, or downloadable content believed to be relevant to the Package",
      "id": "ExternalRef",
      "type": "object"
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1FileHashes": {
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1FileHashes",
      "description": "Container message for hashes of byte content of files, used in SourceProvenance messages to verify integrity of source input to the build.",
      "type": "object",
      "properties": {
        "fileHash": {
          "description": "Collection of file hashes.",
          "items": {
            "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1Hash"
          },
          "type": "array"
        }
      }
    },
    "RelationshipNote": {
      "description": "RelationshipNote represents an SPDX Relationship section: https://spdx.github.io/spdx-spec/7-relationships-between-SPDX-elements/",
      "type": "object",
      "properties": {
        "type": {
          "description": "The type of relationship between the source and target SPDX elements",
          "enumDescriptions": [
            "Unspecified",
            "Is to be used when SPDXRef-DOCUMENT describes SPDXRef-A",
            "Is to be used when SPDXRef-A is described by SPDXREF-Document",
            "Is to be used when SPDXRef-A contains SPDXRef-B",
            "Is to be used when SPDXRef-A is contained by SPDXRef-B",
            "Is to be used when SPDXRef-A depends on SPDXRef-B",
            "Is to be used when SPDXRef-A is dependency of SPDXRef-B",
            "Is to be used when SPDXRef-A is a manifest file that lists a set of dependencies for SPDXRef-B",
            "Is to be used when SPDXRef-A is a build dependency of SPDXRef-B",
            "Is to be used when SPDXRef-A is a development dependency of SPDXRef-B",
            "Is to be used when SPDXRef-A is an optional dependency of SPDXRef-B",
            "Is to be used when SPDXRef-A is a to be provided dependency of SPDXRef-B",
            "Is to be used when SPDXRef-A is a test dependency of SPDXRef-B",
            "Is to be used when SPDXRef-A is a dependency required for the execution of SPDXRef-B",
            "Is to be used when SPDXRef-A is an example of SPDXRef-B",
            "Is to be used when SPDXRef-A generates SPDXRef-B",
            "Is to be used when SPDXRef-A was generated from SPDXRef-B",
            "Is to be used when SPDXRef-A is an ancestor (same lineage but pre-dates) SPDXRef-B",
            "Is to be used when SPDXRef-A is a descendant of (same lineage but postdates) SPDXRef-B",
            "Is to be used when SPDXRef-A is a variant of (same lineage but not clear which came first) SPDXRef-B",
            "Is to be used when distributing SPDXRef-A requires that SPDXRef-B also be distributed",
            "Is to be used when SPDXRef-A is a patch file for (to be applied to) SPDXRef-B",
            "Is to be used when SPDXRef-A is a patch file that has been applied to SPDXRef-B",
            "Is to be used when SPDXRef-A is an exact copy of SPDXRef-B",
            "Is to be used when SPDXRef-A is a file that was added to SPDXRef-B",
            "Is to be used when SPDXRef-A is a file that was deleted from SPDXRef-B",
            "Is to be used when SPDXRef-A is a file that was modified from SPDXRef-B",
            "Is to be used when SPDXRef-A is expanded from the archive SPDXRef-B",
            "Is to be used when SPDXRef-A dynamically links to SPDXRef-B",
            "Is to be used when SPDXRef-A statically links to SPDXRef-B",
            "Is to be used when SPDXRef-A is a data file used in SPDXRef-B",
            "Is to be used when SPDXRef-A is a test case used in testing SPDXRef-B",
            "Is to be used when SPDXRef-A is used to build SPDXRef-B",
            "Is to be used when SPDXRef-A is used as a development tool for SPDXRef-B",
            "Is to be used when SPDXRef-A is used for testing SPDXRef-B",
            "Is to be used when SPDXRef-A is used as a test tool for SPDXRef-B",
            "Is to be used when SPDXRef-A provides documentation of SPDXRef-B",
            "Is to be used when SPDXRef-A is an optional component of SPDXRef-B",
            "Is to be used when SPDXRef-A is a metafile of SPDXRef-B",
            "Is to be used when SPDXRef-A is used as a package as part of SPDXRef-B",
            "Is to be used when (current) SPDXRef-DOCUMENT amends the SPDX information in SPDXRef-B",
            "Is to be used when SPDXRef-A is a prerequisite for SPDXRef-B",
            "Is to be used when SPDXRef-A has as a prerequisite SPDXRef-B",
            "Is to be used for a relationship which has not been defined in the formal SPDX specification. A description of the relationship should be included in the Relationship comments field"
          ],
          "type": "string",
          "enum": [
            "RELATIONSHIP_TYPE_UNSPECIFIED",
            "DESCRIBES",
            "DESCRIBED_BY",
            "CONTAINS",
            "CONTAINED_BY",
            "DEPENDS_ON",
            "DEPENDENCY_OF",
            "DEPENDENCY_MANIFEST_OF",
            "BUILD_DEPENDENCY_OF",
            "DEV_DEPENDENCY_OF",
            "OPTIONAL_DEPENDENCY_OF",
            "PROVIDED_DEPENDENCY_OF",
            "TEST_DEPENDENCY_OF",
            "RUNTIME_DEPENDENCY_OF",
            "EXAMPLE_OF",
            "GENERATES",
            "GENERATED_FROM",
            "ANCESTOR_OF",
            "DESCENDANT_OF",
            "VARIANT_OF",
            "DISTRIBUTION_ARTIFACT",
            "PATCH_FOR",
            "PATCH_APPLIED",
            "COPY_OF",
            "FILE_ADDED",
            "FILE_DELETED",
            "FILE_MODIFIED",
            "EXPANDED_FROM_ARCHIVE",
            "DYNAMIC_LINK",
            "STATIC_LINK",
            "DATA_FILE_OF",
            "TEST_CASE_OF",
            "BUILD_TOOL_OF",
            "DEV_TOOL_OF",
            "TEST_OF",
            "TEST_TOOL_OF",
            "DOCUMENTATION_OF",
            "OPTIONAL_COMPONENT_OF",
            "METAFILE_OF",
            "PACKAGE_OF",
            "AMENDS",
            "PREREQUISITE_FOR",
            "HAS_PREREQUISITE",
            "OTHER"
          ]
        }
      },
      "id": "RelationshipNote"
    },
    "GoogleDevtoolsContaineranalysisV1alpha1SlsaProvenanceZeroTwoSlsaCompleteness": {
      "id": "GoogleDevtoolsContaineranalysisV1alpha1SlsaProvenanceZeroTwoSlsaCompleteness",
      "description": "Indicates that the builder claims certain fields in this message to be complete.",
      "type": "object",
      "properties": {
        "parameters": {
          "description": "If true, the builder claims that invocation.parameters is complete.",
          "type": "boolean"
        },
        "materials": {
          "description": "If true, the builder claims that materials is complete.",
          "type": "boolean"
        },
        "environment": {
          "type": "boolean",
          "description": "If true, the builder claims that invocation.environment is complete."
        }
      }
    },
    "SlsaRecipe": {
      "type": "object",
      "description": "Steps taken to build the artifact. For a TaskRun, typically each container corresponds to one step in the recipe.",
      "properties": {
        "definedInMaterial": {
          "format": "int64",
          "type": "string",
          "description": "Index in materials containing the recipe steps that are not implied by recipe.type. For example, if the recipe type were \"make\", then this would point to the source containing the Makefile, not the make program itself. Set to -1 if the recipe doesn't come from a material, as zero is default unset value for int64."
        },
        "environment": {
          "description": "Any other builder-controlled inputs necessary for correctly evaluating the recipe. Usually only needed for reproducing the build but not evaluated as part of policy. Depending on the recipe Type, the structure may be different.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "type": {
          "type": "string",
          "description": "URI indicating what type of recipe was performed. It determines the meaning of recipe.entryPoint, recipe.arguments, recipe.environment, and materials."
        },
        "entryPoint": {
          "type": "string",
          "description": "String identifying the entry point into the build. This is often a path to a configuration file and/or a target label within that file. The syntax and meaning are defined by recipe.type. For example, if the recipe type were \"make\", then this would reference the directory in which to run make as well as which target to use."
        },
        "arguments": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "Collection of all external inputs that influenced the build on top of recipe.definedInMaterial and recipe.entryPoint. For example, if the recipe type were \"make\", then this might be the flags passed to make aside from the target, which is captured in recipe.entryPoint. Depending on the recipe Type, the structure may be different."
        }
      },
      "id": "SlsaRecipe"
    },
    "Envelope": {
      "type": "object",
      "properties": {
        "signatures": {
          "items": {
            "$ref": "EnvelopeSignature"
          },
          "type": "array",
          "description": "The signatures over the payload"
        },
        "payload": {
          "format": "byte",
          "description": "The bytes being signed",
          "type": "string"
        },
        "payloadType": {
          "description": "The type of payload being signed",
          "type": "string"
        }
      },
      "description": "MUST match https://github.com/secure-systems-lab/dsse/blob/master/envelope.proto. An authenticated message of arbitrary type.",
      "id": "Envelope"
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1TimeSpan": {
      "properties": {
        "startTime": {
          "description": "Start of time span.",
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "End of time span."
        }
      },
      "description": "Start and end times for a build execution phase.",
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1TimeSpan",
      "type": "object"
    },
    "SecretNote": {
      "description": "The note representing a secret.",
      "id": "SecretNote",
      "properties": {},
      "type": "object"
    },
    "VulnerabilityDetails": {
      "description": "Used by Occurrence to point to where the vulnerability exists and how to fix it.",
      "properties": {
        "cvssV3": {
          "description": "The CVSS v3 score of this vulnerability.",
          "$ref": "CVSS"
        },
        "risk": {
          "$ref": "Risk",
          "description": "Risk information about the vulnerability, such as CISA, EPSS, etc."
        },
        "effectiveSeverity": {
          "description": "The distro assigned severity for this vulnerability when that is available and note provider assigned severity when distro has not yet assigned a severity for this vulnerability. When there are multiple package issues for this vulnerability, they can have different effective severities because some might come from the distro and some might come from installed language packs (e.g. Maven JARs or Go binaries). For this reason, it is advised to use the effective severity on the PackageIssue level, as this field may eventually be deprecated. In the case where multiple PackageIssues have different effective severities, the one set here will be the highest severity of any of the PackageIssues.",
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "MINIMAL",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "enumDescriptions": [
            "Unknown Impact",
            "Minimal Impact",
            "Low Impact",
            "Medium Impact",
            "High Impact",
            "Critical Impact"
          ]
        },
        "cvssV2": {
          "$ref": "CVSS",
          "description": "The CVSS v2 score of this vulnerability."
        },
        "vexAssessment": {
          "description": "VexAssessment provides all publisher provided Vex information that is related to this vulnerability for this resource.",
          "$ref": "VexAssessment"
        },
        "cvssScore": {
          "format": "float",
          "description": "Output only. The CVSS score of this vulnerability. CVSS score is on a scale of 0-10 where 0 indicates low severity and 10 indicates high severity.",
          "type": "number"
        },
        "extraDetails": {
          "description": "Occurrence-specific extra details about the vulnerability.",
          "type": "string"
        },
        "packageIssue": {
          "items": {
            "$ref": "PackageIssue"
          },
          "description": "The set of affected locations and their fixes (if available) within the associated resource.",
          "type": "array"
        },
        "type": {
          "type": "string",
          "description": "The type of package; whether native or non native(ruby gems, node.js packages etc). This may be deprecated in the future because we can have multiple PackageIssues with different package types."
        },
        "severity": {
          "description": "Output only. The note provider assigned Severity of the vulnerability.",
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "MINIMAL",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "enumDescriptions": [
            "Unknown Impact",
            "Minimal Impact",
            "Low Impact",
            "Medium Impact",
            "High Impact",
            "Critical Impact"
          ]
        },
        "cvssVersion": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "CVSS Version unspecified.",
            "CVSS v2.",
            "CVSS v3.",
            "CVSS v4."
          ],
          "enum": [
            "CVSS_VERSION_UNSPECIFIED",
            "CVSS_VERSION_2",
            "CVSS_VERSION_3",
            "CVSS_VERSION_4"
          ],
          "description": "Output only. CVSS version used to populate cvss_score and severity."
        },
        "cvssV4": {
          "$ref": "CVSS",
          "description": "Optional. The CVSS v4 score of this vulnerability."
        }
      },
      "type": "object",
      "id": "VulnerabilityDetails"
    },
    "Recipe": {
      "description": "Steps taken to build the artifact. For a TaskRun, typically each container corresponds to one step in the recipe.",
      "properties": {
        "arguments": {
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "type": "array",
          "description": "Collection of all external inputs that influenced the build on top of recipe.definedInMaterial and recipe.entryPoint. For example, if the recipe type were \"make\", then this might be the flags passed to make aside from the target, which is captured in recipe.entryPoint."
        },
        "definedInMaterial": {
          "description": "Index in materials containing the recipe steps that are not implied by recipe.type. For example, if the recipe type were \"make\", then this would point to the source containing the Makefile, not the make program itself. Set to -1 if the recipe doesn't come from a material, as zero is default unset value for int64.",
          "format": "int64",
          "type": "string"
        },
        "environment": {
          "description": "Any other builder-controlled inputs necessary for correctly evaluating the recipe. Usually only needed for reproducing the build but not evaluated as part of policy.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        },
        "entryPoint": {
          "description": "String identifying the entry point into the build. This is often a path to a configuration file and/or a target label within that file. The syntax and meaning are defined by recipe.type. For example, if the recipe type were \"make\", then this would reference the directory in which to run make as well as which target to use.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "URI indicating what type of recipe was performed. It determines the meaning of recipe.entryPoint, recipe.arguments, recipe.environment, and materials."
        }
      },
      "id": "Recipe",
      "type": "object"
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1Secret": {
      "properties": {
        "secretEnv": {
          "type": "object",
          "additionalProperties": {
            "type": "string",
            "format": "byte"
          },
          "description": "Map of environment variable name to its encrypted value. Secret environment variables must be unique across all of a build's secrets, and must be used by at least one build step. Values can be at most 64 KB in size. There can be at most 100 secret values across all of a build's secrets."
        },
        "kmsKeyName": {
          "description": "Cloud KMS key name to use to decrypt these envs.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1Secret",
      "description": "Pairs a set of secret environment variables containing encrypted values with the Cloud KMS key to use to decrypt the value. Note: Use `kmsKeyName` with `available_secrets` instead of using `kmsKeyName` with `secret`. For instructions see: https://cloud.google.com/cloud-build/docs/securing-builds/use-encrypted-credentials."
    },
    "SecretStatus": {
      "id": "SecretStatus",
      "properties": {
        "status": {
          "enumDescriptions": [
            "Unspecified",
            "The status of the secret is unknown.",
            "The secret is valid.",
            "The secret is invalid."
          ],
          "description": "Optional. The status of the secret.",
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "UNKNOWN",
            "VALID",
            "INVALID"
          ]
        },
        "message": {
          "type": "string",
          "description": "Optional. Optional message about the status code."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Optional. The time the secret status was last updated.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The status of the secret with a timestamp."
    },
    "TestIamPermissionsResponse": {
      "type": "object",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array"
        }
      },
      "description": "Response message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsResponse"
    },
    "Policy": {
      "properties": {
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string",
          "format": "byte"
        },
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "Binding"
          },
          "type": "array"
        },
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "type": "object"
    },
    "CisBenchmark": {
      "id": "CisBenchmark",
      "type": "object",
      "properties": {
        "profileLevel": {
          "type": "integer",
          "description": "The profile level of this CIS benchmark check.",
          "format": "int32"
        },
        "severity": {
          "enumDescriptions": [
            "Unknown Impact",
            "Minimal Impact",
            "Low Impact",
            "Medium Impact",
            "High Impact",
            "Critical Impact"
          ],
          "description": "The severity level of this CIS benchmark check.",
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "MINIMAL",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ]
        }
      },
      "description": "A compliance check that is a CIS benchmark."
    },
    "Location": {
      "type": "object",
      "properties": {
        "path": {
          "description": "The path from which we gathered that this package/version is installed.",
          "type": "string"
        },
        "cpeUri": {
          "type": "string",
          "description": "Deprecated. The cpe_uri in [cpe format](https://cpe.mitre.org/specification/) denoting the package manager version distributing a package."
        },
        "version": {
          "$ref": "Version",
          "description": "Deprecated. The version installed at this location."
        }
      },
      "description": "An occurrence of a particular package installation found within a system's filesystem. e.g. glibc was found in /var/lib/dpkg/status",
      "id": "Location"
    },
    "GoogleDevtoolsContaineranalysisV1alpha1CloudRepoSourceContext": {
      "id": "GoogleDevtoolsContaineranalysisV1alpha1CloudRepoSourceContext",
      "type": "object",
      "properties": {
        "revisionId": {
          "description": "A revision ID.",
          "type": "string"
        },
        "repoId": {
          "description": "The ID of the repo.",
          "$ref": "GoogleDevtoolsContaineranalysisV1alpha1RepoId"
        },
        "aliasContext": {
          "description": "An alias, which may be a branch or tag.",
          "$ref": "GoogleDevtoolsContaineranalysisV1alpha1AliasContext"
        }
      },
      "description": "A CloudRepoSourceContext denotes a particular revision in a Google Cloud Source Repo."
    },
    "SBOMReferenceOccurrence": {
      "id": "SBOMReferenceOccurrence",
      "description": "The occurrence representing an SBOM reference as applied to a specific resource. The occurrence follows the DSSE specification. See https://github.com/secure-systems-lab/dsse/blob/master/envelope.md for more details.",
      "properties": {
        "payload": {
          "description": "The actual payload that contains the SBOM reference data.",
          "$ref": "SbomReferenceIntotoPayload"
        },
        "signatures": {
          "items": {
            "$ref": "EnvelopeSignature"
          },
          "type": "array",
          "description": "The signatures over the payload."
        },
        "payloadType": {
          "description": "The kind of payload that SbomReferenceIntotoPayload takes. Since it's in the intoto format, this value is expected to be 'application/vnd.in-toto+json'.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Expr": {
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "id": "Expr",
      "properties": {
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Volume": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the volume to mount. Volume names must be unique per build step and must be valid names for Docker volumes. Each named volume must be used by at least two build steps.",
          "type": "string"
        },
        "path": {
          "type": "string",
          "description": "Path at which to mount the volume. Paths must be absolute and cannot conflict with other volume paths on the same build step or with certain reserved volume paths."
        }
      },
      "id": "Volume",
      "description": "Volume describes a Docker container volume which is mounted into build steps in order to persist files across build step execution. Next ID: 3"
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "id": "Operation",
      "properties": {
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        }
      }
    },
    "GoogleDevtoolsContaineranalysisV1alpha1SlsaProvenanceZeroTwoSlsaMetadata": {
      "type": "object",
      "description": "Other properties of the build.",
      "id": "GoogleDevtoolsContaineranalysisV1alpha1SlsaProvenanceZeroTwoSlsaMetadata",
      "properties": {
        "buildStartedOn": {
          "type": "string",
          "format": "google-datetime",
          "description": "The timestamp of when the build started."
        },
        "buildInvocationId": {
          "description": "Identifies this particular build invocation, which can be useful for finding associated logs or other ad-hoc analysis.",
          "type": "string"
        },
        "buildFinishedOn": {
          "format": "google-datetime",
          "type": "string",
          "description": "The timestamp of when the build completed."
        },
        "completeness": {
          "description": "Indicates that the builder claims certain fields in this message to be complete.",
          "$ref": "GoogleDevtoolsContaineranalysisV1alpha1SlsaProvenanceZeroTwoSlsaCompleteness"
        },
        "reproducible": {
          "description": "If true, the builder claims that running invocation on materials will produce bit-for-bit identical output.",
          "type": "boolean"
        }
      }
    },
    "ProvenanceBuilder": {
      "type": "object",
      "id": "ProvenanceBuilder",
      "properties": {
        "builderDependencies": {
          "items": {
            "$ref": "ResourceDescriptor"
          },
          "type": "array"
        },
        "version": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "id": {
          "type": "string"
        }
      }
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsPythonPackage": {
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsPythonPackage",
      "properties": {
        "paths": {
          "description": "Path globs used to match files in the build's workspace. For Python/ Twine, this is usually `dist/*`, and sometimes additionally an `.asc` file.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "repository": {
          "description": "Artifact Registry repository, in the form \"https://$REGION-python.pkg.dev/$PROJECT/$REPOSITORY\" Files in the workspace matching any path pattern will be uploaded to Artifact Registry with this location as a prefix.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Python package to upload to Artifact Registry upon successful completion of all build steps. A package can encapsulate multiple objects to be uploaded to a single repository."
    },
    "CreateOperationRequest": {
      "type": "object",
      "id": "CreateOperationRequest",
      "properties": {
        "operation": {
          "$ref": "Operation",
          "description": "The operation to create."
        },
        "operationId": {
          "description": "The ID to use for this operation.",
          "type": "string"
        }
      },
      "description": "Request for creating an operation"
    },
    "Subject": {
      "id": "Subject",
      "description": "Subject refers to the subject of the intoto statement",
      "properties": {
        "name": {
          "type": "string",
          "description": "name is the name of the Subject used here"
        },
        "digest": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "\"\": \"\" Algorithms can be e.g. sha256, sha512 See https://github.com/in-toto/attestation/blob/main/spec/v1/digest_set.md."
        }
      },
      "type": "object"
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1BuildWarning": {
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1BuildWarning",
      "description": "A non-fatal problem encountered during the execution of the build.",
      "properties": {
        "text": {
          "description": "Explanation of the warning generated.",
          "type": "string"
        },
        "priority": {
          "enumDescriptions": [
            "Should not be used.",
            "e.g. deprecation warnings and alternative feature highlights.",
            "e.g. automated detection of possible issues with the build.",
            "e.g. alerts that a feature used in the build is pending removal"
          ],
          "type": "string",
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "INFO",
            "WARNING",
            "ALERT"
          ],
          "description": "The priority for this warning."
        }
      },
      "type": "object"
    },
    "ComplianceVersion": {
      "type": "object",
      "properties": {
        "version": {
          "type": "string",
          "description": "The version of the benchmark. This is set to the version of the OS-specific CIS document the benchmark is defined in."
        },
        "benchmarkDocument": {
          "description": "The name of the document that defines this benchmark, e.g. \"CIS Container-Optimized OS\".",
          "type": "string"
        },
        "cpeUri": {
          "description": "The CPE URI (https://cpe.mitre.org/specification/) this benchmark is applicable to.",
          "type": "string"
        }
      },
      "description": "Describes the CIS benchmark version that is applicable to a given OS and os version.",
      "id": "ComplianceVersion"
    },
    "Resource": {
      "type": "object",
      "id": "Resource",
      "properties": {
        "contentHash": {
          "$ref": "Hash",
          "description": "The hash of the resource content. E.g., the Docker digest."
        },
        "uri": {
          "type": "string",
          "description": "The unique URI of the resource. E.g., \"https://gcr.io/project/image@sha256:foo\" for a Docker image."
        },
        "name": {
          "type": "string",
          "description": "The name of the resource. E.g., the name of a Docker image - \"Debian\"."
        }
      },
      "description": " Resource is an entity that can have metadata. E.g., a Docker image."
    },
    "FileLocation": {
      "id": "FileLocation",
      "type": "object",
      "description": "Indicates the location at which a package was found.",
      "properties": {
        "lineNumber": {
          "type": "integer",
          "description": "Line number in the file where the package is found. Optional field that only applies to source repository scanning.",
          "format": "int32"
        },
        "layerDetails": {
          "description": "Each package found in a file should have its own layer metadata (that is, information from the origin layer of the package).",
          "$ref": "LayerDetails"
        },
        "filePath": {
          "type": "string",
          "description": "For jars that are contained inside .war files, this filepath can indicate the path to war file combined with the path to jar file."
        }
      }
    },
    "BuildMetadata": {
      "properties": {
        "finishedOn": {
          "format": "google-datetime",
          "type": "string"
        },
        "invocationId": {
          "type": "string"
        },
        "startedOn": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "BuildMetadata"
    },
    "Occurrence": {
      "properties": {
        "name": {
          "description": "Output only. The name of the `Occurrence` in the form \"projects/{project_id}/occurrences/{OCCURRENCE_ID}\"",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The time this `Occurrence` was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "sbomReference": {
          "description": "This represents an SBOM reference occurrence",
          "$ref": "SBOMReferenceOccurrence"
        },
        "compliance": {
          "description": "Describes whether or not a resource passes compliance checks.",
          "$ref": "ComplianceOccurrence"
        },
        "spdxFile": {
          "description": "Describes a specific SPDX File.",
          "$ref": "FileOccurrence"
        },
        "spdxPackage": {
          "description": "Describes a specific SPDX Package.",
          "$ref": "PackageInfoOccurrence"
        },
        "discovered": {
          "description": "Describes the initial scan status for this resource.",
          "$ref": "Discovered"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time this `Occurrence` was created.",
          "format": "google-datetime"
        },
        "envelope": {
          "description": "https://github.com/secure-systems-lab/dsse",
          "$ref": "Envelope"
        },
        "noteName": {
          "type": "string",
          "description": "An analysis note associated with this image, in the form \"providers/{provider_id}/notes/{NOTE_ID}\" This field can be used as a filter in list requests."
        },
        "attestation": {
          "description": "Describes an attestation of an artifact.",
          "$ref": "Attestation"
        },
        "dsseAttestation": {
          "description": "This represents a DSSE attestation occurrence",
          "$ref": "DSSEAttestationOccurrence"
        },
        "resource": {
          "$ref": "Resource",
          "description": " The resource for which the `Occurrence` applies."
        },
        "kind": {
          "description": "Output only. This explicitly denotes which of the `Occurrence` details are specified. This field can be used as a filter in list requests.",
          "enumDescriptions": [
            "Unknown",
            "The note and occurrence represent a package vulnerability.",
            "The note and occurrence assert build provenance.",
            "This represents an image basis relationship.",
            "This represents a package installed via a package manager.",
            "The note and occurrence track deployment events.",
            "The note and occurrence track the initial discovery status of a resource.",
            "This represents a logical \"role\" that can attest to artifacts.",
            "This represents an available software upgrade.",
            "This represents a compliance check that can be applied to a resource.",
            "This represents a software bill of materials.",
            "This represents an SPDX Package.",
            "This represents an SPDX File.",
            "This represents an SPDX Relationship.",
            "This represents a DSSE attestation Note",
            "This represents a Vulnerability Assessment.",
            "This represents a reference to an SBOM.",
            "This represents a secret.",
            "This represents an AI skill analysis."
          ],
          "type": "string",
          "enum": [
            "KIND_UNSPECIFIED",
            "PACKAGE_VULNERABILITY",
            "BUILD_DETAILS",
            "IMAGE_BASIS",
            "PACKAGE_MANAGER",
            "DEPLOYABLE",
            "DISCOVERY",
            "ATTESTATION_AUTHORITY",
            "UPGRADE",
            "COMPLIANCE",
            "SBOM",
            "SPDX_PACKAGE",
            "SPDX_FILE",
            "SPDX_RELATIONSHIP",
            "DSSE_ATTESTATION",
            "VULNERABILITY_ASSESSMENT",
            "SBOM_REFERENCE",
            "SECRET",
            "AI_SKILL_ANALYSIS"
          ]
        },
        "secret": {
          "description": "This represents a secret occurrence",
          "$ref": "SecretOccurrence"
        },
        "upgrade": {
          "$ref": "UpgradeOccurrence",
          "description": "Describes an upgrade."
        },
        "resourceUrl": {
          "description": "The unique URL of the image or the container for which the `Occurrence` applies. For example, https://gcr.io/project/image@sha256:foo This field can be used as a filter in list requests.",
          "type": "string"
        },
        "sbom": {
          "description": "Describes a specific software bill of materials document.",
          "$ref": "DocumentOccurrence"
        },
        "derivedImage": {
          "description": "Describes how this resource derives from the basis in the associated note.",
          "$ref": "Derived"
        },
        "installation": {
          "$ref": "Installation",
          "description": "Describes the installation of a package on the linked resource."
        },
        "aiSkillAnalysis": {
          "$ref": "AISkillAnalysisOccurrence",
          "description": "This represents an AI skill analysis occurrence"
        },
        "buildDetails": {
          "description": "Build details for a verifiable build.",
          "$ref": "BuildDetails"
        },
        "deployment": {
          "description": "Describes the deployment of an artifact on a runtime.",
          "$ref": "Deployment"
        },
        "vulnerabilityDetails": {
          "$ref": "VulnerabilityDetails",
          "description": "Details of a security vulnerability note."
        },
        "remediation": {
          "type": "string",
          "description": "A description of actions that can be taken to remedy the `Note`"
        },
        "spdxRelationship": {
          "$ref": "RelationshipOccurrence",
          "description": "Describes a specific relationship between SPDX elements."
        }
      },
      "description": "`Occurrence` includes information about analysis occurrences for an image.",
      "type": "object",
      "id": "Occurrence"
    },
    "ScanConfig": {
      "properties": {
        "description": {
          "description": "Output only. A human-readable description of what the `ScanConfig` does.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. The name of the ScanConfig in the form “projects/{project_id}/scanConfigs/{scan_config_id}\"."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time this scan config was last updated."
        },
        "enabled": {
          "description": "Indicates whether the Scan is enabled.",
          "type": "boolean"
        },
        "createTime": {
          "description": "Output only. The time this scan config was created.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "ScanConfig",
      "type": "object",
      "description": "Indicates various scans and whether they are turned on or off."
    },
    "GoogleDevtoolsContaineranalysisV1alpha1SourceContext": {
      "description": "A SourceContext is a reference to a tree of files. A SourceContext together with a path point to a unique revision of a single file or directory.",
      "id": "GoogleDevtoolsContaineranalysisV1alpha1SourceContext",
      "type": "object",
      "properties": {
        "git": {
          "description": "A SourceContext referring to any third party Git repo (e.g., GitHub).",
          "$ref": "GoogleDevtoolsContaineranalysisV1alpha1GitSourceContext"
        },
        "labels": {
          "description": "Labels with user defined metadata.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "cloudRepo": {
          "description": "A SourceContext referring to a revision in a Google Cloud Source Repo.",
          "$ref": "GoogleDevtoolsContaineranalysisV1alpha1CloudRepoSourceContext"
        },
        "gerrit": {
          "$ref": "GoogleDevtoolsContaineranalysisV1alpha1GerritSourceContext",
          "description": "A SourceContext referring to a Gerrit project."
        }
      }
    },
    "MalwareScanResult": {
      "id": "MalwareScanResult",
      "properties": {
        "verdict": {
          "type": "string",
          "enum": [
            "VERDICT_UNSPECIFIED",
            "PASSED",
            "FAILED"
          ],
          "enumDescriptions": [
            "Unspecified verdict.",
            "Scanner passed.",
            "Scanner failed."
          ],
          "description": "Optional. Verdict of the scan."
        },
        "scanState": {
          "enumDescriptions": [
            "Unspecified scan state.",
            "Scan was performed.",
            "Scan was not performed."
          ],
          "readOnly": true,
          "enum": [
            "SCAN_STATE_UNSPECIFIED",
            "PERFORMED",
            "NOT_PERFORMED"
          ],
          "description": "Output only. State of the scan.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Result of Malware scan."
    },
    "Remediation": {
      "type": "object",
      "id": "Remediation",
      "properties": {
        "remediationType": {
          "enumDescriptions": [
            "No remediation type specified.",
            "A MITIGATION is available.",
            "No fix is planned.",
            "Not available.",
            "A vendor fix is available.",
            "A workaround is available."
          ],
          "type": "string",
          "enum": [
            "REMEDIATION_TYPE_UNSPECIFIED",
            "MITIGATION",
            "NO_FIX_PLANNED",
            "NONE_AVAILABLE",
            "VENDOR_FIX",
            "WORKAROUND"
          ],
          "description": "The type of remediation that can be applied."
        },
        "remediationUri": {
          "description": "Contains the URL where to obtain the remediation.",
          "$ref": "URI"
        },
        "details": {
          "type": "string",
          "description": "Contains a comprehensive human-readable discussion of the remediation."
        }
      },
      "description": "Specifies details on how to handle (and presumably, fix) a vulnerability."
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1SecretManagerSecret": {
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1SecretManagerSecret",
      "description": "Pairs a secret environment variable with a SecretVersion in Secret Manager.",
      "type": "object",
      "properties": {
        "versionName": {
          "type": "string",
          "description": "Resource name of the SecretVersion. In format: projects/*/secrets/*/versions/*"
        },
        "env": {
          "type": "string",
          "description": "Environment variable name to associate with the secret. Secret environment variables must be unique across all of a build's secrets, and must be used by at least one build step."
        }
      }
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1Build": {
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1Build",
      "description": "A build resource in the Cloud Build API. At a high level, a `Build` describes where to find source code, how to build it (for example, the builder image to run on the source), and where to store the built artifacts. Fields can include the following variables, which will be expanded when the build is created: - $PROJECT_ID: the project ID of the build. - $PROJECT_NUMBER: the project number of the build. - $LOCATION: the location/region of the build. - $BUILD_ID: the autogenerated ID of the build. - $REPO_NAME: the source repository name specified by RepoSource. - $BRANCH_NAME: the branch name specified by RepoSource. - $TAG_NAME: the tag name specified by RepoSource. - $REVISION_ID or $COMMIT_SHA: the commit SHA specified by RepoSource or resolved from the specified branch or tag. - $SHORT_SHA: first 7 characters of $REVISION_ID or $COMMIT_SHA.",
      "properties": {
        "sourceProvenance": {
          "description": "Output only. A permanent fixed identifier for source.",
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1SourceProvenance",
          "readOnly": true
        },
        "gitConfig": {
          "description": "Optional. Configuration for git operations.",
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1GitConfig"
        },
        "finishTime": {
          "format": "google-datetime",
          "description": "Output only. Time at which execution of the build was finished. The difference between finish_time and start_time is the duration of the build's execution.",
          "type": "string",
          "readOnly": true
        },
        "projectId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. ID of the project."
        },
        "availableSecrets": {
          "description": "Secrets and secret environment variables.",
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1Secrets"
        },
        "substitutions": {
          "description": "Substitutions data for `Build` resource.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "buildTriggerId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The ID of the `BuildTrigger` that triggered this build, if it was triggered automatically."
        },
        "failureInfo": {
          "description": "Output only. Contains information about the build when status=FAILURE.",
          "readOnly": true,
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1BuildFailureInfo"
        },
        "startTime": {
          "description": "Output only. Time at which execution of the build was started.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "timing": {
          "readOnly": true,
          "additionalProperties": {
            "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1TimeSpan"
          },
          "description": "Output only. Stores timing information for phases of the build. Valid keys are: * BUILD: time to execute all build steps. * PUSH: time to push all artifacts including docker images and non docker artifacts. * FETCHSOURCE: time to fetch source. * SETUPBUILD: time to set up build. If the build does not specify source or images, these keys will not be included.",
          "type": "object"
        },
        "timeout": {
          "description": "Amount of time that this build should be allowed to run, to second granularity. If this amount of time elapses, work on the build will cease and the build status will be `TIMEOUT`. `timeout` starts ticking from `startTime`. Default time is 60 minutes.",
          "type": "string",
          "format": "google-duration"
        },
        "options": {
          "description": "Special options for this build.",
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1BuildOptions"
        },
        "steps": {
          "description": "Required. The operations to be performed on the workspace.",
          "type": "array",
          "items": {
            "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1BuildStep"
          }
        },
        "logsBucket": {
          "type": "string",
          "description": "Cloud Storage bucket where logs should be written (see [Bucket Name Requirements](https://cloud.google.com/storage/docs/bucket-naming#requirements)). Logs file names will be of the format `${logs_bucket}/log-${build_id}.txt`."
        },
        "status": {
          "description": "Output only. Status of the build.",
          "type": "string",
          "enum": [
            "STATUS_UNKNOWN",
            "PENDING",
            "QUEUED",
            "WORKING",
            "SUCCESS",
            "FAILURE",
            "INTERNAL_ERROR",
            "TIMEOUT",
            "CANCELLED",
            "EXPIRED"
          ],
          "enumDescriptions": [
            "Status of the build is unknown.",
            "Build has been created and is pending execution and queuing. It has not been queued.",
            "Build or step is queued; work has not yet begun.",
            "Build or step is being executed.",
            "Build or step finished successfully.",
            "Build or step failed to complete successfully.",
[...]
