{
  "kind": "discovery#restDescription",
  "servicePath": "content/v2.1/",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "schemas": {
    "ProductCertification": {
      "properties": {
        "certificationCode": {
          "description": "The certification code, for eaxample \"123456\". Maximum length is 2000 characters.",
          "type": "string"
        },
        "certificationAuthority": {
          "description": "The certification authority, for example \"European_Commission\". Maximum length is 2000 characters.",
          "type": "string"
        },
        "certificationName": {
          "description": "The name of the certification, for example \"EPREL\". Maximum length is 2000 characters.",
          "type": "string"
        },
        "certificationValue": {
          "description": "The certification value (also known as class, level or grade), for example \"A+\", \"C\", \"gold\". Maximum length is 2000 characters.",
          "type": "string"
        }
      },
      "description": "Product [certification](https://support.google.com/merchants/answer/13528839), introduced for EU energy efficiency labeling compliance using the [EU EPREL](https://eprel.ec.europa.eu/screen/home) database.",
      "id": "ProductCertification",
      "type": "object"
    },
    "Address": {
      "properties": {
        "country": {
          "description": "Required. [CLDR country code](https://github.com/unicode-org/cldr/blob/latest/common/main/en.xml) (for example, \"US\").",
          "type": "string"
        },
        "city": {
          "description": "Required. City, town or commune. May also include dependent localities or sublocalities (for example, neighborhoods or suburbs).",
          "type": "string"
        },
        "administrativeArea": {
          "description": "Required. Top-level administrative subdivision of the country. For example, a state like California (\"CA\") or a province like Quebec (\"QC\").",
          "type": "string"
        },
        "postalCode": {
          "description": "Required. Postal code or ZIP (for example, \"94043\").",
          "type": "string"
        },
        "streetAddress": {
          "description": "Street-level part of the address. Use `\\n` to add a second line.",
          "type": "string"
        }
      },
      "id": "Address",
      "type": "object"
    },
    "ShippingsettingsListResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The token for the retrieval of the next page of shipping settings.",
          "type": "string"
        },
        "resources": {
          "type": "array",
          "items": {
            "$ref": "ShippingSettings"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#shippingsettingsListResponse`\".",
          "type": "string"
        }
      },
      "id": "ShippingsettingsListResponse",
      "type": "object"
    },
    "ReturnPolicyOnlineRestockingFee": {
      "description": "The restocking fee. This can either be a fixed fee or a micro percent.",
      "properties": {
        "fixedFee": {
          "description": "Fixed restocking fee.",
          "$ref": "PriceAmount"
        },
        "microPercent": {
          "type": "integer",
          "format": "int32",
          "description": "Percent of total price in micros. 15,000,000 means 15% of the total price would be charged."
        }
      },
      "id": "ReturnPolicyOnlineRestockingFee",
      "type": "object"
    },
    "AccountsCustomBatchRequest": {
      "properties": {
        "entries": {
          "type": "array",
          "items": {
            "$ref": "AccountsCustomBatchRequestEntry"
          },
          "description": "The request entries to be processed in the batch."
        }
      },
      "id": "AccountsCustomBatchRequest",
      "type": "object"
    },
    "Account": {
      "id": "Account",
      "type": "object",
      "properties": {
        "youtubeChannelLinks": {
          "description": "Linked YouTube channels that are active or pending approval. To create a new link request, add a new link with status `active` to the list. It will remain in a `pending` state until approved or rejected in the YT Creator Studio interface. To delete an active link, or to cancel a link request, remove it from the list.",
          "type": "array",
          "items": {
            "$ref": "AccountYouTubeChannelLink"
          }
        },
        "businessInformation": {
          "description": "The business information of the account.",
          "$ref": "AccountBusinessInformation"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#account`\".",
          "type": "string"
        },
        "automaticImprovements": {
          "description": "The automatic improvements of the account can be used to automatically update items, improve images and shipping. Each section inside AutomaticImprovements is updated separately.",
          "$ref": "AccountAutomaticImprovements"
        },
        "labelIds": {
          "description": "Manually created label IDs that are assigned to the account by CSS.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "uint64"
          }
        },
        "name": {
          "description": "Required. Display name for the account.",
          "type": "string"
        },
        "websiteUrl": {
          "description": "The merchant's website.",
          "type": "string"
        },
        "googleMyBusinessLink": {
          "description": "The Business Profile which is linked or in the process of being linked with the Merchant Center account.",
          "$ref": "AccountGoogleMyBusinessLink"
        },
        "conversionSettings": {
          "description": "Settings for conversion tracking.",
          "$ref": "AccountConversionSettings"
        },
        "automaticLabelIds": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "uint64"
          },
          "description": "Automatically created label IDs that are assigned to the account by CSS Center."
        },
        "cssId": {
          "type": "string",
          "format": "uint64",
          "description": "ID of CSS the account belongs to."
        },
        "businessIdentity": {
          "description": "The business identity attributes can be used to self-declare attributes that let customers know more about your business.",
          "$ref": "AccountBusinessIdentity"
        },
        "adsLinks": {
          "description": "Linked Ads accounts that are active or pending approval. To create a new link request, add a new link with status `active` to the list. It will remain in a `pending` state until approved or rejected either in the Ads interface or through the Google Ads API. To delete an active link, or to cancel a link request, remove it from the list.",
          "type": "array",
          "items": {
            "$ref": "AccountAdsLink"
          }
        },
        "accountManagement": {
          "readOnly": true,
          "description": "Output only. How the account is managed. Acceptable values are: - \"`manual`\" - \"`automatic`\" ",
          "type": "string"
        },
        "users": {
          "description": "Users with access to the account. Every account (except for subaccounts) must have at least one admin user.",
          "type": "array",
          "items": {
            "$ref": "AccountUser"
          }
        },
        "adultContent": {
          "description": "Indicates whether the merchant sells adult content.",
          "type": "boolean"
        },
        "sellerId": {
          "description": "Client-specific, locally-unique, internal ID for the child account.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "format": "uint64",
          "description": "Required. 64-bit Merchant Center account ID."
        }
      },
      "description": "Account data. After the creation of a new account it may take a few minutes before it's fully operational. The methods delete, insert, and update require the admin role."
    },
    "AccountIdentityType": {
      "id": "AccountIdentityType",
      "type": "object",
      "properties": {
        "selfIdentified": {
          "description": "Optional. Indicates that the business identifies itself with a given identity type. Setting this field does not automatically mean eligibility for promotions.",
          "type": "boolean"
        }
      },
      "description": "The account identity type used to specify attributes."
    },
    "DatafeedsCustomBatchRequest": {
      "properties": {
        "entries": {
          "type": "array",
          "items": {
            "$ref": "DatafeedsCustomBatchRequestEntry"
          },
          "description": "The request entries to be processed in the batch."
        }
      },
      "id": "DatafeedsCustomBatchRequest",
      "type": "object"
    },
    "DatafeedFetchSchedule": {
      "description": "The required fields vary based on the frequency of fetching. For a monthly fetch schedule, day_of_month and hour are required. For a weekly fetch schedule, weekday and hour are required. For a daily fetch schedule, only hour is required.",
      "properties": {
        "password": {
          "description": "An optional password for fetch_url.",
          "type": "string"
        },
        "minuteOfHour": {
          "type": "integer",
          "format": "uint32",
          "description": "The minute of the hour the feed file should be fetched (0-59). Read-only."
        },
        "weekday": {
          "description": "The day of the week the feed file should be fetched. Acceptable values are: - \"`monday`\" - \"`tuesday`\" - \"`wednesday`\" - \"`thursday`\" - \"`friday`\" - \"`saturday`\" - \"`sunday`\" ",
          "type": "string"
        },
        "paused": {
          "description": "Whether the scheduled fetch is paused or not.",
          "type": "boolean"
        },
        "fetchUrl": {
          "description": "The URL where the feed file can be fetched. Google Merchant Center will support automatic scheduled uploads using the HTTP, HTTPS, FTP, or SFTP protocols, so the value will need to be a valid link using one of those four protocols.",
          "type": "string"
        },
        "dayOfMonth": {
          "type": "integer",
          "format": "uint32",
          "description": "The day of the month the feed file should be fetched (1-31)."
        },
        "username": {
          "description": "An optional user name for fetch_url.",
          "type": "string"
        },
        "hour": {
          "type": "integer",
          "format": "uint32",
          "description": "The hour of the day the feed file should be fetched (0-23)."
        },
        "timeZone": {
          "description": "Time zone used for schedule. UTC by default. For example, \"America/Los_Angeles\".",
          "type": "string"
        }
      },
      "id": "DatafeedFetchSchedule",
      "type": "object"
    },
    "ProductViewItemIssue": {
      "properties": {
        "severity": {
          "description": "Item issue severity.",
          "$ref": "ProductViewItemIssueItemIssueSeverity"
        },
        "issueType": {
          "description": "Item issue type.",
          "$ref": "ProductViewItemIssueItemIssueType"
        },
        "resolution": {
          "type": "string",
          "enumDescriptions": [
            "Unknown resolution type.",
            "The merchant has to fix the issue.",
            "The issue will be resolved automatically (for example, image crawl), or Google review. No merchant action is required now. Resolution might lead to another issue (for example, if crawl fails)."
          ],
          "enum": [
            "UNKNOWN",
            "MERCHANT_ACTION",
            "PENDING_PROCESSING"
          ],
          "description": "Item issue resolution."
        }
      },
      "description": "Item issue associated with the product.",
      "id": "ProductViewItemIssue",
      "type": "object"
    },
    "ListCollectionsResponse": {
      "id": "ListCollectionsResponse",
      "type": "object",
      "properties": {
        "resources": {
          "type": "array",
          "items": {
            "$ref": "Collection"
          },
          "description": "The collections listed."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for the ListCollections method."
    },
    "ProductIssueImpact": {
      "properties": {
        "severity": {
          "description": "The severity of the issue.",
          "type": "string",
          "enumDescriptions": [
            "Default value. Will never be provided by the API.",
            "Causes either an account suspension or an item disapproval. Errors should be resolved as soon as possible to ensure items are eligible to appear in results again.",
            "Warnings can negatively impact the performance of ads and can lead to item or account suspensions in the future unless the issue is resolved.",
            "Infos are suggested optimizations to increase data quality. Resolving these issues is recommended, but not required."
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "ERROR",
            "WARNING",
            "INFO"
          ]
        },
        "breakdowns": {
          "type": "array",
          "items": {
            "$ref": "Breakdown"
          },
          "description": "Detailed impact breakdown. Explains the types of restriction the issue has in different shopping destinations and territory. If present, it should be rendered to the merchant. Can be shown as a mouse over dropdown or a dialog. Each breakdown item represents a group of regions with the same impact details."
        },
        "message": {
          "description": "Optional. Message summarizing the overall impact of the issue. If present, it should be rendered to the merchant. For example: \"Limits visibility in France\"",
          "type": "string"
        }
      },
      "description": "Overall impact of product issue.",
      "id": "ProductIssueImpact",
      "type": "object"
    },
    "ReturnPolicyOnline": {
      "description": "Return policy online object. This is currently used to represent return policies for ads and free listings programs.",
      "properties": {
        "name": {
          "description": "The name of the policy as shown in Merchant Center.",
          "type": "string"
        },
        "returnPolicyUri": {
          "description": "The return policy uri. This can used by Google to do a sanity check for the policy.",
          "type": "string"
        },
        "returnReasonCategoryInfo": {
          "description": "The return reason category information. This required to not be empty unless the type of return policy is noReturns.",
          "type": "array",
          "items": {
            "$ref": "ReturnPolicyOnlineReturnReasonCategoryInfo"
          }
        },
        "policy": {
          "description": "The return policy.",
          "$ref": "ReturnPolicyOnlinePolicy"
        },
        "countries": {
          "description": "The countries of sale where the return policy is applicable. The values must be a valid 2 letter ISO 3166 code, e.g. \"US\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "returnPolicyId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Return policy ID generated by Google."
        },
        "returnMethods": {
          "description": "The return methods of how customers can return an item. This value is required to not be empty unless the type of return policy is noReturns.",
          "type": "array",
          "items": {
            "enum": [
              "RETURN_METHOD_UNSPECIFIED",
              "BY_MAIL",
              "IN_STORE",
              "AT_A_KIOSK"
            ],
            "type": "string",
            "enumDescriptions": [
              "Default value. This value is unused.",
              "By mail.",
              "In store.",
              "At a kiosk."
            ]
          }
        },
        "label": {
          "description": "The unique user-defined label of the return policy. The same label cannot be used in different return policies for the same country. Policies with the label 'default' will apply to all products, unless a product specifies a return_policy_label attribute.",
          "type": "string"
        },
        "itemConditions": {
          "description": "The item conditions that are accepted for returns. This is required to not be empty unless the type of return policy is noReturns.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default value. This value is unused.",
              "New.",
              "Used."
            ],
            "enum": [
              "ITEM_CONDITION_UNSPECIFIED",
              "NEW",
              "USED"
            ]
          }
        },
        "restockingFee": {
          "description": "The restocking fee that applies to all return reason categories. This would be treated as a free restocking fee if the value is not set.",
          "$ref": "ReturnPolicyOnlineRestockingFee"
        }
      },
      "id": "ReturnPolicyOnline",
      "type": "object"
    },
    "Css": {
      "id": "Css",
      "type": "object",
      "description": "Information about CSS domain.",
      "properties": {
        "fullName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Immutable. The CSS domain's full name."
        },
        "labelIds": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "A list of label IDs that are assigned to this CSS domain by its CSS group. Only populated for CSS group users."
        },
        "cssGroupId": {
          "description": "Output only. Immutable. The ID of the CSS group this CSS domain is affiliated with. Only populated for CSS group users.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "homepageUri": {
          "readOnly": true,
          "description": "Output only. Immutable. The CSS domain's homepage.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Output only. Immutable. The CSS domain's display name, used when space is constrained.",
          "readOnly": true
        },
        "cssDomainId": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Immutable. The CSS domain ID."
        }
      }
    },
    "ProductsListResponse": {
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#productsListResponse`\".",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The token for the retrieval of the next page of products.",
          "type": "string"
        },
        "resources": {
          "type": "array",
          "items": {
            "$ref": "Product"
          }
        }
      },
      "id": "ProductsListResponse",
      "type": "object"
    },
    "ListConversionSourcesResponse": {
      "properties": {
        "conversionSources": {
          "description": "List of conversion sources.",
          "type": "array",
          "items": {
            "$ref": "ConversionSource"
          }
        },
        "nextPageToken": {
          "description": "Token to be used to fetch the next results page.",
          "type": "string"
        }
      },
      "description": "Response message for the ListConversionSources method.",
      "id": "ListConversionSourcesResponse",
      "type": "object"
    },
    "PosDataProvidersPosDataProvider": {
      "properties": {
        "fullName": {
          "description": "The full name of this POS data Provider.",
          "type": "string"
        },
        "providerId": {
          "description": "The ID of the account.",
          "type": "string",
          "format": "uint64"
        },
        "displayName": {
          "description": "The display name of Pos data Provider.",
          "type": "string"
        }
      },
      "id": "PosDataProvidersPosDataProvider",
      "type": "object"
    },
    "DatafeedStatus": {
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "$ref": "DatafeedStatusError"
          },
          "description": "The list of errors occurring in the feed."
        },
        "datafeedId": {
          "type": "string",
          "format": "uint64",
          "description": "The ID of the feed for which the status is reported."
        },
        "lastUploadDate": {
          "description": "The last date at which the feed was uploaded.",
          "type": "string"
        },
        "processingStatus": {
          "description": "The processing status of the feed. Acceptable values are: - \"`\"`failure`\": The feed could not be processed or all items had errors.`\" - \"`in progress`\": The feed is being processed. - \"`none`\": The feed has not yet been processed. For example, a feed that has never been uploaded will have this processing status. - \"`success`\": The feed was processed successfully, though some items might have had errors. ",
          "type": "string"
        },
        "itemsValid": {
          "description": "The number of items in the feed that were valid.",
          "type": "string",
          "format": "uint64"
        },
        "feedLabel": {
          "description": "The feed label status is reported for.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#datafeedStatus`\"",
          "type": "string"
        },
        "warnings": {
          "description": "The list of errors occurring in the feed.",
          "type": "array",
          "items": {
            "$ref": "DatafeedStatusError"
          }
        },
        "itemsTotal": {
          "type": "string",
          "format": "uint64",
          "description": "The number of items in the feed that were processed."
        },
        "country": {
          "description": "The country for which the status is reported, represented as a CLDR territory code.",
          "type": "string"
        },
        "language": {
          "description": "The two-letter ISO 639-1 language for which the status is reported.",
          "type": "string"
        }
      },
      "description": "The status of a datafeed, that is, the result of the last retrieval of the datafeed computed asynchronously when the feed processing is finished.",
      "id": "DatafeedStatus",
      "type": "object"
    },
    "TextWithTooltip": {
      "id": "TextWithTooltip",
      "type": "object",
      "properties": {
        "simpleTooltipValue": {
          "description": "Value of the tooltip as a simple text.",
          "type": "string"
        },
        "simpleValue": {
          "description": "Value of the message as a simple text.",
          "type": "string"
        },
        "tooltipIconStyle": {
          "description": "The suggested type of an icon for tooltip, if a tooltip is present.",
          "type": "string",
          "enumDescriptions": [
            "Default value. Will never be provided by the API.",
            "Used when the tooltip adds additional information to the context, the 'i' can be used as an icon.",
            "Used when the tooltip shows helpful information, the '?' can be used as an icon."
          ],
          "enum": [
            "TOOLTIP_ICON_STYLE_UNSPECIFIED",
            "INFO",
            "QUESTION"
          ]
        }
      },
      "description": "Block of text that may contain a tooltip with more information."
    },
    "ShippingsettingsCustomBatchRequestEntry": {
      "description": "A batch entry encoding a single non-batch shippingsettings request.",
      "properties": {
        "method": {
          "description": "The method of the batch entry. Acceptable values are: - \"`get`\" - \"`update`\" ",
          "type": "string"
        },
        "merchantId": {
          "type": "string",
          "format": "uint64",
          "description": "The ID of the managing account."
        },
        "accountId": {
          "description": "The ID of the account for which to get/update account shipping settings.",
          "type": "string",
          "format": "uint64"
        },
        "batchId": {
          "type": "integer",
          "format": "uint32",
          "description": "An entry ID, unique within the batch request."
        },
        "shippingSettings": {
          "description": "The account shipping settings to update. Only defined if the method is `update`.",
          "$ref": "ShippingSettings"
        }
      },
      "id": "ShippingsettingsCustomBatchRequestEntry",
      "type": "object"
    },
    "RegionPostalCodeAreaPostalCodeRange": {
      "id": "RegionPostalCodeAreaPostalCodeRange",
      "type": "object",
      "description": "A range of postal codes that defines the region area.",
      "properties": {
        "begin": {
          "description": "Required. A postal code or a pattern of the form prefix* denoting the inclusive lower bound of the range defining the area. Examples values: \"94108\", \"9410*\", \"9*\".",
          "type": "string"
        },
        "end": {
          "description": "Optional. A postal code or a pattern of the form prefix* denoting the inclusive upper bound of the range defining the area. It must have the same length as postalCodeRangeBegin: if postalCodeRangeBegin is a postal code then postalCodeRangeEnd must be a postal code too; if postalCodeRangeBegin is a pattern then postalCodeRangeEnd must be a pattern with the same prefix length. Optional: if not set, then the area is defined as being all the postal codes matching postalCodeRangeBegin.",
          "type": "string"
        }
      }
    },
    "CollectionStatus": {
      "properties": {
        "creationDate": {
          "description": "Date on which the collection has been created in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format: Date, time, and offset, for example \"2020-01-02T09:00:00+01:00\" or \"2020-01-02T09:00:00Z\"",
          "type": "string"
        },
        "lastUpdateDate": {
          "description": "Date on which the collection has been last updated in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format: Date, time, and offset, for example \"2020-01-02T09:00:00+01:00\" or \"2020-01-02T09:00:00Z\"",
          "type": "string"
        },
        "collectionLevelIssuses": {
          "type": "array",
          "items": {
            "$ref": "CollectionStatusItemLevelIssue"
          },
          "description": "A list of all issues associated with the collection."
        },
        "id": {
          "description": "Required. The ID of the collection for which status is reported.",
          "type": "string"
        },
        "destinationStatuses": {
          "type": "array",
          "items": {
            "$ref": "CollectionStatusDestinationStatus"
          },
          "description": "The intended destinations for the collection."
        }
      },
      "description": "The collectionstatus message.",
      "id": "CollectionStatus",
      "type": "object"
    },
    "ProductShippingDimension": {
      "properties": {
        "value": {
          "type": "number",
          "format": "double",
          "description": "The dimension of the product used to calculate the shipping cost of the item."
        },
        "unit": {
          "description": "The unit of value.",
          "type": "string"
        }
      },
      "id": "ProductShippingDimension",
      "type": "object"
    },
    "ListMethodQuotasResponse": {
      "properties": {
        "methodQuotas": {
          "description": "The current quota usage and limits per each method.",
          "type": "array",
          "items": {
            "$ref": "MethodQuota"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for the ListMethodQuotas method.",
      "id": "ListMethodQuotasResponse",
      "type": "object"
    },
    "ActionFlow": {
      "id": "ActionFlow",
      "type": "object",
      "properties": {
        "id": {
          "description": "Not for display but need to be sent back for the selected action flow.",
          "type": "string"
        },
        "inputs": {
          "type": "array",
          "items": {
            "$ref": "InputField"
          },
          "description": "A list of input fields."
        },
        "dialogTitle": {
          "description": "Title of the request dialog. For example: \"Before you request a review\"",
          "type": "string"
        },
        "dialogMessage": {
          "description": "Message displayed in the request dialog. For example: \"Make sure you've fixed all your country-specific issues. If not, you may have to wait 7 days to request another review\". There may be an more information to be shown in a tooltip.",
          "$ref": "TextWithTooltip"
        },
        "label": {
          "description": "Text value describing the intent for the action flow. It can be used as an input label if merchant needs to pick one of multiple flows. For example: \"I disagree with the issue\"",
          "type": "string"
        },
        "dialogCallout": {
          "description": "Important message to be highlighted in the request dialog. For example: \"You can only request a review for disagreeing with this issue once. If it's not approved, you'll need to fix the issue and wait a few days before you can request another review.\"",
          "$ref": "Callout"
        },
        "dialogButtonLabel": {
          "description": "Label for the button to trigger the action from the action dialog. For example: \"Request review\"",
          "type": "string"
        }
      },
      "description": "Flow that can be selected for an action. When merchant selects a flow, application should open a dialog with more information and input form."
    },
    "FreeShippingThreshold": {
      "id": "FreeShippingThreshold",
      "type": "object",
      "properties": {
        "country": {
          "description": "Required. The [CLDR territory code](http://www.unicode.org/repos/cldr/tags/latest/common/main/en.xml) of the country to which an item will ship.",
          "type": "string"
        },
        "priceThreshold": {
          "description": "Required. The minimum product price for the shipping cost to become free. Represented as a number.",
          "$ref": "Price"
        }
      },
      "description": "Conditions to be met for a product to have free shipping."
    },
    "LabelIds": {
      "id": "LabelIds",
      "type": "object",
      "description": "The IDs of labels that should be assigned to the CSS domain.",
      "properties": {
        "labelIds": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "The list of label IDs."
        }
      }
    },
    "AccountIssue": {
      "properties": {
        "impact": {
          "description": "Clarifies the severity of the issue. The summarizing message, if present, should be shown right under the title for each issue. It helps merchants to quickly understand the impact of the issue. The detailed breakdown helps the merchant to fully understand the impact of the issue. It can be rendered as dialog that opens when the merchant mouse over the summarized impact statement. Issues with different severity can be styled differently. They may use a different color or icon to signal the difference between `ERROR`, `WARNING` and `INFO`.",
          "$ref": "AccountIssueImpact"
        },
        "actions": {
          "description": "A list of actionable steps that can be executed to solve the issue. An example is requesting a re-review or providing arguments when merchant disagrees with the issue. Actions that are supported in (your) third-party application can be rendered as buttons and should be available to merchant when they expand the issue.",
          "type": "array",
          "items": {
            "$ref": "Action"
          }
        },
        "title": {
          "description": "Title of the issue.",
          "type": "string"
        },
        "prerenderedContent": {
          "description": "Details of the issue as a pre-rendered HTML. HTML elements contain CSS classes that can be used to customize the style of the content. Always sanitize the HTML before embedding it directly to your application. The sanitizer needs to allow basic HTML tags, such as: `div`, `span`, `p`, `a`, `ul`, `li`, `table`, `tr`, `td`. For example, you can use [DOMPurify](https://www.npmjs.com/package/dompurify). CSS classes: * `issue-detail` - top level container for the detail of the issue * `callout-banners` - section of the `issue-detail` with callout banners * `callout-banner` - single callout banner, inside `callout-banners` * `callout-banner-info` - callout with important information (default) * `callout-banner-warning` - callout with a warning * `callout-banner-error` - callout informing about an error (most severe) * `issue-content` - section of the `issue-detail`, contains multiple `content-element` * `content-element` - content element such as a list, link or paragraph, inside `issue-content` * `root-causes` - unordered list with items describing root causes of the issue, inside `issue-content` * `root-causes-intro` - intro text before the `root-causes` list, inside `issue-content` * `segment` - section of the text, `span` inside paragraph * `segment-attribute` - section of the text that represents a product attribute, for example 'image\\_link' * `segment-literal` - section of the text that contains a special value, for example '0-1000 kg' * `segment-bold` - section of the text that should be rendered as bold * `segment-italic` - section of the text that should be rendered as italic * `tooltip` - used on paragraphs that should be rendered with a tooltip. A section of the text in such a paragraph will have a class `tooltip-text` and is intended to be shown in a mouse over dialog. If the style is not used, the `tooltip-text` section would be shown on a new line, after the main part of the text. * `tooltip-text` - marks a section of the text within a `tooltip`, that is intended to be shown in a mouse over dialog. * `tooltip-icon` - marks a section of the text within a `tooltip`, that can be replaced with a tooltip icon, for example '?' or 'i'. By default, this section contains a `br` tag, that is separating the main text and the tooltip text when the style is not used. * `tooltip-style-question` - the tooltip shows helpful information, can use the '?' as an icon. * `tooltip-style-info` - the tooltip adds additional information fitting to the context, can use the 'i' as an icon. * `content-moderation` - marks the paragraph that explains how the issue was identified. * `new-element` - Present for new elements added to the pre-rendered content in the future. To make sure that a new content element does not break your style, you can hide everything with this class.",
          "type": "string"
        },
        "prerenderedOutOfCourtDisputeSettlement": {
          "description": "Pre-rendered HTML that contains a link to the external location where the ODS can be requested and instructions for how to request it. HTML elements contain CSS classes that can be used to customize the style of this snippet. Always sanitize the HTML before embedding it directly to your application. The sanitizer needs to allow basic HTML tags, such as: `div`, `span`, `p`, `a`, `ul`, `li`, `table`, `tr`, `td`. For example, you can use [DOMPurify](https://www.npmjs.com/package/dompurify). CSS classes: * `ods-section`* - wrapper around the out-of-court dispute resolution section * `ods-description`* - intro text for the out-of-court dispute resolution. It may contain multiple segments and a link. * `ods-param`* - wrapper around the header-value pair for parameters that merchant may need to provide during the ODS process. * `ods-routing-id`* - ods param for the Routing ID. * `ods-reference-id`* - ods param for the Routing ID. * `ods-param-header`* - header for the ODS parameter * `ods-param-value`* - value of the ODS parameter. This value should be rendered in a way that it is easy for merchants to identify and copy. * `segment` - section of the text, `span` inside paragraph * `segment-attribute` - section of the text that represents a product attribute, for example 'image\\_link' * `segment-literal` - section of the text that contains a special value, for example '0-1000 kg' * `segment-bold` - section of the text that should be rendered as bold * `segment-italic` - section of the text that should be rendered as italic * `tooltip` - used on paragraphs that should be rendered with a tooltip. A section of the text in such a paragraph will have a class `tooltip-text` and is intended to be shown in a mouse over dialog. If the style is not used, the `tooltip-text` section would be shown on a new line, after the main part of the text. * `tooltip-text` - marks a section of the text within a `tooltip`, that is intended to be shown in a mouse over dialog. * `tooltip-icon` - marks a section of the text within a `tooltip`, that can be replaced with a tooltip icon, for example '?' or 'i'. By default, this section contains a `br` tag, that is separating the main text and the tooltip text when the style is not used. * `tooltip-style-question` - the tooltip shows helpful information, can use the '?' as an icon. * `tooltip-style-info` - the tooltip adds additional information fitting to the context, can use the 'i' as an icon.",
          "type": "string"
        }
      },
      "description": "An issue affecting specific merchant.",
      "id": "AccountIssue",
      "type": "object"
    },
    "ProductstatusesListResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The token for the retrieval of the next page of products statuses.",
          "type": "string"
        },
        "resources": {
          "type": "array",
          "items": {
            "$ref": "ProductStatus"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#productstatusesListResponse`\".",
          "type": "string"
        }
      },
      "id": "ProductstatusesListResponse",
      "type": "object"
    },
    "RegionalInventory": {
      "description": "Regional inventory resource. contains the regional name and all attributes which are overridden for the specified region.",
      "properties": {
        "regionId": {
          "description": "The ID uniquely identifying each region.",
          "type": "string"
        },
        "salePriceEffectiveDate": {
          "description": "A date range represented by a pair of ISO 8601 dates separated by a space, comma, or slash. Both dates might be specified as 'null' if undecided.",
          "type": "string"
        },
        "customAttributes": {
          "type": "array",
          "items": {
            "$ref": "CustomAttribute"
          },
          "description": "A list of custom (merchant-provided) attributes. It can also be used for submitting any attribute of the feed specification in its generic form."
        },
        "price": {
          "description": "The price of the product.",
          "$ref": "Price"
        },
        "availability": {
          "description": "The availability of the product.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#regionalInventory`\".",
          "type": "string"
        },
        "salePrice": {
          "description": "The sale price of the product. Mandatory if `sale_price_effective_date` is defined.",
          "$ref": "Price"
        }
      },
      "id": "RegionalInventory",
      "type": "object"
    },
    "FreeListingsProgramStatusReviewIneligibilityReasonDetails": {
      "properties": {
        "cooldownTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "This timestamp represents end of cooldown period for review ineligbility reason `IN_COOLDOWN_PERIOD`."
        }
      },
      "description": "Additional details for review ineligibility reasons.",
      "id": "FreeListingsProgramStatusReviewIneligibilityReasonDetails",
      "type": "object"
    },
    "AccountstatusesCustomBatchResponse": {
      "id": "AccountstatusesCustomBatchResponse",
      "type": "object",
      "properties": {
        "entries": {
          "type": "array",
          "items": {
            "$ref": "AccountstatusesCustomBatchResponseEntry"
          },
          "description": "The result of the execution of the batch requests."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#accountstatusesCustomBatchResponse`\".",
          "type": "string"
        }
      }
    },
    "Callout": {
      "properties": {
        "styleHint": {
          "description": "Can be used to render messages with different severity in different styles. Snippets off all types contain important information that should be displayed to merchants.",
          "enum": [
            "CALLOUT_STYLE_HINT_UNSPECIFIED",
            "ERROR",
            "WARNING",
            "INFO"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. Will never be provided by the API.",
            "The most important type of information highlighting problems, like an unsuccessful outcome of previously requested actions.",
            "Information warning about pending problems, risks or deadlines.",
            "Default severity for important information like pending status of previously requested action or cooldown for re-review."
          ]
        },
        "fullMessage": {
          "description": "A full message that needs to be shown to the merchant.",
          "$ref": "TextWithTooltip"
        }
      },
      "description": "An important message that should be highlighted. Usually displayed as a banner.",
      "id": "Callout",
      "type": "object"
    },
    "PubsubNotificationSettings": {
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#pubsubNotificationSettings`\"",
          "type": "string"
        },
        "registeredEvents": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of event types. Acceptable values are: - \"`orderPendingShipment`\" "
        },
        "cloudTopicName": {
          "description": "Cloud pub/sub topic to which notifications are sent (read-only).",
          "type": "string"
        }
      },
      "description": "Settings for Pub/Sub notifications, all methods require that the caller is a direct user of the merchant center account.",
      "id": "PubsubNotificationSettings",
      "type": "object"
    },
    "LinkService": {
      "id": "LinkService",
      "type": "object",
      "properties": {
        "service": {
          "description": "Service provided to or by the linked account. Acceptable values are: - \"`shoppingActionsOrderManagement`\" - \"`shoppingActionsProductManagement`\" - \"`shoppingAdsProductManagement`\" - \"`paymentProcessing`\" ",
          "type": "string"
        },
        "status": {
          "description": "Status of the link Acceptable values are: - \"`active`\" - \"`inactive`\" - \"`pending`\" ",
          "type": "string"
        }
      }
    },
    "RequestPhoneVerificationResponse": {
      "properties": {
        "verificationId": {
          "description": "The verification ID to use in subsequent calls to `verifyphonenumber`.",
          "type": "string"
        }
      },
      "description": "Response message for the RequestPhoneVerification method.",
      "id": "RequestPhoneVerificationResponse",
      "type": "object"
    },
    "LocalinventoryCustomBatchRequestEntry": {
      "id": "LocalinventoryCustomBatchRequestEntry",
      "type": "object",
      "properties": {
        "method": {
          "description": "Method of the batch request entry. Acceptable values are: - \"`insert`\" ",
          "type": "string"
        },
        "merchantId": {
          "type": "string",
          "format": "uint64",
          "description": "The ID of the managing account."
        },
        "batchId": {
          "description": "An entry ID, unique within the batch request.",
          "type": "integer",
          "format": "uint32"
        },
        "localInventory": {
          "description": "Local inventory of the product.",
          "$ref": "LocalInventory"
        },
        "productId": {
          "description": "The ID of the product for which to update local inventory.",
          "type": "string"
        }
      },
      "description": "Batch entry encoding a single local inventory update request."
    },
    "InputFieldChoiceInput": {
      "description": "Choice input allows merchants to select one of the offered choices. Some choices may be linked to additional input fields that should be displayed under or next to the choice option. The value for the additional input field needs to be provided only when the specific choice is selected by the merchant. For example, additional input field can be hidden or disabled until the merchant selects the specific choice.",
      "properties": {
        "options": {
          "description": "A list of choices. Only one option can be selected.",
          "type": "array",
          "items": {
            "$ref": "InputFieldChoiceInputChoiceInputOption"
          }
        }
      },
      "id": "InputFieldChoiceInput",
      "type": "object"
    },
    "AccountTax": {
      "id": "AccountTax",
      "type": "object",
      "description": "The tax settings of a merchant account. All methods require the admin role.",
      "properties": {
        "rules": {
          "type": "array",
          "items": {
            "$ref": "AccountTaxTaxRule"
          },
          "description": "Tax rules. Updating the tax rules will enable \"US\" taxes (not reversible). Defining no rules is equivalent to not charging tax at all."
        },
        "accountId": {
          "type": "string",
          "format": "uint64",
          "description": "Required. The ID of the account to which these account tax settings belong."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#accountTax`\".",
          "type": "string"
        }
      }
    },
    "InputField": {
      "description": "Input field that needs to be available to the merchant. If the field is marked as required, then a value needs to be provided for a successful processing of the request.",
      "properties": {
        "id": {
          "description": "Not for display but need to be sent back for the given input field.",
          "type": "string"
        },
        "choiceInput": {
          "description": "Input field to select one of the offered choices. Corresponds to the [html input type=radio](https://www.w3.org/TR/2012/WD-html-markup-20121025/input.radio.html#input.radio).",
          "$ref": "InputFieldChoiceInput"
        },
        "checkboxInput": {
          "description": "Input field to provide a boolean value. Corresponds to the [html input type=checkbox](https://www.w3.org/TR/2012/WD-html-markup-20121025/input.checkbox.html#input.checkbox).",
          "$ref": "InputFieldCheckboxInput"
        },
        "label": {
          "description": "Input field label. There may be more information to be shown in a tooltip.",
          "$ref": "TextWithTooltip"
        },
        "textInput": {
          "description": "Input field to provide text information. Corresponds to the [html input type=text](https://www.w3.org/TR/2012/WD-html-markup-20121025/input.text.html#input.text) or [html textarea](https://www.w3.org/TR/2012/WD-html-markup-20121025/textarea.html#textarea).",
          "$ref": "InputFieldTextInput"
        },
        "required": {
          "description": "Whether the field is required. The action button needs to stay disabled till values for all required fields are provided.",
          "type": "boolean"
        }
      },
      "id": "InputField",
      "type": "object"
    },
    "LiasettingsCustomBatchRequest": {
      "id": "LiasettingsCustomBatchRequest",
      "type": "object",
      "properties": {
        "entries": {
          "type": "array",
          "items": {
            "$ref": "LiasettingsCustomBatchRequestEntry"
          },
          "description": "The request entries to be processed in the batch."
        }
      }
    },
    "PosSaleResponse": {
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#posSaleResponse`\".",
          "type": "string"
        },
        "itemId": {
          "description": "Required. A unique identifier for the item.",
          "type": "string"
        },
        "targetCountry": {
          "description": "Required. The CLDR territory code for the item.",
          "type": "string"
        },
        "gtin": {
          "description": "Global Trade Item Number.",
          "type": "string"
        },
        "storeCode": {
          "description": "Required. The identifier of the merchant's store. Either a `storeCode` inserted through the API or the code of the store in a Business Profile.",
          "type": "string"
        },
        "contentLanguage": {
          "description": "Required. The two-letter ISO 639-1 language code for the item.",
          "type": "string"
        },
        "timestamp": {
          "description": "Required. The inventory timestamp, in ISO 8601 format.",
          "type": "string"
        },
        "price": {
          "description": "Required. The price of the item.",
          "$ref": "Price"
        },
        "saleId": {
          "description": "A unique ID to group items from the same sale event.",
          "type": "string"
        },
        "quantity": {
          "description": "Required. The relative change of the available quantity. Negative for items returned.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "PosSaleResponse",
      "type": "object"
    },
    "LiasettingsCustomBatchRequestEntry": {
      "properties": {
        "contactName": {
          "description": "Inventory validation contact name. Required only for SetInventoryValidationContact.",
          "type": "string"
        },
        "gmbEmail": {
          "description": "The Business Profile. Required only for RequestGmbAccess.",
          "type": "string"
        },
        "posDataProviderId": {
          "type": "string",
          "format": "uint64",
          "description": "The ID of POS data provider. Required only for SetPosProvider."
        },
        "posExternalAccountId": {
          "description": "The account ID by which this merchant is known to the POS provider.",
          "type": "string"
        },
        "accountId": {
          "description": "The ID of the account for which to get/update account LIA settings.",
          "type": "string",
          "format": "uint64"
        },
        "batchId": {
          "type": "integer",
          "format": "uint32",
          "description": "An entry ID, unique within the batch request."
        },
        "method": {
          "description": "The method of the batch entry. Acceptable values are: - \"`get`\" - \"`getAccessibleGmbAccounts`\" - \"`requestGmbAccess`\" - \"`requestInventoryVerification`\" - \"`setInventoryVerificationContact`\" - \"`update`\" ",
          "type": "string"
        },
        "contactEmail": {
          "description": "Inventory validation contact email. Required only for SetInventoryValidationContact.",
          "type": "string"
        },
        "merchantId": {
          "type": "string",
          "format": "uint64",
          "description": "The ID of the managing account."
        },
        "country": {
          "description": "The country code. Required only for RequestInventoryVerification.",
          "type": "string"
        },
        "liaSettings": {
          "description": "The account Lia settings to update. Only defined if the method is `update`.",
          "$ref": "LiaSettings"
        },
        "omnichannelExperience": {
          "description": "The omnichannel experience for a country. Required only for SetOmnichannelExperience.",
          "$ref": "LiaOmnichannelExperience"
        }
      },
      "id": "LiasettingsCustomBatchRequestEntry",
      "type": "object"
    },
    "BreakdownRegion": {
      "description": "Region with code and localized name.",
      "properties": {
        "name": {
          "description": "The localized name of the region. For region with code='001' the value is 'All countries' or the equivalent in other languages.",
          "type": "string"
        },
        "code": {
          "description": "The [CLDR territory code] (http://www.unicode.org/repos/cldr/tags/latest/common/main/en.xml)",
          "type": "string"
        }
      },
      "id": "BreakdownRegion",
      "type": "object"
    },
    "AccounttaxCustomBatchRequest": {
      "id": "AccounttaxCustomBatchRequest",
      "type": "object",
      "properties": {
        "entries": {
          "type": "array",
          "items": {
            "$ref": "AccounttaxCustomBatchRequestEntry"
          },
          "description": "The request entries to be processed in the batch."
        }
      }
    },
    "ProductstatusesCustomBatchResponse": {
      "properties": {
        "entries": {
          "description": "The result of the execution of the batch requests.",
          "type": "array",
          "items": {
            "$ref": "ProductstatusesCustomBatchResponseEntry"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#productstatusesCustomBatchResponse`\".",
          "type": "string"
        }
      },
      "id": "ProductstatusesCustomBatchResponse",
      "type": "object"
    },
    "WarehouseBasedDeliveryTime": {
      "properties": {
        "originPostalCode": {
          "description": "Shipping origin.",
          "type": "string"
        },
        "originCountry": {
          "description": "Shipping origin's country represented as a [CLDR territory code](https://github.com/unicode-org/cldr/blob/latest/common/main/en.xml).",
          "type": "string"
        },
        "warehouseName": {
          "description": "The name of the warehouse. Warehouse name need to be matched with name. If warehouseName is set, the below fields will be ignored. The warehouse info will be read from warehouse.",
          "type": "string"
        },
        "carrierService": {
          "description": "Required. Carrier service, such as `\"ground\"` or `\"2 days\"`. The list of supported services for a carrier can be retrieved through the `listSupportedCarriers` method. The name of the service must be in the eddSupportedServices list.",
          "type": "string"
        },
        "carrier": {
          "description": "Required. Carrier, such as `\"UPS\"` or `\"Fedex\"`. The list of supported carriers can be retrieved through the `listSupportedCarriers` method.",
          "type": "string"
        },
        "originCity": {
          "description": "Shipping origin's city.",
          "type": "string"
        },
        "originAdministrativeArea": {
          "description": "Shipping origin's state.",
          "type": "string"
        },
        "originStreetAddress": {
          "description": "Shipping origin's street address.",
          "type": "string"
        }
      },
      "id": "WarehouseBasedDeliveryTime",
      "type": "object"
    },
    "CutoffTime": {
      "properties": {
        "timezone": {
          "description": "Timezone identifier for the cutoff time (for example, \"Europe/Zurich\"). List of identifiers. Required.",
          "type": "string"
        },
        "hour": {
          "description": "Hour of the cutoff time until which an order has to be placed to be processed in the same day. Required.",
          "type": "integer",
          "format": "uint32"
        },
        "minute": {
          "type": "integer",
          "format": "uint32",
          "description": "Minute of the cutoff time until which an order has to be placed to be processed in the same day. Required."
        }
      },
      "id": "CutoffTime",
      "type": "object"
    },
    "ReturnPolicyOnlineReturnShippingFee": {
      "id": "ReturnPolicyOnlineReturnShippingFee",
      "type": "object",
      "description": "The return shipping fee. This can either be a fixed fee or a boolean to indicate that the customer pays the actual shipping cost.",
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "FIXED",
            "CUSTOMER_PAYING_ACTUAL_FEE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The return shipping fee is a fixed value.",
            "Customer will pay the actual return shipping fee."
          ],
          "description": "Type of return shipping fee."
        },
        "fixedFee": {
          "description": "Fixed return shipping fee amount. This value is only applicable when type is FIXED. We will treat the return shipping fee as free if type is FIXED and this value is not set.",
          "$ref": "PriceAmount"
        }
      }
    },
    "ProductUnitPricingMeasure": {
      "id": "ProductUnitPricingMeasure",
      "type": "object",
      "properties": {
        "value": {
          "type": "number",
          "format": "double",
          "description": "The measure of an item."
        },
        "unit": {
          "description": "The unit of the measure.",
          "type": "string"
        }
      }
    },
    "RequestPhoneVerificationRequest": {
      "id": "RequestPhoneVerificationRequest",
      "type": "object",
      "properties": {
        "phoneVerificationMethod": {
          "description": "Verification method to receive verification code.",
          "type": "string",
          "enumDescriptions": [
            "Unknown method.",
            "Receive verification code by SMS.",
            "Receive verification code by phone call."
          ],
          "enum": [
            "PHONE_VERIFICATION_METHOD_UNSPECIFIED",
            "SMS",
            "PHONE_CALL"
          ]
        },
        "languageCode": {
          "description": "Language code [IETF BCP 47 syntax](https://tools.ietf.org/html/bcp47) (for example, en-US). Language code is used to provide localized `SMS` and `PHONE_CALL`. Default language used is en-US if not provided.",
          "type": "string"
        },
        "phoneNumber": {
          "description": "Phone number to be verified.",
          "type": "string"
        },
        "phoneRegionCode": {
          "description": "Required. Two letter country code for the phone number, for example `CA` for Canadian numbers. See the [ISO 3166-1 alpha-2](https://wikipedia.org/wiki/ISO_3166-1_alpha-2#Officially_assigned_code_elements) officially assigned codes.",
          "type": "string"
        }
      },
      "description": "Request message for the RequestPhoneVerification method."
    },
    "Headers": {
      "properties": {
        "prices": {
          "type": "array",
          "items": {
            "$ref": "Price"
          },
          "description": "A list of inclusive order price upper bounds. The last price's value can be `\"infinity\"`. For example `[{\"value\": \"10\", \"currency\": \"USD\"}, {\"value\": \"500\", \"currency\": \"USD\"}, {\"value\": \"infinity\", \"currency\": \"USD\"}]` represents the headers \"<= $10\", \"<= $500\", and \"> $500\". All prices within a service must have the same currency. Must be non-empty. Can only be set if all other fields are not set."
        },
        "locations": {
          "description": "A list of location ID sets. Must be non-empty. Can only be set if all other fields are not set.",
          "type": "array",
          "items": {
            "$ref": "LocationIdSet"
          }
        },
        "numberOfItems": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of inclusive number of items upper bounds. The last value can be `\"infinity\"`. For example `[\"10\", \"50\", \"infinity\"]` represents the headers \"<= 10 items\", \"<= 50 items\", and \"> 50 items\". Must be non-empty. Can only be set if all other fields are not set."
        },
        "postalCodeGroupNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of postal group names. The last value can be `\"all other locations\"`. Example: `[\"zone 1\", \"zone 2\", \"all other locations\"]`. The referred postal code groups must match the delivery country of the service. Must be non-empty. Can only be set if all other fields are not set."
        },
        "weights": {
          "description": "A list of inclusive order weight upper bounds. The last weight's value can be `\"infinity\"`. For example `[{\"value\": \"10\", \"unit\": \"kg\"}, {\"value\": \"50\", \"unit\": \"kg\"}, {\"value\": \"infinity\", \"unit\": \"kg\"}]` represents the headers \"<= 10kg\", \"<= 50kg\", and \"> 50kg\". All weights within a service must have the same unit. Must be non-empty. Can only be set if all other fields are not set.",
          "type": "array",
          "items": {
            "$ref": "Weight"
          }
        }
      },
      "description": "A non-empty list of row or column headers for a table. Exactly one of `prices`, `weights`, `numItems`, `postalCodeGroupNames`, or `location` must be set.",
      "id": "Headers",
      "type": "object"
    },
    "AccountTaxTaxRule": {
      "description": "Tax calculation rule to apply in a state or province (US only).",
      "properties": {
        "ratePercent": {
          "description": "Explicit tax rate in percent, represented as a floating point number without the percentage character. Must not be negative.",
          "type": "string"
        },
        "useGlobalRate": {
          "description": "Whether the tax rate is taken from a global tax table or specified explicitly.",
          "type": "boolean"
        },
        "shippingTaxed": {
          "description": "If true, shipping charges are also taxed.",
          "type": "boolean"
        },
        "country": {
          "description": "Country code in which tax is applicable.",
          "type": "string"
        },
        "locationId": {
          "description": "Required. State (or province) is which the tax is applicable, described by its location ID (also called criteria ID).",
          "type": "string",
          "format": "uint64"
        }
      },
      "id": "AccountTaxTaxRule",
      "type": "object"
    },
    "MinimumOrderValueTable": {
      "properties": {
        "storeCodeSetWithMovs": {
          "type": "array",
          "items": {
            "$ref": "MinimumOrderValueTableStoreCodeSetWithMov"
          }
        }
      },
      "id": "MinimumOrderValueTable",
      "type": "object"
    },
    "AccountCredentials": {
      "id": "AccountCredentials",
      "type": "object",
      "properties": {
        "purpose": {
          "enumDeprecated": [
            false,
            true,
            false
          ],
          "enum": [
            "ACCOUNT_CREDENTIALS_PURPOSE_UNSPECIFIED",
            "SHOPIFY_ORDER_MANAGEMENT",
            "SHOPIFY_INTEGRATION"
          ],
          "description": "Indicates to Google how Google should use these OAuth tokens.",
          "type": "string",
          "enumDescriptions": [
            "Unknown purpose.",
            "The credentials allow Google to manage Shopify orders on behalf of the merchant (deprecated).",
            "The credentials allow Google to manage Shopify integration on behalf of the merchant."
          ]
        },
        "accessToken": {
          "description": "An OAuth access token.",
          "type": "string"
        },
        "expiresIn": {
          "description": "The amount of time, in seconds, after which the access token is no longer valid.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Credentials allowing Google to call a partner's API on behalf of a merchant."
    },
    "DatafeedsCustomBatchResponse": {
      "properties": {
        "entries": {
          "type": "array",
          "items": {
            "$ref": "DatafeedsCustomBatchResponseEntry"
          },
          "description": "The result of the execution of the batch requests."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#datafeedsCustomBatchResponse`\".",
          "type": "string"
        }
      },
      "id": "DatafeedsCustomBatchResponse",
      "type": "object"
    },
    "PosCustomBatchResponse": {
      "id": "PosCustomBatchResponse",
      "type": "object",
      "properties": {
        "entries": {
          "description": "The result of the execution of the batch requests.",
          "type": "array",
          "items": {
            "$ref": "PosCustomBatchResponseEntry"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#posCustomBatchResponse`\".",
          "type": "string"
        }
      }
    },
    "AccountStatusItemLevelIssue": {
      "id": "AccountStatusItemLevelIssue",
      "type": "object",
      "properties": {
        "detail": {
          "description": "A detailed issue description in English.",
          "type": "string"
        },
        "code": {
          "description": "The error code of the issue.",
          "type": "string"
        },
        "description": {
          "description": "A short issue description in English.",
          "type": "string"
        },
        "attributeName": {
          "description": "The attribute's name, if the issue is caused by a single attribute.",
          "type": "string"
        },
        "servability": {
          "description": "How this issue affects serving of the offer.",
          "type": "string"
        },
        "numItems": {
          "type": "string",
          "format": "int64",
          "description": "Number of items with this issue."
        },
        "documentation": {
          "description": "The URL of a web page to help with resolving this issue.",
          "type": "string"
        },
        "resolution": {
          "description": "Whether the issue can be resolved by the merchant.",
          "type": "string"
        }
      }
    },
    "InputValueCheckboxInputValue": {
      "properties": {
        "value": {
          "description": "Required. True if the merchant checked the box field. False otherwise.",
          "type": "boolean"
        }
      },
      "description": "Value for checkbox input field.",
      "id": "InputValueCheckboxInputValue",
      "type": "object"
    },
    "Datafeed": {
      "id": "Datafeed",
      "type": "object",
      "description": "Datafeed configuration data.",
      "properties": {
        "name": {
          "description": "Required for insert. A descriptive name of the data feed.",
          "type": "string"
        },
        "attributeLanguage": {
          "description": "The two-letter ISO 639-1 language in which the attributes are defined in the data feed.",
          "type": "string"
        },
        "contentType": {
          "description": "Required. The type of data feed. For product inventory feeds, only feeds for local stores, not online stores, are supported. Acceptable values are: - \"`local products`\" - \"`product inventory`\" - \"`products`\" ",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#datafeed`\"",
          "type": "string"
        },
        "fileName": {
          "description": "Required. The filename of the feed. All feeds must have a unique file name.",
          "type": "string"
        },
        "fetchSchedule": {
          "description": "Fetch schedule for the feed file.",
          "$ref": "DatafeedFetchSchedule"
        },
        "targets": {
          "description": "The targets this feed should apply to (country, language, destinations).",
          "type": "array",
          "items": {
            "$ref": "DatafeedTarget"
          }
        },
        "id": {
          "description": "Required for update. The ID of the data feed.",
          "type": "string",
          "format": "int64"
        },
        "format": {
          "description": "Format of the feed file.",
          "$ref": "DatafeedFormat"
        }
      }
    },
    "ProductViewItemIssueIssueSeverityPerDestination": {
      "id": "ProductViewItemIssueIssueSeverityPerDestination",
      "type": "object",
      "properties": {
        "disapprovedCountries": {
          "description": "List of disapproved countries in the destination.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "destination": {
          "description": "Issue destination.",
          "type": "string"
        },
        "demotedCountries": {
          "description": "List of demoted countries in the destination.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Issue severity for all affected regions in a destination."
    },
    "ReportInteractionRequest": {
      "properties": {
        "type": {
          "description": "Required. Type of the recommendations on which this interaction happened. This field must be set only to the value that is returned by {@link `GenerateRecommendationsResponse`} call.",
          "type": "string"
        },
        "responseToken": {
          "description": "Required. Token of the response when recommendation was returned.",
          "type": "string"
        },
        "interactionType": {
          "description": "Required. Type of the interaction that is reported, for example INTERACTION_CLICK.",
          "type": "string",
          "enumDescriptions": [
            "Default value. If provided, the service will throw ApiError with description \"Required parameter: interactionType\".",
            "When a recommendation is dismissed.",
            "When a recommendation is clicked."
          ],
          "enum": [
            "INTERACTION_TYPE_UNSPECIFIED",
            "INTERACTION_DISMISS",
            "INTERACTION_CLICK"
          ]
        },
        "subtype": {
          "description": "Optional. Subtype of the recommendations this interaction happened on. This field must be set only to the value that is returned by {@link `RecommendationsService.GenerateRecommendations`} call.",
          "type": "string"
        }
      },
      "description": "Request to report interactions on a recommendation.",
      "id": "ReportInteractionRequest",
      "type": "object"
    },
    "LoyaltyProgram": {
      "id": "LoyaltyProgram",
      "type": "object",
      "properties": {
        "loyaltyPoints": {
          "description": "Optional. The amount of loyalty points earned on a purchase.",
          "type": "string",
          "format": "int64"
        },
        "price": {
          "description": "Optional. The price for members of the given tier (instant discount price). Must be smaller or equal to the regular price.",
          "$ref": "Price"
        },
        "programLabel": {
          "description": "Required. The label of the loyalty program. This is an internal label that uniquely identifies the relationship between a merchant entity and a loyalty program entity. It must be provided so that system can associate the assets below (for example, price and points) with a merchant. The corresponding program must be linked to the merchant account.",
          "type": "string"
        },
        "tierLabel": {
          "description": "Required. The label of the tier within the loyalty program. Must match one of the labels within the program.",
          "type": "string"
        },
        "cashbackForFutureUse": {
          "description": "Optional. The cashback that can be used for future purchases.",
          "$ref": "Price"
        },
        "shippingLabel": {
          "description": "Optional. The shipping label for the loyalty program. You can use this label to indicate whether this offer has the loyalty shipping benefit. If not specified, the item is not eligible for loyalty shipping for the given loyalty tier.",
          "type": "string"
        },
        "memberPriceEffectiveDate": {
          "description": "Optional. A date range during which the item is eligible for member price. If not specified, the member price is always applicable. The date range is represented by a pair of ISO 8601 dates separated by a space, comma, or slash.",
          "type": "string"
        }
      },
      "description": "Allows the setting up of loyalty program benefits (for example price or points). https://support.google.com/merchants/answer/12922446"
    },
    "AccountItemUpdates": {
      "description": "Turning on [item updates](https://support.google.com/merchants/answer/3246284) allows Google to automatically update items for you. When item updates are on, Google uses the structured data markup on the website and advanced data extractors to update the price and availability of the items. When the item updates are off, items with mismatched data aren't shown.",
      "properties": {
        "accountItemUpdatesSettings": {
          "description": "Determines which attributes of the items should be automatically updated. If this field is not present, then the settings will be deleted. If there are no settings for subaccount, they are inherited from aggregator.",
          "$ref": "AccountItemUpdatesSettings"
        },
        "effectiveAllowAvailabilityUpdates": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. The effective value of allow_availability_updates. If account_item_updates_settings is present, then this value is the same. Otherwise, it represents the inherited value of the parent account. Read-only."
        },
        "effectiveAllowConditionUpdates": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. The effective value of allow_condition_updates. If account_item_updates_settings is present, then this value is the same. Otherwise, it represents the inherited value of the parent account. Read-only."
        },
        "effectiveAllowStrictAvailabilityUpdates": {
          "type": "boolean",
          "description": "Output only. The effective value of allow_strict_availability_updates. If account_item_updates_settings is present, then this value is the same. Otherwise, it represents the inherited value of the parent account. Read-only.",
          "readOnly": true
        },
        "effectiveAllowPriceUpdates": {
          "type": "boolean",
          "description": "Output only. The effective value of allow_price_updates. If account_item_updates_settings is present, then this value is the same. Otherwise, it represents the inherited value of the parent account. Read-only.",
          "readOnly": true
        }
      },
      "id": "AccountItemUpdates",
      "type": "object"
    },
    "LocalinventoryCustomBatchRequest": {
      "properties": {
        "entries": {
          "description": "The request entries to be processed in the batch.",
          "type": "array",
          "items": {
            "$ref": "LocalinventoryCustomBatchRequestEntry"
          }
        }
      },
      "id": "LocalinventoryCustomBatchRequest",
      "type": "object"
    },
    "ProductTax": {
      "properties": {
        "rate": {
          "description": "The percentage of tax rate that applies to the item price.",
          "type": "number",
          "format": "double"
        },
        "taxShip": {
          "description": "Should be set to true if tax is charged on shipping.",
          "type": "boolean"
        },
        "postalCode": {
          "description": "The postal code range that the tax rate applies to, represented by a ZIP code, a ZIP code prefix using * wildcard, a range between two ZIP codes or two ZIP code prefixes of equal length. Examples: 94114, 94*, 94002-95460, 94*-95*.",
          "type": "string"
        },
        "locationId": {
          "description": "The numeric ID of a location that the tax rate applies to as defined in the Google Ads API.",
          "type": "string",
          "format": "int64"
        },
        "country": {
          "description": "The country within which the item is taxed, specified as a CLDR territory code.",
          "type": "string"
        },
        "region": {
          "description": "The geographic region to which the tax rate applies.",
          "type": "string"
        }
      },
      "id": "ProductTax",
      "type": "object"
    },
    "AccountsCustomBatchRequestEntryLinkRequest": {
      "properties": {
        "action": {
          "description": "Action to perform for this link. The `\"request\"` action is only available to select merchants. Acceptable values are: - \"`approve`\" - \"`remove`\" - \"`request`\" ",
          "type": "string"
        },
        "linkedAccountId": {
          "description": "The ID of the linked account.",
          "type": "string"
        },
        "linkType": {
          "description": "Type of the link between the two accounts. Acceptable values are: - \"`channelPartner`\" - \"`eCommercePlatform`\" - \"`paymentServiceProvider`\" - \"`localProductManager`\" ",
          "type": "string"
        },
        "services": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Provided services. Acceptable values are: - \"`shoppingAdsProductManagement`\" - \"`shoppingActionsProductManagement`\" - \"`shoppingActionsOrderManagement`\" - \"`paymentProcessing`\" - \"`localProductManagement`\" "
        }
      },
      "id": "AccountsCustomBatchRequestEntryLinkRequest",
      "type": "object"
    },
    "PosInventoryResponse": {
      "id": "PosInventoryResponse",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#posInventoryResponse`\".",
          "type": "string"
        },
        "itemId": {
          "description": "Required. A unique identifier for the item.",
          "type": "string"
        },
        "pickupSla": {
          "description": "Optional. Expected date that an order will be ready for pickup relative to the order date. Must be submitted together with `pickupMethod`. For accepted attribute values, see the [local product inventory feed specification](https://support.google.com/merchants/answer/3061342).",
          "type": "string"
        },
        "gtin": {
          "description": "Global Trade Item Number.",
          "type": "string"
        },
        "targetCountry": {
          "description": "Required. The CLDR territory code for the item.",
          "type": "string"
        },
        "pickupMethod": {
          "description": "Optional. Supported pickup method for this offer. Unless the value is \"not supported\", this field must be submitted together with `pickupSla`. For accepted attribute values, see the [local product inventory feed specification](https://support.google.com/merchants/answer/3061342).",
          "type": "string"
        },
        "price": {
          "description": "Required. The current price of the item.",
          "$ref": "Price"
        },
        "contentLanguage": {
          "description": "Required. The two-letter ISO 639-1 language code for the item.",
          "type": "string"
        },
        "timestamp": {
          "description": "Required. The inventory timestamp, in ISO 8601 format.",
          "type": "string"
        },
        "storeCode": {
          "description": "Required. The identifier of the merchant's store. Either a `storeCode` inserted through the API or the code of the store in a Business Profile.",
          "type": "string"
        },
        "quantity": {
          "type": "string",
          "format": "int64",
          "description": "Required. The available quantity of the item."
        }
      }
    },
    "AccountLabel": {
      "properties": {
        "labelId": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The ID of the label.",
          "readOnly": true
        },
        "accountId": {
          "description": "Immutable. The ID of account this label belongs to.",
          "type": "string",
          "format": "int64"
        },
        "labelType": {
          "enum": [
            "LABEL_TYPE_UNSPECIFIED",
            "MANUAL",
            "AUTOMATIC"
          ],
          "readOnly": true,
          "description": "Output only. The type of this label.",
          "type": "string",
          "enumDescriptions": [
            "Unknown label type.",
            "Indicates that the label was created manually.",
            "Indicates that the label was created automatically by CSS Center."
          ]
        },
        "name": {
          "description": "The display name of this label.",
          "type": "string"
        },
        "description": {
          "description": "The description of this label.",
          "type": "string"
        }
      },
      "description": "Label assigned by CSS domain or CSS group to one of its sub-accounts.",
      "id": "AccountLabel",
      "type": "object"
    },
    "LiasettingsListPosDataProvidersResponse": {
      "properties": {
        "posDataProviders": {
          "description": "The list of POS data providers for each eligible country",
          "type": "array",
          "items": {
            "$ref": "PosDataProviders"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#liasettingsListPosDataProvidersResponse`\".",
          "type": "string"
        }
      },
      "id": "LiasettingsListPosDataProvidersResponse",
      "type": "object"
    },
    "RegionalinventoryCustomBatchRequest": {
      "properties": {
        "entries": {
          "type": "array",
          "items": {
            "$ref": "RegionalinventoryCustomBatchRequestEntry"
          },
          "description": "The request entries to be processed in the batch."
        }
      },
      "id": "RegionalinventoryCustomBatchRequest",
      "type": "object"
    },
    "CollectionFeaturedProduct": {
      "id": "CollectionFeaturedProduct",
      "type": "object",
      "description": "The message for FeaturedProduct. [FeaturedProduct](https://support.google.com/merchants/answer/9703736)",
      "properties": {
        "y": {
          "type": "number",
          "format": "float",
          "description": "Required. Y-coordinate of the product callout on the Shoppable Image."
        },
        "offerId": {
          "description": "The unique identifier for the product item.",
          "type": "string"
        },
        "x": {
          "type": "number",
          "format": "float",
          "description": "Required. X-coordinate of the product callout on the Shoppable Image."
        }
      }
    },
    "PriceAmount": {
      "id": "PriceAmount",
      "type": "object",
      "description": "The price represented as a number and currency.",
      "properties": {
        "value": {
          "description": "The price represented as a number.",
          "type": "string"
        },
        "currency": {
          "description": "The currency of the price.",
          "type": "string"
        }
      }
    },
    "ProductViewItemIssueItemIssueSeverity": {
      "id": "ProductViewItemIssueItemIssueSeverity",
      "type": "object",
      "properties": {
        "severityPerDestination": {
          "type": "array",
          "items": {
            "$ref": "ProductViewItemIssueIssueSeverityPerDestination"
          },
          "description": "Item issue severity for every destination."
        },
        "aggregatedSeverity": {
          "description": "Severity of an issue aggregated for destination.",
          "type": "string",
          "enumDescriptions": [
            "Undefined Issue severity.",
            "Issue disapproves the product in at least one of the selected destinations.",
            "Issue demotes the product in all selected destinations it affects.",
            "Issue resolution is `PENDING_PROCESSING`."
          ],
          "enum": [
            "AGGREGATED_ISSUE_SEVERITY_UNSPECIFIED",
            "DISAPPROVED",
            "DEMOTED",
            "PENDING"
          ]
        }
      },
      "description": "Severity of an issue per destination in a region, and aggregated severity."
    },
    "ProductProductDetail": {
      "id": "ProductProductDetail",
      "type": "object",
      "properties": {
        "attributeName": {
          "description": "The name of the product detail.",
          "type": "string"
        },
        "sectionName": {
          "description": "The section header used to group a set of product details.",
          "type": "string"
        },
        "attributeValue": {
          "description": "The value of the product detail.",
          "type": "string"
        }
      }
    },
    "ProductShippingWeight": {
      "properties": {
        "value": {
          "description": "The weight of the product used to calculate the shipping cost of the item.",
          "type": "number",
          "format": "double"
        },
        "unit": {
          "description": "The unit of value.",
          "type": "string"
        }
      },
      "id": "ProductShippingWeight",
      "type": "object"
    },
    "Distance": {
      "id": "Distance",
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "format": "int64",
          "description": "The distance represented as a number."
        },
        "unit": {
          "description": "The distance unit. Acceptable values are `None`, `Miles`, and `Kilometers`.",
          "type": "string"
        }
      },
      "description": "Distance represented by an integer and unit."
    },
    "OrderTrackingSignalLineItemDetails": {
      "id": "OrderTrackingSignalLineItemDetails",
      "type": "object",
      "properties": {
        "mpn": {
          "description": "The manufacturer part number.",
          "type": "string"
        },
        "upc": {
          "description": "Universal product code for this item (deprecated: Please use GTIN instead).",
          "deprecated": true,
          "type": "string"
        },
        "productTitle": {
          "description": "Plain text title of this product.",
          "type": "string"
        },
        "brand": {
          "description": "Brand of the product.",
          "type": "string"
        },
        "sku": {
          "description": "Merchant SKU for this item (deprecated).",
          "deprecated": true,
          "type": "string"
        },
        "productDescription": {
          "type": "string",
          "description": "Plain text description of this product (deprecated: Please use product_title instead).",
          "deprecated": true
        },
        "gtin": {
          "description": "The Global Trade Item Number.",
          "type": "string"
        },
        "lineItemId": {
          "description": "Required. The ID for this line item.",
          "type": "string"
        },
        "quantity": {
          "type": "string",
          "format": "int64",
          "description": "The quantity of the line item in the order."
        },
        "productId": {
          "description": "Required. The Content API REST ID of the product, in the form channel:contentLanguage:targetCountry:offerId.",
          "type": "string"
        }
      },
      "description": "The line items of the order."
    },
    "AccounttaxCustomBatchResponseEntry": {
      "id": "AccounttaxCustomBatchResponseEntry",
      "type": "object",
      "description": "A batch entry encoding a single non-batch accounttax response.",
      "properties": {
        "errors": {
          "description": "A list of errors for failed custombatch entries. *Note:* Schema errors fail the whole request.",
          "$ref": "Errors"
        },
        "accountTax": {
          "description": "The retrieved or updated account tax settings.",
          "$ref": "AccountTax"
        },
        "batchId": {
          "type": "integer",
          "format": "uint32",
          "description": "The ID of the request entry this entry responds to."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#accounttaxCustomBatchResponseEntry`\"",
          "type": "string"
        }
      }
    },
    "DatafeedsCustomBatchRequestEntry": {
      "id": "DatafeedsCustomBatchRequestEntry",
      "type": "object",
      "description": "A batch entry encoding a single non-batch datafeeds request.",
      "properties": {
        "datafeed": {
          "description": "The data feed to insert.",
          "$ref": "Datafeed"
        },
        "datafeedId": {
          "type": "string",
          "format": "uint64",
          "description": "The ID of the data feed to get, delete or fetch."
        },
        "method": {
          "description": "The method of the batch entry. Acceptable values are: - \"`delete`\" - \"`fetchNow`\" - \"`get`\" - \"`insert`\" - \"`update`\" ",
          "type": "string"
        },
        "merchantId": {
          "description": "The ID of the managing account.",
          "type": "string",
          "format": "uint64"
        },
        "batchId": {
          "type": "integer",
          "format": "uint32",
          "description": "An entry ID, unique within the batch request."
        }
      }
    },
    "LiaOnDisplayToOrderSettings": {
      "id": "LiaOnDisplayToOrderSettings",
      "type": "object",
      "properties": {
        "status": {
          "description": "The status of the ?On display to order? feature. Acceptable values are: - \"`active`\" - \"`inactive`\" - \"`pending`\" ",
          "type": "string"
        },
        "shippingCostPolicyUrl": {
          "description": "Shipping cost and policy URL.",
          "type": "string"
        }
      }
    },
    "ListAccountReturnCarrierResponse": {
      "id": "ListAccountReturnCarrierResponse",
      "type": "object",
      "description": "Response for listing account return carriers.",
      "properties": {
        "accountReturnCarriers": {
          "type": "array",
          "items": {
            "$ref": "AccountReturnCarrier"
          },
          "description": "List of all available account return carriers for the merchant."
        }
      }
    },
    "Metrics": {
      "id": "Metrics",
      "type": "object",
      "description": "Performance metrics. Values are only set for metrics requested explicitly in the request's search query.",
      "properties": {
        "orders": {
          "description": "*Deprecated*: This field is no longer supported and retrieving it returns 0 starting from May 2024. Number of placed orders. Excludes customer cancellations that happened within 30 minutes of placing the order. **This metric cannot be segmented by product dimensions and customer_country_code.**",
          "type": "string",
          "format": "int64"
        },
        "shippedItems": {
          "type": "string",
          "format": "int64",
          "description": "*Deprecated*: This field is no longer supported and retrieving it returns 0 starting from May 2024. Number of shipped items, reported on the shipment date. **This metric cannot be segmented by customer_country_code.**"
        },
        "conversionValueMicros": {
          "type": "string",
          "format": "int64",
          "description": "Value of conversions in micros (1 millionth of a standard unit, 1 USD = 1000000 micros) attributed to the product, reported on the conversion date. The metric is currently available only for the `FREE_PRODUCT_LISTING` program. The currency of the returned value is stored in the currency_code segment. If this metric is selected, 'segments.currency_code' is automatically added to the SELECT clause in the search query (unless it is explicitly selected by the user) and the currency_code segment is populated in the response."
        },
        "shippedItemSalesMicros": {
          "description": "*Deprecated*: This field is no longer supported and retrieving it returns 0 starting from May 2024. Total price of shipped items in micros (1 millionth of a standard unit, 1 USD = 1000000 micros), reported on the order date. Excludes shipping and taxes (US only). The currency of the returned value is stored in the currency_code segment. If this metric is selected, 'segments.currency_code' is automatically added to the SELECT clause in the search query (unless it is explicitly selected by the user) and the currency_code segment is populated in the response. **This metric cannot be segmented by customer_country_code.**",
          "type": "string",
          "format": "int64"
        },
        "orderedItemSalesMicros": {
          "type": "string",
          "format": "int64",
          "description": "*Deprecated*: This field is no longer supported and retrieving it returns 0 starting from May 2024. Total price of ordered items in micros (1 millionth of a standard unit, 1 USD = 1000000 micros). Excludes shipping, taxes (US only), and customer cancellations that happened within 30 minutes of placing the order. The currency of the returned value is stored in the currency_code segment. If this metric is selected, 'segments.currency_code' is automatically added to the SELECT clause in the search query (unless it is explicitly selected by the user) and the currency_code segment is populated in the response. **This metric cannot be segmented by customer_country_code.**"
        },
        "conversionRate": {
          "description": "Number of conversions divided by the number of clicks, reported on the impression date. The metric is currently available only for the `FREE_PRODUCT_LISTING` program.",
          "type": "number",
          "format": "double"
        },
        "rejectedItems": {
          "description": "*Deprecated*: This field is no longer supported and retrieving it returns 0 starting from May 2024. Number of ordered items canceled by the merchant, reported on the order date. **This metric cannot be segmented by customer_country_code.**",
          "type": "string",
          "format": "int64"
        },
        "aos": {
          "description": "*Deprecated*: This field is no longer supported and retrieving it returns 0 starting from May 2024. Average order size - the average number of items in an order. **This metric cannot be segmented by product dimensions and customer_country_code.**",
          "type": "number",
          "format": "double"
        },
        "returnRate": {
          "description": "*Deprecated*: This field is no longer supported and retrieving it returns 0 starting from May 2024. Total price of returned items divided by the total price of shipped items, reported on the order date. If this metric is selected, 'segments.currency_code' is automatically added to the SELECT clause in the search query (unless it is explicitly selected by the user) and the currency_code segment is populated in the response. **This metric cannot be segmented by customer_country_code.**",
          "type": "number",
          "format": "double"
        },
        "daysToShip": {
          "description": "*Deprecated*: This field is no longer supported and retrieving it returns 0 starting from May 2024. Average number of days between an order being placed and the order being fully shipped, reported on the last shipment date. **This metric cannot be segmented by product dimensions and customer_country_code.**",
          "type": "number",
          "format": "double"
        },
        "itemFillRate": {
          "description": "*Deprecated*: This field is no longer supported and retrieving it returns 0 starting from May 2024. Percentage of shipped items in relation to all finalized items (shipped or rejected by the merchant; unshipped items are not taken into account), reported on the order date. Item fill rate is lowered by merchant rejections. **This metric cannot be segmented by customer_country_code.**",
          "type": "number",
          "format": "double"
        },
        "ctr": {
          "description": "Click-through rate - the number of clicks merchant's products receive (clicks) divided by the number of times the products are shown (impressions).",
          "type": "number",
          "format": "double"
        },
        "shippedOrders": {
          "type": "string",
          "format": "int64",
          "description": "*Deprecated*: This field is no longer supported and retrieving it returns 0 starting from May 2024. Number of fully shipped orders, reported on the last shipment date. **This metric cannot be segmented by product dimensions and customer_country_code.**"
        },
        "impressions": {
          "type": "string",
          "format": "int64",
          "description": "Number of times merchant's products are shown."
        },
        "aovMicros": {
          "type": "number",
          "format": "double",
[...]
