{
  "version_module": true,
  "id": "contactcenterinsights:v1",
  "mtlsRootUrl": "https://contactcenterinsights.mtls.googleapis.com/",
  "parameters": {
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    }
  },
  "batchPath": "batch",
  "protocol": "rest",
  "version": "v1",
  "canonicalName": "Contactcenterinsights",
  "documentationLink": "https://cloud.google.com/contact-center/insights/docs",
  "ownerName": "Google",
  "name": "contactcenterinsights",
  "baseUrl": "https://contactcenterinsights.googleapis.com/",
  "servicePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true,
  "revision": "20260629",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "queryMetrics": {
              "httpMethod": "POST",
              "parameterOrder": [
                "location"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:queryMetrics",
              "path": "v1/{+location}:queryMetrics",
              "description": "Query metrics.",
              "parameters": {
                "location": {
                  "description": "Required. The location of the data. \"projects/{project}/locations/{location}\"",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "request": {
                "$ref": "GoogleCloudContactcenterinsightsV1QueryMetricsRequest"
              },
              "id": "contactcenterinsights.projects.locations.queryMetrics"
            },
            "getSettings": {
              "description": "Gets project-level settings.",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the settings resource to get.",
                  "pattern": "^projects/[^/]+/locations/[^/]+/settings$",
                  "location": "path"
                }
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/settings",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "id": "contactcenterinsights.projects.locations.getSettings",
              "response": {
                "$ref": "GoogleCloudContactcenterinsightsV1Settings"
              }
            },
            "queryPerformanceOverview": {
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "description": "Generates a summary of predefined performance metrics for a set of conversations. Conversations can be specified by specifying a time window and an agent id, for now. The summary includes a comparison of metrics computed for conversations in the previous time period, and also a comparison with peers in the same time period.",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The parent resource of the conversations to derive performance stats from. \"projects/{project}/locations/{location}\""
                }
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:queryPerformanceOverview",
              "path": "v1/{+parent}:queryPerformanceOverview",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "request": {
                "$ref": "GoogleCloudContactcenterinsightsV1QueryPerformanceOverviewRequest"
              },
              "id": "contactcenterinsights.projects.locations.queryPerformanceOverview"
            },
            "bulkDownloadFeedbackLabels": {
              "description": "Download feedback labels in bulk from an external source. Currently supports exporting Quality AI example conversations with transcripts and question bodies.",
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The parent resource for new feedback labels.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path"
                }
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:bulkDownloadFeedbackLabels",
              "path": "v1/{+parent}:bulkDownloadFeedbackLabels",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudContactcenterinsightsV1BulkDownloadFeedbackLabelsRequest"
              },
              "id": "contactcenterinsights.projects.locations.bulkDownloadFeedbackLabels",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              }
            },
            "updateSettings": {
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/settings",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+/settings$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Immutable. The resource name of the settings resource. Format: projects/{project}/locations/{location}/settings"
                },
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "description": "Required. The list of fields to be updated.",
                  "format": "google-fieldmask"
                }
              },
              "description": "Updates project-level settings.",
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "contactcenterinsights.projects.locations.updateSettings",
              "request": {
                "$ref": "GoogleCloudContactcenterinsightsV1Settings"
              },
              "response": {
                "$ref": "GoogleCloudContactcenterinsightsV1Settings"
              }
            },
            "getCorrelationConfig": {
              "id": "contactcenterinsights.projects.locations.getCorrelationConfig",
              "response": {
                "$ref": "GoogleCloudContactcenterinsightsV1CorrelationConfig"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the correlation config resource to get. Format: projects/{project}/locations/{location}/correlationConfig",
                  "pattern": "^projects/[^/]+/locations/[^/]+/correlationConfig$",
                  "location": "path"
                }
              },
              "description": "Gets correlation config.",
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/correlationConfig",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET"
            },
            "updateCorrelationConfig": {
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/correlationConfig",
              "path": "v1/{+name}",
              "description": "Updates correlation config.",
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. The list of fields to be updated.",
                  "format": "google-fieldmask"
                },
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Immutable. Identifier. The resource name of the correlation config. Format: projects/{project}/locations/{location}/correlationConfig",
                  "pattern": "^projects/[^/]+/locations/[^/]+/correlationConfig$",
                  "location": "path"
                }
              },
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "GoogleCloudContactcenterinsightsV1CorrelationConfig"
              },
              "id": "contactcenterinsights.projects.locations.updateCorrelationConfig",
              "response": {
                "$ref": "GoogleCloudContactcenterinsightsV1CorrelationConfig"
              }
            },
            "listAllFeedbackLabels": {
              "id": "contactcenterinsights.projects.locations.listAllFeedbackLabels",
              "response": {
                "$ref": "GoogleCloudContactcenterinsightsV1ListAllFeedbackLabelsResponse"
              },
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "description": "Required. The parent resource of all feedback labels per project.",
                  "required": true,
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. A filter to reduce results to a specific subset in the entire project. Supports disjunctions (OR) and conjunctions (AND). Supported fields: * `issue_model_id` * `qa_question_id` * `min_create_time` * `max_create_time` * `min_update_time` * `max_update_time` * `feedback_label_type`: QUALITY_AI, TOPIC_MODELING"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "Optional. The maximum number of feedback labels to return in the response. A valid page size ranges from 0 to 100,000 inclusive. If the page size is zero or unspecified, a default page size of 100 will be chosen. Note that a call might return fewer results than the requested page size.",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. The value returned by the last `ListAllFeedbackLabelsResponse`. This value indicates that this is a continuation of a prior `ListAllFeedbackLabels` call and that the system should return the next page of data."
                }
              },
              "description": "List all feedback labels by project number.",
              "path": "v1/{+parent}:listAllFeedbackLabels",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:listAllFeedbackLabels",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET"
            },
            "testCorrelationConfig": {
              "httpMethod": "POST",
              "parameterOrder": [
                "location"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+location}:testCorrelationConfig",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:testCorrelationConfig",
              "parameters": {
                "location": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The location to test correlation config. Format: projects/{project}/locations/{location}",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path"
                }
              },
              "description": "Tests correlation config on a conversation.",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "id": "contactcenterinsights.projects.locations.testCorrelationConfig",
              "request": {
                "$ref": "GoogleCloudContactcenterinsightsV1TestCorrelationConfigRequest"
              }
            },
            "generativeInsights": {
              "httpMethod": "POST",
              "parameterOrder": [
                "location"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:generativeInsights",
              "path": "v1/{+location}:generativeInsights",
              "description": "Natural language based Insights which powers the next generation of dashboards in Insights. Next generation of QueryMetrics.",
              "parameters": {
                "location": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "description": "Required. The location of the data. \"projects/{project}/locations/{location}\"",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "request": {
                "$ref": "GoogleCloudContactcenterinsightsV1GenerativeInsightsRequest"
              },
              "id": "contactcenterinsights.projects.locations.generativeInsights"
            },
            "bulkDeleteFeedbackLabels": {
              "request": {
                "$ref": "GoogleCloudContactcenterinsightsV1BulkDeleteFeedbackLabelsRequest"
              },
              "id": "contactcenterinsights.projects.locations.bulkDeleteFeedbackLabels",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "description": "Delete feedback labels in bulk using a filter.",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The parent resource for new feedback labels."
                }
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:bulkDeleteFeedbackLabels",
              "path": "v1/{+parent}:bulkDeleteFeedbackLabels",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST"
            },
            "bulkUploadFeedbackLabels": {
              "id": "contactcenterinsights.projects.locations.bulkUploadFeedbackLabels",
              "request": {
                "$ref": "GoogleCloudContactcenterinsightsV1BulkUploadFeedbackLabelsRequest"
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "path": "v1/{+parent}:bulkUploadFeedbackLabels",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:bulkUploadFeedbackLabels",
              "parameters": {
                "parent": {
                  "description": "Required. The parent resource for new feedback labels.",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path"
                }
              },
              "description": "Upload feedback labels from an external source in bulk. Currently supports labeling Quality AI example conversations.",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "getEncryptionSpec": {
              "response": {
                "$ref": "GoogleCloudContactcenterinsightsV1EncryptionSpec"
              },
              "id": "contactcenterinsights.projects.locations.getEncryptionSpec",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/encryptionSpec",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+/encryptionSpec$",
                  "location": "path",
                  "description": "Required. The name of the encryption spec resource to get.",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Gets location-level encryption key specification."
            }
          },
          "resources": {
            "qaScorecards": {
              "resources": {
                "revisions": {
                  "methods": {
                    "create": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "description": "Creates a QaScorecardRevision.",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/qaScorecards/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The parent resource of the QaScorecardRevision."
                        },
                        "qaScorecardRevisionId": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. A unique ID for the new QaScorecardRevision. This ID will become the final component of the QaScorecardRevision's resource name. If no ID is specified, a server-generated ID will be used. This value should be 4-64 characters and must match the regular expression `^[a-z0-9-]{4,64}$`. Valid characters are `a-z-`."
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/qaScorecards/{qaScorecardsId}/revisions",
                      "path": "v1/{+parent}/revisions",
                      "response": {
                        "$ref": "GoogleCloudContactcenterinsightsV1QaScorecardRevision"
                      },
                      "request": {
                        "$ref": "GoogleCloudContactcenterinsightsV1QaScorecardRevision"
                      },
                      "id": "contactcenterinsights.projects.locations.qaScorecards.revisions.create"
                    },
                    "undeploy": {
                      "request": {
                        "$ref": "GoogleCloudContactcenterinsightsV1UndeployQaScorecardRevisionRequest"
                      },
                      "id": "contactcenterinsights.projects.locations.qaScorecards.revisions.undeploy",
                      "response": {
                        "$ref": "GoogleCloudContactcenterinsightsV1QaScorecardRevision"
                      },
                      "description": "Undeploy a QaScorecardRevision.",
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "description": "Required. The name of the QaScorecardRevision to undeploy.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/qaScorecards/[^/]+/revisions/[^/]+$",
                          "location": "path"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/qaScorecards/{qaScorecardsId}/revisions/{revisionsId}:undeploy",
                      "path": "v1/{+name}:undeploy",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST"
                    },
                    "delete": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/qaScorecards/{qaScorecardsId}/revisions/{revisionsId}",
                      "path": "v1/{+name}",
                      "description": "Deletes a QaScorecardRevision.",
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "description": "Required. The name of the QaScorecardRevision to delete.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/qaScorecards/[^/]+/revisions/[^/]+$",
                          "location": "path"
                        },
                        "force": {
                          "description": "Optional. If set to true, all of this QaScorecardRevision's child resources will also be deleted. Otherwise, the request will only succeed if it has none.",
                          "location": "query",
                          "type": "boolean"
                        }
                      },
                      "httpMethod": "DELETE",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "contactcenterinsights.projects.locations.qaScorecards.revisions.delete",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      }
                    },
                    "list": {
                      "response": {
                        "$ref": "GoogleCloudContactcenterinsightsV1ListQaScorecardRevisionsResponse"
                      },
                      "id": "contactcenterinsights.projects.locations.qaScorecards.revisions.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "description": "Lists all revisions under the parent QaScorecard.",
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "description": "Optional. The maximum number of scorecard revisions to return in the response. If the value is zero, the service will select a default size. A call might return fewer objects than requested. A non-empty `next_page_token` in the response indicates that more data is available.",
                          "format": "int32"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. The value returned by the last `ListQaScorecardRevisionsResponse`. This value indicates that this is a continuation of a prior `ListQaScorecardRevisions` call and that the system should return the next page of data."
                        },
                        "qaScorecardSources": {
                          "type": "string",
                          "description": "Optional. The source of scorecards are based on how those Scorecards were created, e.g., a customer-defined scorecard, a predefined scorecard, etc. This field is used to retrieve Scorecards Revisions from Scorecards of one or more sources.",
                          "location": "query",
                          "repeated": true,
                          "enum": [
                            "QA_SCORECARD_SOURCE_UNSPECIFIED",
                            "QA_SCORECARD_SOURCE_CUSTOMER_DEFINED",
                            "QA_SCORECARD_SOURCE_DISCOVERY_ENGINE"
                          ],
                          "enumDescriptions": [
                            "The source of the scorecard is unspecified. Default to QA_SCORECARD_SOURCE_CUSTOMER_DEFINED.",
                            "The scorecard is a custom scorecard created by the user.",
                            "The scorecard is a scorecard created through discovery engine deployment."
                          ]
                        },
                        "parent": {
                          "required": true,
                          "type": "string",
                          "description": "Required. The parent resource of the scorecard revisions. To list all revisions of all scorecards, substitute the QaScorecard ID with a '-' character.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/qaScorecards/[^/]+$",
                          "location": "path"
                        },
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. A filter to reduce results to a specific subset. Useful for querying scorecard revisions with specific properties."
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/qaScorecards/{qaScorecardsId}/revisions",
                      "path": "v1/{+parent}/revisions"
                    },
                    "deploy": {
                      "response": {
                        "$ref": "GoogleCloudContactcenterinsightsV1QaScorecardRevision"
                      },
                      "request": {
                        "$ref": "GoogleCloudContactcenterinsightsV1DeployQaScorecardRevisionRequest"
                      },
                      "id": "contactcenterinsights.projects.locations.qaScorecards.revisions.deploy",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/qaScorecards/{qaScorecardsId}/revisions/{revisionsId}:deploy",
                      "path": "v1/{+name}:deploy",
                      "description": "Deploy a QaScorecardRevision.",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the QaScorecardRevision to deploy.",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/qaScorecards/[^/]+/revisions/[^/]+$",
                          "location": "path"
                        }
                      }
                    },
                    "get": {
                      "id": "contactcenterinsights.projects.locations.qaScorecards.revisions.get",
                      "response": {
                        "$ref": "GoogleCloudContactcenterinsightsV1QaScorecardRevision"
                      },
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/qaScorecards/{qaScorecardsId}/revisions/{revisionsId}",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/qaScorecards/[^/]+/revisions/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The name of the QaScorecardRevision to get."
                        }
                      },
                      "description": "Gets a QaScorecardRevision.",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "tuneQaScorecardRevision": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "type": "string",
                          "description": "Required. The parent resource for new fine tuning job instance.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/qaScorecards/[^/]+/revisions/[^/]+$",
                          "location": "path"
                        }
                      },
                      "description": "Fine tune one or more QaModels.",
                      "path": "v1/{+parent}:tuneQaScorecardRevision",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/qaScorecards/{qaScorecardsId}/revisions/{revisionsId}:tuneQaScorecardRevision",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "id": "contactcenterinsights.projects.locations.qaScorecards.revisions.tuneQaScorecardRevision",
                      "request": {
                        "$ref": "GoogleCloudContactcenterinsightsV1TuneQaScorecardRevisionRequest"
                      }
                    }
                  },
                  "resources": {
                    "qaQuestions": {
                      "methods": {
                        "delete": {
                          "description": "Deletes a QaQuestion.",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/qaScorecards/[^/]+/revisions/[^/]+/qaQuestions/[^/]+$",
                              "location": "path",
                              "description": "Required. The name of the QaQuestion to delete.",
                              "required": true,
                              "type": "string"
                            }
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/qaScorecards/{qaScorecardsId}/revisions/{revisionsId}/qaQuestions/{qaQuestionsId}",
                          "path": "v1/{+name}",
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "DELETE",
                          "id": "contactcenterinsights.projects.locations.qaScorecards.revisions.qaQuestions.delete",
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          }
                        },
                        "list": {
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/qaScorecards/{qaScorecardsId}/revisions/{revisionsId}/qaQuestions",
                          "path": "v1/{+parent}/qaQuestions",
                          "description": "Lists QaQuestions.",
                          "parameters": {
                            "pageSize": {
                              "location": "query",
                              "type": "integer",
                              "description": "Optional. The maximum number of questions to return in the response. If the value is zero, the service will select a default size. A call might return fewer objects than requested. A non-empty `next_page_token` in the response indicates that more data is available.",
                              "format": "int32"
                            },
                            "pageToken": {
                              "description": "Optional. The value returned by the last `ListQaQuestionsResponse`. This value indicates that this is a continuation of a prior `ListQaQuestions` call and that the system should return the next page of data.",
                              "location": "query",
                              "type": "string"
                            },
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/qaScorecards/[^/]+/revisions/[^/]+$",
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "description": "Required. The parent resource of the questions."
                            }
                          },
                          "response": {
                            "$ref": "GoogleCloudContactcenterinsightsV1ListQaQuestionsResponse"
                          },
                          "id": "contactcenterinsights.projects.locations.qaScorecards.revisions.qaQuestions.list"
                        },
                        "create": {
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "POST",
                          "description": "Create a QaQuestion.",
                          "parameters": {
                            "parent": {
                              "required": true,
                              "type": "string",
                              "description": "Required. The parent resource of the QaQuestion.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/qaScorecards/[^/]+/revisions/[^/]+$",
                              "location": "path"
                            },
                            "qaQuestionId": {
                              "description": "Optional. A unique ID for the new question. This ID will become the final component of the question's resource name. If no ID is specified, a server-generated ID will be used. This value should be 4-64 characters and must match the regular expression `^[a-z0-9-]{4,64}$`. Valid characters are `a-z-`.",
                              "location": "query",
                              "type": "string"
                            }
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/qaScorecards/{qaScorecardsId}/revisions/{revisionsId}/qaQuestions",
                          "path": "v1/{+parent}/qaQuestions",
                          "response": {
                            "$ref": "GoogleCloudContactcenterinsightsV1QaQuestion"
                          },
                          "request": {
                            "$ref": "GoogleCloudContactcenterinsightsV1QaQuestion"
                          },
                          "id": "contactcenterinsights.projects.locations.qaScorecards.revisions.qaQuestions.create"
                        },
                        "patch": {
                          "httpMethod": "PATCH",
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1/{+name}",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/qaScorecards/{qaScorecardsId}/revisions/{revisionsId}/qaQuestions/{qaQuestionsId}",
                          "parameters": {
                            "updateMask": {
                              "location": "query",
                              "type": "string",
                              "description": "Required. The list of fields to be updated. All possible fields can be updated by passing `*`, or a subset of the following updateable fields can be provided: * `abbreviation` * `answer_choices` * `answer_instructions` * `order` * `question_body` * `tags`",
                              "format": "google-fieldmask"
                            },
                            "name": {
                              "required": true,
                              "type": "string",
                              "description": "Identifier. The resource name of the question. Format: projects/{project}/locations/{location}/qaScorecards/{qa_scorecard}/revisions/{revision}/qaQuestions/{qa_question}",
                              "pattern": "^projects/[^/]+/locations/[^/]+/qaScorecards/[^/]+/revisions/[^/]+/qaQuestions/[^/]+$",
                              "location": "path"
                            }
                          },
                          "description": "Updates a QaQuestion.",
                          "response": {
                            "$ref": "GoogleCloudContactcenterinsightsV1QaQuestion"
                          },
                          "id": "contactcenterinsights.projects.locations.qaScorecards.revisions.qaQuestions.patch",
                          "request": {
                            "$ref": "GoogleCloudContactcenterinsightsV1QaQuestion"
                          }
                        },
                        "get": {
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "GET",
                          "description": "Gets a QaQuestion.",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/qaScorecards/[^/]+/revisions/[^/]+/qaQuestions/[^/]+$",
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "description": "Required. The name of the QaQuestion to get."
                            }
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/qaScorecards/{qaScorecardsId}/revisions/{revisionsId}/qaQuestions/{qaQuestionsId}",
                          "path": "v1/{+name}",
                          "response": {
                            "$ref": "GoogleCloudContactcenterinsightsV1QaQuestion"
                          },
                          "id": "contactcenterinsights.projects.locations.qaScorecards.revisions.qaQuestions.get"
                        }
                      }
                    }
                  }
                }
              },
              "methods": {
                "create": {
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1QaScorecard"
                  },
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1QaScorecard"
                  },
                  "id": "contactcenterinsights.projects.locations.qaScorecards.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "description": "Create a QaScorecard.",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent resource of the QaScorecard.",
                      "required": true,
                      "type": "string"
                    },
                    "qaScorecardId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A unique ID for the new QaScorecard. This ID will become the final component of the QaScorecard's resource name. If no ID is specified, a server-generated ID will be used. This value should be 4-64 characters and must match the regular expression `^[a-z0-9-]{4,64}$`. Valid characters are `a-z-`."
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/qaScorecards",
                  "path": "v1/{+parent}/qaScorecards"
                },
                "delete": {
                  "description": "Deletes a QaScorecard.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the QaScorecard to delete.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/qaScorecards/[^/]+$",
                      "location": "path"
                    },
                    "force": {
                      "description": "Optional. If set to true, all of this QaScorecard's child resources will also be deleted. Otherwise, the request will only succeed if it has none.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/qaScorecards/{qaScorecardsId}",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "id": "contactcenterinsights.projects.locations.qaScorecards.delete",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  }
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "description": "Lists QaScorecards.",
                  "parameters": {
                    "qaScorecardSources": {
                      "enumDescriptions": [
                        "The source of the scorecard is unspecified. Default to QA_SCORECARD_SOURCE_CUSTOMER_DEFINED.",
                        "The scorecard is a custom scorecard created by the user.",
                        "The scorecard is a scorecard created through discovery engine deployment."
                      ],
                      "repeated": true,
                      "enum": [
                        "QA_SCORECARD_SOURCE_UNSPECIFIED",
                        "QA_SCORECARD_SOURCE_CUSTOMER_DEFINED",
                        "QA_SCORECARD_SOURCE_DISCOVERY_ENGINE"
                      ],
                      "location": "query",
                      "description": "Optional. The source of scorecards are based on how those Scorecards were created, e.g., a customer-defined scorecard, a predefined scorecard, etc. This field is used to retrieve Scorecards of one or more sources.",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of scorecards to return in the response. If the value is zero, the service will select a default size. A call might return fewer objects than requested. A non-empty `next_page_token` in the response indicates that more data is available.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "Optional. The value returned by the last `ListQaScorecardsResponse`. This value indicates that this is a continuation of a prior `ListQaScorecards` call and that the system should return the next page of data.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent resource of the scorecards.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/qaScorecards",
                  "path": "v1/{+parent}/qaScorecards",
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1ListQaScorecardsResponse"
                  },
                  "id": "contactcenterinsights.projects.locations.qaScorecards.list"
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/qaScorecards/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the QaScorecard to get.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "Gets a QaScorecard.",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/qaScorecards/{qaScorecardsId}",
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1QaScorecard"
                  },
                  "id": "contactcenterinsights.projects.locations.qaScorecards.get"
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/qaScorecards/{qaScorecardsId}",
                  "parameters": {
                    "updateMask": {
                      "description": "Required. The list of fields to be updated. All possible fields can be updated by passing `*`, or a subset of the following updateable fields can be provided: * `description` * `display_name`",
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "description": "Identifier. The scorecard name. Format: projects/{project}/locations/{location}/qaScorecards/{qa_scorecard}",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/qaScorecards/[^/]+$",
                      "location": "path"
                    }
                  },
                  "description": "Updates a QaScorecard.",
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1QaScorecard"
                  },
                  "id": "contactcenterinsights.projects.locations.qaScorecards.patch",
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1QaScorecard"
                  }
                }
              }
            },
            "datasets": {
              "resources": {
                "conversations": {
                  "methods": {
                    "calculateStats": {
                      "id": "contactcenterinsights.projects.locations.datasets.conversations.calculateStats",
                      "request": {
                        "$ref": "GoogleCloudContactcenterinsightsV1CalculateStatsRequest"
                      },
                      "response": {
                        "$ref": "GoogleCloudContactcenterinsightsV1CalculateStatsResponse"
                      },
                      "parameters": {
                        "location": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                          "location": "path",
                          "description": "Required. The location of the conversations.",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "description": "Gets conversation statistics.",
                      "path": "v1/{+location}/conversations:calculateStats",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/conversations:calculateStats",
                      "parameterOrder": [
                        "location"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST"
                    },
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "description": "Lists conversations.",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "type": "string",
                          "description": "Required. The parent resource of the conversation.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                          "location": "path"
                        },
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "A filter to reduce results to a specific subset. Useful for querying conversations with specific properties."
                        },
                        "pageToken": {
                          "description": "The value returned by the last `ListConversationsResponse`. This value indicates that this is a continuation of a prior `ListConversations` call and that the system should return the next page of data.",
                          "location": "query",
                          "type": "string"
                        },
                        "view": {
                          "location": "query",
                          "enumDescriptions": [
                            "The conversation view is not specified. * Defaults to `FULL` in `GetConversationRequest`. * Defaults to `BASIC` in `ListConversationsRequest`.",
                            "Populates all fields in the conversation.",
                            "Populates all fields in the conversation except the transcript."
                          ],
                          "enum": [
                            "CONVERSATION_VIEW_UNSPECIFIED",
                            "FULL",
                            "BASIC"
                          ],
                          "type": "string",
                          "description": "The level of details of the conversation. Default is `BASIC`."
                        },
                        "orderBy": {
                          "description": "Optional. The attribute by which to order conversations in the response. If empty, conversations will be ordered by descending creation time. Supported values are one of the following: * create_time * customer_satisfaction_rating * duration * latest_analysis * start_time * turn_count The default sort order is ascending. To specify order, append `asc` or `desc` (`create_time desc`). For more details, see [Google AIPs Ordering](https://google.aip.dev/132#ordering).",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "description": "The maximum number of conversations to return in the response. A valid page size ranges from 0 to 100,000 inclusive. If the page size is zero or unspecified, a default page size of 100 will be chosen. Note that a call might return fewer results than the requested page size.",
                          "format": "int32"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/conversations",
                      "path": "v1/{+parent}/conversations",
                      "response": {
                        "$ref": "GoogleCloudContactcenterinsightsV1ListConversationsResponse"
                      },
                      "id": "contactcenterinsights.projects.locations.datasets.conversations.list"
                    },
                    "delete": {
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "id": "contactcenterinsights.projects.locations.datasets.conversations.delete",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+/conversations/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The name of the conversation to delete."
                        },
                        "force": {
                          "location": "query",
                          "type": "boolean",
                          "description": "If set to true, all of this conversation's analyses will also be deleted. Otherwise, the request will only succeed if the conversation has no analyses."
                        }
                      },
                      "description": "Deletes a conversation.",
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/conversations/{conversationsId}"
                    },
                    "sample": {
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/conversations:sample",
                      "path": "v1/{+parent}/conversations:sample",
                      "description": "Samples conversations based on user configuration and handles the sampled conversations for different use cases.",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "type": "string",
                          "description": "Required. The parent resource of the dataset.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "request": {
                        "$ref": "GoogleCloudContactcenterinsightsV1SampleConversationsRequest"
                      },
                      "id": "contactcenterinsights.projects.locations.datasets.conversations.sample"
                    },
                    "get": {
                      "response": {
                        "$ref": "GoogleCloudContactcenterinsightsV1Conversation"
                      },
                      "id": "contactcenterinsights.projects.locations.datasets.conversations.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "description": "Gets a conversation.",
                      "parameters": {
                        "view": {
                          "description": "The level of details of the conversation. Default is `FULL`.",
                          "type": "string",
                          "enum": [
                            "CONVERSATION_VIEW_UNSPECIFIED",
                            "FULL",
                            "BASIC"
                          ],
                          "enumDescriptions": [
                            "The conversation view is not specified. * Defaults to `FULL` in `GetConversationRequest`. * Defaults to `BASIC` in `ListConversationsRequest`.",
                            "Populates all fields in the conversation.",
                            "Populates all fields in the conversation except the transcript."
                          ],
                          "location": "query"
                        },
                        "name": {
                          "description": "Required. The name of the conversation to get.",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+/conversations/[^/]+$",
                          "location": "path"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/conversations/{conversationsId}",
                      "path": "v1/{+name}"
                    },
                    "bulkDelete": {
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "id": "contactcenterinsights.projects.locations.datasets.conversations.bulkDelete",
                      "request": {
                        "$ref": "GoogleCloudContactcenterinsightsV1BulkDeleteConversationsRequest"
                      },
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/conversations:bulkDelete",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/conversations:bulkDelete",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The parent resource to delete conversations from. Format: projects/{project}/locations/{location}"
                        }
                      },
                      "description": "Deletes multiple conversations in a single request."
                    },
                    "ingest": {
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "id": "contactcenterinsights.projects.locations.datasets.conversations.ingest",
                      "request": {
                        "$ref": "GoogleCloudContactcenterinsightsV1IngestConversationsRequest"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                          "location": "path",
                          "description": "Required. The parent resource for new conversations.",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "description": "Imports conversations and processes them according to the user's configuration.",
                      "path": "v1/{+parent}/conversations:ingest",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/conversations:ingest"
                    },
                    "generateSignedAudio": {
                      "id": "contactcenterinsights.projects.locations.datasets.conversations.generateSignedAudio",
                      "response": {
                        "$ref": "GoogleCloudContactcenterinsightsV1GenerateConversationSignedAudioResponse"
                      },
                      "description": "Gets the signed URI for the audio for the given conversation.",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+/conversations/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The name of the conversation to sign."
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/conversations/{conversationsId}:generateSignedAudio",
                      "path": "v1/{+name}:generateSignedAudio",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET"
                    }
                  },
                  "resources": {
                    "feedbackLabels": {
                      "methods": {
                        "patch": {
                          "response": {
                            "$ref": "GoogleCloudContactcenterinsightsV1FeedbackLabel"
                          },
                          "request": {
                            "$ref": "GoogleCloudContactcenterinsightsV1FeedbackLabel"
                          },
                          "id": "contactcenterinsights.projects.locations.datasets.conversations.feedbackLabels.patch",
                          "httpMethod": "PATCH",
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/conversations/{conversationsId}/feedbackLabels/{feedbackLabelsId}",
                          "path": "v1/{+name}",
                          "description": "Update feedback label.",
                          "parameters": {
                            "name": {
                              "required": true,
                              "type": "string",
                              "description": "Immutable. Resource name of the FeedbackLabel. Format: projects/{project}/locations/{location}/conversations/{conversation}/feedbackLabels/{feedback_label}",
                              "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+/conversations/[^/]+/feedbackLabels/[^/]+$",
                              "location": "path"
                            },
                            "updateMask": {
                              "location": "query",
                              "type": "string",
                              "description": "Required. The list of fields to be updated.",
                              "format": "google-fieldmask"
                            }
                          }
                        },
                        "get": {
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/conversations/{conversationsId}/feedbackLabels/{feedbackLabelsId}",
                          "path": "v1/{+name}",
                          "description": "Get feedback label.",
                          "parameters": {
                            "name": {
                              "description": "Required. The name of the feedback label to get.",
                              "required": true,
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+/conversations/[^/]+/feedbackLabels/[^/]+$",
                              "location": "path"
                            }
                          },
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "contactcenterinsights.projects.locations.datasets.conversations.feedbackLabels.get",
                          "response": {
                            "$ref": "GoogleCloudContactcenterinsightsV1FeedbackLabel"
                          }
                        },
                        "list": {
                          "response": {
                            "$ref": "GoogleCloudContactcenterinsightsV1ListFeedbackLabelsResponse"
                          },
                          "id": "contactcenterinsights.projects.locations.datasets.conversations.feedbackLabels.list",
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1/{+parent}/feedbackLabels",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/conversations/{conversationsId}/feedbackLabels",
                          "parameters": {
                            "filter": {
                              "location": "query",
                              "type": "string",
                              "description": "Optional. A filter to reduce results to a specific subset. Supports disjunctions (OR) and conjunctions (AND). Automatically sorts by conversation ID. To sort by all feedback labels in a project see ListAllFeedbackLabels. Supported fields: * `issue_model_id` * `qa_question_id` * `qa_scorecard_id` * `min_create_time` * `max_create_time` * `min_update_time` * `max_update_time` * `feedback_label_type`: QUALITY_AI, TOPIC_MODELING"
                            },
                            "parent": {
                              "description": "Required. The parent resource of the feedback labels.",
                              "required": true,
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+/conversations/[^/]+$",
                              "location": "path"
                            },
                            "pageSize": {
                              "description": "Optional. The maximum number of feedback labels to return in the response. A valid page size ranges from 0 to 100,000 inclusive. If the page size is zero or unspecified, a default page size of 100 will be chosen. Note that a call might return fewer results than the requested page size.",
                              "format": "int32",
                              "location": "query",
                              "type": "integer"
                            },
                            "pageToken": {
                              "location": "query",
                              "type": "string",
                              "description": "Optional. The value returned by the last `ListFeedbackLabelsResponse`. This value indicates that this is a continuation of a prior `ListFeedbackLabels` call and that the system should return the next page of data."
                            }
                          },
                          "description": "List feedback labels."
                        },
                        "delete": {
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "id": "contactcenterinsights.projects.locations.datasets.conversations.feedbackLabels.delete",
                          "httpMethod": "DELETE",
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1/{+name}",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/conversations/{conversationsId}/feedbackLabels/{feedbackLabelsId}",
                          "parameters": {
                            "name": {
                              "description": "Required. The name of the feedback label to delete.",
                              "required": true,
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+/conversations/[^/]+/feedbackLabels/[^/]+$",
                              "location": "path"
                            }
                          },
                          "description": "Delete feedback label."
                        },
                        "create": {
                          "id": "contactcenterinsights.projects.locations.datasets.conversations.feedbackLabels.create",
                          "request": {
                            "$ref": "GoogleCloudContactcenterinsightsV1FeedbackLabel"
                          },
                          "response": {
                            "$ref": "GoogleCloudContactcenterinsightsV1FeedbackLabel"
                          },
                          "parameters": {
                            "parent": {
                              "description": "Required. The parent resource of the feedback label.",
                              "required": true,
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+/conversations/[^/]+$",
                              "location": "path"
                            },
                            "feedbackLabelId": {
                              "description": "Optional. The ID of the feedback label to create. If one is not specified it will be generated by the server.",
                              "location": "query",
                              "type": "string"
                            }
                          },
                          "description": "Create feedback label.",
                          "path": "v1/{+parent}/feedbackLabels",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/conversations/{conversationsId}/feedbackLabels",
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "POST"
                        }
                      }
                    }
                  }
                },
                "insightsdata": {
                  "methods": {
                    "export": {
                      "request": {
                        "$ref": "GoogleCloudContactcenterinsightsV1ExportInsightsDataRequest"
                      },
                      "id": "contactcenterinsights.projects.locations.datasets.insightsdata.export",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/insightsdata:export",
                      "path": "v1/{+parent}/insightsdata:export",
                      "description": "Export insights data to a destination defined in the request body.",
                      "parameters": {
                        "parent": {
                          "description": "Required. The parent resource to export data from.",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                          "location": "path"
                        }
                      },
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                }
              },
              "methods": {
                "bulkUploadFeedbackLabels": {
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "id": "contactcenterinsights.projects.locations.datasets.bulkUploadFeedbackLabels",
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1BulkUploadFeedbackLabelsRequest"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}:bulkUploadFeedbackLabels",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}:bulkUploadFeedbackLabels",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent resource for new feedback labels.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                      "location": "path"
                    }
                  },
                  "description": "Upload feedback labels from an external source in bulk. Currently supports labeling Quality AI example conversations."
                },
                "bulkDownloadFeedbackLabels": {
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1BulkDownloadFeedbackLabelsRequest"
                  },
                  "id": "contactcenterinsights.projects.locations.datasets.bulkDownloadFeedbackLabels",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}:bulkDownloadFeedbackLabels",
                  "path": "v1/{+parent}:bulkDownloadFeedbackLabels",
                  "description": "Download feedback labels in bulk from an external source. Currently supports exporting Quality AI example conversations with transcripts and question bodies.",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent resource for new feedback labels.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                      "location": "path"
                    }
                  }
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "datasetId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The ID to use for the dataset."
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent resource of the dataset.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "description": "Creates a dataset.",
                  "path": "v1/{+parent}/datasets",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets",
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1Dataset"
                  },
                  "id": "contactcenterinsights.projects.locations.datasets.create",
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1Dataset"
                  }
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the dataset to delete.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                      "location": "path"
                    }
                  },
                  "description": "Delete a dataset.",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "id": "contactcenterinsights.projects.locations.datasets.delete",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  }
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the dataset to get.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                      "location": "path"
                    }
                  },
                  "description": "Gets a dataset.",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}",
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1Dataset"
                  },
                  "id": "contactcenterinsights.projects.locations.datasets.get"
                },
                "listAllFeedbackLabels": {
                  "id": "contactcenterinsights.projects.locations.datasets.listAllFeedbackLabels",
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1ListAllFeedbackLabelsResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}:listAllFeedbackLabels",
                  "path": "v1/{+parent}:listAllFeedbackLabels",
                  "description": "List all feedback labels by project number.",
                  "parameters": {
                    "pageSize": {
                      "description": "Optional. The maximum number of feedback labels to return in the response. A valid page size ranges from 0 to 100,000 inclusive. If the page size is zero or unspecified, a default page size of 100 will be chosen. Note that a call might return fewer results than the requested page size.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "Optional. The value returned by the last `ListAllFeedbackLabelsResponse`. This value indicates that this is a continuation of a prior `ListAllFeedbackLabels` call and that the system should return the next page of data.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent resource of all feedback labels per project.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                      "location": "path"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A filter to reduce results to a specific subset in the entire project. Supports disjunctions (OR) and conjunctions (AND). Supported fields: * `issue_model_id` * `qa_question_id` * `min_create_time` * `max_create_time` * `min_update_time` * `max_update_time` * `feedback_label_type`: QUALITY_AI, TOPIC_MODELING"
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "patch": {
                  "id": "contactcenterinsights.projects.locations.datasets.patch",
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1Dataset"
                  },
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1Dataset"
                  },
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The list of fields to update.",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Immutable. Identifier. Resource name of the dataset. Format: projects/{project}/locations/{location}/datasets/{dataset}"
                    }
                  },
                  "description": "Updates a dataset.",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PATCH"
                },
                "list": {
                  "parameters": {
                    "filter": {
                      "description": "Optional. A filter to reduce results to a specific subset. Useful for querying datasets with specific properties. Supported fields include, for Q2 though we only support list by project: - `type` - `description` - `project_number`",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent resource of the dataset.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of datasets to return in the response. If this value is zero, the service will select a default size. A call might return fewer objects than requested. A non-empty `next_page_token` in the response indicates that more data is available.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "Optional. The value returned by the last `ListDatasetsResponse`; indicates that this is a continuation of a prior `ListDatasets` call and the system should return the next page of data.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "description": "List datasets matching the input.",
                  "path": "v1/{+parent}/datasets",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "id": "contactcenterinsights.projects.locations.datasets.list",
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1ListDatasetsResponse"
                  }
                },
                "bulkDeleteFeedbackLabels": {
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}:bulkDeleteFeedbackLabels",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}:bulkDeleteFeedbackLabels",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent resource for new feedback labels.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                      "location": "path"
                    }
                  },
                  "description": "Delete feedback labels in bulk using a filter.",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "id": "contactcenterinsights.projects.locations.datasets.bulkDeleteFeedbackLabels",
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1BulkDeleteFeedbackLabelsRequest"
                  }
                }
              }
            },
            "views": {
              "methods": {
                "patch": {
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/views/{viewsId}",
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "description": "The list of fields to be updated.",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/views/[^/]+$",
                      "location": "path",
                      "description": "Immutable. The resource name of the view. Format: projects/{project}/locations/{location}/views/{view}",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "Updates a view.",
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1View"
                  },
                  "id": "contactcenterinsights.projects.locations.views.patch",
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1View"
                  }
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/views/{viewsId}",
                  "path": "v1/{+name}",
                  "description": "Gets a view.",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the view to get.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/views/[^/]+$",
                      "location": "path"
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "contactcenterinsights.projects.locations.views.get",
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1View"
                  }
                },
                "list": {
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1ListViewsResponse"
                  },
                  "id": "contactcenterinsights.projects.locations.views.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent resource of the views.",
                      "required": true,
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "The maximum number of views to return in the response. If this value is zero, the service will select a default size. A call may return fewer objects than requested. A non-empty `next_page_token` in the response indicates that more data is available.",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The value returned by the last `ListViewsResponse`; indicates that this is a continuation of a prior `ListViews` call and the system should return the next page of data."
                    }
                  },
                  "description": "Lists views.",
                  "path": "v1/{+parent}/views",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/views"
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the view to delete.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/views/[^/]+$",
                      "location": "path"
                    }
                  },
                  "description": "Deletes a view.",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/views/{viewsId}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "id": "contactcenterinsights.projects.locations.views.delete"
                },
                "create": {
[...]
