{
  "canonicalName": "Shopping Content",
  "fullyEncodeReservedExpansion": true,
  "batchPath": "batch",
  "servicePath": "content/v2.1/",
  "ownerName": "Google",
  "baseUrl": "https://shoppingcontent.googleapis.com/content/v2.1/",
  "basePath": "/content/v2.1/",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "PriceInsights": {
      "type": "object",
      "id": "PriceInsights",
      "description": "Price insights fields requested by the merchant in the query. Field values are only set if the merchant queries `PriceInsightsProductView`. https://support.google.com/merchants/answer/11916926",
      "properties": {
        "suggestedPriceMicros": {
          "description": "The latest suggested price in micros (1 millionth of a standard unit, 1 USD = 1000000 micros) for the product.",
          "format": "int64",
          "type": "string"
        },
        "predictedClicksChangeFraction": {
          "description": "The predicted change in clicks as a fraction after introducing the suggested price compared to current active price. For example, 0.05 is a 5% predicted increase in clicks.",
          "format": "double",
          "type": "number"
        },
        "predictedGrossProfitChangeFraction": {
          "description": "*Deprecated*: This field is no longer supported and will start returning 0. The predicted change in gross profit as a fraction after introducing the suggested price compared to current active price. For example, 0.05 is a 5% predicted increase in gross profit.",
          "format": "double",
          "type": "number"
        },
        "suggestedPriceCurrencyCode": {
          "description": "The suggested price currency (ISO 4217 code).",
          "type": "string"
        },
        "predictedImpressionsChangeFraction": {
          "description": "The predicted change in impressions as a fraction after introducing the suggested price compared to current active price. For example, 0.05 is a 5% predicted increase in impressions.",
          "format": "double",
          "type": "number"
        },
        "predictedMonthlyGrossProfitChangeMicros": {
          "description": "*Deprecated*: This field is no longer supported and will start returning 0. The predicted change in gross profit in micros (1 millionth of a standard unit, 1 USD = 1000000 micros) after introducing the suggested price for a month compared to current active price.",
          "format": "int64",
          "type": "string"
        },
        "predictedConversionsChangeFraction": {
          "type": "number",
          "description": "The predicted change in conversions as a fraction after introducing the suggested price compared to current active price. For example, 0.05 is a 5% predicted increase in conversions).",
          "format": "double"
        },
        "predictedMonthlyGrossProfitChangeCurrencyCode": {
          "type": "string",
          "description": "*Deprecated*: This field is no longer supported and will start returning USD for all requests. The predicted monthly gross profit change currency (ISO 4217 code)."
        },
        "effectiveness": {
          "type": "string",
          "enumDescriptions": [
            "Effectiveness is unknown.",
            "Effectiveness is low.",
            "Effectiveness is medium.",
            "Effectiveness is high."
          ],
          "enum": [
            "EFFECTIVENESS_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH"
          ],
          "description": "The predicted effectiveness of applying the price suggestion, bucketed."
        }
      }
    },
    "ProductWeight": {
      "properties": {
        "value": {
          "type": "number",
          "description": "Required. The weight represented as a number. The weight can have a maximum precision of four decimal places.",
          "format": "double"
        },
        "unit": {
          "description": "Required. The weight unit. Acceptable values are: - \"`g`\" - \"`kg`\" - \"`oz`\" - \"`lb`\" ",
          "type": "string"
        }
      },
      "id": "ProductWeight",
      "type": "object"
    },
    "ProductViewItemIssueItemIssueType": {
      "description": "Type of the item issue.",
      "properties": {
        "code": {
          "type": "string",
          "description": "Error code of the issue."
        },
        "canonicalAttribute": {
          "type": "string",
          "description": "Canonical attribute name for attribute-specific issues."
        }
      },
      "type": "object",
      "id": "ProductViewItemIssueItemIssueType"
    },
    "ReturnPolicyOnline": {
      "id": "ReturnPolicyOnline",
      "type": "object",
      "description": "Return policy online object. This is currently used to represent return policies for ads and free listings programs.",
      "properties": {
        "label": {
          "description": "The unique user-defined label of the return policy. The same label cannot be used in different return policies for the same country. Policies with the label 'default' will apply to all products, unless a product specifies a return_policy_label attribute.",
          "type": "string"
        },
        "returnMethods": {
          "type": "array",
          "items": {
            "enum": [
              "RETURN_METHOD_UNSPECIFIED",
              "BY_MAIL",
              "IN_STORE",
              "AT_A_KIOSK"
            ],
            "type": "string",
            "enumDescriptions": [
              "Default value. This value is unused.",
              "By mail.",
              "In store.",
              "At a kiosk."
            ]
          },
          "description": "The return methods of how customers can return an item. This value is required to not be empty unless the type of return policy is noReturns."
        },
        "policy": {
          "description": "The return policy.",
          "$ref": "ReturnPolicyOnlinePolicy"
        },
        "countries": {
          "description": "The countries of sale where the return policy is applicable. The values must be a valid 2 letter ISO 3166 code, e.g. \"US\".",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "returnPolicyId": {
          "description": "Output only. Return policy ID generated by Google.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the policy as shown in Merchant Center."
        },
        "returnReasonCategoryInfo": {
          "description": "The return reason category information. This required to not be empty unless the type of return policy is noReturns.",
          "type": "array",
          "items": {
            "$ref": "ReturnPolicyOnlineReturnReasonCategoryInfo"
          }
        },
        "returnPolicyUri": {
          "type": "string",
          "description": "The return policy uri. This can used by Google to do a sanity check for the policy."
        },
        "restockingFee": {
          "description": "The restocking fee that applies to all return reason categories. This would be treated as a free restocking fee if the value is not set.",
          "$ref": "ReturnPolicyOnlineRestockingFee"
        },
        "itemConditions": {
          "description": "The item conditions that are accepted for returns. This is required to not be empty unless the type of return policy is noReturns.",
          "type": "array",
          "items": {
            "enum": [
              "ITEM_CONDITION_UNSPECIFIED",
              "NEW",
              "USED"
            ],
            "type": "string",
            "enumDescriptions": [
              "Default value. This value is unused.",
              "New.",
              "Used."
            ]
          }
        }
      }
    },
    "DeliveryTime": {
      "properties": {
        "handlingBusinessDayConfig": {
          "$ref": "BusinessDayConfig",
          "description": "The business days during which orders can be handled. If not provided, Monday to Friday business days will be assumed."
        },
        "warehouseBasedDeliveryTimes": {
          "description": "Indicates that the delivery time should be calculated per warehouse (shipping origin location) based on the settings of the selected carrier. When set, no other transit time related field in DeliveryTime should be set.",
          "type": "array",
          "items": {
            "$ref": "WarehouseBasedDeliveryTime"
          }
        },
        "transitTimeTable": {
          "$ref": "TransitTable",
          "description": "Transit time table, number of business days spent in transit based on row and column dimensions. Either `{min,max}TransitTimeInDays` or `transitTimeTable` can be set, but not both."
        },
        "minHandlingTimeInDays": {
          "type": "integer",
          "description": "Minimum number of business days spent before an order is shipped. 0 means same day shipped, 1 means next day shipped.",
          "format": "uint32"
        },
        "maxTransitTimeInDays": {
          "description": "Maximum number of business days that are spent in transit. 0 means same day delivery, 1 means next day delivery. Must be greater than or equal to `minTransitTimeInDays`.",
          "format": "uint32",
          "type": "integer"
        },
        "cutoffTime": {
          "description": "Business days cutoff time definition. If not configured, the cutoff time will be defaulted to 8AM PST. If local delivery, use Service.StoreConfig.CutoffConfig.",
          "$ref": "CutoffTime"
        },
        "maxHandlingTimeInDays": {
          "type": "integer",
          "description": "Maximum number of business days spent before an order is shipped. 0 means same day shipped, 1 means next day shipped. Must be greater than or equal to `minHandlingTimeInDays`.",
          "format": "uint32"
        },
        "minTransitTimeInDays": {
          "type": "integer",
          "description": "Minimum number of business days that are spent in transit. 0 means same day delivery, 1 means next day delivery. Either `{min,max}TransitTimeInDays` or `transitTimeTable` must be set, but not both.",
          "format": "uint32"
        },
        "transitBusinessDayConfig": {
          "description": "The business days during which orders can be in-transit. If not provided, Monday to Friday business days will be assumed.",
          "$ref": "BusinessDayConfig"
        },
        "holidayCutoffs": {
          "description": "Holiday cutoff definitions. If configured, they specify order cutoff times for holiday-specific shipping.",
          "type": "array",
          "items": {
            "$ref": "HolidayCutoff"
          }
        }
      },
      "id": "DeliveryTime",
      "type": "object"
    },
    "AccountStatusStatistics": {
      "properties": {
        "disapproved": {
          "description": "Number of disapproved offers.",
          "format": "int64",
          "type": "string"
        },
        "pending": {
          "type": "string",
          "description": "Number of pending offers.",
          "format": "int64"
        },
        "active": {
          "type": "string",
          "description": "Number of active offers.",
          "format": "int64"
        },
        "expiring": {
          "description": "Number of expiring offers.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "id": "AccountStatusStatistics"
    },
    "MethodQuota": {
      "id": "MethodQuota",
      "type": "object",
      "description": "The quota information per method in the Content API.",
      "properties": {
        "quotaLimit": {
          "description": "Output only. The maximum number of calls allowed per day for the method.",
          "format": "int64",
          "type": "string",
          "readOnly": true
        },
        "quotaMinuteLimit": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The maximum number of calls allowed per minute for the method.",
          "format": "int64"
        },
        "method": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The method name, for example `products.list`. Method name does not contain version because quota can be shared between different API versions of the same method."
        },
        "quotaUsage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The current quota usage, meaning the number of calls already made to the method per day. Usage is reset every day at 12 PM midday UTC.",
          "format": "int64"
        }
      }
    },
    "UndeleteConversionSourceRequest": {
      "type": "object",
      "id": "UndeleteConversionSourceRequest",
      "description": "Request message for the UndeleteConversionSource method.",
      "properties": {}
    },
    "GmbAccountsGmbAccount": {
      "type": "object",
      "id": "GmbAccountsGmbAccount",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the Business Profile."
        },
        "email": {
          "type": "string",
          "description": "The email which identifies the Business Profile."
        },
        "listingCount": {
          "type": "string",
          "description": "Number of listings under this account.",
          "format": "uint64"
        },
        "type": {
          "description": "The type of the Business Profile (User or Business).",
          "type": "string"
        }
      }
    },
    "ProductDimension": {
      "id": "ProductDimension",
      "type": "object",
      "properties": {
        "value": {
          "description": "Required. The length value represented as a number. The value can have a maximum precision of four decimal places.",
          "format": "double",
          "type": "number"
        },
        "unit": {
          "type": "string",
          "description": "Required. The length units. Acceptable values are: - \"`in`\" - \"`cm`\" "
        }
      }
    },
    "OrderTrackingSignalShipmentLineItemMapping": {
      "id": "OrderTrackingSignalShipmentLineItemMapping",
      "type": "object",
      "description": "Represents how many items are in the shipment for the given shipment_id and line_item_id.",
      "properties": {
        "shipmentId": {
          "description": "Required. The shipment ID. This field will be hashed in returned OrderTrackingSignal creation response.",
          "type": "string"
        },
        "quantity": {
          "description": "The line item quantity in the shipment.",
          "format": "int64",
          "type": "string"
        },
        "lineItemId": {
          "description": "Required. The line item ID.",
          "type": "string"
        }
      }
    },
    "RegionalinventoryCustomBatchRequestEntry": {
      "description": "A batch entry encoding a single non-batch regional inventory request.",
      "properties": {
        "batchId": {
          "type": "integer",
          "description": "An entry ID, unique within the batch request.",
          "format": "uint32"
        },
        "merchantId": {
          "type": "string",
          "description": "The ID of the managing account.",
          "format": "uint64"
        },
        "productId": {
          "description": "The ID of the product for which to update price and availability.",
          "type": "string"
        },
        "method": {
          "type": "string",
          "description": "Method of the batch request entry. Acceptable values are: - \"`insert`\" "
        },
        "regionalInventory": {
          "$ref": "RegionalInventory",
          "description": "Price and availability of the product."
        }
      },
      "type": "object",
      "id": "RegionalinventoryCustomBatchRequestEntry"
    },
    "AccountstatusesCustomBatchResponse": {
      "type": "object",
      "id": "AccountstatusesCustomBatchResponse",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#accountstatusesCustomBatchResponse`\".",
          "type": "string"
        },
        "entries": {
          "type": "array",
          "items": {
            "$ref": "AccountstatusesCustomBatchResponseEntry"
          },
          "description": "The result of the execution of the batch requests."
        }
      }
    },
    "InputFieldCheckboxInput": {
      "type": "object",
      "id": "InputFieldCheckboxInput",
      "description": "Checkbox input allows merchants to provide a boolean value. Corresponds to the [html input type=checkbox](https://www.w3.org/TR/2012/WD-html-markup-20121025/input.checkbox.html#input.checkbox). If merchant checks the box, the input value for the field is `true`, otherwise it is `false`. This type of input is often used as a confirmation that the merchant completed required steps before they are allowed to start the action. In such a case, the input field is marked as required and the button to trigger the action should stay disabled until the merchant checks the box.",
      "properties": {}
    },
    "ShippingsettingsCustomBatchResponseEntry": {
      "description": "A batch entry encoding a single non-batch shipping settings response.",
      "properties": {
        "errors": {
          "description": "A list of errors for failed custombatch entries. *Note:* Schema errors fail the whole request.",
          "$ref": "Errors"
        },
        "shippingSettings": {
          "description": "The retrieved or updated account shipping settings.",
          "$ref": "ShippingSettings"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#shippingsettingsCustomBatchResponseEntry`\"",
          "type": "string"
        },
        "batchId": {
          "description": "The ID of the request entry to which this entry responds.",
          "format": "uint32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "ShippingsettingsCustomBatchResponseEntry"
    },
    "AccountCredentials": {
      "type": "object",
      "id": "AccountCredentials",
      "description": "Credentials allowing Google to call a partner's API on behalf of a merchant.",
      "properties": {
        "expiresIn": {
          "type": "string",
          "description": "The amount of time, in seconds, after which the access token is no longer valid.",
          "format": "int64"
        },
        "purpose": {
          "enum": [
            "ACCOUNT_CREDENTIALS_PURPOSE_UNSPECIFIED",
            "SHOPIFY_ORDER_MANAGEMENT",
            "SHOPIFY_INTEGRATION"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown purpose.",
            "The credentials allow Google to manage Shopify orders on behalf of the merchant (deprecated).",
            "The credentials allow Google to manage Shopify integration on behalf of the merchant."
          ],
          "enumDeprecated": [
            false,
            true,
            false
          ],
          "description": "Indicates to Google how Google should use these OAuth tokens."
        },
        "accessToken": {
          "description": "An OAuth access token.",
          "type": "string"
        }
      }
    },
    "BuiltInSimpleAction": {
      "description": "Action that is implemented and performed in (your) third-party application. Represents various functionality that is expected to be available to merchant and will help them with resolving the issue. The application should point the merchant to the place, where they can access the corresponding functionality. If the functionality is not supported, it is recommended to explain the situation to merchant and provide them with instructions how to solve the issue.",
      "properties": {
        "type": {
          "description": "The type of action that represents a functionality that is expected to be available in third-party application.",
          "enum": [
            "BUILT_IN_SIMPLE_ACTION_TYPE_UNSPECIFIED",
            "VERIFY_PHONE",
            "CLAIM_WEBSITE",
            "ADD_PRODUCTS",
            "ADD_CONTACT_INFO",
            "LINK_ADS_ACCOUNT",
            "ADD_BUSINESS_REGISTRATION_NUMBER",
            "EDIT_ITEM_ATTRIBUTE",
            "FIX_ACCOUNT_ISSUE",
            "SHOW_ADDITIONAL_CONTENT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. Will never be provided by the API.",
            "Redirect merchant to the part of your application where they can verify their phone.",
            "Redirect merchant to the part of your application where they can claim their website.",
            "Redirect merchant to the part of your application where they can add products.",
            "Open a form where the merchant can edit their contact information.",
            "Redirect merchant to the part of your application where they can link ads account.",
            "Open a form where the merchant can add their business registration number.",
            "Open a form where the merchant can edit an attribute. The attribute that needs to be updated is specified in attribute_code field of the action.",
            "Redirect merchant from the product issues to the diagnostic page with their account issues in your application. This action will be returned only for product issues that are caused by an account issue and thus merchant should resolve the problem on the account level.",
            "Show additional content to the merchant. This action will be used for example to deliver a justification from national authority."
          ]
        },
        "additionalContent": {
          "$ref": "BuiltInSimpleActionAdditionalContent",
          "description": "Long text from an external source that should be available to the merchant. Present when the type is `SHOW_ADDITIONAL_CONTENT`."
        },
        "attributeCode": {
          "description": "The attribute that needs to be updated. Present when the type is `EDIT_ITEM_ATTRIBUTE`. This field contains a code for attribute, represented in snake_case. You can find a list of product's attributes, with their codes [here](https://support.google.com/merchants/answer/7052112).",
          "type": "string"
        }
      },
      "type": "object",
      "id": "BuiltInSimpleAction"
    },
    "RegionPostalCodeArea": {
      "description": "A list of postal codes that defines the region area. Note: All regions defined using postal codes are accessible via the account's `ShippingSettings.postalCodeGroups` resource.",
      "properties": {
        "regionCode": {
          "description": "Required. CLDR territory code or the country the postal code group applies to.",
          "type": "string"
        },
        "postalCodes": {
          "description": "Required. A range of postal codes.",
          "type": "array",
          "items": {
            "$ref": "RegionPostalCodeAreaPostalCodeRange"
          }
        }
      },
      "type": "object",
      "id": "RegionPostalCodeArea"
    },
    "PosListResponse": {
      "properties": {
        "resources": {
          "type": "array",
          "items": {
            "$ref": "PosStore"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#posListResponse`\".",
          "type": "string"
        }
      },
      "id": "PosListResponse",
      "type": "object"
    },
    "AccountsAuthInfoResponse": {
      "type": "object",
      "id": "AccountsAuthInfoResponse",
      "properties": {
        "accountIdentifiers": {
          "items": {
            "$ref": "AccountIdentifier"
          },
          "type": "array",
          "description": "The account identifiers corresponding to the authenticated user. - For an individual account: only the merchant ID is defined - For an aggregator: only the aggregator ID is defined - For a subaccount of an MCA: both the merchant ID and the aggregator ID are defined. "
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#accountsAuthInfoResponse`\"."
        }
      }
    },
    "LiaAboutPageSettings": {
      "type": "object",
      "id": "LiaAboutPageSettings",
      "properties": {
        "status": {
          "type": "string",
          "description": "The status of the verification process for the About page. Supported values are: - \"`active`\" - \"`inactive`\" - \"`pending`\" "
        },
        "url": {
          "description": "The URL for the About page.",
          "type": "string"
        }
      }
    },
    "InputValueTextInputValue": {
      "id": "InputValueTextInputValue",
      "type": "object",
      "description": "Value for text input field.",
      "properties": {
        "value": {
          "type": "string",
          "description": "Required. Text provided by the merchant."
        }
      }
    },
    "CollectionStatus": {
      "description": "The collectionstatus message.",
      "properties": {
        "lastUpdateDate": {
          "description": "Date on which the collection has been last updated in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format: Date, time, and offset, for example \"2020-01-02T09:00:00+01:00\" or \"2020-01-02T09:00:00Z\"",
          "type": "string"
        },
        "id": {
          "description": "Required. The ID of the collection for which status is reported.",
          "type": "string"
        },
        "creationDate": {
          "description": "Date on which the collection has been created in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format: Date, time, and offset, for example \"2020-01-02T09:00:00+01:00\" or \"2020-01-02T09:00:00Z\"",
          "type": "string"
        },
        "destinationStatuses": {
          "type": "array",
          "items": {
            "$ref": "CollectionStatusDestinationStatus"
          },
          "description": "The intended destinations for the collection."
        },
        "collectionLevelIssuses": {
          "description": "A list of all issues associated with the collection.",
          "items": {
            "$ref": "CollectionStatusItemLevelIssue"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "CollectionStatus"
    },
    "ProductsCustomBatchResponseEntry": {
      "type": "object",
      "id": "ProductsCustomBatchResponseEntry",
      "description": "A batch entry encoding a single non-batch products response.",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#productsCustomBatchResponseEntry`\"",
          "type": "string"
        },
        "batchId": {
          "type": "integer",
          "description": "The ID of the request entry this entry responds to.",
          "format": "uint32"
        },
        "product": {
          "description": "The inserted product. Only defined if the method is `insert` and if the request was successful.",
          "$ref": "Product"
        },
        "errors": {
          "$ref": "Errors",
          "description": "A list of errors for failed custombatch entries. *Note:* Schema errors fail the whole request."
        }
      }
    },
    "AccountYouTubeChannelLink": {
      "properties": {
        "channelId": {
          "description": "Channel ID.",
          "type": "string"
        },
        "status": {
          "description": "Status of the link between this Merchant Center account and the YouTube channel. Upon retrieval, it represents the actual status of the link and can be either `active` if it was approved in YT Creator Studio or `pending` if it's pending approval. Upon insertion, it represents the *intended* status of the link. Re-uploading a link with status `active` when it's still pending or with status `pending` when it's already active will have no effect: the status will remain unchanged. Re-uploading a link with deprecated status `inactive` is equivalent to not submitting the link at all and will delete the link if it was active or cancel the link request if it was pending.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "AccountYouTubeChannelLink"
    },
    "UrlSettings": {
      "type": "object",
      "id": "UrlSettings",
      "description": "Specifications related to the `Checkout` URL. The `UriTemplate` is of the form `https://www.mystore.com/checkout?item_id={id}` where `{id}` will be automatically replaced with data from the merchant account with this attribute [offer_id](https://developers.google.com/shopping-content/reference/rest/v2.1/products#Product.FIELDS.offer_id)",
      "properties": {
        "checkoutUriTemplate": {
          "description": "URL template when the placeholders are expanded will redirect the buyer to the merchant checkout page with the item in the cart.",
          "type": "string"
        },
        "cartUriTemplate": {
          "description": "URL template when the placeholders are expanded will redirect the buyer to the cart page on the merchant website with the selected item in cart.",
          "type": "string"
        }
      }
    },
    "ListAccountReturnCarrierResponse": {
      "description": "Response for listing account return carriers.",
      "properties": {
        "accountReturnCarriers": {
          "description": "List of all available account return carriers for the merchant.",
          "items": {
            "$ref": "AccountReturnCarrier"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListAccountReturnCarrierResponse"
    },
    "PosCustomBatchRequest": {
      "id": "PosCustomBatchRequest",
      "type": "object",
      "properties": {
        "entries": {
          "type": "array",
          "items": {
            "$ref": "PosCustomBatchRequestEntry"
          },
          "description": "The request entries to be processed in the batch."
        }
      }
    },
    "ShoppingAdsProgramStatusReviewIneligibilityReasonDetails": {
      "type": "object",
      "id": "ShoppingAdsProgramStatusReviewIneligibilityReasonDetails",
      "description": "Additional details for review ineligibility reasons.",
      "properties": {
        "cooldownTime": {
          "description": "This timestamp represents end of cooldown period for review ineligbility reason `IN_COOLDOWN_PERIOD`.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "AccountImageImprovementsSettings": {
      "type": "object",
      "id": "AccountImageImprovementsSettings",
      "description": "Settings for the Automatic Image Improvements.",
      "properties": {
        "allowAutomaticImageImprovements": {
          "description": "Enables automatic image improvements.",
          "type": "boolean"
        }
      }
    },
    "VerifyPhoneNumberRequest": {
      "type": "object",
      "id": "VerifyPhoneNumberRequest",
      "description": "Request message for the VerifyPhoneNumber method.",
      "properties": {
        "verificationCode": {
          "description": "The verification code that was sent to the phone number for validation.",
          "type": "string"
        },
        "phoneVerificationMethod": {
          "description": "Verification method used to receive verification code.",
          "type": "string",
          "enumDescriptions": [
            "Unknown method.",
            "Receive verification code by SMS.",
            "Receive verification code by phone call."
          ],
          "enum": [
            "PHONE_VERIFICATION_METHOD_UNSPECIFIED",
            "SMS",
            "PHONE_CALL"
          ]
        },
        "verificationId": {
          "type": "string",
          "description": "The verification ID returned by `requestphoneverification`."
        }
      }
    },
    "RenderProductIssuesRequestPayload": {
      "description": "The payload for configuring how the content should be rendered.",
      "properties": {
        "contentOption": {
          "type": "string",
          "enumDescriptions": [
            "Default value. Will never be provided by the API.",
            "Returns the detail of the issue as a pre-rendered HTML text."
          ],
          "enum": [
            "CONTENT_OPTION_UNSPECIFIED",
            "PRE_RENDERED_HTML"
          ],
          "description": "Optional. How the detailed content should be returned. Default option is to return the content as a pre-rendered HTML text."
        },
        "userInputActionOption": {
          "description": "Optional. How actions with user input form should be handled. If not provided, actions will be returned as links that points merchant to Merchant Center where they can request the action.",
          "enum": [
            "USER_INPUT_ACTION_RENDERING_OPTION_UNSPECIFIED",
            "REDIRECT_TO_MERCHANT_CENTER",
            "BUILT_IN_USER_INPUT_ACTIONS"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. Will never be provided by the API.",
            "Actions that require user input are represented only as links that points merchant to Merchant Center where they can request the action. Provides easier to implement alternative to `BUILT_IN_USER_INPUT_ACTIONS`.",
            "Returns content and input form definition for each complex action. Your application needs to display this content and input form to the merchant before they can request processing of the action. To start the action, your application needs to call the `triggeraction` method."
          ]
        }
      },
      "type": "object",
      "id": "RenderProductIssuesRequestPayload"
    },
    "PosDataProvidersPosDataProvider": {
      "id": "PosDataProvidersPosDataProvider",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The display name of Pos data Provider."
        },
        "providerId": {
          "description": "The ID of the account.",
          "format": "uint64",
          "type": "string"
        },
        "fullName": {
          "description": "The full name of this POS data Provider.",
          "type": "string"
        }
      }
    },
    "ProductDeliveryTime": {
      "type": "object",
      "id": "ProductDeliveryTime",
      "description": "The estimated days to deliver a product after an order is placed. Only authorized shipping signals partners working with a merchant can use this resource. Merchants should use the [`products`](https://developers.google.com/shopping-content/reference/rest/v2.1/products#productshipping) resource instead.",
      "properties": {
        "productId": {
          "description": "Required. The `id` of the product.",
          "$ref": "ProductId"
        },
        "areaDeliveryTimes": {
          "description": "Required. A set of associations between `DeliveryArea` and `DeliveryTime` entries. The total number of `areaDeliveryTimes` can be at most 100.",
          "items": {
            "$ref": "ProductDeliveryTimeAreaDeliveryTime"
          },
          "type": "array"
        }
      }
    },
    "WarehouseBasedDeliveryTime": {
      "type": "object",
      "id": "WarehouseBasedDeliveryTime",
      "properties": {
        "originPostalCode": {
          "type": "string",
          "description": "Shipping origin."
        },
        "originStreetAddress": {
          "description": "Shipping origin's street address.",
          "type": "string"
        },
        "originAdministrativeArea": {
          "type": "string",
          "description": "Shipping origin's state."
        },
        "carrier": {
          "type": "string",
          "description": "Required. Carrier, such as `\"UPS\"` or `\"Fedex\"`. The list of supported carriers can be retrieved through the `listSupportedCarriers` method."
        },
        "originCountry": {
          "type": "string",
          "description": "Shipping origin's country represented as a [CLDR territory code](https://github.com/unicode-org/cldr/blob/latest/common/main/en.xml)."
        },
        "carrierService": {
          "type": "string",
          "description": "Required. Carrier service, such as `\"ground\"` or `\"2 days\"`. The list of supported services for a carrier can be retrieved through the `listSupportedCarriers` method. The name of the service must be in the eddSupportedServices list."
        },
        "warehouseName": {
          "description": "The name of the warehouse. Warehouse name need to be matched with name. If warehouseName is set, the below fields will be ignored. The warehouse info will be read from warehouse.",
          "type": "string"
        },
        "originCity": {
          "description": "Shipping origin's city.",
          "type": "string"
        }
      }
    },
    "AccountItemUpdates": {
      "description": "Turning on [item updates](https://support.google.com/merchants/answer/3246284) allows Google to automatically update items for you. When item updates are on, Google uses the structured data markup on the website and advanced data extractors to update the price and availability of the items. When the item updates are off, items with mismatched data aren't shown.",
      "properties": {
        "effectiveAllowPriceUpdates": {
          "description": "Output only. The effective value of allow_price_updates. If account_item_updates_settings is present, then this value is the same. Otherwise, it represents the inherited value of the parent account. Read-only.",
          "readOnly": true,
          "type": "boolean"
        },
        "accountItemUpdatesSettings": {
          "description": "Determines which attributes of the items should be automatically updated. If this field is not present, then the settings will be deleted. If there are no settings for subaccount, they are inherited from aggregator.",
          "$ref": "AccountItemUpdatesSettings"
        },
        "effectiveAllowAvailabilityUpdates": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. The effective value of allow_availability_updates. If account_item_updates_settings is present, then this value is the same. Otherwise, it represents the inherited value of the parent account. Read-only."
        },
        "effectiveAllowStrictAvailabilityUpdates": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. The effective value of allow_strict_availability_updates. If account_item_updates_settings is present, then this value is the same. Otherwise, it represents the inherited value of the parent account. Read-only."
        },
        "effectiveAllowConditionUpdates": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. The effective value of allow_condition_updates. If account_item_updates_settings is present, then this value is the same. Otherwise, it represents the inherited value of the parent account. Read-only."
        }
      },
      "id": "AccountItemUpdates",
      "type": "object"
    },
    "PosInventoryResponse": {
      "type": "object",
      "id": "PosInventoryResponse",
      "properties": {
        "price": {
          "description": "Required. The current price of the item.",
          "$ref": "Price"
        },
        "contentLanguage": {
          "type": "string",
          "description": "Required. The two-letter ISO 639-1 language code for the item."
        },
        "timestamp": {
          "description": "Required. The inventory timestamp, in ISO 8601 format.",
          "type": "string"
        },
        "storeCode": {
          "type": "string",
          "description": "Required. The identifier of the merchant's store. Either a `storeCode` inserted through the API or the code of the store in a Business Profile."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#posInventoryResponse`\".",
          "type": "string"
        },
        "gtin": {
          "type": "string",
          "description": "Global Trade Item Number."
        },
        "itemId": {
          "description": "Required. A unique identifier for the item.",
          "type": "string"
        },
        "pickupMethod": {
          "description": "Optional. Supported pickup method for this offer. Unless the value is \"not supported\", this field must be submitted together with `pickupSla`. For accepted attribute values, see the [local product inventory feed specification](https://support.google.com/merchants/answer/3061342).",
          "type": "string"
        },
        "pickupSla": {
          "type": "string",
          "description": "Optional. Expected date that an order will be ready for pickup relative to the order date. Must be submitted together with `pickupMethod`. For accepted attribute values, see the [local product inventory feed specification](https://support.google.com/merchants/answer/3061342)."
        },
        "targetCountry": {
          "type": "string",
          "description": "Required. The CLDR territory code for the item."
        },
        "quantity": {
          "description": "Required. The available quantity of the item.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "Promotion": {
      "description": "Represents a promotion. See the following articles for more details. * [Promotions feed specification](https://support.google.com/merchants/answer/2906014) * [Local promotions feed specification](https://support.google.com/merchants/answer/10146130) * [Promotions on Buy on Google product data specification](https://support.google.com/merchants/answer/9173673)",
      "properties": {
        "longTitle": {
          "type": "string",
          "description": "Required. Long title for the promotion."
        },
        "itemGroupIdExclusion": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Product filter by item group ID exclusion for the promotion."
        },
        "promotionEffectiveDates": {
          "type": "string",
          "deprecated": true,
          "description": "String representation of the promotion effective dates. Deprecated. Use `promotion_effective_time_period` instead."
        },
        "redemptionRestriction": {
          "description": "The redemption restriction for the promotion.",
          "type": "string",
          "enumDescriptions": [
            "The redemption restriction is unspecified.",
            "The customer must subscribe to the merchant's channel to redeem the promotion.",
            "The customer must be a first-time customer to redeem the promotion.",
            "The customer must sign up for email's to redeem the promotion.",
            "The customer must sign up for text to redeem the promotion.",
            "The customer must use a specific form of payment to redeem the promotion.",
            "The customer must meet a custom restriction to redeem the promotion. If selected, the `custom_redemption_restriction` field must be set."
          ],
          "enum": [
            "REDEMPTION_RESTRICTION_UNSPECIFIED",
            "SUBSCRIBE_AND_SAVE",
            "FIRST_ORDER",
            "SIGN_UP_FOR_EMAIL",
            "SIGN_UP_FOR_TEXT",
            "FORMS_OF_PAYMENT",
            "CUSTOM"
          ]
        },
        "brandExclusion": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Product filter by brand exclusion for the promotion."
        },
        "percentOff": {
          "description": "The percentage discount offered in the promotion.",
          "format": "int32",
          "type": "integer"
        },
        "promotionEffectiveTimePeriod": {
          "description": "Required. `TimePeriod` representation of the promotion's effective dates.",
          "$ref": "TimePeriod"
        },
        "itemGroupId": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Product filter by item group ID for the promotion."
        },
        "freeGiftValue": {
          "description": "Free gift value for the promotion.",
          "$ref": "PriceAmount"
        },
        "maxDiscountAmount": {
          "$ref": "PriceAmount",
          "description": "The maximum monetary discount a customer can receive for the promotion. This field is only supported with the `Percent off` coupon value type."
        },
        "couponValueType": {
          "enum": [
            "COUPON_VALUE_TYPE_UNSPECIFIED",
            "MONEY_OFF",
            "PERCENT_OFF",
            "BUY_M_GET_N_MONEY_OFF",
            "BUY_M_GET_N_PERCENT_OFF",
            "BUY_M_GET_MONEY_OFF",
            "BUY_M_GET_PERCENT_OFF",
            "FREE_GIFT",
            "FREE_GIFT_WITH_VALUE",
            "FREE_GIFT_WITH_ITEM_ID",
            "FREE_SHIPPING_STANDARD",
            "FREE_SHIPPING_OVERNIGHT",
            "FREE_SHIPPING_TWO_DAY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Indicates that the coupon value type is unspecified.",
            "Money off coupon value type.",
            "Percent off coupon value type.",
            "Buy M quantity, get N money off coupon value type. `buy_this_quantity` and `get_this_quantity` must be present. `money_off_amount` must also be present.",
            "Buy M quantity, get N percent off coupon value type. `buy_this_quantity` and `get_this_quantity` must be present. `percent_off_percentage` must also be present.",
            "Buy M quantity, get money off. `buy_this_quantity` and `money_off_amount` must be present.",
            "Buy M quantity, get money off. `buy_this_quantity` and `percent_off_percentage` must be present.",
            "Free gift with description only.",
            "Free gift with value (description is optional).",
            "Free gift with item ID (description is optional).",
            "Standard free shipping coupon value type.",
            "Overnight free shipping coupon value type.",
            "Two day free shipping coupon value type."
          ],
          "description": "Required. Coupon value type for the promotion."
        },
        "productType": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Product filter by product type for the promotion."
        },
        "promotionDisplayTimePeriod": {
          "$ref": "TimePeriod",
          "description": "`TimePeriod` representation of the promotion's display dates."
        },
        "storeApplicability": {
          "description": "Whether the promotion applies to all stores, or only specified stores. Local Inventory ads promotions throw an error if no store applicability is included. An INVALID_ARGUMENT error is thrown if store_applicability is set to ALL_STORES and store_code or score_code_exclusion is set to a value.",
          "type": "string",
          "enumDescriptions": [
            "Which store codes the promotion applies to is unknown.",
            "Promotion applies to all stores.",
            "Promotion applies to only the specified stores."
          ],
          "enum": [
            "STORE_APPLICABILITY_UNSPECIFIED",
            "ALL_STORES",
            "SPECIFIC_STORES"
          ]
        },
        "promotionId": {
          "description": "Required. The user provided promotion ID to uniquely identify the promotion.",
          "type": "string"
        },
        "brand": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Product filter by brand for the promotion."
        },
        "shippingServiceNames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Shipping service names for the promotion."
        },
        "minimumPurchaseAmount": {
          "description": "Minimum purchase amount for the promotion.",
          "$ref": "PriceAmount"
        },
        "storeCode": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Store codes to include for the promotion."
        },
        "promotionDestinationIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Destination ID for the promotion."
        },
        "getThisQuantityDiscounted": {
          "description": "The number of items discounted in the promotion.",
          "format": "int32",
          "type": "integer"
        },
        "limitValue": {
          "description": "Maximum purchase value for the promotion.",
          "$ref": "PriceAmount"
        },
        "orderLimit": {
          "type": "integer",
          "description": "Order limit for the promotion.",
          "format": "int32"
        },
        "itemId": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Product filter by item ID for the promotion."
        },
        "limitQuantity": {
          "type": "integer",
          "description": "Maximum purchase quantity for the promotion.",
          "format": "int32"
        },
        "storeCodeExclusion": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Store codes to exclude for the promotion."
        },
        "targetCountry": {
          "type": "string",
          "description": "Required. The target country used as part of the unique identifier. Can be `AU`, `CA`, `DE`, `FR`, `GB`, `IN`, `US`, `BR`, `ES`, `NL`, `JP`, `IT` or `KR`."
        },
        "productTypeExclusion": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Product filter by product type exclusion for the promotion."
        },
        "minimumPurchaseQuantity": {
          "type": "integer",
          "description": "Minimum purchase quantity for the promotion.",
          "format": "int32"
        },
        "itemIdExclusion": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Product filter by item ID exclusion for the promotion."
        },
        "freeGiftDescription": {
          "description": "Free gift description for the promotion.",
          "type": "string"
        },
        "redemptionChannel": {
          "description": "Required. Redemption channel for the promotion. At least one channel is required.",
          "type": "array",
          "items": {
            "enum": [
              "REDEMPTION_CHANNEL_UNSPECIFIED",
              "IN_STORE",
              "ONLINE"
            ],
            "type": "string",
            "enumDescriptions": [
              "Indicates that the channel is unspecified.",
              "Indicates that the channel is in store.",
              "Indicates that the channel is online."
            ]
          }
        },
        "genericRedemptionCode": {
          "type": "string",
          "description": "Generic redemption code for the promotion. To be used with the `offerType` field."
        },
        "freeGiftItemId": {
          "description": "Free gift item ID for the promotion.",
          "type": "string"
        },
        "moneyBudget": {
          "$ref": "PriceAmount",
          "description": "Cost cap for the promotion."
        },
        "moneyOffAmount": {
          "description": "The money off amount offered in the promotion.",
          "$ref": "PriceAmount"
        },
        "promotionUrl": {
          "description": "URL to the page on the merchant's site where the promotion shows. Local Inventory ads promotions throw an error if no promo url is included. URL is used to confirm that the promotion is valid and can be redeemed.",
          "type": "string"
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The REST promotion ID to uniquely identify the promotion. Content API methods that operate on promotions take this as their `promotionId` parameter. The REST ID for a promotion is of the form channel:contentLanguage:targetCountry:promotionId The `channel` field has a value of `\"online\"`, `\"in_store\"`, or `\"online_in_store\"`."
        },
        "promotionDisplayDates": {
          "deprecated": true,
          "type": "string",
          "description": "String representation of the promotion display dates. Deprecated. Use `promotion_display_time_period` instead."
        },
        "promotionStatus": {
          "readOnly": true,
          "$ref": "PromotionPromotionStatus",
          "description": "Output only. The current status of the promotion."
        },
        "customRedemptionRestriction": {
          "description": "The custom redemption restriction for the promotion. If the `redemption_restriction` field is set to `CUSTOM`, this field must be set.",
          "type": "string"
        },
        "offerType": {
          "description": "Required. Type of the promotion.",
          "type": "string",
          "enumDescriptions": [
            "Unknown offer type.",
            "Offer type without a code.",
            "Offer type with a code."
          ],
          "enum": [
            "OFFER_TYPE_UNSPECIFIED",
            "NO_CODE",
            "GENERIC_CODE"
          ]
        },
        "contentLanguage": {
          "type": "string",
          "description": "Required. The content language used as part of the unique identifier. `en` content language is available for all target countries. `fr` content language is available for `CA` and `FR` target countries. `de` content language is available for `DE` target country. `nl` content language is available for `NL` target country. `it` content language is available for `IT` target country. `pt` content language is available for `BR` target country. `ja` content language is available for `JP` target country. `ko` content language is available for `KR` target country."
        },
        "productApplicability": {
          "description": "Required. Applicability of the promotion to either all products or only specific products.",
          "type": "string",
          "enumDescriptions": [
            "Which products the promotion applies to is unknown.",
            "Applicable to all products.",
            "Applicable to only a single product or list of products."
          ],
          "enum": [
            "PRODUCT_APPLICABILITY_UNSPECIFIED",
            "ALL_PRODUCTS",
            "SPECIFIC_PRODUCTS"
          ]
        }
      },
      "id": "Promotion",
      "type": "object"
    },
    "PubsubNotificationSettings": {
      "description": "Settings for Pub/Sub notifications, all methods require that the caller is a direct user of the merchant center account.",
      "properties": {
        "cloudTopicName": {
          "type": "string",
          "description": "Cloud pub/sub topic to which notifications are sent (read-only)."
        },
        "registeredEvents": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of event types. Acceptable values are: - \"`orderPendingShipment`\" "
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#pubsubNotificationSettings`\""
        }
      },
      "id": "PubsubNotificationSettings",
      "type": "object"
    },
    "AccountBusinessInformation": {
      "properties": {
        "address": {
          "description": "The address of the business. Use `\\n` to add a second address line.",
          "$ref": "AccountAddress"
        },
        "customerService": {
          "$ref": "AccountCustomerService",
          "description": "The customer service information of the business."
        },
        "phoneNumber": {
          "type": "string",
          "description": "The phone number of the business in [E.164](https://en.wikipedia.org/wiki/E.164) format. This can only be updated if a verified phone number is not already set. To replace a verified phone number use the `Accounts.requestphoneverification` and `Accounts.verifyphonenumber`."
        },
        "phoneVerificationStatus": {
          "description": "Verification status of the phone number of the business. This status is read only and can be updated only by successful phone verification. Acceptable values are: - \"`verified`\" - \"`unverified`\" ",
          "type": "string"
        },
        "koreanBusinessRegistrationNumber": {
          "type": "string",
          "description": "The 10-digit [Korean business registration number](https://support.google.com/merchants/answer/9037766) separated with dashes in the format: XXX-XX-XXXXX. This field will only be updated if explicitly set."
        }
      },
      "id": "AccountBusinessInformation",
      "type": "object"
    },
    "ProductShippingDimension": {
      "id": "ProductShippingDimension",
      "type": "object",
      "properties": {
        "value": {
          "description": "The dimension of the product used to calculate the shipping cost of the item.",
          "format": "double",
          "type": "number"
        },
        "unit": {
          "type": "string",
          "description": "The unit of value."
        }
      }
    },
    "Breakdown": {
      "type": "object",
      "id": "Breakdown",
      "description": "A detailed impact breakdown for a group of regions where the impact of the issue on different shopping destinations is the same.",
      "properties": {
        "regions": {
          "description": "Lists of regions. Should be rendered as a title for this group of details. The full list should be shown to merchant. If the list is too long, it is recommended to make it expandable.",
          "type": "array",
          "items": {
            "$ref": "BreakdownRegion"
          }
        },
        "details": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Human readable, localized description of issue's effect on different targets. Should be rendered as a list. For example: * \"Products not showing in ads\" * \"Products not showing organically\""
        }
      }
    },
    "LocalInventory": {
      "type": "object",
      "id": "LocalInventory",
      "description": "Local inventory resource. For accepted attribute values, see the local product inventory feed specification.",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#localInventory`\"",
          "type": "string"
        },
        "price": {
          "description": "The price of the product.",
          "$ref": "Price"
        },
        "customAttributes": {
          "description": "A list of custom (merchant-provided) attributes. Can also be used to submit any attribute of the feed specification in its generic form, for example, `{ \"name\": \"size type\", \"value\": \"regular\" }`.",
          "items": {
            "$ref": "CustomAttribute"
          },
          "type": "array"
        },
        "storeCode": {
          "description": "Required. The store code of this local inventory resource.",
          "type": "string"
        },
        "availability": {
          "type": "string",
          "description": "The availability of the product. For accepted attribute values, see the local product inventory feed specification."
        },
        "quantity": {
          "type": "integer",
          "description": "The quantity of the product. Must be nonnegative.",
          "format": "uint32"
        },
        "salePriceEffectiveDate": {
          "type": "string",
          "description": "A date range represented by a pair of ISO 8601 dates separated by a space, comma, or slash. Both dates may be specified as 'null' if undecided."
        },
        "pickupMethod": {
          "description": "The supported pickup method for this offer. Unless the value is \"not supported\", this field must be submitted together with `pickupSla`. For accepted attribute values, see the local product inventory feed specification.",
          "type": "string"
        },
        "pickupSla": {
          "type": "string",
          "description": "The expected date that an order will be ready for pickup relative to the order date. Must be submitted together with `pickupMethod`. For accepted attribute values, see the local product inventory feed specification."
        },
        "salePrice": {
          "description": "The sale price of the product. Mandatory if `sale_price_effective_date` is defined.",
          "$ref": "Price"
        },
        "instoreProductLocation": {
          "type": "string",
          "description": "The in-store product location."
        }
      }
    },
    "RequestReviewShoppingAdsRequest": {
      "description": "Request message for the RequestReviewShoppingAds program method.",
      "properties": {
        "regionCode": {
          "description": "The code [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) of the country for which review is to be requested.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "RequestReviewShoppingAdsRequest"
    },
    "DatafeedsListResponse": {
      "id": "DatafeedsListResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token for the retrieval of the next page of datafeeds."
        },
        "resources": {
          "items": {
            "$ref": "Datafeed"
          },
          "type": "array"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#datafeedsListResponse`\".",
          "type": "string"
        }
      }
    },
    "Product": {
      "description": " Required product attributes are primarily defined by the product data specification. See the Product Data Specification Help Center article for information. Product data. After inserting, updating, or deleting a product, it may take several minutes before changes take effect. The following reference documentation lists the field names in the **camelCase** casing style while the Products Data Specification lists the names in the **snake_case** casing style.",
      "properties": {
        "customLabel3": {
          "description": "Custom label 3 for custom grouping of items in a Shopping campaign.",
          "type": "string"
        },
        "minHandlingTime": {
          "description": "Minimal product handling time (in business days).",
          "format": "int64",
          "type": "string"
        },
        "productWidth": {
          "description": "The width of the product in the units provided. The value must be between 0 (exclusive) and 3000 (inclusive).",
          "$ref": "ProductDimension"
        },
        "includedDestinations": {
          "description": "The list of [destinations to include](//support.google.com/merchants/answer/7501026) for this target (corresponds to checked check boxes in Merchant Center). Default destinations are always included unless provided in `excludedDestinations`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "taxes": {
          "description": "Tax information.",
          "items": {
            "$ref": "ProductTax"
          },
          "type": "array"
        },
        "availability": {
          "type": "string",
          "description": "Availability status of the item."
        },
        "energyEfficiencyClass": {
          "type": "string",
          "description": "The energy efficiency class as defined in EU directive 2010/30/EU."
        },
        "taxCategory": {
          "description": "The tax category of the product, used to configure detailed tax nexus in account-level tax settings.",
          "type": "string"
        },
        "maxEnergyEfficiencyClass": {
          "description": "The energy efficiency class as defined in EU directive 2010/30/EU.",
          "type": "string"
        },
        "brand": {
          "description": "Brand of the item.",
          "type": "string"
        },
        "displayAdsValue": {
          "type": "number",
          "description": "Offer margin for dynamic remarketing campaigns.",
          "format": "double"
        },
        "isBundle": {
          "description": "Whether the item is a merchant-defined bundle. A bundle is a custom grouping of different products sold by a merchant for a single price.",
          "type": "boolean"
        },
        "structuredTitle": {
          "$ref": "ProductStructuredTitle",
          "description": "Structured title, for algorithmically (AI)-generated titles."
        },
        "shippingHeight": {
          "description": "Height of the item for shipping.",
          "$ref": "ProductShippingDimension"
        },
        "sizes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Size of the item. Only one value is allowed. For variants with different sizes, insert a separate product for each size with the same `itemGroupId` value (see size definition)."
        },
        "source": {
          "description": "Output only. The source of the offer, that is, how the offer was created. Acceptable values are: - \"`api`\" - \"`crawl`\" - \"`feed`\" ",
          "type": "string"
        },
        "salePriceEffectiveDate": {
          "type": "string",
          "description": "Date range during which the item is on sale (see product data specification )."
        },
        "sellOnGoogleQuantity": {
          "type": "string",
          "description": "The quantity of the product that is available for selling on Google. Supported only for online products.",
          "format": "int64"
        },
        "material": {
          "type": "string",
          "description": "The material of which the item is made."
        },
        "productHeight": {
          "description": "The height of the product in the units provided. The value must be between 0 (exclusive) and 3000 (inclusive).",
          "$ref": "ProductDimension"
        },
        "minEnergyEfficiencyClass": {
          "description": "The energy efficiency class as defined in EU directive 2010/30/EU.",
          "type": "string"
        },
        "description": {
          "description": "Description of the item.",
          "type": "string"
        },
        "ageGroup": {
          "type": "string",
          "description": "Target age group of the item."
        },
        "availabilityDate": {
          "type": "string",
          "description": "The day a pre-ordered product becomes available for delivery, in ISO 8601 format."
        },
        "contentLanguage": {
          "description": "Required. The two-letter ISO 639-1 language code for the item.",
          "type": "string"
        },
        "productWeight": {
          "$ref": "ProductWeight",
          "description": "The weight of the product in the units provided. The value must be between 0 (exclusive) and 2000 (inclusive)."
        },
        "multipack": {
          "type": "string",
          "description": "The number of identical products in a merchant-defined multipack.",
          "format": "int64"
        },
        "sizeType": {
          "type": "string",
          "description": "The cut of the item. Recommended for apparel items."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#product`\"",
          "type": "string"
        },
        "customLabel2": {
          "description": "Custom label 2 for custom grouping of items in a Shopping campaign.",
          "type": "string"
        },
        "price": {
          "description": "Price of the item.",
          "$ref": "Price"
        },
        "productLength": {
          "$ref": "ProductDimension",
          "description": "The length of the product in the units provided. The value must be between 0 (exclusive) and 3000 (inclusive)."
        },
        "mpn": {
          "type": "string",
          "description": "Manufacturer Part Number (MPN) of the item."
        },
        "shipping": {
          "description": "Shipping rules.",
          "items": {
            "$ref": "ProductShipping"
          },
          "type": "array"
        },
        "installment": {
          "description": "Number and amount of installments to pay for an item.",
          "$ref": "Installment"
        },
        "loyaltyPrograms": {
          "description": "Optional. A list of loyalty program information that is used to surface loyalty benefits (for example, better pricing, points, etc) to the user of this item.",
          "type": "array",
          "items": {
            "$ref": "LoyaltyProgram"
          }
        },
        "transitTimeLabel": {
          "type": "string",
          "description": "The transit time label of the product, used to group product in account-level transit time tables."
        },
        "subscriptionCost": {
          "$ref": "ProductSubscriptionCost",
          "description": "Number of periods (months or years) and amount of payment per period for an item with an associated subscription contract."
        },
        "certifications": {
          "description": "Product [certification](https://support.google.com/merchants/answer/13528839), introduced for EU energy efficiency labeling compliance using the [EU EPREL](https://eprel.ec.europa.eu/screen/home) database.",
          "type": "array",
          "items": {
            "$ref": "ProductCertification"
          }
        },
        "canonicalLink": {
          "type": "string",
          "description": "URL for the canonical version of your item's landing page."
        },
        "mobileLinkTemplate": {
          "description": "URL template for merchant hosted local storefront optimized for mobile devices.",
          "type": "string"
        },
        "unitPricingMeasure": {
          "$ref": "ProductUnitPricingMeasure",
          "description": "The measure and dimension of an item."
        },
        "feedLabel": {
          "type": "string",
          "description": "Feed label for the item. Either `targetCountry` or `feedLabel` is required. Must be less than or equal to 20 uppercase letters (A-Z), numbers (0-9), and dashes (-)."
        },
        "disclosureDate": {
          "type": "string",
          "description": "The date time when an offer becomes visible in search results across Google’s YouTube surfaces, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format. See [Disclosure date](https://support.google.com/merchants/answer/13034208) for more information."
        },
        "sizeSystem": {
          "description": "System in which the size is specified. Recommended for apparel items.",
          "type": "string"
        },
        "link": {
          "type": "string",
          "description": "URL directly linking to your item's page on your website."
        },
        "structuredDescription": {
          "$ref": "ProductStructuredDescription",
          "description": "Structured description, for algorithmically (AI)-generated descriptions."
        },
        "displayAdsTitle": {
          "type": "string",
          "description": "Title of an item for dynamic remarketing campaigns."
        },
        "identifierExists": {
          "type": "boolean",
          "description": "False when the item does not have unique product identifiers appropriate to its category, such as GTIN, MPN, and brand. Required according to the Unique Product Identifier Rules for all target countries except for Canada."
        },
        "offerId": {
          "type": "string",
          "description": "Required. A unique identifier for the item. Leading and trailing whitespaces are stripped and multiple whitespaces are replaced by a single whitespace upon submission. Only valid unicode characters are accepted. See the products feed specification for details. *Note:* Content API methods that operate on products take the REST ID of the product, *not* this identifier."
        },
        "gender": {
          "description": "Target gender of the item.",
          "type": "string"
        },
        "unitPricingBaseMeasure": {
          "$ref": "ProductUnitPricingBaseMeasure",
          "description": "The preference of the denominator of the unit price."
        },
        "title": {
          "description": "Title of the item.",
          "type": "string"
        },
        "customAttributes": {
          "description": "A list of custom (merchant-provided) attributes. It can also be used for submitting any attribute of the feed specification in its generic form (for example, `{ \"name\": \"size type\", \"value\": \"regular\" }`). This is useful for submitting attributes not explicitly exposed by the API, such as additional attributes used for Buy on Google (formerly known as Shopping Actions).",
          "items": {
            "$ref": "CustomAttribute"
          },
          "type": "array"
        },
        "maximumRetailPrice": {
          "description": "Maximum retail price (MRP) of the item. Applicable to India only.",
          "$ref": "Price"
        },
        "pickupSla": {
          "description": "Item store pickup timeline. Acceptable values are: - \"`same day`\" - \"`next day`\" - \"`2-day`\" - \"`3-day`\" - \"`4-day`\" - \"`5-day`\" - \"`6-day`\" - \"`7-day`\" - \"`multi-week`\" ",
          "type": "string"
        },
        "displayAdsLink": {
          "description": "URL directly to your item's landing page for dynamic remarketing campaigns.",
          "type": "string"
        },
        "productDetails": {
          "description": "Technical specification or additional product details.",
          "items": {
            "$ref": "ProductProductDetail"
          },
          "type": "array"
        },
        "shippingLength": {
          "description": "Length of the item for shipping.",
          "$ref": "ProductShippingDimension"
        },
        "sustainabilityIncentives": {
          "items": {
            "$ref": "ProductSustainabilityIncentive"
          },
          "type": "array",
          "description": "Optional. The list of sustainability incentive programs."
        },
        "displayAdsId": {
          "description": "An identifier for an item for dynamic remarketing campaigns.",
          "type": "string"
        },
        "freeShippingThreshold": {
          "items": {
            "$ref": "FreeShippingThreshold"
          },
          "type": "array",
          "description": "Optional. Conditions to be met for a product to have free shipping."
        },
        "displayAdsSimilarIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Advertiser-specified recommendations."
        },
        "adsLabels": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Similar to ads_grouping, but only works on CPC."
        },
        "costOfGoodsSold": {
          "description": "Cost of goods sold. Used for gross profit reporting.",
          "$ref": "Price"
        },
        "lifestyleImageLinks": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Additional URLs of lifestyle images of the item. Used to explicitly identify images that showcase your item in a real-world context. See the Help Center article for more information."
        },
        "itemGroupId": {
          "description": "Shared identifier for all variants of the same product.",
          "type": "string"
        },
        "shippingWeight": {
          "$ref": "ProductShippingWeight",
          "description": "Weight of the item for shipping."
        },
        "shippingLabel": {
          "description": "The shipping label of the product, used to group product in account-level shipping rules.",
          "type": "string"
        },
        "gtin": {
          "description": "Global Trade Item Number (GTIN) of the item.",
          "type": "string"
        },
        "mobileLink": {
          "description": "URL for the mobile-optimized version of your item's landing page.",
          "type": "string"
        },
        "expirationDate": {
          "description": "Date on which the item should expire, as specified upon insertion, in ISO 8601 format. The actual expiration date in Google Shopping is exposed in `productstatuses` as `googleExpirationDate` and might be earlier if `expirationDate` is too far in the future.",
          "type": "string"
        },
        "imageLink": {
          "type": "string",
          "description": "URL of an image of the item."
        },
        "color": {
          "description": "Color of the item.",
          "type": "string"
        },
        "pickupMethod": {
          "description": "The pick up option for the item. Acceptable values are: - \"`buy`\" - \"`reserve`\" - \"`ship to store`\" - \"`not supported`\" ",
          "type": "string"
        },
        "pattern": {
          "type": "string",
          "description": "The item's pattern (for example, polka dots)."
        },
        "shippingWidth": {
          "description": "Width of the item for shipping.",
          "$ref": "ProductShippingDimension"
        },
        "autoPricingMinPrice": {
          "description": "A safeguard in the [Automated Discounts](//support.google.com/merchants/answer/10295759) and [Dynamic Promotions](//support.google.com/merchants/answer/13949249) projects, ensuring that discounts on merchants' offers do not fall below this value, thereby preserving the offer's value and profitability.",
          "$ref": "Price"
        },
        "condition": {
          "type": "string",
          "description": "Condition or state of the item."
        },
        "additionalImageLinks": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Additional URLs of images of the item."
        },
        "productHighlights": {
          "description": "Bullet points describing the most relevant highlights of a product.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "adsGrouping": {
          "type": "string",
          "description": "Used to group items in an arbitrary way. Only for CPA%, discouraged otherwise."
        },
        "customLabel1": {
          "description": "Custom label 1 for custom grouping of items in a Shopping campaign.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The REST ID of the product. Content API methods that operate on products take this as their `productId` parameter. The REST ID for a product has one of the 2 forms channel:contentLanguage: targetCountry: offerId or channel:contentLanguage:feedLabel: offerId."
        },
        "productTypes": {
          "description": "Categories of the item (formatted as in product data specification).",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "promotionIds": {
          "description": "The unique ID of a promotion.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "excludedDestinations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of [destinations to exclude](//support.google.com/merchants/answer/6324486) for this target (corresponds to cleared check boxes in Merchant Center). Products that are excluded from all destinations for more than 7 days are automatically deleted."
        },
        "customLabel4": {
          "type": "string",
          "description": "Custom label 4 for custom grouping of items in a Shopping campaign."
        },
        "pause": {
          "type": "string",
          "description": "Publication of this item should be temporarily paused. Acceptable values are: - \"`ads`\" "
        },
        "targetCountry": {
          "description": "Required. The CLDR territory code for the item's country of sale.",
          "type": "string"
        },
        "virtualModelLink": {
          "description": "URL of the 3D model of the item to provide more visuals.",
          "type": "string"
        },
        "googleProductCategory": {
          "type": "string",
          "description": "Google's category of the item (see [Google product taxonomy](https://support.google.com/merchants/answer/1705911)). When querying products, this field will contain the user provided value. There is currently no way to get back the auto assigned google product categories through the API."
        },
        "shoppingAdsExcludedCountries": {
          "description": "List of country codes (ISO 3166-1 alpha-2) to exclude the offer from Shopping Ads destination. Countries from this list are removed from countries configured in MC feed settings.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "linkTemplate": {
          "type": "string",
          "description": "URL template for merchant hosted local storefront."
        },
        "loyaltyProgram": {
          "$ref": "LoyaltyProgram",
          "description": "Loyalty program information that is used to surface loyalty benefits ( for example, better pricing, points, etc) to the user of this item. This signular field points to the latest uploaded loyalty program info. This field will be deprecated in the coming weeks and should not be used in favor of the plural 'LoyaltyProgram' field below."
        },
        "adsRedirect": {
          "type": "string",
          "description": "Allows advertisers to override the item URL when the product is shown within the context of Product Ads."
        },
        "maxHandlingTime": {
          "description": "Maximal product handling time (in business days).",
          "format": "int64",
          "type": "string"
        },
        "customLabel0": {
          "type": "string",
          "description": "Custom label 0 for custom grouping of items in a Shopping campaign."
        },
        "channel": {
          "type": "string",
          "description": "Required. The item's channel (online or local). Acceptable values are: - \"`local`\" - \"`online`\" "
        },
        "adult": {
          "type": "boolean",
          "description": "Should be set to true if the item is targeted towards adults."
        },
        "additionalSizeType": {
          "type": "string",
          "description": "Additional cut of the item. Used together with size_type to represent combined size types for apparel items."
        },
        "salePrice": {
          "$ref": "Price",
          "description": "Advertised sale price of the item."
        },
        "externalSellerId": {
          "type": "string",
          "description": "Required for multi-seller accounts. Use this attribute if you're a marketplace uploading products for various sellers to your multi-seller account."
        },
        "cloudExportAdditionalProperties": {
          "description": "Extra fields to export to the Cloud Retail program.",
          "items": {
            "$ref": "CloudExportAdditionalProperties"
          },
          "type": "array"
        }
      },
      "id": "Product",
      "type": "object"
    },
    "ListCollectionsResponse": {
      "type": "object",
      "id": "ListCollectionsResponse",
      "description": "Response message for the ListCollections method.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "resources": {
          "description": "The collections listed.",
          "items": {
            "$ref": "Collection"
          },
          "type": "array"
        }
      }
    },
    "AccountstatusesCustomBatchRequestEntry": {
      "description": "A batch entry encoding a single non-batch accountstatuses request.",
      "properties": {
        "merchantId": {
          "description": "The ID of the managing account.",
          "format": "uint64",
          "type": "string"
        },
        "batchId": {
          "description": "An entry ID, unique within the batch request.",
          "format": "uint32",
          "type": "integer"
        },
        "accountId": {
          "type": "string",
          "description": "The ID of the (sub-)account whose status to get.",
          "format": "uint64"
        },
        "destinations": {
          "description": "If set, only issues for the specified destinations are returned, otherwise only issues for the Shopping destination.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "method": {
          "type": "string",
          "description": "The method of the batch entry. Acceptable values are: - \"`get`\" "
        }
      },
      "type": "object",
      "id": "AccountstatusesCustomBatchRequestEntry"
    },
    "CloudExportAdditionalProperties": {
      "description": "Product property for the Cloud Retail API. For example, properties for a TV product could be \"Screen-Resolution\" or \"Screen-Size\".",
      "properties": {
        "floatValue": {
          "description": "Float values of the given property. For example for a TV product 1.2345. Maximum number of specified values for this field is 400. Values are stored in an arbitrary but consistent order.",
          "type": "array",
          "items": {
            "type": "number",
            "format": "float"
          }
        },
        "maxValue": {
          "type": "number",
          "description": "Maximum float value of the given property. For example for a TV product 100.00.",
          "format": "float"
        },
        "unitCode": {
          "description": "Unit of the given property. For example, \"Pixels\" for a TV product. Maximum string size is 256 bytes.",
          "type": "string"
        },
        "propertyName": {
          "description": "Name of the given property. For example, \"Screen-Resolution\" for a TV product. Maximum string size is 256 characters.",
          "type": "string"
        },
        "textValue": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Text value of the given property. For example, \"8K(UHD)\" could be a text value for a TV product. Maximum number of specified values for this field is 400. Values are stored in an arbitrary but consistent order. Maximum string size is 256 characters."
        },
        "boolValue": {
          "description": "Boolean value of the given property. For example for a TV product, \"True\" or \"False\" if the screen is UHD.",
          "type": "boolean"
        },
        "minValue": {
          "type": "number",
          "description": "Minimum float value of the given property. For example for a TV product 1.00.",
          "format": "float"
        },
        "intValue": {
          "description": "Integer values of the given property. For example, 1080 for a screen resolution of a TV product. Maximum number of specified values for this field is 400. Values are stored in an arbitrary but consistent order.",
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          }
        }
      },
      "id": "CloudExportAdditionalProperties",
      "type": "object"
    },
    "DeliveryAreaPostalCodeRange": {
      "id": "DeliveryAreaPostalCodeRange",
      "type": "object",
      "description": "A range of postal codes that defines the delivery area. Only set `firstPostalCode` when specifying a single postal code.",
      "properties": {
        "firstPostalCode": {
          "description": "Required. A postal code or a pattern of the form prefix* denoting the inclusive lower bound of the range defining the area. Examples values: `\"94108\"`, `\"9410*\"`, `\"9*\"`.",
          "type": "string"
        },
        "lastPostalCode": {
          "type": "string",
          "description": "A postal code or a pattern of the form prefix* denoting the inclusive upper bound of the range defining the area (for example [070* - 078*] results in the range [07000 - 07899]). It must have the same length as `firstPostalCode`: if `firstPostalCode` is a postal code then `lastPostalCode` must be a postal code too; if firstPostalCode is a pattern then `lastPostalCode` must be a pattern with the same prefix length. Ignored if not set, then the area is defined as being all the postal codes matching `firstPostalCode`."
        }
      }
    },
    "InputFieldChoiceInputChoiceInputOption": {
      "id": "InputFieldChoiceInputChoiceInputOption",
      "type": "object",
      "description": "A choice that merchant can select.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Not for display but need to be sent back for the selected choice option."
        },
        "label": {
          "description": "Short description of the choice option. There may be more information to be shown as a tooltip.",
          "$ref": "TextWithTooltip"
        },
        "additionalInput": {
          "$ref": "InputField",
          "description": "Input that should be displayed when this option is selected. The additional input will not contain a `ChoiceInput`."
        }
      }
    },
    "AccountCustomerService": {
      "properties": {
        "url": {
          "type": "string",
          "description": "Customer service URL."
        },
        "phoneNumber": {
          "description": "Customer service phone number.",
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "Customer service email."
        }
      },
      "id": "AccountCustomerService",
      "type": "object"
    },
    "FreeListingsProgramStatus": {
      "description": "Response message for GetFreeListingsProgramStatus.",
      "properties": {
        "globalState": {
          "description": "State of the program. `ENABLED` if there are offers for at least one region.",
          "type": "string",
          "enumDescriptions": [
            "State is unknown.",
            "Program is not enabled for any country.",
            "No products have been uploaded for any region. Upload products to Merchant Center.",
            "Program is enabled and offers are uploaded for at least one country."
          ],
          "enum": [
            "PROGRAM_STATE_UNSPECIFIED",
            "NOT_ENABLED",
            "NO_OFFERS_UPLOADED",
            "ENABLED"
          ]
        },
        "regionStatuses": {
          "description": "Status of the program in each region. Regions with the same status and review eligibility are grouped together in `regionCodes`.",
          "type": "array",
          "items": {
            "$ref": "FreeListingsProgramStatusRegionStatus"
          }
        }
      },
      "id": "FreeListingsProgramStatus",
      "type": "object"
    },
    "MinimumOrderValueTable": {
      "properties": {
        "storeCodeSetWithMovs": {
          "items": {
            "$ref": "MinimumOrderValueTableStoreCodeSetWithMov"
          },
          "type": "array"
        }
      },
      "id": "MinimumOrderValueTable",
      "type": "object"
    },
    "DateTime": {
      "id": "DateTime",
      "type": "object",
      "description": "Represents civil time (or occasionally physical time). This type can represent a civil time in one of a few possible ways: * When utc_offset is set and time_zone is unset: a civil time on a calendar day with a particular offset from UTC. * When time_zone is set and utc_offset is unset: a civil time on a calendar day in a particular time zone. * When neither time_zone nor utc_offset is set: a civil time on a calendar day in local time. The date is relative to the Proleptic Gregorian Calendar. If year, month, or day are 0, the DateTime is considered not to have a specific year, month, or day respectively. This type may also be used to represent a physical time if all the date and time fields are set and either case of the `time_offset` oneof is set. Consider using `Timestamp` message for physical time instead. If your use case also would like to store the user's timezone, that can be done in another field. This type is more flexible than some applications may want. Make sure to document and validate your application's limitations.",
      "properties": {
        "hours": {
          "type": "integer",
          "description": "Optional. Hours of day in 24 hour format. Should be from 0 to 23, defaults to 0 (midnight). An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "format": "int32"
        },
        "seconds": {
          "description": "Optional. Seconds of minutes of the time. Must normally be from 0 to 59, defaults to 0. An API may allow the value 60 if it allows leap-seconds.",
          "format": "int32",
          "type": "integer"
        },
        "minutes": {
          "description": "Optional. Minutes of hour of day. Must be from 0 to 59, defaults to 0.",
          "format": "int32",
          "type": "integer"
        },
        "utcOffset": {
          "type": "string",
          "description": "UTC offset. Must be whole seconds, between -18 hours and +18 hours. For example, a UTC offset of -4:00 would be represented as { seconds: -14400 }.",
          "format": "google-duration"
        },
        "day": {
          "type": "integer",
          "description": "Optional. Day of month. Must be from 1 to 31 and valid for the year and month, or 0 if specifying a datetime without a day.",
          "format": "int32"
        },
        "timeZone": {
          "description": "Time zone.",
          "$ref": "TimeZone"
        },
        "year": {
          "type": "integer",
          "description": "Optional. Year of date. Must be from 1 to 9999, or 0 if specifying a datetime without a year.",
          "format": "int32"
        },
        "nanos": {
          "description": "Optional. Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999, defaults to 0.",
          "format": "int32",
          "type": "integer"
        },
        "month": {
          "type": "integer",
          "description": "Optional. Month of year. Must be from 1 to 12, or 0 if specifying a datetime without a month.",
          "format": "int32"
        }
      }
    },
    "ProductsListResponse": {
      "id": "ProductsListResponse",
      "type": "object",
      "properties": {
        "resources": {
          "type": "array",
          "items": {
            "$ref": "Product"
          }
        },
        "nextPageToken": {
          "description": "The token for the retrieval of the next page of products.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#productsListResponse`\".",
          "type": "string"
        }
      }
    },
    "LiaSettings": {
      "type": "object",
      "id": "LiaSettings",
      "description": "Local Inventory ads (LIA) settings. All methods except listposdataproviders require the admin role.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#liaSettings`\""
        },
        "accountId": {
          "description": "The ID of the account to which these LIA settings belong. Ignored upon update, always present in get request responses.",
          "format": "uint64",
          "type": "string"
        },
        "countrySettings": {
          "description": "The LIA settings for each country.",
          "items": {
            "$ref": "LiaCountrySettings"
          },
          "type": "array"
        }
      }
    },
    "Region": {
      "description": "Represents a geographic region that you can use as a target with both the `RegionalInventory` and `ShippingSettings` services. You can define regions as collections of either postal codes or, in some countries, using predefined geotargets.",
      "properties": {
        "shippingEligible": {
          "description": "Output only. Indicates if the region is eligible to use in the Shipping Services configuration.",
          "readOnly": true,
          "type": "boolean"
        },
        "regionId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Immutable. The ID uniquely identifying each region."
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the region."
        },
        "geotargetArea": {
          "description": "A list of geotargets that defines the region area.",
          "$ref": "RegionGeoTargetArea"
        },
        "merchantId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Immutable. Merchant that owns the region.",
          "format": "int64"
        },
        "postalCodeArea": {
          "$ref": "RegionPostalCodeArea",
          "description": "A list of postal codes that defines the region area."
        },
        "regionalInventoryEligible": {
          "description": "Output only. Indicates if the region is eligible to use in the Regional Inventory configuration.",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "id": "Region",
      "type": "object"
    },
    "LocalinventoryCustomBatchResponseEntry": {
      "id": "LocalinventoryCustomBatchResponseEntry",
      "type": "object",
      "description": "Batch entry encoding a single local inventory update response.",
      "properties": {
        "errors": {
          "description": "A list of errors for failed custombatch entries. *Note:* Schema errors fail the whole request.",
          "$ref": "Errors"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#localinventoryCustomBatchResponseEntry`\"",
          "type": "string"
        },
        "batchId": {
          "description": "The ID of the request entry this entry responds to.",
          "format": "uint32",
          "type": "integer"
        }
      }
    },
    "ProductDeliveryTimeAreaDeliveryTime": {
      "description": "A pairing of `DeliveryArea` associated with a `DeliveryTime` for this product.",
[...]
