{
  "discoveryVersion": "v1",
  "protocol": "rest",
  "schemas": {
    "GoogleCloudContactcenterinsightsV1mainConstraintEvaluationResultRuleConstraintResult": {
      "type": "object",
      "description": "The result of a single constraint rule on the pair of conversations.",
      "properties": {
        "ruleId": {
          "type": "string",
          "description": "The rule ID."
        },
        "constraintMet": {
          "type": "boolean",
          "description": "Whether the constraint expression evaluated to true for (A, B) or (B, A)."
        },
        "error": {
          "description": "The error status if the constraint expression failed to evaluate.",
          "$ref": "GoogleRpcStatus"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainConstraintEvaluationResultRuleConstraintResult"
    },
    "GoogleCloudContactcenterinsightsV1mainDimensionLabelDimensionMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1mainDimensionLabelDimensionMetadata",
      "type": "object",
      "properties": {
        "labelKey": {
          "type": "string",
          "description": "Optional. The label key."
        },
        "labelValue": {
          "description": "Optional. The label value.",
          "type": "string"
        }
      },
      "description": "Metadata about conversation labels."
    },
    "GoogleCloudContactcenterinsightsV1alpha1BulkDeleteFeedbackLabelsMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1BulkDeleteFeedbackLabelsMetadata",
      "type": "object",
      "properties": {
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1BulkDeleteFeedbackLabelsRequest",
          "description": "Output only. The original request for delete.",
          "readOnly": true
        },
        "partialErrors": {
          "description": "Partial errors during deletion operation that might cause the operation output to be incomplete.",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        }
      },
      "description": "Metadata for the BulkDeleteFeedbackLabels endpoint."
    },
    "GoogleCloudContactcenterinsightsV1CreateIssueModelRequest": {
      "description": "The request to create an issue model.",
      "properties": {
        "issueModel": {
          "$ref": "GoogleCloudContactcenterinsightsV1IssueModel",
          "description": "Required. The issue model to create."
        },
        "parent": {
          "description": "Required. The parent resource of the issue model.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1CreateIssueModelRequest"
    },
    "GoogleCloudContactcenterinsightsV1mainQaAnswerAnswerSource": {
      "description": "A question may have multiple answers from varying sources, one of which becomes the \"main\" answer above. AnswerSource represents each individual answer.",
      "properties": {
        "sourceType": {
          "type": "string",
          "description": "What created the answer.",
          "enumDescriptions": [
            "Source type is unspecified.",
            "Answer was system-generated; created during an Insights analysis.",
            "Answer was created by a human via manual edit."
          ],
          "enum": [
            "SOURCE_TYPE_UNSPECIFIED",
            "SYSTEM_GENERATED",
            "MANUAL_EDIT"
          ]
        },
        "answerValue": {
          "description": "The answer value from this source. This field is populated by default, unless the question has a selection strategy configured to return multiple answer values, in which case `answer_values` will be populated instead.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainQaAnswerAnswerValue"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainQaAnswerAnswerSource"
    },
    "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartTextPart": {
      "type": "object",
      "properties": {
        "text": {
          "type": "string",
          "description": "Optional. The text content."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartTextPart",
      "description": "A text part."
    },
    "GoogleCloudContactcenterinsightsV1PhraseMatchRuleGroup": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Must meet all phrase match rules or there is no match.",
            "If any of the phrase match rules are met, there is a match."
          ],
          "enum": [
            "PHRASE_MATCH_RULE_GROUP_TYPE_UNSPECIFIED",
            "ALL_OF",
            "ANY_OF"
          ],
          "description": "Required. The type of this phrase match rule group."
        },
        "phraseMatchRules": {
          "description": "A list of phrase match rules that are included in this group.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1PhraseMatchRule"
          }
        }
      },
      "description": "A message representing a rule in the phrase matcher.",
      "id": "GoogleCloudContactcenterinsightsV1PhraseMatchRuleGroup"
    },
    "GoogleCloudContactcenterinsightsV1mainInitializeEncryptionSpecMetadata": {
      "description": "Metadata for initializing a location-level encryption specification.",
      "id": "GoogleCloudContactcenterinsightsV1mainInitializeEncryptionSpecMetadata",
      "type": "object",
      "properties": {
        "request": {
          "description": "Output only. The original request for initialization.",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1mainInitializeEncryptionSpecRequest"
        },
        "partialErrors": {
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "Partial errors during initializing operation that might cause the operation output to be incomplete."
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1Widget": {
      "properties": {
        "container": {
          "$ref": "GoogleCloudContactcenterinsightsV1Container",
          "description": "A container widget."
        },
        "chartReference": {
          "description": "A reference to a chart widget. Format: projects/{project}/locations/{location}/dashboards/{dashboard}/charts/{chart}",
          "type": "string"
        },
        "chart": {
          "$ref": "GoogleCloudContactcenterinsightsV1Chart",
          "description": "A chart widget."
        },
        "filter": {
          "type": "string",
          "description": "Filter applied to all charts in the container. Should support scope later."
        }
      },
      "description": "Represents a dashboard element, could be a nested Container or Chart.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1Widget"
    },
    "GoogleCloudContactcenterinsightsV1UserInfo": {
      "id": "GoogleCloudContactcenterinsightsV1UserInfo",
      "properties": {
        "username": {
          "type": "string",
          "description": "The user's username."
        }
      },
      "description": "Information about a user.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1InitializeEncryptionSpecResponse": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1InitializeEncryptionSpecResponse",
      "properties": {},
      "description": "The response to initialize a location-level encryption specification.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainTestCorrelationConfigMetadataFullConversationCorrelationStatsConversationCorrelationError": {
      "description": "An error that occurred during correlation for a specific conversation.",
      "id": "GoogleCloudContactcenterinsightsV1mainTestCorrelationConfigMetadataFullConversationCorrelationStatsConversationCorrelationError",
      "properties": {
        "status": {
          "description": "The error status.",
          "$ref": "GoogleRpcStatus"
        },
        "conversation": {
          "type": "string",
          "description": "The conversation resource name that had an error during correlation."
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainGenerativeInsightsResponseGenerativeResponse": {
      "id": "GoogleCloudContactcenterinsightsV1mainGenerativeInsightsResponseGenerativeResponse",
      "type": "object",
      "properties": {
        "textMessage": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainGenerativeInsightsResponseGenerativeResponseTextOutput",
          "description": "The text output from the LLM. Will be populated during the chart building phase. For a reloaded chart, this will NOT be populated. May contain THOUGHT or a FINAL response or some in-progress response."
        },
        "generatedSqlQuery": {
          "description": "The generated SQL query from the LLM. Will be populated during the chart building phase. The generated SQL will be cached in the corresponding chart resource.",
          "type": "string"
        },
        "textOutput": {
          "deprecated": true,
          "type": "string",
          "description": "The text output from the LLM. Will be populated during the chart building phase. For a reloaded chart, this will NOT be populated. May contain THOUGHT or a FINAL response or some in-progress response."
        },
        "chartSpec": {
          "type": "object",
          "description": "The chart spec for the data. This will be specified in the vega-lite or vega format.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "description": "Wrapper for storing the generative response for a chart."
    },
    "GoogleCloudContactcenterinsightsV1mainAnalysisResultCallAnalysisMetadata": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainAnalysisResultCallAnalysisMetadata",
      "description": "Call-specific metadata created during analysis.",
      "properties": {
        "phraseMatchers": {
          "additionalProperties": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainPhraseMatchData"
          },
          "type": "object",
          "description": "All the matched phrase matchers in the call."
        },
        "silence": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainConversationLevelSilence",
          "description": "Overall conversation-level silence during the call."
        },
        "annotations": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainCallAnnotation"
          },
          "description": "A list of call annotations that apply to this call.",
          "type": "array"
        },
        "qaScorecardResults": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainQaScorecardResult"
          },
          "type": "array",
          "description": "Results of scoring QaScorecards."
        },
        "sentiments": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainConversationLevelSentiment"
          },
          "type": "array",
          "description": "Overall conversation-level sentiment for each channel of the call."
        },
        "entities": {
          "additionalProperties": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainEntity"
          },
          "type": "object",
          "description": "All the entities in the call."
        },
        "intents": {
          "description": "All the matched intents in the call.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainIntent"
          }
        },
        "issueModelResult": {
          "description": "Overall conversation-level issue modeling result.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainIssueModelResult"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1CreateIssueModelRequest": {
      "description": "The request to create an issue model.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1CreateIssueModelRequest",
      "properties": {
        "issueModel": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1IssueModel",
          "description": "Required. The issue model to create."
        },
        "parent": {
          "description": "Required. The parent resource of the issue model.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartMediaPart": {
      "description": "A media part.",
      "id": "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartMediaPart",
      "properties": {
        "uri": {
          "description": "Optional. URI or URL to the media.",
          "type": "string"
        },
        "alternativeText": {
          "type": "string",
          "description": "Optional. Alternative text description."
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1ConversationLevelSentiment": {
      "description": "One channel of conversation-level sentiment data.",
      "properties": {
        "channelTag": {
          "description": "The channel of the audio that the data applies to.",
          "type": "integer",
          "format": "int32"
        },
        "sentimentData": {
          "$ref": "GoogleCloudContactcenterinsightsV1SentimentData",
          "description": "Data specifying sentiment."
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1ConversationLevelSentiment"
    },
    "GoogleCloudContactcenterinsightsV1mainBulkDeleteConversationsResponse": {
      "properties": {},
      "id": "GoogleCloudContactcenterinsightsV1mainBulkDeleteConversationsResponse",
      "type": "object",
      "description": "The response for a bulk delete conversations operation."
    },
    "GoogleCloudCesV1mainToolResponse": {
      "id": "GoogleCloudCesV1mainToolResponse",
      "properties": {
        "response": {
          "description": "Required. The tool execution result in JSON object format. Use \"output\" key to specify tool response and \"error\" key to specify error details (if any). If \"output\" and \"error\" keys are not specified, then whole \"response\" is treated as tool execution result.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "tool": {
          "description": "Optional. The name of the tool to execute. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`",
          "type": "string"
        },
        "toolsetTool": {
          "description": "Optional. The toolset tool that got executed.",
          "$ref": "GoogleCloudCesV1mainToolsetTool"
        },
        "id": {
          "type": "string",
          "description": "Optional. The matching ID of the tool call the response is for."
        },
        "displayName": {
          "type": "string",
          "description": "Output only. Display name of the tool.",
          "readOnly": true
        },
        "agentName": {
          "type": "string",
          "description": "Output only. Human-readable name of the agent that issued this call, e.g. \"Contract Architect\". Empty when the root agent issued it.",
          "readOnly": true
        },
        "parentToolCallId": {
          "description": "Output only. The id of the tool call that caused this one, when it was issued by a sub-agent working on behalf of a parent call. Empty for top-level calls. Lets a client group a sub-agent's work under the call that started it instead of rendering every step as a sibling.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "description": "The execution result of a specific tool from the client or the agent."
    },
    "GoogleCloudContactcenterinsightsV1QaScorecardResultScoreSource": {
      "properties": {
        "score": {
          "description": "The overall numerical score of the result.",
          "format": "double",
          "type": "number"
        },
        "qaTagResults": {
          "description": "Collection of tags and their scores.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1QaScorecardResultQaTagResult"
          }
        },
        "sourceType": {
          "enum": [
            "SOURCE_TYPE_UNSPECIFIED",
            "SYSTEM_GENERATED_ONLY",
            "INCLUDES_MANUAL_EDITS"
          ],
          "description": "What created the score.",
          "type": "string",
          "enumDescriptions": [
            "Source type is unspecified.",
            "Score is derived only from system-generated answers.",
            "Score is derived from both system-generated answers, and includes any manual edits if they exist."
          ]
        },
        "potentialScore": {
          "description": "The maximum potential overall score of the scorecard. Any questions answered using `na_value` are excluded from this calculation.",
          "type": "number",
          "format": "double"
        },
        "normalizedScore": {
          "format": "double",
          "type": "number",
          "description": "The normalized score, which is the score divided by the potential score."
        }
      },
      "description": "A scorecard result may have multiple sets of scores from varying sources, one of which becomes the \"main\" answer above. A ScoreSource represents each individual set of scores.",
      "id": "GoogleCloudContactcenterinsightsV1QaScorecardResultScoreSource",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1SilenceData": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1SilenceData",
      "description": "The data for a silence annotation.",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartProductCollectionPart": {
      "type": "object",
      "properties": {
        "products": {
          "type": "array",
          "description": "Optional. List of products.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartProduct"
          }
        }
      },
      "description": "A product collection part.",
      "id": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartProductCollectionPart"
    },
    "GoogleCloudContactcenterinsightsV1SilenceData": {
      "type": "object",
      "description": "The data for a silence annotation.",
      "id": "GoogleCloudContactcenterinsightsV1SilenceData",
      "properties": {}
    },
    "GoogleCloudContactcenterinsightsV1alpha1BulkAnalyzeConversationsRequest": {
      "description": "The request to analyze conversations in bulk.",
      "properties": {
        "filter": {
          "description": "Required. Filter used to select the subset of conversations to analyze.",
          "type": "string"
        },
        "analysisPercentage": {
          "type": "number",
          "description": "Required. Percentage of selected conversation to analyze, between [0, 100].",
          "format": "float"
        },
        "parent": {
          "description": "Required. The parent resource to create analyses in.",
          "type": "string"
        },
        "relabel": {
          "description": "Optional. If true, the labeling rules will be re-evaluated for the conversations.",
          "type": "boolean"
        },
        "annotatorSelector": {
          "description": "To select the annotators to run and the phrase matchers to use (if any). If not specified, all annotators will be run.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1AnnotatorSelector"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1BulkAnalyzeConversationsRequest",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1AnnotatorSelectorSummarizationConfig": {
      "type": "object",
      "description": "Configuration for summarization.",
      "properties": {
        "generator": {
          "description": "The resource name of the existing created generator. Format: projects//locations//generators/",
          "type": "string"
        },
        "summarizationModel": {
          "type": "string",
          "enum": [
            "SUMMARIZATION_MODEL_UNSPECIFIED",
            "BASELINE_MODEL",
            "BASELINE_MODEL_V2_0"
          ],
          "enumDeprecated": [
            false,
            true,
            true
          ],
          "enumDescriptions": [
            "Unspecified summarization model.",
            "The CCAI baseline model. This model is deprecated and will be removed in the future. We recommend using `generator` instead.",
            "The CCAI baseline model, V2.0. This model is deprecated and will be removed in the future. We recommend using `generator` instead."
          ],
          "description": "Default summarization model to be used."
        },
        "conversationProfile": {
          "type": "string",
          "description": "Resource name of the Dialogflow conversation profile. Format: projects/{project}/locations/{location}/conversationProfiles/{conversation_profile}"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1AnnotatorSelectorSummarizationConfig"
    },
    "GoogleCloudContactcenterinsightsV1mainImportIssueModelRequest": {
      "id": "GoogleCloudContactcenterinsightsV1mainImportIssueModelRequest",
      "type": "object",
      "properties": {
        "parent": {
          "type": "string",
          "description": "Required. The parent resource of the issue model."
        },
        "gcsSource": {
          "description": "Google Cloud Storage source message.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainImportIssueModelRequestGcsSource"
        },
        "createNewModel": {
          "description": "Optional. If set to true, will create an issue model from the imported file with randomly generated IDs for the issue model and corresponding issues. Otherwise, replaces an existing model with the same ID as the file.",
          "type": "boolean"
        }
      },
      "description": "Request to import an issue model."
    },
    "GoogleCloudContactcenterinsightsV1IssueAssignment": {
      "type": "object",
      "properties": {
        "issue": {
          "type": "string",
          "description": "Resource name of the assigned issue."
        },
        "score": {
          "format": "double",
          "type": "number",
          "description": "Score indicating the likelihood of the issue assignment. currently bounded on [0,1]."
        },
        "displayName": {
          "description": "Immutable. Display name of the assigned issue. This field is set at time of analysis and immutable since then.",
          "type": "string"
        }
      },
      "description": "Information about the issue.",
      "id": "GoogleCloudContactcenterinsightsV1IssueAssignment"
    },
    "GoogleCloudContactcenterinsightsV1PhraseMatcher": {
      "type": "object",
      "properties": {
        "displayName": {
          "description": "The human-readable name of the phrase matcher.",
          "type": "string"
        },
        "active": {
          "type": "boolean",
          "description": "Applies the phrase matcher only when it is active."
        },
        "activationUpdateTime": {
          "description": "Output only. The most recent time at which the activation status was updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "revisionId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Immutable. The revision ID of the phrase matcher. A new revision is committed whenever the matcher is changed, except when it is activated or deactivated. A server generated random ID will be used. Example: locations/global/phraseMatchers/my-first-matcher@1234567"
        },
        "versionTag": {
          "type": "string",
          "description": "The customized version tag to use for the phrase matcher. If not specified, it will default to `revision_id`."
        },
        "revisionCreateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp of when the revision was created. It is also the create time when a new matcher is added.",
          "type": "string"
        },
        "name": {
          "description": "The resource name of the phrase matcher. Format: projects/{project}/locations/{location}/phraseMatchers/{phrase_matcher}",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Must meet all phrase match rule groups or there is no match.",
            "If any of the phrase match rule groups are met, there is a match."
          ],
          "enum": [
            "PHRASE_MATCHER_TYPE_UNSPECIFIED",
            "ALL_OF",
            "ANY_OF"
          ],
          "description": "Required. The type of this phrase matcher."
        },
        "phraseMatchRuleGroups": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1PhraseMatchRuleGroup"
          },
          "type": "array",
          "description": "A list of phase match rule groups that are included in this matcher."
        },
        "roleMatch": {
          "enumDescriptions": [
            "Participant's role is not set.",
            "Participant is a human agent.",
            "Participant is an automated agent.",
            "Participant is an end user who conversed with the contact center.",
            "Participant is either a human or automated agent."
          ],
          "type": "string",
          "description": "The role whose utterances the phrase matcher should be matched against. If the role is ROLE_UNSPECIFIED it will be matched against any utterances in the transcript.",
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER",
            "ANY_AGENT"
          ]
        },
        "updateTime": {
          "description": "Output only. The most recent time at which the phrase matcher was updated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1PhraseMatcher",
      "description": "The phrase matcher resource."
    },
    "GoogleCloudContactcenterinsightsV1NoteQaQuestionNote": {
      "description": "A note about a QA question.",
      "properties": {
        "qaQuestion": {
          "description": "The question resource that the note is associated with.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1NoteQaQuestionNote",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1BulkDownloadFeedbackLabelsMetadataDownloadStats": {
      "description": "Statistics for BulkDownloadFeedbackLabels operation.",
      "properties": {
        "fileNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. Full name of the files written to Cloud storage."
        },
        "processedObjectCount": {
          "description": "The number of objects processed during the download operation.",
          "format": "int32",
          "type": "integer"
        },
        "totalFilesWritten": {
          "description": "Total number of files written to the provided Cloud Storage bucket.",
          "type": "integer",
          "format": "int32"
        },
        "successfulDownloadCount": {
          "description": "The number of new feedback labels downloaded during this operation. Different from \"processed\" because some labels might not be downloaded because an error.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1BulkDownloadFeedbackLabelsMetadataDownloadStats",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1NoteAssessmentNote": {
      "properties": {},
      "description": "A note about the entire parent assessment.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1NoteAssessmentNote"
    },
    "GoogleCloudContactcenterinsightsV1QaQuestionQaQuestionDataOptions": {
      "id": "GoogleCloudContactcenterinsightsV1QaQuestionQaQuestionDataOptions",
      "properties": {
        "conversationDataOptions": {
          "description": "Options for configuring the conversation data used to generate the QA question.",
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationDataOptions"
        }
      },
      "type": "object",
      "description": "Options for configuring the data used to generate the QA question."
    },
    "GoogleCloudContactcenterinsightsV1alpha1DimensionConversationProfileDimensionMetadata": {
      "description": "Metadata about the conversation profile dimension.",
      "type": "object",
      "properties": {
        "conversationProfileId": {
          "type": "string",
          "description": "Optional. The conversation profile ID."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1DimensionConversationProfileDimensionMetadata"
    },
    "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPointConversationMeasure": {
      "properties": {
        "conversationalAgentsAverageLlmCallLatency": {
          "description": "The average latency of conversational agents' LLM call latency per interaction. This is computed as the average of the all the interactions LLM call latencies in a conversation and averaged across conversations.",
          "format": "double",
          "type": "number"
        },
        "aiCoachSuggestionCustomerMessageTriggerRatio": {
          "type": "number",
          "format": "double",
          "description": "Proportion of customer messages that triggered an Ai Coach Suggestion."
        },
        "averageQaQuestionNormalizedScore": {
          "format": "double",
          "type": "number",
          "description": "Average QA normalized score averaged for questions averaged across all revisions of the parent scorecard. Will be only populated if the request specifies a dimension of QA_QUESTION_ID."
        },
        "containedConversationRatio": {
          "type": "number",
          "format": "double",
          "description": "The percentage of conversations that were contained."
        },
        "aaSupervisorEscalatedConversationsCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of conversations that were escalated to an AA human supervisor for intervention."
        },
        "averageQaNormalizedScore": {
          "description": "The average normalized QA score for a scorecard. When computing the average across a set of conversations, if a conversation has been evaluated with multiple revisions of a scorecard, only the latest revision results will be used. Will exclude 0's in average calculation. Will be only populated if the request specifies a dimension of QA_SCORECARD_ID.",
          "format": "double",
          "type": "number"
        },
        "aaSupervisorMonitoredConversationsCount": {
          "format": "int32",
          "description": "The number of conversations scanned by the AA human supervisor.",
          "type": "integer"
        },
        "conversationalAgentsAverageAudioInAudioOutLatency": {
          "description": "The average latency of conversational agents' audio in audio out latency per interaction. This is computed as the average of the all the interactions' audio in audio out latencies in a conversation and averaged across conversations.",
          "type": "number",
          "format": "double"
        },
        "conversationAiCoachSuggestionRatio": {
          "type": "number",
          "format": "double",
          "description": "Proportion of conversations that has Ai Coach Suggestions."
        },
        "aaSupervisorDroppedConversationsCount": {
          "format": "int32",
          "description": "The number of conversations that were dropped, i.e. escalated but not assigned to an AA human supervisor.",
          "type": "integer"
        },
        "aiCoachSuggestionAgentUsageCount": {
          "type": "integer",
          "description": "Count of Ai Coach Suggestion that has been used by agents.",
          "format": "int32"
        },
        "dialogflowInteractionsNoMatchRatio": {
          "description": "Proportion of dialogflow interactions that has no intent match for the input.",
          "type": "number",
          "format": "double"
        },
        "knowledgeAssistResultCount": {
          "type": "integer",
          "description": "Count of knowledge assist results (Proactive Generative Knowledge Assist) shown to the user.",
          "format": "int32"
        },
        "aiCoachSuggestionMessageTriggerCount": {
          "type": "integer",
          "format": "int32",
          "description": "Count of end_of_utterance trigger event messages that triggered an Ai Coach Suggestion."
        },
        "averageTurnCount": {
          "format": "float",
          "type": "number",
          "description": "The average turn count."
        },
        "summarizationSuggestionResultCount": {
          "type": "integer",
          "format": "int32",
          "description": "Count of summarization suggestions results."
        },
        "aiCoachSuggestionAgentMessageTriggerCount": {
          "description": "Count of agent messages that triggered an Ai Coach Suggestion.",
          "format": "int32",
          "type": "integer"
        },
        "knowledgeSearchUriClickRatio": {
          "type": "number",
          "description": "Proportion of knowledge search (Generative Knowledge Assist) queries that had a URL clicked.",
          "format": "double"
        },
        "summarizationSuggestionEditRatio": {
          "description": "Proportion of summarization suggestions that were manually edited.",
          "type": "number",
          "format": "double"
        },
        "dialogflowConversationsEscalationCount": {
          "type": "number",
          "description": "count of conversations that was handed off from virtual agent to human agent.",
          "format": "double"
        },
        "averageDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "The average duration."
        },
        "dialogflowConversationsEscalationRatio": {
          "format": "double",
          "description": "Proportion of conversations that was handed off from virtual agent to human agent.",
          "type": "number"
        },
        "averageCustomerSatisfactionRating": {
          "type": "number",
          "format": "double",
          "description": "The average customer satisfaction rating."
        },
        "averageSummarizationSuggestionNormalizedEditDistance": {
          "type": "number",
          "description": "Normalized Average edit distance of the summarization suggestions. Edit distance (also called as levenshtein distance) is calculated by summing up number of insertions, deletions and substitutions required to transform the summization feedback to the original summary suggestion. Normalized edit distance is the average of (edit distance / summary length).",
          "format": "double"
        },
        "dialogflowAverageWebhookLatency": {
          "format": "double",
          "description": "Average latency of dialogflow webhook calls.",
          "type": "number"
        },
        "averageClientSentimentScore": {
          "description": "The average client's sentiment score.",
          "format": "float",
          "type": "number"
        },
        "aaSupervisorAssignedConversationsCount": {
          "description": "The number of conversations that were assigned to an AA human supervisor.",
          "format": "int32",
          "type": "integer"
        },
        "knowledgeSearchResultCount": {
          "format": "int32",
          "description": "Count of knowledge search results (Generative Knowledge Assist) shown to the user.",
          "type": "integer"
        },
        "averageSummarizationSuggestionEditDistance": {
          "type": "number",
          "description": "Average edit distance of the summarization suggestions. Edit distance (also called as levenshtein distance) is calculated by summing up number of insertions, deletions and substitutions required to transform the summization feedback to the original summary suggestion.",
          "format": "double"
        },
        "avgConversationClientTurnSentimentEma": {
          "type": "number",
          "description": "The exponential moving average of the sentiment score of client turns in the conversation.",
          "format": "double"
        },
        "aiCoachSuggestionAgentUsageRatio": {
          "type": "number",
          "description": "Proportion of Ai Coach Suggestion that has been used by agents.",
          "format": "double"
        },
        "conversationalAgentsAverageTtsLatency": {
          "description": "The macro average latency of conversational agents' TTS latency per interaction. This is computed as the average of the all the interactions' TTS latencies in a conversation and averaged across conversations.",
          "type": "number",
          "format": "double"
        },
        "dialogflowInteractionsNoInputRatio": {
          "type": "number",
          "description": "Proportion of dialogflow interactions that has empty input.",
          "format": "double"
        },
        "knowledgeSearchPositiveFeedbackRatio": {
          "type": "number",
          "description": "Proportion of knowledge search (Generative Knowledge Assist) queries that had positive feedback.",
          "format": "double"
        },
        "knowledgeAssistNegativeFeedbackRatio": {
          "format": "double",
          "description": "Proportion of knowledge assist (Proactive Generative Knowledge Assist) queries that had negative feedback.",
          "type": "number"
        },
        "knowledgeSearchSuggestedQuerySourceRatio": {
          "format": "double",
          "type": "number",
          "description": "Proportion of knowledge search (Generative Knowledge Assist) queries suggested compared to the total number of knowledge search queries made."
        },
        "knowledgeAssistUriClickRatio": {
          "description": "Proportion of knowledge assist (Proactive Generative Knowledge Assist) queries that had a URL clicked.",
          "format": "double",
          "type": "number"
        },
        "conversationTotalCustomerMessageCount": {
          "type": "integer",
          "description": "The customer message count.",
          "format": "int32"
        },
        "containedConversationCount": {
          "description": "The number of conversations that were contained.",
          "format": "int32",
          "type": "integer"
        },
        "dialogflowWebhookTimeoutRatio": {
          "description": "Proportion of dialogflow webhook calls that timed out.",
          "format": "double",
          "type": "number"
        },
        "aiCoachSuggestionCustomerMessageTriggerCount": {
          "description": "Count of customer messages that triggered an Ai Coach Suggestion.",
          "type": "integer",
          "format": "int32"
        },
        "aiCoachSuggestionMessageTriggerRatio": {
          "format": "double",
          "type": "number",
          "description": "Proportion of end_of_utterance trigger event messages that triggered an Ai Coach Suggestion."
        },
        "knowledgeSearchAgentQuerySourceRatio": {
          "format": "double",
          "type": "number",
          "description": "Proportion of knowledge search (Generative Knowledge Assist) queries made by the agent compared to the total number of knowledge search queries made."
        },
        "conversationTotalAgentMessageCount": {
          "format": "int32",
          "description": "The agent message count.",
          "type": "integer"
        },
        "qaTagScores": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPointConversationMeasureQaTagScore"
          },
          "description": "Average QA normalized score for all the tags.",
          "type": "array"
        },
        "conversationSuggestedSummaryRatio": {
          "description": "Proportion of conversations that had a suggested summary.",
          "type": "number",
          "format": "double"
        },
        "dialogflowWebhookFailureRatio": {
          "format": "double",
          "type": "number",
          "description": "Proportion of dialogflow webhook calls that failed."
        },
        "conversationalAgentsAverageEndToEndLatency": {
          "type": "number",
          "description": "The average latency of conversational agents' latency per interaction. This is computed as the average of the all the iteractions' end to end latencies in a conversation and averaged across conversations. The e2e latency is the time between the end of the user utterance and the start of the agent utterance on the interaction level.",
          "format": "double"
        },
        "averageAgentSentimentScore": {
          "type": "number",
          "format": "float",
          "description": "The average agent's sentiment score."
        },
        "averageSilencePercentage": {
          "type": "number",
          "description": "The average silence percentage.",
          "format": "float"
        },
        "aaSupervisorTransferredToHumanAgentConvCount": {
          "type": "integer",
          "description": "The number of conversations transferred to a human agent.",
          "format": "int32"
        },
        "conversationAiCoachSuggestionCount": {
          "format": "int32",
          "type": "integer",
          "description": "Count of conversations that has Ai Coach Suggestions."
        },
        "knowledgeAssistPositiveFeedbackRatio": {
          "format": "double",
          "description": "Proportion of knowledge assist (Proactive Generative Knowledge Assist) queries that had positive feedback.",
          "type": "number"
        },
        "knowledgeSearchNegativeFeedbackRatio": {
          "format": "double",
          "type": "number",
          "description": "Proportion of knowledge search (Generative Knowledge Assist) queries that had negative feedback."
        },
        "conversationCount": {
          "format": "int32",
          "description": "The conversation count.",
          "type": "integer"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPointConversationMeasure",
      "type": "object",
      "description": "The measure related to conversations."
    },
    "GoogleCloudContactcenterinsightsV1mainCreateIssueModelRequest": {
      "id": "GoogleCloudContactcenterinsightsV1mainCreateIssueModelRequest",
      "description": "The request to create an issue model.",
      "type": "object",
      "properties": {
        "parent": {
          "type": "string",
          "description": "Required. The parent resource of the issue model."
        },
        "issueModel": {
          "description": "Required. The issue model to create.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainIssueModel"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1CalculateStatsResponse": {
      "description": "The response for calculating conversation statistics.",
      "properties": {
        "smartHighlighterMatches": {
          "additionalProperties": {
            "format": "int32",
            "type": "integer"
          },
          "description": "A map associating each smart highlighter display name with its respective number of matches in the set of conversations.",
          "type": "object"
        },
        "issueMatchesStats": {
          "description": "A map associating each issue resource name with its respective number of matches in the set of conversations. Key has the format: `projects//locations//issueModels//issues/`",
          "additionalProperties": {
            "$ref": "GoogleCloudContactcenterinsightsV1IssueModelLabelStatsIssueStats"
          },
          "type": "object"
        },
        "conversationCountTimeSeries": {
          "$ref": "GoogleCloudContactcenterinsightsV1CalculateStatsResponseTimeSeries",
          "description": "A time series representing the count of conversations created over time that match that requested filter criteria."
        },
        "averageDuration": {
          "format": "google-duration",
          "description": "The average duration of all conversations. The average is calculated using only conversations that have a time duration.",
          "type": "string"
        },
        "averageTurnCount": {
          "type": "integer",
          "description": "The average number of turns per conversation.",
          "format": "int32"
        },
        "customHighlighterMatches": {
          "additionalProperties": {
            "type": "integer",
            "format": "int32"
          },
          "description": "A map associating each custom highlighter resource name with its respective number of matches in the set of conversations.",
          "type": "object"
        },
        "issueMatches": {
          "deprecated": true,
          "description": "A map associating each issue resource name with its respective number of matches in the set of conversations. Key has the format: `projects//locations//issueModels//issues/` Deprecated, use `issue_matches_stats` field instead.",
          "additionalProperties": {
            "type": "integer",
            "format": "int32"
          },
          "type": "object"
        },
        "conversationCount": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of conversations."
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1CalculateStatsResponse"
    },
    "GoogleCloudContactcenterinsightsV1alpha1GenerativeInsightsResponseGenerativeResponseTextOutput": {
      "description": "Wrapper for text output.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1GenerativeInsightsResponseGenerativeResponseTextOutput",
      "properties": {
        "textType": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "THOUGHT",
            "FINAL_RESPONSE",
            "PROGRESS"
          ],
          "enumDescriptions": [
            "The type is unspecified.",
            "The text is part of LLM reasoning.",
            "The text is the final answer from LLM.",
            "The text is an informational message about the agent's progress, such as a tool being invoked. This is distinct from the agent's internal thought process (`THOUGHT`) and the final answer to the user (`FINAL_RESPONSE`). These messages provide insight into the agent's actions."
          ],
          "description": "The type of text output."
        },
        "text": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The text output from the LLM."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsRequestGcsSource": {
      "description": "Configuration for Cloud Storage bucket sources.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsRequestGcsSource",
      "properties": {
        "metadataBucketUri": {
          "description": "Optional. The Cloud Storage path to the conversation metadata. Note that: [1] Metadata files are expected to be in JSON format. [2] Metadata and source files (transcripts or audio) must be in separate buckets / folders. [3] A source file and its corresponding metadata file must share the same name to be properly ingested, E.g. `gs://bucket/audio/conversation1.mp3` and `gs://bucket/metadata/conversation1.json`.",
          "type": "string"
        },
        "bucketObjectType": {
          "description": "Optional. Specifies the type of the objects in `bucket_uri`. Avoid passing this. This is inferred from the `transcript_bucket_uri`, `audio_bucket_uri`.",
          "enumDescriptions": [
            "The object type is unspecified and will default to `TRANSCRIPT`.",
            "The object is a transcript.",
            "The object is an audio file."
          ],
          "enum": [
            "BUCKET_OBJECT_TYPE_UNSPECIFIED",
            "TRANSCRIPT",
            "AUDIO"
          ],
          "type": "string"
        },
        "bucketUri": {
          "type": "string",
          "description": "Optional. The Cloud Storage bucket containing source objects. Avoid passing this. Pass this through one of `transcript_bucket_uri` or `audio_bucket_uri`."
        },
        "customMetadataKeys": {
          "description": "Optional. Custom keys to extract as conversation labels from metadata files in `metadata_bucket_uri`. Keys not included in this field will be ignored. Note that there is a limit of 100 labels per conversation.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "transcriptBucketUri": {
          "description": "Optional. The Cloud Storage path to the conversation transcripts. Note that: [1] Transcript files are expected to be in JSON format. [2] Transcript, audio, metadata files must be in separate buckets / folders. [3] A source file and its corresponding metadata file must share the same name to be properly ingested, E.g. `gs://bucket/audio/conversation1.mp3` and `gs://bucket/metadata/conversation1.json`.",
          "type": "string"
        },
        "audioBucketUri": {
          "type": "string",
          "description": "Optional. The Cloud Storage path to the conversation audio file. Note that: [1] Audio files will be transcribed if not already. [2] Audio files and transcript files must be in separate buckets / folders. [3] A source file and its corresponding audio file must share the same name to be properly ingested, E.g. `gs://bucket/transcript/conversation1.json` and `gs://bucket/audio/conversation1.mp3`."
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1SmartComposeSuggestionData": {
      "properties": {
        "suggestion": {
          "type": "string",
          "description": "The content of the suggestion."
        },
        "queryRecord": {
          "description": "The name of the answer record. Format: projects/{project}/locations/{location}/answerRecords/{answer_record}",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Map that contains metadata about the Smart Compose suggestion and the document from which it originates."
        },
        "confidenceScore": {
          "type": "number",
          "format": "double",
          "description": "The system's confidence score that this suggestion is a good match for this conversation, ranging from 0.0 (completely uncertain) to 1.0 (completely certain)."
        }
      },
      "type": "object",
      "description": "Agent Assist Smart Compose suggestion data.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1SmartComposeSuggestionData"
    },
    "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsMetadata": {
      "type": "object",
      "description": "The metadata from querying metrics.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsMetadata",
      "properties": {
        "resultIsTruncated": {
          "type": "boolean",
          "description": "Whether the result rows were truncated because the result row size is too large to materialize."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1BulkDownloadFeedbackLabelsRequestSheetsDestination": {
      "type": "object",
      "properties": {
        "spreadsheetUri": {
          "description": "Required. The Google Sheets document to write the feedback labels to. Retrieved from Google Sheets URI. E.g. `https://docs.google.com/spreadsheets/d/1234567890` The spreadsheet must be shared with the Insights P4SA. The spreadsheet ID written to will be returned as `file_names` in the BulkDownloadFeedbackLabelsMetadata.",
          "type": "string"
        },
        "sheetTitle": {
          "description": "Optional. The title of the new sheet to write the feedback labels to.",
          "type": "string"
        }
      },
      "description": "Google Sheets document details to write the feedback labels to.",
      "id": "GoogleCloudContactcenterinsightsV1BulkDownloadFeedbackLabelsRequestSheetsDestination"
    },
    "GoogleCloudContactcenterinsightsV1mainIngestConversationsMetadata": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainIngestConversationsMetadata",
      "description": "The metadata for an IngestConversations operation.",
      "properties": {
        "partialErrors": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "Output only. Partial errors during ingest operation that might cause the operation output to be incomplete."
        },
        "sampledConversations": {
          "description": "Output only. Stores the conversation resources produced by ingest sampling operations.",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "ingestConversationsStats": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainIngestConversationsMetadataIngestConversationsStats",
          "readOnly": true,
          "description": "Output only. Statistics for IngestConversations operation."
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running."
        },
        "request": {
          "description": "Output only. The original request for ingest.",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1mainIngestConversationsRequest"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1DeployIssueModelResponse": {
      "properties": {},
      "description": "The response to deploy an issue model.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1DeployIssueModelResponse"
    },
    "GoogleCloudContactcenterinsightsV1TestCorrelationConfigResponse": {
      "id": "GoogleCloudContactcenterinsightsV1TestCorrelationConfigResponse",
      "type": "object",
      "description": "The response of testing correlation config.",
      "properties": {
        "partialErrors": {
          "description": "Partial errors during test correlation config operation that might cause the operation output to be incomplete.",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        },
        "detailedResults": {
          "$ref": "GoogleCloudContactcenterinsightsV1TestCorrelationConfigResponseDetailedCorrelationResults",
          "description": "Results for the DETAILED_SYNC execution mode."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1QueryMetrics": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1QueryMetrics",
      "description": "Request data that use the existing QueryMetrics.",
      "properties": {
        "request": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1ArticleSuggestionData": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1ArticleSuggestionData",
      "properties": {
        "title": {
          "description": "Article title.",
          "type": "string"
        },
        "source": {
          "description": "The knowledge document that this answer was extracted from. Format: projects/{project}/knowledgeBases/{knowledge_base}/documents/{document}",
          "type": "string"
        },
        "confidenceScore": {
          "format": "float",
          "description": "The system's confidence score that this article is a good match for this conversation, ranging from 0.0 (completely uncertain) to 1.0 (completely certain).",
          "type": "number"
        },
        "queryRecord": {
          "description": "The name of the answer record. Format: projects/{project}/locations/{location}/answerRecords/{answer_record}",
          "type": "string"
        },
        "uri": {
          "type": "string",
          "description": "Article URI."
        },
        "metadata": {
          "description": "Map that contains metadata about the Article Suggestion and the document that it originates from.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "description": "Agent Assist Article Suggestion data."
    },
    "GoogleCloudContactcenterinsightsV1mainQueryPerformanceOverviewMetadata": {
      "description": "The metadata for querying performance overview.",
      "properties": {},
      "id": "GoogleCloudContactcenterinsightsV1mainQueryPerformanceOverviewMetadata",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainQaQuestionTag": {
      "description": "A tag is a resource which aims to categorize a set of questions across multiple scorecards, e.g., \"Customer Satisfaction\",\"Billing\", etc.",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Required. A user-specified display name for the tag.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. Resource name for the QaQuestionTag Format projects/{project}/locations/{location}/qaQuestionTags/{qa_question_tag} In the above format, the last segment, i.e., qa_question_tag, is a server-generated ID corresponding to the tag resource.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time at which the question tag was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. The most recent time at which the question tag was updated.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "qaQuestionIds": {
          "type": "array",
          "description": "Optional. The list of Scorecard Question IDs that the tag applies to. Each QaQuestionId is represented as a full resource name containing the Question ID. Lastly, Since a tag may not necessarily be referenced by any Scorecard Questions, we treat this field as optional.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainQaQuestionTag"
    },
    "GoogleCloudContactcenterinsightsV1ConversationParticipant": {
      "id": "GoogleCloudContactcenterinsightsV1ConversationParticipant",
      "description": "The call participant speaking for a given utterance.",
      "type": "object",
      "properties": {
        "dialogflowParticipantName": {
          "description": "The name of the participant provided by Dialogflow. Format: projects/{project}/locations/{location}/conversations/{conversation}/participants/{participant}",
          "type": "string"
        },
        "obfuscatedExternalUserId": {
          "description": "Obfuscated user ID from Dialogflow.",
          "type": "string"
        },
        "dialogflowParticipant": {
          "type": "string",
          "deprecated": true,
          "description": "Deprecated. Use `dialogflow_participant_name` instead. The name of the Dialogflow participant. Format: projects/{project}/locations/{location}/conversations/{conversation}/participants/{participant}"
        },
        "userId": {
          "type": "string",
          "description": "A user-specified ID representing the participant."
        },
        "role": {
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER",
            "ANY_AGENT"
          ],
          "type": "string",
          "description": "The role of the participant.",
          "enumDescriptions": [
            "Participant's role is not set.",
            "Participant is a human agent.",
            "Participant is an automated agent.",
            "Participant is an end user who conversed with the contact center.",
            "Participant is either a human or automated agent."
          ]
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponseSliceDataPointConversationMeasure": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponseSliceDataPointConversationMeasure",
      "properties": {
        "summarizationSuggestionEditRatio": {
          "format": "double",
          "type": "number",
          "description": "Proportion of summarization suggestions that were manually edited."
        },
        "averageTurnCount": {
          "format": "float",
          "description": "The average turn count.",
          "type": "number"
        },
        "averageSilencePercentage": {
          "description": "The average silence percentage.",
          "format": "float",
          "type": "number"
        },
        "aiCoachSuggestionMessageTriggerRatio": {
          "format": "double",
          "type": "number",
          "description": "Proportion of end_of_utterance trigger event messages that triggered an Ai Coach Suggestion."
        },
        "knowledgeSearchResultCount": {
          "type": "integer",
          "description": "Count of knowledge search results (Generative Knowledge Assist) shown to the user.",
          "format": "int32"
        },
        "knowledgeSearchAgentQuerySourceRatio": {
          "description": "Proportion of knowledge search (Generative Knowledge Assist) queries made by the agent compared to the total number of knowledge search queries made.",
          "type": "number",
          "format": "double"
        },
        "averageSummarizationSuggestionEditDistance": {
          "description": "Average edit distance of the summarization suggestions. Edit distance (also called as levenshtein distance) is calculated by summing up number of insertions, deletions and substitutions required to transform the summization feedback to the original summary suggestion.",
          "format": "double",
          "type": "number"
        },
        "aiCoachSuggestionCustomerMessageTriggerRatio": {
          "description": "Proportion of customer messages that triggered an Ai Coach Suggestion.",
          "type": "number",
          "format": "double"
        },
        "dialogflowInteractionsNoInputRatio": {
          "description": "Proportion of dialogflow interactions that has empty input.",
          "format": "double",
          "type": "number"
        },
        "aiCoachSuggestionAgentUsageRatio": {
          "description": "Proportion of Ai Coach Suggestion that has been used by agents.",
          "type": "number",
          "format": "double"
        },
        "averageDuration": {
          "description": "The average duration.",
          "type": "string",
          "format": "google-duration"
        },
        "summarizationSuggestionResultCount": {
          "format": "int32",
          "description": "Count of summarization suggestions results.",
          "type": "integer"
        },
        "knowledgeAssistResultCount": {
          "format": "int32",
          "description": "Count of knowledge assist results (Proactive Generative Knowledge Assist) shown to the user.",
          "type": "integer"
        },
        "knowledgeSearchNegativeFeedbackRatio": {
          "type": "number",
          "description": "Proportion of knowledge search (Generative Knowledge Assist) queries that had negative feedback.",
          "format": "double"
        },
        "conversationAiCoachSuggestionRatio": {
          "format": "double",
          "description": "Proportion of conversations that has Ai Coach Suggestions.",
          "type": "number"
        },
        "qaTagScores": {
          "description": "Average QA normalized score for all the tags.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponseSliceDataPointConversationMeasureQaTagScore"
          }
        },
        "knowledgeSearchUriClickRatio": {
          "description": "Proportion of knowledge search (Generative Knowledge Assist) queries that had a URL clicked.",
          "format": "double",
          "type": "number"
        },
        "knowledgeAssistPositiveFeedbackRatio": {
          "description": "Proportion of knowledge assist (Proactive Generative Knowledge Assist) queries that had positive feedback.",
          "type": "number",
          "format": "double"
        },
        "averageCustomerSatisfactionRating": {
          "format": "double",
          "type": "number",
          "description": "The average customer satisfaction rating."
        },
        "dialogflowInteractionsNoMatchRatio": {
          "type": "number",
          "format": "double",
          "description": "Proportion of dialogflow interactions that has no intent match for the input."
        },
        "averageClientSentimentScore": {
          "format": "float",
          "description": "The average client's sentiment score.",
          "type": "number"
        },
        "conversationTotalCustomerMessageCount": {
          "format": "int32",
          "type": "integer",
          "description": "The customer message count."
        },
        "averageQaQuestionNormalizedScore": {
          "description": "Average QA normalized score averaged for questions averaged across all revisions of the parent scorecard. Will be only populated if the request specifies a dimension of QA_QUESTION_ID.",
          "format": "double",
          "type": "number"
        },
        "aiCoachSuggestionAgentUsageCount": {
          "format": "int32",
          "type": "integer",
          "description": "Count of Ai Coach Suggestion that has been used by agents."
        },
        "containedConversationRatio": {
          "format": "double",
          "type": "number",
          "description": "The percentage of conversations that were contained."
        },
        "aiCoachSuggestionAgentMessageTriggerCount": {
          "type": "integer",
          "format": "int32",
          "description": "Count of agent messages that triggered an Ai Coach Suggestion."
        },
        "aiCoachSuggestionCustomerMessageTriggerCount": {
          "format": "int32",
          "description": "Count of customer messages that triggered an Ai Coach Suggestion.",
          "type": "integer"
        },
        "dialogflowConversationsEscalationRatio": {
          "type": "number",
          "description": "Proportion of conversations that was handed off from virtual agent to human agent.",
          "format": "double"
        },
        "conversationSuggestedSummaryRatio": {
          "type": "number",
          "format": "double",
          "description": "Proportion of conversations that had a suggested summary."
        },
        "aaSupervisorEscalatedConversationsCount": {
          "format": "int32",
          "description": "The number of conversations that were escalated to an AA human supervisor for intervention.",
          "type": "integer"
        },
        "aaSupervisorAssignedConversationsCount": {
          "format": "int32",
          "description": "The number of conversations that were assigned to an AA human supervisor.",
          "type": "integer"
        },
        "knowledgeAssistUriClickRatio": {
          "description": "Proportion of knowledge assist (Proactive Generative Knowledge Assist) queries that had a URL clicked.",
          "type": "number",
          "format": "double"
        },
        "aaSupervisorMonitoredConversationsCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of conversations scanned by the AA human supervisor."
        },
        "avgConversationClientTurnSentimentEma": {
          "format": "double",
          "type": "number",
          "description": "The exponential moving average of the sentiment score of client turns in the conversation."
        },
        "conversationalAgentsAverageTtsLatency": {
          "description": "The macro average latency of conversational agents' TTS latency per interaction. This is computed as the average of the all the interactions' TTS latencies in a conversation and averaged across conversations.",
          "format": "double",
          "type": "number"
        },
        "conversationAiCoachSuggestionCount": {
          "type": "integer",
          "format": "int32",
          "description": "Count of conversations that has Ai Coach Suggestions."
        },
        "conversationCount": {
          "format": "int32",
          "description": "The conversation count.",
          "type": "integer"
        },
        "dialogflowConversationsEscalationCount": {
          "format": "double",
          "type": "number",
          "description": "count of conversations that was handed off from virtual agent to human agent."
        },
        "knowledgeSearchSuggestedQuerySourceRatio": {
          "type": "number",
          "description": "Proportion of knowledge search (Generative Knowledge Assist) queries suggested compared to the total number of knowledge search queries made.",
          "format": "double"
        },
        "dialogflowAverageWebhookLatency": {
          "format": "double",
          "type": "number",
          "description": "Average latency of dialogflow webhook calls."
        },
        "averageAgentSentimentScore": {
          "type": "number",
          "description": "The average agent's sentiment score.",
          "format": "float"
        },
        "conversationTotalAgentMessageCount": {
          "description": "The agent message count.",
          "type": "integer",
          "format": "int32"
        },
        "dialogflowWebhookTimeoutRatio": {
          "description": "Proportion of dialogflow webhook calls that timed out.",
          "type": "number",
          "format": "double"
        },
        "aaSupervisorTransferredToHumanAgentConvCount": {
          "description": "The number of conversations transferred to a human agent.",
          "type": "integer",
          "format": "int32"
        },
        "averageQaNormalizedScore": {
          "format": "double",
          "description": "The average normalized QA score for a scorecard. When computing the average across a set of conversations, if a conversation has been evaluated with multiple revisions of a scorecard, only the latest revision results will be used. Will exclude 0's in average calculation. Will be only populated if the request specifies a dimension of QA_SCORECARD_ID.",
          "type": "number"
        },
        "knowledgeSearchPositiveFeedbackRatio": {
          "format": "double",
          "description": "Proportion of knowledge search (Generative Knowledge Assist) queries that had positive feedback.",
          "type": "number"
        },
        "conversationalAgentsAverageLlmCallLatency": {
          "description": "The average latency of conversational agents' LLM call latency per interaction. This is computed as the average of the all the interactions LLM call latencies in a conversation and averaged across conversations.",
          "format": "double",
          "type": "number"
        },
        "knowledgeAssistNegativeFeedbackRatio": {
          "description": "Proportion of knowledge assist (Proactive Generative Knowledge Assist) queries that had negative feedback.",
          "type": "number",
          "format": "double"
        },
        "conversationalAgentsAverageEndToEndLatency": {
          "format": "double",
          "description": "The average latency of conversational agents' latency per interaction. This is computed as the average of the all the iteractions' end to end latencies in a conversation and averaged across conversations. The e2e latency is the time between the end of the user utterance and the start of the agent utterance on the interaction level.",
          "type": "number"
        },
        "containedConversationCount": {
          "description": "The number of conversations that were contained.",
          "type": "integer",
          "format": "int32"
        },
        "dialogflowWebhookFailureRatio": {
          "description": "Proportion of dialogflow webhook calls that failed.",
          "format": "double",
          "type": "number"
        },
        "aiCoachSuggestionMessageTriggerCount": {
          "type": "integer",
          "format": "int32",
          "description": "Count of end_of_utterance trigger event messages that triggered an Ai Coach Suggestion."
        },
        "conversationalAgentsAverageAudioInAudioOutLatency": {
          "type": "number",
          "format": "double",
          "description": "The average latency of conversational agents' audio in audio out latency per interaction. This is computed as the average of the all the interactions' audio in audio out latencies in a conversation and averaged across conversations."
        },
        "averageSummarizationSuggestionNormalizedEditDistance": {
          "type": "number",
          "description": "Normalized Average edit distance of the summarization suggestions. Edit distance (also called as levenshtein distance) is calculated by summing up number of insertions, deletions and substitutions required to transform the summization feedback to the original summary suggestion. Normalized edit distance is the average of (edit distance / summary length).",
          "format": "double"
        },
        "aaSupervisorDroppedConversationsCount": {
          "type": "integer",
          "description": "The number of conversations that were dropped, i.e. escalated but not assigned to an AA human supervisor.",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "The measure related to conversations."
    },
    "GoogleCloudContactcenterinsightsV1mainExportInsightsDataRequest": {
      "properties": {
        "exportSchemaVersion": {
          "description": "Optional. Version of the export schema.",
          "enum": [
            "EXPORT_SCHEMA_VERSION_UNSPECIFIED",
            "EXPORT_V1",
            "EXPORT_V2",
            "EXPORT_V3",
            "EXPORT_V4",
            "EXPORT_V5",
            "EXPORT_V6",
            "EXPORT_V7",
            "EXPORT_V8",
            "EXPORT_V9",
            "EXPORT_V10",
            "EXPORT_V11",
            "EXPORT_V12",
            "EXPORT_V13",
            "EXPORT_V14",
            "EXPORT_V15",
            "EXPORT_V16",
            "EXPORT_V17",
            "EXPORT_VERSION_LATEST_AVAILABLE"
          ],
          "enumDescriptions": [
            "Unspecified. Defaults to EXPORT_V3.",
            "Export schema version 1.",
            "Export schema version 2.",
            "Export schema version 3.",
            "Export schema version 4.",
            "Export schema version 5.",
            "Export schema version 6.",
            "Export schema version 7.",
            "Export schema version 8.",
            "Export schema version 9.",
            "Export schema version 10.",
            "Export schema version 11.",
            "Export schema version 12.",
            "Export schema version 13.",
            "Export schema version 14.",
            "Export schema version 15.",
            "Export schema version 16.",
            "Export schema version 17.",
            "Export schema version latest available."
          ],
          "type": "string"
        },
        "filter": {
          "type": "string",
          "description": "A filter to reduce results to a specific subset. Useful for exporting conversations with specific properties."
        },
        "bigQueryDestination": {
          "description": "Specified if sink is a BigQuery table.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainExportInsightsDataRequestBigQueryDestination"
        },
        "writeDisposition": {
          "type": "string",
          "enumDescriptions": [
            "Write disposition is not specified. Defaults to WRITE_TRUNCATE.",
            "If the table already exists, BigQuery will overwrite the table data and use the schema from the load.",
            "If the table already exists, BigQuery will append data to the table."
          ],
          "description": "Options for what to do if the destination table already exists.",
          "enum": [
            "WRITE_DISPOSITION_UNSPECIFIED",
            "WRITE_TRUNCATE",
            "WRITE_APPEND"
          ]
        },
        "parent": {
          "type": "string",
          "description": "Required. The parent resource to export data from."
        },
        "kmsKey": {
          "description": "A fully qualified KMS key name for BigQuery tables protected by CMEK. Format: projects/{project}/locations/{location}/keyRings/{keyring}/cryptoKeys/{key}/cryptoKeyVersions/{version}",
          "type": "string"
        }
      },
      "description": "The request to export insights.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainExportInsightsDataRequest"
    },
    "GoogleCloudContactcenterinsightsV1alpha1DimensionConversationalAgentsToolDimensionMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1DimensionConversationalAgentsToolDimensionMetadata",
      "properties": {
        "toolId": {
          "type": "string",
          "description": "Optional. The dialogflow tool ID."
        },
        "toolDisplayName": {
          "description": "Optional. The dialogflow tool display name.",
          "type": "string"
        }
      },
      "description": "Metadata about the Conversational Agents tool dimension.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1QueryPerformanceOverviewResponse": {
      "type": "object",
      "properties": {
        "summaryText": {
          "description": "The summary text of the performance.",
          "type": "string"
        }
      },
      "description": "The response for querying performance overview.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1QueryPerformanceOverviewResponse"
    },
    "GoogleCloudContactcenterinsightsV1mainBulkDeleteFeedbackLabelsResponse": {
      "type": "object",
      "description": "Response for the BulkDeleteFeedbackLabels endpoint.",
      "properties": {},
      "id": "GoogleCloudContactcenterinsightsV1mainBulkDeleteFeedbackLabelsResponse"
    },
    "GoogleCloudContactcenterinsightsV1AutoLabelingRule": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1AutoLabelingRule",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the auto-labeling rule. Format: projects/{project}/locations/{location}/autoLabelingRules/{auto_labeling_rule}",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The most recent time at which the rule was updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "labelKey": {
          "type": "string",
          "description": "The label key. This is also the {auto_labeling_rule} in the resource name. Only settable if label_key_type is LABEL_KEY_TYPE_CUSTOM."
        },
        "description": {
          "type": "string",
          "description": "The description of the rule."
        },
        "active": {
          "description": "Whether the rule is active.",
          "type": "boolean"
        },
        "displayName": {
          "type": "string",
          "description": "The user-provided display name of the rule."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time at which this rule was created.",
          "format": "google-datetime"
        },
        "labelKeyType": {
          "enum": [
            "LABEL_KEY_TYPE_UNSPECIFIED",
            "LABEL_KEY_TYPE_CUSTOM"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified label key type.",
            "The label key is custom defined by the user."
          ],
          "description": "The type of the label key."
        },
        "conditions": {
          "type": "array",
          "description": "Conditions to apply for auto-labeling the label_key. Representing sequential block of if .. else if .. else statements. The value of the first matching condition will be used.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1AutoLabelingRuleLabelingCondition"
          }
        }
      },
      "description": "Rule for auto-labeling conversations."
    },
    "GoogleCloudContactcenterinsightsV1AssistantChunk": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1AssistantChunk",
      "properties": {
        "text": {
          "type": "string",
          "description": "Optional. Text data."
        }
      },
      "description": "A chunk of data in an assistant message."
    },
    "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPointConversationMeasureQaTagScore": {
      "id": "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPointConversationMeasureQaTagScore",
      "type": "object",
      "description": "Average QA normalized score for the tag.",
      "properties": {
        "tag": {
          "type": "string",
          "description": "Tag name."
        },
        "averageTagNormalizedScore": {
          "format": "double",
          "description": "Average tag normalized score per tag.",
          "type": "number"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1CesEndSessionAnnotation": {
      "description": "The CES end session annotation.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1CesEndSessionAnnotation",
      "type": "object",
      "properties": {
        "endSession": {
          "description": "End session signal from CES.",
          "$ref": "GoogleCloudCesV1mainEndSession"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainIssueMatchData": {
      "type": "object",
      "description": "The data for an issue match annotation.",
      "id": "GoogleCloudContactcenterinsightsV1mainIssueMatchData",
      "properties": {
        "issueAssignment": {
          "description": "Information about the issue's assignment.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainIssueAssignment"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1CallAnnotation": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1CallAnnotation",
      "properties": {
        "interruptionData": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1InterruptionData",
          "description": "Data specifying an interruption."
        },
        "intentMatchData": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1IntentMatchData",
          "description": "Data specifying an intent match."
        },
        "holdData": {
          "description": "Data specifying a hold.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1HoldData"
        },
        "annotationEndBoundary": {
          "description": "The boundary in the conversation where the annotation ends, inclusive.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1AnnotationBoundary"
        },
        "channelTag": {
          "description": "The channel of the audio where the annotation occurs. For single-channel audio, this field is not populated.",
          "format": "int32",
          "type": "integer"
        },
        "annotationStartBoundary": {
          "description": "The boundary in the conversation where the annotation starts, inclusive.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1AnnotationBoundary"
        },
        "issueMatchData": {
          "description": "Data specifying an issue match.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1IssueMatchData"
        },
        "sentimentData": {
          "description": "Data specifying sentiment.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1SentimentData"
        },
        "phraseMatchData": {
          "description": "Data specifying a phrase match.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1PhraseMatchData"
        },
        "silenceData": {
          "description": "Data specifying silence.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1SilenceData"
        },
        "entityMentionData": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1EntityMentionData",
          "description": "Data specifying an entity mention."
        }
      },
      "description": "A piece of metadata that applies to a window of a call.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1TestCorrelationConfigMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1TestCorrelationConfigMetadata",
      "properties": {
        "stats": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1TestCorrelationConfigMetadataFullConversationCorrelationStats",
          "description": "The statistics for the operation."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the operation was created."
        },
        "dataset": {
          "type": "string",
          "description": "The dataset used for sampling conversations."
        }
      },
      "description": "Metadata for testing correlation config.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1GenerativeInsightConversationTranscriptMessage": {
      "type": "object",
      "properties": {
        "userMessage": {
          "description": "A message from the user that is interacting with the system.",
          "$ref": "GoogleCloudContactcenterinsightsV1GenerativeInsightConversationTranscriptMessageUserMessage"
        },
        "systemMessageWrapper": {
          "$ref": "GoogleCloudContactcenterinsightsV1GenerativeInsightConversationTranscriptMessageSystemMessages",
          "description": "A wrapper for system messages per turn."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. For user messages, this is the time at which the system received the message. For system messages, this is the time at which the system generated the message.",
          "format": "google-datetime",
          "readOnly": true
        },
        "messageId": {
          "type": "string",
          "description": "The message id of the message."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1GenerativeInsightConversationTranscriptMessage",
      "description": "The message in the conversation."
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationCallMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationCallMetadata",
      "type": "object",
      "properties": {
        "customerChannel": {
          "format": "int32",
          "description": "The audio channel that contains the customer.",
          "type": "integer"
        },
        "agentChannel": {
          "description": "The audio channel that contains the agent.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Call-specific metadata."
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentDialogflowSegmentMetadata": {
      "properties": {
        "smartReplyAllowlistCovered": {
          "description": "Whether the transcript segment was covered under the configured smart reply allowlist in Agent Assist.",
          "type": "boolean"
        }
      },
      "description": "Metadata from Dialogflow relating to the current transcript segment.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentDialogflowSegmentMetadata",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainTestCorrelationConfigResponseDetailedCorrelationResults": {
      "description": "Wrapper for detailed, step-by-step results.",
      "properties": {
        "constraintResults": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainConstraintEvaluationResult"
          },
          "description": "A list of constraint evaluation results for each pair of conversations.",
          "type": "array"
        },
        "joinKeyResults": {
          "description": "A list of join key correlation results for each conversation tested.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainConversationCorrelationResult"
          }
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainTestCorrelationConfigResponseDetailedCorrelationResults",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1ExportIssueModelMetadata": {
      "description": "Metadata used for export issue model.",
      "id": "GoogleCloudContactcenterinsightsV1ExportIssueModelMetadata",
      "type": "object",
      "properties": {
        "request": {
          "description": "The original export request.",
          "$ref": "GoogleCloudContactcenterinsightsV1ExportIssueModelRequest"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the operation was created."
        },
        "endTime": {
          "description": "The time the operation finished running.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleProtobufEmpty": {
      "type": "object",
      "id": "GoogleProtobufEmpty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "GoogleCloudContactcenterinsightsV1TestAutoLabelingRuleResponse": {
      "type": "object",
      "description": "The response message for testing auto labeling rules.",
      "properties": {
        "labelResult": {
          "description": "The result of the test auto labeling rule.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1TestAutoLabelingRuleResponse"
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConstraintEvaluationResult": {
      "description": "The result of testing a constraint expression on a pair of conversations.",
      "properties": {
        "conversationB": {
          "description": "The second conversation resource name.",
          "type": "string"
        },
        "ruleConstraintResults": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConstraintEvaluationResultRuleConstraintResult"
          },
          "description": "The results for each applicable constraint rule.",
          "type": "array"
        },
        "conversationA": {
          "type": "string",
          "description": "The first conversation resource name."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConstraintEvaluationResult",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainListAllFeedbackLabelsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "feedbackLabels": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainFeedbackLabel"
          },
          "description": "The feedback labels that match the request.",
          "type": "array"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainListAllFeedbackLabelsResponse",
      "description": "The response for listing all feedback labels.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponse": {
      "type": "object",
      "description": "The response for querying metrics.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponse",
      "properties": {
        "macroAverageSlice": {
          "description": "The macro average slice contains aggregated averages across all selected dimensions. i.e. if group_by agent and scorecard_id is specified, this field will contain the average across all agents and all scorecards. This field is only populated if the request specifies a Dimension.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponseSlice"
        },
        "location": {
          "type": "string",
          "description": "Required. The location of the data. \"projects/{project}/locations/{location}\""
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The metrics last update time."
        },
        "slices": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponseSlice"
          },
          "description": "A slice contains a total and (if the request specified a time granularity) a time series of metric values. Each slice contains a unique combination of the cardinality of dimensions from the request."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1PublishAssessmentRequest": {
      "description": "The message to publish an assessment. Draft and appealed assessments can be published. Publishing simply changes the state of the assessment to published, allowing the console and authorized views to filter on the state.",
      "id": "GoogleCloudContactcenterinsightsV1PublishAssessmentRequest",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1StreamChatRequest": {
      "properties": {
        "message": {
          "type": "string",
          "description": "Required. The message to send to the assistant."
        }
      },
      "type": "object",
      "description": "Request to stream chat.",
      "id": "GoogleCloudContactcenterinsightsV1StreamChatRequest"
    },
    "GoogleCloudContactcenterinsightsV1mainTestCorrelationConfigResponse": {
      "id": "GoogleCloudContactcenterinsightsV1mainTestCorrelationConfigResponse",
      "type": "object",
      "properties": {
        "detailedResults": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainTestCorrelationConfigResponseDetailedCorrelationResults",
          "description": "Results for the DETAILED_SYNC execution mode."
        },
        "partialErrors": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array",
          "description": "Partial errors during test correlation config operation that might cause the operation output to be incomplete."
        }
      },
      "description": "The response of testing correlation config."
    },
    "GoogleCloudContactcenterinsightsV1mainBulkAnalyzeConversationsRequest": {
      "type": "object",
      "properties": {
        "filter": {
          "type": "string",
          "description": "Required. Filter used to select the subset of conversations to analyze."
        },
        "relabel": {
          "description": "Optional. If true, the labeling rules will be re-evaluated for the conversations.",
          "type": "boolean"
        },
        "annotatorSelector": {
          "description": "To select the annotators to run and the phrase matchers to use (if any). If not specified, all annotators will be run.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainAnnotatorSelector"
        },
        "analysisPercentage": {
          "format": "float",
          "type": "number",
          "description": "Required. Percentage of selected conversation to analyze, between [0, 100]."
        },
        "parent": {
          "type": "string",
          "description": "Required. The parent resource to create analyses in."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainBulkAnalyzeConversationsRequest",
      "description": "The request to analyze conversations in bulk."
    },
    "GoogleCloudContactcenterinsightsV1GenerateConversationSignedAudioResponse": {
      "type": "object",
      "properties": {
        "signedAudioUris": {
          "$ref": "GoogleCloudContactcenterinsightsV1SignedAudioUris",
          "description": "The signed uris for the audio."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1GenerateConversationSignedAudioResponse",
      "description": "The response from a GenerateConversationSignedAudio request."
    },
    "GoogleCloudContactcenterinsightsV1mainBulkDeleteFeedbackLabelsRequest": {
      "properties": {
        "parent": {
          "type": "string",
          "description": "Required. The parent resource for new feedback labels."
        },
        "filter": {
[...]
