{
  "documentationLink": "https://cloud.google.com/contact-center/insights/docs",
  "mtlsRootUrl": "https://contactcenterinsights.mtls.googleapis.com/",
  "name": "contactcenterinsights",
  "canonicalName": "Contactcenterinsights",
  "revision": "20260928",
  "version": "v1",
  "discoveryVersion": "v1",
  "rootUrl": "https://contactcenterinsights.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "schemas": {
    "GoogleCloudContactcenterinsightsV1CorrelationConfig": {
      "properties": {
        "fullConversationConfig": {
          "$ref": "GoogleCloudContactcenterinsightsV1CorrelationTypeConfig",
          "description": "The correlation type config for full conversations."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time at which the correlation config was created.",
          "format": "google-datetime"
        },
        "name": {
          "description": "Immutable. Identifier. The resource name of the correlation config. Format: projects/{project}/locations/{location}/correlationConfig",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time at which the correlation config was last updated."
        }
      },
      "type": "object",
      "description": "A configuration that defines how to correlate conversations for a given a given project.",
      "id": "GoogleCloudContactcenterinsightsV1CorrelationConfig"
    },
    "GoogleCloudContactcenterinsightsV1alpha1ExportIssueModelRequestGcsDestination": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1ExportIssueModelRequestGcsDestination",
      "properties": {
        "objectUri": {
          "description": "Required. Format: `gs:///`",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Google Cloud Storage Object URI to save the issue model to."
    },
    "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsRequestTranscriptObjectConfig": {
      "type": "object",
      "properties": {
        "medium": {
          "enum": [
            "MEDIUM_UNSPECIFIED",
            "PHONE_CALL",
            "CHAT"
          ],
          "description": "Required. The medium transcript objects represent.",
          "type": "string",
          "enumDescriptions": [
            "Default value for unspecified.",
            "The format for conversations that took place over the phone.",
            "The format for conversations that took place over chat."
          ]
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsRequestTranscriptObjectConfig",
      "description": "Configuration for processing transcript objects."
    },
    "GoogleCloudContactcenterinsightsV1SampleConversationsMetadata": {
      "properties": {
        "sampleConversationsStats": {
          "description": "Output only. Statistics for SampleConversations operation.",
          "$ref": "GoogleCloudContactcenterinsightsV1SampleConversationsMetadataSampleConversationsStats",
          "readOnly": true
        },
        "partialErrors": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Partial errors during sample conversations operation that might cause the operation output to be incomplete.",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime"
        },
        "request": {
          "readOnly": true,
          "description": "Output only. The original request for sample conversations to dataset.",
          "$ref": "GoogleCloudContactcenterinsightsV1SampleConversationsRequest"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1SampleConversationsMetadata",
      "type": "object",
      "description": "The metadata for an SampleConversations operation."
    },
    "GoogleCloudContactcenterinsightsV1mainDimensionQaScorecardDimensionMetadata": {
      "properties": {
        "qaScorecardId": {
          "description": "Optional. The QA scorecard ID.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainDimensionQaScorecardDimensionMetadata",
      "description": "Metadata about the QA scorecard dimension."
    },
    "GoogleCloudContactcenterinsightsV1AssistantSession": {
      "description": "Represents a conversation session with the Assistant Agent.",
      "properties": {
        "displayName": {
          "description": "Optional. The display name of the session.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name of the session. Format: projects/{project}/locations/{location}/assistantSessions/{assistant_session}"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the session was created.",
          "format": "google-datetime"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the session was last updated."
        },
        "requester": {
          "description": "Output only. The user who initiated the session.",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PROCESSING",
            "IDLE"
          ],
          "description": "Output only. The status of the session.",
          "enumDescriptions": [
            "Unspecified state.",
            "Agent is working.",
            "Waiting for user input."
          ],
          "readOnly": true
        },
        "messages": {
          "description": "Optional. History of messages in the session.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1AssistantMessage"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1AssistantSession",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainIssueMatchData": {
      "id": "GoogleCloudContactcenterinsightsV1mainIssueMatchData",
      "properties": {
        "issueAssignment": {
          "description": "Information about the issue's assignment.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainIssueAssignment"
        }
      },
      "description": "The data for an issue match annotation.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1Dataset": {
      "type": "object",
      "description": "Dataset resource represents a collection of conversations that may be bounded (Static Dataset, e.g. golden dataset for training), or unbounded (Dynamic Dataset, e.g. live traffic, or agent training traffic)",
      "id": "GoogleCloudContactcenterinsightsV1Dataset",
      "properties": {
        "name": {
          "type": "string",
          "description": "Immutable. Identifier. Resource name of the dataset. Format: projects/{project}/locations/{location}/datasets/{dataset}"
        },
        "ttl": {
          "description": "Optional. Option TTL for the dataset.",
          "format": "google-duration",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Dataset update time."
        },
        "description": {
          "type": "string",
          "description": "Dataset description."
        },
        "satisfiesPzs": {
          "readOnly": true,
          "description": "Output only. Whether this resource is zone separated.",
          "type": "boolean"
        },
        "displayName": {
          "description": "Display name for the dataaset",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Dataset create time."
        },
        "type": {
          "description": "Dataset usage type.",
          "type": "string",
          "enumDescriptions": [
            "Default value for unspecified.",
            "For evals only.",
            "Dataset with new conversations coming in regularly (Insights legacy conversations and AI trainer)"
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "EVAL",
            "LIVE"
          ]
        },
        "satisfiesPzi": {
          "readOnly": true,
          "description": "Output only. Whether this resource is zone isolated.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1QueryPerformanceOverviewResponse": {
      "id": "GoogleCloudContactcenterinsightsV1QueryPerformanceOverviewResponse",
      "description": "The response for querying performance overview.",
      "type": "object",
      "properties": {
        "summaryText": {
          "type": "string",
          "description": "The summary text of the performance."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1SmartReplyData": {
      "description": "Agent Assist Smart Reply data.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1SmartReplyData",
      "properties": {
        "metadata": {
          "description": "Map that contains metadata about the Smart Reply and the document from which it originates.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "queryRecord": {
          "description": "The name of the answer record. Format: projects/{project}/locations/{location}/answerRecords/{answer_record}",
          "type": "string"
        },
        "confidenceScore": {
          "type": "number",
          "format": "double",
          "description": "The system's confidence score that this reply is a good match for this conversation, ranging from 0.0 (completely uncertain) to 1.0 (completely certain)."
        },
        "reply": {
          "type": "string",
          "description": "The content of the reply."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1PhraseMatcher": {
      "id": "GoogleCloudContactcenterinsightsV1PhraseMatcher",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The most recent time at which the phrase matcher was updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "revisionCreateTime": {
          "type": "string",
          "description": "Output only. The timestamp of when the revision was created. It is also the create time when a new matcher is added.",
          "format": "google-datetime",
          "readOnly": true
        },
        "activationUpdateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The most recent time at which the activation status was updated."
        },
        "type": {
          "enumDescriptions": [
            "Unspecified.",
            "Must meet all phrase match rule groups or there is no match.",
            "If any of the phrase match rule groups are met, there is a match."
          ],
          "description": "Required. The type of this phrase matcher.",
          "type": "string",
          "enum": [
            "PHRASE_MATCHER_TYPE_UNSPECIFIED",
            "ALL_OF",
            "ANY_OF"
          ]
        },
        "versionTag": {
          "description": "The customized version tag to use for the phrase matcher. If not specified, it will default to `revision_id`.",
          "type": "string"
        },
        "phraseMatchRuleGroups": {
          "description": "A list of phase match rule groups that are included in this matcher.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1PhraseMatchRuleGroup"
          },
          "type": "array"
        },
        "displayName": {
          "description": "The human-readable name of the phrase matcher.",
          "type": "string"
        },
        "active": {
          "description": "Applies the phrase matcher only when it is active.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "The resource name of the phrase matcher. Format: projects/{project}/locations/{location}/phraseMatchers/{phrase_matcher}"
        },
        "roleMatch": {
          "enumDescriptions": [
            "Participant's role is not set.",
            "Participant is a human agent.",
            "Participant is an automated agent.",
            "Participant is an end user who conversed with the contact center.",
            "Participant is either a human or automated agent."
          ],
          "type": "string",
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER",
            "ANY_AGENT"
          ],
          "description": "The role whose utterances the phrase matcher should be matched against. If the role is ROLE_UNSPECIFIED it will be matched against any utterances in the transcript."
        },
        "revisionId": {
          "type": "string",
          "description": "Output only. Immutable. The revision ID of the phrase matcher. A new revision is committed whenever the matcher is changed, except when it is activated or deactivated. A server generated random ID will be used. Example: locations/global/phraseMatchers/my-first-matcher@1234567",
          "readOnly": true
        }
      },
      "description": "The phrase matcher resource.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainBulkAnalyzeConversationsMetadata": {
      "description": "The metadata for a bulk analyze conversations operation.",
      "id": "GoogleCloudContactcenterinsightsV1mainBulkAnalyzeConversationsMetadata",
      "type": "object",
      "properties": {
        "totalRequestedAnalysesCount": {
          "description": "Total number of analyses requested. Computed by the number of conversations returned by `filter` multiplied by `analysis_percentage` in the request.",
          "format": "int32",
          "type": "integer"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "The time the operation finished running.",
          "type": "string"
        },
        "relabel": {
          "description": "Output only. If true, the labeling rules will be re-evaluated for the conversations.",
          "readOnly": true,
          "type": "boolean"
        },
        "partialErrors": {
          "description": "Output only. Partial errors during bulk analyze operation that might cause the operation output to be incomplete.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "request": {
          "description": "The original request for bulk analyze.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainBulkAnalyzeConversationsRequest"
        },
        "createTime": {
          "description": "The time the operation was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "completedAnalysesCount": {
          "description": "The number of requested analyses that have completed successfully so far.",
          "type": "integer",
          "format": "int32"
        },
        "failedAnalysesCount": {
          "format": "int32",
          "description": "The number of requested analyses that have failed so far.",
          "type": "integer"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPoint": {
      "id": "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPoint",
      "type": "object",
      "description": "A data point contains the metric values mapped to an interval.",
      "properties": {
        "conversationMeasure": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPointConversationMeasure",
          "description": "The measure related to conversations."
        },
        "interval": {
          "description": "The interval that this data point represents. * If this is the total data point, the interval is [starting create time, ending create time) from the request. * If this a data point from the time series, the interval is [time, time + time granularity from the request).",
          "$ref": "GoogleTypeInterval"
        },
        "dialogflowInteractionMeasure": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPointDialogflowInteractionMeasure",
          "description": "The measure related to dialogflow interactions."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1DimensionIssueDimensionMetadata": {
      "properties": {
        "issueDisplayName": {
          "description": "The issue display name.",
          "type": "string"
        },
        "issueModelId": {
          "type": "string",
          "description": "The parent issue model ID."
        },
        "issueId": {
          "description": "The issue ID.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1DimensionIssueDimensionMetadata",
      "description": "Metadata about the issue dimension."
    },
    "GoogleCloudContactcenterinsightsV1mainAnalysisResult": {
      "description": "The result of an analysis.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainAnalysisResult",
      "properties": {
        "callAnalysisMetadata": {
          "description": "Call-specific metadata created by the analysis.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainAnalysisResultCallAnalysisMetadata"
        },
        "endTime": {
          "type": "string",
          "description": "The time at which the analysis ended.",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartProductCollectionPart": {
      "description": "A product collection part.",
      "type": "object",
      "properties": {
        "products": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartProduct"
          },
          "description": "Optional. List of products."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartProductCollectionPart"
    },
    "GoogleCloudContactcenterinsightsV1GenerativeInsightsRequest": {
      "id": "GoogleCloudContactcenterinsightsV1GenerativeInsightsRequest",
      "description": "The request for generative insights.",
      "type": "object",
      "properties": {
        "sessionId": {
          "description": "Optional. The session id of the conversation. If the session id is not specified, backend will generate a random session id. If the session id is specified, will associate user-provided user_query with the provided session id.",
          "type": "string"
        },
        "userProvidedChartSpec": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "Optional. The user provided chart spec for the chart. This will be used to override the visual spec generated by the LLM."
        },
        "revisionId": {
          "description": "Optional. The revision id that maps to the state of the chart state revision. When specified, the backend will reload the chart with the sql and visual spec from that revision.",
          "type": "string"
        },
        "sqlQuery": {
          "description": "Optional. The SQL query specified by the user. This query must be in BigQuery SQL dialect. The `filter` field will also be ignored, as it is assumed that any filtering is already included in the SQL query.",
          "type": "string"
        },
        "naturalLanguageQuery": {
          "description": "The natural language query specified by the user. If this field is specified, `sql_query` will be ignored.",
          "type": "string"
        },
        "filter": {
          "description": "Filter for the data that can be specified in addition to the natural language query. Users are encouraged to use this field to populate time-windows.",
          "type": "string"
        },
        "comparisonFilter": {
          "type": "string",
          "description": "Optional. Filter for the data that can be specified in addition to the natural language query. This `filter` is specifically used for charts where comparisons are possible. For example, \"compare to last month\" or \"compare to previous quarter\"."
        },
        "chart": {
          "type": "string",
          "description": "The full name of the chart resource this request corresponds to. Format: projects/{project}/locations/{location}/dashboards/{dashboard}/charts/{chart}"
        },
        "sqlComparisonKey": {
          "type": "string",
          "description": "Optional. For charts with comparison, this key will determine the metric that will be compared between the current and another dataset."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1Dimension": {
      "properties": {
        "mediumDimensionMetadata": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1DimensionMediumDimensionMetadata",
          "description": "Output only. Metadata about the conversation medium dimension.",
          "readOnly": true
        },
        "clientSentimentCategoryDimensionMetadata": {
          "readOnly": true,
          "description": "Output only. Metadata about the client sentiment category dimension.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1DimensionClientSentimentCategoryDimensionMetadata"
        },
        "conversationProfileDimensionMetadata": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1DimensionConversationProfileDimensionMetadata",
          "readOnly": true,
          "description": "Output only. Metadata about the conversation profile dimension."
        },
        "issueDimensionMetadata": {
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1DimensionIssueDimensionMetadata",
          "description": "Output only. Metadata about the issue dimension."
        },
        "agentDimensionMetadata": {
          "description": "Output only. Metadata about the agent dimension.",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1DimensionAgentDimensionMetadata"
        },
        "labelDimensionMetadata": {
          "description": "Output only. Metadata about conversation labels.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1DimensionLabelDimensionMetadata",
          "readOnly": true
        },
        "qaQuestionAnswerDimensionMetadata": {
          "description": "Output only. Metadata about the QA question-answer dimension.",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1DimensionQaQuestionAnswerDimensionMetadata"
        },
        "conversationalAgentsToolDimensionMetadata": {
          "readOnly": true,
          "description": "Output only. Metadata about the Conversational Agents tool dimension.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1DimensionConversationalAgentsToolDimensionMetadata"
        },
        "qaQuestionDimensionMetadata": {
          "readOnly": true,
          "description": "Output only. Metadata about the QA question dimension.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1DimensionQaQuestionDimensionMetadata"
        },
        "dimensionKey": {
          "enum": [
            "DIMENSION_KEY_UNSPECIFIED",
            "ISSUE",
            "ISSUE_NAME",
            "AGENT",
            "AGENT_TEAM",
            "QA_QUESTION_ID",
            "QA_QUESTION_ANSWER_VALUE",
            "QA_SCORECARD_ID",
            "CONVERSATION_PROFILE_ID",
            "MEDIUM",
            "CONVERSATIONAL_AGENTS_PLAYBOOK_ID",
            "CONVERSATIONAL_AGENTS_PLAYBOOK_NAME",
            "CONVERSATIONAL_AGENTS_TOOL_ID",
            "CONVERSATIONAL_AGENTS_TOOL_NAME",
            "CLIENT_SENTIMENT_CATEGORY",
            "AGENT_VERSION_ID",
            "AGENT_DEPLOYMENT_ID",
            "AGENT_ASSIST_SUPERVISOR_ID",
            "LABEL_KEY",
            "LABEL_VALUE",
            "LABEL_KEY_AND_VALUE",
            "LAST_TRANSFER_SUB_AGENT_NAME"
          ],
          "description": "The key of the dimension.",
          "type": "string",
          "enumDescriptions": [
            "The key of the dimension is unspecified.",
            "The dimension is keyed by issues.",
            "The dimension is keyed by issue names.",
            "The dimension is keyed by agents.",
            "The dimension is keyed by agent teams.",
            "The dimension is keyed by QaQuestionIds. Note that: We only group by the QuestionId and not the revision-id of the scorecard this question is a part of. This allows for showing stats for the same question across different scorecard revisions.",
            "The dimension is keyed by QaQuestionIds-Answer value pairs. Note that: We only group by the QuestionId and not the revision-id of the scorecard this question is a part of. This allows for showing distribution of answers per question across different scorecard revisions.",
            "The dimension is keyed by QaScorecardIds. Note that: We only group by the ScorecardId and not the revision-id of the scorecard. This allows for showing stats for the same scorecard across different revisions. This metric is mostly only useful if querying the average normalized score per scorecard.",
            "The dimension is keyed by the conversation profile ID.",
            "The dimension is keyed by the conversation medium.",
            "The dimension is keyed by the Conversational Agents playbook ID.",
            "The dimension is keyed by the Conversational Agents playbook display name.",
            "The dimension is keyed by the Conversational Agents tool ID.",
            "The dimension is keyed by the Conversational Agents tool display name.",
            "The dimension is keyed by the client sentiment category.",
            "The dimension is keyed by the agent version ID.",
            "The dimension is keyed by the agent deployment ID.",
            "The dimension is keyed by the supervisor ID of the assigned human supervisor for virtual agents.",
            "The dimension is keyed by label keys.",
            "The dimension is keyed by label values.",
            "The dimension is keyed by label key-value pairs.",
            "The dimension is keyed by the last transfer sub agent name."
          ]
        },
        "qaScorecardDimensionMetadata": {
          "description": "Output only. Metadata about the QA scorecard dimension.",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1DimensionQaScorecardDimensionMetadata"
        },
        "conversationalAgentsPlaybookDimensionMetadata": {
          "readOnly": true,
          "description": "Output only. Metadata about the Conversational Agents playbook dimension.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1DimensionConversationalAgentsPlaybookDimensionMetadata"
        }
      },
      "description": "A dimension determines the grouping key for the query. In SQL terms, these would be part of both the \"SELECT\" and \"GROUP BY\" clauses.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1Dimension"
    },
    "GoogleCloudContactcenterinsightsV1GenerativeInsightConversationTranscriptMessageSystemMessageTextOutput": {
      "type": "object",
      "properties": {
        "text": {
          "description": "The parts of the message.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "textType": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "THOUGHT",
            "FINAL_RESPONSE",
            "PROGRESS"
          ],
          "enumDescriptions": [
            "The default text type.",
            "The text is a thinking plan generated by the thinking tool.",
            "The text is a final response to the user question.",
            "The text is an informational message about the agent's progress, such as a tool being invoked. This is distinct from the agent's internal thought process (`THOUGHT`) and the final answer to the user (`FINAL_RESPONSE`). These messages provide insight into the agent's actions."
          ],
          "description": "The type of the text message."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1GenerativeInsightConversationTranscriptMessageSystemMessageTextOutput",
      "description": "A text output message from the system."
    },
    "GoogleCloudContactcenterinsightsV1alpha1ExportInsightsDataRequest": {
      "type": "object",
      "description": "The request to export insights.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1ExportInsightsDataRequest",
      "properties": {
        "writeDisposition": {
          "description": "Options for what to do if the destination table already exists.",
          "enum": [
            "WRITE_DISPOSITION_UNSPECIFIED",
            "WRITE_TRUNCATE",
            "WRITE_APPEND"
          ],
          "type": "string",
          "enumDescriptions": [
            "Write disposition is not specified. Defaults to WRITE_TRUNCATE.",
            "If the table already exists, BigQuery will overwrite the table data and use the schema from the load.",
            "If the table already exists, BigQuery will append data to the table."
          ]
        },
        "filter": {
          "description": "A filter to reduce results to a specific subset. Useful for exporting conversations with specific properties.",
          "type": "string"
        },
        "parent": {
          "type": "string",
          "description": "Required. The parent resource to export data from."
        },
        "bigQueryDestination": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1ExportInsightsDataRequestBigQueryDestination",
          "description": "Specified if sink is a BigQuery table."
        },
        "kmsKey": {
          "type": "string",
          "description": "A fully qualified KMS key name for BigQuery tables protected by CMEK. Format: projects/{project}/locations/{location}/keyRings/{keyring}/cryptoKeys/{key}/cryptoKeyVersions/{version}"
        },
        "exportSchemaVersion": {
          "enumDescriptions": [
            "Unspecified. Defaults to EXPORT_V3.",
            "Export schema version 1.",
            "Export schema version 2.",
            "Export schema version 3.",
            "Export schema version 4.",
            "Export schema version 5.",
            "Export schema version 6.",
            "Export schema version 7.",
            "Export schema version 8.",
            "Export schema version 9.",
            "Export schema version 10.",
            "Export schema version 11.",
            "Export schema version 12.",
            "Export schema version 13.",
            "Export schema version 14.",
            "Export schema version 15.",
            "Export schema version 16.",
            "Export schema version 17.",
            "Export schema version latest available."
          ],
          "type": "string",
          "description": "Optional. Version of the export schema.",
          "enum": [
            "EXPORT_SCHEMA_VERSION_UNSPECIFIED",
            "EXPORT_V1",
            "EXPORT_V2",
            "EXPORT_V3",
            "EXPORT_V4",
            "EXPORT_V5",
            "EXPORT_V6",
            "EXPORT_V7",
            "EXPORT_V8",
            "EXPORT_V9",
            "EXPORT_V10",
            "EXPORT_V11",
            "EXPORT_V12",
            "EXPORT_V13",
            "EXPORT_V14",
            "EXPORT_V15",
            "EXPORT_V16",
            "EXPORT_V17",
            "EXPORT_VERSION_LATEST_AVAILABLE"
          ]
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1BulkDeleteConversationsResponse": {
      "description": "The response for a bulk delete conversations operation.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1BulkDeleteConversationsResponse",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudContactcenterinsightsV1alpha1FeedbackLabel": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1FeedbackLabel",
      "description": "Represents a conversation, resource, and label provided by the user. Can take the form of a string label or a QaAnswer label. QaAnswer labels are used for Quality AI example conversations. String labels are used for Topic Modeling. AgentAssistSummary labels are used for Agent Assist Summarization.",
      "properties": {
        "updateTime": {
          "description": "Output only. Update time of the label.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "satisfiesPzi": {
          "description": "Output only. Whether this resource is zone isolated.",
          "type": "boolean",
          "readOnly": true
        },
        "satisfiesPzs": {
          "description": "Output only. Whether this resource is zone separated.",
          "type": "boolean",
          "readOnly": true
        },
        "labeledResource": {
          "description": "Name of the resource to be labeled. Supported resources are: * `projects/{project}/locations/{location}/qaScorecards/{scorecard}/revisions/{revision}/qaQuestions/{question}` * `projects/{project}/locations/{location}/issueModels/{issue_model}` * `projects/{project}/locations/{location}/generators/{generator_id}`",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Create time of the label."
        },
        "qaAnswerLabel": {
          "description": "QaAnswer label used for Quality AI example conversations.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1QaAnswerAnswerValue"
        },
        "label": {
          "description": "String label used for Topic Modeling.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Immutable. Resource name of the FeedbackLabel. Format: projects/{project}/locations/{location}/conversations/{conversation}/feedbackLabels/{feedback_label}"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainCallAnnotation": {
      "type": "object",
      "properties": {
        "holdData": {
          "description": "Data specifying a hold.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainHoldData"
        },
        "silenceData": {
          "description": "Data specifying silence.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainSilenceData"
        },
        "phraseMatchData": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainPhraseMatchData",
          "description": "Data specifying a phrase match."
        },
        "annotationStartBoundary": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainAnnotationBoundary",
          "description": "The boundary in the conversation where the annotation starts, inclusive."
        },
        "entityMentionData": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainEntityMentionData",
          "description": "Data specifying an entity mention."
        },
        "issueMatchData": {
          "description": "Data specifying an issue match.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainIssueMatchData"
        },
        "channelTag": {
          "description": "The channel of the audio where the annotation occurs. For single-channel audio, this field is not populated.",
          "format": "int32",
          "type": "integer"
        },
        "interruptionData": {
          "description": "Data specifying an interruption.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainInterruptionData"
        },
        "sentimentData": {
          "description": "Data specifying sentiment.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainSentimentData"
        },
        "annotationEndBoundary": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainAnnotationBoundary",
          "description": "The boundary in the conversation where the annotation ends, inclusive."
        },
        "intentMatchData": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainIntentMatchData",
          "description": "Data specifying an intent match."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainCallAnnotation",
      "description": "A piece of metadata that applies to a window of a call."
    },
    "GoogleCloudContactcenterinsightsV1GenerativeInsightConversationTranscriptMessageSystemMessages": {
      "description": "A wrapper for system messages per turn.",
      "properties": {
        "systemMessages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1GenerativeInsightConversationTranscriptMessageSystemMessage"
          },
          "description": "A message from the system in response to the user."
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1GenerativeInsightConversationTranscriptMessageSystemMessages"
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPartCustomPayloadPart": {
      "type": "object",
      "properties": {
        "payloadType": {
          "description": "Optional. Type identifier for the payload.",
          "type": "string"
        },
        "payload": {
          "description": "Optional. Arbitrary structured payload.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPartCustomPayloadPart",
      "description": "A custom payload part."
    },
    "GoogleCloudContactcenterinsightsV1alpha1Analysis": {
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time at which the analysis was created, which occurs when the long-running operation completes.",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Immutable. The resource name of the analysis. Format: projects/{project}/locations/{location}/conversations/{conversation}/analyses/{analysis}"
        },
        "satisfiesPzi": {
          "type": "boolean",
          "description": "Output only. Whether this resource is zone isolated.",
          "readOnly": true
        },
        "satisfiesPzs": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether this resource is zone separated."
        },
        "annotatorSelector": {
          "description": "To select the annotators to run and the phrase matchers to use (if any). If not specified, all annotators will be run.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1AnnotatorSelector"
        },
        "requestTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which the analysis was requested."
        },
        "analysisResult": {
          "readOnly": true,
          "description": "Output only. The result of the analysis, which is populated when the analysis finishes.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1AnalysisResult"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1Analysis",
      "type": "object",
      "description": "The analysis resource."
    },
    "GoogleCloudContactcenterinsightsV1mainExportInsightsDataRequest": {
      "properties": {
        "parent": {
          "type": "string",
          "description": "Required. The parent resource to export data from."
        },
        "kmsKey": {
          "description": "A fully qualified KMS key name for BigQuery tables protected by CMEK. Format: projects/{project}/locations/{location}/keyRings/{keyring}/cryptoKeys/{key}/cryptoKeyVersions/{version}",
          "type": "string"
        },
        "exportSchemaVersion": {
          "type": "string",
          "enum": [
            "EXPORT_SCHEMA_VERSION_UNSPECIFIED",
            "EXPORT_V1",
            "EXPORT_V2",
            "EXPORT_V3",
            "EXPORT_V4",
            "EXPORT_V5",
            "EXPORT_V6",
            "EXPORT_V7",
            "EXPORT_V8",
            "EXPORT_V9",
            "EXPORT_V10",
            "EXPORT_V11",
            "EXPORT_V12",
            "EXPORT_V13",
            "EXPORT_V14",
            "EXPORT_V15",
            "EXPORT_V16",
            "EXPORT_V17",
            "EXPORT_VERSION_LATEST_AVAILABLE"
          ],
          "description": "Optional. Version of the export schema.",
          "enumDescriptions": [
            "Unspecified. Defaults to EXPORT_V3.",
            "Export schema version 1.",
            "Export schema version 2.",
            "Export schema version 3.",
            "Export schema version 4.",
            "Export schema version 5.",
            "Export schema version 6.",
            "Export schema version 7.",
            "Export schema version 8.",
            "Export schema version 9.",
            "Export schema version 10.",
            "Export schema version 11.",
            "Export schema version 12.",
            "Export schema version 13.",
            "Export schema version 14.",
            "Export schema version 15.",
            "Export schema version 16.",
            "Export schema version 17.",
            "Export schema version latest available."
          ]
        },
        "bigQueryDestination": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainExportInsightsDataRequestBigQueryDestination",
          "description": "Specified if sink is a BigQuery table."
        },
        "filter": {
          "description": "A filter to reduce results to a specific subset. Useful for exporting conversations with specific properties.",
          "type": "string"
        },
        "writeDisposition": {
          "enumDescriptions": [
            "Write disposition is not specified. Defaults to WRITE_TRUNCATE.",
            "If the table already exists, BigQuery will overwrite the table data and use the schema from the load.",
            "If the table already exists, BigQuery will append data to the table."
          ],
          "enum": [
            "WRITE_DISPOSITION_UNSPECIFIED",
            "WRITE_TRUNCATE",
            "WRITE_APPEND"
          ],
          "description": "Options for what to do if the destination table already exists.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainExportInsightsDataRequest",
      "description": "The request to export insights.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainIssueModelResult": {
      "properties": {
        "issues": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainIssueAssignment"
          },
          "description": "All the matched issues.",
          "type": "array"
        },
        "issueModel": {
          "type": "string",
          "description": "Issue model that generates the result. Format: projects/{project}/locations/{location}/issueModels/{issue_model}"
        }
      },
      "description": "Issue Modeling result on a conversation.",
      "id": "GoogleCloudContactcenterinsightsV1mainIssueModelResult",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1PhraseMatchRule": {
      "properties": {
        "negated": {
          "type": "boolean",
          "description": "Specifies whether the phrase must be missing from the transcript segment or present in the transcript segment."
        },
        "config": {
          "$ref": "GoogleCloudContactcenterinsightsV1PhraseMatchRuleConfig",
          "description": "Provides additional information about the rule that specifies how to apply the rule."
        },
        "query": {
          "type": "string",
          "description": "Required. The phrase to be matched."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1PhraseMatchRule",
      "description": "The data for a phrase match rule.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsMetadata": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsMetadata",
      "description": "The metadata from querying metrics.",
      "properties": {
        "resultIsTruncated": {
          "type": "boolean",
          "description": "Whether the result rows were truncated because the result row size is too large to materialize."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1CreateIssueModelRequest": {
      "properties": {
        "issueModel": {
          "description": "Required. The issue model to create.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1IssueModel"
        },
        "parent": {
          "description": "Required. The parent resource of the issue model.",
          "type": "string"
        }
      },
      "description": "The request to create an issue model.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1CreateIssueModelRequest",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainDimensionConversationalAgentsToolDimensionMetadata": {
      "type": "object",
      "description": "Metadata about the Conversational Agents tool dimension.",
      "properties": {
        "toolId": {
          "description": "Optional. The dialogflow tool ID.",
          "type": "string"
        },
        "toolDisplayName": {
          "type": "string",
          "description": "Optional. The dialogflow tool display name."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainDimensionConversationalAgentsToolDimensionMetadata"
    },
    "GoogleCloudContactcenterinsightsV1ListQaScorecardRevisionsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "qaScorecardRevisions": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1QaScorecardRevision"
          },
          "description": "The QaScorecards under the parent.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1ListQaScorecardRevisionsResponse",
      "description": "The response from a ListQaScorecardRevisions request."
    },
    "GoogleCloudContactcenterinsightsV1Conversation": {
      "properties": {
        "agentId": {
          "description": "An opaque, user-specified string representing the human agent who handled the conversation.",
          "type": "string"
        },
        "callMetadata": {
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationCallMetadata",
          "description": "Call-specific metadata."
        },
        "expireTime": {
          "format": "google-datetime",
          "description": "The time at which this conversation should expire. After this time, the conversation data and any associated analyses will be deleted.",
          "type": "string"
        },
        "dialogflowIntents": {
          "additionalProperties": {
            "$ref": "GoogleCloudContactcenterinsightsV1DialogflowIntent"
          },
          "readOnly": true,
          "type": "object",
          "description": "Output only. All the matched Dialogflow intents in the call. The key corresponds to a Dialogflow intent, format: projects/{project}/agent/{agent}/intents/{intent}"
        },
        "correlationInfo": {
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationCorrelationInfo",
          "description": "Output only. Info for correlating across conversations.",
          "readOnly": true
        },
        "qualityMetadata": {
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationQualityMetadata",
          "description": "Conversation metadata related to quality management."
        },
        "latestAnalysis": {
          "readOnly": true,
          "description": "Output only. The conversation's latest analysis, if one exists.",
          "$ref": "GoogleCloudContactcenterinsightsV1Analysis"
        },
        "ttl": {
          "format": "google-duration",
          "description": "Input only. The TTL for this resource. If specified, then this TTL will be used to calculate the expire time.",
          "type": "string"
        },
        "satisfiesPzs": {
          "description": "Output only. Whether this resource is zone separated.",
          "readOnly": true,
          "type": "boolean"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "A map for the user to specify any custom fields. A maximum of 100 labels per conversation is allowed, with a maximum of 256 characters per entry."
        },
        "startTime": {
          "format": "google-datetime",
          "description": "The time at which the conversation started.",
          "type": "string"
        },
        "transcript": {
          "description": "Output only. The conversation transcript.",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationTranscript"
        },
        "latestSummary": {
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationSummarizationSuggestionData",
          "readOnly": true,
          "description": "Output only. Latest summary of the conversation."
        },
        "obfuscatedUserId": {
          "description": "Obfuscated user ID which the customer sent to us.",
          "type": "string"
        },
        "name": {
          "description": "Immutable. The resource name of the conversation. Format: projects/{project}/locations/{location}/conversations/{conversation}",
          "type": "string"
        },
        "languageCode": {
          "type": "string",
          "description": "A user-specified language code for the conversation."
        },
        "runtimeAnnotations": {
          "description": "Output only. The annotations that were generated during the customer and agent interaction.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1RuntimeAnnotation"
          },
          "type": "array"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time at which the conversation was created.",
          "format": "google-datetime"
        },
        "duration": {
          "description": "Output only. The duration of the conversation.",
          "format": "google-duration",
          "type": "string",
          "readOnly": true
        },
        "metadataJson": {
          "type": "string",
          "description": "Optional. JSON metadata encoded as a string. This field is primarily used by Insights integrations with various telephony systems and must be in one of Insight's supported formats."
        },
        "dataSource": {
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationDataSource",
          "description": "The source of the audio and transcription for the conversation."
        },
        "turnCount": {
          "description": "Output only. The number of turns in the conversation.",
          "format": "int32",
          "type": "integer",
          "readOnly": true
        },
        "medium": {
          "type": "string",
          "enumDescriptions": [
            "Default value for unspecified.",
            "The format for conversations that took place over the phone.",
            "The format for conversations that took place over chat."
          ],
          "enum": [
            "MEDIUM_UNSPECIFIED",
            "PHONE_CALL",
            "CHAT"
          ],
          "description": "Immutable. The conversation medium."
        },
        "satisfiesPzi": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether this resource is zone isolated."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The most recent time at which the conversation was updated.",
          "readOnly": true
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1Conversation",
      "description": "The conversation resource.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1QueryMetrics": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1QueryMetrics",
      "properties": {
        "request": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        }
      },
      "description": "Request data that use the existing QueryMetrics."
    },
    "GoogleCloudContactcenterinsightsV1alpha1QaAnswerAnswerValue": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1QaAnswerAnswerValue",
      "description": "Message for holding the value of a QaAnswer. QaQuestion.AnswerChoice defines the possible answer values for a question.",
      "properties": {
        "strValue": {
          "type": "string",
          "description": "String value."
        },
        "potentialScore": {
          "type": "number",
          "description": "Output only. The maximum potential score of the question.",
          "readOnly": true,
          "format": "double"
        },
        "numValue": {
          "type": "number",
          "format": "double",
          "description": "Numerical value."
        },
        "naValue": {
          "description": "A value of \"Not Applicable (N/A)\". Should only ever be `true`.",
          "type": "boolean"
        },
        "key": {
          "description": "A short string used as an identifier. Matches the value used in QaQuestion.AnswerChoice.key.",
          "type": "string"
        },
        "boolValue": {
          "type": "boolean",
          "description": "Boolean value."
        },
        "score": {
          "format": "double",
          "readOnly": true,
          "type": "number",
          "description": "Output only. Numerical score of the answer."
        },
        "skipValue": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. A value of \"Skip\". If provided, this field may only be set to `true`. If a question receives this answer, it will be excluded from any score calculations. This would mean that the question was not evaluated."
        },
        "normalizedScore": {
          "readOnly": true,
          "type": "number",
          "format": "double",
          "description": "Output only. Normalized score of the questions. Calculated as score / potential_score."
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1DeployIssueModelRequest": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The issue model to deploy."
        }
      },
      "description": "The request to deploy an issue model.",
      "id": "GoogleCloudContactcenterinsightsV1DeployIssueModelRequest",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationDataSourceTurnLevelAudio": {
      "properties": {
        "audioGcsUri": {
          "type": "string",
          "description": "The Cloud Storage URI of the audio for any given turn."
        },
        "audioDuration": {
          "type": "string",
          "description": "The duration of the audio.",
          "format": "google-duration"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationDataSourceTurnLevelAudio",
      "description": "A wrapper for holding the audio for any given turn.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1CreateAnalysisOperationMetadata": {
      "properties": {
        "annotatorSelector": {
          "description": "Output only. The annotator selector used for the analysis (if any).",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1AnnotatorSelector"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "conversation": {
          "type": "string",
          "description": "Output only. The Conversation that this Analysis Operation belongs to.",
          "readOnly": true
        }
      },
      "description": "Metadata for a create analysis operation.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1CreateAnalysisOperationMetadata"
    },
    "GoogleCloudContactcenterinsightsV1alpha1SampleRule": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1SampleRule",
      "properties": {
        "sampleRow": {
          "description": "Number of the conversations that we should sample based on the dimension.",
          "format": "int64",
          "type": "string"
        },
        "samplePercentage": {
          "description": "Percentage of conversations that we should sample based on the dimension between [0, 100].",
          "type": "number",
          "format": "double"
        },
        "dimension": {
          "description": "Optional. Group by dimension to sample the conversation. If no dimension is provided, the sampling will be applied to the project level. Current supported dimensions is 'quality_metadata.agent_info.agent_id'.",
          "type": "string"
        },
        "conversationFilter": {
          "type": "string",
          "description": "To specify the filter for the conversions that should apply this sample rule. An empty filter means this sample rule applies to all conversations."
        }
      },
      "description": "Message for sampling conversations.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainEntityMentionData": {
      "id": "GoogleCloudContactcenterinsightsV1mainEntityMentionData",
      "properties": {
        "sentiment": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainSentimentData",
          "description": "Sentiment expressed for this mention of the entity."
        },
        "entityUniqueId": {
          "type": "string",
          "description": "The key of this entity in conversation entities. Can be used to retrieve the exact `Entity` this mention is attached to."
        },
        "type": {
          "enumDescriptions": [
            "Unspecified.",
            "Proper noun.",
            "Common noun (or noun compound)."
          ],
          "enum": [
            "MENTION_TYPE_UNSPECIFIED",
            "PROPER",
            "COMMON"
          ],
          "type": "string",
          "description": "The type of the entity mention."
        }
      },
      "description": "The data for an entity mention annotation. This represents a mention of an `Entity` in the conversation.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1ListDashboardsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The value returned by the last `ListDashboardsResponse`. This value indicates that this is a continuation of a prior `ListDashboards` call and that the system should return the next page of data."
        },
        "dashboards": {
          "description": "The dashboards under the parent.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1Dashboard"
          },
          "type": "array"
        }
      },
      "description": "The response of listing dashboards.",
      "id": "GoogleCloudContactcenterinsightsV1ListDashboardsResponse",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1DimensionMediumDimensionMetadata": {
      "properties": {
        "medium": {
          "description": "Optional. The conversation medium. Currently supports : PHONE_CALL, CHAT.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1DimensionMediumDimensionMetadata",
      "description": "Metadata about the conversation medium dimension.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainDeployIssueModelMetadata": {
      "description": "Metadata for deploying an issue model.",
      "id": "GoogleCloudContactcenterinsightsV1mainDeployIssueModelMetadata",
      "properties": {
        "endTime": {
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "readOnly": true
        },
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainDeployIssueModelRequest",
          "description": "The original request for deployment."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartListPart": {
      "properties": {
        "listType": {
          "type": "string",
          "description": "Optional. The type of list.",
          "enumDescriptions": [
            "Unspecified list type.",
            "Unordered list.",
            "Ordered numbered list.",
            "Ordered alphabetic list."
          ],
          "enum": [
            "LIST_TYPE_UNSPECIFIED",
            "UNORDERED",
            "ORDERED_NUMBER",
            "ORDERED_ALPHA"
          ]
        },
        "items": {
          "description": "Optional. List items.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartListItem"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartListPart",
      "description": "A list part."
    },
    "GoogleCloudContactcenterinsightsV1mainIssueModelLabelStats": {
      "id": "GoogleCloudContactcenterinsightsV1mainIssueModelLabelStats",
      "description": "Aggregated statistics about an issue model.",
      "type": "object",
      "properties": {
        "analyzedConversationsCount": {
          "type": "string",
          "description": "Number of conversations the issue model has analyzed at this point in time.",
          "format": "int64"
        },
        "issueStats": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainIssueModelLabelStatsIssueStats"
          },
          "description": "Statistics on each issue. Key is the issue's resource name."
        },
        "unclassifiedConversationsCount": {
          "format": "int64",
          "description": "Number of analyzed conversations for which no issue was applicable at this point in time.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1ListChartsResponse": {
      "properties": {
        "charts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1Chart"
          },
          "description": "The charts under the parent."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The value returned by the last `ListChartsResponse`. This value indicates that this is a continuation of a prior `ListCharts` call and that the system should return the next page of data."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1ListChartsResponse",
      "type": "object",
      "description": "The response of listing charts."
    },
    "GoogleCloudContactcenterinsightsV1DateRangeConfig": {
      "type": "object",
      "properties": {
        "relativeDateRange": {
          "description": "A relative date range.",
          "$ref": "GoogleCloudContactcenterinsightsV1DateRangeConfigRelativeDateRange"
        },
        "absoluteDateRange": {
          "$ref": "GoogleCloudContactcenterinsightsV1QueryInterval",
          "description": "An absolute date range."
        }
      },
      "description": "Date range configuration for dashboard charts.",
      "id": "GoogleCloudContactcenterinsightsV1DateRangeConfig"
    },
    "GoogleCloudContactcenterinsightsV1alpha1AnalysisResult": {
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which the analysis ended."
        },
        "callAnalysisMetadata": {
          "description": "Call-specific metadata created by the analysis.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1AnalysisResultCallAnalysisMetadata"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1AnalysisResult",
      "type": "object",
      "description": "The result of an analysis."
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConstraintEvaluationResultRuleConstraintResult": {
      "description": "The result of a single constraint rule on the pair of conversations.",
      "type": "object",
      "properties": {
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "The error status if the constraint expression failed to evaluate."
        },
        "ruleId": {
          "type": "string",
          "description": "The rule ID."
        },
        "constraintMet": {
          "description": "Whether the constraint expression evaluated to true for (A, B) or (B, A).",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConstraintEvaluationResultRuleConstraintResult"
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConstraintEvaluationResult": {
      "properties": {
        "ruleConstraintResults": {
          "description": "The results for each applicable constraint rule.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConstraintEvaluationResultRuleConstraintResult"
          },
          "type": "array"
        },
        "conversationA": {
          "type": "string",
          "description": "The first conversation resource name."
        },
        "conversationB": {
          "description": "The second conversation resource name.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConstraintEvaluationResult",
      "description": "The result of testing a constraint expression on a pair of conversations.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1EncryptionSpec": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1EncryptionSpec",
      "description": "A customer-managed encryption key specification that can be applied to all created resources (e.g. `Conversation`).",
      "properties": {
        "name": {
          "description": "Immutable. The resource name of the encryption key specification resource. Format: projects/{project}/locations/{location}/encryptionSpec",
          "type": "string"
        },
        "satisfiesPzi": {
          "type": "boolean",
          "description": "Output only. Whether this resource is zone isolated.",
          "readOnly": true
        },
        "satisfiesPzs": {
          "description": "Output only. Whether this resource is zone separated.",
          "type": "boolean",
          "readOnly": true
        },
        "kmsKey": {
          "description": "Required. The name of customer-managed encryption key that is used to secure a resource and its sub-resources. If empty, the resource is secured by our default encryption key. Only the key in the same location as this resource is allowed to be used for encryption. Format: `projects/{project}/locations/{location}/keyRings/{keyRing}/cryptoKeys/{key}`",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainUpdateQaQuestionTagRequest": {
      "type": "object",
      "properties": {
        "qaQuestionTag": {
          "description": "Required. The QaQuestionTag to update.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainQaQuestionTag"
        },
        "updateMask": {
          "type": "string",
          "description": "Optional. The list of fields to be updated. All possible fields can be updated by passing `*`, or a subset of the following updateable fields can be provided: * `qa_question_tag_name` - the name of the tag * `qa_question_ids` - the list of questions the tag applies to",
          "format": "google-fieldmask"
        }
      },
      "description": "The request for updating a QaQuestionTag.",
      "id": "GoogleCloudContactcenterinsightsV1mainUpdateQaQuestionTagRequest"
    },
    "GoogleCloudContactcenterinsightsV1alpha1DialogflowIntent": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1DialogflowIntent",
      "type": "object",
      "description": "The data for a Dialogflow intent. Represents a detected intent in the conversation, e.g. MAKES_PROMISE.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The human-readable name of the intent."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainIngestConversationsMetadataIngestConversationsStats": {
      "properties": {
        "successfulIngestCount": {
          "description": "Output only. The number of new conversations added during this ingest operation.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "failedIngestCount": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. The number of objects which were unable to be ingested due to errors. The errors are populated in the partial_errors field.",
          "readOnly": true
        },
        "processedObjectCount": {
          "readOnly": true,
          "description": "Output only. The number of objects processed during the ingest operation.",
          "format": "int32",
          "type": "integer"
        },
        "duplicatesSkippedCount": {
          "format": "int32",
          "description": "Output only. The number of objects skipped because another conversation with the same transcript uri had already been ingested.",
          "readOnly": true,
          "type": "integer"
        }
      },
      "description": "Statistics for IngestConversations operation.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainIngestConversationsMetadataIngestConversationsStats"
    },
    "GoogleCloudContactcenterinsightsV1mainExportIssueModelRequest": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The issue model to export."
        },
        "gcsDestination": {
          "description": "Google Cloud Storage URI to export the issue model to.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainExportIssueModelRequestGcsDestination"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainExportIssueModelRequest",
      "description": "Request to export an issue model."
    },
    "GoogleCloudContactcenterinsightsV1ExportInsightsDataResponse": {
      "description": "Response for an export insights operation.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1ExportInsightsDataResponse",
      "properties": {}
    },
    "GoogleCloudContactcenterinsightsV1QaAnswerAnswerSource": {
      "type": "object",
      "description": "A question may have multiple answers from varying sources, one of which becomes the \"main\" answer above. AnswerSource represents each individual answer.",
      "id": "GoogleCloudContactcenterinsightsV1QaAnswerAnswerSource",
      "properties": {
        "sourceType": {
          "description": "What created the answer.",
          "type": "string",
          "enum": [
            "SOURCE_TYPE_UNSPECIFIED",
            "SYSTEM_GENERATED",
            "MANUAL_EDIT"
          ],
          "enumDescriptions": [
            "Source type is unspecified.",
            "Answer was system-generated; created during an Insights analysis.",
            "Answer was created by a human via manual edit."
          ]
        },
        "answerValue": {
          "description": "The answer value from this source. This field is populated by default, unless the question has a selection strategy configured to return multiple answer values, in which case `answer_values` will be populated instead.",
          "$ref": "GoogleCloudContactcenterinsightsV1QaAnswerAnswerValue"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1QueryMetricsMetadata": {
      "properties": {
        "resultIsTruncated": {
          "type": "boolean",
          "description": "Whether the result rows were truncated because the result row size is too large to materialize."
        }
      },
      "description": "The metadata from querying metrics.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1QueryMetricsMetadata"
    },
    "GoogleCloudContactcenterinsightsV1SilenceData": {
      "properties": {},
      "type": "object",
      "description": "The data for a silence annotation.",
      "id": "GoogleCloudContactcenterinsightsV1SilenceData"
    },
    "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartThoughtPart": {
      "type": "object",
      "description": "A thought part.",
      "id": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartThoughtPart",
      "properties": {
        "text": {
          "type": "string",
          "description": "Optional. The thought or reasoning text."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1QaAnswer": {
      "type": "object",
      "description": "An answer to a QaQuestion.",
      "properties": {
        "answerValue": {
          "description": "The answer value from this source. This field is populated by default, unless the question has a selection strategy configured to return multiple answer values, in which case `answer_values` will be populated instead.",
          "$ref": "GoogleCloudContactcenterinsightsV1QaAnswerAnswerValue"
        },
        "questionBody": {
          "type": "string",
          "description": "Question text. E.g., \"Did the agent greet the customer?\""
        },
        "answerSources": {
          "description": "Lists all answer sources containing one or more answer values of a specific source type, e.g., all system-generated answer sources, or all manual edit answer sources.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1QaAnswerAnswerSource"
          }
        },
        "conversation": {
          "description": "The conversation the answer applies to.",
          "type": "string"
        },
        "tags": {
          "description": "User-defined list of arbitrary tags. Matches the value from QaScorecard.ScorecardQuestion.tags. Used for grouping/organization and for weighting the score of each answer.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "qaQuestion": {
          "type": "string",
          "description": "The QaQuestion answered by this answer."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1QaAnswer"
    },
    "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPointPercentileResult": {
      "properties": {
        "p90": {
          "description": "The 90th percentile value.",
          "type": "number",
          "format": "double"
        },
        "p50": {
          "description": "The 50th percentile value.",
          "format": "double",
          "type": "number"
        },
        "p99": {
          "type": "number",
          "format": "double",
          "description": "The 99th percentile value."
        }
      },
      "type": "object",
      "description": "The percentile result. Currently supported percentiles are 50th, 90th, and 99th.",
      "id": "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPointPercentileResult"
    },
    "GoogleCloudContactcenterinsightsV1alpha1TestCorrelationConfigMetadataFullConversationCorrelationStats": {
      "properties": {
        "conversationCorrelationErrors": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1TestCorrelationConfigMetadataFullConversationCorrelationStatsConversationCorrelationError"
          },
          "description": "A list of errors that occurred during correlation, one for each conversation that failed."
        },
        "failedConversationsCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of conversations that failed correlation."
        },
        "correlatedConversationsCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of conversations correlated."
        },
        "sampledConversationsCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of conversations sampled."
        },
        "partialErrors": {
          "description": "Partial errors during test correlation config operation that might cause the operation output to be incomplete.",
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        }
      },
      "type": "object",
      "description": "Statistics for TestCorrelationConfig operation.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1TestCorrelationConfigMetadataFullConversationCorrelationStats"
    },
    "GoogleCloudCesV1mainAgentTransfer": {
      "properties": {
        "targetAgent": {
          "type": "string",
          "description": "Required. The agent to which the conversation is being transferred. The agent will handle the conversation from this point forward. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`"
        },
        "displayName": {
          "description": "Output only. Display name of the agent.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Represents an event indicating the transfer of a conversation to a different agent.",
      "id": "GoogleCloudCesV1mainAgentTransfer",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainAnnotationBoundary": {
      "description": "A point in a conversation that marks the start or the end of an annotation.",
      "id": "GoogleCloudContactcenterinsightsV1mainAnnotationBoundary",
      "type": "object",
      "properties": {
        "transcriptIndex": {
          "format": "int32",
          "description": "The index in the sequence of transcribed pieces of the conversation where the boundary is located. This index starts at zero.",
          "type": "integer"
        },
        "wordIndex": {
          "format": "int32",
          "description": "The word index of this boundary with respect to the first word in the transcript piece. This index starts at zero.",
          "type": "integer"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponseSliceDataPointPercentileResult": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponseSliceDataPointPercentileResult",
      "type": "object",
      "description": "The percentile result. Currently supported percentiles are 50th, 90th, and 99th.",
      "properties": {
        "p50": {
          "format": "double",
          "description": "The 50th percentile value.",
          "type": "number"
        },
        "p99": {
          "format": "double",
          "type": "number",
          "description": "The 99th percentile value."
        },
        "p90": {
          "description": "The 90th percentile value.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainConversationQualityMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1mainConversationQualityMetadata",
      "description": "Conversation metadata related to quality management.",
      "type": "object",
      "properties": {
        "menuPath": {
          "description": "An arbitrary string value specifying the menu path the customer took.",
          "type": "string"
        },
        "customerSatisfactionRating": {
          "format": "int32",
          "type": "integer",
          "description": "An arbitrary integer value indicating the customer's satisfaction rating."
        },
        "agentInfo": {
          "type": "array",
          "description": "Information about agents involved in the call.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainConversationQualityMetadataAgentInfo"
          }
        },
        "feedbackLabels": {
          "description": "Input only. The feedback labels associated with the conversation.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainFeedbackLabel"
          },
          "type": "array"
        },
        "waitDuration": {
          "format": "google-duration",
          "type": "string",
          "description": "The amount of time the customer waited to connect with an agent."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentDialogflowSegmentMetadata": {
      "properties": {
        "smartReplyAllowlistCovered": {
          "type": "boolean",
          "description": "Whether the transcript segment was covered under the configured smart reply allowlist in Agent Assist."
        }
      },
      "description": "Metadata from Dialogflow relating to the current transcript segment.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentDialogflowSegmentMetadata"
    },
    "GoogleCloudContactcenterinsightsV1mainIngestConversationsRequestTranscriptObjectConfig": {
      "properties": {
        "medium": {
          "description": "Required. The medium transcript objects represent.",
          "enumDescriptions": [
            "Default value for unspecified.",
            "The format for conversations that took place over the phone.",
            "The format for conversations that took place over chat."
          ],
          "enum": [
            "MEDIUM_UNSPECIFIED",
            "PHONE_CALL",
            "CHAT"
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainIngestConversationsRequestTranscriptObjectConfig",
      "type": "object",
      "description": "Configuration for processing transcript objects."
    },
    "GoogleCloudContactcenterinsightsV1alpha1CreateIssueRequest": {
      "description": "The request to create an issue.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1CreateIssueRequest",
      "properties": {
        "parent": {
          "type": "string",
          "description": "Required. The parent resource of the issue."
        },
        "issue": {
          "description": "Required. The values for the new issue.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1Issue"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainCesTurnAnnotation": {
      "description": "The CES diagnostic information.",
      "properties": {
        "rootSpan": {
          "$ref": "GoogleCloudCesV1mainSpan",
          "description": "The root span of the action processing."
        },
        "messages": {
          "description": "The messages in the turn.",
          "items": {
            "$ref": "GoogleCloudCesV1mainMessage"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainCesTurnAnnotation",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainConversationLevelSilence": {
      "type": "object",
      "properties": {
        "silencePercentage": {
          "description": "Percentage of the total conversation spent in silence.",
          "type": "number",
          "format": "float"
        },
        "silenceDuration": {
          "type": "string",
          "description": "Amount of time calculated to be in silence.",
          "format": "google-duration"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainConversationLevelSilence",
      "description": "Conversation-level silence data."
    },
    "GoogleCloudContactcenterinsightsV1alpha1IssueModelResult": {
      "description": "Issue Modeling result on a conversation.",
      "type": "object",
      "properties": {
        "issueModel": {
          "description": "Issue model that generates the result. Format: projects/{project}/locations/{location}/issueModels/{issue_model}",
          "type": "string"
        },
        "issues": {
          "type": "array",
          "description": "All the matched issues.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1IssueAssignment"
          }
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1IssueModelResult"
    },
    "GoogleCloudContactcenterinsightsV1mainConversationLevelSentiment": {
      "type": "object",
      "properties": {
        "channelTag": {
          "type": "integer",
          "format": "int32",
          "description": "The channel of the audio that the data applies to."
        },
        "sentimentData": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainSentimentData",
          "description": "Data specifying sentiment."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainConversationLevelSentiment",
      "description": "One channel of conversation-level sentiment data."
    },
    "GoogleCloudContactcenterinsightsV1BulkAnalyzeConversationsResponse": {
      "id": "GoogleCloudContactcenterinsightsV1BulkAnalyzeConversationsResponse",
      "description": "The response for a bulk analyze conversations operation.",
      "properties": {
        "successfulAnalysisCount": {
          "format": "int32",
          "description": "Count of successful analyses.",
          "type": "integer"
        },
        "failedAnalysisCount": {
          "type": "integer",
          "format": "int32",
          "description": "Count of failed analyses."
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1BulkDeleteFeedbackLabelsMetadata": {
      "properties": {
        "request": {
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1BulkDeleteFeedbackLabelsRequest",
          "description": "Output only. The original request for delete."
        },
        "partialErrors": {
          "description": "Partial errors during deletion operation that might cause the operation output to be incomplete.",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        }
      },
      "description": "Metadata for the BulkDeleteFeedbackLabels endpoint.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1BulkDeleteFeedbackLabelsMetadata"
    },
    "GoogleCloudContactcenterinsightsV1alpha1QaQuestionTag": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1QaQuestionTag",
      "properties": {
        "displayName": {
          "description": "Required. A user-specified display name for the tag.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which the question tag was created."
        },
        "qaQuestionIds": {
          "description": "Optional. The list of Scorecard Question IDs that the tag applies to. Each QaQuestionId is represented as a full resource name containing the Question ID. Lastly, Since a tag may not necessarily be referenced by any Scorecard Questions, we treat this field as optional.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The most recent time at which the question tag was updated.",
          "type": "string"
        },
        "satisfiesPzi": {
          "type": "boolean",
          "description": "Output only. Whether this resource is zone isolated.",
          "readOnly": true
        },
        "satisfiesPzs": {
          "description": "Output only. Whether this resource is zone separated.",
          "readOnly": true,
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name for the QaQuestionTag Format projects/{project}/locations/{location}/qaQuestionTags/{qa_question_tag} In the above format, the last segment, i.e., qa_question_tag, is a server-generated ID corresponding to the tag resource."
        }
      },
      "description": "A tag is a resource which aims to categorize a set of questions across multiple scorecards, e.g., \"Customer Satisfaction\",\"Billing\", etc.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainConstraintEvaluationResult": {
      "properties": {
        "conversationA": {
          "type": "string",
          "description": "The first conversation resource name."
        },
        "conversationB": {
          "type": "string",
          "description": "The second conversation resource name."
        },
        "ruleConstraintResults": {
          "type": "array",
          "description": "The results for each applicable constraint rule.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainConstraintEvaluationResultRuleConstraintResult"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainConstraintEvaluationResult",
      "description": "The result of testing a constraint expression on a pair of conversations."
    },
    "GoogleCloudContactcenterinsightsV1CesEndSessionAnnotation": {
      "id": "GoogleCloudContactcenterinsightsV1CesEndSessionAnnotation",
      "description": "The CES end session annotation.",
      "properties": {
        "endSession": {
          "$ref": "GoogleCloudCesV1mainEndSession",
          "description": "End session signal from CES."
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1SmartReplyData": {
      "description": "Agent Assist Smart Reply data.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1SmartReplyData",
      "properties": {
        "reply": {
          "description": "The content of the reply.",
          "type": "string"
        },
        "queryRecord": {
          "type": "string",
          "description": "The name of the answer record. Format: projects/{project}/locations/{location}/answerRecords/{answer_record}"
        },
        "metadata": {
          "description": "Map that contains metadata about the Smart Reply and the document from which it originates.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "confidenceScore": {
          "description": "The system's confidence score that this reply is a good match for this conversation, ranging from 0.0 (completely uncertain) to 1.0 (completely certain).",
          "type": "number",
          "format": "double"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1SampleConversationsRequest": {
      "properties": {
        "destinationDataset": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1Dataset",
          "description": "The dataset resource to copy the sampled conversations to."
        },
        "parent": {
          "description": "Required. The parent resource of the dataset.",
          "type": "string"
        },
        "sampleRule": {
          "description": "Optional. The sample rule used for sampling conversations.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1SampleRule"
        }
      },
      "description": "The request to sample conversations to a dataset.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1SampleConversationsRequest"
    },
    "GoogleCloudContactcenterinsightsV1alpha1IssueModel": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1IssueModel",
      "properties": {
        "modelType": {
          "enum": [
            "MODEL_TYPE_UNSPECIFIED",
            "TYPE_V1",
            "TYPE_V2"
          ],
          "enumDescriptions": [
            "Unspecified model type.",
            "Type V1.",
            "Type V2."
          ],
          "type": "string",
          "description": "Type of the model."
        },
        "issueCount": {
          "format": "int64",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Number of issues in this issue model."
        },
        "createTime": {
          "description": "Output only. The time at which this issue model was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "UNDEPLOYED",
            "DEPLOYING",
            "DEPLOYED",
            "UNDEPLOYING",
            "DELETING"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Model is not deployed but is ready to deploy.",
            "Model is being deployed.",
            "Model is deployed and is ready to be used. A model can only be used in analysis if it's in this state.",
            "Model is being undeployed.",
            "Model is being deleted."
          ],
          "description": "Output only. State of the model."
        },
        "languageCode": {
          "type": "string",
          "description": "Language of the model."
        },
        "trainingStats": {
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1IssueModelLabelStats",
          "description": "Output only. Immutable. The issue model's label statistics on its training data."
        },
        "inputDataConfig": {
          "description": "Configs for the input data that used to create the issue model.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1IssueModelInputDataConfig"
        },
        "displayName": {
          "description": "The representative name for the issue model.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The most recent time at which the issue model was updated.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Immutable. The resource name of the issue model. Format: projects/{project}/locations/{location}/issueModels/{issue_model}"
        }
      },
      "description": "The issue model resource."
    },
    "GoogleCloudContactcenterinsightsV1ListQaQuestionsResponse": {
      "properties": {
        "qaQuestions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1QaQuestion"
          },
          "description": "The QaQuestions under the parent."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "The response from a ListQaQuestions request.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1ListQaQuestionsResponse"
    },
    "GoogleCloudContactcenterinsightsV1alpha1QueryPerformanceOverviewMetadata": {
      "properties": {},
      "id": "GoogleCloudContactcenterinsightsV1alpha1QueryPerformanceOverviewMetadata",
      "type": "object",
      "description": "The metadata for querying performance overview."
    },
    "GoogleCloudContactcenterinsightsV1alpha1TestCorrelationConfigMetadataFullConversationCorrelationStatsConversationCorrelationError": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1TestCorrelationConfigMetadataFullConversationCorrelationStatsConversationCorrelationError",
      "properties": {
        "status": {
          "description": "The error status.",
          "$ref": "GoogleRpcStatus"
        },
        "conversation": {
          "type": "string",
          "description": "The conversation resource name that had an error during correlation."
        }
      },
      "type": "object",
      "description": "An error that occurred during correlation for a specific conversation."
    },
    "GoogleCloudContactcenterinsightsV1DeleteIssueModelMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1DeleteIssueModelMetadata",
[...]
