{
  "ownerDomain": "google.com",
  "canonicalName": "Contactcenterinsights",
  "title": "Contact Center AI Insights API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "documentationLink": "https://cloud.google.com/contact-center/insights/docs",
  "id": "contactcenterinsights:v1",
  "mtlsRootUrl": "https://contactcenterinsights.mtls.googleapis.com/",
  "version": "v1",
  "discoveryVersion": "v1",
  "servicePath": "",
  "name": "contactcenterinsights",
  "ownerName": "Google",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "qaQuestionTags": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1ListQaQuestionTagsResponse"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "contactcenterinsights.projects.locations.qaQuestionTags.list",
                  "path": "v1/{+parent}/qaQuestionTags",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/qaQuestionTags",
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "description": "Optional. A filter to reduce results to a specific subset. Supports conjunctions (ie. AND operators). Supported fields include the following: * `project_id` - id of the project to list tags for * `qa_scorecard_id` - id of the scorecard to list tags for * `revision_id` - id of the scorecard revision to list tags for` * `qa_question_id - id of the question to list tags for`",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "location": "path",
                      "description": "Required. The parent resource of the QaQuestionTags.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists the question tags."
                },
                "delete": {
                  "path": "v1/{+name}",
                  "description": "Deletes a QaQuestionTag.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/qaQuestionTags/{qaQuestionTagsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "contactcenterinsights.projects.locations.qaQuestionTags.delete",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the QaQuestionTag to delete.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/qaQuestionTags/[^/]+$"
                    }
                  }
                },
                "patch": {
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1QaQuestionTag"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/qaQuestionTags/{qaQuestionTagsId}",
                  "description": "Updates a QaQuestionTag.",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "description": "Optional. The list of fields to be updated. All possible fields can be updated by passing `*`, or a subset of the following updateable fields can be provided: * `qa_question_tag_name` - the name of the tag * `qa_question_ids` - the list of questions the tag applies to",
                      "format": "google-fieldmask",
                      "type": "string"
                    },
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/qaQuestionTags/[^/]+$",
                      "description": "Identifier. Resource name for the QaQuestionTag Format projects/{project}/locations/{location}/qaQuestionTags/{qa_question_tag} In the above format, the last segment, i.e., qa_question_tag, is a server-generated ID corresponding to the tag resource."
                    }
                  },
                  "id": "contactcenterinsights.projects.locations.qaQuestionTags.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PATCH"
                },
                "create": {
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource of the QaQuestionTag.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "qaQuestionTagId": {
                      "description": "Optional. A unique ID for the new QaQuestionTag. This ID will become the final component of the QaQuestionTag's resource name. If no ID is specified, a server-generated ID will be used. This value should be 4-64 characters and must match the regular expression `^[a-z0-9-]{4,64}$`. Valid characters are `a-z-`.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "description": "Creates a QaQuestionTag.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/qaQuestionTags",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/qaQuestionTags",
                  "id": "contactcenterinsights.projects.locations.qaQuestionTags.create",
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1QaQuestionTag"
                  },
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1QaQuestionTag"
                  }
                },
                "get": {
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/qaQuestionTags/{qaQuestionTagsId}",
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1QaQuestionTag"
                  },
                  "description": "Gets a QaQuestionTag.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/qaQuestionTags/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the QaQuestionTag to get."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "id": "contactcenterinsights.projects.locations.qaQuestionTags.get"
                }
              }
            },
            "datasets": {
              "resources": {
                "insightsdata": {
                  "methods": {
                    "export": {
                      "request": {
                        "$ref": "GoogleCloudContactcenterinsightsV1ExportInsightsDataRequest"
                      },
                      "id": "contactcenterinsights.projects.locations.datasets.insightsdata.export",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "path": "v1/{+parent}/insightsdata:export",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/insightsdata:export",
                      "description": "Export insights data to a destination defined in the request body.",
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "description": "Required. The parent resource to export data from.",
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                },
                "conversations": {
                  "methods": {
                    "calculateStats": {
                      "parameters": {
                        "location": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "description": "Required. The location of the conversations."
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudContactcenterinsightsV1CalculateStatsResponse"
                      },
                      "parameterOrder": [
                        "location"
                      ],
                      "path": "v1/{+location}/conversations:calculateStats",
                      "httpMethod": "POST",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/conversations:calculateStats",
                      "description": "Gets conversation statistics.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "GoogleCloudContactcenterinsightsV1CalculateStatsRequest"
                      },
                      "id": "contactcenterinsights.projects.locations.datasets.conversations.calculateStats"
                    },
                    "bulkDelete": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/conversations:bulkDelete",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                          "description": "Required. The parent resource to delete conversations from. Format: projects/{project}/locations/{location}",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "path": "v1/{+parent}/conversations:bulkDelete",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GoogleCloudContactcenterinsightsV1BulkDeleteConversationsRequest"
                      },
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "description": "Deletes multiple conversations in a single request.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "contactcenterinsights.projects.locations.datasets.conversations.bulkDelete"
                    },
                    "list": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/conversations",
                      "id": "contactcenterinsights.projects.locations.datasets.conversations.list",
                      "parameters": {
                        "filter": {
                          "location": "query",
                          "description": "A filter to reduce results to a specific subset. Useful for querying conversations with specific properties.",
                          "type": "string"
                        },
                        "view": {
                          "location": "query",
                          "description": "The level of details of the conversation. Default is `BASIC`.",
                          "type": "string",
                          "enumDescriptions": [
                            "The conversation view is not specified. * Defaults to `FULL` in `GetConversationRequest`. * Defaults to `BASIC` in `ListConversationsRequest`.",
                            "Populates all fields in the conversation.",
                            "Populates all fields in the conversation except the transcript.",
                            "Populates all fields in the conversation, including the structured transcript parts."
                          ],
                          "enum": [
                            "CONVERSATION_VIEW_UNSPECIFIED",
                            "FULL",
                            "BASIC",
                            "FULL_WITH_STRUCTURED_TRANSCRIPT"
                          ]
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "The value returned by the last `ListConversationsResponse`. This value indicates that this is a continuation of a prior `ListConversations` call and that the system should return the next page of data."
                        },
                        "orderBy": {
                          "type": "string",
                          "description": "Optional. The attribute by which to order conversations in the response. If empty, conversations will be ordered by descending creation time. Supported values are one of the following: * create_time * customer_satisfaction_rating * duration * latest_analysis * start_time * turn_count The default sort order is ascending. To specify order, append `asc` or `desc` (`create_time desc`). For more details, see [Google AIPs Ordering](https://google.aip.dev/132#ordering).",
                          "location": "query"
                        },
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                          "description": "Required. The parent resource of the conversation.",
                          "location": "path",
                          "required": true
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "The maximum number of conversations to return in the response. A valid page size ranges from 0 to 100,000 inclusive. If the page size is zero or unspecified, a default page size of 100 will be chosen. Note that a call might return fewer results than the requested page size.",
                          "format": "int32",
                          "location": "query"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudContactcenterinsightsV1ListConversationsResponse"
                      },
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/conversations",
                      "description": "Lists conversations.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "generateSignedAudio": {
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/conversations/{conversationsId}:generateSignedAudio",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "contactcenterinsights.projects.locations.datasets.conversations.generateSignedAudio",
                      "response": {
                        "$ref": "GoogleCloudContactcenterinsightsV1GenerateConversationSignedAudioResponse"
                      },
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the conversation to sign.",
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+/conversations/[^/]+$"
                        }
                      },
                      "path": "v1/{+name}:generateSignedAudio",
                      "description": "Gets the signed URI for the audio for the given conversation."
                    },
                    "ingest": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/conversations:ingest",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/conversations:ingest",
                      "id": "contactcenterinsights.projects.locations.datasets.conversations.ingest",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                          "description": "Required. The parent resource for new conversations.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudContactcenterinsightsV1IngestConversationsRequest"
                      },
                      "httpMethod": "POST",
                      "description": "Imports conversations and processes them according to the user's configuration."
                    },
                    "get": {
                      "parameters": {
                        "view": {
                          "type": "string",
                          "enumDescriptions": [
                            "The conversation view is not specified. * Defaults to `FULL` in `GetConversationRequest`. * Defaults to `BASIC` in `ListConversationsRequest`.",
                            "Populates all fields in the conversation.",
                            "Populates all fields in the conversation except the transcript.",
                            "Populates all fields in the conversation, including the structured transcript parts."
                          ],
                          "enum": [
                            "CONVERSATION_VIEW_UNSPECIFIED",
                            "FULL",
                            "BASIC",
                            "FULL_WITH_STRUCTURED_TRANSCRIPT"
                          ],
                          "description": "The level of details of the conversation. Default is `FULL`.",
                          "location": "query"
                        },
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+/conversations/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "description": "Required. The name of the conversation to get."
                        }
                      },
                      "httpMethod": "GET",
                      "description": "Gets a conversation.",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "contactcenterinsights.projects.locations.datasets.conversations.get",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/conversations/{conversationsId}",
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudContactcenterinsightsV1Conversation"
                      }
                    },
                    "sample": {
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "required": true,
                          "description": "Required. The parent resource of the dataset.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                          "location": "path"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/conversations:sample",
                      "description": "Samples conversations based on user configuration and handles the sampled conversations for different use cases.",
                      "httpMethod": "POST",
                      "id": "contactcenterinsights.projects.locations.datasets.conversations.sample",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/conversations:sample",
                      "request": {
                        "$ref": "GoogleCloudContactcenterinsightsV1SampleConversationsRequest"
                      },
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "delete": {
                      "description": "Deletes a conversation.",
                      "id": "contactcenterinsights.projects.locations.datasets.conversations.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "httpMethod": "DELETE",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. The name of the conversation to delete.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+/conversations/[^/]+$",
                          "required": true
                        },
                        "force": {
                          "type": "boolean",
                          "location": "query",
                          "description": "If set to true, all of this conversation's analyses will also be deleted. Otherwise, the request will only succeed if the conversation has no analyses."
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/conversations/{conversationsId}"
                    }
                  },
                  "resources": {
                    "feedbackLabels": {
                      "methods": {
                        "patch": {
                          "response": {
                            "$ref": "GoogleCloudContactcenterinsightsV1FeedbackLabel"
                          },
                          "httpMethod": "PATCH",
                          "parameters": {
                            "name": {
                              "type": "string",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+/conversations/[^/]+/feedbackLabels/[^/]+$",
                              "location": "path",
                              "description": "Immutable. Resource name of the FeedbackLabel. Format: projects/{project}/locations/{location}/conversations/{conversation}/feedbackLabels/{feedback_label}"
                            },
                            "updateMask": {
                              "type": "string",
                              "location": "query",
                              "description": "Required. The list of fields to be updated.",
                              "format": "google-fieldmask"
                            }
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/conversations/{conversationsId}/feedbackLabels/{feedbackLabelsId}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "contactcenterinsights.projects.locations.datasets.conversations.feedbackLabels.patch",
                          "request": {
                            "$ref": "GoogleCloudContactcenterinsightsV1FeedbackLabel"
                          },
                          "path": "v1/{+name}",
                          "description": "Update feedback label.",
                          "parameterOrder": [
                            "name"
                          ]
                        },
                        "list": {
                          "parameters": {
                            "pageToken": {
                              "type": "string",
                              "description": "Optional. The value returned by the last `ListFeedbackLabelsResponse`. This value indicates that this is a continuation of a prior `ListFeedbackLabels` call and that the system should return the next page of data.",
                              "location": "query"
                            },
                            "pageSize": {
                              "format": "int32",
                              "location": "query",
                              "description": "Optional. The maximum number of feedback labels to return in the response. A valid page size ranges from 0 to 100,000 inclusive. If the page size is zero or unspecified, a default page size of 100 will be chosen. Note that a call might return fewer results than the requested page size.",
                              "type": "integer"
                            },
                            "parent": {
                              "location": "path",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+/conversations/[^/]+$",
                              "required": true,
                              "description": "Required. The parent resource of the feedback labels."
                            },
                            "filter": {
                              "type": "string",
                              "description": "Optional. A filter to reduce results to a specific subset. Supports disjunctions (OR) and conjunctions (AND). Automatically sorts by conversation ID. To sort by all feedback labels in a project see ListAllFeedbackLabels. Supported fields: * `issue_model_id` * `qa_question_id` * `qa_scorecard_id` * `min_create_time` * `max_create_time` * `min_update_time` * `max_update_time` * `feedback_label_type`: QUALITY_AI, TOPIC_MODELING",
                              "location": "query"
                            }
                          },
                          "id": "contactcenterinsights.projects.locations.datasets.conversations.feedbackLabels.list",
                          "httpMethod": "GET",
                          "path": "v1/{+parent}/feedbackLabels",
                          "response": {
                            "$ref": "GoogleCloudContactcenterinsightsV1ListFeedbackLabelsResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/conversations/{conversationsId}/feedbackLabels",
                          "parameterOrder": [
                            "parent"
                          ],
                          "description": "List feedback labels."
                        },
                        "delete": {
                          "path": "v1/{+name}",
                          "parameterOrder": [
                            "name"
                          ],
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+/conversations/[^/]+/feedbackLabels/[^/]+$",
                              "description": "Required. The name of the feedback label to delete.",
                              "required": true,
                              "type": "string",
                              "location": "path"
                            }
                          },
                          "description": "Delete feedback label.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "DELETE",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/conversations/{conversationsId}/feedbackLabels/{feedbackLabelsId}",
                          "id": "contactcenterinsights.projects.locations.datasets.conversations.feedbackLabels.delete",
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          }
                        },
                        "create": {
                          "request": {
                            "$ref": "GoogleCloudContactcenterinsightsV1FeedbackLabel"
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/conversations/{conversationsId}/feedbackLabels",
                          "path": "v1/{+parent}/feedbackLabels",
                          "response": {
                            "$ref": "GoogleCloudContactcenterinsightsV1FeedbackLabel"
                          },
                          "parameters": {
                            "parent": {
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+/conversations/[^/]+$",
                              "description": "Required. The parent resource of the feedback label.",
                              "type": "string",
                              "location": "path"
                            },
                            "feedbackLabelId": {
                              "location": "query",
                              "type": "string",
                              "description": "Optional. The ID of the feedback label to create. If one is not specified it will be generated by the server."
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "POST",
                          "description": "Create feedback label.",
                          "id": "contactcenterinsights.projects.locations.datasets.conversations.feedbackLabels.create"
                        },
                        "get": {
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/conversations/{conversationsId}/feedbackLabels/{feedbackLabelsId}",
                          "path": "v1/{+name}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "GoogleCloudContactcenterinsightsV1FeedbackLabel"
                          },
                          "description": "Get feedback label.",
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "name"
                          ],
                          "id": "contactcenterinsights.projects.locations.datasets.conversations.feedbackLabels.get",
                          "parameters": {
                            "name": {
                              "required": true,
                              "location": "path",
                              "description": "Required. The name of the feedback label to get.",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+/conversations/[^/]+/feedbackLabels/[^/]+$"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "methods": {
                "delete": {
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                      "description": "Required. The name of the dataset to delete.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "id": "contactcenterinsights.projects.locations.datasets.delete",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}",
                  "description": "Delete a dataset."
                },
                "list": {
                  "path": "v1/{+parent}/datasets",
                  "parameters": {
                    "filter": {
                      "description": "Optional. A filter to reduce results to a specific subset. Useful for querying datasets with specific properties. Supported fields include, for Q2 though we only support list by project: - `type` - `description` - `project_number`",
                      "type": "string",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. The value returned by the last `ListDatasetsResponse`; indicates that this is a continuation of a prior `ListDatasets` call and the system should return the next page of data.",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. The parent resource of the dataset.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "Optional. The maximum number of datasets to return in the response. If this value is zero, the service will select a default size. A call might return fewer objects than requested. A non-empty `next_page_token` in the response indicates that more data is available."
                    }
                  },
                  "httpMethod": "GET",
                  "description": "List datasets matching the input.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1ListDatasetsResponse"
                  },
                  "id": "contactcenterinsights.projects.locations.datasets.list",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "patch": {
                  "parameters": {
                    "updateMask": {
                      "description": "Optional. The list of fields to update.",
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query"
                    },
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Immutable. Identifier. Resource name of the dataset. Format: projects/{project}/locations/{location}/datasets/{dataset}"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1Dataset"
                  },
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1Dataset"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}",
                  "httpMethod": "PATCH",
                  "path": "v1/{+name}",
                  "description": "Updates a dataset.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "contactcenterinsights.projects.locations.datasets.patch"
                },
                "bulkDownloadFeedbackLabels": {
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource for new feedback labels.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "description": "Download feedback labels in bulk from an external source. Currently supports exporting Quality AI example conversations with transcripts and question bodies.",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1BulkDownloadFeedbackLabelsRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}:bulkDownloadFeedbackLabels",
                  "id": "contactcenterinsights.projects.locations.datasets.bulkDownloadFeedbackLabels",
                  "path": "v1/{+parent}:bulkDownloadFeedbackLabels"
                },
                "bulkUploadFeedbackLabels": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}:bulkUploadFeedbackLabels",
                  "path": "v1/{+parent}:bulkUploadFeedbackLabels",
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1BulkUploadFeedbackLabelsRequest"
                  },
                  "description": "Upload feedback labels from an external source in bulk. Currently supports labeling Quality AI example conversations.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource for new feedback labels.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "id": "contactcenterinsights.projects.locations.datasets.bulkUploadFeedbackLabels"
                },
                "bulkDeleteFeedbackLabels": {
                  "id": "contactcenterinsights.projects.locations.datasets.bulkDeleteFeedbackLabels",
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1BulkDeleteFeedbackLabelsRequest"
                  },
                  "description": "Delete feedback labels in bulk using a filter.",
                  "path": "v1/{+parent}:bulkDeleteFeedbackLabels",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}:bulkDeleteFeedbackLabels",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                      "description": "Required. The parent resource for new feedback labels.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  }
                },
                "get": {
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                      "description": "Required. The name of the dataset to get.",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1Dataset"
                  },
                  "path": "v1/{+name}",
                  "id": "contactcenterinsights.projects.locations.datasets.get",
                  "description": "Gets a dataset.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "listAllFeedbackLabels": {
                  "path": "v1/{+parent}:listAllFeedbackLabels",
                  "description": "List all feedback labels by project number.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. The maximum number of feedback labels to return in the response. A valid page size ranges from 0 to 100,000 inclusive. If the page size is zero or unspecified, a default page size of 100 will be chosen. Note that a call might return fewer results than the requested page size."
                    },
                    "pageToken": {
                      "description": "Optional. The value returned by the last `ListAllFeedbackLabelsResponse`. This value indicates that this is a continuation of a prior `ListAllFeedbackLabels` call and that the system should return the next page of data.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The parent resource of all feedback labels per project.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A filter to reduce results to a specific subset in the entire project. Supports disjunctions (OR) and conjunctions (AND). Supported fields: * `issue_model_id` * `qa_question_id` * `min_create_time` * `max_create_time` * `min_update_time` * `max_update_time` * `feedback_label_type`: QUALITY_AI, TOPIC_MODELING"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1ListAllFeedbackLabelsResponse"
                  },
                  "httpMethod": "GET",
                  "id": "contactcenterinsights.projects.locations.datasets.listAllFeedbackLabels",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}:listAllFeedbackLabels"
                },
                "create": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets",
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1Dataset"
                  },
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1Dataset"
                  },
                  "description": "Creates a dataset.",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/datasets",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. The parent resource of the dataset.",
                      "required": true
                    },
                    "datasetId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The ID to use for the dataset."
                    }
                  },
                  "id": "contactcenterinsights.projects.locations.datasets.create"
                }
              }
            },
            "dashboards": {
              "resources": {
                "charts": {
                  "methods": {
                    "patch": {
                      "path": "v1/{+name}",
                      "request": {
                        "$ref": "GoogleCloudContactcenterinsightsV1Chart"
                      },
                      "id": "contactcenterinsights.projects.locations.dashboards.charts.patch",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleCloudContactcenterinsightsV1Chart"
                      },
                      "parameters": {
                        "name": {
                          "description": "Identifier. Chart resource name. Format: projects/{project}/locations/{location}/dashboards/{dashboard}/charts/{chart}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/dashboards/[^/]+/charts/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "updateMask": {
                          "location": "query",
                          "type": "string",
                          "format": "google-fieldmask",
                          "description": "Optional. List of fields to be updated. All possible fields can be updated by passing `*`, or a subset of the following updateable fields can be provided: * `display_name`"
                        }
                      },
                      "description": "Updates a Chart.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "PATCH",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dashboards/{dashboardsId}/charts/{chartsId}"
                    },
                    "create": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dashboards/{dashboardsId}/charts",
                      "request": {
                        "$ref": "GoogleCloudContactcenterinsightsV1Chart"
                      },
                      "path": "v1/{+parent}/charts",
                      "id": "contactcenterinsights.projects.locations.dashboards.charts.create",
                      "response": {
                        "$ref": "GoogleCloudContactcenterinsightsV1Chart"
                      },
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "description": "Required. The parent resource of the chart.",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/dashboards/[^/]+$"
                        },
                        "chartId": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. A unique ID for the new Chart. This ID will become the final component of the Chart's resource name. If no ID is specified, a server-generated ID will be used. This value should be 4-64 characters and must match the regular expression `^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$`."
                        }
                      },
                      "description": "Creates a Chart.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST"
                    },
                    "get": {
                      "description": "Gets a Chart.",
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dashboards/{dashboardsId}/charts/{chartsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleCloudContactcenterinsightsV1Chart"
                      },
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "contactcenterinsights.projects.locations.dashboards.charts.get",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/dashboards/[^/]+/charts/[^/]+$",
                          "description": "Required. The name of the chart to get."
                        }
                      }
                    },
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/charts",
                      "parameters": {
                        "parent": {
                          "description": "Required. The parent resource of the charts.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/dashboards/[^/]+$",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "id": "contactcenterinsights.projects.locations.dashboards.charts.list",
                      "description": "Lists Charts.",
                      "response": {
                        "$ref": "GoogleCloudContactcenterinsightsV1ListChartsResponse"
                      },
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dashboards/{dashboardsId}/charts"
                    },
                    "delete": {
                      "description": "Deletes a Chart.",
                      "id": "contactcenterinsights.projects.locations.dashboards.charts.delete",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dashboards/{dashboardsId}/charts/{chartsId}",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "path": "v1/{+name}",
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/dashboards/[^/]+/charts/[^/]+$",
                          "required": true,
                          "description": "Required. The name of the chart to delete."
                        }
                      }
                    }
                  }
                }
              },
              "methods": {
                "create": {
                  "path": "v1/{+parent}/dashboards",
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1Dashboard"
                  },
                  "description": "Creates a Dashboard.",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "contactcenterinsights.projects.locations.dashboards.create",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dashboards",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1Dashboard"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. The parent resource of the dashboard.",
                      "required": true
                    },
                    "dashboardId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A unique ID for the new Dashboard. This ID will become the final component of the Dashboard's resource name. If no ID is specified, a server-generated ID will be used. This value should be 4-64 characters and must match the regular expression `^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$`."
                    }
                  }
                },
                "list": {
                  "parameters": {
                    "orderBy": {
                      "location": "query",
                      "description": "Optional. The order by expression to order dashboards listed in the response.",
                      "type": "string"
                    },
                    "filter": {
                      "description": "Optional. The filter expression to filter dashboards listed in the response.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of dashboards to return. The service may return fewer than this value. The default and maximum value is 100.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. The value returned by the last `ListDashboardsResponse`. This value indicates that this is a continuation of a prior `ListDashboards` call and that the system should return the next page of data.",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent resource of the dashboards."
                    }
                  },
                  "path": "v1/{+parent}/dashboards",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dashboards",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1ListDashboardsResponse"
                  },
                  "description": "Lists Dashboards.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "contactcenterinsights.projects.locations.dashboards.list"
                },
                "delete": {
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dashboards/{dashboardsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The name of the dashboard to delete.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dashboards/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "Deletes a Dashboard.",
                  "id": "contactcenterinsights.projects.locations.dashboards.delete",
                  "httpMethod": "DELETE"
                },
                "patch": {
                  "description": "Updates a Dashboard.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1Dashboard"
                  },
                  "id": "contactcenterinsights.projects.locations.dashboards.patch",
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1Dashboard"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dashboards/{dashboardsId}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Identifier. Dashboard resource name. Format: projects/{project}/locations/{location}/dashboards/{dashboard}",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/dashboards/[^/]+$",
                      "location": "path"
                    },
                    "updateMask": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. List of fields to be updated. All possible fields can be updated by passing `*`, or a subset of the following updateable fields can be provided: * `display_name` * `root_container` * `description`",
                      "format": "google-fieldmask"
                    }
                  },
                  "httpMethod": "PATCH",
                  "path": "v1/{+name}"
                },
                "get": {
                  "id": "contactcenterinsights.projects.locations.dashboards.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1Dashboard"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The name of the dashboard to get.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dashboards/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "Gets a Dashboard.",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dashboards/{dashboardsId}",
                  "httpMethod": "GET"
                }
              }
            },
            "qaScorecards": {
              "methods": {
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the QaScorecard to delete.",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/qaScorecards/[^/]+$"
                    },
                    "force": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. If set to true, all of this QaScorecard's child resources will also be deleted. Otherwise, the request will only succeed if it has none."
                    }
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/qaScorecards/{qaScorecardsId}",
                  "id": "contactcenterinsights.projects.locations.qaScorecards.delete",
                  "description": "Deletes a QaScorecard."
                },
                "list": {
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource of the scorecards."
                    },
                    "pageToken": {
                      "description": "Optional. The value returned by the last `ListQaScorecardsResponse`. This value indicates that this is a continuation of a prior `ListQaScorecards` call and that the system should return the next page of data.",
                      "location": "query",
                      "type": "string"
                    },
                    "qaScorecardSources": {
                      "repeated": true,
                      "type": "string",
                      "location": "query",
                      "description": "Optional. The source of scorecards are based on how those Scorecards were created, e.g., a customer-defined scorecard, a predefined scorecard, etc. This field is used to retrieve Scorecards of one or more sources.",
                      "enumDescriptions": [
                        "The source of the scorecard is unspecified. Default to QA_SCORECARD_SOURCE_CUSTOMER_DEFINED.",
                        "The scorecard is a custom scorecard created by the user.",
                        "The scorecard is a scorecard created through discovery engine deployment.",
                        "The scorecard is derived from the custom intent taxonomy. Customers can edit question content, but cannot delete the scorecard or add/remove questions."
                      ],
                      "enum": [
                        "QA_SCORECARD_SOURCE_UNSPECIFIED",
                        "QA_SCORECARD_SOURCE_CUSTOMER_DEFINED",
                        "QA_SCORECARD_SOURCE_DISCOVERY_ENGINE",
                        "QA_SCORECARD_SOURCE_INTENT_TAXONOMY"
                      ]
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. The maximum number of scorecards to return in the response. If the value is zero, the service will select a default size. A call might return fewer objects than requested. A non-empty `next_page_token` in the response indicates that more data is available."
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1ListQaScorecardsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists QaScorecards.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/qaScorecards",
                  "id": "contactcenterinsights.projects.locations.qaScorecards.list",
                  "path": "v1/{+parent}/qaScorecards"
                },
                "patch": {
                  "id": "contactcenterinsights.projects.locations.qaScorecards.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1QaScorecard"
                  },
                  "description": "Updates a QaScorecard.",
                  "httpMethod": "PATCH",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/qaScorecards/{qaScorecardsId}",
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1QaScorecard"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/qaScorecards/[^/]+$",
                      "required": true,
                      "description": "Identifier. The scorecard name. Format: projects/{project}/locations/{location}/qaScorecards/{qa_scorecard}"
                    },
                    "updateMask": {
                      "type": "string",
                      "description": "Required. The list of fields to be updated. All possible fields can be updated by passing `*`, or a subset of the following updateable fields can be provided: * `description` * `display_name`",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  },
                  "path": "v1/{+name}"
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1QaScorecard"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "contactcenterinsights.projects.locations.qaScorecards.create",
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/qaScorecards",
                  "description": "Create a QaScorecard.",
                  "path": "v1/{+parent}/qaScorecards",
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1QaScorecard"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The parent resource of the QaScorecard.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "qaScorecardId": {
                      "location": "query",
                      "description": "Optional. A unique ID for the new QaScorecard. This ID will become the final component of the QaScorecard's resource name. If no ID is specified, a server-generated ID will be used. This value should be 4-64 characters and must match the regular expression `^[a-z0-9-]{4,64}$`. Valid characters are `a-z-`.",
                      "type": "string"
                    }
                  }
                },
                "get": {
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1QaScorecard"
                  },
                  "id": "contactcenterinsights.projects.locations.qaScorecards.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/qaScorecards/{qaScorecardsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/qaScorecards/[^/]+$",
                      "description": "Required. The name of the QaScorecard to get."
                    }
                  },
                  "path": "v1/{+name}",
                  "description": "Gets a QaScorecard.",
                  "httpMethod": "GET"
                }
              },
              "resources": {
                "revisions": {
                  "methods": {
                    "undeploy": {
                      "description": "Undeploy a QaScorecardRevision.",
                      "request": {
                        "$ref": "GoogleCloudContactcenterinsightsV1UndeployQaScorecardRevisionRequest"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "POST",
                      "path": "v1/{+name}:undeploy",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudContactcenterinsightsV1QaScorecardRevision"
                      },
                      "id": "contactcenterinsights.projects.locations.qaScorecards.revisions.undeploy",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the QaScorecardRevision to undeploy.",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/qaScorecards/[^/]+/revisions/[^/]+$",
                          "location": "path"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/qaScorecards/{qaScorecardsId}/revisions/{revisionsId}:undeploy"
                    },
                    "delete": {
                      "httpMethod": "DELETE",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "id": "contactcenterinsights.projects.locations.qaScorecards.revisions.delete",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/qaScorecards/[^/]+/revisions/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. The name of the QaScorecardRevision to delete."
                        },
                        "force": {
                          "description": "Optional. If set to true, all of this QaScorecardRevision's child resources will also be deleted. Otherwise, the request will only succeed if it has none.",
                          "type": "boolean",
                          "location": "query"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Deletes a QaScorecardRevision.",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/qaScorecards/{qaScorecardsId}/revisions/{revisionsId}"
                    },
                    "tuneQaScorecardRevision": {
                      "httpMethod": "POST",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/qaScorecards/{qaScorecardsId}/revisions/{revisionsId}:tuneQaScorecardRevision",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "description": "Required. The parent resource for new fine tuning job instance.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/qaScorecards/[^/]+/revisions/[^/]+$",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "id": "contactcenterinsights.projects.locations.qaScorecards.revisions.tuneQaScorecardRevision",
                      "path": "v1/{+parent}:tuneQaScorecardRevision",
                      "request": {
                        "$ref": "GoogleCloudContactcenterinsightsV1TuneQaScorecardRevisionRequest"
                      },
                      "description": "Fine tune one or more QaModels.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "list": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/qaScorecards/{qaScorecardsId}/revisions",
                      "description": "Lists all revisions under the parent QaScorecard.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "contactcenterinsights.projects.locations.qaScorecards.revisions.list",
                      "response": {
                        "$ref": "GoogleCloudContactcenterinsightsV1ListQaScorecardRevisionsResponse"
                      },
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "description": "Optional. The maximum number of scorecard revisions to return in the response. If the value is zero, the service will select a default size. A call might return fewer objects than requested. A non-empty `next_page_token` in the response indicates that more data is available.",
                          "location": "query"
                        },
                        "qaScorecardSources": {
                          "location": "query",
                          "enum": [
                            "QA_SCORECARD_SOURCE_UNSPECIFIED",
                            "QA_SCORECARD_SOURCE_CUSTOMER_DEFINED",
                            "QA_SCORECARD_SOURCE_DISCOVERY_ENGINE",
                            "QA_SCORECARD_SOURCE_INTENT_TAXONOMY"
                          ],
                          "type": "string",
                          "enumDescriptions": [
                            "The source of the scorecard is unspecified. Default to QA_SCORECARD_SOURCE_CUSTOMER_DEFINED.",
                            "The scorecard is a custom scorecard created by the user.",
                            "The scorecard is a scorecard created through discovery engine deployment.",
                            "The scorecard is derived from the custom intent taxonomy. Customers can edit question content, but cannot delete the scorecard or add/remove questions."
                          ],
                          "description": "Optional. The source of scorecards are based on how those Scorecards were created, e.g., a customer-defined scorecard, a predefined scorecard, etc. This field is used to retrieve Scorecards Revisions from Scorecards of one or more sources.",
                          "repeated": true
                        },
                        "parent": {
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/qaScorecards/[^/]+$",
                          "location": "path",
                          "description": "Required. The parent resource of the scorecard revisions. To list all revisions of all scorecards, substitute the QaScorecard ID with a '-' character."
                        },
                        "pageToken": {
                          "description": "Optional. The value returned by the last `ListQaScorecardRevisionsResponse`. This value indicates that this is a continuation of a prior `ListQaScorecardRevisions` call and that the system should return the next page of data.",
                          "location": "query",
                          "type": "string"
                        },
                        "filter": {
                          "location": "query",
                          "description": "Optional. A filter to reduce results to a specific subset. Useful for querying scorecard revisions with specific properties.",
                          "type": "string"
                        }
                      },
                      "path": "v1/{+parent}/revisions"
                    },
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "contactcenterinsights.projects.locations.qaScorecards.revisions.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}",
                      "description": "Gets a QaScorecardRevision.",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the QaScorecardRevision to get.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/qaScorecards/[^/]+/revisions/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudContactcenterinsightsV1QaScorecardRevision"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/qaScorecards/{qaScorecardsId}/revisions/{revisionsId}",
                      "httpMethod": "GET"
                    },
                    "create": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/revisions",
                      "parameters": {
                        "qaScorecardRevisionId": {
                          "type": "string",
                          "description": "Optional. A unique ID for the new QaScorecardRevision. This ID will become the final component of the QaScorecardRevision's resource name. If no ID is specified, a server-generated ID will be used. This value should be 4-64 characters and must match the regular expression `^[a-z0-9-]{4,64}$`. Valid characters are `a-z-`.",
                          "location": "query"
                        },
                        "parent": {
                          "description": "Required. The parent resource of the QaScorecardRevision.",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/qaScorecards/[^/]+$",
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudContactcenterinsightsV1QaScorecardRevision"
                      },
                      "id": "contactcenterinsights.projects.locations.qaScorecards.revisions.create",
                      "request": {
                        "$ref": "GoogleCloudContactcenterinsightsV1QaScorecardRevision"
                      },
                      "description": "Creates a QaScorecardRevision.",
                      "httpMethod": "POST",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/qaScorecards/{qaScorecardsId}/revisions"
                    },
                    "deploy": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/qaScorecards/{qaScorecardsId}/revisions/{revisionsId}:deploy",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleCloudContactcenterinsightsV1QaScorecardRevision"
                      },
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/qaScorecards/[^/]+/revisions/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. The name of the QaScorecardRevision to deploy."
                        }
                      },
                      "description": "Deploy a QaScorecardRevision.",
                      "path": "v1/{+name}:deploy",
                      "request": {
                        "$ref": "GoogleCloudContactcenterinsightsV1DeployQaScorecardRevisionRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "contactcenterinsights.projects.locations.qaScorecards.revisions.deploy"
                    }
                  },
                  "resources": {
                    "qaQuestions": {
                      "methods": {
                        "get": {
                          "response": {
                            "$ref": "GoogleCloudContactcenterinsightsV1QaQuestion"
                          },
                          "description": "Gets a QaQuestion.",
                          "parameterOrder": [
                            "name"
                          ],
                          "id": "contactcenterinsights.projects.locations.qaScorecards.revisions.qaQuestions.get",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/qaScorecards/{qaScorecardsId}/revisions/{revisionsId}/qaQuestions/{qaQuestionsId}",
                          "httpMethod": "GET",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "name": {
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/qaScorecards/[^/]+/revisions/[^/]+/qaQuestions/[^/]+$",
                              "required": true,
                              "location": "path",
                              "description": "Required. The name of the QaQuestion to get."
                            }
                          },
                          "path": "v1/{+name}"
                        },
                        "delete": {
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/qaScorecards/{qaScorecardsId}/revisions/{revisionsId}/qaQuestions/{qaQuestionsId}",
                          "httpMethod": "DELETE",
                          "description": "Deletes a QaQuestion.",
                          "id": "contactcenterinsights.projects.locations.qaScorecards.revisions.qaQuestions.delete",
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "parameters": {
                            "name": {
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/qaScorecards/[^/]+/revisions/[^/]+/qaQuestions/[^/]+$",
                              "required": true,
                              "description": "Required. The name of the QaQuestion to delete.",
                              "type": "string"
                            }
                          },
                          "path": "v1/{+name}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "name"
                          ]
                        },
                        "list": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1/{+parent}/qaQuestions",
                          "parameterOrder": [
                            "parent"
                          ],
                          "id": "contactcenterinsights.projects.locations.qaScorecards.revisions.qaQuestions.list",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/qaScorecards/{qaScorecardsId}/revisions/{revisionsId}/qaQuestions",
                          "response": {
                            "$ref": "GoogleCloudContactcenterinsightsV1ListQaQuestionsResponse"
                          },
                          "httpMethod": "GET",
                          "description": "Lists QaQuestions.",
                          "parameters": {
                            "pageSize": {
                              "type": "integer",
                              "location": "query",
                              "description": "Optional. The maximum number of questions to return in the response. If the value is zero, the service will select a default size. A call might return fewer objects than requested. A non-empty `next_page_token` in the response indicates that more data is available.",
                              "format": "int32"
                            },
                            "pageToken": {
                              "type": "string",
                              "location": "query",
                              "description": "Optional. The value returned by the last `ListQaQuestionsResponse`. This value indicates that this is a continuation of a prior `ListQaQuestions` call and that the system should return the next page of data."
                            },
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/qaScorecards/[^/]+/revisions/[^/]+$",
                              "type": "string",
                              "description": "Required. The parent resource of the questions.",
                              "location": "path",
                              "required": true
                            }
                          }
                        },
                        "patch": {
                          "response": {
                            "$ref": "GoogleCloudContactcenterinsightsV1QaQuestion"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/qaScorecards/{qaScorecardsId}/revisions/{revisionsId}/qaQuestions/{qaQuestionsId}",
                          "parameterOrder": [
                            "name"
                          ],
                          "httpMethod": "PATCH",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/qaScorecards/[^/]+/revisions/[^/]+/qaQuestions/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "description": "Identifier. The resource name of the question. Format: projects/{project}/locations/{location}/qaScorecards/{qa_scorecard}/revisions/{revision}/qaQuestions/{qa_question}",
                              "required": true
                            },
                            "updateMask": {
                              "format": "google-fieldmask",
                              "description": "Required. The list of fields to be updated. All possible fields can be updated by passing `*`, or a subset of the following updateable fields can be provided: * `abbreviation` * `answer_choices` * `answer_instructions` * `order` * `question_body` * `tags`",
                              "type": "string",
                              "location": "query"
                            }
                          },
                          "description": "Updates a QaQuestion.",
                          "request": {
                            "$ref": "GoogleCloudContactcenterinsightsV1QaQuestion"
                          },
                          "path": "v1/{+name}",
                          "id": "contactcenterinsights.projects.locations.qaScorecards.revisions.qaQuestions.patch"
                        },
                        "create": {
                          "description": "Create a QaQuestion.",
                          "response": {
                            "$ref": "GoogleCloudContactcenterinsightsV1QaQuestion"
                          },
                          "path": "v1/{+parent}/qaQuestions",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/qaScorecards/{qaScorecardsId}/revisions/{revisionsId}/qaQuestions",
                          "parameters": {
                            "parent": {
                              "description": "Required. The parent resource of the QaQuestion.",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/qaScorecards/[^/]+/revisions/[^/]+$",
                              "location": "path",
                              "required": true
                            },
                            "qaQuestionId": {
                              "type": "string",
                              "location": "query",
                              "description": "Optional. A unique ID for the new question. This ID will become the final component of the question's resource name. If no ID is specified, a server-generated ID will be used. This value should be 4-64 characters and must match the regular expression `^[a-z0-9-]{4,64}$`. Valid characters are `a-z-`."
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "contactcenterinsights.projects.locations.qaScorecards.revisions.qaQuestions.create",
                          "httpMethod": "POST",
                          "parameterOrder": [
                            "parent"
                          ],
                          "request": {
                            "$ref": "GoogleCloudContactcenterinsightsV1QaQuestion"
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "conversations": {
              "methods": {
                "get": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the conversation to get."
                    },
                    "view": {
                      "type": "string",
                      "enumDescriptions": [
                        "The conversation view is not specified. * Defaults to `FULL` in `GetConversationRequest`. * Defaults to `BASIC` in `ListConversationsRequest`.",
                        "Populates all fields in the conversation.",
                        "Populates all fields in the conversation except the transcript.",
                        "Populates all fields in the conversation, including the structured transcript parts."
                      ],
                      "description": "The level of details of the conversation. Default is `FULL`.",
                      "location": "query",
                      "enum": [
                        "CONVERSATION_VIEW_UNSPECIFIED",
                        "FULL",
                        "BASIC",
                        "FULL_WITH_STRUCTURED_TRANSCRIPT"
                      ]
[...]
