{
  "mtlsRootUrl": "https://contactcenterinsights.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "documentationLink": "https://cloud.google.com/contact-center/insights/docs",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "rootUrl": "https://contactcenterinsights.googleapis.com/",
  "canonicalName": "Contactcenterinsights",
  "version_module": true,
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "basePath": "",
  "version": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "title": "Contact Center AI Insights API",
  "servicePath": "",
  "discoveryVersion": "v1",
  "name": "contactcenterinsights",
  "id": "contactcenterinsights:v1",
  "revision": "20260629",
  "schemas": {
    "GoogleCloudContactcenterinsightsV1QaQuestionTag": {
      "description": "A tag is a resource which aims to categorize a set of questions across multiple scorecards, e.g., \"Customer Satisfaction\",\"Billing\", etc.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1QaQuestionTag",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Required. A user-specified display name for the tag."
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The most recent time at which the question tag was updated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "qaQuestionIds": {
          "type": "array",
          "description": "Optional. The list of Scorecard Question IDs that the tag applies to. Each QaQuestionId is represented as a full resource name containing the Question ID. Lastly, Since a tag may not necessarily be referenced by any Scorecard Questions, we treat this field as optional.",
          "items": {
            "type": "string"
          }
        },
        "createTime": {
          "description": "Output only. The time at which the question tag was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. Resource name for the QaQuestionTag Format projects/{project}/locations/{location}/qaQuestionTags/{qa_question_tag} In the above format, the last segment, i.e., qa_question_tag, is a server-generated ID corresponding to the tag resource.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainHoldData": {
      "type": "object",
      "description": "The data for a hold annotation.",
      "properties": {},
      "id": "GoogleCloudContactcenterinsightsV1mainHoldData"
    },
    "GoogleCloudContactcenterinsightsV1alpha1TestCorrelationConfigResponse": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1TestCorrelationConfigResponse",
      "properties": {
        "detailedResults": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1TestCorrelationConfigResponseDetailedCorrelationResults",
          "description": "Results for the DETAILED_SYNC execution mode."
        },
        "partialErrors": {
          "type": "array",
          "description": "Partial errors during test correlation config operation that might cause the operation output to be incomplete.",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        }
      },
      "description": "The response of testing correlation config.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1IssueAssignment": {
      "id": "GoogleCloudContactcenterinsightsV1IssueAssignment",
      "properties": {
        "issue": {
          "type": "string",
          "description": "Resource name of the assigned issue."
        },
        "score": {
          "format": "double",
          "description": "Score indicating the likelihood of the issue assignment. currently bounded on [0,1].",
          "type": "number"
        },
        "displayName": {
          "description": "Immutable. Display name of the assigned issue. This field is set at time of analysis and immutable since then.",
          "type": "string"
        }
      },
      "description": "Information about the issue.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1GenerativeInsightConversationTranscript": {
      "type": "object",
      "description": "The conversation transcript for the chart.",
      "properties": {
        "conversationId": {
          "type": "string",
          "description": "The conversation id of the chart."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The create time of the conversation.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The update time of the conversation."
        },
        "messages": {
          "type": "array",
          "description": "Ordered list of messages, including user inputs and system responses.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1GenerativeInsightConversationTranscriptMessage"
          }
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1GenerativeInsightConversationTranscript"
    },
    "GoogleCloudContactcenterinsightsV1mainArticleSuggestionData": {
      "description": "Agent Assist Article Suggestion data.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainArticleSuggestionData",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Article URI."
        },
        "confidenceScore": {
          "description": "The system's confidence score that this article is a good match for this conversation, ranging from 0.0 (completely uncertain) to 1.0 (completely certain).",
          "type": "number",
          "format": "float"
        },
        "source": {
          "type": "string",
          "description": "The knowledge document that this answer was extracted from. Format: projects/{project}/knowledgeBases/{knowledge_base}/documents/{document}"
        },
        "queryRecord": {
          "type": "string",
          "description": "The name of the answer record. Format: projects/{project}/locations/{location}/answerRecords/{answer_record}"
        },
        "title": {
          "description": "Article title.",
          "type": "string"
        },
        "metadata": {
          "description": "Map that contains metadata about the Article Suggestion and the document that it originates from.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudCesV1mainBlob": {
      "id": "GoogleCloudCesV1mainBlob",
      "properties": {
        "data": {
          "description": "Required. Raw bytes of the blob.",
          "type": "string",
          "format": "byte"
        },
        "mimeType": {
          "description": "Required. The IANA standard MIME type of the source data.",
          "type": "string"
        }
      },
      "description": "Represents a blob input or output in the conversation.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1AnnotatorSelectorSummarizationConfig": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1AnnotatorSelectorSummarizationConfig",
      "properties": {
        "conversationProfile": {
          "description": "Resource name of the Dialogflow conversation profile. Format: projects/{project}/locations/{location}/conversationProfiles/{conversation_profile}",
          "type": "string"
        },
        "summarizationModel": {
          "description": "Default summarization model to be used.",
          "enumDeprecated": [
            false,
            true,
            true
          ],
          "type": "string",
          "enum": [
            "SUMMARIZATION_MODEL_UNSPECIFIED",
            "BASELINE_MODEL",
            "BASELINE_MODEL_V2_0"
          ],
          "enumDescriptions": [
            "Unspecified summarization model.",
            "The CCAI baseline model. This model is deprecated and will be removed in the future. We recommend using `generator` instead.",
            "The CCAI baseline model, V2.0. This model is deprecated and will be removed in the future. We recommend using `generator` instead."
          ]
        },
        "generator": {
          "type": "string",
          "description": "The resource name of the existing created generator. Format: projects//locations//generators/"
        }
      },
      "description": "Configuration for summarization.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1QaScorecardResultScoreSource": {
      "description": "A scorecard result may have multiple sets of scores from varying sources, one of which becomes the \"main\" answer above. A ScoreSource represents each individual set of scores.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1QaScorecardResultScoreSource",
      "properties": {
        "potentialScore": {
          "format": "double",
          "description": "The maximum potential overall score of the scorecard. Any questions answered using `na_value` are excluded from this calculation.",
          "type": "number"
        },
        "normalizedScore": {
          "format": "double",
          "type": "number",
          "description": "The normalized score, which is the score divided by the potential score."
        },
        "qaTagResults": {
          "type": "array",
          "description": "Collection of tags and their scores.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1QaScorecardResultQaTagResult"
          }
        },
        "score": {
          "type": "number",
          "description": "The overall numerical score of the result.",
          "format": "double"
        },
        "sourceType": {
          "enumDescriptions": [
            "Source type is unspecified.",
            "Score is derived only from system-generated answers.",
            "Score is derived from both system-generated answers, and includes any manual edits if they exist."
          ],
          "description": "What created the score.",
          "type": "string",
          "enum": [
            "SOURCE_TYPE_UNSPECIFIED",
            "SYSTEM_GENERATED_ONLY",
            "INCLUDES_MANUAL_EDITS"
          ]
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1EncryptionSpec": {
      "description": "A customer-managed encryption key specification that can be applied to all created resources (e.g. `Conversation`).",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1EncryptionSpec",
      "properties": {
        "name": {
          "type": "string",
          "description": "Immutable. The resource name of the encryption key specification resource. Format: projects/{project}/locations/{location}/encryptionSpec"
        },
        "kmsKey": {
          "description": "Required. The name of customer-managed encryption key that is used to secure a resource and its sub-resources. If empty, the resource is secured by our default encryption key. Only the key in the same location as this resource is allowed to be used for encryption. Format: `projects/{project}/locations/{location}/keyRings/{keyRing}/cryptoKeys/{key}`",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1ExportIssueModelResponse": {
      "properties": {},
      "id": "GoogleCloudContactcenterinsightsV1alpha1ExportIssueModelResponse",
      "type": "object",
      "description": "Response from export issue model"
    },
    "GoogleCloudContactcenterinsightsV1mainAnnotatorSelectorSummarizationConfig": {
      "id": "GoogleCloudContactcenterinsightsV1mainAnnotatorSelectorSummarizationConfig",
      "properties": {
        "conversationProfile": {
          "type": "string",
          "description": "Resource name of the Dialogflow conversation profile. Format: projects/{project}/locations/{location}/conversationProfiles/{conversation_profile}"
        },
        "summarizationModel": {
          "description": "Default summarization model to be used.",
          "enumDeprecated": [
            false,
            true,
            true
          ],
          "type": "string",
          "enum": [
            "SUMMARIZATION_MODEL_UNSPECIFIED",
            "BASELINE_MODEL",
            "BASELINE_MODEL_V2_0"
          ],
          "enumDescriptions": [
            "Unspecified summarization model.",
            "The CCAI baseline model. This model is deprecated and will be removed in the future. We recommend using `generator` instead.",
            "The CCAI baseline model, V2.0. This model is deprecated and will be removed in the future. We recommend using `generator` instead."
          ]
        },
        "generator": {
          "type": "string",
          "description": "The resource name of the existing created generator. Format: projects//locations//generators/"
        }
      },
      "description": "Configuration for summarization.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainTestCorrelationConfigResponseDetailedCorrelationResults": {
      "id": "GoogleCloudContactcenterinsightsV1mainTestCorrelationConfigResponseDetailedCorrelationResults",
      "properties": {
        "joinKeyResults": {
          "description": "A list of join key correlation results for each conversation tested.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainConversationCorrelationResult"
          },
          "type": "array"
        },
        "constraintResults": {
          "description": "A list of constraint evaluation results for each pair of conversations.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainConstraintEvaluationResult"
          },
          "type": "array"
        }
      },
      "description": "Wrapper for detailed, step-by-step results.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1QaQuestionMetrics": {
      "id": "GoogleCloudContactcenterinsightsV1QaQuestionMetrics",
      "properties": {
        "accuracy": {
          "readOnly": true,
          "format": "double",
          "type": "number",
          "description": "Output only. Accuracy of the model. Measures the percentage of correct answers the model gave on the test set."
        }
      },
      "description": "A wrapper representing metrics calculated against a test-set on a LLM that was fine tuned for this question.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1DimensionClientSentimentCategoryDimensionMetadata": {
      "properties": {
        "sentimentCategory": {
          "description": "Optional. The client sentiment category.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1DimensionClientSentimentCategoryDimensionMetadata",
      "type": "object",
      "description": "Metadata about the client sentiment category dimension."
    },
    "GoogleCloudContactcenterinsightsV1mainDimensionAgentDimensionMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1mainDimensionAgentDimensionMetadata",
      "properties": {
        "agentVersionId": {
          "type": "string",
          "description": "Optional. The agent's version ID. Only applicable to automated agents. This will be populated for AGENT_VERSION_ID, and AGENT_DEPLOYMENT_ID dimensions."
        },
        "agentDeploymentId": {
          "type": "string",
          "description": "Optional. The agent's deployment ID. Only applicable to automated agents. This will be populated for AGENT and AGENT_DEPLOYMENT_ID dimensions."
        },
        "agentDisplayName": {
          "type": "string",
          "description": "Optional. The agent's name This will be populated for AGENT, AGENT_TEAM, AGENT_VERSION_ID, and AGENT_DEPLOYMENT_ID dimensions."
        },
        "agentId": {
          "type": "string",
          "description": "Optional. A user-specified string representing the agent. This will be populated for AGENT, AGENT_TEAM, AGENT_VERSION_ID, and AGENT_DEPLOYMENT_ID dimensions."
        },
        "agentDeploymentDisplayName": {
          "type": "string",
          "description": "Optional. The agent's deployment display name. Only applicable to automated agents. This will be populated for AGENT_DEPLOYMENT_ID dimensions."
        },
        "agentVersionDisplayName": {
          "description": "Optional. The agent's version display name. Only applicable to automated agents. This will be populated for AGENT_VERSION_ID, and AGENT_DEPLOYMENT_ID dimensions.",
          "type": "string"
        },
        "agentTeam": {
          "type": "string",
          "description": "Optional. A user-specified string representing the agent's team."
        }
      },
      "description": "Metadata about the agent dimension.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1ListNotesResponse": {
      "type": "object",
      "description": "The response of listing notes.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "notes": {
          "description": "The notes that match the request.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1Note"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1ListNotesResponse"
    },
    "GoogleCloudContactcenterinsightsV1mainAnalysisResultCallAnalysisMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1mainAnalysisResultCallAnalysisMetadata",
      "properties": {
        "intents": {
          "description": "All the matched intents in the call.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainIntent"
          }
        },
        "qaScorecardResults": {
          "description": "Results of scoring QaScorecards.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainQaScorecardResult"
          },
          "type": "array"
        },
        "silence": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainConversationLevelSilence",
          "description": "Overall conversation-level silence during the call."
        },
        "annotations": {
          "type": "array",
          "description": "A list of call annotations that apply to this call.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainCallAnnotation"
          }
        },
        "entities": {
          "description": "All the entities in the call.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainEntity"
          }
        },
        "sentiments": {
          "description": "Overall conversation-level sentiment for each channel of the call.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainConversationLevelSentiment"
          },
          "type": "array"
        },
        "phraseMatchers": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainPhraseMatchData"
          },
          "description": "All the matched phrase matchers in the call."
        },
        "issueModelResult": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainIssueModelResult",
          "description": "Overall conversation-level issue modeling result."
        }
      },
      "description": "Call-specific metadata created during analysis.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1IntentMatchData": {
      "type": "object",
      "description": "The data for an intent match. Represents an intent match for a text segment in the conversation. A text segment can be part of a sentence, a complete sentence, or an utterance with multiple sentences.",
      "properties": {
        "intentUniqueId": {
          "type": "string",
          "description": "The id of the matched intent. Can be used to retrieve the corresponding intent information."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1IntentMatchData"
    },
    "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentWordInfo": {
      "type": "object",
      "description": "Word-level info for words in a transcript.",
      "properties": {
        "endOffset": {
          "format": "google-duration",
          "type": "string",
          "description": "Time offset of the end of this word relative to the beginning of the total conversation."
        },
        "confidence": {
          "description": "A confidence estimate between 0.0 and 1.0 of the fidelity of this word. A default value of 0.0 indicates that the value is unset.",
          "type": "number",
          "format": "float"
        },
        "startOffset": {
          "format": "google-duration",
          "type": "string",
          "description": "Time offset of the start of this word relative to the beginning of the total conversation."
        },
        "word": {
          "description": "The word itself. Includes punctuation marks that surround the word.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentWordInfo"
    },
    "GoogleCloudContactcenterinsightsV1Conversation": {
      "properties": {
        "callMetadata": {
          "description": "Call-specific metadata.",
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationCallMetadata"
        },
        "latestSummary": {
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationSummarizationSuggestionData",
          "description": "Output only. Latest summary of the conversation."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time at which the conversation was created.",
          "type": "string"
        },
        "medium": {
          "description": "Immutable. The conversation medium.",
          "type": "string",
          "enum": [
            "MEDIUM_UNSPECIFIED",
            "PHONE_CALL",
            "CHAT"
          ],
          "enumDescriptions": [
            "Default value for unspecified.",
            "The format for conversations that took place over the phone.",
            "The format for conversations that took place over chat."
          ]
        },
        "metadataJson": {
          "description": "Optional. JSON metadata encoded as a string. This field is primarily used by Insights integrations with various telephony systems and must be in one of Insight's supported formats.",
          "type": "string"
        },
        "ttl": {
          "format": "google-duration",
          "description": "Input only. The TTL for this resource. If specified, then this TTL will be used to calculate the expire time.",
          "type": "string"
        },
        "transcript": {
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationTranscript",
          "description": "Output only. The conversation transcript."
        },
        "qualityMetadata": {
          "description": "Conversation metadata related to quality management.",
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationQualityMetadata"
        },
        "latestAnalysis": {
          "description": "Output only. The conversation's latest analysis, if one exists.",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1Analysis"
        },
        "obfuscatedUserId": {
          "type": "string",
          "description": "Obfuscated user ID which the customer sent to us."
        },
        "runtimeAnnotations": {
          "readOnly": true,
          "description": "Output only. The annotations that were generated during the customer and agent interaction.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1RuntimeAnnotation"
          },
          "type": "array"
        },
        "agentId": {
          "type": "string",
          "description": "An opaque, user-specified string representing the human agent who handled the conversation."
        },
        "labels": {
          "description": "A map for the user to specify any custom fields. A maximum of 100 labels per conversation is allowed, with a maximum of 256 characters per entry.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "correlationInfo": {
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationCorrelationInfo",
          "description": "Output only. Info for correlating across conversations."
        },
        "startTime": {
          "type": "string",
          "description": "The time at which the conversation started.",
          "format": "google-datetime"
        },
        "dialogflowIntents": {
          "readOnly": true,
          "description": "Output only. All the matched Dialogflow intents in the call. The key corresponds to a Dialogflow intent, format: projects/{project}/agent/{agent}/intents/{intent}",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudContactcenterinsightsV1DialogflowIntent"
          }
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The most recent time at which the conversation was updated.",
          "type": "string"
        },
        "turnCount": {
          "description": "Output only. The number of turns in the conversation.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "expireTime": {
          "type": "string",
          "description": "The time at which this conversation should expire. After this time, the conversation data and any associated analyses will be deleted.",
          "format": "google-datetime"
        },
        "name": {
          "description": "Immutable. The resource name of the conversation. Format: projects/{project}/locations/{location}/conversations/{conversation}",
          "type": "string"
        },
        "dataSource": {
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationDataSource",
          "description": "The source of the audio and transcription for the conversation."
        },
        "duration": {
          "format": "google-duration",
          "readOnly": true,
          "description": "Output only. The duration of the conversation.",
          "type": "string"
        },
        "languageCode": {
          "type": "string",
          "description": "A user-specified language code for the conversation."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1Conversation",
      "type": "object",
      "description": "The conversation resource."
    },
    "GoogleCloudContactcenterinsightsV1alpha1DeployIssueModelMetadata": {
      "properties": {
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation finished running."
        },
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1DeployIssueModelRequest",
          "description": "The original request for deployment."
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1DeployIssueModelMetadata",
      "type": "object",
      "description": "Metadata for deploying an issue model."
    },
    "GoogleCloudContactcenterinsightsV1mainBulkDeleteConversationsRequest": {
      "description": "The request to delete conversations in bulk.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainBulkDeleteConversationsRequest",
      "properties": {
        "filter": {
          "type": "string",
          "description": "Filter used to select the subset of conversations to delete."
        },
        "force": {
          "description": "If set to true, all of this conversation's analyses will also be deleted. Otherwise, the request will only succeed if the conversation has no analyses.",
          "type": "boolean"
        },
        "maxDeleteCount": {
          "format": "int32",
          "description": "Maximum number of conversations to delete.",
          "type": "integer"
        },
        "parent": {
          "type": "string",
          "description": "Required. The parent resource to delete conversations from. Format: projects/{project}/locations/{location}"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1Entity": {
      "properties": {
        "salience": {
          "format": "float",
          "description": "The salience score associated with the entity in the [0, 1.0] range. The salience score for an entity provides information about the importance or centrality of that entity to the entire document text. Scores closer to 0 are less salient, while scores closer to 1.0 are highly salient.",
          "type": "number"
        },
        "type": {
          "enumDescriptions": [
            "Unspecified.",
            "Person.",
            "Location.",
            "Organization.",
            "Event.",
            "Artwork.",
            "Consumer product.",
            "Other types of entities.",
            "Phone number. The metadata lists the phone number (formatted according to local convention), plus whichever additional elements appear in the text: * `number` - The actual number, broken down into sections according to local convention. * `national_prefix` - Country code, if detected. * `area_code` - Region or area code, if detected. * `extension` - Phone extension (to be dialed after connection), if detected.",
            "Address. The metadata identifies the street number and locality plus whichever additional elements appear in the text: * `street_number` - Street number. * `locality` - City or town. * `street_name` - Street/route name, if detected. * `postal_code` - Postal code, if detected. * `country` - Country, if detected. * `broad_region` - Administrative area, such as the state, if detected. * `narrow_region` - Smaller administrative area, such as county, if detected. * `sublocality` - Used in Asian addresses to demark a district within a city, if detected.",
            "Date. The metadata identifies the components of the date: * `year` - Four digit year, if detected. * `month` - Two digit month number, if detected. * `day` - Two digit day number, if detected.",
            "Number. The metadata is the number itself.",
            "Price. The metadata identifies the `value` and `currency`."
          ],
          "description": "The entity type.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "PERSON",
            "LOCATION",
            "ORGANIZATION",
            "EVENT",
            "WORK_OF_ART",
            "CONSUMER_GOOD",
            "OTHER",
            "PHONE_NUMBER",
            "ADDRESS",
            "DATE",
            "NUMBER",
            "PRICE"
          ]
        },
        "displayName": {
          "type": "string",
          "description": "The representative name for the entity."
        },
        "metadata": {
          "description": "Metadata associated with the entity. For most entity types, the metadata is a Wikipedia URL (`wikipedia_url`) and Knowledge Graph MID (`mid`), if they are available. For the metadata associated with other entity types, see the Type table below.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "sentiment": {
          "description": "The aggregate sentiment expressed for this entity in the conversation.",
          "$ref": "GoogleCloudContactcenterinsightsV1SentimentData"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1Entity",
      "type": "object",
      "description": "The data for an entity annotation. Represents a phrase in the conversation that is a known entity, such as a person, an organization, or location."
    },
    "GoogleCloudContactcenterinsightsV1mainExportInsightsDataMetadata": {
      "properties": {
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "partialErrors": {
          "description": "Partial errors during export operation that might cause the operation output to be incomplete.",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        },
        "failedExportCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of conversations that failed to be exported."
        },
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation finished running."
        },
        "request": {
          "description": "The original request for export.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainExportInsightsDataRequest"
        },
        "completedExportCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of conversations that were exported successfully."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainExportInsightsDataMetadata",
      "type": "object",
      "description": "Metadata for an export insights operation."
    },
    "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSlice": {
      "properties": {
        "timeSeries": {
          "$ref": "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceTimeSeries",
          "description": "A time series of metric values. This is only populated if the request specifies a time granularity other than NONE."
        },
        "dimensions": {
          "description": "A unique combination of dimensions that this slice represents.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1Dimension"
          },
          "type": "array"
        },
        "total": {
          "description": "The total metric value. The interval of this data point is [starting create time, ending create time) from the request.",
          "$ref": "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPoint"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSlice",
      "type": "object",
      "description": "A slice contains a total and (if the request specified a time granularity) a time series of metric values. Each slice contains a unique combination of the cardinality of dimensions from the request. For example, if the request specifies a single ISSUE dimension and it has a cardinality of 2 (i.e. the data used to compute the metrics has 2 issues in total), the response will have 2 slices: * Slice 1 -> dimensions=[Issue 1] * Slice 2 -> dimensions=[Issue 2]"
    },
    "GoogleCloudContactcenterinsightsV1mainDimensionQaScorecardDimensionMetadata": {
      "type": "object",
      "description": "Metadata about the QA scorecard dimension.",
      "properties": {
        "qaScorecardId": {
          "type": "string",
          "description": "Optional. The QA scorecard ID."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainDimensionQaScorecardDimensionMetadata"
    },
    "GoogleCloudContactcenterinsightsV1DimensionAgentDimensionMetadata": {
      "properties": {
        "agentDisplayName": {
          "type": "string",
          "description": "Optional. The agent's name This will be populated for AGENT, AGENT_TEAM, AGENT_VERSION_ID, and AGENT_DEPLOYMENT_ID dimensions."
        },
        "agentVersionId": {
          "description": "Optional. The agent's version ID. Only applicable to automated agents. This will be populated for AGENT_VERSION_ID, and AGENT_DEPLOYMENT_ID dimensions.",
          "type": "string"
        },
        "agentDeploymentId": {
          "type": "string",
          "description": "Optional. The agent's deployment ID. Only applicable to automated agents. This will be populated for AGENT and AGENT_DEPLOYMENT_ID dimensions."
        },
        "agentTeam": {
          "description": "Optional. A user-specified string representing the agent's team.",
          "type": "string"
        },
        "agentVersionDisplayName": {
          "description": "Optional. The agent's version display name. Only applicable to automated agents. This will be populated for AGENT_VERSION_ID, and AGENT_DEPLOYMENT_ID dimensions.",
          "type": "string"
        },
        "agentId": {
          "type": "string",
          "description": "Optional. A user-specified string representing the agent. This will be populated for AGENT, AGENT_TEAM, AGENT_VERSION_ID, and AGENT_DEPLOYMENT_ID dimensions."
        },
        "agentDeploymentDisplayName": {
          "type": "string",
          "description": "Optional. The agent's deployment display name. Only applicable to automated agents. This will be populated for AGENT_DEPLOYMENT_ID dimensions."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1DimensionAgentDimensionMetadata",
      "type": "object",
      "description": "Metadata about the agent dimension."
    },
    "GoogleCloudContactcenterinsightsV1mainBulkDownloadFeedbackLabelsResponse": {
      "description": "Response for the BulkDownloadFeedbackLabel endpoint.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainBulkDownloadFeedbackLabelsResponse",
      "properties": {}
    },
    "GoogleCloudContactcenterinsightsV1ListChartsResponse": {
      "type": "object",
      "description": "The response of listing charts.",
      "properties": {
        "charts": {
          "description": "The charts under the parent.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1Chart"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The value returned by the last `ListChartsResponse`. This value indicates that this is a continuation of a prior `ListCharts` call and that the system should return the next page of data.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1ListChartsResponse"
    },
    "GoogleTypeExpr": {
      "properties": {
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        }
      },
      "id": "GoogleTypeExpr",
      "type": "object",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscript": {
      "description": "A message representing the transcript of a conversation.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscript",
      "properties": {
        "transcriptSegments": {
          "type": "array",
          "description": "A list of sequential transcript segments that comprise the conversation.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegment"
          }
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainDeployIssueModelResponse": {
      "type": "object",
      "description": "The response to deploy an issue model.",
      "properties": {},
      "id": "GoogleCloudContactcenterinsightsV1mainDeployIssueModelResponse"
    },
    "GoogleCloudContactcenterinsightsV1mainQueryMetricsMetadata": {
      "type": "object",
      "description": "The metadata from querying metrics.",
      "properties": {
        "resultIsTruncated": {
          "description": "Whether the result rows were truncated because the result row size is too large to materialize.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainQueryMetricsMetadata"
    },
    "GoogleCloudContactcenterinsightsV1mainDimensionConversationalAgentsPlaybookDimensionMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1mainDimensionConversationalAgentsPlaybookDimensionMetadata",
      "properties": {
        "playbookDisplayName": {
          "description": "Optional. The dialogflow playbook display name.",
          "type": "string"
        },
        "playbookId": {
          "type": "string",
          "description": "Optional. The dialogflow playbook ID."
        }
      },
      "description": "Metadata about the Conversational Agents playbook dimension.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1ConstraintEvaluationResultRuleConstraintResult": {
      "properties": {
        "constraintMet": {
          "type": "boolean",
          "description": "Whether the constraint expression evaluated to true for (A, B) or (B, A)."
        },
        "error": {
          "description": "The error status if the constraint expression failed to evaluate.",
          "$ref": "GoogleRpcStatus"
        },
        "ruleId": {
          "description": "The rule ID.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1ConstraintEvaluationResultRuleConstraintResult",
      "type": "object",
      "description": "The result of a single constraint rule on the pair of conversations."
    },
    "GoogleCloudContactcenterinsightsV1mainImportIssueModelResponse": {
      "type": "object",
      "description": "Response from import issue model",
      "properties": {
        "issueModel": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainIssueModel",
          "description": "The issue model that was imported."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainImportIssueModelResponse"
    },
    "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPointConversationMeasureQaTagScore": {
      "description": "Average QA normalized score for the tag.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPointConversationMeasureQaTagScore",
      "properties": {
        "averageTagNormalizedScore": {
          "description": "Average tag normalized score per tag.",
          "type": "number",
          "format": "double"
        },
        "tag": {
          "type": "string",
          "description": "Tag name."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1DimensionConversationalAgentsToolDimensionMetadata": {
      "type": "object",
      "description": "Metadata about the Conversational Agents tool dimension.",
      "properties": {
        "toolId": {
          "description": "Optional. The dialogflow tool ID.",
          "type": "string"
        },
        "toolDisplayName": {
          "description": "Optional. The dialogflow tool display name.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1DimensionConversationalAgentsToolDimensionMetadata"
    },
    "GoogleCloudContactcenterinsightsV1BulkDeleteFeedbackLabelsResponse": {
      "id": "GoogleCloudContactcenterinsightsV1BulkDeleteFeedbackLabelsResponse",
      "properties": {},
      "description": "Response for the BulkDeleteFeedbackLabels endpoint.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponse": {
      "description": "The response for querying metrics.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponse",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The metrics last update time."
        },
        "location": {
          "type": "string",
          "description": "Required. The location of the data. \"projects/{project}/locations/{location}\""
        },
        "slices": {
          "type": "array",
          "description": "A slice contains a total and (if the request specified a time granularity) a time series of metric values. Each slice contains a unique combination of the cardinality of dimensions from the request.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSlice"
          }
        },
        "macroAverageSlice": {
          "description": "The macro average slice contains aggregated averages across all selected dimensions. i.e. if group_by agent and scorecard_id is specified, this field will contain the average across all agents and all scorecards. This field is only populated if the request specifies a Dimension.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSlice"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainConversation": {
      "type": "object",
      "description": "The conversation resource.",
      "properties": {
        "runtimeAnnotations": {
          "readOnly": true,
          "description": "Output only. The annotations that were generated during the customer and agent interaction.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainRuntimeAnnotation"
          },
          "type": "array"
        },
        "agentId": {
          "type": "string",
          "description": "An opaque, user-specified string representing the human agent who handled the conversation."
        },
        "labels": {
          "description": "A map for the user to specify any custom fields. A maximum of 100 labels per conversation is allowed, with a maximum of 256 characters per entry.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "correlationInfo": {
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1mainConversationCorrelationInfo",
          "description": "Output only. Info for correlating across conversations."
        },
        "startTime": {
          "format": "google-datetime",
          "description": "The time at which the conversation started.",
          "type": "string"
        },
        "dialogflowIntents": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainDialogflowIntent"
          },
          "description": "Output only. All the matched Dialogflow intents in the call. The key corresponds to a Dialogflow intent, format: projects/{project}/agent/{agent}/intents/{intent}",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The most recent time at which the conversation was updated."
        },
        "turnCount": {
          "description": "Output only. The number of turns in the conversation.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "expireTime": {
          "format": "google-datetime",
          "description": "The time at which this conversation should expire. After this time, the conversation data and any associated analyses will be deleted.",
          "type": "string"
        },
        "languageCode": {
          "type": "string",
          "description": "A user-specified language code for the conversation."
        },
        "name": {
          "description": "Immutable. The resource name of the conversation. Format: projects/{project}/locations/{location}/conversations/{conversation}",
          "type": "string"
        },
        "dataSource": {
          "description": "The source of the audio and transcription for the conversation.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainConversationDataSource"
        },
        "duration": {
          "type": "string",
          "description": "Output only. The duration of the conversation.",
          "readOnly": true,
          "format": "google-duration"
        },
        "callMetadata": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainConversationCallMetadata",
          "description": "Call-specific metadata."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time at which the conversation was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "medium": {
          "enumDescriptions": [
            "Default value for unspecified.",
            "The format for conversations that took place over the phone.",
            "The format for conversations that took place over chat."
          ],
          "description": "Immutable. The conversation medium.",
          "type": "string",
          "enum": [
            "MEDIUM_UNSPECIFIED",
            "PHONE_CALL",
            "CHAT"
          ]
        },
        "latestSummary": {
          "description": "Output only. Latest summary of the conversation.",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1mainConversationSummarizationSuggestionData"
        },
        "ttl": {
          "format": "google-duration",
          "type": "string",
          "description": "Input only. The TTL for this resource. If specified, then this TTL will be used to calculate the expire time."
        },
        "transcript": {
          "description": "Output only. The conversation transcript.",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1mainConversationTranscript"
        },
        "metadataJson": {
          "description": "Optional. JSON metadata encoded as a string. This field is primarily used by Insights integrations with various telephony systems and must be in one of Insight's supported formats.",
          "type": "string"
        },
        "latestAnalysis": {
          "description": "Output only. The conversation's latest analysis, if one exists.",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1mainAnalysis"
        },
        "obfuscatedUserId": {
          "type": "string",
          "description": "Obfuscated user ID which the customer sent to us."
        },
        "qualityMetadata": {
          "description": "Conversation metadata related to quality management.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainConversationQualityMetadata"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainConversation"
    },
    "GoogleCloudContactcenterinsightsV1mainEntity": {
      "type": "object",
      "description": "The data for an entity annotation. Represents a phrase in the conversation that is a known entity, such as a person, an organization, or location.",
      "properties": {
        "sentiment": {
          "description": "The aggregate sentiment expressed for this entity in the conversation.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainSentimentData"
        },
        "salience": {
          "description": "The salience score associated with the entity in the [0, 1.0] range. The salience score for an entity provides information about the importance or centrality of that entity to the entire document text. Scores closer to 0 are less salient, while scores closer to 1.0 are highly salient.",
          "type": "number",
          "format": "float"
        },
        "displayName": {
          "description": "The representative name for the entity.",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Metadata associated with the entity. For most entity types, the metadata is a Wikipedia URL (`wikipedia_url`) and Knowledge Graph MID (`mid`), if they are available. For the metadata associated with other entity types, see the Type table below."
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "PERSON",
            "LOCATION",
            "ORGANIZATION",
            "EVENT",
            "WORK_OF_ART",
            "CONSUMER_GOOD",
            "OTHER",
            "PHONE_NUMBER",
            "ADDRESS",
            "DATE",
            "NUMBER",
            "PRICE"
          ],
          "description": "The entity type.",
          "enumDescriptions": [
            "Unspecified.",
            "Person.",
            "Location.",
            "Organization.",
            "Event.",
            "Artwork.",
            "Consumer product.",
            "Other types of entities.",
            "Phone number. The metadata lists the phone number (formatted according to local convention), plus whichever additional elements appear in the text: * `number` - The actual number, broken down into sections according to local convention. * `national_prefix` - Country code, if detected. * `area_code` - Region or area code, if detected. * `extension` - Phone extension (to be dialed after connection), if detected.",
            "Address. The metadata identifies the street number and locality plus whichever additional elements appear in the text: * `street_number` - Street number. * `locality` - City or town. * `street_name` - Street/route name, if detected. * `postal_code` - Postal code, if detected. * `country` - Country, if detected. * `broad_region` - Administrative area, such as the state, if detected. * `narrow_region` - Smaller administrative area, such as county, if detected. * `sublocality` - Used in Asian addresses to demark a district within a city, if detected.",
            "Date. The metadata identifies the components of the date: * `year` - Four digit year, if detected. * `month` - Two digit month number, if detected. * `day` - Two digit day number, if detected.",
            "Number. The metadata is the number itself.",
            "Price. The metadata identifies the `value` and `currency`."
          ]
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainEntity"
    },
    "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPointDialogflowInteractionMeasure": {
      "type": "object",
      "description": "The measure related to dialogflow interactions.",
      "properties": {
        "percentileTtsLatency": {
          "$ref": "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPointPercentileResult",
          "description": "The percentile result for TTS latency in milliseconds per dialogflow interaction level."
        },
        "percentileLlmCallLatency": {
          "$ref": "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPointPercentileResult",
          "description": "The percentile result for LLM latency in milliseconds per dialogflow interaction level."
        },
        "percentileAudioInAudioOutLatency": {
          "description": "The percentile result for audio in audio out latency in milliseconds per dialogflow interaction level.",
          "$ref": "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPointPercentileResult"
        },
        "percentileToolUseLatency": {
          "$ref": "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPointPercentileResult",
          "description": "The percentile result for tool use latency in milliseconds per dialogflow interaction level."
        },
        "percentileEndToEndLatency": {
          "description": "The percentile result for end to end chat latency in milliseconds per dialogflow interaction level.",
          "$ref": "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPointPercentileResult"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPointDialogflowInteractionMeasure"
    },
    "GoogleCloudContactcenterinsightsV1mainBulkAnalyzeConversationsResponse": {
      "description": "The response for a bulk analyze conversations operation.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainBulkAnalyzeConversationsResponse",
      "properties": {
        "successfulAnalysisCount": {
          "format": "int32",
          "description": "Count of successful analyses.",
          "type": "integer"
        },
        "failedAnalysisCount": {
          "format": "int32",
          "description": "Count of failed analyses.",
          "type": "integer"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegment": {
      "description": "A segment of a full transcript.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegment",
      "properties": {
        "languageCode": {
          "description": "The language code of this segment as a [BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt) language tag. Example: \"en-US\".",
          "type": "string"
        },
        "sentiment": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainSentimentData",
          "description": "The sentiment for this transcript segment."
        },
        "text": {
          "type": "string",
          "description": "The text of this segment."
        },
        "segmentParticipant": {
          "description": "The participant of this segment.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainConversationParticipant"
        },
        "dialogflowSegmentMetadata": {
          "description": "CCAI metadata relating to the current transcript segment.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentDialogflowSegmentMetadata"
        },
        "messageTime": {
          "description": "The time that the message occurred, if provided.",
          "type": "string",
          "format": "google-datetime"
        },
        "confidence": {
          "format": "float",
          "description": "A confidence estimate between 0.0 and 1.0 of the fidelity of this segment. A default value of 0.0 indicates that the value is unset.",
          "type": "number"
        },
        "words": {
          "description": "A list of the word-specific information for each word in the segment.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentWordInfo"
          },
          "type": "array"
        },
        "turnLevelAudio": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainConversationDataSourceTurnLevelAudio",
          "description": "Turn level audio for this transcript segment."
        },
        "channelTag": {
          "format": "int32",
          "description": "For conversations derived from multi-channel audio, this is the channel number corresponding to the audio from that channel. For audioChannelCount = N, its output values can range from '1' to 'N'. A channel tag of 0 indicates that the audio is mono.",
          "type": "integer"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainIngestConversationsRequestConversationConfig": {
      "id": "GoogleCloudContactcenterinsightsV1mainIngestConversationsRequestConversationConfig",
      "properties": {
        "agentChannel": {
          "format": "int32",
          "description": "Optional. Indicates which of the channels, 1 or 2, contains the agent. Note that this must be set for conversations to be properly displayed and analyzed.",
          "type": "integer"
        },
        "customerChannel": {
          "type": "integer",
          "description": "Optional. Indicates which of the channels, 1 or 2, contains the agent. Note that this must be set for conversations to be properly displayed and analyzed.",
          "format": "int32"
        },
        "agentId": {
          "description": "Optional. An opaque, user-specified string representing a human agent who handled all conversations in the import. Note that this will be overridden if per-conversation metadata is provided through the `metadata_bucket_uri`.",
          "type": "string"
        }
      },
      "description": "Configuration that applies to all conversations.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1QaAnswerAnswerValue": {
      "description": "Message for holding the value of a QaAnswer. QaQuestion.AnswerChoice defines the possible answer values for a question.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1QaAnswerAnswerValue",
      "properties": {
        "naValue": {
          "type": "boolean",
          "description": "A value of \"Not Applicable (N/A)\". Should only ever be `true`."
        },
        "potentialScore": {
          "type": "number",
          "description": "Output only. The maximum potential score of the question.",
          "readOnly": true,
          "format": "double"
        },
        "normalizedScore": {
          "readOnly": true,
          "format": "double",
          "type": "number",
          "description": "Output only. Normalized score of the questions. Calculated as score / potential_score."
        },
        "strValue": {
          "description": "String value.",
          "type": "string"
        },
        "boolValue": {
          "type": "boolean",
          "description": "Boolean value."
        },
        "skipValue": {
          "type": "boolean",
          "description": "Output only. A value of \"Skip\". If provided, this field may only be set to `true`. If a question receives this answer, it will be excluded from any score calculations. This would mean that the question was not evaluated.",
          "readOnly": true
        },
        "numValue": {
          "type": "number",
          "description": "Numerical value.",
          "format": "double"
        },
        "score": {
          "type": "number",
          "description": "Output only. Numerical score of the answer.",
          "readOnly": true,
          "format": "double"
        },
        "key": {
          "description": "A short string used as an identifier. Matches the value used in QaQuestion.AnswerChoice.key.",
          "type": "string"
        }
      }
    },
    "GoogleIamV1SetIamPolicyRequest": {
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object",
      "id": "GoogleIamV1SetIamPolicyRequest",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "GoogleIamV1Policy"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1ListAssessmentRulesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "assessmentRules": {
          "description": "The assessment rules that match the request.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1AssessmentRule"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1ListAssessmentRulesResponse",
      "type": "object",
      "description": "The response of listing assessment rules."
    },
    "GoogleCloudContactcenterinsightsV1alpha1ExportIssueModelMetadata": {
      "type": "object",
      "description": "Metadata used for export issue model.",
      "properties": {
        "createTime": {
          "description": "The time the operation was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "type": "string",
          "description": "The time the operation finished running.",
          "format": "google-datetime"
        },
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1ExportIssueModelRequest",
          "description": "The original export request."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1ExportIssueModelMetadata"
    },
    "GoogleCloudContactcenterinsightsV1DimensionConversationProfileDimensionMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1DimensionConversationProfileDimensionMetadata",
      "properties": {
        "conversationProfileId": {
          "type": "string",
          "description": "Optional. The conversation profile ID."
        }
      },
      "description": "Metadata about the conversation profile dimension.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1AnnotatorSelector": {
      "type": "object",
      "description": "Selector of all available annotators and phrase matchers to run.",
      "properties": {
        "runAutoLabelingAnnotator": {
          "description": "Optional. Whether to run the auto-labeling annotator. If true, the auto-labeling annotator will be run. This is a non-billable operation designed for fixing or backfilling custom labels.",
          "type": "boolean"
        },
        "runInterruptionAnnotator": {
          "type": "boolean",
          "description": "Whether to run the interruption annotator."
        },
        "qaConfig": {
          "description": "Configuration for the QA annotator.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1AnnotatorSelectorQaConfig"
        },
        "issueModels": {
          "type": "array",
          "description": "The issue model to run. If not provided, the most recently deployed topic model will be used. The provided issue model will only be used for inference if the issue model is deployed and if run_issue_model_annotator is set to true. If more than one issue model is provided, only the first provided issue model will be used for inference.",
          "items": {
            "type": "string"
          }
        },
        "runEntityAnnotator": {
          "type": "boolean",
          "description": "Whether to run the entity annotator."
        },
        "runIssueModelAnnotator": {
          "type": "boolean",
          "description": "Whether to run the issue model annotator. A model should have already been deployed for this to take effect."
        },
        "runQaAnnotator": {
          "description": "Whether to run the QA annotator.",
          "type": "boolean"
        },
        "runSummarizationAnnotator": {
          "description": "Whether to run the summarization annotator.",
          "type": "boolean"
        },
        "runSilenceAnnotator": {
          "description": "Whether to run the silence annotator.",
          "type": "boolean"
        },
        "runSentimentAnnotator": {
          "type": "boolean",
          "description": "Whether to run the sentiment annotator."
        },
        "phraseMatchers": {
          "type": "array",
          "description": "The list of phrase matchers to run. If not provided, all active phrase matchers will be used. If inactive phrase matchers are provided, they will not be used. Phrase matchers will be run only if run_phrase_matcher_annotator is set to true. Format: projects/{project}/locations/{location}/phraseMatchers/{phrase_matcher}",
          "items": {
            "type": "string"
          }
        },
        "runIntentAnnotator": {
          "description": "Whether to run the intent annotator.",
          "type": "boolean"
        },
        "summarizationConfig": {
          "description": "Configuration for the summarization annotator.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1AnnotatorSelectorSummarizationConfig"
        },
        "runPhraseMatcherAnnotator": {
          "description": "Whether to run the active phrase matcher annotator(s).",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1AnnotatorSelector"
    },
    "GoogleCloudContactcenterinsightsV1QaQuestionTuningMetadata": {
      "description": "Metadata about the tuning operation for the question. Will only be set if a scorecard containing this question has been tuned.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1QaQuestionTuningMetadata",
      "properties": {
        "totalValidLabelCount": {
          "format": "int64",
          "description": "Total number of valid labels provided for the question at the time of tuining.",
          "type": "string"
        },
        "datasetValidationWarnings": {
          "description": "A list of any applicable data validation warnings about the question's feedback labels.",
          "items": {
            "enumDescriptions": [
              "Unspecified data validation warning.",
              "A non-trivial percentage of the feedback labels are invalid.",
              "The quantity of valid feedback labels provided is less than the recommended minimum.",
              "One or more of the answers have less than the recommended minimum of feedback labels.",
              "All the labels in the dataset come from a single answer choice."
            ],
            "type": "string",
            "enum": [
              "DATASET_VALIDATION_WARNING_UNSPECIFIED",
              "TOO_MANY_INVALID_FEEDBACK_LABELS",
              "INSUFFICIENT_FEEDBACK_LABELS",
              "INSUFFICIENT_FEEDBACK_LABELS_PER_ANSWER",
              "ALL_FEEDBACK_LABELS_HAVE_THE_SAME_ANSWER"
            ]
          },
          "type": "array"
        },
        "tuningError": {
          "type": "string",
          "description": "Error status of the tuning operation for the question. Will only be set if the tuning operation failed."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1SampleConversationsRequest": {
      "description": "The request to sample conversations to a dataset.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1SampleConversationsRequest",
      "properties": {
        "destinationDataset": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1Dataset",
          "description": "The dataset resource to copy the sampled conversations to."
        },
        "parent": {
          "type": "string",
          "description": "Required. The parent resource of the dataset."
        },
        "sampleRule": {
          "description": "Optional. The sample rule used for sampling conversations.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1SampleRule"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1CreateIssueModelMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1CreateIssueModelMetadata",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the operation was created.",
          "type": "string"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1CreateIssueModelRequest",
          "description": "The original request for creation."
        }
      },
      "description": "Metadata for creating an issue model.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1GenerativeInsightsChartConversationMessageSystemMessage": {
      "description": "A message from the system in response to the user. This message can also be a message from the user as historical context for multiturn conversations with the system.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1GenerativeInsightsChartConversationMessageSystemMessage",
      "properties": {
        "textOutput": {
          "description": "A direct natural language response to the user message.",
          "$ref": "GoogleCloudContactcenterinsightsV1GenerativeInsightsChartConversationMessageSystemMessageTextOutput"
        },
        "generatedSqlQuery": {
          "type": "string",
          "description": "Raw SQL from LLM, before templatization"
        },
        "chartSpec": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Chart spec from LLM"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1CreateIssueMetadata": {
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "type": "string"
        },
        "request": {
          "description": "The original request for creation.",
          "$ref": "GoogleCloudContactcenterinsightsV1CreateIssueRequest"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation was created."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1CreateIssueMetadata",
      "type": "object",
      "description": "Metadata for creating an issue."
    },
    "GoogleCloudContactcenterinsightsV1mainPhraseMatchData": {
      "description": "The data for a matched phrase matcher. Represents information identifying a phrase matcher for a given match.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainPhraseMatchData",
      "properties": {
        "phraseMatcher": {
          "description": "The unique identifier (the resource name) of the phrase matcher.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The human-readable name of the phrase matcher."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1CalculateStatsResponseTimeSeries": {
      "type": "object",
      "description": "A time series representing conversations over time.",
      "properties": {
        "points": {
          "type": "array",
          "description": "An ordered list of intervals from earliest to latest, where each interval represents the number of conversations that transpired during the time window.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1CalculateStatsResponseTimeSeriesInterval"
          }
        },
        "intervalDuration": {
          "description": "The duration of each interval.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1CalculateStatsResponseTimeSeries"
    },
    "GoogleCloudContactcenterinsightsV1mainBulkDeleteConversationsMetadata": {
      "description": "The metadata for a bulk delete conversations operation.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainBulkDeleteConversationsMetadata",
      "properties": {
        "endTime": {
          "type": "string",
          "description": "The time the operation finished running.",
          "format": "google-datetime"
        },
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainBulkDeleteConversationsRequest",
          "description": "The original request for bulk delete."
        },
        "createTime": {
          "type": "string",
          "description": "The time the operation was created.",
          "format": "google-datetime"
        },
        "partialErrors": {
          "type": "array",
          "description": "Partial errors during bulk delete conversations operation that might cause the operation output to be incomplete.",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1GenerativeInsightConversationTranscriptMessage": {
      "type": "object",
      "description": "The message in the conversation.",
      "properties": {
        "messageId": {
          "type": "string",
          "description": "The message id of the message."
        },
        "userMessage": {
          "$ref": "GoogleCloudContactcenterinsightsV1GenerativeInsightConversationTranscriptMessageUserMessage",
          "description": "A message from the user that is interacting with the system."
        },
        "systemMessageWrapper": {
          "description": "A wrapper for system messages per turn.",
          "$ref": "GoogleCloudContactcenterinsightsV1GenerativeInsightConversationTranscriptMessageSystemMessages"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. For user messages, this is the time at which the system received the message. For system messages, this is the time at which the system generated the message."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1GenerativeInsightConversationTranscriptMessage"
    },
    "GoogleCloudContactcenterinsightsV1QaQuestionPredefinedQuestionConfig": {
      "id": "GoogleCloudContactcenterinsightsV1QaQuestionPredefinedQuestionConfig",
      "properties": {
        "type": {
          "enumDescriptions": [
            "The type of the predefined question is unspecified.",
            "A prebuilt classifier classfying the outcome of the conversation. For example, if the customer issue mentioned in a conversation has been resolved or not.",
            "A prebuilt classifier classfying the initiator of the conversation escalation. For example, if it was initiated by the customer or the agent."
          ],
          "type": "string",
          "enum": [
            "PREDEFINED_QUESTION_TYPE_UNSPECIFIED",
            "CONVERSATION_OUTCOME",
            "CONVERSATION_OUTCOME_ESCALATION_INITIATOR_ROLE"
          ],
          "description": "The type of the predefined question."
        }
      },
      "description": "Configuration for a predefined question. This field will only be set if the Question Type is predefined.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1IssueModelResult": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1IssueModelResult",
      "properties": {
        "issueModel": {
          "description": "Issue model that generates the result. Format: projects/{project}/locations/{location}/issueModels/{issue_model}",
          "type": "string"
        },
        "issues": {
          "description": "All the matched issues.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1IssueAssignment"
          },
          "type": "array"
        }
      },
      "description": "Issue Modeling result on a conversation.",
      "type": "object"
    },
    "GoogleCloudCesV1mainToolCall": {
      "description": "Request for the client or the agent to execute the specified tool.",
      "type": "object",
      "id": "GoogleCloudCesV1mainToolCall",
      "properties": {
        "id": {
          "type": "string",
          "description": "Optional. The unique identifier of the tool call. If populated, the client should return the execution result with the matching ID in ToolResponse."
        },
        "toolsetTool": {
          "$ref": "GoogleCloudCesV1mainToolsetTool",
          "description": "Optional. The toolset tool to execute."
        },
        "displayName": {
          "type": "string",
          "description": "Output only. Display name of the tool.",
          "readOnly": true
        },
        "args": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. The input parameters and values for the tool in JSON object format."
        },
        "tool": {
          "description": "Optional. The name of the tool to execute. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainBulkAnalyzeConversationsMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1mainBulkAnalyzeConversationsMetadata",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "The time the operation was created.",
          "format": "google-datetime"
        },
        "partialErrors": {
          "description": "Output only. Partial errors during bulk analyze operation that might cause the operation output to be incomplete.",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array",
          "readOnly": true
        },
        "relabel": {
          "type": "boolean",
          "description": "Output only. If true, the labeling rules will be re-evaluated for the conversations.",
          "readOnly": true
        },
        "totalRequestedAnalysesCount": {
          "description": "Total number of analyses requested. Computed by the number of conversations returned by `filter` multiplied by `analysis_percentage` in the request.",
          "type": "integer",
          "format": "int32"
        },
        "completedAnalysesCount": {
          "description": "The number of requested analyses that have completed successfully so far.",
          "type": "integer",
          "format": "int32"
        },
        "failedAnalysesCount": {
          "format": "int32",
          "description": "The number of requested analyses that have failed so far.",
          "type": "integer"
        },
        "endTime": {
          "type": "string",
          "description": "The time the operation finished running.",
          "format": "google-datetime"
        },
        "request": {
          "description": "The original request for bulk analyze.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainBulkAnalyzeConversationsRequest"
        }
      },
      "description": "The metadata for a bulk analyze conversations operation.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1BulkDeleteFeedbackLabelsRequest": {
      "properties": {
        "parent": {
          "description": "Required. The parent resource for new feedback labels.",
          "type": "string"
        },
        "filter": {
          "type": "string",
          "description": "Optional. A filter to reduce results to a specific subset. Supports disjunctions (OR) and conjunctions (AND). Supported fields: * `issue_model_id` * `qa_question_id` * `qa_scorecard_id` * `min_create_time` * `max_create_time` * `min_update_time` * `max_update_time` * `feedback_label_type`: QUALITY_AI, TOPIC_MODELING"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1BulkDeleteFeedbackLabelsRequest",
      "type": "object",
      "description": "Request for the BulkDeleteFeedbackLabels endpoint."
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConstraintEvaluationResultRuleConstraintResult": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConstraintEvaluationResultRuleConstraintResult",
      "properties": {
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "The error status if the constraint expression failed to evaluate."
        },
        "ruleId": {
          "description": "The rule ID.",
          "type": "string"
        },
        "constraintMet": {
          "description": "Whether the constraint expression evaluated to true for (A, B) or (B, A).",
          "type": "boolean"
        }
      },
      "description": "The result of a single constraint rule on the pair of conversations.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1ExportInsightsDataRequestBigQueryDestination": {
      "type": "object",
      "description": "A BigQuery Table Reference.",
      "properties": {
        "dataset": {
          "description": "Required. The name of the BigQuery dataset that the snapshot result should be exported to. If this dataset does not exist, the export call returns an INVALID_ARGUMENT error.",
          "type": "string"
        },
        "table": {
          "type": "string",
          "description": "The BigQuery table name to which the insights data should be written. If this table does not exist, the export call returns an INVALID_ARGUMENT error."
        },
        "projectId": {
          "type": "string",
          "description": "A project ID or number. If specified, then export will attempt to write data to this project instead of the resource project. Otherwise, the resource project will be used."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1ExportInsightsDataRequestBigQueryDestination"
    },
    "GoogleCloudContactcenterinsightsV1mainIssueMatchData": {
      "description": "The data for an issue match annotation.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainIssueMatchData",
      "properties": {
        "issueAssignment": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainIssueAssignment",
          "description": "Information about the issue's assignment."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1IntentMatchData": {
      "id": "GoogleCloudContactcenterinsightsV1IntentMatchData",
      "properties": {
        "intentUniqueId": {
          "description": "The id of the matched intent. Can be used to retrieve the corresponding intent information.",
          "type": "string"
        }
      },
      "description": "The data for an intent match. Represents an intent match for a text segment in the conversation. A text segment can be part of a sentence, a complete sentence, or an utterance with multiple sentences.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1CorrelationRule": {
      "type": "object",
      "description": "A correlation rule that defines how to join conversations for a given correlation type.",
      "properties": {
        "joinKeyExpression": {
          "type": "string",
          "description": "Optional. A cel expression (go/cel) to be evaluated as a string value. This string value will be used as the join key for the correlation."
        },
        "active": {
          "type": "boolean",
          "description": "Optional. Whether the config is active to be evaluated."
        },
        "ruleId": {
          "type": "string",
          "description": "Required. The unique identifier of the rule."
        },
        "constraintExpression": {
          "description": "Optional. A cel expression (go/cel) to be evaluated as a boolean value. Two variables conversation_a and conversation_b will be available for evaluation. This expression should evaluate to true if conversation_a and conversation_b should be joined. This is used as an extra constraint on top of the join_key_expression to further refine the group of conversations that are joined together and will be evaluated in both directions. for two conversations c1 and c2 and the result will be OR'd. We will evaluate: f(c1, c2) OR f(c2, c1)",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1CorrelationRule"
    },
    "GoogleCloudContactcenterinsightsV1mainIssueModelLabelStatsIssueStats": {
      "description": "Aggregated statistics about an issue.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainIssueModelLabelStatsIssueStats",
      "properties": {
        "issue": {
          "description": "Issue resource. Format: projects/{project}/locations/{location}/issueModels/{issue_model}/issues/{issue}",
          "type": "string"
        },
        "labeledConversationsCount": {
          "type": "string",
          "description": "Number of conversations attached to the issue at this point in time.",
          "format": "int64"
        },
        "displayName": {
          "type": "string",
          "description": "Display name of the issue."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainExportIssueModelResponse": {
      "id": "GoogleCloudContactcenterinsightsV1mainExportIssueModelResponse",
      "properties": {},
      "description": "Response from export issue model",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1Intent": {
      "type": "object",
      "description": "The data for an intent. Represents a detected intent in the conversation, for example MAKES_PROMISE.",
      "properties": {
        "id": {
          "description": "The unique identifier of the intent.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The human-readable name of the intent."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1Intent"
    },
    "GoogleCloudContactcenterinsightsV1mainDeleteIssueModelMetadata": {
      "description": "Metadata for deleting an issue model.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainDeleteIssueModelMetadata",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "type": "string"
        },
        "request": {
          "description": "The original request for deletion.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainDeleteIssueModelRequest"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationQualityMetadataAgentInfo": {
      "properties": {
        "dispositionCode": {
          "description": "A user-provided string indicating the outcome of the agent's segment of the call.",
          "type": "string"
        },
        "agentType": {
          "enumDescriptions": [
            "Participant's role is not set.",
            "Participant is a human agent.",
            "Participant is an automated agent.",
            "Participant is an end user who conversed with the contact center.",
            "Participant is either a human or automated agent."
          ],
          "description": "The agent type, e.g. HUMAN_AGENT.",
          "type": "string",
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER",
            "ANY_AGENT"
          ]
        },
        "versionDisplayName": {
          "type": "string",
          "description": "The agent's version display name. Only applicable to automated agents."
        },
        "entrySubagentDisplayName": {
          "type": "string",
          "description": "The entry subagent's display name."
        },
        "deploymentId": {
          "description": "The agent's deployment ID. Only applicable to automated agents.",
          "type": "string"
        },
        "team": {
          "description": "A user-specified string representing the agent's team. Deprecated in favor of the `teams` field.",
          "deprecated": true,
          "type": "string"
        },
        "deploymentDisplayName": {
          "type": "string",
          "description": "The agent's deployment display name. Only applicable to automated agents."
        },
        "displayName": {
          "type": "string",
          "description": "The agent's name."
        },
        "location": {
          "type": "string",
          "description": "The agent's location."
        },
        "versionId": {
          "description": "The agent's version ID. Only applicable to automated agents.",
          "type": "string"
        },
        "agentId": {
          "type": "string",
          "description": "A user-specified string representing the agent."
        },
        "entrySubagentId": {
          "type": "string",
          "description": "The entry subagent's ID."
        },
        "teams": {
          "description": "User-specified strings representing the agent's teams.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationQualityMetadataAgentInfo",
      "type": "object",
      "description": "Information about an agent involved in the conversation."
    },
    "GoogleCloudContactcenterinsightsV1mainTestCorrelationConfigMetadata": {
      "type": "object",
      "description": "Metadata for testing correlation config.",
      "properties": {
        "stats": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainTestCorrelationConfigMetadataFullConversationCorrelationStats",
          "description": "The statistics for the operation."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation was created."
        },
        "dataset": {
          "type": "string",
          "description": "The dataset used for sampling conversations."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainTestCorrelationConfigMetadata"
    },
    "GoogleCloudContactcenterinsightsV1IssueModelLabelStatsIssueStats": {
      "id": "GoogleCloudContactcenterinsightsV1IssueModelLabelStatsIssueStats",
      "properties": {
        "issue": {
          "type": "string",
          "description": "Issue resource. Format: projects/{project}/locations/{location}/issueModels/{issue_model}/issues/{issue}"
        },
        "labeledConversationsCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of conversations attached to the issue at this point in time."
        },
        "displayName": {
          "description": "Display name of the issue.",
          "type": "string"
        }
      },
      "description": "Aggregated statistics about an issue.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1GenerativeInsightConversationTranscriptMessageSystemMessage": {
      "description": "A message from the system in response to the user. This message can also be a message from the user as historical context for multiturn conversations with the system.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1GenerativeInsightConversationTranscriptMessageSystemMessage",
      "properties": {
        "textMessage": {
          "description": "A direct natural language response to the user message.",
          "$ref": "GoogleCloudContactcenterinsightsV1GenerativeInsightConversationTranscriptMessageSystemMessageTextOutput"
        },
        "chartSpec": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Chart spec from LLM"
        },
        "userProvidedSqlQuery": {
          "type": "string",
          "description": "Optional. User provided SQL query"
        },
        "generatedSqlQuery": {
          "description": "Raw SQL from LLM, before templatization",
          "type": "string"
        },
        "userProvidedChartSpec": {
          "description": "Optional. User provided chart spec",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainIngestConversationsRequestGcsSource": {
      "properties": {
        "customMetadataKeys": {
          "description": "Optional. Custom keys to extract as conversation labels from metadata files in `metadata_bucket_uri`. Keys not included in this field will be ignored. Note that there is a limit of 100 labels per conversation.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "transcriptBucketUri": {
          "type": "string",
[...]
