{
  "ownerName": "Google",
  "basePath": "",
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "name": "containeranalysis",
  "documentationLink": "https://cloud.google.com/container-analysis/api/reference/rest/",
  "parameters": {
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    }
  },
  "description": "This API is a prerequisite for leveraging Artifact Analysis scanning capabilities in Artifact Registry. In addition, the Container Analysis API is an implementation of the Grafeas API, which enables storing, querying, and retrieval of critical metadata about all of your software artifacts.",
  "discoveryVersion": "v1",
  "baseUrl": "https://containeranalysis.googleapis.com/",
  "mtlsRootUrl": "https://containeranalysis.mtls.googleapis.com/",
  "version_module": true,
  "kind": "discovery#restDescription",
  "canonicalName": "Container Analysis",
  "version": "v1alpha1",
  "schemas": {
    "InTotoSlsaProvenanceV1": {
      "id": "InTotoSlsaProvenanceV1",
      "type": "object",
      "properties": {
        "predicateType": {
          "type": "string"
        },
        "subject": {
          "type": "array",
          "items": {
            "$ref": "Subject"
          }
        },
        "predicate": {
          "$ref": "SlsaProvenanceV1"
        },
        "_type": {
          "type": "string",
          "description": "InToto spec defined at https://github.com/in-toto/attestation/tree/main/spec#statement"
        }
      }
    },
    "PackageInfoNote": {
      "properties": {
        "attribution": {
          "description": "A place for the SPDX data creator to record, at the package level, acknowledgements that may be needed to be communicated in some contexts",
          "type": "string"
        },
        "title": {
          "description": "Identify the full name of the package as given by the Package Originator",
          "type": "string"
        },
        "analyzed": {
          "description": "Indicates whether the file content of this package has been available for or subjected to analysis when creating the SPDX document",
          "type": "boolean"
        },
        "packageType": {
          "description": "The type of package: OS, MAVEN, GO, GO_STDLIB, etc.",
          "type": "string"
        },
        "supplier": {
          "description": "Identify the actual distribution source for the package/directory identified in the SPDX file",
          "type": "string"
        },
        "licenseDeclared": {
          "$ref": "License",
          "description": "List the licenses that have been declared by the authors of the package"
        },
        "detailedDescription": {
          "description": "A more detailed description of the package",
          "type": "string"
        },
        "copyright": {
          "type": "string",
          "description": "Identify the copyright holders of the package, as well as any dates present"
        },
        "summaryDescription": {
          "description": "A short description of the package",
          "type": "string"
        },
        "homePage": {
          "description": "Provide a place for the SPDX file creator to record a web site that serves as the package's home page",
          "type": "string"
        },
        "verificationCode": {
          "description": "This field provides an independently reproducible mechanism identifying specific contents of a package based on the actual files (except the SPDX file itself, if it is included in the package) that make up each package and that correlates to the data in this SPDX file",
          "type": "string"
        },
        "checksum": {
          "description": "Provide an independently reproducible mechanism that permits unique identification of a specific package that correlates to the data in this SPDX file",
          "type": "string"
        },
        "externalRefs": {
          "type": "array",
          "items": {
            "$ref": "ExternalRef"
          },
          "description": "ExternalRef"
        },
        "originator": {
          "description": "If the package identified in the SPDX file originated from a different person or organization than identified as Package Supplier, this field identifies from where or whom the package originally came",
          "type": "string"
        },
        "filesLicenseInfo": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Contain the license the SPDX file creator has concluded as governing the This field is to contain a list of all licenses found in the package. The relationship between licenses (i.e., conjunctive, disjunctive) is not specified in this field – it is simply a listing of all licenses found"
        },
        "version": {
          "description": "Identify the version of the package",
          "type": "string"
        },
        "downloadLocation": {
          "description": "This section identifies the download Universal Resource Locator (URL), or a specific location within a version control system (VCS) for the package at the time that the SPDX file was created",
          "type": "string"
        }
      },
      "type": "object",
      "id": "PackageInfoNote",
      "description": "PackageInfoNote represents an SPDX Package Information section: https://spdx.github.io/spdx-spec/3-package-information/"
    },
    "GoogleDevtoolsContaineranalysisV1alpha1SlsaProvenanceZeroTwoSlsaInvocation": {
      "type": "object",
      "properties": {
        "parameters": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "Collection of all external inputs that influenced the build on top of invocation.configSource."
        },
        "configSource": {
          "$ref": "GoogleDevtoolsContaineranalysisV1alpha1SlsaProvenanceZeroTwoSlsaConfigSource",
          "description": "Describes where the config file that kicked off the build came from."
        },
        "environment": {
          "description": "Any other builder-controlled inputs necessary for correctly evaluating the build.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      },
      "description": "Identifies the event that kicked off the build.",
      "id": "GoogleDevtoolsContaineranalysisV1alpha1SlsaProvenanceZeroTwoSlsaInvocation"
    },
    "SlsaCompleteness": {
      "description": "Indicates that the builder claims certain fields in this message to be complete.",
      "type": "object",
      "id": "SlsaCompleteness",
      "properties": {
        "arguments": {
          "type": "boolean",
          "description": "If true, the builder claims that recipe.arguments is complete, meaning that all external inputs are properly captured in the recipe."
        },
        "materials": {
          "type": "boolean",
          "description": "If true, the builder claims that materials are complete, usually through some controls to prevent network access. Sometimes called \"hermetic\"."
        },
        "environment": {
          "description": "If true, the builder claims that recipe.environment is claimed to be complete.",
          "type": "boolean"
        }
      }
    },
    "DocumentOccurrence": {
      "type": "object",
      "properties": {
        "externalDocumentRefs": {
          "type": "array",
          "description": "Identify any external SPDX documents referenced within this SPDX document",
          "items": {
            "type": "string"
          }
        },
        "creatorComment": {
          "description": "A field for creators of the SPDX file to provide general comments about the creation of the SPDX file or any other relevant comment not included in the other fields",
          "type": "string"
        },
        "title": {
          "description": "Identify name of this document as designated by creator",
          "type": "string"
        },
        "documentComment": {
          "description": "A field for creators of the SPDX file content to provide comments to the consumers of the SPDX document",
          "type": "string"
        },
        "namespace": {
          "description": "Provide an SPDX document specific namespace as a unique absolute Uniform Resource Identifier (URI) as specified in RFC-3986, with the exception of the ‘#’ delimiter",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Identify the current SPDX document which may be referenced in relationships by other files, packages internally and documents externally"
        },
        "creators": {
          "type": "array",
          "description": "Identify who (or what, in the case of a tool) created the SPDX file. If the SPDX file was created by an individual, indicate the person's name",
          "items": {
            "type": "string"
          }
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Identify when the SPDX file was originally created. The date is to be specified according to combined date and time in UTC format as specified in ISO 8601 standard"
        },
        "licenseListVersion": {
          "description": "A field for creators of the SPDX file to provide the version of the SPDX License List used when the SPDX file was created",
          "type": "string"
        }
      },
      "description": "DocumentOccurrence represents an SPDX Document Creation Information section: https://spdx.github.io/spdx-spec/2-document-creation-information/",
      "id": "DocumentOccurrence"
    },
    "PgpSignedAttestation": {
      "type": "object",
      "id": "PgpSignedAttestation",
      "properties": {
        "pgpKeyId": {
          "description": "The cryptographic fingerprint of the key used to generate the signature, as output by, e.g. `gpg --list-keys`. This should be the version 4, full 160-bit fingerprint, expressed as a 40 character hexadecimal string. See https://tools.ietf.org/html/rfc4880#section-12.2 for details. Implementations may choose to acknowledge \"LONG\", \"SHORT\", or other abbreviated key IDs, but only the full fingerprint is guaranteed to work. In gpg, the full fingerprint can be retrieved from the `fpr` field returned when calling --list-keys with --with-colons. For example: ``` gpg --with-colons --with-fingerprint --force-v4-certs \\ --list-keys attester@example.com tru::1:1513631572:0:3:1:5 pub:...... fpr:::::::::24FF6481B76AC91E66A00AC657A93A81EF3AE6FB: ``` Above, the fingerprint is `24FF6481B76AC91E66A00AC657A93A81EF3AE6FB`.",
          "type": "string"
        },
        "contentType": {
          "enumDescriptions": [
            "`ContentType` is not set.",
            "Atomic format attestation signature. See https://github.com/containers/image/blob/8a5d2f82a6e3263290c8e0276c3e0f64e77723e7/docs/atomic-signature.md The payload extracted from `signature` is a JSON blob conforming to the linked schema."
          ],
          "enum": [
            "CONTENT_TYPE_UNSPECIFIED",
            "SIMPLE_SIGNING_JSON"
          ],
          "description": "Type (for example schema) of the attestation payload that was signed. The verifier must ensure that the provided type is one that the verifier supports, and that the attestation payload is a valid instantiation of that type (for example by validating a JSON schema).",
          "type": "string"
        },
        "signature": {
          "description": "The raw content of the signature, as output by GNU Privacy Guard (GPG) or equivalent. Since this message only supports attached signatures, the payload that was signed must be attached. While the signature format supported is dependent on the verification implementation, currently only ASCII-armored (`--armor` to gpg), non-clearsigned (`--sign` rather than `--clearsign` to gpg) are supported. Concretely, `gpg --sign --armor --output=signature.gpg payload.json` will create the signature content expected in this field in `signature.gpg` for the `payload.json` attestation payload.",
          "type": "string"
        }
      },
      "description": "An attestation wrapper with a PGP-compatible signature. This message only supports `ATTACHED` signatures, where the payload that is signed is included alongside the signature itself in the same file."
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1BuildOptions": {
      "type": "object",
      "description": "Optional arguments to enable specific features of builds.",
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1BuildOptions",
      "properties": {
        "enableStructuredLogging": {
          "description": "Optional. Option to specify whether structured logging is enabled. If true, JSON-formatted logs are parsed as structured logs.",
          "type": "boolean"
        },
        "logging": {
          "type": "string",
          "enumDescriptions": [
            "The service determines the logging mode. The default is `LEGACY`. Do not rely on the default logging behavior as it may change in the future.",
            "Build logs are stored in Cloud Logging and Cloud Storage.",
            "Build logs are stored in Cloud Storage.",
            "This option is the same as CLOUD_LOGGING_ONLY.",
            "Build logs are stored in Cloud Logging. Selecting this option will not allow [logs streaming](https://cloud.google.com/sdk/gcloud/reference/builds/log).",
            "Turn off all logging. No build logs will be captured."
          ],
          "enum": [
            "LOGGING_UNSPECIFIED",
            "LEGACY",
            "GCS_ONLY",
            "STACKDRIVER_ONLY",
            "CLOUD_LOGGING_ONLY",
            "NONE"
          ],
          "description": "Option to specify the logging mode, which determines if and where build logs are stored.",
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false
          ]
        },
        "env": {
          "description": "A list of global environment variable definitions that will exist for all build steps in this build. If a variable is defined in both globally and in a build step, the variable will use the build step value. The elements are of the form \"KEY=VALUE\" for the environment variable \"KEY\" being given the value \"VALUE\".",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "diskSizeGb": {
          "type": "string",
          "format": "int64",
          "description": "Requested disk size for the VM that runs the build. Note that this is *NOT* \"disk free\"; some of the space will be used by the operating system and build utilities. Also note that this is the minimum disk size that will be allocated for the build -- the build may run with a larger disk than requested. At present, the maximum disk size is 4000GB; builds that request more than the maximum are rejected with an error."
        },
        "sourceProvenanceHash": {
          "items": {
            "type": "string",
            "enum": [
              "NONE",
              "SHA256",
              "MD5",
              "GO_MODULE_H1",
              "SHA512",
              "DIRSUM_SHA256"
            ],
            "enumDescriptions": [
              "No hash requested.",
              "Use a sha256 hash.",
              "Use a md5 hash.",
              "Dirhash of a Go module's source code which is then hex-encoded.",
              "Use a sha512 hash.",
              "Use a dirsum_sha256 hash."
            ]
          },
          "type": "array",
          "description": "Requested hash for SourceProvenance."
        },
        "pubsubTopic": {
          "description": "Optional. Option to specify the Pub/Sub topic to receive build status updates.",
          "type": "string"
        },
        "defaultLogsBucketBehavior": {
          "enumDescriptions": [
            "Unspecified.",
            "Bucket is located in user-owned project in the same region as the build. The builder service account must have access to create and write to Cloud Storage buckets in the build project.",
            "Bucket is located in a Google-owned project and is not regionalized."
          ],
          "description": "Optional. Option to specify how default logs buckets are setup.",
          "type": "string",
          "enum": [
            "DEFAULT_LOGS_BUCKET_BEHAVIOR_UNSPECIFIED",
            "REGIONAL_USER_OWNED_BUCKET",
            "LEGACY_BUCKET"
          ]
        },
        "automapSubstitutions": {
          "type": "boolean",
          "description": "Option to include built-in and custom substitutions as env variables for all build steps."
        },
        "requestedVerifyOption": {
          "enum": [
            "NOT_VERIFIED",
            "VERIFIED"
          ],
          "type": "string",
          "description": "Requested verifiability options.",
          "enumDescriptions": [
            "Not a verifiable build (the default).",
            "Build must be verified."
          ]
        },
        "pool": {
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1BuildOptionsPoolOption",
          "description": "Optional. Specification for execution on a `WorkerPool`. See [running builds in a private pool](https://cloud.google.com/build/docs/private-pools/run-builds-in-private-pool) for more information."
        },
        "workerPool": {
          "deprecated": true,
          "type": "string",
          "description": "This field deprecated; please use `pool.name` instead."
        },
        "dynamicSubstitutions": {
          "description": "Option to specify whether or not to apply bash style string operations to the substitutions. NOTE: this is always enabled for triggered builds and cannot be overridden in the build configuration file.",
          "type": "boolean"
        },
        "logStreamingOption": {
          "enumDescriptions": [
            "Service may automatically determine build log streaming behavior.",
            "Build logs should be streamed to Cloud Storage.",
            "Build logs should not be streamed to Cloud Storage; they will be written when the build is completed."
          ],
          "description": "Option to define build log streaming behavior to Cloud Storage.",
          "type": "string",
          "enum": [
            "STREAM_DEFAULT",
            "STREAM_ON",
            "STREAM_OFF"
          ]
        },
        "machineType": {
          "enumDeprecated": [
            false,
            true,
            true,
            false,
            false,
            false,
            false
          ],
          "type": "string",
          "enumDescriptions": [
            "Standard machine type.",
            "Highcpu machine with 8 CPUs.",
            "Highcpu machine with 32 CPUs.",
            "Highcpu e2 machine with 8 CPUs.",
            "Highcpu e2 machine with 32 CPUs.",
            "E2 machine with 1 CPU.",
            "E2 machine with 2 CPUs."
          ],
          "enum": [
            "UNSPECIFIED",
            "N1_HIGHCPU_8",
            "N1_HIGHCPU_32",
            "E2_HIGHCPU_8",
            "E2_HIGHCPU_32",
            "E2_MEDIUM",
            "E2_STANDARD_2"
          ],
          "description": "Compute Engine machine type on which to run the build."
        },
        "volumes": {
          "items": {
            "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1Volume"
          },
          "description": "Global list of volumes to mount for ALL build steps Each volume is created as an empty volume prior to starting the build process. Upon completion of the build, volumes and their contents are discarded. Global volume names and paths cannot conflict with the volumes defined a build step. Using a global volume in a build with only one step is not valid as it is indicative of a build request with an incorrect configuration.",
          "type": "array"
        },
        "substitutionOption": {
          "enum": [
            "MUST_MATCH",
            "ALLOW_LOOSE"
          ],
          "description": "Option to specify behavior when there is an error in the substitution checks. NOTE: this is always set to ALLOW_LOOSE for triggered builds and cannot be overridden in the build configuration file.",
          "type": "string",
          "enumDescriptions": [
            "Fails the build if error in substitutions checks, like missing a substitution in the template or in the map.",
            "Do not fail the build if error in substitutions checks."
          ]
        },
        "secretEnv": {
          "items": {
            "type": "string"
          },
          "description": "A list of global environment variables, which are encrypted using a Cloud Key Management Service crypto key. These values must be specified in the build's `Secret`. These variables will be available to all build steps in this build.",
          "type": "array"
        }
      }
    },
    "BuildMetadata": {
      "properties": {
        "invocationId": {
          "type": "string"
        },
        "startedOn": {
          "type": "string",
          "format": "google-datetime"
        },
        "finishedOn": {
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "BuildMetadata",
      "type": "object"
    },
    "BaseImage": {
      "properties": {
        "registry": {
          "description": "The registry of the base image.",
          "type": "string"
        },
        "name": {
          "description": "The name of the base image.",
          "type": "string"
        },
        "repository": {
          "description": "The repository name in which the base image is from.",
          "type": "string"
        },
        "layerCount": {
          "description": "The number of layers that the base image is composed of.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "BaseImage describes a base image of a container image.",
      "id": "BaseImage",
      "type": "object"
    },
    "Expr": {
      "id": "Expr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object",
      "properties": {
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        }
      }
    },
    "GoogleDevtoolsContaineranalysisV1alpha1CloudRepoSourceContext": {
      "id": "GoogleDevtoolsContaineranalysisV1alpha1CloudRepoSourceContext",
      "description": "A CloudRepoSourceContext denotes a particular revision in a Google Cloud Source Repo.",
      "properties": {
        "aliasContext": {
          "description": "An alias, which may be a branch or tag.",
          "$ref": "GoogleDevtoolsContaineranalysisV1alpha1AliasContext"
        },
        "revisionId": {
          "description": "A revision ID.",
          "type": "string"
        },
        "repoId": {
          "description": "The ID of the repo.",
          "$ref": "GoogleDevtoolsContaineranalysisV1alpha1RepoId"
        }
      },
      "type": "object"
    },
    "Package": {
      "description": "This represents a particular package that is distributed over various channels. e.g. glibc (aka libc6) is distributed by many, at various versions.",
      "type": "object",
      "properties": {
        "packageType": {
          "description": "The type of package; whether native or non native (e.g., ruby gems, node.js packages, etc.).",
          "type": "string"
        },
        "digest": {
          "type": "array",
          "description": "Hash value, typically a file digest, that allows unique identification a specific package.",
          "items": {
            "$ref": "Digest"
          }
        },
        "url": {
          "description": "The homepage for this package.",
          "type": "string"
        },
        "license": {
          "$ref": "License",
          "description": "Licenses that have been declared by the authors of the package."
        },
        "distribution": {
          "items": {
            "$ref": "Distribution"
          },
          "type": "array",
          "description": "The various channels by which a package is distributed."
        },
        "architecture": {
          "enum": [
            "ARCHITECTURE_UNSPECIFIED",
            "X86",
            "X64"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown architecture",
            "X86 architecture",
            "X64 architecture"
          ],
          "description": "The CPU architecture for which packages in this distribution channel were built. Architecture will be blank for language packages."
        },
        "name": {
          "type": "string",
          "description": "The name of the package."
        },
        "maintainer": {
          "description": "A freeform text denoting the maintainer of this package.",
          "type": "string"
        },
        "version": {
          "description": "The version of the package.",
          "$ref": "Version"
        },
        "cpeUri": {
          "description": "The cpe_uri in [CPE format](https://cpe.mitre.org/specification/) denoting the package manager version distributing a package. The cpe_uri will be blank for language packages.",
          "type": "string"
        },
        "description": {
          "description": "The description of this package.",
          "type": "string"
        }
      },
      "id": "Package"
    },
    "SbomReferenceIntotoPredicate": {
      "id": "SbomReferenceIntotoPredicate",
      "type": "object",
      "properties": {
        "location": {
          "description": "The location of the SBOM.",
          "type": "string"
        },
        "digest": {
          "description": "A map of algorithm to digest of the contents of the SBOM.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "referrerId": {
          "description": "The person or system referring this predicate to the consumer.",
          "type": "string"
        },
        "mimeType": {
          "type": "string",
          "description": "The mime type of the SBOM."
        }
      },
      "description": "A predicate which describes the SBOM being referenced."
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1UploadedMavenArtifact": {
      "type": "object",
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1UploadedMavenArtifact",
      "description": "A Maven artifact uploaded using the MavenArtifact directive.",
      "properties": {
        "artifactRegistryPackage": {
          "description": "Output only. Path to the artifact in Artifact Registry.",
          "readOnly": true,
          "type": "string"
        },
        "pushTiming": {
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1TimeSpan",
          "readOnly": true,
          "description": "Output only. Stores timing information for pushing the specified artifact."
        },
        "fileHashes": {
          "description": "Hash types and values of the Maven Artifact.",
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1FileHashes"
        },
        "uri": {
          "description": "URI of the uploaded artifact.",
          "type": "string"
        }
      }
    },
    "SetIamPolicyRequest": {
      "properties": {
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        }
      },
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object",
      "id": "SetIamPolicyRequest"
    },
    "Basis": {
      "properties": {
        "resourceUrl": {
          "type": "string",
          "description": "The resource_url for the resource representing the basis of associated occurrence images."
        },
        "fingerprint": {
          "description": "The fingerprint of the base image.",
          "$ref": "Fingerprint"
        }
      },
      "description": "Basis describes the base image portion (Note) of the DockerImage relationship. Linked occurrences are derived from this or an equivalent image via: FROM Or an equivalent reference, e.g. a tag of the resource_url.",
      "type": "object",
      "id": "Basis"
    },
    "FileHashes": {
      "id": "FileHashes",
      "type": "object",
      "properties": {
        "fileHash": {
          "items": {
            "$ref": "Hash"
          },
          "type": "array",
          "description": "Collection of file hashes."
        }
      },
      "description": "Container message for hashes of byte content of files, used in Source messages to verify integrity of source input to the build."
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsGenericArtifact": {
      "type": "object",
      "properties": {
        "folder": {
          "description": "Required. Path to the generic artifact in the build's workspace to be uploaded to Artifact Registry.",
          "type": "string"
        },
        "registryPath": {
          "type": "string",
          "description": "Required. Registry path to upload the generic artifact to, in the form projects/$PROJECT/locations/$LOCATION/repositories/$REPO/packages/$PACKAGE/versions/$VERSION"
        }
      },
      "description": "Generic artifact to upload to Artifact Registry upon successful completion of all build steps.",
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsGenericArtifact"
    },
    "BuildDetails": {
      "description": "Message encapsulating build provenance details.",
      "properties": {
        "provenance": {
          "description": "The actual provenance",
          "$ref": "BuildProvenance"
        },
        "provenanceBytes": {
          "description": "Serialized JSON representation of the provenance, used in generating the `BuildSignature` in the corresponding Result. After verifying the signature, `provenance_bytes` can be unmarshalled and compared to the provenance to confirm that it is unchanged. A base64-encoded string representation of the provenance bytes is used for the signature in order to interoperate with openssl which expects this format for signature verification. The serialized form is captured both to avoid ambiguity in how the provenance is marshalled to json as well to prevent incompatibilities with future changes.",
          "type": "string"
        },
        "intotoStatement": {
          "$ref": "InTotoStatement",
          "description": "In-toto Statement representation as defined in spec. The intoto_statement can contain any type of provenance. The serialized payload of the statement can be stored and signed in the Occurrence's envelope."
        },
        "inTotoSlsaProvenanceV1": {
          "$ref": "InTotoSlsaProvenanceV1",
          "description": "In-Toto Slsa Provenance V1 represents a slsa provenance meeting the slsa spec, wrapped in an in-toto statement. This allows for direct jsonification of a to-spec in-toto slsa statement with a to-spec slsa provenance."
        },
        "intotoProvenance": {
          "$ref": "InTotoProvenance",
          "description": "Deprecated. See InTotoStatement for the replacement. In-toto Provenance representation as defined in spec."
        }
      },
      "id": "BuildDetails",
      "type": "object"
    },
    "GoogleDevtoolsContaineranalysisV1alpha1SlsaProvenanceZeroTwoSlsaConfigSource": {
      "description": "Describes where the config file that kicked off the build came from. This is effectively a pointer to the source where buildConfig came from.",
      "type": "object",
      "properties": {
        "digest": {
          "type": "object",
          "description": "Collection of cryptographic digests for the contents of the artifact specified by invocation.configSource.uri.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "entryPoint": {
          "type": "string",
          "description": "String identifying the entry point into the build."
        },
        "uri": {
          "description": "URI indicating the identity of the source of the config.",
          "type": "string"
        }
      },
      "id": "GoogleDevtoolsContaineranalysisV1alpha1SlsaProvenanceZeroTwoSlsaConfigSource"
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1BuiltImage": {
      "properties": {
        "ociMediaType": {
          "type": "string",
          "description": "Output only. The OCI media type of the artifact. Non-OCI images, such as Docker images, will have an unspecified value.",
          "readOnly": true,
          "enum": [
            "OCI_MEDIA_TYPE_UNSPECIFIED",
            "IMAGE_MANIFEST",
            "IMAGE_INDEX"
          ],
          "enumDescriptions": [
            "Default value.",
            "The artifact is an image manifest, which represents a single image with all its layers.",
            "The artifact is an image index, which can contain a list of image manifests."
          ]
        },
        "artifactRegistryPackage": {
          "type": "string",
          "description": "Output only. Path to the artifact in Artifact Registry.",
          "readOnly": true
        },
        "pushTiming": {
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1TimeSpan",
          "readOnly": true,
          "description": "Output only. Stores timing information for pushing the specified image."
        },
        "name": {
          "description": "Name used to push the container image to Google Container Registry, as presented to `docker push`.",
          "type": "string"
        },
        "digest": {
          "type": "string",
          "description": "Docker Registry 2.0 digest."
        }
      },
      "type": "object",
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1BuiltImage",
      "description": "An image built by the pipeline."
    },
    "TimeSpan": {
      "properties": {
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "End of time span."
        },
        "startTime": {
          "description": "Start of time span.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "id": "TimeSpan",
      "description": "Start and end times for a build execution phase. Next ID: 3"
    },
    "SlsaRecipe": {
      "description": "Steps taken to build the artifact. For a TaskRun, typically each container corresponds to one step in the recipe.",
      "type": "object",
      "properties": {
        "environment": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Any other builder-controlled inputs necessary for correctly evaluating the recipe. Usually only needed for reproducing the build but not evaluated as part of policy. Depending on the recipe Type, the structure may be different."
        },
        "entryPoint": {
          "description": "String identifying the entry point into the build. This is often a path to a configuration file and/or a target label within that file. The syntax and meaning are defined by recipe.type. For example, if the recipe type were \"make\", then this would reference the directory in which to run make as well as which target to use.",
          "type": "string"
        },
        "arguments": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Collection of all external inputs that influenced the build on top of recipe.definedInMaterial and recipe.entryPoint. For example, if the recipe type were \"make\", then this might be the flags passed to make aside from the target, which is captured in recipe.entryPoint. Depending on the recipe Type, the structure may be different."
        },
        "type": {
          "description": "URI indicating what type of recipe was performed. It determines the meaning of recipe.entryPoint, recipe.arguments, recipe.environment, and materials.",
          "type": "string"
        },
        "definedInMaterial": {
          "type": "string",
          "format": "int64",
          "description": "Index in materials containing the recipe steps that are not implied by recipe.type. For example, if the recipe type were \"make\", then this would point to the source containing the Makefile, not the make program itself. Set to -1 if the recipe doesn't come from a material, as zero is default unset value for int64."
        }
      },
      "id": "SlsaRecipe"
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1ApprovalConfig": {
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1ApprovalConfig",
      "properties": {
        "approvalRequired": {
          "type": "boolean",
          "description": "Whether or not approval is needed. If this is set on a build, it will become pending when created, and will need to be explicitly approved to start."
        }
      },
      "type": "object",
      "description": "ApprovalConfig describes configuration for manual approval of a build."
    },
    "ComplianceOccurrence": {
      "id": "ComplianceOccurrence",
      "type": "object",
      "properties": {
        "version": {
          "description": "The OS and config version the benchmark was run on.",
          "$ref": "ComplianceVersion"
        },
        "nonCompliantFiles": {
          "type": "array",
          "description": "A list of files which are violating compliance checks.",
          "items": {
            "$ref": "NonCompliantFile"
          }
        },
        "nonComplianceReason": {
          "type": "string",
          "description": "The reason for non compliance of these files."
        }
      },
      "description": "An indication that the compliance checks in the associated ComplianceNote were not satisfied for particular resources or a specified reason."
    },
    "Resource": {
      "properties": {
        "contentHash": {
          "$ref": "Hash",
          "description": "The hash of the resource content. E.g., the Docker digest."
        },
        "uri": {
          "description": "The unique URI of the resource. E.g., \"https://gcr.io/project/image@sha256:foo\" for a Docker image.",
          "type": "string"
        },
        "name": {
          "description": "The name of the resource. E.g., the name of a Docker image - \"Debian\".",
          "type": "string"
        }
      },
      "type": "object",
      "description": " Resource is an entity that can have metadata. E.g., a Docker image.",
      "id": "Resource"
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsOci": {
      "description": "OCI image to upload to Artifact Registry upon successful completion of all build steps.",
      "type": "object",
      "properties": {
        "registryPath": {
          "type": "string",
          "description": "Required. Registry path to upload the container to. e.g. us-east1-docker.pkg.dev/my-project/my-repo/my-image"
        },
        "file": {
          "description": "Required. Path on the local file system where to find the container to upload. e.g. /workspace/my-image.tar",
          "type": "string"
        },
        "tags": {
          "description": "Optional. Tags to apply to the uploaded image. e.g. latest, 1.0.0",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsOci"
    },
    "GetIamPolicyRequest": {
      "description": "Request message for `GetIamPolicy` method.",
      "type": "object",
      "properties": {
        "options": {
          "$ref": "GetPolicyOptions",
          "description": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`."
        }
      },
      "id": "GetIamPolicyRequest"
    },
    "Metadata": {
      "type": "object",
      "properties": {
        "completeness": {
          "description": "Indicates that the builder claims certain fields in this message to be complete.",
          "$ref": "Completeness"
        },
        "buildStartedOn": {
          "description": "The timestamp of when the build started.",
          "type": "string",
          "format": "google-datetime"
        },
        "reproducible": {
          "type": "boolean",
          "description": "If true, the builder claims that running the recipe on materials will produce bit-for-bit identical output."
        },
        "buildInvocationId": {
          "type": "string",
          "description": "Identifies the particular build invocation, which can be useful for finding associated logs or other ad-hoc analysis. The value SHOULD be globally unique, per in-toto Provenance spec."
        },
        "buildFinishedOn": {
          "type": "string",
          "format": "google-datetime",
          "description": "The timestamp of when the build completed."
        }
      },
      "id": "Metadata",
      "description": "Other properties of the build."
    },
    "Version": {
      "id": "Version",
      "type": "object",
      "description": "Version contains structured information about the version of the package. For a discussion of this in Debian/Ubuntu: http://serverfault.com/questions/604541/debian-packages-version-convention For a discussion of this in Redhat/Fedora/Centos: http://blog.jasonantman.com/2014/07/how-yum-and-rpm-compare-versions/",
      "properties": {
        "name": {
          "type": "string",
          "description": "The main part of the version name."
        },
        "revision": {
          "type": "string",
          "description": "The iteration of the package build from the above version."
        },
        "inclusive": {
          "description": "Whether this version is vulnerable, when defining the version bounds. For example, if the minimum version is 2.0, inclusive=true would say 2.0 is vulnerable, while inclusive=false would say it's not",
          "type": "boolean"
        },
        "epoch": {
          "description": "Used to correct mistakes in the version numbering scheme.",
          "format": "int32",
          "type": "integer"
        },
        "kind": {
          "description": "Distinguish between sentinel MIN/MAX versions and normal versions. If kind is not NORMAL, then the other fields are ignored.",
          "enum": [
            "NORMAL",
            "MINIMUM",
            "MAXIMUM"
          ],
          "enumDescriptions": [
            "A standard package version, defined by the other fields.",
            "A special version representing negative infinity, other fields are ignored.",
            "A special version representing positive infinity, other fields are ignored."
          ],
          "type": "string"
        }
      }
    },
    "ComplianceVersion": {
      "properties": {
        "cpeUri": {
          "type": "string",
          "description": "The CPE URI (https://cpe.mitre.org/specification/) this benchmark is applicable to."
        },
        "benchmarkDocument": {
          "description": "The name of the document that defines this benchmark, e.g. \"CIS Container-Optimized OS\".",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "The version of the benchmark. This is set to the version of the OS-specific CIS document the benchmark is defined in."
        }
      },
      "id": "ComplianceVersion",
      "type": "object",
      "description": "Describes the CIS benchmark version that is applicable to a given OS and os version."
    },
    "Fingerprint": {
      "type": "object",
      "description": "A set of properties that uniquely identify a given Docker image.",
      "properties": {
        "v2Name": {
          "description": "Output only. The name of the image's v2 blobs computed via: [bottom] := v2_blobbottom := sha256(v2_blob[N] + \" \" + v2_name[N+1]) Only the name of the final blob is kept. This field can be used as a filter in list requests.",
          "type": "string"
        },
        "v2Blob": {
          "description": "The ordered list of v2 blobs that represent a given image.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "v1Name": {
          "type": "string",
          "description": "The layer-id of the final layer in the Docker image's v1 representation. This field can be used as a filter in list requests."
        }
      },
      "id": "Fingerprint"
    },
    "TestIamPermissionsRequest": {
      "type": "object",
      "description": "Request message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsRequest",
      "properties": {
        "permissions": {
          "type": "array",
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ResourceDescriptor": {
      "id": "ResourceDescriptor",
      "type": "object",
      "properties": {
        "uri": {
          "type": "string"
        },
        "annotations": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        },
        "mediaType": {
          "type": "string"
        },
        "content": {
          "format": "byte",
          "type": "string"
        },
        "digest": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "downloadLocation": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleDevtoolsContaineranalysisV1alpha1SlsaProvenanceZeroTwoSlsaMaterial": {
      "description": "The collection of artifacts that influenced the build including sources, dependencies, build tools, base images, and so on.",
      "type": "object",
      "id": "GoogleDevtoolsContaineranalysisV1alpha1SlsaProvenanceZeroTwoSlsaMaterial",
      "properties": {
        "digest": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Collection of cryptographic digests for the contents of this artifact.",
          "type": "object"
        },
        "uri": {
          "description": "The method by which this artifact was referenced during the build.",
          "type": "string"
        }
      }
    },
    "BuildStep": {
      "description": "A step in the build pipeline. Next ID: 23",
      "id": "BuildStep",
      "properties": {
        "automapSubstitutions": {
          "description": "Option to include built-in and custom substitutions as env variables for this build step. This option will override the global option in BuildOption.",
          "type": "boolean"
        },
        "timeout": {
          "description": "Time limit for executing this build step. If not defined, the step has no time limit and will be allowed to continue to run until either it completes or the build itself times out.",
          "format": "google-duration",
          "type": "string"
        },
        "remoteConfig": {
          "description": "Remote configuration for the build step.",
          "type": "string"
        },
        "status": {
          "type": "string",
          "enum": [
            "STATUS_UNKNOWN",
            "PENDING",
            "QUEUING",
            "QUEUED",
            "WORKING",
            "SUCCESS",
            "FAILURE",
            "INTERNAL_ERROR",
            "TIMEOUT",
            "CANCELLED",
            "EXPIRED"
          ],
          "enumDescriptions": [
            "Status of the build is unknown.",
            "Build has been created and is pending execution and queuing. It has not been queued.",
            "Build has been received and is being queued.",
            "Build or step is queued; work has not yet begun.",
            "Build or step is being executed.",
            "Build or step finished successfully.",
            "Build or step failed to complete successfully.",
            "Build or step failed due to an internal cause.",
            "Build or step took longer than was allowed.",
            "Build or step was canceled by a user.",
            "Build was enqueued for longer than the value of `queue_ttl`."
          ],
          "description": "Output only. Status of the build step. At this time, build step status is only updated on build completion; step status is not updated in real-time as the build progresses."
        },
        "env": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of environment variable definitions to be used when running a step. The elements are of the form \"KEY=VALUE\" for the environment variable \"KEY\" being given the value \"VALUE\"."
        },
        "exitCode": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. Return code from running the step."
        },
        "results": {
          "items": {
            "$ref": "StepResult"
          },
          "type": "array"
        },
        "args": {
          "items": {
            "type": "string"
          },
          "description": "A list of arguments that will be presented to the step when it is started. If the image used to run the step's container has an entrypoint, the `args` are used as arguments to that entrypoint. If the image does not define an entrypoint, the first element in args is used as the entrypoint, and the remainder will be used as arguments.",
          "type": "array"
        },
        "timing": {
          "$ref": "TimeSpan",
          "description": "Output only. Stores timing information for executing this build step."
        },
        "dir": {
          "description": "Working directory to use when running this step's container. If this value is a relative path, it is relative to the build's working directory. If this value is absolute, it may be outside the build's working directory, in which case the contents of the path may not be persisted across build step executions, unless a `volume` for that path is specified. If the build specifies a `RepoSource` with `dir` and a step with a `dir`, which specifies an absolute path, the `RepoSource` `dir` is ignored for the step's execution.",
          "type": "string"
        },
        "pullTiming": {
          "description": "Output only. Stores timing information for pulling this build step's builder image only.",
          "$ref": "TimeSpan"
        },
        "allowFailure": {
          "description": "Allow this build step to fail without failing the entire build. If false, the entire build will fail if this step fails. Otherwise, the build will succeed, but this step will still have a failure status. Error information will be reported in the failure_detail field.",
          "type": "boolean"
        },
        "secretEnv": {
          "items": {
            "type": "string"
          },
          "description": "A list of environment variables which are encrypted using a Cloud Key Management Service crypto key. These values must be specified in the build's `Secret`.",
          "type": "array"
        },
        "script": {
          "type": "string",
          "description": "A shell script to be executed in the step. When script is provided, the user cannot specify the entrypoint or args."
        },
        "waitFor": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The ID(s) of the step(s) that this build step depends on. This build step will not start until all the build steps in `wait_for` have completed successfully. If `wait_for` is empty, this build step will start when all previous build steps in the `Build.Steps` list have completed successfully."
        },
        "name": {
          "description": "Required. The name of the container image that will run this particular build step. If the image is available in the host's Docker daemon's cache, it will be run directly. If not, the host will attempt to pull the image first, using the builder service account's credentials if necessary. The Docker daemon's cache will already have the latest versions of all of the officially supported build steps ([https://github.com/GoogleCloudPlatform/cloud-builders](https://github.com/GoogleCloudPlatform/cloud-builders)). The Docker daemon will also have cached many of the layers for some popular images, like \"ubuntu\", \"debian\", but they will be refreshed at the time you attempt to use them. If you built an image in a previous build step, it will be stored in the host's Docker daemon's cache and is available to use as the name for a later build step.",
          "type": "string"
        },
        "entrypoint": {
          "description": "Entrypoint to be used instead of the build step image's default entrypoint. If unset, the image's default entrypoint is used.",
          "type": "string"
        },
        "volumes": {
          "items": {
            "$ref": "Volume"
          },
          "type": "array",
          "description": "List of volumes to mount into the build step. Each volume is created as an empty volume prior to execution of the build step. Upon completion of the build, volumes and their contents are discarded. Using a named volume in only one step is not valid as it is indicative of a build request with an incorrect configuration."
        },
        "id": {
          "type": "string",
          "description": "Unique identifier for this build step, used in `wait_for` to reference this build step as a dependency."
        },
        "allowExitCodes": {
          "description": "Allow this build step to fail without failing the entire build if and only if the exit code is one of the specified codes. If allow_failure is also specified, this field will take precedence.",
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "VulnerabilityDetails": {
      "description": "Used by Occurrence to point to where the vulnerability exists and how to fix it.",
      "properties": {
        "extraDetails": {
          "type": "string",
          "description": "Occurrence-specific extra details about the vulnerability."
        },
        "cvssVersion": {
          "type": "string",
          "description": "Output only. CVSS version used to populate cvss_score and severity.",
          "enum": [
            "CVSS_VERSION_UNSPECIFIED",
            "CVSS_VERSION_2",
            "CVSS_VERSION_3",
            "CVSS_VERSION_4"
          ],
          "enumDescriptions": [
            "CVSS Version unspecified.",
            "CVSS v2.",
            "CVSS v3.",
            "CVSS v4."
          ],
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "The type of package; whether native or non native(ruby gems, node.js packages etc). This may be deprecated in the future because we can have multiple PackageIssues with different package types."
        },
        "cvssV4": {
          "description": "Optional. The CVSS v4 score of this vulnerability.",
          "$ref": "CVSS"
        },
        "vexAssessment": {
          "description": "VexAssessment provides all publisher provided Vex information that is related to this vulnerability for this resource.",
          "$ref": "VexAssessment"
        },
        "cvssV3": {
          "$ref": "CVSS",
          "description": "The CVSS v3 score of this vulnerability."
        },
        "risk": {
          "$ref": "Risk",
          "description": "Risk information about the vulnerability, such as CISA, EPSS, etc."
        },
        "effectiveSeverity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "MINIMAL",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown Impact",
            "Minimal Impact",
            "Low Impact",
            "Medium Impact",
            "High Impact",
            "Critical Impact"
          ],
          "description": "The distro assigned severity for this vulnerability when that is available and note provider assigned severity when distro has not yet assigned a severity for this vulnerability. When there are multiple package issues for this vulnerability, they can have different effective severities because some might come from the distro and some might come from installed language packs (e.g. Maven JARs or Go binaries). For this reason, it is advised to use the effective severity on the PackageIssue level, as this field may eventually be deprecated. In the case where multiple PackageIssues have different effective severities, the one set here will be the highest severity of any of the PackageIssues."
        },
        "packageIssue": {
          "description": "The set of affected locations and their fixes (if available) within the associated resource.",
          "items": {
            "$ref": "PackageIssue"
          },
          "type": "array"
        },
        "cvssScore": {
          "type": "number",
          "format": "float",
          "description": "Output only. The CVSS score of this vulnerability. CVSS score is on a scale of 0-10 where 0 indicates low severity and 10 indicates high severity."
        },
        "severity": {
          "enumDescriptions": [
            "Unknown Impact",
            "Minimal Impact",
            "Low Impact",
            "Medium Impact",
            "High Impact",
            "Critical Impact"
          ],
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "MINIMAL",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "description": "Output only. The note provider assigned Severity of the vulnerability."
        },
        "cvssV2": {
          "description": "The CVSS v2 score of this vulnerability.",
          "$ref": "CVSS"
        }
      },
      "type": "object",
      "id": "VulnerabilityDetails"
    },
    "License": {
      "id": "License",
      "type": "object",
      "properties": {
        "comments": {
          "type": "string",
          "description": "Comments"
        },
        "expression": {
          "description": "Often a single license can be used to represent the licensing terms. Sometimes it is necessary to include a choice of one or more licenses or some combination of license identifiers. Examples: \"LGPL-2.1-only OR MIT\", \"LGPL-2.1-only AND MIT\", \"GPL-2.0-or-later WITH Bison-exception-2.2\".",
          "type": "string"
        }
      },
      "description": "License information."
    },
    "BuildSignature": {
      "id": "BuildSignature",
      "type": "object",
      "properties": {
        "keyType": {
          "type": "string",
          "enumDescriptions": [
            "`KeyType` is not set.",
            "`PGP ASCII Armored` public key.",
            "`PKIX PEM` public key."
          ],
          "enum": [
            "KEY_TYPE_UNSPECIFIED",
            "PGP_ASCII_ARMORED",
            "PKIX_PEM"
          ],
          "description": "The type of the key, either stored in `public_key` or referenced in `key_id`"
        },
        "signature": {
          "description": "Signature of the related `BuildProvenance`, encoded in a base64 string.",
          "type": "string"
        },
        "publicKey": {
          "type": "string",
          "description": "Public key of the builder which can be used to verify that the related findings are valid and unchanged. If `key_type` is empty, this defaults to PEM encoded public keys. This field may be empty if `key_id` references an external key. For Cloud Build based signatures, this is a PEM encoded public key. To verify the Cloud Build signature, place the contents of this field into a file (public.pem). The signature field is base64-decoded into its binary representation in signature.bin, and the provenance bytes from `BuildDetails` are base64-decoded into a binary representation in signed.bin. OpenSSL can then verify the signature: `openssl sha256 -verify public.pem -signature signature.bin signed.bin`"
        },
        "keyId": {
          "type": "string",
          "description": "An Id for the key used to sign. This could be either an Id for the key stored in `public_key` (such as the Id or fingerprint for a PGP key, or the CN for a cert), or a reference to an external key (such as a reference to a key in Cloud Key Management Service)."
        }
      },
      "description": "Message encapsulating the signature of the verified build."
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1Results": {
      "properties": {
        "buildStepOutputs": {
          "type": "array",
          "items": {
            "format": "byte",
            "type": "string"
          },
          "description": "List of build step outputs, produced by builder images, in the order corresponding to build step indices. [Cloud Builders](https://cloud.google.com/cloud-build/docs/cloud-builders) can produce this output by writing to `$BUILDER_OUTPUT/output`. Only the first 50KB of data is stored. Note that the `$BUILDER_OUTPUT` variable is read-only and can't be substituted."
        },
        "goModules": {
          "type": "array",
          "description": "Optional. Go module artifacts uploaded to Artifact Registry at the end of the build.",
          "items": {
            "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1UploadedGoModule"
          }
        },
        "images": {
          "type": "array",
          "items": {
            "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1BuiltImage"
          },
          "description": "Container images that were built as a part of the build."
        },
        "npmPackages": {
          "type": "array",
          "description": "Npm packages uploaded to Artifact Registry at the end of the build.",
          "items": {
            "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1UploadedNpmPackage"
          }
        },
        "artifactTiming": {
          "description": "Time to push all non-container artifacts to Cloud Storage.",
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1TimeSpan"
        },
        "artifactManifest": {
          "description": "Path to the artifact manifest for non-container artifacts uploaded to Cloud Storage. Only populated when artifacts are uploaded to Cloud Storage.",
          "type": "string"
        },
        "genericArtifacts": {
          "description": "Output only. Generic artifacts uploaded to Artifact Registry at the end of the build.",
          "items": {
            "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1UploadedGenericArtifact"
          },
          "readOnly": true,
          "type": "array"
        },
        "buildStepResults": {
          "additionalProperties": {
            "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1BuildStepResults"
          },
          "description": "Results for build steps. step_id -> ",
          "type": "object"
        },
        "numArtifacts": {
          "format": "int64",
          "type": "string",
          "description": "Number of non-container artifacts uploaded to Cloud Storage. Only populated when artifacts are uploaded to Cloud Storage."
        },
        "pythonPackages": {
          "type": "array",
          "description": "Python artifacts uploaded to Artifact Registry at the end of the build.",
          "items": {
            "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1UploadedPythonPackage"
          }
        },
        "mavenArtifacts": {
          "description": "Maven artifacts uploaded to Artifact Registry at the end of the build.",
          "items": {
            "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1UploadedMavenArtifact"
          },
          "type": "array"
        },
        "buildStepImages": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of build step digests, in the order corresponding to build step indices."
        }
      },
      "description": "Artifacts created by the build pipeline.",
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1Results",
      "type": "object"
    },
    "CreateOperationRequest": {
      "type": "object",
      "description": "Request for creating an operation",
      "properties": {
        "operation": {
          "description": "The operation to create.",
          "$ref": "Operation"
        },
        "operationId": {
          "description": "The ID to use for this operation.",
          "type": "string"
        }
      },
      "id": "CreateOperationRequest"
    },
    "PackageInfoOccurrence": {
      "properties": {
        "summaryDescription": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A short description of the package"
        },
        "homePage": {
          "readOnly": true,
          "description": "Output only. Provide a place for the SPDX file creator to record a web site that serves as the package's home page",
          "type": "string"
        },
        "comment": {
          "description": "A place for the SPDX file creator to record any general comments about the package being described",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Uniquely identify any element in an SPDX document which may be referenced by other elements"
        },
        "packageType": {
          "readOnly": true,
          "description": "Output only. The type of package: OS, MAVEN, GO, GO_STDLIB, etc.",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "Output only. Identify the version of the package",
          "readOnly": true
        },
        "sourceInfo": {
          "description": "Provide a place for the SPDX file creator to record any relevant background information or additional comments about the origin of the package",
          "type": "string"
        },
        "filename": {
          "description": "Provide the actual file name of the package, or path of the directory being treated as a package",
          "type": "string"
        },
        "licenseConcluded": {
          "$ref": "License",
          "description": "package or alternative values, if the governing license cannot be determined"
        },
        "title": {
          "description": "Output only. Identify the full name of the package as given by the Package Originator",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "PackageInfoOccurrence",
      "description": "PackageInfoOccurrence represents an SPDX Package Information section: https://spdx.github.io/spdx-spec/3-package-information/"
    },
    "BuildProvenance": {
      "id": "BuildProvenance",
      "properties": {
        "builtArtifacts": {
          "description": "Output of the build.",
          "items": {
            "$ref": "Artifact"
          },
          "type": "array"
        },
        "id": {
          "description": "Unique identifier of the build.",
          "type": "string"
        },
        "creator": {
          "type": "string",
          "description": "E-mail address of the user who initiated this build. Note that this was the user's e-mail address at the time the build was initiated; this address may not represent the same end-user for all time."
        },
        "sourceProvenance": {
          "description": "Details of the Source input to the build.",
          "$ref": "Source"
        },
        "buildOptions": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Special options applied to this build. This is a catch-all field where build providers can enter any desired additional details."
        },
        "finishTime": {
          "type": "string",
          "description": "Time at which execution of the build was finished.",
          "format": "google-datetime"
        },
        "commands": {
          "description": "Commands requested by the build.",
          "items": {
            "$ref": "Command"
          },
          "type": "array"
        },
        "triggerId": {
          "description": "Trigger identifier if the build was triggered automatically; empty if not.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Time at which the build was created.",
          "format": "google-datetime"
        },
        "projectId": {
          "type": "string",
          "description": "ID of the project."
        },
        "startTime": {
          "description": "Time at which execution of the build was started.",
          "type": "string",
          "format": "google-datetime"
        },
        "logsBucket": {
          "description": "Google Cloud Storage bucket where logs were written.",
          "type": "string"
        },
        "builderVersion": {
          "type": "string",
          "description": "Version string of the builder at the time this build was executed."
        }
      },
      "type": "object",
      "description": "Provenance of a build. Contains all information needed to verify the full details about the build from source to completion."
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1Artifacts": {
      "type": "object",
      "description": "Artifacts produced by a build that should be uploaded upon successful completion of all build steps.",
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1Artifacts",
      "properties": {
        "mavenArtifacts": {
          "type": "array",
          "items": {
            "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsMavenArtifact"
          },
          "description": "A list of Maven artifacts to be uploaded to Artifact Registry upon successful completion of all build steps. Artifacts in the workspace matching specified paths globs will be uploaded to the specified Artifact Registry repository using the builder service account's credentials. If any artifacts fail to be pushed, the build is marked FAILURE."
        },
        "pythonPackages": {
          "items": {
            "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsPythonPackage"
          },
          "description": "A list of Python packages to be uploaded to Artifact Registry upon successful completion of all build steps. The build service account credentials will be used to perform the upload. If any objects fail to be pushed, the build is marked FAILURE.",
          "type": "array"
        },
        "npmPackages": {
          "type": "array",
          "items": {
            "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsNpmPackage"
          },
          "description": "A list of npm packages to be uploaded to Artifact Registry upon successful completion of all build steps. Npm packages in the specified paths will be uploaded to the specified Artifact Registry repository using the builder service account's credentials. If any packages fail to be pushed, the build is marked FAILURE."
        },
        "objects": {
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsArtifactObjects",
          "description": "A list of objects to be uploaded to Cloud Storage upon successful completion of all build steps. Files in the workspace matching specified paths globs will be uploaded to the specified Cloud Storage location using the builder service account's credentials. The location and generation of the uploaded objects will be stored in the Build resource's results field. If any objects fail to be pushed, the build is marked FAILURE."
        },
        "images": {
          "description": "A list of images to be pushed upon the successful completion of all build steps. The images will be pushed using the builder service account's credentials. The digests of the pushed images will be stored in the Build resource's results field. If any of the images fail to be pushed, the build is marked FAILURE.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "oci": {
          "description": "Optional. A list of OCI images to be uploaded to Artifact Registry upon successful completion of all build steps. OCI images in the specified paths will be uploaded to the specified Artifact Registry repository using the builder service account's credentials. If any images fail to be pushed, the build is marked FAILURE.",
          "type": "array",
          "items": {
            "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsOci"
          }
        },
        "genericArtifacts": {
          "type": "array",
          "items": {
            "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsGenericArtifact"
          },
          "description": "Optional. A list of generic artifacts to be uploaded to Artifact Registry upon successful completion of all build steps. If any artifacts fail to be pushed, the build is marked FAILURE."
        },
        "goModules": {
          "type": "array",
          "description": "Optional. A list of Go modules to be uploaded to Artifact Registry upon successful completion of all build steps. If any objects fail to be pushed, the build is marked FAILURE.",
          "items": {
            "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsGoModule"
          }
        }
      }
    },
    "Source": {
      "description": "Source describes the location of the source used for the build.",
      "type": "object",
      "id": "Source",
      "properties": {
        "storageSource": {
          "description": "If provided, get the source from this location in Google Cloud Storage.",
          "deprecated": true,
          "$ref": "StorageSource"
        },
        "artifactStorageSource": {
          "$ref": "StorageSource",
          "description": "If provided, the input binary artifacts for the build came from this location."
        },
        "repoSource": {
          "deprecated": true,
          "$ref": "RepoSource",
          "description": "If provided, get source from this location in a Cloud Repo."
        },
        "context": {
          "$ref": "GoogleDevtoolsContaineranalysisV1alpha1SourceContext",
          "description": "If provided, the source code used for the build came from this location."
        },
        "fileHashes": {
          "type": "object",
          "additionalProperties": {
            "$ref": "FileHashes"
          },
          "description": "Hash(es) of the build source, which can be used to verify that the original source integrity was maintained in the build. The keys to this map are file paths used as build source and the values contain the hash values for those files. If the build source came in a single package such as a gzipped tarfile (.tar.gz), the FileHash will be for the single path to that file."
        },
        "additionalContexts": {
          "type": "array",
          "items": {
            "$ref": "GoogleDevtoolsContaineranalysisV1alpha1SourceContext"
          },
          "description": "If provided, some of the source code used for the build may be found in these locations, in the case where the source repository had multiple remotes or submodules. This list will not include the context specified in the context field."
        }
      }
    },
    "RunDetails": {
      "properties": {
        "builder": {
          "$ref": "ProvenanceBuilder"
        },
        "byproducts": {
          "items": {
            "$ref": "ResourceDescriptor"
          },
          "type": "array"
        },
        "metadata": {
          "$ref": "BuildMetadata"
        }
      },
      "type": "object",
      "id": "RunDetails"
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsArtifactObjects": {
      "type": "object",
      "properties": {
        "paths": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Path globs used to match files in the build's workspace."
        },
        "timing": {
          "readOnly": true,
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1TimeSpan",
          "description": "Output only. Stores timing information for pushing all artifact objects."
        },
        "location": {
          "description": "Cloud Storage bucket and optional object path, in the form \"gs://bucket/path/to/somewhere/\". (see [Bucket Name Requirements](https://cloud.google.com/storage/docs/bucket-naming#requirements)). Files in the workspace matching any path pattern will be uploaded to Cloud Storage with this location as a prefix.",
          "type": "string"
        }
      },
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsArtifactObjects",
      "description": "Files in the workspace to upload to Cloud Storage upon successful completion of all build steps."
    },
    "VulnerabilityLocation": {
      "description": "The location of the vulnerability",
      "id": "VulnerabilityLocation",
      "type": "object",
      "properties": {
        "version": {
          "$ref": "Version",
          "description": "The version of the package being described. This field can be used as a filter in list requests."
        },
        "package": {
          "type": "string",
          "description": "The package being described."
        },
        "fileLocation": {
          "description": "The file location at which this package was found.",
          "items": {
            "$ref": "FileLocation"
          },
          "type": "array"
        },
        "cpeUri": {
          "description": "The cpe_uri in [cpe format] (https://cpe.mitre.org/specification/) format. Examples include distro or storage location for vulnerable jar. This field can be used as a filter in list requests.",
          "type": "string"
        }
      }
    },
    "GetPolicyOptions": {
      "properties": {
        "requestedPolicyVersion": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        }
      },
      "type": "object",
      "description": "Encapsulates settings provided to GetIamPolicy.",
      "id": "GetPolicyOptions"
    },
    "Detail": {
      "properties": {
        "package": {
          "type": "string",
          "description": "The name of the package where the vulnerability was found. This field can be used as a filter in list requests."
        },
        "source": {
          "type": "string",
          "description": "The source from which the information in this Detail was obtained."
        },
        "isObsolete": {
          "type": "boolean",
          "description": "Whether this Detail is obsolete. Occurrences are expected not to point to obsolete details."
        },
        "cpeUri": {
          "description": "The cpe_uri in [cpe format] (https://cpe.mitre.org/specification/) in which the vulnerability manifests. Examples include distro or storage location for vulnerable jar. This field can be used as a filter in list requests.",
          "type": "string"
        },
        "severityName": {
          "description": "The severity (eg: distro assigned severity) for this vulnerability.",
          "type": "string"
        },
        "packageType": {
          "type": "string",
          "description": "The type of package; whether native or non native(ruby gems, node.js packages etc)"
        },
        "maxAffectedVersion": {
          "description": "The max version of the package in which the vulnerability exists.",
          "$ref": "Version"
        },
        "vendor": {
          "description": "The vendor of the product. e.g. \"google\"",
          "type": "string"
        },
        "minAffectedVersion": {
          "description": "The min version of the package in which the vulnerability exists.",
          "$ref": "Version"
        },
        "description": {
          "description": "A vendor-specific description of this note.",
          "type": "string"
        },
        "fixedLocation": {
          "description": "The fix for this specific package version.",
          "$ref": "VulnerabilityLocation"
        }
      },
      "type": "object",
      "description": "Identifies all occurrences of this vulnerability in the package for a specific distro/location For example: glibc in cpe:/o:debian:debian_linux:8 for versions 2.1 - 2.2",
      "id": "Detail"
    },
    "GoogleDevtoolsContaineranalysisV1alpha1AliasContext": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The alias name."
        },
        "kind": {
          "enumDescriptions": [
            "Unknown.",
            "Git tag.",
            "Git branch.",
            "Used to specify non-standard aliases. For example, if a Git repo has a ref named \"refs/foo/bar\"."
          ],
          "enum": [
            "KIND_UNSPECIFIED",
            "FIXED",
            "MOVABLE",
            "OTHER"
          ],
          "type": "string",
          "description": "The alias kind."
        }
      },
      "id": "GoogleDevtoolsContaineranalysisV1alpha1AliasContext",
      "description": "An alias to a repo revision.",
      "type": "object"
    },
    "GoogleDevtoolsContaineranalysisV1alpha1RepoId": {
      "id": "GoogleDevtoolsContaineranalysisV1alpha1RepoId",
      "type": "object",
      "properties": {
        "uid": {
          "description": "A server-assigned, globally unique identifier.",
          "type": "string"
        },
        "projectRepoId": {
          "$ref": "GoogleDevtoolsContaineranalysisV1alpha1ProjectRepoId",
          "description": "A combination of a project ID and a repo name."
        }
      },
      "description": "A unique identifier for a Cloud Repo."
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1StepResult": {
      "description": "StepResult is the declaration of a result for a build step.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The name of the result.",
          "type": "string"
        },
        "attestationType": {
          "description": "Optional. The type of attestation to be generated.",
          "type": "string"
        },
        "attestationContent": {
          "description": "Optional. The content of the attestation to be generated.",
          "type": "string"
        }
      },
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1StepResult"
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1BuildStepResults": {
      "description": "Results for a build step.",
      "properties": {
        "results": {
          "type": "object",
          "description": "Results for a build step.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1BuildStepResults"
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1DependencyGitSourceDependency": {
      "description": "Represents a git repository as a build dependency.",
      "properties": {
        "repository": {
          "description": "Required. The kind of repo (url or dev connect).",
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1DependencyGitSourceRepository"
        },
        "destPath": {
          "type": "string",
          "description": "Required. Where should the files be placed on the worker."
        },
        "recurseSubmodules": {
          "description": "Optional. True if submodules should be fetched too (default false).",
          "type": "boolean"
        },
        "fetchTags": {
          "description": "Optional. True if remote tags should be fetched too (default false). Note: when depth is 1 (default), git fetch only retrieves tags pointing to commits within the shallow boundary. Set depth to -1 to fetch all historical tags.",
          "type": "boolean"
        },
        "revision": {
          "type": "string",
          "description": "Required. The revision that we will fetch the repo at."
        },
        "depth": {
          "format": "int64",
          "description": "Optional. How much history should be fetched for the build (default 1, -1 for all history).",
          "type": "string"
        }
      },
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1DependencyGitSourceDependency",
      "type": "object"
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1DependencyGenericArtifactDependency": {
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1DependencyGenericArtifactDependency",
      "properties": {
        "destPath": {
          "description": "Required. Where the artifact files should be placed on the worker.",
          "type": "string"
        },
        "resource": {
          "description": "Required. The location to download the artifact files from. Ex: projects/p1/locations/us/repositories/r1/packages/p1/versions/v1",
          "type": "string"
        }
      },
      "description": "Represents a generic artifact as a build dependency.",
      "type": "object"
    },
    "DSSEAttestationNote": {
      "type": "object",
      "properties": {
        "hint": {
          "$ref": "DSSEHint",
          "description": "DSSEHint hints at the purpose of the attestation authority."
        }
      },
      "description": "A note describing an attestation",
      "id": "DSSEAttestationNote"
    },
    "Digest": {
      "type": "object",
      "id": "Digest",
      "properties": {
        "algo": {
          "description": "`SHA1`, `SHA512` etc.",
          "type": "string"
        },
        "digestBytes": {
          "description": "Value of the digest.",
          "format": "byte",
          "type": "string"
        }
      },
      "description": "Digest information."
    },
    "TestIamPermissionsResponse": {
      "description": "Response message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
        }
      },
      "type": "object",
      "id": "TestIamPermissionsResponse"
    },
    "SecretLocation": {
      "properties": {
        "fileLocation": {
          "$ref": "FileLocation",
          "description": "The secret is found from a file."
        }
      },
      "id": "SecretLocation",
      "description": "The location of the secret.",
      "type": "object"
    },
    "Discovery": {
      "description": "A note that indicates a type of analysis a provider would perform. This note exists in a provider's project. A `Discovery` occurrence is created in a consumer's project at the start of analysis. The occurrence's operation will indicate the status of the analysis. Absence of an occurrence linked to this note for a resource indicates that analysis hasn't started.",
      "properties": {
        "analysisKind": {
          "enumDescriptions": [
            "Unknown",
            "The note and occurrence represent a package vulnerability.",
            "The note and occurrence assert build provenance.",
            "This represents an image basis relationship.",
            "This represents a package installed via a package manager.",
            "The note and occurrence track deployment events.",
            "The note and occurrence track the initial discovery status of a resource.",
            "This represents a logical \"role\" that can attest to artifacts.",
            "This represents an available software upgrade.",
            "This represents a compliance check that can be applied to a resource.",
            "This represents a software bill of materials.",
            "This represents an SPDX Package.",
            "This represents an SPDX File.",
            "This represents an SPDX Relationship.",
            "This represents a DSSE attestation Note",
            "This represents a Vulnerability Assessment.",
            "This represents a reference to an SBOM.",
            "This represents a secret.",
            "This represents an AI skill analysis."
          ],
          "type": "string",
          "description": "The kind of analysis that is handled by this discovery.",
          "enum": [
            "KIND_UNSPECIFIED",
            "PACKAGE_VULNERABILITY",
            "BUILD_DETAILS",
            "IMAGE_BASIS",
            "PACKAGE_MANAGER",
            "DEPLOYABLE",
            "DISCOVERY",
            "ATTESTATION_AUTHORITY",
            "UPGRADE",
            "COMPLIANCE",
            "SBOM",
            "SPDX_PACKAGE",
            "SPDX_FILE",
            "SPDX_RELATIONSHIP",
            "DSSE_ATTESTATION",
            "VULNERABILITY_ASSESSMENT",
            "SBOM_REFERENCE",
            "SECRET",
            "AI_SKILL_ANALYSIS"
          ]
        }
      },
      "id": "Discovery",
      "type": "object"
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1BuildOptionsPoolOption": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The `WorkerPool` resource to execute the build on. You must have `cloudbuild.workerpools.use` on the project hosting the WorkerPool. Format projects/{project}/locations/{location}/workerPools/{workerPoolId}"
        }
      },
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1BuildOptionsPoolOption",
      "description": "Details about how a build should be executed on a `WorkerPool`. See [running builds in a private pool](https://cloud.google.com/build/docs/private-pools/run-builds-in-private-pool) for more information."
    },
    "AnalysisCompleted": {
      "type": "object",
      "id": "AnalysisCompleted",
      "properties": {
        "analysisType": {
          "description": "type of analysis that were completed on a resource.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Indicates which analysis completed successfully. Multiple types of analysis can be performed on a single resource."
    },
    "SlsaProvenance": {
      "id": "SlsaProvenance",
      "description": "SlsaProvenance is the slsa provenance as defined by the slsa spec.",
      "type": "object",
      "properties": {
        "metadata": {
          "description": "metadata is the metadata of the provenance",
          "$ref": "SlsaMetadata"
        },
        "materials": {
          "items": {
            "$ref": "Material"
          },
          "type": "array",
          "description": "The collection of artifacts that influenced the build including sources, dependencies, build tools, base images, and so on. This is considered to be incomplete unless metadata.completeness.materials is true. Unset or null is equivalent to empty."
        },
        "recipe": {
          "description": "Identifies the configuration used for the build. When combined with materials, this SHOULD fully describe the build, such that re-running this recipe results in bit-for-bit identical output (if the build is reproducible).",
          "$ref": "SlsaRecipe"
        },
        "builder": {
          "description": "builder is the builder of this provenance",
          "$ref": "SlsaBuilder"
        }
      }
    },
    "SlsaProvenanceZeroTwo": {
      "type": "object",
      "description": "SlsaProvenanceZeroTwo is the slsa provenance as defined by the slsa spec. See full explanation of fields at slsa.dev/provenance/v0.2.",
      "properties": {
        "metadata": {
          "description": "Other properties of the build.",
          "$ref": "GoogleDevtoolsContaineranalysisV1alpha1SlsaProvenanceZeroTwoSlsaMetadata"
        },
        "builder": {
          "description": "Identifies the entity that executed the recipe, which is trusted to have correctly performed the operation and populated this provenance.",
          "$ref": "GoogleDevtoolsContaineranalysisV1alpha1SlsaProvenanceZeroTwoSlsaBuilder"
        },
        "invocation": {
          "description": "Identifies the event that kicked off the build.",
          "$ref": "GoogleDevtoolsContaineranalysisV1alpha1SlsaProvenanceZeroTwoSlsaInvocation"
        },
        "buildConfig": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "Lists the steps in the build."
        },
        "buildType": {
          "description": "URI indicating what type of build was performed.",
          "type": "string"
        },
        "materials": {
          "type": "array",
          "items": {
            "$ref": "GoogleDevtoolsContaineranalysisV1alpha1SlsaProvenanceZeroTwoSlsaMaterial"
          },
          "description": "The collection of artifacts that influenced the build including sources, dependencies, build tools, base images, and so on."
        }
      },
      "id": "SlsaProvenanceZeroTwo"
    },
    "SlsaMetadata": {
      "id": "SlsaMetadata",
      "type": "object",
      "properties": {
        "buildFinishedOn": {
          "format": "google-datetime",
          "description": "The timestamp of when the build completed.",
          "type": "string"
        },
        "buildInvocationId": {
          "type": "string",
          "description": "Identifies the particular build invocation, which can be useful for finding associated logs or other ad-hoc analysis. The value SHOULD be globally unique, per in-toto Provenance spec."
        },
        "completeness": {
          "$ref": "SlsaCompleteness",
          "description": "Indicates that the builder claims certain fields in this message to be complete."
        },
        "reproducible": {
          "type": "boolean",
[...]
