{
  "mtlsRootUrl": "https://contactcenterinsights.mtls.googleapis.com/",
  "rootUrl": "https://contactcenterinsights.googleapis.com/",
  "batchPath": "batch",
  "basePath": "",
  "kind": "discovery#restDescription",
  "parameters": {
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json"
    }
  },
  "revision": "20260825",
  "discoveryVersion": "v1",
  "id": "contactcenterinsights:v1",
  "schemas": {
    "GoogleCloudContactcenterinsightsV1ExportIssueModelResponse": {
      "description": "Response from export issue model",
      "id": "GoogleCloudContactcenterinsightsV1ExportIssueModelResponse",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainIngestConversationsMetadata": {
      "description": "The metadata for an IngestConversations operation.",
      "id": "GoogleCloudContactcenterinsightsV1mainIngestConversationsMetadata",
      "type": "object",
      "properties": {
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainIngestConversationsRequest",
          "description": "Output only. The original request for ingest.",
          "readOnly": true
        },
        "ingestConversationsStats": {
          "readOnly": true,
          "description": "Output only. Statistics for IngestConversations operation.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainIngestConversationsMetadataIngestConversationsStats"
        },
        "partialErrors": {
          "description": "Output only. Partial errors during ingest operation that might cause the operation output to be incomplete.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        },
        "sampledConversations": {
          "description": "Output only. Stores the conversation resources produced by ingest sampling operations.",
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainBulkDeleteConversationsRequest": {
      "description": "The request to delete conversations in bulk.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainBulkDeleteConversationsRequest",
      "properties": {
        "parent": {
          "description": "Required. The parent resource to delete conversations from. Format: projects/{project}/locations/{location}",
          "type": "string"
        },
        "filter": {
          "description": "Filter used to select the subset of conversations to delete.",
          "type": "string"
        },
        "force": {
          "type": "boolean",
          "description": "If set to true, all of this conversation's analyses will also be deleted. Otherwise, the request will only succeed if the conversation has no analyses."
        },
        "maxDeleteCount": {
          "format": "int32",
          "description": "Maximum number of conversations to delete.",
          "type": "integer"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1QaAnswer": {
      "id": "GoogleCloudContactcenterinsightsV1QaAnswer",
      "properties": {
        "qaQuestion": {
          "description": "The QaQuestion answered by this answer.",
          "type": "string"
        },
        "questionBody": {
          "description": "Question text. E.g., \"Did the agent greet the customer?\"",
          "type": "string"
        },
        "answerValue": {
          "description": "The answer value from this source. This field is populated by default, unless the question has a selection strategy configured to return multiple answer values, in which case `answer_values` will be populated instead.",
          "$ref": "GoogleCloudContactcenterinsightsV1QaAnswerAnswerValue"
        },
        "answerSources": {
          "description": "Lists all answer sources containing one or more answer values of a specific source type, e.g., all system-generated answer sources, or all manual edit answer sources.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1QaAnswerAnswerSource"
          }
        },
        "tags": {
          "type": "array",
          "description": "User-defined list of arbitrary tags. Matches the value from QaScorecard.ScorecardQuestion.tags. Used for grouping/organization and for weighting the score of each answer.",
          "items": {
            "type": "string"
          }
        },
        "conversation": {
          "description": "The conversation the answer applies to.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "An answer to a QaQuestion."
    },
    "GoogleCloudContactcenterinsightsV1alpha1CreateIssueRequest": {
      "properties": {
        "parent": {
          "description": "Required. The parent resource of the issue.",
          "type": "string"
        },
        "issue": {
          "description": "Required. The values for the new issue.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1Issue"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1CreateIssueRequest",
      "description": "The request to create an issue."
    },
    "GoogleCloudContactcenterinsightsV1mainTestCorrelationConfigMetadataFullConversationCorrelationStats": {
      "description": "Statistics for TestCorrelationConfig operation.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainTestCorrelationConfigMetadataFullConversationCorrelationStats",
      "properties": {
        "failedConversationsCount": {
          "type": "integer",
          "description": "The number of conversations that failed correlation.",
          "format": "int32"
        },
        "sampledConversationsCount": {
          "type": "integer",
          "description": "The number of conversations sampled.",
          "format": "int32"
        },
        "correlatedConversationsCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of conversations correlated."
        },
        "conversationCorrelationErrors": {
          "type": "array",
          "description": "A list of errors that occurred during correlation, one for each conversation that failed.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainTestCorrelationConfigMetadataFullConversationCorrelationStatsConversationCorrelationError"
          }
        },
        "partialErrors": {
          "description": "Partial errors during test correlation config operation that might cause the operation output to be incomplete.",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1RedactionConfig": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1RedactionConfig",
      "description": "DLP resources used for redaction while ingesting conversations. DLP settings are applied to conversations ingested from the `UploadConversation` and `IngestConversations` endpoints, including conversation coming from CCAI Platform. They are not applied to conversations ingested from the `CreateConversation` endpoint or the Dialogflow / Agent Assist runtime integrations. When using Dialogflow / Agent Assist runtime integrations, redaction should be performed in Dialogflow / Agent Assist.",
      "properties": {
        "deidentifyTemplate": {
          "description": "The fully-qualified DLP deidentify template resource name. Format: `projects/{project}/deidentifyTemplates/{template}`",
          "type": "string"
        },
        "inspectTemplate": {
          "type": "string",
          "description": "The fully-qualified DLP inspect template resource name. Format: `projects/{project}/locations/{location}/inspectTemplates/{template}`"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1SmartComposeSuggestionData": {
      "description": "Agent Assist Smart Compose suggestion data.",
      "id": "GoogleCloudContactcenterinsightsV1SmartComposeSuggestionData",
      "type": "object",
      "properties": {
        "queryRecord": {
          "type": "string",
          "description": "The name of the answer record. Format: projects/{project}/locations/{location}/answerRecords/{answer_record}"
        },
        "metadata": {
          "description": "Map that contains metadata about the Smart Compose suggestion and the document from which it originates.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "confidenceScore": {
          "type": "number",
          "format": "double",
          "description": "The system's confidence score that this suggestion is a good match for this conversation, ranging from 0.0 (completely uncertain) to 1.0 (completely certain)."
        },
        "suggestion": {
          "description": "The content of the suggestion.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1SentimentData": {
      "properties": {
        "magnitude": {
          "format": "float",
          "type": "number",
          "description": "A non-negative number from 0 to infinity which represents the absolute magnitude of sentiment regardless of score."
        },
        "score": {
          "description": "The sentiment score between -1.0 (negative) and 1.0 (positive).",
          "format": "float",
          "type": "number"
        }
      },
      "description": "The data for a sentiment annotation.",
      "id": "GoogleCloudContactcenterinsightsV1SentimentData",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1TestCorrelationConfigMetadataFullConversationCorrelationStatsConversationCorrelationError": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1TestCorrelationConfigMetadataFullConversationCorrelationStatsConversationCorrelationError",
      "description": "An error that occurred during correlation for a specific conversation.",
      "properties": {
        "conversation": {
          "description": "The conversation resource name that had an error during correlation.",
          "type": "string"
        },
        "status": {
          "description": "The error status.",
          "$ref": "GoogleRpcStatus"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1BulkDownloadFeedbackLabelsRequestGcsDestination": {
      "description": "Google Cloud Storage Object details to write the feedback labels to.",
      "id": "GoogleCloudContactcenterinsightsV1BulkDownloadFeedbackLabelsRequestGcsDestination",
      "properties": {
        "format": {
          "enumDescriptions": [
            "Unspecified format.",
            "CSV format. 1,000 labels are stored per CSV file by default.",
            "JSON format. 1 label stored per JSON file by default."
          ],
          "enum": [
            "FORMAT_UNSPECIFIED",
            "CSV",
            "JSON"
          ],
          "description": "Required. File format in which the labels will be exported.",
          "type": "string"
        },
        "addWhitespace": {
          "description": "Optional. Add whitespace to the JSON file. Makes easier to read, but increases file size. Only applicable for JSON format.",
          "type": "boolean"
        },
        "recordsPerFileCount": {
          "description": "Optional. The number of records per file. Applicable for either format.",
          "format": "int64",
          "type": "string"
        },
        "objectUri": {
          "type": "string",
          "description": "Required. The Google Cloud Storage URI to write the feedback labels to. The file name will be used as a prefix for the files written to the bucket if the output needs to be split across multiple files, otherwise it will be used as is. The file extension will be appended to the file name based on the format selected. E.g. `gs://bucket_name/object_uri_prefix`"
        },
        "alwaysPrintEmptyFields": {
          "type": "boolean",
          "description": "Optional. Always print fields with no presence. This is useful for printing fields that are not set, like implicit 0 value or empty lists/maps. Only applicable for JSON format."
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1ListDatasetsResponse": {
      "description": "The response to list datasets.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1ListDatasetsResponse",
      "properties": {
        "datasets": {
          "type": "array",
          "description": "The datasets that match the request.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1Dataset"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPointConversationMeasure": {
      "properties": {
        "knowledgeAssistResultCount": {
          "format": "int32",
          "type": "integer",
          "description": "Count of knowledge assist results (Proactive Generative Knowledge Assist) shown to the user."
        },
        "conversationCount": {
          "type": "integer",
          "description": "The conversation count.",
          "format": "int32"
        },
        "aiCoachSuggestionMessageTriggerRatio": {
          "description": "Proportion of end_of_utterance trigger event messages that triggered an Ai Coach Suggestion.",
          "type": "number",
          "format": "double"
        },
        "dialogflowAverageWebhookLatency": {
          "format": "double",
          "type": "number",
          "description": "Average latency of dialogflow webhook calls."
        },
        "averageCustomerSatisfactionRating": {
          "description": "The average customer satisfaction rating.",
          "format": "double",
          "type": "number"
        },
        "aiCoachSuggestionAgentUsageRatio": {
          "type": "number",
          "description": "Proportion of Ai Coach Suggestion that has been used by agents.",
          "format": "double"
        },
        "averageSilencePercentage": {
          "type": "number",
          "format": "float",
          "description": "The average silence percentage."
        },
        "averageSummarizationSuggestionNormalizedEditDistance": {
          "format": "double",
          "type": "number",
          "description": "Normalized Average edit distance of the summarization suggestions. Edit distance (also called as levenshtein distance) is calculated by summing up number of insertions, deletions and substitutions required to transform the summization feedback to the original summary suggestion. Normalized edit distance is the average of (edit distance / summary length)."
        },
        "dialogflowConversationsEscalationRatio": {
          "type": "number",
          "description": "Proportion of conversations that was handed off from virtual agent to human agent.",
          "format": "double"
        },
        "aaSupervisorTransferredToHumanAgentConvCount": {
          "description": "The number of conversations transferred to a human agent.",
          "format": "int32",
          "type": "integer"
        },
        "qaTagScores": {
          "description": "Average QA normalized score for all the tags.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPointConversationMeasureQaTagScore"
          },
          "type": "array"
        },
        "aiCoachSuggestionMessageTriggerCount": {
          "type": "integer",
          "description": "Count of end_of_utterance trigger event messages that triggered an Ai Coach Suggestion.",
          "format": "int32"
        },
        "averageTurnCount": {
          "description": "The average turn count.",
          "type": "number",
          "format": "float"
        },
        "aiCoachSuggestionAgentMessageTriggerCount": {
          "description": "Count of agent messages that triggered an Ai Coach Suggestion.",
          "format": "int32",
          "type": "integer"
        },
        "averageDuration": {
          "description": "The average duration.",
          "type": "string",
          "format": "google-duration"
        },
        "dialogflowWebhookTimeoutRatio": {
          "description": "Proportion of dialogflow webhook calls that timed out.",
          "format": "double",
          "type": "number"
        },
        "knowledgeSearchAgentQuerySourceRatio": {
          "format": "double",
          "type": "number",
          "description": "Proportion of knowledge search (Generative Knowledge Assist) queries made by the agent compared to the total number of knowledge search queries made."
        },
        "conversationTotalAgentMessageCount": {
          "format": "int32",
          "description": "The agent message count.",
          "type": "integer"
        },
        "conversationSuggestedSummaryRatio": {
          "format": "double",
          "type": "number",
          "description": "Proportion of conversations that had a suggested summary."
        },
        "knowledgeAssistPositiveFeedbackRatio": {
          "type": "number",
          "format": "double",
          "description": "Proportion of knowledge assist (Proactive Generative Knowledge Assist) queries that had positive feedback."
        },
        "summarizationSuggestionResultCount": {
          "description": "Count of summarization suggestions results.",
          "type": "integer",
          "format": "int32"
        },
        "avgConversationClientTurnSentimentEma": {
          "type": "number",
          "format": "double",
          "description": "The exponential moving average of the sentiment score of client turns in the conversation."
        },
        "aiCoachSuggestionCustomerMessageTriggerCount": {
          "description": "Count of customer messages that triggered an Ai Coach Suggestion.",
          "format": "int32",
          "type": "integer"
        },
        "aaSupervisorDroppedConversationsCount": {
          "description": "The number of conversations that were dropped, i.e. escalated but not assigned to an AA human supervisor.",
          "format": "int32",
          "type": "integer"
        },
        "averageClientSentimentScore": {
          "description": "The average client's sentiment score.",
          "type": "number",
          "format": "float"
        },
        "containedConversationCount": {
          "format": "int32",
          "description": "The number of conversations that were contained.",
          "type": "integer"
        },
        "knowledgeSearchSuggestedQuerySourceRatio": {
          "type": "number",
          "description": "Proportion of knowledge search (Generative Knowledge Assist) queries suggested compared to the total number of knowledge search queries made.",
          "format": "double"
        },
        "aiCoachSuggestionCustomerMessageTriggerRatio": {
          "type": "number",
          "format": "double",
          "description": "Proportion of customer messages that triggered an Ai Coach Suggestion."
        },
        "dialogflowInteractionsNoInputRatio": {
          "format": "double",
          "type": "number",
          "description": "Proportion of dialogflow interactions that has empty input."
        },
        "knowledgeAssistUriClickRatio": {
          "description": "Proportion of knowledge assist (Proactive Generative Knowledge Assist) queries that had a URL clicked.",
          "format": "double",
          "type": "number"
        },
        "aaSupervisorAssignedConversationsCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of conversations that were assigned to an AA human supervisor."
        },
        "dialogflowInteractionsNoMatchRatio": {
          "description": "Proportion of dialogflow interactions that has no intent match for the input.",
          "type": "number",
          "format": "double"
        },
        "averageQaQuestionNormalizedScore": {
          "type": "number",
          "description": "Average QA normalized score averaged for questions averaged across all revisions of the parent scorecard. Will be only populated if the request specifies a dimension of QA_QUESTION_ID.",
          "format": "double"
        },
        "averageAgentSentimentScore": {
          "format": "float",
          "type": "number",
          "description": "The average agent's sentiment score."
        },
        "conversationTotalCustomerMessageCount": {
          "type": "integer",
          "format": "int32",
          "description": "The customer message count."
        },
        "summarizationSuggestionEditRatio": {
          "description": "Proportion of summarization suggestions that were manually edited.",
          "format": "double",
          "type": "number"
        },
        "knowledgeSearchPositiveFeedbackRatio": {
          "type": "number",
          "format": "double",
          "description": "Proportion of knowledge search (Generative Knowledge Assist) queries that had positive feedback."
        },
        "averageSummarizationSuggestionEditDistance": {
          "type": "number",
          "description": "Average edit distance of the summarization suggestions. Edit distance (also called as levenshtein distance) is calculated by summing up number of insertions, deletions and substitutions required to transform the summization feedback to the original summary suggestion.",
          "format": "double"
        },
        "dialogflowWebhookFailureRatio": {
          "type": "number",
          "description": "Proportion of dialogflow webhook calls that failed.",
          "format": "double"
        },
        "containedConversationRatio": {
          "type": "number",
          "description": "The percentage of conversations that were contained.",
          "format": "double"
        },
        "aaSupervisorEscalatedConversationsCount": {
          "description": "The number of conversations that were escalated to an AA human supervisor for intervention.",
          "type": "integer",
          "format": "int32"
        },
        "aiCoachSuggestionAgentUsageCount": {
          "description": "Count of Ai Coach Suggestion that has been used by agents.",
          "type": "integer",
          "format": "int32"
        },
        "aaSupervisorMonitoredConversationsCount": {
          "format": "int32",
          "description": "The number of conversations scanned by the AA human supervisor.",
          "type": "integer"
        },
        "averageQaNormalizedScore": {
          "type": "number",
          "description": "The average normalized QA score for a scorecard. When computing the average across a set of conversations, if a conversation has been evaluated with multiple revisions of a scorecard, only the latest revision results will be used. Will exclude 0's in average calculation. Will be only populated if the request specifies a dimension of QA_SCORECARD_ID.",
          "format": "double"
        },
        "conversationalAgentsAverageAudioInAudioOutLatency": {
          "type": "number",
          "description": "The average latency of conversational agents' audio in audio out latency per interaction. This is computed as the average of the all the interactions' audio in audio out latencies in a conversation and averaged across conversations.",
          "format": "double"
        },
        "conversationalAgentsAverageTtsLatency": {
          "format": "double",
          "type": "number",
          "description": "The macro average latency of conversational agents' TTS latency per interaction. This is computed as the average of the all the interactions' TTS latencies in a conversation and averaged across conversations."
        },
        "knowledgeSearchUriClickRatio": {
          "description": "Proportion of knowledge search (Generative Knowledge Assist) queries that had a URL clicked.",
          "format": "double",
          "type": "number"
        },
        "knowledgeSearchResultCount": {
          "format": "int32",
          "description": "Count of knowledge search results (Generative Knowledge Assist) shown to the user.",
          "type": "integer"
        },
        "dialogflowConversationsEscalationCount": {
          "description": "count of conversations that was handed off from virtual agent to human agent.",
          "type": "number",
          "format": "double"
        },
        "knowledgeAssistNegativeFeedbackRatio": {
          "description": "Proportion of knowledge assist (Proactive Generative Knowledge Assist) queries that had negative feedback.",
          "type": "number",
          "format": "double"
        },
        "conversationalAgentsAverageEndToEndLatency": {
          "type": "number",
          "description": "The average latency of conversational agents' latency per interaction. This is computed as the average of the all the iteractions' end to end latencies in a conversation and averaged across conversations. The e2e latency is the time between the end of the user utterance and the start of the agent utterance on the interaction level.",
          "format": "double"
        },
        "conversationalAgentsAverageLlmCallLatency": {
          "format": "double",
          "type": "number",
          "description": "The average latency of conversational agents' LLM call latency per interaction. This is computed as the average of the all the interactions LLM call latencies in a conversation and averaged across conversations."
        },
        "conversationAiCoachSuggestionRatio": {
          "type": "number",
          "description": "Proportion of conversations that has Ai Coach Suggestions.",
          "format": "double"
        },
        "knowledgeSearchNegativeFeedbackRatio": {
          "format": "double",
          "type": "number",
          "description": "Proportion of knowledge search (Generative Knowledge Assist) queries that had negative feedback."
        },
        "conversationAiCoachSuggestionCount": {
          "description": "Count of conversations that has Ai Coach Suggestions.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "The measure related to conversations.",
      "id": "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPointConversationMeasure",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1ListAssessmentsResponse": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1ListAssessmentsResponse",
      "description": "The response of listing assessments.",
      "properties": {
        "assessments": {
          "description": "The assessments that match the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1Assessment"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1Chart": {
      "description": "Configurable dashboard's widget that displays data as a chart.",
      "id": "GoogleCloudContactcenterinsightsV1Chart",
      "properties": {
        "height": {
          "description": "The height of the chart in grid units.",
          "format": "int32",
          "type": "integer"
        },
        "width": {
          "description": "The width of the chart in grid units.",
          "format": "int32",
          "type": "integer"
        },
        "chartType": {
          "enumDescriptions": [
            "Unspecified chart type.",
            "Pre-defined chart type.",
            "Configurable chart type."
          ],
          "enum": [
            "CHART_TYPE_UNSPECIFIED",
            "SYSTEM_DEFINED",
            "USER_DEFINED"
          ],
          "description": "Output only. Chart type.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. Chart resource name. Format: projects/{project}/locations/{location}/dashboards/{dashboard}/charts/{chart}"
        },
        "chartVisualizationType": {
          "type": "string",
          "description": "Chart visualization type.",
          "enum": [
            "CHART_VISUALIZATION_TYPE_UNSPECIFIED",
            "BAR",
            "LINE",
            "AREA",
            "PIE",
            "SCATTER",
            "TABLE",
            "SCORE_CARD",
            "SUNBURST",
            "GAUGE",
            "SANKEY"
          ],
          "enumDescriptions": [
            "Unspecified chart visualization type.",
            "Bar chart.",
            "Line chart.",
            "Area chart.",
            "Pie chart.",
            "Scatter chart.",
            "Table chart.",
            "Score card chart.",
            "Sunburst chart.",
            "Gauge chart.",
            "Sankey chart."
          ]
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Chart last update time.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "createTime": {
          "description": "Output only. Chart create time.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "filter": {
          "type": "string",
          "description": "Filter applied to all charts in the container. Should support scope later."
        },
        "action": {
          "description": "Optional action to be taken when the chart is clicked.",
          "$ref": "GoogleCloudContactcenterinsightsV1ChartAction"
        },
        "dataSource": {
          "$ref": "GoogleCloudContactcenterinsightsV1ChartDataSource"
        },
        "dateRangeConfig": {
          "$ref": "GoogleCloudContactcenterinsightsV1DateRangeConfig",
          "description": "Date range config applied to the chart."
        },
        "description": {
          "description": "Chart description",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "User provided display name of the chart."
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1QaScorecardResultScoreSource": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1QaScorecardResultScoreSource",
      "description": "A scorecard result may have multiple sets of scores from varying sources, one of which becomes the \"main\" answer above. A ScoreSource represents each individual set of scores.",
      "properties": {
        "sourceType": {
          "description": "What created the score.",
          "type": "string",
          "enum": [
            "SOURCE_TYPE_UNSPECIFIED",
            "SYSTEM_GENERATED_ONLY",
            "INCLUDES_MANUAL_EDITS"
          ],
          "enumDescriptions": [
            "Source type is unspecified.",
            "Score is derived only from system-generated answers.",
            "Score is derived from both system-generated answers, and includes any manual edits if they exist."
          ]
        },
        "score": {
          "description": "The overall numerical score of the result.",
          "format": "double",
          "type": "number"
        },
        "potentialScore": {
          "description": "The maximum potential overall score of the scorecard. Any questions answered using `na_value` are excluded from this calculation.",
          "type": "number",
          "format": "double"
        },
        "normalizedScore": {
          "type": "number",
          "format": "double",
          "description": "The normalized score, which is the score divided by the potential score."
        },
        "qaTagResults": {
          "type": "array",
          "description": "Collection of tags and their scores.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1QaScorecardResultQaTagResult"
          }
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartListPart": {
      "properties": {
        "listType": {
          "enum": [
            "LIST_TYPE_UNSPECIFIED",
            "UNORDERED",
            "ORDERED_NUMBER",
            "ORDERED_ALPHA"
          ],
          "description": "Optional. The type of list.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified list type.",
            "Unordered list.",
            "Ordered numbered list.",
            "Ordered alphabetic list."
          ]
        },
        "items": {
          "type": "array",
          "description": "Optional. List items.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartListItem"
          }
        }
      },
      "type": "object",
      "description": "A list part.",
      "id": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartListPart"
    },
    "GoogleCloudContactcenterinsightsV1IssueModelResult": {
      "description": "Issue Modeling result on a conversation.",
      "type": "object",
      "properties": {
        "issues": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1IssueAssignment"
          },
          "description": "All the matched issues."
        },
        "issueModel": {
          "description": "Issue model that generates the result. Format: projects/{project}/locations/{location}/issueModels/{issue_model}",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1IssueModelResult"
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationCorrelationResultRuleCorrelationResult": {
      "properties": {
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "The error status if the join key expression failed to evaluate."
        },
        "correlationId": {
          "type": "string",
          "description": "The correlation ID generated by the join key expression."
        },
        "ruleId": {
          "type": "string",
          "description": "The rule ID."
        }
      },
      "description": "The result of a single correlation rule.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationCorrelationResultRuleCorrelationResult",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1QaAnswerAnswerSource": {
      "description": "A question may have multiple answers from varying sources, one of which becomes the \"main\" answer above. AnswerSource represents each individual answer.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1QaAnswerAnswerSource",
      "type": "object",
      "properties": {
        "sourceType": {
          "enumDescriptions": [
            "Source type is unspecified.",
            "Answer was system-generated; created during an Insights analysis.",
            "Answer was created by a human via manual edit."
          ],
          "enum": [
            "SOURCE_TYPE_UNSPECIFIED",
            "SYSTEM_GENERATED",
            "MANUAL_EDIT"
          ],
          "type": "string",
          "description": "What created the answer."
        },
        "answerValue": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1QaAnswerAnswerValue",
          "description": "The answer value from this source. This field is populated by default, unless the question has a selection strategy configured to return multiple answer values, in which case `answer_values` will be populated instead."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainDeployIssueModelResponse": {
      "type": "object",
      "properties": {},
      "description": "The response to deploy an issue model.",
      "id": "GoogleCloudContactcenterinsightsV1mainDeployIssueModelResponse"
    },
    "GoogleCloudContactcenterinsightsV1alpha1BulkAnalyzeConversationsResponse": {
      "description": "The response for a bulk analyze conversations operation.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1BulkAnalyzeConversationsResponse",
      "properties": {
        "successfulAnalysisCount": {
          "description": "Count of successful analyses.",
          "type": "integer",
          "format": "int32"
        },
        "failedAnalysisCount": {
          "type": "integer",
          "description": "Count of failed analyses.",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1GenerativeInsightsResponseGenerativeResponseTextOutput": {
      "properties": {
        "text": {
          "description": "The text output from the LLM.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "textType": {
          "enumDescriptions": [
            "The type is unspecified.",
            "The text is part of LLM reasoning.",
            "The text is the final answer from LLM.",
            "The text is an informational message about the agent's progress, such as a tool being invoked. This is distinct from the agent's internal thought process (`THOUGHT`) and the final answer to the user (`FINAL_RESPONSE`). These messages provide insight into the agent's actions."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "THOUGHT",
            "FINAL_RESPONSE",
            "PROGRESS"
          ],
          "description": "The type of text output."
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1GenerativeInsightsResponseGenerativeResponseTextOutput",
      "description": "Wrapper for text output."
    },
    "GoogleCloudContactcenterinsightsV1ExportInsightsDataRequestBigQueryDestination": {
      "description": "A BigQuery Table Reference.",
      "id": "GoogleCloudContactcenterinsightsV1ExportInsightsDataRequestBigQueryDestination",
      "properties": {
        "dataset": {
          "description": "Required. The name of the BigQuery dataset that the snapshot result should be exported to. If this dataset does not exist, the export call returns an INVALID_ARGUMENT error.",
          "type": "string"
        },
        "table": {
          "type": "string",
          "description": "The BigQuery table name to which the insights data should be written. If this table does not exist, the export call returns an INVALID_ARGUMENT error."
        },
        "projectId": {
          "type": "string",
          "description": "A project ID or number. If specified, then export will attempt to write data to this project instead of the resource project. Otherwise, the resource project will be used."
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1Dimension": {
      "properties": {
        "agentDimensionMetadata": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1DimensionAgentDimensionMetadata",
          "description": "Output only. Metadata about the agent dimension.",
          "readOnly": true
        },
        "clientSentimentCategoryDimensionMetadata": {
          "description": "Output only. Metadata about the client sentiment category dimension.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1DimensionClientSentimentCategoryDimensionMetadata",
          "readOnly": true
        },
        "labelDimensionMetadata": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1DimensionLabelDimensionMetadata",
          "description": "Output only. Metadata about conversation labels.",
          "readOnly": true
        },
        "qaQuestionDimensionMetadata": {
          "readOnly": true,
          "description": "Output only. Metadata about the QA question dimension.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1DimensionQaQuestionDimensionMetadata"
        },
        "qaQuestionAnswerDimensionMetadata": {
          "readOnly": true,
          "description": "Output only. Metadata about the QA question-answer dimension.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1DimensionQaQuestionAnswerDimensionMetadata"
        },
        "conversationalAgentsToolDimensionMetadata": {
          "description": "Output only. Metadata about the Conversational Agents tool dimension.",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1DimensionConversationalAgentsToolDimensionMetadata"
        },
        "conversationalAgentsPlaybookDimensionMetadata": {
          "readOnly": true,
          "description": "Output only. Metadata about the Conversational Agents playbook dimension.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1DimensionConversationalAgentsPlaybookDimensionMetadata"
        },
        "dimensionKey": {
          "description": "The key of the dimension.",
          "enumDescriptions": [
            "The key of the dimension is unspecified.",
            "The dimension is keyed by issues.",
            "The dimension is keyed by issue names.",
            "The dimension is keyed by agents.",
            "The dimension is keyed by agent teams.",
            "The dimension is keyed by QaQuestionIds. Note that: We only group by the QuestionId and not the revision-id of the scorecard this question is a part of. This allows for showing stats for the same question across different scorecard revisions.",
            "The dimension is keyed by QaQuestionIds-Answer value pairs. Note that: We only group by the QuestionId and not the revision-id of the scorecard this question is a part of. This allows for showing distribution of answers per question across different scorecard revisions.",
            "The dimension is keyed by QaScorecardIds. Note that: We only group by the ScorecardId and not the revision-id of the scorecard. This allows for showing stats for the same scorecard across different revisions. This metric is mostly only useful if querying the average normalized score per scorecard.",
            "The dimension is keyed by the conversation profile ID.",
            "The dimension is keyed by the conversation medium.",
            "The dimension is keyed by the Conversational Agents playbook ID.",
            "The dimension is keyed by the Conversational Agents playbook display name.",
            "The dimension is keyed by the Conversational Agents tool ID.",
            "The dimension is keyed by the Conversational Agents tool display name.",
            "The dimension is keyed by the client sentiment category.",
            "The dimension is keyed by the agent version ID.",
            "The dimension is keyed by the agent deployment ID.",
            "The dimension is keyed by the supervisor ID of the assigned human supervisor for virtual agents.",
            "The dimension is keyed by label keys.",
            "The dimension is keyed by label values.",
            "The dimension is keyed by label key-value pairs.",
            "The dimension is keyed by the last transfer sub agent name."
          ],
          "enum": [
            "DIMENSION_KEY_UNSPECIFIED",
            "ISSUE",
            "ISSUE_NAME",
            "AGENT",
            "AGENT_TEAM",
            "QA_QUESTION_ID",
            "QA_QUESTION_ANSWER_VALUE",
            "QA_SCORECARD_ID",
            "CONVERSATION_PROFILE_ID",
            "MEDIUM",
            "CONVERSATIONAL_AGENTS_PLAYBOOK_ID",
            "CONVERSATIONAL_AGENTS_PLAYBOOK_NAME",
            "CONVERSATIONAL_AGENTS_TOOL_ID",
            "CONVERSATIONAL_AGENTS_TOOL_NAME",
            "CLIENT_SENTIMENT_CATEGORY",
            "AGENT_VERSION_ID",
            "AGENT_DEPLOYMENT_ID",
            "AGENT_ASSIST_SUPERVISOR_ID",
            "LABEL_KEY",
            "LABEL_VALUE",
            "LABEL_KEY_AND_VALUE",
            "LAST_TRANSFER_SUB_AGENT_NAME"
          ],
          "type": "string"
        },
        "qaScorecardDimensionMetadata": {
          "description": "Output only. Metadata about the QA scorecard dimension.",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1DimensionQaScorecardDimensionMetadata"
        },
        "issueDimensionMetadata": {
          "description": "Output only. Metadata about the issue dimension.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1DimensionIssueDimensionMetadata",
          "readOnly": true
        },
        "mediumDimensionMetadata": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1DimensionMediumDimensionMetadata",
          "description": "Output only. Metadata about the conversation medium dimension.",
          "readOnly": true
        },
        "conversationProfileDimensionMetadata": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1DimensionConversationProfileDimensionMetadata",
          "description": "Output only. Metadata about the conversation profile dimension.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1Dimension",
      "description": "A dimension determines the grouping key for the query. In SQL terms, these would be part of both the \"SELECT\" and \"GROUP BY\" clauses."
    },
    "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartTableRow": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartTableRow",
      "properties": {
        "cells": {
          "type": "array",
          "description": "Optional. The cell values in the row.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "A row in a table."
    },
    "GoogleCloudContactcenterinsightsV1alpha1HoldData": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1HoldData",
      "description": "The data for a hold annotation.",
      "properties": {}
    },
    "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentDialogflowSegmentMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentDialogflowSegmentMetadata",
      "description": "Metadata from Dialogflow relating to the current transcript segment.",
      "type": "object",
      "properties": {
        "smartReplyAllowlistCovered": {
          "description": "Whether the transcript segment was covered under the configured smart reply allowlist in Agent Assist.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartProductCollectionPart": {
      "id": "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartProductCollectionPart",
      "type": "object",
      "properties": {
        "products": {
          "description": "Optional. List of products.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartProduct"
          },
          "type": "array"
        }
      },
      "description": "A product collection part."
    },
    "GoogleCloudContactcenterinsightsV1mainGenerativeInsightConversationTranscriptMessageSystemMessageTextOutput": {
      "type": "object",
      "properties": {
        "textType": {
          "enumDescriptions": [
            "The default text type.",
            "The text is a thinking plan generated by the thinking tool.",
            "The text is a final response to the user question.",
            "The text is an informational message about the agent's progress, such as a tool being invoked. This is distinct from the agent's internal thought process (`THOUGHT`) and the final answer to the user (`FINAL_RESPONSE`). These messages provide insight into the agent's actions."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "THOUGHT",
            "FINAL_RESPONSE",
            "PROGRESS"
          ],
          "type": "string",
          "description": "The type of the text message."
        },
        "text": {
          "description": "The parts of the message.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainGenerativeInsightConversationTranscriptMessageSystemMessageTextOutput",
      "description": "A text output message from the system."
    },
    "GoogleCloudContactcenterinsightsV1QaAnswerAnswerValue": {
      "properties": {
        "key": {
          "description": "A short string used as an identifier. Matches the value used in QaQuestion.AnswerChoice.key.",
          "type": "string"
        },
        "strValue": {
          "description": "String value.",
          "type": "string"
        },
        "boolValue": {
          "type": "boolean",
          "description": "Boolean value."
        },
        "normalizedScore": {
          "format": "double",
          "readOnly": true,
          "description": "Output only. Normalized score of the questions. Calculated as score / potential_score.",
          "type": "number"
        },
        "score": {
          "readOnly": true,
          "format": "double",
          "type": "number",
          "description": "Output only. Numerical score of the answer."
        },
        "potentialScore": {
          "description": "Output only. The maximum potential score of the question.",
          "format": "double",
          "readOnly": true,
          "type": "number"
        },
        "naValue": {
          "type": "boolean",
          "description": "A value of \"Not Applicable (N/A)\". Should only ever be `true`."
        },
        "skipValue": {
          "readOnly": true,
          "description": "Output only. A value of \"Skip\". If provided, this field may only be set to `true`. If a question receives this answer, it will be excluded from any score calculations. This would mean that the question was not evaluated.",
          "type": "boolean"
        },
        "numValue": {
          "format": "double",
          "description": "Numerical value.",
          "type": "number"
        }
      },
      "description": "Message for holding the value of a QaAnswer. QaQuestion.AnswerChoice defines the possible answer values for a question.",
      "id": "GoogleCloudContactcenterinsightsV1QaAnswerAnswerValue",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1AnnotatorSelectorQaConfigScorecardList": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1AnnotatorSelectorQaConfigScorecardList",
      "properties": {
        "qaScorecardRevisions": {
          "items": {
            "type": "string"
          },
          "description": "List of QaScorecardRevisions.",
          "type": "array"
        }
      },
      "description": "Container for a list of scorecards.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainDeleteQaQuestionTagMetadata": {
      "description": "The metadata for deleting a QaQuestionTag Resource.",
      "properties": {
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the operation finished running."
        },
        "request": {
          "description": "Output only. The original request.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainDeleteQaQuestionTagRequest",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation was created."
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainDeleteQaQuestionTagMetadata"
    },
    "GoogleCloudContactcenterinsightsV1alpha1IssueModelInputDataConfig": {
      "type": "object",
      "properties": {
        "medium": {
          "description": "Medium of conversations used in training data. This field is being deprecated. To specify the medium to be used in training a new issue model, set the `medium` field on `filter`.",
          "enum": [
            "MEDIUM_UNSPECIFIED",
            "PHONE_CALL",
            "CHAT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value for unspecified.",
            "The format for conversations that took place over the phone.",
            "The format for conversations that took place over chat."
          ],
          "deprecated": true
        },
        "filter": {
          "description": "A filter to reduce the conversations used for training the model to a specific subset. Refer to https://cloud.google.com/contact-center/insights/docs/filtering for details.",
          "type": "string"
        },
        "trainingConversationsCount": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Number of conversations used in training. Output only.",
          "format": "int64"
        }
      },
      "description": "Configs for the input data used to create the issue model.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1IssueModelInputDataConfig"
    },
    "GoogleCloudContactcenterinsightsV1alpha1CreateAnalysisOperationMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1CreateAnalysisOperationMetadata",
      "description": "Metadata for a create analysis operation.",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "type": "string"
        },
        "conversation": {
          "readOnly": true,
          "description": "Output only. The Conversation that this Analysis Operation belongs to.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation was created."
        },
        "annotatorSelector": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1AnnotatorSelector",
          "description": "Output only. The annotator selector used for the analysis (if any).",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1AnnotatorSelector": {
      "description": "Selector of all available annotators and phrase matchers to run.",
      "id": "GoogleCloudContactcenterinsightsV1AnnotatorSelector",
      "properties": {
        "runSentimentAnnotator": {
          "type": "boolean",
          "description": "Whether to run the sentiment annotator."
        },
        "qaConfig": {
          "$ref": "GoogleCloudContactcenterinsightsV1AnnotatorSelectorQaConfig",
          "description": "Configuration for the QA annotator."
        },
        "runQaAnnotator": {
          "description": "Whether to run the QA annotator.",
          "type": "boolean"
        },
        "runInterruptionAnnotator": {
          "type": "boolean",
          "description": "Whether to run the interruption annotator."
        },
        "runIntentAnnotator": {
          "description": "Whether to run the intent annotator.",
          "type": "boolean"
        },
        "phraseMatchers": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of phrase matchers to run. If not provided, all active phrase matchers will be used. If inactive phrase matchers are provided, they will not be used. Phrase matchers will be run only if run_phrase_matcher_annotator is set to true. Format: projects/{project}/locations/{location}/phraseMatchers/{phrase_matcher}"
        },
        "runEntityAnnotator": {
          "type": "boolean",
          "description": "Whether to run the entity annotator."
        },
        "runSilenceAnnotator": {
          "description": "Whether to run the silence annotator.",
          "type": "boolean"
        },
        "runSummarizationAnnotator": {
          "description": "Whether to run the summarization annotator.",
          "type": "boolean"
        },
        "runIssueModelAnnotator": {
          "description": "Whether to run the issue model annotator. A model should have already been deployed for this to take effect.",
          "type": "boolean"
        },
        "issueModels": {
          "description": "The issue model to run. If not provided, the most recently deployed topic model will be used. The provided issue model will only be used for inference if the issue model is deployed and if run_issue_model_annotator is set to true. If more than one issue model is provided, only the first provided issue model will be used for inference.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "runPhraseMatcherAnnotator": {
          "description": "Whether to run the active phrase matcher annotator(s).",
          "type": "boolean"
        },
        "runAutoLabelingAnnotator": {
          "description": "Optional. Whether to run the auto-labeling annotator. If true, the auto-labeling annotator will be run. This is a non-billable operation designed for fixing or backfilling custom labels.",
          "type": "boolean"
        },
        "summarizationConfig": {
          "description": "Configuration for the summarization annotator.",
          "$ref": "GoogleCloudContactcenterinsightsV1AnnotatorSelectorSummarizationConfig"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1IngestConversationsResponse": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1IngestConversationsResponse",
      "properties": {},
      "description": "The response to an IngestConversations operation."
    },
    "GoogleCloudContactcenterinsightsV1alpha1IntentMatchData": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1IntentMatchData",
      "description": "The data for an intent match. Represents an intent match for a text segment in the conversation. A text segment can be part of a sentence, a complete sentence, or an utterance with multiple sentences.",
      "type": "object",
      "properties": {
        "intentUniqueId": {
          "description": "The id of the matched intent. Can be used to retrieve the corresponding intent information.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsRequestTranscriptObjectConfig": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsRequestTranscriptObjectConfig",
      "properties": {
        "medium": {
          "type": "string",
          "enumDescriptions": [
            "Default value for unspecified.",
            "The format for conversations that took place over the phone.",
            "The format for conversations that took place over chat."
          ],
          "enum": [
            "MEDIUM_UNSPECIFIED",
            "PHONE_CALL",
            "CHAT"
          ],
          "description": "Required. The medium transcript objects represent."
        }
      },
      "description": "Configuration for processing transcript objects.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1ExactMatchConfig": {
      "description": "Exact match configuration.",
      "type": "object",
      "properties": {
        "caseSensitive": {
          "type": "boolean",
          "description": "Whether to consider case sensitivity when performing an exact match."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1ExactMatchConfig"
    },
    "GoogleCloudContactcenterinsightsV1GenerativeInsightsMetadata": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1GenerativeInsightsMetadata",
      "description": "The metadata for generative insights.",
      "properties": {
        "errorMessages": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "The error message when the generative insights request fails.",
          "type": "array"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1AnalysisResult": {
      "description": "The result of an analysis.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1AnalysisResult",
      "properties": {
        "callAnalysisMetadata": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1AnalysisResultCallAnalysisMetadata",
          "description": "Call-specific metadata created by the analysis."
        },
        "endTime": {
          "description": "The time at which the analysis ended.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainExportIssueModelResponse": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainExportIssueModelResponse",
      "description": "Response from export issue model",
      "properties": {}
    },
    "GoogleCloudContactcenterinsightsV1CalculateStatsResponse": {
      "properties": {
        "averageTurnCount": {
          "type": "integer",
          "format": "int32",
          "description": "The average number of turns per conversation."
        },
        "smartHighlighterMatches": {
          "additionalProperties": {
            "format": "int32",
            "type": "integer"
          },
          "description": "A map associating each smart highlighter display name with its respective number of matches in the set of conversations.",
          "type": "object"
        },
        "conversationCountTimeSeries": {
          "description": "A time series representing the count of conversations created over time that match that requested filter criteria.",
          "$ref": "GoogleCloudContactcenterinsightsV1CalculateStatsResponseTimeSeries"
        },
        "customHighlighterMatches": {
          "type": "object",
          "description": "A map associating each custom highlighter resource name with its respective number of matches in the set of conversations.",
          "additionalProperties": {
            "format": "int32",
            "type": "integer"
          }
        },
        "conversationCount": {
          "format": "int32",
          "description": "The total number of conversations.",
          "type": "integer"
        },
        "issueMatchesStats": {
          "description": "A map associating each issue resource name with its respective number of matches in the set of conversations. Key has the format: `projects//locations//issueModels//issues/`",
          "additionalProperties": {
            "$ref": "GoogleCloudContactcenterinsightsV1IssueModelLabelStatsIssueStats"
          },
          "type": "object"
        },
        "issueMatches": {
          "type": "object",
          "description": "A map associating each issue resource name with its respective number of matches in the set of conversations. Key has the format: `projects//locations//issueModels//issues/` Deprecated, use `issue_matches_stats` field instead.",
          "deprecated": true,
          "additionalProperties": {
            "type": "integer",
            "format": "int32"
          }
        },
        "averageDuration": {
          "description": "The average duration of all conversations. The average is calculated using only conversations that have a time duration.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1CalculateStatsResponse",
      "type": "object",
      "description": "The response for calculating conversation statistics."
    },
    "GoogleCloudContactcenterinsightsV1alpha1IssueMatchData": {
      "type": "object",
      "properties": {
        "issueAssignment": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1IssueAssignment",
          "description": "Information about the issue's assignment."
        }
      },
      "description": "The data for an issue match annotation.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1IssueMatchData"
    },
    "GoogleCloudContactcenterinsightsV1ChartAction": {
      "id": "GoogleCloudContactcenterinsightsV1ChartAction",
      "type": "object",
      "description": "The action to be taken when the chart is clicked.",
      "properties": {
        "conversationFilter": {
          "description": "The conversation filter string.",
          "type": "string"
        },
        "redirectAction": {
          "$ref": "GoogleCloudContactcenterinsightsV1RedirectAction",
          "description": "Redirect action."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainBulkDeleteFeedbackLabelsRequest": {
      "description": "Request for the BulkDeleteFeedbackLabels endpoint.",
      "id": "GoogleCloudContactcenterinsightsV1mainBulkDeleteFeedbackLabelsRequest",
      "properties": {
        "parent": {
          "description": "Required. The parent resource for new feedback labels.",
          "type": "string"
        },
        "filter": {
          "type": "string",
          "description": "Optional. A filter to reduce results to a specific subset. Supports disjunctions (OR) and conjunctions (AND). Supported fields: * `issue_model_id` * `qa_question_id` * `qa_scorecard_id` * `min_create_time` * `max_create_time` * `min_update_time` * `max_update_time` * `feedback_label_type`: QUALITY_AI, TOPIC_MODELING"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1DimensionMediumDimensionMetadata": {
      "description": "Metadata about the conversation medium dimension.",
      "properties": {
        "medium": {
          "type": "string",
          "description": "Optional. The conversation medium. Currently supports : PHONE_CALL, CHAT."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1DimensionMediumDimensionMetadata",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1InitializeEncryptionSpecRequest": {
      "id": "GoogleCloudContactcenterinsightsV1InitializeEncryptionSpecRequest",
      "type": "object",
      "description": "The request to initialize a location-level encryption specification.",
      "properties": {
        "encryptionSpec": {
          "description": "Required. The encryption spec used for CMEK encryption. It is required that the kms key is in the same region as the endpoint. The same key will be used for all provisioned resources, if encryption is available. If the `kms_key_name` field is left empty, no encryption will be enforced.",
          "$ref": "GoogleCloudContactcenterinsightsV1EncryptionSpec"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1InterruptionData": {
      "type": "object",
      "description": "The data for an interruption annotation.",
      "properties": {},
      "id": "GoogleCloudContactcenterinsightsV1InterruptionData"
    },
    "GoogleIamV1AuditConfig": {
      "properties": {
        "auditLogConfigs": {
          "items": {
            "$ref": "GoogleIamV1AuditLogConfig"
          },
          "type": "array",
          "description": "The configuration for logging of each type of permission."
        },
        "service": {
          "type": "string",
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
        }
      },
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "id": "GoogleIamV1AuditConfig",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1UndeployQaScorecardRevisionRequest": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1UndeployQaScorecardRevisionRequest",
      "description": "The request to undeploy a QaScorecardRevision",
      "properties": {}
    },
    "GoogleCloudContactcenterinsightsV1GenerateConversationSignedAudioResponse": {
      "description": "The response from a GenerateConversationSignedAudio request.",
      "properties": {
        "signedAudioUris": {
          "description": "The signed uris for the audio.",
          "$ref": "GoogleCloudContactcenterinsightsV1SignedAudioUris"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1GenerateConversationSignedAudioResponse",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1FeedbackLabel": {
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "Output only. Update time of the label.",
          "format": "google-datetime",
          "readOnly": true
        },
        "labeledResource": {
          "type": "string",
          "description": "Name of the resource to be labeled. Supported resources are: * `projects/{project}/locations/{location}/qaScorecards/{scorecard}/revisions/{revision}/qaQuestions/{question}` * `projects/{project}/locations/{location}/issueModels/{issue_model}` * `projects/{project}/locations/{location}/generators/{generator_id}`"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Create time of the label.",
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Immutable. Resource name of the FeedbackLabel. Format: projects/{project}/locations/{location}/conversations/{conversation}/feedbackLabels/{feedback_label}"
        },
        "label": {
          "type": "string",
          "description": "String label used for Topic Modeling."
        },
        "qaAnswerLabel": {
          "description": "QaAnswer label used for Quality AI example conversations.",
          "$ref": "GoogleCloudContactcenterinsightsV1QaAnswerAnswerValue"
        }
      },
      "description": "Represents a conversation, resource, and label provided by the user. Can take the form of a string label or a QaAnswer label. QaAnswer labels are used for Quality AI example conversations. String labels are used for Topic Modeling. AgentAssistSummary labels are used for Agent Assist Summarization.",
      "id": "GoogleCloudContactcenterinsightsV1FeedbackLabel",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainBulkDownloadFeedbackLabelsRequestGcsDestination": {
      "properties": {
        "addWhitespace": {
          "type": "boolean",
          "description": "Optional. Add whitespace to the JSON file. Makes easier to read, but increases file size. Only applicable for JSON format."
        },
        "format": {
          "enumDescriptions": [
            "Unspecified format.",
            "CSV format. 1,000 labels are stored per CSV file by default.",
            "JSON format. 1 label stored per JSON file by default."
          ],
          "enum": [
            "FORMAT_UNSPECIFIED",
            "CSV",
            "JSON"
          ],
          "type": "string",
          "description": "Required. File format in which the labels will be exported."
        },
        "recordsPerFileCount": {
          "description": "Optional. The number of records per file. Applicable for either format.",
          "type": "string",
          "format": "int64"
        },
        "alwaysPrintEmptyFields": {
          "description": "Optional. Always print fields with no presence. This is useful for printing fields that are not set, like implicit 0 value or empty lists/maps. Only applicable for JSON format.",
          "type": "boolean"
        },
        "objectUri": {
          "description": "Required. The Google Cloud Storage URI to write the feedback labels to. The file name will be used as a prefix for the files written to the bucket if the output needs to be split across multiple files, otherwise it will be used as is. The file extension will be appended to the file name based on the format selected. E.g. `gs://bucket_name/object_uri_prefix`",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainBulkDownloadFeedbackLabelsRequestGcsDestination",
      "description": "Google Cloud Storage Object details to write the feedback labels to."
    },
    "GoogleCloudContactcenterinsightsV1GenerativeInsightsChartCheckpoint": {
      "id": "GoogleCloudContactcenterinsightsV1GenerativeInsightsChartCheckpoint",
      "properties": {
        "sessionId": {
          "description": "The session id of the chart.",
          "type": "string"
        },
        "revisionId": {
          "description": "The revision id of the chart.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The current chart checkpoint state."
    },
    "GoogleCloudContactcenterinsightsV1alpha1SmartReplyData": {
      "type": "object",
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Map that contains metadata about the Smart Reply and the document from which it originates."
        },
        "queryRecord": {
          "description": "The name of the answer record. Format: projects/{project}/locations/{location}/answerRecords/{answer_record}",
          "type": "string"
        },
        "reply": {
          "description": "The content of the reply.",
          "type": "string"
        },
        "confidenceScore": {
          "type": "number",
          "format": "double",
          "description": "The system's confidence score that this reply is a good match for this conversation, ranging from 0.0 (completely uncertain) to 1.0 (completely certain)."
        }
      },
      "description": "Agent Assist Smart Reply data.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1SmartReplyData"
    },
    "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartChip": {
      "id": "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartChip",
      "type": "object",
      "description": "A suggestion chip.",
      "properties": {
        "actionUri": {
          "description": "Optional. Optional action or destination URI triggered by the chip.",
          "type": "string"
        },
        "text": {
          "type": "string",
          "description": "Optional. The chip label or text."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1ListAnalysisRulesResponse": {
      "description": "The response of listing views.",
      "properties": {
        "analysisRules": {
          "description": "The analysis_rule that match the request.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1AnalysisRule"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1ListAnalysisRulesResponse",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1NoteQaQuestionNote": {
      "properties": {
        "qaQuestion": {
          "type": "string",
          "description": "The question resource that the note is associated with."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1NoteQaQuestionNote",
      "type": "object",
      "description": "A note about a QA question."
    },
    "GoogleCloudContactcenterinsightsV1ListQaQuestionsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "qaQuestions": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1QaQuestion"
          },
          "description": "The QaQuestions under the parent.",
          "type": "array"
        }
      },
      "description": "The response from a ListQaQuestions request.",
      "id": "GoogleCloudContactcenterinsightsV1ListQaQuestionsResponse"
    },
    "GoogleCloudContactcenterinsightsV1BulkDownloadFeedbackLabelsMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1BulkDownloadFeedbackLabelsMetadata",
      "description": "Metadata for the BulkDownloadFeedbackLabel endpoint.",
      "properties": {
        "downloadStats": {
          "$ref": "GoogleCloudContactcenterinsightsV1BulkDownloadFeedbackLabelsMetadataDownloadStats",
          "description": "Output only. Statistics for BulkDownloadFeedbackLabels operation.",
          "readOnly": true
        },
        "endTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running."
        },
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1BulkDownloadFeedbackLabelsRequest",
          "readOnly": true,
          "description": "Output only. The original request for download."
        },
        "partialErrors": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "Partial errors during ingest operation that might cause the operation output to be incomplete.",
          "type": "array"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1UpdateQaQuestionTagMetadata": {
      "properties": {
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running."
        },
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1UpdateQaQuestionTagRequest",
          "description": "Output only. The original request.",
          "readOnly": true
        }
      },
      "description": "The metadata for updating a QaQuestionTag Resource.",
      "id": "GoogleCloudContactcenterinsightsV1UpdateQaQuestionTagMetadata",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1IssueModelLabelStatsIssueStats": {
      "type": "object",
      "description": "Aggregated statistics about an issue.",
      "properties": {
        "displayName": {
          "description": "Display name of the issue.",
          "type": "string"
        },
        "labeledConversationsCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of conversations attached to the issue at this point in time."
        },
        "issue": {
          "description": "Issue resource. Format: projects/{project}/locations/{location}/issueModels/{issue_model}/issues/{issue}",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1IssueModelLabelStatsIssueStats"
    },
    "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsMetadata": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsMetadata",
      "properties": {
        "resultIsTruncated": {
          "type": "boolean",
          "description": "Whether the result rows were truncated because the result row size is too large to materialize."
        }
      },
      "description": "The metadata from querying metrics."
    },
    "GoogleCloudContactcenterinsightsV1ListDashboardsResponse": {
      "type": "object",
      "properties": {
        "dashboards": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1Dashboard"
          },
          "description": "The dashboards under the parent.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The value returned by the last `ListDashboardsResponse`. This value indicates that this is a continuation of a prior `ListDashboards` call and that the system should return the next page of data."
        }
      },
      "description": "The response of listing dashboards.",
      "id": "GoogleCloudContactcenterinsightsV1ListDashboardsResponse"
    },
    "GoogleCloudContactcenterinsightsV1BulkUploadFeedbackLabelsRequestSheetsSource": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1BulkUploadFeedbackLabelsRequestSheetsSource",
      "properties": {
        "spreadsheetUri": {
          "description": "Required. The Google Sheets document to write the feedback labels to. Retrieved from Google Sheets URI. E.g. `https://docs.google.com/spreadsheets/d/1234567890` The spreadsheet must be shared with the Insights P4SA.",
          "type": "string"
        }
      },
      "description": "Google Sheets document details to get the feedback label file from."
    },
    "GoogleCloudContactcenterinsightsV1mainBulkAnalyzeConversationsMetadata": {
      "properties": {
        "totalRequestedAnalysesCount": {
          "type": "integer",
          "description": "Total number of analyses requested. Computed by the number of conversations returned by `filter` multiplied by `analysis_percentage` in the request.",
          "format": "int32"
        },
        "createTime": {
          "description": "The time the operation was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainBulkAnalyzeConversationsRequest",
          "description": "The original request for bulk analyze."
        },
        "completedAnalysesCount": {
          "description": "The number of requested analyses that have completed successfully so far.",
          "format": "int32",
          "type": "integer"
        },
        "partialErrors": {
          "type": "array",
          "description": "Output only. Partial errors during bulk analyze operation that might cause the operation output to be incomplete.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "failedAnalysesCount": {
          "format": "int32",
          "description": "The number of requested analyses that have failed so far.",
          "type": "integer"
        },
        "relabel": {
          "description": "Output only. If true, the labeling rules will be re-evaluated for the conversations.",
          "type": "boolean",
          "readOnly": true
        },
        "endTime": {
          "type": "string",
          "description": "The time the operation finished running.",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainBulkAnalyzeConversationsMetadata",
      "description": "The metadata for a bulk analyze conversations operation."
    },
    "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartListPart": {
      "description": "A list part.",
      "properties": {
        "items": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartListItem"
          },
          "description": "Optional. List items.",
          "type": "array"
        },
        "listType": {
          "type": "string",
          "description": "Optional. The type of list.",
          "enumDescriptions": [
            "Unspecified list type.",
            "Unordered list.",
            "Ordered numbered list.",
            "Ordered alphabetic list."
          ],
          "enum": [
            "LIST_TYPE_UNSPECIFIED",
            "UNORDERED",
            "ORDERED_NUMBER",
            "ORDERED_ALPHA"
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartListPart"
    },
    "GoogleCloudContactcenterinsightsV1QaQuestionPredefinedQuestionConfig": {
      "type": "object",
      "description": "Configuration for a predefined question. This field will only be set if the Question Type is predefined.",
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of the predefined question.",
          "enum": [
            "PREDEFINED_QUESTION_TYPE_UNSPECIFIED",
            "CONVERSATION_OUTCOME",
            "CONVERSATION_OUTCOME_ESCALATION_INITIATOR_ROLE"
          ],
          "enumDescriptions": [
            "The type of the predefined question is unspecified.",
            "A prebuilt classifier classfying the outcome of the conversation. For example, if the customer issue mentioned in a conversation has been resolved or not.",
            "A prebuilt classifier classfying the initiator of the conversation escalation. For example, if it was initiated by the customer or the agent."
          ]
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1QaQuestionPredefinedQuestionConfig"
    },
    "GoogleLongrunningListOperationsResponse": {
      "id": "GoogleLongrunningListOperationsResponse",
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          }
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartTableRow": {
      "description": "A row in a table.",
      "type": "object",
      "properties": {
        "cells": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The cell values in the row."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartTableRow"
    },
    "GoogleCloudContactcenterinsightsV1mainCreateIssueModelMetadata": {
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation was created."
        },
        "endTime": {
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "readOnly": true
        },
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainCreateIssueModelRequest",
          "description": "The original request for creation."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainCreateIssueModelMetadata",
      "description": "Metadata for creating an issue model."
    },
    "GoogleCloudCesV1mainBlob": {
      "description": "Represents a blob input or output in the conversation.",
      "type": "object",
      "properties": {
        "mimeType": {
          "description": "Required. The IANA standard MIME type of the source data.",
          "type": "string"
        },
        "data": {
          "format": "byte",
          "description": "Required. Raw bytes of the blob.",
          "type": "string"
        }
      },
      "id": "GoogleCloudCesV1mainBlob"
    },
    "GoogleCloudContactcenterinsightsV1alpha1SentimentData": {
      "type": "object",
      "properties": {
        "magnitude": {
          "description": "A non-negative number from 0 to infinity which represents the absolute magnitude of sentiment regardless of score.",
          "format": "float",
          "type": "number"
        },
        "score": {
          "description": "The sentiment score between -1.0 (negative) and 1.0 (positive).",
          "format": "float",
          "type": "number"
        }
      },
      "description": "The data for a sentiment annotation.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1SentimentData"
    },
    "GoogleCloudContactcenterinsightsV1Container": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1Container",
      "description": "Configurable dashboard's container. Container can contain multiple widgets.",
      "properties": {
        "displayName": {
          "description": "User provided display name of the Container.",
          "type": "string"
        },
        "widgets": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1Widget"
          },
          "type": "array",
          "description": "Widgets in the Container."
        },
        "dateRangeConfig": {
          "description": "Date range config applied to all charts in the container.",
          "$ref": "GoogleCloudContactcenterinsightsV1DateRangeConfig"
        },
        "description": {
          "type": "string",
          "description": "Container description"
        },
        "containerId": {
          "description": "Output only. Unique ID for the container.",
          "readOnly": true,
          "type": "string"
        },
        "filter": {
          "type": "string",
          "description": "Filter applied to all charts in the container. Should support scope later."
        },
        "width": {
          "description": "The width of the container in grid units.",
          "type": "integer",
          "format": "int32"
        },
        "height": {
          "format": "int32",
          "description": "The height of the container in grid units.",
          "type": "integer"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartThoughtPart": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartThoughtPart",
      "properties": {
        "text": {
          "type": "string",
          "description": "Optional. The thought or reasoning text."
        }
      },
      "description": "A thought part."
    },
    "GoogleCloudContactcenterinsightsV1BulkDeleteConversationsMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1BulkDeleteConversationsMetadata",
      "properties": {
        "partialErrors": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "Partial errors during bulk delete conversations operation that might cause the operation output to be incomplete.",
          "type": "array"
        },
        "createTime": {
          "description": "The time the operation was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the operation finished running."
        },
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1BulkDeleteConversationsRequest",
          "description": "The original request for bulk delete."
        }
      },
      "type": "object",
      "description": "The metadata for a bulk delete conversations operation."
    },
    "GoogleCloudContactcenterinsightsV1alpha1ExportIssueModelRequest": {
      "description": "Request to export an issue model.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The issue model to export."
        },
        "gcsDestination": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1ExportIssueModelRequestGcsDestination",
          "description": "Google Cloud Storage URI to export the issue model to."
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1ExportIssueModelRequest"
    },
    "GoogleCloudContactcenterinsightsV1PublishAssessmentRequest": {
      "type": "object",
      "description": "The message to publish an assessment. Draft and appealed assessments can be published. Publishing simply changes the state of the assessment to published, allowing the console and authorized views to filter on the state.",
      "id": "GoogleCloudContactcenterinsightsV1PublishAssessmentRequest",
      "properties": {}
    },
    "GoogleCloudContactcenterinsightsV1mainExportIssueModelRequest": {
      "description": "Request to export an issue model.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainExportIssueModelRequest",
      "properties": {
        "name": {
          "description": "Required. The issue model to export.",
          "type": "string"
        },
        "gcsDestination": {
          "description": "Google Cloud Storage URI to export the issue model to.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainExportIssueModelRequestGcsDestination"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1GenerativeInsightConversationTranscriptMessageSystemMessage": {
      "description": "A message from the system in response to the user. This message can also be a message from the user as historical context for multiturn conversations with the system.",
      "type": "object",
      "properties": {
        "userProvidedChartSpec": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "Optional. User provided chart spec"
        },
        "chartSpec": {
          "description": "Chart spec from LLM",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "textMessage": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1GenerativeInsightConversationTranscriptMessageSystemMessageTextOutput",
          "description": "A direct natural language response to the user message."
        },
        "generatedSqlQuery": {
          "description": "Raw SQL from LLM, before templatization",
          "type": "string"
        },
        "userProvidedSqlQuery": {
          "type": "string",
          "description": "Optional. User provided SQL query"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1GenerativeInsightConversationTranscriptMessageSystemMessage"
    },
    "GoogleCloudContactcenterinsightsV1SettingsAnalysisConfig": {
      "properties": {
[...]
