{
  "discoveryVersion": "v1",
  "schemas": {
    "AccountIdentityType": {
      "id": "AccountIdentityType",
      "properties": {
        "selfIdentified": {
          "type": "boolean",
          "description": "Optional. Indicates that the business identifies itself with a given identity type. Setting this field does not automatically mean eligibility for promotions."
        }
      },
      "description": "The account identity type used to specify attributes.",
      "type": "object"
    },
    "ListCollectionStatusesResponse": {
      "description": "Response message for the ListCollectionStatuses method.",
      "type": "object",
      "id": "ListCollectionStatusesResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "resources": {
          "items": {
            "$ref": "CollectionStatus"
          },
          "description": "The collectionstatuses listed.",
          "type": "array"
        }
      }
    },
    "BuiltInSimpleActionAdditionalContent": {
      "id": "BuiltInSimpleActionAdditionalContent",
      "properties": {
        "paragraphs": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Long text organized into paragraphs."
        },
        "title": {
          "type": "string",
          "description": "Title of the additional content;"
        }
      },
      "description": "Long text from external source.",
      "type": "object"
    },
    "ActionFlow": {
      "id": "ActionFlow",
      "properties": {
        "dialogTitle": {
          "description": "Title of the request dialog. For example: \"Before you request a review\"",
          "type": "string"
        },
        "dialogCallout": {
          "$ref": "Callout",
          "description": "Important message to be highlighted in the request dialog. For example: \"You can only request a review for disagreeing with this issue once. If it's not approved, you'll need to fix the issue and wait a few days before you can request another review.\""
        },
        "dialogButtonLabel": {
          "type": "string",
          "description": "Label for the button to trigger the action from the action dialog. For example: \"Request review\""
        },
        "label": {
          "type": "string",
          "description": "Text value describing the intent for the action flow. It can be used as an input label if merchant needs to pick one of multiple flows. For example: \"I disagree with the issue\""
        },
        "inputs": {
          "items": {
            "$ref": "InputField"
          },
          "description": "A list of input fields.",
          "type": "array"
        },
        "id": {
          "description": "Not for display but need to be sent back for the selected action flow.",
          "type": "string"
        },
        "dialogMessage": {
          "$ref": "TextWithTooltip",
          "description": "Message displayed in the request dialog. For example: \"Make sure you've fixed all your country-specific issues. If not, you may have to wait 7 days to request another review\". There may be an more information to be shown in a tooltip."
        }
      },
      "description": "Flow that can be selected for an action. When merchant selects a flow, application should open a dialog with more information and input form.",
      "type": "object"
    },
    "InputFieldChoiceInputChoiceInputOption": {
      "description": "A choice that merchant can select.",
      "type": "object",
      "id": "InputFieldChoiceInputChoiceInputOption",
      "properties": {
        "id": {
          "description": "Not for display but need to be sent back for the selected choice option.",
          "type": "string"
        },
        "additionalInput": {
          "description": "Input that should be displayed when this option is selected. The additional input will not contain a `ChoiceInput`.",
          "$ref": "InputField"
        },
        "label": {
          "description": "Short description of the choice option. There may be more information to be shown as a tooltip.",
          "$ref": "TextWithTooltip"
        }
      }
    },
    "ProductDeliveryTimeAreaDeliveryTime": {
      "description": "A pairing of `DeliveryArea` associated with a `DeliveryTime` for this product.",
      "type": "object",
      "id": "ProductDeliveryTimeAreaDeliveryTime",
      "properties": {
        "deliveryTime": {
          "$ref": "ProductDeliveryTimeAreaDeliveryTimeDeliveryTime",
          "description": "Required. The delivery time associated with `deliveryArea` for this product."
        },
        "deliveryArea": {
          "$ref": "DeliveryArea",
          "description": "Required. The delivery area associated with `deliveryTime` for this product."
        }
      }
    },
    "PostalCodeRange": {
      "type": "object",
      "id": "PostalCodeRange",
      "properties": {
        "postalCodeRangeEnd": {
          "description": "A postal code or a pattern of the form `prefix*` denoting the inclusive upper bound of the range defining the area. It must have the same length as `postalCodeRangeBegin`: if `postalCodeRangeBegin` is a postal code then `postalCodeRangeEnd` must be a postal code too; if `postalCodeRangeBegin` is a pattern then `postalCodeRangeEnd` must be a pattern with the same prefix length. Optional: if not set, then the area is defined as being all the postal codes matching `postalCodeRangeBegin`.",
          "type": "string"
        },
        "postalCodeRangeBegin": {
          "description": "A postal code or a pattern of the form `prefix*` denoting the inclusive lower bound of the range defining the area. Examples values: `\"94108\"`, `\"9410*\"`, `\"9*\"`. Required.",
          "type": "string"
        }
      }
    },
    "Css": {
      "id": "Css",
      "properties": {
        "cssGroupId": {
          "description": "Output only. Immutable. The ID of the CSS group this CSS domain is affiliated with. Only populated for CSS group users.",
          "format": "int64",
          "type": "string",
          "readOnly": true
        },
        "labelIds": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array",
          "description": "A list of label IDs that are assigned to this CSS domain by its CSS group. Only populated for CSS group users."
        },
        "cssDomainId": {
          "description": "Output only. Immutable. The CSS domain ID.",
          "format": "int64",
          "type": "string",
          "readOnly": true
        },
        "fullName": {
          "description": "Output only. Immutable. The CSS domain's full name.",
          "type": "string",
          "readOnly": true
        },
        "homepageUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Immutable. The CSS domain's homepage."
        },
        "displayName": {
          "description": "Output only. Immutable. The CSS domain's display name, used when space is constrained.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Information about CSS domain.",
      "type": "object"
    },
    "LiasettingsSetInventoryVerificationContactResponse": {
      "type": "object",
      "id": "LiasettingsSetInventoryVerificationContactResponse",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#liasettingsSetInventoryVerificationContactResponse`\"."
        }
      }
    },
    "InputValue": {
      "type": "object",
      "description": "Input provided by the merchant for input field.",
      "id": "InputValue",
      "properties": {
        "inputFieldId": {
          "type": "string",
          "description": "Required. Id of the corresponding input field."
        },
        "choiceInputValue": {
          "$ref": "InputValueChoiceInputValue",
          "description": "Value for choice input field."
        },
        "checkboxInputValue": {
          "$ref": "InputValueCheckboxInputValue",
          "description": "Value for checkbox input field."
        },
        "textInputValue": {
          "$ref": "InputValueTextInputValue",
          "description": "Value for text input field."
        }
      }
    },
    "AccountStatusStatistics": {
      "id": "AccountStatusStatistics",
      "properties": {
        "disapproved": {
          "type": "string",
          "description": "Number of disapproved offers.",
          "format": "int64"
        },
        "expiring": {
          "description": "Number of expiring offers.",
          "format": "int64",
          "type": "string"
        },
        "active": {
          "description": "Number of active offers.",
          "format": "int64",
          "type": "string"
        },
        "pending": {
          "description": "Number of pending offers.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "FreeListingsProgramStatusReviewIneligibilityReasonDetails": {
      "type": "object",
      "description": "Additional details for review ineligibility reasons.",
      "id": "FreeListingsProgramStatusReviewIneligibilityReasonDetails",
      "properties": {
        "cooldownTime": {
          "type": "string",
          "description": "This timestamp represents end of cooldown period for review ineligbility reason `IN_COOLDOWN_PERIOD`.",
          "format": "google-datetime"
        }
      }
    },
    "LiaCountrySettings": {
      "type": "object",
      "id": "LiaCountrySettings",
      "properties": {
        "hostedLocalStorefrontActive": {
          "type": "boolean",
          "description": "The status of the \"Merchant hosted local storefront\" feature."
        },
        "posDataProvider": {
          "description": "The POS data provider linked with this country.",
          "$ref": "LiaPosDataProvider"
        },
        "about": {
          "description": "The settings for the About page.",
          "$ref": "LiaAboutPageSettings"
        },
        "omnichannelExperience": {
          "$ref": "LiaOmnichannelExperience",
          "description": "The omnichannel experience configured for this country."
        },
        "country": {
          "description": "Required. CLDR country code (for example, \"US\").",
          "type": "string"
        },
        "inventory": {
          "description": "LIA inventory verification settings.",
          "$ref": "LiaInventorySettings"
        },
        "onDisplayToOrder": {
          "description": "LIA \"On Display To Order\" settings.",
          "$ref": "LiaOnDisplayToOrderSettings"
        },
        "storePickupActive": {
          "type": "boolean",
          "description": "The status of the \"Store pickup\" feature."
        }
      }
    },
    "ShippingsettingsCustomBatchResponseEntry": {
      "id": "ShippingsettingsCustomBatchResponseEntry",
      "properties": {
        "batchId": {
          "type": "integer",
          "description": "The ID of the request entry to which this entry responds.",
          "format": "uint32"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#shippingsettingsCustomBatchResponseEntry`\"",
          "type": "string"
        },
        "shippingSettings": {
          "description": "The retrieved or updated account shipping settings.",
          "$ref": "ShippingSettings"
        },
        "errors": {
          "$ref": "Errors",
          "description": "A list of errors for failed custombatch entries. *Note:* Schema errors fail the whole request."
        }
      },
      "type": "object",
      "description": "A batch entry encoding a single non-batch shipping settings response."
    },
    "ReturnPolicyOnlineRestockingFee": {
      "type": "object",
      "description": "The restocking fee. This can either be a fixed fee or a micro percent.",
      "id": "ReturnPolicyOnlineRestockingFee",
      "properties": {
        "microPercent": {
          "type": "integer",
          "description": "Percent of total price in micros. 15,000,000 means 15% of the total price would be charged.",
          "format": "int32"
        },
        "fixedFee": {
          "$ref": "PriceAmount",
          "description": "Fixed restocking fee."
        }
      }
    },
    "ProductDeliveryTime": {
      "id": "ProductDeliveryTime",
      "properties": {
        "productId": {
          "$ref": "ProductId",
          "description": "Required. The `id` of the product."
        },
        "areaDeliveryTimes": {
          "items": {
            "$ref": "ProductDeliveryTimeAreaDeliveryTime"
          },
          "description": "Required. A set of associations between `DeliveryArea` and `DeliveryTime` entries. The total number of `areaDeliveryTimes` can be at most 100.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "The estimated days to deliver a product after an order is placed. Only authorized shipping signals partners working with a merchant can use this resource. Merchants should use the [`products`](https://developers.google.com/shopping-content/reference/rest/v2.1/products#productshipping) resource instead."
    },
    "AttributionSettingsConversionType": {
      "description": "Message representing a types of conversion events",
      "type": "object",
      "id": "AttributionSettingsConversionType",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. Conversion event name, as it'll be reported by the client.",
          "type": "string"
        },
        "includeInReporting": {
          "description": "Output only. Option indicating if the type should be included in Merchant Center reporting.",
          "type": "boolean",
          "readOnly": true
        }
      }
    },
    "SearchResponse": {
      "id": "SearchResponse",
      "properties": {
        "results": {
          "items": {
            "$ref": "ReportRow"
          },
          "type": "array",
          "description": "Rows that matched the search query."
        },
        "nextPageToken": {
          "description": "Token which can be sent as `page_token` to retrieve the next page. If omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for the ReportService.Search method."
    },
    "InputFieldChoiceInput": {
      "type": "object",
      "description": "Choice input allows merchants to select one of the offered choices. Some choices may be linked to additional input fields that should be displayed under or next to the choice option. The value for the additional input field needs to be provided only when the specific choice is selected by the merchant. For example, additional input field can be hidden or disabled until the merchant selects the specific choice.",
      "id": "InputFieldChoiceInput",
      "properties": {
        "options": {
          "description": "A list of choices. Only one option can be selected.",
          "type": "array",
          "items": {
            "$ref": "InputFieldChoiceInputChoiceInputOption"
          }
        }
      }
    },
    "LocalinventoryCustomBatchRequest": {
      "type": "object",
      "id": "LocalinventoryCustomBatchRequest",
      "properties": {
        "entries": {
          "type": "array",
          "description": "The request entries to be processed in the batch.",
          "items": {
            "$ref": "LocalinventoryCustomBatchRequestEntry"
          }
        }
      }
    },
    "MerchantCenterDestination": {
      "id": "MerchantCenterDestination",
      "properties": {
        "currencyCode": {
          "type": "string",
          "description": "Required. Three-letter currency code (ISO 4217). The currency code defines in which currency the conversions sent to this destination will be reported in Merchant Center."
        },
        "attributionSettings": {
          "description": "Required. Attribution settings being used for the Merchant Center Destination.",
          "$ref": "AttributionSettings"
        },
        "destinationId": {
          "type": "string",
          "description": "Output only. Merchant Center Destination ID.",
          "readOnly": true
        },
        "displayName": {
          "description": "Required. Merchant-specified display name for the destination. This is the name that identifies the conversion source within the Merchant Center UI. Limited to 64 characters.",
          "type": "string"
        }
      },
      "description": "\"Merchant Center Destination\" sources can be used to send conversion events from a website using a Google tag directly to a Merchant Center account where the source is created.",
      "type": "object"
    },
    "RequestReviewShoppingAdsRequest": {
      "id": "RequestReviewShoppingAdsRequest",
      "properties": {
        "regionCode": {
          "type": "string",
          "description": "The code [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) of the country for which review is to be requested."
        }
      },
      "type": "object",
      "description": "Request message for the RequestReviewShoppingAds program method."
    },
    "ServiceStoreConfigCutoffConfig": {
      "type": "object",
      "description": "Time local delivery ends for the day based on the local timezone of the store. `local_cutoff_time` and `store_close_offset_hours` are mutually exclusive.",
      "id": "ServiceStoreConfigCutoffConfig",
      "properties": {
        "storeCloseOffsetHours": {
          "type": "string",
          "description": "Represents cutoff time as the number of hours before store closing. Mutually exclusive with other fields (hour and minute).",
          "format": "int64"
        },
        "noDeliveryPostCutoff": {
          "type": "boolean",
          "description": "Merchants can opt-out of showing n+1 day local delivery when they have a shipping service configured to n day local delivery. For example, if the shipping service defines same-day delivery, and it's past the cut-off, setting this field to `true` results in the calculated shipping service rate returning `NO_DELIVERY_POST_CUTOFF`. In the same example, setting this field to `false` results in the calculated shipping time being one day. This is only for local delivery."
        },
        "localCutoffTime": {
          "description": "Time in hours and minutes in the local timezone when local delivery ends.",
          "$ref": "ServiceStoreConfigCutoffConfigLocalCutoffTime"
        }
      }
    },
    "AlternateDisputeResolution": {
      "id": "AlternateDisputeResolution",
      "properties": {
        "uri": {
          "type": "string",
          "description": "The URL pointing to a page, where merchant can request alternative dispute resolution with an [external body](https://support.google.com/european-union-digital-services-act-redress-options/answer/13535501)."
        },
        "label": {
          "type": "string",
          "description": "The label for the alternate dispute resolution link."
        }
      },
      "description": "The Alternate Dispute Resolution (ADR) that may be available to merchants in some regions. If present, the link should be shown on the same page as the list of issues.",
      "type": "object"
    },
    "AccountShippingImprovements": {
      "type": "object",
      "description": "Not available for MCAs [accounts](https://support.google.com/merchants/answer/188487). By turning on [automatic shipping improvements](https://support.google.com/merchants/answer/10027038), you are allowing Google to improve the accuracy of your delivery times shown to shoppers using Google. More accurate delivery times, especially when faster, typically lead to better conversion rates. Google will improve your estimated delivery times based on various factors: * Delivery address of an order * Current handling time and shipping time settings * Estimated weekdays or business days * Parcel tracking data",
      "id": "AccountShippingImprovements",
      "properties": {
        "allowShippingImprovements": {
          "type": "boolean",
          "description": "Enables automatic shipping improvements."
        }
      }
    },
    "AccounttaxCustomBatchResponse": {
      "type": "object",
      "id": "AccounttaxCustomBatchResponse",
      "properties": {
        "entries": {
          "items": {
            "$ref": "AccounttaxCustomBatchResponseEntry"
          },
          "type": "array",
          "description": "The result of the execution of the batch requests."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#accounttaxCustomBatchResponse`\"."
        }
      }
    },
    "AccountStatus": {
      "id": "AccountStatus",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#accountStatus`\""
        },
        "accountId": {
          "description": "The ID of the account for which the status is reported.",
          "type": "string"
        },
        "websiteClaimed": {
          "description": "Whether the account's website is claimed or not.",
          "type": "boolean"
        },
        "accountManagement": {
          "type": "string",
          "description": "How the account is managed. Acceptable values are: - \"`manual`\" - \"`automatic`\" "
        },
        "accountLevelIssues": {
          "description": "A list of account level issues.",
          "type": "array",
          "items": {
            "$ref": "AccountStatusAccountLevelIssue"
          }
        },
        "products": {
          "description": "List of product-related data by channel, destination, and country. Data in this field may be delayed by up to 30 minutes.",
          "type": "array",
          "items": {
            "$ref": "AccountStatusProducts"
          }
        }
      },
      "description": "The status of an account, that is, information about its products, which is computed offline and not returned immediately at insertion time.",
      "type": "object"
    },
    "ShippingsettingsCustomBatchRequest": {
      "id": "ShippingsettingsCustomBatchRequest",
      "properties": {
        "entries": {
          "description": "The request entries to be processed in the batch.",
          "type": "array",
          "items": {
            "$ref": "ShippingsettingsCustomBatchRequestEntry"
          }
        }
      },
      "type": "object"
    },
    "PickupServicesPickupService": {
      "id": "PickupServicesPickupService",
      "properties": {
        "carrierName": {
          "type": "string",
          "description": "The name of the carrier (for example, `\"UPS\"`). Always present."
        },
        "country": {
          "description": "The CLDR country code of the carrier (for example, \"US\"). Always present.",
          "type": "string"
        },
        "serviceName": {
          "description": "The name of the pickup service (for example, `\"Access point\"`). Always present.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PosInventory": {
      "id": "PosInventory",
      "properties": {
        "itemId": {
          "type": "string",
          "description": "Required. A unique identifier for the item."
        },
        "pickupSla": {
          "type": "string",
          "description": "Optional. Expected date that an order will be ready for pickup relative to the order date. Must be submitted together with `pickupMethod`. For accepted attribute values, see the [local product inventory feed specification](https://support.google.com/merchants/answer/3061342)."
        },
        "targetCountry": {
          "description": "Required. The CLDR territory code for the item.",
          "type": "string"
        },
        "contentLanguage": {
          "type": "string",
          "description": "Required. The two-letter ISO 639-1 language code for the item."
        },
        "price": {
          "$ref": "Price",
          "description": "Required. The current price of the item."
        },
        "pickupMethod": {
          "description": "Optional. Supported pickup method for this offer. Unless the value is \"not supported\", this field must be submitted together with `pickupSla`. For accepted attribute values, see the [local product inventory feed specification](https://support.google.com/merchants/answer/3061342).",
          "type": "string"
        },
        "timestamp": {
          "description": "Required. The inventory timestamp, in ISO 8601 format.",
          "type": "string"
        },
        "storeCode": {
          "description": "Required. The identifier of the merchant's store. Either a `storeCode` inserted through the API or the code of the store in a Business Profile.",
          "type": "string"
        },
        "quantity": {
          "type": "string",
          "description": "Required. The available quantity of the item.",
          "format": "int64"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#posInventory`\""
        },
        "gtin": {
          "type": "string",
          "description": "Global Trade Item Number."
        }
      },
      "description": "The absolute quantity of an item available at the given store.",
      "type": "object"
    },
    "AccountCredentials": {
      "type": "object",
      "description": "Credentials allowing Google to call a partner's API on behalf of a merchant.",
      "id": "AccountCredentials",
      "properties": {
        "purpose": {
          "enumDeprecated": [
            false,
            true,
            false
          ],
          "enum": [
            "ACCOUNT_CREDENTIALS_PURPOSE_UNSPECIFIED",
            "SHOPIFY_ORDER_MANAGEMENT",
            "SHOPIFY_INTEGRATION"
          ],
          "enumDescriptions": [
            "Unknown purpose.",
            "The credentials allow Google to manage Shopify orders on behalf of the merchant (deprecated).",
            "The credentials allow Google to manage Shopify integration on behalf of the merchant."
          ],
          "type": "string",
          "description": "Indicates to Google how Google should use these OAuth tokens."
        },
        "accessToken": {
          "description": "An OAuth access token.",
          "type": "string"
        },
        "expiresIn": {
          "type": "string",
          "description": "The amount of time, in seconds, after which the access token is no longer valid.",
          "format": "int64"
        }
      }
    },
    "AccountsCustomBatchRequestEntryLinkRequest": {
      "id": "AccountsCustomBatchRequestEntryLinkRequest",
      "properties": {
        "linkedAccountId": {
          "type": "string",
          "description": "The ID of the linked account."
        },
        "linkType": {
          "description": "Type of the link between the two accounts. Acceptable values are: - \"`channelPartner`\" - \"`eCommercePlatform`\" - \"`paymentServiceProvider`\" - \"`localProductManager`\" ",
          "type": "string"
        },
        "services": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Provided services. Acceptable values are: - \"`shoppingAdsProductManagement`\" - \"`shoppingActionsProductManagement`\" - \"`shoppingActionsOrderManagement`\" - \"`paymentProcessing`\" - \"`localProductManagement`\" "
        },
        "action": {
          "type": "string",
          "description": "Action to perform for this link. The `\"request\"` action is only available to select merchants. Acceptable values are: - \"`approve`\" - \"`remove`\" - \"`request`\" "
        }
      },
      "type": "object"
    },
    "ProductstatusesListResponse": {
      "id": "ProductstatusesListResponse",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#productstatusesListResponse`\".",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token for the retrieval of the next page of products statuses."
        },
        "resources": {
          "type": "array",
          "items": {
            "$ref": "ProductStatus"
          }
        }
      },
      "type": "object"
    },
    "RequestReviewFreeListingsRequest": {
      "description": "Request message for the RequestReviewFreeListings Program method.",
      "type": "object",
      "id": "RequestReviewFreeListingsRequest",
      "properties": {
        "regionCode": {
          "type": "string",
          "description": "The code [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) of the country for which review is to be requested."
        }
      }
    },
    "Service": {
      "id": "Service",
      "properties": {
        "name": {
          "description": "Free-form name of the service. Must be unique within target account. Required.",
          "type": "string"
        },
        "eligibility": {
          "description": "Eligibility for this service. Acceptable values are: - \"`All scenarios`\" - \"`All scenarios except Shopping Actions`\" - \"`Shopping Actions`\" ",
          "type": "string"
        },
        "minimumOrderValueTable": {
          "$ref": "MinimumOrderValueTable",
          "description": "Table of per store minimum order values for the pickup fulfillment type. Cannot be set together with minimum_order_value."
        },
        "deliveryTime": {
          "description": "Time spent in various aspects from order to the delivery of the product. Required.",
          "$ref": "DeliveryTime"
        },
        "pickupService": {
          "description": "The carrier-service pair delivering items to collection points. The list of supported pickup services can be retrieved through the `getSupportedPickupServices` method. Required if and only if the service delivery type is `pickup`.",
          "$ref": "PickupCarrierService"
        },
        "currency": {
          "type": "string",
          "description": "The CLDR code of the currency to which this service applies. Must match that of the prices in rate groups."
        },
        "rateGroups": {
          "items": {
            "$ref": "RateGroup"
          },
          "type": "array",
          "description": "Shipping rate group definitions. Only the last one is allowed to have an empty `applicableShippingLabels`, which means \"everything else\". The other `applicableShippingLabels` must not overlap."
        },
        "deliveryCountry": {
          "description": "The CLDR territory code of the country to which the service applies. Required.",
          "type": "string"
        },
        "storeConfig": {
          "$ref": "ServiceStoreConfig",
          "description": "A list of stores your products are delivered from. This is only available for the local delivery shipment type."
        },
        "minimumOrderValue": {
          "description": "Minimum order value for this service. If set, indicates that customers will have to spend at least this amount. All prices within a service must have the same currency. Cannot be set together with minimum_order_value_table.",
          "$ref": "Price"
        },
        "shipmentType": {
          "description": "Type of locations this service ships orders to. Acceptable values are: - \"`delivery`\" - \"`pickup` (deprecated)\" - \"`local_delivery`\" - \"`collection_point`\" ",
          "type": "string"
        },
        "active": {
          "description": "A boolean exposing the active status of the shipping service. Required.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "AccountTax": {
      "type": "object",
      "description": "The tax settings of a merchant account. All methods require the admin role.",
      "id": "AccountTax",
      "properties": {
        "rules": {
          "items": {
            "$ref": "AccountTaxTaxRule"
          },
          "description": "Tax rules. Updating the tax rules will enable \"US\" taxes (not reversible). Defining no rules is equivalent to not charging tax at all.",
          "type": "array"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#accountTax`\".",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "description": "Required. The ID of the account to which these account tax settings belong.",
          "format": "uint64"
        }
      }
    },
    "AccountItemUpdates": {
      "id": "AccountItemUpdates",
      "properties": {
        "accountItemUpdatesSettings": {
          "description": "Determines which attributes of the items should be automatically updated. If this field is not present, then the settings will be deleted. If there are no settings for subaccount, they are inherited from aggregator.",
          "$ref": "AccountItemUpdatesSettings"
        },
        "effectiveAllowPriceUpdates": {
          "readOnly": true,
          "description": "Output only. The effective value of allow_price_updates. If account_item_updates_settings is present, then this value is the same. Otherwise, it represents the inherited value of the parent account. Read-only.",
          "type": "boolean"
        },
        "effectiveAllowStrictAvailabilityUpdates": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. The effective value of allow_strict_availability_updates. If account_item_updates_settings is present, then this value is the same. Otherwise, it represents the inherited value of the parent account. Read-only."
        },
        "effectiveAllowConditionUpdates": {
          "description": "Output only. The effective value of allow_condition_updates. If account_item_updates_settings is present, then this value is the same. Otherwise, it represents the inherited value of the parent account. Read-only.",
          "type": "boolean",
          "readOnly": true
        },
        "effectiveAllowAvailabilityUpdates": {
          "type": "boolean",
          "description": "Output only. The effective value of allow_availability_updates. If account_item_updates_settings is present, then this value is the same. Otherwise, it represents the inherited value of the parent account. Read-only.",
          "readOnly": true
        }
      },
      "description": "Turning on [item updates](https://support.google.com/merchants/answer/3246284) allows Google to automatically update items for you. When item updates are on, Google uses the structured data markup on the website and advanced data extractors to update the price and availability of the items. When the item updates are off, items with mismatched data aren't shown.",
      "type": "object"
    },
    "LabelIds": {
      "id": "LabelIds",
      "properties": {
        "labelIds": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "description": "The list of label IDs.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "The IDs of labels that should be assigned to the CSS domain."
    },
    "ListReturnPolicyOnlineResponse": {
      "description": "Response message for the `ListReturnPolicyOnline` method.",
      "type": "object",
      "id": "ListReturnPolicyOnlineResponse",
      "properties": {
        "returnPolicies": {
          "description": "The retrieved return policies.",
          "type": "array",
          "items": {
            "$ref": "ReturnPolicyOnline"
          }
        }
      }
    },
    "ListCollectionsResponse": {
      "description": "Response message for the ListCollections method.",
      "type": "object",
      "id": "ListCollectionsResponse",
      "properties": {
        "resources": {
          "items": {
            "$ref": "Collection"
          },
          "type": "array",
          "description": "The collections listed."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "ProductsCustomBatchResponseEntry": {
      "id": "ProductsCustomBatchResponseEntry",
      "properties": {
        "batchId": {
          "type": "integer",
          "description": "The ID of the request entry this entry responds to.",
          "format": "uint32"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#productsCustomBatchResponseEntry`\""
        },
        "product": {
          "description": "The inserted product. Only defined if the method is `insert` and if the request was successful.",
          "$ref": "Product"
        },
        "errors": {
          "description": "A list of errors for failed custombatch entries. *Note:* Schema errors fail the whole request.",
          "$ref": "Errors"
        }
      },
      "description": "A batch entry encoding a single non-batch products response.",
      "type": "object"
    },
    "HolidaysHoliday": {
      "id": "HolidaysHoliday",
      "properties": {
        "type": {
          "description": "The holiday type. Always present. Acceptable values are: - \"`Christmas`\" - \"`Easter`\" - \"`Father's Day`\" - \"`Halloween`\" - \"`Independence Day (USA)`\" - \"`Mother's Day`\" - \"`Thanksgiving`\" - \"`Valentine's Day`\" ",
          "type": "string"
        },
        "deliveryGuaranteeHour": {
          "description": "Hour of the day in the delivery location's timezone on the guaranteed delivery date by which the order has to arrive at the customer's. Possible values are: 0 (midnight), 1, ..., 12 (noon), 13, ..., 23. Always present.",
          "format": "uint64",
          "type": "string"
        },
        "countryCode": {
          "description": "The CLDR territory code of the country in which the holiday is available. For example, \"US\", \"DE\", \"GB\". A holiday cutoff can only be configured in a shipping settings service with matching delivery country. Always present.",
          "type": "string"
        },
        "date": {
          "description": "Date of the holiday, in ISO 8601 format. For example, \"2016-12-25\" for Christmas 2016. Always present.",
          "type": "string"
        },
        "deliveryGuaranteeDate": {
          "description": "Date on which the order has to arrive at the customer's, in ISO 8601 format. For example, \"2016-12-24\" for 24th December 2016. Always present.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Unique identifier for the holiday to be used when configuring holiday cutoffs. Always present."
        }
      },
      "type": "object"
    },
    "AccountsUpdateLabelsResponse": {
      "type": "object",
      "id": "AccountsUpdateLabelsResponse",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#accountsUpdateLabelsResponse`\".",
          "type": "string"
        }
      }
    },
    "ProductsCustomBatchResponse": {
      "type": "object",
      "id": "ProductsCustomBatchResponse",
      "properties": {
        "entries": {
          "type": "array",
          "description": "The result of the execution of the batch requests.",
          "items": {
            "$ref": "ProductsCustomBatchResponseEntry"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#productsCustomBatchResponse`\".",
          "type": "string"
        }
      }
    },
    "Segments": {
      "id": "Segments",
      "properties": {
        "customLabel0": {
          "description": "Custom label 0 for custom grouping of products.",
          "type": "string"
        },
        "categoryL1": {
          "description": "[Product category (1st level)](https://developers.google.com/shopping-content/guides/reports/segmentation#category_and_product_type) in Google's product taxonomy.",
          "type": "string"
        },
        "categoryL3": {
          "description": "[Product category (3rd level)](https://developers.google.com/shopping-content/guides/reports/segmentation#category_and_product_type) in Google's product taxonomy.",
          "type": "string"
        },
        "productTypeL3": {
          "description": "[Product type (3rd level)](https://developers.google.com/shopping-content/guides/reports/segmentation#category_and_product_type) in merchant's own product taxonomy.",
          "type": "string"
        },
        "customLabel4": {
          "type": "string",
          "description": "Custom label 4 for custom grouping of products."
        },
        "customLabel2": {
          "type": "string",
          "description": "Custom label 2 for custom grouping of products."
        },
        "currencyCode": {
          "description": "Currency in which price metrics are represented, for example, if you select `ordered_item_sales_micros`, the returned value will be represented by this currency.",
          "type": "string"
        },
        "date": {
          "$ref": "Date",
          "description": "Date in the merchant timezone to which metrics apply."
        },
        "program": {
          "enumDescriptions": [
            "Not specified.",
            "Shopping Ads.",
            "Free Product Listing.",
            "Free Local Product Listing.",
            "*Deprecated*: This value is no longer supported. Retrieving all metrics for the `BUY_ON_GOOGLE_LISTING` program returns 0 starting from May 2024. Buy on Google Listing."
          ],
          "description": "Program to which metrics apply, for example, Free Product Listing.",
          "enum": [
            "PROGRAM_UNSPECIFIED",
            "SHOPPING_ADS",
            "FREE_PRODUCT_LISTING",
            "FREE_LOCAL_PRODUCT_LISTING",
            "BUY_ON_GOOGLE_LISTING"
          ],
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Title of the product."
        },
        "productTypeL1": {
          "type": "string",
          "description": "[Product type (1st level)](https://developers.google.com/shopping-content/guides/reports/segmentation#category_and_product_type) in merchant's own product taxonomy."
        },
        "customLabel3": {
          "type": "string",
          "description": "Custom label 3 for custom grouping of products."
        },
        "brand": {
          "description": "Brand of the product.",
          "type": "string"
        },
        "categoryL5": {
          "description": "[Product category (5th level)](https://developers.google.com/shopping-content/guides/reports/segmentation#category_and_product_type) in Google's product taxonomy.",
          "type": "string"
        },
        "offerId": {
          "description": "Merchant-provided id of the product.",
          "type": "string"
        },
        "categoryL4": {
          "description": "[Product category (4th level)](https://developers.google.com/shopping-content/guides/reports/segmentation#category_and_product_type) in Google's product taxonomy.",
          "type": "string"
        },
        "productTypeL2": {
          "type": "string",
          "description": "[Product type (2nd level)](https://developers.google.com/shopping-content/guides/reports/segmentation#category_and_product_type) in merchant's own product taxonomy."
        },
        "customerCountryCode": {
          "type": "string",
          "description": "Code of the country where the customer is located at the time of the event. Represented in the ISO 3166 format. If the customer country cannot be determined, a special 'ZZ' code is returned."
        },
        "productTypeL4": {
          "description": "[Product type (4th level)](https://developers.google.com/shopping-content/guides/reports/segmentation#category_and_product_type) in merchant's own product taxonomy.",
          "type": "string"
        },
        "productTypeL5": {
          "type": "string",
          "description": "[Product type (5th level)](https://developers.google.com/shopping-content/guides/reports/segmentation#category_and_product_type) in merchant's own product taxonomy."
        },
        "week": {
          "description": "First day of the week (Monday) of the metrics date in the merchant timezone.",
          "$ref": "Date"
        },
        "categoryL2": {
          "type": "string",
          "description": "[Product category (2nd level)](https://developers.google.com/shopping-content/guides/reports/segmentation#category_and_product_type) in Google's product taxonomy."
        },
        "customLabel1": {
          "type": "string",
          "description": "Custom label 1 for custom grouping of products."
        }
      },
      "description": "Dimensions according to which metrics are segmented in the response. Values of product dimensions, such as `offer_id`, reflect the state of a product at the time of the corresponding event, for example, impression or order. Segment fields cannot be selected in queries without also selecting at least one metric field. Values are only set for dimensions requested explicitly in the request's search query.",
      "type": "object"
    },
    "AccountsLinkRequest": {
      "id": "AccountsLinkRequest",
      "properties": {
        "paymentServiceProviderLinkInfo": {
          "$ref": "PaymentServiceProviderLinkInfo",
          "description": "Additional information required for `paymentServiceProvider` link type."
        },
        "action": {
          "type": "string",
          "description": "Action to perform for this link. The `\"request\"` action is only available to select merchants. Acceptable values are: - \"`approve`\" - \"`remove`\" - \"`request`\" "
        },
        "eCommercePlatformLinkInfo": {
          "$ref": "ECommercePlatformLinkInfo",
          "description": "Additional information required for `eCommercePlatform` link type."
        },
        "linkedAccountId": {
          "description": "The ID of the linked account.",
          "type": "string"
        },
        "linkType": {
          "type": "string",
          "description": "Type of the link between the two accounts. Acceptable values are: - \"`channelPartner`\" - \"`eCommercePlatform`\" - \"`paymentServiceProvider`\" "
        },
        "services": {
          "type": "array",
          "description": " Acceptable values are: - \"`shoppingAdsProductManagement`\" - \"`shoppingActionsProductManagement`\" - \"`shoppingActionsOrderManagement`\" - \"`paymentProcessing`\" ",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "DatafeedsCustomBatchRequestEntry": {
      "type": "object",
      "description": "A batch entry encoding a single non-batch datafeeds request.",
      "id": "DatafeedsCustomBatchRequestEntry",
      "properties": {
        "datafeed": {
          "$ref": "Datafeed",
          "description": "The data feed to insert."
        },
        "method": {
          "description": "The method of the batch entry. Acceptable values are: - \"`delete`\" - \"`fetchNow`\" - \"`get`\" - \"`insert`\" - \"`update`\" ",
          "type": "string"
        },
        "batchId": {
          "description": "An entry ID, unique within the batch request.",
          "format": "uint32",
          "type": "integer"
        },
        "datafeedId": {
          "type": "string",
          "description": "The ID of the data feed to get, delete or fetch.",
          "format": "uint64"
        },
        "merchantId": {
          "description": "The ID of the managing account.",
          "format": "uint64",
          "type": "string"
        }
      }
    },
    "InsertCheckoutSettingsRequest": {
      "description": "Request message for the `InsertCheckoutSettings` method.",
      "type": "object",
      "id": "InsertCheckoutSettingsRequest",
      "properties": {
        "uriSettings": {
          "$ref": "UrlSettings",
          "description": "Required. The `UrlSettings` for the request. The presence of URL settings indicates `Checkout` enrollment."
        }
      }
    },
    "AccountstatusesListResponse": {
      "type": "object",
      "id": "AccountstatusesListResponse",
      "properties": {
        "resources": {
          "type": "array",
          "items": {
            "$ref": "AccountStatus"
          }
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#accountstatusesListResponse`\"."
        },
        "nextPageToken": {
          "description": "The token for the retrieval of the next page of account statuses.",
          "type": "string"
        }
      }
    },
    "AccounttaxListResponse": {
      "type": "object",
      "id": "AccounttaxListResponse",
      "properties": {
        "resources": {
          "items": {
            "$ref": "AccountTax"
          },
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#accounttaxListResponse`\"."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token for the retrieval of the next page of account tax settings."
        }
      }
    },
    "DatafeedstatusesCustomBatchRequest": {
      "type": "object",
      "id": "DatafeedstatusesCustomBatchRequest",
      "properties": {
        "entries": {
          "items": {
            "$ref": "DatafeedstatusesCustomBatchRequestEntry"
          },
          "description": "The request entries to be processed in the batch.",
          "type": "array"
        }
      }
    },
    "ListPromotionResponse": {
      "id": "ListPromotionResponse",
      "properties": {
        "promotions": {
          "type": "array",
          "description": "List of all available promotions for the merchant.",
          "items": {
            "$ref": "Promotion"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "Response message for Promotions.List method.",
      "type": "object"
    },
    "AccountsUpdateLabelsRequest": {
      "id": "AccountsUpdateLabelsRequest",
      "properties": {
        "labelIds": {
          "items": {
            "format": "uint64",
            "type": "string"
          },
          "description": "The IDs of labels that should be assigned to the account.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "Region": {
      "id": "Region",
      "properties": {
        "geotargetArea": {
          "$ref": "RegionGeoTargetArea",
          "description": "A list of geotargets that defines the region area."
        },
        "regionalInventoryEligible": {
          "description": "Output only. Indicates if the region is eligible to use in the Regional Inventory configuration.",
          "type": "boolean",
          "readOnly": true
        },
        "regionId": {
          "description": "Output only. Immutable. The ID uniquely identifying each region.",
          "type": "string",
          "readOnly": true
        },
        "postalCodeArea": {
          "$ref": "RegionPostalCodeArea",
          "description": "A list of postal codes that defines the region area."
        },
        "shippingEligible": {
          "readOnly": true,
          "description": "Output only. Indicates if the region is eligible to use in the Shipping Services configuration.",
          "type": "boolean"
        },
        "merchantId": {
          "readOnly": true,
          "description": "Output only. Immutable. Merchant that owns the region.",
          "format": "int64",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the region."
        }
      },
      "type": "object",
      "description": "Represents a geographic region that you can use as a target with both the `RegionalInventory` and `ShippingSettings` services. You can define regions as collections of either postal codes or, in some countries, using predefined geotargets."
    },
    "ProductstatusesCustomBatchResponseEntry": {
      "type": "object",
      "description": "A batch entry encoding a single non-batch productstatuses response.",
      "id": "ProductstatusesCustomBatchResponseEntry",
      "properties": {
        "productStatus": {
          "$ref": "ProductStatus",
          "description": "The requested product status. Only defined if the request was successful."
        },
        "errors": {
          "description": "A list of errors for failed custombatch entries. *Note:* Schema errors fail the whole request.",
          "$ref": "Errors"
        },
        "batchId": {
          "description": "The ID of the request entry this entry responds to.",
          "format": "uint32",
          "type": "integer"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#productstatusesCustomBatchResponseEntry`\""
        }
      }
    },
    "Collection": {
      "id": "Collection",
      "properties": {
        "link": {
          "description": "A collection’s landing page. URL directly linking to your collection's page on your website. [link attribute](https://support.google.com/merchants/answer/9673983)",
          "type": "string"
        },
        "id": {
          "description": "Required. The REST ID of the collection. Content API methods that operate on collections take this as their collectionId parameter. The REST ID for a collection is of the form collectionId. [id attribute](https://support.google.com/merchants/answer/9649290)",
          "type": "string"
        },
        "customLabel3": {
          "description": "Label that you assign to a collection to help organize bidding and reporting in Shopping campaigns.",
          "type": "string"
        },
        "customLabel0": {
          "description": "Label that you assign to a collection to help organize bidding and reporting in Shopping campaigns. [Custom label](https://support.google.com/merchants/answer/9674217)",
          "type": "string"
        },
        "language": {
          "description": "The language of a collection and the language of any featured products linked to the collection. [language attribute](https://support.google.com/merchants/answer/9673781)",
          "type": "string"
        },
        "customLabel4": {
          "description": "Label that you assign to a collection to help organize bidding and reporting in Shopping campaigns.",
          "type": "string"
        },
        "productCountry": {
          "description": "[product_country attribute](https://support.google.com/merchants/answer/9674155)",
          "type": "string"
        },
        "featuredProduct": {
          "items": {
            "$ref": "CollectionFeaturedProduct"
          },
          "type": "array",
          "description": "This identifies one or more products associated with the collection. Used as a lookup to the corresponding product ID in your product feeds. Provide a maximum of 100 featuredProduct (for collections). Provide up to 10 featuredProduct (for Shoppable Images only) with ID and X and Y coordinates. [featured_product attribute](https://support.google.com/merchants/answer/9703736)"
        },
        "customLabel2": {
          "type": "string",
          "description": "Label that you assign to a collection to help organize bidding and reporting in Shopping campaigns."
        },
        "mobileLink": {
          "type": "string",
          "description": "A collection’s mobile-optimized landing page when you have a different URL for mobile and desktop traffic. [mobile_link attribute](https://support.google.com/merchants/answer/9646123)"
        },
        "imageLink": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The URL of a collection’s image. [image_link attribute](https://support.google.com/merchants/answer/9703236)"
        },
        "headline": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Your collection's name. [headline attribute](https://support.google.com/merchants/answer/9673580)"
        },
        "customLabel1": {
          "type": "string",
          "description": "Label that you assign to a collection to help organize bidding and reporting in Shopping campaigns."
        }
      },
      "type": "object",
      "description": "The collection message."
    },
    "AccounttaxCustomBatchRequestEntry": {
      "id": "AccounttaxCustomBatchRequestEntry",
      "properties": {
        "merchantId": {
          "type": "string",
          "description": "The ID of the managing account.",
          "format": "uint64"
        },
        "method": {
          "description": "The method of the batch entry. Acceptable values are: - \"`get`\" - \"`update`\" ",
          "type": "string"
        },
        "accountTax": {
          "$ref": "AccountTax",
          "description": "The account tax settings to update. Only defined if the method is `update`."
        },
        "batchId": {
          "description": "An entry ID, unique within the batch request.",
          "format": "uint32",
          "type": "integer"
        },
        "accountId": {
          "description": "The ID of the account for which to get/update account tax settings.",
          "format": "uint64",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A batch entry encoding a single non-batch accounttax request."
    },
    "GmbAccounts": {
      "type": "object",
      "id": "GmbAccounts",
      "properties": {
        "accountId": {
          "description": "The ID of the Merchant Center account.",
          "format": "uint64",
          "type": "string"
        },
        "gmbAccounts": {
          "description": "A list of Business Profiles which are available to the merchant.",
          "type": "array",
          "items": {
            "$ref": "GmbAccountsGmbAccount"
          }
        }
      }
    },
    "RegionalinventoryCustomBatchRequest": {
      "id": "RegionalinventoryCustomBatchRequest",
      "properties": {
        "entries": {
          "items": {
            "$ref": "RegionalinventoryCustomBatchRequestEntry"
          },
          "description": "The request entries to be processed in the batch.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "AccountsAuthInfoResponse": {
      "type": "object",
      "id": "AccountsAuthInfoResponse",
      "properties": {
        "accountIdentifiers": {
          "items": {
            "$ref": "AccountIdentifier"
          },
          "type": "array",
          "description": "The account identifiers corresponding to the authenticated user. - For an individual account: only the merchant ID is defined - For an aggregator: only the aggregator ID is defined - For a subaccount of an MCA: both the merchant ID and the aggregator ID are defined. "
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#accountsAuthInfoResponse`\"."
        }
      }
    },
    "DatafeedsFetchNowResponse": {
      "id": "DatafeedsFetchNowResponse",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#datafeedsFetchNowResponse`\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "MinimumOrderValueTableStoreCodeSetWithMov": {
      "type": "object",
      "description": "A list of store code sets sharing the same minimum order value. At least two sets are required and the last one must be empty, which signifies 'MOV for all other stores'. Each store code can only appear once across all the sets. All prices within a service must have the same currency.",
      "id": "MinimumOrderValueTableStoreCodeSetWithMov",
      "properties": {
        "value": {
          "description": "The minimum order value for the given stores.",
          "$ref": "Price"
        },
        "storeCodes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of unique store codes or empty for the catch all."
        }
      }
    },
    "LocalInventory": {
      "description": "Local inventory resource. For accepted attribute values, see the local product inventory feed specification.",
      "type": "object",
      "id": "LocalInventory",
      "properties": {
        "pickupSla": {
          "type": "string",
          "description": "The expected date that an order will be ready for pickup relative to the order date. Must be submitted together with `pickupMethod`. For accepted attribute values, see the local product inventory feed specification."
        },
        "instoreProductLocation": {
          "description": "The in-store product location.",
          "type": "string"
        },
        "price": {
          "description": "The price of the product.",
          "$ref": "Price"
        },
        "salePrice": {
          "$ref": "Price",
          "description": "The sale price of the product. Mandatory if `sale_price_effective_date` is defined."
        },
        "pickupMethod": {
          "description": "The supported pickup method for this offer. Unless the value is \"not supported\", this field must be submitted together with `pickupSla`. For accepted attribute values, see the local product inventory feed specification.",
          "type": "string"
        },
        "salePriceEffectiveDate": {
          "type": "string",
          "description": "A date range represented by a pair of ISO 8601 dates separated by a space, comma, or slash. Both dates may be specified as 'null' if undecided."
        },
        "availability": {
          "type": "string",
          "description": "The availability of the product. For accepted attribute values, see the local product inventory feed specification."
        },
        "quantity": {
          "type": "integer",
          "description": "The quantity of the product. Must be nonnegative.",
          "format": "uint32"
        },
        "storeCode": {
          "type": "string",
          "description": "Required. The store code of this local inventory resource."
        },
        "customAttributes": {
          "type": "array",
          "description": "A list of custom (merchant-provided) attributes. Can also be used to submit any attribute of the feed specification in its generic form, for example, `{ \"name\": \"size type\", \"value\": \"regular\" }`.",
          "items": {
            "$ref": "CustomAttribute"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#localInventory`\"",
          "type": "string"
        }
      }
    },
    "InputField": {
      "type": "object",
      "description": "Input field that needs to be available to the merchant. If the field is marked as required, then a value needs to be provided for a successful processing of the request.",
      "id": "InputField",
      "properties": {
        "id": {
          "description": "Not for display but need to be sent back for the given input field.",
          "type": "string"
        },
        "label": {
          "description": "Input field label. There may be more information to be shown in a tooltip.",
          "$ref": "TextWithTooltip"
        },
        "textInput": {
          "description": "Input field to provide text information. Corresponds to the [html input type=text](https://www.w3.org/TR/2012/WD-html-markup-20121025/input.text.html#input.text) or [html textarea](https://www.w3.org/TR/2012/WD-html-markup-20121025/textarea.html#textarea).",
          "$ref": "InputFieldTextInput"
        },
        "required": {
          "type": "boolean",
          "description": "Whether the field is required. The action button needs to stay disabled till values for all required fields are provided."
        },
        "checkboxInput": {
          "description": "Input field to provide a boolean value. Corresponds to the [html input type=checkbox](https://www.w3.org/TR/2012/WD-html-markup-20121025/input.checkbox.html#input.checkbox).",
          "$ref": "InputFieldCheckboxInput"
        },
        "choiceInput": {
          "$ref": "InputFieldChoiceInput",
          "description": "Input field to select one of the offered choices. Corresponds to the [html input type=radio](https://www.w3.org/TR/2012/WD-html-markup-20121025/input.radio.html#input.radio)."
        }
      }
    },
    "PromotionPromotionStatus": {
      "id": "PromotionPromotionStatus",
      "properties": {
        "promotionIssue": {
          "type": "array",
          "description": "A list of issues associated with the promotion.",
          "items": {
            "$ref": "PromotionPromotionStatusPromotionIssue"
          }
        },
        "destinationStatuses": {
          "items": {
            "$ref": "PromotionPromotionStatusDestinationStatus"
          },
          "description": "The intended destinations for the promotion.",
          "type": "array"
        },
        "creationDate": {
          "type": "string",
          "description": "Date on which the promotion has been created in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format: Date, time, and offset, for example \"2020-01-02T09:00:00+01:00\" or \"2020-01-02T09:00:00Z\""
        },
        "lastUpdateDate": {
          "type": "string",
          "description": "Date on which the promotion status has been last updated in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format: Date, time, and offset, for example \"2020-01-02T09:00:00+01:00\" or \"2020-01-02T09:00:00Z\""
        }
      },
      "type": "object",
      "description": "The status of the promotion."
    },
    "PickupCarrierService": {
      "type": "object",
      "id": "PickupCarrierService",
      "properties": {
        "carrierName": {
          "description": "The name of the pickup carrier (for example, `\"UPS\"`). Required.",
          "type": "string"
        },
        "serviceName": {
          "description": "The name of the pickup service (for example, `\"Access point\"`). Required.",
          "type": "string"
        }
      }
    },
    "PosInventoryRequest": {
      "id": "PosInventoryRequest",
      "properties": {
        "pickupSla": {
          "type": "string",
          "description": "Optional. Expected date that an order will be ready for pickup relative to the order date. Must be submitted together with `pickupMethod`. For accepted attribute values, see the [local product inventory feed specification](https://support.google.com/merchants/answer/3061342)."
        },
        "itemId": {
          "description": "Required. A unique identifier for the item.",
          "type": "string"
        },
        "targetCountry": {
          "type": "string",
          "description": "Required. The CLDR territory code for the item."
        },
        "contentLanguage": {
          "type": "string",
          "description": "Required. The two-letter ISO 639-1 language code for the item."
        },
        "price": {
          "$ref": "Price",
          "description": "Required. The current price of the item."
        },
        "pickupMethod": {
          "description": "Optional. Supported pickup method for this offer. Unless the value is \"not supported\", this field must be submitted together with `pickupSla`. For accepted attribute values, see the [local product inventory feed specification](https://support.google.com/merchants/answer/3061342).",
          "type": "string"
        },
        "timestamp": {
          "type": "string",
          "description": "Required. The inventory timestamp, in ISO 8601 format."
        },
        "storeCode": {
          "type": "string",
          "description": "Required. The identifier of the merchant's store. Either a `storeCode` inserted through the API or the code of the store in a Business Profile."
        },
        "quantity": {
          "type": "string",
          "description": "Required. The available quantity of the item.",
          "format": "int64"
        },
        "gtin": {
          "description": "Global Trade Item Number.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ProductSubscriptionCost": {
      "type": "object",
      "id": "ProductSubscriptionCost",
      "properties": {
        "period": {
          "type": "string",
          "description": "The type of subscription period. - \"`month`\" - \"`year`\" "
        },
        "amount": {
          "$ref": "Price",
          "description": "The amount the buyer has to pay per subscription period."
        },
        "periodLength": {
          "type": "string",
          "description": "The number of subscription periods the buyer has to pay.",
          "format": "int64"
        }
      }
    },
    "RenderAccountIssuesResponse": {
      "id": "RenderAccountIssuesResponse",
      "properties": {
        "alternateDisputeResolution": {
          "description": "Alternate Dispute Resolution (ADR) is deprecated. Use `prerendered_out_of_court_dispute_settlement` instead.",
          "deprecated": true,
          "$ref": "AlternateDisputeResolution"
        },
        "issues": {
          "items": {
            "$ref": "AccountIssue"
          },
          "type": "array",
          "description": "List of account issues for a given account. This list can be shown with compressed, expandable items. In the compressed form, the title and impact should be shown for each issue. Once the issue is expanded, the detailed content and available actions should be rendered."
        }
      },
      "description": "Response containing support content and actions for listed account issues.",
      "type": "object"
    },
    "ProductTax": {
      "type": "object",
      "id": "ProductTax",
      "properties": {
        "postalCode": {
          "description": "The postal code range that the tax rate applies to, represented by a ZIP code, a ZIP code prefix using * wildcard, a range between two ZIP codes or two ZIP code prefixes of equal length. Examples: 94114, 94*, 94002-95460, 94*-95*.",
          "type": "string"
        },
        "country": {
          "type": "string",
          "description": "The country within which the item is taxed, specified as a CLDR territory code."
        },
        "rate": {
          "description": "The percentage of tax rate that applies to the item price.",
          "format": "double",
          "type": "number"
        },
        "taxShip": {
          "type": "boolean",
          "description": "Should be set to true if tax is charged on shipping."
        },
        "region": {
          "type": "string",
          "description": "The geographic region to which the tax rate applies."
        },
        "locationId": {
          "type": "string",
          "description": "The numeric ID of a location that the tax rate applies to as defined in the Google Ads API.",
          "format": "int64"
        }
      }
    },
    "Address": {
      "id": "Address",
      "properties": {
        "administrativeArea": {
          "description": "Required. Top-level administrative subdivision of the country. For example, a state like California (\"CA\") or a province like Quebec (\"QC\").",
          "type": "string"
        },
        "postalCode": {
          "description": "Required. Postal code or ZIP (for example, \"94043\").",
          "type": "string"
        },
        "streetAddress": {
          "type": "string",
          "description": "Street-level part of the address. Use `\\n` to add a second line."
        },
        "city": {
          "description": "Required. City, town or commune. May also include dependent localities or sublocalities (for example, neighborhoods or suburbs).",
          "type": "string"
        },
        "country": {
          "type": "string",
          "description": "Required. [CLDR country code](https://github.com/unicode-org/cldr/blob/latest/common/main/en.xml) (for example, \"US\")."
        }
      },
      "type": "object"
    },
    "FreeListingsProgramStatus": {
      "type": "object",
      "description": "Response message for GetFreeListingsProgramStatus.",
      "id": "FreeListingsProgramStatus",
      "properties": {
        "regionStatuses": {
          "description": "Status of the program in each region. Regions with the same status and review eligibility are grouped together in `regionCodes`.",
          "type": "array",
          "items": {
            "$ref": "FreeListingsProgramStatusRegionStatus"
          }
        },
        "globalState": {
          "type": "string",
          "description": "State of the program. `ENABLED` if there are offers for at least one region.",
          "enum": [
            "PROGRAM_STATE_UNSPECIFIED",
            "NOT_ENABLED",
            "NO_OFFERS_UPLOADED",
            "ENABLED"
          ],
          "enumDescriptions": [
            "State is unknown.",
            "Program is not enabled for any country.",
            "No products have been uploaded for any region. Upload products to Merchant Center.",
            "Program is enabled and offers are uploaded for at least one country."
          ]
        }
      }
    },
    "LiaInventorySettings": {
      "id": "LiaInventorySettings",
      "properties": {
        "inventoryVerificationContactName": {
          "description": "The name of the contact for the inventory verification process.",
          "type": "string"
        },
        "status": {
          "type": "string",
          "description": "The status of the inventory verification process. Acceptable values are: - \"`active`\" - \"`inactive`\" - \"`pending`\" "
        },
        "inventoryVerificationContactEmail": {
          "description": "The email of the contact for the inventory verification process.",
          "type": "string"
        },
        "inventoryVerificationContactStatus": {
          "description": "The status of the verification contact. Acceptable values are: - \"`active`\" - \"`inactive`\" - \"`pending`\" ",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AttributionSettings": {
      "id": "AttributionSettings",
      "properties": {
        "attributionLookbackWindowInDays": {
          "description": "Required. Lookback windows (in days) used for attribution in this source. Supported values are 7, 30, 40.",
          "format": "int32",
          "type": "integer"
        },
        "conversionType": {
          "items": {
            "$ref": "AttributionSettingsConversionType"
          },
          "description": "Immutable. Unordered list. List of different conversion types a conversion event can be classified as. A standard \"purchase\" type will be automatically created if this list is empty at creation time.",
          "type": "array"
        },
        "attributionModel": {
          "type": "string",
          "enum": [
            "ATTRIBUTION_MODEL_UNSPECIFIED",
            "CROSS_CHANNEL_LAST_CLICK",
            "ADS_PREFERRED_LAST_CLICK",
            "CROSS_CHANNEL_DATA_DRIVEN",
            "CROSS_CHANNEL_FIRST_CLICK",
            "CROSS_CHANNEL_LINEAR",
            "CROSS_CHANNEL_POSITION_BASED",
            "CROSS_CHANNEL_TIME_DECAY"
          ],
          "enumDescriptions": [
            "",
            "Cross-channel Last Click model.",
            "Ads-preferred Last Click model.",
            "Cross-channel Data Driven model.",
            "Cross-channel First Click model.",
            "Cross-channel Linear model.",
            "Cross-channel Position Based model.",
            "Cross-channel Time Decay model."
          ]
        }
      },
      "type": "object",
      "description": "Represents attribution settings for conversion sources receiving pre-attribution data."
    },
    "LinkedAccount": {
      "id": "LinkedAccount",
      "properties": {
        "linkedAccountId": {
          "description": "The ID of the linked account.",
          "type": "string"
        },
        "services": {
          "items": {
            "$ref": "LinkService"
          },
          "type": "array",
          "description": "List of provided services."
        }
      },
      "type": "object"
    },
    "AccountReturnCarrier": {
      "id": "AccountReturnCarrier",
      "properties": {
        "carrierCode": {
          "enumDescriptions": [
            "Carrier not specified",
            "FedEx carrier",
            "UPS carrier"
          ],
          "description": "The carrier code enum. Accepts the values FEDEX or UPS.",
          "enum": [
            "CARRIER_CODE_UNSPECIFIED",
            "FEDEX",
            "UPS"
          ],
          "type": "string"
        },
        "carrierAccountName": {
          "description": "Name of the carrier account.",
          "type": "string"
        },
        "carrierAccountNumber": {
          "type": "string",
          "description": "Number of the carrier account."
        },
        "carrierAccountId": {
          "type": "string",
          "description": "Output only. Immutable. The Google-provided unique carrier ID, used to update the resource.",
          "format": "int64",
          "readOnly": true
        }
      },
      "description": " The return carrier information. This service is designed for merchants enrolled in the Buy on Google program. ",
      "type": "object"
    },
    "AccountIdentifier": {
      "type": "object",
      "id": "AccountIdentifier",
      "properties": {
        "merchantId": {
          "type": "string",
          "description": "The merchant account ID, set for individual accounts and subaccounts.",
          "format": "uint64"
        },
        "aggregatorId": {
          "description": "The aggregator ID, set for aggregators and subaccounts (in that case, it represents the aggregator of the subaccount).",
          "format": "uint64",
          "type": "string"
        }
      }
    },
    "LiasettingsGetAccessibleGmbAccountsResponse": {
      "id": "LiasettingsGetAccessibleGmbAccountsResponse",
      "properties": {
        "gmbAccounts": {
          "items": {
            "$ref": "GmbAccountsGmbAccount"
          },
          "type": "array",
          "description": "A list of Business Profiles which are available to the merchant."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#liasettingsGetAccessibleGmbAccountsResponse`\"."
        },
        "accountId": {
          "type": "string",
          "description": "The ID of the Merchant Center account.",
          "format": "uint64"
        }
      },
      "type": "object"
    },
    "AccountstatusesCustomBatchResponseEntry": {
      "id": "AccountstatusesCustomBatchResponseEntry",
      "properties": {
        "batchId": {
          "description": "The ID of the request entry this entry responds to.",
          "format": "uint32",
          "type": "integer"
        },
        "accountStatus": {
          "description": "The requested account status. Defined if and only if the request was successful.",
          "$ref": "AccountStatus"
        },
        "errors": {
          "$ref": "Errors",
          "description": "A list of errors for failed custombatch entries. *Note:* Schema errors fail the whole request."
        }
      },
      "description": "A batch entry encoding a single non-batch accountstatuses response.",
      "type": "object"
    },
    "DatafeedStatus": {
      "id": "DatafeedStatus",
      "properties": {
        "warnings": {
          "type": "array",
          "description": "The list of errors occurring in the feed.",
          "items": {
            "$ref": "DatafeedStatusError"
          }
        },
        "datafeedId": {
          "type": "string",
          "description": "The ID of the feed for which the status is reported.",
          "format": "uint64"
        },
        "country": {
          "description": "The country for which the status is reported, represented as a CLDR territory code.",
          "type": "string"
        },
        "lastUploadDate": {
          "type": "string",
          "description": "The last date at which the feed was uploaded."
        },
        "itemsValid": {
          "description": "The number of items in the feed that were valid.",
          "format": "uint64",
          "type": "string"
        },
        "language": {
          "type": "string",
          "description": "The two-letter ISO 639-1 language for which the status is reported."
        },
        "processingStatus": {
          "description": "The processing status of the feed. Acceptable values are: - \"`\"`failure`\": The feed could not be processed or all items had errors.`\" - \"`in progress`\": The feed is being processed. - \"`none`\": The feed has not yet been processed. For example, a feed that has never been uploaded will have this processing status. - \"`success`\": The feed was processed successfully, though some items might have had errors. ",
          "type": "string"
        },
        "errors": {
          "items": {
            "$ref": "DatafeedStatusError"
          },
          "description": "The list of errors occurring in the feed.",
          "type": "array"
        },
        "feedLabel": {
          "type": "string",
          "description": "The feed label status is reported for."
        },
        "itemsTotal": {
          "description": "The number of items in the feed that were processed.",
          "format": "uint64",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#datafeedStatus`\"",
          "type": "string"
        }
      },
      "description": "The status of a datafeed, that is, the result of the last retrieval of the datafeed computed asynchronously when the feed processing is finished.",
      "type": "object"
    },
    "CollectionStatusDestinationStatus": {
      "id": "CollectionStatusDestinationStatus",
      "properties": {
        "destination": {
          "type": "string",
          "description": "The name of the destination"
        },
        "status": {
          "description": "The status for the specified destination in the collections target country.",
          "type": "string"
        },
        "pendingCountries": {
          "description": "Country codes (ISO 3166-1 alpha-2) where the collection is pending approval.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "approvedCountries": {
          "type": "array",
          "description": "Country codes (ISO 3166-1 alpha-2) where the collection is approved.",
          "items": {
            "type": "string"
          }
        },
        "disapprovedCountries": {
          "description": "Country codes (ISO 3166-1 alpha-2) where the collection is disapproved.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Destination status message.",
      "type": "object"
    },
    "ProductId": {
      "type": "object",
      "description": "The Content API ID of the product.",
      "id": "ProductId",
      "properties": {
        "productId": {
          "type": "string",
          "description": "The Content API ID of the product, in the form `channel:contentLanguage:targetCountry:offerId`."
        }
      }
    },
    "PriceInsights": {
      "type": "object",
      "description": "Price insights fields requested by the merchant in the query. Field values are only set if the merchant queries `PriceInsightsProductView`. https://support.google.com/merchants/answer/11916926",
      "id": "PriceInsights",
      "properties": {
        "suggestedPriceCurrencyCode": {
          "type": "string",
          "description": "The suggested price currency (ISO 4217 code)."
        },
        "predictedMonthlyGrossProfitChangeCurrencyCode": {
          "description": "*Deprecated*: This field is no longer supported and will start returning USD for all requests. The predicted monthly gross profit change currency (ISO 4217 code).",
          "type": "string"
        },
        "predictedConversionsChangeFraction": {
          "description": "The predicted change in conversions as a fraction after introducing the suggested price compared to current active price. For example, 0.05 is a 5% predicted increase in conversions).",
          "format": "double",
          "type": "number"
        },
        "effectiveness": {
          "type": "string",
          "description": "The predicted effectiveness of applying the price suggestion, bucketed.",
          "enum": [
            "EFFECTIVENESS_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH"
          ],
          "enumDescriptions": [
            "Effectiveness is unknown.",
            "Effectiveness is low.",
            "Effectiveness is medium.",
            "Effectiveness is high."
          ]
        },
        "predictedMonthlyGrossProfitChangeMicros": {
          "type": "string",
          "description": "*Deprecated*: This field is no longer supported and will start returning 0. The predicted change in gross profit in micros (1 millionth of a standard unit, 1 USD = 1000000 micros) after introducing the suggested price for a month compared to current active price.",
          "format": "int64"
        },
        "predictedImpressionsChangeFraction": {
          "type": "number",
          "description": "The predicted change in impressions as a fraction after introducing the suggested price compared to current active price. For example, 0.05 is a 5% predicted increase in impressions.",
          "format": "double"
        },
        "predictedClicksChangeFraction": {
          "type": "number",
          "description": "The predicted change in clicks as a fraction after introducing the suggested price compared to current active price. For example, 0.05 is a 5% predicted increase in clicks.",
          "format": "double"
        },
        "predictedGrossProfitChangeFraction": {
          "type": "number",
          "description": "*Deprecated*: This field is no longer supported and will start returning 0. The predicted change in gross profit as a fraction after introducing the suggested price compared to current active price. For example, 0.05 is a 5% predicted increase in gross profit.",
          "format": "double"
        },
        "suggestedPriceMicros": {
          "description": "The latest suggested price in micros (1 millionth of a standard unit, 1 USD = 1000000 micros) for the product.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "RegionGeoTargetArea": {
      "id": "RegionGeoTargetArea",
      "properties": {
        "geotargetCriteriaIds": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array",
          "description": "Required. A non-empty list of [location IDs](https://developers.google.com/adwords/api/docs/appendix/geotargeting). They must all be of the same location type (e.g., state)."
        }
      },
      "description": "A list of geotargets that defines the region area.",
      "type": "object"
    },
    "DateTime": {
      "id": "DateTime",
      "properties": {
        "hours": {
          "type": "integer",
          "description": "Optional. Hours of day in 24 hour format. Should be from 0 to 23, defaults to 0 (midnight). An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "format": "int32"
        },
        "utcOffset": {
          "description": "UTC offset. Must be whole seconds, between -18 hours and +18 hours. For example, a UTC offset of -4:00 would be represented as { seconds: -14400 }.",
          "format": "google-duration",
          "type": "string"
        },
        "minutes": {
          "description": "Optional. Minutes of hour of day. Must be from 0 to 59, defaults to 0.",
          "format": "int32",
          "type": "integer"
        },
        "month": {
          "description": "Optional. Month of year. Must be from 1 to 12, or 0 if specifying a datetime without a month.",
          "format": "int32",
          "type": "integer"
        },
        "nanos": {
          "type": "integer",
          "description": "Optional. Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999, defaults to 0.",
          "format": "int32"
        },
        "day": {
          "description": "Optional. Day of month. Must be from 1 to 31 and valid for the year and month, or 0 if specifying a datetime without a day.",
          "format": "int32",
          "type": "integer"
        },
        "year": {
          "type": "integer",
          "description": "Optional. Year of date. Must be from 1 to 9999, or 0 if specifying a datetime without a year.",
          "format": "int32"
        },
        "seconds": {
          "type": "integer",
          "description": "Optional. Seconds of minutes of the time. Must normally be from 0 to 59, defaults to 0. An API may allow the value 60 if it allows leap-seconds.",
          "format": "int32"
        },
        "timeZone": {
          "$ref": "TimeZone",
          "description": "Time zone."
        }
      },
      "type": "object",
      "description": "Represents civil time (or occasionally physical time). This type can represent a civil time in one of a few possible ways: * When utc_offset is set and time_zone is unset: a civil time on a calendar day with a particular offset from UTC. * When time_zone is set and utc_offset is unset: a civil time on a calendar day in a particular time zone. * When neither time_zone nor utc_offset is set: a civil time on a calendar day in local time. The date is relative to the Proleptic Gregorian Calendar. If year, month, or day are 0, the DateTime is considered not to have a specific year, month, or day respectively. This type may also be used to represent a physical time if all the date and time fields are set and either case of the `time_offset` oneof is set. Consider using `Timestamp` message for physical time instead. If your use case also would like to store the user's timezone, that can be done in another field. This type is more flexible than some applications may want. Make sure to document and validate your application's limitations."
    },
    "AccountStatusProducts": {
      "id": "AccountStatusProducts",
      "properties": {
        "country": {
          "type": "string",
          "description": "The country the data applies to."
        },
        "statistics": {
          "description": "Aggregated product statistics.",
          "$ref": "AccountStatusStatistics"
        },
        "channel": {
          "type": "string",
          "description": "The channel the data applies to. Acceptable values are: - \"`local`\" - \"`online`\" "
        },
        "destination": {
          "description": "The destination the data applies to.",
          "type": "string"
        },
        "itemLevelIssues": {
          "type": "array",
          "description": "List of item-level issues.",
          "items": {
            "$ref": "AccountStatusItemLevelIssue"
          }
        }
      },
      "type": "object"
    },
    "Metrics": {
      "id": "Metrics",
      "properties": {
        "orders": {
          "type": "string",
          "description": "*Deprecated*: This field is no longer supported and retrieving it returns 0 starting from May 2024. Number of placed orders. Excludes customer cancellations that happened within 30 minutes of placing the order. **This metric cannot be segmented by product dimensions and customer_country_code.**",
          "format": "int64"
        },
        "shippedOrders": {
          "type": "string",
          "description": "*Deprecated*: This field is no longer supported and retrieving it returns 0 starting from May 2024. Number of fully shipped orders, reported on the last shipment date. **This metric cannot be segmented by product dimensions and customer_country_code.**",
          "format": "int64"
        },
        "returnedItems": {
          "description": "*Deprecated*: This field is no longer supported and retrieving it returns 0 starting from May 2024. Number of ordered items sent back for return, reported on the date when the merchant accepted the return. **This metric cannot be segmented by customer_country_code.**",
          "format": "int64",
          "type": "string"
        },
        "aovMicros": {
          "type": "number",
          "description": "*Deprecated*: This field is no longer supported and retrieving it returns 0 starting from May 2024. Average order value in micros (1 millionth of a standard unit, 1 USD = 1000000 micros) - the average value (total price of items) of all placed orders. The currency of the returned value is stored in the currency_code segment. If this metric is selected, 'segments.currency_code' is automatically added to the SELECT clause in the search query (unless it is explicitly selected by the user) and the currency_code segment is populated in the response. **This metric cannot be segmented by product dimensions and customer_country_code.**",
          "format": "double"
        },
        "returnsMicros": {
          "description": "*Deprecated*: This field is no longer supported and retrieving it returns 0 starting from May 2024. Total price of ordered items sent back for return in micros (1 millionth of a standard unit, 1 USD = 1000000 micros), reported on the date when the merchant accepted the return. The currency of the returned value is stored in the currency_code segment. If this metric is selected, 'segments.currency_code' is automatically added to the SELECT clause in the search query (unless it is explicitly selected by the user) and the currency_code segment is populated in the response. **This metric cannot be segmented by customer_country_code.**",
          "format": "int64",
          "type": "string"
        },
        "clicks": {
          "description": "Number of clicks.",
          "format": "int64",
          "type": "string"
        },
        "daysToShip": {
          "description": "*Deprecated*: This field is no longer supported and retrieving it returns 0 starting from May 2024. Average number of days between an order being placed and the order being fully shipped, reported on the last shipment date. **This metric cannot be segmented by product dimensions and customer_country_code.**",
          "format": "double",
          "type": "number"
        },
        "rejectedItems": {
          "type": "string",
          "description": "*Deprecated*: This field is no longer supported and retrieving it returns 0 starting from May 2024. Number of ordered items canceled by the merchant, reported on the order date. **This metric cannot be segmented by customer_country_code.**",
          "format": "int64"
        },
        "impressions": {
          "type": "string",
          "description": "Number of times merchant's products are shown.",
          "format": "int64"
        },
        "ctr": {
          "description": "Click-through rate - the number of clicks merchant's products receive (clicks) divided by the number of times the products are shown (impressions).",
          "format": "double",
          "type": "number"
        },
        "conversions": {
          "description": "Number of conversions attributed to the product, reported on the conversion date. Depending on the attribution model, a conversion might be distributed across multiple clicks, where each click gets its own credit assigned. This metric is a sum of all such credits. The metric is currently available only for the `FREE_PRODUCT_LISTING` program.",
          "format": "double",
          "type": "number"
        },
        "orderedItems": {
          "description": "*Deprecated*: This field is no longer supported and retrieving it returns 0 starting from May 2024. Number of ordered items. Excludes customer cancellations that happened within 30 minutes of placing the order. **This metric cannot be segmented by customer_country_code.**",
          "format": "int64",
          "type": "string"
        },
        "returnRate": {
          "description": "*Deprecated*: This field is no longer supported and retrieving it returns 0 starting from May 2024. Total price of returned items divided by the total price of shipped items, reported on the order date. If this metric is selected, 'segments.currency_code' is automatically added to the SELECT clause in the search query (unless it is explicitly selected by the user) and the currency_code segment is populated in the response. **This metric cannot be segmented by customer_country_code.**",
          "format": "double",
          "type": "number"
        },
        "shippedItems": {
          "description": "*Deprecated*: This field is no longer supported and retrieving it returns 0 starting from May 2024. Number of shipped items, reported on the shipment date. **This metric cannot be segmented by customer_country_code.**",
          "format": "int64",
          "type": "string"
        },
        "shippedItemSalesMicros": {
          "type": "string",
          "description": "*Deprecated*: This field is no longer supported and retrieving it returns 0 starting from May 2024. Total price of shipped items in micros (1 millionth of a standard unit, 1 USD = 1000000 micros), reported on the order date. Excludes shipping and taxes (US only). The currency of the returned value is stored in the currency_code segment. If this metric is selected, 'segments.currency_code' is automatically added to the SELECT clause in the search query (unless it is explicitly selected by the user) and the currency_code segment is populated in the response. **This metric cannot be segmented by customer_country_code.**",
          "format": "int64"
        },
        "aos": {
[...]
