{
  "protocol": "rest",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "name": "contactcenterinsights",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "rootUrl": "https://contactcenterinsights.googleapis.com/",
  "mtlsRootUrl": "https://contactcenterinsights.mtls.googleapis.com/",
  "ownerName": "Google",
  "basePath": "",
  "documentationLink": "https://cloud.google.com/contact-center/insights/docs",
  "ownerDomain": "google.com",
  "schemas": {
    "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartProduct": {
      "type": "object",
      "properties": {
        "price": {
          "description": "Optional. Product price.",
          "$ref": "GoogleTypeMoney"
        },
        "displayName": {
          "description": "Optional. Product display name.",
          "type": "string"
        },
        "imageUris": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Product image URLs.",
          "type": "array"
        },
        "id": {
          "type": "string",
          "description": "Optional. Product ID."
        },
        "description": {
          "description": "Optional. Product description.",
          "type": "string"
        },
        "uri": {
          "type": "string",
          "description": "Optional. Product URL or deep link."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartProduct",
      "description": "A product in a product collection."
    },
    "GoogleCloudContactcenterinsightsV1Issue": {
      "type": "object",
      "properties": {
        "sampleUtterances": {
          "type": "array",
          "description": "Output only. Resource names of the sample representative utterances that match to this issue.",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "displayDescription": {
          "description": "Representative description of the issue.",
          "type": "string"
        },
        "displayName": {
          "description": "The representative name for the issue.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The most recent time that this issue was updated."
        },
        "name": {
          "description": "Immutable. The resource name of the issue. Format: projects/{project}/locations/{location}/issueModels/{issue_model}/issues/{issue}",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time at which this issue was created."
        }
      },
      "description": "The issue resource.",
      "id": "GoogleCloudContactcenterinsightsV1Issue"
    },
    "GoogleCloudContactcenterinsightsV1alpha1DeleteIssueModelRequest": {
      "properties": {
        "name": {
          "description": "Required. The name of the issue model to delete.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1DeleteIssueModelRequest",
      "description": "The request to delete an issue model.",
      "type": "object"
    },
    "GoogleIamV1SetIamPolicyRequest": {
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object",
      "properties": {
        "policy": {
          "$ref": "GoogleIamV1Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        },
        "updateMask": {
          "type": "string",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "format": "google-fieldmask"
        }
      },
      "id": "GoogleIamV1SetIamPolicyRequest"
    },
    "GoogleCloudContactcenterinsightsV1QaQuestionTag": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Required. A user-specified display name for the tag."
        },
        "qaQuestionIds": {
          "type": "array",
          "description": "Optional. The list of Scorecard Question IDs that the tag applies to. Each QaQuestionId is represented as a full resource name containing the Question ID. Lastly, Since a tag may not necessarily be referenced by any Scorecard Questions, we treat this field as optional.",
          "items": {
            "type": "string"
          }
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The most recent time at which the question tag was updated.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which the question tag was created."
        },
        "name": {
          "description": "Identifier. Resource name for the QaQuestionTag Format projects/{project}/locations/{location}/qaQuestionTags/{qa_question_tag} In the above format, the last segment, i.e., qa_question_tag, is a server-generated ID corresponding to the tag resource.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1QaQuestionTag",
      "type": "object",
      "description": "A tag is a resource which aims to categorize a set of questions across multiple scorecards, e.g., \"Customer Satisfaction\",\"Billing\", etc."
    },
    "GoogleCloudContactcenterinsightsV1alpha1IssueModelResult": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1IssueModelResult",
      "properties": {
        "issueModel": {
          "description": "Issue model that generates the result. Format: projects/{project}/locations/{location}/issueModels/{issue_model}",
          "type": "string"
        },
        "issues": {
          "type": "array",
          "description": "All the matched issues.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1IssueAssignment"
          }
        }
      },
      "description": "Issue Modeling result on a conversation."
    },
    "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartMediaPart": {
      "description": "A media part.",
      "id": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartMediaPart",
      "properties": {
        "alternativeText": {
          "type": "string",
          "description": "Optional. Alternative text description."
        },
        "uri": {
          "description": "Optional. URI or URL to the media.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartSuggestionChipsPart": {
      "id": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartSuggestionChipsPart",
      "properties": {
        "chips": {
          "description": "Optional. List of suggestion chips.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartChip"
          }
        }
      },
      "description": "A suggestion chips part.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1DialogflowInteractionData": {
      "type": "object",
      "properties": {
        "dialogflowIntentId": {
          "description": "The Dialogflow intent resource path. Format: projects/{project}/agent/{agent}/intents/{intent}",
          "type": "string"
        },
        "confidence": {
          "format": "float",
          "description": "The confidence of the match ranging from 0.0 (completely uncertain) to 1.0 (completely certain).",
          "type": "number"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1DialogflowInteractionData",
      "description": "Dialogflow interaction data."
    },
    "GoogleCloudContactcenterinsightsV1AssessmentRule": {
      "description": "The CCAI Insights project wide assessment rule. This assessment rule will be applied to all conversations from the previous sampling cycle that match the sample rule defined in the assessment rule. One project can have multiple assessment rules.",
      "id": "GoogleCloudContactcenterinsightsV1AssessmentRule",
      "properties": {
        "updateTime": {
          "description": "Output only. The most recent time at which this assessment rule was updated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "scheduleInfo": {
          "description": "Schedule info for the assessment rule.",
          "$ref": "GoogleCloudContactcenterinsightsV1ScheduleInfo"
        },
        "displayName": {
          "description": "Display Name of the assessment rule.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time at which this assessment rule was created.",
          "readOnly": true,
          "type": "string"
        },
        "sampleRule": {
          "$ref": "GoogleCloudContactcenterinsightsV1SampleRule",
          "description": "The sample rule for the assessment rule."
        },
        "name": {
          "description": "Identifier. The resource name of the assessment rule. Format: projects/{project}/locations/{location}/assessmentRules/{assessment_rule}",
          "type": "string"
        },
        "active": {
          "description": "If true, apply this rule to conversations. Otherwise, this rule is inactive.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1CalculateStatsResponseTimeSeries": {
      "properties": {
        "intervalDuration": {
          "description": "The duration of each interval.",
          "format": "google-duration",
          "type": "string"
        },
        "points": {
          "description": "An ordered list of intervals from earliest to latest, where each interval represents the number of conversations that transpired during the time window.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1CalculateStatsResponseTimeSeriesInterval"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1CalculateStatsResponseTimeSeries",
      "description": "A time series representing conversations over time."
    },
    "GoogleCloudContactcenterinsightsV1InterruptionData": {
      "id": "GoogleCloudContactcenterinsightsV1InterruptionData",
      "properties": {},
      "description": "The data for an interruption annotation.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPointDialogflowInteractionMeasure": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPointDialogflowInteractionMeasure",
      "description": "The measure related to dialogflow interactions.",
      "properties": {
        "percentileEndToEndLatency": {
          "description": "The percentile result for end to end chat latency in milliseconds per dialogflow interaction level.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPointPercentileResult"
        },
        "percentileToolUseLatency": {
          "description": "The percentile result for tool use latency in milliseconds per dialogflow interaction level.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPointPercentileResult"
        },
        "percentileTtsLatency": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPointPercentileResult",
          "description": "The percentile result for TTS latency in milliseconds per dialogflow interaction level."
        },
        "percentileAudioInAudioOutLatency": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPointPercentileResult",
          "description": "The percentile result for audio in audio out latency in milliseconds per dialogflow interaction level."
        },
        "percentileLlmCallLatency": {
          "description": "The percentile result for LLM latency in milliseconds per dialogflow interaction level.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPointPercentileResult"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1UpdateQaQuestionTagMetadata": {
      "properties": {
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1UpdateQaQuestionTagRequest",
          "readOnly": true,
          "description": "Output only. The original request."
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the operation finished running."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1UpdateQaQuestionTagMetadata",
      "description": "The metadata for updating a QaQuestionTag Resource.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartLinkPart": {
      "description": "A link part.",
      "id": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartLinkPart",
      "type": "object",
      "properties": {
        "text": {
          "type": "string",
          "description": "Optional. Anchor or display text."
        },
        "uri": {
          "description": "Optional. Target URI.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationDataSource": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationDataSource",
      "properties": {
        "dialogflowSource": {
          "description": "The source when the conversation comes from Dialogflow.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1DialogflowSource"
        },
        "gcsSource": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1GcsSource",
          "description": "A Cloud Storage location specification for the audio and transcript."
        },
        "turnLevelAudios": {
          "description": "Cloud Storage URIs that points to files that contain the conversation audio for each turn. Assume the order of the URIs is the same as the order of the transcript turns.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConversationDataSourceTurnLevelAudio"
          }
        },
        "metadataUri": {
          "type": "string",
          "description": "Cloud Storage URI that points to a file that contains the conversation metadata."
        }
      },
      "description": "The conversation source, which is a combination of transcript and audio."
    },
    "GoogleCloudContactcenterinsightsV1ConversationCallMetadata": {
      "description": "Call-specific metadata.",
      "type": "object",
      "properties": {
        "customerChannel": {
          "description": "The audio channel that contains the customer.",
          "type": "integer",
          "format": "int32"
        },
        "agentChannel": {
          "type": "integer",
          "description": "The audio channel that contains the agent.",
          "format": "int32"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1ConversationCallMetadata"
    },
    "GoogleCloudContactcenterinsightsV1ImportIssueModelRequestGcsSource": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1ImportIssueModelRequestGcsSource",
      "description": "Google Cloud Storage Object URI to get the issue model file from.",
      "properties": {
        "objectUri": {
          "description": "Required. Format: `gs:///`",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationLevelSentiment": {
      "type": "object",
      "properties": {
        "channelTag": {
          "description": "The channel of the audio that the data applies to.",
          "type": "integer",
          "format": "int32"
        },
        "sentimentData": {
          "description": "Data specifying sentiment.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1SentimentData"
        }
      },
      "description": "One channel of conversation-level sentiment data.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationLevelSentiment"
    },
    "GoogleCloudContactcenterinsightsV1SettingsDiagnosticMetricConfig": {
      "properties": {
        "metrics": {
          "type": "object",
          "description": "Optional. A map of diagnostic metrics. The key is a unique identifier for the metric (e.g., \"containment\").",
          "additionalProperties": {
            "$ref": "GoogleCloudContactcenterinsightsV1MetricDefinition"
          }
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1SettingsDiagnosticMetricConfig",
      "description": "Configuration for diagnostic metrics.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainConstraintEvaluationResult": {
      "type": "object",
      "description": "The result of testing a constraint expression on a pair of conversations.",
      "properties": {
        "ruleConstraintResults": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainConstraintEvaluationResultRuleConstraintResult"
          },
          "description": "The results for each applicable constraint rule."
        },
        "conversationA": {
          "description": "The first conversation resource name.",
          "type": "string"
        },
        "conversationB": {
          "description": "The second conversation resource name.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainConstraintEvaluationResult"
    },
    "GoogleCloudContactcenterinsightsV1Container": {
      "description": "Configurable dashboard's container. Container can contain multiple widgets.",
      "properties": {
        "description": {
          "type": "string",
          "description": "Container description"
        },
        "width": {
          "type": "integer",
          "format": "int32",
          "description": "The width of the container in grid units."
        },
        "height": {
          "type": "integer",
          "format": "int32",
          "description": "The height of the container in grid units."
        },
        "containerId": {
          "type": "string",
          "description": "Output only. Unique ID for the container.",
          "readOnly": true
        },
        "widgets": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1Widget"
          },
          "description": "Widgets in the Container.",
          "type": "array"
        },
        "dateRangeConfig": {
          "description": "Date range config applied to all charts in the container.",
          "$ref": "GoogleCloudContactcenterinsightsV1DateRangeConfig"
        },
        "displayName": {
          "type": "string",
          "description": "User provided display name of the Container."
        },
        "filter": {
          "type": "string",
          "description": "Filter applied to all charts in the container. Should support scope later."
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1Container"
    },
    "GoogleCloudContactcenterinsightsV1mainBulkDeleteConversationsResponse": {
      "id": "GoogleCloudContactcenterinsightsV1mainBulkDeleteConversationsResponse",
      "properties": {},
      "description": "The response for a bulk delete conversations operation.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1SentimentData": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1SentimentData",
      "description": "The data for a sentiment annotation.",
      "properties": {
        "magnitude": {
          "format": "float",
          "type": "number",
          "description": "A non-negative number from 0 to infinity which represents the absolute magnitude of sentiment regardless of score."
        },
        "score": {
          "type": "number",
          "description": "The sentiment score between -1.0 (negative) and 1.0 (positive).",
          "format": "float"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainConversationCorrelationInfo": {
      "description": "Info for correlating across conversations.",
      "id": "GoogleCloudContactcenterinsightsV1mainConversationCorrelationInfo",
      "type": "object",
      "properties": {
        "correlationTypes": {
          "readOnly": true,
          "items": {
            "enum": [
              "CORRELATION_TYPE_UNSPECIFIED",
              "SEGMENT",
              "PARTIAL",
              "FULL",
              "SYNTHETIC"
            ],
            "type": "string",
            "enumDescriptions": [
              "Default value for unspecified.",
              "This conversation represents a segment of a full conversation. The lowest level of granularity.",
              "This conversation represents a partial conversation of potentially multiple segments but is not a full conversation.",
              "This conversation represents a full conversation of potentially multiple segments.",
              "This conversation represents a synthetic conversation."
            ]
          },
          "description": "Output only. The correlation types of this conversation. A single conversation can have multiple correlation types. For example a conversation that only has a single segment is both a SEGMENT and a FULL_CONVERSATION.",
          "type": "array"
        },
        "mergedFullConversationCorrelationId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The full conversation correlation id this conversation is a merged conversation of."
        },
        "fullConversationCorrelationId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The full conversation correlation id this conversation is a segment of."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPartCitationPart": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPartCitationPart",
      "description": "A citation part.",
      "type": "object",
      "properties": {
        "snippet": {
          "type": "string",
          "description": "Optional. Snippet of the cited text."
        },
        "sourceUri": {
          "description": "Optional. The cited source URI.",
          "type": "string"
        },
        "sourceTitle": {
          "type": "string",
          "description": "Optional. The cited source title."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1InitializeEncryptionSpecResponse": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1InitializeEncryptionSpecResponse",
      "properties": {},
      "description": "The response to initialize a location-level encryption specification.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1QaScorecardResult": {
      "description": "The results of scoring a single conversation against a QaScorecard. Contains a collection of QaAnswers and aggregate score.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1QaScorecardResult",
      "type": "object",
      "properties": {
        "qaAnswers": {
          "type": "array",
          "description": "Set of QaAnswers represented in the result.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1QaAnswer"
          }
        },
        "normalizedScore": {
          "format": "double",
          "description": "The normalized score, which is the score divided by the potential score. Any manual edits are included if they exist.",
          "type": "number"
        },
        "qaTagResults": {
          "description": "Collection of tags and their scores.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1QaScorecardResultQaTagResult"
          }
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp that the revision was created.",
          "type": "string",
          "readOnly": true
        },
        "conversation": {
          "type": "string",
          "description": "The conversation scored by this result."
        },
        "scoreSources": {
          "description": "List of all individual score sets.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1QaScorecardResultScoreSource"
          },
          "type": "array"
        },
        "potentialScore": {
          "format": "double",
          "description": "The maximum potential overall score of the scorecard. Any questions answered using `na_value` are excluded from this calculation.",
          "type": "number"
        },
        "score": {
          "description": "The overall numerical score of the result, incorporating any manual edits if they exist.",
          "type": "number",
          "format": "double"
        },
        "agentId": {
          "description": "ID of the agent that handled the conversation.",
          "type": "string"
        },
        "qaScorecardRevision": {
          "type": "string",
          "description": "The QaScorecardRevision scored by this result."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the scorecard result. Format: projects/{project}/locations/{location}/qaScorecardResults/{qa_scorecard_result}"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainListFeedbackLabelsResponse": {
      "description": "The response for listing feedback labels.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainListFeedbackLabelsResponse",
      "properties": {
        "feedbackLabels": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainFeedbackLabel"
          },
          "type": "array",
          "description": "The feedback labels that match the request."
        },
        "nextPageToken": {
          "description": "The next page token.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1SampleConversationsRequest": {
      "properties": {
        "parent": {
          "description": "Required. The parent resource of the dataset.",
          "type": "string"
        },
        "sampleRule": {
          "description": "Optional. The sample rule used for sampling conversations.",
          "$ref": "GoogleCloudContactcenterinsightsV1SampleRule"
        },
        "destinationDataset": {
          "description": "The dataset resource to copy the sampled conversations to.",
          "$ref": "GoogleCloudContactcenterinsightsV1Dataset"
        }
      },
      "description": "The request to sample conversations to a dataset.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1SampleConversationsRequest"
    },
    "GoogleCloudContactcenterinsightsV1IssueAssignment": {
      "properties": {
        "issue": {
          "type": "string",
          "description": "Resource name of the assigned issue."
        },
        "score": {
          "description": "Score indicating the likelihood of the issue assignment. currently bounded on [0,1].",
          "type": "number",
          "format": "double"
        },
        "displayName": {
          "description": "Immutable. Display name of the assigned issue. This field is set at time of analysis and immutable since then.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1IssueAssignment",
      "description": "Information about the issue."
    },
    "GoogleCloudContactcenterinsightsV1mainAnnotatorSelector": {
      "properties": {
        "runSentimentAnnotator": {
          "type": "boolean",
          "description": "Whether to run the sentiment annotator."
        },
        "phraseMatchers": {
          "items": {
            "type": "string"
          },
          "description": "The list of phrase matchers to run. If not provided, all active phrase matchers will be used. If inactive phrase matchers are provided, they will not be used. Phrase matchers will be run only if run_phrase_matcher_annotator is set to true. Format: projects/{project}/locations/{location}/phraseMatchers/{phrase_matcher}",
          "type": "array"
        },
        "runIntentAnnotator": {
          "description": "Whether to run the intent annotator.",
          "type": "boolean"
        },
        "runSilenceAnnotator": {
          "description": "Whether to run the silence annotator.",
          "type": "boolean"
        },
        "summarizationConfig": {
          "description": "Configuration for the summarization annotator.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainAnnotatorSelectorSummarizationConfig"
        },
        "runEntityAnnotator": {
          "type": "boolean",
          "description": "Whether to run the entity annotator."
        },
        "runAutoLabelingAnnotator": {
          "description": "Optional. Whether to run the auto-labeling annotator. If true, the auto-labeling annotator will be run. This is a non-billable operation designed for fixing or backfilling custom labels.",
          "type": "boolean"
        },
        "runInterruptionAnnotator": {
          "description": "Whether to run the interruption annotator.",
          "type": "boolean"
        },
        "runQaAnnotator": {
          "type": "boolean",
          "description": "Whether to run the QA annotator."
        },
        "runPhraseMatcherAnnotator": {
          "description": "Whether to run the active phrase matcher annotator(s).",
          "type": "boolean"
        },
        "qaConfig": {
          "description": "Configuration for the QA annotator.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainAnnotatorSelectorQaConfig"
        },
        "issueModels": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The issue model to run. If not provided, the most recently deployed topic model will be used. The provided issue model will only be used for inference if the issue model is deployed and if run_issue_model_annotator is set to true. If more than one issue model is provided, only the first provided issue model will be used for inference."
        },
        "runSummarizationAnnotator": {
          "description": "Whether to run the summarization annotator.",
          "type": "boolean"
        },
        "runIssueModelAnnotator": {
          "description": "Whether to run the issue model annotator. A model should have already been deployed for this to take effect.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainAnnotatorSelector",
      "type": "object",
      "description": "Selector of all available annotators and phrase matchers to run."
    },
    "GoogleCloudCesV1mainSpan": {
      "id": "GoogleCloudCesV1mainSpan",
      "description": "A span is a unit of work or a single operation during the request processing.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The name of the span.",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "description": "Output only. The end time of the span.",
          "format": "google-datetime",
          "readOnly": true
        },
        "attributes": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "readOnly": true,
          "type": "object",
          "description": "Output only. Key-value attributes associated with the span."
        },
        "startTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The start time of the span."
        },
        "childSpans": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudCesV1mainSpan"
          },
          "description": "Output only. The child spans that are nested under this span."
        },
        "duration": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The duration of the span.",
          "format": "google-duration"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1ListPhraseMatchersResponse": {
      "description": "The response of listing phrase matchers.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1ListPhraseMatchersResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "phraseMatchers": {
          "description": "The phrase matchers that match the request.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1PhraseMatcher"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1StreamChatResponse": {
      "id": "GoogleCloudContactcenterinsightsV1StreamChatResponse",
      "description": "Response from streaming chat.",
      "properties": {
        "eventTime": {
          "format": "google-datetime",
          "description": "The time when the event occurred.",
          "type": "string"
        },
        "chunk": {
          "description": "A chunk of the assistant response message.",
          "$ref": "GoogleCloudContactcenterinsightsV1AssistantChunk"
        },
        "eventId": {
          "type": "string",
          "description": "The unique ID of the event."
        },
        "statusMessage": {
          "type": "string",
          "description": "A status message."
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1ListDatasetsResponse": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1ListDatasetsResponse",
      "description": "The response to list datasets.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "datasets": {
          "description": "The datasets that match the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1Dataset"
          }
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSlice": {
      "properties": {
        "dimensions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1Dimension"
          },
          "description": "A unique combination of dimensions that this slice represents."
        },
        "timeSeries": {
          "description": "A time series of metric values. This is only populated if the request specifies a time granularity other than NONE.",
          "$ref": "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceTimeSeries"
        },
        "total": {
          "description": "The total metric value. The interval of this data point is [starting create time, ending create time) from the request.",
          "$ref": "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPoint"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSlice",
      "description": "A slice contains a total and (if the request specified a time granularity) a time series of metric values. Each slice contains a unique combination of the cardinality of dimensions from the request. For example, if the request specifies a single ISSUE dimension and it has a cardinality of 2 (i.e. the data used to compute the metrics has 2 issues in total), the response will have 2 slices: * Slice 1 -> dimensions=[Issue 1] * Slice 2 -> dimensions=[Issue 2]"
    },
    "GoogleCloudContactcenterinsightsV1mainGenerativeInsightsResponse": {
      "properties": {
        "transcript": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainGenerativeInsightConversationTranscript",
          "description": "The transcript of the generative insights conversation."
        },
        "generativeResponses": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainGenerativeInsightsResponseGenerativeResponse"
          },
          "type": "array",
          "description": "The full list of generative responses. Each response is ordered by time."
        }
      },
      "description": "The response for generative insights.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainGenerativeInsightsResponse"
    },
    "GoogleCloudContactcenterinsightsV1alpha1PhraseMatchData": {
      "type": "object",
      "properties": {
        "phraseMatcher": {
          "description": "The unique identifier (the resource name) of the phrase matcher.",
          "type": "string"
        },
        "displayName": {
          "description": "The human-readable name of the phrase matcher.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1PhraseMatchData",
      "description": "The data for a matched phrase matcher. Represents information identifying a phrase matcher for a given match."
    },
    "GoogleCloudContactcenterinsightsV1mainConversationCorrelationResultRuleCorrelationResult": {
      "id": "GoogleCloudContactcenterinsightsV1mainConversationCorrelationResultRuleCorrelationResult",
      "description": "The result of a single correlation rule.",
      "properties": {
        "ruleId": {
          "type": "string",
          "description": "The rule ID."
        },
        "correlationId": {
          "type": "string",
          "description": "The correlation ID generated by the join key expression."
        },
        "error": {
          "description": "The error status if the join key expression failed to evaluate.",
          "$ref": "GoogleRpcStatus"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainExportIssueModelRequest": {
      "description": "Request to export an issue model.",
      "properties": {
        "gcsDestination": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainExportIssueModelRequestGcsDestination",
          "description": "Google Cloud Storage URI to export the issue model to."
        },
        "name": {
          "description": "Required. The issue model to export.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainExportIssueModelRequest",
      "type": "object"
    },
    "GoogleIamV1Binding": {
      "description": "Associates `members`, or principals, with a `role`.",
      "id": "GoogleIamV1Binding",
      "type": "object",
      "properties": {
        "members": {
          "type": "array",
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "items": {
            "type": "string"
          }
        },
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "GoogleTypeExpr"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1QueryPerformanceOverviewResponse": {
      "description": "The response for querying performance overview.",
      "properties": {
        "summaryText": {
          "type": "string",
          "description": "The summary text of the performance."
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1QueryPerformanceOverviewResponse"
    },
    "GoogleCloudContactcenterinsightsV1mainFeedbackLabel": {
      "properties": {
        "name": {
          "description": "Immutable. Resource name of the FeedbackLabel. Format: projects/{project}/locations/{location}/conversations/{conversation}/feedbackLabels/{feedback_label}",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Update time of the label."
        },
        "label": {
          "description": "String label used for Topic Modeling.",
          "type": "string"
        },
        "labeledResource": {
          "type": "string",
          "description": "Name of the resource to be labeled. Supported resources are: * `projects/{project}/locations/{location}/qaScorecards/{scorecard}/revisions/{revision}/qaQuestions/{question}` * `projects/{project}/locations/{location}/issueModels/{issue_model}` * `projects/{project}/locations/{location}/generators/{generator_id}`"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Create time of the label.",
          "readOnly": true
        },
        "qaAnswerLabel": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainQaAnswerAnswerValue",
          "description": "QaAnswer label used for Quality AI example conversations."
        }
      },
      "description": "Represents a conversation, resource, and label provided by the user. Can take the form of a string label or a QaAnswer label. QaAnswer labels are used for Quality AI example conversations. String labels are used for Topic Modeling. AgentAssistSummary labels are used for Agent Assist Summarization.",
      "id": "GoogleCloudContactcenterinsightsV1mainFeedbackLabel",
      "type": "object"
    },
    "GoogleLongrunningOperation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "GoogleLongrunningOperation",
      "properties": {
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1SampleConversationsResponse": {
      "properties": {},
      "description": "The response to an SampleConversations operation.",
      "id": "GoogleCloudContactcenterinsightsV1SampleConversationsResponse",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainCreateAnalysisOperationMetadata": {
      "properties": {
        "conversation": {
          "type": "string",
          "description": "Output only. The Conversation that this Analysis Operation belongs to.",
          "readOnly": true
        },
        "annotatorSelector": {
          "description": "Output only. The annotator selector used for the analysis (if any).",
          "$ref": "GoogleCloudContactcenterinsightsV1mainAnnotatorSelector",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime"
        },
        "endTime": {
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainCreateAnalysisOperationMetadata",
      "description": "Metadata for a create analysis operation.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1Assessment": {
      "properties": {
        "agentInfo": {
          "description": "Information about the agent the assessment is for.",
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationQualityMetadataAgentInfo"
        },
        "state": {
          "description": "Output only. The state of the assessment.",
          "enum": [
            "STATE_UNSPECIFIED",
            "DRAFT",
            "PUBLISHED",
            "APPEALED",
            "FINALIZED"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The state is unspecified. This value should not be used.",
            "The default state of all new assessments.",
            "The assessment has been published.",
            "The assessment has been appealed.",
            "The assessment has been finalized."
          ]
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the assessment. Format: projects/{project}/locations/{location}/conversations/{conversation}/assessments/{assessment}"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The time at which the assessment was last updated.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time at which the assessment was created.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1Assessment",
      "type": "object",
      "description": "The assessment resource."
    },
    "GoogleCloudContactcenterinsightsV1ListAllFeedbackLabelsResponse": {
      "id": "GoogleCloudContactcenterinsightsV1ListAllFeedbackLabelsResponse",
      "description": "The response for listing all feedback labels.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "feedbackLabels": {
          "type": "array",
          "description": "The feedback labels that match the request.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1FeedbackLabel"
          }
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1DeployIssueModelResponse": {
      "description": "The response to deploy an issue model.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1DeployIssueModelResponse",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudContactcenterinsightsV1BulkUploadFeedbackLabelsRequestSheetsSource": {
      "id": "GoogleCloudContactcenterinsightsV1BulkUploadFeedbackLabelsRequestSheetsSource",
      "properties": {
        "spreadsheetUri": {
          "type": "string",
          "description": "Required. The Google Sheets document to write the feedback labels to. Retrieved from Google Sheets URI. E.g. `https://docs.google.com/spreadsheets/d/1234567890` The spreadsheet must be shared with the Insights P4SA."
        }
      },
      "type": "object",
      "description": "Google Sheets document details to get the feedback label file from."
    },
    "GoogleCloudContactcenterinsightsV1AnalysisResult": {
      "type": "object",
      "properties": {
        "callAnalysisMetadata": {
          "$ref": "GoogleCloudContactcenterinsightsV1AnalysisResultCallAnalysisMetadata",
          "description": "Call-specific metadata created by the analysis."
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which the analysis ended."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1AnalysisResult",
      "description": "The result of an analysis."
    },
    "GoogleCloudContactcenterinsightsV1QaQuestionTuningMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1QaQuestionTuningMetadata",
      "description": "Metadata about the tuning operation for the question. Will only be set if a scorecard containing this question has been tuned.",
      "properties": {
        "tuningError": {
          "description": "Error status of the tuning operation for the question. Will only be set if the tuning operation failed.",
          "type": "string"
        },
        "datasetValidationWarnings": {
          "items": {
            "enumDescriptions": [
              "Unspecified data validation warning.",
              "A non-trivial percentage of the feedback labels are invalid.",
              "The quantity of valid feedback labels provided is less than the recommended minimum.",
              "One or more of the answers have less than the recommended minimum of feedback labels.",
              "All the labels in the dataset come from a single answer choice."
            ],
            "enum": [
              "DATASET_VALIDATION_WARNING_UNSPECIFIED",
              "TOO_MANY_INVALID_FEEDBACK_LABELS",
              "INSUFFICIENT_FEEDBACK_LABELS",
              "INSUFFICIENT_FEEDBACK_LABELS_PER_ANSWER",
              "ALL_FEEDBACK_LABELS_HAVE_THE_SAME_ANSWER"
            ],
            "type": "string"
          },
          "description": "A list of any applicable data validation warnings about the question's feedback labels.",
          "type": "array"
        },
        "totalValidLabelCount": {
          "type": "string",
          "format": "int64",
          "description": "Total number of valid labels provided for the question at the time of tuining."
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainGenerativeInsightsResponseGenerativeResponse": {
      "id": "GoogleCloudContactcenterinsightsV1mainGenerativeInsightsResponseGenerativeResponse",
      "type": "object",
      "description": "Wrapper for storing the generative response for a chart.",
      "properties": {
        "chartSpec": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "The chart spec for the data. This will be specified in the vega-lite or vega format."
        },
        "generatedSqlQuery": {
          "description": "The generated SQL query from the LLM. Will be populated during the chart building phase. The generated SQL will be cached in the corresponding chart resource.",
          "type": "string"
        },
        "textOutput": {
          "description": "The text output from the LLM. Will be populated during the chart building phase. For a reloaded chart, this will NOT be populated. May contain THOUGHT or a FINAL response or some in-progress response.",
          "deprecated": true,
          "type": "string"
        },
        "textMessage": {
          "description": "The text output from the LLM. Will be populated during the chart building phase. For a reloaded chart, this will NOT be populated. May contain THOUGHT or a FINAL response or some in-progress response.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainGenerativeInsightsResponseGenerativeResponseTextOutput"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainIntentMatchData": {
      "description": "The data for an intent match. Represents an intent match for a text segment in the conversation. A text segment can be part of a sentence, a complete sentence, or an utterance with multiple sentences.",
      "properties": {
        "intentUniqueId": {
          "type": "string",
          "description": "The id of the matched intent. Can be used to retrieve the corresponding intent information."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainIntentMatchData",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1IssueModelInputDataConfig": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1IssueModelInputDataConfig",
      "properties": {
        "medium": {
          "description": "Medium of conversations used in training data. This field is being deprecated. To specify the medium to be used in training a new issue model, set the `medium` field on `filter`.",
          "deprecated": true,
          "enumDescriptions": [
            "Default value for unspecified.",
            "The format for conversations that took place over the phone.",
            "The format for conversations that took place over chat."
          ],
          "enum": [
            "MEDIUM_UNSPECIFIED",
            "PHONE_CALL",
            "CHAT"
          ],
          "type": "string"
        },
        "filter": {
          "description": "A filter to reduce the conversations used for training the model to a specific subset. Refer to https://cloud.google.com/contact-center/insights/docs/filtering for details.",
          "type": "string"
        },
        "trainingConversationsCount": {
          "format": "int64",
          "description": "Output only. Number of conversations used in training. Output only.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Configs for the input data used to create the issue model."
    },
    "GoogleCloudContactcenterinsightsV1IssueModel": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1IssueModel",
      "properties": {
        "modelType": {
          "description": "Type of the model.",
          "enum": [
            "MODEL_TYPE_UNSPECIFIED",
            "TYPE_V1",
            "TYPE_V2"
          ],
          "enumDescriptions": [
            "Unspecified model type.",
            "Type V1.",
            "Type V2."
          ],
          "type": "string"
        },
        "inputDataConfig": {
          "$ref": "GoogleCloudContactcenterinsightsV1IssueModelInputDataConfig",
          "description": "Configs for the input data that used to create the issue model."
        },
        "issueCount": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Number of issues in this issue model.",
          "format": "int64"
        },
        "name": {
          "description": "Immutable. The resource name of the issue model. Format: projects/{project}/locations/{location}/issueModels/{issue_model}",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The most recent time at which the issue model was updated.",
          "type": "string"
        },
        "languageCode": {
          "description": "Language of the model.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The representative name for the issue model."
        },
        "state": {
          "description": "Output only. State of the model.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "UNDEPLOYED",
            "DEPLOYING",
            "DEPLOYED",
            "UNDEPLOYING",
            "DELETING"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Model is not deployed but is ready to deploy.",
            "Model is being deployed.",
            "Model is deployed and is ready to be used. A model can only be used in analysis if it's in this state.",
            "Model is being undeployed.",
            "Model is being deleted."
          ]
        },
        "createTime": {
          "description": "Output only. The time at which this issue model was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "trainingStats": {
          "$ref": "GoogleCloudContactcenterinsightsV1IssueModelLabelStats",
          "readOnly": true,
          "description": "Output only. Immutable. The issue model's label statistics on its training data."
        }
      },
      "description": "The issue model resource."
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPartTextPart": {
      "type": "object",
      "properties": {
        "text": {
          "type": "string",
          "description": "Optional. The text content."
        }
      },
      "description": "A text part.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPartTextPart"
    },
    "GoogleCloudContactcenterinsightsV1mainConversationDataSourceTurnLevelAudio": {
      "type": "object",
      "properties": {
        "audioGcsUri": {
          "description": "The Cloud Storage URI of the audio for any given turn.",
          "type": "string"
        },
        "audioDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "The duration of the audio."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainConversationDataSourceTurnLevelAudio",
      "description": "A wrapper for holding the audio for any given turn."
    },
    "GoogleCloudContactcenterinsightsV1QueryMetricsResponse": {
      "description": "The response for querying metrics.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1QueryMetricsResponse",
      "properties": {
        "slices": {
          "type": "array",
          "description": "A slice contains a total and (if the request specified a time granularity) a time series of metric values. Each slice contains a unique combination of the cardinality of dimensions from the request.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSlice"
          }
        },
        "location": {
          "description": "Required. The location of the data. \"projects/{project}/locations/{location}\"",
          "type": "string"
        },
        "updateTime": {
          "description": "The metrics last update time.",
          "type": "string",
          "format": "google-datetime"
        },
        "macroAverageSlice": {
          "description": "The macro average slice contains aggregated averages across all selected dimensions. i.e. if group_by agent and scorecard_id is specified, this field will contain the average across all agents and all scorecards. This field is only populated if the request specifies a Dimension.",
          "$ref": "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSlice"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1ImportIssueModelResponse": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1ImportIssueModelResponse",
      "description": "Response from import issue model",
      "properties": {
        "issueModel": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1IssueModel",
          "description": "The issue model that was imported."
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1BulkDeleteConversationsRequest": {
      "id": "GoogleCloudContactcenterinsightsV1BulkDeleteConversationsRequest",
      "type": "object",
      "description": "The request to delete conversations in bulk.",
      "properties": {
        "maxDeleteCount": {
          "format": "int32",
          "description": "Maximum number of conversations to delete.",
          "type": "integer"
        },
        "filter": {
          "type": "string",
          "description": "Filter used to select the subset of conversations to delete."
        },
        "force": {
          "type": "boolean",
          "description": "If set to true, all of this conversation's analyses will also be deleted. Otherwise, the request will only succeed if the conversation has no analyses."
        },
        "parent": {
          "type": "string",
          "description": "Required. The parent resource to delete conversations from. Format: projects/{project}/locations/{location}"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1DeleteIssueModelMetadata": {
      "properties": {
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "request": {
          "description": "The original request for deletion.",
          "$ref": "GoogleCloudContactcenterinsightsV1DeleteIssueModelRequest"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1DeleteIssueModelMetadata",
      "description": "Metadata for deleting an issue model."
    },
    "GoogleCloudContactcenterinsightsV1AuthorizedView": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1AuthorizedView",
      "description": "An AuthorizedView represents a view of accessible Insights resources (for example, Conversation and Scorecard). Who have read access to the AuthorizedView resource will have access to these Insight resources as well.",
      "properties": {
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time at which the authorized view was created.",
          "format": "google-datetime"
        },
        "displayName": {
          "description": "Display Name. Limit 64 characters.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the AuthorizedView. Format: projects/{project}/locations/{location}/authorizedViewSets/{authorized_view_set}/authorizedViews/{authorized_view}",
          "type": "string"
        },
        "conversationFilter": {
          "type": "string",
          "description": "A filter to reduce conversation results to a specific subset. The AuthorizedView's assigned permission (read/write) could be applied to the subset of conversations. If conversation_filter is empty, there is no restriction on the conversations that the AuthorizedView can access. Having *authorizedViews.get* access to the AuthorizedView means having the same read/write access to the Conversations (as well as metadata/annotations linked to the conversation) that this AuthorizedView has."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The most recent time at which the authorized view was updated."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1ExportIssueModelRequest": {
      "description": "Request to export an issue model.",
      "properties": {
        "name": {
          "description": "Required. The issue model to export.",
          "type": "string"
        },
        "gcsDestination": {
          "$ref": "GoogleCloudContactcenterinsightsV1ExportIssueModelRequestGcsDestination",
          "description": "Google Cloud Storage URI to export the issue model to."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1ExportIssueModelRequest",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1IssueModelLabelStatsIssueStats": {
      "type": "object",
      "properties": {
        "issue": {
          "description": "Issue resource. Format: projects/{project}/locations/{location}/issueModels/{issue_model}/issues/{issue}",
          "type": "string"
        },
        "labeledConversationsCount": {
          "format": "int64",
          "description": "Number of conversations attached to the issue at this point in time.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Display name of the issue."
        }
      },
      "description": "Aggregated statistics about an issue.",
      "id": "GoogleCloudContactcenterinsightsV1IssueModelLabelStatsIssueStats"
    },
    "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPoint": {
      "properties": {
        "conversationMeasure": {
          "description": "The measure related to conversations.",
          "$ref": "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPointConversationMeasure"
        },
        "dialogflowInteractionMeasure": {
          "description": "The measure related to dialogflow interactions.",
          "$ref": "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPointDialogflowInteractionMeasure"
        },
        "interval": {
          "description": "The interval that this data point represents. * If this is the total data point, the interval is [starting create time, ending create time) from the request. * If this a data point from the time series, the interval is [time, time + time granularity from the request).",
          "$ref": "GoogleTypeInterval"
        }
      },
      "description": "A data point contains the metric values mapped to an interval.",
      "id": "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPoint",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainGenerativeInsightConversationTranscriptMessageSystemMessageTextOutput": {
      "properties": {
        "textType": {
          "type": "string",
          "description": "The type of the text message.",
          "enumDescriptions": [
            "The default text type.",
            "The text is a thinking plan generated by the thinking tool.",
            "The text is a final response to the user question.",
            "The text is an informational message about the agent's progress, such as a tool being invoked. This is distinct from the agent's internal thought process (`THOUGHT`) and the final answer to the user (`FINAL_RESPONSE`). These messages provide insight into the agent's actions."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "THOUGHT",
            "FINAL_RESPONSE",
            "PROGRESS"
          ]
        },
        "text": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The parts of the message."
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainGenerativeInsightConversationTranscriptMessageSystemMessageTextOutput",
      "description": "A text output message from the system."
    },
    "GoogleCloudContactcenterinsightsV1GenerativeInsightsMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1GenerativeInsightsMetadata",
      "properties": {
        "errorMessages": {
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "The error message when the generative insights request fails."
        }
      },
      "type": "object",
      "description": "The metadata for generative insights."
    },
    "GoogleCloudContactcenterinsightsV1GenerativeInsightsChartCheckpoint": {
      "id": "GoogleCloudContactcenterinsightsV1GenerativeInsightsChartCheckpoint",
      "description": "The current chart checkpoint state.",
      "type": "object",
      "properties": {
        "revisionId": {
          "type": "string",
          "description": "The revision id of the chart."
        },
        "sessionId": {
          "type": "string",
          "description": "The session id of the chart."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainDimensionAgentDimensionMetadata": {
      "description": "Metadata about the agent dimension.",
      "properties": {
        "agentDeploymentDisplayName": {
          "type": "string",
          "description": "Optional. The agent's deployment display name. Only applicable to automated agents. This will be populated for AGENT_DEPLOYMENT_ID dimensions."
        },
        "agentTeam": {
          "type": "string",
          "description": "Optional. A user-specified string representing the agent's team."
        },
        "agentDeploymentId": {
          "description": "Optional. The agent's deployment ID. Only applicable to automated agents. This will be populated for AGENT and AGENT_DEPLOYMENT_ID dimensions.",
          "type": "string"
        },
        "agentId": {
          "type": "string",
          "description": "Optional. A user-specified string representing the agent. This will be populated for AGENT, AGENT_TEAM, AGENT_VERSION_ID, and AGENT_DEPLOYMENT_ID dimensions."
        },
        "agentDisplayName": {
          "description": "Optional. The agent's name This will be populated for AGENT, AGENT_TEAM, AGENT_VERSION_ID, and AGENT_DEPLOYMENT_ID dimensions.",
          "type": "string"
        },
        "agentVersionDisplayName": {
          "description": "Optional. The agent's version display name. Only applicable to automated agents. This will be populated for AGENT_VERSION_ID, and AGENT_DEPLOYMENT_ID dimensions.",
          "type": "string"
        },
        "agentVersionId": {
          "type": "string",
          "description": "Optional. The agent's version ID. Only applicable to automated agents. This will be populated for AGENT_VERSION_ID, and AGENT_DEPLOYMENT_ID dimensions."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainDimensionAgentDimensionMetadata",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPointConversationMeasureQaTagScore": {
      "properties": {
        "averageTagNormalizedScore": {
          "type": "number",
          "format": "double",
          "description": "Average tag normalized score per tag."
        },
        "tag": {
          "description": "Tag name.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPointConversationMeasureQaTagScore",
      "type": "object",
      "description": "Average QA normalized score for the tag."
    },
    "GoogleCloudContactcenterinsightsV1mainDeployIssueModelResponse": {
      "id": "GoogleCloudContactcenterinsightsV1mainDeployIssueModelResponse",
      "description": "The response to deploy an issue model.",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1TestCorrelationConfigMetadataFullConversationCorrelationStatsConversationCorrelationError": {
      "id": "GoogleCloudContactcenterinsightsV1TestCorrelationConfigMetadataFullConversationCorrelationStatsConversationCorrelationError",
      "type": "object",
      "description": "An error that occurred during correlation for a specific conversation.",
      "properties": {
        "conversation": {
          "description": "The conversation resource name that had an error during correlation.",
          "type": "string"
        },
        "status": {
          "$ref": "GoogleRpcStatus",
          "description": "The error status."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1DimensionQaQuestionAnswerDimensionMetadata": {
      "description": "Metadata about the QA question-answer dimension. This is useful for showing the answer distribution for questions for a given scorecard.",
      "properties": {
        "qaScorecardId": {
          "description": "Optional. The QA scorecard ID.",
          "type": "string"
        },
        "answerValue": {
          "description": "Optional. The full body of the question.",
          "type": "string"
        },
        "questionBody": {
          "type": "string",
          "description": "Optional. The full body of the question."
        },
        "qaQuestionId": {
          "type": "string",
          "description": "Optional. The QA question ID."
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1DimensionQaQuestionAnswerDimensionMetadata"
    },
    "GoogleCloudContactcenterinsightsV1mainGenerativeInsightsResponseGenerativeResponseTextOutput": {
      "description": "Wrapper for text output.",
      "properties": {
        "textType": {
          "type": "string",
          "description": "The type of text output.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "THOUGHT",
            "FINAL_RESPONSE",
            "PROGRESS"
          ],
          "enumDescriptions": [
            "The type is unspecified.",
            "The text is part of LLM reasoning.",
            "The text is the final answer from LLM.",
            "The text is an informational message about the agent's progress, such as a tool being invoked. This is distinct from the agent's internal thought process (`THOUGHT`) and the final answer to the user (`FINAL_RESPONSE`). These messages provide insight into the agent's actions."
          ]
        },
        "text": {
          "items": {
            "type": "string"
          },
          "description": "The text output from the LLM.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainGenerativeInsightsResponseGenerativeResponseTextOutput"
    },
    "GoogleCloudContactcenterinsightsV1AnswerFeedback": {
      "description": "The feedback that the customer has about a certain answer in the conversation.",
      "properties": {
        "correctnessLevel": {
          "type": "string",
          "enumDescriptions": [
            "Correctness level unspecified.",
            "Answer is totally wrong.",
            "Answer is partially correct.",
            "Answer is fully correct."
          ],
          "description": "The correctness level of an answer.",
          "enum": [
            "CORRECTNESS_LEVEL_UNSPECIFIED",
            "NOT_CORRECT",
            "PARTIALLY_CORRECT",
            "FULLY_CORRECT"
          ]
        },
        "clicked": {
          "description": "Indicates whether an answer or item was clicked by the human agent.",
          "type": "boolean"
        },
        "displayed": {
          "description": "Indicates whether an answer or item was displayed to the human agent in the agent desktop UI.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1AnswerFeedback"
    },
    "GoogleCloudContactcenterinsightsV1mainConversationParticipant": {
      "description": "The call participant speaking for a given utterance.",
      "type": "object",
      "properties": {
        "dialogflowParticipantName": {
          "type": "string",
          "description": "The name of the participant provided by Dialogflow. Format: projects/{project}/locations/{location}/conversations/{conversation}/participants/{participant}"
        },
        "role": {
          "enumDescriptions": [
            "Participant's role is not set.",
            "Participant is a human agent.",
            "Participant is an automated agent.",
            "Participant is an end user who conversed with the contact center.",
            "Participant is either a human or automated agent."
          ],
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER",
            "ANY_AGENT"
          ],
          "description": "The role of the participant.",
          "type": "string"
        },
        "userId": {
          "type": "string",
          "description": "A user-specified ID representing the participant."
        },
        "obfuscatedExternalUserId": {
          "type": "string",
          "description": "Obfuscated user ID from Dialogflow."
        },
        "dialogflowParticipant": {
          "description": "Deprecated. Use `dialogflow_participant_name` instead. The name of the Dialogflow participant. Format: projects/{project}/locations/{location}/conversations/{conversation}/participants/{participant}",
          "deprecated": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainConversationParticipant"
    },
    "GoogleCloudContactcenterinsightsV1mainConversationCallMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1mainConversationCallMetadata",
      "properties": {
        "customerChannel": {
          "description": "The audio channel that contains the customer.",
          "type": "integer",
          "format": "int32"
        },
        "agentChannel": {
          "type": "integer",
          "description": "The audio channel that contains the agent.",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "Call-specific metadata."
    },
    "GoogleCloudContactcenterinsightsV1mainExportInsightsDataRequest": {
      "properties": {
        "parent": {
          "type": "string",
          "description": "Required. The parent resource to export data from."
        },
        "writeDisposition": {
          "enumDescriptions": [
            "Write disposition is not specified. Defaults to WRITE_TRUNCATE.",
            "If the table already exists, BigQuery will overwrite the table data and use the schema from the load.",
            "If the table already exists, BigQuery will append data to the table."
          ],
          "type": "string",
          "description": "Options for what to do if the destination table already exists.",
          "enum": [
            "WRITE_DISPOSITION_UNSPECIFIED",
            "WRITE_TRUNCATE",
            "WRITE_APPEND"
          ]
        },
        "bigQueryDestination": {
          "description": "Specified if sink is a BigQuery table.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainExportInsightsDataRequestBigQueryDestination"
        },
        "filter": {
          "type": "string",
          "description": "A filter to reduce results to a specific subset. Useful for exporting conversations with specific properties."
        },
        "kmsKey": {
          "description": "A fully qualified KMS key name for BigQuery tables protected by CMEK. Format: projects/{project}/locations/{location}/keyRings/{keyring}/cryptoKeys/{key}/cryptoKeyVersions/{version}",
          "type": "string"
        },
        "exportSchemaVersion": {
          "type": "string",
          "description": "Optional. Version of the export schema.",
          "enumDescriptions": [
            "Unspecified. Defaults to EXPORT_V3.",
            "Export schema version 1.",
            "Export schema version 2.",
            "Export schema version 3.",
            "Export schema version 4.",
            "Export schema version 5.",
            "Export schema version 6.",
            "Export schema version 7.",
            "Export schema version 8.",
            "Export schema version 9.",
            "Export schema version 10.",
            "Export schema version 11.",
            "Export schema version 12.",
            "Export schema version 13.",
            "Export schema version 14.",
            "Export schema version 15.",
            "Export schema version 16.",
            "Export schema version 17.",
            "Export schema version latest available."
          ],
          "enum": [
            "EXPORT_SCHEMA_VERSION_UNSPECIFIED",
            "EXPORT_V1",
            "EXPORT_V2",
            "EXPORT_V3",
            "EXPORT_V4",
            "EXPORT_V5",
            "EXPORT_V6",
            "EXPORT_V7",
            "EXPORT_V8",
            "EXPORT_V9",
            "EXPORT_V10",
            "EXPORT_V11",
            "EXPORT_V12",
            "EXPORT_V13",
            "EXPORT_V14",
            "EXPORT_V15",
            "EXPORT_V16",
            "EXPORT_V17",
            "EXPORT_VERSION_LATEST_AVAILABLE"
          ]
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainExportInsightsDataRequest",
      "type": "object",
      "description": "The request to export insights."
    },
    "GoogleCloudContactcenterinsightsV1DateRangeConfigRelativeDateRange": {
      "properties": {
        "unit": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Day.",
            "Week.",
            "Month.",
            "Quarter.",
            "Year."
          ],
          "description": "Required. The unit of time.",
          "enum": [
            "TIME_UNIT_UNSPECIFIED",
            "DAY",
            "WEEK",
            "MONTH",
            "QUARTER",
            "YEAR"
          ]
        },
        "quantity": {
          "description": "Required. The quantity of units in the past.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "Relative date range configuration.",
      "id": "GoogleCloudContactcenterinsightsV1DateRangeConfigRelativeDateRange"
    },
    "GoogleCloudContactcenterinsightsV1IssueModelLabelStats": {
      "type": "object",
      "description": "Aggregated statistics about an issue model.",
      "id": "GoogleCloudContactcenterinsightsV1IssueModelLabelStats",
      "properties": {
        "unclassifiedConversationsCount": {
          "description": "Number of analyzed conversations for which no issue was applicable at this point in time.",
          "type": "string",
          "format": "int64"
        },
        "issueStats": {
          "type": "object",
          "description": "Statistics on each issue. Key is the issue's resource name.",
          "additionalProperties": {
            "$ref": "GoogleCloudContactcenterinsightsV1IssueModelLabelStatsIssueStats"
          }
        },
        "analyzedConversationsCount": {
          "description": "Number of conversations the issue model has analyzed at this point in time.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1UndeployIssueModelRequest": {
      "properties": {
        "name": {
          "description": "Required. The issue model to undeploy.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1UndeployIssueModelRequest",
      "description": "The request to undeploy an issue model."
    },
    "GoogleCloudContactcenterinsightsV1alpha1TestCorrelationConfigResponseDetailedCorrelationResults": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1TestCorrelationConfigResponseDetailedCorrelationResults",
      "description": "Wrapper for detailed, step-by-step results.",
      "properties": {
        "constraintResults": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConstraintEvaluationResult"
          },
          "description": "A list of constraint evaluation results for each pair of conversations."
        },
        "joinKeyResults": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConversationCorrelationResult"
          },
          "description": "A list of join key correlation results for each conversation tested.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1BulkDeleteFeedbackLabelsResponse": {
      "type": "object",
      "properties": {},
      "description": "Response for the BulkDeleteFeedbackLabels endpoint.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1BulkDeleteFeedbackLabelsResponse"
    },
    "GoogleCloudContactcenterinsightsV1alpha1ImportIssueModelRequest": {
      "type": "object",
      "properties": {
        "createNewModel": {
          "type": "boolean",
          "description": "Optional. If set to true, will create an issue model from the imported file with randomly generated IDs for the issue model and corresponding issues. Otherwise, replaces an existing model with the same ID as the file."
        },
        "gcsSource": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1ImportIssueModelRequestGcsSource",
          "description": "Google Cloud Storage source message."
        },
        "parent": {
          "description": "Required. The parent resource of the issue model.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1ImportIssueModelRequest",
      "description": "Request to import an issue model."
    },
    "GoogleCloudContactcenterinsightsV1RuntimeAnnotationUserInput": {
      "properties": {
        "generatorName": {
          "type": "string",
          "description": "The resource name of associated generator. Format: `projects//locations//generators/`"
        },
        "querySource": {
          "enumDescriptions": [
            "Unknown query source.",
            "The query is from agents.",
            "The query is a query from previous suggestions, e.g. from a preceding SuggestKnowledgeAssist response."
          ],
          "type": "string",
          "enum": [
            "QUERY_SOURCE_UNSPECIFIED",
            "AGENT_QUERY",
            "SUGGESTED_QUERY"
          ],
          "description": "Query source for the answer."
        },
        "query": {
          "description": "Query text. Article Search uses this to store the input query used to generate the search results.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1RuntimeAnnotationUserInput",
      "description": "Explicit input used for generating the answer"
    },
    "GoogleCloudContactcenterinsightsV1GenerativeInsightsChartConversationMessageUserMessage": {
      "description": "The user message.",
      "id": "GoogleCloudContactcenterinsightsV1GenerativeInsightsChartConversationMessageUserMessage",
      "type": "object",
      "properties": {
        "text": {
          "description": "A message from the user that is interacting with the system.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1ListAssessmentRulesResponse": {
      "properties": {
        "assessmentRules": {
          "description": "The assessment rules that match the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1AssessmentRule"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1ListAssessmentRulesResponse",
      "type": "object",
      "description": "The response of listing assessment rules."
    },
    "GoogleCloudContactcenterinsightsV1InitializeEncryptionSpecResponse": {
      "description": "The response to initialize a location-level encryption specification.",
      "id": "GoogleCloudContactcenterinsightsV1InitializeEncryptionSpecResponse",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1AnnotatorSelectorQaConfigScorecardList": {
      "description": "Container for a list of scorecards.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1AnnotatorSelectorQaConfigScorecardList",
      "properties": {
        "qaScorecardRevisions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of QaScorecardRevisions."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartListPart": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartListPart",
      "description": "A list part.",
      "properties": {
        "listType": {
          "description": "Optional. The type of list.",
          "enum": [
            "LIST_TYPE_UNSPECIFIED",
            "UNORDERED",
            "ORDERED_NUMBER",
            "ORDERED_ALPHA"
          ],
          "enumDescriptions": [
            "Unspecified list type.",
            "Unordered list.",
            "Ordered numbered list.",
            "Ordered alphabetic list."
          ],
          "type": "string"
        },
        "items": {
          "type": "array",
          "description": "Optional. List items.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartListItem"
          }
        }
      }
    },
    "GoogleTypeInterval": {
      "id": "GoogleTypeInterval",
      "properties": {
        "startTime": {
          "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive). The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationLevelSilence": {
      "description": "Conversation-level silence data.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationLevelSilence",
      "properties": {
        "silencePercentage": {
          "format": "float",
          "description": "Percentage of the total conversation spent in silence.",
          "type": "number"
        },
        "silenceDuration": {
          "format": "google-duration",
          "description": "Amount of time calculated to be in silence.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1UserInfo": {
      "type": "object",
      "description": "Information about a user.",
      "properties": {
        "username": {
          "description": "The user's username.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1UserInfo"
    },
    "GoogleCloudContactcenterinsightsV1alpha1FeedbackLabel": {
      "properties": {
        "labeledResource": {
          "type": "string",
          "description": "Name of the resource to be labeled. Supported resources are: * `projects/{project}/locations/{location}/qaScorecards/{scorecard}/revisions/{revision}/qaQuestions/{question}` * `projects/{project}/locations/{location}/issueModels/{issue_model}` * `projects/{project}/locations/{location}/generators/{generator_id}`"
        },
        "createTime": {
          "description": "Output only. Create time of the label.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "label": {
          "type": "string",
          "description": "String label used for Topic Modeling."
        },
        "name": {
          "description": "Immutable. Resource name of the FeedbackLabel. Format: projects/{project}/locations/{location}/conversations/{conversation}/feedbackLabels/{feedback_label}",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Update time of the label.",
          "type": "string"
        },
        "qaAnswerLabel": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1QaAnswerAnswerValue",
          "description": "QaAnswer label used for Quality AI example conversations."
        }
      },
[...]
