{
  "parameters": {
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query",
      "default": "json",
      "description": "Data format for response."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    }
  },
  "id": "contactcenterinsights:v1",
  "title": "Contact Center AI Insights API",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "protocol": "rest",
  "description": "",
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "ownerName": "Google",
  "version": "v1",
  "rootUrl": "https://contactcenterinsights.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "canonicalName": "Contactcenterinsights",
  "name": "contactcenterinsights",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "servicePath": "",
  "ownerDomain": "google.com",
  "version_module": true,
  "baseUrl": "https://contactcenterinsights.googleapis.com/",
  "schemas": {
    "GoogleCloudContactcenterinsightsV1mainCesTurnAnnotation": {
      "id": "GoogleCloudContactcenterinsightsV1mainCesTurnAnnotation",
      "properties": {
        "messages": {
          "description": "The messages in the turn.",
          "items": {
            "$ref": "GoogleCloudCesV1mainMessage"
          },
          "type": "array"
        },
        "rootSpan": {
          "$ref": "GoogleCloudCesV1mainSpan",
          "description": "The root span of the action processing."
        }
      },
      "type": "object",
      "description": "The CES diagnostic information."
    },
    "GoogleCloudContactcenterinsightsV1alpha1ListAllFeedbackLabelsResponse": {
      "description": "The response for listing all feedback labels.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1ListAllFeedbackLabelsResponse",
      "properties": {
        "feedbackLabels": {
          "description": "The feedback labels that match the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1FeedbackLabel"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1UploadConversationRequest": {
      "type": "object",
      "description": "Request to upload a conversation.",
      "properties": {
        "redactionConfig": {
          "$ref": "GoogleCloudContactcenterinsightsV1RedactionConfig",
          "description": "Optional. DLP settings for transcript redaction. Will default to the config specified in Settings."
        },
        "conversation": {
          "description": "Required. The conversation resource to create.",
          "$ref": "GoogleCloudContactcenterinsightsV1Conversation"
        },
        "parent": {
          "type": "string",
          "description": "Required. The parent resource of the conversation."
        },
        "speechConfig": {
          "description": "Optional. Speech-to-Text configuration. Will default to the config specified in Settings.",
          "$ref": "GoogleCloudContactcenterinsightsV1SpeechConfig"
        },
        "conversationId": {
          "type": "string",
          "description": "Optional. A unique ID for the new conversation. This ID will become the final component of the conversation's resource name. If no ID is specified, a server-generated ID will be used. This value should be 4-64 characters and must match the regular expression `^[a-z0-9-]{4,64}$`. Valid characters are `a-z-`"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1UploadConversationRequest"
    },
    "GoogleCloudContactcenterinsightsV1CreateAnalysisOperationMetadata": {
      "properties": {
        "conversation": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The Conversation that this Analysis Operation belongs to."
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime"
        },
        "annotatorSelector": {
          "description": "Output only. The annotator selector used for the analysis (if any).",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1AnnotatorSelector"
        }
      },
      "type": "object",
      "description": "Metadata for a create analysis operation.",
      "id": "GoogleCloudContactcenterinsightsV1CreateAnalysisOperationMetadata"
    },
    "GoogleCloudContactcenterinsightsV1alpha1TestCorrelationConfigResponseDetailedCorrelationResults": {
      "description": "Wrapper for detailed, step-by-step results.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1TestCorrelationConfigResponseDetailedCorrelationResults",
      "properties": {
        "constraintResults": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConstraintEvaluationResult"
          },
          "description": "A list of constraint evaluation results for each pair of conversations.",
          "type": "array"
        },
        "joinKeyResults": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConversationCorrelationResult"
          },
          "description": "A list of join key correlation results for each conversation tested."
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1QaQuestionMetrics": {
      "id": "GoogleCloudContactcenterinsightsV1QaQuestionMetrics",
      "properties": {
        "accuracy": {
          "description": "Output only. Accuracy of the model. Measures the percentage of correct answers the model gave on the test set.",
          "readOnly": true,
          "format": "double",
          "type": "number"
        }
      },
      "type": "object",
      "description": "A wrapper representing metrics calculated against a test-set on a LLM that was fine tuned for this question."
    },
    "GoogleCloudContactcenterinsightsV1mainInitializeEncryptionSpecMetadata": {
      "description": "Metadata for initializing a location-level encryption specification.",
      "properties": {
        "partialErrors": {
          "description": "Partial errors during initializing operation that might cause the operation output to be incomplete.",
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainInitializeEncryptionSpecRequest",
          "readOnly": true,
          "description": "Output only. The original request for initialization."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainInitializeEncryptionSpecMetadata",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1CalculateStatsResponseTimeSeriesInterval": {
      "id": "GoogleCloudContactcenterinsightsV1CalculateStatsResponseTimeSeriesInterval",
      "type": "object",
      "properties": {
        "conversationCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of conversations created in this interval."
        },
        "startTime": {
          "format": "google-datetime",
          "description": "The start time of this interval.",
          "type": "string"
        }
      },
      "description": "A single interval in a time series."
    },
    "GoogleCloudContactcenterinsightsV1alpha1BulkDeleteFeedbackLabelsResponse": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1BulkDeleteFeedbackLabelsResponse",
      "properties": {},
      "type": "object",
      "description": "Response for the BulkDeleteFeedbackLabels endpoint."
    },
    "GoogleCloudContactcenterinsightsV1alpha1DialogflowIntent": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1DialogflowIntent",
      "description": "The data for a Dialogflow intent. Represents a detected intent in the conversation, e.g. MAKES_PROMISE.",
      "properties": {
        "displayName": {
          "description": "The human-readable name of the intent.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationCallMetadata": {
      "type": "object",
      "description": "Call-specific metadata.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationCallMetadata",
      "properties": {
        "agentChannel": {
          "type": "integer",
          "format": "int32",
          "description": "The audio channel that contains the agent."
        },
        "customerChannel": {
          "type": "integer",
          "format": "int32",
          "description": "The audio channel that contains the customer."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1AnnotatorSelector": {
      "properties": {
        "summarizationConfig": {
          "description": "Configuration for the summarization annotator.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1AnnotatorSelectorSummarizationConfig"
        },
        "runIntentAnnotator": {
          "description": "Whether to run the intent annotator.",
          "type": "boolean"
        },
        "runPhraseMatcherAnnotator": {
          "type": "boolean",
          "description": "Whether to run the active phrase matcher annotator(s)."
        },
        "issueModels": {
          "description": "The issue model to run. If not provided, the most recently deployed topic model will be used. The provided issue model will only be used for inference if the issue model is deployed and if run_issue_model_annotator is set to true. If more than one issue model is provided, only the first provided issue model will be used for inference.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "runAutoLabelingAnnotator": {
          "description": "Optional. Whether to run the auto-labeling annotator. If true, the auto-labeling annotator will be run. This is a non-billable operation designed for fixing or backfilling custom labels.",
          "type": "boolean"
        },
        "runSentimentAnnotator": {
          "description": "Whether to run the sentiment annotator.",
          "type": "boolean"
        },
        "runEntityAnnotator": {
          "type": "boolean",
          "description": "Whether to run the entity annotator."
        },
        "qaConfig": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1AnnotatorSelectorQaConfig",
          "description": "Configuration for the QA annotator."
        },
        "phraseMatchers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of phrase matchers to run. If not provided, all active phrase matchers will be used. If inactive phrase matchers are provided, they will not be used. Phrase matchers will be run only if run_phrase_matcher_annotator is set to true. Format: projects/{project}/locations/{location}/phraseMatchers/{phrase_matcher}"
        },
        "runQaAnnotator": {
          "description": "Whether to run the QA annotator.",
          "type": "boolean"
        },
        "runSilenceAnnotator": {
          "description": "Whether to run the silence annotator.",
          "type": "boolean"
        },
        "runIssueModelAnnotator": {
          "description": "Whether to run the issue model annotator. A model should have already been deployed for this to take effect.",
          "type": "boolean"
        },
        "runInterruptionAnnotator": {
          "description": "Whether to run the interruption annotator.",
          "type": "boolean"
        },
        "runSummarizationAnnotator": {
          "type": "boolean",
          "description": "Whether to run the summarization annotator."
        }
      },
      "description": "Selector of all available annotators and phrase matchers to run.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1AnnotatorSelector",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1PhraseMatchData": {
      "type": "object",
      "description": "The data for a matched phrase matcher. Represents information identifying a phrase matcher for a given match.",
      "properties": {
        "phraseMatcher": {
          "type": "string",
          "description": "The unique identifier (the resource name) of the phrase matcher."
        },
        "displayName": {
          "type": "string",
          "description": "The human-readable name of the phrase matcher."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1PhraseMatchData"
    },
    "GoogleCloudContactcenterinsightsV1SampleConversationsResponse": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1SampleConversationsResponse",
      "properties": {},
      "description": "The response to an SampleConversations operation."
    },
    "GoogleCloudContactcenterinsightsV1CalculateStatsResponse": {
      "description": "The response for calculating conversation statistics.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1CalculateStatsResponse",
      "properties": {
        "averageTurnCount": {
          "description": "The average number of turns per conversation.",
          "format": "int32",
          "type": "integer"
        },
        "customHighlighterMatches": {
          "additionalProperties": {
            "format": "int32",
            "type": "integer"
          },
          "type": "object",
          "description": "A map associating each custom highlighter resource name with its respective number of matches in the set of conversations."
        },
        "issueMatchesStats": {
          "description": "A map associating each issue resource name with its respective number of matches in the set of conversations. Key has the format: `projects//locations//issueModels//issues/`",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudContactcenterinsightsV1IssueModelLabelStatsIssueStats"
          }
        },
        "issueMatches": {
          "deprecated": true,
          "description": "A map associating each issue resource name with its respective number of matches in the set of conversations. Key has the format: `projects//locations//issueModels//issues/` Deprecated, use `issue_matches_stats` field instead.",
          "additionalProperties": {
            "type": "integer",
            "format": "int32"
          },
          "type": "object"
        },
        "conversationCount": {
          "description": "The total number of conversations.",
          "format": "int32",
          "type": "integer"
        },
        "smartHighlighterMatches": {
          "description": "A map associating each smart highlighter display name with its respective number of matches in the set of conversations.",
          "additionalProperties": {
            "type": "integer",
            "format": "int32"
          },
          "type": "object"
        },
        "conversationCountTimeSeries": {
          "description": "A time series representing the count of conversations created over time that match that requested filter criteria.",
          "$ref": "GoogleCloudContactcenterinsightsV1CalculateStatsResponseTimeSeries"
        },
        "averageDuration": {
          "description": "The average duration of all conversations. The average is calculated using only conversations that have a time duration.",
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainConversationCorrelationInfo": {
      "properties": {
        "correlationTypes": {
          "items": {
            "enum": [
              "CORRELATION_TYPE_UNSPECIFIED",
              "SEGMENT",
              "PARTIAL",
              "FULL",
              "SYNTHETIC"
            ],
            "enumDescriptions": [
              "Default value for unspecified.",
              "This conversation represents a segment of a full conversation. The lowest level of granularity.",
              "This conversation represents a partial conversation of potentially multiple segments but is not a full conversation.",
              "This conversation represents a full conversation of potentially multiple segments.",
              "This conversation represents a synthetic conversation."
            ],
            "type": "string"
          },
          "description": "Output only. The correlation types of this conversation. A single conversation can have multiple correlation types. For example a conversation that only has a single segment is both a SEGMENT and a FULL_CONVERSATION.",
          "type": "array",
          "readOnly": true
        },
        "mergedFullConversationCorrelationId": {
          "description": "Output only. The full conversation correlation id this conversation is a merged conversation of.",
          "type": "string",
          "readOnly": true
        },
        "fullConversationCorrelationId": {
          "type": "string",
          "description": "Output only. The full conversation correlation id this conversation is a segment of.",
          "readOnly": true
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainConversationCorrelationInfo",
      "description": "Info for correlating across conversations.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1GenerativeInsightsMetadata": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1GenerativeInsightsMetadata",
      "description": "The metadata for generative insights.",
      "properties": {
        "errorMessages": {
          "description": "The error message when the generative insights request fails.",
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1GenerativeInsightConversationTranscript": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1GenerativeInsightConversationTranscript",
      "properties": {
        "conversationId": {
          "description": "The conversation id of the chart.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The create time of the conversation."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The update time of the conversation."
        },
        "messages": {
          "description": "Ordered list of messages, including user inputs and system responses.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1GenerativeInsightConversationTranscriptMessage"
          }
        }
      },
      "description": "The conversation transcript for the chart."
    },
    "GoogleCloudContactcenterinsightsV1mainBulkDeleteConversationsResponse": {
      "id": "GoogleCloudContactcenterinsightsV1mainBulkDeleteConversationsResponse",
      "properties": {},
      "description": "The response for a bulk delete conversations operation.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainInitializeEncryptionSpecResponse": {
      "id": "GoogleCloudContactcenterinsightsV1mainInitializeEncryptionSpecResponse",
      "description": "The response to initialize a location-level encryption specification.",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudContactcenterinsightsV1mainSampleConversationsMetadata": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainSampleConversationsMetadata",
      "properties": {
        "request": {
          "description": "Output only. The original request for sample conversations to dataset.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainSampleConversationsRequest",
          "readOnly": true
        },
        "sampleConversationsStats": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainSampleConversationsMetadataSampleConversationsStats",
          "description": "Output only. Statistics for SampleConversations operation.",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "partialErrors": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Partial errors during sample conversations operation that might cause the operation output to be incomplete."
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "The metadata for an SampleConversations operation."
    },
    "GoogleIamV1TestIamPermissionsResponse": {
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response message for `TestIamPermissions` method.",
      "id": "GoogleIamV1TestIamPermissionsResponse"
    },
    "GoogleCloudContactcenterinsightsV1FeedbackLabel": {
      "id": "GoogleCloudContactcenterinsightsV1FeedbackLabel",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Create time of the label.",
          "readOnly": true
        },
        "label": {
          "type": "string",
          "description": "String label used for Topic Modeling."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Update time of the label."
        },
        "qaAnswerLabel": {
          "$ref": "GoogleCloudContactcenterinsightsV1QaAnswerAnswerValue",
          "description": "QaAnswer label used for Quality AI example conversations."
        },
        "name": {
          "description": "Immutable. Resource name of the FeedbackLabel. Format: projects/{project}/locations/{location}/conversations/{conversation}/feedbackLabels/{feedback_label}",
          "type": "string"
        },
        "labeledResource": {
          "description": "Name of the resource to be labeled. Supported resources are: * `projects/{project}/locations/{location}/qaScorecards/{scorecard}/revisions/{revision}/qaQuestions/{question}` * `projects/{project}/locations/{location}/issueModels/{issue_model}` * `projects/{project}/locations/{location}/generators/{generator_id}`",
          "type": "string"
        }
      },
      "description": "Represents a conversation, resource, and label provided by the user. Can take the form of a string label or a QaAnswer label. QaAnswer labels are used for Quality AI example conversations. String labels are used for Topic Modeling. AgentAssistSummary labels are used for Agent Assist Summarization.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1ListAutoLabelingRulesResponse": {
      "description": "The response message for listing auto labeling rules.",
      "properties": {
        "autoLabelingRules": {
          "description": "The auto labeling rules.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1AutoLabelingRule"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1ListAutoLabelingRulesResponse",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1DialogflowSource": {
      "properties": {
        "dialogflowConversation": {
          "readOnly": true,
          "description": "Output only. The name of the Dialogflow conversation that this conversation resource is derived from. Format: projects/{project}/locations/{location}/conversations/{conversation}",
          "type": "string"
        },
        "audioUri": {
          "description": "Cloud Storage URI that points to a file that contains the conversation audio.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1DialogflowSource",
      "description": "A Dialogflow source of conversation data."
    },
    "GoogleCloudContactcenterinsightsV1CallAnnotation": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1CallAnnotation",
      "description": "A piece of metadata that applies to a window of a call.",
      "properties": {
        "entityMentionData": {
          "$ref": "GoogleCloudContactcenterinsightsV1EntityMentionData",
          "description": "Data specifying an entity mention."
        },
        "interruptionData": {
          "description": "Data specifying an interruption.",
          "$ref": "GoogleCloudContactcenterinsightsV1InterruptionData"
        },
        "sentimentData": {
          "$ref": "GoogleCloudContactcenterinsightsV1SentimentData",
          "description": "Data specifying sentiment."
        },
        "intentMatchData": {
          "description": "Data specifying an intent match.",
          "$ref": "GoogleCloudContactcenterinsightsV1IntentMatchData"
        },
        "holdData": {
          "$ref": "GoogleCloudContactcenterinsightsV1HoldData",
          "description": "Data specifying a hold."
        },
        "annotationEndBoundary": {
          "description": "The boundary in the conversation where the annotation ends, inclusive.",
          "$ref": "GoogleCloudContactcenterinsightsV1AnnotationBoundary"
        },
        "silenceData": {
          "$ref": "GoogleCloudContactcenterinsightsV1SilenceData",
          "description": "Data specifying silence."
        },
        "issueMatchData": {
          "$ref": "GoogleCloudContactcenterinsightsV1IssueMatchData",
          "description": "Data specifying an issue match."
        },
        "phraseMatchData": {
          "$ref": "GoogleCloudContactcenterinsightsV1PhraseMatchData",
          "description": "Data specifying a phrase match."
        },
        "annotationStartBoundary": {
          "description": "The boundary in the conversation where the annotation starts, inclusive.",
          "$ref": "GoogleCloudContactcenterinsightsV1AnnotationBoundary"
        },
        "channelTag": {
          "type": "integer",
          "description": "The channel of the audio where the annotation occurs. For single-channel audio, this field is not populated.",
          "format": "int32"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1QueryInterval": {
      "type": "object",
      "description": "A time window for querying conversations.",
      "properties": {
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. The start time of the time window."
        },
        "endTime": {
          "description": "Required. The end time of the time window.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1QueryInterval"
    },
    "GoogleCloudContactcenterinsightsV1QaQuestion": {
      "type": "object",
      "description": "A single question to be scored by the Insights QA feature.",
      "id": "GoogleCloudContactcenterinsightsV1QaQuestion",
      "properties": {
        "questionType": {
          "enum": [
            "QA_QUESTION_TYPE_UNSPECIFIED",
            "CUSTOMIZABLE",
            "PREDEFINED"
          ],
          "enumDescriptions": [
            "The type of the question is unspecified.",
            "The default question type. The question is fully customizable by the user.",
            "The question type is using a predefined model provided by CCAI teams. Users are not allowed to edit the question_body, answer_choices, upload feedback labels for the question nor fine-tune the question. However, users may edit other fields like question tags, question order, etc."
          ],
          "description": "The type of question.",
          "type": "string"
        },
        "predefinedQuestionConfig": {
          "description": "The configuration of the predefined question. This field will only be set if the Question Type is predefined.",
          "$ref": "GoogleCloudContactcenterinsightsV1QaQuestionPredefinedQuestionConfig"
        },
        "abbreviation": {
          "description": "Short, descriptive string, used in the UI where it's not practical to display the full question body. E.g., \"Greeting\".",
          "type": "string"
        },
        "answerChoices": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1QaQuestionAnswerChoice"
          },
          "type": "array",
          "description": "A list of valid answers to the question, which the LLM must choose from."
        },
        "order": {
          "format": "int32",
          "type": "integer",
          "description": "Defines the order of the question within its parent scorecard revision."
        },
        "answerInstructions": {
          "description": "Instructions describing how to determine the answer.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The most recent time at which the question was updated.",
          "format": "google-datetime"
        },
        "qaQuestionDataOptions": {
          "description": "Options for configuring the data used to generate the QA question.",
          "$ref": "GoogleCloudContactcenterinsightsV1QaQuestionQaQuestionDataOptions"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time at which this question was created."
        },
        "tuningMetadata": {
          "description": "Metadata about the tuning operation for the question.This field will only be populated if and only if the question is part of a scorecard revision that has been tuned.",
          "$ref": "GoogleCloudContactcenterinsightsV1QaQuestionTuningMetadata"
        },
        "questionBody": {
          "description": "Question text. E.g., \"Did the agent greet the customer?\"",
          "type": "string"
        },
        "tags": {
          "description": "Questions are tagged for categorization and scoring. Tags can either be: - Default Tags: These are predefined categories. They are identified by their string value (e.g., \"BUSINESS\", \"COMPLIANCE\", and \"CUSTOMER\"). - Custom Tags: These are user-defined categories. They are identified by their full resource name (e.g., projects/{project}/locations/{location}/qaQuestionTags/{qa_question_tag}). Both default and custom tags are used to group questions and to influence the scoring of each question.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "description": "Identifier. The resource name of the question. Format: projects/{project}/locations/{location}/qaScorecards/{qa_scorecard}/revisions/{revision}/qaQuestions/{qa_question}",
          "type": "string"
        },
        "metrics": {
          "description": "Metrics of the underlying tuned LLM over a holdout/test set while fine tuning the underlying LLM for the given question. This field will only be populated if and only if the question is part of a scorecard revision that has been tuned.",
          "$ref": "GoogleCloudContactcenterinsightsV1QaQuestionMetrics"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainSentimentData": {
      "id": "GoogleCloudContactcenterinsightsV1mainSentimentData",
      "description": "The data for a sentiment annotation.",
      "properties": {
        "magnitude": {
          "description": "A non-negative number from 0 to infinity which represents the absolute magnitude of sentiment regardless of score.",
          "format": "float",
          "type": "number"
        },
        "score": {
          "description": "The sentiment score between -1.0 (negative) and 1.0 (positive).",
          "format": "float",
          "type": "number"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1QaQuestionTuningMetadata": {
      "properties": {
        "datasetValidationWarnings": {
          "description": "A list of any applicable data validation warnings about the question's feedback labels.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified data validation warning.",
              "A non-trivial percentage of the feedback labels are invalid.",
              "The quantity of valid feedback labels provided is less than the recommended minimum.",
              "One or more of the answers have less than the recommended minimum of feedback labels.",
              "All the labels in the dataset come from a single answer choice."
            ],
            "enum": [
              "DATASET_VALIDATION_WARNING_UNSPECIFIED",
              "TOO_MANY_INVALID_FEEDBACK_LABELS",
              "INSUFFICIENT_FEEDBACK_LABELS",
              "INSUFFICIENT_FEEDBACK_LABELS_PER_ANSWER",
              "ALL_FEEDBACK_LABELS_HAVE_THE_SAME_ANSWER"
            ]
          },
          "type": "array"
        },
        "totalValidLabelCount": {
          "format": "int64",
          "description": "Total number of valid labels provided for the question at the time of tuining.",
          "type": "string"
        },
        "tuningError": {
          "description": "Error status of the tuning operation for the question. Will only be set if the tuning operation failed.",
          "type": "string"
        }
      },
      "description": "Metadata about the tuning operation for the question. Will only be set if a scorecard containing this question has been tuned.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1QaQuestionTuningMetadata"
    },
    "GoogleCloudContactcenterinsightsV1mainIngestConversationsRequest": {
      "properties": {
        "conversationConfig": {
          "description": "Configuration that applies to all conversations.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainIngestConversationsRequestConversationConfig"
        },
        "redactionConfig": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainRedactionConfig",
          "description": "Optional. DLP settings for transcript redaction. Optional, will default to the config specified in Settings."
        },
        "gcsSource": {
          "description": "A cloud storage bucket source. Note that any previously ingested objects from the source will be skipped to avoid duplication.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainIngestConversationsRequestGcsSource"
        },
        "speechConfig": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainSpeechConfig",
          "description": "Optional. Default Speech-to-Text configuration. Optional, will default to the config specified in Settings."
        },
        "sampleSize": {
          "format": "int32",
          "description": "Optional. If set, this fields indicates the number of objects to ingest from the Cloud Storage bucket. If empty, the entire bucket will be ingested. Unless they are first deleted, conversations produced through sampling won't be ingested by subsequent ingest requests.",
          "type": "integer"
        },
        "transcriptObjectConfig": {
          "description": "Configuration for when `source` contains conversation transcripts.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainIngestConversationsRequestTranscriptObjectConfig"
        },
        "parent": {
          "type": "string",
          "description": "Required. The parent resource for new conversations."
        }
      },
      "type": "object",
      "description": "The request to ingest conversations.",
      "id": "GoogleCloudContactcenterinsightsV1mainIngestConversationsRequest"
    },
    "GoogleCloudContactcenterinsightsV1Widget": {
      "id": "GoogleCloudContactcenterinsightsV1Widget",
      "type": "object",
      "properties": {
        "chart": {
          "description": "A chart widget.",
          "$ref": "GoogleCloudContactcenterinsightsV1Chart"
        },
        "filter": {
          "description": "Filter applied to all charts in the container. Should support scope later.",
          "type": "string"
        },
        "chartReference": {
          "description": "A reference to a chart widget. Format: projects/{project}/locations/{location}/dashboards/{dashboard}/charts/{chart}",
          "type": "string"
        },
        "container": {
          "$ref": "GoogleCloudContactcenterinsightsV1Container",
          "description": "A container widget."
        }
      },
      "description": "Represents a dashboard element, could be a nested Container or Chart."
    },
    "GoogleCloudContactcenterinsightsV1IngestConversationsRequest": {
      "description": "The request to ingest conversations.",
      "id": "GoogleCloudContactcenterinsightsV1IngestConversationsRequest",
      "type": "object",
      "properties": {
        "parent": {
          "description": "Required. The parent resource for new conversations.",
          "type": "string"
        },
        "redactionConfig": {
          "$ref": "GoogleCloudContactcenterinsightsV1RedactionConfig",
          "description": "Optional. DLP settings for transcript redaction. Optional, will default to the config specified in Settings."
        },
        "transcriptObjectConfig": {
          "$ref": "GoogleCloudContactcenterinsightsV1IngestConversationsRequestTranscriptObjectConfig",
          "description": "Configuration for when `source` contains conversation transcripts."
        },
        "sampleSize": {
          "format": "int32",
          "description": "Optional. If set, this fields indicates the number of objects to ingest from the Cloud Storage bucket. If empty, the entire bucket will be ingested. Unless they are first deleted, conversations produced through sampling won't be ingested by subsequent ingest requests.",
          "type": "integer"
        },
        "gcsSource": {
          "description": "A cloud storage bucket source. Note that any previously ingested objects from the source will be skipped to avoid duplication.",
          "$ref": "GoogleCloudContactcenterinsightsV1IngestConversationsRequestGcsSource"
        },
        "speechConfig": {
          "description": "Optional. Default Speech-to-Text configuration. Optional, will default to the config specified in Settings.",
          "$ref": "GoogleCloudContactcenterinsightsV1SpeechConfig"
        },
        "conversationConfig": {
          "description": "Configuration that applies to all conversations.",
          "$ref": "GoogleCloudContactcenterinsightsV1IngestConversationsRequestConversationConfig"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1PhraseMatchData": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1PhraseMatchData",
      "description": "The data for a matched phrase matcher. Represents information identifying a phrase matcher for a given match.",
      "properties": {
        "phraseMatcher": {
          "type": "string",
          "description": "The unique identifier (the resource name) of the phrase matcher."
        },
        "displayName": {
          "type": "string",
          "description": "The human-readable name of the phrase matcher."
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1DeployIssueModelResponse": {
      "type": "object",
      "description": "The response to deploy an issue model.",
      "id": "GoogleCloudContactcenterinsightsV1DeployIssueModelResponse",
      "properties": {}
    },
    "GoogleCloudContactcenterinsightsV1mainUpdateQaQuestionTagMetadata": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainUpdateQaQuestionTagMetadata",
      "description": "The metadata for updating a QaQuestionTag Resource.",
      "properties": {
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "endTime": {
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "type": "string"
        },
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainUpdateQaQuestionTagRequest",
          "description": "Output only. The original request.",
          "readOnly": true
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainTestCorrelationConfigMetadataFullConversationCorrelationStatsConversationCorrelationError": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainTestCorrelationConfigMetadataFullConversationCorrelationStatsConversationCorrelationError",
      "properties": {
        "conversation": {
          "description": "The conversation resource name that had an error during correlation.",
          "type": "string"
        },
        "status": {
          "description": "The error status.",
          "$ref": "GoogleRpcStatus"
        }
      },
      "description": "An error that occurred during correlation for a specific conversation."
    },
    "GoogleCloudContactcenterinsightsV1DialogflowInteractionData": {
      "id": "GoogleCloudContactcenterinsightsV1DialogflowInteractionData",
      "type": "object",
      "properties": {
        "dialogflowIntentId": {
          "type": "string",
          "description": "The Dialogflow intent resource path. Format: projects/{project}/agent/{agent}/intents/{intent}"
        },
        "confidence": {
          "type": "number",
          "description": "The confidence of the match ranging from 0.0 (completely uncertain) to 1.0 (completely certain).",
          "format": "float"
        }
      },
      "description": "Dialogflow interaction data."
    },
    "GoogleCloudContactcenterinsightsV1InterruptionData": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudContactcenterinsightsV1InterruptionData",
      "description": "The data for an interruption annotation."
    },
    "GoogleCloudContactcenterinsightsV1alpha1GenerativeInsightsMetadata": {
      "description": "The metadata for generative insights.",
      "type": "object",
      "properties": {
        "errorMessages": {
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "The error message when the generative insights request fails."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1GenerativeInsightsMetadata"
    },
    "GoogleCloudContactcenterinsightsV1mainRuntimeAnnotation": {
      "type": "object",
      "description": "An annotation that was generated during the customer and agent interaction.",
      "properties": {
        "smartComposeSuggestion": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainSmartComposeSuggestionData",
          "description": "Agent Assist Smart Compose suggestion data."
        },
        "endBoundary": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainAnnotationBoundary",
          "description": "The boundary in the conversation where the annotation ends, inclusive."
        },
        "dialogflowInteraction": {
          "description": "Dialogflow interaction data.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainDialogflowInteractionData"
        },
        "annotationId": {
          "description": "The unique identifier of the annotation. Format: projects/{project}/locations/{location}/conversationDatasets/{dataset}/conversationDataItems/{data_item}/conversationAnnotations/{annotation}",
          "type": "string"
        },
        "cesEndSessionAnnotation": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainCesEndSessionAnnotation",
          "description": "The CES end session annotation."
        },
        "smartReply": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainSmartReplyData",
          "description": "Agent Assist Smart Reply data."
        },
        "conversationSummarizationSuggestion": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainConversationSummarizationSuggestionData",
          "description": "Conversation summarization suggestion data."
        },
        "cesTurnAnnotation": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainCesTurnAnnotation",
          "description": "The CES turn annotation."
        },
        "faqAnswer": {
          "description": "Agent Assist FAQ answer data.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainFaqAnswerData"
        },
        "startBoundary": {
          "description": "The boundary in the conversation where the annotation starts, inclusive.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainAnnotationBoundary"
        },
        "createTime": {
          "type": "string",
          "description": "The time at which this annotation was created.",
          "format": "google-datetime"
        },
        "answerFeedback": {
          "description": "The feedback that the customer has about the answer in `data`.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainAnswerFeedback"
        },
        "userInput": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainRuntimeAnnotationUserInput",
          "description": "Explicit input used for generating the answer"
        },
        "articleSuggestion": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainArticleSuggestionData",
          "description": "Agent Assist Article Suggestion data."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainRuntimeAnnotation"
    },
    "GoogleCloudContactcenterinsightsV1alpha1DeleteQaQuestionTagRequest": {
      "description": "The request for deleting a QaQuestionTag.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The name of the QaQuestionTag to delete."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1DeleteQaQuestionTagRequest",
      "type": "object"
    },
    "GoogleIamV1Policy": {
      "type": "object",
      "properties": {
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "GoogleIamV1Binding"
          },
          "type": "array"
        },
        "etag": {
          "type": "string",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte"
        },
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32",
          "type": "integer"
        },
        "auditConfigs": {
          "items": {
            "$ref": "GoogleIamV1AuditConfig"
          },
          "type": "array",
          "description": "Specifies cloud audit logging configuration for this policy."
        }
      },
      "id": "GoogleIamV1Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
    },
    "GoogleCloudContactcenterinsightsV1ListDatasetsResponse": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1ListDatasetsResponse",
      "properties": {
        "datasets": {
          "type": "array",
          "description": "The datasets that match the request.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1Dataset"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "The response to list datasets."
    },
    "GoogleCloudContactcenterinsightsV1alpha1GcsSource": {
      "properties": {
        "audioUris": {
          "items": {
            "type": "string"
          },
          "description": "Immutable. Cloud Storage URIs that point to files that contain the conversation audio. Supports both single audio files and multi-leg session recordings (e.g., call transfers, rolling recording buffers).",
          "type": "array"
        },
        "audioUri": {
          "type": "string",
          "deprecated": true,
          "description": "Immutable. Deprecated: Use `audio_uris` instead. Cloud Storage URI that points to a file that contains the conversation audio."
        },
        "transcriptUri": {
          "description": "Immutable. Cloud Storage URI that points to a file that contains the conversation transcript.",
          "type": "string"
        }
      },
      "description": "A Cloud Storage source of conversation data.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1GcsSource",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1TestCorrelationConfigMetadataFullConversationCorrelationStats": {
      "type": "object",
      "properties": {
        "conversationCorrelationErrors": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1TestCorrelationConfigMetadataFullConversationCorrelationStatsConversationCorrelationError"
          },
          "type": "array",
          "description": "A list of errors that occurred during correlation, one for each conversation that failed."
        },
        "partialErrors": {
          "description": "Partial errors during test correlation config operation that might cause the operation output to be incomplete.",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        },
        "failedConversationsCount": {
          "description": "The number of conversations that failed correlation.",
          "type": "integer",
          "format": "int32"
        },
        "sampledConversationsCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of conversations sampled."
        },
        "correlatedConversationsCount": {
          "description": "The number of conversations correlated.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1TestCorrelationConfigMetadataFullConversationCorrelationStats",
      "description": "Statistics for TestCorrelationConfig operation."
    },
    "GoogleCloudContactcenterinsightsV1ListAssessmentRulesResponse": {
      "id": "GoogleCloudContactcenterinsightsV1ListAssessmentRulesResponse",
      "type": "object",
      "properties": {
        "assessmentRules": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1AssessmentRule"
          },
          "description": "The assessment rules that match the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "The response of listing assessment rules."
    },
    "GoogleCloudContactcenterinsightsV1alpha1IssueModelLabelStats": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1IssueModelLabelStats",
      "type": "object",
      "description": "Aggregated statistics about an issue model.",
      "properties": {
        "issueStats": {
          "description": "Statistics on each issue. Key is the issue's resource name.",
          "additionalProperties": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1IssueModelLabelStatsIssueStats"
          },
          "type": "object"
        },
        "unclassifiedConversationsCount": {
          "format": "int64",
          "description": "Number of analyzed conversations for which no issue was applicable at this point in time.",
          "type": "string"
        },
        "analyzedConversationsCount": {
          "description": "Number of conversations the issue model has analyzed at this point in time.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainAnnotatorSelectorQaConfig": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainAnnotatorSelectorQaConfig",
      "description": "Configuration for the QA feature.",
      "properties": {
        "scorecardList": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainAnnotatorSelectorQaConfigScorecardList",
          "description": "A manual list of scorecards to score."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationDataSource": {
      "description": "The conversation source, which is a combination of transcript and audio.",
      "properties": {
        "turnLevelAudios": {
          "description": "Cloud Storage URIs that points to files that contain the conversation audio for each turn. Assume the order of the URIs is the same as the order of the transcript turns.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConversationDataSourceTurnLevelAudio"
          },
          "type": "array"
        },
        "metadataUri": {
          "type": "string",
          "description": "Cloud Storage URI that points to a file that contains the conversation metadata."
        },
        "gcsSource": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1GcsSource",
          "description": "A Cloud Storage location specification for the audio and transcript."
        },
        "dialogflowSource": {
          "description": "The source when the conversation comes from Dialogflow.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1DialogflowSource"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationDataSource",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1DimensionClientSentimentCategoryDimensionMetadata": {
      "type": "object",
      "description": "Metadata about the client sentiment category dimension.",
      "properties": {
        "sentimentCategory": {
          "description": "Optional. The client sentiment category.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1DimensionClientSentimentCategoryDimensionMetadata"
    },
    "GoogleCloudContactcenterinsightsV1ListAuthorizedViewSetsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "authorizedViewSets": {
          "description": "The AuthorizedViewSets under the parent.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1AuthorizedViewSet"
          },
          "type": "array"
        }
      },
      "description": "The response from a ListAuthorizedViewSet request.",
      "id": "GoogleCloudContactcenterinsightsV1ListAuthorizedViewSetsResponse"
    },
    "GoogleCloudContactcenterinsightsV1mainRedactionConfig": {
      "id": "GoogleCloudContactcenterinsightsV1mainRedactionConfig",
      "properties": {
        "deidentifyTemplate": {
          "description": "The fully-qualified DLP deidentify template resource name. Format: `projects/{project}/deidentifyTemplates/{template}`",
          "type": "string"
        },
        "inspectTemplate": {
          "type": "string",
          "description": "The fully-qualified DLP inspect template resource name. Format: `projects/{project}/locations/{location}/inspectTemplates/{template}`"
        }
      },
      "type": "object",
      "description": "DLP resources used for redaction while ingesting conversations. DLP settings are applied to conversations ingested from the `UploadConversation` and `IngestConversations` endpoints, including conversation coming from CCAI Platform. They are not applied to conversations ingested from the `CreateConversation` endpoint or the Dialogflow / Agent Assist runtime integrations. When using Dialogflow / Agent Assist runtime integrations, redaction should be performed in Dialogflow / Agent Assist."
    },
    "GoogleCloudContactcenterinsightsV1PhraseMatchRule": {
      "properties": {
        "negated": {
          "description": "Specifies whether the phrase must be missing from the transcript segment or present in the transcript segment.",
          "type": "boolean"
        },
        "query": {
          "description": "Required. The phrase to be matched.",
          "type": "string"
        },
        "config": {
          "$ref": "GoogleCloudContactcenterinsightsV1PhraseMatchRuleConfig",
          "description": "Provides additional information about the rule that specifies how to apply the rule."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1PhraseMatchRule",
      "type": "object",
      "description": "The data for a phrase match rule."
    },
    "GoogleCloudContactcenterinsightsV1alpha1SampleRule": {
      "properties": {
        "samplePercentage": {
          "description": "Percentage of conversations that we should sample based on the dimension between [0, 100].",
          "type": "number",
          "format": "double"
        },
        "sampleRow": {
          "type": "string",
          "description": "Number of the conversations that we should sample based on the dimension.",
          "format": "int64"
        },
        "dimension": {
          "type": "string",
          "description": "Optional. Group by dimension to sample the conversation. If no dimension is provided, the sampling will be applied to the project level. Current supported dimensions is 'quality_metadata.agent_info.agent_id'."
        },
        "conversationFilter": {
          "type": "string",
          "description": "To specify the filter for the conversions that should apply this sample rule. An empty filter means this sample rule applies to all conversations."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1SampleRule",
      "description": "Message for sampling conversations.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1UndeployIssueModelMetadata": {
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "endTime": {
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "format": "google-datetime"
        },
        "request": {
          "description": "The original request for undeployment.",
          "$ref": "GoogleCloudContactcenterinsightsV1UndeployIssueModelRequest"
        }
      },
      "description": "Metadata for undeploying an issue model.",
      "id": "GoogleCloudContactcenterinsightsV1UndeployIssueModelMetadata"
    },
    "GoogleCloudContactcenterinsightsV1alpha1SpeechConfig": {
      "type": "object",
      "properties": {
        "speechRecognizer": {
          "type": "string",
          "description": "The fully-qualified Speech Recognizer resource name. Format: `projects/{project_id}/locations/{location}/recognizer/{recognizer}`"
        },
        "disableWordTimeOffsets": {
          "description": "Whether to disable word time offsets. If true, the `enable_word_time_offsets` field in the recognition config will be set to false.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1SpeechConfig",
      "description": "Speech-to-Text configuration. Speech-to-Text settings are applied to conversations ingested from the `UploadConversation` and `IngestConversations` endpoints, including conversation coming from CCAI Platform. They are not applied to conversations ingested from the `CreateConversation` endpoint."
    },
    "GoogleCloudContactcenterinsightsV1AssistantChunk": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1AssistantChunk",
      "properties": {
        "text": {
          "description": "Optional. Text data.",
          "type": "string"
        }
      },
      "description": "A chunk of data in an assistant message."
    },
    "GoogleCloudContactcenterinsightsV1mainImportIssueModelResponse": {
      "properties": {
        "issueModel": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainIssueModel",
          "description": "The issue model that was imported."
        }
      },
      "description": "Response from import issue model",
      "id": "GoogleCloudContactcenterinsightsV1mainImportIssueModelResponse",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1FaqAnswerData": {
      "id": "GoogleCloudContactcenterinsightsV1FaqAnswerData",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Map that contains metadata about the FAQ answer and the document that it originates from.",
          "type": "object"
        },
        "answer": {
          "type": "string",
          "description": "The piece of text from the `source` knowledge base document."
        },
        "source": {
          "description": "The knowledge document that this answer was extracted from. Format: projects/{project}/knowledgeBases/{knowledge_base}/documents/{document}.",
          "type": "string"
        },
        "question": {
          "description": "The corresponding FAQ question.",
          "type": "string"
        },
        "confidenceScore": {
          "format": "float",
          "description": "The system's confidence score that this answer is a good match for this conversation, ranging from 0.0 (completely uncertain) to 1.0 (completely certain).",
          "type": "number"
        },
        "queryRecord": {
          "description": "The name of the answer record. Format: projects/{project}/locations/{location}/answerRecords/{answer_record}",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Agent Assist frequently-asked-question answer data."
    },
    "GoogleCloudContactcenterinsightsV1mainBulkDownloadFeedbackLabelsMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1mainBulkDownloadFeedbackLabelsMetadata",
      "type": "object",
      "properties": {
        "request": {
          "readOnly": true,
          "description": "Output only. The original request for download.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainBulkDownloadFeedbackLabelsRequest"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "partialErrors": {
          "type": "array",
          "description": "Partial errors during ingest operation that might cause the operation output to be incomplete.",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "downloadStats": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainBulkDownloadFeedbackLabelsMetadataDownloadStats",
          "readOnly": true,
          "description": "Output only. Statistics for BulkDownloadFeedbackLabels operation."
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Metadata for the BulkDownloadFeedbackLabel endpoint."
    },
    "GoogleCloudContactcenterinsightsV1mainTestCorrelationConfigMetadata": {
      "properties": {
        "dataset": {
          "description": "The dataset used for sampling conversations.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation was created."
        },
        "stats": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainTestCorrelationConfigMetadataFullConversationCorrelationStats",
          "description": "The statistics for the operation."
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainTestCorrelationConfigMetadata",
      "description": "Metadata for testing correlation config."
    },
    "GoogleCloudContactcenterinsightsV1mainConversationQualityMetadataAgentInfo": {
      "description": "Information about an agent involved in the conversation.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainConversationQualityMetadataAgentInfo",
      "properties": {
        "entrySubagentId": {
          "type": "string",
          "description": "The entry subagent's ID."
        },
        "versionId": {
          "description": "The agent's version ID. Only applicable to automated agents.",
          "type": "string"
        },
        "team": {
          "description": "A user-specified string representing the agent's team. Deprecated in favor of the `teams` field.",
          "type": "string",
          "deprecated": true
        },
        "agentType": {
          "type": "string",
          "enumDescriptions": [
            "Participant's role is not set.",
            "Participant is a human agent.",
            "Participant is an automated agent.",
            "Participant is an end user who conversed with the contact center.",
            "Participant is either a human or automated agent."
          ],
          "description": "The agent type, e.g. HUMAN_AGENT.",
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER",
            "ANY_AGENT"
          ]
        },
        "teams": {
          "type": "array",
          "description": "User-specified strings representing the agent's teams.",
          "items": {
            "type": "string"
          }
        },
        "dispositionCode": {
          "type": "string",
          "description": "A user-provided string indicating the outcome of the agent's segment of the call."
        },
        "agentId": {
          "type": "string",
          "description": "A user-specified string representing the agent."
        },
        "versionDisplayName": {
          "type": "string",
          "description": "The agent's version display name. Only applicable to automated agents."
        },
        "deploymentId": {
          "description": "The agent's deployment ID. Only applicable to automated agents.",
          "type": "string"
        },
        "deploymentDisplayName": {
          "type": "string",
          "description": "The agent's deployment display name. Only applicable to automated agents."
        },
        "displayName": {
          "description": "The agent's name.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "The agent's location."
        },
        "entrySubagentDisplayName": {
          "description": "The entry subagent's display name.",
          "type": "string"
        }
      }
    },
    "GoogleCloudCesV1mainBlob": {
      "id": "GoogleCloudCesV1mainBlob",
      "properties": {
        "mimeType": {
          "description": "Required. The IANA standard MIME type of the source data.",
          "type": "string"
        },
        "data": {
          "type": "string",
          "description": "Required. Raw bytes of the blob.",
          "format": "byte"
        }
      },
      "type": "object",
      "description": "Represents a blob input or output in the conversation."
    },
    "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentDialogflowSegmentMetadata": {
      "description": "Metadata from Dialogflow relating to the current transcript segment.",
      "type": "object",
      "properties": {
        "smartReplyAllowlistCovered": {
          "type": "boolean",
          "description": "Whether the transcript segment was covered under the configured smart reply allowlist in Agent Assist."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentDialogflowSegmentMetadata"
    },
    "GoogleCloudContactcenterinsightsV1UpdateQaQuestionTagRequest": {
      "description": "The request for updating a QaQuestionTag.",
      "properties": {
        "updateMask": {
          "description": "Optional. The list of fields to be updated. All possible fields can be updated by passing `*`, or a subset of the following updateable fields can be provided: * `qa_question_tag_name` - the name of the tag * `qa_question_ids` - the list of questions the tag applies to",
          "format": "google-fieldmask",
          "type": "string"
        },
        "qaQuestionTag": {
          "$ref": "GoogleCloudContactcenterinsightsV1QaQuestionTag",
          "description": "Required. The QaQuestionTag to update."
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1UpdateQaQuestionTagRequest"
    },
    "GoogleCloudContactcenterinsightsV1alpha1IssueAssignment": {
      "description": "Information about the issue.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1IssueAssignment",
      "properties": {
        "score": {
          "format": "double",
          "description": "Score indicating the likelihood of the issue assignment. currently bounded on [0,1].",
          "type": "number"
        },
        "issue": {
          "type": "string",
          "description": "Resource name of the assigned issue."
        },
        "displayName": {
          "type": "string",
          "description": "Immutable. Display name of the assigned issue. This field is set at time of analysis and immutable since then."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationDataSourceTurnLevelAudio": {
      "type": "object",
      "description": "A wrapper for holding the audio for any given turn.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationDataSourceTurnLevelAudio",
      "properties": {
        "audioGcsUri": {
          "type": "string",
          "description": "The Cloud Storage URI of the audio for any given turn."
        },
        "audioDuration": {
          "format": "google-duration",
          "description": "The duration of the audio.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1AnnotatorSelectorSummarizationConfig": {
      "id": "GoogleCloudContactcenterinsightsV1AnnotatorSelectorSummarizationConfig",
      "type": "object",
      "properties": {
        "conversationProfile": {
          "description": "Resource name of the Dialogflow conversation profile. Format: projects/{project}/locations/{location}/conversationProfiles/{conversation_profile}",
          "type": "string"
        },
        "summarizationModel": {
          "type": "string",
          "enum": [
            "SUMMARIZATION_MODEL_UNSPECIFIED",
            "BASELINE_MODEL",
            "BASELINE_MODEL_V2_0"
          ],
          "description": "Default summarization model to be used.",
          "enumDescriptions": [
            "Unspecified summarization model.",
            "The CCAI baseline model. This model is deprecated and will be removed in the future. We recommend using `generator` instead.",
            "The CCAI baseline model, V2.0. This model is deprecated and will be removed in the future. We recommend using `generator` instead."
          ],
          "enumDeprecated": [
            false,
            true,
            true
          ]
        },
        "generator": {
          "type": "string",
          "description": "The resource name of the existing created generator. Format: projects//locations//generators/"
        }
      },
      "description": "Configuration for summarization."
    },
    "GoogleCloudContactcenterinsightsV1QaScorecardRevision": {
      "description": "A revision of a QaScorecard. Modifying published scorecard fields would invalidate existing scorecard results — the questions may have changed, or the score weighting will make existing scores impossible to understand. So changes must create a new revision, rather than modifying the existing resource.",
      "type": "object",
      "properties": {
        "snapshot": {
          "$ref": "GoogleCloudContactcenterinsightsV1QaScorecard",
          "description": "The snapshot of the scorecard at the time of this revision's creation."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the scorecard revision. Format: projects/{project}/locations/{location}/qaScorecards/{qa_scorecard}/revisions/{revision}"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "EDITABLE",
            "TRAINING",
            "TRAINING_FAILED",
            "READY",
            "DELETING",
            "TRAINING_CANCELLED"
          ],
          "description": "Output only. State of the scorecard revision, indicating whether it's ready to be used in analysis.",
          "enumDescriptions": [
            "Unspecified.",
            "The scorecard revision can be edited.",
            "Scorecard model training is in progress.",
            "Scorecard revision model training failed.",
            "The revision can be used in analysis.",
            "Scorecard is being deleted.",
            "Scorecard model training was explicitly cancelled by the user."
          ],
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp that the revision was created.",
          "readOnly": true,
          "type": "string"
        },
        "alternateIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Alternative IDs for this revision of the scorecard, e.g., `latest`.",
          "readOnly": true
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1QaScorecardRevision"
    },
    "GoogleCloudContactcenterinsightsV1mainIngestConversationsRequestGcsSource": {
      "type": "object",
      "description": "Configuration for Cloud Storage bucket sources.",
      "id": "GoogleCloudContactcenterinsightsV1mainIngestConversationsRequestGcsSource",
      "properties": {
        "transcriptBucketUri": {
          "description": "Optional. The Cloud Storage path to the conversation transcripts. Note that: [1] Transcript files are expected to be in JSON format. [2] Transcript, audio, metadata files must be in separate buckets / folders. [3] A source file and its corresponding metadata file must share the same name to be properly ingested, E.g. `gs://bucket/audio/conversation1.mp3` and `gs://bucket/metadata/conversation1.json`.",
          "type": "string"
        },
        "audioBucketUri": {
          "type": "string",
          "description": "Optional. The Cloud Storage path to the conversation audio file. Note that: [1] Audio files will be transcribed if not already. [2] Audio files and transcript files must be in separate buckets / folders. [3] A source file and its corresponding audio file must share the same name to be properly ingested, E.g. `gs://bucket/transcript/conversation1.json` and `gs://bucket/audio/conversation1.mp3`."
        },
        "metadataBucketUri": {
          "description": "Optional. The Cloud Storage path to the conversation metadata. Note that: [1] Metadata files are expected to be in JSON format. [2] Metadata and source files (transcripts or audio) must be in separate buckets / folders. [3] A source file and its corresponding metadata file must share the same name to be properly ingested, E.g. `gs://bucket/audio/conversation1.mp3` and `gs://bucket/metadata/conversation1.json`.",
          "type": "string"
        },
        "bucketUri": {
          "type": "string",
          "description": "Optional. The Cloud Storage bucket containing source objects. Avoid passing this. Pass this through one of `transcript_bucket_uri` or `audio_bucket_uri`."
        },
        "customMetadataKeys": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Custom keys to extract as conversation labels from metadata files in `metadata_bucket_uri`. Keys not included in this field will be ignored. Note that there is a limit of 100 labels per conversation."
        },
        "bucketObjectType": {
          "enum": [
            "BUCKET_OBJECT_TYPE_UNSPECIFIED",
            "TRANSCRIPT",
            "AUDIO"
          ],
          "description": "Optional. Specifies the type of the objects in `bucket_uri`. Avoid passing this. This is inferred from the `transcript_bucket_uri`, `audio_bucket_uri`.",
          "enumDescriptions": [
            "The object type is unspecified and will default to `TRANSCRIPT`.",
            "The object is a transcript.",
            "The object is an audio file."
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1GenerativeInsightsChartConversation": {
      "id": "GoogleCloudContactcenterinsightsV1GenerativeInsightsChartConversation",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The create time of the conversation."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The update time of the conversation."
        },
        "conversationId": {
          "description": "The conversation id of the chart.",
          "type": "string"
        },
        "messages": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1GenerativeInsightsChartConversationMessage"
          },
          "description": "Ordered list of messages, including user inputs and system responses.",
          "type": "array"
        }
      },
      "description": "The conversation used to generate the chart.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1FeedbackLabel": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1FeedbackLabel",
      "properties": {
        "name": {
          "description": "Immutable. Resource name of the FeedbackLabel. Format: projects/{project}/locations/{location}/conversations/{conversation}/feedbackLabels/{feedback_label}",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Create time of the label.",
          "type": "string"
        },
        "labeledResource": {
          "type": "string",
          "description": "Name of the resource to be labeled. Supported resources are: * `projects/{project}/locations/{location}/qaScorecards/{scorecard}/revisions/{revision}/qaQuestions/{question}` * `projects/{project}/locations/{location}/issueModels/{issue_model}` * `projects/{project}/locations/{location}/generators/{generator_id}`"
        },
        "label": {
          "type": "string",
          "description": "String label used for Topic Modeling."
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Update time of the label."
        },
        "qaAnswerLabel": {
          "description": "QaAnswer label used for Quality AI example conversations.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1QaAnswerAnswerValue"
        }
      },
      "description": "Represents a conversation, resource, and label provided by the user. Can take the form of a string label or a QaAnswer label. QaAnswer labels are used for Quality AI example conversations. String labels are used for Topic Modeling. AgentAssistSummary labels are used for Agent Assist Summarization."
    },
    "GoogleCloudContactcenterinsightsV1alpha1TestCorrelationConfigResponse": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1TestCorrelationConfigResponse",
      "description": "The response of testing correlation config.",
      "properties": {
        "detailedResults": {
          "description": "Results for the DETAILED_SYNC execution mode.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1TestCorrelationConfigResponseDetailedCorrelationResults"
        },
        "partialErrors": {
          "description": "Partial errors during test correlation config operation that might cause the operation output to be incomplete.",
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1ExportIssueModelMetadata": {
      "description": "Metadata used for export issue model.",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "The time the operation was created.",
          "type": "string"
        },
        "endTime": {
          "description": "The time the operation finished running.",
          "type": "string",
          "format": "google-datetime"
        },
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1ExportIssueModelRequest",
          "description": "The original export request."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1ExportIssueModelMetadata",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1AnalysisResult": {
      "type": "object",
      "properties": {
        "callAnalysisMetadata": {
          "$ref": "GoogleCloudContactcenterinsightsV1AnalysisResultCallAnalysisMetadata",
          "description": "Call-specific metadata created by the analysis."
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the analysis ended."
        }
      },
      "description": "The result of an analysis.",
      "id": "GoogleCloudContactcenterinsightsV1AnalysisResult"
    },
    "GoogleCloudContactcenterinsightsV1NoteAssessmentNote": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1NoteAssessmentNote",
      "description": "A note about the entire parent assessment.",
      "properties": {}
    },
    "GoogleCloudContactcenterinsightsV1alpha1AnswerFeedback": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1AnswerFeedback",
      "properties": {
        "correctnessLevel": {
          "description": "The correctness level of an answer.",
          "enum": [
            "CORRECTNESS_LEVEL_UNSPECIFIED",
            "NOT_CORRECT",
            "PARTIALLY_CORRECT",
            "FULLY_CORRECT"
          ],
          "enumDescriptions": [
            "Correctness level unspecified.",
            "Answer is totally wrong.",
            "Answer is partially correct.",
            "Answer is fully correct."
          ],
          "type": "string"
        },
        "clicked": {
          "type": "boolean",
          "description": "Indicates whether an answer or item was clicked by the human agent."
        },
        "displayed": {
          "type": "boolean",
          "description": "Indicates whether an answer or item was displayed to the human agent in the agent desktop UI."
        }
      },
      "description": "The feedback that the customer has about a certain answer in the conversation.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainExportIssueModelMetadata": {
      "type": "object",
      "description": "Metadata used for export issue model.",
      "properties": {
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the operation finished running."
        },
        "request": {
          "description": "The original export request.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainExportIssueModelRequest"
        },
        "createTime": {
          "description": "The time the operation was created.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainExportIssueModelMetadata"
    },
    "GoogleCloudContactcenterinsightsV1BulkDownloadFeedbackLabelsRequestGcsDestination": {
      "properties": {
        "addWhitespace": {
          "description": "Optional. Add whitespace to the JSON file. Makes easier to read, but increases file size. Only applicable for JSON format.",
          "type": "boolean"
        },
        "objectUri": {
          "description": "Required. The Google Cloud Storage URI to write the feedback labels to. The file name will be used as a prefix for the files written to the bucket if the output needs to be split across multiple files, otherwise it will be used as is. The file extension will be appended to the file name based on the format selected. E.g. `gs://bucket_name/object_uri_prefix`",
          "type": "string"
        },
        "format": {
          "enumDescriptions": [
            "Unspecified format.",
            "CSV format. 1,000 labels are stored per CSV file by default.",
            "JSON format. 1 label stored per JSON file by default."
          ],
          "type": "string",
          "description": "Required. File format in which the labels will be exported.",
          "enum": [
            "FORMAT_UNSPECIFIED",
            "CSV",
            "JSON"
          ]
        },
        "alwaysPrintEmptyFields": {
          "type": "boolean",
          "description": "Optional. Always print fields with no presence. This is useful for printing fields that are not set, like implicit 0 value or empty lists/maps. Only applicable for JSON format."
        },
        "recordsPerFileCount": {
          "type": "string",
          "description": "Optional. The number of records per file. Applicable for either format.",
          "format": "int64"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1BulkDownloadFeedbackLabelsRequestGcsDestination",
      "description": "Google Cloud Storage Object details to write the feedback labels to.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1UndeployIssueModelResponse": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1UndeployIssueModelResponse",
      "description": "The response to undeploy an issue model.",
      "properties": {}
    },
    "GoogleCloudContactcenterinsightsV1mainDeployIssueModelResponse": {
      "description": "The response to deploy an issue model.",
      "id": "GoogleCloudContactcenterinsightsV1mainDeployIssueModelResponse",
      "properties": {},
      "type": "object"
    },
    "GoogleIamV1AuditLogConfig": {
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "properties": {
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "logType": {
          "type": "string",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "description": "The log type that this config enables."
        }
      },
      "id": "GoogleIamV1AuditLogConfig",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainQaAnswerAnswerSource": {
      "id": "GoogleCloudContactcenterinsightsV1mainQaAnswerAnswerSource",
      "type": "object",
      "properties": {
        "answerValue": {
          "description": "The answer value from this source. This field is populated by default, unless the question has a selection strategy configured to return multiple answer values, in which case `answer_values` will be populated instead.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainQaAnswerAnswerValue"
        },
        "sourceType": {
          "description": "What created the answer.",
          "type": "string",
          "enumDescriptions": [
            "Source type is unspecified.",
            "Answer was system-generated; created during an Insights analysis.",
            "Answer was created by a human via manual edit."
          ],
          "enum": [
            "SOURCE_TYPE_UNSPECIFIED",
            "SYSTEM_GENERATED",
            "MANUAL_EDIT"
          ]
        }
      },
      "description": "A question may have multiple answers from varying sources, one of which becomes the \"main\" answer above. AnswerSource represents each individual answer."
    },
    "GoogleCloudContactcenterinsightsV1mainIngestConversationsRequestTranscriptObjectConfig": {
      "id": "GoogleCloudContactcenterinsightsV1mainIngestConversationsRequestTranscriptObjectConfig",
      "description": "Configuration for processing transcript objects.",
      "type": "object",
      "properties": {
        "medium": {
          "type": "string",
          "description": "Required. The medium transcript objects represent.",
          "enumDescriptions": [
            "Default value for unspecified.",
            "The format for conversations that took place over the phone.",
            "The format for conversations that took place over chat."
          ],
          "enum": [
            "MEDIUM_UNSPECIFIED",
            "PHONE_CALL",
            "CHAT"
          ]
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1IntentMatchData": {
      "type": "object",
      "properties": {
        "intentUniqueId": {
          "type": "string",
          "description": "The id of the matched intent. Can be used to retrieve the corresponding intent information."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1IntentMatchData",
      "description": "The data for an intent match. Represents an intent match for a text segment in the conversation. A text segment can be part of a sentence, a complete sentence, or an utterance with multiple sentences."
    },
    "GoogleCloudContactcenterinsightsV1mainQueryMetricsMetadata": {
      "type": "object",
      "properties": {
        "resultIsTruncated": {
[...]
