{
  "name": "css",
  "basePath": "",
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/content": {
          "description": "Manage your product listings and accounts for Google Shopping"
        }
      }
    }
  },
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/comparison-shopping-services/api/overview",
  "parameters": {
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format."
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    }
  },
  "ownerDomain": "google.com",
  "title": "CSS API",
  "ownerName": "Google",
  "rootUrl": "https://css.googleapis.com/",
  "canonicalName": "Css",
  "description": "Programmatically manage your Comparison Shopping Service (CSS) account data at scale.",
  "revision": "20260608",
  "schemas": {
    "DestinationStatus": {
      "id": "DestinationStatus",
      "description": "The destination status of the product status.",
      "type": "object",
      "properties": {
        "disapprovedCountries": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of country codes (ISO 3166-1 alpha-2) where the CSS Product is disapproved."
        },
        "approvedCountries": {
          "type": "array",
          "description": "List of country codes (ISO 3166-1 alpha-2) where the CSS Product is approved.",
          "items": {
            "type": "string"
          }
        },
        "pendingCountries": {
          "items": {
            "type": "string"
          },
          "description": "List of country codes (ISO 3166-1 alpha-2) where the CSS Product is pending approval.",
          "type": "array"
        },
        "destination": {
          "description": "The name of the destination",
          "type": "string"
        }
      }
    },
    "Certification": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the certification. At this time, the most common value is \"EPREL\", which represents energy efficiency certifications in the EU European Registry for Energy Labeling (EPREL) database.",
          "type": "string"
        },
        "authority": {
          "description": "The authority or certification body responsible for issuing the certification. At this time, the most common value is \"EC\" or “European_Commission” for energy labels in the EU.",
          "type": "string"
        },
        "code": {
          "type": "string",
          "description": "The code of the certification. For example, for the EPREL certificate with the link https://eprel.ec.europa.eu/screen/product/dishwashers2019/123456 the code is 123456. The code is required for European Energy Labels."
        }
      },
      "id": "Certification",
      "description": "The certification for the product. Use the this attribute to describe certifications, such as energy efficiency ratings, associated with a product."
    },
    "CssProductStatus": {
      "type": "object",
      "properties": {
        "googleExpirationDate": {
          "description": "Date on which the item expires, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format.",
          "type": "string",
          "format": "google-datetime"
        },
        "destinationStatuses": {
          "type": "array",
          "description": "The intended destinations for the product.",
          "items": {
            "$ref": "DestinationStatus"
          }
        },
        "lastUpdateDate": {
          "type": "string",
          "format": "google-datetime",
          "description": "Date on which the item has been last updated, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format."
        },
        "creationDate": {
          "type": "string",
          "format": "google-datetime",
          "description": "Date on which the item has been created, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format."
        },
        "itemLevelIssues": {
          "items": {
            "$ref": "ItemLevelIssue"
          },
          "description": "A list of all issues associated with the product.",
          "type": "array"
        }
      },
      "id": "CssProductStatus",
      "description": "The status of the Css Product, data validation issues, that is, information about the Css Product computed asynchronously."
    },
    "ListCssProductsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "cssProducts": {
          "items": {
            "$ref": "CssProduct"
          },
          "type": "array",
          "description": "The processed CSS products from the specified account. These are your processed CSS products after applying rules and supplemental feeds."
        }
      },
      "id": "ListCssProductsResponse",
      "description": "Response message for the ListCssProducts method."
    },
    "CssProductInput": {
      "id": "CssProductInput",
      "description": "This resource represents input data you submit for a CSS Product, not the processed CSS Product that you see in CSS Center, in Shopping Ads, or across Google surfaces.",
      "type": "object",
      "properties": {
        "customAttributes": {
          "type": "array",
          "description": "A list of custom (CSS-provided) attributes. It can also be used for submitting any attribute of the feed specification in its generic form (for example: `{ \"name\": \"size type\", \"value\": \"regular\" }`). This is useful for submitting attributes not explicitly exposed by the API, such as additional attributes used for Buy on Google.",
          "items": {
            "$ref": "CustomAttribute"
          }
        },
        "name": {
          "description": "Identifier. The name of the CSS Product input. Format: `accounts/{account}/cssProductInputs/{css_product_input}`, where the last section `css_product_input` consists of 3 parts: contentLanguage~feedLabel~offerId. Example: accounts/123/cssProductInputs/de~DE~rawProvidedId123",
          "type": "string"
        },
        "rawProvidedId": {
          "type": "string",
          "description": "Required. Your unique identifier for the CSS Product. This is the same for the CSS Product input and processed CSS Product. We only allow ids with alphanumerics, underscores and dashes. See the [products feed specification](https://support.google.com/merchants/answer/188494#id) for details."
        },
        "contentLanguage": {
          "type": "string",
          "description": "Required. The two-letter [ISO 639-1](http://en.wikipedia.org/wiki/ISO_639-1) language code for the CSS Product."
        },
        "feedLabel": {
          "description": "Required. The [feed label](https://developers.google.com/shopping-content/guides/products/feed-labels) for the CSS Product. Feed Label is synonymous to \"target country\" and hence should always be a valid region code. For example: 'DE' for Germany, 'FR' for France.",
          "type": "string"
        },
        "freshnessTime": {
          "deprecated": true,
          "type": "string",
          "format": "google-datetime",
          "description": "DEPRECATED. Use expiration_date instead. Represents the existing version (freshness) of the CSS Product, which can be used to preserve the right order when multiple updates are done at the same time. This field must not be set to the future time. If set, the update is prevented if a newer version of the item already exists in our system (that is the last update time of the existing CSS products is later than the freshness time set in the update). If the update happens, the last update time is then set to this freshness time. If not set, the update will not be prevented and the last update time will default to when this request was received by the CSS API. If the operation is prevented, the aborted exception will be thrown."
        },
        "finalName": {
          "type": "string",
          "description": "Output only. The name of the processed CSS Product. Format: `accounts/{account}/cssProducts/{css_product}` \"",
          "readOnly": true
        },
        "attributes": {
          "description": "A list of CSS Product attributes.",
          "$ref": "Attributes"
        }
      }
    },
    "ProductDimension": {
      "type": "object",
      "properties": {
        "value": {
          "type": "number",
          "format": "double",
          "description": "Required. The dimension value represented as a number. The value can have a maximum precision of four decimal places."
        },
        "unit": {
          "type": "string",
          "description": "Required. The dimension units. Acceptable values are: * \"`in`\" * \"`cm`\""
        }
      },
      "id": "ProductDimension",
      "description": "The dimension of the product."
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "Account": {
      "id": "Account",
      "description": "Information about CSS/MC account.",
      "type": "object",
      "properties": {
        "labelIds": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array",
          "description": "Manually created label IDs assigned to the CSS/MC account by a CSS parent account."
        },
        "fullName": {
          "description": "Output only. Immutable. The CSS/MC account's full name.",
          "type": "string",
          "readOnly": true
        },
        "parent": {
          "type": "string",
          "description": "The CSS/MC account's parent resource. CSS group for CSS domains; CSS domain for MC accounts. Returned only if the user has access to the parent account. Note: For MC sub-accounts, this is also the CSS domain that is the parent resource of the MCA account, since we are effectively flattening the hierarchy.\""
        },
        "homepageUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Immutable. The CSS/MC account's homepage."
        },
        "name": {
          "description": "The label resource name. Format: accounts/{account}",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The CSS/MC account's short display name."
        },
        "automaticLabelIds": {
          "description": "Automatically created label IDs assigned to the MC account by CSS Center.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "accountType": {
          "readOnly": true,
          "enum": [
            "ACCOUNT_TYPE_UNSPECIFIED",
            "CSS_GROUP",
            "CSS_DOMAIN",
            "MC_PRIMARY_CSS_MCA",
            "MC_CSS_MCA",
            "MC_MARKETPLACE_MCA",
            "MC_OTHER_MCA",
            "MC_STANDALONE",
            "MC_MCA_SUBACCOUNT"
          ],
          "enumDescriptions": [
            "Unknown account type.",
            "CSS group account.",
            "CSS domain account.",
            "MC Primary CSS MCA account.",
            "MC CSS MCA account.",
            "MC Marketplace MCA account.",
            "MC Other MCA account.",
            "MC Standalone account.",
            "MC MCA sub-account."
          ],
          "type": "string",
          "description": "Output only. The type of this account."
        }
      }
    },
    "Price": {
      "type": "object",
      "properties": {
        "amountMicros": {
          "description": "The price represented as a number in micros (1 million micros is an equivalent to one's currency standard unit, for example, 1 USD = 1000000 micros).",
          "type": "string",
          "format": "int64"
        },
        "currencyCode": {
          "type": "string",
          "description": "The currency of the price using three-letter acronyms according to [ISO 4217](http://en.wikipedia.org/wiki/ISO_4217)."
        }
      },
      "id": "Price",
      "description": "The price represented as a number and currency."
    },
    "ItemLevelIssue": {
      "id": "ItemLevelIssue",
      "description": "The ItemLevelIssue of the product status.",
      "type": "object",
      "properties": {
        "servability": {
          "description": "How this issue affects serving of the CSS Product.",
          "type": "string"
        },
        "attribute": {
          "type": "string",
          "description": "The attribute's name, if the issue is caused by a single attribute."
        },
        "detail": {
          "description": "A detailed issue description in English.",
          "type": "string"
        },
        "destination": {
          "type": "string",
          "description": "The destination the issue applies to."
        },
        "description": {
          "type": "string",
          "description": "A short issue description in English."
        },
        "resolution": {
          "description": "Whether the issue can be resolved by the merchant.",
          "type": "string"
        },
        "code": {
          "description": "The error code of the issue.",
          "type": "string"
        },
        "documentation": {
          "type": "string",
          "description": "The URL of a web page to help with resolving this issue."
        },
        "applicableCountries": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of country codes (ISO 3166-1 alpha-2) where issue applies to the CSS Product."
        }
      }
    },
    "CustomAttribute": {
      "id": "CustomAttribute",
      "description": "A message that represents custom attributes. Exactly one of `value` or `group_values` must not be empty.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the attribute.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "The value of the attribute. If `value` is not empty, `group_values` must be empty."
        },
        "groupValues": {
          "type": "array",
          "description": "Subattributes within this attribute group. If `group_values` is not empty, `value` must be empty.",
          "items": {
            "$ref": "CustomAttribute"
          }
        }
      }
    },
    "ListAccountLabelsResponse": {
      "id": "ListAccountLabelsResponse",
      "description": "Response message for the `ListAccountLabels` method.",
      "type": "object",
      "properties": {
        "accountLabels": {
          "items": {
            "$ref": "AccountLabel"
          },
          "description": "The labels from the specified account.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "MethodDetails": {
      "type": "object",
      "properties": {
        "method": {
          "readOnly": true,
          "description": "Output only. The name of the method for example `cssproductsservice.listcssproducts`.",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "Output only. The API version that the method belongs to.",
          "readOnly": true
        },
        "subapi": {
          "description": "Output only. The sub-API that the method belongs to. In the CSS API, this is always `css`.",
          "type": "string",
          "readOnly": true
        },
        "path": {
          "readOnly": true,
          "description": "Output only. The path for the method such as `v1/cssproductsservice.listcssproducts`.",
          "type": "string"
        }
      },
      "id": "MethodDetails",
      "description": "The method details per method in the CSS API."
    },
    "UpdateAccountLabelsRequest": {
      "type": "object",
      "properties": {
        "labelIds": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "The list of label IDs to overwrite the existing account label IDs. If the list is empty, all currently assigned label IDs will be deleted.",
          "type": "array"
        },
        "parent": {
          "type": "string",
          "description": "Optional. Only required when updating MC account labels. The CSS domain that is the parent resource of the MC account. Format: accounts/{account}"
        }
      },
      "id": "UpdateAccountLabelsRequest",
      "description": "The request message for the `UpdateLabels` method."
    },
    "QuotaGroup": {
      "id": "QuotaGroup",
      "description": "The group information for methods in the CSS API. The quota is shared between all methods in the group. Even if none of the methods within the group have usage the information for the group is returned.",
      "type": "object",
      "properties": {
        "quotaUsage": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. The current quota usage, meaning the number of calls already made on a given day to the methods in the group. The daily quota limits reset at at 12:00 PM midday UTC."
        },
        "quotaLimit": {
          "description": "Output only. The maximum number of calls allowed per day for the group.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "methodDetails": {
          "type": "array",
          "description": "Output only. List of all methods group quota applies to.",
          "readOnly": true,
          "items": {
            "$ref": "MethodDetails"
          }
        },
        "name": {
          "description": "Identifier. The resource name of the quota group. Format: accounts/{account}/quotas/{group} Example: `accounts/12345678/quotas/css-products-insert` Note: The {group} part is not guaranteed to follow a specific pattern.",
          "type": "string"
        },
        "quotaMinuteLimit": {
          "description": "Output only. The maximum number of calls allowed per minute for the group.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        }
      }
    },
    "CssProduct": {
      "type": "object",
      "properties": {
        "rawProvidedId": {
          "type": "string",
          "description": "Output only. Your unique raw identifier for the product.",
          "readOnly": true
        },
        "contentLanguage": {
          "type": "string",
          "description": "Output only. The two-letter [ISO 639-1](http://en.wikipedia.org/wiki/ISO_639-1) language code for the product.",
          "readOnly": true
        },
        "feedLabel": {
          "description": "Output only. The feed label for the product.",
          "type": "string",
          "readOnly": true
        },
        "cssProductStatus": {
          "readOnly": true,
          "$ref": "CssProductStatus",
          "description": "Output only. The status of a product, data validation issues, that is, information about a product computed asynchronously."
        },
        "customAttributes": {
          "readOnly": true,
          "items": {
            "$ref": "CustomAttribute"
          },
          "type": "array",
          "description": "Output only. A list of custom (CSS-provided) attributes. It can also be used to submit any attribute of the feed specification in its generic form (for example, `{ \"name\": \"size type\", \"value\": \"regular\" }`). This is useful for submitting attributes not explicitly exposed by the API, such as additional attributes used for Buy on Google."
        },
        "name": {
          "description": "The name of the CSS Product. Format: `\"accounts/{account}/cssProducts/{css_product}\"`",
          "type": "string"
        },
        "attributes": {
          "description": "Output only. A list of product attributes.",
          "$ref": "Attributes",
          "readOnly": true
        }
      },
      "id": "CssProduct",
      "description": "The processed CSS Product."
    },
    "ListChildAccountsResponse": {
      "id": "ListChildAccountsResponse",
      "description": "Response message for the `ListChildAccounts` method.",
      "type": "object",
      "properties": {
        "accounts": {
          "items": {
            "$ref": "Account"
          },
          "type": "array",
          "description": "The CSS/MC accounts returned for the specified CSS parent account."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "HeadlineOfferSubscriptionCost": {
      "type": "object",
      "properties": {
        "amount": {
          "$ref": "Price",
          "description": "The amount the buyer has to pay per subscription period."
        },
        "period": {
          "enumDescriptions": [
            "Indicates that the subscription period is unspecified.",
            "Indicates that the subscription period is month.",
            "Indicates that the subscription period is year."
          ],
          "enum": [
            "SUBSCRIPTION_PERIOD_UNSPECIFIED",
            "MONTH",
            "YEAR"
          ],
          "description": "The type of subscription period. Supported values are: * \"`month`\" * \"`year`\"",
          "type": "string"
        },
        "periodLength": {
          "type": "string",
          "format": "int64",
          "description": "The number of subscription periods the buyer has to pay."
        }
      },
      "id": "HeadlineOfferSubscriptionCost",
      "description": "The SubscriptionCost of the product."
    },
    "ListQuotaGroupsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "quotaGroups": {
          "description": "The methods, current quota usage and limits per each group. The quota is shared between all methods in the group. The groups are sorted in descending order based on quota_usage.",
          "type": "array",
          "items": {
            "$ref": "QuotaGroup"
          }
        }
      },
      "id": "ListQuotaGroupsResponse",
      "description": "Response message for the ListMethodGroups method."
    },
    "AccountLabel": {
      "type": "object",
      "properties": {
        "accountId": {
          "description": "Output only. The ID of account this label belongs to.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "labelId": {
          "description": "Output only. The ID of the label.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the label. Format: accounts/{account}/labels/{label}"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of this label."
        },
        "labelType": {
          "description": "Output only. The type of this label.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "LABEL_TYPE_UNSPECIFIED",
            "MANUAL",
            "AUTOMATIC"
          ],
          "enumDescriptions": [
            "Unknown label type.",
            "Indicates that the label was created manually.",
            "Indicates that the label was created automatically by CSS Center."
          ]
        },
        "description": {
          "description": "The description of this label.",
          "type": "string"
        }
      },
      "id": "AccountLabel",
      "description": "Label assigned by CSS domain or CSS group to one of its sub-accounts."
    },
    "HeadlineOfferInstallment": {
      "type": "object",
      "properties": {
        "amount": {
          "description": "The amount the buyer has to pay per month.",
          "$ref": "Price"
        },
        "downpayment": {
          "$ref": "Price",
          "description": "The up-front down payment amount the buyer has to pay."
        },
        "months": {
          "type": "string",
          "format": "int64",
          "description": "The number of installments the buyer has to pay."
        }
      },
      "id": "HeadlineOfferInstallment",
      "description": "A message that represents installment."
    },
    "Attributes": {
      "type": "object",
      "properties": {
        "title": {
          "type": "string",
          "description": "Title of the item."
        },
        "additionalImageLinks": {
          "items": {
            "type": "string"
          },
          "description": "Additional URL of images of the item.",
          "type": "array"
        },
        "headlineOfferPrice": {
          "$ref": "Price",
          "description": "Headline Price of the CSS Product."
        },
        "brand": {
          "description": "Product Related Attributes.[14-36] Brand of the item.",
          "type": "string"
        },
        "numberOfOffers": {
          "type": "string",
          "format": "int64",
          "description": "The number of CSS Products."
        },
        "isBundle": {
          "description": "Whether the item is a merchant-defined bundle. A bundle is a custom grouping of different products sold by a merchant for a single price.",
          "type": "boolean"
        },
        "customLabel2": {
          "description": "Custom label 2 for custom grouping of items in a Shopping campaign.",
          "type": "string"
        },
        "headlineOfferLink": {
          "description": "Link to the headline offer.",
          "type": "string"
        },
        "minRating": {
          "type": "string",
          "format": "int64",
          "description": "Minimum rating score of the product. Required if `rating` is provided. This field is for an upcoming feature and is not yet used."
        },
        "sizeTypes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The cut of the item. It can be used to represent combined size types for apparel items. Maximum two of size types can be provided (see [size type](https://support.google.com/merchants/answer/6324497)."
        },
        "cppMobileLink": {
          "description": "URL for the mobile-optimized version of the Product Detail Page of the CSS.",
          "type": "string"
        },
        "expirationDate": {
          "type": "string",
          "format": "google-datetime",
          "description": "Date on which the item should expire, as specified upon insertion, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format. The actual expiration date is exposed in `productstatuses` as [googleExpirationDate](https://support.google.com/merchants/answer/6324499) and might be earlier if `expirationDate` is too far in the future. Note: It may take 2+ days from the expiration date for the item to actually get deleted."
        },
        "multipack": {
          "description": "The number of identical products in a merchant-defined multipack.",
          "type": "string",
          "format": "int64"
        },
        "headlineOfferCondition": {
          "description": "Condition of the headline offer.",
          "type": "string"
        },
        "googleProductCategory": {
          "type": "string",
          "description": "Google's category of the item (see [Google product taxonomy](https://support.google.com/merchants/answer/1705911)). When querying products, this field will contain the user provided value. There is currently no way to get back the auto assigned google product categories through the API."
        },
        "reviewCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of reviews of the product. Required if `rating` is provided. This field is for an upcoming feature and is not yet used."
        },
        "headlineOfferShippingPrice": {
          "description": "Headline Price of the CSS Product.",
          "$ref": "Price"
        },
        "imageLink": {
          "description": "URL of an image of the item.",
          "type": "string"
        },
        "headlineOfferMobileLink": {
          "type": "string",
          "description": "Mobile Link to the headline offer."
        },
        "customLabel3": {
          "type": "string",
          "description": "Custom label 3 for custom grouping of items in a Shopping campaign."
        },
        "productLength": {
          "description": "The length of the product in the units provided. The value must be between 0 (exclusive) and 3000 (inclusive).",
          "$ref": "ProductDimension"
        },
        "productHighlights": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Bullet points describing the most relevant highlights of a product."
        },
        "pause": {
          "description": "Publication of this item will be temporarily paused.",
          "type": "string"
        },
        "customLabel4": {
          "type": "string",
          "description": "Custom label 4 for custom grouping of items in a Shopping campaign."
        },
        "headlineOfferSubscriptionCost": {
          "description": "Number of periods (months or years) and amount of payment per period for an item with an associated subscription contract.",
          "$ref": "HeadlineOfferSubscriptionCost"
        },
        "mpn": {
          "type": "string",
          "description": "Manufacturer Part Number ([MPN](https://support.google.com/merchants/answer/188494#mpn)) of the item."
        },
        "size": {
          "description": "Size of the item. Only one value is allowed. For variants with different sizes, insert a separate product for each size with the same `itemGroupId` value (see [https://support.google.com/merchants/answer/6324492](size definition)).",
          "type": "string"
        },
        "productDetails": {
          "type": "array",
          "description": "Technical specification or additional product details.",
          "items": {
            "$ref": "ProductDetail"
          }
        },
        "description": {
          "type": "string",
          "description": "Description of the item."
        },
        "certifications": {
          "type": "array",
          "description": "A list of certificates claimed by the CSS for the given product.",
          "items": {
            "$ref": "Certification"
          }
        },
        "lowPrice": {
          "description": "Low Price of the CSS Product.",
          "$ref": "Price"
        },
        "maxRating": {
          "description": "Maximum rating score of the product. Required if `rating` is provided. This field is for an upcoming feature and is not yet used.",
          "type": "string",
          "format": "int64"
        },
        "ageGroup": {
          "type": "string",
          "description": "Target age group of the item."
        },
        "excludedDestinations": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of destinations to exclude for this target (corresponds to unchecked check boxes in Merchant Center)."
        },
        "color": {
          "description": "Color of the item.",
          "type": "string"
        },
        "customLabel0": {
          "type": "string",
          "description": "Custom label 0 for custom grouping of items in a Shopping campaign."
        },
        "pattern": {
          "description": "The item's pattern (e.g. polka dots).",
          "type": "string"
        },
        "productWidth": {
          "description": "The width of the product in the units provided. The value must be between 0 (exclusive) and 3000 (inclusive).",
          "$ref": "ProductDimension"
        },
        "customLabel1": {
          "description": "Custom label 1 for custom grouping of items in a Shopping campaign.",
          "type": "string"
        },
        "itemGroupId": {
          "description": "Shared identifier for all variants of the same product.",
          "type": "string"
        },
        "rating": {
          "description": "Average rating score of the product. The value must be within the range of [`min_rating`, `max_rating`], inclusive. When displayed on the product page, this rating is normalized to a scale of [1, 5] with one decimal place. If provided, `review_count`, `min_rating`, and `max_rating` are also required. This field is for an upcoming feature and is not yet used.",
          "type": "number",
          "format": "double"
        },
        "gender": {
          "type": "string",
          "description": "Target gender of the item."
        },
        "productWeight": {
          "$ref": "ProductWeight",
          "description": "The weight of the product in the units provided. The value must be between 0 (exclusive) and 2000 (inclusive)."
        },
        "headlineOfferInstallment": {
          "$ref": "HeadlineOfferInstallment",
          "description": "Number and amount of installments to pay for an item."
        },
        "sizeSystem": {
          "type": "string",
          "description": "System in which the size is specified. Recommended for apparel items."
        },
        "cppAdsRedirect": {
          "description": "Allows advertisers to override the item URL when the product is shown within the context of Product Ads.",
          "type": "string"
        },
        "highPrice": {
          "$ref": "Price",
          "description": "High Price of the CSS Product."
        },
        "includedDestinations": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of destinations to include for this target (corresponds to checked check boxes in Merchant Center). Default destinations are always included unless provided in `excludedDestinations`."
        },
        "adult": {
          "description": "Set to true if the item is targeted towards adults.",
          "type": "boolean"
        },
        "material": {
          "description": "The material of which the item is made.",
          "type": "string"
        },
        "cppLink": {
          "type": "string",
          "description": "URL directly linking to your the Product Detail Page of the CSS."
        },
        "productTypes": {
          "type": "array",
          "description": "Categories of the item (formatted as in [products data specification](https://support.google.com/merchants/answer/6324406)).",
          "items": {
            "type": "string"
          }
        },
        "gtin": {
          "description": "Global Trade Item Number ([GTIN](https://support.google.com/merchants/answer/188494#gtin)) of the item.",
          "type": "string"
        },
        "productHeight": {
          "description": "The height of the product in the units provided. The value must be between 0 (exclusive) and 3000 (inclusive).",
          "$ref": "ProductDimension"
        }
      },
      "id": "Attributes",
      "description": "Attributes for CSS Product."
    },
    "ProductDetail": {
      "type": "object",
      "properties": {
        "attributeValue": {
          "description": "The value of the product detail.",
          "type": "string"
        },
        "sectionName": {
          "type": "string",
          "description": "The section header used to group a set of product details."
        },
        "attributeName": {
          "type": "string",
          "description": "The name of the product detail."
        }
      },
      "id": "ProductDetail",
      "description": "The product details."
    },
    "ProductWeight": {
      "type": "object",
      "properties": {
        "value": {
          "description": "Required. The weight represented as a number. The weight can have a maximum precision of four decimal places.",
          "type": "number",
          "format": "double"
        },
        "unit": {
          "description": "Required. The weight unit. Acceptable values are: * \"`g`\" * \"`kg`\" * \"`oz`\" * \"`lb`\"",
          "type": "string"
        }
      },
      "id": "ProductWeight",
      "description": "The weight of the product."
    }
  },
  "id": "css:v1",
  "version_module": true,
  "version": "v1",
  "resources": {
    "accounts": {
      "resources": {
        "cssProducts": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "parent"
              ],
              "id": "css.accounts.cssProducts.list",
              "flatPath": "v1/accounts/{accountsId}/cssProducts",
              "response": {
                "$ref": "ListCssProductsResponse"
              },
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "description": "Required. The account/domain to list processed CSS Products for. Format: accounts/{account}",
                  "required": true
                },
                "pageToken": {
                  "type": "string",
                  "description": "A page token, received from a previous `ListCssProducts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListCssProducts` must match the call that provided the page token.",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "description": "The maximum number of CSS Products to return. The service may return fewer than this value. The maximum value is 1000; values above 1000 will be coerced to 1000. If unspecified, the maximum number of CSS products will be returned.",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "path": "v1/{+parent}/cssProducts",
              "httpMethod": "GET",
              "description": "Lists the processed CSS Products in your CSS Center account. The response might contain fewer items than specified by pageSize. Rely on pageToken to determine if there are more items to be requested. After inserting, updating, or deleting a CSS product input, it may take several minutes before the updated processed CSS product can be retrieved."
            },
            "get": {
              "response": {
                "$ref": "CssProduct"
              },
              "parameters": {
                "name": {
                  "description": "Required. The name of the CSS product to retrieve. Format: `accounts/{account}/cssProducts/{css_product}`",
                  "required": true,
                  "pattern": "^accounts/[^/]+/cssProducts/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "description": "Retrieves the processed CSS Product from your CSS Center account. After inserting, updating, or deleting a product input, it may take several minutes before the updated final product can be retrieved.",
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "css.accounts.cssProducts.get",
              "flatPath": "v1/accounts/{accountsId}/cssProducts/{cssProductsId}"
            }
          }
        },
        "quotas": {
          "methods": {
            "list": {
              "response": {
                "$ref": "ListQuotaGroupsResponse"
              },
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "description": "Required. The CSS account that owns the collection of method quotas and resources. In most cases, this is the CSS domain. Format: accounts/{account}",
                  "required": true
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Token (if provided) to retrieve the subsequent page. All other parameters must match the original call that provided the page token."
                },
                "pageSize": {
                  "description": "Optional. The maximum number of quotas to return in the response, used for paging. Defaults to 500; values above 1000 will be coerced to 1000.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                }
              },
              "path": "v1/{+parent}/quotas",
              "httpMethod": "GET",
              "description": "Lists the daily call quota and usage per group for your CSS Center account.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "parent"
              ],
              "id": "css.accounts.quotas.list",
              "flatPath": "v1/accounts/{accountsId}/quotas"
            }
          }
        },
        "cssProductInputs": {
          "methods": {
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "CssProductInput"
              },
              "id": "css.accounts.cssProductInputs.patch",
              "flatPath": "v1/accounts/{accountsId}/cssProductInputs/{cssProductInputsId}",
              "response": {
                "$ref": "CssProductInput"
              },
              "parameters": {
                "name": {
                  "description": "Identifier. The name of the CSS Product input. Format: `accounts/{account}/cssProductInputs/{css_product_input}`, where the last section `css_product_input` consists of 3 parts: contentLanguage~feedLabel~offerId. Example: accounts/123/cssProductInputs/de~DE~rawProvidedId123",
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+/cssProductInputs/[^/]+$",
                  "location": "path"
                },
                "updateMask": {
                  "location": "query",
                  "description": "The list of CSS product attributes to be updated. If the update mask is omitted, then it is treated as implied field mask equivalent to all fields that are populated (have a non-empty value). Attributes specified in the update mask without a value specified in the body will be deleted from the CSS product. Update mask can only be specified for top level fields in attributes and custom attributes. To specify the update mask for custom attributes you need to add the `custom_attribute.` prefix. Providing special \"*\" value for full CSS product replacement is not supported.",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "path": "v1/{+name}",
              "httpMethod": "PATCH",
              "description": "Updates the existing Css Product input in your CSS Center account. After inserting, updating, or deleting a CSS Product input, it may take several minutes before the processed Css Product can be retrieved."
            },
            "insert": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "css.accounts.cssProductInputs.insert",
              "flatPath": "v1/accounts/{accountsId}/cssProductInputs:insert",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "CssProductInput"
              },
              "parameters": {
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The account where this CSS Product will be inserted. Format: accounts/{account}"
                },
                "feedId": {
                  "location": "query",
                  "type": "string",
                  "deprecated": true,
                  "format": "int64",
                  "description": "Optional. DEPRECATED. Feed id is not required for CSS Products. The primary or supplemental feed id. If CSS Product already exists and feed id provided is different, then the CSS Product will be moved to a new feed. Note: For now, CSSs do not need to provide feed ids as we create feeds on the fly. We do not have supplemental feed support for CSS Products yet."
                }
              },
              "response": {
                "$ref": "CssProductInput"
              },
              "path": "v1/{+parent}/cssProductInputs:insert",
              "httpMethod": "POST",
              "description": "Uploads a CssProductInput to your CSS Center account. If an input with the same contentLanguage, identity, feedLabel and feedId already exists, this method replaces that entry. After inserting, updating, or deleting a CSS Product input, it may take several minutes before the processed CSS Product can be retrieved."
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "css.accounts.cssProductInputs.delete",
              "flatPath": "v1/accounts/{accountsId}/cssProductInputs/{cssProductInputsId}",
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/cssProductInputs/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the CSS product input resource to delete. Format: accounts/{account}/cssProductInputs/{css_product_input}, where the last section `css_product_input` consists of 3 parts: contentLanguage~feedLabel~offerId. Example: accounts/123/cssProductInputs/de~DE~rawProvidedId123"
                },
                "supplementalFeedId": {
                  "location": "query",
                  "description": "The Content API Supplemental Feed ID. The field must not be set if the action applies to a primary feed. If the field is set, then product action applies to a supplemental feed instead of primary Content API feed.",
                  "type": "string",
                  "format": "int64"
                }
              },
              "description": "Deletes a CSS Product input from your CSS Center account. After a delete it may take several minutes until the input is no longer available.",
              "path": "v1/{+name}",
              "httpMethod": "DELETE"
            }
          }
        },
        "labels": {
          "methods": {
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "id": "css.accounts.labels.list",
              "flatPath": "v1/accounts/{accountsId}/labels",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "v1/{+parent}/labels",
              "httpMethod": "GET",
              "description": "Lists the labels owned by an account.",
              "response": {
                "$ref": "ListAccountLabelsResponse"
              },
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "A page token, received from a previous `ListAccountLabels` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccountLabels` must match the call that provided the page token.",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. The parent account. Format: accounts/{account}",
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of labels to return. The service may return fewer than this value. If unspecified, at most 50 labels will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                }
              }
            },
            "patch": {
              "path": "v1/{+name}",
              "httpMethod": "PATCH",
              "description": "Updates a label.",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^accounts/[^/]+/labels/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Identifier. The resource name of the label. Format: accounts/{account}/labels/{label}"
                }
              },
              "response": {
                "$ref": "AccountLabel"
              },
              "id": "css.accounts.labels.patch",
              "flatPath": "v1/accounts/{accountsId}/labels/{labelsId}",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "AccountLabel"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            },
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "AccountLabel"
              },
              "id": "css.accounts.labels.create",
              "flatPath": "v1/accounts/{accountsId}/labels",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "v1/{+parent}/labels",
              "httpMethod": "POST",
              "description": "Creates a new label, not assigned to any account.",
              "response": {
                "$ref": "AccountLabel"
              },
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The parent account. Format: accounts/{account}"
                }
              }
            },
            "delete": {
              "description": "Deletes a label and removes it from all accounts to which it was assigned.",
              "path": "v1/{+name}",
              "httpMethod": "DELETE",
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^accounts/[^/]+/labels/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the label to delete. Format: accounts/{account}/labels/{label}",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "css.accounts.labels.delete",
              "flatPath": "v1/accounts/{accountsId}/labels/{labelsId}",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            }
          }
        }
      },
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "css.accounts.get",
          "flatPath": "v1/accounts/{accountsId}",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "description": "Required. The name of the managed CSS/MC account. Format: accounts/{account}",
              "required": true,
              "type": "string",
              "pattern": "^accounts/[^/]+$",
              "location": "path"
            },
            "parent": {
              "description": "Optional. Only required when retrieving MC account information. The CSS domain that is the parent resource of the MC account. Format: accounts/{account}",
              "type": "string",
              "location": "query"
            }
          },
          "response": {
            "$ref": "Account"
          },
          "description": "Retrieves a single CSS/MC account by ID.",
          "path": "v1/{+name}",
          "httpMethod": "GET"
        },
        "listChildAccounts": {
          "path": "v1/{+parent}:listChildAccounts",
          "httpMethod": "GET",
          "description": "Lists all the accounts under the specified CSS account ID, and optionally filters by label ID and account name.",
          "response": {
            "$ref": "ListChildAccountsResponse"
          },
          "parameters": {
            "pageSize": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Optional. The maximum number of accounts to return. The service may return fewer than this value. If unspecified, at most 50 accounts will be returned. The maximum value is 100; values above 100 will be coerced to 100."
            },
            "labelId": {
              "description": "If set, only the MC accounts with the given label ID will be returned.",
              "type": "string",
              "format": "int64",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "description": "Optional. A page token, received from a previous `ListChildAccounts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListChildAccounts` must match the call that provided the page token.",
              "type": "string"
            },
            "parent": {
              "pattern": "^accounts/[^/]+$",
              "location": "path",
              "type": "string",
              "description": "Required. The parent account. Must be a CSS group or domain. Format: accounts/{account}",
              "required": true
            },
            "fullName": {
              "type": "string",
              "description": "If set, only the MC accounts with the given name (case sensitive) will be returned.",
              "location": "query"
            }
          },
          "parameterOrder": [
            "parent"
          ],
          "id": "css.accounts.listChildAccounts",
          "flatPath": "v1/accounts/{accountsId}:listChildAccounts",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "updateLabels": {
          "id": "css.accounts.updateLabels",
          "flatPath": "v1/accounts/{accountsId}:updateLabels",
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "UpdateAccountLabelsRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "v1/{+name}:updateLabels",
          "httpMethod": "POST",
          "description": "Updates labels assigned to CSS/MC accounts by a CSS domain.",
          "parameters": {
            "name": {
              "description": "Required. The label resource name. Format: accounts/{account}",
              "required": true,
              "pattern": "^accounts/[^/]+$",
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Account"
          }
        }
      }
    }
  },
  "baseUrl": "https://css.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "mtlsRootUrl": "https://css.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "servicePath": ""
}