{
  "title": "CSS API",
  "mtlsRootUrl": "https://css.mtls.googleapis.com/",
  "name": "css",
  "discoveryVersion": "v1",
  "resources": {
    "accounts": {
      "resources": {
        "cssProducts": {
          "methods": {
            "get": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "CssProduct"
              },
              "flatPath": "v1/accounts/{accountsId}/cssProducts/{cssProductsId}",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "httpMethod": "GET",
              "description": "Retrieves the processed CSS Product from your CSS Center account. After inserting, updating, or deleting a product input, it may take several minutes before the updated final product can be retrieved.",
              "id": "css.accounts.cssProducts.get",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/cssProducts/[^/]+$",
                  "description": "Required. The name of the CSS product to retrieve. Format: `accounts/{account}/cssProducts/{css_product}`",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              }
            },
            "list": {
              "httpMethod": "GET",
              "description": "Lists the processed CSS Products in your CSS Center account. The response might contain fewer items than specified by pageSize. Rely on pageToken to determine if there are more items to be requested. After inserting, updating, or deleting a CSS product input, it may take several minutes before the updated processed CSS product can be retrieved.",
              "id": "css.accounts.cssProducts.list",
              "path": "v1/{+parent}/cssProducts",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token, received from a previous `ListCssProducts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListCssProducts` must match the call that provided the page token."
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of CSS Products to return. The service may return fewer than this value. The maximum value is 1000; values above 1000 will be coerced to 1000. If unspecified, the maximum number of CSS products will be returned.",
                  "format": "int32"
                },
                "parent": {
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. The account/domain to list processed CSS Products for. Format: accounts/{account}",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListCssProductsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "v1/accounts/{accountsId}/cssProducts"
            }
          }
        },
        "quotas": {
          "methods": {
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListQuotaGroupsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "v1/accounts/{accountsId}/quotas",
              "httpMethod": "GET",
              "description": "Lists the daily call quota and usage per group for your CSS Center account.",
              "id": "css.accounts.quotas.list",
              "path": "v1/{+parent}/quotas",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Token (if provided) to retrieve the subsequent page. All other parameters must match the original call that provided the page token."
                },
                "pageSize": {
                  "description": "Optional. The maximum number of quotas to return in the response, used for paging. Defaults to 500; values above 1000 will be coerced to 1000.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The CSS account that owns the collection of method quotas and resources. In most cases, this is the CSS domain. Format: accounts/{account}",
                  "pattern": "^accounts/[^/]+$"
                }
              }
            }
          }
        },
        "labels": {
          "methods": {
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "v1/accounts/{accountsId}/labels/{labelsId}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "name": {
                  "description": "Required. The name of the label to delete. Format: accounts/{account}/labels/{label}",
                  "pattern": "^accounts/[^/]+/labels/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "httpMethod": "DELETE",
              "description": "Deletes a label and removes it from all accounts to which it was assigned.",
              "id": "css.accounts.labels.delete",
              "path": "v1/{+name}"
            },
            "list": {
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of labels to return. The service may return fewer than this value. If unspecified, at most 50 labels will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "format": "int32"
                },
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. The parent account. Format: accounts/{account}",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "pageToken": {
                  "description": "A page token, received from a previous `ListAccountLabels` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccountLabels` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                }
              },
              "id": "css.accounts.labels.list",
              "path": "v1/{+parent}/labels",
              "httpMethod": "GET",
              "description": "Lists the labels owned by an account.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "v1/accounts/{accountsId}/labels",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListAccountLabelsResponse"
              }
            },
            "patch": {
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/labels/[^/]+$",
                  "description": "Identifier. The resource name of the label. Format: accounts/{account}/labels/{label}",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "request": {
                "$ref": "AccountLabel"
              },
              "id": "css.accounts.labels.patch",
              "path": "v1/{+name}",
              "httpMethod": "PATCH",
              "description": "Updates a label.",
              "flatPath": "v1/accounts/{accountsId}/labels/{labelsId}",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "AccountLabel"
              }
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "v1/accounts/{accountsId}/labels",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "AccountLabel"
              },
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. The parent account. Format: accounts/{account}",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "request": {
                "$ref": "AccountLabel"
              },
              "id": "css.accounts.labels.create",
              "path": "v1/{+parent}/labels",
              "httpMethod": "POST",
              "description": "Creates a new label, not assigned to any account."
            }
          }
        },
        "cssProductInputs": {
          "methods": {
            "delete": {
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the CSS product input resource to delete. Format: accounts/{account}/cssProductInputs/{css_product_input}, where the last section `css_product_input` consists of 3 parts: contentLanguage~feedLabel~offerId. Example: accounts/123/cssProductInputs/de~DE~rawProvidedId123",
                  "pattern": "^accounts/[^/]+/cssProductInputs/[^/]+$",
                  "location": "path",
                  "required": true
                },
                "supplementalFeedId": {
                  "location": "query",
                  "type": "string",
                  "description": "The Content API Supplemental Feed ID. The field must not be set if the action applies to a primary feed. If the field is set, then product action applies to a supplemental feed instead of primary Content API feed.",
                  "format": "int64"
                }
              },
              "id": "css.accounts.cssProductInputs.delete",
              "path": "v1/{+name}",
              "httpMethod": "DELETE",
              "description": "Deletes a CSS Product input from your CSS Center account. After a delete it may take several minutes until the input is no longer available.",
              "flatPath": "v1/accounts/{accountsId}/cssProductInputs/{cssProductInputsId}",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              }
            },
            "insert": {
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "CssProductInput"
              },
              "flatPath": "v1/accounts/{accountsId}/cssProductInputs:insert",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "css.accounts.cssProductInputs.insert",
              "path": "v1/{+parent}/cssProductInputs:insert",
              "httpMethod": "POST",
              "description": "Uploads a CssProductInput to your CSS Center account. If an input with the same contentLanguage, identity, feedLabel and feedId already exists, this method replaces that entry. After inserting, updating, or deleting a CSS Product input, it may take several minutes before the processed CSS Product can be retrieved.",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The account where this CSS Product will be inserted. Format: accounts/{account}",
                  "pattern": "^accounts/[^/]+$"
                },
                "feedId": {
                  "type": "string",
                  "description": "Optional. DEPRECATED. Feed id is not required for CSS Products. The primary or supplemental feed id. If CSS Product already exists and feed id provided is different, then the CSS Product will be moved to a new feed. Note: For now, CSSs do not need to provide feed ids as we create feeds on the fly. We do not have supplemental feed support for CSS Products yet.",
                  "format": "int64",
                  "location": "query",
                  "deprecated": true
                }
              },
              "request": {
                "$ref": "CssProductInput"
              }
            },
            "patch": {
              "flatPath": "v1/accounts/{accountsId}/cssProductInputs/{cssProductInputsId}",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "CssProductInput"
              },
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "description": "The list of CSS product attributes to be updated. If the update mask is omitted, then it is treated as implied field mask equivalent to all fields that are populated (have a non-empty value). Attributes specified in the update mask without a value specified in the body will be deleted from the CSS product. Update mask can only be specified for top level fields in attributes and custom attributes. To specify the update mask for custom attributes you need to add the `custom_attribute.` prefix. Providing special \"*\" value for full CSS product replacement is not supported.",
                  "format": "google-fieldmask"
                },
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+/cssProductInputs/[^/]+$",
                  "description": "Identifier. The name of the CSS Product input. Format: `accounts/{account}/cssProductInputs/{css_product_input}`, where the last section `css_product_input` consists of 3 parts: contentLanguage~feedLabel~offerId. Example: accounts/123/cssProductInputs/de~DE~rawProvidedId123"
                }
              },
              "request": {
                "$ref": "CssProductInput"
              },
              "httpMethod": "PATCH",
              "description": "Updates the existing Css Product input in your CSS Center account. After inserting, updating, or deleting a CSS Product input, it may take several minutes before the processed Css Product can be retrieved.",
              "id": "css.accounts.cssProductInputs.patch",
              "path": "v1/{+name}"
            }
          }
        }
      },
      "methods": {
        "listChildAccounts": {
          "parameters": {
            "pageSize": {
              "location": "query",
              "type": "integer",
              "description": "Optional. The maximum number of accounts to return. The service may return fewer than this value. If unspecified, at most 50 accounts will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
              "format": "int32"
            },
            "pageToken": {
              "description": "Optional. A page token, received from a previous `ListChildAccounts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListChildAccounts` must match the call that provided the page token.",
              "location": "query",
              "type": "string"
            },
            "parent": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. The parent account. Must be a CSS group or domain. Format: accounts/{account}",
              "pattern": "^accounts/[^/]+$"
            },
            "fullName": {
              "description": "If set, only the MC accounts with the given name (case sensitive) will be returned.",
              "location": "query",
              "type": "string"
            },
            "labelId": {
              "description": "If set, only the MC accounts with the given label ID will be returned.",
              "format": "int64",
              "location": "query",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "description": "Lists all the accounts under the specified CSS account ID, and optionally filters by label ID and account name.",
          "id": "css.accounts.listChildAccounts",
          "path": "v1/{+parent}:listChildAccounts",
          "flatPath": "v1/accounts/{accountsId}:listChildAccounts",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "parent"
          ],
          "response": {
            "$ref": "ListChildAccountsResponse"
          }
        },
        "updateLabels": {
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Account"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "v1/accounts/{accountsId}:updateLabels",
          "httpMethod": "POST",
          "description": "Updates labels assigned to CSS/MC accounts by a CSS domain.",
          "id": "css.accounts.updateLabels",
          "path": "v1/{+name}:updateLabels",
          "parameters": {
            "name": {
              "type": "string",
              "description": "Required. The label resource name. Format: accounts/{account}",
              "pattern": "^accounts/[^/]+$",
              "location": "path",
              "required": true
            }
          },
          "request": {
            "$ref": "UpdateAccountLabelsRequest"
          }
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "v1/accounts/{accountsId}",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Account"
          },
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^accounts/[^/]+$",
              "description": "Required. The name of the managed CSS/MC account. Format: accounts/{account}"
            },
            "parent": {
              "location": "query",
              "type": "string",
              "description": "Optional. Only required when retrieving MC account information. The CSS domain that is the parent resource of the MC account. Format: accounts/{account}"
            }
          },
          "id": "css.accounts.get",
          "path": "v1/{+name}",
          "httpMethod": "GET",
          "description": "Retrieves a single CSS/MC account by ID."
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/content": {
          "description": "Manage your product listings and accounts for Google Shopping"
        }
      }
    }
  },
  "parameters": {
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    }
  },
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://css.googleapis.com/",
  "servicePath": "",
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "basePath": "",
  "documentationLink": "https://developers.google.com/comparison-shopping-services/api/overview",
  "canonicalName": "Css",
  "revision": "20260722",
  "baseUrl": "https://css.googleapis.com/",
  "version": "v1",
  "schemas": {
    "CustomAttribute": {
      "properties": {
        "value": {
          "description": "The value of the attribute. If `value` is not empty, `group_values` must be empty.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the attribute."
        },
        "groupValues": {
          "description": "Subattributes within this attribute group. If `group_values` is not empty, `value` must be empty.",
          "items": {
            "$ref": "CustomAttribute"
          },
          "type": "array"
        }
      },
      "id": "CustomAttribute",
      "type": "object",
      "description": "A message that represents custom attributes. Exactly one of `value` or `group_values` must not be empty."
    },
    "QuotaGroup": {
      "description": "The group information for methods in the CSS API. The quota is shared between all methods in the group. Even if none of the methods within the group have usage the information for the group is returned.",
      "id": "QuotaGroup",
      "type": "object",
      "properties": {
        "quotaLimit": {
          "description": "Output only. The maximum number of calls allowed per day for the group.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "quotaMinuteLimit": {
          "description": "Output only. The maximum number of calls allowed per minute for the group.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the quota group. Format: accounts/{account}/quotas/{group} Example: `accounts/12345678/quotas/css-products-insert` Note: The {group} part is not guaranteed to follow a specific pattern.",
          "type": "string"
        },
        "quotaUsage": {
          "type": "string",
          "description": "Output only. The current quota usage, meaning the number of calls already made on a given day to the methods in the group. The daily quota limits reset at 12:00 PM midday UTC.",
          "readOnly": true,
          "format": "int64"
        },
        "methodDetails": {
          "description": "Output only. List of all methods group quota applies to.",
          "readOnly": true,
          "items": {
            "$ref": "MethodDetails"
          },
          "type": "array"
        }
      }
    },
    "CssProductStatus": {
      "id": "CssProductStatus",
      "type": "object",
      "properties": {
        "destinationStatuses": {
          "type": "array",
          "description": "The intended destinations for the product.",
          "items": {
            "$ref": "DestinationStatus"
          }
        },
        "creationDate": {
          "description": "Date on which the item has been created, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format.",
          "format": "google-datetime",
          "type": "string"
        },
        "itemLevelIssues": {
          "type": "array",
          "description": "A list of all issues associated with the product.",
          "items": {
            "$ref": "ItemLevelIssue"
          }
        },
        "lastUpdateDate": {
          "type": "string",
          "description": "Date on which the item has been last updated, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format.",
          "format": "google-datetime"
        },
        "googleExpirationDate": {
          "type": "string",
          "description": "Date on which the item expires, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format.",
          "format": "google-datetime"
        }
      },
      "description": "The status of the Css Product, data validation issues, that is, information about the Css Product computed asynchronously."
    },
    "ListCssProductsResponse": {
      "description": "Response message for the ListCssProducts method.",
      "id": "ListCssProductsResponse",
      "type": "object",
      "properties": {
        "cssProducts": {
          "type": "array",
          "description": "The processed CSS products from the specified account. These are your processed CSS products after applying rules and supplemental feeds.",
          "items": {
            "$ref": "CssProduct"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "ListQuotaGroupsResponse": {
      "description": "Response message for the ListMethodGroups method.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "quotaGroups": {
          "description": "The methods, current quota usage and limits per each group. The quota is shared between all methods in the group. The groups are sorted in descending order based on quota_usage.",
          "items": {
            "$ref": "QuotaGroup"
          },
          "type": "array"
        }
      },
      "id": "ListQuotaGroupsResponse",
      "type": "object"
    },
    "Attributes": {
      "description": "Attributes for CSS Product.",
      "id": "Attributes",
      "type": "object",
      "properties": {
        "productLength": {
          "description": "The length of the product in the units provided. The value must be between 0 (exclusive) and 3000 (inclusive).",
          "$ref": "ProductDimension"
        },
        "multipack": {
          "description": "The number of identical products in a merchant-defined multipack.",
          "format": "int64",
          "type": "string"
        },
        "includedDestinations": {
          "description": "The list of destinations to include for this target (corresponds to checked check boxes in Merchant Center). Default destinations are always included unless provided in `excludedDestinations`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "cppLink": {
          "type": "string",
          "description": "URL directly linking to your the Product Detail Page of the CSS."
        },
        "reviewCount": {
          "description": "Number of reviews of the product. Required if `rating` is provided. This field is for an upcoming feature and is not yet used.",
          "format": "int64",
          "type": "string"
        },
        "productHeight": {
          "description": "The height of the product in the units provided. The value must be between 0 (exclusive) and 3000 (inclusive).",
          "$ref": "ProductDimension"
        },
        "productHighlights": {
          "type": "array",
          "description": "Bullet points describing the most relevant highlights of a product.",
          "items": {
            "type": "string"
          }
        },
        "rating": {
          "type": "number",
          "description": "Average rating score of the product. The value must be within the range of [`min_rating`, `max_rating`], inclusive. When displayed on the product page, this rating is normalized to a scale of [1, 5] with one decimal place. If provided, `review_count`, `min_rating`, and `max_rating` are also required. This field is for an upcoming feature and is not yet used.",
          "format": "double"
        },
        "headlineOfferMobileLink": {
          "type": "string",
          "description": "Mobile Link to the headline offer."
        },
        "productWeight": {
          "description": "The weight of the product in the units provided. The value must be between 0 (exclusive) and 2000 (inclusive).",
          "$ref": "ProductWeight"
        },
        "customLabel4": {
          "type": "string",
          "description": "Custom label 4 for custom grouping of items in a Shopping campaign."
        },
        "gender": {
          "type": "string",
          "description": "Target gender of the item."
        },
        "pattern": {
          "type": "string",
          "description": "The item's pattern (e.g. polka dots)."
        },
        "material": {
          "description": "The material of which the item is made.",
          "type": "string"
        },
        "headlineOfferCondition": {
          "type": "string",
          "description": "Condition of the headline offer."
        },
        "headlineOfferShippingPrice": {
          "description": "Headline Price of the CSS Product.",
          "$ref": "Price"
        },
        "sizeSystem": {
          "description": "System in which the size is specified. Recommended for apparel items.",
          "type": "string"
        },
        "cppMobileLink": {
          "description": "URL for the mobile-optimized version of the Product Detail Page of the CSS.",
          "type": "string"
        },
        "headlineOfferPrice": {
          "description": "Headline Price of the CSS Product.",
          "$ref": "Price"
        },
        "highPrice": {
          "description": "High Price of the CSS Product.",
          "$ref": "Price"
        },
        "customLabel1": {
          "description": "Custom label 1 for custom grouping of items in a Shopping campaign.",
          "type": "string"
        },
        "additionalImageLinks": {
          "description": "Additional URL of images of the item.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "productWidth": {
          "description": "The width of the product in the units provided. The value must be between 0 (exclusive) and 3000 (inclusive).",
          "$ref": "ProductDimension"
        },
        "headlineOfferInstallment": {
          "description": "Number and amount of installments to pay for an item.",
          "$ref": "HeadlineOfferInstallment"
        },
        "sizeTypes": {
          "description": "The cut of the item. It can be used to represent combined size types for apparel items. Maximum two of size types can be provided (see [size type](https://support.google.com/merchants/answer/6324497).",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "adult": {
          "description": "Set to true if the item is targeted towards adults.",
          "type": "boolean"
        },
        "size": {
          "description": "Size of the item. Only one value is allowed. For variants with different sizes, insert a separate product for each size with the same `itemGroupId` value (see [https://support.google.com/merchants/answer/6324492](size definition)).",
          "type": "string"
        },
        "imageLink": {
          "description": "URL of an image of the item.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Title of the item."
        },
        "description": {
          "description": "Description of the item.",
          "type": "string"
        },
        "certifications": {
          "type": "array",
          "description": "A list of certificates claimed by the CSS for the given product.",
          "items": {
            "$ref": "Certification"
          }
        },
        "lowPrice": {
          "description": "Low Price of the CSS Product.",
          "$ref": "Price"
        },
        "productTypes": {
          "type": "array",
          "description": "Categories of the item (formatted as in [products data specification](https://support.google.com/merchants/answer/6324406)).",
          "items": {
            "type": "string"
          }
        },
        "expirationDate": {
          "type": "string",
          "description": "Date on which the item should expire, as specified upon insertion, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format. The actual expiration date is exposed in `productstatuses` as [googleExpirationDate](https://support.google.com/merchants/answer/6324499) and might be earlier if `expirationDate` is too far in the future. Note: It may take 2+ days from the expiration date for the item to actually get deleted.",
          "format": "google-datetime"
        },
        "pause": {
          "description": "Publication of this item will be temporarily paused.",
          "type": "string"
        },
        "itemGroupId": {
          "description": "Shared identifier for all variants of the same product.",
          "type": "string"
        },
        "headlineOfferSubscriptionCost": {
          "description": "Number of periods (months or years) and amount of payment per period for an item with an associated subscription contract.",
          "$ref": "HeadlineOfferSubscriptionCost"
        },
        "minRating": {
          "type": "string",
          "description": "Minimum rating score of the product. Required if `rating` is provided. This field is for an upcoming feature and is not yet used.",
          "format": "int64"
        },
        "customLabel0": {
          "description": "Custom label 0 for custom grouping of items in a Shopping campaign.",
          "type": "string"
        },
        "googleProductCategory": {
          "type": "string",
          "description": "Google's category of the item (see [Google product taxonomy](https://support.google.com/merchants/answer/1705911)). When querying products, this field will contain the user provided value. There is currently no way to get back the auto assigned google product categories through the API."
        },
        "customLabel3": {
          "type": "string",
          "description": "Custom label 3 for custom grouping of items in a Shopping campaign."
        },
        "ageGroup": {
          "type": "string",
          "description": "Target age group of the item."
        },
        "cppAdsRedirect": {
          "description": "Allows advertisers to override the item URL when the product is shown within the context of Product Ads.",
          "type": "string"
        },
        "productDetails": {
          "description": "Technical specification or additional product details.",
          "items": {
            "$ref": "ProductDetail"
          },
          "type": "array"
        },
        "excludedDestinations": {
          "type": "array",
          "description": "The list of destinations to exclude for this target (corresponds to unchecked check boxes in Merchant Center).",
          "items": {
            "type": "string"
          }
        },
        "customLabel2": {
          "description": "Custom label 2 for custom grouping of items in a Shopping campaign.",
          "type": "string"
        },
        "gtin": {
          "description": "Global Trade Item Number ([GTIN](https://support.google.com/merchants/answer/188494#gtin)) of the item.",
          "type": "string"
        },
        "isBundle": {
          "description": "Whether the item is a merchant-defined bundle. A bundle is a custom grouping of different products sold by a merchant for a single price.",
          "type": "boolean"
        },
        "headlineOfferLink": {
          "description": "Link to the headline offer.",
          "type": "string"
        },
        "maxRating": {
          "type": "string",
          "description": "Maximum rating score of the product. Required if `rating` is provided. This field is for an upcoming feature and is not yet used.",
          "format": "int64"
        },
        "numberOfOffers": {
          "description": "The number of CSS Products.",
          "format": "int64",
          "type": "string"
        },
        "brand": {
          "type": "string",
          "description": "Product Related Attributes.[14-36] Brand of the item."
        },
        "mpn": {
          "type": "string",
          "description": "Manufacturer Part Number ([MPN](https://support.google.com/merchants/answer/188494#mpn)) of the item."
        },
        "color": {
          "description": "Color of the item.",
          "type": "string"
        }
      }
    },
    "CssProduct": {
      "properties": {
        "customAttributes": {
          "description": "Output only. A list of custom (CSS-provided) attributes. It can also be used to submit any attribute of the feed specification in its generic form (for example, `{ \"name\": \"size type\", \"value\": \"regular\" }`). This is useful for submitting attributes not explicitly exposed by the API, such as additional attributes used for Buy on Google.",
          "readOnly": true,
          "items": {
            "$ref": "CustomAttribute"
          },
          "type": "array"
        },
        "cssProductStatus": {
          "description": "Output only. The status of a product, data validation issues, that is, information about a product computed asynchronously.",
          "readOnly": true,
          "$ref": "CssProductStatus"
        },
        "contentLanguage": {
          "type": "string",
          "description": "Output only. The two-letter [ISO 639-1](http://en.wikipedia.org/wiki/ISO_639-1) language code for the product.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The name of the CSS Product. Format: `\"accounts/{account}/cssProducts/{css_product}\"`"
        },
        "rawProvidedId": {
          "description": "Output only. Your unique raw identifier for the product.",
          "readOnly": true,
          "type": "string"
        },
        "attributes": {
          "$ref": "Attributes",
          "description": "Output only. A list of product attributes.",
          "readOnly": true
        },
        "feedLabel": {
          "type": "string",
          "description": "Output only. The feed label for the product.",
          "readOnly": true
        }
      },
      "id": "CssProduct",
      "type": "object",
      "description": "The processed CSS Product."
    },
    "ItemLevelIssue": {
      "description": "The ItemLevelIssue of the product status.",
      "properties": {
        "servability": {
          "type": "string",
          "description": "How this issue affects serving of the CSS Product."
        },
        "detail": {
          "type": "string",
          "description": "A detailed issue description in English."
        },
        "attribute": {
          "description": "The attribute's name, if the issue is caused by a single attribute.",
          "type": "string"
        },
        "destination": {
          "type": "string",
          "description": "The destination the issue applies to."
        },
        "description": {
          "type": "string",
          "description": "A short issue description in English."
        },
        "code": {
          "type": "string",
          "description": "The error code of the issue."
        },
        "resolution": {
          "type": "string",
          "description": "Whether the issue can be resolved by the merchant."
        },
        "applicableCountries": {
          "description": "List of country codes (ISO 3166-1 alpha-2) where issue applies to the CSS Product.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "documentation": {
          "type": "string",
          "description": "The URL of a web page to help with resolving this issue."
        }
      },
      "id": "ItemLevelIssue",
      "type": "object"
    },
    "ListChildAccountsResponse": {
      "properties": {
        "accounts": {
          "description": "The CSS/MC accounts returned for the specified CSS parent account.",
          "items": {
            "$ref": "Account"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "ListChildAccountsResponse",
      "type": "object",
      "description": "Response message for the `ListChildAccounts` method."
    },
    "ProductDetail": {
      "description": "The product details.",
      "properties": {
        "attributeName": {
          "description": "The name of the product detail.",
          "type": "string"
        },
        "sectionName": {
          "description": "The section header used to group a set of product details.",
          "type": "string"
        },
        "attributeValue": {
          "type": "string",
          "description": "The value of the product detail."
        }
      },
      "id": "ProductDetail",
      "type": "object"
    },
    "ListAccountLabelsResponse": {
      "description": "Response message for the `ListAccountLabels` method.",
      "properties": {
        "accountLabels": {
          "description": "The labels from the specified account.",
          "items": {
            "$ref": "AccountLabel"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListAccountLabelsResponse",
      "type": "object"
    },
    "ProductDimension": {
      "description": "The dimension of the product.",
      "id": "ProductDimension",
      "type": "object",
      "properties": {
        "unit": {
          "description": "Required. The dimension units. Acceptable values are: * \"`in`\" * \"`cm`\"",
          "type": "string"
        },
        "value": {
          "type": "number",
          "description": "Required. The dimension value represented as a number. The value can have a maximum precision of four decimal places.",
          "format": "double"
        }
      }
    },
    "CssProductInput": {
      "properties": {
        "feedLabel": {
          "description": "Required. The [feed label](https://developers.google.com/shopping-content/guides/products/feed-labels) for the CSS Product. Feed Label is synonymous to \"target country\" and hence should always be a valid region code. For example: 'DE' for Germany, 'FR' for France.",
          "type": "string"
        },
        "freshnessTime": {
          "type": "string",
          "description": "DEPRECATED. Use expiration_date instead. Represents the existing version (freshness) of the CSS Product, which can be used to preserve the right order when multiple updates are done at the same time. This field must not be set to the future time. If set, the update is prevented if a newer version of the item already exists in our system (that is the last update time of the existing CSS products is later than the freshness time set in the update). If the update happens, the last update time is then set to this freshness time. If not set, the update will not be prevented and the last update time will default to when this request was received by the CSS API. If the operation is prevented, the aborted exception will be thrown.",
          "format": "google-datetime",
          "deprecated": true
        },
        "name": {
          "description": "Identifier. The name of the CSS Product input. Format: `accounts/{account}/cssProductInputs/{css_product_input}`, where the last section `css_product_input` consists of 3 parts: contentLanguage~feedLabel~offerId. Example: accounts/123/cssProductInputs/de~DE~rawProvidedId123",
          "type": "string"
        },
        "rawProvidedId": {
          "description": "Required. Your unique identifier for the CSS Product. This is the same for the CSS Product input and processed CSS Product. We only allow ids with alphanumerics, underscores and dashes. See the [products feed specification](https://support.google.com/merchants/answer/188494#id) for details.",
          "type": "string"
        },
        "attributes": {
          "description": "A list of CSS Product attributes.",
          "$ref": "Attributes"
        },
        "finalName": {
          "type": "string",
          "description": "Output only. The name of the processed CSS Product. Format: `accounts/{account}/cssProducts/{css_product}` \"",
          "readOnly": true
        },
        "customAttributes": {
          "description": "A list of custom (CSS-provided) attributes. It can also be used for submitting any attribute of the feed specification in its generic form (for example: `{ \"name\": \"size type\", \"value\": \"regular\" }`). This is useful for submitting attributes not explicitly exposed by the API, such as additional attributes used for Buy on Google.",
          "items": {
            "$ref": "CustomAttribute"
          },
          "type": "array"
        },
        "contentLanguage": {
          "description": "Required. The two-letter [ISO 639-1](http://en.wikipedia.org/wiki/ISO_639-1) language code for the CSS Product.",
          "type": "string"
        }
      },
      "id": "CssProductInput",
      "type": "object",
      "description": "This resource represents input data you submit for a CSS Product, not the processed CSS Product that you see in CSS Center, in Shopping Ads, or across Google surfaces."
    },
    "Price": {
      "properties": {
        "amountMicros": {
          "type": "string",
          "description": "The price represented as a number in micros (1 million micros is an equivalent to one's currency standard unit, for example, 1 USD = 1000000 micros).",
          "format": "int64"
        },
        "currencyCode": {
          "type": "string",
          "description": "The currency of the price using three-letter acronyms according to [ISO 4217](http://en.wikipedia.org/wiki/ISO_4217)."
        }
      },
      "id": "Price",
      "type": "object",
      "description": "The price represented as a number and currency."
    },
    "AccountLabel": {
      "description": "Label assigned by CSS domain or CSS group to one of its sub-accounts.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the label. Format: accounts/{account}/labels/{label}"
        },
        "labelType": {
          "description": "Output only. The type of this label.",
          "readOnly": true,
          "enumDescriptions": [
            "Unknown label type.",
            "Indicates that the label was created manually.",
            "Indicates that the label was created automatically by CSS Center."
          ],
          "type": "string",
          "enum": [
            "LABEL_TYPE_UNSPECIFIED",
            "MANUAL",
            "AUTOMATIC"
          ]
        },
        "accountId": {
          "description": "Output only. The ID of account this label belongs to.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of this label."
        },
        "description": {
          "description": "The description of this label.",
          "type": "string"
        },
        "labelId": {
          "type": "string",
          "description": "Output only. The ID of the label.",
          "readOnly": true,
          "format": "int64"
        }
      },
      "id": "AccountLabel",
      "type": "object"
    },
    "Account": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The CSS/MC account's short display name."
        },
        "labelIds": {
          "type": "array",
          "description": "Manually created label IDs assigned to the CSS/MC account by a CSS parent account.",
          "items": {
            "format": "int64",
            "type": "string"
          }
        },
        "automaticLabelIds": {
          "type": "array",
          "description": "Automatically created label IDs assigned to the MC account by CSS Center.",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "name": {
          "description": "The label resource name. Format: accounts/{account}",
          "type": "string"
        },
        "homepageUri": {
          "description": "Output only. Immutable. The CSS/MC account's homepage.",
          "readOnly": true,
          "type": "string"
        },
        "accountType": {
          "type": "string",
          "description": "Output only. The type of this account.",
          "readOnly": true,
          "enumDescriptions": [
            "Unknown account type.",
            "CSS group account.",
            "CSS domain account.",
            "MC Primary CSS MCA account.",
            "MC CSS MCA account.",
            "MC Marketplace MCA account.",
            "MC Other MCA account.",
            "MC Standalone account.",
            "MC MCA sub-account."
          ],
          "enum": [
            "ACCOUNT_TYPE_UNSPECIFIED",
            "CSS_GROUP",
            "CSS_DOMAIN",
            "MC_PRIMARY_CSS_MCA",
            "MC_CSS_MCA",
            "MC_MARKETPLACE_MCA",
            "MC_OTHER_MCA",
            "MC_STANDALONE",
            "MC_MCA_SUBACCOUNT"
          ]
        },
        "fullName": {
          "description": "Output only. Immutable. The CSS/MC account's full name.",
          "readOnly": true,
          "type": "string"
        },
        "parent": {
          "description": "The CSS/MC account's parent resource. CSS group for CSS domains; CSS domain for MC accounts. Returned only if the user has access to the parent account. Note: For MC sub-accounts, this is also the CSS domain that is the parent resource of the MCA account, since we are effectively flattening the hierarchy.\"",
          "type": "string"
        }
      },
      "id": "Account",
      "type": "object",
      "description": "Information about CSS/MC account."
    },
    "ProductWeight": {
      "id": "ProductWeight",
      "type": "object",
      "properties": {
        "unit": {
          "description": "Required. The weight unit. Acceptable values are: * \"`g`\" * \"`kg`\" * \"`oz`\" * \"`lb`\"",
          "type": "string"
        },
        "value": {
          "type": "number",
          "description": "Required. The weight represented as a number. The weight can have a maximum precision of four decimal places.",
          "format": "double"
        }
      },
      "description": "The weight of the product."
    },
    "HeadlineOfferSubscriptionCost": {
      "id": "HeadlineOfferSubscriptionCost",
      "type": "object",
      "properties": {
        "periodLength": {
          "type": "string",
          "description": "The number of subscription periods the buyer has to pay.",
          "format": "int64"
        },
        "period": {
          "type": "string",
          "enum": [
            "SUBSCRIPTION_PERIOD_UNSPECIFIED",
            "MONTH",
            "YEAR"
          ],
          "enumDescriptions": [
            "Indicates that the subscription period is unspecified.",
            "Indicates that the subscription period is month.",
            "Indicates that the subscription period is year."
          ],
          "description": "The type of subscription period. Supported values are: * \"`month`\" * \"`year`\""
        },
        "amount": {
          "description": "The amount the buyer has to pay per subscription period.",
          "$ref": "Price"
        }
      },
      "description": "The SubscriptionCost of the product."
    },
    "Empty": {
      "properties": {},
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "Certification": {
      "id": "Certification",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the certification. At this time, the most common value is \"EPREL\", which represents energy efficiency certifications in the EU European Registry for Energy Labeling (EPREL) database."
        },
        "authority": {
          "type": "string",
          "description": "The authority or certification body responsible for issuing the certification. At this time, the most common value is \"EC\" or “European_Commission” for energy labels in the EU."
        },
        "code": {
          "type": "string",
          "description": "The code of the certification. For example, for the EPREL certificate with the link https://eprel.ec.europa.eu/screen/product/dishwashers2019/123456 the code is 123456. The code is required for European Energy Labels."
        }
      },
      "description": "The certification for the product. Use the this attribute to describe certifications, such as energy efficiency ratings, associated with a product."
    },
    "DestinationStatus": {
      "description": "The destination status of the product status.",
      "id": "DestinationStatus",
      "type": "object",
      "properties": {
        "disapprovedCountries": {
          "description": "List of country codes (ISO 3166-1 alpha-2) where the CSS Product is disapproved.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "approvedCountries": {
          "type": "array",
          "description": "List of country codes (ISO 3166-1 alpha-2) where the CSS Product is approved.",
          "items": {
            "type": "string"
          }
        },
        "pendingCountries": {
          "description": "List of country codes (ISO 3166-1 alpha-2) where the CSS Product is pending approval.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "destination": {
          "description": "The name of the destination",
          "type": "string"
        }
      }
    },
    "MethodDetails": {
      "description": "The method details per method in the CSS API.",
      "properties": {
        "method": {
          "description": "Output only. The name of the method for example `cssproductsservice.listcssproducts`.",
          "readOnly": true,
          "type": "string"
        },
        "subapi": {
          "type": "string",
          "description": "Output only. The sub-API that the method belongs to. In the CSS API, this is always `css`.",
          "readOnly": true
        },
        "path": {
          "type": "string",
          "description": "Output only. The path for the method such as `v1/cssproductsservice.listcssproducts`.",
          "readOnly": true
        },
        "version": {
          "type": "string",
          "description": "Output only. The API version that the method belongs to.",
          "readOnly": true
        }
      },
      "id": "MethodDetails",
      "type": "object"
    },
    "HeadlineOfferInstallment": {
      "description": "A message that represents installment.",
      "properties": {
        "months": {
          "description": "The number of installments the buyer has to pay.",
          "format": "int64",
          "type": "string"
        },
        "amount": {
          "description": "The amount the buyer has to pay per month.",
          "$ref": "Price"
        },
        "downpayment": {
          "description": "The up-front down payment amount the buyer has to pay.",
          "$ref": "Price"
        }
      },
      "id": "HeadlineOfferInstallment",
      "type": "object"
    },
    "UpdateAccountLabelsRequest": {
      "properties": {
        "parent": {
          "description": "Optional. Only required when updating MC account labels. The CSS domain that is the parent resource of the MC account. Format: accounts/{account}",
          "type": "string"
        },
        "labelIds": {
          "type": "array",
          "description": "The list of label IDs to overwrite the existing account label IDs. If the list is empty, all currently assigned label IDs will be deleted.",
          "items": {
            "type": "string",
            "format": "int64"
          }
        }
      },
      "id": "UpdateAccountLabelsRequest",
      "type": "object",
      "description": "The request message for the `UpdateLabels` method."
    }
  },
  "protocol": "rest",
  "id": "css:v1",
  "description": "Programmatically manage your Comparison Shopping Service (CSS) account data at scale.",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  }
}