{
  "version_module": true,
  "title": "CSS API",
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/comparison-shopping-services/api/overview",
  "batchPath": "batch",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    }
  },
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "ListQuotaGroupsResponse": {
      "id": "ListQuotaGroupsResponse",
      "description": "Response message for the ListMethodGroups method.",
      "type": "object",
      "properties": {
        "quotaGroups": {
          "description": "The methods, current quota usage and limits per each group. The quota is shared between all methods in the group. The groups are sorted in descending order based on quota_usage.",
          "type": "array",
          "items": {
            "$ref": "QuotaGroup"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "DestinationStatus": {
      "description": "The destination status of the product status.",
      "type": "object",
      "properties": {
        "pendingCountries": {
          "description": "List of country codes (ISO 3166-1 alpha-2) where the CSS Product is pending approval.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "destination": {
          "description": "The name of the destination",
          "type": "string"
        },
        "approvedCountries": {
          "description": "List of country codes (ISO 3166-1 alpha-2) where the CSS Product is approved.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "disapprovedCountries": {
          "items": {
            "type": "string"
          },
          "description": "List of country codes (ISO 3166-1 alpha-2) where the CSS Product is disapproved.",
          "type": "array"
        }
      },
      "id": "DestinationStatus"
    },
    "CssProductStatus": {
      "description": "The status of the Css Product, data validation issues, that is, information about the Css Product computed asynchronously.",
      "type": "object",
      "properties": {
        "googleExpirationDate": {
          "description": "Date on which the item expires, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format.",
          "type": "string",
          "format": "google-datetime"
        },
        "lastUpdateDate": {
          "description": "Date on which the item has been last updated, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format.",
          "type": "string",
          "format": "google-datetime"
        },
        "destinationStatuses": {
          "description": "The intended destinations for the product.",
          "type": "array",
          "items": {
            "$ref": "DestinationStatus"
          }
        },
        "itemLevelIssues": {
          "description": "A list of all issues associated with the product.",
          "type": "array",
          "items": {
            "$ref": "ItemLevelIssue"
          }
        },
        "creationDate": {
          "description": "Date on which the item has been created, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "CssProductStatus"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {},
      "id": "Empty"
    },
    "HeadlineOfferInstallment": {
      "description": "A message that represents installment.",
      "type": "object",
      "properties": {
        "amount": {
          "description": "The amount the buyer has to pay per month.",
          "$ref": "Price"
        },
        "downpayment": {
          "description": "The up-front down payment amount the buyer has to pay.",
          "$ref": "Price"
        },
        "months": {
          "description": "The number of installments the buyer has to pay.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "HeadlineOfferInstallment"
    },
    "MethodDetails": {
      "id": "MethodDetails",
      "description": "The method details per method in the CSS API.",
      "type": "object",
      "properties": {
        "method": {
          "description": "Output only. The name of the method for example `cssproductsservice.listcssproducts`.",
          "type": "string",
          "readOnly": true
        },
        "version": {
          "description": "Output only. The API version that the method belongs to.",
          "type": "string",
          "readOnly": true
        },
        "subapi": {
          "readOnly": true,
          "description": "Output only. The sub-API that the method belongs to. In the CSS API, this is always `css`.",
          "type": "string"
        },
        "path": {
          "description": "Output only. The path for the method such as `v1/cssproductsservice.listcssproducts`.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ListCssProductsResponse": {
      "id": "ListCssProductsResponse",
      "description": "Response message for the ListCssProducts method.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "cssProducts": {
          "items": {
            "$ref": "CssProduct"
          },
          "description": "The processed CSS products from the specified account. These are your processed CSS products after applying rules and supplemental feeds.",
          "type": "array"
        }
      }
    },
    "ProductWeight": {
      "id": "ProductWeight",
      "description": "The weight of the product.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Required. The weight represented as a number. The weight can have a maximum precision of four decimal places.",
          "type": "number",
          "format": "double"
        },
        "unit": {
          "description": "Required. The weight unit. Acceptable values are: * \"`g`\" * \"`kg`\" * \"`oz`\" * \"`lb`\"",
          "type": "string"
        }
      }
    },
    "AccountLabel": {
      "id": "AccountLabel",
      "description": "Label assigned by CSS domain or CSS group to one of its sub-accounts.",
      "type": "object",
      "properties": {
        "labelId": {
          "readOnly": true,
          "description": "Output only. The ID of the label.",
          "type": "string",
          "format": "int64"
        },
        "description": {
          "description": "The description of this label.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the label. Format: accounts/{account}/labels/{label}",
          "type": "string"
        },
        "accountId": {
          "readOnly": true,
          "description": "Output only. The ID of account this label belongs to.",
          "type": "string",
          "format": "int64"
        },
        "displayName": {
          "description": "The display name of this label.",
          "type": "string"
        },
        "labelType": {
          "type": "string",
          "enumDescriptions": [
            "Unknown label type.",
            "Indicates that the label was created manually.",
            "Indicates that the label was created automatically by CSS Center."
          ],
          "description": "Output only. The type of this label.",
          "enum": [
            "LABEL_TYPE_UNSPECIFIED",
            "MANUAL",
            "AUTOMATIC"
          ],
          "readOnly": true
        }
      }
    },
    "Account": {
      "description": "Information about CSS/MC account.",
      "type": "object",
      "properties": {
        "parent": {
          "description": "The CSS/MC account's parent resource. CSS group for CSS domains; CSS domain for MC accounts. Returned only if the user has access to the parent account. Note: For MC sub-accounts, this is also the CSS domain that is the parent resource of the MCA account, since we are effectively flattening the hierarchy.\"",
          "type": "string"
        },
        "displayName": {
          "description": "The CSS/MC account's short display name.",
          "type": "string"
        },
        "name": {
          "description": "The label resource name. Format: accounts/{account}",
          "type": "string"
        },
        "labelIds": {
          "description": "Manually created label IDs assigned to the CSS/MC account by a CSS parent account.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "automaticLabelIds": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "Automatically created label IDs assigned to the MC account by CSS Center.",
          "type": "array"
        },
        "accountType": {
          "type": "string",
          "enumDescriptions": [
            "Unknown account type.",
            "CSS group account.",
            "CSS domain account.",
            "MC Primary CSS MCA account.",
            "MC CSS MCA account.",
            "MC Marketplace MCA account.",
            "MC Other MCA account.",
            "MC Standalone account.",
            "MC MCA sub-account."
          ],
          "description": "Output only. The type of this account.",
          "enum": [
            "ACCOUNT_TYPE_UNSPECIFIED",
            "CSS_GROUP",
            "CSS_DOMAIN",
            "MC_PRIMARY_CSS_MCA",
            "MC_CSS_MCA",
            "MC_MARKETPLACE_MCA",
            "MC_OTHER_MCA",
            "MC_STANDALONE",
            "MC_MCA_SUBACCOUNT"
          ],
          "readOnly": true
        },
        "homepageUri": {
          "description": "Output only. Immutable. The CSS/MC account's homepage.",
          "type": "string",
          "readOnly": true
        },
        "fullName": {
          "readOnly": true,
          "description": "Output only. Immutable. The CSS/MC account's full name.",
          "type": "string"
        }
      },
      "id": "Account"
    },
    "ProductDetail": {
      "description": "The product details.",
      "type": "object",
      "properties": {
        "attributeName": {
          "description": "The name of the product detail.",
          "type": "string"
        },
        "attributeValue": {
          "description": "The value of the product detail.",
          "type": "string"
        },
        "sectionName": {
          "description": "The section header used to group a set of product details.",
          "type": "string"
        }
      },
      "id": "ProductDetail"
    },
    "HeadlineOfferSubscriptionCost": {
      "id": "HeadlineOfferSubscriptionCost",
      "description": "The SubscriptionCost of the product.",
      "type": "object",
      "properties": {
        "amount": {
          "description": "The amount the buyer has to pay per subscription period.",
          "$ref": "Price"
        },
        "periodLength": {
          "description": "The number of subscription periods the buyer has to pay.",
          "type": "string",
          "format": "int64"
        },
        "period": {
          "description": "The type of subscription period. Supported values are: * \"`month`\" * \"`year`\"",
          "type": "string",
          "enum": [
            "SUBSCRIPTION_PERIOD_UNSPECIFIED",
            "MONTH",
            "YEAR"
          ],
          "enumDescriptions": [
            "Indicates that the subscription period is unspecified.",
            "Indicates that the subscription period is month.",
            "Indicates that the subscription period is year."
          ]
        }
      }
    },
    "Price": {
      "id": "Price",
      "description": "The price represented as a number and currency.",
      "type": "object",
      "properties": {
        "amountMicros": {
          "description": "The price represented as a number in micros (1 million micros is an equivalent to one's currency standard unit, for example, 1 USD = 1000000 micros).",
          "type": "string",
          "format": "int64"
        },
        "currencyCode": {
          "description": "The currency of the price using three-letter acronyms according to [ISO 4217](http://en.wikipedia.org/wiki/ISO_4217).",
          "type": "string"
        }
      }
    },
    "QuotaGroup": {
      "id": "QuotaGroup",
      "description": "The group information for methods in the CSS API. The quota is shared between all methods in the group. Even if none of the methods within the group have usage the information for the group is returned.",
      "type": "object",
      "properties": {
        "quotaLimit": {
          "description": "Output only. The maximum number of calls allowed per day for the group.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "methodDetails": {
          "items": {
            "$ref": "MethodDetails"
          },
          "readOnly": true,
          "description": "Output only. List of all methods group quota applies to.",
          "type": "array"
        },
        "name": {
          "description": "Identifier. The resource name of the quota group. Format: accounts/{account}/quotas/{group} Example: `accounts/12345678/quotas/css-products-insert` Note: The {group} part is not guaranteed to follow a specific pattern.",
          "type": "string"
        },
        "quotaUsage": {
          "description": "Output only. The current quota usage, meaning the number of calls already made on a given day to the methods in the group. The daily quota limits reset at 12:00 PM midday UTC.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "quotaMinuteLimit": {
          "readOnly": true,
          "description": "Output only. The maximum number of calls allowed per minute for the group.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "CssProductInput": {
      "description": "This resource represents input data you submit for a CSS Product, not the processed CSS Product that you see in CSS Center, in Shopping Ads, or across Google surfaces.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The name of the CSS Product input. Format: `accounts/{account}/cssProductInputs/{css_product_input}`, where the last section `css_product_input` consists of 3 parts: contentLanguage~feedLabel~offerId. Example: accounts/123/cssProductInputs/de~DE~rawProvidedId123",
          "type": "string"
        },
        "finalName": {
          "readOnly": true,
          "description": "Output only. The name of the processed CSS Product. Format: `accounts/{account}/cssProducts/{css_product}` \"",
          "type": "string"
        },
        "attributes": {
          "description": "A list of CSS Product attributes.",
          "$ref": "Attributes"
        },
        "customAttributes": {
          "items": {
            "$ref": "CustomAttribute"
          },
          "description": "A list of custom (CSS-provided) attributes. It can also be used for submitting any attribute of the feed specification in its generic form (for example: `{ \"name\": \"size type\", \"value\": \"regular\" }`). This is useful for submitting attributes not explicitly exposed by the API, such as additional attributes used for Buy on Google.",
          "type": "array"
        },
        "feedLabel": {
          "description": "Required. The [feed label](https://developers.google.com/shopping-content/guides/products/feed-labels) for the CSS Product. Feed Label is synonymous to \"target country\" and hence should always be a valid region code. For example: 'DE' for Germany, 'FR' for France.",
          "type": "string"
        },
        "contentLanguage": {
          "description": "Required. The two-letter [ISO 639-1](http://en.wikipedia.org/wiki/ISO_639-1) language code for the CSS Product.",
          "type": "string"
        },
        "freshnessTime": {
          "description": "DEPRECATED. Use expiration_date instead. Represents the existing version (freshness) of the CSS Product, which can be used to preserve the right order when multiple updates are done at the same time. This field must not be set to the future time. If set, the update is prevented if a newer version of the item already exists in our system (that is the last update time of the existing CSS products is later than the freshness time set in the update). If the update happens, the last update time is then set to this freshness time. If not set, the update will not be prevented and the last update time will default to when this request was received by the CSS API. If the operation is prevented, the aborted exception will be thrown.",
          "type": "string",
          "format": "google-datetime",
          "deprecated": true
        },
        "rawProvidedId": {
          "description": "Required. Your unique identifier for the CSS Product. This is the same for the CSS Product input and processed CSS Product. We only allow ids with alphanumerics, underscores and dashes. See the [products feed specification](https://support.google.com/merchants/answer/188494#id) for details.",
          "type": "string"
        }
      },
      "id": "CssProductInput"
    },
    "CssProduct": {
      "description": "The processed CSS Product.",
      "type": "object",
      "properties": {
        "feedLabel": {
          "description": "Output only. The feed label for the product.",
          "type": "string",
          "readOnly": true
        },
        "contentLanguage": {
          "description": "Output only. The two-letter [ISO 639-1](http://en.wikipedia.org/wiki/ISO_639-1) language code for the product.",
          "type": "string",
          "readOnly": true
        },
        "rawProvidedId": {
          "readOnly": true,
          "description": "Output only. Your unique raw identifier for the product.",
          "type": "string"
        },
        "name": {
          "description": "The name of the CSS Product. Format: `\"accounts/{account}/cssProducts/{css_product}\"`",
          "type": "string"
        },
        "attributes": {
          "description": "Output only. A list of product attributes.",
          "$ref": "Attributes",
          "readOnly": true
        },
        "customAttributes": {
          "description": "Output only. A list of custom (CSS-provided) attributes. It can also be used to submit any attribute of the feed specification in its generic form (for example, `{ \"name\": \"size type\", \"value\": \"regular\" }`). This is useful for submitting attributes not explicitly exposed by the API, such as additional attributes used for Buy on Google.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "CustomAttribute"
          }
        },
        "cssProductStatus": {
          "readOnly": true,
          "$ref": "CssProductStatus",
          "description": "Output only. The status of a product, data validation issues, that is, information about a product computed asynchronously."
        }
      },
      "id": "CssProduct"
    },
    "UpdateAccountLabelsRequest": {
      "description": "The request message for the `UpdateLabels` method.",
      "type": "object",
      "properties": {
        "parent": {
          "description": "Optional. Only required when updating MC account labels. The CSS domain that is the parent resource of the MC account. Format: accounts/{account}",
          "type": "string"
        },
        "labelIds": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "The list of label IDs to overwrite the existing account label IDs. If the list is empty, all currently assigned label IDs will be deleted.",
          "type": "array"
        }
      },
      "id": "UpdateAccountLabelsRequest"
    },
    "Certification": {
      "id": "Certification",
      "description": "The certification for the product. Use the this attribute to describe certifications, such as energy efficiency ratings, associated with a product.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the certification. At this time, the most common value is \"EPREL\", which represents energy efficiency certifications in the EU European Registry for Energy Labeling (EPREL) database.",
          "type": "string"
        },
        "code": {
          "description": "The code of the certification. For example, for the EPREL certificate with the link https://eprel.ec.europa.eu/screen/product/dishwashers2019/123456 the code is 123456. The code is required for European Energy Labels.",
          "type": "string"
        },
        "authority": {
          "description": "The authority or certification body responsible for issuing the certification. At this time, the most common value is \"EC\" or “European_Commission” for energy labels in the EU.",
          "type": "string"
        }
      }
    },
    "ListChildAccountsResponse": {
      "description": "Response message for the `ListChildAccounts` method.",
      "type": "object",
      "properties": {
        "accounts": {
          "description": "The CSS/MC accounts returned for the specified CSS parent account.",
          "type": "array",
          "items": {
            "$ref": "Account"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListChildAccountsResponse"
    },
    "ProductDimension": {
      "id": "ProductDimension",
      "description": "The dimension of the product.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Required. The dimension value represented as a number. The value can have a maximum precision of four decimal places.",
          "type": "number",
          "format": "double"
        },
        "unit": {
          "description": "Required. The dimension units. Acceptable values are: * \"`in`\" * \"`cm`\"",
          "type": "string"
        }
      }
    },
    "CustomAttribute": {
      "description": "A message that represents custom attributes. Exactly one of `value` or `group_values` must not be empty.",
      "type": "object",
      "properties": {
        "groupValues": {
          "description": "Subattributes within this attribute group. If `group_values` is not empty, `value` must be empty.",
          "type": "array",
          "items": {
            "$ref": "CustomAttribute"
          }
        },
        "name": {
          "description": "The name of the attribute.",
          "type": "string"
        },
        "value": {
          "description": "The value of the attribute. If `value` is not empty, `group_values` must be empty.",
          "type": "string"
        }
      },
      "id": "CustomAttribute"
    },
    "ListAccountLabelsResponse": {
      "description": "Response message for the `ListAccountLabels` method.",
      "type": "object",
      "properties": {
        "accountLabels": {
          "items": {
            "$ref": "AccountLabel"
          },
          "description": "The labels from the specified account.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListAccountLabelsResponse"
    },
    "Attributes": {
      "description": "Attributes for CSS Product.",
      "type": "object",
      "properties": {
        "imageLink": {
          "description": "URL of an image of the item.",
          "type": "string"
        },
        "gtin": {
          "description": "Global Trade Item Number ([GTIN](https://support.google.com/merchants/answer/188494#gtin)) of the item.",
          "type": "string"
        },
        "cppAdsRedirect": {
          "description": "Allows advertisers to override the item URL when the product is shown within the context of Product Ads.",
          "type": "string"
        },
        "productHighlights": {
          "items": {
            "type": "string"
          },
          "description": "Bullet points describing the most relevant highlights of a product.",
          "type": "array"
        },
        "headlineOfferInstallment": {
          "description": "Number and amount of installments to pay for an item.",
          "$ref": "HeadlineOfferInstallment"
        },
        "lowPrice": {
          "description": "Low Price of the CSS Product.",
          "$ref": "Price"
        },
        "size": {
          "description": "Size of the item. Only one value is allowed. For variants with different sizes, insert a separate product for each size with the same `itemGroupId` value (see [https://support.google.com/merchants/answer/6324492](size definition)).",
          "type": "string"
        },
        "productTypes": {
          "items": {
            "type": "string"
          },
          "description": "Categories of the item (formatted as in [products data specification](https://support.google.com/merchants/answer/6324406)).",
          "type": "array"
        },
        "expirationDate": {
          "description": "Date on which the item should expire, as specified upon insertion, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format. The actual expiration date is exposed in `productstatuses` as [googleExpirationDate](https://support.google.com/merchants/answer/6324499) and might be earlier if `expirationDate` is too far in the future. Note: It may take 2+ days from the expiration date for the item to actually get deleted.",
          "type": "string",
          "format": "google-datetime"
        },
        "productDetails": {
          "items": {
            "$ref": "ProductDetail"
          },
          "description": "Technical specification or additional product details.",
          "type": "array"
        },
        "headlineOfferSubscriptionCost": {
          "description": "Number of periods (months or years) and amount of payment per period for an item with an associated subscription contract.",
          "$ref": "HeadlineOfferSubscriptionCost"
        },
        "rating": {
          "description": "Average rating score of the product. The value must be within the range of [`min_rating`, `max_rating`], inclusive. When displayed on the product page, this rating is normalized to a scale of [1, 5] with one decimal place. If provided, `review_count`, `min_rating`, and `max_rating` are also required. This field is for an upcoming feature and is not yet used.",
          "type": "number",
          "format": "double"
        },
        "material": {
          "description": "The material of which the item is made.",
          "type": "string"
        },
        "adult": {
          "description": "Set to true if the item is targeted towards adults.",
          "type": "boolean"
        },
        "multipack": {
          "description": "The number of identical products in a merchant-defined multipack.",
          "type": "string",
          "format": "int64"
        },
        "maxRating": {
          "description": "Maximum rating score of the product. Required if `rating` is provided. This field is for an upcoming feature and is not yet used.",
          "type": "string",
          "format": "int64"
        },
        "productLength": {
          "description": "The length of the product in the units provided. The value must be between 0 (exclusive) and 3000 (inclusive).",
          "$ref": "ProductDimension"
        },
        "customLabel3": {
          "description": "Custom label 3 for custom grouping of items in a Shopping campaign.",
          "type": "string"
        },
        "headlineOfferMobileLink": {
          "description": "Mobile Link to the headline offer.",
          "type": "string"
        },
        "gender": {
          "description": "Target gender of the item.",
          "type": "string"
        },
        "customLabel1": {
          "description": "Custom label 1 for custom grouping of items in a Shopping campaign.",
          "type": "string"
        },
        "color": {
          "description": "Color of the item.",
          "type": "string"
        },
        "numberOfOffers": {
          "description": "The number of CSS Products.",
          "type": "string",
          "format": "int64"
        },
        "headlineOfferShippingPrice": {
          "description": "Headline Price of the CSS Product.",
          "$ref": "Price"
        },
        "pause": {
          "description": "Publication of this item will be temporarily paused.",
          "type": "string"
        },
        "mpn": {
          "description": "Manufacturer Part Number ([MPN](https://support.google.com/merchants/answer/188494#mpn)) of the item.",
          "type": "string"
        },
        "googleProductCategory": {
          "description": "Google's category of the item (see [Google product taxonomy](https://support.google.com/merchants/answer/1705911)). When querying products, this field will contain the user provided value. There is currently no way to get back the auto assigned google product categories through the API.",
          "type": "string"
        },
        "includedDestinations": {
          "description": "The list of destinations to include for this target (corresponds to checked check boxes in Merchant Center). Default destinations are always included unless provided in `excludedDestinations`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "headlineOfferLink": {
          "description": "Link to the headline offer.",
          "type": "string"
        },
        "title": {
          "description": "Title of the item.",
          "type": "string"
        },
        "additionalImageLinks": {
          "description": "Additional URL of images of the item.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "itemGroupId": {
          "description": "Shared identifier for all variants of the same product.",
          "type": "string"
        },
        "productWidth": {
          "description": "The width of the product in the units provided. The value must be between 0 (exclusive) and 3000 (inclusive).",
          "$ref": "ProductDimension"
        },
        "customLabel0": {
          "description": "Custom label 0 for custom grouping of items in a Shopping campaign.",
          "type": "string"
        },
        "excludedDestinations": {
          "description": "The list of destinations to exclude for this target (corresponds to unchecked check boxes in Merchant Center).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "minRating": {
          "description": "Minimum rating score of the product. Required if `rating` is provided. This field is for an upcoming feature and is not yet used.",
          "type": "string",
          "format": "int64"
        },
        "isBundle": {
          "description": "Whether the item is a merchant-defined bundle. A bundle is a custom grouping of different products sold by a merchant for a single price.",
          "type": "boolean"
        },
        "pattern": {
          "description": "The item's pattern (e.g. polka dots).",
          "type": "string"
        },
        "cppLink": {
          "description": "URL directly linking to your the Product Detail Page of the CSS.",
          "type": "string"
        },
        "headlineOfferPrice": {
          "description": "Headline Price of the CSS Product.",
          "$ref": "Price"
        },
        "reviewCount": {
          "description": "Number of reviews of the product. Required if `rating` is provided. This field is for an upcoming feature and is not yet used.",
          "type": "string",
          "format": "int64"
        },
        "productHeight": {
          "description": "The height of the product in the units provided. The value must be between 0 (exclusive) and 3000 (inclusive).",
          "$ref": "ProductDimension"
        },
        "cppMobileLink": {
          "description": "URL for the mobile-optimized version of the Product Detail Page of the CSS.",
          "type": "string"
        },
        "brand": {
          "description": "Product Related Attributes.[14-36] Brand of the item.",
          "type": "string"
        },
        "sizeSystem": {
          "description": "System in which the size is specified. Recommended for apparel items.",
          "type": "string"
        },
        "customLabel4": {
          "description": "Custom label 4 for custom grouping of items in a Shopping campaign.",
          "type": "string"
        },
        "productWeight": {
          "description": "The weight of the product in the units provided. The value must be between 0 (exclusive) and 2000 (inclusive).",
          "$ref": "ProductWeight"
        },
        "description": {
          "description": "Description of the item.",
          "type": "string"
        },
        "certifications": {
          "items": {
            "$ref": "Certification"
          },
          "description": "A list of certificates claimed by the CSS for the given product.",
          "type": "array"
        },
        "customLabel2": {
          "description": "Custom label 2 for custom grouping of items in a Shopping campaign.",
          "type": "string"
        },
        "highPrice": {
          "description": "High Price of the CSS Product.",
          "$ref": "Price"
        },
        "ageGroup": {
          "description": "Target age group of the item.",
          "type": "string"
        },
        "sizeTypes": {
          "items": {
            "type": "string"
          },
          "description": "The cut of the item. It can be used to represent combined size types for apparel items. Maximum two of size types can be provided (see [size type](https://support.google.com/merchants/answer/6324497).",
          "type": "array"
        },
        "headlineOfferCondition": {
          "description": "Condition of the headline offer.",
          "type": "string"
        }
      },
      "id": "Attributes"
    },
    "ItemLevelIssue": {
      "description": "The ItemLevelIssue of the product status.",
      "type": "object",
      "properties": {
        "destination": {
          "description": "The destination the issue applies to.",
          "type": "string"
        },
        "documentation": {
          "description": "The URL of a web page to help with resolving this issue.",
          "type": "string"
        },
        "detail": {
          "description": "A detailed issue description in English.",
          "type": "string"
        },
        "resolution": {
          "description": "Whether the issue can be resolved by the merchant.",
          "type": "string"
        },
        "applicableCountries": {
          "description": "List of country codes (ISO 3166-1 alpha-2) where issue applies to the CSS Product.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "servability": {
          "description": "How this issue affects serving of the CSS Product.",
          "type": "string"
        },
        "code": {
          "description": "The error code of the issue.",
          "type": "string"
        },
        "description": {
          "description": "A short issue description in English.",
          "type": "string"
        },
        "attribute": {
          "description": "The attribute's name, if the issue is caused by a single attribute.",
          "type": "string"
        }
      },
      "id": "ItemLevelIssue"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/content": {
          "description": "Manage your product listings and accounts for Google Shopping"
        }
      }
    }
  },
  "protocol": "rest",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "rootUrl": "https://css.googleapis.com/",
  "name": "css",
  "mtlsRootUrl": "https://css.mtls.googleapis.com/",
  "canonicalName": "Css",
  "basePath": "",
  "resources": {
    "accounts": {
      "methods": {
        "updateLabels": {
          "path": "v1/{+name}:updateLabels",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/accounts/{accountsId}:updateLabels",
          "description": "Updates labels assigned to CSS/MC accounts by a CSS domain.",
          "request": {
            "$ref": "UpdateAccountLabelsRequest"
          },
          "response": {
            "$ref": "Account"
          },
          "httpMethod": "POST",
          "id": "css.accounts.updateLabels",
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "pattern": "^accounts/[^/]+$",
              "location": "path",
              "description": "Required. The label resource name. Format: accounts/{account}"
            }
          }
        },
        "listChildAccounts": {
          "parameterOrder": [
            "parent"
          ],
          "flatPath": "v1/accounts/{accountsId}:listChildAccounts",
          "description": "Lists all the accounts under the specified CSS account ID, and optionally filters by label ID and account name.",
          "path": "v1/{+parent}:listChildAccounts",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "labelId": {
              "description": "If set, only the MC accounts with the given label ID will be returned.",
              "type": "string",
              "format": "int64",
              "location": "query"
            },
            "fullName": {
              "location": "query",
              "description": "If set, only the MC accounts with the given name (case sensitive) will be returned.",
              "type": "string"
            },
            "pageSize": {
              "location": "query",
              "description": "Optional. The maximum number of accounts to return. The service may return fewer than this value. If unspecified, at most 50 accounts will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
              "type": "integer",
              "format": "int32"
            },
            "pageToken": {
              "description": "Optional. A page token, received from a previous `ListChildAccounts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListChildAccounts` must match the call that provided the page token.",
              "type": "string",
              "location": "query"
            },
            "parent": {
              "required": true,
              "type": "string",
              "description": "Required. The parent account. Must be a CSS group or domain. Format: accounts/{account}",
              "pattern": "^accounts/[^/]+$",
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "id": "css.accounts.listChildAccounts",
          "response": {
            "$ref": "ListChildAccountsResponse"
          }
        },
        "get": {
          "httpMethod": "GET",
          "id": "css.accounts.get",
          "response": {
            "$ref": "Account"
          },
          "parameters": {
            "parent": {
              "description": "Optional. Only required when retrieving MC account information. The CSS domain that is the parent resource of the MC account. Format: accounts/{account}",
              "type": "string",
              "location": "query"
            },
            "name": {
              "pattern": "^accounts/[^/]+$",
              "location": "path",
              "description": "Required. The name of the managed CSS/MC account. Format: accounts/{account}",
              "required": true,
              "type": "string"
            }
          },
          "path": "v1/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/accounts/{accountsId}",
          "description": "Retrieves a single CSS/MC account by ID."
        }
      },
      "resources": {
        "labels": {
          "methods": {
            "delete": {
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/labels/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the label to delete. Format: accounts/{account}/labels/{label}",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "id": "css.accounts.labels.delete",
              "httpMethod": "DELETE",
              "flatPath": "v1/accounts/{accountsId}/labels/{labelsId}",
              "description": "Deletes a label and removes it from all accounts to which it was assigned.",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "v1/{+name}"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "v1/{+parent}/labels",
              "flatPath": "v1/accounts/{accountsId}/labels",
              "description": "Lists the labels owned by an account.",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListAccountLabelsResponse"
              },
              "id": "css.accounts.labels.list",
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "description": "The maximum number of labels to return. The service may return fewer than this value. If unspecified, at most 50 labels will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "A page token, received from a previous `ListAccountLabels` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccountLabels` must match the call that provided the page token.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "description": "Required. The parent account. Format: accounts/{account}"
                }
              }
            },
            "create": {
              "response": {
                "$ref": "AccountLabel"
              },
              "httpMethod": "POST",
              "id": "css.accounts.labels.create",
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The parent account. Format: accounts/{account}",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path"
                }
              },
              "path": "v1/{+parent}/labels",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/accounts/{accountsId}/labels",
              "description": "Creates a new label, not assigned to any account.",
              "request": {
                "$ref": "AccountLabel"
              }
            },
            "patch": {
              "id": "css.accounts.labels.patch",
              "httpMethod": "PATCH",
              "response": {
                "$ref": "AccountLabel"
              },
              "parameters": {
                "name": {
                  "description": "Identifier. The resource name of the label. Format: accounts/{account}/labels/{label}",
                  "pattern": "^accounts/[^/]+/labels/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "v1/{+name}",
              "request": {
                "$ref": "AccountLabel"
              },
              "flatPath": "v1/accounts/{accountsId}/labels/{labelsId}",
              "description": "Updates a label.",
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "cssProducts": {
          "methods": {
            "get": {
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+/cssProducts/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the CSS product to retrieve. Format: `accounts/{account}/cssProducts/{css_product}`"
                }
              },
              "httpMethod": "GET",
              "id": "css.accounts.cssProducts.get",
              "response": {
                "$ref": "CssProduct"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/accounts/{accountsId}/cssProducts/{cssProductsId}",
              "description": "Retrieves the processed CSS Product from your CSS Center account. After inserting, updating, or deleting a product input, it may take several minutes before the updated final product can be retrieved.",
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "v1/{+parent}/cssProducts",
              "flatPath": "v1/accounts/{accountsId}/cssProducts",
              "description": "Lists the processed CSS Products in your CSS Center account. The response might contain fewer items than specified by pageSize. Rely on pageToken to determine if there are more items to be requested. After inserting, updating, or deleting a CSS product input, it may take several minutes before the updated processed CSS product can be retrieved.",
              "parameterOrder": [
                "parent"
              ],
              "id": "css.accounts.cssProducts.list",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListCssProductsResponse"
              },
              "parameters": {
                "pageToken": {
                  "description": "A page token, received from a previous `ListCssProducts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListCssProducts` must match the call that provided the page token.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. The account/domain to list processed CSS Products for. Format: accounts/{account}",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "pageSize": {
                  "description": "The maximum number of CSS Products to return. The service may return fewer than this value. The maximum value is 1000; values above 1000 will be coerced to 1000. If unspecified, the maximum number of CSS products will be returned.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                }
              }
            }
          }
        },
        "quotas": {
          "methods": {
            "list": {
              "parameters": {
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "description": "Required. The CSS account that owns the collection of method quotas and resources. In most cases, this is the CSS domain. Format: accounts/{account}",
                  "required": true,
                  "type": "string"
                },
                "pageToken": {
                  "description": "Optional. Token (if provided) to retrieve the subsequent page. All other parameters must match the original call that provided the page token.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "description": "Optional. The maximum number of quotas to return in the response, used for paging. Defaults to 500; values above 1000 will be coerced to 1000.",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "httpMethod": "GET",
              "id": "css.accounts.quotas.list",
              "response": {
                "$ref": "ListQuotaGroupsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/accounts/{accountsId}/quotas",
              "description": "Lists the daily call quota and usage per group for your CSS Center account.",
              "path": "v1/{+parent}/quotas",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            }
          }
        },
        "cssProductInputs": {
          "methods": {
            "patch": {
              "flatPath": "v1/accounts/{accountsId}/cssProductInputs/{cssProductInputsId}",
              "description": "Updates the existing Css Product input in your CSS Center account. After inserting, updating, or deleting a CSS Product input, it may take several minutes before the processed Css Product can be retrieved.",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "CssProductInput"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "v1/{+name}",
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "description": "The list of CSS product attributes to be updated. If the update mask is omitted, then it is treated as implied field mask equivalent to all fields that are populated (have a non-empty value). Attributes specified in the update mask without a value specified in the body will be deleted from the CSS product. Update mask can only be specified for top level fields in attributes and custom attributes. To specify the update mask for custom attributes you need to add the `custom_attribute.` prefix. Providing special \"*\" value for full CSS product replacement is not supported.",
                  "type": "string",
                  "format": "google-fieldmask"
                },
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Identifier. The name of the CSS Product input. Format: `accounts/{account}/cssProductInputs/{css_product_input}`, where the last section `css_product_input` consists of 3 parts: contentLanguage~feedLabel~offerId. Example: accounts/123/cssProductInputs/de~DE~rawProvidedId123",
                  "pattern": "^accounts/[^/]+/cssProductInputs/[^/]+$",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "CssProductInput"
              },
              "id": "css.accounts.cssProductInputs.patch",
              "httpMethod": "PATCH"
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/accounts/{accountsId}/cssProductInputs/{cssProductInputsId}",
              "description": "Deletes a CSS Product input from your CSS Center account. After a delete it may take several minutes until the input is no longer available.",
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+/cssProductInputs/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the CSS product input resource to delete. Format: accounts/{account}/cssProductInputs/{css_product_input}, where the last section `css_product_input` consists of 3 parts: contentLanguage~feedLabel~offerId. Example: accounts/123/cssProductInputs/de~DE~rawProvidedId123"
                },
                "supplementalFeedId": {
                  "description": "The Content API Supplemental Feed ID. The field must not be set if the action applies to a primary feed. If the field is set, then product action applies to a supplemental feed instead of primary Content API feed.",
                  "type": "string",
                  "format": "int64",
                  "location": "query"
                }
              },
              "httpMethod": "DELETE",
              "id": "css.accounts.cssProductInputs.delete",
              "response": {
                "$ref": "Empty"
              }
            },
            "insert": {
              "path": "v1/{+parent}/cssProductInputs:insert",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "request": {
                "$ref": "CssProductInput"
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/accounts/{accountsId}/cssProductInputs:insert",
              "description": "Uploads a CssProductInput to your CSS Center account. If an input with the same contentLanguage, identity, feedLabel and feedId already exists, this method replaces that entry. After inserting, updating, or deleting a CSS Product input, it may take several minutes before the processed CSS Product can be retrieved.",
              "httpMethod": "POST",
              "id": "css.accounts.cssProductInputs.insert",
              "response": {
                "$ref": "CssProductInput"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "description": "Required. The account where this CSS Product will be inserted. Format: accounts/{account}"
                },
                "feedId": {
                  "type": "string",
                  "format": "int64",
                  "location": "query",
                  "deprecated": true,
                  "description": "Optional. DEPRECATED. Feed id is not required for CSS Products. The primary or supplemental feed id. If CSS Product already exists and feed id provided is different, then the CSS Product will be moved to a new feed. Note: For now, CSSs do not need to provide feed ids as we create feeds on the fly. We do not have supplemental feed support for CSS Products yet."
                }
              }
            }
          }
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "id": "css:v1",
  "revision": "20260715",
  "ownerName": "Google",
  "description": "Programmatically manage your Comparison Shopping Service (CSS) account data at scale.",
  "baseUrl": "https://css.googleapis.com/",
  "servicePath": "",
  "version": "v1"
}