{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/content": {
          "description": "Manage your product listings and accounts for Google Shopping"
        }
      }
    }
  },
  "parameters": {
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "type": "string",
      "default": "json",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    }
  },
  "version_module": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "title": "CSS API",
  "ownerDomain": "google.com",
  "baseUrl": "https://css.googleapis.com/",
  "description": "Programmatically manage your Comparison Shopping Service (CSS) account data at scale.",
  "protocol": "rest",
  "canonicalName": "Css",
  "basePath": "",
  "mtlsRootUrl": "https://css.mtls.googleapis.com/",
  "version": "v1",
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "CssProductStatus": {
      "description": "The status of the Css Product, data validation issues, that is, information about the Css Product computed asynchronously.",
      "id": "CssProductStatus",
      "properties": {
        "lastUpdateDate": {
          "description": "Date on which the item has been last updated, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format.",
          "type": "string",
          "format": "google-datetime"
        },
        "destinationStatuses": {
          "items": {
            "$ref": "DestinationStatus"
          },
          "description": "The intended destinations for the product.",
          "type": "array"
        },
        "creationDate": {
          "description": "Date on which the item has been created, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format.",
          "format": "google-datetime",
          "type": "string"
        },
        "itemLevelIssues": {
          "type": "array",
          "items": {
            "$ref": "ItemLevelIssue"
          },
          "description": "A list of all issues associated with the product."
        },
        "googleExpirationDate": {
          "type": "string",
          "description": "Date on which the item expires, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format.",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "Price": {
      "type": "object",
      "description": "The price represented as a number and currency.",
      "id": "Price",
      "properties": {
        "amountMicros": {
          "format": "int64",
          "description": "The price represented as a number in micros (1 million micros is an equivalent to one's currency standard unit, for example, 1 USD = 1000000 micros).",
          "type": "string"
        },
        "currencyCode": {
          "description": "The currency of the price using three-letter acronyms according to [ISO 4217](http://en.wikipedia.org/wiki/ISO_4217).",
          "type": "string"
        }
      }
    },
    "ProductDimension": {
      "description": "The dimension of the product.",
      "properties": {
        "value": {
          "type": "number",
          "format": "double",
          "description": "Required. The dimension value represented as a number. The value can have a maximum precision of four decimal places."
        },
        "unit": {
          "description": "Required. The dimension units. Acceptable values are: * \"`in`\" * \"`cm`\"",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ProductDimension"
    },
    "HeadlineOfferInstallment": {
      "id": "HeadlineOfferInstallment",
      "properties": {
        "months": {
          "format": "int64",
          "type": "string",
          "description": "The number of installments the buyer has to pay."
        },
        "amount": {
          "description": "The amount the buyer has to pay per month.",
          "$ref": "Price"
        },
        "downpayment": {
          "$ref": "Price",
          "description": "The up-front down payment amount the buyer has to pay."
        }
      },
      "type": "object",
      "description": "A message that represents installment."
    },
    "QuotaGroup": {
      "description": "The group information for methods in the CSS API. The quota is shared between all methods in the group. Even if none of the methods within the group have usage the information for the group is returned.",
      "properties": {
        "methodDetails": {
          "readOnly": true,
          "description": "Output only. List of all methods group quota applies to.",
          "type": "array",
          "items": {
            "$ref": "MethodDetails"
          }
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the quota group. Format: accounts/{account}/quotas/{group} Example: `accounts/12345678/quotas/css-products-insert` Note: The {group} part is not guaranteed to follow a specific pattern."
        },
        "quotaMinuteLimit": {
          "type": "string",
          "readOnly": true,
          "format": "int64",
          "description": "Output only. The maximum number of calls allowed per minute for the group."
        },
        "quotaUsage": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. The current quota usage, meaning the number of calls already made on a given day to the methods in the group. The daily quota limits reset at 12:00 PM midday UTC."
        },
        "quotaLimit": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The maximum number of calls allowed per day for the group.",
          "format": "int64"
        }
      },
      "id": "QuotaGroup",
      "type": "object"
    },
    "UpdateAccountLabelsRequest": {
      "type": "object",
      "id": "UpdateAccountLabelsRequest",
      "properties": {
        "parent": {
          "description": "Optional. Only required when updating MC account labels. The CSS domain that is the parent resource of the MC account. Format: accounts/{account}",
          "type": "string"
        },
        "labelIds": {
          "description": "The list of label IDs to overwrite the existing account label IDs. If the list is empty, all currently assigned label IDs will be deleted.",
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          }
        }
      },
      "description": "The request message for the `UpdateLabels` method."
    },
    "ProductDetail": {
      "id": "ProductDetail",
      "type": "object",
      "description": "The product details.",
      "properties": {
        "sectionName": {
          "type": "string",
          "description": "The section header used to group a set of product details."
        },
        "attributeValue": {
          "description": "The value of the product detail.",
          "type": "string"
        },
        "attributeName": {
          "description": "The name of the product detail.",
          "type": "string"
        }
      }
    },
    "Attributes": {
      "description": "Attributes for CSS Product.",
      "id": "Attributes",
      "type": "object",
      "properties": {
        "cppAdsRedirect": {
          "type": "string",
          "description": "Allows advertisers to override the item URL when the product is shown within the context of Product Ads."
        },
        "productWeight": {
          "$ref": "ProductWeight",
          "description": "The weight of the product in the units provided. The value must be between 0 (exclusive) and 2000 (inclusive)."
        },
        "gtin": {
          "description": "Global Trade Item Number ([GTIN](https://support.google.com/merchants/answer/188494#gtin)) of the item.",
          "type": "string"
        },
        "productDetails": {
          "description": "Technical specification or additional product details.",
          "items": {
            "$ref": "ProductDetail"
          },
          "type": "array"
        },
        "minRating": {
          "type": "string",
          "description": "Minimum rating score of the product. Required if `rating` is provided. This field is for an upcoming feature and is not yet used.",
          "format": "int64"
        },
        "cppMobileLink": {
          "description": "URL for the mobile-optimized version of the Product Detail Page of the CSS.",
          "type": "string"
        },
        "size": {
          "description": "Size of the item. Only one value is allowed. For variants with different sizes, insert a separate product for each size with the same `itemGroupId` value (see [https://support.google.com/merchants/answer/6324492](size definition)).",
          "type": "string"
        },
        "certifications": {
          "type": "array",
          "description": "A list of certificates claimed by the CSS for the given product.",
          "items": {
            "$ref": "Certification"
          }
        },
        "description": {
          "description": "Description of the item.",
          "type": "string"
        },
        "headlineOfferCondition": {
          "type": "string",
          "description": "Condition of the headline offer."
        },
        "headlineOfferMobileLink": {
          "description": "Mobile Link to the headline offer.",
          "type": "string"
        },
        "multipack": {
          "type": "string",
          "description": "The number of identical products in a merchant-defined multipack.",
          "format": "int64"
        },
        "itemGroupId": {
          "description": "Shared identifier for all variants of the same product.",
          "type": "string"
        },
        "adult": {
          "type": "boolean",
          "description": "Set to true if the item is targeted towards adults."
        },
        "customLabel4": {
          "description": "Custom label 4 for custom grouping of items in a Shopping campaign.",
          "type": "string"
        },
        "customLabel0": {
          "type": "string",
          "description": "Custom label 0 for custom grouping of items in a Shopping campaign."
        },
        "sizeSystem": {
          "description": "System in which the size is specified. Recommended for apparel items.",
          "type": "string"
        },
        "pause": {
          "type": "string",
          "description": "Publication of this item will be temporarily paused."
        },
        "productHeight": {
          "$ref": "ProductDimension",
          "description": "The height of the product in the units provided. The value must be between 0 (exclusive) and 3000 (inclusive)."
        },
        "customLabel3": {
          "type": "string",
          "description": "Custom label 3 for custom grouping of items in a Shopping campaign."
        },
        "productWidth": {
          "$ref": "ProductDimension",
          "description": "The width of the product in the units provided. The value must be between 0 (exclusive) and 3000 (inclusive)."
        },
        "additionalImageLinks": {
          "description": "Additional URL of images of the item.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "maxRating": {
          "description": "Maximum rating score of the product. Required if `rating` is provided. This field is for an upcoming feature and is not yet used.",
          "type": "string",
          "format": "int64"
        },
        "isBundle": {
          "description": "Whether the item is a merchant-defined bundle. A bundle is a custom grouping of different products sold by a merchant for a single price.",
          "type": "boolean"
        },
        "productHighlights": {
          "description": "Bullet points describing the most relevant highlights of a product.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "mpn": {
          "description": "Manufacturer Part Number ([MPN](https://support.google.com/merchants/answer/188494#mpn)) of the item.",
          "type": "string"
        },
        "headlineOfferSubscriptionCost": {
          "$ref": "HeadlineOfferSubscriptionCost",
          "description": "Number of periods (months or years) and amount of payment per period for an item with an associated subscription contract."
        },
        "productTypes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Categories of the item (formatted as in [products data specification](https://support.google.com/merchants/answer/6324406))."
        },
        "imageLink": {
          "type": "string",
          "description": "URL of an image of the item."
        },
        "highPrice": {
          "description": "High Price of the CSS Product.",
          "$ref": "Price"
        },
        "pattern": {
          "description": "The item's pattern (e.g. polka dots).",
          "type": "string"
        },
        "googleProductCategory": {
          "type": "string",
          "description": "Google's category of the item (see [Google product taxonomy](https://support.google.com/merchants/answer/1705911)). When querying products, this field will contain the user provided value. There is currently no way to get back the auto assigned google product categories through the API."
        },
        "headlineOfferInstallment": {
          "description": "Number and amount of installments to pay for an item.",
          "$ref": "HeadlineOfferInstallment"
        },
        "sizeTypes": {
          "description": "The cut of the item. It can be used to represent combined size types for apparel items. Maximum two of size types can be provided (see [size type](https://support.google.com/merchants/answer/6324497).",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "title": {
          "description": "Title of the item.",
          "type": "string"
        },
        "expirationDate": {
          "description": "Date on which the item should expire, as specified upon insertion, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format. The actual expiration date is exposed in `productstatuses` as [googleExpirationDate](https://support.google.com/merchants/answer/6324499) and might be earlier if `expirationDate` is too far in the future. Note: It may take 2+ days from the expiration date for the item to actually get deleted.",
          "format": "google-datetime",
          "type": "string"
        },
        "cppLink": {
          "description": "URL directly linking to your the Product Detail Page of the CSS.",
          "type": "string"
        },
        "customLabel1": {
          "description": "Custom label 1 for custom grouping of items in a Shopping campaign.",
          "type": "string"
        },
        "rating": {
          "format": "double",
          "type": "number",
          "description": "Average rating score of the product. The value must be within the range of [`min_rating`, `max_rating`], inclusive. When displayed on the product page, this rating is normalized to a scale of [1, 5] with one decimal place. If provided, `review_count`, `min_rating`, and `max_rating` are also required. This field is for an upcoming feature and is not yet used."
        },
        "reviewCount": {
          "description": "Number of reviews of the product. Required if `rating` is provided. This field is for an upcoming feature and is not yet used.",
          "type": "string",
          "format": "int64"
        },
        "material": {
          "description": "The material of which the item is made.",
          "type": "string"
        },
        "productLength": {
          "description": "The length of the product in the units provided. The value must be between 0 (exclusive) and 3000 (inclusive).",
          "$ref": "ProductDimension"
        },
        "headlineOfferPrice": {
          "description": "Headline Price of the CSS Product.",
          "$ref": "Price"
        },
        "gender": {
          "type": "string",
          "description": "Target gender of the item."
        },
        "headlineOfferLink": {
          "description": "Link to the headline offer.",
          "type": "string"
        },
        "color": {
          "type": "string",
          "description": "Color of the item."
        },
        "customLabel2": {
          "type": "string",
          "description": "Custom label 2 for custom grouping of items in a Shopping campaign."
        },
        "lowPrice": {
          "description": "Low Price of the CSS Product.",
          "$ref": "Price"
        },
        "headlineOfferShippingPrice": {
          "description": "Headline Price of the CSS Product.",
          "$ref": "Price"
        },
        "includedDestinations": {
          "description": "The list of destinations to include for this target (corresponds to checked check boxes in Merchant Center). Default destinations are always included unless provided in `excludedDestinations`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "numberOfOffers": {
          "description": "The number of CSS Products.",
          "type": "string",
          "format": "int64"
        },
        "brand": {
          "description": "Product Related Attributes.[14-36] Brand of the item.",
          "type": "string"
        },
        "ageGroup": {
          "type": "string",
          "description": "Target age group of the item."
        },
        "excludedDestinations": {
          "description": "The list of destinations to exclude for this target (corresponds to unchecked check boxes in Merchant Center).",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "DestinationStatus": {
      "description": "The destination status of the product status.",
      "type": "object",
      "properties": {
        "destination": {
          "description": "The name of the destination",
          "type": "string"
        },
        "approvedCountries": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of country codes (ISO 3166-1 alpha-2) where the CSS Product is approved."
        },
        "disapprovedCountries": {
          "items": {
            "type": "string"
          },
          "description": "List of country codes (ISO 3166-1 alpha-2) where the CSS Product is disapproved.",
          "type": "array"
        },
        "pendingCountries": {
          "type": "array",
          "description": "List of country codes (ISO 3166-1 alpha-2) where the CSS Product is pending approval.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "DestinationStatus"
    },
    "HeadlineOfferSubscriptionCost": {
      "description": "The SubscriptionCost of the product.",
      "id": "HeadlineOfferSubscriptionCost",
      "type": "object",
      "properties": {
        "amount": {
          "$ref": "Price",
          "description": "The amount the buyer has to pay per subscription period."
        },
        "period": {
          "enumDescriptions": [
            "Indicates that the subscription period is unspecified.",
            "Indicates that the subscription period is month.",
            "Indicates that the subscription period is year."
          ],
          "description": "The type of subscription period. Supported values are: * \"`month`\" * \"`year`\"",
          "enum": [
            "SUBSCRIPTION_PERIOD_UNSPECIFIED",
            "MONTH",
            "YEAR"
          ],
          "type": "string"
        },
        "periodLength": {
          "description": "The number of subscription periods the buyer has to pay.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "CssProductInput": {
      "type": "object",
      "properties": {
        "attributes": {
          "description": "A list of CSS Product attributes.",
          "$ref": "Attributes"
        },
        "name": {
          "description": "Identifier. The name of the CSS Product input. Format: `accounts/{account}/cssProductInputs/{css_product_input}`, where the last section `css_product_input` consists of 3 parts: contentLanguage~feedLabel~offerId. Example: accounts/123/cssProductInputs/de~DE~rawProvidedId123",
          "type": "string"
        },
        "feedLabel": {
          "type": "string",
          "description": "Required. The [feed label](https://developers.google.com/shopping-content/guides/products/feed-labels) for the CSS Product. Feed Label is synonymous to \"target country\" and hence should always be a valid region code. For example: 'DE' for Germany, 'FR' for France."
        },
        "freshnessTime": {
          "format": "google-datetime",
          "type": "string",
          "deprecated": true,
          "description": "DEPRECATED. Use expiration_date instead. Represents the existing version (freshness) of the CSS Product, which can be used to preserve the right order when multiple updates are done at the same time. This field must not be set to the future time. If set, the update is prevented if a newer version of the item already exists in our system (that is the last update time of the existing CSS products is later than the freshness time set in the update). If the update happens, the last update time is then set to this freshness time. If not set, the update will not be prevented and the last update time will default to when this request was received by the CSS API. If the operation is prevented, the aborted exception will be thrown."
        },
        "contentLanguage": {
          "description": "Required. The two-letter [ISO 639-1](http://en.wikipedia.org/wiki/ISO_639-1) language code for the CSS Product.",
          "type": "string"
        },
        "rawProvidedId": {
          "type": "string",
          "description": "Required. Your unique identifier for the CSS Product. This is the same for the CSS Product input and processed CSS Product. We only allow ids with alphanumerics, underscores and dashes. See the [products feed specification](https://support.google.com/merchants/answer/188494#id) for details."
        },
        "customAttributes": {
          "description": "A list of custom (CSS-provided) attributes. It can also be used for submitting any attribute of the feed specification in its generic form (for example: `{ \"name\": \"size type\", \"value\": \"regular\" }`). This is useful for submitting attributes not explicitly exposed by the API, such as additional attributes used for Buy on Google.",
          "type": "array",
          "items": {
            "$ref": "CustomAttribute"
          }
        },
        "finalName": {
          "description": "Output only. The name of the processed CSS Product. Format: `accounts/{account}/cssProducts/{css_product}` \"",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "This resource represents input data you submit for a CSS Product, not the processed CSS Product that you see in CSS Center, in Shopping Ads, or across Google surfaces.",
      "id": "CssProductInput"
    },
    "ListQuotaGroupsResponse": {
      "id": "ListQuotaGroupsResponse",
      "properties": {
        "quotaGroups": {
          "type": "array",
          "items": {
            "$ref": "QuotaGroup"
          },
          "description": "The methods, current quota usage and limits per each group. The quota is shared between all methods in the group. The groups are sorted in descending order based on quota_usage."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object",
      "description": "Response message for the ListMethodGroups method."
    },
    "ItemLevelIssue": {
      "description": "The ItemLevelIssue of the product status.",
      "id": "ItemLevelIssue",
      "type": "object",
      "properties": {
        "servability": {
          "description": "How this issue affects serving of the CSS Product.",
          "type": "string"
        },
        "applicableCountries": {
          "description": "List of country codes (ISO 3166-1 alpha-2) where issue applies to the CSS Product.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "documentation": {
          "description": "The URL of a web page to help with resolving this issue.",
          "type": "string"
        },
        "destination": {
          "description": "The destination the issue applies to.",
          "type": "string"
        },
        "detail": {
          "description": "A detailed issue description in English.",
          "type": "string"
        },
        "attribute": {
          "description": "The attribute's name, if the issue is caused by a single attribute.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "A short issue description in English."
        },
        "resolution": {
          "type": "string",
          "description": "Whether the issue can be resolved by the merchant."
        },
        "code": {
          "description": "The error code of the issue.",
          "type": "string"
        }
      }
    },
    "AccountLabel": {
      "properties": {
        "labelType": {
          "type": "string",
          "description": "Output only. The type of this label.",
          "enum": [
            "LABEL_TYPE_UNSPECIFIED",
            "MANUAL",
            "AUTOMATIC"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Unknown label type.",
            "Indicates that the label was created manually.",
            "Indicates that the label was created automatically by CSS Center."
          ]
        },
        "labelId": {
          "type": "string",
          "description": "Output only. The ID of the label.",
          "readOnly": true,
          "format": "int64"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of this label."
        },
        "name": {
          "description": "Identifier. The resource name of the label. Format: accounts/{account}/labels/{label}",
          "type": "string"
        },
        "description": {
          "description": "The description of this label.",
          "type": "string"
        },
        "accountId": {
          "description": "Output only. The ID of account this label belongs to.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "AccountLabel",
      "description": "Label assigned by CSS domain or CSS group to one of its sub-accounts."
    },
    "ProductWeight": {
      "properties": {
        "value": {
          "description": "Required. The weight represented as a number. The weight can have a maximum precision of four decimal places.",
          "format": "double",
          "type": "number"
        },
        "unit": {
          "type": "string",
          "description": "Required. The weight unit. Acceptable values are: * \"`g`\" * \"`kg`\" * \"`oz`\" * \"`lb`\""
        }
      },
      "id": "ProductWeight",
      "description": "The weight of the product.",
      "type": "object"
    },
    "CustomAttribute": {
      "type": "object",
      "id": "CustomAttribute",
      "description": "A message that represents custom attributes. Exactly one of `value` or `group_values` must not be empty.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the attribute."
        },
        "groupValues": {
          "items": {
            "$ref": "CustomAttribute"
          },
          "description": "Subattributes within this attribute group. If `group_values` is not empty, `value` must be empty.",
          "type": "array"
        },
        "value": {
          "description": "The value of the attribute. If `value` is not empty, `group_values` must be empty.",
          "type": "string"
        }
      }
    },
    "CssProduct": {
      "properties": {
        "feedLabel": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The feed label for the product."
        },
        "attributes": {
          "description": "Output only. A list of product attributes.",
          "readOnly": true,
          "$ref": "Attributes"
        },
        "cssProductStatus": {
          "$ref": "CssProductStatus",
          "description": "Output only. The status of a product, data validation issues, that is, information about a product computed asynchronously.",
          "readOnly": true
        },
        "rawProvidedId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Your unique raw identifier for the product."
        },
        "contentLanguage": {
          "description": "Output only. The two-letter [ISO 639-1](http://en.wikipedia.org/wiki/ISO_639-1) language code for the product.",
          "type": "string",
          "readOnly": true
        },
        "customAttributes": {
          "description": "Output only. A list of custom (CSS-provided) attributes. It can also be used to submit any attribute of the feed specification in its generic form (for example, `{ \"name\": \"size type\", \"value\": \"regular\" }`). This is useful for submitting attributes not explicitly exposed by the API, such as additional attributes used for Buy on Google.",
          "type": "array",
          "items": {
            "$ref": "CustomAttribute"
          },
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The name of the CSS Product. Format: `\"accounts/{account}/cssProducts/{css_product}\"`"
        }
      },
      "type": "object",
      "id": "CssProduct",
      "description": "The processed CSS Product."
    },
    "Account": {
      "type": "object",
      "description": "Information about CSS/MC account.",
      "id": "Account",
      "properties": {
        "automaticLabelIds": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "description": "Automatically created label IDs assigned to the MC account by CSS Center.",
          "type": "array"
        },
        "parent": {
          "description": "The CSS/MC account's parent resource. CSS group for CSS domains; CSS domain for MC accounts. Returned only if the user has access to the parent account. Note: For MC sub-accounts, this is also the CSS domain that is the parent resource of the MCA account, since we are effectively flattening the hierarchy.\"",
          "type": "string"
        },
        "homepageUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Immutable. The CSS/MC account's homepage."
        },
        "name": {
          "description": "The label resource name. Format: accounts/{account}",
          "type": "string"
        },
        "fullName": {
          "type": "string",
          "description": "Output only. Immutable. The CSS/MC account's full name.",
          "readOnly": true
        },
        "accountType": {
          "enumDescriptions": [
            "Unknown account type.",
            "CSS group account.",
            "CSS domain account.",
            "MC Primary CSS MCA account.",
            "MC CSS MCA account.",
            "MC Marketplace MCA account.",
            "MC Other MCA account.",
            "MC Standalone account.",
            "MC MCA sub-account."
          ],
          "readOnly": true,
          "enum": [
            "ACCOUNT_TYPE_UNSPECIFIED",
            "CSS_GROUP",
            "CSS_DOMAIN",
            "MC_PRIMARY_CSS_MCA",
            "MC_CSS_MCA",
            "MC_MARKETPLACE_MCA",
            "MC_OTHER_MCA",
            "MC_STANDALONE",
            "MC_MCA_SUBACCOUNT"
          ],
          "description": "Output only. The type of this account.",
          "type": "string"
        },
        "displayName": {
          "description": "The CSS/MC account's short display name.",
          "type": "string"
        },
        "labelIds": {
          "description": "Manually created label IDs assigned to the CSS/MC account by a CSS parent account.",
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "ListChildAccountsResponse": {
      "id": "ListChildAccountsResponse",
      "description": "Response message for the `ListChildAccounts` method.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "accounts": {
          "description": "The CSS/MC accounts returned for the specified CSS parent account.",
          "items": {
            "$ref": "Account"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "MethodDetails": {
      "id": "MethodDetails",
      "type": "object",
      "properties": {
        "subapi": {
          "type": "string",
          "description": "Output only. The sub-API that the method belongs to. In the CSS API, this is always `css`.",
          "readOnly": true
        },
        "version": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The API version that the method belongs to."
        },
        "method": {
          "description": "Output only. The name of the method for example `cssproductsservice.listcssproducts`.",
          "readOnly": true,
          "type": "string"
        },
        "path": {
          "description": "Output only. The path for the method such as `v1/cssproductsservice.listcssproducts`.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "The method details per method in the CSS API."
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "ListAccountLabelsResponse": {
      "id": "ListAccountLabelsResponse",
      "description": "Response message for the `ListAccountLabels` method.",
      "type": "object",
      "properties": {
        "accountLabels": {
          "type": "array",
          "items": {
            "$ref": "AccountLabel"
          },
          "description": "The labels from the specified account."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "ListCssProductsResponse": {
      "id": "ListCssProductsResponse",
      "description": "Response message for the ListCssProducts method.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "cssProducts": {
          "items": {
            "$ref": "CssProduct"
          },
          "type": "array",
          "description": "The processed CSS products from the specified account. These are your processed CSS products after applying rules and supplemental feeds."
        }
      }
    },
    "Certification": {
      "id": "Certification",
      "type": "object",
      "properties": {
        "code": {
          "description": "The code of the certification. For example, for the EPREL certificate with the link https://eprel.ec.europa.eu/screen/product/dishwashers2019/123456 the code is 123456. The code is required for European Energy Labels.",
          "type": "string"
        },
        "authority": {
          "type": "string",
          "description": "The authority or certification body responsible for issuing the certification. At this time, the most common value is \"EC\" or “European_Commission” for energy labels in the EU."
        },
        "name": {
          "description": "The name of the certification. At this time, the most common value is \"EPREL\", which represents energy efficiency certifications in the EU European Registry for Energy Labeling (EPREL) database.",
          "type": "string"
        }
      },
      "description": "The certification for the product. Use the this attribute to describe certifications, such as energy efficiency ratings, associated with a product."
    }
  },
  "batchPath": "batch",
  "servicePath": "",
  "documentationLink": "https://developers.google.com/comparison-shopping-services/api/overview",
  "resources": {
    "accounts": {
      "methods": {
        "get": {
          "flatPath": "v1/accounts/{accountsId}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "GET",
          "parameters": {
            "parent": {
              "description": "Optional. Only required when retrieving MC account information. The CSS domain that is the parent resource of the MC account. Format: accounts/{account}",
              "location": "query",
              "type": "string"
            },
            "name": {
              "required": true,
              "type": "string",
              "description": "Required. The name of the managed CSS/MC account. Format: accounts/{account}",
              "location": "path",
              "pattern": "^accounts/[^/]+$"
            }
          },
          "path": "v1/{+name}",
          "parameterOrder": [
            "name"
          ],
          "id": "css.accounts.get",
          "description": "Retrieves a single CSS/MC account by ID.",
          "response": {
            "$ref": "Account"
          }
        },
        "updateLabels": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "Account"
          },
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "description": "Required. The label resource name. Format: accounts/{account}",
              "location": "path",
              "pattern": "^accounts/[^/]+$"
            }
          },
          "flatPath": "v1/accounts/{accountsId}:updateLabels",
          "path": "v1/{+name}:updateLabels",
          "request": {
            "$ref": "UpdateAccountLabelsRequest"
          },
          "id": "css.accounts.updateLabels",
          "parameterOrder": [
            "name"
          ],
          "description": "Updates labels assigned to CSS/MC accounts by a CSS domain."
        },
        "listChildAccounts": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "parent"
          ],
          "response": {
            "$ref": "ListChildAccountsResponse"
          },
          "flatPath": "v1/accounts/{accountsId}:listChildAccounts",
          "path": "v1/{+parent}:listChildAccounts",
          "id": "css.accounts.listChildAccounts",
          "httpMethod": "GET",
          "parameters": {
            "parent": {
              "location": "path",
              "description": "Required. The parent account. Must be a CSS group or domain. Format: accounts/{account}",
              "type": "string",
              "pattern": "^accounts/[^/]+$",
              "required": true
            },
            "fullName": {
              "description": "If set, only the MC accounts with the given name (case sensitive) will be returned.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "location": "query",
              "type": "integer",
              "description": "Optional. The maximum number of accounts to return. The service may return fewer than this value. If unspecified, at most 50 accounts will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
              "format": "int32"
            },
            "labelId": {
              "location": "query",
              "description": "If set, only the MC accounts with the given label ID will be returned.",
              "format": "int64",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Optional. A page token, received from a previous `ListChildAccounts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListChildAccounts` must match the call that provided the page token."
            }
          },
          "description": "Lists all the accounts under the specified CSS account ID, and optionally filters by label ID and account name."
        }
      },
      "resources": {
        "quotas": {
          "methods": {
            "list": {
              "flatPath": "v1/accounts/{accountsId}/quotas",
              "path": "v1/{+parent}/quotas",
              "description": "Lists the daily call quota and usage per group for your CSS Center account.",
              "id": "css.accounts.quotas.list",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListQuotaGroupsResponse"
              },
              "parameters": {
                "pageToken": {
                  "description": "Optional. Token (if provided) to retrieve the subsequent page. All other parameters must match the original call that provided the page token.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. The CSS account that owns the collection of method quotas and resources. In most cases, this is the CSS domain. Format: accounts/{account}",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "pageSize": {
                  "location": "query",
                  "description": "Optional. The maximum number of quotas to return in the response, used for paging. Defaults to 500; values above 1000 will be coerced to 1000.",
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        },
        "cssProducts": {
          "methods": {
            "get": {
              "parameters": {
                "name": {
                  "description": "Required. The name of the CSS product to retrieve. Format: `accounts/{account}/cssProducts/{css_product}`",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^accounts/[^/]+/cssProducts/[^/]+$"
                }
              },
              "httpMethod": "GET",
              "id": "css.accounts.cssProducts.get",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "v1/accounts/{accountsId}/cssProducts/{cssProductsId}",
              "description": "Retrieves the processed CSS Product from your CSS Center account. After inserting, updating, or deleting a product input, it may take several minutes before the updated final product can be retrieved.",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "CssProduct"
              },
              "path": "v1/{+name}"
            },
            "list": {
              "response": {
                "$ref": "ListCssProductsResponse"
              },
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of CSS Products to return. The service may return fewer than this value. The maximum value is 1000; values above 1000 will be coerced to 1000. If unspecified, the maximum number of CSS products will be returned."
                },
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. The account/domain to list processed CSS Products for. Format: accounts/{account}",
                  "location": "path"
                },
                "pageToken": {
                  "description": "A page token, received from a previous `ListCssProducts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListCssProducts` must match the call that provided the page token.",
                  "type": "string",
                  "location": "query"
                }
              },
              "id": "css.accounts.cssProducts.list",
              "httpMethod": "GET",
              "description": "Lists the processed CSS Products in your CSS Center account. The response might contain fewer items than specified by pageSize. Rely on pageToken to determine if there are more items to be requested. After inserting, updating, or deleting a CSS product input, it may take several minutes before the updated processed CSS product can be retrieved.",
              "flatPath": "v1/accounts/{accountsId}/cssProducts",
              "path": "v1/{+parent}/cssProducts",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "parent"
              ]
            }
          }
        },
        "cssProductInputs": {
          "methods": {
            "delete": {
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "supplementalFeedId": {
                  "location": "query",
                  "description": "The Content API Supplemental Feed ID. The field must not be set if the action applies to a primary feed. If the field is set, then product action applies to a supplemental feed instead of primary Content API feed.",
                  "format": "int64",
                  "type": "string"
                },
                "name": {
                  "description": "Required. The name of the CSS product input resource to delete. Format: accounts/{account}/cssProductInputs/{css_product_input}, where the last section `css_product_input` consists of 3 parts: contentLanguage~feedLabel~offerId. Example: accounts/123/cssProductInputs/de~DE~rawProvidedId123",
                  "required": true,
                  "pattern": "^accounts/[^/]+/cssProductInputs/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "httpMethod": "DELETE",
              "description": "Deletes a CSS Product input from your CSS Center account. After a delete it may take several minutes until the input is no longer available.",
              "id": "css.accounts.cssProductInputs.delete",
              "flatPath": "v1/accounts/{accountsId}/cssProductInputs/{cssProductInputsId}",
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "name"
              ]
            },
            "insert": {
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/accounts/{accountsId}/cssProductInputs:insert",
              "description": "Uploads a CssProductInput to your CSS Center account. If an input with the same contentLanguage, identity, feedLabel and feedId already exists, this method replaces that entry. After inserting, updating, or deleting a CSS Product input, it may take several minutes before the processed CSS Product can be retrieved.",
              "id": "css.accounts.cssProductInputs.insert",
              "path": "v1/{+parent}/cssProductInputs:insert",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^accounts/[^/]+$",
                  "type": "string",
                  "description": "Required. The account where this CSS Product will be inserted. Format: accounts/{account}",
                  "location": "path"
                },
                "feedId": {
                  "format": "int64",
                  "type": "string",
                  "location": "query",
                  "description": "Optional. DEPRECATED. Feed id is not required for CSS Products. The primary or supplemental feed id. If CSS Product already exists and feed id provided is different, then the CSS Product will be moved to a new feed. Note: For now, CSSs do not need to provide feed ids as we create feeds on the fly. We do not have supplemental feed support for CSS Products yet.",
                  "deprecated": true
                }
              },
              "response": {
                "$ref": "CssProductInput"
              },
              "request": {
                "$ref": "CssProductInput"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            },
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "v1/accounts/{accountsId}/cssProductInputs/{cssProductInputsId}",
              "request": {
                "$ref": "CssProductInput"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "path": "v1/{+name}",
              "id": "css.accounts.cssProductInputs.patch",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "Identifier. The name of the CSS Product input. Format: `accounts/{account}/cssProductInputs/{css_product_input}`, where the last section `css_product_input` consists of 3 parts: contentLanguage~feedLabel~offerId. Example: accounts/123/cssProductInputs/de~DE~rawProvidedId123",
                  "pattern": "^accounts/[^/]+/cssProductInputs/[^/]+$",
                  "location": "path"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "description": "The list of CSS product attributes to be updated. If the update mask is omitted, then it is treated as implied field mask equivalent to all fields that are populated (have a non-empty value). Attributes specified in the update mask without a value specified in the body will be deleted from the CSS product. Update mask can only be specified for top level fields in attributes and custom attributes. To specify the update mask for custom attributes you need to add the `custom_attribute.` prefix. Providing special \"*\" value for full CSS product replacement is not supported.",
                  "type": "string",
                  "location": "query"
                }
              },
              "description": "Updates the existing Css Product input in your CSS Center account. After inserting, updating, or deleting a CSS Product input, it may take several minutes before the processed Css Product can be retrieved.",
              "response": {
                "$ref": "CssProductInput"
              }
            }
          }
        },
        "labels": {
          "methods": {
            "list": {
              "path": "v1/{+parent}/labels",
              "description": "Lists the labels owned by an account.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "response": {
                "$ref": "ListAccountLabelsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "css.accounts.labels.list",
              "flatPath": "v1/accounts/{accountsId}/labels",
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "description": "The maximum number of labels to return. The service may return fewer than this value. If unspecified, at most 50 labels will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "parent": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The parent account. Format: accounts/{account}",
                  "pattern": "^accounts/[^/]+$",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token, received from a previous `ListAccountLabels` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccountLabels` must match the call that provided the page token."
                }
              }
            },
            "delete": {
              "response": {
                "$ref": "Empty"
              },
              "description": "Deletes a label and removes it from all accounts to which it was assigned.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "css.accounts.labels.delete",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/labels/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the label to delete. Format: accounts/{account}/labels/{label}",
                  "location": "path",
                  "type": "string"
                }
              },
              "flatPath": "v1/accounts/{accountsId}/labels/{labelsId}",
              "path": "v1/{+name}"
            },
            "create": {
              "id": "css.accounts.labels.create",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The parent account. Format: accounts/{account}",
                  "pattern": "^accounts/[^/]+$"
                }
              },
              "description": "Creates a new label, not assigned to any account.",
              "response": {
                "$ref": "AccountLabel"
              },
              "path": "v1/{+parent}/labels",
              "flatPath": "v1/accounts/{accountsId}/labels",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "AccountLabel"
              }
            },
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^accounts/[^/]+/labels/[^/]+$",
                  "required": true,
                  "description": "Identifier. The resource name of the label. Format: accounts/{account}/labels/{label}",
                  "type": "string"
                }
              },
              "flatPath": "v1/accounts/{accountsId}/labels/{labelsId}",
              "id": "css.accounts.labels.patch",
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Updates a label.",
              "response": {
                "$ref": "AccountLabel"
              },
              "path": "v1/{+name}",
              "request": {
                "$ref": "AccountLabel"
              }
            }
          }
        }
      }
    }
  },
  "rootUrl": "https://css.googleapis.com/",
  "name": "css",
  "id": "css:v1",
  "revision": "20260910"
}