{
  "rootUrl": "https://css.googleapis.com/",
  "servicePath": "",
  "id": "css:v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "name": "css",
  "description": "Programmatically manage your Comparison Shopping Service (CSS) account data at scale.",
  "ownerDomain": "google.com",
  "documentationLink": "https://developers.google.com/comparison-shopping-services/api/overview",
  "mtlsRootUrl": "https://css.mtls.googleapis.com/",
  "ownerName": "Google",
  "baseUrl": "https://css.googleapis.com/",
  "batchPath": "batch",
  "version_module": true,
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/content": {
          "description": "Manage your product listings and accounts for Google Shopping"
        }
      }
    }
  },
  "basePath": "",
  "title": "CSS API",
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "Account": {
      "properties": {
        "parent": {
          "description": "The CSS/MC account's parent resource. CSS group for CSS domains; CSS domain for MC accounts. Returned only if the user has access to the parent account. Note: For MC sub-accounts, this is also the CSS domain that is the parent resource of the MCA account, since we are effectively flattening the hierarchy.\"",
          "type": "string"
        },
        "labelIds": {
          "type": "array",
          "description": "Manually created label IDs assigned to the CSS/MC account by a CSS parent account.",
          "items": {
            "format": "int64",
            "type": "string"
          }
        },
        "homepageUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Immutable. The CSS/MC account's homepage."
        },
        "accountType": {
          "type": "string",
          "enum": [
            "ACCOUNT_TYPE_UNSPECIFIED",
            "CSS_GROUP",
            "CSS_DOMAIN",
            "MC_PRIMARY_CSS_MCA",
            "MC_CSS_MCA",
            "MC_MARKETPLACE_MCA",
            "MC_OTHER_MCA",
            "MC_STANDALONE",
            "MC_MCA_SUBACCOUNT"
          ],
          "description": "Output only. The type of this account.",
          "readOnly": true,
          "enumDescriptions": [
            "Unknown account type.",
            "CSS group account.",
            "CSS domain account.",
            "MC Primary CSS MCA account.",
            "MC CSS MCA account.",
            "MC Marketplace MCA account.",
            "MC Other MCA account.",
            "MC Standalone account.",
            "MC MCA sub-account."
          ]
        },
        "name": {
          "type": "string",
          "description": "The label resource name. Format: accounts/{account}"
        },
        "automaticLabelIds": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "Automatically created label IDs assigned to the MC account by CSS Center.",
          "type": "array"
        },
        "fullName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Immutable. The CSS/MC account's full name."
        },
        "displayName": {
          "type": "string",
          "description": "The CSS/MC account's short display name."
        }
      },
      "description": "Information about CSS/MC account.",
      "type": "object",
      "id": "Account"
    },
    "ProductDimension": {
      "id": "ProductDimension",
      "properties": {
        "value": {
          "type": "number",
          "format": "double",
          "description": "Required. The dimension value represented as a number. The value can have a maximum precision of four decimal places."
        },
        "unit": {
          "type": "string",
          "description": "Required. The dimension units. Acceptable values are: * \"`in`\" * \"`cm`\""
        }
      },
      "description": "The dimension of the product.",
      "type": "object"
    },
    "AccountLabel": {
      "properties": {
        "labelType": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "LABEL_TYPE_UNSPECIFIED",
            "MANUAL",
            "AUTOMATIC"
          ],
          "enumDescriptions": [
            "Unknown label type.",
            "Indicates that the label was created manually.",
            "Indicates that the label was created automatically by CSS Center."
          ],
          "description": "Output only. The type of this label."
        },
        "displayName": {
          "type": "string",
          "description": "The display name of this label."
        },
        "accountId": {
          "format": "int64",
          "type": "string",
          "description": "Output only. The ID of account this label belongs to.",
          "readOnly": true
        },
        "labelId": {
          "description": "Output only. The ID of the label.",
          "format": "int64",
          "type": "string",
          "readOnly": true
        },
        "description": {
          "description": "The description of this label.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the label. Format: accounts/{account}/labels/{label}"
        }
      },
      "type": "object",
      "id": "AccountLabel",
      "description": "Label assigned by CSS domain or CSS group to one of its sub-accounts."
    },
    "QuotaGroup": {
      "id": "QuotaGroup",
      "type": "object",
      "description": "The group information for methods in the CSS API. The quota is shared between all methods in the group. Even if none of the methods within the group have usage the information for the group is returned.",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the quota group. Format: accounts/{account}/quotas/{group} Example: `accounts/12345678/quotas/css-products-insert` Note: The {group} part is not guaranteed to follow a specific pattern.",
          "type": "string"
        },
        "quotaUsage": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. The current quota usage, meaning the number of calls already made on a given day to the methods in the group. The daily quota limits reset at 12:00 PM midday UTC."
        },
        "quotaLimit": {
          "description": "Output only. The maximum number of calls allowed per day for the group.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "quotaMinuteLimit": {
          "readOnly": true,
          "description": "Output only. The maximum number of calls allowed per minute for the group.",
          "format": "int64",
          "type": "string"
        },
        "methodDetails": {
          "items": {
            "$ref": "MethodDetails"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. List of all methods group quota applies to."
        }
      }
    },
    "DestinationStatus": {
      "id": "DestinationStatus",
      "type": "object",
      "description": "The destination status of the product status.",
      "properties": {
        "approvedCountries": {
          "description": "List of country codes (ISO 3166-1 alpha-2) where the CSS Product is approved.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "destination": {
          "description": "The name of the destination",
          "type": "string"
        },
        "pendingCountries": {
          "description": "List of country codes (ISO 3166-1 alpha-2) where the CSS Product is pending approval.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "disapprovedCountries": {
          "items": {
            "type": "string"
          },
          "description": "List of country codes (ISO 3166-1 alpha-2) where the CSS Product is disapproved.",
          "type": "array"
        }
      }
    },
    "CssProductStatus": {
      "properties": {
        "destinationStatuses": {
          "items": {
            "$ref": "DestinationStatus"
          },
          "type": "array",
          "description": "The intended destinations for the product."
        },
        "creationDate": {
          "type": "string",
          "description": "Date on which the item has been created, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format.",
          "format": "google-datetime"
        },
        "itemLevelIssues": {
          "description": "A list of all issues associated with the product.",
          "type": "array",
          "items": {
            "$ref": "ItemLevelIssue"
          }
        },
        "lastUpdateDate": {
          "type": "string",
          "description": "Date on which the item has been last updated, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format.",
          "format": "google-datetime"
        },
        "googleExpirationDate": {
          "description": "Date on which the item expires, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "CssProductStatus",
      "description": "The status of the Css Product, data validation issues, that is, information about the Css Product computed asynchronously.",
      "type": "object"
    },
    "ProductWeight": {
      "type": "object",
      "id": "ProductWeight",
      "description": "The weight of the product.",
      "properties": {
        "unit": {
          "description": "Required. The weight unit. Acceptable values are: * \"`g`\" * \"`kg`\" * \"`oz`\" * \"`lb`\"",
          "type": "string"
        },
        "value": {
          "format": "double",
          "type": "number",
          "description": "Required. The weight represented as a number. The weight can have a maximum precision of four decimal places."
        }
      }
    },
    "ListQuotaGroupsResponse": {
      "description": "Response message for the ListMethodGroups method.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "quotaGroups": {
          "description": "The methods, current quota usage and limits per each group. The quota is shared between all methods in the group. The groups are sorted in descending order based on quota_usage.",
          "type": "array",
          "items": {
            "$ref": "QuotaGroup"
          }
        }
      },
      "id": "ListQuotaGroupsResponse"
    },
    "UpdateAccountLabelsRequest": {
      "type": "object",
      "id": "UpdateAccountLabelsRequest",
      "properties": {
        "labelIds": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "The list of label IDs to overwrite the existing account label IDs. If the list is empty, all currently assigned label IDs will be deleted."
        },
        "parent": {
          "description": "Optional. Only required when updating MC account labels. The CSS domain that is the parent resource of the MC account. Format: accounts/{account}",
          "type": "string"
        }
      },
      "description": "The request message for the `UpdateLabels` method."
    },
    "ItemLevelIssue": {
      "type": "object",
      "id": "ItemLevelIssue",
      "properties": {
        "destination": {
          "type": "string",
          "description": "The destination the issue applies to."
        },
        "applicableCountries": {
          "items": {
            "type": "string"
          },
          "description": "List of country codes (ISO 3166-1 alpha-2) where issue applies to the CSS Product.",
          "type": "array"
        },
        "attribute": {
          "description": "The attribute's name, if the issue is caused by a single attribute.",
          "type": "string"
        },
        "resolution": {
          "description": "Whether the issue can be resolved by the merchant.",
          "type": "string"
        },
        "servability": {
          "description": "How this issue affects serving of the CSS Product.",
          "type": "string"
        },
        "documentation": {
          "description": "The URL of a web page to help with resolving this issue.",
          "type": "string"
        },
        "detail": {
          "description": "A detailed issue description in English.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "A short issue description in English."
        },
        "code": {
          "type": "string",
          "description": "The error code of the issue."
        }
      },
      "description": "The ItemLevelIssue of the product status."
    },
    "CssProductInput": {
      "id": "CssProductInput",
      "description": "This resource represents input data you submit for a CSS Product, not the processed CSS Product that you see in CSS Center, in Shopping Ads, or across Google surfaces.",
      "properties": {
        "finalName": {
          "readOnly": true,
          "description": "Output only. The name of the processed CSS Product. Format: `accounts/{account}/cssProducts/{css_product}` \"",
          "type": "string"
        },
        "freshnessTime": {
          "deprecated": true,
          "type": "string",
          "description": "DEPRECATED. Use expiration_date instead. Represents the existing version (freshness) of the CSS Product, which can be used to preserve the right order when multiple updates are done at the same time. This field must not be set to the future time. If set, the update is prevented if a newer version of the item already exists in our system (that is the last update time of the existing CSS products is later than the freshness time set in the update). If the update happens, the last update time is then set to this freshness time. If not set, the update will not be prevented and the last update time will default to when this request was received by the CSS API. If the operation is prevented, the aborted exception will be thrown.",
          "format": "google-datetime"
        },
        "contentLanguage": {
          "description": "Required. The two-letter [ISO 639-1](http://en.wikipedia.org/wiki/ISO_639-1) language code for the CSS Product.",
          "type": "string"
        },
        "rawProvidedId": {
          "description": "Required. Your unique identifier for the CSS Product. This is the same for the CSS Product input and processed CSS Product. We only allow ids with alphanumerics, underscores and dashes. See the [products feed specification](https://support.google.com/merchants/answer/188494#id) for details.",
          "type": "string"
        },
        "attributes": {
          "$ref": "Attributes",
          "description": "A list of CSS Product attributes."
        },
        "customAttributes": {
          "items": {
            "$ref": "CustomAttribute"
          },
          "description": "A list of custom (CSS-provided) attributes. It can also be used for submitting any attribute of the feed specification in its generic form (for example: `{ \"name\": \"size type\", \"value\": \"regular\" }`). This is useful for submitting attributes not explicitly exposed by the API, such as additional attributes used for Buy on Google.",
          "type": "array"
        },
        "feedLabel": {
          "description": "Required. The [feed label](https://developers.google.com/shopping-content/guides/products/feed-labels) for the CSS Product. Feed Label is synonymous to \"target country\" and hence should always be a valid region code. For example: 'DE' for Germany, 'FR' for France.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The name of the CSS Product input. Format: `accounts/{account}/cssProductInputs/{css_product_input}`, where the last section `css_product_input` consists of 3 parts: contentLanguage~feedLabel~offerId. Example: accounts/123/cssProductInputs/de~DE~rawProvidedId123",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListAccountLabelsResponse": {
      "id": "ListAccountLabelsResponse",
      "description": "Response message for the `ListAccountLabels` method.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "accountLabels": {
          "description": "The labels from the specified account.",
          "items": {
            "$ref": "AccountLabel"
          },
          "type": "array"
        }
      }
    },
    "HeadlineOfferInstallment": {
      "type": "object",
      "properties": {
        "amount": {
          "$ref": "Price",
          "description": "The amount the buyer has to pay per month."
        },
        "downpayment": {
          "description": "The up-front down payment amount the buyer has to pay.",
          "$ref": "Price"
        },
        "months": {
          "description": "The number of installments the buyer has to pay.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "A message that represents installment.",
      "id": "HeadlineOfferInstallment"
    },
    "CustomAttribute": {
      "description": "A message that represents custom attributes. Exactly one of `value` or `group_values` must not be empty.",
      "type": "object",
      "id": "CustomAttribute",
      "properties": {
        "value": {
          "type": "string",
          "description": "The value of the attribute. If `value` is not empty, `group_values` must be empty."
        },
        "name": {
          "description": "The name of the attribute.",
          "type": "string"
        },
        "groupValues": {
          "items": {
            "$ref": "CustomAttribute"
          },
          "type": "array",
          "description": "Subattributes within this attribute group. If `group_values` is not empty, `value` must be empty."
        }
      }
    },
    "HeadlineOfferSubscriptionCost": {
      "properties": {
        "periodLength": {
          "description": "The number of subscription periods the buyer has to pay.",
          "type": "string",
          "format": "int64"
        },
        "period": {
          "description": "The type of subscription period. Supported values are: * \"`month`\" * \"`year`\"",
          "enumDescriptions": [
            "Indicates that the subscription period is unspecified.",
            "Indicates that the subscription period is month.",
            "Indicates that the subscription period is year."
          ],
          "type": "string",
          "enum": [
            "SUBSCRIPTION_PERIOD_UNSPECIFIED",
            "MONTH",
            "YEAR"
          ]
        },
        "amount": {
          "description": "The amount the buyer has to pay per subscription period.",
          "$ref": "Price"
        }
      },
      "id": "HeadlineOfferSubscriptionCost",
      "type": "object",
      "description": "The SubscriptionCost of the product."
    },
    "CssProduct": {
      "properties": {
        "cssProductStatus": {
          "$ref": "CssProductStatus",
          "readOnly": true,
          "description": "Output only. The status of a product, data validation issues, that is, information about a product computed asynchronously."
        },
        "rawProvidedId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Your unique raw identifier for the product."
        },
        "attributes": {
          "$ref": "Attributes",
          "description": "Output only. A list of product attributes.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The name of the CSS Product. Format: `\"accounts/{account}/cssProducts/{css_product}\"`"
        },
        "contentLanguage": {
          "description": "Output only. The two-letter [ISO 639-1](http://en.wikipedia.org/wiki/ISO_639-1) language code for the product.",
          "type": "string",
          "readOnly": true
        },
        "customAttributes": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. A list of custom (CSS-provided) attributes. It can also be used to submit any attribute of the feed specification in its generic form (for example, `{ \"name\": \"size type\", \"value\": \"regular\" }`). This is useful for submitting attributes not explicitly exposed by the API, such as additional attributes used for Buy on Google.",
          "items": {
            "$ref": "CustomAttribute"
          }
        },
        "feedLabel": {
          "description": "Output only. The feed label for the product.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "description": "The processed CSS Product.",
      "id": "CssProduct"
    },
    "MethodDetails": {
      "type": "object",
      "id": "MethodDetails",
      "properties": {
        "path": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The path for the method such as `v1/cssproductsservice.listcssproducts`."
        },
        "method": {
          "readOnly": true,
          "description": "Output only. The name of the method for example `cssproductsservice.listcssproducts`.",
          "type": "string"
        },
        "subapi": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The sub-API that the method belongs to. In the CSS API, this is always `css`."
        },
        "version": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The API version that the method belongs to."
        }
      },
      "description": "The method details per method in the CSS API."
    },
    "Price": {
      "properties": {
        "amountMicros": {
          "description": "The price represented as a number in micros (1 million micros is an equivalent to one's currency standard unit, for example, 1 USD = 1000000 micros).",
          "format": "int64",
          "type": "string"
        },
        "currencyCode": {
          "description": "The currency of the price using three-letter acronyms according to [ISO 4217](http://en.wikipedia.org/wiki/ISO_4217).",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The price represented as a number and currency.",
      "id": "Price"
    },
    "Certification": {
      "properties": {
        "name": {
          "description": "The name of the certification. At this time, the most common value is \"EPREL\", which represents energy efficiency certifications in the EU European Registry for Energy Labeling (EPREL) database.",
          "type": "string"
        },
        "code": {
          "description": "The code of the certification. For example, for the EPREL certificate with the link https://eprel.ec.europa.eu/screen/product/dishwashers2019/123456 the code is 123456. The code is required for European Energy Labels.",
          "type": "string"
        },
        "authority": {
          "type": "string",
          "description": "The authority or certification body responsible for issuing the certification. At this time, the most common value is \"EC\" or “European_Commission” for energy labels in the EU."
        }
      },
      "id": "Certification",
      "type": "object",
      "description": "The certification for the product. Use the this attribute to describe certifications, such as energy efficiency ratings, associated with a product."
    },
    "ProductDetail": {
      "type": "object",
      "id": "ProductDetail",
      "description": "The product details.",
      "properties": {
        "attributeValue": {
          "description": "The value of the product detail.",
          "type": "string"
        },
        "attributeName": {
          "type": "string",
          "description": "The name of the product detail."
        },
        "sectionName": {
          "type": "string",
          "description": "The section header used to group a set of product details."
        }
      }
    },
    "Attributes": {
      "description": "Attributes for CSS Product.",
      "type": "object",
      "properties": {
        "headlineOfferLink": {
          "description": "Link to the headline offer.",
          "type": "string"
        },
        "headlineOfferCondition": {
          "type": "string",
          "description": "Condition of the headline offer."
        },
        "lowPrice": {
          "description": "Low Price of the CSS Product.",
          "$ref": "Price"
        },
        "highPrice": {
          "description": "High Price of the CSS Product.",
          "$ref": "Price"
        },
        "productHeight": {
          "description": "The height of the product in the units provided. The value must be between 0 (exclusive) and 3000 (inclusive).",
          "$ref": "ProductDimension"
        },
        "size": {
          "type": "string",
          "description": "Size of the item. Only one value is allowed. For variants with different sizes, insert a separate product for each size with the same `itemGroupId` value (see [https://support.google.com/merchants/answer/6324492](size definition))."
        },
        "color": {
          "type": "string",
          "description": "Color of the item."
        },
        "brand": {
          "type": "string",
          "description": "Product Related Attributes.[14-36] Brand of the item."
        },
        "imageLink": {
          "description": "URL of an image of the item.",
          "type": "string"
        },
        "customLabel3": {
          "description": "Custom label 3 for custom grouping of items in a Shopping campaign.",
          "type": "string"
        },
        "cppMobileLink": {
          "type": "string",
          "description": "URL for the mobile-optimized version of the Product Detail Page of the CSS."
        },
        "productWidth": {
          "$ref": "ProductDimension",
          "description": "The width of the product in the units provided. The value must be between 0 (exclusive) and 3000 (inclusive)."
        },
        "productHighlights": {
          "type": "array",
          "description": "Bullet points describing the most relevant highlights of a product.",
          "items": {
            "type": "string"
          }
        },
        "productLength": {
          "description": "The length of the product in the units provided. The value must be between 0 (exclusive) and 3000 (inclusive).",
          "$ref": "ProductDimension"
        },
        "pause": {
          "type": "string",
          "description": "Publication of this item will be temporarily paused."
        },
        "expirationDate": {
          "type": "string",
          "description": "Date on which the item should expire, as specified upon insertion, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format. The actual expiration date is exposed in `productstatuses` as [googleExpirationDate](https://support.google.com/merchants/answer/6324499) and might be earlier if `expirationDate` is too far in the future. Note: It may take 2+ days from the expiration date for the item to actually get deleted.",
          "format": "google-datetime"
        },
        "numberOfOffers": {
          "type": "string",
          "description": "The number of CSS Products.",
          "format": "int64"
        },
        "gtin": {
          "type": "string",
          "description": "Global Trade Item Number ([GTIN](https://support.google.com/merchants/answer/188494#gtin)) of the item."
        },
        "headlineOfferPrice": {
          "description": "Headline Price of the CSS Product.",
          "$ref": "Price"
        },
        "sizeSystem": {
          "description": "System in which the size is specified. Recommended for apparel items.",
          "type": "string"
        },
        "title": {
          "description": "Title of the item.",
          "type": "string"
        },
        "excludedDestinations": {
          "description": "The list of destinations to exclude for this target (corresponds to unchecked check boxes in Merchant Center).",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "isBundle": {
          "description": "Whether the item is a merchant-defined bundle. A bundle is a custom grouping of different products sold by a merchant for a single price.",
          "type": "boolean"
        },
        "ageGroup": {
          "type": "string",
          "description": "Target age group of the item."
        },
        "multipack": {
          "format": "int64",
          "description": "The number of identical products in a merchant-defined multipack.",
          "type": "string"
        },
        "pattern": {
          "type": "string",
          "description": "The item's pattern (e.g. polka dots)."
        },
        "adult": {
          "description": "Set to true if the item is targeted towards adults.",
          "type": "boolean"
        },
        "customLabel2": {
          "type": "string",
          "description": "Custom label 2 for custom grouping of items in a Shopping campaign."
        },
        "customLabel4": {
          "description": "Custom label 4 for custom grouping of items in a Shopping campaign.",
          "type": "string"
        },
        "customLabel1": {
          "description": "Custom label 1 for custom grouping of items in a Shopping campaign.",
          "type": "string"
        },
        "certifications": {
          "type": "array",
          "description": "A list of certificates claimed by the CSS for the given product.",
          "items": {
            "$ref": "Certification"
          }
        },
        "productTypes": {
          "description": "Categories of the item (formatted as in [products data specification](https://support.google.com/merchants/answer/6324406)).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "description": {
          "description": "Description of the item.",
          "type": "string"
        },
        "headlineOfferMobileLink": {
          "type": "string",
          "description": "Mobile Link to the headline offer."
        },
        "cppAdsRedirect": {
          "type": "string",
          "description": "Allows advertisers to override the item URL when the product is shown within the context of Product Ads."
        },
        "reviewCount": {
          "description": "Number of reviews of the product. Required if `rating` is provided. This field is for an upcoming feature and is not yet used.",
          "format": "int64",
          "type": "string"
        },
        "headlineOfferSubscriptionCost": {
          "description": "Number of periods (months or years) and amount of payment per period for an item with an associated subscription contract.",
          "$ref": "HeadlineOfferSubscriptionCost"
        },
        "cppLink": {
          "type": "string",
          "description": "URL directly linking to your the Product Detail Page of the CSS."
        },
        "customLabel0": {
          "type": "string",
          "description": "Custom label 0 for custom grouping of items in a Shopping campaign."
        },
        "itemGroupId": {
          "description": "Shared identifier for all variants of the same product.",
          "type": "string"
        },
        "googleProductCategory": {
          "type": "string",
          "description": "Google's category of the item (see [Google product taxonomy](https://support.google.com/merchants/answer/1705911)). When querying products, this field will contain the user provided value. There is currently no way to get back the auto assigned google product categories through the API."
        },
        "includedDestinations": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of destinations to include for this target (corresponds to checked check boxes in Merchant Center). Default destinations are always included unless provided in `excludedDestinations`."
        },
        "maxRating": {
          "type": "string",
          "format": "int64",
          "description": "Maximum rating score of the product. Required if `rating` is provided. This field is for an upcoming feature and is not yet used."
        },
        "rating": {
          "format": "double",
          "type": "number",
          "description": "Average rating score of the product. The value must be within the range of [`min_rating`, `max_rating`], inclusive. When displayed on the product page, this rating is normalized to a scale of [1, 5] with one decimal place. If provided, `review_count`, `min_rating`, and `max_rating` are also required. This field is for an upcoming feature and is not yet used."
        },
        "sizeTypes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The cut of the item. It can be used to represent combined size types for apparel items. Maximum two of size types can be provided (see [size type](https://support.google.com/merchants/answer/6324497)."
        },
        "productWeight": {
          "description": "The weight of the product in the units provided. The value must be between 0 (exclusive) and 2000 (inclusive).",
          "$ref": "ProductWeight"
        },
        "headlineOfferShippingPrice": {
          "description": "Headline Price of the CSS Product.",
          "$ref": "Price"
        },
        "material": {
          "type": "string",
          "description": "The material of which the item is made."
        },
        "productDetails": {
          "type": "array",
          "items": {
            "$ref": "ProductDetail"
          },
          "description": "Technical specification or additional product details."
        },
        "minRating": {
          "type": "string",
          "format": "int64",
          "description": "Minimum rating score of the product. Required if `rating` is provided. This field is for an upcoming feature and is not yet used."
        },
        "additionalImageLinks": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Additional URL of images of the item."
        },
        "mpn": {
          "type": "string",
          "description": "Manufacturer Part Number ([MPN](https://support.google.com/merchants/answer/188494#mpn)) of the item."
        },
        "gender": {
          "description": "Target gender of the item.",
          "type": "string"
        },
        "headlineOfferInstallment": {
          "$ref": "HeadlineOfferInstallment",
          "description": "Number and amount of installments to pay for an item."
        }
      },
      "id": "Attributes"
    },
    "ListChildAccountsResponse": {
      "type": "object",
      "description": "Response message for the `ListChildAccounts` method.",
      "id": "ListChildAccountsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "accounts": {
          "type": "array",
          "items": {
            "$ref": "Account"
          },
          "description": "The CSS/MC accounts returned for the specified CSS parent account."
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "ListCssProductsResponse": {
      "id": "ListCssProductsResponse",
      "properties": {
        "cssProducts": {
          "type": "array",
          "items": {
            "$ref": "CssProduct"
          },
          "description": "The processed CSS products from the specified account. These are your processed CSS products after applying rules and supplemental feeds."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for the ListCssProducts method.",
      "type": "object"
    }
  },
  "protocol": "rest",
  "version": "v1",
  "parameters": {
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    }
  },
  "canonicalName": "Css",
  "resources": {
    "accounts": {
      "resources": {
        "cssProducts": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "ListCssProductsResponse"
              },
              "id": "css.accounts.cssProducts.list",
              "description": "Lists the processed CSS Products in your CSS Center account. The response might contain fewer items than specified by pageSize. Rely on pageToken to determine if there are more items to be requested. After inserting, updating, or deleting a CSS product input, it may take several minutes before the updated processed CSS product can be retrieved.",
              "path": "v1/{+parent}/cssProducts",
              "flatPath": "v1/accounts/{accountsId}/cssProducts",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token, received from a previous `ListCssProducts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListCssProducts` must match the call that provided the page token."
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "The maximum number of CSS Products to return. The service may return fewer than this value. The maximum value is 1000; values above 1000 will be coerced to 1000. If unspecified, the maximum number of CSS products will be returned.",
                  "type": "integer"
                },
                "parent": {
                  "location": "path",
                  "pattern": "^accounts/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The account/domain to list processed CSS Products for. Format: accounts/{account}"
                }
              }
            },
            "get": {
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "flatPath": "v1/accounts/{accountsId}/cssProducts/{cssProductsId}",
              "id": "css.accounts.cssProducts.get",
              "description": "Retrieves the processed CSS Product from your CSS Center account. After inserting, updating, or deleting a product input, it may take several minutes before the updated final product can be retrieved.",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "CssProduct"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^accounts/[^/]+/cssProducts/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the CSS product to retrieve. Format: `accounts/{account}/cssProducts/{css_product}`"
                }
              }
            }
          }
        },
        "quotas": {
          "methods": {
            "list": {
              "path": "v1/{+parent}/quotas",
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. The CSS account that owns the collection of method quotas and resources. In most cases, this is the CSS domain. Format: accounts/{account}",
                  "location": "path"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "Optional. The maximum number of quotas to return in the response, used for paging. Defaults to 500; values above 1000 will be coerced to 1000.",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. Token (if provided) to retrieve the subsequent page. All other parameters must match the original call that provided the page token.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListQuotaGroupsResponse"
              },
              "flatPath": "v1/accounts/{accountsId}/quotas",
              "description": "Lists the daily call quota and usage per group for your CSS Center account.",
              "httpMethod": "GET",
              "id": "css.accounts.quotas.list"
            }
          }
        },
        "cssProductInputs": {
          "methods": {
            "insert": {
              "flatPath": "v1/accounts/{accountsId}/cssProductInputs:insert",
              "path": "v1/{+parent}/cssProductInputs:insert",
              "id": "css.accounts.cssProductInputs.insert",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "CssProductInput"
              },
              "description": "Uploads a CssProductInput to your CSS Center account. If an input with the same contentLanguage, identity, feedLabel and feedId already exists, this method replaces that entry. After inserting, updating, or deleting a CSS Product input, it may take several minutes before the processed CSS Product can be retrieved.",
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "description": "Required. The account where this CSS Product will be inserted. Format: accounts/{account}"
                },
                "feedId": {
                  "description": "Optional. DEPRECATED. Feed id is not required for CSS Products. The primary or supplemental feed id. If CSS Product already exists and feed id provided is different, then the CSS Product will be moved to a new feed. Note: For now, CSSs do not need to provide feed ids as we create feeds on the fly. We do not have supplemental feed support for CSS Products yet.",
                  "format": "int64",
                  "location": "query",
                  "deprecated": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "CssProductInput"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "httpMethod": "POST"
            },
            "patch": {
              "description": "Updates the existing Css Product input in your CSS Center account. After inserting, updating, or deleting a CSS Product input, it may take several minutes before the processed Css Product can be retrieved.",
              "id": "css.accounts.cssProductInputs.patch",
              "path": "v1/{+name}",
              "flatPath": "v1/accounts/{accountsId}/cssProductInputs/{cssProductInputsId}",
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^accounts/[^/]+/cssProductInputs/[^/]+$",
                  "type": "string",
                  "description": "Identifier. The name of the CSS Product input. Format: `accounts/{account}/cssProductInputs/{css_product_input}`, where the last section `css_product_input` consists of 3 parts: contentLanguage~feedLabel~offerId. Example: accounts/123/cssProductInputs/de~DE~rawProvidedId123",
                  "required": true
                },
                "updateMask": {
                  "type": "string",
                  "location": "query",
                  "description": "The list of CSS product attributes to be updated. If the update mask is omitted, then it is treated as implied field mask equivalent to all fields that are populated (have a non-empty value). Attributes specified in the update mask without a value specified in the body will be deleted from the CSS product. Update mask can only be specified for top level fields in attributes and custom attributes. To specify the update mask for custom attributes you need to add the `custom_attribute.` prefix. Providing special \"*\" value for full CSS product replacement is not supported.",
                  "format": "google-fieldmask"
                }
              },
              "response": {
                "$ref": "CssProductInput"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "request": {
                "$ref": "CssProductInput"
              },
              "parameterOrder": [
                "name"
              ]
            },
            "delete": {
              "path": "v1/{+name}",
              "flatPath": "v1/accounts/{accountsId}/cssProductInputs/{cssProductInputsId}",
              "description": "Deletes a CSS Product input from your CSS Center account. After a delete it may take several minutes until the input is no longer available.",
              "id": "css.accounts.cssProductInputs.delete",
              "httpMethod": "DELETE",
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^accounts/[^/]+/cssProductInputs/[^/]+$",
                  "description": "Required. The name of the CSS product input resource to delete. Format: accounts/{account}/cssProductInputs/{css_product_input}, where the last section `css_product_input` consists of 3 parts: contentLanguage~feedLabel~offerId. Example: accounts/123/cssProductInputs/de~DE~rawProvidedId123",
                  "type": "string",
                  "required": true
                },
                "supplementalFeedId": {
                  "type": "string",
                  "description": "The Content API Supplemental Feed ID. The field must not be set if the action applies to a primary feed. If the field is set, then product action applies to a supplemental feed instead of primary Content API feed.",
                  "location": "query",
                  "format": "int64"
                }
              },
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "labels": {
          "methods": {
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Creates a new label, not assigned to any account.",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "AccountLabel"
              },
              "request": {
                "$ref": "AccountLabel"
              },
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The parent account. Format: accounts/{account}",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path"
                }
              },
              "id": "css.accounts.labels.create",
              "httpMethod": "POST",
              "path": "v1/{+parent}/labels",
              "flatPath": "v1/accounts/{accountsId}/labels"
            },
            "delete": {
              "path": "v1/{+name}",
              "id": "css.accounts.labels.delete",
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "httpMethod": "DELETE",
              "flatPath": "v1/accounts/{accountsId}/labels/{labelsId}",
              "parameters": {
                "name": {
                  "description": "Required. The name of the label to delete. Format: accounts/{account}/labels/{label}",
                  "location": "path",
                  "type": "string",
                  "pattern": "^accounts/[^/]+/labels/[^/]+$",
                  "required": true
                }
              },
              "description": "Deletes a label and removes it from all accounts to which it was assigned."
            },
            "patch": {
              "flatPath": "v1/accounts/{accountsId}/labels/{labelsId}",
              "request": {
                "$ref": "AccountLabel"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "httpMethod": "PATCH",
              "response": {
                "$ref": "AccountLabel"
              },
              "description": "Updates a label.",
              "id": "css.accounts.labels.patch",
              "parameters": {
                "name": {
                  "description": "Identifier. The resource name of the label. Format: accounts/{account}/labels/{label}",
                  "required": true,
                  "pattern": "^accounts/[^/]+/labels/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}"
            },
            "list": {
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "id": "css.accounts.labels.list",
              "response": {
                "$ref": "ListAccountLabelsResponse"
              },
              "description": "Lists the labels owned by an account.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "v1/accounts/{accountsId}/labels",
              "path": "v1/{+parent}/labels",
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The parent account. Format: accounts/{account}",
                  "pattern": "^accounts/[^/]+$"
                },
                "pageSize": {
                  "location": "query",
                  "description": "The maximum number of labels to return. The service may return fewer than this value. If unspecified, at most 50 labels will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "format": "int32",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "A page token, received from a previous `ListAccountLabels` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccountLabels` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "methods": {
        "listChildAccounts": {
          "id": "css.accounts.listChildAccounts",
          "response": {
            "$ref": "ListChildAccountsResponse"
          },
          "description": "Lists all the accounts under the specified CSS account ID, and optionally filters by label ID and account name.",
          "parameters": {
            "fullName": {
              "description": "If set, only the MC accounts with the given name (case sensitive) will be returned.",
              "type": "string",
              "location": "query"
            },
            "labelId": {
              "location": "query",
              "description": "If set, only the MC accounts with the given label ID will be returned.",
              "type": "string",
              "format": "int64"
            },
            "parent": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. The parent account. Must be a CSS group or domain. Format: accounts/{account}",
              "pattern": "^accounts/[^/]+$"
            },
            "pageSize": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Optional. The maximum number of accounts to return. The service may return fewer than this value. If unspecified, at most 50 accounts will be returned. The maximum value is 100; values above 100 will be coerced to 100."
            },
            "pageToken": {
              "description": "Optional. A page token, received from a previous `ListChildAccounts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListChildAccounts` must match the call that provided the page token.",
              "type": "string",
              "location": "query"
            }
          },
          "flatPath": "v1/accounts/{accountsId}:listChildAccounts",
          "httpMethod": "GET",
          "parameterOrder": [
            "parent"
          ],
          "path": "v1/{+parent}:listChildAccounts",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "get": {
          "httpMethod": "GET",
          "path": "v1/{+name}",
          "flatPath": "v1/accounts/{accountsId}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "parent": {
              "description": "Optional. Only required when retrieving MC account information. The CSS domain that is the parent resource of the MC account. Format: accounts/{account}",
              "location": "query",
              "type": "string"
            },
            "name": {
              "location": "path",
              "description": "Required. The name of the managed CSS/MC account. Format: accounts/{account}",
              "type": "string",
              "required": true,
              "pattern": "^accounts/[^/]+$"
            }
          },
          "response": {
            "$ref": "Account"
          },
          "description": "Retrieves a single CSS/MC account by ID.",
          "parameterOrder": [
            "name"
          ],
          "id": "css.accounts.get"
        },
        "updateLabels": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "POST",
          "flatPath": "v1/accounts/{accountsId}:updateLabels",
          "description": "Updates labels assigned to CSS/MC accounts by a CSS domain.",
          "request": {
            "$ref": "UpdateAccountLabelsRequest"
          },
          "id": "css.accounts.updateLabels",
          "path": "v1/{+name}:updateLabels",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Account"
          },
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^accounts/[^/]+$",
              "location": "path",
              "description": "Required. The label resource name. Format: accounts/{account}",
              "required": true
            }
          }
        }
      }
    }
  },
  "revision": "20260826"
}