{
  "batchPath": "batch",
  "title": "Datastream API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "mtlsRootUrl": "https://datastream.mtls.googleapis.com/",
  "canonicalName": "Datastream",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "version": "v1",
  "schemas": {
    "OracleRdbms": {
      "description": "Oracle database structure.",
      "properties": {
        "oracleSchemas": {
          "description": "Oracle schemas/databases in the database server.",
          "items": {
            "$ref": "OracleSchema"
          },
          "type": "array"
        }
      },
      "id": "OracleRdbms",
      "type": "object"
    },
    "SourceConfig": {
      "id": "SourceConfig",
      "type": "object",
      "description": "The configuration of the stream source.",
      "properties": {
        "mysqlSourceConfig": {
          "$ref": "MysqlSourceConfig",
          "description": "MySQL data source configuration."
        },
        "mongodbSourceConfig": {
          "$ref": "MongodbSourceConfig",
          "description": "MongoDB data source configuration."
        },
        "sourceConnectionProfile": {
          "description": "Required. Source connection profile resource. Format: `projects/{project}/locations/{location}/connectionProfiles/{name}`",
          "type": "string"
        },
        "oracleSourceConfig": {
          "$ref": "OracleSourceConfig",
          "description": "Oracle data source configuration."
        },
        "sqlServerSourceConfig": {
          "description": "SQLServer data source configuration.",
          "$ref": "SqlServerSourceConfig"
        },
        "dataverseSourceConfig": {
          "description": "Dataverse data source configuration.",
          "$ref": "DataverseSourceConfig"
        },
        "postgresqlSourceConfig": {
          "$ref": "PostgresqlSourceConfig",
          "description": "PostgreSQL data source configuration."
        },
        "salesforceSourceConfig": {
          "description": "Salesforce data source configuration.",
          "$ref": "SalesforceSourceConfig"
        },
        "spannerSourceConfig": {
          "description": "Spanner data source configuration.",
          "$ref": "SpannerSourceConfig"
        },
        "salesforceMarketingCloudSourceConfig": {
          "$ref": "SalesforceMarketingCloudSourceConfig",
          "description": "Salesforce Marketing Cloud data source configuration."
        },
        "serviceNowSourceConfig": {
          "description": "ServiceNow data source configuration.",
          "$ref": "ServiceNowSourceConfig"
        }
      }
    },
    "SpannerTable": {
      "description": "Spanner table.",
      "properties": {
        "columns": {
          "description": "Optional. Spanner columns in the table.",
          "items": {
            "$ref": "SpannerColumn"
          },
          "type": "array"
        },
        "table": {
          "description": "Required. The table name.",
          "type": "string"
        }
      },
      "id": "SpannerTable",
      "type": "object"
    },
    "PostgresqlSourceConfig": {
      "id": "PostgresqlSourceConfig",
      "type": "object",
      "description": "Configuration for syncing data from a PostgreSQL source.",
      "properties": {
        "replicationSlot": {
          "description": "Required. Immutable. The name of the logical replication slot that's configured with the pgoutput plugin.",
          "type": "string"
        },
        "excludeObjects": {
          "$ref": "PostgresqlRdbms",
          "description": "The PostgreSQL objects to exclude from the stream."
        },
        "maxConcurrentBackfillTasks": {
          "format": "int32",
          "description": "Maximum number of concurrent backfill tasks. The number should be non negative. If not set (or set to 0), the system's default value will be used.",
          "type": "integer"
        },
        "includeObjects": {
          "$ref": "PostgresqlRdbms",
          "description": "The PostgreSQL objects to include in the stream."
        },
        "publication": {
          "description": "Required. The name of the publication that includes the set of all tables that are defined in the stream's include_objects.",
          "type": "string"
        }
      }
    },
    "SalesforceMarketingCloudSourceConfig": {
      "description": "Configuration for syncing data from a Salesforce Marketing Cloud source.",
      "properties": {
        "excludeObjects": {
          "$ref": "SourceCatalog",
          "description": "Optional. The objects to exclude from the stream."
        },
        "pollingInterval": {
          "description": "Required. Incremental sync polling interval for all objects. If not set, a default value of `5 minutes` is used. The duration must be from `5 minutes` to `24 hours`, inclusive.",
          "format": "google-duration",
          "type": "string"
        },
        "includeObjects": {
          "$ref": "SourceCatalog",
          "description": "Optional. The objects to retrieve from the source."
        },
        "fullRefreshPollingInterval": {
          "format": "google-duration",
          "description": "Required. Specifies the polling interval for a full refresh of objects that do not support incremental sync. If not set, a default value of 24 hours is used. The duration must be between 1 and 24 hours, inclusive.",
          "type": "string"
        }
      },
      "id": "SalesforceMarketingCloudSourceConfig",
      "type": "object"
    },
    "BasicEncryption": {
      "description": "Message to represent the option where Datastream will enforce encryption without authenticating server identity. Server certificates will be trusted by default.",
      "properties": {},
      "id": "BasicEncryption",
      "type": "object"
    },
    "FieldViolation": {
      "description": "A message type used to describe a single bad request field.",
      "properties": {
        "field": {
          "description": "A path that leads to a field in the request body. The value will be a sequence of dot-separated identifiers that identify a protocol buffer field. Consider the following: message CreateContactRequest { message EmailAddress { enum Type { TYPE_UNSPECIFIED = 0; HOME = 1; WORK = 2; } optional string email = 1; repeated EmailType type = 2; } string full_name = 1; repeated EmailAddress email_addresses = 2; } In this example, in proto `field` could take one of the following values: * `full_name` for a violation in the `full_name` value * `email_addresses[0].email` for a violation in the `email` field of the first `email_addresses` message * `email_addresses[2].type[1]` for a violation in the second `type` value in the third `email_addresses` message. In JSON, the same values are represented as: * `fullName` for a violation in the `fullName` value * `emailAddresses[0].email` for a violation in the `email` field of the first `emailAddresses` message * `emailAddresses[2].type[1]` for a violation in the second `type` value in the third `emailAddresses` message.",
          "type": "string"
        },
        "reason": {
          "description": "The reason of the field-level error. This is a constant value that identifies the proximate cause of the field-level error. It should uniquely identify the type of the FieldViolation within the scope of the google.rpc.ErrorInfo.domain. This should be at most 63 characters and match a regular expression of `A-Z+[A-Z0-9]`, which represents UPPER_SNAKE_CASE.",
          "type": "string"
        },
        "description": {
          "description": "A description of why the request element is bad.",
          "type": "string"
        },
        "localizedMessage": {
          "description": "Provides a localized error message for field-level errors that is safe to return to the API consumer.",
          "$ref": "LocalizedMessage"
        }
      },
      "id": "FieldViolation",
      "type": "object"
    },
    "NextAvailableStartPosition": {
      "id": "NextAvailableStartPosition",
      "type": "object",
      "description": "CDC strategy to resume replication from the next available position in the source.",
      "properties": {}
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "id": "Location",
      "type": "object"
    },
    "PrivateConnection": {
      "id": "PrivateConnection",
      "type": "object",
      "description": "The PrivateConnection resource is used to establish private connectivity between Datastream and a customer's network.",
      "properties": {
        "error": {
          "description": "Output only. In case of error, the details of the error in a user-friendly format.",
          "readOnly": true,
          "$ref": "Error"
        },
        "satisfiesPzs": {
          "readOnly": true,
          "description": "Output only. Reserved for future use.",
          "type": "boolean"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels.",
          "type": "object"
        },
        "satisfiesPzi": {
          "type": "boolean",
          "description": "Output only. Reserved for future use.",
          "readOnly": true
        },
        "pscInterfaceConfig": {
          "$ref": "PscInterfaceConfig",
          "description": "PSC Interface Config."
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state.",
            "The private connection is in creation state - creating resources.",
            "The private connection has been created with all of its resources.",
            "The private connection creation has failed.",
            "The private connection is being deleted.",
            "Delete request has failed, resource is in invalid state."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "CREATED",
            "FAILED",
            "DELETING",
            "FAILED_TO_DELETE"
          ],
          "type": "string",
          "description": "Output only. The state of the Private Connection."
        },
        "createTime": {
          "description": "Output only. The create time of the resource.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The update time of the resource.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "vpcPeeringConfig": {
          "$ref": "VpcPeeringConfig",
          "description": "VPC Peering Config."
        },
        "name": {
          "description": "Output only. Identifier. The resource's name.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Required. Display name.",
          "type": "string"
        }
      }
    },
    "Link": {
      "description": "Describes a URL link.",
      "properties": {
        "description": {
          "description": "Describes what the link offers.",
          "type": "string"
        },
        "url": {
          "description": "The URL of the link.",
          "type": "string"
        }
      },
      "id": "Link",
      "type": "object"
    },
    "TimeUnitPartition": {
      "id": "TimeUnitPartition",
      "type": "object",
      "description": "Time unit column partitioning. see https://cloud.google.com/bigquery/docs/partitioned-tables#date_timestamp_partitioned_tables",
      "properties": {
        "column": {
          "description": "Required. The partitioning column.",
          "type": "string"
        },
        "partitioningTimeGranularity": {
          "enumDescriptions": [
            "Unspecified partitioing interval.",
            "Hourly partitioning.",
            "Daily partitioning.",
            "Monthly partitioning.",
            "Yearly partitioning."
          ],
          "type": "string",
          "enum": [
            "PARTITIONING_TIME_GRANULARITY_UNSPECIFIED",
            "PARTITIONING_TIME_GRANULARITY_HOUR",
            "PARTITIONING_TIME_GRANULARITY_DAY",
            "PARTITIONING_TIME_GRANULARITY_MONTH",
            "PARTITIONING_TIME_GRANULARITY_YEAR"
          ],
          "description": "Optional. Partition granularity."
        }
      }
    },
    "SqlServerSchema": {
      "id": "SqlServerSchema",
      "type": "object",
      "description": "SQLServer schema.",
      "properties": {
        "schema": {
          "description": "The schema name.",
          "type": "string"
        },
        "tables": {
          "items": {
            "$ref": "SqlServerTable"
          },
          "description": "Tables in the schema.",
          "type": "array"
        }
      }
    },
    "CustomizationRule": {
      "description": "A customization rule to apply to a set of objects.",
      "properties": {
        "bigqueryPartitioning": {
          "description": "BigQuery partitioning rule.",
          "$ref": "BigQueryPartitioning"
        },
        "bigqueryClustering": {
          "description": "BigQuery clustering rule.",
          "$ref": "BigQueryClustering"
        }
      },
      "id": "CustomizationRule",
      "type": "object"
    },
    "OracleTable": {
      "id": "OracleTable",
      "type": "object",
      "description": "Oracle table.",
      "properties": {
        "oracleColumns": {
          "type": "array",
          "description": "Oracle columns in the schema. When unspecified as part of include/exclude objects, includes/excludes everything.",
          "items": {
            "$ref": "OracleColumn"
          }
        },
        "table": {
          "description": "The table name.",
          "type": "string"
        }
      }
    },
    "SpannerProfile": {
      "description": "Profile for connecting to a Spanner source.",
      "properties": {
        "host": {
          "description": "Optional. The Spanner endpoint to connect to. Defaults to the global endpoint (https://spanner.googleapis.com). Must be in the format: https://spanner.{region}.rep.googleapis.com.",
          "type": "string"
        },
        "database": {
          "description": "Required. Immutable. Cloud Spanner database resource. This field is immutable. Must be in the format: projects/{project}/instances/{instance}/databases/{database_id}.",
          "type": "string"
        }
      },
      "id": "SpannerProfile",
      "type": "object"
    },
    "OracleSchema": {
      "id": "OracleSchema",
      "type": "object",
      "description": "Oracle schema.",
      "properties": {
        "oracleTables": {
          "type": "array",
          "description": "Tables in the schema.",
          "items": {
            "$ref": "OracleTable"
          }
        },
        "schema": {
          "description": "The schema name.",
          "type": "string"
        }
      }
    },
    "GcsDestinationConfig": {
      "description": "Google Cloud Storage destination configuration",
      "properties": {
        "fileRotationInterval": {
          "type": "string",
          "description": "The maximum duration for which new events are added before a file is closed and a new file is created. Values within the range of 15-60 seconds are allowed.",
          "format": "google-duration"
        },
        "fileRotationMb": {
          "format": "int32",
          "description": "The maximum file size to be saved in the bucket.",
          "type": "integer"
        },
        "jsonFileFormat": {
          "$ref": "JsonFileFormat",
          "description": "JSON file format configuration."
        },
        "path": {
          "description": "Path inside the Cloud Storage bucket to write data to.",
          "type": "string"
        },
        "avroFileFormat": {
          "$ref": "AvroFileFormat",
          "description": "AVRO file format configuration."
        }
      },
      "id": "GcsDestinationConfig",
      "type": "object"
    },
    "ListPrivateConnectionsResponse": {
      "description": "Response containing a list of private connection configurations.",
      "properties": {
        "privateConnections": {
          "type": "array",
          "description": "List of private connectivity configurations.",
          "items": {
            "$ref": "PrivateConnection"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      },
      "id": "ListPrivateConnectionsResponse",
      "type": "object"
    },
    "StaticServiceIpConnectivity": {
      "id": "StaticServiceIpConnectivity",
      "type": "object",
      "description": "Static IP address connectivity. Used when the source database is configured to allow incoming connections from the Datastream public IP addresses for the region specified in the connection profile.",
      "properties": {}
    },
    "DiscoverConnectionProfileRequest": {
      "id": "DiscoverConnectionProfileRequest",
      "type": "object",
      "description": "Request message for 'discover' ConnectionProfile request.",
      "properties": {
        "spannerDatabase": {
          "$ref": "SpannerDatabase",
          "description": "Optional. Spanner database to enrich with child data objects and metadata."
        },
        "connectionProfileName": {
          "description": "Optional. A reference to an existing connection profile.",
          "type": "string"
        },
        "hierarchyDepth": {
          "description": "Optional. The number of hierarchy levels below the current level to be retrieved.",
          "format": "int32",
          "type": "integer"
        },
        "postgresqlRdbms": {
          "$ref": "PostgresqlRdbms",
          "description": "Optional. PostgreSQL RDBMS to enrich with child data objects and metadata."
        },
        "sqlServerRdbms": {
          "description": "Optional. SQLServer RDBMS to enrich with child data objects and metadata.",
          "$ref": "SqlServerRdbms"
        },
        "oracleRdbms": {
          "description": "Optional. Oracle RDBMS to enrich with child data objects and metadata.",
          "$ref": "OracleRdbms"
        },
        "fullHierarchy": {
          "description": "Optional. Whether to retrieve the full hierarchy of data objects (TRUE) or only the current level (FALSE).",
          "type": "boolean"
        },
        "mongodbCluster": {
          "$ref": "MongodbCluster",
          "description": "Optional. MongoDB cluster to enrich with child data objects and metadata."
        },
        "sourceCatalog": {
          "description": "Optional. Source catalog to enrich with child data objects and metadata. This is mainly used to represent SaaS sources databases.",
          "$ref": "SourceCatalog"
        },
        "connectionProfile": {
          "$ref": "ConnectionProfile",
          "description": "Optional. An ad-hoc connection profile configuration."
        },
        "mysqlRdbms": {
          "description": "Optional. MySQL RDBMS to enrich with child data objects and metadata.",
          "$ref": "MysqlRdbms"
        },
        "salesforceOrg": {
          "$ref": "SalesforceOrg",
          "description": "Optional. Salesforce organization to enrich with child data objects and metadata."
        }
      }
    },
    "OracleSourceConfig": {
      "id": "OracleSourceConfig",
      "type": "object",
      "description": "Configuration for syncing data from an Oracle source.",
      "properties": {
        "streamLargeObjects": {
          "description": "Stream large object values.",
          "$ref": "StreamLargeObjects"
        },
        "maxConcurrentCdcTasks": {
          "type": "integer",
          "description": "Maximum number of concurrent CDC tasks. The number should be non-negative. If not set (or set to 0), the system's default value is used.",
          "format": "int32"
        },
        "logMiner": {
          "description": "Use LogMiner.",
          "$ref": "LogMiner"
        },
        "binaryLogParser": {
          "description": "Use Binary Log Parser.",
          "$ref": "BinaryLogParser"
        },
        "includeObjects": {
          "$ref": "OracleRdbms",
          "description": "The Oracle objects to include in the stream."
        },
        "dropLargeObjects": {
          "$ref": "DropLargeObjects",
          "description": "Drop large object values."
        },
        "maxConcurrentBackfillTasks": {
          "type": "integer",
          "description": "Maximum number of concurrent backfill tasks. The number should be non-negative. If not set (or set to 0), the system's default value is used.",
          "format": "int32"
        },
        "excludeObjects": {
          "$ref": "OracleRdbms",
          "description": "The Oracle objects to exclude from the stream."
        }
      }
    },
    "PreconditionFailureViolation": {
      "id": "PreconditionFailureViolation",
      "type": "object",
      "description": "A message type used to describe a single precondition failure.",
      "properties": {
        "subject": {
          "description": "The subject, relative to the type, that failed. For example, \"google.com/cloud\" relative to the \"TOS\" type would indicate which terms of service is being referenced.",
          "type": "string"
        },
        "description": {
          "description": "A description of how the precondition failed. Developers can use this description to understand how to fix the failure. For example: \"Terms of service not accepted\".",
          "type": "string"
        },
        "type": {
          "description": "The type of PreconditionFailure. We recommend using a service-specific enum type to define the supported precondition violation subjects. For example, \"TOS\" for \"Terms of Service violation\".",
          "type": "string"
        }
      }
    },
    "LogFileDirectories": {
      "id": "LogFileDirectories",
      "type": "object",
      "description": "Configuration to specify the Oracle directories to access the log files.",
      "properties": {
        "onlineLogDirectory": {
          "description": "Required. Oracle directory for online logs.",
          "type": "string"
        },
        "archivedLogDirectory": {
          "description": "Required. Oracle directory for archived logs.",
          "type": "string"
        }
      }
    },
    "SpannerSchema": {
      "id": "SpannerSchema",
      "type": "object",
      "description": "Spanner schema.",
      "properties": {
        "schema": {
          "description": "Required. The schema name.",
          "type": "string"
        },
        "tables": {
          "description": "Optional. Spanner tables in the schema.",
          "items": {
            "$ref": "SpannerTable"
          },
          "type": "array"
        }
      }
    },
    "MongodbSourceConfig": {
      "id": "MongodbSourceConfig",
      "type": "object",
      "description": "Configuration for syncing data from a MongoDB source.",
      "properties": {
        "includeObjects": {
          "$ref": "MongodbCluster",
          "description": "The MongoDB collections to include in the stream."
        },
        "jsonMode": {
          "description": "Optional. MongoDB JSON mode to use for the stream.",
          "enum": [
            "MONGODB_JSON_MODE_UNSPECIFIED",
            "STRICT",
            "CANONICAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified JSON mode.",
            "Strict JSON mode.",
            "Canonical JSON mode."
          ]
        },
        "maxConcurrentBackfillTasks": {
          "type": "integer",
          "description": "Optional. Maximum number of concurrent backfill tasks. The number should be non-negative and less than or equal to 50. If not set (or set to 0), the system's default value is used",
          "format": "int32"
        },
        "excludeObjects": {
          "$ref": "MongodbCluster",
          "description": "The MongoDB collections to exclude from the stream."
        }
      }
    },
    "MostRecentStartPosition": {
      "description": "CDC strategy to start replicating from the most recent position in the source.",
      "properties": {},
      "id": "MostRecentStartPosition",
      "type": "object"
    },
    "BlmtConfig": {
      "description": "The configuration for BLMT.",
      "properties": {
        "rootPath": {
          "description": "The root path inside the Cloud Storage bucket.",
          "type": "string"
        },
        "connectionName": {
          "description": "Required. The bigquery connection. Format: `{project}.{location}.{name}`",
          "type": "string"
        },
        "fileFormat": {
          "description": "Required. The file format.",
          "enum": [
            "FILE_FORMAT_UNSPECIFIED",
            "PARQUET"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Parquet file format."
          ]
        },
        "bucket": {
          "description": "Required. The Cloud Storage bucket name.",
          "type": "string"
        },
        "tableFormat": {
          "enumDescriptions": [
            "Default value.",
            "Iceberg table format."
          ],
          "type": "string",
          "enum": [
            "TABLE_FORMAT_UNSPECIFIED",
            "ICEBERG"
          ],
          "description": "Required. The table format."
        }
      },
      "id": "BlmtConfig",
      "type": "object"
    },
    "RuleSet": {
      "description": "A set of rules to apply to a set of objects.",
      "properties": {
        "customizationRules": {
          "items": {
            "$ref": "CustomizationRule"
          },
          "description": "Required. List of customization rules to apply.",
          "type": "array"
        },
        "objectFilter": {
          "description": "Required. Object filter to apply the customization rules to.",
          "$ref": "ObjectFilter"
        }
      },
      "id": "RuleSet",
      "type": "object"
    },
    "MysqlRdbms": {
      "id": "MysqlRdbms",
      "type": "object",
      "description": "MySQL database structure",
      "properties": {
        "mysqlDatabases": {
          "description": "Mysql databases on the server",
          "items": {
            "$ref": "MysqlDatabase"
          },
          "type": "array"
        }
      }
    },
    "MongodbField": {
      "description": "MongoDB Field.",
      "properties": {
        "field": {
          "description": "The field name.",
          "type": "string"
        }
      },
      "id": "MongodbField",
      "type": "object"
    },
    "StandardConnectionFormat": {
      "id": "StandardConnectionFormat",
      "type": "object",
      "description": "Standard connection format.",
      "properties": {
        "directConnection": {
          "type": "boolean",
          "deprecated": true,
          "description": "Optional. Deprecated: Use the `additional_options` map to specify the `directConnection` parameter instead. For example: `additional_options = {\"directConnection\": \"true\"}`. Specifies whether the client connects directly to the host[:port] in the connection URI."
        }
      }
    },
    "SpannerDatabase": {
      "description": "Spanner database structure.",
      "properties": {
        "schemas": {
          "type": "array",
          "description": "Optional. Spanner schemas in the database.",
          "items": {
            "$ref": "SpannerSchema"
          }
        }
      },
      "id": "SpannerDatabase",
      "type": "object"
    },
    "ResourceInfo": {
      "id": "ResourceInfo",
      "type": "object",
      "description": "Describes the resource that is being accessed.",
      "properties": {
        "resourceType": {
          "description": "A name for the type of resource being accessed, e.g. \"sql table\", \"cloud storage bucket\", \"file\", \"Google calendar\"; or the type URL of the resource: e.g. \"type.googleapis.com/google.pubsub.v1.Topic\".",
          "type": "string"
        },
        "resourceName": {
          "description": "The name of the resource being accessed. For example, a shared calendar name: \"example.com_4fghdhgsrgh@group.calendar.google.com\", if the current error is google.rpc.Code.PERMISSION_DENIED.",
          "type": "string"
        },
        "owner": {
          "description": "The owner of the resource (optional). For example, \"user:\" or \"project:\".",
          "type": "string"
        },
        "description": {
          "description": "Describes what error is encountered when accessing this resource. For example, updating a cloud project may require the `writer` permission on the developer console project.",
          "type": "string"
        }
      }
    },
    "StreamLargeObjects": {
      "description": "Configuration to stream large object values.",
      "properties": {},
      "id": "StreamLargeObjects",
      "type": "object"
    },
    "MongodbCollection": {
      "description": "MongoDB Collection.",
      "properties": {
        "collection": {
          "description": "The collection name.",
          "type": "string"
        },
        "fields": {
          "type": "array",
          "description": "Fields in the collection.",
          "items": {
            "$ref": "MongodbField"
          }
        }
      },
      "id": "MongodbCollection",
      "type": "object"
    },
    "BigQueryDestinationConfig": {
      "description": "BigQuery destination configuration",
      "properties": {
        "dataFreshness": {
          "format": "google-duration",
          "description": "The guaranteed data freshness (in seconds) when querying tables created by the stream. Editing this field will only affect new tables created in the future, but existing tables will not be impacted. Lower values mean that queries will return fresher data, but may result in higher cost.",
          "type": "string"
        },
        "singleTargetDataset": {
          "$ref": "SingleTargetDataset",
          "description": "Single destination dataset."
        },
        "appendOnly": {
          "description": "Append only mode",
          "$ref": "AppendOnly"
        },
        "merge": {
          "description": "The standard mode",
          "$ref": "Merge"
        },
        "sourceHierarchyDatasets": {
          "$ref": "SourceHierarchyDatasets",
          "description": "Source hierarchy datasets."
        },
        "blmtConfig": {
          "description": "Optional. Big Lake Managed Tables (BLMT) configuration.",
          "$ref": "BlmtConfig"
        }
      },
      "id": "BigQueryDestinationConfig",
      "type": "object"
    },
    "SqlServerTable": {
      "description": "SQLServer table.",
      "properties": {
        "table": {
          "description": "The table name.",
          "type": "string"
        },
        "columns": {
          "type": "array",
          "items": {
            "$ref": "SqlServerColumn"
          },
          "description": "SQLServer columns in the schema. When unspecified as part of include/exclude objects, includes/excludes everything."
        }
      },
      "id": "SqlServerTable",
      "type": "object"
    },
    "EncryptionNotEnforced": {
      "description": "Message to represent the option where encryption is not enforced. An empty message right now to allow future extensibility.",
      "properties": {},
      "id": "EncryptionNotEnforced",
      "type": "object"
    },
    "Validation": {
      "id": "Validation",
      "type": "object",
      "description": "A validation to perform on a stream.",
      "properties": {
        "code": {
          "description": "A custom code identifying this validation.",
          "type": "string"
        },
        "description": {
          "description": "A short description of the validation.",
          "type": "string"
        },
        "state": {
          "description": "Output only. Validation execution status.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "NOT_EXECUTED",
            "FAILED",
            "PASSED",
            "WARNING"
          ],
          "enumDescriptions": [
            "Unspecified state.",
            "Validation did not execute.",
            "Validation failed.",
            "Validation passed.",
            "Validation executed with warnings."
          ]
        },
        "message": {
          "type": "array",
          "description": "Messages reflecting the validation results.",
          "items": {
            "$ref": "ValidationMessage"
          }
        }
      }
    },
    "MongodbCluster": {
      "id": "MongodbCluster",
      "type": "object",
      "description": "MongoDB Cluster structure.",
      "properties": {
        "databases": {
          "description": "MongoDB databases in the cluster.",
          "items": {
            "$ref": "MongodbDatabase"
          },
          "type": "array"
        }
      }
    },
    "BadRequest": {
      "description": "Describes violations in a client request. This error type focuses on the syntactic aspects of the request.",
      "properties": {
        "fieldViolations": {
          "items": {
            "$ref": "FieldViolation"
          },
          "description": "Describes all violations in a client request.",
          "type": "array"
        }
      },
      "id": "BadRequest",
      "type": "object"
    },
    "SourceObject": {
      "id": "SourceObject",
      "type": "object",
      "description": "Source object.",
      "properties": {
        "properties": {
          "description": "Optional. Source properties. When unspecified as part of include objects, includes everything, when unspecified as part of exclude objects, excludes nothing.",
          "items": {
            "$ref": "SourceProperty"
          },
          "type": "array"
        },
        "objectName": {
          "description": "Required. The object name.",
          "type": "string"
        }
      }
    },
    "DropLargeObjects": {
      "id": "DropLargeObjects",
      "type": "object",
      "description": "Configuration to drop large object values.",
      "properties": {}
    },
    "BigQueryPartitioning": {
      "description": "BigQuery partitioning configuration.",
      "properties": {
        "timeUnitPartition": {
          "description": "Time unit column partitioning.",
          "$ref": "TimeUnitPartition"
        },
        "requirePartitionFilter": {
          "description": "Optional. If true, queries over the table require a partition filter.",
          "type": "boolean"
        },
        "integerRangePartition": {
          "$ref": "IntegerRangePartition",
          "description": "Integer range partitioning."
        },
        "ingestionTimePartition": {
          "description": "Ingestion time partitioning.",
          "$ref": "IngestionTimePartition"
        }
      },
      "id": "BigQueryPartitioning",
      "type": "object"
    },
    "JsonFileFormat": {
      "description": "JSON file format configuration.",
      "properties": {
        "schemaFileFormat": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified schema file format.",
            "Do not attach schema file.",
            "Avro schema format."
          ],
          "description": "The schema file format along JSON data files.",
          "enum": [
            "SCHEMA_FILE_FORMAT_UNSPECIFIED",
            "NO_SCHEMA_FILE",
            "AVRO_SCHEMA_FILE"
          ]
        },
        "compression": {
          "enumDescriptions": [
            "Unspecified json file compression.",
            "Do not compress JSON file.",
            "Gzip compression."
          ],
          "type": "string",
          "enum": [
            "JSON_COMPRESSION_UNSPECIFIED",
            "NO_COMPRESSION",
            "GZIP"
          ],
          "description": "Compression of the loaded JSON file."
        }
      },
      "id": "JsonFileFormat",
      "type": "object"
    },
    "Oauth2ClientCredentials": {
      "id": "Oauth2ClientCredentials",
      "type": "object",
      "description": "OAuth2 Client Credentials.",
      "properties": {
        "clientId": {
          "description": "Required. Client ID for Salesforce OAuth2 Client Credentials.",
          "type": "string"
        },
        "clientSecret": {
          "description": "Optional. Client secret for Salesforce OAuth2 Client Credentials. Mutually exclusive with the `secret_manager_stored_client_secret` field.",
          "type": "string"
        },
        "secretManagerStoredClientSecret": {
          "description": "Optional. A reference to a Secret Manager resource name storing the Salesforce OAuth2 client_secret. Mutually exclusive with the `client_secret` field.",
          "type": "string"
        }
      }
    },
    "SpannerColumn": {
      "id": "SpannerColumn",
      "type": "object",
      "description": "Spanner column.",
      "properties": {
        "dataType": {
          "description": "Optional. Spanner data type.",
          "type": "string"
        },
        "ordinalPosition": {
          "description": "Optional. The ordinal position of the column in the table.",
          "format": "int64",
          "type": "string"
        },
        "column": {
          "description": "Required. The column name.",
          "type": "string"
        },
        "isPrimaryKey": {
          "description": "Optional. Whether or not the column is a primary key.",
          "type": "boolean"
        }
      }
    },
    "PostgresqlSslConfig": {
      "id": "PostgresqlSslConfig",
      "type": "object",
      "description": "PostgreSQL SSL configuration information.",
      "properties": {
        "serverAndClientVerification": {
          "$ref": "ServerAndClientVerification",
          "description": "If this field is set, the communication will be encrypted with TLS encryption and both the server identity and the client identity will be authenticated."
        },
        "serverVerification": {
          "description": " If this field is set, the communication will be encrypted with TLS encryption and the server identity will be authenticated.",
          "$ref": "ServerVerification"
        }
      }
    },
    "MongodbObjectIdentifier": {
      "id": "MongodbObjectIdentifier",
      "type": "object",
      "description": "MongoDB data source object identifier.",
      "properties": {
        "database": {
          "description": "Required. The database name.",
          "type": "string"
        },
        "collection": {
          "description": "Required. The collection name.",
          "type": "string"
        }
      }
    },
    "PscInterfaceConfig": {
      "id": "PscInterfaceConfig",
      "type": "object",
      "description": "The PSC Interface configuration is used to create PSC Interface between Datastream and the consumer's PSC.",
      "properties": {
        "networkAttachment": {
          "description": "Required. Fully qualified name of the Network Attachment that Datastream will connect to. Format: `projects/{project}/regions/{region}/networkAttachments/{name}`",
          "type": "string"
        }
      }
    },
    "ServiceNowProfile": {
      "id": "ServiceNowProfile",
      "type": "object",
      "description": "Profile for connecting to a ServiceNow source.",
      "properties": {
        "userPasswordCredentials": {
          "description": "User-password authentication.",
          "$ref": "UserPasswordCredentials"
        },
        "instance": {
          "description": "Required. The instance of the ServiceNow account. This is the `` part of the URL `https://.service-now.com`.",
          "type": "string"
        },
        "oauthClientCredentials": {
          "$ref": "OauthClientCredentials",
          "description": "Credentials for authenticating with the ServiceNow API."
        }
      }
    },
    "MysqlTable": {
      "id": "MysqlTable",
      "type": "object",
      "description": "MySQL table.",
      "properties": {
        "table": {
          "description": "The table name.",
          "type": "string"
        },
        "mysqlColumns": {
          "items": {
            "$ref": "MysqlColumn"
          },
          "description": "MySQL columns in the database. When unspecified as part of include/exclude objects, includes/excludes everything.",
          "type": "array"
        }
      }
    },
    "SourceHierarchyDatasets": {
      "id": "SourceHierarchyDatasets",
      "type": "object",
      "description": "Destination datasets are created so that hierarchy of the destination data objects matches the source hierarchy.",
      "properties": {
        "datasetTemplate": {
          "$ref": "DatasetTemplate",
          "description": "The dataset template to use for dynamic dataset creation."
        },
        "projectId": {
          "description": "Optional. The project id of the BigQuery dataset. If not specified, the project will be inferred from the stream resource.",
          "type": "string"
        }
      }
    },
    "IntegerRangePartition": {
      "id": "IntegerRangePartition",
      "type": "object",
      "description": "Integer range partitioning. see https://cloud.google.com/bigquery/docs/partitioned-tables#integer_range",
      "properties": {
        "end": {
          "description": "Required. The ending value for range partitioning (exclusive).",
          "format": "int64",
          "type": "string"
        },
        "column": {
          "description": "Required. The partitioning column.",
          "type": "string"
        },
        "start": {
          "type": "string",
          "format": "int64",
          "description": "Required. The starting value for range partitioning (inclusive)."
        },
        "interval": {
          "description": "Required. The interval of each range within the partition.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "SalesforceObjectIdentifier": {
      "description": "Salesforce data source object identifier.",
      "properties": {
        "objectName": {
          "description": "Required. The object name.",
          "type": "string"
        }
      },
      "id": "SalesforceObjectIdentifier",
      "type": "object"
    },
    "SourceCatalog": {
      "description": "Source catalog.",
      "properties": {
        "objects": {
          "items": {
            "$ref": "SourceObject"
          },
          "description": "Optional. Source objects in the catalog.",
          "type": "array"
        }
      },
      "id": "SourceCatalog",
      "type": "object"
    },
    "MongodbDatabase": {
      "id": "MongodbDatabase",
      "type": "object",
      "description": "MongoDB Database.",
      "properties": {
        "database": {
          "description": "The database name.",
          "type": "string"
        },
        "collections": {
          "type": "array",
          "items": {
            "$ref": "MongodbCollection"
          },
          "description": "Collections in the database."
        }
      }
    },
    "StopBackfillJobResponse": {
      "id": "StopBackfillJobResponse",
      "type": "object",
      "description": "Response for manually stop a backfill job for a specific stream object.",
      "properties": {
        "object": {
          "description": "The stream object resource the backfill job was stopped for.",
          "$ref": "StreamObject"
        }
      }
    },
    "Merge": {
      "description": "Merge mode defines that all changes to a table will be merged at the destination table.",
      "properties": {},
      "id": "Merge",
      "type": "object"
    },
    "PostgresqlSchema": {
      "description": "PostgreSQL schema.",
      "properties": {
        "schema": {
          "description": "The schema name.",
          "type": "string"
        },
        "postgresqlTables": {
          "description": "Tables in the schema.",
          "items": {
            "$ref": "PostgresqlTable"
          },
          "type": "array"
        }
      },
      "id": "PostgresqlSchema",
      "type": "object"
    },
    "CdcStrategy": {
      "description": "The strategy that the stream uses for CDC replication.",
      "properties": {
        "nextAvailableStartPosition": {
          "$ref": "NextAvailableStartPosition",
          "description": "Optional. Resume replication from the next available position in the source."
        },
        "specificStartPosition": {
          "$ref": "SpecificStartPosition",
          "description": "Optional. Start replicating from a specific position in the source."
        },
        "mostRecentStartPosition": {
          "description": "Optional. Start replicating from the most recent position in the source.",
          "$ref": "MostRecentStartPosition"
        }
      },
      "id": "CdcStrategy",
      "type": "object"
    },
    "ValidationMessage": {
      "id": "ValidationMessage",
      "type": "object",
      "description": "Represent user-facing validation result message.",
      "properties": {
        "level": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified level.",
            "Potentially cause issues with the Stream.",
            "Definitely cause issues with the Stream."
          ],
          "description": "Message severity level (warning or error).",
          "enum": [
            "LEVEL_UNSPECIFIED",
            "WARNING",
            "ERROR"
          ]
        },
        "metadata": {
          "description": "Additional metadata related to the result.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "code": {
          "description": "A custom code identifying this specific message.",
          "type": "string"
        },
        "message": {
          "description": "The result of the validation.",
          "type": "string"
        }
      }
    },
    "GcsProfile": {
      "id": "GcsProfile",
      "type": "object",
      "description": "Profile for connecting to a Cloud Storage destination.",
      "properties": {
        "bucket": {
          "description": "Required. The Cloud Storage bucket name.",
          "type": "string"
        },
        "rootPath": {
          "description": "Optional. The root path inside the Cloud Storage bucket.",
          "type": "string"
        }
      }
    },
    "SqlServerRdbms": {
      "description": "SQLServer database structure.",
      "properties": {
        "schemas": {
          "description": "SQLServer schemas in the database server.",
          "items": {
            "$ref": "SqlServerSchema"
          },
          "type": "array"
        }
      },
      "id": "SqlServerRdbms",
      "type": "object"
    },
    "SqlServerTransactionLogs": {
      "id": "SqlServerTransactionLogs",
      "type": "object",
      "description": "Configuration to use Transaction Logs CDC read method.",
      "properties": {}
    },
    "OauthClientCredentials": {
      "id": "OauthClientCredentials",
      "type": "object",
      "description": "OAuth Client Credentials.",
      "properties": {
        "clientId": {
          "description": "Required. Client ID for OAuth Client Credentials.",
          "type": "string"
        },
        "clientSecret": {
          "$ref": "Secret",
          "description": "Required. Client secret for OAuth Client Credentials."
        }
      }
    },
    "StartBackfillJobResponse": {
      "description": "Response for manually initiating a backfill job for a specific stream object.",
      "properties": {
        "object": {
          "description": "The stream object resource a backfill job was started for.",
          "$ref": "StreamObject"
        }
      },
      "id": "StartBackfillJobResponse",
      "type": "object"
    },
    "SqlServerProfile": {
      "description": "Profile for connecting to a SQLServer source.",
      "properties": {
        "hostname": {
          "description": "Required. Hostname for the SQLServer connection.",
          "type": "string"
        },
        "database": {
          "description": "Required. Database for the SQLServer connection.",
          "type": "string"
        },
        "username": {
          "description": "Required. Username for the SQLServer connection.",
          "type": "string"
        },
        "port": {
          "description": "Port for the SQLServer connection, default value is 1433.",
          "format": "int32",
          "type": "integer"
        },
        "sslConfig": {
          "$ref": "SqlServerSslConfig",
          "description": "Optional. SSL configuration for the SQLServer connection."
        },
        "password": {
          "description": "Optional. Password for the SQLServer connection. Mutually exclusive with the `secret_manager_stored_password` field.",
          "type": "string"
        },
        "secretManagerStoredPassword": {
          "description": "Optional. A reference to a Secret Manager resource name storing the SQLServer connection password. Mutually exclusive with the `password` field.",
          "type": "string"
        }
      },
      "id": "SqlServerProfile",
      "type": "object"
    },
    "MysqlColumn": {
      "id": "MysqlColumn",
      "type": "object",
      "description": "MySQL Column.",
      "properties": {
        "dataType": {
          "description": "The MySQL data type. Full data types list can be found here: https://dev.mysql.com/doc/refman/8.0/en/data-types.html",
          "type": "string"
        },
        "nullable": {
          "description": "Whether or not the column can accept a null value.",
          "type": "boolean"
        },
        "column": {
          "description": "The column name.",
          "type": "string"
        },
        "ordinalPosition": {
          "format": "int32",
          "description": "The ordinal position of the column in the table.",
          "type": "integer"
        },
        "length": {
          "type": "integer",
          "description": "Column length.",
          "format": "int32"
        },
        "scale": {
          "type": "integer",
          "format": "int32",
          "description": "Column scale."
        },
        "precision": {
          "type": "integer",
          "format": "int32",
          "description": "Column precision."
        },
        "collation": {
          "description": "Column collation.",
          "type": "string"
        },
        "primaryKey": {
          "description": "Whether or not the column represents a primary key.",
          "type": "boolean"
        }
      }
    },
    "MysqlSourceConfig": {
      "description": "Configuration for syncing data from a MySQL source.",
      "properties": {
        "maxConcurrentCdcTasks": {
          "description": "Maximum number of concurrent CDC tasks. The number should be non negative. If not set (or set to 0), the system's default value will be used.",
          "format": "int32",
          "type": "integer"
        },
        "binaryLogPosition": {
          "$ref": "BinaryLogPosition",
          "description": "Use Binary log position based replication."
        },
        "gtid": {
          "$ref": "Gtid",
          "description": "Use GTID based replication."
        },
        "includeObjects": {
          "description": "The MySQL objects to retrieve from the source.",
          "$ref": "MysqlRdbms"
        },
        "excludeObjects": {
          "$ref": "MysqlRdbms",
          "description": "The MySQL objects to exclude from the stream."
        },
        "maxConcurrentBackfillTasks": {
          "format": "int32",
          "description": "Maximum number of concurrent backfill tasks. The number should be non negative. If not set (or set to 0), the system's default value will be used.",
          "type": "integer"
        }
      },
      "id": "MysqlSourceConfig",
      "type": "object"
    },
    "EncryptionAndServerValidation": {
      "description": "Message to represent the option where Datastream will enforce encryption and authenticate server identity. ca_certificate must be set if user selects this option.",
      "properties": {
        "serverCertificateHostname": {
          "description": "Optional. The hostname mentioned in the Subject or SAN extension of the server certificate. This field is used for bypassing the hostname validation while verifying server certificate. This is required for scenarios where the host name that datastream connects to is different from the certificate's subject. This specifically happens for private connectivity. It could also happen when the customer provides a public IP in connection profile but the same is not present in the server certificate.",
          "type": "string"
        },
        "caCertificate": {
          "description": "Optional. Input only. PEM-encoded certificate of the CA that signed the source database server's certificate.",
          "type": "string"
        }
      },
      "id": "EncryptionAndServerValidation",
      "type": "object"
    },
    "ErrorInfo": {
      "id": "ErrorInfo",
      "type": "object",
      "description": "Describes the cause of the error with structured details. Example of an error when contacting the \"pubsub.googleapis.com\" API when it is not enabled: { \"reason\": \"API_DISABLED\" \"domain\": \"googleapis.com\" \"metadata\": { \"resource\": \"projects/123\", \"service\": \"pubsub.googleapis.com\" } } This response indicates that the pubsub.googleapis.com API is not enabled. Example of an error that is returned when attempting to create a Spanner instance in a region that is out of stock: { \"reason\": \"STOCKOUT\" \"domain\": \"spanner.googleapis.com\", \"metadata\": { \"availableRegions\": \"us-central1,us-east2\" } }",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Additional structured details about this error. Keys must match a regular expression of `a-z+` but should ideally be lowerCamelCase. Also, they must be limited to 64 characters in length. When identifying the current value of an exceeded limit, the units should be contained in the key, not the value. For example, rather than `{\"instanceLimit\": \"100/request\"}`, should be returned as, `{\"instanceLimitPerRequest\": \"100\"}`, if the client exceeds the number of instances that can be created in a single (batch) request.",
          "type": "object"
        },
        "reason": {
          "description": "The reason of the error. This is a constant value that identifies the proximate cause of the error. Error reasons are unique within a particular domain of errors. This should be at most 63 characters and match a regular expression of `A-Z+[A-Z0-9]`, which represents UPPER_SNAKE_CASE.",
          "type": "string"
        },
        "domain": {
          "description": "The logical grouping to which the \"reason\" belongs. The error domain is typically the registered service name of the tool or product that generates the error. Example: \"pubsub.googleapis.com\". If the error is generated by some common infrastructure, the error domain must be a globally unique value that identifies the infrastructure. For Google API infrastructure, the error domain is \"googleapis.com\".",
          "type": "string"
        }
      }
    },
    "SqlServerChangeTables": {
      "id": "SqlServerChangeTables",
      "type": "object",
      "description": "Configuration to use Change Tables CDC read method.",
      "properties": {}
    },
    "SrvConnectionFormat": {
      "description": "Srv connection format.",
      "properties": {},
      "id": "SrvConnectionFormat",
      "type": "object"
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "id": "Status",
      "type": "object"
    },
    "HostAddress": {
      "description": "A HostAddress represents a transport end point, which is the combination of an IP address or hostname and a port number.",
      "properties": {
        "hostname": {
          "description": "Required. Hostname for the connection.",
          "type": "string"
        },
        "port": {
          "format": "int32",
          "description": "Optional. Port for the connection.",
          "type": "integer"
        }
      },
      "id": "HostAddress",
      "type": "object"
    },
    "ListStreamsResponse": {
      "id": "ListStreamsResponse",
      "type": "object",
      "description": "Response message for listing streams.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "streams": {
          "description": "List of streams",
          "items": {
            "$ref": "Stream"
          },
          "type": "array"
        }
      }
    },
    "AvroFileFormat": {
      "id": "AvroFileFormat",
      "type": "object",
      "description": "AVRO file format configuration.",
      "properties": {}
    },
    "PreconditionFailure": {
      "description": "Describes what preconditions have failed. For example, if an RPC failed because it required the Terms of Service to be acknowledged, it could list the terms of service violation in the PreconditionFailure message.",
      "properties": {
        "violations": {
          "items": {
            "$ref": "PreconditionFailureViolation"
          },
          "description": "Describes all precondition violations.",
          "type": "array"
        }
      },
      "id": "PreconditionFailure",
      "type": "object"
    },
    "SpannerObjectIdentifier": {
      "id": "SpannerObjectIdentifier",
      "type": "object",
      "description": "Spanner data source object identifier.",
      "properties": {
        "schema": {
          "description": "Optional. The schema name.",
          "type": "string"
        },
        "table": {
          "description": "Required. The table name.",
          "type": "string"
        }
      }
    },
    "OracleScnPosition": {
      "description": "Oracle SCN position",
      "properties": {
        "scn": {
          "format": "int64",
          "description": "Required. SCN number from where Logs will be read",
          "type": "string"
        }
      },
      "id": "OracleScnPosition",
      "type": "object"
    },
    "ServiceNowSourceConfig": {
      "id": "ServiceNowSourceConfig",
      "type": "object",
      "description": "Configuration for syncing data from a ServiceNow source.",
      "properties": {
        "includeObjects": {
          "description": "Optional. The objects to retrieve from the source.",
          "$ref": "SourceCatalog"
        },
        "excludeObjects": {
          "description": "Optional. The objects to exclude from the stream.",
          "$ref": "SourceCatalog"
        },
        "pollingInterval": {
          "type": "string",
          "format": "google-duration",
          "description": "Required. Incremental sync polling interval for all objects. If not set, a default value of `5 minutes` is used. The duration must be from `5 minutes` to `24 hours`, inclusive."
        }
      }
    },
    "PostgresqlTable": {
      "id": "PostgresqlTable",
      "type": "object",
      "description": "PostgreSQL table.",
      "properties": {
        "table": {
          "description": "The table name.",
          "type": "string"
        },
        "postgresqlColumns": {
          "items": {
            "$ref": "PostgresqlColumn"
          },
          "description": "PostgreSQL columns in the schema. When unspecified as part of include/exclude objects, includes/excludes everything.",
          "type": "array"
        }
      }
    },
    "MysqlDatabase": {
      "id": "MysqlDatabase",
      "type": "object",
      "description": "MySQL database.",
      "properties": {
        "mysqlTables": {
          "type": "array",
          "description": "Tables in the database.",
          "items": {
            "$ref": "MysqlTable"
          }
        },
        "database": {
          "description": "The database name.",
          "type": "string"
        }
      }
    },
    "OracleSslConfig": {
      "description": "Oracle SSL configuration information.",
      "properties": {
        "caCertificate": {
          "description": "Input only. PEM-encoded certificate of the CA that signed the source database server's certificate.",
          "type": "string"
        },
        "caCertificateSet": {
          "readOnly": true,
          "description": "Output only. Indicates whether the ca_certificate field has been set for this Connection-Profile.",
          "type": "boolean"
        },
        "serverCertificateDistinguishedName": {
          "description": "Optional. The distinguished name (DN) mentioned in the server certificate. This corresponds to SSL_SERVER_CERT_DN sqlnet parameter. Refer https://docs.oracle.com/en/database/oracle/oracle-database/19/netrf/local-naming-parameters-in-tns-ora-file.html#GUID-70AB0695-A9AA-4A94-B141-4C605236EEB7 If this field is not provided, the DN matching is not enforced.",
          "type": "string"
        }
      },
      "id": "OracleSslConfig",
      "type": "object"
    },
    "MongodbProfile": {
      "description": "Profile for connecting to a MongoDB source.",
      "properties": {
        "secretManagerStoredPassword": {
          "description": "Optional. A reference to a Secret Manager resource name storing the SQLServer connection password. Mutually exclusive with the `password` field.",
          "type": "string"
        },
        "standardConnectionFormat": {
          "description": "Standard connection format.",
          "$ref": "StandardConnectionFormat"
        },
        "srvConnectionFormat": {
          "$ref": "SrvConnectionFormat",
          "description": "Srv connection format."
        },
        "password": {
          "description": "Optional. Password for the MongoDB connection. Mutually exclusive with the `secret_manager_stored_password` field.",
          "type": "string"
        },
        "sslConfig": {
          "description": "Optional. SSL configuration for the MongoDB connection.",
          "$ref": "MongodbSslConfig"
        },
        "username": {
          "description": "Required. Username for the MongoDB connection.",
          "type": "string"
        },
        "hostAddresses": {
          "items": {
            "$ref": "HostAddress"
          },
          "description": "Required. List of host addresses for a MongoDB cluster. For SRV connection format, this list must contain exactly one DNS host without a port. For Standard connection format, this list must contain all the required hosts in the cluster with their respective ports.",
          "type": "array"
        },
        "additionalOptions": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Specifies additional options for the MongoDB connection. The options should be sent as key-value pairs, for example: `additional_options = {\"serverSelectionTimeoutMS\": \"10000\", \"directConnection\": \"true\"}`. Keys are case-sensitive and should match the official MongoDB connection string options: https://www.mongodb.com/docs/manual/reference/connection-string-options/ The server will not modify the values provided by the user."
        },
        "replicaSet": {
          "description": "Optional. Name of the replica set. Only needed for self hosted replica set type MongoDB cluster. For SRV connection format, this field must be empty. For Standard connection format, this field must be specified.",
          "type": "string"
        }
      },
      "id": "MongodbProfile",
      "type": "object"
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "type": "object",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "locations": {
          "type": "array",
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "MysqlLogPosition": {
      "description": "MySQL log position",
      "properties": {
        "logPosition": {
          "format": "int32",
          "description": "Optional. The position within the binary log file. Default is head of file.",
          "type": "integer"
        },
        "logFile": {
          "description": "Required. The binary log file name.",
          "type": "string"
        }
      },
      "id": "MysqlLogPosition",
      "type": "object"
    },
    "ListStreamObjectsResponse": {
      "description": "Response containing the objects for a stream.",
      "properties": {
        "streamObjects": {
          "items": {
            "$ref": "StreamObject"
          },
          "description": "List of stream objects.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page.",
          "type": "string"
        }
      },
      "id": "ListStreamObjectsResponse",
      "type": "object"
    },
    "Route": {
      "description": "The route resource is the child of the private connection resource, used for defining a route for a private connection.",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Output only. The create time of the resource.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The update time of the resource.",
          "type": "string"
        },
        "labels": {
          "description": "Labels.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "destinationPort": {
          "type": "integer",
          "format": "int32",
          "description": "Destination port for connection"
        },
        "destinationAddress": {
          "description": "Required. Destination address for connection",
          "type": "string"
        },
        "name": {
          "description": "Output only. Identifier. The resource's name.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Required. Display name.",
          "type": "string"
        }
      },
      "id": "Route",
      "type": "object"
    },
    "ValidationResult": {
      "description": "Contains the current validation results.",
      "properties": {
        "validations": {
          "description": "A list of validations (includes both executed as well as not executed validations).",
          "items": {
            "$ref": "Validation"
          },
          "type": "array"
        }
      },
      "id": "ValidationResult",
      "type": "object"
    },
    "Gtid": {
      "description": "Use GTID based replication.",
      "properties": {},
      "id": "Gtid",
      "type": "object"
    },
    "ServerVerification": {
      "description": "Message represents the option where Datastream will enforce the encryption and authenticate the server identity. ca_certificate must be set if user selects this option.",
      "properties": {
        "caCertificate": {
          "description": "Required. Input only. PEM-encoded server root CA certificate.",
          "type": "string"
        },
        "serverCertificateHostname": {
          "description": "Optional. The hostname mentioned in the Subject or SAN extension of the server certificate. If this field is not provided, the hostname in the server certificate is not validated.",
          "type": "string"
        }
      },
      "id": "ServerVerification",
      "type": "object"
    },
    "StreamObject": {
      "id": "StreamObject",
      "type": "object",
      "description": "A specific stream object (e.g a specific DB table).",
      "properties": {
        "updateTime": {
          "description": "Output only. The last update time of the object.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "backfillJob": {
          "description": "The latest backfill job that was initiated for the stream object.",
          "$ref": "BackfillJob"
        },
        "createTime": {
          "description": "Output only. The creation time of the object.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Identifier. The object resource's name."
        },
        "displayName": {
          "description": "Required. Display name.",
          "type": "string"
        },
        "sourceObject": {
          "description": "The object identifier in the data source.",
          "$ref": "SourceObjectIdentifier"
        },
        "errors": {
          "readOnly": true,
          "items": {
            "$ref": "Error"
          },
          "description": "Output only. Active errors on the object.",
          "type": "array"
        },
        "customizationRules": {
          "type": "array",
          "description": "Output only. The customization rules for the object. These rules are derived from the parent Stream's `rule_sets` and represent the intended configuration for the object.",
          "readOnly": true,
          "items": {
            "$ref": "CustomizationRule"
          }
        }
      }
    },
    "PostgresqlRdbms": {
      "id": "PostgresqlRdbms",
      "type": "object",
      "description": "PostgreSQL database structure.",
      "properties": {
        "postgresqlSchemas": {
          "type": "array",
          "items": {
            "$ref": "PostgresqlSchema"
          },
          "description": "PostgreSQL schemas in the database server."
        }
      }
    },
    "MysqlObjectIdentifier": {
      "id": "MysqlObjectIdentifier",
      "type": "object",
      "description": "Mysql data source object identifier.",
      "properties": {
        "database": {
          "description": "Required. The database name.",
          "type": "string"
        },
        "table": {
          "description": "Required. The table name.",
          "type": "string"
        }
      }
    },
    "ServerAndClientVerification": {
      "id": "ServerAndClientVerification",
      "type": "object",
      "description": "Message represents the option where Datastream will enforce the encryption and authenticate the server identity as well as the client identity. ca_certificate, client_certificate and client_key must be set if user selects this option.",
      "properties": {
        "clientCertificate": {
          "description": "Required. Input only. PEM-encoded certificate used by the source database to authenticate the client identity (i.e., the Datastream's identity). This certificate is signed by either a root certificate trusted by the server or one or more intermediate certificates (which is stored with the leaf certificate) to link the this certificate to the trusted root certificate.",
          "type": "string"
        },
        "caCertificate": {
          "description": "Required. Input only. PEM-encoded server root CA certificate.",
          "type": "string"
        },
        "clientKey": {
          "description": "Optional. Input only. PEM-encoded private key associated with the client certificate. This value will be used during the SSL/TLS handshake, allowing the PostgreSQL server to authenticate the client's identity, i.e. identity of the Datastream.",
          "type": "string"
        },
        "serverCertificateHostname": {
          "description": "Optional. The hostname mentioned in the Subject or SAN extension of the server certificate. If this field is not provided, the hostname in the server certificate is not validated.",
          "type": "string"
        }
      }
    },
    "StopBackfillJobRequest": {
      "description": "Request for manually stopping a running backfill job for a specific stream object.",
      "properties": {},
      "id": "StopBackfillJobRequest",
      "type": "object"
    },
    "DebugInfo": {
      "description": "Describes additional debugging info.",
      "properties": {
        "detail": {
          "description": "Additional debugging information provided by the server.",
          "type": "string"
        },
        "stackEntries": {
          "items": {
            "type": "string"
          },
          "description": "The stack trace entries indicating where the error occurred.",
          "type": "array"
        }
      },
      "id": "DebugInfo",
      "type": "object"
    },
    "BackfillNoneStrategy": {
      "id": "BackfillNoneStrategy",
      "type": "object",
      "description": "Backfill strategy to disable automatic backfill for the Stream's objects.",
      "properties": {}
    },
    "BackfillJob": {
      "id": "BackfillJob",
      "type": "object",
      "description": "Represents a backfill job on a specific stream object.",
      "properties": {
        "trigger": {
          "enum": [
            "TRIGGER_UNSPECIFIED",
            "AUTOMATIC",
            "MANUAL"
          ],
          "description": "Backfill job's triggering reason.",
          "enumDescriptions": [
            "Default value.",
            "Object backfill job was triggered automatically according to the stream's backfill strategy.",
            "Object backfill job was triggered manually using the dedicated API."
          ],
          "type": "string"
        },
        "lastStartTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Backfill job's start time.",
          "type": "string"
        },
        "eventFilter": {
          "readOnly": true,
          "$ref": "EventFilter",
          "description": "Output only. The filter for performing a partial backfill."
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "NOT_STARTED",
            "PENDING",
            "ACTIVE",
            "STOPPED",
            "FAILED",
            "COMPLETED",
            "UNSUPPORTED"
          ],
          "enumDescriptions": [
            "Default value.",
            "Backfill job was never started for the stream object (stream has backfill strategy defined as manual or object was explicitly excluded from automatic backfill).",
            "Backfill job will start pending available resources.",
            "Backfill job is running.",
            "Backfill job stopped (next job run will start from beginning).",
            "Backfill job failed (due to an error).",
            "Backfill completed successfully.",
            "Backfill job failed since the table structure is currently unsupported for backfill."
          ],
          "description": "Output only. Backfill job state.",
          "type": "string"
        },
        "lastEndTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Backfill job's end time."
        },
        "errors": {
          "description": "Output only. Errors which caused the backfill job to fail.",
          "readOnly": true,
          "items": {
            "$ref": "Error"
          },
          "type": "array"
        }
      }
    },
    "SourceProperty": {
      "description": "Source property.",
      "properties": {
        "propertyName": {
          "description": "Required. The property name.",
          "type": "string"
        },
        "properties": {
          "description": "Optional. Source properties. When specified, it means that the current property contains nested properties of its own. When unspecified as part of include objects, includes everything, when unspecified as part of exclude objects, excludes nothing.",
          "items": {
            "$ref": "SourceProperty"
          },
          "type": "array"
        },
        "primaryKey": {
          "description": "Optional. Whether or not the property is a primary key.",
          "type": "boolean"
        }
      },
      "id": "SourceProperty",
      "type": "object"
    },
    "ForwardSshTunnelConnectivity": {
      "id": "ForwardSshTunnelConnectivity",
      "type": "object",
      "description": "Forward SSH Tunnel connectivity.",
      "properties": {
        "privateKey": {
          "description": "Input only. SSH private key.",
          "type": "string"
        },
        "hostname": {
          "description": "Required. Hostname for the SSH tunnel.",
          "type": "string"
        },
        "password": {
          "description": "Input only. SSH password.",
          "type": "string"
        },
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "Port for the SSH tunnel, default value is 22."
        },
        "username": {
          "description": "Required. Username for the SSH tunnel.",
          "type": "string"
        }
      }
    },
    "SingleTargetDataset": {
      "id": "SingleTargetDataset",
      "type": "object",
      "description": "A single target dataset to which all data will be streamed.",
      "properties": {
        "datasetId": {
          "description": "The dataset ID of the target dataset. DatasetIds allowed characters: https://cloud.google.com/bigquery/docs/reference/rest/v2/datasets#datasetreference.",
          "type": "string"
        }
      }
    },
    "RunStreamRequest": {
      "id": "RunStreamRequest",
      "type": "object",
      "description": "Request message for running a stream.",
      "properties": {
        "cdcStrategy": {
          "$ref": "CdcStrategy",
          "description": "Optional. The CDC strategy of the stream. If not set, the system's default value will be used."
        },
        "force": {
          "description": "Optional. Update the stream without validating it.",
          "type": "boolean"
        }
      }
    },
    "PostgresqlProfile": {
      "id": "PostgresqlProfile",
      "type": "object",
      "description": "Profile for connecting to a PostgreSQL source.",
      "properties": {
        "username": {
          "description": "Required. Username for the PostgreSQL connection.",
          "type": "string"
        },
        "port": {
          "format": "int32",
          "description": "Port for the PostgreSQL connection, default value is 5432.",
          "type": "integer"
        },
        "sslConfig": {
          "description": "Optional. SSL configuration for the PostgreSQL connection. In case PostgresqlSslConfig is not set, the connection will use the default SSL mode, which is `prefer` (i.e. this mode will only use encryption if enabled from database side, otherwise will use unencrypted communication)",
          "$ref": "PostgresqlSslConfig"
        },
        "password": {
          "description": "Optional. Password for the PostgreSQL connection. Mutually exclusive with the `secret_manager_stored_password` field.",
          "type": "string"
        },
        "secretManagerStoredPassword": {
          "description": "Optional. A reference to a Secret Manager resource name storing the PostgreSQL connection password. Mutually exclusive with the `password` field.",
          "type": "string"
        },
        "hostname": {
          "description": "Required. Hostname for the PostgreSQL connection.",
          "type": "string"
        },
        "database": {
          "description": "Required. Database for the PostgreSQL connection.",
          "type": "string"
        }
      }
    },
    "ConnectionProfile": {
      "id": "ConnectionProfile",
      "type": "object",
      "description": "A set of reusable connection configurations to be used as a source or destination for a stream.",
      "properties": {
        "satisfiesPzs": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Reserved for future use."
        },
        "satisfiesPzi": {
          "type": "boolean",
          "description": "Output only. Reserved for future use.",
          "readOnly": true
        },
        "staticServiceIpConnectivity": {
          "$ref": "StaticServiceIpConnectivity",
          "description": "Static Service IP connectivity."
        },
        "spannerProfile": {
          "$ref": "SpannerProfile",
          "description": "Profile for connecting to a Spanner source."
        },
        "forwardSshConnectivity": {
          "description": "Forward SSH tunnel connectivity.",
          "$ref": "ForwardSshTunnelConnectivity"
        },
        "gcsProfile": {
          "description": "Profile for connecting to a Cloud Storage destination.",
          "$ref": "GcsProfile"
        },
        "mongodbProfile": {
          "$ref": "MongodbProfile",
          "description": "Profile for connecting to a MongoDB source."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The create time of the resource.",
          "type": "string"
        },
        "sqlServerProfile": {
          "$ref": "SqlServerProfile",
          "description": "Profile for connecting to a SQLServer source."
        },
        "oracleProfile": {
          "description": "Profile for connecting to an Oracle source.",
          "$ref": "OracleProfile"
        },
        "bigqueryProfile": {
          "description": "Profile for connecting to a BigQuery destination.",
          "$ref": "BigQueryProfile"
        },
        "salesforceMarketingCloudProfile": {
          "description": "Profile for connecting to a Salesforce Marketing Cloud source.",
          "$ref": "SalesforceMarketingCloudProfile"
        },
        "mysqlProfile": {
          "$ref": "MysqlProfile",
          "description": "Profile for connecting to a MySQL source."
        },
        "name": {
          "description": "Output only. Identifier. The resource's name.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Required. Display name.",
          "type": "string"
        },
        "labels": {
          "description": "Labels.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "dataverseProfile": {
          "description": "Profile for connecting to a Dataverse source.",
          "$ref": "DataverseProfile"
        },
        "postgresqlProfile": {
          "description": "Profile for connecting to a PostgreSQL source.",
          "$ref": "PostgresqlProfile"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The update time of the resource."
        },
        "serviceNowProfile": {
          "description": "Profile for connecting to a ServiceNow source.",
          "$ref": "ServiceNowProfile"
        },
        "salesforceProfile": {
          "$ref": "SalesforceProfile",
          "description": "Profile for connecting to a Salesforce source."
        },
        "privateConnectivity": {
          "$ref": "PrivateConnectivity",
          "description": "Private connectivity."
        }
      }
    },
    "SqlServerSslConfig": {
      "id": "SqlServerSslConfig",
      "type": "object",
      "description": "SQL Server SSL configuration information.",
      "properties": {
        "encryptionAndServerValidation": {
          "description": "If set, Datastream will enforce encryption and authenticate server identity.",
          "$ref": "EncryptionAndServerValidation"
        },
        "encryptionNotEnforced": {
          "$ref": "EncryptionNotEnforced",
          "description": "If set, Datastream will not enforce encryption. If the DB server mandates encryption, then connection will be encrypted but server identity will not be authenticated."
        },
        "basicEncryption": {
          "description": "If set, Datastream will enforce encryption without authenticating server identity. Server certificates will be trusted by default.",
          "$ref": "BasicEncryption"
        }
      }
    },
    "SqlServerColumn": {
      "id": "SqlServerColumn",
      "type": "object",
      "description": "SQLServer Column.",
      "properties": {
        "dataType": {
          "description": "The SQLServer data type.",
          "type": "string"
        },
        "nullable": {
          "description": "Whether or not the column can accept a null value.",
          "type": "boolean"
        },
        "length": {
          "type": "integer",
          "format": "int32",
          "description": "Column length."
        },
        "scale": {
          "format": "int32",
          "description": "Column scale.",
          "type": "integer"
        },
        "ordinalPosition": {
          "type": "integer",
          "description": "The ordinal position of the column in the table.",
          "format": "int32"
        },
        "primaryKey": {
          "description": "Whether or not the column represents a primary key.",
          "type": "boolean"
        },
        "precision": {
          "type": "integer",
          "format": "int32",
          "description": "Column precision."
        },
        "column": {
          "description": "The column name.",
          "type": "string"
        }
      }
    },
    "ListRoutesResponse": {
      "description": "Route list response.",
      "properties": {
        "routes": {
          "type": "array",
          "description": "List of Routes.",
          "items": {
            "$ref": "Route"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      },
      "id": "ListRoutesResponse",
      "type": "object"
    },
    "SpannerSourceConfig": {
      "description": "Configuration for syncing data from a Spanner source.",
      "properties": {
        "includeObjects": {
          "description": "Optional. The Spanner objects to retrieve from the data source. If some objects are both included and excluded, an error will be thrown.",
          "$ref": "SpannerDatabase"
        },
        "excludeObjects": {
          "$ref": "SpannerDatabase",
          "description": "Optional. The Spanner objects to avoid retrieving. If some objects are both included and excluded, an error will be thrown."
        },
        "maxConcurrentBackfillTasks": {
          "type": "integer",
          "description": "Optional. Maximum number of concurrent backfill tasks.",
          "format": "int32"
        },
        "changeStreamName": {
          "description": "Required. Immutable. The change stream name to use for the stream.",
          "type": "string"
        },
        "maxConcurrentCdcTasks": {
          "description": "Optional. Maximum number of concurrent CDC tasks.",
          "format": "int32",
          "type": "integer"
        },
        "spannerRpcPriority": {
          "enum": [
            "SPANNER_RPC_PRIORITY_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH"
          ],
          "description": "Optional. The RPC priority to use for the stream.",
          "enumDescriptions": [
            "Unspecified RPC priority.",
            "Low RPC priority.",
            "Medium RPC priority.",
            "High RPC priority."
          ],
          "type": "string"
        },
        "fgacRole": {
          "description": "Optional. The FGAC role to use for the stream.",
          "type": "string"
        },
        "backfillDataBoostEnabled": {
          "description": "Optional. Whether to use Data Boost for Spanner backfills. Defaults to false if not set.",
          "type": "boolean"
        }
      },
      "id": "SpannerSourceConfig",
      "type": "object"
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "ListOperationsResponse",
      "type": "object"
    },
    "DiscoverConnectionProfileResponse": {
      "id": "DiscoverConnectionProfileResponse",
      "type": "object",
      "description": "Response from a discover request.",
      "properties": {
        "mongodbCluster": {
          "description": "Enriched MongoDB cluster.",
          "$ref": "MongodbCluster"
        },
        "sqlServerRdbms": {
          "description": "Enriched SQLServer RDBMS object.",
          "$ref": "SqlServerRdbms"
        },
        "oracleRdbms": {
          "description": "Enriched Oracle RDBMS object.",
          "$ref": "OracleRdbms"
        },
        "spannerDatabase": {
          "$ref": "SpannerDatabase",
          "description": "Enriched Spanner database."
        },
        "mysqlRdbms": {
          "description": "Enriched MySQL RDBMS object.",
          "$ref": "MysqlRdbms"
        },
        "salesforceOrg": {
          "description": "Enriched Salesforce organization.",
          "$ref": "SalesforceOrg"
        },
        "postgresqlRdbms": {
          "description": "Enriched PostgreSQL RDBMS object.",
          "$ref": "PostgresqlRdbms"
        },
        "sourceCatalog": {
          "description": "Enriched source catalog. This is mainly used to represent SaaS sources databases.",
          "$ref": "SourceCatalog"
        }
      }
    },
    "Help": {
      "description": "Provides links to documentation or for performing an out of band action. For example, if a quota check failed with an error indicating the calling project hasn't enabled the accessed service, this can contain a URL pointing directly to the right place in the developer console to flip the bit.",
      "properties": {
        "links": {
          "items": {
            "$ref": "Link"
          },
          "description": "URL(s) pointing to additional information on handling the current error.",
          "type": "array"
        }
      },
      "id": "Help",
      "type": "object"
    },
    "SalesforceOrg": {
      "description": "Salesforce organization structure.",
      "properties": {
        "objects": {
          "items": {
            "$ref": "SalesforceObject"
          },
          "description": "Salesforce objects in the database server.",
          "type": "array"
        }
      },
      "id": "SalesforceOrg",
      "type": "object"
    },
    "Stream": {
      "id": "Stream",
      "type": "object",
      "description": "A resource representing streaming data from a source to a destination.",
      "properties": {
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels."
        },
        "sourceConfig": {
          "description": "Required. Source connection profile configuration.",
          "$ref": "SourceConfig"
        },
        "customerManagedEncryptionKey": {
          "description": "Immutable. A reference to a KMS encryption key. If provided, it will be used to encrypt the data. If left blank, data will be encrypted using an internal Stream-specific encryption key provisioned through KMS.",
          "type": "string"
        },
        "destinationConfig": {
          "$ref": "DestinationConfig",
          "description": "Required. Destination connection profile configuration."
        },
        "updateTime": {
          "description": "Output only. The last update time of the stream.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "ruleSets": {
          "type": "array",
          "description": "Optional. Rule sets to apply to the stream.",
          "items": {
            "$ref": "RuleSet"
          }
        },
        "lastRecoveryTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. If the stream was recovered, the time of the last recovery. Note: This field is currently experimental."
        },
        "satisfiesPzi": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "satisfiesPzs": {
          "readOnly": true,
          "description": "Output only. Reserved for future use.",
          "type": "boolean"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "NOT_STARTED",
            "RUNNING",
            "PAUSED",
            "MAINTENANCE",
            "FAILED",
            "FAILED_PERMANENTLY",
            "STARTING",
            "DRAINING"
          ],
          "description": "The state of the stream.",
          "enumDescriptions": [
            "Unspecified stream state.",
            "The stream has been created but has not yet started streaming data.",
            "The stream is running.",
            "The stream is paused.",
            "The stream is in maintenance mode. Updates are rejected on the resource in this state.",
            "The stream is experiencing an error that is preventing data from being streamed.",
            "The stream has experienced a terminal failure.",
            "The stream is starting, but not yet running.",
            "The Stream is no longer reading new events, but still writing events in the buffer."
          ],
          "type": "string"
        },
        "errors": {
          "readOnly": true,
          "items": {
            "$ref": "Error"
          },
          "description": "Output only. Errors on the Stream.",
          "type": "array"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The creation time of the stream.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "backfillAll": {
          "$ref": "BackfillAllStrategy",
          "description": "Automatically backfill objects included in the stream source configuration. Specific objects can be excluded."
        },
        "displayName": {
          "description": "Required. Display name.",
          "type": "string"
        },
        "name": {
          "description": "Output only. Identifier. The stream's name.",
          "readOnly": true,
          "type": "string"
        },
        "backfillNone": {
          "description": "Do not automatically backfill any objects.",
          "$ref": "BackfillNoneStrategy"
        }
      }
    },
    "QuotaFailure": {
      "id": "QuotaFailure",
      "type": "object",
[...]
