{
  "version": "v1beta1",
  "basePath": "",
  "version_module": true,
  "documentationLink": "https://cloud.google.com/data-labeling/docs/",
  "canonicalName": "Data Labeling",
  "baseUrl": "https://datalabeling.googleapis.com/",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true,
  "revision": "20260210",
  "mtlsRootUrl": "https://datalabeling.mtls.googleapis.com/",
  "name": "datalabeling",
  "description": "Public API for Google Cloud AI Data Labeling Service.",
  "title": "Data Labeling API",
  "servicePath": "",
  "resources": {
    "projects": {
      "resources": {
        "instructions": {
          "methods": {
            "delete": {
              "path": "v1beta1/{+name}",
              "flatPath": "v1beta1/projects/{projectsId}/instructions/{instructionsId}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "DELETE",
              "id": "datalabeling.projects.instructions.delete",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/instructions/[^/]+$",
                  "type": "string",
                  "description": "Required. Instruction resource name, format: projects/{project_id}/instructions/{instruction_id}",
                  "location": "path",
                  "required": true
                }
              },
              "description": "Deletes an instruction object by resource name.",
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "id": "datalabeling.projects.instructions.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "description": "Required. Instruction resource name, format: projects/{project_id}/instructions/{instruction_id}",
                  "type": "string",
                  "pattern": "^projects/[^/]+/instructions/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1Instruction"
              },
              "flatPath": "v1beta1/projects/{projectsId}/instructions/{instructionsId}",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta1/{+name}",
              "description": "Gets an instruction by resource name."
            },
            "list": {
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1ListInstructionsResponse"
              },
              "flatPath": "v1beta1/projects/{projectsId}/instructions",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "description": "Lists instructions for a project. Pagination is supported.",
              "parameters": {
                "pageSize": {
                  "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by ListInstructionsResponse.next_page_token of the previous [DataLabelingService.ListInstructions] call. Return first page if empty."
                },
                "filter": {
                  "description": "Optional. Filter is not supported at this moment.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. Instruction resource parent, format: projects/{project_id}",
                  "location": "path",
                  "required": true
                }
              },
              "id": "datalabeling.projects.instructions.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta1/{+parent}/instructions"
            },
            "create": {
              "description": "Creates an instruction for how data should be labeled.",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "request": {
                "$ref": "GoogleCloudDatalabelingV1beta1CreateInstructionRequest"
              },
              "flatPath": "v1beta1/projects/{projectsId}/instructions",
              "id": "datalabeling.projects.instructions.create",
              "parameters": {
                "parent": {
                  "description": "Required. Instruction resource parent, format: projects/{project_id}",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+$"
                }
              },
              "path": "v1beta1/{+parent}/instructions",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ]
            }
          }
        },
        "operations": {
          "methods": {
            "list": {
              "flatPath": "v1beta1/projects/{projectsId}/operations",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The standard list page size.",
                  "location": "query"
                },
                "name": {
                  "description": "The name of the operation's parent resource.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "description": "The standard list page token.",
                  "location": "query"
                },
                "returnPartialSuccess": {
                  "location": "query",
                  "type": "boolean",
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                },
                "filter": {
                  "description": "The standard list filter.",
                  "location": "query",
                  "type": "string"
                }
              },
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta1/{+name}/operations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "id": "datalabeling.projects.operations.list",
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              }
            },
            "cancel": {
              "parameters": {
                "name": {
                  "required": true,
                  "description": "The name of the operation resource to be cancelled.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/operations/[^/]+$"
                }
              },
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "path": "v1beta1/{+name}:cancel",
              "parameterOrder": [
                "name"
              ],
              "id": "datalabeling.projects.operations.cancel",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "flatPath": "v1beta1/projects/{projectsId}/operations/{operationsId}:cancel"
            },
            "get": {
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource."
                }
              },
              "id": "datalabeling.projects.operations.get",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta1/{+name}",
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "flatPath": "v1beta1/projects/{projectsId}/operations/{operationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "datalabeling.projects.operations.delete",
              "httpMethod": "DELETE",
              "flatPath": "v1beta1/projects/{projectsId}/operations/{operationsId}",
              "path": "v1beta1/{+name}",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource to be deleted.",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
            }
          }
        },
        "evaluations": {
          "methods": {
            "search": {
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by the nextPageToken of the response to a previous search request. If you don't specify this field, the API call requests the first page of the search.",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. To search evaluations, you can filter by the following: * evaluation_job.evaluation_job_id (the last part of EvaluationJob.name) * evaluation_job.model_id (the {model_name} portion of EvaluationJob.modelVersion) * evaluation_job.evaluation_job_run_time_start (Minimum threshold for the evaluationJobRunTime that created the evaluation) * evaluation_job.evaluation_job_run_time_end (Maximum threshold for the evaluationJobRunTime that created the evaluation) * evaluation_job.job_state (EvaluationJob.state) * annotation_spec.display_name (the Evaluation contains a metric for the annotation spec with this displayName) To filter by multiple critiera, use the `AND` operator or the `OR` operator. The following examples shows a string that filters by several critiera: \"evaluation_job.evaluation_job_id = {evaluation_job_id} AND evaluation_job.model_id = {model_name} AND evaluation_job.evaluation_job_run_time_start = {timestamp_1} AND evaluation_job.evaluation_job_run_time_end = {timestamp_2} AND annotation_spec.display_name = {display_name}\""
                },
                "parent": {
                  "description": "Required. Evaluation search parent (project ID). Format: \"projects/ {project_id}\"",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                },
                "pageSize": {
                  "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                }
              },
              "description": "Searches evaluations within a project.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/evaluations:search",
              "id": "datalabeling.projects.evaluations.search",
              "path": "v1beta1/{+parent}/evaluations:search",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1SearchEvaluationsResponse"
              }
            }
          }
        },
        "datasets": {
          "methods": {
            "importData": {
              "request": {
                "$ref": "GoogleCloudDatalabelingV1beta1ImportDataRequest"
              },
              "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}:importData",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta1/{+name}:importData",
              "parameters": {
                "name": {
                  "description": "Required. Dataset resource name, format: projects/{project_id}/datasets/{dataset_id}",
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/datasets/[^/]+$",
                  "required": true
                }
              },
              "httpMethod": "POST",
              "id": "datalabeling.projects.datasets.importData",
              "description": "Imports data into dataset based on source locations defined in request. It can be called multiple times for the same dataset. Each dataset can only have one long running operation running on it. For example, no labeling task (also long running operation) can be started while importing is still ongoing. Vice versa.",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              }
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}",
              "path": "v1beta1/{+name}",
              "id": "datalabeling.projects.datasets.get",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets dataset by resource name.",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/datasets/[^/]+$",
                  "required": true,
                  "description": "Required. Dataset resource name, format: projects/{project_id}/datasets/{dataset_id}"
                }
              },
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1Dataset"
              }
            },
            "create": {
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1Dataset"
              },
              "flatPath": "v1beta1/projects/{projectsId}/datasets",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. Dataset resource parent, format: projects/{project_id}"
                }
              },
              "path": "v1beta1/{+parent}/datasets",
              "description": " Creates dataset. If success return a Dataset resource.",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "GoogleCloudDatalabelingV1beta1CreateDatasetRequest"
              },
              "id": "datalabeling.projects.datasets.create"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/datasets",
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1ListDatasetsResponse"
              },
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. Dataset resource parent, format: projects/{project_id}",
                  "required": true
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by ListDatasetsResponse.next_page_token of the previous [DataLabelingService.ListDatasets] call. Returns the first page if empty."
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Filter on dataset is not supported at this moment."
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100.",
                  "location": "query"
                }
              },
              "httpMethod": "GET",
              "path": "v1beta1/{+parent}/datasets",
              "description": "Lists datasets under a project. Pagination is supported.",
              "parameterOrder": [
                "parent"
              ],
              "id": "datalabeling.projects.datasets.list"
            },
            "delete": {
              "path": "v1beta1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}",
              "id": "datalabeling.projects.datasets.delete",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Deletes a dataset by resource name.",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/datasets/[^/]+$",
                  "description": "Required. Dataset resource name, format: projects/{project_id}/datasets/{dataset_id}",
                  "location": "path",
                  "type": "string"
                }
              }
            },
            "exportData": {
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}:exportData",
              "description": "Exports data and annotations from dataset.",
              "path": "v1beta1/{+name}:exportData",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. Dataset resource name, format: projects/{project_id}/datasets/{dataset_id}",
                  "type": "string",
                  "pattern": "^projects/[^/]+/datasets/[^/]+$"
                }
              },
              "request": {
                "$ref": "GoogleCloudDatalabelingV1beta1ExportDataRequest"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "datalabeling.projects.datasets.exportData"
            }
          },
          "resources": {
            "video": {
              "methods": {
                "label": {
                  "path": "v1beta1/{+parent}/video:label",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/video:label",
                  "description": "Starts a labeling task for video. The type of video labeling task is configured by feature in the request.",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/datasets/[^/]+$",
                      "description": "Required. Name of the dataset to request labeling task, format: projects/{project_id}/datasets/{dataset_id}",
                      "location": "path",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudDatalabelingV1beta1LabelVideoRequest"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "datalabeling.projects.datasets.video.label"
                }
              }
            },
            "annotatedDatasets": {
              "methods": {
                "list": {
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/datasets/[^/]+$",
                      "type": "string",
                      "description": "Required. Name of the dataset to list annotated datasets, format: projects/{project_id}/datasets/{dataset_id}",
                      "required": true
                    },
                    "filter": {
                      "description": "Optional. Filter is not supported at this moment.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by ListAnnotatedDatasetsResponse.next_page_token of the previous [DataLabelingService.ListAnnotatedDatasets] call. Return first page if empty.",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100.",
                      "location": "query"
                    }
                  },
                  "id": "datalabeling.projects.datasets.annotatedDatasets.list",
                  "path": "v1beta1/{+parent}/annotatedDatasets",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDatalabelingV1beta1ListAnnotatedDatasetsResponse"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets",
                  "httpMethod": "GET",
                  "description": "Lists annotated datasets for a dataset. Pagination is supported."
                },
                "delete": {
                  "id": "datalabeling.projects.datasets.annotatedDatasets.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes an annotated dataset by resource name.",
                  "httpMethod": "DELETE",
                  "path": "v1beta1/{+name}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. Name of the annotated dataset to delete, format: projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/ {annotated_dataset_id}",
                      "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+$"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDatalabelingV1beta1AnnotatedDataset"
                  },
                  "id": "datalabeling.projects.datasets.annotatedDatasets.get",
                  "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}",
                  "path": "v1beta1/{+name}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. Name of the annotated dataset to get, format: projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/ {annotated_dataset_id}",
                      "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "description": "Gets an annotated dataset by resource name."
                }
              },
              "resources": {
                "dataItems": {
                  "methods": {
                    "list": {
                      "response": {
                        "$ref": "GoogleCloudDatalabelingV1beta1ListDataItemsResponse"
                      },
                      "httpMethod": "GET",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "description": "Required. Name of the dataset to list data items, format: projects/{project_id}/datasets/{dataset_id}"
                        },
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100.",
                          "type": "integer"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by ListDataItemsResponse.next_page_token of the previous [DataLabelingService.ListDataItems] call. Return first page if empty."
                        },
                        "filter": {
                          "description": "Optional. Filter is not supported at this moment.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/dataItems",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "datalabeling.projects.datasets.annotatedDatasets.dataItems.list",
                      "description": "Lists data items in a dataset. This API can be called after data are imported into dataset. Pagination is supported.",
                      "path": "v1beta1/{+parent}/dataItems"
                    },
                    "get": {
                      "description": "Gets a data item in a dataset by resource name. This API can be called after data are imported into dataset.",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDatalabelingV1beta1DataItem"
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/dataItems/{dataItemsId}",
                      "path": "v1beta1/{+name}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+/dataItems/[^/]+$",
                          "description": "Required. The name of the data item to get, format: projects/{project_id}/datasets/{dataset_id}/dataItems/{data_item_id}",
                          "required": true
                        }
                      },
                      "httpMethod": "GET",
                      "id": "datalabeling.projects.datasets.annotatedDatasets.dataItems.get"
                    }
                  }
                },
                "feedbackThreads": {
                  "methods": {
                    "list": {
                      "id": "datalabeling.projects.datasets.annotatedDatasets.feedbackThreads.list",
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by ListFeedbackThreads.next_page_token of the previous [DataLabelingService.ListFeedbackThreads] call. Return first page if empty.",
                          "type": "string"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+$",
                          "description": "Required. FeedbackThread resource parent. Format: \"projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/{annotated_dataset_id}\"",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "type": "integer",
                          "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100."
                        }
                      },
                      "httpMethod": "GET",
                      "path": "v1beta1/{+parent}/feedbackThreads",
                      "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/feedbackThreads",
                      "description": "List FeedbackThreads with pagination.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDatalabelingV1beta1ListFeedbackThreadsResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "delete": {
                      "httpMethod": "DELETE",
                      "description": "Delete a FeedbackThread.",
                      "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/feedbackThreads/{feedbackThreadsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+/feedbackThreads/[^/]+$",
                          "location": "path",
                          "description": "Required. Name of the FeedbackThread that is going to be deleted. Format: 'projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/{annotated_dataset_id}/feedbackThreads/{feedback_thread_id}'.",
                          "type": "string",
                          "required": true
                        }
                      },
                      "id": "datalabeling.projects.datasets.annotatedDatasets.feedbackThreads.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta1/{+name}"
                    },
                    "get": {
                      "path": "v1beta1/{+name}",
                      "description": " Get a FeedbackThread object.",
                      "response": {
                        "$ref": "GoogleCloudDatalabelingV1beta1FeedbackThread"
                      },
                      "id": "datalabeling.projects.datasets.annotatedDatasets.feedbackThreads.get",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/feedbackThreads/{feedbackThreadsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the feedback. Format: 'projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/{annotated_dataset_id}/feedbackThreads/{feedback_thread_id}'.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+/feedbackThreads/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      }
                    }
                  },
                  "resources": {
                    "feedbackMessages": {
                      "methods": {
                        "create": {
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "description": "Create a FeedbackMessage object.",
                          "path": "v1beta1/{+parent}/feedbackMessages",
                          "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/feedbackThreads/{feedbackThreadsId}/feedbackMessages",
                          "parameterOrder": [
                            "parent"
                          ],
                          "httpMethod": "POST",
                          "request": {
                            "$ref": "GoogleCloudDatalabelingV1beta1FeedbackMessage"
                          },
                          "id": "datalabeling.projects.datasets.annotatedDatasets.feedbackThreads.feedbackMessages.create",
                          "parameters": {
                            "parent": {
                              "type": "string",
                              "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+/feedbackThreads/[^/]+$",
                              "description": "Required. FeedbackMessage resource parent, format: projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/{annotated_dataset_id}/feedbackThreads/{feedback_thread_id}.",
                              "required": true,
                              "location": "path"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        },
                        "get": {
                          "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/feedbackThreads/{feedbackThreadsId}/feedbackMessages/{feedbackMessagesId}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "GoogleCloudDatalabelingV1beta1FeedbackMessage"
                          },
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "name"
                          ],
                          "parameters": {
                            "name": {
                              "description": "Required. Name of the feedback. Format: 'projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/{annotated_dataset_id}/feedbackThreads/{feedback_thread_id}/feedbackMessages/{feedback_message_id}'.",
                              "required": true,
                              "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+/feedbackThreads/[^/]+/feedbackMessages/[^/]+$",
                              "type": "string",
                              "location": "path"
                            }
                          },
                          "description": "Get a FeedbackMessage object.",
                          "path": "v1beta1/{+name}",
                          "id": "datalabeling.projects.datasets.annotatedDatasets.feedbackThreads.feedbackMessages.get"
                        },
                        "delete": {
                          "id": "datalabeling.projects.datasets.annotatedDatasets.feedbackThreads.feedbackMessages.delete",
                          "path": "v1beta1/{+name}",
                          "httpMethod": "DELETE",
                          "description": "Delete a FeedbackMessage.",
                          "parameters": {
                            "name": {
                              "location": "path",
                              "description": "Required. Name of the FeedbackMessage that is going to be deleted. Format: 'projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/{annotated_dataset_id}/feedbackThreads/{feedback_thread_id}/feedbackMessages/{feedback_message_id}'.",
                              "type": "string",
                              "required": true,
                              "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+/feedbackThreads/[^/]+/feedbackMessages/[^/]+$"
                            }
                          },
                          "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/feedbackThreads/{feedbackThreadsId}/feedbackMessages/{feedbackMessagesId}",
                          "parameterOrder": [
                            "name"
                          ],
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        },
                        "list": {
                          "parameterOrder": [
                            "parent"
                          ],
                          "path": "v1beta1/{+parent}/feedbackMessages",
                          "parameters": {
                            "parent": {
                              "location": "path",
                              "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+/feedbackThreads/[^/]+$",
                              "required": true,
                              "type": "string",
                              "description": "Required. FeedbackMessage resource parent. Format: \"projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/{annotated_dataset_id}/feedbackThreads/{feedback_thread_id}\""
                            },
                            "pageToken": {
                              "type": "string",
                              "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by ListFeedbackMessages.next_page_token of the previous [DataLabelingService.ListFeedbackMessages] call. Return first page if empty.",
                              "location": "query"
                            },
                            "pageSize": {
                              "location": "query",
                              "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100.",
                              "type": "integer",
                              "format": "int32"
                            }
                          },
                          "httpMethod": "GET",
                          "description": "List FeedbackMessages with pagination.",
                          "id": "datalabeling.projects.datasets.annotatedDatasets.feedbackThreads.feedbackMessages.list",
                          "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/feedbackThreads/{feedbackThreadsId}/feedbackMessages",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "GoogleCloudDatalabelingV1beta1ListFeedbackMessagesResponse"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "methods": {
                    "list": {
                      "response": {
                        "$ref": "GoogleCloudDatalabelingV1beta1ListExamplesResponse"
                      },
                      "description": "Lists examples in an annotated dataset. Pagination is supported.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+$",
                          "location": "path",
                          "description": "Required. Example resource parent."
                        },
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. An expression for filtering Examples. For annotated datasets that have annotation spec set, filter by annotation_spec.display_name is supported. Format \"annotation_spec.display_name = {display_name}\""
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by ListExamplesResponse.next_page_token of the previous [DataLabelingService.ListExamples] call. Return first page if empty.",
                          "type": "string"
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100.",
                          "location": "query",
                          "type": "integer"
                        }
                      },
                      "id": "datalabeling.projects.datasets.annotatedDatasets.examples.list",
                      "path": "v1beta1/{+parent}/examples",
                      "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/examples",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "get": {
                      "httpMethod": "GET",
                      "id": "datalabeling.projects.datasets.annotatedDatasets.examples.get",
                      "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/examples/{examplesId}",
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. Name of example, format: projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/ {annotated_dataset_id}/examples/{example_id}",
                          "type": "string",
                          "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+/examples/[^/]+$",
                          "location": "path"
                        },
                        "filter": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. An expression for filtering Examples. Filter by annotation_spec.display_name is supported. Format \"annotation_spec.display_name = {display_name}\""
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Gets an example by resource name, including both data and annotation.",
                      "path": "v1beta1/{+name}",
                      "response": {
                        "$ref": "GoogleCloudDatalabelingV1beta1Example"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                }
              }
            },
            "evaluations": {
              "methods": {
                "get": {
                  "response": {
                    "$ref": "GoogleCloudDatalabelingV1beta1Evaluation"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/datasets/[^/]+/evaluations/[^/]+$",
                      "description": "Required. Name of the evaluation. Format: \"projects/{project_id}/datasets/ {dataset_id}/evaluations/{evaluation_id}'"
                    }
                  },
                  "path": "v1beta1/{+name}",
                  "id": "datalabeling.projects.datasets.evaluations.get",
                  "description": " Gets an evaluation by resource name (to search, use projects.evaluations.search).",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/evaluations/{evaluationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              },
              "resources": {
                "exampleComparisons": {
                  "methods": {
                    "search": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDatalabelingV1beta1SearchExampleComparisonsResponse"
                      },
                      "description": "Searches example comparisons from an evaluation. The return format is a list of example comparisons that show ground truth and prediction(s) for a single input. Search by providing an evaluation ID.",
                      "id": "datalabeling.projects.datasets.evaluations.exampleComparisons.search",
                      "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/evaluations/{evaluationsId}/exampleComparisons:search",
                      "path": "v1beta1/{+parent}/exampleComparisons:search",
                      "request": {
                        "$ref": "GoogleCloudDatalabelingV1beta1SearchExampleComparisonsRequest"
                      },
                      "parameters": {
                        "parent": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/datasets/[^/]+/evaluations/[^/]+$",
                          "description": "Required. Name of the Evaluation resource to search for example comparisons from. Format: \"projects/{project_id}/datasets/{dataset_id}/evaluations/ {evaluation_id}\"",
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST"
                    }
                  }
                }
              }
            },
            "image": {
              "methods": {
                "label": {
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/image:label",
                  "id": "datalabeling.projects.datasets.image.label",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/datasets/[^/]+$",
                      "description": "Required. Name of the dataset to request labeling task, format: projects/{project_id}/datasets/{dataset_id}",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudDatalabelingV1beta1LabelImageRequest"
                  },
                  "path": "v1beta1/{+parent}/image:label",
                  "description": " Starts a labeling task for image. The type of image labeling task is configured by feature in the request.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "text": {
              "methods": {
                "label": {
                  "id": "datalabeling.projects.datasets.text.label",
                  "parameters": {
                    "parent": {
                      "description": "Required. Name of the data set to request labeling task, format: projects/{project_id}/datasets/{dataset_id}",
                      "pattern": "^projects/[^/]+/datasets/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "path": "v1beta1/{+parent}/text:label",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/text:label",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDatalabelingV1beta1LabelTextRequest"
                  },
                  "description": "Starts a labeling task for text. The type of text labeling task is configured by feature in the request.",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  }
                }
              }
            },
            "dataItems": {
              "methods": {
                "get": {
                  "response": {
                    "$ref": "GoogleCloudDatalabelingV1beta1DataItem"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/dataItems/{dataItemsId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the data item to get, format: projects/{project_id}/datasets/{dataset_id}/dataItems/{data_item_id}",
                      "type": "string",
                      "pattern": "^projects/[^/]+/datasets/[^/]+/dataItems/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "description": "Gets a data item in a dataset by resource name. This API can be called after data are imported into dataset.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "datalabeling.projects.datasets.dataItems.get",
                  "path": "v1beta1/{+name}"
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "datalabeling.projects.datasets.dataItems.list",
                  "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/dataItems",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1beta1/{+parent}/dataItems",
                  "response": {
                    "$ref": "GoogleCloudDatalabelingV1beta1ListDataItemsResponse"
                  },
                  "description": "Lists data items in a dataset. This API can be called after data are imported into dataset. Pagination is supported.",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/datasets/[^/]+$",
                      "type": "string",
                      "description": "Required. Name of the dataset to list data items, format: projects/{project_id}/datasets/{dataset_id}"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by ListDataItemsResponse.next_page_token of the previous [DataLabelingService.ListDataItems] call. Return first page if empty."
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. Filter is not supported at this moment.",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100."
                    }
                  },
                  "httpMethod": "GET"
                }
              }
            }
          }
        },
        "evaluationJobs": {
          "methods": {
            "resume": {
              "request": {
                "$ref": "GoogleCloudDatalabelingV1beta1ResumeEvaluationJobRequest"
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "flatPath": "v1beta1/projects/{projectsId}/evaluationJobs/{evaluationJobsId}:resume",
              "path": "v1beta1/{+name}:resume",
              "parameterOrder": [
                "name"
              ],
              "description": "Resumes a paused evaluation job. A deleted evaluation job can't be resumed. Resuming a running or scheduled evaluation job is a no-op.",
              "id": "datalabeling.projects.evaluationJobs.resume",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/evaluationJobs/[^/]+$",
                  "description": "Required. Name of the evaluation job that is going to be resumed. Format: \"projects/{project_id}/evaluationJobs/{evaluation_job_id}\"",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "delete": {
              "description": "Stops and deletes an evaluation job.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta1/{+name}",
              "parameters": {
                "name": {
                  "description": "Required. Name of the evaluation job that is going to be deleted. Format: \"projects/{project_id}/evaluationJobs/{evaluation_job_id}\"",
                  "pattern": "^projects/[^/]+/evaluationJobs/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "id": "datalabeling.projects.evaluationJobs.delete",
              "httpMethod": "DELETE",
              "flatPath": "v1beta1/projects/{projectsId}/evaluationJobs/{evaluationJobsId}"
            },
            "create": {
              "description": " Creates an evaluation job.",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. Evaluation job resource parent. Format: \"projects/{project_id}\""
                }
              },
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1EvaluationJob"
              },
              "httpMethod": "POST",
              "flatPath": "v1beta1/projects/{projectsId}/evaluationJobs",
              "path": "v1beta1/{+parent}/evaluationJobs",
              "request": {
                "$ref": "GoogleCloudDatalabelingV1beta1CreateEvaluationJobRequest"
              },
              "id": "datalabeling.projects.evaluationJobs.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "description": "Gets an evaluation job by resource name.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1EvaluationJob"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/evaluationJobs/[^/]+$",
                  "description": "Required. Name of the evaluation job. Format: \"projects/{project_id} /evaluationJobs/{evaluation_job_id}\""
                }
              },
              "path": "v1beta1/{+name}",
              "id": "datalabeling.projects.evaluationJobs.get",
              "httpMethod": "GET",
              "flatPath": "v1beta1/projects/{projectsId}/evaluationJobs/{evaluationJobsId}"
            },
            "patch": {
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1EvaluationJob"
              },
              "description": "Updates an evaluation job. You can only update certain fields of the job's EvaluationJobConfig: `humanAnnotationConfig.instruction`, `exampleCount`, and `exampleSamplePercentage`. If you want to change any other aspect of the evaluation job, you must delete the job and create a new one.",
              "httpMethod": "PATCH",
              "request": {
                "$ref": "GoogleCloudDatalabelingV1beta1EvaluationJob"
              },
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "description": "Optional. Mask for which fields to update. You can only provide the following fields: * `evaluationJobConfig.humanAnnotationConfig.instruction` * `evaluationJobConfig.exampleCount` * `evaluationJobConfig.exampleSamplePercentage` You can provide more than one of these fields by separating them with commas.",
                  "type": "string",
                  "format": "google-fieldmask"
                },
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Output only. After you create a job, Data Labeling Service assigns a name to the job with the following format: \"projects/{project_id}/evaluationJobs/ {evaluation_job_id}\"",
                  "required": true,
                  "pattern": "^projects/[^/]+/evaluationJobs/[^/]+$"
                }
              },
              "id": "datalabeling.projects.evaluationJobs.patch",
              "flatPath": "v1beta1/projects/{projectsId}/evaluationJobs/{evaluationJobsId}",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "flatPath": "v1beta1/projects/{projectsId}/evaluationJobs",
              "path": "v1beta1/{+parent}/evaluationJobs",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by the nextPageToken in the response to the previous request. The request returns the first page if this is empty."
                },
                "parent": {
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. Evaluation job resource parent. Format: \"projects/{project_id}\"",
                  "type": "string",
                  "required": true
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. You can filter the jobs to list by model_id (also known as model_name, as described in EvaluationJob.modelVersion) or by evaluation job state (as described in EvaluationJob.state). To filter by both criteria, use the `AND` operator or the `OR` operator. For example, you can use the following string for your filter: \"evaluation_job.model_id = {model_name} AND evaluation_job.state = {evaluation_job_state}\""
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100.",
                  "format": "int32",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1ListEvaluationJobsResponse"
              },
              "httpMethod": "GET",
              "description": "Lists all evaluation jobs within a project with possible filters. Pagination is supported.",
              "id": "datalabeling.projects.evaluationJobs.list"
            },
            "pause": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta1/{+name}:pause",
              "request": {
                "$ref": "GoogleCloudDatalabelingV1beta1PauseEvaluationJobRequest"
              },
              "parameters": {
                "name": {
                  "description": "Required. Name of the evaluation job that is going to be paused. Format: \"projects/{project_id}/evaluationJobs/{evaluation_job_id}\"",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/evaluationJobs/[^/]+$",
                  "type": "string"
                }
              },
              "flatPath": "v1beta1/projects/{projectsId}/evaluationJobs/{evaluationJobsId}:pause",
              "description": "Pauses an evaluation job. Pausing an evaluation job that is already in a `PAUSED` state is a no-op.",
              "httpMethod": "POST",
              "id": "datalabeling.projects.evaluationJobs.pause"
            }
          }
        },
        "annotationSpecSets": {
          "methods": {
            "delete": {
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "path": "v1beta1/{+name}",
              "flatPath": "v1beta1/projects/{projectsId}/annotationSpecSets/{annotationSpecSetsId}",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/annotationSpecSets/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. AnnotationSpec resource name, format: `projects/{project_id}/annotationSpecSets/{annotation_spec_set_id}`."
                }
              },
              "id": "datalabeling.projects.annotationSpecSets.delete",
              "description": "Deletes an annotation spec set by resource name.",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "flatPath": "v1beta1/projects/{projectsId}/annotationSpecSets",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1beta1/{+parent}/annotationSpecSets",
              "httpMethod": "GET",
              "parameters": {
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Filter is not supported at this moment."
                },
                "pageSize": {
                  "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "parent": {
                  "location": "path",
                  "description": "Required. Parent of AnnotationSpecSet resource, format: projects/{project_id}",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string"
                },
                "pageToken": {
                  "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by ListAnnotationSpecSetsResponse.next_page_token of the previous [DataLabelingService.ListAnnotationSpecSets] call. Return first page if empty.",
                  "type": "string",
                  "location": "query"
                }
              },
              "description": "Lists annotation spec sets for a project. Pagination is supported.",
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1ListAnnotationSpecSetsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "datalabeling.projects.annotationSpecSets.list"
            },
            "get": {
              "path": "v1beta1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets an annotation spec set by resource name.",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. AnnotationSpecSet resource name, format: projects/{project_id}/annotationSpecSets/{annotation_spec_set_id}",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/annotationSpecSets/[^/]+$",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1AnnotationSpecSet"
              },
              "httpMethod": "GET",
              "flatPath": "v1beta1/projects/{projectsId}/annotationSpecSets/{annotationSpecSetsId}",
              "id": "datalabeling.projects.annotationSpecSets.get"
            },
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "path": "v1beta1/{+parent}/annotationSpecSets",
              "request": {
                "$ref": "GoogleCloudDatalabelingV1beta1CreateAnnotationSpecSetRequest"
              },
              "flatPath": "v1beta1/projects/{projectsId}/annotationSpecSets",
              "description": "Creates an annotation spec set by providing a set of labels.",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1AnnotationSpecSet"
              },
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. AnnotationSpecSet resource parent, format: projects/{project_id}",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "id": "datalabeling.projects.annotationSpecSets.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        }
      }
    }
  },
  "ownerName": "Google",
  "rootUrl": "https://datalabeling.googleapis.com/",
  "kind": "discovery#restDescription",
  "parameters": {
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "location": "query",
      "description": "Data format for response.",
      "default": "json"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    }
  },
  "id": "datalabeling:v1beta1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "GoogleCloudDatalabelingV1beta1ListDataItemsResponse": {
      "id": "GoogleCloudDatalabelingV1beta1ListDataItemsResponse",
      "type": "object",
      "description": "Results of listing data items in a dataset.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve next page of results."
        },
        "dataItems": {
          "description": "The list of data items to return.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatalabelingV1beta1DataItem"
          }
        }
      }
    },
    "GoogleCloudDatalabelingV1alpha1LabelVideoObjectTrackingOperationMetadata": {
      "id": "GoogleCloudDatalabelingV1alpha1LabelVideoObjectTrackingOperationMetadata",
      "description": "Details of a LabelVideoObjectTracking operation metadata.",
      "properties": {
        "basicConfig": {
          "$ref": "GoogleCloudDatalabelingV1alpha1HumanAnnotationConfig",
          "description": "Basic human annotation config used in labeling request."
        }
      },
      "type": "object"
    },
    "GoogleCloudDatalabelingV1beta1EvaluationJobAlertConfig": {
      "description": "Provides details for how an evaluation job sends email alerts based on the results of a run.",
      "id": "GoogleCloudDatalabelingV1beta1EvaluationJobAlertConfig",
      "type": "object",
      "properties": {
        "email": {
          "description": "Required. An email address to send alerts to.",
          "type": "string"
        },
        "minAcceptableMeanAveragePrecision": {
          "type": "number",
          "description": "Required. A number between 0 and 1 that describes a minimum mean average precision threshold. When the evaluation job runs, if it calculates that your model version's predictions from the recent interval have meanAveragePrecision below this threshold, then it sends an alert to your specified email.",
          "format": "double"
        }
      }
    },
    "GoogleCloudDatalabelingV1beta1VideoObjectTrackingAnnotation": {
      "description": "Video object tracking annotation.",
      "id": "GoogleCloudDatalabelingV1beta1VideoObjectTrackingAnnotation",
      "type": "object",
      "properties": {
        "annotationSpec": {
          "$ref": "GoogleCloudDatalabelingV1beta1AnnotationSpec",
          "description": "Label of the object tracked in this annotation."
        },
        "timeSegment": {
          "$ref": "GoogleCloudDatalabelingV1beta1TimeSegment",
          "description": "The time segment of the video to which object tracking applies."
        },
        "objectTrackingFrames": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatalabelingV1beta1ObjectTrackingFrame"
          },
          "description": "The list of frames where this object track appears."
        }
      }
    },
    "GoogleCloudDatalabelingV1beta1ObjectTrackingConfig": {
      "type": "object",
      "description": "Config for video object tracking human labeling task.",
      "id": "GoogleCloudDatalabelingV1beta1ObjectTrackingConfig",
      "properties": {
        "overlapLength": {
          "format": "int32",
          "description": "The overlap length between different video clips. Users can configure is field in seconds, if not set, default value is 0.3s.",
          "type": "integer"
        },
        "clipLength": {
          "description": "Videos will be cut to smaller clips to make it easier for labelers to work on. Users can configure is field in seconds, if not set, default value is 20s.",
          "type": "integer",
          "format": "int32"
        },
        "annotationSpecSet": {
          "description": "Required. Annotation spec set resource name.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatalabelingV1beta1ListAnnotatedDatasetsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve next page of results.",
          "type": "string"
        },
        "annotatedDatasets": {
          "description": "The list of annotated datasets to return.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatalabelingV1beta1AnnotatedDataset"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1ListAnnotatedDatasetsResponse",
      "description": "Results of listing annotated datasets for a dataset."
    },
    "GoogleCloudDatalabelingV1p1alpha1GenerateAnalysisReportOperationMetadata": {
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Timestamp when generate report request was created.",
          "format": "google-datetime"
        },
        "dataset": {
          "description": "The name of the dataset for which the analysis report is generated. Format: \"projects/*/datasets/*\"",
          "type": "string"
        }
      },
      "description": "Metadata of an GenerateAnalysisReport operation.",
      "id": "GoogleCloudDatalabelingV1p1alpha1GenerateAnalysisReportOperationMetadata",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1alpha1LabelImageSegmentationOperationMetadata": {
      "description": "Details of a LabelImageSegmentation operation metadata.",
      "type": "object",
      "id": "GoogleCloudDatalabelingV1alpha1LabelImageSegmentationOperationMetadata",
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config.",
          "$ref": "GoogleCloudDatalabelingV1alpha1HumanAnnotationConfig"
        }
      }
    },
    "GoogleCloudDatalabelingV1beta1CreateEvaluationJobRequest": {
      "properties": {
        "job": {
          "description": "Required. The evaluation job to create.",
          "$ref": "GoogleCloudDatalabelingV1beta1EvaluationJob"
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1CreateEvaluationJobRequest",
      "type": "object",
      "description": " Request message for CreateEvaluationJob."
    },
    "GoogleCloudDatalabelingV1alpha1LabelVideoEventOperationMetadata": {
      "id": "GoogleCloudDatalabelingV1alpha1LabelVideoEventOperationMetadata",
      "type": "object",
      "description": "Details of a LabelVideoEvent operation metadata.",
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config used in labeling request.",
          "$ref": "GoogleCloudDatalabelingV1alpha1HumanAnnotationConfig"
        }
      }
    },
    "GoogleCloudDatalabelingV1beta1SequentialSegment": {
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1SequentialSegment",
      "properties": {
        "start": {
          "description": "Start position (inclusive).",
          "type": "integer",
          "format": "int32"
        },
        "end": {
          "format": "int32",
          "description": "End position (exclusive).",
          "type": "integer"
        }
      },
      "description": "Start and end position in a sequence (e.g. text segment)."
    },
    "GoogleLongrunningListOperationsResponse": {
      "properties": {
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "operations": {
          "items": {
            "$ref": "GoogleLongrunningOperation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "GoogleLongrunningListOperationsResponse",
      "type": "object",
      "description": "The response message for Operations.ListOperations."
    },
    "GoogleCloudDatalabelingV1p1alpha1LabelImageOrientedBoundingBoxOperationMetadata": {
      "type": "object",
      "id": "GoogleCloudDatalabelingV1p1alpha1LabelImageOrientedBoundingBoxOperationMetadata",
      "description": "Details of a LabelImageOrientedBoundingBox operation metadata.",
      "properties": {
        "basicConfig": {
          "$ref": "GoogleCloudDatalabelingV1p1alpha1HumanAnnotationConfig",
          "description": "Basic human annotation config."
        }
      }
    },
    "GoogleCloudDatalabelingV1beta1PauseEvaluationJobRequest": {
      "description": "Request message for PauseEvaluationJob.",
      "id": "GoogleCloudDatalabelingV1beta1PauseEvaluationJobRequest",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDatalabelingV1beta1TextClassificationConfig": {
      "properties": {
        "allowMultiLabel": {
          "description": "Optional. If allow_multi_label is true, contributors are able to choose multiple labels for one text segment.",
          "type": "boolean"
        },
        "annotationSpecSet": {
          "type": "string",
          "description": "Required. Annotation spec set resource name."
        },
        "sentimentConfig": {
          "$ref": "GoogleCloudDatalabelingV1beta1SentimentConfig",
          "description": "Optional. Configs for sentiment selection. We deprecate sentiment analysis in data labeling side as it is incompatible with uCAIP.",
          "deprecated": true
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1TextClassificationConfig",
      "type": "object",
      "description": "Config for text classification human labeling task."
    },
    "GoogleCloudDatalabelingV1alpha1GcsDestination": {
      "type": "object",
      "id": "GoogleCloudDatalabelingV1alpha1GcsDestination",
      "description": "Export destination of the data.Only gcs path is allowed in output_uri.",
      "properties": {
        "mimeType": {
          "type": "string",
          "description": "Required. The format of the gcs destination. Only \"text/csv\" and \"application/json\" are supported."
        },
        "outputUri": {
          "description": "Required. The output uri of destination file.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatalabelingV1beta1ImageClassificationAnnotation": {
      "description": "Image classification annotation definition.",
      "properties": {
        "annotationSpec": {
          "description": "Label of image.",
          "$ref": "GoogleCloudDatalabelingV1beta1AnnotationSpec"
        }
      },
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1ImageClassificationAnnotation"
    },
    "GoogleRpcStatus": {
      "type": "object",
      "id": "GoogleRpcStatus",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        }
      }
    },
    "GoogleCloudDatalabelingV1p2alpha1LabelImageSegmentationOperationMetadata": {
      "description": "Details of a LabelImageSegmentation operation metadata.",
      "properties": {
        "basicConfig": {
          "$ref": "GoogleCloudDatalabelingV1p2alpha1HumanAnnotationConfig",
          "description": "Basic human annotation config."
        }
      },
      "id": "GoogleCloudDatalabelingV1p2alpha1LabelImageSegmentationOperationMetadata",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1p1alpha1LabelImageBoundingBoxOperationMetadata": {
      "type": "object",
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config used in labeling request.",
          "$ref": "GoogleCloudDatalabelingV1p1alpha1HumanAnnotationConfig"
        }
      },
      "id": "GoogleCloudDatalabelingV1p1alpha1LabelImageBoundingBoxOperationMetadata",
      "description": "Details of a LabelImageBoundingBox operation metadata."
    },
    "GoogleCloudDatalabelingV1beta1ListExamplesResponse": {
      "description": "Results of listing Examples in and annotated dataset.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve next page of results."
        },
        "examples": {
          "items": {
            "$ref": "GoogleCloudDatalabelingV1beta1Example"
          },
          "description": "The list of examples to return.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1ListExamplesResponse"
    },
    "GoogleCloudDatalabelingV1beta1CsvInstruction": {
      "type": "object",
      "description": "Deprecated: this instruction format is not supported any more. Instruction from a CSV file.",
      "properties": {
        "gcsFileUri": {
          "description": "CSV file for the instruction. Only gcs path is allowed.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1CsvInstruction"
    },
    "GoogleCloudDatalabelingV1beta1FeedbackMessage": {
      "description": "A feedback message inside a feedback thread.",
      "properties": {
        "operatorFeedbackMetadata": {
          "$ref": "GoogleCloudDatalabelingV1beta1OperatorFeedbackMetadata"
        },
        "name": {
          "description": "Name of the feedback message in a feedback thread. Format: 'project/{project_id}/datasets/{dataset_id}/annotatedDatasets/{annotated_dataset_id}/feedbackThreads/{feedback_thread_id}/feedbackMessage/{feedback_message_id}'",
          "type": "string"
        },
        "image": {
          "type": "string",
          "description": "The image storing this feedback if the feedback is an image representing operator's comments.",
          "format": "byte"
        },
        "body": {
          "description": "String content of the feedback. Maximum of 10000 characters.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Create time.",
          "format": "google-datetime"
        },
        "requesterFeedbackMetadata": {
          "$ref": "GoogleCloudDatalabelingV1beta1RequesterFeedbackMetadata"
        }
      },
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1FeedbackMessage"
    },
    "GoogleCloudDatalabelingV1beta1HumanAnnotationConfig": {
      "properties": {
        "replicaCount": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Replication of questions. Each question will be sent to up to this number of contributors to label. Aggregated answers will be returned. Default is set to 1. For image related labeling, valid values are 1, 3, 5."
        },
        "annotatedDatasetDescription": {
          "type": "string",
          "description": "Optional. A human-readable description for AnnotatedDataset. The description can be up to 10000 characters long."
        },
        "questionDuration": {
          "description": "Optional. Maximum duration for contributors to answer a question. Maximum is 3600 seconds. Default is 3600 seconds.",
          "format": "google-duration",
          "type": "string"
        },
        "userEmailAddress": {
          "description": "Email of the user who started the labeling task and should be notified by email. If empty no notification will be sent.",
          "type": "string"
        },
        "instruction": {
          "description": "Required. Instruction resource name.",
          "type": "string"
        },
        "annotatedDatasetDisplayName": {
          "type": "string",
          "description": "Required. A human-readable name for AnnotatedDataset defined by users. Maximum of 64 characters ."
        },
        "labelGroup": {
          "type": "string",
          "description": "Optional. A human-readable label used to logically group labeling tasks. This string must match the regular expression `[a-zA-Z\\\\d_-]{0,128}`."
        },
        "contributorEmails": {
          "type": "array",
          "description": "Optional. If you want your own labeling contributors to manage and work on this labeling request, you can set these contributors here. We will give them access to the question types in crowdcompute. Note that these emails must be registered in crowdcompute worker UI: https://crowd-compute.appspot.com/",
          "items": {
            "type": "string"
          }
        },
        "languageCode": {
          "type": "string",
          "description": "Optional. The Language of this question, as a [BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt). Default value is en-US. Only need to set this when task is language related. For example, French text classification."
        }
      },
      "description": "Configuration for how human labeling task should be done.",
      "id": "GoogleCloudDatalabelingV1beta1HumanAnnotationConfig",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1beta1AnnotationSpecSetConfig": {
      "properties": {
        "annotationSpecSet": {
          "description": "Required. Annotation spec set resource name.",
          "type": "string"
        },
        "allowMultiLabel": {
          "description": "Optional. If allow_multi_label is true, contributors are able to choose multiple labels from one annotation spec set.",
          "type": "boolean"
        }
      },
      "description": "Annotation spec set with the setting of allowing multi labels or not.",
      "id": "GoogleCloudDatalabelingV1beta1AnnotationSpecSetConfig",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1beta1LabelVideoObjectTrackingOperationMetadata": {
      "description": "Details of a LabelVideoObjectTracking operation metadata.",
      "properties": {
        "basicConfig": {
          "$ref": "GoogleCloudDatalabelingV1beta1HumanAnnotationConfig",
          "description": "Basic human annotation config used in labeling request."
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1LabelVideoObjectTrackingOperationMetadata",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1p1alpha1ExportDataOperationResponse": {
      "type": "object",
      "properties": {
        "labelStats": {
          "description": "Output only. Statistic infos of labels in the exported dataset.",
          "$ref": "GoogleCloudDatalabelingV1p1alpha1LabelStats"
        },
        "annotatedDataset": {
          "type": "string",
          "description": "Output only. The name of annotated dataset in format \"projects/*/datasets/*/annotatedDatasets/*\"."
        },
        "dataset": {
          "description": "Ouptut only. The name of dataset. \"projects/*/datasets/*\"",
          "type": "string"
        },
        "totalCount": {
          "type": "integer",
          "description": "Output only. Total number of examples requested to export",
          "format": "int32"
        },
        "exportCount": {
          "format": "int32",
          "description": "Output only. Number of examples exported successfully.",
          "type": "integer"
        },
        "outputConfig": {
          "description": "Output only. output_config in the ExportData request.",
          "$ref": "GoogleCloudDatalabelingV1p1alpha1OutputConfig"
        }
      },
      "id": "GoogleCloudDatalabelingV1p1alpha1ExportDataOperationResponse",
      "description": "Response used for ExportDataset longrunning operation."
    },
    "GoogleCloudDatalabelingV1p2alpha1LabelTextEntityExtractionOperationMetadata": {
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config used in labeling request.",
          "$ref": "GoogleCloudDatalabelingV1p2alpha1HumanAnnotationConfig"
        }
      },
      "type": "object",
      "description": "Details of a LabelTextEntityExtraction operation metadata.",
      "id": "GoogleCloudDatalabelingV1p2alpha1LabelTextEntityExtractionOperationMetadata"
    },
    "GoogleCloudDatalabelingV1beta1GcsSource": {
      "properties": {
        "mimeType": {
          "description": "Required. The format of the source file. Only \"text/csv\" is supported.",
          "type": "string"
        },
        "inputUri": {
          "description": "Required. The input URI of source file. This must be a Cloud Storage path (`gs://...`).",
          "type": "string"
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1GcsSource",
      "description": "Source of the Cloud Storage file to be imported.",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1beta1ImageClassificationConfig": {
      "description": "Config for image classification human labeling task.",
      "id": "GoogleCloudDatalabelingV1beta1ImageClassificationConfig",
      "type": "object",
      "properties": {
        "answerAggregationType": {
          "description": "Optional. The type of how to aggregate answers.",
          "enumDescriptions": [
            "",
            "Majority vote to aggregate answers.",
[...]
