{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "rootUrl": "https://dataform.googleapis.com/",
  "discoveryVersion": "v1",
  "basePath": "",
  "name": "dataform",
  "protocol": "rest",
  "endpoints": [
    {
      "location": "africa-south1",
      "endpointUrl": "https://dataform.africa-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-east1",
      "endpointUrl": "https://dataform.asia-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-east2",
      "endpointUrl": "https://dataform.asia-east2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataform.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast1"
    },
    {
      "endpointUrl": "https://dataform.asia-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast2"
    },
    {
      "location": "asia-northeast3",
      "endpointUrl": "https://dataform.asia-northeast3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataform.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south1"
    },
    {
      "location": "asia-south2",
      "endpointUrl": "https://dataform.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataform.asia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast1"
    },
    {
      "endpointUrl": "https://dataform.asia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast2"
    },
    {
      "location": "australia-southeast1",
      "endpointUrl": "https://dataform.australia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataform.australia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "australia-southeast2"
    },
    {
      "location": "europe-central2",
      "endpointUrl": "https://dataform.europe-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-north1",
      "endpointUrl": "https://dataform.europe-north1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-southwest1",
      "endpointUrl": "https://dataform.europe-southwest1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataform.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west1"
    },
    {
      "endpointUrl": "https://dataform.europe-west10.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west10"
    },
    {
      "location": "europe-west12",
      "endpointUrl": "https://dataform.europe-west12.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataform.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west2"
    },
    {
      "location": "europe-west3",
      "endpointUrl": "https://dataform.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west4",
      "endpointUrl": "https://dataform.europe-west4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataform.europe-west6.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west6"
    },
    {
      "location": "europe-west8",
      "endpointUrl": "https://dataform.europe-west8.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west9",
      "endpointUrl": "https://dataform.europe-west9.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "me-central1",
      "endpointUrl": "https://dataform.me-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "me-central2",
      "endpointUrl": "https://dataform.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataform.me-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-west1"
    },
    {
      "endpointUrl": "https://dataform.northamerica-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-northeast1"
    },
    {
      "endpointUrl": "https://dataform.northamerica-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-northeast2"
    },
    {
      "location": "southamerica-east1",
      "endpointUrl": "https://dataform.southamerica-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "southamerica-west1",
      "endpointUrl": "https://dataform.southamerica-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataform.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-central1"
    },
    {
      "location": "us-east1",
      "endpointUrl": "https://dataform.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east4",
      "endpointUrl": "https://dataform.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataform.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east5"
    },
    {
      "endpointUrl": "https://dataform.us-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-south1"
    },
    {
      "location": "us-west1",
      "endpointUrl": "https://dataform.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataform.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west2"
    },
    {
      "endpointUrl": "https://dataform.us-west3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west3"
    },
    {
      "location": "us-west4",
      "endpointUrl": "https://dataform.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    }
  ],
  "schemas": {
    "ActionLoadConfig": {
      "properties": {
        "append": {
          "description": "Append into destination table",
          "$ref": "ActionSimpleLoadMode"
        },
        "unique": {
          "description": "Insert records where the value of a column is not already present in the destination table",
          "$ref": "ActionIncrementalLoadMode"
        },
        "replace": {
          "description": "Replace destination table",
          "$ref": "ActionSimpleLoadMode"
        },
        "maximum": {
          "description": "Insert records where the value exceeds the previous maximum value for a column in the destination table",
          "$ref": "ActionIncrementalLoadMode"
        }
      },
      "id": "ActionLoadConfig",
      "description": "Simplified load configuration for actions",
      "type": "object"
    },
    "WorkflowInvocation": {
      "id": "WorkflowInvocation",
      "description": "Represents a single invocation of a compilation result.",
      "type": "object",
      "properties": {
        "dataEncryptionState": {
          "$ref": "DataEncryptionState",
          "description": "Output only. Only set if the repository has a KMS Key.",
          "readOnly": true
        },
        "compilationResult": {
          "description": "Immutable. The name of the compilation result to use for this invocation. Must be in the format `projects/*/locations/*/repositories/*/compilationResults/*`.",
          "type": "string"
        },
        "resolvedCompilationResult": {
          "description": "Output only. The resolved compilation result that was used to create this invocation. Will be in the format `projects/*/locations/*/repositories/*/compilationResults/*`.",
          "readOnly": true,
          "type": "string"
        },
        "internalMetadata": {
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Output only. The workflow invocation's name.",
          "readOnly": true,
          "type": "string"
        },
        "privateResourceMetadata": {
          "$ref": "PrivateResourceMetadata",
          "description": "Output only. Metadata indicating whether this resource is user-scoped. `WorkflowInvocation` resource is `user_scoped` only if it is sourced from a compilation result and the compilation result is user-scoped.",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The workflow invocation is currently running.",
            "The workflow invocation succeeded. A terminal state.",
            "The workflow invocation was cancelled. A terminal state.",
            "The workflow invocation failed. A terminal state.",
            "The workflow invocation is being cancelled, but some actions are still running."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "CANCELLED",
            "FAILED",
            "CANCELING"
          ],
          "description": "Output only. This workflow invocation's current state.",
          "readOnly": true,
          "type": "string"
        },
        "pipelineConfig": {
          "$ref": "PipelineConfig",
          "description": "Output only. The pipeline options which defines the pipeline type and path within the Git repository.",
          "readOnly": true
        },
        "invocationTiming": {
          "$ref": "Interval",
          "description": "Output only. This workflow invocation's timing details.",
          "readOnly": true
        },
        "invocationConfig": {
          "description": "Immutable. If left unset, a default InvocationConfig will be used.",
          "$ref": "InvocationConfig"
        },
        "workflowConfig": {
          "description": "Immutable. The name of the workflow config to invoke. Must be in the format `projects/*/locations/*/repositories/*/workflowConfigs/*`.",
          "type": "string"
        }
      }
    },
    "ActionSimpleLoadMode": {
      "properties": {},
      "id": "ActionSimpleLoadMode",
      "description": "Simple load definition",
      "type": "object"
    },
    "RemoveFileRequest": {
      "id": "RemoveFileRequest",
      "description": "`RemoveFile` request message.",
      "type": "object",
      "properties": {
        "path": {
          "description": "Required. The file's full path including filename, relative to the workspace root.",
          "type": "string"
        }
      }
    },
    "Assertion": {
      "id": "Assertion",
      "description": "Represents an assertion upon a SQL query which is required return zero rows.",
      "type": "object",
      "properties": {
        "dependencyTargets": {
          "items": {
            "$ref": "Target"
          },
          "description": "A list of actions that this action depends on.",
          "type": "array"
        },
        "selectQuery": {
          "description": "The SELECT query which must return zero rows in order for this assertion to succeed.",
          "type": "string"
        },
        "parentAction": {
          "description": "The parent action of this assertion. Only set if this assertion was automatically generated.",
          "$ref": "Target"
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "description": "Arbitrary, user-defined tags on this action.",
          "type": "array"
        },
        "relationDescriptor": {
          "description": "Descriptor for the assertion's automatically-generated view and its columns.",
          "$ref": "RelationDescriptor"
        },
        "disabled": {
          "description": "Whether this action is disabled (i.e. should not be run).",
          "type": "boolean"
        }
      }
    },
    "ComputeRepositoryAccessTokenStatusResponse": {
      "id": "ComputeRepositoryAccessTokenStatusResponse",
      "description": "`ComputeRepositoryAccessTokenStatus` response message.",
      "type": "object",
      "properties": {
        "tokenStatus": {
          "description": "Indicates the status of the Git access token.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The token could not be found in Secret Manager (or the Dataform Service Account did not have permission to access it).",
            "The token could not be used to authenticate against the Git remote.",
            "The token was used successfully to authenticate against the Git remote.",
            "The token is not accessible due to permission issues."
          ],
          "enum": [
            "TOKEN_STATUS_UNSPECIFIED",
            "NOT_FOUND",
            "INVALID",
            "VALID",
            "PERMISSION_DENIED"
          ]
        }
      }
    },
    "InstallNpmPackagesRequest": {
      "id": "InstallNpmPackagesRequest",
      "description": "`InstallNpmPackages` request message.",
      "type": "object",
      "properties": {
        "pipelineConfig": {
          "description": "Optional. The pipeline options which defines the pipeline type and path within the Git repository.",
          "$ref": "PipelineConfig"
        }
      }
    },
    "PullGitCommitsRequest": {
      "properties": {
        "remoteBranch": {
          "description": "Optional. The name of the branch in the Git remote from which to pull commits. If left unset, the repository's default branch name will be used.",
          "type": "string"
        },
        "author": {
          "description": "Required. The author of any merge commit which may be created as a result of merging fetched Git commits into this workspace.",
          "$ref": "CommitAuthor"
        }
      },
      "id": "PullGitCommitsRequest",
      "description": "`PullGitCommits` request message.",
      "type": "object"
    },
    "OperationMetadata": {
      "properties": {
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "statusDetail": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string"
        },
        "cancelRequested": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "type": "object"
    },
    "GitRemoteSettings": {
      "properties": {
        "effectiveDefaultBranch": {
          "description": "Output only. The Git remote's effective default branch name. This is the default branch name of the Git remote if it is set, otherwise it is `main`.",
          "readOnly": true,
          "type": "string"
        },
        "defaultBranch": {
          "description": "Optional. The Git remote's default branch name. If not set, `main` will be used.",
          "type": "string"
        },
        "authenticationTokenSecretVersion": {
          "description": "Optional. The name of the Secret Manager secret version to use as an authentication token for Git operations. Must be in the format `projects/*/secrets/*/versions/*`.",
          "type": "string"
        },
        "tokenStatus": {
          "type": "string",
          "deprecated": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The token could not be found in Secret Manager (or the Dataform Service Account did not have permission to access it).",
            "The token could not be used to authenticate against the Git remote.",
            "The token was used successfully to authenticate against the Git remote."
          ],
          "enum": [
            "TOKEN_STATUS_UNSPECIFIED",
            "NOT_FOUND",
            "INVALID",
            "VALID"
          ],
          "description": "Output only. Deprecated: The field does not contain any token status information. Instead use https://cloud.google.com/dataform/reference/rest/v1beta1/projects.locations.repositories/computeAccessTokenStatus",
          "readOnly": true
        },
        "url": {
          "description": "Required. The Git remote's URL.",
          "type": "string"
        },
        "gitRepositoryLink": {
          "description": "Optional. Resource name for the `GitRepositoryLink` used for machine credentials. Must be in the format `projects/*/locations/*/connections/*/gitRepositoryLinks/*`",
          "type": "string"
        },
        "sshAuthenticationConfig": {
          "description": "Optional. Authentication fields for remote uris using SSH protocol.",
          "$ref": "SshAuthenticationConfig"
        }
      },
      "id": "GitRemoteSettings",
      "description": "Controls Git remote configuration for a repository.",
      "type": "object"
    },
    "DirectoryEntry": {
      "properties": {
        "metadata": {
          "description": "Entry with metadata.",
          "$ref": "FilesystemEntryMetadata"
        },
        "file": {
          "description": "A file in the directory. The path is returned including the full folder structure from the root.",
          "type": "string"
        },
        "directory": {
          "description": "A child directory in the directory. The path is returned including the full folder structure from the root.",
          "type": "string"
        }
      },
      "id": "DirectoryEntry",
      "description": "Represents a single entry in a directory.",
      "type": "object"
    },
    "TestIamPermissionsRequest": {
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "TestIamPermissionsRequest",
      "description": "Request message for `TestIamPermissions` method.",
      "type": "object"
    },
    "CommitWorkspaceChangesRequest": {
      "id": "CommitWorkspaceChangesRequest",
      "description": "`CommitWorkspaceChanges` request message.",
      "type": "object",
      "properties": {
        "author": {
          "description": "Required. The commit's author.",
          "$ref": "CommitAuthor"
        },
        "commitMessage": {
          "description": "Optional. The commit's message.",
          "type": "string"
        },
        "paths": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Full file paths to commit including filename, rooted at workspace root. If left empty, all files will be committed.",
          "type": "array"
        }
      }
    },
    "Relation": {
      "properties": {
        "disabled": {
          "description": "Whether this action is disabled (i.e. should not be run).",
          "type": "boolean"
        },
        "preOperations": {
          "items": {
            "type": "string"
          },
          "description": "SQL statements to be executed before creating the relation.",
          "type": "array"
        },
        "incrementalTableConfig": {
          "description": "Configures `INCREMENTAL_TABLE` settings for this relation. Only set if `relation_type` is `INCREMENTAL_TABLE`.",
          "$ref": "IncrementalTableConfig"
        },
        "tableFormat": {
          "description": "Optional. The table format for the BigQuery table.",
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Apache Iceberg format."
          ],
          "enum": [
            "TABLE_FORMAT_UNSPECIFIED",
            "ICEBERG"
          ]
        },
        "fileFormat": {
          "enumDescriptions": [
            "Default value.",
            "Apache Parquet format."
          ],
          "enum": [
            "FILE_FORMAT_UNSPECIFIED",
            "PARQUET"
          ],
          "description": "Optional. The file format for the BigQuery table.",
          "type": "string"
        },
        "relationDescriptor": {
          "description": "Descriptor for the relation and its columns.",
          "$ref": "RelationDescriptor"
        },
        "clusterExpressions": {
          "description": "A list of columns or SQL expressions used to cluster the table.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "requirePartitionFilter": {
          "description": "Specifies whether queries on this table must include a predicate filter that filters on the partitioning column.",
          "type": "boolean"
        },
        "postOperations": {
          "description": "SQL statements to be executed after creating the relation.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "storageUri": {
          "description": "Optional. The fully qualified location prefix of the external folder where table data is stored. The URI should be in the format `gs://bucket/path_to_table/`.",
          "type": "string"
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "description": "Arbitrary, user-defined tags on this action.",
          "type": "array"
        },
        "relationType": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The relation is a table.",
            "The relation is a view.",
            "The relation is an incrementalized table.",
            "The relation is a materialized view."
          ],
          "enum": [
            "RELATION_TYPE_UNSPECIFIED",
            "TABLE",
            "VIEW",
            "INCREMENTAL_TABLE",
            "MATERIALIZED_VIEW"
          ],
          "description": "The type of this relation.",
          "type": "string"
        },
        "partitionExpression": {
          "description": "The SQL expression used to partition the relation.",
          "type": "string"
        },
        "dependencyTargets": {
          "description": "A list of actions that this action depends on.",
          "type": "array",
          "items": {
            "$ref": "Target"
          }
        },
        "partitionExpirationDays": {
          "description": "Sets the partition expiration in days.",
          "type": "integer",
          "format": "int32"
        },
        "selectQuery": {
          "description": "The SELECT query which returns rows which this relation should contain.",
          "type": "string"
        },
        "additionalOptions": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Additional options that will be provided as key/value pairs into the options clause of a create table/view statement. See https://cloud.google.com/bigquery/docs/reference/standard-sql/data-definition-language for more information on which options are supported.",
          "type": "object"
        },
        "connection": {
          "description": "Optional. The connection specifying the credentials to be used to read and write to external storage, such as Cloud Storage. The connection can have the form `{project}.{location}.{connection_id}` or `projects/{project}/locations/{location}/connections/{connection_id}`, or be set to DEFAULT.",
          "type": "string"
        }
      },
      "id": "Relation",
      "description": "Represents a database relation.",
      "type": "object"
    },
    "NotebookRuntimeOptions": {
      "id": "NotebookRuntimeOptions",
      "description": "Configures various aspects of Dataform notebook runtime.",
      "type": "object",
      "properties": {
        "gcsOutputBucket": {
          "description": "Optional. The Google Cloud Storage location to upload the result to. Format: `gs://bucket-name`.",
          "type": "string"
        },
        "aiPlatformNotebookRuntimeTemplate": {
          "description": "Optional. The resource name of the [Colab runtime template] (https://cloud.google.com/colab/docs/runtimes), from which a runtime is created for notebook executions. If not specified, a runtime is created with Colab's default specifications.",
          "type": "string"
        },
        "gcsRepositorySnapshotDestination": {
          "description": "Optional. The Google Cloud Storage destination to upload the snapshot to. For empty URI it defaults to the provided gcs_output_bucket. Format: `gs://bucket-name/path/`.",
          "$ref": "GcsRepositorySnapshotDestination"
        }
      }
    },
    "BigQueryAction": {
      "id": "BigQueryAction",
      "description": "Represents a workflow action that will run against BigQuery.",
      "type": "object",
      "properties": {
        "sqlScript": {
          "description": "Output only. The generated BigQuery SQL script that will be executed.",
          "readOnly": true,
          "type": "string"
        },
        "jobId": {
          "description": "Output only. The ID of the BigQuery job that executed the SQL in sql_script. Only set once the job has started to run.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "SimpleLoadMode": {
      "id": "SimpleLoadMode",
      "description": "Simple load definition",
      "type": "object",
      "properties": {}
    },
    "SearchFilesResponse": {
      "properties": {
        "searchResults": {
          "description": "List of matched results.",
          "type": "array",
          "items": {
            "$ref": "SearchResult"
          }
        },
        "nextPageToken": {
          "description": "Optional. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "SearchFilesResponse",
      "description": "Client-facing representation of a file search response.",
      "type": "object"
    },
    "CommitWorkspaceChangesResponse": {
      "id": "CommitWorkspaceChangesResponse",
      "description": "`CommitWorkspaceChanges` response message.",
      "type": "object",
      "properties": {}
    },
    "CommitLogEntry": {
      "properties": {
        "author": {
          "description": "The commit author for this commit log entry.",
          "$ref": "CommitAuthor"
        },
        "commitMessage": {
          "description": "The commit message for this commit log entry.",
          "type": "string"
        },
        "commitTime": {
          "description": "Commit timestamp.",
          "type": "string",
          "format": "google-datetime"
        },
        "commitSha": {
          "description": "The commit SHA for this commit log entry.",
          "type": "string"
        }
      },
      "id": "CommitLogEntry",
      "description": "Represents a single commit log.",
      "type": "object"
    },
    "PrivateResourceMetadata": {
      "id": "PrivateResourceMetadata",
      "description": "Metadata used to identify if a resource is user scoped.",
      "type": "object",
      "properties": {
        "userScoped": {
          "description": "Output only. If true, this resource is user-scoped, meaning it is either a workspace or sourced from a workspace.",
          "readOnly": true,
          "type": "boolean"
        }
      }
    },
    "ListRepositoriesResponse": {
      "id": "ListRepositoriesResponse",
      "description": "`ListRepositories` response message.",
      "type": "object",
      "properties": {
        "repositories": {
          "items": {
            "$ref": "Repository"
          },
          "description": "List of repositories.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations which could not be reached.",
          "type": "array"
        }
      }
    },
    "SearchResult": {
      "id": "SearchResult",
      "description": "Client-facing representation of a search result entry.",
      "type": "object",
      "properties": {
        "file": {
          "description": "Details when search result is a file.",
          "$ref": "FileSearchResult"
        },
        "directory": {
          "description": "Details when search result is a directory.",
          "$ref": "DirectorySearchResult"
        }
      }
    },
    "MoveDirectoryResponse": {
      "id": "MoveDirectoryResponse",
      "description": "`MoveDirectory` response message.",
      "type": "object",
      "properties": {}
    },
    "MoveDirectoryRequest": {
      "properties": {
        "path": {
          "description": "Required. The directory's full path including directory name, relative to the workspace root.",
          "type": "string"
        },
        "newPath": {
          "description": "Required. The new path for the directory including directory name, rooted at workspace root.",
          "type": "string"
        }
      },
      "id": "MoveDirectoryRequest",
      "description": "`MoveDirectory` request message.",
      "type": "object"
    },
    "RemoveFileResponse": {
      "id": "RemoveFileResponse",
      "description": "`RemoveFile` response message.",
      "type": "object",
      "properties": {}
    },
    "GcsRepositorySnapshotMetadata": {
      "id": "GcsRepositorySnapshotMetadata",
      "description": "Metadata about a repository snapshot stored in Google Cloud Storage.",
      "type": "object",
      "properties": {
        "repositorySnapshotUri": {
          "description": "Output only. The Google Cloud Storage URI of the repository snapshot.",
          "readOnly": true,
          "type": "string"
        },
        "crc32cChecksum": {
          "description": "Output only. The crc32c checksum of the repository snapshot, big-endian base64 encoded.",
          "readOnly": true,
          "type": "string"
        },
        "generation": {
          "format": "int64",
          "description": "Output only. The generation number of the Cloud Storage object. See https://cloud.google.com/storage/docs/metadata#generation-number.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ListWorkflowConfigsResponse": {
      "id": "ListWorkflowConfigsResponse",
      "description": "`ListWorkflowConfigs` response message.",
      "type": "object",
      "properties": {
        "workflowConfigs": {
          "items": {
            "$ref": "WorkflowConfig"
          },
          "description": "List of workflow configs.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations which could not be reached.",
          "type": "array"
        }
      }
    },
    "ResetWorkspaceChangesRequest": {
      "id": "ResetWorkspaceChangesRequest",
      "description": "`ResetWorkspaceChanges` request message.",
      "type": "object",
      "properties": {
        "paths": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Full file paths to reset back to their committed state including filename, rooted at workspace root. If left empty, all files will be reset.",
          "type": "array"
        },
        "clean": {
          "description": "Optional. If set to true, untracked files will be deleted.",
          "type": "boolean"
        }
      }
    },
    "Binding": {
      "id": "Binding",
      "description": "Associates `members`, or principals, with a `role`.",
      "type": "object",
      "properties": {
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        },
        "members": {
          "items": {
            "type": "string"
          },
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "type": "array"
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        }
      }
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      }
    },
    "Target": {
      "properties": {
        "schema": {
          "description": "Optional. The action's schema (BigQuery dataset ID), within `database`.",
          "type": "string"
        },
        "name": {
          "description": "Optional. The action's name, within `database` and `schema`.",
          "type": "string"
        },
        "database": {
          "description": "Optional. The action's database (Google Cloud project ID) .",
          "type": "string"
        }
      },
      "id": "Target",
      "description": "Represents an action identifier. If the action writes output, the output will be written to the referenced database object.",
      "type": "object"
    },
    "DataPreparation": {
      "id": "DataPreparation",
      "description": "Defines a compiled Data Preparation entity",
      "type": "object",
      "properties": {
        "disabled": {
          "description": "Whether this action is disabled (i.e. should not be run).",
          "type": "boolean"
        },
        "tags": {
          "description": "Arbitrary, user-defined tags on this action.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "contentsSql": {
          "description": "SQL definition for a Data Preparation. Contains a SQL query and additional context information.",
          "$ref": "SqlDefinition"
        },
        "contentsYaml": {
          "description": "The data preparation definition, stored as a YAML string.",
          "type": "string"
        },
        "dependencyTargets": {
          "items": {
            "$ref": "Target"
          },
          "description": "A list of actions that this action depends on.",
          "type": "array"
        }
      }
    },
    "CancelWorkflowInvocationRequest": {
      "id": "CancelWorkflowInvocationRequest",
      "description": "`CancelWorkflowInvocation` request message.",
      "type": "object",
      "properties": {}
    },
    "SetIamPolicyRequest": {
      "id": "SetIamPolicyRequest",
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        }
      }
    },
    "QueryUserRootContentsResponse": {
      "properties": {
        "entries": {
          "items": {
            "$ref": "RootContentsEntry"
          },
          "description": "List of entries in the folder.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "QueryUserRootContentsResponse",
      "description": "`QueryUserRootContents` response message.",
      "type": "object"
    },
    "WorkflowInvocationAction": {
      "id": "WorkflowInvocationAction",
      "description": "Represents a single action in a workflow invocation.",
      "type": "object",
      "properties": {
        "failureReason": {
          "description": "Output only. If and only if action's state is FAILED a failure reason is set.",
          "readOnly": true,
          "type": "string"
        },
        "invocationTiming": {
          "$ref": "Interval",
          "description": "Output only. This action's timing details. `start_time` will be set if the action is in [RUNNING, SUCCEEDED, CANCELLED, FAILED] state. `end_time` will be set if the action is in [SUCCEEDED, CANCELLED, FAILED] state.",
          "readOnly": true
        },
        "notebookAction": {
          "description": "Output only. The workflow action's notebook action details.",
          "readOnly": true,
          "$ref": "NotebookAction"
        },
        "canonicalTarget": {
          "description": "Output only. The action's identifier if the project had been compiled without any overrides configured. Unique within the compilation result.",
          "readOnly": true,
          "$ref": "Target"
        },
        "target": {
          "description": "Output only. This action's identifier. Unique within the workflow invocation.",
          "readOnly": true,
          "$ref": "Target"
        },
        "state": {
          "enumDescriptions": [
            "The action has not yet been considered for invocation.",
            "The action is currently running.",
            "Execution of the action was skipped because upstream dependencies did not all complete successfully. A terminal state.",
            "Execution of the action was disabled as per the configuration of the corresponding compilation result action. A terminal state.",
            "The action succeeded. A terminal state.",
            "The action was cancelled. A terminal state.",
            "The action failed. A terminal state."
          ],
          "enum": [
            "PENDING",
            "RUNNING",
            "SKIPPED",
            "DISABLED",
            "SUCCEEDED",
            "CANCELLED",
            "FAILED"
          ],
          "description": "Output only. This action's current state.",
          "readOnly": true,
          "type": "string"
        },
        "dataPreparationAction": {
          "description": "Output only. The workflow action's data preparation action details.",
          "readOnly": true,
          "$ref": "DataPreparationAction"
        },
        "internalMetadata": {
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "readOnly": true,
          "type": "string"
        },
        "bigqueryAction": {
          "$ref": "BigQueryAction",
          "description": "Output only. The workflow action's bigquery action details.",
          "readOnly": true
        }
      }
    },
    "RootContentsEntry": {
      "id": "RootContentsEntry",
      "description": "Represents a single content entry.",
      "type": "object",
      "properties": {
        "repository": {
          "description": "A repository.",
          "$ref": "Repository"
        },
        "folder": {
          "description": "A subfolder.",
          "$ref": "Folder"
        }
      }
    },
    "Folder": {
      "id": "Folder",
      "description": "Represents a Dataform Folder. This is a resource that is used to organize Files and other Folders and provide hierarchical access controls.",
      "type": "object",
      "properties": {
        "internalMetadata": {
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "readOnly": true,
          "type": "string"
        },
        "creatorIamPrincipal": {
          "description": "Output only. The IAM principal identifier of the creator of the Folder.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Required. The Folder's user-friendly name.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The Folder's name.",
          "type": "string"
        },
        "containingFolder": {
          "description": "Optional. The containing Folder resource name. This should take the format: projects/{project}/locations/{location}/folders/{folder}, projects/{project}/locations/{location}/teamFolders/{teamFolder}, or just \"\" if this is a root Folder. This field can only be updated through MoveFolder.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp of when the Folder was created.",
          "readOnly": true,
          "type": "string"
        },
        "teamFolderName": {
          "description": "Output only. The resource name of the TeamFolder that this Folder is associated with. This should take the format: projects/{project}/locations/{location}/teamFolders/{teamFolder}. If this is not set, the Folder is not associated with a TeamFolder and is a UserFolder.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp of when the Folder was last updated.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "MoveRepositoryRequest": {
      "id": "MoveRepositoryRequest",
      "description": "`MoveRepository` request message.",
      "type": "object",
      "properties": {
        "destinationContainingFolder": {
          "description": "Optional. The name of the Folder, TeamFolder, or root location to move the repository to. Can be in the format of: \"\" to move into the root User folder, `projects/*/locations/*/folders/*`, `projects/*/locations/*/teamFolders/*`",
          "type": "string"
        }
      }
    },
    "Policy": {
      "id": "Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "type": "object",
      "properties": {
        "bindings": {
          "items": {
            "$ref": "Binding"
          },
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "type": "array"
        },
        "version": {
          "format": "int32",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer"
        },
        "etag": {
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string"
        }
      }
    },
    "UncommittedFileChange": {
      "properties": {
        "path": {
          "description": "The file's full path including filename, relative to the workspace root.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The file has been newly added.",
            "The file has been deleted.",
            "The file has been modified.",
            "The file contains merge conflicts."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "MODIFIED",
            "HAS_CONFLICTS"
          ],
          "description": "Output only. Indicates the status of the file.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "UncommittedFileChange",
      "description": "Represents the Git state of a file with uncommitted changes.",
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {}
    },
    "FetchFileDiffResponse": {
      "id": "FetchFileDiffResponse",
      "description": "`FetchFileDiff` response message.",
      "type": "object",
      "properties": {
        "formattedDiff": {
          "description": "The raw formatted Git diff for the file.",
          "type": "string"
        }
      }
    },
    "ActionSqlDefinition": {
      "properties": {
        "query": {
          "description": "The SQL query representing the data preparation steps. Formatted as a Pipe SQL query statement.",
          "type": "string"
        },
        "errorTable": {
          "description": "Error table configuration,",
          "$ref": "ActionErrorTable"
        },
        "loadConfig": {
          "description": "Load configuration.",
          "$ref": "ActionLoadConfig"
        }
      },
      "id": "ActionSqlDefinition",
      "description": "Definition of a SQL Data Preparation",
      "type": "object"
    },
    "WorkflowTriggerConfig": {
      "id": "WorkflowTriggerConfig",
      "description": "Represents a trigger configuration for a workflow.",
      "type": "object",
      "properties": {
        "condition": {
          "enumDescriptions": [
            "If CONDITION_UNSPECIFIED, the default value is ANY.",
            "If ALL, all the trigger config conditions must be met before a workflow is invoked.",
            "If ANY, at least one of the trigger config conditions must be met before a workflow is invoked."
          ],
          "enum": [
            "CONDITION_UNSPECIFIED",
            "ALL",
            "ANY"
          ],
          "description": "Optional. The condition to use when triggering the workflow.",
          "type": "string"
        },
        "workflowTriggers": {
          "items": {
            "$ref": "WorkflowTrigger"
          },
          "description": "Required. The trigger definitions to invoke a workflow.",
          "type": "array"
        },
        "minExecutionDuration": {
          "format": "google-duration",
          "description": "Optional. Minimum duration between two consecutive executions. If not specified, the workflow will be executed every time trigger conditions are met and there is no ongoing workflow execution.",
          "type": "string"
        },
        "maxWaitDuration": {
          "format": "google-duration",
          "description": "Optional. The effective maximum wait time duration for the trigger condition to be met. If not specified, the workflow won't be triggered until conditions are met.",
          "type": "string"
        },
        "lastSuccessfulEvaluationTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp of the last successful trigger evaluation.",
          "readOnly": true,
          "type": "string"
        },
        "recentTriggerEvaluationRecords": {
          "items": {
            "$ref": "TriggerEvaluationRecord"
          },
          "description": "Output only. Records of the 10 most recent trigger evaluations, ordered in descending order of `evaluation_time`. Updated whenever the service evaluates the trigger conditions (via polling or upon receiving a push event).",
          "readOnly": true,
          "type": "array"
        }
      }
    },
    "RemoveDirectoryRequest": {
      "id": "RemoveDirectoryRequest",
      "description": "`RemoveDirectory` request message.",
      "type": "object",
      "properties": {
        "path": {
          "description": "Required. The directory's full path including directory name, relative to the workspace root.",
          "type": "string"
        }
      }
    },
    "CommitRepositoryChangesRequest": {
      "id": "CommitRepositoryChangesRequest",
      "description": "`CommitRepositoryChanges` request message.",
      "type": "object",
      "properties": {
        "commitMetadata": {
          "description": "Required. The changes to commit to the repository.",
          "$ref": "CommitMetadata"
        },
        "requiredHeadCommitSha": {
          "description": "Optional. The commit SHA which must be the repository's current HEAD before applying this commit; otherwise this request will fail. If unset, no validation on the current HEAD commit SHA is performed.",
          "type": "string"
        },
        "fileOperations": {
          "additionalProperties": {
            "$ref": "FileOperation"
          },
          "description": "Optional. A map to the path of the file to the operation. The path is the full file path including filename, from repository root.",
          "type": "object"
        }
      }
    },
    "InvocationConfig": {
      "properties": {
        "includedTargets": {
          "items": {
            "$ref": "Target"
          },
          "description": "Optional. The set of action identifiers to include.",
          "type": "array"
        },
        "includedTags": {
          "description": "Optional. The set of tags to include.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "fullyRefreshIncrementalTablesEnabled": {
          "description": "Optional. When set to true, any incremental tables will be fully refreshed.",
          "type": "boolean"
        },
        "transitiveDependenciesIncluded": {
          "description": "Optional. When set to true, transitive dependencies of included actions will be executed.",
          "type": "boolean"
        },
        "transitiveDependentsIncluded": {
          "description": "Optional. When set to true, transitive dependents of included actions will be executed.",
          "type": "boolean"
        },
        "serviceAccount": {
          "description": "Optional. The service account to run workflow invocations under.",
          "type": "string"
        },
        "queryPriority": {
          "description": "Optional. Specifies the priority for query execution in BigQuery. More information can be found at https://cloud.google.com/bigquery/docs/running-queries#queries.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Query will be executed in BigQuery with interactive priority. More information can be found at https://cloud.google.com/bigquery/docs/running-queries#queries.",
            "Query will be executed in BigQuery with batch priority. More information can be found at https://cloud.google.com/bigquery/docs/running-queries#batchqueries."
          ],
          "enum": [
            "QUERY_PRIORITY_UNSPECIFIED",
            "INTERACTIVE",
            "BATCH"
          ]
        }
      },
      "id": "InvocationConfig",
      "description": "Includes various configuration options for a workflow invocation. If both `included_targets` and `included_tags` are unset, all actions will be included.",
      "type": "object"
    },
    "IamPolicyOverrideView": {
      "properties": {
        "iamPolicyName": {
          "description": "The IAM policy name for the resource.",
          "$ref": "PolicyName"
        },
        "isActive": {
          "description": "Whether the IAM policy encoded in this view is active.",
          "type": "boolean"
        }
      },
      "id": "IamPolicyOverrideView",
      "description": "Contains metadata about the IAM policy override for a given Dataform resource. If is_active is true, this the policy encoded in iam_policy_name is the source of truth for this resource. Will be provided in internal ESV2 views for: Workspaces, Repositories, Folders, TeamFolders.",
      "type": "object"
    },
    "Config": {
      "id": "Config",
      "description": "Config for all repositories in a given project and location.",
      "type": "object",
      "properties": {
        "internalMetadata": {
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Identifier. The config name.",
          "type": "string"
        },
        "defaultKmsKeyName": {
          "description": "Optional. The default KMS key that is used if no encryption key is provided when a repository is created.",
          "type": "string"
        }
      }
    },
    "WriteFile": {
      "properties": {
        "contents": {
          "format": "byte",
          "description": "The file's contents.",
          "type": "string"
        }
      },
      "id": "WriteFile",
      "description": "Represents the write file operation (for files added or modified).",
      "type": "object"
    },
    "NotebookAction": {
      "properties": {
        "filePath": {
          "description": "Output only. The path to the notebook file in the repository.",
          "readOnly": true,
          "type": "string"
        },
        "contents": {
          "description": "Output only. The code contents of a Notebook to be run.",
          "readOnly": true,
          "type": "string"
        },
        "jobId": {
          "description": "Output only. The ID of the Gemini Enterprise Agent Platform job that executed the notebook in contents and also the ID used for the outputs created in Google Cloud Storage buckets. Only set once the job has started to run.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "NotebookAction",
      "description": "Represents a workflow action that will run against a Notebook runtime.",
      "type": "object"
    },
    "PolicyName": {
      "properties": {
        "region": {
          "description": "For Cloud IAM: The location of the Policy. Must be empty or \"global\" for Policies owned by global IAM. Must name a region from prodspec/cloud-iam-cloudspec for Regional IAM Policies, see go/iam-faq#where-is-iam-currently-deployed. For Local IAM: This field should be set to \"local\".",
          "type": "string"
        },
        "type": {
          "description": "Resource type. Types are defined in IAM's .service files. Valid values for type might be 'storage_buckets', 'compute_instances', 'resourcemanager_customers', 'billing_accounts', etc.",
          "type": "string"
        },
        "id": {
          "description": "Identifies an instance of the type. ID format varies by type. The ID format is defined in the IAM .service file that defines the type, either in path_mapping or in a comment.",
          "type": "string"
        }
      },
      "id": "PolicyName",
      "description": "An internal name for an IAM policy, based on the resource to which the policy applies. Not to be confused with a resource's external full resource name. For more information on this distinction, see go/iam-full-resource-names.",
      "type": "object"
    },
    "WorkspaceCompilationOverrides": {
      "id": "WorkspaceCompilationOverrides",
      "description": "Configures workspace compilation overrides for a repository. Primarily used by the UI (`console.cloud.google.com`). `schema_suffix` and `table_prefix` can have a special expression - `${workspaceName}`, which refers to the workspace name from which the compilation results will be created. API callers are expected to resolve the expression in these overrides and provide them explicitly in `code_compilation_config` (https://cloud.google.com/dataform/reference/rest/v1beta1/projects.locations.repositories.compilationResults#codecompilationconfig) when creating workspace-scoped compilation results.",
      "type": "object",
      "properties": {
        "tablePrefix": {
          "description": "Optional. The prefix that should be prepended to all table names.",
          "type": "string"
        },
        "defaultDatabase": {
          "description": "Optional. The default database (Google Cloud project ID).",
          "type": "string"
        },
        "schemaSuffix": {
          "description": "Optional. The suffix that should be appended to all schema (BigQuery dataset ID) names.",
          "type": "string"
        }
      }
    },
    "ResetWorkspaceChangesResponse": {
      "id": "ResetWorkspaceChangesResponse",
      "description": "`ResetWorkspaceChanges` response message.",
      "type": "object",
      "properties": {}
    },
    "WorkflowTrigger": {
      "properties": {
        "tableUpdateTrigger": {
          "description": "The table update trigger configuration.",
          "$ref": "TableUpdateTrigger"
        }
      },
      "id": "WorkflowTrigger",
      "description": "The trigger definition to invoke a workflow.",
      "type": "object"
    },
    "CompilationError": {
      "properties": {
        "stack": {
          "description": "Output only. The error's full stack trace.",
          "readOnly": true,
          "type": "string"
        },
        "actionTarget": {
          "description": "Output only. The identifier of the action where this error occurred, if available.",
          "readOnly": true,
          "$ref": "Target"
        },
        "message": {
          "description": "Output only. The error's top level message.",
          "readOnly": true,
          "type": "string"
        },
        "path": {
          "description": "Output only. The path of the file where this error occurred, if available, relative to the project root.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "CompilationError",
      "description": "An error encountered when attempting to compile a Dataform project.",
      "type": "object"
    },
    "Declaration": {
      "properties": {
        "relationDescriptor": {
          "description": "Descriptor for the relation and its columns. Used as documentation only, i.e. values here will result in no changes to the relation's metadata.",
          "$ref": "RelationDescriptor"
        }
      },
      "id": "Declaration",
      "description": "Represents a relation which is not managed by Dataform but which may be referenced by Dataform actions.",
      "type": "object"
    },
    "FetchFileGitStatusesResponse": {
      "id": "FetchFileGitStatusesResponse",
      "description": "`FetchFileGitStatuses` response message.",
      "type": "object",
      "properties": {
        "uncommittedFileChanges": {
          "items": {
            "$ref": "UncommittedFileChange"
          },
          "description": "A list of all files which have uncommitted Git changes. There will only be a single entry for any given file.",
          "type": "array"
        }
      }
    },
    "ColumnDescriptor": {
      "properties": {
        "description": {
          "description": "A textual description of the column.",
          "type": "string"
        },
        "bigqueryPolicyTags": {
          "description": "A list of BigQuery policy tags that will be applied to the column.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "path": {
          "items": {
            "type": "string"
          },
          "description": "The identifier for the column. Each entry in `path` represents one level of nesting.",
          "type": "array"
        }
      },
      "id": "ColumnDescriptor",
      "description": "Describes a column.",
      "type": "object"
    },
    "FilesystemEntryMetadata": {
      "properties": {
        "sizeBytes": {
          "description": "Output only. Provides the size of the entry in bytes. For directories, this will be 0.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "updateTime": {
          "description": "Output only. Represents the time of the last modification of the entry.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "FilesystemEntryMetadata",
      "description": "Represents metadata for a single entry in a filesystem.",
      "type": "object"
    },
    "ListCompilationResultsResponse": {
      "properties": {
        "compilationResults": {
          "items": {
            "$ref": "CompilationResult"
          },
          "description": "List of compilation results.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations which could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListCompilationResultsResponse",
      "description": "`ListCompilationResults` response message.",
      "type": "object"
    },
    "ListWorkspacesResponse": {
      "id": "ListWorkspacesResponse",
      "description": "`ListWorkspaces` response message.",
      "type": "object",
      "properties": {
        "workspaces": {
          "items": {
            "$ref": "Workspace"
          },
          "description": "List of workspaces.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations which could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ActionErrorTable": {
      "id": "ActionErrorTable",
      "description": "Error table information, used to write error data into a BigQuery table.",
      "type": "object",
      "properties": {
        "target": {
          "description": "Error Table target.",
          "$ref": "Target"
        },
        "retentionDays": {
          "description": "Error table partition expiration in days. Only positive values are allowed.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "PipelineConfig": {
      "properties": {
        "pipelineType": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Regular Dataform pipeline.",
            "SQL single file asset.",
            "Notebook single file asset."
          ],
          "enum": [
            "PIPELINE_TYPE_UNSPECIFIED",
            "DATAFORM",
            "SQL",
            "NOTEBOOK"
          ],
          "description": "Required. The type of the pipeline.",
          "type": "string"
        },
        "path": {
          "description": "Required. The relative path within the Git repository where the pipeline is defined. For example, for a Dataform pipeline, it is a path to the folder where `workflow_settings.yaml` or `dataform.json` is located.",
          "type": "string"
        }
      },
      "id": "PipelineConfig",
      "description": "Defines the pipeline type and path within the Git repository.",
      "type": "object"
    },
    "QueryDirectoryContentsResponse": {
      "id": "QueryDirectoryContentsResponse",
      "description": "`QueryDirectoryContents` response message.",
      "type": "object",
      "properties": {
        "directoryEntries": {
          "items": {
            "$ref": "DirectoryEntry"
          },
          "description": "List of entries in the directory.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        }
      }
    },
    "Notebook": {
      "id": "Notebook",
      "description": "Represents a notebook.",
      "type": "object",
      "properties": {
        "disabled": {
          "description": "Whether this action is disabled (i.e. should not be run).",
          "type": "boolean"
        },
        "contents": {
          "description": "The contents of the notebook.",
          "type": "string"
        },
        "dependencyTargets": {
          "description": "A list of actions that this action depends on.",
          "type": "array",
          "items": {
            "$ref": "Target"
          }
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "description": "Arbitrary, user-defined tags on this action.",
          "type": "array"
        }
      }
    },
    "QueryRepositoryDirectoryContentsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "directoryEntries": {
          "items": {
            "$ref": "DirectoryEntry"
          },
          "description": "List of entries in the directory.",
          "type": "array"
        }
      },
      "id": "QueryRepositoryDirectoryContentsResponse",
      "description": "`QueryRepositoryDirectoryContents` response message.",
      "type": "object"
    },
    "ReleaseConfig": {
      "id": "ReleaseConfig",
      "description": "Represents a Dataform release configuration.",
      "type": "object",
      "properties": {
        "releaseCompilationResult": {
          "description": "Optional. The name of the currently released compilation result for this release config. This value is updated when a compilation result is automatically created from this release config (using cron_schedule), or when this resource is updated by API call (perhaps to roll back to an earlier release). The compilation result must have been created using this release config. Must be in the format `projects/*/locations/*/repositories/*/compilationResults/*`.",
          "type": "string"
        },
        "recentScheduledReleaseRecords": {
          "items": {
            "$ref": "ScheduledReleaseRecord"
          },
          "description": "Output only. Records of the 10 most recent scheduled release attempts, ordered in descending order of `release_time`. Updated whenever automatic creation of a compilation result is triggered by cron_schedule.",
          "readOnly": true,
          "type": "array"
        },
        "name": {
          "description": "Identifier. The release config's name.",
          "type": "string"
        },
        "internalMetadata": {
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "readOnly": true,
          "type": "string"
        },
        "cronSchedule": {
          "description": "Optional. Optional schedule (in cron format) for automatic creation of compilation results.",
          "type": "string"
        },
        "disabled": {
          "description": "Optional. Disables automatic creation of compilation results.",
          "type": "boolean"
        },
        "gitCommitish": {
          "description": "Required. Git commit/tag/branch name at which the repository should be compiled. Must exist in the remote repository. Examples: - a commit SHA: `12ade345` - a tag: `tag1` - a branch name: `branch1`",
          "type": "string"
        },
        "timeZone": {
          "description": "Optional. Specifies the time zone to be used when interpreting cron_schedule. Must be a time zone name from the [time zone database](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones). If left unspecified, the default is `UTC`.",
          "type": "string"
        },
        "codeCompilationConfig": {
          "description": "Optional. If set, fields of `code_compilation_config` override the default compilation settings that are specified in dataform.json.",
          "$ref": "CodeCompilationConfig"
        }
      }
    },
    "ScheduledExecutionRecord": {
      "id": "ScheduledExecutionRecord",
      "description": "A record of an attempt to create a workflow invocation for this workflow config.",
      "type": "object",
      "properties": {
        "errorStatus": {
          "description": "The error status encountered upon this attempt to create the workflow invocation, if the attempt was unsuccessful.",
          "$ref": "Status"
        },
        "workflowInvocation": {
          "description": "The name of the created workflow invocation, if one was successfully created. Must be in the format `projects/*/locations/*/repositories/*/workflowInvocations/*`.",
          "type": "string"
        },
        "executionTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp of this execution attempt.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "InstallNpmPackagesResponse": {
      "properties": {},
      "id": "InstallNpmPackagesResponse",
      "description": "`InstallNpmPackages` response message.",
      "type": "object"
    },
    "MoveFileRequest": {
      "id": "MoveFileRequest",
      "description": "`MoveFile` request message.",
      "type": "object",
      "properties": {
        "path": {
          "description": "Required. The file's full path including filename, relative to the workspace root.",
          "type": "string"
        },
        "newPath": {
          "description": "Required. The file's new path including filename, relative to the workspace root.",
          "type": "string"
        }
      }
    },
    "IncrementalTableConfig": {
      "id": "IncrementalTableConfig",
      "description": "Contains settings for relations of type `INCREMENTAL_TABLE`.",
      "type": "object",
      "properties": {
        "incrementalPostOperations": {
          "items": {
            "type": "string"
          },
          "description": "SQL statements to be executed after inserting new rows into the relation.",
          "type": "array"
        },
        "updatePartitionFilter": {
          "description": "A SQL expression conditional used to limit the set of existing rows considered for a merge operation (see `unique_key_parts` for more information).",
          "type": "string"
        },
        "uniqueKeyParts": {
          "description": "A set of columns or SQL expressions used to define row uniqueness. If any duplicates are discovered (as defined by `unique_key_parts`), only the newly selected rows (as defined by `incremental_select_query`) will be included in the relation.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "incrementalPreOperations": {
          "items": {
            "type": "string"
          },
          "description": "SQL statements to be executed before inserting new rows into the relation.",
          "type": "array"
        },
        "refreshDisabled": {
          "description": "Whether this table should be protected from being refreshed.",
          "type": "boolean"
        },
        "incrementalSelectQuery": {
          "description": "The SELECT query which returns rows which should be inserted into the relation if it already exists and is not being refreshed.",
          "type": "string"
        }
      }
    },
    "Expr": {
      "id": "Expr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object",
      "properties": {
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        }
      }
    },
    "Operations": {
      "properties": {
        "dependencyTargets": {
          "items": {
            "$ref": "Target"
          },
          "description": "A list of actions that this action depends on.",
          "type": "array"
        },
        "queries": {
          "items": {
            "type": "string"
          },
          "description": "A list of arbitrary SQL statements that will be executed without alteration.",
          "type": "array"
        },
        "disabled": {
          "description": "Whether this action is disabled (i.e. should not be run).",
          "type": "boolean"
        },
        "hasOutput": {
          "description": "Whether these operations produce an output relation.",
          "type": "boolean"
        },
        "tags": {
          "description": "Arbitrary, user-defined tags on this action.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "relationDescriptor": {
          "description": "Descriptor for any output relation and its columns. Only set if `has_output` is true.",
          "$ref": "RelationDescriptor"
        }
      },
      "id": "Operations",
      "description": "Represents a list of arbitrary database operations.",
      "type": "object"
    },
    "FetchRepositoryHistoryResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "commits": {
          "description": "A list of commit logs, ordered by 'git log' default order.",
          "type": "array",
          "items": {
            "$ref": "CommitLogEntry"
          }
        }
      },
      "id": "FetchRepositoryHistoryResponse",
      "description": "`FetchRepositoryHistory` response message.",
      "type": "object"
    },
    "ListLocationsResponse": {
      "properties": {
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "type": "object"
    },
    "ListReleaseConfigsResponse": {
      "properties": {
        "releaseConfigs": {
          "description": "List of release configs.",
          "type": "array",
          "items": {
            "$ref": "ReleaseConfig"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations which could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListReleaseConfigsResponse",
      "description": "`ListReleaseConfigs` response message.",
      "type": "object"
    },
    "CommitAuthor": {
      "id": "CommitAuthor",
      "description": "Represents the author of a Git commit.",
      "type": "object",
      "properties": {
        "emailAddress": {
          "description": "Required. The commit author's email address.",
          "type": "string"
        },
        "name": {
          "description": "Required. The commit author's name.",
          "type": "string"
        }
      }
    },
    "ErrorTable": {
      "id": "ErrorTable",
      "description": "Error table information, used to write error data into a BigQuery table.",
      "type": "object",
      "properties": {
        "target": {
          "description": "Error Table target.",
          "$ref": "Target"
        },
        "retentionDays": {
          "format": "int32",
          "description": "Error table partition expiration in days. Only positive values are allowed.",
          "type": "integer"
        }
      }
    },
    "MoveFileResponse": {
      "properties": {},
      "id": "MoveFileResponse",
      "description": "`MoveFile` response message.",
      "type": "object"
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "properties": {}
    },
    "CompilationResult": {
      "id": "CompilationResult",
      "description": "Represents the result of compiling a Dataform project.",
      "type": "object",
      "properties": {
        "resolvedGitCommitSha": {
          "description": "Output only. The fully resolved Git commit SHA of the code that was compiled. Not set for compilation results whose source is a workspace.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp of when the compilation result was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "gitCommitish": {
          "description": "Immutable. Git commit/tag/branch name at which the repository should be compiled. Must exist in the remote repository. Examples: - a commit SHA: `12ade345` - a tag: `tag1` - a branch name: `branch1`",
          "type": "string"
        },
        "workspace": {
          "description": "Immutable. The name of the workspace to compile. Must be in the format `projects/*/locations/*/repositories/*/workspaces/*`.",
          "type": "string"
        },
        "internalMetadata": {
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "readOnly": true,
          "type": "string"
        },
        "privateResourceMetadata": {
          "description": "Output only. Metadata indicating whether this resource is user-scoped. `CompilationResult` resource is `user_scoped` only if it is sourced from a workspace.",
          "readOnly": true,
          "$ref": "PrivateResourceMetadata"
        },
        "gcsRepositorySnapshotMetadata": {
          "description": "Output only. Metadata about the repository snapshot used by scheduled notebooks.",
          "readOnly": true,
          "$ref": "GcsRepositorySnapshotMetadata"
        },
        "codeCompilationConfig": {
          "description": "Immutable. If set, fields of `code_compilation_config` override the default compilation settings that are specified in dataform.json.",
          "$ref": "CodeCompilationConfig"
        },
        "dataformCoreVersion": {
          "description": "Output only. The version of `@dataform/core` that was used for compilation.",
          "readOnly": true,
          "type": "string"
        },
        "releaseConfig": {
          "description": "Immutable. The name of the release config to compile. Must be in the format `projects/*/locations/*/repositories/*/releaseConfigs/*`.",
          "type": "string"
        },
        "dataEncryptionState": {
          "$ref": "DataEncryptionState",
          "description": "Output only. Only set if the repository has a KMS Key.",
          "readOnly": true
        },
        "name": {
          "description": "Output only. The compilation result's name.",
          "readOnly": true,
          "type": "string"
        },
        "compilationErrors": {
          "items": {
            "$ref": "CompilationError"
          },
          "description": "Output only. Errors encountered during project compilation.",
          "readOnly": true,
          "type": "array"
        }
      }
    },
    "SqlDefinition": {
      "id": "SqlDefinition",
      "description": "Definition of a SQL Data Preparation",
      "type": "object",
      "properties": {
        "query": {
          "description": "The SQL query representing the data preparation steps. Formatted as a Pipe SQL query statement.",
          "type": "string"
        },
        "errorTable": {
          "description": "Error table configuration,",
          "$ref": "ErrorTable"
        },
        "load": {
          "description": "Load configuration.",
          "$ref": "LoadConfig"
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        }
      }
    },
    "CommitMetadata": {
      "properties": {
        "author": {
          "description": "Required. The commit's author.",
          "$ref": "CommitAuthor"
        },
        "commitMessage": {
          "description": "Optional. The commit's message.",
          "type": "string"
        }
      },
      "id": "CommitMetadata",
      "description": "Represents a Dataform Git commit.",
      "type": "object"
    },
    "ListWorkflowInvocationsResponse": {
      "id": "ListWorkflowInvocationsResponse",
      "description": "`ListWorkflowInvocations` response message.",
      "type": "object",
      "properties": {
        "workflowInvocations": {
          "items": {
            "$ref": "WorkflowInvocation"
          },
          "description": "List of workflow invocations.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations which could not be reached.",
          "type": "array"
        }
      }
    },
    "DirectorySearchResult": {
      "properties": {
        "path": {
          "description": "File system path relative to the workspace root.",
          "type": "string"
        }
      },
      "id": "DirectorySearchResult",
      "description": "Client-facing representation of a directory entry in search results.",
      "type": "object"
    },
    "FileOperation": {
      "id": "FileOperation",
      "description": "Represents a single file operation to the repository.",
      "type": "object",
      "properties": {
        "writeFile": {
          "description": "Represents the write operation.",
          "$ref": "WriteFile"
        },
        "deleteFile": {
          "description": "Represents the delete operation.",
          "$ref": "DeleteFile"
        }
      }
    },
    "DeleteFile": {
      "id": "DeleteFile",
      "description": "Represents the delete file operation.",
      "type": "object",
      "properties": {}
    },
[...]
