{
  "title": "Cloud Dataproc API",
  "ownerDomain": "google.com",
  "rootUrl": "https://dataproc.googleapis.com/",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "description": "Manages Hadoop-based clusters and jobs on Google Cloud Platform.",
  "revision": "20260724",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/dataproc.read-only": {
          "description": "See your Google Cloud Dataproc data and the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/dataproc": {
          "description": "See, edit, configure, and delete your Google Cloud Dataproc data and see the email address for your Google Account"
        }
      }
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "sessions": {
              "methods": {
                "delete": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}",
                  "parameters": {
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A unique ID used to identify the request. If the service receives two DeleteSessionRequest (https://cloud.google.com/dataproc/docs/reference/rpc/google.cloud.dataproc.v1#google.cloud.dataproc.v1.DeleteSessionRequest)s with the same ID, the second request is ignored.Recommendation: Set this value to a UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier).The value must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters."
                    },
                    "name": {
                      "description": "Required. The name of the session resource to delete.",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+$"
                    }
                  },
                  "id": "dataproc.projects.locations.sessions.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc"
                  ],
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Deletes the interactive session resource. If the session is not in terminal state, it is terminated, and then deleted.",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE"
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/sessions",
                  "response": {
                    "$ref": "ListSessionsResponse"
                  },
                  "description": "Lists interactive sessions.",
                  "id": "dataproc.projects.locations.sessions.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc",
                    "https://www.googleapis.com/auth/dataproc.read-only"
                  ],
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A filter for the sessions to return in the response.A filter is a logical expression constraining the values of various fields in each session resource. Filters are case sensitive, and may contain multiple clauses combined with logical operators (AND, OR). Supported fields are session_id, session_uuid, state, create_time, and labels.Example: state = ACTIVE and create_time < \"2023-01-01T00:00:00Z\" is a filter for sessions in an ACTIVE state that were created before 2023-01-01. state = ACTIVE and labels.environment=production is a filter for sessions in an ACTIVE state that have a production environment label.See https://google.aip.dev/assets/misc/ebnf-filtering.txt for a detailed description of the filter syntax and a list of supported comparators."
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of sessions to return in each response. The service may return fewer than this value.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "Optional. A page token received from a previous ListSessions call. Provide this token to retrieve the subsequent page.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent, which owns this collection of sessions.",
                      "required": true
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sessions"
                },
                "terminate": {
                  "id": "dataproc.projects.locations.sessions.terminate",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc"
                  ],
                  "path": "v1/{+name}:terminate",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Terminates the interactive session.",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}:terminate",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+$",
                      "description": "Required. The name of the session resource to terminate.",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "TerminateSessionRequest"
                  }
                },
                "create": {
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Create an interactive session asynchronously.",
                  "path": "v1/{+parent}/sessions",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "dataproc.projects.locations.sessions.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc"
                  ],
                  "request": {
                    "$ref": "Session"
                  },
                  "parameters": {
                    "sessionId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. The ID to use for the session, which becomes the final component of the session's resource name.This value must be 4-63 characters. Valid characters are /a-z-/."
                    },
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A unique ID used to identify the request. If the service receives two CreateSessionRequests (https://cloud.google.com/dataproc/docs/reference/rpc/google.cloud.dataproc.v1#google.cloud.dataproc.v1.CreateSessionRequest)s with the same ID, the second request is ignored, and the first Session is created and stored in the backend.Recommendation: Set this value to a UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier).The value must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters."
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. The parent resource where this session will be created.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sessions"
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the session to retrieve.",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+$"
                    }
                  },
                  "id": "dataproc.projects.locations.sessions.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc",
                    "https://www.googleapis.com/auth/dataproc.read-only"
                  ],
                  "description": "Gets the resource representation for an interactive session.",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Session"
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ]
                }
              },
              "resources": {
                "sparkApplications": {
                  "methods": {
                    "accessJob": {
                      "path": "v1/{+name}:accessJob",
                      "response": {
                        "$ref": "AccessSessionSparkApplicationJobResponse"
                      },
                      "description": "Obtain data corresponding to a spark job for a Spark Application.",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "id": "dataproc.projects.locations.sessions.sparkApplications.accessJob",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dataproc",
                        "https://www.googleapis.com/auth/dataproc.read-only"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. The fully qualified name of the session to retrieve in the format \"projects/PROJECT_ID/locations/DATAPROC_REGION/sessions/SESSION_ID/sparkApplications/APPLICATION_ID\"",
                          "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+/sparkApplications/[^/]+$",
                          "location": "path",
                          "type": "string"
                        },
                        "jobId": {
                          "location": "query",
                          "type": "string",
                          "format": "int64",
                          "description": "Required. Job ID to fetch data for."
                        },
                        "parent": {
                          "location": "query",
                          "type": "string",
                          "description": "Required. Parent (Session) resource reference."
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}/sparkApplications/{sparkApplicationsId}:accessJob"
                    },
                    "searchExecutorStageSummary": {
                      "description": "Obtain executor summary with respect to a spark stage attempt.",
                      "path": "v1/{+name}:searchExecutorStageSummary",
                      "response": {
                        "$ref": "SearchSessionSparkApplicationExecutorStageSummaryResponse"
                      },
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "dataproc.projects.locations.sessions.sparkApplications.searchExecutorStageSummary",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dataproc",
                        "https://www.googleapis.com/auth/dataproc.read-only"
                      ],
                      "parameters": {
                        "stageAttemptId": {
                          "format": "int32",
                          "location": "query",
                          "type": "integer",
                          "description": "Required. Stage Attempt ID"
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32",
                          "description": "Optional. Maximum number of executors to return in each response. The service may return fewer than this. The default page size is 10; the maximum page size is 100."
                        },
                        "stageId": {
                          "description": "Required. Stage ID",
                          "location": "query",
                          "type": "string",
                          "format": "int64"
                        },
                        "name": {
                          "required": true,
                          "description": "Required. The fully qualified name of the session to retrieve in the format \"projects/PROJECT_ID/locations/DATAPROC_REGION/sessions/SESSION_ID/sparkApplications/APPLICATION_ID\"",
                          "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+/sparkApplications/[^/]+$",
                          "location": "path",
                          "type": "string"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. A page token received from a previous SearchSessionSparkApplicationExecutorStageSummary call. Provide this token to retrieve the subsequent page."
                        },
                        "parent": {
                          "description": "Required. Parent (Session) resource reference.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}/sparkApplications/{sparkApplicationsId}:searchExecutorStageSummary"
                    },
                    "searchStageAttempts": {
                      "parameters": {
                        "parent": {
                          "location": "query",
                          "type": "string",
                          "description": "Required. Parent (Session) resource reference."
                        },
                        "summaryMetricsMask": {
                          "description": "Optional. The list of summary metrics fields to include. Empty list will default to skip all summary metrics fields. Example, if the response should include TaskQuantileMetrics, the request should have task_quantile_metrics in summary_metrics_mask field",
                          "format": "google-fieldmask",
                          "location": "query",
                          "type": "string"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. A page token received from a previous SearchSessionSparkApplicationStageAttempts call. Provide this token to retrieve the subsequent page."
                        },
                        "name": {
                          "required": true,
                          "description": "Required. The fully qualified name of the session to retrieve in the format \"projects/PROJECT_ID/locations/DATAPROC_REGION/sessions/SESSION_ID/sparkApplications/APPLICATION_ID\"",
                          "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+/sparkApplications/[^/]+$",
                          "location": "path",
                          "type": "string"
                        },
                        "stageId": {
                          "location": "query",
                          "type": "string",
                          "format": "int64",
                          "description": "Required. Stage ID for which attempts are to be fetched"
                        },
                        "pageSize": {
                          "description": "Optional. Maximum number of stage attempts (paging based on stage_attempt_id) to return in each response. The service may return fewer than this. The default page size is 10; the maximum page size is 100.",
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}/sparkApplications/{sparkApplicationsId}:searchStageAttempts",
                      "path": "v1/{+name}:searchStageAttempts",
                      "response": {
                        "$ref": "SearchSessionSparkApplicationStageAttemptsResponse"
                      },
                      "description": "Obtain data corresponding to a spark stage attempts for a Spark Application.",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "id": "dataproc.projects.locations.sessions.sparkApplications.searchStageAttempts",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dataproc",
                        "https://www.googleapis.com/auth/dataproc.read-only"
                      ]
                    },
                    "searchSqlQueries": {
                      "id": "dataproc.projects.locations.sessions.sparkApplications.searchSqlQueries",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dataproc",
                        "https://www.googleapis.com/auth/dataproc.read-only"
                      ],
                      "description": "Obtain data corresponding to SQL Queries for a Spark Application.",
                      "path": "v1/{+name}:searchSqlQueries",
                      "response": {
                        "$ref": "SearchSessionSparkApplicationSqlQueriesResponse"
                      },
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}/sparkApplications/{sparkApplicationsId}:searchSqlQueries",
                      "parameters": {
                        "parent": {
                          "description": "Required. Parent (Session) resource reference.",
                          "location": "query",
                          "type": "string"
                        },
                        "planDescription": {
                          "location": "query",
                          "type": "boolean",
                          "description": "Optional. Enables/ disables physical plan description on demand"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. A page token received from a previous SearchSessionSparkApplicationSqlQueries call. Provide this token to retrieve the subsequent page."
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+/sparkApplications/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. The fully qualified name of the session to retrieve in the format \"projects/PROJECT_ID/locations/DATAPROC_REGION/sessions/SESSION_ID/sparkApplications/APPLICATION_ID\""
                        },
                        "details": {
                          "location": "query",
                          "type": "boolean",
                          "description": "Optional. Lists/ hides details of Spark plan nodes. True is set to list and false to hide."
                        },
                        "operationIds": {
                          "description": "Optional. List of Spark Connect operation IDs to filter by if provided.",
                          "location": "query",
                          "type": "string",
                          "repeated": true
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "type": "integer",
                          "description": "Optional. Maximum number of queries to return in each response. The service may return fewer than this. The default page size is 10; the maximum page size is 100."
                        }
                      }
                    },
                    "summarizeExecutors": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}/sparkApplications/{sparkApplicationsId}:summarizeExecutors",
                      "parameters": {
                        "parent": {
                          "location": "query",
                          "type": "string",
                          "description": "Required. Parent (Session) resource reference."
                        },
                        "name": {
                          "description": "Required. The fully qualified name of the session to retrieve in the format \"projects/PROJECT_ID/locations/DATAPROC_REGION/sessions/SESSION_ID/sparkApplications/APPLICATION_ID\"",
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+/sparkApplications/[^/]+$"
                        }
                      },
                      "id": "dataproc.projects.locations.sessions.sparkApplications.summarizeExecutors",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dataproc",
                        "https://www.googleapis.com/auth/dataproc.read-only"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "path": "v1/{+name}:summarizeExecutors",
                      "response": {
                        "$ref": "SummarizeSessionSparkApplicationExecutorsResponse"
                      },
                      "description": "Obtain summary of Executor Summary for a Spark Application"
                    },
                    "accessStageAttempt": {
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+/sparkApplications/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. The fully qualified name of the session to retrieve in the format \"projects/PROJECT_ID/locations/DATAPROC_REGION/sessions/SESSION_ID/sparkApplications/APPLICATION_ID\""
                        },
                        "stageAttemptId": {
                          "format": "int32",
                          "location": "query",
                          "type": "integer",
                          "description": "Required. Stage Attempt ID"
                        },
                        "stageId": {
                          "format": "int64",
                          "location": "query",
                          "type": "string",
                          "description": "Required. Stage ID"
                        },
                        "parent": {
                          "location": "query",
                          "type": "string",
                          "description": "Required. Parent (Session) resource reference."
                        },
                        "summaryMetricsMask": {
                          "format": "google-fieldmask",
                          "location": "query",
                          "type": "string",
                          "description": "Optional. The list of summary metrics fields to include. Empty list will default to skip all summary metrics fields. Example, if the response should include TaskQuantileMetrics, the request should have task_quantile_metrics in summary_metrics_mask field"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}/sparkApplications/{sparkApplicationsId}:accessStageAttempt",
                      "description": "Obtain data corresponding to a spark stage attempt for a Spark Application.",
                      "path": "v1/{+name}:accessStageAttempt",
                      "response": {
                        "$ref": "AccessSessionSparkApplicationStageAttemptResponse"
                      },
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "dataproc.projects.locations.sessions.sparkApplications.accessStageAttempt",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dataproc",
                        "https://www.googleapis.com/auth/dataproc.read-only"
                      ]
                    },
                    "accessSqlPlan": {
                      "path": "v1/{+name}:accessSqlPlan",
                      "response": {
                        "$ref": "AccessSessionSparkApplicationSqlSparkPlanGraphResponse"
                      },
                      "description": "Obtain Spark Plan Graph for a Spark Application SQL execution. Limits the number of clusters returned as part of the graph to 10000.",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "id": "dataproc.projects.locations.sessions.sparkApplications.accessSqlPlan",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dataproc",
                        "https://www.googleapis.com/auth/dataproc.read-only"
                      ],
                      "parameters": {
                        "executionId": {
                          "location": "query",
                          "type": "string",
                          "format": "int64",
                          "description": "Required. Execution ID"
                        },
                        "parent": {
                          "description": "Required. Parent (Session) resource reference.",
                          "location": "query",
                          "type": "string"
                        },
                        "name": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+/sparkApplications/[^/]+$",
                          "description": "Required. The fully qualified name of the session to retrieve in the format \"projects/PROJECT_ID/locations/DATAPROC_REGION/sessions/SESSION_ID/sparkApplications/APPLICATION_ID\"",
                          "required": true
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}/sparkApplications/{sparkApplicationsId}:accessSqlPlan"
                    },
                    "summarizeStages": {
                      "path": "v1/{+name}:summarizeStages",
                      "response": {
                        "$ref": "SummarizeSessionSparkApplicationStagesResponse"
                      },
                      "description": "Obtain summary of Stages for a Spark Application",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "id": "dataproc.projects.locations.sessions.sparkApplications.summarizeStages",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dataproc",
                        "https://www.googleapis.com/auth/dataproc.read-only"
                      ],
                      "parameters": {
                        "parent": {
                          "description": "Required. Parent (Session) resource reference.",
                          "location": "query",
                          "type": "string"
                        },
                        "stageIds": {
                          "location": "query",
                          "type": "string",
                          "repeated": true,
                          "format": "int64",
                          "description": "Optional. List of Stage IDs to filter by if provided."
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+/sparkApplications/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. The fully qualified name of the session to retrieve in the format \"projects/PROJECT_ID/locations/DATAPROC_REGION/sessions/SESSION_ID/sparkApplications/APPLICATION_ID\""
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}/sparkApplications/{sparkApplicationsId}:summarizeStages"
                    },
                    "searchStageAttemptTasks": {
                      "parameters": {
                        "taskStatus": {
                          "description": "Optional. List only tasks in the state.",
                          "enumDescriptions": [
                            "",
                            "",
                            "",
                            "",
                            "",
                            ""
                          ],
                          "location": "query",
                          "type": "string",
                          "enum": [
                            "TASK_STATUS_UNSPECIFIED",
                            "TASK_STATUS_RUNNING",
                            "TASK_STATUS_SUCCESS",
                            "TASK_STATUS_FAILED",
                            "TASK_STATUS_KILLED",
                            "TASK_STATUS_PENDING"
                          ]
                        },
                        "pageToken": {
                          "description": "Optional. A page token received from a previous SearchSessionSparkApplicationStageAttemptTasks call. Provide this token to retrieve the subsequent page.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "location": "query",
                          "type": "string",
                          "description": "Required. Parent (Session) resource reference."
                        },
                        "stageId": {
                          "description": "Optional. Stage ID",
                          "location": "query",
                          "type": "string",
                          "format": "int64"
                        },
                        "stageAttemptId": {
                          "description": "Optional. Stage Attempt ID",
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        },
                        "sortRuntime": {
                          "description": "Optional. Sort the tasks by runtime.",
                          "location": "query",
                          "type": "boolean"
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "type": "integer",
                          "description": "Optional. Maximum number of tasks to return in each response. The service may return fewer than this. The default page size is 10; the maximum page size is 100."
                        },
                        "name": {
                          "required": true,
                          "description": "Required. The fully qualified name of the session to retrieve in the format \"projects/PROJECT_ID/locations/DATAPROC_REGION/sessions/SESSION_ID/sparkApplications/APPLICATION_ID\"",
                          "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+/sparkApplications/[^/]+$",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}/sparkApplications/{sparkApplicationsId}:searchStageAttemptTasks",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Obtain data corresponding to tasks for a spark stage attempt for a Spark Application.",
                      "path": "v1/{+name}:searchStageAttemptTasks",
                      "response": {
                        "$ref": "SearchSessionSparkApplicationStageAttemptTasksResponse"
                      },
                      "id": "dataproc.projects.locations.sessions.sparkApplications.searchStageAttemptTasks",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dataproc",
                        "https://www.googleapis.com/auth/dataproc.read-only"
                      ]
                    },
                    "accessNativeSqlQuery": {
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. The fully qualified name of the session to retrieve in the format \"projects/PROJECT_ID/locations/DATAPROC_REGION/sessions/SESSION_ID/sparkApplications/APPLICATION_ID\"",
                          "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+/sparkApplications/[^/]+$",
                          "location": "path",
                          "type": "string"
                        },
                        "parent": {
                          "location": "query",
                          "type": "string",
                          "description": "Required. Parent (Session) resource reference."
                        },
                        "executionId": {
                          "description": "Required. Execution ID",
                          "format": "int64",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}/sparkApplications/{sparkApplicationsId}:accessNativeSqlQuery",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Obtain data corresponding to a particular Native SQL Query for a Spark Application.",
                      "path": "v1/{+name}:accessNativeSqlQuery",
                      "response": {
                        "$ref": "AccessSessionSparkApplicationNativeSqlQueryResponse"
                      },
                      "id": "dataproc.projects.locations.sessions.sparkApplications.accessNativeSqlQuery",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dataproc",
                        "https://www.googleapis.com/auth/dataproc.read-only"
                      ]
                    },
                    "accessNativeBuildInfo": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}/sparkApplications/{sparkApplicationsId}:accessNativeBuildInfo",
                      "parameters": {
                        "parent": {
                          "location": "query",
                          "type": "string",
                          "description": "Required. Parent (Session) resource reference."
                        },
                        "name": {
                          "required": true,
                          "description": "Required. The fully qualified name of the session to retrieve in the format \"projects/PROJECT_ID/locations/DATAPROC_REGION/sessions/SESSION_ID/sparkApplications/APPLICATION_ID\"",
                          "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+/sparkApplications/[^/]+$",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "id": "dataproc.projects.locations.sessions.sparkApplications.accessNativeBuildInfo",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dataproc",
                        "https://www.googleapis.com/auth/dataproc.read-only"
                      ],
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Obtain data corresponding to Native Build Information for a Spark Application.",
                      "path": "v1/{+name}:accessNativeBuildInfo",
                      "response": {
                        "$ref": "AccessSessionSparkApplicationNativeBuildInfoResponse"
                      }
                    },
                    "write": {
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Write wrapper objects from dataplane to spanner",
                      "path": "v1/{+name}:write",
                      "response": {
                        "$ref": "WriteSessionSparkApplicationContextResponse"
                      },
                      "id": "dataproc.projects.locations.sessions.sparkApplications.write",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dataproc"
                      ],
                      "request": {
                        "$ref": "WriteSessionSparkApplicationContextRequest"
                      },
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+/sparkApplications/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. The fully qualified name of the spark application to write data about in the format \"projects/PROJECT_ID/locations/DATAPROC_REGION/sessions/SESSION_ID/sparkApplications/APPLICATION_ID\""
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}/sparkApplications/{sparkApplicationsId}:write"
                    },
                    "access": {
                      "parameters": {
                        "name": {
                          "description": "Required. The fully qualified name of the session to retrieve in the format \"projects/PROJECT_ID/locations/DATAPROC_REGION/sessions/SESSION_ID/sparkApplications/APPLICATION_ID\"",
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+/sparkApplications/[^/]+$"
                        },
                        "parent": {
                          "description": "Required. Parent (Session) resource reference.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}/sparkApplications/{sparkApplicationsId}:access",
                      "path": "v1/{+name}:access",
                      "response": {
                        "$ref": "AccessSessionSparkApplicationResponse"
                      },
                      "description": "Obtain high level information corresponding to a single Spark Application.",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "id": "dataproc.projects.locations.sessions.sparkApplications.access",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dataproc",
                        "https://www.googleapis.com/auth/dataproc.read-only"
                      ]
                    },
                    "summarizeJobs": {
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Obtain summary of Jobs for a Spark Application",
                      "path": "v1/{+name}:summarizeJobs",
                      "response": {
                        "$ref": "SummarizeSessionSparkApplicationJobsResponse"
                      },
                      "id": "dataproc.projects.locations.sessions.sparkApplications.summarizeJobs",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dataproc",
                        "https://www.googleapis.com/auth/dataproc.read-only"
                      ],
                      "parameters": {
                        "jobIds": {
                          "description": "Optional. List of Job IDs to filter by if provided.",
                          "location": "query",
                          "type": "string",
                          "repeated": true,
                          "format": "int64"
                        },
                        "name": {
                          "required": true,
                          "description": "Required. The fully qualified name of the session to retrieve in the format \"projects/PROJECT_ID/locations/DATAPROC_REGION/sessions/SESSION_ID/sparkApplications/APPLICATION_ID\"",
                          "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+/sparkApplications/[^/]+$",
                          "location": "path",
                          "type": "string"
                        },
                        "parent": {
                          "location": "query",
                          "type": "string",
                          "description": "Required. Parent (Session) resource reference."
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}/sparkApplications/{sparkApplicationsId}:summarizeJobs"
                    },
                    "accessEnvironmentInfo": {
                      "parameters": {
                        "parent": {
                          "description": "Required. Parent (Session) resource reference.",
                          "location": "query",
                          "type": "string"
                        },
                        "name": {
                          "description": "Required. The fully qualified name of the session to retrieve in the format \"projects/PROJECT_ID/locations/DATAPROC_REGION/sessions/SESSION_ID/sparkApplications/APPLICATION_ID\"",
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+/sparkApplications/[^/]+$"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}/sparkApplications/{sparkApplicationsId}:accessEnvironmentInfo",
                      "path": "v1/{+name}:accessEnvironmentInfo",
                      "response": {
                        "$ref": "AccessSessionSparkApplicationEnvironmentInfoResponse"
                      },
                      "description": "Obtain environment details for a Spark Application",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "id": "dataproc.projects.locations.sessions.sparkApplications.accessEnvironmentInfo",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dataproc",
                        "https://www.googleapis.com/auth/dataproc.read-only"
                      ]
                    },
                    "search": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}/sparkApplications:search",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. The fully qualified name of the session to retrieve in the format \"projects/PROJECT_ID/locations/DATAPROC_REGION/sessions/SESSION_ID\""
                        },
                        "maxEndTime": {
                          "description": "Optional. Latest end timestamp to list.",
                          "location": "query",
                          "type": "string",
                          "format": "google-datetime"
                        },
                        "applicationStatus": {
                          "enum": [
                            "APPLICATION_STATUS_UNSPECIFIED",
                            "APPLICATION_STATUS_RUNNING",
                            "APPLICATION_STATUS_COMPLETED"
                          ],
                          "description": "Optional. Search only applications in the chosen state.",
                          "location": "query",
                          "type": "string",
                          "enumDescriptions": [
                            "",
                            "",
                            ""
                          ]
                        },
                        "minEndTime": {
                          "format": "google-datetime",
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Earliest end timestamp to list."
                        },
                        "pageToken": {
                          "description": "Optional. A page token received from a previous SearchSessionSparkApplications call. Provide this token to retrieve the subsequent page.",
                          "location": "query",
                          "type": "string"
                        },
                        "minTime": {
                          "description": "Optional. Earliest start timestamp to list.",
                          "format": "google-datetime",
                          "location": "query",
                          "type": "string"
                        },
                        "maxTime": {
                          "description": "Optional. Latest start timestamp to list.",
                          "format": "google-datetime",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "Optional. Maximum number of applications to return in each response. The service may return fewer than this. The default page size is 10; the maximum page size is 100.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        }
                      },
                      "id": "dataproc.projects.locations.sessions.sparkApplications.search",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dataproc",
                        "https://www.googleapis.com/auth/dataproc.read-only"
                      ],
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Obtain high level information and list of Spark Applications corresponding to a batch",
                      "path": "v1/{+parent}/sparkApplications:search",
                      "response": {
                        "$ref": "SearchSessionSparkApplicationsResponse"
                      }
                    },
                    "searchStages": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}/sparkApplications/{sparkApplicationsId}:searchStages",
                      "parameters": {
                        "parent": {
                          "description": "Required. Parent (Session) resource reference.",
                          "location": "query",
                          "type": "string"
                        },
                        "stageStatus": {
                          "enum": [
                            "STAGE_STATUS_UNSPECIFIED",
                            "STAGE_STATUS_ACTIVE",
                            "STAGE_STATUS_COMPLETE",
                            "STAGE_STATUS_FAILED",
                            "STAGE_STATUS_PENDING",
                            "STAGE_STATUS_SKIPPED"
                          ],
                          "enumDescriptions": [
                            "",
                            "",
                            "",
                            "",
                            "",
                            ""
                          ],
                          "location": "query",
                          "type": "string",
                          "description": "Optional. List only stages in the given state."
                        },
                        "summaryMetricsMask": {
                          "location": "query",
                          "type": "string",
                          "format": "google-fieldmask",
                          "description": "Optional. The list of summary metrics fields to include. Empty list will default to skip all summary metrics fields. Example, if the response should include TaskQuantileMetrics, the request should have task_quantile_metrics in summary_metrics_mask field"
                        },
                        "stageIds": {
                          "repeated": true,
                          "format": "int64",
                          "location": "query",
                          "type": "string",
                          "description": "Optional. List of Stage IDs to filter by if provided."
                        },
                        "pageToken": {
                          "description": "Optional. A page token received from a previous SearchSessionSparkApplicationStages call. Provide this token to retrieve the subsequent page.",
                          "location": "query",
                          "type": "string"
                        },
                        "name": {
                          "description": "Required. The fully qualified name of the session to retrieve in the format \"projects/PROJECT_ID/locations/DATAPROC_REGION/sessions/SESSION_ID/sparkApplications/APPLICATION_ID\"",
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+/sparkApplications/[^/]+$"
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32",
                          "description": "Optional. Maximum number of stages (paging based on stage_id) to return in each response. The service may return fewer than this. The default page size is 10; the maximum page size is 100."
                        }
                      },
                      "id": "dataproc.projects.locations.sessions.sparkApplications.searchStages",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dataproc",
                        "https://www.googleapis.com/auth/dataproc.read-only"
                      ],
                      "path": "v1/{+name}:searchStages",
                      "response": {
                        "$ref": "SearchSessionSparkApplicationStagesResponse"
                      },
                      "description": "Obtain data corresponding to stages for a Spark Application.",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET"
                    },
                    "accessStageRddGraph": {
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "path": "v1/{+name}:accessStageRddGraph",
                      "response": {
                        "$ref": "AccessSessionSparkApplicationStageRddOperationGraphResponse"
                      },
                      "description": "Obtain RDD operation graph for a Spark Application Stage. Limits the number of clusters returned as part of the graph to 10000.",
                      "id": "dataproc.projects.locations.sessions.sparkApplications.accessStageRddGraph",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dataproc",
                        "https://www.googleapis.com/auth/dataproc.read-only"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+/sparkApplications/[^/]+$",
                          "description": "Required. The fully qualified name of the session to retrieve in the format \"projects/PROJECT_ID/locations/DATAPROC_REGION/sessions/SESSION_ID/sparkApplications/APPLICATION_ID\"",
                          "required": true
                        },
                        "parent": {
                          "location": "query",
                          "type": "string",
                          "description": "Required. Parent (Session) resource reference."
                        },
                        "stageId": {
                          "description": "Required. Stage ID",
                          "location": "query",
                          "type": "string",
                          "format": "int64"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}/sparkApplications/{sparkApplicationsId}:accessStageRddGraph"
                    },
                    "searchJobs": {
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "path": "v1/{+name}:searchJobs",
                      "response": {
                        "$ref": "SearchSessionSparkApplicationJobsResponse"
                      },
                      "description": "Obtain list of spark jobs corresponding to a Spark Application.",
                      "id": "dataproc.projects.locations.sessions.sparkApplications.searchJobs",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dataproc",
                        "https://www.googleapis.com/auth/dataproc.read-only"
                      ],
                      "parameters": {
                        "jobStatus": {
                          "enum": [
                            "JOB_EXECUTION_STATUS_UNSPECIFIED",
                            "JOB_EXECUTION_STATUS_RUNNING",
                            "JOB_EXECUTION_STATUS_SUCCEEDED",
                            "JOB_EXECUTION_STATUS_FAILED",
                            "JOB_EXECUTION_STATUS_UNKNOWN"
                          ],
                          "location": "query",
                          "type": "string",
                          "enumDescriptions": [
                            "",
                            "",
                            "",
                            "",
                            ""
                          ],
                          "description": "Optional. List only jobs in the specific state."
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. A page token received from a previous SearchSessionSparkApplicationJobs call. Provide this token to retrieve the subsequent page."
                        },
                        "jobIds": {
                          "description": "Optional. List of Job IDs to filter by if provided.",
                          "location": "query",
                          "type": "string",
                          "repeated": true,
                          "format": "int64"
                        },
                        "parent": {
                          "description": "Required. Parent (Session) resource reference.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "Optional. Maximum number of jobs to return in each response. The service may return fewer than this. The default page size is 10; the maximum page size is 100.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+/sparkApplications/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. The fully qualified name of the session to retrieve in the format \"projects/PROJECT_ID/locations/DATAPROC_REGION/sessions/SESSION_ID/sparkApplications/APPLICATION_ID\""
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}/sparkApplications/{sparkApplicationsId}:searchJobs"
                    },
                    "summarizeStageAttemptTasks": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}/sparkApplications/{sparkApplicationsId}:summarizeStageAttemptTasks",
                      "parameters": {
                        "stageAttemptId": {
                          "description": "Required. Stage Attempt ID",
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        },
                        "stageId": {
                          "description": "Required. Stage ID",
                          "location": "query",
                          "type": "string",
                          "format": "int64"
                        },
                        "parent": {
                          "location": "query",
                          "type": "string",
                          "description": "Required. Parent (Session) resource reference."
                        },
                        "name": {
                          "description": "Required. The fully qualified name of the session to retrieve in the format \"projects/PROJECT_ID/locations/DATAPROC_REGION/sessions/SESSION_ID/sparkApplications/APPLICATION_ID\"",
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+/sparkApplications/[^/]+$"
                        }
                      },
                      "id": "dataproc.projects.locations.sessions.sparkApplications.summarizeStageAttemptTasks",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dataproc",
                        "https://www.googleapis.com/auth/dataproc.read-only"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "path": "v1/{+name}:summarizeStageAttemptTasks",
                      "response": {
                        "$ref": "SummarizeSessionSparkApplicationStageAttemptTasksResponse"
                      },
                      "description": "Obtain summary of Tasks for a Spark Application Stage Attempt"
                    },
                    "searchNativeSqlQueries": {
                      "parameters": {
                        "parent": {
                          "description": "Required. Parent (Session) resource reference.",
                          "location": "query",
                          "type": "string"
                        },
                        "name": {
                          "required": true,
                          "description": "Required. The fully qualified name of the session to retrieve in the format \"projects/PROJECT_ID/locations/DATAPROC_REGION/sessions/SESSION_ID/sparkApplications/APPLICATION_ID\"",
                          "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+/sparkApplications/[^/]+$",
                          "location": "path",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "Optional. Maximum number of queries to return in each response. The service may return fewer than this. The default page size is 10; the maximum page size is 100.",
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        },
                        "pageToken": {
                          "description": "Optional. A page token received from a previous SearchSessionSparkApplicationSqlQueries call. Provide this token to retrieve the subsequent page.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}/sparkApplications/{sparkApplicationsId}:searchNativeSqlQueries",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Obtain data corresponding to Native SQL Queries for a Spark Application.",
                      "path": "v1/{+name}:searchNativeSqlQueries",
                      "response": {
                        "$ref": "SearchSessionSparkApplicationNativeSqlQueriesResponse"
                      },
                      "id": "dataproc.projects.locations.sessions.sparkApplications.searchNativeSqlQueries",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dataproc",
                        "https://www.googleapis.com/auth/dataproc.read-only"
                      ]
                    },
                    "searchExecutors": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}/sparkApplications/{sparkApplicationsId}:searchExecutors",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+/sparkApplications/[^/]+$",
                          "description": "Required. The fully qualified name of the session to retrieve in the format \"projects/PROJECT_ID/locations/DATAPROC_REGION/sessions/SESSION_ID/sparkApplications/APPLICATION_ID\"",
                          "required": true
                        },
                        "executorStatus": {
                          "enum": [
                            "EXECUTOR_STATUS_UNSPECIFIED",
                            "EXECUTOR_STATUS_ACTIVE",
                            "EXECUTOR_STATUS_DEAD"
                          ],
                          "description": "Optional. Filter to select whether active/ dead or all executors should be selected.",
                          "location": "query",
                          "type": "string",
                          "enumDescriptions": [
                            "",
                            "",
                            ""
                          ]
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "type": "integer",
                          "description": "Optional. Maximum number of executors to return in each response. The service may return fewer than this. The default page size is 10; the maximum page size is 100."
                        },
                        "parent": {
                          "location": "query",
                          "type": "string",
                          "description": "Required. Parent (Session) resource reference."
                        },
                        "pageToken": {
                          "description": "Optional. A page token received from a previous SearchSessionSparkApplicationExecutors call. Provide this token to retrieve the subsequent page.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "id": "dataproc.projects.locations.sessions.sparkApplications.searchExecutors",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dataproc",
                        "https://www.googleapis.com/auth/dataproc.read-only"
                      ],
                      "path": "v1/{+name}:searchExecutors",
                      "response": {
                        "$ref": "SearchSessionSparkApplicationExecutorsResponse"
                      },
                      "description": "Obtain data corresponding to executors for a Spark Application.",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET"
                    },
                    "accessSqlQuery": {
                      "id": "dataproc.projects.locations.sessions.sparkApplications.accessSqlQuery",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dataproc",
                        "https://www.googleapis.com/auth/dataproc.read-only"
                      ],
                      "description": "Obtain data corresponding to a particular SQL Query for a Spark Application.",
                      "path": "v1/{+name}:accessSqlQuery",
                      "response": {
                        "$ref": "AccessSessionSparkApplicationSqlQueryResponse"
                      },
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}/sparkApplications/{sparkApplicationsId}:accessSqlQuery",
                      "parameters": {
                        "name": {
                          "description": "Required. The fully qualified name of the session to retrieve in the format \"projects/PROJECT_ID/locations/DATAPROC_REGION/sessions/SESSION_ID/sparkApplications/APPLICATION_ID\"",
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+/sparkApplications/[^/]+$"
                        },
                        "details": {
                          "description": "Optional. Lists/ hides details of Spark plan nodes. True is set to list and false to hide.",
                          "location": "query",
                          "type": "boolean"
                        },
                        "executionId": {
                          "description": "Required. Execution ID",
                          "location": "query",
                          "type": "string",
                          "format": "int64"
                        },
                        "parent": {
                          "description": "Required. Parent (Session) resource reference.",
                          "location": "query",
                          "type": "string"
                        },
                        "planDescription": {
                          "location": "query",
                          "type": "boolean",
                          "description": "Optional. Enables/ disables physical plan description on demand"
                        }
                      }
                    }
                  }
                }
              }
            },
            "autoscalingPolicies": {
              "methods": {
                "create": {
                  "id": "dataproc.projects.locations.autoscalingPolicies.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc"
                  ],
                  "description": "Creates new autoscaling policy.",
                  "path": "v1/{+parent}/autoscalingPolicies",
                  "response": {
                    "$ref": "AutoscalingPolicy"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/autoscalingPolicies",
                  "parameters": {
                    "parent": {
                      "description": "Required. The \"resource name\" of the region or location, as described in https://cloud.google.com/apis/design/resource_names. For projects.regions.autoscalingPolicies.create, the resource name of the region has the following format: projects/{project_id}/regions/{region} For projects.locations.autoscalingPolicies.create, the resource name of the location has the following format: projects/{project_id}/locations/{location}",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "request": {
                    "$ref": "AutoscalingPolicy"
                  }
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/autoscalingPolicies/{autoscalingPoliciesId}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/autoscalingPolicies/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The \"resource name\" of the autoscaling policy, as described in https://cloud.google.com/apis/design/resource_names. For projects.regions.autoscalingPolicies.get, the resource name of the policy has the following format: projects/{project_id}/regions/{region}/autoscalingPolicies/{policy_id} For projects.locations.autoscalingPolicies.get, the resource name of the policy has the following format: projects/{project_id}/locations/{location}/autoscalingPolicies/{policy_id}"
                    }
                  },
                  "id": "dataproc.projects.locations.autoscalingPolicies.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc"
                  ],
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "AutoscalingPolicy"
                  },
                  "description": "Retrieves autoscaling policy.",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET"
                },
                "testIamPermissions": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/autoscalingPolicies/{autoscalingPoliciesId}:testIamPermissions",
                  "parameters": {
                    "resource": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/autoscalingPolicies/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See Resource names (https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                    }
                  },
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "id": "dataproc.projects.locations.autoscalingPolicies.testIamPermissions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc"
                  ],
                  "path": "v1/{+resource}:testIamPermissions",
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a NOT_FOUND error.Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                  "parameterOrder": [
                    "resource"
                  ],
                  "httpMethod": "POST"
                },
                "getIamPolicy": {
                  "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                  "path": "v1/{+resource}:getIamPolicy",
                  "response": {
                    "$ref": "Policy"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "resource"
                  ],
                  "id": "dataproc.projects.locations.autoscalingPolicies.getIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc"
                  ],
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy is being requested. See Resource names (https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/autoscalingPolicies/[^/]+$"
                    }
                  },
                  "request": {
                    "$ref": "GetIamPolicyRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/autoscalingPolicies/{autoscalingPoliciesId}:getIamPolicy"
                },
                "list": {
                  "id": "dataproc.projects.locations.autoscalingPolicies.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/autoscalingPolicies",
                  "response": {
                    "$ref": "ListAutoscalingPoliciesResponse"
                  },
                  "description": "Lists autoscaling policies in the project.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/autoscalingPolicies",
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. The maximum number of results to return in each response. Must be less than or equal to 1000. Defaults to 100."
                    },
                    "pageToken": {
                      "description": "Optional. The page token, returned by a previous call, to request the next page of results.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The \"resource name\" of the region or location, as described in https://cloud.google.com/apis/design/resource_names. For projects.regions.autoscalingPolicies.list, the resource name of the region has the following format: projects/{project_id}/regions/{region} For projects.locations.autoscalingPolicies.list, the resource name of the location has the following format: projects/{project_id}/locations/{location}",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  }
                },
                "update": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Output only. The \"resource name\" of the autoscaling policy, as described in https://cloud.google.com/apis/design/resource_names. For projects.regions.autoscalingPolicies, the resource name of the policy has the following format: projects/{project_id}/regions/{region}/autoscalingPolicies/{policy_id} For projects.locations.autoscalingPolicies, the resource name of the policy has the following format: projects/{project_id}/locations/{location}/autoscalingPolicies/{policy_id}",
                      "pattern": "^projects/[^/]+/locations/[^/]+/autoscalingPolicies/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "AutoscalingPolicy"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/autoscalingPolicies/{autoscalingPoliciesId}",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "AutoscalingPolicy"
                  },
                  "description": "Updates (replaces) autoscaling policy.Disabled check for update_mask, because all updates will be full replacements.",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PUT",
                  "id": "dataproc.projects.locations.autoscalingPolicies.update",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc"
                  ]
                },
                "setIamPolicy": {
                  "description": "Sets the access control policy on the specified resource. Replaces any existing policy.Can return NOT_FOUND, INVALID_ARGUMENT, and PERMISSION_DENIED errors.",
                  "path": "v1/{+resource}:setIamPolicy",
                  "response": {
                    "$ref": "Policy"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "resource"
                  ],
                  "id": "dataproc.projects.locations.autoscalingPolicies.setIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc"
                  ],
                  "parameters": {
                    "resource": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/autoscalingPolicies/[^/]+$",
                      "description": "REQUIRED: The resource for which the policy is being specified. See Resource names (https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/autoscalingPolicies/{autoscalingPoliciesId}:setIamPolicy"
                },
                "delete": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/autoscalingPolicies/{autoscalingPoliciesId}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The \"resource name\" of the autoscaling policy, as described in https://cloud.google.com/apis/design/resource_names. For projects.regions.autoscalingPolicies.delete, the resource name of the policy has the following format: projects/{project_id}/regions/{region}/autoscalingPolicies/{policy_id} For projects.locations.autoscalingPolicies.delete, the resource name of the policy has the following format: projects/{project_id}/locations/{location}/autoscalingPolicies/{policy_id}",
                      "pattern": "^projects/[^/]+/locations/[^/]+/autoscalingPolicies/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "id": "dataproc.projects.locations.autoscalingPolicies.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc"
                  ],
                  "description": "Deletes an autoscaling policy. It is an error to delete an autoscaling policy that is in use by one or more clusters.",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "operations": {
              "methods": {
                "delete": {
                  "id": "dataproc.projects.locations.operations.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns google.rpc.Code.UNIMPLEMENTED.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "The name of the operation resource to be deleted.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  }
                },
                "cancel": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be cancelled.",
                      "required": true
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns google.rpc.Code.UNIMPLEMENTED. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to Code.CANCELLED.",
                  "path": "v1/{+name}:cancel",
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "dataproc.projects.locations.operations.cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc"
                  ]
                },
                "list": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations$",
                      "description": "The name of the operation's parent resource.",
                      "required": true
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "returnPartialSuccess": {
                      "description": "When set to true, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field.This can only be true when reading across collections. For example, when parent is set to \"projects/example/locations/-\".This field is not supported by default and will result in an UNIMPLEMENTED error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list filter."
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list page token."
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns UNIMPLEMENTED.",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "id": "dataproc.projects.locations.operations.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc",
                    "https://www.googleapis.com/auth/dataproc.read-only"
                  ]
                },
                "get": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "dataproc.projects.locations.operations.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc",
                    "https://www.googleapis.com/auth/dataproc.read-only"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "The name of the operation resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}"
                }
              }
            },
            "workflowTemplates": {
              "methods": {
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workflowTemplates",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The resource name of the region or location, as described in https://cloud.google.com/apis/design/resource_names. For projects.regions.workflowTemplates,list, the resource name of the region has the following format: projects/{project_id}/regions/{region} For projects.locations.workflowTemplates.list, the resource name of the location has the following format: projects/{project_id}/locations/{location}",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of results to return in each response.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The page token, returned by a previous call, to request the next page of results."
                    }
                  },
                  "id": "dataproc.projects.locations.workflowTemplates.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc",
                    "https://www.googleapis.com/auth/dataproc.read-only"
                  ],
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists workflows that match the specified filter in the request.",
                  "path": "v1/{+parent}/workflowTemplates",
                  "response": {
                    "$ref": "ListWorkflowTemplatesResponse"
                  }
                },
                "create": {
                  "path": "v1/{+parent}/workflowTemplates",
                  "response": {
                    "$ref": "WorkflowTemplate"
                  },
                  "description": "Creates new workflow template.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "id": "dataproc.projects.locations.workflowTemplates.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The resource name of the region or location, as described in https://cloud.google.com/apis/design/resource_names. For projects.regions.workflowTemplates.create, the resource name of the region has the following format: projects/{project_id}/regions/{region} For projects.locations.workflowTemplates.create, the resource name of the location has the following format: projects/{project_id}/locations/{location}",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "WorkflowTemplate"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workflowTemplates"
                },
                "testIamPermissions": {
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "resource"
                  ],
[...]
