{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/datamanager": {
          "description": "See, edit, create, import, or delete your customer data in Google Ads, Google Marketing Platform (Campaign Manager 360, Search Ads 360, Display & Video 360), and Google Analytics"
        },
        "https://www.googleapis.com/auth/datamanager.partnerlink": {
          "description": "View, create, or delete your partner links in Google Ads, Marketing Platform (Campaign Manager 360, Search Ads 360, Display & Video 360), and Analytics"
        }
      }
    }
  },
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "type": "string",
      "default": "json",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    }
  },
  "description": "A unified ingestion API for data partners, agencies and advertisers to connect first-party data across Google advertising products.",
  "baseUrl": "https://datamanager.googleapis.com/",
  "canonicalName": "Data Manager",
  "ownerName": "Google",
  "version_module": true,
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "revision": "20260828",
  "resources": {
    "requestStatus": {
      "methods": {
        "retrieve": {
          "id": "datamanager.requestStatus.retrieve",
          "parameterOrder": [],
          "response": {
            "$ref": "RetrieveRequestStatusResponse"
          },
          "httpMethod": "GET",
          "description": "Gets the status of a request given request id.",
          "scopes": [
            "https://www.googleapis.com/auth/datamanager"
          ],
          "flatPath": "v1/requestStatus:retrieve",
          "parameters": {
            "requestId": {
              "location": "query",
              "description": "Required. Required. The request ID of the Data Manager API request.",
              "type": "string"
            }
          },
          "path": "v1/requestStatus:retrieve"
        }
      }
    },
    "audienceMembers": {
      "methods": {
        "ingest": {
          "response": {
            "$ref": "IngestAudienceMembersResponse"
          },
          "httpMethod": "POST",
          "id": "datamanager.audienceMembers.ingest",
          "scopes": [
            "https://www.googleapis.com/auth/datamanager"
          ],
          "path": "v1/audienceMembers:ingest",
          "parameters": {},
          "flatPath": "v1/audienceMembers:ingest",
          "parameterOrder": [],
          "description": "Uploads a list of AudienceMember resources to the provided Destination.",
          "request": {
            "$ref": "IngestAudienceMembersRequest"
          }
        },
        "remove": {
          "httpMethod": "POST",
          "flatPath": "v1/audienceMembers:remove",
          "request": {
            "$ref": "RemoveAudienceMembersRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/datamanager"
          ],
          "parameters": {},
          "response": {
            "$ref": "RemoveAudienceMembersResponse"
          },
          "description": "Removes a list of AudienceMember resources from the provided Destination.",
          "parameterOrder": [],
          "id": "datamanager.audienceMembers.remove",
          "path": "v1/audienceMembers:remove"
        },
        "removeAll": {
          "request": {
            "$ref": "RemoveAllAudienceMembersRequest"
          },
          "path": "v1/audienceMembers:removeAll",
          "response": {
            "$ref": "RemoveAllAudienceMembersResponse"
          },
          "parameters": {},
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/datamanager"
          ],
          "httpMethod": "POST",
          "flatPath": "v1/audienceMembers:removeAll",
          "id": "datamanager.audienceMembers.removeAll",
          "description": "Removes all audience members from the provided destinations."
        }
      }
    },
    "accountTypes": {
      "resources": {
        "accounts": {
          "resources": {
            "userListGlobalLicenses": {
              "methods": {
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "id": "datamanager.accountTypes.accounts.userListGlobalLicenses.get",
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userListGlobalLicenses/{userListGlobalLicensesId}",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "description": "Retrieves a user list global license. This feature is only available to data partners.",
                  "response": {
                    "$ref": "UserListGlobalLicense"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The resource name of the user list global license.",
                      "required": true,
                      "type": "string",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+/userListGlobalLicenses/[^/]+$"
                    }
                  }
                },
                "list": {
                  "path": "v1/{+parent}/userListGlobalLicenses",
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userListGlobalLicenses",
                  "parameters": {
                    "filter": {
                      "description": "Optional. A [filter string](https://google.aip.dev/160) to apply to the list request. All fields need to be on the left hand side of each condition (for example: `user_list_id = 123`). Fields must be specified using either all [camel case](https://en.wikipedia.org/wiki/Camel_case) or all [snake case](https://en.wikipedia.org/wiki/Snake_case). Don't use a combination of camel case and snake case. **Supported Operations:** - `AND` - `=` - `!=` - `>` - `>=` - `<` - `<=` **Supported Functions:** - `IN(field, value1, value2, ...)`: returns true if the field matches any of the values. Example: `IN(user_list_id, 123, 456)` **Unsupported Fields:** - `name` (use get method instead) - `historical_pricings` and all its subfields - `pricing.start_time` - `pricing.end_time`",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. The account whose licenses are being queried. Should be in the format accountTypes/{ACCOUNT_TYPE}/accounts/{ACCOUNT_ID}",
                      "type": "string",
                      "required": true,
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+$"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A page token, received from a previous `ListUserListGlobalLicense` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListUserListDirectLicense` must match the call that provided the page token.",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. The maximum number of licenses to return. The service may return fewer than this value. If unspecified, at most 50 licenses will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "type": "integer"
                    }
                  },
                  "response": {
                    "$ref": "ListUserListGlobalLicensesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "httpMethod": "GET",
                  "id": "datamanager.accountTypes.accounts.userListGlobalLicenses.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists all user list global licenses owned by the parent account. This feature is only available to data partners."
                },
                "create": {
                  "path": "v1/{+parent}/userListGlobalLicenses",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "datamanager.accountTypes.accounts.userListGlobalLicenses.create",
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userListGlobalLicenses",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "request": {
                    "$ref": "UserListGlobalLicense"
                  },
                  "response": {
                    "$ref": "UserListGlobalLicense"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+$",
                      "description": "Required. The account that owns the user list being licensed. Should be in the format accountTypes/{ACCOUNT_TYPE}/accounts/{ACCOUNT_ID}",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "Creates a user list global license. This feature is only available to data partners."
                },
                "patch": {
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+/userListGlobalLicenses/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Identifier. The resource name of the user list global license."
                    },
                    "updateMask": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. The list of fields to update. The special character `*` is not supported and an `INVALID_UPDATE_MASK` error will be thrown if used.",
                      "format": "google-fieldmask"
                    }
                  },
                  "response": {
                    "$ref": "UserListGlobalLicense"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates a user list global license. This feature is only available to data partners.",
                  "id": "datamanager.accountTypes.accounts.userListGlobalLicenses.patch",
                  "request": {
                    "$ref": "UserListGlobalLicense"
                  },
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userListGlobalLicenses/{userListGlobalLicensesId}",
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ]
                }
              },
              "resources": {
                "userListGlobalLicenseCustomerInfos": {
                  "methods": {
                    "list": {
                      "description": "Lists all customer info for a user list global license. This feature is only available to data partners.",
                      "path": "v1/{+parent}/userListGlobalLicenseCustomerInfos",
                      "httpMethod": "GET",
                      "id": "datamanager.accountTypes.accounts.userListGlobalLicenses.userListGlobalLicenseCustomerInfos.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/datamanager"
                      ],
                      "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userListGlobalLicenses/{userListGlobalLicensesId}/userListGlobalLicenseCustomerInfos",
                      "parameters": {
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "location": "query",
                          "description": "Optional. The maximum number of licenses to return. The service may return fewer than this value. If unspecified, at most 50 licenses will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                        },
                        "pageToken": {
                          "description": "Optional. A page token, received from a previous `ListUserListDirectLicense` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListUserListDirectLicense` must match the call that provided the page token.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "pattern": "^accountTypes/[^/]+/accounts/[^/]+/userListGlobalLicenses/[^/]+$",
                          "description": "Required. The global license whose customer info are being queried. Should be in the format `accountTypes/{ACCOUNT_TYPE}/accounts/{ACCOUNT_ID}/userListGlobalLicenses/{USER_LIST_GLOBAL_LICENSE_ID}`. To list all global license customer info under an account, replace the user list global license id with a '-' (for example, `accountTypes/DATA_PARTNER/accounts/123/userListGlobalLicenses/-`)",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        },
                        "filter": {
                          "location": "query",
                          "description": "Optional. A [filter string](https://google.aip.dev/160) to apply to the list request. All fields need to be on the left hand side of each condition (for example: `user_list_id = 123`). Fields must be specified using either all [camel case](https://en.wikipedia.org/wiki/Camel_case) or all [snake case](https://en.wikipedia.org/wiki/Snake_case). Don't use a combination of camel case and snake case. **Supported Operations:** - `AND` - `=` - `!=` - `>` - `>=` - `<` - `<=` **Supported Functions:** - `IN(field, value1, value2, ...)`: returns true if the field matches any of the values. Example: `IN(user_list_id, 123, 456)` **Unsupported Fields:** - `name` (use get method instead) - `historical_pricings` and all its subfields - `pricing.start_time` - `pricing.end_time`",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListUserListGlobalLicenseCustomerInfosResponse"
                      }
                    }
                  }
                }
              }
            },
            "insights": {
              "methods": {
                "retrieve": {
                  "request": {
                    "$ref": "RetrieveInsightsRequest"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/insights:retrieve",
                  "path": "v1/{+parent}/insights:retrieve",
                  "id": "datamanager.accountTypes.accounts.insights.retrieve",
                  "description": "Retrieves marketing data insights for a given user list. This feature is only available to data partners. Authorization Headers: This method supports the following optional headers to define how the API authorizes access for the request: * `login-account`: (Optional) The resource name of the account where the Google Account of the credentials is a user. If not set, defaults to the account of the request. Format: `accountTypes/{loginAccountType}/accounts/{loginAccountId}` * `linked-account`: (Optional) The resource name of the account with an established product link to the `login-account`. Format: `accountTypes/{linkedAccountType}/accounts/{linkedAccountId}`",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent account that owns the user list. Format: `accountTypes/{account_type}/accounts/{account}`",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "RetrieveInsightsResponse"
                  },
                  "httpMethod": "POST"
                }
              }
            },
            "userLists": {
              "methods": {
                "list": {
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userLists",
                  "description": "Lists UserLists. Authorization Headers: This method supports the following optional headers to define how the API authorizes access for the request: * `login-account`: (Optional) The resource name of the account where the Google Account of the credentials is a user. If not set, defaults to the account of the request. Format: `accountTypes/{loginAccountType}/accounts/{loginAccountId}` * `linked-account`: (Optional) The resource name of the account with an established product link to the `login-account`. Format: `accountTypes/{linkedAccountType}/accounts/{linkedAccountId}`",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListUserListsResponse"
                  },
                  "path": "v1/{+parent}/userLists",
                  "id": "datamanager.accountTypes.accounts.userLists.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A page token, received from a previous `ListUserLists` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListUserLists` must match the call that provided the page token.",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A [filter string](https://google.aip.dev/160). All fields need to be on the left hand side of each condition (for example: `display_name = \"list 1\"`). Fields must be specified using either all [camel case](https://en.wikipedia.org/wiki/Camel_case) or all [snake case](https://en.wikipedia.org/wiki/Snake_case). Don't use a combination of camel case and snake case. Supported operations: - `AND` - `=` - `!=` - `>` - `>=` - `<` - `<=` - `:` (has) **Supported Functions:** - `IN(field, value1, value2, ...)`: returns true if the field matches any of the values. Example: `IN(display_name, \"name1\", \"name2\")` Supported fields: - `id` - `display_name` - `description` - `membership_status` - `integration_code` - `access_reason` - `ingested_user_list_info.upload_key_types`"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of user lists to return. The service may return fewer than this value. If unspecified, at most 50 user lists will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "parent": {
                      "required": true,
                      "location": "path",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+$",
                      "type": "string",
                      "description": "Required. The parent account which owns this collection of user lists. Format: accountTypes/{account_type}/accounts/{account}"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "get": {
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userLists/{userListsId}",
                  "description": "Gets a UserList. Authorization Headers: This method supports the following optional headers to define how the API authorizes access for the request: * `login-account`: (Optional) The resource name of the account where the Google Account of the credentials is a user. If not set, defaults to the account of the request. Format: `accountTypes/{loginAccountType}/accounts/{loginAccountId}` * `linked-account`: (Optional) The resource name of the account with an established product link to the `login-account`. Format: `accountTypes/{linkedAccountType}/accounts/{linkedAccountId}`",
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "id": "datamanager.accountTypes.accounts.userLists.get",
                  "response": {
                    "$ref": "UserList"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+/userLists/[^/]+$",
                      "required": true,
                      "description": "Required. The resource name of the UserList to retrieve. Format: accountTypes/{account_type}/accounts/{account}/userLists/{user_list}"
                    }
                  }
                },
                "delete": {
                  "description": "Deletes a UserList. Authorization Headers: This method supports the following optional headers to define how the API authorizes access for the request: * `login-account`: (Optional) The resource name of the account where the Google Account of the credentials is a user. If not set, defaults to the account of the request. Format: `accountTypes/{loginAccountType}/accounts/{loginAccountId}` * `linked-account`: (Optional) The resource name of the account with an established product link to the `login-account`. Format: `accountTypes/{linkedAccountType}/accounts/{linkedAccountId}`",
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userLists/{userListsId}",
                  "id": "datamanager.accountTypes.accounts.userLists.delete",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "description": "Required. The name of the user list to delete. Format: accountTypes/{account_type}/accounts/{account}/userLists/{user_list}",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+/userLists/[^/]+$",
                      "type": "string"
                    },
                    "validateOnly": {
                      "description": "Optional. If true, the request is validated but not executed.",
                      "type": "boolean",
                      "location": "query"
                    }
                  }
                },
                "create": {
                  "response": {
                    "$ref": "UserList"
                  },
                  "id": "datamanager.accountTypes.accounts.userLists.create",
                  "request": {
                    "$ref": "UserList"
                  },
                  "httpMethod": "POST",
                  "path": "v1/{+parent}/userLists",
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userLists",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a UserList. Authorization Headers: This method supports the following optional headers to define how the API authorizes access for the request: * `login-account`: (Optional) The resource name of the account where the Google Account of the credentials is a user. If not set, defaults to the account of the request. Format: `accountTypes/{loginAccountType}/accounts/{loginAccountId}` * `linked-account`: (Optional) The resource name of the account with an established product link to the `login-account`. Format: `accountTypes/{linkedAccountType}/accounts/{linkedAccountId}`",
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "parameters": {
                    "validateOnly": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Optional. If true, the request is validated but not executed."
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. The parent account where this user list will be created. Format: accountTypes/{account_type}/accounts/{account}"
                    }
                  }
                },
                "patch": {
                  "request": {
                    "$ref": "UserList"
                  },
                  "response": {
                    "$ref": "UserList"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Identifier. The resource name of the user list. Format: accountTypes/{account_type}/accounts/{account}/userLists/{user_list}",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+/userLists/[^/]+$"
                    },
                    "updateMask": {
                      "location": "query",
                      "description": "Optional. The list of fields to update.",
                      "format": "google-fieldmask",
                      "type": "string"
                    },
                    "validateOnly": {
                      "description": "Optional. If true, the request is validated but not executed.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "description": "Updates a UserList. Authorization Headers: This method supports the following optional headers to define how the API authorizes access for the request: * `login-account`: (Optional) The resource name of the account where the Google Account of the credentials is a user. If not set, defaults to the account of the request. Format: `accountTypes/{loginAccountType}/accounts/{loginAccountId}` * `linked-account`: (Optional) The resource name of the account with an established product link to the `login-account`. Format: `accountTypes/{linkedAccountType}/accounts/{linkedAccountId}`",
                  "path": "v1/{+name}",
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userLists/{userListsId}",
                  "id": "datamanager.accountTypes.accounts.userLists.patch",
                  "httpMethod": "PATCH"
                }
              }
            },
            "userListDirectLicenses": {
              "methods": {
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The account that owns the user list being licensed. Should be in the format accountTypes/{ACCOUNT_TYPE}/accounts/{ACCOUNT_ID}",
                      "type": "string",
                      "location": "path",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+$",
                      "required": true
                    }
                  },
                  "description": "Creates a user list direct license. This feature is only available to data partners.",
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userListDirectLicenses",
                  "request": {
                    "$ref": "UserListDirectLicense"
                  },
                  "httpMethod": "POST",
                  "id": "datamanager.accountTypes.accounts.userListDirectLicenses.create",
                  "response": {
                    "$ref": "UserListDirectLicense"
                  },
                  "path": "v1/{+parent}/userListDirectLicenses"
                },
                "list": {
                  "description": "Lists all user list direct licenses owned by the parent account. This feature is only available to data partners.",
                  "response": {
                    "$ref": "ListUserListDirectLicensesResponse"
                  },
                  "httpMethod": "GET",
                  "id": "datamanager.accountTypes.accounts.userListDirectLicenses.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "description": "Optional. A [filter string](https://google.aip.dev/160) to apply to the list request. All fields need to be on the left hand side of each condition (for example: `user_list_id = 123`). Fields must be specified using either all [camel case](https://en.wikipedia.org/wiki/Camel_case) or all [snake case](https://en.wikipedia.org/wiki/Snake_case). Don't use a combination of camel case and snake case. **Supported Operations:** - `AND` - `=` - `!=` - `>` - `>=` - `<` - `<=` **Supported Functions:** - `IN(field, value1, value2, ...)`: returns true if the field matches any of the values. Example: `IN(user_list_id, 123, 456)` **Unsupported Fields:** - `name` (use get method instead) - `historical_pricings` and all its subfields - `pricing.start_time` - `pricing.end_time`",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Optional. The maximum number of licenses to return per page. The service may return fewer than this value. If unspecified, at most 50 licenses will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListUserListDirectLicense` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListUserListDirectLicense` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. The account whose licenses are being queried. Should be in the format accountTypes/{ACCOUNT_TYPE}/accounts/{ACCOUNT_ID}",
                      "required": true,
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+$",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userListDirectLicenses",
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "path": "v1/{+parent}/userListDirectLicenses"
                },
                "patch": {
                  "response": {
                    "$ref": "UserListDirectLicense"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "UserListDirectLicense"
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userListDirectLicenses/{userListDirectLicensesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "description": "Optional. The list of fields to update. The special character `*` is not supported and an `INVALID_UPDATE_MASK` error will be thrown if used.",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "location": "path",
                      "description": "Identifier. The resource name of the user list direct license.",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+/userListDirectLicenses/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "description": "Updates a user list direct license. This feature is only available to data partners.",
                  "id": "datamanager.accountTypes.accounts.userListDirectLicenses.patch"
                },
                "get": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The resource name of the user list direct license.",
                      "location": "path",
                      "required": true,
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+/userListDirectLicenses/[^/]+$"
                    }
                  },
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userListDirectLicenses/{userListDirectLicensesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "UserListDirectLicense"
                  },
                  "description": "Retrieves a user list direct license. This feature is only available to data partners.",
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "id": "datamanager.accountTypes.accounts.userListDirectLicenses.get",
                  "path": "v1/{+name}"
                }
              }
            },
            "partnerLinks": {
              "methods": {
                "delete": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager",
                    "https://www.googleapis.com/auth/datamanager.partnerlink"
                  ],
                  "id": "datamanager.accountTypes.accounts.partnerLinks.delete",
                  "description": "Deletes a partner link for the given account. Authorization Headers: This method supports the following optional headers to define how the API authorizes access for the request: * `login-account`: (Optional) The resource name of the account where the Google Account of the credentials is a user. If not set, defaults to the account of the request. Format: `accountTypes/{loginAccountType}/accounts/{loginAccountId}`",
                  "path": "v1/{+name}",
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/partnerLinks/{partnerLinksId}",
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the partner link to delete. Format: accountTypes/{account_type}/accounts/{account}/partnerLinks/{partner_link}",
                      "location": "path",
                      "required": true,
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+/partnerLinks/[^/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent, which owns this collection of partner links. Format: accountTypes/{account_type}/accounts/{account}",
                      "required": true,
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager",
                    "https://www.googleapis.com/auth/datamanager.partnerlink"
                  ],
                  "description": "Creates a partner link for the given account. Authorization Headers: This method supports the following optional headers to define how the API authorizes access for the request: * `login-account`: (Optional) The resource name of the account where the Google Account of the credentials is a user. If not set, defaults to the account of the request. Format: `accountTypes/{loginAccountType}/accounts/{loginAccountId}`",
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/partnerLinks",
                  "id": "datamanager.accountTypes.accounts.partnerLinks.create",
                  "path": "v1/{+parent}/partnerLinks",
                  "response": {
                    "$ref": "PartnerLink"
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "PartnerLink"
                  }
                },
                "search": {
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/partnerLinks:search",
                  "path": "v1/{+parent}/partnerLinks:search",
                  "description": "Searches for all partner links to and from a given account. Authorization Headers: This method supports the following optional headers to define how the API authorizes access for the request: * `login-account`: (Optional) The resource name of the account where the Google Account of the credentials is a user. If not set, defaults to the account of the request. Format: `accountTypes/{loginAccountType}/accounts/{loginAccountId}`",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "SearchPartnerLinksResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager",
                    "https://www.googleapis.com/auth/datamanager.partnerlink"
                  ],
                  "id": "datamanager.accountTypes.accounts.partnerLinks.search",
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "description": "The maximum number of partner links to return. The service may return fewer than this value. If unspecified, at most 50 partner links will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
                      "type": "integer",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+$",
                      "description": "Required. Account to search for partner links. If no `filter` is specified, all partner links where this account is either the `owning_account` or `partner_account` are returned. Format: `accountTypes/{account_type}/accounts/{account}`",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A page token, received from a previous `SearchPartnerLinks` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `SearchPartnerLinks` must match the call that provided the page token."
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. A [filter string](https://google.aip.dev/160). All fields need to be on the left hand side of each condition (for example: `partner_link_id = 123456789`). Fields must be specified using either all [camel case](https://en.wikipedia.org/wiki/Camel_case) or all [snake case](https://en.wikipedia.org/wiki/Snake_case). Don't use a combination of camel case and snake case. Supported operations: - `AND` - `=` - `!=` Supported fields: - `partner_link_id` - `owning_account.account_type` - `owning_account.account_id` - `partner_account.account_type` - `partner_account.account_id` - `feature_set` For partner links with the FEATURE_SET_AD_EVENT_MANAGEMENT feature set, the following fields are also supported: - `partner_customer_account.account_id` - `partner_link_metadata.implicit_accounts.account_id` Example: `owning_account.account_type = \"GOOGLE_ADS\" AND partner_account.account_id = 987654321`",
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "events": {
      "methods": {
        "ingest": {
          "parameters": {},
          "response": {
            "$ref": "IngestEventsResponse"
          },
          "parameterOrder": [],
          "request": {
            "$ref": "IngestEventsRequest"
          },
          "httpMethod": "POST",
          "id": "datamanager.events.ingest",
          "flatPath": "v1/events:ingest",
          "description": "Uploads a list of Event resources from the provided Destination.",
          "path": "v1/events:ingest",
          "scopes": [
            "https://www.googleapis.com/auth/datamanager"
          ]
        }
      }
    },
    "adEvents": {
      "methods": {
        "ingest": {
          "scopes": [
            "https://www.googleapis.com/auth/datamanager"
          ],
          "request": {
            "$ref": "IngestAdEventsRequest"
          },
          "path": "v1/adEvents:ingest",
          "response": {
            "$ref": "IngestAdEventsResponse"
          },
          "httpMethod": "POST",
          "id": "datamanager.adEvents.ingest",
          "description": "Uploads a list of AdEvent resources to Google Analytics. This feature is only available to accounts on an allowlist.",
          "parameterOrder": [],
          "flatPath": "v1/adEvents:ingest",
          "parameters": {}
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/data-manager",
  "mtlsRootUrl": "https://datamanager.mtls.googleapis.com/",
  "id": "datamanager:v1",
  "title": "Data Manager API",
  "version": "v1",
  "fullyEncodeReservedExpansion": true,
  "basePath": "",
  "kind": "discovery#restDescription",
  "rootUrl": "https://datamanager.googleapis.com/",
  "protocol": "rest",
  "batchPath": "batch",
  "schemas": {
    "AddressInfo": {
      "description": "Address information for the user.",
      "id": "AddressInfo",
      "type": "object",
      "properties": {
        "city": {
          "description": "Optional. The city of the user's address. Used only for Google Analytics. The value should be normalized as such: - Remove symbol characters - Convert to lowercase - Remove leading and trailing whitespace",
          "type": "string"
        },
        "postalCode": {
          "description": "Required. The postal code of the user's address.",
          "type": "string"
        },
        "addressLine": {
          "type": "string",
          "description": "Optional. The street and number of the user's address. Used only for Google Analytics. This field is hashed and possibly encrypted. Normalize the value before hashing: - Remove symbol characters - Convert to lowercase - Remove leading and trailing whitespace"
        },
        "familyName": {
          "type": "string",
          "description": "Required. Family (last) name of the user, all lowercase, with no punctuation, no leading or trailing whitespace, and hashed as SHA-256."
        },
        "regionCode": {
          "type": "string",
          "description": "Required. The 2-letter region code in ISO-3166-1 alpha-2 of the user's address."
        },
        "administrativeArea": {
          "type": "string",
          "description": "Optional. The administrative area (state/province) of the user's address. Used only for Google Analytics. The value should be normalized as such: - Remove symbol characters - Convert to lowercase - Remove leading and trailing whitespace"
        },
        "givenName": {
          "description": "Required. Given (first) name of the user, all lowercase, with no punctuation, no leading or trailing whitespace, and hashed as SHA-256.",
          "type": "string"
        }
      }
    },
    "UserListDirectLicense": {
      "description": "A user list direct license. This feature is only available to data partners.",
      "id": "UserListDirectLicense",
      "properties": {
        "status": {
          "enumDescriptions": [
            "Unknown.",
            "Active status - user list is still being licensed.",
            "Inactive status - user list is no longer being licensed."
          ],
          "description": "Optional. Status of UserListDirectLicense - ENABLED or DISABLED.",
          "type": "string",
          "enum": [
            "USER_LIST_LICENSE_STATUS_UNSPECIFIED",
            "USER_LIST_LICENSE_STATUS_ENABLED",
            "USER_LIST_LICENSE_STATUS_DISABLED"
          ]
        },
        "clientAccountDisplayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of client customer which the user list is being licensed to. This field is read-only."
        },
        "name": {
          "description": "Identifier. The resource name of the user list direct license.",
          "type": "string"
        },
        "historicalPricings": {
          "description": "Output only. Pricing history of this user list license. This field is read-only.",
          "items": {
            "$ref": "UserListLicensePricing"
          },
          "readOnly": true,
          "type": "array"
        },
        "pricing": {
          "description": "Optional. UserListDirectLicense pricing.",
          "$ref": "UserListLicensePricing"
        },
        "clientAccountId": {
          "type": "string",
          "description": "Immutable. ID of client customer which the user list is being licensed to.",
          "format": "int64"
        },
        "clientAccountType": {
          "enum": [
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_UNKNOWN",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_GOOGLE_ADS",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_DISPLAY_VIDEO_PARTNER",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_DISPLAY_VIDEO_ADVERTISER",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_GOOGLE_AD_MANAGER_AUDIENCE_LINK"
          ],
          "description": "Immutable. Account type of client customer which the user list is being licensed to.",
          "enumDescriptions": [
            "Unknown.",
            "Google Ads customer.",
            "Display & Video 360 partner.",
            "Display & Video 360 advertiser.",
            "Google Ad Manager audience link."
          ],
          "type": "string"
        },
        "metrics": {
          "readOnly": true,
          "description": "Output only. Metrics related to this license This field is read-only and only populated if the start and end dates are set in the ListUserListDirectLicenses call",
          "$ref": "UserListLicenseMetrics"
        },
        "userListDisplayName": {
          "type": "string",
          "description": "Output only. Name of the user list being licensed. This field is read-only.",
          "readOnly": true
        },
        "userListId": {
          "description": "Immutable. ID of the user list being licensed.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "PartnerProvidedIdData": {
      "description": "Partner-provided data holding the partner-provided identifiers. At least one partner-provided identifier is required.",
      "id": "PartnerProvidedIdData",
      "properties": {
        "partnerProvidedIds": {
          "type": "array",
          "description": "Required. The list of partner-provided identifiers.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "RemoveAudienceMembersResponse": {
      "properties": {
        "requestId": {
          "description": "The auto-generated ID of the request.",
          "type": "string"
        }
      },
      "description": "Response from the RemoveAudienceMembersRequest.",
      "type": "object",
      "id": "RemoveAudienceMembersResponse"
    },
    "UserListGlobalLicense": {
      "type": "object",
      "properties": {
        "userListDisplayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the user list being licensed. This field is read-only."
        },
        "metrics": {
          "description": "Output only. Metrics related to this license This field is read-only and only populated if the start and end dates are set in the ListUserListGlobalLicenses call",
          "$ref": "UserListLicenseMetrics",
          "readOnly": true
        },
        "licenseType": {
          "type": "string",
          "enumDescriptions": [
            "UNSPECIFIED.",
            "Reseller license.",
            "DataMart Sell Side license.",
            "DataMart Buy Side license."
          ],
          "enum": [
            "USER_LIST_GLOBAL_LICENSE_TYPE_UNSPECIFIED",
            "USER_LIST_GLOBAL_LICENSE_TYPE_RESELLER",
            "USER_LIST_GLOBAL_LICENSE_TYPE_DATA_MART_SELL_SIDE",
            "USER_LIST_GLOBAL_LICENSE_TYPE_DATA_MART_BUY_SIDE"
          ],
          "description": "Immutable. Product type of client customer which the user list is being licensed to."
        },
        "pricing": {
          "description": "Optional. UserListGlobalLicense pricing.",
          "$ref": "UserListLicensePricing"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the user list global license."
        },
        "status": {
          "enum": [
            "USER_LIST_LICENSE_STATUS_UNSPECIFIED",
            "USER_LIST_LICENSE_STATUS_ENABLED",
            "USER_LIST_LICENSE_STATUS_DISABLED"
          ],
          "description": "Optional. Status of UserListGlobalLicense - ENABLED or DISABLED.",
          "enumDescriptions": [
            "Unknown.",
            "Active status - user list is still being licensed.",
            "Inactive status - user list is no longer being licensed."
          ],
          "type": "string"
        },
        "userListId": {
          "description": "Immutable. ID of the user list being licensed.",
          "type": "string",
          "format": "int64"
        },
        "historicalPricings": {
          "items": {
            "$ref": "UserListLicensePricing"
          },
          "description": "Output only. Pricing history of this user list license. This field is read-only.",
          "type": "array",
          "readOnly": true
        }
      },
      "description": "A user list global license. This feature is only available to data partners.",
      "id": "UserListGlobalLicense"
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "RemoveAllAudienceMembersRequest": {
      "type": "object",
      "properties": {
        "destinations": {
          "description": "Required. The list of destinations to remove the users from.",
          "items": {
            "$ref": "Destination"
          },
          "type": "array"
        },
        "removeAsOfTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. The remove as of time. If set, only audience members last added before this time will be removed. If not set, it defaults to current time. The remove as of time must not be in the future."
        },
        "validateOnly": {
          "type": "boolean",
          "description": "Optional. For testing purposes. If `true`, the request is validated but not executed. Only errors are returned, not results."
        }
      },
      "description": "Request to remove all users from an audience in the provided destinations. Returns a RemoveAllAudienceMembersResponse.",
      "id": "RemoveAllAudienceMembersRequest"
    },
    "AudienceMember": {
      "type": "object",
      "description": "The audience member to be operated on.",
      "id": "AudienceMember",
      "properties": {
        "mobileData": {
          "description": "Data identifying the user's mobile devices.",
          "$ref": "MobileData"
        },
        "consent": {
          "$ref": "Consent",
          "description": "Optional. The consent setting for the user."
        },
        "userIdData": {
          "description": "Data related to unique identifiers for a user, as defined by the advertiser.",
          "$ref": "UserIdData"
        },
        "pairData": {
          "description": "[Publisher Advertiser Identity Reconciliation (PAIR) IDs](//support.google.com/admanager/answer/15067908). This feature is only available to data partners.",
          "$ref": "PairData"
        },
        "userData": {
          "$ref": "UserData",
          "description": "User-provided data that identifies the user."
        },
        "destinationReferences": {
          "description": "Optional. Defines which Destination to send the audience member to.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ppidData": {
          "$ref": "PpidData",
          "description": "Data related to publisher provided identifiers. This feature is only available to data partners."
        },
        "compositeData": {
          "description": "Group of multiple identifier types.",
          "$ref": "CompositeData"
        },
        "googleUserIdData": {
          "$ref": "GoogleUserIdData",
          "description": "Encrypted Google User IDs."
        },
        "partnerProvidedIdData": {
          "description": "Partner-provided identifiers.",
          "$ref": "PartnerProvidedIdData"
        }
      }
    },
    "EncryptionInfo": {
      "id": "EncryptionInfo",
      "type": "object",
      "description": "Encryption information for the data being ingested.",
      "properties": {
        "coordinatorKeyInfo": {
          "$ref": "CoordinatorKeyInfo",
          "description": "Key information for the chosen coordinator key. This is not supported for the IngestEvents, IngestAudienceMembers, and RemoveAudienceMembers methods."
        },
        "gcpWrappedKeyInfo": {
          "$ref": "GcpWrappedKeyInfo",
          "description": "Google Cloud Platform wrapped key information."
        },
        "awsWrappedKeyInfo": {
          "$ref": "AwsWrappedKeyInfo",
          "description": "Amazon Web Services wrapped key information."
        }
      }
    },
    "ExperimentalField": {
      "id": "ExperimentalField",
      "properties": {
        "value": {
          "type": "string",
          "description": "Optional. The value the field to set."
        },
        "field": {
          "description": "Optional. The name of the field to use.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Experimental field representing unofficial fields."
    },
    "IngestEventsRequest": {
      "type": "object",
      "description": "Request to upload audience members to the provided destinations. Returns an IngestEventsResponse.",
      "properties": {
        "validateOnly": {
          "description": "Optional. For testing purposes. If `true`, the request is validated but not executed. Only errors are returned, not results.",
          "type": "boolean"
        },
        "consent": {
          "description": "Optional. Request-level consent to apply to all users in the request. User-level consent overrides request-level consent, and can be specified in each Event.",
          "$ref": "Consent"
        },
        "encryptionInfo": {
          "description": "Optional. Encryption information for UserData uploads. If not set, it's assumed that uploaded identifying information is hashed but not encrypted. For non `UserData` uploads, this field is ignored.",
          "$ref": "EncryptionInfo"
        },
        "events": {
          "description": "Required. The list of events to send to the specified destinations. At most 2000 Event resources can be sent in a single request.",
          "type": "array",
          "items": {
            "$ref": "Event"
          }
        },
        "destinations": {
          "description": "Required. The list of destinations to send the events to.",
          "items": {
            "$ref": "Destination"
          },
          "type": "array"
        },
        "encoding": {
          "enum": [
            "ENCODING_UNSPECIFIED",
            "HEX",
            "BASE64"
          ],
          "description": "Optional. Required for UserData uploads. The encoding type of the user identifiers. For hashed user identifiers, this is the encoding type of the hashed string. For encrypted hashed user identifiers, this is the encoding type of the outer encrypted string, but not necessarily the inner hashed string, meaning the inner hashed string could be encoded in a different way than the outer encrypted string. For non `UserData` uploads, this field is ignored.",
          "enumDescriptions": [
            "Unspecified Encoding type. Should never be used.",
            "Hex encoding.",
            "Base 64 encoding."
          ],
          "type": "string"
        }
      },
      "id": "IngestEventsRequest"
    },
    "DataTypeCount": {
      "properties": {
        "count": {
          "type": "string",
          "description": "The count for this data type.",
          "format": "int64"
        },
        "type": {
          "description": "The type of data.",
          "type": "string",
          "enumDescriptions": [
            "The data type is unspecified.",
            "The data is an email address.",
            "The data is a phone number.",
            "The data is a physical address.",
            "The data is an IP address."
          ],
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "EMAIL",
            "PHONE_NUMBER",
            "ADDRESS",
            "IP_ADDRESS"
          ]
        }
      },
      "type": "object",
      "id": "DataTypeCount",
      "description": "The count for a specific data type."
    },
    "IngestAudienceMembersResponse": {
      "description": "Response from the IngestAudienceMembersRequest.",
      "properties": {
        "fieldWarnings": {
          "type": "array",
          "description": "Detailed row-level warnings with field paths.",
          "items": {
            "$ref": "FieldWarning"
          }
        },
        "requestId": {
          "description": "The auto-generated ID of the request.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "IngestAudienceMembersResponse"
    },
    "GoogleUserIdData": {
      "id": "GoogleUserIdData",
      "properties": {
        "googleUserIds": {
          "type": "array",
          "description": "Required. The list of encrypted google user IDs.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Google user id data holding encrypted google user IDs. At least one google user ID is required."
    },
    "RemoveUserIdDataStatus": {
      "type": "object",
      "properties": {
        "userIdCount": {
          "description": "The total count of user ids sent in the removal request. Includes all user ids in the request, regardless of whether they were successfully removed or not.",
          "format": "int64",
          "type": "string"
        },
        "recordCount": {
          "description": "The total count of audience members sent in the removal request. Includes all audience members in the request, regardless of whether they were successfully removed or not.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "RemoveUserIdDataStatus",
      "description": "The status of the user id data removal from the destination."
    },
    "WarningCount": {
      "type": "object",
      "properties": {
        "reason": {
          "enum": [
            "PROCESSING_WARNING_REASON_UNSPECIFIED",
            "PROCESSING_WARNING_REASON_KEK_PERMISSION_DENIED",
            "PROCESSING_WARNING_REASON_DEK_DECRYPTION_ERROR",
            "PROCESSING_WARNING_REASON_DECRYPTION_ERROR",
            "PROCESSING_WARNING_REASON_WIP_AUTH_FAILED",
            "PROCESSING_WARNING_REASON_INVALID_WIP",
            "PROCESSING_WARNING_REASON_INVALID_KEK",
            "PROCESSING_WARNING_REASON_USER_IDENTIFIER_DECRYPTION_ERROR",
            "PROCESSING_WARNING_REASON_INTERNAL_ERROR",
            "PROCESSING_WARNING_REASON_AWS_AUTH_FAILED"
          ],
          "type": "string",
          "description": "The warning reason.",
          "enumDescriptions": [
            "The processing warning reason is unknown.",
            "The system did not have the permissions needed to access the KEK.",
            "The DEK failed to be decrypted.",
            "The event has a decryption error.",
            "The WIP could not be used because it was rejected by its attestation condition.",
            "The WIP is formatted incorrectly or the WIP does not exist.",
            "The KEK cannot decrypt data because it is the wrong KEK, or it does not exist.",
            "Failed to decrypt the UserIdentifier data using the DEK.",
            "Internal error.",
            "The system failed to authenticate with AWS."
          ]
        },
        "recordCount": {
          "type": "string",
          "description": "The count of records that have a warning.",
          "format": "int64"
        }
      },
      "id": "WarningCount",
      "description": "The warning count for a given warning reason."
    },
    "ViewabilityInfo": {
      "description": "Details of the viewability of the ad served.",
      "properties": {
        "mediaSkippable": {
          "description": "Optional. Whether the ad media was skippable or not.",
          "type": "boolean"
        },
        "viewableDuration": {
          "format": "google-duration",
          "description": "Optional. The amount of time the ad was viewable for.",
          "type": "string"
        },
        "viewType": {
          "description": "Required. The type of the event.",
          "enum": [
            "VIEW_TYPE_UNSPECIFIED",
            "VIEW_TYPE_MRC_VIEWED",
            "VIEW_TYPE_MRC_RENDERED"
          ],
          "enumDescriptions": [
            "Unspecified view type.",
            "MRC viewed.",
            "MRC rendered."
          ],
          "type": "string"
        },
        "viewablePercent": {
          "description": "Optional. The numerical percent (0-100) of the pixels that were viewable.",
          "type": "integer",
          "format": "int32"
        },
        "mediaVolumePercent": {
          "format": "int32",
          "description": "Optional. The numerical percent (0-100) of the volume of the media playback.",
          "type": "integer"
        },
        "mediaQuartile": {
          "description": "Optional. The amount of the media that was played as discrete quartiles.",
          "enum": [
            "MEDIA_QUARTILE_UNSPECIFIED",
            "MEDIA_QUARTILE_START",
            "MEDIA_QUARTILE_FIRST_QUARTILE",
            "MEDIA_QUARTILE_MIDPOINT",
            "MEDIA_QUARTILE_THIRD_QUARTILE",
            "MEDIA_QUARTILE_COMPLETE"
          ],
          "enumDescriptions": [
            "Unspecified media quartile.",
            "Start.",
            "First quartile.",
            "Midpoint.",
            "Third quartile.",
            "Complete."
          ],
          "type": "string"
        },
        "mediaDuration": {
          "type": "string",
          "description": "Optional. The duration of the ad media.",
          "format": "google-duration"
        },
        "playbackDuration": {
          "format": "google-duration",
          "type": "string",
          "description": "Optional. The duration of playback of the ad media, regardless of whether it was viewable or not."
        }
      },
      "id": "ViewabilityInfo",
      "type": "object"
    },
    "RemoveAllAudienceMembersResponse": {
      "description": "Response from the RemoveAllAudienceMembersRequest.",
      "id": "RemoveAllAudienceMembersResponse",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "The auto-generated ID of the request."
        }
      },
      "type": "object"
    },
    "ListUserListsResponse": {
      "id": "ListUserListsResponse",
      "type": "object",
      "description": "Response message for ListUserLists.",
      "properties": {
        "userLists": {
          "items": {
            "$ref": "UserList"
          },
          "description": "The user lists from the specified account.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "ListUserListDirectLicensesResponse": {
      "description": "Response from the ListUserListDirectLicensesRequest.",
      "properties": {
        "userListDirectLicenses": {
          "items": {
            "$ref": "UserListDirectLicense"
          },
          "description": "The licenses for the given user list in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListUserListDirectLicensesResponse",
      "type": "object"
    },
    "IngestEventsStatus": {
      "properties": {
        "recordCount": {
          "format": "int64",
          "type": "string",
          "description": "The total count of events sent in the upload request. Includes all events in the request, regardless of whether they were successfully ingested or not."
        }
      },
      "type": "object",
      "id": "IngestEventsStatus",
      "description": "The status of the events ingestion to the destination."
    },
    "ItemCustomVariable": {
      "id": "ItemCustomVariable",
      "description": "Item-level custom variable for ads conversions.",
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "Optional. The value to store for the custom variable."
        },
        "variable": {
          "type": "string",
          "description": "Optional. The name of the custom variable to set. If the variable is not found for the given destination, it will be ignored."
        },
        "destinationReferences": {
          "description": "Optional. Reference string used to determine which of the Event.destination_references the custom variable should be sent to. If empty, the Event.destination_references will be used.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "UserListLicensePricing": {
      "description": "A user list license pricing.",
      "properties": {
        "maxCostMicros": {
          "description": "Optional. The maximum CPM a commerce audience can be charged when the MEDIA_SHARE cost type is used. The value is in micro units (10^-6) and in the currency specified by the currency_code field. For example, 2000000 means $2 if `currency_code` is `USD`. This is only relevant when cost_type is MEDIA_SHARE. When cost_type is not MEDIA_SHARE, and this field is set, a MAX_COST_NOT_ALLOWED error will be returned. If not set or set to`0`, there is no cap.",
          "type": "string",
          "format": "int64"
        },
        "pricingActive": {
          "description": "Output only. Whether this pricing is active.",
          "readOnly": true,
          "type": "boolean"
        },
        "startTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Start time of the pricing.",
          "type": "string"
        },
        "costMicros": {
          "description": "Optional. The cost associated with the model, in micro units (10^-6), in the currency specified by the currency_code field. For example, 2000000 means $2 if `currency_code` is `USD`.",
          "format": "int64",
          "type": "string"
        },
        "buyerApprovalState": {
          "enum": [
            "USER_LIST_PRICING_BUYER_APPROVAL_STATE_UNSPECIFIED",
            "PENDING",
            "APPROVED",
            "REJECTED"
          ],
          "description": "Output only. The buyer approval state of this pricing. This field is read-only.",
          "type": "string",
          "enumDescriptions": [
            "UNSPECIFIED.",
            "User list client has not yet accepted the pricing terms set by the user list owner.",
            "User list client has accepted the pricing terms set by the user list owner.",
            "User list client has rejected the pricing terms set by the user list owner."
          ],
          "readOnly": true
        },
        "costType": {
          "enum": [
            "USER_LIST_PRICING_COST_TYPE_UNSPECIFIED",
            "CPC",
            "CPM",
            "MEDIA_SHARE"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Cost per click.",
            "Cost per mille (thousand impressions).",
            "Media share."
          ],
          "type": "string",
          "description": "Immutable. The cost type of this pricing. Can be set only in the `create` operation. Can't be updated for an existing license."
        },
        "currencyCode": {
          "type": "string",
          "description": "Optional. The currency in which cost and max_cost is specified. Must be a three-letter currency code defined in ISO 4217."
        },
        "pricingId": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. The ID of this pricing.",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Optional. End time of the pricing.",
          "type": "string"
        }
      },
      "id": "UserListLicensePricing",
      "type": "object"
    },
    "IngestAudienceMembersRequest": {
      "type": "object",
      "id": "IngestAudienceMembersRequest",
      "description": "Request to upload audience members to the provided destinations. Returns an IngestAudienceMembersResponse.",
      "properties": {
        "audienceMembers": {
          "items": {
            "$ref": "AudienceMember"
          },
          "type": "array",
          "description": "Required. The list of users to send to the specified destinations. At most 10000 AudienceMember resources can be sent in a single request."
        },
        "destinations": {
          "description": "Required. The list of destinations to send the audience members to.",
          "type": "array",
          "items": {
            "$ref": "Destination"
          }
        },
        "encoding": {
          "enum": [
            "ENCODING_UNSPECIFIED",
            "HEX",
            "BASE64"
          ],
          "enumDescriptions": [
            "Unspecified Encoding type. Should never be used.",
            "Hex encoding.",
            "Base 64 encoding."
          ],
          "description": "Optional. Required for UserData uploads. The encoding type of the user identifiers. For hashed user identifiers, this is the encoding type of the hashed string. For encrypted hashed user identifiers, this is the encoding type of the outer encrypted string, but not necessarily the inner hashed string, meaning the inner hashed string could be encoded in a different way than the outer encrypted string. For non `UserData` uploads, this field is ignored.",
          "type": "string"
        },
        "termsOfService": {
          "description": "Optional. The terms of service that the user has accepted/rejected.",
          "$ref": "TermsOfService"
        },
        "consent": {
          "description": "Optional. Request-level consent to apply to all users in the request. User-level consent overrides request-level consent, and can be specified in each AudienceMember.",
          "$ref": "Consent"
        },
        "validateOnly": {
          "description": "Optional. For testing purposes. If `true`, the request is validated but not executed. Only errors are returned, not results.",
          "type": "boolean"
        },
        "encryptionInfo": {
          "$ref": "EncryptionInfo",
          "description": "Optional. Encryption information for UserData uploads. If not set, it's assumed that uploaded identifying information is hashed but not encrypted. For non `UserData` uploads, this field is ignored."
        }
      }
    },
    "SizeInfo": {
      "description": "Estimated number of members in this user list in different target networks.",
      "properties": {
        "displayNetworkMembersCount": {
          "readOnly": true,
          "description": "Output only. Estimated number of members in this user list, on the Google Display Network.",
          "format": "int64",
          "type": "string"
        },
        "gmailMembersCount": {
          "readOnly": true,
          "description": "Output only. Estimated number of members in this user list on Gmail.",
          "type": "string",
          "format": "int64"
        },
        "searchNetworkMembersCount": {
          "type": "string",
          "description": "Output only. Estimated number of members in this user list in the google.com domain. These are the members available for targeting in Search campaigns.",
          "readOnly": true,
          "format": "int64"
        },
        "youtubeMembersCount": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Estimated number of members in this user list on YouTube.",
          "format": "int64"
        }
      },
      "id": "SizeInfo",
      "type": "object"
    },
    "IngestUserDataStatus": {
      "type": "object",
      "id": "IngestUserDataStatus",
      "properties": {
        "recordCount": {
          "format": "int64",
          "description": "The total count of audience members sent in the upload request for the destination. Includes all audience members in the request, regardless of whether they were successfully ingested or not.",
          "type": "string"
        },
        "userIdentifierCount": {
          "description": "The total count of user identifiers sent in the upload request for the destination. Includes all user identifiers in the request, regardless of whether they were successfully ingested or not.",
          "format": "int64",
          "type": "string"
        },
        "uploadMatchRateRange": {
          "description": "The match rate range of the upload.",
          "type": "string",
          "enumDescriptions": [
            "The match rate range is unknown.",
            "The match rate range is not eligible.",
            "The match rate range is less than 20% (in the interval `[0, 20)`).",
            "The match rate range is between 20% and 30% (in the interval `[20, 31)`).",
            "The match rate range is between 31% and 40% (in the interval `[31, 41)`).",
            "The match rate range is between 41% and 50% (in the interval `[41, 51)`).",
            "The match rate range is between 51% and 60% (in the interval `[51, 61)`.",
            "The match rate range is between 61% and 70% (in the interval `[61, 71)`).",
            "The match rate range is between 71% and 80% (in the interval `[71, 81)`).",
            "The match rate range is between 81% and 90% (in the interval `[81, 91)`).",
            "The match rate range is between 91% and 100% (in the interval `[91, 100]`)."
          ],
          "enum": [
            "MATCH_RATE_RANGE_UNKNOWN",
            "MATCH_RATE_RANGE_NOT_ELIGIBLE",
            "MATCH_RATE_RANGE_LESS_THAN_20",
            "MATCH_RATE_RANGE_20_TO_30",
            "MATCH_RATE_RANGE_31_TO_40",
            "MATCH_RATE_RANGE_41_TO_50",
            "MATCH_RATE_RANGE_51_TO_60",
            "MATCH_RATE_RANGE_61_TO_70",
            "MATCH_RATE_RANGE_71_TO_80",
            "MATCH_RATE_RANGE_81_TO_90",
            "MATCH_RATE_RANGE_91_TO_100"
          ]
        }
      },
      "description": "The status of the user data ingestion to the destination containing stats related to the ingestion."
    },
    "Destination": {
      "description": "The Google product you're sending data to. For example, a Google Ads account.",
      "properties": {
        "operatingAccount": {
          "description": "Required. The account to send the data to or remove the data from.",
          "$ref": "ProductAccount"
        },
        "productDestinationId": {
          "type": "string",
          "description": "Optional. The object within the product account to ingest into. For example, a Google Ads audience ID, a Display & Video 360 audience ID or a Google Ads conversion action ID. This field is optional for Google Ad Manager event ingestion and User ingestion. Required for all other use cases."
        },
        "reference": {
          "description": "Optional. ID for this `Destination` resource, unique within the request. Use to reference this `Destination` in the IngestEventsRequest and IngestAudienceMembersRequest.",
          "type": "string"
        },
        "loginAccount": {
          "description": "Optional. The account used to make this API call. To add or remove data from the `operating_account`, this `login_account` must have write access to the `operating_account`. For example, a manager account of the `operating_account`, or an account with an established link to the `operating_account`.",
          "$ref": "ProductAccount"
        },
        "linkedAccount": {
          "description": "Optional. An account that the calling user's `login_account` has access to, through an established account link. For example, a data partner's `login_account` might have access to a client's `linked_account`. The partner might use this field to send data from the `linked_account` to another `operating_account`.",
          "$ref": "ProductAccount"
        }
      },
      "type": "object",
      "id": "Destination"
    },
    "UserProperties": {
      "id": "UserProperties",
      "properties": {
        "additionalUserProperties": {
          "type": "array",
          "description": "Optional. A bucket of any additional [user properties](https://developers.google.com/analytics/devguides/collection/protocol/ga4/user-properties) for the user associated with this event.",
          "items": {
            "$ref": "UserProperty"
          }
        },
        "customerValueBucket": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified CustomerValueBucket. Should never be used.",
            "The customer is low value.",
            "The customer is medium value.",
            "The customer is high value."
          ],
          "description": "Optional. The advertiser-assessed value of the customer.",
          "enum": [
            "CUSTOMER_VALUE_BUCKET_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH"
          ]
        },
        "customerType": {
          "type": "string",
          "description": "Optional. Type of the customer associated with the event.",
          "enumDescriptions": [
            "Unspecified CustomerType. Should never be used.",
            "The customer is new to the advertiser.",
            "The customer is returning to the advertiser.",
            "The customer has re-engaged with the advertiser."
          ],
          "enum": [
            "CUSTOMER_TYPE_UNSPECIFIED",
            "NEW",
            "RETURNING",
            "REENGAGED"
          ]
        }
      },
      "type": "object",
      "description": "Advertiser-assessed information about the user at the time that the event happened. See https://support.google.com/google-ads/answer/14007601 for more details."
    },
    "RemovePpidDataStatus": {
      "id": "RemovePpidDataStatus",
      "properties": {
        "recordCount": {
          "description": "The total count of audience members sent in the removal request. Includes all audience members in the request, regardless of whether they were successfully removed or not.",
          "type": "string",
          "format": "int64"
        },
        "ppidCount": {
          "type": "string",
          "description": "The total count of ppids sent in the removal request. Includes all ppids in the request, regardless of whether they were successfully removed or not.",
          "format": "int64"
        }
      },
      "description": "The status of the ppid data removal from the destination.",
      "type": "object"
    },
    "CustomVariable": {
      "type": "object",
      "description": "Custom variable for ads conversions.",
      "id": "CustomVariable",
      "properties": {
        "value": {
          "type": "string",
          "description": "Optional. The value to store for the custom variable."
        },
        "variable": {
          "description": "Optional. The name of the custom variable to set. If the variable is not found for the given destination, it will be ignored.",
          "type": "string"
        },
        "destinationReferences": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Reference string used to determine which of the Event.destination_references the custom variable should be sent to. If empty, the Event.destination_references will be used."
        }
      }
    },
    "FieldWarning": {
      "properties": {
        "field": {
          "description": "The field path that triggered the warning. Uses the same format as google.rpc.BadRequest.FieldViolation.field.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "The detailed warning message describing the issue."
        },
        "reason": {
          "description": "The warning reason.",
          "enumDescriptions": [
            "Unspecified warning reason.",
            "A custom variable in `custom_variables` is not enabled in the account.",
            "A custom variable value in `custom_variables` is not among the predefined allowed values configured for the custom variable on the destination account.",
            "The `cart_data` is not supported with `gbraid` or `wbraid`.",
            "The `merchant_product_id` is missing in the cart item.",
            "The `unit_price` is missing in the cart item.",
            "Generic warning reason for issues that do not fit into other specific categories.",
            "The `client_id` is invalid.",
            "The `subdivision_code` is invalid.",
            "The `region_code` is invalid.",
            "The `subcontinent_code` is invalid.",
            "The `continent_code` is invalid.",
            "The device `category` is invalid.",
            "The device `screen_height` or `screen_width` is invalid.",
            "The `merchant_id` is invalid."
          ],
          "enum": [
            "WARNING_REASON_UNSPECIFIED",
            "WARNING_REASON_CUSTOM_VARIABLE_NOT_ENABLED",
            "WARNING_REASON_CUSTOM_VARIABLE_NOT_PREDEFINED",
            "WARNING_REASON_CART_DATA_NOT_SUPPORTED_WITH_GBRAID_OR_WBRAID",
            "WARNING_REASON_CART_DATA_ITEM_MERCHANT_PRODUCT_ID_MISSING",
            "WARNING_REASON_CART_DATA_ITEM_UNIT_PRICE_MISSING",
            "WARNING_REASON_GENERIC",
            "WARNING_REASON_INVALID_CLIENT_ID",
            "WARNING_REASON_INVALID_SUBDIVISION_CODE",
            "WARNING_REASON_INVALID_REGION_CODE",
            "WARNING_REASON_INVALID_SUBCONTINENT_CODE",
            "WARNING_REASON_INVALID_CONTINENT_CODE",
            "WARNING_REASON_INVALID_DEVICE_CATEGORY",
            "WARNING_REASON_INVALID_DEVICE_SCREEN_RESOLUTION",
            "WARNING_REASON_INVALID_MERCHANT_ID"
          ],
          "type": "string"
        }
      },
      "description": "Detailed row-level warning with field paths.",
      "id": "FieldWarning",
      "type": "object"
    },
    "RemoveCompositeDataStatus": {
      "type": "object",
      "properties": {
        "recordCount": {
          "format": "int64",
          "description": "The total count of audience members sent in the removal request. Includes all audience members in the request, regardless of whether they were successfully removed or not.",
          "type": "string"
        },
        "dataTypeCounts": {
          "description": "The total count of data types sent in the removal request, broken down by data type. Includes all data types in the request, regardless of whether they were successfully removed or not.",
          "items": {
            "$ref": "DataTypeCount"
          },
          "type": "array"
        }
      },
      "id": "RemoveCompositeDataStatus",
      "description": "The status of the composite data removal from the destination."
    },
    "MobileData": {
      "description": "Mobile IDs for the audience. At least one mobile ID is required.",
      "properties": {
        "mobileIds": {
          "description": "Required. The list of mobile device IDs (Android advertising ID, iOS IDFA for Customer Match user lists and Android advertising ID, iOS IDFA, Xbox or Microsoft ID, Amazon Fire TV ID, Roku ID, Generic Device ID for basic user lists). At most 10 `mobileIds` can be provided in a single AudienceMember.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "MobileData",
      "type": "object"
    },
    "CartData": {
      "description": "The cart data associated with the event.",
      "properties": {
        "merchantId": {
          "type": "string",
          "description": "Optional. The Merchant Center ID associated with the items."
        },
        "merchantFeedLanguageCode": {
          "description": "Optional. The language code in ISO 639-1 associated with the Merchant Center feed of the items.where your items are uploaded.",
          "type": "string"
        },
        "couponCodes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The list of coupon codes that were applied to the cart. Cart-level and item-level coupon codes are independent. If the event is for a Google Analytics destination, only provide a single coupon code. Google Analytics ignores additional coupon codes."
        },
        "merchantFeedLabel": {
          "description": "Optional. The Merchant Center feed label associated with the feed of the items.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "Item"
          },
          "type": "array",
          "description": "Optional. The list of items associated with the event."
        },
        "transactionDiscount": {
          "description": "Optional. The sum of all discounts associated with the transaction.",
          "type": "number",
          "format": "double"
        }
      },
      "id": "CartData",
      "type": "object"
    },
    "ErrorCount": {
      "properties": {
        "recordCount": {
          "description": "The count of records that failed to upload for a given reason.",
          "type": "string",
          "format": "int64"
        },
        "reason": {
          "enum": [
            "PROCESSING_ERROR_REASON_UNSPECIFIED",
            "PROCESSING_ERROR_REASON_INVALID_CUSTOM_VARIABLE",
            "PROCESSING_ERROR_REASON_CUSTOM_VARIABLE_NOT_ENABLED",
            "PROCESSING_ERROR_REASON_EVENT_TOO_OLD",
            "PROCESSING_ERROR_REASON_DENIED_CONSENT",
            "PROCESSING_ERROR_REASON_NO_CONSENT",
            "PROCESSING_ERROR_REASON_UNKNOWN_CONSENT",
            "PROCESSING_ERROR_REASON_DUPLICATE_GCLID",
            "PROCESSING_ERROR_REASON_DUPLICATE_TRANSACTION_ID",
            "PROCESSING_ERROR_REASON_INVALID_GBRAID",
            "PROCESSING_ERROR_REASON_INVALID_GCLID",
            "PROCESSING_ERROR_REASON_INVALID_MERCHANT_ID",
            "PROCESSING_ERROR_REASON_INVALID_WBRAID",
            "PROCESSING_ERROR_REASON_INTERNAL_ERROR",
            "PROCESSING_ERROR_REASON_DESTINATION_ACCOUNT_ENHANCED_CONVERSIONS_TERMS_NOT_SIGNED",
            "PROCESSING_ERROR_REASON_INVALID_EVENT",
            "PROCESSING_ERROR_REASON_INSUFFICIENT_MATCHED_TRANSACTIONS",
            "PROCESSING_ERROR_REASON_INSUFFICIENT_TRANSACTIONS",
            "PROCESSING_ERROR_REASON_INVALID_FORMAT",
            "PROCESSING_ERROR_REASON_DECRYPTION_ERROR",
            "PROCESSING_ERROR_REASON_DEK_DECRYPTION_ERROR",
            "PROCESSING_ERROR_REASON_INVALID_WIP",
            "PROCESSING_ERROR_REASON_INVALID_KEK",
            "PROCESSING_ERROR_REASON_WIP_AUTH_FAILED",
            "PROCESSING_ERROR_REASON_KEK_PERMISSION_DENIED",
            "PROCESSING_ERROR_REASON_AWS_AUTH_FAILED",
            "PROCESSING_ERROR_REASON_USER_IDENTIFIER_DECRYPTION_ERROR",
            "PROCESSING_ERROR_OPERATING_ACCOUNT_MISMATCH_FOR_AD_IDENTIFIER",
            "PROCESSING_ERROR_REASON_ONE_PER_CLICK_CONVERSION_ACTION_NOT_PERMITTED_WITH_BRAID",
            "PROCESSING_ERROR_REASON_MATCH_ID_NOT_FOUND",
            "PROCESSING_ERROR_REASON_USER_ID_NOT_FOUND_FOR_MATCH_ID",
            "PROCESSING_ERROR_REASON_USER_ID_NOT_FOUND_FOR_GCLID",
            "PROCESSING_ERROR_REASON_USER_ID_NOT_FOUND_FOR_DCLID",
            "PROCESSING_ERROR_REASON_INVALID_AD_IDENTIFIERS",
            "PROCESSING_ERROR_REASON_INVALID_MOBILE_ID_FORMAT",
            "PROCESSING_ERROR_REASON_ORIGINAL_CONVERSIONS_NOT_FOUND",
            "PROCESSING_ERROR_REASON_EVENT_ID_DECODE_ERROR",
            "PROCESSING_ERROR_REASON_USER_ID_NOT_FOUND_FOR_IMPRESSION_ID",
            "PROCESSING_ERROR_REASON_USER_ID_NOT_FOUND",
            "PROCESSING_ERROR_REASON_CONVERSION_PRECEDES_CLICK",
            "PROCESSING_ERROR_REASON_TOO_RECENT_CLICK",
            "PROCESSING_ERROR_REASON_INVALID_CLICK",
            "PROCESSING_ERROR_REASON_INVALID_OPERATING_ACCOUNT_FOR_CLICK",
            "PROCESSING_ERROR_REASON_CLICK_NOT_FOUND",
            "PROCESSING_ERROR_REASON_EXTERNAL_ATTRIBUTION_DATA_MISSING"
          ],
          "description": "The error reason of the failed records.",
          "enumDescriptions": [
            "The processing error reason is unknown.",
            "The custom variable is invalid.",
            "The status of the custom variable is not enabled.",
            "The conversion is older than max supported age.",
            "The ad user data is denied, either by the user or in the advertiser default settings.",
            "Advertiser did not give 3P consent for the Ads core platform services.",
            "The overall consent (determined from row level consent, request level consent, and account settings) could not be determined for this user",
            "A conversion with the same GCLID and conversion time already exists in the system.",
            "A conversion with the same order id and conversion action combination was already uploaded.",
            "The gbraid could not be decoded.",
            "The google click ID could not be decoded.",
            "Merchant id contains non-digit characters.",
            "The wbraid could not be decoded.",
            "Internal error.",
            "Enhanced conversions terms are not signed in the destination account.",
            "The event is invalid.",
            "The matched transactions are less than the minimum threshold.",
            "The transactions are less than the minimum threshold.",
            "The event has format error.",
            "The event has a decryption error.",
            "The DEK failed to be decrypted.",
            "The WIP is formatted incorrectly or the WIP does not exist.",
            "The KEK cannot decrypt data because it is the wrong KEK, or it does not exist.",
            "The WIP could not be used because it was rejected by its attestation condition.",
            "The system did not have the permissions needed to access the KEK.",
            "The system failed to authenticate with AWS.",
            "Failed to decrypt the UserIdentifier data using the DEK.",
            "The user attempted to ingest events with an ad identifier that isn't from the operating account's ads.",
            "One-per-click conversion actions cannot be used with BRAIDs.",
            "The match ID can not be found.",
            "The user ID can not be found for the match ID.",
            "The user ID can not be found for the GCLID.",
            "The user ID can not be found for the DCLID.",
            "There are ad identifiers that are invalid.",
            "The mobile ID format is invalid.",
            "The original conversions can't be found.",
            "The event ID (dclid or impression ID) cannot be decoded.",
            "The user ID cannot be found for the given impression ID.",
            "The user ID cannot be found.",
            "The event timestamp on the event was earlier than the associated click.",
            "The click occurred too recently.",
            "The event can't be attributed to a click (GCLID). This may be because the click did not come from a Google Ads campaign, for example.",
            "The click from the event isn't associated with the `operating_account` of the destination.",
            "A corresponding click can't be found that matches the provided attributes.",
            "External attribution data is missing. Sending events to a destination for an external attribution conversion action isn't supported."
          ],
          "type": "string"
        }
      },
      "description": "The error count for a given error reason.",
      "id": "ErrorCount",
      "type": "object"
    },
    "IngestedUserListInfo": {
      "id": "IngestedUserListInfo",
      "description": "Represents a user list that is populated by user provided data.",
      "type": "object",
      "properties": {
[...]
