{
  "description": "Manages Hadoop-based clusters and jobs on Google Cloud Platform.",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "rootUrl": "https://dataproc.googleapis.com/",
  "ownerDomain": "google.com",
  "title": "Cloud Dataproc API",
  "protocol": "rest",
  "version": "v1",
  "name": "dataproc",
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    }
  },
  "documentationLink": "https://cloud.google.com/dataproc/",
  "fullyEncodeReservedExpansion": true,
  "basePath": "",
  "id": "dataproc:v1",
  "ownerName": "Google",
  "servicePath": "",
  "mtlsRootUrl": "https://dataproc.mtls.googleapis.com/",
  "canonicalName": "Dataproc",
  "baseUrl": "https://dataproc.googleapis.com/",
  "schemas": {
    "SearchSessionSparkApplicationExecutorsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent SearchSessionSparkApplicationExecutorsRequest.",
          "type": "string"
        },
        "sparkApplicationExecutors": {
          "type": "array",
          "items": {
            "$ref": "ExecutorSummary"
          },
          "description": "Details about executors used by the application."
        }
      },
      "id": "SearchSessionSparkApplicationExecutorsResponse",
      "description": "List of Executors associated with a Spark Application."
    },
    "InputMetrics": {
      "id": "InputMetrics",
      "description": "Metrics about the input data read by the task.",
      "type": "object",
      "properties": {
        "bytesRead": {
          "type": "string",
          "format": "int64"
        },
        "recordsRead": {
          "type": "string",
          "format": "int64"
        }
      }
    },
    "Status": {
      "description": "The Status type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by gRPC (https://github.com/grpc). Each Status message contains three pieces of data: error code, error message, and error details.You can find out more about this error model and how to work with it in the API Design Guide (https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "BatchOperationMetadata": {
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time when the operation was created."
        },
        "description": {
          "description": "Short description of the operation.",
          "type": "string"
        },
        "batch": {
          "description": "Name of the batch for the operation.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels associated with the operation."
        },
        "warnings": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Warnings encountered during operation execution."
        },
        "operationType": {
          "enumDescriptions": [
            "Batch operation type is unknown.",
            "Batch operation type."
          ],
          "enum": [
            "BATCH_OPERATION_TYPE_UNSPECIFIED",
            "BATCH"
          ],
          "type": "string",
          "description": "The operation type."
        },
        "batchUuid": {
          "description": "Batch UUID for the operation.",
          "type": "string"
        },
        "doneTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time when the operation finished."
        }
      },
      "id": "BatchOperationMetadata",
      "description": "Metadata describing the Batch operation."
    },
    "StageOutputMetrics": {
      "description": "Metrics about the output written by the stage.",
      "id": "StageOutputMetrics",
      "type": "object",
      "properties": {
        "bytesWritten": {
          "type": "string",
          "format": "int64"
        },
        "recordsWritten": {
          "format": "int64",
          "type": "string"
        }
      }
    },
    "Session": {
      "id": "Session",
      "description": "A representation of a session.",
      "type": "object",
      "properties": {
        "user": {
          "description": "Optional. The email address of the user who owns the session.",
          "type": "string"
        },
        "sparkConnectSession": {
          "description": "Optional. Spark connect session config.",
          "$ref": "SparkConnectConfig"
        },
        "stateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when the session entered the current state.",
          "readOnly": true
        },
        "sessionTemplate": {
          "description": "Optional. The session template used by the session.Only resource names, including project ID and location, are valid.Example: * https://www.googleapis.com/compute/v1/projects/[project_id]/locations/[dataproc_region]/sessionTemplates/[template_id] * projects/[project_id]/locations/[dataproc_region]/sessionTemplates/[template_id]The template must be in the same project and Dataproc region as the session.",
          "type": "string"
        },
        "runtimeConfig": {
          "$ref": "RuntimeConfig",
          "description": "Optional. Runtime configuration for the session execution."
        },
        "stateHistory": {
          "description": "Output only. Historical state information for the session.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "SessionStateHistory"
          }
        },
        "createTime": {
          "description": "Output only. The time when the session was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "Identifier. The resource name of the session.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels to associate with the session. Label keys must contain 1 to 63 characters, and must conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt). Label values may be empty, but, if present, must contain 1 to 63 characters, and must conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt). No more than 32 labels can be associated with a session."
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "The session state is unknown.",
            "The session is created prior to running.",
            "The session is running.",
            "The session is terminating.",
            "The session is terminated successfully.",
            "The session is no longer running due to an error."
          ],
          "description": "Output only. A state of the session.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "TERMINATING",
            "TERMINATED",
            "FAILED"
          ],
          "readOnly": true
        },
        "jupyterSession": {
          "$ref": "JupyterConfig",
          "description": "Optional. Jupyter session config."
        },
        "creator": {
          "description": "Output only. The email address of the user who created the session.",
          "readOnly": true,
          "type": "string"
        },
        "uuid": {
          "description": "Output only. A session UUID (Unique Universal Identifier). The service generates this value when it creates the session.",
          "readOnly": true,
          "type": "string"
        },
        "runtimeInfo": {
          "$ref": "RuntimeInfo",
          "description": "Output only. Runtime information about session execution.",
          "readOnly": true
        },
        "stateMessage": {
          "description": "Output only. Session state details, such as the failure description if the state is FAILED.",
          "readOnly": true,
          "type": "string"
        },
        "environmentConfig": {
          "$ref": "EnvironmentConfig",
          "description": "Optional. Environment configuration for the session execution."
        }
      }
    },
    "RepairClusterRequest": {
      "type": "object",
      "properties": {
        "gracefulDecommissionTimeout": {
          "description": "Optional. Timeout for graceful YARN decommissioning. Graceful decommissioning facilitates the removal of cluster nodes without interrupting jobs in progress. The timeout specifies the amount of time to wait for jobs finish before forcefully removing nodes. The default timeout is 0 for forceful decommissioning, and the maximum timeout period is 1 day. (see JSON Mapping—Duration (https://developers.google.com/protocol-buffers/docs/proto3#json)).graceful_decommission_timeout is supported in image versions 1.2+.",
          "type": "string",
          "format": "google-duration"
        },
        "dataprocSuperUser": {
          "description": "Optional. Whether the request is submitted by a super user. If true, IAM will check 'dataproc.clusters.repair' permission instead of 'dataproc.clusters.update' permission. This is to give Dataproc superuser the ability to repair clusters without granting the overly broad update permission.",
          "type": "boolean"
        },
        "clusterUuid": {
          "description": "Optional. Specifying the cluster_uuid means the RPC will fail (with error NOT_FOUND) if a cluster with the specified UUID does not exist.",
          "type": "string"
        },
        "requestId": {
          "description": "Optional. A unique ID used to identify the request. If the server receives two RepairClusterRequests with the same ID, the second request is ignored, and the first google.longrunning.Operation created and stored in the backend is returned.Recommendation: Set this value to a UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier).The ID must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters.",
          "type": "string"
        },
        "parentOperationId": {
          "description": "Optional. operation id of the parent operation sending the repair request",
          "type": "string"
        },
        "cluster": {
          "description": "Optional. Cluster to be repaired",
          "$ref": "ClusterToRepair"
        },
        "nodePools": {
          "type": "array",
          "items": {
            "$ref": "NodePool"
          },
          "description": "Optional. Node pools and corresponding repair action to be taken. All node pools should be unique in this request. i.e. Multiple entries for the same node pool id are not allowed."
        }
      },
      "description": "A request to repair a cluster.",
      "id": "RepairClusterRequest"
    },
    "StateOperatorProgress": {
      "type": "object",
      "properties": {
        "numRowsTotal": {
          "type": "string",
          "format": "int64"
        },
        "allUpdatesTimeMs": {
          "format": "int64",
          "type": "string"
        },
        "numRowsUpdated": {
          "format": "int64",
          "type": "string"
        },
        "memoryUsedBytes": {
          "format": "int64",
          "type": "string"
        },
        "numShufflePartitions": {
          "format": "int64",
          "type": "string"
        },
        "numRowsDroppedByWatermark": {
          "type": "string",
          "format": "int64"
        },
        "numStateStoreInstances": {
          "type": "string",
          "format": "int64"
        },
        "operatorName": {
          "type": "string"
        },
        "commitTimeMs": {
          "type": "string",
          "format": "int64"
        },
        "allRemovalsTimeMs": {
          "type": "string",
          "format": "int64"
        },
        "numRowsRemoved": {
          "type": "string",
          "format": "int64"
        },
        "customMetrics": {
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          },
          "type": "object"
        }
      },
      "id": "StateOperatorProgress"
    },
    "ResourceInformation": {
      "type": "object",
      "properties": {
        "addresses": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string"
        }
      },
      "id": "ResourceInformation"
    },
    "StateHistory": {
      "id": "StateHistory",
      "description": "Historical state information.",
      "type": "object",
      "properties": {
        "state": {
          "description": "Output only. The state of the batch at this point in history.",
          "enumDescriptions": [
            "The batch state is unknown.",
            "The batch is created before running.",
            "The batch is running.",
            "The batch is cancelling.",
            "The batch cancellation was successful.",
            "The batch completed successfully.",
            "The batch is no longer running due to an error."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "CANCELLING",
            "CANCELLED",
            "SUCCEEDED",
            "FAILED"
          ]
        },
        "stateStartTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the batch entered the historical state.",
          "readOnly": true
        },
        "stateMessage": {
          "type": "string",
          "description": "Output only. Details about the state at this point in history.",
          "readOnly": true
        }
      }
    },
    "PigJob": {
      "id": "PigJob",
      "description": "A Dataproc job for running Apache Pig (https://pig.apache.org/) queries on YARN.",
      "type": "object",
      "properties": {
        "queryFileUri": {
          "description": "The HCFS URI of the script that contains the Pig queries.",
          "type": "string"
        },
        "jarFileUris": {
          "description": "Optional. HCFS URIs of jar files to add to the CLASSPATH of the Pig Client and Hadoop MapReduce (MR) tasks. Can contain Pig UDFs.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "queryList": {
          "$ref": "QueryList",
          "description": "A list of queries."
        },
        "scriptVariables": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Mapping of query variable names to values (equivalent to the Pig command: name=[value])."
        },
        "loggingConfig": {
          "$ref": "LoggingConfig",
          "description": "Optional. The runtime log config for job execution."
        },
        "properties": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. A mapping of property names to values, used to configure Pig. Properties that conflict with values set by the Dataproc API might be overwritten. Can include properties set in /etc/hadoop/conf/*-site.xml, /etc/pig/conf/pig.properties, and classes in user code."
        },
        "continueOnFailure": {
          "description": "Optional. Whether to continue executing queries if a query fails. The default value is false. Setting to true can be useful when executing independent parallel queries.",
          "type": "boolean"
        }
      }
    },
    "RddPartitionInfo": {
      "type": "object",
      "properties": {
        "memoryUsed": {
          "type": "string",
          "format": "int64"
        },
        "blockName": {
          "type": "string"
        },
        "storageLevel": {
          "type": "string"
        },
        "diskUsed": {
          "type": "string",
          "format": "int64"
        },
        "executors": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Information about RDD partitions.",
      "id": "RddPartitionInfo"
    },
    "StartClusterRequest": {
      "type": "object",
      "properties": {
        "clusterUuid": {
          "description": "Optional. Specifying the cluster_uuid means the RPC will fail (with error NOT_FOUND) if a cluster with the specified UUID does not exist.",
          "type": "string"
        },
        "requestId": {
          "description": "Optional. A unique ID used to identify the request. If the server receives two StartClusterRequest (https://cloud.google.com/dataproc/docs/reference/rpc/google.cloud.dataproc.v1#google.cloud.dataproc.v1.StartClusterRequest)s with the same id, then the second request will be ignored and the first google.longrunning.Operation created and stored in the backend is returned.Recommendation: Set this value to a UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier).The ID must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters.",
          "type": "string"
        }
      },
      "description": "A request to start a cluster.",
      "id": "StartClusterRequest"
    },
    "ExecutorPeakMetricsDistributions": {
      "id": "ExecutorPeakMetricsDistributions",
      "type": "object",
      "properties": {
        "executorMetrics": {
          "type": "array",
          "items": {
            "$ref": "ExecutorMetrics"
          }
        },
        "quantiles": {
          "type": "array",
          "items": {
            "type": "number",
            "format": "double"
          }
        }
      }
    },
    "ShuffleReadQuantileMetrics": {
      "type": "object",
      "properties": {
        "remoteReqsDuration": {
          "$ref": "Quantiles"
        },
        "readBytes": {
          "$ref": "Quantiles"
        },
        "totalBlocksFetched": {
          "$ref": "Quantiles"
        },
        "readRecords": {
          "$ref": "Quantiles"
        },
        "localBlocksFetched": {
          "$ref": "Quantiles"
        },
        "remoteBytesRead": {
          "$ref": "Quantiles"
        },
        "remoteBlocksFetched": {
          "$ref": "Quantiles"
        },
        "fetchWaitTimeMillis": {
          "$ref": "Quantiles"
        },
        "remoteBytesReadToDisk": {
          "$ref": "Quantiles"
        },
        "shufflePushReadMetrics": {
          "$ref": "ShufflePushReadQuantileMetrics"
        }
      },
      "id": "ShuffleReadQuantileMetrics"
    },
    "ConsolidatedExecutorSummary": {
      "type": "object",
      "properties": {
        "diskUsed": {
          "format": "int64",
          "type": "string"
        },
        "count": {
          "format": "int32",
          "type": "integer"
        },
        "activeTasks": {
          "format": "int32",
          "type": "integer"
        },
        "totalCores": {
          "type": "integer",
          "format": "int32"
        },
        "totalDurationMillis": {
          "type": "string",
          "format": "int64"
        },
        "totalInputBytes": {
          "format": "int64",
          "type": "string"
        },
        "isExcluded": {
          "type": "integer",
          "format": "int32"
        },
        "memoryMetrics": {
          "$ref": "MemoryMetrics"
        },
        "totalShuffleRead": {
          "type": "string",
          "format": "int64"
        },
        "totalGcTimeMillis": {
          "type": "string",
          "format": "int64"
        },
        "rddBlocks": {
          "format": "int32",
          "type": "integer"
        },
        "maxMemory": {
          "format": "int64",
          "type": "string"
        },
        "memoryUsed": {
          "format": "int64",
          "type": "string"
        },
        "failedTasks": {
          "format": "int32",
          "type": "integer"
        },
        "totalShuffleWrite": {
          "type": "string",
          "format": "int64"
        },
        "completedTasks": {
          "type": "integer",
          "format": "int32"
        },
        "totalTasks": {
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "ConsolidatedExecutorSummary",
      "description": "Consolidated summary about executors used by the application."
    },
    "FlinkJob": {
      "id": "FlinkJob",
      "description": "A Dataproc job for running Apache Flink applications on YARN.",
      "type": "object",
      "properties": {
        "mainJarFileUri": {
          "description": "The HCFS URI of the jar file that contains the main class.",
          "type": "string"
        },
        "jarFileUris": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. HCFS URIs of jar files to add to the CLASSPATHs of the Flink driver and tasks."
        },
        "loggingConfig": {
          "$ref": "LoggingConfig",
          "description": "Optional. The runtime log config for job execution."
        },
        "savepointUri": {
          "description": "Optional. HCFS URI of the savepoint, which contains the last saved progress for starting the current job.",
          "type": "string"
        },
        "properties": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. A mapping of property names to values, used to configure Flink. Properties that conflict with values set by the Dataproc API might be overwritten. Can include properties set in /etc/flink/conf/flink-defaults.conf and classes in user code."
        },
        "mainClass": {
          "description": "The name of the driver's main class. The jar file that contains the class must be in the default CLASSPATH or specified in jarFileUris.",
          "type": "string"
        },
        "args": {
          "description": "Optional. The arguments to pass to the driver. Do not include arguments, such as --conf, that can be set as job properties, since a collision might occur that causes an incorrect job submission.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListSessionTemplatesResponse": {
      "id": "ListSessionTemplatesResponse",
      "description": "A list of session templates.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as page_token to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "sessionTemplates": {
          "type": "array",
          "items": {
            "$ref": "SessionTemplate"
          },
          "description": "Output only. Session template list",
          "readOnly": true
        }
      }
    },
    "AttachedDiskConfig": {
      "type": "object",
      "properties": {
        "provisionedIops": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Indicates how many IOPS to provision for the attached disk. This sets the number of I/O operations per second that the disk can handle. See https://cloud.google.com/compute/docs/disks/hyperdisks#hyperdisk-features"
        },
        "diskType": {
          "enumDescriptions": [
            "Required unspecified disk type.",
            "Hyperdisk Balanced disk type.",
            "Hyperdisk Extreme disk type.",
            "Hyperdisk ML disk type.",
            "Hyperdisk Throughput disk type."
          ],
          "enum": [
            "DISK_TYPE_UNSPECIFIED",
            "HYPERDISK_BALANCED",
            "HYPERDISK_EXTREME",
            "HYPERDISK_ML",
            "HYPERDISK_THROUGHPUT"
          ],
          "type": "string",
          "description": "Optional. Disk type."
        },
        "diskSizeGb": {
          "description": "Optional. Disk size in GB.",
          "format": "int32",
          "type": "integer"
        },
        "provisionedThroughput": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Indicates how much throughput to provision for the attached disk. This sets the number of throughput mb per second that the disk can handle. See https://cloud.google.com/compute/docs/disks/hyperdisks#hyperdisk-features"
        }
      },
      "description": "Specifies the config of attached disk options for single VM instance.",
      "id": "AttachedDiskConfig"
    },
    "SearchSparkApplicationJobsResponse": {
      "id": "SearchSparkApplicationJobsResponse",
      "description": "A list of Jobs associated with a Spark Application.",
      "type": "object",
      "properties": {
        "sparkApplicationJobs": {
          "description": "Output only. Data corresponding to a spark job.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "JobData"
          }
        },
        "nextPageToken": {
          "description": "This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent SearchSparkApplicationJobsRequest.",
          "type": "string"
        }
      }
    },
    "AnalyzeBatchRequest": {
      "description": "A request to analyze a batch workload.",
      "id": "AnalyzeBatchRequest",
      "type": "object",
      "properties": {
        "requestId": {
          "description": "Optional. A unique ID used to identify the request. If the service receives two AnalyzeBatchRequest (http://cloud/dataproc/docs/reference/rpc/google.cloud.dataproc.v1#google.cloud.dataproc.v1.AnalyzeBatchRequest)s with the same request_id, the second request is ignored and the Operation that corresponds to the first request created and stored in the backend is returned.Recommendation: Set this value to a UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier).The value must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters.",
          "type": "string"
        },
        "requestorId": {
          "description": "Optional. The requestor ID is used to identify if the request comes from a GCA investigation or the old Ask Gemini Experience. ",
          "deprecated": true,
          "type": "string"
        }
      }
    },
    "YarnApplication": {
      "description": "A YARN application created by a job. Application information is a subset of org.apache.hadoop.yarn.proto.YarnProtos.ApplicationReportProto.Beta Feature: This report is available for testing purposes only. It may be changed before final release.",
      "id": "YarnApplication",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The application name.",
          "type": "string"
        },
        "vcoreSeconds": {
          "description": "Optional. The cumulative CPU time consumed by the application for a job, measured in vcore-seconds.",
          "format": "int64",
          "type": "string"
        },
        "memoryMbSeconds": {
          "description": "Optional. The cumulative memory usage of the application for a job, measured in mb-seconds.",
          "type": "string",
          "format": "int64"
        },
        "state": {
          "description": "Required. The application state.",
          "enumDescriptions": [
            "Status is unspecified.",
            "Status is NEW.",
            "Status is NEW_SAVING.",
            "Status is SUBMITTED.",
            "Status is ACCEPTED.",
            "Status is RUNNING.",
            "Status is FINISHED.",
            "Status is FAILED.",
            "Status is KILLED."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "NEW",
            "NEW_SAVING",
            "SUBMITTED",
            "ACCEPTED",
            "RUNNING",
            "FINISHED",
            "FAILED",
            "KILLED"
          ],
          "type": "string"
        },
        "progress": {
          "format": "float",
          "type": "number",
          "description": "Required. The numerical progress of the application, from 1 to 100."
        },
        "trackingUrl": {
          "description": "Optional. The HTTP URL of the ApplicationMaster, HistoryServer, or TimelineServer that provides application-specific information. The URL uses the internal hostname, and requires a proxy server for resolution and, possibly, access.",
          "type": "string"
        }
      }
    },
    "RddDataDistribution": {
      "type": "object",
      "properties": {
        "memoryRemaining": {
          "type": "string",
          "format": "int64"
        },
        "diskUsed": {
          "format": "int64",
          "type": "string"
        },
        "onHeapMemoryUsed": {
          "format": "int64",
          "type": "string"
        },
        "onHeapMemoryRemaining": {
          "type": "string",
          "format": "int64"
        },
        "address": {
          "type": "string"
        },
        "offHeapMemoryRemaining": {
          "format": "int64",
          "type": "string"
        },
        "memoryUsed": {
          "format": "int64",
          "type": "string"
        },
        "offHeapMemoryUsed": {
          "format": "int64",
          "type": "string"
        }
      },
      "id": "RddDataDistribution",
      "description": "Details about RDD usage."
    },
    "SummarizeSparkApplicationStagesResponse": {
      "description": "Summary of a Spark Application stages.",
      "id": "SummarizeSparkApplicationStagesResponse",
      "type": "object",
      "properties": {
        "stagesSummary": {
          "$ref": "StagesSummary",
          "description": "Summary of a Spark Application Stages"
        }
      }
    },
    "GkeNodePoolTarget": {
      "id": "GkeNodePoolTarget",
      "description": "GKE node pools that Dataproc workloads run on.",
      "type": "object",
      "properties": {
        "nodePool": {
          "description": "Required. The target GKE node pool. Format: 'projects/{project}/locations/{location}/clusters/{cluster}/nodePools/{node_pool}'",
          "type": "string"
        },
        "roles": {
          "description": "Required. The roles associated with the GKE node pool.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Role is unspecified.",
              "At least one node pool must have the DEFAULT role. Work assigned to a role that is not associated with a node pool is assigned to the node pool with the DEFAULT role. For example, work assigned to the CONTROLLER role will be assigned to the node pool with the DEFAULT role if no node pool has the CONTROLLER role.",
              "Run work associated with the Dataproc control plane (for example, controllers and webhooks). Very low resource requirements.",
              "Run work associated with a Spark driver of a job.",
              "Run work associated with a Spark executor of a job."
            ],
            "enum": [
              "ROLE_UNSPECIFIED",
              "DEFAULT",
              "CONTROLLER",
              "SPARK_DRIVER",
              "SPARK_EXECUTOR"
            ],
            "type": "string"
          }
        },
        "nodePoolConfig": {
          "description": "Input only. The configuration for the GKE node pool.If specified, Dataproc attempts to create a node pool with the specified shape. If one with the same name already exists, it is verified against all specified fields. If a field differs, the virtual cluster creation will fail.If omitted, any node pool with the specified name is used. If a node pool with the specified name does not exist, Dataproc create a node pool with default values.This is an input only field. It will not be returned by the API.",
          "$ref": "GkeNodePoolConfig"
        }
      }
    },
    "ListSessionsResponse": {
      "type": "object",
      "properties": {
        "sessions": {
          "description": "Output only. The sessions from the specified collection.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Session"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as page_token, to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "A list of interactive sessions.",
      "id": "ListSessionsResponse"
    },
    "AppSummary": {
      "type": "object",
      "properties": {
        "numCompletedJobs": {
          "type": "integer",
          "format": "int32"
        },
        "numCompletedStages": {
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "AppSummary"
    },
    "SearchSessionSparkApplicationExecutorStageSummaryResponse": {
      "description": "List of Executors associated with a Spark Application Stage.",
      "id": "SearchSessionSparkApplicationExecutorStageSummaryResponse",
      "type": "object",
      "properties": {
        "sparkApplicationStageExecutors": {
          "type": "array",
          "items": {
            "$ref": "ExecutorStageSummary"
          },
          "description": "Details about executors used by the application stage."
        },
        "nextPageToken": {
          "description": "This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent SearchSessionSparkApplicationExecutorStageSummaryRequest.",
          "type": "string"
        }
      }
    },
    "WorkflowTemplatePlacement": {
      "id": "WorkflowTemplatePlacement",
      "description": "Specifies workflow execution target.Either managed_cluster or cluster_selector is required.",
      "type": "object",
      "properties": {
        "clusterSelector": {
          "$ref": "ClusterSelector",
          "description": "Optional. A selector that chooses target cluster for jobs based on metadata.The selector is evaluated at the time each job is submitted."
        },
        "managedCluster": {
          "description": "A cluster that is managed by the workflow.",
          "$ref": "ManagedCluster"
        }
      }
    },
    "ParameterValidation": {
      "id": "ParameterValidation",
      "description": "Configuration for parameter validation.",
      "type": "object",
      "properties": {
        "regex": {
          "$ref": "RegexValidation",
          "description": "Validation based on regular expressions."
        },
        "values": {
          "$ref": "ValueValidation",
          "description": "Validation based on a list of allowed values."
        }
      }
    },
    "ClusterConfig": {
      "description": "The cluster config.",
      "id": "ClusterConfig",
      "type": "object",
      "properties": {
        "endpointConfig": {
          "description": "Optional. Port/endpoint configuration for this cluster",
          "$ref": "EndpointConfig"
        },
        "workerConfig": {
          "$ref": "InstanceGroupConfig",
          "description": "Optional. The Compute Engine config settings for the cluster's worker instances."
        },
        "engine": {
          "enumDescriptions": [
            "The engine is not specified. Works the same as ENGINE_DEFAULT.",
            "The cluster is a default engine cluster.",
            "The cluster is a Lightning Engine (https://cloud.google.com/dataproc/docs/guides/lightning-engine) cluster."
          ],
          "enum": [
            "ENGINE_UNSPECIFIED",
            "DEFAULT",
            "LIGHTNING"
          ],
          "type": "string",
          "description": "Optional. The cluster engine."
        },
        "autoscalingConfig": {
          "$ref": "AutoscalingConfig",
          "description": "Optional. Autoscaling config for the policy associated with the cluster. Cluster does not autoscale if this field is unset."
        },
        "metastoreConfig": {
          "$ref": "MetastoreConfig",
          "description": "Optional. Metastore configuration."
        },
        "softwareConfig": {
          "$ref": "SoftwareConfig",
          "description": "Optional. The config settings for cluster software."
        },
        "clusterType": {
          "enumDescriptions": [
            "Not set.",
            "Standard dataproc cluster with a minimum of two primary workers.",
            "https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/single-node-clusters",
            "Clusters that can use only secondary workers and be scaled down to zero secondary worker nodes."
          ],
          "enum": [
            "CLUSTER_TYPE_UNSPECIFIED",
            "STANDARD",
            "SINGLE_NODE",
            "ZERO_SCALE"
          ],
          "type": "string",
          "description": "Optional. The type of the cluster."
        },
        "securityConfig": {
          "description": "Optional. Security settings for the cluster.",
          "$ref": "SecurityConfig"
        },
        "lifecycleConfig": {
          "description": "Optional. Lifecycle setting for the cluster.",
          "$ref": "LifecycleConfig"
        },
        "tempBucket": {
          "description": "Optional. A Cloud Storage bucket used to store ephemeral cluster and jobs data, such as Spark and MapReduce history files. If you do not specify a temp bucket, the service will determine a Cloud Storage location (US, ASIA, or EU) for your cluster's temp bucket according to the Compute Engine zone where your cluster is deployed, and then create and manage this project-level, per-location bucket. The default bucket has a TTL of 90 days, but you can use any TTL (or none) if you specify a bucket (see staging and temp buckets (https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/staging-bucket)). This field requires a Cloud Storage bucket name, not a gs://... URI to a Cloud Storage bucket.",
          "type": "string"
        },
        "diagnosticBucket": {
          "description": "Optional. A Cloud Storage bucket used to collect checkpoint diagnostic data (https://cloud.google.com/dataproc/docs/support/diagnose-clusters#checkpoint_diagnostic_data). If you do not specify a diagnostic bucket, The service will use the temp bucket to collect the checkpoint diagnostic data. This field requires a Cloud Storage bucket name, not a gs://... URI to a Cloud Storage bucket.",
          "type": "string"
        },
        "secondaryWorkerConfig": {
          "description": "Optional. The Compute Engine config settings for a cluster's secondary worker instances",
          "$ref": "InstanceGroupConfig"
        },
        "gceClusterConfig": {
          "$ref": "GceClusterConfig",
          "description": "Optional. The shared Compute Engine config settings for all instances in a cluster."
        },
        "auxiliaryNodeGroups": {
          "description": "Optional. The node group settings.",
          "type": "array",
          "items": {
            "$ref": "AuxiliaryNodeGroup"
          }
        },
        "encryptionConfig": {
          "description": "Optional. Encryption settings for the cluster.",
          "$ref": "EncryptionConfig"
        },
        "configBucket": {
          "description": "Optional. A Cloud Storage bucket used to stage job dependencies, config files, and job driver console output. If you do not specify a staging bucket, the service will determine a Cloud Storage location (US, ASIA, or EU) for your cluster's staging bucket according to the Compute Engine zone where your cluster is deployed, and then create and manage this project-level, per-location bucket (see staging and temp buckets (https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/staging-bucket)). This field requires a Cloud Storage bucket name, not a gs://... URI to a Cloud Storage bucket.",
          "type": "string"
        },
        "initializationActions": {
          "type": "array",
          "items": {
            "$ref": "NodeInitializationAction"
          },
          "description": "Optional. Commands to execute on each node after config is completed. By default, executables are run on master and all worker nodes. You can test a node's role metadata to run an executable on a master or worker node, as shown below using curl (you can also use wget): ROLE=$(curl -H Metadata-Flavor:Google http://metadata/computeMetadata/v1/instance/attributes/dataproc-role) if [[ \"${ROLE}\" == 'Master' ]]; then ... master specific actions ... else ... worker specific actions ... fi "
        },
        "masterConfig": {
          "$ref": "InstanceGroupConfig",
          "description": "Optional. The Compute Engine config settings for the cluster's master instance."
        },
        "dataprocMetricConfig": {
          "description": "Optional. The config for metrics.",
          "$ref": "DataprocMetricConfig"
        },
        "gkeClusterConfig": {
          "description": "Optional. BETA. The Kubernetes Engine config for clusters deployed to Kubernetes. These config settings are mutually exclusive with Compute Engine-based options, such as gce_cluster_config, master_config, worker_config, secondary_worker_config, and autoscaling_config.",
          "deprecated": true,
          "$ref": "GkeClusterConfig"
        },
        "clusterTier": {
          "description": "Optional. The cluster tier.",
          "enumDescriptions": [
            "Uses standard tier if unspecified.",
            "Standard cluster tier.",
            "Premium cluster tier."
          ],
          "enum": [
            "CLUSTER_TIER_UNSPECIFIED",
            "CLUSTER_TIER_STANDARD",
            "CLUSTER_TIER_PREMIUM"
          ],
          "type": "string"
        }
      }
    },
    "LifecycleConfig": {
      "id": "LifecycleConfig",
      "description": "Specifies the cluster auto-delete schedule configuration.",
      "type": "object",
      "properties": {
        "autoDeleteTtl": {
          "description": "Optional. The lifetime duration of cluster. The cluster will be auto-deleted at the end of this period. Minimum value is 10 minutes; maximum value is 14 days (see JSON representation of Duration (https://developers.google.com/protocol-buffers/docs/proto3#json)).",
          "format": "google-duration",
          "type": "string"
        },
        "idleStopTtl": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. The duration to keep the cluster started while idling (when no jobs are running). Passing this threshold will cause the cluster to be stopped. Minimum value is 5 minutes; maximum value is 14 days (see JSON representation of Duration (https://developers.google.com/protocol-buffers/docs/proto3#json))."
        },
        "idleStartTime": {
          "description": "Output only. The time when cluster became idle (most recent job finished) and became eligible for deletion due to idleness (see JSON representation of Timestamp (https://developers.google.com/protocol-buffers/docs/proto3#json)).",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "autoStopTtl": {
          "format": "google-duration",
          "type": "string",
          "description": "Optional. The lifetime duration of the cluster. The cluster will be auto-stopped at the end of this period, calculated from the time of submission of the create or update cluster request. Minimum value is 10 minutes; maximum value is 14 days (see JSON representation of Duration (https://developers.google.com/protocol-buffers/docs/proto3#json))."
        },
        "idleDeleteTtl": {
          "description": "Optional. The duration to keep the cluster alive while idling (when no jobs are running). Passing this threshold will cause the cluster to be deleted. Minimum value is 5 minutes; maximum value is 14 days (see JSON representation of Duration (https://developers.google.com/protocol-buffers/docs/proto3#json)).",
          "type": "string",
          "format": "google-duration"
        },
        "autoStopTime": {
          "description": "Optional. The time when cluster will be auto-stopped (see JSON representation of Timestamp (https://developers.google.com/protocol-buffers/docs/proto3#json)).",
          "type": "string",
          "format": "google-datetime"
        },
        "autoDeleteTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. The time when cluster will be auto-deleted (see JSON representation of Timestamp (https://developers.google.com/protocol-buffers/docs/proto3#json))."
        }
      }
    },
    "SparkSqlBatch": {
      "type": "object",
      "properties": {
        "queryVariables": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Mapping of query variable names to values (equivalent to the Spark SQL command: SET name=\"value\";)."
        },
        "queryFileUri": {
          "description": "Required. The HCFS URI of the script that contains Spark SQL queries to execute.",
          "type": "string"
        },
        "jarFileUris": {
          "description": "Optional. HCFS URIs of jar files to be added to the Spark CLASSPATH.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "SparkSqlBatch",
      "description": "A configuration for running Apache Spark SQL (https://spark.apache.org/sql/) queries as a batch workload."
    },
    "SearchSparkApplicationStageAttemptsResponse": {
      "description": "A list of Stage Attempts for a Stage of a Spark Application.",
      "id": "SearchSparkApplicationStageAttemptsResponse",
      "type": "object",
      "properties": {
        "sparkApplicationStageAttempts": {
          "description": "Output only. Data corresponding to a stage attempts",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "StageData"
          }
        },
        "nextPageToken": {
          "description": "This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent ListSparkApplicationStageAttemptsRequest.",
          "type": "string"
        }
      }
    },
    "SparkPlanGraphNodeWrapper": {
      "id": "SparkPlanGraphNodeWrapper",
      "description": "Wrapper user to represent either a node or a cluster.",
      "type": "object",
      "properties": {
        "node": {
          "$ref": "SparkPlanGraphNode"
        },
        "cluster": {
          "$ref": "SparkPlanGraphCluster"
        }
      }
    },
    "AccessSessionSparkApplicationStageRddOperationGraphResponse": {
      "id": "AccessSessionSparkApplicationStageRddOperationGraphResponse",
      "description": "RDD operation graph for a Spark Application Stage limited to maximum 10000 clusters.",
      "type": "object",
      "properties": {
        "rddOperationGraph": {
          "description": "RDD operation graph for a Spark Application Stage.",
          "$ref": "RddOperationGraph"
        }
      }
    },
    "PropertiesInfo": {
      "description": "Properties of the workload organized by origin.",
      "id": "PropertiesInfo",
      "type": "object",
      "properties": {
        "autotuningProperties": {
          "description": "Output only. Properties set by autotuning engine.",
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "$ref": "ValueInfo"
          }
        }
      }
    },
    "ListBatchesResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as page_token to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "batches": {
          "type": "array",
          "items": {
            "$ref": "Batch"
          },
          "description": "Output only. The batches from the specified collection.",
          "readOnly": true
        },
        "unreachable": {
          "description": "Output only. List of Batches that could not be included in the response. Attempting to get one of these resources may indicate why it was not included in the list response.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "A list of batch workloads.",
      "id": "ListBatchesResponse"
    },
    "StageAttemptTasksSummary": {
      "type": "object",
      "properties": {
        "numPendingTasks": {
          "format": "int32",
          "type": "integer"
        },
        "numKilledTasks": {
          "format": "int32",
          "type": "integer"
        },
        "numRunningTasks": {
          "format": "int32",
          "type": "integer"
        },
        "applicationId": {
          "type": "string"
        },
        "numFailedTasks": {
          "format": "int32",
          "type": "integer"
        },
        "numSuccessTasks": {
          "format": "int32",
          "type": "integer"
        },
        "stageAttemptId": {
          "type": "integer",
          "format": "int32"
        },
        "stageId": {
          "type": "string",
          "format": "int64"
        },
        "numTasks": {
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Data related to tasks summary for a Spark Stage Attempt",
      "id": "StageAttemptTasksSummary"
    },
    "RddOperationCluster": {
      "id": "RddOperationCluster",
      "description": "A grouping of nodes representing higher level constructs (stage, job etc.).",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "childClusters": {
          "type": "array",
          "items": {
            "$ref": "RddOperationCluster"
          }
        },
        "rddClusterId": {
          "type": "string"
        },
        "childNodes": {
          "type": "array",
          "items": {
            "$ref": "RddOperationNode"
          }
        }
      }
    },
    "Policy": {
      "id": "Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources.A Policy is a collection of bindings. A binding binds one or more members, or principals, to a single role. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A role is a named list of permissions; each role can be an IAM predefined role or a user-created custom role.For some types of Google Cloud resources, a binding can also specify a condition, which is a logical expression that allows access to a resource only if the expression evaluates to true. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies).JSON example: { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } YAML example: bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the IAM documentation (https://cloud.google.com/iam/docs/).",
      "type": "object",
      "properties": {
        "etag": {
          "description": "etag is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the etag in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An etag is returned in the response to getIamPolicy, and systems are expected to put that etag in the request to setIamPolicy to ensure that their change will be applied to the same version of the policy.Important: If you use IAM Conditions, you must include the etag field whenever you call setIamPolicy. If you omit this field, then IAM allows you to overwrite a version 3 policy with a version 1 policy, and all of the conditions in the version 3 policy are lost.",
          "type": "string",
          "format": "byte"
        },
        "version": {
          "format": "int32",
          "type": "integer",
          "description": "Specifies the format of the policy.Valid values are 0, 1, and 3. Requests that specify an invalid value are rejected.Any operation that affects conditional role bindings must specify version 3. This requirement applies to the following operations: Getting a policy that includes a conditional role binding Adding a conditional role binding to a policy Changing a conditional role binding in a policy Removing any role binding, with or without a condition, from a policy that includes conditionsImportant: If you use IAM Conditions, you must include the etag field whenever you call setIamPolicy. If you omit this field, then IAM allows you to overwrite a version 3 policy with a version 1 policy, and all of the conditions in the version 3 policy are lost.If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset.To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "bindings": {
          "description": "Associates a list of members, or principals, with a role. Optionally, may specify a condition that determines how and when the bindings are applied. Each of the bindings must contain at least one principal.The bindings in a Policy can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the bindings grant 50 different roles to user:alice@example.com, and not to any other principal, then you can add another 1,450 principals to the bindings in the Policy.",
          "type": "array",
          "items": {
            "$ref": "Binding"
          }
        }
      }
    },
    "SparkWrapperObject": {
      "type": "object",
      "properties": {
        "rddStorageInfo": {
          "$ref": "RddStorageInfo"
        },
        "sqlExecutionUiData": {
          "$ref": "SqlExecutionUiData"
        },
        "taskData": {
          "$ref": "TaskData"
        },
        "eventTimestamp": {
          "description": "VM Timestamp associated with the data object.",
          "type": "string",
          "format": "google-datetime"
        },
        "executorStageSummary": {
          "$ref": "ExecutorStageSummary"
        },
        "sparkPlanGraph": {
          "$ref": "SparkPlanGraph"
        },
        "streamingQueryProgress": {
          "$ref": "StreamingQueryProgress"
        },
        "speculationStageSummary": {
          "$ref": "SpeculationStageSummary"
        },
        "applicationId": {
          "description": "Application Id created by Spark.",
          "type": "string"
        },
        "rddOperationGraph": {
          "$ref": "RddOperationGraph"
        },
        "nativeBuildInfoUiData": {
          "description": "Native Build Info",
          "$ref": "NativeBuildInfoUiData"
        },
        "streamingQueryData": {
          "$ref": "StreamingQueryData"
        },
        "executorSummary": {
          "$ref": "ExecutorSummary"
        },
        "applicationInfo": {
          "$ref": "ApplicationInfo"
        },
        "poolData": {
          "$ref": "PoolData"
        },
        "nativeSqlExecutionUiData": {
          "$ref": "NativeSqlExecutionUiData",
          "description": "Native SQL Execution Info"
        },
        "streamBlockData": {
          "$ref": "StreamBlockData"
        },
        "resourceProfileInfo": {
          "$ref": "ResourceProfileInfo"
        },
        "sparkConnectSessionInfo": {
          "description": "Spark Connect Session Info",
          "$ref": "SparkConnectSessionInfo"
        },
        "sparkConnectExecutionInfo": {
          "description": "Spark Connect Execution Info",
          "$ref": "SparkConnectExecutionInfo"
        },
        "jobData": {
          "$ref": "JobData"
        },
        "processSummary": {
          "$ref": "ProcessSummary"
        },
        "applicationEnvironmentInfo": {
          "$ref": "ApplicationEnvironmentInfo"
        },
        "appSummary": {
          "$ref": "AppSummary"
        },
        "stageData": {
          "$ref": "StageData"
        }
      },
      "id": "SparkWrapperObject",
      "description": "Outer message that contains the data obtained from spark listener, packaged with information that is required to process it."
    },
    "ShufflePushReadQuantileMetrics": {
      "id": "ShufflePushReadQuantileMetrics",
      "type": "object",
      "properties": {
        "localMergedBytesRead": {
          "$ref": "Quantiles"
        },
        "mergedFetchFallbackCount": {
          "$ref": "Quantiles"
        },
        "localMergedBlocksFetched": {
          "$ref": "Quantiles"
        },
        "remoteMergedChunksFetched": {
          "$ref": "Quantiles"
        },
        "remoteMergedBlocksFetched": {
          "$ref": "Quantiles"
        },
        "corruptMergedBlockChunks": {
          "$ref": "Quantiles"
        },
        "remoteMergedReqsDuration": {
          "$ref": "Quantiles"
        },
        "localMergedChunksFetched": {
          "$ref": "Quantiles"
        },
        "remoteMergedBytesRead": {
          "$ref": "Quantiles"
        }
      }
    },
    "AutoscalingConfig": {
      "type": "object",
      "properties": {
        "policyUri": {
          "description": "Optional. The autoscaling policy used by the cluster.Only resource names including projectid and location (region) are valid. Examples: https://www.googleapis.com/compute/v1/projects/[project_id]/locations/[dataproc_region]/autoscalingPolicies/[policy_id] projects/[project_id]/locations/[dataproc_region]/autoscalingPolicies/[policy_id]Note that the policy must be in the same project and region.",
          "type": "string"
        }
      },
      "description": "Autoscaling Policy config associated with the cluster.",
      "id": "AutoscalingConfig"
    },
    "PrestoJob": {
      "type": "object",
      "properties": {
        "continueOnFailure": {
          "description": "Optional. Whether to continue executing queries if a query fails. The default value is false. Setting to true can be useful when executing independent parallel queries.",
          "type": "boolean"
        },
        "properties": {
          "description": "Optional. A mapping of property names to values. Used to set Presto session properties (https://prestodb.io/docs/current/sql/set-session.html) Equivalent to using the --session flag in the Presto CLI",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "outputFormat": {
          "description": "Optional. The format in which query output will be displayed. See the Presto documentation for supported output formats",
          "type": "string"
        },
        "loggingConfig": {
          "$ref": "LoggingConfig",
          "description": "Optional. The runtime log config for job execution."
        },
        "queryList": {
          "$ref": "QueryList",
          "description": "A list of queries."
        },
        "clientTags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Presto client tags to attach to this query"
        },
        "queryFileUri": {
          "description": "The HCFS URI of the script that contains SQL queries.",
          "type": "string"
        }
      },
      "id": "PrestoJob",
      "description": "A Dataproc job for running Presto (https://prestosql.io/) queries. IMPORTANT: The Dataproc Presto Optional Component (https://cloud.google.com/dataproc/docs/concepts/components/presto) must be enabled when the cluster is created to submit a Presto job to the cluster."
    },
    "InstanceGroupAutoscalingPolicyConfig": {
      "type": "object",
      "properties": {
        "minInstances": {
          "description": "Optional. Minimum number of instances for this group.Primary workers - Bounds: 2, max_instances. Default: 2. Secondary workers - Bounds: 0, max_instances. Default: 0.",
          "type": "integer",
          "format": "int32"
        },
        "maxInstances": {
          "description": "Required. Maximum number of instances for this group. Required for primary workers. Note that by default, clusters will not use secondary workers. Required for secondary workers if the minimum secondary instances is set.Primary workers - Bounds: [min_instances, ). Secondary workers - Bounds: [min_instances, ). Default: 0.",
          "type": "integer",
          "format": "int32"
        },
        "weight": {
          "description": "Optional. Weight for the instance group, which is used to determine the fraction of total workers in the cluster from this instance group. For example, if primary workers have weight 2, and secondary workers have weight 1, the cluster will have approximately 2 primary workers for each secondary worker.The cluster may not reach the specified balance if constrained by min/max bounds or other autoscaling settings. For example, if max_instances for secondary workers is 0, then only primary workers will be added. The cluster can also be out of balance when created.If weight is not set on any instance group, the cluster will default to equal weight for all groups: the cluster will attempt to maintain an equal number of workers in each group within the configured size bounds for each group. If weight is set for one group only, the cluster will default to zero weight on the unset group. For example if weight is set only on primary workers, the cluster will use primary workers only and no secondary workers.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "InstanceGroupAutoscalingPolicyConfig",
      "description": "Configuration for the size bounds of an instance group, including its proportional size to other groups."
    },
    "Job": {
      "description": "A Dataproc job resource.",
      "id": "Job",
      "type": "object",
      "properties": {
        "statusHistory": {
          "type": "array",
          "items": {
            "$ref": "JobStatus"
          },
          "description": "Output only. The previous job status.",
          "readOnly": true
        },
        "hiveJob": {
          "description": "Optional. Job is a Hive job.",
          "$ref": "HiveJob"
        },
        "sparkRJob": {
          "$ref": "SparkRJob",
          "description": "Optional. Job is a SparkR job."
        },
        "driverOutputResourceUri": {
          "description": "Output only. A URI pointing to the location of the stdout of the job's driver program.",
          "readOnly": true,
          "type": "string"
        },
        "pysparkJob": {
          "description": "Optional. Job is a PySpark job.",
          "$ref": "PySparkJob"
        },
        "prestoJob": {
          "$ref": "PrestoJob",
          "description": "Optional. Job is a Presto job."
        },
        "jobUuid": {
          "type": "string",
          "description": "Output only. A UUID that uniquely identifies a job within the project over time. This is in contrast to a user-settable reference.job_id that might be reused over time.",
          "readOnly": true
        },
        "reference": {
          "description": "Optional. The fully qualified reference to the job, which can be used to obtain the equivalent REST path of the job resource. If this property is not specified when a job is created, the server generates a job_id.",
          "$ref": "JobReference"
        },
        "flinkJob": {
          "$ref": "FlinkJob",
          "description": "Optional. Job is a Flink job."
        },
        "hadoopJob": {
          "description": "Optional. Job is a Hadoop job.",
          "$ref": "HadoopJob"
        },
        "driverControlFilesUri": {
          "type": "string",
          "description": "Output only. If present, the location of miscellaneous control files which can be used as part of job setup and handling. If not present, control files might be placed in the same location as driver_output_uri.",
          "readOnly": true
        },
        "status": {
          "description": "Output only. The job status. Additional application-specific status information might be contained in the type_job and yarn_applications fields.",
          "readOnly": true,
          "$ref": "JobStatus"
        },
        "pigJob": {
          "$ref": "PigJob",
          "description": "Optional. Job is a Pig job."
        },
        "yarnApplications": {
          "description": "Output only. The collection of YARN applications spun up by this job.Beta Feature: This report is available for testing purposes only. It might be changed before final release.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "YarnApplication"
          }
        },
        "sparkSqlJob": {
          "$ref": "SparkSqlJob",
          "description": "Optional. Job is a SparkSql job."
        },
        "done": {
          "description": "Output only. Indicates whether the job is completed. If the value is false, the job is still in progress. If true, the job is completed, and status.state field will indicate if it was successful, failed, or cancelled.",
          "readOnly": true,
          "type": "boolean"
        },
        "driverSchedulingConfig": {
          "description": "Optional. Driver scheduling configuration.",
          "$ref": "DriverSchedulingConfig"
        },
        "trinoJob": {
          "$ref": "TrinoJob",
          "description": "Optional. Job is a Trino job."
        },
        "scheduling": {
          "$ref": "JobScheduling",
          "description": "Optional. Job scheduling configuration."
        },
        "sparkJob": {
          "$ref": "SparkJob",
          "description": "Optional. Job is a Spark job."
        },
        "labels": {
          "description": "Optional. The labels to associate with this job. Label keys must contain 1 to 63 characters, and must conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt). Label values can be empty, but, if present, must contain 1 to 63 characters, and must conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt). No more than 32 labels can be associated with a job.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "placement": {
          "description": "Required. Job information, including how, when, and where to run the job.",
          "$ref": "JobPlacement"
        }
      }
    },
    "JobData": {
      "type": "object",
      "properties": {
        "numActiveTasks": {
          "type": "integer",
          "format": "int32"
        },
        "killTasksSummary": {
          "additionalProperties": {
            "format": "int32",
            "type": "integer"
          },
          "type": "object"
        },
        "numCompletedIndices": {
          "type": "integer",
          "format": "int32"
        },
        "numFailedTasks": {
          "format": "int32",
          "type": "integer"
        },
        "sqlExecutionId": {
          "type": "string",
          "format": "int64"
        },
        "numSkippedTasks": {
          "type": "integer",
          "format": "int32"
        },
        "stageIds": {
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          }
        },
        "numActiveStages": {
          "type": "integer",
          "format": "int32"
        },
        "submissionTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "numCompletedStages": {
          "type": "integer",
          "format": "int32"
        },
        "completionTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "numKilledTasks": {
          "type": "integer",
          "format": "int32"
        },
        "jobId": {
          "type": "string",
          "format": "int64"
        },
        "name": {
          "type": "string"
        },
        "jobGroup": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "numSkippedStages": {
          "format": "int32",
          "type": "integer"
        },
        "skippedStages": {
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        },
        "status": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "JOB_EXECUTION_STATUS_UNSPECIFIED",
            "JOB_EXECUTION_STATUS_RUNNING",
            "JOB_EXECUTION_STATUS_SUCCEEDED",
            "JOB_EXECUTION_STATUS_FAILED",
            "JOB_EXECUTION_STATUS_UNKNOWN"
          ],
          "type": "string"
        },
        "numTasks": {
          "format": "int32",
          "type": "integer"
        },
        "numCompletedTasks": {
          "type": "integer",
          "format": "int32"
        },
        "numFailedStages": {
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Data corresponding to a spark job.",
      "id": "JobData"
    },
    "DataprocMetricConfig": {
      "type": "object",
      "properties": {
        "metrics": {
          "type": "array",
          "items": {
            "$ref": "Metric"
          },
          "description": "Required. Metrics sources to enable."
        }
      },
      "description": "Metric config.",
      "id": "DataprocMetricConfig"
    },
    "ClusterStatus": {
      "id": "ClusterStatus",
      "description": "The status of a cluster and its instances.",
      "type": "object",
      "properties": {
        "stateStartTime": {
          "description": "Output only. Time when this state was entered (see JSON representation of Timestamp (https://developers.google.com/protocol-buffers/docs/proto3#json)).",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "The cluster state is unknown.",
            "The cluster is being created and set up. It is not ready for use.",
            "The cluster is currently running and healthy. It is ready for use.Note: The cluster state changes from \"creating\" to \"running\" status after the master node(s), first two primary worker nodes (and the last primary worker node if primary workers > 2) are running.",
            "The cluster encountered an error. It is not ready for use.",
            "The cluster has encountered an error while being updated. Jobs can be submitted to the cluster, but the cluster cannot be updated.",
            "The cluster is being deleted. It cannot be used.",
            "The cluster is being updated. It continues to accept and process jobs.",
            "The cluster is being stopped. It cannot be used.",
            "The cluster is currently stopped. It is not ready for use.",
            "The cluster is being started. It is not ready for use.",
            "The cluster is being repaired. It is not ready for use.",
            "Cluster creation is currently waiting for resources to be available. Once all resources are available, it will transition to CREATING and then RUNNING."
          ],
          "description": "Output only. The cluster's state.",
          "enum": [
            "UNKNOWN",
            "CREATING",
            "RUNNING",
            "ERROR",
            "ERROR_DUE_TO_UPDATE",
            "DELETING",
            "UPDATING",
            "STOPPING",
            "STOPPED",
            "STARTING",
            "REPAIRING",
            "SCHEDULED"
          ],
          "readOnly": true
        },
        "detail": {
          "description": "Optional. Output only. Details of cluster's state.",
          "readOnly": true,
          "type": "string"
        },
        "substate": {
          "readOnly": true,
          "enum": [
            "UNSPECIFIED",
            "UNHEALTHY",
            "STALE_STATUS"
          ],
          "description": "Output only. Additional state information that includes status reported by the agent.",
          "enumDescriptions": [
            "The cluster substate is unknown.",
            "The cluster is known to be in an unhealthy state (for example, critical daemons are not running or HDFS capacity is exhausted).Applies to RUNNING state.",
            "The agent-reported status is out of date (may occur if the service loses communication with the Agent).Applies to RUNNING state."
          ],
          "type": "string"
        }
      }
    },
    "SearchSessionSparkApplicationStagesResponse": {
      "type": "object",
      "properties": {
        "sparkApplicationStages": {
          "type": "array",
          "items": {
            "$ref": "StageData"
          },
          "description": "Output only. Data corresponding to a stage.",
          "readOnly": true
        },
        "nextPageToken": {
          "description": "This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent SearchSessionSparkApplicationStages.",
          "type": "string"
        }
      },
      "id": "SearchSessionSparkApplicationStagesResponse",
      "description": "A list of stages associated with a Spark Application."
    },
    "SubmitJobRequest": {
      "type": "object",
      "properties": {
        "requestId": {
          "description": "Optional. A unique id used to identify the request. If the server receives two SubmitJobRequest (https://cloud.google.com/dataproc/docs/reference/rpc/google.cloud.dataproc.v1#google.cloud.dataproc.v1.SubmitJobRequest)s with the same id, then the second request will be ignored and the first Job created and stored in the backend is returned.It is recommended to always set this value to a UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier).The id must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters.",
          "type": "string"
        },
        "job": {
          "description": "Required. The job resource.",
          "$ref": "Job"
        }
      },
      "description": "A request to submit a job.",
      "id": "SubmitJobRequest"
    },
    "UsageSnapshot": {
      "id": "UsageSnapshot",
      "description": "The usage snapshot represents the resources consumed by a workload at a specified time.",
      "type": "object",
      "properties": {
        "milliDcu": {
          "description": "Optional. Milli (one-thousandth) Dataproc Compute Units (DCUs) (see Dataproc Serverless pricing (https://cloud.google.com/dataproc-serverless/pricing)).",
          "format": "int64",
          "type": "string"
        },
        "shuffleStorageGb": {
          "description": "Optional. Shuffle Storage in gigabytes (GB). (see Dataproc Serverless pricing (https://cloud.google.com/dataproc-serverless/pricing))",
          "format": "int64",
          "type": "string"
        },
        "shuffleStorageGbPremium": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Shuffle Storage in gigabytes (GB) charged at premium tier. (see Dataproc Serverless pricing (https://cloud.google.com/dataproc-serverless/pricing))"
        },
        "milliAcceleratorA10080": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Milli (one-thousandth) accelerator for A100-80 accelerators. (see Dataproc Serverless pricing (https://cloud.google.com/dataproc-serverless/pricing))"
        },
        "milliAccelerator": {
          "description": "Optional. Milli (one-thousandth) accelerator. (see Dataproc Serverless pricing (https://cloud.google.com/dataproc-serverless/pricing)) Deprecated: This field is only used in runtime versions below 3.0.",
          "type": "string",
          "format": "int64"
        },
        "snapshotTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. The timestamp of the usage snapshot."
        },
        "milliDcuPremium": {
          "description": "Optional. Milli (one-thousandth) Dataproc Compute Units (DCUs) charged at premium tier (see Dataproc Serverless pricing (https://cloud.google.com/dataproc-serverless/pricing)).",
          "format": "int64",
          "type": "string"
        },
        "milliAcceleratorA10040": {
          "description": "Optional. Milli (one-thousandth) accelerator for A100-40 accelerators. (see Dataproc Serverless pricing (https://cloud.google.com/dataproc-serverless/pricing))",
          "type": "string",
          "format": "int64"
        },
        "acceleratorType": {
          "description": "Optional. Accelerator type being used, if any Deprecated: This field is only used in runtime versions below 3.0.",
          "type": "string"
        },
        "milliAcceleratorL4": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Milli (one-thousandth) accelerator for L4 accelerators. (see Dataproc Serverless pricing (https://cloud.google.com/dataproc-serverless/pricing))"
        }
      }
    },
    "SparkBatch": {
      "type": "object",
      "properties": {
        "mainClass": {
          "description": "Optional. The name of the driver main class. The jar file that contains the class must be in the classpath or specified in jar_file_uris.",
          "type": "string"
        },
        "args": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The arguments to pass to the driver. Do not include arguments that can be set as batch properties, such as --conf, since a collision can occur that causes an incorrect batch submission."
        },
        "archiveUris": {
          "description": "Optional. HCFS URIs of archives to be extracted into the working directory of each executor. Supported file types: .jar, .tar, .tar.gz, .tgz, and .zip.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "mainJarFileUri": {
          "description": "Optional. The HCFS URI of the jar file that contains the main class.",
          "type": "string"
        },
        "jarFileUris": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. HCFS URIs of jar files to add to the classpath of the Spark driver and tasks."
        },
        "fileUris": {
          "description": "Optional. HCFS URIs of files to be placed in the working directory of each executor.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "SparkBatch",
      "description": "A configuration for running an Apache Spark (https://spark.apache.org/) batch workload."
    },
    "SummarizeSparkApplicationStageAttemptTasksResponse": {
      "id": "SummarizeSparkApplicationStageAttemptTasksResponse",
      "description": "Summary of tasks for a Spark Application stage attempt.",
      "type": "object",
      "properties": {
        "stageAttemptTasksSummary": {
          "description": "Summary of tasks for a Spark Application Stage Attempt",
          "$ref": "StageAttemptTasksSummary"
        }
      }
    },
    "AccessSessionSparkApplicationSqlQueryResponse": {
      "type": "object",
      "properties": {
        "executionData": {
          "$ref": "SqlExecutionUiData",
          "description": "SQL Execution Data"
        }
      },
      "description": "Details of a query for a Spark Application",
      "id": "AccessSessionSparkApplicationSqlQueryResponse"
    },
    "SummarizeSparkApplicationExecutorsResponse": {
      "id": "SummarizeSparkApplicationExecutorsResponse",
      "description": "Consolidated summary of executors for a Spark Application.",
      "type": "object",
      "properties": {
        "applicationId": {
          "description": "Spark Application Id",
          "type": "string"
        },
        "activeExecutorSummary": {
          "description": "Consolidated summary for active executors.",
          "$ref": "ConsolidatedExecutorSummary"
        },
        "deadExecutorSummary": {
          "description": "Consolidated summary for dead executors.",
          "$ref": "ConsolidatedExecutorSummary"
        },
        "totalExecutorSummary": {
          "description": "Overall consolidated summary for all executors.",
          "$ref": "ConsolidatedExecutorSummary"
        }
      }
    },
    "PeripheralsConfig": {
      "description": "Auxiliary services configuration for a workload.",
      "id": "PeripheralsConfig",
      "type": "object",
      "properties": {
        "metastoreService": {
          "description": "Optional. Resource name of an existing Dataproc Metastore service.Example: projects/[project_id]/locations/[region]/services/[service_id]",
          "type": "string"
        },
        "sparkHistoryServerConfig": {
          "description": "Optional. The Spark History Server configuration for the workload.",
          "$ref": "SparkHistoryServerConfig"
        }
      }
    },
    "ShuffleWriteQuantileMetrics": {
      "id": "ShuffleWriteQuantileMetrics",
      "type": "object",
      "properties": {
        "writeBytes": {
          "$ref": "Quantiles"
        },
        "writeTimeNanos": {
          "$ref": "Quantiles"
        },
        "writeRecords": {
          "$ref": "Quantiles"
        }
      }
    },
    "NodePool": {
      "type": "object",
      "properties": {
        "repairAction": {
          "description": "Required. Repair action to take on specified resources of the node pool.",
          "type": "string",
          "enumDescriptions": [
            "No action will be taken by default.",
            "delete the specified list of nodes."
          ],
          "enum": [
            "REPAIR_ACTION_UNSPECIFIED",
            "DELETE"
          ]
        },
        "id": {
          "description": "Required. A unique id of the node pool. Primary and Secondary workers can be specified using special reserved ids PRIMARY_WORKER_POOL and SECONDARY_WORKER_POOL respectively. Aux node pools can be referenced using corresponding pool id.",
          "type": "string"
        },
        "instanceNames": {
          "description": "Name of instances to be repaired. These instances must belong to specified node pool.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "indicating a list of workers of same type",
      "id": "NodePool"
    },
    "GkeNodePoolAutoscalingConfig": {
      "description": "GkeNodePoolAutoscaling contains information the cluster autoscaler needs to adjust the size of the node pool to the current cluster usage.",
      "id": "GkeNodePoolAutoscalingConfig",
      "type": "object",
      "properties": {
        "minNodeCount": {
          "format": "int32",
          "type": "integer",
          "description": "The minimum number of nodes in the node pool. Must be >= 0 and <= max_node_count."
        },
        "maxNodeCount": {
          "description": "The maximum number of nodes in the node pool. Must be >= min_node_count, and must be > 0. Note: Quota must be sufficient to scale up the cluster.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "AutotuningConfig": {
      "id": "AutotuningConfig",
      "description": "Autotuning configuration of the workload.",
      "type": "object",
      "properties": {
        "scenarios": {
          "description": "Optional. Scenarios for which tunings are applied.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default value.",
              "Scaling recommendations such as initialExecutors.",
              "Adding hints for potential relation broadcasts.",
              "Memory management for workloads.",
              "No autotuning.",
              "Automatic selection of scenarios."
            ],
            "enum": [
              "SCENARIO_UNSPECIFIED",
              "SCALING",
              "BROADCAST_HASH_JOIN",
              "MEMORY",
              "NONE",
              "AUTO"
            ]
          }
        }
      }
    },
    "GetPolicyOptions": {
      "description": "Encapsulates settings provided to GetIamPolicy.",
      "id": "GetPolicyOptions",
      "type": "object",
      "properties": {
        "requestedPolicyVersion": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The maximum policy version that will be used to format the policy.Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected.Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset.The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1.To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies)."
        }
      }
    },
    "ShuffleReadMetrics": {
      "description": "Shuffle data read by the task.",
      "id": "ShuffleReadMetrics",
      "type": "object",
      "properties": {
        "remoteReqsDuration": {
          "type": "string",
          "format": "int64"
        },
        "recordsRead": {
          "format": "int64",
          "type": "string"
        },
        "localBlocksFetched": {
          "format": "int64",
          "type": "string"
        },
        "localBytesRead": {
          "type": "string",
          "format": "int64"
        },
        "remoteBytesRead": {
          "format": "int64",
          "type": "string"
        },
        "remoteBlocksFetched": {
          "format": "int64",
          "type": "string"
        },
        "fetchWaitTimeMillis": {
          "type": "string",
          "format": "int64"
        },
        "remoteBytesReadToDisk": {
          "format": "int64",
          "type": "string"
        },
        "shufflePushReadMetrics": {
          "$ref": "ShufflePushReadMetrics"
        }
      }
    },
    "KubernetesClusterConfig": {
      "id": "KubernetesClusterConfig",
      "description": "The configuration for running the Dataproc cluster on Kubernetes.",
      "type": "object",
      "properties": {
        "kubernetesSoftwareConfig": {
          "$ref": "KubernetesSoftwareConfig",
          "description": "Optional. The software configuration for this Dataproc cluster running on Kubernetes."
        },
        "kubernetesNamespace": {
          "description": "Optional. A namespace within the Kubernetes cluster to deploy into. If this namespace does not exist, it is created. If it exists, Dataproc verifies that another Dataproc VirtualCluster is not installed into it. If not specified, the name of the Dataproc Cluster is used.",
          "type": "string"
        },
        "gkeClusterConfig": {
          "description": "Required. The configuration for running the Dataproc cluster on GKE.",
          "$ref": "GkeClusterConfig"
        }
      }
    },
    "ComputeTuningConfigResponse": {
      "type": "object",
      "properties": {
        "recommendedProperties": {
          "description": "Recommended Spark properties for the query (e.g., {\"spark.sql.shuffle.partitions\": \"500\"}).",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "id": "ComputeTuningConfigResponse",
      "description": "Response for ComputeTuningConfig RPC."
    },
    "SparkStandaloneAutoscalingConfig": {
      "description": "Basic autoscaling configurations for Spark Standalone.",
      "id": "SparkStandaloneAutoscalingConfig",
      "type": "object",
      "properties": {
        "scaleDownFactor": {
          "description": "Required. Fraction of required executors to remove from Spark Serverless clusters. A scale-down factor of 1.0 will result in scaling down so that there are no more executors for the Spark Job.(more aggressive scaling). A scale-down factor closer to 0 will result in a smaller magnitude of scaling donw (less aggressive scaling).Bounds: 0.0, 1.0.",
          "type": "number",
          "format": "double"
        },
        "gracefulDecommissionTimeout": {
          "type": "string",
          "format": "google-duration",
          "description": "Required. Timeout for Spark graceful decommissioning of spark workers. Specifies the duration to wait for spark worker to complete spark decommissioning tasks before forcefully removing workers. Only applicable to downscaling operations.Bounds: 0s, 1d."
        },
        "scaleUpMinWorkerFraction": {
          "description": "Optional. Minimum scale-up threshold as a fraction of total cluster size before scaling occurs. For example, in a 20-worker cluster, a threshold of 0.1 means the autoscaler must recommend at least a 2-worker scale-up for the cluster to scale. A threshold of 0 means the autoscaler will scale up on any recommended change.Bounds: 0.0, 1.0. Default: 0.0.",
          "format": "double",
          "type": "number"
        },
        "scaleDownMinWorkerFraction": {
          "type": "number",
          "format": "double",
          "description": "Optional. Minimum scale-down threshold as a fraction of total cluster size before scaling occurs. For example, in a 20-worker cluster, a threshold of 0.1 means the autoscaler must recommend at least a 2 worker scale-down for the cluster to scale. A threshold of 0 means the autoscaler will scale down on any recommended change.Bounds: 0.0, 1.0. Default: 0.0."
        },
        "removeOnlyIdleWorkers": {
          "description": "Optional. Remove only idle workers when scaling down cluster",
          "type": "boolean"
        },
        "scaleUpFactor": {
          "format": "double",
          "type": "number",
          "description": "Required. Fraction of required workers to add to Spark Standalone clusters. A scale-up factor of 1.0 will result in scaling up so that there are no more required workers for the Spark Job (more aggressive scaling). A scale-up factor closer to 0 will result in a smaller magnitude of scaling up (less aggressive scaling).Bounds: 0.0, 1.0."
        }
      }
    },
    "Binding": {
      "id": "Binding",
      "description": "Associates members, or principals, with a role.",
      "type": "object",
      "properties": {
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. members can have the following values: allUsers: A special identifier that represents anyone who is on the internet; with or without a Google account. allAuthenticatedUsers: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. user:{emailid}: An email address that represents a specific Google account. For example, alice@example.com . serviceAccount:{emailid}: An email address that represents a Google service account. For example, my-other-app@appspot.gserviceaccount.com. serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]: An identifier for a Kubernetes service account (https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, my-project.svc.id.goog[my-namespace/my-kubernetes-sa]. group:{emailid}: An email address that represents a Google group. For example, admins@example.com. domain:{domain}: The G Suite domain (primary) that represents all the users of that domain. For example, google.com or example.com. principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}: A single identity in a workforce identity pool. principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}: All workforce identities in a group. principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}: All workforce identities with a specific attribute value. principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*: All identities in a workforce identity pool. principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}: A single identity in a workload identity pool. principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}: A workload identity pool group. principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}: All identities in a workload identity pool with a certain attribute. principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*: All identities in a workload identity pool. deleted:user:{emailid}?uid={uniqueid}: An email address (plus unique identifier) representing a user that has been recently deleted. For example, alice@example.com?uid=123456789012345678901. If the user is recovered, this value reverts to user:{emailid} and the recovered user retains the role in the binding. deleted:serviceAccount:{emailid}?uid={uniqueid}: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901. If the service account is undeleted, this value reverts to serviceAccount:{emailid} and the undeleted service account retains the role in the binding. deleted:group:{emailid}?uid={uniqueid}: An email address (plus unique identifier) representing a Google group that has been recently deleted. For 
[...]
