{
  "kind": "discovery#restDescription",
  "name": "dataform",
  "servicePath": "",
  "revision": "20260712",
  "mtlsRootUrl": "https://dataform.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "batchPath": "batch",
  "basePath": "",
  "description": "Service to develop, version control, and operationalize SQL pipelines in BigQuery.",
  "id": "dataform:v1beta1",
  "version_module": true,
  "discoveryVersion": "v1",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "get": {
              "path": "v1beta1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/bigquery",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Resource name for the location.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "Location"
              },
              "description": "Gets information about a location.",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}",
              "id": "dataform.projects.locations.get"
            },
            "updateConfig": {
              "path": "v1beta1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/bigquery",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/config",
              "id": "dataform.projects.locations.updateConfig",
              "description": "Update default config for a given project and location. **Note:** *This method does not fully implement [AIP/134](https://google.aip.dev/134). The wildcard entry (\\*) is treated as a bad request, and when the `field_mask` is omitted, the request is treated as a full update on all modifiable fields.*",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "Config"
              },
              "httpMethod": "PATCH",
              "response": {
                "$ref": "Config"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+/config$",
                  "description": "Identifier. The config name.",
                  "type": "string"
                },
                "updateMask": {
                  "description": "Optional. Specifies the fields to be updated in the config.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              }
            },
            "getConfig": {
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+/config$",
                  "description": "Required. The config name.",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "Config"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Get default config for a given project and location.",
              "id": "dataform.projects.locations.getConfig",
              "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/config",
              "scopes": [
                "https://www.googleapis.com/auth/bigquery",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta1/{+name}"
            },
            "queryUserRootContents": {
              "id": "dataform.projects.locations.queryUserRootContents",
              "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}:queryUserRootContents",
              "parameterOrder": [
                "location"
              ],
              "description": "Returns the contents of a caller's root folder in a given location. The root folder contains all resources that are created by the user and not contained in any other folder.",
              "httpMethod": "GET",
              "response": {
                "$ref": "QueryUserRootContentsResponse"
              },
              "parameters": {
                "orderBy": {
                  "description": "Optional. Field to additionally sort results by. Will order Folders before Repositories, and then by `order_by` in ascending order. Supported keywords: display_name (default), created_at, last_modified_at. Examples: * `orderBy=\"display_name\"` * `orderBy=\"display_name desc\"`",
                  "location": "query",
                  "type": "string"
                },
                "location": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Required. Location of the user root folder to list contents for. Format: projects/*/locations/*",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "Optional. Maximum number of paths to return. The server may return fewer items than requested. If unspecified, the server will pick an appropriate default.",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "Optional. Page token received from a previous `QueryUserRootContents` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `QueryUserRootFolderContents`, with the exception of `page_size`, must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "description": "Optional. Optional filtering for the returned list. Filtering is currently only supported on the `display_name` field. Example: * `filter=\"display_name=\"MyFolder\"\"`",
                  "location": "query",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/bigquery",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta1/{+location}:queryUserRootContents"
            },
            "list": {
              "path": "v1beta1/{+name}/locations",
              "scopes": [
                "https://www.googleapis.com/auth/bigquery",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "The resource that owns the locations collection, if applicable.",
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query",
                  "type": "string"
                },
                "extraLocationTypes": {
                  "repeated": true,
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/locations",
              "id": "dataform.projects.locations.list"
            }
          },
          "resources": {
            "folders": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Folder"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The Folder's name.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/folders/[^/]+$",
                      "required": true
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/folders/{foldersId}",
                  "id": "dataform.projects.locations.folders.get",
                  "description": "Fetches a single Folder.",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "deleteTree": {
                  "request": {
                    "$ref": "DeleteFolderTreeRequest"
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/folders/[^/]+$",
                      "description": "Required. The Folder's name. Format: projects/{project}/locations/{location}/folders/{folder}",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/folders/{foldersId}:deleteTree",
                  "id": "dataform.projects.locations.folders.deleteTree",
                  "description": "Deletes a Folder with its contents (Folders, Repositories, Workspaces, ReleaseConfigs, and WorkflowConfigs).",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta1/{+name}:deleteTree",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "move": {
                  "path": "v1beta1/{+name}:move",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/folders/[^/]+$",
                      "description": "Required. The full resource name of the Folder to move.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "MoveFolderRequest"
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Moves a Folder to a new Folder, TeamFolder, or the root location.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/folders/{foldersId}:move",
                  "id": "dataform.projects.locations.folders.move"
                },
                "create": {
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The location in which to create the Folder. Must be in the format `projects/*/locations/*`.",
                      "type": "string",
                      "location": "path"
                    },
                    "folderId": {
                      "deprecated": true,
                      "description": "Deprecated: This field is not used. The resource name is generated automatically. The ID to use for the Folder, which will become the final component of the Folder's resource name.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Folder"
                  },
                  "request": {
                    "$ref": "Folder"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a new Folder in a given project and location.",
                  "id": "dataform.projects.locations.folders.create",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/folders",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/{+parent}/folders"
                },
                "testIamPermissions": {
                  "parameters": {
                    "resource": {
                      "location": "path",
                      "required": true,
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/folders/[^/]+$"
                    }
                  },
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                  "parameterOrder": [
                    "resource"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/folders/{foldersId}:testIamPermissions",
                  "id": "dataform.projects.locations.folders.testIamPermissions",
                  "path": "v1beta1/{+resource}:testIamPermissions",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "queryFolderContents": {
                  "id": "dataform.projects.locations.folders.queryFolderContents",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/folders/{foldersId}:queryFolderContents",
                  "parameterOrder": [
                    "folder"
                  ],
                  "description": "Returns the contents of a given Folder.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "QueryFolderContentsResponse"
                  },
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "description": "Optional. Maximum number of paths to return. The server may return fewer items than requested. If unspecified, the server will pick an appropriate default.",
                      "location": "query",
                      "type": "integer"
                    },
                    "filter": {
                      "description": "Optional. Optional filtering for the returned list. Filtering is currently only supported on the `display_name` field. Example: * `filter=\"display_name=\"MyFolder\"\"`",
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "Optional. Page token received from a previous `QueryFolderContents` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `QueryFolderContents`, with the exception of `page_size`, must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "orderBy": {
                      "description": "Optional. Field to additionally sort results by. Will order Folders before Repositories, and then by `order_by` in ascending order. Supported keywords: display_name (default), create_time, last_modified_time. Examples: * `orderBy=\"display_name\"` * `orderBy=\"display_name desc\"`",
                      "location": "query",
                      "type": "string"
                    },
                    "folder": {
                      "location": "path",
                      "required": true,
                      "description": "Required. Resource name of the Folder to list contents for. Format: projects/*/locations/*/folders/*",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/folders/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/{+folder}:queryFolderContents"
                },
                "patch": {
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/folders/{foldersId}",
                  "id": "dataform.projects.locations.folders.patch",
                  "description": "Updates a single Folder.",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "Folder"
                  },
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "Folder"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/folders/[^/]+$",
                      "description": "Identifier. The Folder's name.",
                      "type": "string"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "description": "Optional. Specifies the fields to be updated in the Folder. If left unset, all fields that can be updated, will be updated. A few fields cannot be updated and will be ignored if specified in the update_mask (e.g. parent_name, team_folder_name).",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1beta1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "path": "v1beta1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/folders/{foldersId}",
                  "id": "dataform.projects.locations.folders.delete",
                  "description": "Deletes a single Folder.",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/folders/[^/]+$",
                      "description": "Required. The Folder's name.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  }
                },
                "getIamPolicy": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Policy"
                  },
                  "parameters": {
                    "resource": {
                      "location": "path",
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/folders/[^/]+$",
                      "required": true
                    },
                    "options.requestedPolicyVersion": {
                      "format": "int32",
                      "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                      "location": "query",
                      "type": "integer"
                    }
                  },
                  "id": "dataform.projects.locations.folders.getIamPolicy",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/folders/{foldersId}:getIamPolicy",
                  "parameterOrder": [
                    "resource"
                  ],
                  "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/{+resource}:getIamPolicy"
                },
                "setIamPolicy": {
                  "parameters": {
                    "resource": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/folders/[^/]+$",
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Policy"
                  },
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
                  "id": "dataform.projects.locations.folders.setIamPolicy",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/folders/{foldersId}:setIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/{+resource}:setIamPolicy"
                }
              }
            },
            "teamFolders": {
              "methods": {
                "deleteTree": {
                  "id": "dataform.projects.locations.teamFolders.deleteTree",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/teamFolders/{teamFoldersId}:deleteTree",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a TeamFolder with its contents (Folders, Repositories, Workspaces, ReleaseConfigs, and WorkflowConfigs).",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "DeleteTeamFolderTreeRequest"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/teamFolders/[^/]+$",
                      "description": "Required. The TeamFolder's name. Format: projects/{project}/locations/{location}/teamFolders/{team_folder}",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/{+name}:deleteTree"
                },
                "create": {
                  "parameters": {
                    "parent": {
                      "description": "Required. The location in which to create the TeamFolder. Must be in the format `projects/*/locations/*`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "teamFolderId": {
                      "deprecated": true,
                      "description": "Deprecated: This field is not used. The resource name is generated automatically. The ID to use for the TeamFolder, which will become the final component of the TeamFolder's resource name.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "TeamFolder"
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "TeamFolder"
                  },
                  "description": "Creates a new TeamFolder in a given project and location.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/teamFolders",
                  "id": "dataform.projects.locations.teamFolders.create",
                  "path": "v1beta1/{+parent}/teamFolders",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "testIamPermissions": {
                  "path": "v1beta1/{+resource}:testIamPermissions",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "parameters": {
                    "resource": {
                      "required": true,
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/teamFolders/[^/]+$",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/teamFolders/{teamFoldersId}:testIamPermissions",
                  "id": "dataform.projects.locations.teamFolders.testIamPermissions",
                  "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                  "parameterOrder": [
                    "resource"
                  ]
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/{+name}",
                  "id": "dataform.projects.locations.teamFolders.get",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/teamFolders/{teamFoldersId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Fetches a single TeamFolder.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "TeamFolder"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/teamFolders/[^/]+$",
                      "description": "Required. The TeamFolder's name.",
                      "type": "string"
                    }
                  }
                },
                "search": {
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/{+location}/teamFolders:search",
                  "parameterOrder": [
                    "location"
                  ],
                  "description": "Returns all TeamFolders in a given location that the caller has access to and match the provided filter.",
                  "id": "dataform.projects.locations.teamFolders.search",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/teamFolders:search",
                  "parameters": {
                    "pageToken": {
                      "description": "Optional. Page token received from a previous `SearchTeamFolders` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `SearchTeamFolders`, with the exception of `page_size`, must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "description": "Optional. Optional filtering for the returned list. Filtering is currently only supported on the `display_name` field. Example: * `filter=\"display_name=\"MyFolder\"\"`",
                      "location": "query",
                      "type": "string"
                    },
                    "location": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Location in which to query TeamFolders. Format: `projects/*/locations/*`.",
                      "type": "string",
                      "location": "path"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Optional. Maximum number of `TeamFolders` to return. The server may return fewer items than requested. If unspecified, the server will pick a default of `page_size` = 50.",
                      "location": "query",
                      "type": "integer"
                    },
                    "orderBy": {
                      "description": "Optional. Field to additionally sort results by. Supported keywords: `display_name` (default), `create_time`, `last_modified_time`. Examples: * `orderBy=\"display_name\"` * `orderBy=\"display_name desc\"`",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "SearchTeamFoldersResponse"
                  }
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/teamFolders/[^/]+$",
                      "description": "Required. The TeamFolder's name.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a single TeamFolder.",
                  "id": "dataform.projects.locations.teamFolders.delete",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/teamFolders/{teamFoldersId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/{+name}"
                },
                "queryContents": {
                  "path": "v1beta1/{+teamFolder}:queryContents",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "teamFolder": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/teamFolders/[^/]+$",
                      "description": "Required. Resource name of the TeamFolder to list contents for. Format: `projects/*/locations/*/teamFolders/*`.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Optional. Maximum number of paths to return. The server may return fewer items than requested. If unspecified, the server will pick an appropriate default.",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "Optional. Page token received from a previous `QueryTeamFolderContents` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `QueryTeamFolderContents`, with the exception of `page_size`, must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "description": "Optional. Optional filtering for the returned list. Filtering is currently only supported on the `display_name` field. Example: * `filter=\"display_name=\"MyFolder\"\"`",
                      "location": "query",
                      "type": "string"
                    },
                    "orderBy": {
                      "description": "Optional. Field to additionally sort results by. Will order Folders before Repositories, and then by `order_by` in ascending order. Supported keywords: `display_name` (default), `create_time`, last_modified_time. Examples: * `orderBy=\"display_name\"` * `orderBy=\"display_name desc\"`",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "QueryTeamFolderContentsResponse"
                  },
                  "description": "Returns the contents of a given TeamFolder.",
                  "parameterOrder": [
                    "teamFolder"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/teamFolders/{teamFoldersId}:queryContents",
                  "id": "dataform.projects.locations.teamFolders.queryContents"
                },
                "getIamPolicy": {
                  "path": "v1beta1/{+resource}:getIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Policy"
                  },
                  "parameters": {
                    "resource": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/teamFolders/[^/]+$",
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "type": "string",
                      "required": true
                    },
                    "options.requestedPolicyVersion": {
                      "format": "int32",
                      "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                      "location": "query",
                      "type": "integer"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/teamFolders/{teamFoldersId}:getIamPolicy",
                  "id": "dataform.projects.locations.teamFolders.getIamPolicy",
                  "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                  "parameterOrder": [
                    "resource"
                  ]
                },
                "setIamPolicy": {
                  "id": "dataform.projects.locations.teamFolders.setIamPolicy",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/teamFolders/{teamFoldersId}:setIamPolicy",
                  "parameterOrder": [
                    "resource"
                  ],
                  "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Policy"
                  },
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "parameters": {
                    "resource": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/teamFolders/[^/]+$",
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/{+resource}:setIamPolicy"
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/{+name}",
                  "id": "dataform.projects.locations.teamFolders.patch",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/teamFolders/{teamFoldersId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates a single TeamFolder.",
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "TeamFolder"
                  },
                  "request": {
                    "$ref": "TeamFolder"
                  },
                  "parameters": {
                    "name": {
                      "description": "Identifier. The TeamFolder's name.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/teamFolders/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "description": "Optional. Specifies the fields to be updated in the Folder. If left unset, all fields will be updated.",
                      "location": "query",
                      "type": "string"
                    }
                  }
                }
              }
            },
            "repositories": {
              "methods": {
                "getIamPolicy": {
                  "path": "v1beta1/{+resource}:getIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Policy"
                  },
                  "parameters": {
                    "resource": {
                      "required": true,
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                      "location": "path"
                    },
                    "options.requestedPolicyVersion": {
                      "format": "int32",
                      "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                      "location": "query",
                      "type": "integer"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}:getIamPolicy",
                  "id": "dataform.projects.locations.repositories.getIamPolicy",
                  "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                  "parameterOrder": [
                    "resource"
                  ]
                },
                "computeAccessTokenStatus": {
                  "path": "v1beta1/{+name}:computeAccessTokenStatus",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Computes a Repository's Git access token status.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}:computeAccessTokenStatus",
                  "id": "dataform.projects.locations.repositories.computeAccessTokenStatus",
                  "parameters": {
                    "name": {
                      "description": "Required. The repository's name.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ComputeRepositoryAccessTokenStatusResponse"
                  }
                },
                "move": {
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/{+name}:move",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "MoveRepositoryRequest"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. The full resource name of the repository to move.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "id": "dataform.projects.locations.repositories.move",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}:move",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Moves a Repository to a new location."
                },
                "readFile": {
                  "description": "Returns the contents of a file (inside a Repository). The Repository must not have a value for `git_remote_settings.url`.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}:readFile",
                  "id": "dataform.projects.locations.repositories.readFile",
                  "parameters": {
                    "name": {
                      "description": "Required. The repository's name.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "path": {
                      "description": "Required. Full file path to read including filename, from repository root.",
                      "location": "query",
                      "type": "string"
                    },
                    "commitSha": {
                      "description": "Optional. The commit SHA for the commit to read from. If unset, the file will be read from HEAD.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ReadRepositoryFileResponse"
                  },
                  "path": "v1beta1/{+name}:readFile",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "queryDirectoryContents": {
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/{+name}:queryDirectoryContents",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Returns the contents of a given Repository directory. The Repository must not have a value for `git_remote_settings.url`.",
                  "id": "dataform.projects.locations.repositories.queryDirectoryContents",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}:queryDirectoryContents",
                  "parameters": {
                    "path": {
                      "description": "Optional. The directory's full path including directory name, relative to root. If left unset, the root is used.",
                      "location": "query",
                      "type": "string"
                    },
                    "commitSha": {
                      "description": "Optional. The Commit SHA for the commit to query from. If unset, the directory will be queried from HEAD.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                      "description": "Required. The repository's name.",
                      "type": "string",
                      "location": "path"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Optional. Maximum number of paths to return. The server may return fewer items than requested. If unspecified, the server will pick an appropriate default.",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "Optional. Page token received from a previous `QueryRepositoryDirectoryContents` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `QueryRepositoryDirectoryContents`, with the exception of `page_size`, must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "QueryRepositoryDirectoryContentsResponse"
                  }
                },
                "fetchHistory": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Fetches a Repository's history of commits. The Repository must not have a value for `git_remote_settings.url`.",
                  "id": "dataform.projects.locations.repositories.fetchHistory",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}:fetchHistory",
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "description": "Optional. Maximum number of commits to return. The server may return fewer items than requested. If unspecified, the server will pick an appropriate default.",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "Optional. Page token received from a previous `FetchRepositoryHistory` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `FetchRepositoryHistory`, with the exception of `page_size`, must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The repository's name.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$"
                    }
                  },
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "FetchRepositoryHistoryResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/{+name}:fetchHistory"
                },
                "setIamPolicy": {
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/{+resource}:setIamPolicy",
                  "id": "dataform.projects.locations.repositories.setIamPolicy",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}:setIamPolicy",
                  "parameterOrder": [
                    "resource"
                  ],
                  "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Policy"
                  },
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  }
                },
                "delete": {
                  "parameters": {
                    "force": {
                      "description": "Optional. If set to true, child resources of this repository (compilation results and workflow invocations) will also be deleted. Otherwise, the request will only succeed if the repository has no child resources. **Note:** *This flag doesn't support deletion of workspaces, release configs or workflow configs. If any of such resources exists in the repository, the request will fail.*.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                      "description": "Required. The repository's name.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Deletes a single Repository.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}",
                  "id": "dataform.projects.locations.repositories.delete",
                  "path": "v1beta1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "patch": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Identifier. The repository's name.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                      "required": true
                    },
                    "updateMask": {
                      "description": "Optional. Specifies the fields to be updated in the repository. If left unset, all fields will be updated.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "Repository"
                  },
                  "request": {
                    "$ref": "Repository"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates a single Repository. **Note:** *This method does not fully implement [AIP/134](https://google.aip.dev/134). The wildcard entry (\\*) is treated as a bad request, and when the `field_mask` is omitted, the request is treated as a full update on all modifiable fields.*",
                  "id": "dataform.projects.locations.repositories.patch",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/{+name}"
                },
                "fetchRemoteBranches": {
                  "id": "dataform.projects.locations.repositories.fetchRemoteBranches",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}:fetchRemoteBranches",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Fetches a Repository's remote branches.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "FetchRemoteBranchesResponse"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The repository's name.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/{+name}:fetchRemoteBranches"
                },
                "commit": {
                  "path": "v1beta1/{+name}:commit",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}:commit",
                  "id": "dataform.projects.locations.repositories.commit",
                  "description": "Applies a Git commit to a Repository. The Repository must not have a value for `git_remote_settings.url`.",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "CommitRepositoryChangesRequest"
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "CommitRepositoryChangesResponse"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The repository's name.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$"
                    }
                  }
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/{+parent}/repositories",
                  "id": "dataform.projects.locations.repositories.create",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a new Repository in a given project and location.",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Repository"
                  },
                  "request": {
                    "$ref": "Repository"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The location in which to create the repository. Must be in the format `projects/*/locations/*`.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "repositoryId": {
                      "description": "Required. The ID to use for the repository, which will become the final component of the repository's resource name.",
                      "location": "query",
                      "type": "string"
                    }
                  }
                },
                "testIamPermissions": {
                  "path": "v1beta1/{+resource}:testIamPermissions",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                  "parameterOrder": [
                    "resource"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}:testIamPermissions",
                  "id": "dataform.projects.locations.repositories.testIamPermissions",
                  "parameters": {
                    "resource": {
                      "location": "path",
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  }
                },
                "list": {
                  "id": "dataform.projects.locations.repositories.list",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists Repositories in a given project and location. **Note:** *This method can return repositories not shown in the [Dataform UI](https://console.cloud.google.com/bigquery/dataform)*.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListRepositoriesResponse"
                  },
                  "parameters": {
                    "pageSize": {
                      "description": "Optional. Maximum number of repositories to return. The server may return fewer items than requested. If unspecified, the server will pick an appropriate default.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "filter": {
                      "description": "Optional. Filter for the returned list.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "Optional. Page token received from a previous `ListRepositories` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListRepositories`, with the exception of `page_size`, must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "orderBy": {
                      "description": "Optional. This field only supports ordering by `name`. If unspecified, the server will choose the ordering. If specified, the default order is ascending for the `name` field.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The location in which to list repositories. Must be in the format `projects/*/locations/*`.",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/{+parent}/repositories"
                },
                "get": {
                  "parameters": {
                    "name": {
                      "description": "Required. The repository's name.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Repository"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Fetches a single Repository.",
                  "id": "dataform.projects.locations.repositories.get",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/{+name}"
                },
                "deleteLongRunning": {
                  "path": "v1beta1/{+name}:deleteLongRunning",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "DeleteRepositoryLongRunningRequest"
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                      "description": "Required. The repository's name.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}:deleteLongRunning",
                  "id": "dataform.projects.locations.repositories.deleteLongRunning",
                  "description": "Deletes a single repository asynchronously.",
                  "parameterOrder": [
                    "name"
                  ]
                }
              },
              "resources": {
                "workflowConfigs": {
                  "methods": {
                    "create": {
                      "parameters": {
                        "workflowConfigId": {
                          "description": "Required. The ID to use for the workflow config, which will become the final component of the workflow config's resource name.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                          "description": "Required. The repository in which to create the workflow config. Must be in the format `projects/*/locations/*/repositories/*`.",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "request": {
                        "$ref": "WorkflowConfig"
                      },
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "WorkflowConfig"
                      },
                      "description": "Creates a new WorkflowConfig in a given Repository.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workflowConfigs",
                      "id": "dataform.projects.locations.repositories.workflowConfigs.create",
                      "path": "v1beta1/{+parent}/workflowConfigs",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta1/{+parent}/workflowConfigs",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Lists WorkflowConfigs in a given Repository.",
                      "id": "dataform.projects.locations.repositories.workflowConfigs.list",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workflowConfigs",
                      "parameters": {
                        "pageSize": {
                          "format": "int32",
                          "description": "Optional. Maximum number of workflow configs to return. The server may return fewer items than requested. If unspecified, the server will pick an appropriate default.",
                          "location": "query",
                          "type": "integer"
                        },
                        "parent": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                          "description": "Required. The repository in which to list workflow configs. Must be in the format `projects/*/locations/*/repositories/*`.",
                          "type": "string"
                        },
                        "pageToken": {
                          "description": "Optional. Page token received from a previous `ListWorkflowConfigs` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListWorkflowConfigs`, with the exception of `page_size`, must match the call that provided the page token.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListWorkflowConfigsResponse"
                      }
                    },
                    "delete": {
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Deletes a single WorkflowConfig.",
                      "id": "dataform.projects.locations.repositories.workflowConfigs.delete",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workflowConfigs/{workflowConfigsId}",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/workflowConfigs/[^/]+$",
                          "description": "Required. The workflow config's name.",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "httpMethod": "DELETE",
                      "response": {
                        "$ref": "Empty"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta1/{+name}"
                    },
                    "get": {
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. The workflow config's name.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/workflowConfigs/[^/]+$",
                          "location": "path"
                        }
                      },
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "WorkflowConfig"
                      },
                      "description": "Fetches a single WorkflowConfig.",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workflowConfigs/{workflowConfigsId}",
                      "id": "dataform.projects.locations.repositories.workflowConfigs.get",
                      "path": "v1beta1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "patch": {
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta1/{+name}",
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Identifier. The workflow config's name.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/workflowConfigs/[^/]+$",
                          "location": "path"
                        },
                        "updateMask": {
                          "description": "Optional. Specifies the fields to be updated in the workflow config. If left unset, all fields will be updated.",
                          "location": "query",
                          "type": "string",
                          "format": "google-fieldmask"
                        }
                      },
                      "httpMethod": "PATCH",
                      "response": {
                        "$ref": "WorkflowConfig"
                      },
                      "request": {
                        "$ref": "WorkflowConfig"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Updates a single WorkflowConfig. **Note:** *This method does not fully implement [AIP/134](https://google.aip.dev/134). The wildcard entry (\\*) is treated as a bad request, and when the `field_mask` is omitted, the request is treated as a full update on all modifiable fields.*",
                      "id": "dataform.projects.locations.repositories.workflowConfigs.patch",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workflowConfigs/{workflowConfigsId}"
                    }
                  }
                },
                "workflowInvocations": {
                  "methods": {
                    "create": {
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "WorkflowInvocation"
                      },
                      "request": {
                        "$ref": "WorkflowInvocation"
                      },
                      "parameters": {
                        "parent": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                          "description": "Required. The repository in which to create the workflow invocation. Must be in the format `projects/*/locations/*/repositories/*`.",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "id": "dataform.projects.locations.repositories.workflowInvocations.create",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workflowInvocations",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Creates a new WorkflowInvocation in a given Repository.",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta1/{+parent}/workflowInvocations"
                    },
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta1/{+parent}/workflowInvocations",
                      "id": "dataform.projects.locations.repositories.workflowInvocations.list",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workflowInvocations",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Lists WorkflowInvocations in a given Repository.",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListWorkflowInvocationsResponse"
                      },
                      "parameters": {
                        "pageSize": {
                          "format": "int32",
                          "description": "Optional. Maximum number of workflow invocations to return. The server may return fewer items than requested. If unspecified, the server will pick an appropriate default.",
                          "location": "query",
                          "type": "integer"
                        },
                        "filter": {
                          "description": "Optional. Filter for the returned list.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageToken": {
                          "description": "Optional. Page token received from a previous `ListWorkflowInvocations` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListWorkflowInvocations`, with the exception of `page_size`, must match the call that provided the page token.",
                          "location": "query",
                          "type": "string"
                        },
                        "orderBy": {
                          "description": "Optional. This field only supports ordering by `name`. If unspecified, the server will choose the ordering. If specified, the default order is ascending for the `name` field.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "required": true,
                          "description": "Required. The parent resource of the WorkflowInvocation type. Must be in the format `projects/*/locations/*/repositories/*`.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                          "location": "path"
                        }
                      }
                    },
                    "delete": {
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Deletes a single WorkflowInvocation.",
                      "id": "dataform.projects.locations.repositories.workflowInvocations.delete",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workflowInvocations/{workflowInvocationsId}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/workflowInvocations/[^/]+$",
                          "description": "Required. The workflow invocation resource's name.",
                          "type": "string",
                          "required": true
                        }
                      },
                      "httpMethod": "DELETE",
                      "response": {
                        "$ref": "Empty"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta1/{+name}"
                    },
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta1/{+name}",
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. The workflow invocation resource's name.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/workflowInvocations/[^/]+$",
                          "location": "path"
                        }
                      },
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "WorkflowInvocation"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Fetches a single WorkflowInvocation.",
                      "id": "dataform.projects.locations.repositories.workflowInvocations.get",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workflowInvocations/{workflowInvocationsId}"
                    },
                    "cancel": {
                      "path": "v1beta1/{+name}:cancel",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/workflowInvocations/[^/]+$",
                          "description": "Required. The workflow invocation resource's name.",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "request": {
                        "$ref": "CancelWorkflowInvocationRequest"
                      },
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "CancelWorkflowInvocationResponse"
                      },
                      "description": "Requests cancellation of a running WorkflowInvocation.",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workflowInvocations/{workflowInvocationsId}:cancel",
                      "id": "dataform.projects.locations.repositories.workflowInvocations.cancel"
                    },
                    "query": {
                      "path": "v1beta1/{+name}:query",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workflowInvocations/{workflowInvocationsId}:query",
                      "id": "dataform.projects.locations.repositories.workflowInvocations.query",
                      "description": "Returns WorkflowInvocationActions in a given WorkflowInvocation.",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "QueryWorkflowInvocationActionsResponse"
                      },
                      "parameters": {
                        "pageToken": {
                          "description": "Optional. Page token received from a previous `QueryWorkflowInvocationActions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `QueryWorkflowInvocationActions`, with the exception of `page_size`, must match the call that provided the page token.",
                          "location": "query",
                          "type": "string"
                        },
                        "name": {
                          "description": "Required. The workflow invocation's name.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/workflowInvocations/[^/]+$",
                          "required": true,
                          "location": "path"
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "Optional. Maximum number of workflow invocations to return. The server may return fewer items than requested. If unspecified, the server will pick an appropriate default.",
                          "location": "query",
                          "type": "integer"
                        }
                      }
                    }
                  }
                },
                "workspaces": {
                  "methods": {
                    "fetchFileGitStatuses": {
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "FetchFileGitStatusesResponse"
                      },
                      "parameters": {
                        "name": {
                          "description": "Required. The workspace's name.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/workspaces/[^/]+$",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workspaces/{workspacesId}:fetchFileGitStatuses",
                      "id": "dataform.projects.locations.repositories.workspaces.fetchFileGitStatuses",
                      "description": "Fetches Git statuses for the files in a Workspace.",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1beta1/{+name}:fetchFileGitStatuses",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "reset": {
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta1/{+name}:reset",
                      "parameters": {
                        "name": {
                          "description": "Required. The workspace's name.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/workspaces/[^/]+$",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "ResetWorkspaceChangesResponse"
                      },
                      "request": {
                        "$ref": "ResetWorkspaceChangesRequest"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Performs a Git reset for uncommitted files in a Workspace.",
                      "id": "dataform.projects.locations.repositories.workspaces.reset",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workspaces/{workspacesId}:reset"
                    },
                    "moveFile": {
                      "path": "v1beta1/{+workspace}:moveFile",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "MoveFileRequest"
                      },
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "MoveFileResponse"
                      },
                      "parameters": {
                        "workspace": {
                          "location": "path",
                          "required": true,
                          "description": "Required. The workspace's name.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/workspaces/[^/]+$"
                        }
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workspaces/{workspacesId}:moveFile",
                      "id": "dataform.projects.locations.repositories.workspaces.moveFile",
                      "description": "Moves a file (inside a Workspace) to a new location.",
                      "parameterOrder": [
                        "workspace"
                      ]
                    },
                    "setIamPolicy": {
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta1/{+resource}:setIamPolicy",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "Policy"
                      },
                      "request": {
                        "$ref": "SetIamPolicyRequest"
                      },
                      "parameters": {
                        "resource": {
                          "required": true,
                          "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/workspaces/[^/]+$",
                          "location": "path"
                        }
                      },
                      "id": "dataform.projects.locations.repositories.workspaces.setIamPolicy",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workspaces/{workspacesId}:setIamPolicy",
                      "parameterOrder": [
                        "resource"
                      ],
[...]
