{
  "description": "A unified ingestion API for data partners, agencies and advertisers to connect first-party data across Google advertising products.",
  "id": "datamanager:v1",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "name": "datamanager",
  "baseUrl": "https://datamanager.googleapis.com/",
  "servicePath": "",
  "basePath": "",
  "canonicalName": "Data Manager",
  "title": "Data Manager API",
  "fullyEncodeReservedExpansion": true,
  "mtlsRootUrl": "https://datamanager.mtls.googleapis.com/",
  "schemas": {
    "CompositeData": {
      "id": "CompositeData",
      "description": "Composite data holding identifiers and associated data for a user. At least one of `user_data` or `ip_data` is required.",
      "type": "object",
      "properties": {
        "ipData": {
          "items": {
            "$ref": "IpData"
          },
          "description": "Optional. IP address data representing customer interaction used to build the audience.",
          "type": "array"
        },
        "userData": {
          "$ref": "UserData",
          "description": "Optional. User-provided data that identifies the user."
        }
      }
    },
    "GcpWrappedKeyInfo": {
      "type": "object",
      "properties": {
        "wipProvider": {
          "type": "string",
          "description": "Required. The [Workload Identity](//cloud.google.com/iam/docs/workload-identity-federation) pool provider required to use KEK."
        },
        "keyType": {
          "enum": [
            "KEY_TYPE_UNSPECIFIED",
            "XCHACHA20_POLY1305"
          ],
          "description": "Required. The type of algorithm used to encrypt the data.",
          "enumDescriptions": [
            "Unspecified key type. Should never be used.",
            "Algorithm XChaCha20-Poly1305"
          ],
          "type": "string"
        },
        "encryptedDek": {
          "type": "string",
          "description": "Required. The base64 encoded encrypted data encryption key."
        },
        "kekUri": {
          "type": "string",
          "description": "Required. Google Cloud Platform [Cloud Key Management Service resource ID](//cloud.google.com/kms/docs/getting-resource-ids). Should be in the format of `projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{key}` or `gcp-kms://projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{key}`"
        }
      },
      "id": "GcpWrappedKeyInfo",
      "description": "Information about the Google Cloud Platform wrapped key."
    },
    "Consent": {
      "id": "Consent",
      "description": "[Digital Markets Act (DMA)](//digital-markets-act.ec.europa.eu/index_en) consent settings for the user.",
      "type": "object",
      "properties": {
        "adPersonalization": {
          "type": "string",
          "description": "Optional. Represents if the user consents to ad personalization.",
          "enumDescriptions": [
            "Not specified.",
            "Granted.",
            "Denied."
          ],
          "enum": [
            "CONSENT_STATUS_UNSPECIFIED",
            "CONSENT_GRANTED",
            "CONSENT_DENIED"
          ]
        },
        "adUserData": {
          "enum": [
            "CONSENT_STATUS_UNSPECIFIED",
            "CONSENT_GRANTED",
            "CONSENT_DENIED"
          ],
          "description": "Optional. Represents if the user consents to ad user data.",
          "enumDescriptions": [
            "Not specified.",
            "Granted.",
            "Denied."
          ],
          "type": "string"
        }
      }
    },
    "RemovePpidDataStatus": {
      "type": "object",
      "properties": {
        "recordCount": {
          "description": "The total count of audience members sent in the removal request. Includes all audience members in the request, regardless of whether they were successfully removed or not.",
          "type": "string",
          "format": "int64"
        },
        "ppidCount": {
          "type": "string",
          "description": "The total count of ppids sent in the removal request. Includes all ppids in the request, regardless of whether they were successfully removed or not.",
          "format": "int64"
        }
      },
      "id": "RemovePpidDataStatus",
      "description": "The status of the ppid data removal from the destination."
    },
    "EventParameter": {
      "type": "object",
      "properties": {
        "parameterName": {
          "description": "Required. The name of the parameter to use.",
          "type": "string"
        },
        "value": {
          "description": "Required. The string representation of the value of the parameter to set.",
          "type": "string"
        }
      },
      "id": "EventParameter",
      "description": "Event parameter for GA4 events."
    },
    "IngestAudienceMembersStatus": {
      "id": "IngestAudienceMembersStatus",
      "description": "The status of the ingest audience members request.",
      "type": "object",
      "properties": {
        "ppidDataIngestionStatus": {
          "description": "The status of the ppid data ingestion to the destination.",
          "$ref": "IngestPpidDataStatus"
        },
        "compositeDataIngestionStatus": {
          "description": "The status of the composite data ingestion to the destination.",
          "$ref": "IngestCompositeDataStatus"
        },
        "mobileDataIngestionStatus": {
          "$ref": "IngestMobileDataStatus",
          "description": "The status of the mobile data ingestion to the destination."
        },
        "pairDataIngestionStatus": {
          "description": "The status of the pair data ingestion to the destination.",
          "$ref": "IngestPairDataStatus"
        },
        "userDataIngestionStatus": {
          "description": "The status of the user data ingestion to the destination.",
          "$ref": "IngestUserDataStatus"
        },
        "userIdDataIngestionStatus": {
          "description": "The status of the user id data ingestion to the destination.",
          "$ref": "IngestUserIdDataStatus"
        }
      }
    },
    "UserListLicensePricing": {
      "id": "UserListLicensePricing",
      "description": "A user list license pricing.",
      "type": "object",
      "properties": {
        "costMicros": {
          "format": "int64",
          "type": "string",
          "description": "Optional. The cost associated with the model, in micro units (10^-6), in the currency specified by the currency_code field. For example, 2000000 means $2 if `currency_code` is `USD`."
        },
        "startTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Start time of the pricing."
        },
        "endTime": {
          "description": "Optional. End time of the pricing.",
          "type": "string",
          "format": "google-datetime"
        },
        "maxCostMicros": {
          "format": "int64",
          "description": "Optional. The maximum CPM a commerce audience can be charged when the MEDIA_SHARE cost type is used. The value is in micro units (10^-6) and in the currency specified by the currency_code field. For example, 2000000 means $2 if `currency_code` is `USD`. This is only relevant when cost_type is MEDIA_SHARE. When cost_type is not MEDIA_SHARE, and this field is set, a MAX_COST_NOT_ALLOWED error will be returned. If not set or set to`0`, there is no cap.",
          "type": "string"
        },
        "pricingId": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. The ID of this pricing.",
          "type": "string"
        },
        "buyerApprovalState": {
          "description": "Output only. The buyer approval state of this pricing. This field is read-only.",
          "enumDescriptions": [
            "UNSPECIFIED.",
            "User list client has not yet accepted the pricing terms set by the user list owner.",
            "User list client has accepted the pricing terms set by the user list owner.",
            "User list client has rejected the pricing terms set by the user list owner."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "USER_LIST_PRICING_BUYER_APPROVAL_STATE_UNSPECIFIED",
            "PENDING",
            "APPROVED",
            "REJECTED"
          ]
        },
        "costType": {
          "enum": [
            "USER_LIST_PRICING_COST_TYPE_UNSPECIFIED",
            "CPC",
            "CPM",
            "MEDIA_SHARE"
          ],
          "type": "string",
          "description": "Immutable. The cost type of this pricing. Can be set only in the `create` operation. Can't be updated for an existing license.",
          "enumDescriptions": [
            "Unspecified.",
            "Cost per click.",
            "Cost per mille (thousand impressions).",
            "Media share."
          ]
        },
        "currencyCode": {
          "description": "Optional. The currency in which cost and max_cost is specified. Must be a three-letter currency code defined in ISO 4217.",
          "type": "string"
        },
        "pricingActive": {
          "description": "Output only. Whether this pricing is active.",
          "type": "boolean",
          "readOnly": true
        }
      }
    },
    "ProductAccount": {
      "type": "object",
      "properties": {
        "product": {
          "description": "Deprecated. Use `account_type` instead.",
          "enumDescriptions": [
            "Unspecified product. Should never be used.",
            "Google Ads.",
            "Display & Video 360 partner.",
            "Display & Video 360 advertiser.",
            "Data Partner."
          ],
          "type": "string",
          "deprecated": true,
          "enum": [
            "PRODUCT_UNSPECIFIED",
            "GOOGLE_ADS",
            "DISPLAY_VIDEO_PARTNER",
            "DISPLAY_VIDEO_ADVERTISER",
            "DATA_PARTNER"
          ]
        },
        "accountId": {
          "description": "Required. The ID of the account. For example, your Google Ads account ID.",
          "type": "string"
        },
        "accountType": {
          "enum": [
            "ACCOUNT_TYPE_UNSPECIFIED",
            "GOOGLE_ADS",
            "DISPLAY_VIDEO_PARTNER",
            "DISPLAY_VIDEO_ADVERTISER",
            "DATA_PARTNER",
            "GOOGLE_ANALYTICS_PROPERTY",
            "GOOGLE_AD_MANAGER_AUDIENCE_LINK",
            "FLOODLIGHT_CONFIG"
          ],
          "type": "string",
          "description": "Required. The type of the account. For example, `GOOGLE_ADS`. Either `account_type` or the deprecated `product` is required. If both are set, the values must match.",
          "enumDescriptions": [
            "Unspecified product. Should never be used.",
            "Google Ads.",
            "Display & Video 360 partner.",
            "Display & Video 360 advertiser.",
            "Data Partner.",
            "Google Analytics.",
            "Google Ad Manager audience link.",
            "Floodlight configuration."
          ]
        }
      },
      "id": "ProductAccount",
      "description": "Represents a specific account."
    },
    "IngestUserIdDataStatus": {
      "id": "IngestUserIdDataStatus",
      "description": "The status of the user id data ingestion to the destination containing stats related to the ingestion.",
      "type": "object",
      "properties": {
        "recordCount": {
          "format": "int64",
          "type": "string",
          "description": "The total count of audience members sent in the upload request for the destination. Includes all audience members in the request, regardless of whether they were successfully ingested or not."
        },
        "userIdCount": {
          "description": "The total count of user ids sent in the upload request for the destination. Includes all user ids in the request, regardless of whether they were successfully ingested or not.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "RemoveAudienceMembersRequest": {
      "id": "RemoveAudienceMembersRequest",
      "description": "Request to remove users from an audience in the provided destinations. Returns a RemoveAudienceMembersResponse.",
      "type": "object",
      "properties": {
        "validateOnly": {
          "description": "Optional. For testing purposes. If `true`, the request is validated but not executed. Only errors are returned, not results.",
          "type": "boolean"
        },
        "encoding": {
          "enum": [
            "ENCODING_UNSPECIFIED",
            "HEX",
            "BASE64"
          ],
          "type": "string",
          "description": "Optional. Required for UserData uploads. The encoding type of the user identifiers. Applies to only the outer encoding for encrypted user identifiers. For non `UserData` uploads, this field is ignored.",
          "enumDescriptions": [
            "Unspecified Encoding type. Should never be used.",
            "Hex encoding.",
            "Base 64 encoding."
          ]
        },
        "audienceMembers": {
          "type": "array",
          "description": "Required. The list of users to remove.",
          "items": {
            "$ref": "AudienceMember"
          }
        },
        "destinations": {
          "items": {
            "$ref": "Destination"
          },
          "description": "Required. The list of destinations to remove the users from.",
          "type": "array"
        },
        "encryptionInfo": {
          "$ref": "EncryptionInfo",
          "description": "Optional. Encryption information for UserData uploads. If not set, it's assumed that uploaded identifying information is hashed but not encrypted. For non `UserData` uploads, this field is ignored."
        }
      }
    },
    "ListUserListDirectLicensesResponse": {
      "type": "object",
      "properties": {
        "userListDirectLicenses": {
          "type": "array",
          "description": "The licenses for the given user list in the request.",
          "items": {
            "$ref": "UserListDirectLicense"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "ListUserListDirectLicensesResponse",
      "description": "Response from the ListUserListDirectLicensesRequest."
    },
    "AdEvent": {
      "type": "object",
      "properties": {
        "adFormat": {
          "enum": [
            "AD_FORMAT_UNSPECIFIED",
            "AD_FORMAT_AR",
            "AD_FORMAT_AUDIO",
            "AD_FORMAT_BANNER",
            "AD_FORMAT_BUMPER",
            "AD_FORMAT_CAROUSEL",
            "AD_FORMAT_COLLECTION",
            "AD_FORMAT_IMAGE",
            "AD_FORMAT_INTERACTIVE",
            "AD_FORMAT_INTERSTITIAL",
            "AD_FORMAT_IN_FEED",
            "AD_FORMAT_IN_STREAM",
            "AD_FORMAT_IN_STREAM_SKIPPABLE",
            "AD_FORMAT_IN_STREAM_NON_SKIPPABLE",
            "AD_FORMAT_NATIVE",
            "AD_FORMAT_SHORTS",
            "AD_FORMAT_STORY",
            "AD_FORMAT_SPONSORED",
            "AD_FORMAT_VIDEO"
          ],
          "description": "Enum value for ad format.",
          "enumDescriptions": [
            "Unspecified ad format.",
            "AR ad.",
            "Audio ad.",
            "Banner ad.",
            "Bumper ad.",
            "Carousel ad.",
            "Collection ad.",
            "Image ad.",
            "Interactive ad.",
            "Interstitial ad.",
            "In-feed ad.",
            "In-stream ad.",
            "In-stream skippable ad.",
            "In-stream non-skippable ad.",
            "Native ad.",
            "Shorts ad.",
            "Story ad.",
            "Sponsored ad.",
            "Video ad."
          ],
          "type": "string"
        },
        "viewabilityInfo": {
          "$ref": "ViewabilityInfo",
          "description": "Required. Details of the viewability of the ad served."
        },
        "targetingTypeString": {
          "type": "string",
          "description": "String value for targeting type."
        },
        "timestamp": {
          "type": "string",
          "description": "Required. The time the event occurred.",
          "format": "google-datetime"
        },
        "eventId": {
          "type": "string",
          "description": "Optional. An ID created and managed by the caller that uniquely identifies this event. Required if you want to deduplicate ad events that are included in multiple requests. Otherwise, this field is optional."
        },
        "adGroupId": {
          "description": "Optional. The ID of the associated ad group.",
          "type": "string"
        },
        "measurementAllowed": {
          "description": "Optional. Represents if the row is allowed to be used for measurement purposes, as governed by applicable privacy laws within regional jurisdiction.",
          "type": "boolean"
        },
        "platform": {
          "type": "string",
          "description": "Enum value for platform.",
          "enumDescriptions": [
            "Unspecified platform.",
            "iOS platform.",
            "Android platform.",
            "Web platform."
          ],
          "enum": [
            "PLATFORM_UNSPECIFIED",
            "PLATFORM_IOS",
            "PLATFORM_ANDROID",
            "PLATFORM_WEB"
          ]
        },
        "deviceInfo": {
          "$ref": "DeviceInfo",
          "description": "Optional. Information gathered about the device being used when the ad event happened."
        },
        "mobileDeviceId": {
          "description": "Optional. The device ID of the device that the ad was served to.",
          "type": "string"
        },
        "eventType": {
          "type": "string",
          "description": "Required. The type of the event.",
          "enumDescriptions": [
            "Unspecified event type.",
            "View event.",
            "Click event."
          ],
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "EVENT_TYPE_VIEW",
            "EVENT_TYPE_CLICK"
          ]
        },
        "adTypeString": {
          "type": "string",
          "description": "String value for ad type."
        },
        "adType": {
          "enum": [
            "AD_TYPE_UNSPECIFIED",
            "AD_TYPE_DISPLAY",
            "AD_TYPE_TEXT",
            "AD_TYPE_IMAGE",
            "AD_TYPE_RICH_MEDIA",
            "AD_TYPE_HTML",
            "AD_TYPE_AUDIO",
            "AD_TYPE_VIDEO"
          ],
          "type": "string",
          "description": "Enum value for ad type.",
          "enumDescriptions": [
            "Unspecified ad type.",
            "Display ad.",
            "Text ad.",
            "Image ad.",
            "Rich media ad.",
            "HTML ad.",
            "Audio ad.",
            "Video ad."
          ]
        },
        "adPlacement": {
          "description": "Enum value for ad placement.",
          "enumDescriptions": [
            "Unspecified ad placement.",
            "Discover placement.",
            "Feed placement.",
            "Footer placement.",
            "Header placement.",
            "Home placement.",
            "In-content placement.",
            "Promoted placement.",
            "Search placement.",
            "Story placement."
          ],
          "type": "string",
          "enum": [
            "AD_PLACEMENT_UNSPECIFIED",
            "AD_PLACEMENT_DISCOVER",
            "AD_PLACEMENT_FEED",
            "AD_PLACEMENT_FOOTER",
            "AD_PLACEMENT_HEADER",
            "AD_PLACEMENT_HOME",
            "AD_PLACEMENT_IN_CONTENT",
            "AD_PLACEMENT_PROMOTED",
            "AD_PLACEMENT_SEARCH",
            "AD_PLACEMENT_STORY"
          ]
        },
        "adPlacementString": {
          "type": "string",
          "description": "String value for ad placement."
        },
        "medium": {
          "type": "string",
          "description": "Required. The medium of the ad, akin to the Google Analytics medium."
        },
        "targetingType": {
          "type": "string",
          "description": "Enum value for targeting type.",
          "enumDescriptions": [
            "Unspecified targeting type.",
            "Audience targeting.",
            "Contextual targeting.",
            "Demographic targeting.",
            "Device targeting.",
            "Geo targeting.",
            "Interest targeting.",
            "Purchase intent targeting.",
            "Remarketing targeting."
          ],
          "enum": [
            "TARGETING_TYPE_UNSPECIFIED",
            "TARGETING_TYPE_AUDIENCE",
            "TARGETING_TYPE_CONTEXTUAL",
            "TARGETING_TYPE_DEMOGRAPHIC",
            "TARGETING_TYPE_DEVICE",
            "TARGETING_TYPE_GEO",
            "TARGETING_TYPE_INTEREST",
            "TARGETING_TYPE_PURCHASE_INTENT",
            "TARGETING_TYPE_REMARKETING"
          ]
        },
        "platformString": {
          "type": "string",
          "description": "String value for platform."
        },
        "adFormatString": {
          "type": "string",
          "description": "String value for ad format."
        },
        "eventSubtypeString": {
          "description": "String value for event subtype.",
          "type": "string"
        },
        "platformType": {
          "type": "string",
          "description": "Enum value for platform type.",
          "enumDescriptions": [
            "Unspecified platform type.",
            "Mobile platform.",
            "Desktop platform.",
            "CTV platform.",
            "Phone platform.",
            "Tablet platform."
          ],
          "enum": [
            "PLATFORM_TYPE_UNSPECIFIED",
            "PLATFORM_TYPE_MOBILE",
            "PLATFORM_TYPE_DESKTOP",
            "PLATFORM_TYPE_CTV",
            "PLATFORM_TYPE_PHONE",
            "PLATFORM_TYPE_TABLET"
          ]
        },
        "attributionHint": {
          "type": "string",
          "description": "Optional. The partner-assumed attribution status for this ad event. This acts only as a signal for how the partner assumed attribution played out, and does not force an end result in final reports.",
          "enumDescriptions": [
            "Unknown attribution status.",
            "Converted status.",
            "Not converted status."
          ],
          "enum": [
            "ATTRIBUTION_HINT_UNSPECIFIED",
            "ATTRIBUTION_HINT_CONVERTED",
            "ATTRIBUTION_HINT_NOT_CONVERTED"
          ]
        },
        "platformTypeString": {
          "description": "String value for platform type.",
          "type": "string"
        },
        "adId": {
          "description": "Optional. The ID of the associated ad within the group.",
          "type": "string"
        },
        "userData": {
          "$ref": "UserData",
          "description": "Optional. Multiple pieces of user-provided data, representing the user the event is associated with. It is possible to provide multiple instances of the same type of data (e.g. email address). The more data provided, the more likely a match will be found."
        },
        "campaignName": {
          "description": "Required. The name of the associated campaign.",
          "type": "string"
        },
        "regionCode": {
          "description": "Required. The ISO 3166-2 country plus subdivision.",
          "type": "string"
        },
        "eventSubtype": {
          "type": "string",
          "description": "Enum value for event subtype.",
          "enumDescriptions": [
            "Unspecified event subtype.",
            "Impression event.",
            "Engaged view event.",
            "Onsite click event.",
            "Outbound click event."
          ],
          "enum": [
            "EVENT_SUBTYPE_UNSPECIFIED",
            "EVENT_SUBTYPE_IMPRESSION",
            "EVENT_SUBTYPE_ENGAGED_VIEW",
            "EVENT_SUBTYPE_ONSITE_CLICK",
            "EVENT_SUBTYPE_OUTBOUND_CLICK"
          ]
        },
        "adWidth": {
          "description": "Optional. The width of the ad in pixels.",
          "type": "integer",
          "format": "int32"
        },
        "source": {
          "type": "string",
          "description": "Required. The platform source of the ad, akin to the Google Analytics source."
        },
        "advertiserId": {
          "description": "Required. The ID of the advertiser for the ad event. This must match the ID sent in the linking flow.",
          "type": "string"
        },
        "campaignId": {
          "type": "string",
          "description": "Required. The ID of the associated campaign."
        },
        "adHeight": {
          "description": "Optional. The height of the ad in pixels.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "AdEvent",
      "description": "An ad event."
    },
    "ErrorCount": {
      "id": "ErrorCount",
      "description": "The error count for a given error reason.",
      "type": "object",
      "properties": {
        "reason": {
          "enum": [
            "PROCESSING_ERROR_REASON_UNSPECIFIED",
            "PROCESSING_ERROR_REASON_INVALID_CUSTOM_VARIABLE",
            "PROCESSING_ERROR_REASON_CUSTOM_VARIABLE_NOT_ENABLED",
            "PROCESSING_ERROR_REASON_EVENT_TOO_OLD",
            "PROCESSING_ERROR_REASON_DENIED_CONSENT",
            "PROCESSING_ERROR_REASON_NO_CONSENT",
            "PROCESSING_ERROR_REASON_UNKNOWN_CONSENT",
            "PROCESSING_ERROR_REASON_DUPLICATE_GCLID",
            "PROCESSING_ERROR_REASON_DUPLICATE_TRANSACTION_ID",
            "PROCESSING_ERROR_REASON_INVALID_GBRAID",
            "PROCESSING_ERROR_REASON_INVALID_GCLID",
            "PROCESSING_ERROR_REASON_INVALID_MERCHANT_ID",
            "PROCESSING_ERROR_REASON_INVALID_WBRAID",
            "PROCESSING_ERROR_REASON_INTERNAL_ERROR",
            "PROCESSING_ERROR_REASON_DESTINATION_ACCOUNT_ENHANCED_CONVERSIONS_TERMS_NOT_SIGNED",
            "PROCESSING_ERROR_REASON_INVALID_EVENT",
            "PROCESSING_ERROR_REASON_INSUFFICIENT_MATCHED_TRANSACTIONS",
            "PROCESSING_ERROR_REASON_INSUFFICIENT_TRANSACTIONS",
            "PROCESSING_ERROR_REASON_INVALID_FORMAT",
            "PROCESSING_ERROR_REASON_DECRYPTION_ERROR",
            "PROCESSING_ERROR_REASON_DEK_DECRYPTION_ERROR",
            "PROCESSING_ERROR_REASON_INVALID_WIP",
            "PROCESSING_ERROR_REASON_INVALID_KEK",
            "PROCESSING_ERROR_REASON_WIP_AUTH_FAILED",
            "PROCESSING_ERROR_REASON_KEK_PERMISSION_DENIED",
            "PROCESSING_ERROR_REASON_AWS_AUTH_FAILED",
            "PROCESSING_ERROR_REASON_USER_IDENTIFIER_DECRYPTION_ERROR",
            "PROCESSING_ERROR_OPERATING_ACCOUNT_MISMATCH_FOR_AD_IDENTIFIER",
            "PROCESSING_ERROR_REASON_ONE_PER_CLICK_CONVERSION_ACTION_NOT_PERMITTED_WITH_BRAID",
            "PROCESSING_ERROR_REASON_MATCH_ID_NOT_FOUND",
            "PROCESSING_ERROR_REASON_USER_ID_NOT_FOUND_FOR_MATCH_ID",
            "PROCESSING_ERROR_REASON_USER_ID_NOT_FOUND_FOR_GCLID",
            "PROCESSING_ERROR_REASON_USER_ID_NOT_FOUND_FOR_DCLID",
            "PROCESSING_ERROR_REASON_INVALID_AD_IDENTIFIERS",
            "PROCESSING_ERROR_REASON_INVALID_MOBILE_ID_FORMAT",
            "PROCESSING_ERROR_REASON_ORIGINAL_CONVERSIONS_NOT_FOUND",
            "PROCESSING_ERROR_REASON_EVENT_ID_DECODE_ERROR",
            "PROCESSING_ERROR_REASON_USER_ID_NOT_FOUND_FOR_IMPRESSION_ID",
            "PROCESSING_ERROR_REASON_USER_ID_NOT_FOUND",
            "PROCESSING_ERROR_REASON_CONVERSION_PRECEDES_CLICK",
            "PROCESSING_ERROR_REASON_TOO_RECENT_CLICK",
            "PROCESSING_ERROR_REASON_INVALID_CLICK",
            "PROCESSING_ERROR_REASON_INVALID_OPERATING_ACCOUNT_FOR_CLICK",
            "PROCESSING_ERROR_REASON_CLICK_NOT_FOUND"
          ],
          "description": "The error reason of the failed records.",
          "enumDescriptions": [
            "The processing error reason is unknown.",
            "The custom variable is invalid.",
            "The status of the custom variable is not enabled.",
            "The conversion is older than max supported age.",
            "The ad user data is denied, either by the user or in the advertiser default settings.",
            "Advertiser did not give 3P consent for the Ads core platform services.",
            "The overall consent (determined from row level consent, request level consent, and account settings) could not be determined for this user",
            "A conversion with the same GCLID and conversion time already exists in the system.",
            "A conversion with the same order id and conversion action combination was already uploaded.",
            "The gbraid could not be decoded.",
            "The google click ID could not be decoded.",
            "Merchant id contains non-digit characters.",
            "The wbraid could not be decoded.",
            "Internal error.",
            "Enhanced conversions terms are not signed in the destination account.",
            "The event is invalid.",
            "The matched transactions are less than the minimum threshold.",
            "The transactions are less than the minimum threshold.",
            "The event has format error.",
            "The event has a decryption error.",
            "The DEK failed to be decrypted.",
            "The WIP is formatted incorrectly or the WIP does not exist.",
            "The KEK cannot decrypt data because it is the wrong KEK, or it does not exist.",
            "The WIP could not be used because it was rejected by its attestation condition.",
            "The system did not have the permissions needed to access the KEK.",
            "The system failed to authenticate with AWS.",
            "Failed to decrypt the UserIdentifier data using the DEK.",
            "The user attempted to ingest events with an ad identifier that isn't from the operating account's ads.",
            "One-per-click conversion actions cannot be used with BRAIDs.",
            "The match ID can not be found.",
            "The user ID can not be found for the match ID.",
            "The user ID can not be found for the GCLID.",
            "The user ID can not be found for the DCLID.",
            "There are ad identifiers that are invalid.",
            "The mobile ID format is invalid.",
            "The original conversions can't be found.",
            "The event ID (dclid or impression ID) cannot be decoded.",
            "The user ID cannot be found for the given impression ID.",
            "The user ID cannot be found.",
            "The event timestamp on the event was earlier than the associated click.",
            "The click occurred too recently.",
            "The event can't be attributed to a click (GCLID). This may be because the click did not come from a Google Ads campaign, for example.",
            "The click from the event isn't associated with the `operating_account` of the destination.",
            "A corresponding click can't be found that matches the provided attributes."
          ],
          "type": "string"
        },
        "recordCount": {
          "format": "int64",
          "type": "string",
          "description": "The count of records that failed to upload for a given reason."
        }
      }
    },
    "UserListLicenseMetrics": {
      "id": "UserListLicenseMetrics",
      "description": "Metrics related to a user list license.",
      "type": "object",
      "properties": {
        "clickCount": {
          "description": "Output only. The number of clicks for the user list license.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "startDate": {
          "type": "string",
          "description": "Output only. The start date (inclusive) of the metrics in the format YYYYMMDD. For example, 20260102 represents January 2, 2026. If `end_date` is used in the filter, `start_date` is also required. If neither `start_date` nor `end_date` are included in the filter, the UserListLicenseMetrics fields will not be populated in the response.",
          "format": "int64",
          "readOnly": true
        },
        "revenueUsdMicros": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The revenue for the user list license in USD micros."
        },
        "impressionCount": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The number of impressions for the user list license."
        },
        "endDate": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. The end date (inclusive) of the metrics in the format YYYYMMDD. For example, 20260102 represents January 2, 2026. If `start_date` is used in the filter, `end_date` is also required. If neither `start_date` nor `end_date` are included in the filter, the UserListLicenseMetrics fields will not be populated in the response.",
          "type": "string"
        }
      }
    },
    "ListUserListGlobalLicensesResponse": {
      "type": "object",
      "properties": {
        "userListGlobalLicenses": {
          "type": "array",
          "description": "The licenses for the given user list in the request.",
          "items": {
            "$ref": "UserListGlobalLicense"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListUserListGlobalLicensesResponse",
      "description": "Response from the ListUserListGlobalLicensesRequest."
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "details": {
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      }
    },
    "Location": {
      "id": "Location",
      "description": "The baseline location of the request. Baseline location is on OR-list of ISO 3166-1 alpha-2 region codes of the requested regions.",
      "type": "object",
      "properties": {
        "regionCodes": {
          "description": "List of ISO 3166-1 alpha-2 region codes.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "TargetNetworkInfo": {
      "type": "object",
      "properties": {
        "eligibleForDisplay": {
          "type": "boolean",
          "description": "Output only. Indicates this user list is eligible for Google Display Network.",
          "readOnly": true
        },
        "eligibleForSearch": {
          "description": "Optional. Indicates if this user list is eligible for Google Search Network.",
          "type": "boolean"
        }
      },
      "id": "TargetNetworkInfo",
      "description": "Eligibility information for different target networks."
    },
    "Item": {
      "type": "object",
      "properties": {
        "merchantProductId": {
          "type": "string",
          "description": "Optional. The product ID within the Merchant Center account."
        },
        "unitPrice": {
          "format": "double",
          "description": "Optional. The unit price excluding tax, shipping, and any transaction level discounts.",
          "type": "number"
        },
        "additionalItemParameters": {
          "items": {
            "$ref": "ItemParameter"
          },
          "description": "Optional. A bucket of any [event parameters related to an item](https://developers.google.com/analytics/devguides/collection/protocol/ga4/reference/events) to be included within the event that were not already specified using other structured fields.",
          "type": "array"
        },
        "merchantFeedLabel": {
          "type": "string",
          "description": "Optional. The feed label of the Merchant Center feed. If countries are still being used, the 2-letter country code in ISO-3166-1 alpha-2 can be used instead. For Store Sales events this will override the value set at the cart level. This field is ignored for other events."
        },
        "itemId": {
          "type": "string",
          "description": "Optional. A unique identifier to reference the item."
        },
        "merchantFeedLanguageCode": {
          "type": "string",
          "description": "Optional. The language code in ISO 639-1 associated with the Merchant Center feed where your items are uploaded."
        },
        "customVariables": {
          "items": {
            "$ref": "ItemCustomVariable"
          },
          "type": "array",
          "description": "Optional. Additional key/value pair information to send to the conversion containers (conversion action or Floodlight activity), when tracking per-item conversions."
        },
        "merchantId": {
          "description": "Optional. The Merchant Center ID associated with the item. For Store Sales events this will override the value set at the cart level. This field is ignored for other events.",
          "type": "string"
        },
        "conversionValue": {
          "format": "double",
          "description": "Optional. The conversion value associated with this item within the event, for cases where the conversion value is different for each item.",
          "type": "number"
        },
        "quantity": {
          "description": "Optional. The number of this item associated with the event.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "Item",
      "description": "Represents an item in the cart associated with the event."
    },
    "RetrieveRequestStatusResponse": {
      "type": "object",
      "properties": {
        "requestStatusPerDestination": {
          "items": {
            "$ref": "RequestStatusPerDestination"
          },
          "type": "array",
          "description": "A list of request statuses per destination. The order of the statuses matches the order of the destinations in the original request."
        }
      },
      "id": "RetrieveRequestStatusResponse",
      "description": "Response from the RetrieveRequestStatusRequest."
    },
    "PseudonymousIdInfo": {
      "id": "PseudonymousIdInfo",
      "description": "Additional information when `PSEUDONYMOUS_ID` is one of the `upload_key_types`.",
      "type": "object",
      "properties": {
        "billableRecordCount": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Immutable. The number of billable records (e.g. uploaded or matched)."
        },
        "syncStatus": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "SYNC_STATUS_UNSPECIFIED",
            "CREATED",
            "READY_FOR_USE",
            "FAILED"
          ],
          "description": "Output only. Sync status of the user list.",
          "enumDescriptions": [
            "Not specified.",
            "The user list has been created as a placeholder. List contents and/or metadata are still being synced. The user list is not ready for use.",
            "The user list is ready for use. Contents and cookies have been synced correctly.",
            "An error has occurred syncing user list contents and/or metadata. The user list cannot be used."
          ]
        }
      }
    },
    "TermsOfService": {
      "id": "TermsOfService",
      "description": "The terms of service that the user has accepted/rejected.",
      "type": "object",
      "properties": {
        "customerMatchTermsOfServiceStatus": {
          "enum": [
            "TERMS_OF_SERVICE_STATUS_UNSPECIFIED",
            "ACCEPTED",
            "REJECTED"
          ],
          "description": "Optional. The Customer Match terms of service: https://support.google.com/adspolicy/answer/6299717. This must be accepted when ingesting UserData or MobileData. This field is not required for Partner Match User list.",
          "enumDescriptions": [
            "Not specified.",
            "Status indicating the caller has chosen to accept the terms of service.",
            "Status indicating the caller has chosen to reject the terms of service."
          ],
          "type": "string"
        }
      }
    },
    "IngestPpidDataStatus": {
      "type": "object",
      "properties": {
        "recordCount": {
          "format": "int64",
          "description": "The total count of audience members sent in the upload request for the destination. Includes all audience members in the request, regardless of whether they were successfully ingested or not.",
          "type": "string"
        },
        "ppidCount": {
          "type": "string",
          "description": "The total count of ppids sent in the upload request for the destination. Includes all ppids in the request, regardless of whether they were successfully ingested or not.",
          "format": "int64"
        }
      },
      "id": "IngestPpidDataStatus",
      "description": "The status of the ppid data ingestion to the destination containing stats related to the ingestion."
    },
    "RemoveAudienceMembersStatus": {
      "id": "RemoveAudienceMembersStatus",
      "description": "The status of the remove audience members request.",
      "type": "object",
      "properties": {
        "pairDataRemovalStatus": {
          "$ref": "RemovePairDataStatus",
          "description": "The status of the pair data removal from the destination."
        },
        "userDataRemovalStatus": {
          "$ref": "RemoveUserDataStatus",
          "description": "The status of the user data removal from the destination."
        },
        "ppidDataRemovalStatus": {
          "$ref": "RemovePpidDataStatus",
          "description": "The status of the ppid data removal from the destination."
        },
        "userIdDataRemovalStatus": {
          "description": "The status of the user id data removal from the destination.",
          "$ref": "RemoveUserIdDataStatus"
        },
        "mobileDataRemovalStatus": {
          "$ref": "RemoveMobileDataStatus",
          "description": "The status of the mobile data removal from the destination."
        },
        "compositeDataRemovalStatus": {
          "description": "The status of the composite data removal from the destination.",
          "$ref": "RemoveCompositeDataStatus"
        }
      }
    },
    "IngestEventsRequest": {
      "id": "IngestEventsRequest",
      "description": "Request to upload audience members to the provided destinations. Returns an IngestEventsResponse.",
      "type": "object",
      "properties": {
        "destinations": {
          "description": "Required. The list of destinations to send the events to.",
          "type": "array",
          "items": {
            "$ref": "Destination"
          }
        },
        "consent": {
          "$ref": "Consent",
          "description": "Optional. Request-level consent to apply to all users in the request. User-level consent overrides request-level consent, and can be specified in each Event."
        },
        "encryptionInfo": {
          "$ref": "EncryptionInfo",
          "description": "Optional. Encryption information for UserData uploads. If not set, it's assumed that uploaded identifying information is hashed but not encrypted. For non `UserData` uploads, this field is ignored."
        },
        "events": {
          "type": "array",
          "description": "Required. The list of events to send to the specified destinations. At most 2000 Event resources can be sent in a single request.",
          "items": {
            "$ref": "Event"
          }
        },
        "validateOnly": {
          "type": "boolean",
          "description": "Optional. For testing purposes. If `true`, the request is validated but not executed. Only errors are returned, not results."
        },
        "encoding": {
          "enum": [
            "ENCODING_UNSPECIFIED",
            "HEX",
            "BASE64"
          ],
          "type": "string",
          "description": "Optional. Required for UserData uploads. The encoding type of the user identifiers. For hashed user identifiers, this is the encoding type of the hashed string. For encrypted hashed user identifiers, this is the encoding type of the outer encrypted string, but not necessarily the inner hashed string, meaning the inner hashed string could be encoded in a different way than the outer encrypted string. For non `UserData` uploads, this field is ignored.",
          "enumDescriptions": [
            "Unspecified Encoding type. Should never be used.",
            "Hex encoding.",
            "Base 64 encoding."
          ]
        }
      }
    },
    "ErrorInfo": {
      "id": "ErrorInfo",
      "description": "Error counts for each type of error.",
      "type": "object",
      "properties": {
        "errorCounts": {
          "description": "A list of errors and counts per error reason. May not be populated in all cases.",
          "type": "array",
          "items": {
            "$ref": "ErrorCount"
          }
        }
      }
    },
    "IngestAudienceMembersRequest": {
      "type": "object",
      "properties": {
        "validateOnly": {
          "description": "Optional. For testing purposes. If `true`, the request is validated but not executed. Only errors are returned, not results.",
          "type": "boolean"
        },
        "encoding": {
          "description": "Optional. Required for UserData uploads. The encoding type of the user identifiers. For hashed user identifiers, this is the encoding type of the hashed string. For encrypted hashed user identifiers, this is the encoding type of the outer encrypted string, but not necessarily the inner hashed string, meaning the inner hashed string could be encoded in a different way than the outer encrypted string. For non `UserData` uploads, this field is ignored.",
          "enumDescriptions": [
            "Unspecified Encoding type. Should never be used.",
            "Hex encoding.",
            "Base 64 encoding."
          ],
          "type": "string",
          "enum": [
            "ENCODING_UNSPECIFIED",
            "HEX",
            "BASE64"
          ]
        },
        "termsOfService": {
          "$ref": "TermsOfService",
          "description": "Optional. The terms of service that the user has accepted/rejected."
        },
        "audienceMembers": {
          "items": {
            "$ref": "AudienceMember"
          },
          "type": "array",
          "description": "Required. The list of users to send to the specified destinations. At most 10000 AudienceMember resources can be sent in a single request."
        },
        "destinations": {
          "description": "Required. The list of destinations to send the audience members to.",
          "type": "array",
          "items": {
            "$ref": "Destination"
          }
        },
        "consent": {
          "$ref": "Consent",
          "description": "Optional. Request-level consent to apply to all users in the request. User-level consent overrides request-level consent, and can be specified in each AudienceMember."
        },
        "encryptionInfo": {
          "description": "Optional. Encryption information for UserData uploads. If not set, it's assumed that uploaded identifying information is hashed but not encrypted. For non `UserData` uploads, this field is ignored.",
          "$ref": "EncryptionInfo"
        }
      },
      "id": "IngestAudienceMembersRequest",
      "description": "Request to upload audience members to the provided destinations. Returns an IngestAudienceMembersResponse."
    },
    "UserProperties": {
      "type": "object",
      "properties": {
        "customerType": {
          "enum": [
            "CUSTOMER_TYPE_UNSPECIFIED",
            "NEW",
            "RETURNING",
            "REENGAGED"
          ],
          "type": "string",
          "description": "Optional. Type of the customer associated with the event.",
          "enumDescriptions": [
            "Unspecified CustomerType. Should never be used.",
            "The customer is new to the advertiser.",
            "The customer is returning to the advertiser.",
            "The customer has re-engaged with the advertiser."
          ]
        },
        "additionalUserProperties": {
          "items": {
            "$ref": "UserProperty"
          },
          "description": "Optional. A bucket of any additional [user properties](https://developers.google.com/analytics/devguides/collection/protocol/ga4/user-properties) for the user associated with this event.",
          "type": "array"
        },
        "customerValueBucket": {
          "enum": [
            "CUSTOMER_VALUE_BUCKET_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH"
          ],
          "type": "string",
          "description": "Optional. The advertiser-assessed value of the customer.",
          "enumDescriptions": [
            "Unspecified CustomerValueBucket. Should never be used.",
            "The customer is low value.",
            "The customer is medium value.",
            "The customer is high value."
          ]
        }
      },
      "id": "UserProperties",
      "description": "Advertiser-assessed information about the user at the time that the event happened. See https://support.google.com/google-ads/answer/14007601 for more details."
    },
    "IngestPairDataStatus": {
      "type": "object",
      "properties": {
        "pairIdCount": {
          "format": "int64",
          "type": "string",
          "description": "The total count of pair ids sent in the upload request for the destination. Includes all pair ids in the request, regardless of whether they were successfully ingested or not."
        },
        "recordCount": {
          "format": "int64",
          "type": "string",
          "description": "The total count of audience members sent in the upload request for the destination. Includes all audience members in the request, regardless of whether they were successfully ingested or not."
        }
      },
      "id": "IngestPairDataStatus",
      "description": "The status of the pair data ingestion to the destination containing stats related to the ingestion."
    },
    "PartnerAudienceInfo": {
      "type": "object",
      "properties": {
        "commercePartner": {
          "description": "Optional. The commerce partner name. Only allowed if `partner_audience_source` is `COMMERCE_AUDIENCE`.",
          "type": "string"
        },
        "partnerAudienceSource": {
          "enum": [
            "PARTNER_AUDIENCE_SOURCE_UNSPECIFIED",
            "COMMERCE_AUDIENCE",
            "LINEAR_TV_AUDIENCE",
            "AGENCY_PROVIDER_AUDIENCE"
          ],
          "description": "Required. Immutable. The source of the partner audience.",
          "enumDescriptions": [
            "Not specified.",
            "Partner Audience source is commerce audience.",
            "Partner Audience source is linear TV audience.",
            "Partner Audience source is agency/provider audience."
          ],
          "type": "string"
        }
      },
      "id": "PartnerAudienceInfo",
      "description": "Additional information for partner audiences. This feature is only available to data partners."
    },
    "CustomVariable": {
      "type": "object",
      "properties": {
        "value": {
          "description": "Optional. The value to store for the custom variable.",
          "type": "string"
        },
        "variable": {
          "description": "Optional. The name of the custom variable to set. If the variable is not found for the given destination, it will be ignored.",
          "type": "string"
        },
        "destinationReferences": {
          "description": "Optional. Reference string used to determine which of the Event.destination_references the custom variable should be sent to. If empty, the Event.destination_references will be used.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "CustomVariable",
      "description": "Custom variable for ads conversions."
    },
    "RetrieveInsightsResponse": {
      "id": "RetrieveInsightsResponse",
      "description": "Response message for DM API MarketingDataInsightsService.RetrieveInsights",
      "type": "object",
      "properties": {
        "marketingDataInsights": {
          "description": "Contains the insights for the marketing data.",
          "type": "array",
          "items": {
            "$ref": "MarketingDataInsight"
          }
        }
      }
    },
    "UserIdentifier": {
      "id": "UserIdentifier",
      "description": "A single identifier for the user.",
      "type": "object",
      "properties": {
        "address": {
          "$ref": "AddressInfo",
          "description": "The known components of a user's address. Holds a grouping of identifiers that are matched all at once."
        },
        "phoneNumber": {
          "type": "string",
          "description": "Hashed phone number using SHA-256 hash function after normalization (E164 standard)."
        },
        "emailAddress": {
          "description": "Hashed email address using SHA-256 hash function after normalization.",
          "type": "string"
        }
      }
    },
    "AdIdentifiers": {
      "id": "AdIdentifiers",
      "description": "Identifiers and other information used to match the conversion event with other online activity (such as ad clicks).",
      "type": "object",
      "properties": {
        "encryptedUserIds": {
          "items": {
            "$ref": "EncryptedUserId"
          },
          "type": "array",
          "description": "Optional. Any number of encrypted user IDs."
        },
        "landingPageDeviceInfo": {
          "$ref": "DeviceInfo",
          "description": "Optional. Information gathered about the device being used (if any) at the time of landing onto the advertiser’s site after interacting with the ad."
        },
        "wbraid": {
          "type": "string",
          "description": "Optional. The click identifier for clicks associated with web events and originating from iOS devices starting with iOS14."
        },
        "mobileDeviceId": {
          "description": "Optional. The mobile identifier for advertisers. This would be IDFA on iOS, AdID on Android, or other platforms’ identifiers for advertisers.",
          "type": "string"
        },
        "sessionAttributes": {
          "description": "Optional. Session attributes for event attribution and modeling.",
          "type": "string"
        },
        "gclid": {
          "type": "string",
          "description": "Optional. The Google click ID (gclid) associated with this event."
        },
        "dclid": {
          "description": "Optional. The display click ID associated with this event.",
          "type": "string"
        },
        "matchId": {
          "description": "Optional. The match ID field used to join this event with a previous event.",
          "type": "string"
        },
        "gbraid": {
          "type": "string",
          "description": "Optional. The click identifier for clicks associated with app events and originating from iOS devices starting with iOS14."
        },
        "impressionId": {
          "description": "Optional. The impression ID associated with this event.",
          "type": "string"
        }
      }
    },
    "DataTypeCount": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of data.",
          "enumDescriptions": [
            "The data type is unspecified.",
            "The data is an email address.",
            "The data is a phone number.",
            "The data is a physical address.",
            "The data is an IP address."
          ],
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "EMAIL",
            "PHONE_NUMBER",
            "ADDRESS",
            "IP_ADDRESS"
          ]
        },
        "count": {
          "description": "The count for this data type.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "DataTypeCount",
      "description": "The count for a specific data type."
    },
    "MarketingDataInsightsAttribute": {
      "id": "MarketingDataInsightsAttribute",
      "description": "Insights for a collection of related attributes of the same dimension.",
      "type": "object",
      "properties": {
        "lift": {
          "format": "float",
          "description": "Measure of lift that the audience has for the attribute value as compared to the baseline. Range [0-1].",
          "type": "number"
        },
        "gender": {
          "enum": [
            "GENDER_UNSPECIFIED",
            "GENDER_UNKNOWN",
            "GENDER_MALE",
            "GENDER_FEMALE"
          ],
          "type": "string",
          "description": "Gender of the audience for which the lift is provided.",
          "enumDescriptions": [
            "Not specified.",
            "Unknown.",
            "Male.",
            "Female."
          ]
        },
        "userInterestId": {
          "format": "int64",
          "description": "The user interest ID.",
          "type": "string"
        },
        "ageRange": {
          "enum": [
            "AGE_RANGE_UNSPECIFIED",
            "AGE_RANGE_UNKNOWN",
            "AGE_RANGE_18_24",
            "AGE_RANGE_25_34",
            "AGE_RANGE_35_44",
            "AGE_RANGE_45_54",
            "AGE_RANGE_55_64",
            "AGE_RANGE_65_UP"
          ],
          "description": "Age range of the audience for which the lift is provided.",
          "enumDescriptions": [
            "Not specified.",
            "Unknown.",
            "Between 18 and 24 years old.",
            "Between 25 and 34 years old.",
            "Between 35 and 44 years old.",
            "Between 45 and 54 years old.",
            "Between 55 and 64 years old.",
            "65 years old and beyond."
          ],
          "type": "string"
        }
      }
    },
    "IngestAdEventsRequest": {
      "type": "object",
      "properties": {
        "adEvents": {
          "type": "array",
          "description": "Required. Required (at least 1). A list of ad events.",
          "items": {
            "$ref": "AdEvent"
          }
        },
        "validateOnly": {
          "type": "boolean",
          "description": "Optional. If true, the request is validated, but not executed."
        },
        "encryptionInfo": {
          "description": "Optional. Information about encryption keys which are used to encrypt the data.",
          "$ref": "EncryptionInfo"
        }
      },
      "id": "IngestAdEventsRequest",
      "description": "Request to upload ad events."
    },
    "RemovePairDataStatus": {
      "id": "RemovePairDataStatus",
      "description": "The status of the pair data removal from the destination.",
      "type": "object",
      "properties": {
        "pairIdCount": {
          "format": "int64",
          "description": "The total count of pair ids sent in the removal request. Includes all pair ids in the request, regardless of whether they were successfully removed or not.",
          "type": "string"
        },
        "recordCount": {
          "type": "string",
          "description": "The total count of audience members sent in the removal request. Includes all audience members in the request, regardless of whether they were successfully removed or not.",
          "format": "int64"
        }
      }
    },
    "Destination": {
      "id": "Destination",
      "description": "The Google product you're sending data to. For example, a Google Ads account.",
      "type": "object",
      "properties": {
        "loginAccount": {
          "description": "Optional. The account used to make this API call. To add or remove data from the `operating_account`, this `login_account` must have write access to the `operating_account`. For example, a manager account of the `operating_account`, or an account with an established link to the `operating_account`.",
          "$ref": "ProductAccount"
        },
        "productDestinationId": {
          "type": "string",
          "description": "Required. The object within the product account to ingest into. For example, a Google Ads audience ID, a Display & Video 360 audience ID or a Google Ads conversion action ID."
        },
        "reference": {
          "type": "string",
          "description": "Optional. ID for this `Destination` resource, unique within the request. Use to reference this `Destination` in the IngestEventsRequest and IngestAudienceMembersRequest."
        },
        "linkedAccount": {
          "description": "Optional. An account that the calling user's `login_account` has access to, through an established account link. For example, a data partner's `login_account` might have access to a client's `linked_account`. The partner might use this field to send data from the `linked_account` to another `operating_account`.",
          "$ref": "ProductAccount"
        },
        "operatingAccount": {
          "$ref": "ProductAccount",
          "description": "Required. The account to send the data to or remove the data from."
        }
      }
    },
    "EncryptedUserId": {
      "type": "object",
      "properties": {
        "encryptedId": {
          "type": "string",
          "description": "Required. The alphanumeric encrypted id."
        },
        "entityType": {
          "type": "string",
          "description": "Required. The encryption entity type. This should match the encryption configuration for ad serving or Data Transfer.",
          "enumDescriptions": [
            "Unspecified encryption entity type.",
            "Campaign Manager 360 account.",
            "Campaign Manager 360 advertiser.",
            "Display & Video 360 partner.",
            "Display & Video 360 advertiser.",
            "Google Ads customer.",
            "Google Ad Manager network code."
          ],
          "enum": [
            "ENCRYPTION_ENTITY_TYPE_UNSPECIFIED",
            "CAMPAIGN_MANAGER_ACCOUNT",
            "CAMPAIGN_MANAGER_ADVERTISER",
            "DISPLAY_VIDEO_PARTNER",
            "DISPLAY_VIDEO_ADVERTISER",
            "GOOGLE_ADS_CUSTOMER",
            "GOOGLE_AD_MANAGER_NETWORK_CODE"
          ]
        },
        "source": {
          "description": "Required. Describes whether the encrypted cookie was received from ad serving (the %m macro) or from Data Transfer.",
          "enumDescriptions": [
            "Unspecified encryption source.",
            "Ad serving encryption source.",
            "Data transfer encryption source."
          ],
          "type": "string",
          "enum": [
            "ENCRYPTION_SOURCE_UNSPECIFIED",
            "AD_SERVING",
            "DATA_TRANSFER"
          ]
        },
        "entityId": {
          "type": "string",
          "description": "Required. The encryption entity ID. This should match the encryption configuration for ad serving or Data Transfer.",
          "format": "int64"
        }
      },
      "id": "EncryptedUserId",
      "description": "A user identifier issued to be used for attribution. All fields are required if this is used."
    },
    "RetrieveInsightsRequest": {
      "type": "object",
      "properties": {
        "userListId": {
          "type": "string",
          "description": "Required. The user list ID for which insights are requested."
        },
        "baseline": {
          "$ref": "Baseline",
          "description": "Required. Baseline for the insights requested."
        }
      },
      "id": "RetrieveInsightsRequest",
      "description": "Request message for DM API MarketingDataInsightsService.RetrieveInsights"
    },
    "MarketingDataInsight": {
      "id": "MarketingDataInsight",
      "description": "Insights for marketing data. This feature is only available to data partners.",
      "type": "object",
      "properties": {
        "dimension": {
          "type": "string",
          "description": "The dimension to which the insight belongs.",
          "enumDescriptions": [
            "Not specified.",
            "The value is unknown in this version.",
            "An Affinity UserInterest.",
            "An In-Market UserInterest.",
            "An age range.",
            "A gender."
          ],
          "enum": [
            "AUDIENCE_INSIGHTS_DIMENSION_UNSPECIFIED",
            "AUDIENCE_INSIGHTS_DIMENSION_UNKNOWN",
            "AFFINITY_USER_INTEREST",
            "IN_MARKET_USER_INTEREST",
            "AGE_RANGE",
            "GENDER"
          ]
        },
        "attributes": {
          "description": "Insights for values of a given dimension.",
          "type": "array",
          "items": {
            "$ref": "MarketingDataInsightsAttribute"
          }
        }
      }
    },
    "ContactIdInfo": {
      "id": "ContactIdInfo",
      "description": "Additional information when `CONTACT_ID` is one of the `upload_key_types`.",
      "type": "object",
      "properties": {
        "dataSourceType": {
          "enum": [
            "DATA_SOURCE_TYPE_UNSPECIFIED",
            "DATA_SOURCE_TYPE_FIRST_PARTY",
            "DATA_SOURCE_TYPE_THIRD_PARTY_CREDIT_BUREAU",
            "DATA_SOURCE_TYPE_THIRD_PARTY_VOTER_FILE",
            "DATA_SOURCE_TYPE_THIRD_PARTY_PARTNER_DATA"
          ],
          "description": "Optional. Immutable. Source of the upload data",
          "enumDescriptions": [
            "Not specified.",
            "The uploaded data is first-party data.",
            "The uploaded data is from a third-party credit bureau.",
            "The uploaded data is from a third-party voter file.",
            "The uploaded data is third party partner data."
          ],
          "type": "string"
        },
        "matchRatePercentage": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. Match rate for customer match user lists."
        }
      }
    },
    "UserIdInfo": {
      "id": "UserIdInfo",
      "description": "Additional information when `USER_ID` is one of the `upload_key_types`.",
      "type": "object",
      "properties": {
        "dataSourceType": {
          "description": "Optional. Immutable. Source of the upload data.",
          "enumDescriptions": [
            "Not specified.",
            "The uploaded data is first-party data.",
            "The uploaded data is from a third-party credit bureau.",
            "The uploaded data is from a third-party voter file.",
            "The uploaded data is third party partner data."
          ],
          "type": "string",
          "enum": [
            "DATA_SOURCE_TYPE_UNSPECIFIED",
            "DATA_SOURCE_TYPE_FIRST_PARTY",
            "DATA_SOURCE_TYPE_THIRD_PARTY_CREDIT_BUREAU",
            "DATA_SOURCE_TYPE_THIRD_PARTY_VOTER_FILE",
            "DATA_SOURCE_TYPE_THIRD_PARTY_PARTNER_DATA"
          ]
        }
      }
    },
    "SizeInfo": {
      "type": "object",
      "properties": {
        "searchNetworkMembersCount": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Estimated number of members in this user list in the google.com domain. These are the members available for targeting in Search campaigns.",
          "type": "string"
        },
        "youtubeMembersCount": {
          "type": "string",
          "description": "Output only. Estimated number of members in this user list on YouTube.",
          "format": "int64",
          "readOnly": true
        },
        "gmailMembersCount": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Estimated number of members in this user list on Gmail."
        },
        "displayNetworkMembersCount": {
          "type": "string",
          "description": "Output only. Estimated number of members in this user list, on the Google Display Network.",
          "format": "int64",
          "readOnly": true
        }
      },
      "id": "SizeInfo",
      "description": "Estimated number of members in this user list in different target networks."
    },
    "UserListGlobalLicense": {
      "type": "object",
      "properties": {
        "userListDisplayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the user list being licensed. This field is read-only."
        },
        "licenseType": {
          "enum": [
            "USER_LIST_GLOBAL_LICENSE_TYPE_UNSPECIFIED",
            "USER_LIST_GLOBAL_LICENSE_TYPE_RESELLER",
            "USER_LIST_GLOBAL_LICENSE_TYPE_DATA_MART_SELL_SIDE",
            "USER_LIST_GLOBAL_LICENSE_TYPE_DATA_MART_BUY_SIDE"
          ],
          "type": "string",
          "description": "Immutable. Product type of client customer which the user list is being licensed to.",
          "enumDescriptions": [
            "UNSPECIFIED.",
            "Reseller license.",
            "DataMart Sell Side license.",
            "DataMart Buy Side license."
          ]
        },
        "pricing": {
          "description": "Optional. UserListGlobalLicense pricing.",
          "$ref": "UserListLicensePricing"
        },
        "historicalPricings": {
          "readOnly": true,
          "items": {
            "$ref": "UserListLicensePricing"
          },
          "description": "Output only. Pricing history of this user list license. This field is read-only.",
          "type": "array"
        },
        "name": {
          "description": "Identifier. The resource name of the user list global license.",
          "type": "string"
        },
        "userListId": {
          "format": "int64",
          "type": "string",
          "description": "Immutable. ID of the user list being licensed."
        },
        "status": {
          "enum": [
            "USER_LIST_LICENSE_STATUS_UNSPECIFIED",
            "USER_LIST_LICENSE_STATUS_ENABLED",
            "USER_LIST_LICENSE_STATUS_DISABLED"
          ],
          "description": "Optional. Status of UserListGlobalLicense - ENABLED or DISABLED.",
          "enumDescriptions": [
            "Unknown.",
            "Active status - user list is still being licensed.",
            "Inactive status - user list is no longer being licensed."
          ],
          "type": "string"
        },
        "metrics": {
          "$ref": "UserListLicenseMetrics",
          "readOnly": true,
          "description": "Output only. Metrics related to this license This field is read-only and only populated if the start and end dates are set in the ListUserListGlobalLicenses call"
        }
      },
      "id": "UserListGlobalLicense",
      "description": "A user list global license. This feature is only available to data partners."
    },
    "ListUserListGlobalLicenseCustomerInfosResponse": {
      "id": "ListUserListGlobalLicenseCustomerInfosResponse",
      "description": "Response from the ListUserListGlobalLicensesCustomerInfoRequest.",
      "type": "object",
      "properties": {
        "userListGlobalLicenseCustomerInfos": {
          "type": "array",
          "description": "The customer information for the given license in the request.",
          "items": {
            "$ref": "UserListGlobalLicenseCustomerInfo"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "RemoveAudienceMembersResponse": {
      "id": "RemoveAudienceMembersResponse",
      "description": "Response from the RemoveAudienceMembersRequest.",
      "type": "object",
      "properties": {
        "requestId": {
          "description": "The auto-generated ID of the request.",
          "type": "string"
        }
      }
    },
    "AddressInfo": {
      "id": "AddressInfo",
      "description": "Address information for the user.",
      "type": "object",
      "properties": {
        "familyName": {
          "type": "string",
          "description": "Required. Family (last) name of the user, all lowercase, with no punctuation, no leading or trailing whitespace, and hashed as SHA-256."
        },
        "postalCode": {
          "description": "Required. The postal code of the user's address.",
          "type": "string"
        },
        "givenName": {
          "type": "string",
          "description": "Required. Given (first) name of the user, all lowercase, with no punctuation, no leading or trailing whitespace, and hashed as SHA-256."
        },
        "regionCode": {
          "type": "string",
          "description": "Required. The 2-letter region code in ISO-3166-1 alpha-2 of the user's address."
        }
      }
    },
    "IngestEventsStatus": {
      "type": "object",
      "properties": {
        "recordCount": {
          "format": "int64",
          "type": "string",
          "description": "The total count of events sent in the upload request. Includes all events in the request, regardless of whether they were successfully ingested or not."
        }
      },
      "id": "IngestEventsStatus",
      "description": "The status of the events ingestion to the destination."
    },
    "AudienceMember": {
      "id": "AudienceMember",
      "description": "The audience member to be operated on.",
      "type": "object",
      "properties": {
        "userIdData": {
          "$ref": "UserIdData",
          "description": "Data related to unique identifiers for a user, as defined by the advertiser."
        },
        "destinationReferences": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Defines which Destination to send the audience member to.",
          "type": "array"
        },
        "ppidData": {
          "$ref": "PpidData",
          "description": "Data related to publisher provided identifiers. This feature is only available to data partners."
        },
        "compositeData": {
          "$ref": "CompositeData",
          "description": "Group of multiple identifier types."
        },
        "userData": {
          "description": "User-provided data that identifies the user.",
          "$ref": "UserData"
        },
        "pairData": {
          "description": "[Publisher Advertiser Identity Reconciliation (PAIR) IDs](//support.google.com/admanager/answer/15067908). This feature is only available to data partners.",
          "$ref": "PairData"
        },
        "mobileData": {
          "$ref": "MobileData",
          "description": "Data identifying the user's mobile devices."
        },
        "consent": {
          "description": "Optional. The consent setting for the user.",
          "$ref": "Consent"
        }
      }
    },
    "DeviceInfo": {
      "id": "DeviceInfo",
      "description": "Information about the device being used (if any) when the event happened.",
      "type": "object",
      "properties": {
        "category": {
          "type": "string",
          "description": "Optional. The category of device. For example, “desktop”, “tablet”, “mobile”, “smart TV”."
        },
        "brand": {
          "description": "Optional. The brand of the device.",
          "type": "string"
        },
        "languageCode": {
          "description": "Optional. The language the device uses in ISO 639-1 format.",
          "type": "string"
        },
        "screenWidth": {
          "type": "integer",
          "description": "Optional. The width of the screen in pixels.",
          "format": "int32"
        },
        "screenHeight": {
          "format": "int32",
          "description": "Optional. The height of the screen in pixels.",
          "type": "integer"
        },
        "browser": {
          "description": "Optional. The brand or type of the browser.",
          "type": "string"
        },
        "model": {
          "type": "string",
          "description": "Optional. The model of the device."
        },
        "operatingSystem": {
          "type": "string",
          "description": "Optional. The operating system or platform of the device."
        },
        "operatingSystemVersion": {
          "type": "string",
          "description": "Optional. The version of the operating system or platform."
        },
        "userAgent": {
          "description": "Optional. The user-agent string of the device for the given context.",
          "type": "string"
        },
        "browserVersion": {
          "description": "Optional. The version of the browser.",
          "type": "string"
        },
        "ipAddress": {
          "type": "string",
          "description": "Optional. The IP address of the device for the given context. **Note:** Google Ads does not support IP address matching for end users in the European Economic Area (EEA), United Kingdom (UK), or Switzerland (CH). Add logic to conditionally exclude sharing IP addresses from users from these regions and ensure that you provide users with clear and comprehensive information about the data you collect on your sites, apps, and other properties and get consent where required by law or any applicable Google policies. See the [About offline conversion imports](https://support.google.com/google-ads/answer/2998031) page for more details."
        }
      }
    },
    "Baseline": {
      "id": "Baseline",
      "description": "Baseline criteria against which insights are compared.",
      "type": "object",
      "properties": {
        "baselineLocation": {
          "description": "The baseline location of the request. Baseline location is an OR-list of the requested regions.",
          "$ref": "Location"
        },
        "locationAutoDetectionEnabled": {
          "type": "boolean",
          "description": "If set to true, the service will try to automatically detect the baseline location for insights."
        }
      }
    },
    "UserIdData": {
      "type": "object",
      "properties": {
        "userId": {
          "description": "Required. A unique identifier for a user, as defined by the advertiser.",
          "type": "string"
        }
      },
      "id": "UserIdData",
      "description": "User id data holding the user id."
    },
    "RequestStatusPerDestination": {
      "type": "object",
      "properties": {
        "destination": {
          "$ref": "Destination",
          "description": "A destination within a DM API request."
        },
        "audienceMembersIngestionStatus": {
          "description": "The status of the ingest audience members request.",
          "$ref": "IngestAudienceMembersStatus"
        },
        "audienceMembersRemovalStatus": {
          "$ref": "RemoveAudienceMembersStatus",
          "description": "The status of the remove audience members request."
        },
        "requestStatus": {
          "enum": [
            "REQUEST_STATUS_UNKNOWN",
            "SUCCESS",
            "PROCESSING",
            "FAILED",
            "PARTIAL_SUCCESS"
          ],
          "description": "The request status of the destination.",
          "enumDescriptions": [
            "The request status is unknown.",
            "Processing succeeded for all records without any errors. However, there may be warnings in the `warning_info` field.",
            "The request is processing.",
            "Processing failed for all records. Check the `error_info` field for error details, and check the `warning_info` field for warning details.",
            "Processing completed successfully without errors for some records, but failed with errors for other records. Check the `error_info` field for error details, and check the `warning_info` field for warning details."
          ],
          "type": "string"
        },
        "errorInfo": {
          "$ref": "ErrorInfo",
          "description": "An error info error containing the error reason and error counts related to the upload. Only populated if the `request_status` is `FAILED` or `PARTIAL_SUCCESS`. This field isn't populated while the request has `request_status` of `PROCESSING`."
        },
        "warningInfo": {
          "description": "A warning info containing the warning reason and warning counts related to the upload. This field isn't populated while the request has `request_status` of `PROCESSING`.",
          "$ref": "WarningInfo"
        },
        "eventsIngestionStatus": {
          "$ref": "IngestEventsStatus",
          "description": "The status of the ingest events request."
        }
      },
      "id": "RequestStatusPerDestination",
      "description": "A request status per destination."
    },
    "UserListDirectLicense": {
      "id": "UserListDirectLicense",
      "description": "A user list direct license. This feature is only available to data partners.",
      "type": "object",
      "properties": {
        "historicalPricings": {
          "description": "Output only. Pricing history of this user list license. This field is read-only.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "UserListLicensePricing"
          }
        },
        "clientAccountId": {
          "type": "string",
          "description": "Immutable. ID of client customer which the user list is being licensed to.",
          "format": "int64"
        },
        "clientAccountType": {
          "enum": [
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_UNKNOWN",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_GOOGLE_ADS",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_DISPLAY_VIDEO_PARTNER",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_DISPLAY_VIDEO_ADVERTISER",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_GOOGLE_AD_MANAGER_AUDIENCE_LINK"
          ],
          "description": "Immutable. Account type of client customer which the user list is being licensed to.",
          "enumDescriptions": [
            "Unknown.",
            "Google Ads customer.",
            "Display & Video 360 partner.",
            "Display & Video 360 advertiser.",
            "Google Ad Manager audience link."
          ],
          "type": "string"
        },
        "userListId": {
          "format": "int64",
          "description": "Immutable. ID of the user list being licensed.",
          "type": "string"
        },
        "status": {
          "description": "Optional. Status of UserListDirectLicense - ENABLED or DISABLED.",
          "enumDescriptions": [
            "Unknown.",
            "Active status - user list is still being licensed.",
            "Inactive status - user list is no longer being licensed."
          ],
          "type": "string",
          "enum": [
            "USER_LIST_LICENSE_STATUS_UNSPECIFIED",
            "USER_LIST_LICENSE_STATUS_ENABLED",
            "USER_LIST_LICENSE_STATUS_DISABLED"
          ]
        },
        "metrics": {
          "$ref": "UserListLicenseMetrics",
          "readOnly": true,
          "description": "Output only. Metrics related to this license This field is read-only and only populated if the start and end dates are set in the ListUserListDirectLicenses call"
        },
        "userListDisplayName": {
          "type": "string",
          "description": "Output only. Name of the user list being licensed. This field is read-only.",
          "readOnly": true
        },
        "pricing": {
          "description": "Optional. UserListDirectLicense pricing.",
          "$ref": "UserListLicensePricing"
        },
        "clientAccountDisplayName": {
          "readOnly": true,
          "description": "Output only. Name of client customer which the user list is being licensed to. This field is read-only.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the user list direct license.",
          "type": "string"
        }
      }
    },
    "IngestAudienceMembersResponse": {
      "id": "IngestAudienceMembersResponse",
      "description": "Response from the IngestAudienceMembersRequest.",
      "type": "object",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "The auto-generated ID of the request."
        }
      }
    },
    "PartnerLink": {
      "id": "PartnerLink",
      "description": "A partner link between an owning account and a partner account.",
      "type": "object",
      "properties": {
        "owningAccount": {
          "$ref": "ProductAccount",
          "description": "Required. The owning account granting access to the partner account."
        },
        "partnerLinkMetadata": {
          "$ref": "PartnerLinkMetadata",
          "description": "Optional. Metadata associated with the partner link. This is optional and only accepted for partner links with the FEATURE_SET_AD_EVENT_MANAGEMENT."
        },
        "featureSet": {
          "description": "Optional. Immutable. The set of features supported for the partner link. If not specified, the system behavior defaults to FEATURE_SET_AUDIENCE_AND_EVENT_MANAGEMENT.",
          "enumDescriptions": [
            "Unspecified feature set. If unspecified, the system behavior defaults to FEATURE_SET_AUDIENCE_AND_EVENT_MANAGEMENT.",
            "Indicates a link used for audience and event management.",
            "Indicates a link used for ad event management."
          ],
          "type": "string",
          "enum": [
            "FEATURE_SET_UNSPECIFIED",
            "FEATURE_SET_AUDIENCE_AND_EVENT_MANAGEMENT",
            "FEATURE_SET_AD_EVENT_MANAGEMENT"
          ]
        },
        "partnerCustomerAccount": {
          "$ref": "PartnerCustomerAccount",
          "description": "Optional. The customer account in the partner system. This is required for partner links with the FEATURE_SET_AD_EVENT_MANAGEMENT feature set."
        },
        "name": {
          "description": "Identifier. The name of the partner link. Format: accountTypes/{account_type}/accounts/{account}/partnerLinks/{partner_link}",
          "type": "string"
        },
        "partnerLinkId": {
          "readOnly": true,
          "description": "Output only. The partner link ID.",
          "type": "string"
        },
        "partnerAccount": {
          "$ref": "ProductAccount",
          "description": "Required. The partner account granted access by the owning account."
        }
      }
    },
    "UserListGlobalLicenseCustomerInfo": {
      "id": "UserListGlobalLicenseCustomerInfo",
      "description": "Information about a customer of a user list global license. This will automatically be created by the system when a customer purchases a global license.",
      "type": "object",
      "properties": {
        "historicalPricings": {
          "description": "Output only. Pricing history of this user list license.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "UserListLicensePricing"
          }
        },
        "clientAccountId": {
          "type": "string",
          "description": "Output only. ID of client customer which the user list is being licensed to.",
          "format": "int64",
          "readOnly": true
        },
        "clientAccountType": {
          "description": "Output only. Product type of client customer which the user list is being licensed to.",
          "enumDescriptions": [
            "Unknown.",
            "Google Ads customer.",
            "Display & Video 360 partner.",
            "Display & Video 360 advertiser.",
            "Google Ad Manager audience link."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_UNKNOWN",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_GOOGLE_ADS",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_DISPLAY_VIDEO_PARTNER",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_DISPLAY_VIDEO_ADVERTISER",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_GOOGLE_AD_MANAGER_AUDIENCE_LINK"
          ]
        },
        "userListId": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. ID of the user list being licensed."
        },
        "status": {
          "description": "Output only. Status of UserListDirectLicense - ENABLED or DISABLED.",
          "enumDescriptions": [
            "Unknown.",
            "Active status - user list is still being licensed.",
            "Inactive status - user list is no longer being licensed."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "USER_LIST_LICENSE_STATUS_UNSPECIFIED",
            "USER_LIST_LICENSE_STATUS_ENABLED",
            "USER_LIST_LICENSE_STATUS_DISABLED"
          ]
        },
        "metrics": {
          "readOnly": true,
          "$ref": "UserListLicenseMetrics",
          "description": "Output only. Metrics related to this license This field is only populated if the start and end dates are set in the ListUserListGlobalLicenseCustomerInfos call."
        },
        "userListDisplayName": {
          "description": "Output only. Name of the user list being licensed.",
          "type": "string",
          "readOnly": true
        },
        "licenseType": {
          "description": "Output only. Product type of client customer which the user list is being licensed to.",
          "enumDescriptions": [
            "UNSPECIFIED.",
            "Reseller license.",
            "DataMart Sell Side license.",
            "DataMart Buy Side license."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "USER_LIST_GLOBAL_LICENSE_TYPE_UNSPECIFIED",
            "USER_LIST_GLOBAL_LICENSE_TYPE_RESELLER",
            "USER_LIST_GLOBAL_LICENSE_TYPE_DATA_MART_SELL_SIDE",
            "USER_LIST_GLOBAL_LICENSE_TYPE_DATA_MART_BUY_SIDE"
          ]
        },
        "pricing": {
          "$ref": "UserListLicensePricing",
          "readOnly": true,
          "description": "Output only. UserListDirectLicense pricing."
        },
        "clientAccountDisplayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of client customer which the user list is being licensed to."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the user list global license customer."
        }
      }
    },
    "PpidData": {
      "id": "PpidData",
      "description": "Publisher provided identifiers data holding the ppids. At least one ppid is required. This feature is only available to data partners.",
      "type": "object",
      "properties": {
        "ppids": {
          "items": {
            "type": "string"
          },
          "description": "Required. The list of publisher provided identifiers for a user.",
          "type": "array"
        }
      }
    },
    "Event": {
      "id": "Event",
      "description": "An event representing a user interaction with an advertiser's website or app.",
      "type": "object",
      "properties": {
        "transactionId": {
          "type": "string",
          "description": "Optional. The unique identifier for this event. Required for events sent as an additional data source for tag conversions."
        },
        "eventTimestamp": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. The time the event occurred."
        },
        "userId": {
          "description": "Optional. A unique identifier for a user, as defined by the advertiser.",
          "type": "string"
        },
        "destinationReferences": {
          "type": "array",
          "description": "Optional. Reference string used to determine the destination. If empty, the event will be sent to all destinations in the request.",
          "items": {
            "type": "string"
          }
        },
        "eventName": {
          "description": "Optional. The name of the event. Required for GA4 events.",
          "type": "string"
        },
        "additionalEventParameters": {
          "description": "Optional. A bucket of any [event parameters](https://developers.google.com/analytics/devguides/collection/protocol/ga4/reference/events) to be included within the event that were not already specified using other structured fields.",
          "type": "array",
          "items": {
            "$ref": "EventParameter"
          }
        },
        "eventDeviceInfo": {
          "description": "Optional. Information gathered about the device being used (if any) when the event happened.",
          "$ref": "DeviceInfo"
        },
        "customVariables": {
          "type": "array",
          "description": "Optional. Additional key/value pair information to send to the conversion containers (conversion action or FL activity).",
          "items": {
            "$ref": "CustomVariable"
          }
        },
        "experimentalFields": {
          "items": {
            "$ref": "ExperimentalField"
          },
          "type": "array",
          "description": "Optional. A list of key/value pairs for experimental fields that may eventually be promoted to be part of the API."
        },
        "adIdentifiers": {
          "$ref": "AdIdentifiers",
          "description": "Optional. Identifiers and other information used to match the conversion event with other online activity (such as ad clicks)."
        },
        "userData": {
          "$ref": "UserData",
          "description": "Optional. Pieces of user provided data, representing the user the event is associated with."
        },
        "appInstanceId": {
          "description": "Optional. A unique identifier for the user instance of an app client for this GA4 app stream.",
          "type": "string"
        },
        "eventSource": {
          "enum": [
            "EVENT_SOURCE_UNSPECIFIED",
            "WEB",
            "APP",
            "IN_STORE",
            "PHONE",
            "MESSAGE",
            "OTHER"
          ],
          "type": "string",
          "description": "Optional. Signal for where the event happened (web, app, in-store, etc.).",
          "enumDescriptions": [
            "Unspecified EventSource. Should never be used.",
            "The event was generated from a web browser.",
            "The event was generated from an app.",
            "The event was generated from an in-store transaction.",
            "The event was generated from a phone call.",
            "The event was generated from a message.",
            "The event was generated from other sources."
          ]
        },
        "consent": {
          "$ref": "Consent",
          "description": "Optional. Information about whether the associated user has provided different types of consent."
        },
        "conversionValue": {
          "type": "number",
          "description": "Optional. The conversion value associated with the event, for value-based conversions.",
          "format": "double"
        },
        "conversionCount": {
          "description": "Optional. The conversion quantity associated with the event, for counting-based conversions.",
          "type": "number",
          "format": "double"
        },
        "userProperties": {
          "$ref": "UserProperties",
          "description": "Optional. Advertiser-assessed information about the user at the time that the event happened."
        },
        "lastUpdatedTimestamp": {
          "description": "Optional. The last time the event was updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "cartData": {
          "description": "Optional. Information about the transaction and items associated with the event.",
          "$ref": "CartData"
        },
        "clientId": {
          "type": "string",
          "description": "Optional. A unique identifier for the user instance of a web client for this GA4 web stream."
        },
        "thirdPartyUserData": {
          "description": "Optional. The same type of data provided in user_data, but explicitly flagged as being provided as owned by a third-party and not first-party advertiser data.",
          "$ref": "UserData"
        },
        "currency": {
          "type": "string",
          "description": "Optional. The currency code associated with all monetary values within this event."
        },
        "eventLocation": {
          "$ref": "EventLocation",
          "description": "Optional. Information gathered about the location of the user when this event occurred."
        }
      }
    },
    "ViewabilityInfo": {
      "type": "object",
      "properties": {
        "viewablePercent": {
          "description": "Optional. The numerical percent (0-100) of the pixels that were viewable.",
          "type": "integer",
          "format": "int32"
        },
        "mediaQuartile": {
          "type": "string",
          "description": "Optional. The amount of the media that was played as discrete quartiles.",
          "enumDescriptions": [
            "Unspecified media quartile.",
            "Start.",
            "First quartile.",
            "Midpoint.",
            "Third quartile.",
            "Complete."
          ],
          "enum": [
            "MEDIA_QUARTILE_UNSPECIFIED",
            "MEDIA_QUARTILE_START",
            "MEDIA_QUARTILE_FIRST_QUARTILE",
            "MEDIA_QUARTILE_MIDPOINT",
            "MEDIA_QUARTILE_THIRD_QUARTILE",
            "MEDIA_QUARTILE_COMPLETE"
          ]
        },
        "viewType": {
          "enum": [
            "VIEW_TYPE_UNSPECIFIED",
            "VIEW_TYPE_MRC_VIEWED",
            "VIEW_TYPE_MRC_RENDERED"
          ],
          "type": "string",
          "description": "Required. The type of the event.",
          "enumDescriptions": [
[...]
