{
  "discoveryVersion": "v1",
  "id": "dataflow:v1b3",
  "basePath": "",
  "documentationLink": "https://cloud.google.com/dataflow",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "mtlsRootUrl": "https://dataflow.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query",
      "type": "string",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    }
  },
  "endpoints": [
    {
      "endpointUrl": "https://dataflow.africa-south1.rep.googleapis.com/",
      "location": "africa-south1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.asia-east1.rep.googleapis.com/",
      "location": "asia-east1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.asia-east2.rep.googleapis.com/",
      "location": "asia-east2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.asia-northeast1.rep.googleapis.com/",
      "location": "asia-northeast1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.asia-northeast2.rep.googleapis.com/",
      "location": "asia-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.asia-northeast3.rep.googleapis.com/",
      "location": "asia-northeast3",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.asia-south1.rep.googleapis.com/",
      "location": "asia-south1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.asia-south2.rep.googleapis.com/",
      "location": "asia-south2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.asia-southeast1.rep.googleapis.com/",
      "location": "asia-southeast1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.asia-southeast2.rep.googleapis.com/",
      "location": "asia-southeast2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.asia-southeast3.rep.googleapis.com/",
      "location": "asia-southeast3",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.australia-southeast1.rep.googleapis.com/",
      "location": "australia-southeast1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.australia-southeast2.rep.googleapis.com/",
      "location": "australia-southeast2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.europe-central2.rep.googleapis.com/",
      "location": "europe-central2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.europe-north1.rep.googleapis.com/",
      "location": "europe-north1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.europe-north2.rep.googleapis.com/",
      "location": "europe-north2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.europe-southwest1.rep.googleapis.com/",
      "location": "europe-southwest1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.europe-west1.rep.googleapis.com/",
      "location": "europe-west1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.europe-west10.rep.googleapis.com/",
      "location": "europe-west10",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.europe-west12.rep.googleapis.com/",
      "location": "europe-west12",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.europe-west2.rep.googleapis.com/",
      "location": "europe-west2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.europe-west3.rep.googleapis.com/",
      "location": "europe-west3",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.europe-west4.rep.googleapis.com/",
      "location": "europe-west4",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.europe-west6.rep.googleapis.com/",
      "location": "europe-west6",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.europe-west8.rep.googleapis.com/",
      "location": "europe-west8",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.europe-west9.rep.googleapis.com/",
      "location": "europe-west9",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.me-central1.rep.googleapis.com/",
      "location": "me-central1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.me-central2.rep.googleapis.com/",
      "location": "me-central2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.me-west1.rep.googleapis.com/",
      "location": "me-west1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.northamerica-northeast1.rep.googleapis.com/",
      "location": "northamerica-northeast1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.northamerica-northeast2.rep.googleapis.com/",
      "location": "northamerica-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.northamerica-south1.rep.googleapis.com/",
      "location": "northamerica-south1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.southamerica-east1.rep.googleapis.com/",
      "location": "southamerica-east1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.southamerica-west1.rep.googleapis.com/",
      "location": "southamerica-west1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.us-central1.rep.googleapis.com/",
      "location": "us-central1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.us-central2.rep.googleapis.com/",
      "location": "us-central2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.us-east1.rep.googleapis.com/",
      "location": "us-east1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.us-east4.rep.googleapis.com/",
      "location": "us-east4",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.us-east5.rep.googleapis.com/",
      "location": "us-east5",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.us-east7.rep.googleapis.com/",
      "location": "us-east7",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.us-south1.rep.googleapis.com/",
      "location": "us-south1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.us-west1.rep.googleapis.com/",
      "location": "us-west1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.us-west2.rep.googleapis.com/",
      "location": "us-west2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.us-west3.rep.googleapis.com/",
      "location": "us-west3",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.us-west4.rep.googleapis.com/",
      "location": "us-west4",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.us-west8.rep.googleapis.com/",
      "location": "us-west8",
      "description": "Regional Endpoint"
    }
  ],
  "version": "v1b3",
  "ownerDomain": "google.com",
  "revision": "20260623",
  "schemas": {
    "FlattenInstruction": {
      "description": "An instruction that copies its inputs (zero or more) to its (single) output.",
      "type": "object",
      "id": "FlattenInstruction",
      "properties": {
        "inputs": {
          "items": {
            "$ref": "InstructionInput"
          },
          "type": "array",
          "description": "Describes the inputs to the flatten instruction."
        }
      }
    },
    "MetricValue": {
      "id": "MetricValue",
      "properties": {
        "metric": {
          "type": "string",
          "description": "Base name for this metric."
        },
        "valueGauge64": {
          "description": "Non-cumulative int64 value of this metric.",
          "$ref": "DataflowGaugeValue"
        },
        "valueInt64": {
          "description": "Integer value of this metric.",
          "type": "string",
          "format": "int64"
        },
        "metricLabels": {
          "description": "Optional. Set of metric labels for this metric.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "valueHistogram": {
          "description": "Histogram value of this metric.",
          "$ref": "DataflowHistogramValue"
        }
      },
      "type": "object",
      "description": "The value of a metric along with its name and labels."
    },
    "HotKeyDetection": {
      "id": "HotKeyDetection",
      "properties": {
        "hotKeyAge": {
          "format": "google-duration",
          "type": "string",
          "description": "The age of the hot key measured from when it was first detected."
        },
        "userStepName": {
          "type": "string",
          "description": "User-provided name of the step that contains this hot key."
        },
        "systemName": {
          "description": "System-defined name of the step containing this hot key. Unique across the workflow.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Proto describing a hot key detected on a given WorkItem."
    },
    "GPUUtilization": {
      "id": "GPUUtilization",
      "properties": {
        "rate": {
          "format": "double",
          "type": "number",
          "description": "Required. GPU utilization rate of any kernel over the last sample period in the range of [0, 1]."
        }
      },
      "description": "Utilization details about the GPU.",
      "type": "object"
    },
    "Package": {
      "description": "The packages that must be installed in order for a worker to run the steps of the Cloud Dataflow job that will be assigned to its worker pool. This is the mechanism by which the Cloud Dataflow SDK causes code to be loaded onto the workers. For example, the Cloud Dataflow Java SDK might use this to install jars containing the user's code and all of the various dependencies (libraries, data files, etc.) required in order for that code to run.",
      "type": "object",
      "id": "Package",
      "properties": {
        "sha256": {
          "description": "Optional. The hex-encoded SHA256 checksum of the package. If the checksum is provided, the worker will verify the checksum of the package before using it. If the checksum does not match, the worker will fail to start.",
          "type": "string"
        },
        "name": {
          "description": "The name of the package.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "The resource to read the package from. The supported resource type is: Google Cloud Storage: storage.googleapis.com/{bucket} bucket.storage.googleapis.com/"
        }
      }
    },
    "JobExecutionInfo": {
      "type": "object",
      "description": "Additional information about how a Cloud Dataflow job will be executed that isn't contained in the submitted job.",
      "id": "JobExecutionInfo",
      "properties": {
        "stages": {
          "description": "A mapping from each stage to the information about that stage.",
          "type": "object",
          "additionalProperties": {
            "$ref": "JobExecutionStageInfo"
          }
        }
      }
    },
    "WorkerThreadScalingReport": {
      "type": "object",
      "description": "Contains information about the thread scaling information of a worker.",
      "id": "WorkerThreadScalingReport",
      "properties": {
        "currentThreadCount": {
          "description": "Current number of active threads in a worker.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GetTemplateResponse": {
      "id": "GetTemplateResponse",
      "properties": {
        "runtimeMetadata": {
          "description": "Describes the runtime metadata with SDKInfo and available parameters.",
          "$ref": "RuntimeMetadata"
        },
        "status": {
          "description": "The status of the get template request. Any problems with the request will be indicated in the error_details.",
          "$ref": "Status"
        },
        "templateType": {
          "type": "string",
          "description": "Template Type.",
          "enumDescriptions": [
            "Unknown Template Type.",
            "Legacy Template.",
            "Flex Template."
          ],
          "enum": [
            "UNKNOWN",
            "LEGACY",
            "FLEX"
          ]
        },
        "metadata": {
          "description": "The template metadata describing the template name, available parameters, etc.",
          "$ref": "TemplateMetadata"
        }
      },
      "description": "The response to a GetTemplate request.",
      "type": "object"
    },
    "GPUUsage": {
      "description": "Information about the GPU usage on the worker.",
      "type": "object",
      "id": "GPUUsage",
      "properties": {
        "timestamp": {
          "format": "google-datetime",
          "description": "Required. Timestamp of the measurement.",
          "type": "string"
        },
        "utilization": {
          "description": "Required. Utilization info about the GPU.",
          "$ref": "GPUUtilization"
        }
      }
    },
    "DataDiskAssignment": {
      "id": "DataDiskAssignment",
      "properties": {
        "vmInstance": {
          "description": "VM instance name the data disks mounted to, for example \"myproject-1014-104817-4c2-harness-0\".",
          "type": "string"
        },
        "dataDisks": {
          "items": {
            "type": "string"
          },
          "description": "Mounted data disks. The order is important a data disk's 0-based index in this list defines which persistent directory the disk is mounted to, for example the list of { \"myproject-1014-104817-4c2-harness-0-disk-0\" }, { \"myproject-1014-104817-4c2-harness-0-disk-1\" }.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Data disk assignment for a given VM instance."
    },
    "SdkVersion": {
      "id": "SdkVersion",
      "properties": {
        "sdkSupportStatus": {
          "enum": [
            "UNKNOWN",
            "SUPPORTED",
            "STALE",
            "DEPRECATED",
            "UNSUPPORTED"
          ],
          "type": "string",
          "description": "The support status for this SDK version.",
          "enumDescriptions": [
            "Cloud Dataflow is unaware of this version.",
            "This is a known version of an SDK, and is supported.",
            "A newer version of the SDK family exists, and an update is recommended.",
            "This version of the SDK is deprecated and will eventually be unsupported.",
            "Support for this SDK version has ended and it should no longer be used."
          ]
        },
        "versionDisplayName": {
          "description": "A readable string describing the version of the SDK.",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "The version of the SDK used to run the job."
        },
        "bugs": {
          "description": "Output only. Known bugs found in this SDK version.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "SdkBug"
          }
        }
      },
      "description": "The version of the SDK used to run the job.",
      "type": "object"
    },
    "DynamicSourceSplit": {
      "description": "When a task splits using WorkItemStatus.dynamic_source_split, this message describes the two parts of the split relative to the description of the current task's input.",
      "type": "object",
      "id": "DynamicSourceSplit",
      "properties": {
        "residual": {
          "description": "Residual part (returned to the pool of work). Specified relative to the previously-current source.",
          "$ref": "DerivedSource"
        },
        "primary": {
          "description": "Primary part (continued to be processed by worker). Specified relative to the previously-current source. Becomes current.",
          "$ref": "DerivedSource"
        }
      }
    },
    "LaunchFlexTemplateResponse": {
      "type": "object",
      "description": "Response to the request to launch a job from Flex Template.",
      "id": "LaunchFlexTemplateResponse",
      "properties": {
        "job": {
          "description": "The job that was launched, if the request was not a dry run and the job was successfully launched.",
          "$ref": "Job"
        }
      }
    },
    "Position": {
      "description": "Position defines a position within a collection of data. The value can be either the end position, a key (used with ordered collections), a byte offset, or a record index.",
      "type": "object",
      "id": "Position",
      "properties": {
        "end": {
          "type": "boolean",
          "description": "Position is past all other positions. Also useful for the end position of an unbounded range."
        },
        "key": {
          "type": "string",
          "description": "Position is a string key, ordered lexicographically."
        },
        "concatPosition": {
          "description": "CloudPosition is a concat position.",
          "$ref": "ConcatPosition"
        },
        "shufflePosition": {
          "type": "string",
          "description": "CloudPosition is a base64 encoded BatchShufflePosition (with FIXED sharding)."
        },
        "byteOffset": {
          "format": "int64",
          "description": "Position is a byte offset.",
          "type": "string"
        },
        "recordIndex": {
          "type": "string",
          "description": "Position is a record index.",
          "format": "int64"
        }
      }
    },
    "Linear": {
      "description": "Linear buckets with the following boundaries for indices in 0 to n-1. - i in [0, n-1]: [start + (i)*width, start + (i+1)*width)",
      "type": "object",
      "id": "Linear",
      "properties": {
        "start": {
          "format": "double",
          "type": "number",
          "description": "Lower bound of the first bucket."
        },
        "width": {
          "format": "double",
          "type": "number",
          "description": "Distance between bucket boundaries. Must be greater than 0."
        },
        "numberOfBuckets": {
          "type": "integer",
          "description": "Must be greater than 0.",
          "format": "int32"
        }
      }
    },
    "JobMetadata": {
      "id": "JobMetadata",
      "properties": {
        "pubsubDetails": {
          "description": "Identification of a Pub/Sub source used in the Dataflow job.",
          "type": "array",
          "items": {
            "$ref": "PubSubIODetails"
          }
        },
        "datastoreDetails": {
          "items": {
            "$ref": "DatastoreIODetails"
          },
          "description": "Identification of a Datastore source used in the Dataflow job.",
          "type": "array"
        },
        "bigqueryDetails": {
          "items": {
            "$ref": "BigQueryIODetails"
          },
          "description": "Identification of a BigQuery source used in the Dataflow job.",
          "type": "array"
        },
        "sdkVersion": {
          "description": "The SDK version used to run the job.",
          "$ref": "SdkVersion"
        },
        "spannerDetails": {
          "type": "array",
          "description": "Identification of a Spanner source used in the Dataflow job.",
          "items": {
            "$ref": "SpannerIODetails"
          }
        },
        "bigTableDetails": {
          "description": "Identification of a Cloud Bigtable source used in the Dataflow job.",
          "type": "array",
          "items": {
            "$ref": "BigTableIODetails"
          }
        },
        "fileDetails": {
          "items": {
            "$ref": "FileIODetails"
          },
          "description": "Identification of a File source used in the Dataflow job.",
          "type": "array"
        },
        "userDisplayProperties": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "List of display properties to help UI filter jobs.",
          "type": "object"
        }
      },
      "description": "Metadata available primarily for filtering jobs. Will be included in the ListJob response and Job SUMMARY view.",
      "type": "object"
    },
    "SpannerIODetails": {
      "type": "object",
      "description": "Metadata for a Spanner connector used by the job.",
      "id": "SpannerIODetails",
      "properties": {
        "projectId": {
          "description": "ProjectId accessed in the connection.",
          "type": "string"
        },
        "instanceId": {
          "description": "InstanceId accessed in the connection.",
          "type": "string"
        },
        "databaseId": {
          "description": "DatabaseId accessed in the connection.",
          "type": "string"
        }
      }
    },
    "ApproximateSplitRequest": {
      "id": "ApproximateSplitRequest",
      "properties": {
        "fractionOfRemainder": {
          "type": "number",
          "description": "The fraction of the remainder of work to split the work item at, from 0.0 (split at the current position) to 1.0 (end of the input).",
          "format": "double"
        },
        "position": {
          "description": "A Position at which to split the work item.",
          "$ref": "Position"
        },
        "fractionConsumed": {
          "format": "double",
          "type": "number",
          "description": "A fraction at which to split the work item, from 0.0 (beginning of the input) to 1.0 (end of the input)."
        }
      },
      "type": "object",
      "description": "A suggestion by the service to the worker to dynamically split the WorkItem."
    },
    "StreamingApplianceSnapshotConfig": {
      "description": "Streaming appliance snapshot configuration.",
      "type": "object",
      "id": "StreamingApplianceSnapshotConfig",
      "properties": {
        "snapshotId": {
          "description": "If set, indicates the snapshot id for the snapshot being performed.",
          "type": "string"
        },
        "importStateEndpoint": {
          "description": "Indicates which endpoint is used to import appliance state.",
          "type": "string"
        }
      }
    },
    "AutoscalingSettings": {
      "description": "Settings for WorkerPool autoscaling.",
      "type": "object",
      "id": "AutoscalingSettings",
      "properties": {
        "maxNumWorkers": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of workers to cap scaling at."
        },
        "algorithm": {
          "type": "string",
          "description": "The algorithm to use for autoscaling.",
          "enumDescriptions": [
            "The algorithm is unknown, or unspecified.",
            "Disable autoscaling.",
            "Increase worker count over time to reduce job execution time."
          ],
          "enum": [
            "AUTOSCALING_ALGORITHM_UNKNOWN",
            "AUTOSCALING_ALGORITHM_NONE",
            "AUTOSCALING_ALGORITHM_BASIC"
          ]
        }
      }
    },
    "DataflowHistogramValue": {
      "id": "DataflowHistogramValue",
      "properties": {
        "outlierStats": {
          "description": "Statistics on the values recorded in the histogram that fall out of the bucket boundaries.",
          "$ref": "OutlierStats"
        },
        "bucketCounts": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array",
          "description": "Optional. The number of values in each bucket of the histogram, as described in `bucket_options`. `bucket_counts` should contain N values, where N is the number of buckets specified in `bucket_options`. If `bucket_counts` has fewer than N values, the remaining values are assumed to be 0."
        },
        "count": {
          "format": "int64",
          "description": "Number of values recorded in this histogram.",
          "type": "string"
        },
        "bucketOptions": {
          "description": "Describes the bucket boundaries used in the histogram.",
          "$ref": "BucketOptions"
        }
      },
      "type": "object",
      "description": "Summary statistics for a population of values. HistogramValue contains a sequence of buckets and gives a count of values that fall into each bucket. Bucket boundares are defined by a formula and bucket widths are either fixed or exponentially increasing."
    },
    "RuntimeEnvironment": {
      "id": "RuntimeEnvironment",
      "properties": {
        "bypassTempDirValidation": {
          "description": "Optional. Whether to bypass the safety checks for the job's temporary directory. Use with caution.",
          "type": "boolean"
        },
        "workerRegion": {
          "description": "Required. The Compute Engine region (https://cloud.google.com/compute/docs/regions-zones/regions-zones) in which worker processing should occur, e.g. \"us-west1\". Mutually exclusive with worker_zone. If neither worker_region nor worker_zone is specified, default to the control plane's region.",
          "type": "string"
        },
        "diskSizeGb": {
          "format": "int32",
          "description": "Optional. The disk size, in gigabytes, to use on each remote Compute Engine worker instance.",
          "type": "integer"
        },
        "tempLocation": {
          "description": "Required. The Cloud Storage path to use for temporary files. Must be a valid Cloud Storage URL, beginning with `gs://`.",
          "type": "string"
        },
        "maxWorkers": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The maximum number of Google Compute Engine instances to be made available to your pipeline during execution, from 1 to 1000. The default value is 1."
        },
        "additionalExperiments": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Additional experiment flags for the job, specified with the `--experiments` option."
        },
        "workerZone": {
          "description": "Optional. The Compute Engine zone (https://cloud.google.com/compute/docs/regions-zones/regions-zones) in which worker processing should occur, e.g. \"us-west1-a\". Mutually exclusive with worker_region. If neither worker_region nor worker_zone is specified, a zone in the control plane's region is chosen based on available capacity. If both `worker_zone` and `zone` are set, `worker_zone` takes precedence.",
          "type": "string"
        },
        "subnetwork": {
          "description": "Optional. Subnetwork to which VMs will be assigned, if desired. You can specify a subnetwork using either a complete URL or an abbreviated path. Expected to be of the form \"https://www.googleapis.com/compute/v1/projects/HOST_PROJECT_ID/regions/REGION/subnetworks/SUBNETWORK\" or \"regions/REGION/subnetworks/SUBNETWORK\". If the subnetwork is located in a Shared VPC network, you must use the complete URL.",
          "type": "string"
        },
        "ipConfiguration": {
          "enum": [
            "WORKER_IP_UNSPECIFIED",
            "WORKER_IP_PUBLIC",
            "WORKER_IP_PRIVATE"
          ],
          "type": "string",
          "description": "Optional. Configuration for VM IPs.",
          "enumDescriptions": [
            "The configuration is unknown, or unspecified.",
            "Workers should have public IP addresses.",
            "Workers should have private IP addresses."
          ]
        },
        "additionalUserLabels": {
          "description": "Optional. Additional user labels to be specified for the job. Keys and values should follow the restrictions specified in the [labeling restrictions](https://cloud.google.com/compute/docs/labeling-resources#restrictions) page. An object containing a list of \"key\": value pairs. Example: { \"name\": \"wrench\", \"mass\": \"1kg\", \"count\": \"3\" }.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "machineType": {
          "type": "string",
          "description": "Optional. The machine type to use for the job. Defaults to the value from the template if not specified."
        },
        "kmsKeyName": {
          "type": "string",
          "description": "Optional. Name for the Cloud KMS key for the job. Key format is: projects//locations//keyRings//cryptoKeys/"
        },
        "numWorkers": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The initial number of Google Compute Engine instances for the job. The default value is 11."
        },
        "zone": {
          "type": "string",
          "description": "Optional. The Compute Engine [availability zone](https://cloud.google.com/compute/docs/regions-zones/regions-zones) for launching worker instances to run your pipeline. In the future, worker_zone will take precedence."
        },
        "additionalPipelineOptions": {
          "type": "array",
          "description": "Optional. Additional pipeline option flags for the job.",
          "items": {
            "type": "string"
          }
        },
        "enableStreamingEngine": {
          "description": "Optional. Whether to enable Streaming Engine for the job.",
          "type": "boolean"
        },
        "streamingMode": {
          "description": "Optional. Specifies the Streaming Engine message processing guarantees. Reduces cost and latency but might result in duplicate messages committed to storage. Designed to run simple mapping streaming ETL jobs at the lowest cost. For example, Change Data Capture (CDC) to BigQuery is a canonical use case. For more information, see [Set the pipeline streaming mode](https://cloud.google.com/dataflow/docs/guides/streaming-modes).",
          "enumDescriptions": [
            "Run in the default mode.",
            "In this mode, message deduplication is performed against persistent state to make sure each message is processed and committed to storage exactly once.",
            "Message deduplication is not performed. Messages might be processed multiple times, and the results are applied multiple times. Note: Setting this value also enables Streaming Engine and Streaming Engine resource-based billing."
          ],
          "type": "string",
          "enum": [
            "STREAMING_MODE_UNSPECIFIED",
            "STREAMING_MODE_EXACTLY_ONCE",
            "STREAMING_MODE_AT_LEAST_ONCE"
          ]
        },
        "network": {
          "type": "string",
          "description": "Optional. Network to which VMs will be assigned. If empty or unspecified, the service will use the network \"default\"."
        },
        "serviceAccountEmail": {
          "type": "string",
          "description": "Optional. The email address of the service account to run the job as."
        }
      },
      "type": "object",
      "description": "The environment values to set at runtime."
    },
    "WorkItemServiceState": {
      "type": "object",
      "description": "The Dataflow service's idea of the current state of a WorkItem being processed by a worker.",
      "id": "WorkItemServiceState",
      "properties": {
        "completeWorkStatus": {
          "description": "If set, a request to complete the work item with the given status. This will not be set to OK, unless supported by the specific kind of WorkItem. It can be used for the backend to indicate a WorkItem must terminate, e.g., for aborting work.",
          "$ref": "Status"
        },
        "suggestedStopPoint": {
          "deprecated": true,
          "description": "DEPRECATED in favor of split_request.",
          "$ref": "ApproximateProgress"
        },
        "suggestedStopPosition": {
          "deprecated": true,
          "description": "Obsolete, always empty.",
          "$ref": "Position"
        },
        "metricShortId": {
          "description": "The short ids that workers should use in subsequent metric updates. Workers should strive to use short ids whenever possible, but it is ok to request the short_id again if a worker lost track of it (e.g. if the worker is recovering from a crash). NOTE: it is possible that the response may have short ids for a subset of the metrics.",
          "type": "array",
          "items": {
            "$ref": "MetricShortId"
          }
        },
        "harnessData": {
          "description": "Other data returned by the service, specific to the particular worker harness.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "nextReportIndex": {
          "format": "int64",
          "type": "string",
          "description": "The index value to use for the next report sent by the worker. Note: If the report call fails for whatever reason, the worker should reuse this index for subsequent report attempts."
        },
        "reportStatusInterval": {
          "type": "string",
          "description": "New recommended reporting interval.",
          "format": "google-duration"
        },
        "hotKeyDetection": {
          "description": "A hot key is a symptom of poor data distribution in which there are enough elements mapped to a single key to impact pipeline performance. When present, this field includes metadata associated with any hot key.",
          "$ref": "HotKeyDetection"
        },
        "leaseExpireTime": {
          "type": "string",
          "description": "Time at which the current lease will expire.",
          "format": "google-datetime"
        },
        "splitRequest": {
          "description": "The progress point in the WorkItem where the Dataflow service suggests that the worker truncate the task.",
          "$ref": "ApproximateSplitRequest"
        }
      }
    },
    "Base2Exponent": {
      "id": "Base2Exponent",
      "properties": {
        "numberOfBuckets": {
          "description": "Must be greater than 0.",
          "type": "integer",
          "format": "int32"
        },
        "scale": {
          "description": "Must be between -3 and 3. This forces the growth factor of the bucket boundaries to be between `2^(1/8)` and `256`.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Exponential buckets where the growth factor between buckets is `2**(2**-scale)`. e.g. for `scale=1` growth factor is `2**(2**(-1))=sqrt(2)`. `n` buckets will have the following boundaries. - 0th: [0, gf) - i in [1, n-1]: [gf^(i), gf^(i+1))",
      "type": "object"
    },
    "ComputationTopology": {
      "type": "object",
      "description": "All configuration data for a particular Computation.",
      "id": "ComputationTopology",
      "properties": {
        "computationId": {
          "type": "string",
          "description": "The ID of the computation."
        },
        "outputs": {
          "description": "The outputs from the computation.",
          "type": "array",
          "items": {
            "$ref": "StreamLocation"
          }
        },
        "systemStageName": {
          "description": "The system stage name.",
          "type": "string"
        },
        "keyRanges": {
          "items": {
            "$ref": "KeyRangeLocation"
          },
          "description": "The key ranges processed by the computation.",
          "type": "array"
        },
        "inputs": {
          "description": "The inputs to the computation.",
          "type": "array",
          "items": {
            "$ref": "StreamLocation"
          }
        },
        "stateFamilies": {
          "items": {
            "$ref": "StateFamilyConfig"
          },
          "description": "The state family values.",
          "type": "array"
        }
      }
    },
    "ListJobsResponse": {
      "description": "Response to a request to list Cloud Dataflow jobs in a project. This might be a partial response, depending on the page size in the ListJobsRequest. However, if the project does not have any jobs, an instance of ListJobsResponse is not returned and the requests's response body is empty {}.",
      "type": "object",
      "id": "ListJobsResponse",
      "properties": {
        "jobs": {
          "items": {
            "$ref": "Job"
          },
          "description": "A subset of the requested job information.",
          "type": "array"
        },
        "failedLocation": {
          "items": {
            "$ref": "FailedLocation"
          },
          "type": "array",
          "description": "Zero or more messages describing the [regional endpoints] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that failed to respond."
        },
        "nextPageToken": {
          "description": "Set if there may be more results than fit in this response.",
          "type": "string"
        }
      }
    },
    "WorkerHealthReportResponse": {
      "description": "WorkerHealthReportResponse contains information returned to the worker in response to a health ping.",
      "type": "object",
      "id": "WorkerHealthReportResponse",
      "properties": {
        "reportInterval": {
          "type": "string",
          "description": "A positive value indicates the worker should change its reporting interval to the specified value. The default value of zero means no change in report rate is requested by the server.",
          "format": "google-duration"
        }
      }
    },
    "CounterStructuredNameAndMetadata": {
      "id": "CounterStructuredNameAndMetadata",
      "properties": {
        "metadata": {
          "description": "Metadata associated with a counter",
          "$ref": "CounterMetadata"
        },
        "name": {
          "description": "Structured name of the counter.",
          "$ref": "CounterStructuredName"
        }
      },
      "type": "object",
      "description": "A single message which encapsulates structured name and metadata for a given counter."
    },
    "SnapshotJobRequest": {
      "description": "Request to create a snapshot of a job.",
      "type": "object",
      "id": "SnapshotJobRequest",
      "properties": {
        "description": {
          "type": "string",
          "description": "User specified description of the snapshot. Maybe empty."
        },
        "ttl": {
          "type": "string",
          "description": "TTL for the snapshot.",
          "format": "google-duration"
        },
        "location": {
          "description": "The location that contains this job.",
          "type": "string"
        },
        "snapshotSources": {
          "type": "boolean",
          "description": "If true, perform snapshots for sources which support this."
        }
      }
    },
    "CounterStructuredName": {
      "description": "Identifies a counter within a per-job namespace. Counters whose structured names are the same get merged into a single value for the job.",
      "type": "object",
      "id": "CounterStructuredName",
      "properties": {
        "portion": {
          "enum": [
            "ALL",
            "KEY",
            "VALUE"
          ],
          "type": "string",
          "description": "Portion of this counter, either key or value.",
          "enumDescriptions": [
            "Counter portion has not been set.",
            "Counter reports a key.",
            "Counter reports a value."
          ]
        },
        "originalStepName": {
          "description": "System generated name of the original step in the user's graph, before optimization.",
          "type": "string"
        },
        "executionStepName": {
          "type": "string",
          "description": "Name of the stage. An execution step contains multiple component steps."
        },
        "workerId": {
          "description": "ID of a particular worker.",
          "type": "string"
        },
        "inputIndex": {
          "format": "int32",
          "type": "integer",
          "description": "Index of an input collection that's being read from/written to as a side input. The index identifies a step's side inputs starting by 1 (e.g. the first side input has input_index 1, the third has input_index 3). Side inputs are identified by a pair of (original_step_name, input_index). This field helps uniquely identify them."
        },
        "originNamespace": {
          "description": "A string containing a more specific namespace of the counter's origin.",
          "type": "string"
        },
        "componentStepName": {
          "type": "string",
          "description": "Name of the optimized step being executed by the workers."
        },
        "originalRequestingStepName": {
          "description": "The step name requesting an operation, such as GBK. I.e. the ParDo causing a read/write from shuffle to occur, or a read from side inputs.",
          "type": "string"
        },
        "origin": {
          "description": "One of the standard Origins defined above.",
          "enumDescriptions": [
            "Counter was created by the Dataflow system.",
            "Counter was created by the user."
          ],
          "type": "string",
          "enum": [
            "SYSTEM",
            "USER"
          ]
        },
        "name": {
          "type": "string",
          "description": "Counter name. Not necessarily globally-unique, but unique within the context of the other fields. Required."
        }
      }
    },
    "TopologyConfig": {
      "id": "TopologyConfig",
      "properties": {
        "dataDiskAssignments": {
          "type": "array",
          "description": "The disks assigned to a streaming Dataflow job.",
          "items": {
            "$ref": "DataDiskAssignment"
          }
        },
        "userStageToComputationNameMap": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Maps user stage names to stable computation names."
        },
        "computations": {
          "items": {
            "$ref": "ComputationTopology"
          },
          "type": "array",
          "description": "The computations associated with a streaming Dataflow job."
        },
        "persistentStateVersion": {
          "type": "integer",
          "description": "Version number for persistent state.",
          "format": "int32"
        },
        "forwardingKeyBits": {
          "format": "int32",
          "description": "The size (in bits) of keys that will be assigned to source messages.",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "Global topology of the streaming Dataflow job, including all computations and their sharded locations."
    },
    "RuntimeMetadata": {
      "id": "RuntimeMetadata",
      "properties": {
        "parameters": {
          "description": "The parameters for the template.",
          "type": "array",
          "items": {
            "$ref": "ParameterMetadata"
          }
        },
        "sdkInfo": {
          "description": "SDK Info for the template.",
          "$ref": "SDKInfo"
        }
      },
      "description": "RuntimeMetadata describing a runtime environment.",
      "type": "object"
    },
    "TaskRunnerSettings": {
      "id": "TaskRunnerSettings",
      "properties": {
        "baseUrl": {
          "description": "The base URL for the taskrunner to use when accessing Google Cloud APIs. When workers access Google Cloud APIs, they logically do so via relative URLs. If this field is specified, it supplies the base URL to use for resolving these relative URLs. The normative algorithm used is defined by RFC 1808, \"Relative Uniform Resource Locators\". If not specified, the default value is \"http://www.googleapis.com/\"",
          "type": "string"
        },
        "dataflowApiVersion": {
          "description": "The API version of endpoint, e.g. \"v1b3\"",
          "type": "string"
        },
        "alsologtostderr": {
          "type": "boolean",
          "description": "Whether to also send taskrunner log info to stderr."
        },
        "logUploadLocation": {
          "description": "Indicates where to put logs. If this is not specified, the logs will not be uploaded. The supported resource type is: Google Cloud Storage: storage.googleapis.com/{bucket}/{object} bucket.storage.googleapis.com/{object}",
          "type": "string"
        },
        "tempStoragePrefix": {
          "description": "The prefix of the resources the taskrunner should use for temporary storage. The supported resource type is: Google Cloud Storage: storage.googleapis.com/{bucket}/{object} bucket.storage.googleapis.com/{object}",
          "type": "string"
        },
        "vmId": {
          "type": "string",
          "description": "The ID string of the VM."
        },
        "logDir": {
          "type": "string",
          "description": "The directory on the VM to store logs."
        },
        "languageHint": {
          "type": "string",
          "description": "The suggested backend language."
        },
        "harnessCommand": {
          "type": "string",
          "description": "The command to launch the worker harness."
        },
        "workflowFileName": {
          "type": "string",
          "description": "The file to store the workflow in."
        },
        "streamingWorkerMainClass": {
          "description": "The streaming worker main class name.",
          "type": "string"
        },
        "continueOnException": {
          "type": "boolean",
          "description": "Whether to continue taskrunner if an exception is hit."
        },
        "baseTaskDir": {
          "type": "string",
          "description": "The location on the worker for task-specific subdirectories."
        },
        "taskGroup": {
          "description": "The UNIX group ID on the worker VM to use for tasks launched by taskrunner; e.g. \"wheel\".",
          "type": "string"
        },
        "commandlinesFileName": {
          "description": "The file to store preprocessing commands in.",
          "type": "string"
        },
        "taskUser": {
          "description": "The UNIX user ID on the worker VM to use for tasks launched by taskrunner; e.g. \"root\".",
          "type": "string"
        },
        "oauthScopes": {
          "items": {
            "type": "string"
          },
          "description": "The OAuth2 scopes to be requested by the taskrunner in order to access the Cloud Dataflow API.",
          "type": "array"
        },
        "logToSerialconsole": {
          "description": "Whether to send taskrunner log info to Google Compute Engine VM serial console.",
          "type": "boolean"
        },
        "parallelWorkerSettings": {
          "description": "The settings to pass to the parallel worker harness.",
          "$ref": "WorkerSettings"
        }
      },
      "type": "object",
      "description": "Taskrunner configuration settings."
    },
    "ComponentTransform": {
      "id": "ComponentTransform",
      "properties": {
        "originalTransform": {
          "type": "string",
          "description": "User name for the original user transform with which this transform is most closely associated."
        },
        "userName": {
          "type": "string",
          "description": "Human-readable name for this transform; may be user or system generated."
        },
        "name": {
          "description": "Dataflow service generated name for this source.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Description of a transform executed as part of an execution stage."
    },
    "DatastoreIODetails": {
      "type": "object",
      "description": "Metadata for a Datastore connector used by the job.",
      "id": "DatastoreIODetails",
      "properties": {
        "projectId": {
          "description": "ProjectId accessed in the connection.",
          "type": "string"
        },
        "namespace": {
          "description": "Namespace used in the connection.",
          "type": "string"
        }
      }
    },
    "ComponentSource": {
      "id": "ComponentSource",
      "properties": {
        "userName": {
          "type": "string",
          "description": "Human-readable name for this transform; may be user or system generated."
        },
        "name": {
          "type": "string",
          "description": "Dataflow service generated name for this source."
        },
        "originalTransformOrCollection": {
          "description": "User name for the original user transform or collection with which this source is most closely associated.",
          "type": "string"
        }
      },
      "description": "Description of an interstitial value between transforms in an execution stage.",
      "type": "object"
    },
    "WorkerPool": {
      "type": "object",
      "description": "Describes one particular pool of Cloud Dataflow workers to be instantiated by the Cloud Dataflow service in order to perform the computations required by a job. Note that a workflow job may use multiple pools, in order to match the various computational requirements of the various stages of the job.",
      "id": "WorkerPool",
      "properties": {
        "kind": {
          "description": "The kind of the worker pool; currently only `harness` and `shuffle` are supported.",
          "type": "string"
        },
        "diskSizeGb": {
          "format": "int32",
          "type": "integer",
          "description": "Size of root disk for VMs, in GB. If zero or unspecified, the service will attempt to choose a reasonable default."
        },
        "diskProvisionedThroughputMibps": {
          "format": "int64",
          "description": "Optional. Throughput provisioned for the root disk for VMs.",
          "type": "string"
        },
        "diskSourceImage": {
          "type": "string",
          "description": "Fully qualified source image for disks."
        },
        "teardownPolicy": {
          "enum": [
            "TEARDOWN_POLICY_UNKNOWN",
            "TEARDOWN_ALWAYS",
            "TEARDOWN_ON_SUCCESS",
            "TEARDOWN_NEVER"
          ],
          "type": "string",
          "description": "Sets the policy for determining when to turndown worker pool. Allowed values are: `TEARDOWN_ALWAYS`, `TEARDOWN_ON_SUCCESS`, and `TEARDOWN_NEVER`. `TEARDOWN_ALWAYS` means workers are always torn down regardless of whether the job succeeds. `TEARDOWN_ON_SUCCESS` means workers are torn down if the job succeeds. `TEARDOWN_NEVER` means the workers are never torn down. If the workers are not torn down by the service, they will continue to run and use Google Compute Engine VM resources in the user's project until they are explicitly terminated by the user. Because of this, Google recommends using the `TEARDOWN_ALWAYS` policy except for small, manually supervised test jobs. If unknown or unspecified, the service will attempt to choose a reasonable default.",
          "enumDescriptions": [
            "The teardown policy isn't specified, or is unknown.",
            "Always teardown the resource.",
            "Teardown the resource on success. This is useful for debugging failures.",
            "Never teardown the resource. This is useful for debugging and development."
          ]
        },
        "onHostMaintenance": {
          "description": "The action to take on host maintenance, as defined by the Google Compute Engine API.",
          "type": "string"
        },
        "poolArgs": {
          "type": "object",
          "description": "Extra arguments for this worker pool.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "taskrunnerSettings": {
          "description": "Settings passed through to Google Compute Engine workers when using the standard Dataflow task runner. Users should ignore this field.",
          "$ref": "TaskRunnerSettings"
        },
        "subnetwork": {
          "type": "string",
          "description": "Subnetwork to which VMs will be assigned, if desired. Expected to be of the form \"regions/REGION/subnetworks/SUBNETWORK\"."
        },
        "ipConfiguration": {
          "description": "Configuration for VM IPs.",
          "enumDescriptions": [
            "The configuration is unknown, or unspecified.",
            "Workers should have public IP addresses.",
            "Workers should have private IP addresses."
          ],
          "type": "string",
          "enum": [
            "WORKER_IP_UNSPECIFIED",
            "WORKER_IP_PUBLIC",
            "WORKER_IP_PRIVATE"
          ]
        },
        "diskProvisionedIops": {
          "format": "int64",
          "type": "string",
          "description": "Optional. IOPS provisioned for the root disk for VMs."
        },
        "workerHarnessContainerImage": {
          "description": "Required. Docker container image that executes the Cloud Dataflow worker harness, residing in Google Container Registry. Deprecated for the Fn API path. Use sdk_harness_container_images instead.",
          "type": "string"
        },
        "diskType": {
          "type": "string",
          "description": "Type of root disk for VMs. If empty or unspecified, the service will attempt to choose a reasonable default."
        },
        "machineType": {
          "description": "Machine type (e.g. \"n1-standard-1\"). If empty or unspecified, the service will attempt to choose a reasonable default.",
          "type": "string"
        },
        "autoscalingSettings": {
          "description": "Settings for autoscaling of this WorkerPool.",
          "$ref": "AutoscalingSettings"
        },
        "numThreadsPerWorker": {
          "format": "int32",
          "description": "The number of threads per worker harness. If empty or unspecified, the service will choose a number of threads (according to the number of cores on the selected machine type for batch, or 1 by convention for streaming).",
          "type": "integer"
        },
        "sdkHarnessContainerImages": {
          "type": "array",
          "description": "Set of SDK harness containers needed to execute this pipeline. This will only be set in the Fn API path. For non-cross-language pipelines this should have only one entry. Cross-language pipelines will have two or more entries.",
          "items": {
            "$ref": "SdkHarnessContainerImage"
          }
        },
        "numWorkers": {
          "description": "Number of Google Compute Engine workers in this pool needed to execute the job. If zero or unspecified, the service will attempt to choose a reasonable default.",
          "type": "integer",
          "format": "int32"
        },
        "zone": {
          "description": "Zone to run the worker pools in. If empty or unspecified, the service will attempt to choose a reasonable default.",
          "type": "string"
        },
        "dataDisks": {
          "description": "Data disks that are used by a VM in this workflow.",
          "type": "array",
          "items": {
            "$ref": "Disk"
          }
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Metadata to set on the Google Compute Engine VMs."
        },
        "network": {
          "type": "string",
          "description": "Network to which VMs will be assigned. If empty or unspecified, the service will use the network \"default\"."
        },
        "packages": {
          "items": {
            "$ref": "Package"
          },
          "description": "Packages to be installed on workers.",
          "type": "array"
        },
        "defaultPackageSet": {
          "type": "string",
          "description": "The default package set to install. This allows the service to select a default set of packages which are useful to worker harnesses written in a particular language.",
          "enumDescriptions": [
            "The default set of packages to stage is unknown, or unspecified.",
            "Indicates that no packages should be staged at the worker unless explicitly specified by the job.",
            "Stage packages typically useful to workers written in Java.",
            "Stage packages typically useful to workers written in Python."
          ],
          "enum": [
            "DEFAULT_PACKAGE_SET_UNKNOWN",
            "DEFAULT_PACKAGE_SET_NONE",
            "DEFAULT_PACKAGE_SET_JAVA",
            "DEFAULT_PACKAGE_SET_PYTHON"
          ]
        }
      }
    },
    "LeaseWorkItemResponse": {
      "id": "LeaseWorkItemResponse",
      "properties": {
        "workItems": {
          "description": "A list of the leased WorkItems.",
          "type": "array",
          "items": {
            "$ref": "WorkItem"
          }
        },
        "unifiedWorkerResponse": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Untranslated bag-of-bytes WorkResponse for UnifiedWorker."
        }
      },
      "description": "Response to a request to lease WorkItems.",
      "type": "object"
    },
    "MetricShortId": {
      "description": "The metric short id is returned to the user alongside an offset into ReportWorkItemStatusRequest",
      "type": "object",
      "id": "MetricShortId",
      "properties": {
        "metricIndex": {
          "format": "int32",
          "description": "The index of the corresponding metric in the ReportWorkItemStatusRequest. Required.",
          "type": "integer"
        },
        "shortId": {
          "type": "string",
          "description": "The service-generated short identifier for the metric.",
          "format": "int64"
        }
      }
    },
    "SendDebugCaptureResponse": {
      "id": "SendDebugCaptureResponse",
      "properties": {},
      "description": "Response to a send capture request. nothing",
      "type": "object"
    },
    "SendWorkerMessagesRequest": {
      "id": "SendWorkerMessagesRequest",
      "properties": {
        "workerMessages": {
          "items": {
            "$ref": "WorkerMessage"
          },
          "type": "array",
          "description": "The WorkerMessages to send."
        },
        "location": {
          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A request for sending worker messages to the service."
    },
    "WorkerHealthReport": {
      "id": "WorkerHealthReport",
      "properties": {
        "vmIsBroken": {
          "type": "boolean",
          "description": "Whether the VM is in a permanently broken state. Broken VMs should be abandoned or deleted ASAP to avoid assigning or completing any work."
        },
        "pods": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object."
            },
            "type": "object"
          },
          "description": "The pods running on the worker. See: http://kubernetes.io/v1.1/docs/api-reference/v1/definitions.html#_v1_pod This field is used by the worker to send the status of the indvidual containers running on each worker.",
          "type": "array"
        },
        "msg": {
          "description": "Message describing any unusual health reports.",
          "type": "string"
        },
        "vmStartupTime": {
          "type": "string",
          "description": "The time the VM was booted.",
          "format": "google-datetime"
        },
        "vmIsHealthy": {
          "description": "Whether the VM is currently healthy.",
          "type": "boolean"
        },
        "vmBrokenCode": {
          "description": "Code to describe a specific reason, if known, that a VM has reported broken state.",
          "type": "string"
        },
        "reportInterval": {
          "format": "google-duration",
          "type": "string",
          "description": "The interval at which the worker is sending health reports. The default value of 0 should be interpreted as the field is not being explicitly set by the worker."
        }
      },
      "description": "WorkerHealthReport contains information about the health of a worker. The VM should be identified by the labels attached to the WorkerMessage that this health ping belongs to.",
      "type": "object"
    },
    "StragglerDebuggingInfo": {
      "description": "Information useful for debugging a straggler. Each type will provide specialized debugging information relevant for a particular cause. The StragglerDebuggingInfo will be 1:1 mapping to the StragglerCause enum.",
      "type": "object",
      "id": "StragglerDebuggingInfo",
      "properties": {
        "hotKey": {
          "description": "Hot key debugging details.",
          "$ref": "HotKeyDebuggingInfo"
        }
      }
    },
    "PipelineDescription": {
      "type": "object",
      "description": "A descriptive representation of submitted pipeline as well as the executed form. This data is provided by the Dataflow service for ease of visualizing the pipeline and interpreting Dataflow provided metrics.",
      "id": "PipelineDescription",
      "properties": {
        "executionPipelineStage": {
          "description": "Description of each stage of execution of the pipeline.",
          "type": "array",
          "items": {
            "$ref": "ExecutionStageSummary"
          }
        },
        "stepNamesHash": {
          "type": "string",
          "description": "A hash value of the submitted pipeline portable graph step names if exists."
        },
        "originalPipelineTransform": {
          "type": "array",
          "description": "Description of each transform in the pipeline and collections between them.",
          "items": {
            "$ref": "TransformSummary"
          }
        },
        "displayData": {
          "items": {
            "$ref": "DisplayData"
          },
          "type": "array",
          "description": "Pipeline level display data."
        }
      }
    },
    "FailedLocation": {
      "id": "FailedLocation",
      "properties": {
        "name": {
          "description": "The name of the [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that failed to respond.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Indicates which [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) failed to respond to a request for data."
    },
    "CounterUpdate": {
      "id": "CounterUpdate",
      "properties": {
        "floatingPoint": {
          "format": "double",
          "type": "number",
          "description": "Floating point value for Sum, Max, Min."
        },
        "structuredNameAndMetadata": {
          "description": "Counter structured name and metadata.",
          "$ref": "CounterStructuredNameAndMetadata"
        },
        "boolean": {
          "type": "boolean",
          "description": "Boolean value for And, Or."
        },
        "shortId": {
          "type": "string",
          "description": "The service-generated short identifier for this counter. The short_id -> (name, metadata) mapping is constant for the lifetime of a job.",
          "format": "int64"
        },
        "nameAndKind": {
          "description": "Counter name and aggregation type.",
          "$ref": "NameAndKind"
        },
        "internal": {
          "description": "Value for internally-defined counters used by the Dataflow service.",
          "type": "any"
        },
        "distribution": {
          "description": "Distribution data",
          "$ref": "DistributionUpdate"
        },
        "stringList": {
          "description": "List of strings, for Set.",
          "$ref": "StringList"
        },
        "integer": {
          "description": "Integer value for Sum, Max, Min.",
          "$ref": "SplitInt64"
        },
        "boundedTrie": {
          "description": "Bounded trie data",
          "$ref": "BoundedTrie"
        },
        "integerGauge": {
          "description": "Gauge data",
          "$ref": "IntegerGauge"
        },
        "floatingPointList": {
          "description": "List of floating point numbers, for Set.",
          "$ref": "FloatingPointList"
        },
        "cumulative": {
          "type": "boolean",
          "description": "True if this counter is reported as the total cumulative aggregate value accumulated since the worker started working on this WorkItem. By default this is false, indicating that this counter is reported as a delta."
        },
        "floatingPointMean": {
          "description": "Floating point mean aggregation value for Mean.",
          "$ref": "FloatingPointMean"
        },
        "integerMean": {
          "description": "Integer mean aggregation value for Mean.",
          "$ref": "IntegerMean"
        },
        "integerList": {
          "description": "List of integers, for Set.",
          "$ref": "IntegerList"
        }
      },
      "description": "An update to a Counter sent from a worker. Next ID: 17",
      "type": "object"
    },
    "ServiceResources": {
      "description": "Resources used by the Dataflow Service to run the job.",
      "type": "object",
      "id": "ServiceResources",
      "properties": {
        "zones": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. List of Cloud Zones being used by the Dataflow Service for this job. Example: us-central1-c"
        }
      }
    },
    "AutoscalingEvent": {
      "id": "AutoscalingEvent",
      "properties": {
        "targetNumWorkers": {
          "format": "int64",
          "description": "The target number of workers the worker pool wants to resize to use.",
          "type": "string"
        },
        "eventType": {
          "description": "The type of autoscaling event to report.",
          "enumDescriptions": [
            "Default type for the enum. Value should never be returned.",
            "The TARGET_NUM_WORKERS_CHANGED type should be used when the target worker pool size has changed at the start of an actuation. An event should always be specified as TARGET_NUM_WORKERS_CHANGED if it reflects a change in the target_num_workers.",
            "The CURRENT_NUM_WORKERS_CHANGED type should be used when actual worker pool size has been changed, but the target_num_workers has not changed.",
            "The ACTUATION_FAILURE type should be used when we want to report an error to the user indicating why the current number of workers in the pool could not be changed. Displayed in the current status and history widgets.",
            "Used when we want to report to the user a reason why we are not currently adjusting the number of workers. Should specify both target_num_workers, current_num_workers and a decision_message."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNKNOWN",
            "TARGET_NUM_WORKERS_CHANGED",
            "CURRENT_NUM_WORKERS_CHANGED",
            "ACTUATION_FAILURE",
            "NO_CHANGE"
          ]
        },
        "description": {
          "description": "A message describing why the system decided to adjust the current number of workers, why it failed, or why the system decided to not make any changes to the number of workers.",
          "$ref": "StructuredMessage"
        },
        "currentNumWorkers": {
          "format": "int64",
          "type": "string",
          "description": "The current number of workers the job has."
        },
        "time": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time this event was emitted to indicate a new target or current num_workers value."
        },
        "workerPool": {
          "description": "A short and friendly name for the worker pool this event refers to.",
          "type": "string"
        }
      },
      "description": "A structured message reporting an autoscaling decision made by the Dataflow service.",
      "type": "object"
    },
    "PerWorkerMetrics": {
      "id": "PerWorkerMetrics",
      "properties": {
        "perStepNamespaceMetrics": {
          "description": "Optional. Metrics for a particular unfused step and namespace.",
          "type": "array",
          "items": {
            "$ref": "PerStepNamespaceMetrics"
          }
        }
      },
      "type": "object",
      "description": "Per worker metrics."
    },
    "Point": {
      "id": "Point",
      "properties": {
        "time": {
          "format": "google-datetime",
          "description": "The timestamp of the point.",
          "type": "string"
        },
        "value": {
          "format": "double",
          "type": "number",
          "description": "The value of the point."
        }
      },
      "type": "object",
      "description": "A point in the timeseries."
    },
    "TransformSummary": {
      "description": "Description of the type, names/ids, and input/outputs for a transform.",
      "type": "object",
      "id": "TransformSummary",
      "properties": {
        "outputCollectionName": {
          "type": "array",
          "description": "User names for all collection outputs to this transform.",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "User provided name for this transform instance.",
          "type": "string"
        },
        "displayData": {
          "items": {
            "$ref": "DisplayData"
          },
          "type": "array",
          "description": "Transform-specific display data."
        },
        "kind": {
          "enum": [
            "UNKNOWN_KIND",
            "PAR_DO_KIND",
            "GROUP_BY_KEY_KIND",
            "FLATTEN_KIND",
            "READ_KIND",
            "WRITE_KIND",
            "CONSTANT_KIND",
            "SINGLETON_KIND",
            "SHUFFLE_KIND"
          ],
          "type": "string",
          "description": "Type of transform.",
          "enumDescriptions": [
            "Unrecognized transform type.",
            "ParDo transform.",
            "Group By Key transform.",
            "Flatten transform.",
            "Read transform.",
            "Write transform.",
            "Constructs from a constant value, such as with Create.of.",
            "Creates a Singleton view of a collection.",
            "Opening or closing a shuffle session, often as part of a GroupByKey."
          ]
        },
        "id": {
          "description": "SDK generated id of this transform instance.",
          "type": "string"
        },
        "inputCollectionName": {
          "description": "User names for all collection inputs to this transform.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ParameterMetadataEnumOption": {
      "id": "ParameterMetadataEnumOption",
      "properties": {
        "label": {
          "description": "Optional. The label to display for the enum option.",
          "type": "string"
        },
        "description": {
          "description": "Optional. The description to display for the enum option.",
          "type": "string"
        },
        "value": {
          "description": "Required. The value of the enum option.",
          "type": "string"
        }
      },
      "description": "ParameterMetadataEnumOption specifies the option shown in the enum form.",
      "type": "object"
    },
    "InstructionInput": {
      "id": "InstructionInput",
      "properties": {
        "producerInstructionIndex": {
          "format": "int32",
          "description": "The index (origin zero) of the parallel instruction that produces the output to be consumed by this input. This index is relative to the list of instructions in this input's instruction's containing MapTask.",
          "type": "integer"
        },
        "outputNum": {
          "type": "integer",
          "description": "The output index (origin zero) within the producer.",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "An input of an instruction, as a reference to an output of a producer instruction."
    },
    "ResourceUtilizationReport": {
      "id": "ResourceUtilizationReport",
      "properties": {
        "gpuUsage": {
          "type": "array",
          "description": "Optional. GPU usage samples.",
          "items": {
            "$ref": "GPUUsage"
          }
        },
        "containers": {
          "description": "Per container information. Key: container name.",
          "type": "object",
          "additionalProperties": {
            "$ref": "ResourceUtilizationReport"
          }
        },
        "cpuTime": {
          "description": "CPU utilization samples.",
          "type": "array",
          "items": {
            "$ref": "CPUTime"
          }
        },
        "memoryInfo": {
          "description": "Memory utilization samples.",
          "type": "array",
          "items": {
            "$ref": "MemInfo"
          }
        }
      },
      "type": "object",
      "description": "Worker metrics exported from workers. This contains resource utilization metrics accumulated from a variety of sources. For more information, see go/df-resource-signals."
    },
    "Straggler": {
      "id": "Straggler",
      "properties": {
        "streamingStraggler": {
          "description": "Streaming straggler identification and debugging information.",
          "$ref": "StreamingStragglerInfo"
        },
        "batchStraggler": {
          "description": "Batch straggler identification and debugging information.",
          "$ref": "StragglerInfo"
        }
      },
      "description": "Information for a straggler.",
      "type": "object"
    },
    "PartialGroupByKeyInstruction": {
      "id": "PartialGroupByKeyInstruction",
      "properties": {
        "sideInputs": {
          "description": "Zero or more side inputs.",
          "type": "array",
          "items": {
            "$ref": "SideInputInfo"
          }
        },
        "originalCombineValuesStepName": {
          "type": "string",
          "description": "If this instruction includes a combining function, this is the name of the CombineValues instruction lifted into this instruction."
        },
        "valueCombiningFn": {
          "description": "The value combining function to invoke.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "input": {
          "description": "Describes the input to the partial group-by-key instruction.",
          "$ref": "InstructionInput"
        },
        "inputElementCodec": {
          "type": "object",
          "description": "The codec to use for interpreting an element in the input PTable.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "originalCombineValuesInputStoreName": {
          "type": "string",
          "description": "If this instruction includes a combining function this is the name of the intermediate store between the GBK and the CombineValues."
        }
      },
      "type": "object",
      "description": "An instruction that does a partial group-by-key. One input and one output."
    },
    "OutlierStats": {
      "type": "object",
      "description": "Statistics for the underflow and overflow bucket.",
      "id": "OutlierStats",
      "properties": {
        "underflowCount": {
          "type": "string",
          "description": "Number of values that are smaller than the lower bound of the smallest bucket.",
          "format": "int64"
        },
        "overflowMean": {
          "format": "double",
          "type": "number",
          "description": "Mean of values in the overflow bucket."
        },
        "underflowMean": {
          "format": "double",
          "type": "number",
          "description": "Mean of values in the undeflow bucket."
        },
        "overflowCount": {
          "format": "int64",
          "description": "Number of values that are larger than the upper bound of the largest bucket.",
          "type": "string"
        }
      }
    },
    "ApproximateProgress": {
      "id": "ApproximateProgress",
      "properties": {
        "position": {
          "description": "Obsolete.",
          "$ref": "Position",
          "deprecated": true
        },
        "percentComplete": {
          "type": "number",
          "description": "Obsolete.",
          "format": "float",
          "deprecated": true
        },
        "remainingTime": {
          "deprecated": true,
          "format": "google-duration",
          "description": "Obsolete.",
          "type": "string"
        }
      },
      "description": "Obsolete in favor of ApproximateReportedProgress and ApproximateSplitRequest.",
      "type": "object"
    },
    "WriteInstruction": {
      "description": "An instruction that writes records. Takes one input, produces no outputs.",
      "type": "object",
      "id": "WriteInstruction",
      "properties": {
        "input": {
          "description": "The input.",
          "$ref": "InstructionInput"
        },
        "sink": {
          "description": "The sink to write to.",
          "$ref": "Sink"
        }
      }
    },
    "StreamingConfigTask": {
      "description": "A task that carries configuration information for streaming computations.",
      "type": "object",
      "id": "StreamingConfigTask",
      "properties": {
        "userStepToStateFamilyNameMap": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Map from user step names to state families."
        },
        "operationalLimits": {
          "description": "Operational limits for the streaming job. Can be used by the worker to validate outputs sent to the backend.",
          "$ref": "StreamingOperationalLimits"
        },
        "windmillServicePort": {
          "description": "If present, the worker must use this port to communicate with Windmill Service dispatchers. Only applicable when windmill_service_endpoint is specified.",
          "type": "string",
          "format": "int64"
        },
        "userWorkerRunnerV2Settings": {
          "type": "string",
          "description": "Binary encoded proto to control runtime behavior of the runner v2 user worker.",
          "format": "byte"
        },
        "commitStreamChunkSizeBytes": {
          "format": "int64",
          "type": "string",
          "description": "Chunk size for commit streams from the harness to windmill."
        },
        "maxWorkItemCommitBytes": {
          "format": "int64",
          "description": "Maximum size for work item commit supported windmill storage layer.",
          "type": "string"
        },
        "streamingEngineStateTagEncodingVersion": {
          "type": "integer",
          "description": "Optional. The state tag encoding format version for streaming engine jobs.",
          "format": "int32"
        },
        "getDataStreamChunkSizeBytes": {
          "format": "int64",
          "description": "Chunk size for get data streams from the harness to windmill.",
          "type": "string"
        },
        "windmillServiceEndpoint": {
          "type": "string",
          "description": "If present, the worker must use this endpoint to communicate with Windmill Service dispatchers, otherwise the worker must continue to use whatever endpoint it had been using."
        },
        "streamingComputationConfigs": {
          "description": "Set of computation configuration information.",
          "type": "array",
          "items": {
            "$ref": "StreamingComputationConfig"
          }
        },
        "userWorkerRunnerV1Settings": {
          "format": "byte",
          "type": "string",
          "description": "Binary encoded proto to control runtime behavior of the java runner v1 user worker."
        }
      }
    },
    "LaunchFlexTemplateRequest": {
      "id": "LaunchFlexTemplateRequest",
      "properties": {
        "launchParameter": {
          "description": "Required. Parameter to launch a job form Flex Template.",
          "$ref": "LaunchFlexTemplateParameter"
        },
        "validateOnly": {
          "type": "boolean",
          "description": "If true, the request is validated but not actually executed. Defaults to false."
        }
      },
      "description": "A request to launch a Cloud Dataflow job from a FlexTemplate.",
      "type": "object"
    },
    "StringList": {
      "id": "StringList",
      "properties": {
        "elements": {
          "items": {
            "type": "string"
          },
          "description": "Elements of the list.",
          "type": "array"
        }
      },
      "description": "A metric value representing a list of strings.",
      "type": "object"
    },
    "BigTableIODetails": {
      "type": "object",
      "description": "Metadata for a Cloud Bigtable connector used by the job.",
      "id": "BigTableIODetails",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "ProjectId accessed in the connection."
        },
        "tableId": {
          "type": "string",
          "description": "TableId accessed in the connection."
        },
        "instanceId": {
          "description": "InstanceId accessed in the connection.",
          "type": "string"
        }
      }
    },
    "TemplateMetadata": {
      "id": "TemplateMetadata",
      "properties": {
        "yamlDefinition": {
          "description": "Optional. For future use.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. A description of the template."
        },
        "supportsExactlyOnce": {
          "type": "boolean",
          "description": "Optional. Indicates if the streaming template supports exactly once mode."
        },
        "defaultStreamingMode": {
          "description": "Optional. Indicates the default streaming mode for a streaming template. Only valid if both supports_at_least_once and supports_exactly_once are true. Possible values: UNSPECIFIED, EXACTLY_ONCE and AT_LEAST_ONCE",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the template."
        },
        "streaming": {
          "type": "boolean",
          "description": "Optional. Indicates if the template is streaming or not."
        },
        "parameters": {
          "items": {
            "$ref": "ParameterMetadata"
          },
          "type": "array",
          "description": "The parameters for the template."
        },
        "supportsAtLeastOnce": {
          "description": "Optional. Indicates if the streaming template supports at least once mode.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Metadata describing a template."
    },
    "Histogram": {
      "id": "Histogram",
      "properties": {
        "bucketCounts": {
          "description": "Counts of values in each bucket. For efficiency, prefix and trailing buckets with count = 0 are elided. Buckets can store the full range of values of an unsigned long, with ULLONG_MAX falling into the 59th bucket with range [1e19, 2e19).",
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "firstBucketOffset": {
          "description": "Starting index of first stored bucket. The non-inclusive upper-bound of the ith bucket is given by: pow(10,(i-first_bucket_offset)/3) * (1,2,5)[(i-first_bucket_offset)%3]",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "Histogram of value counts for a distribution. Buckets have an inclusive lower bound and exclusive upper bound and use \"1,2,5 bucketing\": The first bucket range is from [0,1) and all subsequent bucket boundaries are powers of ten multiplied by 1, 2, or 5. Thus, bucket boundaries are 0, 1, 2, 5, 10, 20, 50, 100, 200, 500, 1000, ... Negative values are not supported."
    },
    "IntegerList": {
      "id": "IntegerList",
      "properties": {
        "elements": {
          "items": {
            "$ref": "SplitInt64"
          },
          "type": "array",
          "description": "Elements of the list."
        }
      },
      "description": "A metric value representing a list of integers.",
      "type": "object"
    },
    "Parameter": {
      "type": "object",
      "description": "Structured data associated with this message.",
      "id": "Parameter",
      "properties": {
        "key": {
          "description": "Key or name for this parameter.",
          "type": "string"
        },
        "value": {
          "description": "Value for this parameter.",
          "type": "any"
        }
      }
    },
    "ListJobMessagesResponse": {
      "id": "ListJobMessagesResponse",
      "properties": {
        "nextPageToken": {
          "description": "The token to obtain the next page of results if there are more.",
          "type": "string"
        },
        "autoscalingEvents": {
          "items": {
            "$ref": "AutoscalingEvent"
          },
          "type": "array",
          "description": "Autoscaling events in ascending timestamp order."
        },
        "jobMessages": {
          "items": {
            "$ref": "JobMessage"
          },
          "type": "array",
          "description": "Messages in ascending timestamp order."
        }
      },
      "type": "object",
      "description": "Response to a request to list job messages."
    },
    "MetricUpdate": {
      "type": "object",
      "description": "Describes the state of a metric.",
      "id": "MetricUpdate",
      "properties": {
        "meanSum": {
          "type": "any",
          "description": "Worker-computed aggregate value for the \"Mean\" aggregation kind. This holds the sum of the aggregated values and is used in combination with mean_count below to obtain the actual mean aggregate value. The only possible value types are Long and Double."
        },
        "distribution": {
          "description": "A struct value describing properties of a distribution of numeric values.",
          "type": "any"
        },
        "boundedTrie": {
          "type": "any",
          "description": "Worker-computed aggregate value for the \"Trie\" aggregation kind. The only possible value type is a BoundedTrieNode. Introduced this field to avoid breaking older SDKs when Dataflow service starts to populate the `bounded_trie` field."
        },
        "meanCount": {
          "type": "any",
          "description": "Worker-computed aggregate value for the \"Mean\" aggregation kind. This holds the count of the aggregated values and is used in combination with mean_sum above to obtain the actual mean aggregate value. The only possible value type is Long."
        },
        "cumulative": {
          "description": "True if this metric is reported as the total cumulative aggregate value accumulated since the worker started working on this WorkItem. By default this is false, indicating that this metric is reported as a delta that is not associated with any WorkItem.",
          "type": "boolean"
        },
        "updateTime": {
          "type": "string",
          "description": "Timestamp associated with the metric value. Optional when workers are reporting work progress; it will be filled in responses from the metrics API.",
          "format": "google-datetime"
        },
        "scalar": {
          "description": "Worker-computed aggregate value for aggregation kinds \"Sum\", \"Max\", \"Min\", \"And\", and \"Or\". The possible value types are Long, Double, and Boolean.",
          "type": "any"
        },
        "kind": {
          "type": "string",
          "description": "Metric aggregation kind. The possible metric aggregation kinds are \"Sum\", \"Max\", \"Min\", \"Mean\", \"Set\", \"And\", \"Or\", and \"Distribution\". The specified aggregation kind is case-insensitive. If omitted, this is not an aggregated value but instead a single metric sample value."
        },
        "set": {
          "description": "Worker-computed aggregate value for the \"Set\" aggregation kind. The only possible value type is a list of Values whose type can be Long, Double, String, or BoundedTrie according to the metric's type. All Values in the list must be of the same type.",
          "type": "any"
        },
        "name": {
          "description": "Name of the metric.",
          "$ref": "MetricStructuredName"
        },
        "gauge": {
          "description": "A struct value describing properties of a Gauge. Metrics of gauge type show the value of a metric across time, and is aggregated based on the newest value.",
          "type": "any"
        },
        "internal": {
          "description": "Worker-computed aggregate value for internal use by the Dataflow service.",
          "type": "any"
        },
        "trie": {
          "type": "any",
          "description": "Worker-computed aggregate value for the \"Trie\" aggregation kind. The only possible value type is a BoundedTrieNode."
        }
      }
    },
    "CounterMetadata": {
      "type": "object",
      "description": "CounterMetadata includes all static non-name non-value counter attributes.",
      "id": "CounterMetadata",
      "properties": {
        "kind": {
          "description": "Counter aggregation kind.",
          "enumDescriptions": [
            "Counter aggregation kind was not set.",
            "Aggregated value is the sum of all contributed values.",
            "Aggregated value is the max of all contributed values.",
            "Aggregated value is the min of all contributed values.",
            "Aggregated value is the mean of all contributed values.",
            "Aggregated value represents the logical 'or' of all contributed values.",
            "Aggregated value represents the logical 'and' of all contributed values.",
            "Aggregated value is a set of unique contributed values.",
            "Aggregated value captures statistics about a distribution.",
            "Aggregated value tracks the latest value of a variable."
          ],
          "type": "string",
          "enum": [
            "INVALID",
            "SUM",
            "MAX",
            "MIN",
            "MEAN",
            "OR",
            "AND",
            "SET",
            "DISTRIBUTION",
            "LATEST_VALUE"
          ]
        },
        "standardUnits": {
          "enum": [
            "BYTES",
            "BYTES_PER_SEC",
            "MILLISECONDS",
            "MICROSECONDS",
            "NANOSECONDS",
            "TIMESTAMP_MSEC",
            "TIMESTAMP_USEC",
            "TIMESTAMP_NSEC"
          ],
          "type": "string",
          "description": "System defined Units, see above enum.",
          "enumDescriptions": [
            "Counter returns a value in bytes.",
            "Counter returns a value in bytes per second.",
            "Counter returns a value in milliseconds.",
            "Counter returns a value in microseconds.",
            "Counter returns a value in nanoseconds.",
            "Counter returns a timestamp in milliseconds.",
            "Counter returns a timestamp in microseconds.",
            "Counter returns a timestamp in nanoseconds."
          ]
        },
        "otherUnits": {
          "type": "string",
          "description": "A string referring to the unit type."
        },
        "description": {
          "description": "Human-readable description of the counter semantics.",
          "type": "string"
        }
      }
    },
    "Disk": {
      "description": "Describes the data disk used by a workflow job.",
      "type": "object",
      "id": "Disk",
      "properties": {
        "diskType": {
          "type": "string",
          "description": "Disk storage type, as defined by Google Compute Engine. This must be a disk type appropriate to the project and zone in which the workers will run. If unknown or unspecified, the service will attempt to choose a reasonable default. For example, the standard persistent disk type is a resource name typically ending in \"pd-standard\". If SSD persistent disks are available, the resource name typically ends with \"pd-ssd\". The actual valid values are defined the Google Compute Engine API, not by the Cloud Dataflow API; consult the Google Compute Engine documentation for more information about determining the set of available disk types for a particular project and zone. Google Compute Engine Disk types are local to a particular project in a particular zone, and so the resource name will typically look something like this: compute.googleapis.com/projects/project-id/zones/zone/diskTypes/pd-standard"
        },
        "mountPoint": {
          "type": "string",
          "description": "Directory in a VM where disk is mounted."
        },
        "sizeGb": {
          "description": "Size of disk in GB. If zero or unspecified, the service will attempt to choose a reasonable default.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GetDebugConfigRequest": {
      "description": "Request to get updated debug configuration for component.",
      "type": "object",
      "id": "GetDebugConfigRequest",
      "properties": {
        "componentId": {
          "type": "string",
          "description": "The internal component id for which debug configuration is requested."
        },
        "location": {
          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
          "type": "string"
        },
        "workerId": {
          "type": "string",
          "description": "The worker id, i.e., VM hostname."
        }
      }
    },
    "KeyRangeLocation": {
      "id": "KeyRangeLocation",
      "properties": {
        "dataDisk": {
          "description": "The name of the data disk where data for this range is stored. This name is local to the Google Cloud Platform project and uniquely identifies the disk within that project, for example \"myproject-1014-104817-4c2-harness-0-disk-1\".",
          "type": "string"
        },
        "deprecatedPersistentDirectory": {
          "type": "string",
          "description": "DEPRECATED. The location of the persistent state for this range, as a persistent directory in the worker local filesystem.",
          "deprecated": true
        },
        "start": {
          "type": "string",
          "description": "The start (inclusive) of the key range."
        },
        "deliveryEndpoint": {
          "description": "The physical location of this range assignment to be used for streaming computation cross-worker message delivery.",
          "type": "string"
        },
        "end": {
          "description": "The end (exclusive) of the key range.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Location information for a specific key-range of a sharded computation. Currently we only support UTF-8 character splits to simplify encoding into JSON."
    },
    "WorkerShutdownNoticeResponse": {
      "description": "Service-side response to WorkerMessage issuing shutdown notice.",
[...]
