{
  "title": "Data Manager API",
  "parameters": {
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format."
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    }
  },
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/datamanager": {
          "description": "See, edit, create, import, or delete your customer data in Google Ads, Google Marketing Platform (Campaign Manager 360, Search Ads 360, Display & Video 360), and Google Analytics"
        },
        "https://www.googleapis.com/auth/datamanager.partnerlink": {
          "description": "View, create, or delete your partner links in Google Ads, Marketing Platform (Campaign Manager 360, Search Ads 360, Display & Video 360), and Analytics"
        }
      }
    }
  },
  "name": "datamanager",
  "documentationLink": "https://developers.google.com/data-manager",
  "description": "A unified ingestion API for data partners, agencies and advertisers to connect first-party data across Google advertising products.",
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "basePath": "",
  "rootUrl": "https://datamanager.googleapis.com/",
  "id": "datamanager:v1",
  "ownerName": "Google",
  "servicePath": "",
  "version_module": true,
  "batchPath": "batch",
  "schemas": {
    "UserListLicenseMetrics": {
      "id": "UserListLicenseMetrics",
      "description": "Metrics related to a user list license.",
      "type": "object",
      "properties": {
        "impressionCount": {
          "format": "int64",
          "description": "Output only. The number of impressions for the user list license.",
          "type": "string",
          "readOnly": true
        },
        "clickCount": {
          "description": "Output only. The number of clicks for the user list license.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "endDate": {
          "readOnly": true,
          "description": "Output only. The end date (inclusive) of the metrics in the format YYYYMMDD. For example, 20260102 represents January 2, 2026. If `start_date` is used in the filter, `end_date` is also required. If neither `start_date` nor `end_date` are included in the filter, the UserListLicenseMetrics fields will not be populated in the response.",
          "type": "string",
          "format": "int64"
        },
        "revenueUsdMicros": {
          "format": "int64",
          "description": "Output only. The revenue for the user list license in USD micros.",
          "type": "string",
          "readOnly": true
        },
        "startDate": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. The start date (inclusive) of the metrics in the format YYYYMMDD. For example, 20260102 represents January 2, 2026. If `end_date` is used in the filter, `start_date` is also required. If neither `start_date` nor `end_date` are included in the filter, the UserListLicenseMetrics fields will not be populated in the response.",
          "type": "string"
        }
      }
    },
    "Event": {
      "properties": {
        "conversionCount": {
          "description": "Optional. The conversion quantity associated with the event, for counting-based conversions.",
          "type": "number",
          "format": "double"
        },
        "experimentalFields": {
          "description": "Optional. A list of key/value pairs for experimental fields that may eventually be promoted to be part of the API.",
          "type": "array",
          "items": {
            "$ref": "ExperimentalField"
          }
        },
        "userProperties": {
          "$ref": "UserProperties",
          "description": "Optional. Advertiser-assessed information about the user at the time that the event happened."
        },
        "destinationReferences": {
          "description": "Optional. Reference string used to determine the destination. If empty, the event will be sent to all destinations in the request.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "clientId": {
          "description": "Optional. A unique identifier for the user instance of a web client for this GA4 web stream.",
          "type": "string"
        },
        "adIdentifiers": {
          "description": "Optional. Identifiers and other information used to match the conversion event with other online activity (such as ad clicks).",
          "$ref": "AdIdentifiers"
        },
        "userData": {
          "$ref": "UserData",
          "description": "Optional. Pieces of user provided data, representing the user the event is associated with."
        },
        "thirdPartyUserData": {
          "$ref": "UserData",
          "description": "Optional. The same type of data provided in user_data, but explicitly flagged as being provided as owned by a third-party and not first-party advertiser data."
        },
        "transactionId": {
          "description": "Optional. The unique identifier for this event. Required for events sent as an additional data source for tag conversions.",
          "type": "string"
        },
        "eventTimestamp": {
          "format": "google-datetime",
          "description": "Required. The time the event occurred.",
          "type": "string"
        },
        "customVariables": {
          "description": "Optional. Additional key/value pair information to send to the conversion containers (conversion action or FL activity).",
          "type": "array",
          "items": {
            "$ref": "CustomVariable"
          }
        },
        "userId": {
          "description": "Optional. A unique identifier for a user, as defined by the advertiser.",
          "type": "string"
        },
        "appInstanceId": {
          "description": "Optional. A unique identifier for the user instance of an app client for this GA4 app stream.",
          "type": "string"
        },
        "currency": {
          "description": "Optional. The currency code associated with all monetary values within this event.",
          "type": "string"
        },
        "additionalEventParameters": {
          "description": "Optional. A bucket of any [event parameters](https://developers.google.com/analytics/devguides/collection/protocol/ga4/reference/events) to be included within the event that were not already specified using other structured fields.",
          "type": "array",
          "items": {
            "$ref": "EventParameter"
          }
        },
        "eventLocation": {
          "description": "Optional. Information gathered about the location of the user when this event occurred.",
          "$ref": "EventLocation"
        },
        "conversionValue": {
          "format": "double",
          "description": "Optional. The conversion value associated with the event, for value-based conversions.",
          "type": "number"
        },
        "eventName": {
          "description": "Optional. The name of the event. Required for GA4 events.",
          "type": "string"
        },
        "eventSource": {
          "enum": [
            "EVENT_SOURCE_UNSPECIFIED",
            "WEB",
            "APP",
            "IN_STORE",
            "PHONE",
            "MESSAGE",
            "OTHER"
          ],
          "enumDescriptions": [
            "Unspecified EventSource. Should never be used.",
            "The event was generated from a web browser.",
            "The event was generated from an app.",
            "The event was generated from an in-store transaction.",
            "The event was generated from a phone call.",
            "The event was generated from a message.",
            "The event was generated from other sources."
          ],
          "description": "Optional. Signal for where the event happened (web, app, in-store, etc.).",
          "type": "string"
        },
        "eventDeviceInfo": {
          "$ref": "DeviceInfo",
          "description": "Optional. Information gathered about the device being used (if any) when the event happened."
        },
        "lastUpdatedTimestamp": {
          "description": "Optional. The last time the event was updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "cartData": {
          "description": "Optional. Information about the transaction and items associated with the event.",
          "$ref": "CartData"
        },
        "consent": {
          "description": "Optional. Information about whether the associated user has provided different types of consent.",
          "$ref": "Consent"
        }
      },
      "description": "An event representing a user interaction with an advertiser's website or app.",
      "type": "object",
      "id": "Event"
    },
    "UserProperties": {
      "properties": {
        "customerType": {
          "description": "Optional. Type of the customer associated with the event.",
          "type": "string",
          "enum": [
            "CUSTOMER_TYPE_UNSPECIFIED",
            "NEW",
            "RETURNING",
            "REENGAGED"
          ],
          "enumDescriptions": [
            "Unspecified CustomerType. Should never be used.",
            "The customer is new to the advertiser.",
            "The customer is returning to the advertiser.",
            "The customer has re-engaged with the advertiser."
          ]
        },
        "customerValueBucket": {
          "description": "Optional. The advertiser-assessed value of the customer.",
          "type": "string",
          "enum": [
            "CUSTOMER_VALUE_BUCKET_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH"
          ],
          "enumDescriptions": [
            "Unspecified CustomerValueBucket. Should never be used.",
            "The customer is low value.",
            "The customer is medium value.",
            "The customer is high value."
          ]
        },
        "additionalUserProperties": {
          "description": "Optional. A bucket of any additional [user properties](https://developers.google.com/analytics/devguides/collection/protocol/ga4/user-properties) for the user associated with this event.",
          "type": "array",
          "items": {
            "$ref": "UserProperty"
          }
        }
      },
      "id": "UserProperties",
      "description": "Advertiser-assessed information about the user at the time that the event happened. See https://support.google.com/google-ads/answer/14007601 for more details.",
      "type": "object"
    },
    "PartnerProvidedIdData": {
      "properties": {
        "partnerProvidedIds": {
          "description": "Required. The list of partner-provided identifiers.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "PartnerProvidedIdData",
      "description": "Partner-provided data holding the partner-provided identifiers. At least one partner-provided identifier is required.",
      "type": "object"
    },
    "UserIdentifier": {
      "description": "A single identifier for the user.",
      "type": "object",
      "id": "UserIdentifier",
      "properties": {
        "emailAddress": {
          "description": "Hashed email address using SHA-256 hash function after normalization.",
          "type": "string"
        },
        "address": {
          "description": "The known components of a user's address. Holds a grouping of identifiers that are matched all at once.",
          "$ref": "AddressInfo"
        },
        "phoneNumber": {
          "description": "Hashed phone number using SHA-256 hash function after normalization (E164 standard).",
          "type": "string"
        }
      }
    },
    "IngestAdEventsResponse": {
      "description": "Response from an ad event ingestion operation.",
      "type": "object",
      "id": "IngestAdEventsResponse",
      "properties": {}
    },
    "RemovePartnerProvidedIdDataStatus": {
      "properties": {
        "recordCount": {
          "format": "int64",
          "description": "The total count of audience members sent in the removal request. Includes all audience members in the request, regardless of whether they were successfully removed or not.",
          "type": "string"
        },
        "partnerProvidedIdCount": {
          "format": "int64",
          "description": "The total count of partner provided ids sent in the removal request. Includes all partner provided ids in the request, regardless of whether they were successfully removed or not.",
          "type": "string"
        }
      },
      "id": "RemovePartnerProvidedIdDataStatus",
      "description": "The status of the partner provided id data removal from the destination.",
      "type": "object"
    },
    "ErrorInfo": {
      "id": "ErrorInfo",
      "description": "Error counts for each type of error.",
      "type": "object",
      "properties": {
        "errorCounts": {
          "description": "A list of errors and counts per error reason. May not be populated in all cases.",
          "type": "array",
          "items": {
            "$ref": "ErrorCount"
          }
        }
      }
    },
    "WarningCount": {
      "id": "WarningCount",
      "description": "The warning count for a given warning reason.",
      "type": "object",
      "properties": {
        "reason": {
          "description": "The warning reason.",
          "type": "string",
          "enumDescriptions": [
            "The processing warning reason is unknown.",
            "The system did not have the permissions needed to access the KEK.",
            "The DEK failed to be decrypted.",
            "The event has a decryption error.",
            "The WIP could not be used because it was rejected by its attestation condition.",
            "The WIP is formatted incorrectly or the WIP does not exist.",
            "The KEK cannot decrypt data because it is the wrong KEK, or it does not exist.",
            "Failed to decrypt the UserIdentifier data using the DEK.",
            "Internal error.",
            "The system failed to authenticate with AWS."
          ],
          "enum": [
            "PROCESSING_WARNING_REASON_UNSPECIFIED",
            "PROCESSING_WARNING_REASON_KEK_PERMISSION_DENIED",
            "PROCESSING_WARNING_REASON_DEK_DECRYPTION_ERROR",
            "PROCESSING_WARNING_REASON_DECRYPTION_ERROR",
            "PROCESSING_WARNING_REASON_WIP_AUTH_FAILED",
            "PROCESSING_WARNING_REASON_INVALID_WIP",
            "PROCESSING_WARNING_REASON_INVALID_KEK",
            "PROCESSING_WARNING_REASON_USER_IDENTIFIER_DECRYPTION_ERROR",
            "PROCESSING_WARNING_REASON_INTERNAL_ERROR",
            "PROCESSING_WARNING_REASON_AWS_AUTH_FAILED"
          ]
        },
        "recordCount": {
          "description": "The count of records that have a warning.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "FieldWarning": {
      "id": "FieldWarning",
      "description": "Detailed row-level warning with field paths.",
      "type": "object",
      "properties": {
        "reason": {
          "enumDescriptions": [
            "Unspecified warning reason.",
            "A custom variable in `custom_variables` is not enabled in the account.",
            "A custom variable value in `custom_variables` is not among the predefined allowed values configured for the custom variable on the destination account.",
            "The `cart_data` is not supported with `gbraid` or `wbraid`.",
            "The `merchant_product_id` is missing in the cart item.",
            "The `unit_price` is missing in the cart item.",
            "Generic warning reason for issues that do not fit into other specific categories.",
            "The `client_id` is invalid.",
            "The `subdivision_code` is invalid.",
            "The `region_code` is invalid.",
            "The `subcontinent_code` is invalid.",
            "The `continent_code` is invalid.",
            "The device `category` is invalid.",
            "The device `screen_height` or `screen_width` is invalid.",
            "The `merchant_id` is invalid."
          ],
          "enum": [
            "WARNING_REASON_UNSPECIFIED",
            "WARNING_REASON_CUSTOM_VARIABLE_NOT_ENABLED",
            "WARNING_REASON_CUSTOM_VARIABLE_NOT_PREDEFINED",
            "WARNING_REASON_CART_DATA_NOT_SUPPORTED_WITH_GBRAID_OR_WBRAID",
            "WARNING_REASON_CART_DATA_ITEM_MERCHANT_PRODUCT_ID_MISSING",
            "WARNING_REASON_CART_DATA_ITEM_UNIT_PRICE_MISSING",
            "WARNING_REASON_GENERIC",
            "WARNING_REASON_INVALID_CLIENT_ID",
            "WARNING_REASON_INVALID_SUBDIVISION_CODE",
            "WARNING_REASON_INVALID_REGION_CODE",
            "WARNING_REASON_INVALID_SUBCONTINENT_CODE",
            "WARNING_REASON_INVALID_CONTINENT_CODE",
            "WARNING_REASON_INVALID_DEVICE_CATEGORY",
            "WARNING_REASON_INVALID_DEVICE_SCREEN_RESOLUTION",
            "WARNING_REASON_INVALID_MERCHANT_ID"
          ],
          "description": "The warning reason.",
          "type": "string"
        },
        "description": {
          "description": "The detailed warning message describing the issue.",
          "type": "string"
        },
        "field": {
          "description": "The field path that triggered the warning. Uses the same format as google.rpc.BadRequest.FieldViolation.field.",
          "type": "string"
        }
      }
    },
    "SizeInfo": {
      "properties": {
        "searchNetworkMembersCount": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Estimated number of members in this user list in the google.com domain. These are the members available for targeting in Search campaigns.",
          "type": "string"
        },
        "gmailMembersCount": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Estimated number of members in this user list on Gmail.",
          "type": "string"
        },
        "youtubeMembersCount": {
          "description": "Output only. Estimated number of members in this user list on YouTube.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "displayNetworkMembersCount": {
          "format": "int64",
          "description": "Output only. Estimated number of members in this user list, on the Google Display Network.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "SizeInfo",
      "description": "Estimated number of members in this user list in different target networks.",
      "type": "object"
    },
    "IngestAudienceMembersRequest": {
      "properties": {
        "consent": {
          "$ref": "Consent",
          "description": "Optional. Request-level consent to apply to all users in the request. User-level consent overrides request-level consent, and can be specified in each AudienceMember."
        },
        "encoding": {
          "description": "Optional. Required for UserData uploads. The encoding type of the user identifiers. For hashed user identifiers, this is the encoding type of the hashed string. For encrypted hashed user identifiers, this is the encoding type of the outer encrypted string, but not necessarily the inner hashed string, meaning the inner hashed string could be encoded in a different way than the outer encrypted string. For non `UserData` uploads, this field is ignored.",
          "type": "string",
          "enum": [
            "ENCODING_UNSPECIFIED",
            "HEX",
            "BASE64"
          ],
          "enumDescriptions": [
            "Unspecified Encoding type. Should never be used.",
            "Hex encoding.",
            "Base 64 encoding."
          ]
        },
        "validateOnly": {
          "description": "Optional. For testing purposes. If `true`, the request is validated but not executed. Only errors are returned, not results.",
          "type": "boolean"
        },
        "encryptionInfo": {
          "description": "Optional. Encryption information for UserData uploads. If not set, it's assumed that uploaded identifying information is hashed but not encrypted. For non `UserData` uploads, this field is ignored.",
          "$ref": "EncryptionInfo"
        },
        "termsOfService": {
          "$ref": "TermsOfService",
          "description": "Optional. The terms of service that the user has accepted/rejected."
        },
        "destinations": {
          "description": "Required. The list of destinations to send the audience members to.",
          "type": "array",
          "items": {
            "$ref": "Destination"
          }
        },
        "audienceMembers": {
          "description": "Required. The list of users to send to the specified destinations. At most 10000 AudienceMember resources can be sent in a single request.",
          "type": "array",
          "items": {
            "$ref": "AudienceMember"
          }
        }
      },
      "description": "Request to upload audience members to the provided destinations. Returns an IngestAudienceMembersResponse.",
      "type": "object",
      "id": "IngestAudienceMembersRequest"
    },
    "EventParameter": {
      "properties": {
        "parameterName": {
          "description": "Required. The name of the parameter to use.",
          "type": "string"
        },
        "value": {
          "description": "Required. The string representation of the value of the parameter to set.",
          "type": "string"
        }
      },
      "id": "EventParameter",
      "description": "Event parameter for GA4 events.",
      "type": "object"
    },
    "ContactIdInfo": {
      "properties": {
        "dataSourceType": {
          "enum": [
            "DATA_SOURCE_TYPE_UNSPECIFIED",
            "DATA_SOURCE_TYPE_FIRST_PARTY",
            "DATA_SOURCE_TYPE_THIRD_PARTY_CREDIT_BUREAU",
            "DATA_SOURCE_TYPE_THIRD_PARTY_VOTER_FILE",
            "DATA_SOURCE_TYPE_THIRD_PARTY_PARTNER_DATA"
          ],
          "enumDescriptions": [
            "Not specified.",
            "The uploaded data is first-party data.",
            "The uploaded data is from a third-party credit bureau.",
            "The uploaded data is from a third-party voter file.",
            "The uploaded data is third party partner data."
          ],
          "description": "Optional. Immutable. Source of the upload data",
          "type": "string"
        },
        "matchRatePercentage": {
          "readOnly": true,
          "description": "Output only. Match rate for customer match user lists.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Additional information when `CONTACT_ID` is one of the `upload_key_types`.",
      "type": "object",
      "id": "ContactIdInfo"
    },
    "Destination": {
      "properties": {
        "reference": {
          "description": "Optional. ID for this `Destination` resource, unique within the request. Use to reference this `Destination` in the IngestEventsRequest and IngestAudienceMembersRequest.",
          "type": "string"
        },
        "productDestinationId": {
          "description": "Required. The object within the product account to ingest into. For example, a Google Ads audience ID, a Display & Video 360 audience ID or a Google Ads conversion action ID.",
          "type": "string"
        },
        "loginAccount": {
          "description": "Optional. The account used to make this API call. To add or remove data from the `operating_account`, this `login_account` must have write access to the `operating_account`. For example, a manager account of the `operating_account`, or an account with an established link to the `operating_account`.",
          "$ref": "ProductAccount"
        },
        "linkedAccount": {
          "description": "Optional. An account that the calling user's `login_account` has access to, through an established account link. For example, a data partner's `login_account` might have access to a client's `linked_account`. The partner might use this field to send data from the `linked_account` to another `operating_account`.",
          "$ref": "ProductAccount"
        },
        "operatingAccount": {
          "description": "Required. The account to send the data to or remove the data from.",
          "$ref": "ProductAccount"
        }
      },
      "id": "Destination",
      "description": "The Google product you're sending data to. For example, a Google Ads account.",
      "type": "object"
    },
    "PairIdInfo": {
      "properties": {
        "publisherId": {
          "format": "int64",
          "description": "Required. Immutable. Identifies the publisher that the Publisher Advertiser Identity Reconciliation user list is reconciled with. This field is provided by the cleanroom provider and is only unique in the scope of that cleanroom. This cannot be used as a global identifier across multiple cleanrooms.",
          "type": "string"
        },
        "cleanRoomIdentifier": {
          "description": "Required. Immutable. Identifies a unique advertiser to publisher relationship with one clean room provider or across multiple clean room providers.",
          "type": "string"
        },
        "advertiserIdentifierCount": {
          "format": "int64",
          "description": "Optional. The count of the advertiser's first party data records that have been uploaded to a clean room provider. This does not signify the size of a PAIR user list.",
          "type": "string"
        },
        "publisherName": {
          "description": "Required. Descriptive name of the publisher to be displayed in the UI for a better targeting experience.",
          "type": "string"
        },
        "matchRatePercentage": {
          "format": "int32",
          "description": "Required. This field denotes the percentage of membership match of this user list with the corresponding publisher's first party data. Must be between 0 and 100 inclusive.",
          "type": "integer"
        }
      },
      "description": "Additional information when `PAIR_ID` is one of the `upload_key_types`. This feature is only available to data partners.",
      "type": "object",
      "id": "PairIdInfo"
    },
    "EncryptionInfo": {
      "properties": {
        "gcpWrappedKeyInfo": {
          "$ref": "GcpWrappedKeyInfo",
          "description": "Google Cloud Platform wrapped key information."
        },
        "awsWrappedKeyInfo": {
          "description": "Amazon Web Services wrapped key information.",
          "$ref": "AwsWrappedKeyInfo"
        },
        "coordinatorKeyInfo": {
          "description": "Key information for the chosen coordinator key. This is not supported for the IngestEvents, IngestAudienceMembers, and RemoveAudienceMembers methods.",
          "$ref": "CoordinatorKeyInfo"
        }
      },
      "id": "EncryptionInfo",
      "description": "Encryption information for the data being ingested.",
      "type": "object"
    },
    "RemoveGoogleUserIdDataStatus": {
      "properties": {
        "recordCount": {
          "description": "The total count of audience members sent in the removal request. Includes all audience members in the request, regardless of whether they were successfully removed or not.",
          "type": "string",
          "format": "int64"
        },
        "googleUserIdCount": {
          "description": "The total count of google user ids sent in the removal request. Includes all google user ids in the request, regardless of whether they were successfully removed or not.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "The status of the google user id data removal from the destination.",
      "type": "object",
      "id": "RemoveGoogleUserIdDataStatus"
    },
    "CartData": {
      "description": "The cart data associated with the event.",
      "type": "object",
      "id": "CartData",
      "properties": {
        "merchantId": {
          "description": "Optional. The Merchant Center ID associated with the items.",
          "type": "string"
        },
        "transactionDiscount": {
          "description": "Optional. The sum of all discounts associated with the transaction.",
          "type": "number",
          "format": "double"
        },
        "items": {
          "description": "Optional. The list of items associated with the event.",
          "type": "array",
          "items": {
            "$ref": "Item"
          }
        },
        "merchantFeedLabel": {
          "description": "Optional. The Merchant Center feed label associated with the feed of the items.",
          "type": "string"
        },
        "merchantFeedLanguageCode": {
          "description": "Optional. The language code in ISO 639-1 associated with the Merchant Center feed of the items.where your items are uploaded.",
          "type": "string"
        },
        "couponCodes": {
          "description": "Optional. The list of coupon codes that were applied to the cart. Cart-level and item-level coupon codes are independent. If the event is for a Google Analytics destination, only provide a single coupon code. Google Analytics ignores additional coupon codes.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "IngestPartnerProvidedIdDataStatus": {
      "id": "IngestPartnerProvidedIdDataStatus",
      "description": "The status of the partner provided id data ingestion to the destination containing stats related to the ingestion.",
      "type": "object",
      "properties": {
        "recordCount": {
          "format": "int64",
          "description": "The total count of audience members sent in the upload request for the destination. Includes all audience members in the request, regardless of whether they were successfully ingested or not.",
          "type": "string"
        },
        "partnerProvidedIdCount": {
          "description": "The total count of partner provided ids sent in the upload request for the destination. Includes all partner provided ids in the request, regardless of whether they were successfully ingested or not.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "Empty": {
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "IngestEventsRequest": {
      "properties": {
        "validateOnly": {
          "description": "Optional. For testing purposes. If `true`, the request is validated but not executed. Only errors are returned, not results.",
          "type": "boolean"
        },
        "encryptionInfo": {
          "$ref": "EncryptionInfo",
          "description": "Optional. Encryption information for UserData uploads. If not set, it's assumed that uploaded identifying information is hashed but not encrypted. For non `UserData` uploads, this field is ignored."
        },
        "destinations": {
          "description": "Required. The list of destinations to send the events to.",
          "type": "array",
          "items": {
            "$ref": "Destination"
          }
        },
        "consent": {
          "$ref": "Consent",
          "description": "Optional. Request-level consent to apply to all users in the request. User-level consent overrides request-level consent, and can be specified in each Event."
        },
        "events": {
          "description": "Required. The list of events to send to the specified destinations. At most 2000 Event resources can be sent in a single request.",
          "type": "array",
          "items": {
            "$ref": "Event"
          }
        },
        "encoding": {
          "enum": [
            "ENCODING_UNSPECIFIED",
            "HEX",
            "BASE64"
          ],
          "enumDescriptions": [
            "Unspecified Encoding type. Should never be used.",
            "Hex encoding.",
            "Base 64 encoding."
          ],
          "description": "Optional. Required for UserData uploads. The encoding type of the user identifiers. For hashed user identifiers, this is the encoding type of the hashed string. For encrypted hashed user identifiers, this is the encoding type of the outer encrypted string, but not necessarily the inner hashed string, meaning the inner hashed string could be encoded in a different way than the outer encrypted string. For non `UserData` uploads, this field is ignored.",
          "type": "string"
        }
      },
      "id": "IngestEventsRequest",
      "description": "Request to upload audience members to the provided destinations. Returns an IngestEventsResponse.",
      "type": "object"
    },
    "EventLocation": {
      "properties": {
        "city": {
          "description": "Optional. The name of the city where the event occurred.",
          "type": "string"
        },
        "continentCode": {
          "description": "Optional. The continent code in UN M49 format where the event occurred.",
          "type": "string"
        },
        "regionCode": {
          "description": "Optional. The 2-letter CLDR region code of the user's address.",
          "type": "string"
        },
        "storeId": {
          "description": "Optional. Required for Store Sales. The identifier to represent a physical store where the event happened.",
          "type": "string"
        },
        "subdivisionCode": {
          "description": "Optional. The ISO 3166-2 subdivision code where the event occurred.",
          "type": "string"
        },
        "subcontinentCode": {
          "description": "Optional. The subcontinent code in UN M49 format where the event occurred.",
          "type": "string"
        }
      },
      "id": "EventLocation",
      "description": "The location where the event occurred.",
      "type": "object"
    },
    "MobileIdInfo": {
      "description": "Additional information when `MOBILE_ID` is one of the `upload_key_types`.",
      "type": "object",
      "id": "MobileIdInfo",
      "properties": {
        "dataSourceType": {
          "enum": [
            "DATA_SOURCE_TYPE_UNSPECIFIED",
            "DATA_SOURCE_TYPE_FIRST_PARTY",
            "DATA_SOURCE_TYPE_THIRD_PARTY_CREDIT_BUREAU",
            "DATA_SOURCE_TYPE_THIRD_PARTY_VOTER_FILE",
            "DATA_SOURCE_TYPE_THIRD_PARTY_PARTNER_DATA"
          ],
          "enumDescriptions": [
            "Not specified.",
            "The uploaded data is first-party data.",
            "The uploaded data is from a third-party credit bureau.",
            "The uploaded data is from a third-party voter file.",
            "The uploaded data is third party partner data."
          ],
          "description": "Optional. Immutable. Source of the upload data.",
          "type": "string"
        },
        "keySpace": {
          "description": "Required. Immutable. The key space of mobile IDs.",
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "The iOS keyspace.",
            "The Android keyspace."
          ],
          "enum": [
            "KEY_SPACE_UNSPECIFIED",
            "IOS",
            "ANDROID"
          ]
        },
        "appId": {
          "description": "Required. Immutable. A string that uniquely identifies a mobile application from which the data was collected.",
          "type": "string"
        }
      }
    },
    "UserListDirectLicense": {
      "id": "UserListDirectLicense",
      "description": "A user list direct license. This feature is only available to data partners.",
      "type": "object",
      "properties": {
        "clientAccountType": {
          "description": "Immutable. Account type of client customer which the user list is being licensed to.",
          "type": "string",
          "enum": [
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_UNKNOWN",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_GOOGLE_ADS",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_DISPLAY_VIDEO_PARTNER",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_DISPLAY_VIDEO_ADVERTISER",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_GOOGLE_AD_MANAGER_AUDIENCE_LINK"
          ],
          "enumDescriptions": [
            "Unknown.",
            "Google Ads customer.",
            "Display & Video 360 partner.",
            "Display & Video 360 advertiser.",
            "Google Ad Manager audience link."
          ]
        },
        "pricing": {
          "$ref": "UserListLicensePricing",
          "description": "Optional. UserListDirectLicense pricing."
        },
        "userListDisplayName": {
          "readOnly": true,
          "description": "Output only. Name of the user list being licensed. This field is read-only.",
          "type": "string"
        },
        "status": {
          "enumDescriptions": [
            "Unknown.",
            "Active status - user list is still being licensed.",
            "Inactive status - user list is no longer being licensed."
          ],
          "enum": [
            "USER_LIST_LICENSE_STATUS_UNSPECIFIED",
            "USER_LIST_LICENSE_STATUS_ENABLED",
            "USER_LIST_LICENSE_STATUS_DISABLED"
          ],
          "description": "Optional. Status of UserListDirectLicense - ENABLED or DISABLED.",
          "type": "string"
        },
        "metrics": {
          "readOnly": true,
          "$ref": "UserListLicenseMetrics",
          "description": "Output only. Metrics related to this license This field is read-only and only populated if the start and end dates are set in the ListUserListDirectLicenses call"
        },
        "name": {
          "description": "Identifier. The resource name of the user list direct license.",
          "type": "string"
        },
        "clientAccountId": {
          "description": "Immutable. ID of client customer which the user list is being licensed to.",
          "type": "string",
          "format": "int64"
        },
        "clientAccountDisplayName": {
          "readOnly": true,
          "description": "Output only. Name of client customer which the user list is being licensed to. This field is read-only.",
          "type": "string"
        },
        "userListId": {
          "format": "int64",
          "description": "Immutable. ID of the user list being licensed.",
          "type": "string"
        },
        "historicalPricings": {
          "readOnly": true,
          "description": "Output only. Pricing history of this user list license. This field is read-only.",
          "type": "array",
          "items": {
            "$ref": "UserListLicensePricing"
          }
        }
      }
    },
    "RemovePpidDataStatus": {
      "id": "RemovePpidDataStatus",
      "description": "The status of the ppid data removal from the destination.",
      "type": "object",
      "properties": {
        "recordCount": {
          "format": "int64",
          "description": "The total count of audience members sent in the removal request. Includes all audience members in the request, regardless of whether they were successfully removed or not.",
          "type": "string"
        },
        "ppidCount": {
          "format": "int64",
          "description": "The total count of ppids sent in the removal request. Includes all ppids in the request, regardless of whether they were successfully removed or not.",
          "type": "string"
        }
      }
    },
    "CustomVariable": {
      "properties": {
        "value": {
          "description": "Optional. The value to store for the custom variable.",
          "type": "string"
        },
        "destinationReferences": {
          "description": "Optional. Reference string used to determine which of the Event.destination_references the custom variable should be sent to. If empty, the Event.destination_references will be used.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "variable": {
          "description": "Optional. The name of the custom variable to set. If the variable is not found for the given destination, it will be ignored.",
          "type": "string"
        }
      },
      "id": "CustomVariable",
      "description": "Custom variable for ads conversions.",
      "type": "object"
    },
    "RetrieveInsightsRequest": {
      "id": "RetrieveInsightsRequest",
      "description": "Request message for DM API MarketingDataInsightsService.RetrieveInsights",
      "type": "object",
      "properties": {
        "baseline": {
          "description": "Required. Baseline for the insights requested.",
          "$ref": "Baseline"
        },
        "userListId": {
          "description": "Required. The user list ID for which insights are requested.",
          "type": "string"
        }
      }
    },
    "AddressInfo": {
      "id": "AddressInfo",
      "description": "Address information for the user.",
      "type": "object",
      "properties": {
        "city": {
          "description": "Optional. The city of the user's address. Used only for Google Analytics. The value should be normalized as such: - Remove symbol characters - Convert to lowercase - Remove leading and trailing whitespace",
          "type": "string"
        },
        "administrativeArea": {
          "description": "Optional. The administrative area (state/province) of the user's address. Used only for Google Analytics. The value should be normalized as such: - Remove symbol characters - Convert to lowercase - Remove leading and trailing whitespace",
          "type": "string"
        },
        "regionCode": {
          "description": "Required. The 2-letter region code in ISO-3166-1 alpha-2 of the user's address.",
          "type": "string"
        },
        "familyName": {
          "description": "Required. Family (last) name of the user, all lowercase, with no punctuation, no leading or trailing whitespace, and hashed as SHA-256.",
          "type": "string"
        },
        "givenName": {
          "description": "Required. Given (first) name of the user, all lowercase, with no punctuation, no leading or trailing whitespace, and hashed as SHA-256.",
          "type": "string"
        },
        "addressLine": {
          "description": "Optional. The street and number of the user's address. Used only for Google Analytics. This field is hashed and possibly encrypted. Normalize the value before hashing: - Remove symbol characters - Convert to lowercase - Remove leading and trailing whitespace",
          "type": "string"
        },
        "postalCode": {
          "description": "Required. The postal code of the user's address.",
          "type": "string"
        }
      }
    },
    "ProductAccount": {
      "description": "Represents a specific account.",
      "type": "object",
      "id": "ProductAccount",
      "properties": {
        "product": {
          "enumDescriptions": [
            "Unspecified product. Should never be used.",
            "Google Ads.",
            "Display & Video 360 partner.",
            "Display & Video 360 advertiser.",
            "Data Partner."
          ],
          "description": "Deprecated. Use `account_type` instead.",
          "type": "string",
          "deprecated": true,
          "enum": [
            "PRODUCT_UNSPECIFIED",
            "GOOGLE_ADS",
            "DISPLAY_VIDEO_PARTNER",
            "DISPLAY_VIDEO_ADVERTISER",
            "DATA_PARTNER"
          ]
        },
        "accountId": {
          "description": "Required. The ID of the account. For example, your Google Ads account ID.",
          "type": "string"
        },
        "accountType": {
          "description": "Required. The type of the account. For example, `GOOGLE_ADS`. Either `account_type` or the deprecated `product` is required. If both are set, the values must match.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified product. Should never be used.",
            "Google Ads.",
            "Display & Video 360 partner.",
            "Display & Video 360 advertiser.",
            "Data Partner.",
            "Google Analytics.",
            "Google Ad Manager audience link.",
            "Floodlight configuration."
          ],
          "enum": [
            "ACCOUNT_TYPE_UNSPECIFIED",
            "GOOGLE_ADS",
            "DISPLAY_VIDEO_PARTNER",
            "DISPLAY_VIDEO_ADVERTISER",
            "DATA_PARTNER",
            "GOOGLE_ANALYTICS_PROPERTY",
            "GOOGLE_AD_MANAGER_AUDIENCE_LINK",
            "FLOODLIGHT_CONFIG"
          ]
        }
      }
    },
    "UserListGlobalLicenseCustomerInfo": {
      "properties": {
        "clientAccountType": {
          "enumDescriptions": [
            "Unknown.",
            "Google Ads customer.",
            "Display & Video 360 partner.",
            "Display & Video 360 advertiser.",
            "Google Ad Manager audience link."
          ],
          "description": "Output only. Product type of client customer which the user list is being licensed to.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_UNKNOWN",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_GOOGLE_ADS",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_DISPLAY_VIDEO_PARTNER",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_DISPLAY_VIDEO_ADVERTISER",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_GOOGLE_AD_MANAGER_AUDIENCE_LINK"
          ]
        },
        "pricing": {
          "readOnly": true,
          "$ref": "UserListLicensePricing",
          "description": "Output only. UserListDirectLicense pricing."
        },
        "userListDisplayName": {
          "description": "Output only. Name of the user list being licensed.",
          "type": "string",
          "readOnly": true
        },
        "status": {
          "enum": [
            "USER_LIST_LICENSE_STATUS_UNSPECIFIED",
            "USER_LIST_LICENSE_STATUS_ENABLED",
            "USER_LIST_LICENSE_STATUS_DISABLED"
          ],
          "readOnly": true,
          "description": "Output only. Status of UserListDirectLicense - ENABLED or DISABLED.",
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Active status - user list is still being licensed.",
            "Inactive status - user list is no longer being licensed."
          ]
        },
        "metrics": {
          "description": "Output only. Metrics related to this license This field is only populated if the start and end dates are set in the ListUserListGlobalLicenseCustomerInfos call.",
          "readOnly": true,
          "$ref": "UserListLicenseMetrics"
        },
        "name": {
          "description": "Identifier. The resource name of the user list global license customer.",
          "type": "string"
        },
        "clientAccountId": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. ID of client customer which the user list is being licensed to.",
          "type": "string"
        },
        "clientAccountDisplayName": {
          "readOnly": true,
          "description": "Output only. Name of client customer which the user list is being licensed to.",
          "type": "string"
        },
        "userListId": {
          "readOnly": true,
          "description": "Output only. ID of the user list being licensed.",
          "type": "string",
          "format": "int64"
        },
        "licenseType": {
          "enumDescriptions": [
            "UNSPECIFIED.",
            "Reseller license.",
            "DataMart Sell Side license.",
            "DataMart Buy Side license."
          ],
          "enum": [
            "USER_LIST_GLOBAL_LICENSE_TYPE_UNSPECIFIED",
            "USER_LIST_GLOBAL_LICENSE_TYPE_RESELLER",
            "USER_LIST_GLOBAL_LICENSE_TYPE_DATA_MART_SELL_SIDE",
            "USER_LIST_GLOBAL_LICENSE_TYPE_DATA_MART_BUY_SIDE"
          ],
          "description": "Output only. Product type of client customer which the user list is being licensed to.",
          "type": "string",
          "readOnly": true
        },
        "historicalPricings": {
          "description": "Output only. Pricing history of this user list license.",
          "type": "array",
          "items": {
            "$ref": "UserListLicensePricing"
          },
          "readOnly": true
        }
      },
      "id": "UserListGlobalLicenseCustomerInfo",
      "description": "Information about a customer of a user list global license. This will automatically be created by the system when a customer purchases a global license.",
      "type": "object"
    },
    "UserIdInfo": {
      "id": "UserIdInfo",
      "description": "Additional information when `USER_ID` is one of the `upload_key_types`.",
      "type": "object",
      "properties": {
        "dataSourceType": {
          "description": "Optional. Immutable. Source of the upload data.",
          "type": "string",
          "enum": [
            "DATA_SOURCE_TYPE_UNSPECIFIED",
            "DATA_SOURCE_TYPE_FIRST_PARTY",
            "DATA_SOURCE_TYPE_THIRD_PARTY_CREDIT_BUREAU",
            "DATA_SOURCE_TYPE_THIRD_PARTY_VOTER_FILE",
            "DATA_SOURCE_TYPE_THIRD_PARTY_PARTNER_DATA"
          ],
          "enumDescriptions": [
            "Not specified.",
            "The uploaded data is first-party data.",
            "The uploaded data is from a third-party credit bureau.",
            "The uploaded data is from a third-party voter file.",
            "The uploaded data is third party partner data."
          ]
        }
      }
    },
    "IngestUserDataStatus": {
      "properties": {
        "recordCount": {
          "format": "int64",
          "description": "The total count of audience members sent in the upload request for the destination. Includes all audience members in the request, regardless of whether they were successfully ingested or not.",
          "type": "string"
        },
        "userIdentifierCount": {
          "description": "The total count of user identifiers sent in the upload request for the destination. Includes all user identifiers in the request, regardless of whether they were successfully ingested or not.",
          "type": "string",
          "format": "int64"
        },
        "uploadMatchRateRange": {
          "description": "The match rate range of the upload.",
          "type": "string",
          "enum": [
            "MATCH_RATE_RANGE_UNKNOWN",
            "MATCH_RATE_RANGE_NOT_ELIGIBLE",
            "MATCH_RATE_RANGE_LESS_THAN_20",
            "MATCH_RATE_RANGE_20_TO_30",
            "MATCH_RATE_RANGE_31_TO_40",
            "MATCH_RATE_RANGE_41_TO_50",
            "MATCH_RATE_RANGE_51_TO_60",
            "MATCH_RATE_RANGE_61_TO_70",
            "MATCH_RATE_RANGE_71_TO_80",
            "MATCH_RATE_RANGE_81_TO_90",
            "MATCH_RATE_RANGE_91_TO_100"
          ],
          "enumDescriptions": [
            "The match rate range is unknown.",
            "The match rate range is not eligible.",
            "The match rate range is less than 20% (in the interval `[0, 20)`).",
            "The match rate range is between 20% and 30% (in the interval `[20, 31)`).",
            "The match rate range is between 31% and 40% (in the interval `[31, 41)`).",
            "The match rate range is between 41% and 50% (in the interval `[41, 51)`).",
            "The match rate range is between 51% and 60% (in the interval `[51, 61)`.",
            "The match rate range is between 61% and 70% (in the interval `[61, 71)`).",
            "The match rate range is between 71% and 80% (in the interval `[71, 81)`).",
            "The match rate range is between 81% and 90% (in the interval `[81, 91)`).",
            "The match rate range is between 91% and 100% (in the interval `[91, 100]`)."
          ]
        }
      },
      "description": "The status of the user data ingestion to the destination containing stats related to the ingestion.",
      "type": "object",
      "id": "IngestUserDataStatus"
    },
    "IngestEventsStatus": {
      "description": "The status of the events ingestion to the destination.",
      "type": "object",
      "id": "IngestEventsStatus",
      "properties": {
        "recordCount": {
          "description": "The total count of events sent in the upload request. Includes all events in the request, regardless of whether they were successfully ingested or not.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "RetrieveRequestStatusResponse": {
      "id": "RetrieveRequestStatusResponse",
      "description": "Response from the RetrieveRequestStatusRequest.",
      "type": "object",
      "properties": {
        "requestStatusPerDestination": {
          "description": "A list of request statuses per destination. The order of the statuses matches the order of the destinations in the original request.",
          "type": "array",
          "items": {
            "$ref": "RequestStatusPerDestination"
          }
        }
      }
    },
    "GoogleUserIdData": {
      "properties": {
        "googleUserIds": {
          "description": "Required. The list of encrypted google user IDs.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Google user id data holding encrypted google user IDs. At least one google user ID is required.",
      "type": "object",
      "id": "GoogleUserIdData"
    },
    "ListUserListDirectLicensesResponse": {
      "properties": {
        "userListDirectLicenses": {
          "description": "The licenses for the given user list in the request.",
          "type": "array",
          "items": {
            "$ref": "UserListDirectLicense"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListUserListDirectLicensesResponse",
      "description": "Response from the ListUserListDirectLicensesRequest.",
      "type": "object"
    },
    "UserListLicensePricing": {
      "description": "A user list license pricing.",
      "type": "object",
      "id": "UserListLicensePricing",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "description": "Output only. Start time of the pricing.",
          "type": "string",
          "readOnly": true
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Optional. End time of the pricing.",
          "type": "string"
        },
        "pricingActive": {
          "description": "Output only. Whether this pricing is active.",
          "type": "boolean",
          "readOnly": true
        },
        "pricingId": {
          "readOnly": true,
          "description": "Output only. The ID of this pricing.",
          "type": "string",
          "format": "int64"
        },
        "maxCostMicros": {
          "format": "int64",
          "description": "Optional. The maximum CPM a commerce audience can be charged when the MEDIA_SHARE cost type is used. The value is in micro units (10^-6) and in the currency specified by the currency_code field. For example, 2000000 means $2 if `currency_code` is `USD`. This is only relevant when cost_type is MEDIA_SHARE. When cost_type is not MEDIA_SHARE, and this field is set, a MAX_COST_NOT_ALLOWED error will be returned. If not set or set to`0`, there is no cap.",
          "type": "string"
        },
        "buyerApprovalState": {
          "enumDescriptions": [
            "UNSPECIFIED.",
            "User list client has not yet accepted the pricing terms set by the user list owner.",
            "User list client has accepted the pricing terms set by the user list owner.",
            "User list client has rejected the pricing terms set by the user list owner."
          ],
          "enum": [
            "USER_LIST_PRICING_BUYER_APPROVAL_STATE_UNSPECIFIED",
            "PENDING",
            "APPROVED",
            "REJECTED"
          ],
          "description": "Output only. The buyer approval state of this pricing. This field is read-only.",
          "type": "string",
          "readOnly": true
        },
        "currencyCode": {
          "description": "Optional. The currency in which cost and max_cost is specified. Must be a three-letter currency code defined in ISO 4217.",
          "type": "string"
        },
        "costMicros": {
          "description": "Optional. The cost associated with the model, in micro units (10^-6), in the currency specified by the currency_code field. For example, 2000000 means $2 if `currency_code` is `USD`.",
          "type": "string",
          "format": "int64"
        },
        "costType": {
          "enumDescriptions": [
            "Unspecified.",
            "Cost per click.",
            "Cost per mille (thousand impressions).",
            "Media share."
          ],
          "enum": [
            "USER_LIST_PRICING_COST_TYPE_UNSPECIFIED",
            "CPC",
            "CPM",
            "MEDIA_SHARE"
          ],
          "description": "Immutable. The cost type of this pricing. Can be set only in the `create` operation. Can't be updated for an existing license.",
          "type": "string"
        }
      }
    },
    "CoordinatorKeyInfo": {
      "properties": {
        "keyId": {
          "description": "Required. The ID of the chosen coordinator key.",
          "type": "string"
        }
      },
      "id": "CoordinatorKeyInfo",
      "description": "Information about the coordinator key.",
      "type": "object"
    },
    "RemoveAllAudienceMembersStatus": {
      "id": "RemoveAllAudienceMembersStatus",
      "description": "The status of the remove all audience members request.",
      "type": "object",
      "properties": {}
    },
    "Item": {
      "id": "Item",
      "description": "Represents an item in the cart associated with the event.",
      "type": "object",
      "properties": {
        "quantity": {
          "format": "int64",
          "description": "Optional. The number of this item associated with the event.",
          "type": "string"
        },
        "merchantId": {
          "description": "Optional. The Merchant Center ID associated with the item. For Store Sales events this will override the value set at the cart level. This field is ignored for other events.",
          "type": "string"
        },
        "additionalItemParameters": {
          "description": "Optional. A bucket of any [event parameters related to an item](https://developers.google.com/analytics/devguides/collection/protocol/ga4/reference/events) to be included within the event that were not already specified using other structured fields.",
          "type": "array",
          "items": {
            "$ref": "ItemParameter"
          }
        },
        "customVariables": {
          "description": "Optional. Additional key/value pair information to send to the conversion containers (conversion action or Floodlight activity), when tracking per-item conversions.",
          "type": "array",
          "items": {
            "$ref": "ItemCustomVariable"
          }
        },
        "merchantProductId": {
          "description": "Optional. The product ID within the Merchant Center account.",
          "type": "string"
        },
        "unitPrice": {
          "format": "double",
          "description": "Optional. The unit price excluding tax, shipping, and any transaction level discounts.",
          "type": "number"
        },
        "itemId": {
          "description": "Optional. A unique identifier to reference the item.",
          "type": "string"
        },
        "conversionValue": {
          "description": "Optional. The conversion value associated with this item within the event, for cases where the conversion value is different for each item.",
          "type": "number",
          "format": "double"
        },
        "merchantFeedLabel": {
          "description": "Optional. The feed label of the Merchant Center feed. If countries are still being used, the 2-letter country code in ISO-3166-1 alpha-2 can be used instead. For Store Sales events this will override the value set at the cart level. This field is ignored for other events.",
          "type": "string"
        },
        "merchantFeedLanguageCode": {
          "description": "Optional. The language code in ISO 639-1 associated with the Merchant Center feed where your items are uploaded.",
          "type": "string"
        }
      }
    },
    "PairData": {
      "description": "[PAIR](//support.google.com/admanager/answer/15067908) IDs for the audience. At least one PAIR ID is required. This feature is only available to data partners.",
      "type": "object",
      "id": "PairData",
      "properties": {
        "pairIds": {
          "description": "Required. Cleanroom-provided PII data, hashed with SHA256, and encrypted with an EC commutative cipher using publisher key for the [PAIR]((//support.google.com/admanager/answer/15067908)) user list. At most 10 `pairIds` can be provided in a single AudienceMember.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "DataTypeCount": {
      "id": "DataTypeCount",
      "description": "The count for a specific data type.",
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "The data type is unspecified.",
            "The data is an email address.",
            "The data is a phone number.",
            "The data is a physical address.",
            "The data is an IP address."
          ],
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "EMAIL",
            "PHONE_NUMBER",
            "ADDRESS",
            "IP_ADDRESS"
          ],
          "description": "The type of data.",
          "type": "string"
        },
        "count": {
          "description": "The count for this data type.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "SearchPartnerLinksResponse": {
      "properties": {
        "partnerLinks": {
          "description": "The partner links for the given account.",
          "type": "array",
          "items": {
            "$ref": "PartnerLink"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "SearchPartnerLinksResponse",
      "description": "Response from the SearchPartnerLinksRequest.",
      "type": "object"
    },
    "GcpWrappedKeyInfo": {
      "description": "Information about the Google Cloud Platform wrapped key.",
      "type": "object",
      "id": "GcpWrappedKeyInfo",
      "properties": {
        "keyType": {
          "description": "Required. The type of algorithm used to encrypt the data.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified key type. Should never be used.",
            "Algorithm XChaCha20-Poly1305"
          ],
          "enum": [
            "KEY_TYPE_UNSPECIFIED",
            "XCHACHA20_POLY1305"
          ]
        },
        "kekUri": {
          "description": "Required. Google Cloud Platform [Cloud Key Management Service resource ID](//cloud.google.com/kms/docs/getting-resource-ids). Should be in the format of `projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{key}` or `gcp-kms://projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{key}`",
          "type": "string"
        },
        "wipProvider": {
          "description": "Required. The [Workload Identity](//cloud.google.com/iam/docs/workload-identity-federation) pool provider required to use KEK.",
          "type": "string"
        },
        "encryptedDek": {
          "description": "Required. The base64 encoded encrypted data encryption key.",
          "type": "string"
        }
      }
    },
    "IngestAudienceMembersStatus": {
      "properties": {
        "pairDataIngestionStatus": {
          "description": "The status of the pair data ingestion to the destination.",
          "$ref": "IngestPairDataStatus"
        },
        "ppidDataIngestionStatus": {
          "$ref": "IngestPpidDataStatus",
          "description": "The status of the ppid data ingestion to the destination."
        },
        "compositeDataIngestionStatus": {
          "$ref": "IngestCompositeDataStatus",
          "description": "The status of the composite data ingestion to the destination."
        },
        "googleUserIdDataIngestionStatus": {
          "$ref": "IngestGoogleUserIdDataStatus",
          "description": "The status of the google user id data ingestion to the destination."
        },
        "mobileDataIngestionStatus": {
          "$ref": "IngestMobileDataStatus",
          "description": "The status of the mobile data ingestion to the destination."
        },
        "userDataIngestionStatus": {
          "$ref": "IngestUserDataStatus",
          "description": "The status of the user data ingestion to the destination."
        },
        "partnerProvidedIdDataIngestionStatus": {
          "$ref": "IngestPartnerProvidedIdDataStatus",
          "description": "The status of the partner provided id data ingestion to the destination."
        },
        "userIdDataIngestionStatus": {
          "description": "The status of the user id data ingestion to the destination.",
          "$ref": "IngestUserIdDataStatus"
        }
      },
      "description": "The status of the ingest audience members request.",
      "type": "object",
      "id": "IngestAudienceMembersStatus"
    },
    "MobileData": {
      "properties": {
        "mobileIds": {
          "description": "Required. The list of mobile device IDs (Android advertising ID, iOS IDFA for Customer Match user lists and Android advertising ID, iOS IDFA, Xbox or Microsoft ID, Amazon Fire TV ID, Roku ID, Generic Device ID for basic user lists). At most 10 `mobileIds` can be provided in a single AudienceMember.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "MobileData",
      "description": "Mobile IDs for the audience. At least one mobile ID is required.",
      "type": "object"
    },
    "AdEvent": {
      "description": "An ad event.",
      "type": "object",
      "id": "AdEvent",
      "properties": {
        "platformString": {
          "description": "String value for platform.",
          "type": "string"
        },
        "source": {
          "description": "Required. The platform source of the ad, akin to the Google Analytics source.",
          "type": "string"
        },
        "regionCode": {
          "description": "Optional. The ISO 3166-2 country plus subdivision.",
          "type": "string"
        },
        "platformTypeString": {
          "description": "String value for platform type.",
          "type": "string"
        },
        "campaignId": {
          "description": "Required. The ID of the associated campaign.",
          "type": "string"
        },
        "adFormatString": {
          "description": "String value for ad format.",
          "type": "string"
        },
        "adId": {
          "description": "Optional. The ID of the associated ad within the group.",
          "type": "string"
        },
        "targetingType": {
          "description": "Enum value for targeting type.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified targeting type.",
            "Audience targeting.",
            "Contextual targeting.",
            "Demographic targeting.",
            "Device targeting.",
            "Geo targeting.",
            "Interest targeting.",
            "Purchase intent targeting.",
            "Remarketing targeting."
          ],
          "enum": [
            "TARGETING_TYPE_UNSPECIFIED",
            "TARGETING_TYPE_AUDIENCE",
            "TARGETING_TYPE_CONTEXTUAL",
            "TARGETING_TYPE_DEMOGRAPHIC",
            "TARGETING_TYPE_DEVICE",
            "TARGETING_TYPE_GEO",
            "TARGETING_TYPE_INTEREST",
            "TARGETING_TYPE_PURCHASE_INTENT",
            "TARGETING_TYPE_REMARKETING"
          ]
        },
        "adWidth": {
          "description": "Optional. The width of the ad in pixels.",
          "type": "integer",
          "format": "int32"
        },
        "targetingTypeString": {
          "description": "String value for targeting type.",
          "type": "string"
        },
        "mobileDeviceId": {
          "description": "Optional. The device ID of the device that the ad was served to.",
          "type": "string"
        },
        "adPlacement": {
          "description": "Enum value for ad placement.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified ad placement.",
            "Discover placement.",
            "Feed placement.",
            "Footer placement.",
            "Header placement.",
            "Home placement.",
            "In-content placement.",
            "Promoted placement.",
            "Search placement.",
            "Story placement."
          ],
          "enum": [
            "AD_PLACEMENT_UNSPECIFIED",
            "AD_PLACEMENT_DISCOVER",
            "AD_PLACEMENT_FEED",
            "AD_PLACEMENT_FOOTER",
            "AD_PLACEMENT_HEADER",
            "AD_PLACEMENT_HOME",
            "AD_PLACEMENT_IN_CONTENT",
            "AD_PLACEMENT_PROMOTED",
            "AD_PLACEMENT_SEARCH",
            "AD_PLACEMENT_STORY"
          ]
        },
        "viewabilityInfo": {
          "description": "Required. Details of the viewability of the ad served.",
          "$ref": "ViewabilityInfo"
        },
        "eventType": {
          "description": "Required. The type of the event.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified event type.",
            "View event.",
            "Click event."
          ],
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "EVENT_TYPE_VIEW",
            "EVENT_TYPE_CLICK"
          ]
        },
        "adTypeString": {
          "description": "String value for ad type.",
          "type": "string"
        },
        "timestamp": {
          "description": "Required. The time the event occurred.",
          "type": "string",
          "format": "google-datetime"
        },
        "adFormat": {
          "enumDescriptions": [
            "Unspecified ad format.",
            "AR ad.",
            "Audio ad.",
            "Banner ad.",
            "Bumper ad.",
            "Carousel ad.",
            "Collection ad.",
            "Image ad.",
            "Interactive ad.",
            "Interstitial ad.",
            "In-feed ad.",
            "In-stream ad.",
            "In-stream skippable ad.",
            "In-stream non-skippable ad.",
            "Native ad.",
            "Shorts ad.",
            "Story ad.",
            "Sponsored ad.",
            "Video ad."
          ],
          "enum": [
            "AD_FORMAT_UNSPECIFIED",
            "AD_FORMAT_AR",
            "AD_FORMAT_AUDIO",
            "AD_FORMAT_BANNER",
            "AD_FORMAT_BUMPER",
            "AD_FORMAT_CAROUSEL",
            "AD_FORMAT_COLLECTION",
            "AD_FORMAT_IMAGE",
            "AD_FORMAT_INTERACTIVE",
            "AD_FORMAT_INTERSTITIAL",
            "AD_FORMAT_IN_FEED",
            "AD_FORMAT_IN_STREAM",
            "AD_FORMAT_IN_STREAM_SKIPPABLE",
            "AD_FORMAT_IN_STREAM_NON_SKIPPABLE",
            "AD_FORMAT_NATIVE",
            "AD_FORMAT_SHORTS",
            "AD_FORMAT_STORY",
            "AD_FORMAT_SPONSORED",
            "AD_FORMAT_VIDEO"
          ],
          "description": "Enum value for ad format.",
          "type": "string"
        },
        "platformType": {
          "enum": [
            "PLATFORM_TYPE_UNSPECIFIED",
            "PLATFORM_TYPE_MOBILE",
            "PLATFORM_TYPE_DESKTOP",
            "PLATFORM_TYPE_CTV",
            "PLATFORM_TYPE_PHONE",
            "PLATFORM_TYPE_TABLET"
          ],
          "enumDescriptions": [
            "Unspecified platform type.",
            "Mobile platform.",
            "Desktop platform.",
            "CTV platform.",
            "Phone platform.",
            "Tablet platform."
          ],
          "description": "Enum value for platform type.",
          "type": "string"
        },
        "attributionHint": {
          "description": "Optional. The partner-assumed attribution status for this ad event. This acts only as a signal for how the partner assumed attribution played out, and does not force an end result in final reports.",
          "type": "string",
          "enumDescriptions": [
            "Unknown attribution status.",
            "Converted status.",
            "Not converted status."
          ],
          "enum": [
            "ATTRIBUTION_HINT_UNSPECIFIED",
            "ATTRIBUTION_HINT_CONVERTED",
            "ATTRIBUTION_HINT_NOT_CONVERTED"
          ]
        },
        "adType": {
          "enumDescriptions": [
            "Unspecified ad type.",
            "Display ad.",
            "Text ad.",
            "Image ad.",
            "Rich media ad.",
            "HTML ad.",
            "Audio ad.",
            "Video ad."
          ],
          "enum": [
            "AD_TYPE_UNSPECIFIED",
            "AD_TYPE_DISPLAY",
            "AD_TYPE_TEXT",
            "AD_TYPE_IMAGE",
            "AD_TYPE_RICH_MEDIA",
            "AD_TYPE_HTML",
            "AD_TYPE_AUDIO",
            "AD_TYPE_VIDEO"
          ],
          "description": "Enum value for ad type.",
          "type": "string"
        },
        "adGroupId": {
          "description": "Optional. The ID of the associated ad group.",
          "type": "string"
        },
        "userData": {
          "description": "Optional. Multiple pieces of user-provided data, representing the user the event is associated with. It is possible to provide multiple instances of the same type of data (e.g. email address). The more data provided, the more likely a match will be found.",
          "$ref": "UserData"
        },
        "eventSubtype": {
          "enum": [
            "EVENT_SUBTYPE_UNSPECIFIED",
            "EVENT_SUBTYPE_IMPRESSION",
            "EVENT_SUBTYPE_ENGAGED_VIEW",
            "EVENT_SUBTYPE_ONSITE_CLICK",
            "EVENT_SUBTYPE_OUTBOUND_CLICK"
          ],
          "enumDescriptions": [
            "Unspecified event subtype.",
            "Impression event.",
            "Engaged view event.",
            "Onsite click event.",
            "Outbound click event."
          ],
          "description": "Enum value for event subtype.",
          "type": "string"
        },
        "eventId": {
          "description": "Optional. An ID created and managed by the caller that uniquely identifies this event. Required if you want to deduplicate ad events that are included in multiple requests. Otherwise, this field is optional.",
          "type": "string"
        },
        "campaignName": {
          "description": "Required. The name of the associated campaign.",
          "type": "string"
        },
        "measurementAllowed": {
          "description": "Optional. Represents if the row is allowed to be used for measurement purposes, as governed by applicable privacy laws within regional jurisdiction.",
          "type": "boolean"
        },
        "deviceInfo": {
          "$ref": "DeviceInfo",
          "description": "Required. Information gathered about the device being used when the ad event happened."
        },
        "adPlacementString": {
          "description": "String value for ad placement.",
          "type": "string"
        },
        "platform": {
          "description": "Enum value for platform.",
          "type": "string",
          "enum": [
            "PLATFORM_UNSPECIFIED",
            "PLATFORM_IOS",
            "PLATFORM_ANDROID",
            "PLATFORM_WEB"
          ],
          "enumDescriptions": [
            "Unspecified platform.",
            "iOS platform.",
            "Android platform.",
            "Web platform."
          ]
        },
        "adHeight": {
          "format": "int32",
          "description": "Optional. The height of the ad in pixels.",
          "type": "integer"
        },
        "advertiserId": {
          "description": "Required. The ID of the advertiser for the ad event. This must match the ID sent in the linking flow.",
          "type": "string"
        },
        "eventSubtypeString": {
          "description": "String value for event subtype.",
          "type": "string"
        },
        "medium": {
          "description": "Required. The medium of the ad, akin to the Google Analytics medium.",
          "type": "string"
        }
      }
    },
    "RemoveAllAudienceMembersResponse": {
      "properties": {
        "requestId": {
          "description": "The auto-generated ID of the request.",
          "type": "string"
        }
      },
      "id": "RemoveAllAudienceMembersResponse",
      "description": "Response from the RemoveAllAudienceMembersRequest.",
      "type": "object"
    },
    "RemoveAudienceMembersRequest": {
      "description": "Request to remove users from an audience in the provided destinations. Returns a RemoveAudienceMembersResponse.",
      "type": "object",
      "id": "RemoveAudienceMembersRequest",
      "properties": {
        "destinations": {
          "description": "Required. The list of destinations to remove the users from.",
          "type": "array",
          "items": {
            "$ref": "Destination"
          }
        },
        "audienceMembers": {
          "description": "Required. The list of users to remove.",
          "type": "array",
          "items": {
            "$ref": "AudienceMember"
          }
        },
        "validateOnly": {
          "description": "Optional. For testing purposes. If `true`, the request is validated but not executed. Only errors are returned, not results.",
          "type": "boolean"
        },
        "encryptionInfo": {
          "description": "Optional. Encryption information for UserData uploads. If not set, it's assumed that uploaded identifying information is hashed but not encrypted. For non `UserData` uploads, this field is ignored.",
          "$ref": "EncryptionInfo"
        },
        "encoding": {
          "description": "Optional. Required for UserData uploads. The encoding type of the user identifiers. Applies to only the outer encoding for encrypted user identifiers. For non `UserData` uploads, this field is ignored.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified Encoding type. Should never be used.",
            "Hex encoding.",
            "Base 64 encoding."
          ],
          "enum": [
            "ENCODING_UNSPECIFIED",
            "HEX",
            "BASE64"
          ]
        }
      }
    },
    "IngestPairDataStatus": {
      "properties": {
        "recordCount": {
          "format": "int64",
          "description": "The total count of audience members sent in the upload request for the destination. Includes all audience members in the request, regardless of whether they were successfully ingested or not.",
          "type": "string"
        },
        "pairIdCount": {
          "format": "int64",
          "description": "The total count of pair ids sent in the upload request for the destination. Includes all pair ids in the request, regardless of whether they were successfully ingested or not.",
          "type": "string"
        }
      },
      "id": "IngestPairDataStatus",
      "description": "The status of the pair data ingestion to the destination containing stats related to the ingestion.",
      "type": "object"
    },
    "PartnerLinkMetadata": {
      "properties": {
        "implicitAccounts": {
          "description": "Optional. The list of implicit accounts.",
          "type": "array",
          "items": {
            "$ref": "PartnerCustomerAccount"
          }
        }
      },
      "id": "PartnerLinkMetadata",
      "description": "Represents metadata associated with a partner link.",
      "type": "object"
    },
    "IpData": {
      "description": "IP address information for a user. We recommend including observe_start_time and observe_end_time to help improve Customer Match match rates.",
      "type": "object",
      "id": "IpData",
      "properties": {
        "ipAddress": {
          "description": "Required. IP address captured at the time of customer interaction. Accepts standard string formats for both IPv4 and IPv6.",
          "type": "string"
        },
        "observeStartTime": {
          "description": "Optional. First recorded interaction time from this IP address in a session.",
          "type": "string",
          "format": "google-datetime"
        },
        "observeEndTime": {
          "format": "google-datetime",
          "description": "Optional. Last recorded interaction time from this IP address in a session.",
          "type": "string"
        }
      }
    },
    "ExperimentalField": {
      "properties": {
        "value": {
          "description": "Optional. The value the field to set.",
          "type": "string"
        },
        "field": {
          "description": "Optional. The name of the field to use.",
          "type": "string"
        }
      },
      "description": "Experimental field representing unofficial fields.",
      "type": "object",
      "id": "ExperimentalField"
    },
    "IngestAdEventsRequest": {
      "description": "Request to upload ad events.",
      "type": "object",
      "id": "IngestAdEventsRequest",
      "properties": {
        "encryptionInfo": {
          "description": "Required. Information about encryption keys which are used to encrypt the data.",
          "$ref": "EncryptionInfo"
        },
        "validateOnly": {
          "deprecated": true,
          "description": "Optional. If true, the request is validated, but not executed.",
          "type": "boolean"
        },
        "adEvents": {
          "description": "Required. Required (at least 1). A list of ad events.",
          "type": "array",
          "items": {
            "$ref": "AdEvent"
          }
        }
      }
    },
    "RemoveUserDataStatus": {
      "properties": {
        "recordCount": {
          "description": "The total count of audience members sent in the removal request. Includes all audience members in the request, regardless of whether they were successfully removed or not.",
          "type": "string",
          "format": "int64"
        },
        "userIdentifierCount": {
          "format": "int64",
          "description": "The total count of user identifiers sent in the removal request. Includes all user identifiers in the request, regardless of whether they were successfully removed or not.",
          "type": "string"
        }
      },
      "description": "The status of the user data removal from the destination.",
      "type": "object",
      "id": "RemoveUserDataStatus"
    },
    "ItemCustomVariable": {
      "properties": {
        "variable": {
          "description": "Optional. The name of the custom variable to set. If the variable is not found for the given destination, it will be ignored.",
          "type": "string"
        },
        "value": {
          "description": "Optional. The value to store for the custom variable.",
          "type": "string"
        },
        "destinationReferences": {
          "description": "Optional. Reference string used to determine which of the Event.destination_references the custom variable should be sent to. If empty, the Event.destination_references will be used.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Item-level custom variable for ads conversions.",
      "type": "object",
      "id": "ItemCustomVariable"
    },
    "AwsWrappedKeyInfo": {
      "properties": {
        "keyType": {
          "enumDescriptions": [
            "Unspecified key type. Should never be used.",
            "Algorithm XChaCha20-Poly1305"
          ],
          "enum": [
            "KEY_TYPE_UNSPECIFIED",
            "XCHACHA20_POLY1305"
          ],
          "description": "Required. The type of algorithm used to encrypt the data.",
          "type": "string"
        },
        "roleArn": {
          "description": "Required. The Amazon Resource Name of the IAM Role to assume for KMS decryption access. Should be in the format of `arn:{partition}:iam::{account_id}:role/{role_name}`",
          "type": "string"
        },
        "kekUri": {
          "description": "Required. The URI of the AWS KMS key used to decrypt the DEK. Should be in the format of `arn:{partition}:kms:{region}:{account_id}:key/{key_id}` or `aws-kms://arn:{partition}:kms:{region}:{account_id}:key/{key_id}`",
          "type": "string"
        },
        "encryptedDek": {
          "description": "Required. The base64 encoded encrypted data encryption key.",
          "type": "string"
        }
      },
      "id": "AwsWrappedKeyInfo",
      "description": "A data encryption key wrapped by an AWS KMS key.",
      "type": "object"
    },
    "ItemParameter": {
      "description": "A bucket of any [event parameters related to an item](https://developers.google.com/analytics/devguides/collection/protocol/ga4/reference/events) to be included within the event that were not already specified using other structured fields.",
      "type": "object",
      "id": "ItemParameter",
      "properties": {
        "parameterName": {
          "description": "Required. The name of the parameter to use.",
          "type": "string"
        },
        "value": {
          "description": "Required. The string representation of the value of the parameter to set.",
          "type": "string"
        }
      }
    },
    "AdIdentifiers": {
      "properties": {
        "dclid": {
          "description": "Optional. The display click ID associated with this event.",
          "type": "string"
        },
        "sessionAttributes": {
          "description": "Optional. Session attributes for event attribution and modeling.",
          "type": "string"
        },
        "encryptedUserIds": {
          "description": "Optional. Any number of encrypted user IDs.",
          "type": "array",
          "items": {
            "$ref": "EncryptedUserId"
          }
        },
        "landingPageDeviceInfo": {
          "description": "Optional. Information gathered about the device being used (if any) at the time of landing onto the advertiser’s site after interacting with the ad.",
          "$ref": "DeviceInfo"
        },
        "matchId": {
          "description": "Optional. The match ID field used to join this event with a previous event.",
          "type": "string"
        },
        "wbraid": {
          "description": "Optional. The click identifier for clicks associated with web events and originating from iOS devices starting with iOS14.",
          "type": "string"
        },
        "gclid": {
          "description": "Optional. The Google click ID (gclid) associated with this event.",
          "type": "string"
        },
        "mobileDeviceId": {
          "description": "Optional. The mobile identifier for advertisers. This would be IDFA on iOS, AdID on Android, or other platforms’ identifiers for advertisers.",
          "type": "string"
        },
        "impressionId": {
          "description": "Optional. The impression ID associated with this event.",
          "type": "string"
        },
        "gbraid": {
          "description": "Optional. The click identifier for clicks associated with app events and originating from iOS devices starting with iOS14.",
          "type": "string"
        }
      },
      "description": "Identifiers and other information used to match the conversion event with other online activity (such as ad clicks).",
      "type": "object",
      "id": "AdIdentifiers"
    },
    "MarketingDataInsight": {
      "id": "MarketingDataInsight",
      "description": "Insights for marketing data. This feature is only available to data partners.",
      "type": "object",
      "properties": {
        "dimension": {
          "enum": [
            "AUDIENCE_INSIGHTS_DIMENSION_UNSPECIFIED",
            "AUDIENCE_INSIGHTS_DIMENSION_UNKNOWN",
            "AFFINITY_USER_INTEREST",
            "IN_MARKET_USER_INTEREST",
            "AGE_RANGE",
            "GENDER"
          ],
          "enumDescriptions": [
            "Not specified.",
            "The value is unknown in this version.",
            "An Affinity UserInterest.",
            "An In-Market UserInterest.",
            "An age range.",
            "A gender."
          ],
          "description": "The dimension to which the insight belongs.",
          "type": "string"
        },
        "attributes": {
          "description": "Insights for values of a given dimension.",
          "type": "array",
          "items": {
            "$ref": "MarketingDataInsightsAttribute"
          }
        }
      }
    },
    "Consent": {
      "properties": {
        "adPersonalization": {
          "description": "Optional. Represents if the user consents to ad personalization.",
          "type": "string",
          "enum": [
            "CONSENT_STATUS_UNSPECIFIED",
            "CONSENT_GRANTED",
            "CONSENT_DENIED"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Granted.",
            "Denied."
          ]
        },
        "adUserData": {
          "description": "Optional. Represents if the user consents to ad user data.",
          "type": "string",
          "enum": [
            "CONSENT_STATUS_UNSPECIFIED",
            "CONSENT_GRANTED",
            "CONSENT_DENIED"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Granted.",
            "Denied."
          ]
        }
      },
      "id": "Consent",
      "description": "[Digital Markets Act (DMA)](//digital-markets-act.ec.europa.eu/index_en) consent settings for the user.",
      "type": "object"
    },
    "RemoveUserIdDataStatus": {
      "properties": {
        "userIdCount": {
          "format": "int64",
          "description": "The total count of user ids sent in the removal request. Includes all user ids in the request, regardless of whether they were successfully removed or not.",
          "type": "string"
        },
        "recordCount": {
          "format": "int64",
          "description": "The total count of audience members sent in the removal request. Includes all audience members in the request, regardless of whether they were successfully removed or not.",
          "type": "string"
        }
      },
      "description": "The status of the user id data removal from the destination.",
      "type": "object",
      "id": "RemoveUserIdDataStatus"
    },
    "ListUserListsResponse": {
      "description": "Response message for ListUserLists.",
      "type": "object",
      "id": "ListUserListsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "userLists": {
          "description": "The user lists from the specified account.",
          "type": "array",
          "items": {
            "$ref": "UserList"
          }
        }
      }
    },
    "PartnerCustomerAccount": {
      "properties": {
        "accountName": {
          "description": "Optional. The name of the account.",
          "type": "string"
        },
        "accountId": {
          "description": "Required. The identifier of the customer account in the partner's ID space.",
          "type": "string"
        },
        "accountType": {
          "description": "Optional. The type of the account. Can be used to distinguish between advertiser accounts and business level accounts, for example.",
          "type": "string"
        }
      },
      "id": "PartnerCustomerAccount",
      "description": "Represents a customer account in the partner's system.",
      "type": "object"
    },
    "UserData": {
      "id": "UserData",
      "description": "Data that identifies the user. At least one identifier is required.",
      "type": "object",
      "properties": {
        "userIdentifiers": {
          "description": "Required. The identifiers for the user. It's possible to provide multiple instances of the same type of data (for example, multiple email addresses). To increase the likelihood of a match, provide as many identifiers as possible. At most 10 `userIdentifiers` can be provided in a single AudienceMember or Event.",
          "type": "array",
          "items": {
            "$ref": "UserIdentifier"
          }
        }
      }
    },
    "IngestCompositeDataStatus": {
      "properties": {
        "recordCount": {
          "description": "The total count of audience members sent in the upload request for the destination. Includes all audience members in the request, regardless of whether they were successfully ingested or not.",
          "type": "string",
          "format": "int64"
        },
        "dataTypeCounts": {
          "description": "The total count of data types sent in the upload request for the destination, broken down by data type. Includes all data types in the request, regardless of whether they were successfully ingested or not.",
          "type": "array",
          "items": {
            "$ref": "DataTypeCount"
          }
        },
        "uploadMatchRateRange": {
          "description": "The match rate range of the upload.",
          "type": "string",
          "enum": [
            "MATCH_RATE_RANGE_UNKNOWN",
            "MATCH_RATE_RANGE_NOT_ELIGIBLE",
            "MATCH_RATE_RANGE_LESS_THAN_20",
            "MATCH_RATE_RANGE_20_TO_30",
            "MATCH_RATE_RANGE_31_TO_40",
            "MATCH_RATE_RANGE_41_TO_50",
            "MATCH_RATE_RANGE_51_TO_60",
            "MATCH_RATE_RANGE_61_TO_70",
            "MATCH_RATE_RANGE_71_TO_80",
            "MATCH_RATE_RANGE_81_TO_90",
            "MATCH_RATE_RANGE_91_TO_100"
          ],
          "enumDescriptions": [
            "The match rate range is unknown.",
            "The match rate range is not eligible.",
            "The match rate range is less than 20% (in the interval `[0, 20)`).",
            "The match rate range is between 20% and 30% (in the interval `[20, 31)`).",
            "The match rate range is between 31% and 40% (in the interval `[31, 41)`).",
            "The match rate range is between 41% and 50% (in the interval `[41, 51)`).",
            "The match rate range is between 51% and 60% (in the interval `[51, 61)`.",
            "The match rate range is between 61% and 70% (in the interval `[61, 71)`).",
            "The match rate range is between 71% and 80% (in the interval `[71, 81)`).",
            "The match rate range is between 81% and 90% (in the interval `[81, 91)`).",
            "The match rate range is between 91% and 100% (in the interval `[91, 100]`)."
          ]
        }
      },
      "description": "The status of the composite data ingestion to the destination containing stats related to the ingestion.",
      "type": "object",
      "id": "IngestCompositeDataStatus"
    },
    "IngestUserIdDataStatus": {
      "description": "The status of the user id data ingestion to the destination containing stats related to the ingestion.",
      "type": "object",
      "id": "IngestUserIdDataStatus",
      "properties": {
        "userIdCount": {
          "description": "The total count of user ids sent in the upload request for the destination. Includes all user ids in the request, regardless of whether they were successfully ingested or not.",
          "type": "string",
          "format": "int64"
        },
        "recordCount": {
          "description": "The total count of audience members sent in the upload request for the destination. Includes all audience members in the request, regardless of whether they were successfully ingested or not.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "IngestEventsResponse": {
      "description": "Response from the IngestEventsRequest.",
      "type": "object",
      "id": "IngestEventsResponse",
      "properties": {
        "requestId": {
          "description": "The auto-generated ID of the request.",
          "type": "string"
        },
        "fieldWarnings": {
          "description": "Detailed row-level warnings with field paths.",
          "type": "array",
[...]
