{
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "discoveryVersion": "v1",
  "version": "v1",
  "ownerName": "Google",
  "rootUrl": "https://datamanager.googleapis.com/",
  "mtlsRootUrl": "https://datamanager.mtls.googleapis.com/",
  "description": "A unified ingestion API for data partners, agencies and advertisers to connect first-party data across Google advertising products.",
  "name": "datamanager",
  "id": "datamanager:v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "documentationLink": "https://developers.google.com/data-manager",
  "baseUrl": "https://datamanager.googleapis.com/",
  "protocol": "rest",
  "revision": "20260811",
  "kind": "discovery#restDescription",
  "title": "Data Manager API",
  "version_module": true,
  "resources": {
    "requestStatus": {
      "methods": {
        "retrieve": {
          "response": {
            "$ref": "RetrieveRequestStatusResponse"
          },
          "id": "datamanager.requestStatus.retrieve",
          "flatPath": "v1/requestStatus:retrieve",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/datamanager"
          ],
          "parameterOrder": [],
          "description": "Gets the status of a request given request id.",
          "path": "v1/requestStatus:retrieve",
          "parameters": {
            "requestId": {
              "type": "string",
              "description": "Required. Required. The request ID of the Data Manager API request.",
              "location": "query"
            }
          }
        }
      }
    },
    "accountTypes": {
      "resources": {
        "accounts": {
          "resources": {
            "insights": {
              "methods": {
                "retrieve": {
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/insights:retrieve",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Retrieves marketing data insights for a given user list. This feature is only available to data partners. Authorization Headers: This method supports the following optional headers to define how the API authorizes access for the request: * `login-account`: (Optional) The resource name of the account where the Google Account of the credentials is a user. If not set, defaults to the account of the request. Format: `accountTypes/{loginAccountType}/accounts/{loginAccountId}` * `linked-account`: (Optional) The resource name of the account with an established product link to the `login-account`. Format: `accountTypes/{linkedAccountType}/accounts/{linkedAccountId}`",
                  "path": "v1/{+parent}/insights:retrieve",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent account that owns the user list. Format: `accountTypes/{account_type}/accounts/{account}`",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "RetrieveInsightsResponse"
                  },
                  "request": {
                    "$ref": "RetrieveInsightsRequest"
                  },
                  "id": "datamanager.accountTypes.accounts.insights.retrieve"
                }
              }
            },
            "userListGlobalLicenses": {
              "methods": {
                "patch": {
                  "response": {
                    "$ref": "UserListGlobalLicense"
                  },
                  "request": {
                    "$ref": "UserListGlobalLicense"
                  },
                  "id": "datamanager.accountTypes.accounts.userListGlobalLicenses.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userListGlobalLicenses/{userListGlobalLicensesId}",
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates a user list global license. This feature is only available to data partners.",
                  "path": "v1/{+name}",
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "Optional. The list of fields to update. The special character `*` is not supported and an `INVALID_UPDATE_MASK` error will be thrown if used.",
                      "type": "string"
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+/userListGlobalLicenses/[^/]+$",
                      "description": "Identifier. The resource name of the user list global license.",
                      "type": "string"
                    }
                  }
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a user list global license. This feature is only available to data partners.",
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userListGlobalLicenses",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "path": "v1/{+parent}/userListGlobalLicenses",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "description": "Required. The account that owns the user list being licensed. Should be in the format accountTypes/{ACCOUNT_TYPE}/accounts/{ACCOUNT_ID}",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+$",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "UserListGlobalLicense"
                  },
                  "response": {
                    "$ref": "UserListGlobalLicense"
                  },
                  "id": "datamanager.accountTypes.accounts.userListGlobalLicenses.create"
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists all user list global licenses owned by the parent account. This feature is only available to data partners.",
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userListGlobalLicenses",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "path": "v1/{+parent}/userListGlobalLicenses",
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "description": "Optional. A [filter string](https://google.aip.dev/160) to apply to the list request. All fields need to be on the left hand side of each condition (for example: `user_list_id = 123`). Fields must be specified using either all [camel case](https://en.wikipedia.org/wiki/Camel_case) or all [snake case](https://en.wikipedia.org/wiki/Snake_case). Don't use a combination of camel case and snake case. **Supported Operations:** - `AND` - `=` - `!=` - `>` - `>=` - `<` - `<=` **Supported Functions:** - `IN(field, value1, value2, ...)`: returns true if the field matches any of the values. Example: `IN(user_list_id, 123, 456)` **Unsupported Fields:** - `name` (use get method instead) - `historical_pricings` and all its subfields - `pricing.start_time` - `pricing.end_time`",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+$",
                      "description": "Required. The account whose licenses are being queried. Should be in the format accountTypes/{ACCOUNT_TYPE}/accounts/{ACCOUNT_ID}",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of licenses to return. The service may return fewer than this value. If unspecified, at most 50 licenses will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListUserListGlobalLicense` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListUserListDirectLicense` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "ListUserListGlobalLicensesResponse"
                  },
                  "id": "datamanager.accountTypes.accounts.userListGlobalLicenses.list"
                },
                "get": {
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+/userListGlobalLicenses/[^/]+$",
                      "description": "Required. The resource name of the user list global license.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Retrieves a user list global license. This feature is only available to data partners.",
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userListGlobalLicenses/{userListGlobalLicensesId}",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "id": "datamanager.accountTypes.accounts.userListGlobalLicenses.get",
                  "response": {
                    "$ref": "UserListGlobalLicense"
                  }
                }
              },
              "resources": {
                "userListGlobalLicenseCustomerInfos": {
                  "methods": {
                    "list": {
                      "response": {
                        "$ref": "ListUserListGlobalLicenseCustomerInfosResponse"
                      },
                      "id": "datamanager.accountTypes.accounts.userListGlobalLicenses.userListGlobalLicenseCustomerInfos.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Lists all customer info for a user list global license. This feature is only available to data partners.",
                      "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userListGlobalLicenses/{userListGlobalLicensesId}/userListGlobalLicenseCustomerInfos",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/datamanager"
                      ],
                      "path": "v1/{+parent}/userListGlobalLicenseCustomerInfos",
                      "parameters": {
                        "pageToken": {
                          "description": "Optional. A page token, received from a previous `ListUserListDirectLicense` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListUserListDirectLicense` must match the call that provided the page token.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "description": "Required. The global license whose customer info are being queried. Should be in the format `accountTypes/{ACCOUNT_TYPE}/accounts/{ACCOUNT_ID}/userListGlobalLicenses/{USER_LIST_GLOBAL_LICENSE_ID}`. To list all global license customer info under an account, replace the user list global license id with a '-' (for example, `accountTypes/DATA_PARTNER/accounts/123/userListGlobalLicenses/-`)",
                          "pattern": "^accountTypes/[^/]+/accounts/[^/]+/userListGlobalLicenses/[^/]+$",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        },
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "description": "Optional. The maximum number of licenses to return. The service may return fewer than this value. If unspecified, at most 50 licenses will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                          "type": "integer"
                        },
                        "filter": {
                          "location": "query",
                          "description": "Optional. A [filter string](https://google.aip.dev/160) to apply to the list request. All fields need to be on the left hand side of each condition (for example: `user_list_id = 123`). Fields must be specified using either all [camel case](https://en.wikipedia.org/wiki/Camel_case) or all [snake case](https://en.wikipedia.org/wiki/Snake_case). Don't use a combination of camel case and snake case. **Supported Operations:** - `AND` - `=` - `!=` - `>` - `>=` - `<` - `<=` **Supported Functions:** - `IN(field, value1, value2, ...)`: returns true if the field matches any of the values. Example: `IN(user_list_id, 123, 456)` **Unsupported Fields:** - `name` (use get method instead) - `historical_pricings` and all its subfields - `pricing.start_time` - `pricing.end_time`",
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            },
            "userLists": {
              "methods": {
                "delete": {
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+/userLists/[^/]+$",
                      "description": "Required. The name of the user list to delete. Format: accountTypes/{account_type}/accounts/{account}/userLists/{user_list}",
                      "location": "path",
                      "required": true
                    },
                    "validateOnly": {
                      "location": "query",
                      "description": "Optional. If true, the request is validated but not executed.",
                      "type": "boolean"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userLists/{userListsId}",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a UserList. Authorization Headers: This method supports the following optional headers to define how the API authorizes access for the request: * `login-account`: (Optional) The resource name of the account where the Google Account of the credentials is a user. If not set, defaults to the account of the request. Format: `accountTypes/{loginAccountType}/accounts/{loginAccountId}` * `linked-account`: (Optional) The resource name of the account with an established product link to the `login-account`. Format: `accountTypes/{linkedAccountType}/accounts/{linkedAccountId}`",
                  "id": "datamanager.accountTypes.accounts.userLists.delete",
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "patch": {
                  "response": {
                    "$ref": "UserList"
                  },
                  "request": {
                    "$ref": "UserList"
                  },
                  "id": "datamanager.accountTypes.accounts.userLists.patch",
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userLists/{userListsId}",
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates a UserList. Authorization Headers: This method supports the following optional headers to define how the API authorizes access for the request: * `login-account`: (Optional) The resource name of the account where the Google Account of the credentials is a user. If not set, defaults to the account of the request. Format: `accountTypes/{loginAccountType}/accounts/{loginAccountId}` * `linked-account`: (Optional) The resource name of the account with an established product link to the `login-account`. Format: `accountTypes/{linkedAccountType}/accounts/{linkedAccountId}`",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Identifier. The resource name of the user list. Format: accountTypes/{account_type}/accounts/{account}/userLists/{user_list}",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+/userLists/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "Optional. The list of fields to update.",
                      "type": "string"
                    },
                    "validateOnly": {
                      "type": "boolean",
                      "description": "Optional. If true, the request is validated but not executed.",
                      "location": "query"
                    }
                  }
                },
                "list": {
                  "response": {
                    "$ref": "ListUserListsResponse"
                  },
                  "id": "datamanager.accountTypes.accounts.userLists.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userLists",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists UserLists. Authorization Headers: This method supports the following optional headers to define how the API authorizes access for the request: * `login-account`: (Optional) The resource name of the account where the Google Account of the credentials is a user. If not set, defaults to the account of the request. Format: `accountTypes/{loginAccountType}/accounts/{loginAccountId}` * `linked-account`: (Optional) The resource name of the account with an established product link to the `login-account`. Format: `accountTypes/{linkedAccountType}/accounts/{linkedAccountId}`",
                  "path": "v1/{+parent}/userLists",
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "description": "Optional. A [filter string](https://google.aip.dev/160). All fields need to be on the left hand side of each condition (for example: `display_name = \"list 1\"`). Fields must be specified using either all [camel case](https://en.wikipedia.org/wiki/Camel_case) or all [snake case](https://en.wikipedia.org/wiki/Snake_case). Don't use a combination of camel case and snake case. Supported operations: - `AND` - `=` - `!=` - `>` - `>=` - `<` - `<=` - `:` (has) **Supported Functions:** - `IN(field, value1, value2, ...)`: returns true if the field matches any of the values. Example: `IN(display_name, \"name1\", \"name2\")` Supported fields: - `id` - `display_name` - `description` - `membership_status` - `integration_code` - `access_reason` - `ingested_user_list_info.upload_key_types`",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListUserLists` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListUserLists` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "description": "Required. The parent account which owns this collection of user lists. Format: accountTypes/{account_type}/accounts/{account}",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of user lists to return. The service may return fewer than this value. If unspecified, at most 50 user lists will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    }
                  }
                },
                "create": {
                  "request": {
                    "$ref": "UserList"
                  },
                  "response": {
                    "$ref": "UserList"
                  },
                  "id": "datamanager.accountTypes.accounts.userLists.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a UserList. Authorization Headers: This method supports the following optional headers to define how the API authorizes access for the request: * `login-account`: (Optional) The resource name of the account where the Google Account of the credentials is a user. If not set, defaults to the account of the request. Format: `accountTypes/{loginAccountType}/accounts/{loginAccountId}` * `linked-account`: (Optional) The resource name of the account with an established product link to the `login-account`. Format: `accountTypes/{linkedAccountType}/accounts/{linkedAccountId}`",
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userLists",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "path": "v1/{+parent}/userLists",
                  "parameters": {
                    "validateOnly": {
                      "location": "query",
                      "description": "Optional. If true, the request is validated but not executed.",
                      "type": "boolean"
                    },
                    "parent": {
                      "type": "string",
                      "description": "Required. The parent account where this user list will be created. Format: accountTypes/{account_type}/accounts/{account}",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  }
                },
                "get": {
                  "response": {
                    "$ref": "UserList"
                  },
                  "id": "datamanager.accountTypes.accounts.userLists.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets a UserList. Authorization Headers: This method supports the following optional headers to define how the API authorizes access for the request: * `login-account`: (Optional) The resource name of the account where the Google Account of the credentials is a user. If not set, defaults to the account of the request. Format: `accountTypes/{loginAccountType}/accounts/{loginAccountId}` * `linked-account`: (Optional) The resource name of the account with an established product link to the `login-account`. Format: `accountTypes/{linkedAccountType}/accounts/{linkedAccountId}`",
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userLists/{userListsId}",
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+/userLists/[^/]+$",
                      "description": "Required. The resource name of the UserList to retrieve. Format: accountTypes/{account_type}/accounts/{account}/userLists/{user_list}"
                    }
                  }
                }
              }
            },
            "partnerLinks": {
              "methods": {
                "search": {
                  "response": {
                    "$ref": "SearchPartnerLinksResponse"
                  },
                  "id": "datamanager.accountTypes.accounts.partnerLinks.search",
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager",
                    "https://www.googleapis.com/auth/datamanager.partnerlink"
                  ],
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/partnerLinks:search",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Searches for all partner links to and from a given account. Authorization Headers: This method supports the following optional headers to define how the API authorizes access for the request: * `login-account`: (Optional) The resource name of the account where the Google Account of the credentials is a user. If not set, defaults to the account of the request. Format: `accountTypes/{loginAccountType}/accounts/{loginAccountId}`",
                  "path": "v1/{+parent}/partnerLinks:search",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "description": "Required. Account to search for partner links. If no `filter` is specified, all partner links where this account is either the `owning_account` or `partner_account` are returned. Format: `accountTypes/{account_type}/accounts/{account}`",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+$",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "The maximum number of partner links to return. The service may return fewer than this value. If unspecified, at most 50 partner links will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "A page token, received from a previous `SearchPartnerLinks` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `SearchPartnerLinks` must match the call that provided the page token."
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. A [filter string](https://google.aip.dev/160). All fields need to be on the left hand side of each condition (for example: `partner_link_id = 123456789`). Fields must be specified using either all [camel case](https://en.wikipedia.org/wiki/Camel_case) or all [snake case](https://en.wikipedia.org/wiki/Snake_case). Don't use a combination of camel case and snake case. Supported operations: - `AND` - `=` - `!=` Supported fields: - `partner_link_id` - `owning_account.account_type` - `owning_account.account_id` - `partner_account.account_type` - `partner_account.account_id` - `feature_set` For partner links with the FEATURE_SET_AD_EVENT_MANAGEMENT feature set, the following fields are also supported: - `partner_customer_account.account_id` Example: `owning_account.account_type = \"GOOGLE_ADS\" AND partner_account.account_id = 987654321`",
                      "type": "string"
                    }
                  }
                },
                "create": {
                  "id": "datamanager.accountTypes.accounts.partnerLinks.create",
                  "response": {
                    "$ref": "PartnerLink"
                  },
                  "request": {
                    "$ref": "PartnerLink"
                  },
                  "path": "v1/{+parent}/partnerLinks",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. The parent, which owns this collection of partner links. Format: accountTypes/{account_type}/accounts/{account}",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager",
                    "https://www.googleapis.com/auth/datamanager.partnerlink"
                  ],
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/partnerLinks",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a partner link for the given account. Authorization Headers: This method supports the following optional headers to define how the API authorizes access for the request: * `login-account`: (Optional) The resource name of the account where the Google Account of the credentials is a user. If not set, defaults to the account of the request. Format: `accountTypes/{loginAccountType}/accounts/{loginAccountId}`"
                },
                "delete": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "datamanager.accountTypes.accounts.partnerLinks.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a partner link for the given account. Authorization Headers: This method supports the following optional headers to define how the API authorizes access for the request: * `login-account`: (Optional) The resource name of the account where the Google Account of the credentials is a user. If not set, defaults to the account of the request. Format: `accountTypes/{loginAccountType}/accounts/{loginAccountId}`",
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/partnerLinks/{partnerLinksId}",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager",
                    "https://www.googleapis.com/auth/datamanager.partnerlink"
                  ],
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+/partnerLinks/[^/]+$",
                      "description": "Required. The resource name of the partner link to delete. Format: accountTypes/{account_type}/accounts/{account}/partnerLinks/{partner_link}",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  }
                }
              }
            },
            "userListDirectLicenses": {
              "methods": {
                "get": {
                  "response": {
                    "$ref": "UserListDirectLicense"
                  },
                  "id": "datamanager.accountTypes.accounts.userListDirectLicenses.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userListDirectLicenses/{userListDirectLicensesId}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Retrieves a user list direct license. This feature is only available to data partners.",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+/userListDirectLicenses/[^/]+$",
                      "description": "Required. The resource name of the user list direct license.",
                      "location": "path",
                      "required": true
                    }
                  }
                },
                "create": {
                  "id": "datamanager.accountTypes.accounts.userListDirectLicenses.create",
                  "response": {
                    "$ref": "UserListDirectLicense"
                  },
                  "request": {
                    "$ref": "UserListDirectLicense"
                  },
                  "path": "v1/{+parent}/userListDirectLicenses",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. The account that owns the user list being licensed. Should be in the format accountTypes/{ACCOUNT_TYPE}/accounts/{ACCOUNT_ID}",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userListDirectLicenses",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a user list direct license. This feature is only available to data partners."
                },
                "list": {
                  "response": {
                    "$ref": "ListUserListDirectLicensesResponse"
                  },
                  "id": "datamanager.accountTypes.accounts.userListDirectLicenses.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userListDirectLicenses",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists all user list direct licenses owned by the parent account. This feature is only available to data partners.",
                  "path": "v1/{+parent}/userListDirectLicenses",
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "description": "Optional. A [filter string](https://google.aip.dev/160) to apply to the list request. All fields need to be on the left hand side of each condition (for example: `user_list_id = 123`). Fields must be specified using either all [camel case](https://en.wikipedia.org/wiki/Camel_case) or all [snake case](https://en.wikipedia.org/wiki/Snake_case). Don't use a combination of camel case and snake case. **Supported Operations:** - `AND` - `=` - `!=` - `>` - `>=` - `<` - `<=` **Supported Functions:** - `IN(field, value1, value2, ...)`: returns true if the field matches any of the values. Example: `IN(user_list_id, 123, 456)` **Unsupported Fields:** - `name` (use get method instead) - `historical_pricings` and all its subfields - `pricing.start_time` - `pricing.end_time`",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+$",
                      "description": "Required. The account whose licenses are being queried. Should be in the format accountTypes/{ACCOUNT_TYPE}/accounts/{ACCOUNT_ID}",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of licenses to return per page. The service may return fewer than this value. If unspecified, at most 50 licenses will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A page token, received from a previous `ListUserListDirectLicense` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListUserListDirectLicense` must match the call that provided the page token.",
                      "type": "string"
                    }
                  }
                },
                "patch": {
                  "response": {
                    "$ref": "UserListDirectLicense"
                  },
                  "request": {
                    "$ref": "UserListDirectLicense"
                  },
                  "id": "datamanager.accountTypes.accounts.userListDirectLicenses.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userListDirectLicenses/{userListDirectLicensesId}",
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates a user list direct license. This feature is only available to data partners.",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Identifier. The resource name of the user list direct license.",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+/userListDirectLicenses/[^/]+$"
                    },
                    "updateMask": {
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "Optional. The list of fields to update. The special character `*` is not supported and an `INVALID_UPDATE_MASK` error will be thrown if used."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "adEvents": {
      "methods": {
        "ingest": {
          "id": "datamanager.adEvents.ingest",
          "request": {
            "$ref": "IngestAdEventsRequest"
          },
          "response": {
            "$ref": "IngestAdEventsResponse"
          },
          "path": "v1/adEvents:ingest",
          "parameters": {},
          "parameterOrder": [],
          "description": "Uploads a list of AdEvent resources to Google Analytics. This feature is only available to accounts on an allowlist.",
          "flatPath": "v1/adEvents:ingest",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/datamanager"
          ]
        }
      }
    },
    "audienceMembers": {
      "methods": {
        "remove": {
          "scopes": [
            "https://www.googleapis.com/auth/datamanager"
          ],
          "flatPath": "v1/audienceMembers:remove",
          "httpMethod": "POST",
          "parameterOrder": [],
          "description": "Removes a list of AudienceMember resources from the provided Destination.",
          "path": "v1/audienceMembers:remove",
          "parameters": {},
          "response": {
            "$ref": "RemoveAudienceMembersResponse"
          },
          "request": {
            "$ref": "RemoveAudienceMembersRequest"
          },
          "id": "datamanager.audienceMembers.remove"
        },
        "ingest": {
          "id": "datamanager.audienceMembers.ingest",
          "request": {
            "$ref": "IngestAudienceMembersRequest"
          },
          "response": {
            "$ref": "IngestAudienceMembersResponse"
          },
          "path": "v1/audienceMembers:ingest",
          "parameters": {},
          "parameterOrder": [],
          "description": "Uploads a list of AudienceMember resources to the provided Destination.",
          "scopes": [
            "https://www.googleapis.com/auth/datamanager"
          ],
          "flatPath": "v1/audienceMembers:ingest",
          "httpMethod": "POST"
        },
        "removeAll": {
          "path": "v1/audienceMembers:removeAll",
          "parameters": {},
          "parameterOrder": [],
          "description": "Removes all audience members from the provided destinations.",
          "scopes": [
            "https://www.googleapis.com/auth/datamanager"
          ],
          "flatPath": "v1/audienceMembers:removeAll",
          "httpMethod": "POST",
          "id": "datamanager.audienceMembers.removeAll",
          "request": {
            "$ref": "RemoveAllAudienceMembersRequest"
          },
          "response": {
            "$ref": "RemoveAllAudienceMembersResponse"
          }
        }
      }
    },
    "events": {
      "methods": {
        "ingest": {
          "path": "v1/events:ingest",
          "parameters": {},
          "flatPath": "v1/events:ingest",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/datamanager"
          ],
          "parameterOrder": [],
          "description": "Uploads a list of Event resources from the provided Destination.",
          "id": "datamanager.events.ingest",
          "response": {
            "$ref": "IngestEventsResponse"
          },
          "request": {
            "$ref": "IngestEventsRequest"
          }
        }
      }
    }
  },
  "schemas": {
    "AdIdentifiers": {
      "description": "Identifiers and other information used to match the conversion event with other online activity (such as ad clicks).",
      "type": "object",
      "id": "AdIdentifiers",
      "properties": {
        "sessionAttributes": {
          "description": "Optional. Session attributes for event attribution and modeling.",
          "type": "string"
        },
        "wbraid": {
          "description": "Optional. The click identifier for clicks associated with web events and originating from iOS devices starting with iOS14.",
          "type": "string"
        },
        "gclid": {
          "description": "Optional. The Google click ID (gclid) associated with this event.",
          "type": "string"
        },
        "encryptedUserIds": {
          "type": "array",
          "description": "Optional. Any number of encrypted user IDs.",
          "items": {
            "$ref": "EncryptedUserId"
          }
        },
        "landingPageDeviceInfo": {
          "description": "Optional. Information gathered about the device being used (if any) at the time of landing onto the advertiser’s site after interacting with the ad.",
          "$ref": "DeviceInfo"
        },
        "impressionId": {
          "description": "Optional. The impression ID associated with this event.",
          "type": "string"
        },
        "dclid": {
          "description": "Optional. The display click ID associated with this event.",
          "type": "string"
        },
        "gbraid": {
          "description": "Optional. The click identifier for clicks associated with app events and originating from iOS devices starting with iOS14.",
          "type": "string"
        },
        "matchId": {
          "description": "Optional. The match ID field used to join this event with a previous event.",
          "type": "string"
        },
        "mobileDeviceId": {
          "description": "Optional. The mobile identifier for advertisers. This would be IDFA on iOS, AdID on Android, or other platforms’ identifiers for advertisers.",
          "type": "string"
        }
      }
    },
    "PartnerProvidedIdData": {
      "id": "PartnerProvidedIdData",
      "properties": {
        "partnerProvidedIds": {
          "type": "array",
          "description": "Required. The list of partner-provided identifiers.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Partner-provided data holding the partner-provided identifiers. At least one partner-provided identifier is required."
    },
    "UserIdentifier": {
      "description": "A single identifier for the user.",
      "id": "UserIdentifier",
      "properties": {
        "emailAddress": {
          "description": "Hashed email address using SHA-256 hash function after normalization.",
          "type": "string"
        },
        "phoneNumber": {
          "description": "Hashed phone number using SHA-256 hash function after normalization (E164 standard).",
          "type": "string"
        },
        "address": {
          "description": "The known components of a user's address. Holds a grouping of identifiers that are matched all at once.",
          "$ref": "AddressInfo"
        }
      },
      "type": "object"
    },
    "UserData": {
      "description": "Data that identifies the user. At least one identifier is required.",
      "type": "object",
      "id": "UserData",
      "properties": {
        "userIdentifiers": {
          "type": "array",
          "description": "Required. The identifiers for the user. It's possible to provide multiple instances of the same type of data (for example, multiple email addresses). To increase the likelihood of a match, provide as many identifiers as possible. At most 10 `userIdentifiers` can be provided in a single AudienceMember or Event.",
          "items": {
            "$ref": "UserIdentifier"
          }
        }
      }
    },
    "UserProperty": {
      "type": "object",
      "id": "UserProperty",
      "properties": {
        "propertyName": {
          "description": "Required. The name of the user property to use.",
          "type": "string"
        },
        "value": {
          "description": "Required. The string representation of the value of the user property to use.",
          "type": "string"
        }
      },
      "description": "A bucket of any additional [user properties](https://developers.google.com/analytics/devguides/collection/protocol/ga4/user-properties) for the user associated with this event."
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      },
      "type": "object"
    },
    "Item": {
      "description": "Represents an item in the cart associated with the event.",
      "type": "object",
      "id": "Item",
      "properties": {
        "unitPrice": {
          "type": "number",
          "description": "Optional. The unit price excluding tax, shipping, and any transaction level discounts.",
          "format": "double"
        },
        "itemId": {
          "description": "Optional. A unique identifier to reference the item.",
          "type": "string"
        },
        "quantity": {
          "format": "int64",
          "description": "Optional. The number of this item associated with the event.",
          "type": "string"
        },
        "merchantProductId": {
          "description": "Optional. The product ID within the Merchant Center account.",
          "type": "string"
        },
        "merchantFeedLanguageCode": {
          "description": "Optional. The language code in ISO 639-1 associated with the Merchant Center feed where your items are uploaded.",
          "type": "string"
        },
        "conversionValue": {
          "description": "Optional. The conversion value associated with this item within the event, for cases where the conversion value is different for each item.",
          "format": "double",
          "type": "number"
        },
        "customVariables": {
          "type": "array",
          "items": {
            "$ref": "ItemCustomVariable"
          },
          "description": "Optional. Additional key/value pair information to send to the conversion containers (conversion action or Floodlight activity), when tracking per-item conversions."
        },
        "merchantFeedLabel": {
          "description": "Optional. The feed label of the Merchant Center feed. If countries are still being used, the 2-letter country code in ISO-3166-1 alpha-2 can be used instead. For Store Sales events this will override the value set at the cart level. This field is ignored for other events.",
          "type": "string"
        },
        "additionalItemParameters": {
          "items": {
            "$ref": "ItemParameter"
          },
          "description": "Optional. A bucket of any [event parameters related to an item](https://developers.google.com/analytics/devguides/collection/protocol/ga4/reference/events) to be included within the event that were not already specified using other structured fields.",
          "type": "array"
        },
        "merchantId": {
          "description": "Optional. The Merchant Center ID associated with the item. For Store Sales events this will override the value set at the cart level. This field is ignored for other events.",
          "type": "string"
        }
      }
    },
    "RetrieveRequestStatusResponse": {
      "description": "Response from the RetrieveRequestStatusRequest.",
      "type": "object",
      "id": "RetrieveRequestStatusResponse",
      "properties": {
        "requestStatusPerDestination": {
          "description": "A list of request statuses per destination. The order of the statuses matches the order of the destinations in the original request.",
          "items": {
            "$ref": "RequestStatusPerDestination"
          },
          "type": "array"
        }
      }
    },
    "IngestEventsStatus": {
      "id": "IngestEventsStatus",
      "properties": {
        "recordCount": {
          "format": "int64",
          "description": "The total count of events sent in the upload request. Includes all events in the request, regardless of whether they were successfully ingested or not.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The status of the events ingestion to the destination."
    },
    "EncryptionInfo": {
      "description": "Encryption information for the data being ingested.",
      "type": "object",
      "id": "EncryptionInfo",
      "properties": {
        "gcpWrappedKeyInfo": {
          "description": "Google Cloud Platform wrapped key information.",
          "$ref": "GcpWrappedKeyInfo"
        },
        "awsWrappedKeyInfo": {
          "description": "Amazon Web Services wrapped key information.",
          "$ref": "AwsWrappedKeyInfo"
        },
        "coordinatorKeyInfo": {
          "description": "Key information for the chosen coordinator key. This is not supported for the IngestEvents, IngestAudienceMembers, and RemoveAudienceMembers methods.",
          "$ref": "CoordinatorKeyInfo"
        }
      }
    },
    "RemoveAllAudienceMembersResponse": {
      "id": "RemoveAllAudienceMembersResponse",
      "properties": {
        "requestId": {
          "description": "The auto-generated ID of the request.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response from the RemoveAllAudienceMembersRequest."
    },
    "UserProperties": {
      "description": "Advertiser-assessed information about the user at the time that the event happened. See https://support.google.com/google-ads/answer/14007601 for more details.",
      "type": "object",
      "id": "UserProperties",
      "properties": {
        "customerType": {
          "type": "string",
          "description": "Optional. Type of the customer associated with the event.",
          "enumDescriptions": [
            "Unspecified CustomerType. Should never be used.",
            "The customer is new to the advertiser.",
            "The customer is returning to the advertiser.",
            "The customer has re-engaged with the advertiser."
          ],
          "enum": [
            "CUSTOMER_TYPE_UNSPECIFIED",
            "NEW",
            "RETURNING",
            "REENGAGED"
          ]
        },
        "customerValueBucket": {
          "description": "Optional. The advertiser-assessed value of the customer.",
          "enumDescriptions": [
            "Unspecified CustomerValueBucket. Should never be used.",
            "The customer is low value.",
            "The customer is medium value.",
            "The customer is high value."
          ],
          "enum": [
            "CUSTOMER_VALUE_BUCKET_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH"
          ],
          "type": "string"
        },
        "additionalUserProperties": {
          "items": {
            "$ref": "UserProperty"
          },
          "description": "Optional. A bucket of any additional [user properties](https://developers.google.com/analytics/devguides/collection/protocol/ga4/user-properties) for the user associated with this event.",
          "type": "array"
        }
      }
    },
    "UserListLicensePricing": {
      "id": "UserListLicensePricing",
      "properties": {
        "currencyCode": {
          "description": "Optional. The currency in which cost and max_cost is specified. Must be a three-letter currency code defined in ISO 4217.",
          "type": "string"
        },
        "maxCostMicros": {
          "format": "int64",
          "description": "Optional. The maximum CPM a commerce audience can be charged when the MEDIA_SHARE cost type is used. The value is in micro units (10^-6) and in the currency specified by the currency_code field. For example, 2000000 means $2 if `currency_code` is `USD`. This is only relevant when cost_type is MEDIA_SHARE. When cost_type is not MEDIA_SHARE, and this field is set, a MAX_COST_NOT_ALLOWED error will be returned. If not set or set to`0`, there is no cap.",
          "type": "string"
        },
        "costMicros": {
          "description": "Optional. The cost associated with the model, in micro units (10^-6), in the currency specified by the currency_code field. For example, 2000000 means $2 if `currency_code` is `USD`.",
          "format": "int64",
          "type": "string"
        },
        "startTime": {
          "description": "Output only. Start time of the pricing.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "costType": {
          "description": "Immutable. The cost type of this pricing. Can be set only in the `create` operation. Can't be updated for an existing license.",
          "enumDescriptions": [
            "Unspecified.",
            "Cost per click.",
            "Cost per mille (thousand impressions).",
            "Media share."
          ],
          "enum": [
            "USER_LIST_PRICING_COST_TYPE_UNSPECIFIED",
            "CPC",
            "CPM",
            "MEDIA_SHARE"
          ],
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "description": "Optional. End time of the pricing.",
          "format": "google-datetime"
        },
        "buyerApprovalState": {
          "description": "Output only. The buyer approval state of this pricing. This field is read-only.",
          "enumDescriptions": [
            "UNSPECIFIED.",
            "User list client has not yet accepted the pricing terms set by the user list owner.",
            "User list client has accepted the pricing terms set by the user list owner.",
            "User list client has rejected the pricing terms set by the user list owner."
          ],
          "enum": [
            "USER_LIST_PRICING_BUYER_APPROVAL_STATE_UNSPECIFIED",
            "PENDING",
            "APPROVED",
            "REJECTED"
          ],
          "type": "string",
          "readOnly": true
        },
        "pricingId": {
          "format": "int64",
          "description": "Output only. The ID of this pricing.",
          "readOnly": true,
          "type": "string"
        },
        "pricingActive": {
          "description": "Output only. Whether this pricing is active.",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "A user list license pricing."
    },
    "RetrieveInsightsResponse": {
      "type": "object",
      "id": "RetrieveInsightsResponse",
      "properties": {
        "marketingDataInsights": {
          "type": "array",
          "items": {
            "$ref": "MarketingDataInsight"
          },
          "description": "Contains the insights for the marketing data."
        }
      },
      "description": "Response message for DM API MarketingDataInsightsService.RetrieveInsights"
    },
    "ContactIdInfo": {
      "type": "object",
      "id": "ContactIdInfo",
      "properties": {
        "dataSourceType": {
          "type": "string",
          "description": "Optional. Immutable. Source of the upload data",
          "enumDescriptions": [
            "Not specified.",
            "The uploaded data is first-party data.",
            "The uploaded data is from a third-party credit bureau.",
            "The uploaded data is from a third-party voter file.",
            "The uploaded data is third party partner data."
          ],
          "enum": [
            "DATA_SOURCE_TYPE_UNSPECIFIED",
            "DATA_SOURCE_TYPE_FIRST_PARTY",
            "DATA_SOURCE_TYPE_THIRD_PARTY_CREDIT_BUREAU",
            "DATA_SOURCE_TYPE_THIRD_PARTY_VOTER_FILE",
            "DATA_SOURCE_TYPE_THIRD_PARTY_PARTNER_DATA"
          ]
        },
        "matchRatePercentage": {
          "format": "int32",
          "description": "Output only. Match rate for customer match user lists.",
          "readOnly": true,
          "type": "integer"
        }
      },
      "description": "Additional information when `CONTACT_ID` is one of the `upload_key_types`."
    },
    "GoogleUserIdData": {
      "id": "GoogleUserIdData",
      "properties": {
        "googleUserIds": {
          "type": "array",
          "description": "Required. The list of encrypted google user IDs.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Google user id data holding encrypted google user IDs. At least one google user ID is required."
    },
    "PseudonymousIdInfo": {
      "type": "object",
      "id": "PseudonymousIdInfo",
      "properties": {
        "syncStatus": {
          "type": "string",
          "description": "Output only. Sync status of the user list.",
          "enumDescriptions": [
            "Not specified.",
            "The user list has been created as a placeholder. List contents and/or metadata are still being synced. The user list is not ready for use.",
            "The user list is ready for use. Contents and cookies have been synced correctly.",
            "An error has occurred syncing user list contents and/or metadata. The user list cannot be used."
          ],
          "enum": [
            "SYNC_STATUS_UNSPECIFIED",
            "CREATED",
            "READY_FOR_USE",
            "FAILED"
          ],
          "readOnly": true
        },
        "billableRecordCount": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Immutable. The number of billable records (e.g. uploaded or matched)."
        }
      },
      "description": "Additional information when `PSEUDONYMOUS_ID` is one of the `upload_key_types`."
    },
    "CompositeData": {
      "description": "Composite data holding identifiers and associated data for a user. At least one of `user_data` or `ip_data` is required.",
      "type": "object",
      "id": "CompositeData",
      "properties": {
        "ipData": {
          "description": "Optional. IP address data representing customer interaction used to build the audience.",
          "items": {
            "$ref": "IpData"
          },
          "type": "array"
        },
        "userData": {
          "description": "Optional. User-provided data that identifies the user.",
          "$ref": "UserData"
        }
      }
    },
    "ItemCustomVariable": {
      "id": "ItemCustomVariable",
      "properties": {
        "variable": {
          "description": "Optional. The name of the custom variable to set. If the variable is not found for the given destination, it will be ignored.",
          "type": "string"
        },
        "value": {
          "description": "Optional. The value to store for the custom variable.",
          "type": "string"
        },
        "destinationReferences": {
          "description": "Optional. Reference string used to determine which of the Event.destination_references the custom variable should be sent to. If empty, the Event.destination_references will be used.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Item-level custom variable for ads conversions."
    },
    "WarningCount": {
      "description": "The warning count for a given warning reason.",
      "type": "object",
      "id": "WarningCount",
      "properties": {
        "recordCount": {
          "description": "The count of records that have a warning.",
          "format": "int64",
          "type": "string"
        },
        "reason": {
          "type": "string",
          "description": "The warning reason.",
          "enumDescriptions": [
            "The processing warning reason is unknown.",
            "The system did not have the permissions needed to access the KEK.",
            "The DEK failed to be decrypted.",
            "The event has a decryption error.",
            "The WIP could not be used because it was rejected by its attestation condition.",
            "The WIP is formatted incorrectly or the WIP does not exist.",
            "The KEK cannot decrypt data because it is the wrong KEK, or it does not exist.",
            "Failed to decrypt the UserIdentifier data using the DEK.",
            "Internal error.",
            "The system failed to authenticate with AWS."
          ],
          "enum": [
            "PROCESSING_WARNING_REASON_UNSPECIFIED",
            "PROCESSING_WARNING_REASON_KEK_PERMISSION_DENIED",
            "PROCESSING_WARNING_REASON_DEK_DECRYPTION_ERROR",
            "PROCESSING_WARNING_REASON_DECRYPTION_ERROR",
            "PROCESSING_WARNING_REASON_WIP_AUTH_FAILED",
            "PROCESSING_WARNING_REASON_INVALID_WIP",
            "PROCESSING_WARNING_REASON_INVALID_KEK",
            "PROCESSING_WARNING_REASON_USER_IDENTIFIER_DECRYPTION_ERROR",
            "PROCESSING_WARNING_REASON_INTERNAL_ERROR",
            "PROCESSING_WARNING_REASON_AWS_AUTH_FAILED"
          ]
        }
      }
    },
    "ProductAccount": {
      "description": "Represents a specific account.",
      "type": "object",
      "id": "ProductAccount",
      "properties": {
        "product": {
          "type": "string",
          "description": "Deprecated. Use `account_type` instead.",
          "deprecated": true,
          "enumDescriptions": [
            "Unspecified product. Should never be used.",
            "Google Ads.",
            "Display & Video 360 partner.",
            "Display & Video 360 advertiser.",
            "Data Partner."
          ],
          "enum": [
            "PRODUCT_UNSPECIFIED",
            "GOOGLE_ADS",
            "DISPLAY_VIDEO_PARTNER",
            "DISPLAY_VIDEO_ADVERTISER",
            "DATA_PARTNER"
          ]
        },
        "accountType": {
          "type": "string",
          "description": "Required. The type of the account. For example, `GOOGLE_ADS`. Either `account_type` or the deprecated `product` is required. If both are set, the values must match.",
          "enumDescriptions": [
            "Unspecified product. Should never be used.",
            "Google Ads.",
            "Display & Video 360 partner.",
            "Display & Video 360 advertiser.",
            "Data Partner.",
            "Google Analytics.",
            "Google Ad Manager audience link.",
            "Floodlight configuration."
          ],
          "enum": [
            "ACCOUNT_TYPE_UNSPECIFIED",
            "GOOGLE_ADS",
            "DISPLAY_VIDEO_PARTNER",
            "DISPLAY_VIDEO_ADVERTISER",
            "DATA_PARTNER",
            "GOOGLE_ANALYTICS_PROPERTY",
            "GOOGLE_AD_MANAGER_AUDIENCE_LINK",
            "FLOODLIGHT_CONFIG"
          ]
        },
        "accountId": {
          "description": "Required. The ID of the account. For example, your Google Ads account ID.",
          "type": "string"
        }
      }
    },
    "Consent": {
      "description": "[Digital Markets Act (DMA)](//digital-markets-act.ec.europa.eu/index_en) consent settings for the user.",
      "type": "object",
      "id": "Consent",
      "properties": {
        "adPersonalization": {
          "description": "Optional. Represents if the user consents to ad personalization.",
          "enumDescriptions": [
            "Not specified.",
            "Granted.",
            "Denied."
          ],
          "enum": [
            "CONSENT_STATUS_UNSPECIFIED",
            "CONSENT_GRANTED",
            "CONSENT_DENIED"
          ],
          "type": "string"
        },
        "adUserData": {
          "type": "string",
          "description": "Optional. Represents if the user consents to ad user data.",
          "enumDescriptions": [
            "Not specified.",
            "Granted.",
            "Denied."
          ],
          "enum": [
            "CONSENT_STATUS_UNSPECIFIED",
            "CONSENT_GRANTED",
            "CONSENT_DENIED"
          ]
        }
      }
    },
    "MobileIdInfo": {
      "id": "MobileIdInfo",
      "properties": {
        "appId": {
          "description": "Required. Immutable. A string that uniquely identifies a mobile application from which the data was collected.",
          "type": "string"
        },
        "dataSourceType": {
          "description": "Optional. Immutable. Source of the upload data.",
          "enumDescriptions": [
            "Not specified.",
            "The uploaded data is first-party data.",
            "The uploaded data is from a third-party credit bureau.",
            "The uploaded data is from a third-party voter file.",
            "The uploaded data is third party partner data."
          ],
          "enum": [
            "DATA_SOURCE_TYPE_UNSPECIFIED",
            "DATA_SOURCE_TYPE_FIRST_PARTY",
            "DATA_SOURCE_TYPE_THIRD_PARTY_CREDIT_BUREAU",
            "DATA_SOURCE_TYPE_THIRD_PARTY_VOTER_FILE",
            "DATA_SOURCE_TYPE_THIRD_PARTY_PARTNER_DATA"
          ],
          "type": "string"
        },
        "keySpace": {
          "description": "Required. Immutable. The key space of mobile IDs.",
          "enumDescriptions": [
            "Not specified.",
            "The iOS keyspace.",
            "The Android keyspace."
          ],
          "enum": [
            "KEY_SPACE_UNSPECIFIED",
            "IOS",
            "ANDROID"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "Additional information when `MOBILE_ID` is one of the `upload_key_types`."
    },
    "IngestAudienceMembersRequest": {
      "id": "IngestAudienceMembersRequest",
      "properties": {
        "destinations": {
          "items": {
            "$ref": "Destination"
          },
          "description": "Required. The list of destinations to send the audience members to.",
          "type": "array"
        },
        "audienceMembers": {
          "type": "array",
          "description": "Required. The list of users to send to the specified destinations. At most 10000 AudienceMember resources can be sent in a single request.",
          "items": {
            "$ref": "AudienceMember"
          }
        },
        "consent": {
          "description": "Optional. Request-level consent to apply to all users in the request. User-level consent overrides request-level consent, and can be specified in each AudienceMember.",
          "$ref": "Consent"
        },
        "encoding": {
          "description": "Optional. Required for UserData uploads. The encoding type of the user identifiers. For hashed user identifiers, this is the encoding type of the hashed string. For encrypted hashed user identifiers, this is the encoding type of the outer encrypted string, but not necessarily the inner hashed string, meaning the inner hashed string could be encoded in a different way than the outer encrypted string. For non `UserData` uploads, this field is ignored.",
          "enumDescriptions": [
            "Unspecified Encoding type. Should never be used.",
            "Hex encoding.",
            "Base 64 encoding."
          ],
          "enum": [
            "ENCODING_UNSPECIFIED",
            "HEX",
            "BASE64"
          ],
          "type": "string"
        },
        "encryptionInfo": {
          "description": "Optional. Encryption information for UserData uploads. If not set, it's assumed that uploaded identifying information is hashed but not encrypted. For non `UserData` uploads, this field is ignored.",
          "$ref": "EncryptionInfo"
        },
        "termsOfService": {
          "description": "Optional. The terms of service that the user has accepted/rejected.",
          "$ref": "TermsOfService"
        },
        "validateOnly": {
          "description": "Optional. For testing purposes. If `true`, the request is validated but not executed. Only errors are returned, not results.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Request to upload audience members to the provided destinations. Returns an IngestAudienceMembersResponse."
    },
    "RemovePairDataStatus": {
      "type": "object",
      "id": "RemovePairDataStatus",
      "properties": {
        "recordCount": {
          "format": "int64",
          "description": "The total count of audience members sent in the removal request. Includes all audience members in the request, regardless of whether they were successfully removed or not.",
          "type": "string"
        },
        "pairIdCount": {
          "type": "string",
          "description": "The total count of pair ids sent in the removal request. Includes all pair ids in the request, regardless of whether they were successfully removed or not.",
          "format": "int64"
        }
      },
      "description": "The status of the pair data removal from the destination."
    },
    "IpData": {
      "id": "IpData",
      "properties": {
        "ipAddress": {
          "description": "Required. IP address captured at the time of customer interaction. Accepts standard string formats for both IPv4 and IPv6.",
          "type": "string"
        },
        "observeStartTime": {
          "description": "Optional. First recorded interaction time from this IP address in a session.",
          "format": "google-datetime",
          "type": "string"
        },
        "observeEndTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. Last recorded interaction time from this IP address in a session."
        }
      },
      "type": "object",
      "description": "IP address information for a user. We recommend including observe_start_time and observe_end_time to help improve Customer Match match rates."
    },
    "RemoveAllAudienceMembersStatus": {
      "id": "RemoveAllAudienceMembersStatus",
      "properties": {},
      "type": "object",
      "description": "The status of the remove all audience members request."
    },
    "TargetNetworkInfo": {
      "description": "Eligibility information for different target networks.",
      "id": "TargetNetworkInfo",
      "properties": {
        "eligibleForDisplay": {
          "description": "Output only. Indicates this user list is eligible for Google Display Network.",
          "readOnly": true,
          "type": "boolean"
        },
        "eligibleForSearch": {
          "description": "Optional. Indicates if this user list is eligible for Google Search Network.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "IngestEventsRequest": {
      "type": "object",
      "id": "IngestEventsRequest",
      "properties": {
        "validateOnly": {
          "description": "Optional. For testing purposes. If `true`, the request is validated but not executed. Only errors are returned, not results.",
          "type": "boolean"
        },
        "encoding": {
          "type": "string",
          "description": "Optional. Required for UserData uploads. The encoding type of the user identifiers. For hashed user identifiers, this is the encoding type of the hashed string. For encrypted hashed user identifiers, this is the encoding type of the outer encrypted string, but not necessarily the inner hashed string, meaning the inner hashed string could be encoded in a different way than the outer encrypted string. For non `UserData` uploads, this field is ignored.",
          "enumDescriptions": [
            "Unspecified Encoding type. Should never be used.",
            "Hex encoding.",
            "Base 64 encoding."
          ],
          "enum": [
            "ENCODING_UNSPECIFIED",
            "HEX",
            "BASE64"
          ]
        },
        "encryptionInfo": {
          "description": "Optional. Encryption information for UserData uploads. If not set, it's assumed that uploaded identifying information is hashed but not encrypted. For non `UserData` uploads, this field is ignored.",
          "$ref": "EncryptionInfo"
        },
        "destinations": {
          "type": "array",
          "description": "Required. The list of destinations to send the events to.",
          "items": {
            "$ref": "Destination"
          }
        },
        "consent": {
          "description": "Optional. Request-level consent to apply to all users in the request. User-level consent overrides request-level consent, and can be specified in each Event.",
          "$ref": "Consent"
        },
        "events": {
          "type": "array",
          "items": {
            "$ref": "Event"
          },
          "description": "Required. The list of events to send to the specified destinations. At most 2000 Event resources can be sent in a single request."
        }
      },
      "description": "Request to upload audience members to the provided destinations. Returns an IngestEventsResponse."
    },
    "CustomVariable": {
      "type": "object",
      "id": "CustomVariable",
      "properties": {
        "destinationReferences": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Reference string used to determine which of the Event.destination_references the custom variable should be sent to. If empty, the Event.destination_references will be used.",
          "type": "array"
        },
        "variable": {
          "description": "Optional. The name of the custom variable to set. If the variable is not found for the given destination, it will be ignored.",
          "type": "string"
        },
        "value": {
          "description": "Optional. The value to store for the custom variable.",
          "type": "string"
        }
      },
      "description": "Custom variable for ads conversions."
    },
    "ListUserListGlobalLicenseCustomerInfosResponse": {
      "description": "Response from the ListUserListGlobalLicensesCustomerInfoRequest.",
      "type": "object",
      "id": "ListUserListGlobalLicenseCustomerInfosResponse",
      "properties": {
        "userListGlobalLicenseCustomerInfos": {
          "type": "array",
          "description": "The customer information for the given license in the request.",
          "items": {
            "$ref": "UserListGlobalLicenseCustomerInfo"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "ExperimentalField": {
      "description": "Experimental field representing unofficial fields.",
      "type": "object",
      "id": "ExperimentalField",
      "properties": {
        "field": {
          "description": "Optional. The name of the field to use.",
          "type": "string"
        },
        "value": {
          "description": "Optional. The value the field to set.",
          "type": "string"
        }
      }
    },
    "ListUserListDirectLicensesResponse": {
      "id": "ListUserListDirectLicensesResponse",
      "properties": {
        "userListDirectLicenses": {
          "type": "array",
          "description": "The licenses for the given user list in the request.",
          "items": {
            "$ref": "UserListDirectLicense"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response from the ListUserListDirectLicensesRequest."
    },
    "WarningInfo": {
      "id": "WarningInfo",
      "properties": {
        "warningCounts": {
          "description": "A list of warnings and counts per warning reason.",
          "items": {
            "$ref": "WarningCount"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Warning counts for each type of warning."
    },
    "CoordinatorKeyInfo": {
      "type": "object",
      "id": "CoordinatorKeyInfo",
      "properties": {
        "keyId": {
          "description": "Required. The ID of the chosen coordinator key.",
          "type": "string"
        }
      },
      "description": "Information about the coordinator key."
    },
    "RemovePpidDataStatus": {
      "description": "The status of the ppid data removal from the destination.",
      "type": "object",
      "id": "RemovePpidDataStatus",
      "properties": {
        "ppidCount": {
          "format": "int64",
          "description": "The total count of ppids sent in the removal request. Includes all ppids in the request, regardless of whether they were successfully removed or not.",
          "type": "string"
        },
        "recordCount": {
          "type": "string",
          "description": "The total count of audience members sent in the removal request. Includes all audience members in the request, regardless of whether they were successfully removed or not.",
          "format": "int64"
        }
      }
    },
    "UserListDirectLicense": {
      "description": "A user list direct license. This feature is only available to data partners.",
      "type": "object",
      "id": "UserListDirectLicense",
      "properties": {
        "historicalPricings": {
          "description": "Output only. Pricing history of this user list license. This field is read-only.",
          "readOnly": true,
          "items": {
            "$ref": "UserListLicensePricing"
          },
          "type": "array"
        },
        "pricing": {
          "description": "Optional. UserListDirectLicense pricing.",
          "$ref": "UserListLicensePricing"
        },
        "clientAccountId": {
          "format": "int64",
          "description": "Immutable. ID of client customer which the user list is being licensed to.",
          "type": "string"
        },
        "metrics": {
          "$ref": "UserListLicenseMetrics",
          "description": "Output only. Metrics related to this license This field is read-only and only populated if the start and end dates are set in the ListUserListDirectLicenses call",
          "readOnly": true
        },
        "userListId": {
          "description": "Immutable. ID of the user list being licensed.",
          "format": "int64",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the user list direct license.",
          "type": "string"
        },
        "userListDisplayName": {
          "type": "string",
          "description": "Output only. Name of the user list being licensed. This field is read-only.",
          "readOnly": true
        },
        "clientAccountDisplayName": {
          "type": "string",
          "description": "Output only. Name of client customer which the user list is being licensed to. This field is read-only.",
          "readOnly": true
        },
        "clientAccountType": {
          "description": "Immutable. Account type of client customer which the user list is being licensed to.",
          "enumDescriptions": [
            "Unknown.",
            "Google Ads customer.",
            "Display & Video 360 partner.",
            "Display & Video 360 advertiser.",
            "Google Ad Manager audience link."
          ],
          "enum": [
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_UNKNOWN",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_GOOGLE_ADS",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_DISPLAY_VIDEO_PARTNER",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_DISPLAY_VIDEO_ADVERTISER",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_GOOGLE_AD_MANAGER_AUDIENCE_LINK"
          ],
          "type": "string"
        },
        "status": {
          "description": "Optional. Status of UserListDirectLicense - ENABLED or DISABLED.",
          "enumDescriptions": [
            "Unknown.",
            "Active status - user list is still being licensed.",
            "Inactive status - user list is no longer being licensed."
          ],
          "enum": [
            "USER_LIST_LICENSE_STATUS_UNSPECIFIED",
            "USER_LIST_LICENSE_STATUS_ENABLED",
            "USER_LIST_LICENSE_STATUS_DISABLED"
          ],
          "type": "string"
        }
      }
    },
    "RemovePartnerProvidedIdDataStatus": {
      "description": "The status of the partner provided id data removal from the destination.",
      "type": "object",
      "id": "RemovePartnerProvidedIdDataStatus",
      "properties": {
        "recordCount": {
          "type": "string",
          "description": "The total count of audience members sent in the removal request. Includes all audience members in the request, regardless of whether they were successfully removed or not.",
          "format": "int64"
        },
        "partnerProvidedIdCount": {
          "type": "string",
          "format": "int64",
          "description": "The total count of partner provided ids sent in the removal request. Includes all partner provided ids in the request, regardless of whether they were successfully removed or not."
        }
      }
    },
    "UserListLicenseMetrics": {
      "id": "UserListLicenseMetrics",
      "properties": {
        "startDate": {
          "format": "int64",
          "description": "Output only. The start date (inclusive) of the metrics in the format YYYYMMDD. For example, 20260102 represents January 2, 2026. If `end_date` is used in the filter, `start_date` is also required. If neither `start_date` nor `end_date` are included in the filter, the UserListLicenseMetrics fields will not be populated in the response.",
          "readOnly": true,
          "type": "string"
        },
        "impressionCount": {
          "description": "Output only. The number of impressions for the user list license.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "endDate": {
          "format": "int64",
          "description": "Output only. The end date (inclusive) of the metrics in the format YYYYMMDD. For example, 20260102 represents January 2, 2026. If `start_date` is used in the filter, `end_date` is also required. If neither `start_date` nor `end_date` are included in the filter, the UserListLicenseMetrics fields will not be populated in the response.",
          "readOnly": true,
          "type": "string"
        },
        "revenueUsdMicros": {
          "type": "string",
          "description": "Output only. The revenue for the user list license in USD micros.",
          "readOnly": true,
          "format": "int64"
        },
        "clickCount": {
          "format": "int64",
          "description": "Output only. The number of clicks for the user list license.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "description": "Metrics related to a user list license."
    },
    "IngestUserDataStatus": {
      "id": "IngestUserDataStatus",
      "properties": {
        "recordCount": {
          "type": "string",
          "description": "The total count of audience members sent in the upload request for the destination. Includes all audience members in the request, regardless of whether they were successfully ingested or not.",
          "format": "int64"
        },
        "uploadMatchRateRange": {
          "description": "The match rate range of the upload.",
          "enumDescriptions": [
            "The match rate range is unknown.",
            "The match rate range is not eligible.",
            "The match rate range is less than 20% (in the interval `[0, 20)`).",
            "The match rate range is between 20% and 30% (in the interval `[20, 31)`).",
            "The match rate range is between 31% and 40% (in the interval `[31, 41)`).",
            "The match rate range is between 41% and 50% (in the interval `[41, 51)`).",
            "The match rate range is between 51% and 60% (in the interval `[51, 61)`.",
            "The match rate range is between 61% and 70% (in the interval `[61, 71)`).",
            "The match rate range is between 71% and 80% (in the interval `[71, 81)`).",
            "The match rate range is between 81% and 90% (in the interval `[81, 91)`).",
            "The match rate range is between 91% and 100% (in the interval `[91, 100]`)."
          ],
          "enum": [
            "MATCH_RATE_RANGE_UNKNOWN",
            "MATCH_RATE_RANGE_NOT_ELIGIBLE",
            "MATCH_RATE_RANGE_LESS_THAN_20",
            "MATCH_RATE_RANGE_20_TO_30",
            "MATCH_RATE_RANGE_31_TO_40",
            "MATCH_RATE_RANGE_41_TO_50",
            "MATCH_RATE_RANGE_51_TO_60",
            "MATCH_RATE_RANGE_61_TO_70",
            "MATCH_RATE_RANGE_71_TO_80",
            "MATCH_RATE_RANGE_81_TO_90",
            "MATCH_RATE_RANGE_91_TO_100"
          ],
          "type": "string"
        },
        "userIdentifierCount": {
          "format": "int64",
          "description": "The total count of user identifiers sent in the upload request for the destination. Includes all user identifiers in the request, regardless of whether they were successfully ingested or not.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The status of the user data ingestion to the destination containing stats related to the ingestion."
    },
    "RemoveAudienceMembersStatus": {
      "description": "The status of the remove audience members request.",
      "id": "RemoveAudienceMembersStatus",
      "properties": {
        "mobileDataRemovalStatus": {
          "description": "The status of the mobile data removal from the destination.",
          "$ref": "RemoveMobileDataStatus"
        },
        "pairDataRemovalStatus": {
          "description": "The status of the pair data removal from the destination.",
          "$ref": "RemovePairDataStatus"
        },
        "userIdDataRemovalStatus": {
          "description": "The status of the user id data removal from the destination.",
          "$ref": "RemoveUserIdDataStatus"
        },
        "userDataRemovalStatus": {
          "description": "The status of the user data removal from the destination.",
          "$ref": "RemoveUserDataStatus"
        },
        "ppidDataRemovalStatus": {
          "description": "The status of the ppid data removal from the destination.",
          "$ref": "RemovePpidDataStatus"
        },
        "compositeDataRemovalStatus": {
          "description": "The status of the composite data removal from the destination.",
          "$ref": "RemoveCompositeDataStatus"
        },
        "googleUserIdDataRemovalStatus": {
          "description": "The status of the google user id data removal from the destination.",
          "$ref": "RemoveGoogleUserIdDataStatus"
        },
        "partnerProvidedIdDataRemovalStatus": {
          "description": "The status of the partner provided id data removal from the destination.",
          "$ref": "RemovePartnerProvidedIdDataStatus"
        }
      },
      "type": "object"
    },
    "PartnerCustomerAccount": {
      "description": "Represents a customer account in the partner's system.",
      "id": "PartnerCustomerAccount",
      "properties": {
        "accountId": {
          "description": "Required. The identifier of the customer account in the partner's ID space.",
          "type": "string"
        },
        "accountName": {
          "description": "Optional. The name of the account.",
          "type": "string"
        },
        "accountType": {
          "description": "Optional. The type of the account. Can be used to distinguish between advertiser accounts and business level accounts, for example.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PartnerLinkMetadata": {
      "type": "object",
      "id": "PartnerLinkMetadata",
      "properties": {
        "implicitAccounts": {
          "type": "array",
          "items": {
            "$ref": "PartnerCustomerAccount"
          },
          "description": "Optional. The list of implicit accounts."
        }
      },
      "description": "Represents metadata associated with a partner link."
    },
    "SearchPartnerLinksResponse": {
      "description": "Response from the SearchPartnerLinksRequest.",
      "type": "object",
      "id": "SearchPartnerLinksResponse",
      "properties": {
        "partnerLinks": {
          "type": "array",
          "description": "The partner links for the given account.",
          "items": {
            "$ref": "PartnerLink"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "MarketingDataInsight": {
      "type": "object",
      "id": "MarketingDataInsight",
      "properties": {
        "dimension": {
          "type": "string",
          "description": "The dimension to which the insight belongs.",
          "enumDescriptions": [
            "Not specified.",
            "The value is unknown in this version.",
            "An Affinity UserInterest.",
            "An In-Market UserInterest.",
            "An age range.",
            "A gender."
          ],
          "enum": [
            "AUDIENCE_INSIGHTS_DIMENSION_UNSPECIFIED",
            "AUDIENCE_INSIGHTS_DIMENSION_UNKNOWN",
            "AFFINITY_USER_INTEREST",
            "IN_MARKET_USER_INTEREST",
            "AGE_RANGE",
            "GENDER"
          ]
        },
        "attributes": {
          "items": {
            "$ref": "MarketingDataInsightsAttribute"
          },
          "description": "Insights for values of a given dimension.",
          "type": "array"
        }
      },
      "description": "Insights for marketing data. This feature is only available to data partners."
    },
    "AudienceMember": {
      "type": "object",
      "id": "AudienceMember",
      "properties": {
        "mobileData": {
          "description": "Data identifying the user's mobile devices.",
          "$ref": "MobileData"
        },
        "compositeData": {
          "description": "Group of multiple identifier types.",
          "$ref": "CompositeData"
        },
        "googleUserIdData": {
          "description": "Encrypted Google User IDs.",
          "$ref": "GoogleUserIdData"
        },
        "partnerProvidedIdData": {
          "description": "Partner-provided identifiers.",
          "$ref": "PartnerProvidedIdData"
        },
        "userIdData": {
          "description": "Data related to unique identifiers for a user, as defined by the advertiser.",
          "$ref": "UserIdData"
        },
        "consent": {
          "description": "Optional. The consent setting for the user.",
          "$ref": "Consent"
        },
        "destinationReferences": {
          "description": "Optional. Defines which Destination to send the audience member to.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "userData": {
          "description": "User-provided data that identifies the user.",
          "$ref": "UserData"
        },
        "pairData": {
          "description": "[Publisher Advertiser Identity Reconciliation (PAIR) IDs](//support.google.com/admanager/answer/15067908). This feature is only available to data partners.",
          "$ref": "PairData"
        },
        "ppidData": {
          "description": "Data related to publisher provided identifiers. This feature is only available to data partners.",
          "$ref": "PpidData"
        }
      },
      "description": "The audience member to be operated on."
    },
    "IngestUserIdDataStatus": {
      "description": "The status of the user id data ingestion to the destination containing stats related to the ingestion.",
      "id": "IngestUserIdDataStatus",
      "properties": {
        "recordCount": {
          "type": "string",
          "format": "int64",
          "description": "The total count of audience members sent in the upload request for the destination. Includes all audience members in the request, regardless of whether they were successfully ingested or not."
        },
        "userIdCount": {
          "format": "int64",
          "description": "The total count of user ids sent in the upload request for the destination. Includes all user ids in the request, regardless of whether they were successfully ingested or not.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "MarketingDataInsightsAttribute": {
      "description": "Insights for a collection of related attributes of the same dimension.",
      "id": "MarketingDataInsightsAttribute",
      "properties": {
        "userInterestId": {
          "description": "The user interest ID.",
          "format": "int64",
          "type": "string"
        },
        "lift": {
          "description": "Measure of lift that the audience has for the attribute value as compared to the baseline. Range [0-1].",
          "format": "float",
          "type": "number"
        },
        "gender": {
          "type": "string",
          "description": "Gender of the audience for which the lift is provided.",
          "enumDescriptions": [
            "Not specified.",
            "Unknown.",
            "Male.",
            "Female."
          ],
          "enum": [
            "GENDER_UNSPECIFIED",
            "GENDER_UNKNOWN",
            "GENDER_MALE",
            "GENDER_FEMALE"
          ]
        },
        "ageRange": {
          "type": "string",
[...]
