{
  "baseUrl": "https://dataform.googleapis.com/",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "ActionSimpleLoadMode": {
      "description": "Simple load definition",
      "type": "object",
      "id": "ActionSimpleLoadMode",
      "properties": {}
    },
    "MakeDirectoryRequest": {
      "type": "object",
      "id": "MakeDirectoryRequest",
      "properties": {
        "path": {
          "description": "Required. The directory's full path including directory name, relative to the workspace root.",
          "type": "string"
        }
      },
      "description": "`MakeDirectory` request message."
    },
    "Workspace": {
      "description": "Represents a Dataform Git workspace.",
      "id": "Workspace",
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp of when the workspace was created."
        },
        "dataEncryptionState": {
          "readOnly": true,
          "description": "Output only. A data encryption state of a Git repository if this Workspace is protected by a KMS key.",
          "$ref": "DataEncryptionState"
        },
        "internalMetadata": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string."
        },
        "privateResourceMetadata": {
          "$ref": "PrivateResourceMetadata",
          "description": "Output only. Metadata indicating whether this resource is user-scoped. For `Workspace` resources, the `user_scoped` field is always `true`.",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The workspace's name.",
          "type": "string"
        },
        "disableMoves": {
          "type": "boolean",
          "description": "Optional. If set to true, workspaces will not be moved if its linked Repository is moved. Instead, it will be deleted."
        }
      },
      "type": "object"
    },
    "QueryTeamFolderContentsResponse": {
      "type": "object",
      "id": "QueryTeamFolderContentsResponse",
      "properties": {
        "entries": {
          "description": "List of entries in the TeamFolder.",
          "type": "array",
          "items": {
            "$ref": "TeamFolderContentsEntry"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "`QueryTeamFolderContents` response message."
    },
    "Notebook": {
      "description": "Represents a notebook.",
      "type": "object",
      "id": "Notebook",
      "properties": {
        "disabled": {
          "description": "Whether this action is disabled (i.e. should not be run).",
          "type": "boolean"
        },
        "contents": {
          "type": "string",
          "description": "The contents of the notebook."
        },
        "tags": {
          "description": "Arbitrary, user-defined tags on this action.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "dependencyTargets": {
          "type": "array",
          "items": {
            "$ref": "Target"
          },
          "description": "A list of actions that this action depends on."
        }
      }
    },
    "FetchFileDiffResponse": {
      "description": "`FetchFileDiff` response message.",
      "type": "object",
      "id": "FetchFileDiffResponse",
      "properties": {
        "formattedDiff": {
          "description": "The raw formatted Git diff for the file.",
          "type": "string"
        }
      }
    },
    "ReadFileResponse": {
      "description": "`ReadFile` response message.",
      "type": "object",
      "id": "ReadFileResponse",
      "properties": {
        "fileContents": {
          "format": "byte",
          "description": "The file's contents.",
          "type": "string"
        }
      }
    },
    "UncommittedFileChange": {
      "id": "UncommittedFileChange",
      "properties": {
        "path": {
          "type": "string",
          "description": "The file's full path including filename, relative to the workspace root."
        },
        "state": {
          "type": "string",
          "description": "Output only. Indicates the status of the file.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The file has been newly added.",
            "The file has been deleted.",
            "The file has been modified.",
            "The file contains merge conflicts."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "MODIFIED",
            "HAS_CONFLICTS"
          ],
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Represents the Git state of a file with uncommitted changes."
    },
    "Binding": {
      "description": "Associates `members`, or principals, with a `role`.",
      "id": "Binding",
      "properties": {
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        },
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
        },
        "members": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
        }
      },
      "type": "object"
    },
    "WriteFileResponse": {
      "description": "`WriteFile` response message.",
      "type": "object",
      "id": "WriteFileResponse",
      "properties": {}
    },
    "Policy": {
      "type": "object",
      "id": "Policy",
      "properties": {
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "type": "array",
          "items": {
            "$ref": "Binding"
          }
        },
        "version": {
          "type": "integer",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32"
        },
        "etag": {
          "type": "string",
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
        }
      },
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
    },
    "BigQueryAction": {
      "id": "BigQueryAction",
      "properties": {
        "jobId": {
          "description": "Output only. The ID of the BigQuery job that executed the SQL in sql_script. Only set once the job has started to run.",
          "readOnly": true,
          "type": "string"
        },
        "sqlScript": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The generated BigQuery SQL script that will be executed."
        }
      },
      "type": "object",
      "description": "Represents a workflow action that will run against BigQuery."
    },
    "FetchGitAheadBehindResponse": {
      "id": "FetchGitAheadBehindResponse",
      "properties": {
        "commitsAhead": {
          "type": "integer",
          "description": "The number of commits in the remote branch that are not in the workspace.",
          "format": "int32"
        },
        "commitsBehind": {
          "type": "integer",
          "description": "The number of commits in the workspace that are not in the remote branch.",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "`FetchGitAheadBehind` response message."
    },
    "CommitWorkspaceChangesResponse": {
      "id": "CommitWorkspaceChangesResponse",
      "properties": {},
      "type": "object",
      "description": "`CommitWorkspaceChanges` response message."
    },
    "Config": {
      "type": "object",
      "id": "Config",
      "properties": {
        "defaultKmsKeyName": {
          "description": "Optional. The default KMS key that is used if no encryption key is provided when a repository is created.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The config name.",
          "type": "string"
        },
        "internalMetadata": {
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Config for all repositories in a given project and location."
    },
    "PolicyName": {
      "type": "object",
      "id": "PolicyName",
      "properties": {
        "region": {
          "type": "string",
          "description": "For Cloud IAM: The location of the Policy. Must be empty or \"global\" for Policies owned by global IAM. Must name a region from prodspec/cloud-iam-cloudspec for Regional IAM Policies, see go/iam-faq#where-is-iam-currently-deployed. For Local IAM: This field should be set to \"local\"."
        },
        "id": {
          "type": "string",
          "description": "Identifies an instance of the type. ID format varies by type. The ID format is defined in the IAM .service file that defines the type, either in path_mapping or in a comment."
        },
        "type": {
          "type": "string",
          "description": "Resource type. Types are defined in IAM's .service files. Valid values for type might be 'storage_buckets', 'compute_instances', 'resourcemanager_customers', 'billing_accounts', etc."
        }
      },
      "description": "An internal name for an IAM policy, based on the resource to which the policy applies. Not to be confused with a resource's external full resource name. For more information on this distinction, see go/iam-full-resource-names."
    },
    "RemoveDirectoryRequest": {
      "description": "`RemoveDirectory` request message.",
      "id": "RemoveDirectoryRequest",
      "properties": {
        "path": {
          "type": "string",
          "description": "Required. The directory's full path including directory name, relative to the workspace root."
        }
      },
      "type": "object"
    },
    "CompilationResult": {
      "type": "object",
      "id": "CompilationResult",
      "properties": {
        "gitCommitish": {
          "type": "string",
          "description": "Immutable. Git commit/tag/branch name at which the repository should be compiled. Must exist in the remote repository. Examples: - a commit SHA: `12ade345` - a tag: `tag1` - a branch name: `branch1`"
        },
        "codeCompilationConfig": {
          "$ref": "CodeCompilationConfig",
          "description": "Immutable. If set, fields of `code_compilation_config` override the default compilation settings that are specified in dataform.json."
        },
        "privateResourceMetadata": {
          "$ref": "PrivateResourceMetadata",
          "description": "Output only. Metadata indicating whether this resource is user-scoped. `CompilationResult` resource is `user_scoped` only if it is sourced from a workspace.",
          "readOnly": true
        },
        "dataformCoreVersion": {
          "description": "Output only. The version of `@dataform/core` that was used for compilation.",
          "readOnly": true,
          "type": "string"
        },
        "workspace": {
          "description": "Immutable. The name of the workspace to compile. Must be in the format `projects/*/locations/*/repositories/*/workspaces/*`.",
          "type": "string"
        },
        "compilationErrors": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "CompilationError"
          },
          "description": "Output only. Errors encountered during project compilation."
        },
        "internalMetadata": {
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "readOnly": true,
          "type": "string"
        },
        "resolvedGitCommitSha": {
          "description": "Output only. The fully resolved Git commit SHA of the code that was compiled. Not set for compilation results whose source is a workspace.",
          "readOnly": true,
          "type": "string"
        },
        "dataEncryptionState": {
          "$ref": "DataEncryptionState",
          "description": "Output only. Only set if the repository has a KMS Key.",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp of when the compilation result was created.",
          "format": "google-datetime"
        },
        "releaseConfig": {
          "type": "string",
          "description": "Immutable. The name of the release config to compile. Must be in the format `projects/*/locations/*/repositories/*/releaseConfigs/*`."
        },
        "name": {
          "description": "Output only. The compilation result's name.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Represents the result of compiling a Dataform project."
    },
    "WorkflowInvocationAction": {
      "description": "Represents a single action in a workflow invocation.",
      "type": "object",
      "id": "WorkflowInvocationAction",
      "properties": {
        "failureReason": {
          "description": "Output only. If and only if action's state is FAILED a failure reason is set.",
          "readOnly": true,
          "type": "string"
        },
        "invocationTiming": {
          "readOnly": true,
          "description": "Output only. This action's timing details. `start_time` will be set if the action is in [RUNNING, SUCCEEDED, CANCELLED, FAILED] state. `end_time` will be set if the action is in [SUCCEEDED, CANCELLED, FAILED] state.",
          "$ref": "Interval"
        },
        "bigqueryAction": {
          "$ref": "BigQueryAction",
          "description": "Output only. The workflow action's bigquery action details.",
          "readOnly": true
        },
        "notebookAction": {
          "readOnly": true,
          "description": "Output only. The workflow action's notebook action details.",
          "$ref": "NotebookAction"
        },
        "canonicalTarget": {
          "readOnly": true,
          "description": "Output only. The action's identifier if the project had been compiled without any overrides configured. Unique within the compilation result.",
          "$ref": "Target"
        },
        "state": {
          "description": "Output only. This action's current state.",
          "enumDescriptions": [
            "The action has not yet been considered for invocation.",
            "The action is currently running.",
            "Execution of the action was skipped because upstream dependencies did not all complete successfully. A terminal state.",
            "Execution of the action was disabled as per the configuration of the corresponding compilation result action. A terminal state.",
            "The action succeeded. A terminal state.",
            "The action was cancelled. A terminal state.",
            "The action failed. A terminal state."
          ],
          "readOnly": true,
          "enum": [
            "PENDING",
            "RUNNING",
            "SKIPPED",
            "DISABLED",
            "SUCCEEDED",
            "CANCELLED",
            "FAILED"
          ],
          "type": "string"
        },
        "internalMetadata": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string."
        },
        "target": {
          "description": "Output only. This action's identifier. Unique within the workflow invocation.",
          "$ref": "Target",
          "readOnly": true
        },
        "dataPreparationAction": {
          "readOnly": true,
          "description": "Output only. The workflow action's data preparation action details.",
          "$ref": "DataPreparationAction"
        }
      }
    },
    "ListWorkflowInvocationsResponse": {
      "description": "`ListWorkflowInvocations` response message.",
      "type": "object",
      "id": "ListWorkflowInvocationsResponse",
      "properties": {
        "unreachable": {
          "description": "Locations which could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "workflowInvocations": {
          "description": "List of workflow invocations.",
          "type": "array",
          "items": {
            "$ref": "WorkflowInvocation"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "RemoveFileResponse": {
      "type": "object",
      "id": "RemoveFileResponse",
      "properties": {},
      "description": "`RemoveFile` response message."
    },
    "CommitLogEntry": {
      "description": "Represents a single commit log.",
      "type": "object",
      "id": "CommitLogEntry",
      "properties": {
        "commitSha": {
          "description": "The commit SHA for this commit log entry.",
          "type": "string"
        },
        "commitMessage": {
          "type": "string",
          "description": "The commit message for this commit log entry."
        },
        "author": {
          "$ref": "CommitAuthor",
          "description": "The commit author for this commit log entry."
        },
        "commitTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Commit timestamp."
        }
      }
    },
    "SshAuthenticationConfig": {
      "id": "SshAuthenticationConfig",
      "properties": {
        "hostPublicKey": {
          "type": "string",
          "description": "Required. Content of a public SSH key to verify an identity of a remote Git host."
        },
        "userPrivateKeySecretVersion": {
          "description": "Required. The name of the Secret Manager secret version to use as a ssh private key for Git operations. Must be in the format `projects/*/secrets/*/versions/*`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Configures fields for performing SSH authentication."
    },
    "Relation": {
      "description": "Represents a database relation.",
      "id": "Relation",
      "properties": {
        "disabled": {
          "description": "Whether this action is disabled (i.e. should not be run).",
          "type": "boolean"
        },
        "relationType": {
          "description": "The type of this relation.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The relation is a table.",
            "The relation is a view.",
            "The relation is an incrementalized table.",
            "The relation is a materialized view."
          ],
          "type": "string",
          "enum": [
            "RELATION_TYPE_UNSPECIFIED",
            "TABLE",
            "VIEW",
            "INCREMENTAL_TABLE",
            "MATERIALIZED_VIEW"
          ]
        },
        "partitionExpirationDays": {
          "type": "integer",
          "format": "int32",
          "description": "Sets the partition expiration in days."
        },
        "additionalOptions": {
          "type": "object",
          "description": "Additional options that will be provided as key/value pairs into the options clause of a create table/view statement. See https://cloud.google.com/bigquery/docs/reference/standard-sql/data-definition-language for more information on which options are supported.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "incrementalTableConfig": {
          "description": "Configures `INCREMENTAL_TABLE` settings for this relation. Only set if `relation_type` is `INCREMENTAL_TABLE`.",
          "$ref": "IncrementalTableConfig"
        },
        "selectQuery": {
          "type": "string",
          "description": "The SELECT query which returns rows which this relation should contain."
        },
        "fileFormat": {
          "description": "Optional. The file format for the BigQuery table.",
          "enumDescriptions": [
            "Default value.",
            "Apache Parquet format."
          ],
          "enum": [
            "FILE_FORMAT_UNSPECIFIED",
            "PARQUET"
          ],
          "type": "string"
        },
        "partitionExpression": {
          "type": "string",
          "description": "The SQL expression used to partition the relation."
        },
        "dependencyTargets": {
          "description": "A list of actions that this action depends on.",
          "items": {
            "$ref": "Target"
          },
          "type": "array"
        },
        "storageUri": {
          "type": "string",
          "description": "Optional. The fully qualified location prefix of the external folder where table data is stored. The URI should be in the format `gs://bucket/path_to_table/`."
        },
        "relationDescriptor": {
          "description": "Descriptor for the relation and its columns.",
          "$ref": "RelationDescriptor"
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Arbitrary, user-defined tags on this action."
        },
        "preOperations": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "SQL statements to be executed before creating the relation."
        },
        "postOperations": {
          "description": "SQL statements to be executed after creating the relation.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "tableFormat": {
          "type": "string",
          "enum": [
            "TABLE_FORMAT_UNSPECIFIED",
            "ICEBERG"
          ],
          "description": "Optional. The table format for the BigQuery table.",
          "enumDescriptions": [
            "Default value.",
            "Apache Iceberg format."
          ]
        },
        "connection": {
          "type": "string",
          "description": "Optional. The connection specifying the credentials to be used to read and write to external storage, such as Cloud Storage. The connection can have the form `{project}.{location}.{connection_id}` or `projects/{project}/locations/{location}/connections/{connection_id}`, or be set to DEFAULT."
        },
        "requirePartitionFilter": {
          "description": "Specifies whether queries on this table must include a predicate filter that filters on the partitioning column.",
          "type": "boolean"
        },
        "clusterExpressions": {
          "description": "A list of columns or SQL expressions used to cluster the table.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "PushGitCommitsResponse": {
      "description": "`PushGitCommits` response message.",
      "id": "PushGitCommitsResponse",
      "properties": {},
      "type": "object"
    },
    "InstallNpmPackagesRequest": {
      "description": "`InstallNpmPackages` request message.",
      "type": "object",
      "id": "InstallNpmPackagesRequest",
      "properties": {}
    },
    "ActionErrorTable": {
      "description": "Error table information, used to write error data into a BigQuery table.",
      "id": "ActionErrorTable",
      "properties": {
        "target": {
          "description": "Error Table target.",
          "$ref": "Target"
        },
        "retentionDays": {
          "format": "int32",
          "description": "Error table partition expiration in days. Only positive values are allowed.",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "FolderContentsEntry": {
      "description": "Represents a single content entry.",
      "id": "FolderContentsEntry",
      "properties": {
        "folder": {
          "$ref": "Folder",
          "description": "A subfolder."
        },
        "repository": {
          "description": "A repository.",
          "$ref": "Repository"
        }
      },
      "type": "object"
    },
    "MoveDirectoryResponse": {
      "type": "object",
      "id": "MoveDirectoryResponse",
      "properties": {},
      "description": "`MoveDirectory` response message."
    },
    "FetchRemoteBranchesResponse": {
      "description": "`FetchRemoteBranches` response message.",
      "id": "FetchRemoteBranchesResponse",
      "properties": {
        "branches": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The remote repository's branch names."
        }
      },
      "type": "object"
    },
    "DeleteFile": {
      "description": "Represents the delete file operation.",
      "type": "object",
      "id": "DeleteFile",
      "properties": {}
    },
    "ActionLoadConfig": {
      "type": "object",
      "id": "ActionLoadConfig",
      "properties": {
        "replace": {
          "description": "Replace destination table",
          "$ref": "ActionSimpleLoadMode"
        },
        "append": {
          "description": "Append into destination table",
          "$ref": "ActionSimpleLoadMode"
        },
        "maximum": {
          "description": "Insert records where the value exceeds the previous maximum value for a column in the destination table",
          "$ref": "ActionIncrementalLoadMode"
        },
        "unique": {
          "$ref": "ActionIncrementalLoadMode",
          "description": "Insert records where the value of a column is not already present in the destination table"
        }
      },
      "description": "Simplified load configuration for actions"
    },
    "MoveRepositoryRequest": {
      "description": "`MoveRepository` request message.",
      "id": "MoveRepositoryRequest",
      "properties": {
        "destinationContainingFolder": {
          "description": "Optional. The name of the Folder, TeamFolder, or root location to move the repository to. Can be in the format of: \"\" to move into the root User folder, `projects/*/locations/*/folders/*`, `projects/*/locations/*/teamFolders/*`",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DataEncryptionState": {
      "description": "Describes encryption state of a resource.",
      "type": "object",
      "id": "DataEncryptionState",
      "properties": {
        "kmsKeyVersionName": {
          "type": "string",
          "description": "Required. The KMS key version name with which data of a resource is encrypted."
        }
      }
    },
    "ListReleaseConfigsResponse": {
      "type": "object",
      "id": "ListReleaseConfigsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "releaseConfigs": {
          "description": "List of release configs.",
          "items": {
            "$ref": "ReleaseConfig"
          },
          "type": "array"
        },
        "unreachable": {
          "description": "Locations which could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "`ListReleaseConfigs` response message."
    },
    "NotebookAction": {
      "type": "object",
      "id": "NotebookAction",
      "properties": {
        "contents": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The code contents of a Notebook to be run."
        },
        "jobId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The ID of the Gemini Enterprise Agent Platform job that executed the notebook in contents and also the ID used for the outputs created in Google Cloud Storage buckets. Only set once the job has started to run."
        }
      },
      "description": "Represents a workflow action that will run against a Notebook runtime."
    },
    "OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "id": "OperationMetadata",
      "properties": {
        "cancelRequested": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running."
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime"
        },
        "statusDetail": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "QueryRepositoryDirectoryContentsResponse": {
      "type": "object",
      "id": "QueryRepositoryDirectoryContentsResponse",
      "properties": {
        "directoryEntries": {
          "description": "List of entries in the directory.",
          "type": "array",
          "items": {
            "$ref": "DirectoryEntry"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "`QueryRepositoryDirectoryContents` response message."
    },
    "DirectoryEntry": {
      "description": "Represents a single entry in a directory.",
      "id": "DirectoryEntry",
      "properties": {
        "metadata": {
          "description": "Entry with metadata.",
          "$ref": "FilesystemEntryMetadata"
        },
        "directory": {
          "type": "string",
          "description": "A child directory in the directory. The path is returned including the full folder structure from the root."
        },
        "file": {
          "type": "string",
          "description": "A file in the directory. The path is returned including the full folder structure from the root."
        }
      },
      "type": "object"
    },
    "CommitRepositoryChangesResponse": {
      "description": "`CommitRepositoryChanges` response message.",
      "type": "object",
      "id": "CommitRepositoryChangesResponse",
      "properties": {
        "commitSha": {
          "description": "The commit SHA of the current commit.",
          "type": "string"
        }
      }
    },
    "WriteFile": {
      "id": "WriteFile",
      "properties": {
        "contents": {
          "type": "string",
          "description": "The file's contents.",
          "format": "byte"
        }
      },
      "type": "object",
      "description": "Represents the write file operation (for files added or modified)."
    },
    "DataPreparationAction": {
      "description": "Represents a workflow action that will run a Data Preparation.",
      "type": "object",
      "id": "DataPreparationAction",
      "properties": {
        "contentsSql": {
          "description": "SQL definition for a Data Preparation. Contains a SQL query and additional context information.",
          "$ref": "ActionSqlDefinition"
        },
        "contentsYaml": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. YAML representing the contents of the data preparation. Can be used to show the customer what the input was to their workflow."
        },
        "generatedSql": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The generated BigQuery SQL script that will be executed. For reference only."
        },
        "jobId": {
          "description": "Output only. The ID of the BigQuery job that executed the SQL in sql_script. Only set once the job has started to run.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "FileSearchResult": {
      "description": "Client-facing representation of a file entry in search results.",
      "id": "FileSearchResult",
      "properties": {
        "path": {
          "type": "string",
          "description": "File system path relative to the workspace root."
        }
      },
      "type": "object"
    },
    "DeleteFolderTreeRequest": {
      "description": "`DeleteFolderTree` request message.",
      "id": "DeleteFolderTreeRequest",
      "properties": {
        "force": {
          "description": "Optional. If `false` (default): The operation will fail if any Repository within the folder hierarchy has associated Release Configs or Workflow Configs. If `true`: The operation will attempt to delete everything, including any Release Configs and Workflow Configs linked to Repositories within the folder hierarchy. This permanently removes schedules and resources.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "MoveFileRequest": {
      "description": "`MoveFile` request message.",
      "type": "object",
      "id": "MoveFileRequest",
      "properties": {
        "newPath": {
          "type": "string",
          "description": "Required. The file's new path including filename, relative to the workspace root."
        },
        "path": {
          "type": "string",
          "description": "Required. The file's full path including filename, relative to the workspace root."
        }
      }
    },
    "Repository": {
      "type": "object",
      "id": "Repository",
      "properties": {
        "gitRemoteSettings": {
          "description": "Optional. If set, configures this repository to be linked to a Git remote.",
          "$ref": "GitRemoteSettings"
        },
        "kmsKeyName": {
          "type": "string",
          "description": "Optional. The reference to a KMS encryption key. If provided, it will be used to encrypt user data in the repository and all child resources. It is not possible to add or update the encryption key after the repository is created. Example: `projects/{kms_project}/locations/{location}/keyRings/{key_location}/cryptoKeys/{key}`"
        },
        "displayName": {
          "description": "Optional. The repository's user-friendly name.",
          "type": "string"
        },
        "npmrcEnvironmentVariablesSecretVersion": {
          "description": "Optional. The name of the Secret Manager secret version to be used to interpolate variables into the .npmrc file for package installation operations. Must be in the format `projects/*/secrets/*/versions/*`. The file itself must be in a JSON format.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Repository user labels."
        },
        "containingFolder": {
          "description": "Optional. The name of the containing folder of the repository. The field is immutable and it can be modified via a MoveRepository operation. Format: `projects/*/locations/*/folders/*`. or `projects/*/locations/*/teamFolders/*`.",
          "type": "string"
        },
        "workspaceCompilationOverrides": {
          "$ref": "WorkspaceCompilationOverrides",
          "description": "Optional. If set, fields of `workspace_compilation_overrides` override the default compilation settings that are specified in dataform.json when creating workspace-scoped compilation results. See documentation for `WorkspaceCompilationOverrides` for more information."
        },
        "setAuthenticatedUserAdmin": {
          "type": "boolean",
          "description": "Optional. Input only. If set to true, the authenticated user will be granted the roles/dataform.admin role on the created repository."
        },
        "teamFolderName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the TeamFolder that this Repository is associated with. This should take the format: projects/{project}/locations/{location}/teamFolders/{teamFolder}. If this is not set, the Repository is not associated with a TeamFolder."
        },
        "internalMetadata": {
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp of when the repository was created."
        },
        "dataEncryptionState": {
          "description": "Output only. A data encryption state of a Git repository if this Repository is protected by a KMS key.",
          "$ref": "DataEncryptionState",
          "readOnly": true
        },
        "serviceAccount": {
          "type": "string",
          "description": "Optional. The service account to run workflow invocations under."
        },
        "name": {
          "description": "Identifier. The repository's name.",
          "type": "string"
        }
      },
      "description": "Represents a Dataform Git repository."
    },
    "TeamFolderSearchResult": {
      "type": "object",
      "id": "TeamFolderSearchResult",
      "properties": {
        "teamFolder": {
          "$ref": "TeamFolder",
          "description": "A TeamFolder resource that is in the project / location."
        }
      },
      "description": "Represents a single content entry."
    },
    "ActionSqlDefinition": {
      "type": "object",
      "id": "ActionSqlDefinition",
      "properties": {
        "errorTable": {
          "description": "Error table configuration,",
          "$ref": "ActionErrorTable"
        },
        "loadConfig": {
          "$ref": "ActionLoadConfig",
          "description": "Load configuration."
        },
        "query": {
          "description": "The SQL query representing the data preparation steps. Formatted as a Pipe SQL query statement.",
          "type": "string"
        }
      },
      "description": "Definition of a SQL Data Preparation"
    },
    "InstallNpmPackagesResponse": {
      "id": "InstallNpmPackagesResponse",
      "properties": {},
      "type": "object",
      "description": "`InstallNpmPackages` response message."
    },
    "WorkflowConfig": {
      "description": "Represents a Dataform workflow configuration.",
      "id": "WorkflowConfig",
      "properties": {
        "disabled": {
          "description": "Optional. Disables automatic creation of workflow invocations.",
          "type": "boolean"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp of when the WorkflowConfig was last updated.",
          "readOnly": true,
          "type": "string"
        },
        "timeZone": {
          "description": "Optional. Specifies the time zone to be used when interpreting cron_schedule. Must be a time zone name from the time zone database (https://en.wikipedia.org/wiki/List_of_tz_database_time_zones). If left unspecified, the default is UTC.",
          "type": "string"
        },
        "invocationConfig": {
          "$ref": "InvocationConfig",
          "description": "Optional. If left unset, a default InvocationConfig will be used."
        },
        "name": {
          "description": "Identifier. The workflow config's name.",
          "type": "string"
        },
        "cronSchedule": {
          "type": "string",
          "description": "Optional. Optional schedule (in cron format) for automatic execution of this workflow config."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp of when the WorkflowConfig was created."
        },
        "releaseConfig": {
          "description": "Required. The name of the release config whose release_compilation_result should be executed. Must be in the format `projects/*/locations/*/repositories/*/releaseConfigs/*`.",
          "type": "string"
        },
        "recentScheduledExecutionRecords": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "ScheduledExecutionRecord"
          },
          "description": "Output only. Records of the 10 most recent scheduled execution attempts, ordered in descending order of `execution_time`. Updated whenever automatic creation of a workflow invocation is triggered by cron_schedule."
        },
        "internalMetadata": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string."
        }
      },
      "type": "object"
    },
    "RelationDescriptor": {
      "description": "Describes a relation and its columns.",
      "type": "object",
      "id": "RelationDescriptor",
      "properties": {
        "columns": {
          "type": "array",
          "items": {
            "$ref": "ColumnDescriptor"
          },
          "description": "A list of descriptions of columns within the relation."
        },
        "description": {
          "description": "A text description of the relation.",
          "type": "string"
        },
        "bigqueryLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "A set of BigQuery labels that should be applied to the relation.",
          "type": "object"
        }
      }
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "id": "CancelOperationRequest",
      "properties": {},
      "type": "object"
    },
    "MoveDirectoryRequest": {
      "id": "MoveDirectoryRequest",
      "properties": {
        "newPath": {
          "type": "string",
          "description": "Required. The new path for the directory including directory name, rooted at workspace root."
        },
        "path": {
          "description": "Required. The directory's full path including directory name, relative to the workspace root.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "`MoveDirectory` request message."
    },
    "TeamFolder": {
      "description": "Represents a Dataform TeamFolder. This is a resource that sits at the project level and is used to organize Repositories and Folders with hierarchical access controls. They provide a team context and stricter access controls.",
      "id": "TeamFolder",
      "properties": {
        "name": {
          "description": "Identifier. The TeamFolder's name.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. The TeamFolder's user-friendly name."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp of when the TeamFolder was last updated."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp of when the TeamFolder was created.",
          "readOnly": true,
          "type": "string"
        },
        "creatorIamPrincipal": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The IAM principal identifier of the creator of the TeamFolder."
        },
        "internalMetadata": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string."
        }
      },
      "type": "object"
    },
    "MakeDirectoryResponse": {
      "description": "`MakeDirectory` response message.",
      "id": "MakeDirectoryResponse",
      "properties": {},
      "type": "object"
    },
    "FetchFileGitStatusesResponse": {
      "description": "`FetchFileGitStatuses` response message.",
      "id": "FetchFileGitStatusesResponse",
      "properties": {
        "uncommittedFileChanges": {
          "description": "A list of all files which have uncommitted Git changes. There will only be a single entry for any given file.",
          "items": {
            "$ref": "UncommittedFileChange"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "MoveFileResponse": {
      "id": "MoveFileResponse",
      "properties": {},
      "type": "object",
      "description": "`MoveFile` response message."
    },
    "ListRepositoriesResponse": {
      "description": "`ListRepositories` response message.",
      "type": "object",
      "id": "ListRepositoriesResponse",
      "properties": {
        "unreachable": {
          "description": "Locations which could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "repositories": {
          "items": {
            "$ref": "Repository"
          },
          "type": "array",
          "description": "List of repositories."
        },
        "nextPageToken": {
          "description": "A token which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GitRemoteSettings": {
      "id": "GitRemoteSettings",
      "properties": {
        "sshAuthenticationConfig": {
          "description": "Optional. Authentication fields for remote uris using SSH protocol.",
          "$ref": "SshAuthenticationConfig"
        },
        "gitRepositoryLink": {
          "description": "Optional. Resource name for the `GitRepositoryLink` used for machine credentials. Must be in the format `projects/*/locations/*/connections/*/gitRepositoryLinks/*`",
          "type": "string"
        },
        "effectiveDefaultBranch": {
          "description": "Output only. The Git remote's effective default branch name. This is the default branch name of the Git remote if it is set, otherwise it is `main`.",
          "readOnly": true,
          "type": "string"
        },
        "authenticationTokenSecretVersion": {
          "description": "Optional. The name of the Secret Manager secret version to use as an authentication token for Git operations. Must be in the format `projects/*/secrets/*/versions/*`.",
          "type": "string"
        },
        "url": {
          "description": "Required. The Git remote's URL.",
          "type": "string"
        },
        "tokenStatus": {
          "type": "string",
          "deprecated": true,
          "description": "Output only. Deprecated: The field does not contain any token status information.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The token could not be found in Secret Manager (or the Dataform Service Account did not have permission to access it).",
            "The token could not be used to authenticate against the Git remote.",
            "The token was used successfully to authenticate against the Git remote."
          ],
          "readOnly": true,
          "enum": [
            "TOKEN_STATUS_UNSPECIFIED",
            "NOT_FOUND",
            "INVALID",
            "VALID"
          ]
        },
        "defaultBranch": {
          "type": "string",
          "description": "Optional. The Git remote's default branch name. If not set, `main` will be used."
        }
      },
      "type": "object",
      "description": "Controls Git remote configuration for a repository."
    },
    "IncrementalTableConfig": {
      "description": "Contains settings for relations of type `INCREMENTAL_TABLE`.",
      "id": "IncrementalTableConfig",
      "properties": {
        "incrementalPreOperations": {
          "description": "SQL statements to be executed before inserting new rows into the relation.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "refreshDisabled": {
          "description": "Whether this table should be protected from being refreshed.",
          "type": "boolean"
        },
        "incrementalPostOperations": {
          "description": "SQL statements to be executed after inserting new rows into the relation.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "incrementalSelectQuery": {
          "description": "The SELECT query which returns rows which should be inserted into the relation if it already exists and is not being refreshed.",
          "type": "string"
        },
        "uniqueKeyParts": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A set of columns or SQL expressions used to define row uniqueness. If any duplicates are discovered (as defined by `unique_key_parts`), only the newly selected rows (as defined by `incremental_select_query`) will be included in the relation."
        },
        "updatePartitionFilter": {
          "type": "string",
          "description": "A SQL expression conditional used to limit the set of existing rows considered for a merge operation (see `unique_key_parts` for more information)."
        }
      },
      "type": "object"
    },
    "Target": {
      "description": "Represents an action identifier. If the action writes output, the output will be written to the referenced database object.",
      "type": "object",
      "id": "Target",
      "properties": {
        "name": {
          "description": "Optional. The action's name, within `database` and `schema`.",
          "type": "string"
        },
        "database": {
          "description": "Optional. The action's database (Google Cloud project ID) .",
          "type": "string"
        },
        "schema": {
          "type": "string",
          "description": "Optional. The action's schema (BigQuery dataset ID), within `database`."
        }
      }
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location",
      "properties": {
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "labels": {
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ResetWorkspaceChangesRequest": {
      "description": "`ResetWorkspaceChanges` request message.",
      "id": "ResetWorkspaceChangesRequest",
      "properties": {
        "clean": {
          "description": "Optional. If set to true, untracked files will be deleted.",
          "type": "boolean"
        },
        "paths": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Full file paths to reset back to their committed state including filename, rooted at workspace root. If left empty, all files will be reset."
        }
      },
      "type": "object"
    },
    "PullGitCommitsRequest": {
      "description": "`PullGitCommits` request message.",
      "type": "object",
      "id": "PullGitCommitsRequest",
      "properties": {
        "author": {
          "$ref": "CommitAuthor",
          "description": "Required. The author of any merge commit which may be created as a result of merging fetched Git commits into this workspace."
        },
        "remoteBranch": {
          "description": "Optional. The name of the branch in the Git remote from which to pull commits. If left unset, the repository's default branch name will be used.",
          "type": "string"
        }
      }
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "id": "Status",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        }
      }
    },
    "CommitWorkspaceChangesRequest": {
      "type": "object",
      "id": "CommitWorkspaceChangesRequest",
      "properties": {
        "commitMessage": {
          "description": "Optional. The commit's message.",
          "type": "string"
        },
        "paths": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Full file paths to commit including filename, rooted at workspace root. If left empty, all files will be committed."
        },
        "author": {
          "$ref": "CommitAuthor",
          "description": "Required. The commit's author."
        }
      },
      "description": "`CommitWorkspaceChanges` request message."
    },
    "Operation": {
      "id": "Operation",
      "properties": {
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        }
      },
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "CommitMetadata": {
      "description": "Represents a Dataform Git commit.",
      "type": "object",
      "id": "CommitMetadata",
      "properties": {
        "author": {
          "$ref": "CommitAuthor",
          "description": "Required. The commit's author."
        },
        "commitMessage": {
          "description": "Optional. The commit's message.",
          "type": "string"
        }
      }
    },
    "TestIamPermissionsRequest": {
      "description": "Request message for `TestIamPermissions` method.",
      "type": "object",
      "id": "TestIamPermissionsRequest",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
        }
      }
    },
    "DeleteTeamFolderTreeRequest": {
      "type": "object",
      "id": "DeleteTeamFolderTreeRequest",
      "properties": {
        "force": {
          "description": "Optional. If `false` (default): The operation will fail if any Repository within the folder hierarchy has associated Release Configs or Workflow Configs. If `true`: The operation will attempt to delete everything, including any Release Configs and Workflow Configs linked to Repositories within the folder hierarchy. This permanently removes schedules and resources.",
          "type": "boolean"
        }
      },
      "description": "`DeleteTeamFolderTree` request message."
    },
    "ReleaseConfig": {
      "description": "Represents a Dataform release configuration.",
      "id": "ReleaseConfig",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The release config's name."
        },
        "cronSchedule": {
          "description": "Optional. Optional schedule (in cron format) for automatic creation of compilation results.",
          "type": "string"
        },
        "internalMetadata": {
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "readOnly": true,
          "type": "string"
        },
        "recentScheduledReleaseRecords": {
          "items": {
            "$ref": "ScheduledReleaseRecord"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Records of the 10 most recent scheduled release attempts, ordered in descending order of `release_time`. Updated whenever automatic creation of a compilation result is triggered by cron_schedule."
        },
        "disabled": {
          "type": "boolean",
          "description": "Optional. Disables automatic creation of compilation results."
        },
        "timeZone": {
          "description": "Optional. Specifies the time zone to be used when interpreting cron_schedule. Must be a time zone name from the time zone database (https://en.wikipedia.org/wiki/List_of_tz_database_time_zones). If left unspecified, the default is UTC.",
          "type": "string"
        },
        "releaseCompilationResult": {
          "description": "Optional. The name of the currently released compilation result for this release config. This value is updated when a compilation result is automatically created from this release config (using cron_schedule), or when this resource is updated by API call (perhaps to roll back to an earlier release). The compilation result must have been created using this release config. Must be in the format `projects/*/locations/*/repositories/*/compilationResults/*`.",
          "type": "string"
        },
        "gitCommitish": {
          "type": "string",
          "description": "Required. Git commit/tag/branch name at which the repository should be compiled. Must exist in the remote repository. Examples: - a commit SHA: `12ade345` - a tag: `tag1` - a branch name: `branch1`"
        },
        "codeCompilationConfig": {
          "description": "Optional. If set, fields of `code_compilation_config` override the default compilation settings that are specified in dataform.json.",
          "$ref": "CodeCompilationConfig"
        }
      },
      "type": "object"
    },
    "IamPolicyOverrideView": {
      "id": "IamPolicyOverrideView",
      "properties": {
        "iamPolicyName": {
          "$ref": "PolicyName",
          "description": "The IAM policy name for the resource."
        },
        "isActive": {
          "description": "Whether the IAM policy encoded in this view is active.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Contains metadata about the IAM policy override for a given Dataform resource. If is_active is true, this the policy encoded in iam_policy_name is the source of truth for this resource. Will be provided in internal ESV2 views for: Workspaces, Repositories, Folders, TeamFolders."
    },
    "FilesystemEntryMetadata": {
      "description": "Represents metadata for a single entry in a filesystem.",
      "id": "FilesystemEntryMetadata",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Represents the time of the last modification of the entry.",
          "format": "google-datetime"
        },
        "sizeBytes": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Provides the size of the entry in bytes. For directories, this will be 0.",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "FileOperation": {
      "type": "object",
      "id": "FileOperation",
      "properties": {
        "writeFile": {
          "description": "Represents the write operation.",
          "$ref": "WriteFile"
        },
        "deleteFile": {
          "description": "Represents the delete operation.",
          "$ref": "DeleteFile"
        }
      },
      "description": "Represents a single file operation to the repository."
    },
    "SearchResult": {
      "description": "Client-facing representation of a search result entry.",
      "id": "SearchResult",
      "properties": {
        "file": {
          "description": "Details when search result is a file.",
          "$ref": "FileSearchResult"
        },
        "directory": {
          "$ref": "DirectorySearchResult",
          "description": "Details when search result is a directory."
        }
      },
      "type": "object"
    },
    "CommitRepositoryChangesRequest": {
      "type": "object",
      "id": "CommitRepositoryChangesRequest",
      "properties": {
        "fileOperations": {
          "additionalProperties": {
            "$ref": "FileOperation"
          },
          "description": "Optional. A map to the path of the file to the operation. The path is the full file path including filename, from repository root.",
          "type": "object"
        },
        "requiredHeadCommitSha": {
          "description": "Optional. The commit SHA which must be the repository's current HEAD before applying this commit; otherwise this request will fail. If unset, no validation on the current HEAD commit SHA is performed.",
          "type": "string"
        },
        "commitMetadata": {
          "$ref": "CommitMetadata",
          "description": "Required. The changes to commit to the repository."
        }
      },
      "description": "`CommitRepositoryChanges` request message."
    },
    "SqlDefinition": {
      "type": "object",
      "id": "SqlDefinition",
      "properties": {
        "errorTable": {
          "$ref": "ErrorTable",
          "description": "Error table configuration,"
        },
        "query": {
          "description": "The SQL query representing the data preparation steps. Formatted as a Pipe SQL query statement.",
          "type": "string"
        },
        "load": {
          "$ref": "LoadConfig",
          "description": "Load configuration."
        }
      },
      "description": "Definition of a SQL Data Preparation"
    },
    "SimpleLoadMode": {
      "id": "SimpleLoadMode",
      "properties": {},
      "type": "object",
      "description": "Simple load definition"
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        }
      },
      "type": "object"
    },
    "SearchTeamFoldersResponse": {
      "id": "SearchTeamFoldersResponse",
      "properties": {
        "results": {
          "items": {
            "$ref": "TeamFolderSearchResult"
          },
          "type": "array",
          "description": "List of TeamFolders that match the search query."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "`SearchTeamFolders` response message."
    },
    "ListWorkflowConfigsResponse": {
      "type": "object",
      "id": "ListWorkflowConfigsResponse",
      "properties": {
        "workflowConfigs": {
          "items": {
            "$ref": "WorkflowConfig"
          },
          "type": "array",
          "description": "List of workflow configs."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations which could not be reached."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "`ListWorkflowConfigs` response message."
    },
    "PushGitCommitsRequest": {
      "id": "PushGitCommitsRequest",
      "properties": {
        "remoteBranch": {
          "type": "string",
          "description": "Optional. The name of the branch in the Git remote to which commits should be pushed. If left unset, the repository's default branch name will be used."
        }
      },
      "type": "object",
      "description": "`PushGitCommits` request message."
    },
    "ComputeRepositoryAccessTokenStatusResponse": {
      "id": "ComputeRepositoryAccessTokenStatusResponse",
      "properties": {
        "tokenStatus": {
          "description": "Indicates the status of the Git access token.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The token could not be found in Secret Manager (or the Dataform Service Account did not have permission to access it).",
            "The token could not be used to authenticate against the Git remote.",
            "The token was used successfully to authenticate against the Git remote.",
            "The token is not accessible due to permission issues."
          ],
          "type": "string",
          "enum": [
            "TOKEN_STATUS_UNSPECIFIED",
            "NOT_FOUND",
            "INVALID",
            "VALID",
            "PERMISSION_DENIED"
          ]
        }
      },
      "type": "object",
      "description": "`ComputeRepositoryAccessTokenStatus` response message."
    },
    "ScheduledExecutionRecord": {
      "description": "A record of an attempt to create a workflow invocation for this workflow config.",
      "type": "object",
      "id": "ScheduledExecutionRecord",
      "properties": {
        "workflowInvocation": {
          "description": "The name of the created workflow invocation, if one was successfully created. Must be in the format `projects/*/locations/*/repositories/*/workflowInvocations/*`.",
          "type": "string"
        },
        "errorStatus": {
          "description": "The error status encountered upon this attempt to create the workflow invocation, if the attempt was unsuccessful.",
          "$ref": "Status"
        },
        "executionTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp of this execution attempt.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "RemoveDirectoryResponse": {
      "description": "`RemoveDirectory` response message.",
      "id": "RemoveDirectoryResponse",
      "properties": {},
      "type": "object"
    },
    "ScheduledReleaseRecord": {
      "id": "ScheduledReleaseRecord",
      "properties": {
        "errorStatus": {
          "$ref": "Status",
          "description": "The error status encountered upon this attempt to create the compilation result, if the attempt was unsuccessful."
        },
        "compilationResult": {
          "type": "string",
          "description": "The name of the created compilation result, if one was successfully created. Must be in the format `projects/*/locations/*/repositories/*/compilationResults/*`."
        },
        "releaseTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp of this release attempt."
        }
      },
      "type": "object",
      "description": "A record of an attempt to create a compilation result for this release config."
    },
    "QueryWorkflowInvocationActionsResponse": {
      "id": "QueryWorkflowInvocationActionsResponse",
      "properties": {
        "workflowInvocationActions": {
          "description": "List of workflow invocation actions.",
          "items": {
            "$ref": "WorkflowInvocationAction"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object",
      "description": "`QueryWorkflowInvocationActions` response message."
    },
    "WriteFileRequest": {
      "description": "`WriteFile` request message.",
      "id": "WriteFileRequest",
      "properties": {
        "contents": {
          "description": "Required. The file's contents.",
          "format": "byte",
          "type": "string"
        },
        "path": {
          "type": "string",
          "description": "Required. The file."
        }
      },
      "type": "object"
    },
    "TestIamPermissionsResponse": {
      "type": "object",
      "id": "TestIamPermissionsResponse",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Response message for `TestIamPermissions` method."
    },
    "Declaration": {
      "id": "Declaration",
      "properties": {
        "relationDescriptor": {
          "$ref": "RelationDescriptor",
          "description": "Descriptor for the relation and its columns. Used as documentation only, i.e. values here will result in no changes to the relation's metadata."
        }
      },
      "type": "object",
      "description": "Represents a relation which is not managed by Dataform but which may be referenced by Dataform actions."
    },
    "RemoveFileRequest": {
      "description": "`RemoveFile` request message.",
      "id": "RemoveFileRequest",
      "properties": {
        "path": {
          "description": "Required. The file's full path including filename, relative to the workspace root.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListWorkspacesResponse": {
      "id": "ListWorkspacesResponse",
      "properties": {
        "workspaces": {
          "description": "List of workspaces.",
          "type": "array",
          "items": {
            "$ref": "Workspace"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations which could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "`ListWorkspaces` response message."
    },
    "DirectorySearchResult": {
      "description": "Client-facing representation of a directory entry in search results.",
      "type": "object",
      "id": "DirectorySearchResult",
      "properties": {
        "path": {
          "type": "string",
          "description": "File system path relative to the workspace root."
        }
      }
    },
    "CancelWorkflowInvocationResponse": {
      "id": "CancelWorkflowInvocationResponse",
      "properties": {},
      "type": "object",
      "description": "`CancelWorkflowInvocation` response message."
    },
    "NotebookRuntimeOptions": {
      "description": "Configures various aspects of Dataform notebook runtime.",
      "type": "object",
      "id": "NotebookRuntimeOptions",
      "properties": {
        "gcsOutputBucket": {
          "description": "Optional. The Google Cloud Storage location to upload the result to. Format: `gs://bucket-name`.",
          "type": "string"
        },
        "aiPlatformNotebookRuntimeTemplate": {
          "type": "string",
          "description": "Optional. The resource name of the [Colab runtime template] (https://cloud.google.com/colab/docs/runtimes), from which a runtime is created for notebook executions. If not specified, a runtime is created with Colab's default specifications."
        }
      }
    },
    "ReadRepositoryFileResponse": {
      "type": "object",
      "id": "ReadRepositoryFileResponse",
      "properties": {
        "contents": {
          "format": "byte",
          "description": "The file's contents.",
          "type": "string"
        }
      },
      "description": "`ReadRepositoryFile` response message."
    },
    "Operations": {
      "description": "Represents a list of arbitrary database operations.",
      "type": "object",
      "id": "Operations",
      "properties": {
        "dependencyTargets": {
          "type": "array",
          "items": {
            "$ref": "Target"
          },
          "description": "A list of actions that this action depends on."
        },
        "tags": {
          "description": "Arbitrary, user-defined tags on this action.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "queries": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of arbitrary SQL statements that will be executed without alteration."
        },
        "hasOutput": {
          "type": "boolean",
          "description": "Whether these operations produce an output relation."
        },
        "relationDescriptor": {
          "$ref": "RelationDescriptor",
          "description": "Descriptor for any output relation and its columns. Only set if `has_output` is true."
        },
        "disabled": {
          "type": "boolean",
          "description": "Whether this action is disabled (i.e. should not be run)."
        }
      }
    },
    "DataPreparation": {
      "description": "Defines a compiled Data Preparation entity",
      "type": "object",
      "id": "DataPreparation",
      "properties": {
        "contentsSql": {
          "description": "SQL definition for a Data Preparation. Contains a SQL query and additional context information.",
          "$ref": "SqlDefinition"
        },
        "contentsYaml": {
          "description": "The data preparation definition, stored as a YAML string.",
          "type": "string"
        },
        "disabled": {
          "type": "boolean",
          "description": "Whether this action is disabled (i.e. should not be run)."
        },
        "dependencyTargets": {
          "description": "A list of actions that this action depends on.",
          "type": "array",
          "items": {
            "$ref": "Target"
          }
        },
        "tags": {
          "description": "Arbitrary, user-defined tags on this action.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "MoveFolderRequest": {
      "description": "`MoveFolder` request message.",
      "id": "MoveFolderRequest",
      "properties": {
        "destinationContainingFolder": {
          "type": "string",
          "description": "Optional. The name of the Folder, TeamFolder, or root location to move the Folder to. Can be in the format of: \"\" to move into the root User folder, `projects/*/locations/*/folders/*`, `projects/*/locations/*/teamFolders/*`"
        }
      },
      "type": "object"
    },
    "CommitAuthor": {
      "id": "CommitAuthor",
      "properties": {
        "name": {
          "description": "Required. The commit author's name.",
          "type": "string"
        },
        "emailAddress": {
          "type": "string",
          "description": "Required. The commit author's email address."
        }
      },
      "type": "object",
      "description": "Represents the author of a Git commit."
    },
    "ColumnDescriptor": {
      "description": "Describes a column.",
      "id": "ColumnDescriptor",
      "properties": {
        "description": {
          "description": "A textual description of the column.",
          "type": "string"
        },
        "path": {
          "description": "The identifier for the column. Each entry in `path` represents one level of nesting.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "bigqueryPolicyTags": {
          "description": "A list of BigQuery policy tags that will be applied to the column.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "TeamFolderContentsEntry": {
      "description": "Represents a single content entry.",
      "type": "object",
      "id": "TeamFolderContentsEntry",
      "properties": {
        "folder": {
          "description": "A subfolder.",
          "$ref": "Folder"
        },
        "repository": {
          "description": "A repository.",
          "$ref": "Repository"
        }
      }
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "id": "ListOperationsResponse",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      }
    },
    "Folder": {
      "description": "Represents a Dataform Folder. This is a resource that is used to organize Files and other Folders and provide hierarchical access controls.",
      "id": "Folder",
      "properties": {
        "containingFolder": {
          "description": "Optional. The containing Folder resource name. This should take the format: projects/{project}/locations/{location}/folders/{folder}, projects/{project}/locations/{location}/teamFolders/{teamFolder}, or just \"\" if this is a root Folder. This field can only be updated through MoveFolder.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp of when the Folder was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "internalMetadata": {
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "readOnly": true,
          "type": "string"
        },
        "creatorIamPrincipal": {
          "description": "Output only. The IAM principal identifier of the creator of the Folder.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The timestamp of when the Folder was last updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The Folder's name."
        },
        "displayName": {
          "description": "Required. The Folder's user-friendly name.",
          "type": "string"
        },
        "teamFolderName": {
          "description": "Output only. The resource name of the TeamFolder that this Folder is associated with. This should take the format: projects/{project}/locations/{location}/teamFolders/{teamFolder}. If this is not set, the Folder is not associated with a TeamFolder and is a UserFolder.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "WorkspaceCompilationOverrides": {
      "type": "object",
      "id": "WorkspaceCompilationOverrides",
      "properties": {
        "defaultDatabase": {
          "description": "Optional. The default database (Google Cloud project ID).",
          "type": "string"
        },
        "schemaSuffix": {
          "type": "string",
          "description": "Optional. The suffix that should be appended to all schema (BigQuery dataset ID) names."
        },
        "tablePrefix": {
          "type": "string",
          "description": "Optional. The prefix that should be prepended to all table names."
        }
      },
      "description": "Configures workspace compilation overrides for a repository."
    },
    "PrivateResourceMetadata": {
      "description": "Metadata used to identify if a resource is user scoped.",
      "id": "PrivateResourceMetadata",
      "properties": {
        "userScoped": {
          "description": "Output only. If true, this resource is user-scoped, meaning it is either a workspace or sourced from a workspace.",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "QueryDirectoryContentsResponse": {
      "type": "object",
      "id": "QueryDirectoryContentsResponse",
      "properties": {
        "directoryEntries": {
          "description": "List of entries in the directory.",
          "type": "array",
          "items": {
            "$ref": "DirectoryEntry"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "`QueryDirectoryContents` response message."
    },
    "RootContentsEntry": {
      "description": "Represents a single content entry.",
      "id": "RootContentsEntry",
      "properties": {
        "folder": {
          "$ref": "Folder",
          "description": "A subfolder."
        },
        "repository": {
          "description": "A repository.",
          "$ref": "Repository"
        }
      },
      "type": "object"
    },
    "Expr": {
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object",
      "id": "Expr",
      "properties": {
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        }
      }
    },
    "QueryUserRootContentsResponse": {
      "type": "object",
      "id": "QueryUserRootContentsResponse",
      "properties": {
        "entries": {
          "description": "List of entries in the folder.",
          "items": {
            "$ref": "RootContentsEntry"
          },
          "type": "array"
        },
        "nextPageToken": {
[...]
