{
  "batchPath": "batch",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "mtlsRootUrl": "https://datacatalog.mtls.googleapis.com/",
  "rootUrl": "https://datacatalog.googleapis.com/",
  "baseUrl": "https://datacatalog.googleapis.com/",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "description": "A fully managed and highly scalable data discovery and metadata management service. ",
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "version_module": true,
  "kind": "discovery#restDescription",
  "basePath": "",
  "resources": {
    "catalog": {
      "methods": {
        "search": {
          "description": "Searches Data Catalog for multiple resources like entries and tags that match a query. This is a [Custom Method] (https://cloud.google.com/apis/design/custom_methods) that doesn't return all information on a resource, only its ID and high level fields. To get more information, you can subsequently call specific get methods. Note: Data Catalog search queries don't guarantee full recall. Results that match your query might not be returned, even in subsequent result pages. Additionally, returned (and not returned) results can vary if you repeat search queries. For more information, see [Data Catalog search syntax] (https://cloud.google.com/data-catalog/docs/how-to/search-reference).",
          "flatPath": "v1/catalog:search",
          "request": {
            "$ref": "GoogleCloudDatacatalogV1SearchCatalogRequest"
          },
          "httpMethod": "POST",
          "parameters": {},
          "parameterOrder": [],
          "deprecated": true,
          "response": {
            "$ref": "GoogleCloudDatacatalogV1SearchCatalogResponse"
          },
          "path": "v1/catalog:search",
          "id": "datacatalog.catalog.search",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      },
      "deprecated": true
    },
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "setConfig": {
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:setConfig",
              "request": {
                "$ref": "GoogleCloudDatacatalogV1SetConfigRequest"
              },
              "description": "Sets the configuration related to the migration to Dataplex Universal Catalog for an organization or project.",
              "path": "v1/{+name}:setConfig",
              "response": {
                "$ref": "GoogleCloudDatacatalogV1MigrationConfig"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The organization or project whose config is being specified.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "deprecated": true,
              "httpMethod": "POST",
              "id": "datacatalog.projects.locations.setConfig",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "retrieveEffectiveConfig": {
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:retrieveEffectiveConfig",
              "description": "Retrieves the effective configuration related to the migration from Data Catalog to Dataplex Universal Catalog for a specific organization or project. If there is no specific configuration set for the resource, the setting is checked hierarchicahlly through the ancestors of the resource, starting from the resource itself.",
              "response": {
                "$ref": "GoogleCloudDatacatalogV1MigrationConfig"
              },
              "path": "v1/{+name}:retrieveEffectiveConfig",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Required. The resource whose effective config is being retrieved.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "deprecated": true,
              "id": "datacatalog.projects.locations.retrieveEffectiveConfig",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+name}",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "datacatalog.projects.locations.operations.get"
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "datacatalog.projects.locations.operations.delete",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "The name of the operation resource to be deleted.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "datacatalog.projects.locations.operations.list",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "The name of the operation's parent resource.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query"
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "The standard list page size.",
                      "location": "query",
                      "type": "integer"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "path": "v1/{+name}/operations",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations"
                },
                "cancel": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "path": "v1/{+name}:cancel",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be cancelled.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "id": "datacatalog.projects.locations.operations.cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "tagTemplates": {
              "methods": {
                "testIamPermissions": {
                  "id": "datacatalog.projects.locations.tagTemplates.testIamPermissions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/tagTemplates/{tagTemplatesId}:testIamPermissions",
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "description": "Gets your permissions on a resource. Returns an empty set of permissions if the resource doesn't exist. Supported resources are: - Tag templates - Entry groups Note: This method gets policies only within Data Catalog and can't be used to get policies from BigQuery, Pub/Sub, Dataproc Metastore, and any external Google Cloud Platform resources ingested into Data Catalog. No Google IAM permissions are required to call this method.",
                  "path": "v1/{+resource}:testIamPermissions",
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "parameters": {
                    "resource": {
                      "type": "string",
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/tagTemplates/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "deprecated": true,
                  "httpMethod": "POST"
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/tagTemplates/{tagTemplatesId}",
                  "description": "Gets a tag template.",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudDatacatalogV1TagTemplate"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/tagTemplates/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the tag template to get.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "deprecated": true,
                  "httpMethod": "GET",
                  "id": "datacatalog.projects.locations.tagTemplates.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/tagTemplates/[^/]+$",
                      "required": true,
                      "description": "Required. The name of the tag template to delete.",
                      "location": "path",
                      "type": "string"
                    },
                    "force": {
                      "type": "boolean",
                      "description": "Required. If true, deletes all tags that use this template. Currently, `true` is the only supported value.",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "deprecated": true,
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/tagTemplates/{tagTemplatesId}",
                  "description": "Deletes a tag template and all tags that use it. You must enable the Data Catalog API in the project identified by the `name` parameter. For more information, see [Data Catalog resource project](https://cloud.google.com/data-catalog/docs/concepts/resource-project).",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "datacatalog.projects.locations.tagTemplates.delete"
                },
                "patch": {
                  "id": "datacatalog.projects.locations.tagTemplates.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/tagTemplates/{tagTemplatesId}",
                  "request": {
                    "$ref": "GoogleCloudDatacatalogV1TagTemplate"
                  },
                  "description": "Updates a tag template. You can't update template fields with this method. These fields are separate resources with their own create, update, and delete methods. You must enable the Data Catalog API in the project identified by the `tag_template.name` parameter. For more information, see [Data Catalog resource project](https://cloud.google.com/data-catalog/docs/concepts/resource-project).",
                  "response": {
                    "$ref": "GoogleCloudDatacatalogV1TagTemplate"
                  },
                  "path": "v1/{+name}",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/tagTemplates/[^/]+$",
                      "type": "string",
                      "description": "Identifier. The resource name of the tag template in URL format. Note: The tag template itself and its child resources might not be stored in the location specified in its name.",
                      "location": "path",
                      "required": true
                    },
                    "updateMask": {
                      "type": "string",
                      "description": "Names of fields whose values to overwrite on a tag template. Currently, only `display_name` and `is_publicly_readable` can be overwritten. If this parameter is absent or empty, all modifiable fields are overwritten. If such fields are non-required and omitted in the request body, their values are emptied. Note: Updating the `is_publicly_readable` field may require up to 12 hours to take effect in search results.",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "deprecated": true
                },
                "create": {
                  "path": "v1/{+parent}/tagTemplates",
                  "response": {
                    "$ref": "GoogleCloudDatacatalogV1TagTemplate"
                  },
                  "parameters": {
                    "tagTemplateId": {
                      "description": "Required. The ID of the tag template to create. The ID must contain only lowercase letters (a-z), numbers (0-9), or underscores (_), and must start with a letter or underscore. The maximum size is 64 bytes when encoded in UTF-8.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the project and the template location [region](https://cloud.google.com/data-catalog/docs/concepts/regions).",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "deprecated": true,
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/tagTemplates",
                  "request": {
                    "$ref": "GoogleCloudDatacatalogV1TagTemplate"
                  },
                  "description": "Creates a tag template. You must enable the Data Catalog API in the project identified by the `parent` parameter. For more information, see [Data Catalog resource project] (https://cloud.google.com/data-catalog/docs/concepts/resource-project).",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "datacatalog.projects.locations.tagTemplates.create"
                },
                "setIamPolicy": {
                  "description": "Sets an access control policy for a resource. Replaces any existing policy. Supported resources are: - Tag templates - Entry groups Note: This method sets policies only within Data Catalog and can't be used to manage policies in BigQuery, Pub/Sub, Dataproc Metastore, and any external Google Cloud Platform resources synced with the Data Catalog. To call this method, you must have the following Google IAM permissions: - `datacatalog.tagTemplates.setIamPolicy` to set policies on tag templates. - `datacatalog.entryGroups.setIamPolicy` to set policies on entry groups.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/tagTemplates/{tagTemplatesId}:setIamPolicy",
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "resource": {
                      "type": "string",
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/tagTemplates/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "deprecated": true,
                  "response": {
                    "$ref": "Policy"
                  },
                  "path": "v1/{+resource}:setIamPolicy",
                  "id": "datacatalog.projects.locations.tagTemplates.setIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "getIamPolicy": {
                  "id": "datacatalog.projects.locations.tagTemplates.getIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/tagTemplates/{tagTemplatesId}:getIamPolicy",
                  "request": {
                    "$ref": "GetIamPolicyRequest"
                  },
                  "description": "Gets the access control policy for a resource. May return: * A`NOT_FOUND` error if the resource doesn't exist or you don't have the permission to view it. * An empty policy if the resource exists but doesn't have a set policy. Supported resources are: - Tag templates - Entry groups Note: This method doesn't get policies from Google Cloud Platform resources ingested into Data Catalog. To call this method, you must have the following Google IAM permissions: - `datacatalog.tagTemplates.getIamPolicy` to get policies on tag templates. - `datacatalog.entryGroups.getIamPolicy` to get policies on entry groups.",
                  "path": "v1/{+resource}:getIamPolicy",
                  "response": {
                    "$ref": "Policy"
                  },
                  "parameters": {
                    "resource": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/tagTemplates/[^/]+$",
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "deprecated": true,
                  "httpMethod": "POST"
                }
              },
              "resources": {
                "fields": {
                  "resources": {
                    "enumValues": {
                      "methods": {
                        "rename": {
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/tagTemplates/{tagTemplatesId}/fields/{fieldsId}/enumValues/{enumValuesId}:rename",
                          "request": {
                            "$ref": "GoogleCloudDatacatalogV1RenameTagTemplateFieldEnumValueRequest"
                          },
                          "description": "Renames an enum value in a tag template. Within a single enum field, enum values must be unique.",
                          "response": {
                            "$ref": "GoogleCloudDatacatalogV1TagTemplateField"
                          },
                          "path": "v1/{+name}:rename",
                          "httpMethod": "POST",
                          "parameters": {
                            "name": {
                              "type": "string",
                              "description": "Required. The name of the enum field value.",
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/tagTemplates/[^/]+/fields/[^/]+/enumValues/[^/]+$"
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "deprecated": true,
                          "id": "datacatalog.projects.locations.tagTemplates.fields.enumValues.rename",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        }
                      },
                      "deprecated": true
                    }
                  },
                  "methods": {
                    "patch": {
                      "response": {
                        "$ref": "GoogleCloudDatacatalogV1TagTemplateField"
                      },
                      "path": "v1/{+name}",
                      "httpMethod": "PATCH",
                      "parameters": {
                        "updateMask": {
                          "format": "google-fieldmask",
                          "description": "Optional. Names of fields whose values to overwrite on an individual field of a tag template. The following fields are modifiable: * `display_name` * `type.enum_type` * `is_required` If this parameter is absent or empty, all modifiable fields are overwritten. If such fields are non-required and omitted in the request body, their values are emptied with one exception: when updating an enum type, the provided values are merged with the existing values. Therefore, enum values can only be added, existing enum values cannot be deleted or renamed. Additionally, updating a template field from optional to required is *not* allowed.",
                          "location": "query",
                          "type": "string"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/tagTemplates/[^/]+/fields/[^/]+$",
                          "required": true,
                          "description": "Required. The name of the tag template field.",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "deprecated": true,
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/tagTemplates/{tagTemplatesId}/fields/{fieldsId}",
                      "request": {
                        "$ref": "GoogleCloudDatacatalogV1TagTemplateField"
                      },
                      "description": "Updates a field in a tag template. You can't update the field type with this method. You must enable the Data Catalog API in the project identified by the `name` parameter. For more information, see [Data Catalog resource project](https://cloud.google.com/data-catalog/docs/concepts/resource-project).",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "datacatalog.projects.locations.tagTemplates.fields.patch"
                    },
                    "rename": {
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. The name of the tag template field.",
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/tagTemplates/[^/]+/fields/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "deprecated": true,
                      "httpMethod": "POST",
                      "path": "v1/{+name}:rename",
                      "response": {
                        "$ref": "GoogleCloudDatacatalogV1TagTemplateField"
                      },
                      "description": "Renames a field in a tag template. You must enable the Data Catalog API in the project identified by the `name` parameter. For more information, see [Data Catalog resource project] (https://cloud.google.com/data-catalog/docs/concepts/resource-project).",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/tagTemplates/{tagTemplatesId}/fields/{fieldsId}:rename",
                      "request": {
                        "$ref": "GoogleCloudDatacatalogV1RenameTagTemplateFieldRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "datacatalog.projects.locations.tagTemplates.fields.rename"
                    },
                    "create": {
                      "description": "Creates a field in a tag template. You must enable the Data Catalog API in the project identified by the `parent` parameter. For more information, see [Data Catalog resource project](https://cloud.google.com/data-catalog/docs/concepts/resource-project).",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/tagTemplates/{tagTemplatesId}/fields",
                      "request": {
                        "$ref": "GoogleCloudDatacatalogV1TagTemplateField"
                      },
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "description": "Required. The name of the project and the template location [region](https://cloud.google.com/data-catalog/docs/concepts/regions).",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/tagTemplates/[^/]+$"
                        },
                        "tagTemplateFieldId": {
                          "type": "string",
                          "description": "Required. The ID of the tag template field to create. Note: Adding a required field to an existing template is *not* allowed. Field IDs can contain letters (both uppercase and lowercase), numbers (0-9), underscores (_) and dashes (-). Field IDs must be at least 1 character long and at most 128 characters long. Field IDs must also be unique within their template.",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "deprecated": true,
                      "response": {
                        "$ref": "GoogleCloudDatacatalogV1TagTemplateField"
                      },
                      "path": "v1/{+parent}/fields",
                      "id": "datacatalog.projects.locations.tagTemplates.fields.create",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "delete": {
                      "description": "Deletes a field in a tag template and all uses of this field from the tags based on this template. You must enable the Data Catalog API in the project identified by the `name` parameter. For more information, see [Data Catalog resource project](https://cloud.google.com/data-catalog/docs/concepts/resource-project).",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/tagTemplates/{tagTemplatesId}/fields/{fieldsId}",
                      "httpMethod": "DELETE",
                      "parameters": {
                        "force": {
                          "type": "boolean",
                          "description": "Required. If true, deletes this field from any tags that use it. Currently, `true` is the only supported value.",
                          "location": "query"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/tagTemplates/[^/]+/fields/[^/]+$",
                          "required": true,
                          "description": "Required. The name of the tag template field to delete.",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "deprecated": true,
                      "response": {
                        "$ref": "Empty"
                      },
                      "path": "v1/{+name}",
                      "id": "datacatalog.projects.locations.tagTemplates.fields.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                }
              }
            },
            "entryGroups": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/entryGroups/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the entry group to get.",
                      "location": "path"
                    },
                    "readMask": {
                      "type": "string",
                      "description": "The fields to return. If empty or omitted, all fields are returned.",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "deprecated": true,
                  "response": {
                    "$ref": "GoogleCloudDatacatalogV1EntryGroup"
                  },
                  "path": "v1/{+name}",
                  "description": "Gets an entry group.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/entryGroups/{entryGroupsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "datacatalog.projects.locations.entryGroups.get"
                },
                "delete": {
                  "description": "Deletes an entry group. You must enable the Data Catalog API in the project identified by the `name` parameter. For more information, see [Data Catalog resource project](https://cloud.google.com/data-catalog/docs/concepts/resource-project).",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/entryGroups/{entryGroupsId}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The name of the entry group to delete.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/entryGroups/[^/]+$"
                    },
                    "force": {
                      "description": "Optional. If true, deletes all entries in the entry group.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "deprecated": true,
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "datacatalog.projects.locations.entryGroups.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "datacatalog.projects.locations.entryGroups.list",
                  "path": "v1/{+parent}/entryGroups",
                  "response": {
                    "$ref": "GoogleCloudDatacatalogV1ListEntryGroupsResponse"
                  },
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. The maximum number of items to return. Default is 10. Maximum limit is 1000. Throws an invalid argument if `page_size` is greater than 1000.",
                      "location": "query",
                      "format": "int32"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the location that contains the entry groups to list. Can be provided as a URL.",
                      "location": "path",
                      "required": true
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. Pagination token that specifies the next page to return. If empty, returns the first page.",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "deprecated": true,
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/entryGroups",
                  "description": "Lists entry groups."
                },
                "testIamPermissions": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/entryGroups/{entryGroupsId}:testIamPermissions",
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "description": "Gets your permissions on a resource. Returns an empty set of permissions if the resource doesn't exist. Supported resources are: - Tag templates - Entry groups Note: This method gets policies only within Data Catalog and can't be used to get policies from BigQuery, Pub/Sub, Dataproc Metastore, and any external Google Cloud Platform resources ingested into Data Catalog. No Google IAM permissions are required to call this method.",
                  "path": "v1/{+resource}:testIamPermissions",
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "parameters": {
                    "resource": {
                      "required": true,
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/entryGroups/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "deprecated": true,
                  "httpMethod": "POST",
                  "id": "datacatalog.projects.locations.entryGroups.testIamPermissions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "datacatalog.projects.locations.entryGroups.create",
                  "path": "v1/{+parent}/entryGroups",
                  "response": {
                    "$ref": "GoogleCloudDatacatalogV1EntryGroup"
                  },
                  "parameters": {
                    "entryGroupId": {
                      "type": "string",
                      "description": "Required. The ID of the entry group to create. The ID must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and must start with a letter or underscore. The maximum size is 64 bytes when encoded in UTF-8.",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. The names of the project and location that the new entry group belongs to. Note: The entry group itself and its child resources might not be stored in the location specified in its name.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "deprecated": true,
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/entryGroups",
                  "request": {
                    "$ref": "GoogleCloudDatacatalogV1EntryGroup"
                  },
                  "description": "Creates an entry group. An entry group contains logically related entries together with [Cloud Identity and Access Management](/data-catalog/docs/concepts/iam) policies. These policies specify users who can create, edit, and view entries within entry groups. Data Catalog automatically creates entry groups with names that start with the `@` symbol for the following resources: * BigQuery entries (`@bigquery`) * Pub/Sub topics (`@pubsub`) * Dataproc Metastore services (`@dataproc_metastore_{SERVICE_NAME_HASH}`) You can create your own entry groups for Cloud Storage fileset entries and custom entries together with the corresponding IAM policies. User-created entry groups can't contain the `@` symbol, it is reserved for automatically created groups. Entry groups, like entries, can be searched. A maximum of 10,000 entry groups may be created per organization across all locations. You must enable the Data Catalog API in the project identified by the `parent` parameter. For more information, see [Data Catalog resource project](https://cloud.google.com/data-catalog/docs/concepts/resource-project)."
                },
                "setIamPolicy": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "datacatalog.projects.locations.entryGroups.setIamPolicy",
                  "path": "v1/{+resource}:setIamPolicy",
                  "response": {
                    "$ref": "Policy"
                  },
                  "parameters": {
                    "resource": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/entryGroups/[^/]+$",
                      "required": true,
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "deprecated": true,
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/entryGroups/{entryGroupsId}:setIamPolicy",
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "description": "Sets an access control policy for a resource. Replaces any existing policy. Supported resources are: - Tag templates - Entry groups Note: This method sets policies only within Data Catalog and can't be used to manage policies in BigQuery, Pub/Sub, Dataproc Metastore, and any external Google Cloud Platform resources synced with the Data Catalog. To call this method, you must have the following Google IAM permissions: - `datacatalog.tagTemplates.setIamPolicy` to set policies on tag templates. - `datacatalog.entryGroups.setIamPolicy` to set policies on entry groups."
                },
                "getIamPolicy": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "datacatalog.projects.locations.entryGroups.getIamPolicy",
                  "parameters": {
                    "resource": {
                      "type": "string",
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/entryGroups/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "deprecated": true,
                  "httpMethod": "POST",
                  "path": "v1/{+resource}:getIamPolicy",
                  "response": {
                    "$ref": "Policy"
                  },
                  "description": "Gets the access control policy for a resource. May return: * A`NOT_FOUND` error if the resource doesn't exist or you don't have the permission to view it. * An empty policy if the resource exists but doesn't have a set policy. Supported resources are: - Tag templates - Entry groups Note: This method doesn't get policies from Google Cloud Platform resources ingested into Data Catalog. To call this method, you must have the following Google IAM permissions: - `datacatalog.tagTemplates.getIamPolicy` to get policies on tag templates. - `datacatalog.entryGroups.getIamPolicy` to get policies on entry groups.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/entryGroups/{entryGroupsId}:getIamPolicy",
                  "request": {
                    "$ref": "GetIamPolicyRequest"
                  }
                },
                "patch": {
                  "id": "datacatalog.projects.locations.entryGroups.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/entryGroups/{entryGroupsId}",
                  "request": {
                    "$ref": "GoogleCloudDatacatalogV1EntryGroup"
                  },
                  "description": "Updates an entry group. You must enable the Data Catalog API in the project identified by the `entry_group.name` parameter. For more information, see [Data Catalog resource project](https://cloud.google.com/data-catalog/docs/concepts/resource-project).",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudDatacatalogV1EntryGroup"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Identifier. The resource name of the entry group in URL format. Note: The entry group itself and its child resources might not be stored in the location specified in its name.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/entryGroups/[^/]+$"
                    },
                    "updateMask": {
                      "type": "string",
                      "description": "Names of fields whose values to overwrite on an entry group. If this parameter is absent or empty, all modifiable fields are overwritten. If such fields are non-required and omitted in the request body, their values are emptied.",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "deprecated": true,
                  "httpMethod": "PATCH"
                }
              },
              "resources": {
                "tags": {
                  "methods": {
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "datacatalog.projects.locations.entryGroups.tags.list",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/entryGroups/[^/]+$",
                          "required": true,
                          "description": "Required. The name of the Data Catalog resource to list the tags of. The resource can be an Entry or an EntryGroup (without `/entries/{entries}` at the end).",
                          "location": "path",
                          "type": "string"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Pagination token that specifies the next page to return. If empty, the first page is returned.",
                          "location": "query"
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "The maximum number of tags to return. Default is 10. Maximum limit is 1000.",
                          "location": "query",
                          "format": "int32"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "deprecated": true,
                      "httpMethod": "GET",
                      "path": "v1/{+parent}/tags",
                      "response": {
                        "$ref": "GoogleCloudDatacatalogV1ListTagsResponse"
                      },
                      "description": "Lists tags assigned to an Entry. The columns in the response are lowercased.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/entryGroups/{entryGroupsId}/tags"
                    },
                    "create": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "datacatalog.projects.locations.entryGroups.tags.create",
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "description": "Required. The name of the resource to attach this tag to. Tags can be attached to entries or entry groups. An entry can have up to 1000 attached tags. Note: The tag and its child resources might not be stored in the location specified in its name.",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/entryGroups/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "deprecated": true,
                      "response": {
                        "$ref": "GoogleCloudDatacatalogV1Tag"
                      },
                      "path": "v1/{+parent}/tags",
                      "description": "Creates a tag and assigns it to: * An Entry if the method name is `projects.locations.entryGroups.entries.tags.create`. * Or EntryGroupif the method name is `projects.locations.entryGroups.tags.create`. Note: The project identified by the `parent` parameter for the [tag] (https://cloud.google.com/data-catalog/docs/reference/rest/v1/projects.locations.entryGroups.entries.tags/create#path-parameters) and the [tag template] (https://cloud.google.com/data-catalog/docs/reference/rest/v1/projects.locations.tagTemplates/create#path-parameters) used to create the tag must be in the same organization.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/entryGroups/{entryGroupsId}/tags",
                      "request": {
                        "$ref": "GoogleCloudDatacatalogV1Tag"
                      }
                    },
                    "delete": {
                      "response": {
                        "$ref": "Empty"
                      },
                      "path": "v1/{+name}",
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "description": "Required. The name of the tag to delete.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/entryGroups/[^/]+/tags/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "deprecated": true,
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/entryGroups/{entryGroupsId}/tags/{tagsId}",
                      "description": "Deletes a tag.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "datacatalog.projects.locations.entryGroups.tags.delete"
                    },
                    "patch": {
                      "id": "datacatalog.projects.locations.entryGroups.tags.patch",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Updates an existing tag.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/entryGroups/{entryGroupsId}/tags/{tagsId}",
                      "request": {
                        "$ref": "GoogleCloudDatacatalogV1Tag"
                      },
                      "httpMethod": "PATCH",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/entryGroups/[^/]+/tags/[^/]+$",
                          "required": true,
                          "description": "Identifier. The resource name of the tag in URL format where tag ID is a system-generated identifier. Note: The tag itself might not be stored in the location specified in its name.",
                          "location": "path",
                          "type": "string"
                        },
                        "updateMask": {
                          "description": "Names of fields whose values to overwrite on a tag. Currently, a tag has the only modifiable field with the name `fields`. In general, if this parameter is absent or empty, all modifiable fields are overwritten. If such fields are non-required and omitted in the request body, their values are emptied.",
                          "location": "query",
                          "format": "google-fieldmask",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "deprecated": true,
                      "response": {
                        "$ref": "GoogleCloudDatacatalogV1Tag"
                      },
                      "path": "v1/{+name}"
                    }
                  },
                  "deprecated": true
                },
                "entries": {
                  "resources": {
                    "tags": {
                      "methods": {
                        "create": {
                          "path": "v1/{+parent}/tags",
                          "response": {
                            "$ref": "GoogleCloudDatacatalogV1Tag"
                          },
                          "parameters": {
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/entryGroups/[^/]+/entries/[^/]+$",
                              "type": "string",
                              "required": true,
                              "description": "Required. The name of the resource to attach this tag to. Tags can be attached to entries or entry groups. An entry can have up to 1000 attached tags. Note: The tag and its child resources might not be stored in the location specified in its name.",
                              "location": "path"
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "deprecated": true,
                          "httpMethod": "POST",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/entryGroups/{entryGroupsId}/entries/{entriesId}/tags",
                          "request": {
                            "$ref": "GoogleCloudDatacatalogV1Tag"
                          },
                          "description": "Creates a tag and assigns it to: * An Entry if the method name is `projects.locations.entryGroups.entries.tags.create`. * Or EntryGroupif the method name is `projects.locations.entryGroups.tags.create`. Note: The project identified by the `parent` parameter for the [tag] (https://cloud.google.com/data-catalog/docs/reference/rest/v1/projects.locations.entryGroups.entries.tags/create#path-parameters) and the [tag template] (https://cloud.google.com/data-catalog/docs/reference/rest/v1/projects.locations.tagTemplates/create#path-parameters) used to create the tag must be in the same organization.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "datacatalog.projects.locations.entryGroups.entries.tags.create"
                        },
                        "patch": {
                          "description": "Updates an existing tag.",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/entryGroups/{entryGroupsId}/entries/{entriesId}/tags/{tagsId}",
                          "request": {
                            "$ref": "GoogleCloudDatacatalogV1Tag"
                          },
                          "parameters": {
                            "name": {
                              "type": "string",
                              "required": true,
                              "description": "Identifier. The resource name of the tag in URL format where tag ID is a system-generated identifier. Note: The tag itself might not be stored in the location specified in its name.",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/entryGroups/[^/]+/entries/[^/]+/tags/[^/]+$"
                            },
                            "updateMask": {
                              "type": "string",
                              "format": "google-fieldmask",
                              "description": "Names of fields whose values to overwrite on a tag. Currently, a tag has the only modifiable field with the name `fields`. In general, if this parameter is absent or empty, all modifiable fields are overwritten. If such fields are non-required and omitted in the request body, their values are emptied.",
                              "location": "query"
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "deprecated": true,
                          "httpMethod": "PATCH",
                          "path": "v1/{+name}",
                          "response": {
                            "$ref": "GoogleCloudDatacatalogV1Tag"
                          },
                          "id": "datacatalog.projects.locations.entryGroups.entries.tags.patch",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        },
                        "delete": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "datacatalog.projects.locations.entryGroups.entries.tags.delete",
                          "httpMethod": "DELETE",
                          "parameters": {
                            "name": {
                              "type": "string",
                              "description": "Required. The name of the tag to delete.",
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/entryGroups/[^/]+/entries/[^/]+/tags/[^/]+$"
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "deprecated": true,
                          "response": {
                            "$ref": "Empty"
                          },
                          "path": "v1/{+name}",
                          "description": "Deletes a tag.",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/entryGroups/{entryGroupsId}/entries/{entriesId}/tags/{tagsId}"
                        },
                        "list": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "datacatalog.projects.locations.entryGroups.entries.tags.list",
                          "httpMethod": "GET",
                          "parameters": {
                            "parent": {
                              "type": "string",
                              "required": true,
                              "description": "Required. The name of the Data Catalog resource to list the tags of. The resource can be an Entry or an EntryGroup (without `/entries/{entries}` at the end).",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/entryGroups/[^/]+/entries/[^/]+$"
                            },
                            "pageToken": {
                              "description": "Pagination token that specifies the next page to return. If empty, the first page is returned.",
                              "location": "query",
                              "type": "string"
                            },
                            "pageSize": {
                              "type": "integer",
                              "description": "The maximum number of tags to return. Default is 10. Maximum limit is 1000.",
                              "location": "query",
                              "format": "int32"
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "deprecated": true,
                          "response": {
                            "$ref": "GoogleCloudDatacatalogV1ListTagsResponse"
                          },
                          "path": "v1/{+parent}/tags",
                          "description": "Lists tags assigned to an Entry. The columns in the response are lowercased.",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/entryGroups/{entryGroupsId}/entries/{entriesId}/tags"
                        },
                        "reconcile": {
                          "parameters": {
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/entryGroups/[^/]+/entries/[^/]+$",
                              "type": "string",
                              "description": "Required. Name of Entry to be tagged.",
                              "location": "path",
                              "required": true
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "deprecated": true,
                          "httpMethod": "POST",
                          "path": "v1/{+parent}/tags:reconcile",
                          "response": {
                            "$ref": "Operation"
                          },
                          "description": "`ReconcileTags` creates or updates a list of tags on the entry. If the ReconcileTagsRequest.force_delete_missing parameter is set, the operation deletes tags not included in the input tag list. `ReconcileTags` returns a long-running operation resource that can be queried with Operations.GetOperation to return ReconcileTagsMetadata and a ReconcileTagsResponse message. Note: SearchCatalog might return stale search results for up to 24 hours after the `ReconcileTags` operation completes.",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/entryGroups/{entryGroupsId}/entries/{entriesId}/tags:reconcile",
                          "request": {
                            "$ref": "GoogleCloudDatacatalogV1ReconcileTagsRequest"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "datacatalog.projects.locations.entryGroups.entries.tags.reconcile"
                        }
                      },
                      "deprecated": true
                    }
                  },
                  "methods": {
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "datacatalog.projects.locations.entryGroups.entries.get",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/entryGroups/[^/]+/entries/[^/]+$",
                          "description": "Required. The name of the entry to get.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "deprecated": true,
                      "httpMethod": "GET",
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "GoogleCloudDatacatalogV1Entry"
                      },
                      "description": "Gets an entry.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/entryGroups/{entryGroupsId}/entries/{entriesId}"
                    },
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "datacatalog.projects.locations.entryGroups.entries.list",
                      "httpMethod": "GET",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/entryGroups/[^/]+$",
                          "required": true,
                          "description": "Required. The name of the entry group that contains the entries to list. Can be provided in URL format.",
                          "location": "path",
                          "type": "string"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Pagination token that specifies the next page to return. If empty, the first page is returned.",
                          "location": "query"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The maximum number of items to return. Default is 10. Maximum limit is 1000. Throws an invalid argument if `page_size` is more than 1000.",
                          "location": "query"
                        },
                        "readMask": {
                          "type": "string",
                          "format": "google-fieldmask",
                          "description": "The fields to return for each entry. If empty or omitted, all fields are returned. For example, to return a list of entries with only the `name` field, set `read_mask` to only one path with the `name` value.",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "deprecated": true,
                      "response": {
                        "$ref": "GoogleCloudDatacatalogV1ListEntriesResponse"
                      },
                      "path": "v1/{+parent}/entries",
                      "description": "Lists entries. Note: Currently, this method can list only custom entries. To get a list of both custom and automatically created entries, use SearchCatalog.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/entryGroups/{entryGroupsId}/entries"
                    },
                    "import": {
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "description": "Required. Target entry group for ingested entries.",
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/entryGroups/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "deprecated": true,
                      "response": {
                        "$ref": "Operation"
                      },
                      "path": "v1/{+parent}/entries:import",
                      "description": "Imports entries from a source, such as data previously dumped into a Cloud Storage bucket, into Data Catalog. Import of entries is a sync operation that reconciles the state of the third-party system with the Data Catalog. `ImportEntries` accepts source data snapshots of a third-party system. Snapshot should be delivered as a .wire or base65-encoded .txt file containing a sequence of Protocol Buffer messages of DumpItem type. `ImportEntries` returns a long-running operation resource that can be queried with Operations.GetOperation to return ImportEntriesMetadata and an ImportEntriesResponse message.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/entryGroups/{entryGroupsId}/entries:import",
                      "request": {
                        "$ref": "GoogleCloudDatacatalogV1ImportEntriesRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "datacatalog.projects.locations.entryGroups.entries.import"
                    },
                    "unstar": {
                      "id": "datacatalog.projects.locations.entryGroups.entries.unstar",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/entryGroups/{entryGroupsId}/entries/{entriesId}:unstar",
                      "request": {
                        "$ref": "GoogleCloudDatacatalogV1UnstarEntryRequest"
                      },
                      "description": "Marks an Entry as NOT starred by the current user. Starring information is private to each user.",
                      "path": "v1/{+name}:unstar",
                      "response": {
                        "$ref": "GoogleCloudDatacatalogV1UnstarEntryResponse"
                      },
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/entryGroups/[^/]+/entries/[^/]+$",
                          "required": true,
                          "description": "Required. The name of the entry to mark as **not** starred.",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "deprecated": true,
                      "httpMethod": "POST"
                    },
                    "getIamPolicy": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/entryGroups/{entryGroupsId}/entries/{entriesId}:getIamPolicy",
                      "request": {
                        "$ref": "GetIamPolicyRequest"
                      },
                      "description": "Gets the access control policy for a resource. May return: * A`NOT_FOUND` error if the resource doesn't exist or you don't have the permission to view it. * An empty policy if the resource exists but doesn't have a set policy. Supported resources are: - Tag templates - Entry groups Note: This method doesn't get policies from Google Cloud Platform resources ingested into Data Catalog. To call this method, you must have the following Google IAM permissions: - `datacatalog.tagTemplates.getIamPolicy` to get policies on tag templates. - `datacatalog.entryGroups.getIamPolicy` to get policies on entry groups.",
                      "path": "v1/{+resource}:getIamPolicy",
                      "response": {
                        "$ref": "Policy"
                      },
                      "parameters": {
                        "resource": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/entryGroups/[^/]+/entries/[^/]+$",
                          "type": "string",
                          "required": true,
                          "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "resource"
                      ],
                      "deprecated": true,
                      "httpMethod": "POST",
                      "id": "datacatalog.projects.locations.entryGroups.entries.getIamPolicy",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "testIamPermissions": {
                      "httpMethod": "POST",
                      "parameters": {
                        "resource": {
                          "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/entryGroups/[^/]+/entries/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "resource"
                      ],
                      "deprecated": true,
                      "response": {
                        "$ref": "TestIamPermissionsResponse"
                      },
                      "path": "v1/{+resource}:testIamPermissions",
                      "description": "Gets your permissions on a resource. Returns an empty set of permissions if the resource doesn't exist. Supported resources are: - Tag templates - Entry groups Note: This method gets policies only within Data Catalog and can't be used to get policies from BigQuery, Pub/Sub, Dataproc Metastore, and any external Google Cloud Platform resources ingested into Data Catalog. No Google IAM permissions are required to call this method.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/entryGroups/{entryGroupsId}/entries/{entriesId}:testIamPermissions",
                      "request": {
                        "$ref": "TestIamPermissionsRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "datacatalog.projects.locations.entryGroups.entries.testIamPermissions"
                    },
                    "delete": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "datacatalog.projects.locations.entryGroups.entries.delete",
                      "response": {
                        "$ref": "Empty"
                      },
                      "path": "v1/{+name}",
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. The name of the entry to delete.",
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/entryGroups/[^/]+/entries/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "deprecated": true,
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/entryGroups/{entryGroupsId}/entries/{entriesId}",
                      "description": "Deletes an existing entry. You can delete only the entries created by the CreateEntry method. You must enable the Data Catalog API in the project identified by the `name` parameter. For more information, see [Data Catalog resource project](https://cloud.google.com/data-catalog/docs/concepts/resource-project)."
                    },
                    "patch": {
                      "id": "datacatalog.projects.locations.entryGroups.entries.patch",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/entryGroups/{entryGroupsId}/entries/{entriesId}",
                      "request": {
                        "$ref": "GoogleCloudDatacatalogV1Entry"
                      },
                      "description": "Updates an existing entry. You must enable the Data Catalog API in the project identified by the `entry.name` parameter. For more information, see [Data Catalog resource project](https://cloud.google.com/data-catalog/docs/concepts/resource-project).",
                      "response": {
                        "$ref": "GoogleCloudDatacatalogV1Entry"
                      },
                      "path": "v1/{+name}",
                      "httpMethod": "PATCH",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "description": "Output only. Identifier. The resource name of an entry in URL format. Note: The entry itself and its child resources might not be stored in the location specified in its name.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/entryGroups/[^/]+/entries/[^/]+$"
                        },
                        "updateMask": {
                          "type": "string",
                          "description": "Names of fields whose values to overwrite on an entry. If this parameter is absent or empty, all modifiable fields are overwritten. If such fields are non-required and omitted in the request body, their values are emptied. You can modify only the fields listed below. For entries with type `DATA_STREAM`: * `schema` For entries with type `FILESET`: * `schema` * `display_name` * `description` * `gcs_fileset_spec` * `gcs_fileset_spec.file_patterns` For entries with `user_specified_type`: * `schema` * `display_name` * `description` * `user_specified_type` * `user_specified_system` * `linked_resource` * `source_system_timestamps`",
                          "location": "query",
                          "format": "google-fieldmask"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "deprecated": true
                    },
                    "star": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/entryGroups/{entryGroupsId}/entries/{entriesId}:star",
                      "request": {
                        "$ref": "GoogleCloudDatacatalogV1StarEntryRequest"
                      },
                      "description": "Marks an Entry as starred by the current user. Starring information is private to each user.",
                      "response": {
                        "$ref": "GoogleCloudDatacatalogV1StarEntryResponse"
                      },
                      "path": "v1/{+name}:star",
                      "httpMethod": "POST",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/entryGroups/[^/]+/entries/[^/]+$",
                          "description": "Required. The name of the entry to mark as starred.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "deprecated": true,
                      "id": "datacatalog.projects.locations.entryGroups.entries.star",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "create": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/entryGroups/{entryGroupsId}/entries",
                      "request": {
                        "$ref": "GoogleCloudDatacatalogV1Entry"
                      },
                      "description": "Creates an entry. You can create entries only with 'FILESET', 'CLUSTER', 'DATA_STREAM', or custom types. Data Catalog automatically creates entries with other types during metadata ingestion from integrated systems. You must enable the Data Catalog API in the project identified by the `parent` parameter. For more information, see [Data Catalog resource project](https://cloud.google.com/data-catalog/docs/concepts/resource-project). An entry group can have a maximum of 100,000 entries.",
                      "response": {
                        "$ref": "GoogleCloudDatacatalogV1Entry"
                      },
                      "path": "v1/{+parent}/entries",
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/entryGroups/[^/]+$",
                          "required": true,
                          "description": "Required. The name of the entry group this entry belongs to. Note: The entry itself and its child resources might not be stored in the location specified in its name.",
                          "location": "path",
                          "type": "string"
                        },
                        "entryId": {
                          "description": "Required. The ID of the entry to create. The ID must contain only letters (a-z, A-Z), numbers (0-9), and underscores (_). The maximum size is 64 bytes when encoded in UTF-8.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "deprecated": true,
                      "id": "datacatalog.projects.locations.entryGroups.entries.create",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "modifyEntryOverview": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/entryGroups/{entryGroupsId}/entries/{entriesId}:modifyEntryOverview",
                      "request": {
                        "$ref": "GoogleCloudDatacatalogV1ModifyEntryOverviewRequest"
                      },
                      "description": "Modifies entry overview, part of the business context of an Entry. To call this method, you must have the `datacatalog.entries.updateOverview` IAM permission on the corresponding project.",
                      "path": "v1/{+name}:modifyEntryOverview",
                      "response": {
                        "$ref": "GoogleCloudDatacatalogV1EntryOverview"
                      },
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "description": "Required. The full resource name of the entry.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/entryGroups/[^/]+/entries/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "deprecated": true,
                      "httpMethod": "POST",
                      "id": "datacatalog.projects.locations.entryGroups.entries.modifyEntryOverview",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "modifyEntryContacts": {
                      "response": {
                        "$ref": "GoogleCloudDatacatalogV1Contacts"
                      },
                      "path": "v1/{+name}:modifyEntryContacts",
                      "httpMethod": "POST",
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. The full resource name of the entry.",
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/entryGroups/[^/]+/entries/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "deprecated": true,
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/entryGroups/{entryGroupsId}/entries/{entriesId}:modifyEntryContacts",
                      "request": {
                        "$ref": "GoogleCloudDatacatalogV1ModifyEntryContactsRequest"
                      },
                      "description": "Modifies contacts, part of the business context of an Entry. To call this method, you must have the `datacatalog.entries.updateContacts` IAM permission on the corresponding project.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "datacatalog.projects.locations.entryGroups.entries.modifyEntryContacts"
                    }
                  }
                }
              }
            },
            "taxonomies": {
              "methods": {
                "testIamPermissions": {
                  "id": "datacatalog.projects.locations.taxonomies.testIamPermissions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/taxonomies/{taxonomiesId}:testIamPermissions",
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "description": "Returns your permissions on a specified policy tag or taxonomy.",
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "path": "v1/{+resource}:testIamPermissions",
                  "httpMethod": "POST",
                  "parameters": {
                    "resource": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/taxonomies/[^/]+$",
                      "type": "string",
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "resource"
                  ]
                },
                "delete": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/taxonomies/{taxonomiesId}",
                  "description": "Deletes a taxonomy, including all policy tags in this taxonomy, their associated policies, and the policy tags references from BigQuery columns.",
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/taxonomies/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. Resource name of the taxonomy to delete. Note: All policy tags in this taxonomy are also deleted.",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "datacatalog.projects.locations.taxonomies.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "patch": {
                  "description": "Updates a taxonomy, including its display name, description, and activated policy types.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/taxonomies/{taxonomiesId}",
                  "request": {
                    "$ref": "GoogleCloudDatacatalogV1Taxonomy"
                  },
                  "parameters": {
                    "updateMask": {
                      "type": "string",
                      "description": "Specifies fields to update. If not set, defaults to all fields you can update. For more information, see [FieldMask] (https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask).",
                      "location": "query",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "description": "Identifier. Resource name of this taxonomy in URL format. Note: Policy tag manager generates unique taxonomy IDs.",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/taxonomies/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudDatacatalogV1Taxonomy"
                  },
                  "id": "datacatalog.projects.locations.taxonomies.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "replace": {
                  "response": {
                    "$ref": "GoogleCloudDatacatalogV1Taxonomy"
                  },
                  "path": "v1/{+name}:replace",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. Resource name of the taxonomy to update.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/taxonomies/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/taxonomies/{taxonomiesId}:replace",
                  "request": {
                    "$ref": "GoogleCloudDatacatalogV1ReplaceTaxonomyRequest"
                  },
                  "description": "Replaces (updates) a taxonomy and all its policy tags. The taxonomy and its entire hierarchy of policy tags must be represented literally by `SerializedTaxonomy` and the nested `SerializedPolicyTag` messages. This operation automatically does the following: - Deletes the existing policy tags that are missing from the `SerializedPolicyTag`. - Creates policy tags that don't have resource names. They are considered new. - Updates policy tags with valid resources names accordingly.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "datacatalog.projects.locations.taxonomies.replace"
                },
                "create": {
                  "response": {
                    "$ref": "GoogleCloudDatacatalogV1Taxonomy"
                  },
                  "path": "v1/{+parent}/taxonomies",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. Resource name of the project that the taxonomy will belong to.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/taxonomies",
                  "request": {
                    "$ref": "GoogleCloudDatacatalogV1Taxonomy"
                  },
                  "description": "Creates a taxonomy in a specified project. The taxonomy is initially empty, that is, it doesn't contain policy tags.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "datacatalog.projects.locations.taxonomies.create"
                },
                "setIamPolicy": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/taxonomies/{taxonomiesId}:setIamPolicy",
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "description": "Sets the IAM policy for a policy tag or a taxonomy.",
                  "path": "v1/{+resource}:setIamPolicy",
                  "response": {
[...]
