{
  "discoveryVersion": "v1",
  "name": "datastream",
  "batchPath": "batch",
  "endpoints": [
    {
      "endpointUrl": "https://datastream.africa-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "africa-south1"
    },
    {
      "endpointUrl": "https://datastream.asia-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-east1"
    },
    {
      "location": "asia-east2",
      "endpointUrl": "https://datastream.asia-east2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datastream.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast1"
    },
    {
      "location": "asia-northeast2",
      "endpointUrl": "https://datastream.asia-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast3",
      "endpointUrl": "https://datastream.asia-northeast3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datastream.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south1"
    },
    {
      "location": "asia-south2",
      "endpointUrl": "https://datastream.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datastream.asia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast1"
    },
    {
      "location": "asia-southeast2",
      "endpointUrl": "https://datastream.asia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datastream.asia-southeast3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast3"
    },
    {
      "endpointUrl": "https://datastream.australia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "australia-southeast1"
    },
    {
      "location": "australia-southeast2",
      "endpointUrl": "https://datastream.australia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datastream.europe-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-central2"
    },
    {
      "endpointUrl": "https://datastream.europe-north1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-north1"
    },
    {
      "endpointUrl": "https://datastream.europe-north2.rep.googleapis.com/",
      "location": "europe-north2",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-southwest1",
      "endpointUrl": "https://datastream.europe-southwest1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west1",
      "endpointUrl": "https://datastream.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datastream.europe-west10.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west10"
    },
    {
      "location": "europe-west12",
      "endpointUrl": "https://datastream.europe-west12.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west15",
      "endpointUrl": "https://datastream.europe-west15.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west2",
      "endpointUrl": "https://datastream.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west3",
      "endpointUrl": "https://datastream.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datastream.europe-west4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west4"
    },
    {
      "endpointUrl": "https://datastream.europe-west6.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west6"
    },
    {
      "endpointUrl": "https://datastream.europe-west8.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west8"
    },
    {
      "endpointUrl": "https://datastream.europe-west9.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west9"
    },
    {
      "endpointUrl": "https://datastream.me-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-central1"
    },
    {
      "location": "me-central2",
      "endpointUrl": "https://datastream.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "me-west1",
      "endpointUrl": "https://datastream.me-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datastream.northamerica-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-northeast1"
    },
    {
      "location": "northamerica-northeast2",
      "endpointUrl": "https://datastream.northamerica-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "northamerica-south1",
      "endpointUrl": "https://datastream.northamerica-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "southamerica-east1",
      "endpointUrl": "https://datastream.southamerica-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datastream.southamerica-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "southamerica-west1"
    },
    {
      "location": "us-central1",
      "endpointUrl": "https://datastream.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datastream.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east1"
    },
    {
      "location": "us-east4",
      "endpointUrl": "https://datastream.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datastream.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east5"
    },
    {
      "endpointUrl": "https://datastream.us-east7.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east7"
    },
    {
      "location": "us-south1",
      "endpointUrl": "https://datastream.us-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west1",
      "endpointUrl": "https://datastream.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west2",
      "endpointUrl": "https://datastream.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datastream.us-west3.rep.googleapis.com/",
      "location": "us-west3",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datastream.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west4"
    }
  ],
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version": "v1",
  "description": "",
  "id": "datastream:v1",
  "revision": "20260902",
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "Datastream",
  "parameters": {
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "alt": {
      "type": "string",
      "default": "json",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    }
  },
  "version_module": true,
  "title": "Datastream API",
  "ownerName": "Google",
  "servicePath": "",
  "documentationLink": "https://cloud.google.com/datastream/",
  "rootUrl": "https://datastream.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "mtlsRootUrl": "https://datastream.mtls.googleapis.com/",
  "basePath": "",
  "kind": "discovery#restDescription",
  "schemas": {
    "StaticServiceIpConnectivity": {
      "description": "Static IP address connectivity. Used when the source database is configured to allow incoming connections from the Datastream public IP addresses for the region specified in the connection profile.",
      "properties": {},
      "id": "StaticServiceIpConnectivity",
      "type": "object"
    },
    "Oauth2ClientCredentials": {
      "type": "object",
      "id": "Oauth2ClientCredentials",
      "description": "OAuth2 Client Credentials.",
      "properties": {
        "secretManagerStoredClientSecret": {
          "description": "Optional. A reference to a Secret Manager resource name storing the Salesforce OAuth2 client_secret. Mutually exclusive with the `client_secret` field.",
          "type": "string"
        },
        "clientId": {
          "type": "string",
          "description": "Required. Client ID for Salesforce OAuth2 Client Credentials."
        },
        "clientSecret": {
          "type": "string",
          "description": "Optional. Client secret for Salesforce OAuth2 Client Credentials. Mutually exclusive with the `secret_manager_stored_client_secret` field."
        }
      }
    },
    "DiscoverConnectionProfileResponse": {
      "type": "object",
      "properties": {
        "sourceCatalog": {
          "$ref": "SourceCatalog",
          "description": "Enriched source catalog. This is mainly used to represent SaaS sources databases."
        },
        "mongodbCluster": {
          "$ref": "MongodbCluster",
          "description": "Enriched MongoDB cluster."
        },
        "spannerDatabase": {
          "$ref": "SpannerDatabase",
          "description": "Enriched Spanner database."
        },
        "sqlServerRdbms": {
          "description": "Enriched SQLServer RDBMS object.",
          "$ref": "SqlServerRdbms"
        },
        "salesforceOrg": {
          "$ref": "SalesforceOrg",
          "description": "Enriched Salesforce organization."
        },
        "oracleRdbms": {
          "$ref": "OracleRdbms",
          "description": "Enriched Oracle RDBMS object."
        },
        "mysqlRdbms": {
          "$ref": "MysqlRdbms",
          "description": "Enriched MySQL RDBMS object."
        },
        "postgresqlRdbms": {
          "description": "Enriched PostgreSQL RDBMS object.",
          "$ref": "PostgresqlRdbms"
        }
      },
      "id": "DiscoverConnectionProfileResponse",
      "description": "Response from a discover request."
    },
    "MongodbCollection": {
      "type": "object",
      "properties": {
        "fields": {
          "items": {
            "$ref": "MongodbField"
          },
          "type": "array",
          "description": "Fields in the collection."
        },
        "collection": {
          "description": "The collection name.",
          "type": "string"
        }
      },
      "id": "MongodbCollection",
      "description": "MongoDB Collection."
    },
    "ValidationResult": {
      "description": "Contains the current validation results.",
      "type": "object",
      "properties": {
        "validations": {
          "type": "array",
          "items": {
            "$ref": "Validation"
          },
          "description": "A list of validations (includes both executed as well as not executed validations)."
        }
      },
      "id": "ValidationResult"
    },
    "StartBackfillJobRequest": {
      "type": "object",
      "description": "Request for manually initiating a backfill job for a specific stream object.",
      "properties": {
        "eventFilter": {
          "description": "Optional. Optional event filter. If not set, or empty, the backfill will be performed on the entire object. This is currently used for partial backfill and only supported for SQL sources.",
          "$ref": "EventFilter"
        }
      },
      "id": "StartBackfillJobRequest"
    },
    "NextAvailableStartPosition": {
      "description": "CDC strategy to resume replication from the next available position in the source.",
      "properties": {},
      "id": "NextAvailableStartPosition",
      "type": "object"
    },
    "StopBackfillJobRequest": {
      "description": "Request for manually stopping a running backfill job for a specific stream object.",
      "id": "StopBackfillJobRequest",
      "properties": {},
      "type": "object"
    },
    "ListConnectionProfilesResponse": {
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "connectionProfiles": {
          "description": "List of connection profiles.",
          "items": {
            "$ref": "ConnectionProfile"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for listing connection profiles.",
      "id": "ListConnectionProfilesResponse"
    },
    "MongodbSslConfig": {
      "id": "MongodbSslConfig",
      "properties": {
        "secretManagerStoredClientKey": {
          "type": "string",
          "description": "Optional. Input only. A reference to a Secret Manager resource name storing the PEM-encoded private key associated with the Client Certificate. If this field is used then the 'client_certificate' and the 'ca_certificate' fields are mandatory. Mutually exclusive with the `client_key` field."
        },
        "clientCertificate": {
          "description": "Optional. Input only. PEM-encoded certificate that will be used by the replica to authenticate against the source database server. If this field is used then the 'client_key' and the 'ca_certificate' fields are mandatory.",
          "type": "string"
        },
        "clientCertificateSet": {
          "type": "boolean",
          "description": "Output only. Indicates whether the client_certificate field is set.",
          "readOnly": true
        },
        "caCertificate": {
          "description": "Optional. Input only. PEM-encoded certificate of the CA that signed the source database server's certificate.",
          "type": "string"
        },
        "clientKey": {
          "description": "Optional. Input only. PEM-encoded private key associated with the Client Certificate. If this field is used then the 'client_certificate' and the 'ca_certificate' fields are mandatory.",
          "type": "string"
        },
        "caCertificateSet": {
          "description": "Output only. Indicates whether the ca_certificate field is set.",
          "readOnly": true,
          "type": "boolean"
        },
        "clientKeySet": {
          "description": "Output only. Indicates whether the client_key field is set.",
          "type": "boolean",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "MongoDB SSL configuration information."
    },
    "ServiceNowProfile": {
      "id": "ServiceNowProfile",
      "properties": {
        "instance": {
          "description": "Required. The instance of the ServiceNow account. This is the `` part of the URL `https://.service-now.com`.",
          "type": "string"
        },
        "oauthClientCredentials": {
          "description": "Credentials for authenticating with the ServiceNow API.",
          "$ref": "OauthClientCredentials"
        },
        "userPasswordCredentials": {
          "$ref": "UserPasswordCredentials",
          "description": "User-password authentication."
        }
      },
      "type": "object",
      "description": "Profile for connecting to a ServiceNow source."
    },
    "BlmtConfig": {
      "id": "BlmtConfig",
      "properties": {
        "tableFormat": {
          "description": "Required. The table format.",
          "enum": [
            "TABLE_FORMAT_UNSPECIFIED",
            "ICEBERG"
          ],
          "enumDescriptions": [
            "Default value.",
            "Iceberg table format."
          ],
          "type": "string"
        },
        "fileFormat": {
          "enum": [
            "FILE_FORMAT_UNSPECIFIED",
            "PARQUET"
          ],
          "enumDescriptions": [
            "Default value.",
            "Parquet file format."
          ],
          "type": "string",
          "description": "Required. The file format."
        },
        "rootPath": {
          "description": "The root path inside the Cloud Storage bucket.",
          "type": "string"
        },
        "connectionName": {
          "description": "Required. The bigquery connection. Format: `{project}.{location}.{name}`",
          "type": "string"
        },
        "bucket": {
          "type": "string",
          "description": "Required. The Cloud Storage bucket name."
        }
      },
      "type": "object",
      "description": "The configuration for BLMT."
    },
    "UserCredentials": {
      "type": "object",
      "description": "Deprecated: Salesforce is retiring Username-Password authentication. Use `Oauth2ClientCredentials` instead.",
      "deprecated": true,
      "properties": {
        "secretManagerStoredPassword": {
          "description": "Optional. A reference to a Secret Manager resource name storing the Salesforce connection's password. Mutually exclusive with the `password` field.",
          "type": "string"
        },
        "password": {
          "description": "Optional. Password for the Salesforce connection. Mutually exclusive with the `secret_manager_stored_password` field.",
          "type": "string"
        },
        "securityToken": {
          "description": "Optional. Security token for the Salesforce connection. Mutually exclusive with the `secret_manager_stored_security_token` field.",
          "type": "string"
        },
        "secretManagerStoredSecurityToken": {
          "type": "string",
          "description": "Optional. A reference to a Secret Manager resource name storing the Salesforce connection's security token. Mutually exclusive with the `security_token` field."
        },
        "username": {
          "description": "Required. Username for the Salesforce connection.",
          "type": "string"
        }
      },
      "id": "UserCredentials"
    },
    "TimeUnitPartition": {
      "description": "Time unit column partitioning. see https://cloud.google.com/bigquery/docs/partitioned-tables#date_timestamp_partitioned_tables",
      "type": "object",
      "id": "TimeUnitPartition",
      "properties": {
        "column": {
          "description": "Required. The partitioning column.",
          "type": "string"
        },
        "partitioningTimeGranularity": {
          "description": "Optional. Partition granularity.",
          "type": "string",
          "enum": [
            "PARTITIONING_TIME_GRANULARITY_UNSPECIFIED",
            "PARTITIONING_TIME_GRANULARITY_HOUR",
            "PARTITIONING_TIME_GRANULARITY_DAY",
            "PARTITIONING_TIME_GRANULARITY_MONTH",
            "PARTITIONING_TIME_GRANULARITY_YEAR"
          ],
          "enumDescriptions": [
            "Unspecified partitioing interval.",
            "Hourly partitioning.",
            "Daily partitioning.",
            "Monthly partitioning.",
            "Yearly partitioning."
          ]
        }
      }
    },
    "HostAddress": {
      "description": "A HostAddress represents a transport end point, which is the combination of an IP address or hostname and a port number.",
      "properties": {
        "hostname": {
          "description": "Required. Hostname for the connection.",
          "type": "string"
        },
        "port": {
          "description": "Optional. Port for the connection.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "HostAddress",
      "type": "object"
    },
    "OracleSourceConfig": {
      "type": "object",
      "description": "Configuration for syncing data from an Oracle source.",
      "properties": {
        "dropLargeObjects": {
          "$ref": "DropLargeObjects",
          "description": "Drop large object values."
        },
        "logMiner": {
          "$ref": "LogMiner",
          "description": "Use LogMiner."
        },
        "excludeObjects": {
          "$ref": "OracleRdbms",
          "description": "The Oracle objects to exclude from the stream."
        },
        "streamLargeObjects": {
          "description": "Stream large object values.",
          "$ref": "StreamLargeObjects"
        },
        "maxConcurrentCdcTasks": {
          "description": "Maximum number of concurrent CDC tasks. The number should be non-negative. If not set (or set to 0), the system's default value is used.",
          "format": "int32",
          "type": "integer"
        },
        "maxConcurrentBackfillTasks": {
          "description": "Maximum number of concurrent backfill tasks. The number should be non-negative. If not set (or set to 0), the system's default value is used.",
          "type": "integer",
          "format": "int32"
        },
        "includeObjects": {
          "$ref": "OracleRdbms",
          "description": "The Oracle objects to include in the stream."
        },
        "binaryLogParser": {
          "description": "Use Binary Log Parser.",
          "$ref": "BinaryLogParser"
        }
      },
      "id": "OracleSourceConfig"
    },
    "IngestionTimePartition": {
      "type": "object",
      "description": "Ingestion time partitioning. see https://cloud.google.com/bigquery/docs/partitioned-tables#ingestion_time",
      "id": "IngestionTimePartition",
      "properties": {
        "partitioningTimeGranularity": {
          "enum": [
            "PARTITIONING_TIME_GRANULARITY_UNSPECIFIED",
            "PARTITIONING_TIME_GRANULARITY_HOUR",
            "PARTITIONING_TIME_GRANULARITY_DAY",
            "PARTITIONING_TIME_GRANULARITY_MONTH",
            "PARTITIONING_TIME_GRANULARITY_YEAR"
          ],
          "enumDescriptions": [
            "Unspecified partitioing interval.",
            "Hourly partitioning.",
            "Daily partitioning.",
            "Monthly partitioning.",
            "Yearly partitioning."
          ],
          "type": "string",
          "description": "Optional. Partition granularity"
        }
      }
    },
    "SqlServerProfile": {
      "id": "SqlServerProfile",
      "properties": {
        "username": {
          "type": "string",
          "description": "Required. Username for the SQLServer connection."
        },
        "sslConfig": {
          "$ref": "SqlServerSslConfig",
          "description": "Optional. SSL configuration for the SQLServer connection."
        },
        "secretManagerStoredPassword": {
          "description": "Optional. A reference to a Secret Manager resource name storing the SQLServer connection password. Mutually exclusive with the `password` field.",
          "type": "string"
        },
        "port": {
          "type": "integer",
          "description": "Port for the SQLServer connection, default value is 1433.",
          "format": "int32"
        },
        "hostname": {
          "type": "string",
          "description": "Required. Hostname for the SQLServer connection."
        },
        "password": {
          "description": "Optional. Password for the SQLServer connection. Mutually exclusive with the `secret_manager_stored_password` field.",
          "type": "string"
        },
        "database": {
          "description": "Required. Database for the SQLServer connection.",
          "type": "string"
        }
      },
      "description": "Profile for connecting to a SQLServer source.",
      "type": "object"
    },
    "EventFilter": {
      "properties": {
        "sqlWhereClause": {
          "type": "string",
          "description": "An SQL-query Where clause selecting which data should be included, not including the \"WHERE\" keyword. e.g., `t.key1 = 'value1' AND t.key2 = 'value2'`"
        }
      },
      "type": "object",
      "id": "EventFilter",
      "description": "Represents a filter for included data on a stream object."
    },
    "SourceObjectIdentifier": {
      "properties": {
        "spannerIdentifier": {
          "description": "Spanner data source object identifier.",
          "$ref": "SpannerObjectIdentifier"
        },
        "sqlServerIdentifier": {
          "$ref": "SqlServerObjectIdentifier",
          "description": "SQLServer data source object identifier."
        },
        "salesforceIdentifier": {
          "$ref": "SalesforceObjectIdentifier",
          "description": "Salesforce data source object identifier."
        },
        "mysqlIdentifier": {
          "$ref": "MysqlObjectIdentifier",
          "description": "Mysql data source object identifier."
        },
        "oracleIdentifier": {
          "$ref": "OracleObjectIdentifier",
          "description": "Oracle data source object identifier."
        },
        "postgresqlIdentifier": {
          "$ref": "PostgresqlObjectIdentifier",
          "description": "PostgreSQL data source object identifier."
        },
        "mongodbIdentifier": {
          "description": "MongoDB data source object identifier.",
          "$ref": "MongodbObjectIdentifier"
        }
      },
      "id": "SourceObjectIdentifier",
      "description": "Represents an identifier of an object in the data source.",
      "type": "object"
    },
    "OracleColumn": {
      "id": "OracleColumn",
      "properties": {
        "encoding": {
          "type": "string",
          "description": "Column encoding."
        },
        "column": {
          "description": "The column name.",
          "type": "string"
        },
        "nullable": {
          "description": "Whether or not the column can accept a null value.",
          "type": "boolean"
        },
        "length": {
          "format": "int32",
          "type": "integer",
          "description": "Column length."
        },
        "scale": {
          "format": "int32",
          "type": "integer",
          "description": "Column scale."
        },
        "dataType": {
          "description": "The Oracle data type.",
          "type": "string"
        },
        "primaryKey": {
          "description": "Whether or not the column represents a primary key.",
          "type": "boolean"
        },
        "precision": {
          "description": "Column precision.",
          "type": "integer",
          "format": "int32"
        },
        "ordinalPosition": {
          "format": "int32",
          "description": "The ordinal position of the column in the table.",
          "type": "integer"
        }
      },
      "description": "Oracle Column.",
      "type": "object"
    },
    "SpannerSchema": {
      "description": "Spanner schema.",
      "type": "object",
      "properties": {
        "schema": {
          "description": "Required. The schema name.",
          "type": "string"
        },
        "tables": {
          "items": {
            "$ref": "SpannerTable"
          },
          "description": "Optional. Spanner tables in the schema.",
          "type": "array"
        }
      },
      "id": "SpannerSchema"
    },
    "SalesforceField": {
      "description": "Salesforce field.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The field name."
        },
        "nillable": {
          "description": "Indicates whether the field can accept nil values.",
          "type": "boolean"
        },
        "dataType": {
          "type": "string",
          "description": "The data type."
        }
      },
      "id": "SalesforceField",
      "type": "object"
    },
    "MongodbSourceConfig": {
      "properties": {
        "excludeObjects": {
          "description": "The MongoDB collections to exclude from the stream.",
          "$ref": "MongodbCluster"
        },
        "jsonMode": {
          "type": "string",
          "description": "Optional. MongoDB JSON mode to use for the stream.",
          "enumDescriptions": [
            "Unspecified JSON mode.",
            "Strict JSON mode.",
            "Canonical JSON mode."
          ],
          "enum": [
            "MONGODB_JSON_MODE_UNSPECIFIED",
            "STRICT",
            "CANONICAL"
          ]
        },
        "includeObjects": {
          "$ref": "MongodbCluster",
          "description": "The MongoDB collections to include in the stream."
        },
        "maxConcurrentBackfillTasks": {
          "description": "Optional. Maximum number of concurrent backfill tasks. The number should be non-negative and less than or equal to 50. If not set (or set to 0), the system's default value is used",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Configuration for syncing data from a MongoDB source.",
      "id": "MongodbSourceConfig",
      "type": "object"
    },
    "MongodbProfile": {
      "type": "object",
      "id": "MongodbProfile",
      "description": "Profile for connecting to a MongoDB source.",
      "properties": {
        "replicaSet": {
          "type": "string",
          "description": "Optional. Name of the replica set. Only needed for self hosted replica set type MongoDB cluster. For SRV connection format, this field must be empty. For Standard connection format, this field must be specified."
        },
        "standardConnectionFormat": {
          "$ref": "StandardConnectionFormat",
          "description": "Standard connection format."
        },
        "sslConfig": {
          "description": "Optional. SSL configuration for the MongoDB connection.",
          "$ref": "MongodbSslConfig"
        },
        "password": {
          "type": "string",
          "description": "Optional. Password for the MongoDB connection. Mutually exclusive with the `secret_manager_stored_password` field."
        },
        "secretManagerStoredPassword": {
          "description": "Optional. A reference to a Secret Manager resource name storing the SQLServer connection password. Mutually exclusive with the `password` field.",
          "type": "string"
        },
        "username": {
          "description": "Required. Username for the MongoDB connection.",
          "type": "string"
        },
        "additionalOptions": {
          "description": "Optional. Specifies additional options for the MongoDB connection. The options should be sent as key-value pairs, for example: `additional_options = {\"serverSelectionTimeoutMS\": \"10000\", \"directConnection\": \"true\"}`. Keys are case-sensitive and should match the official MongoDB connection string options: https://www.mongodb.com/docs/manual/reference/connection-string-options/ The server will not modify the values provided by the user.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "srvConnectionFormat": {
          "$ref": "SrvConnectionFormat",
          "description": "Srv connection format."
        },
        "hostAddresses": {
          "description": "Required. List of host addresses for a MongoDB cluster. For SRV connection format, this list must contain exactly one DNS host without a port. For Standard connection format, this list must contain all the required hosts in the cluster with their respective ports.",
          "type": "array",
          "items": {
            "$ref": "HostAddress"
          }
        }
      }
    },
    "SourceHierarchyDatasets": {
      "description": "Destination datasets are created so that hierarchy of the destination data objects matches the source hierarchy.",
      "id": "SourceHierarchyDatasets",
      "properties": {
        "datasetTemplate": {
          "$ref": "DatasetTemplate",
          "description": "The dataset template to use for dynamic dataset creation."
        },
        "projectId": {
          "description": "Optional. The project id of the BigQuery dataset. If not specified, the project will be inferred from the stream resource.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SourceCatalog": {
      "properties": {
        "objects": {
          "items": {
            "$ref": "SourceObject"
          },
          "type": "array",
          "description": "Optional. Source objects in the catalog."
        }
      },
      "description": "Source catalog.",
      "type": "object",
      "id": "SourceCatalog"
    },
    "BigQueryClustering": {
      "id": "BigQueryClustering",
      "properties": {
        "columns": {
          "items": {
            "type": "string"
          },
          "description": "Required. Column names to set as clustering columns.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "BigQuery clustering configuration."
    },
    "SalesforceMarketingCloudProfile": {
      "type": "object",
      "properties": {
        "oauthClientCredentials": {
          "$ref": "OauthClientCredentials",
          "description": "Required. Input only. Credentials for authenticating with the Salesforce Marketing Cloud API."
        },
        "subdomain": {
          "description": "Required. Subdomain for the Salesforce Marketing Cloud connection. Example: if your specific endpoint is `https://{your-specific-subdomain}.rest.marketingcloudapis.com/`, the subdomain is `{your-specific-subdomain}`. Must be 1-63 characters, start and end with an alphanumeric character, and contain only lowercase letters, numbers, and hyphens (-).",
          "type": "string"
        }
      },
      "id": "SalesforceMarketingCloudProfile",
      "description": "Profile for connecting to a Salesforce Marketing Cloud source."
    },
    "LocalizedMessage": {
      "description": "Provides a localized error message that is safe to return to the user which can be attached to an RPC error.",
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "The localized error message in the above locale."
        },
        "locale": {
          "type": "string",
          "description": "The locale used following the specification defined at https://www.rfc-editor.org/rfc/bcp/bcp47.txt. Examples are: \"en-US\", \"fr-CH\", \"es-MX\""
        }
      },
      "id": "LocalizedMessage"
    },
    "PostgresqlProfile": {
      "type": "object",
      "id": "PostgresqlProfile",
      "description": "Profile for connecting to a PostgreSQL source.",
      "properties": {
        "port": {
          "format": "int32",
          "type": "integer",
          "description": "Port for the PostgreSQL connection, default value is 5432."
        },
        "hostname": {
          "type": "string",
          "description": "Required. Hostname for the PostgreSQL connection."
        },
        "password": {
          "type": "string",
          "description": "Optional. Password for the PostgreSQL connection. Mutually exclusive with the `secret_manager_stored_password` field."
        },
        "database": {
          "type": "string",
          "description": "Required. Database for the PostgreSQL connection."
        },
        "username": {
          "description": "Required. Username for the PostgreSQL connection.",
          "type": "string"
        },
        "sslConfig": {
          "description": "Optional. SSL configuration for the PostgreSQL connection. In case PostgresqlSslConfig is not set, the connection will use the default SSL mode, which is `prefer` (i.e. this mode will only use encryption if enabled from database side, otherwise will use unencrypted communication)",
          "$ref": "PostgresqlSslConfig"
        },
        "secretManagerStoredPassword": {
          "description": "Optional. A reference to a Secret Manager resource name storing the PostgreSQL connection password. Mutually exclusive with the `password` field.",
          "type": "string"
        }
      }
    },
    "GcsDestinationConfig": {
      "id": "GcsDestinationConfig",
      "description": "Google Cloud Storage destination configuration",
      "type": "object",
      "properties": {
        "fileRotationInterval": {
          "format": "google-duration",
          "type": "string",
          "description": "The maximum duration for which new events are added before a file is closed and a new file is created. Values within the range of 15-60 seconds are allowed."
        },
        "path": {
          "description": "Path inside the Cloud Storage bucket to write data to.",
          "type": "string"
        },
        "fileRotationMb": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum file size to be saved in the bucket."
        },
        "jsonFileFormat": {
          "description": "JSON file format configuration.",
          "$ref": "JsonFileFormat"
        },
        "avroFileFormat": {
          "description": "AVRO file format configuration.",
          "$ref": "AvroFileFormat"
        }
      }
    },
    "OracleObjectIdentifier": {
      "description": "Oracle data source object identifier.",
      "properties": {
        "table": {
          "type": "string",
          "description": "Required. The table name."
        },
        "schema": {
          "description": "Required. The schema name.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "OracleObjectIdentifier"
    },
    "FieldViolation": {
      "description": "A message type used to describe a single bad request field.",
      "properties": {
        "description": {
          "description": "A description of why the request element is bad.",
          "type": "string"
        },
        "field": {
          "type": "string",
          "description": "A path that leads to a field in the request body. The value will be a sequence of dot-separated identifiers that identify a protocol buffer field. Consider the following: message CreateContactRequest { message EmailAddress { enum Type { TYPE_UNSPECIFIED = 0; HOME = 1; WORK = 2; } optional string email = 1; repeated EmailType type = 2; } string full_name = 1; repeated EmailAddress email_addresses = 2; } In this example, in proto `field` could take one of the following values: * `full_name` for a violation in the `full_name` value * `email_addresses[0].email` for a violation in the `email` field of the first `email_addresses` message * `email_addresses[2].type[1]` for a violation in the second `type` value in the third `email_addresses` message. In JSON, the same values are represented as: * `fullName` for a violation in the `fullName` value * `emailAddresses[0].email` for a violation in the `email` field of the first `emailAddresses` message * `emailAddresses[2].type[1]` for a violation in the second `type` value in the third `emailAddresses` message."
        },
        "localizedMessage": {
          "$ref": "LocalizedMessage",
          "description": "Provides a localized error message for field-level errors that is safe to return to the API consumer."
        },
        "reason": {
          "type": "string",
          "description": "The reason for the field-level error. This is a constant value that identifies the proximate cause of the field-level error. It should uniquely identify the type of the FieldViolation within the scope of the google.rpc.ErrorInfo.domain. This should be at most 63 characters and match a regular expression of `A-Z+[A-Z0-9]`, which represents UPPER_SNAKE_CASE."
        }
      },
      "type": "object",
      "id": "FieldViolation"
    },
    "ListStreamObjectsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page.",
          "type": "string"
        },
        "streamObjects": {
          "type": "array",
          "description": "List of stream objects.",
          "items": {
            "$ref": "StreamObject"
          }
        }
      },
      "id": "ListStreamObjectsResponse",
      "type": "object",
      "description": "Response containing the objects for a stream."
    },
    "SourceConfig": {
      "properties": {
        "spannerSourceConfig": {
          "$ref": "SpannerSourceConfig",
          "description": "Spanner data source configuration."
        },
        "dataverseSourceConfig": {
          "description": "Dataverse data source configuration.",
          "$ref": "DataverseSourceConfig"
        },
        "salesforceSourceConfig": {
          "$ref": "SalesforceSourceConfig",
          "description": "Salesforce data source configuration."
        },
        "mysqlSourceConfig": {
          "description": "MySQL data source configuration.",
          "$ref": "MysqlSourceConfig"
        },
        "sqlServerSourceConfig": {
          "$ref": "SqlServerSourceConfig",
          "description": "SQLServer data source configuration."
        },
        "mongodbSourceConfig": {
          "description": "MongoDB data source configuration.",
          "$ref": "MongodbSourceConfig"
        },
        "postgresqlSourceConfig": {
          "description": "PostgreSQL data source configuration.",
          "$ref": "PostgresqlSourceConfig"
        },
        "salesforceMarketingCloudSourceConfig": {
          "$ref": "SalesforceMarketingCloudSourceConfig",
          "description": "Salesforce Marketing Cloud data source configuration."
        },
        "workdaySourceConfig": {
          "$ref": "WorkdaySourceConfig",
          "description": "Optional. Workday data source configuration."
        },
        "serviceNowSourceConfig": {
          "description": "ServiceNow data source configuration.",
          "$ref": "ServiceNowSourceConfig"
        },
        "sourceConnectionProfile": {
          "type": "string",
          "description": "Required. Source connection profile resource. Format: `projects/{project}/locations/{location}/connectionProfiles/{name}`"
        },
        "oracleSourceConfig": {
          "$ref": "OracleSourceConfig",
          "description": "Oracle data source configuration."
        }
      },
      "description": "The configuration of the stream source.",
      "id": "SourceConfig",
      "type": "object"
    },
    "PreconditionFailureViolation": {
      "properties": {
        "description": {
          "description": "A description of how the precondition failed. Developers can use this description to understand how to fix the failure. For example: \"Terms of service not accepted\".",
          "type": "string"
        },
        "subject": {
          "description": "The subject, relative to the type, that failed. For example, \"google.com/cloud\" relative to the \"TOS\" type would indicate which terms of service is being referenced.",
          "type": "string"
        },
        "type": {
          "description": "The type of PreconditionFailure. We recommend using a service-specific enum type to define the supported precondition violation subjects. For example, \"TOS\" for \"Terms of Service violation\".",
          "type": "string"
        }
      },
      "type": "object",
      "id": "PreconditionFailureViolation",
      "description": "A message type used to describe a single precondition failure."
    },
    "MysqlLogPosition": {
      "id": "MysqlLogPosition",
      "properties": {
        "logPosition": {
          "description": "Optional. The position within the binary log file. Default is head of file.",
          "type": "integer",
          "format": "int32"
        },
        "logFile": {
          "description": "Required. The binary log file name.",
          "type": "string"
        }
      },
      "description": "MySQL log position",
      "type": "object"
    },
    "SqlServerSourceConfig": {
      "type": "object",
      "description": "Configuration for syncing data from a SQLServer source.",
      "properties": {
        "maxConcurrentCdcTasks": {
          "format": "int32",
          "type": "integer",
          "description": "Max concurrent CDC tasks."
        },
        "excludeObjects": {
          "description": "The SQLServer objects to exclude from the stream.",
          "$ref": "SqlServerRdbms"
        },
        "changeTables": {
          "$ref": "SqlServerChangeTables",
          "description": "CDC reader reads from change tables."
        },
        "transactionLogs": {
          "description": "CDC reader reads from transaction logs.",
          "$ref": "SqlServerTransactionLogs"
        },
        "includeObjects": {
          "description": "The SQLServer objects to include in the stream.",
          "$ref": "SqlServerRdbms"
        },
        "maxConcurrentBackfillTasks": {
          "description": "Max concurrent backfill tasks.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "SqlServerSourceConfig"
    },
    "PrivateConnection": {
      "description": "The PrivateConnection resource is used to establish private connectivity between Datastream and a customer's network.",
      "type": "object",
      "id": "PrivateConnection",
      "properties": {
        "satisfiesPzi": {
          "readOnly": true,
          "description": "Output only. Reserved for future use.",
          "type": "boolean"
        },
        "updateTime": {
          "description": "Output only. The update time of the resource.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "CREATED",
            "FAILED",
            "DELETING",
            "FAILED_TO_DELETE"
          ],
          "enumDescriptions": [
            "Unspecified state.",
            "The private connection is in creation state - creating resources.",
            "The private connection has been created with all of its resources.",
            "The private connection creation has failed.",
            "The private connection is being deleted.",
            "Delete request has failed, resource is in invalid state."
          ],
          "description": "Output only. The state of the Private Connection.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Identifier. The resource's name."
        },
        "vpcPeeringConfig": {
          "description": "VPC Peering Config.",
          "$ref": "VpcPeeringConfig"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels.",
          "type": "object"
        },
        "createTime": {
          "description": "Output only. The create time of the resource.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name."
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use.",
          "type": "boolean",
          "readOnly": true
        },
        "error": {
          "readOnly": true,
          "description": "Output only. In case of error, the details of the error in a user-friendly format.",
          "$ref": "Error"
        },
        "pscInterfaceConfig": {
          "description": "PSC Interface Config.",
          "$ref": "PscInterfaceConfig"
        }
      }
    },
    "StartBackfillJobResponse": {
      "id": "StartBackfillJobResponse",
      "type": "object",
      "description": "Response for manually initiating a backfill job for a specific stream object.",
      "properties": {
        "object": {
          "$ref": "StreamObject",
          "description": "The stream object resource a backfill job was started for."
        }
      }
    },
    "AppendOnly": {
      "description": "AppendOnly mode defines that all changes to a table will be written to the destination table.",
      "id": "AppendOnly",
      "type": "object",
      "properties": {}
    },
    "Merge": {
      "type": "object",
      "properties": {},
      "description": "Merge mode defines that all changes to a table will be merged at the destination table.",
      "id": "Merge"
    },
    "OauthRefreshTokenCredentials": {
      "id": "OauthRefreshTokenCredentials",
      "type": "object",
      "properties": {
        "oauthClientCredentials": {
          "description": "Required. Specifies the OAuth Client Credentials.",
          "$ref": "OauthClientCredentials"
        },
        "refreshToken": {
          "$ref": "Secret",
          "description": "Required. Specifies the OAuth Refresh Token."
        }
      },
      "description": "OAuth Refresh Token Credentials."
    },
    "BackfillJob": {
      "description": "Represents a backfill job on a specific stream object.",
      "type": "object",
      "properties": {
        "eventFilter": {
          "description": "Output only. The filter for performing a partial backfill.",
          "readOnly": true,
          "$ref": "EventFilter"
        },
        "lastStartTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Backfill job's start time.",
          "format": "google-datetime"
        },
        "errors": {
          "items": {
            "$ref": "Error"
          },
          "type": "array",
          "description": "Output only. Errors which caused the backfill job to fail.",
          "readOnly": true
        },
        "state": {
          "description": "Output only. Backfill job state.",
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Backfill job was never started for the stream object (stream has backfill strategy defined as manual or object was explicitly excluded from automatic backfill).",
            "Backfill job will start pending available resources.",
            "Backfill job is running.",
            "Backfill job stopped (next job run will start from beginning).",
            "Backfill job failed (due to an error).",
            "Backfill completed successfully.",
            "Backfill job failed since the table structure is currently unsupported for backfill."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "NOT_STARTED",
            "PENDING",
            "ACTIVE",
            "STOPPED",
            "FAILED",
            "COMPLETED",
            "UNSUPPORTED"
          ]
        },
        "trigger": {
          "enumDescriptions": [
            "Default value.",
            "Object backfill job was triggered automatically according to the stream's backfill strategy.",
            "Object backfill job was triggered manually using the dedicated API."
          ],
          "enum": [
            "TRIGGER_UNSPECIFIED",
            "AUTOMATIC",
            "MANUAL"
          ],
          "description": "Backfill job's triggering reason.",
          "type": "string"
        },
        "lastEndTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Backfill job's end time.",
          "readOnly": true
        }
      },
      "id": "BackfillJob"
    },
    "MysqlObjectIdentifier": {
      "id": "MysqlObjectIdentifier",
      "properties": {
        "table": {
          "type": "string",
          "description": "Required. The table name."
        },
        "database": {
          "description": "Required. The database name.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Mysql data source object identifier."
    },
    "PscInterfaceConfig": {
      "id": "PscInterfaceConfig",
      "description": "The PSC Interface configuration is used to create PSC Interface between Datastream and the consumer's PSC.",
      "type": "object",
      "properties": {
        "networkAttachment": {
          "type": "string",
          "description": "Required. Fully qualified name of the Network Attachment that Datastream will connect to. Format: `projects/{project}/regions/{region}/networkAttachments/{name}`"
        }
      }
    },
    "MongodbCluster": {
      "type": "object",
      "description": "MongoDB Cluster structure.",
      "properties": {
        "databases": {
          "type": "array",
          "description": "MongoDB databases in the cluster.",
          "items": {
            "$ref": "MongodbDatabase"
          }
        }
      },
      "id": "MongodbCluster"
    },
    "OracleScnPosition": {
      "id": "OracleScnPosition",
      "properties": {
        "scn": {
          "type": "string",
          "description": "Required. SCN number from where Logs will be read",
          "format": "int64"
        }
      },
      "description": "Oracle SCN position",
      "type": "object"
    },
    "Link": {
      "type": "object",
      "id": "Link",
      "properties": {
        "url": {
          "type": "string",
          "description": "The URL of the link."
        },
        "description": {
          "type": "string",
          "description": "Describes what the link offers."
        }
      },
      "description": "Describes a URL link."
    },
    "SalesforceMarketingCloudSourceConfig": {
      "description": "Configuration for syncing data from a Salesforce Marketing Cloud source.",
      "type": "object",
      "properties": {
        "includeObjects": {
          "description": "Optional. The objects to retrieve from the source.",
          "$ref": "SourceCatalog"
        },
        "excludeObjects": {
          "$ref": "SourceCatalog",
          "description": "Optional. The objects to exclude from the stream."
        },
        "fullRefreshPollingInterval": {
          "description": "Required. Specifies the polling interval for a full refresh of objects that do not support incremental sync. If not set, a default value of 24 hours is used. The duration must be between 1 and 24 hours, inclusive.",
          "format": "google-duration",
          "type": "string"
        },
        "pollingInterval": {
          "type": "string",
          "format": "google-duration",
          "description": "Required. Incremental sync polling interval for all objects. If not set, a default value of `5 minutes` is used. The duration must be from `5 minutes` to `24 hours`, inclusive."
        }
      },
      "id": "SalesforceMarketingCloudSourceConfig"
    },
    "SqlServerRdbms": {
      "id": "SqlServerRdbms",
      "properties": {
        "schemas": {
          "type": "array",
          "description": "SQLServer schemas in the database server.",
          "items": {
            "$ref": "SqlServerSchema"
          }
        }
      },
      "description": "SQLServer database structure.",
      "type": "object"
    },
    "Route": {
      "description": "The route resource is the child of the private connection resource, used for defining a route for a private connection.",
      "properties": {
        "destinationAddress": {
          "description": "Required. Destination address for connection",
          "type": "string"
        },
        "displayName": {
          "description": "Required. Display name.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. Identifier. The resource's name.",
          "readOnly": true
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Labels."
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The update time of the resource.",
          "format": "google-datetime",
          "type": "string"
        },
        "destinationPort": {
          "description": "Destination port for connection",
          "format": "int32",
          "type": "integer"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The create time of the resource.",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "Route"
    },
    "OracleSchema": {
      "properties": {
        "schema": {
          "type": "string",
          "description": "The schema name."
        },
        "oracleTables": {
          "description": "Tables in the schema.",
          "type": "array",
          "items": {
            "$ref": "OracleTable"
          }
        }
      },
      "type": "object",
      "id": "OracleSchema",
      "description": "Oracle schema."
    },
    "EncryptionAndServerValidation": {
      "properties": {
        "serverCertificateHostname": {
          "type": "string",
          "description": "Optional. The hostname mentioned in the Subject or SAN extension of the server certificate. This field is used for bypassing the hostname validation while verifying server certificate. This is required for scenarios where the host name that datastream connects to is different from the certificate's subject. This specifically happens for private connectivity. It could also happen when the customer provides a public IP in connection profile but the same is not present in the server certificate."
        },
        "caCertificate": {
          "description": "Optional. Input only. PEM-encoded certificate of the CA that signed the source database server's certificate.",
          "type": "string"
        }
      },
      "description": "Message to represent the option where Datastream will enforce encryption and authenticate server identity. ca_certificate must be set if user selects this option.",
      "type": "object",
      "id": "EncryptionAndServerValidation"
    },
    "BigQueryPartitioning": {
      "description": "BigQuery partitioning configuration.",
      "properties": {
        "ingestionTimePartition": {
          "description": "Ingestion time partitioning.",
          "$ref": "IngestionTimePartition"
        },
        "integerRangePartition": {
          "$ref": "IntegerRangePartition",
          "description": "Integer range partitioning."
        },
        "timeUnitPartition": {
          "description": "Time unit column partitioning.",
          "$ref": "TimeUnitPartition"
        },
        "requirePartitionFilter": {
          "description": "Optional. If true, queries over the table require a partition filter.",
          "type": "boolean"
        }
      },
      "id": "BigQueryPartitioning",
      "type": "object"
    },
    "SalesforceObjectIdentifier": {
      "type": "object",
      "id": "SalesforceObjectIdentifier",
      "description": "Salesforce data source object identifier.",
      "properties": {
        "objectName": {
          "description": "Required. The object name.",
          "type": "string"
        }
      }
    },
    "StreamObject": {
      "description": "A specific stream object (e.g a specific DB table).",
      "id": "StreamObject",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Required. Display name."
        },
        "customizationRules": {
          "items": {
            "$ref": "CustomizationRule"
          },
          "readOnly": true,
          "description": "Output only. The customization rules for the object. These rules are derived from the parent Stream's `rule_sets` and represent the intended configuration for the object.",
          "type": "array"
        },
        "errors": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Active errors on the object.",
          "items": {
            "$ref": "Error"
          }
        },
        "backfillJob": {
          "description": "The latest backfill job that was initiated for the stream object.",
          "$ref": "BackfillJob"
        },
        "name": {
          "description": "Output only. Identifier. The object resource's name.",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The last update time of the object."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The creation time of the object."
        },
        "sourceObject": {
          "$ref": "SourceObjectIdentifier",
          "description": "The object identifier in the data source."
        }
      }
    },
    "ForwardSshTunnelConnectivity": {
      "id": "ForwardSshTunnelConnectivity",
      "type": "object",
      "properties": {
        "privateKey": {
          "type": "string",
          "description": "Input only. SSH private key."
        },
        "username": {
          "description": "Required. Username for the SSH tunnel.",
          "type": "string"
        },
        "hostname": {
          "type": "string",
          "description": "Required. Hostname for the SSH tunnel."
        },
        "password": {
          "description": "Input only. SSH password.",
          "type": "string"
        },
        "port": {
          "type": "integer",
          "description": "Port for the SSH tunnel, default value is 22.",
          "format": "int32"
        }
      },
      "description": "Forward SSH Tunnel connectivity."
    },
    "EncryptionNotEnforced": {
      "id": "EncryptionNotEnforced",
      "properties": {},
      "description": "Message to represent the option where encryption is not enforced. An empty message right now to allow future extensibility.",
      "type": "object"
    },
    "BigQueryDestinationConfig": {
      "properties": {
        "singleTargetDataset": {
          "$ref": "SingleTargetDataset",
          "description": "Single destination dataset."
        },
        "merge": {
          "description": "The standard mode",
          "$ref": "Merge"
        },
        "dataFreshness": {
          "type": "string",
          "format": "google-duration",
          "description": "The guaranteed data freshness (in seconds) when querying tables created by the stream. Editing this field will only affect new tables created in the future, but existing tables will not be impacted. Lower values mean that queries will return fresher data, but may result in higher cost."
        },
        "sourceHierarchyDatasets": {
          "$ref": "SourceHierarchyDatasets",
          "description": "Source hierarchy datasets."
        },
        "blmtConfig": {
          "$ref": "BlmtConfig",
          "description": "Optional. Big Lake Managed Tables (BLMT) configuration."
        },
        "appendOnly": {
          "$ref": "AppendOnly",
          "description": "Append only mode"
        }
      },
      "id": "BigQueryDestinationConfig",
      "type": "object",
      "description": "BigQuery destination configuration"
    },
    "SpannerChangeStreamPosition": {
      "description": "Represents a position in a Spanner change stream from which to start replicating.",
      "type": "object",
      "properties": {
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. The timestamp to start change stream queries from. The timestamp must be a positive value."
        }
      },
      "id": "SpannerChangeStreamPosition"
    },
    "Location": {
      "type": "object",
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "labels": {
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          }
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        }
      },
      "id": "Location"
    },
    "LogFileDirectories": {
      "properties": {
        "archivedLogDirectory": {
          "type": "string",
          "description": "Required. Oracle directory for archived logs."
        },
        "onlineLogDirectory": {
          "type": "string",
          "description": "Required. Oracle directory for online logs."
        }
      },
      "id": "LogFileDirectories",
      "description": "Configuration to specify the Oracle directories to access the log files.",
      "type": "object"
    },
    "PostgresqlRdbms": {
      "id": "PostgresqlRdbms",
      "properties": {
        "postgresqlSchemas": {
          "description": "PostgreSQL schemas in the database server.",
          "type": "array",
          "items": {
            "$ref": "PostgresqlSchema"
          }
        }
      },
      "description": "PostgreSQL database structure.",
      "type": "object"
    },
    "ValidationMessage": {
      "properties": {
        "message": {
          "type": "string",
          "description": "The result of the validation."
        },
        "code": {
          "description": "A custom code identifying this specific message.",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Additional metadata related to the result."
        },
        "level": {
          "enumDescriptions": [
            "Unspecified level.",
            "Potentially cause issues with the Stream.",
            "Definitely cause issues with the Stream."
          ],
          "type": "string",
          "description": "Message severity level (warning or error).",
          "enum": [
            "LEVEL_UNSPECIFIED",
            "WARNING",
            "ERROR"
          ]
        }
      },
      "id": "ValidationMessage",
      "description": "Represent user-facing validation result message.",
      "type": "object"
    },
    "SpecificStartPosition": {
      "type": "object",
      "id": "SpecificStartPosition",
      "description": "CDC strategy to start replicating from a specific position in the source.",
      "properties": {
        "mysqlLogPosition": {
          "$ref": "MysqlLogPosition",
          "description": "MySQL specific log position to start replicating from."
        },
        "spannerChangeStreamPosition": {
          "description": "Optional. Spanner change stream position to start replicating from.",
          "$ref": "SpannerChangeStreamPosition"
        },
        "mongodbChangeStreamPosition": {
          "$ref": "MongodbChangeStreamPosition",
          "description": "MongoDB change stream position to start replicating from."
        },
        "oracleScnPosition": {
          "description": "Oracle SCN to start replicating from.",
          "$ref": "OracleScnPosition"
        },
        "sqlServerLsnPosition": {
          "description": "SqlServer LSN to start replicating from.",
          "$ref": "SqlServerLsnPosition"
        },
        "mysqlGtidPosition": {
          "$ref": "MysqlGtidPosition",
          "description": "MySQL GTID set to start replicating from."
        }
      }
    },
    "SqlServerObjectIdentifier": {
      "description": "SQLServer data source object identifier.",
      "properties": {
        "table": {
          "description": "Required. The table name.",
          "type": "string"
        },
        "schema": {
          "description": "Required. The schema name.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SqlServerObjectIdentifier"
    },
    "ServerAndClientVerification": {
      "description": "Message represents the option where Datastream will enforce the encryption and authenticate the server identity as well as the client identity. ca_certificate, client_certificate and client_key must be set if user selects this option.",
      "type": "object",
      "properties": {
        "clientKey": {
          "description": "Optional. Input only. PEM-encoded private key associated with the client certificate. This value will be used during the SSL/TLS handshake, allowing the PostgreSQL server to authenticate the client's identity, i.e. identity of the Datastream.",
          "type": "string"
        },
        "clientCertificate": {
          "description": "Required. Input only. PEM-encoded certificate used by the source database to authenticate the client identity (i.e., the Datastream's identity). This certificate is signed by either a root certificate trusted by the server or one or more intermediate certificates (which is stored with the leaf certificate) to link the this certificate to the trusted root certificate.",
          "type": "string"
        },
        "serverCertificateHostname": {
          "description": "Optional. The hostname mentioned in the Subject or SAN extension of the server certificate. If this field is not provided, the hostname in the server certificate is not validated.",
          "type": "string"
        },
        "caCertificate": {
          "description": "Required. Input only. PEM-encoded server root CA certificate.",
          "type": "string"
        }
      },
      "id": "ServerAndClientVerification"
    },
    "SpannerDatabase": {
      "description": "Spanner database structure.",
      "id": "SpannerDatabase",
      "properties": {
        "schemas": {
          "type": "array",
          "description": "Optional. Spanner schemas in the database.",
          "items": {
            "$ref": "SpannerSchema"
          }
        }
      },
      "type": "object"
    },
    "OracleAsmLogFileAccess": {
      "description": "Configuration to use Oracle ASM to access the log files.",
      "id": "OracleAsmLogFileAccess",
      "properties": {},
      "type": "object"
    },
    "Gtid": {
      "id": "Gtid",
      "type": "object",
      "properties": {},
      "description": "Use GTID based replication."
    },
    "PrivateConnectivity": {
      "id": "PrivateConnectivity",
      "description": "Private Connectivity",
      "properties": {
        "privateConnection": {
          "type": "string",
          "description": "Required. A reference to a private connection resource. Format: `projects/{project}/locations/{location}/privateConnections/{name}`"
        }
      },
      "type": "object"
    },
    "Stream": {
      "type": "object",
      "properties": {
        "backfillNone": {
          "$ref": "BackfillNoneStrategy",
          "description": "Do not automatically backfill any objects."
        },
        "sourceConfig": {
          "$ref": "SourceConfig",
          "description": "Required. Source connection profile configuration."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Identifier. The stream's name."
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use.",
          "type": "boolean",
          "readOnly": true
        },
        "backfillAll": {
          "description": "Automatically backfill objects included in the stream source configuration. Specific objects can be excluded.",
          "$ref": "BackfillAllStrategy"
        },
        "satisfiesPzi": {
          "type": "boolean",
          "description": "Output only. Reserved for future use.",
          "readOnly": true
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "NOT_STARTED",
            "RUNNING",
            "PAUSED",
            "MAINTENANCE",
            "FAILED",
            "FAILED_PERMANENTLY",
            "STARTING",
            "DRAINING"
          ],
          "enumDescriptions": [
            "Unspecified stream state.",
            "The stream has been created but has not yet started streaming data.",
            "The stream is running.",
            "The stream is paused.",
            "The stream is in maintenance mode. Updates are rejected on the resource in this state.",
            "The stream is experiencing an error that is preventing data from being streamed.",
            "The stream has experienced a terminal failure.",
            "The stream is starting, but not yet running.",
            "The Stream is no longer reading new events, but still writing events in the buffer."
          ],
          "description": "The state of the stream.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name."
        },
        "destinationConfig": {
          "description": "Required. Destination connection profile configuration.",
          "$ref": "DestinationConfig"
        },
        "updateTime": {
          "description": "Output only. The last update time of the stream.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "lastRecoveryTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. If the stream was recovered, the time of the last recovery. Note: This field is currently experimental.",
          "readOnly": true
        },
        "customerManagedEncryptionKey": {
          "description": "Immutable. A reference to a KMS encryption key. If provided, it will be used to encrypt the data. If left blank, data will be encrypted using an internal Stream-specific encryption key provisioned through KMS.",
          "type": "string"
        },
        "labels": {
          "description": "Labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The creation time of the stream.",
          "readOnly": true,
          "type": "string"
        },
        "ruleSets": {
          "items": {
            "$ref": "RuleSet"
          },
          "description": "Optional. Rule sets to apply to the stream.",
          "type": "array"
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "Error"
          },
          "readOnly": true,
          "description": "Output only. Errors on the Stream."
        }
      },
      "description": "A resource representing streaming data from a source to a destination.",
      "id": "Stream"
    },
    "RuleSet": {
      "description": "A set of rules to apply to a set of objects.",
      "properties": {
        "customizationRules": {
          "description": "Required. List of customization rules to apply.",
          "items": {
            "$ref": "CustomizationRule"
          },
          "type": "array"
        },
        "objectFilter": {
          "description": "Required. Object filter to apply the customization rules to.",
          "$ref": "ObjectFilter"
        }
      },
      "id": "RuleSet",
      "type": "object"
    },
    "MysqlRdbms": {
      "properties": {
        "mysqlDatabases": {
          "type": "array",
          "items": {
            "$ref": "MysqlDatabase"
          },
          "description": "Mysql databases on the server"
        }
      },
      "type": "object",
      "description": "MySQL database structure",
      "id": "MysqlRdbms"
    },
    "Status": {
      "type": "object",
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          }
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      }
    },
    "ListRoutesResponse": {
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "routes": {
          "type": "array",
          "description": "List of Routes.",
          "items": {
            "$ref": "Route"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "Route list response.",
      "id": "ListRoutesResponse"
    },
    "MysqlColumn": {
      "type": "object",
      "description": "MySQL Column.",
      "id": "MysqlColumn",
      "properties": {
        "primaryKey": {
          "type": "boolean",
          "description": "Whether or not the column represents a primary key."
        },
        "scale": {
          "description": "Column scale.",
          "type": "integer",
          "format": "int32"
        },
        "precision": {
          "type": "integer",
          "description": "Column precision.",
          "format": "int32"
        },
        "nullable": {
          "type": "boolean",
          "description": "Whether or not the column can accept a null value."
        },
        "column": {
          "description": "The column name.",
          "type": "string"
        },
        "dataType": {
          "description": "The MySQL data type. Full data types list can be found here: https://dev.mysql.com/doc/refman/8.0/en/data-types.html",
          "type": "string"
        },
        "collation": {
          "description": "Column collation.",
          "type": "string"
        },
        "ordinalPosition": {
          "format": "int32",
          "description": "The ordinal position of the column in the table.",
          "type": "integer"
        },
        "length": {
          "type": "integer",
          "format": "int32",
          "description": "Column length."
        }
      }
    },
    "MysqlProfile": {
      "id": "MysqlProfile",
      "description": "Profile for connecting to a MySQL source.",
      "type": "object",
      "properties": {
        "secretManagerStoredPassword": {
          "type": "string",
          "description": "Optional. A reference to a Secret Manager resource name storing the MySQL connection password. Mutually exclusive with the `password` field."
        },
        "hostname": {
          "description": "Required. Hostname for the MySQL connection.",
          "type": "string"
        },
        "password": {
          "description": "Optional. Input only. Password for the MySQL connection. Mutually exclusive with the `secret_manager_stored_password` field.",
          "type": "string"
        },
        "sslConfig": {
          "description": "SSL configuration for the MySQL connection.",
          "$ref": "MysqlSslConfig"
        },
        "username": {
          "type": "string",
          "description": "Required. Username for the MySQL connection."
        },
        "port": {
          "type": "integer",
          "description": "Port for the MySQL connection, default value is 3306.",
          "format": "int32"
        }
      }
    },
    "AvroFileFormat": {
      "type": "object",
      "description": "AVRO file format configuration.",
      "id": "AvroFileFormat",
      "properties": {}
    },
    "OracleTable": {
      "properties": {
        "oracleColumns": {
          "description": "Oracle columns in the schema. When unspecified as part of include/exclude objects, includes/excludes everything.",
          "items": {
            "$ref": "OracleColumn"
          },
          "type": "array"
        },
        "table": {
          "type": "string",
          "description": "The table name."
        }
      },
      "description": "Oracle table.",
      "type": "object",
      "id": "OracleTable"
    },
    "ErrorInfo": {
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Additional structured details about this error. Keys must match a regular expression of `a-z+` but should ideally be lowerCamelCase. Also, they must be limited to 64 characters in length. When identifying the current value of an exceeded limit, the units should be contained in the key, not the value. For example, rather than `{\"instanceLimit\": \"100/request\"}`, should be returned as, `{\"instanceLimitPerRequest\": \"100\"}`, if the client exceeds the number of instances that can be created in a single (batch) request.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "reason": {
          "description": "The reason for the error. This is a constant value that identifies the proximate cause of the error. Error reasons are unique within a particular domain of errors. This should be at most 63 characters and match a regular expression of `A-Z+[A-Z0-9]`, which represents UPPER_SNAKE_CASE.",
          "type": "string"
        },
        "domain": {
          "description": "The logical grouping to which the \"reason\" belongs. The error domain is typically the registered service name of the tool or product that generates the error. Example: \"pubsub.googleapis.com\". If the error is generated by some common infrastructure, the error domain must be a globally unique value that identifies the infrastructure. For Google API infrastructure, the error domain is \"googleapis.com\".",
          "type": "string"
        }
      },
      "id": "ErrorInfo",
      "description": "Describes the cause of the error with structured details. Example of an error when contacting the \"pubsub.googleapis.com\" API when it is not enabled: { \"reason\": \"API_DISABLED\" \"domain\": \"googleapis.com\" \"metadata\": { \"resource\": \"projects/123\", \"service\": \"pubsub.googleapis.com\" } } This response indicates that the pubsub.googleapis.com API is not enabled. Example of an error that is returned when attempting to create a Spanner instance in a region that is out of stock: { \"reason\": \"STOCKOUT\" \"domain\": \"spanner.googleapis.com\", \"metadata\": { \"availableRegions\": \"us-central1,us-east2\" } }"
    },
    "SourceObject": {
      "description": "Source object.",
      "properties": {
        "properties": {
          "type": "array",
          "description": "Optional. Source properties. When unspecified as part of include objects, includes everything, when unspecified as part of exclude objects, excludes nothing.",
          "items": {
            "$ref": "SourceProperty"
          }
        },
        "objectName": {
          "description": "Required. The object name.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SourceObject"
    },
    "Validation": {
      "id": "Validation",
      "type": "object",
      "description": "A validation to perform on a stream.",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "NOT_EXECUTED",
            "FAILED",
            "PASSED",
            "WARNING"
          ],
          "description": "Output only. Validation execution status.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "Validation did not execute.",
            "Validation failed.",
            "Validation passed.",
            "Validation executed with warnings."
          ],
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "A short description of the validation."
        },
        "code": {
          "description": "A custom code identifying this validation.",
          "type": "string"
        },
        "message": {
          "description": "Messages reflecting the validation results.",
          "items": {
            "$ref": "ValidationMessage"
          },
          "type": "array"
        }
      }
    },
    "QuotaFailureViolation": {
      "type": "object",
      "properties": {
        "apiService": {
          "type": "string",
          "description": "The API Service from which the `QuotaFailure.Violation` originates. In some cases, Quota issues originate from an API Service other than the one that was called. In other words, a dependency of the called API Service could be the cause of the `QuotaFailure`, and this field would have the dependency API service name. For example, if the called API is Kubernetes Engine API (container.googleapis.com), and a quota violation occurs in the Kubernetes Engine API itself, this field would be \"container.googleapis.com\". On the other hand, if the quota violation occurs when the Kubernetes Engine API creates VMs in the Compute Engine API (compute.googleapis.com), this field would be \"compute.googleapis.com\"."
        },
        "description": {
          "type": "string",
          "description": "A description of how the quota check failed. Clients can use this description to find more about the quota configuration in the service's public documentation, or find the relevant quota limit to adjust through developer console. For example: \"Service disabled\" or \"Daily Limit for read operations exceeded\"."
        },
        "quotaMetric": {
          "type": "string",
          "description": "The metric of the violated quota. A quota metric is a named counter to measure usage, such as API requests or CPUs. When an activity occurs in a service, such as Virtual Machine allocation, one or more quota metrics may be affected. For example, \"compute.googleapis.com/cpus_per_vm_family\", \"storage.googleapis.com/internet_egress_bandwidth\"."
        },
        "quotaId": {
          "description": "The id of the violated quota. Also know as \"limit name\", this is the unique identifier of a quota in the context of an API service. For example, \"CPUS-PER-VM-FAMILY-per-project-region\".",
          "type": "string"
        },
        "subject": {
          "type": "string",
          "description": "The subject on which the quota check failed. For example, \"clientip:\" or \"project:\"."
        },
        "quotaValue": {
          "description": "The enforced quota value at the time of the `QuotaFailure`. For example, if the enforced quota value at the time of the `QuotaFailure` on the number of CPUs is \"10\", then the value of this field would reflect this quantity.",
          "format": "int64",
          "type": "string"
        },
        "futureQuotaValue": {
          "type": "string",
          "format": "int64",
          "description": "The new quota value being rolled out at the time of the violation. At the completion of the rollout, this value will be enforced in place of quota_value. If no rollout is in progress at the time of the violation, this field is not set. For example, if at the time of the violation a rollout is in progress changing the number of CPUs quota from 10 to 20, 20 would be the value of this field."
        },
        "quotaDimensions": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The dimensions of the violated quota. Every non-global quota is enforced on a set of dimensions. While quota metric defines what to count, the dimensions specify for what aspects the counter should be increased. For example, the quota \"CPUs per region per VM family\" enforces a limit on the metric \"compute.googleapis.com/cpus_per_vm_family\" on dimensions \"region\" and \"vm_family\". And if the violation occurred in region \"us-central1\" and for VM family \"n1\", the quota_dimensions would be, { \"region\": \"us-central1\", \"vm_family\": \"n1\", } When a quota is enforced globally, the quota_dimensions would always be empty.",
          "type": "object"
        }
      },
      "description": "A message type used to describe a single quota violation. For example, a daily quota or a custom quota that was exceeded.",
      "id": "QuotaFailureViolation"
    },
    "UserPasswordCredentials": {
      "type": "object",
      "properties": {
        "password": {
          "$ref": "Secret",
          "description": "Required. Password for the connection."
        },
        "username": {
          "description": "Required. Username for the connection.",
          "type": "string"
        }
      },
      "id": "UserPasswordCredentials",
      "description": "User-password credentials."
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty"
    },
    "SqlServerTransactionLogs": {
      "description": "Configuration to use Transaction Logs CDC read method.",
      "properties": {},
      "id": "SqlServerTransactionLogs",
      "type": "object"
    },
    "ResourceInfo": {
      "id": "ResourceInfo",
      "properties": {
        "resourceType": {
          "description": "A name for the type of resource being accessed, e.g. \"sql table\", \"cloud storage bucket\", \"file\", \"Google calendar\"; or the type URL of the resource: e.g. \"type.googleapis.com/google.pubsub.v1.Topic\".",
          "type": "string"
        },
        "resourceName": {
          "type": "string",
          "description": "The name of the resource being accessed. For example, a shared calendar name: \"example.com_4fghdhgsrgh@group.calendar.google.com\", if the current error is google.rpc.Code.PERMISSION_DENIED."
        },
        "description": {
          "description": "Describes what error is encountered when accessing this resource. For example, updating a cloud project may require the `writer` permission on the developer console project.",
          "type": "string"
        },
        "owner": {
          "type": "string",
          "description": "The owner of the resource (optional). For example, \"user:\" or \"project:\"."
        }
      },
      "type": "object",
      "description": "Describes the resource that is being accessed."
    },
    "BasicEncryption": {
      "properties": {},
      "type": "object",
      "id": "BasicEncryption",
      "description": "Message to represent the option where Datastream will enforce encryption without authenticating server identity. Server certificates will be trusted by default."
    },
    "SqlServerSchema": {
      "description": "SQLServer schema.",
      "id": "SqlServerSchema",
      "properties": {
        "schema": {
          "description": "The schema name.",
          "type": "string"
        },
        "tables": {
          "description": "Tables in the schema.",
          "type": "array",
          "items": {
            "$ref": "SqlServerTable"
          }
        }
      },
      "type": "object"
    },
    "Secret": {
      "id": "Secret",
      "description": "A confidential piece of information where the actual value is either directly specified in the message as a raw string or stored in GCP secret manager.",
      "properties": {
        "rawValue": {
          "description": "Optional. Input only. The actual raw value of the secret as plain text.",
          "type": "string"
        },
        "secretVersion": {
          "description": "Optional. A Secret Manager resource name storing the actual value of the secret. Supported formats: * projects/{project}/locations/{location}/secrets/{secret}/versions/{version} * projects/{project}/secrets/{secret}/versions/{version}",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DataverseSourceConfig": {
      "id": "DataverseSourceConfig",
      "properties": {
        "excludeObjects": {
          "description": "Optional. The objects to exclude from the stream.",
          "$ref": "SourceCatalog"
        },
        "includeObjects": {
          "description": "Optional. The objects to retrieve from the source.",
          "$ref": "SourceCatalog"
        },
        "pollingInterval": {
          "type": "string",
          "description": "Required. Incremental sync polling interval for all objects. If not set, a default value of `5 minutes` is used. The duration must be from `5 minutes` to `24 hours`, inclusive.",
          "format": "google-duration"
        }
      },
      "type": "object",
      "description": "Configuration for syncing data from a Dataverse source."
    },
    "OracleSslConfig": {
      "id": "OracleSslConfig",
      "properties": {
        "caCertificate": {
          "description": "Input only. PEM-encoded certificate of the CA that signed the source database server's certificate.",
          "type": "string"
        },
        "serverCertificateDistinguishedName": {
          "description": "Optional. The distinguished name (DN) mentioned in the server certificate. This corresponds to SSL_SERVER_CERT_DN sqlnet parameter. Refer https://docs.oracle.com/en/database/oracle/oracle-database/19/netrf/local-naming-parameters-in-tns-ora-file.html#GUID-70AB0695-A9AA-4A94-B141-4C605236EEB7 If this field is not provided, the DN matching is not enforced.",
          "type": "string"
        },
        "caCertificateSet": {
          "readOnly": true,
          "description": "Output only. Indicates whether the ca_certificate field has been set for this Connection-Profile.",
          "type": "boolean"
        }
      },
      "description": "Oracle SSL configuration information.",
      "type": "object"
    },
    "PostgresqlSchema": {
      "id": "PostgresqlSchema",
      "type": "object",
      "description": "PostgreSQL schema.",
      "properties": {
        "postgresqlTables": {
          "items": {
            "$ref": "PostgresqlTable"
          },
          "type": "array",
          "description": "Tables in the schema."
        },
        "schema": {
          "description": "The schema name.",
          "type": "string"
        }
      }
    },
    "SalesforceObject": {
      "type": "object",
      "description": "Salesforce object.",
      "properties": {
        "objectName": {
          "description": "The object name.",
          "type": "string"
        },
        "fields": {
          "type": "array",
          "description": "Salesforce fields. When unspecified as part of include objects, includes everything, when unspecified as part of exclude objects, excludes nothing.",
          "items": {
            "$ref": "SalesforceField"
          }
        }
      },
      "id": "SalesforceObject"
    },
    "ConnectionProfile": {
      "description": "A set of reusable connection configurations to be used as a source or destination for a stream.",
      "id": "ConnectionProfile",
      "properties": {
        "serviceNowProfile": {
          "description": "Profile for connecting to a ServiceNow source.",
          "$ref": "ServiceNowProfile"
        },
        "bigqueryProfile": {
[...]
