{
  "discoveryVersion": "v1",
  "basePath": "",
  "rootUrl": "https://dataflow.googleapis.com/",
  "kind": "discovery#restDescription",
  "parameters": {
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "type": "string",
      "location": "query",
      "description": "Data format for response."
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    }
  },
  "baseUrl": "https://dataflow.googleapis.com/",
  "canonicalName": "Dataflow",
  "description": "Manages Google Cloud Dataflow projects on Google Cloud Platform.",
  "endpoints": [
    {
      "description": "Regional Endpoint",
      "location": "africa-south1",
      "endpointUrl": "https://dataflow.africa-south1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dataflow.asia-east1.rep.googleapis.com/",
      "location": "asia-east1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.asia-east2.rep.googleapis.com/",
      "location": "asia-east2",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.asia-northeast1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.asia-northeast2.rep.googleapis.com/",
      "location": "asia-northeast2"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-northeast3",
      "endpointUrl": "https://dataflow.asia-northeast3.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-south1",
      "endpointUrl": "https://dataflow.asia-south1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dataflow.asia-south2.rep.googleapis.com/",
      "location": "asia-south2",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-southeast1",
      "endpointUrl": "https://dataflow.asia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-southeast2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.asia-southeast2.rep.googleapis.com/"
    },
    {
      "location": "asia-southeast3",
      "endpointUrl": "https://dataflow.asia-southeast3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "australia-southeast1",
      "endpointUrl": "https://dataflow.australia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "australia-southeast2",
      "endpointUrl": "https://dataflow.australia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-central2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.europe-central2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.europe-north1.rep.googleapis.com/",
      "location": "europe-north1"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-north2",
      "endpointUrl": "https://dataflow.europe-north2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-southwest1",
      "endpointUrl": "https://dataflow.europe-southwest1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.europe-west1.rep.googleapis.com/",
      "location": "europe-west1"
    },
    {
      "endpointUrl": "https://dataflow.europe-west10.rep.googleapis.com/",
      "location": "europe-west10",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.europe-west12.rep.googleapis.com/",
      "location": "europe-west12",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.europe-west2.rep.googleapis.com/",
      "location": "europe-west2"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west3",
      "endpointUrl": "https://dataflow.europe-west3.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west4",
      "endpointUrl": "https://dataflow.europe-west4.rep.googleapis.com/"
    },
    {
      "location": "europe-west6",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.europe-west6.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.europe-west8.rep.googleapis.com/",
      "location": "europe-west8"
    },
    {
      "endpointUrl": "https://dataflow.europe-west9.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west9"
    },
    {
      "location": "me-central1",
      "endpointUrl": "https://dataflow.me-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "me-central2",
      "endpointUrl": "https://dataflow.me-central2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dataflow.me-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-west1"
    },
    {
      "endpointUrl": "https://dataflow.northamerica-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-northeast1"
    },
    {
      "endpointUrl": "https://dataflow.northamerica-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-northeast2"
    },
    {
      "endpointUrl": "https://dataflow.northamerica-south1.rep.googleapis.com/",
      "location": "northamerica-south1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.southamerica-east1.rep.googleapis.com/",
      "location": "southamerica-east1",
      "description": "Regional Endpoint"
    },
    {
      "location": "southamerica-west1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.southamerica-west1.rep.googleapis.com/"
    },
    {
      "location": "us-central1",
      "endpointUrl": "https://dataflow.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.us-central2.rep.googleapis.com/",
      "location": "us-central2"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east1",
      "endpointUrl": "https://dataflow.us-east1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east4",
      "endpointUrl": "https://dataflow.us-east4.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east5",
      "endpointUrl": "https://dataflow.us-east5.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.us-east7.rep.googleapis.com/",
      "location": "us-east7"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-south1",
      "endpointUrl": "https://dataflow.us-south1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west1",
      "endpointUrl": "https://dataflow.us-west1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west2",
      "endpointUrl": "https://dataflow.us-west2.rep.googleapis.com/"
    },
    {
      "location": "us-west3",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.us-west3.rep.googleapis.com/"
    },
    {
      "location": "us-west4",
      "endpointUrl": "https://dataflow.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west8",
      "endpointUrl": "https://dataflow.us-west8.rep.googleapis.com/"
    }
  ],
  "batchPath": "batch",
  "title": "Dataflow API",
  "servicePath": "",
  "name": "dataflow",
  "ownerName": "Google",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "version": "v1b3",
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/compute": {
          "description": "View and manage your Google Compute Engine resources"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "schemas": {
    "RuntimeMetadata": {
      "properties": {
        "parameters": {
          "items": {
            "$ref": "ParameterMetadata"
          },
          "description": "The parameters for the template.",
          "type": "array"
        },
        "sdkInfo": {
          "$ref": "SDKInfo",
          "description": "SDK Info for the template."
        }
      },
      "description": "RuntimeMetadata describing a runtime environment.",
      "type": "object",
      "id": "RuntimeMetadata"
    },
    "StragglerInfo": {
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "description": "The time when the work item attempt became a straggler.",
          "type": "string"
        },
        "causes": {
          "description": "The straggler causes, keyed by the string representation of the StragglerCause enum and contains specialized debugging information for each straggler cause.",
          "additionalProperties": {
            "$ref": "StragglerDebuggingInfo"
          },
          "type": "object"
        }
      },
      "type": "object",
      "description": "Information useful for straggler identification and debugging.",
      "id": "StragglerInfo"
    },
    "ResourceUtilizationReportResponse": {
      "type": "object",
      "id": "ResourceUtilizationReportResponse",
      "description": "Service-side response to WorkerMessage reporting resource utilization.",
      "properties": {}
    },
    "GetTemplateResponse": {
      "id": "GetTemplateResponse",
      "description": "The response to a GetTemplate request.",
      "type": "object",
      "properties": {
        "templateType": {
          "enum": [
            "UNKNOWN",
            "LEGACY",
            "FLEX"
          ],
          "enumDescriptions": [
            "Unknown Template Type.",
            "Legacy Template.",
            "Flex Template."
          ],
          "description": "Template Type.",
          "type": "string"
        },
        "metadata": {
          "$ref": "TemplateMetadata",
          "description": "The template metadata describing the template name, available parameters, etc."
        },
        "runtimeMetadata": {
          "description": "Describes the runtime metadata with SDKInfo and available parameters.",
          "$ref": "RuntimeMetadata"
        },
        "status": {
          "$ref": "Status",
          "description": "The status of the get template request. Any problems with the request will be indicated in the error_details."
        }
      }
    },
    "StreamingComputationConfig": {
      "id": "StreamingComputationConfig",
      "type": "object",
      "properties": {
        "instructions": {
          "description": "Instructions that comprise the computation.",
          "items": {
            "$ref": "ParallelInstruction"
          },
          "type": "array"
        },
        "systemName": {
          "type": "string",
          "description": "System defined name for this computation."
        },
        "computationId": {
          "description": "Unique identifier for this computation.",
          "type": "string"
        },
        "stageName": {
          "type": "string",
          "description": "Stage name of this computation."
        },
        "transformUserNameToStateFamily": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Map from user name of stateful transforms in this stage to their state family."
        }
      },
      "description": "Configuration information for a single streaming computation."
    },
    "WorkerLifecycleEvent": {
      "type": "object",
      "properties": {
        "containerStartTime": {
          "type": "string",
          "description": "The start time of this container. All events will report this so that events can be grouped together across container/VM restarts.",
          "format": "google-datetime"
        },
        "metadata": {
          "description": "Other stats that can accompany an event. E.g. { \"downloaded_bytes\" : \"123456\" }",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "event": {
          "enum": [
            "UNKNOWN_EVENT",
            "OS_START",
            "CONTAINER_START",
            "NETWORK_UP",
            "STAGING_FILES_DOWNLOAD_START",
            "STAGING_FILES_DOWNLOAD_FINISH",
            "SDK_INSTALL_START",
            "SDK_INSTALL_FINISH"
          ],
          "description": "The event being reported.",
          "enumDescriptions": [
            "Invalid event.",
            "The time the VM started.",
            "Our container code starts running. Multiple containers could be distinguished with WorkerMessage.labels if desired.",
            "The worker has a functional external network connection.",
            "Started downloading staging files.",
            "Finished downloading all staging files.",
            "For applicable SDKs, started installation of SDK and worker packages.",
            "Finished installing SDK."
          ],
          "type": "string"
        }
      },
      "id": "WorkerLifecycleEvent",
      "description": "A report of an event in a worker's lifecycle. The proto contains one event, because the worker is expected to asynchronously send each message immediately after the event. Due to this asynchrony, messages may arrive out of order (or missing), and it is up to the consumer to interpret. The timestamp of the event is in the enclosing WorkerMessage proto."
    },
    "TemplateMetadata": {
      "type": "object",
      "properties": {
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "ParameterMetadata"
          },
          "description": "The parameters for the template."
        },
        "streaming": {
          "type": "boolean",
          "description": "Optional. Indicates if the template is streaming or not."
        },
        "supportsAtLeastOnce": {
          "type": "boolean",
          "description": "Optional. Indicates if the streaming template supports at least once mode."
        },
        "supportsExactlyOnce": {
          "type": "boolean",
          "description": "Optional. Indicates if the streaming template supports exactly once mode."
        },
        "description": {
          "description": "Optional. A description of the template.",
          "type": "string"
        },
        "defaultStreamingMode": {
          "type": "string",
          "description": "Optional. Indicates the default streaming mode for a streaming template. Only valid if both supports_at_least_once and supports_exactly_once are true. Possible values: UNSPECIFIED, EXACTLY_ONCE and AT_LEAST_ONCE"
        },
        "yamlDefinition": {
          "type": "string",
          "description": "Optional. For future use."
        },
        "name": {
          "description": "Required. The name of the template.",
          "type": "string"
        }
      },
      "description": "Metadata describing a template.",
      "id": "TemplateMetadata"
    },
    "CounterMetadata": {
      "type": "object",
      "id": "CounterMetadata",
      "properties": {
        "standardUnits": {
          "enum": [
            "BYTES",
            "BYTES_PER_SEC",
            "MILLISECONDS",
            "MICROSECONDS",
            "NANOSECONDS",
            "TIMESTAMP_MSEC",
            "TIMESTAMP_USEC",
            "TIMESTAMP_NSEC"
          ],
          "description": "System defined Units, see above enum.",
          "type": "string",
          "enumDescriptions": [
            "Counter returns a value in bytes.",
            "Counter returns a value in bytes per second.",
            "Counter returns a value in milliseconds.",
            "Counter returns a value in microseconds.",
            "Counter returns a value in nanoseconds.",
            "Counter returns a timestamp in milliseconds.",
            "Counter returns a timestamp in microseconds.",
            "Counter returns a timestamp in nanoseconds."
          ]
        },
        "otherUnits": {
          "description": "A string referring to the unit type.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Counter aggregation kind.",
          "enumDescriptions": [
            "Counter aggregation kind was not set.",
            "Aggregated value is the sum of all contributed values.",
            "Aggregated value is the max of all contributed values.",
            "Aggregated value is the min of all contributed values.",
            "Aggregated value is the mean of all contributed values.",
            "Aggregated value represents the logical 'or' of all contributed values.",
            "Aggregated value represents the logical 'and' of all contributed values.",
            "Aggregated value is a set of unique contributed values.",
            "Aggregated value captures statistics about a distribution.",
            "Aggregated value tracks the latest value of a variable."
          ],
          "enum": [
            "INVALID",
            "SUM",
            "MAX",
            "MIN",
            "MEAN",
            "OR",
            "AND",
            "SET",
            "DISTRIBUTION",
            "LATEST_VALUE"
          ]
        },
        "description": {
          "description": "Human-readable description of the counter semantics.",
          "type": "string"
        }
      },
      "description": "CounterMetadata includes all static non-name non-value counter attributes."
    },
    "WorkItemServiceState": {
      "description": "The Dataflow service's idea of the current state of a WorkItem being processed by a worker.",
      "properties": {
        "leaseExpireTime": {
          "format": "google-datetime",
          "description": "Time at which the current lease will expire.",
          "type": "string"
        },
        "hotKeyDetection": {
          "description": "A hot key is a symptom of poor data distribution in which there are enough elements mapped to a single key to impact pipeline performance. When present, this field includes metadata associated with any hot key.",
          "$ref": "HotKeyDetection"
        },
        "metricShortId": {
          "items": {
            "$ref": "MetricShortId"
          },
          "description": "The short ids that workers should use in subsequent metric updates. Workers should strive to use short ids whenever possible, but it is ok to request the short_id again if a worker lost track of it (e.g. if the worker is recovering from a crash). NOTE: it is possible that the response may have short ids for a subset of the metrics.",
          "type": "array"
        },
        "completeWorkStatus": {
          "description": "If set, a request to complete the work item with the given status. This will not be set to OK, unless supported by the specific kind of WorkItem. It can be used for the backend to indicate a WorkItem must terminate, e.g., for aborting work.",
          "$ref": "Status"
        },
        "nextReportIndex": {
          "description": "The index value to use for the next report sent by the worker. Note: If the report call fails for whatever reason, the worker should reuse this index for subsequent report attempts.",
          "type": "string",
          "format": "int64"
        },
        "reportStatusInterval": {
          "description": "New recommended reporting interval.",
          "format": "google-duration",
          "type": "string"
        },
        "splitRequest": {
          "$ref": "ApproximateSplitRequest",
          "description": "The progress point in the WorkItem where the Dataflow service suggests that the worker truncate the task."
        },
        "harnessData": {
          "description": "Other data returned by the service, specific to the particular worker harness.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "suggestedStopPoint": {
          "$ref": "ApproximateProgress",
          "deprecated": true,
          "description": "DEPRECATED in favor of split_request."
        },
        "suggestedStopPosition": {
          "description": "Obsolete, always empty.",
          "deprecated": true,
          "$ref": "Position"
        }
      },
      "id": "WorkItemServiceState",
      "type": "object"
    },
    "BigTableIODetails": {
      "type": "object",
      "id": "BigTableIODetails",
      "description": "Metadata for a Cloud Bigtable connector used by the job.",
      "properties": {
        "projectId": {
          "description": "ProjectId accessed in the connection.",
          "type": "string"
        },
        "tableId": {
          "description": "TableId accessed in the connection.",
          "type": "string"
        },
        "instanceId": {
          "type": "string",
          "description": "InstanceId accessed in the connection."
        }
      }
    },
    "ServiceResources": {
      "type": "object",
      "description": "Resources used by the Dataflow Service to run the job.",
      "properties": {
        "zones": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. List of Cloud Zones being used by the Dataflow Service for this job. Example: us-central1-c"
        }
      },
      "id": "ServiceResources"
    },
    "SourceOperationRequest": {
      "id": "SourceOperationRequest",
      "type": "object",
      "properties": {
        "stageName": {
          "description": "System-defined name of the stage containing the source operation. Unique across the workflow.",
          "type": "string"
        },
        "getMetadata": {
          "description": "Information about a request to get metadata about a source.",
          "$ref": "SourceGetMetadataRequest"
        },
        "originalName": {
          "type": "string",
          "description": "System-defined name for the Read instruction for this source in the original workflow graph."
        },
        "split": {
          "description": "Information about a request to split a source.",
          "$ref": "SourceSplitRequest"
        },
        "systemName": {
          "description": "System-defined name of the Read instruction for this source. Unique across the workflow.",
          "type": "string"
        },
        "name": {
          "description": "User-provided name of the Read instruction for this source.",
          "type": "string"
        }
      },
      "description": "A work item that represents the different operations that can be performed on a user-defined Source specification."
    },
    "Histogram": {
      "properties": {
        "bucketCounts": {
          "description": "Counts of values in each bucket. For efficiency, prefix and trailing buckets with count = 0 are elided. Buckets can store the full range of values of an unsigned long, with ULLONG_MAX falling into the 59th bucket with range [1e19, 2e19).",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array"
        },
        "firstBucketOffset": {
          "format": "int32",
          "description": "Starting index of first stored bucket. The non-inclusive upper-bound of the ith bucket is given by: pow(10,(i-first_bucket_offset)/3) * (1,2,5)[(i-first_bucket_offset)%3]",
          "type": "integer"
        }
      },
      "description": "Histogram of value counts for a distribution. Buckets have an inclusive lower bound and exclusive upper bound and use \"1,2,5 bucketing\": The first bucket range is from [0,1) and all subsequent bucket boundaries are powers of ten multiplied by 1, 2, or 5. Thus, bucket boundaries are 0, 1, 2, 5, 10, 20, 50, 100, 200, 500, 1000, ... Negative values are not supported.",
      "id": "Histogram",
      "type": "object"
    },
    "StreamingOperationalLimits": {
      "type": "object",
      "id": "StreamingOperationalLimits",
      "description": "Operational limits imposed on streaming jobs by the backend.",
      "properties": {
        "maxTagBytes": {
          "type": "string",
          "description": "The maximum size for a state tag.",
          "format": "int64"
        },
        "maxProductionOutputBytes": {
          "type": "string",
          "description": "The maximum size for a single output element.",
          "format": "int64"
        },
        "maxBagElementBytes": {
          "type": "string",
          "description": "The maximum size for an element in bag state.",
          "format": "int64"
        },
        "maxSourceStateBytes": {
          "type": "string",
          "format": "int64",
          "description": "The maximum size for a source state update."
        },
        "maxSortedListElementBytes": {
          "description": "The maximum size for an element in sorted list state.",
          "type": "string",
          "format": "int64"
        },
        "maxGlobalDataBytes": {
          "format": "int64",
          "type": "string",
          "description": "The maximum size for an element in global data."
        },
        "maxKeyBytes": {
          "type": "string",
          "description": "The maximum size allowed for a key.",
          "format": "int64"
        },
        "maxValueBytes": {
          "description": "The maximum size for a value state field.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "WorkItemStatus": {
      "id": "WorkItemStatus",
      "type": "object",
      "properties": {
        "errors": {
          "description": "Specifies errors which occurred during processing. If errors are provided, and completed = true, then the WorkItem is considered to have failed.",
          "items": {
            "$ref": "Status"
          },
          "type": "array"
        },
        "counterUpdates": {
          "items": {
            "$ref": "CounterUpdate"
          },
          "type": "array",
          "description": "Worker output counters for this WorkItem."
        },
        "metricUpdates": {
          "deprecated": true,
          "items": {
            "$ref": "MetricUpdate"
          },
          "description": "DEPRECATED in favor of counter_updates.",
          "type": "array"
        },
        "reportIndex": {
          "description": "The report index. When a WorkItem is leased, the lease will contain an initial report index. When a WorkItem's status is reported to the system, the report should be sent with that report index, and the response will contain the index the worker should use for the next report. Reports received with unexpected index values will be rejected by the service. In order to preserve idempotency, the worker should not alter the contents of a report, even if the worker must submit the same report multiple times before getting back a response. The worker should not submit a subsequent report until the response for the previous report had been received from the service.",
          "format": "int64",
          "type": "string"
        },
        "requestedLeaseDuration": {
          "description": "Amount of time the worker requests for its lease.",
          "format": "google-duration",
          "type": "string"
        },
        "sourceOperationResponse": {
          "$ref": "SourceOperationResponse",
          "description": "If the work item represented a SourceOperationRequest, and the work is completed, contains the result of the operation."
        },
        "stopPosition": {
          "$ref": "Position",
          "description": "A worker may split an active map task in two parts, \"primary\" and \"residual\", continuing to process the primary part and returning the residual part into the pool of available work. This event is called a \"dynamic split\" and is critical to the dynamic work rebalancing feature. The two obtained sub-tasks are called \"parts\" of the split. The parts, if concatenated, must represent the same input as would be read by the current task if the split did not happen. The exact way in which the original task is decomposed into the two parts is specified either as a position demarcating them (stop_position), or explicitly as two DerivedSources, if this task consumes a user-defined source type (dynamic_source_split). The \"current\" task is adjusted as a result of the split: after a task with range [A, B) sends a stop_position update at C, its range is considered to be [A, C), e.g.: * Progress should be interpreted relative to the new range, e.g. \"75% completed\" means \"75% of [A, C) completed\" * The worker should interpret proposed_stop_position relative to the new range, e.g. \"split at 68%\" should be interpreted as \"split at 68% of [A, C)\". * If the worker chooses to split again using stop_position, only stop_positions in [A, C) will be accepted. * Etc. dynamic_source_split has similar semantics: e.g., if a task with source S splits using dynamic_source_split into {P, R} (where P and R must be together equivalent to S), then subsequent progress and proposed_stop_position should be interpreted relative to P, and in a potential subsequent dynamic_source_split into {P', R'}, P' and R' must be together equivalent to P, etc."
        },
        "workItemId": {
          "type": "string",
          "description": "Identifies the WorkItem."
        },
        "progress": {
          "description": "DEPRECATED in favor of reported_progress.",
          "$ref": "ApproximateProgress",
          "deprecated": true
        },
        "completed": {
          "description": "True if the WorkItem was completed (successfully or unsuccessfully).",
          "type": "boolean"
        },
        "reportedProgress": {
          "$ref": "ApproximateReportedProgress",
          "description": "The worker's progress through this WorkItem."
        },
        "totalThrottlerWaitTimeSeconds": {
          "type": "number",
          "description": "Total time the worker spent being throttled by external systems.",
          "format": "double"
        },
        "sourceFork": {
          "description": "DEPRECATED in favor of dynamic_source_split.",
          "deprecated": true,
          "$ref": "SourceFork"
        },
        "dynamicSourceSplit": {
          "description": "See documentation of stop_position.",
          "$ref": "DynamicSourceSplit"
        }
      },
      "description": "Conveys a worker's progress through the work described by a WorkItem."
    },
    "SendDebugCaptureResponse": {
      "properties": {},
      "id": "SendDebugCaptureResponse",
      "type": "object",
      "description": "Response to a send capture request. nothing"
    },
    "PubsubLocation": {
      "type": "object",
      "description": "Identifies a pubsub location to use for transferring data into or out of a streaming Dataflow job.",
      "id": "PubsubLocation",
      "properties": {
        "subscription": {
          "type": "string",
          "description": "A pubsub subscription, in the form of \"pubsub.googleapis.com/subscriptions//\""
        },
        "dropLateData": {
          "description": "Indicates whether the pipeline allows late-arriving data.",
          "type": "boolean"
        },
        "timestampLabel": {
          "description": "If set, contains a pubsub label from which to extract record timestamps. If left empty, record timestamps will be generated upon arrival.",
          "type": "string"
        },
        "topic": {
          "description": "A pubsub topic, in the form of \"pubsub.googleapis.com/topics//\"",
          "type": "string"
        },
        "withAttributes": {
          "description": "If true, then the client has requested to get pubsub attributes.",
          "type": "boolean"
        },
        "trackingSubscription": {
          "description": "If set, specifies the pubsub subscription that will be used for tracking custom time timestamps for watermark estimation.",
          "type": "string"
        },
        "dynamicDestinations": {
          "description": "If true, then this location represents dynamic topics.",
          "type": "boolean"
        },
        "idLabel": {
          "type": "string",
          "description": "If set, contains a pubsub label from which to extract record ids. If left empty, record deduplication will be strictly best effort."
        }
      }
    },
    "StreamingConfigTask": {
      "type": "object",
      "description": "A task that carries configuration information for streaming computations.",
      "properties": {
        "streamingComputationConfigs": {
          "description": "Set of computation configuration information.",
          "type": "array",
          "items": {
            "$ref": "StreamingComputationConfig"
          }
        },
        "windmillServicePort": {
          "description": "If present, the worker must use this port to communicate with Windmill Service dispatchers. Only applicable when windmill_service_endpoint is specified.",
          "type": "string",
          "format": "int64"
        },
        "userStepToStateFamilyNameMap": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Map from user step names to state families."
        },
        "streamingEngineStateTagEncodingVersion": {
          "type": "integer",
          "description": "Optional. The state tag encoding format version for streaming engine jobs.",
          "format": "int32"
        },
        "operationalLimits": {
          "$ref": "StreamingOperationalLimits",
          "description": "Operational limits for the streaming job. Can be used by the worker to validate outputs sent to the backend."
        },
        "commitStreamChunkSizeBytes": {
          "type": "string",
          "description": "Chunk size for commit streams from the harness to windmill.",
          "format": "int64"
        },
        "maxWorkItemCommitBytes": {
          "format": "int64",
          "type": "string",
          "description": "Maximum size for work item commit supported windmill storage layer."
        },
        "getDataStreamChunkSizeBytes": {
          "type": "string",
          "description": "Chunk size for get data streams from the harness to windmill.",
          "format": "int64"
        },
        "userWorkerRunnerV1Settings": {
          "description": "Binary encoded proto to control runtime behavior of the java runner v1 user worker.",
          "format": "byte",
          "type": "string"
        },
        "windmillServiceEndpoint": {
          "description": "If present, the worker must use this endpoint to communicate with Windmill Service dispatchers, otherwise the worker must continue to use whatever endpoint it had been using.",
          "type": "string"
        },
        "userWorkerRunnerV2Settings": {
          "description": "Binary encoded proto to control runtime behavior of the runner v2 user worker.",
          "format": "byte",
          "type": "string"
        }
      },
      "id": "StreamingConfigTask"
    },
    "StreamingStragglerInfo": {
      "id": "StreamingStragglerInfo",
      "properties": {
        "startTime": {
          "description": "Start time of this straggler.",
          "format": "google-datetime",
          "type": "string"
        },
        "workerName": {
          "type": "string",
          "description": "Name of the worker where the straggler was detected."
        },
        "endTime": {
          "description": "End time of this straggler.",
          "type": "string",
          "format": "google-datetime"
        },
        "dataWatermarkLag": {
          "format": "google-duration",
          "description": "The event-time watermark lag at the time of the straggler detection.",
          "type": "string"
        },
        "systemWatermarkLag": {
          "format": "google-duration",
          "description": "The system watermark lag at the time of the straggler detection.",
          "type": "string"
        }
      },
      "description": "Information useful for streaming straggler identification and debugging.",
      "type": "object"
    },
    "WorkerThreadScalingReport": {
      "type": "object",
      "description": "Contains information about the thread scaling information of a worker.",
      "properties": {
        "currentThreadCount": {
          "type": "integer",
          "description": "Current number of active threads in a worker.",
          "format": "int32"
        }
      },
      "id": "WorkerThreadScalingReport"
    },
    "ReportedParallelism": {
      "description": "Represents the level of parallelism in a WorkItem's input, reported by the worker.",
      "id": "ReportedParallelism",
      "type": "object",
      "properties": {
        "isInfinite": {
          "description": "Specifies whether the parallelism is infinite. If true, \"value\" is ignored. Infinite parallelism means the service will assume that the work item can always be split into more non-empty work items by dynamic splitting. This is a work-around for lack of support for infinity by the current JSON-based Java RPC stack.",
          "type": "boolean"
        },
        "value": {
          "description": "Specifies the level of parallelism in case it is finite.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "SendDebugCaptureRequest": {
      "properties": {
        "data": {
          "type": "string",
          "description": "The encoded debug information."
        },
        "dataFormat": {
          "enum": [
            "DATA_FORMAT_UNSPECIFIED",
            "RAW",
            "JSON",
            "ZLIB",
            "BROTLI"
          ],
          "description": "Format for the data field above (id=5).",
          "enumDescriptions": [
            "Format unspecified, parsing is determined based upon page type and legacy encoding. (go/protodosdonts#do-include-an-unspecified-value-in-an-enum)",
            "Raw HTML string.",
            "JSON-encoded string.",
            "Websafe encoded zlib-compressed string.",
            "Websafe encoded brotli-compressed string."
          ],
          "type": "string"
        },
        "componentId": {
          "description": "The internal component id for which debug information is sent.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id."
        },
        "workerId": {
          "type": "string",
          "description": "The worker id, i.e., VM hostname."
        }
      },
      "description": "Request to send encoded debug information. Next ID: 8",
      "id": "SendDebugCaptureRequest",
      "type": "object"
    },
    "Source": {
      "description": "A source that records can be read and decoded from.",
      "type": "object",
      "properties": {
        "codec": {
          "description": "The codec to use to decode data read from the source.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "doesNotNeedSplitting": {
          "type": "boolean",
          "description": "Setting this value to true hints to the framework that the source doesn't need splitting, and using SourceSplitRequest on it would yield SOURCE_SPLIT_OUTCOME_USE_CURRENT. E.g. a file splitter may set this to true when splitting a single file into a set of byte ranges of appropriate size, and set this to false when splitting a filepattern into individual files. However, for efficiency, a file splitter may decide to produce file subranges directly from the filepattern to avoid a splitting round-trip. See SourceSplitRequest for an overview of the splitting process. This field is meaningful only in the Source objects populated by the user (e.g. when filling in a DerivedSource). Source objects supplied by the framework to the user don't have this field populated."
        },
        "baseSpecs": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object.",
              "type": "any"
            }
          },
          "description": "While splitting, sources may specify the produced bundles as differences against another source, in order to save backend-side memory and allow bigger jobs. For details, see SourceSplitRequest. To support this use case, the full set of parameters of the source is logically obtained by taking the latest explicitly specified value of each parameter in the order: base_specs (later items win), spec (overrides anything in base_specs)."
        },
        "metadata": {
          "$ref": "SourceMetadata",
          "description": "Optionally, metadata for this source can be supplied right away, avoiding a SourceGetMetadataOperation roundtrip (see SourceOperationRequest). This field is meaningful only in the Source objects populated by the user (e.g. when filling in a DerivedSource). Source objects supplied by the framework to the user don't have this field populated."
        },
        "spec": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "The source to read from, plus its parameters."
        }
      },
      "id": "Source"
    },
    "SendWorkerMessagesRequest": {
      "type": "object",
      "id": "SendWorkerMessagesRequest",
      "properties": {
        "workerMessages": {
          "description": "The WorkerMessages to send.",
          "items": {
            "$ref": "WorkerMessage"
          },
          "type": "array"
        },
        "location": {
          "type": "string",
          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job."
        }
      },
      "description": "A request for sending worker messages to the service."
    },
    "WorkItemDetails": {
      "id": "WorkItemDetails",
      "description": "Information about an individual work item execution.",
      "type": "object",
      "properties": {
        "progress": {
          "$ref": "ProgressTimeseries",
          "description": "Progress of this work item."
        },
        "attemptId": {
          "description": "Attempt ID of this work item",
          "type": "string"
        },
        "taskId": {
          "type": "string",
          "description": "Name of this work item."
        },
        "stragglerInfo": {
          "description": "Information about straggler detections for this work item.",
          "$ref": "StragglerInfo"
        },
        "endTime": {
          "description": "End time of this work item attempt. If the work item is completed, this is the actual end time of the work item. Otherwise, it is the predicted end time.",
          "format": "google-datetime",
          "type": "string"
        },
        "metrics": {
          "items": {
            "$ref": "MetricUpdate"
          },
          "type": "array",
          "description": "Metrics for this work item."
        },
        "state": {
          "type": "string",
          "enum": [
            "EXECUTION_STATE_UNKNOWN",
            "EXECUTION_STATE_NOT_STARTED",
            "EXECUTION_STATE_RUNNING",
            "EXECUTION_STATE_SUCCEEDED",
            "EXECUTION_STATE_FAILED",
            "EXECUTION_STATE_CANCELLED"
          ],
          "description": "State of this work item.",
          "enumDescriptions": [
            "The component state is unknown or unspecified.",
            "The component is not yet running.",
            "The component is currently running.",
            "The component succeeded.",
            "The component failed.",
            "Execution of the component was cancelled."
          ]
        },
        "startTime": {
          "type": "string",
          "description": "Start time of this work item attempt.",
          "format": "google-datetime"
        }
      }
    },
    "ListSnapshotsResponse": {
      "description": "List of snapshots.",
      "id": "ListSnapshotsResponse",
      "properties": {
        "snapshots": {
          "type": "array",
          "description": "Returned snapshots.",
          "items": {
            "$ref": "Snapshot"
          }
        }
      },
      "type": "object"
    },
    "ComponentSource": {
      "type": "object",
      "id": "ComponentSource",
      "description": "Description of an interstitial value between transforms in an execution stage.",
      "properties": {
        "userName": {
          "description": "Human-readable name for this transform; may be user or system generated.",
          "type": "string"
        },
        "originalTransformOrCollection": {
          "description": "User name for the original user transform or collection with which this source is most closely associated.",
          "type": "string"
        },
        "name": {
          "description": "Dataflow service generated name for this source.",
          "type": "string"
        }
      }
    },
    "PerWorkerMetrics": {
      "description": "Per worker metrics.",
      "properties": {
        "perStepNamespaceMetrics": {
          "items": {
            "$ref": "PerStepNamespaceMetrics"
          },
          "description": "Optional. Metrics for a particular unfused step and namespace.",
          "type": "array"
        }
      },
      "id": "PerWorkerMetrics",
      "type": "object"
    },
    "ListJobsResponse": {
      "type": "object",
      "id": "ListJobsResponse",
      "properties": {
        "failedLocation": {
          "description": "Zero or more messages describing the [regional endpoints] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that failed to respond.",
          "type": "array",
          "items": {
            "$ref": "FailedLocation"
          }
        },
        "jobs": {
          "description": "A subset of the requested job information.",
          "type": "array",
          "items": {
            "$ref": "Job"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Set if there may be more results than fit in this response."
        }
      },
      "description": "Response to a request to list Cloud Dataflow jobs in a project. This might be a partial response, depending on the page size in the ListJobsRequest. However, if the project does not have any jobs, an instance of ListJobsResponse is not returned and the requests's response body is empty {}."
    },
    "FailedLocation": {
      "description": "Indicates which [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) failed to respond to a request for data.",
      "properties": {
        "name": {
          "description": "The name of the [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that failed to respond.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "FailedLocation"
    },
    "CounterStructuredName": {
      "properties": {
        "name": {
          "description": "Counter name. Not necessarily globally-unique, but unique within the context of the other fields. Required.",
          "type": "string"
        },
        "originNamespace": {
          "type": "string",
          "description": "A string containing a more specific namespace of the counter's origin."
        },
        "originalStepName": {
          "description": "System generated name of the original step in the user's graph, before optimization.",
          "type": "string"
        },
        "componentStepName": {
          "type": "string",
          "description": "Name of the optimized step being executed by the workers."
        },
        "inputIndex": {
          "type": "integer",
          "format": "int32",
          "description": "Index of an input collection that's being read from/written to as a side input. The index identifies a step's side inputs starting by 1 (e.g. the first side input has input_index 1, the third has input_index 3). Side inputs are identified by a pair of (original_step_name, input_index). This field helps uniquely identify them."
        },
        "originalRequestingStepName": {
          "description": "The step name requesting an operation, such as GBK. I.e. the ParDo causing a read/write from shuffle to occur, or a read from side inputs.",
          "type": "string"
        },
        "executionStepName": {
          "description": "Name of the stage. An execution step contains multiple component steps.",
          "type": "string"
        },
        "origin": {
          "enum": [
            "SYSTEM",
            "USER"
          ],
          "description": "One of the standard Origins defined above.",
          "enumDescriptions": [
            "Counter was created by the Dataflow system.",
            "Counter was created by the user."
          ],
          "type": "string"
        },
        "workerId": {
          "type": "string",
          "description": "ID of a particular worker."
        },
        "portion": {
          "type": "string",
          "description": "Portion of this counter, either key or value.",
          "enum": [
            "ALL",
            "KEY",
            "VALUE"
          ],
          "enumDescriptions": [
            "Counter portion has not been set.",
            "Counter reports a key.",
            "Counter reports a value."
          ]
        }
      },
      "id": "CounterStructuredName",
      "description": "Identifies a counter within a per-job namespace. Counters whose structured names are the same get merged into a single value for the job.",
      "type": "object"
    },
    "StageExecutionDetails": {
      "properties": {
        "nextPageToken": {
          "description": "If present, this response does not contain all requested tasks. To obtain the next page of results, repeat the request with page_token set to this value.",
          "type": "string"
        },
        "workers": {
          "items": {
            "$ref": "WorkerDetails"
          },
          "description": "Workers that have done work on the stage.",
          "type": "array"
        }
      },
      "id": "StageExecutionDetails",
      "description": "Information about the workers and work items within a stage.",
      "type": "object"
    },
    "TransformSummary": {
      "properties": {
        "outputCollectionName": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "User names for all collection outputs to this transform."
        },
        "name": {
          "description": "User provided name for this transform instance.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "SDK generated id of this transform instance."
        },
        "kind": {
          "description": "Type of transform.",
          "type": "string",
          "enumDescriptions": [
            "Unrecognized transform type.",
            "ParDo transform.",
            "Group By Key transform.",
            "Flatten transform.",
            "Read transform.",
            "Write transform.",
            "Constructs from a constant value, such as with Create.of.",
            "Creates a Singleton view of a collection.",
            "Opening or closing a shuffle session, often as part of a GroupByKey."
          ],
          "enum": [
            "UNKNOWN_KIND",
            "PAR_DO_KIND",
            "GROUP_BY_KEY_KIND",
            "FLATTEN_KIND",
            "READ_KIND",
            "WRITE_KIND",
            "CONSTANT_KIND",
            "SINGLETON_KIND",
            "SHUFFLE_KIND"
          ]
        },
        "displayData": {
          "type": "array",
          "items": {
            "$ref": "DisplayData"
          },
          "description": "Transform-specific display data."
        },
        "inputCollectionName": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "User names for all collection inputs to this transform."
        }
      },
      "id": "TransformSummary",
      "description": "Description of the type, names/ids, and input/outputs for a transform.",
      "type": "object"
    },
    "Position": {
      "properties": {
        "concatPosition": {
          "description": "CloudPosition is a concat position.",
          "$ref": "ConcatPosition"
        },
        "recordIndex": {
          "format": "int64",
          "description": "Position is a record index.",
          "type": "string"
        },
        "key": {
          "type": "string",
          "description": "Position is a string key, ordered lexicographically."
        },
        "byteOffset": {
          "description": "Position is a byte offset.",
          "format": "int64",
          "type": "string"
        },
        "shufflePosition": {
          "type": "string",
          "description": "CloudPosition is a base64 encoded BatchShufflePosition (with FIXED sharding)."
        },
        "end": {
          "description": "Position is past all other positions. Also useful for the end position of an unbounded range.",
          "type": "boolean"
        }
      },
      "id": "Position",
      "description": "Position defines a position within a collection of data. The value can be either the end position, a key (used with ordered collections), a byte offset, or a record index.",
      "type": "object"
    },
    "ReportWorkItemStatusRequest": {
      "properties": {
        "workItemStatuses": {
          "items": {
            "$ref": "WorkItemStatus"
          },
          "description": "The order is unimportant, except that the order of the WorkItemServiceState messages in the ReportWorkItemStatusResponse corresponds to the order of WorkItemStatus messages here.",
          "type": "array"
        },
        "projectNumber": {
          "format": "int64",
          "description": "Optional. The project number of the project which owns the WorkItem's job.",
          "type": "string"
        },
        "unifiedWorkerRequest": {
          "description": "Untranslated bag-of-bytes WorkProgressUpdateRequest from UnifiedWorker.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "workerId": {
          "description": "The ID of the worker reporting the WorkItem status. If this does not match the ID of the worker which the Dataflow service believes currently has the lease on the WorkItem, the report will be dropped (with an error response).",
          "type": "string"
        },
        "location": {
          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the WorkItem's job.",
          "type": "string"
        },
        "currentWorkerTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The current timestamp at the worker."
        }
      },
      "description": "Request to report the status of WorkItems.",
      "type": "object",
      "id": "ReportWorkItemStatusRequest"
    },
    "BucketOptions": {
      "type": "object",
      "description": "`BucketOptions` describes the bucket boundaries used in the histogram.",
      "id": "BucketOptions",
      "properties": {
        "exponential": {
          "$ref": "Base2Exponent",
          "description": "Bucket boundaries grow exponentially."
        },
        "linear": {
          "description": "Bucket boundaries grow linearly.",
          "$ref": "Linear"
        }
      }
    },
    "SnapshotJobRequest": {
      "type": "object",
      "description": "Request to create a snapshot of a job.",
      "properties": {
        "ttl": {
          "format": "google-duration",
          "type": "string",
          "description": "TTL for the snapshot."
        },
        "snapshotSources": {
          "type": "boolean",
          "description": "If true, perform snapshots for sources which support this."
        },
        "location": {
          "type": "string",
          "description": "The location that contains this job."
        },
        "description": {
          "type": "string",
          "description": "User specified description of the snapshot. Maybe empty."
        }
      },
      "id": "SnapshotJobRequest"
    },
    "LaunchFlexTemplateParameter": {
      "properties": {
        "containerSpecGcsPath": {
          "description": "Cloud Storage path to a file with json serialized ContainerSpec as content.",
          "type": "string"
        },
        "parameters": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The parameters for FlexTemplate. Ex. {\"num_workers\":\"5\"}"
        },
        "update": {
          "type": "boolean",
          "description": "Set this to true if you are sending a request to update a running streaming job. When set, the job name should be the same as the running job."
        },
        "jobName": {
          "description": "Required. The job name to use for the created job. For update job request, job name should be same as the existing running job.",
          "type": "string"
        },
        "transformNameMappings": {
          "description": "Use this to pass transform_name_mappings for streaming update jobs. Ex:{\"oldTransformName\":\"newTransformName\",...}'",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "containerSpec": {
          "$ref": "ContainerSpec",
          "description": "Spec about the container image to launch."
        },
        "environment": {
          "description": "The runtime environment for the FlexTemplate job",
          "$ref": "FlexTemplateRuntimeEnvironment"
        },
        "launchOptions": {
          "description": "Launch options for this flex template job. This is a common set of options across languages and templates. This should not be used to pass job parameters.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "LaunchFlexTemplateParameter",
      "description": "Launch FlexTemplate Parameter.",
      "type": "object"
    },
    "MetricUpdate": {
      "type": "object",
      "properties": {
        "set": {
          "type": "any",
          "description": "Worker-computed aggregate value for the \"Set\" aggregation kind. The only possible value type is a list of Values whose type can be Long, Double, String, or BoundedTrie according to the metric's type. All Values in the list must be of the same type."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Timestamp associated with the metric value. Optional when workers are reporting work progress; it will be filled in responses from the metrics API.",
          "type": "string"
        },
        "boundedTrie": {
          "description": "Worker-computed aggregate value for the \"Trie\" aggregation kind. The only possible value type is a BoundedTrieNode. Introduced this field to avoid breaking older SDKs when Dataflow service starts to populate the `bounded_trie` field.",
          "type": "any"
        },
        "internal": {
          "type": "any",
          "description": "Worker-computed aggregate value for internal use by the Dataflow service."
        },
        "gauge": {
          "type": "any",
          "description": "A struct value describing properties of a Gauge. Metrics of gauge type show the value of a metric across time, and is aggregated based on the newest value."
        },
        "scalar": {
          "description": "Worker-computed aggregate value for aggregation kinds \"Sum\", \"Max\", \"Min\", \"And\", and \"Or\". The possible value types are Long, Double, and Boolean.",
          "type": "any"
        },
        "cumulative": {
          "description": "True if this metric is reported as the total cumulative aggregate value accumulated since the worker started working on this WorkItem. By default this is false, indicating that this metric is reported as a delta that is not associated with any WorkItem.",
          "type": "boolean"
        },
        "meanSum": {
          "description": "Worker-computed aggregate value for the \"Mean\" aggregation kind. This holds the sum of the aggregated values and is used in combination with mean_count below to obtain the actual mean aggregate value. The only possible value types are Long and Double.",
          "type": "any"
        },
        "kind": {
          "type": "string",
          "description": "Metric aggregation kind. The possible metric aggregation kinds are \"Sum\", \"Max\", \"Min\", \"Mean\", \"Set\", \"And\", \"Or\", and \"Distribution\". The specified aggregation kind is case-insensitive. If omitted, this is not an aggregated value but instead a single metric sample value."
        },
        "trie": {
          "type": "any",
          "description": "Worker-computed aggregate value for the \"Trie\" aggregation kind. The only possible value type is a BoundedTrieNode."
        },
        "meanCount": {
          "type": "any",
          "description": "Worker-computed aggregate value for the \"Mean\" aggregation kind. This holds the count of the aggregated values and is used in combination with mean_sum above to obtain the actual mean aggregate value. The only possible value type is Long."
        },
        "distribution": {
          "type": "any",
          "description": "A struct value describing properties of a distribution of numeric values."
        },
        "name": {
          "description": "Name of the metric.",
          "$ref": "MetricStructuredName"
        }
      },
      "id": "MetricUpdate",
      "description": "Describes the state of a metric."
    },
    "ListJobMessagesResponse": {
      "properties": {
        "jobMessages": {
          "description": "Messages in ascending timestamp order.",
          "items": {
            "$ref": "JobMessage"
          },
          "type": "array"
        },
        "autoscalingEvents": {
          "description": "Autoscaling events in ascending timestamp order.",
          "type": "array",
          "items": {
            "$ref": "AutoscalingEvent"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token to obtain the next page of results if there are more."
        }
      },
      "type": "object",
      "id": "ListJobMessagesResponse",
      "description": "Response to a request to list job messages."
    },
    "GPUUsage": {
      "properties": {
        "timestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. Timestamp of the measurement."
        },
        "utilization": {
          "description": "Required. Utilization info about the GPU.",
          "$ref": "GPUUtilization"
        }
      },
      "id": "GPUUsage",
      "description": "Information about the GPU usage on the worker.",
      "type": "object"
    },
    "ParDoInstruction": {
      "id": "ParDoInstruction",
      "properties": {
        "userFn": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "The user function to invoke.",
          "type": "object"
        },
        "numOutputs": {
          "type": "integer",
          "format": "int32",
          "description": "The number of outputs."
        },
        "input": {
          "description": "The input.",
          "$ref": "InstructionInput"
        },
        "sideInputs": {
          "type": "array",
          "items": {
            "$ref": "SideInputInfo"
          },
          "description": "Zero or more side inputs."
        },
        "multiOutputInfos": {
          "items": {
            "$ref": "MultiOutputInfo"
          },
          "type": "array",
          "description": "Information about each of the outputs, if user_fn is a MultiDoFn."
        }
      },
      "description": "An instruction that does a ParDo operation. Takes one main input and zero or more side inputs, and produces zero or more outputs. Runs user code.",
      "type": "object"
    },
    "HotKeyDetection": {
      "id": "HotKeyDetection",
      "description": "Proto describing a hot key detected on a given WorkItem.",
      "type": "object",
      "properties": {
        "systemName": {
          "type": "string",
          "description": "System-defined name of the step containing this hot key. Unique across the workflow."
        },
        "hotKeyAge": {
          "description": "The age of the hot key measured from when it was first detected.",
          "type": "string",
          "format": "google-duration"
        },
        "userStepName": {
          "description": "User-provided name of the step that contains this hot key.",
          "type": "string"
        }
      }
    },
    "ApproximateSplitRequest": {
      "properties": {
        "position": {
          "$ref": "Position",
          "description": "A Position at which to split the work item."
        },
        "fractionOfRemainder": {
          "format": "double",
          "description": "The fraction of the remainder of work to split the work item at, from 0.0 (split at the current position) to 1.0 (end of the input).",
          "type": "number"
        },
        "fractionConsumed": {
          "description": "A fraction at which to split the work item, from 0.0 (beginning of the input) to 1.0 (end of the input).",
          "format": "double",
          "type": "number"
        }
      },
      "type": "object",
      "id": "ApproximateSplitRequest",
      "description": "A suggestion by the service to the worker to dynamically split the WorkItem."
    },
    "SourceSplitOptions": {
      "properties": {
        "desiredShardSizeBytes": {
          "description": "DEPRECATED in favor of desired_bundle_size_bytes.",
          "deprecated": true,
          "type": "string",
          "format": "int64"
        },
        "desiredBundleSizeBytes": {
          "description": "The source should be split into a set of bundles where the estimated size of each is approximately this many bytes.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "SourceSplitOptions",
      "description": "Hints for splitting a Source into bundles (parts for parallel processing) using SourceSplitRequest."
    },
    "WorkerThreadScalingReportResponse": {
      "description": "Contains the thread scaling recommendation for a worker from the backend.",
      "properties": {
        "recommendedThreadCount": {
          "type": "integer",
          "description": "Recommended number of threads for a worker.",
          "format": "int32"
        }
      },
      "id": "WorkerThreadScalingReportResponse",
      "type": "object"
    },
    "ExecutionStageState": {
      "description": "A message describing the state of a particular execution stage.",
      "properties": {
        "executionStageState": {
          "enum": [
            "JOB_STATE_UNKNOWN",
            "JOB_STATE_STOPPED",
            "JOB_STATE_RUNNING",
            "JOB_STATE_DONE",
            "JOB_STATE_FAILED",
            "JOB_STATE_CANCELLED",
            "JOB_STATE_UPDATED",
            "JOB_STATE_DRAINING",
            "JOB_STATE_DRAINED",
            "JOB_STATE_PENDING",
            "JOB_STATE_CANCELLING",
            "JOB_STATE_QUEUED",
            "JOB_STATE_RESOURCE_CLEANING_UP",
            "JOB_STATE_PAUSING",
            "JOB_STATE_PAUSED"
          ],
          "enumDescriptions": [
            "The job's run state isn't specified.",
            "`JOB_STATE_STOPPED` indicates that the job has not yet started to run.",
            "`JOB_STATE_RUNNING` indicates that the job is currently running.",
            "`JOB_STATE_DONE` indicates that the job has successfully completed. This is a terminal job state. This state may be set by the Cloud Dataflow service, as a transition from `JOB_STATE_RUNNING`. It may also be set via a Cloud Dataflow `UpdateJob` call, if the job has not yet reached a terminal state.",
            "`JOB_STATE_FAILED` indicates that the job has failed. This is a terminal job state. This state may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_RUNNING`.",
            "`JOB_STATE_CANCELLED` indicates that the job has been explicitly cancelled. This is a terminal job state. This state may only be set via a Cloud Dataflow `UpdateJob` call, and only if the job has not yet reached another terminal state.",
            "`JOB_STATE_UPDATED` indicates that the job was successfully updated, meaning that this job was stopped and another job was started, inheriting state from this one. This is a terminal job state. This state may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_RUNNING`.",
            "`JOB_STATE_DRAINING` indicates that the job is in the process of draining. A draining job has stopped pulling from its input sources and is processing any data that remains in-flight. This state may be set via a Cloud Dataflow `UpdateJob` call, but only as a transition from `JOB_STATE_RUNNING`. Jobs that are draining may only transition to `JOB_STATE_DRAINED`, `JOB_STATE_CANCELLED`, or `JOB_STATE_FAILED`.",
            "`JOB_STATE_DRAINED` indicates that the job has been drained. A drained job terminated by stopping pulling from its input sources and processing any data that remained in-flight when draining was requested. This state is a terminal state, may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_DRAINING`.",
            "`JOB_STATE_PENDING` indicates that the job has been created but is not yet running. Jobs that are pending may only transition to `JOB_STATE_RUNNING`, or `JOB_STATE_FAILED`.",
            "`JOB_STATE_CANCELLING` indicates that the job has been explicitly cancelled and is in the process of stopping. Jobs that are cancelling may only transition to `JOB_STATE_CANCELLED` or `JOB_STATE_FAILED`.",
            "`JOB_STATE_QUEUED` indicates that the job has been created but is being delayed until launch. Jobs that are queued may only transition to `JOB_STATE_PENDING` or `JOB_STATE_CANCELLED`.",
            "`JOB_STATE_RESOURCE_CLEANING_UP` indicates that the batch job's associated resources are currently being cleaned up after a successful run. Currently, this is an opt-in feature, please reach out to Cloud support team if you are interested.",
            "`JOB_STATE_PAUSING` indicates that the job is in the process of pausing. A pausing job will stop processing, archive in-flight Shuffle data, and transition to `JOB_STATE_PAUSED`. Jobs in this state can transition to `JOB_STATE_CANCELLING` if cancellation is requested, or can transition back to `JOB_STATE_RUNNING` if the pause fails to complete.",
            "`JOB_STATE_PAUSED` indicates that the job is not currently processing. Jobs in this state can transition back to `JOB_STATE_RUNNING` to continue processing where they left off, or can transition to `JOB_STATE_CANCELLING` if cancellation is requested."
          ],
          "description": "Executions stage states allow the same set of values as JobState.",
          "type": "string"
        },
        "currentStateTime": {
          "description": "The time at which the stage transitioned to this state.",
          "format": "google-datetime",
          "type": "string"
        },
        "executionStageName": {
          "description": "The name of the execution stage.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ExecutionStageState"
    },
    "BoundedTrieNode": {
      "description": "A single node in a BoundedTrie.",
      "type": "object",
      "id": "BoundedTrieNode",
      "properties": {
        "truncated": {
          "description": "Whether this node has been truncated. A truncated leaf represents possibly many children with the same prefix.",
          "type": "boolean"
        },
        "children": {
          "type": "object",
          "description": "Children of this node. Must be empty if truncated is true.",
          "additionalProperties": {
            "$ref": "BoundedTrieNode"
          }
        }
      }
    },
    "ExecutionStageSummary": {
      "id": "ExecutionStageSummary",
      "description": "Description of the composing transforms, names/ids, and input/outputs of a stage of execution. Some composing transforms and sources may have been generated by the Dataflow service during execution planning.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Dataflow service generated name for this stage.",
          "type": "string"
        },
        "componentTransform": {
          "type": "array",
          "description": "Transforms that comprise this execution stage.",
          "items": {
            "$ref": "ComponentTransform"
          }
        },
        "id": {
          "type": "string",
          "description": "Dataflow service generated id for this stage."
        },
        "inputSource": {
          "type": "array",
          "items": {
            "$ref": "StageSource"
          },
          "description": "Input sources for this stage."
        },
        "outputSource": {
          "type": "array",
          "description": "Output sources for this stage.",
          "items": {
            "$ref": "StageSource"
          }
        },
        "kind": {
          "enum": [
            "UNKNOWN_KIND",
            "PAR_DO_KIND",
            "GROUP_BY_KEY_KIND",
            "FLATTEN_KIND",
            "READ_KIND",
            "WRITE_KIND",
            "CONSTANT_KIND",
            "SINGLETON_KIND",
            "SHUFFLE_KIND"
          ],
          "description": "Type of transform this stage is executing.",
          "type": "string",
          "enumDescriptions": [
            "Unrecognized transform type.",
            "ParDo transform.",
            "Group By Key transform.",
            "Flatten transform.",
            "Read transform.",
            "Write transform.",
            "Constructs from a constant value, such as with Create.of.",
            "Creates a Singleton view of a collection.",
            "Opening or closing a shuffle session, often as part of a GroupByKey."
          ]
        },
        "componentSource": {
          "items": {
            "$ref": "ComponentSource"
          },
          "type": "array",
          "description": "Collections produced and consumed by component transforms of this stage."
        },
        "prerequisiteStage": {
          "items": {
            "type": "string"
          },
          "description": "Other stages that must complete before this stage can run.",
          "type": "array"
        }
      }
    },
    "Parameters": {
      "type": "object",
      "id": "Parameters",
      "properties": {
        "maxWorkerCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The maximum number of workers for this schedule."
        },
        "cpuUtilizationTarget": {
          "description": "Optional. The target CPU utilization for this schedule.",
          "type": "number",
          "format": "double"
        },
        "latencyTarget": {
          "description": "Optional. The target latency for this schedule.",
          "type": "string"
        },
        "minWorkerCount": {
          "description": "Optional. The minimum number of workers for this schedule.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "The parameters to use for autoscaling when this schedule is active."
    },
    "CreateJobFromTemplateRequest": {
      "type": "object",
      "description": "A request to create a Cloud Dataflow job from a template.",
      "properties": {
        "gcsPath": {
          "type": "string",
          "description": "Required. A Cloud Storage path to the template from which to create the job. Must be a valid Cloud Storage URL, beginning with `gs://`."
        },
        "parameters": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The runtime parameters to pass to the job."
        },
        "location": {
          "type": "string",
          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request."
        },
        "environment": {
          "$ref": "RuntimeEnvironment",
          "description": "The runtime environment for the job."
        },
        "jobName": {
          "description": "Required. The job name to use for the created job.",
          "type": "string"
        }
      },
      "id": "CreateJobFromTemplateRequest"
    },
    "FloatingPointMean": {
      "id": "FloatingPointMean",
      "type": "object",
      "description": "A representation of a floating point mean metric contribution.",
      "properties": {
        "count": {
          "description": "The number of values being aggregated.",
          "$ref": "SplitInt64"
        },
        "sum": {
          "format": "double",
          "description": "The sum of all values being aggregated.",
          "type": "number"
        }
      }
    },
    "WorkItem": {
      "description": "WorkItem represents basic information about a WorkItem to be executed in the cloud.",
      "properties": {
        "reportStatusInterval": {
          "description": "Recommended reporting interval.",
          "format": "google-duration",
          "type": "string"
        },
        "leaseExpireTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time when the lease on this Work will expire."
        },
        "seqMapTask": {
          "$ref": "SeqMapTask",
          "description": "Additional information for SeqMapTask WorkItems."
        },
        "projectId": {
          "type": "string",
          "description": "Identifies the cloud project this WorkItem belongs to."
        },
        "streamingSetupTask": {
          "description": "Additional information for StreamingSetupTask WorkItems.",
          "$ref": "StreamingSetupTask"
        },
        "shellTask": {
          "description": "Additional information for ShellTask WorkItems.",
          "$ref": "ShellTask"
        },
        "initialReportIndex": {
          "description": "The initial index to use when reporting the status of the WorkItem.",
          "type": "string",
          "format": "int64"
        },
        "packages": {
          "type": "array",
          "description": "Any required packages that need to be fetched in order to execute this WorkItem.",
          "items": {
            "$ref": "Package"
          }
        },
        "configuration": {
          "description": "Work item-specific configuration as an opaque blob.",
          "type": "string"
        },
        "streamingComputationTask": {
          "description": "Additional information for StreamingComputationTask WorkItems.",
          "$ref": "StreamingComputationTask"
        },
        "id": {
          "type": "string",
          "format": "int64",
          "description": "Identifies this WorkItem."
        },
        "streamingConfigTask": {
          "description": "Additional information for StreamingConfigTask WorkItems.",
          "$ref": "StreamingConfigTask"
        },
        "sourceOperationTask": {
          "description": "Additional information for source operation WorkItems.",
          "$ref": "SourceOperationRequest"
        },
        "jobId": {
          "type": "string",
          "description": "Identifies the workflow job this WorkItem belongs to."
        },
        "mapTask": {
          "description": "Additional information for MapTask WorkItems.",
          "$ref": "MapTask"
        }
      },
      "type": "object",
      "id": "WorkItem"
    },
    "AutoscalingSchedule": {
      "properties": {
        "name": {
          "description": "Optional. The name of the schedule.",
          "type": "string"
        },
        "crontab": {
          "description": "Optional. A crontab specification of when this schedule should trigger applying overrides. The overrides will be applied from the trigger time until the specified duration elapses.",
          "type": "string"
        },
        "timeZone": {
          "type": "string",
          "description": "Optional. The time zone for the schedule. The value of this field must be a time zone name from the [tz database](http://en.wikipedia.org/wiki/Tz_database). The default value is UTC."
        },
        "priority": {
          "description": "Optional. Specifies the priority of the schedule. If two schedules overlap, the one with the higher priority will be used. The higher the value, the higher the priority of the schedule.",
          "type": "string",
          "format": "int64"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. When the customer last updated the schedule."
        },
        "parameters": {
          "description": "Optional. The parameters to use for autoscaling when this schedule is active.",
          "$ref": "Parameters"
        },
        "duration": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. The duration for which the parameter overrides for this schedule will be applied when triggered by the crontab."
        }
      },
      "type": "object",
      "id": "AutoscalingSchedule",
      "description": "A schedule for autoscaling."
    },
    "InstructionOutput": {
      "id": "InstructionOutput",
      "type": "object",
      "properties": {
        "name": {
          "description": "The user-provided name of this output.",
          "type": "string"
        },
        "onlyCountValueBytes": {
          "type": "boolean",
          "description": "For system-generated byte and mean byte metrics, certain instructions should only report the value size."
        },
        "onlyCountKeyBytes": {
          "type": "boolean",
          "description": "For system-generated byte and mean byte metrics, certain instructions should only report the key size."
        },
        "originalName": {
          "type": "string",
          "description": "System-defined name for this output in the original workflow graph. Outputs that do not contribute to an original instruction do not set this."
        },
        "codec": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "The codec to use to encode data being written via this output.",
          "type": "object"
        },
        "systemName": {
          "description": "System-defined name of this output. Unique across the workflow.",
          "type": "string"
        }
      },
      "description": "An output of an instruction."
    },
    "DerivedSource": {
      "description": "Specification of one of the bundles produced as a result of splitting a Source (e.g. when executing a SourceSplitRequest, or when splitting an active task using WorkItemStatus.dynamic_source_split), relative to the source being split.",
      "id": "DerivedSource",
      "properties": {
        "derivationMode": {
          "enum": [
            "SOURCE_DERIVATION_MODE_UNKNOWN",
            "SOURCE_DERIVATION_MODE_INDEPENDENT",
            "SOURCE_DERIVATION_MODE_CHILD_OF_CURRENT",
            "SOURCE_DERIVATION_MODE_SIBLING_OF_CURRENT"
          ],
          "enumDescriptions": [
            "The source derivation is unknown, or unspecified.",
            "Produce a completely independent Source with no base.",
            "Produce a Source based on the Source being split.",
            "Produce a Source based on the base of the Source being split."
          ],
          "description": "What source to base the produced source on (if any).",
          "type": "string"
        },
        "source": {
          "description": "Specification of the source.",
          "$ref": "Source"
        }
      },
      "type": "object"
    },
    "Stack": {
      "id": "Stack",
      "properties": {
        "timestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp at which the stack was captured."
        },
        "threadName": {
          "description": "Thread name. For example, \"CommitThread-0,10,main\"",
          "type": "string"
        },
        "threadCount": {
          "type": "integer",
          "format": "int32",
          "description": "With java thread dumps we may get collapsed stacks e.g., N threads in stack \"\". Instead of having to copy over the same stack trace N times, this int field captures this."
        },
        "stackContent": {
          "type": "string",
          "description": "The raw stack trace."
        },
        "threadState": {
          "type": "string",
          "description": "The state of the thread. For example, \"WAITING\"."
        }
      },
      "description": "A structuredstacktrace for a process running on the worker.",
      "type": "object"
    },
    "JobMessage": {
      "type": "object",
      "properties": {
        "time": {
          "description": "The timestamp of the message.",
          "format": "google-datetime",
          "type": "string"
        },
        "messageImportance": {
          "enum": [
            "JOB_MESSAGE_IMPORTANCE_UNKNOWN",
            "JOB_MESSAGE_DEBUG",
            "JOB_MESSAGE_DETAILED",
            "JOB_MESSAGE_BASIC",
            "JOB_MESSAGE_WARNING",
            "JOB_MESSAGE_ERROR"
          ],
          "description": "Importance level of the message.",
          "type": "string",
          "enumDescriptions": [
            "The message importance isn't specified, or is unknown.",
            "The message is at the 'debug' level: typically only useful for software engineers working on the code the job is running. Typically, Dataflow pipeline runners do not display log messages at this level by default.",
            "The message is at the 'detailed' level: somewhat verbose, but potentially useful to users. Typically, Dataflow pipeline runners do not display log messages at this level by default. These messages are displayed by default in the Dataflow monitoring UI.",
            "The message is at the 'basic' level: useful for keeping track of the execution of a Dataflow pipeline. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI.",
            "The message is at the 'warning' level: indicating a condition pertaining to a job which may require human intervention. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI.",
            "The message is at the 'error' level: indicating a condition preventing a job from succeeding. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI."
          ]
        },
        "id": {
          "description": "Deprecated.",
          "type": "string"
        },
        "messageText": {
          "type": "string",
          "description": "The text of the message."
        }
      },
      "description": "A particular message pertaining to a Dataflow job.",
      "id": "JobMessage"
    },
    "Base2Exponent": {
      "id": "Base2Exponent",
      "type": "object",
      "properties": {
        "scale": {
          "description": "Must be between -3 and 3. This forces the growth factor of the bucket boundaries to be between `2^(1/8)` and `256`.",
          "type": "integer",
          "format": "int32"
        },
        "numberOfBuckets": {
          "format": "int32",
          "type": "integer",
          "description": "Must be greater than 0."
        }
      },
      "description": "Exponential buckets where the growth factor between buckets is `2**(2**-scale)`. e.g. for `scale=1` growth factor is `2**(2**(-1))=sqrt(2)`. `n` buckets will have the following boundaries. - 0th: [0, gf) - i in [1, n-1]: [gf^(i), gf^(i+1))"
    },
    "Sdk": {
      "type": "object",
      "id": "Sdk",
      "properties": {
        "stacks": {
          "description": "The stacktraces for the processes running on the SDK harness.",
          "items": {
            "$ref": "Stack"
          },
          "type": "array"
        },
        "sdkId": {
          "description": "The SDK harness id.",
          "type": "string"
        }
      },
      "description": "A structured representation of an SDK."
    },
    "WorkerMessageCode": {
      "id": "WorkerMessageCode",
      "type": "object",
      "properties": {
        "parameters": {
          "type": "object",
          "description": "Parameters contains specific information about the code. This is a struct to allow parameters of different types. Examples: 1. For a \"HARNESS_STARTED\" message parameters might provide the name of the worker and additional data like timing information. 2. For a \"GCS_DOWNLOAD_ERROR\" parameters might contain fields listing the Cloud Storage objects being downloaded and fields containing errors. In general complex data structures should be avoided. If a worker needs to send a specific and complicated data structure then please consider defining a new proto and adding it to the data oneof in WorkerMessageResponse. Conventions: Parameters should only be used for information that isn't typically passed as a label. hostname and other worker identifiers should almost always be passed as labels since they will be included on most messages.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "code": {
          "description": "The code is a string intended for consumption by a machine that identifies the type of message being sent. Examples: 1. \"HARNESS_STARTED\" might be used to indicate the worker harness has started. 2. \"GCS_DOWNLOAD_ERROR\" might be used to indicate an error downloading a Cloud Storage file as part of the boot process of one of the worker containers. This is a string and not an enum to make it easy to add new codes without waiting for an API change.",
          "type": "string"
        }
      },
      "description": "A message code is used to report status and error messages to the service. The message codes are intended to be machine readable. The service will take care of translating these into user understandable messages if necessary. Example use cases: 1. Worker processes reporting successful startup. 2. Worker processes reporting specific errors (e.g. package staging failure)."
    },
    "WorkerHealthReport": {
      "id": "WorkerHealthReport",
      "properties": {
        "msg": {
          "description": "Message describing any unusual health reports.",
          "type": "string"
        },
        "vmIsBroken": {
          "description": "Whether the VM is in a permanently broken state. Broken VMs should be abandoned or deleted ASAP to avoid assigning or completing any work.",
          "type": "boolean"
        },
        "vmBrokenCode": {
          "type": "string",
          "description": "Code to describe a specific reason, if known, that a VM has reported broken state."
        },
        "vmIsHealthy": {
          "description": "Whether the VM is currently healthy.",
          "type": "boolean"
        },
        "reportInterval": {
          "description": "The interval at which the worker is sending health reports. The default value of 0 should be interpreted as the field is not being explicitly set by the worker.",
          "format": "google-duration",
          "type": "string"
        },
        "vmStartupTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time the VM was booted."
        },
        "pods": {
          "type": "array",
          "description": "The pods running on the worker. See: http://kubernetes.io/v1.1/docs/api-reference/v1/definitions.html#_v1_pod This field is used by the worker to send the status of the indvidual containers running on each worker.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object."
            }
          }
        }
      },
      "description": "WorkerHealthReport contains information about the health of a worker. The VM should be identified by the labels attached to the WorkerMessage that this health ping belongs to.",
      "type": "object"
    },
    "StreamingComputationTask": {
      "type": "object",
      "properties": {
        "taskType": {
          "enum": [
            "STREAMING_COMPUTATION_TASK_UNKNOWN",
            "STREAMING_COMPUTATION_TASK_STOP",
            "STREAMING_COMPUTATION_TASK_START"
          ],
          "type": "string",
          "description": "A type of streaming computation task.",
          "enumDescriptions": [
            "The streaming computation task is unknown, or unspecified.",
            "Stop processing specified streaming computation range(s).",
            "Start processing specified streaming computation range(s)."
          ]
        },
        "dataDisks": {
          "description": "Describes the set of data disks this task should apply to.",
          "items": {
            "$ref": "MountedDataDisk"
          },
          "type": "array"
        },
        "computationRanges": {
          "type": "array",
          "items": {
            "$ref": "StreamingComputationRanges"
          },
          "description": "Contains ranges of a streaming computation this task should apply to."
        }
      },
      "id": "StreamingComputationTask",
      "description": "A task which describes what action should be performed for the specified streaming computation ranges."
    },
    "FlexTemplateRuntimeEnvironment": {
      "description": "The environment values to be set at runtime for flex template.",
      "id": "FlexTemplateRuntimeEnvironment",
      "properties": {
        "maxWorkers": {
          "description": "The maximum number of Google Compute Engine instances to be made available to your pipeline during execution, from 1 to 1000.",
          "format": "int32",
          "type": "integer"
        },
        "network": {
          "description": "Network to which VMs will be assigned. If empty or unspecified, the service will use the network \"default\".",
          "type": "string"
        },
        "flexrsGoal": {
          "type": "string",
          "enumDescriptions": [
            "Run in the default mode.",
            "Optimize for lower execution time.",
            "Optimize for lower cost."
          ],
          "enum": [
            "FLEXRS_UNSPECIFIED",
            "FLEXRS_SPEED_OPTIMIZED",
            "FLEXRS_COST_OPTIMIZED"
          ],
          "description": "Set FlexRS goal for the job. https://cloud.google.com/dataflow/docs/guides/flexrs"
        },
        "diskSizeGb": {
          "type": "integer",
          "description": "Worker disk size, in gigabytes.",
          "format": "int32"
        },
        "additionalUserLabels": {
[...]
