{
  "batchPath": "batch",
  "baseUrl": "https://datastream.googleapis.com/",
  "ownerName": "Google",
  "servicePath": "",
  "parameters": {
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    }
  },
  "rootUrl": "https://datastream.googleapis.com/",
  "revision": "20260818",
  "ownerDomain": "google.com",
  "basePath": "",
  "mtlsRootUrl": "https://datastream.mtls.googleapis.com/",
  "description": "",
  "discoveryVersion": "v1",
  "id": "datastream:v1",
  "documentationLink": "https://cloud.google.com/datastream/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "schemas": {
    "Error": {
      "id": "Error",
      "description": "Represent a user-facing Error.",
      "properties": {
        "message": {
          "description": "A message containing more information about the error that occurred.",
          "type": "string"
        },
        "errorUuid": {
          "description": "A unique identifier for this specific error, allowing it to be traced throughout the system in logs and API responses.",
          "type": "string"
        },
        "errorTime": {
          "type": "string",
          "description": "The time when the error occurred.",
          "format": "google-datetime"
        },
        "details": {
          "description": "Additional information about the error.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "reason": {
          "description": "A title that explains the reason for the error.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TimeUnitPartition": {
      "description": "Time unit column partitioning. see https://cloud.google.com/bigquery/docs/partitioned-tables#date_timestamp_partitioned_tables",
      "id": "TimeUnitPartition",
      "type": "object",
      "properties": {
        "column": {
          "type": "string",
          "description": "Required. The partitioning column."
        },
        "partitioningTimeGranularity": {
          "enumDescriptions": [
            "Unspecified partitioing interval.",
            "Hourly partitioning.",
            "Daily partitioning.",
            "Monthly partitioning.",
            "Yearly partitioning."
          ],
          "enum": [
            "PARTITIONING_TIME_GRANULARITY_UNSPECIFIED",
            "PARTITIONING_TIME_GRANULARITY_HOUR",
            "PARTITIONING_TIME_GRANULARITY_DAY",
            "PARTITIONING_TIME_GRANULARITY_MONTH",
            "PARTITIONING_TIME_GRANULARITY_YEAR"
          ],
          "type": "string",
          "description": "Optional. Partition granularity."
        }
      }
    },
    "EncryptionNotEnforced": {
      "properties": {},
      "type": "object",
      "id": "EncryptionNotEnforced",
      "description": "Message to represent the option where encryption is not enforced. An empty message right now to allow future extensibility."
    },
    "HostAddress": {
      "id": "HostAddress",
      "type": "object",
      "properties": {
        "hostname": {
          "type": "string",
          "description": "Required. Hostname for the connection."
        },
        "port": {
          "format": "int32",
          "description": "Optional. Port for the connection.",
          "type": "integer"
        }
      },
      "description": "A HostAddress represents a transport end point, which is the combination of an IP address or hostname and a port number."
    },
    "Link": {
      "description": "Describes a URL link.",
      "properties": {
        "url": {
          "type": "string",
          "description": "The URL of the link."
        },
        "description": {
          "description": "Describes what the link offers.",
          "type": "string"
        }
      },
      "id": "Link",
      "type": "object"
    },
    "MysqlColumn": {
      "description": "MySQL Column.",
      "type": "object",
      "id": "MysqlColumn",
      "properties": {
        "dataType": {
          "type": "string",
          "description": "The MySQL data type. Full data types list can be found here: https://dev.mysql.com/doc/refman/8.0/en/data-types.html"
        },
        "length": {
          "format": "int32",
          "description": "Column length.",
          "type": "integer"
        },
        "nullable": {
          "description": "Whether or not the column can accept a null value.",
          "type": "boolean"
        },
        "primaryKey": {
          "type": "boolean",
          "description": "Whether or not the column represents a primary key."
        },
        "column": {
          "description": "The column name.",
          "type": "string"
        },
        "precision": {
          "type": "integer",
          "format": "int32",
          "description": "Column precision."
        },
        "ordinalPosition": {
          "description": "The ordinal position of the column in the table.",
          "type": "integer",
          "format": "int32"
        },
        "collation": {
          "description": "Column collation.",
          "type": "string"
        },
        "scale": {
          "format": "int32",
          "description": "Column scale.",
          "type": "integer"
        }
      }
    },
    "ForwardSshTunnelConnectivity": {
      "type": "object",
      "description": "Forward SSH Tunnel connectivity.",
      "properties": {
        "hostname": {
          "type": "string",
          "description": "Required. Hostname for the SSH tunnel."
        },
        "privateKey": {
          "type": "string",
          "description": "Input only. SSH private key."
        },
        "username": {
          "type": "string",
          "description": "Required. Username for the SSH tunnel."
        },
        "password": {
          "description": "Input only. SSH password.",
          "type": "string"
        },
        "port": {
          "description": "Port for the SSH tunnel, default value is 22.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "ForwardSshTunnelConnectivity"
    },
    "PostgresqlSslConfig": {
      "description": "PostgreSQL SSL configuration information.",
      "id": "PostgresqlSslConfig",
      "properties": {
        "serverVerification": {
          "$ref": "ServerVerification",
          "description": " If this field is set, the communication will be encrypted with TLS encryption and the server identity will be authenticated."
        },
        "serverAndClientVerification": {
          "$ref": "ServerAndClientVerification",
          "description": "If this field is set, the communication will be encrypted with TLS encryption and both the server identity and the client identity will be authenticated."
        }
      },
      "type": "object"
    },
    "PreconditionFailure": {
      "id": "PreconditionFailure",
      "properties": {
        "violations": {
          "type": "array",
          "description": "Describes all precondition violations.",
          "items": {
            "$ref": "PreconditionFailureViolation"
          }
        }
      },
      "description": "Describes what preconditions have failed. For example, if an RPC failed because it required the Terms of Service to be acknowledged, it could list the terms of service violation in the PreconditionFailure message.",
      "type": "object"
    },
    "BadRequest": {
      "properties": {
        "fieldViolations": {
          "type": "array",
          "items": {
            "$ref": "FieldViolation"
          },
          "description": "Describes all violations in a client request."
        }
      },
      "description": "Describes violations in a client request. This error type focuses on the syntactic aspects of the request.",
      "type": "object",
      "id": "BadRequest"
    },
    "SourceCatalog": {
      "description": "Source catalog.",
      "id": "SourceCatalog",
      "type": "object",
      "properties": {
        "objects": {
          "description": "Optional. Source objects in the catalog.",
          "items": {
            "$ref": "SourceObject"
          },
          "type": "array"
        }
      }
    },
    "OauthRefreshTokenCredentials": {
      "id": "OauthRefreshTokenCredentials",
      "properties": {
        "oauthClientCredentials": {
          "$ref": "OauthClientCredentials",
          "description": "Required. Specifies the OAuth Client Credentials."
        },
        "refreshToken": {
          "$ref": "Secret",
          "description": "Required. Specifies the OAuth Refresh Token."
        }
      },
      "type": "object",
      "description": "OAuth Refresh Token Credentials."
    },
    "MongodbChangeStreamPosition": {
      "id": "MongodbChangeStreamPosition",
      "type": "object",
      "properties": {
        "startTime": {
          "description": "Required. The timestamp to start change stream from.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "MongoDB change stream position"
    },
    "SourceObject": {
      "description": "Source object.",
      "properties": {
        "objectName": {
          "description": "Required. The object name.",
          "type": "string"
        },
        "properties": {
          "type": "array",
          "items": {
            "$ref": "SourceProperty"
          },
          "description": "Optional. Source properties. When unspecified as part of include objects, includes everything, when unspecified as part of exclude objects, excludes nothing."
        }
      },
      "id": "SourceObject",
      "type": "object"
    },
    "BackfillJob": {
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "$ref": "Error"
          },
          "readOnly": true,
          "description": "Output only. Errors which caused the backfill job to fail."
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Backfill job state.",
          "enumDescriptions": [
            "Default value.",
            "Backfill job was never started for the stream object (stream has backfill strategy defined as manual or object was explicitly excluded from automatic backfill).",
            "Backfill job will start pending available resources.",
            "Backfill job is running.",
            "Backfill job stopped (next job run will start from beginning).",
            "Backfill job failed (due to an error).",
            "Backfill completed successfully.",
            "Backfill job failed since the table structure is currently unsupported for backfill."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "NOT_STARTED",
            "PENDING",
            "ACTIVE",
            "STOPPED",
            "FAILED",
            "COMPLETED",
            "UNSUPPORTED"
          ]
        },
        "lastStartTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Backfill job's start time.",
          "readOnly": true
        },
        "trigger": {
          "enum": [
            "TRIGGER_UNSPECIFIED",
            "AUTOMATIC",
            "MANUAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Object backfill job was triggered automatically according to the stream's backfill strategy.",
            "Object backfill job was triggered manually using the dedicated API."
          ],
          "description": "Backfill job's triggering reason."
        },
        "eventFilter": {
          "readOnly": true,
          "description": "Output only. The filter for performing a partial backfill.",
          "$ref": "EventFilter"
        },
        "lastEndTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Backfill job's end time.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "BackfillJob",
      "description": "Represents a backfill job on a specific stream object."
    },
    "EventFilter": {
      "id": "EventFilter",
      "type": "object",
      "description": "Represents a filter for included data on a stream object.",
      "properties": {
        "sqlWhereClause": {
          "description": "An SQL-query Where clause selecting which data should be included, not including the \"WHERE\" keyword. e.g., `t.key1 = 'value1' AND t.key2 = 'value2'`",
          "type": "string"
        }
      }
    },
    "PostgresqlObjectIdentifier": {
      "description": "PostgreSQL data source object identifier.",
      "properties": {
        "schema": {
          "description": "Required. The schema name.",
          "type": "string"
        },
        "table": {
          "description": "Required. The table name.",
          "type": "string"
        }
      },
      "id": "PostgresqlObjectIdentifier",
      "type": "object"
    },
    "Validation": {
      "description": "A validation to perform on a stream.",
      "id": "Validation",
      "properties": {
        "description": {
          "description": "A short description of the validation.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state.",
            "Validation did not execute.",
            "Validation failed.",
            "Validation passed.",
            "Validation executed with warnings."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "NOT_EXECUTED",
            "FAILED",
            "PASSED",
            "WARNING"
          ],
          "type": "string",
          "description": "Output only. Validation execution status.",
          "readOnly": true
        },
        "code": {
          "description": "A custom code identifying this validation.",
          "type": "string"
        },
        "message": {
          "items": {
            "$ref": "ValidationMessage"
          },
          "type": "array",
          "description": "Messages reflecting the validation results."
        }
      },
      "type": "object"
    },
    "PostgresqlSourceConfig": {
      "properties": {
        "excludeObjects": {
          "description": "The PostgreSQL objects to exclude from the stream.",
          "$ref": "PostgresqlRdbms"
        },
        "maxConcurrentBackfillTasks": {
          "format": "int32",
          "description": "Maximum number of concurrent backfill tasks. The number should be non negative. If not set (or set to 0), the system's default value will be used.",
          "type": "integer"
        },
        "includeObjects": {
          "$ref": "PostgresqlRdbms",
          "description": "The PostgreSQL objects to include in the stream."
        },
        "replicationSlot": {
          "description": "Required. Immutable. The name of the logical replication slot that's configured with the pgoutput plugin.",
          "type": "string"
        },
        "publication": {
          "description": "Required. The name of the publication that includes the set of all tables that are defined in the stream's include_objects.",
          "type": "string"
        }
      },
      "id": "PostgresqlSourceConfig",
      "description": "Configuration for syncing data from a PostgreSQL source.",
      "type": "object"
    },
    "PostgresqlRdbms": {
      "properties": {
        "postgresqlSchemas": {
          "description": "PostgreSQL schemas in the database server.",
          "type": "array",
          "items": {
            "$ref": "PostgresqlSchema"
          }
        }
      },
      "description": "PostgreSQL database structure.",
      "type": "object",
      "id": "PostgresqlRdbms"
    },
    "DropLargeObjects": {
      "properties": {},
      "description": "Configuration to drop large object values.",
      "id": "DropLargeObjects",
      "type": "object"
    },
    "UserCredentials": {
      "deprecated": true,
      "id": "UserCredentials",
      "type": "object",
      "properties": {
        "secretManagerStoredSecurityToken": {
          "description": "Optional. A reference to a Secret Manager resource name storing the Salesforce connection's security token. Mutually exclusive with the `security_token` field.",
          "type": "string"
        },
        "securityToken": {
          "type": "string",
          "description": "Optional. Security token for the Salesforce connection. Mutually exclusive with the `secret_manager_stored_security_token` field."
        },
        "secretManagerStoredPassword": {
          "type": "string",
          "description": "Optional. A reference to a Secret Manager resource name storing the Salesforce connection's password. Mutually exclusive with the `password` field."
        },
        "username": {
          "description": "Required. Username for the Salesforce connection.",
          "type": "string"
        },
        "password": {
          "description": "Optional. Password for the Salesforce connection. Mutually exclusive with the `secret_manager_stored_password` field.",
          "type": "string"
        }
      },
      "description": "Deprecated: Salesforce is retiring Username-Password authentication. Use `Oauth2ClientCredentials` instead."
    },
    "SrvConnectionFormat": {
      "properties": {},
      "id": "SrvConnectionFormat",
      "description": "Srv connection format.",
      "type": "object"
    },
    "BasicEncryption": {
      "type": "object",
      "id": "BasicEncryption",
      "description": "Message to represent the option where Datastream will enforce encryption without authenticating server identity. Server certificates will be trusted by default.",
      "properties": {}
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "properties": {
        "endTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running."
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "validationResult": {
          "$ref": "ValidationResult",
          "readOnly": true,
          "description": "Output only. Results of executed validations if there are any."
        },
        "requestedCancellation": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "verb": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "type": "string",
          "readOnly": true
        },
        "statusMessage": {
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string"
        }
      }
    },
    "OracleSourceConfig": {
      "id": "OracleSourceConfig",
      "type": "object",
      "description": "Configuration for syncing data from an Oracle source.",
      "properties": {
        "includeObjects": {
          "description": "The Oracle objects to include in the stream.",
          "$ref": "OracleRdbms"
        },
        "dropLargeObjects": {
          "$ref": "DropLargeObjects",
          "description": "Drop large object values."
        },
        "excludeObjects": {
          "$ref": "OracleRdbms",
          "description": "The Oracle objects to exclude from the stream."
        },
        "binaryLogParser": {
          "description": "Use Binary Log Parser.",
          "$ref": "BinaryLogParser"
        },
        "streamLargeObjects": {
          "description": "Stream large object values.",
          "$ref": "StreamLargeObjects"
        },
        "maxConcurrentCdcTasks": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum number of concurrent CDC tasks. The number should be non-negative. If not set (or set to 0), the system's default value is used."
        },
        "maxConcurrentBackfillTasks": {
          "description": "Maximum number of concurrent backfill tasks. The number should be non-negative. If not set (or set to 0), the system's default value is used.",
          "format": "int32",
          "type": "integer"
        },
        "logMiner": {
          "description": "Use LogMiner.",
          "$ref": "LogMiner"
        }
      }
    },
    "MysqlLogPosition": {
      "type": "object",
      "properties": {
        "logFile": {
          "type": "string",
          "description": "Required. The binary log file name."
        },
        "logPosition": {
          "type": "integer",
          "description": "Optional. The position within the binary log file. Default is head of file.",
          "format": "int32"
        }
      },
      "id": "MysqlLogPosition",
      "description": "MySQL log position"
    },
    "SpannerObjectIdentifier": {
      "id": "SpannerObjectIdentifier",
      "type": "object",
      "properties": {
        "table": {
          "description": "Required. The table name.",
          "type": "string"
        },
        "schema": {
          "description": "Optional. The schema name.",
          "type": "string"
        }
      },
      "description": "Spanner data source object identifier."
    },
    "StandardConnectionFormat": {
      "type": "object",
      "id": "StandardConnectionFormat",
      "description": "Standard connection format.",
      "properties": {
        "directConnection": {
          "type": "boolean",
          "description": "Optional. Deprecated: Use the `additional_options` map to specify the `directConnection` parameter instead. For example: `additional_options = {\"directConnection\": \"true\"}`. Specifies whether the client connects directly to the host[:port] in the connection URI.",
          "deprecated": true
        }
      }
    },
    "MysqlTable": {
      "description": "MySQL table.",
      "id": "MysqlTable",
      "properties": {
        "mysqlColumns": {
          "items": {
            "$ref": "MysqlColumn"
          },
          "type": "array",
          "description": "MySQL columns in the database. When unspecified as part of include/exclude objects, includes/excludes everything."
        },
        "table": {
          "type": "string",
          "description": "The table name."
        }
      },
      "type": "object"
    },
    "SqlServerTable": {
      "description": "SQLServer table.",
      "type": "object",
      "id": "SqlServerTable",
      "properties": {
        "table": {
          "description": "The table name.",
          "type": "string"
        },
        "columns": {
          "type": "array",
          "description": "SQLServer columns in the schema. When unspecified as part of include/exclude objects, includes/excludes everything.",
          "items": {
            "$ref": "SqlServerColumn"
          }
        }
      }
    },
    "StreamObject": {
      "description": "A specific stream object (e.g a specific DB table).",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Required. Display name."
        },
        "sourceObject": {
          "description": "The object identifier in the data source.",
          "$ref": "SourceObjectIdentifier"
        },
        "createTime": {
          "description": "Output only. The creation time of the object.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Output only. Identifier. The object resource's name.",
          "readOnly": true,
          "type": "string"
        },
        "backfillJob": {
          "description": "The latest backfill job that was initiated for the stream object.",
          "$ref": "BackfillJob"
        },
        "customizationRules": {
          "readOnly": true,
          "description": "Output only. The customization rules for the object. These rules are derived from the parent Stream's `rule_sets` and represent the intended configuration for the object.",
          "items": {
            "$ref": "CustomizationRule"
          },
          "type": "array"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The last update time of the object.",
          "type": "string",
          "format": "google-datetime"
        },
        "errors": {
          "items": {
            "$ref": "Error"
          },
          "readOnly": true,
          "description": "Output only. Active errors on the object.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "StreamObject"
    },
    "ServiceNowProfile": {
      "type": "object",
      "description": "Profile for connecting to a ServiceNow source.",
      "properties": {
        "oauthClientCredentials": {
          "description": "Credentials for authenticating with the ServiceNow API.",
          "$ref": "OauthClientCredentials"
        },
        "userPasswordCredentials": {
          "$ref": "UserPasswordCredentials",
          "description": "User-password authentication."
        },
        "instance": {
          "type": "string",
          "description": "Required. The instance of the ServiceNow account. This is the `` part of the URL `https://.service-now.com`."
        }
      },
      "id": "ServiceNowProfile"
    },
    "BinaryLogParser": {
      "id": "BinaryLogParser",
      "description": "Configuration to use Binary Log Parser CDC technique.",
      "properties": {
        "oracleAsmLogFileAccess": {
          "description": "Use Oracle ASM.",
          "$ref": "OracleAsmLogFileAccess"
        },
        "logFileDirectories": {
          "description": "Use Oracle directories.",
          "$ref": "LogFileDirectories"
        }
      },
      "type": "object"
    },
    "MongodbCollection": {
      "properties": {
        "collection": {
          "description": "The collection name.",
          "type": "string"
        },
        "fields": {
          "description": "Fields in the collection.",
          "type": "array",
          "items": {
            "$ref": "MongodbField"
          }
        }
      },
      "type": "object",
      "description": "MongoDB Collection.",
      "id": "MongodbCollection"
    },
    "FetchStaticIpsResponse": {
      "type": "object",
      "id": "FetchStaticIpsResponse",
      "description": "Response message for a 'FetchStaticIps' response.",
      "properties": {
        "staticIps": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "list of static ips by account"
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "AppendOnly": {
      "id": "AppendOnly",
      "description": "AppendOnly mode defines that all changes to a table will be written to the destination table.",
      "properties": {},
      "type": "object"
    },
    "MongodbProfile": {
      "id": "MongodbProfile",
      "properties": {
        "replicaSet": {
          "description": "Optional. Name of the replica set. Only needed for self hosted replica set type MongoDB cluster. For SRV connection format, this field must be empty. For Standard connection format, this field must be specified.",
          "type": "string"
        },
        "additionalOptions": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Specifies additional options for the MongoDB connection. The options should be sent as key-value pairs, for example: `additional_options = {\"serverSelectionTimeoutMS\": \"10000\", \"directConnection\": \"true\"}`. Keys are case-sensitive and should match the official MongoDB connection string options: https://www.mongodb.com/docs/manual/reference/connection-string-options/ The server will not modify the values provided by the user."
        },
        "standardConnectionFormat": {
          "$ref": "StandardConnectionFormat",
          "description": "Standard connection format."
        },
        "srvConnectionFormat": {
          "$ref": "SrvConnectionFormat",
          "description": "Srv connection format."
        },
        "username": {
          "description": "Required. Username for the MongoDB connection.",
          "type": "string"
        },
        "password": {
          "type": "string",
          "description": "Optional. Password for the MongoDB connection. Mutually exclusive with the `secret_manager_stored_password` field."
        },
        "secretManagerStoredPassword": {
          "description": "Optional. A reference to a Secret Manager resource name storing the SQLServer connection password. Mutually exclusive with the `password` field.",
          "type": "string"
        },
        "sslConfig": {
          "description": "Optional. SSL configuration for the MongoDB connection.",
          "$ref": "MongodbSslConfig"
        },
        "hostAddresses": {
          "description": "Required. List of host addresses for a MongoDB cluster. For SRV connection format, this list must contain exactly one DNS host without a port. For Standard connection format, this list must contain all the required hosts in the cluster with their respective ports.",
          "items": {
            "$ref": "HostAddress"
          },
          "type": "array"
        }
      },
      "description": "Profile for connecting to a MongoDB source.",
      "type": "object"
    },
    "MysqlSourceConfig": {
      "type": "object",
      "description": "Configuration for syncing data from a MySQL source.",
      "id": "MysqlSourceConfig",
      "properties": {
        "maxConcurrentCdcTasks": {
          "type": "integer",
          "description": "Maximum number of concurrent CDC tasks. The number should be non negative. If not set (or set to 0), the system's default value will be used.",
          "format": "int32"
        },
        "maxConcurrentBackfillTasks": {
          "format": "int32",
          "description": "Maximum number of concurrent backfill tasks. The number should be non negative. If not set (or set to 0), the system's default value will be used.",
          "type": "integer"
        },
        "excludeObjects": {
          "description": "The MySQL objects to exclude from the stream.",
          "$ref": "MysqlRdbms"
        },
        "binaryLogPosition": {
          "$ref": "BinaryLogPosition",
          "description": "Use Binary log position based replication."
        },
        "gtid": {
          "description": "Use GTID based replication.",
          "$ref": "Gtid"
        },
        "includeObjects": {
          "$ref": "MysqlRdbms",
          "description": "The MySQL objects to retrieve from the source."
        }
      }
    },
    "SqlServerObjectIdentifier": {
      "description": "SQLServer data source object identifier.",
      "type": "object",
      "id": "SqlServerObjectIdentifier",
      "properties": {
        "table": {
          "description": "Required. The table name.",
          "type": "string"
        },
        "schema": {
          "type": "string",
          "description": "Required. The schema name."
        }
      }
    },
    "RuleSet": {
      "properties": {
        "objectFilter": {
          "description": "Required. Object filter to apply the customization rules to.",
          "$ref": "ObjectFilter"
        },
        "customizationRules": {
          "description": "Required. List of customization rules to apply.",
          "type": "array",
          "items": {
            "$ref": "CustomizationRule"
          }
        }
      },
      "id": "RuleSet",
      "description": "A set of rules to apply to a set of objects.",
      "type": "object"
    },
    "MostRecentStartPosition": {
      "type": "object",
      "id": "MostRecentStartPosition",
      "properties": {},
      "description": "CDC strategy to start replicating from the most recent position in the source."
    },
    "MongodbSslConfig": {
      "description": "MongoDB SSL configuration information.",
      "id": "MongodbSslConfig",
      "properties": {
        "secretManagerStoredClientKey": {
          "type": "string",
          "description": "Optional. Input only. A reference to a Secret Manager resource name storing the PEM-encoded private key associated with the Client Certificate. If this field is used then the 'client_certificate' and the 'ca_certificate' fields are mandatory. Mutually exclusive with the `client_key` field."
        },
        "clientKeySet": {
          "description": "Output only. Indicates whether the client_key field is set.",
          "readOnly": true,
          "type": "boolean"
        },
        "clientCertificate": {
          "type": "string",
          "description": "Optional. Input only. PEM-encoded certificate that will be used by the replica to authenticate against the source database server. If this field is used then the 'client_key' and the 'ca_certificate' fields are mandatory."
        },
        "caCertificateSet": {
          "type": "boolean",
          "description": "Output only. Indicates whether the ca_certificate field is set.",
          "readOnly": true
        },
        "caCertificate": {
          "type": "string",
          "description": "Optional. Input only. PEM-encoded certificate of the CA that signed the source database server's certificate."
        },
        "clientCertificateSet": {
          "description": "Output only. Indicates whether the client_certificate field is set.",
          "type": "boolean",
          "readOnly": true
        },
        "clientKey": {
          "type": "string",
          "description": "Optional. Input only. PEM-encoded private key associated with the Client Certificate. If this field is used then the 'client_certificate' and the 'ca_certificate' fields are mandatory."
        }
      },
      "type": "object"
    },
    "ServiceNowSourceConfig": {
      "type": "object",
      "description": "Configuration for syncing data from a ServiceNow source.",
      "id": "ServiceNowSourceConfig",
      "properties": {
        "excludeObjects": {
          "$ref": "SourceCatalog",
          "description": "Optional. The objects to exclude from the stream."
        },
        "includeObjects": {
          "$ref": "SourceCatalog",
          "description": "Optional. The objects to retrieve from the source."
        },
        "pollingInterval": {
          "type": "string",
          "description": "Required. Incremental sync polling interval for all objects. If not set, a default value of `5 minutes` is used. The duration must be from `5 minutes` to `24 hours`, inclusive.",
          "format": "google-duration"
        }
      }
    },
    "SalesforceObject": {
      "properties": {
        "objectName": {
          "description": "The object name.",
          "type": "string"
        },
        "fields": {
          "type": "array",
          "items": {
            "$ref": "SalesforceField"
          },
          "description": "Salesforce fields. When unspecified as part of include objects, includes everything, when unspecified as part of exclude objects, excludes nothing."
        }
      },
      "id": "SalesforceObject",
      "description": "Salesforce object.",
      "type": "object"
    },
    "BigQueryPartitioning": {
      "type": "object",
      "description": "BigQuery partitioning configuration.",
      "properties": {
        "timeUnitPartition": {
          "description": "Time unit column partitioning.",
          "$ref": "TimeUnitPartition"
        },
        "integerRangePartition": {
          "$ref": "IntegerRangePartition",
          "description": "Integer range partitioning."
        },
        "ingestionTimePartition": {
          "$ref": "IngestionTimePartition",
          "description": "Ingestion time partitioning."
        },
        "requirePartitionFilter": {
          "description": "Optional. If true, queries over the table require a partition filter.",
          "type": "boolean"
        }
      },
      "id": "BigQueryPartitioning"
    },
    "PostgresqlProfile": {
      "type": "object",
      "id": "PostgresqlProfile",
      "description": "Profile for connecting to a PostgreSQL source.",
      "properties": {
        "sslConfig": {
          "description": "Optional. SSL configuration for the PostgreSQL connection. In case PostgresqlSslConfig is not set, the connection will use the default SSL mode, which is `prefer` (i.e. this mode will only use encryption if enabled from database side, otherwise will use unencrypted communication)",
          "$ref": "PostgresqlSslConfig"
        },
        "hostname": {
          "description": "Required. Hostname for the PostgreSQL connection.",
          "type": "string"
        },
        "username": {
          "description": "Required. Username for the PostgreSQL connection.",
          "type": "string"
        },
        "password": {
          "description": "Optional. Password for the PostgreSQL connection. Mutually exclusive with the `secret_manager_stored_password` field.",
          "type": "string"
        },
        "secretManagerStoredPassword": {
          "description": "Optional. A reference to a Secret Manager resource name storing the PostgreSQL connection password. Mutually exclusive with the `password` field.",
          "type": "string"
        },
        "port": {
          "format": "int32",
          "description": "Port for the PostgreSQL connection, default value is 5432.",
          "type": "integer"
        },
        "database": {
          "description": "Required. Database for the PostgreSQL connection.",
          "type": "string"
        }
      }
    },
    "ServerAndClientVerification": {
      "description": "Message represents the option where Datastream will enforce the encryption and authenticate the server identity as well as the client identity. ca_certificate, client_certificate and client_key must be set if user selects this option.",
      "type": "object",
      "properties": {
        "clientKey": {
          "description": "Optional. Input only. PEM-encoded private key associated with the client certificate. This value will be used during the SSL/TLS handshake, allowing the PostgreSQL server to authenticate the client's identity, i.e. identity of the Datastream.",
          "type": "string"
        },
        "clientCertificate": {
          "type": "string",
          "description": "Required. Input only. PEM-encoded certificate used by the source database to authenticate the client identity (i.e., the Datastream's identity). This certificate is signed by either a root certificate trusted by the server or one or more intermediate certificates (which is stored with the leaf certificate) to link the this certificate to the trusted root certificate."
        },
        "caCertificate": {
          "type": "string",
          "description": "Required. Input only. PEM-encoded server root CA certificate."
        },
        "serverCertificateHostname": {
          "description": "Optional. The hostname mentioned in the Subject or SAN extension of the server certificate. If this field is not provided, the hostname in the server certificate is not validated.",
          "type": "string"
        }
      },
      "id": "ServerAndClientVerification"
    },
    "SpannerColumn": {
      "id": "SpannerColumn",
      "properties": {
        "dataType": {
          "description": "Optional. Spanner data type.",
          "type": "string"
        },
        "isPrimaryKey": {
          "description": "Optional. Whether or not the column is a primary key.",
          "type": "boolean"
        },
        "ordinalPosition": {
          "type": "string",
          "description": "Optional. The ordinal position of the column in the table.",
          "format": "int64"
        },
        "column": {
          "type": "string",
          "description": "Required. The column name."
        }
      },
      "description": "Spanner column.",
      "type": "object"
    },
    "CustomizationRule": {
      "properties": {
        "bigqueryClustering": {
          "$ref": "BigQueryClustering",
          "description": "BigQuery clustering rule."
        },
        "bigqueryPartitioning": {
          "description": "BigQuery partitioning rule.",
          "$ref": "BigQueryPartitioning"
        }
      },
      "type": "object",
      "description": "A customization rule to apply to a set of objects.",
      "id": "CustomizationRule"
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "id": "ListLocationsResponse",
      "properties": {
        "locations": {
          "type": "array",
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      }
    },
    "ListOperationsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request."
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations."
    },
    "StartBackfillJobResponse": {
      "description": "Response for manually initiating a backfill job for a specific stream object.",
      "type": "object",
      "id": "StartBackfillJobResponse",
      "properties": {
        "object": {
          "description": "The stream object resource a backfill job was started for.",
          "$ref": "StreamObject"
        }
      }
    },
    "ListPrivateConnectionsResponse": {
      "description": "Response containing a list of private connection configurations.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "privateConnections": {
          "description": "List of private connectivity configurations.",
          "type": "array",
          "items": {
            "$ref": "PrivateConnection"
          }
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      },
      "id": "ListPrivateConnectionsResponse"
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "id": "CancelOperationRequest",
      "type": "object",
      "properties": {}
    },
    "StartBackfillJobRequest": {
      "description": "Request for manually initiating a backfill job for a specific stream object.",
      "type": "object",
      "id": "StartBackfillJobRequest",
      "properties": {
        "eventFilter": {
          "description": "Optional. Optional event filter. If not set, or empty, the backfill will be performed on the entire object. This is currently used for partial backfill and only supported for SQL sources.",
          "$ref": "EventFilter"
        }
      }
    },
    "OracleAsmConfig": {
      "type": "object",
      "description": "Configuration for Oracle Automatic Storage Management (ASM) connection.",
      "id": "OracleAsmConfig",
      "properties": {
        "connectionAttributes": {
          "description": "Optional. Connection string attributes",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "secretManagerStoredPassword": {
          "description": "Optional. A reference to a Secret Manager resource name storing the Oracle ASM connection password. Mutually exclusive with the `password` field.",
          "type": "string"
        },
        "username": {
          "type": "string",
          "description": "Required. Username for the Oracle ASM connection."
        },
        "password": {
          "description": "Optional. Password for the Oracle ASM connection. Mutually exclusive with the `secret_manager_stored_password` field.",
          "type": "string"
        },
        "hostname": {
          "description": "Required. Hostname for the Oracle ASM connection.",
          "type": "string"
        },
        "oracleSslConfig": {
          "description": "Optional. SSL configuration for the Oracle connection.",
          "$ref": "OracleSslConfig"
        },
        "asmService": {
          "type": "string",
          "description": "Required. ASM service name for the Oracle ASM connection."
        },
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "Required. Port for the Oracle ASM connection."
        }
      }
    },
    "SalesforceObjectIdentifier": {
      "id": "SalesforceObjectIdentifier",
      "type": "object",
      "description": "Salesforce data source object identifier.",
      "properties": {
        "objectName": {
          "type": "string",
          "description": "Required. The object name."
        }
      }
    },
    "SalesforceProfile": {
      "properties": {
        "userCredentials": {
          "description": "Deprecated: Salesforce is retiring Username-Password authentication. Use `oauth2_client_credentials` instead.",
          "deprecated": true,
          "$ref": "UserCredentials"
        },
        "domain": {
          "description": "Required. Domain endpoint for the Salesforce connection.",
          "type": "string"
        },
        "oauth2ClientCredentials": {
          "description": "Connected app authentication.",
          "$ref": "Oauth2ClientCredentials"
        }
      },
      "description": "Profile for connecting to a Salesforce source.",
      "id": "SalesforceProfile",
      "type": "object"
    },
    "PrivateConnection": {
      "description": "The PrivateConnection resource is used to establish private connectivity between Datastream and a customer's network.",
      "properties": {
        "name": {
          "description": "Output only. Identifier. The resource's name.",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state.",
            "The private connection is in creation state - creating resources.",
            "The private connection has been created with all of its resources.",
            "The private connection creation has failed.",
            "The private connection is being deleted.",
            "Delete request has failed, resource is in invalid state."
          ],
          "description": "Output only. The state of the Private Connection.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "CREATED",
            "FAILED",
            "DELETING",
            "FAILED_TO_DELETE"
          ],
          "readOnly": true
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Labels."
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name."
        },
        "vpcPeeringConfig": {
          "description": "VPC Peering Config.",
          "$ref": "VpcPeeringConfig"
        },
        "updateTime": {
          "description": "Output only. The update time of the resource.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "error": {
          "$ref": "Error",
          "description": "Output only. In case of error, the details of the error in a user-friendly format.",
          "readOnly": true
        },
        "pscInterfaceConfig": {
          "description": "PSC Interface Config.",
          "$ref": "PscInterfaceConfig"
        },
        "satisfiesPzi": {
          "readOnly": true,
          "description": "Output only. Reserved for future use.",
          "type": "boolean"
        },
        "satisfiesPzs": {
          "type": "boolean",
          "description": "Output only. Reserved for future use.",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The create time of the resource.",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "id": "PrivateConnection",
      "type": "object"
    },
    "StopBackfillJobResponse": {
      "properties": {
        "object": {
          "$ref": "StreamObject",
          "description": "The stream object resource the backfill job was stopped for."
        }
      },
      "type": "object",
      "id": "StopBackfillJobResponse",
      "description": "Response for manually stop a backfill job for a specific stream object."
    },
    "SqlServerChangeTables": {
      "properties": {},
      "id": "SqlServerChangeTables",
      "type": "object",
      "description": "Configuration to use Change Tables CDC read method."
    },
    "SalesforceOrg": {
      "description": "Salesforce organization structure.",
      "properties": {
        "objects": {
          "type": "array",
          "description": "Salesforce objects in the database server.",
          "items": {
            "$ref": "SalesforceObject"
          }
        }
      },
      "id": "SalesforceOrg",
      "type": "object"
    },
    "BigQueryProfile": {
      "properties": {},
      "type": "object",
      "id": "BigQueryProfile",
      "description": "Profile for connecting to a BigQuery destination."
    },
    "SpannerTable": {
      "description": "Spanner table.",
      "properties": {
        "table": {
          "description": "Required. The table name.",
          "type": "string"
        },
        "columns": {
          "items": {
            "$ref": "SpannerColumn"
          },
          "type": "array",
          "description": "Optional. Spanner columns in the table."
        }
      },
      "id": "SpannerTable",
      "type": "object"
    },
    "OracleTable": {
      "description": "Oracle table.",
      "properties": {
        "table": {
          "description": "The table name.",
          "type": "string"
        },
        "oracleColumns": {
          "description": "Oracle columns in the schema. When unspecified as part of include/exclude objects, includes/excludes everything.",
          "type": "array",
          "items": {
            "$ref": "OracleColumn"
          }
        }
      },
      "type": "object",
      "id": "OracleTable"
    },
    "OracleSchema": {
      "description": "Oracle schema.",
      "properties": {
        "schema": {
          "type": "string",
          "description": "The schema name."
        },
        "oracleTables": {
          "type": "array",
          "items": {
            "$ref": "OracleTable"
          },
          "description": "Tables in the schema."
        }
      },
      "id": "OracleSchema",
      "type": "object"
    },
    "Merge": {
      "properties": {},
      "id": "Merge",
      "description": "Merge mode defines that all changes to a table will be merged at the destination table.",
      "type": "object"
    },
    "Status": {
      "type": "object",
      "id": "Status",
      "properties": {
        "details": {
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "OauthClientCredentials": {
      "properties": {
        "clientId": {
          "type": "string",
          "description": "Required. Client ID for OAuth Client Credentials."
        },
        "clientSecret": {
          "description": "Required. Client secret for OAuth Client Credentials.",
          "$ref": "Secret"
        }
      },
      "id": "OauthClientCredentials",
      "description": "OAuth Client Credentials.",
      "type": "object"
    },
    "Stream": {
      "type": "object",
      "description": "A resource representing streaming data from a source to a destination.",
      "properties": {
        "destinationConfig": {
          "$ref": "DestinationConfig",
          "description": "Required. Destination connection profile configuration."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Identifier. The stream's name."
        },
        "errors": {
          "readOnly": true,
          "description": "Output only. Errors on the Stream.",
          "type": "array",
          "items": {
            "$ref": "Error"
          }
        },
        "displayName": {
          "description": "Required. Display name.",
          "type": "string"
        },
        "satisfiesPzs": {
          "readOnly": true,
          "description": "Output only. Reserved for future use.",
          "type": "boolean"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The last update time of the stream."
        },
        "state": {
          "enumDescriptions": [
            "Unspecified stream state.",
            "The stream has been created but has not yet started streaming data.",
            "The stream is running.",
            "The stream is paused.",
            "The stream is in maintenance mode. Updates are rejected on the resource in this state.",
            "The stream is experiencing an error that is preventing data from being streamed.",
            "The stream has experienced a terminal failure.",
            "The stream is starting, but not yet running.",
            "The Stream is no longer reading new events, but still writing events in the buffer."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "NOT_STARTED",
            "RUNNING",
            "PAUSED",
            "MAINTENANCE",
            "FAILED",
            "FAILED_PERMANENTLY",
            "STARTING",
            "DRAINING"
          ],
          "description": "The state of the stream.",
          "type": "string"
        },
        "sourceConfig": {
          "description": "Required. Source connection profile configuration.",
          "$ref": "SourceConfig"
        },
        "ruleSets": {
          "items": {
            "$ref": "RuleSet"
          },
          "description": "Optional. Rule sets to apply to the stream.",
          "type": "array"
        },
        "lastRecoveryTime": {
          "description": "Output only. If the stream was recovered, the time of the last recovery. Note: This field is currently experimental.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "customerManagedEncryptionKey": {
          "description": "Immutable. A reference to a KMS encryption key. If provided, it will be used to encrypt the data. If left blank, data will be encrypted using an internal Stream-specific encryption key provisioned through KMS.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The creation time of the stream.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "satisfiesPzi": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "backfillAll": {
          "description": "Automatically backfill objects included in the stream source configuration. Specific objects can be excluded.",
          "$ref": "BackfillAllStrategy"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels.",
          "type": "object"
        },
        "backfillNone": {
          "$ref": "BackfillNoneStrategy",
          "description": "Do not automatically backfill any objects."
        }
      },
      "id": "Stream"
    },
    "SalesforceField": {
      "type": "object",
      "id": "SalesforceField",
      "description": "Salesforce field.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The field name."
        },
        "dataType": {
          "description": "The data type.",
          "type": "string"
        },
        "nillable": {
          "description": "Indicates whether the field can accept nil values.",
          "type": "boolean"
        }
      }
    },
    "PscInterfaceConfig": {
      "description": "The PSC Interface configuration is used to create PSC Interface between Datastream and the consumer's PSC.",
      "type": "object",
      "id": "PscInterfaceConfig",
      "properties": {
        "networkAttachment": {
          "description": "Required. Fully qualified name of the Network Attachment that Datastream will connect to. Format: `projects/{project}/regions/{region}/networkAttachments/{name}`",
          "type": "string"
        }
      }
    },
    "ResourceInfo": {
      "type": "object",
      "description": "Describes the resource that is being accessed.",
      "id": "ResourceInfo",
      "properties": {
        "owner": {
          "type": "string",
          "description": "The owner of the resource (optional). For example, \"user:\" or \"project:\"."
        },
        "description": {
          "type": "string",
          "description": "Describes what error is encountered when accessing this resource. For example, updating a cloud project may require the `writer` permission on the developer console project."
        },
        "resourceType": {
          "description": "A name for the type of resource being accessed, e.g. \"sql table\", \"cloud storage bucket\", \"file\", \"Google calendar\"; or the type URL of the resource: e.g. \"type.googleapis.com/google.pubsub.v1.Topic\".",
          "type": "string"
        },
        "resourceName": {
          "type": "string",
          "description": "The name of the resource being accessed. For example, a shared calendar name: \"example.com_4fghdhgsrgh@group.calendar.google.com\", if the current error is google.rpc.Code.PERMISSION_DENIED."
        }
      }
    },
    "ConnectionProfile": {
      "description": "A set of reusable connection configurations to be used as a source or destination for a stream.",
      "properties": {
        "mongodbProfile": {
          "$ref": "MongodbProfile",
          "description": "Profile for connecting to a MongoDB source."
        },
        "postgresqlProfile": {
          "description": "Profile for connecting to a PostgreSQL source.",
          "$ref": "PostgresqlProfile"
        },
        "salesforceProfile": {
          "description": "Profile for connecting to a Salesforce source.",
          "$ref": "SalesforceProfile"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Identifier. The resource's name."
        },
        "workdayProfile": {
          "$ref": "WorkdayProfile",
          "description": "Optional. Profile for connecting to a Workday source."
        },
        "sqlServerProfile": {
          "description": "Profile for connecting to a SQLServer source.",
          "$ref": "SqlServerProfile"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The update time of the resource."
        },
        "displayName": {
          "description": "Required. Display name.",
          "type": "string"
        },
        "forwardSshConnectivity": {
          "$ref": "ForwardSshTunnelConnectivity",
          "description": "Forward SSH tunnel connectivity."
        },
        "dataverseProfile": {
          "$ref": "DataverseProfile",
          "description": "Profile for connecting to a Dataverse source."
        },
        "bigqueryProfile": {
          "$ref": "BigQueryProfile",
          "description": "Profile for connecting to a BigQuery destination."
        },
        "privateConnectivity": {
          "$ref": "PrivateConnectivity",
          "description": "Private connectivity."
        },
        "oracleProfile": {
          "description": "Profile for connecting to an Oracle source.",
          "$ref": "OracleProfile"
        },
        "satisfiesPzs": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Reserved for future use."
        },
        "staticServiceIpConnectivity": {
          "description": "Static Service IP connectivity.",
          "$ref": "StaticServiceIpConnectivity"
        },
        "spannerProfile": {
          "description": "Profile for connecting to a Spanner source.",
          "$ref": "SpannerProfile"
        },
        "serviceNowProfile": {
          "description": "Profile for connecting to a ServiceNow source.",
          "$ref": "ServiceNowProfile"
        },
        "gcsProfile": {
          "description": "Profile for connecting to a Cloud Storage destination.",
          "$ref": "GcsProfile"
        },
        "salesforceMarketingCloudProfile": {
          "description": "Profile for connecting to a Salesforce Marketing Cloud source.",
          "$ref": "SalesforceMarketingCloudProfile"
        },
        "labels": {
          "type": "object",
          "description": "Labels.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "satisfiesPzi": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "mysqlProfile": {
          "$ref": "MysqlProfile",
          "description": "Profile for connecting to a MySQL source."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The create time of the resource.",
          "format": "google-datetime"
        }
      },
      "id": "ConnectionProfile",
      "type": "object"
    },
    "BackfillNoneStrategy": {
      "id": "BackfillNoneStrategy",
      "properties": {},
      "description": "Backfill strategy to disable automatic backfill for the Stream's objects.",
      "type": "object"
    },
    "SqlServerSourceConfig": {
      "properties": {
        "maxConcurrentCdcTasks": {
          "format": "int32",
          "description": "Max concurrent CDC tasks.",
          "type": "integer"
        },
        "includeObjects": {
          "description": "The SQLServer objects to include in the stream.",
          "$ref": "SqlServerRdbms"
        },
        "transactionLogs": {
          "$ref": "SqlServerTransactionLogs",
          "description": "CDC reader reads from transaction logs."
        },
        "changeTables": {
          "$ref": "SqlServerChangeTables",
          "description": "CDC reader reads from change tables."
        },
        "excludeObjects": {
          "description": "The SQLServer objects to exclude from the stream.",
          "$ref": "SqlServerRdbms"
        },
        "maxConcurrentBackfillTasks": {
          "description": "Max concurrent backfill tasks.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Configuration for syncing data from a SQLServer source.",
      "type": "object",
      "id": "SqlServerSourceConfig"
    },
    "RequestInfo": {
      "description": "Contains metadata about the request that clients can attach when filing a bug or providing other forms of feedback.",
      "properties": {
        "requestId": {
          "description": "An opaque string that should only be interpreted by the service generating it. For example, it can be used to identify requests in the service's logs.",
          "type": "string"
        },
        "servingData": {
          "type": "string",
          "description": "Any data that was used to serve this request. For example, an encrypted stack trace that can be sent back to the service provider for debugging."
        }
      },
      "id": "RequestInfo",
      "type": "object"
    },
    "SpannerChangeStreamPosition": {
      "type": "object",
      "description": "Represents a position in a Spanner change stream from which to start replicating.",
      "id": "SpannerChangeStreamPosition",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. The timestamp to start change stream queries from. The timestamp must be a positive value."
        }
      }
    },
    "ListRoutesResponse": {
      "description": "Route list response.",
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "routes": {
          "items": {
            "$ref": "Route"
          },
          "type": "array",
          "description": "List of Routes."
        }
      },
      "id": "ListRoutesResponse"
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DiscoverConnectionProfileRequest": {
      "id": "DiscoverConnectionProfileRequest",
      "description": "Request message for 'discover' ConnectionProfile request.",
      "type": "object",
      "properties": {
        "connectionProfile": {
          "description": "Optional. An ad-hoc connection profile configuration.",
          "$ref": "ConnectionProfile"
        },
        "postgresqlRdbms": {
          "description": "Optional. PostgreSQL RDBMS to enrich with child data objects and metadata.",
          "$ref": "PostgresqlRdbms"
        },
        "connectionProfileName": {
          "type": "string",
          "description": "Optional. A reference to an existing connection profile."
        },
        "hierarchyDepth": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The number of hierarchy levels below the current level to be retrieved."
        },
        "salesforceOrg": {
          "$ref": "SalesforceOrg",
          "description": "Optional. Salesforce organization to enrich with child data objects and metadata."
        },
        "sourceCatalog": {
          "$ref": "SourceCatalog",
          "description": "Optional. Source catalog to enrich with child data objects and metadata. This is mainly used to represent SaaS sources databases."
        },
        "oracleRdbms": {
          "description": "Optional. Oracle RDBMS to enrich with child data objects and metadata.",
          "$ref": "OracleRdbms"
        },
        "spannerDatabase": {
          "description": "Optional. Spanner database to enrich with child data objects and metadata.",
          "$ref": "SpannerDatabase"
        },
        "fullHierarchy": {
          "description": "Optional. Whether to retrieve the full hierarchy of data objects (TRUE) or only the current level (FALSE).",
          "type": "boolean"
        },
        "mongodbCluster": {
          "description": "Optional. MongoDB cluster to enrich with child data objects and metadata.",
          "$ref": "MongodbCluster"
        },
        "mysqlRdbms": {
          "description": "Optional. MySQL RDBMS to enrich with child data objects and metadata.",
          "$ref": "MysqlRdbms"
        },
        "sqlServerRdbms": {
          "$ref": "SqlServerRdbms",
          "description": "Optional. SQLServer RDBMS to enrich with child data objects and metadata."
        }
      }
    },
    "WorkdayProfile": {
      "type": "object",
      "description": "Profile for connecting to a Workday source.",
      "id": "WorkdayProfile",
      "properties": {
        "host": {
          "type": "string",
          "description": "Required. Host for the Workday connection. Must be a valid hostname (e.g., `wd3-impl-services1.workday.com`)."
        },
        "oauthRefreshTokenCredentials": {
          "$ref": "OauthRefreshTokenCredentials",
          "description": "Required. Credentials for authenticating with the Workday API. OAuth Refresh Token credentials for authenticating with the Workday API."
        },
        "tenant": {
          "description": "Required. Tenant for the Workday connection (e.g., `google12`).",
          "type": "string"
        }
      }
    },
    "PrivateConnectivity": {
      "id": "PrivateConnectivity",
      "properties": {
        "privateConnection": {
          "type": "string",
          "description": "Required. A reference to a private connection resource. Format: `projects/{project}/locations/{location}/privateConnections/{name}`"
        }
      },
      "description": "Private Connectivity",
      "type": "object"
    },
    "RunStreamRequest": {
      "type": "object",
      "properties": {
        "cdcStrategy": {
          "$ref": "CdcStrategy",
          "description": "Optional. The CDC strategy of the stream. If not set, the system's default value will be used."
        },
        "force": {
          "description": "Optional. Update the stream without validating it.",
          "type": "boolean"
        }
      },
      "id": "RunStreamRequest",
      "description": "Request message for running a stream."
    },
    "LookupStreamObjectRequest": {
      "properties": {
        "sourceObjectIdentifier": {
          "$ref": "SourceObjectIdentifier",
          "description": "Required. The source object identifier which maps to the stream object."
        }
      },
      "description": "Request for looking up a specific stream object by its source object identifier.",
      "type": "object",
      "id": "LookupStreamObjectRequest"
    },
    "FieldViolation": {
      "type": "object",
      "id": "FieldViolation",
      "properties": {
        "field": {
          "type": "string",
          "description": "A path that leads to a field in the request body. The value will be a sequence of dot-separated identifiers that identify a protocol buffer field. Consider the following: message CreateContactRequest { message EmailAddress { enum Type { TYPE_UNSPECIFIED = 0; HOME = 1; WORK = 2; } optional string email = 1; repeated EmailType type = 2; } string full_name = 1; repeated EmailAddress email_addresses = 2; } In this example, in proto `field` could take one of the following values: * `full_name` for a violation in the `full_name` value * `email_addresses[0].email` for a violation in the `email` field of the first `email_addresses` message * `email_addresses[2].type[1]` for a violation in the second `type` value in the third `email_addresses` message. In JSON, the same values are represented as: * `fullName` for a violation in the `fullName` value * `emailAddresses[0].email` for a violation in the `email` field of the first `emailAddresses` message * `emailAddresses[2].type[1]` for a violation in the second `type` value in the third `emailAddresses` message."
        },
        "localizedMessage": {
          "description": "Provides a localized error message for field-level errors that is safe to return to the API consumer.",
          "$ref": "LocalizedMessage"
        },
        "reason": {
          "description": "The reason for the field-level error. This is a constant value that identifies the proximate cause of the field-level error. It should uniquely identify the type of the FieldViolation within the scope of the google.rpc.ErrorInfo.domain. This should be at most 63 characters and match a regular expression of `A-Z+[A-Z0-9]`, which represents UPPER_SNAKE_CASE.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "A description of why the request element is bad."
        }
      },
      "description": "A message type used to describe a single bad request field."
    },
    "ListStreamObjectsResponse": {
      "id": "ListStreamObjectsResponse",
      "type": "object",
      "description": "Response containing the objects for a stream.",
      "properties": {
        "streamObjects": {
          "type": "array",
          "items": {
            "$ref": "StreamObject"
          },
          "description": "List of stream objects."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page.",
          "type": "string"
        }
      }
    },
    "ListConnectionProfilesResponse": {
      "properties": {
        "connectionProfiles": {
          "description": "List of connection profiles.",
          "type": "array",
          "items": {
            "$ref": "ConnectionProfile"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      },
      "type": "object",
      "description": "Response message for listing connection profiles.",
      "id": "ListConnectionProfilesResponse"
    },
    "OracleColumn": {
      "id": "OracleColumn",
      "properties": {
        "column": {
          "description": "The column name.",
          "type": "string"
        },
        "length": {
          "type": "integer",
          "format": "int32",
          "description": "Column length."
        },
        "encoding": {
          "description": "Column encoding.",
          "type": "string"
        },
        "precision": {
          "description": "Column precision.",
          "type": "integer",
          "format": "int32"
        },
        "nullable": {
          "description": "Whether or not the column can accept a null value.",
          "type": "boolean"
        },
        "ordinalPosition": {
          "format": "int32",
          "description": "The ordinal position of the column in the table.",
          "type": "integer"
        },
        "primaryKey": {
          "description": "Whether or not the column represents a primary key.",
          "type": "boolean"
        },
        "scale": {
          "type": "integer",
          "description": "Column scale.",
          "format": "int32"
        },
        "dataType": {
          "type": "string",
          "description": "The Oracle data type."
        }
      },
      "type": "object",
      "description": "Oracle Column."
    },
    "QuotaFailureViolation": {
      "properties": {
        "description": {
          "type": "string",
          "description": "A description of how the quota check failed. Clients can use this description to find more about the quota configuration in the service's public documentation, or find the relevant quota limit to adjust through developer console. For example: \"Service disabled\" or \"Daily Limit for read operations exceeded\"."
        },
        "apiService": {
          "type": "string",
          "description": "The API Service from which the `QuotaFailure.Violation` originates. In some cases, Quota issues originate from an API Service other than the one that was called. In other words, a dependency of the called API Service could be the cause of the `QuotaFailure`, and this field would have the dependency API service name. For example, if the called API is Kubernetes Engine API (container.googleapis.com), and a quota violation occurs in the Kubernetes Engine API itself, this field would be \"container.googleapis.com\". On the other hand, if the quota violation occurs when the Kubernetes Engine API creates VMs in the Compute Engine API (compute.googleapis.com), this field would be \"compute.googleapis.com\"."
        },
        "quotaDimensions": {
          "description": "The dimensions of the violated quota. Every non-global quota is enforced on a set of dimensions. While quota metric defines what to count, the dimensions specify for what aspects the counter should be increased. For example, the quota \"CPUs per region per VM family\" enforces a limit on the metric \"compute.googleapis.com/cpus_per_vm_family\" on dimensions \"region\" and \"vm_family\". And if the violation occurred in region \"us-central1\" and for VM family \"n1\", the quota_dimensions would be, { \"region\": \"us-central1\", \"vm_family\": \"n1\", } When a quota is enforced globally, the quota_dimensions would always be empty.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "quotaMetric": {
          "description": "The metric of the violated quota. A quota metric is a named counter to measure usage, such as API requests or CPUs. When an activity occurs in a service, such as Virtual Machine allocation, one or more quota metrics may be affected. For example, \"compute.googleapis.com/cpus_per_vm_family\", \"storage.googleapis.com/internet_egress_bandwidth\".",
          "type": "string"
        },
        "quotaId": {
          "description": "The id of the violated quota. Also know as \"limit name\", this is the unique identifier of a quota in the context of an API service. For example, \"CPUS-PER-VM-FAMILY-per-project-region\".",
          "type": "string"
        },
        "futureQuotaValue": {
          "description": "The new quota value being rolled out at the time of the violation. At the completion of the rollout, this value will be enforced in place of quota_value. If no rollout is in progress at the time of the violation, this field is not set. For example, if at the time of the violation a rollout is in progress changing the number of CPUs quota from 10 to 20, 20 would be the value of this field.",
          "format": "int64",
          "type": "string"
        },
        "subject": {
          "type": "string",
          "description": "The subject on which the quota check failed. For example, \"clientip:\" or \"project:\"."
        },
        "quotaValue": {
          "format": "int64",
          "description": "The enforced quota value at the time of the `QuotaFailure`. For example, if the enforced quota value at the time of the `QuotaFailure` on the number of CPUs is \"10\", then the value of this field would reflect this quantity.",
          "type": "string"
        }
      },
      "id": "QuotaFailureViolation",
      "description": "A message type used to describe a single quota violation. For example, a daily quota or a custom quota that was exceeded.",
      "type": "object"
    },
    "SpannerSchema": {
      "description": "Spanner schema.",
      "type": "object",
      "id": "SpannerSchema",
      "properties": {
        "tables": {
          "items": {
            "$ref": "SpannerTable"
          },
          "type": "array",
          "description": "Optional. Spanner tables in the schema."
        },
        "schema": {
          "description": "Required. The schema name.",
          "type": "string"
        }
      }
    },
    "SingleTargetDataset": {
      "type": "object",
      "description": "A single target dataset to which all data will be streamed.",
      "properties": {
        "datasetId": {
          "type": "string",
          "description": "The dataset ID of the target dataset. DatasetIds allowed characters: https://cloud.google.com/bigquery/docs/reference/rest/v2/datasets#datasetreference."
        }
      },
      "id": "SingleTargetDataset"
    },
    "CdcStrategy": {
      "id": "CdcStrategy",
      "type": "object",
      "properties": {
        "nextAvailableStartPosition": {
          "description": "Optional. Resume replication from the next available position in the source.",
          "$ref": "NextAvailableStartPosition"
        },
        "specificStartPosition": {
          "$ref": "SpecificStartPosition",
          "description": "Optional. Start replicating from a specific position in the source."
        },
        "mostRecentStartPosition": {
          "description": "Optional. Start replicating from the most recent position in the source.",
          "$ref": "MostRecentStartPosition"
        }
      },
      "description": "The strategy that the stream uses for CDC replication."
    },
    "SpecificStartPosition": {
      "type": "object",
      "id": "SpecificStartPosition",
      "properties": {
        "sqlServerLsnPosition": {
          "$ref": "SqlServerLsnPosition",
          "description": "SqlServer LSN to start replicating from."
        },
        "spannerChangeStreamPosition": {
          "description": "Optional. Spanner change stream position to start replicating from.",
          "$ref": "SpannerChangeStreamPosition"
        },
        "mysqlLogPosition": {
          "description": "MySQL specific log position to start replicating from.",
          "$ref": "MysqlLogPosition"
        },
        "oracleScnPosition": {
          "description": "Oracle SCN to start replicating from.",
          "$ref": "OracleScnPosition"
        },
        "mysqlGtidPosition": {
          "description": "MySQL GTID set to start replicating from.",
          "$ref": "MysqlGtidPosition"
        },
        "mongodbChangeStreamPosition": {
          "description": "MongoDB change stream position to start replicating from.",
          "$ref": "MongodbChangeStreamPosition"
        }
      },
      "description": "CDC strategy to start replicating from a specific position in the source."
    },
    "MysqlRdbms": {
      "properties": {
        "mysqlDatabases": {
          "items": {
            "$ref": "MysqlDatabase"
          },
          "description": "Mysql databases on the server",
          "type": "array"
        }
      },
      "type": "object",
      "description": "MySQL database structure",
      "id": "MysqlRdbms"
    },
    "SqlServerTransactionLogs": {
      "type": "object",
      "id": "SqlServerTransactionLogs",
      "description": "Configuration to use Transaction Logs CDC read method.",
      "properties": {}
    },
    "DataverseSourceConfig": {
      "description": "Configuration for syncing data from a Dataverse source.",
      "properties": {
        "pollingInterval": {
          "type": "string",
          "format": "google-duration",
          "description": "Required. Incremental sync polling interval for all objects. If not set, a default value of `5 minutes` is used. The duration must be from `5 minutes` to `24 hours`, inclusive."
        },
        "includeObjects": {
          "description": "Optional. The objects to retrieve from the source.",
          "$ref": "SourceCatalog"
        },
        "excludeObjects": {
          "description": "Optional. The objects to exclude from the stream.",
          "$ref": "SourceCatalog"
        }
      },
      "id": "DataverseSourceConfig",
      "type": "object"
    },
    "MysqlObjectIdentifier": {
      "properties": {
        "table": {
          "type": "string",
          "description": "Required. The table name."
        },
        "database": {
          "type": "string",
          "description": "Required. The database name."
        }
      },
      "description": "Mysql data source object identifier.",
      "id": "MysqlObjectIdentifier",
      "type": "object"
    },
    "MysqlGtidPosition": {
      "description": "MySQL GTID position",
      "properties": {
        "gtidSet": {
          "description": "Required. The gtid set to start replication from.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "MysqlGtidPosition"
    },
    "DestinationConfig": {
      "description": "The configuration of the stream destination.",
      "type": "object",
      "properties": {
        "gcsDestinationConfig": {
          "description": "A configuration for how data should be loaded to Cloud Storage.",
          "$ref": "GcsDestinationConfig"
        },
        "bigqueryDestinationConfig": {
          "description": "BigQuery destination configuration.",
          "$ref": "BigQueryDestinationConfig"
        },
        "destinationConnectionProfile": {
          "type": "string",
          "description": "Required. Destination connection profile resource. Format: `projects/{project}/locations/{location}/connectionProfiles/{name}`"
        }
      },
      "id": "DestinationConfig"
    },
    "ObjectFilter": {
      "description": "Object filter to apply the rules to.",
      "id": "ObjectFilter",
      "type": "object",
      "properties": {
        "sourceObjectIdentifier": {
          "description": "Specific source object identifier.",
          "$ref": "SourceObjectIdentifier"
        }
      }
    },
    "BinaryLogPosition": {
      "description": "Use Binary log position based replication.",
      "type": "object",
      "properties": {},
      "id": "BinaryLogPosition"
    },
    "ErrorInfo": {
      "id": "ErrorInfo",
      "description": "Describes the cause of the error with structured details. Example of an error when contacting the \"pubsub.googleapis.com\" API when it is not enabled: { \"reason\": \"API_DISABLED\" \"domain\": \"googleapis.com\" \"metadata\": { \"resource\": \"projects/123\", \"service\": \"pubsub.googleapis.com\" } } This response indicates that the pubsub.googleapis.com API is not enabled. Example of an error that is returned when attempting to create a Spanner instance in a region that is out of stock: { \"reason\": \"STOCKOUT\" \"domain\": \"spanner.googleapis.com\", \"metadata\": { \"availableRegions\": \"us-central1,us-east2\" } }",
      "properties": {
        "reason": {
          "description": "The reason for the error. This is a constant value that identifies the proximate cause of the error. Error reasons are unique within a particular domain of errors. This should be at most 63 characters and match a regular expression of `A-Z+[A-Z0-9]`, which represents UPPER_SNAKE_CASE.",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "description": "Additional structured details about this error. Keys must match a regular expression of `a-z+` but should ideally be lowerCamelCase. Also, they must be limited to 64 characters in length. When identifying the current value of an exceeded limit, the units should be contained in the key, not the value. For example, rather than `{\"instanceLimit\": \"100/request\"}`, should be returned as, `{\"instanceLimitPerRequest\": \"100\"}`, if the client exceeds the number of instances that can be created in a single (batch) request.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "domain": {
          "description": "The logical grouping to which the \"reason\" belongs. The error domain is typically the registered service name of the tool or product that generates the error. Example: \"pubsub.googleapis.com\". If the error is generated by some common infrastructure, the error domain must be a globally unique value that identifies the infrastructure. For Google API infrastructure, the error domain is \"googleapis.com\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "IntegerRangePartition": {
      "description": "Integer range partitioning. see https://cloud.google.com/bigquery/docs/partitioned-tables#integer_range",
      "properties": {
        "interval": {
          "description": "Required. The interval of each range within the partition.",
          "format": "int64",
          "type": "string"
        },
        "end": {
          "description": "Required. The ending value for range partitioning (exclusive).",
          "format": "int64",
          "type": "string"
        },
        "column": {
          "description": "Required. The partitioning column.",
          "type": "string"
        },
        "start": {
          "type": "string",
          "description": "Required. The starting value for range partitioning (inclusive).",
          "format": "int64"
        }
      },
      "id": "IntegerRangePartition",
      "type": "object"
    },
    "SqlServerLsnPosition": {
      "type": "object",
      "description": "SQL Server LSN position",
      "id": "SqlServerLsnPosition",
      "properties": {
        "lsn": {
          "type": "string",
          "description": "Required. Log sequence number (LSN) from where Logs will be read"
        }
      }
    },
    "StreamLargeObjects": {
      "id": "StreamLargeObjects",
      "description": "Configuration to stream large object values.",
      "properties": {},
      "type": "object"
    },
    "StopBackfillJobRequest": {
      "description": "Request for manually stopping a running backfill job for a specific stream object.",
      "id": "StopBackfillJobRequest",
      "type": "object",
      "properties": {}
    },
    "DatasetTemplate": {
      "properties": {
        "kmsKeyName": {
          "description": "Describes the Cloud KMS encryption key that will be used to protect destination BigQuery table. The BigQuery Service Account associated with your project requires access to this encryption key. i.e. projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{cryptoKey}. See https://cloud.google.com/bigquery/docs/customer-managed-encryption for more information.",
          "type": "string"
        },
        "datasetIdPrefix": {
          "description": "If supplied, every created dataset will have its name prefixed by the provided value. The prefix and name will be separated by an underscore. i.e. _.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Required. The geographic location where the dataset should reside. See https://cloud.google.com/bigquery/docs/locations for supported locations."
        }
      },
      "description": "Dataset template used for dynamic dataset creation.",
      "type": "object",
      "id": "DatasetTemplate"
    },
    "OracleAsmLogFileAccess": {
      "id": "OracleAsmLogFileAccess",
      "type": "object",
      "description": "Configuration to use Oracle ASM to access the log files.",
      "properties": {}
    },
    "OracleObjectIdentifier": {
      "id": "OracleObjectIdentifier",
      "properties": {
        "table": {
          "description": "Required. The table name.",
          "type": "string"
        },
        "schema": {
          "description": "Required. The schema name.",
          "type": "string"
        }
      },
      "description": "Oracle data source object identifier.",
      "type": "object"
    },
    "OracleRdbms": {
      "id": "OracleRdbms",
      "description": "Oracle database structure.",
      "type": "object",
      "properties": {
        "oracleSchemas": {
          "description": "Oracle schemas/databases in the database server.",
          "type": "array",
          "items": {
            "$ref": "OracleSchema"
          }
        }
      }
    },
    "Oauth2ClientCredentials": {
      "type": "object",
      "properties": {
        "clientId": {
          "description": "Required. Client ID for Salesforce OAuth2 Client Credentials.",
          "type": "string"
        },
        "secretManagerStoredClientSecret": {
          "description": "Optional. A reference to a Secret Manager resource name storing the Salesforce OAuth2 client_secret. Mutually exclusive with the `client_secret` field.",
          "type": "string"
        },
        "clientSecret": {
          "description": "Optional. Client secret for Salesforce OAuth2 Client Credentials. Mutually exclusive with the `secret_manager_stored_client_secret` field.",
          "type": "string"
        }
      },
      "id": "Oauth2ClientCredentials",
      "description": "OAuth2 Client Credentials."
    },
    "EncryptionAndServerValidation": {
      "properties": {
        "serverCertificateHostname": {
[...]
