{
  "version": "v1",
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "name": "datacatalog",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "description": "A fully managed and highly scalable data discovery and metadata management service. ",
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/data-catalog/docs/",
  "title": "Google Cloud Data Catalog API",
  "ownerDomain": "google.com",
  "basePath": "",
  "mtlsRootUrl": "https://datacatalog.mtls.googleapis.com/",
  "canonicalName": "Data Catalog",
  "rootUrl": "https://datacatalog.googleapis.com/",
  "schemas": {
    "GoogleCloudDatacatalogV1GraphSpecGraphElementTableGraphNodeReference": {
      "type": "object",
      "id": "GoogleCloudDatacatalogV1GraphSpecGraphElementTableGraphNodeReference",
      "properties": {
        "nodeTableColumns": {
          "items": {
            "type": "string"
          },
          "description": "Required. The referenced columns of the source node table.",
          "type": "array"
        },
        "edgeTableColumns": {
          "items": {
            "type": "string"
          },
          "description": "Required. The referencing columns in the edge table. The size of `edge_table_columns` must be equal to the size of `node_table_columns`.",
          "type": "array"
        },
        "nodeAlias": {
          "type": "string",
          "description": "Required. The reference to the source/destination node of the edge. This name must be a valid `alias` of a node element in the same graph. Example, `Person` node can be a source node name of an edge element `Person_to_Address`."
        }
      },
      "description": "A reference to a source or destination node in a graph edge."
    },
    "GoogleCloudDatacatalogV1UsageStats": {
      "type": "object",
      "id": "GoogleCloudDatacatalogV1UsageStats",
      "properties": {
        "totalFailures": {
          "type": "number",
          "format": "float",
          "description": "The number of failed attempts to use the underlying entry."
        },
        "totalExecutionTimeForCompletionsMillis": {
          "format": "float",
          "type": "number",
          "description": "Total time spent only on successful uses, in milliseconds."
        },
        "totalCancellations": {
          "description": "The number of cancelled attempts to use the underlying entry.",
          "type": "number",
          "format": "float"
        },
        "totalCompletions": {
          "format": "float",
          "type": "number",
          "description": "The number of successful uses of the underlying entry."
        }
      },
      "description": "Detailed statistics on the entry's usage. Usage statistics have the following limitations: - Only BigQuery tables have them. - They only include BigQuery query jobs. - They might be underestimated because wildcard table references are not yet counted. For more information, see [Querying multiple tables using a wildcard table] (https://cloud.google.com/bigquery/docs/querying-wildcard-tables)"
    },
    "GoogleCloudDatacatalogV1ModifyEntryOverviewRequest": {
      "id": "GoogleCloudDatacatalogV1ModifyEntryOverviewRequest",
      "description": "Request message for ModifyEntryOverview.",
      "type": "object",
      "properties": {
        "entryOverview": {
          "$ref": "GoogleCloudDatacatalogV1EntryOverview",
          "description": "Required. The new value for the Entry Overview."
        }
      }
    },
    "GoogleCloudDatacatalogV1GcsFilesetSpec": {
      "properties": {
        "filePatterns": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. Patterns to identify a set of files in Google Cloud Storage. For more information, see [Wildcard Names] (https://cloud.google.com/storage/docs/wildcards). Note: Currently, bucket wildcards are not supported. Examples of valid `file_patterns`: * `gs://bucket_name/dir/*`: matches all files in `bucket_name/dir` directory * `gs://bucket_name/dir/**`: matches all files in `bucket_name/dir` and all subdirectories * `gs://bucket_name/file*`: matches files prefixed by `file` in `bucket_name` * `gs://bucket_name/??.txt`: matches files with two characters followed by `.txt` in `bucket_name` * `gs://bucket_name/[aeiou].txt`: matches files that contain a single vowel character followed by `.txt` in `bucket_name` * `gs://bucket_name/[a-m].txt`: matches files that contain `a`, `b`, ... or `m` followed by `.txt` in `bucket_name` * `gs://bucket_name/a/*/b`: matches all files in `bucket_name` that match the `a/*/b` pattern, such as `a/c/b`, `a/d/b` * `gs://another_bucket/a.txt`: matches `gs://another_bucket/a.txt` You can combine wildcards to match complex sets of files, for example: `gs://bucket_name/[a-m]??.j*g`"
        },
        "sampleGcsFileSpecs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1GcsFileSpec"
          },
          "readOnly": true,
          "description": "Output only. Sample files contained in this fileset, not all files contained in this fileset are represented here."
        }
      },
      "type": "object",
      "description": "Describes a Cloud Storage fileset entry.",
      "id": "GoogleCloudDatacatalogV1GcsFilesetSpec"
    },
    "GoogleCloudDatacatalogV1FieldType": {
      "properties": {
        "enumType": {
          "description": "An enum type.",
          "$ref": "GoogleCloudDatacatalogV1FieldTypeEnumType"
        },
        "primitiveType": {
          "enumDescriptions": [
            "The default invalid value for a type.",
            "A double precision number.",
            "An UTF-8 string.",
            "A boolean value.",
            "A timestamp.",
            "A Richtext description."
          ],
          "type": "string",
          "enum": [
            "PRIMITIVE_TYPE_UNSPECIFIED",
            "DOUBLE",
            "STRING",
            "BOOL",
            "TIMESTAMP",
            "RICHTEXT"
          ],
          "description": "Primitive types, such as string, boolean, etc."
        }
      },
      "id": "GoogleCloudDatacatalogV1FieldType",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1SystemTimestamps": {
      "type": "object",
      "id": "GoogleCloudDatacatalogV1SystemTimestamps",
      "description": "Timestamps associated with this resource in a particular system.",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Creation timestamp of the resource within the given system."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Timestamp of the last modification of the resource or its metadata within a given system. Note: Depending on the source system, not every modification updates this timestamp. For example, BigQuery timestamps every metadata modification but not data or permission changes.",
          "type": "string"
        },
        "expireTime": {
          "description": "Output only. Expiration timestamp of the resource within the given system. Currently only applicable to BigQuery resources.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDatacatalogV1DataplexExternalTable": {
      "type": "object",
      "id": "GoogleCloudDatacatalogV1DataplexExternalTable",
      "description": "External table registered by Dataplex Universal Catalog. Dataplex Universal Catalog publishes data discovered from an asset into multiple other systems (BigQuery, DPMS) in form of tables. We call them \"external tables\". External tables are also synced into the Data Catalog. This message contains pointers to those external tables (fully qualified name, resource name et cetera) within the Data Catalog.",
      "properties": {
        "system": {
          "description": "Service in which the external table is registered.",
          "enumDescriptions": [
            "Default unknown system.",
            "BigQuery.",
            "Cloud Pub/Sub.",
            "Dataproc Metastore.",
            "Dataplex Universal Catalog.",
            "Cloud Spanner",
            "Cloud Bigtable",
            "Cloud Sql",
            "Looker",
            "Vertex AI"
          ],
          "type": "string",
          "enum": [
            "INTEGRATED_SYSTEM_UNSPECIFIED",
            "BIGQUERY",
            "CLOUD_PUBSUB",
            "DATAPROC_METASTORE",
            "DATAPLEX",
            "CLOUD_SPANNER",
            "CLOUD_BIGTABLE",
            "CLOUD_SQL",
            "LOOKER",
            "VERTEX_AI"
          ]
        },
        "dataCatalogEntry": {
          "type": "string",
          "description": "Name of the Data Catalog entry representing the external table."
        },
        "googleCloudResource": {
          "description": "Google Cloud resource name of the external table.",
          "type": "string"
        },
        "fullyQualifiedName": {
          "description": "Fully qualified name (FQN) of the external table.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatacatalogV1DatabaseTableSpecDatabaseViewSpec": {
      "properties": {
        "baseTable": {
          "description": "Name of a singular table this view reflects one to one.",
          "type": "string"
        },
        "viewType": {
          "description": "Type of this view.",
          "enumDescriptions": [
            "Default unknown view type.",
            "Standard view.",
            "Materialized view."
          ],
          "type": "string",
          "enum": [
            "VIEW_TYPE_UNSPECIFIED",
            "STANDARD_VIEW",
            "MATERIALIZED_VIEW"
          ]
        },
        "sqlQuery": {
          "type": "string",
          "description": "SQL query used to generate this view."
        }
      },
      "id": "GoogleCloudDatacatalogV1DatabaseTableSpecDatabaseViewSpec",
      "type": "object",
      "description": "Specification that applies to database view."
    },
    "GoogleCloudDatacatalogV1SearchCatalogResponse": {
      "properties": {
        "results": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1SearchCatalogResult"
          },
          "description": "Search results."
        },
        "unreachable": {
          "type": "array",
          "description": "Unreachable locations. Search results don't include data from those locations. To get additional information on an error, repeat the search request and restrict it to specific locations by setting the `SearchCatalogRequest.scope.restricted_locations` parameter.",
          "items": {
            "type": "string"
          }
        },
        "totalSize": {
          "description": "The approximate total number of entries matched by the query.",
          "type": "integer",
          "format": "int32"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token that can be used in subsequent calls to retrieve the next page of results."
        }
      },
      "id": "GoogleCloudDatacatalogV1SearchCatalogResponse",
      "description": "Response message for SearchCatalog.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1Entry": {
      "id": "GoogleCloudDatacatalogV1Entry",
      "type": "object",
      "description": "Entry metadata. A Data Catalog entry represents another resource in Google Cloud Platform (such as a BigQuery dataset or a Pub/Sub topic) or outside of it. You can use the `linked_resource` field in the entry resource to refer to the original resource ID of the source system. An entry resource contains resource details, for example, its schema. Additionally, you can attach flexible metadata to an entry in the form of a Tag.",
      "properties": {
        "integratedSystem": {
          "enumDescriptions": [
            "Default unknown system.",
            "BigQuery.",
            "Cloud Pub/Sub.",
            "Dataproc Metastore.",
            "Dataplex Universal Catalog.",
            "Cloud Spanner",
            "Cloud Bigtable",
            "Cloud Sql",
            "Looker",
            "Vertex AI"
          ],
          "readOnly": true,
          "description": "Output only. Indicates the entry's source system that Data Catalog integrates with, such as BigQuery, Pub/Sub, or Dataproc Metastore.",
          "type": "string",
          "enum": [
            "INTEGRATED_SYSTEM_UNSPECIFIED",
            "BIGQUERY",
            "CLOUD_PUBSUB",
            "DATAPROC_METASTORE",
            "DATAPLEX",
            "CLOUD_SPANNER",
            "CLOUD_BIGTABLE",
            "CLOUD_SQL",
            "LOOKER",
            "VERTEX_AI"
          ]
        },
        "datasetSpec": {
          "description": "Specification that applies to a dataset.",
          "$ref": "GoogleCloudDatacatalogV1DatasetSpec"
        },
        "cloudBigtableSystemSpec": {
          "description": "Specification that applies to Cloud Bigtable system. Only settable when `integrated_system` is equal to `CLOUD_BIGTABLE`",
          "$ref": "GoogleCloudDatacatalogV1CloudBigtableSystemSpec"
        },
        "personalDetails": {
          "$ref": "GoogleCloudDatacatalogV1PersonalDetails",
          "readOnly": true,
          "description": "Output only. Additional information related to the entry. Private to the current user."
        },
        "gcsFilesetSpec": {
          "description": "Specification that applies to a Cloud Storage fileset. Valid only for entries with the `FILESET` type.",
          "$ref": "GoogleCloudDatacatalogV1GcsFilesetSpec"
        },
        "businessContext": {
          "description": "Business Context of the entry. Not supported for BigQuery datasets",
          "$ref": "GoogleCloudDatacatalogV1BusinessContext"
        },
        "usageSignal": {
          "description": "Resource usage statistics.",
          "$ref": "GoogleCloudDatacatalogV1UsageSignal"
        },
        "fullyQualifiedName": {
          "description": "[Fully Qualified Name (FQN)](https://cloud.google.com//data-catalog/docs/fully-qualified-names) of the resource. Set automatically for entries representing resources from synced systems. Settable only during creation, and read-only later. Can be used for search and lookup of the entries. ",
          "type": "string"
        },
        "filesetSpec": {
          "description": "Specification that applies to a fileset resource. Valid only for entries with the `FILESET` type.",
          "$ref": "GoogleCloudDatacatalogV1FilesetSpec"
        },
        "userSpecifiedType": {
          "description": "Custom entry type that doesn't match any of the values allowed for input and listed in the `EntryType` enum. When creating an entry, first check the type values in the enum. If there are no appropriate types for the new entry, provide a custom value, for example, `my_special_type`. The `user_specified_type` string has the following limitations: * Is case insensitive. * Must begin with a letter or underscore. * Can only contain letters, numbers, and underscores. * Must be at least 1 character and at most 64 characters long.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. Identifier. The resource name of an entry in URL format. Note: The entry itself and its child resources might not be stored in the location specified in its name.",
          "readOnly": true
        },
        "dataSource": {
          "$ref": "GoogleCloudDatacatalogV1DataSource",
          "description": "Output only. Physical location of the entry.",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Entry description that can consist of several sentences or paragraphs that describe entry contents. The description must not contain Unicode non-characters as well as C0 and C1 control codes except tabs (HT), new lines (LF), carriage returns (CR), and page breaks (FF). The maximum size is 2000 bytes when encoded in UTF-8. Default value is an empty string."
        },
        "bigqueryTableSpec": {
          "$ref": "GoogleCloudDatacatalogV1BigQueryTableSpec",
          "description": "Output only. Specification that applies to a BigQuery table. Valid only for entries with the `TABLE` type.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "enum": [
            "ENTRY_TYPE_UNSPECIFIED",
            "TABLE",
            "MODEL",
            "DATA_STREAM",
            "FILESET",
            "CLUSTER",
            "DATABASE",
            "DATA_SOURCE_CONNECTION",
            "ROUTINE",
            "LAKE",
            "ZONE",
            "SERVICE",
            "DATABASE_SCHEMA",
            "DASHBOARD",
            "EXPLORE",
            "LOOK",
            "FEATURE_ONLINE_STORE",
            "FEATURE_VIEW",
            "FEATURE_GROUP",
            "GRAPH",
            "NODE",
            "EDGE"
          ],
          "enumDescriptions": [
            "Default unknown type.",
            "The entry type that has a GoogleSQL schema, including logical views.",
            "The type of models. For more information, see [Supported models in BigQuery ML](/bigquery/docs/bqml-introduction#supported_models).",
            "An entry type for streaming entries. For example, a Pub/Sub topic.",
            "An entry type for a set of files or objects. For example, a Cloud Storage fileset.",
            "A group of servers that work together. For example, a Kafka cluster.",
            "A database.",
            "Connection to a data source. For example, a BigQuery connection.",
            "Routine, for example, a BigQuery routine.",
            "A Dataplex Universal Catalog lake.",
            "A Dataplex Universal Catalog zone.",
            "A service, for example, a Dataproc Metastore service.",
            "Schema within a relational database.",
            "A Dashboard, for example from Looker.",
            "A Looker Explore. For more information, see [Looker Explore API] (https://developers.looker.com/api/explorer/4.0/methods/LookmlModel/lookml_model_explore).",
            "A Looker Look. For more information, see [Looker Look API] (https://developers.looker.com/api/explorer/4.0/methods/Look).",
            "Feature Online Store resource in Vertex AI Feature Store.",
            "Feature View resource in Vertex AI Feature Store.",
            "Feature Group resource in Vertex AI Feature Store.",
            "An entry type for a graph.",
            "An entry type for a graph node.",
            "An entry type for a graph edge."
          ],
          "description": "The type of the entry. For details, see [`EntryType`](#entrytype)."
        },
        "graphSpec": {
          "$ref": "GoogleCloudDatacatalogV1GraphSpec",
          "description": "Spec for graph."
        },
        "sourceSystemTimestamps": {
          "description": "Timestamps from the underlying resource, not from the Data Catalog entry. Output only when the entry has a system listed in the `IntegratedSystem` enum. For entries with `user_specified_system`, this field is optional and defaults to an empty timestamp.",
          "$ref": "GoogleCloudDatacatalogV1SystemTimestamps"
        },
        "dataSourceConnectionSpec": {
          "description": "Specification that applies to a data source connection. Valid only for entries with the `DATA_SOURCE_CONNECTION` type.",
          "$ref": "GoogleCloudDatacatalogV1DataSourceConnectionSpec"
        },
        "schema": {
          "description": "Schema of the entry. An entry might not have any schema attached to it.",
          "$ref": "GoogleCloudDatacatalogV1Schema"
        },
        "databaseTableSpec": {
          "description": "Specification that applies to a table resource. Valid only for entries with the `TABLE` or `EXPLORE` type.",
          "$ref": "GoogleCloudDatacatalogV1DatabaseTableSpec"
        },
        "routineSpec": {
          "description": "Specification that applies to a user-defined function or procedure. Valid only for entries with the `ROUTINE` type.",
          "$ref": "GoogleCloudDatacatalogV1RoutineSpec"
        },
        "bigqueryDateShardedSpec": {
          "description": "Output only. Specification for a group of BigQuery tables with the `[prefix]YYYYMMDD` name pattern. For more information, see [Introduction to partitioned tables] (https://cloud.google.com/bigquery/docs/partitioned-tables#partitioning_versus_sharding).",
          "readOnly": true,
          "$ref": "GoogleCloudDatacatalogV1BigQueryDateShardedSpec"
        },
        "serviceSpec": {
          "description": "Specification that applies to a Service resource.",
          "$ref": "GoogleCloudDatacatalogV1ServiceSpec"
        },
        "linkedResource": {
          "description": "The resource this metadata entry refers to. For Google Cloud Platform resources, `linked_resource` is the [Full Resource Name] (https://cloud.google.com/apis/design/resource_names#full_resource_name). For example, the `linked_resource` for a table resource from BigQuery is: `//bigquery.googleapis.com/projects/{PROJECT_ID}/datasets/{DATASET_ID}/tables/{TABLE_ID}` Output only when the entry is one of the types in the `EntryType` enum. For entries with a `user_specified_type`, this field is optional and defaults to an empty string. The resource string must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), periods (.), colons (:), slashes (/), dashes (-), and hashes (#). The maximum size is 200 bytes when encoded in UTF-8.",
          "type": "string"
        },
        "featureOnlineStoreSpec": {
          "description": "FeatureonlineStore spec for Vertex AI Feature Store.",
          "$ref": "GoogleCloudDatacatalogV1FeatureOnlineStoreSpec"
        },
        "displayName": {
          "description": "Display name of an entry. The maximum size is 500 bytes when encoded in UTF-8. Default value is an empty string.",
          "type": "string"
        },
        "spannerTableSpec": {
          "description": "Specification of a Spanner table.",
          "$ref": "GoogleCloudDatacatalogV1SpannerTableSpec"
        },
        "sqlDatabaseSystemSpec": {
          "$ref": "GoogleCloudDatacatalogV1SqlDatabaseSystemSpec",
          "description": "Specification that applies to a relational database system. Only settable when `user_specified_system` is equal to `SQL_DATABASE`"
        },
        "lookerSystemSpec": {
          "description": "Specification that applies to Looker sysstem. Only settable when `user_specified_system` is equal to `LOOKER`",
          "$ref": "GoogleCloudDatacatalogV1LookerSystemSpec"
        },
        "modelSpec": {
          "description": "Model specification.",
          "$ref": "GoogleCloudDatacatalogV1ModelSpec"
        },
        "labels": {
          "description": "Cloud labels attached to the entry. In Data Catalog, you can create and modify labels attached only to custom entries. Synced entries have unmodifiable labels that come from the source system.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "userSpecifiedSystem": {
          "description": "Indicates the entry's source system that Data Catalog doesn't automatically integrate with. The `user_specified_system` string has the following limitations: * Is case insensitive. * Must begin with a letter or underscore. * Can only contain letters, numbers, and underscores. * Must be at least 1 character and at most 64 characters long.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatacatalogV1DataplexTableSpec": {
      "description": "Entry specification for a Dataplex Universal Catalog table.",
      "type": "object",
      "properties": {
        "dataplexSpec": {
          "description": "Common Dataplex Universal Catalog fields.",
          "$ref": "GoogleCloudDatacatalogV1DataplexSpec"
        },
        "externalTables": {
          "items": {
            "$ref": "GoogleCloudDatacatalogV1DataplexExternalTable"
          },
          "description": "List of external tables registered by Dataplex Universal Catalog in other systems based on the same underlying data. External tables allow to query this data in those systems.",
          "type": "array"
        },
        "userManaged": {
          "description": "Indicates if the table schema is managed by the user or not.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDatacatalogV1DataplexTableSpec"
    },
    "GoogleCloudDatacatalogV1CloudSqlBigQueryConnectionSpec": {
      "description": "Specification for the BigQuery connection to a Cloud SQL instance.",
      "id": "GoogleCloudDatacatalogV1CloudSqlBigQueryConnectionSpec",
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Unspecified database type.",
            "Cloud SQL for PostgreSQL.",
            "Cloud SQL for MySQL."
          ],
          "description": "Type of the Cloud SQL database.",
          "type": "string",
          "enum": [
            "DATABASE_TYPE_UNSPECIFIED",
            "POSTGRES",
            "MYSQL"
          ]
        },
        "instanceId": {
          "type": "string",
          "description": "Cloud SQL instance ID in the format of `project:location:instance`."
        },
        "database": {
          "description": "Database name.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatacatalogV1ImportEntriesMetadata": {
      "id": "GoogleCloudDatacatalogV1ImportEntriesMetadata",
      "description": "Metadata message for long-running operation returned by the ImportEntries.",
      "type": "object",
      "properties": {
        "state": {
          "description": "State of the import operation.",
          "type": "string",
          "enum": [
            "IMPORT_STATE_UNSPECIFIED",
            "IMPORT_QUEUED",
            "IMPORT_IN_PROGRESS",
            "IMPORT_DONE",
            "IMPORT_OBSOLETE"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The dump with entries has been queued for import.",
            "The import of entries is in progress.",
            "The import of entries has been finished.",
            "The import of entries has been abandoned in favor of a newer request."
          ]
        },
        "errors": {
          "items": {
            "$ref": "Status"
          },
          "type": "array",
          "description": "Partial errors that are encountered during the ImportEntries operation. There is no guarantee that all the encountered errors are reported. However, if no errors are reported, it means that no errors were encountered."
        }
      }
    },
    "GoogleCloudDatacatalogV1EntryGroup": {
      "description": "Entry group metadata. An `EntryGroup` resource represents a logical grouping of zero or more Data Catalog Entry resources.",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1EntryGroup",
      "properties": {
        "transferredToDataplex": {
          "type": "boolean",
          "description": "Optional. When set to [true], it means DataCatalog EntryGroup was transferred to Dataplex Universal Catalog. It makes EntryGroup and its Entries to be read-only in DataCatalog. However, new Tags on EntryGroup and its Entries can be created. After setting the flag to [true] it cannot be unset."
        },
        "dataCatalogTimestamps": {
          "$ref": "GoogleCloudDatacatalogV1SystemTimestamps",
          "description": "Output only. Timestamps of the entry group. Default value is empty.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the entry group in URL format. Note: The entry group itself and its child resources might not be stored in the location specified in its name."
        },
        "description": {
          "description": "Entry group description. Can consist of several sentences or paragraphs that describe the entry group contents. Default value is an empty string.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "A short name to identify the entry group, for example, \"analytics data - jan 2011\". Default value is an empty string."
        }
      }
    },
    "GoogleCloudDatacatalogV1RoutineSpec": {
      "properties": {
        "returnType": {
          "description": "Return type of the argument. The exact value depends on the source system and the language.",
          "type": "string"
        },
        "definitionBody": {
          "description": "The body of the routine.",
          "type": "string"
        },
        "language": {
          "description": "The language the routine is written in. The exact value depends on the source system. For BigQuery routines, possible values are: * `SQL` * `JAVASCRIPT`",
          "type": "string"
        },
        "routineArguments": {
          "description": "Arguments of the routine.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1RoutineSpecArgument"
          }
        },
        "routineType": {
          "description": "The type of the routine.",
          "type": "string",
          "enum": [
            "ROUTINE_TYPE_UNSPECIFIED",
            "SCALAR_FUNCTION",
            "PROCEDURE"
          ],
          "enumDescriptions": [
            "Unspecified type.",
            "Non-builtin permanent scalar function.",
            "Stored procedure."
          ]
        },
        "bigqueryRoutineSpec": {
          "description": "Fields specific for BigQuery routines.",
          "$ref": "GoogleCloudDatacatalogV1BigQueryRoutineSpec"
        }
      },
      "description": "Specification that applies to a routine. Valid only for entries with the `ROUTINE` type.",
      "id": "GoogleCloudDatacatalogV1RoutineSpec",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1SearchCatalogResult": {
      "description": "Result in the response to a search request. Each result captures details of one entry that matches the search.",
      "id": "GoogleCloudDatacatalogV1SearchCatalogResult",
      "properties": {
        "fullyQualifiedName": {
          "description": "Fully qualified name (FQN) of the resource. FQNs take two forms: * For non-regionalized resources: `{SYSTEM}:{PROJECT}.{PATH_TO_RESOURCE_SEPARATED_WITH_DOTS}` * For regionalized resources: `{SYSTEM}:{PROJECT}.{LOCATION_ID}.{PATH_TO_RESOURCE_SEPARATED_WITH_DOTS}` Example for a DPMS table: `dataproc_metastore:PROJECT_ID.LOCATION_ID.INSTANCE_ID.DATABASE_ID.TABLE_ID`",
          "type": "string"
        },
        "userSpecifiedSystem": {
          "type": "string",
          "description": "Custom source system that you can manually integrate Data Catalog with."
        },
        "searchResultType": {
          "type": "string",
          "enum": [
            "SEARCH_RESULT_TYPE_UNSPECIFIED",
            "ENTRY",
            "TAG_TEMPLATE",
            "ENTRY_GROUP"
          ],
          "enumDescriptions": [
            "Default unknown type.",
            "An Entry.",
            "A TagTemplate.",
            "An EntryGroup."
          ],
          "description": "Type of the search result. You can use this field to determine which get method to call to fetch the full resource."
        },
        "integratedSystem": {
          "type": "string",
          "enum": [
            "INTEGRATED_SYSTEM_UNSPECIFIED",
            "BIGQUERY",
            "CLOUD_PUBSUB",
            "DATAPROC_METASTORE",
            "DATAPLEX",
            "CLOUD_SPANNER",
            "CLOUD_BIGTABLE",
            "CLOUD_SQL",
            "LOOKER",
            "VERTEX_AI"
          ],
          "enumDescriptions": [
            "Default unknown system.",
            "BigQuery.",
            "Cloud Pub/Sub.",
            "Dataproc Metastore.",
            "Dataplex Universal Catalog.",
            "Cloud Spanner",
            "Cloud Bigtable",
            "Cloud Sql",
            "Looker",
            "Vertex AI"
          ],
          "readOnly": true,
          "description": "Output only. The source system that Data Catalog automatically integrates with, such as BigQuery, Cloud Pub/Sub, or Dataproc Metastore."
        },
        "displayName": {
          "description": "The display name of the result.",
          "type": "string"
        },
        "linkedResource": {
          "description": "The full name of the Google Cloud resource the entry belongs to. For more information, see [Full Resource Name] (/apis/design/resource_names#full_resource_name). Example: `//bigquery.googleapis.com/projects/PROJECT_ID/datasets/DATASET_ID/tables/TABLE_ID`",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Entry description that can consist of several sentences or paragraphs that describe entry contents."
        },
        "relativeResourceName": {
          "description": "The relative name of the resource in URL format. Examples: * `projects/{PROJECT_ID}/locations/{LOCATION_ID}/entryGroups/{ENTRY_GROUP_ID}/entries/{ENTRY_ID}` * `projects/{PROJECT_ID}/tagTemplates/{TAG_TEMPLATE_ID}`",
          "type": "string"
        },
        "searchResultSubtype": {
          "description": "Sub-type of the search result. A dot-delimited full type of the resource. The same type you specify in the `type` search predicate. Examples: `entry.table`, `entry.dataStream`, `tagTemplate`.",
          "type": "string"
        },
        "modifyTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The last modification timestamp of the entry in the source system."
        }
      },
      "type": "object"
    },
    "GoogleCloudDatacatalogV1ColumnSchemaLookerColumnSpec": {
      "description": "Column info specific to Looker System.",
      "id": "GoogleCloudDatacatalogV1ColumnSchemaLookerColumnSpec",
      "properties": {
        "type": {
          "description": "Looker specific column type of this column.",
          "enumDescriptions": [
            "Unspecified.",
            "Dimension.",
            "Dimension group - parent for Dimension.",
            "Filter.",
            "Measure.",
            "Parameter."
          ],
          "type": "string",
          "enum": [
            "LOOKER_COLUMN_TYPE_UNSPECIFIED",
            "DIMENSION",
            "DIMENSION_GROUP",
            "FILTER",
            "MEASURE",
            "PARAMETER"
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudDatacatalogV1ListEntriesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token of the next results page. Empty if there are no more items in results."
        },
        "entries": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1Entry"
          },
          "description": "Entry details."
        }
      },
      "description": "Response message for ListEntries.",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1ListEntriesResponse"
    },
    "GoogleCloudDatacatalogV1GraphSpecGraphElementTable": {
      "id": "GoogleCloudDatacatalogV1GraphSpecGraphElementTable",
      "properties": {
        "sourceNodeReference": {
          "$ref": "GoogleCloudDatacatalogV1GraphSpecGraphElementTableGraphNodeReference",
          "description": "Optional. The source node reference of the edge."
        },
        "dynamicPropertiesColumn": {
          "type": "string",
          "description": "Optional. If set, this is the input column for dynamic properties in schemaless data model."
        },
        "elementKeys": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The name of the keys of the elements in the table."
        },
        "kind": {
          "type": "string",
          "enum": [
            "KIND_UNSPECIFIED",
            "NODE",
            "EDGE"
          ],
          "description": "Required. The kind of the graph element.",
          "enumDescriptions": [
            "Default unknown kind.",
            "Node kind.",
            "Edge kind."
          ]
        },
        "alias": {
          "description": "Required. The alias name of the graph element.",
          "type": "string"
        },
        "dataSource": {
          "description": "Required. The name of the data source. This is either a table name or a view name that is used for graph element input source. E.g. `Person` table or `PersonView` view.",
          "type": "string"
        },
        "dynamicLabelColumn": {
          "type": "string",
          "description": "Optional. If set, this is the input column for dynamic label in schemaless data model."
        },
        "labelAndProperties": {
          "items": {
            "$ref": "GoogleCloudDatacatalogV1GraphSpecGraphElementTableLabelAndProperties"
          },
          "type": "array",
          "description": "Required. The labels and their properties for the graph element."
        },
        "destinationNodeReference": {
          "description": "Optional. The destination node reference of the edge.",
          "$ref": "GoogleCloudDatacatalogV1GraphSpecGraphElementTableGraphNodeReference"
        },
        "inputSource": {
          "type": "string",
          "enum": [
            "INPUT_SOURCE_UNSPECIFIED",
            "TABLE",
            "VIEW"
          ],
          "enumDescriptions": [
            "Default unknown input source.",
            "Table input source.",
            "View input source."
          ],
          "description": "Required. The input source of the graph element."
        }
      },
      "description": "Element table definition.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1ReplaceTaxonomyRequest": {
      "id": "GoogleCloudDatacatalogV1ReplaceTaxonomyRequest",
      "properties": {
        "serializedTaxonomy": {
          "$ref": "GoogleCloudDatacatalogV1SerializedTaxonomy",
          "description": "Required. Taxonomy to update along with its child policy tags."
        }
      },
      "type": "object",
      "description": "Request message for ReplaceTaxonomy."
    },
    "GoogleCloudDatacatalogV1ExportTaxonomiesResponse": {
      "id": "GoogleCloudDatacatalogV1ExportTaxonomiesResponse",
      "description": "Response message for ExportTaxonomies.",
      "properties": {
        "taxonomies": {
          "items": {
            "$ref": "GoogleCloudDatacatalogV1SerializedTaxonomy"
          },
          "description": "List of taxonomies and policy tags as nested protocol buffers.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDatacatalogV1StarEntryResponse": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudDatacatalogV1StarEntryResponse",
      "description": "Response message for StarEntry. Empty for now"
    },
    "GoogleCloudDatacatalogV1PhysicalSchemaThriftSchema": {
      "id": "GoogleCloudDatacatalogV1PhysicalSchemaThriftSchema",
      "type": "object",
      "properties": {
        "text": {
          "type": "string",
          "description": "Thrift IDL source of the schema."
        }
      },
      "description": "Schema in Thrift format."
    },
    "GoogleCloudDatacatalogV1UnstarEntryRequest": {
      "properties": {},
      "id": "GoogleCloudDatacatalogV1UnstarEntryRequest",
      "description": "Request message for UnstarEntry.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1Taxonomy": {
      "type": "object",
      "description": "A taxonomy is a collection of hierarchical policy tags that classify data along a common axis. For example, a \"data sensitivity\" taxonomy might contain the following policy tags: ``` + PII + Account number + Age + SSN + Zipcode + Financials + Revenue ``` A \"data origin\" taxonomy might contain the following policy tags: ``` + User data + Employee data + Partner data + Public data ```",
      "id": "GoogleCloudDatacatalogV1Taxonomy",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. Resource name of this taxonomy in URL format. Note: Policy tag manager generates unique taxonomy IDs."
        },
        "service": {
          "readOnly": true,
          "description": "Output only. Identity of the service which owns the Taxonomy. This field is only populated when the taxonomy is created by a Google Cloud service. Currently only 'DATAPLEX' is supported.",
          "$ref": "GoogleCloudDatacatalogV1TaxonomyService"
        },
        "activatedPolicyTypes": {
          "items": {
            "type": "string",
            "enum": [
              "POLICY_TYPE_UNSPECIFIED",
              "FINE_GRAINED_ACCESS_CONTROL"
            ],
            "enumDescriptions": [
              "Unspecified policy type.",
              "Fine-grained access control policy that enables access control on tagged sub-resources."
            ]
          },
          "type": "array",
          "description": "Optional. A list of policy types that are activated for this taxonomy. If not set, defaults to an empty list."
        },
        "displayName": {
          "type": "string",
          "description": "Required. User-defined name of this taxonomy. The name can't start or end with spaces, must contain only Unicode letters, numbers, underscores, dashes, and spaces, and be at most 200 bytes long when encoded in UTF-8. The taxonomy display name must be unique within an organization."
        },
        "description": {
          "description": "Optional. Description of this taxonomy. If not set, defaults to empty. The description must contain only Unicode characters, tabs, newlines, carriage returns, and page breaks, and be at most 2000 bytes long when encoded in UTF-8.",
          "type": "string"
        },
        "policyTagCount": {
          "description": "Output only. Number of policy tags in this taxonomy.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "taxonomyTimestamps": {
          "$ref": "GoogleCloudDatacatalogV1SystemTimestamps",
          "readOnly": true,
          "description": "Output only. Creation and modification timestamps of this taxonomy."
        }
      }
    },
    "GoogleCloudDatacatalogV1PhysicalSchemaProtobufSchema": {
      "description": "Schema in protocol buffer format.",
      "type": "object",
      "properties": {
        "text": {
          "description": "Protocol buffer source of the schema.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDatacatalogV1PhysicalSchemaProtobufSchema"
    },
    "GoogleCloudDatacatalogV1OrganizationConfig": {
      "properties": {
        "config": {
          "additionalProperties": {
            "$ref": "GoogleCloudDatacatalogV1MigrationConfig"
          },
          "type": "object",
          "description": "Map of organizations and project resource names and their configuration. The format for the map keys is `organizations/{organizationId}` or `projects/{projectId}`."
        }
      },
      "type": "object",
      "description": "The configuration related to the migration from Data Catalog to Dataplex Universal Catalog that has been applied to an organization and any projects under it. It is the response message for RetrieveConfig.",
      "id": "GoogleCloudDatacatalogV1OrganizationConfig"
    },
    "GoogleCloudDatacatalogV1SpannerTableSpecSpannerForeignKeyForeignKeyColumnMapping": {
      "type": "object",
      "properties": {
        "referenceColumn": {
          "type": "string",
          "description": "Output only. The column in the referenced table that is part of the foreign key.",
          "readOnly": true
        },
        "column": {
          "description": "Output only. The column in the current table that is part of the foreign key.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Column mapping for a Spanner foreign key.",
      "id": "GoogleCloudDatacatalogV1SpannerTableSpecSpannerForeignKeyForeignKeyColumnMapping"
    },
    "GoogleCloudDatacatalogV1DumpItem": {
      "type": "object",
      "id": "GoogleCloudDatacatalogV1DumpItem",
      "properties": {
        "taggedEntry": {
          "$ref": "GoogleCloudDatacatalogV1TaggedEntry",
          "description": "Entry and its tags."
        }
      },
      "description": "Wrapper for any item that can be contained in the dump."
    },
    "GoogleCloudDatacatalogV1CrossRegionalSource": {
      "description": "Cross-regional source used to import an existing taxonomy into a different region.",
      "id": "GoogleCloudDatacatalogV1CrossRegionalSource",
      "properties": {
        "taxonomy": {
          "type": "string",
          "description": "Required. The resource name of the source taxonomy to import."
        }
      },
      "type": "object"
    },
    "GoogleCloudDatacatalogV1Contacts": {
      "properties": {
        "people": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1ContactsPerson"
          },
          "description": "The list of contact people for the entry."
        }
      },
      "description": "Contact people for the entry.",
      "id": "GoogleCloudDatacatalogV1Contacts",
      "type": "object"
    },
    "ListOperationsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          }
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request."
        }
      },
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1RenameTagTemplateFieldRequest": {
      "type": "object",
      "properties": {
        "newTagTemplateFieldId": {
          "description": "Required. The new ID of this tag template field. For example, `my_new_field`.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDatacatalogV1RenameTagTemplateFieldRequest",
      "description": "Request message for RenameTagTemplateField."
    },
    "GoogleCloudDatacatalogV1ReconcileTagsRequest": {
      "type": "object",
      "id": "GoogleCloudDatacatalogV1ReconcileTagsRequest",
      "description": "Request message for ReconcileTags.",
      "properties": {
        "tagTemplate": {
          "type": "string",
          "description": "Required. The name of the tag template, which is used for reconciliation."
        },
        "forceDeleteMissing": {
          "type": "boolean"
        },
        "tags": {
          "description": "A list of tags to apply to an entry. A tag can specify a tag template, which must be the template specified in the `ReconcileTagsRequest`. The sole entry and each of its columns must be mentioned at most once.",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1Tag"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDatacatalogV1ListTagsResponse": {
      "type": "object",
      "description": "Response message for ListTags.",
      "id": "GoogleCloudDatacatalogV1ListTagsResponse",
      "properties": {
        "nextPageToken": {
          "description": "Pagination token of the next results page. Empty if there are no more items in results.",
          "type": "string"
        },
        "tags": {
          "items": {
            "$ref": "GoogleCloudDatacatalogV1Tag"
          },
          "type": "array",
          "description": "Tag details."
        }
      }
    },
    "GoogleCloudDatacatalogV1Tag": {
      "type": "object",
      "properties": {
        "fields": {
          "description": "Required. Maps the ID of a tag field to its value and additional information about that field. Tag template defines valid field IDs. A tag must have at least 1 field and at most 500 fields.",
          "additionalProperties": {
            "$ref": "GoogleCloudDatacatalogV1TagField"
          },
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the tag in URL format where tag ID is a system-generated identifier. Note: The tag itself might not be stored in the location specified in its name."
        },
        "column": {
          "description": "Resources like entry can have schemas associated with them. This scope allows you to attach tags to an individual column based on that schema. To attach a tag to a nested column, separate column names with a dot (`.`). Example: `column.nested_column`.",
          "type": "string"
        },
        "template": {
          "description": "Required. The resource name of the tag template this tag uses. Example: `projects/{PROJECT_ID}/locations/{LOCATION}/tagTemplates/{TAG_TEMPLATE_ID}` This field cannot be modified after creation.",
          "type": "string"
        },
        "templateDisplayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The display name of the tag template."
        },
        "dataplexTransferStatus": {
          "enumDescriptions": [
            "Default value. TagTemplate and its tags are only visible and editable in Data Catalog.",
            "TagTemplate and its tags are auto-copied to Dataplex Universal Catalog service. Visible in both services. Editable in Data Catalog, read-only in Dataplex Universal Catalog. Deprecated: Individual TagTemplate migration is deprecated in favor of organization or project wide TagTemplate migration opt-in.",
            "TagTemplate and its tags are auto-copied to Dataplex Universal Catalog service. Visible in both services. Editable in Dataplex Universal Catalog, read-only in Data Catalog."
          ],
          "enumDeprecated": [
            false,
            true,
            false
          ],
          "readOnly": true,
          "description": "Output only. Denotes the transfer status of the Tag Template.",
          "type": "string",
          "enum": [
            "DATAPLEX_TRANSFER_STATUS_UNSPECIFIED",
            "MIGRATED",
            "TRANSFERRED"
          ]
        }
      },
      "id": "GoogleCloudDatacatalogV1Tag",
      "description": "Tags contain custom metadata and are attached to Data Catalog resources. Tags conform with the specification of their tag template. See [Data Catalog IAM](https://cloud.google.com/data-catalog/docs/concepts/iam) for information on the permissions needed to create or view tags."
    },
    "GoogleCloudDatacatalogV1EntryOverview": {
      "properties": {
        "overview": {
          "description": "Entry overview with support for rich text. The overview must only contain Unicode characters, and should be formatted using HTML. The maximum length is 10 MiB as this value holds HTML descriptions including encoded images. The maximum length of the text without images is 100 KiB.",
          "type": "string"
        }
      },
      "description": "Entry overview fields for rich text descriptions of entries.",
      "id": "GoogleCloudDatacatalogV1EntryOverview",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1FieldTypeEnumType": {
      "type": "object",
      "properties": {
        "allowedValues": {
          "description": "The set of allowed values for this enum. This set must not be empty and can include up to 100 allowed values. The display names of the values in this set must not be empty and must be case-insensitively unique within this set. The order of items in this set is preserved. This field can be used to create, remove, and reorder enum values. To rename enum values, use the `RenameTagTemplateFieldEnumValue` method.",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1FieldTypeEnumTypeEnumValue"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDatacatalogV1FieldTypeEnumType"
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        }
      }
    },
    "GoogleCloudDatacatalogV1DatabaseTableSpec": {
      "description": "Specification that applies to a table resource. Valid only for entries with the `TABLE` type.",
      "type": "object",
      "properties": {
        "databaseViewSpec": {
          "description": "Spec what applies to tables that are actually views. Not set for \"real\" tables.",
          "$ref": "GoogleCloudDatacatalogV1DatabaseTableSpecDatabaseViewSpec"
        },
        "type": {
          "enumDescriptions": [
            "Default unknown table type.",
            "Native table.",
            "External table."
          ],
          "type": "string",
          "enum": [
            "TABLE_TYPE_UNSPECIFIED",
            "NATIVE",
            "EXTERNAL"
          ],
          "description": "Type of this table."
        },
        "dataplexTable": {
          "description": "Output only. Fields specific to a Dataplex Universal Catalog table and present only in the Dataplex Universal Catalog table entries.",
          "$ref": "GoogleCloudDatacatalogV1DataplexTableSpec",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDatacatalogV1DatabaseTableSpec"
    },
    "GoogleCloudDatacatalogV1BigQueryDateShardedSpec": {
      "id": "GoogleCloudDatacatalogV1BigQueryDateShardedSpec",
      "properties": {
        "shardCount": {
          "description": "Output only. Total number of shards.",
          "format": "int64",
          "type": "string",
          "readOnly": true
        },
        "latestShardResource": {
          "readOnly": true,
          "description": "Output only. BigQuery resource name of the latest shard.",
          "type": "string"
        },
        "tablePrefix": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The table name prefix of the shards. The name of any given shard is `[table_prefix]YYYYMMDD`. For example, for the `MyTable20180101` shard, the `table_prefix` is `MyTable`."
        },
        "dataset": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The Data Catalog resource name of the dataset entry the current table belongs to. For example: `projects/{PROJECT_ID}/locations/{LOCATION}/entrygroups/{ENTRY_GROUP_ID}/entries/{ENTRY_ID}`."
        }
      },
      "type": "object",
      "description": "Specification for a group of BigQuery tables with the `[prefix]YYYYMMDD` name pattern. For more information, see [Introduction to partitioned tables] (https://cloud.google.com/bigquery/docs/partitioned-tables#partitioning_versus_sharding)."
    },
    "GoogleCloudDatacatalogV1ImportEntriesRequest": {
      "id": "GoogleCloudDatacatalogV1ImportEntriesRequest",
      "type": "object",
      "description": "Request message for ImportEntries method.",
      "properties": {
        "gcsBucketPath": {
          "description": "Path to a Cloud Storage bucket that contains a dump ready for ingestion.",
          "type": "string"
        },
        "jobId": {
          "description": "Optional. (Optional) Dataplex Universal Catalog task job id, if specified will be used as part of ImportEntries LRO ID",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatacatalogV1SpannerTableSpecSpannerPrimaryKey": {
      "properties": {
        "columns": {
          "description": "Output only. Column names of the primary key.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        }
      },
      "description": "Specification of a Spanner primary key.",
      "id": "GoogleCloudDatacatalogV1SpannerTableSpecSpannerPrimaryKey",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1ServiceSpec": {
      "type": "object",
      "description": "Specification that applies to a Service resource. Valid only for entries with the `SERVICE` type.",
      "id": "GoogleCloudDatacatalogV1ServiceSpec",
      "properties": {
        "cloudBigtableInstanceSpec": {
          "$ref": "GoogleCloudDatacatalogV1CloudBigtableInstanceSpec",
          "description": "Specification that applies to Instance entries of `CLOUD_BIGTABLE` system."
        }
      }
    },
    "GoogleCloudDatacatalogV1CloudBigtableInstanceSpecCloudBigtableClusterSpec": {
      "type": "object",
      "id": "GoogleCloudDatacatalogV1CloudBigtableInstanceSpecCloudBigtableClusterSpec",
      "description": "Spec that applies to clusters of an Instance of Cloud Bigtable.",
      "properties": {
        "type": {
          "type": "string",
          "description": "Type of the resource. For a cluster this would be \"CLUSTER\"."
        },
        "location": {
          "type": "string",
          "description": "Location of the cluster, typically a Cloud zone."
        },
        "displayName": {
          "description": "Name of the cluster.",
          "type": "string"
        },
        "linkedResource": {
          "type": "string",
          "description": "A link back to the parent resource, in this case Instance."
        }
      }
    },
    "GoogleCloudDatacatalogV1TagFieldEnumValue": {
      "properties": {
        "displayName": {
          "description": "The display name of the enum value.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDatacatalogV1TagFieldEnumValue",
      "description": "An enum value.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1SpannerTableSpec": {
      "properties": {
        "primaryKey": {
          "description": "Output only. The primary key of the table.",
          "readOnly": true,
          "$ref": "GoogleCloudDatacatalogV1SpannerTableSpecSpannerPrimaryKey"
        },
        "foreignKeys": {
          "description": "Output only. The foreign keys of the table.",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1SpannerTableSpecSpannerForeignKey"
          },
          "readOnly": true,
          "type": "array"
        }
      },
      "description": "Specification of a Spanner table.",
      "id": "GoogleCloudDatacatalogV1SpannerTableSpec",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1TaggedEntry": {
      "id": "GoogleCloudDatacatalogV1TaggedEntry",
      "type": "object",
      "properties": {
        "v1Entry": {
          "description": "Non-encrypted Data Catalog v1 Entry.",
          "$ref": "GoogleCloudDatacatalogV1Entry"
        },
        "absentTags": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1Tag"
          },
          "description": "Optional. Tags that should be deleted from the Data Catalog. Caller should populate template name and column only."
        },
        "presentTags": {
          "type": "array",
          "description": "Optional. Tags that should be ingested into the Data Catalog. Caller should populate template name, column and fields.",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1Tag"
          }
        }
      },
      "description": "Wrapper containing Entry and information about Tags that should and should not be attached to it."
    },
    "GoogleCloudDatacatalogV1TagTemplateField": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the tag template field in URL format. Example: `projects/{PROJECT_ID}/locations/{LOCATION}/tagTemplates/{TAG_TEMPLATE}/fields/{FIELD}` Note: The tag template field itself might not be stored in the location specified in its name. The name must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_), and must start with a letter or underscore. The maximum length is 64 characters."
        },
        "description": {
          "type": "string",
          "description": "The description for this field. Defaults to an empty string."
        },
        "displayName": {
          "description": "The display name for this field. Defaults to an empty string. The name must contain only Unicode letters, numbers (0-9), underscores (_), dashes (-), spaces ( ), and can't start or end with spaces. The maximum length is 200 characters.",
          "type": "string"
        },
        "isRequired": {
          "type": "boolean",
          "description": "If true, this field is required. Defaults to false."
        },
        "type": {
          "description": "Required. The type of value this tag field can contain.",
          "$ref": "GoogleCloudDatacatalogV1FieldType"
        },
        "order": {
          "description": "The order of this field with respect to other fields in this tag template. For example, a higher value can indicate a more important field. The value can be negative. Multiple fields can have the same order and field orders within a tag don't have to be sequential.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "The template for an individual field within a tag template.",
      "id": "GoogleCloudDatacatalogV1TagTemplateField"
    },
    "GoogleCloudDatacatalogV1GraphSpecGraphElementTableProperty": {
      "properties": {
        "name": {
          "description": "Required. Property name.",
          "type": "string"
        },
        "type": {
          "description": "Required. Property data type.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDatacatalogV1GraphSpecGraphElementTableProperty",
      "description": "A property declaration.",
      "type": "object"
    },
    "TestIamPermissionsRequest": {
      "id": "TestIamPermissionsRequest",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
        }
      },
      "description": "Request message for `TestIamPermissions` method.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1MigrationConfig": {
      "id": "GoogleCloudDatacatalogV1MigrationConfig",
      "description": "The configuration related to the migration to Dataplex Universal Catalog applied to an organization or project. It is the response message for SetConfig and RetrieveEffectiveConfig.",
      "type": "object",
      "properties": {
        "templateMigrationEnabledTime": {
          "format": "google-datetime",
          "description": "The time when the Tag Template migration was enabled. If the Tag Template migration is not enabled, this field is not set.",
          "type": "string"
        },
        "tagTemplateMigration": {
          "description": "Opt-in status for the migration of Tag Templates to Dataplex Universal Catalog.",
          "type": "string",
          "enum": [
            "TAG_TEMPLATE_MIGRATION_UNSPECIFIED",
            "TAG_TEMPLATE_MIGRATION_ENABLED",
            "TAG_TEMPLATE_MIGRATION_DISABLED"
          ],
          "enumDescriptions": [
            "Default value. Migration of Tag Templates from Data Catalog to Dataplex Universal Catalog is not performed. For projects that are under an organization, the project inherits the organization's configuration when you set the project-level configuration to unspecified (`TAG_TEMPLATE_MIGRATION_UNSPECIFIED`). This means that when migration is enabled at the organization level, and the project-level configuration is unspecified, the project is migrated. To explicitly opt-in or opt-out individual projects, set the project-level configuration to enabled (`TAG_TEMPLATE_MIGRATION_ENABLED`) or disabled (`TAG_TEMPLATE_MIGRATION_DISABLED`).",
            "Migration of Tag Templates from Data Catalog to Dataplex Universal Catalog is enabled.",
            "Migration of Tag Templates from Data Catalog to Dataplex Universal Catalog is disabled."
          ]
        },
        "catalogUiExperience": {
          "description": "Opt-in status for the UI switch to Dataplex Universal Catalog.",
          "enumDescriptions": [
            "Default value. The default UI is Dataplex Universal Catalog.",
            "The UI is Dataplex Universal Catalog.",
            "The UI is Data Catalog."
          ],
          "type": "string",
          "enum": [
            "CATALOG_UI_EXPERIENCE_UNSPECIFIED",
            "CATALOG_UI_EXPERIENCE_ENABLED",
            "CATALOG_UI_EXPERIENCE_DISABLED"
          ]
        }
      }
    },
    "Expr": {
      "properties": {
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        }
      },
      "type": "object",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "id": "Expr"
    },
    "GetPolicyOptions": {
      "type": "object",
      "id": "GetPolicyOptions",
      "description": "Encapsulates settings provided to GetIamPolicy.",
      "properties": {
        "requestedPolicyVersion": {
          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudDatacatalogV1SqlDatabaseSystemSpec": {
      "description": "Specification that applies to entries that are part `SQL_DATABASE` system (user_specified_type)",
      "properties": {
        "instanceHost": {
          "description": "Host of the SQL database enum InstanceHost { UNDEFINED = 0; SELF_HOSTED = 1; CLOUD_SQL = 2; AMAZON_RDS = 3; AZURE_SQL = 4; } Host of the enclousing database instance.",
          "type": "string"
        },
        "databaseVersion": {
          "description": "Version of the database engine.",
          "type": "string"
        },
        "sqlEngine": {
          "description": "SQL Database Engine. enum SqlEngine { UNDEFINED = 0; MY_SQL = 1; POSTGRE_SQL = 2; SQL_SERVER = 3; } Engine of the enclosing database instance.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDatacatalogV1SqlDatabaseSystemSpec",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1DataSource": {
      "properties": {
        "service": {
          "enumDescriptions": [
            "Default unknown service.",
            "Google Cloud Storage service.",
            "BigQuery service."
          ],
          "type": "string",
          "enum": [
            "SERVICE_UNSPECIFIED",
            "CLOUD_STORAGE",
            "BIGQUERY"
          ],
          "description": "Service that physically stores the data."
        },
        "sourceEntry": {
          "type": "string",
          "description": "Output only. Data Catalog entry name, if applicable.",
          "readOnly": true
        },
        "storageProperties": {
          "description": "Detailed properties of the underlying storage.",
          "$ref": "GoogleCloudDatacatalogV1StorageProperties"
        },
        "resource": {
          "type": "string",
          "description": "Full name of a resource as defined by the service. For example: `//bigquery.googleapis.com/projects/{PROJECT_ID}/locations/{LOCATION}/datasets/{DATASET_ID}/tables/{TABLE_ID}`"
        }
      },
      "description": "Physical location of an entry.",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1DataSource"
    },
    "GoogleCloudDatacatalogV1UsageSignal": {
      "id": "GoogleCloudDatacatalogV1UsageSignal",
      "type": "object",
      "description": "The set of all usage signals that Data Catalog stores. Note: Usually, these signals are updated daily. In rare cases, an update may fail but will be performed again on the next day.",
      "properties": {
        "updateTime": {
          "description": "The end timestamp of the duration of usage statistics.",
          "type": "string",
          "format": "google-datetime"
        },
        "favoriteCount": {
          "format": "int64",
          "type": "string",
          "description": "Favorite count in the source system."
        },
        "usageWithinTimeRange": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDatacatalogV1UsageStats"
          },
          "description": "Output only. BigQuery usage statistics over each of the predefined time ranges. Supported time ranges are `{\"24H\", \"7D\", \"30D\"}`."
        },
        "commonUsageWithinTimeRange": {
          "additionalProperties": {
            "$ref": "GoogleCloudDatacatalogV1CommonUsageStats"
          },
          "description": "Common usage statistics over each of the predefined time ranges. Supported time ranges are `{\"24H\", \"7D\", \"30D\", \"Lifetime\"}`.",
          "type": "object"
        }
      }
    },
    "GoogleCloudDatacatalogV1ListPolicyTagsResponse": {
      "id": "GoogleCloudDatacatalogV1ListPolicyTagsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token of the next results page. Empty if there are no more results in the list."
        },
        "policyTags": {
          "items": {
            "$ref": "GoogleCloudDatacatalogV1PolicyTag"
          },
          "description": "The policy tags that belong to the taxonomy.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response message for ListPolicyTags."
    },
    "GoogleCloudDatacatalogV1PhysicalSchemaCsvSchema": {
      "description": "Marks a CSV-encoded data source.",
      "id": "GoogleCloudDatacatalogV1PhysicalSchemaCsvSchema",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDatacatalogV1SearchCatalogRequestScope": {
      "description": "The criteria that select the subspace used for query matching.",
      "id": "GoogleCloudDatacatalogV1SearchCatalogRequestScope",
      "type": "object",
      "properties": {
        "starredOnly": {
          "description": "Optional. If `true`, search only among starred entries. By default, all results are returned, starred or not.",
          "type": "boolean"
        },
        "includeGcpPublicDatasets": {
          "type": "boolean",
          "description": "If `true`, include Google Cloud public datasets in search results. By default, they are excluded. See [Google Cloud Public Datasets](/public-datasets) for more information."
        },
        "restrictedLocations": {
          "description": "Optional. The list of locations to search within. If empty, all locations are searched. Returns an error if any location in the list isn't one of the [Supported regions](https://cloud.google.com/data-catalog/docs/concepts/regions#supported_regions). If a location is unreachable, its name is returned in the `SearchCatalogResponse.unreachable` field. To get additional information on the error, repeat the search request and set the location name as the value of this parameter.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "includeOrgIds": {
          "type": "array",
          "description": "The list of organization IDs to search within. To find your organization ID, follow the steps from [Creating and managing organizations] (/resource-manager/docs/creating-managing-organization).",
          "items": {
            "type": "string"
          }
        },
        "includeProjectIds": {
          "type": "array",
          "description": "The list of project IDs to search within. For more information on the distinction between project names, IDs, and numbers, see [Projects](/docs/overview/#projects).",
          "items": {
            "type": "string"
          }
        },
        "includePublicTagTemplates": {
          "deprecated": true,
          "description": "Optional. This field is deprecated. The search mechanism for public and private tag templates is the same.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDatacatalogV1VertexModelSpec": {
      "id": "GoogleCloudDatacatalogV1VertexModelSpec",
      "description": "Specification for vertex model resources.",
      "properties": {
        "versionAliases": {
          "description": "User provided version aliases so that a model version can be referenced via alias",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "versionDescription": {
          "description": "The description of this version.",
          "type": "string"
        },
        "vertexModelSourceInfo": {
          "description": "Source of a Vertex model.",
          "$ref": "GoogleCloudDatacatalogV1VertexModelSourceInfo"
        },
        "versionId": {
          "description": "The version ID of the model.",
          "type": "string"
        },
        "containerImageUri": {
          "description": "URI of the Docker image to be used as the custom container for serving predictions.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDatacatalogV1UnstarEntryResponse": {
      "type": "object",
      "description": "Response message for UnstarEntry. Empty for now",
      "id": "GoogleCloudDatacatalogV1UnstarEntryResponse",
      "properties": {}
    },
    "GoogleCloudDatacatalogV1ColumnSchemaFieldElementType": {
      "description": "Represents the type of a field element.",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1ColumnSchemaFieldElementType",
      "properties": {
        "type": {
          "type": "string",
          "description": "Required. The type of a field element. See ColumnSchema.type."
        }
      }
    },
    "GoogleCloudDatacatalogV1LookerSystemSpec": {
      "properties": {
        "parentModelId": {
          "type": "string",
          "description": "ID of the parent Model. Empty if it does not exist."
        },
        "parentInstanceId": {
          "description": "ID of the parent Looker Instance. Empty if it does not exist. Example value: `someinstance.looker.com`",
          "type": "string"
        },
        "parentInstanceDisplayName": {
          "description": "Name of the parent Looker Instance. Empty if it does not exist.",
          "type": "string"
        },
        "parentModelDisplayName": {
          "description": "Name of the parent Model. Empty if it does not exist.",
          "type": "string"
        },
        "parentViewId": {
          "description": "ID of the parent View. Empty if it does not exist.",
          "type": "string"
        },
        "parentViewDisplayName": {
          "description": "Name of the parent View. Empty if it does not exist.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDatacatalogV1LookerSystemSpec",
      "description": "Specification that applies to entries that are part `LOOKER` system (user_specified_type)"
    },
    "Policy": {
      "type": "object",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "properties": {
        "etag": {
          "type": "string",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte"
        },
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "type": "array",
          "items": {
            "$ref": "Binding"
          }
        },
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "Policy"
    },
    "SetIamPolicyRequest": {
      "type": "object",
      "id": "SetIamPolicyRequest",
      "description": "Request message for `SetIamPolicy` method.",
      "properties": {
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        }
      }
    },
    "GoogleCloudDatacatalogV1ImportTaxonomiesRequest": {
      "properties": {
        "crossRegionalSource": {
          "description": "Cross-regional source taxonomy to import.",
          "$ref": "GoogleCloudDatacatalogV1CrossRegionalSource"
        },
        "inlineSource": {
          "description": "Inline source taxonomy to import.",
          "$ref": "GoogleCloudDatacatalogV1InlineSource"
        }
      },
      "description": "Request message for ImportTaxonomies.",
      "id": "GoogleCloudDatacatalogV1ImportTaxonomiesRequest",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1CommonUsageStats": {
      "properties": {
        "viewCount": {
          "format": "int64",
          "description": "View count in source system.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Common statistics on the entry's usage. They can be set on any system.",
      "id": "GoogleCloudDatacatalogV1CommonUsageStats"
    },
    "GoogleCloudDatacatalogV1ViewSpec": {
      "properties": {
        "viewQuery": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The query that defines the table view."
        }
      },
      "description": "Table view specification.",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1ViewSpec"
    },
    "GoogleCloudDatacatalogV1CloudBigtableSystemSpec": {
      "properties": {
        "instanceDisplayName": {
          "type": "string",
          "description": "Display name of the Instance. This is user specified and different from the resource name."
        }
      },
      "description": "Specification that applies to all entries that are part of `CLOUD_BIGTABLE` system (user_specified_type)",
      "id": "GoogleCloudDatacatalogV1CloudBigtableSystemSpec",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1ReconcileTagsResponse": {
      "id": "GoogleCloudDatacatalogV1ReconcileTagsResponse",
      "type": "object",
      "description": "Long-running operation response message returned by ReconcileTags.",
      "properties": {
        "createdTagsCount": {
          "type": "string",
          "description": "Number of tags created in the request.",
          "format": "int64"
        },
        "updatedTagsCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of tags updated in the request."
        },
        "deletedTagsCount": {
          "type": "string",
          "description": "Number of tags deleted in the request.",
          "format": "int64"
        }
      }
    },
    "GoogleCloudDatacatalogV1BigQueryTableSpec": {
      "description": "Describes a BigQuery table.",
      "type": "object",
      "properties": {
        "tableSpec": {
          "$ref": "GoogleCloudDatacatalogV1TableSpec",
          "description": "Specification of a BigQuery table. Populated only if the `table_source_type` is `BIGQUERY_TABLE`."
        },
        "tableSourceType": {
          "description": "Output only. The table source type.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "TABLE_SOURCE_TYPE_UNSPECIFIED",
            "BIGQUERY_VIEW",
            "BIGQUERY_TABLE",
            "BIGQUERY_MATERIALIZED_VIEW"
          ],
          "enumDescriptions": [
            "Default unknown type.",
            "Table view.",
            "BigQuery native table.",
            "BigQuery materialized view."
          ]
        },
        "viewSpec": {
          "description": "Table view specification. Populated only if the `table_source_type` is `BIGQUERY_VIEW`.",
          "$ref": "GoogleCloudDatacatalogV1ViewSpec"
        }
      },
      "id": "GoogleCloudDatacatalogV1BigQueryTableSpec"
    },
    "GoogleCloudDatacatalogV1InlineSource": {
      "type": "object",
      "id": "GoogleCloudDatacatalogV1InlineSource",
      "properties": {
        "taxonomies": {
          "items": {
            "$ref": "GoogleCloudDatacatalogV1SerializedTaxonomy"
          },
          "type": "array",
          "description": "Required. Taxonomies to import."
        }
      },
      "description": "Inline source containing taxonomies to import."
    },
    "TestIamPermissionsResponse": {
      "description": "Response message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsResponse",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDatacatalogV1BigQueryConnectionSpec": {
      "description": "Specification for the BigQuery connection.",
      "id": "GoogleCloudDatacatalogV1BigQueryConnectionSpec",
      "type": "object",
      "properties": {
        "cloudSql": {
          "$ref": "GoogleCloudDatacatalogV1CloudSqlBigQueryConnectionSpec",
          "description": "Specification for the BigQuery connection to a Cloud SQL instance."
        },
        "hasCredential": {
          "description": "True if there are credentials attached to the BigQuery connection; false otherwise.",
          "type": "boolean"
        },
        "connectionType": {
          "type": "string",
          "enum": [
            "CONNECTION_TYPE_UNSPECIFIED",
            "CLOUD_SQL"
          ],
          "description": "The type of the BigQuery connection.",
          "enumDescriptions": [
            "Unspecified type.",
            "Cloud SQL connection."
          ]
        }
      }
    },
    "GoogleCloudDatacatalogV1ListEntryGroupsResponse": {
      "description": "Response message for ListEntryGroups.",
      "properties": {
        "entryGroups": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1EntryGroup"
          },
          "description": "Entry group details."
        },
        "nextPageToken": {
          "description": "Pagination token to specify in the next call to retrieve the next page of results. Empty if there are no more items.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDatacatalogV1ListEntryGroupsResponse",
      "type": "object"
    },
    "Empty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "Empty"
    },
    "GoogleCloudDatacatalogV1FilesetSpec": {
      "properties": {
        "dataplexFileset": {
          "description": "Fields specific to a Dataplex Universal Catalog fileset and present only in the Dataplex Universal Catalog fileset entries.",
          "$ref": "GoogleCloudDatacatalogV1DataplexFilesetSpec"
        }
      },
      "description": "Specification that applies to a fileset. Valid only for entries with the 'FILESET' type.",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1FilesetSpec"
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        }
      },
      "id": "Operation"
    },
    "GoogleCloudDatacatalogV1SearchCatalogRequest": {
      "description": "Request message for SearchCatalog.",
      "type": "object",
      "properties": {
        "scope": {
          "description": "Required. The scope of this search request. The `scope` is invalid if `include_org_ids`, `include_project_ids` are empty AND `include_gcp_public_datasets` is set to `false`. In this case, the request returns an error.",
          "$ref": "GoogleCloudDatacatalogV1SearchCatalogRequestScope"
        },
        "query": {
          "type": "string",
          "description": "Optional. The query string with a minimum of 3 characters and specific syntax. For more information, see [Data Catalog search syntax](https://cloud.google.com/data-catalog/docs/how-to/search-reference). An empty query string returns all data assets (in the specified scope) that you have access to. A query string can be a simple `xyz` or qualified by predicates: * `name:x` * `column:y` * `description:z`"
        },
        "pageSize": {
          "format": "int32",
          "description": "Upper bound on the number of results you can get in a single response. Can't be negative or 0, defaults to 10 in this case. The maximum number is 1000. If exceeded, throws an \"invalid argument\" exception.",
          "type": "integer"
        },
        "adminSearch": {
          "description": "Optional. If set, use searchAll permission granted on organizations from `include_org_ids` and projects from `include_project_ids` instead of the fine grained per resource permissions when filtering the search results. The only allowed `order_by` criteria for admin_search mode is `default`. Using this flags guarantees a full recall of the search results.",
          "type": "boolean"
        },
        "pageToken": {
          "type": "string",
          "description": "Optional. Pagination token that, if specified, returns the next page of search results. If empty, returns the first page. This token is returned in the SearchCatalogResponse.next_page_token field of the response to a previous SearchCatalogRequest call."
        },
        "orderBy": {
          "description": "Specifies the order of results. Currently supported case-sensitive values are: * `relevance` that can only be descending * `last_modified_timestamp [asc|desc]` with descending (`desc`) as default * `default` that can only be descending Search queries don't guarantee full recall. Results that match your query might not be returned, even in subsequent result pages. Additionally, returned (and not returned) results can vary if you repeat search queries. If you are experiencing recall issues and you don't have to fetch the results in any specific order, consider setting this parameter to `default`. If this parameter is omitted, it defaults to the descending `relevance`.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDatacatalogV1SearchCatalogRequest"
    },
    "GoogleCloudDatacatalogV1VertexDatasetSpec": {
      "id": "GoogleCloudDatacatalogV1VertexDatasetSpec",
      "description": "Specification for vertex dataset resources.",
      "properties": {
        "dataType": {
          "description": "Type of the dataset.",
          "enumDescriptions": [
            "Should not be used.",
            "Structured data dataset.",
            "Image dataset which supports ImageClassification, ImageObjectDetection and ImageSegmentation problems.",
            "Document dataset which supports TextClassification, TextExtraction and TextSentiment problems.",
            "Video dataset which supports VideoClassification, VideoObjectTracking and VideoActionRecognition problems.",
            "Conversation dataset which supports conversation problems.",
            "TimeSeries dataset.",
            "Document dataset which supports DocumentAnnotation problems.",
            "TextToSpeech dataset which supports TextToSpeech problems.",
            "Translation dataset which supports Translation problems.",
            "Store Vision dataset which is used for HITL integration.",
            "Enterprise Knowledge Graph dataset which is used for HITL labeling integration.",
            "Text prompt dataset which supports Large Language Models."
          ],
          "type": "string",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "TABLE",
            "IMAGE",
            "TEXT",
            "VIDEO",
            "CONVERSATION",
            "TIME_SERIES",
            "DOCUMENT",
            "TEXT_TO_SPEECH",
            "TRANSLATION",
            "STORE_VISION",
            "ENTERPRISE_KNOWLEDGE_GRAPH",
            "TEXT_PROMPT"
          ]
        },
        "dataItemCount": {
          "format": "int64",
          "type": "string",
          "description": "The number of DataItems in this Dataset. Only apply for non-structured Dataset."
        }
      },
      "type": "object"
    },
    "GoogleCloudDatacatalogV1TaxonomyService": {
      "description": "The source system of the Taxonomy.",
      "type": "object",
[...]
