{
  "description": "Manages Hadoop-based clusters and jobs on Google Cloud Platform.",
  "servicePath": "",
  "revision": "20260612",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "kind": "discovery#restDescription",
  "name": "dataproc",
  "rootUrl": "https://dataproc.googleapis.com/",
  "protocol": "rest",
  "mtlsRootUrl": "https://dataproc.mtls.googleapis.com/",
  "ownerName": "Google",
  "version": "v1",
  "discoveryVersion": "v1",
  "schemas": {
    "LoggingConfig": {
      "id": "LoggingConfig",
      "description": "The runtime logging config of the job.",
      "type": "object",
      "properties": {
        "driverLogLevels": {
          "description": "The per-package log levels for the driver. This can include \"root\" package name to configure rootLogger. Examples: - 'com.google = FATAL' - 'root = INFO' - 'org.apache = DEBUG'",
          "type": "object",
          "additionalProperties": {
            "enumDescriptions": [
              "Level is unspecified. Use default level for log4j.",
              "Use ALL level for log4j.",
              "Use TRACE level for log4j.",
              "Use DEBUG level for log4j.",
              "Use INFO level for log4j.",
              "Use WARN level for log4j.",
              "Use ERROR level for log4j.",
              "Use FATAL level for log4j.",
              "Turn off log4j."
            ],
            "enum": [
              "LEVEL_UNSPECIFIED",
              "ALL",
              "TRACE",
              "DEBUG",
              "INFO",
              "WARN",
              "ERROR",
              "FATAL",
              "OFF"
            ],
            "type": "string"
          }
        }
      }
    },
    "RepositoryConfig": {
      "id": "RepositoryConfig",
      "description": "Configuration for dependency repositories",
      "type": "object",
      "properties": {
        "pypiRepositoryConfig": {
          "$ref": "PyPiRepositoryConfig",
          "description": "Optional. Configuration for PyPi repository."
        }
      }
    },
    "FlinkJob": {
      "id": "FlinkJob",
      "description": "A Dataproc job for running Apache Flink applications on YARN.",
      "type": "object",
      "properties": {
        "jarFileUris": {
          "items": {
            "type": "string"
          },
          "description": "Optional. HCFS URIs of jar files to add to the CLASSPATHs of the Flink driver and tasks.",
          "type": "array"
        },
        "properties": {
          "description": "Optional. A mapping of property names to values, used to configure Flink. Properties that conflict with values set by the Dataproc API might be overwritten. Can include properties set in /etc/flink/conf/flink-defaults.conf and classes in user code.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "mainJarFileUri": {
          "description": "The HCFS URI of the jar file that contains the main class.",
          "type": "string"
        },
        "savepointUri": {
          "description": "Optional. HCFS URI of the savepoint, which contains the last saved progress for starting the current job.",
          "type": "string"
        },
        "args": {
          "description": "Optional. The arguments to pass to the driver. Do not include arguments, such as --conf, that can be set as job properties, since a collision might occur that causes an incorrect job submission.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "loggingConfig": {
          "$ref": "LoggingConfig",
          "description": "Optional. The runtime log config for job execution."
        },
        "mainClass": {
          "description": "The name of the driver's main class. The jar file that contains the class must be in the default CLASSPATH or specified in jarFileUris.",
          "type": "string"
        }
      }
    },
    "RddStorageInfo": {
      "id": "RddStorageInfo",
      "description": "Overall data about RDD storage.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "partitions": {
          "type": "array",
          "items": {
            "$ref": "RddPartitionInfo"
          }
        },
        "memoryUsed": {
          "type": "string",
          "format": "int64"
        },
        "dataDistribution": {
          "type": "array",
          "items": {
            "$ref": "RddDataDistribution"
          }
        },
        "storageLevel": {
          "type": "string"
        },
        "rddStorageId": {
          "format": "int32",
          "type": "integer"
        },
        "numCachedPartitions": {
          "type": "integer",
          "format": "int32"
        },
        "diskUsed": {
          "type": "string",
          "format": "int64"
        },
        "numPartitions": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "NativeBuildInfoUiData": {
      "id": "NativeBuildInfoUiData",
      "type": "object",
      "properties": {
        "buildInfo": {
          "description": "Optional. Build related details.",
          "type": "array",
          "items": {
            "$ref": "BuildInfo"
          }
        },
        "buildClass": {
          "description": "Optional. Build class of Native.",
          "type": "string"
        }
      }
    },
    "AccessSparkApplicationStageAttemptResponse": {
      "id": "AccessSparkApplicationStageAttemptResponse",
      "description": "Stage Attempt for a Stage of a Spark Application",
      "type": "object",
      "properties": {
        "stageData": {
          "$ref": "StageData",
          "readOnly": true,
          "description": "Output only. Data corresponding to a stage."
        }
      }
    },
    "AutoscalingConfig": {
      "id": "AutoscalingConfig",
      "description": "Autoscaling Policy config associated with the cluster.",
      "type": "object",
      "properties": {
        "policyUri": {
          "description": "Optional. The autoscaling policy used by the cluster.Only resource names including projectid and location (region) are valid. Examples: https://www.googleapis.com/compute/v1/projects/[project_id]/locations/[dataproc_region]/autoscalingPolicies/[policy_id] projects/[project_id]/locations/[dataproc_region]/autoscalingPolicies/[policy_id]Note that the policy must be in the same project and region.",
          "type": "string"
        }
      }
    },
    "IdentityConfig": {
      "id": "IdentityConfig",
      "description": "Identity related configuration, including service account based secure multi-tenancy user mappings.",
      "type": "object",
      "properties": {
        "userServiceAccountMapping": {
          "description": "Required. Map of user to service account.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "StartupConfig": {
      "id": "StartupConfig",
      "description": "Configuration to handle the startup of instances during cluster create and update process.",
      "type": "object",
      "properties": {
        "requiredRegistrationFraction": {
          "description": "Optional. The config setting to enable cluster creation/ updation to be successful only after required_registration_fraction of instances are up and running. This configuration is applicable to only secondary workers for now. The cluster will fail if required_registration_fraction of instances are not available. This will include instance creation, agent registration, and service registration (if enabled).",
          "type": "number",
          "format": "double"
        }
      }
    },
    "InstantiateWorkflowTemplateRequest": {
      "id": "InstantiateWorkflowTemplateRequest",
      "description": "A request to instantiate a workflow template.",
      "type": "object",
      "properties": {
        "version": {
          "description": "Optional. The version of workflow template to instantiate. If specified, the workflow will be instantiated only if the current version of the workflow template has the supplied version.This option cannot be used to instantiate a previous version of workflow template.",
          "type": "integer",
          "format": "int32"
        },
        "parameters": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Map from parameter names to values that should be used for those parameters. Values may not exceed 1000 characters.",
          "type": "object"
        },
        "requestId": {
          "description": "Optional. A tag that prevents multiple concurrent workflow instances with the same tag from running. This mitigates risk of concurrent instances started due to retries.It is recommended to always set this value to a UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier).The tag must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters.",
          "type": "string"
        }
      }
    },
    "AppSummary": {
      "id": "AppSummary",
      "type": "object",
      "properties": {
        "numCompletedJobs": {
          "format": "int32",
          "type": "integer"
        },
        "numCompletedStages": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "PigJob": {
      "id": "PigJob",
      "description": "A Dataproc job for running Apache Pig (https://pig.apache.org/) queries on YARN.",
      "type": "object",
      "properties": {
        "continueOnFailure": {
          "description": "Optional. Whether to continue executing queries if a query fails. The default value is false. Setting to true can be useful when executing independent parallel queries.",
          "type": "boolean"
        },
        "loggingConfig": {
          "description": "Optional. The runtime log config for job execution.",
          "$ref": "LoggingConfig"
        },
        "queryFileUri": {
          "description": "The HCFS URI of the script that contains the Pig queries.",
          "type": "string"
        },
        "scriptVariables": {
          "description": "Optional. Mapping of query variable names to values (equivalent to the Pig command: name=[value]).",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "description": "Optional. A mapping of property names to values, used to configure Pig. Properties that conflict with values set by the Dataproc API might be overwritten. Can include properties set in /etc/hadoop/conf/*-site.xml, /etc/pig/conf/pig.properties, and classes in user code.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "queryList": {
          "description": "A list of queries.",
          "$ref": "QueryList"
        },
        "jarFileUris": {
          "description": "Optional. HCFS URIs of jar files to add to the CLASSPATH of the Pig Client and Hadoop MapReduce (MR) tasks. Can contain Pig UDFs.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "JupyterConfig": {
      "id": "JupyterConfig",
      "description": "Jupyter configuration for an interactive session.",
      "type": "object",
      "properties": {
        "kernel": {
          "enum": [
            "KERNEL_UNSPECIFIED",
            "PYTHON",
            "SCALA"
          ],
          "description": "Optional. Kernel",
          "type": "string",
          "enumDescriptions": [
            "The kernel is unknown.",
            "Python kernel.",
            "Scala kernel."
          ]
        },
        "displayName": {
          "description": "Optional. Display name, shown in the Jupyter kernelspec card.",
          "type": "string"
        }
      }
    },
    "InstanceGroupAutoscalingPolicyConfig": {
      "id": "InstanceGroupAutoscalingPolicyConfig",
      "description": "Configuration for the size bounds of an instance group, including its proportional size to other groups.",
      "type": "object",
      "properties": {
        "minInstances": {
          "format": "int32",
          "description": "Optional. Minimum number of instances for this group.Primary workers - Bounds: 2, max_instances. Default: 2. Secondary workers - Bounds: 0, max_instances. Default: 0.",
          "type": "integer"
        },
        "maxInstances": {
          "description": "Required. Maximum number of instances for this group. Required for primary workers. Note that by default, clusters will not use secondary workers. Required for secondary workers if the minimum secondary instances is set.Primary workers - Bounds: [min_instances, ). Secondary workers - Bounds: [min_instances, ). Default: 0.",
          "type": "integer",
          "format": "int32"
        },
        "weight": {
          "description": "Optional. Weight for the instance group, which is used to determine the fraction of total workers in the cluster from this instance group. For example, if primary workers have weight 2, and secondary workers have weight 1, the cluster will have approximately 2 primary workers for each secondary worker.The cluster may not reach the specified balance if constrained by min/max bounds or other autoscaling settings. For example, if max_instances for secondary workers is 0, then only primary workers will be added. The cluster can also be out of balance when created.If weight is not set on any instance group, the cluster will default to equal weight for all groups: the cluster will attempt to maintain an equal number of workers in each group within the configured size bounds for each group. If weight is set for one group only, the cluster will default to zero weight on the unset group. For example if weight is set only on primary workers, the cluster will use primary workers only and no secondary workers.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "Job": {
      "id": "Job",
      "description": "A Dataproc job resource.",
      "type": "object",
      "properties": {
        "scheduling": {
          "description": "Optional. Job scheduling configuration.",
          "$ref": "JobScheduling"
        },
        "statusHistory": {
          "items": {
            "$ref": "JobStatus"
          },
          "description": "Output only. The previous job status.",
          "type": "array",
          "readOnly": true
        },
        "driverOutputResourceUri": {
          "readOnly": true,
          "description": "Output only. A URI pointing to the location of the stdout of the job's driver program.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. The labels to associate with this job. Label keys must contain 1 to 63 characters, and must conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt). Label values can be empty, but, if present, must contain 1 to 63 characters, and must conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt). No more than 32 labels can be associated with a job.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "pysparkJob": {
          "description": "Optional. Job is a PySpark job.",
          "$ref": "PySparkJob"
        },
        "driverSchedulingConfig": {
          "description": "Optional. Driver scheduling configuration.",
          "$ref": "DriverSchedulingConfig"
        },
        "sparkSqlJob": {
          "$ref": "SparkSqlJob",
          "description": "Optional. Job is a SparkSql job."
        },
        "placement": {
          "description": "Required. Job information, including how, when, and where to run the job.",
          "$ref": "JobPlacement"
        },
        "driverControlFilesUri": {
          "description": "Output only. If present, the location of miscellaneous control files which can be used as part of job setup and handling. If not present, control files might be placed in the same location as driver_output_uri.",
          "type": "string",
          "readOnly": true
        },
        "done": {
          "description": "Output only. Indicates whether the job is completed. If the value is false, the job is still in progress. If true, the job is completed, and status.state field will indicate if it was successful, failed, or cancelled.",
          "type": "boolean",
          "readOnly": true
        },
        "sparkRJob": {
          "description": "Optional. Job is a SparkR job.",
          "$ref": "SparkRJob"
        },
        "prestoJob": {
          "$ref": "PrestoJob",
          "description": "Optional. Job is a Presto job."
        },
        "status": {
          "description": "Output only. The job status. Additional application-specific status information might be contained in the type_job and yarn_applications fields.",
          "readOnly": true,
          "$ref": "JobStatus"
        },
        "pigJob": {
          "description": "Optional. Job is a Pig job.",
          "$ref": "PigJob"
        },
        "flinkJob": {
          "$ref": "FlinkJob",
          "description": "Optional. Job is a Flink job."
        },
        "hiveJob": {
          "description": "Optional. Job is a Hive job.",
          "$ref": "HiveJob"
        },
        "hadoopJob": {
          "$ref": "HadoopJob",
          "description": "Optional. Job is a Hadoop job."
        },
        "reference": {
          "$ref": "JobReference",
          "description": "Optional. The fully qualified reference to the job, which can be used to obtain the equivalent REST path of the job resource. If this property is not specified when a job is created, the server generates a job_id."
        },
        "trinoJob": {
          "description": "Optional. Job is a Trino job.",
          "$ref": "TrinoJob"
        },
        "jobUuid": {
          "readOnly": true,
          "description": "Output only. A UUID that uniquely identifies a job within the project over time. This is in contrast to a user-settable reference.job_id that might be reused over time.",
          "type": "string"
        },
        "sparkJob": {
          "description": "Optional. Job is a Spark job.",
          "$ref": "SparkJob"
        },
        "yarnApplications": {
          "description": "Output only. The collection of YARN applications spun up by this job.Beta Feature: This report is available for testing purposes only. It might be changed before final release.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "YarnApplication"
          }
        }
      }
    },
    "OutputQuantileMetrics": {
      "id": "OutputQuantileMetrics",
      "type": "object",
      "properties": {
        "bytesWritten": {
          "$ref": "Quantiles"
        },
        "recordsWritten": {
          "$ref": "Quantiles"
        }
      }
    },
    "ExecutorSummary": {
      "id": "ExecutorSummary",
      "description": "Details about executors used by the application.",
      "type": "object",
      "properties": {
        "totalDurationMillis": {
          "format": "int64",
          "type": "string"
        },
        "hostPort": {
          "type": "string"
        },
        "removeTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "excludedInStages": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "peakMemoryMetrics": {
          "$ref": "ExecutorMetrics"
        },
        "totalCores": {
          "format": "int32",
          "type": "integer"
        },
        "completedTasks": {
          "type": "integer",
          "format": "int32"
        },
        "resources": {
          "additionalProperties": {
            "$ref": "ResourceInformation"
          },
          "type": "object"
        },
        "totalShuffleWrite": {
          "format": "int64",
          "type": "string"
        },
        "totalShuffleRead": {
          "format": "int64",
          "type": "string"
        },
        "attributes": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "memoryUsed": {
          "format": "int64",
          "type": "string"
        },
        "rddBlocks": {
          "format": "int32",
          "type": "integer"
        },
        "totalInputBytes": {
          "type": "string",
          "format": "int64"
        },
        "diskUsed": {
          "format": "int64",
          "type": "string"
        },
        "isActive": {
          "type": "boolean"
        },
        "removeReason": {
          "type": "string"
        },
        "failedTasks": {
          "type": "integer",
          "format": "int32"
        },
        "totalGcTimeMillis": {
          "format": "int64",
          "type": "string"
        },
        "executorId": {
          "type": "string"
        },
        "memoryMetrics": {
          "$ref": "MemoryMetrics"
        },
        "activeTasks": {
          "type": "integer",
          "format": "int32"
        },
        "executorLogs": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "maxMemory": {
          "type": "string",
          "format": "int64"
        },
        "resourceProfileId": {
          "type": "integer",
          "format": "int32"
        },
        "addTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "isExcluded": {
          "type": "boolean"
        },
        "totalTasks": {
          "type": "integer",
          "format": "int32"
        },
        "maxTasks": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "SoftwareConfig": {
      "id": "SoftwareConfig",
      "description": "Specifies the selection and config of software inside the cluster.",
      "type": "object",
      "properties": {
        "imageVersion": {
          "description": "Optional. The version of software inside the cluster. It must be one of the supported Image Versions (https://cloud.google.com/dataproc/docs/concepts/versioning/dataproc-versions#supported-dataproc-image-versions), such as \"1.2\" (including a subminor version, such as \"1.2.29\"), or the \"preview\" version (https://cloud.google.com/dataproc/docs/concepts/versioning/dataproc-versions#other_versions). If unspecified, it defaults to the latest Debian version.",
          "type": "string"
        },
        "optionalComponents": {
          "items": {
            "enum": [
              "COMPONENT_UNSPECIFIED",
              "ANACONDA",
              "DELTA",
              "DOCKER",
              "DRUID",
              "FLINK",
              "HBASE",
              "HIVE_WEBHCAT",
              "HUDI",
              "ICEBERG",
              "JUPYTER",
              "PIG",
              "PRESTO",
              "TRINO",
              "RANGER",
              "SOLR",
              "ZEPPELIN",
              "ZOOKEEPER",
              "JUPYTER_KERNEL_GATEWAY"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unspecified component. Specifying this will cause Cluster creation to fail.",
              "The Anaconda component is no longer supported or applicable to supported Dataproc on Compute Engine image versions (https://cloud.google.com/dataproc/docs/concepts/versioning/dataproc-version-clusters#supported-dataproc-image-versions). It cannot be activated on clusters created with supported Dataproc on Compute Engine image versions.",
              "Delta Lake.",
              "Docker",
              "The Druid query engine. (alpha)",
              "Flink",
              "HBase. (beta)",
              "The Hive Web HCatalog (the REST service for accessing HCatalog).",
              "Hudi.",
              "Iceberg.",
              "The Jupyter Notebook.",
              "The Pig component.",
              "The Presto query engine.",
              "The Trino query engine.",
              "The Ranger service.",
              "The Solr service.",
              "The Zeppelin notebook.",
              "The Zookeeper service.",
              "The Jupyter Kernel Gateway."
            ]
          },
          "description": "Optional. The set of components to activate on the cluster.",
          "type": "array"
        },
        "properties": {
          "description": "Optional. The properties to set on daemon config files.Property keys are specified in prefix:property format, for example core:hadoop.tmp.dir. The following are supported prefixes and their mappings: capacity-scheduler: capacity-scheduler.xml core: core-site.xml distcp: distcp-default.xml hdfs: hdfs-site.xml hive: hive-site.xml mapred: mapred-site.xml pig: pig.properties spark: spark-defaults.conf yarn: yarn-site.xmlFor more information, see Cluster properties (https://cloud.google.com/dataproc/docs/concepts/cluster-properties).",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "AccessSessionSparkApplicationStageRddOperationGraphResponse": {
      "id": "AccessSessionSparkApplicationStageRddOperationGraphResponse",
      "description": "RDD operation graph for a Spark Application Stage limited to maximum 10000 clusters.",
      "type": "object",
      "properties": {
        "rddOperationGraph": {
          "description": "RDD operation graph for a Spark Application Stage.",
          "$ref": "RddOperationGraph"
        }
      }
    },
    "RegexValidation": {
      "id": "RegexValidation",
      "description": "Validation based on regular expressions.",
      "type": "object",
      "properties": {
        "regexes": {
          "items": {
            "type": "string"
          },
          "description": "Required. RE2 regular expressions used to validate the parameter's value. The value must match the regex in its entirety (substring matches are not sufficient).",
          "type": "array"
        }
      }
    },
    "PeripheralsConfig": {
      "id": "PeripheralsConfig",
      "description": "Auxiliary services configuration for a workload.",
      "type": "object",
      "properties": {
        "metastoreService": {
          "description": "Optional. Resource name of an existing Dataproc Metastore service.Example: projects/[project_id]/locations/[region]/services/[service_id]",
          "type": "string"
        },
        "sparkHistoryServerConfig": {
          "description": "Optional. The Spark History Server configuration for the workload.",
          "$ref": "SparkHistoryServerConfig"
        }
      }
    },
    "PrestoJob": {
      "id": "PrestoJob",
      "description": "A Dataproc job for running Presto (https://prestosql.io/) queries. IMPORTANT: The Dataproc Presto Optional Component (https://cloud.google.com/dataproc/docs/concepts/components/presto) must be enabled when the cluster is created to submit a Presto job to the cluster.",
      "type": "object",
      "properties": {
        "queryList": {
          "$ref": "QueryList",
          "description": "A list of queries."
        },
        "queryFileUri": {
          "description": "The HCFS URI of the script that contains SQL queries.",
          "type": "string"
        },
        "properties": {
          "description": "Optional. A mapping of property names to values. Used to set Presto session properties (https://prestodb.io/docs/current/sql/set-session.html) Equivalent to using the --session flag in the Presto CLI",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "outputFormat": {
          "description": "Optional. The format in which query output will be displayed. See the Presto documentation for supported output formats",
          "type": "string"
        },
        "clientTags": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Presto client tags to attach to this query",
          "type": "array"
        },
        "continueOnFailure": {
          "description": "Optional. Whether to continue executing queries if a query fails. The default value is false. Setting to true can be useful when executing independent parallel queries.",
          "type": "boolean"
        },
        "loggingConfig": {
          "$ref": "LoggingConfig",
          "description": "Optional. The runtime log config for job execution."
        }
      }
    },
    "ValueInfo": {
      "id": "ValueInfo",
      "description": "Annotatated property value.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Property value.",
          "type": "string"
        },
        "annotation": {
          "description": "Annotation, comment or explanation why the property was set.",
          "type": "string"
        },
        "overriddenValue": {
          "description": "Optional. Value which was replaced by the corresponding component.",
          "type": "string"
        }
      }
    },
    "DiagnoseClusterRequest": {
      "id": "DiagnoseClusterRequest",
      "description": "A request to collect cluster diagnostic information.",
      "type": "object",
      "properties": {
        "yarnApplicationId": {
          "deprecated": true,
          "description": "Optional. DEPRECATED Specifies the yarn application on which diagnosis is to be performed.",
          "type": "string"
        },
        "tarballGcsDir": {
          "description": "Optional. (Optional) The output Cloud Storage directory for the diagnostic tarball. If not specified, a task-specific directory in the cluster's staging bucket will be used.",
          "type": "string"
        },
        "diagnosisInterval": {
          "$ref": "Interval",
          "description": "Optional. Time interval in which diagnosis should be carried out on the cluster."
        },
        "yarnApplicationIds": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Specifies a list of yarn applications on which diagnosis is to be performed.",
          "type": "array"
        },
        "jobs": {
          "description": "Optional. Specifies a list of jobs on which diagnosis is to be performed. Format: projects/{project}/regions/{region}/jobs/{job}",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "tarballAccess": {
          "enum": [
            "TARBALL_ACCESS_UNSPECIFIED",
            "GOOGLE_CLOUD_SUPPORT",
            "GOOGLE_DATAPROC_DIAGNOSE"
          ],
          "description": "Optional. (Optional) The access type to the diagnostic tarball. If not specified, falls back to default access of the bucket",
          "type": "string",
          "enumDescriptions": [
            "Tarball Access unspecified. Falls back to default access of the bucket",
            "Google Cloud Support group has read access to the diagnostic tarball",
            "The diagnose service account has read access to the diagnostic tarball"
          ]
        },
        "job": {
          "description": "Optional. DEPRECATED Specifies the job on which diagnosis is to be performed. Format: projects/{project}/regions/{region}/jobs/{job}",
          "type": "string",
          "deprecated": true
        }
      }
    },
    "SummarizeSessionSparkApplicationStagesResponse": {
      "id": "SummarizeSessionSparkApplicationStagesResponse",
      "description": "Summary of a Spark Application stages.",
      "type": "object",
      "properties": {
        "stagesSummary": {
          "description": "Summary of a Spark Application Stages",
          "$ref": "StagesSummary"
        }
      }
    },
    "SearchSparkApplicationSqlQueriesResponse": {
      "id": "SearchSparkApplicationSqlQueriesResponse",
      "description": "List of all queries for a Spark Application.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent SearchSparkApplicationSqlQueriesRequest.",
          "type": "string"
        },
        "sparkApplicationSqlQueries": {
          "items": {
            "$ref": "SqlExecutionUiData"
          },
          "readOnly": true,
          "description": "Output only. SQL Execution Data",
          "type": "array"
        }
      }
    },
    "JobStatus": {
      "id": "JobStatus",
      "description": "Dataproc job status.",
      "type": "object",
      "properties": {
        "substate": {
          "description": "Output only. Additional state information, which includes status reported by the agent.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The job substate is unknown.",
            "The Job is submitted to the agent.Applies to RUNNING state.",
            "The Job has been received and is awaiting execution (it might be waiting for a condition to be met). See the \"details\" field for the reason for the delay.Applies to RUNNING state.",
            "The agent-reported status is out of date, which can be caused by a loss of communication between the agent and Dataproc. If the agent does not send a timely update, the job will fail.Applies to RUNNING state."
          ],
          "enum": [
            "UNSPECIFIED",
            "SUBMITTED",
            "QUEUED",
            "STALE_STATUS"
          ]
        },
        "details": {
          "readOnly": true,
          "description": "Optional. Output only. Job state details, such as an error description if the state is ERROR.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "The job state is unknown.",
            "The job is pending; it has been submitted, but is not yet running.",
            "Job has been received by the service and completed initial setup; it will soon be submitted to the cluster.",
            "The job is running on the cluster.",
            "A CancelJob request has been received, but is pending.",
            "Transient in-flight resources have been canceled, and the request to cancel the running job has been issued to the cluster.",
            "The job cancellation was successful.",
            "The job has completed successfully.",
            "The job has completed, but encountered an error.",
            "Job attempt has failed. The detail field contains failure details for this attempt.Applies to restartable jobs only."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "SETUP_DONE",
            "RUNNING",
            "CANCEL_PENDING",
            "CANCEL_STARTED",
            "CANCELLED",
            "DONE",
            "ERROR",
            "ATTEMPT_FAILURE"
          ],
          "readOnly": true,
          "description": "Output only. A state message specifying the overall job state.",
          "type": "string"
        },
        "stateStartTime": {
          "description": "Output only. The time when this state was entered.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      }
    },
    "RddDataDistribution": {
      "id": "RddDataDistribution",
      "description": "Details about RDD usage.",
      "type": "object",
      "properties": {
        "onHeapMemoryRemaining": {
          "type": "string",
          "format": "int64"
        },
        "memoryUsed": {
          "type": "string",
          "format": "int64"
        },
        "memoryRemaining": {
          "format": "int64",
          "type": "string"
        },
        "diskUsed": {
          "type": "string",
          "format": "int64"
        },
        "offHeapMemoryUsed": {
          "format": "int64",
          "type": "string"
        },
        "offHeapMemoryRemaining": {
          "format": "int64",
          "type": "string"
        },
        "address": {
          "type": "string"
        },
        "onHeapMemoryUsed": {
          "type": "string",
          "format": "int64"
        }
      }
    },
    "AccessSessionSparkApplicationSqlQueryResponse": {
      "id": "AccessSessionSparkApplicationSqlQueryResponse",
      "description": "Details of a query for a Spark Application",
      "type": "object",
      "properties": {
        "executionData": {
          "description": "SQL Execution Data",
          "$ref": "SqlExecutionUiData"
        }
      }
    },
    "SparkPlanGraphEdge": {
      "id": "SparkPlanGraphEdge",
      "description": "Represents a directed edge in the spark plan tree from child to parent.",
      "type": "object",
      "properties": {
        "fromId": {
          "format": "int64",
          "type": "string"
        },
        "toId": {
          "format": "int64",
          "type": "string"
        }
      }
    },
    "Policy": {
      "id": "Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources.A Policy is a collection of bindings. A binding binds one or more members, or principals, to a single role. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A role is a named list of permissions; each role can be an IAM predefined role or a user-created custom role.For some types of Google Cloud resources, a binding can also specify a condition, which is a logical expression that allows access to a resource only if the expression evaluates to true. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies).JSON example: { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } YAML example: bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the IAM documentation (https://cloud.google.com/iam/docs/).",
      "type": "object",
      "properties": {
        "version": {
          "description": "Specifies the format of the policy.Valid values are 0, 1, and 3. Requests that specify an invalid value are rejected.Any operation that affects conditional role bindings must specify version 3. This requirement applies to the following operations: Getting a policy that includes a conditional role binding Adding a conditional role binding to a policy Changing a conditional role binding in a policy Removing any role binding, with or without a condition, from a policy that includes conditionsImportant: If you use IAM Conditions, you must include the etag field whenever you call setIamPolicy. If you omit this field, then IAM allows you to overwrite a version 3 policy with a version 1 policy, and all of the conditions in the version 3 policy are lost.If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset.To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        },
        "bindings": {
          "description": "Associates a list of members, or principals, with a role. Optionally, may specify a condition that determines how and when the bindings are applied. Each of the bindings must contain at least one principal.The bindings in a Policy can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the bindings grant 50 different roles to user:alice@example.com, and not to any other principal, then you can add another 1,450 principals to the bindings in the Policy.",
          "type": "array",
          "items": {
            "$ref": "Binding"
          }
        },
        "etag": {
          "format": "byte",
          "description": "etag is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the etag in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An etag is returned in the response to getIamPolicy, and systems are expected to put that etag in the request to setIamPolicy to ensure that their change will be applied to the same version of the policy.Important: If you use IAM Conditions, you must include the etag field whenever you call setIamPolicy. If you omit this field, then IAM allows you to overwrite a version 3 policy with a version 1 policy, and all of the conditions in the version 3 policy are lost.",
          "type": "string"
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "done": {
          "description": "If the value is false, it means the operation is still in progress. If true, the operation is completed, and either error or response is available.",
          "type": "boolean"
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as Delete, the response is google.protobuf.Empty. If the original method is standard Get/Create/Update, the response should be the resource. For other methods, the response should have the type XxxResponse, where Xxx is the original method name. For example, if the original method name is TakeSnapshot(), the inferred response type is TakeSnapshotResponse.",
          "type": "object"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the name should be a resource name ending with operations/{unique_id}.",
          "type": "string"
        }
      }
    },
    "ShuffleWriteQuantileMetrics": {
      "id": "ShuffleWriteQuantileMetrics",
      "type": "object",
      "properties": {
        "writeTimeNanos": {
          "$ref": "Quantiles"
        },
        "writeBytes": {
          "$ref": "Quantiles"
        },
        "writeRecords": {
          "$ref": "Quantiles"
        }
      }
    },
    "WriteSessionSparkApplicationContextResponse": {
      "id": "WriteSessionSparkApplicationContextResponse",
      "description": "Response returned as an acknowledgement of receipt of data.",
      "type": "object",
      "properties": {}
    },
    "SummarizeSessionSparkApplicationStageAttemptTasksResponse": {
      "id": "SummarizeSessionSparkApplicationStageAttemptTasksResponse",
      "description": "Summary of tasks for a Spark Application stage attempt.",
      "type": "object",
      "properties": {
        "stageAttemptTasksSummary": {
          "$ref": "StageAttemptTasksSummary",
          "description": "Summary of tasks for a Spark Application Stage Attempt"
        }
      }
    },
    "AutoscalingPolicy": {
      "id": "AutoscalingPolicy",
      "description": "Describes an autoscaling policy for Dataproc cluster autoscaler.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Required. The policy id.The id must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). Cannot begin or end with underscore or hyphen. Must consist of between 3 and 50 characters.",
          "type": "string"
        },
        "workerConfig": {
          "$ref": "InstanceGroupAutoscalingPolicyConfig",
          "description": "Required. Describes how the autoscaler will operate for primary workers."
        },
        "clusterType": {
          "enum": [
            "CLUSTER_TYPE_UNSPECIFIED",
            "STANDARD",
            "ZERO_SCALE"
          ],
          "description": "Optional. The type of the clusters for which this autoscaling policy is to be configured.",
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "Standard dataproc cluster with a minimum of two primary workers.",
            "Clusters that can use only secondary workers and be scaled down to zero secondary worker nodes."
          ]
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The \"resource name\" of the autoscaling policy, as described in https://cloud.google.com/apis/design/resource_names. For projects.regions.autoscalingPolicies, the resource name of the policy has the following format: projects/{project_id}/regions/{region}/autoscalingPolicies/{policy_id} For projects.locations.autoscalingPolicies, the resource name of the policy has the following format: projects/{project_id}/locations/{location}/autoscalingPolicies/{policy_id}",
          "type": "string"
        },
        "basicAlgorithm": {
          "$ref": "BasicAutoscalingAlgorithm"
        },
        "secondaryWorkerConfig": {
          "description": "Optional. Describes how the autoscaler will operate for secondary workers.",
          "$ref": "InstanceGroupAutoscalingPolicyConfig"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels to associate with this autoscaling policy. Label keys must contain 1 to 63 characters, and must conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt). Label values may be empty, but, if present, must contain 1 to 63 characters, and must conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt). No more than 32 labels can be associated with an autoscaling policy.",
          "type": "object"
        }
      }
    },
    "QueryList": {
      "id": "QueryList",
      "description": "A list of queries to run on a cluster.",
      "type": "object",
      "properties": {
        "queries": {
          "items": {
            "type": "string"
          },
          "description": "Required. The queries to execute. You do not need to end a query expression with a semicolon. Multiple queries can be specified in one string by separating each with a semicolon. Here is an example of a Dataproc API snippet that uses a QueryList to specify a HiveJob: \"hiveJob\": { \"queryList\": { \"queries\": [ \"query1\", \"query2\", \"query3;query4\", ] } } ",
          "type": "array"
        }
      }
    },
    "Quantiles": {
      "id": "Quantiles",
      "description": "Quantile metrics data related to Tasks. Units can be seconds, bytes, milliseconds, etc depending on the message type.",
      "type": "object",
      "properties": {
        "percentile25": {
          "type": "string",
          "format": "int64"
        },
        "sum": {
          "type": "string",
          "format": "int64"
        },
        "minimum": {
          "type": "string",
          "format": "int64"
        },
        "percentile50": {
          "format": "int64",
          "type": "string"
        },
        "maximum": {
          "format": "int64",
          "type": "string"
        },
        "count": {
          "format": "int64",
          "type": "string"
        },
        "percentile75": {
          "format": "int64",
          "type": "string"
        }
      }
    },
    "TaskData": {
      "id": "TaskData",
      "description": "Data corresponding to tasks created by spark.",
      "type": "object",
      "properties": {
        "resultFetchStart": {
          "format": "google-datetime",
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "taskLocality": {
          "type": "string"
        },
        "attempt": {
          "type": "integer",
          "format": "int32"
        },
        "gettingResultTimeMillis": {
          "type": "string",
          "format": "int64"
        },
        "errorMessage": {
          "type": "string"
        },
        "speculative": {
          "type": "boolean"
        },
        "partitionId": {
          "format": "int32",
          "type": "integer"
        },
        "launchTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "taskMetrics": {
          "$ref": "TaskMetrics"
        },
        "executorLogs": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "schedulerDelayMillis": {
          "type": "string",
          "format": "int64"
        },
        "accumulatorUpdates": {
          "type": "array",
          "items": {
            "$ref": "AccumulableInfo"
          }
        },
        "durationMillis": {
          "type": "string",
          "format": "int64"
        },
        "taskId": {
          "type": "string",
          "format": "int64"
        },
        "host": {
          "type": "string"
        },
        "hasMetrics": {
          "type": "boolean"
        },
        "stageAttemptId": {
          "type": "integer",
          "format": "int32"
        },
        "index": {
          "type": "integer",
          "format": "int32"
        },
        "executorId": {
          "type": "string"
        },
        "stageId": {
          "format": "int64",
          "type": "string"
        }
      }
    },
    "GetPolicyOptions": {
      "id": "GetPolicyOptions",
      "description": "Encapsulates settings provided to GetIamPolicy.",
      "type": "object",
      "properties": {
        "requestedPolicyVersion": {
          "format": "int32",
          "description": "Optional. The maximum policy version that will be used to format the policy.Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected.Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset.The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1.To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer"
        }
      }
    },
    "NativeSqlExecutionUiData": {
      "id": "NativeSqlExecutionUiData",
      "description": "Native SQL Execution Data",
      "type": "object",
      "properties": {
        "fallbackDescription": {
          "description": "Optional. Description of the fallback.",
          "type": "string"
        },
        "fallbackNodeToReason": {
          "description": "Optional. Fallback node to reason.",
          "type": "array",
          "items": {
            "$ref": "FallbackReason"
          }
        },
        "numNativeNodes": {
          "format": "int32",
          "description": "Optional. Number of nodes in Native.",
          "type": "integer"
        },
        "executionId": {
          "description": "Required. Execution ID of the Native SQL Execution.",
          "type": "string",
          "format": "int64"
        },
        "description": {
          "description": "Optional. Description of the execution.",
          "type": "string"
        },
        "numFallbackNodes": {
          "format": "int32",
          "description": "Optional. Number of nodes fallen back to Spark.",
          "type": "integer"
        }
      }
    },
    "GkeClusterConfig": {
      "id": "GkeClusterConfig",
      "description": "The cluster's GKE config.",
      "type": "object",
      "properties": {
        "namespacedGkeDeploymentTarget": {
          "description": "Optional. Deprecated. Use gkeClusterTarget. Used only for the deprecated beta. A target for the deployment.",
          "$ref": "NamespacedGkeDeploymentTarget",
          "deprecated": true
        },
        "nodePoolTarget": {
          "description": "Optional. GKE node pools where workloads will be scheduled. At least one node pool must be assigned the DEFAULT GkeNodePoolTarget.Role. If a GkeNodePoolTarget is not specified, Dataproc constructs a DEFAULT GkeNodePoolTarget. Each role can be given to only one GkeNodePoolTarget. All node pools must have the same location settings.",
          "type": "array",
          "items": {
            "$ref": "GkeNodePoolTarget"
          }
        },
        "gkeClusterTarget": {
          "description": "Optional. A target GKE cluster to deploy to. It must be in the same project and region as the Dataproc cluster (the GKE cluster can be zonal or regional). Format: 'projects/{project}/locations/{location}/clusters/{cluster_id}'",
          "type": "string"
        }
      }
    },
    "BasicAutoscalingAlgorithm": {
      "id": "BasicAutoscalingAlgorithm",
      "description": "Basic algorithm for autoscaling.",
      "type": "object",
      "properties": {
        "yarnConfig": {
          "description": "Optional. YARN autoscaling configuration.",
          "$ref": "BasicYarnAutoscalingConfig"
        },
        "sparkStandaloneConfig": {
          "description": "Optional. Spark Standalone autoscaling configuration",
          "$ref": "SparkStandaloneAutoscalingConfig"
        },
        "cooldownPeriod": {
          "description": "Optional. Duration between scaling events. A scaling period starts after the update operation from the previous event has completed.Bounds: 2m, 1d. Default: 2m.",
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "SessionTemplate": {
      "id": "SessionTemplate",
      "description": "A representation of a session template.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. Identifier. The resource name of the session template.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Brief description of the template.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the template was created.",
          "type": "string",
          "readOnly": true
        },
        "uuid": {
          "readOnly": true,
          "description": "Output only. A session template UUID (Unique Universal Identifier). The service generates this value when it creates the session template.",
          "type": "string"
        },
        "sparkConnectSession": {
          "description": "Optional. Spark connect session config.",
          "$ref": "SparkConnectConfig"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The time the template was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "jupyterSession": {
          "$ref": "JupyterConfig",
          "description": "Optional. Jupyter session config."
        },
        "creator": {
          "description": "Output only. The email address of the user who created the template.",
          "type": "string",
          "readOnly": true
        },
        "environmentConfig": {
          "description": "Optional. Environment configuration for session execution.",
          "$ref": "EnvironmentConfig"
        },
        "runtimeConfig": {
          "description": "Optional. Runtime configuration for session execution.",
          "$ref": "RuntimeConfig"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels to associate with sessions created using this template. Label keys must contain 1 to 63 characters, and must conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt). Label values can be empty, but, if present, must contain 1 to 63 characters and conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt). No more than 32 labels can be associated with a session.",
          "type": "object"
        }
      }
    },
    "ApplicationInfo": {
      "id": "ApplicationInfo",
      "description": "High level information corresponding to an application.",
      "type": "object",
      "properties": {
        "memoryPerExecutorMb": {
          "format": "int32",
          "type": "integer"
        },
        "applicationId": {
          "type": "string"
        },
        "coresGranted": {
          "type": "integer",
          "format": "int32"
        },
        "quantileDataStatus": {
          "type": "string",
          "enum": [
            "QUANTILE_DATA_STATUS_UNSPECIFIED",
            "QUANTILE_DATA_STATUS_COMPLETED",
            "QUANTILE_DATA_STATUS_FAILED"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "attempts": {
          "type": "array",
          "items": {
            "$ref": "ApplicationAttemptInfo"
          }
        },
        "applicationContextIngestionStatus": {
          "type": "string",
          "enum": [
            "APPLICATION_CONTEXT_INGESTION_STATUS_UNSPECIFIED",
            "APPLICATION_CONTEXT_INGESTION_STATUS_COMPLETED"
          ],
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "maxCores": {
          "type": "integer",
          "format": "int32"
        },
        "coresPerExecutor": {
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "HadoopJob": {
      "id": "HadoopJob",
      "description": "A Dataproc job for running Apache Hadoop MapReduce (https://hadoop.apache.org/docs/current/hadoop-mapreduce-client/hadoop-mapreduce-client-core/MapReduceTutorial.html) jobs on Apache Hadoop YARN (https://hadoop.apache.org/docs/r2.7.1/hadoop-yarn/hadoop-yarn-site/YARN.html).",
      "type": "object",
      "properties": {
        "properties": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. A mapping of property names to values, used to configure Hadoop. Properties that conflict with values set by the Dataproc API might be overwritten. Can include properties set in /etc/hadoop/conf/*-site and classes in user code.",
          "type": "object"
        },
        "jarFileUris": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Jar file URIs to add to the CLASSPATHs of the Hadoop driver and tasks.",
          "type": "array"
        },
        "fileUris": {
          "items": {
            "type": "string"
          },
          "description": "Optional. HCFS (Hadoop Compatible Filesystem) URIs of files to be copied to the working directory of Hadoop drivers and distributed tasks. Useful for naively parallel tasks.",
          "type": "array"
        },
        "mainJarFileUri": {
          "description": "The HCFS URI of the jar file containing the main class. Examples: 'gs://foo-bucket/analytics-binaries/extract-useful-metrics-mr.jar' 'hdfs:/tmp/test-samples/custom-wordcount.jar' 'file:///home/usr/lib/hadoop-mapreduce/hadoop-mapreduce-examples.jar'",
          "type": "string"
        },
        "loggingConfig": {
          "$ref": "LoggingConfig",
          "description": "Optional. The runtime log config for job execution."
        },
        "args": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The arguments to pass to the driver. Do not include arguments, such as -libjars or -Dfoo=bar, that can be set as job properties, since a collision might occur that causes an incorrect job submission.",
          "type": "array"
        },
        "mainClass": {
          "description": "The name of the driver's main class. The jar file containing the class must be in the default CLASSPATH or specified in jar_file_uris.",
          "type": "string"
        },
        "archiveUris": {
          "items": {
            "type": "string"
          },
          "description": "Optional. HCFS URIs of archives to be extracted in the working directory of Hadoop drivers and tasks. Supported file types: .jar, .tar, .tar.gz, .tgz, or .zip.",
          "type": "array"
        }
      }
    },
    "RddOperationNode": {
      "id": "RddOperationNode",
      "description": "A node in the RDD operation graph. Corresponds to a single RDD.",
      "type": "object",
      "properties": {
        "outputDeterministicLevel": {
          "type": "string",
          "enum": [
            "DETERMINISTIC_LEVEL_UNSPECIFIED",
            "DETERMINISTIC_LEVEL_DETERMINATE",
            "DETERMINISTIC_LEVEL_UNORDERED",
            "DETERMINISTIC_LEVEL_INDETERMINATE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "cached": {
          "type": "boolean"
        },
        "nodeId": {
          "format": "int32",
          "type": "integer"
        },
        "callsite": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "barrier": {
          "type": "boolean"
        }
      }
    },
    "ProvisioningModelMix": {
      "id": "ProvisioningModelMix",
      "description": "Defines how to create VMs with a mixture of provisioning models.",
      "type": "object",
      "properties": {
        "standardCapacityBase": {
          "format": "int32",
          "description": "Optional. The base capacity that will always use Standard VMs to avoid risk of more preemption than the minimum capacity you need. The service will create only standard VMs until it reaches standard_capacity_base, then it will start using standard_capacity_percent_above_base to mix Spot with Standard VMs. eg. If 15 instances are requested and standard_capacity_base is 5, the service will create 5 standard VMs and thenstart mixing spot and standard VMs for remaining 10 instances.",
          "type": "integer"
        },
        "standardCapacityPercentAboveBase": {
          "description": "Optional. The percentage of target capacity that should use Standard VM. The remaining percentage will use Spot VMs. The percentage applies only to the capacity above standard_capacity_base. eg. If 15 instances are requested and standard_capacity_base is 5 and standard_capacity_percent_above_base is 30, the service will create 5 standard VMs and then start mixing spot and standard VMs for remaining 10 instances. The mix will be 30% standard and 70% spot.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "SinkProgress": {
      "id": "SinkProgress",
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "numOutputRows": {
          "format": "int64",
          "type": "string"
        },
        "metrics": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "NodePool": {
      "id": "NodePool",
      "description": "indicating a list of workers of same type",
      "type": "object",
      "properties": {
        "id": {
          "description": "Required. A unique id of the node pool. Primary and Secondary workers can be specified using special reserved ids PRIMARY_WORKER_POOL and SECONDARY_WORKER_POOL respectively. Aux node pools can be referenced using corresponding pool id.",
          "type": "string"
        },
        "instanceNames": {
          "items": {
            "type": "string"
          },
          "description": "Name of instances to be repaired. These instances must belong to specified node pool.",
          "type": "array"
        },
        "repairAction": {
          "enumDescriptions": [
            "No action will be taken by default.",
            "delete the specified list of nodes."
          ],
          "enum": [
            "REPAIR_ACTION_UNSPECIFIED",
            "DELETE"
          ],
          "description": "Required. Repair action to take on specified resources of the node pool.",
          "type": "string"
        }
      }
    },
    "AccessSparkApplicationSqlQueryResponse": {
      "id": "AccessSparkApplicationSqlQueryResponse",
      "description": "Details of a query for a Spark Application",
      "type": "object",
      "properties": {
        "executionData": {
          "$ref": "SqlExecutionUiData",
          "description": "SQL Execution Data"
        }
      }
    },
    "AuxiliaryServicesConfig": {
      "id": "AuxiliaryServicesConfig",
      "description": "Auxiliary services configuration for a Cluster.",
      "type": "object",
      "properties": {
        "metastoreConfig": {
          "$ref": "MetastoreConfig",
          "description": "Optional. The Hive Metastore configuration for this workload."
        },
        "sparkHistoryServerConfig": {
          "description": "Optional. The Spark History Server configuration for the workload.",
          "$ref": "SparkHistoryServerConfig"
        }
      }
    },
    "StageShufflePushReadMetrics": {
      "id": "StageShufflePushReadMetrics",
      "type": "object",
      "properties": {
        "remoteMergedChunksFetched": {
          "type": "string",
          "format": "int64"
        },
        "mergedFetchFallbackCount": {
          "type": "string",
          "format": "int64"
        },
        "remoteMergedBlocksFetched": {
          "format": "int64",
          "type": "string"
        },
        "localMergedChunksFetched": {
          "type": "string",
          "format": "int64"
        },
        "localMergedBlocksFetched": {
          "format": "int64",
          "type": "string"
        },
        "remoteMergedBytesRead": {
          "format": "int64",
          "type": "string"
        },
        "remoteMergedReqsDuration": {
          "format": "int64",
          "type": "string"
        },
        "localMergedBytesRead": {
          "format": "int64",
          "type": "string"
        },
        "corruptMergedBlockChunks": {
          "format": "int64",
          "type": "string"
        }
      }
    },
    "BasicYarnAutoscalingConfig": {
      "id": "BasicYarnAutoscalingConfig",
      "description": "Basic autoscaling configurations for YARN.",
      "type": "object",
      "properties": {
        "scaleUpFactor": {
          "format": "double",
          "description": "Required. Fraction of average YARN pending memory in the last cooldown period for which to add workers. A scale-up factor of 1.0 will result in scaling up so that there is no pending memory remaining after the update (more aggressive scaling). A scale-up factor closer to 0 will result in a smaller magnitude of scaling up (less aggressive scaling). See How autoscaling works (https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/autoscaling#how_autoscaling_works) for more information.Bounds: 0.0, 1.0.",
          "type": "number"
        },
        "scaleUpMinWorkerFraction": {
          "format": "double",
          "description": "Optional. Minimum scale-up threshold as a fraction of total cluster size before scaling occurs. For example, in a 20-worker cluster, a threshold of 0.1 means the autoscaler must recommend at least a 2-worker scale-up for the cluster to scale. A threshold of 0 means the autoscaler will scale up on any recommended change.Bounds: 0.0, 1.0. Default: 0.0.",
          "type": "number"
        },
        "scaleDownFactor": {
          "format": "double",
          "description": "Required. Fraction of average YARN pending memory in the last cooldown period for which to remove workers. A scale-down factor of 1 will result in scaling down so that there is no available memory remaining after the update (more aggressive scaling). A scale-down factor of 0 disables removing workers, which can be beneficial for autoscaling a single job. See How autoscaling works (https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/autoscaling#how_autoscaling_works) for more information.Bounds: 0.0, 1.0.",
          "type": "number"
        },
        "gracefulDecommissionTimeout": {
          "format": "google-duration",
          "description": "Required. Timeout for YARN graceful decommissioning of Node Managers. Specifies the duration to wait for jobs to complete before forcefully removing workers (and potentially interrupting jobs). Only applicable to downscaling operations.Bounds: 0s, 1d.",
          "type": "string"
        },
        "scaleDownMinWorkerFraction": {
          "format": "double",
          "description": "Optional. Minimum scale-down threshold as a fraction of total cluster size before scaling occurs. For example, in a 20-worker cluster, a threshold of 0.1 means the autoscaler must recommend at least a 2 worker scale-down for the cluster to scale. A threshold of 0 means the autoscaler will scale down on any recommended change.Bounds: 0.0, 1.0. Default: 0.0.",
          "type": "number"
        }
      }
    },
    "StageInputMetrics": {
      "id": "StageInputMetrics",
      "description": "Metrics about the input read by the stage.",
      "type": "object",
      "properties": {
        "bytesRead": {
          "format": "int64",
          "type": "string"
        },
        "recordsRead": {
          "type": "string",
          "format": "int64"
        }
      }
    },
    "PoolData": {
      "id": "PoolData",
      "description": "Pool Data",
      "type": "object",
      "properties": {
        "stageIds": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "name": {
          "type": "string"
        }
      }
    },
    "EndpointConfig": {
      "id": "EndpointConfig",
      "description": "Endpoint config for this cluster",
      "type": "object",
      "properties": {
        "httpPorts": {
          "description": "Output only. The map of port descriptions to URLs. Will only be populated if enable_http_port_access is true.",
          "type": "object",
          "readOnly": true,
          "additionalProperties": {
            "type": "string"
          }
        },
        "enableHttpPortAccess": {
          "description": "Optional. If true, enable http access to specific ports on the cluster from external sources. Defaults to false.",
          "type": "boolean"
        }
      }
    },
    "AccessSparkApplicationJobResponse": {
      "id": "AccessSparkApplicationJobResponse",
      "description": "Details of a particular job associated with Spark Application",
      "type": "object",
      "properties": {
        "jobData": {
          "description": "Output only. Data corresponding to a spark job.",
          "readOnly": true,
          "$ref": "JobData"
        }
      }
    },
    "BatchOperationMetadata": {
      "id": "BatchOperationMetadata",
      "description": "Metadata describing the Batch operation.",
      "type": "object",
      "properties": {
        "batch": {
          "description": "Name of the batch for the operation.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "The time when the operation was created.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels associated with the operation.",
          "type": "object"
        },
        "batchUuid": {
          "description": "Batch UUID for the operation.",
          "type": "string"
        },
        "operationType": {
          "enumDescriptions": [
            "Batch operation type is unknown.",
            "Batch operation type."
          ],
          "enum": [
            "BATCH_OPERATION_TYPE_UNSPECIFIED",
            "BATCH"
          ],
          "description": "The operation type.",
          "type": "string"
        },
        "doneTime": {
          "description": "The time when the operation finished.",
          "type": "string",
          "format": "google-datetime"
        },
        "description": {
          "description": "Short description of the operation.",
          "type": "string"
        },
        "warnings": {
          "description": "Warnings encountered during operation execution.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "SessionStateHistory": {
      "id": "SessionStateHistory",
      "description": "Historical state information.",
      "type": "object",
      "properties": {
        "state": {
          "readOnly": true,
          "description": "Output only. The state of the session at this point in the session history.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "TERMINATING",
            "TERMINATED",
            "FAILED"
          ],
          "enumDescriptions": [
            "The session state is unknown.",
            "The session is created prior to running.",
            "The session is running.",
            "The session is terminating.",
            "The session is terminated successfully.",
            "The session is no longer running due to an error."
          ]
        },
        "stateStartTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time when the session entered the historical state.",
          "type": "string"
        },
        "stateMessage": {
          "description": "Output only. Details about the state at this point in the session history.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "SearchSessionSparkApplicationExecutorsResponse": {
      "id": "SearchSessionSparkApplicationExecutorsResponse",
      "description": "List of Executors associated with a Spark Application.",
      "type": "object",
      "properties": {
        "sparkApplicationExecutors": {
          "description": "Details about executors used by the application.",
          "type": "array",
          "items": {
            "$ref": "ExecutorSummary"
          }
        },
        "nextPageToken": {
          "description": "This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent SearchSessionSparkApplicationExecutorsRequest.",
          "type": "string"
        }
      }
    },
    "OutputMetrics": {
      "id": "OutputMetrics",
      "description": "Metrics about the data written by the task.",
      "type": "object",
      "properties": {
        "recordsWritten": {
          "format": "int64",
          "type": "string"
        },
        "bytesWritten": {
          "type": "string",
          "format": "int64"
        }
      }
    },
    "YarnApplication": {
      "id": "YarnApplication",
      "description": "A YARN application created by a job. Application information is a subset of org.apache.hadoop.yarn.proto.YarnProtos.ApplicationReportProto.Beta Feature: This report is available for testing purposes only. It may be changed before final release.",
      "type": "object",
      "properties": {
        "vcoreSeconds": {
          "description": "Optional. The cumulative CPU time consumed by the application for a job, measured in vcore-seconds.",
          "type": "string",
          "format": "int64"
        },
        "trackingUrl": {
          "description": "Optional. The HTTP URL of the ApplicationMaster, HistoryServer, or TimelineServer that provides application-specific information. The URL uses the internal hostname, and requires a proxy server for resolution and, possibly, access.",
          "type": "string"
        },
        "memoryMbSeconds": {
          "description": "Optional. The cumulative memory usage of the application for a job, measured in mb-seconds.",
          "type": "string",
          "format": "int64"
        },
        "name": {
          "description": "Required. The application name.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Status is unspecified.",
            "Status is NEW.",
            "Status is NEW_SAVING.",
            "Status is SUBMITTED.",
            "Status is ACCEPTED.",
            "Status is RUNNING.",
            "Status is FINISHED.",
            "Status is FAILED.",
            "Status is KILLED."
          ],
          "description": "Required. The application state.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "NEW",
            "NEW_SAVING",
            "SUBMITTED",
            "ACCEPTED",
            "RUNNING",
            "FINISHED",
            "FAILED",
            "KILLED"
          ]
        },
        "progress": {
          "format": "float",
          "description": "Required. The numerical progress of the application, from 1 to 100.",
          "type": "number"
        }
      }
    },
    "BuildInfo": {
      "id": "BuildInfo",
      "description": "Native Build Info",
      "type": "object",
      "properties": {
        "buildKey": {
          "description": "Optional. Build key.",
          "type": "string"
        },
        "buildValue": {
          "description": "Optional. Build value.",
          "type": "string"
        }
      }
    },
    "SummarizeSparkApplicationJobsResponse": {
      "id": "SummarizeSparkApplicationJobsResponse",
      "description": "Summary of a Spark Application jobs.",
      "type": "object",
      "properties": {
        "jobsSummary": {
          "description": "Summary of a Spark Application Jobs",
          "$ref": "JobsSummary"
        }
      }
    },
    "AttachedDiskConfig": {
      "id": "AttachedDiskConfig",
      "description": "Specifies the config of attached disk options for single VM instance.",
      "type": "object",
      "properties": {
        "diskType": {
          "description": "Optional. Disk type.",
          "type": "string",
          "enum": [
            "DISK_TYPE_UNSPECIFIED",
            "HYPERDISK_BALANCED",
            "HYPERDISK_EXTREME",
            "HYPERDISK_ML",
            "HYPERDISK_THROUGHPUT"
          ],
          "enumDescriptions": [
            "Required unspecified disk type.",
            "Hyperdisk Balanced disk type.",
            "Hyperdisk Extreme disk type.",
            "Hyperdisk ML disk type.",
            "Hyperdisk Throughput disk type."
          ]
        },
        "diskSizeGb": {
          "description": "Optional. Disk size in GB.",
          "type": "integer",
          "format": "int32"
        },
        "provisionedIops": {
          "format": "int64",
          "description": "Optional. Indicates how many IOPS to provision for the attached disk. This sets the number of I/O operations per second that the disk can handle. See https://cloud.google.com/compute/docs/disks/hyperdisks#hyperdisk-features",
          "type": "string"
        },
        "provisionedThroughput": {
          "format": "int64",
          "description": "Optional. Indicates how much throughput to provision for the attached disk. This sets the number of throughput mb per second that the disk can handle. See https://cloud.google.com/compute/docs/disks/hyperdisks#hyperdisk-features",
          "type": "string"
        }
      }
    },
    "ResourceProfileInfo": {
      "id": "ResourceProfileInfo",
      "description": "Resource profile that contains information about all the resources required by executors and tasks.",
      "type": "object",
      "properties": {
        "resourceProfileId": {
          "type": "integer",
          "format": "int32"
        },
        "executorResources": {
          "type": "object",
          "additionalProperties": {
            "$ref": "ExecutorResourceRequest"
          }
        },
        "taskResources": {
          "additionalProperties": {
            "$ref": "TaskResourceRequest"
          },
          "type": "object"
        }
      }
    },
    "SearchSessionSparkApplicationJobsResponse": {
      "id": "SearchSessionSparkApplicationJobsResponse",
      "description": "A list of Jobs associated with a Spark Application.",
      "type": "object",
      "properties": {
        "sparkApplicationJobs": {
          "description": "Output only. Data corresponding to a spark job.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "JobData"
          }
        },
        "nextPageToken": {
          "description": "This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent SearchSessionSparkApplicationJobsRequest.",
          "type": "string"
        }
      }
    },
    "AnalyzeBatchRequest": {
      "id": "AnalyzeBatchRequest",
      "description": "A request to analyze a batch workload.",
      "type": "object",
      "properties": {
        "requestorId": {
          "deprecated": true,
          "description": "Optional. The requestor ID is used to identify if the request comes from a GCA investigation or the old Ask Gemini Experience. ",
          "type": "string"
        },
        "requestId": {
          "description": "Optional. A unique ID used to identify the request. If the service receives two AnalyzeBatchRequest (http://cloud/dataproc/docs/reference/rpc/google.cloud.dataproc.v1#google.cloud.dataproc.v1.AnalyzeBatchRequest)s with the same request_id, the second request is ignored and the Operation that corresponds to the first request created and stored in the backend is returned.Recommendation: Set this value to a UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier).The value must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters.",
          "type": "string"
        }
      }
    },
    "ApplicationEnvironmentInfo": {
      "id": "ApplicationEnvironmentInfo",
      "description": "Details about the Environment that the application is running in.",
      "type": "object",
      "properties": {
        "metricsProperties": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "resourceProfiles": {
          "type": "array",
          "items": {
            "$ref": "ResourceProfileInfo"
          }
        },
        "sparkProperties": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "hadoopProperties": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "classpathEntries": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "runtime": {
          "$ref": "SparkRuntimeInfo"
        },
        "systemProperties": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "SpeculationStageSummary": {
      "id": "SpeculationStageSummary",
      "description": "Details of the speculation task when speculative execution is enabled.",
      "type": "object",
      "properties": {
        "stageId": {
          "type": "string",
          "format": "int64"
        },
        "numCompletedTasks": {
          "format": "int32",
          "type": "integer"
        },
        "numKilledTasks": {
          "type": "integer",
          "format": "int32"
        },
        "numActiveTasks": {
          "format": "int32",
          "type": "integer"
        },
        "numTasks": {
          "type": "integer",
          "format": "int32"
        },
        "numFailedTasks": {
          "type": "integer",
          "format": "int32"
        },
        "stageAttemptId": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "SubmitJobRequest": {
      "id": "SubmitJobRequest",
      "description": "A request to submit a job.",
      "type": "object",
      "properties": {
        "job": {
          "description": "Required. The job resource.",
          "$ref": "Job"
        },
        "requestId": {
          "description": "Optional. A unique id used to identify the request. If the server receives two SubmitJobRequest (https://cloud.google.com/dataproc/docs/reference/rpc/google.cloud.dataproc.v1#google.cloud.dataproc.v1.SubmitJobRequest)s with the same id, then the second request will be ignored and the first Job created and stored in the backend is returned.It is recommended to always set this value to a UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier).The id must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters.",
          "type": "string"
        }
      }
    },
    "CohortInfo": {
      "id": "CohortInfo",
      "description": "Information about the cohort that the workload belongs to.",
      "type": "object",
      "properties": {
        "cohort": {
          "description": "Output only. Final cohort that was used to tune the workload.",
          "type": "string",
          "readOnly": true
        },
        "cohortSource": {
          "enum": [
            "COHORT_SOURCE_UNSPECIFIED",
            "USER_PROVIDED",
            "AIRFLOW"
          ],
          "enumDescriptions": [
            "Cohort source is unspecified.",
            "Indicates that the cohort was explicitly provided.",
            "Composed from the labels coming from Airflow/Composer."
          ],
          "description": "Output only. Source of the cohort.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "WorkflowNode": {
      "id": "WorkflowNode",
      "description": "The workflow node.",
      "type": "object",
      "properties": {
        "stepId": {
          "description": "Output only. The name of the node.",
          "type": "string",
          "readOnly": true
        },
        "jobId": {
          "readOnly": true,
          "description": "Output only. The job id; populated after the node enters RUNNING state.",
          "type": "string"
        },
        "state": {
          "description": "Output only. The node state.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "State is unspecified.",
            "The node is awaiting prerequisite node to finish.",
            "The node is runnable but not running.",
            "The node is running.",
            "The node completed successfully.",
            "The node failed. A node can be marked FAILED because its ancestor or peer failed."
          ],
          "enum": [
            "NODE_STATE_UNSPECIFIED",
            "BLOCKED",
            "RUNNABLE",
            "RUNNING",
            "COMPLETED",
            "FAILED"
          ]
        },
        "prerequisiteStepIds": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. Node's prerequisite nodes.",
          "type": "array"
        },
        "error": {
          "description": "Output only. The error detail.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ListBatchesResponse": {
      "id": "ListBatchesResponse",
      "description": "A list of batch workloads.",
      "type": "object",
      "properties": {
        "batches": {
          "description": "Output only. The batches from the specified collection.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "Batch"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as page_token to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Output only. List of Batches that could not be included in the response. Attempting to get one of these resources may indicate why it was not included in the list response.",
          "type": "array",
          "readOnly": true
        }
      }
    },
    "RddOperationEdge": {
      "id": "RddOperationEdge",
      "description": "A directed edge representing dependency between two RDDs.",
      "type": "object",
      "properties": {
        "fromId": {
          "format": "int32",
          "type": "integer"
        },
        "toId": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "SparkPlanGraphCluster": {
      "id": "SparkPlanGraphCluster",
      "description": "Represents a tree of spark plan.",
      "type": "object",
      "properties": {
        "sparkPlanGraphClusterId": {
          "type": "string",
          "format": "int64"
        },
        "metadata": {
          "description": "Optional. Additional metadata for the spark plan graph cluster.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "type": "string"
        },
        "desc": {
          "type": "string"
        },
        "nodes": {
          "type": "array",
          "items": {
            "$ref": "SparkPlanGraphNodeWrapper"
          }
        },
        "metrics": {
          "type": "array",
          "items": {
            "$ref": "SqlPlanMetric"
          }
        }
      }
    },
    "AccessSessionSparkApplicationJobResponse": {
      "id": "AccessSessionSparkApplicationJobResponse",
      "description": "Details of a particular job associated with Spark Application",
      "type": "object",
      "properties": {
        "jobData": {
          "description": "Output only. Data corresponding to a spark job.",
          "readOnly": true,
          "$ref": "JobData"
        }
      }
    },
    "SearchSessionSparkApplicationStagesResponse": {
      "id": "SearchSessionSparkApplicationStagesResponse",
      "description": "A list of stages associated with a Spark Application.",
      "type": "object",
      "properties": {
        "sparkApplicationStages": {
          "description": "Output only. Data corresponding to a stage.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "StageData"
          }
        },
        "nextPageToken": {
          "description": "This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent SearchSessionSparkApplicationStages.",
          "type": "string"
        }
      }
    },
    "ApplicationAttemptInfo": {
      "id": "ApplicationAttemptInfo",
      "description": "Specific attempt of an application.",
      "type": "object",
      "properties": {
        "lastUpdated": {
          "format": "google-datetime",
          "type": "string"
        },
        "attemptId": {
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "appSparkVersion": {
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "sparkUser": {
          "type": "string"
        },
        "durationMillis": {
          "format": "int64",
          "type": "string"
        },
        "completed": {
          "type": "boolean"
        }
      }
    },
    "SparkRuntimeInfo": {
      "id": "SparkRuntimeInfo",
      "type": "object",
      "properties": {
        "javaVersion": {
          "type": "string"
        },
        "javaHome": {
          "type": "string"
        },
        "scalaVersion": {
          "type": "string"
        }
      }
    },
    "GkeNodePoolConfig": {
      "id": "GkeNodePoolConfig",
      "description": "The configuration of a GKE node pool used by a Dataproc-on-GKE cluster (https://cloud.google.com/dataproc/docs/concepts/jobs/dataproc-gke#create-a-dataproc-on-gke-cluster).",
      "type": "object",
      "properties": {
        "config": {
          "$ref": "GkeNodeConfig",
          "description": "Optional. The node pool configuration."
        },
        "autoscaling": {
          "description": "Optional. The autoscaler configuration for this node pool. The autoscaler is enabled only when a valid configuration is present.",
          "$ref": "GkeNodePoolAutoscalingConfig"
        },
        "locations": {
          "description": "Optional. The list of Compute Engine zones (https://cloud.google.com/compute/docs/zones#available) where node pool nodes associated with a Dataproc on GKE virtual cluster will be located.Note: All node pools associated with a virtual cluster must be located in the same region as the virtual cluster, and they must be located in the same zone within that region.If a location is not specified during node pool creation, Dataproc on GKE will choose the zone.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "WriteSparkApplicationContextRequest": {
      "id": "WriteSparkApplicationContextRequest",
      "description": "Write Spark Application data to internal storage systems",
      "type": "object",
      "properties": {
        "parent": {
          "description": "Required. Parent (Batch) resource reference.",
          "type": "string"
        },
        "sparkWrapperObjects": {
          "type": "array",
          "items": {
            "$ref": "SparkWrapperObject"
          }
        }
      }
    },
    "SecurityConfig": {
      "id": "SecurityConfig",
      "description": "Security related configuration, including encryption, Kerberos, etc.",
      "type": "object",
      "properties": {
        "kerberosConfig": {
          "$ref": "KerberosConfig",
          "description": "Optional. Kerberos related configuration."
        },
        "identityConfig": {
          "description": "Optional. Identity related configuration, including service account based secure multi-tenancy user mappings.",
          "$ref": "IdentityConfig"
        }
      }
    },
    "ShuffleWriteMetrics": {
      "id": "ShuffleWriteMetrics",
      "description": "Shuffle data written by task.",
      "type": "object",
      "properties": {
        "writeTimeNanos": {
          "type": "string",
          "format": "int64"
        },
        "bytesWritten": {
          "type": "string",
          "format": "int64"
        },
        "recordsWritten": {
          "type": "string",
          "format": "int64"
        }
      }
    },
    "KubernetesSoftwareConfig": {
      "id": "KubernetesSoftwareConfig",
      "description": "The software configuration for this Dataproc cluster running on Kubernetes.",
      "type": "object",
      "properties": {
        "properties": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The properties to set on daemon config files.Property keys are specified in prefix:property format, for example spark:spark.kubernetes.container.image. The following are supported prefixes and their mappings: spark: spark-defaults.confFor more information, see Cluster properties (https://cloud.google.com/dataproc/docs/concepts/cluster-properties).",
          "type": "object"
        },
        "componentVersion": {
          "description": "The components that should be installed in this Dataproc cluster. The key must be a string from the KubernetesComponent enumeration. The value is the version of the software to be installed. At least one entry must be specified.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "ConsolidatedExecutorSummary": {
      "id": "ConsolidatedExecutorSummary",
      "description": "Consolidated summary about executors used by the application.",
      "type": "object",
      "properties": {
        "diskUsed": {
          "type": "string",
          "format": "int64"
        },
        "totalTasks": {
          "format": "int32",
          "type": "integer"
        },
        "totalInputBytes": {
          "format": "int64",
          "type": "string"
        },
        "isExcluded": {
          "type": "integer",
          "format": "int32"
        },
        "rddBlocks": {
          "format": "int32",
          "type": "integer"
        },
        "memoryUsed": {
          "type": "string",
          "format": "int64"
        },
        "maxMemory": {
          "format": "int64",
          "type": "string"
        },
        "totalShuffleRead": {
          "type": "string",
          "format": "int64"
        },
        "activeTasks": {
          "format": "int32",
          "type": "integer"
        },
        "totalShuffleWrite": {
          "format": "int64",
          "type": "string"
        },
        "memoryMetrics": {
          "$ref": "MemoryMetrics"
        },
        "totalCores": {
          "type": "integer",
          "format": "int32"
        },
        "completedTasks": {
[...]
