{
  "discoveryVersion": "v1",
  "version": "v1beta1",
  "documentationLink": "https://cloud.google.com/dataform/docs",
  "name": "dataform",
  "parameters": {
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response.",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    }
  },
  "id": "dataform:v1beta1",
  "ownerName": "Google",
  "mtlsRootUrl": "https://dataform.mtls.googleapis.com/",
  "revision": "20260802",
  "endpoints": [
    {
      "location": "africa-south1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataform.africa-south1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dataform.asia-east1.rep.googleapis.com/",
      "location": "asia-east1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataform.asia-east2.rep.googleapis.com/",
      "location": "asia-east2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataform.asia-northeast1.rep.googleapis.com/",
      "location": "asia-northeast1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataform.asia-northeast2.rep.googleapis.com/",
      "location": "asia-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataform.asia-northeast3.rep.googleapis.com/",
      "location": "asia-northeast3",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataform.asia-south1.rep.googleapis.com/",
      "location": "asia-south1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataform.asia-south2.rep.googleapis.com/",
      "location": "asia-south2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataform.asia-southeast1.rep.googleapis.com/",
      "location": "asia-southeast1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataform.asia-southeast2.rep.googleapis.com/",
      "location": "asia-southeast2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataform.australia-southeast1.rep.googleapis.com/",
      "location": "australia-southeast1",
      "description": "Regional Endpoint"
    },
    {
      "location": "australia-southeast2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataform.australia-southeast2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dataform.europe-central2.rep.googleapis.com/",
      "location": "europe-central2",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-north1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataform.europe-north1.rep.googleapis.com/"
    },
    {
      "location": "europe-southwest1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataform.europe-southwest1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dataform.europe-west1.rep.googleapis.com/",
      "location": "europe-west1",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west10",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataform.europe-west10.rep.googleapis.com/"
    },
    {
      "location": "europe-west12",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataform.europe-west12.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dataform.europe-west2.rep.googleapis.com/",
      "location": "europe-west2",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west3",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataform.europe-west3.rep.googleapis.com/"
    },
    {
      "location": "europe-west4",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataform.europe-west4.rep.googleapis.com/"
    },
    {
      "location": "europe-west6",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataform.europe-west6.rep.googleapis.com/"
    },
    {
      "location": "europe-west8",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataform.europe-west8.rep.googleapis.com/"
    },
    {
      "location": "europe-west9",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataform.europe-west9.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dataform.me-central1.rep.googleapis.com/",
      "location": "me-central1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataform.me-central2.rep.googleapis.com/",
      "location": "me-central2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataform.me-west1.rep.googleapis.com/",
      "location": "me-west1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataform.northamerica-northeast1.rep.googleapis.com/",
      "location": "northamerica-northeast1",
      "description": "Regional Endpoint"
    },
    {
      "location": "northamerica-northeast2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataform.northamerica-northeast2.rep.googleapis.com/"
    },
    {
      "location": "southamerica-east1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataform.southamerica-east1.rep.googleapis.com/"
    },
    {
      "location": "southamerica-west1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataform.southamerica-west1.rep.googleapis.com/"
    },
    {
      "location": "us-central1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataform.us-central1.rep.googleapis.com/"
    },
    {
      "location": "us-east1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataform.us-east1.rep.googleapis.com/"
    },
    {
      "location": "us-east4",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataform.us-east4.rep.googleapis.com/"
    },
    {
      "location": "us-east5",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataform.us-east5.rep.googleapis.com/"
    },
    {
      "location": "us-south1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataform.us-south1.rep.googleapis.com/"
    },
    {
      "location": "us-west1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataform.us-west1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dataform.us-west2.rep.googleapis.com/",
      "location": "us-west2",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west3",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataform.us-west3.rep.googleapis.com/"
    },
    {
      "location": "us-west4",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataform.us-west4.rep.googleapis.com/"
    }
  ],
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "description": "Service to develop, version control, and operationalize SQL pipelines in BigQuery.",
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "schemas": {
    "WriteFile": {
      "properties": {
        "contents": {
          "format": "byte",
          "description": "The file's contents.",
          "type": "string"
        }
      },
      "id": "WriteFile",
      "description": "Represents the write file operation (for files added or modified).",
      "type": "object"
    },
    "CommitWorkspaceChangesRequest": {
      "id": "CommitWorkspaceChangesRequest",
      "description": "`CommitWorkspaceChanges` request message.",
      "type": "object",
      "properties": {
        "commitMessage": {
          "description": "Optional. The commit's message.",
          "type": "string"
        },
        "paths": {
          "description": "Optional. Full file paths to commit including filename, rooted at workspace root. If left empty, all files will be committed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "author": {
          "description": "Required. The commit's author.",
          "$ref": "CommitAuthor"
        }
      }
    },
    "PolicyName": {
      "id": "PolicyName",
      "description": "An internal name for an IAM policy, based on the resource to which the policy applies. Not to be confused with a resource's external full resource name. For more information on this distinction, see go/iam-full-resource-names.",
      "type": "object",
      "properties": {
        "type": {
          "description": "Resource type. Types are defined in IAM's .service files. Valid values for type might be 'storage_buckets', 'compute_instances', 'resourcemanager_customers', 'billing_accounts', etc.",
          "type": "string"
        },
        "id": {
          "description": "Identifies an instance of the type. ID format varies by type. The ID format is defined in the IAM .service file that defines the type, either in path_mapping or in a comment.",
          "type": "string"
        },
        "region": {
          "description": "For Cloud IAM: The location of the Policy. Must be empty or \"global\" for Policies owned by global IAM. Must name a region from prodspec/cloud-iam-cloudspec for Regional IAM Policies, see go/iam-faq#where-is-iam-currently-deployed. For Local IAM: This field should be set to \"local\".",
          "type": "string"
        }
      }
    },
    "Workspace": {
      "id": "Workspace",
      "description": "Represents a Dataform Git workspace.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The workspace's name.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp of when the workspace was created.",
          "readOnly": true,
          "type": "string"
        },
        "dataEncryptionState": {
          "$ref": "DataEncryptionState",
          "description": "Output only. A data encryption state of a Git repository if this Workspace is protected by a KMS key.",
          "readOnly": true
        },
        "disableMoves": {
          "description": "Optional. If set to true, workspaces will not be moved if its linked Repository is moved. Instead, it will be deleted.",
          "type": "boolean"
        },
        "internalMetadata": {
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "readOnly": true,
          "type": "string"
        },
        "privateResourceMetadata": {
          "description": "Output only. Metadata indicating whether this resource is user-scoped. For `Workspace` resources, the `user_scoped` field is always `true`.",
          "readOnly": true,
          "$ref": "PrivateResourceMetadata"
        }
      }
    },
    "TableUpdateTrigger": {
      "id": "TableUpdateTrigger",
      "description": "Represents a table update trigger configuration.",
      "type": "object",
      "properties": {
        "triggerUpdateTime": {
          "format": "google-datetime",
          "description": "Output only. The modification time of this table that resulted in an invocation of the workflow. This would be updated by the triggering service after a successful workflow invocation.",
          "readOnly": true,
          "type": "string"
        },
        "table": {
          "description": "The target table to trigger the workflow.",
          "$ref": "Target"
        }
      }
    },
    "Policy": {
      "id": "Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "type": "object",
      "properties": {
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string",
          "format": "byte"
        },
        "version": {
          "format": "int32",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer"
        },
        "bindings": {
          "items": {
            "$ref": "Binding"
          },
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "type": "array"
        }
      }
    },
    "TeamFolderSearchResult": {
      "properties": {
        "teamFolder": {
          "description": "A TeamFolder resource that is in the project / location.",
          "$ref": "TeamFolder"
        }
      },
      "id": "TeamFolderSearchResult",
      "description": "Represents a single content entry.",
      "type": "object"
    },
    "FetchFileGitStatusesResponse": {
      "id": "FetchFileGitStatusesResponse",
      "description": "`FetchFileGitStatuses` response message.",
      "type": "object",
      "properties": {
        "uncommittedFileChanges": {
          "items": {
            "$ref": "UncommittedFileChange"
          },
          "description": "A list of all files which have uncommitted Git changes. There will only be a single entry for any given file.",
          "type": "array"
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {}
    },
    "Declaration": {
      "properties": {
        "relationDescriptor": {
          "description": "Descriptor for the relation and its columns. Used as documentation only, i.e. values here will result in no changes to the relation's metadata.",
          "$ref": "RelationDescriptor"
        }
      },
      "id": "Declaration",
      "description": "Represents a relation which is not managed by Dataform but which may be referenced by Dataform actions.",
      "type": "object"
    },
    "Expr": {
      "properties": {
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        }
      },
      "id": "Expr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object"
    },
    "QueryDirectoryContentsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "directoryEntries": {
          "description": "List of entries in the directory.",
          "type": "array",
          "items": {
            "$ref": "DirectoryEntry"
          }
        }
      },
      "id": "QueryDirectoryContentsResponse",
      "description": "`QueryDirectoryContents` response message.",
      "type": "object"
    },
    "QueryTeamFolderContentsResponse": {
      "id": "QueryTeamFolderContentsResponse",
      "description": "`QueryTeamFolderContents` response message.",
      "type": "object",
      "properties": {
        "entries": {
          "description": "List of entries in the TeamFolder.",
          "type": "array",
          "items": {
            "$ref": "TeamFolderContentsEntry"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "MakeDirectoryRequest": {
      "properties": {
        "path": {
          "description": "Required. The directory's full path including directory name, relative to the workspace root.",
          "type": "string"
        }
      },
      "id": "MakeDirectoryRequest",
      "description": "`MakeDirectory` request message.",
      "type": "object"
    },
    "GitRemoteSettings": {
      "properties": {
        "effectiveDefaultBranch": {
          "description": "Output only. The Git remote's effective default branch name. This is the default branch name of the Git remote if it is set, otherwise it is `main`.",
          "readOnly": true,
          "type": "string"
        },
        "sshAuthenticationConfig": {
          "description": "Optional. Authentication fields for remote uris using SSH protocol.",
          "$ref": "SshAuthenticationConfig"
        },
        "tokenStatus": {
          "deprecated": true,
          "enum": [
            "TOKEN_STATUS_UNSPECIFIED",
            "NOT_FOUND",
            "INVALID",
            "VALID"
          ],
          "description": "Output only. Deprecated: The field does not contain any token status information. Instead use https://cloud.google.com/dataform/reference/rest/v1beta1/projects.locations.repositories/computeAccessTokenStatus",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The token could not be found in Secret Manager (or the Dataform Service Account did not have permission to access it).",
            "The token could not be used to authenticate against the Git remote.",
            "The token was used successfully to authenticate against the Git remote."
          ]
        },
        "gitRepositoryLink": {
          "description": "Optional. Resource name for the `GitRepositoryLink` used for machine credentials. Must be in the format `projects/*/locations/*/connections/*/gitRepositoryLinks/*`",
          "type": "string"
        },
        "defaultBranch": {
          "description": "Optional. The Git remote's default branch name. If not set, `main` will be used.",
          "type": "string"
        },
        "url": {
          "description": "Required. The Git remote's URL.",
          "type": "string"
        },
        "authenticationTokenSecretVersion": {
          "description": "Optional. The name of the Secret Manager secret version to use as an authentication token for Git operations. Must be in the format `projects/*/secrets/*/versions/*`.",
          "type": "string"
        }
      },
      "id": "GitRemoteSettings",
      "description": "Controls Git remote configuration for a repository.",
      "type": "object"
    },
    "CommitMetadata": {
      "id": "CommitMetadata",
      "description": "Represents a Dataform Git commit.",
      "type": "object",
      "properties": {
        "commitMessage": {
          "description": "Optional. The commit's message.",
          "type": "string"
        },
        "author": {
          "description": "Required. The commit's author.",
          "$ref": "CommitAuthor"
        }
      }
    },
    "TeamFolder": {
      "id": "TeamFolder",
      "description": "Represents a Dataform TeamFolder. This is a resource that sits at the project level and is used to organize Repositories and Folders with hierarchical access controls. They provide a team context and stricter access controls.",
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp of when the TeamFolder was created.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Identifier. The TeamFolder's name.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp of when the TeamFolder was last updated.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Required. The TeamFolder's user-friendly name.",
          "type": "string"
        },
        "internalMetadata": {
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "readOnly": true,
          "type": "string"
        },
        "creatorIamPrincipal": {
          "description": "Output only. The IAM principal identifier of the creator of the TeamFolder.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "LoadConfig": {
      "properties": {
        "append": {
          "description": "Append into destination table",
          "$ref": "SimpleLoadMode"
        },
        "unique": {
          "description": "Insert records where the value of a column is not already present in the destination table",
          "$ref": "IncrementalLoadMode"
        },
        "maximum": {
          "description": "Insert records where the value exceeds the previous maximum value for a column in the destination table",
          "$ref": "IncrementalLoadMode"
        },
        "replace": {
          "description": "Replace destination table",
          "$ref": "SimpleLoadMode"
        }
      },
      "id": "LoadConfig",
      "description": "Simplified load configuration for actions",
      "type": "object"
    },
    "Config": {
      "id": "Config",
      "description": "Config for all repositories in a given project and location.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The config name.",
          "type": "string"
        },
        "internalMetadata": {
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "readOnly": true,
          "type": "string"
        },
        "defaultKmsKeyName": {
          "description": "Optional. The default KMS key that is used if no encryption key is provided when a repository is created.",
          "type": "string"
        }
      }
    },
    "CancelWorkflowInvocationResponse": {
      "id": "CancelWorkflowInvocationResponse",
      "description": "`CancelWorkflowInvocation` response message.",
      "type": "object",
      "properties": {}
    },
    "ListWorkflowInvocationsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations which could not be reached.",
          "type": "array"
        },
        "workflowInvocations": {
          "items": {
            "$ref": "WorkflowInvocation"
          },
          "description": "List of workflow invocations.",
          "type": "array"
        }
      },
      "id": "ListWorkflowInvocationsResponse",
      "description": "`ListWorkflowInvocations` response message.",
      "type": "object"
    },
    "Assertion": {
      "properties": {
        "disabled": {
          "description": "Whether this action is disabled (i.e. should not be run).",
          "type": "boolean"
        },
        "selectQuery": {
          "description": "The SELECT query which must return zero rows in order for this assertion to succeed.",
          "type": "string"
        },
        "dependencyTargets": {
          "items": {
            "$ref": "Target"
          },
          "description": "A list of actions that this action depends on.",
          "type": "array"
        },
        "parentAction": {
          "description": "The parent action of this assertion. Only set if this assertion was automatically generated.",
          "$ref": "Target"
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "description": "Arbitrary, user-defined tags on this action.",
          "type": "array"
        },
        "relationDescriptor": {
          "description": "Descriptor for the assertion's automatically-generated view and its columns.",
          "$ref": "RelationDescriptor"
        }
      },
      "id": "Assertion",
      "description": "Represents an assertion upon a SQL query which is required return zero rows.",
      "type": "object"
    },
    "ComputeRepositoryAccessTokenStatusResponse": {
      "properties": {
        "tokenStatus": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The token could not be found in Secret Manager (or the Dataform Service Account did not have permission to access it).",
            "The token could not be used to authenticate against the Git remote.",
            "The token was used successfully to authenticate against the Git remote.",
            "The token is not accessible due to permission issues."
          ],
          "enum": [
            "TOKEN_STATUS_UNSPECIFIED",
            "NOT_FOUND",
            "INVALID",
            "VALID",
            "PERMISSION_DENIED"
          ],
          "description": "Indicates the status of the Git access token.",
          "type": "string"
        }
      },
      "id": "ComputeRepositoryAccessTokenStatusResponse",
      "description": "`ComputeRepositoryAccessTokenStatus` response message.",
      "type": "object"
    },
    "ReadFileResponse": {
      "properties": {
        "fileContents": {
          "description": "The file's contents.",
          "type": "string",
          "format": "byte"
        }
      },
      "id": "ReadFileResponse",
      "description": "`ReadFile` response message.",
      "type": "object"
    },
    "WorkflowTriggerConfig": {
      "properties": {
        "condition": {
          "enumDescriptions": [
            "If CONDITION_UNSPECIFIED, the default value is ANY.",
            "If ALL, all the trigger config conditions must be met before a workflow is invoked.",
            "If ANY, at least one of the trigger config conditions must be met before a workflow is invoked."
          ],
          "enum": [
            "CONDITION_UNSPECIFIED",
            "ALL",
            "ANY"
          ],
          "description": "Optional. The condition to use when triggering the workflow.",
          "type": "string"
        },
        "maxWaitDuration": {
          "format": "google-duration",
          "description": "Optional. The effective maximum wait time duration for the trigger condition to be met. If not specified, the workflow won't be triggered until conditions are met.",
          "type": "string"
        },
        "minExecutionDuration": {
          "description": "Optional. Minimum duration between two consecutive executions. If not specified, the workflow will be executed every time trigger conditions are met and there is no ongoing workflow execution.",
          "type": "string",
          "format": "google-duration"
        },
        "recentTriggerEvaluationRecords": {
          "description": "Output only. Records of the 10 most recent trigger evaluations, ordered in descending order of `evaluation_time`. Updated whenever the service evaluates the trigger conditions (via polling or upon receiving a push event).",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "TriggerEvaluationRecord"
          }
        },
        "lastSuccessfulEvaluationTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp of the last successful trigger evaluation.",
          "readOnly": true,
          "type": "string"
        },
        "workflowTriggers": {
          "description": "Required. The trigger definitions to invoke a workflow.",
          "type": "array",
          "items": {
            "$ref": "WorkflowTrigger"
          }
        }
      },
      "id": "WorkflowTriggerConfig",
      "description": "Represents a trigger configuration for a workflow.",
      "type": "object"
    },
    "CompilationError": {
      "id": "CompilationError",
      "description": "An error encountered when attempting to compile a Dataform project.",
      "type": "object",
      "properties": {
        "message": {
          "description": "Output only. The error's top level message.",
          "readOnly": true,
          "type": "string"
        },
        "stack": {
          "description": "Output only. The error's full stack trace.",
          "readOnly": true,
          "type": "string"
        },
        "actionTarget": {
          "description": "Output only. The identifier of the action where this error occurred, if available.",
          "readOnly": true,
          "$ref": "Target"
        },
        "path": {
          "description": "Output only. The path of the file where this error occurred, if available, relative to the project root.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "FilesystemEntryMetadata": {
      "id": "FilesystemEntryMetadata",
      "description": "Represents metadata for a single entry in a filesystem.",
      "type": "object",
      "properties": {
        "sizeBytes": {
          "description": "Output only. Provides the size of the entry in bytes. For directories, this will be 0.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "updateTime": {
          "description": "Output only. Represents the time of the last modification of the entry.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "ActionSqlDefinition": {
      "id": "ActionSqlDefinition",
      "description": "Definition of a SQL Data Preparation",
      "type": "object",
      "properties": {
        "query": {
          "description": "The SQL query representing the data preparation steps. Formatted as a Pipe SQL query statement.",
          "type": "string"
        },
        "loadConfig": {
          "description": "Load configuration.",
          "$ref": "ActionLoadConfig"
        },
        "errorTable": {
          "description": "Error table configuration,",
          "$ref": "ActionErrorTable"
        }
      }
    },
    "InstallNpmPackagesResponse": {
      "properties": {},
      "id": "InstallNpmPackagesResponse",
      "description": "`InstallNpmPackages` response message.",
      "type": "object"
    },
    "Folder": {
      "id": "Folder",
      "description": "Represents a Dataform Folder. This is a resource that is used to organize Files and other Folders and provide hierarchical access controls.",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Output only. The timestamp of when the Folder was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "Identifier. The Folder's name.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. The Folder's user-friendly name.",
          "type": "string"
        },
        "teamFolderName": {
          "description": "Output only. The resource name of the TeamFolder that this Folder is associated with. This should take the format: projects/{project}/locations/{location}/teamFolders/{teamFolder}. If this is not set, the Folder is not associated with a TeamFolder and is a UserFolder.",
          "readOnly": true,
          "type": "string"
        },
        "internalMetadata": {
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "readOnly": true,
          "type": "string"
        },
        "creatorIamPrincipal": {
          "description": "Output only. The IAM principal identifier of the creator of the Folder.",
          "readOnly": true,
          "type": "string"
        },
        "containingFolder": {
          "description": "Optional. The containing Folder resource name. This should take the format: projects/{project}/locations/{location}/folders/{folder}, projects/{project}/locations/{location}/teamFolders/{teamFolder}, or just \"\" if this is a root Folder. This field can only be updated through MoveFolder.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp of when the Folder was last updated.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "CommitRepositoryChangesRequest": {
      "id": "CommitRepositoryChangesRequest",
      "description": "`CommitRepositoryChanges` request message.",
      "type": "object",
      "properties": {
        "requiredHeadCommitSha": {
          "description": "Optional. The commit SHA which must be the repository's current HEAD before applying this commit; otherwise this request will fail. If unset, no validation on the current HEAD commit SHA is performed.",
          "type": "string"
        },
        "fileOperations": {
          "additionalProperties": {
            "$ref": "FileOperation"
          },
          "description": "Optional. A map to the path of the file to the operation. The path is the full file path including filename, from repository root.",
          "type": "object"
        },
        "commitMetadata": {
          "description": "Required. The changes to commit to the repository.",
          "$ref": "CommitMetadata"
        }
      }
    },
    "ActionErrorTable": {
      "id": "ActionErrorTable",
      "description": "Error table information, used to write error data into a BigQuery table.",
      "type": "object",
      "properties": {
        "target": {
          "description": "Error Table target.",
          "$ref": "Target"
        },
        "retentionDays": {
          "format": "int32",
          "description": "Error table partition expiration in days. Only positive values are allowed.",
          "type": "integer"
        }
      }
    },
    "FetchRemoteBranchesResponse": {
      "properties": {
        "branches": {
          "items": {
            "type": "string"
          },
          "description": "The remote repository's branch names.",
          "type": "array"
        }
      },
      "id": "FetchRemoteBranchesResponse",
      "description": "`FetchRemoteBranches` response message.",
      "type": "object"
    },
    "MoveDirectoryResponse": {
      "id": "MoveDirectoryResponse",
      "description": "`MoveDirectory` response message.",
      "type": "object",
      "properties": {}
    },
    "WorkspaceCompilationOverrides": {
      "id": "WorkspaceCompilationOverrides",
      "description": "Configures workspace compilation overrides for a repository. Primarily used by the UI (`console.cloud.google.com`). `schema_suffix` and `table_prefix` can have a special expression - `${workspaceName}`, which refers to the workspace name from which the compilation results will be created. API callers are expected to resolve the expression in these overrides and provide them explicitly in `code_compilation_config` (https://cloud.google.com/dataform/reference/rest/v1beta1/projects.locations.repositories.compilationResults#codecompilationconfig) when creating workspace-scoped compilation results.",
      "type": "object",
      "properties": {
        "defaultDatabase": {
          "description": "Optional. The default database (Google Cloud project ID).",
          "type": "string"
        },
        "schemaSuffix": {
          "description": "Optional. The suffix that should be appended to all schema (BigQuery dataset ID) names.",
          "type": "string"
        },
        "tablePrefix": {
          "description": "Optional. The prefix that should be prepended to all table names.",
          "type": "string"
        }
      }
    },
    "RootContentsEntry": {
      "id": "RootContentsEntry",
      "description": "Represents a single content entry.",
      "type": "object",
      "properties": {
        "folder": {
          "description": "A subfolder.",
          "$ref": "Folder"
        },
        "repository": {
          "description": "A repository.",
          "$ref": "Repository"
        }
      }
    },
    "ReleaseConfig": {
      "properties": {
        "gitCommitish": {
          "description": "Required. Git commit/tag/branch name at which the repository should be compiled. Must exist in the remote repository. Examples: - a commit SHA: `12ade345` - a tag: `tag1` - a branch name: `branch1`",
          "type": "string"
        },
        "recentScheduledReleaseRecords": {
          "description": "Output only. Records of the 10 most recent scheduled release attempts, ordered in descending order of `release_time`. Updated whenever automatic creation of a compilation result is triggered by cron_schedule.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "ScheduledReleaseRecord"
          }
        },
        "timeZone": {
          "description": "Optional. Specifies the time zone to be used when interpreting cron_schedule. Must be a time zone name from the [time zone database](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones). If left unspecified, the default is `UTC`.",
          "type": "string"
        },
        "codeCompilationConfig": {
          "description": "Optional. If set, fields of `code_compilation_config` override the default compilation settings that are specified in dataform.json.",
          "$ref": "CodeCompilationConfig"
        },
        "releaseCompilationResult": {
          "description": "Optional. The name of the currently released compilation result for this release config. This value is updated when a compilation result is automatically created from this release config (using cron_schedule), or when this resource is updated by API call (perhaps to roll back to an earlier release). The compilation result must have been created using this release config. Must be in the format `projects/*/locations/*/repositories/*/compilationResults/*`.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The release config's name.",
          "type": "string"
        },
        "cronSchedule": {
          "description": "Optional. Optional schedule (in cron format) for automatic creation of compilation results.",
          "type": "string"
        },
        "internalMetadata": {
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "readOnly": true,
          "type": "string"
        },
        "disabled": {
          "description": "Optional. Disables automatic creation of compilation results.",
          "type": "boolean"
        }
      },
      "id": "ReleaseConfig",
      "description": "Represents a Dataform release configuration.",
      "type": "object"
    },
    "ErrorTable": {
      "properties": {
        "target": {
          "description": "Error Table target.",
          "$ref": "Target"
        },
        "retentionDays": {
          "format": "int32",
          "description": "Error table partition expiration in days. Only positive values are allowed.",
          "type": "integer"
        }
      },
      "id": "ErrorTable",
      "description": "Error table information, used to write error data into a BigQuery table.",
      "type": "object"
    },
    "FileSearchResult": {
      "properties": {
        "path": {
          "description": "File system path relative to the workspace root.",
          "type": "string"
        }
      },
      "id": "FileSearchResult",
      "description": "Client-facing representation of a file entry in search results.",
      "type": "object"
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "statusDetail": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "cancelRequested": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "QueryRepositoryDirectoryContentsResponse": {
      "properties": {
        "directoryEntries": {
          "description": "List of entries in the directory.",
          "type": "array",
          "items": {
            "$ref": "DirectoryEntry"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "QueryRepositoryDirectoryContentsResponse",
      "description": "`QueryRepositoryDirectoryContents` response message.",
      "type": "object"
    },
    "CommitRepositoryChangesResponse": {
      "properties": {
        "commitSha": {
          "description": "The commit SHA of the current commit.",
          "type": "string"
        }
      },
      "id": "CommitRepositoryChangesResponse",
      "description": "`CommitRepositoryChanges` response message.",
      "type": "object"
    },
    "FetchGitAheadBehindResponse": {
      "properties": {
        "commitsAhead": {
          "format": "int32",
          "description": "The number of commits in the remote branch that are not in the workspace.",
          "type": "integer"
        },
        "commitsBehind": {
          "description": "The number of commits in the workspace that are not in the remote branch.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "FetchGitAheadBehindResponse",
      "description": "`FetchGitAheadBehind` response message.",
      "type": "object"
    },
    "SearchFilesResponse": {
      "id": "SearchFilesResponse",
      "description": "Client-facing representation of a file search response.",
      "type": "object",
      "properties": {
        "searchResults": {
          "items": {
            "$ref": "SearchResult"
          },
          "description": "List of matched results.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Optional. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "FetchRepositoryHistoryResponse": {
      "properties": {
        "commits": {
          "description": "A list of commit logs, ordered by 'git log' default order.",
          "type": "array",
          "items": {
            "$ref": "CommitLogEntry"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "FetchRepositoryHistoryResponse",
      "description": "`FetchRepositoryHistory` response message.",
      "type": "object"
    },
    "SetIamPolicyRequest": {
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        }
      },
      "id": "SetIamPolicyRequest",
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object"
    },
    "QueryUserRootContentsResponse": {
      "id": "QueryUserRootContentsResponse",
      "description": "`QueryUserRootContents` response message.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "entries": {
          "items": {
            "$ref": "RootContentsEntry"
          },
          "description": "List of entries in the folder.",
          "type": "array"
        }
      }
    },
    "DataEncryptionState": {
      "id": "DataEncryptionState",
      "description": "Describes encryption state of a resource.",
      "type": "object",
      "properties": {
        "kmsKeyVersionName": {
          "description": "Required. The KMS key version name with which data of a resource is encrypted.",
          "type": "string"
        }
      }
    },
    "CancelWorkflowInvocationRequest": {
      "id": "CancelWorkflowInvocationRequest",
      "description": "`CancelWorkflowInvocation` request message.",
      "type": "object",
      "properties": {}
    },
    "Notebook": {
      "properties": {
        "tags": {
          "description": "Arbitrary, user-defined tags on this action.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "disabled": {
          "description": "Whether this action is disabled (i.e. should not be run).",
          "type": "boolean"
        },
        "dependencyTargets": {
          "items": {
            "$ref": "Target"
          },
          "description": "A list of actions that this action depends on.",
          "type": "array"
        },
        "contents": {
          "description": "The contents of the notebook.",
          "type": "string"
        }
      },
      "id": "Notebook",
      "description": "Represents a notebook.",
      "type": "object"
    },
    "IncrementalLoadMode": {
      "properties": {
        "column": {
          "description": "Column name for incremental load modes",
          "type": "string"
        }
      },
      "id": "IncrementalLoadMode",
      "description": "Load definition for incremental load modes",
      "type": "object"
    },
    "DeleteFolderTreeRequest": {
      "id": "DeleteFolderTreeRequest",
      "description": "`DeleteFolderTree` request message.",
      "type": "object",
      "properties": {
        "force": {
          "description": "Optional. If `false` (default): The operation will fail if any Repository within the folder hierarchy has associated Release Configs or Workflow Configs. If `true`: The operation will attempt to delete everything, including any Release Configs and Workflow Configs linked to Repositories within the folder hierarchy. This permanently removes schedules and resources.",
          "type": "boolean"
        }
      }
    },
    "DeleteFile": {
      "id": "DeleteFile",
      "description": "Represents the delete file operation.",
      "type": "object",
      "properties": {}
    },
    "MakeDirectoryResponse": {
      "id": "MakeDirectoryResponse",
      "description": "`MakeDirectory` response message.",
      "type": "object",
      "properties": {}
    },
    "ActionLoadConfig": {
      "id": "ActionLoadConfig",
      "description": "Simplified load configuration for actions",
      "type": "object",
      "properties": {
        "unique": {
          "description": "Insert records where the value of a column is not already present in the destination table",
          "$ref": "ActionIncrementalLoadMode"
        },
        "append": {
          "description": "Append into destination table",
          "$ref": "ActionSimpleLoadMode"
        },
        "replace": {
          "description": "Replace destination table",
          "$ref": "ActionSimpleLoadMode"
        },
        "maximum": {
          "description": "Insert records where the value exceeds the previous maximum value for a column in the destination table",
          "$ref": "ActionIncrementalLoadMode"
        }
      }
    },
    "ReadRepositoryFileResponse": {
      "id": "ReadRepositoryFileResponse",
      "description": "`ReadRepositoryFile` response message.",
      "type": "object",
      "properties": {
        "contents": {
          "format": "byte",
          "description": "The file's contents.",
          "type": "string"
        }
      }
    },
    "WriteFileRequest": {
      "properties": {
        "contents": {
          "format": "byte",
          "description": "Required. The file's contents.",
          "type": "string"
        },
        "path": {
          "description": "Required. The file.",
          "type": "string"
        }
      },
      "id": "WriteFileRequest",
      "description": "`WriteFile` request message.",
      "type": "object"
    },
    "GcsRepositorySnapshotMetadata": {
      "id": "GcsRepositorySnapshotMetadata",
      "description": "Metadata about a repository snapshot stored in Google Cloud Storage.",
      "type": "object",
      "properties": {
        "repositorySnapshotUri": {
          "description": "Output only. The Google Cloud Storage URI of the repository snapshot.",
          "readOnly": true,
          "type": "string"
        },
        "generation": {
          "description": "Output only. The generation number of the Cloud Storage object. See https://cloud.google.com/storage/docs/metadata#generation-number.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "crc32cChecksum": {
          "description": "Output only. The crc32c checksum of the repository snapshot, big-endian base64 encoded.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "SearchResult": {
      "id": "SearchResult",
      "description": "Client-facing representation of a search result entry.",
      "type": "object",
      "properties": {
        "directory": {
          "description": "Details when search result is a directory.",
          "$ref": "DirectorySearchResult"
        },
        "file": {
          "description": "Details when search result is a file.",
          "$ref": "FileSearchResult"
        }
      }
    },
    "FolderContentsEntry": {
      "properties": {
        "folder": {
          "description": "A subfolder.",
          "$ref": "Folder"
        },
        "repository": {
          "description": "A repository.",
          "$ref": "Repository"
        }
      },
      "id": "FolderContentsEntry",
      "description": "Represents a single content entry.",
      "type": "object"
    },
    "RemoveFileRequest": {
      "id": "RemoveFileRequest",
      "description": "`RemoveFile` request message.",
      "type": "object",
      "properties": {
        "path": {
          "description": "Required. The file's full path including filename, relative to the workspace root.",
          "type": "string"
        }
      }
    },
    "UncommittedFileChange": {
      "id": "UncommittedFileChange",
      "description": "Represents the Git state of a file with uncommitted changes.",
      "type": "object",
      "properties": {
        "path": {
          "description": "The file's full path including filename, relative to the workspace root.",
          "type": "string"
        },
        "state": {
          "description": "Output only. Indicates the status of the file.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The file has been newly added.",
            "The file has been deleted.",
            "The file has been modified.",
            "The file contains merge conflicts."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "MODIFIED",
            "HAS_CONFLICTS"
          ]
        }
      }
    },
    "Operations": {
      "id": "Operations",
      "description": "Represents a list of arbitrary database operations.",
      "type": "object",
      "properties": {
        "relationDescriptor": {
          "description": "Descriptor for any output relation and its columns. Only set if `has_output` is true.",
          "$ref": "RelationDescriptor"
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "description": "Arbitrary, user-defined tags on this action.",
          "type": "array"
        },
        "hasOutput": {
          "description": "Whether these operations produce an output relation.",
          "type": "boolean"
        },
        "dependencyTargets": {
          "items": {
            "$ref": "Target"
          },
          "description": "A list of actions that this action depends on.",
          "type": "array"
        },
        "queries": {
          "description": "A list of arbitrary SQL statements that will be executed without alteration.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "disabled": {
          "description": "Whether this action is disabled (i.e. should not be run).",
          "type": "boolean"
        }
      }
    },
    "Location": {
      "properties": {
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        }
      },
      "id": "Location",
      "description": "A resource that represents a Google Cloud location.",
      "type": "object"
    },
    "SqlDefinition": {
      "id": "SqlDefinition",
      "description": "Definition of a SQL Data Preparation",
      "type": "object",
      "properties": {
        "load": {
          "description": "Load configuration.",
          "$ref": "LoadConfig"
        },
        "errorTable": {
          "description": "Error table configuration,",
          "$ref": "ErrorTable"
        },
        "query": {
          "description": "The SQL query representing the data preparation steps. Formatted as a Pipe SQL query statement.",
          "type": "string"
        }
      }
    },
    "CompilationResultAction": {
      "properties": {
        "assertion": {
          "description": "The assertion executed by this action.",
          "$ref": "Assertion"
        },
        "operations": {
          "description": "The database operations executed by this action.",
          "$ref": "Operations"
        },
        "notebook": {
          "description": "The notebook executed by this action.",
          "$ref": "Notebook"
        },
        "canonicalTarget": {
          "description": "The action's identifier if the project had been compiled without any overrides configured. Unique within the compilation result.",
          "$ref": "Target"
        },
        "relation": {
          "description": "The database relation created/updated by this action.",
          "$ref": "Relation"
        },
        "target": {
          "description": "This action's identifier. Unique within the compilation result.",
          "$ref": "Target"
        },
        "internalMetadata": {
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "readOnly": true,
          "type": "string"
        },
        "declaration": {
          "description": "The declaration declared by this action.",
          "$ref": "Declaration"
        },
        "dataPreparation": {
          "description": "The data preparation executed by this action.",
          "$ref": "DataPreparation"
        },
        "filePath": {
          "description": "The full path including filename in which this action is located, relative to the workspace root.",
          "type": "string"
        }
      },
      "id": "CompilationResultAction",
      "description": "Represents a single Dataform action in a compilation result.",
      "type": "object"
    },
    "MoveDirectoryRequest": {
      "id": "MoveDirectoryRequest",
      "description": "`MoveDirectory` request message.",
      "type": "object",
      "properties": {
        "path": {
          "description": "Required. The directory's full path including directory name, relative to the workspace root.",
          "type": "string"
        },
        "newPath": {
          "description": "Required. The new path for the directory including directory name, rooted at workspace root.",
          "type": "string"
        }
      }
    },
    "ActionSimpleLoadMode": {
      "id": "ActionSimpleLoadMode",
      "description": "Simple load definition",
      "type": "object",
      "properties": {}
    },
    "InvocationConfig": {
      "properties": {
        "includedTargets": {
          "description": "Optional. The set of action identifiers to include.",
          "type": "array",
          "items": {
            "$ref": "Target"
          }
        },
        "queryPriority": {
          "description": "Optional. Specifies the priority for query execution in BigQuery. More information can be found at https://cloud.google.com/bigquery/docs/running-queries#queries.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Query will be executed in BigQuery with interactive priority. More information can be found at https://cloud.google.com/bigquery/docs/running-queries#queries.",
            "Query will be executed in BigQuery with batch priority. More information can be found at https://cloud.google.com/bigquery/docs/running-queries#batchqueries."
          ],
          "enum": [
            "QUERY_PRIORITY_UNSPECIFIED",
            "INTERACTIVE",
            "BATCH"
          ]
        },
        "transitiveDependenciesIncluded": {
          "description": "Optional. When set to true, transitive dependencies of included actions will be executed.",
          "type": "boolean"
        },
        "includedTags": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The set of tags to include.",
          "type": "array"
        },
        "transitiveDependentsIncluded": {
          "description": "Optional. When set to true, transitive dependents of included actions will be executed.",
          "type": "boolean"
        },
        "fullyRefreshIncrementalTablesEnabled": {
          "description": "Optional. When set to true, any incremental tables will be fully refreshed.",
          "type": "boolean"
        },
        "serviceAccount": {
          "description": "Optional. The service account to run workflow invocations under.",
          "type": "string"
        }
      },
      "id": "InvocationConfig",
      "description": "Includes various configuration options for a workflow invocation. If both `included_targets` and `included_tags` are unset, all actions will be included.",
      "type": "object"
    },
    "Binding": {
      "id": "Binding",
      "description": "Associates `members`, or principals, with a `role`.",
      "type": "object",
      "properties": {
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        }
      }
    },
    "ListLocationsResponse": {
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "type": "object"
    },
    "TeamFolderContentsEntry": {
      "properties": {
        "repository": {
          "description": "A repository.",
          "$ref": "Repository"
        },
        "folder": {
          "description": "A subfolder.",
          "$ref": "Folder"
        }
      },
      "id": "TeamFolderContentsEntry",
      "description": "Represents a single content entry.",
      "type": "object"
    },
    "WorkflowInvocation": {
      "id": "WorkflowInvocation",
      "description": "Represents a single invocation of a compilation result.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The workflow invocation's name.",
          "readOnly": true,
          "type": "string"
        },
        "workflowConfig": {
          "description": "Immutable. The name of the workflow config to invoke. Must be in the format `projects/*/locations/*/repositories/*/workflowConfigs/*`.",
          "type": "string"
        },
        "invocationConfig": {
          "description": "Immutable. If left unset, a default InvocationConfig will be used.",
          "$ref": "InvocationConfig"
        },
        "pipelineConfig": {
          "description": "Output only. The pipeline options which defines the pipeline type and path within the Git repository.",
          "readOnly": true,
          "$ref": "PipelineConfig"
        },
        "invocationTiming": {
          "$ref": "Interval",
          "description": "Output only. This workflow invocation's timing details.",
          "readOnly": true
        },
        "privateResourceMetadata": {
          "description": "Output only. Metadata indicating whether this resource is user-scoped. `WorkflowInvocation` resource is `user_scoped` only if it is sourced from a compilation result and the compilation result is user-scoped.",
          "readOnly": true,
          "$ref": "PrivateResourceMetadata"
        },
        "resolvedCompilationResult": {
          "description": "Output only. The resolved compilation result that was used to create this invocation. Will be in the format `projects/*/locations/*/repositories/*/compilationResults/*`.",
          "readOnly": true,
          "type": "string"
        },
        "dataEncryptionState": {
          "description": "Output only. Only set if the repository has a KMS Key.",
          "readOnly": true,
          "$ref": "DataEncryptionState"
        },
        "compilationResult": {
          "description": "Immutable. The name of the compilation result to use for this invocation. Must be in the format `projects/*/locations/*/repositories/*/compilationResults/*`.",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "CANCELLED",
            "FAILED",
            "CANCELING"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The workflow invocation is currently running.",
            "The workflow invocation succeeded. A terminal state.",
            "The workflow invocation was cancelled. A terminal state.",
            "The workflow invocation failed. A terminal state.",
            "The workflow invocation is being cancelled, but some actions are still running."
          ],
          "description": "Output only. This workflow invocation's current state.",
          "readOnly": true,
          "type": "string"
        },
        "internalMetadata": {
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "DeleteRepositoryLongRunningRequest": {
      "id": "DeleteRepositoryLongRunningRequest",
      "description": "`DeleteRepositoryLongRunning` request message.",
      "type": "object",
      "properties": {
        "force": {
          "description": "Optional. If set to true, child resources of this repository (compilation results and workflow invocations) will also be deleted. Otherwise, the request will only succeed if the repository has no child resources. **Note:** *This flag doesn't support deletion of workspaces, release configs or workflow configs. If any of such resources exists in the repository, the request will fail.*",
          "type": "boolean"
        }
      }
    },
    "MoveFileRequest": {
      "properties": {
        "path": {
          "description": "Required. The file's full path including filename, relative to the workspace root.",
          "type": "string"
        },
        "newPath": {
          "description": "Required. The file's new path including filename, relative to the workspace root.",
          "type": "string"
        }
      },
      "id": "MoveFileRequest",
      "description": "`MoveFile` request message.",
      "type": "object"
    },
    "QueryFolderContentsResponse": {
      "properties": {
        "entries": {
          "description": "List of entries in the folder.",
          "type": "array",
          "items": {
            "$ref": "FolderContentsEntry"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "QueryFolderContentsResponse",
      "description": "`QueryFolderContents` response message.",
      "type": "object"
    },
    "ListWorkspacesResponse": {
      "id": "ListWorkspacesResponse",
      "description": "`ListWorkspaces` response message.",
      "type": "object",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations which could not be reached.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "workspaces": {
          "description": "List of workspaces.",
          "type": "array",
          "items": {
            "$ref": "Workspace"
          }
        }
      }
    },
    "ResetWorkspaceChangesResponse": {
      "id": "ResetWorkspaceChangesResponse",
      "description": "`ResetWorkspaceChanges` response message.",
      "type": "object",
      "properties": {}
    },
    "QueryCompilationResultActionsResponse": {
      "properties": {
        "compilationResultActions": {
          "items": {
            "$ref": "CompilationResultAction"
          },
          "description": "List of compilation result actions.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "QueryCompilationResultActionsResponse",
      "description": "`QueryCompilationResultActions` response message.",
      "type": "object"
    },
    "IncrementalTableConfig": {
      "properties": {
        "incrementalSelectQuery": {
          "description": "The SELECT query which returns rows which should be inserted into the relation if it already exists and is not being refreshed.",
          "type": "string"
        },
        "incrementalPreOperations": {
          "items": {
            "type": "string"
          },
          "description": "SQL statements to be executed before inserting new rows into the relation.",
          "type": "array"
        },
        "incrementalPostOperations": {
          "description": "SQL statements to be executed after inserting new rows into the relation.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "updatePartitionFilter": {
          "description": "A SQL expression conditional used to limit the set of existing rows considered for a merge operation (see `unique_key_parts` for more information).",
          "type": "string"
        },
        "uniqueKeyParts": {
          "items": {
            "type": "string"
          },
          "description": "A set of columns or SQL expressions used to define row uniqueness. If any duplicates are discovered (as defined by `unique_key_parts`), only the newly selected rows (as defined by `incremental_select_query`) will be included in the relation.",
          "type": "array"
        },
        "refreshDisabled": {
          "description": "Whether this table should be protected from being refreshed.",
          "type": "boolean"
        }
      },
      "id": "IncrementalTableConfig",
      "description": "Contains settings for relations of type `INCREMENTAL_TABLE`.",
      "type": "object"
    },
    "WorkflowInvocationAction": {
      "id": "WorkflowInvocationAction",
      "description": "Represents a single action in a workflow invocation.",
      "type": "object",
      "properties": {
        "canonicalTarget": {
          "description": "Output only. The action's identifier if the project had been compiled without any overrides configured. Unique within the compilation result.",
          "readOnly": true,
          "$ref": "Target"
        },
        "invocationTiming": {
          "$ref": "Interval",
          "description": "Output only. This action's timing details. `start_time` will be set if the action is in [RUNNING, SUCCEEDED, CANCELLED, FAILED] state. `end_time` will be set if the action is in [SUCCEEDED, CANCELLED, FAILED] state.",
          "readOnly": true
        },
        "failureReason": {
          "description": "Output only. If and only if action's state is FAILED a failure reason is set.",
          "readOnly": true,
          "type": "string"
        },
        "dataPreparationAction": {
          "description": "Output only. The workflow action's data preparation action details.",
          "readOnly": true,
          "$ref": "DataPreparationAction"
        },
        "internalMetadata": {
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "readOnly": true,
          "type": "string"
        },
        "notebookAction": {
          "$ref": "NotebookAction",
          "description": "Output only. The workflow action's notebook action details.",
          "readOnly": true
        },
        "target": {
          "$ref": "Target",
          "description": "Output only. This action's identifier. Unique within the workflow invocation.",
          "readOnly": true
        },
        "state": {
          "enum": [
            "PENDING",
            "RUNNING",
            "SKIPPED",
            "DISABLED",
            "SUCCEEDED",
            "CANCELLED",
            "FAILED"
          ],
          "enumDescriptions": [
            "The action has not yet been considered for invocation.",
            "The action is currently running.",
            "Execution of the action was skipped because upstream dependencies did not all complete successfully. A terminal state.",
            "Execution of the action was disabled as per the configuration of the corresponding compilation result action. A terminal state.",
            "The action succeeded. A terminal state.",
            "The action was cancelled. A terminal state.",
            "The action failed. A terminal state."
          ],
          "description": "Output only. This action's current state.",
          "readOnly": true,
          "type": "string"
        },
        "bigqueryAction": {
          "description": "Output only. The workflow action's bigquery action details.",
          "readOnly": true,
          "$ref": "BigQueryAction"
        }
      }
    },
    "TestIamPermissionsRequest": {
      "id": "TestIamPermissionsRequest",
      "description": "Request message for `TestIamPermissions` method.",
      "type": "object",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array"
        }
      }
    },
    "RemoveDirectoryRequest": {
      "id": "RemoveDirectoryRequest",
      "description": "`RemoveDirectory` request message.",
      "type": "object",
      "properties": {
        "path": {
          "description": "Required. The directory's full path including directory name, relative to the workspace root.",
          "type": "string"
        }
      }
    },
    "ListReleaseConfigsResponse": {
      "id": "ListReleaseConfigsResponse",
      "description": "`ListReleaseConfigs` response message.",
      "type": "object",
      "properties": {
        "releaseConfigs": {
          "description": "List of release configs.",
          "type": "array",
          "items": {
            "$ref": "ReleaseConfig"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations which could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "SimpleLoadMode": {
      "id": "SimpleLoadMode",
      "description": "Simple load definition",
      "type": "object",
      "properties": {}
    },
    "PrivateResourceMetadata": {
      "id": "PrivateResourceMetadata",
      "description": "Metadata used to identify if a resource is user scoped.",
      "type": "object",
      "properties": {
        "userScoped": {
          "description": "Output only. If true, this resource is user-scoped, meaning it is either a workspace or sourced from a workspace.",
          "readOnly": true,
          "type": "boolean"
        }
      }
    },
    "FetchFileDiffResponse": {
      "id": "FetchFileDiffResponse",
      "description": "`FetchFileDiff` response message.",
      "type": "object",
      "properties": {
        "formattedDiff": {
          "description": "The raw formatted Git diff for the file.",
          "type": "string"
        }
      }
    },
    "QueryWorkflowInvocationActionsResponse": {
      "id": "QueryWorkflowInvocationActionsResponse",
      "description": "`QueryWorkflowInvocationActions` response message.",
      "type": "object",
      "properties": {
        "workflowInvocationActions": {
          "items": {
            "$ref": "WorkflowInvocationAction"
          },
          "description": "List of workflow invocation actions.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "CancelOperationRequest": {
      "properties": {},
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "type": "object"
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GcsRepositorySnapshotDestination": {
      "properties": {
        "repositorySnapshotUri": {
          "description": "Optional. The Google Cloud Storage destination to upload the repository snapshot to. Format: `gs://bucket-name/path/`.",
          "type": "string"
        }
      },
      "id": "GcsRepositorySnapshotDestination",
      "description": "Configures the destination for a repository snapshot.",
      "type": "object"
    },
    "DataPreparation": {
      "properties": {
        "disabled": {
          "description": "Whether this action is disabled (i.e. should not be run).",
          "type": "boolean"
        },
        "contentsYaml": {
          "description": "The data preparation definition, stored as a YAML string.",
          "type": "string"
        },
        "contentsSql": {
          "description": "SQL definition for a Data Preparation. Contains a SQL query and additional context information.",
          "$ref": "SqlDefinition"
        },
        "dependencyTargets": {
          "description": "A list of actions that this action depends on.",
          "type": "array",
          "items": {
            "$ref": "Target"
          }
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "description": "Arbitrary, user-defined tags on this action.",
          "type": "array"
        }
      },
      "id": "DataPreparation",
      "description": "Defines a compiled Data Preparation entity",
      "type": "object"
    },
    "Target": {
      "properties": {
        "database": {
          "description": "Optional. The action's database (Google Cloud project ID) .",
          "type": "string"
        },
        "schema": {
          "description": "Optional. The action's schema (BigQuery dataset ID), within `database`.",
          "type": "string"
        },
        "name": {
          "description": "Optional. The action's name, within `database` and `schema`.",
          "type": "string"
        }
      },
      "id": "Target",
      "description": "Represents an action identifier. If the action writes output, the output will be written to the referenced database object.",
      "type": "object"
    },
    "PipelineConfig": {
      "properties": {
        "pipelineType": {
          "description": "Required. The type of the pipeline.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Regular Dataform pipeline.",
            "SQL single file asset.",
            "Notebook single file asset."
          ],
          "enum": [
            "PIPELINE_TYPE_UNSPECIFIED",
            "DATAFORM",
            "SQL",
            "NOTEBOOK"
          ]
        },
        "path": {
          "description": "Required. The relative path within the Git repository where the pipeline is defined. For example, for a Dataform pipeline, it is a path to the folder where `workflow_settings.yaml` or `dataform.json` is located.",
          "type": "string"
        }
      },
      "id": "PipelineConfig",
      "description": "Defines the pipeline type and path within the Git repository.",
      "type": "object"
    },
    "Relation": {
      "properties": {
        "tags": {
          "items": {
            "type": "string"
          },
          "description": "Arbitrary, user-defined tags on this action.",
          "type": "array"
        },
        "postOperations": {
          "description": "SQL statements to be executed after creating the relation.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "partitionExpirationDays": {
          "format": "int32",
          "description": "Sets the partition expiration in days.",
          "type": "integer"
        },
        "incrementalTableConfig": {
          "description": "Configures `INCREMENTAL_TABLE` settings for this relation. Only set if `relation_type` is `INCREMENTAL_TABLE`.",
          "$ref": "IncrementalTableConfig"
        },
        "connection": {
          "description": "Optional. The connection specifying the credentials to be used to read and write to external storage, such as Cloud Storage. The connection can have the form `{project}.{location}.{connection_id}` or `projects/{project}/locations/{location}/connections/{connection_id}`, or be set to DEFAULT.",
          "type": "string"
        },
        "fileFormat": {
          "enumDescriptions": [
            "Default value.",
            "Apache Parquet format."
          ],
          "enum": [
            "FILE_FORMAT_UNSPECIFIED",
            "PARQUET"
          ],
          "description": "Optional. The file format for the BigQuery table.",
          "type": "string"
        },
        "storageUri": {
          "description": "Optional. The fully qualified location prefix of the external folder where table data is stored. The URI should be in the format `gs://bucket/path_to_table/`.",
          "type": "string"
        },
        "clusterExpressions": {
          "items": {
            "type": "string"
          },
          "description": "A list of columns or SQL expressions used to cluster the table.",
          "type": "array"
        },
        "partitionExpression": {
          "description": "The SQL expression used to partition the relation.",
          "type": "string"
        },
        "requirePartitionFilter": {
          "description": "Specifies whether queries on this table must include a predicate filter that filters on the partitioning column.",
          "type": "boolean"
        },
        "disabled": {
          "description": "Whether this action is disabled (i.e. should not be run).",
          "type": "boolean"
        },
        "tableFormat": {
          "enumDescriptions": [
            "Default value.",
            "Apache Iceberg format."
          ],
          "enum": [
            "TABLE_FORMAT_UNSPECIFIED",
            "ICEBERG"
          ],
          "description": "Optional. The table format for the BigQuery table.",
          "type": "string"
        },
        "relationType": {
          "description": "The type of this relation.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The relation is a table.",
            "The relation is a view.",
            "The relation is an incrementalized table.",
            "The relation is a materialized view."
          ],
          "enum": [
            "RELATION_TYPE_UNSPECIFIED",
            "TABLE",
            "VIEW",
            "INCREMENTAL_TABLE",
            "MATERIALIZED_VIEW"
          ]
        },
        "relationDescriptor": {
          "description": "Descriptor for the relation and its columns.",
          "$ref": "RelationDescriptor"
        },
        "preOperations": {
          "description": "SQL statements to be executed before creating the relation.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "dependencyTargets": {
          "description": "A list of actions that this action depends on.",
          "type": "array",
          "items": {
            "$ref": "Target"
          }
        },
        "selectQuery": {
          "description": "The SELECT query which returns rows which this relation should contain.",
          "type": "string"
        },
        "additionalOptions": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Additional options that will be provided as key/value pairs into the options clause of a create table/view statement. See https://cloud.google.com/bigquery/docs/reference/standard-sql/data-definition-language for more information on which options are supported.",
          "type": "object"
        }
[...]
