{
  "name": "dataflow",
  "discoveryVersion": "v1",
  "servicePath": "",
  "ownerDomain": "google.com",
  "description": "Manages Google Cloud Dataflow projects on Google Cloud Platform.",
  "documentationLink": "https://cloud.google.com/dataflow",
  "mtlsRootUrl": "https://dataflow.mtls.googleapis.com/",
  "version": "v1b3",
  "endpoints": [
    {
      "endpointUrl": "https://dataflow.africa-south1.rep.googleapis.com/",
      "location": "africa-south1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.asia-east1.rep.googleapis.com/",
      "location": "asia-east1"
    },
    {
      "endpointUrl": "https://dataflow.asia-east2.rep.googleapis.com/",
      "location": "asia-east2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.asia-northeast1.rep.googleapis.com/",
      "location": "asia-northeast1"
    },
    {
      "endpointUrl": "https://dataflow.asia-northeast2.rep.googleapis.com/",
      "location": "asia-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.asia-northeast3.rep.googleapis.com/",
      "location": "asia-northeast3"
    },
    {
      "endpointUrl": "https://dataflow.asia-south1.rep.googleapis.com/",
      "location": "asia-south1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.asia-south2.rep.googleapis.com/",
      "location": "asia-south2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.asia-southeast1.rep.googleapis.com/",
      "location": "asia-southeast1"
    },
    {
      "endpointUrl": "https://dataflow.asia-southeast2.rep.googleapis.com/",
      "location": "asia-southeast2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.asia-southeast3.rep.googleapis.com/",
      "location": "asia-southeast3",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.australia-southeast1.rep.googleapis.com/",
      "location": "australia-southeast1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.australia-southeast2.rep.googleapis.com/",
      "location": "australia-southeast2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.europe-central2.rep.googleapis.com/",
      "location": "europe-central2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.europe-north1.rep.googleapis.com/",
      "location": "europe-north1"
    },
    {
      "endpointUrl": "https://dataflow.europe-north2.rep.googleapis.com/",
      "location": "europe-north2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.europe-southwest1.rep.googleapis.com/",
      "location": "europe-southwest1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.europe-west1.rep.googleapis.com/",
      "location": "europe-west1"
    },
    {
      "endpointUrl": "https://dataflow.europe-west10.rep.googleapis.com/",
      "location": "europe-west10",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.europe-west12.rep.googleapis.com/",
      "location": "europe-west12",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.europe-west2.rep.googleapis.com/",
      "location": "europe-west2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.europe-west3.rep.googleapis.com/",
      "location": "europe-west3",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.europe-west4.rep.googleapis.com/",
      "location": "europe-west4"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.europe-west6.rep.googleapis.com/",
      "location": "europe-west6"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.europe-west8.rep.googleapis.com/",
      "location": "europe-west8"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.europe-west9.rep.googleapis.com/",
      "location": "europe-west9"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.me-central1.rep.googleapis.com/",
      "location": "me-central1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.me-central2.rep.googleapis.com/",
      "location": "me-central2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.me-west1.rep.googleapis.com/",
      "location": "me-west1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.northamerica-northeast1.rep.googleapis.com/",
      "location": "northamerica-northeast1"
    },
    {
      "endpointUrl": "https://dataflow.northamerica-northeast2.rep.googleapis.com/",
      "location": "northamerica-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.northamerica-south1.rep.googleapis.com/",
      "location": "northamerica-south1"
    },
    {
      "endpointUrl": "https://dataflow.southamerica-east1.rep.googleapis.com/",
      "location": "southamerica-east1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.southamerica-west1.rep.googleapis.com/",
      "location": "southamerica-west1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.us-central1.rep.googleapis.com/",
      "location": "us-central1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.us-central2.rep.googleapis.com/",
      "location": "us-central2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.us-east1.rep.googleapis.com/",
      "location": "us-east1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.us-east4.rep.googleapis.com/",
      "location": "us-east4"
    },
    {
      "endpointUrl": "https://dataflow.us-east5.rep.googleapis.com/",
      "location": "us-east5",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.us-east7.rep.googleapis.com/",
      "location": "us-east7"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.us-south1.rep.googleapis.com/",
      "location": "us-south1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.us-west1.rep.googleapis.com/",
      "location": "us-west1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.us-west2.rep.googleapis.com/",
      "location": "us-west2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.us-west3.rep.googleapis.com/",
      "location": "us-west3"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.us-west4.rep.googleapis.com/",
      "location": "us-west4"
    },
    {
      "endpointUrl": "https://dataflow.us-west8.rep.googleapis.com/",
      "location": "us-west8",
      "description": "Regional Endpoint"
    }
  ],
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/compute": {
          "description": "View and manage your Google Compute Engine resources"
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "resources": {
    "projects": {
      "methods": {
        "workerMessages": {
          "flatPath": "v1b3/projects/{projectId}/WorkerMessages",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute"
          ],
          "path": "v1b3/projects/{projectId}/WorkerMessages",
          "id": "dataflow.projects.workerMessages",
          "description": "Send a worker_message to the service.",
          "parameters": {
            "projectId": {
              "type": "string",
              "description": "The project to send the WorkerMessages to.",
              "required": true,
              "location": "path"
            }
          },
          "parameterOrder": [
            "projectId"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "SendWorkerMessagesRequest"
          },
          "response": {
            "$ref": "SendWorkerMessagesResponse"
          }
        },
        "deleteSnapshots": {
          "httpMethod": "DELETE",
          "response": {
            "$ref": "DeleteSnapshotResponse"
          },
          "path": "v1b3/projects/{projectId}/snapshots",
          "flatPath": "v1b3/projects/{projectId}/snapshots",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute"
          ],
          "parameters": {
            "snapshotId": {
              "location": "query",
              "description": "The ID of the snapshot.",
              "type": "string"
            },
            "projectId": {
              "type": "string",
              "description": "The ID of the Cloud Platform project that the snapshot belongs to.",
              "required": true,
              "location": "path"
            },
            "location": {
              "description": "The location that contains this snapshot.",
              "type": "string",
              "location": "query"
            }
          },
          "id": "dataflow.projects.deleteSnapshots",
          "description": "Deletes a snapshot.",
          "parameterOrder": [
            "projectId"
          ]
        }
      },
      "resources": {
        "jobs": {
          "methods": {
            "create": {
              "request": {
                "$ref": "Job"
              },
              "response": {
                "$ref": "Job"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "projectId"
              ],
              "flatPath": "v1b3/projects/{projectId}/jobs",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "path": "v1b3/projects/{projectId}/jobs",
              "id": "dataflow.projects.jobs.create",
              "description": "Creates a Dataflow job. To create a job, we recommend using `projects.locations.jobs.create` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.create` is not recommended, as your job will always start in `us-central1`. Do not enter confidential information when you supply string values using the API.",
              "parameters": {
                "projectId": {
                  "description": "The ID of the Cloud Platform project that the job belongs to.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "location": {
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                  "type": "string",
                  "location": "query"
                },
                "replaceJobId": {
                  "location": "query",
                  "description": "Deprecated. This field is now in the Job message.",
                  "type": "string"
                },
                "view": {
                  "enum": [
                    "JOB_VIEW_UNKNOWN",
                    "JOB_VIEW_SUMMARY",
                    "JOB_VIEW_ALL",
                    "JOB_VIEW_DESCRIPTION"
                  ],
                  "type": "string",
                  "description": "The level of information requested in response.",
                  "location": "query",
                  "enumDescriptions": [
                    "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                    "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                    "Request all information available for this job. When the job is in `JOB_STATE_PENDING`, the job has been created but is not yet running, and not all job information is available. For complete job information, wait until the job in is `JOB_STATE_RUNNING`. For more information, see [JobState](https://cloud.google.com/dataflow/docs/reference/rest/v1b3/projects.jobs#jobstate).",
                    "Request summary info and limited job description data for steps, labels and environment."
                  ]
                }
              }
            },
            "getMetrics": {
              "parameterOrder": [
                "projectId",
                "jobId"
              ],
              "parameters": {
                "projectId": {
                  "location": "path",
                  "description": "A project id.",
                  "required": true,
                  "type": "string"
                },
                "location": {
                  "type": "string",
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
                  "location": "query"
                },
                "jobId": {
                  "location": "path",
                  "description": "The job to get metrics for.",
                  "required": true,
                  "type": "string"
                },
                "startTime": {
                  "description": "Return only metric data that has changed since this time. Default is to return all information about all metrics for the job.",
                  "type": "string",
                  "location": "query",
                  "format": "google-datetime"
                }
              },
              "id": "dataflow.projects.jobs.getMetrics",
              "description": "Request the job status. To request the status of a job, we recommend using `projects.locations.jobs.getMetrics` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.getMetrics` is not recommended, as you can only request the status of jobs that are running in `us-central1`.",
              "path": "v1b3/projects/{projectId}/jobs/{jobId}/metrics",
              "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/metrics",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "response": {
                "$ref": "JobMetrics"
              },
              "httpMethod": "GET"
            },
            "update": {
              "parameterOrder": [
                "projectId",
                "jobId"
              ],
              "parameters": {
                "projectId": {
                  "location": "path",
                  "description": "The ID of the Cloud Platform project that the job belongs to.",
                  "required": true,
                  "type": "string"
                },
                "location": {
                  "location": "query",
                  "type": "string",
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job."
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string",
                  "description": "The list of fields to update relative to Job. If empty, only RequestedJobState will be considered for update. If the FieldMask is not empty and RequestedJobState is none/empty, The fields specified in the update mask will be the only ones considered for update. If both RequestedJobState and update_mask are specified, an error will be returned as we cannot update both state and mask."
                },
                "jobId": {
                  "location": "path",
                  "type": "string",
                  "description": "The job ID.",
                  "required": true
                }
              },
              "id": "dataflow.projects.jobs.update",
              "description": "Updates the state of an existing Cloud Dataflow job. To update the state of an existing job, we recommend using `projects.locations.jobs.update` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.update` is not recommended, as you can only update the state of jobs that are running in `us-central1`.",
              "path": "v1b3/projects/{projectId}/jobs/{jobId}",
              "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "response": {
                "$ref": "Job"
              },
              "request": {
                "$ref": "Job"
              },
              "httpMethod": "PUT"
            },
            "snapshot": {
              "parameterOrder": [
                "projectId",
                "jobId"
              ],
              "parameters": {
                "jobId": {
                  "location": "path",
                  "description": "The job to be snapshotted.",
                  "required": true,
                  "type": "string"
                },
                "projectId": {
                  "location": "path",
                  "type": "string",
                  "description": "The project which owns the job to be snapshotted.",
                  "required": true
                }
              },
              "id": "dataflow.projects.jobs.snapshot",
              "description": "Snapshot the state of a streaming job.",
              "path": "v1b3/projects/{projectId}/jobs/{jobId}:snapshot",
              "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}:snapshot",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "response": {
                "$ref": "Snapshot"
              },
              "request": {
                "$ref": "SnapshotJobRequest"
              },
              "httpMethod": "POST"
            },
            "list": {
              "httpMethod": "GET",
              "response": {
                "$ref": "ListJobsResponse"
              },
              "parameters": {
                "view": {
                  "enum": [
                    "JOB_VIEW_UNKNOWN",
                    "JOB_VIEW_SUMMARY",
                    "JOB_VIEW_ALL",
                    "JOB_VIEW_DESCRIPTION"
                  ],
                  "description": "Deprecated. ListJobs always returns summaries now. Use GetJob for other JobViews.",
                  "type": "string",
                  "location": "query",
                  "deprecated": true,
                  "enumDescriptions": [
                    "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                    "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                    "Request all information available for this job. When the job is in `JOB_STATE_PENDING`, the job has been created but is not yet running, and not all job information is available. For complete job information, wait until the job in is `JOB_STATE_RUNNING`. For more information, see [JobState](https://cloud.google.com/dataflow/docs/reference/rest/v1b3/projects.jobs#jobstate).",
                    "Request summary info and limited job description data for steps, labels and environment."
                  ]
                },
                "pageSize": {
                  "description": "If there are many jobs, limit response to at most this many. The actual number of jobs returned will be the lesser of max_responses and an unspecified server-defined limit.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "name": {
                  "type": "string",
                  "description": "Optional. The job name.",
                  "location": "query"
                },
                "filter": {
                  "enum": [
                    "UNKNOWN",
                    "ALL",
                    "TERMINATED",
                    "ACTIVE"
                  ],
                  "description": "The kind of filter to use.",
                  "type": "string",
                  "location": "query",
                  "enumDescriptions": [
                    "The filter isn't specified, or is unknown. This returns all jobs ordered on descending `JobUuid`.",
                    "Returns all running jobs first ordered on creation timestamp, then returns all terminated jobs ordered on the termination timestamp.",
                    "Filters the jobs that have a terminated state, ordered on the termination timestamp. Example terminated states: `JOB_STATE_STOPPED`, `JOB_STATE_UPDATED`, `JOB_STATE_DRAINED`, etc.",
                    "Filters the jobs that are running ordered on the creation timestamp."
                  ]
                },
                "projectId": {
                  "location": "path",
                  "description": "The project which owns the jobs.",
                  "required": true,
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Set this to the 'next_page_token' field of a previous response to request additional results in a long list.",
                  "location": "query"
                },
                "location": {
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                  "type": "string",
                  "location": "query"
                }
              },
              "id": "dataflow.projects.jobs.list",
              "description": "List the jobs of a project. To list the jobs of a project in a region, we recommend using `projects.locations.jobs.list` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). To list the all jobs across all regions, use `projects.jobs.aggregated`. Using `projects.jobs.list` is not recommended, because you can only get the list of jobs that are running in `us-central1`. `projects.locations.jobs.list` and `projects.jobs.list` support filtering the list of jobs by name. Filtering by name isn't supported by `projects.jobs.aggregated`.",
              "path": "v1b3/projects/{projectId}/jobs",
              "flatPath": "v1b3/projects/{projectId}/jobs",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "parameterOrder": [
                "projectId"
              ]
            },
            "aggregated": {
              "response": {
                "$ref": "ListJobsResponse"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "projectId"
              ],
              "id": "dataflow.projects.jobs.aggregated",
              "description": "List the jobs of a project across all regions. **Note:** This method doesn't support filtering the list of jobs by name.",
              "parameters": {
                "name": {
                  "location": "query",
                  "description": "Optional. The job name.",
                  "type": "string"
                },
                "filter": {
                  "enum": [
                    "UNKNOWN",
                    "ALL",
                    "TERMINATED",
                    "ACTIVE"
                  ],
                  "type": "string",
                  "description": "The kind of filter to use.",
                  "location": "query",
                  "enumDescriptions": [
                    "The filter isn't specified, or is unknown. This returns all jobs ordered on descending `JobUuid`.",
                    "Returns all running jobs first ordered on creation timestamp, then returns all terminated jobs ordered on the termination timestamp.",
                    "Filters the jobs that have a terminated state, ordered on the termination timestamp. Example terminated states: `JOB_STATE_STOPPED`, `JOB_STATE_UPDATED`, `JOB_STATE_DRAINED`, etc.",
                    "Filters the jobs that are running ordered on the creation timestamp."
                  ]
                },
                "projectId": {
                  "location": "path",
                  "description": "The project which owns the jobs.",
                  "required": true,
                  "type": "string"
                },
                "pageToken": {
                  "description": "Set this to the 'next_page_token' field of a previous response to request additional results in a long list.",
                  "type": "string",
                  "location": "query"
                },
                "location": {
                  "location": "query",
                  "type": "string",
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job."
                },
                "view": {
                  "enumDescriptions": [
                    "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                    "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                    "Request all information available for this job. When the job is in `JOB_STATE_PENDING`, the job has been created but is not yet running, and not all job information is available. For complete job information, wait until the job in is `JOB_STATE_RUNNING`. For more information, see [JobState](https://cloud.google.com/dataflow/docs/reference/rest/v1b3/projects.jobs#jobstate).",
                    "Request summary info and limited job description data for steps, labels and environment."
                  ],
                  "location": "query",
                  "deprecated": true,
                  "description": "Deprecated. ListJobs always returns summaries now. Use GetJob for other JobViews.",
                  "type": "string",
                  "enum": [
                    "JOB_VIEW_UNKNOWN",
                    "JOB_VIEW_SUMMARY",
                    "JOB_VIEW_ALL",
                    "JOB_VIEW_DESCRIPTION"
                  ]
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "If there are many jobs, limit response to at most this many. The actual number of jobs returned will be the lesser of max_responses and an unspecified server-defined limit."
                }
              },
              "flatPath": "v1b3/projects/{projectId}/jobs:aggregated",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "path": "v1b3/projects/{projectId}/jobs:aggregated"
            },
            "get": {
              "id": "dataflow.projects.jobs.get",
              "description": "Gets the state of the specified Cloud Dataflow job. To get the state of a job, we recommend using `projects.locations.jobs.get` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.get` is not recommended, as you can only get the state of jobs that are running in `us-central1`.",
              "parameters": {
                "jobId": {
                  "location": "path",
                  "description": "The job ID.",
                  "required": true,
                  "type": "string"
                },
                "view": {
                  "type": "string",
                  "description": "The level of information requested in response.",
                  "enum": [
                    "JOB_VIEW_UNKNOWN",
                    "JOB_VIEW_SUMMARY",
                    "JOB_VIEW_ALL",
                    "JOB_VIEW_DESCRIPTION"
                  ],
                  "enumDescriptions": [
                    "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                    "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                    "Request all information available for this job. When the job is in `JOB_STATE_PENDING`, the job has been created but is not yet running, and not all job information is available. For complete job information, wait until the job in is `JOB_STATE_RUNNING`. For more information, see [JobState](https://cloud.google.com/dataflow/docs/reference/rest/v1b3/projects.jobs#jobstate).",
                    "Request summary info and limited job description data for steps, labels and environment."
                  ],
                  "location": "query"
                },
                "projectId": {
                  "description": "The ID of the Cloud Platform project that the job belongs to.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "location": {
                  "type": "string",
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                  "location": "query"
                }
              },
              "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "path": "v1b3/projects/{projectId}/jobs/{jobId}",
              "parameterOrder": [
                "projectId",
                "jobId"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "Job"
              }
            }
          },
          "resources": {
            "debug": {
              "methods": {
                "getConfig": {
                  "response": {
                    "$ref": "GetDebugConfigResponse"
                  },
                  "request": {
                    "$ref": "GetDebugConfigRequest"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "projectId",
                    "jobId"
                  ],
                  "parameters": {
                    "projectId": {
                      "type": "string",
                      "description": "The project id.",
                      "required": true,
                      "location": "path"
                    },
                    "jobId": {
                      "type": "string",
                      "description": "The job id.",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "id": "dataflow.projects.jobs.debug.getConfig",
                  "description": "Get encoded debug configuration for component. Not cacheable.",
                  "path": "v1b3/projects/{projectId}/jobs/{jobId}/debug/getConfig",
                  "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/debug/getConfig",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ]
                },
                "sendCapture": {
                  "parameterOrder": [
                    "projectId",
                    "jobId"
                  ],
                  "id": "dataflow.projects.jobs.debug.sendCapture",
                  "description": "Send encoded debug capture data for component.",
                  "parameters": {
                    "jobId": {
                      "description": "The job id.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "projectId": {
                      "description": "The project id.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/debug/sendCapture",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "path": "v1b3/projects/{projectId}/jobs/{jobId}/debug/sendCapture",
                  "request": {
                    "$ref": "SendDebugCaptureRequest"
                  },
                  "response": {
                    "$ref": "SendDebugCaptureResponse"
                  },
                  "httpMethod": "POST"
                }
              }
            },
            "messages": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "projectId",
                    "jobId"
                  ],
                  "parameters": {
                    "projectId": {
                      "type": "string",
                      "description": "A project id.",
                      "required": true,
                      "location": "path"
                    },
                    "pageToken": {
                      "description": "If supplied, this should be the value of next_page_token returned by an earlier call. This will cause the next page of results to be returned.",
                      "type": "string",
                      "location": "query"
                    },
                    "location": {
                      "type": "string",
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
                      "location": "query"
                    },
                    "endTime": {
                      "format": "google-datetime",
                      "location": "query",
                      "type": "string",
                      "description": "Return only messages with timestamps < end_time. The default is now (i.e. return up to the latest messages available)."
                    },
                    "minimumImportance": {
                      "type": "string",
                      "description": "Filter to only get messages with importance >= level",
                      "enum": [
                        "JOB_MESSAGE_IMPORTANCE_UNKNOWN",
                        "JOB_MESSAGE_DEBUG",
                        "JOB_MESSAGE_DETAILED",
                        "JOB_MESSAGE_BASIC",
                        "JOB_MESSAGE_WARNING",
                        "JOB_MESSAGE_ERROR"
                      ],
                      "enumDescriptions": [
                        "The message importance isn't specified, or is unknown.",
                        "The message is at the 'debug' level: typically only useful for software engineers working on the code the job is running. Typically, Dataflow pipeline runners do not display log messages at this level by default.",
                        "The message is at the 'detailed' level: somewhat verbose, but potentially useful to users. Typically, Dataflow pipeline runners do not display log messages at this level by default. These messages are displayed by default in the Dataflow monitoring UI.",
                        "The message is at the 'basic' level: useful for keeping track of the execution of a Dataflow pipeline. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI.",
                        "The message is at the 'warning' level: indicating a condition pertaining to a job which may require human intervention. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI.",
                        "The message is at the 'error' level: indicating a condition preventing a job from succeeding. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI."
                      ],
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "If specified, determines the maximum number of messages to return. If unspecified, the service may choose an appropriate default, or may return an arbitrarily large number of results.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "jobId": {
                      "description": "The job to get messages about.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "startTime": {
                      "format": "google-datetime",
                      "location": "query",
                      "type": "string",
                      "description": "If specified, return only messages with timestamps >= start_time. The default is the job creation time (i.e. beginning of messages)."
                    }
                  },
                  "id": "dataflow.projects.jobs.messages.list",
                  "description": "Request the job status. To request the status of a job, we recommend using `projects.locations.jobs.messages.list` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.messages.list` is not recommended, as you can only request the status of jobs that are running in `us-central1`.",
                  "path": "v1b3/projects/{projectId}/jobs/{jobId}/messages",
                  "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/messages",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "response": {
                    "$ref": "ListJobMessagesResponse"
                  },
                  "httpMethod": "GET"
                }
              }
            },
            "workItems": {
              "methods": {
                "reportStatus": {
                  "parameterOrder": [
                    "projectId",
                    "jobId"
                  ],
                  "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/workItems:reportStatus",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "path": "v1b3/projects/{projectId}/jobs/{jobId}/workItems:reportStatus",
                  "id": "dataflow.projects.jobs.workItems.reportStatus",
                  "description": "Reports the status of dataflow WorkItems leased by a worker.",
                  "parameters": {
                    "projectId": {
                      "location": "path",
                      "type": "string",
                      "description": "The project which owns the WorkItem's job.",
                      "required": true
                    },
                    "jobId": {
                      "description": "The job which the WorkItem is part of.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "ReportWorkItemStatusRequest"
                  },
                  "response": {
                    "$ref": "ReportWorkItemStatusResponse"
                  },
                  "httpMethod": "POST"
                },
                "lease": {
                  "parameterOrder": [
                    "projectId",
                    "jobId"
                  ],
                  "path": "v1b3/projects/{projectId}/jobs/{jobId}/workItems:lease",
                  "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/workItems:lease",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "parameters": {
                    "projectId": {
                      "type": "string",
                      "description": "Identifies the project this worker belongs to.",
                      "required": true,
                      "location": "path"
                    },
                    "jobId": {
                      "location": "path",
                      "type": "string",
                      "description": "Identifies the workflow job this worker belongs to.",
                      "required": true
                    }
                  },
                  "id": "dataflow.projects.jobs.workItems.lease",
                  "description": "Leases a dataflow WorkItem to run.",
                  "response": {
                    "$ref": "LeaseWorkItemResponse"
                  },
                  "request": {
                    "$ref": "LeaseWorkItemRequest"
                  },
                  "httpMethod": "POST"
                }
              }
            }
          }
        },
        "templates": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "response": {
                "$ref": "GetTemplateResponse"
              },
              "path": "v1b3/projects/{projectId}/templates:get",
              "flatPath": "v1b3/projects/{projectId}/templates:get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "parameters": {
                "view": {
                  "description": "The view to retrieve. Defaults to METADATA_ONLY.",
                  "type": "string",
                  "enum": [
                    "METADATA_ONLY"
                  ],
                  "enumDescriptions": [
                    "Template view that retrieves only the metadata associated with the template."
                  ],
                  "location": "query"
                },
                "projectId": {
                  "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "gcsPath": {
                  "type": "string",
                  "description": "Required. A Cloud Storage path to the template from which to create the job. Must be valid Cloud Storage URL, beginning with 'gs://'.",
                  "location": "query"
                },
                "location": {
                  "type": "string",
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request.",
                  "location": "query"
                }
              },
              "id": "dataflow.projects.templates.get",
              "description": "Get the template associated with a template. To get the template, we recommend using `projects.locations.templates.get` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.templates.get` is not recommended, because only templates that are running in `us-central1` are retrieved.",
              "parameterOrder": [
                "projectId"
              ]
            },
            "launch": {
              "httpMethod": "POST",
              "request": {
                "$ref": "LaunchTemplateParameters"
              },
              "response": {
                "$ref": "LaunchTemplateResponse"
              },
              "id": "dataflow.projects.templates.launch",
              "description": "Launches a template. To launch a template, we recommend using `projects.locations.templates.launch` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.templates.launch` is not recommended, because jobs launched from the template will always start in `us-central1`.",
              "parameters": {
                "projectId": {
                  "location": "path",
                  "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                  "required": true,
                  "type": "string"
                },
                "gcsPath": {
                  "location": "query",
                  "type": "string",
                  "description": "A Cloud Storage path to the template to use to create the job. Must be valid Cloud Storage URL, beginning with `gs://`."
                },
                "dynamicTemplate.gcsPath": {
                  "description": "Path to the dynamic template specification file on Cloud Storage. The file must be a JSON serialized `DynamicTemplateFileSpec` object.",
                  "type": "string",
                  "location": "query"
                },
                "dynamicTemplate.stagingLocation": {
                  "type": "string",
                  "description": "Cloud Storage path for staging dependencies. Must be a valid Cloud Storage URL, beginning with `gs://`.",
                  "location": "query"
                },
                "location": {
                  "type": "string",
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request.",
                  "location": "query"
                },
                "validateOnly": {
                  "location": "query",
                  "type": "boolean",
                  "description": "If true, the request is validated but not actually executed. Defaults to false."
                }
              },
              "flatPath": "v1b3/projects/{projectId}/templates:launch",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "path": "v1b3/projects/{projectId}/templates:launch",
              "parameterOrder": [
                "projectId"
              ]
            },
            "create": {
              "httpMethod": "POST",
              "request": {
                "$ref": "CreateJobFromTemplateRequest"
              },
              "response": {
                "$ref": "Job"
              },
              "flatPath": "v1b3/projects/{projectId}/templates",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "path": "v1b3/projects/{projectId}/templates",
              "id": "dataflow.projects.templates.create",
              "description": "Creates a Cloud Dataflow job from a template. Do not enter confidential information when you supply string values using the API. To create a job, we recommend using `projects.locations.templates.create` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.templates.create` is not recommended, because your job will always start in `us-central1`.",
              "parameters": {
                "projectId": {
                  "location": "path",
                  "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "projectId"
              ]
            }
          }
        },
        "locations": {
          "methods": {
            "workerMessages": {
              "parameterOrder": [
                "projectId",
                "location"
              ],
              "flatPath": "v1b3/projects/{projectId}/locations/{location}/WorkerMessages",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "path": "v1b3/projects/{projectId}/locations/{location}/WorkerMessages",
              "id": "dataflow.projects.locations.workerMessages",
              "description": "Send a worker_message to the service.",
              "parameters": {
                "projectId": {
                  "type": "string",
                  "description": "The project to send the WorkerMessages to.",
                  "required": true,
                  "location": "path"
                },
                "location": {
                  "location": "path",
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job.",
                  "required": true,
                  "type": "string"
                }
              },
              "request": {
                "$ref": "SendWorkerMessagesRequest"
              },
              "response": {
                "$ref": "SendWorkerMessagesResponse"
              },
              "httpMethod": "POST"
            }
          },
          "resources": {
            "templates": {
              "methods": {
                "create": {
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/templates",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "path": "v1b3/projects/{projectId}/locations/{location}/templates",
                  "id": "dataflow.projects.locations.templates.create",
                  "description": "Creates a Cloud Dataflow job from a template. Do not enter confidential information when you supply string values using the API. To create a job, we recommend using `projects.locations.templates.create` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.templates.create` is not recommended, because your job will always start in `us-central1`.",
                  "parameters": {
                    "projectId": {
                      "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "location": {
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "CreateJobFromTemplateRequest"
                  },
                  "response": {
                    "$ref": "Job"
                  },
                  "httpMethod": "POST"
                },
                "launch": {
                  "id": "dataflow.projects.locations.templates.launch",
                  "description": "Launches a template. To launch a template, we recommend using `projects.locations.templates.launch` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.templates.launch` is not recommended, because jobs launched from the template will always start in `us-central1`.",
                  "parameters": {
                    "validateOnly": {
                      "location": "query",
                      "type": "boolean",
                      "description": "If true, the request is validated but not actually executed. Defaults to false."
                    },
                    "projectId": {
                      "type": "string",
                      "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                      "required": true,
                      "location": "path"
                    },
                    "location": {
                      "type": "string",
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request.",
                      "required": true,
                      "location": "path"
                    },
                    "gcsPath": {
                      "type": "string",
                      "description": "A Cloud Storage path to the template to use to create the job. Must be valid Cloud Storage URL, beginning with `gs://`.",
                      "location": "query"
                    },
                    "dynamicTemplate.gcsPath": {
                      "description": "Path to the dynamic template specification file on Cloud Storage. The file must be a JSON serialized `DynamicTemplateFileSpec` object.",
                      "type": "string",
                      "location": "query"
                    },
                    "dynamicTemplate.stagingLocation": {
                      "location": "query",
                      "type": "string",
                      "description": "Cloud Storage path for staging dependencies. Must be a valid Cloud Storage URL, beginning with `gs://`."
                    }
                  },
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/templates:launch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "path": "v1b3/projects/{projectId}/locations/{location}/templates:launch",
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "LaunchTemplateParameters"
                  },
                  "response": {
                    "$ref": "LaunchTemplateResponse"
                  }
                },
                "get": {
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "path": "v1b3/projects/{projectId}/locations/{location}/templates:get",
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/templates:get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "parameters": {
                    "view": {
                      "location": "query",
                      "enumDescriptions": [
                        "Template view that retrieves only the metadata associated with the template."
                      ],
                      "enum": [
                        "METADATA_ONLY"
                      ],
                      "description": "The view to retrieve. Defaults to METADATA_ONLY.",
                      "type": "string"
                    },
                    "projectId": {
                      "location": "path",
                      "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                      "required": true,
                      "type": "string"
                    },
                    "location": {
                      "type": "string",
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request.",
                      "required": true,
                      "location": "path"
                    },
                    "gcsPath": {
                      "type": "string",
                      "description": "Required. A Cloud Storage path to the template from which to create the job. Must be valid Cloud Storage URL, beginning with 'gs://'.",
                      "location": "query"
                    }
                  },
                  "id": "dataflow.projects.locations.templates.get",
                  "description": "Get the template associated with a template. To get the template, we recommend using `projects.locations.templates.get` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.templates.get` is not recommended, because only templates that are running in `us-central1` are retrieved.",
                  "response": {
                    "$ref": "GetTemplateResponse"
                  },
                  "httpMethod": "GET"
                }
              }
            },
            "snapshots": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListSnapshotsResponse"
                  },
                  "path": "v1b3/projects/{projectId}/locations/{location}/snapshots",
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/snapshots",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "parameters": {
                    "projectId": {
                      "type": "string",
                      "description": "The project ID to list snapshots for.",
                      "required": true,
                      "location": "path"
                    },
                    "location": {
                      "location": "path",
                      "description": "The location to list snapshots in.",
                      "required": true,
                      "type": "string"
                    },
                    "jobId": {
                      "description": "If specified, list snapshots created from this job.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "id": "dataflow.projects.locations.snapshots.list",
                  "description": "Lists snapshots.",
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ]
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "DeleteSnapshotResponse"
                  },
                  "id": "dataflow.projects.locations.snapshots.delete",
                  "description": "Deletes a snapshot.",
                  "parameters": {
                    "snapshotId": {
                      "description": "The ID of the snapshot.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "projectId": {
                      "type": "string",
                      "description": "The ID of the Cloud Platform project that the snapshot belongs to.",
                      "required": true,
                      "location": "path"
                    },
                    "location": {
                      "location": "path",
                      "description": "The location that contains this snapshot.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/snapshots/{snapshotId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "path": "v1b3/projects/{projectId}/locations/{location}/snapshots/{snapshotId}",
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "snapshotId"
                  ]
                },
                "get": {
                  "response": {
                    "$ref": "Snapshot"
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "snapshotId"
                  ],
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/snapshots/{snapshotId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "path": "v1b3/projects/{projectId}/locations/{location}/snapshots/{snapshotId}",
                  "id": "dataflow.projects.locations.snapshots.get",
                  "description": "Gets information about a snapshot.",
                  "parameters": {
                    "projectId": {
                      "location": "path",
                      "type": "string",
                      "description": "The ID of the Cloud Platform project that the snapshot belongs to.",
                      "required": true
                    },
                    "location": {
                      "type": "string",
                      "description": "The location that contains this snapshot.",
                      "required": true,
                      "location": "path"
                    },
                    "snapshotId": {
                      "location": "path",
                      "type": "string",
                      "description": "The ID of the snapshot.",
                      "required": true
                    }
                  }
                }
              }
            },
            "flexTemplates": {
              "methods": {
                "launch": {
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "LaunchFlexTemplateRequest"
                  },
                  "response": {
                    "$ref": "LaunchFlexTemplateResponse"
                  },
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/flexTemplates:launch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "path": "v1b3/projects/{projectId}/locations/{location}/flexTemplates:launch",
                  "id": "dataflow.projects.locations.flexTemplates.launch",
                  "description": "Launch a job with a FlexTemplate.",
                  "parameters": {
                    "projectId": {
                      "type": "string",
                      "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                      "required": true,
                      "location": "path"
                    },
                    "location": {
                      "type": "string",
                      "description": "Required. The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request. E.g., us-central1, us-west1.",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ]
                }
              }
            },
            "jobs": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Job"
                  },
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}",
                  "id": "dataflow.projects.locations.jobs.get",
                  "description": "Gets the state of the specified Cloud Dataflow job. To get the state of a job, we recommend using `projects.locations.jobs.get` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.get` is not recommended, as you can only get the state of jobs that are running in `us-central1`.",
                  "parameters": {
                    "projectId": {
                      "type": "string",
                      "description": "The ID of the Cloud Platform project that the job belongs to.",
                      "required": true,
                      "location": "path"
                    },
                    "location": {
                      "location": "path",
                      "type": "string",
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                      "required": true
                    },
                    "jobId": {
                      "description": "The job ID.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "view": {
                      "enumDescriptions": [
                        "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                        "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                        "Request all information available for this job. When the job is in `JOB_STATE_PENDING`, the job has been created but is not yet running, and not all job information is available. For complete job information, wait until the job in is `JOB_STATE_RUNNING`. For more information, see [JobState](https://cloud.google.com/dataflow/docs/reference/rest/v1b3/projects.jobs#jobstate).",
                        "Request summary info and limited job description data for steps, labels and environment."
                      ],
                      "location": "query",
                      "description": "The level of information requested in response.",
                      "type": "string",
                      "enum": [
                        "JOB_VIEW_UNKNOWN",
                        "JOB_VIEW_SUMMARY",
                        "JOB_VIEW_ALL",
                        "JOB_VIEW_DESCRIPTION"
                      ]
                    }
                  },
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "jobId"
                  ]
                },
                "update": {
                  "response": {
                    "$ref": "Job"
                  },
                  "request": {
                    "$ref": "Job"
                  },
                  "httpMethod": "PUT",
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "jobId"
                  ],
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}",
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "parameters": {
                    "updateMask": {
                      "type": "string",
                      "description": "The list of fields to update relative to Job. If empty, only RequestedJobState will be considered for update. If the FieldMask is not empty and RequestedJobState is none/empty, The fields specified in the update mask will be the only ones considered for update. If both RequestedJobState and update_mask are specified, an error will be returned as we cannot update both state and mask.",
                      "format": "google-fieldmask",
                      "location": "query"
                    },
                    "jobId": {
                      "location": "path",
                      "description": "The job ID.",
                      "required": true,
                      "type": "string"
                    },
                    "projectId": {
                      "location": "path",
                      "description": "The ID of the Cloud Platform project that the job belongs to.",
                      "required": true,
                      "type": "string"
                    },
                    "location": {
                      "location": "path",
                      "type": "string",
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                      "required": true
                    }
                  },
                  "id": "dataflow.projects.locations.jobs.update",
                  "description": "Updates the state of an existing Cloud Dataflow job. To update the state of an existing job, we recommend using `projects.locations.jobs.update` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.update` is not recommended, as you can only update the state of jobs that are running in `us-central1`."
                },
                "snapshot": {
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "SnapshotJobRequest"
                  },
                  "response": {
                    "$ref": "Snapshot"
                  },
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}:snapshot",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}:snapshot",
                  "id": "dataflow.projects.locations.jobs.snapshot",
                  "description": "Snapshot the state of a streaming job.",
                  "parameters": {
                    "projectId": {
                      "description": "The project which owns the job to be snapshotted.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "location": {
                      "location": "path",
                      "type": "string",
                      "description": "The location that contains this job.",
                      "required": true
                    },
                    "jobId": {
                      "location": "path",
                      "description": "The job to be snapshotted.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "jobId"
                  ]
                },
                "list": {
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs",
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Optional. The job name.",
                      "type": "string",
                      "location": "query"
                    },
                    "projectId": {
                      "description": "The project which owns the jobs.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "location": {
                      "location": "path",
                      "type": "string",
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                      "required": true
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Set this to the 'next_page_token' field of a previous response to request additional results in a long list.",
                      "type": "string"
                    },
                    "filter": {
                      "description": "The kind of filter to use.",
                      "type": "string",
                      "enum": [
                        "UNKNOWN",
                        "ALL",
                        "TERMINATED",
                        "ACTIVE"
                      ],
                      "enumDescriptions": [
                        "The filter isn't specified, or is unknown. This returns all jobs ordered on descending `JobUuid`.",
                        "Returns all running jobs first ordered on creation timestamp, then returns all terminated jobs ordered on the termination timestamp.",
                        "Filters the jobs that have a terminated state, ordered on the termination timestamp. Example terminated states: `JOB_STATE_STOPPED`, `JOB_STATE_UPDATED`, `JOB_STATE_DRAINED`, etc.",
                        "Filters the jobs that are running ordered on the creation timestamp."
                      ],
                      "location": "query"
                    },
                    "view": {
                      "deprecated": true,
                      "location": "query",
                      "enumDescriptions": [
                        "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                        "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                        "Request all information available for this job. When the job is in `JOB_STATE_PENDING`, the job has been created but is not yet running, and not all job information is available. For complete job information, wait until the job in is `JOB_STATE_RUNNING`. For more information, see [JobState](https://cloud.google.com/dataflow/docs/reference/rest/v1b3/projects.jobs#jobstate).",
                        "Request summary info and limited job description data for steps, labels and environment."
                      ],
                      "enum": [
                        "JOB_VIEW_UNKNOWN",
                        "JOB_VIEW_SUMMARY",
                        "JOB_VIEW_ALL",
                        "JOB_VIEW_DESCRIPTION"
                      ],
                      "type": "string",
                      "description": "Deprecated. ListJobs always returns summaries now. Use GetJob for other JobViews."
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "If there are many jobs, limit response to at most this many. The actual number of jobs returned will be the lesser of max_responses and an unspecified server-defined limit.",
                      "format": "int32",
                      "location": "query"
                    }
                  },
                  "id": "dataflow.projects.locations.jobs.list",
                  "description": "List the jobs of a project. To list the jobs of a project in a region, we recommend using `projects.locations.jobs.list` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). To list the all jobs across all regions, use `projects.jobs.aggregated`. Using `projects.jobs.list` is not recommended, because you can only get the list of jobs that are running in `us-central1`. `projects.locations.jobs.list` and `projects.jobs.list` support filtering the list of jobs by name. Filtering by name isn't supported by `projects.jobs.aggregated`.",
                  "response": {
                    "$ref": "ListJobsResponse"
                  },
                  "httpMethod": "GET"
                },
                "getExecutionDetails": {
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/executionDetails",
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/executionDetails",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "parameters": {
                    "jobId": {
                      "location": "path",
                      "description": "The job to get execution details for.",
                      "required": true,
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "If specified, determines the maximum number of stages to return. If unspecified, the service may choose an appropriate default, or may return an arbitrarily large number of results.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "projectId": {
                      "description": "A project id.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "location": {
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "If supplied, this should be the value of next_page_token returned by an earlier call. This will cause the next page of results to be returned.",
                      "type": "string"
                    }
                  },
                  "id": "dataflow.projects.locations.jobs.getExecutionDetails",
                  "description": "Request detailed information about the execution status of the job. EXPERIMENTAL. This API is subject to change or removal without notice.",
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "jobId"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "JobExecutionDetails"
                  }
                },
                "create": {
                  "response": {
                    "$ref": "Job"
                  },
                  "request": {
                    "$ref": "Job"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs",
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "parameters": {
                    "projectId": {
                      "location": "path",
                      "description": "The ID of the Cloud Platform project that the job belongs to.",
                      "required": true,
                      "type": "string"
                    },
                    "location": {
                      "location": "path",
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                      "required": true,
                      "type": "string"
                    },
                    "view": {
                      "description": "The level of information requested in response.",
                      "type": "string",
                      "enum": [
                        "JOB_VIEW_UNKNOWN",
                        "JOB_VIEW_SUMMARY",
                        "JOB_VIEW_ALL",
                        "JOB_VIEW_DESCRIPTION"
                      ],
                      "enumDescriptions": [
                        "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                        "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                        "Request all information available for this job. When the job is in `JOB_STATE_PENDING`, the job has been created but is not yet running, and not all job information is available. For complete job information, wait until the job in is `JOB_STATE_RUNNING`. For more information, see [JobState](https://cloud.google.com/dataflow/docs/reference/rest/v1b3/projects.jobs#jobstate).",
                        "Request summary info and limited job description data for steps, labels and environment."
                      ],
                      "location": "query"
                    },
                    "replaceJobId": {
                      "location": "query",
                      "description": "Deprecated. This field is now in the Job message.",
                      "type": "string"
                    }
                  },
                  "id": "dataflow.projects.locations.jobs.create",
                  "description": "Creates a Dataflow job. To create a job, we recommend using `projects.locations.jobs.create` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.create` is not recommended, as your job will always start in `us-central1`. Do not enter confidential information when you supply string values using the API."
                },
                "getMetrics": {
                  "response": {
                    "$ref": "JobMetrics"
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "jobId"
                  ],
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/metrics",
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/metrics",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "parameters": {
                    "jobId": {
                      "description": "The job to get metrics for.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "startTime": {
                      "location": "query",
                      "format": "google-datetime",
                      "description": "Return only metric data that has changed since this time. Default is to return all information about all metrics for the job.",
                      "type": "string"
                    },
                    "projectId": {
                      "description": "A project id.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "location": {
                      "location": "path",
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "id": "dataflow.projects.locations.jobs.getMetrics",
                  "description": "Request the job status. To request the status of a job, we recommend using `projects.locations.jobs.getMetrics` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.getMetrics` is not recommended, as you can only request the status of jobs that are running in `us-central1`."
                }
              },
              "resources": {
                "stages": {
                  "methods": {
                    "getExecutionDetails": {
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/stages/{stageId}/executionDetails",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                      ],
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/stages/{stageId}/executionDetails",
                      "id": "dataflow.projects.locations.jobs.stages.getExecutionDetails",
                      "description": "Request detailed information about the execution status of a stage of the job. EXPERIMENTAL. This API is subject to change or removal without notice.",
                      "parameters": {
                        "stageId": {
                          "type": "string",
                          "description": "The stage for which to fetch information.",
                          "required": true,
                          "location": "path"
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "type": "integer",
                          "description": "If specified, determines the maximum number of work items to return. If unspecified, the service may choose an appropriate default, or may return an arbitrarily large number of results."
                        },
                        "jobId": {
                          "type": "string",
                          "description": "The job to get execution details for.",
                          "required": true,
                          "location": "path"
                        },
                        "startTime": {
                          "description": "Lower time bound of work items to include, by start time.",
                          "type": "string",
                          "location": "query",
                          "format": "google-datetime"
                        },
                        "projectId": {
                          "description": "A project id.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "location": {
                          "location": "path",
                          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
                          "required": true,
                          "type": "string"
                        },
                        "pageToken": {
                          "description": "If supplied, this should be the value of next_page_token returned by an earlier call. This will cause the next page of results to be returned.",
                          "type": "string",
                          "location": "query"
                        },
                        "endTime": {
                          "format": "google-datetime",
                          "location": "query",
                          "type": "string",
                          "description": "Upper time bound of work items to include, by start time."
                        }
                      },
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId",
                        "stageId"
                      ],
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "StageExecutionDetails"
                      }
                    }
                  }
                },
                "debug": {
                  "methods": {
                    "sendCapture": {
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "SendDebugCaptureResponse"
                      },
                      "request": {
                        "$ref": "SendDebugCaptureRequest"
                      },
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/sendCapture",
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/sendCapture",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                      ],
                      "parameters": {
                        "projectId": {
                          "description": "The project id.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "location": {
                          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "jobId": {
                          "description": "The job id.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "id": "dataflow.projects.locations.jobs.debug.sendCapture",
                      "description": "Send encoded debug capture data for component.",
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ]
                    },
                    "getConfig": {
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "id": "dataflow.projects.locations.jobs.debug.getConfig",
                      "description": "Get encoded debug configuration for component. Not cacheable.",
                      "parameters": {
                        "projectId": {
                          "description": "The project id.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "location": {
                          "type": "string",
                          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
                          "required": true,
                          "location": "path"
                        },
                        "jobId": {
                          "description": "The job id.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/getConfig",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                      ],
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/getConfig",
                      "request": {
                        "$ref": "GetDebugConfigRequest"
                      },
                      "response": {
                        "$ref": "GetDebugConfigResponse"
                      },
                      "httpMethod": "POST"
                    },
                    "getWorkerStacktraces": {
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "GetWorkerStacktracesResponse"
                      },
                      "request": {
                        "$ref": "GetWorkerStacktracesRequest"
                      },
                      "parameters": {
                        "projectId": {
                          "description": "The project id.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "location": {
                          "type": "string",
                          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
                          "required": true,
                          "location": "path"
                        },
                        "jobId": {
                          "type": "string",
                          "description": "The job for which to get stacktraces.",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "id": "dataflow.projects.locations.jobs.debug.getWorkerStacktraces",
                      "description": "Get worker stacktraces from debug capture.",
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/getWorkerStacktraces",
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/getWorkerStacktraces",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                      ],
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ]
                    }
                  }
                },
                "workItems": {
                  "methods": {
                    "lease": {
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/workItems:lease",
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/workItems:lease",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                      ],
                      "parameters": {
                        "jobId": {
                          "location": "path",
                          "description": "Identifies the workflow job this worker belongs to.",
                          "required": true,
[...]
