{
  "version": "v1",
  "ownerDomain": "google.com",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "description": "Manage Cloud Database Migration Service resources on Google Cloud Platform.",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "baseUrl": "https://datamigration.googleapis.com/",
  "id": "datamigration:v1",
  "canonicalName": "Database Migration Service",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "schemas": {
    "SearchBackgroundJobsResponse": {
      "type": "object",
      "description": "Response message for 'SearchBackgroundJobs' request.",
      "id": "SearchBackgroundJobsResponse",
      "properties": {
        "jobs": {
          "type": "array",
          "description": "The list of conversion workspace mapping rules.",
          "items": {
            "$ref": "BackgroundJobLogEntry"
          }
        }
      }
    },
    "RequestInfo": {
      "description": "Contains metadata about the request that clients can attach when filing a bug or providing other forms of feedback.",
      "id": "RequestInfo",
      "properties": {
        "servingData": {
          "description": "Any data that was used to serve this request. For example, an encrypted stack trace that can be sent back to the service provider for debugging.",
          "type": "string"
        },
        "requestId": {
          "description": "An opaque string that should only be interpreted by the service generating it. For example, it can be used to identify requests in the service's logs.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "MigrationJobObjectsConfig": {
      "type": "object",
      "description": "Configuration for the objects to be migrated.",
      "id": "MigrationJobObjectsConfig",
      "properties": {
        "sourceObjectsConfig": {
          "$ref": "SourceObjectsConfig",
          "description": "The list of the migration job objects."
        }
      }
    },
    "RulesFile": {
      "id": "RulesFile",
      "properties": {
        "rulesContent": {
          "description": "Required. The text content of the rules that needs to be converted.",
          "type": "string"
        },
        "rulesSourceFilename": {
          "description": "Required. The filename of the rules that needs to be converted. The filename is used mainly so that future logs of the import rules job contain it, and can therefore be searched by it.",
          "type": "string"
        }
      },
      "description": "Details of a single rules file.",
      "type": "object"
    },
    "PostgreSqlConnectionProfile": {
      "type": "object",
      "id": "PostgreSqlConnectionProfile",
      "properties": {
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The network port of the source PostgreSQL database."
        },
        "privateConnectivity": {
          "$ref": "PrivateConnectivity",
          "description": "Private connectivity."
        },
        "staticIpConnectivity": {
          "description": "Static ip connectivity data (default, no additional details needed).",
          "$ref": "StaticIpConnectivity"
        },
        "password": {
          "description": "Required. Input only. The password for the user that Database Migration Service will be using to connect to the database. This field is not returned on request, and the value is encrypted when stored in Database Migration Service.",
          "type": "string"
        },
        "networkArchitecture": {
          "enumDescriptions": [
            "",
            "Instance is in Cloud SQL's old producer network architecture.",
            "Instance is in Cloud SQL's new producer network architecture."
          ],
          "enum": [
            "NETWORK_ARCHITECTURE_UNSPECIFIED",
            "NETWORK_ARCHITECTURE_OLD_CSQL_PRODUCER",
            "NETWORK_ARCHITECTURE_NEW_CSQL_PRODUCER"
          ],
          "type": "string",
          "description": "Output only. If the source is a Cloud SQL database, this field indicates the network architecture it's associated with.",
          "readOnly": true
        },
        "forwardSshConnectivity": {
          "$ref": "ForwardSshTunnelConnectivity",
          "description": "Forward SSH tunnel connectivity."
        },
        "ssl": {
          "$ref": "SslConfig",
          "description": "SSL configuration for the destination to connect to the source database."
        },
        "database": {
          "description": "Optional. The name of the specific database within the host.",
          "type": "string"
        },
        "host": {
          "description": "Required. The IP or hostname of the source PostgreSQL database.",
          "type": "string"
        },
        "enableIamAuthentication": {
          "description": "Optional. If true, Database Migration Service will use IAM database authentication to connect to the database.",
          "type": "boolean"
        },
        "username": {
          "description": "Required. The username that Database Migration Service will use to connect to the database. The value is encrypted when stored in Database Migration Service.",
          "type": "string"
        },
        "alloydbClusterId": {
          "description": "Optional. If the destination is an AlloyDB database, use this field to provide the AlloyDB cluster ID.",
          "type": "string"
        },
        "privateServiceConnectConnectivity": {
          "description": "Private service connect connectivity.",
          "$ref": "PrivateServiceConnectConnectivity"
        },
        "passwordSet": {
          "description": "Output only. Indicates If this connection profile password is stored.",
          "readOnly": true,
          "type": "boolean"
        },
        "cloudSqlId": {
          "description": "If the source is a Cloud SQL database, use this field to provide the Cloud SQL instance ID of the source.",
          "type": "string"
        }
      },
      "description": "Specifies connection parameters required specifically for PostgreSQL databases."
    },
    "ConditionalColumnSetValue": {
      "description": "Options to configure rule type ConditionalColumnSetValue. The rule is used to transform the data which is being replicated/migrated. The rule filter field can refer to one or more entities. The rule scope can be one of: Column.",
      "id": "ConditionalColumnSetValue",
      "properties": {
        "customFeatures": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. Custom engine specific features."
        },
        "sourceNumericFilter": {
          "$ref": "SourceNumericFilter",
          "description": "Optional. Optional filter on source column precision and scale. Used for fixed point numbers such as NUMERIC/NUMBER data types."
        },
        "valueTransformation": {
          "description": "Required. Description of data transformation during migration.",
          "$ref": "ValueTransformation"
        },
        "sourceTextFilter": {
          "$ref": "SourceTextFilter",
          "description": "Optional. Optional filter on source column length. Used for text based data types like varchar."
        }
      },
      "type": "object"
    },
    "ListMigrationJobObjectsResponse": {
      "type": "object",
      "id": "ListMigrationJobObjectsResponse",
      "properties": {
        "migrationJobObjects": {
          "description": "List of migration job objects.",
          "items": {
            "$ref": "MigrationJobObject"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page.",
          "type": "string"
        }
      },
      "description": "Response containing the objects for a migration job."
    },
    "BinaryLogParser": {
      "type": "object",
      "id": "BinaryLogParser",
      "properties": {
        "oracleAsmLogFileAccess": {
          "description": "Use Oracle ASM.",
          "$ref": "OracleAsmLogFileAccess"
        },
        "logFileDirectories": {
          "$ref": "LogFileDirectories",
          "description": "Use Oracle directories."
        }
      },
      "description": "Configuration to use Binary Log Parser CDC technique."
    },
    "TriggerEntity": {
      "id": "TriggerEntity",
      "properties": {
        "name": {
          "description": "The name of the trigger.",
          "type": "string"
        },
        "sqlCode": {
          "description": "The SQL code which creates the trigger.",
          "type": "string"
        },
        "triggeringEvents": {
          "description": "The DML, DDL, or database events that fire the trigger, for example INSERT, UPDATE.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "customFeatures": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "Custom engine specific features."
        },
        "triggerType": {
          "description": "Indicates when the trigger fires, for example BEFORE STATEMENT, AFTER EACH ROW.",
          "type": "string"
        }
      },
      "description": "Trigger is not used as an independent entity, it is retrieved as part of a Table entity.",
      "type": "object"
    },
    "DatabaseEngineInfo": {
      "id": "DatabaseEngineInfo",
      "properties": {
        "version": {
          "description": "Required. Engine version, for example \"12.c.1\".",
          "type": "string"
        },
        "engine": {
          "description": "Required. Engine type.",
          "enumDescriptions": [
            "The source database engine of the migration job is unknown.",
            "The source engine is MySQL.",
            "The source engine is PostgreSQL.",
            "The source engine is SQL Server.",
            "The source engine is Oracle."
          ],
          "enum": [
            "DATABASE_ENGINE_UNSPECIFIED",
            "MYSQL",
            "POSTGRESQL",
            "SQLSERVER",
            "ORACLE"
          ],
          "type": "string"
        }
      },
      "description": "The type and version of a source or destination database.",
      "type": "object"
    },
    "ConvertConversionWorkspaceRequest": {
      "type": "object",
      "id": "ConvertConversionWorkspaceRequest",
      "properties": {
        "autoCommit": {
          "description": "Optional. Specifies whether the conversion workspace is to be committed automatically after the conversion.",
          "type": "boolean"
        },
        "filter": {
          "description": "Optional. Filter the entities to convert. Leaving this field empty will convert all of the entities. Supports Google AIP-160 style filtering.",
          "type": "string"
        },
        "convertFullPath": {
          "description": "Optional. Automatically convert the full entity path for each entity specified by the filter. For example, if the filter specifies a table, that table schema (and database if there is one) will also be converted.",
          "type": "boolean"
        }
      },
      "description": "Request message for 'ConvertConversionWorkspace' request."
    },
    "VerifyMigrationJobRequest": {
      "description": "Request message for 'VerifyMigrationJob' request.",
      "id": "VerifyMigrationJobRequest",
      "properties": {
        "updateMask": {
          "description": "Optional. Field mask is used to specify the changed fields to be verified. It will not update the migration job.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "migrationJob": {
          "$ref": "MigrationJob",
          "description": "Optional. The changed migration job parameters to verify. It will not update the migration job."
        }
      },
      "type": "object"
    },
    "DescribeDatabaseEntitiesResponse": {
      "type": "object",
      "id": "DescribeDatabaseEntitiesResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "databaseEntities": {
          "type": "array",
          "description": "The list of database entities for the conversion workspace.",
          "items": {
            "$ref": "DatabaseEntity"
          }
        }
      },
      "description": "Response message for 'DescribeDatabaseEntities' request."
    },
    "MigrationJobObject": {
      "type": "object",
      "id": "MigrationJobObject",
      "properties": {
        "name": {
          "description": "The object's name.",
          "type": "string"
        },
        "state": {
          "description": "The state of the migration job object.",
          "enumDescriptions": [
            "The state of the migration job object is unknown.",
            "The migration job object is not started.",
            "The migration job object is running.",
            "The migration job object is being stopped.",
            "The migration job object is currently stopped.",
            "The migration job object is restarting.",
            "The migration job object failed.",
            "The migration job object is deleting.",
            "The migration job object is not selected for migration.",
            "The migration job object is completed."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "NOT_STARTED",
            "RUNNING",
            "STOPPING",
            "STOPPED",
            "RESTARTING",
            "FAILED",
            "REMOVING",
            "NOT_SELECTED",
            "COMPLETED"
          ],
          "type": "string"
        },
        "heterogeneousMetadata": {
          "description": "Output only. Metadata for heterogeneous migration jobs objects.",
          "readOnly": true,
          "$ref": "HeterogeneousMetadata"
        },
        "error": {
          "description": "Output only. The error details in case of failure.",
          "readOnly": true,
          "$ref": "Status"
        },
        "sourceObject": {
          "$ref": "SourceObjectIdentifier",
          "description": "The object identifier in the data source."
        },
        "phase": {
          "description": "Output only. The phase of the migration job object.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The phase of the migration job is unknown.",
            "The migration job object is in the full dump phase.",
            "The migration job object is in CDC phase.",
            "The migration job object is ready to be promoted.",
            "The migration job object is in running the promote phase.",
            "The migration job is promoted.",
            "The migration job object is in the differential backup phase.",
            "The migration job object is creating a fully managed backup of the source.",
            "The migration job object is restoring a fully managed backup to the destination."
          ],
          "enum": [
            "PHASE_UNSPECIFIED",
            "FULL_DUMP",
            "CDC",
            "READY_FOR_PROMOTE",
            "PROMOTE_IN_PROGRESS",
            "PROMOTED",
            "DIFF_BACKUP",
            "CREATING_BACKUP",
            "RESTORING_BACKUP"
          ]
        },
        "createTime": {
          "description": "Output only. The creation time of the migration job object.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The last update time of the migration job object.",
          "readOnly": true
        }
      },
      "description": "A specific Migration Job Object (e.g. a specifc DB Table)"
    },
    "ListConnectionProfilesResponse": {
      "type": "object",
      "description": "Response message for 'ListConnectionProfiles' request.",
      "id": "ListConnectionProfilesResponse",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "connectionProfiles": {
          "type": "array",
          "description": "The response list of connection profiles.",
          "items": {
            "$ref": "ConnectionProfile"
          }
        },
        "nextPageToken": {
          "description": "A token which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "AuthorizedNetwork": {
      "description": "AuthorizedNetwork contains metadata for an authorized network.",
      "id": "AuthorizedNetwork",
      "properties": {
        "cidrRange": {
          "description": "Optional. CIDR range for one authorzied network of the instance.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Position": {
      "id": "Position",
      "properties": {
        "column": {
          "type": "integer",
          "format": "int32",
          "description": "Issue column number"
        },
        "length": {
          "type": "integer",
          "format": "int32",
          "description": "Issue length"
        },
        "offset": {
          "description": "Issue offset",
          "type": "integer",
          "format": "int32"
        },
        "line": {
          "type": "integer",
          "format": "int32",
          "description": "Issue line number"
        }
      },
      "description": "Issue position.",
      "type": "object"
    },
    "ListLocationsResponse": {
      "type": "object",
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          },
          "type": "array"
        }
      }
    },
    "SourceObjectsConfig": {
      "type": "object",
      "description": "List of configurations for the source objects to be migrated.",
      "id": "SourceObjectsConfig",
      "properties": {
        "objectConfigs": {
          "description": "Optional. The list of the objects to be migrated.",
          "items": {
            "$ref": "SourceObjectConfig"
          },
          "type": "array"
        },
        "objectsSelectionType": {
          "description": "Optional. The objects selection type of the migration job.",
          "enumDescriptions": [
            "The type of the objects selection is unknown, indicating that the migration job is at instance level.",
            "Migrate all of the objects.",
            "Migrate specific objects."
          ],
          "enum": [
            "OBJECTS_SELECTION_TYPE_UNSPECIFIED",
            "ALL_OBJECTS",
            "SPECIFIED_OBJECTS"
          ],
          "type": "string"
        }
      }
    },
    "QuotaFailure": {
      "type": "object",
      "id": "QuotaFailure",
      "properties": {
        "violations": {
          "type": "array",
          "description": "Describes all quota violations.",
          "items": {
            "$ref": "QuotaFailureViolation"
          }
        }
      },
      "description": "Describes how a quota check failed. For example if a daily limit was exceeded for the calling project, a service could respond with a QuotaFailure detail containing the project id and the description of the quota limit that was exceeded. If the calling project hasn't enabled the service in the developer console, then a service could respond with the project id and set `service_disabled` to true. Also see RetryInfo and Help types for other details about handling a quota failure."
    },
    "QuotaFailureViolation": {
      "description": "A message type used to describe a single quota violation. For example, a daily quota or a custom quota that was exceeded.",
      "id": "QuotaFailureViolation",
      "properties": {
        "description": {
          "description": "A description of how the quota check failed. Clients can use this description to find more about the quota configuration in the service's public documentation, or find the relevant quota limit to adjust through developer console. For example: \"Service disabled\" or \"Daily Limit for read operations exceeded\".",
          "type": "string"
        },
        "quotaMetric": {
          "description": "The metric of the violated quota. A quota metric is a named counter to measure usage, such as API requests or CPUs. When an activity occurs in a service, such as Virtual Machine allocation, one or more quota metrics may be affected. For example, \"compute.googleapis.com/cpus_per_vm_family\", \"storage.googleapis.com/internet_egress_bandwidth\".",
          "type": "string"
        },
        "apiService": {
          "description": "The API Service from which the `QuotaFailure.Violation` originates. In some cases, Quota issues originate from an API Service other than the one that was called. In other words, a dependency of the called API Service could be the cause of the `QuotaFailure`, and this field would have the dependency API service name. For example, if the called API is Kubernetes Engine API (container.googleapis.com), and a quota violation occurs in the Kubernetes Engine API itself, this field would be \"container.googleapis.com\". On the other hand, if the quota violation occurs when the Kubernetes Engine API creates VMs in the Compute Engine API (compute.googleapis.com), this field would be \"compute.googleapis.com\".",
          "type": "string"
        },
        "quotaDimensions": {
          "description": "The dimensions of the violated quota. Every non-global quota is enforced on a set of dimensions. While quota metric defines what to count, the dimensions specify for what aspects the counter should be increased. For example, the quota \"CPUs per region per VM family\" enforces a limit on the metric \"compute.googleapis.com/cpus_per_vm_family\" on dimensions \"region\" and \"vm_family\". And if the violation occurred in region \"us-central1\" and for VM family \"n1\", the quota_dimensions would be, { \"region\": \"us-central1\", \"vm_family\": \"n1\", } When a quota is enforced globally, the quota_dimensions would always be empty.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "quotaId": {
          "description": "The id of the violated quota. Also know as \"limit name\", this is the unique identifier of a quota in the context of an API service. For example, \"CPUS-PER-VM-FAMILY-per-project-region\".",
          "type": "string"
        },
        "quotaValue": {
          "description": "The enforced quota value at the time of the `QuotaFailure`. For example, if the enforced quota value at the time of the `QuotaFailure` on the number of CPUs is \"10\", then the value of this field would reflect this quantity.",
          "type": "string",
          "format": "int64"
        },
        "futureQuotaValue": {
          "description": "The new quota value being rolled out at the time of the violation. At the completion of the rollout, this value will be enforced in place of quota_value. If no rollout is in progress at the time of the violation, this field is not set. For example, if at the time of the violation a rollout is in progress changing the number of CPUs quota from 10 to 20, 20 would be the value of this field.",
          "type": "string",
          "format": "int64"
        },
        "subject": {
          "description": "The subject on which the quota check failed. For example, \"clientip:\" or \"project:\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ConversionWorkspace": {
      "description": "The main conversion workspace resource entity.",
      "id": "ConversionWorkspace",
      "properties": {
        "globalSettings": {
          "description": "Optional. A generic list of settings for the workspace. The settings are database pair dependant and can indicate default behavior for the mapping rules engine or turn on or off specific features. Such examples can be: convert_foreign_key_to_interleave=true, skip_triggers=false, ignore_non_table_synonyms=true",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "hasUncommittedChanges": {
          "type": "boolean",
          "description": "Output only. Whether the workspace has uncommitted changes (changes which were made after the workspace was committed).",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the workspace resource was created.",
          "readOnly": true
        },
        "name": {
          "description": "Full name of the workspace resource, in the form of: projects/{project}/locations/{location}/conversionWorkspaces/{conversion_workspace}.",
          "type": "string"
        },
        "sourceProvider": {
          "type": "string",
          "description": "Optional. The provider for the source database.",
          "enumDescriptions": [
            "Use this value for on-premise source database instances and ORACLE.",
            "Cloud SQL is the source instance provider.",
            "Amazon RDS is the source instance provider.",
            "Amazon Aurora is the source instance provider.",
            "AlloyDB for PostgreSQL is the source instance provider.",
            "Microsoft Azure Database for MySQL/PostgreSQL."
          ],
          "enum": [
            "DATABASE_PROVIDER_UNSPECIFIED",
            "CLOUDSQL",
            "RDS",
            "AURORA",
            "ALLOYDB",
            "AZURE_DATABASE"
          ]
        },
        "destinationProvider": {
          "type": "string",
          "description": "Optional. The provider for the destination database.",
          "enumDescriptions": [
            "Use this value for on-premise source database instances and ORACLE.",
            "Cloud SQL is the source instance provider.",
            "Amazon RDS is the source instance provider.",
            "Amazon Aurora is the source instance provider.",
            "AlloyDB for PostgreSQL is the source instance provider.",
            "Microsoft Azure Database for MySQL/PostgreSQL."
          ],
          "enum": [
            "DATABASE_PROVIDER_UNSPECIFIED",
            "CLOUDSQL",
            "RDS",
            "AURORA",
            "ALLOYDB",
            "AZURE_DATABASE"
          ]
        },
        "source": {
          "$ref": "DatabaseEngineInfo",
          "description": "Required. The source engine details."
        },
        "destination": {
          "description": "Required. The destination engine details.",
          "$ref": "DatabaseEngineInfo"
        },
        "updateTime": {
          "description": "Output only. The timestamp when the workspace resource was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "displayName": {
          "description": "Optional. The display name for the workspace.",
          "type": "string"
        },
        "latestCommitId": {
          "description": "Output only. The latest commit ID.",
          "readOnly": true,
          "type": "string"
        },
        "latestCommitTime": {
          "description": "Output only. The timestamp when the workspace was committed.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "RetryInfo": {
      "type": "object",
      "description": "Describes when the clients can retry a failed request. Clients could ignore the recommendation here or retry when this information is missing from error responses. It's always recommended that clients should use exponential backoff when retrying. Clients should wait until `retry_delay` amount of time has passed since receiving the error response before retrying. If retrying requests also fail, clients should use an exponential backoff scheme to gradually increase the delay between retries based on `retry_delay`, until either a maximum number of retries have been reached or a maximum retry delay cap has been reached.",
      "id": "RetryInfo",
      "properties": {
        "retryDelay": {
          "description": "Clients should wait at least this long between retrying the same request.",
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "ListConversionWorkspacesResponse": {
      "type": "object",
      "description": "Response message for 'ListConversionWorkspaces' request.",
      "id": "ListConversionWorkspacesResponse",
      "properties": {
        "conversionWorkspaces": {
          "description": "The list of conversion workspace objects.",
          "items": {
            "$ref": "ConversionWorkspace"
          },
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "PrivateConnection": {
      "type": "object",
      "id": "PrivateConnection",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The create time of the resource.",
          "readOnly": true
        },
        "vpcPeeringConfig": {
          "$ref": "VpcPeeringConfig",
          "description": "VPC peering configuration."
        },
        "satisfiesPzs": {
          "type": "boolean",
          "description": "Output only. Reserved for future use.",
          "readOnly": true
        },
        "satisfiesPzi": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "pscInterfaceConfig": {
          "$ref": "PscInterfaceConfig",
          "description": "PSC Interface configuration."
        },
        "name": {
          "description": "The name of the resource.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The last update time of the resource.",
          "readOnly": true
        },
        "labels": {
          "description": "The resource labels for private connections to use to annotate any related underlying resources such as Compute Engine VMs. An object containing a list of \"key\": \"value\" pairs. Example: `{ \"name\": \"wrench\", \"mass\": \"1.3kg\", \"count\": \"3\" }`.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "error": {
          "description": "Output only. The error details in case of state FAILED.",
          "readOnly": true,
          "$ref": "Status"
        },
        "state": {
          "enumDescriptions": [
            "",
            "The private connection is in creation state - creating resources.",
            "The private connection has been created with all of its resources.",
            "The private connection creation has failed.",
            "The private connection is being deleted.",
            "Delete request has failed, resource is in invalid state.",
            "The private connection has been deleted."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "CREATED",
            "FAILED",
            "DELETING",
            "FAILED_TO_DELETE",
            "DELETED"
          ],
          "type": "string",
          "description": "Output only. The state of the private connection.",
          "readOnly": true
        },
        "displayName": {
          "description": "The private connection display name.",
          "type": "string"
        }
      },
      "description": "The PrivateConnection resource is used to establish private connectivity with the customer's network."
    },
    "ConvertRowIdToColumn": {
      "type": "object",
      "description": "Options to configure rule type ConvertROWIDToColumn. The rule is used to add column rowid to destination tables based on an Oracle rowid function/property. The rule filter field can refer to one or more entities. The rule scope can be one of: Table. This rule requires additional filter to be specified beyond the basic rule filter field, which is whether or not to work on tables which already have a primary key defined.",
      "id": "ConvertRowIdToColumn",
      "properties": {
        "onlyIfNoPrimaryKey": {
          "description": "Required. Only work on tables without primary key defined",
          "type": "boolean"
        }
      }
    },
    "RestartMigrationJobRequest": {
      "type": "object",
      "id": "RestartMigrationJobRequest",
      "properties": {
        "skipValidation": {
          "description": "Optional. Restart the migration job without running prior configuration verification. Defaults to `false`.",
          "type": "boolean"
        },
        "objectsFilter": {
          "description": "Optional. The object filter to apply to the migration job.",
          "$ref": "MigrationJobObjectsConfig"
        },
        "restartFailedObjects": {
          "description": "Optional. If true, only failed objects will be restarted.",
          "type": "boolean"
        }
      },
      "description": "Request message for 'RestartMigrationJob' request."
    },
    "PrivateConnectivity": {
      "type": "object",
      "id": "PrivateConnectivity",
      "properties": {
        "privateConnection": {
          "description": "Required. The resource name (URI) of the private connection.",
          "type": "string"
        }
      },
      "description": "Private Connectivity."
    },
    "SqlServerEncryptionOptions": {
      "type": "object",
      "id": "SqlServerEncryptionOptions",
      "properties": {
        "pvkPassword": {
          "description": "Required. Input only. Password that encrypts the private key.",
          "type": "string"
        },
        "pvkPath": {
          "description": "Required. Path to the Certificate Private Key (.pvk) in Cloud Storage, in the form `gs://bucketName/fileName`. The instance must have write permissions to the bucket and read access to the file.",
          "type": "string"
        },
        "certPath": {
          "description": "Required. Path to the Certificate (.cer) in Cloud Storage, in the form `gs://bucketName/fileName`. The instance must have write permissions to the bucket and read access to the file.",
          "type": "string"
        }
      },
      "description": "Encryption settings for the SQL Server database."
    },
    "SourceObjectConfig": {
      "type": "object",
      "id": "SourceObjectConfig",
      "properties": {
        "objectIdentifier": {
          "$ref": "SourceObjectIdentifier",
          "description": "Optional. The object identifier."
        }
      },
      "description": "Config for a single migration job object."
    },
    "SqlServerToPostgresConfig": {
      "id": "SqlServerToPostgresConfig",
      "properties": {
        "sqlserverSourceConfig": {
          "description": "Optional. Configuration for SQL Server source.",
          "$ref": "SqlServerSourceConfig"
        },
        "postgresDestinationConfig": {
          "description": "Optional. Configuration for Postgres destination.",
          "$ref": "PostgresDestinationConfig"
        }
      },
      "description": "Configuration for heterogeneous **SQL Server to Cloud SQL for PostgreSQL** migrations.",
      "type": "object"
    },
    "SeedConversionWorkspaceRequest": {
      "description": "Request message for 'SeedConversionWorkspace' request.",
      "id": "SeedConversionWorkspaceRequest",
      "properties": {
        "destinationConnectionProfile": {
          "description": "Optional. Fully qualified (Uri) name of the destination connection profile.",
          "type": "string"
        },
        "autoCommit": {
          "description": "Should the conversion workspace be committed automatically after the seed operation.",
          "type": "boolean"
        },
        "sourceConnectionProfile": {
          "description": "Optional. Fully qualified (Uri) name of the source connection profile.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SetIamPolicyRequest": {
      "id": "SetIamPolicyRequest",
      "properties": {
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "type": "string",
          "format": "google-fieldmask"
        },
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        }
      },
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object"
    },
    "PostgresToSqlServerConfig": {
      "description": "Configuration for heterogeneous failback migrations from **PostgreSQL to SQL Server**.",
      "id": "PostgresToSqlServerConfig",
      "properties": {
        "postgresSourceConfig": {
          "$ref": "PostgresSourceConfig",
          "description": "Optional. Configuration for PostgreSQL source."
        },
        "sqlserverDestinationConfig": {
          "$ref": "SqlServerDestinationConfig",
          "description": "Optional. Configuration for SQL Server destination."
        }
      },
      "type": "object"
    },
    "ConvertJobDetails": {
      "id": "ConvertJobDetails",
      "properties": {
        "filter": {
          "description": "Output only. AIP-160 based filter used to specify the entities to convert",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Details regarding a Convert background job.",
      "type": "object"
    },
    "PerformanceConfig": {
      "description": "Performance configuration definition.",
      "id": "PerformanceConfig",
      "properties": {
        "dumpParallelLevel": {
          "type": "string",
          "description": "Initial dump parallelism level.",
          "enumDescriptions": [
            "Unknown dump parallel level. Will be defaulted to OPTIMAL.",
            "Minimal parallel level.",
            "Optimal parallel level.",
            "Maximum parallel level."
          ],
          "enum": [
            "DUMP_PARALLEL_LEVEL_UNSPECIFIED",
            "MIN",
            "OPTIMAL",
            "MAX"
          ]
        }
      },
      "type": "object"
    },
    "MultiColumnDatatypeChange": {
      "id": "MultiColumnDatatypeChange",
      "properties": {
        "sourceNumericFilter": {
          "description": "Optional. Filter for fixed point number data types such as NUMERIC/NUMBER.",
          "$ref": "SourceNumericFilter"
        },
        "overrideFractionalSecondsPrecision": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Column fractional seconds precision - used only for timestamp based datatypes - if not specified and relevant uses the source column fractional seconds precision."
        },
        "sourceTextFilter": {
          "description": "Optional. Filter for text-based data types like varchar.",
          "$ref": "SourceTextFilter"
        },
        "sourceDataTypeFilter": {
          "description": "Required. Filter on source data type.",
          "type": "string"
        },
        "overridePrecision": {
          "description": "Optional. Column precision - when relevant - if not specified and relevant uses the source column precision.",
          "type": "integer",
          "format": "int32"
        },
        "customFeatures": {
          "description": "Optional. Custom engine specific features.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "overrideLength": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Column length - e.g. varchar (50) - if not specified and relevant uses the source column length."
        },
        "newDataType": {
          "description": "Required. New data type.",
          "type": "string"
        },
        "overrideScale": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Column scale - when relevant - if not specified and relevant uses the source column scale."
        }
      },
      "description": "Options to configure rule type MultiColumnDatatypeChange. The rule is used to change the data type and associated properties of multiple columns at once. The rule filter field can refer to one or more entities. The rule scope can be one of:Column. This rule requires additional filters to be specified beyond the basic rule filter field, which is the source data type, but the rule supports additional filtering capabilities such as the minimum and maximum field length. All additional filters which are specified are required to be met in order for the rule to be applied (logical AND between the fields).",
      "type": "object"
    },
    "CommitConversionWorkspaceRequest": {
      "id": "CommitConversionWorkspaceRequest",
      "properties": {
        "commitName": {
          "description": "Optional. Optional name of the commit.",
          "type": "string"
        }
      },
      "description": "Request message for 'CommitConversionWorkspace' request.",
      "type": "object"
    },
    "PostgresSourceConfig": {
      "id": "PostgresSourceConfig",
      "properties": {
        "skipFullDump": {
          "description": "Optional. Whether to skip full dump or not.",
          "type": "boolean"
        }
      },
      "description": "Configuration for Postgres as a source in a migration.",
      "type": "object"
    },
    "GenerateSshScriptRequest": {
      "id": "GenerateSshScriptRequest",
      "properties": {
        "vmSelectionConfig": {
          "$ref": "VmSelectionConfig",
          "description": "The VM selection configuration"
        },
        "vm": {
          "description": "Required. Bastion VM Instance name to use or to create.",
          "type": "string"
        },
        "vmPort": {
          "type": "integer",
          "format": "int32",
          "description": "The port that will be open on the bastion host."
        },
        "vmCreationConfig": {
          "description": "The VM creation configuration",
          "$ref": "VmCreationConfig"
        }
      },
      "description": "Request message for 'GenerateSshScript' request.",
      "type": "object"
    },
    "FunctionEntity": {
      "description": "Function's parent is a schema.",
      "id": "FunctionEntity",
      "properties": {
        "sqlCode": {
          "description": "The SQL code which creates the function.",
          "type": "string"
        },
        "customFeatures": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "Custom engine specific features."
        }
      },
      "type": "object"
    },
    "SequenceEntity": {
      "id": "SequenceEntity",
      "properties": {
        "increment": {
          "type": "string",
          "format": "int64",
          "description": "Increment value for the sequence."
        },
        "cache": {
          "description": "Indicates number of entries to cache / precreate.",
          "type": "string",
          "format": "int64"
        },
        "customFeatures": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Custom engine specific features."
        },
        "maxValue": {
          "type": "string",
          "format": "byte",
          "description": "Maximum number for the sequence represented as bytes to accommodate large. numbers"
        },
        "startValue": {
          "description": "Start number for the sequence represented as bytes to accommodate large. numbers",
          "type": "string",
          "format": "byte"
        },
        "cycle": {
          "description": "Indicates whether the sequence value should cycle through.",
          "type": "boolean"
        },
        "minValue": {
          "description": "Minimum number for the sequence represented as bytes to accommodate large. numbers",
          "type": "string",
          "format": "byte"
        }
      },
      "description": "Sequence's parent is a schema.",
      "type": "object"
    },
    "LookupMigrationJobObjectRequest": {
      "id": "LookupMigrationJobObjectRequest",
      "properties": {
        "sourceObjectIdentifier": {
          "description": "Required. The source object identifier which maps to the migration job object.",
          "$ref": "SourceObjectIdentifier"
        }
      },
      "description": "Request for looking up a specific migration job object by its source object identifier.",
      "type": "object"
    },
    "OracleToPostgresConfig": {
      "type": "object",
      "description": "Configuration for heterogeneous **Oracle to Cloud SQL for PostgreSQL** and **Oracle to AlloyDB for PostgreSQL** migrations.",
      "id": "OracleToPostgresConfig",
      "properties": {
        "oracleSourceConfig": {
          "description": "Optional. Configuration for Oracle source.",
          "$ref": "OracleSourceConfig"
        },
        "postgresDestinationConfig": {
          "$ref": "PostgresDestinationConfig",
          "description": "Optional. Configuration for Postgres destination."
        }
      }
    },
    "ResourceInfo": {
      "type": "object",
      "description": "Describes the resource that is being accessed.",
      "id": "ResourceInfo",
      "properties": {
        "resourceName": {
          "description": "The name of the resource being accessed. For example, a shared calendar name: \"example.com_4fghdhgsrgh@group.calendar.google.com\", if the current error is google.rpc.Code.PERMISSION_DENIED.",
          "type": "string"
        },
        "owner": {
          "description": "The owner of the resource (optional). For example, \"user:\" or \"project:\".",
          "type": "string"
        },
        "description": {
          "description": "Describes what error is encountered when accessing this resource. For example, updating a cloud project may require the `writer` permission on the developer console project.",
          "type": "string"
        },
        "resourceType": {
          "description": "A name for the type of resource being accessed, e.g. \"sql table\", \"cloud storage bucket\", \"file\", \"Google calendar\"; or the type URL of the resource: e.g. \"type.googleapis.com/google.pubsub.v1.Topic\".",
          "type": "string"
        }
      }
    },
    "AlloyDbConnectionProfile": {
      "type": "object",
      "description": "Specifies required connection parameters, and the parameters required to create an AlloyDB destination cluster.",
      "id": "AlloyDbConnectionProfile",
      "properties": {
        "clusterId": {
          "description": "Required. The AlloyDB cluster ID that this connection profile is associated with.",
          "type": "string"
        },
        "settings": {
          "description": "Immutable. Metadata used to create the destination AlloyDB cluster.",
          "$ref": "AlloyDbSettings"
        }
      }
    },
    "SourceTextFilter": {
      "description": "Filter for text-based data types like varchar.",
      "id": "SourceTextFilter",
      "properties": {
        "sourceMinLengthFilter": {
          "description": "Optional. The filter will match columns with length greater than or equal to this number.",
          "type": "string",
          "format": "int64"
        },
        "sourceMaxLengthFilter": {
          "description": "Optional. The filter will match columns with length smaller than or equal to this number.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "LogMiner": {
      "description": "Configuration to use LogMiner CDC method.",
      "id": "LogMiner",
      "properties": {},
      "type": "object"
    },
    "MigrationJobVerificationError": {
      "id": "MigrationJobVerificationError",
      "properties": {
        "errorCode": {
          "enumDescriptions": [
            "An unknown error occurred",
            "We failed to connect to one of the connection profile.",
            "We failed to authenticate to one of the connection profile.",
            "One of the involved connection profiles has an invalid configuration.",
            "The versions of the source and the destination are incompatible.",
            "The types of the source and the destination are incompatible.",
            "No pglogical extension installed on databases, applicable for postgres.",
            "pglogical node already exists on databases, applicable for postgres.",
            "The value of parameter wal_level is not set to logical.",
            "The value of parameter shared_preload_libraries does not include pglogical.",
            "The value of parameter max_replication_slots is not sufficient.",
            "The value of parameter max_wal_senders is not sufficient.",
            "The value of parameter max_worker_processes is not sufficient.",
            "Extensions installed are either not supported or having unsupported versions.",
            "Unsupported migration type.",
            "Invalid RDS logical replication.",
            "The gtid_mode is not supported, applicable for MySQL.",
            "The table definition is not support due to missing primary key or replica identity.",
            "The definer is not supported.",
            "Migration is already running at the time of restart request.",
            "The source already has a replication setup.",
            "The source has tables with limited support. E.g. PostgreSQL tables without primary keys.",
            "The source uses an unsupported locale.",
            "The source uses an unsupported Foreign Data Wrapper configuration.",
            "There was an underlying RDBMS error.",
            "The source DB size in Bytes exceeds a certain threshold. The migration might require an increase of quota, or might not be supported.",
            "The destination DB contains existing databases that are conflicting with those in the source DB.",
            "Insufficient privilege to enable the parallelism configuration.",
            "The destination instance contains existing data or user defined entities (for example databases, tables, or functions). You can only migrate to empty instances. Clear your destination instance and retry the migration job.",
            "The migration job is configured to use max number of subscriptions to migrate data from the source to the destination."
          ],
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "CONNECTION_FAILURE",
            "AUTHENTICATION_FAILURE",
            "INVALID_CONNECTION_PROFILE_CONFIG",
            "VERSION_INCOMPATIBILITY",
            "CONNECTION_PROFILE_TYPES_INCOMPATIBILITY",
            "NO_PGLOGICAL_INSTALLED",
            "PGLOGICAL_NODE_ALREADY_EXISTS",
            "INVALID_WAL_LEVEL",
            "INVALID_SHARED_PRELOAD_LIBRARY",
            "INSUFFICIENT_MAX_REPLICATION_SLOTS",
            "INSUFFICIENT_MAX_WAL_SENDERS",
            "INSUFFICIENT_MAX_WORKER_PROCESSES",
            "UNSUPPORTED_EXTENSIONS",
            "UNSUPPORTED_MIGRATION_TYPE",
            "INVALID_RDS_LOGICAL_REPLICATION",
            "UNSUPPORTED_GTID_MODE",
            "UNSUPPORTED_TABLE_DEFINITION",
            "UNSUPPORTED_DEFINER",
            "CANT_RESTART_RUNNING_MIGRATION",
            "SOURCE_ALREADY_SETUP",
            "TABLES_WITH_LIMITED_SUPPORT",
            "UNSUPPORTED_DATABASE_LOCALE",
            "UNSUPPORTED_DATABASE_FDW_CONFIG",
            "ERROR_RDBMS",
            "SOURCE_SIZE_EXCEEDS_THRESHOLD",
            "EXISTING_CONFLICTING_DATABASES",
            "PARALLEL_IMPORT_INSUFFICIENT_PRIVILEGE",
            "EXISTING_DATA",
            "SOURCE_MAX_SUBSCRIPTIONS"
          ],
          "description": "Output only. An instance of ErrorCode specifying the error that occurred.",
          "readOnly": true,
          "type": "string"
        },
        "errorMessage": {
          "type": "string",
          "description": "Output only. A formatted message with further details about the error and a CTA.",
          "readOnly": true
        },
        "errorDetailMessage": {
          "description": "Output only. A specific detailed error message, if supplied by the engine.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Error message of a verification Migration job.",
      "type": "object"
    },
    "PromoteMigrationJobRequest": {
      "type": "object",
      "id": "PromoteMigrationJobRequest",
      "properties": {
        "objectsFilter": {
          "description": "Optional. The object filter to apply to the migration job.",
          "$ref": "MigrationJobObjectsConfig"
        }
      },
      "description": "Request message for 'PromoteMigrationJob' request."
    },
    "GenerateTcpProxyScriptRequest": {
      "type": "object",
      "description": "Request message for 'GenerateTcpProxyScript' request.",
      "id": "GenerateTcpProxyScriptRequest",
      "properties": {
        "vmName": {
          "description": "Required. The name of the Compute instance that will host the proxy.",
          "type": "string"
        },
        "vmMachineType": {
          "description": "Required. The type of the Compute instance that will host the proxy.",
          "type": "string"
        },
        "vmZone": {
          "description": "Optional. The Google Cloud Platform zone to create the VM in. The fully qualified name of the zone must be specified, including the region name, for example \"us-central1-b\". If not specified, uses the \"-b\" zone of the destination Connection Profile's region.",
          "type": "string"
        },
        "vmSubnet": {
          "description": "Required. The name of the subnet the Compute instance will use for private connectivity. Must be supplied in the form of projects/{project}/regions/{region}/subnetworks/{subnetwork}. Note: the region for the subnet must match the Compute instance region.",
          "type": "string"
        }
      }
    },
    "ReverseSshConnectivity": {
      "id": "ReverseSshConnectivity",
      "properties": {
        "vmPort": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The forwarding port of the virtual machine (Compute Engine) used as the bastion server for the SSH tunnel."
        },
        "vm": {
          "description": "The name of the virtual machine (Compute Engine) used as the bastion server for the SSH tunnel.",
          "type": "string"
        },
        "vmIp": {
          "description": "Required. The IP of the virtual machine (Compute Engine) used as the bastion server for the SSH tunnel.",
          "type": "string"
        },
        "vpc": {
          "description": "The name of the VPC to peer with the Cloud SQL private network.",
          "type": "string"
        }
      },
      "description": "The details needed to configure a reverse SSH tunnel between the source and destination databases. These details will be used when calling the generateSshScript method (see https://cloud.google.com/database-migration/docs/reference/rest/v1/projects.locations.migrationJobs/generateSshScript) to produce the script that will help set up the reverse SSH tunnel, and to set up the VPC peering between the Cloud SQL private network and the VPC.",
      "type": "object"
    },
    "SetTablePrimaryKey": {
      "type": "object",
      "properties": {
        "primaryKeyColumns": {
          "type": "array",
          "description": "Required. List of column names for the primary key",
          "items": {
            "type": "string"
          }
        },
        "primaryKey": {
          "description": "Optional. Name for the primary key",
          "type": "string"
        }
      },
      "description": "Deprecated: Options to configure rule type SetTablePrimaryKey. The rule is used to specify the columns and name to configure/alter the primary key of a table. The rule filter field can refer to one entity. The rule scope can be one of: Table.",
      "deprecated": true,
      "id": "SetTablePrimaryKey"
    },
    "GoogleCloudClouddmsV1OperationMetadata": {
      "id": "GoogleCloudClouddmsV1OperationMetadata",
      "properties": {
        "apiVersion": {
          "type": "string",
          "description": "Output only. API version used to start the operation.",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "readOnly": true
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "statusMessage": {
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true
        },
        "requestedCancellation": {
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "metadata": {
          "description": "Output only. Additional metadata that is returned by the backend for the operation.",
          "readOnly": true,
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Represents the metadata of the long-running operation.",
      "type": "object"
    },
    "SingleEntityRename": {
      "description": "Options to configure rule type SingleEntityRename. The rule is used to rename an entity. The rule filter field can refer to only one entity. The rule scope can be one of: Database, Schema, Table, Column, Constraint, Index, View, Function, Stored Procedure, Materialized View, Sequence, UDT, Synonym",
      "id": "SingleEntityRename",
      "properties": {
        "newName": {
          "description": "Required. The new name of the destination entity",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PostgresDestinationConfig": {
      "id": "PostgresDestinationConfig",
      "properties": {
        "maxConcurrentConnections": {
          "description": "Optional. Maximum number of connections Database Migration Service will open to the destination for data migration.",
          "type": "integer",
          "format": "int32"
        },
        "transactionTimeout": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. Timeout for data migration transactions."
        }
      },
      "description": "Configuration for Postgres as a destination in a migration.",
      "type": "object"
    },
    "ListMigrationJobsResponse": {
      "id": "ListMigrationJobsResponse",
      "properties": {
        "migrationJobs": {
          "description": "The list of migration jobs objects.",
          "items": {
            "$ref": "MigrationJob"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Response message for 'ListMigrationJobs' request.",
      "type": "object"
    },
    "MachineConfig": {
      "description": "MachineConfig describes the configuration of a machine.",
      "id": "MachineConfig",
      "properties": {
        "cpuCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of CPU's in the VM instance."
        },
        "machineType": {
          "description": "Optional. Machine type of the VM instance. E.g. \"n2-highmem-4\", \"n2-highmem-8\", \"c4a-highmem-4-lssd\". cpu_count must match the number of vCPUs in the machine type.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AlloyDbSettings": {
      "description": "Settings for creating an AlloyDB cluster.",
      "id": "AlloyDbSettings",
      "properties": {
        "primaryInstanceSettings": {
          "description": "Settings for the cluster's primary instance",
          "$ref": "PrimaryInstanceSettings"
        },
        "encryptionConfig": {
          "$ref": "EncryptionConfig",
          "description": "Optional. The encryption config can be specified to encrypt the data disks and other persistent data resources of a cluster with a customer-managed encryption key (CMEK). When this field is not specified, the cluster will then use default encryption scheme to protect the user data."
        },
        "databaseVersion": {
          "description": "Optional. The database engine major version. This is an optional field. If a database version is not supplied at cluster creation time, then a default database version will be used.",
          "enumDescriptions": [
            "This is an unknown database version.",
            "The database version is Postgres 14.",
            "The database version is Postgres 15.",
            "The database version is Postgres 16.",
            "The database version is Postgres 17.",
            "The database version is Postgres 18."
          ],
          "enum": [
            "DATABASE_VERSION_UNSPECIFIED",
            "POSTGRES_14",
            "POSTGRES_15",
            "POSTGRES_16",
            "POSTGRES_17",
            "POSTGRES_18"
          ],
          "type": "string"
        },
        "initialUser": {
          "description": "Required. Input only. Initial user to setup during cluster creation. Required.",
          "$ref": "UserPassword"
        },
        "vpcNetwork": {
          "description": "Required. The resource link for the VPC network in which cluster resources are created and from which they are accessible via Private IP. The network must belong to the same project as the cluster. It is specified in the form: \"projects/{project_number}/global/networks/{network_id}\". This is required to create a cluster.",
          "type": "string"
        },
        "labels": {
          "description": "Labels for the AlloyDB cluster created by DMS. An object containing a list of 'key', 'value' pairs.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "Location": {
      "id": "Location",
      "properties": {
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location."
        }
      },
      "description": "A resource that represents a Google Cloud location.",
      "type": "object"
    },
    "BackgroundJobLogEntry": {
      "type": "object",
      "id": "BackgroundJobLogEntry",
      "properties": {
        "id": {
          "description": "The background job log entry ID.",
          "type": "string"
        },
        "finishTime": {
          "description": "The timestamp when the background job was finished.",
          "type": "string",
          "format": "google-datetime"
        },
        "convertJobDetails": {
          "description": "Output only. Convert job details.",
          "readOnly": true,
          "$ref": "ConvertJobDetails"
        },
        "completionState": {
          "description": "Output only. Job completion state, i.e. the final state after the job completed.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The status is not specified. This state is used when job is not yet finished.",
            "Success.",
            "Error."
          ],
          "enum": [
            "JOB_COMPLETION_STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED"
          ]
        },
        "jobType": {
          "type": "string",
          "description": "The type of job that was executed.",
          "enumDescriptions": [
            "Unspecified background job type.",
            "Job to seed from the source database.",
            "Job to convert the source database into a draft of the destination database.",
            "Job to apply the draft tree onto the destination.",
            "Job to import and convert mapping rules from an external source such as an ora2pg config file."
          ],
          "enum": [
            "BACKGROUND_JOB_TYPE_UNSPECIFIED",
            "BACKGROUND_JOB_TYPE_SOURCE_SEED",
            "BACKGROUND_JOB_TYPE_CONVERT",
            "BACKGROUND_JOB_TYPE_APPLY_DESTINATION",
            "BACKGROUND_JOB_TYPE_IMPORT_RULES_FILE"
          ]
        },
        "completionComment": {
          "type": "string",
          "description": "Output only. Job completion comment, such as how many entities were seeded, how many warnings were found during conversion, and similar information.",
          "readOnly": true
        },
        "seedJobDetails": {
          "$ref": "SeedJobDetails",
          "description": "Output only. Seed job details.",
          "readOnly": true
        },
        "importRulesJobDetails": {
          "$ref": "ImportRulesJobDetails",
          "description": "Output only. Import rules job details.",
          "readOnly": true
        },
        "requestAutocommit": {
          "description": "Output only. Whether the client requested the conversion workspace to be committed after a successful completion of the job.",
          "readOnly": true,
          "type": "boolean"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The timestamp when the background job was started."
        },
        "applyJobDetails": {
          "$ref": "ApplyJobDetails",
          "description": "Output only. Apply job details.",
          "readOnly": true
        }
      },
      "description": "Execution log of a background job."
    },
    "SqlServerDatabaseBackup": {
      "id": "SqlServerDatabaseBackup",
      "properties": {
        "database": {
          "description": "Required. Name of a SQL Server database for which to define backup configuration.",
          "type": "string"
        },
        "encryptionOptions": {
          "$ref": "SqlServerEncryptionOptions",
          "description": "Optional. Encryption settings for the database. Required if provided database backups are encrypted. Encryption settings include path to certificate, path to certificate private key, and key password."
        }
      },
      "description": "Specifies the backup details for a single database in Cloud Storage for homogeneous migration to Cloud SQL for SQL Server.",
      "type": "object"
    },
    "PrivateServiceConnectConnectivity": {
      "id": "PrivateServiceConnectConnectivity",
      "properties": {
        "serviceAttachment": {
          "description": "Required. A service attachment that exposes a database, and has the following format: projects/{project}/regions/{region}/serviceAttachments/{service_attachment_name}",
          "type": "string"
        }
      },
      "description": "[Private Service Connect connectivity](https://cloud.google.com/vpc/docs/private-service-connect#service-attachments)",
      "type": "object"
    },
    "MaterializedViewEntity": {
      "description": "MaterializedView's parent is a schema.",
      "id": "MaterializedViewEntity",
      "properties": {
        "indices": {
          "type": "array",
          "description": "View indices.",
          "items": {
            "$ref": "IndexEntity"
          }
        },
        "customFeatures": {
          "description": "Custom engine specific features.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "sqlCode": {
          "description": "The SQL code which creates the view.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "OracleConnectionProfile": {
      "type": "object",
      "id": "OracleConnectionProfile",
      "properties": {
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The network port of the source Oracle database."
        },
        "privateConnectivity": {
          "$ref": "PrivateConnectivity",
          "description": "Private connectivity."
        },
        "oracleAsmConfig": {
          "$ref": "OracleAsmConfig",
          "description": "Optional. Configuration for Oracle ASM connection."
        },
        "host": {
          "description": "Required. The IP or hostname of the source Oracle database.",
          "type": "string"
        },
        "username": {
          "description": "Required. The username that Database Migration Service will use to connect to the database. The value is encrypted when stored in Database Migration Service.",
          "type": "string"
        },
        "password": {
          "description": "Required. Input only. The password for the user that Database Migration Service will be using to connect to the database. This field is not returned on request, and the value is encrypted when stored in Database Migration Service.",
          "type": "string"
        },
        "databaseService": {
          "description": "Required. Database service for the Oracle connection.",
          "type": "string"
        },
        "staticServiceIpConnectivity": {
          "description": "Static Service IP connectivity.",
          "$ref": "StaticServiceIpConnectivity"
        },
        "ssl": {
          "$ref": "SslConfig",
          "description": "SSL configuration for the connection to the source Oracle database. * Only `SERVER_ONLY` configuration is supported for Oracle SSL. * SSL is supported for Oracle versions 12 and above."
        },
        "passwordSet": {
          "type": "boolean",
          "description": "Output only. Indicates whether a new password is included in the request.",
          "readOnly": true
        },
        "forwardSshConnectivity": {
          "description": "Forward SSH tunnel connectivity.",
          "$ref": "ForwardSshTunnelConnectivity"
        }
      },
      "description": "Specifies connection parameters required specifically for Oracle databases."
    },
    "EntityMappingLogEntry": {
      "type": "object",
      "description": "A single record of a rule which was used for a mapping.",
      "id": "EntityMappingLogEntry",
      "properties": {
        "ruleId": {
          "description": "Which rule caused this log entry.",
          "type": "string"
        },
        "ruleRevisionId": {
          "description": "Rule revision ID.",
          "type": "string"
        },
        "mappingComment": {
          "description": "Comment.",
          "type": "string"
        }
      }
    },
    "SchemaEntity": {
      "type": "object",
      "id": "SchemaEntity",
      "properties": {
        "customFeatures": {
          "description": "Custom engine specific features.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "description": "Schema typically has no parent entity, but can have a parent entity DatabaseInstance (for database engines which support it). For some database engines, the terms schema and user can be used interchangeably when they refer to a namespace or a collection of other database entities. Can store additional information which is schema specific."
    },
    "SynonymEntity": {
      "type": "object",
      "description": "Synonym's parent is a schema.",
      "id": "SynonymEntity",
      "properties": {
        "customFeatures": {
          "description": "Custom engine specific features.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "sourceType": {
          "type": "string",
          "description": "The type of the entity for which the synonym is being created (usually a table or a sequence).",
          "enumDescriptions": [
            "Unspecified database entity type.",
            "Schema.",
            "Table.",
            "Column.",
            "Constraint.",
            "Index.",
            "Trigger.",
            "View.",
            "Sequence.",
            "Stored Procedure.",
            "Function.",
            "Synonym.",
            "Package.",
            "UDT.",
            "Materialized View.",
            "Database."
          ],
          "enum": [
            "DATABASE_ENTITY_TYPE_UNSPECIFIED",
            "DATABASE_ENTITY_TYPE_SCHEMA",
            "DATABASE_ENTITY_TYPE_TABLE",
            "DATABASE_ENTITY_TYPE_COLUMN",
            "DATABASE_ENTITY_TYPE_CONSTRAINT",
            "DATABASE_ENTITY_TYPE_INDEX",
            "DATABASE_ENTITY_TYPE_TRIGGER",
            "DATABASE_ENTITY_TYPE_VIEW",
            "DATABASE_ENTITY_TYPE_SEQUENCE",
            "DATABASE_ENTITY_TYPE_STORED_PROCEDURE",
            "DATABASE_ENTITY_TYPE_FUNCTION",
            "DATABASE_ENTITY_TYPE_SYNONYM",
            "DATABASE_ENTITY_TYPE_DATABASE_PACKAGE",
            "DATABASE_ENTITY_TYPE_UDT",
            "DATABASE_ENTITY_TYPE_MATERIALIZED_VIEW",
            "DATABASE_ENTITY_TYPE_DATABASE"
          ]
        },
        "sourceEntity": {
          "description": "The name of the entity for which the synonym is being created (the source).",
          "type": "string"
        }
      }
    },
    "SqlAclEntry": {
      "description": "An entry for an Access Control list.",
      "id": "SqlAclEntry",
      "properties": {
        "expireTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time when this access control entry expires in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example: `2012-11-15T16:19:00.094Z`."
        },
        "ttl": {
          "type": "string",
          "format": "google-duration",
          "description": "Input only. The time-to-leave of this access control entry."
        },
        "value": {
          "description": "The allowlisted value for the access control list.",
          "type": "string"
        },
        "label": {
          "description": "A label to identify this entry.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "StaticIpConnectivity": {
      "description": "The source database will allow incoming connections from the public IP of the destination database. You can retrieve the public IP of the Cloud SQL instance from the Cloud SQL console or using Cloud SQL APIs. No additional configuration is required.",
      "id": "StaticIpConnectivity",
      "properties": {},
      "type": "object"
    },
    "SourceNumericFilter": {
      "id": "SourceNumericFilter",
      "properties": {
        "sourceMinScaleFilter": {
          "description": "Optional. The filter will match columns with scale greater than or equal to this number.",
          "type": "integer",
          "format": "int32"
        },
        "sourceMaxScaleFilter": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The filter will match columns with scale smaller than or equal to this number."
        },
        "sourceMaxPrecisionFilter": {
          "description": "Optional. The filter will match columns with precision smaller than or equal to this number.",
          "type": "integer",
          "format": "int32"
        },
        "numericFilterOption": {
          "type": "string",
          "description": "Required. Enum to set the option defining the datatypes numeric filter has to be applied to",
          "enumDescriptions": [
            "Numeric filter option unspecified",
            "Numeric filter option that matches all numeric columns.",
            "Numeric filter option that matches columns having numeric datatypes with specified precision and scale within the limited range of filter.",
            "Numeric filter option that matches only the numeric columns with no precision and scale specified."
          ],
          "enum": [
            "NUMERIC_FILTER_OPTION_UNSPECIFIED",
            "NUMERIC_FILTER_OPTION_ALL",
            "NUMERIC_FILTER_OPTION_LIMIT",
            "NUMERIC_FILTER_OPTION_LIMITLESS"
          ]
        },
        "sourceMinPrecisionFilter": {
          "description": "Optional. The filter will match columns with precision greater than or equal to this number.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Filter for fixed point number data types such as NUMERIC/NUMBER",
      "type": "object"
    },
    "MultiEntityRename": {
      "type": "object",
      "id": "MultiEntityRename",
      "properties": {
        "sourceNameTransformation": {
          "description": "Optional. Additional transformation that can be done on the source entity name before it is being used by the new_name_pattern, for example lower case. If no transformation is desired, use NO_TRANSFORMATION",
          "enumDescriptions": [
            "Entity name transformation unspecified.",
            "No transformation.",
            "Transform to lower case.",
            "Transform to upper case.",
            "Transform to capitalized case."
          ],
          "enum": [
            "ENTITY_NAME_TRANSFORMATION_UNSPECIFIED",
            "ENTITY_NAME_TRANSFORMATION_NO_TRANSFORMATION",
            "ENTITY_NAME_TRANSFORMATION_LOWER_CASE",
            "ENTITY_NAME_TRANSFORMATION_UPPER_CASE",
            "ENTITY_NAME_TRANSFORMATION_CAPITALIZED_CASE"
          ],
          "type": "string"
        },
        "newNamePattern": {
          "description": "Optional. The pattern used to generate the new entity's name. This pattern must include the characters '{name}', which will be replaced with the name of the original entity. For example, the pattern 't_{name}' for an entity name jobs would be converted to 't_jobs'. If unspecified, the default value for this field is '{name}'",
          "type": "string"
        }
      },
      "description": "Options to configure rule type MultiEntityRename. The rule is used to rename multiple entities. The rule filter field can refer to one or more entities. The rule scope can be one of: Database, Schema, Table, Column, Constraint, Index, View, Function, Stored Procedure, Materialized View, Sequence, UDT"
    },
    "TableEntity": {
      "id": "TableEntity",
      "properties": {
        "comment": {
          "description": "Comment associated with the table.",
          "type": "string"
        },
        "customFeatures": {
          "description": "Custom engine specific features.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "columns": {
          "type": "array",
          "description": "Table columns.",
          "items": {
            "$ref": "ColumnEntity"
          }
        },
        "constraints": {
          "type": "array",
          "description": "Table constraints.",
          "items": {
            "$ref": "ConstraintEntity"
          }
        },
        "indices": {
          "description": "Table indices.",
          "items": {
            "$ref": "IndexEntity"
          },
          "type": "array"
        },
        "triggers": {
          "type": "array",
          "description": "Table triggers.",
          "items": {
            "$ref": "TriggerEntity"
          }
        }
      },
      "description": "Table's parent is a schema.",
      "type": "object"
    },
    "OracleAsmLogFileAccess": {
      "description": "Configuration to use Oracle ASM to access the log files.",
      "id": "OracleAsmLogFileAccess",
      "properties": {},
      "type": "object"
    },
    "ValueListFilter": {
      "id": "ValueListFilter",
      "properties": {
        "values": {
          "type": "array",
          "description": "Required. The list to be used to filter by",
          "items": {
            "type": "string"
          }
        },
        "ignoreCase": {
          "description": "Required. Whether to ignore case when filtering by values. Defaults to false",
          "type": "boolean"
        },
        "valuePresentList": {
          "description": "Required. Indicates whether the filter matches rows with values that are present in the list or those with values not present in it.",
          "enumDescriptions": [
            "Value present in list unspecified",
            "If the source value is in the supplied list at value_list",
            "If the source value is not in the supplied list at value_list"
          ],
          "enum": [
            "VALUE_PRESENT_IN_LIST_UNSPECIFIED",
            "VALUE_PRESENT_IN_LIST_IF_VALUE_LIST",
            "VALUE_PRESENT_IN_LIST_IF_VALUE_NOT_LIST"
          ],
          "type": "string"
        }
      },
      "description": "A list of values to filter by in ConditionalColumnSetValue",
      "type": "object"
    },
    "DemoteDestinationRequest": {
      "type": "object",
      "description": "Request message for 'DemoteDestination' request.",
      "id": "DemoteDestinationRequest",
      "properties": {}
    },
    "ApplyHash": {
      "id": "ApplyHash",
      "properties": {
        "uuidFromBytes": {
          "description": "Optional. Generate UUID from the data's byte array",
          "$ref": "Empty"
        }
      },
      "description": "Apply a hash function on the value.",
      "type": "object"
    },
    "StartMigrationJobRequest": {
      "id": "StartMigrationJobRequest",
      "properties": {
        "skipValidation": {
          "description": "Optional. Start the migration job without running prior configuration verification. Defaults to `false`.",
          "type": "boolean"
        }
      },
      "description": "Request message for 'StartMigrationJob' request.",
      "type": "object"
    },
    "AuditLogConfig": {
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "id": "AuditLogConfig",
      "properties": {
        "logType": {
          "description": "The log type that this config enables.",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "type": "string"
        },
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "FetchStaticIpsResponse": {
      "id": "FetchStaticIpsResponse",
      "properties": {
        "staticIps": {
          "type": "array",
          "description": "List of static IPs.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for a 'FetchStaticIps' request.",
      "type": "object"
    },
    "OracleAsmConfig": {
      "id": "OracleAsmConfig",
      "properties": {
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "Required. Port for the Oracle ASM connection."
        },
        "hostname": {
          "description": "Required. Hostname for the Oracle ASM connection.",
          "type": "string"
        },
        "asmService": {
          "description": "Required. ASM service name for the Oracle ASM connection.",
          "type": "string"
        },
        "username": {
          "description": "Required. Username for the Oracle ASM connection.",
          "type": "string"
        },
        "ssl": {
          "description": "Optional. SSL configuration for the Oracle connection.",
          "$ref": "SslConfig"
        },
        "password": {
          "description": "Required. Input only. Password for the Oracle ASM connection.",
          "type": "string"
        },
        "passwordSet": {
          "type": "boolean",
          "description": "Output only. Indicates whether a new password is included in the request.",
          "readOnly": true
        }
      },
      "description": "Configuration for Oracle Automatic Storage Management (ASM) connection.",
      "type": "object"
    },
    "DataCacheConfig": {
      "description": "Data cache is an optional feature available for Cloud SQL for MySQL Enterprise Plus edition only. For more information on data cache, see [Data cache overview](https://cloud.google.com/sql/help/mysql-data-cache) in Cloud SQL documentation.",
      "id": "DataCacheConfig",
      "properties": {
        "dataCacheEnabled": {
          "description": "Optional. Whether data cache is enabled for the instance.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "properties": {
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DoubleComparisonFilter": {
      "description": "Filter based on relation between source value and compare value of type double in ConditionalColumnSetValue",
      "id": "DoubleComparisonFilter",
      "properties": {
        "valueComparison": {
          "description": "Required. Relation between source value and compare value",
          "enumDescriptions": [
            "Value comparison unspecified.",
            "Value is smaller than the Compare value.",
            "Value is smaller or equal than the Compare value.",
            "Value is larger than the Compare value.",
            "Value is larger or equal than the Compare value."
          ],
          "enum": [
            "VALUE_COMPARISON_UNSPECIFIED",
            "VALUE_COMPARISON_IF_VALUE_SMALLER_THAN",
            "VALUE_COMPARISON_IF_VALUE_SMALLER_EQUAL_THAN",
            "VALUE_COMPARISON_IF_VALUE_LARGER_THAN",
            "VALUE_COMPARISON_IF_VALUE_LARGER_EQUAL_THAN"
          ],
          "type": "string"
        },
        "value": {
          "type": "number",
          "format": "double",
          "description": "Required. Double compare value to be used"
        }
      },
      "type": "object"
    },
    "EntityMove": {
      "id": "EntityMove",
      "properties": {
        "newSchema": {
          "description": "Required. The new schema",
          "type": "string"
        }
      },
      "description": "Options to configure rule type EntityMove. The rule is used to move an entity to a new schema. The rule filter field can refer to one or more entities. The rule scope can be one of: Table, Column, Constraint, Index, View, Function, Stored Procedure, Materialized View, Sequence, UDT",
      "type": "object"
    },
    "ValueTransformation": {
      "description": "Description of data transformation during migration as part of the ConditionalColumnSetValue.",
      "id": "ValueTransformation",
      "properties": {
        "intComparison": {
          "description": "Optional. Filter on relation between source value and compare value of type integer.",
          "$ref": "IntComparisonFilter"
        },
        "isNull": {
          "description": "Optional. Value is null",
          "$ref": "Empty"
        },
        "assignMinValue": {
          "description": "Optional. Set to min_value - if integer or numeric, will use int.minvalue, etc",
          "$ref": "Empty"
        },
        "roundScale": {
          "$ref": "RoundToScale",
          "description": "Optional. Allows the data to change scale"
        },
        "applyHash": {
          "description": "Optional. Applies a hash function on the data",
          "$ref": "ApplyHash"
        },
        "valueList": {
          "$ref": "ValueListFilter",
          "description": "Optional. Value is found in the specified list."
        },
        "assignMaxValue": {
          "$ref": "Empty",
          "description": "Optional. Set to max_value - if integer or numeric, will use int.maxvalue, etc"
        },
        "assignSpecificValue": {
          "description": "Optional. Set to a specific value (value is converted to fit the target data type)",
          "$ref": "AssignSpecificValue"
        },
        "doubleComparison": {
          "$ref": "DoubleComparisonFilter",
          "description": "Optional. Filter on relation between source value and compare value of type double."
        },
        "assignNull": {
          "description": "Optional. Set to null",
          "$ref": "Empty"
        }
      },
      "type": "object"
    },
    "SqlServerDestinationConfig": {
      "id": "SqlServerDestinationConfig",
      "properties": {
        "transactionTimeout": {
          "description": "Optional. Timeout for data migration transactions.",
          "type": "string",
          "format": "google-duration"
        },
        "maxConcurrentConnections": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Maximum number of connections Database Migration Service will open to the destination for data migration."
        }
      },
      "description": "Configuration for SQL Server as a destination in a migration.",
      "type": "object"
    },
    "LocalizedMessage": {
      "id": "LocalizedMessage",
      "properties": {
        "locale": {
          "description": "The locale used following the specification defined at https://www.rfc-editor.org/rfc/bcp/bcp47.txt. Examples are: \"en-US\", \"fr-CH\", \"es-MX\"",
          "type": "string"
        },
        "message": {
          "description": "The localized error message in the above locale.",
          "type": "string"
        }
      },
      "description": "Provides a localized error message that is safe to return to the user which can be attached to an RPC error.",
      "type": "object"
    },
    "TestIamPermissionsRequest": {
      "id": "TestIamPermissionsRequest",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Request message for `TestIamPermissions` method.",
      "type": "object"
    },
    "PrimaryInstanceSettings": {
      "type": "object",
      "description": "Settings for the cluster's primary instance",
      "id": "PrimaryInstanceSettings",
      "properties": {
        "instanceNetworkConfig": {
          "description": "Optional. Metadata related to instance level network configuration.",
          "$ref": "InstanceNetworkConfig"
        },
        "machineConfig": {
          "$ref": "MachineConfig",
          "description": "Configuration for the machines that host the underlying database engine."
        },
        "id": {
          "description": "Required. The ID of the AlloyDB primary instance. The ID must satisfy the regex expression \"[a-z0-9-]+\".",
          "type": "string"
        },
        "outboundPublicIpAddresses": {
          "type": "array",
          "description": "Output only. All outbound public IP addresses configured for the instance.",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "databaseFlags": {
          "description": "Database flags to pass to AlloyDB when DMS is creating the AlloyDB cluster and instances. See the AlloyDB documentation for how these can be used.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels for the AlloyDB primary instance created by DMS. An object containing a list of 'key', 'value' pairs."
        },
        "privateIp": {
          "type": "string",
          "description": "Output only. The private IP address for the Instance. This is the connection endpoint for an end-user application.",
          "readOnly": true
        }
      }
    },
    "MigrationJob": {
      "type": "object",
      "description": "Represents a Database Migration Service migration job object.",
      "id": "MigrationJob",
      "properties": {
        "vpcPeeringConnectivity": {
          "$ref": "VpcPeeringConnectivity",
          "description": "The details of the VPC network that the source database is located in."
        },
        "type": {
          "type": "string",
          "description": "Required. The migration job type.",
          "enumDescriptions": [
            "The type of the migration job is unknown.",
            "The migration job is a one time migration.",
            "The migration job is a continuous migration."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "ONE_TIME",
            "CONTINUOUS"
          ]
        },
        "dumpFlags": {
          "$ref": "DumpFlags",
          "description": "The initial dump flags. This field and the \"dump_path\" field are mutually exclusive."
        },
        "error": {
          "description": "Output only. The error details in case of state FAILED.",
          "readOnly": true,
          "$ref": "Status"
        },
        "oracleToPostgresConfig": {
          "$ref": "OracleToPostgresConfig",
          "description": "Configuration for heterogeneous **Oracle to Cloud SQL for PostgreSQL** and **Oracle to AlloyDB for PostgreSQL** migrations."
        },
        "labels": {
[...]
