{
  "version": "v1b3",
  "revision": "20260924",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "baseUrl": "https://dataflow.googleapis.com/",
  "basePath": "",
  "name": "dataflow",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "mtlsRootUrl": "https://dataflow.mtls.googleapis.com/",
  "protocol": "rest",
  "description": "Manages Google Cloud Dataflow projects on Google Cloud Platform.",
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "endpoints": [
    {
      "location": "africa-south1",
      "endpointUrl": "https://dataflow.africa-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-east1",
      "endpointUrl": "https://dataflow.asia-east1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-east2",
      "endpointUrl": "https://dataflow.asia-east2.rep.googleapis.com/"
    },
    {
      "location": "asia-northeast1",
      "endpointUrl": "https://dataflow.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.asia-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast2"
    },
    {
      "endpointUrl": "https://dataflow.asia-northeast3.rep.googleapis.com/",
      "location": "asia-northeast3",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-south1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.asia-south1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-south2",
      "endpointUrl": "https://dataflow.asia-south2.rep.googleapis.com/"
    },
    {
      "location": "asia-southeast1",
      "endpointUrl": "https://dataflow.asia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-southeast2",
      "endpointUrl": "https://dataflow.asia-southeast2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dataflow.asia-southeast3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast3"
    },
    {
      "endpointUrl": "https://dataflow.australia-southeast1.rep.googleapis.com/",
      "location": "australia-southeast1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "australia-southeast2",
      "endpointUrl": "https://dataflow.australia-southeast2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.europe-central2.rep.googleapis.com/",
      "location": "europe-central2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.europe-north1.rep.googleapis.com/",
      "location": "europe-north1"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-north2",
      "endpointUrl": "https://dataflow.europe-north2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.europe-southwest1.rep.googleapis.com/",
      "location": "europe-southwest1"
    },
    {
      "endpointUrl": "https://dataflow.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west1"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west10",
      "endpointUrl": "https://dataflow.europe-west10.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dataflow.europe-west12.rep.googleapis.com/",
      "location": "europe-west12",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.europe-west2.rep.googleapis.com/",
      "location": "europe-west2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.europe-west3.rep.googleapis.com/",
      "location": "europe-west3"
    },
    {
      "location": "europe-west4",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.europe-west4.rep.googleapis.com/"
    },
    {
      "location": "europe-west6",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.europe-west6.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dataflow.europe-west8.rep.googleapis.com/",
      "location": "europe-west8",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west9",
      "endpointUrl": "https://dataflow.europe-west9.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "me-central1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.me-central1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dataflow.me-central2.rep.googleapis.com/",
      "location": "me-central2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "me-west1",
      "endpointUrl": "https://dataflow.me-west1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dataflow.northamerica-northeast1.rep.googleapis.com/",
      "location": "northamerica-northeast1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.northamerica-northeast2.rep.googleapis.com/",
      "location": "northamerica-northeast2"
    },
    {
      "endpointUrl": "https://dataflow.northamerica-south1.rep.googleapis.com/",
      "location": "northamerica-south1",
      "description": "Regional Endpoint"
    },
    {
      "location": "southamerica-east1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.southamerica-east1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "southamerica-west1",
      "endpointUrl": "https://dataflow.southamerica-west1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dataflow.us-central1.rep.googleapis.com/",
      "location": "us-central1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-central2",
      "endpointUrl": "https://dataflow.us-central2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dataflow.us-east1.rep.googleapis.com/",
      "location": "us-east1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.us-east4.rep.googleapis.com/",
      "location": "us-east4",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.us-east5.rep.googleapis.com/",
      "location": "us-east5",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.us-east7.rep.googleapis.com/",
      "location": "us-east7",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.us-south1.rep.googleapis.com/",
      "location": "us-south1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.us-west1.rep.googleapis.com/",
      "location": "us-west1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west2",
      "endpointUrl": "https://dataflow.us-west2.rep.googleapis.com/"
    },
    {
      "location": "us-west3",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.us-west3.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dataflow.us-west4.rep.googleapis.com/",
      "location": "us-west4",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.us-west8.rep.googleapis.com/",
      "location": "us-west8",
      "description": "Regional Endpoint"
    }
  ],
  "documentationLink": "https://cloud.google.com/dataflow",
  "rootUrl": "https://dataflow.googleapis.com/",
  "servicePath": "",
  "id": "dataflow:v1b3",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/compute": {
          "description": "View and manage your Google Compute Engine resources"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "resources": {
    "organizations": {
      "resources": {
        "locations": {
          "resources": {
            "configStoreSettings": {
              "methods": {
                "create": {
                  "description": "Creates a new ConfigStoreSetting.",
                  "request": {
                    "$ref": "ConfigStoreSetting"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ConfigStoreSetting"
                  },
                  "parameters": {
                    "configStoreSettingId": {
                      "location": "query",
                      "description": "Required. The ID to use for the setting.",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource where this setting will be created.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "path": "v1b3/{+parent}/configStoreSettings",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "httpMethod": "POST",
                  "id": "dataflow.organizations.locations.configStoreSettings.create",
                  "flatPath": "v1b3/organizations/{organizationsId}/locations/{locationsId}/configStoreSettings"
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "description": "Gets a ConfigStoreSetting.",
                  "response": {
                    "$ref": "ConfigStoreSetting"
                  },
                  "httpMethod": "GET",
                  "id": "dataflow.organizations.locations.configStoreSettings.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1b3/organizations/{organizationsId}/locations/{locationsId}/configStoreSettings/{configStoreSettingsId}",
                  "path": "v1b3/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The name of the ConfigStoreSetting to retrieve.",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/configStoreSettings/[^/]+$",
                      "required": true
                    }
                  }
                },
                "list": {
                  "path": "v1b3/{+parent}/configStoreSettings",
                  "response": {
                    "$ref": "ListConfigStoreSettingsResponse"
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1b3/organizations/{organizationsId}/locations/{locationsId}/configStoreSettings",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. The maximum number of settings to return.",
                      "format": "int32",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource whose settings are being listed.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListConfigStoreSettings` call.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists ConfigStoreSettings.",
                  "id": "dataflow.organizations.locations.configStoreSettings.list"
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The name of the ConfigStoreSetting to delete.",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/configStoreSettings/[^/]+$",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "dataflow.organizations.locations.configStoreSettings.delete",
                  "flatPath": "v1b3/organizations/{organizationsId}/locations/{locationsId}/configStoreSettings/{configStoreSettingsId}",
                  "path": "v1b3/{+name}",
                  "description": "Deletes an existing ConfigStoreSetting.",
                  "httpMethod": "DELETE"
                },
                "resolve": {
                  "flatPath": "v1b3/organizations/{organizationsId}/locations/{locationsId}/configStoreSettings/{configStoreSettingsId}:resolve",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/configStoreSettings/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the setting to resolve.",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "id": "dataflow.organizations.locations.configStoreSettings.resolve",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "ResolveConfigStoreSettingResponse"
                  },
                  "path": "v1b3/{+name}:resolve",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "description": "Resolves effective value of a ConfigStoreSetting.",
                  "request": {
                    "$ref": "ResolveConfigStoreSettingRequest"
                  },
                  "httpMethod": "POST"
                }
              }
            }
          }
        }
      }
    },
    "projects": {
      "methods": {
        "deleteSnapshots": {
          "id": "dataflow.projects.deleteSnapshots",
          "path": "v1b3/projects/{projectId}/snapshots",
          "parameterOrder": [
            "projectId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute"
          ],
          "httpMethod": "DELETE",
          "flatPath": "v1b3/projects/{projectId}/snapshots",
          "parameters": {
            "projectId": {
              "required": true,
              "type": "string",
              "description": "The ID of the Cloud Platform project that the snapshot belongs to.",
              "location": "path"
            },
            "location": {
              "location": "query",
              "type": "string",
              "description": "The location that contains this snapshot."
            },
            "snapshotId": {
              "description": "The ID of the snapshot.",
              "type": "string",
              "location": "query"
            }
          },
          "response": {
            "$ref": "DeleteSnapshotResponse"
          },
          "description": "Deletes a snapshot."
        },
        "workerMessages": {
          "flatPath": "v1b3/projects/{projectId}/WorkerMessages",
          "id": "dataflow.projects.workerMessages",
          "path": "v1b3/projects/{projectId}/WorkerMessages",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute"
          ],
          "parameters": {
            "projectId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The project to send the WorkerMessages to."
            }
          },
          "parameterOrder": [
            "projectId"
          ],
          "response": {
            "$ref": "SendWorkerMessagesResponse"
          },
          "request": {
            "$ref": "SendWorkerMessagesRequest"
          },
          "description": "Send a worker_message to the service."
        }
      },
      "resources": {
        "templates": {
          "methods": {
            "create": {
              "description": "Creates a Cloud Dataflow job from a template. Do not enter confidential information when you supply string values using the API. To create a job, we recommend using `projects.locations.templates.create` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.templates.create` is not recommended, because your job will always start in `us-central1`. # IAM Permissions Requires the following IAM permission(s) on the project: - `dataflow.jobs.create` - `resourcemanager.projects.get`",
              "httpMethod": "POST",
              "request": {
                "$ref": "CreateJobFromTemplateRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "flatPath": "v1b3/projects/{projectId}/templates",
              "id": "dataflow.projects.templates.create",
              "path": "v1b3/projects/{projectId}/templates",
              "parameterOrder": [
                "projectId"
              ],
              "parameters": {
                "projectId": {
                  "location": "path",
                  "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Job"
              }
            },
            "launch": {
              "description": "Launches a template. To launch a template, we recommend using `projects.locations.templates.launch` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.templates.launch` is not recommended, because jobs launched from the template will always start in `us-central1`. # IAM Permissions Requires the following IAM permission(s) on the project: - `dataflow.jobs.create` - `resourcemanager.projects.get`",
              "path": "v1b3/projects/{projectId}/templates:launch",
              "request": {
                "$ref": "LaunchTemplateParameters"
              },
              "parameterOrder": [
                "projectId"
              ],
              "response": {
                "$ref": "LaunchTemplateResponse"
              },
              "parameters": {
                "location": {
                  "type": "string",
                  "location": "query",
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request."
                },
                "validateOnly": {
                  "location": "query",
                  "description": "If true, the request is validated but not actually executed. Defaults to false.",
                  "type": "boolean"
                },
                "gcsPath": {
                  "description": "A Cloud Storage path to the template to use to create the job. Must be valid Cloud Storage URL, beginning with `gs://`.",
                  "location": "query",
                  "type": "string"
                },
                "dynamicTemplate.gcsPath": {
                  "description": "Path to the dynamic template specification file on Cloud Storage. The file must be a JSON serialized `DynamicTemplateFileSpec` object.",
                  "type": "string",
                  "location": "query"
                },
                "dynamicTemplate.stagingLocation": {
                  "location": "query",
                  "description": "Cloud Storage path for staging dependencies. Must be a valid Cloud Storage URL, beginning with `gs://`.",
                  "type": "string"
                },
                "projectId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The ID of the Cloud Platform project that the job belongs to."
                }
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "flatPath": "v1b3/projects/{projectId}/templates:launch",
              "id": "dataflow.projects.templates.launch"
            },
            "get": {
              "response": {
                "$ref": "GetTemplateResponse"
              },
              "id": "dataflow.projects.templates.get",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "parameterOrder": [
                "projectId"
              ],
              "flatPath": "v1b3/projects/{projectId}/templates:get",
              "parameters": {
                "gcsPath": {
                  "type": "string",
                  "location": "query",
                  "description": "Required. A Cloud Storage path to the template from which to create the job. Must be valid Cloud Storage URL, beginning with 'gs://'."
                },
                "projectId": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                  "location": "path"
                },
                "view": {
                  "description": "The view to retrieve. Defaults to METADATA_ONLY.",
                  "enum": [
                    "METADATA_ONLY"
                  ],
                  "enumDescriptions": [
                    "Template view that retrieves only the metadata associated with the template."
                  ],
                  "type": "string",
                  "location": "query"
                },
                "location": {
                  "location": "query",
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request.",
                  "type": "string"
                }
              },
              "path": "v1b3/projects/{projectId}/templates:get",
              "description": "Get the template associated with a template. To get the template, we recommend using `projects.locations.templates.get` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.templates.get` is not recommended, because only templates that are running in `us-central1` are retrieved. # IAM Permissions Requires the `resourcemanager.projects.get` permission on the project."
            }
          }
        },
        "snapshots": {
          "methods": {
            "list": {
              "response": {
                "$ref": "ListSnapshotsResponse"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "description": "Lists snapshots.",
              "flatPath": "v1b3/projects/{projectId}/snapshots",
              "id": "dataflow.projects.snapshots.list",
              "path": "v1b3/projects/{projectId}/snapshots",
              "parameters": {
                "jobId": {
                  "description": "If specified, list snapshots created from this job.",
                  "location": "query",
                  "type": "string"
                },
                "projectId": {
                  "location": "path",
                  "required": true,
                  "description": "The project ID to list snapshots for.",
                  "type": "string"
                },
                "location": {
                  "type": "string",
                  "location": "query",
                  "description": "The location to list snapshots in."
                }
              },
              "parameterOrder": [
                "projectId"
              ]
            },
            "get": {
              "flatPath": "v1b3/projects/{projectId}/snapshots/{snapshotId}",
              "id": "dataflow.projects.snapshots.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "parameters": {
                "location": {
                  "location": "query",
                  "description": "The location that contains this snapshot.",
                  "type": "string"
                },
                "projectId": {
                  "description": "The ID of the Cloud Platform project that the snapshot belongs to.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "snapshotId": {
                  "type": "string",
                  "required": true,
                  "description": "The ID of the snapshot.",
                  "location": "path"
                }
              },
              "httpMethod": "GET",
              "path": "v1b3/projects/{projectId}/snapshots/{snapshotId}",
              "response": {
                "$ref": "Snapshot"
              },
              "description": "Gets information about a snapshot.",
              "parameterOrder": [
                "projectId",
                "snapshotId"
              ]
            }
          }
        },
        "locations": {
          "methods": {
            "workerMessages": {
              "id": "dataflow.projects.locations.workerMessages",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "description": "Send a worker_message to the service.",
              "response": {
                "$ref": "SendWorkerMessagesResponse"
              },
              "path": "v1b3/projects/{projectId}/locations/{location}/WorkerMessages",
              "httpMethod": "POST",
              "parameters": {
                "location": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job."
                },
                "projectId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The project to send the WorkerMessages to."
                }
              },
              "parameterOrder": [
                "projectId",
                "location"
              ],
              "request": {
                "$ref": "SendWorkerMessagesRequest"
              },
              "flatPath": "v1b3/projects/{projectId}/locations/{location}/WorkerMessages"
            }
          },
          "resources": {
            "templates": {
              "methods": {
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "request": {
                    "$ref": "CreateJobFromTemplateRequest"
                  },
                  "parameters": {
                    "location": {
                      "location": "path",
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request.",
                      "required": true,
                      "type": "string"
                    },
                    "projectId": {
                      "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/templates",
                  "path": "v1b3/projects/{projectId}/locations/{location}/templates",
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "id": "dataflow.projects.locations.templates.create",
                  "response": {
                    "$ref": "Job"
                  },
                  "description": "Creates a Cloud Dataflow job from a template. Do not enter confidential information when you supply string values using the API. To create a job, we recommend using `projects.locations.templates.create` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.templates.create` is not recommended, because your job will always start in `us-central1`. # IAM Permissions Requires the following IAM permission(s) on the project: - `dataflow.jobs.create` - `resourcemanager.projects.get`",
                  "httpMethod": "POST"
                },
                "launch": {
                  "parameters": {
                    "location": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request."
                    },
                    "dynamicTemplate.gcsPath": {
                      "location": "query",
                      "type": "string",
                      "description": "Path to the dynamic template specification file on Cloud Storage. The file must be a JSON serialized `DynamicTemplateFileSpec` object."
                    },
                    "gcsPath": {
                      "type": "string",
                      "location": "query",
                      "description": "A Cloud Storage path to the template to use to create the job. Must be valid Cloud Storage URL, beginning with `gs://`."
                    },
                    "dynamicTemplate.stagingLocation": {
                      "location": "query",
                      "type": "string",
                      "description": "Cloud Storage path for staging dependencies. Must be a valid Cloud Storage URL, beginning with `gs://`."
                    },
                    "validateOnly": {
                      "type": "boolean",
                      "description": "If true, the request is validated but not actually executed. Defaults to false.",
                      "location": "query"
                    },
                    "projectId": {
                      "location": "path",
                      "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "LaunchTemplateParameters"
                  },
                  "description": "Launches a template. To launch a template, we recommend using `projects.locations.templates.launch` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.templates.launch` is not recommended, because jobs launched from the template will always start in `us-central1`. # IAM Permissions Requires the following IAM permission(s) on the project: - `dataflow.jobs.create` - `resourcemanager.projects.get`",
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/templates:launch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "path": "v1b3/projects/{projectId}/locations/{location}/templates:launch",
                  "id": "dataflow.projects.locations.templates.launch",
                  "response": {
                    "$ref": "LaunchTemplateResponse"
                  },
                  "httpMethod": "POST"
                },
                "get": {
                  "parameters": {
                    "gcsPath": {
                      "description": "Required. A Cloud Storage path to the template from which to create the job. Must be valid Cloud Storage URL, beginning with 'gs://'.",
                      "type": "string",
                      "location": "query"
                    },
                    "projectId": {
                      "required": true,
                      "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                      "location": "path",
                      "type": "string"
                    },
                    "location": {
                      "location": "path",
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request.",
                      "type": "string",
                      "required": true
                    },
                    "view": {
                      "description": "The view to retrieve. Defaults to METADATA_ONLY.",
                      "enum": [
                        "METADATA_ONLY"
                      ],
                      "enumDescriptions": [
                        "Template view that retrieves only the metadata associated with the template."
                      ],
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "path": "v1b3/projects/{projectId}/locations/{location}/templates:get",
                  "response": {
                    "$ref": "GetTemplateResponse"
                  },
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/templates:get",
                  "description": "Get the template associated with a template. To get the template, we recommend using `projects.locations.templates.get` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.templates.get` is not recommended, because only templates that are running in `us-central1` are retrieved. # IAM Permissions Requires the `resourcemanager.projects.get` permission on the project.",
                  "httpMethod": "GET",
                  "id": "dataflow.projects.locations.templates.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ]
                }
              }
            },
            "flexTemplates": {
              "methods": {
                "launch": {
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "LaunchFlexTemplateResponse"
                  },
                  "description": "Launch a job with a FlexTemplate. # IAM Permissions Requires the following IAM permission(s) on the resource: - `dataflow.jobs.create` - `resourcemanager.projects.get` - `iam.serviceAccounts.actAs` - `storage.buckets.get` - `storage.buckets.create` (Required if the default staging bucket must be created)",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "parameters": {
                    "projectId": {
                      "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "location": {
                      "description": "Required. The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request. E.g., us-central1, us-west1.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "id": "dataflow.projects.locations.flexTemplates.launch",
                  "request": {
                    "$ref": "LaunchFlexTemplateRequest"
                  },
                  "path": "v1b3/projects/{projectId}/locations/{location}/flexTemplates:launch",
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/flexTemplates:launch"
                }
              }
            },
            "configStoreSettings": {
              "methods": {
                "create": {
                  "id": "dataflow.projects.locations.configStoreSettings.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "parameters": {
                    "configStoreSettingId": {
                      "type": "string",
                      "description": "Required. The ID to use for the setting.",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent resource where this setting will be created.",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "ConfigStoreSetting"
                  },
                  "httpMethod": "POST",
                  "path": "v1b3/{+parent}/configStoreSettings",
                  "description": "Creates a new ConfigStoreSetting.",
                  "flatPath": "v1b3/projects/{projectsId}/locations/{locationsId}/configStoreSettings",
                  "request": {
                    "$ref": "ConfigStoreSetting"
                  }
                },
                "resolve": {
                  "response": {
                    "$ref": "ResolveConfigStoreSettingResponse"
                  },
                  "id": "dataflow.projects.locations.configStoreSettings.resolve",
                  "description": "Resolves effective value of a ConfigStoreSetting.",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the setting to resolve.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/configStoreSettings/[^/]+$",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1b3/{+name}:resolve",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "flatPath": "v1b3/projects/{projectsId}/locations/{locationsId}/configStoreSettings/{configStoreSettingsId}:resolve",
                  "request": {
                    "$ref": "ResolveConfigStoreSettingRequest"
                  },
                  "httpMethod": "POST"
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1b3/projects/{projectsId}/locations/{locationsId}/configStoreSettings",
                  "description": "Lists ConfigStoreSettings.",
                  "httpMethod": "GET",
                  "path": "v1b3/{+parent}/configStoreSettings",
                  "response": {
                    "$ref": "ListConfigStoreSettingsResponse"
                  },
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "Optional. The maximum number of settings to return."
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource whose settings are being listed.",
                      "location": "path",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A page token, received from a previous `ListConfigStoreSettings` call."
                    }
                  },
                  "id": "dataflow.projects.locations.configStoreSettings.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ]
                },
                "get": {
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the ConfigStoreSetting to retrieve.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/configStoreSettings/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "description": "Gets a ConfigStoreSetting.",
                  "path": "v1b3/{+name}",
                  "flatPath": "v1b3/projects/{projectsId}/locations/{locationsId}/configStoreSettings/{configStoreSettingsId}",
                  "id": "dataflow.projects.locations.configStoreSettings.get",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "response": {
                    "$ref": "ConfigStoreSetting"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the ConfigStoreSetting to delete.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/configStoreSettings/[^/]+$",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "dataflow.projects.locations.configStoreSettings.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes an existing ConfigStoreSetting.",
                  "flatPath": "v1b3/projects/{projectsId}/locations/{locationsId}/configStoreSettings/{configStoreSettingsId}",
                  "httpMethod": "DELETE",
                  "path": "v1b3/{+name}"
                }
              }
            },
            "jobs": {
              "methods": {
                "get": {
                  "response": {
                    "$ref": "Job"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "description": "Gets the state of the specified Cloud Dataflow job. To get the state of a job, we recommend using `projects.locations.jobs.get` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.get` is not recommended, as you can only get the state of jobs that are running in `us-central1`. # IAM Permissions Requires the `dataflow.jobs.get` permission on the job.",
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}",
                  "httpMethod": "GET",
                  "id": "dataflow.projects.locations.jobs.get",
                  "parameters": {
                    "location": {
                      "required": true,
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                      "type": "string",
                      "location": "path"
                    },
                    "jobId": {
                      "type": "string",
                      "required": true,
                      "description": "The job ID.",
                      "location": "path"
                    },
                    "view": {
                      "type": "string",
                      "enumDescriptions": [
                        "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                        "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                        "Request all information available for this job. When the job is in `JOB_STATE_PENDING`, the job has been created but is not yet running, and not all job information is available. For complete job information, wait until the job in is `JOB_STATE_RUNNING`. For more information, see [JobState](https://cloud.google.com/dataflow/docs/reference/rest/v1b3/projects.jobs#jobstate).",
                        "Request summary info and limited job description data for steps, labels and environment."
                      ],
                      "location": "query",
                      "enum": [
                        "JOB_VIEW_UNKNOWN",
                        "JOB_VIEW_SUMMARY",
                        "JOB_VIEW_ALL",
                        "JOB_VIEW_DESCRIPTION"
                      ],
                      "description": "The level of information requested in response."
                    },
                    "projectId": {
                      "required": true,
                      "description": "The ID of the Cloud Platform project that the job belongs to.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}",
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "jobId"
                  ]
                },
                "update": {
                  "parameters": {
                    "projectId": {
                      "description": "The ID of the Cloud Platform project that the job belongs to.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "description": "The list of fields to update relative to Job. If empty, only RequestedJobState will be considered for update. If the FieldMask is not empty and RequestedJobState is none/empty, The fields specified in the update mask will be the only ones considered for update. If both RequestedJobState and update_mask are specified, an error will be returned as we cannot update both state and mask.",
                      "type": "string"
                    },
                    "location": {
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "jobId": {
                      "description": "The job ID.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "id": "dataflow.projects.locations.jobs.update",
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}",
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "jobId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "description": "Updates the state of an existing Cloud Dataflow job. To update the state of an existing job, we recommend using `projects.locations.jobs.update` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.update` is not recommended, as you can only update the state of jobs that are running in `us-central1`. # IAM Permissions 1. Requires the `dataflow.jobs.cancel` permission to cancel a job. 2. Requires the `dataflow.jobs.updateContents` permission to update runtime parameters.",
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}",
                  "httpMethod": "PUT",
                  "response": {
                    "$ref": "Job"
                  },
                  "request": {
                    "$ref": "Job"
                  }
                },
                "getExecutionDetails": {
                  "id": "dataflow.projects.locations.jobs.getExecutionDetails",
                  "parameters": {
                    "location": {
                      "required": true,
                      "type": "string",
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
                      "location": "path"
                    },
                    "projectId": {
                      "description": "A project id.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "pageToken": {
                      "description": "If supplied, this should be the value of next_page_token returned by an earlier call. This will cause the next page of results to be returned.",
                      "type": "string",
                      "location": "query"
                    },
                    "jobId": {
                      "location": "path",
                      "description": "The job to get execution details for.",
                      "required": true,
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "If specified, determines the maximum number of stages to return. If unspecified, the service may choose an appropriate default, or may return an arbitrarily large number of results.",
                      "format": "int32"
                    }
                  },
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/executionDetails",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "jobId"
                  ],
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/executionDetails",
                  "description": "Request detailed information about the execution status of the job. EXPERIMENTAL. This API is subject to change or removal without notice. # IAM Permissions Requires the `dataflow.metrics.get` permission on the job.",
                  "response": {
                    "$ref": "JobExecutionDetails"
                  },
                  "httpMethod": "GET"
                },
                "create": {
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs",
                  "request": {
                    "$ref": "Job"
                  },
                  "parameters": {
                    "location": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job."
                    },
                    "replaceJobId": {
                      "location": "query",
                      "description": "Deprecated. This field is now in the Job message.",
                      "type": "string"
                    },
                    "view": {
                      "enum": [
                        "JOB_VIEW_UNKNOWN",
                        "JOB_VIEW_SUMMARY",
                        "JOB_VIEW_ALL",
                        "JOB_VIEW_DESCRIPTION"
                      ],
                      "description": "The level of information requested in response.",
                      "type": "string",
                      "location": "query",
                      "enumDescriptions": [
                        "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                        "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                        "Request all information available for this job. When the job is in `JOB_STATE_PENDING`, the job has been created but is not yet running, and not all job information is available. For complete job information, wait until the job in is `JOB_STATE_RUNNING`. For more information, see [JobState](https://cloud.google.com/dataflow/docs/reference/rest/v1b3/projects.jobs#jobstate).",
                        "Request summary info and limited job description data for steps, labels and environment."
                      ]
                    },
                    "projectId": {
                      "location": "path",
                      "description": "The ID of the Cloud Platform project that the job belongs to.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "description": "Creates a Dataflow job. To create a job, we recommend using `projects.locations.jobs.create` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.create` is not recommended, as your job will always start in `us-central1`. Do not enter confidential information when you supply string values using the API. # IAM Permissions 1. Requires the `dataflow.jobs.create` permission on the project. 2. `resourcemanager.projects.get` (Specifically required for regional endpoints to resolve regional resource metadata)",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Job"
                  },
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs",
                  "id": "dataflow.projects.locations.jobs.create",
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ]
                },
                "getMetrics": {
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "jobId"
                  ],
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/metrics",
                  "description": "Request the job status. To request the status of a job, we recommend using `projects.locations.jobs.getMetrics` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.getMetrics` is not recommended, as you can only request the status of jobs that are running in `us-central1`. # IAM Permissions Requires the `dataflow.metrics.get` permission on the job.",
                  "parameters": {
                    "startTime": {
                      "location": "query",
                      "description": "Return only metric data that has changed since this time. Default is to return all information about all metrics for the job.",
                      "format": "google-datetime",
                      "type": "string"
                    },
                    "jobId": {
                      "required": true,
                      "location": "path",
                      "description": "The job to get metrics for.",
                      "type": "string"
                    },
                    "location": {
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "projectId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "A project id."
                    }
                  },
                  "response": {
                    "$ref": "JobMetrics"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/metrics",
                  "id": "dataflow.projects.locations.jobs.getMetrics"
                },
                "snapshot": {
                  "id": "dataflow.projects.locations.jobs.snapshot",
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}:snapshot",
                  "parameters": {
                    "jobId": {
                      "description": "The job to be snapshotted.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "location": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The location that contains this job."
                    },
                    "projectId": {
                      "description": "The project which owns the job to be snapshotted.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Snapshot"
                  },
                  "request": {
                    "$ref": "SnapshotJobRequest"
                  },
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "jobId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "description": "Snapshot the state of a streaming job. # IAM Permissions Requires the `dataflow.jobs.snapshot` permission on the job.",
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}:snapshot",
                  "httpMethod": "POST"
                },
                "list": {
                  "parameters": {
                    "view": {
                      "location": "query",
                      "enum": [
                        "JOB_VIEW_UNKNOWN",
                        "JOB_VIEW_SUMMARY",
                        "JOB_VIEW_ALL",
                        "JOB_VIEW_DESCRIPTION"
                      ],
                      "description": "Deprecated. ListJobs always returns summaries now. Use GetJob for other JobViews.",
                      "deprecated": true,
                      "enumDescriptions": [
                        "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                        "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                        "Request all information available for this job. When the job is in `JOB_STATE_PENDING`, the job has been created but is not yet running, and not all job information is available. For complete job information, wait until the job in is `JOB_STATE_RUNNING`. For more information, see [JobState](https://cloud.google.com/dataflow/docs/reference/rest/v1b3/projects.jobs#jobstate).",
                        "Request summary info and limited job description data for steps, labels and environment."
                      ],
                      "type": "string"
                    },
                    "regionalFanoutRequested": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Optional."
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Set this to the 'next_page_token' field of a previous response to request additional results in a long list."
                    },
                    "name": {
                      "description": "Optional. The job name.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "enumDescriptions": [
                        "The filter isn't specified, or is unknown. This returns all jobs ordered on descending `JobUuid`.",
                        "Returns all running jobs first ordered on creation timestamp, then returns all terminated jobs ordered on the termination timestamp.",
                        "Filters the jobs that have a terminated state, ordered on the termination timestamp. Example terminated states: `JOB_STATE_STOPPED`, `JOB_STATE_UPDATED`, `JOB_STATE_DRAINED`, etc.",
                        "Filters the jobs that are running ordered on the creation timestamp."
                      ],
                      "location": "query",
                      "description": "The kind of filter to use.",
                      "enum": [
                        "UNKNOWN",
                        "ALL",
                        "TERMINATED",
                        "ACTIVE"
                      ]
                    },
                    "location": {
                      "required": true,
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                      "location": "path",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "If there are many jobs, limit response to at most this many. The actual number of jobs returned will be the lesser of max_responses and an unspecified server-defined limit.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "projectId": {
                      "description": "The project which owns the jobs.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs",
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs",
                  "id": "dataflow.projects.locations.jobs.list",
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "response": {
                    "$ref": "ListJobsResponse"
                  },
                  "description": "List the jobs of a project. To list the jobs of a project in a region, we recommend using `projects.locations.jobs.list` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). To list the all jobs across all regions, use `projects.jobs.aggregated`. Using `projects.jobs.list` is not recommended, because you can only get the list of jobs that are running in `us-central1`. `projects.locations.jobs.list` and `projects.jobs.list` support filtering the list of jobs by name. Filtering by name isn't supported by `projects.jobs.aggregated`. # IAM Permissions Requires the `dataflow.jobs.list` permission on the project.",
                  "httpMethod": "GET"
                }
              },
              "resources": {
                "stages": {
                  "methods": {
                    "getExecutionDetails": {
                      "response": {
                        "$ref": "StageExecutionDetails"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                      ],
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/stages/{stageId}/executionDetails",
                      "httpMethod": "GET",
                      "id": "dataflow.projects.locations.jobs.stages.getExecutionDetails",
                      "description": "Request detailed information about the execution status of a stage of the job. EXPERIMENTAL. This API is subject to change or removal without notice. # IAM Permissions Requires the `dataflow.metrics.get` permission on the job.",
                      "parameters": {
                        "stageId": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "The stage for which to fetch information."
                        },
                        "pageToken": {
                          "description": "If supplied, this should be the value of next_page_token returned by an earlier call. This will cause the next page of results to be returned.",
                          "type": "string",
                          "location": "query"
                        },
                        "startTime": {
                          "format": "google-datetime",
                          "description": "Lower time bound of work items to include, by start time.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "If specified, determines the maximum number of work items to return. If unspecified, the service may choose an appropriate default, or may return an arbitrarily large number of results.",
                          "format": "int32",
                          "location": "query"
                        },
                        "jobId": {
                          "location": "path",
                          "description": "The job to get execution details for.",
                          "required": true,
                          "type": "string"
                        },
                        "projectId": {
                          "location": "path",
                          "description": "A project id.",
                          "type": "string",
                          "required": true
                        },
                        "endTime": {
                          "description": "Upper time bound of work items to include, by start time.",
                          "type": "string",
                          "format": "google-datetime",
                          "location": "query"
                        },
                        "location": {
                          "location": "path",
                          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
                          "type": "string",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId",
                        "stageId"
                      ],
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/stages/{stageId}/executionDetails"
                    }
                  }
                },
                "messages": {
                  "methods": {
                    "list": {
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/messages",
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "description": "Request the job status. To request the status of a job, we recommend using `projects.locations.jobs.messages.list` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.messages.list` is not recommended, as you can only request the status of jobs that are running in `us-central1`. # IAM Permissions Requires the `dataflow.messages.list` permission on the job.",
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/messages",
                      "id": "dataflow.projects.locations.jobs.messages.list",
                      "parameters": {
                        "minimumImportance": {
                          "enum": [
                            "JOB_MESSAGE_IMPORTANCE_UNKNOWN",
                            "JOB_MESSAGE_DEBUG",
                            "JOB_MESSAGE_DETAILED",
                            "JOB_MESSAGE_BASIC",
                            "JOB_MESSAGE_WARNING",
                            "JOB_MESSAGE_ERROR"
                          ],
                          "location": "query",
                          "enumDescriptions": [
                            "The message importance isn't specified, or is unknown.",
                            "The message is at the 'debug' level: typically only useful for software engineers working on the code the job is running. Typically, Dataflow pipeline runners do not display log messages at this level by default.",
                            "The message is at the 'detailed' level: somewhat verbose, but potentially useful to users. Typically, Dataflow pipeline runners do not display log messages at this level by default. These messages are displayed by default in the Dataflow monitoring UI.",
                            "The message is at the 'basic' level: useful for keeping track of the execution of a Dataflow pipeline. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI.",
                            "The message is at the 'warning' level: indicating a condition pertaining to a job which may require human intervention. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI.",
                            "The message is at the 'error' level: indicating a condition preventing a job from succeeding. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI."
                          ],
                          "type": "string",
                          "description": "Filter to only get messages with importance >= level"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "If supplied, this should be the value of next_page_token returned by an earlier call. This will cause the next page of results to be returned.",
                          "type": "string"
                        },
                        "startTime": {
                          "format": "google-datetime",
                          "description": "If specified, return only messages with timestamps >= start_time. The default is the job creation time (i.e. beginning of messages).",
                          "location": "query",
                          "type": "string"
                        },
                        "location": {
                          "required": true,
                          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
                          "location": "path",
                          "type": "string"
                        },
                        "endTime": {
                          "description": "Return only messages with timestamps < end_time. The default is now (i.e. return up to the latest messages available).",
                          "location": "query",
                          "format": "google-datetime",
                          "type": "string"
                        },
                        "projectId": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "A project id."
                        },
                        "jobId": {
                          "description": "The job to get messages about.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "If specified, determines the maximum number of messages to return. If unspecified, the service may choose an appropriate default, or may return an arbitrarily large number of results.",
                          "type": "integer",
                          "location": "query"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                      ],
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListJobMessagesResponse"
                      }
                    }
                  }
                },
                "workItems": {
                  "methods": {
                    "lease": {
                      "parameters": {
                        "location": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the WorkItem's job."
                        },
                        "jobId": {
                          "required": true,
                          "description": "Identifies the workflow job this worker belongs to.",
                          "location": "path",
                          "type": "string"
                        },
                        "projectId": {
                          "type": "string",
                          "location": "path",
                          "description": "Identifies the project this worker belongs to.",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                      ],
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "response": {
                        "$ref": "LeaseWorkItemResponse"
                      },
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/workItems:lease",
                      "id": "dataflow.projects.locations.jobs.workItems.lease",
                      "description": "Leases a dataflow WorkItem to run.",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "LeaseWorkItemRequest"
                      },
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/workItems:lease"
                    },
                    "reportStatus": {
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/workItems:reportStatus",
                      "id": "dataflow.projects.locations.jobs.workItems.reportStatus",
                      "parameters": {
                        "jobId": {
                          "required": true,
                          "description": "The job which the WorkItem is part of.",
                          "type": "string",
                          "location": "path"
                        },
                        "projectId": {
                          "location": "path",
                          "required": true,
                          "description": "The project which owns the WorkItem's job.",
                          "type": "string"
                        },
                        "location": {
                          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the WorkItem's job.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/workItems:reportStatus",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                      ],
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "httpMethod": "POST",
                      "description": "Reports the status of dataflow WorkItems leased by a worker.",
                      "request": {
                        "$ref": "ReportWorkItemStatusRequest"
                      },
                      "response": {
                        "$ref": "ReportWorkItemStatusResponse"
                      }
                    }
                  }
                },
                "debug": {
                  "methods": {
                    "getConfig": {
                      "parameters": {
                        "projectId": {
                          "location": "path",
                          "required": true,
                          "description": "The project id.",
                          "type": "string"
                        },
                        "location": {
                          "required": true,
                          "type": "string",
                          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
                          "location": "path"
                        },
                        "jobId": {
                          "type": "string",
                          "location": "path",
                          "description": "The job id.",
                          "required": true
                        }
                      },
                      "description": "Get encoded debug configuration for component. Not cacheable.",
                      "response": {
                        "$ref": "GetDebugConfigResponse"
                      },
                      "request": {
                        "$ref": "GetDebugConfigRequest"
                      },
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/getConfig",
                      "id": "dataflow.projects.locations.jobs.debug.getConfig",
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "httpMethod": "POST",
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/getConfig",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                      ]
                    },
                    "getWorkerStacktraces": {
                      "httpMethod": "POST",
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/getWorkerStacktraces",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                      ],
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/getWorkerStacktraces",
                      "id": "dataflow.projects.locations.jobs.debug.getWorkerStacktraces",
                      "description": "Get worker stacktraces from debug capture.",
                      "response": {
                        "$ref": "GetWorkerStacktracesResponse"
                      },
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "request": {
                        "$ref": "GetWorkerStacktracesRequest"
                      },
                      "parameters": {
                        "projectId": {
                          "type": "string",
                          "location": "path",
                          "description": "The project id.",
                          "required": true
                        },
                        "location": {
                          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "jobId": {
                          "location": "path",
                          "required": true,
                          "description": "The job for which to get stacktraces.",
                          "type": "string"
                        }
                      }
                    },
                    "sendCapture": {
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "response": {
                        "$ref": "SendDebugCaptureResponse"
                      },
                      "description": "Send encoded debug capture data for component.",
                      "request": {
                        "$ref": "SendDebugCaptureRequest"
                      },
                      "httpMethod": "POST",
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/sendCapture",
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/sendCapture",
                      "parameters": {
                        "location": {
                          "required": true,
                          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
                          "type": "string",
                          "location": "path"
                        },
                        "projectId": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "The project id."
                        },
                        "jobId": {
                          "type": "string",
                          "required": true,
                          "description": "The job id.",
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                      ],
                      "id": "dataflow.projects.locations.jobs.debug.sendCapture"
                    }
                  }
                },
                "snapshots": {
                  "methods": {
                    "list": {
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "httpMethod": "GET",
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/snapshots",
                      "description": "Lists snapshots.",
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/snapshots",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                      ],
                      "response": {
                        "$ref": "ListSnapshotsResponse"
                      },
                      "parameters": {
                        "location": {
                          "location": "path",
                          "type": "string",
                          "description": "The location to list snapshots in.",
                          "required": true
                        },
                        "jobId": {
                          "location": "path",
                          "type": "string",
                          "description": "If specified, list snapshots created from this job.",
                          "required": true
                        },
                        "projectId": {
                          "required": true,
                          "description": "The project ID to list snapshots for.",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "id": "dataflow.projects.locations.jobs.snapshots.list"
                    }
                  }
                }
              }
            },
            "snapshots": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "ListSnapshotsResponse"
                  },
                  "parameters": {
                    "location": {
                      "type": "string",
                      "required": true,
                      "description": "The location to list snapshots in.",
                      "location": "path"
                    },
                    "jobId": {
                      "type": "string",
                      "description": "If specified, list snapshots created from this job.",
                      "location": "query"
                    },
                    "projectId": {
                      "location": "path",
                      "type": "string",
                      "description": "The project ID to list snapshots for.",
                      "required": true
                    }
                  },
                  "id": "dataflow.projects.locations.snapshots.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "path": "v1b3/projects/{projectId}/locations/{location}/snapshots",
                  "description": "Lists snapshots.",
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/snapshots",
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "httpMethod": "GET"
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/snapshots/{snapshotId}",
                  "description": "Deletes a snapshot.",
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "snapshotId"
                  ],
                  "id": "dataflow.projects.locations.snapshots.delete",
                  "path": "v1b3/projects/{projectId}/locations/{location}/snapshots/{snapshotId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "response": {
                    "$ref": "DeleteSnapshotResponse"
                  },
                  "parameters": {
                    "location": {
                      "type": "string",
                      "required": true,
                      "description": "The location that contains this snapshot.",
                      "location": "path"
                    },
                    "snapshotId": {
                      "required": true,
                      "type": "string",
                      "description": "The ID of the snapshot.",
                      "location": "path"
                    },
                    "projectId": {
                      "location": "path",
                      "description": "The ID of the Cloud Platform project that the snapshot belongs to.",
                      "required": true,
                      "type": "string"
                    }
                  }
                },
                "get": {
                  "path": "v1b3/projects/{projectId}/locations/{location}/snapshots/{snapshotId}",
                  "description": "Gets information about a snapshot.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/snapshots/{snapshotId}",
                  "id": "dataflow.projects.locations.snapshots.get",
                  "httpMethod": "GET",
                  "parameters": {
                    "projectId": {
                      "description": "The ID of the Cloud Platform project that the snapshot belongs to.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "location": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The location that contains this snapshot."
                    },
                    "snapshotId": {
                      "location": "path",
                      "description": "The ID of the snapshot.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "snapshotId"
                  ],
                  "response": {
                    "$ref": "Snapshot"
                  }
                }
              }
            }
          }
        },
        "jobs": {
          "resources": {
            "debug": {
              "methods": {
                "sendCapture": {
                  "id": "dataflow.projects.jobs.debug.sendCapture",
                  "description": "Send encoded debug capture data for component.",
                  "response": {
                    "$ref": "SendDebugCaptureResponse"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "parameters": {
                    "projectId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The project id."
                    },
                    "jobId": {
                      "type": "string",
                      "required": true,
                      "description": "The job id.",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "projectId",
                    "jobId"
                  ],
                  "request": {
                    "$ref": "SendDebugCaptureRequest"
                  },
                  "path": "v1b3/projects/{projectId}/jobs/{jobId}/debug/sendCapture",
                  "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/debug/sendCapture"
                },
                "getConfig": {
                  "description": "Get encoded debug configuration for component. Not cacheable.",
                  "request": {
                    "$ref": "GetDebugConfigRequest"
                  },
                  "parameters": {
                    "projectId": {
                      "required": true,
                      "type": "string",
                      "description": "The project id.",
                      "location": "path"
                    },
                    "jobId": {
                      "location": "path",
                      "type": "string",
                      "description": "The job id.",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GetDebugConfigResponse"
                  },
[...]
