{
  "documentationLink": "https://cloud.google.com/datastream/",
  "version_module": true,
  "revision": "20260902",
  "discoveryVersion": "v1",
  "version": "v1",
  "description": "",
  "kind": "discovery#restDescription",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "fetchStaticIps": {
              "httpMethod": "GET",
              "path": "v1/{+name}:fetchStaticIps",
              "id": "datastream.projects.locations.fetchStaticIps",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The resource name for the location for which static IPs should be returned. Must be in the format `projects/*/locations/*`.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "Optional. Maximum number of Ips to return, will likely not be specified."
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListStaticIps` call. will likely not be specified.",
                  "location": "query",
                  "type": "string"
                }
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:fetchStaticIps",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "FetchStaticIpsResponse"
              },
              "description": "The FetchStaticIps API call exposes the static IP addresses used by Datastream."
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Resource name for the location.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "datastream.projects.locations.get",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "description": "Gets information about a location.",
              "response": {
                "$ref": "Location"
              }
            },
            "list": {
              "path": "v1/{+name}/locations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "type": "integer"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page."
                },
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "The resource that owns the locations collection, if applicable."
                },
                "extraLocationTypes": {
                  "repeated": true,
                  "type": "string",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query"
                },
                "filter": {
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "flatPath": "v1/projects/{projectsId}/locations",
              "httpMethod": "GET",
              "id": "datastream.projects.locations.list"
            }
          },
          "resources": {
            "streams": {
              "resources": {
                "objects": {
                  "methods": {
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/streams/{streamsId}/objects/{objectsId}",
                      "httpMethod": "GET",
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "StreamObject"
                      },
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/streams/[^/]+/objects/[^/]+$",
                          "location": "path",
                          "description": "Required. The name of the stream object resource to get."
                        }
                      },
                      "description": "Use this method to get details about a stream object.",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "datastream.projects.locations.streams.objects.get"
                    },
                    "startBackfillJob": {
                      "path": "v1/{+object}:startBackfillJob",
                      "parameters": {
                        "object": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/streams/[^/]+/objects/[^/]+$",
                          "location": "path",
                          "description": "Required. The name of the stream object resource to start a backfill job for.",
                          "type": "string",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "object"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "StartBackfillJobRequest"
                      },
                      "description": "Use this method to start a backfill job for the specified stream object.",
                      "response": {
                        "$ref": "StartBackfillJobResponse"
                      },
                      "id": "datastream.projects.locations.streams.objects.startBackfillJob",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/streams/{streamsId}/objects/{objectsId}:startBackfillJob"
                    },
                    "stopBackfillJob": {
                      "description": "Use this method to stop a backfill job for the specified stream object.",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+object}:stopBackfillJob",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/streams/{streamsId}/objects/{objectsId}:stopBackfillJob",
                      "request": {
                        "$ref": "StopBackfillJobRequest"
                      },
                      "parameterOrder": [
                        "object"
                      ],
                      "response": {
                        "$ref": "StopBackfillJobResponse"
                      },
                      "id": "datastream.projects.locations.streams.objects.stopBackfillJob",
                      "parameters": {
                        "object": {
                          "location": "path",
                          "description": "Required. The name of the stream object resource to stop the backfill job for.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/streams/[^/]+/objects/[^/]+$",
                          "type": "string",
                          "required": true
                        }
                      }
                    },
                    "lookup": {
                      "response": {
                        "$ref": "StreamObject"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/streams/{streamsId}/objects:lookup",
                      "parameters": {
                        "parent": {
                          "description": "Required. The parent stream that owns the collection of objects.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/streams/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "id": "datastream.projects.locations.streams.objects.lookup",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/objects:lookup",
                      "description": "Use this method to look up a stream object by its source object identifier.",
                      "request": {
                        "$ref": "LookupStreamObjectRequest"
                      },
                      "httpMethod": "POST"
                    },
                    "list": {
                      "path": "v1/{+parent}/objects",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/streams/{streamsId}/objects",
                      "response": {
                        "$ref": "ListStreamObjectsResponse"
                      },
                      "description": "Use this method to list the objects of a specific stream.",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "datastream.projects.locations.streams.objects.list",
                      "parameters": {
                        "pageToken": {
                          "description": "Optional. Page token received from a previous `ListStreamObjectsRequest` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListStreamObjectsRequest` must match the call that provided the page token.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "Optional. Maximum number of objects to return. Default is 50. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                          "location": "query",
                          "format": "int32",
                          "type": "integer"
                        },
                        "parent": {
                          "required": true,
                          "description": "Required. The parent stream that owns the collection of objects.",
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/streams/[^/]+$"
                        }
                      }
                    }
                  }
                }
              },
              "methods": {
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/streams",
                  "response": {
                    "$ref": "ListStreamsResponse"
                  },
                  "parameters": {
                    "orderBy": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Order by fields for the result."
                    },
                    "filter": {
                      "description": "Optional. Filter request.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. Maximum number of streams to return. If unspecified, at most 50 streams will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "format": "int32",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. Page token received from a previous `ListStreams` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListStreams` must match the call that provided the page token.",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent that owns the collection of streams.",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "datastream.projects.locations.streams.list",
                  "path": "v1/{+parent}/streams",
                  "description": "Use this method to list streams in a project and location.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET"
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/streams",
                  "httpMethod": "POST",
                  "description": "Use this method to create a stream.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/streams",
                  "request": {
                    "$ref": "Stream"
                  },
                  "id": "datastream.projects.locations.streams.create",
                  "parameters": {
                    "validateOnly": {
                      "description": "Optional. Only validate the stream, but don't create any resources. The default is false.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. The parent that owns the collection of streams.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "force": {
                      "description": "Optional. Create the stream without validating it.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "streamId": {
                      "description": "Required. The stream identifier.",
                      "type": "string",
                      "location": "query"
                    }
                  }
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/streams/{streamsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Use this method to delete a stream.",
                  "parameters": {
                    "requestId": {
                      "location": "query",
                      "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    },
                    "name": {
                      "description": "Required. The name of the stream resource to delete.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/streams/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "datastream.projects.locations.streams.delete",
                  "httpMethod": "DELETE"
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The name of the stream resource to get.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/streams/[^/]+$"
                    }
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/streams/{streamsId}",
                  "description": "Use this method to get details about a stream.",
                  "response": {
                    "$ref": "Stream"
                  },
                  "httpMethod": "GET",
                  "id": "datastream.projects.locations.streams.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "patch": {
                  "parameters": {
                    "validateOnly": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Optional. Only validate the stream with the changes, without actually updating it. The default is false."
                    },
                    "force": {
                      "location": "query",
                      "description": "Optional. Update the stream without validating it.",
                      "type": "boolean"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/streams/[^/]+$",
                      "description": "Output only. Identifier. The stream's name.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    },
                    "updateMask": {
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the stream resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "request": {
                    "$ref": "Stream"
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/streams/{streamsId}",
                  "description": "Use this method to update the configuration of a stream.",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "datastream.projects.locations.streams.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PATCH"
                },
                "run": {
                  "id": "datastream.projects.locations.streams.run",
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/streams/{streamsId}:run",
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "RunStreamRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. Name of the stream resource to start, in the format: projects/{project_id}/locations/{location}/streams/{stream_name}",
                      "pattern": "^projects/[^/]+/locations/[^/]+/streams/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "path": "v1/{+name}:run",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Use this method to start, resume or recover a stream with a non default CDC strategy."
                }
              }
            },
            "connectionProfiles": {
              "methods": {
                "delete": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "DELETE",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connectionProfiles/{connectionProfilesId}",
                  "parameters": {
                    "requestId": {
                      "location": "query",
                      "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/connectionProfiles/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the connection profile resource to delete.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "id": "datastream.projects.locations.connectionProfiles.delete",
                  "description": "Use this method to delete a connection profile."
                },
                "list": {
                  "description": "Use this method to list connection profiles created in a project and location.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connectionProfiles",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The parent that owns the collection of connection profiles.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageSize": {
                      "description": "Optional. Maximum number of connection profiles to return. If unspecified, at most 50 connection profiles will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. Filter request.",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. Page token received from a previous `ListConnectionProfiles` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListConnectionProfiles` must match the call that provided the page token.",
                      "type": "string"
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Optional. Order by fields for the result.",
                      "location": "query"
                    }
                  },
                  "path": "v1/{+parent}/connectionProfiles",
                  "response": {
                    "$ref": "ListConnectionProfilesResponse"
                  },
                  "id": "datastream.projects.locations.connectionProfiles.list"
                },
                "create": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connectionProfiles",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "id": "datastream.projects.locations.connectionProfiles.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "ConnectionProfile"
                  },
                  "description": "Use this method to create a connection profile in a project and location.",
                  "parameters": {
                    "requestId": {
                      "type": "string",
                      "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    },
                    "connectionProfileId": {
                      "description": "Required. The connection profile identifier.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The parent that owns the collection of ConnectionProfiles.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    },
                    "force": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Optional. Create the connection profile without validating it."
                    },
                    "validateOnly": {
                      "type": "boolean",
                      "description": "Optional. Only validate the connection profile, but don't create any resources. The default is false.",
                      "location": "query"
                    }
                  },
                  "path": "v1/{+parent}/connectionProfiles"
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the connection profile resource to get.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/connectionProfiles/[^/]+$"
                    }
                  },
                  "description": "Use this method to get details about a connection profile.",
                  "path": "v1/{+name}",
                  "id": "datastream.projects.locations.connectionProfiles.get",
                  "response": {
                    "$ref": "ConnectionProfile"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connectionProfiles/{connectionProfilesId}"
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "ConnectionProfile"
                  },
                  "path": "v1/{+name}",
                  "description": "Use this method to update the parameters of a connection profile.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connectionProfiles/{connectionProfilesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "datastream.projects.locations.connectionProfiles.patch",
                  "parameters": {
                    "validateOnly": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Optional. Only validate the connection profile, but don't update any resources. The default is false."
                    },
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connectionProfiles/[^/]+$",
                      "required": true,
                      "description": "Output only. Identifier. The resource's name."
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the ConnectionProfile resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten."
                    },
                    "requestId": {
                      "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    },
                    "force": {
                      "description": "Optional. Update the connection profile without validating it.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "discover": {
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource of the connection profile type. Must be in the format `projects/*/locations/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "id": "datastream.projects.locations.connectionProfiles.discover",
                  "request": {
                    "$ref": "DiscoverConnectionProfileRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connectionProfiles:discover",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/connectionProfiles:discover",
                  "httpMethod": "POST",
                  "description": "Use this method to discover a connection profile. The discover API call exposes the data objects and metadata belonging to the profile. Typically, a request returns children data objects of a parent data object that's optionally supplied in the request.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "DiscoverConnectionProfileResponse"
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "get": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "The name of the operation resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "id": "datastream.projects.locations.operations.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "The name of the operation resource to be deleted.",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "id": "datastream.projects.locations.operations.delete"
                },
                "cancel": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "datastream.projects.locations.operations.cancel",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "path": "v1/{+name}:cancel",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "httpMethod": "POST"
                },
                "list": {
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "The name of the operation's parent resource.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "The standard list page size.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "location": "query",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list filter."
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "id": "datastream.projects.locations.operations.list",
                  "path": "v1/{+name}/operations",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  }
                }
              }
            },
            "privateConnections": {
              "resources": {
                "routes": {
                  "methods": {
                    "delete": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/privateConnections/{privateConnectionsId}/routes/{routesId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "DELETE",
                      "id": "datastream.projects.locations.privateConnections.routes.delete",
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "Required. The name of the Route resource to delete.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/privateConnections/[^/]+/routes/[^/]+$",
                          "type": "string",
                          "required": true
                        },
                        "requestId": {
                          "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}",
                      "description": "Use this method to delete a route."
                    },
                    "list": {
                      "path": "v1/{+parent}/routes",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "description": "Required. The parent that owns the collection of Routess.",
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/privateConnections/[^/]+$",
                          "required": true
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "location": "query",
                          "description": "Optional. Maximum number of Routes to return. The service may return fewer than this value. If unspecified, at most 50 Routes will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                        },
                        "orderBy": {
                          "location": "query",
                          "description": "Optional. Order by fields for the result.",
                          "type": "string"
                        },
                        "filter": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. Filter request."
                        },
                        "pageToken": {
                          "description": "Optional. Page token received from a previous `ListRoutes` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListRoutes` must match the call that provided the page token.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "description": "Use this method to list routes created for a private connectivity configuration in a project and location.",
                      "response": {
                        "$ref": "ListRoutesResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/privateConnections/{privateConnectionsId}/routes",
                      "id": "datastream.projects.locations.privateConnections.routes.list"
                    },
                    "get": {
                      "description": "Use this method to get details about a route.",
                      "httpMethod": "GET",
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "Route"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/privateConnections/{privateConnectionsId}/routes/{routesId}",
                      "id": "datastream.projects.locations.privateConnections.routes.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The name of the Route resource to get.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/privateConnections/[^/]+/routes/[^/]+$"
                        }
                      }
                    },
                    "create": {
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "id": "datastream.projects.locations.privateConnections.routes.create",
                      "parameters": {
                        "requestId": {
                          "location": "query",
                          "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "type": "string"
                        },
                        "parent": {
                          "description": "Required. The parent that owns the collection of Routes.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/privateConnections/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "routeId": {
                          "type": "string",
                          "description": "Required. The Route identifier.",
                          "location": "query"
                        }
                      },
                      "path": "v1/{+parent}/routes",
                      "description": "Use this method to create a route for a private connectivity configuration in a project and location.",
                      "request": {
                        "$ref": "Route"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/privateConnections/{privateConnectionsId}/routes",
                      "parameterOrder": [
                        "parent"
                      ]
                    }
                  }
                }
              },
              "methods": {
                "get": {
                  "response": {
                    "$ref": "PrivateConnection"
                  },
                  "httpMethod": "GET",
                  "id": "datastream.projects.locations.privateConnections.get",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/privateConnections/{privateConnectionsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Use this method to get details about a private connectivity configuration.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the private connectivity configuration to get.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/privateConnections/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}"
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/privateConnections/{privateConnectionsId}",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "force": {
                      "type": "boolean",
                      "description": "Optional. If set to true, any child routes that belong to this PrivateConnection will also be deleted.",
                      "location": "query"
                    },
                    "requestId": {
                      "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/privateConnections/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the private connectivity configuration to delete.",
                      "type": "string"
                    }
                  },
                  "id": "datastream.projects.locations.privateConnections.delete",
                  "description": "Use this method to delete a private connectivity configuration."
                },
                "create": {
                  "request": {
                    "$ref": "PrivateConnection"
                  },
                  "httpMethod": "POST",
                  "path": "v1/{+parent}/privateConnections",
                  "id": "datastream.projects.locations.privateConnections.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "force": {
                      "description": "Optional. If set to true, will skip validations.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "validateOnly": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. When supplied with PSC Interface config, will get/create the tenant project required for the customer to allow list and won't actually create the private connection."
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The parent that owns the collection of PrivateConnections.",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "privateConnectionId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. The private connectivity identifier."
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/privateConnections",
                  "description": "Use this method to create a private connectivity configuration.",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "list": {
                  "httpMethod": "GET",
                  "id": "datastream.projects.locations.privateConnections.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/privateConnections",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListPrivateConnectionsResponse"
                  },
                  "parameters": {
                    "orderBy": {
                      "location": "query",
                      "description": "Optional. Order by fields for the result.",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "Maximum number of private connectivity configurations to return. If unspecified, at most 50 private connectivity configurations that will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "type": "integer"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. Filter request.",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. The parent that owns the collection of private connectivity configurations.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Page token received from a previous `ListPrivateConnections` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPrivateConnections` must match the call that provided the page token."
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/privateConnections",
                  "description": "Use this method to list private connectivity configurations in a project and location."
                }
              }
            }
          }
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "parameters": {
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    }
  },
  "schemas": {
    "LookupStreamObjectRequest": {
      "description": "Request for looking up a specific stream object by its source object identifier.",
      "type": "object",
      "id": "LookupStreamObjectRequest",
      "properties": {
        "sourceObjectIdentifier": {
          "description": "Required. The source object identifier which maps to the stream object.",
          "$ref": "SourceObjectIdentifier"
        }
      }
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        }
      },
      "id": "Operation",
      "type": "object"
    },
    "SqlServerLsnPosition": {
      "properties": {
        "lsn": {
          "description": "Required. Log sequence number (LSN) from where Logs will be read",
          "type": "string"
        }
      },
      "type": "object",
      "description": "SQL Server LSN position",
      "id": "SqlServerLsnPosition"
    },
    "Help": {
      "id": "Help",
      "type": "object",
      "properties": {
        "links": {
          "type": "array",
          "items": {
            "$ref": "Link"
          },
          "description": "URL(s) pointing to additional information on handling the current error."
        }
      },
      "description": "Provides links to documentation or for performing an out of band action. For example, if a quota check failed with an error indicating the calling project hasn't enabled the accessed service, this can contain a URL pointing directly to the right place in the developer console to flip the bit."
    },
    "LogFileDirectories": {
      "description": "Configuration to specify the Oracle directories to access the log files.",
      "properties": {
        "archivedLogDirectory": {
          "description": "Required. Oracle directory for archived logs.",
          "type": "string"
        },
        "onlineLogDirectory": {
          "type": "string",
          "description": "Required. Oracle directory for online logs."
        }
      },
      "id": "LogFileDirectories",
      "type": "object"
    },
    "ServiceNowProfile": {
      "description": "Profile for connecting to a ServiceNow source.",
      "properties": {
        "userPasswordCredentials": {
          "$ref": "UserPasswordCredentials",
          "description": "User-password authentication."
        },
        "instance": {
          "description": "Required. The instance of the ServiceNow account. This is the `` part of the URL `https://.service-now.com`.",
          "type": "string"
        },
        "oauthClientCredentials": {
          "description": "Credentials for authenticating with the ServiceNow API.",
          "$ref": "OauthClientCredentials"
        }
      },
      "type": "object",
      "id": "ServiceNowProfile"
    },
    "WorkdayProfile": {
      "type": "object",
      "id": "WorkdayProfile",
      "description": "Profile for connecting to a Workday source.",
      "properties": {
        "tenant": {
          "type": "string",
          "description": "Required. Tenant for the Workday connection (e.g., `google12`)."
        },
        "host": {
          "type": "string",
          "description": "Required. Host for the Workday connection. Must be a valid hostname (e.g., `wd3-impl-services1.workday.com`)."
        },
        "oauthRefreshTokenCredentials": {
          "description": "Required. Credentials for authenticating with the Workday API. OAuth Refresh Token credentials for authenticating with the Workday API.",
          "$ref": "OauthRefreshTokenCredentials"
        }
      }
    },
    "SpannerSchema": {
      "type": "object",
      "id": "SpannerSchema",
      "description": "Spanner schema.",
      "properties": {
        "schema": {
          "type": "string",
          "description": "Required. The schema name."
        },
        "tables": {
          "type": "array",
          "items": {
            "$ref": "SpannerTable"
          },
          "description": "Optional. Spanner tables in the schema."
        }
      }
    },
    "VpcPeeringConfig": {
      "type": "object",
      "description": "The VPC Peering configuration is used to create VPC peering between Datastream and the consumer's VPC.",
      "properties": {
        "vpc": {
          "description": "Required. Fully qualified name of the VPC that Datastream will peer to. Format: `projects/{project}/global/{networks}/{name}`",
          "type": "string"
        },
        "subnet": {
          "description": "Required. A free subnet for peering. (CIDR of /29)",
          "type": "string"
        }
      },
      "id": "VpcPeeringConfig"
    },
    "ListStreamObjectsResponse": {
      "id": "ListStreamObjectsResponse",
      "type": "object",
      "description": "Response containing the objects for a stream.",
      "properties": {
        "streamObjects": {
          "description": "List of stream objects.",
          "items": {
            "$ref": "StreamObject"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page.",
          "type": "string"
        }
      }
    },
    "IngestionTimePartition": {
      "type": "object",
      "id": "IngestionTimePartition",
      "description": "Ingestion time partitioning. see https://cloud.google.com/bigquery/docs/partitioned-tables#ingestion_time",
      "properties": {
        "partitioningTimeGranularity": {
          "description": "Optional. Partition granularity",
          "type": "string",
          "enum": [
            "PARTITIONING_TIME_GRANULARITY_UNSPECIFIED",
            "PARTITIONING_TIME_GRANULARITY_HOUR",
            "PARTITIONING_TIME_GRANULARITY_DAY",
            "PARTITIONING_TIME_GRANULARITY_MONTH",
            "PARTITIONING_TIME_GRANULARITY_YEAR"
          ],
          "enumDescriptions": [
            "Unspecified partitioing interval.",
            "Hourly partitioning.",
            "Daily partitioning.",
            "Monthly partitioning.",
            "Yearly partitioning."
          ]
        }
      }
    },
    "PostgresqlRdbms": {
      "type": "object",
      "properties": {
        "postgresqlSchemas": {
          "description": "PostgreSQL schemas in the database server.",
          "type": "array",
          "items": {
            "$ref": "PostgresqlSchema"
          }
        }
      },
      "id": "PostgresqlRdbms",
      "description": "PostgreSQL database structure."
    },
    "LogMiner": {
      "id": "LogMiner",
      "description": "Configuration to use LogMiner CDC method.",
      "type": "object",
      "properties": {}
    },
    "BackfillNoneStrategy": {
      "type": "object",
      "description": "Backfill strategy to disable automatic backfill for the Stream's objects.",
      "properties": {},
      "id": "BackfillNoneStrategy"
    },
    "SqlServerRdbms": {
      "id": "SqlServerRdbms",
      "description": "SQLServer database structure.",
      "type": "object",
      "properties": {
        "schemas": {
          "description": "SQLServer schemas in the database server.",
          "items": {
            "$ref": "SqlServerSchema"
          },
          "type": "array"
        }
      }
    },
    "SqlServerChangeTables": {
      "id": "SqlServerChangeTables",
      "type": "object",
      "properties": {},
      "description": "Configuration to use Change Tables CDC read method."
    },
    "HostAddress": {
      "type": "object",
      "description": "A HostAddress represents a transport end point, which is the combination of an IP address or hostname and a port number.",
      "id": "HostAddress",
      "properties": {
        "port": {
          "description": "Optional. Port for the connection.",
          "format": "int32",
          "type": "integer"
        },
        "hostname": {
          "type": "string",
          "description": "Required. Hostname for the connection."
        }
      }
    },
    "MongodbProfile": {
      "description": "Profile for connecting to a MongoDB source.",
      "id": "MongodbProfile",
      "type": "object",
      "properties": {
        "password": {
          "description": "Optional. Password for the MongoDB connection. Mutually exclusive with the `secret_manager_stored_password` field.",
          "type": "string"
        },
        "standardConnectionFormat": {
          "description": "Standard connection format.",
          "$ref": "StandardConnectionFormat"
        },
        "secretManagerStoredPassword": {
          "type": "string",
          "description": "Optional. A reference to a Secret Manager resource name storing the SQLServer connection password. Mutually exclusive with the `password` field."
        },
        "username": {
          "type": "string",
          "description": "Required. Username for the MongoDB connection."
        },
        "srvConnectionFormat": {
          "description": "Srv connection format.",
          "$ref": "SrvConnectionFormat"
        },
        "replicaSet": {
          "type": "string",
          "description": "Optional. Name of the replica set. Only needed for self hosted replica set type MongoDB cluster. For SRV connection format, this field must be empty. For Standard connection format, this field must be specified."
        },
        "additionalOptions": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Specifies additional options for the MongoDB connection. The options should be sent as key-value pairs, for example: `additional_options = {\"serverSelectionTimeoutMS\": \"10000\", \"directConnection\": \"true\"}`. Keys are case-sensitive and should match the official MongoDB connection string options: https://www.mongodb.com/docs/manual/reference/connection-string-options/ The server will not modify the values provided by the user."
        },
        "hostAddresses": {
          "type": "array",
          "items": {
            "$ref": "HostAddress"
          },
          "description": "Required. List of host addresses for a MongoDB cluster. For SRV connection format, this list must contain exactly one DNS host without a port. For Standard connection format, this list must contain all the required hosts in the cluster with their respective ports."
        },
        "sslConfig": {
          "description": "Optional. SSL configuration for the MongoDB connection.",
          "$ref": "MongodbSslConfig"
        }
      }
    },
    "ListStreamsResponse": {
      "id": "ListStreamsResponse",
      "properties": {
        "streams": {
          "type": "array",
          "items": {
            "$ref": "Stream"
          },
          "description": "List of streams"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "Response message for listing streams.",
      "type": "object"
    },
    "PostgresqlSchema": {
      "type": "object",
      "properties": {
        "postgresqlTables": {
          "items": {
            "$ref": "PostgresqlTable"
          },
          "description": "Tables in the schema.",
          "type": "array"
        },
        "schema": {
          "type": "string",
          "description": "The schema name."
        }
      },
      "id": "PostgresqlSchema",
      "description": "PostgreSQL schema."
    },
    "ListPrivateConnectionsResponse": {
      "id": "ListPrivateConnectionsResponse",
      "type": "object",
      "properties": {
        "privateConnections": {
          "description": "List of private connectivity configurations.",
          "items": {
            "$ref": "PrivateConnection"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      },
      "description": "Response containing a list of private connection configurations."
    },
    "SrvConnectionFormat": {
      "description": "Srv connection format.",
      "properties": {},
      "type": "object",
      "id": "SrvConnectionFormat"
    },
    "MysqlDatabase": {
      "id": "MysqlDatabase",
      "properties": {
        "database": {
          "description": "The database name.",
          "type": "string"
        },
        "mysqlTables": {
          "items": {
            "$ref": "MysqlTable"
          },
          "type": "array",
          "description": "Tables in the database."
        }
      },
      "description": "MySQL database.",
      "type": "object"
    },
    "BigQueryProfile": {
      "type": "object",
      "description": "Profile for connecting to a BigQuery destination.",
      "id": "BigQueryProfile",
      "properties": {}
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "The response message for Operations.ListOperations."
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "locations": {
          "type": "array",
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListLocationsResponse"
    },
    "MongodbDatabase": {
      "description": "MongoDB Database.",
      "id": "MongodbDatabase",
      "properties": {
        "collections": {
          "type": "array",
          "description": "Collections in the database.",
          "items": {
            "$ref": "MongodbCollection"
          }
        },
        "database": {
          "type": "string",
          "description": "The database name."
        }
      },
      "type": "object"
    },
    "ServerVerification": {
      "id": "ServerVerification",
      "type": "object",
      "properties": {
        "serverCertificateHostname": {
          "type": "string",
          "description": "Optional. The hostname mentioned in the Subject or SAN extension of the server certificate. If this field is not provided, the hostname in the server certificate is not validated."
        },
        "caCertificate": {
          "type": "string",
          "description": "Required. Input only. PEM-encoded server root CA certificate."
        }
      },
      "description": "Message represents the option where Datastream will enforce the encryption and authenticate the server identity. ca_certificate must be set if user selects this option."
    },
    "StartBackfillJobResponse": {
      "description": "Response for manually initiating a backfill job for a specific stream object.",
      "id": "StartBackfillJobResponse",
      "type": "object",
      "properties": {
        "object": {
          "description": "The stream object resource a backfill job was started for.",
          "$ref": "StreamObject"
        }
      }
    },
    "OracleSchema": {
      "description": "Oracle schema.",
      "properties": {
        "oracleTables": {
          "description": "Tables in the schema.",
          "type": "array",
          "items": {
            "$ref": "OracleTable"
          }
        },
        "schema": {
          "description": "The schema name.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "OracleSchema"
    },
    "BinaryLogParser": {
      "id": "BinaryLogParser",
      "description": "Configuration to use Binary Log Parser CDC technique.",
      "type": "object",
      "properties": {
        "oracleAsmLogFileAccess": {
          "description": "Use Oracle ASM.",
          "$ref": "OracleAsmLogFileAccess"
        },
        "logFileDirectories": {
          "description": "Use Oracle directories.",
          "$ref": "LogFileDirectories"
        }
      }
    },
    "SpannerObjectIdentifier": {
      "id": "SpannerObjectIdentifier",
      "properties": {
        "schema": {
          "description": "Optional. The schema name.",
          "type": "string"
        },
        "table": {
          "description": "Required. The table name.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Spanner data source object identifier."
    },
    "ServiceNowSourceConfig": {
      "type": "object",
      "properties": {
        "pollingInterval": {
          "description": "Required. Incremental sync polling interval for all objects. If not set, a default value of `5 minutes` is used. The duration must be from `5 minutes` to `24 hours`, inclusive.",
          "type": "string",
          "format": "google-duration"
        },
        "includeObjects": {
          "$ref": "SourceCatalog",
          "description": "Optional. The objects to retrieve from the source."
        },
        "excludeObjects": {
          "description": "Optional. The objects to exclude from the stream.",
          "$ref": "SourceCatalog"
        }
      },
      "id": "ServiceNowSourceConfig",
      "description": "Configuration for syncing data from a ServiceNow source."
    },
    "SqlServerSchema": {
      "description": "SQLServer schema.",
      "properties": {
        "schema": {
          "description": "The schema name.",
          "type": "string"
        },
        "tables": {
          "description": "Tables in the schema.",
          "items": {
            "$ref": "SqlServerTable"
          },
          "type": "array"
        }
      },
      "id": "SqlServerSchema",
      "type": "object"
    },
    "MysqlProfile": {
      "id": "MysqlProfile",
      "properties": {
        "sslConfig": {
          "description": "SSL configuration for the MySQL connection.",
          "$ref": "MysqlSslConfig"
        },
        "secretManagerStoredPassword": {
          "type": "string",
          "description": "Optional. A reference to a Secret Manager resource name storing the MySQL connection password. Mutually exclusive with the `password` field."
        },
        "hostname": {
          "type": "string",
          "description": "Required. Hostname for the MySQL connection."
        },
        "password": {
          "type": "string",
          "description": "Optional. Input only. Password for the MySQL connection. Mutually exclusive with the `secret_manager_stored_password` field."
        },
        "port": {
          "type": "integer",
          "description": "Port for the MySQL connection, default value is 3306.",
          "format": "int32"
        },
        "username": {
          "type": "string",
          "description": "Required. Username for the MySQL connection."
        }
      },
      "description": "Profile for connecting to a MySQL source.",
      "type": "object"
    },
    "PrivateConnection": {
      "description": "The PrivateConnection resource is used to establish private connectivity between Datastream and a customer's network.",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The update time of the resource.",
          "readOnly": true
        },
        "displayName": {
          "description": "Required. Display name.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The create time of the resource.",
          "type": "string"
        },
        "vpcPeeringConfig": {
          "description": "VPC Peering Config.",
          "$ref": "VpcPeeringConfig"
        },
        "satisfiesPzs": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Reserved for future use."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Identifier. The resource's name.",
          "type": "string"
        },
        "pscInterfaceConfig": {
          "$ref": "PscInterfaceConfig",
          "description": "PSC Interface Config."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Labels."
        },
        "state": {
          "description": "Output only. The state of the Private Connection.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "CREATED",
            "FAILED",
            "DELETING",
            "FAILED_TO_DELETE"
          ],
          "enumDescriptions": [
            "Unspecified state.",
            "The private connection is in creation state - creating resources.",
            "The private connection has been created with all of its resources.",
            "The private connection creation has failed.",
            "The private connection is being deleted.",
            "Delete request has failed, resource is in invalid state."
          ],
          "readOnly": true
        },
        "error": {
          "description": "Output only. In case of error, the details of the error in a user-friendly format.",
          "readOnly": true,
          "$ref": "Error"
        },
        "satisfiesPzi": {
          "type": "boolean",
          "description": "Output only. Reserved for future use.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "PrivateConnection"
    },
    "OracleScnPosition": {
      "id": "OracleScnPosition",
      "type": "object",
      "description": "Oracle SCN position",
      "properties": {
        "scn": {
          "type": "string",
          "description": "Required. SCN number from where Logs will be read",
          "format": "int64"
        }
      }
    },
    "OracleProfile": {
      "description": "Profile for connecting to an Oracle source.",
      "properties": {
        "hostname": {
          "type": "string",
          "description": "Required. Hostname for the Oracle connection."
        },
        "connectionAttributes": {
          "description": "Connection string attributes",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "username": {
          "type": "string",
          "description": "Required. Username for the Oracle connection."
        },
        "password": {
          "description": "Optional. Password for the Oracle connection. Mutually exclusive with the `secret_manager_stored_password` field.",
          "type": "string"
        },
        "databaseService": {
          "type": "string",
          "description": "Required. Database for the Oracle connection."
        },
        "oracleSslConfig": {
          "$ref": "OracleSslConfig",
          "description": "Optional. SSL configuration for the Oracle connection."
        },
        "secretManagerStoredPassword": {
          "description": "Optional. A reference to a Secret Manager resource name storing the Oracle connection password. Mutually exclusive with the `password` field.",
          "type": "string"
        },
        "port": {
          "description": "Port for the Oracle connection, default value is 1521.",
          "type": "integer",
          "format": "int32"
        },
        "oracleAsmConfig": {
          "$ref": "OracleAsmConfig",
          "description": "Optional. Configuration for Oracle ASM connection."
        }
      },
      "id": "OracleProfile",
      "type": "object"
    },
    "ServerAndClientVerification": {
      "properties": {
        "clientCertificate": {
          "description": "Required. Input only. PEM-encoded certificate used by the source database to authenticate the client identity (i.e., the Datastream's identity). This certificate is signed by either a root certificate trusted by the server or one or more intermediate certificates (which is stored with the leaf certificate) to link the this certificate to the trusted root certificate.",
          "type": "string"
        },
        "serverCertificateHostname": {
          "description": "Optional. The hostname mentioned in the Subject or SAN extension of the server certificate. If this field is not provided, the hostname in the server certificate is not validated.",
          "type": "string"
        },
        "caCertificate": {
          "type": "string",
          "description": "Required. Input only. PEM-encoded server root CA certificate."
        },
        "clientKey": {
          "description": "Optional. Input only. PEM-encoded private key associated with the client certificate. This value will be used during the SSL/TLS handshake, allowing the PostgreSQL server to authenticate the client's identity, i.e. identity of the Datastream.",
          "type": "string"
        }
      },
      "description": "Message represents the option where Datastream will enforce the encryption and authenticate the server identity as well as the client identity. ca_certificate, client_certificate and client_key must be set if user selects this option.",
      "id": "ServerAndClientVerification",
      "type": "object"
    },
    "IntegerRangePartition": {
      "type": "object",
      "properties": {
        "start": {
          "format": "int64",
          "type": "string",
          "description": "Required. The starting value for range partitioning (inclusive)."
        },
        "end": {
          "description": "Required. The ending value for range partitioning (exclusive).",
          "type": "string",
          "format": "int64"
        },
        "interval": {
          "format": "int64",
          "description": "Required. The interval of each range within the partition.",
          "type": "string"
        },
        "column": {
          "description": "Required. The partitioning column.",
          "type": "string"
        }
      },
      "id": "IntegerRangePartition",
      "description": "Integer range partitioning. see https://cloud.google.com/bigquery/docs/partitioned-tables#integer_range"
    },
    "OauthRefreshTokenCredentials": {
      "properties": {
        "oauthClientCredentials": {
          "description": "Required. Specifies the OAuth Client Credentials.",
          "$ref": "OauthClientCredentials"
        },
        "refreshToken": {
          "description": "Required. Specifies the OAuth Refresh Token.",
          "$ref": "Secret"
        }
      },
      "description": "OAuth Refresh Token Credentials.",
      "id": "OauthRefreshTokenCredentials",
      "type": "object"
    },
    "RequestInfo": {
      "type": "object",
      "properties": {
        "servingData": {
          "type": "string",
          "description": "Any data that was used to serve this request. For example, an encrypted stack trace that can be sent back to the service provider for debugging."
        },
        "requestId": {
          "description": "An opaque string that should only be interpreted by the service generating it. For example, it can be used to identify requests in the service's logs.",
          "type": "string"
        }
      },
      "description": "Contains metadata about the request that clients can attach when filing a bug or providing other forms of feedback.",
      "id": "RequestInfo"
    },
    "SpannerColumn": {
      "properties": {
        "dataType": {
          "type": "string",
          "description": "Optional. Spanner data type."
        },
        "isPrimaryKey": {
          "type": "boolean",
          "description": "Optional. Whether or not the column is a primary key."
        },
        "ordinalPosition": {
          "description": "Optional. The ordinal position of the column in the table.",
          "type": "string",
          "format": "int64"
        },
        "column": {
          "type": "string",
          "description": "Required. The column name."
        }
      },
      "description": "Spanner column.",
      "id": "SpannerColumn",
      "type": "object"
    },
    "SourceProperty": {
      "id": "SourceProperty",
      "properties": {
        "propertyName": {
          "type": "string",
          "description": "Required. The property name."
        },
        "primaryKey": {
          "type": "boolean",
          "description": "Optional. Whether or not the property is a primary key."
        },
        "properties": {
          "description": "Optional. Source properties. When specified, it means that the current property contains nested properties of its own. When unspecified as part of include objects, includes everything, when unspecified as part of exclude objects, excludes nothing.",
          "items": {
            "$ref": "SourceProperty"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Source property."
    },
    "SalesforceSourceConfig": {
      "id": "SalesforceSourceConfig",
      "properties": {
        "pollingInterval": {
          "format": "google-duration",
          "description": "Required. Salesforce objects polling interval. The interval at which new changes will be polled for each object. The duration must be from `5 minutes` to `24 hours`, inclusive.",
          "type": "string"
        },
        "includeObjects": {
          "description": "The Salesforce objects to retrieve from the source.",
[...]
