{
  "canonicalName": "Cloud Dataplex",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "basePath": "",
  "documentationLink": "https://cloud.google.com/dataplex/docs",
  "id": "dataplex:v1",
  "title": "Cloud Dataplex API",
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/dataplex.read-write": {
          "description": "See, edit, configure, and delete your Google Cloud Dataplex data and see the email address for your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/dataplex.readonly": {
          "description": "See your Google Cloud Dataplex data and the email address of your Google Account"
        }
      }
    }
  },
  "protocol": "rest",
  "name": "dataplex",
  "description": "A unified, intelligent governance solution for data and AI assets.",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "rootUrl": "https://dataplex.googleapis.com/",
  "servicePath": "",
  "baseUrl": "https://dataplex.googleapis.com/",
  "mtlsRootUrl": "https://dataplex.mtls.googleapis.com/",
  "parameters": {
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "alt": {
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    }
  },
  "schemas": {
    "GoogleCloudDataplexV1GlossaryTerm": {
      "type": "object",
      "id": "GoogleCloudDataplexV1GlossaryTerm",
      "properties": {
        "uid": {
          "type": "string",
          "description": "Output only. System generated unique id for the GlossaryTerm. This ID will be different if the GlossaryTerm is deleted and re-created with the same name.",
          "readOnly": true
        },
        "description": {
          "description": "Optional. The user-mutable description of the GlossaryTerm.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time at which the GlossaryTerm was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which the GlossaryTerm was last updated.",
          "readOnly": true
        },
        "labels": {
          "description": "Optional. User-defined labels for the GlossaryTerm.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "displayName": {
          "description": "Optional. User friendly display name of the GlossaryTerm. This is user-mutable. This will be same as the GlossaryTermId, if not specified.",
          "type": "string"
        },
        "parent": {
          "description": "Required. The immediate parent of the GlossaryTerm in the resource-hierarchy. It can either be a Glossary or a GlossaryCategory. Format: projects/{project_id_or_number}/locations/{location_id}/glossaries/{glossary_id} OR projects/{project_id_or_number}/locations/{location_id}/glossaries/{glossary_id}/categories/{category_id}",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. Identifier. The resource name of the GlossaryTerm. Format: projects/{project_id_or_number}/locations/{location_id}/glossaries/{glossary_id}/terms/{term_id}",
          "readOnly": true
        }
      },
      "description": "GlossaryTerms are the core of Glossary. A GlossaryTerm holds a rich text description that can be attached to Entries or specific columns to enrich them."
    },
    "GoogleCloudDataplexV1DataDomain": {
      "id": "GoogleCloudDataplexV1DataDomain",
      "properties": {
        "uid": {
          "type": "string",
          "description": "Output only. System-generated globally unique ID for the DataDomain.",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. The time at which the DataDomain was last updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "parentDataDomain": {
          "description": "Optional. Immutable. The resource name of the parent DataDomain. Empty if this is a top-level DataDomain. Format: projects/{project_id_or_number}/locations/{location}/dataDomains/{parent_data_domain_id} This field is immutable after creation.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Optional. User-defined labels for the DataDomain.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "displayName": {
          "description": "Required. User-friendly display name.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The relative resource name of the DataDomain, of the form: projects/{project_id_or_number}/locations/{location_id}/dataDomains/{data_domain_id}",
          "type": "string"
        },
        "policyMember": {
          "$ref": "GoogleIamV1ResourcePolicyMember",
          "description": "Output only. Output-only policy member strings of this resource.",
          "readOnly": true
        },
        "description": {
          "description": "Optional. User-provided description of the DataDomain.",
          "type": "string"
        },
        "contacts": {
          "description": "Required. Contact info for the Data Domains.",
          "$ref": "GoogleCloudDataplexV1Contacts"
        },
        "createTime": {
          "description": "Output only. The time at which the DataDomain was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "A DataDomain is a logical grouping of data resources for governance, discovery, and management at scale.",
      "type": "object"
    },
    "GoogleCloudDataplexV1ListJobsResponse": {
      "description": "List jobs response.",
      "id": "GoogleCloudDataplexV1ListJobsResponse",
      "properties": {
        "jobs": {
          "items": {
            "$ref": "GoogleCloudDataplexV1Job"
          },
          "description": "Jobs under a given task.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDataplexV1ListEncryptionConfigsResponse": {
      "id": "GoogleCloudDataplexV1ListEncryptionConfigsResponse",
      "properties": {
        "unreachableLocations": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "encryptionConfigs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1EncryptionConfig"
          },
          "description": "The list of EncryptionConfigs under the given parent location."
        }
      },
      "description": "List EncryptionConfigs Response",
      "type": "object"
    },
    "GoogleCloudDataplexV1TaskTriggerSpec": {
      "type": "object",
      "id": "GoogleCloudDataplexV1TaskTriggerSpec",
      "properties": {
        "type": {
          "description": "Required. Immutable. Trigger type of the user-specified Task.",
          "enumDescriptions": [
            "Unspecified trigger type.",
            "The task runs one-time shortly after Task Creation.",
            "The task is scheduled to run periodically."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "ON_DEMAND",
            "RECURRING"
          ],
          "type": "string"
        },
        "schedule": {
          "description": "Optional. Cron schedule (https://en.wikipedia.org/wiki/Cron) for running tasks periodically. To explicitly set a timezone to the cron tab, apply a prefix in the cron tab: \"CRON_TZ=${IANA_TIME_ZONE}\" or \"TZ=${IANA_TIME_ZONE}\". The ${IANA_TIME_ZONE} may only be a valid string from IANA time zone database. For example, CRON_TZ=America/New_York 1 * * * *, or TZ=America/New_York 1 * * * *. This field is required for RECURRING tasks.",
          "type": "string"
        },
        "disabled": {
          "description": "Optional. Prevent the task from executing. This does not cancel already running tasks. It is intended to temporarily disable RECURRING tasks.",
          "type": "boolean"
        },
        "startTime": {
          "description": "Optional. The first run of the task will be after this time. If not specified, the task will run shortly after being submitted if ON_DEMAND and based on the schedule if RECURRING.",
          "format": "google-datetime",
          "type": "string"
        },
        "maxRetries": {
          "type": "integer",
          "description": "Optional. Number of retry attempts before aborting. Set to zero to never attempt to retry a failed task.",
          "format": "int32"
        }
      },
      "description": "Task scheduling and trigger settings."
    },
    "GoogleCloudDataplexV1CreateGlossaryRequest": {
      "type": "object",
      "id": "GoogleCloudDataplexV1CreateGlossaryRequest",
      "properties": {
        "glossary": {
          "description": "Required. The Glossary to create.",
          "$ref": "GoogleCloudDataplexV1Glossary"
        },
        "validateOnly": {
          "description": "Optional. Validates the request without actually creating the Glossary. Default: false.",
          "type": "boolean"
        },
        "parent": {
          "description": "Required. The parent resource where this Glossary will be created. Format: projects/{project_id_or_number}/locations/{location_id} where location_id refers to a Google Cloud region.",
          "type": "string"
        },
        "glossaryId": {
          "description": "Required. Glossary ID: Glossary identifier.",
          "type": "string"
        }
      },
      "description": "Create Glossary Request"
    },
    "GoogleIamV1TestIamPermissionsResponse": {
      "description": "Response message for TestIamPermissions method.",
      "id": "GoogleIamV1TestIamPermissionsResponse",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A subset of TestPermissionsRequest.permissions that the caller is allowed."
        }
      },
      "type": "object"
    },
    "GoogleCloudDataplexV1DeleteEntryRequest": {
      "id": "GoogleCloudDataplexV1DeleteEntryRequest",
      "properties": {
        "name": {
          "description": "Required. The resource name of the Entry: projects/{project}/locations/{location}/entryGroups/{entry_group}/entries/{entry}.",
          "type": "string"
        }
      },
      "description": "Delete Entry request.",
      "type": "object"
    },
    "GoogleCloudDataplexV1TriggerSchedule": {
      "id": "GoogleCloudDataplexV1TriggerSchedule",
      "properties": {
        "cron": {
          "description": "Required. Cron (https://en.wikipedia.org/wiki/Cron) schedule for running scans periodically.To explicitly set a timezone in the cron tab, apply a prefix in the cron tab: \"CRON_TZ=${IANA_TIME_ZONE}\" or \"TZ=${IANA_TIME_ZONE}\". The ${IANA_TIME_ZONE} may only be a valid string from IANA time zone database (wikipedia (https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List)). For example, CRON_TZ=America/New_York 1 * * * *, or TZ=America/New_York 1 * * * *.This field is required for Schedule scans.",
          "type": "string"
        }
      },
      "description": "The scan is scheduled to run periodically.",
      "type": "object"
    },
    "GoogleCloudDataplexV1ListGlossaryTermsResponse": {
      "type": "object",
      "description": "List GlossaryTerms Response",
      "id": "GoogleCloudDataplexV1ListGlossaryTermsResponse",
      "properties": {
        "unreachableLocations": {
          "type": "array",
          "description": "Locations that the service couldn't reach.",
          "items": {
            "type": "string"
          }
        },
        "terms": {
          "type": "array",
          "description": "Lists the GlossaryTerms in the specified parent.",
          "items": {
            "$ref": "GoogleCloudDataplexV1GlossaryTerm"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as page_token to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1Glossary": {
      "type": "object",
      "id": "GoogleCloudDataplexV1Glossary",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. User-defined labels for the Glossary.",
          "type": "object"
        },
        "uid": {
          "description": "Output only. System generated unique id for the Glossary. This ID will be different if the Glossary is deleted and re-created with the same name.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The time at which the Glossary was last updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "categoryCount": {
          "description": "Output only. The number of GlossaryCategories in the Glossary.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "termCount": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. The number of GlossaryTerms in the Glossary.",
          "readOnly": true
        },
        "description": {
          "description": "Optional. The user-mutable description of the Glossary.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which the Glossary was created.",
          "readOnly": true
        },
        "etag": {
          "description": "Optional. Needed for resource freshness validation. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. Identifier. The resource name of the Glossary. Format: projects/{project_id_or_number}/locations/{location_id}/glossaries/{glossary_id}",
          "readOnly": true
        },
        "displayName": {
          "description": "Optional. User friendly display name of the Glossary. This is user-mutable. This will be same as the GlossaryId, if not specified.",
          "type": "string"
        }
      },
      "description": "A Glossary represents a collection of GlossaryCategories and GlossaryTerms defined by the user. Glossary is a top level resource and is the Google Cloud parent resource of all the GlossaryCategories and GlossaryTerms within it."
    },
    "GoogleCloudDataplexV1DataQualitySpecPostScanActionsJobEndTrigger": {
      "type": "object",
      "description": "This trigger is triggered whenever a scan job run ends, regardless of the result.",
      "id": "GoogleCloudDataplexV1DataQualitySpecPostScanActionsJobEndTrigger",
      "properties": {}
    },
    "GoogleCloudDataplexV1DataDocumentationResultField": {
      "id": "GoogleCloudDataplexV1DataDocumentationResultField",
      "properties": {
        "fields": {
          "type": "array",
          "description": "Output only. Nested fields.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudDataplexV1DataDocumentationResultField"
          }
        },
        "name": {
          "type": "string",
          "description": "Output only. The name of the column.",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Output only. Generated description for columns and fields.",
          "readOnly": true
        }
      },
      "description": "Column of a table with generated metadata and nested fields.",
      "type": "object"
    },
    "GoogleCloudDataplexV1DataProductPrincipal": {
      "type": "object",
      "description": "Represents the principal entity associated with an access group, as per https://cloud.google.com/iam/docs/principals-overview.",
      "id": "GoogleCloudDataplexV1DataProductPrincipal",
      "properties": {
        "googleGroup": {
          "description": "Optional. Email of the Google Group, as per https://cloud.google.com/iam/docs/principals-overview#google-group.",
          "type": "string"
        },
        "serviceAccount": {
          "description": "Optional. Specifies the email of the producer service account, as per https://cloud.google.com/iam/docs/principals-overview#service-account.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1SessionEvent": {
      "type": "object",
      "description": "These messages contain information about sessions within an environment. The monitored resource is 'Environment'.",
      "id": "GoogleCloudDataplexV1SessionEvent",
      "properties": {
        "userId": {
          "description": "The information about the user that created the session. It will be the email address of the user.",
          "type": "string"
        },
        "eventSucceeded": {
          "description": "The status of the event.",
          "type": "boolean"
        },
        "sessionId": {
          "description": "Unique identifier for the session.",
          "type": "string"
        },
        "unassignedDuration": {
          "description": "The idle duration of a warm pooled session before it is assigned to user.",
          "format": "google-duration",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The type of the event.",
          "enumDescriptions": [
            "An unspecified event type.",
            "Event when the session is assigned to a user.",
            "Event for stop of a session.",
            "Query events in the session.",
            "Event for creation of a cluster. It is not yet assigned to a user. This comes before START in the sequence"
          ],
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "START",
            "STOP",
            "QUERY",
            "CREATE"
          ]
        },
        "query": {
          "description": "The execution details of the query.",
          "$ref": "GoogleCloudDataplexV1SessionEventQueryDetail"
        },
        "message": {
          "description": "The log message.",
          "type": "string"
        },
        "fastStartupEnabled": {
          "description": "If the session is associated with an environment with fast startup enabled, and was created before being assigned to a user.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDataplexV1ListChangeRequestsResponse": {
      "type": "object",
      "description": "Response message for ListChangeRequests.",
      "id": "GoogleCloudDataplexV1ListChangeRequestsResponse",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "changeRequests": {
          "description": "The ChangeRequests from the specified project and location.",
          "items": {
            "$ref": "GoogleCloudDataplexV1ChangeRequest"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as page_token to retrieve the next page.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1DataDocumentationResultQuery": {
      "id": "GoogleCloudDataplexV1DataDocumentationResultQuery",
      "properties": {
        "description": {
          "description": "Output only. The description for the query.",
          "readOnly": true,
          "type": "string"
        },
        "sqlDialect": {
          "readOnly": true,
          "enum": [
            "SQL_DIALECT_UNSPECIFIED",
            "GOOGLE_SQL",
            "SPARK_SQL"
          ],
          "type": "string",
          "description": "Output only. The SQL dialect of the query.",
          "enumDescriptions": [
            "SQL dialect unspecified.",
            "Google SQL dialect.",
            "Spark SQL dialect."
          ]
        },
        "sql": {
          "description": "Output only. The SQL query string which can be executed.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "A sample SQL query in data documentation.",
      "type": "object"
    },
    "GoogleCloudDataplexV1DataProduct": {
      "id": "GoogleCloudDataplexV1DataProduct",
      "properties": {
        "labels": {
          "type": "object",
          "description": "Optional. User-defined labels for the data product.Example: { \"environment\": \"production\", \"billing\": \"marketing-department\" } ",
          "additionalProperties": {
            "type": "string"
          }
        },
        "uid": {
          "description": "Output only. System generated unique ID for the data product. This ID will be different if the data product is deleted and re-created with the same name.",
          "readOnly": true,
          "type": "string"
        },
        "assetCount": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. Number of data assets associated with this data product.",
          "readOnly": true
        },
        "accessApprovalConfig": {
          "description": "Optional. Configuration for access approval for the data product.",
          "$ref": "GoogleCloudDataplexV1DataProductAccessApprovalConfig"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time at which the data product was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "description": {
          "description": "Optional. Description of the data product.",
          "type": "string"
        },
        "ownerEmails": {
          "type": "array",
          "description": "Required. Emails of the data product owners.",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Identifier. Resource name of the data product. Format: projects/{project_id_or_number}/locations/{location_id}/dataProducts/{data_product_id}.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which the data product was last updated.",
          "readOnly": true
        },
        "accessGroups": {
          "description": "Optional. Data product access groups by access group id as key. If data product is used only for packaging data assets, then access groups may be empty. However, if a data product is used for sharing data assets, then at least one access group must be specified.Example: { \"analyst\": { \"id\": \"analyst\", \"displayName\": \"Analyst\", \"description\": \"Access group for analysts\", \"principal\": { \"googleGroup\": \"analysts@example.com\" } } } ",
          "additionalProperties": {
            "$ref": "GoogleCloudDataplexV1DataProductAccessGroup"
          },
          "type": "object"
        },
        "icon": {
          "type": "string",
          "description": "Optional. Base64 encoded image representing the data product. Max Size: 3.0MiB Expected image dimensions are 512x512 pixels, however the API only performs validation on size of the encoded data. Note: For byte fields, the content of the fields are base64-encoded (which increases the size of the data by 33-36%) when using JSON on the wire.",
          "format": "byte"
        },
        "etag": {
          "description": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. User-friendly display name of the data product.",
          "type": "string"
        }
      },
      "description": "A data product is a curated collection of data assets, packaged to address specific use cases. It's a way to manage and share data in a more organized, product-like manner.",
      "type": "object"
    },
    "GoogleCloudDataplexV1MetadataJobStatus": {
      "id": "GoogleCloudDataplexV1MetadataJobStatus",
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "Output only. The time when the status was updated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "message": {
          "type": "string",
          "description": "Output only. Message relating to the progression of a metadata job.",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "State unspecified.",
            "The job is queued.",
            "The job is running.",
            "The job is being canceled.",
            "The job is canceled.",
            "The job succeeded.",
            "The job failed.",
            "The job completed with some errors."
          ],
          "description": "Output only. State of the metadata job.",
          "enum": [
            "STATE_UNSPECIFIED",
            "QUEUED",
            "RUNNING",
            "CANCELING",
            "CANCELED",
            "SUCCEEDED",
            "FAILED",
            "SUCCEEDED_WITH_ERRORS"
          ],
          "readOnly": true
        },
        "completionPercent": {
          "description": "Output only. Progress tracking.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Metadata job status.",
      "type": "object"
    },
    "GoogleCloudDataplexV1DataAccessSpec": {
      "type": "object",
      "description": "DataAccessSpec holds the access control configuration to be enforced on data stored within resources (eg: rows, columns in BigQuery Tables). When associated with data, the data is only accessible to principals explicitly granted access through the DataAccessSpec. Principals with access to the containing resource are not implicitly granted access.",
      "id": "GoogleCloudDataplexV1DataAccessSpec",
      "properties": {
        "readers": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The format of strings follows the pattern followed by IAM in the bindings. user:{email}, serviceAccount:{email} group:{email}. The set of principals to be granted reader role on data stored within resources.",
          "type": "array"
        }
      }
    },
    "GoogleCloudDataplexV1RunDataScanResponse": {
      "id": "GoogleCloudDataplexV1RunDataScanResponse",
      "properties": {
        "job": {
          "description": "DataScanJob created by RunDataScan request.",
          "$ref": "GoogleCloudDataplexV1DataScanJob"
        }
      },
      "description": "Run DataScan Response.",
      "type": "object"
    },
    "GoogleCloudDataplexV1MetadataFeedScope": {
      "type": "object",
      "description": "Scope defines the scope of the metadata feed. Scopes are exclusive. Only one of the scopes can be specified.",
      "id": "GoogleCloudDataplexV1MetadataFeedScope",
      "properties": {
        "entryGroups": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The entry groups whose entries you want to listen to. Must be in the format: projects/{project_id_or_number}/locations/{location_id}/entryGroups/{entry_group_id}.",
          "type": "array"
        },
        "organizationLevel": {
          "description": "Optional. Whether the metadata feed is at the organization-level. If true, all changes happened to the entries in the same organization as the feed are published. If false, you must specify a list of projects or a list of entry groups whose entries you want to listen to.The default is false.",
          "type": "boolean"
        },
        "projects": {
          "description": "Optional. The projects whose entries you want to listen to. Must be in the same organization as the feed. Must be in the format: projects/{project_id_or_number}.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDataplexV1DataDocumentationResultSchemaRelationship": {
      "type": "object",
      "id": "GoogleCloudDataplexV1DataDocumentationResultSchemaRelationship",
      "properties": {
        "rightSchemaPaths": {
          "$ref": "GoogleCloudDataplexV1DataDocumentationResultSchemaRelationshipSchemaPaths",
          "description": "Output only. An ordered list of fields for the join from the second table. The size of this list must be the same as left_schema_paths. Each field at index i in this list must correspond to a field at the same index in the left_schema_paths list.",
          "readOnly": true
        },
        "leftSchemaPaths": {
          "description": "Output only. An ordered list of fields for the join from the first table. The size of this list must be the same as right_schema_paths. Each field at index i in this list must correspond to a field at the same index in the right_schema_paths list.",
          "readOnly": true,
          "$ref": "GoogleCloudDataplexV1DataDocumentationResultSchemaRelationshipSchemaPaths"
        },
        "type": {
          "type": "string",
          "description": "Output only. The type of relationship between the schema paths.",
          "enumDescriptions": [
            "The type of the schema relationship is unspecified.",
            "Indicates a join relationship between the schema fields."
          ],
          "readOnly": true,
          "enum": [
            "TYPE_UNSPECIFIED",
            "SCHEMA_JOIN"
          ]
        },
        "sources": {
          "items": {
            "enumDescriptions": [
              "The source of the schema relationship is unspecified.",
              "The source of the schema relationship is agent.",
              "The source of the schema relationship is query history from the source system.",
              "The source of the schema relationship is table constraints added in the source system."
            ],
            "enum": [
              "SOURCE_UNSPECIFIED",
              "AGENT",
              "QUERY_HISTORY",
              "TABLE_CONSTRAINTS"
            ],
            "type": "string"
          },
          "description": "Output only. Sources which generated the schema relation edge.",
          "readOnly": true,
          "type": "array"
        }
      },
      "description": "Details of the relationship between the schema of two resources."
    },
    "GoogleCloudDataplexV1DeleteGlossaryTermRequest": {
      "type": "object",
      "id": "GoogleCloudDataplexV1DeleteGlossaryTermRequest",
      "properties": {
        "name": {
          "description": "Required. The name of the GlossaryTerm to delete. Format: projects/{project_id_or_number}/locations/{location_id}/glossaries/{glossary_id}/terms/{term_id}",
          "type": "string"
        }
      },
      "description": "Delete GlossaryTerm Request"
    },
    "GoogleCloudDataplexV1EntryGroup": {
      "type": "object",
      "id": "GoogleCloudDataplexV1EntryGroup",
      "properties": {
        "uid": {
          "description": "Output only. System generated globally unique ID for the EntryGroup. If you delete and recreate the EntryGroup with the same name, this ID will be different.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the EntryGroup was last updated.",
          "readOnly": true
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. User-defined labels for the EntryGroup."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time when the EntryGroup was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "description": {
          "description": "Optional. Description of the EntryGroup.",
          "type": "string"
        },
        "etag": {
          "description": "This checksum is computed by the service, and might be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "transferStatus": {
          "type": "string",
          "enumDescriptions": [
            "The default value. It is set for resources that were not subject for migration from Data Catalog service.",
            "Indicates that a resource was migrated from Data Catalog service but it hasn't been transferred yet. In particular the resource cannot be updated from Dataplex API.",
            "Indicates that a resource was transferred from Data Catalog service. The resource can only be updated from Dataplex API."
          ],
          "description": "Output only. Denotes the transfer status of the Entry Group. It is unspecified for Entry Group created from Dataplex API.",
          "enum": [
            "TRANSFER_STATUS_UNSPECIFIED",
            "TRANSFER_STATUS_MIGRATED",
            "TRANSFER_STATUS_TRANSFERRED"
          ],
          "readOnly": true
        },
        "displayName": {
          "description": "Optional. User friendly display name.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. The relative resource name of the EntryGroup, in the format projects/{project_id_or_number}/locations/{location_id}/entryGroups/{entry_group_id}.",
          "readOnly": true
        }
      },
      "description": "An Entry Group represents a logical grouping of one or more Entries."
    },
    "GoogleCloudDataplexV1DeleteGlossaryCategoryRequest": {
      "description": "Delete GlossaryCategory Request",
      "id": "GoogleCloudDataplexV1DeleteGlossaryCategoryRequest",
      "properties": {
        "name": {
          "description": "Required. The name of the GlossaryCategory to delete. Format: projects/{project_id_or_number}/locations/{location_id}/glossaries/{glossary_id}/categories/{category_id}",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDataplexV1DataQualityRuleStatisticRangeExpectation": {
      "type": "object",
      "id": "GoogleCloudDataplexV1DataQualityRuleStatisticRangeExpectation",
      "properties": {
        "strictMaxEnabled": {
          "description": "Optional. Whether column statistic needs to be strictly lesser than ('<') the maximum, or if equality is allowed.Only relevant if a max_value has been defined. Default = false.",
          "type": "boolean"
        },
        "statistic": {
          "type": "string",
          "description": "Optional. The aggregate metric to evaluate.",
          "enumDescriptions": [
            "Unspecified statistic type",
            "Evaluate the column mean",
            "Evaluate the column min",
            "Evaluate the column max"
          ],
          "enum": [
            "STATISTIC_UNDEFINED",
            "MEAN",
            "MIN",
            "MAX"
          ]
        },
        "minValue": {
          "description": "Optional. The minimum column statistic value allowed for a row to pass this validation.At least one of min_value and max_value need to be provided.",
          "type": "string"
        },
        "strictMinEnabled": {
          "description": "Optional. Whether column statistic needs to be strictly greater than ('>') the minimum, or if equality is allowed.Only relevant if a min_value has been defined. Default = false.",
          "type": "boolean"
        },
        "maxValue": {
          "description": "Optional. The maximum column statistic value allowed for a row to pass this validation.At least one of min_value and max_value need to be provided.",
          "type": "string"
        }
      },
      "description": "Evaluates whether the column aggregate statistic lies between a specified range."
    },
    "GoogleCloudDataplexV1AspectTypeAuthorization": {
      "description": "Authorization for an AspectType.",
      "id": "GoogleCloudDataplexV1AspectTypeAuthorization",
      "properties": {
        "alternateUsePermission": {
          "description": "Immutable. The IAM permission grantable on the EntryGroup to allow access to instantiate Aspects of Dataplex Universal Catalog owned AspectTypes, only settable for Dataplex Universal Catalog owned Types.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDataplexV1MetadataJobExportJobSpecExportJobScope": {
      "description": "The scope of the export job.",
      "id": "GoogleCloudDataplexV1MetadataJobExportJobSpecExportJobScope",
      "properties": {
        "aspectTypes": {
          "description": "The aspect types that are in scope for the export job, specified as relative resource names in the format projects/{project_id_or_number}/locations/{location}/aspectTypes/{aspect_type_id}. Only aspects that belong to the specified aspect types are affected by the job.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "organizationLevel": {
          "description": "Whether the metadata export job is an organization-level export job. If true, the job exports the entries from the same organization and VPC Service Controls perimeter as the job. The project that the job belongs to determines the VPC Service Controls perimeter. If you set the job scope to be at the organization level, then don't provide a list of projects or entry groups. If false, you must specify a list of projects or a list of entry groups whose entries you want to export.The default is false.",
          "type": "boolean"
        },
        "projects": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The projects whose metadata you want to export, in the format projects/{project_id_or_number}. Only the entries from the specified projects are exported.The projects must be in the same organization and VPC Service Controls perimeter as the job.If you set the job scope to be a list of projects, then set the organization-level export flag to false and don't provide a list of entry groups."
        },
        "entryTypes": {
          "description": "The entry types that are in scope for the export job, specified as relative resource names in the format projects/{project_id_or_number}/locations/{location}/entryTypes/{entry_type_id}. Only entries that belong to the specified entry types are affected by the job.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "entryGroups": {
          "description": "The entry groups whose metadata you want to export, in the format projects/{project_id_or_number}/locations/{location_id}/entryGroups/{entry_group_id}. Only the entries in the specified entry groups are exported.The entry groups must be in the same location and the same VPC Service Controls perimeter as the job.If you set the job scope to be a list of entry groups, then set the organization-level export flag to false and don't provide a list of projects.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDataplexV1ActionInvalidDataFormat": {
      "type": "object",
      "description": "Action details for invalid or unsupported data files detected by discovery.",
      "id": "GoogleCloudDataplexV1ActionInvalidDataFormat",
      "properties": {
        "newFormat": {
          "description": "The new unexpected data format within the entity.",
          "type": "string"
        },
        "expectedFormat": {
          "description": "The expected data format of the entity.",
          "type": "string"
        },
        "sampledDataLocations": {
          "description": "The list of data locations sampled and used for format/schema inference.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDataplexV1DataProductAccessApprovalConfig": {
      "description": "Configuration for access approval for the data product.",
      "id": "GoogleCloudDataplexV1DataProductAccessApprovalConfig",
      "properties": {
        "approverEmails": {
          "type": "array",
          "description": "Optional. Specifies the email addresses of users who are potential approvers and are notified when an access request is made for the data product. The maximum number of emails allowed is 10.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDataplexV1DataDiscoverySpec": {
      "type": "object",
      "description": "Spec for a data discovery scan.",
      "id": "GoogleCloudDataplexV1DataDiscoverySpec",
      "properties": {
        "bigqueryPublishingConfig": {
          "description": "Optional. Configuration for metadata publishing.",
          "$ref": "GoogleCloudDataplexV1DataDiscoverySpecBigQueryPublishingConfig"
        },
        "storageConfig": {
          "description": "Cloud Storage related configurations.",
          "$ref": "GoogleCloudDataplexV1DataDiscoverySpecStorageConfig"
        }
      }
    },
    "GoogleCloudDataplexV1DataProfileResultPostScanActionsResultBigQueryExportResult": {
      "description": "The result of BigQuery export post scan action.",
      "id": "GoogleCloudDataplexV1DataProfileResultPostScanActionsResultBigQueryExportResult",
      "properties": {
        "message": {
          "type": "string",
          "description": "Output only. Additional information about the BigQuery exporting.",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "The exporting state is unspecified.",
            "The exporting completed successfully.",
            "The exporting is no longer running due to an error.",
            "The exporting is skipped due to no valid scan result to export (usually caused by scan failed)."
          ],
          "description": "Output only. Execution state for the BigQuery exporting.",
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED",
            "SKIPPED"
          ],
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudDataplexV1RequestDataProductAccessRequest": {
      "id": "GoogleCloudDataplexV1RequestDataProductAccessRequest",
      "properties": {
        "validateOnly": {
          "description": "Optional. Validates the request without actually creating the access change request. Defaults to false.",
          "type": "boolean"
        },
        "changeRequest": {
          "description": "Required. The change request for the data product access request.",
          "$ref": "GoogleCloudDataplexV1ChangeRequest"
        }
      },
      "description": "Message for requesting access to a Data Product.",
      "type": "object"
    },
    "GoogleCloudDataplexV1ListDataAttributesResponse": {
      "type": "object",
      "description": "List DataAttributes response.",
      "id": "GoogleCloudDataplexV1ListDataAttributesResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "dataAttributes": {
          "description": "DataAttributes under the given parent DataTaxonomy.",
          "items": {
            "$ref": "GoogleCloudDataplexV1DataAttribute"
          },
          "type": "array"
        },
        "unreachableLocations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      }
    },
    "GoogleCloudDataplexV1DataSource": {
      "type": "object",
      "description": "The data source for DataScan.",
      "id": "GoogleCloudDataplexV1DataSource",
      "properties": {
        "entity": {
          "description": "Immutable. The Dataplex Universal Catalog entity that represents the data source (e.g. BigQuery table) for DataScan, of the form: projects/{project_number}/locations/{location_id}/lakes/{lake_id}/zones/{zone_id}/entities/{entity_id}.",
          "type": "string"
        },
        "resource": {
          "description": "Immutable. The service-qualified full resource name of the cloud resource for a DataScan job to scan against. The field could either be: Cloud Storage bucket for DataDiscoveryScan Format: //storage.googleapis.com/projects/PROJECT_ID/buckets/BUCKET_ID or BigQuery table of type \"TABLE\" for DataProfileScan/DataQualityScan/DataDocumentationScan Format: //bigquery.googleapis.com/projects/PROJECT_ID/datasets/DATASET_ID/tables/TABLE_ID or BigQuery dataset for DataDocumentationScan only Format: //bigquery.googleapis.com/projects/PROJECT_ID/datasets/DATASET_ID",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1DataQualityRuleResultDebugQueryResult": {
      "type": "object",
      "id": "GoogleCloudDataplexV1DataQualityRuleResultDebugQueryResult",
      "properties": {
        "type": {
          "description": "Indicates the data type of the result. For more information, see BigQuery data types (https://cloud.google.com/bigquery/docs/reference/standard-sql/data-types).",
          "type": "string"
        },
        "name": {
          "description": "Specifies the name of the result. Available if provided with an explicit alias using [AS] alias.",
          "type": "string"
        },
        "value": {
          "description": "Represents the value of the result as a string.",
          "type": "string"
        }
      },
      "description": "Contains a single result from the debug query."
    },
    "GoogleCloudDataplexV1ZoneDiscoverySpecCsvOptions": {
      "type": "object",
      "description": "Describe CSV and similar semi-structured data formats.",
      "id": "GoogleCloudDataplexV1ZoneDiscoverySpecCsvOptions",
      "properties": {
        "delimiter": {
          "description": "Optional. The delimiter being used to separate values. This defaults to ','.",
          "type": "string"
        },
        "disableTypeInference": {
          "description": "Optional. Whether to disable the inference of data type for CSV data. If true, all columns will be registered as strings.",
          "type": "boolean"
        },
        "encoding": {
          "description": "Optional. The character encoding of the data. The default is UTF-8.",
          "type": "string"
        },
        "headerRows": {
          "format": "int32",
          "description": "Optional. The number of rows to interpret as header rows that should be skipped when reading data rows.",
          "type": "integer"
        }
      }
    },
    "GoogleCloudDataplexV1ImportItem": {
      "id": "GoogleCloudDataplexV1ImportItem",
      "properties": {
        "entry": {
          "description": "Information about an entry and its attached aspects.",
          "$ref": "GoogleCloudDataplexV1Entry"
        },
        "aspectKeys": {
          "description": "The aspects to modify. Supports the following syntaxes: {aspect_type_reference}: matches aspects that belong to the specified aspect type and are attached directly to the entry. {aspect_type_reference}@{path}: matches aspects that belong to the specified aspect type and path. {aspect_type_reference}@* : matches aspects of the given type for all paths. *@path : matches aspects of all types on the given path.Replace {aspect_type_reference} with a reference to the aspect type, in the format {project_id_or_number}.{location_id}.{aspect_type_id}.In FULL entry sync mode, if you leave this field empty, it is treated as specifying exactly those aspects that are present within the specified entry. Dataplex Universal Catalog implicitly adds the keys for all of the required aspects of an entry.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "entryLink": {
          "description": "Information about the entry link. User should provide either one of the entry or entry_link. While providing entry_link, user should not provide update_mask and aspect_keys.",
          "$ref": "GoogleCloudDataplexV1EntryLink"
        },
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "The fields to update, in paths that are relative to the Entry resource. Separate each field with a comma.In FULL entry sync mode, Dataplex Universal Catalog includes the paths of all of the fields for an entry that can be modified, including aspects. This means that Dataplex Universal Catalog replaces the existing entry with the entry in the metadata import file. All modifiable fields are updated, regardless of the fields that are listed in the update mask, and regardless of whether a field is present in the entry object.The update_mask field is ignored when an entry is created or re-created.In an aspect-only metadata job (when entry sync mode is NONE), set this value to aspects.Dataplex Universal Catalog also determines which entries and aspects to modify by comparing the values and timestamps that you provide in the metadata import file with the values and timestamps that exist in your project. For more information, see Comparison logic (https://cloud.google.com/dataplex/docs/import-metadata#data-modification-logic)."
        }
      },
      "description": "An object that describes the values that you want to set for an entry and its attached aspects when you import metadata. Used when you run a metadata import job. See CreateMetadataJob.You provide a collection of import items in a metadata import file. For more information about how to create a metadata import file, see Metadata import file (https://cloud.google.com/dataplex/docs/import-metadata#metadata-import-file).",
      "type": "object"
    },
    "GoogleCloudDataplexV1DataDocumentationResultSchema": {
      "description": "Schema of the table with generated metadata of columns.",
      "id": "GoogleCloudDataplexV1DataDocumentationResultSchema",
      "properties": {
        "fields": {
          "description": "Output only. The list of columns.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudDataplexV1DataDocumentationResultField"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDataplexV1DiscoveryEvent": {
      "id": "GoogleCloudDataplexV1DiscoveryEvent",
      "properties": {
        "assetId": {
          "description": "The id of the associated asset.",
          "type": "string"
        },
        "type": {
          "description": "The type of the event being logged.",
          "enumDescriptions": [
            "An unspecified event type.",
            "An event representing discovery configuration in effect.",
            "An event representing a metadata entity being created.",
            "An event representing a metadata entity being updated.",
            "An event representing a metadata entity being deleted.",
            "An event representing a partition being created.",
            "An event representing a partition being updated.",
            "An event representing a partition being deleted.",
            "An event representing a table being published.",
            "An event representing a table being updated.",
            "An event representing a table being skipped in publishing.",
            "An event representing a table being deleted."
          ],
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "CONFIG",
            "ENTITY_CREATED",
            "ENTITY_UPDATED",
            "ENTITY_DELETED",
            "PARTITION_CREATED",
            "PARTITION_UPDATED",
            "PARTITION_DELETED",
            "TABLE_PUBLISHED",
            "TABLE_UPDATED",
            "TABLE_IGNORED",
            "TABLE_DELETED"
          ],
          "type": "string"
        },
        "message": {
          "description": "The log message.",
          "type": "string"
        },
        "zoneId": {
          "description": "The id of the associated zone.",
          "type": "string"
        },
        "partition": {
          "description": "Details about the partition associated with the event.",
          "$ref": "GoogleCloudDataplexV1DiscoveryEventPartitionDetails"
        },
        "action": {
          "description": "Details about the action associated with the event.",
          "$ref": "GoogleCloudDataplexV1DiscoveryEventActionDetails"
        },
        "dataLocation": {
          "description": "The data location associated with the event.",
          "type": "string"
        },
        "config": {
          "description": "Details about discovery configuration in effect.",
          "$ref": "GoogleCloudDataplexV1DiscoveryEventConfigDetails"
        },
        "datascanId": {
          "description": "The id of the associated datascan for standalone discovery.",
          "type": "string"
        },
        "lakeId": {
          "description": "The id of the associated lake.",
          "type": "string"
        },
        "entity": {
          "description": "Details about the entity associated with the event.",
          "$ref": "GoogleCloudDataplexV1DiscoveryEventEntityDetails"
        },
        "table": {
          "description": "Details about the BigQuery table publishing associated with the event.",
          "$ref": "GoogleCloudDataplexV1DiscoveryEventTableDetails"
        }
      },
      "description": "The payload associated with Discovery data processing.",
      "type": "object"
    },
    "GoogleCloudDataplexV1DataQualitySpecPostScanActionsBigQueryExport": {
      "type": "object",
      "description": "The configuration of BigQuery export post scan action.",
      "id": "GoogleCloudDataplexV1DataQualitySpecPostScanActionsBigQueryExport",
      "properties": {
        "resultsTable": {
          "description": "Optional. The BigQuery table to export DataQualityScan results to. Format: //bigquery.googleapis.com/projects/PROJECT_ID/datasets/DATASET_ID/tables/TABLE_ID or projects/PROJECT_ID/datasets/DATASET_ID/tables/TABLE_ID",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1JobEvent": {
      "type": "object",
      "description": "The payload associated with Job logs that contains events describing jobs that have run within a Lake.",
      "id": "GoogleCloudDataplexV1JobEvent",
      "properties": {
        "jobId": {
          "description": "The unique id identifying the job.",
          "type": "string"
        },
        "executionTrigger": {
          "description": "Job execution trigger.",
          "enumDescriptions": [
            "The job execution trigger is unspecified.",
            "The job was triggered by Dataplex Universal Catalog based on trigger spec from task definition.",
            "The job was triggered by the explicit call of Task API."
          ],
          "enum": [
            "EXECUTION_TRIGGER_UNSPECIFIED",
            "TASK_CONFIG",
            "RUN_REQUEST"
          ],
          "type": "string"
        },
        "state": {
          "description": "The job state on completion.",
          "enumDescriptions": [
            "Unspecified job state.",
            "Job successfully completed.",
            "Job was unsuccessful.",
            "Job was cancelled by the user.",
            "Job was cancelled or aborted via the service executing the job."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED",
            "ABORTED"
          ],
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "The time when the job started running.",
          "type": "string"
        },
        "message": {
          "description": "The log message.",
          "type": "string"
        },
        "service": {
          "enumDescriptions": [
            "Unspecified service.",
            "Cloud Dataproc."
          ],
          "enum": [
            "SERVICE_UNSPECIFIED",
            "DATAPROC"
          ],
          "description": "The service used to execute the job.",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time when the job ended running."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified job type.",
            "Spark jobs.",
            "Notebook jobs."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "SPARK",
            "NOTEBOOK"
          ],
          "description": "The type of the job."
        },
        "retries": {
          "description": "The number of retries.",
          "format": "int32",
          "type": "integer"
        },
        "serviceJob": {
          "description": "The reference to the job within the service.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1DataQualityRuleRuleSourceRulePathElementEntryLinkSource": {
      "id": "GoogleCloudDataplexV1DataQualityRuleRuleSourceRulePathElementEntryLinkSource",
      "properties": {
        "entryLinkType": {
          "type": "string",
          "description": "Output only. The entry link type to represent the current relationship between the entry and the next entry in the path. In the form of: projects/{project_id_or_number}/locations/{location_id}/entryLinkTypes/{entry_link_type_id}",
          "readOnly": true
        },
        "entryLink": {
          "description": "Output only. The entry link name in the form of: projects/{project_id_or_number}/locations/{location_id}/entryGroups/{entry_group_id}/entryLinks/{entry_link_id}",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Entry link source represents information about the entry link.",
      "type": "object"
    },
    "GoogleCloudDataplexV1DataScan": {
      "description": "Represents a user-visible job which provides the insights for the related data source.For example: Data quality: generates queries based on the rules and runs against the data to get data quality check results. For more information, see Auto data quality overview (https://cloud.google.com/dataplex/docs/auto-data-quality-overview). Data profile: analyzes the data in tables and generates insights about the structure, content and relationships (such as null percent, cardinality, min/max/mean, etc). For more information, see About data profiling (https://cloud.google.com/dataplex/docs/data-profiling-overview). Data discovery: scans data in Cloud Storage buckets to extract and then catalog metadata. For more information, see Discover and catalog Cloud Storage data (https://cloud.google.com/bigquery/docs/automatic-discovery). Data documentation: analyzes the table or dataset metadata and generates insights. For tables, insights include descriptions and sample SQL queries. For datasets, insights include descriptions, schema relationships and sample SQL queries. For more information, see Generate data insights in BigQuery (https://cloud.google.com/bigquery/docs/data-insights).",
      "id": "GoogleCloudDataplexV1DataScan",
      "properties": {
        "displayName": {
          "description": "Optional. User friendly display name. Must be between 1-256 characters.",
          "type": "string"
        },
        "dataDocumentationSpec": {
          "description": "Settings for a data documentation scan.",
          "$ref": "GoogleCloudDataplexV1DataDocumentationSpec"
        },
        "state": {
          "enumDescriptions": [
            "State is not specified.",
            "Resource is active, i.e., ready to use.",
            "Resource is under creation.",
            "Resource is under deletion.",
            "Resource is active but has unresolved actions."
          ],
          "description": "Output only. Current state of the DataScan.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "ACTION_REQUIRED"
          ],
          "readOnly": true
        },
        "data": {
          "description": "Required. The data source for DataScan.",
          "$ref": "GoogleCloudDataplexV1DataSource"
        },
        "dataDiscoveryResult": {
          "description": "Output only. The result of a data discovery scan.",
          "readOnly": true,
          "$ref": "GoogleCloudDataplexV1DataDiscoveryResult"
        },
        "dataProfileSpec": {
          "description": "Settings for a data profile scan.",
          "$ref": "GoogleCloudDataplexV1DataProfileSpec"
        },
        "type": {
          "type": "string",
          "description": "Output only. The type of DataScan.",
          "enumDescriptions": [
            "The data scan type is unspecified.",
            "Data quality scan.",
            "Data profile scan.",
            "Data discovery scan.",
            "Data documentation scan.",
            "Unstructured data profile scan."
          ],
          "readOnly": true,
          "enum": [
            "DATA_SCAN_TYPE_UNSPECIFIED",
            "DATA_QUALITY",
            "DATA_PROFILE",
            "DATA_DISCOVERY",
            "DATA_DOCUMENTATION",
            "UNSTRUCTURED_DATA_PROFILE"
          ]
        },
        "dataQualityResult": {
          "description": "Output only. The result of a data quality scan.",
          "readOnly": true,
          "$ref": "GoogleCloudDataplexV1DataQualityResult"
        },
        "dataDiscoverySpec": {
          "description": "Settings for a data discovery scan.",
          "$ref": "GoogleCloudDataplexV1DataDiscoverySpec"
        },
        "executionIdentity": {
          "description": "Optional. Immutable. The identity to run the datascan. If not specified, defaults to the Dataplex Service Agent.",
          "$ref": "GoogleCloudDataplexV1ExecutionIdentity"
        },
        "executionSpec": {
          "description": "Optional. DataScan execution settings.If not specified, the fields in it will use their default values.",
          "$ref": "GoogleCloudDataplexV1DataScanExecutionSpec"
        },
        "updateTime": {
          "description": "Output only. The time when the scan was last updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. Identifier. The relative resource name of the scan, of the form: projects/{project}/locations/{location_id}/dataScans/{datascan_id}, where project refers to a project_id or project_number and location_id refers to a Google Cloud region.",
          "readOnly": true
        },
        "description": {
          "description": "Optional. Description of the scan. Must be between 1-1024 characters.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time when the scan was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "dataQualitySpec": {
          "description": "Settings for a data quality scan.",
          "$ref": "GoogleCloudDataplexV1DataQualitySpec"
        },
        "dataProfileResult": {
          "$ref": "GoogleCloudDataplexV1DataProfileResult",
          "description": "Output only. The result of a data profile scan.",
          "readOnly": true
        },
        "unstructuredDataProfileResult": {
          "$ref": "GoogleCloudDataplexV1UnstructuredDataProfileResult",
          "description": "Output only. The result of an unstructured data profile scan.",
          "readOnly": true
        },
        "uid": {
          "description": "Output only. System generated globally unique ID for the scan. This ID will be different if the scan is deleted and re-created with the same name.",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. User-defined labels for the scan."
        },
        "executionStatus": {
          "description": "Output only. Status of the data scan execution.",
          "readOnly": true,
          "$ref": "GoogleCloudDataplexV1DataScanExecutionStatus"
        },
        "unstructuredDataProfileSpec": {
          "description": "Optional. Settings for an unstructured data profile scan.",
          "$ref": "GoogleCloudDataplexV1UnstructuredDataProfileSpec"
        },
        "dataDocumentationResult": {
          "$ref": "GoogleCloudDataplexV1DataDocumentationResult",
          "description": "Output only. The result of a data documentation scan.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudDataplexV1EntryLinkEntryReference": {
      "id": "GoogleCloudDataplexV1EntryLinkEntryReference",
      "properties": {
        "path": {
          "description": "Immutable. The path in the Entry that is referenced in the Entry Link. Empty path denotes that the Entry itself is referenced in the Entry Link.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Unspecified reference type. Implies that the Entry is referenced in a non-directional Entry Link.",
            "The Entry is referenced as the source of the directional Entry Link.",
            "The Entry is referenced as the target of the directional Entry Link."
          ],
          "enum": [
            "UNSPECIFIED",
            "SOURCE",
            "TARGET"
          ],
          "description": "Required. Immutable. The reference type of the Entry.",
          "type": "string"
        },
        "name": {
          "description": "Required. Immutable. The relative resource name of the referenced Entry, of the form: projects/{project_id_or_number}/locations/{location_id}/entryGroups/{entry_group_id}/entries/{entry_id}",
          "type": "string"
        }
      },
      "description": "Reference to the Entry that is linked through the Entry Link.",
      "type": "object"
    },
    "GoogleCloudDataplexV1DataQualitySpecPostScanActions": {
      "id": "GoogleCloudDataplexV1DataQualitySpecPostScanActions",
      "properties": {
        "bigqueryExport": {
          "description": "Optional. If set, results will be exported to the provided BigQuery table.",
          "$ref": "GoogleCloudDataplexV1DataQualitySpecPostScanActionsBigQueryExport"
        },
        "notificationReport": {
          "description": "Optional. If set, results will be sent to the provided notification receipts upon triggers.",
          "$ref": "GoogleCloudDataplexV1DataQualitySpecPostScanActionsNotificationReport"
        }
      },
      "description": "The configuration of post scan actions of DataQualityScan.",
      "type": "object"
    },
    "GoogleCloudDataplexV1EntrySourceAncestor": {
      "id": "GoogleCloudDataplexV1EntrySourceAncestor",
      "properties": {
        "name": {
          "description": "Optional. The name of the ancestor resource.",
          "type": "string"
        },
        "type": {
          "description": "Optional. The type of the ancestor resource.",
          "type": "string"
        }
      },
      "description": "Information about individual items in the hierarchy that is associated with the data resource.",
      "type": "object"
    },
    "GoogleCloudDataplexV1DataAsset": {
      "id": "GoogleCloudDataplexV1DataAsset",
      "properties": {
        "name": {
          "description": "Identifier. Resource name of the data asset. Format: projects/{project_id_or_number}/locations/{location_id}/dataProducts/{data_product_id}/dataAssets/{data_asset_id}",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. User-defined labels for the data asset.Example: { \"environment\": \"production\", \"billing\": \"marketing-department\" } ",
          "type": "object"
        },
        "uid": {
          "description": "Output only. System generated globally unique ID for the data asset. This ID will be different if the data asset is deleted and re-created with the same name.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time at which the data asset was created.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The time at which the data asset was last updated.",
          "readOnly": true,
          "type": "string"
        },
        "resource": {
          "description": "Required. Immutable. Full resource name of the cloud resource represented by the data asset. This must follow https://cloud.google.com/iam/docs/full-resource-names. Example: //bigquery.googleapis.com/projects/my_project_123/datasets/dataset_456/tables/table_789 Only BigQuery tables and datasets are currently supported. Data asset creator must have getIamPolicy and setIamPolicy permissions on the resource. Data asset creator must also have resource specific get permission, for instance, bigquery.tables.get for BigQuery tables.",
          "type": "string"
        },
        "etag": {
          "description": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "accessGroupConfigs": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDataplexV1DataAssetAccessGroupConfig"
          },
          "description": "Optional. Access groups configurations for this data asset.The key is DataProduct.AccessGroup.id and the value is AccessGroupConfig.Example: { \"analyst\": { \"iamRoles\": [\"roles/bigquery.dataViewer\"] } } Currently, at most one IAM role is allowed per access group. For providing multiple predefined IAM roles, wrap them in a custom IAM role as per https://cloud.google.com/iam/docs/creating-custom-roles."
        }
      },
      "description": "Represents a data asset resource that can be packaged and shared via a data product.",
      "type": "object"
    },
    "GoogleCloudDataplexV1CreateEntryLinkRequest": {
      "type": "object",
      "description": "Request message for CreateEntryLink.",
      "id": "GoogleCloudDataplexV1CreateEntryLinkRequest",
      "properties": {
        "entryLink": {
          "description": "Required. Entry Link resource.",
          "$ref": "GoogleCloudDataplexV1EntryLink"
        },
        "parent": {
          "description": "Required. The resource name of the parent Entry Group: projects/{project_id_or_number}/locations/{location_id}/entryGroups/{entry_group_id}.",
          "type": "string"
        },
        "entryLinkId": {
          "description": "Required. Entry Link identifier * Must contain only lowercase letters, numbers and hyphens. * Must start with a letter. * Must be between 1-63 characters. * Must end with a number or a letter. * Must be unique within the EntryGroup.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1DataQualityColumnResult": {
      "description": "DataQualityColumnResult provides a more detailed, per-column view of the results.",
      "id": "GoogleCloudDataplexV1DataQualityColumnResult",
      "properties": {
        "passed": {
          "description": "Output only. Whether the column passed or failed.",
          "readOnly": true,
          "type": "boolean"
        },
        "dimensions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1DataQualityDimensionResult"
          },
          "description": "Output only. The dimension-level results for this column.",
          "readOnly": true
        },
        "column": {
          "description": "Output only. The column specified in the DataQualityRule.",
          "readOnly": true,
          "type": "string"
        },
        "score": {
          "type": "number",
          "format": "float",
          "description": "Output only. The column-level data quality score for this data scan job if and only if the 'column' field is set.The score ranges between between 0, 100 (up to two decimal points).",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudDataplexV1EncryptionConfigFailureDetails": {
      "id": "GoogleCloudDataplexV1EncryptionConfigFailureDetails",
      "properties": {
        "errorCode": {
          "enum": [
            "UNKNOWN",
            "INTERNAL_ERROR",
            "REQUIRE_USER_ACTION"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The error code is not specified",
            "Error because of internal server error, will be retried automatically.",
            "User action is required to resolve the error."
          ],
          "description": "Output only. The error code for the failure."
        },
        "errorMessage": {
          "description": "Output only. The error message will be shown to the user. Set only if the error code is REQUIRE_USER_ACTION.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Details of the failure if anything related to Cmek db fails.",
      "type": "object"
    },
    "GoogleCloudDataplexV1TaskExecutionSpec": {
      "id": "GoogleCloudDataplexV1TaskExecutionSpec",
      "properties": {
        "project": {
          "description": "Optional. The project in which jobs are run. By default, the project containing the Lake is used. If a project is provided, the ExecutionSpec.service_account must belong to this project.",
          "type": "string"
        },
        "maxJobExecutionLifetime": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. The maximum duration after which the job execution is expired."
        },
        "args": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The arguments to pass to the task. The args can use placeholders of the format ${placeholder} as part of key/value string. These will be interpolated before passing the args to the driver. Currently supported placeholders: - ${task_id} - ${job_time} To pass positional args, set the key as TASK_ARGS. The value should be a comma-separated string of all the positional arguments. To use a delimiter other than comma, refer to https://cloud.google.com/sdk/gcloud/reference/topic/escaping. In case of other keys being present in the args, then TASK_ARGS will be passed as the last argument.",
          "type": "object"
        },
        "serviceAccount": {
          "description": "Required. Service account to use to execute a task. If not provided, the default Compute service account for the project is used.",
          "type": "string"
        },
        "kmsKey": {
          "description": "Optional. The Cloud KMS key to use for encryption, of the form: projects/{project_number}/locations/{location_id}/keyRings/{key-ring-name}/cryptoKeys/{key-name}.",
          "type": "string"
        }
      },
      "description": "Execution related settings, like retry and service_account.",
      "type": "object"
    },
    "GoogleIamV1AuditLogConfig": {
      "id": "GoogleIamV1AuditLogConfig",
      "properties": {
        "logType": {
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "description": "The log type that this config enables.",
          "type": "string"
        },
        "exemptedMembers": {
          "type": "array",
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "type": "object"
    },
    "GoogleCloudDataplexV1ActionInvalidDataOrganization": {
      "description": "Action details for invalid data arrangement.",
      "id": "GoogleCloudDataplexV1ActionInvalidDataOrganization",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDataplexV1DataDiscoverySpecStorageConfigJsonOptions": {
      "id": "GoogleCloudDataplexV1DataDiscoverySpecStorageConfigJsonOptions",
      "properties": {
        "encoding": {
          "description": "Optional. The character encoding of the data. The default is UTF-8.",
          "type": "string"
        },
        "typeInferenceDisabled": {
          "description": "Optional. Whether to disable the inference of data types for JSON data. If true, all columns are registered as their primitive types (strings, number, or boolean).",
          "type": "boolean"
        }
      },
      "description": "Describes JSON data format.",
      "type": "object"
    },
    "GoogleCloudDataplexV1DataQualityDimensionResult": {
      "type": "object",
      "id": "GoogleCloudDataplexV1DataQualityDimensionResult",
      "properties": {
        "passed": {
          "type": "boolean",
          "description": "Output only. Whether the dimension passed or failed.",
          "readOnly": true
        },
        "dimension": {
          "description": "Output only. The dimension config specified in the DataQualitySpec, as is.",
          "readOnly": true,
          "$ref": "GoogleCloudDataplexV1DataQualityDimension"
        },
        "score": {
          "description": "Output only. The dimension-level data quality score for this data scan job if and only if the 'dimension' field is set.The score ranges between 0, 100 (up to two decimal points).",
          "readOnly": true,
          "format": "float",
          "type": "number"
        }
      },
      "description": "DataQualityDimensionResult provides a more detailed, per-dimension view of the results."
    },
    "GoogleCloudDataplexV1GenerateDataQualityRulesRequest": {
      "description": "Request details for generating data quality rule recommendations.",
      "id": "GoogleCloudDataplexV1GenerateDataQualityRulesRequest",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDataplexV1ListDataScanJobsResponse": {
      "type": "object",
      "id": "GoogleCloudDataplexV1ListDataScanJobsResponse",
      "properties": {
        "dataScanJobs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1DataScanJob"
          },
          "description": "DataScanJobs (BASIC view only) under a given dataScan."
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "description": "List DataScanJobs response."
    },
    "GoogleCloudDataplexV1LakeMetastore": {
      "description": "Settings to manage association of Dataproc Metastore with a lake.",
      "id": "GoogleCloudDataplexV1LakeMetastore",
      "properties": {
        "service": {
          "description": "Optional. A relative reference to the Dataproc Metastore (https://cloud.google.com/dataproc-metastore/docs) service associated with the lake: projects/{project_id}/locations/{location_id}/services/{service_id}",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDataplexV1AssetResourceSpec": {
      "id": "GoogleCloudDataplexV1AssetResourceSpec",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Type not specified.",
            "Cloud Storage bucket.",
            "BigQuery dataset."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "STORAGE_BUCKET",
            "BIGQUERY_DATASET"
          ],
          "description": "Required. Immutable. Type of resource."
        },
        "name": {
          "description": "Immutable. Relative name of the cloud resource that contains the data that is being managed within a lake. For example: projects/{project_number}/buckets/{bucket_id} projects/{project_number}/datasets/{dataset_id}",
          "type": "string"
        },
        "readAccessMode": {
          "enumDescriptions": [
            "Access mode unspecified.",
            "Default. Data is accessed directly using storage APIs.",
            "Data is accessed through a managed interface using BigQuery APIs."
          ],
          "enum": [
            "ACCESS_MODE_UNSPECIFIED",
            "DIRECT",
            "MANAGED"
          ],
          "description": "Optional. Determines how read permissions are handled for each asset and their associated tables. Only available to storage buckets assets.",
          "type": "string"
        }
      },
      "description": "Identifies the cloud resource that is referenced by this asset.",
      "type": "object"
    },
    "GoogleCloudDataplexV1DataScanEventPostScanActionsResult": {
      "type": "object",
      "id": "GoogleCloudDataplexV1DataScanEventPostScanActionsResult",
      "properties": {
        "bigqueryExportResult": {
          "description": "The result of BigQuery export post scan action.",
          "$ref": "GoogleCloudDataplexV1DataScanEventPostScanActionsResultBigQueryExportResult"
        }
      },
      "description": "Post scan actions result for data scan job."
    },
    "GoogleCloudDataplexV1GraphProfileNodeTypeExtractionHints": {
      "type": "object",
      "description": "Extraction hints (node-level).",
      "id": "GoogleCloudDataplexV1GraphProfileNodeTypeExtractionHints",
      "properties": {
        "cardinality": {
          "type": "string",
          "description": "Output only. Expected occurrence frequency of this node type within a document. Format: \"Bounds - Description\" Example: \"0:N - A document may contain multiple people names.\"",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDataplexV1CreateGlossaryCategoryRequest": {
      "type": "object",
      "id": "GoogleCloudDataplexV1CreateGlossaryCategoryRequest",
      "properties": {
        "parent": {
          "description": "Required. The parent resource where this GlossaryCategory will be created. Format: projects/{project_id_or_number}/locations/{location_id}/glossaries/{glossary_id} where locationId refers to a Google Cloud region.",
          "type": "string"
        },
        "category": {
          "description": "Required. The GlossaryCategory to create.",
          "$ref": "GoogleCloudDataplexV1GlossaryCategory"
        },
        "categoryId": {
          "description": "Required. GlossaryCategory identifier.",
          "type": "string"
        }
      },
      "description": "Creates a new GlossaryCategory under the specified Glossary."
    },
    "GoogleCloudDataplexV1DataQualitySpecPostScanActionsJobFailureTrigger": {
      "type": "object",
      "id": "GoogleCloudDataplexV1DataQualitySpecPostScanActionsJobFailureTrigger",
      "properties": {},
      "description": "This trigger is triggered when the scan job itself fails, regardless of the result."
    },
    "GoogleCloudDataplexV1DataQualitySpecPostScanActionsScoreThresholdTrigger": {
      "description": "This trigger is triggered when the DQ score in the job result is less than a specified input score.",
      "id": "GoogleCloudDataplexV1DataQualitySpecPostScanActionsScoreThresholdTrigger",
      "properties": {
        "scoreThreshold": {
          "type": "number",
          "description": "Optional. The score range is in 0,100.",
          "format": "float"
        }
      },
      "type": "object"
    },
    "GoogleCloudDataplexV1BusinessGlossaryEvent": {
      "type": "object",
      "id": "GoogleCloudDataplexV1BusinessGlossaryEvent",
      "properties": {
        "message": {
          "description": "The log message.",
          "type": "string"
        },
        "eventType": {
          "type": "string",
          "enumDescriptions": [
            "An unspecified event type.",
            "Glossary create event.",
            "Glossary update event.",
            "Glossary delete event.",
            "Glossary category create event.",
            "Glossary category update event.",
            "Glossary category delete event.",
            "Glossary term create event.",
            "Glossary term update event.",
            "Glossary term delete event."
          ],
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "GLOSSARY_CREATE",
            "GLOSSARY_UPDATE",
            "GLOSSARY_DELETE",
            "GLOSSARY_CATEGORY_CREATE",
            "GLOSSARY_CATEGORY_UPDATE",
            "GLOSSARY_CATEGORY_DELETE",
            "GLOSSARY_TERM_CREATE",
            "GLOSSARY_TERM_UPDATE",
            "GLOSSARY_TERM_DELETE"
          ],
          "description": "The type of the event."
        },
        "resource": {
          "description": "Name of the resource.",
          "type": "string"
        }
      },
      "description": "Payload associated with Business Glossary related log events."
    },
    "GoogleLongrunningListOperationsResponse": {
      "type": "object",
      "id": "GoogleLongrunningListOperationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          },
          "type": "array"
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets ListOperationsRequest.return_partial_success and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "The response message for Operations.ListOperations."
    },
    "GoogleCloudDataplexV1DataQualitySpecPostScanActionsRecipients": {
      "id": "GoogleCloudDataplexV1DataQualitySpecPostScanActionsRecipients",
      "properties": {
        "emails": {
          "description": "Optional. The email recipients who will receive the DataQualityScan results report.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "The individuals or groups who are designated to receive notifications upon triggers.",
      "type": "object"
    },
    "GoogleCloudDataplexV1GlossaryCategory": {
      "id": "GoogleCloudDataplexV1GlossaryCategory",
      "properties": {
        "labels": {
          "description": "Optional. User-defined labels for the GlossaryCategory.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "uid": {
          "type": "string",
          "description": "Output only. System generated unique id for the GlossaryCategory. This ID will be different if the GlossaryCategory is deleted and re-created with the same name.",
          "readOnly": true
        },
        "description": {
          "description": "Optional. The user-mutable description of the GlossaryCategory.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which the GlossaryCategory was created.",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. The time at which the GlossaryCategory was last updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "description": "Output only. Identifier. The resource name of the GlossaryCategory. Format: projects/{project_id_or_number}/locations/{location_id}/glossaries/{glossary_id}/categories/{category_id}",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Optional. User friendly display name of the GlossaryCategory. This is user-mutable. This will be same as the GlossaryCategoryId, if not specified.",
          "type": "string"
        },
        "parent": {
          "description": "Required. The immediate parent of the GlossaryCategory in the resource-hierarchy. It can either be a Glossary or a GlossaryCategory. Format: projects/{project_id_or_number}/locations/{location_id}/glossaries/{glossary_id} OR projects/{project_id_or_number}/locations/{location_id}/glossaries/{glossary_id}/categories/{category_id}",
          "type": "string"
        }
      },
      "description": "A GlossaryCategory represents a collection of GlossaryCategories and GlossaryTerms within a Glossary that are related to each other.",
      "type": "object"
    },
    "GoogleCloudDataplexV1DeleteGlossaryRequest": {
      "type": "object",
      "description": "Delete Glossary Request",
      "id": "GoogleCloudDataplexV1DeleteGlossaryRequest",
      "properties": {
        "name": {
          "description": "Required. The name of the Glossary to delete. Format: projects/{project_id_or_number}/locations/{location_id}/glossaries/{glossary_id}",
          "type": "string"
        },
        "etag": {
          "description": "Optional. The etag of the Glossary. If this is provided, it must match the server's etag. If the etag is provided and does not match the server-computed etag, the request must fail with a ABORTED error code.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1DataProfileResultProfileFieldProfileInfoIntegerFieldInfo": {
      "description": "The profile information for an integer type field.",
      "id": "GoogleCloudDataplexV1DataProfileResultProfileFieldProfileInfoIntegerFieldInfo",
      "properties": {
        "min": {
          "description": "Output only. Minimum of non-null values in the scanned data. NaN, if the field has a NaN.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "standardDeviation": {
          "format": "double",
          "description": "Output only. Standard deviation of non-null values in the scanned data. NaN, if the field has a NaN.",
          "readOnly": true,
          "type": "number"
        },
        "average": {
          "type": "number",
          "format": "double",
          "description": "Output only. Average of non-null values in the scanned data. NaN, if the field has a NaN.",
          "readOnly": true
        },
        "quartiles": {
          "description": "Output only. A quartile divides the number of data points into four parts, or quarters, of more-or-less equal size. Three main quartiles used are: The first quartile (Q1) splits off the lowest 25% of data from the highest 75%. It is also known as the lower or 25th empirical quartile, as 25% of the data is below this point. The second quartile (Q2) is the median of a data set. So, 50% of the data lies below this point. The third quartile (Q3) splits off the highest 25% of data from the lowest 75%. It is known as the upper or 75th empirical quartile, as 75% of the data lies below this point. Here, the quartiles is provided as an ordered list of approximate quartile values for the scanned data, occurring in order Q1, median, Q3.",
          "readOnly": true,
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array"
        },
        "max": {
          "description": "Output only. Maximum of non-null values in the scanned data. NaN, if the field has a NaN.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDataplexV1DataDiscoverySpecBigQueryPublishingConfig": {
      "type": "object",
      "id": "GoogleCloudDataplexV1DataDiscoverySpecBigQueryPublishingConfig",
      "properties": {
        "tableType": {
          "enumDescriptions": [
            "Table type unspecified.",
            "Default. Discovered tables are published as BigQuery external tables whose data is accessed using the credentials of the user querying the table.",
            "Discovered tables are published as BigLake external tables whose data is accessed using the credentials of the associated BigQuery connection."
          ],
          "enum": [
            "TABLE_TYPE_UNSPECIFIED",
            "EXTERNAL",
            "BIGLAKE"
          ],
          "description": "Optional. Determines whether to publish discovered tables as BigLake external tables or non-BigLake external tables.",
          "type": "string"
        },
        "location": {
          "description": "Optional. The location of the BigQuery dataset to publish BigLake external or non-BigLake external tables to. 1. If the Cloud Storage bucket is located in a multi-region bucket, then BigQuery dataset can be in the same multi-region bucket or any single region that is included in the same multi-region bucket. The datascan can be created in any single region that is included in the same multi-region bucket 2. If the Cloud Storage bucket is located in a dual-region bucket, then BigQuery dataset can be located in regions that are included in the dual-region bucket, or in a multi-region that includes the dual-region. The datascan can be created in any single region that is included in the same dual-region bucket. 3. If the Cloud Storage bucket is located in a single region, then BigQuery dataset can be in the same single region or any multi-region bucket that includes the same single region. The datascan will be created in the same single region as the bucket. 4. If the BigQuery dataset is in single region, it must be in the same single region as the datascan.For supported values, refer to https://cloud.google.com/bigquery/docs/locations#supported_locations.",
          "type": "string"
        },
        "project": {
          "description": "Optional. The project of the BigQuery dataset to publish BigLake external or non-BigLake external tables to. If not specified, the project of the Cloud Storage bucket will be used. The format is \"projects/{project_id_or_number}\".",
          "type": "string"
        },
        "connection": {
[...]
