{
  "id": "dataflow:v1b3",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "version": "v1b3",
  "documentationLink": "https://cloud.google.com/dataflow",
  "resources": {
    "projects": {
      "resources": {
        "templates": {
          "methods": {
            "create": {
              "parameterOrder": [
                "projectId"
              ],
              "description": "Creates a Cloud Dataflow job from a template. Do not enter confidential information when you supply string values using the API. To create a job, we recommend using `projects.locations.templates.create` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.templates.create` is not recommended, because your job will always start in `us-central1`.",
              "httpMethod": "POST",
              "id": "dataflow.projects.templates.create",
              "path": "v1b3/projects/{projectId}/templates",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "flatPath": "v1b3/projects/{projectId}/templates",
              "response": {
                "$ref": "Job"
              },
              "parameters": {
                "projectId": {
                  "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "request": {
                "$ref": "CreateJobFromTemplateRequest"
              }
            },
            "launch": {
              "path": "v1b3/projects/{projectId}/templates:launch",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "id": "dataflow.projects.templates.launch",
              "httpMethod": "POST",
              "description": "Launches a template. To launch a template, we recommend using `projects.locations.templates.launch` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.templates.launch` is not recommended, because jobs launched from the template will always start in `us-central1`.",
              "parameterOrder": [
                "projectId"
              ],
              "parameters": {
                "projectId": {
                  "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "dynamicTemplate.gcsPath": {
                  "location": "query",
                  "type": "string",
                  "description": "Path to the dynamic template specification file on Cloud Storage. The file must be a JSON serialized `DynamicTemplateFileSpec` object."
                },
                "location": {
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request.",
                  "location": "query",
                  "type": "string"
                },
                "dynamicTemplate.stagingLocation": {
                  "description": "Cloud Storage path for staging dependencies. Must be a valid Cloud Storage URL, beginning with `gs://`.",
                  "location": "query",
                  "type": "string"
                },
                "gcsPath": {
                  "location": "query",
                  "type": "string",
                  "description": "A Cloud Storage path to the template to use to create the job. Must be valid Cloud Storage URL, beginning with `gs://`."
                },
                "validateOnly": {
                  "description": "If true, the request is validated but not actually executed. Defaults to false.",
                  "location": "query",
                  "type": "boolean"
                }
              },
              "request": {
                "$ref": "LaunchTemplateParameters"
              },
              "response": {
                "$ref": "LaunchTemplateResponse"
              },
              "flatPath": "v1b3/projects/{projectId}/templates:launch"
            },
            "get": {
              "description": "Get the template associated with a template. To get the template, we recommend using `projects.locations.templates.get` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.templates.get` is not recommended, because only templates that are running in `us-central1` are retrieved.",
              "parameterOrder": [
                "projectId"
              ],
              "id": "dataflow.projects.templates.get",
              "httpMethod": "GET",
              "path": "v1b3/projects/{projectId}/templates:get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "flatPath": "v1b3/projects/{projectId}/templates:get",
              "response": {
                "$ref": "GetTemplateResponse"
              },
              "parameters": {
                "location": {
                  "location": "query",
                  "type": "string",
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request."
                },
                "gcsPath": {
                  "description": "Required. A Cloud Storage path to the template from which to create the job. Must be valid Cloud Storage URL, beginning with 'gs://'.",
                  "location": "query",
                  "type": "string"
                },
                "view": {
                  "description": "The view to retrieve. Defaults to METADATA_ONLY.",
                  "type": "string",
                  "enumDescriptions": [
                    "Template view that retrieves only the metadata associated with the template."
                  ],
                  "enum": [
                    "METADATA_ONLY"
                  ],
                  "location": "query"
                },
                "projectId": {
                  "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              }
            }
          }
        },
        "jobs": {
          "resources": {
            "debug": {
              "methods": {
                "sendCapture": {
                  "parameterOrder": [
                    "projectId",
                    "jobId"
                  ],
                  "description": "Send encoded debug capture data for component.",
                  "httpMethod": "POST",
                  "id": "dataflow.projects.jobs.debug.sendCapture",
                  "path": "v1b3/projects/{projectId}/jobs/{jobId}/debug/sendCapture",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/debug/sendCapture",
                  "response": {
                    "$ref": "SendDebugCaptureResponse"
                  },
                  "parameters": {
                    "jobId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The job id."
                    },
                    "projectId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The project id."
                    }
                  },
                  "request": {
                    "$ref": "SendDebugCaptureRequest"
                  }
                },
                "getConfig": {
                  "response": {
                    "$ref": "GetDebugConfigResponse"
                  },
                  "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/debug/getConfig",
                  "parameters": {
                    "projectId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The project id."
                    },
                    "jobId": {
                      "description": "The job id.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "GetDebugConfigRequest"
                  },
                  "httpMethod": "POST",
                  "id": "dataflow.projects.jobs.debug.getConfig",
                  "parameterOrder": [
                    "projectId",
                    "jobId"
                  ],
                  "description": "Get encoded debug configuration for component. Not cacheable.",
                  "path": "v1b3/projects/{projectId}/jobs/{jobId}/debug/getConfig",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ]
                }
              }
            },
            "messages": {
              "methods": {
                "list": {
                  "parameters": {
                    "startTime": {
                      "description": "If specified, return only messages with timestamps >= start_time. The default is the job creation time (i.e. beginning of messages).",
                      "location": "query",
                      "type": "string",
                      "format": "google-datetime"
                    },
                    "minimumImportance": {
                      "enum": [
                        "JOB_MESSAGE_IMPORTANCE_UNKNOWN",
                        "JOB_MESSAGE_DEBUG",
                        "JOB_MESSAGE_DETAILED",
                        "JOB_MESSAGE_BASIC",
                        "JOB_MESSAGE_WARNING",
                        "JOB_MESSAGE_ERROR"
                      ],
                      "location": "query",
                      "description": "Filter to only get messages with importance >= level",
                      "type": "string",
                      "enumDescriptions": [
                        "The message importance isn't specified, or is unknown.",
                        "The message is at the 'debug' level: typically only useful for software engineers working on the code the job is running. Typically, Dataflow pipeline runners do not display log messages at this level by default.",
                        "The message is at the 'detailed' level: somewhat verbose, but potentially useful to users. Typically, Dataflow pipeline runners do not display log messages at this level by default. These messages are displayed by default in the Dataflow monitoring UI.",
                        "The message is at the 'basic' level: useful for keeping track of the execution of a Dataflow pipeline. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI.",
                        "The message is at the 'warning' level: indicating a condition pertaining to a job which may require human intervention. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI.",
                        "The message is at the 'error' level: indicating a condition preventing a job from succeeding. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI."
                      ]
                    },
                    "endTime": {
                      "location": "query",
                      "type": "string",
                      "format": "google-datetime",
                      "description": "Return only messages with timestamps < end_time. The default is now (i.e. return up to the latest messages available)."
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "If specified, determines the maximum number of messages to return. If unspecified, the service may choose an appropriate default, or may return an arbitrarily large number of results."
                    },
                    "jobId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The job to get messages about."
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "If supplied, this should be the value of next_page_token returned by an earlier call. This will cause the next page of results to be returned."
                    },
                    "location": {
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
                      "location": "query",
                      "type": "string"
                    },
                    "projectId": {
                      "description": "A project id.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/messages",
                  "response": {
                    "$ref": "ListJobMessagesResponse"
                  },
                  "path": "v1b3/projects/{projectId}/jobs/{jobId}/messages",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "description": "Request the job status. To request the status of a job, we recommend using `projects.locations.jobs.messages.list` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.messages.list` is not recommended, as you can only request the status of jobs that are running in `us-central1`.",
                  "parameterOrder": [
                    "projectId",
                    "jobId"
                  ],
                  "id": "dataflow.projects.jobs.messages.list",
                  "httpMethod": "GET"
                }
              }
            },
            "workItems": {
              "methods": {
                "reportStatus": {
                  "parameters": {
                    "projectId": {
                      "description": "The project which owns the WorkItem's job.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "jobId": {
                      "description": "The job which the WorkItem is part of.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "ReportWorkItemStatusRequest"
                  },
                  "response": {
                    "$ref": "ReportWorkItemStatusResponse"
                  },
                  "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/workItems:reportStatus",
                  "path": "v1b3/projects/{projectId}/jobs/{jobId}/workItems:reportStatus",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "id": "dataflow.projects.jobs.workItems.reportStatus",
                  "httpMethod": "POST",
                  "description": "Reports the status of dataflow WorkItems leased by a worker.",
                  "parameterOrder": [
                    "projectId",
                    "jobId"
                  ]
                },
                "lease": {
                  "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/workItems:lease",
                  "response": {
                    "$ref": "LeaseWorkItemResponse"
                  },
                  "parameters": {
                    "projectId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Identifies the project this worker belongs to."
                    },
                    "jobId": {
                      "description": "Identifies the workflow job this worker belongs to.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "LeaseWorkItemRequest"
                  },
                  "description": "Leases a dataflow WorkItem to run.",
                  "parameterOrder": [
                    "projectId",
                    "jobId"
                  ],
                  "id": "dataflow.projects.jobs.workItems.lease",
                  "httpMethod": "POST",
                  "path": "v1b3/projects/{projectId}/jobs/{jobId}/workItems:lease",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ]
                }
              }
            }
          },
          "methods": {
            "list": {
              "path": "v1b3/projects/{projectId}/jobs",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "id": "dataflow.projects.jobs.list",
              "httpMethod": "GET",
              "description": "List the jobs of a project. To list the jobs of a project in a region, we recommend using `projects.locations.jobs.list` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). To list the all jobs across all regions, use `projects.jobs.aggregated`. Using `projects.jobs.list` is not recommended, because you can only get the list of jobs that are running in `us-central1`. `projects.locations.jobs.list` and `projects.jobs.list` support filtering the list of jobs by name. Filtering by name isn't supported by `projects.jobs.aggregated`.",
              "parameterOrder": [
                "projectId"
              ],
              "parameters": {
                "pageToken": {
                  "description": "Set this to the 'next_page_token' field of a previous response to request additional results in a long list.",
                  "location": "query",
                  "type": "string"
                },
                "location": {
                  "location": "query",
                  "type": "string",
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job."
                },
                "name": {
                  "description": "Optional. The job name.",
                  "location": "query",
                  "type": "string"
                },
                "projectId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The project which owns the jobs."
                },
                "view": {
                  "description": "Deprecated. ListJobs always returns summaries now. Use GetJob for other JobViews.",
                  "deprecated": true,
                  "type": "string",
                  "enumDescriptions": [
                    "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                    "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                    "Request all information available for this job. When the job is in `JOB_STATE_PENDING`, the job has been created but is not yet running, and not all job information is available. For complete job information, wait until the job in is `JOB_STATE_RUNNING`. For more information, see [JobState](https://cloud.google.com/dataflow/docs/reference/rest/v1b3/projects.jobs#jobstate).",
                    "Request summary info and limited job description data for steps, labels and environment."
                  ],
                  "enum": [
                    "JOB_VIEW_UNKNOWN",
                    "JOB_VIEW_SUMMARY",
                    "JOB_VIEW_ALL",
                    "JOB_VIEW_DESCRIPTION"
                  ],
                  "location": "query"
                },
                "filter": {
                  "type": "string",
                  "enumDescriptions": [
                    "The filter isn't specified, or is unknown. This returns all jobs ordered on descending `JobUuid`.",
                    "Returns all running jobs first ordered on creation timestamp, then returns all terminated jobs ordered on the termination timestamp.",
                    "Filters the jobs that have a terminated state, ordered on the termination timestamp. Example terminated states: `JOB_STATE_STOPPED`, `JOB_STATE_UPDATED`, `JOB_STATE_DRAINED`, etc.",
                    "Filters the jobs that are running ordered on the creation timestamp."
                  ],
                  "description": "The kind of filter to use.",
                  "enum": [
                    "UNKNOWN",
                    "ALL",
                    "TERMINATED",
                    "ACTIVE"
                  ],
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "If there are many jobs, limit response to at most this many. The actual number of jobs returned will be the lesser of max_responses and an unspecified server-defined limit."
                }
              },
              "response": {
                "$ref": "ListJobsResponse"
              },
              "flatPath": "v1b3/projects/{projectId}/jobs"
            },
            "get": {
              "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}",
              "response": {
                "$ref": "Job"
              },
              "parameters": {
                "location": {
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                  "location": "query",
                  "type": "string"
                },
                "jobId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The job ID."
                },
                "view": {
                  "enum": [
                    "JOB_VIEW_UNKNOWN",
                    "JOB_VIEW_SUMMARY",
                    "JOB_VIEW_ALL",
                    "JOB_VIEW_DESCRIPTION"
                  ],
                  "location": "query",
                  "type": "string",
                  "enumDescriptions": [
                    "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                    "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                    "Request all information available for this job. When the job is in `JOB_STATE_PENDING`, the job has been created but is not yet running, and not all job information is available. For complete job information, wait until the job in is `JOB_STATE_RUNNING`. For more information, see [JobState](https://cloud.google.com/dataflow/docs/reference/rest/v1b3/projects.jobs#jobstate).",
                    "Request summary info and limited job description data for steps, labels and environment."
                  ],
                  "description": "The level of information requested in response."
                },
                "projectId": {
                  "description": "The ID of the Cloud Platform project that the job belongs to.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "projectId",
                "jobId"
              ],
              "description": "Gets the state of the specified Cloud Dataflow job. To get the state of a job, we recommend using `projects.locations.jobs.get` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.get` is not recommended, as you can only get the state of jobs that are running in `us-central1`.",
              "httpMethod": "GET",
              "id": "dataflow.projects.jobs.get",
              "path": "v1b3/projects/{projectId}/jobs/{jobId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ]
            },
            "getMetrics": {
              "parameterOrder": [
                "projectId",
                "jobId"
              ],
              "description": "Request the job status. To request the status of a job, we recommend using `projects.locations.jobs.getMetrics` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.getMetrics` is not recommended, as you can only request the status of jobs that are running in `us-central1`.",
              "httpMethod": "GET",
              "id": "dataflow.projects.jobs.getMetrics",
              "path": "v1b3/projects/{projectId}/jobs/{jobId}/metrics",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/metrics",
              "response": {
                "$ref": "JobMetrics"
              },
              "parameters": {
                "projectId": {
                  "description": "A project id.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "startTime": {
                  "description": "Return only metric data that has changed since this time. Default is to return all information about all metrics for the job.",
                  "location": "query",
                  "type": "string",
                  "format": "google-datetime"
                },
                "location": {
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
                  "location": "query",
                  "type": "string"
                },
                "jobId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The job to get metrics for."
                }
              }
            },
            "snapshot": {
              "parameters": {
                "jobId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The job to be snapshotted."
                },
                "projectId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The project which owns the job to be snapshotted."
                }
              },
              "request": {
                "$ref": "SnapshotJobRequest"
              },
              "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}:snapshot",
              "response": {
                "$ref": "Snapshot"
              },
              "path": "v1b3/projects/{projectId}/jobs/{jobId}:snapshot",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "description": "Snapshot the state of a streaming job.",
              "parameterOrder": [
                "projectId",
                "jobId"
              ],
              "id": "dataflow.projects.jobs.snapshot",
              "httpMethod": "POST"
            },
            "create": {
              "description": "Creates a Dataflow job. To create a job, we recommend using `projects.locations.jobs.create` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.create` is not recommended, as your job will always start in `us-central1`. Do not enter confidential information when you supply string values using the API.",
              "parameterOrder": [
                "projectId"
              ],
              "id": "dataflow.projects.jobs.create",
              "httpMethod": "POST",
              "path": "v1b3/projects/{projectId}/jobs",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "flatPath": "v1b3/projects/{projectId}/jobs",
              "response": {
                "$ref": "Job"
              },
              "parameters": {
                "location": {
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                  "location": "query",
                  "type": "string"
                },
                "view": {
                  "location": "query",
                  "enum": [
                    "JOB_VIEW_UNKNOWN",
                    "JOB_VIEW_SUMMARY",
                    "JOB_VIEW_ALL",
                    "JOB_VIEW_DESCRIPTION"
                  ],
                  "type": "string",
                  "enumDescriptions": [
                    "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                    "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                    "Request all information available for this job. When the job is in `JOB_STATE_PENDING`, the job has been created but is not yet running, and not all job information is available. For complete job information, wait until the job in is `JOB_STATE_RUNNING`. For more information, see [JobState](https://cloud.google.com/dataflow/docs/reference/rest/v1b3/projects.jobs#jobstate).",
                    "Request summary info and limited job description data for steps, labels and environment."
                  ],
                  "description": "The level of information requested in response."
                },
                "replaceJobId": {
                  "description": "Deprecated. This field is now in the Job message.",
                  "location": "query",
                  "type": "string"
                },
                "projectId": {
                  "description": "The ID of the Cloud Platform project that the job belongs to.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "request": {
                "$ref": "Job"
              }
            },
            "aggregated": {
              "response": {
                "$ref": "ListJobsResponse"
              },
              "flatPath": "v1b3/projects/{projectId}/jobs:aggregated",
              "parameters": {
                "view": {
                  "type": "string",
                  "enumDescriptions": [
                    "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                    "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                    "Request all information available for this job. When the job is in `JOB_STATE_PENDING`, the job has been created but is not yet running, and not all job information is available. For complete job information, wait until the job in is `JOB_STATE_RUNNING`. For more information, see [JobState](https://cloud.google.com/dataflow/docs/reference/rest/v1b3/projects.jobs#jobstate).",
                    "Request summary info and limited job description data for steps, labels and environment."
                  ],
                  "description": "Deprecated. ListJobs always returns summaries now. Use GetJob for other JobViews.",
                  "deprecated": true,
                  "enum": [
                    "JOB_VIEW_UNKNOWN",
                    "JOB_VIEW_SUMMARY",
                    "JOB_VIEW_ALL",
                    "JOB_VIEW_DESCRIPTION"
                  ],
                  "location": "query"
                },
                "filter": {
                  "type": "string",
                  "enumDescriptions": [
                    "The filter isn't specified, or is unknown. This returns all jobs ordered on descending `JobUuid`.",
                    "Returns all running jobs first ordered on creation timestamp, then returns all terminated jobs ordered on the termination timestamp.",
                    "Filters the jobs that have a terminated state, ordered on the termination timestamp. Example terminated states: `JOB_STATE_STOPPED`, `JOB_STATE_UPDATED`, `JOB_STATE_DRAINED`, etc.",
                    "Filters the jobs that are running ordered on the creation timestamp."
                  ],
                  "description": "The kind of filter to use.",
                  "enum": [
                    "UNKNOWN",
                    "ALL",
                    "TERMINATED",
                    "ACTIVE"
                  ],
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "If there are many jobs, limit response to at most this many. The actual number of jobs returned will be the lesser of max_responses and an unspecified server-defined limit."
                },
                "pageToken": {
                  "description": "Set this to the 'next_page_token' field of a previous response to request additional results in a long list.",
                  "location": "query",
                  "type": "string"
                },
                "location": {
                  "location": "query",
                  "type": "string",
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job."
                },
                "projectId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The project which owns the jobs."
                },
                "name": {
                  "description": "Optional. The job name.",
                  "location": "query",
                  "type": "string"
                }
              },
              "id": "dataflow.projects.jobs.aggregated",
              "httpMethod": "GET",
              "description": "List the jobs of a project across all regions. **Note:** This method doesn't support filtering the list of jobs by name.",
              "parameterOrder": [
                "projectId"
              ],
              "path": "v1b3/projects/{projectId}/jobs:aggregated",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ]
            },
            "update": {
              "parameters": {
                "projectId": {
                  "description": "The ID of the Cloud Platform project that the job belongs to.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "location": {
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                  "location": "query",
                  "type": "string"
                },
                "jobId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The job ID."
                },
                "updateMask": {
                  "description": "The list of fields to update relative to Job. If empty, only RequestedJobState will be considered for update. If the FieldMask is not empty and RequestedJobState is none/empty, The fields specified in the update mask will be the only ones considered for update. If both RequestedJobState and update_mask are specified, an error will be returned as we cannot update both state and mask.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "request": {
                "$ref": "Job"
              },
              "response": {
                "$ref": "Job"
              },
              "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}",
              "path": "v1b3/projects/{projectId}/jobs/{jobId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "httpMethod": "PUT",
              "id": "dataflow.projects.jobs.update",
              "parameterOrder": [
                "projectId",
                "jobId"
              ],
              "description": "Updates the state of an existing Cloud Dataflow job. To update the state of an existing job, we recommend using `projects.locations.jobs.update` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.update` is not recommended, as you can only update the state of jobs that are running in `us-central1`."
            }
          }
        },
        "snapshots": {
          "methods": {
            "get": {
              "path": "v1b3/projects/{projectId}/snapshots/{snapshotId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "parameterOrder": [
                "projectId",
                "snapshotId"
              ],
              "description": "Gets information about a snapshot.",
              "httpMethod": "GET",
              "id": "dataflow.projects.snapshots.get",
              "parameters": {
                "location": {
                  "location": "query",
                  "type": "string",
                  "description": "The location that contains this snapshot."
                },
                "snapshotId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The ID of the snapshot."
                },
                "projectId": {
                  "description": "The ID of the Cloud Platform project that the snapshot belongs to.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "v1b3/projects/{projectId}/snapshots/{snapshotId}",
              "response": {
                "$ref": "Snapshot"
              }
            },
            "list": {
              "parameterOrder": [
                "projectId"
              ],
              "description": "Lists snapshots.",
              "httpMethod": "GET",
              "id": "dataflow.projects.snapshots.list",
              "path": "v1b3/projects/{projectId}/snapshots",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "flatPath": "v1b3/projects/{projectId}/snapshots",
              "response": {
                "$ref": "ListSnapshotsResponse"
              },
              "parameters": {
                "location": {
                  "description": "The location to list snapshots in.",
                  "location": "query",
                  "type": "string"
                },
                "jobId": {
                  "description": "If specified, list snapshots created from this job.",
                  "location": "query",
                  "type": "string"
                },
                "projectId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The project ID to list snapshots for."
                }
              }
            }
          }
        },
        "locations": {
          "resources": {
            "templates": {
              "methods": {
                "get": {
                  "id": "dataflow.projects.locations.templates.get",
                  "httpMethod": "GET",
                  "description": "Get the template associated with a template. To get the template, we recommend using `projects.locations.templates.get` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.templates.get` is not recommended, because only templates that are running in `us-central1` are retrieved.",
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "path": "v1b3/projects/{projectId}/locations/{location}/templates:get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "response": {
                    "$ref": "GetTemplateResponse"
                  },
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/templates:get",
                  "parameters": {
                    "projectId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The ID of the Cloud Platform project that the job belongs to."
                    },
                    "location": {
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "gcsPath": {
                      "description": "Required. A Cloud Storage path to the template from which to create the job. Must be valid Cloud Storage URL, beginning with 'gs://'.",
                      "location": "query",
                      "type": "string"
                    },
                    "view": {
                      "type": "string",
                      "enumDescriptions": [
                        "Template view that retrieves only the metadata associated with the template."
                      ],
                      "description": "The view to retrieve. Defaults to METADATA_ONLY.",
                      "location": "query",
                      "enum": [
                        "METADATA_ONLY"
                      ]
                    }
                  }
                },
                "create": {
                  "parameters": {
                    "projectId": {
                      "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "location": {
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "CreateJobFromTemplateRequest"
                  },
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/templates",
                  "response": {
                    "$ref": "Job"
                  },
                  "path": "v1b3/projects/{projectId}/locations/{location}/templates",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "description": "Creates a Cloud Dataflow job from a template. Do not enter confidential information when you supply string values using the API. To create a job, we recommend using `projects.locations.templates.create` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.templates.create` is not recommended, because your job will always start in `us-central1`.",
                  "httpMethod": "POST",
                  "id": "dataflow.projects.locations.templates.create"
                },
                "launch": {
                  "response": {
                    "$ref": "LaunchTemplateResponse"
                  },
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/templates:launch",
                  "parameters": {
                    "dynamicTemplate.stagingLocation": {
                      "location": "query",
                      "type": "string",
                      "description": "Cloud Storage path for staging dependencies. Must be a valid Cloud Storage URL, beginning with `gs://`."
                    },
                    "gcsPath": {
                      "description": "A Cloud Storage path to the template to use to create the job. Must be valid Cloud Storage URL, beginning with `gs://`.",
                      "location": "query",
                      "type": "string"
                    },
                    "validateOnly": {
                      "description": "If true, the request is validated but not actually executed. Defaults to false.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "projectId": {
                      "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "dynamicTemplate.gcsPath": {
                      "location": "query",
                      "type": "string",
                      "description": "Path to the dynamic template specification file on Cloud Storage. The file must be a JSON serialized `DynamicTemplateFileSpec` object."
                    },
                    "location": {
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "LaunchTemplateParameters"
                  },
                  "httpMethod": "POST",
                  "id": "dataflow.projects.locations.templates.launch",
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "description": "Launches a template. To launch a template, we recommend using `projects.locations.templates.launch` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.templates.launch` is not recommended, because jobs launched from the template will always start in `us-central1`.",
                  "path": "v1b3/projects/{projectId}/locations/{location}/templates:launch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ]
                }
              }
            },
            "flexTemplates": {
              "methods": {
                "launch": {
                  "path": "v1b3/projects/{projectId}/locations/{location}/flexTemplates:launch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "description": "Launch a job with a FlexTemplate.",
                  "httpMethod": "POST",
                  "id": "dataflow.projects.locations.flexTemplates.launch",
                  "parameters": {
                    "projectId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The ID of the Cloud Platform project that the job belongs to."
                    },
                    "location": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request. E.g., us-central1, us-west1."
                    }
                  },
                  "request": {
                    "$ref": "LaunchFlexTemplateRequest"
                  },
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/flexTemplates:launch",
                  "response": {
                    "$ref": "LaunchFlexTemplateResponse"
                  }
                }
              }
            },
            "snapshots": {
              "methods": {
                "delete": {
                  "response": {
                    "$ref": "DeleteSnapshotResponse"
                  },
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/snapshots/{snapshotId}",
                  "parameters": {
                    "projectId": {
                      "description": "The ID of the Cloud Platform project that the snapshot belongs to.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "location": {
                      "description": "The location that contains this snapshot.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "snapshotId": {
                      "description": "The ID of the snapshot.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "httpMethod": "DELETE",
                  "id": "dataflow.projects.locations.snapshots.delete",
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "snapshotId"
                  ],
                  "description": "Deletes a snapshot.",
                  "path": "v1b3/projects/{projectId}/locations/{location}/snapshots/{snapshotId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ]
                },
                "get": {
                  "response": {
                    "$ref": "Snapshot"
                  },
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/snapshots/{snapshotId}",
                  "parameters": {
                    "projectId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The ID of the Cloud Platform project that the snapshot belongs to."
                    },
                    "snapshotId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The ID of the snapshot."
                    },
                    "location": {
                      "description": "The location that contains this snapshot.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "id": "dataflow.projects.locations.snapshots.get",
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "snapshotId"
                  ],
                  "description": "Gets information about a snapshot.",
                  "path": "v1b3/projects/{projectId}/locations/{location}/snapshots/{snapshotId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ]
                },
                "list": {
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/snapshots",
                  "response": {
                    "$ref": "ListSnapshotsResponse"
                  },
                  "parameters": {
                    "location": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The location to list snapshots in."
                    },
                    "jobId": {
                      "description": "If specified, list snapshots created from this job.",
                      "location": "query",
                      "type": "string"
                    },
                    "projectId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The project ID to list snapshots for."
                    }
                  },
                  "description": "Lists snapshots.",
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "id": "dataflow.projects.locations.snapshots.list",
                  "httpMethod": "GET",
                  "path": "v1b3/projects/{projectId}/locations/{location}/snapshots",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ]
                }
              }
            },
            "jobs": {
              "resources": {
                "messages": {
                  "methods": {
                    "list": {
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/messages",
                      "response": {
                        "$ref": "ListJobMessagesResponse"
                      },
                      "parameters": {
                        "minimumImportance": {
                          "location": "query",
                          "enum": [
                            "JOB_MESSAGE_IMPORTANCE_UNKNOWN",
                            "JOB_MESSAGE_DEBUG",
                            "JOB_MESSAGE_DETAILED",
                            "JOB_MESSAGE_BASIC",
                            "JOB_MESSAGE_WARNING",
                            "JOB_MESSAGE_ERROR"
                          ],
                          "description": "Filter to only get messages with importance >= level",
                          "type": "string",
                          "enumDescriptions": [
                            "The message importance isn't specified, or is unknown.",
                            "The message is at the 'debug' level: typically only useful for software engineers working on the code the job is running. Typically, Dataflow pipeline runners do not display log messages at this level by default.",
                            "The message is at the 'detailed' level: somewhat verbose, but potentially useful to users. Typically, Dataflow pipeline runners do not display log messages at this level by default. These messages are displayed by default in the Dataflow monitoring UI.",
                            "The message is at the 'basic' level: useful for keeping track of the execution of a Dataflow pipeline. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI.",
                            "The message is at the 'warning' level: indicating a condition pertaining to a job which may require human intervention. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI.",
                            "The message is at the 'error' level: indicating a condition preventing a job from succeeding. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI."
                          ]
                        },
                        "endTime": {
                          "description": "Return only messages with timestamps < end_time. The default is now (i.e. return up to the latest messages available).",
                          "location": "query",
                          "type": "string",
                          "format": "google-datetime"
                        },
                        "pageSize": {
                          "description": "If specified, determines the maximum number of messages to return. If unspecified, the service may choose an appropriate default, or may return an arbitrarily large number of results.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "startTime": {
                          "location": "query",
                          "type": "string",
                          "format": "google-datetime",
                          "description": "If specified, return only messages with timestamps >= start_time. The default is the job creation time (i.e. beginning of messages)."
                        },
                        "projectId": {
                          "description": "A project id.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "jobId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "The job to get messages about."
                        },
                        "location": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id."
                        },
                        "pageToken": {
                          "description": "If supplied, this should be the value of next_page_token returned by an earlier call. This will cause the next page of results to be returned.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "description": "Request the job status. To request the status of a job, we recommend using `projects.locations.jobs.messages.list` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.messages.list` is not recommended, as you can only request the status of jobs that are running in `us-central1`.",
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "id": "dataflow.projects.locations.jobs.messages.list",
                      "httpMethod": "GET",
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/messages",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                      ]
                    }
                  }
                },
                "snapshots": {
                  "methods": {
                    "list": {
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/snapshots",
                      "response": {
                        "$ref": "ListSnapshotsResponse"
                      },
                      "parameters": {
                        "projectId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "The project ID to list snapshots for."
                        },
                        "jobId": {
                          "description": "If specified, list snapshots created from this job.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "location": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "The location to list snapshots in."
                        }
                      },
                      "description": "Lists snapshots.",
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "id": "dataflow.projects.locations.jobs.snapshots.list",
                      "httpMethod": "GET",
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/snapshots",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                      ]
                    }
                  }
                },
                "stages": {
                  "methods": {
                    "getExecutionDetails": {
                      "httpMethod": "GET",
                      "id": "dataflow.projects.locations.jobs.stages.getExecutionDetails",
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId",
                        "stageId"
                      ],
                      "description": "Request detailed information about the execution status of a stage of the job. EXPERIMENTAL. This API is subject to change or removal without notice.",
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/stages/{stageId}/executionDetails",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                      ],
                      "response": {
                        "$ref": "StageExecutionDetails"
                      },
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/stages/{stageId}/executionDetails",
                      "parameters": {
                        "stageId": {
                          "description": "The stage for which to fetch information.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "startTime": {
                          "description": "Lower time bound of work items to include, by start time.",
                          "location": "query",
                          "type": "string",
                          "format": "google-datetime"
                        },
                        "pageSize": {
                          "description": "If specified, determines the maximum number of work items to return. If unspecified, the service may choose an appropriate default, or may return an arbitrarily large number of results.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "endTime": {
                          "description": "Upper time bound of work items to include, by start time.",
                          "location": "query",
                          "type": "string",
                          "format": "google-datetime"
                        },
                        "location": {
                          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "pageToken": {
                          "description": "If supplied, this should be the value of next_page_token returned by an earlier call. This will cause the next page of results to be returned.",
                          "location": "query",
                          "type": "string"
                        },
                        "jobId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "The job to get execution details for."
                        },
                        "projectId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "A project id."
                        }
                      }
                    }
                  }
                },
                "debug": {
                  "methods": {
                    "getWorkerStacktraces": {
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/getWorkerStacktraces",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                      ],
                      "id": "dataflow.projects.locations.jobs.debug.getWorkerStacktraces",
                      "httpMethod": "POST",
                      "description": "Get worker stacktraces from debug capture.",
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "parameters": {
                        "projectId": {
                          "description": "The project id.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "location": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id."
                        },
                        "jobId": {
                          "description": "The job for which to get stacktraces.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "request": {
                        "$ref": "GetWorkerStacktracesRequest"
                      },
                      "response": {
                        "$ref": "GetWorkerStacktracesResponse"
                      },
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/getWorkerStacktraces"
                    },
                    "getConfig": {
                      "parameters": {
                        "projectId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "The project id."
                        },
                        "jobId": {
                          "description": "The job id.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "location": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id."
                        }
                      },
                      "request": {
                        "$ref": "GetDebugConfigRequest"
                      },
                      "response": {
                        "$ref": "GetDebugConfigResponse"
                      },
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/getConfig",
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/getConfig",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                      ],
                      "id": "dataflow.projects.locations.jobs.debug.getConfig",
                      "httpMethod": "POST",
                      "description": "Get encoded debug configuration for component. Not cacheable.",
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ]
                    },
                    "sendCapture": {
                      "parameters": {
                        "projectId": {
                          "description": "The project id.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "location": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id."
                        },
                        "jobId": {
                          "description": "The job id.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "request": {
                        "$ref": "SendDebugCaptureRequest"
                      },
                      "response": {
                        "$ref": "SendDebugCaptureResponse"
                      },
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/sendCapture",
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/sendCapture",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                      ],
                      "httpMethod": "POST",
                      "id": "dataflow.projects.locations.jobs.debug.sendCapture",
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "description": "Send encoded debug capture data for component."
                    }
                  }
                },
                "workItems": {
                  "methods": {
                    "reportStatus": {
                      "parameters": {
                        "location": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the WorkItem's job."
                        },
                        "jobId": {
                          "description": "The job which the WorkItem is part of.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "projectId": {
                          "description": "The project which owns the WorkItem's job.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "request": {
                        "$ref": "ReportWorkItemStatusRequest"
                      },
                      "response": {
                        "$ref": "ReportWorkItemStatusResponse"
                      },
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/workItems:reportStatus",
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/workItems:reportStatus",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                      ],
                      "id": "dataflow.projects.locations.jobs.workItems.reportStatus",
                      "httpMethod": "POST",
                      "description": "Reports the status of dataflow WorkItems leased by a worker.",
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ]
                    },
                    "lease": {
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/workItems:lease",
                      "response": {
                        "$ref": "LeaseWorkItemResponse"
                      },
                      "parameters": {
                        "jobId": {
                          "description": "Identifies the workflow job this worker belongs to.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "location": {
                          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the WorkItem's job.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "projectId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Identifies the project this worker belongs to."
                        }
                      },
                      "request": {
                        "$ref": "LeaseWorkItemRequest"
                      },
                      "description": "Leases a dataflow WorkItem to run.",
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "id": "dataflow.projects.locations.jobs.workItems.lease",
                      "httpMethod": "POST",
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/workItems:lease",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                      ]
                    }
                  }
                }
              },
              "methods": {
                "create": {
                  "description": "Creates a Dataflow job. To create a job, we recommend using `projects.locations.jobs.create` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.create` is not recommended, as your job will always start in `us-central1`. Do not enter confidential information when you supply string values using the API.",
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "id": "dataflow.projects.locations.jobs.create",
                  "httpMethod": "POST",
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs",
                  "response": {
                    "$ref": "Job"
                  },
                  "parameters": {
                    "location": {
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "view": {
                      "location": "query",
                      "enum": [
                        "JOB_VIEW_UNKNOWN",
                        "JOB_VIEW_SUMMARY",
                        "JOB_VIEW_ALL",
                        "JOB_VIEW_DESCRIPTION"
                      ],
                      "description": "The level of information requested in response.",
                      "type": "string",
                      "enumDescriptions": [
                        "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                        "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                        "Request all information available for this job. When the job is in `JOB_STATE_PENDING`, the job has been created but is not yet running, and not all job information is available. For complete job information, wait until the job in is `JOB_STATE_RUNNING`. For more information, see [JobState](https://cloud.google.com/dataflow/docs/reference/rest/v1b3/projects.jobs#jobstate).",
                        "Request summary info and limited job description data for steps, labels and environment."
                      ]
                    },
                    "replaceJobId": {
                      "description": "Deprecated. This field is now in the Job message.",
                      "location": "query",
                      "type": "string"
                    },
                    "projectId": {
                      "description": "The ID of the Cloud Platform project that the job belongs to.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "Job"
                  }
                },
                "update": {
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "description": "Updates the state of an existing Cloud Dataflow job. To update the state of an existing job, we recommend using `projects.locations.jobs.update` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.update` is not recommended, as you can only update the state of jobs that are running in `us-central1`.",
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "jobId"
                  ],
                  "id": "dataflow.projects.locations.jobs.update",
                  "httpMethod": "PUT",
                  "parameters": {
                    "jobId": {
                      "description": "The job ID.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "The list of fields to update relative to Job. If empty, only RequestedJobState will be considered for update. If the FieldMask is not empty and RequestedJobState is none/empty, The fields specified in the update mask will be the only ones considered for update. If both RequestedJobState and update_mask are specified, an error will be returned as we cannot update both state and mask."
                    },
                    "location": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job."
                    },
                    "projectId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The ID of the Cloud Platform project that the job belongs to."
                    }
                  },
                  "request": {
                    "$ref": "Job"
                  },
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}",
                  "response": {
                    "$ref": "Job"
                  }
                },
                "get": {
                  "httpMethod": "GET",
                  "id": "dataflow.projects.locations.jobs.get",
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "jobId"
                  ],
                  "description": "Gets the state of the specified Cloud Dataflow job. To get the state of a job, we recommend using `projects.locations.jobs.get` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.get` is not recommended, as you can only get the state of jobs that are running in `us-central1`.",
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "response": {
                    "$ref": "Job"
                  },
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}",
                  "parameters": {
                    "jobId": {
                      "description": "The job ID.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "view": {
                      "description": "The level of information requested in response.",
                      "type": "string",
                      "enumDescriptions": [
                        "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                        "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                        "Request all information available for this job. When the job is in `JOB_STATE_PENDING`, the job has been created but is not yet running, and not all job information is available. For complete job information, wait until the job in is `JOB_STATE_RUNNING`. For more information, see [JobState](https://cloud.google.com/dataflow/docs/reference/rest/v1b3/projects.jobs#jobstate).",
                        "Request summary info and limited job description data for steps, labels and environment."
                      ],
                      "enum": [
                        "JOB_VIEW_UNKNOWN",
                        "JOB_VIEW_SUMMARY",
                        "JOB_VIEW_ALL",
                        "JOB_VIEW_DESCRIPTION"
                      ],
                      "location": "query"
                    },
                    "location": {
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "projectId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The ID of the Cloud Platform project that the job belongs to."
                    }
                  }
                },
                "getMetrics": {
                  "parameters": {
                    "projectId": {
                      "description": "A project id.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "location": {
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "startTime": {
                      "description": "Return only metric data that has changed since this time. Default is to return all information about all metrics for the job.",
                      "location": "query",
                      "type": "string",
                      "format": "google-datetime"
                    },
                    "jobId": {
                      "description": "The job to get metrics for.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/metrics",
                  "response": {
                    "$ref": "JobMetrics"
                  },
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/metrics",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "description": "Request the job status. To request the status of a job, we recommend using `projects.locations.jobs.getMetrics` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.getMetrics` is not recommended, as you can only request the status of jobs that are running in `us-central1`.",
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "jobId"
                  ],
                  "id": "dataflow.projects.locations.jobs.getMetrics",
                  "httpMethod": "GET"
                },
                "snapshot": {
                  "response": {
                    "$ref": "Snapshot"
                  },
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}:snapshot",
                  "parameters": {
                    "jobId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The job to be snapshotted."
                    },
                    "location": {
                      "description": "The location that contains this job.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "projectId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The project which owns the job to be snapshotted."
                    }
                  },
                  "request": {
                    "$ref": "SnapshotJobRequest"
                  },
                  "httpMethod": "POST",
                  "id": "dataflow.projects.locations.jobs.snapshot",
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "jobId"
                  ],
                  "description": "Snapshot the state of a streaming job.",
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}:snapshot",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ]
                },
                "getExecutionDetails": {
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "If specified, determines the maximum number of stages to return. If unspecified, the service may choose an appropriate default, or may return an arbitrarily large number of results."
                    },
                    "jobId": {
                      "description": "The job to get execution details for.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "location": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id."
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "If supplied, this should be the value of next_page_token returned by an earlier call. This will cause the next page of results to be returned."
                    },
                    "projectId": {
                      "description": "A project id.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "JobExecutionDetails"
                  },
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/executionDetails",
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/executionDetails",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "id": "dataflow.projects.locations.jobs.getExecutionDetails",
                  "httpMethod": "GET",
                  "description": "Request detailed information about the execution status of the job. EXPERIMENTAL. This API is subject to change or removal without notice.",
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "jobId"
                  ]
                },
                "list": {
                  "response": {
                    "$ref": "ListJobsResponse"
                  },
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs",
                  "parameters": {
                    "view": {
                      "location": "query",
                      "enum": [
                        "JOB_VIEW_UNKNOWN",
                        "JOB_VIEW_SUMMARY",
                        "JOB_VIEW_ALL",
                        "JOB_VIEW_DESCRIPTION"
                      ],
                      "type": "string",
                      "enumDescriptions": [
                        "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                        "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                        "Request all information available for this job. When the job is in `JOB_STATE_PENDING`, the job has been created but is not yet running, and not all job information is available. For complete job information, wait until the job in is `JOB_STATE_RUNNING`. For more information, see [JobState](https://cloud.google.com/dataflow/docs/reference/rest/v1b3/projects.jobs#jobstate).",
                        "Request summary info and limited job description data for steps, labels and environment."
                      ],
                      "description": "Deprecated. ListJobs always returns summaries now. Use GetJob for other JobViews.",
                      "deprecated": true
                    },
                    "filter": {
                      "description": "The kind of filter to use.",
                      "type": "string",
                      "enumDescriptions": [
                        "The filter isn't specified, or is unknown. This returns all jobs ordered on descending `JobUuid`.",
                        "Returns all running jobs first ordered on creation timestamp, then returns all terminated jobs ordered on the termination timestamp.",
                        "Filters the jobs that have a terminated state, ordered on the termination timestamp. Example terminated states: `JOB_STATE_STOPPED`, `JOB_STATE_UPDATED`, `JOB_STATE_DRAINED`, etc.",
                        "Filters the jobs that are running ordered on the creation timestamp."
                      ],
                      "enum": [
                        "UNKNOWN",
                        "ALL",
                        "TERMINATED",
                        "ACTIVE"
                      ],
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "If there are many jobs, limit response to at most this many. The actual number of jobs returned will be the lesser of max_responses and an unspecified server-defined limit."
                    },
[...]
