{
  "basePath": "",
  "ownerDomain": "google.com",
  "servicePath": "",
  "documentationLink": "https://cloud.google.com/dataflow",
  "name": "dataflow",
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "baseUrl": "https://dataflow.googleapis.com/",
  "id": "dataflow:v1b3",
  "ownerName": "Google",
  "rootUrl": "https://dataflow.googleapis.com/",
  "mtlsRootUrl": "https://dataflow.mtls.googleapis.com/",
  "endpoints": [
    {
      "endpointUrl": "https://dataflow.africa-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "africa-south1"
    },
    {
      "location": "asia-east1",
      "endpointUrl": "https://dataflow.asia-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.asia-east2.rep.googleapis.com/",
      "location": "asia-east2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.asia-northeast1.rep.googleapis.com/",
      "location": "asia-northeast1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.asia-northeast2.rep.googleapis.com/",
      "location": "asia-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast3",
      "endpointUrl": "https://dataflow.asia-northeast3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.asia-south1.rep.googleapis.com/",
      "location": "asia-south1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.asia-south2.rep.googleapis.com/",
      "location": "asia-south2"
    },
    {
      "endpointUrl": "https://dataflow.asia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast1"
    },
    {
      "location": "asia-southeast2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.asia-southeast2.rep.googleapis.com/"
    },
    {
      "location": "asia-southeast3",
      "endpointUrl": "https://dataflow.asia-southeast3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.australia-southeast1.rep.googleapis.com/",
      "location": "australia-southeast1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.australia-southeast2.rep.googleapis.com/",
      "location": "australia-southeast2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.europe-central2.rep.googleapis.com/",
      "location": "europe-central2"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-north1",
      "endpointUrl": "https://dataflow.europe-north1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.europe-north2.rep.googleapis.com/",
      "location": "europe-north2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.europe-southwest1.rep.googleapis.com/",
      "location": "europe-southwest1"
    },
    {
      "endpointUrl": "https://dataflow.europe-west1.rep.googleapis.com/",
      "location": "europe-west1",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west10",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.europe-west10.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west12",
      "endpointUrl": "https://dataflow.europe-west12.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.europe-west2.rep.googleapis.com/",
      "location": "europe-west2"
    },
    {
      "endpointUrl": "https://dataflow.europe-west3.rep.googleapis.com/",
      "location": "europe-west3",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.europe-west4.rep.googleapis.com/",
      "location": "europe-west4",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west6",
      "endpointUrl": "https://dataflow.europe-west6.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west8",
      "endpointUrl": "https://dataflow.europe-west8.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.europe-west9.rep.googleapis.com/",
      "location": "europe-west9"
    },
    {
      "location": "me-central1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.me-central1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dataflow.me-central2.rep.googleapis.com/",
      "location": "me-central2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.me-west1.rep.googleapis.com/",
      "location": "me-west1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.northamerica-northeast1.rep.googleapis.com/",
      "location": "northamerica-northeast1"
    },
    {
      "description": "Regional Endpoint",
      "location": "northamerica-northeast2",
      "endpointUrl": "https://dataflow.northamerica-northeast2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dataflow.northamerica-south1.rep.googleapis.com/",
      "location": "northamerica-south1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.southamerica-east1.rep.googleapis.com/",
      "location": "southamerica-east1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.southamerica-west1.rep.googleapis.com/",
      "location": "southamerica-west1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.us-central1.rep.googleapis.com/",
      "location": "us-central1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.us-central2.rep.googleapis.com/",
      "location": "us-central2"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east1",
      "endpointUrl": "https://dataflow.us-east1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east4",
      "endpointUrl": "https://dataflow.us-east4.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dataflow.us-east5.rep.googleapis.com/",
      "location": "us-east5",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.us-east7.rep.googleapis.com/",
      "location": "us-east7",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-south1",
      "endpointUrl": "https://dataflow.us-south1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.us-west1.rep.googleapis.com/",
      "location": "us-west1"
    },
    {
      "location": "us-west2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.us-west2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west3",
      "endpointUrl": "https://dataflow.us-west3.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dataflow.us-west4.rep.googleapis.com/",
      "location": "us-west4",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.us-west8.rep.googleapis.com/",
      "location": "us-west8",
      "description": "Regional Endpoint"
    }
  ],
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "parameters": {
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    }
  },
  "schemas": {
    "SourceFork": {
      "id": "SourceFork",
      "properties": {
        "primarySource": {
          "description": "DEPRECATED",
          "$ref": "DerivedSource"
        },
        "residualSource": {
          "description": "DEPRECATED",
          "$ref": "DerivedSource"
        },
        "residual": {
          "description": "DEPRECATED",
          "$ref": "SourceSplitShard"
        },
        "primary": {
          "description": "DEPRECATED",
          "$ref": "SourceSplitShard"
        }
      },
      "description": "DEPRECATED in favor of DynamicSourceSplit.",
      "type": "object"
    },
    "ApproximateSplitRequest": {
      "description": "A suggestion by the service to the worker to dynamically split the WorkItem.",
      "type": "object",
      "id": "ApproximateSplitRequest",
      "properties": {
        "fractionConsumed": {
          "description": "A fraction at which to split the work item, from 0.0 (beginning of the input) to 1.0 (end of the input).",
          "type": "number",
          "format": "double"
        },
        "fractionOfRemainder": {
          "format": "double",
          "description": "The fraction of the remainder of work to split the work item at, from 0.0 (split at the current position) to 1.0 (end of the input).",
          "type": "number"
        },
        "position": {
          "description": "A Position at which to split the work item.",
          "$ref": "Position"
        }
      }
    },
    "LaunchFlexTemplateResponse": {
      "description": "Response to the request to launch a job from Flex Template.",
      "type": "object",
      "id": "LaunchFlexTemplateResponse",
      "properties": {
        "job": {
          "$ref": "Job",
          "description": "The job that was launched, if the request was not a dry run and the job was successfully launched."
        }
      }
    },
    "MetricStructuredName": {
      "description": "Identifies a metric, by describing the source which generated the metric.",
      "id": "MetricStructuredName",
      "properties": {
        "context": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Zero or more labeled fields which identify the part of the job this metric is associated with, such as the name of a step or collection. For example, built-in counters associated with steps will have context['step'] = . Counters associated with PCollections in the SDK will have context['pcollection'] = ."
        },
        "origin": {
          "type": "string",
          "description": "Origin (namespace) of metric name. May be blank for user-define metrics; will be \"dataflow\" for metrics defined by the Dataflow service or SDK."
        },
        "name": {
          "type": "string",
          "description": "Worker-defined metric name."
        }
      },
      "type": "object"
    },
    "ConcatPosition": {
      "properties": {
        "position": {
          "$ref": "Position",
          "description": "Position within the inner source."
        },
        "index": {
          "type": "integer",
          "description": "Index of the inner source.",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "ConcatPosition",
      "description": "A position that encapsulates an inner position and an index for the inner position. A ConcatPosition can be used by a reader of a source that encapsulates a set of other sources."
    },
    "CounterMetadata": {
      "id": "CounterMetadata",
      "type": "object",
      "description": "CounterMetadata includes all static non-name non-value counter attributes.",
      "properties": {
        "standardUnits": {
          "enum": [
            "BYTES",
            "BYTES_PER_SEC",
            "MILLISECONDS",
            "MICROSECONDS",
            "NANOSECONDS",
            "TIMESTAMP_MSEC",
            "TIMESTAMP_USEC",
            "TIMESTAMP_NSEC"
          ],
          "description": "System defined Units, see above enum.",
          "type": "string",
          "enumDescriptions": [
            "Counter returns a value in bytes.",
            "Counter returns a value in bytes per second.",
            "Counter returns a value in milliseconds.",
            "Counter returns a value in microseconds.",
            "Counter returns a value in nanoseconds.",
            "Counter returns a timestamp in milliseconds.",
            "Counter returns a timestamp in microseconds.",
            "Counter returns a timestamp in nanoseconds."
          ]
        },
        "otherUnits": {
          "description": "A string referring to the unit type.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Human-readable description of the counter semantics."
        },
        "kind": {
          "type": "string",
          "enum": [
            "INVALID",
            "SUM",
            "MAX",
            "MIN",
            "MEAN",
            "OR",
            "AND",
            "SET",
            "DISTRIBUTION",
            "LATEST_VALUE"
          ],
          "enumDescriptions": [
            "Counter aggregation kind was not set.",
            "Aggregated value is the sum of all contributed values.",
            "Aggregated value is the max of all contributed values.",
            "Aggregated value is the min of all contributed values.",
            "Aggregated value is the mean of all contributed values.",
            "Aggregated value represents the logical 'or' of all contributed values.",
            "Aggregated value represents the logical 'and' of all contributed values.",
            "Aggregated value is a set of unique contributed values.",
            "Aggregated value captures statistics about a distribution.",
            "Aggregated value tracks the latest value of a variable."
          ],
          "description": "Counter aggregation kind."
        }
      }
    },
    "NameAndKind": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the counter."
        },
        "kind": {
          "type": "string",
          "enumDescriptions": [
            "Counter aggregation kind was not set.",
            "Aggregated value is the sum of all contributed values.",
            "Aggregated value is the max of all contributed values.",
            "Aggregated value is the min of all contributed values.",
            "Aggregated value is the mean of all contributed values.",
            "Aggregated value represents the logical 'or' of all contributed values.",
            "Aggregated value represents the logical 'and' of all contributed values.",
            "Aggregated value is a set of unique contributed values.",
            "Aggregated value captures statistics about a distribution.",
            "Aggregated value tracks the latest value of a variable."
          ],
          "enum": [
            "INVALID",
            "SUM",
            "MAX",
            "MIN",
            "MEAN",
            "OR",
            "AND",
            "SET",
            "DISTRIBUTION",
            "LATEST_VALUE"
          ],
          "description": "Counter aggregation kind."
        }
      },
      "id": "NameAndKind",
      "description": "Basic metadata about a counter."
    },
    "SpannerIODetails": {
      "type": "object",
      "properties": {
        "projectId": {
          "description": "ProjectId accessed in the connection.",
          "type": "string"
        },
        "instanceId": {
          "type": "string",
          "description": "InstanceId accessed in the connection."
        },
        "databaseId": {
          "type": "string",
          "description": "DatabaseId accessed in the connection."
        }
      },
      "id": "SpannerIODetails",
      "description": "Metadata for a Spanner connector used by the job."
    },
    "ParameterMetadataEnumOption": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Required. The value of the enum option."
        },
        "label": {
          "description": "Optional. The label to display for the enum option.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. The description to display for the enum option."
        }
      },
      "description": "ParameterMetadataEnumOption specifies the option shown in the enum form.",
      "id": "ParameterMetadataEnumOption",
      "type": "object"
    },
    "ListSnapshotsResponse": {
      "type": "object",
      "description": "List of snapshots.",
      "id": "ListSnapshotsResponse",
      "properties": {
        "snapshots": {
          "type": "array",
          "items": {
            "$ref": "Snapshot"
          },
          "description": "Returned snapshots."
        }
      }
    },
    "JobExecutionInfo": {
      "id": "JobExecutionInfo",
      "properties": {
        "stages": {
          "additionalProperties": {
            "$ref": "JobExecutionStageInfo"
          },
          "description": "A mapping from each stage to the information about that stage.",
          "type": "object"
        }
      },
      "description": "Additional information about how a Cloud Dataflow job will be executed that isn't contained in the submitted job.",
      "type": "object"
    },
    "WorkerHealthReport": {
      "properties": {
        "vmIsBroken": {
          "description": "Whether the VM is in a permanently broken state. Broken VMs should be abandoned or deleted ASAP to avoid assigning or completing any work.",
          "type": "boolean"
        },
        "vmStartupTime": {
          "description": "The time the VM was booted.",
          "format": "google-datetime",
          "type": "string"
        },
        "vmIsHealthy": {
          "type": "boolean",
          "description": "Whether the VM is currently healthy."
        },
        "reportInterval": {
          "type": "string",
          "format": "google-duration",
          "description": "The interval at which the worker is sending health reports. The default value of 0 should be interpreted as the field is not being explicitly set by the worker."
        },
        "msg": {
          "description": "Message describing any unusual health reports.",
          "type": "string"
        },
        "vmBrokenCode": {
          "description": "Code to describe a specific reason, if known, that a VM has reported broken state.",
          "type": "string"
        },
        "pods": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object."
            }
          },
          "description": "The pods running on the worker. See: http://kubernetes.io/v1.1/docs/api-reference/v1/definitions.html#_v1_pod This field is used by the worker to send the status of the indvidual containers running on each worker.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "WorkerHealthReport contains information about the health of a worker. The VM should be identified by the labels attached to the WorkerMessage that this health ping belongs to.",
      "id": "WorkerHealthReport"
    },
    "HotKeyInfo": {
      "type": "object",
      "id": "HotKeyInfo",
      "properties": {
        "hotKeyAge": {
          "type": "string",
          "description": "The age of the hot key measured from when it was first detected.",
          "format": "google-duration"
        },
        "key": {
          "type": "string",
          "description": "A detected hot key that is causing limited parallelism. This field will be populated only if the following flag is set to true: \"--enable_hot_key_logging\"."
        },
        "keyTruncated": {
          "type": "boolean",
          "description": "If true, then the above key is truncated and cannot be deserialized. This occurs if the key above is populated and the key size is >5MB."
        }
      },
      "description": "Information about a hot key."
    },
    "Stack": {
      "properties": {
        "threadCount": {
          "description": "With java thread dumps we may get collapsed stacks e.g., N threads in stack \"\". Instead of having to copy over the same stack trace N times, this int field captures this.",
          "format": "int32",
          "type": "integer"
        },
        "timestamp": {
          "description": "Timestamp at which the stack was captured.",
          "type": "string",
          "format": "google-datetime"
        },
        "stackContent": {
          "type": "string",
          "description": "The raw stack trace."
        },
        "threadState": {
          "description": "The state of the thread. For example, \"WAITING\".",
          "type": "string"
        },
        "threadName": {
          "type": "string",
          "description": "Thread name. For example, \"CommitThread-0,10,main\""
        }
      },
      "description": "A structuredstacktrace for a process running on the worker.",
      "id": "Stack",
      "type": "object"
    },
    "CounterStructuredName": {
      "id": "CounterStructuredName",
      "properties": {
        "originalStepName": {
          "description": "System generated name of the original step in the user's graph, before optimization.",
          "type": "string"
        },
        "originNamespace": {
          "type": "string",
          "description": "A string containing a more specific namespace of the counter's origin."
        },
        "name": {
          "type": "string",
          "description": "Counter name. Not necessarily globally-unique, but unique within the context of the other fields. Required."
        },
        "executionStepName": {
          "description": "Name of the stage. An execution step contains multiple component steps.",
          "type": "string"
        },
        "originalRequestingStepName": {
          "description": "The step name requesting an operation, such as GBK. I.e. the ParDo causing a read/write from shuffle to occur, or a read from side inputs.",
          "type": "string"
        },
        "componentStepName": {
          "description": "Name of the optimized step being executed by the workers.",
          "type": "string"
        },
        "portion": {
          "description": "Portion of this counter, either key or value.",
          "type": "string",
          "enum": [
            "ALL",
            "KEY",
            "VALUE"
          ],
          "enumDescriptions": [
            "Counter portion has not been set.",
            "Counter reports a key.",
            "Counter reports a value."
          ]
        },
        "inputIndex": {
          "type": "integer",
          "description": "Index of an input collection that's being read from/written to as a side input. The index identifies a step's side inputs starting by 1 (e.g. the first side input has input_index 1, the third has input_index 3). Side inputs are identified by a pair of (original_step_name, input_index). This field helps uniquely identify them.",
          "format": "int32"
        },
        "origin": {
          "enumDescriptions": [
            "Counter was created by the Dataflow system.",
            "Counter was created by the user."
          ],
          "enum": [
            "SYSTEM",
            "USER"
          ],
          "description": "One of the standard Origins defined above.",
          "type": "string"
        },
        "workerId": {
          "type": "string",
          "description": "ID of a particular worker."
        }
      },
      "description": "Identifies a counter within a per-job namespace. Counters whose structured names are the same get merged into a single value for the job.",
      "type": "object"
    },
    "LaunchFlexTemplateParameter": {
      "description": "Launch FlexTemplate Parameter.",
      "id": "LaunchFlexTemplateParameter",
      "type": "object",
      "properties": {
        "launchOptions": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Launch options for this flex template job. This is a common set of options across languages and templates. This should not be used to pass job parameters."
        },
        "environment": {
          "$ref": "FlexTemplateRuntimeEnvironment",
          "description": "The runtime environment for the FlexTemplate job"
        },
        "jobName": {
          "type": "string",
          "description": "Required. The job name to use for the created job. For update job request, job name should be same as the existing running job."
        },
        "transformNameMappings": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Use this to pass transform_name_mappings for streaming update jobs. Ex:{\"oldTransformName\":\"newTransformName\",...}'",
          "type": "object"
        },
        "containerSpecGcsPath": {
          "description": "Cloud Storage path to a file with json serialized ContainerSpec as content.",
          "type": "string"
        },
        "parameters": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The parameters for FlexTemplate. Ex. {\"num_workers\":\"5\"}"
        },
        "containerSpec": {
          "description": "Spec about the container image to launch.",
          "$ref": "ContainerSpec"
        },
        "update": {
          "description": "Set this to true if you are sending a request to update a running streaming job. When set, the job name should be the same as the running job.",
          "type": "boolean"
        }
      }
    },
    "DataSamplingReport": {
      "properties": {
        "bytesWrittenDelta": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Delta of bytes written to file from previous report."
        },
        "elementsSampledCount": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Delta of number of elements sampled from previous report."
        },
        "exceptionsSampledCount": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Delta of number of samples taken from user code exceptions from previous report."
        },
        "persistenceErrorsCount": {
          "description": "Optional. Delta of errors counts from persisting the samples from previous report.",
          "format": "int64",
          "type": "string"
        },
        "translationErrorsCount": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Delta of errors counts from retrieving, or translating the samples from previous report."
        },
        "elementsSampledBytes": {
          "description": "Optional. Delta of bytes sampled from previous report.",
          "format": "int64",
          "type": "string"
        },
        "pcollectionsSampledCount": {
          "format": "int64",
          "description": "Optional. Delta of number of PCollections sampled from previous report.",
          "type": "string"
        }
      },
      "id": "DataSamplingReport",
      "type": "object",
      "description": "Contains per-worker telemetry about the data sampling feature."
    },
    "MountedDataDisk": {
      "type": "object",
      "properties": {
        "dataDisk": {
          "type": "string",
          "description": "The name of the data disk. This name is local to the Google Cloud Platform project and uniquely identifies the disk within that project, for example \"myproject-1014-104817-4c2-harness-0-disk-1\"."
        }
      },
      "id": "MountedDataDisk",
      "description": "Describes mounted data disk."
    },
    "AutoscalingEvent": {
      "id": "AutoscalingEvent",
      "properties": {
        "eventType": {
          "description": "The type of autoscaling event to report.",
          "type": "string",
          "enum": [
            "TYPE_UNKNOWN",
            "TARGET_NUM_WORKERS_CHANGED",
            "CURRENT_NUM_WORKERS_CHANGED",
            "ACTUATION_FAILURE",
            "NO_CHANGE"
          ],
          "enumDescriptions": [
            "Default type for the enum. Value should never be returned.",
            "The TARGET_NUM_WORKERS_CHANGED type should be used when the target worker pool size has changed at the start of an actuation. An event should always be specified as TARGET_NUM_WORKERS_CHANGED if it reflects a change in the target_num_workers.",
            "The CURRENT_NUM_WORKERS_CHANGED type should be used when actual worker pool size has been changed, but the target_num_workers has not changed.",
            "The ACTUATION_FAILURE type should be used when we want to report an error to the user indicating why the current number of workers in the pool could not be changed. Displayed in the current status and history widgets.",
            "Used when we want to report to the user a reason why we are not currently adjusting the number of workers. Should specify both target_num_workers, current_num_workers and a decision_message."
          ]
        },
        "currentNumWorkers": {
          "description": "The current number of workers the job has.",
          "format": "int64",
          "type": "string"
        },
        "description": {
          "description": "A message describing why the system decided to adjust the current number of workers, why it failed, or why the system decided to not make any changes to the number of workers.",
          "$ref": "StructuredMessage"
        },
        "workerPool": {
          "type": "string",
          "description": "A short and friendly name for the worker pool this event refers to."
        },
        "time": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time this event was emitted to indicate a new target or current num_workers value."
        },
        "targetNumWorkers": {
          "format": "int64",
          "description": "The target number of workers the worker pool wants to resize to use.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A structured message reporting an autoscaling decision made by the Dataflow service."
    },
    "PartialGroupByKeyInstruction": {
      "properties": {
        "sideInputs": {
          "type": "array",
          "description": "Zero or more side inputs.",
          "items": {
            "$ref": "SideInputInfo"
          }
        },
        "input": {
          "description": "Describes the input to the partial group-by-key instruction.",
          "$ref": "InstructionInput"
        },
        "valueCombiningFn": {
          "description": "The value combining function to invoke.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "originalCombineValuesStepName": {
          "type": "string",
          "description": "If this instruction includes a combining function, this is the name of the CombineValues instruction lifted into this instruction."
        },
        "originalCombineValuesInputStoreName": {
          "description": "If this instruction includes a combining function this is the name of the intermediate store between the GBK and the CombineValues.",
          "type": "string"
        },
        "inputElementCodec": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "The codec to use for interpreting an element in the input PTable."
        }
      },
      "id": "PartialGroupByKeyInstruction",
      "description": "An instruction that does a partial group-by-key. One input and one output.",
      "type": "object"
    },
    "StreamLocation": {
      "description": "Describes a stream of data, either as input to be processed or as output of a streaming Dataflow job.",
      "type": "object",
      "properties": {
        "sideInputLocation": {
          "$ref": "StreamingSideInputLocation",
          "description": "The stream is a streaming side input."
        },
        "pubsubLocation": {
          "$ref": "PubsubLocation",
          "description": "The stream is a pubsub stream."
        },
        "customSourceLocation": {
          "$ref": "CustomSourceLocation",
          "description": "The stream is a custom source."
        },
        "streamingStageLocation": {
          "description": "The stream is part of another computation within the current streaming Dataflow job.",
          "$ref": "StreamingStageLocation"
        }
      },
      "id": "StreamLocation"
    },
    "BoundedTrieNode": {
      "type": "object",
      "description": "A single node in a BoundedTrie.",
      "properties": {
        "children": {
          "description": "Children of this node. Must be empty if truncated is true.",
          "additionalProperties": {
            "$ref": "BoundedTrieNode"
          },
          "type": "object"
        },
        "truncated": {
          "description": "Whether this node has been truncated. A truncated leaf represents possibly many children with the same prefix.",
          "type": "boolean"
        }
      },
      "id": "BoundedTrieNode"
    },
    "StreamingComputationConfig": {
      "type": "object",
      "description": "Configuration information for a single streaming computation.",
      "properties": {
        "instructions": {
          "items": {
            "$ref": "ParallelInstruction"
          },
          "description": "Instructions that comprise the computation.",
          "type": "array"
        },
        "computationId": {
          "type": "string",
          "description": "Unique identifier for this computation."
        },
        "stageName": {
          "type": "string",
          "description": "Stage name of this computation."
        },
        "transformUserNameToStateFamily": {
          "description": "Map from user name of stateful transforms in this stage to their state family.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "systemName": {
          "description": "System defined name for this computation.",
          "type": "string"
        }
      },
      "id": "StreamingComputationConfig"
    },
    "ConfigStoreSettingValue": {
      "id": "ConfigStoreSettingValue",
      "type": "object",
      "properties": {
        "stringValue": {
          "description": "Represents a string value.",
          "type": "string"
        },
        "boolValue": {
          "type": "boolean",
          "description": "Represents a boolean value."
        }
      },
      "description": "Represents a dynamically typed value."
    },
    "ConfigStoreSetting": {
      "description": "A ConfigStoreSetting resource.",
      "properties": {
        "value": {
          "$ref": "ConfigStoreSettingValue",
          "description": "Required. The dynamic value of the setting."
        },
        "name": {
          "description": "Identifier. The resource name of the setting.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ConfigStoreSetting"
    },
    "Source": {
      "properties": {
        "baseSpecs": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object."
            }
          },
          "description": "While splitting, sources may specify the produced bundles as differences against another source, in order to save backend-side memory and allow bigger jobs. For details, see SourceSplitRequest. To support this use case, the full set of parameters of the source is logically obtained by taking the latest explicitly specified value of each parameter in the order: base_specs (later items win), spec (overrides anything in base_specs)."
        },
        "metadata": {
          "$ref": "SourceMetadata",
          "description": "Optionally, metadata for this source can be supplied right away, avoiding a SourceGetMetadataOperation roundtrip (see SourceOperationRequest). This field is meaningful only in the Source objects populated by the user (e.g. when filling in a DerivedSource). Source objects supplied by the framework to the user don't have this field populated."
        },
        "doesNotNeedSplitting": {
          "description": "Setting this value to true hints to the framework that the source doesn't need splitting, and using SourceSplitRequest on it would yield SOURCE_SPLIT_OUTCOME_USE_CURRENT. E.g. a file splitter may set this to true when splitting a single file into a set of byte ranges of appropriate size, and set this to false when splitting a filepattern into individual files. However, for efficiency, a file splitter may decide to produce file subranges directly from the filepattern to avoid a splitting round-trip. See SourceSplitRequest for an overview of the splitting process. This field is meaningful only in the Source objects populated by the user (e.g. when filling in a DerivedSource). Source objects supplied by the framework to the user don't have this field populated.",
          "type": "boolean"
        },
        "spec": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "The source to read from, plus its parameters.",
          "type": "object"
        },
        "codec": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "The codec to use to decode data read from the source."
        }
      },
      "id": "Source",
      "type": "object",
      "description": "A source that records can be read and decoded from."
    },
    "MetricValue": {
      "properties": {
        "metricLabels": {
          "type": "object",
          "description": "Optional. Set of metric labels for this metric.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "metric": {
          "description": "Base name for this metric.",
          "type": "string"
        },
        "valueHistogram": {
          "$ref": "DataflowHistogramValue",
          "description": "Histogram value of this metric."
        },
        "valueInt64": {
          "format": "int64",
          "type": "string",
          "description": "Integer value of this metric."
        },
        "valueGauge64": {
          "description": "Non-cumulative int64 value of this metric.",
          "$ref": "DataflowGaugeValue"
        }
      },
      "description": "The value of a metric along with its name and labels.",
      "type": "object",
      "id": "MetricValue"
    },
    "TaskRunnerSettings": {
      "type": "object",
      "properties": {
        "logUploadLocation": {
          "description": "Indicates where to put logs. If this is not specified, the logs will not be uploaded. The supported resource type is: Google Cloud Storage: storage.googleapis.com/{bucket}/{object} bucket.storage.googleapis.com/{object}",
          "type": "string"
        },
        "parallelWorkerSettings": {
          "description": "The settings to pass to the parallel worker harness.",
          "$ref": "WorkerSettings"
        },
        "logToSerialconsole": {
          "description": "Whether to send taskrunner log info to Google Compute Engine VM serial console.",
          "type": "boolean"
        },
        "workflowFileName": {
          "type": "string",
          "description": "The file to store the workflow in."
        },
        "commandlinesFileName": {
          "description": "The file to store preprocessing commands in.",
          "type": "string"
        },
        "tempStoragePrefix": {
          "description": "The prefix of the resources the taskrunner should use for temporary storage. The supported resource type is: Google Cloud Storage: storage.googleapis.com/{bucket}/{object} bucket.storage.googleapis.com/{object}",
          "type": "string"
        },
        "baseUrl": {
          "type": "string",
          "description": "The base URL for the taskrunner to use when accessing Google Cloud APIs. When workers access Google Cloud APIs, they logically do so via relative URLs. If this field is specified, it supplies the base URL to use for resolving these relative URLs. The normative algorithm used is defined by RFC 1808, \"Relative Uniform Resource Locators\". If not specified, the default value is \"http://www.googleapis.com/\""
        },
        "logDir": {
          "type": "string",
          "description": "The directory on the VM to store logs."
        },
        "dataflowApiVersion": {
          "description": "The API version of endpoint, e.g. \"v1b3\"",
          "type": "string"
        },
        "oauthScopes": {
          "description": "The OAuth2 scopes to be requested by the taskrunner in order to access the Cloud Dataflow API.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "vmId": {
          "type": "string",
          "description": "The ID string of the VM."
        },
        "continueOnException": {
          "description": "Whether to continue taskrunner if an exception is hit.",
          "type": "boolean"
        },
        "streamingWorkerMainClass": {
          "description": "The streaming worker main class name.",
          "type": "string"
        },
        "alsologtostderr": {
          "type": "boolean",
          "description": "Whether to also send taskrunner log info to stderr."
        },
        "taskGroup": {
          "description": "The UNIX group ID on the worker VM to use for tasks launched by taskrunner; e.g. \"wheel\".",
          "type": "string"
        },
        "languageHint": {
          "type": "string",
          "description": "The suggested backend language."
        },
        "harnessCommand": {
          "type": "string",
          "description": "The command to launch the worker harness."
        },
        "baseTaskDir": {
          "type": "string",
          "description": "The location on the worker for task-specific subdirectories."
        },
        "taskUser": {
          "description": "The UNIX user ID on the worker VM to use for tasks launched by taskrunner; e.g. \"root\".",
          "type": "string"
        }
      },
      "description": "Taskrunner configuration settings.",
      "id": "TaskRunnerSettings"
    },
    "StreamingOperationalLimits": {
      "type": "object",
      "properties": {
        "maxBagElementBytes": {
          "type": "string",
          "format": "int64",
          "description": "The maximum size for an element in bag state."
        },
        "maxSortedListElementBytes": {
          "format": "int64",
          "description": "The maximum size for an element in sorted list state.",
          "type": "string"
        },
        "maxValueBytes": {
          "format": "int64",
          "description": "The maximum size for a value state field.",
          "type": "string"
        },
        "maxKeyBytes": {
          "type": "string",
          "format": "int64",
          "description": "The maximum size allowed for a key."
        },
        "maxTagBytes": {
          "description": "The maximum size for a state tag.",
          "type": "string",
          "format": "int64"
        },
        "maxGlobalDataBytes": {
          "type": "string",
          "format": "int64",
          "description": "The maximum size for an element in global data."
        },
        "maxSourceStateBytes": {
          "description": "The maximum size for a source state update.",
          "format": "int64",
          "type": "string"
        },
        "maxProductionOutputBytes": {
          "format": "int64",
          "description": "The maximum size for a single output element.",
          "type": "string"
        }
      },
      "description": "Operational limits imposed on streaming jobs by the backend.",
      "id": "StreamingOperationalLimits"
    },
    "SendWorkerMessagesResponse": {
      "description": "The response to the worker messages.",
      "type": "object",
      "id": "SendWorkerMessagesResponse",
      "properties": {
        "workerMessageResponses": {
          "description": "The servers response to the worker messages.",
          "items": {
            "$ref": "WorkerMessageResponse"
          },
          "type": "array"
        }
      }
    },
    "ApproximateReportedProgress": {
      "description": "A progress measurement of a WorkItem by a worker.",
      "id": "ApproximateReportedProgress",
      "type": "object",
      "properties": {
        "position": {
          "description": "A Position within the work to represent a progress.",
          "$ref": "Position"
        },
        "fractionConsumed": {
          "description": "Completion as fraction of the input consumed, from 0.0 (beginning, nothing consumed), to 1.0 (end of the input, entire input consumed).",
          "format": "double",
          "type": "number"
        },
        "consumedParallelism": {
          "description": "Total amount of parallelism in the portion of input of this task that has already been consumed and is no longer active. In the first two examples above (see remaining_parallelism), the value should be 29 or 2 respectively. The sum of remaining_parallelism and consumed_parallelism should equal the total amount of parallelism in this work item. If specified, must be finite.",
          "$ref": "ReportedParallelism"
        },
        "remainingParallelism": {
          "$ref": "ReportedParallelism",
          "description": "Total amount of parallelism in the input of this task that remains, (i.e. can be delegated to this task and any new tasks via dynamic splitting). Always at least 1 for non-finished work items and 0 for finished. \"Amount of parallelism\" refers to how many non-empty parts of the input can be read in parallel. This does not necessarily equal number of records. An input that can be read in parallel down to the individual records is called \"perfectly splittable\". An example of non-perfectly parallelizable input is a block-compressed file format where a block of records has to be read as a whole, but different blocks can be read in parallel. Examples: * If we are processing record #30 (starting at 1) out of 50 in a perfectly splittable 50-record input, this value should be 21 (20 remaining + 1 current). * If we are reading through block 3 in a block-compressed file consisting of 5 blocks, this value should be 3 (since blocks 4 and 5 can be processed in parallel by new tasks via dynamic splitting and the current task remains processing block 3). * If we are reading through the last block in a block-compressed file, or reading or processing the last record in a perfectly splittable input, this value should be 1, because apart from the current task, no additional remainder can be split off."
        }
      }
    },
    "BoundedTrie": {
      "description": "The message type used for encoding metrics of type bounded trie.",
      "type": "object",
      "id": "BoundedTrie",
      "properties": {
        "singleton": {
          "description": "A more efficient representation for metrics consisting of a single value.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "root": {
          "$ref": "BoundedTrieNode",
          "description": "A compact representation of all the elements in this trie."
        },
        "bound": {
          "description": "The maximum number of elements to store before truncation.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "FailedLocation": {
      "type": "object",
      "description": "Indicates which [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) failed to respond to a request for data.",
      "properties": {
        "name": {
          "description": "The name of the [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that failed to respond.",
          "type": "string"
        }
      },
      "id": "FailedLocation"
    },
    "Disk": {
      "description": "Describes the data disk used by a workflow job.",
      "type": "object",
      "properties": {
        "mountPoint": {
          "description": "Directory in a VM where disk is mounted.",
          "type": "string"
        },
        "sizeGb": {
          "type": "integer",
          "format": "int32",
          "description": "Size of disk in GB. If zero or unspecified, the service will attempt to choose a reasonable default."
        },
        "diskType": {
          "description": "Disk storage type, as defined by Google Compute Engine. This must be a disk type appropriate to the project and zone in which the workers will run. If unknown or unspecified, the service will attempt to choose a reasonable default. For example, the standard persistent disk type is a resource name typically ending in \"pd-standard\". If SSD persistent disks are available, the resource name typically ends with \"pd-ssd\". The actual valid values are defined the Google Compute Engine API, not by the Cloud Dataflow API; consult the Google Compute Engine documentation for more information about determining the set of available disk types for a particular project and zone. Google Compute Engine Disk types are local to a particular project in a particular zone, and so the resource name will typically look something like this: compute.googleapis.com/projects/project-id/zones/zone/diskTypes/pd-standard",
          "type": "string"
        }
      },
      "id": "Disk"
    },
    "TemplateMetadata": {
      "properties": {
        "supportsAtLeastOnce": {
          "description": "Optional. Indicates if the streaming template supports at least once mode.",
          "type": "boolean"
        },
        "streaming": {
          "description": "Optional. Indicates if the template is streaming or not.",
          "type": "boolean"
        },
        "defaultStreamingMode": {
          "type": "string",
          "description": "Optional. Indicates the default streaming mode for a streaming template. Only valid if both supports_at_least_once and supports_exactly_once are true. Possible values: UNSPECIFIED, EXACTLY_ONCE and AT_LEAST_ONCE"
        },
        "name": {
          "description": "Required. The name of the template.",
          "type": "string"
        },
        "yamlDefinition": {
          "description": "Optional. For future use.",
          "type": "string"
        },
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "ParameterMetadata"
          },
          "description": "The parameters for the template."
        },
        "description": {
          "description": "Optional. A description of the template.",
          "type": "string"
        },
        "supportsExactlyOnce": {
          "type": "boolean",
          "description": "Optional. Indicates if the streaming template supports exactly once mode."
        }
      },
      "description": "Metadata describing a template.",
      "type": "object",
      "id": "TemplateMetadata"
    },
    "StageSummary": {
      "properties": {
        "stageId": {
          "type": "string",
          "description": "ID of this stage"
        },
        "metrics": {
          "type": "array",
          "description": "Metrics for this stage.",
          "items": {
            "$ref": "MetricUpdate"
          }
        },
        "state": {
          "type": "string",
          "enum": [
            "EXECUTION_STATE_UNKNOWN",
            "EXECUTION_STATE_NOT_STARTED",
            "EXECUTION_STATE_RUNNING",
            "EXECUTION_STATE_SUCCEEDED",
            "EXECUTION_STATE_FAILED",
            "EXECUTION_STATE_CANCELLED"
          ],
          "description": "State of this stage.",
          "enumDescriptions": [
            "The component state is unknown or unspecified.",
            "The component is not yet running.",
            "The component is currently running.",
            "The component succeeded.",
            "The component failed.",
            "Execution of the component was cancelled."
          ]
        },
        "stragglerSummary": {
          "$ref": "StragglerSummary",
          "description": "Straggler summary for this stage."
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Start time of this stage.",
          "type": "string"
        },
        "progress": {
          "$ref": "ProgressTimeseries",
          "description": "Progress for this stage. Only applicable to Batch jobs."
        },
        "endTime": {
          "type": "string",
          "description": "End time of this stage. If the work item is completed, this is the actual end time of the stage. Otherwise, it is the predicted end time.",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "description": "Information about a particular execution stage of a job.",
      "id": "StageSummary"
    },
    "RuntimeEnvironment": {
      "description": "The environment values to set at runtime.",
      "id": "RuntimeEnvironment",
      "type": "object",
      "properties": {
        "diskSizeGb": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The disk size, in gigabytes, to use on each remote Compute Engine worker instance."
        },
        "zone": {
          "description": "Optional. The Compute Engine [availability zone](https://cloud.google.com/compute/docs/regions-zones/regions-zones) for launching worker instances to run your pipeline. In the future, worker_zone will take precedence.",
          "type": "string"
        },
        "machineType": {
          "type": "string",
          "description": "Optional. The machine type to use for the job. Defaults to the value from the template if not specified."
        },
        "serviceAccountEmail": {
          "description": "Optional. The email address of the service account to run the job as.",
          "type": "string"
        },
        "workerZone": {
          "description": "Optional. The Compute Engine zone (https://cloud.google.com/compute/docs/regions-zones/regions-zones) in which worker processing should occur, e.g. \"us-west1-a\". Mutually exclusive with worker_region. If neither worker_region nor worker_zone is specified, a zone in the control plane's region is chosen based on available capacity. If both `worker_zone` and `zone` are set, `worker_zone` takes precedence.",
          "type": "string"
        },
        "bypassTempDirValidation": {
          "description": "Optional. Whether to bypass the safety checks for the job's temporary directory. Use with caution.",
          "type": "boolean"
        },
        "additionalExperiments": {
          "type": "array",
          "description": "Optional. Additional experiment flags for the job, specified with the `--experiments` option.",
          "items": {
            "type": "string"
          }
        },
        "additionalUserLabels": {
          "type": "object",
          "description": "Optional. Additional user labels to be specified for the job. Keys and values should follow the restrictions specified in the [labeling restrictions](https://cloud.google.com/compute/docs/labeling-resources#restrictions) page. An object containing a list of \"key\": value pairs. Example: { \"name\": \"wrench\", \"mass\": \"1kg\", \"count\": \"3\" }.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "ipConfiguration": {
          "enumDescriptions": [
            "The configuration is unknown, or unspecified.",
            "Workers should have public IP addresses.",
            "Workers should have private IP addresses."
          ],
          "description": "Optional. Configuration for VM IPs.",
          "type": "string",
          "enum": [
            "WORKER_IP_UNSPECIFIED",
            "WORKER_IP_PUBLIC",
            "WORKER_IP_PRIVATE"
          ]
        },
        "enableStreamingEngine": {
          "type": "boolean",
          "description": "Optional. Whether to enable Streaming Engine for the job."
        },
        "kmsKeyName": {
          "type": "string",
          "description": "Optional. Name for the Cloud KMS key for the job. Key format is: projects//locations//keyRings//cryptoKeys/"
        },
        "subnetwork": {
          "description": "Optional. Subnetwork to which VMs will be assigned, if desired. You can specify a subnetwork using either a complete URL or an abbreviated path. Expected to be of the form \"https://www.googleapis.com/compute/v1/projects/HOST_PROJECT_ID/regions/REGION/subnetworks/SUBNETWORK\" or \"regions/REGION/subnetworks/SUBNETWORK\". If the subnetwork is located in a Shared VPC network, you must use the complete URL.",
          "type": "string"
        },
        "tempLocation": {
          "description": "Required. The Cloud Storage path to use for temporary files. Must be a valid Cloud Storage URL, beginning with `gs://`.",
          "type": "string"
        },
        "maxWorkers": {
          "format": "int32",
          "description": "Optional. The maximum number of Google Compute Engine instances to be made available to your pipeline during execution, from 1 to 1000. The default value is 1.",
          "type": "integer"
        },
        "streamingMode": {
          "enum": [
            "STREAMING_MODE_UNSPECIFIED",
            "STREAMING_MODE_EXACTLY_ONCE",
            "STREAMING_MODE_AT_LEAST_ONCE"
          ],
          "description": "Optional. Specifies the Streaming Engine message processing guarantees. Reduces cost and latency but might result in duplicate messages committed to storage. Designed to run simple mapping streaming ETL jobs at the lowest cost. For example, Change Data Capture (CDC) to BigQuery is a canonical use case. For more information, see [Set the pipeline streaming mode](https://cloud.google.com/dataflow/docs/guides/streaming-modes).",
          "type": "string",
          "enumDescriptions": [
            "Run in the default mode.",
            "In this mode, message deduplication is performed against persistent state to make sure each message is processed and committed to storage exactly once.",
            "Message deduplication is not performed. Messages might be processed multiple times, and the results are applied multiple times. Note: Setting this value also enables Streaming Engine and Streaming Engine resource-based billing."
          ]
        },
        "workerRegion": {
          "description": "Required. The Compute Engine region (https://cloud.google.com/compute/docs/regions-zones/regions-zones) in which worker processing should occur, e.g. \"us-west1\". Mutually exclusive with worker_zone. If neither worker_region nor worker_zone is specified, default to the control plane's region.",
          "type": "string"
        },
        "numWorkers": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The initial number of Google Compute Engine instances for the job. The default value is 11."
        },
        "network": {
          "description": "Optional. Network to which VMs will be assigned. If empty or unspecified, the service will use the network \"default\".",
          "type": "string"
        },
        "additionalPipelineOptions": {
          "type": "array",
          "description": "Optional. Additional pipeline option flags for the job.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Parameter": {
      "type": "object",
      "description": "Structured data associated with this message.",
      "properties": {
        "value": {
          "description": "Value for this parameter.",
          "type": "any"
        },
        "key": {
          "type": "string",
          "description": "Key or name for this parameter."
        }
      },
      "id": "Parameter"
    },
    "WorkerThreadScalingReportResponse": {
      "description": "Contains the thread scaling recommendation for a worker from the backend.",
      "id": "WorkerThreadScalingReportResponse",
      "type": "object",
      "properties": {
        "recommendedThreadCount": {
          "format": "int32",
          "description": "Recommended number of threads for a worker.",
          "type": "integer"
        }
      }
    },
    "WorkerSettings": {
      "properties": {
        "reportingEnabled": {
          "type": "boolean",
          "description": "Whether to send work progress updates to the service."
        },
        "baseUrl": {
          "description": "The base URL for accessing Google Cloud APIs. When workers access Google Cloud APIs, they logically do so via relative URLs. If this field is specified, it supplies the base URL to use for resolving these relative URLs. The normative algorithm used is defined by RFC 1808, \"Relative Uniform Resource Locators\". If not specified, the default value is \"http://www.googleapis.com/\"",
          "type": "string"
        },
        "workerId": {
          "description": "The ID of the worker running this pipeline.",
          "type": "string"
        },
        "shuffleServicePath": {
          "type": "string",
          "description": "The Shuffle service path relative to the root URL, for example, \"shuffle/v1beta1\"."
        },
        "servicePath": {
          "type": "string",
          "description": "The Cloud Dataflow service path relative to the root URL, for example, \"dataflow/v1b3/projects\"."
        },
        "tempStoragePrefix": {
          "description": "The prefix of the resources the system should use for temporary storage. The supported resource type is: Google Cloud Storage: storage.googleapis.com/{bucket}/{object} bucket.storage.googleapis.com/{object}",
          "type": "string"
        }
      },
      "type": "object",
      "id": "WorkerSettings",
      "description": "Provides data to pass through to the worker harness."
    },
    "DataflowGaugeValue": {
      "id": "DataflowGaugeValue",
      "type": "object",
      "description": "The gauge value of a metric.",
      "properties": {
        "value": {
          "type": "string",
          "format": "int64",
          "description": "The value of the gauge."
        },
        "measuredTime": {
          "description": "The timestamp when the gauge was recorded.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "JobMessage": {
      "type": "object",
      "properties": {
        "messageImportance": {
          "description": "Importance level of the message.",
          "enum": [
            "JOB_MESSAGE_IMPORTANCE_UNKNOWN",
            "JOB_MESSAGE_DEBUG",
            "JOB_MESSAGE_DETAILED",
            "JOB_MESSAGE_BASIC",
            "JOB_MESSAGE_WARNING",
            "JOB_MESSAGE_ERROR"
          ],
          "type": "string",
          "enumDescriptions": [
            "The message importance isn't specified, or is unknown.",
            "The message is at the 'debug' level: typically only useful for software engineers working on the code the job is running. Typically, Dataflow pipeline runners do not display log messages at this level by default.",
            "The message is at the 'detailed' level: somewhat verbose, but potentially useful to users. Typically, Dataflow pipeline runners do not display log messages at this level by default. These messages are displayed by default in the Dataflow monitoring UI.",
            "The message is at the 'basic' level: useful for keeping track of the execution of a Dataflow pipeline. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI.",
            "The message is at the 'warning' level: indicating a condition pertaining to a job which may require human intervention. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI.",
            "The message is at the 'error' level: indicating a condition preventing a job from succeeding. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI."
          ]
        },
        "time": {
          "description": "The timestamp of the message.",
          "format": "google-datetime",
          "type": "string"
        },
        "id": {
          "description": "Deprecated.",
          "type": "string"
        },
        "messageText": {
          "description": "The text of the message.",
          "type": "string"
        }
      },
      "id": "JobMessage",
      "description": "A particular message pertaining to a Dataflow job."
    },
    "Sink": {
      "description": "A sink that records can be encoded and written to.",
      "properties": {
        "spec": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "The sink to write to, plus its parameters."
        },
        "codec": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "The codec to use to encode data written to the sink."
        }
      },
      "type": "object",
      "id": "Sink"
    },
    "SnapshotJobRequest": {
      "description": "Request to create a snapshot of a job.",
      "id": "SnapshotJobRequest",
      "type": "object",
      "properties": {
        "ttl": {
          "type": "string",
          "description": "TTL for the snapshot.",
          "format": "google-duration"
        },
        "snapshotSources": {
          "description": "If true, perform snapshots for sources which support this.",
          "type": "boolean"
        },
        "description": {
          "type": "string",
          "description": "User specified description of the snapshot. Maybe empty."
        },
        "location": {
          "description": "The location that contains this job.",
          "type": "string"
        }
      }
    },
    "StageExecutionDetails": {
      "id": "StageExecutionDetails",
      "description": "Information about the workers and work items within a stage.",
      "properties": {
        "workers": {
          "items": {
            "$ref": "WorkerDetails"
          },
          "description": "Workers that have done work on the stage.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "If present, this response does not contain all requested tasks. To obtain the next page of results, repeat the request with page_token set to this value."
        }
      },
      "type": "object"
    },
    "IntegerList": {
      "properties": {
        "elements": {
          "items": {
            "$ref": "SplitInt64"
          },
          "description": "Elements of the list.",
          "type": "array"
        }
      },
      "description": "A metric value representing a list of integers.",
      "id": "IntegerList",
      "type": "object"
    },
    "MultiOutputInfo": {
      "description": "Information about an output of a multi-output DoFn.",
      "id": "MultiOutputInfo",
      "type": "object",
      "properties": {
        "tag": {
          "description": "The id of the tag the user code will emit to this output by; this should correspond to the tag of some SideInputInfo.",
          "type": "string"
        }
      }
    },
    "GetWorkerStacktracesRequest": {
      "description": "Request to get worker stacktraces from debug capture.",
      "id": "GetWorkerStacktracesRequest",
      "type": "object",
      "properties": {
        "workerId": {
          "type": "string",
          "description": "The worker for which to get stacktraces. The returned stacktraces will be for the SDK harness running on this worker."
        },
        "endTime": {
          "type": "string",
          "description": "The end time for the stacktrace query. The returned stacktraces will be a recent stack trace at or shortly before this time.",
          "format": "google-datetime"
        }
      }
    },
    "SendDebugCaptureRequest": {
      "id": "SendDebugCaptureRequest",
      "description": "Request to send encoded debug information. Next ID: 8",
      "type": "object",
      "properties": {
        "dataFormat": {
          "description": "Format for the data field above (id=5).",
          "enum": [
            "DATA_FORMAT_UNSPECIFIED",
            "RAW",
            "JSON",
            "ZLIB",
            "BROTLI"
          ],
          "enumDescriptions": [
            "Format unspecified, parsing is determined based upon page type and legacy encoding. (go/protodosdonts#do-include-an-unspecified-value-in-an-enum)",
            "Raw HTML string.",
            "JSON-encoded string.",
            "Websafe encoded zlib-compressed string.",
            "Websafe encoded brotli-compressed string."
          ],
          "type": "string"
        },
        "workerId": {
          "type": "string",
          "description": "The worker id, i.e., VM hostname."
        },
        "location": {
          "type": "string",
          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id."
        },
        "data": {
          "type": "string",
          "description": "The encoded debug information."
        },
        "componentId": {
          "description": "The internal component id for which debug information is sent.",
          "type": "string"
        }
      }
    },
    "ListJobMessagesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The token to obtain the next page of results if there are more.",
          "type": "string"
        },
        "autoscalingEvents": {
          "type": "array",
          "items": {
            "$ref": "AutoscalingEvent"
          },
          "description": "Autoscaling events in ascending timestamp order."
        },
        "jobMessages": {
          "items": {
            "$ref": "JobMessage"
          },
          "type": "array",
          "description": "Messages in ascending timestamp order."
        }
      },
      "type": "object",
      "id": "ListJobMessagesResponse",
      "description": "Response to a request to list job messages."
    },
    "SourceOperationResponse": {
      "type": "object",
      "properties": {
        "split": {
          "$ref": "SourceSplitResponse",
          "description": "A response to a request to split a source."
        },
        "getMetadata": {
          "description": "A response to a request to get metadata about a source.",
          "$ref": "SourceGetMetadataResponse"
        }
      },
      "description": "The result of a SourceOperationRequest, specified in ReportWorkItemStatusRequest.source_operation when the work item is completed.",
      "id": "SourceOperationResponse"
    },
    "SendDebugCaptureResponse": {
      "id": "SendDebugCaptureResponse",
      "type": "object",
      "properties": {},
      "description": "Response to a send capture request. nothing"
    },
    "StragglerDebuggingInfo": {
      "description": "Information useful for debugging a straggler. Each type will provide specialized debugging information relevant for a particular cause. The StragglerDebuggingInfo will be 1:1 mapping to the StragglerCause enum.",
      "id": "StragglerDebuggingInfo",
      "type": "object",
      "properties": {
        "hotKey": {
          "description": "Hot key debugging details.",
          "$ref": "HotKeyDebuggingInfo"
        }
      }
    },
    "KeyRangeLocation": {
      "description": "Location information for a specific key-range of a sharded computation. Currently we only support UTF-8 character splits to simplify encoding into JSON.",
      "type": "object",
      "id": "KeyRangeLocation",
      "properties": {
        "deliveryEndpoint": {
          "description": "The physical location of this range assignment to be used for streaming computation cross-worker message delivery.",
          "type": "string"
        },
        "start": {
          "type": "string",
          "description": "The start (inclusive) of the key range."
        },
        "deprecatedPersistentDirectory": {
          "type": "string",
          "deprecated": true,
          "description": "DEPRECATED. The location of the persistent state for this range, as a persistent directory in the worker local filesystem."
        },
        "dataDisk": {
          "description": "The name of the data disk where data for this range is stored. This name is local to the Google Cloud Platform project and uniquely identifies the disk within that project, for example \"myproject-1014-104817-4c2-harness-0-disk-1\".",
          "type": "string"
        },
        "end": {
          "description": "The end (exclusive) of the key range.",
          "type": "string"
        }
      }
    },
    "SendWorkerMessagesRequest": {
      "type": "object",
      "properties": {
        "location": {
          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job.",
          "type": "string"
        },
        "workerMessages": {
          "type": "array",
          "description": "The WorkerMessages to send.",
          "items": {
            "$ref": "WorkerMessage"
          }
        }
      },
      "description": "A request for sending worker messages to the service.",
      "id": "SendWorkerMessagesRequest"
    },
    "Snapshot": {
      "type": "object",
      "properties": {
        "sourceJobId": {
          "description": "The job this snapshot was created from.",
          "type": "string"
        },
        "region": {
          "description": "Cloud region where this snapshot lives in, e.g., \"us-central1\".",
          "type": "string"
        },
        "state": {
          "description": "State of the snapshot.",
          "enumDescriptions": [
            "Unknown state.",
            "Snapshot intent to create has been persisted, snapshotting of state has not yet started.",
            "Snapshotting is being performed.",
            "Snapshot has been created and is ready to be used.",
            "Snapshot failed to be created.",
            "Snapshot has been deleted."
          ],
          "enum": [
            "UNKNOWN_SNAPSHOT_STATE",
            "PENDING",
            "RUNNING",
            "READY",
            "FAILED",
            "DELETED"
          ],
          "type": "string"
        },
        "id": {
          "description": "The unique ID of this snapshot.",
          "type": "string"
        },
        "diskSizeBytes": {
          "type": "string",
          "description": "The disk byte size of the snapshot. Only available for snapshots in READY state.",
          "format": "int64"
        },
        "ttl": {
          "description": "The time after which this snapshot will be automatically deleted.",
          "format": "google-duration",
          "type": "string"
        },
        "projectId": {
          "type": "string",
          "description": "The project this snapshot belongs to."
        },
        "description": {
          "description": "User specified description of the snapshot. Maybe empty.",
          "type": "string"
        },
        "creationTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time this snapshot was created."
        },
        "pubsubMetadata": {
          "items": {
            "$ref": "PubsubSnapshotMetadata"
          },
          "description": "Pub/Sub snapshot metadata.",
          "type": "array"
        }
      },
      "description": "Represents a snapshot of a job.",
      "id": "Snapshot"
    },
    "StragglerSummary": {
      "properties": {
        "recentStragglers": {
          "description": "The most recent stragglers.",
          "items": {
            "$ref": "Straggler"
          },
          "type": "array"
        },
        "stragglerCauseCount": {
          "additionalProperties": {
            "format": "int64",
            "type": "string"
          },
          "type": "object",
          "description": "Aggregated counts of straggler causes, keyed by the string representation of the StragglerCause enum."
        },
        "totalStragglerCount": {
          "description": "The total count of stragglers.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "id": "StragglerSummary",
      "description": "Summarized straggler identification details."
    },
    "ContainerSpec": {
      "description": "Container Spec.",
      "type": "object",
      "id": "ContainerSpec",
      "properties": {
        "imageRepositoryPasswordSecretId": {
          "description": "Secret Manager secret id for password to authenticate to private registry.",
          "type": "string"
        },
        "defaultEnvironment": {
          "$ref": "FlexTemplateRuntimeEnvironment",
          "description": "Default runtime environment for the job."
        },
        "sdkInfo": {
          "description": "Required. SDK info of the Flex Template.",
          "$ref": "SDKInfo"
        },
        "imageRepositoryUsernameSecretId": {
          "description": "Secret Manager secret id for username to authenticate to private registry.",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata describing a template including description and validation rules.",
          "$ref": "TemplateMetadata"
        },
        "image": {
          "description": "Name of the docker container image. E.g., gcr.io/project/some-image",
          "type": "string"
        },
        "imageRepositoryCertPath": {
          "type": "string",
          "description": "Cloud Storage path to self-signed certificate of private registry."
        }
      }
    },
    "GetTemplateResponse": {
      "id": "GetTemplateResponse",
      "properties": {
        "runtimeMetadata": {
          "description": "Describes the runtime metadata with SDKInfo and available parameters.",
          "$ref": "RuntimeMetadata"
        },
        "templateType": {
          "type": "string",
          "enum": [
            "UNKNOWN",
            "LEGACY",
            "FLEX"
          ],
          "enumDescriptions": [
            "Unknown Template Type.",
            "Legacy Template.",
            "Flex Template."
          ],
          "description": "Template Type."
        },
        "metadata": {
          "description": "The template metadata describing the template name, available parameters, etc.",
          "$ref": "TemplateMetadata"
        },
        "status": {
          "description": "The status of the get template request. Any problems with the request will be indicated in the error_details.",
          "$ref": "Status"
        }
      },
      "type": "object",
      "description": "The response to a GetTemplate request."
    },
    "MetricUpdate": {
      "description": "Describes the state of a metric.",
      "id": "MetricUpdate",
      "type": "object",
      "properties": {
        "internal": {
          "description": "Worker-computed aggregate value for internal use by the Dataflow service.",
          "type": "any"
        },
        "cumulative": {
          "description": "True if this metric is reported as the total cumulative aggregate value accumulated since the worker started working on this WorkItem. By default this is false, indicating that this metric is reported as a delta that is not associated with any WorkItem.",
          "type": "boolean"
        },
        "set": {
          "description": "Worker-computed aggregate value for the \"Set\" aggregation kind. The only possible value type is a list of Values whose type can be Long, Double, String, or BoundedTrie according to the metric's type. All Values in the list must be of the same type.",
          "type": "any"
        },
        "gauge": {
          "description": "A struct value describing properties of a Gauge. Metrics of gauge type show the value of a metric across time, and is aggregated based on the newest value.",
          "type": "any"
        },
        "trie": {
          "description": "Worker-computed aggregate value for the \"Trie\" aggregation kind. The only possible value type is a BoundedTrieNode.",
          "type": "any"
        },
        "meanSum": {
          "type": "any",
          "description": "Worker-computed aggregate value for the \"Mean\" aggregation kind. This holds the sum of the aggregated values and is used in combination with mean_count below to obtain the actual mean aggregate value. The only possible value types are Long and Double."
        },
        "name": {
          "$ref": "MetricStructuredName",
          "description": "Name of the metric."
        },
        "scalar": {
          "description": "Worker-computed aggregate value for aggregation kinds \"Sum\", \"Max\", \"Min\", \"And\", and \"Or\". The possible value types are Long, Double, and Boolean.",
          "type": "any"
        },
        "kind": {
          "type": "string",
          "description": "Metric aggregation kind. The possible metric aggregation kinds are \"Sum\", \"Max\", \"Min\", \"Mean\", \"Set\", \"And\", \"Or\", and \"Distribution\". The specified aggregation kind is case-insensitive. If omitted, this is not an aggregated value but instead a single metric sample value."
        },
        "meanCount": {
          "description": "Worker-computed aggregate value for the \"Mean\" aggregation kind. This holds the count of the aggregated values and is used in combination with mean_sum above to obtain the actual mean aggregate value. The only possible value type is Long.",
          "type": "any"
        },
        "updateTime": {
          "description": "Timestamp associated with the metric value. Optional when workers are reporting work progress; it will be filled in responses from the metrics API.",
          "format": "google-datetime",
          "type": "string"
        },
        "boundedTrie": {
          "description": "Worker-computed aggregate value for the \"Trie\" aggregation kind. The only possible value type is a BoundedTrieNode. Introduced this field to avoid breaking older SDKs when Dataflow service starts to populate the `bounded_trie` field.",
          "type": "any"
        },
        "distribution": {
          "description": "A struct value describing properties of a distribution of numeric values.",
          "type": "any"
        }
      }
    },
    "ComponentSource": {
      "id": "ComponentSource",
      "type": "object",
      "description": "Description of an interstitial value between transforms in an execution stage.",
      "properties": {
        "userName": {
          "type": "string",
          "description": "Human-readable name for this transform; may be user or system generated."
        },
        "name": {
          "description": "Dataflow service generated name for this source.",
          "type": "string"
        },
        "originalTransformOrCollection": {
          "description": "User name for the original user transform or collection with which this source is most closely associated.",
          "type": "string"
        }
      }
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {},
      "id": "Empty"
    },
    "FloatingPointMean": {
      "properties": {
        "sum": {
          "description": "The sum of all values being aggregated.",
          "format": "double",
          "type": "number"
        },
        "count": {
          "$ref": "SplitInt64",
          "description": "The number of values being aggregated."
        }
      },
      "type": "object",
      "id": "FloatingPointMean",
      "description": "A representation of a floating point mean metric contribution."
    },
    "SourceSplitShard": {
      "id": "SourceSplitShard",
      "type": "object",
      "properties": {
        "derivationMode": {
          "description": "DEPRECATED",
          "enumDescriptions": [
            "The source derivation is unknown, or unspecified.",
            "Produce a completely independent Source with no base.",
            "Produce a Source based on the Source being split.",
            "Produce a Source based on the base of the Source being split."
          ],
          "type": "string",
          "enum": [
            "SOURCE_DERIVATION_MODE_UNKNOWN",
            "SOURCE_DERIVATION_MODE_INDEPENDENT",
            "SOURCE_DERIVATION_MODE_CHILD_OF_CURRENT",
            "SOURCE_DERIVATION_MODE_SIBLING_OF_CURRENT"
          ]
        },
        "source": {
          "description": "DEPRECATED",
          "$ref": "Source"
        }
      },
      "description": "DEPRECATED in favor of DerivedSource."
    },
    "Package": {
      "id": "Package",
      "properties": {
        "location": {
          "description": "The resource to read the package from. The supported resource type is: Google Cloud Storage: storage.googleapis.com/{bucket} bucket.storage.googleapis.com/",
          "type": "string"
        },
        "sha256": {
          "description": "Optional. The hex-encoded SHA256 checksum of the package. If the checksum is provided, the worker will verify the checksum of the package before using it. If the checksum does not match, the worker will fail to start.",
          "type": "string"
        },
        "name": {
          "description": "The name of the package.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The packages that must be installed in order for a worker to run the steps of the Cloud Dataflow job that will be assigned to its worker pool. This is the mechanism by which the Cloud Dataflow SDK causes code to be loaded onto the workers. For example, the Cloud Dataflow Java SDK might use this to install jars containing the user's code and all of the various dependencies (libraries, data files, etc.) required in order for that code to run."
    },
    "InstructionOutput": {
      "properties": {
        "originalName": {
          "type": "string",
          "description": "System-defined name for this output in the original workflow graph. Outputs that do not contribute to an original instruction do not set this."
        },
        "codec": {
          "description": "The codec to use to encode data being written via this output.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "name": {
          "description": "The user-provided name of this output.",
          "type": "string"
        },
        "systemName": {
          "type": "string",
          "description": "System-defined name of this output. Unique across the workflow."
        },
        "onlyCountKeyBytes": {
          "description": "For system-generated byte and mean byte metrics, certain instructions should only report the key size.",
          "type": "boolean"
        },
        "onlyCountValueBytes": {
          "type": "boolean",
          "description": "For system-generated byte and mean byte metrics, certain instructions should only report the value size."
        }
      },
      "type": "object",
      "description": "An output of an instruction.",
      "id": "InstructionOutput"
    },
    "Job": {
      "description": "Defines a job to be run by the Cloud Dataflow service. Do not enter confidential information when you supply string values using the API.",
      "type": "object",
      "id": "Job",
      "properties": {
        "stepsLocation": {
          "type": "string",
          "description": "The Cloud Storage location where the steps are stored."
        },
        "pausable": {
          "description": "Output only. Indicates whether the job can be paused.",
          "type": "boolean",
          "readOnly": true
        },
        "id": {
          "description": "The unique ID of this job. This field is set by the Dataflow service when the job is created, and is immutable for the life of the job.",
          "type": "string"
        },
        "stageStates": {
          "type": "array",
          "description": "This field may be mutated by the Cloud Dataflow service; callers cannot mutate it.",
          "items": {
            "$ref": "ExecutionStageState"
          }
        },
        "createdFromSnapshotId": {
          "type": "string",
          "description": "If this is specified, the job's initial state is populated from the given snapshot."
        },
        "name": {
          "description": "Optional. The user-specified Dataflow job name. Only one active job with a given name can exist in a project within one region at any given time. Jobs in different regions can have the same name. If a caller attempts to create a job with the same name as an active job that already exists, the attempt returns the existing job. The name must match the regular expression `[a-z]([-a-z0-9]{0,1022}[a-z0-9])?`",
          "type": "string"
        },
        "pipelineDescription": {
          "description": "Preliminary field: The format of this data may change at any time. A description of the user pipeline and stages through which it is executed. Created by Cloud Dataflow service. Only retrieved with JOB_VIEW_DESCRIPTION or JOB_VIEW_ALL.",
          "$ref": "PipelineDescription"
        },
        "environment": {
          "description": "Optional. The environment for the job.",
          "$ref": "Environment"
        },
        "tempFiles": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A set of files the system should be aware of that are used for temporary storage. These temporary files will be removed on job completion. No duplicates are allowed. No file patterns are supported. The supported files are: Google Cloud Storage: storage.googleapis.com/{bucket}/{object} bucket.storage.googleapis.com/{object}"
        },
        "requestedState": {
          "type": "string",
          "enum": [
            "JOB_STATE_UNKNOWN",
            "JOB_STATE_STOPPED",
            "JOB_STATE_RUNNING",
            "JOB_STATE_DONE",
            "JOB_STATE_FAILED",
            "JOB_STATE_CANCELLED",
            "JOB_STATE_UPDATED",
            "JOB_STATE_DRAINING",
            "JOB_STATE_DRAINED",
            "JOB_STATE_PENDING",
            "JOB_STATE_CANCELLING",
            "JOB_STATE_QUEUED",
            "JOB_STATE_RESOURCE_CLEANING_UP",
            "JOB_STATE_PAUSING",
            "JOB_STATE_PAUSED"
          ],
          "description": "The job's requested state. Applies to `UpdateJob` requests. Set `requested_state` with `UpdateJob` requests to switch between the states `JOB_STATE_STOPPED` and `JOB_STATE_RUNNING`. You can also use `UpdateJob` requests to change a job's state from `JOB_STATE_RUNNING` to `JOB_STATE_CANCELLED`, `JOB_STATE_DONE`, or `JOB_STATE_DRAINED`. These states irrevocably terminate the job if it hasn't already reached a terminal state. This field has no effect on `CreateJob` requests.",
          "enumDescriptions": [
            "The job's run state isn't specified.",
            "`JOB_STATE_STOPPED` indicates that the job has not yet started to run.",
            "`JOB_STATE_RUNNING` indicates that the job is currently running.",
            "`JOB_STATE_DONE` indicates that the job has successfully completed. This is a terminal job state. This state may be set by the Cloud Dataflow service, as a transition from `JOB_STATE_RUNNING`. It may also be set via a Cloud Dataflow `UpdateJob` call, if the job has not yet reached a terminal state.",
            "`JOB_STATE_FAILED` indicates that the job has failed. This is a terminal job state. This state may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_RUNNING`.",
            "`JOB_STATE_CANCELLED` indicates that the job has been explicitly cancelled. This is a terminal job state. This state may only be set via a Cloud Dataflow `UpdateJob` call, and only if the job has not yet reached another terminal state.",
            "`JOB_STATE_UPDATED` indicates that the job was successfully updated, meaning that this job was stopped and another job was started, inheriting state from this one. This is a terminal job state. This state may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_RUNNING`.",
            "`JOB_STATE_DRAINING` indicates that the job is in the process of draining. A draining job has stopped pulling from its input sources and is processing any data that remains in-flight. This state may be set via a Cloud Dataflow `UpdateJob` call, but only as a transition from `JOB_STATE_RUNNING`. Jobs that are draining may only transition to `JOB_STATE_DRAINED`, `JOB_STATE_CANCELLED`, or `JOB_STATE_FAILED`.",
            "`JOB_STATE_DRAINED` indicates that the job has been drained. A drained job terminated by stopping pulling from its input sources and processing any data that remained in-flight when draining was requested. This state is a terminal state, may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_DRAINING`.",
            "`JOB_STATE_PENDING` indicates that the job has been created but is not yet running. Jobs that are pending may only transition to `JOB_STATE_RUNNING`, or `JOB_STATE_FAILED`.",
            "`JOB_STATE_CANCELLING` indicates that the job has been explicitly cancelled and is in the process of stopping. Jobs that are cancelling may only transition to `JOB_STATE_CANCELLED` or `JOB_STATE_FAILED`.",
            "`JOB_STATE_QUEUED` indicates that the job has been created but is being delayed until launch. Jobs that are queued may only transition to `JOB_STATE_PENDING` or `JOB_STATE_CANCELLED`.",
            "`JOB_STATE_RESOURCE_CLEANING_UP` indicates that the batch job's associated resources are currently being cleaned up after a successful run. Currently, this is an opt-in feature, please reach out to Cloud support team if you are interested.",
            "`JOB_STATE_PAUSING` indicates that the job is in the process of pausing. A pausing job will stop processing, archive in-flight Shuffle data, and transition to `JOB_STATE_PAUSED`. Jobs in this state can transition to `JOB_STATE_CANCELLING` if cancellation is requested, or can transition back to `JOB_STATE_RUNNING` if the pause fails to complete.",
            "`JOB_STATE_PAUSED` indicates that the job is not currently processing. Jobs in this state can transition back to `JOB_STATE_RUNNING` to continue processing where they left off, or can transition to `JOB_STATE_CANCELLING` if cancellation is requested."
          ]
        },
        "jobMetadata": {
          "$ref": "JobMetadata",
          "description": "This field is populated by the Dataflow service to support filtering jobs by the metadata values provided here. Populated for ListJobs and all GetJob views SUMMARY and higher."
        },
        "currentState": {
          "description": "The current state of the job. Jobs are created in the `JOB_STATE_STOPPED` state unless otherwise specified. A job in the `JOB_STATE_RUNNING` state may asynchronously enter a terminal state. After a job has reached a terminal state, no further state updates may be made. This field might be mutated by the Dataflow service; callers cannot mutate it.",
          "enumDescriptions": [
            "The job's run state isn't specified.",
            "`JOB_STATE_STOPPED` indicates that the job has not yet started to run.",
            "`JOB_STATE_RUNNING` indicates that the job is currently running.",
[...]
