{
  "batchPath": "batch",
  "documentationLink": "https://cloud.google.com/dataflow",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "rootUrl": "https://dataflow.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "title": "Dataflow API",
  "mtlsRootUrl": "https://dataflow.mtls.googleapis.com/",
  "revision": "20260805",
  "parameters": {
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    }
  },
  "description": "Manages Google Cloud Dataflow projects on Google Cloud Platform.",
  "version": "v1b3",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/compute": {
          "description": "View and manage your Google Compute Engine resources"
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "servicePath": "",
  "basePath": "",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "ownerName": "Google",
  "id": "dataflow:v1b3",
  "canonicalName": "Dataflow",
  "baseUrl": "https://dataflow.googleapis.com/",
  "schemas": {
    "WorkItemDetails": {
      "id": "WorkItemDetails",
      "properties": {
        "attemptId": {
          "type": "string",
          "description": "Attempt ID of this work item"
        },
        "progress": {
          "description": "Progress of this work item.",
          "$ref": "ProgressTimeseries"
        },
        "metrics": {
          "description": "Metrics for this work item.",
          "items": {
            "$ref": "MetricUpdate"
          },
          "type": "array"
        },
        "state": {
          "enum": [
            "EXECUTION_STATE_UNKNOWN",
            "EXECUTION_STATE_NOT_STARTED",
            "EXECUTION_STATE_RUNNING",
            "EXECUTION_STATE_SUCCEEDED",
            "EXECUTION_STATE_FAILED",
            "EXECUTION_STATE_CANCELLED"
          ],
          "description": "State of this work item.",
          "enumDescriptions": [
            "The component state is unknown or unspecified.",
            "The component is not yet running.",
            "The component is currently running.",
            "The component succeeded.",
            "The component failed.",
            "Execution of the component was cancelled."
          ],
          "type": "string"
        },
        "stragglerInfo": {
          "description": "Information about straggler detections for this work item.",
          "$ref": "StragglerInfo"
        },
        "taskId": {
          "type": "string",
          "description": "Name of this work item."
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Start time of this work item attempt."
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "End time of this work item attempt. If the work item is completed, this is the actual end time of the work item. Otherwise, it is the predicted end time."
        }
      },
      "description": "Information about an individual work item execution.",
      "type": "object"
    },
    "BigTableIODetails": {
      "id": "BigTableIODetails",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "ProjectId accessed in the connection."
        },
        "tableId": {
          "type": "string",
          "description": "TableId accessed in the connection."
        },
        "instanceId": {
          "description": "InstanceId accessed in the connection.",
          "type": "string"
        }
      },
      "description": "Metadata for a Cloud Bigtable connector used by the job.",
      "type": "object"
    },
    "Environment": {
      "id": "Environment",
      "properties": {
        "dataset": {
          "description": "Optional. The dataset for the current project where various workflow related tables are stored. The supported resource type is: Google BigQuery: bigquery.googleapis.com/{dataset}",
          "type": "string"
        },
        "experiments": {
          "type": "array",
          "description": "The list of experiments to enable. This field should be used for SDK related experiments and not for service related experiments. The proper field for service related experiments is service_options.",
          "items": {
            "type": "string"
          }
        },
        "debugOptions": {
          "description": "Optional. Any debugging options to be supplied to the job.",
          "$ref": "DebugOptions"
        },
        "userAgent": {
          "type": "object",
          "description": "Optional. A description of the process that generated the request.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "version": {
          "description": "A structure describing which components and their versions of the service are required in order to run the job.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "internalExperiments": {
          "type": "object",
          "description": "Experimental settings.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "serviceAccountEmail": {
          "type": "string",
          "description": "Optional. Identity to run virtual machines as. Defaults to the default account."
        },
        "tempStoragePrefix": {
          "description": "The prefix of the resources the system should use for temporary storage. The system will append the suffix \"/temp-{JOBNAME} to this resource prefix, where {JOBNAME} is the value of the job_name field. The resulting bucket and object prefix is used as the prefix of the resources used to store temporary data needed during the job execution. NOTE: This will override the value in taskrunner_settings. The supported resource type is: Google Cloud Storage: storage.googleapis.com/{bucket}/{object} bucket.storage.googleapis.com/{object}",
          "type": "string"
        },
        "sdkPipelineOptions": {
          "type": "object",
          "description": "The Cloud Dataflow SDK pipeline options specified by the user. These options are passed through the service and are used to recreate the SDK pipeline options on the worker in a language agnostic and platform independent way.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "useStreamingEngineResourceBasedBilling": {
          "description": "Output only. Whether the job uses the Streaming Engine resource-based billing model.",
          "readOnly": true,
          "type": "boolean"
        },
        "workerPools": {
          "description": "The worker pools. At least one \"harness\" worker pool must be specified in order for the job to have workers.",
          "items": {
            "$ref": "WorkerPool"
          },
          "type": "array"
        },
        "usePublicIps": {
          "type": "boolean",
          "description": "Optional. True when any worker pool that uses public IPs is present."
        },
        "serviceKmsKeyName": {
          "type": "string",
          "description": "Optional. If set, contains the Cloud KMS key identifier used to encrypt data at rest, AKA a Customer Managed Encryption Key (CMEK). Format: projects/PROJECT_ID/locations/LOCATION/keyRings/KEY_RING/cryptoKeys/KEY"
        },
        "workerZone": {
          "type": "string",
          "description": "Optional. The Compute Engine zone (https://cloud.google.com/compute/docs/regions-zones/regions-zones) in which worker processing should occur, e.g. \"us-west1-a\". Mutually exclusive with worker_region. If neither worker_region nor worker_zone is specified, a zone in the control plane's region is chosen based on available capacity."
        },
        "serviceOptions": {
          "description": "Optional. The list of service options to enable. This field should be used for service related experiments only. These experiments, when graduating to GA, should be replaced by dedicated fields or become default (i.e. always on).",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "streamingMode": {
          "enum": [
            "STREAMING_MODE_UNSPECIFIED",
            "STREAMING_MODE_EXACTLY_ONCE",
            "STREAMING_MODE_AT_LEAST_ONCE"
          ],
          "description": "Optional. Specifies the Streaming Engine message processing guarantees. Reduces cost and latency but might result in duplicate messages committed to storage. Designed to run simple mapping streaming ETL jobs at the lowest cost. For example, Change Data Capture (CDC) to BigQuery is a canonical use case. For more information, see [Set the pipeline streaming mode](https://cloud.google.com/dataflow/docs/guides/streaming-modes).",
          "enumDescriptions": [
            "Run in the default mode.",
            "In this mode, message deduplication is performed against persistent state to make sure each message is processed and committed to storage exactly once.",
            "Message deduplication is not performed. Messages might be processed multiple times, and the results are applied multiple times. Note: Setting this value also enables Streaming Engine and Streaming Engine resource-based billing."
          ],
          "type": "string"
        },
        "flexResourceSchedulingGoal": {
          "type": "string",
          "description": "Optional. Which Flexible Resource Scheduling mode to run in.",
          "enumDescriptions": [
            "Run in the default mode.",
            "Optimize for lower execution time.",
            "Optimize for lower cost."
          ],
          "enum": [
            "FLEXRS_UNSPECIFIED",
            "FLEXRS_SPEED_OPTIMIZED",
            "FLEXRS_COST_OPTIMIZED"
          ]
        },
        "workerRegion": {
          "type": "string",
          "description": "Optional. The Compute Engine region (https://cloud.google.com/compute/docs/regions-zones/regions-zones) in which worker processing should occur, e.g. \"us-west1\". Mutually exclusive with worker_zone. If neither worker_region nor worker_zone is specified, default to the control plane's region."
        },
        "clusterManagerApiService": {
          "type": "string",
          "description": "The type of cluster manager API to use. If unknown or unspecified, the service will attempt to choose a reasonable default. This should be in the form of the API service name, e.g. \"compute.googleapis.com\"."
        },
        "shuffleMode": {
          "enum": [
            "SHUFFLE_MODE_UNSPECIFIED",
            "VM_BASED",
            "SERVICE_BASED"
          ],
          "description": "Output only. The shuffle mode used for the job.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Shuffle mode information is not available.",
            "Shuffle is done on the worker VMs.",
            "Shuffle is done on the service side."
          ]
        }
      },
      "description": "Describes the environment in which a Dataflow Job runs.",
      "type": "object"
    },
    "IntegerList": {
      "description": "A metric value representing a list of integers.",
      "type": "object",
      "id": "IntegerList",
      "properties": {
        "elements": {
          "description": "Elements of the list.",
          "items": {
            "$ref": "SplitInt64"
          },
          "type": "array"
        }
      }
    },
    "FlattenInstruction": {
      "id": "FlattenInstruction",
      "properties": {
        "inputs": {
          "description": "Describes the inputs to the flatten instruction.",
          "items": {
            "$ref": "InstructionInput"
          },
          "type": "array"
        }
      },
      "description": "An instruction that copies its inputs (zero or more) to its (single) output.",
      "type": "object"
    },
    "InstructionOutput": {
      "description": "An output of an instruction.",
      "type": "object",
      "id": "InstructionOutput",
      "properties": {
        "originalName": {
          "type": "string",
          "description": "System-defined name for this output in the original workflow graph. Outputs that do not contribute to an original instruction do not set this."
        },
        "name": {
          "description": "The user-provided name of this output.",
          "type": "string"
        },
        "codec": {
          "type": "object",
          "description": "The codec to use to encode data being written via this output.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "onlyCountValueBytes": {
          "type": "boolean",
          "description": "For system-generated byte and mean byte metrics, certain instructions should only report the value size."
        },
        "onlyCountKeyBytes": {
          "type": "boolean",
          "description": "For system-generated byte and mean byte metrics, certain instructions should only report the key size."
        },
        "systemName": {
          "type": "string",
          "description": "System-defined name of this output. Unique across the workflow."
        }
      }
    },
    "DeleteSnapshotResponse": {
      "id": "DeleteSnapshotResponse",
      "properties": {},
      "type": "object",
      "description": "Response from deleting a snapshot."
    },
    "ListJobMessagesResponse": {
      "id": "ListJobMessagesResponse",
      "properties": {
        "jobMessages": {
          "description": "Messages in ascending timestamp order.",
          "items": {
            "$ref": "JobMessage"
          },
          "type": "array"
        },
        "autoscalingEvents": {
          "type": "array",
          "description": "Autoscaling events in ascending timestamp order.",
          "items": {
            "$ref": "AutoscalingEvent"
          }
        },
        "nextPageToken": {
          "description": "The token to obtain the next page of results if there are more.",
          "type": "string"
        }
      },
      "description": "Response to a request to list job messages.",
      "type": "object"
    },
    "ParameterMetadata": {
      "id": "ParameterMetadata",
      "properties": {
        "enumOptions": {
          "type": "array",
          "description": "Optional. The options shown when ENUM ParameterType is specified.",
          "items": {
            "$ref": "ParameterMetadataEnumOption"
          }
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the parameter."
        },
        "helpText": {
          "description": "Required. The help text to display for the parameter.",
          "type": "string"
        },
        "paramType": {
          "enum": [
            "DEFAULT",
            "TEXT",
            "GCS_READ_BUCKET",
            "GCS_WRITE_BUCKET",
            "GCS_READ_FILE",
            "GCS_WRITE_FILE",
            "GCS_READ_FOLDER",
            "GCS_WRITE_FOLDER",
            "PUBSUB_TOPIC",
            "PUBSUB_SUBSCRIPTION",
            "BIGQUERY_TABLE",
            "JAVASCRIPT_UDF_FILE",
            "SERVICE_ACCOUNT",
            "MACHINE_TYPE",
            "KMS_KEY_NAME",
            "WORKER_REGION",
            "WORKER_ZONE",
            "BOOLEAN",
            "ENUM",
            "NUMBER",
            "KAFKA_TOPIC",
            "KAFKA_READ_TOPIC",
            "KAFKA_WRITE_TOPIC"
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false
          ],
          "type": "string",
          "description": "Optional. The type of the parameter. Used for selecting input picker.",
          "enumDescriptions": [
            "Default input type.",
            "The parameter specifies generic text input.",
            "The parameter specifies a Cloud Storage Bucket to read from.",
            "The parameter specifies a Cloud Storage Bucket to write to.",
            "The parameter specifies a Cloud Storage file path to read from.",
            "The parameter specifies a Cloud Storage file path to write to.",
            "The parameter specifies a Cloud Storage folder path to read from.",
            "The parameter specifies a Cloud Storage folder to write to.",
            "The parameter specifies a Pub/Sub Topic.",
            "The parameter specifies a Pub/Sub Subscription.",
            "The parameter specifies a BigQuery table.",
            "The parameter specifies a JavaScript UDF in Cloud Storage.",
            "The parameter specifies a Service Account email.",
            "The parameter specifies a Machine Type.",
            "The parameter specifies a KMS Key name.",
            "The parameter specifies a Worker Region.",
            "The parameter specifies a Worker Zone.",
            "The parameter specifies a boolean input.",
            "The parameter specifies an enum input.",
            "The parameter specifies a number input.",
            "Deprecated. Please use KAFKA_READ_TOPIC instead.",
            "The parameter specifies the fully-qualified name of an Apache Kafka topic. This can be either a Google Managed Kafka topic or a non-managed Kafka topic.",
            "The parameter specifies the fully-qualified name of an Apache Kafka topic. This can be an existing Google Managed Kafka topic, the name for a new Google Managed Kafka topic, or an existing non-managed Kafka topic."
          ]
        },
        "hiddenUi": {
          "description": "Optional. Whether the parameter should be hidden in the UI.",
          "type": "boolean"
        },
        "parentName": {
          "description": "Optional. Specifies the name of the parent parameter. Used in conjunction with 'parent_trigger_values' to make this parameter conditional (will only be rendered conditionally). Should be mappable to a ParameterMetadata.name field.",
          "type": "string"
        },
        "groupName": {
          "description": "Optional. Specifies a group name for this parameter to be rendered under. Group header text will be rendered exactly as specified in this field. Only considered when parent_name is NOT provided.",
          "type": "string"
        },
        "customMetadata": {
          "type": "object",
          "description": "Optional. Additional metadata for describing this parameter.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "regexes": {
          "type": "array",
          "description": "Optional. Regexes that the parameter must match.",
          "items": {
            "type": "string"
          }
        },
        "defaultValue": {
          "type": "string",
          "description": "Optional. The default values will pre-populate the parameter with the given value from the proto. If default_value is left empty, the parameter will be populated with a default of the relevant type, e.g. false for a boolean."
        },
        "parentTriggerValues": {
          "description": "Optional. The value(s) of the 'parent_name' parameter which will trigger this parameter to be shown. If left empty, ANY non-empty value in parent_name will trigger this parameter to be shown. Only considered when this parameter is conditional (when 'parent_name' has been provided).",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "isOptional": {
          "description": "Optional. Whether the parameter is optional. Defaults to false.",
          "type": "boolean"
        },
        "label": {
          "type": "string",
          "description": "Required. The label to display for the parameter."
        }
      },
      "description": "Metadata for a specific parameter.",
      "type": "object"
    },
    "PipelineDescription": {
      "id": "PipelineDescription",
      "properties": {
        "executionPipelineStage": {
          "type": "array",
          "description": "Description of each stage of execution of the pipeline.",
          "items": {
            "$ref": "ExecutionStageSummary"
          }
        },
        "stepNamesHash": {
          "description": "A hash value of the submitted pipeline portable graph step names if exists.",
          "type": "string"
        },
        "displayData": {
          "description": "Pipeline level display data.",
          "items": {
            "$ref": "DisplayData"
          },
          "type": "array"
        },
        "originalPipelineTransform": {
          "type": "array",
          "description": "Description of each transform in the pipeline and collections between them.",
          "items": {
            "$ref": "TransformSummary"
          }
        }
      },
      "type": "object",
      "description": "A descriptive representation of submitted pipeline as well as the executed form. This data is provided by the Dataflow service for ease of visualizing the pipeline and interpreting Dataflow provided metrics."
    },
    "WorkerShutdownNotice": {
      "id": "WorkerShutdownNotice",
      "properties": {
        "reason": {
          "description": "The reason for the worker shutdown. Current possible values are: \"UNKNOWN\": shutdown reason is unknown. \"PREEMPTION\": shutdown reason is preemption. Other possible reasons may be added in the future.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Shutdown notification from workers. This is to be sent by the shutdown script of the worker VM so that the backend knows that the VM is being shut down."
    },
    "MetricShortId": {
      "description": "The metric short id is returned to the user alongside an offset into ReportWorkItemStatusRequest",
      "type": "object",
      "id": "MetricShortId",
      "properties": {
        "shortId": {
          "type": "string",
          "format": "int64",
          "description": "The service-generated short identifier for the metric."
        },
        "metricIndex": {
          "description": "The index of the corresponding metric in the ReportWorkItemStatusRequest. Required.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "StageSource": {
      "type": "object",
      "description": "Description of an input or output of an execution stage.",
      "id": "StageSource",
      "properties": {
        "originalTransformOrCollection": {
          "type": "string",
          "description": "User name for the original user transform or collection with which this source is most closely associated."
        },
        "name": {
          "description": "Dataflow service generated name for this source.",
          "type": "string"
        },
        "sizeBytes": {
          "type": "string",
          "format": "int64",
          "description": "Size of the source, if measurable."
        },
        "userName": {
          "description": "Human-readable name for this source; may be user or system generated.",
          "type": "string"
        }
      }
    },
    "SdkVersion": {
      "description": "The version of the SDK used to run the job.",
      "type": "object",
      "id": "SdkVersion",
      "properties": {
        "sdkSupportStatus": {
          "enum": [
            "UNKNOWN",
            "SUPPORTED",
            "STALE",
            "DEPRECATED",
            "UNSUPPORTED"
          ],
          "description": "The support status for this SDK version.",
          "enumDescriptions": [
            "Cloud Dataflow is unaware of this version.",
            "This is a known version of an SDK, and is supported.",
            "A newer version of the SDK family exists, and an update is recommended.",
            "This version of the SDK is deprecated and will eventually be unsupported.",
            "Support for this SDK version has ended and it should no longer be used."
          ],
          "type": "string"
        },
        "version": {
          "description": "The version of the SDK used to run the job.",
          "type": "string"
        },
        "versionDisplayName": {
          "description": "A readable string describing the version of the SDK.",
          "type": "string"
        },
        "bugs": {
          "description": "Output only. Known bugs found in this SDK version.",
          "readOnly": true,
          "items": {
            "$ref": "SdkBug"
          },
          "type": "array"
        }
      }
    },
    "Histogram": {
      "description": "Histogram of value counts for a distribution. Buckets have an inclusive lower bound and exclusive upper bound and use \"1,2,5 bucketing\": The first bucket range is from [0,1) and all subsequent bucket boundaries are powers of ten multiplied by 1, 2, or 5. Thus, bucket boundaries are 0, 1, 2, 5, 10, 20, 50, 100, 200, 500, 1000, ... Negative values are not supported.",
      "type": "object",
      "id": "Histogram",
      "properties": {
        "bucketCounts": {
          "type": "array",
          "description": "Counts of values in each bucket. For efficiency, prefix and trailing buckets with count = 0 are elided. Buckets can store the full range of values of an unsigned long, with ULLONG_MAX falling into the 59th bucket with range [1e19, 2e19).",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "firstBucketOffset": {
          "description": "Starting index of first stored bucket. The non-inclusive upper-bound of the ith bucket is given by: pow(10,(i-first_bucket_offset)/3) * (1,2,5)[(i-first_bucket_offset)%3]",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ListSnapshotsResponse": {
      "id": "ListSnapshotsResponse",
      "properties": {
        "snapshots": {
          "description": "Returned snapshots.",
          "items": {
            "$ref": "Snapshot"
          },
          "type": "array"
        }
      },
      "description": "List of snapshots.",
      "type": "object"
    },
    "PerWorkerMetrics": {
      "id": "PerWorkerMetrics",
      "properties": {
        "perStepNamespaceMetrics": {
          "type": "array",
          "description": "Optional. Metrics for a particular unfused step and namespace.",
          "items": {
            "$ref": "PerStepNamespaceMetrics"
          }
        }
      },
      "description": "Per worker metrics.",
      "type": "object"
    },
    "StreamLocation": {
      "id": "StreamLocation",
      "properties": {
        "sideInputLocation": {
          "description": "The stream is a streaming side input.",
          "$ref": "StreamingSideInputLocation"
        },
        "customSourceLocation": {
          "description": "The stream is a custom source.",
          "$ref": "CustomSourceLocation"
        },
        "streamingStageLocation": {
          "description": "The stream is part of another computation within the current streaming Dataflow job.",
          "$ref": "StreamingStageLocation"
        },
        "pubsubLocation": {
          "description": "The stream is a pubsub stream.",
          "$ref": "PubsubLocation"
        }
      },
      "description": "Describes a stream of data, either as input to be processed or as output of a streaming Dataflow job.",
      "type": "object"
    },
    "JobExecutionInfo": {
      "id": "JobExecutionInfo",
      "properties": {
        "stages": {
          "description": "A mapping from each stage to the information about that stage.",
          "additionalProperties": {
            "$ref": "JobExecutionStageInfo"
          },
          "type": "object"
        }
      },
      "description": "Additional information about how a Cloud Dataflow job will be executed that isn't contained in the submitted job.",
      "type": "object"
    },
    "FailedLocation": {
      "description": "Indicates which [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) failed to respond to a request for data.",
      "type": "object",
      "id": "FailedLocation",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that failed to respond."
        }
      }
    },
    "CounterStructuredNameAndMetadata": {
      "id": "CounterStructuredNameAndMetadata",
      "properties": {
        "name": {
          "description": "Structured name of the counter.",
          "$ref": "CounterStructuredName"
        },
        "metadata": {
          "description": "Metadata associated with a counter",
          "$ref": "CounterMetadata"
        }
      },
      "description": "A single message which encapsulates structured name and metadata for a given counter.",
      "type": "object"
    },
    "StageSummary": {
      "type": "object",
      "description": "Information about a particular execution stage of a job.",
      "id": "StageSummary",
      "properties": {
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "End time of this stage. If the work item is completed, this is the actual end time of the stage. Otherwise, it is the predicted end time."
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Start time of this stage."
        },
        "state": {
          "enum": [
            "EXECUTION_STATE_UNKNOWN",
            "EXECUTION_STATE_NOT_STARTED",
            "EXECUTION_STATE_RUNNING",
            "EXECUTION_STATE_SUCCEEDED",
            "EXECUTION_STATE_FAILED",
            "EXECUTION_STATE_CANCELLED"
          ],
          "description": "State of this stage.",
          "enumDescriptions": [
            "The component state is unknown or unspecified.",
            "The component is not yet running.",
            "The component is currently running.",
            "The component succeeded.",
            "The component failed.",
            "Execution of the component was cancelled."
          ],
          "type": "string"
        },
        "stageId": {
          "type": "string",
          "description": "ID of this stage"
        },
        "progress": {
          "description": "Progress for this stage. Only applicable to Batch jobs.",
          "$ref": "ProgressTimeseries"
        },
        "metrics": {
          "description": "Metrics for this stage.",
          "items": {
            "$ref": "MetricUpdate"
          },
          "type": "array"
        },
        "stragglerSummary": {
          "description": "Straggler summary for this stage.",
          "$ref": "StragglerSummary"
        }
      }
    },
    "ParDoInstruction": {
      "type": "object",
      "description": "An instruction that does a ParDo operation. Takes one main input and zero or more side inputs, and produces zero or more outputs. Runs user code.",
      "id": "ParDoInstruction",
      "properties": {
        "userFn": {
          "description": "The user function to invoke.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "numOutputs": {
          "description": "The number of outputs.",
          "type": "integer",
          "format": "int32"
        },
        "sideInputs": {
          "type": "array",
          "description": "Zero or more side inputs.",
          "items": {
            "$ref": "SideInputInfo"
          }
        },
        "input": {
          "description": "The input.",
          "$ref": "InstructionInput"
        },
        "multiOutputInfos": {
          "type": "array",
          "description": "Information about each of the outputs, if user_fn is a MultiDoFn.",
          "items": {
            "$ref": "MultiOutputInfo"
          }
        }
      }
    },
    "SourceSplitOptions": {
      "type": "object",
      "description": "Hints for splitting a Source into bundles (parts for parallel processing) using SourceSplitRequest.",
      "id": "SourceSplitOptions",
      "properties": {
        "desiredBundleSizeBytes": {
          "description": "The source should be split into a set of bundles where the estimated size of each is approximately this many bytes.",
          "type": "string",
          "format": "int64"
        },
        "desiredShardSizeBytes": {
          "deprecated": true,
          "type": "string",
          "format": "int64",
          "description": "DEPRECATED in favor of desired_bundle_size_bytes."
        }
      }
    },
    "StreamingComputationRanges": {
      "id": "StreamingComputationRanges",
      "properties": {
        "computationId": {
          "type": "string",
          "description": "The ID of the computation."
        },
        "rangeAssignments": {
          "description": "Data disk assignments for ranges from this computation.",
          "items": {
            "$ref": "KeyRangeDataDiskAssignment"
          },
          "type": "array"
        }
      },
      "description": "Describes full or partial data disk assignment information of the computation ranges.",
      "type": "object"
    },
    "MountedDataDisk": {
      "type": "object",
      "description": "Describes mounted data disk.",
      "id": "MountedDataDisk",
      "properties": {
        "dataDisk": {
          "description": "The name of the data disk. This name is local to the Google Cloud Platform project and uniquely identifies the disk within that project, for example \"myproject-1014-104817-4c2-harness-0-disk-1\".",
          "type": "string"
        }
      }
    },
    "AutoscalingSettings": {
      "id": "AutoscalingSettings",
      "properties": {
        "algorithm": {
          "enum": [
            "AUTOSCALING_ALGORITHM_UNKNOWN",
            "AUTOSCALING_ALGORITHM_NONE",
            "AUTOSCALING_ALGORITHM_BASIC"
          ],
          "type": "string",
          "description": "The algorithm to use for autoscaling.",
          "enumDescriptions": [
            "The algorithm is unknown, or unspecified.",
            "Disable autoscaling.",
            "Increase worker count over time to reduce job execution time."
          ]
        },
        "maxNumWorkers": {
          "description": "The maximum number of workers to cap scaling at.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "Settings for WorkerPool autoscaling."
    },
    "WorkerPool": {
      "id": "WorkerPool",
      "properties": {
        "defaultPackageSet": {
          "description": "The default package set to install. This allows the service to select a default set of packages which are useful to worker harnesses written in a particular language.",
          "enumDescriptions": [
            "The default set of packages to stage is unknown, or unspecified.",
            "Indicates that no packages should be staged at the worker unless explicitly specified by the job.",
            "Stage packages typically useful to workers written in Java.",
            "Stage packages typically useful to workers written in Python."
          ],
          "type": "string",
          "enum": [
            "DEFAULT_PACKAGE_SET_UNKNOWN",
            "DEFAULT_PACKAGE_SET_NONE",
            "DEFAULT_PACKAGE_SET_JAVA",
            "DEFAULT_PACKAGE_SET_PYTHON"
          ]
        },
        "dataDisks": {
          "description": "Data disks that are used by a VM in this workflow.",
          "items": {
            "$ref": "Disk"
          },
          "type": "array"
        },
        "numWorkers": {
          "type": "integer",
          "format": "int32",
          "description": "Number of Google Compute Engine workers in this pool needed to execute the job. If zero or unspecified, the service will attempt to choose a reasonable default."
        },
        "subnetwork": {
          "type": "string",
          "description": "Subnetwork to which VMs will be assigned, if desired. Expected to be of the form \"regions/REGION/subnetworks/SUBNETWORK\"."
        },
        "numThreadsPerWorker": {
          "type": "integer",
          "format": "int32",
          "description": "The number of threads per worker harness. If empty or unspecified, the service will choose a number of threads (according to the number of cores on the selected machine type for batch, or 1 by convention for streaming)."
        },
        "diskProvisionedIops": {
          "type": "string",
          "format": "int64",
          "description": "Optional. IOPS provisioned for the root disk for VMs."
        },
        "zone": {
          "type": "string",
          "description": "Zone to run the worker pools in. If empty or unspecified, the service will attempt to choose a reasonable default."
        },
        "network": {
          "description": "Network to which VMs will be assigned. If empty or unspecified, the service will use the network \"default\".",
          "type": "string"
        },
        "sdkHarnessContainerImages": {
          "description": "Set of SDK harness containers needed to execute this pipeline. This will only be set in the Fn API path. For non-cross-language pipelines this should have only one entry. Cross-language pipelines will have two or more entries.",
          "items": {
            "$ref": "SdkHarnessContainerImage"
          },
          "type": "array"
        },
        "diskSourceImage": {
          "description": "Fully qualified source image for disks.",
          "type": "string"
        },
        "autoscalingSettings": {
          "description": "Settings for autoscaling of this WorkerPool.",
          "$ref": "AutoscalingSettings"
        },
        "packages": {
          "description": "Packages to be installed on workers.",
          "items": {
            "$ref": "Package"
          },
          "type": "array"
        },
        "workerHarnessContainerImage": {
          "description": "Required. Docker container image that executes the Cloud Dataflow worker harness, residing in Google Container Registry. Deprecated for the Fn API path. Use sdk_harness_container_images instead.",
          "type": "string"
        },
        "ipConfiguration": {
          "description": "Configuration for VM IPs.",
          "enumDescriptions": [
            "The configuration is unknown, or unspecified.",
            "Workers should have public IP addresses.",
            "Workers should have private IP addresses."
          ],
          "type": "string",
          "enum": [
            "WORKER_IP_UNSPECIFIED",
            "WORKER_IP_PUBLIC",
            "WORKER_IP_PRIVATE"
          ]
        },
        "teardownPolicy": {
          "type": "string",
          "description": "Sets the policy for determining when to turndown worker pool. Allowed values are: `TEARDOWN_ALWAYS`, `TEARDOWN_ON_SUCCESS`, and `TEARDOWN_NEVER`. `TEARDOWN_ALWAYS` means workers are always torn down regardless of whether the job succeeds. `TEARDOWN_ON_SUCCESS` means workers are torn down if the job succeeds. `TEARDOWN_NEVER` means the workers are never torn down. If the workers are not torn down by the service, they will continue to run and use Google Compute Engine VM resources in the user's project until they are explicitly terminated by the user. Because of this, Google recommends using the `TEARDOWN_ALWAYS` policy except for small, manually supervised test jobs. If unknown or unspecified, the service will attempt to choose a reasonable default.",
          "enumDescriptions": [
            "The teardown policy isn't specified, or is unknown.",
            "Always teardown the resource.",
            "Teardown the resource on success. This is useful for debugging failures.",
            "Never teardown the resource. This is useful for debugging and development."
          ],
          "enum": [
            "TEARDOWN_POLICY_UNKNOWN",
            "TEARDOWN_ALWAYS",
            "TEARDOWN_ON_SUCCESS",
            "TEARDOWN_NEVER"
          ]
        },
        "diskSizeGb": {
          "description": "Size of root disk for VMs, in GB. If zero or unspecified, the service will attempt to choose a reasonable default.",
          "type": "integer",
          "format": "int32"
        },
        "poolArgs": {
          "description": "Extra arguments for this worker pool.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "taskrunnerSettings": {
          "description": "Settings passed through to Google Compute Engine workers when using the standard Dataflow task runner. Users should ignore this field.",
          "$ref": "TaskRunnerSettings"
        },
        "onHostMaintenance": {
          "type": "string",
          "description": "The action to take on host maintenance, as defined by the Google Compute Engine API."
        },
        "diskProvisionedThroughputMibps": {
          "description": "Optional. Throughput provisioned for the root disk for VMs.",
          "type": "string",
          "format": "int64"
        },
        "diskType": {
          "type": "string",
          "description": "Type of root disk for VMs. If empty or unspecified, the service will attempt to choose a reasonable default."
        },
        "machineType": {
          "type": "string",
          "description": "Machine type (e.g. \"n1-standard-1\"). If empty or unspecified, the service will attempt to choose a reasonable default."
        },
        "metadata": {
          "type": "object",
          "description": "Metadata to set on the Google Compute Engine VMs.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "kind": {
          "description": "The kind of the worker pool; currently only `harness` and `shuffle` are supported.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Describes one particular pool of Cloud Dataflow workers to be instantiated by the Cloud Dataflow service in order to perform the computations required by a job. Note that a workflow job may use multiple pools, in order to match the various computational requirements of the various stages of the job."
    },
    "ServiceResources": {
      "id": "ServiceResources",
      "properties": {
        "zones": {
          "type": "array",
          "description": "Output only. List of Cloud Zones being used by the Dataflow Service for this job. Example: us-central1-c",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Resources used by the Dataflow Service to run the job."
    },
    "ConcatPosition": {
      "type": "object",
      "description": "A position that encapsulates an inner position and an index for the inner position. A ConcatPosition can be used by a reader of a source that encapsulates a set of other sources.",
      "id": "ConcatPosition",
      "properties": {
        "position": {
          "description": "Position within the inner source.",
          "$ref": "Position"
        },
        "index": {
          "description": "Index of the inner source.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ListJobsResponse": {
      "type": "object",
      "description": "Response to a request to list Cloud Dataflow jobs in a project. This might be a partial response, depending on the page size in the ListJobsRequest. However, if the project does not have any jobs, an instance of ListJobsResponse is not returned and the requests's response body is empty {}.",
      "id": "ListJobsResponse",
      "properties": {
        "nextPageToken": {
          "description": "Set if there may be more results than fit in this response.",
          "type": "string"
        },
        "jobs": {
          "description": "A subset of the requested job information.",
          "items": {
            "$ref": "Job"
          },
          "type": "array"
        },
        "failedLocation": {
          "type": "array",
          "description": "Zero or more messages describing the [regional endpoints] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that failed to respond.",
          "items": {
            "$ref": "FailedLocation"
          }
        }
      }
    },
    "TemplateMetadata": {
      "description": "Metadata describing a template.",
      "type": "object",
      "id": "TemplateMetadata",
      "properties": {
        "supportsAtLeastOnce": {
          "description": "Optional. Indicates if the streaming template supports at least once mode.",
          "type": "boolean"
        },
        "supportsExactlyOnce": {
          "type": "boolean",
          "description": "Optional. Indicates if the streaming template supports exactly once mode."
        },
        "parameters": {
          "description": "The parameters for the template.",
          "items": {
            "$ref": "ParameterMetadata"
          },
          "type": "array"
        },
        "streaming": {
          "description": "Optional. Indicates if the template is streaming or not.",
          "type": "boolean"
        },
        "defaultStreamingMode": {
          "type": "string",
          "description": "Optional. Indicates the default streaming mode for a streaming template. Only valid if both supports_at_least_once and supports_exactly_once are true. Possible values: UNSPECIFIED, EXACTLY_ONCE and AT_LEAST_ONCE"
        },
        "description": {
          "description": "Optional. A description of the template.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the template."
        },
        "yamlDefinition": {
          "description": "Optional. For future use.",
          "type": "string"
        }
      }
    },
    "JobMetrics": {
      "id": "JobMetrics",
      "properties": {
        "metrics": {
          "type": "array",
          "description": "All metrics for this job.",
          "items": {
            "$ref": "MetricUpdate"
          }
        },
        "metricTime": {
          "description": "Timestamp as of which metric values are current.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "description": "JobMetrics contains a collection of metrics describing the detailed progress of a Dataflow job. Metrics correspond to user-defined and system-defined metrics in the job. For more information, see [Dataflow job metrics] (https://cloud.google.com/dataflow/docs/guides/using-monitoring-intf). This resource captures only the most recent values of each metric; time-series data can be queried for them (under the same metric names) from Cloud Monitoring."
    },
    "BucketOptions": {
      "description": "`BucketOptions` describes the bucket boundaries used in the histogram.",
      "type": "object",
      "id": "BucketOptions",
      "properties": {
        "linear": {
          "description": "Bucket boundaries grow linearly.",
          "$ref": "Linear"
        },
        "exponential": {
          "description": "Bucket boundaries grow exponentially.",
          "$ref": "Base2Exponent"
        }
      }
    },
    "DataflowHistogramValue": {
      "id": "DataflowHistogramValue",
      "properties": {
        "bucketCounts": {
          "description": "Optional. The number of values in each bucket of the histogram, as described in `bucket_options`. `bucket_counts` should contain N values, where N is the number of buckets specified in `bucket_options`. If `bucket_counts` has fewer than N values, the remaining values are assumed to be 0.",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array"
        },
        "outlierStats": {
          "description": "Statistics on the values recorded in the histogram that fall out of the bucket boundaries.",
          "$ref": "OutlierStats"
        },
        "count": {
          "description": "Number of values recorded in this histogram.",
          "type": "string",
          "format": "int64"
        },
        "bucketOptions": {
          "description": "Describes the bucket boundaries used in the histogram.",
          "$ref": "BucketOptions"
        }
      },
      "description": "Summary statistics for a population of values. HistogramValue contains a sequence of buckets and gives a count of values that fall into each bucket. Bucket boundares are defined by a formula and bucket widths are either fixed or exponentially increasing.",
      "type": "object"
    },
    "StreamingComputationTask": {
      "id": "StreamingComputationTask",
      "properties": {
        "dataDisks": {
          "description": "Describes the set of data disks this task should apply to.",
          "items": {
            "$ref": "MountedDataDisk"
          },
          "type": "array"
        },
        "taskType": {
          "enum": [
            "STREAMING_COMPUTATION_TASK_UNKNOWN",
            "STREAMING_COMPUTATION_TASK_STOP",
            "STREAMING_COMPUTATION_TASK_START"
          ],
          "type": "string",
          "description": "A type of streaming computation task.",
          "enumDescriptions": [
            "The streaming computation task is unknown, or unspecified.",
            "Stop processing specified streaming computation range(s).",
            "Start processing specified streaming computation range(s)."
          ]
        },
        "computationRanges": {
          "type": "array",
          "description": "Contains ranges of a streaming computation this task should apply to.",
          "items": {
            "$ref": "StreamingComputationRanges"
          }
        }
      },
      "type": "object",
      "description": "A task which describes what action should be performed for the specified streaming computation ranges."
    },
    "GPUUtilization": {
      "id": "GPUUtilization",
      "properties": {
        "rate": {
          "description": "Required. GPU utilization rate of any kernel over the last sample period in the range of [0, 1].",
          "type": "number",
          "format": "double"
        }
      },
      "description": "Utilization details about the GPU.",
      "type": "object"
    },
    "SnapshotJobRequest": {
      "id": "SnapshotJobRequest",
      "properties": {
        "description": {
          "type": "string",
          "description": "User specified description of the snapshot. Maybe empty."
        },
        "ttl": {
          "type": "string",
          "format": "google-duration",
          "description": "TTL for the snapshot."
        },
        "location": {
          "type": "string",
          "description": "The location that contains this job."
        },
        "snapshotSources": {
          "description": "If true, perform snapshots for sources which support this.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Request to create a snapshot of a job."
    },
    "LeaseWorkItemRequest": {
      "id": "LeaseWorkItemRequest",
      "properties": {
        "workerCapabilities": {
          "type": "array",
          "description": "Worker capabilities. WorkItems might be limited to workers with specific capabilities.",
          "items": {
            "type": "string"
          }
        },
        "unifiedWorkerRequest": {
          "type": "object",
          "description": "Untranslated bag-of-bytes WorkRequest from UnifiedWorker.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "workItemTypes": {
          "description": "Filter for WorkItem type.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "projectNumber": {
          "type": "string",
          "format": "int64",
          "description": "Optional. The project number of the project this worker belongs to."
        },
        "workerId": {
          "type": "string",
          "description": "Identifies the worker leasing work -- typically the ID of the virtual machine running the worker."
        },
        "currentWorkerTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The current timestamp at the worker."
        },
        "requestedLeaseDuration": {
          "description": "The initial lease period.",
          "type": "string",
          "format": "google-duration"
        },
        "location": {
          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the WorkItem's job.",
          "type": "string"
        }
      },
      "description": "Request to lease WorkItems.",
      "type": "object"
    },
    "RuntimeUpdatableParams": {
      "id": "RuntimeUpdatableParams",
      "properties": {
        "acceptableBacklogDuration": {
          "deprecated": true,
          "description": "Optional. Deprecated: Use `latency_tier` instead. The backlog threshold duration in seconds for autoscaling. Value must be non-negative.",
          "type": "string",
          "format": "google-duration"
        },
        "maxNumWorkers": {
          "description": "The maximum number of workers to cap autoscaling at. This field is currently only supported for Streaming Engine jobs.",
          "type": "integer",
          "format": "int32"
        },
        "latencyTier": {
          "description": "Optional. The backlog threshold tier for autoscaling. Value must be one of \"low-latency\", \"medium-latency\", or \"high-latency\".",
          "type": "string"
        },
        "minNumWorkers": {
          "type": "integer",
          "format": "int32",
          "description": "The minimum number of workers to scale down to. This field is currently only supported for Streaming Engine jobs."
        },
        "workerUtilizationHint": {
          "type": "number",
          "format": "double",
          "description": "Target worker utilization, compared against the aggregate utilization of the worker pool by autoscaler, to determine upscaling and downscaling when absent other constraints such as backlog. For more information, see [Update an existing pipeline](https://cloud.google.com/dataflow/docs/guides/updating-a-pipeline)."
        },
        "autoscalingTier": {
          "description": "Optional. Deprecated: Use `latency_tier` instead. The backlog threshold tier for autoscaling. Value must be one of \"low-latency\", \"medium-latency\", or \"high-latency\".",
          "type": "string",
          "deprecated": true
        }
      },
      "type": "object",
      "description": "Additional job parameters that can only be updated during runtime using the projects.jobs.update method. These fields have no effect when specified during job creation."
    },
    "HotKeyInfo": {
      "id": "HotKeyInfo",
      "properties": {
        "keyTruncated": {
          "type": "boolean",
          "description": "If true, then the above key is truncated and cannot be deserialized. This occurs if the key above is populated and the key size is >5MB."
        },
        "hotKeyAge": {
          "type": "string",
          "format": "google-duration",
          "description": "The age of the hot key measured from when it was first detected."
        },
        "key": {
          "description": "A detected hot key that is causing limited parallelism. This field will be populated only if the following flag is set to true: \"--enable_hot_key_logging\".",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Information about a hot key."
    },
    "Step": {
      "type": "object",
      "description": "Defines a particular step within a Cloud Dataflow job. A job consists of multiple steps, each of which performs some specific operation as part of the overall job. Data is typically passed from one step to another as part of the job. **Note:** The properties of this object are not stable and might change. Here's an example of a sequence of steps which together implement a Map-Reduce job: * Read a collection of data from some source, parsing the collection's elements. * Validate the elements. * Apply a user-defined function to map each element to some value and extract an element-specific key value. * Group elements with the same key into a single element with that key, transforming a multiply-keyed collection into a uniquely-keyed collection. * Write the elements out to some data sink. Note that the Cloud Dataflow service may be used to run many different types of jobs, not just Map-Reduce.",
      "id": "Step",
      "properties": {
        "properties": {
          "type": "object",
          "description": "Named properties associated with the step. Each kind of predefined step has its own required set of properties. Must be provided on Create. Only retrieved with JOB_VIEW_ALL.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "kind": {
          "description": "The kind of step in the Cloud Dataflow job.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name that identifies the step. This must be unique for each step with respect to all other steps in the Cloud Dataflow job."
        }
      }
    },
    "Sink": {
      "id": "Sink",
      "properties": {
        "codec": {
          "description": "The codec to use to encode data written to the sink.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "spec": {
          "type": "object",
          "description": "The sink to write to, plus its parameters.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "description": "A sink that records can be encoded and written to.",
      "type": "object"
    },
    "WorkerHealthReport": {
      "id": "WorkerHealthReport",
      "properties": {
        "vmIsBroken": {
          "type": "boolean",
          "description": "Whether the VM is in a permanently broken state. Broken VMs should be abandoned or deleted ASAP to avoid assigning or completing any work."
        },
        "vmBrokenCode": {
          "type": "string",
          "description": "Code to describe a specific reason, if known, that a VM has reported broken state."
        },
        "vmStartupTime": {
          "description": "The time the VM was booted.",
          "type": "string",
          "format": "google-datetime"
        },
        "pods": {
          "description": "The pods running on the worker. See: http://kubernetes.io/v1.1/docs/api-reference/v1/definitions.html#_v1_pod This field is used by the worker to send the status of the indvidual containers running on each worker.",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object."
            },
            "type": "object"
          },
          "type": "array"
        },
        "vmIsHealthy": {
          "type": "boolean",
          "description": "Whether the VM is currently healthy."
        },
        "msg": {
          "description": "Message describing any unusual health reports.",
          "type": "string"
        },
        "reportInterval": {
          "type": "string",
          "format": "google-duration",
          "description": "The interval at which the worker is sending health reports. The default value of 0 should be interpreted as the field is not being explicitly set by the worker."
        }
      },
      "type": "object",
      "description": "WorkerHealthReport contains information about the health of a worker. The VM should be identified by the labels attached to the WorkerMessage that this health ping belongs to."
    },
    "StructuredMessage": {
      "type": "object",
      "description": "A rich message format, including a human readable string, a key for identifying the message, and structured data associated with the message for programmatic consumption.",
      "id": "StructuredMessage",
      "properties": {
        "messageKey": {
          "description": "Identifier for this message type. Used by external systems to internationalize or personalize message.",
          "type": "string"
        },
        "messageText": {
          "description": "Human-readable version of message.",
          "type": "string"
        },
        "parameters": {
          "description": "The structured data associated with this message.",
          "items": {
            "$ref": "Parameter"
          },
          "type": "array"
        }
      }
    },
    "DynamicSourceSplit": {
      "description": "When a task splits using WorkItemStatus.dynamic_source_split, this message describes the two parts of the split relative to the description of the current task's input.",
      "type": "object",
      "id": "DynamicSourceSplit",
      "properties": {
        "primary": {
          "description": "Primary part (continued to be processed by worker). Specified relative to the previously-current source. Becomes current.",
          "$ref": "DerivedSource"
        },
        "residual": {
          "description": "Residual part (returned to the pool of work). Specified relative to the previously-current source.",
          "$ref": "DerivedSource"
        }
      }
    },
    "PubsubLocation": {
      "description": "Identifies a pubsub location to use for transferring data into or out of a streaming Dataflow job.",
      "type": "object",
      "id": "PubsubLocation",
      "properties": {
        "dynamicDestinations": {
          "description": "If true, then this location represents dynamic topics.",
          "type": "boolean"
        },
        "trackingSubscription": {
          "description": "If set, specifies the pubsub subscription that will be used for tracking custom time timestamps for watermark estimation.",
          "type": "string"
        },
        "timestampLabel": {
          "type": "string",
          "description": "If set, contains a pubsub label from which to extract record timestamps. If left empty, record timestamps will be generated upon arrival."
        },
        "withAttributes": {
          "description": "If true, then the client has requested to get pubsub attributes.",
          "type": "boolean"
        },
        "subscription": {
          "description": "A pubsub subscription, in the form of \"pubsub.googleapis.com/subscriptions//\"",
          "type": "string"
        },
        "dropLateData": {
          "type": "boolean",
          "description": "Indicates whether the pipeline allows late-arriving data."
        },
        "topic": {
          "description": "A pubsub topic, in the form of \"pubsub.googleapis.com/topics//\"",
          "type": "string"
        },
        "idLabel": {
          "type": "string",
          "description": "If set, contains a pubsub label from which to extract record ids. If left empty, record deduplication will be strictly best effort."
        }
      }
    },
    "MultiOutputInfo": {
      "description": "Information about an output of a multi-output DoFn.",
      "type": "object",
      "id": "MultiOutputInfo",
      "properties": {
        "tag": {
          "description": "The id of the tag the user code will emit to this output by; this should correspond to the tag of some SideInputInfo.",
          "type": "string"
        }
      }
    },
    "Parameter": {
      "id": "Parameter",
      "properties": {
        "value": {
          "type": "any",
          "description": "Value for this parameter."
        },
        "key": {
          "description": "Key or name for this parameter.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Structured data associated with this message."
    },
    "GPUUsage": {
      "id": "GPUUsage",
      "properties": {
        "timestamp": {
          "description": "Required. Timestamp of the measurement.",
          "type": "string",
          "format": "google-datetime"
        },
        "utilization": {
          "description": "Required. Utilization info about the GPU.",
          "$ref": "GPUUtilization"
        }
      },
      "description": "Information about the GPU usage on the worker.",
      "type": "object"
    },
    "PubsubSnapshotMetadata": {
      "id": "PubsubSnapshotMetadata",
      "properties": {
        "topicName": {
          "type": "string",
          "description": "The name of the Pubsub topic."
        },
        "snapshotName": {
          "type": "string",
          "description": "The name of the Pubsub snapshot."
        },
        "expireTime": {
          "description": "The expire time of the Pubsub snapshot.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Represents a Pubsub snapshot.",
      "type": "object"
    },
    "ComponentTransform": {
      "id": "ComponentTransform",
      "properties": {
        "originalTransform": {
          "description": "User name for the original user transform with which this transform is most closely associated.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Dataflow service generated name for this source."
        },
        "userName": {
          "description": "Human-readable name for this transform; may be user or system generated.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Description of a transform executed as part of an execution stage."
    },
    "CounterStructuredName": {
      "description": "Identifies a counter within a per-job namespace. Counters whose structured names are the same get merged into a single value for the job.",
      "type": "object",
      "id": "CounterStructuredName",
      "properties": {
        "name": {
          "type": "string",
          "description": "Counter name. Not necessarily globally-unique, but unique within the context of the other fields. Required."
        },
        "originalStepName": {
          "type": "string",
          "description": "System generated name of the original step in the user's graph, before optimization."
        },
        "portion": {
          "enum": [
            "ALL",
            "KEY",
            "VALUE"
          ],
          "type": "string",
          "description": "Portion of this counter, either key or value.",
          "enumDescriptions": [
            "Counter portion has not been set.",
            "Counter reports a key.",
            "Counter reports a value."
          ]
        },
        "workerId": {
          "description": "ID of a particular worker.",
          "type": "string"
        },
        "origin": {
          "description": "One of the standard Origins defined above.",
          "enumDescriptions": [
            "Counter was created by the Dataflow system.",
            "Counter was created by the user."
          ],
          "type": "string",
          "enum": [
            "SYSTEM",
            "USER"
          ]
        },
        "executionStepName": {
          "type": "string",
          "description": "Name of the stage. An execution step contains multiple component steps."
        },
        "inputIndex": {
          "type": "integer",
          "format": "int32",
          "description": "Index of an input collection that's being read from/written to as a side input. The index identifies a step's side inputs starting by 1 (e.g. the first side input has input_index 1, the third has input_index 3). Side inputs are identified by a pair of (original_step_name, input_index). This field helps uniquely identify them."
        },
        "originNamespace": {
          "type": "string",
          "description": "A string containing a more specific namespace of the counter's origin."
        },
        "componentStepName": {
          "type": "string",
          "description": "Name of the optimized step being executed by the workers."
        },
        "originalRequestingStepName": {
          "description": "The step name requesting an operation, such as GBK. I.e. the ParDo causing a read/write from shuffle to occur, or a read from side inputs.",
          "type": "string"
        }
      }
    },
    "JobMessage": {
      "id": "JobMessage",
      "properties": {
        "time": {
          "description": "The timestamp of the message.",
          "type": "string",
          "format": "google-datetime"
        },
        "messageText": {
          "description": "The text of the message.",
          "type": "string"
        },
        "messageImportance": {
          "description": "Importance level of the message.",
          "enumDescriptions": [
            "The message importance isn't specified, or is unknown.",
            "The message is at the 'debug' level: typically only useful for software engineers working on the code the job is running. Typically, Dataflow pipeline runners do not display log messages at this level by default.",
            "The message is at the 'detailed' level: somewhat verbose, but potentially useful to users. Typically, Dataflow pipeline runners do not display log messages at this level by default. These messages are displayed by default in the Dataflow monitoring UI.",
            "The message is at the 'basic' level: useful for keeping track of the execution of a Dataflow pipeline. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI.",
            "The message is at the 'warning' level: indicating a condition pertaining to a job which may require human intervention. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI.",
            "The message is at the 'error' level: indicating a condition preventing a job from succeeding. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI."
          ],
          "type": "string",
          "enum": [
            "JOB_MESSAGE_IMPORTANCE_UNKNOWN",
            "JOB_MESSAGE_DEBUG",
            "JOB_MESSAGE_DETAILED",
            "JOB_MESSAGE_BASIC",
            "JOB_MESSAGE_WARNING",
            "JOB_MESSAGE_ERROR"
          ]
        },
        "id": {
          "description": "Deprecated.",
          "type": "string"
        }
      },
      "description": "A particular message pertaining to a Dataflow job.",
      "type": "object"
    },
    "DebugOptions": {
      "description": "Describes any options that have an effect on the debugging of pipelines.",
      "type": "object",
      "id": "DebugOptions",
      "properties": {
        "enableHotKeyLogging": {
          "description": "Optional. When true, enables the logging of the literal hot key to the user's Cloud Logging.",
          "type": "boolean"
        },
        "dataSampling": {
          "description": "Configuration options for sampling elements from a running pipeline.",
          "$ref": "DataSamplingConfig"
        }
      }
    },
    "ReportedParallelism": {
      "id": "ReportedParallelism",
      "properties": {
        "isInfinite": {
          "description": "Specifies whether the parallelism is infinite. If true, \"value\" is ignored. Infinite parallelism means the service will assume that the work item can always be split into more non-empty work items by dynamic splitting. This is a work-around for lack of support for infinity by the current JSON-based Java RPC stack.",
          "type": "boolean"
        },
        "value": {
          "description": "Specifies the level of parallelism in case it is finite.",
          "type": "number",
          "format": "double"
        }
      },
      "type": "object",
      "description": "Represents the level of parallelism in a WorkItem's input, reported by the worker."
    },
    "WorkerShutdownNoticeResponse": {
      "id": "WorkerShutdownNoticeResponse",
      "properties": {},
      "description": "Service-side response to WorkerMessage issuing shutdown notice.",
      "type": "object"
    },
    "SourceFork": {
      "description": "DEPRECATED in favor of DynamicSourceSplit.",
      "type": "object",
      "id": "SourceFork",
      "properties": {
        "residual": {
          "description": "DEPRECATED",
          "$ref": "SourceSplitShard"
        },
        "primarySource": {
          "description": "DEPRECATED",
          "$ref": "DerivedSource"
        },
        "residualSource": {
          "description": "DEPRECATED",
          "$ref": "DerivedSource"
        },
        "primary": {
          "description": "DEPRECATED",
          "$ref": "SourceSplitShard"
        }
      }
    },
    "ApproximateSplitRequest": {
      "type": "object",
      "description": "A suggestion by the service to the worker to dynamically split the WorkItem.",
      "id": "ApproximateSplitRequest",
      "properties": {
        "fractionConsumed": {
          "type": "number",
          "format": "double",
          "description": "A fraction at which to split the work item, from 0.0 (beginning of the input) to 1.0 (end of the input)."
        },
        "fractionOfRemainder": {
          "type": "number",
          "format": "double",
          "description": "The fraction of the remainder of work to split the work item at, from 0.0 (split at the current position) to 1.0 (end of the input)."
        },
        "position": {
          "description": "A Position at which to split the work item.",
          "$ref": "Position"
        }
      }
    },
    "StreamingScalingReport": {
      "description": "Contains per-user worker telemetry used in streaming autoscaling.",
      "type": "object",
      "id": "StreamingScalingReport",
      "properties": {
        "outstandingBundleCount": {
          "type": "integer",
          "format": "int32",
          "description": "Current outstanding bundle count."
        },
        "outstandingBytesCount": {
          "type": "integer",
          "format": "int32",
          "deprecated": true
        },
        "maximumThreadCount": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum thread count limit."
        },
        "maximumBundleCount": {
          "description": "Maximum bundle count.",
          "type": "integer",
          "format": "int32"
        },
        "activeThreadCount": {
          "type": "integer",
          "format": "int32",
          "description": "Current acive thread count."
        },
        "maximumBytes": {
          "description": "Maximum bytes.",
          "type": "string",
          "format": "int64"
        },
        "activeBundleCount": {
          "type": "integer",
          "format": "int32",
          "deprecated": true
        },
        "outstandingBytes": {
          "type": "string",
          "format": "int64",
          "description": "Current outstanding bytes."
        },
        "maximumBytesCount": {
          "deprecated": true,
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "KeyRangeLocation": {
      "id": "KeyRangeLocation",
      "properties": {
        "dataDisk": {
          "description": "The name of the data disk where data for this range is stored. This name is local to the Google Cloud Platform project and uniquely identifies the disk within that project, for example \"myproject-1014-104817-4c2-harness-0-disk-1\".",
          "type": "string"
        },
        "start": {
          "description": "The start (inclusive) of the key range.",
          "type": "string"
        },
        "deprecatedPersistentDirectory": {
          "description": "DEPRECATED. The location of the persistent state for this range, as a persistent directory in the worker local filesystem.",
          "type": "string",
          "deprecated": true
        },
        "deliveryEndpoint": {
          "type": "string",
          "description": "The physical location of this range assignment to be used for streaming computation cross-worker message delivery."
        },
        "end": {
          "description": "The end (exclusive) of the key range.",
          "type": "string"
        }
      },
      "description": "Location information for a specific key-range of a sharded computation. Currently we only support UTF-8 character splits to simplify encoding into JSON.",
      "type": "object"
    },
    "FloatingPointList": {
      "type": "object",
      "description": "A metric value representing a list of floating point numbers.",
      "id": "FloatingPointList",
      "properties": {
        "elements": {
          "description": "Elements of the list.",
          "items": {
            "type": "number",
            "format": "double"
          },
          "type": "array"
        }
      }
    },
    "Position": {
      "type": "object",
      "description": "Position defines a position within a collection of data. The value can be either the end position, a key (used with ordered collections), a byte offset, or a record index.",
      "id": "Position",
      "properties": {
        "concatPosition": {
          "description": "CloudPosition is a concat position.",
          "$ref": "ConcatPosition"
        },
        "recordIndex": {
          "description": "Position is a record index.",
          "type": "string",
          "format": "int64"
        },
        "end": {
          "description": "Position is past all other positions. Also useful for the end position of an unbounded range.",
          "type": "boolean"
        },
        "shufflePosition": {
          "type": "string",
          "description": "CloudPosition is a base64 encoded BatchShufflePosition (with FIXED sharding)."
        },
        "byteOffset": {
          "type": "string",
          "format": "int64",
          "description": "Position is a byte offset."
        },
        "key": {
          "description": "Position is a string key, ordered lexicographically.",
          "type": "string"
        }
      }
    },
    "NameAndKind": {
      "description": "Basic metadata about a counter.",
      "type": "object",
      "id": "NameAndKind",
      "properties": {
        "kind": {
          "enum": [
            "INVALID",
            "SUM",
            "MAX",
            "MIN",
            "MEAN",
            "OR",
            "AND",
            "SET",
            "DISTRIBUTION",
            "LATEST_VALUE"
          ],
          "type": "string",
          "description": "Counter aggregation kind.",
          "enumDescriptions": [
            "Counter aggregation kind was not set.",
            "Aggregated value is the sum of all contributed values.",
            "Aggregated value is the max of all contributed values.",
            "Aggregated value is the min of all contributed values.",
            "Aggregated value is the mean of all contributed values.",
            "Aggregated value represents the logical 'or' of all contributed values.",
            "Aggregated value represents the logical 'and' of all contributed values.",
            "Aggregated value is a set of unique contributed values.",
            "Aggregated value captures statistics about a distribution.",
            "Aggregated value tracks the latest value of a variable."
          ]
        },
        "name": {
          "type": "string",
          "description": "Name of the counter."
        }
      }
    },
    "GetWorkerStacktracesResponse": {
      "id": "GetWorkerStacktracesResponse",
      "properties": {
        "sdks": {
          "description": "Repeated as unified worker may have multiple SDK processes.",
          "items": {
            "$ref": "Sdk"
          },
          "type": "array"
        }
      },
      "description": "Response to get worker stacktraces from debug capture.",
      "type": "object"
    },
    "LaunchFlexTemplateRequest": {
      "id": "LaunchFlexTemplateRequest",
      "properties": {
        "launchParameter": {
          "description": "Required. Parameter to launch a job form Flex Template.",
          "$ref": "LaunchFlexTemplateParameter"
        },
        "validateOnly": {
          "description": "If true, the request is validated but not actually executed. Defaults to false.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "A request to launch a Cloud Dataflow job from a FlexTemplate."
    },
    "WorkItemStatus": {
      "id": "WorkItemStatus",
      "properties": {
        "requestedLeaseDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "Amount of time the worker requests for its lease."
        },
        "reportIndex": {
          "description": "The report index. When a WorkItem is leased, the lease will contain an initial report index. When a WorkItem's status is reported to the system, the report should be sent with that report index, and the response will contain the index the worker should use for the next report. Reports received with unexpected index values will be rejected by the service. In order to preserve idempotency, the worker should not alter the contents of a report, even if the worker must submit the same report multiple times before getting back a response. The worker should not submit a subsequent report until the response for the previous report had been received from the service.",
          "type": "string",
          "format": "int64"
        },
        "metricUpdates": {
          "type": "array",
          "description": "DEPRECATED in favor of counter_updates.",
          "items": {
            "$ref": "MetricUpdate"
          },
          "deprecated": true
        },
        "reportedProgress": {
          "description": "The worker's progress through this WorkItem.",
          "$ref": "ApproximateReportedProgress"
        },
        "totalThrottlerWaitTimeSeconds": {
          "description": "Total time the worker spent being throttled by external systems.",
          "type": "number",
          "format": "double"
        },
        "dynamicSourceSplit": {
          "description": "See documentation of stop_position.",
          "$ref": "DynamicSourceSplit"
        },
        "stopPosition": {
          "description": "A worker may split an active map task in two parts, \"primary\" and \"residual\", continuing to process the primary part and returning the residual part into the pool of available work. This event is called a \"dynamic split\" and is critical to the dynamic work rebalancing feature. The two obtained sub-tasks are called \"parts\" of the split. The parts, if concatenated, must represent the same input as would be read by the current task if the split did not happen. The exact way in which the original task is decomposed into the two parts is specified either as a position demarcating them (stop_position), or explicitly as two DerivedSources, if this task consumes a user-defined source type (dynamic_source_split). The \"current\" task is adjusted as a result of the split: after a task with range [A, B) sends a stop_position update at C, its range is considered to be [A, C), e.g.: * Progress should be interpreted relative to the new range, e.g. \"75% completed\" means \"75% of [A, C) completed\" * The worker should interpret proposed_stop_position relative to the new range, e.g. \"split at 68%\" should be interpreted as \"split at 68% of [A, C)\". * If the worker chooses to split again using stop_position, only stop_positions in [A, C) will be accepted. * Etc. dynamic_source_split has similar semantics: e.g., if a task with source S splits using dynamic_source_split into {P, R} (where P and R must be together equivalent to S), then subsequent progress and proposed_stop_position should be interpreted relative to P, and in a potential subsequent dynamic_source_split into {P', R'}, P' and R' must be together equivalent to P, etc.",
          "$ref": "Position"
        },
        "sourceOperationResponse": {
          "description": "If the work item represented a SourceOperationRequest, and the work is completed, contains the result of the operation.",
          "$ref": "SourceOperationResponse"
        },
        "completed": {
          "type": "boolean",
          "description": "True if the WorkItem was completed (successfully or unsuccessfully)."
        },
        "workItemId": {
          "description": "Identifies the WorkItem.",
          "type": "string"
        },
        "counterUpdates": {
          "type": "array",
          "description": "Worker output counters for this WorkItem.",
          "items": {
            "$ref": "CounterUpdate"
          }
        },
        "errors": {
          "type": "array",
          "description": "Specifies errors which occurred during processing. If errors are provided, and completed = true, then the WorkItem is considered to have failed.",
          "items": {
            "$ref": "Status"
          }
        },
        "sourceFork": {
          "description": "DEPRECATED in favor of dynamic_source_split.",
          "$ref": "SourceFork",
          "deprecated": true
        },
        "progress": {
          "deprecated": true,
          "description": "DEPRECATED in favor of reported_progress.",
          "$ref": "ApproximateProgress"
        }
      },
      "type": "object",
      "description": "Conveys a worker's progress through the work described by a WorkItem."
    },
    "MetricStructuredName": {
      "id": "MetricStructuredName",
      "properties": {
        "origin": {
          "type": "string",
          "description": "Origin (namespace) of metric name. May be blank for user-define metrics; will be \"dataflow\" for metrics defined by the Dataflow service or SDK."
        },
        "name": {
          "description": "Worker-defined metric name.",
          "type": "string"
        },
        "context": {
          "type": "object",
          "description": "Zero or more labeled fields which identify the part of the job this metric is associated with, such as the name of a step or collection. For example, built-in counters associated with steps will have context['step'] = . Counters associated with PCollections in the SDK will have context['pcollection'] = .",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Identifies a metric, by describing the source which generated the metric."
    },
    "ShellTask": {
      "type": "object",
      "description": "A task which consists of a shell command for the worker to execute.",
      "id": "ShellTask",
      "properties": {
        "command": {
          "description": "The shell command to run.",
          "type": "string"
        },
        "exitCode": {
          "description": "Exit code for the task.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "Source": {
      "type": "object",
      "description": "A source that records can be read and decoded from.",
      "id": "Source",
      "properties": {
        "doesNotNeedSplitting": {
          "type": "boolean",
          "description": "Setting this value to true hints to the framework that the source doesn't need splitting, and using SourceSplitRequest on it would yield SOURCE_SPLIT_OUTCOME_USE_CURRENT. E.g. a file splitter may set this to true when splitting a single file into a set of byte ranges of appropriate size, and set this to false when splitting a filepattern into individual files. However, for efficiency, a file splitter may decide to produce file subranges directly from the filepattern to avoid a splitting round-trip. See SourceSplitRequest for an overview of the splitting process. This field is meaningful only in the Source objects populated by the user (e.g. when filling in a DerivedSource). Source objects supplied by the framework to the user don't have this field populated."
        },
        "metadata": {
          "description": "Optionally, metadata for this source can be supplied right away, avoiding a SourceGetMetadataOperation roundtrip (see SourceOperationRequest). This field is meaningful only in the Source objects populated by the user (e.g. when filling in a DerivedSource). Source objects supplied by the framework to the user don't have this field populated.",
          "$ref": "SourceMetadata"
        },
        "codec": {
          "type": "object",
          "description": "The codec to use to decode data read from the source.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "baseSpecs": {
          "type": "array",
          "description": "While splitting, sources may specify the produced bundles as differences against another source, in order to save backend-side memory and allow bigger jobs. For details, see SourceSplitRequest. To support this use case, the full set of parameters of the source is logically obtained by taking the latest explicitly specified value of each parameter in the order: base_specs (later items win), spec (overrides anything in base_specs).",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object.",
              "type": "any"
            },
            "type": "object"
          }
        },
        "spec": {
          "type": "object",
          "description": "The source to read from, plus its parameters.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "StreamingSideInputLocation": {
      "description": "Identifies the location of a streaming side input.",
      "type": "object",
      "id": "StreamingSideInputLocation",
      "properties": {
        "tag": {
          "description": "Identifies the particular side input within the streaming Dataflow job.",
          "type": "string"
        },
        "stateFamily": {
          "type": "string",
          "description": "Identifies the state family where this side input is stored."
        }
      }
    },
    "LaunchFlexTemplateParameter": {
      "description": "Launch FlexTemplate Parameter.",
      "type": "object",
      "id": "LaunchFlexTemplateParameter",
      "properties": {
        "containerSpecGcsPath": {
          "type": "string",
          "description": "Cloud Storage path to a file with json serialized ContainerSpec as content."
        },
        "launchOptions": {
          "type": "object",
          "description": "Launch options for this flex template job. This is a common set of options across languages and templates. This should not be used to pass job parameters.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "update": {
          "description": "Set this to true if you are sending a request to update a running streaming job. When set, the job name should be the same as the running job.",
          "type": "boolean"
        },
        "parameters": {
          "description": "The parameters for FlexTemplate. Ex. {\"num_workers\":\"5\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "environment": {
          "description": "The runtime environment for the FlexTemplate job",
          "$ref": "FlexTemplateRuntimeEnvironment"
        },
        "transformNameMappings": {
          "type": "object",
          "description": "Use this to pass transform_name_mappings for streaming update jobs. Ex:{\"oldTransformName\":\"newTransformName\",...}'",
          "additionalProperties": {
            "type": "string"
          }
        },
        "jobName": {
          "type": "string",
          "description": "Required. The job name to use for the created job. For update job request, job name should be same as the existing running job."
        },
        "containerSpec": {
          "description": "Spec about the container image to launch.",
          "$ref": "ContainerSpec"
        }
      }
    },
    "IntegerGauge": {
      "id": "IntegerGauge",
      "properties": {
        "timestamp": {
          "description": "The time at which this value was measured. Measured as msecs from epoch.",
          "type": "string",
          "format": "google-datetime"
        },
        "value": {
          "description": "The value of the variable represented by this gauge.",
          "$ref": "SplitInt64"
        }
      },
      "type": "object",
      "description": "A metric value representing temporal values of a variable."
    },
    "StreamingConfigTask": {
      "description": "A task that carries configuration information for streaming computations.",
      "type": "object",
      "id": "StreamingConfigTask",
      "properties": {
        "userWorkerRunnerV2Settings": {
          "type": "string",
          "format": "byte",
          "description": "Binary encoded proto to control runtime behavior of the runner v2 user worker."
        },
        "streamingComputationConfigs": {
          "type": "array",
          "description": "Set of computation configuration information.",
          "items": {
            "$ref": "StreamingComputationConfig"
          }
        },
        "maxWorkItemCommitBytes": {
          "description": "Maximum size for work item commit supported windmill storage layer.",
          "type": "string",
          "format": "int64"
        },
        "streamingEngineStateTagEncodingVersion": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The state tag encoding format version for streaming engine jobs."
        },
        "commitStreamChunkSizeBytes": {
          "type": "string",
          "format": "int64",
          "description": "Chunk size for commit streams from the harness to windmill."
        },
        "userStepToStateFamilyNameMap": {
          "type": "object",
          "description": "Map from user step names to state families.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "userWorkerRunnerV1Settings": {
          "type": "string",
          "format": "byte",
          "description": "Binary encoded proto to control runtime behavior of the java runner v1 user worker."
        },
        "getDataStreamChunkSizeBytes": {
          "description": "Chunk size for get data streams from the harness to windmill.",
          "type": "string",
          "format": "int64"
        },
        "windmillServiceEndpoint": {
          "description": "If present, the worker must use this endpoint to communicate with Windmill Service dispatchers, otherwise the worker must continue to use whatever endpoint it had been using.",
          "type": "string"
        },
        "operationalLimits": {
          "description": "Operational limits for the streaming job. Can be used by the worker to validate outputs sent to the backend.",
          "$ref": "StreamingOperationalLimits"
        },
        "windmillServicePort": {
          "type": "string",
          "format": "int64",
          "description": "If present, the worker must use this port to communicate with Windmill Service dispatchers. Only applicable when windmill_service_endpoint is specified."
        }
      }
    },
    "BigQueryIODetails": {
      "id": "BigQueryIODetails",
      "properties": {
        "table": {
          "description": "Table accessed in the connection.",
          "type": "string"
        },
        "query": {
          "type": "string",
          "description": "Query used to access data in the connection."
        },
        "dataset": {
          "type": "string",
[...]
