{
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "revision": "20260729",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "canonicalName": "Datastream",
  "description": "",
  "endpoints": [
    {
      "endpointUrl": "https://datastream.africa-south1.rep.googleapis.com/",
      "location": "africa-south1",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-east1",
      "endpointUrl": "https://datastream.asia-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datastream.asia-east2.rep.googleapis.com/",
      "location": "asia-east2",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast1",
      "endpointUrl": "https://datastream.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datastream.asia-northeast2.rep.googleapis.com/",
      "location": "asia-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datastream.asia-northeast3.rep.googleapis.com/",
      "location": "asia-northeast3",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.asia-south1.rep.googleapis.com/",
      "location": "asia-south1"
    },
    {
      "endpointUrl": "https://datastream.asia-south2.rep.googleapis.com/",
      "location": "asia-south2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datastream.asia-southeast1.rep.googleapis.com/",
      "location": "asia-southeast1",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-southeast2",
      "endpointUrl": "https://datastream.asia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.asia-southeast3.rep.googleapis.com/",
      "location": "asia-southeast3"
    },
    {
      "location": "australia-southeast1",
      "endpointUrl": "https://datastream.australia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.australia-southeast2.rep.googleapis.com/",
      "location": "australia-southeast2"
    },
    {
      "endpointUrl": "https://datastream.europe-central2.rep.googleapis.com/",
      "location": "europe-central2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.europe-north1.rep.googleapis.com/",
      "location": "europe-north1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.europe-north2.rep.googleapis.com/",
      "location": "europe-north2"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-southwest1",
      "endpointUrl": "https://datastream.europe-southwest1.rep.googleapis.com/"
    },
    {
      "location": "europe-west1",
      "endpointUrl": "https://datastream.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west10",
      "endpointUrl": "https://datastream.europe-west10.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west12",
      "endpointUrl": "https://datastream.europe-west12.rep.googleapis.com/"
    },
    {
      "location": "europe-west15",
      "endpointUrl": "https://datastream.europe-west15.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west2",
      "endpointUrl": "https://datastream.europe-west2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.europe-west3.rep.googleapis.com/",
      "location": "europe-west3"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.europe-west4.rep.googleapis.com/",
      "location": "europe-west4"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west6",
      "endpointUrl": "https://datastream.europe-west6.rep.googleapis.com/"
    },
    {
      "location": "europe-west8",
      "endpointUrl": "https://datastream.europe-west8.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.europe-west9.rep.googleapis.com/",
      "location": "europe-west9"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.me-central1.rep.googleapis.com/",
      "location": "me-central1"
    },
    {
      "endpointUrl": "https://datastream.me-central2.rep.googleapis.com/",
      "location": "me-central2",
      "description": "Regional Endpoint"
    },
    {
      "location": "me-west1",
      "endpointUrl": "https://datastream.me-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.northamerica-northeast1.rep.googleapis.com/",
      "location": "northamerica-northeast1"
    },
    {
      "location": "northamerica-northeast2",
      "endpointUrl": "https://datastream.northamerica-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datastream.northamerica-south1.rep.googleapis.com/",
      "location": "northamerica-south1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "southamerica-east1",
      "endpointUrl": "https://datastream.southamerica-east1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://datastream.southamerica-west1.rep.googleapis.com/",
      "location": "southamerica-west1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-central1",
      "endpointUrl": "https://datastream.us-central1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east1",
      "endpointUrl": "https://datastream.us-east1.rep.googleapis.com/"
    },
    {
      "location": "us-east4",
      "endpointUrl": "https://datastream.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east5",
      "endpointUrl": "https://datastream.us-east5.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://datastream.us-east7.rep.googleapis.com/",
      "location": "us-east7",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datastream.us-south1.rep.googleapis.com/",
      "location": "us-south1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.us-west1.rep.googleapis.com/",
      "location": "us-west1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.us-west2.rep.googleapis.com/",
      "location": "us-west2"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west3",
      "endpointUrl": "https://datastream.us-west3.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.us-west4.rep.googleapis.com/",
      "location": "us-west4"
    }
  ],
  "rootUrl": "https://datastream.googleapis.com/",
  "parameters": {
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json",
      "location": "query",
      "description": "Data format for response."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "version": "v1",
  "basePath": "",
  "title": "Datastream API",
  "documentationLink": "https://cloud.google.com/datastream/",
  "baseUrl": "https://datastream.googleapis.com/",
  "servicePath": "",
  "batchPath": "batch",
  "protocol": "rest",
  "id": "datastream:v1",
  "version_module": true,
  "schemas": {
    "OracleProfile": {
      "type": "object",
      "id": "OracleProfile",
      "properties": {
        "oracleSslConfig": {
          "$ref": "OracleSslConfig",
          "description": "Optional. SSL configuration for the Oracle connection."
        },
        "port": {
          "description": "Port for the Oracle connection, default value is 1521.",
          "format": "int32",
          "type": "integer"
        },
        "password": {
          "description": "Optional. Password for the Oracle connection. Mutually exclusive with the `secret_manager_stored_password` field.",
          "type": "string"
        },
        "username": {
          "description": "Required. Username for the Oracle connection.",
          "type": "string"
        },
        "secretManagerStoredPassword": {
          "description": "Optional. A reference to a Secret Manager resource name storing the Oracle connection password. Mutually exclusive with the `password` field.",
          "type": "string"
        },
        "oracleAsmConfig": {
          "$ref": "OracleAsmConfig",
          "description": "Optional. Configuration for Oracle ASM connection."
        },
        "connectionAttributes": {
          "description": "Connection string attributes",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "hostname": {
          "description": "Required. Hostname for the Oracle connection.",
          "type": "string"
        },
        "databaseService": {
          "description": "Required. Database for the Oracle connection.",
          "type": "string"
        }
      },
      "description": "Profile for connecting to an Oracle source."
    },
    "SpannerSchema": {
      "description": "Spanner schema.",
      "type": "object",
      "id": "SpannerSchema",
      "properties": {
        "tables": {
          "description": "Optional. Spanner tables in the schema.",
          "items": {
            "$ref": "SpannerTable"
          },
          "type": "array"
        },
        "schema": {
          "description": "Required. The schema name.",
          "type": "string"
        }
      }
    },
    "SpannerColumn": {
      "description": "Spanner column.",
      "id": "SpannerColumn",
      "properties": {
        "column": {
          "description": "Required. The column name.",
          "type": "string"
        },
        "ordinalPosition": {
          "description": "Optional. The ordinal position of the column in the table.",
          "format": "int64",
          "type": "string"
        },
        "dataType": {
          "description": "Optional. Spanner data type.",
          "type": "string"
        },
        "isPrimaryKey": {
          "description": "Optional. Whether or not the column is a primary key.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "DatasetTemplate": {
      "id": "DatasetTemplate",
      "properties": {
        "datasetIdPrefix": {
          "description": "If supplied, every created dataset will have its name prefixed by the provided value. The prefix and name will be separated by an underscore. i.e. _.",
          "type": "string"
        },
        "location": {
          "description": "Required. The geographic location where the dataset should reside. See https://cloud.google.com/bigquery/docs/locations for supported locations.",
          "type": "string"
        },
        "kmsKeyName": {
          "description": "Describes the Cloud KMS encryption key that will be used to protect destination BigQuery table. The BigQuery Service Account associated with your project requires access to this encryption key. i.e. projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{cryptoKey}. See https://cloud.google.com/bigquery/docs/customer-managed-encryption for more information.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Dataset template used for dynamic dataset creation."
    },
    "StreamObject": {
      "description": "A specific stream object (e.g a specific DB table).",
      "id": "StreamObject",
      "properties": {
        "customizationRules": {
          "items": {
            "$ref": "CustomizationRule"
          },
          "description": "Output only. The customization rules for the object. These rules are derived from the parent Stream's `rule_sets` and represent the intended configuration for the object.",
          "readOnly": true,
          "type": "array"
        },
        "displayName": {
          "description": "Required. Display name.",
          "type": "string"
        },
        "errors": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Active errors on the object.",
          "items": {
            "$ref": "Error"
          }
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The creation time of the object.",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The last update time of the object.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Output only. Identifier. The object resource's name.",
          "readOnly": true,
          "type": "string"
        },
        "sourceObject": {
          "description": "The object identifier in the data source.",
          "$ref": "SourceObjectIdentifier"
        },
        "backfillJob": {
          "$ref": "BackfillJob",
          "description": "The latest backfill job that was initiated for the stream object."
        }
      },
      "type": "object"
    },
    "NextAvailableStartPosition": {
      "description": "CDC strategy to resume replication from the next available position in the source.",
      "id": "NextAvailableStartPosition",
      "properties": {},
      "type": "object"
    },
    "UserPasswordCredentials": {
      "description": "User-password credentials.",
      "id": "UserPasswordCredentials",
      "properties": {
        "username": {
          "description": "Required. Username for the connection.",
          "type": "string"
        },
        "password": {
          "description": "Required. Password for the connection.",
          "$ref": "Secret"
        }
      },
      "type": "object"
    },
    "SqlServerProfile": {
      "type": "object",
      "id": "SqlServerProfile",
      "properties": {
        "username": {
          "description": "Required. Username for the SQLServer connection.",
          "type": "string"
        },
        "secretManagerStoredPassword": {
          "description": "Optional. A reference to a Secret Manager resource name storing the SQLServer connection password. Mutually exclusive with the `password` field.",
          "type": "string"
        },
        "sslConfig": {
          "description": "Optional. SSL configuration for the SQLServer connection.",
          "$ref": "SqlServerSslConfig"
        },
        "hostname": {
          "description": "Required. Hostname for the SQLServer connection.",
          "type": "string"
        },
        "port": {
          "description": "Port for the SQLServer connection, default value is 1433.",
          "format": "int32",
          "type": "integer"
        },
        "password": {
          "description": "Optional. Password for the SQLServer connection. Mutually exclusive with the `secret_manager_stored_password` field.",
          "type": "string"
        },
        "database": {
          "description": "Required. Database for the SQLServer connection.",
          "type": "string"
        }
      },
      "description": "Profile for connecting to a SQLServer source."
    },
    "Stream": {
      "id": "Stream",
      "properties": {
        "destinationConfig": {
          "$ref": "DestinationConfig",
          "description": "Required. Destination connection profile configuration."
        },
        "backfillNone": {
          "description": "Do not automatically backfill any objects.",
          "$ref": "BackfillNoneStrategy"
        },
        "satisfiesPzi": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Reserved for future use."
        },
        "lastRecoveryTime": {
          "description": "Output only. If the stream was recovered, the time of the last recovery. Note: This field is currently experimental.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Identifier. The stream's name."
        },
        "backfillAll": {
          "description": "Automatically backfill objects included in the stream source configuration. Specific objects can be excluded.",
          "$ref": "BackfillAllStrategy"
        },
        "createTime": {
          "description": "Output only. The creation time of the stream.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "satisfiesPzs": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Reserved for future use."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The last update time of the stream.",
          "format": "google-datetime"
        },
        "state": {
          "enumDescriptions": [
            "Unspecified stream state.",
            "The stream has been created but has not yet started streaming data.",
            "The stream is running.",
            "The stream is paused.",
            "The stream is in maintenance mode. Updates are rejected on the resource in this state.",
            "The stream is experiencing an error that is preventing data from being streamed.",
            "The stream has experienced a terminal failure.",
            "The stream is starting, but not yet running.",
            "The Stream is no longer reading new events, but still writing events in the buffer."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "NOT_STARTED",
            "RUNNING",
            "PAUSED",
            "MAINTENANCE",
            "FAILED",
            "FAILED_PERMANENTLY",
            "STARTING",
            "DRAINING"
          ],
          "type": "string",
          "description": "The state of the stream."
        },
        "ruleSets": {
          "items": {
            "$ref": "RuleSet"
          },
          "description": "Optional. Rule sets to apply to the stream.",
          "type": "array"
        },
        "customerManagedEncryptionKey": {
          "description": "Immutable. A reference to a KMS encryption key. If provided, it will be used to encrypt the data. If left blank, data will be encrypted using an internal Stream-specific encryption key provisioned through KMS.",
          "type": "string"
        },
        "labels": {
          "description": "Labels.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "displayName": {
          "description": "Required. Display name.",
          "type": "string"
        },
        "sourceConfig": {
          "description": "Required. Source connection profile configuration.",
          "$ref": "SourceConfig"
        },
        "errors": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Error"
          },
          "description": "Output only. Errors on the Stream."
        }
      },
      "type": "object",
      "description": "A resource representing streaming data from a source to a destination."
    },
    "MongodbCluster": {
      "description": "MongoDB Cluster structure.",
      "id": "MongodbCluster",
      "properties": {
        "databases": {
          "description": "MongoDB databases in the cluster.",
          "items": {
            "$ref": "MongodbDatabase"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Help": {
      "description": "Provides links to documentation or for performing an out of band action. For example, if a quota check failed with an error indicating the calling project hasn't enabled the accessed service, this can contain a URL pointing directly to the right place in the developer console to flip the bit.",
      "id": "Help",
      "properties": {
        "links": {
          "description": "URL(s) pointing to additional information on handling the current error.",
          "items": {
            "$ref": "Link"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "EncryptionAndServerValidation": {
      "type": "object",
      "id": "EncryptionAndServerValidation",
      "properties": {
        "serverCertificateHostname": {
          "description": "Optional. The hostname mentioned in the Subject or SAN extension of the server certificate. This field is used for bypassing the hostname validation while verifying server certificate. This is required for scenarios where the host name that datastream connects to is different from the certificate's subject. This specifically happens for private connectivity. It could also happen when the customer provides a public IP in connection profile but the same is not present in the server certificate.",
          "type": "string"
        },
        "caCertificate": {
          "description": "Optional. Input only. PEM-encoded certificate of the CA that signed the source database server's certificate.",
          "type": "string"
        }
      },
      "description": "Message to represent the option where Datastream will enforce encryption and authenticate server identity. ca_certificate must be set if user selects this option."
    },
    "SqlServerTransactionLogs": {
      "type": "object",
      "id": "SqlServerTransactionLogs",
      "properties": {},
      "description": "Configuration to use Transaction Logs CDC read method."
    },
    "RequestInfo": {
      "id": "RequestInfo",
      "properties": {
        "servingData": {
          "description": "Any data that was used to serve this request. For example, an encrypted stack trace that can be sent back to the service provider for debugging.",
          "type": "string"
        },
        "requestId": {
          "description": "An opaque string that should only be interpreted by the service generating it. For example, it can be used to identify requests in the service's logs.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Contains metadata about the request that clients can attach when filing a bug or providing other forms of feedback."
    },
    "MongodbSslConfig": {
      "id": "MongodbSslConfig",
      "properties": {
        "secretManagerStoredClientKey": {
          "description": "Optional. Input only. A reference to a Secret Manager resource name storing the PEM-encoded private key associated with the Client Certificate. If this field is used then the 'client_certificate' and the 'ca_certificate' fields are mandatory. Mutually exclusive with the `client_key` field.",
          "type": "string"
        },
        "caCertificateSet": {
          "description": "Output only. Indicates whether the ca_certificate field is set.",
          "readOnly": true,
          "type": "boolean"
        },
        "clientCertificateSet": {
          "description": "Output only. Indicates whether the client_certificate field is set.",
          "readOnly": true,
          "type": "boolean"
        },
        "caCertificate": {
          "description": "Optional. Input only. PEM-encoded certificate of the CA that signed the source database server's certificate.",
          "type": "string"
        },
        "clientKey": {
          "description": "Optional. Input only. PEM-encoded private key associated with the Client Certificate. If this field is used then the 'client_certificate' and the 'ca_certificate' fields are mandatory.",
          "type": "string"
        },
        "clientKeySet": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates whether the client_key field is set."
        },
        "clientCertificate": {
          "description": "Optional. Input only. PEM-encoded certificate that will be used by the replica to authenticate against the source database server. If this field is used then the 'client_key' and the 'ca_certificate' fields are mandatory.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "MongoDB SSL configuration information."
    },
    "UserCredentials": {
      "deprecated": true,
      "properties": {
        "securityToken": {
          "description": "Optional. Security token for the Salesforce connection. Mutually exclusive with the `secret_manager_stored_security_token` field.",
          "type": "string"
        },
        "password": {
          "description": "Optional. Password for the Salesforce connection. Mutually exclusive with the `secret_manager_stored_password` field.",
          "type": "string"
        },
        "username": {
          "description": "Required. Username for the Salesforce connection.",
          "type": "string"
        },
        "secretManagerStoredPassword": {
          "description": "Optional. A reference to a Secret Manager resource name storing the Salesforce connection's password. Mutually exclusive with the `password` field.",
          "type": "string"
        },
        "secretManagerStoredSecurityToken": {
          "description": "Optional. A reference to a Secret Manager resource name storing the Salesforce connection's security token. Mutually exclusive with the `security_token` field.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Deprecated: Salesforce is retiring Username-Password authentication. Use `Oauth2ClientCredentials` instead.",
      "id": "UserCredentials"
    },
    "MongodbSourceConfig": {
      "description": "Configuration for syncing data from a MongoDB source.",
      "type": "object",
      "id": "MongodbSourceConfig",
      "properties": {
        "includeObjects": {
          "description": "The MongoDB collections to include in the stream.",
          "$ref": "MongodbCluster"
        },
        "excludeObjects": {
          "description": "The MongoDB collections to exclude from the stream.",
          "$ref": "MongodbCluster"
        },
        "maxConcurrentBackfillTasks": {
          "description": "Optional. Maximum number of concurrent backfill tasks. The number should be non-negative and less than or equal to 50. If not set (or set to 0), the system's default value is used",
          "format": "int32",
          "type": "integer"
        },
        "jsonMode": {
          "description": "Optional. MongoDB JSON mode to use for the stream.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified JSON mode.",
            "Strict JSON mode.",
            "Canonical JSON mode."
          ],
          "enum": [
            "MONGODB_JSON_MODE_UNSPECIFIED",
            "STRICT",
            "CANONICAL"
          ]
        }
      }
    },
    "OracleTable": {
      "description": "Oracle table.",
      "id": "OracleTable",
      "properties": {
        "table": {
          "description": "The table name.",
          "type": "string"
        },
        "oracleColumns": {
          "items": {
            "$ref": "OracleColumn"
          },
          "description": "Oracle columns in the schema. When unspecified as part of include/exclude objects, includes/excludes everything.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "ResourceInfo": {
      "type": "object",
      "id": "ResourceInfo",
      "properties": {
        "resourceType": {
          "description": "A name for the type of resource being accessed, e.g. \"sql table\", \"cloud storage bucket\", \"file\", \"Google calendar\"; or the type URL of the resource: e.g. \"type.googleapis.com/google.pubsub.v1.Topic\".",
          "type": "string"
        },
        "owner": {
          "description": "The owner of the resource (optional). For example, \"user:\" or \"project:\".",
          "type": "string"
        },
        "description": {
          "description": "Describes what error is encountered when accessing this resource. For example, updating a cloud project may require the `writer` permission on the developer console project.",
          "type": "string"
        },
        "resourceName": {
          "description": "The name of the resource being accessed. For example, a shared calendar name: \"example.com_4fghdhgsrgh@group.calendar.google.com\", if the current error is google.rpc.Code.PERMISSION_DENIED.",
          "type": "string"
        }
      },
      "description": "Describes the resource that is being accessed."
    },
    "BackfillNoneStrategy": {
      "description": "Backfill strategy to disable automatic backfill for the Stream's objects.",
      "type": "object",
      "id": "BackfillNoneStrategy",
      "properties": {}
    },
    "PostgresqlProfile": {
      "type": "object",
      "id": "PostgresqlProfile",
      "properties": {
        "password": {
          "description": "Optional. Password for the PostgreSQL connection. Mutually exclusive with the `secret_manager_stored_password` field.",
          "type": "string"
        },
        "database": {
          "description": "Required. Database for the PostgreSQL connection.",
          "type": "string"
        },
        "port": {
          "type": "integer",
          "description": "Port for the PostgreSQL connection, default value is 5432.",
          "format": "int32"
        },
        "hostname": {
          "description": "Required. Hostname for the PostgreSQL connection.",
          "type": "string"
        },
        "sslConfig": {
          "description": "Optional. SSL configuration for the PostgreSQL connection. In case PostgresqlSslConfig is not set, the connection will use the default SSL mode, which is `prefer` (i.e. this mode will only use encryption if enabled from database side, otherwise will use unencrypted communication)",
          "$ref": "PostgresqlSslConfig"
        },
        "username": {
          "description": "Required. Username for the PostgreSQL connection.",
          "type": "string"
        },
        "secretManagerStoredPassword": {
          "description": "Optional. A reference to a Secret Manager resource name storing the PostgreSQL connection password. Mutually exclusive with the `password` field.",
          "type": "string"
        }
      },
      "description": "Profile for connecting to a PostgreSQL source."
    },
    "SpannerChangeStreamPosition": {
      "description": "Represents a position in a Spanner change stream from which to start replicating.",
      "id": "SpannerChangeStreamPosition",
      "properties": {
        "startTime": {
          "description": "Required. The timestamp to start change stream queries from. The timestamp must be a positive value.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object"
    },
    "MysqlDatabase": {
      "type": "object",
      "id": "MysqlDatabase",
      "properties": {
        "database": {
          "description": "The database name.",
          "type": "string"
        },
        "mysqlTables": {
          "type": "array",
          "items": {
            "$ref": "MysqlTable"
          },
          "description": "Tables in the database."
        }
      },
      "description": "MySQL database."
    },
    "Link": {
      "type": "object",
      "id": "Link",
      "properties": {
        "description": {
          "description": "Describes what the link offers.",
          "type": "string"
        },
        "url": {
          "description": "The URL of the link.",
          "type": "string"
        }
      },
      "description": "Describes a URL link."
    },
    "StandardConnectionFormat": {
      "type": "object",
      "id": "StandardConnectionFormat",
      "properties": {
        "directConnection": {
          "description": "Optional. Deprecated: Use the `additional_options` map to specify the `directConnection` parameter instead. For example: `additional_options = {\"directConnection\": \"true\"}`. Specifies whether the client connects directly to the host[:port] in the connection URI.",
          "deprecated": true,
          "type": "boolean"
        }
      },
      "description": "Standard connection format."
    },
    "DiscoverConnectionProfileResponse": {
      "type": "object",
      "id": "DiscoverConnectionProfileResponse",
      "properties": {
        "sourceCatalog": {
          "$ref": "SourceCatalog",
          "description": "Enriched source catalog. This is mainly used to represent SaaS sources databases."
        },
        "salesforceOrg": {
          "description": "Enriched Salesforce organization.",
          "$ref": "SalesforceOrg"
        },
        "oracleRdbms": {
          "$ref": "OracleRdbms",
          "description": "Enriched Oracle RDBMS object."
        },
        "postgresqlRdbms": {
          "$ref": "PostgresqlRdbms",
          "description": "Enriched PostgreSQL RDBMS object."
        },
        "mysqlRdbms": {
          "description": "Enriched MySQL RDBMS object.",
          "$ref": "MysqlRdbms"
        },
        "sqlServerRdbms": {
          "$ref": "SqlServerRdbms",
          "description": "Enriched SQLServer RDBMS object."
        },
        "mongodbCluster": {
          "$ref": "MongodbCluster",
          "description": "Enriched MongoDB cluster."
        },
        "spannerDatabase": {
          "$ref": "SpannerDatabase",
          "description": "Enriched Spanner database."
        }
      },
      "description": "Response from a discover request."
    },
    "OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "id": "OperationMetadata",
      "properties": {
        "endTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime"
        },
        "validationResult": {
          "readOnly": true,
          "description": "Output only. Results of executed validations if there are any.",
          "$ref": "ValidationResult"
        },
        "verb": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation."
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime"
        },
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API version used to start the operation."
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "PrivateConnectivity": {
      "description": "Private Connectivity",
      "type": "object",
      "id": "PrivateConnectivity",
      "properties": {
        "privateConnection": {
          "description": "Required. A reference to a private connection resource. Format: `projects/{project}/locations/{location}/privateConnections/{name}`",
          "type": "string"
        }
      }
    },
    "SqlServerRdbms": {
      "id": "SqlServerRdbms",
      "properties": {
        "schemas": {
          "type": "array",
          "items": {
            "$ref": "SqlServerSchema"
          },
          "description": "SQLServer schemas in the database server."
        }
      },
      "type": "object",
      "description": "SQLServer database structure."
    },
    "PostgresqlObjectIdentifier": {
      "type": "object",
      "id": "PostgresqlObjectIdentifier",
      "properties": {
        "table": {
          "description": "Required. The table name.",
          "type": "string"
        },
        "schema": {
          "description": "Required. The schema name.",
          "type": "string"
        }
      },
      "description": "PostgreSQL data source object identifier."
    },
    "SourceConfig": {
      "description": "The configuration of the stream source.",
      "type": "object",
      "id": "SourceConfig",
      "properties": {
        "mysqlSourceConfig": {
          "$ref": "MysqlSourceConfig",
          "description": "MySQL data source configuration."
        },
        "salesforceSourceConfig": {
          "$ref": "SalesforceSourceConfig",
          "description": "Salesforce data source configuration."
        },
        "sourceConnectionProfile": {
          "description": "Required. Source connection profile resource. Format: `projects/{project}/locations/{location}/connectionProfiles/{name}`",
          "type": "string"
        },
        "sqlServerSourceConfig": {
          "$ref": "SqlServerSourceConfig",
          "description": "SQLServer data source configuration."
        },
        "spannerSourceConfig": {
          "description": "Spanner data source configuration.",
          "$ref": "SpannerSourceConfig"
        },
        "oracleSourceConfig": {
          "$ref": "OracleSourceConfig",
          "description": "Oracle data source configuration."
        },
        "salesforceMarketingCloudSourceConfig": {
          "description": "Salesforce Marketing Cloud data source configuration.",
          "$ref": "SalesforceMarketingCloudSourceConfig"
        },
        "serviceNowSourceConfig": {
          "description": "ServiceNow data source configuration.",
          "$ref": "ServiceNowSourceConfig"
        },
        "mongodbSourceConfig": {
          "description": "MongoDB data source configuration.",
          "$ref": "MongodbSourceConfig"
        },
        "dataverseSourceConfig": {
          "description": "Dataverse data source configuration.",
          "$ref": "DataverseSourceConfig"
        },
        "postgresqlSourceConfig": {
          "$ref": "PostgresqlSourceConfig",
          "description": "PostgreSQL data source configuration."
        },
        "workdaySourceConfig": {
          "description": "Optional. Workday data source configuration.",
          "$ref": "WorkdaySourceConfig"
        }
      }
    },
    "VpcPeeringConfig": {
      "description": "The VPC Peering configuration is used to create VPC peering between Datastream and the consumer's VPC.",
      "id": "VpcPeeringConfig",
      "properties": {
        "subnet": {
          "description": "Required. A free subnet for peering. (CIDR of /29)",
          "type": "string"
        },
        "vpc": {
          "description": "Required. Fully qualified name of the VPC that Datastream will peer to. Format: `projects/{project}/global/{networks}/{name}`",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SalesforceField": {
      "type": "object",
      "id": "SalesforceField",
      "properties": {
        "nillable": {
          "description": "Indicates whether the field can accept nil values.",
          "type": "boolean"
        },
        "name": {
          "description": "The field name.",
          "type": "string"
        },
        "dataType": {
          "description": "The data type.",
          "type": "string"
        }
      },
      "description": "Salesforce field."
    },
    "LogMiner": {
      "description": "Configuration to use LogMiner CDC method.",
      "type": "object",
      "id": "LogMiner",
      "properties": {}
    },
    "SingleTargetDataset": {
      "description": "A single target dataset to which all data will be streamed.",
      "type": "object",
      "id": "SingleTargetDataset",
      "properties": {
        "datasetId": {
          "description": "The dataset ID of the target dataset. DatasetIds allowed characters: https://cloud.google.com/bigquery/docs/reference/rest/v2/datasets#datasetreference.",
          "type": "string"
        }
      }
    },
    "BinaryLogPosition": {
      "description": "Use Binary log position based replication.",
      "type": "object",
      "id": "BinaryLogPosition",
      "properties": {}
    },
    "BackfillJob": {
      "type": "object",
      "id": "BackfillJob",
      "properties": {
        "trigger": {
          "enumDescriptions": [
            "Default value.",
            "Object backfill job was triggered automatically according to the stream's backfill strategy.",
            "Object backfill job was triggered manually using the dedicated API."
          ],
          "enum": [
            "TRIGGER_UNSPECIFIED",
            "AUTOMATIC",
            "MANUAL"
          ],
          "type": "string",
          "description": "Backfill job's triggering reason."
        },
        "eventFilter": {
          "$ref": "EventFilter",
          "description": "Output only. The filter for performing a partial backfill.",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Backfill job was never started for the stream object (stream has backfill strategy defined as manual or object was explicitly excluded from automatic backfill).",
            "Backfill job will start pending available resources.",
            "Backfill job is running.",
            "Backfill job stopped (next job run will start from beginning).",
            "Backfill job failed (due to an error).",
            "Backfill completed successfully.",
            "Backfill job failed since the table structure is currently unsupported for backfill."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "NOT_STARTED",
            "PENDING",
            "ACTIVE",
            "STOPPED",
            "FAILED",
            "COMPLETED",
            "UNSUPPORTED"
          ],
          "readOnly": true,
          "description": "Output only. Backfill job state."
        },
        "lastStartTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Backfill job's start time.",
          "format": "google-datetime"
        },
        "lastEndTime": {
          "description": "Output only. Backfill job's end time.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "errors": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Error"
          },
          "description": "Output only. Errors which caused the backfill job to fail."
        }
      },
      "description": "Represents a backfill job on a specific stream object."
    },
    "SalesforceMarketingCloudProfile": {
      "description": "Profile for connecting to a Salesforce Marketing Cloud source.",
      "type": "object",
      "id": "SalesforceMarketingCloudProfile",
      "properties": {
        "subdomain": {
          "description": "Required. Subdomain for the Salesforce Marketing Cloud connection. Example: if your specific endpoint is `https://{your-specific-subdomain}.rest.marketingcloudapis.com/`, the subdomain is `{your-specific-subdomain}`. Must be 1-63 characters, start and end with an alphanumeric character, and contain only lowercase letters, numbers, and hyphens (-).",
          "type": "string"
        },
        "oauthClientCredentials": {
          "$ref": "OauthClientCredentials",
          "description": "Required. Input only. Credentials for authenticating with the Salesforce Marketing Cloud API."
        }
      }
    },
    "ListConnectionProfilesResponse": {
      "description": "Response message for listing connection profiles.",
      "type": "object",
      "id": "ListConnectionProfilesResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "connectionProfiles": {
          "type": "array",
          "description": "List of connection profiles.",
          "items": {
            "$ref": "ConnectionProfile"
          }
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "StopBackfillJobResponse": {
      "description": "Response for manually stop a backfill job for a specific stream object.",
      "id": "StopBackfillJobResponse",
      "properties": {
        "object": {
          "$ref": "StreamObject",
          "description": "The stream object resource the backfill job was stopped for."
        }
      },
      "type": "object"
    },
    "OracleSslConfig": {
      "description": "Oracle SSL configuration information.",
      "id": "OracleSslConfig",
      "properties": {
        "caCertificate": {
          "description": "Input only. PEM-encoded certificate of the CA that signed the source database server's certificate.",
          "type": "string"
        },
        "caCertificateSet": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates whether the ca_certificate field has been set for this Connection-Profile."
        },
        "serverCertificateDistinguishedName": {
          "description": "Optional. The distinguished name (DN) mentioned in the server certificate. This corresponds to SSL_SERVER_CERT_DN sqlnet parameter. Refer https://docs.oracle.com/en/database/oracle/oracle-database/19/netrf/local-naming-parameters-in-tns-ora-file.html#GUID-70AB0695-A9AA-4A94-B141-4C605236EEB7 If this field is not provided, the DN matching is not enforced.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PostgresqlSourceConfig": {
      "description": "Configuration for syncing data from a PostgreSQL source.",
      "type": "object",
      "id": "PostgresqlSourceConfig",
      "properties": {
        "includeObjects": {
          "$ref": "PostgresqlRdbms",
          "description": "The PostgreSQL objects to include in the stream."
        },
        "maxConcurrentBackfillTasks": {
          "description": "Maximum number of concurrent backfill tasks. The number should be non negative. If not set (or set to 0), the system's default value will be used.",
          "format": "int32",
          "type": "integer"
        },
        "excludeObjects": {
          "description": "The PostgreSQL objects to exclude from the stream.",
          "$ref": "PostgresqlRdbms"
        },
        "replicationSlot": {
          "description": "Required. Immutable. The name of the logical replication slot that's configured with the pgoutput plugin.",
          "type": "string"
        },
        "publication": {
          "description": "Required. The name of the publication that includes the set of all tables that are defined in the stream's include_objects.",
          "type": "string"
        }
      }
    },
    "Validation": {
      "id": "Validation",
      "properties": {
        "state": {
          "description": "Output only. Validation execution status.",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified state.",
            "Validation did not execute.",
            "Validation failed.",
            "Validation passed.",
            "Validation executed with warnings."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "NOT_EXECUTED",
            "FAILED",
            "PASSED",
            "WARNING"
          ],
          "type": "string"
        },
        "code": {
          "description": "A custom code identifying this validation.",
          "type": "string"
        },
        "description": {
          "description": "A short description of the validation.",
          "type": "string"
        },
        "message": {
          "type": "array",
          "description": "Messages reflecting the validation results.",
          "items": {
            "$ref": "ValidationMessage"
          }
        }
      },
      "type": "object",
      "description": "A validation to perform on a stream."
    },
    "MysqlTable": {
      "description": "MySQL table.",
      "id": "MysqlTable",
      "properties": {
        "table": {
          "description": "The table name.",
          "type": "string"
        },
        "mysqlColumns": {
          "type": "array",
          "items": {
            "$ref": "MysqlColumn"
          },
          "description": "MySQL columns in the database. When unspecified as part of include/exclude objects, includes/excludes everything."
        }
      },
      "type": "object"
    },
    "SqlServerTable": {
      "type": "object",
      "id": "SqlServerTable",
      "properties": {
        "table": {
          "description": "The table name.",
          "type": "string"
        },
        "columns": {
          "type": "array",
          "items": {
            "$ref": "SqlServerColumn"
          },
          "description": "SQLServer columns in the schema. When unspecified as part of include/exclude objects, includes/excludes everything."
        }
      },
      "description": "SQLServer table."
    },
    "Location": {
      "id": "Location",
      "properties": {
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "A resource that represents a Google Cloud location."
    },
    "MongodbChangeStreamPosition": {
      "description": "MongoDB change stream position",
      "type": "object",
      "id": "MongodbChangeStreamPosition",
      "properties": {
        "startTime": {
          "description": "Required. The timestamp to start change stream from.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "PostgresqlTable": {
      "description": "PostgreSQL table.",
      "id": "PostgresqlTable",
      "properties": {
        "table": {
          "description": "The table name.",
          "type": "string"
        },
        "postgresqlColumns": {
          "description": "PostgreSQL columns in the schema. When unspecified as part of include/exclude objects, includes/excludes everything.",
          "items": {
            "$ref": "PostgresqlColumn"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "MongodbCollection": {
      "description": "MongoDB Collection.",
      "id": "MongodbCollection",
      "properties": {
        "fields": {
          "type": "array",
          "items": {
            "$ref": "MongodbField"
          },
          "description": "Fields in the collection."
        },
        "collection": {
          "description": "The collection name.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SpannerDatabase": {
      "type": "object",
      "id": "SpannerDatabase",
      "properties": {
        "schemas": {
          "items": {
            "$ref": "SpannerSchema"
          },
          "description": "Optional. Spanner schemas in the database.",
          "type": "array"
        }
      },
      "description": "Spanner database structure."
    },
    "SalesforceSourceConfig": {
      "id": "SalesforceSourceConfig",
      "properties": {
        "includeObjects": {
          "description": "The Salesforce objects to retrieve from the source.",
          "$ref": "SalesforceOrg"
        },
        "excludeObjects": {
          "$ref": "SalesforceOrg",
          "description": "The Salesforce objects to exclude from the stream."
        },
        "pollingInterval": {
          "type": "string",
          "description": "Required. Salesforce objects polling interval. The interval at which new changes will be polled for each object. The duration must be from `5 minutes` to `24 hours`, inclusive.",
          "format": "google-duration"
        }
      },
      "type": "object",
      "description": "Configuration for syncing data from a Salesforce source."
    },
    "Route": {
      "description": "The route resource is the child of the private connection resource, used for defining a route for a private connection.",
      "id": "Route",
      "properties": {
        "labels": {
          "description": "Labels.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "displayName": {
          "description": "Required. Display name.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The create time of the resource.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The update time of the resource.",
          "format": "google-datetime"
        },
        "destinationAddress": {
          "description": "Required. Destination address for connection",
          "type": "string"
        },
        "destinationPort": {
          "description": "Destination port for connection",
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Identifier. The resource's name."
        }
      },
      "type": "object"
    },
    "BasicEncryption": {
      "description": "Message to represent the option where Datastream will enforce encryption without authenticating server identity. Server certificates will be trusted by default.",
      "type": "object",
      "id": "BasicEncryption",
      "properties": {}
    },
    "MongodbProfile": {
      "type": "object",
      "id": "MongodbProfile",
      "properties": {
        "srvConnectionFormat": {
          "$ref": "SrvConnectionFormat",
          "description": "Srv connection format."
        },
        "additionalOptions": {
          "type": "object",
          "description": "Optional. Specifies additional options for the MongoDB connection. The options should be sent as key-value pairs, for example: `additional_options = {\"serverSelectionTimeoutMS\": \"10000\", \"directConnection\": \"true\"}`. Keys are case-sensitive and should match the official MongoDB connection string options: https://www.mongodb.com/docs/manual/reference/connection-string-options/ The server will not modify the values provided by the user.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "standardConnectionFormat": {
          "$ref": "StandardConnectionFormat",
          "description": "Standard connection format."
        },
        "replicaSet": {
          "description": "Optional. Name of the replica set. Only needed for self hosted replica set type MongoDB cluster. For SRV connection format, this field must be empty. For Standard connection format, this field must be specified.",
          "type": "string"
        },
        "username": {
          "description": "Required. Username for the MongoDB connection.",
          "type": "string"
        },
        "secretManagerStoredPassword": {
          "description": "Optional. A reference to a Secret Manager resource name storing the SQLServer connection password. Mutually exclusive with the `password` field.",
          "type": "string"
        },
        "hostAddresses": {
          "items": {
            "$ref": "HostAddress"
          },
          "description": "Required. List of host addresses for a MongoDB cluster. For SRV connection format, this list must contain exactly one DNS host without a port. For Standard connection format, this list must contain all the required hosts in the cluster with their respective ports.",
          "type": "array"
        },
        "sslConfig": {
          "description": "Optional. SSL configuration for the MongoDB connection.",
          "$ref": "MongodbSslConfig"
        },
        "password": {
          "description": "Optional. Password for the MongoDB connection. Mutually exclusive with the `secret_manager_stored_password` field.",
          "type": "string"
        }
      },
      "description": "Profile for connecting to a MongoDB source."
    },
    "FetchStaticIpsResponse": {
      "id": "FetchStaticIpsResponse",
      "properties": {
        "staticIps": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "list of static ips by account"
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for a 'FetchStaticIps' response."
    },
    "AppendOnly": {
      "id": "AppendOnly",
      "properties": {},
      "type": "object",
      "description": "AppendOnly mode defines that all changes to a table will be written to the destination table."
    },
    "BigQueryPartitioning": {
      "type": "object",
      "id": "BigQueryPartitioning",
      "properties": {
        "requirePartitionFilter": {
          "description": "Optional. If true, queries over the table require a partition filter.",
          "type": "boolean"
        },
        "integerRangePartition": {
          "$ref": "IntegerRangePartition",
          "description": "Integer range partitioning."
        },
        "timeUnitPartition": {
          "description": "Time unit column partitioning.",
          "$ref": "TimeUnitPartition"
        },
        "ingestionTimePartition": {
          "description": "Ingestion time partitioning.",
          "$ref": "IngestionTimePartition"
        }
      },
      "description": "BigQuery partitioning configuration."
    },
    "SpannerObjectIdentifier": {
      "description": "Spanner data source object identifier.",
      "type": "object",
      "id": "SpannerObjectIdentifier",
      "properties": {
        "table": {
          "description": "Required. The table name.",
          "type": "string"
        },
        "schema": {
          "description": "Optional. The schema name.",
          "type": "string"
        }
      }
    },
    "HostAddress": {
      "id": "HostAddress",
      "properties": {
        "port": {
          "type": "integer",
          "description": "Optional. Port for the connection.",
          "format": "int32"
        },
        "hostname": {
          "description": "Required. Hostname for the connection.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A HostAddress represents a transport end point, which is the combination of an IP address or hostname and a port number."
    },
    "GcsDestinationConfig": {
      "description": "Google Cloud Storage destination configuration",
      "type": "object",
      "id": "GcsDestinationConfig",
      "properties": {
        "fileRotationInterval": {
          "type": "string",
          "description": "The maximum duration for which new events are added before a file is closed and a new file is created. Values within the range of 15-60 seconds are allowed.",
          "format": "google-duration"
        },
        "avroFileFormat": {
          "description": "AVRO file format configuration.",
          "$ref": "AvroFileFormat"
        },
        "path": {
          "description": "Path inside the Cloud Storage bucket to write data to.",
          "type": "string"
        },
        "jsonFileFormat": {
          "$ref": "JsonFileFormat",
          "description": "JSON file format configuration."
        },
        "fileRotationMb": {
          "type": "integer",
          "description": "The maximum file size to be saved in the bucket.",
          "format": "int32"
        }
      }
    },
    "StaticServiceIpConnectivity": {
      "description": "Static IP address connectivity. Used when the source database is configured to allow incoming connections from the Datastream public IP addresses for the region specified in the connection profile.",
      "type": "object",
      "id": "StaticServiceIpConnectivity",
      "properties": {}
    },
    "OracleAsmLogFileAccess": {
      "description": "Configuration to use Oracle ASM to access the log files.",
      "type": "object",
      "id": "OracleAsmLogFileAccess",
      "properties": {}
    },
    "DataverseProfile": {
      "id": "DataverseProfile",
      "properties": {
        "oauthClientCredentials": {
          "description": "Required. Credentials for authenticating with the Dataverse API.",
          "$ref": "OauthClientCredentials"
        },
        "environmentUrl": {
          "description": "Required. Environment URL of the Microsoft Dataverse instance. Example: `.crm.dynamics.com`",
          "type": "string"
        },
        "tenantId": {
          "description": "Required. Tenant id of the Microsoft Dataverse instance.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Profile for connecting to a Dataverse source."
    },
    "Merge": {
      "description": "Merge mode defines that all changes to a table will be merged at the destination table.",
      "id": "Merge",
      "properties": {},
      "type": "object"
    },
    "SqlServerLsnPosition": {
      "description": "SQL Server LSN position",
      "type": "object",
      "id": "SqlServerLsnPosition",
      "properties": {
        "lsn": {
          "description": "Required. Log sequence number (LSN) from where Logs will be read",
          "type": "string"
        }
      }
    },
    "ObjectFilter": {
      "description": "Object filter to apply the rules to.",
      "id": "ObjectFilter",
      "properties": {
        "sourceObjectIdentifier": {
          "description": "Specific source object identifier.",
          "$ref": "SourceObjectIdentifier"
        }
      },
      "type": "object"
    },
    "OauthRefreshTokenCredentials": {
      "type": "object",
      "id": "OauthRefreshTokenCredentials",
      "properties": {
        "refreshToken": {
          "description": "Required. Specifies the OAuth Refresh Token.",
          "$ref": "Secret"
        },
        "oauthClientCredentials": {
          "$ref": "OauthClientCredentials",
          "description": "Required. Specifies the OAuth Client Credentials."
        }
      },
      "description": "OAuth Refresh Token Credentials."
    },
    "SalesforceMarketingCloudSourceConfig": {
      "id": "SalesforceMarketingCloudSourceConfig",
      "properties": {
        "includeObjects": {
          "$ref": "SourceCatalog",
          "description": "Optional. The objects to retrieve from the source."
        },
        "excludeObjects": {
          "$ref": "SourceCatalog",
          "description": "Optional. The objects to exclude from the stream."
        },
        "pollingInterval": {
          "type": "string",
          "description": "Required. Incremental sync polling interval for all objects. If not set, a default value of `5 minutes` is used. The duration must be from `5 minutes` to `24 hours`, inclusive.",
          "format": "google-duration"
        },
        "fullRefreshPollingInterval": {
          "description": "Required. Specifies the polling interval for a full refresh of objects that do not support incremental sync. If not set, a default value of 24 hours is used. The duration must be between 1 and 24 hours, inclusive.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Configuration for syncing data from a Salesforce Marketing Cloud source."
    },
    "PrivateConnection": {
      "type": "object",
      "id": "PrivateConnection",
      "properties": {
        "createTime": {
          "description": "Output only. The create time of the resource.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Identifier. The resource's name."
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The update time of the resource.",
          "format": "google-datetime"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "The private connection is in creation state - creating resources.",
            "The private connection has been created with all of its resources.",
            "The private connection creation has failed.",
            "The private connection is being deleted.",
            "Delete request has failed, resource is in invalid state."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "CREATED",
            "FAILED",
            "DELETING",
            "FAILED_TO_DELETE"
          ],
          "readOnly": true,
          "description": "Output only. The state of the Private Connection."
        },
        "satisfiesPzi": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Reserved for future use."
        },
        "pscInterfaceConfig": {
          "$ref": "PscInterfaceConfig",
          "description": "PSC Interface Config."
        },
        "labels": {
          "description": "Labels.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "displayName": {
          "description": "Required. Display name.",
          "type": "string"
        },
        "error": {
          "description": "Output only. In case of error, the details of the error in a user-friendly format.",
          "$ref": "Error",
          "readOnly": true
        },
        "vpcPeeringConfig": {
          "description": "VPC Peering Config.",
          "$ref": "VpcPeeringConfig"
        }
      },
      "description": "The PrivateConnection resource is used to establish private connectivity between Datastream and a customer's network."
    },
    "JsonFileFormat": {
      "description": "JSON file format configuration.",
      "id": "JsonFileFormat",
      "properties": {
        "schemaFileFormat": {
          "description": "The schema file format along JSON data files.",
          "enumDescriptions": [
            "Unspecified schema file format.",
            "Do not attach schema file.",
            "Avro schema format."
          ],
          "enum": [
            "SCHEMA_FILE_FORMAT_UNSPECIFIED",
            "NO_SCHEMA_FILE",
            "AVRO_SCHEMA_FILE"
          ],
          "type": "string"
        },
        "compression": {
          "enumDescriptions": [
            "Unspecified json file compression.",
            "Do not compress JSON file.",
            "Gzip compression."
          ],
          "enum": [
            "JSON_COMPRESSION_UNSPECIFIED",
            "NO_COMPRESSION",
            "GZIP"
          ],
          "type": "string",
          "description": "Compression of the loaded JSON file."
        }
      },
      "type": "object"
    },
    "BadRequest": {
      "type": "object",
      "id": "BadRequest",
      "properties": {
        "fieldViolations": {
          "items": {
            "$ref": "FieldViolation"
          },
          "description": "Describes all violations in a client request.",
          "type": "array"
        }
      },
      "description": "Describes violations in a client request. This error type focuses on the syntactic aspects of the request."
    },
    "ForwardSshTunnelConnectivity": {
      "type": "object",
      "id": "ForwardSshTunnelConnectivity",
      "properties": {
        "username": {
          "description": "Required. Username for the SSH tunnel.",
          "type": "string"
        },
        "password": {
          "description": "Input only. SSH password.",
          "type": "string"
        },
        "privateKey": {
          "description": "Input only. SSH private key.",
          "type": "string"
        },
        "port": {
          "description": "Port for the SSH tunnel, default value is 22.",
          "format": "int32",
          "type": "integer"
        },
        "hostname": {
          "description": "Required. Hostname for the SSH tunnel.",
          "type": "string"
        }
      },
      "description": "Forward SSH Tunnel connectivity."
    },
    "ServerVerification": {
      "description": "Message represents the option where Datastream will enforce the encryption and authenticate the server identity. ca_certificate must be set if user selects this option.",
      "id": "ServerVerification",
      "properties": {
        "serverCertificateHostname": {
          "description": "Optional. The hostname mentioned in the Subject or SAN extension of the server certificate. If this field is not provided, the hostname in the server certificate is not validated.",
          "type": "string"
        },
        "caCertificate": {
          "description": "Required. Input only. PEM-encoded server root CA certificate.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "MysqlRdbms": {
      "description": "MySQL database structure",
      "id": "MysqlRdbms",
      "properties": {
        "mysqlDatabases": {
          "description": "Mysql databases on the server",
          "items": {
            "$ref": "MysqlDatabase"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "DataverseSourceConfig": {
      "id": "DataverseSourceConfig",
      "properties": {
        "pollingInterval": {
          "description": "Required. Incremental sync polling interval for all objects. If not set, a default value of `5 minutes` is used. The duration must be from `5 minutes` to `24 hours`, inclusive.",
          "format": "google-duration",
          "type": "string"
        },
        "includeObjects": {
          "description": "Optional. The objects to retrieve from the source.",
          "$ref": "SourceCatalog"
        },
        "excludeObjects": {
          "description": "Optional. The objects to exclude from the stream.",
          "$ref": "SourceCatalog"
        }
      },
      "type": "object",
      "description": "Configuration for syncing data from a Dataverse source."
    },
    "ConnectionProfile": {
      "type": "object",
      "id": "ConnectionProfile",
      "properties": {
        "salesforceMarketingCloudProfile": {
          "$ref": "SalesforceMarketingCloudProfile",
          "description": "Profile for connecting to a Salesforce Marketing Cloud source."
        },
        "staticServiceIpConnectivity": {
          "description": "Static Service IP connectivity.",
          "$ref": "StaticServiceIpConnectivity"
        },
        "salesforceProfile": {
          "$ref": "SalesforceProfile",
          "description": "Profile for connecting to a Salesforce source."
        },
        "postgresqlProfile": {
          "$ref": "PostgresqlProfile",
          "description": "Profile for connecting to a PostgreSQL source."
        },
        "serviceNowProfile": {
          "$ref": "ServiceNowProfile",
          "description": "Profile for connecting to a ServiceNow source."
        },
        "satisfiesPzi": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Reserved for future use."
        },
        "spannerProfile": {
          "$ref": "SpannerProfile",
          "description": "Profile for connecting to a Spanner source."
        },
        "mongodbProfile": {
          "$ref": "MongodbProfile",
          "description": "Profile for connecting to a MongoDB source."
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "forwardSshConnectivity": {
          "description": "Forward SSH tunnel connectivity.",
          "$ref": "ForwardSshTunnelConnectivity"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The create time of the resource.",
          "format": "google-datetime"
        },
        "workdayProfile": {
          "$ref": "WorkdayProfile",
          "description": "Optional. Profile for connecting to a Workday source."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Identifier. The resource's name."
        },
        "sqlServerProfile": {
          "description": "Profile for connecting to a SQLServer source.",
          "$ref": "SqlServerProfile"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels."
        },
        "displayName": {
          "description": "Required. Display name.",
          "type": "string"
        },
        "privateConnectivity": {
          "$ref": "PrivateConnectivity",
          "description": "Private connectivity."
        },
        "oracleProfile": {
          "$ref": "OracleProfile",
          "description": "Profile for connecting to an Oracle source."
        },
        "gcsProfile": {
          "description": "Profile for connecting to a Cloud Storage destination.",
          "$ref": "GcsProfile"
        },
        "mysqlProfile": {
          "description": "Profile for connecting to a MySQL source.",
          "$ref": "MysqlProfile"
        },
        "dataverseProfile": {
          "$ref": "DataverseProfile",
          "description": "Profile for connecting to a Dataverse source."
        },
        "bigqueryProfile": {
          "description": "Profile for connecting to a BigQuery destination.",
          "$ref": "BigQueryProfile"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The update time of the resource.",
          "format": "google-datetime"
        }
      },
      "description": "A set of reusable connection configurations to be used as a source or destination for a stream."
    },
    "BigQueryProfile": {
      "id": "BigQueryProfile",
      "properties": {},
      "type": "object",
      "description": "Profile for connecting to a BigQuery destination."
    },
    "Gtid": {
      "id": "Gtid",
      "properties": {},
      "type": "object",
      "description": "Use GTID based replication."
    },
    "CdcStrategy": {
      "id": "CdcStrategy",
      "properties": {
        "mostRecentStartPosition": {
          "description": "Optional. Start replicating from the most recent position in the source.",
          "$ref": "MostRecentStartPosition"
        },
        "nextAvailableStartPosition": {
          "description": "Optional. Resume replication from the next available position in the source.",
          "$ref": "NextAvailableStartPosition"
        },
        "specificStartPosition": {
          "$ref": "SpecificStartPosition",
          "description": "Optional. Start replicating from a specific position in the source."
        }
      },
      "type": "object",
      "description": "The strategy that the stream uses for CDC replication."
    },
    "SourceObject": {
      "description": "Source object.",
      "id": "SourceObject",
      "properties": {
        "objectName": {
          "description": "Required. The object name.",
          "type": "string"
        },
        "properties": {
          "type": "array",
          "items": {
            "$ref": "SourceProperty"
          },
          "description": "Optional. Source properties. When unspecified as part of include objects, includes everything, when unspecified as part of exclude objects, excludes nothing."
        }
      },
      "type": "object"
    },
    "RunStreamRequest": {
      "id": "RunStreamRequest",
      "properties": {
        "cdcStrategy": {
          "description": "Optional. The CDC strategy of the stream. If not set, the system's default value will be used.",
          "$ref": "CdcStrategy"
        },
        "force": {
          "description": "Optional. Update the stream without validating it.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Request message for running a stream."
    },
    "OracleScnPosition": {
      "description": "Oracle SCN position",
      "type": "object",
      "id": "OracleScnPosition",
      "properties": {
        "scn": {
          "description": "Required. SCN number from where Logs will be read",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "OracleSchema": {
      "description": "Oracle schema.",
      "type": "object",
      "id": "OracleSchema",
      "properties": {
        "oracleTables": {
          "items": {
            "$ref": "OracleTable"
          },
          "description": "Tables in the schema.",
          "type": "array"
        },
        "schema": {
          "description": "The schema name.",
          "type": "string"
        }
      }
    },
    "Secret": {
      "description": "A confidential piece of information where the actual value is either directly specified in the message as a raw string or stored in GCP secret manager.",
      "type": "object",
      "id": "Secret",
      "properties": {
        "rawValue": {
          "description": "Optional. Input only. The actual raw value of the secret as plain text.",
          "type": "string"
        },
        "secretVersion": {
          "description": "Optional. A Secret Manager resource name storing the actual value of the secret. Supported formats: * projects/{project}/locations/{location}/secrets/{secret}/versions/{version} * projects/{project}/secrets/{secret}/versions/{version}",
          "type": "string"
        }
      }
    },
    "PostgresqlColumn": {
      "id": "PostgresqlColumn",
      "properties": {
        "ordinalPosition": {
          "description": "The ordinal position of the column in the table.",
          "format": "int32",
          "type": "integer"
        },
        "column": {
          "description": "The column name.",
          "type": "string"
        },
        "scale": {
          "description": "Column scale.",
          "format": "int32",
          "type": "integer"
        },
        "length": {
          "type": "integer",
          "description": "Column length.",
          "format": "int32"
        },
        "dataType": {
          "description": "The PostgreSQL data type.",
          "type": "string"
        },
        "nullable": {
          "description": "Whether or not the column can accept a null value.",
          "type": "boolean"
        },
        "precision": {
          "description": "Column precision.",
          "format": "int32",
          "type": "integer"
        },
        "primaryKey": {
          "description": "Whether or not the column represents a primary key.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "PostgreSQL Column."
    },
    "LogFileDirectories": {
      "description": "Configuration to specify the Oracle directories to access the log files.",
      "id": "LogFileDirectories",
      "properties": {
        "archivedLogDirectory": {
          "description": "Required. Oracle directory for archived logs.",
          "type": "string"
        },
        "onlineLogDirectory": {
          "description": "Required. Oracle directory for online logs.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "RetryInfo": {
      "description": "Describes when the clients can retry a failed request. Clients could ignore the recommendation here or retry when this information is missing from error responses. It's always recommended that clients should use exponential backoff when retrying. Clients should wait until `retry_delay` amount of time has passed since receiving the error response before retrying. If retrying requests also fail, clients should use an exponential backoff scheme to gradually increase the delay between retries based on `retry_delay`, until either a maximum number of retries have been reached or a maximum retry delay cap has been reached.",
      "type": "object",
      "id": "RetryInfo",
      "properties": {
        "retryDelay": {
          "description": "Clients should wait at least this long between retrying the same request.",
          "format": "google-duration",
          "type": "string"
        }
      }
    },
    "BackfillAllStrategy": {
      "type": "object",
      "id": "BackfillAllStrategy",
      "properties": {
        "mongodbExcludedObjects": {
          "description": "MongoDB data source objects to avoid backfilling",
          "$ref": "MongodbCluster"
        },
        "salesforceExcludedObjects": {
          "description": "Salesforce data source objects to avoid backfilling",
          "$ref": "SalesforceOrg"
        },
        "spannerExcludedObjects": {
          "description": "Spanner data source objects to avoid backfilling.",
          "$ref": "SpannerDatabase"
        },
        "oracleExcludedObjects": {
          "description": "Oracle data source objects to avoid backfilling.",
          "$ref": "OracleRdbms"
        },
        "mysqlExcludedObjects": {
          "description": "MySQL data source objects to avoid backfilling.",
          "$ref": "MysqlRdbms"
        },
        "sqlServerExcludedObjects": {
          "$ref": "SqlServerRdbms",
          "description": "SQLServer data source objects to avoid backfilling"
        },
        "saasExcludedObjects": {
          "description": "Source catalog data source objects to avoid backfilling. This is mainly used to represent SaaS applications objects.",
          "$ref": "SourceCatalog"
        },
        "postgresqlExcludedObjects": {
          "$ref": "PostgresqlRdbms",
          "description": "PostgreSQL data source objects to avoid backfilling."
        }
      },
      "description": "Backfill strategy to automatically backfill the Stream's objects. Specific objects can be excluded."
    },
    "QuotaFailureViolation": {
      "description": "A message type used to describe a single quota violation. For example, a daily quota or a custom quota that was exceeded.",
      "id": "QuotaFailureViolation",
      "properties": {
        "quotaMetric": {
          "description": "The metric of the violated quota. A quota metric is a named counter to measure usage, such as API requests or CPUs. When an activity occurs in a service, such as Virtual Machine allocation, one or more quota metrics may be affected. For example, \"compute.googleapis.com/cpus_per_vm_family\", \"storage.googleapis.com/internet_egress_bandwidth\".",
          "type": "string"
        },
        "description": {
          "description": "A description of how the quota check failed. Clients can use this description to find more about the quota configuration in the service's public documentation, or find the relevant quota limit to adjust through developer console. For example: \"Service disabled\" or \"Daily Limit for read operations exceeded\".",
          "type": "string"
        },
        "quotaId": {
          "description": "The id of the violated quota. Also know as \"limit name\", this is the unique identifier of a quota in the context of an API service. For example, \"CPUS-PER-VM-FAMILY-per-project-region\".",
          "type": "string"
        },
        "quotaDimensions": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The dimensions of the violated quota. Every non-global quota is enforced on a set of dimensions. While quota metric defines what to count, the dimensions specify for what aspects the counter should be increased. For example, the quota \"CPUs per region per VM family\" enforces a limit on the metric \"compute.googleapis.com/cpus_per_vm_family\" on dimensions \"region\" and \"vm_family\". And if the violation occurred in region \"us-central1\" and for VM family \"n1\", the quota_dimensions would be, { \"region\": \"us-central1\", \"vm_family\": \"n1\", } When a quota is enforced globally, the quota_dimensions would always be empty."
        },
        "futureQuotaValue": {
          "description": "The new quota value being rolled out at the time of the violation. At the completion of the rollout, this value will be enforced in place of quota_value. If no rollout is in progress at the time of the violation, this field is not set. For example, if at the time of the violation a rollout is in progress changing the number of CPUs quota from 10 to 20, 20 would be the value of this field.",
          "format": "int64",
          "type": "string"
        },
        "subject": {
          "description": "The subject on which the quota check failed. For example, \"clientip:\" or \"project:\".",
          "type": "string"
        },
        "apiService": {
          "description": "The API Service from which the `QuotaFailure.Violation` originates. In some cases, Quota issues originate from an API Service other than the one that was called. In other words, a dependency of the called API Service could be the cause of the `QuotaFailure`, and this field would have the dependency API service name. For example, if the called API is Kubernetes Engine API (container.googleapis.com), and a quota violation occurs in the Kubernetes Engine API itself, this field would be \"container.googleapis.com\". On the other hand, if the quota violation occurs when the Kubernetes Engine API creates VMs in the Compute Engine API (compute.googleapis.com), this field would be \"compute.googleapis.com\".",
          "type": "string"
        },
        "quotaValue": {
          "type": "string",
          "description": "The enforced quota value at the time of the `QuotaFailure`. For example, if the enforced quota value at the time of the `QuotaFailure` on the number of CPUs is \"10\", then the value of this field would reflect this quantity.",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "ListPrivateConnectionsResponse": {
      "id": "ListPrivateConnectionsResponse",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "privateConnections": {
          "items": {
            "$ref": "PrivateConnection"
          },
          "description": "List of private connectivity configurations.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response containing a list of private connection configurations."
    },
    "ListStreamsResponse": {
      "type": "object",
      "id": "ListStreamsResponse",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "streams": {
          "type": "array",
          "description": "List of streams",
          "items": {
            "$ref": "Stream"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for listing streams."
    },
    "StreamLargeObjects": {
      "type": "object",
      "id": "StreamLargeObjects",
      "properties": {},
      "description": "Configuration to stream large object values."
    },
    "ValidationMessage": {
      "id": "ValidationMessage",
      "properties": {
        "message": {
          "description": "The result of the validation.",
          "type": "string"
        },
        "metadata": {
          "description": "Additional metadata related to the result.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "level": {
          "description": "Message severity level (warning or error).",
          "type": "string",
          "enumDescriptions": [
            "Unspecified level.",
            "Potentially cause issues with the Stream.",
            "Definitely cause issues with the Stream."
          ],
          "enum": [
            "LEVEL_UNSPECIFIED",
            "WARNING",
            "ERROR"
          ]
        },
        "code": {
          "description": "A custom code identifying this specific message.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represent user-facing validation result message."
    },
    "Oauth2ClientCredentials": {
      "type": "object",
      "id": "Oauth2ClientCredentials",
      "properties": {
        "clientId": {
          "description": "Required. Client ID for Salesforce OAuth2 Client Credentials.",
          "type": "string"
        },
        "clientSecret": {
          "description": "Optional. Client secret for Salesforce OAuth2 Client Credentials. Mutually exclusive with the `secret_manager_stored_client_secret` field.",
          "type": "string"
        },
        "secretManagerStoredClientSecret": {
          "description": "Optional. A reference to a Secret Manager resource name storing the Salesforce OAuth2 client_secret. Mutually exclusive with the `client_secret` field.",
          "type": "string"
        }
      },
      "description": "OAuth2 Client Credentials."
    },
    "SourceCatalog": {
      "description": "Source catalog.",
      "type": "object",
      "id": "SourceCatalog",
      "properties": {
        "objects": {
          "type": "array",
          "description": "Optional. Source objects in the catalog.",
          "items": {
            "$ref": "SourceObject"
          }
        }
      }
    },
    "StartBackfillJobRequest": {
      "description": "Request for manually initiating a backfill job for a specific stream object.",
      "id": "StartBackfillJobRequest",
      "properties": {
        "eventFilter": {
          "$ref": "EventFilter",
          "description": "Optional. Optional event filter. If not set, or empty, the backfill will be performed on the entire object. This is currently used for partial backfill and only supported for SQL sources."
        }
      },
      "type": "object"
    },
    "OracleSourceConfig": {
      "type": "object",
      "id": "OracleSourceConfig",
      "properties": {
        "maxConcurrentBackfillTasks": {
          "type": "integer",
          "description": "Maximum number of concurrent backfill tasks. The number should be non-negative. If not set (or set to 0), the system's default value is used.",
          "format": "int32"
        },
        "logMiner": {
          "description": "Use LogMiner.",
          "$ref": "LogMiner"
        },
        "excludeObjects": {
          "description": "The Oracle objects to exclude from the stream.",
          "$ref": "OracleRdbms"
        },
        "dropLargeObjects": {
          "$ref": "DropLargeObjects",
          "description": "Drop large object values."
        },
        "binaryLogParser": {
          "$ref": "BinaryLogParser",
          "description": "Use Binary Log Parser."
        },
        "maxConcurrentCdcTasks": {
          "type": "integer",
          "description": "Maximum number of concurrent CDC tasks. The number should be non-negative. If not set (or set to 0), the system's default value is used.",
          "format": "int32"
        },
        "includeObjects": {
          "description": "The Oracle objects to include in the stream.",
          "$ref": "OracleRdbms"
        },
        "streamLargeObjects": {
          "$ref": "StreamLargeObjects",
          "description": "Stream large object values."
        }
      },
      "description": "Configuration for syncing data from an Oracle source."
    },
    "SalesforceOrg": {
      "type": "object",
      "id": "SalesforceOrg",
      "properties": {
        "objects": {
          "items": {
            "$ref": "SalesforceObject"
          },
          "description": "Salesforce objects in the database server.",
          "type": "array"
        }
      },
      "description": "Salesforce organization structure."
    },
    "SqlServerSourceConfig": {
      "type": "object",
      "id": "SqlServerSourceConfig",
      "properties": {
        "maxConcurrentBackfillTasks": {
          "description": "Max concurrent backfill tasks.",
          "format": "int32",
          "type": "integer"
        },
        "transactionLogs": {
          "$ref": "SqlServerTransactionLogs",
          "description": "CDC reader reads from transaction logs."
        },
        "excludeObjects": {
          "$ref": "SqlServerRdbms",
          "description": "The SQLServer objects to exclude from the stream."
        },
        "changeTables": {
          "description": "CDC reader reads from change tables.",
          "$ref": "SqlServerChangeTables"
        },
        "includeObjects": {
          "description": "The SQLServer objects to include in the stream.",
          "$ref": "SqlServerRdbms"
        },
        "maxConcurrentCdcTasks": {
          "type": "integer",
          "description": "Max concurrent CDC tasks.",
          "format": "int32"
        }
      },
      "description": "Configuration for syncing data from a SQLServer source."
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "MysqlObjectIdentifier": {
      "description": "Mysql data source object identifier.",
      "type": "object",
      "id": "MysqlObjectIdentifier",
      "properties": {
        "database": {
          "description": "Required. The database name.",
          "type": "string"
        },
        "table": {
[...]
