{
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "revision": "20260824",
  "documentationLink": "https://developers.google.com/data-manager",
  "description": "A unified ingestion API for data partners, agencies and advertisers to connect first-party data across Google advertising products.",
  "version": "v1",
  "fullyEncodeReservedExpansion": true,
  "title": "Data Manager API",
  "id": "datamanager:v1",
  "kind": "discovery#restDescription",
  "schemas": {
    "IngestMobileDataStatus": {
      "type": "object",
      "description": "The status of the mobile data ingestion to the destination containing stats related to the ingestion.",
      "id": "IngestMobileDataStatus",
      "properties": {
        "mobileIdCount": {
          "type": "string",
          "description": "The total count of mobile ids sent in the upload request for the destination. Includes all mobile ids in the request, regardless of whether they were successfully ingested or not.",
          "format": "int64"
        },
        "recordCount": {
          "format": "int64",
          "description": "The total count of audience members sent in the upload request for the destination. Includes all audience members in the request, regardless of whether they were successfully ingested or not.",
          "type": "string"
        }
      }
    },
    "MarketingDataInsight": {
      "description": "Insights for marketing data. This feature is only available to data partners.",
      "id": "MarketingDataInsight",
      "type": "object",
      "properties": {
        "dimension": {
          "description": "The dimension to which the insight belongs.",
          "enum": [
            "AUDIENCE_INSIGHTS_DIMENSION_UNSPECIFIED",
            "AUDIENCE_INSIGHTS_DIMENSION_UNKNOWN",
            "AFFINITY_USER_INTEREST",
            "IN_MARKET_USER_INTEREST",
            "AGE_RANGE",
            "GENDER"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "The value is unknown in this version.",
            "An Affinity UserInterest.",
            "An In-Market UserInterest.",
            "An age range.",
            "A gender."
          ]
        },
        "attributes": {
          "items": {
            "$ref": "MarketingDataInsightsAttribute"
          },
          "description": "Insights for values of a given dimension.",
          "type": "array"
        }
      }
    },
    "ListUserListGlobalLicensesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "userListGlobalLicenses": {
          "description": "The licenses for the given user list in the request.",
          "items": {
            "$ref": "UserListGlobalLicense"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListUserListGlobalLicensesResponse",
      "description": "Response from the ListUserListGlobalLicensesRequest."
    },
    "ExperimentalField": {
      "type": "object",
      "id": "ExperimentalField",
      "properties": {
        "field": {
          "description": "Optional. The name of the field to use.",
          "type": "string"
        },
        "value": {
          "description": "Optional. The value the field to set.",
          "type": "string"
        }
      },
      "description": "Experimental field representing unofficial fields."
    },
    "IngestAudienceMembersRequest": {
      "description": "Request to upload audience members to the provided destinations. Returns an IngestAudienceMembersResponse.",
      "type": "object",
      "properties": {
        "encoding": {
          "enum": [
            "ENCODING_UNSPECIFIED",
            "HEX",
            "BASE64"
          ],
          "enumDescriptions": [
            "Unspecified Encoding type. Should never be used.",
            "Hex encoding.",
            "Base 64 encoding."
          ],
          "description": "Optional. Required for UserData uploads. The encoding type of the user identifiers. For hashed user identifiers, this is the encoding type of the hashed string. For encrypted hashed user identifiers, this is the encoding type of the outer encrypted string, but not necessarily the inner hashed string, meaning the inner hashed string could be encoded in a different way than the outer encrypted string. For non `UserData` uploads, this field is ignored.",
          "type": "string"
        },
        "audienceMembers": {
          "items": {
            "$ref": "AudienceMember"
          },
          "description": "Required. The list of users to send to the specified destinations. At most 10000 AudienceMember resources can be sent in a single request.",
          "type": "array"
        },
        "consent": {
          "description": "Optional. Request-level consent to apply to all users in the request. User-level consent overrides request-level consent, and can be specified in each AudienceMember.",
          "$ref": "Consent"
        },
        "validateOnly": {
          "type": "boolean",
          "description": "Optional. For testing purposes. If `true`, the request is validated but not executed. Only errors are returned, not results."
        },
        "encryptionInfo": {
          "description": "Optional. Encryption information for UserData uploads. If not set, it's assumed that uploaded identifying information is hashed but not encrypted. For non `UserData` uploads, this field is ignored.",
          "$ref": "EncryptionInfo"
        },
        "termsOfService": {
          "$ref": "TermsOfService",
          "description": "Optional. The terms of service that the user has accepted/rejected."
        },
        "destinations": {
          "items": {
            "$ref": "Destination"
          },
          "description": "Required. The list of destinations to send the audience members to.",
          "type": "array"
        }
      },
      "id": "IngestAudienceMembersRequest"
    },
    "IngestUserIdDataStatus": {
      "description": "The status of the user id data ingestion to the destination containing stats related to the ingestion.",
      "id": "IngestUserIdDataStatus",
      "type": "object",
      "properties": {
        "recordCount": {
          "type": "string",
          "format": "int64",
          "description": "The total count of audience members sent in the upload request for the destination. Includes all audience members in the request, regardless of whether they were successfully ingested or not."
        },
        "userIdCount": {
          "type": "string",
          "description": "The total count of user ids sent in the upload request for the destination. Includes all user ids in the request, regardless of whether they were successfully ingested or not.",
          "format": "int64"
        }
      }
    },
    "UserIdInfo": {
      "description": "Additional information when `USER_ID` is one of the `upload_key_types`.",
      "properties": {
        "dataSourceType": {
          "enum": [
            "DATA_SOURCE_TYPE_UNSPECIFIED",
            "DATA_SOURCE_TYPE_FIRST_PARTY",
            "DATA_SOURCE_TYPE_THIRD_PARTY_CREDIT_BUREAU",
            "DATA_SOURCE_TYPE_THIRD_PARTY_VOTER_FILE",
            "DATA_SOURCE_TYPE_THIRD_PARTY_PARTNER_DATA"
          ],
          "enumDescriptions": [
            "Not specified.",
            "The uploaded data is first-party data.",
            "The uploaded data is from a third-party credit bureau.",
            "The uploaded data is from a third-party voter file.",
            "The uploaded data is third party partner data."
          ],
          "type": "string",
          "description": "Optional. Immutable. Source of the upload data."
        }
      },
      "type": "object",
      "id": "UserIdInfo"
    },
    "TargetNetworkInfo": {
      "properties": {
        "eligibleForDisplay": {
          "readOnly": true,
          "description": "Output only. Indicates this user list is eligible for Google Display Network.",
          "type": "boolean"
        },
        "eligibleForSearch": {
          "description": "Optional. Indicates if this user list is eligible for Google Search Network.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "TargetNetworkInfo",
      "description": "Eligibility information for different target networks."
    },
    "IngestAdEventsResponse": {
      "properties": {},
      "id": "IngestAdEventsResponse",
      "description": "Response from an ad event ingestion operation.",
      "type": "object"
    },
    "RemoveUserDataStatus": {
      "properties": {
        "userIdentifierCount": {
          "format": "int64",
          "type": "string",
          "description": "The total count of user identifiers sent in the removal request. Includes all user identifiers in the request, regardless of whether they were successfully removed or not."
        },
        "recordCount": {
          "format": "int64",
          "description": "The total count of audience members sent in the removal request. Includes all audience members in the request, regardless of whether they were successfully removed or not.",
          "type": "string"
        }
      },
      "description": "The status of the user data removal from the destination.",
      "id": "RemoveUserDataStatus",
      "type": "object"
    },
    "RemoveAudienceMembersResponse": {
      "properties": {
        "requestId": {
          "type": "string",
          "description": "The auto-generated ID of the request."
        }
      },
      "type": "object",
      "description": "Response from the RemoveAudienceMembersRequest.",
      "id": "RemoveAudienceMembersResponse"
    },
    "MobileData": {
      "id": "MobileData",
      "description": "Mobile IDs for the audience. At least one mobile ID is required.",
      "type": "object",
      "properties": {
        "mobileIds": {
          "type": "array",
          "description": "Required. The list of mobile device IDs (Android advertising ID, iOS IDFA for Customer Match user lists and Android advertising ID, iOS IDFA, Xbox or Microsoft ID, Amazon Fire TV ID, Roku ID, Generic Device ID for basic user lists). At most 10 `mobileIds` can be provided in a single AudienceMember.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "PartnerCustomerAccount": {
      "id": "PartnerCustomerAccount",
      "type": "object",
      "description": "Represents a customer account in the partner's system.",
      "properties": {
        "accountId": {
          "description": "Required. The identifier of the customer account in the partner's ID space.",
          "type": "string"
        },
        "accountName": {
          "type": "string",
          "description": "Optional. The name of the account."
        },
        "accountType": {
          "description": "Optional. The type of the account. Can be used to distinguish between advertiser accounts and business level accounts, for example.",
          "type": "string"
        }
      }
    },
    "RemovePartnerProvidedIdDataStatus": {
      "description": "The status of the partner provided id data removal from the destination.",
      "properties": {
        "partnerProvidedIdCount": {
          "type": "string",
          "description": "The total count of partner provided ids sent in the removal request. Includes all partner provided ids in the request, regardless of whether they were successfully removed or not.",
          "format": "int64"
        },
        "recordCount": {
          "format": "int64",
          "description": "The total count of audience members sent in the removal request. Includes all audience members in the request, regardless of whether they were successfully removed or not.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "RemovePartnerProvidedIdDataStatus"
    },
    "PartnerLinkMetadata": {
      "id": "PartnerLinkMetadata",
      "properties": {
        "implicitAccounts": {
          "type": "array",
          "description": "Optional. The list of implicit accounts.",
          "items": {
            "$ref": "PartnerCustomerAccount"
          }
        }
      },
      "description": "Represents metadata associated with a partner link.",
      "type": "object"
    },
    "UserData": {
      "properties": {
        "userIdentifiers": {
          "description": "Required. The identifiers for the user. It's possible to provide multiple instances of the same type of data (for example, multiple email addresses). To increase the likelihood of a match, provide as many identifiers as possible. At most 10 `userIdentifiers` can be provided in a single AudienceMember or Event.",
          "items": {
            "$ref": "UserIdentifier"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "UserData",
      "description": "Data that identifies the user. At least one identifier is required."
    },
    "RemoveGoogleUserIdDataStatus": {
      "id": "RemoveGoogleUserIdDataStatus",
      "description": "The status of the google user id data removal from the destination.",
      "type": "object",
      "properties": {
        "recordCount": {
          "format": "int64",
          "description": "The total count of audience members sent in the removal request. Includes all audience members in the request, regardless of whether they were successfully removed or not.",
          "type": "string"
        },
        "googleUserIdCount": {
          "description": "The total count of google user ids sent in the removal request. Includes all google user ids in the request, regardless of whether they were successfully removed or not.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "SizeInfo": {
      "type": "object",
      "description": "Estimated number of members in this user list in different target networks.",
      "properties": {
        "displayNetworkMembersCount": {
          "format": "int64",
          "type": "string",
          "description": "Output only. Estimated number of members in this user list, on the Google Display Network.",
          "readOnly": true
        },
        "searchNetworkMembersCount": {
          "type": "string",
          "description": "Output only. Estimated number of members in this user list in the google.com domain. These are the members available for targeting in Search campaigns.",
          "format": "int64",
          "readOnly": true
        },
        "gmailMembersCount": {
          "format": "int64",
          "description": "Output only. Estimated number of members in this user list on Gmail.",
          "type": "string",
          "readOnly": true
        },
        "youtubeMembersCount": {
          "format": "int64",
          "description": "Output only. Estimated number of members in this user list on YouTube.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "SizeInfo"
    },
    "IngestPpidDataStatus": {
      "type": "object",
      "id": "IngestPpidDataStatus",
      "description": "The status of the ppid data ingestion to the destination containing stats related to the ingestion.",
      "properties": {
        "recordCount": {
          "description": "The total count of audience members sent in the upload request for the destination. Includes all audience members in the request, regardless of whether they were successfully ingested or not.",
          "format": "int64",
          "type": "string"
        },
        "ppidCount": {
          "type": "string",
          "description": "The total count of ppids sent in the upload request for the destination. Includes all ppids in the request, regardless of whether they were successfully ingested or not.",
          "format": "int64"
        }
      }
    },
    "Event": {
      "description": "An event representing a user interaction with an advertiser's website or app.",
      "id": "Event",
      "type": "object",
      "properties": {
        "customVariables": {
          "description": "Optional. Additional key/value pair information to send to the conversion containers (conversion action or FL activity).",
          "items": {
            "$ref": "CustomVariable"
          },
          "type": "array"
        },
        "adIdentifiers": {
          "description": "Optional. Identifiers and other information used to match the conversion event with other online activity (such as ad clicks).",
          "$ref": "AdIdentifiers"
        },
        "lastUpdatedTimestamp": {
          "description": "Optional. The last time the event was updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "eventSource": {
          "description": "Optional. Signal for where the event happened (web, app, in-store, etc.).",
          "enum": [
            "EVENT_SOURCE_UNSPECIFIED",
            "WEB",
            "APP",
            "IN_STORE",
            "PHONE",
            "MESSAGE",
            "OTHER"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified EventSource. Should never be used.",
            "The event was generated from a web browser.",
            "The event was generated from an app.",
            "The event was generated from an in-store transaction.",
            "The event was generated from a phone call.",
            "The event was generated from a message.",
            "The event was generated from other sources."
          ]
        },
        "consent": {
          "$ref": "Consent",
          "description": "Optional. Information about whether the associated user has provided different types of consent."
        },
        "conversionCount": {
          "type": "number",
          "description": "Optional. The conversion quantity associated with the event, for counting-based conversions.",
          "format": "double"
        },
        "userData": {
          "$ref": "UserData",
          "description": "Optional. Pieces of user provided data, representing the user the event is associated with."
        },
        "appInstanceId": {
          "description": "Optional. A unique identifier for the user instance of an app client for this GA4 app stream.",
          "type": "string"
        },
        "cartData": {
          "description": "Optional. Information about the transaction and items associated with the event.",
          "$ref": "CartData"
        },
        "experimentalFields": {
          "type": "array",
          "items": {
            "$ref": "ExperimentalField"
          },
          "description": "Optional. A list of key/value pairs for experimental fields that may eventually be promoted to be part of the API."
        },
        "transactionId": {
          "description": "Optional. The unique identifier for this event. Required for events sent as an additional data source for tag conversions.",
          "type": "string"
        },
        "eventName": {
          "description": "Optional. The name of the event. Required for GA4 events.",
          "type": "string"
        },
        "clientId": {
          "description": "Optional. A unique identifier for the user instance of a web client for this GA4 web stream.",
          "type": "string"
        },
        "userId": {
          "description": "Optional. A unique identifier for a user, as defined by the advertiser.",
          "type": "string"
        },
        "eventLocation": {
          "$ref": "EventLocation",
          "description": "Optional. Information gathered about the location of the user when this event occurred."
        },
        "userProperties": {
          "$ref": "UserProperties",
          "description": "Optional. Advertiser-assessed information about the user at the time that the event happened."
        },
        "currency": {
          "type": "string",
          "description": "Optional. The currency code associated with all monetary values within this event."
        },
        "conversionValue": {
          "description": "Optional. The conversion value associated with the event, for value-based conversions.",
          "format": "double",
          "type": "number"
        },
        "destinationReferences": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Reference string used to determine the destination. If empty, the event will be sent to all destinations in the request.",
          "type": "array"
        },
        "additionalEventParameters": {
          "description": "Optional. A bucket of any [event parameters](https://developers.google.com/analytics/devguides/collection/protocol/ga4/reference/events) to be included within the event that were not already specified using other structured fields.",
          "items": {
            "$ref": "EventParameter"
          },
          "type": "array"
        },
        "eventDeviceInfo": {
          "description": "Optional. Information gathered about the device being used (if any) when the event happened.",
          "$ref": "DeviceInfo"
        },
        "eventTimestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. The time the event occurred."
        },
        "thirdPartyUserData": {
          "description": "Optional. The same type of data provided in user_data, but explicitly flagged as being provided as owned by a third-party and not first-party advertiser data.",
          "$ref": "UserData"
        }
      }
    },
    "RemoveUserIdDataStatus": {
      "id": "RemoveUserIdDataStatus",
      "type": "object",
      "description": "The status of the user id data removal from the destination.",
      "properties": {
        "recordCount": {
          "format": "int64",
          "description": "The total count of audience members sent in the removal request. Includes all audience members in the request, regardless of whether they were successfully removed or not.",
          "type": "string"
        },
        "userIdCount": {
          "description": "The total count of user ids sent in the removal request. Includes all user ids in the request, regardless of whether they were successfully removed or not.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "RemoveAudienceMembersRequest": {
      "description": "Request to remove users from an audience in the provided destinations. Returns a RemoveAudienceMembersResponse.",
      "type": "object",
      "properties": {
        "destinations": {
          "description": "Required. The list of destinations to remove the users from.",
          "type": "array",
          "items": {
            "$ref": "Destination"
          }
        },
        "validateOnly": {
          "type": "boolean",
          "description": "Optional. For testing purposes. If `true`, the request is validated but not executed. Only errors are returned, not results."
        },
        "encoding": {
          "enumDescriptions": [
            "Unspecified Encoding type. Should never be used.",
            "Hex encoding.",
            "Base 64 encoding."
          ],
          "enum": [
            "ENCODING_UNSPECIFIED",
            "HEX",
            "BASE64"
          ],
          "description": "Optional. Required for UserData uploads. The encoding type of the user identifiers. Applies to only the outer encoding for encrypted user identifiers. For non `UserData` uploads, this field is ignored.",
          "type": "string"
        },
        "encryptionInfo": {
          "description": "Optional. Encryption information for UserData uploads. If not set, it's assumed that uploaded identifying information is hashed but not encrypted. For non `UserData` uploads, this field is ignored.",
          "$ref": "EncryptionInfo"
        },
        "audienceMembers": {
          "description": "Required. The list of users to remove.",
          "type": "array",
          "items": {
            "$ref": "AudienceMember"
          }
        }
      },
      "id": "RemoveAudienceMembersRequest"
    },
    "RemovePairDataStatus": {
      "type": "object",
      "description": "The status of the pair data removal from the destination.",
      "properties": {
        "recordCount": {
          "format": "int64",
          "description": "The total count of audience members sent in the removal request. Includes all audience members in the request, regardless of whether they were successfully removed or not.",
          "type": "string"
        },
        "pairIdCount": {
          "format": "int64",
          "type": "string",
          "description": "The total count of pair ids sent in the removal request. Includes all pair ids in the request, regardless of whether they were successfully removed or not."
        }
      },
      "id": "RemovePairDataStatus"
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "IngestAudienceMembersStatus": {
      "description": "The status of the ingest audience members request.",
      "id": "IngestAudienceMembersStatus",
      "properties": {
        "ppidDataIngestionStatus": {
          "description": "The status of the ppid data ingestion to the destination.",
          "$ref": "IngestPpidDataStatus"
        },
        "pairDataIngestionStatus": {
          "description": "The status of the pair data ingestion to the destination.",
          "$ref": "IngestPairDataStatus"
        },
        "compositeDataIngestionStatus": {
          "$ref": "IngestCompositeDataStatus",
          "description": "The status of the composite data ingestion to the destination."
        },
        "mobileDataIngestionStatus": {
          "$ref": "IngestMobileDataStatus",
          "description": "The status of the mobile data ingestion to the destination."
        },
        "userIdDataIngestionStatus": {
          "$ref": "IngestUserIdDataStatus",
          "description": "The status of the user id data ingestion to the destination."
        },
        "userDataIngestionStatus": {
          "description": "The status of the user data ingestion to the destination.",
          "$ref": "IngestUserDataStatus"
        },
        "googleUserIdDataIngestionStatus": {
          "$ref": "IngestGoogleUserIdDataStatus",
          "description": "The status of the google user id data ingestion to the destination."
        },
        "partnerProvidedIdDataIngestionStatus": {
          "description": "The status of the partner provided id data ingestion to the destination.",
          "$ref": "IngestPartnerProvidedIdDataStatus"
        }
      },
      "type": "object"
    },
    "Destination": {
      "id": "Destination",
      "type": "object",
      "description": "The Google product you're sending data to. For example, a Google Ads account.",
      "properties": {
        "loginAccount": {
          "$ref": "ProductAccount",
          "description": "Optional. The account used to make this API call. To add or remove data from the `operating_account`, this `login_account` must have write access to the `operating_account`. For example, a manager account of the `operating_account`, or an account with an established link to the `operating_account`."
        },
        "linkedAccount": {
          "description": "Optional. An account that the calling user's `login_account` has access to, through an established account link. For example, a data partner's `login_account` might have access to a client's `linked_account`. The partner might use this field to send data from the `linked_account` to another `operating_account`.",
          "$ref": "ProductAccount"
        },
        "reference": {
          "description": "Optional. ID for this `Destination` resource, unique within the request. Use to reference this `Destination` in the IngestEventsRequest and IngestAudienceMembersRequest.",
          "type": "string"
        },
        "productDestinationId": {
          "description": "Optional. The object within the product account to ingest into. For example, a Google Ads audience ID, a Display & Video 360 audience ID or a Google Ads conversion action ID. This field is optional for Google Ad Manager event ingestion and User ingestion. Required for all other use cases.",
          "type": "string"
        },
        "operatingAccount": {
          "description": "Required. The account to send the data to or remove the data from.",
          "$ref": "ProductAccount"
        }
      }
    },
    "IngestAdEventsRequest": {
      "type": "object",
      "properties": {
        "validateOnly": {
          "deprecated": true,
          "description": "Optional. If true, the request is validated, but not executed.",
          "type": "boolean"
        },
        "adEvents": {
          "type": "array",
          "items": {
            "$ref": "AdEvent"
          },
          "description": "Required. Required (at least 1). A list of ad events."
        },
        "encryptionInfo": {
          "description": "Required. Information about encryption keys which are used to encrypt the data.",
          "$ref": "EncryptionInfo"
        }
      },
      "description": "Request to upload ad events.",
      "id": "IngestAdEventsRequest"
    },
    "MarketingDataInsightsAttribute": {
      "properties": {
        "userInterestId": {
          "type": "string",
          "format": "int64",
          "description": "The user interest ID."
        },
        "gender": {
          "type": "string",
          "description": "Gender of the audience for which the lift is provided.",
          "enum": [
            "GENDER_UNSPECIFIED",
            "GENDER_UNKNOWN",
            "GENDER_MALE",
            "GENDER_FEMALE"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Unknown.",
            "Male.",
            "Female."
          ]
        },
        "lift": {
          "format": "float",
          "type": "number",
          "description": "Measure of lift that the audience has for the attribute value as compared to the baseline. Range [0-1]."
        },
        "ageRange": {
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Unknown.",
            "Between 18 and 24 years old.",
            "Between 25 and 34 years old.",
            "Between 35 and 44 years old.",
            "Between 45 and 54 years old.",
            "Between 55 and 64 years old.",
            "65 years old and beyond."
          ],
          "description": "Age range of the audience for which the lift is provided.",
          "enum": [
            "AGE_RANGE_UNSPECIFIED",
            "AGE_RANGE_UNKNOWN",
            "AGE_RANGE_18_24",
            "AGE_RANGE_25_34",
            "AGE_RANGE_35_44",
            "AGE_RANGE_45_54",
            "AGE_RANGE_55_64",
            "AGE_RANGE_65_UP"
          ]
        }
      },
      "description": "Insights for a collection of related attributes of the same dimension.",
      "id": "MarketingDataInsightsAttribute",
      "type": "object"
    },
    "CoordinatorKeyInfo": {
      "properties": {
        "keyId": {
          "type": "string",
          "description": "Required. The ID of the chosen coordinator key."
        }
      },
      "id": "CoordinatorKeyInfo",
      "type": "object",
      "description": "Information about the coordinator key."
    },
    "AwsWrappedKeyInfo": {
      "properties": {
        "keyType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified key type. Should never be used.",
            "Algorithm XChaCha20-Poly1305"
          ],
          "description": "Required. The type of algorithm used to encrypt the data.",
          "enum": [
            "KEY_TYPE_UNSPECIFIED",
            "XCHACHA20_POLY1305"
          ]
        },
        "roleArn": {
          "description": "Required. The Amazon Resource Name of the IAM Role to assume for KMS decryption access. Should be in the format of `arn:{partition}:iam::{account_id}:role/{role_name}`",
          "type": "string"
        },
        "kekUri": {
          "type": "string",
          "description": "Required. The URI of the AWS KMS key used to decrypt the DEK. Should be in the format of `arn:{partition}:kms:{region}:{account_id}:key/{key_id}` or `aws-kms://arn:{partition}:kms:{region}:{account_id}:key/{key_id}`"
        },
        "encryptedDek": {
          "type": "string",
          "description": "Required. The base64 encoded encrypted data encryption key."
        }
      },
      "id": "AwsWrappedKeyInfo",
      "description": "A data encryption key wrapped by an AWS KMS key.",
      "type": "object"
    },
    "UserIdData": {
      "description": "User id data holding the user id.",
      "properties": {
        "userId": {
          "type": "string",
          "description": "Required. A unique identifier for a user, as defined by the advertiser."
        }
      },
      "id": "UserIdData",
      "type": "object"
    },
    "PairData": {
      "properties": {
        "pairIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. Cleanroom-provided PII data, hashed with SHA256, and encrypted with an EC commutative cipher using publisher key for the [PAIR]((//support.google.com/admanager/answer/15067908)) user list. At most 10 `pairIds` can be provided in a single AudienceMember."
        }
      },
      "id": "PairData",
      "type": "object",
      "description": "[PAIR](//support.google.com/admanager/answer/15067908) IDs for the audience. At least one PAIR ID is required. This feature is only available to data partners."
    },
    "ProductAccount": {
      "id": "ProductAccount",
      "description": "Represents a specific account.",
      "properties": {
        "accountId": {
          "description": "Required. The ID of the account. For example, your Google Ads account ID.",
          "type": "string"
        },
        "accountType": {
          "description": "Required. The type of the account. For example, `GOOGLE_ADS`. Either `account_type` or the deprecated `product` is required. If both are set, the values must match.",
          "enumDescriptions": [
            "Unspecified product. Should never be used.",
            "Google Ads.",
            "Display & Video 360 partner.",
            "Display & Video 360 advertiser.",
            "Data Partner.",
            "Google Analytics.",
            "Google Ad Manager audience link.",
            "Floodlight configuration."
          ],
          "enum": [
            "ACCOUNT_TYPE_UNSPECIFIED",
            "GOOGLE_ADS",
            "DISPLAY_VIDEO_PARTNER",
            "DISPLAY_VIDEO_ADVERTISER",
            "DATA_PARTNER",
            "GOOGLE_ANALYTICS_PROPERTY",
            "GOOGLE_AD_MANAGER_AUDIENCE_LINK",
            "FLOODLIGHT_CONFIG"
          ],
          "type": "string"
        },
        "product": {
          "description": "Deprecated. Use `account_type` instead.",
          "enumDescriptions": [
            "Unspecified product. Should never be used.",
            "Google Ads.",
            "Display & Video 360 partner.",
            "Display & Video 360 advertiser.",
            "Data Partner."
          ],
          "deprecated": true,
          "type": "string",
          "enum": [
            "PRODUCT_UNSPECIFIED",
            "GOOGLE_ADS",
            "DISPLAY_VIDEO_PARTNER",
            "DISPLAY_VIDEO_ADVERTISER",
            "DATA_PARTNER"
          ]
        }
      },
      "type": "object"
    },
    "RetrieveInsightsResponse": {
      "id": "RetrieveInsightsResponse",
      "properties": {
        "marketingDataInsights": {
          "description": "Contains the insights for the marketing data.",
          "items": {
            "$ref": "MarketingDataInsight"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response message for DM API MarketingDataInsightsService.RetrieveInsights"
    },
    "AddressInfo": {
      "id": "AddressInfo",
      "description": "Address information for the user.",
      "type": "object",
      "properties": {
        "postalCode": {
          "type": "string",
          "description": "Required. The postal code of the user's address."
        },
        "city": {
          "type": "string",
          "description": "Optional. The city of the user's address. Used only for Google Analytics. The value should be normalized as such: - Remove symbol characters - Convert to lowercase - Remove leading and trailing whitespace"
        },
        "givenName": {
          "type": "string",
          "description": "Required. Given (first) name of the user, all lowercase, with no punctuation, no leading or trailing whitespace, and hashed as SHA-256."
        },
        "regionCode": {
          "type": "string",
          "description": "Required. The 2-letter region code in ISO-3166-1 alpha-2 of the user's address."
        },
        "addressLine": {
          "type": "string",
          "description": "Optional. The street and number of the user's address. Used only for Google Analytics. This field is hashed and possibly encrypted. Normalize the value before hashing: - Remove symbol characters - Convert to lowercase - Remove leading and trailing whitespace"
        },
        "administrativeArea": {
          "description": "Optional. The administrative area (state/province) of the user's address. Used only for Google Analytics. The value should be normalized as such: - Remove symbol characters - Convert to lowercase - Remove leading and trailing whitespace",
          "type": "string"
        },
        "familyName": {
          "description": "Required. Family (last) name of the user, all lowercase, with no punctuation, no leading or trailing whitespace, and hashed as SHA-256.",
          "type": "string"
        }
      }
    },
    "WarningInfo": {
      "type": "object",
      "id": "WarningInfo",
      "properties": {
        "warningCounts": {
          "description": "A list of warnings and counts per warning reason.",
          "type": "array",
          "items": {
            "$ref": "WarningCount"
          }
        }
      },
      "description": "Warning counts for each type of warning."
    },
    "UserListLicensePricing": {
      "description": "A user list license pricing.",
      "type": "object",
      "id": "UserListLicensePricing",
      "properties": {
        "startTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Start time of the pricing.",
          "format": "google-datetime"
        },
        "costMicros": {
          "description": "Optional. The cost associated with the model, in micro units (10^-6), in the currency specified by the currency_code field. For example, 2000000 means $2 if `currency_code` is `USD`.",
          "format": "int64",
          "type": "string"
        },
        "buyerApprovalState": {
          "description": "Output only. The buyer approval state of this pricing. This field is read-only.",
          "readOnly": true,
          "enum": [
            "USER_LIST_PRICING_BUYER_APPROVAL_STATE_UNSPECIFIED",
            "PENDING",
            "APPROVED",
            "REJECTED"
          ],
          "enumDescriptions": [
            "UNSPECIFIED.",
            "User list client has not yet accepted the pricing terms set by the user list owner.",
            "User list client has accepted the pricing terms set by the user list owner.",
            "User list client has rejected the pricing terms set by the user list owner."
          ],
          "type": "string"
        },
        "maxCostMicros": {
          "description": "Optional. The maximum CPM a commerce audience can be charged when the MEDIA_SHARE cost type is used. The value is in micro units (10^-6) and in the currency specified by the currency_code field. For example, 2000000 means $2 if `currency_code` is `USD`. This is only relevant when cost_type is MEDIA_SHARE. When cost_type is not MEDIA_SHARE, and this field is set, a MAX_COST_NOT_ALLOWED error will be returned. If not set or set to`0`, there is no cap.",
          "type": "string",
          "format": "int64"
        },
        "pricingId": {
          "type": "string",
          "readOnly": true,
          "format": "int64",
          "description": "Output only. The ID of this pricing."
        },
        "pricingActive": {
          "type": "boolean",
          "description": "Output only. Whether this pricing is active.",
          "readOnly": true
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. End time of the pricing."
        },
        "costType": {
          "description": "Immutable. The cost type of this pricing. Can be set only in the `create` operation. Can't be updated for an existing license.",
          "type": "string",
          "enum": [
            "USER_LIST_PRICING_COST_TYPE_UNSPECIFIED",
            "CPC",
            "CPM",
            "MEDIA_SHARE"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Cost per click.",
            "Cost per mille (thousand impressions).",
            "Media share."
          ]
        },
        "currencyCode": {
          "type": "string",
          "description": "Optional. The currency in which cost and max_cost is specified. Must be a three-letter currency code defined in ISO 4217."
        }
      }
    },
    "IngestCompositeDataStatus": {
      "type": "object",
      "properties": {
        "uploadMatchRateRange": {
          "type": "string",
          "description": "The match rate range of the upload.",
          "enumDescriptions": [
            "The match rate range is unknown.",
            "The match rate range is not eligible.",
            "The match rate range is less than 20% (in the interval `[0, 20)`).",
            "The match rate range is between 20% and 30% (in the interval `[20, 31)`).",
            "The match rate range is between 31% and 40% (in the interval `[31, 41)`).",
            "The match rate range is between 41% and 50% (in the interval `[41, 51)`).",
            "The match rate range is between 51% and 60% (in the interval `[51, 61)`.",
            "The match rate range is between 61% and 70% (in the interval `[61, 71)`).",
            "The match rate range is between 71% and 80% (in the interval `[71, 81)`).",
            "The match rate range is between 81% and 90% (in the interval `[81, 91)`).",
            "The match rate range is between 91% and 100% (in the interval `[91, 100]`)."
          ],
          "enum": [
            "MATCH_RATE_RANGE_UNKNOWN",
            "MATCH_RATE_RANGE_NOT_ELIGIBLE",
            "MATCH_RATE_RANGE_LESS_THAN_20",
            "MATCH_RATE_RANGE_20_TO_30",
            "MATCH_RATE_RANGE_31_TO_40",
            "MATCH_RATE_RANGE_41_TO_50",
            "MATCH_RATE_RANGE_51_TO_60",
            "MATCH_RATE_RANGE_61_TO_70",
            "MATCH_RATE_RANGE_71_TO_80",
            "MATCH_RATE_RANGE_81_TO_90",
            "MATCH_RATE_RANGE_91_TO_100"
          ]
        },
        "recordCount": {
          "type": "string",
          "format": "int64",
          "description": "The total count of audience members sent in the upload request for the destination. Includes all audience members in the request, regardless of whether they were successfully ingested or not."
        },
        "dataTypeCounts": {
          "description": "The total count of data types sent in the upload request for the destination, broken down by data type. Includes all data types in the request, regardless of whether they were successfully ingested or not.",
          "type": "array",
          "items": {
            "$ref": "DataTypeCount"
          }
        }
      },
      "description": "The status of the composite data ingestion to the destination containing stats related to the ingestion.",
      "id": "IngestCompositeDataStatus"
    },
    "ErrorInfo": {
      "type": "object",
      "id": "ErrorInfo",
      "description": "Error counts for each type of error.",
      "properties": {
        "errorCounts": {
          "description": "A list of errors and counts per error reason. May not be populated in all cases.",
          "type": "array",
          "items": {
            "$ref": "ErrorCount"
          }
        }
      }
    },
    "IngestedUserListInfo": {
      "type": "object",
      "properties": {
        "pseudonymousIdInfo": {
          "description": "Optional. Additional information for `PSEUDONYMOUS_ID` is one of the `upload_key_types`.",
          "$ref": "PseudonymousIdInfo"
        },
        "userIdInfo": {
          "$ref": "UserIdInfo",
          "description": "Optional. Additional information when `USER_ID` is one of the `upload_key_types`."
        },
        "contactIdInfo": {
          "description": "Optional. Additional information when `CONTACT_ID` is one of the `upload_key_types`.",
          "$ref": "ContactIdInfo"
        },
        "partnerAudienceInfo": {
          "$ref": "PartnerAudienceInfo",
          "description": "Optional. Additional information for partner audiences. This feature is only available to data partners."
        },
        "pairIdInfo": {
          "description": "Optional. Additional information when `PAIR_ID` is one of the `upload_key_types`. This feature is only available to data partners.",
          "$ref": "PairIdInfo"
        },
        "uploadKeyTypes": {
          "description": "Required. Immutable. Upload key types of this user list.",
          "items": {
            "type": "string",
            "enum": [
              "UPLOAD_KEY_TYPE_UNSPECIFIED",
              "CONTACT_ID",
              "MOBILE_ID",
              "USER_ID",
              "PAIR_ID",
              "PSEUDONYMOUS_ID"
            ],
            "enumDescriptions": [
              "Not specified.",
              "Customer info such as email address, phone number or physical address.",
              "Mobile advertising ids.",
              "Third party provided user ids.",
              "Publisher advertiser identity reconciliation ids.",
              "Data Management Platform IDs: - Google User ID - Partner Provided ID - Publisher Provided ID - iOS IDFA - Android advertising ID - Roku ID - Amazon Fire TV ID - Xbox or Microsoft ID - Generic Device ID"
            ]
          },
          "type": "array"
        },
        "mobileIdInfo": {
          "$ref": "MobileIdInfo",
          "description": "Optional. Additional information when `MOBILE_ID` is one of the `upload_key_types`."
        }
      },
      "description": "Represents a user list that is populated by user provided data.",
      "id": "IngestedUserListInfo"
    },
    "IngestEventsRequest": {
      "type": "object",
      "id": "IngestEventsRequest",
      "properties": {
        "encryptionInfo": {
          "description": "Optional. Encryption information for UserData uploads. If not set, it's assumed that uploaded identifying information is hashed but not encrypted. For non `UserData` uploads, this field is ignored.",
          "$ref": "EncryptionInfo"
        },
        "events": {
          "type": "array",
          "items": {
            "$ref": "Event"
          },
          "description": "Required. The list of events to send to the specified destinations. At most 2000 Event resources can be sent in a single request."
        },
        "consent": {
          "$ref": "Consent",
          "description": "Optional. Request-level consent to apply to all users in the request. User-level consent overrides request-level consent, and can be specified in each Event."
        },
        "destinations": {
          "description": "Required. The list of destinations to send the events to.",
          "type": "array",
          "items": {
            "$ref": "Destination"
          }
        },
        "encoding": {
          "description": "Optional. Required for UserData uploads. The encoding type of the user identifiers. For hashed user identifiers, this is the encoding type of the hashed string. For encrypted hashed user identifiers, this is the encoding type of the outer encrypted string, but not necessarily the inner hashed string, meaning the inner hashed string could be encoded in a different way than the outer encrypted string. For non `UserData` uploads, this field is ignored.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified Encoding type. Should never be used.",
            "Hex encoding.",
            "Base 64 encoding."
          ],
          "enum": [
            "ENCODING_UNSPECIFIED",
            "HEX",
            "BASE64"
          ]
        },
        "validateOnly": {
          "type": "boolean",
          "description": "Optional. For testing purposes. If `true`, the request is validated but not executed. Only errors are returned, not results."
        }
      },
      "description": "Request to upload audience members to the provided destinations. Returns an IngestEventsResponse."
    },
    "PartnerProvidedIdData": {
      "properties": {
        "partnerProvidedIds": {
          "type": "array",
          "description": "Required. The list of partner-provided identifiers.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "PartnerProvidedIdData",
      "description": "Partner-provided data holding the partner-provided identifiers. At least one partner-provided identifier is required."
    },
    "UserListGlobalLicenseCustomerInfo": {
      "description": "Information about a customer of a user list global license. This will automatically be created by the system when a customer purchases a global license.",
      "properties": {
        "metrics": {
          "$ref": "UserListLicenseMetrics",
          "description": "Output only. Metrics related to this license This field is only populated if the start and end dates are set in the ListUserListGlobalLicenseCustomerInfos call.",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The resource name of the user list global license customer.",
          "type": "string"
        },
        "status": {
          "description": "Output only. Status of UserListDirectLicense - ENABLED or DISABLED.",
          "readOnly": true,
          "enumDescriptions": [
            "Unknown.",
            "Active status - user list is still being licensed.",
            "Inactive status - user list is no longer being licensed."
          ],
          "enum": [
            "USER_LIST_LICENSE_STATUS_UNSPECIFIED",
            "USER_LIST_LICENSE_STATUS_ENABLED",
            "USER_LIST_LICENSE_STATUS_DISABLED"
          ],
          "type": "string"
        },
        "pricing": {
          "readOnly": true,
          "$ref": "UserListLicensePricing",
          "description": "Output only. UserListDirectLicense pricing."
        },
        "userListId": {
          "description": "Output only. ID of the user list being licensed.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "userListDisplayName": {
          "description": "Output only. Name of the user list being licensed.",
          "readOnly": true,
          "type": "string"
        },
        "clientAccountDisplayName": {
          "readOnly": true,
          "description": "Output only. Name of client customer which the user list is being licensed to.",
          "type": "string"
        },
        "clientAccountType": {
          "readOnly": true,
          "enumDescriptions": [
            "Unknown.",
            "Google Ads customer.",
            "Display & Video 360 partner.",
            "Display & Video 360 advertiser.",
            "Google Ad Manager audience link."
          ],
          "type": "string",
          "description": "Output only. Product type of client customer which the user list is being licensed to.",
          "enum": [
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_UNKNOWN",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_GOOGLE_ADS",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_DISPLAY_VIDEO_PARTNER",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_DISPLAY_VIDEO_ADVERTISER",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_GOOGLE_AD_MANAGER_AUDIENCE_LINK"
          ]
        },
        "licenseType": {
          "type": "string",
          "description": "Output only. Product type of client customer which the user list is being licensed to.",
          "enum": [
            "USER_LIST_GLOBAL_LICENSE_TYPE_UNSPECIFIED",
            "USER_LIST_GLOBAL_LICENSE_TYPE_RESELLER",
            "USER_LIST_GLOBAL_LICENSE_TYPE_DATA_MART_SELL_SIDE",
            "USER_LIST_GLOBAL_LICENSE_TYPE_DATA_MART_BUY_SIDE"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "UNSPECIFIED.",
            "Reseller license.",
            "DataMart Sell Side license.",
            "DataMart Buy Side license."
          ]
        },
        "historicalPricings": {
          "type": "array",
          "items": {
            "$ref": "UserListLicensePricing"
          },
          "description": "Output only. Pricing history of this user list license.",
          "readOnly": true
        },
        "clientAccountId": {
          "description": "Output only. ID of client customer which the user list is being licensed to.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        }
      },
      "id": "UserListGlobalLicenseCustomerInfo",
      "type": "object"
    },
    "IngestPairDataStatus": {
      "properties": {
        "recordCount": {
          "type": "string",
          "description": "The total count of audience members sent in the upload request for the destination. Includes all audience members in the request, regardless of whether they were successfully ingested or not.",
          "format": "int64"
        },
        "pairIdCount": {
          "type": "string",
          "description": "The total count of pair ids sent in the upload request for the destination. Includes all pair ids in the request, regardless of whether they were successfully ingested or not.",
          "format": "int64"
        }
      },
      "id": "IngestPairDataStatus",
      "description": "The status of the pair data ingestion to the destination containing stats related to the ingestion.",
      "type": "object"
    },
    "ListUserListsResponse": {
      "properties": {
        "userLists": {
          "type": "array",
          "description": "The user lists from the specified account.",
          "items": {
            "$ref": "UserList"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "Response message for ListUserLists.",
      "type": "object",
      "id": "ListUserListsResponse"
    },
    "RemoveCompositeDataStatus": {
      "id": "RemoveCompositeDataStatus",
      "description": "The status of the composite data removal from the destination.",
      "properties": {
        "recordCount": {
          "description": "The total count of audience members sent in the removal request. Includes all audience members in the request, regardless of whether they were successfully removed or not.",
          "type": "string",
          "format": "int64"
        },
        "dataTypeCounts": {
          "description": "The total count of data types sent in the removal request, broken down by data type. Includes all data types in the request, regardless of whether they were successfully removed or not.",
          "type": "array",
          "items": {
            "$ref": "DataTypeCount"
          }
        }
      },
      "type": "object"
    },
    "IngestAudienceMembersResponse": {
      "type": "object",
      "properties": {
        "fieldWarnings": {
          "description": "Detailed row-level warnings with field paths.",
          "items": {
            "$ref": "FieldWarning"
          },
          "type": "array"
        },
        "requestId": {
          "description": "The auto-generated ID of the request.",
          "type": "string"
        }
      },
      "description": "Response from the IngestAudienceMembersRequest.",
      "id": "IngestAudienceMembersResponse"
    },
    "RemoveMobileDataStatus": {
      "type": "object",
      "properties": {
        "recordCount": {
          "type": "string",
          "description": "The total count of audience members sent in the removal request. Includes all audience members in the request, regardless of whether they were successfully removed or not.",
          "format": "int64"
        },
        "mobileIdCount": {
          "type": "string",
          "description": "The total count of mobile Ids sent in the removal request. Includes all mobile ids in the request, regardless of whether they were successfully removed or not.",
          "format": "int64"
        }
      },
      "id": "RemoveMobileDataStatus",
      "description": "The status of the mobile data removal from the destination."
    },
    "TermsOfService": {
      "properties": {
        "customerMatchTermsOfServiceStatus": {
          "enumDescriptions": [
            "Not specified.",
            "Status indicating the caller has chosen to accept the terms of service.",
            "Status indicating the caller has chosen to reject the terms of service."
          ],
          "type": "string",
          "enum": [
            "TERMS_OF_SERVICE_STATUS_UNSPECIFIED",
            "ACCEPTED",
            "REJECTED"
          ],
          "description": "Optional. The Customer Match terms of service: https://support.google.com/adspolicy/answer/6299717. This must be accepted when ingesting UserData or MobileData. This field is not required for Partner Match User list."
        }
      },
      "type": "object",
      "description": "The terms of service that the user has accepted/rejected.",
      "id": "TermsOfService"
    },
    "RemoveAllAudienceMembersResponse": {
      "properties": {
        "requestId": {
          "description": "The auto-generated ID of the request.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "RemoveAllAudienceMembersResponse",
      "description": "Response from the RemoveAllAudienceMembersRequest."
    },
    "GcpWrappedKeyInfo": {
      "properties": {
        "wipProvider": {
          "description": "Required. The [Workload Identity](//cloud.google.com/iam/docs/workload-identity-federation) pool provider required to use KEK.",
          "type": "string"
        },
        "kekUri": {
          "type": "string",
          "description": "Required. Google Cloud Platform [Cloud Key Management Service resource ID](//cloud.google.com/kms/docs/getting-resource-ids). Should be in the format of `projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{key}` or `gcp-kms://projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{key}`"
        },
        "encryptedDek": {
          "type": "string",
          "description": "Required. The base64 encoded encrypted data encryption key."
        },
        "keyType": {
          "enum": [
            "KEY_TYPE_UNSPECIFIED",
            "XCHACHA20_POLY1305"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified key type. Should never be used.",
            "Algorithm XChaCha20-Poly1305"
          ],
          "description": "Required. The type of algorithm used to encrypt the data."
        }
      },
      "type": "object",
      "description": "Information about the Google Cloud Platform wrapped key.",
      "id": "GcpWrappedKeyInfo"
    },
    "UserListGlobalLicense": {
      "type": "object",
      "id": "UserListGlobalLicense",
      "properties": {
        "userListId": {
          "description": "Immutable. ID of the user list being licensed.",
          "format": "int64",
          "type": "string"
        },
        "status": {
          "description": "Optional. Status of UserListGlobalLicense - ENABLED or DISABLED.",
          "type": "string",
          "enum": [
            "USER_LIST_LICENSE_STATUS_UNSPECIFIED",
            "USER_LIST_LICENSE_STATUS_ENABLED",
            "USER_LIST_LICENSE_STATUS_DISABLED"
          ],
          "enumDescriptions": [
            "Unknown.",
            "Active status - user list is still being licensed.",
            "Inactive status - user list is no longer being licensed."
          ]
        },
        "pricing": {
          "$ref": "UserListLicensePricing",
          "description": "Optional. UserListGlobalLicense pricing."
        },
        "historicalPricings": {
          "type": "array",
          "items": {
            "$ref": "UserListLicensePricing"
          },
          "description": "Output only. Pricing history of this user list license. This field is read-only.",
          "readOnly": true
        },
        "metrics": {
          "readOnly": true,
          "$ref": "UserListLicenseMetrics",
          "description": "Output only. Metrics related to this license This field is read-only and only populated if the start and end dates are set in the ListUserListGlobalLicenses call"
        },
        "userListDisplayName": {
          "readOnly": true,
          "description": "Output only. Name of the user list being licensed. This field is read-only.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the user list global license.",
          "type": "string"
        },
        "licenseType": {
          "enumDescriptions": [
            "UNSPECIFIED.",
            "Reseller license.",
            "DataMart Sell Side license.",
            "DataMart Buy Side license."
          ],
          "enum": [
            "USER_LIST_GLOBAL_LICENSE_TYPE_UNSPECIFIED",
            "USER_LIST_GLOBAL_LICENSE_TYPE_RESELLER",
            "USER_LIST_GLOBAL_LICENSE_TYPE_DATA_MART_SELL_SIDE",
            "USER_LIST_GLOBAL_LICENSE_TYPE_DATA_MART_BUY_SIDE"
          ],
          "description": "Immutable. Product type of client customer which the user list is being licensed to.",
          "type": "string"
        }
      },
      "description": "A user list global license. This feature is only available to data partners."
    },
    "SearchPartnerLinksResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "partnerLinks": {
          "description": "The partner links for the given account.",
          "type": "array",
          "items": {
            "$ref": "PartnerLink"
          }
        }
      },
      "id": "SearchPartnerLinksResponse",
      "description": "Response from the SearchPartnerLinksRequest.",
      "type": "object"
    },
    "EventParameter": {
      "id": "EventParameter",
      "description": "Event parameter for GA4 events.",
      "type": "object",
      "properties": {
        "parameterName": {
          "type": "string",
          "description": "Required. The name of the parameter to use."
        },
        "value": {
          "type": "string",
          "description": "Required. The string representation of the value of the parameter to set."
        }
      }
    },
    "ContactIdInfo": {
      "properties": {
        "matchRatePercentage": {
          "readOnly": true,
          "description": "Output only. Match rate for customer match user lists.",
          "type": "integer",
          "format": "int32"
        },
        "dataSourceType": {
          "type": "string",
          "description": "Optional. Immutable. Source of the upload data",
          "enumDescriptions": [
            "Not specified.",
            "The uploaded data is first-party data.",
            "The uploaded data is from a third-party credit bureau.",
            "The uploaded data is from a third-party voter file.",
            "The uploaded data is third party partner data."
          ],
          "enum": [
            "DATA_SOURCE_TYPE_UNSPECIFIED",
            "DATA_SOURCE_TYPE_FIRST_PARTY",
            "DATA_SOURCE_TYPE_THIRD_PARTY_CREDIT_BUREAU",
            "DATA_SOURCE_TYPE_THIRD_PARTY_VOTER_FILE",
            "DATA_SOURCE_TYPE_THIRD_PARTY_PARTNER_DATA"
          ]
        }
      },
      "type": "object",
      "id": "ContactIdInfo",
      "description": "Additional information when `CONTACT_ID` is one of the `upload_key_types`."
    },
    "RequestStatusPerDestination": {
      "id": "RequestStatusPerDestination",
      "properties": {
        "removeAllAudienceMembersStatus": {
          "description": "The status of the remove all audience members request.",
          "$ref": "RemoveAllAudienceMembersStatus"
        },
        "errorInfo": {
          "description": "An error info error containing the error reason and error counts related to the upload. Only populated if the `request_status` is `FAILED` or `PARTIAL_SUCCESS`. This field isn't populated while the request has `request_status` of `PROCESSING`.",
          "$ref": "ErrorInfo"
        },
        "warningInfo": {
          "$ref": "WarningInfo",
          "description": "A warning info containing the warning reason and warning counts related to the upload. This field isn't populated while the request has `request_status` of `PROCESSING`."
        },
        "audienceMembersRemovalStatus": {
          "$ref": "RemoveAudienceMembersStatus",
          "description": "The status of the remove audience members request."
        },
        "eventsIngestionStatus": {
          "description": "The status of the ingest events request.",
          "$ref": "IngestEventsStatus"
        },
        "audienceMembersIngestionStatus": {
          "$ref": "IngestAudienceMembersStatus",
          "description": "The status of the ingest audience members request."
        },
        "destination": {
          "description": "A destination within a DM API request.",
          "$ref": "Destination"
        },
        "requestStatus": {
          "enumDescriptions": [
            "The request status is unknown.",
            "Processing succeeded for all records without any errors. However, there may be warnings in the `warning_info` field.",
            "The request is processing.",
            "Processing failed for all records. Check the `error_info` field for error details, and check the `warning_info` field for warning details.",
            "Processing completed successfully without errors for some records, but failed with errors for other records. Check the `error_info` field for error details, and check the `warning_info` field for warning details."
          ],
          "type": "string",
          "description": "The request status of the destination.",
          "enum": [
            "REQUEST_STATUS_UNKNOWN",
            "SUCCESS",
            "PROCESSING",
            "FAILED",
            "PARTIAL_SUCCESS"
          ]
        }
      },
      "description": "A request status per destination.",
      "type": "object"
    },
    "GoogleUserIdData": {
      "description": "Google user id data holding encrypted google user IDs. At least one google user ID is required.",
      "properties": {
        "googleUserIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The list of encrypted google user IDs."
        }
      },
      "type": "object",
      "id": "GoogleUserIdData"
    },
    "AdIdentifiers": {
      "properties": {
        "mobileDeviceId": {
          "type": "string",
          "description": "Optional. The mobile identifier for advertisers. This would be IDFA on iOS, AdID on Android, or other platforms’ identifiers for advertisers."
        },
        "gclid": {
          "type": "string",
          "description": "Optional. The Google click ID (gclid) associated with this event."
        },
        "wbraid": {
          "type": "string",
          "description": "Optional. The click identifier for clicks associated with web events and originating from iOS devices starting with iOS14."
        },
        "impressionId": {
          "type": "string",
          "description": "Optional. The impression ID associated with this event."
        },
        "encryptedUserIds": {
          "type": "array",
          "items": {
            "$ref": "EncryptedUserId"
          },
          "description": "Optional. Any number of encrypted user IDs."
        },
        "dclid": {
          "type": "string",
          "description": "Optional. The display click ID associated with this event."
        },
        "sessionAttributes": {
          "description": "Optional. Session attributes for event attribution and modeling.",
          "type": "string"
        },
        "gbraid": {
          "description": "Optional. The click identifier for clicks associated with app events and originating from iOS devices starting with iOS14.",
          "type": "string"
        },
        "matchId": {
          "type": "string",
          "description": "Optional. The match ID field used to join this event with a previous event."
        },
        "landingPageDeviceInfo": {
          "description": "Optional. Information gathered about the device being used (if any) at the time of landing onto the advertiser’s site after interacting with the ad.",
          "$ref": "DeviceInfo"
        }
      },
      "id": "AdIdentifiers",
      "description": "Identifiers and other information used to match the conversion event with other online activity (such as ad clicks).",
      "type": "object"
    },
    "UserIdentifier": {
      "properties": {
        "address": {
          "$ref": "AddressInfo",
          "description": "The known components of a user's address. Holds a grouping of identifiers that are matched all at once."
        },
        "phoneNumber": {
          "type": "string",
          "description": "Hashed phone number using SHA-256 hash function after normalization (E164 standard)."
        },
        "emailAddress": {
          "type": "string",
          "description": "Hashed email address using SHA-256 hash function after normalization."
        }
      },
      "type": "object",
      "id": "UserIdentifier",
      "description": "A single identifier for the user."
    },
    "IpData": {
      "properties": {
        "observeEndTime": {
          "description": "Optional. Last recorded interaction time from this IP address in a session.",
          "format": "google-datetime",
          "type": "string"
        },
        "observeStartTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. First recorded interaction time from this IP address in a session."
        },
        "ipAddress": {
          "type": "string",
          "description": "Required. IP address captured at the time of customer interaction. Accepts standard string formats for both IPv4 and IPv6."
        }
      },
      "type": "object",
      "description": "IP address information for a user. We recommend including observe_start_time and observe_end_time to help improve Customer Match match rates.",
      "id": "IpData"
    },
    "RetrieveRequestStatusResponse": {
      "id": "RetrieveRequestStatusResponse",
      "description": "Response from the RetrieveRequestStatusRequest.",
      "type": "object",
      "properties": {
        "requestStatusPerDestination": {
          "description": "A list of request statuses per destination. The order of the statuses matches the order of the destinations in the original request.",
          "type": "array",
          "items": {
            "$ref": "RequestStatusPerDestination"
          }
        }
      }
    },
    "UserListDirectLicense": {
      "description": "A user list direct license. This feature is only available to data partners.",
      "type": "object",
      "properties": {
        "historicalPricings": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "UserListLicensePricing"
          },
          "description": "Output only. Pricing history of this user list license. This field is read-only."
        },
        "clientAccountId": {
          "format": "int64",
          "description": "Immutable. ID of client customer which the user list is being licensed to.",
          "type": "string"
        },
        "pricing": {
          "description": "Optional. UserListDirectLicense pricing.",
          "$ref": "UserListLicensePricing"
        },
        "userListId": {
          "type": "string",
          "format": "int64",
          "description": "Immutable. ID of the user list being licensed."
        },
        "metrics": {
          "readOnly": true,
          "$ref": "UserListLicenseMetrics",
          "description": "Output only. Metrics related to this license This field is read-only and only populated if the start and end dates are set in the ListUserListDirectLicenses call"
        },
        "clientAccountDisplayName": {
          "type": "string",
          "description": "Output only. Name of client customer which the user list is being licensed to. This field is read-only.",
          "readOnly": true
        },
        "userListDisplayName": {
          "description": "Output only. Name of the user list being licensed. This field is read-only.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the user list direct license."
        },
        "status": {
          "enumDescriptions": [
            "Unknown.",
            "Active status - user list is still being licensed.",
            "Inactive status - user list is no longer being licensed."
          ],
          "type": "string",
          "description": "Optional. Status of UserListDirectLicense - ENABLED or DISABLED.",
          "enum": [
            "USER_LIST_LICENSE_STATUS_UNSPECIFIED",
            "USER_LIST_LICENSE_STATUS_ENABLED",
            "USER_LIST_LICENSE_STATUS_DISABLED"
          ]
        },
        "clientAccountType": {
          "type": "string",
          "enum": [
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_UNKNOWN",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_GOOGLE_ADS",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_DISPLAY_VIDEO_PARTNER",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_DISPLAY_VIDEO_ADVERTISER",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_GOOGLE_AD_MANAGER_AUDIENCE_LINK"
          ],
          "description": "Immutable. Account type of client customer which the user list is being licensed to.",
          "enumDescriptions": [
            "Unknown.",
            "Google Ads customer.",
            "Display & Video 360 partner.",
            "Display & Video 360 advertiser.",
            "Google Ad Manager audience link."
          ]
        }
      },
      "id": "UserListDirectLicense"
    },
    "EncryptionInfo": {
      "type": "object",
      "id": "EncryptionInfo",
      "properties": {
        "gcpWrappedKeyInfo": {
          "$ref": "GcpWrappedKeyInfo",
          "description": "Google Cloud Platform wrapped key information."
        },
        "coordinatorKeyInfo": {
          "$ref": "CoordinatorKeyInfo",
          "description": "Key information for the chosen coordinator key. This is not supported for the IngestEvents, IngestAudienceMembers, and RemoveAudienceMembers methods."
        },
        "awsWrappedKeyInfo": {
          "$ref": "AwsWrappedKeyInfo",
          "description": "Amazon Web Services wrapped key information."
        }
      },
      "description": "Encryption information for the data being ingested."
    },
    "IngestUserDataStatus": {
      "properties": {
        "userIdentifierCount": {
          "type": "string",
          "format": "int64",
          "description": "The total count of user identifiers sent in the upload request for the destination. Includes all user identifiers in the request, regardless of whether they were successfully ingested or not."
        },
        "recordCount": {
          "type": "string",
          "description": "The total count of audience members sent in the upload request for the destination. Includes all audience members in the request, regardless of whether they were successfully ingested or not.",
          "format": "int64"
        },
        "uploadMatchRateRange": {
          "type": "string",
          "enumDescriptions": [
            "The match rate range is unknown.",
            "The match rate range is not eligible.",
            "The match rate range is less than 20% (in the interval `[0, 20)`).",
            "The match rate range is between 20% and 30% (in the interval `[20, 31)`).",
            "The match rate range is between 31% and 40% (in the interval `[31, 41)`).",
            "The match rate range is between 41% and 50% (in the interval `[41, 51)`).",
            "The match rate range is between 51% and 60% (in the interval `[51, 61)`.",
            "The match rate range is between 61% and 70% (in the interval `[61, 71)`).",
            "The match rate range is between 71% and 80% (in the interval `[71, 81)`).",
            "The match rate range is between 81% and 90% (in the interval `[81, 91)`).",
            "The match rate range is between 91% and 100% (in the interval `[91, 100]`)."
          ],
          "description": "The match rate range of the upload.",
          "enum": [
            "MATCH_RATE_RANGE_UNKNOWN",
            "MATCH_RATE_RANGE_NOT_ELIGIBLE",
            "MATCH_RATE_RANGE_LESS_THAN_20",
            "MATCH_RATE_RANGE_20_TO_30",
            "MATCH_RATE_RANGE_31_TO_40",
            "MATCH_RATE_RANGE_41_TO_50",
            "MATCH_RATE_RANGE_51_TO_60",
            "MATCH_RATE_RANGE_61_TO_70",
            "MATCH_RATE_RANGE_71_TO_80",
            "MATCH_RATE_RANGE_81_TO_90",
            "MATCH_RATE_RANGE_91_TO_100"
          ]
        }
      },
      "type": "object",
      "id": "IngestUserDataStatus",
      "description": "The status of the user data ingestion to the destination containing stats related to the ingestion."
    },
    "RetrieveInsightsRequest": {
      "type": "object",
      "properties": {
        "baseline": {
          "description": "Required. Baseline for the insights requested.",
          "$ref": "Baseline"
        },
        "userListId": {
          "description": "Required. The user list ID for which insights are requested.",
          "type": "string"
        }
      },
      "description": "Request message for DM API MarketingDataInsightsService.RetrieveInsights",
      "id": "RetrieveInsightsRequest"
    },
    "CustomVariable": {
      "id": "CustomVariable",
      "properties": {
        "value": {
          "description": "Optional. The value to store for the custom variable.",
          "type": "string"
        },
        "variable": {
          "description": "Optional. The name of the custom variable to set. If the variable is not found for the given destination, it will be ignored.",
          "type": "string"
        },
        "destinationReferences": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Reference string used to determine which of the Event.destination_references the custom variable should be sent to. If empty, the Event.destination_references will be used."
        }
      },
      "description": "Custom variable for ads conversions.",
      "type": "object"
    },
    "PartnerLink": {
      "type": "object",
      "description": "A partner link between an owning account and a partner account.",
      "id": "PartnerLink",
      "properties": {
        "partnerAccount": {
          "description": "Required. The partner account granted access by the owning account.",
          "$ref": "ProductAccount"
        },
        "featureSet": {
          "description": "Optional. Immutable. The set of features supported for the partner link. If not specified, the system behavior defaults to FEATURE_SET_AUDIENCE_AND_EVENT_MANAGEMENT.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified feature set. If unspecified, the system behavior defaults to FEATURE_SET_AUDIENCE_AND_EVENT_MANAGEMENT.",
            "Indicates a link used for audience and event management.",
            "Indicates a link used for ad event management."
          ],
          "enum": [
            "FEATURE_SET_UNSPECIFIED",
            "FEATURE_SET_AUDIENCE_AND_EVENT_MANAGEMENT",
            "FEATURE_SET_AD_EVENT_MANAGEMENT"
          ]
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the partner link. Format: accountTypes/{account_type}/accounts/{account}/partnerLinks/{partner_link}"
        },
        "partnerLinkMetadata": {
          "description": "Optional. Metadata associated with the partner link. This is optional and only accepted for partner links with the FEATURE_SET_AD_EVENT_MANAGEMENT.",
          "$ref": "PartnerLinkMetadata"
        },
        "partnerCustomerAccount": {
          "description": "Optional. The customer account in the partner system. This is required for partner links with the FEATURE_SET_AD_EVENT_MANAGEMENT feature set.",
          "$ref": "PartnerCustomerAccount"
        },
        "owningAccount": {
          "$ref": "ProductAccount",
          "description": "Required. The owning account granting access to the partner account."
        },
        "partnerLinkId": {
          "description": "Output only. The partner link ID.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "DataTypeCount": {
      "id": "DataTypeCount",
      "description": "The count for a specific data type.",
      "type": "object",
      "properties": {
        "count": {
          "type": "string",
          "description": "The count for this data type.",
          "format": "int64"
        },
        "type": {
          "enumDescriptions": [
            "The data type is unspecified.",
            "The data is an email address.",
            "The data is a phone number.",
            "The data is a physical address.",
            "The data is an IP address."
          ],
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "EMAIL",
            "PHONE_NUMBER",
            "ADDRESS",
            "IP_ADDRESS"
          ],
          "description": "The type of data.",
          "type": "string"
        }
      }
    },
    "RemoveAudienceMembersStatus": {
      "properties": {
        "partnerProvidedIdDataRemovalStatus": {
          "$ref": "RemovePartnerProvidedIdDataStatus",
          "description": "The status of the partner provided id data removal from the destination."
        },
        "userDataRemovalStatus": {
          "description": "The status of the user data removal from the destination.",
          "$ref": "RemoveUserDataStatus"
        },
        "ppidDataRemovalStatus": {
          "description": "The status of the ppid data removal from the destination.",
          "$ref": "RemovePpidDataStatus"
        },
        "userIdDataRemovalStatus": {
          "description": "The status of the user id data removal from the destination.",
          "$ref": "RemoveUserIdDataStatus"
        },
        "pairDataRemovalStatus": {
          "$ref": "RemovePairDataStatus",
          "description": "The status of the pair data removal from the destination."
        },
        "compositeDataRemovalStatus": {
          "description": "The status of the composite data removal from the destination.",
          "$ref": "RemoveCompositeDataStatus"
        },
        "mobileDataRemovalStatus": {
          "description": "The status of the mobile data removal from the destination.",
          "$ref": "RemoveMobileDataStatus"
        },
        "googleUserIdDataRemovalStatus": {
          "description": "The status of the google user id data removal from the destination.",
          "$ref": "RemoveGoogleUserIdDataStatus"
        }
      },
      "type": "object",
      "description": "The status of the remove audience members request.",
      "id": "RemoveAudienceMembersStatus"
    },
    "Location": {
      "id": "Location",
      "description": "The baseline location of the request. Baseline location is on OR-list of ISO 3166-1 alpha-2 region codes of the requested regions.",
      "properties": {
        "regionCodes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of ISO 3166-1 alpha-2 region codes."
        }
      },
      "type": "object"
    },
    "WarningCount": {
      "description": "The warning count for a given warning reason.",
      "properties": {
        "recordCount": {
          "type": "string",
          "description": "The count of records that have a warning.",
          "format": "int64"
        },
        "reason": {
          "enum": [
            "PROCESSING_WARNING_REASON_UNSPECIFIED",
            "PROCESSING_WARNING_REASON_KEK_PERMISSION_DENIED",
            "PROCESSING_WARNING_REASON_DEK_DECRYPTION_ERROR",
            "PROCESSING_WARNING_REASON_DECRYPTION_ERROR",
            "PROCESSING_WARNING_REASON_WIP_AUTH_FAILED",
            "PROCESSING_WARNING_REASON_INVALID_WIP",
            "PROCESSING_WARNING_REASON_INVALID_KEK",
            "PROCESSING_WARNING_REASON_USER_IDENTIFIER_DECRYPTION_ERROR",
            "PROCESSING_WARNING_REASON_INTERNAL_ERROR",
            "PROCESSING_WARNING_REASON_AWS_AUTH_FAILED"
          ],
          "description": "The warning reason.",
          "enumDescriptions": [
            "The processing warning reason is unknown.",
            "The system did not have the permissions needed to access the KEK.",
            "The DEK failed to be decrypted.",
            "The event has a decryption error.",
            "The WIP could not be used because it was rejected by its attestation condition.",
            "The WIP is formatted incorrectly or the WIP does not exist.",
            "The KEK cannot decrypt data because it is the wrong KEK, or it does not exist.",
            "Failed to decrypt the UserIdentifier data using the DEK.",
            "Internal error.",
            "The system failed to authenticate with AWS."
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "WarningCount"
    },
    "MobileIdInfo": {
      "description": "Additional information when `MOBILE_ID` is one of the `upload_key_types`.",
      "type": "object",
      "id": "MobileIdInfo",
      "properties": {
        "dataSourceType": {
          "type": "string",
          "description": "Optional. Immutable. Source of the upload data.",
          "enumDescriptions": [
            "Not specified.",
            "The uploaded data is first-party data.",
            "The uploaded data is from a third-party credit bureau.",
            "The uploaded data is from a third-party voter file.",
            "The uploaded data is third party partner data."
          ],
          "enum": [
            "DATA_SOURCE_TYPE_UNSPECIFIED",
            "DATA_SOURCE_TYPE_FIRST_PARTY",
            "DATA_SOURCE_TYPE_THIRD_PARTY_CREDIT_BUREAU",
            "DATA_SOURCE_TYPE_THIRD_PARTY_VOTER_FILE",
            "DATA_SOURCE_TYPE_THIRD_PARTY_PARTNER_DATA"
          ]
        },
        "appId": {
          "description": "Required. Immutable. A string that uniquely identifies a mobile application from which the data was collected.",
          "type": "string"
        },
        "keySpace": {
          "description": "Required. Immutable. The key space of mobile IDs.",
          "enumDescriptions": [
            "Not specified.",
            "The iOS keyspace.",
            "The Android keyspace."
          ],
          "type": "string",
          "enum": [
            "KEY_SPACE_UNSPECIFIED",
            "IOS",
            "ANDROID"
          ]
        }
      }
    },
    "AudienceMember": {
      "description": "The audience member to be operated on.",
      "id": "AudienceMember",
      "type": "object",
      "properties": {
        "compositeData": {
          "description": "Group of multiple identifier types.",
          "$ref": "CompositeData"
        },
        "userData": {
          "description": "User-provided data that identifies the user.",
          "$ref": "UserData"
        },
        "googleUserIdData": {
          "$ref": "GoogleUserIdData",
          "description": "Encrypted Google User IDs."
        },
        "mobileData": {
          "$ref": "MobileData",
          "description": "Data identifying the user's mobile devices."
        },
        "partnerProvidedIdData": {
          "description": "Partner-provided identifiers.",
          "$ref": "PartnerProvidedIdData"
        },
        "consent": {
          "description": "Optional. The consent setting for the user.",
          "$ref": "Consent"
        },
        "pairData": {
          "$ref": "PairData",
          "description": "[Publisher Advertiser Identity Reconciliation (PAIR) IDs](//support.google.com/admanager/answer/15067908). This feature is only available to data partners."
        },
        "destinationReferences": {
          "description": "Optional. Defines which Destination to send the audience member to.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "ppidData": {
          "description": "Data related to publisher provided identifiers. This feature is only available to data partners.",
          "$ref": "PpidData"
        },
        "userIdData": {
          "$ref": "UserIdData",
          "description": "Data related to unique identifiers for a user, as defined by the advertiser."
        }
      }
    },
    "DeviceInfo": {
      "description": "Information about the device being used (if any) when the event happened.",
      "id": "DeviceInfo",
      "properties": {
        "screenWidth": {
          "description": "Optional. The width of the screen in pixels.",
          "format": "int32",
          "type": "integer"
        },
        "ipAddress": {
          "description": "Optional. The IP address of the device for the given context. Required when used in an AdEvent.",
          "type": "string"
        },
        "operatingSystemVersion": {
          "type": "string",
          "description": "Optional. The version of the operating system or platform."
        },
        "model": {
          "description": "Optional. The model of the device.",
          "type": "string"
        },
        "brand": {
          "description": "Optional. The brand of the device.",
          "type": "string"
        },
        "browser": {
          "description": "Optional. The brand or type of the browser.",
          "type": "string"
        },
        "userAgent": {
          "type": "string",
          "description": "Optional. The user-agent string of the device for the given context."
        },
        "operatingSystem": {
          "type": "string",
          "description": "Optional. The operating system or platform of the device."
        },
        "languageCode": {
          "description": "Optional. The language the device uses in ISO 639-1 format.",
          "type": "string"
        },
        "category": {
          "description": "Optional. The category of device. For example, “desktop”, “tablet”, “mobile”, “smart TV”.",
          "type": "string"
        },
        "screenHeight": {
          "description": "Optional. The height of the screen in pixels.",
          "format": "int32",
          "type": "integer"
        },
        "browserVersion": {
          "type": "string",
          "description": "Optional. The version of the browser."
        }
      },
      "type": "object"
    },
    "ItemCustomVariable": {
      "id": "ItemCustomVariable",
      "description": "Item-level custom variable for ads conversions.",
      "type": "object",
      "properties": {
        "variable": {
          "type": "string",
          "description": "Optional. The name of the custom variable to set. If the variable is not found for the given destination, it will be ignored."
        },
        "destinationReferences": {
          "description": "Optional. Reference string used to determine which of the Event.destination_references the custom variable should be sent to. If empty, the Event.destination_references will be used.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "value": {
          "description": "Optional. The value to store for the custom variable.",
          "type": "string"
        }
      }
    },
    "Item": {
      "description": "Represents an item in the cart associated with the event.",
      "id": "Item",
      "properties": {
        "conversionValue": {
          "type": "number",
          "format": "double",
          "description": "Optional. The conversion value associated with this item within the event, for cases where the conversion value is different for each item."
        },
        "merchantId": {
          "description": "Optional. The Merchant Center ID associated with the item. For Store Sales events this will override the value set at the cart level. This field is ignored for other events.",
          "type": "string"
        },
        "additionalItemParameters": {
          "description": "Optional. A bucket of any [event parameters related to an item](https://developers.google.com/analytics/devguides/collection/protocol/ga4/reference/events) to be included within the event that were not already specified using other structured fields.",
          "items": {
            "$ref": "ItemParameter"
          },
          "type": "array"
        },
        "quantity": {
          "format": "int64",
          "type": "string",
          "description": "Optional. The number of this item associated with the event."
        },
        "merchantProductId": {
          "description": "Optional. The product ID within the Merchant Center account.",
          "type": "string"
        },
        "unitPrice": {
          "description": "Optional. The unit price excluding tax, shipping, and any transaction level discounts.",
          "type": "number",
          "format": "double"
        },
        "merchantFeedLanguageCode": {
          "description": "Optional. The language code in ISO 639-1 associated with the Merchant Center feed where your items are uploaded.",
          "type": "string"
        },
        "merchantFeedLabel": {
          "description": "Optional. The feed label of the Merchant Center feed. If countries are still being used, the 2-letter country code in ISO-3166-1 alpha-2 can be used instead. For Store Sales events this will override the value set at the cart level. This field is ignored for other events.",
          "type": "string"
        },
        "customVariables": {
          "items": {
            "$ref": "ItemCustomVariable"
          },
          "type": "array",
          "description": "Optional. Additional key/value pair information to send to the conversion containers (conversion action or Floodlight activity), when tracking per-item conversions."
        },
        "itemId": {
          "type": "string",
          "description": "Optional. A unique identifier to reference the item."
        }
      },
      "type": "object"
    },
    "IngestGoogleUserIdDataStatus": {
      "type": "object",
      "properties": {
        "googleUserIdCount": {
          "format": "int64",
          "description": "The total count of google user ids sent in the upload request for the destination. Includes all google user ids in the request, regardless of whether they were successfully ingested or not.",
          "type": "string"
        },
        "recordCount": {
          "type": "string",
          "format": "int64",
          "description": "The total count of audience members sent in the upload request for the destination. Includes all audience members in the request, regardless of whether they were successfully ingested or not."
        }
      },
      "description": "The status of the google user id data ingestion to the destination containing stats related to the ingestion.",
      "id": "IngestGoogleUserIdDataStatus"
    },
    "PartnerAudienceInfo": {
      "type": "object",
      "description": "Additional information for partner audiences. This feature is only available to data partners.",
      "id": "PartnerAudienceInfo",
      "properties": {
        "commercePartner": {
          "type": "string",
          "description": "Optional. The commerce partner name. Only allowed if `partner_audience_source` is `COMMERCE_AUDIENCE`."
        },
        "partnerAudienceSource": {
          "type": "string",
          "enum": [
            "PARTNER_AUDIENCE_SOURCE_UNSPECIFIED",
            "COMMERCE_AUDIENCE",
            "LINEAR_TV_AUDIENCE",
            "AGENCY_PROVIDER_AUDIENCE"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Partner Audience source is commerce audience.",
            "Partner Audience source is linear TV audience.",
            "Partner Audience source is agency/provider audience."
          ],
          "description": "Required. Immutable. The source of the partner audience."
        }
      }
    },
    "PairIdInfo": {
      "id": "PairIdInfo",
      "type": "object",
      "properties": {
        "cleanRoomIdentifier": {
          "description": "Required. Immutable. Identifies a unique advertiser to publisher relationship with one clean room provider or across multiple clean room providers.",
          "type": "string"
        },
        "advertiserIdentifierCount": {
          "description": "Optional. The count of the advertiser's first party data records that have been uploaded to a clean room provider. This does not signify the size of a PAIR user list.",
          "type": "string",
          "format": "int64"
        },
        "publisherId": {
          "format": "int64",
          "type": "string",
          "description": "Required. Immutable. Identifies the publisher that the Publisher Advertiser Identity Reconciliation user list is reconciled with. This field is provided by the cleanroom provider and is only unique in the scope of that cleanroom. This cannot be used as a global identifier across multiple cleanrooms."
        },
        "publisherName": {
          "type": "string",
[...]
