{
  "canonicalName": "Datastream",
  "rootUrl": "https://datastream.googleapis.com/",
  "discoveryVersion": "v1",
  "description": "",
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerDomain": "google.com",
  "endpoints": [
    {
      "description": "Regional Endpoint",
      "location": "africa-south1",
      "endpointUrl": "https://datastream.africa-south1.rep.googleapis.com/"
    },
    {
      "location": "asia-east1",
      "endpointUrl": "https://datastream.asia-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-east2",
      "endpointUrl": "https://datastream.asia-east2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://datastream.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast1"
    },
    {
      "endpointUrl": "https://datastream.asia-northeast2.rep.googleapis.com/",
      "location": "asia-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.asia-northeast3.rep.googleapis.com/",
      "location": "asia-northeast3"
    },
    {
      "location": "asia-south1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.asia-south1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-south2",
      "endpointUrl": "https://datastream.asia-south2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-southeast1",
      "endpointUrl": "https://datastream.asia-southeast1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://datastream.asia-southeast2.rep.googleapis.com/",
      "location": "asia-southeast2",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-southeast3",
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.asia-southeast3.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://datastream.australia-southeast1.rep.googleapis.com/",
      "location": "australia-southeast1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datastream.australia-southeast2.rep.googleapis.com/",
      "location": "australia-southeast2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.europe-central2.rep.googleapis.com/",
      "location": "europe-central2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.europe-north1.rep.googleapis.com/",
      "location": "europe-north1"
    },
    {
      "endpointUrl": "https://datastream.europe-north2.rep.googleapis.com/",
      "location": "europe-north2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datastream.europe-southwest1.rep.googleapis.com/",
      "location": "europe-southwest1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datastream.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.europe-west10.rep.googleapis.com/",
      "location": "europe-west10"
    },
    {
      "endpointUrl": "https://datastream.europe-west12.rep.googleapis.com/",
      "location": "europe-west12",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west15",
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.europe-west15.rep.googleapis.com/"
    },
    {
      "location": "europe-west2",
      "endpointUrl": "https://datastream.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datastream.europe-west3.rep.googleapis.com/",
      "location": "europe-west3",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datastream.europe-west4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west4"
    },
    {
      "location": "europe-west6",
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.europe-west6.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://datastream.europe-west8.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west8"
    },
    {
      "endpointUrl": "https://datastream.europe-west9.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west9"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.me-central1.rep.googleapis.com/",
      "location": "me-central1"
    },
    {
      "endpointUrl": "https://datastream.me-central2.rep.googleapis.com/",
      "location": "me-central2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datastream.me-west1.rep.googleapis.com/",
      "location": "me-west1",
      "description": "Regional Endpoint"
    },
    {
      "location": "northamerica-northeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.northamerica-northeast1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://datastream.northamerica-northeast2.rep.googleapis.com/",
      "location": "northamerica-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datastream.northamerica-south1.rep.googleapis.com/",
      "location": "northamerica-south1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datastream.southamerica-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "southamerica-east1"
    },
    {
      "endpointUrl": "https://datastream.southamerica-west1.rep.googleapis.com/",
      "location": "southamerica-west1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datastream.us-central1.rep.googleapis.com/",
      "location": "us-central1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east1",
      "endpointUrl": "https://datastream.us-east1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east4",
      "endpointUrl": "https://datastream.us-east4.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east5",
      "endpointUrl": "https://datastream.us-east5.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.us-east7.rep.googleapis.com/",
      "location": "us-east7"
    },
    {
      "endpointUrl": "https://datastream.us-south1.rep.googleapis.com/",
      "location": "us-south1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datastream.us-west1.rep.googleapis.com/",
      "location": "us-west1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.us-west2.rep.googleapis.com/",
      "location": "us-west2"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west3",
      "endpointUrl": "https://datastream.us-west3.rep.googleapis.com/"
    },
    {
      "location": "us-west4",
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.us-west4.rep.googleapis.com/"
    }
  ],
  "basePath": "",
  "mtlsRootUrl": "https://datastream.mtls.googleapis.com/",
  "version_module": true,
  "ownerName": "Google",
  "schemas": {
    "IntegerRangePartition": {
      "id": "IntegerRangePartition",
      "description": "Integer range partitioning. see https://cloud.google.com/bigquery/docs/partitioned-tables#integer_range",
      "properties": {
        "end": {
          "format": "int64",
          "type": "string",
          "description": "Required. The ending value for range partitioning (exclusive)."
        },
        "column": {
          "description": "Required. The partitioning column.",
          "type": "string"
        },
        "start": {
          "type": "string",
          "description": "Required. The starting value for range partitioning (inclusive).",
          "format": "int64"
        },
        "interval": {
          "format": "int64",
          "description": "Required. The interval of each range within the partition.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "BlmtConfig": {
      "type": "object",
      "properties": {
        "fileFormat": {
          "enumDescriptions": [
            "Default value.",
            "Parquet file format."
          ],
          "description": "Required. The file format.",
          "type": "string",
          "enum": [
            "FILE_FORMAT_UNSPECIFIED",
            "PARQUET"
          ]
        },
        "rootPath": {
          "description": "The root path inside the Cloud Storage bucket.",
          "type": "string"
        },
        "tableFormat": {
          "type": "string",
          "enum": [
            "TABLE_FORMAT_UNSPECIFIED",
            "ICEBERG"
          ],
          "enumDescriptions": [
            "Default value.",
            "Iceberg table format."
          ],
          "description": "Required. The table format."
        },
        "bucket": {
          "description": "Required. The Cloud Storage bucket name.",
          "type": "string"
        },
        "connectionName": {
          "type": "string",
          "description": "Required. The bigquery connection. Format: `{project}.{location}.{name}`"
        }
      },
      "id": "BlmtConfig",
      "description": "The configuration for BLMT."
    },
    "MongodbCollection": {
      "description": "MongoDB Collection.",
      "type": "object",
      "id": "MongodbCollection",
      "properties": {
        "collection": {
          "type": "string",
          "description": "The collection name."
        },
        "fields": {
          "description": "Fields in the collection.",
          "items": {
            "$ref": "MongodbField"
          },
          "type": "array"
        }
      }
    },
    "StartBackfillJobRequest": {
      "type": "object",
      "properties": {
        "eventFilter": {
          "description": "Optional. Optional event filter. If not set, or empty, the backfill will be performed on the entire object. This is currently used for partial backfill and only supported for SQL sources.",
          "$ref": "EventFilter"
        }
      },
      "description": "Request for manually initiating a backfill job for a specific stream object.",
      "id": "StartBackfillJobRequest"
    },
    "Merge": {
      "description": "Merge mode defines that all changes to a table will be merged at the destination table.",
      "properties": {},
      "id": "Merge",
      "type": "object"
    },
    "GcsProfile": {
      "type": "object",
      "properties": {
        "rootPath": {
          "type": "string",
          "description": "Optional. The root path inside the Cloud Storage bucket."
        },
        "bucket": {
          "description": "Required. The Cloud Storage bucket name.",
          "type": "string"
        }
      },
      "description": "Profile for connecting to a Cloud Storage destination.",
      "id": "GcsProfile"
    },
    "MysqlSourceConfig": {
      "description": "Configuration for syncing data from a MySQL source.",
      "type": "object",
      "properties": {
        "binaryLogPosition": {
          "$ref": "BinaryLogPosition",
          "description": "Use Binary log position based replication."
        },
        "gtid": {
          "description": "Use GTID based replication.",
          "$ref": "Gtid"
        },
        "excludeObjects": {
          "description": "The MySQL objects to exclude from the stream.",
          "$ref": "MysqlRdbms"
        },
        "maxConcurrentCdcTasks": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum number of concurrent CDC tasks. The number should be non negative. If not set (or set to 0), the system's default value will be used."
        },
        "maxConcurrentBackfillTasks": {
          "description": "Maximum number of concurrent backfill tasks. The number should be non negative. If not set (or set to 0), the system's default value will be used.",
          "type": "integer",
          "format": "int32"
        },
        "includeObjects": {
          "description": "The MySQL objects to retrieve from the source.",
          "$ref": "MysqlRdbms"
        }
      },
      "id": "MysqlSourceConfig"
    },
    "MysqlLogPosition": {
      "description": "MySQL log position",
      "properties": {
        "logFile": {
          "description": "Required. The binary log file name.",
          "type": "string"
        },
        "logPosition": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The position within the binary log file. Default is head of file."
        }
      },
      "type": "object",
      "id": "MysqlLogPosition"
    },
    "WorkdayProfile": {
      "type": "object",
      "description": "Profile for connecting to a Workday source.",
      "properties": {
        "oauthRefreshTokenCredentials": {
          "$ref": "OauthRefreshTokenCredentials",
          "description": "Required. Credentials for authenticating with the Workday API. OAuth Refresh Token credentials for authenticating with the Workday API."
        },
        "tenant": {
          "description": "Required. Tenant for the Workday connection (e.g., `google12`).",
          "type": "string"
        },
        "host": {
          "description": "Required. Host for the Workday connection. Must be a valid hostname (e.g., `wd3-impl-services1.workday.com`).",
          "type": "string"
        }
      },
      "id": "WorkdayProfile"
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "properties": {
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      },
      "type": "object"
    },
    "ResourceInfo": {
      "type": "object",
      "id": "ResourceInfo",
      "properties": {
        "description": {
          "type": "string",
          "description": "Describes what error is encountered when accessing this resource. For example, updating a cloud project may require the `writer` permission on the developer console project."
        },
        "resourceName": {
          "description": "The name of the resource being accessed. For example, a shared calendar name: \"example.com_4fghdhgsrgh@group.calendar.google.com\", if the current error is google.rpc.Code.PERMISSION_DENIED.",
          "type": "string"
        },
        "resourceType": {
          "description": "A name for the type of resource being accessed, e.g. \"sql table\", \"cloud storage bucket\", \"file\", \"Google calendar\"; or the type URL of the resource: e.g. \"type.googleapis.com/google.pubsub.v1.Topic\".",
          "type": "string"
        },
        "owner": {
          "type": "string",
          "description": "The owner of the resource (optional). For example, \"user:\" or \"project:\"."
        }
      },
      "description": "Describes the resource that is being accessed."
    },
    "PostgresqlColumn": {
      "id": "PostgresqlColumn",
      "description": "PostgreSQL Column.",
      "type": "object",
      "properties": {
        "primaryKey": {
          "description": "Whether or not the column represents a primary key.",
          "type": "boolean"
        },
        "scale": {
          "type": "integer",
          "format": "int32",
          "description": "Column scale."
        },
        "nullable": {
          "description": "Whether or not the column can accept a null value.",
          "type": "boolean"
        },
        "ordinalPosition": {
          "description": "The ordinal position of the column in the table.",
          "format": "int32",
          "type": "integer"
        },
        "column": {
          "description": "The column name.",
          "type": "string"
        },
        "dataType": {
          "type": "string",
          "description": "The PostgreSQL data type."
        },
        "precision": {
          "description": "Column precision.",
          "format": "int32",
          "type": "integer"
        },
        "length": {
          "type": "integer",
          "description": "Column length.",
          "format": "int32"
        }
      }
    },
    "StopBackfillJobResponse": {
      "type": "object",
      "properties": {
        "object": {
          "$ref": "StreamObject",
          "description": "The stream object resource the backfill job was stopped for."
        }
      },
      "id": "StopBackfillJobResponse",
      "description": "Response for manually stop a backfill job for a specific stream object."
    },
    "PscInterfaceConfig": {
      "properties": {
        "networkAttachment": {
          "description": "Required. Fully qualified name of the Network Attachment that Datastream will connect to. Format: `projects/{project}/regions/{region}/networkAttachments/{name}`",
          "type": "string"
        }
      },
      "id": "PscInterfaceConfig",
      "type": "object",
      "description": "The PSC Interface configuration is used to create PSC Interface between Datastream and the consumer's PSC."
    },
    "Route": {
      "description": "The route resource is the child of the private connection resource, used for defining a route for a private connection.",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Identifier. The resource's name."
        },
        "updateTime": {
          "description": "Output only. The update time of the resource.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Labels."
        },
        "displayName": {
          "description": "Required. Display name.",
          "type": "string"
        },
        "destinationAddress": {
          "description": "Required. Destination address for connection",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The create time of the resource.",
          "readOnly": true
        },
        "destinationPort": {
          "description": "Destination port for connection",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "Route",
      "type": "object"
    },
    "FetchStaticIpsResponse": {
      "id": "FetchStaticIpsResponse",
      "type": "object",
      "description": "Response message for a 'FetchStaticIps' response.",
      "properties": {
        "staticIps": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "list of static ips by account"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "SqlServerTransactionLogs": {
      "id": "SqlServerTransactionLogs",
      "properties": {},
      "description": "Configuration to use Transaction Logs CDC read method.",
      "type": "object"
    },
    "ListStreamsResponse": {
      "description": "Response message for listing streams.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "streams": {
          "type": "array",
          "description": "List of streams",
          "items": {
            "$ref": "Stream"
          }
        }
      },
      "type": "object",
      "id": "ListStreamsResponse"
    },
    "BackfillAllStrategy": {
      "properties": {
        "mysqlExcludedObjects": {
          "description": "MySQL data source objects to avoid backfilling.",
          "$ref": "MysqlRdbms"
        },
        "mongodbExcludedObjects": {
          "$ref": "MongodbCluster",
          "description": "MongoDB data source objects to avoid backfilling"
        },
        "salesforceExcludedObjects": {
          "description": "Salesforce data source objects to avoid backfilling",
          "$ref": "SalesforceOrg"
        },
        "postgresqlExcludedObjects": {
          "$ref": "PostgresqlRdbms",
          "description": "PostgreSQL data source objects to avoid backfilling."
        },
        "spannerExcludedObjects": {
          "$ref": "SpannerDatabase",
          "description": "Spanner data source objects to avoid backfilling."
        },
        "oracleExcludedObjects": {
          "$ref": "OracleRdbms",
          "description": "Oracle data source objects to avoid backfilling."
        },
        "sqlServerExcludedObjects": {
          "$ref": "SqlServerRdbms",
          "description": "SQLServer data source objects to avoid backfilling"
        },
        "saasExcludedObjects": {
          "$ref": "SourceCatalog",
          "description": "Source catalog data source objects to avoid backfilling. This is mainly used to represent SaaS applications objects."
        }
      },
      "id": "BackfillAllStrategy",
      "description": "Backfill strategy to automatically backfill the Stream's objects. Specific objects can be excluded.",
      "type": "object"
    },
    "SpannerObjectIdentifier": {
      "type": "object",
      "id": "SpannerObjectIdentifier",
      "description": "Spanner data source object identifier.",
      "properties": {
        "schema": {
          "description": "Optional. The schema name.",
          "type": "string"
        },
        "table": {
          "description": "Required. The table name.",
          "type": "string"
        }
      }
    },
    "ObjectFilter": {
      "properties": {
        "sourceObjectIdentifier": {
          "$ref": "SourceObjectIdentifier",
          "description": "Specific source object identifier."
        }
      },
      "description": "Object filter to apply the rules to.",
      "id": "ObjectFilter",
      "type": "object"
    },
    "SalesforceOrg": {
      "id": "SalesforceOrg",
      "type": "object",
      "description": "Salesforce organization structure.",
      "properties": {
        "objects": {
          "items": {
            "$ref": "SalesforceObject"
          },
          "description": "Salesforce objects in the database server.",
          "type": "array"
        }
      }
    },
    "DataverseProfile": {
      "description": "Profile for connecting to a Dataverse source.",
      "id": "DataverseProfile",
      "type": "object",
      "properties": {
        "tenantId": {
          "type": "string",
          "description": "Required. Tenant id of the Microsoft Dataverse instance."
        },
        "oauthClientCredentials": {
          "$ref": "OauthClientCredentials",
          "description": "Required. Credentials for authenticating with the Dataverse API."
        },
        "environmentUrl": {
          "type": "string",
          "description": "Required. Environment URL of the Microsoft Dataverse instance. Example: `.crm.dynamics.com`"
        }
      }
    },
    "MysqlDatabase": {
      "description": "MySQL database.",
      "id": "MysqlDatabase",
      "type": "object",
      "properties": {
        "database": {
          "description": "The database name.",
          "type": "string"
        },
        "mysqlTables": {
          "type": "array",
          "description": "Tables in the database.",
          "items": {
            "$ref": "MysqlTable"
          }
        }
      }
    },
    "ForwardSshTunnelConnectivity": {
      "properties": {
        "password": {
          "description": "Input only. SSH password.",
          "type": "string"
        },
        "privateKey": {
          "description": "Input only. SSH private key.",
          "type": "string"
        },
        "port": {
          "type": "integer",
          "description": "Port for the SSH tunnel, default value is 22.",
          "format": "int32"
        },
        "hostname": {
          "type": "string",
          "description": "Required. Hostname for the SSH tunnel."
        },
        "username": {
          "type": "string",
          "description": "Required. Username for the SSH tunnel."
        }
      },
      "id": "ForwardSshTunnelConnectivity",
      "description": "Forward SSH Tunnel connectivity.",
      "type": "object"
    },
    "PrivateConnection": {
      "id": "PrivateConnection",
      "description": "The PrivateConnection resource is used to establish private connectivity between Datastream and a customer's network.",
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The create time of the resource.",
          "readOnly": true
        },
        "vpcPeeringConfig": {
          "$ref": "VpcPeeringConfig",
          "description": "VPC Peering Config."
        },
        "labels": {
          "description": "Labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified state.",
            "The private connection is in creation state - creating resources.",
            "The private connection has been created with all of its resources.",
            "The private connection creation has failed.",
            "The private connection is being deleted.",
            "Delete request has failed, resource is in invalid state."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "CREATED",
            "FAILED",
            "DELETING",
            "FAILED_TO_DELETE"
          ],
          "description": "Output only. The state of the Private Connection."
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "satisfiesPzi": {
          "description": "Output only. Reserved for future use.",
          "type": "boolean",
          "readOnly": true
        },
        "error": {
          "readOnly": true,
          "$ref": "Error",
          "description": "Output only. In case of error, the details of the error in a user-friendly format."
        },
        "displayName": {
          "description": "Required. Display name.",
          "type": "string"
        },
        "pscInterfaceConfig": {
          "$ref": "PscInterfaceConfig",
          "description": "PSC Interface Config."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The update time of the resource."
        },
        "name": {
          "description": "Output only. Identifier. The resource's name.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "MongodbProfile": {
      "type": "object",
      "description": "Profile for connecting to a MongoDB source.",
      "properties": {
        "username": {
          "description": "Required. Username for the MongoDB connection.",
          "type": "string"
        },
        "password": {
          "type": "string",
          "description": "Optional. Password for the MongoDB connection. Mutually exclusive with the `secret_manager_stored_password` field."
        },
        "secretManagerStoredPassword": {
          "description": "Optional. A reference to a Secret Manager resource name storing the SQLServer connection password. Mutually exclusive with the `password` field.",
          "type": "string"
        },
        "standardConnectionFormat": {
          "$ref": "StandardConnectionFormat",
          "description": "Standard connection format."
        },
        "sslConfig": {
          "description": "Optional. SSL configuration for the MongoDB connection.",
          "$ref": "MongodbSslConfig"
        },
        "additionalOptions": {
          "type": "object",
          "description": "Optional. Specifies additional options for the MongoDB connection. The options should be sent as key-value pairs, for example: `additional_options = {\"serverSelectionTimeoutMS\": \"10000\", \"directConnection\": \"true\"}`. Keys are case-sensitive and should match the official MongoDB connection string options: https://www.mongodb.com/docs/manual/reference/connection-string-options/ The server will not modify the values provided by the user.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "replicaSet": {
          "type": "string",
          "description": "Optional. Name of the replica set. Only needed for self hosted replica set type MongoDB cluster. For SRV connection format, this field must be empty. For Standard connection format, this field must be specified."
        },
        "hostAddresses": {
          "items": {
            "$ref": "HostAddress"
          },
          "description": "Required. List of host addresses for a MongoDB cluster. For SRV connection format, this list must contain exactly one DNS host without a port. For Standard connection format, this list must contain all the required hosts in the cluster with their respective ports.",
          "type": "array"
        },
        "srvConnectionFormat": {
          "description": "Srv connection format.",
          "$ref": "SrvConnectionFormat"
        }
      },
      "id": "MongodbProfile"
    },
    "SalesforceSourceConfig": {
      "id": "SalesforceSourceConfig",
      "description": "Configuration for syncing data from a Salesforce source.",
      "type": "object",
      "properties": {
        "pollingInterval": {
          "format": "google-duration",
          "description": "Required. Salesforce objects polling interval. The interval at which new changes will be polled for each object. The duration must be from `5 minutes` to `24 hours`, inclusive.",
          "type": "string"
        },
        "includeObjects": {
          "description": "The Salesforce objects to retrieve from the source.",
          "$ref": "SalesforceOrg"
        },
        "excludeObjects": {
          "$ref": "SalesforceOrg",
          "description": "The Salesforce objects to exclude from the stream."
        }
      }
    },
    "Validation": {
      "id": "Validation",
      "properties": {
        "description": {
          "type": "string",
          "description": "A short description of the validation."
        },
        "code": {
          "type": "string",
          "description": "A custom code identifying this validation."
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state.",
            "Validation did not execute.",
            "Validation failed.",
            "Validation passed.",
            "Validation executed with warnings."
          ],
          "description": "Output only. Validation execution status.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "NOT_EXECUTED",
            "FAILED",
            "PASSED",
            "WARNING"
          ],
          "readOnly": true
        },
        "message": {
          "items": {
            "$ref": "ValidationMessage"
          },
          "description": "Messages reflecting the validation results.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "A validation to perform on a stream."
    },
    "BadRequest": {
      "id": "BadRequest",
      "description": "Describes violations in a client request. This error type focuses on the syntactic aspects of the request.",
      "properties": {
        "fieldViolations": {
          "items": {
            "$ref": "FieldViolation"
          },
          "type": "array",
          "description": "Describes all violations in a client request."
        }
      },
      "type": "object"
    },
    "BigQueryProfile": {
      "description": "Profile for connecting to a BigQuery destination.",
      "type": "object",
      "properties": {},
      "id": "BigQueryProfile"
    },
    "SalesforceMarketingCloudProfile": {
      "id": "SalesforceMarketingCloudProfile",
      "description": "Profile for connecting to a Salesforce Marketing Cloud source.",
      "type": "object",
      "properties": {
        "subdomain": {
          "description": "Required. Subdomain for the Salesforce Marketing Cloud connection. Example: if your specific endpoint is `https://{your-specific-subdomain}.rest.marketingcloudapis.com/`, the subdomain is `{your-specific-subdomain}`. Must be 1-63 characters, start and end with an alphanumeric character, and contain only lowercase letters, numbers, and hyphens (-).",
          "type": "string"
        },
        "oauthClientCredentials": {
          "$ref": "OauthClientCredentials",
          "description": "Required. Input only. Credentials for authenticating with the Salesforce Marketing Cloud API."
        }
      }
    },
    "DebugInfo": {
      "id": "DebugInfo",
      "description": "Describes additional debugging info.",
      "type": "object",
      "properties": {
        "stackEntries": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The stack trace entries indicating where the error occurred."
        },
        "detail": {
          "description": "Additional debugging information provided by the server.",
          "type": "string"
        }
      }
    },
    "ServerVerification": {
      "id": "ServerVerification",
      "properties": {
        "caCertificate": {
          "type": "string",
          "description": "Required. Input only. PEM-encoded server root CA certificate."
        },
        "serverCertificateHostname": {
          "description": "Optional. The hostname mentioned in the Subject or SAN extension of the server certificate. If this field is not provided, the hostname in the server certificate is not validated.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Message represents the option where Datastream will enforce the encryption and authenticate the server identity. ca_certificate must be set if user selects this option."
    },
    "RequestInfo": {
      "properties": {
        "requestId": {
          "type": "string",
          "description": "An opaque string that should only be interpreted by the service generating it. For example, it can be used to identify requests in the service's logs."
        },
        "servingData": {
          "description": "Any data that was used to serve this request. For example, an encrypted stack trace that can be sent back to the service provider for debugging.",
          "type": "string"
        }
      },
      "id": "RequestInfo",
      "type": "object",
      "description": "Contains metadata about the request that clients can attach when filing a bug or providing other forms of feedback."
    },
    "MysqlColumn": {
      "id": "MysqlColumn",
      "description": "MySQL Column.",
      "properties": {
        "nullable": {
          "type": "boolean",
          "description": "Whether or not the column can accept a null value."
        },
        "primaryKey": {
          "type": "boolean",
          "description": "Whether or not the column represents a primary key."
        },
        "dataType": {
          "description": "The MySQL data type. Full data types list can be found here: https://dev.mysql.com/doc/refman/8.0/en/data-types.html",
          "type": "string"
        },
        "collation": {
          "description": "Column collation.",
          "type": "string"
        },
        "scale": {
          "format": "int32",
          "description": "Column scale.",
          "type": "integer"
        },
        "precision": {
          "description": "Column precision.",
          "format": "int32",
          "type": "integer"
        },
        "length": {
          "type": "integer",
          "description": "Column length.",
          "format": "int32"
        },
        "column": {
          "description": "The column name.",
          "type": "string"
        },
        "ordinalPosition": {
          "description": "The ordinal position of the column in the table.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "ErrorInfo": {
      "id": "ErrorInfo",
      "description": "Describes the cause of the error with structured details. Example of an error when contacting the \"pubsub.googleapis.com\" API when it is not enabled: { \"reason\": \"API_DISABLED\" \"domain\": \"googleapis.com\" \"metadata\": { \"resource\": \"projects/123\", \"service\": \"pubsub.googleapis.com\" } } This response indicates that the pubsub.googleapis.com API is not enabled. Example of an error that is returned when attempting to create a Spanner instance in a region that is out of stock: { \"reason\": \"STOCKOUT\" \"domain\": \"spanner.googleapis.com\", \"metadata\": { \"availableRegions\": \"us-central1,us-east2\" } }",
      "properties": {
        "reason": {
          "description": "The reason for the error. This is a constant value that identifies the proximate cause of the error. Error reasons are unique within a particular domain of errors. This should be at most 63 characters and match a regular expression of `A-Z+[A-Z0-9]`, which represents UPPER_SNAKE_CASE.",
          "type": "string"
        },
        "domain": {
          "description": "The logical grouping to which the \"reason\" belongs. The error domain is typically the registered service name of the tool or product that generates the error. Example: \"pubsub.googleapis.com\". If the error is generated by some common infrastructure, the error domain must be a globally unique value that identifies the infrastructure. For Google API infrastructure, the error domain is \"googleapis.com\".",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Additional structured details about this error. Keys must match a regular expression of `a-z+` but should ideally be lowerCamelCase. Also, they must be limited to 64 characters in length. When identifying the current value of an exceeded limit, the units should be contained in the key, not the value. For example, rather than `{\"instanceLimit\": \"100/request\"}`, should be returned as, `{\"instanceLimitPerRequest\": \"100\"}`, if the client exceeds the number of instances that can be created in a single (batch) request.",
          "type": "object"
        }
      },
      "type": "object"
    },
    "OracleTable": {
      "description": "Oracle table.",
      "id": "OracleTable",
      "properties": {
        "table": {
          "description": "The table name.",
          "type": "string"
        },
        "oracleColumns": {
          "items": {
            "$ref": "OracleColumn"
          },
          "type": "array",
          "description": "Oracle columns in the schema. When unspecified as part of include/exclude objects, includes/excludes everything."
        }
      },
      "type": "object"
    },
    "OracleSourceConfig": {
      "properties": {
        "includeObjects": {
          "description": "The Oracle objects to include in the stream.",
          "$ref": "OracleRdbms"
        },
        "logMiner": {
          "$ref": "LogMiner",
          "description": "Use LogMiner."
        },
        "dropLargeObjects": {
          "description": "Drop large object values.",
          "$ref": "DropLargeObjects"
        },
        "maxConcurrentCdcTasks": {
          "type": "integer",
          "description": "Maximum number of concurrent CDC tasks. The number should be non-negative. If not set (or set to 0), the system's default value is used.",
          "format": "int32"
        },
        "excludeObjects": {
          "description": "The Oracle objects to exclude from the stream.",
          "$ref": "OracleRdbms"
        },
        "binaryLogParser": {
          "$ref": "BinaryLogParser",
          "description": "Use Binary Log Parser."
        },
        "maxConcurrentBackfillTasks": {
          "description": "Maximum number of concurrent backfill tasks. The number should be non-negative. If not set (or set to 0), the system's default value is used.",
          "format": "int32",
          "type": "integer"
        },
        "streamLargeObjects": {
          "$ref": "StreamLargeObjects",
          "description": "Stream large object values."
        }
      },
      "id": "OracleSourceConfig",
      "description": "Configuration for syncing data from an Oracle source.",
      "type": "object"
    },
    "OracleObjectIdentifier": {
      "id": "OracleObjectIdentifier",
      "description": "Oracle data source object identifier.",
      "properties": {
        "table": {
          "type": "string",
          "description": "Required. The table name."
        },
        "schema": {
          "description": "Required. The schema name.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SqlServerSslConfig": {
      "properties": {
        "encryptionAndServerValidation": {
          "description": "If set, Datastream will enforce encryption and authenticate server identity.",
          "$ref": "EncryptionAndServerValidation"
        },
        "basicEncryption": {
          "description": "If set, Datastream will enforce encryption without authenticating server identity. Server certificates will be trusted by default.",
          "$ref": "BasicEncryption"
        },
        "encryptionNotEnforced": {
          "description": "If set, Datastream will not enforce encryption. If the DB server mandates encryption, then connection will be encrypted but server identity will not be authenticated.",
          "$ref": "EncryptionNotEnforced"
        }
      },
      "type": "object",
      "id": "SqlServerSslConfig",
      "description": "SQL Server SSL configuration information."
    },
    "PostgresqlProfile": {
      "id": "PostgresqlProfile",
      "properties": {
        "database": {
          "description": "Required. Database for the PostgreSQL connection.",
          "type": "string"
        },
        "password": {
          "description": "Optional. Password for the PostgreSQL connection. Mutually exclusive with the `secret_manager_stored_password` field.",
          "type": "string"
        },
        "secretManagerStoredPassword": {
          "description": "Optional. A reference to a Secret Manager resource name storing the PostgreSQL connection password. Mutually exclusive with the `password` field.",
          "type": "string"
        },
        "hostname": {
          "description": "Required. Hostname for the PostgreSQL connection.",
          "type": "string"
        },
        "username": {
          "description": "Required. Username for the PostgreSQL connection.",
          "type": "string"
        },
        "sslConfig": {
          "$ref": "PostgresqlSslConfig",
          "description": "Optional. SSL configuration for the PostgreSQL connection. In case PostgresqlSslConfig is not set, the connection will use the default SSL mode, which is `prefer` (i.e. this mode will only use encryption if enabled from database side, otherwise will use unencrypted communication)"
        },
        "port": {
          "description": "Port for the PostgreSQL connection, default value is 5432.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Profile for connecting to a PostgreSQL source.",
      "type": "object"
    },
    "QuotaFailure": {
      "type": "object",
      "description": "Describes how a quota check failed. For example if a daily limit was exceeded for the calling project, a service could respond with a QuotaFailure detail containing the project id and the description of the quota limit that was exceeded. If the calling project hasn't enabled the service in the developer console, then a service could respond with the project id and set `service_disabled` to true. Also see RetryInfo and Help types for other details about handling a quota failure.",
      "id": "QuotaFailure",
      "properties": {
        "violations": {
          "items": {
            "$ref": "QuotaFailureViolation"
          },
          "description": "Describes all quota violations.",
          "type": "array"
        }
      }
    },
    "Stream": {
      "id": "Stream",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Required. Display name.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The last update time of the stream."
        },
        "satisfiesPzi": {
          "type": "boolean",
          "description": "Output only. Reserved for future use.",
          "readOnly": true
        },
        "name": {
          "description": "Output only. Identifier. The stream's name.",
          "type": "string",
          "readOnly": true
        },
        "customerManagedEncryptionKey": {
          "description": "Immutable. A reference to a KMS encryption key. If provided, it will be used to encrypt the data. If left blank, data will be encrypted using an internal Stream-specific encryption key provisioned through KMS.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The creation time of the stream.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels."
        },
        "lastRecoveryTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. If the stream was recovered, the time of the last recovery. Note: This field is currently experimental."
        },
        "backfillAll": {
          "$ref": "BackfillAllStrategy",
          "description": "Automatically backfill objects included in the stream source configuration. Specific objects can be excluded."
        },
        "ruleSets": {
          "items": {
            "$ref": "RuleSet"
          },
          "type": "array",
          "description": "Optional. Rule sets to apply to the stream."
        },
        "sourceConfig": {
          "description": "Required. Source connection profile configuration.",
          "$ref": "SourceConfig"
        },
        "destinationConfig": {
          "description": "Required. Destination connection profile configuration.",
          "$ref": "DestinationConfig"
        },
        "errors": {
          "readOnly": true,
          "description": "Output only. Errors on the Stream.",
          "items": {
            "$ref": "Error"
          },
          "type": "array"
        },
        "satisfiesPzs": {
          "type": "boolean",
          "description": "Output only. Reserved for future use.",
          "readOnly": true
        },
        "backfillNone": {
          "description": "Do not automatically backfill any objects.",
          "$ref": "BackfillNoneStrategy"
        },
        "state": {
          "enumDescriptions": [
            "Unspecified stream state.",
            "The stream has been created but has not yet started streaming data.",
            "The stream is running.",
            "The stream is paused.",
            "The stream is in maintenance mode. Updates are rejected on the resource in this state.",
            "The stream is experiencing an error that is preventing data from being streamed.",
            "The stream has experienced a terminal failure.",
            "The stream is starting, but not yet running.",
            "The Stream is no longer reading new events, but still writing events in the buffer."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "NOT_STARTED",
            "RUNNING",
            "PAUSED",
            "MAINTENANCE",
            "FAILED",
            "FAILED_PERMANENTLY",
            "STARTING",
            "DRAINING"
          ],
          "description": "The state of the stream."
        }
      },
      "description": "A resource representing streaming data from a source to a destination."
    },
    "EventFilter": {
      "properties": {
        "sqlWhereClause": {
          "description": "An SQL-query Where clause selecting which data should be included, not including the \"WHERE\" keyword. e.g., `t.key1 = 'value1' AND t.key2 = 'value2'`",
          "type": "string"
        }
      },
      "description": "Represents a filter for included data on a stream object.",
      "type": "object",
      "id": "EventFilter"
    },
    "GcsDestinationConfig": {
      "properties": {
        "fileRotationInterval": {
          "description": "The maximum duration for which new events are added before a file is closed and a new file is created. Values within the range of 15-60 seconds are allowed.",
          "format": "google-duration",
          "type": "string"
        },
        "path": {
          "type": "string",
          "description": "Path inside the Cloud Storage bucket to write data to."
        },
        "avroFileFormat": {
          "$ref": "AvroFileFormat",
          "description": "AVRO file format configuration."
        },
        "fileRotationMb": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum file size to be saved in the bucket."
        },
        "jsonFileFormat": {
          "description": "JSON file format configuration.",
          "$ref": "JsonFileFormat"
        }
      },
      "type": "object",
      "description": "Google Cloud Storage destination configuration",
      "id": "GcsDestinationConfig"
    },
    "EncryptionAndServerValidation": {
      "id": "EncryptionAndServerValidation",
      "type": "object",
      "properties": {
        "caCertificate": {
          "description": "Optional. Input only. PEM-encoded certificate of the CA that signed the source database server's certificate.",
          "type": "string"
        },
        "serverCertificateHostname": {
          "type": "string",
          "description": "Optional. The hostname mentioned in the Subject or SAN extension of the server certificate. This field is used for bypassing the hostname validation while verifying server certificate. This is required for scenarios where the host name that datastream connects to is different from the certificate's subject. This specifically happens for private connectivity. It could also happen when the customer provides a public IP in connection profile but the same is not present in the server certificate."
        }
      },
      "description": "Message to represent the option where Datastream will enforce encryption and authenticate server identity. ca_certificate must be set if user selects this option."
    },
    "PostgresqlSourceConfig": {
      "id": "PostgresqlSourceConfig",
      "description": "Configuration for syncing data from a PostgreSQL source.",
      "properties": {
        "includeObjects": {
          "$ref": "PostgresqlRdbms",
          "description": "The PostgreSQL objects to include in the stream."
        },
        "replicationSlot": {
          "description": "Required. Immutable. The name of the logical replication slot that's configured with the pgoutput plugin.",
          "type": "string"
        },
        "publication": {
          "description": "Required. The name of the publication that includes the set of all tables that are defined in the stream's include_objects.",
          "type": "string"
        },
        "excludeObjects": {
          "description": "The PostgreSQL objects to exclude from the stream.",
          "$ref": "PostgresqlRdbms"
        },
        "maxConcurrentBackfillTasks": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum number of concurrent backfill tasks. The number should be non negative. If not set (or set to 0), the system's default value will be used."
        }
      },
      "type": "object"
    },
    "SpannerProfile": {
      "description": "Profile for connecting to a Spanner source.",
      "type": "object",
      "id": "SpannerProfile",
      "properties": {
        "host": {
          "type": "string",
          "description": "Optional. The Spanner endpoint to connect to. Defaults to the global endpoint (https://spanner.googleapis.com). Must be in the format: https://spanner.{region}.rep.googleapis.com."
        },
        "database": {
          "description": "Required. Immutable. Cloud Spanner database resource. This field is immutable. Must be in the format: projects/{project}/instances/{instance}/databases/{database_id}.",
          "type": "string"
        }
      }
    },
    "SpannerTable": {
      "description": "Spanner table.",
      "id": "SpannerTable",
      "type": "object",
      "properties": {
        "table": {
          "description": "Required. The table name.",
          "type": "string"
        },
        "columns": {
          "description": "Optional. Spanner columns in the table.",
          "items": {
            "$ref": "SpannerColumn"
          },
          "type": "array"
        }
      }
    },
    "PrivateConnectivity": {
      "type": "object",
      "id": "PrivateConnectivity",
      "properties": {
        "privateConnection": {
          "type": "string",
          "description": "Required. A reference to a private connection resource. Format: `projects/{project}/locations/{location}/privateConnections/{name}`"
        }
      },
      "description": "Private Connectivity"
    },
    "RuleSet": {
      "id": "RuleSet",
      "properties": {
        "customizationRules": {
          "items": {
            "$ref": "CustomizationRule"
          },
          "type": "array",
          "description": "Required. List of customization rules to apply."
        },
        "objectFilter": {
          "description": "Required. Object filter to apply the customization rules to.",
          "$ref": "ObjectFilter"
        }
      },
      "type": "object",
      "description": "A set of rules to apply to a set of objects."
    },
    "StandardConnectionFormat": {
      "type": "object",
      "description": "Standard connection format.",
      "id": "StandardConnectionFormat",
      "properties": {
        "directConnection": {
          "type": "boolean",
          "description": "Optional. Deprecated: Use the `additional_options` map to specify the `directConnection` parameter instead. For example: `additional_options = {\"directConnection\": \"true\"}`. Specifies whether the client connects directly to the host[:port] in the connection URI.",
          "deprecated": true
        }
      }
    },
    "MongodbChangeStreamPosition": {
      "description": "MongoDB change stream position",
      "type": "object",
      "properties": {
        "startTime": {
          "description": "Required. The timestamp to start change stream from.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "MongodbChangeStreamPosition"
    },
    "MongodbSslConfig": {
      "properties": {
        "clientCertificate": {
          "type": "string",
          "description": "Optional. Input only. PEM-encoded certificate that will be used by the replica to authenticate against the source database server. If this field is used then the 'client_key' and the 'ca_certificate' fields are mandatory."
        },
        "clientKey": {
          "description": "Optional. Input only. PEM-encoded private key associated with the Client Certificate. If this field is used then the 'client_certificate' and the 'ca_certificate' fields are mandatory.",
          "type": "string"
        },
        "secretManagerStoredClientKey": {
          "description": "Optional. Input only. A reference to a Secret Manager resource name storing the PEM-encoded private key associated with the Client Certificate. If this field is used then the 'client_certificate' and the 'ca_certificate' fields are mandatory. Mutually exclusive with the `client_key` field.",
          "type": "string"
        },
        "clientKeySet": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Indicates whether the client_key field is set."
        },
        "clientCertificateSet": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Indicates whether the client_certificate field is set."
        },
        "caCertificateSet": {
          "readOnly": true,
          "description": "Output only. Indicates whether the ca_certificate field is set.",
          "type": "boolean"
        },
        "caCertificate": {
          "description": "Optional. Input only. PEM-encoded certificate of the CA that signed the source database server's certificate.",
          "type": "string"
        }
      },
      "description": "MongoDB SSL configuration information.",
      "type": "object",
      "id": "MongodbSslConfig"
    },
    "OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "validationResult": {
          "$ref": "ValidationResult",
          "description": "Output only. Results of executed validations if there are any.",
          "readOnly": true
        },
        "requestedCancellation": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "verb": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation."
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "id": "OperationMetadata",
      "type": "object"
    },
    "DatasetTemplate": {
      "id": "DatasetTemplate",
      "description": "Dataset template used for dynamic dataset creation.",
      "type": "object",
      "properties": {
        "location": {
          "description": "Required. The geographic location where the dataset should reside. See https://cloud.google.com/bigquery/docs/locations for supported locations.",
          "type": "string"
        },
        "datasetIdPrefix": {
          "type": "string",
          "description": "If supplied, every created dataset will have its name prefixed by the provided value. The prefix and name will be separated by an underscore. i.e. _."
        },
        "kmsKeyName": {
          "type": "string",
          "description": "Describes the Cloud KMS encryption key that will be used to protect destination BigQuery table. The BigQuery Service Account associated with your project requires access to this encryption key. i.e. projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{cryptoKey}. See https://cloud.google.com/bigquery/docs/customer-managed-encryption for more information."
        }
      }
    },
    "BackfillJob": {
      "id": "BackfillJob",
      "properties": {
        "trigger": {
          "description": "Backfill job's triggering reason.",
          "type": "string",
          "enum": [
            "TRIGGER_UNSPECIFIED",
            "AUTOMATIC",
            "MANUAL"
          ],
          "enumDescriptions": [
            "Default value.",
            "Object backfill job was triggered automatically according to the stream's backfill strategy.",
            "Object backfill job was triggered manually using the dedicated API."
          ]
        },
        "eventFilter": {
          "description": "Output only. The filter for performing a partial backfill.",
          "readOnly": true,
          "$ref": "EventFilter"
        },
        "lastEndTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Backfill job's end time.",
          "readOnly": true
        },
        "errors": {
          "description": "Output only. Errors which caused the backfill job to fail.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Error"
          }
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "NOT_STARTED",
            "PENDING",
            "ACTIVE",
            "STOPPED",
            "FAILED",
            "COMPLETED",
            "UNSUPPORTED"
          ],
          "enumDescriptions": [
            "Default value.",
            "Backfill job was never started for the stream object (stream has backfill strategy defined as manual or object was explicitly excluded from automatic backfill).",
            "Backfill job will start pending available resources.",
            "Backfill job is running.",
            "Backfill job stopped (next job run will start from beginning).",
            "Backfill job failed (due to an error).",
            "Backfill completed successfully.",
            "Backfill job failed since the table structure is currently unsupported for backfill."
          ],
          "readOnly": true,
          "description": "Output only. Backfill job state."
        },
        "lastStartTime": {
          "description": "Output only. Backfill job's start time.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "description": "Represents a backfill job on a specific stream object."
    },
    "MysqlObjectIdentifier": {
      "description": "Mysql data source object identifier.",
      "properties": {
        "table": {
          "description": "Required. The table name.",
          "type": "string"
        },
        "database": {
          "description": "Required. The database name.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "MysqlObjectIdentifier"
    },
    "MysqlTable": {
      "properties": {
        "table": {
          "description": "The table name.",
          "type": "string"
        },
        "mysqlColumns": {
          "items": {
            "$ref": "MysqlColumn"
          },
          "description": "MySQL columns in the database. When unspecified as part of include/exclude objects, includes/excludes everything.",
          "type": "array"
        }
      },
      "description": "MySQL table.",
      "id": "MysqlTable",
      "type": "object"
    },
    "Link": {
      "description": "Describes a URL link.",
      "type": "object",
      "id": "Link",
      "properties": {
        "description": {
          "description": "Describes what the link offers.",
          "type": "string"
        },
        "url": {
          "type": "string",
          "description": "The URL of the link."
        }
      }
    },
    "QuotaFailureViolation": {
      "id": "QuotaFailureViolation",
      "description": "A message type used to describe a single quota violation. For example, a daily quota or a custom quota that was exceeded.",
      "properties": {
        "description": {
          "type": "string",
          "description": "A description of how the quota check failed. Clients can use this description to find more about the quota configuration in the service's public documentation, or find the relevant quota limit to adjust through developer console. For example: \"Service disabled\" or \"Daily Limit for read operations exceeded\"."
        },
        "futureQuotaValue": {
          "type": "string",
          "description": "The new quota value being rolled out at the time of the violation. At the completion of the rollout, this value will be enforced in place of quota_value. If no rollout is in progress at the time of the violation, this field is not set. For example, if at the time of the violation a rollout is in progress changing the number of CPUs quota from 10 to 20, 20 would be the value of this field.",
          "format": "int64"
        },
        "apiService": {
          "type": "string",
          "description": "The API Service from which the `QuotaFailure.Violation` originates. In some cases, Quota issues originate from an API Service other than the one that was called. In other words, a dependency of the called API Service could be the cause of the `QuotaFailure`, and this field would have the dependency API service name. For example, if the called API is Kubernetes Engine API (container.googleapis.com), and a quota violation occurs in the Kubernetes Engine API itself, this field would be \"container.googleapis.com\". On the other hand, if the quota violation occurs when the Kubernetes Engine API creates VMs in the Compute Engine API (compute.googleapis.com), this field would be \"compute.googleapis.com\"."
        },
        "quotaMetric": {
          "type": "string",
          "description": "The metric of the violated quota. A quota metric is a named counter to measure usage, such as API requests or CPUs. When an activity occurs in a service, such as Virtual Machine allocation, one or more quota metrics may be affected. For example, \"compute.googleapis.com/cpus_per_vm_family\", \"storage.googleapis.com/internet_egress_bandwidth\"."
        },
        "quotaDimensions": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The dimensions of the violated quota. Every non-global quota is enforced on a set of dimensions. While quota metric defines what to count, the dimensions specify for what aspects the counter should be increased. For example, the quota \"CPUs per region per VM family\" enforces a limit on the metric \"compute.googleapis.com/cpus_per_vm_family\" on dimensions \"region\" and \"vm_family\". And if the violation occurred in region \"us-central1\" and for VM family \"n1\", the quota_dimensions would be, { \"region\": \"us-central1\", \"vm_family\": \"n1\", } When a quota is enforced globally, the quota_dimensions would always be empty."
        },
        "quotaId": {
          "description": "The id of the violated quota. Also know as \"limit name\", this is the unique identifier of a quota in the context of an API service. For example, \"CPUS-PER-VM-FAMILY-per-project-region\".",
          "type": "string"
        },
        "subject": {
          "type": "string",
          "description": "The subject on which the quota check failed. For example, \"clientip:\" or \"project:\"."
        },
        "quotaValue": {
          "type": "string",
          "format": "int64",
          "description": "The enforced quota value at the time of the `QuotaFailure`. For example, if the enforced quota value at the time of the `QuotaFailure` on the number of CPUs is \"10\", then the value of this field would reflect this quantity."
        }
      },
      "type": "object"
    },
    "SqlServerTable": {
      "description": "SQLServer table.",
      "id": "SqlServerTable",
      "properties": {
        "table": {
          "type": "string",
          "description": "The table name."
        },
        "columns": {
          "items": {
            "$ref": "SqlServerColumn"
          },
          "type": "array",
          "description": "SQLServer columns in the schema. When unspecified as part of include/exclude objects, includes/excludes everything."
        }
      },
      "type": "object"
    },
    "SqlServerProfile": {
      "id": "SqlServerProfile",
      "properties": {
        "hostname": {
          "type": "string",
          "description": "Required. Hostname for the SQLServer connection."
        },
        "username": {
          "description": "Required. Username for the SQLServer connection.",
          "type": "string"
        },
        "sslConfig": {
          "$ref": "SqlServerSslConfig",
          "description": "Optional. SSL configuration for the SQLServer connection."
        },
        "password": {
          "type": "string",
          "description": "Optional. Password for the SQLServer connection. Mutually exclusive with the `secret_manager_stored_password` field."
        },
        "secretManagerStoredPassword": {
          "description": "Optional. A reference to a Secret Manager resource name storing the SQLServer connection password. Mutually exclusive with the `password` field.",
          "type": "string"
        },
        "database": {
          "description": "Required. Database for the SQLServer connection.",
          "type": "string"
        },
        "port": {
          "format": "int32",
          "type": "integer",
          "description": "Port for the SQLServer connection, default value is 1433."
        }
      },
      "type": "object",
      "description": "Profile for connecting to a SQLServer source."
    },
    "RunStreamRequest": {
      "id": "RunStreamRequest",
      "properties": {
        "cdcStrategy": {
          "description": "Optional. The CDC strategy of the stream. If not set, the system's default value will be used.",
          "$ref": "CdcStrategy"
        },
        "force": {
          "type": "boolean",
          "description": "Optional. Update the stream without validating it."
        }
      },
      "description": "Request message for running a stream.",
      "type": "object"
    },
    "ListRoutesResponse": {
      "id": "ListRoutesResponse",
      "description": "Route list response.",
      "type": "object",
      "properties": {
        "routes": {
          "description": "List of Routes.",
          "items": {
            "$ref": "Route"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "ValidationResult": {
      "description": "Contains the current validation results.",
      "properties": {
        "validations": {
          "items": {
            "$ref": "Validation"
          },
          "type": "array",
          "description": "A list of validations (includes both executed as well as not executed validations)."
        }
      },
      "type": "object",
      "id": "ValidationResult"
    },
    "Oauth2ClientCredentials": {
      "id": "Oauth2ClientCredentials",
      "type": "object",
      "description": "OAuth2 Client Credentials.",
      "properties": {
        "clientId": {
          "type": "string",
          "description": "Required. Client ID for Salesforce OAuth2 Client Credentials."
        },
        "clientSecret": {
          "description": "Optional. Client secret for Salesforce OAuth2 Client Credentials. Mutually exclusive with the `secret_manager_stored_client_secret` field.",
          "type": "string"
        },
        "secretManagerStoredClientSecret": {
          "description": "Optional. A reference to a Secret Manager resource name storing the Salesforce OAuth2 client_secret. Mutually exclusive with the `client_secret` field.",
          "type": "string"
        }
      }
    },
    "OracleScnPosition": {
      "properties": {
        "scn": {
          "format": "int64",
          "description": "Required. SCN number from where Logs will be read",
          "type": "string"
        }
      },
      "description": "Oracle SCN position",
      "id": "OracleScnPosition",
      "type": "object"
    },
    "LookupStreamObjectRequest": {
      "type": "object",
      "id": "LookupStreamObjectRequest",
      "description": "Request for looking up a specific stream object by its source object identifier.",
      "properties": {
        "sourceObjectIdentifier": {
          "description": "Required. The source object identifier which maps to the stream object.",
          "$ref": "SourceObjectIdentifier"
        }
      }
    },
    "VpcPeeringConfig": {
      "description": "The VPC Peering configuration is used to create VPC peering between Datastream and the consumer's VPC.",
      "properties": {
        "vpc": {
          "description": "Required. Fully qualified name of the VPC that Datastream will peer to. Format: `projects/{project}/global/{networks}/{name}`",
          "type": "string"
        },
        "subnet": {
          "description": "Required. A free subnet for peering. (CIDR of /29)",
          "type": "string"
        }
      },
      "id": "VpcPeeringConfig",
      "type": "object"
    },
    "StartBackfillJobResponse": {
      "properties": {
        "object": {
          "description": "The stream object resource a backfill job was started for.",
          "$ref": "StreamObject"
        }
      },
      "id": "StartBackfillJobResponse",
      "type": "object",
      "description": "Response for manually initiating a backfill job for a specific stream object."
    },
    "SalesforceProfile": {
      "properties": {
        "userCredentials": {
          "description": "Deprecated: Salesforce is retiring Username-Password authentication. Use `oauth2_client_credentials` instead.",
          "deprecated": true,
          "$ref": "UserCredentials"
        },
        "oauth2ClientCredentials": {
          "description": "Connected app authentication.",
          "$ref": "Oauth2ClientCredentials"
        },
        "domain": {
          "description": "Required. Domain endpoint for the Salesforce connection.",
          "type": "string"
        }
      },
      "description": "Profile for connecting to a Salesforce source.",
      "type": "object",
      "id": "SalesforceProfile"
    },
    "OracleSslConfig": {
      "id": "OracleSslConfig",
      "description": "Oracle SSL configuration information.",
      "properties": {
        "caCertificate": {
          "description": "Input only. PEM-encoded certificate of the CA that signed the source database server's certificate.",
          "type": "string"
        },
        "caCertificateSet": {
          "type": "boolean",
          "description": "Output only. Indicates whether the ca_certificate field has been set for this Connection-Profile.",
          "readOnly": true
        },
        "serverCertificateDistinguishedName": {
          "type": "string",
          "description": "Optional. The distinguished name (DN) mentioned in the server certificate. This corresponds to SSL_SERVER_CERT_DN sqlnet parameter. Refer https://docs.oracle.com/en/database/oracle/oracle-database/19/netrf/local-naming-parameters-in-tns-ora-file.html#GUID-70AB0695-A9AA-4A94-B141-4C605236EEB7 If this field is not provided, the DN matching is not enforced."
        }
      },
      "type": "object"
    },
    "Gtid": {
      "type": "object",
      "id": "Gtid",
      "description": "Use GTID based replication.",
      "properties": {}
    },
    "ServiceNowProfile": {
      "type": "object",
      "description": "Profile for connecting to a ServiceNow source.",
      "properties": {
        "oauthClientCredentials": {
          "$ref": "OauthClientCredentials",
          "description": "Credentials for authenticating with the ServiceNow API."
        },
        "instance": {
          "description": "Required. The instance of the ServiceNow account. This is the `` part of the URL `https://.service-now.com`.",
          "type": "string"
        },
        "userPasswordCredentials": {
          "$ref": "UserPasswordCredentials",
          "description": "User-password authentication."
        }
      },
      "id": "ServiceNowProfile"
    },
    "ValidationMessage": {
      "description": "Represent user-facing validation result message.",
      "properties": {
        "level": {
          "type": "string",
          "enum": [
            "LEVEL_UNSPECIFIED",
            "WARNING",
            "ERROR"
          ],
          "enumDescriptions": [
            "Unspecified level.",
            "Potentially cause issues with the Stream.",
            "Definitely cause issues with the Stream."
          ],
          "description": "Message severity level (warning or error)."
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Additional metadata related to the result.",
          "type": "object"
        },
        "message": {
          "type": "string",
          "description": "The result of the validation."
        },
        "code": {
          "type": "string",
          "description": "A custom code identifying this specific message."
        }
      },
      "type": "object",
      "id": "ValidationMessage"
    },
    "OracleAsmLogFileAccess": {
      "id": "OracleAsmLogFileAccess",
      "description": "Configuration to use Oracle ASM to access the log files.",
      "properties": {},
      "type": "object"
    },
    "BinaryLogPosition": {
      "id": "BinaryLogPosition",
      "type": "object",
      "properties": {},
      "description": "Use Binary log position based replication."
    },
    "MongodbField": {
      "id": "MongodbField",
      "description": "MongoDB Field.",
      "type": "object",
      "properties": {
        "field": {
          "description": "The field name.",
          "type": "string"
        }
      }
    },
    "MostRecentStartPosition": {
      "description": "CDC strategy to start replicating from the most recent position in the source.",
      "properties": {},
      "id": "MostRecentStartPosition",
      "type": "object"
    },
    "SourceConfig": {
      "id": "SourceConfig",
      "description": "The configuration of the stream source.",
      "properties": {
        "salesforceSourceConfig": {
          "$ref": "SalesforceSourceConfig",
          "description": "Salesforce data source configuration."
        },
        "workdaySourceConfig": {
          "description": "Optional. Workday data source configuration.",
          "$ref": "WorkdaySourceConfig"
        },
        "postgresqlSourceConfig": {
          "description": "PostgreSQL data source configuration.",
          "$ref": "PostgresqlSourceConfig"
        },
        "sqlServerSourceConfig": {
          "description": "SQLServer data source configuration.",
          "$ref": "SqlServerSourceConfig"
        },
        "serviceNowSourceConfig": {
          "description": "ServiceNow data source configuration.",
          "$ref": "ServiceNowSourceConfig"
        },
        "mysqlSourceConfig": {
          "$ref": "MysqlSourceConfig",
          "description": "MySQL data source configuration."
        },
        "dataverseSourceConfig": {
          "$ref": "DataverseSourceConfig",
          "description": "Dataverse data source configuration."
        },
        "sourceConnectionProfile": {
          "description": "Required. Source connection profile resource. Format: `projects/{project}/locations/{location}/connectionProfiles/{name}`",
          "type": "string"
        },
        "mongodbSourceConfig": {
          "description": "MongoDB data source configuration.",
          "$ref": "MongodbSourceConfig"
        },
        "salesforceMarketingCloudSourceConfig": {
          "description": "Salesforce Marketing Cloud data source configuration.",
          "$ref": "SalesforceMarketingCloudSourceConfig"
        },
        "oracleSourceConfig": {
          "$ref": "OracleSourceConfig",
          "description": "Oracle data source configuration."
        },
        "spannerSourceConfig": {
          "description": "Spanner data source configuration.",
          "$ref": "SpannerSourceConfig"
        }
      },
      "type": "object"
    },
    "EncryptionNotEnforced": {
      "type": "object",
      "properties": {},
      "description": "Message to represent the option where encryption is not enforced. An empty message right now to allow future extensibility.",
      "id": "EncryptionNotEnforced"
    },
    "MongodbDatabase": {
      "properties": {
        "database": {
          "type": "string",
          "description": "The database name."
        },
        "collections": {
          "items": {
            "$ref": "MongodbCollection"
          },
          "type": "array",
          "description": "Collections in the database."
        }
      },
      "description": "MongoDB Database.",
      "type": "object",
      "id": "MongodbDatabase"
    },
    "UserCredentials": {
      "description": "Deprecated: Salesforce is retiring Username-Password authentication. Use `Oauth2ClientCredentials` instead.",
      "properties": {
        "securityToken": {
          "description": "Optional. Security token for the Salesforce connection. Mutually exclusive with the `secret_manager_stored_security_token` field.",
          "type": "string"
        },
        "secretManagerStoredPassword": {
          "description": "Optional. A reference to a Secret Manager resource name storing the Salesforce connection's password. Mutually exclusive with the `password` field.",
          "type": "string"
        },
        "username": {
          "description": "Required. Username for the Salesforce connection.",
          "type": "string"
        },
        "password": {
          "type": "string",
          "description": "Optional. Password for the Salesforce connection. Mutually exclusive with the `secret_manager_stored_password` field."
        },
        "secretManagerStoredSecurityToken": {
          "type": "string",
          "description": "Optional. A reference to a Secret Manager resource name storing the Salesforce connection's security token. Mutually exclusive with the `security_token` field."
        }
      },
      "id": "UserCredentials",
      "type": "object",
      "deprecated": true
    },
    "FieldViolation": {
      "description": "A message type used to describe a single bad request field.",
      "type": "object",
      "id": "FieldViolation",
      "properties": {
        "reason": {
          "description": "The reason for the field-level error. This is a constant value that identifies the proximate cause of the field-level error. It should uniquely identify the type of the FieldViolation within the scope of the google.rpc.ErrorInfo.domain. This should be at most 63 characters and match a regular expression of `A-Z+[A-Z0-9]`, which represents UPPER_SNAKE_CASE.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "A description of why the request element is bad."
        },
        "field": {
          "type": "string",
          "description": "A path that leads to a field in the request body. The value will be a sequence of dot-separated identifiers that identify a protocol buffer field. Consider the following: message CreateContactRequest { message EmailAddress { enum Type { TYPE_UNSPECIFIED = 0; HOME = 1; WORK = 2; } optional string email = 1; repeated EmailType type = 2; } string full_name = 1; repeated EmailAddress email_addresses = 2; } In this example, in proto `field` could take one of the following values: * `full_name` for a violation in the `full_name` value * `email_addresses[0].email` for a violation in the `email` field of the first `email_addresses` message * `email_addresses[2].type[1]` for a violation in the second `type` value in the third `email_addresses` message. In JSON, the same values are represented as: * `fullName` for a violation in the `fullName` value * `emailAddresses[0].email` for a violation in the `email` field of the first `emailAddresses` message * `emailAddresses[2].type[1]` for a violation in the second `type` value in the third `emailAddresses` message."
        },
        "localizedMessage": {
          "description": "Provides a localized error message for field-level errors that is safe to return to the API consumer.",
          "$ref": "LocalizedMessage"
        }
      }
    },
    "SqlServerChangeTables": {
      "type": "object",
      "properties": {},
      "description": "Configuration to use Change Tables CDC read method.",
      "id": "SqlServerChangeTables"
    },
    "DataverseSourceConfig": {
      "description": "Configuration for syncing data from a Dataverse source.",
      "type": "object",
      "properties": {
        "excludeObjects": {
          "description": "Optional. The objects to exclude from the stream.",
          "$ref": "SourceCatalog"
        },
        "pollingInterval": {
          "type": "string",
          "format": "google-duration",
          "description": "Required. Incremental sync polling interval for all objects. If not set, a default value of `5 minutes` is used. The duration must be from `5 minutes` to `24 hours`, inclusive."
        },
        "includeObjects": {
          "description": "Optional. The objects to retrieve from the source.",
          "$ref": "SourceCatalog"
        }
      },
      "id": "DataverseSourceConfig"
    },
    "SalesforceObjectIdentifier": {
      "description": "Salesforce data source object identifier.",
      "properties": {
        "objectName": {
          "description": "Required. The object name.",
          "type": "string"
        }
      },
      "id": "SalesforceObjectIdentifier",
      "type": "object"
    },
    "JsonFileFormat": {
      "description": "JSON file format configuration.",
      "properties": {
        "compression": {
          "description": "Compression of the loaded JSON file.",
          "enumDescriptions": [
            "Unspecified json file compression.",
            "Do not compress JSON file.",
            "Gzip compression."
          ],
          "type": "string",
          "enum": [
            "JSON_COMPRESSION_UNSPECIFIED",
            "NO_COMPRESSION",
            "GZIP"
          ]
        },
        "schemaFileFormat": {
          "description": "The schema file format along JSON data files.",
          "type": "string",
          "enum": [
            "SCHEMA_FILE_FORMAT_UNSPECIFIED",
            "NO_SCHEMA_FILE",
            "AVRO_SCHEMA_FILE"
          ],
          "enumDescriptions": [
            "Unspecified schema file format.",
            "Do not attach schema file.",
            "Avro schema format."
          ]
        }
      },
      "type": "object",
      "id": "JsonFileFormat"
    },
    "AvroFileFormat": {
      "type": "object",
      "id": "AvroFileFormat",
      "description": "AVRO file format configuration.",
      "properties": {}
    },
    "LogFileDirectories": {
      "description": "Configuration to specify the Oracle directories to access the log files.",
      "type": "object",
      "id": "LogFileDirectories",
      "properties": {
        "onlineLogDirectory": {
          "type": "string",
          "description": "Required. Oracle directory for online logs."
        },
        "archivedLogDirectory": {
          "type": "string",
          "description": "Required. Oracle directory for archived logs."
        }
      }
    },
    "Secret": {
      "properties": {
        "rawValue": {
          "type": "string",
          "description": "Optional. Input only. The actual raw value of the secret as plain text."
        },
        "secretVersion": {
          "description": "Optional. A Secret Manager resource name storing the actual value of the secret. Supported formats: * projects/{project}/locations/{location}/secrets/{secret}/versions/{version} * projects/{project}/secrets/{secret}/versions/{version}",
          "type": "string"
        }
      },
      "id": "Secret",
      "type": "object",
      "description": "A confidential piece of information where the actual value is either directly specified in the message as a raw string or stored in GCP secret manager."
    },
    "SourceProperty": {
      "description": "Source property.",
      "type": "object",
      "properties": {
        "primaryKey": {
          "type": "boolean",
          "description": "Optional. Whether or not the property is a primary key."
        },
        "properties": {
          "type": "array",
          "description": "Optional. Source properties. When specified, it means that the current property contains nested properties of its own. When unspecified as part of include objects, includes everything, when unspecified as part of exclude objects, excludes nothing.",
          "items": {
            "$ref": "SourceProperty"
          }
        },
        "propertyName": {
          "description": "Required. The property name.",
          "type": "string"
        }
      },
      "id": "SourceProperty"
    },
    "OauthRefreshTokenCredentials": {
      "id": "OauthRefreshTokenCredentials",
      "type": "object",
      "description": "OAuth Refresh Token Credentials.",
      "properties": {
        "refreshToken": {
          "description": "Required. Specifies the OAuth Refresh Token.",
          "$ref": "Secret"
        },
        "oauthClientCredentials": {
          "$ref": "OauthClientCredentials",
          "description": "Required. Specifies the OAuth Client Credentials."
        }
      }
    },
    "SqlServerRdbms": {
      "description": "SQLServer database structure.",
      "type": "object",
      "properties": {
        "schemas": {
          "type": "array",
          "items": {
            "$ref": "SqlServerSchema"
          },
          "description": "SQLServer schemas in the database server."
        }
      },
      "id": "SqlServerRdbms"
    },
    "OauthClientCredentials": {
      "id": "OauthClientCredentials",
      "type": "object",
      "description": "OAuth Client Credentials.",
      "properties": {
        "clientSecret": {
          "description": "Required. Client secret for OAuth Client Credentials.",
          "$ref": "Secret"
        },
        "clientId": {
          "type": "string",
          "description": "Required. Client ID for OAuth Client Credentials."
        }
      }
    },
    "PostgresqlObjectIdentifier": {
      "id": "PostgresqlObjectIdentifier",
      "properties": {
        "table": {
          "description": "Required. The table name.",
          "type": "string"
        },
        "schema": {
          "type": "string",
          "description": "Required. The schema name."
        }
      },
      "description": "PostgreSQL data source object identifier.",
      "type": "object"
    },
    "BinaryLogParser": {
      "type": "object",
      "id": "BinaryLogParser",
      "description": "Configuration to use Binary Log Parser CDC technique.",
      "properties": {
        "oracleAsmLogFileAccess": {
          "description": "Use Oracle ASM.",
          "$ref": "OracleAsmLogFileAccess"
        },
        "logFileDirectories": {
          "description": "Use Oracle directories.",
          "$ref": "LogFileDirectories"
        }
      }
    },
    "DiscoverConnectionProfileRequest": {
      "description": "Request message for 'discover' ConnectionProfile request.",
      "properties": {
        "oracleRdbms": {
          "description": "Optional. Oracle RDBMS to enrich with child data objects and metadata.",
          "$ref": "OracleRdbms"
        },
        "spannerDatabase": {
          "$ref": "SpannerDatabase",
          "description": "Optional. Spanner database to enrich with child data objects and metadata."
        },
        "postgresqlRdbms": {
          "$ref": "PostgresqlRdbms",
          "description": "Optional. PostgreSQL RDBMS to enrich with child data objects and metadata."
        },
        "fullHierarchy": {
          "type": "boolean",
          "description": "Optional. Whether to retrieve the full hierarchy of data objects (TRUE) or only the current level (FALSE)."
        },
        "connectionProfileName": {
          "description": "Optional. A reference to an existing connection profile.",
          "type": "string"
        },
        "mysqlRdbms": {
          "description": "Optional. MySQL RDBMS to enrich with child data objects and metadata.",
          "$ref": "MysqlRdbms"
        },
        "hierarchyDepth": {
          "format": "int32",
          "description": "Optional. The number of hierarchy levels below the current level to be retrieved.",
          "type": "integer"
        },
        "sqlServerRdbms": {
          "$ref": "SqlServerRdbms",
          "description": "Optional. SQLServer RDBMS to enrich with child data objects and metadata."
        },
        "mongodbCluster": {
          "description": "Optional. MongoDB cluster to enrich with child data objects and metadata.",
          "$ref": "MongodbCluster"
        },
        "connectionProfile": {
          "description": "Optional. An ad-hoc connection profile configuration.",
          "$ref": "ConnectionProfile"
        },
        "sourceCatalog": {
          "$ref": "SourceCatalog",
          "description": "Optional. Source catalog to enrich with child data objects and metadata. This is mainly used to represent SaaS sources databases."
        },
        "salesforceOrg": {
          "description": "Optional. Salesforce organization to enrich with child data objects and metadata.",
          "$ref": "SalesforceOrg"
        }
      },
      "type": "object",
      "id": "DiscoverConnectionProfileRequest"
    },
    "ServerAndClientVerification": {
      "properties": {
        "clientCertificate": {
          "type": "string",
          "description": "Required. Input only. PEM-encoded certificate used by the source database to authenticate the client identity (i.e., the Datastream's identity). This certificate is signed by either a root certificate trusted by the server or one or more intermediate certificates (which is stored with the leaf certificate) to link the this certificate to the trusted root certificate."
        },
        "caCertificate": {
          "type": "string",
          "description": "Required. Input only. PEM-encoded server root CA certificate."
        },
        "clientKey": {
          "type": "string",
          "description": "Optional. Input only. PEM-encoded private key associated with the client certificate. This value will be used during the SSL/TLS handshake, allowing the PostgreSQL server to authenticate the client's identity, i.e. identity of the Datastream."
        },
        "serverCertificateHostname": {
          "description": "Optional. The hostname mentioned in the Subject or SAN extension of the server certificate. If this field is not provided, the hostname in the server certificate is not validated.",
          "type": "string"
        }
      },
      "description": "Message represents the option where Datastream will enforce the encryption and authenticate the server identity as well as the client identity. ca_certificate, client_certificate and client_key must be set if user selects this option.",
      "type": "object",
      "id": "ServerAndClientVerification"
    },
    "BasicEncryption": {
      "type": "object",
      "properties": {},
      "description": "Message to represent the option where Datastream will enforce encryption without authenticating server identity. Server certificates will be trusted by default.",
      "id": "BasicEncryption"
    },
    "CustomizationRule": {
[...]
