{
  "id": "dataform:v1beta1",
  "rootUrl": "https://dataform.googleapis.com/",
  "title": "Dataform API",
  "kind": "discovery#restDescription",
  "parameters": {
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response."
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "baseUrl": "https://dataform.googleapis.com/",
  "documentationLink": "https://cloud.google.com/dataform/docs",
  "mtlsRootUrl": "https://dataform.mtls.googleapis.com/",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "schemas": {
    "SearchFilesResponse": {
      "id": "SearchFilesResponse",
      "type": "object",
      "properties": {
        "searchResults": {
          "items": {
            "$ref": "SearchResult"
          },
          "type": "array",
          "description": "List of matched results."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Optional. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "Client-facing representation of a file search response."
    },
    "IamPolicyOverrideView": {
      "description": "Contains metadata about the IAM policy override for a given Dataform resource. If is_active is true, this the policy encoded in iam_policy_name is the source of truth for this resource. Will be provided in internal ESV2 views for: Workspaces, Repositories, Folders, TeamFolders.",
      "id": "IamPolicyOverrideView",
      "type": "object",
      "properties": {
        "iamPolicyName": {
          "$ref": "PolicyName",
          "description": "The IAM policy name for the resource."
        },
        "isActive": {
          "type": "boolean",
          "description": "Whether the IAM policy encoded in this view is active."
        }
      }
    },
    "CommitMetadata": {
      "description": "Represents a Dataform Git commit.",
      "id": "CommitMetadata",
      "type": "object",
      "properties": {
        "author": {
          "$ref": "CommitAuthor",
          "description": "Required. The commit's author."
        },
        "commitMessage": {
          "description": "Optional. The commit's message.",
          "type": "string"
        }
      }
    },
    "DataPreparation": {
      "type": "object",
      "properties": {
        "contentsSql": {
          "description": "SQL definition for a Data Preparation. Contains a SQL query and additional context information.",
          "$ref": "SqlDefinition"
        },
        "contentsYaml": {
          "description": "The data preparation definition, stored as a YAML string.",
          "type": "string"
        },
        "disabled": {
          "type": "boolean",
          "description": "Whether this action is disabled (i.e. should not be run)."
        },
        "tags": {
          "description": "Arbitrary, user-defined tags on this action.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "dependencyTargets": {
          "items": {
            "$ref": "Target"
          },
          "type": "array",
          "description": "A list of actions that this action depends on."
        }
      },
      "id": "DataPreparation",
      "description": "Defines a compiled Data Preparation entity"
    },
    "CompilationError": {
      "type": "object",
      "properties": {
        "path": {
          "readOnly": true,
          "description": "Output only. The path of the file where this error occurred, if available, relative to the project root.",
          "type": "string"
        },
        "message": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The error's top level message."
        },
        "stack": {
          "description": "Output only. The error's full stack trace.",
          "readOnly": true,
          "type": "string"
        },
        "actionTarget": {
          "description": "Output only. The identifier of the action where this error occurred, if available.",
          "readOnly": true,
          "$ref": "Target"
        }
      },
      "id": "CompilationError",
      "description": "An error encountered when attempting to compile a Dataform project."
    },
    "QueryUserRootContentsResponse": {
      "description": "`QueryUserRootContents` response message.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "entries": {
          "type": "array",
          "items": {
            "$ref": "RootContentsEntry"
          },
          "description": "List of entries in the folder."
        }
      },
      "id": "QueryUserRootContentsResponse"
    },
    "ColumnDescriptor": {
      "description": "Describes a column.",
      "id": "ColumnDescriptor",
      "type": "object",
      "properties": {
        "path": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The identifier for the column. Each entry in `path` represents one level of nesting."
        },
        "description": {
          "description": "A textual description of the column.",
          "type": "string"
        },
        "bigqueryPolicyTags": {
          "description": "A list of BigQuery policy tags that will be applied to the column.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "DeleteRepositoryLongRunningRequest": {
      "id": "DeleteRepositoryLongRunningRequest",
      "type": "object",
      "properties": {
        "force": {
          "type": "boolean",
          "description": "Optional. If set to true, child resources of this repository (compilation results and workflow invocations) will also be deleted. Otherwise, the request will only succeed if the repository has no child resources. **Note:** *This flag doesn't support deletion of workspaces, release configs or workflow configs. If any of such resources exists in the repository, the request will fail.*"
        }
      },
      "description": "`DeleteRepositoryLongRunning` request message."
    },
    "SetIamPolicyRequest": {
      "type": "object",
      "properties": {
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        }
      },
      "id": "SetIamPolicyRequest",
      "description": "Request message for `SetIamPolicy` method."
    },
    "CancelWorkflowInvocationRequest": {
      "type": "object",
      "properties": {},
      "id": "CancelWorkflowInvocationRequest",
      "description": "`CancelWorkflowInvocation` request message."
    },
    "QueryFolderContentsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "entries": {
          "description": "List of entries in the folder.",
          "type": "array",
          "items": {
            "$ref": "FolderContentsEntry"
          }
        }
      },
      "id": "QueryFolderContentsResponse",
      "description": "`QueryFolderContents` response message."
    },
    "FilesystemEntryMetadata": {
      "description": "Represents metadata for a single entry in a filesystem.",
      "type": "object",
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Represents the time of the last modification of the entry."
        },
        "sizeBytes": {
          "format": "int64",
          "type": "string",
          "description": "Output only. Provides the size of the entry in bytes. For directories, this will be 0.",
          "readOnly": true
        }
      },
      "id": "FilesystemEntryMetadata"
    },
    "RemoveFileResponse": {
      "description": "`RemoveFile` response message.",
      "id": "RemoveFileResponse",
      "type": "object",
      "properties": {}
    },
    "QueryWorkflowInvocationActionsResponse": {
      "description": "`QueryWorkflowInvocationActions` response message.",
      "type": "object",
      "properties": {
        "workflowInvocationActions": {
          "items": {
            "$ref": "WorkflowInvocationAction"
          },
          "type": "array",
          "description": "List of workflow invocation actions."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "QueryWorkflowInvocationActionsResponse"
    },
    "ActionIncrementalLoadMode": {
      "type": "object",
      "properties": {
        "column": {
          "description": "Column name for incremental load modes",
          "type": "string"
        }
      },
      "id": "ActionIncrementalLoadMode",
      "description": "Load definition for incremental load modes"
    },
    "DataEncryptionState": {
      "id": "DataEncryptionState",
      "type": "object",
      "properties": {
        "kmsKeyVersionName": {
          "description": "Required. The KMS key version name with which data of a resource is encrypted.",
          "type": "string"
        }
      },
      "description": "Describes encryption state of a resource."
    },
    "PushGitCommitsResponse": {
      "type": "object",
      "properties": {},
      "id": "PushGitCommitsResponse",
      "description": "`PushGitCommits` response message."
    },
    "Operations": {
      "description": "Represents a list of arbitrary database operations.",
      "type": "object",
      "properties": {
        "hasOutput": {
          "description": "Whether these operations produce an output relation.",
          "type": "boolean"
        },
        "queries": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of arbitrary SQL statements that will be executed without alteration."
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Arbitrary, user-defined tags on this action."
        },
        "dependencyTargets": {
          "type": "array",
          "items": {
            "$ref": "Target"
          },
          "description": "A list of actions that this action depends on."
        },
        "relationDescriptor": {
          "$ref": "RelationDescriptor",
          "description": "Descriptor for any output relation and its columns. Only set if `has_output` is true."
        },
        "disabled": {
          "type": "boolean",
          "description": "Whether this action is disabled (i.e. should not be run)."
        }
      },
      "id": "Operations"
    },
    "CommitRepositoryChangesResponse": {
      "description": "`CommitRepositoryChanges` response message.",
      "type": "object",
      "properties": {
        "commitSha": {
          "description": "The commit SHA of the current commit.",
          "type": "string"
        }
      },
      "id": "CommitRepositoryChangesResponse"
    },
    "PullGitCommitsRequest": {
      "type": "object",
      "properties": {
        "remoteBranch": {
          "type": "string",
          "description": "Optional. The name of the branch in the Git remote from which to pull commits. If left unset, the repository's default branch name will be used."
        },
        "author": {
          "$ref": "CommitAuthor",
          "description": "Required. The author of any merge commit which may be created as a result of merging fetched Git commits into this workspace."
        }
      },
      "id": "PullGitCommitsRequest",
      "description": "`PullGitCommits` request message."
    },
    "CommitWorkspaceChangesResponse": {
      "id": "CommitWorkspaceChangesResponse",
      "type": "object",
      "properties": {},
      "description": "`CommitWorkspaceChanges` response message."
    },
    "ResetWorkspaceChangesResponse": {
      "id": "ResetWorkspaceChangesResponse",
      "type": "object",
      "properties": {},
      "description": "`ResetWorkspaceChanges` response message."
    },
    "MoveRepositoryRequest": {
      "description": "`MoveRepository` request message.",
      "type": "object",
      "properties": {
        "destinationContainingFolder": {
          "type": "string",
          "description": "Optional. The name of the Folder, TeamFolder, or root location to move the repository to. Can be in the format of: \"\" to move into the root User folder, `projects/*/locations/*/folders/*`, `projects/*/locations/*/teamFolders/*`"
        }
      },
      "id": "MoveRepositoryRequest"
    },
    "CompilationResultAction": {
      "description": "Represents a single Dataform action in a compilation result.",
      "type": "object",
      "properties": {
        "canonicalTarget": {
          "$ref": "Target",
          "description": "The action's identifier if the project had been compiled without any overrides configured. Unique within the compilation result."
        },
        "dataPreparation": {
          "description": "The data preparation executed by this action.",
          "$ref": "DataPreparation"
        },
        "declaration": {
          "$ref": "Declaration",
          "description": "The declaration declared by this action."
        },
        "assertion": {
          "$ref": "Assertion",
          "description": "The assertion executed by this action."
        },
        "target": {
          "$ref": "Target",
          "description": "This action's identifier. Unique within the compilation result."
        },
        "operations": {
          "description": "The database operations executed by this action.",
          "$ref": "Operations"
        },
        "filePath": {
          "type": "string",
          "description": "The full path including filename in which this action is located, relative to the workspace root."
        },
        "notebook": {
          "$ref": "Notebook",
          "description": "The notebook executed by this action."
        },
        "relation": {
          "$ref": "Relation",
          "description": "The database relation created/updated by this action."
        },
        "internalMetadata": {
          "readOnly": true,
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "type": "string"
        }
      },
      "id": "CompilationResultAction"
    },
    "GitRemoteSettings": {
      "description": "Controls Git remote configuration for a repository.",
      "id": "GitRemoteSettings",
      "type": "object",
      "properties": {
        "defaultBranch": {
          "description": "Optional. The Git remote's default branch name. If not set, `main` will be used.",
          "type": "string"
        },
        "effectiveDefaultBranch": {
          "description": "Output only. The Git remote's effective default branch name. This is the default branch name of the Git remote if it is set, otherwise it is `main`.",
          "readOnly": true,
          "type": "string"
        },
        "authenticationTokenSecretVersion": {
          "type": "string",
          "description": "Optional. The name of the Secret Manager secret version to use as an authentication token for Git operations. Must be in the format `projects/*/secrets/*/versions/*`."
        },
        "sshAuthenticationConfig": {
          "$ref": "SshAuthenticationConfig",
          "description": "Optional. Authentication fields for remote uris using SSH protocol."
        },
        "gitRepositoryLink": {
          "type": "string",
          "description": "Optional. Resource name for the `GitRepositoryLink` used for machine credentials. Must be in the format `projects/*/locations/*/connections/*/gitRepositoryLinks/*`"
        },
        "url": {
          "type": "string",
          "description": "Required. The Git remote's URL."
        },
        "tokenStatus": {
          "readOnly": true,
          "deprecated": true,
          "enum": [
            "TOKEN_STATUS_UNSPECIFIED",
            "NOT_FOUND",
            "INVALID",
            "VALID"
          ],
          "description": "Output only. Deprecated: The field does not contain any token status information. Instead use https://cloud.google.com/dataform/reference/rest/v1beta1/projects.locations.repositories/computeAccessTokenStatus",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The token could not be found in Secret Manager (or the Dataform Service Account did not have permission to access it).",
            "The token could not be used to authenticate against the Git remote.",
            "The token was used successfully to authenticate against the Git remote."
          ]
        }
      }
    },
    "CancelWorkflowInvocationResponse": {
      "id": "CancelWorkflowInvocationResponse",
      "type": "object",
      "properties": {},
      "description": "`CancelWorkflowInvocation` response message."
    },
    "RemoveDirectoryRequest": {
      "description": "`RemoveDirectory` request message.",
      "type": "object",
      "properties": {
        "path": {
          "description": "Required. The directory's full path including directory name, relative to the workspace root.",
          "type": "string"
        }
      },
      "id": "RemoveDirectoryRequest"
    },
    "TeamFolderContentsEntry": {
      "id": "TeamFolderContentsEntry",
      "type": "object",
      "properties": {
        "folder": {
          "description": "A subfolder.",
          "$ref": "Folder"
        },
        "repository": {
          "description": "A repository.",
          "$ref": "Repository"
        }
      },
      "description": "Represents a single content entry."
    },
    "FetchRemoteBranchesResponse": {
      "type": "object",
      "properties": {
        "branches": {
          "description": "The remote repository's branch names.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "FetchRemoteBranchesResponse",
      "description": "`FetchRemoteBranches` response message."
    },
    "ReleaseConfig": {
      "description": "Represents a Dataform release configuration.",
      "type": "object",
      "properties": {
        "releaseCompilationResult": {
          "description": "Optional. The name of the currently released compilation result for this release config. This value is updated when a compilation result is automatically created from this release config (using cron_schedule), or when this resource is updated by API call (perhaps to roll back to an earlier release). The compilation result must have been created using this release config. Must be in the format `projects/*/locations/*/repositories/*/compilationResults/*`.",
          "type": "string"
        },
        "cronSchedule": {
          "type": "string",
          "description": "Optional. Optional schedule (in cron format) for automatic creation of compilation results."
        },
        "recentScheduledReleaseRecords": {
          "description": "Output only. Records of the 10 most recent scheduled release attempts, ordered in descending order of `release_time`. Updated whenever automatic creation of a compilation result is triggered by cron_schedule.",
          "readOnly": true,
          "items": {
            "$ref": "ScheduledReleaseRecord"
          },
          "type": "array"
        },
        "internalMetadata": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string."
        },
        "gitCommitish": {
          "type": "string",
          "description": "Required. Git commit/tag/branch name at which the repository should be compiled. Must exist in the remote repository. Examples: - a commit SHA: `12ade345` - a tag: `tag1` - a branch name: `branch1`"
        },
        "timeZone": {
          "type": "string",
          "description": "Optional. Specifies the time zone to be used when interpreting cron_schedule. Must be a time zone name from the time zone database (https://en.wikipedia.org/wiki/List_of_tz_database_time_zones). If left unspecified, the default is UTC."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The release config's name."
        },
        "codeCompilationConfig": {
          "$ref": "CodeCompilationConfig",
          "description": "Optional. If set, fields of `code_compilation_config` override the default compilation settings that are specified in dataform.json."
        },
        "disabled": {
          "description": "Optional. Disables automatic creation of compilation results.",
          "type": "boolean"
        }
      },
      "id": "ReleaseConfig"
    },
    "WriteFile": {
      "id": "WriteFile",
      "type": "object",
      "properties": {
        "contents": {
          "type": "string",
          "format": "byte",
          "description": "The file's contents."
        }
      },
      "description": "Represents the write file operation (for files added or modified)."
    },
    "SearchTeamFoldersResponse": {
      "type": "object",
      "properties": {
        "results": {
          "description": "List of TeamFolders that match the search query.",
          "type": "array",
          "items": {
            "$ref": "TeamFolderSearchResult"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "SearchTeamFoldersResponse",
      "description": "`SearchTeamFolders` response message."
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "InstallNpmPackagesRequest": {
      "description": "`InstallNpmPackages` request message.",
      "type": "object",
      "properties": {},
      "id": "InstallNpmPackagesRequest"
    },
    "ListCompilationResultsResponse": {
      "id": "ListCompilationResultsResponse",
      "type": "object",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations which could not be reached."
        },
        "compilationResults": {
          "type": "array",
          "items": {
            "$ref": "CompilationResult"
          },
          "description": "List of compilation results."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "`ListCompilationResults` response message."
    },
    "ComputeRepositoryAccessTokenStatusResponse": {
      "description": "`ComputeRepositoryAccessTokenStatus` response message.",
      "id": "ComputeRepositoryAccessTokenStatusResponse",
      "type": "object",
      "properties": {
        "tokenStatus": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The token could not be found in Secret Manager (or the Dataform Service Account did not have permission to access it).",
            "The token could not be used to authenticate against the Git remote.",
            "The token was used successfully to authenticate against the Git remote.",
            "The token is not accessible due to permission issues."
          ],
          "type": "string",
          "description": "Indicates the status of the Git access token.",
          "enum": [
            "TOKEN_STATUS_UNSPECIFIED",
            "NOT_FOUND",
            "INVALID",
            "VALID",
            "PERMISSION_DENIED"
          ]
        }
      }
    },
    "TableUpdateTrigger": {
      "type": "object",
      "properties": {
        "table": {
          "$ref": "Target",
          "description": "The target table to trigger the workflow."
        },
        "triggerUpdateTime": {
          "readOnly": true,
          "description": "Output only. The modification time of this table that resulted in an invocation of the workflow. This would be updated by the triggering service after a successful workflow invocation.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "TableUpdateTrigger",
      "description": "Represents a table update trigger configuration."
    },
    "MoveFileRequest": {
      "type": "object",
      "properties": {
        "newPath": {
          "description": "Required. The file's new path including filename, relative to the workspace root.",
          "type": "string"
        },
        "path": {
          "type": "string",
          "description": "Required. The file's full path including filename, relative to the workspace root."
        }
      },
      "id": "MoveFileRequest",
      "description": "`MoveFile` request message."
    },
    "LoadConfig": {
      "description": "Simplified load configuration for actions",
      "type": "object",
      "properties": {
        "append": {
          "$ref": "SimpleLoadMode",
          "description": "Append into destination table"
        },
        "replace": {
          "description": "Replace destination table",
          "$ref": "SimpleLoadMode"
        },
        "maximum": {
          "description": "Insert records where the value exceeds the previous maximum value for a column in the destination table",
          "$ref": "IncrementalLoadMode"
        },
        "unique": {
          "$ref": "IncrementalLoadMode",
          "description": "Insert records where the value of a column is not already present in the destination table"
        }
      },
      "id": "LoadConfig"
    },
    "SearchResult": {
      "description": "Client-facing representation of a search result entry.",
      "type": "object",
      "properties": {
        "directory": {
          "$ref": "DirectorySearchResult",
          "description": "Details when search result is a directory."
        },
        "file": {
          "description": "Details when search result is a file.",
          "$ref": "FileSearchResult"
        }
      },
      "id": "SearchResult"
    },
    "Interval": {
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive). The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time.",
      "type": "object",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start."
        },
        "endTime": {
          "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "Interval"
    },
    "FileOperation": {
      "description": "Represents a single file operation to the repository.",
      "type": "object",
      "properties": {
        "writeFile": {
          "$ref": "WriteFile",
          "description": "Represents the write operation."
        },
        "deleteFile": {
          "description": "Represents the delete operation.",
          "$ref": "DeleteFile"
        }
      },
      "id": "FileOperation"
    },
    "OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "properties": {
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "cancelRequested": {
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "statusDetail": {
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true
        },
        "apiVersion": {
          "readOnly": true,
          "description": "Output only. API version used to start the operation.",
          "type": "string"
        },
        "verb": {
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string"
        }
      },
      "id": "OperationMetadata"
    },
    "WorkflowTriggerConfig": {
      "id": "WorkflowTriggerConfig",
      "type": "object",
      "properties": {
        "workflowTriggers": {
          "description": "Required. The trigger definitions to invoke a workflow.",
          "type": "array",
          "items": {
            "$ref": "WorkflowTrigger"
          }
        },
        "recentTriggerEvaluationRecords": {
          "type": "array",
          "items": {
            "$ref": "TriggerEvaluationRecord"
          },
          "readOnly": true,
          "description": "Output only. Records of the 10 most recent trigger evaluations, ordered in descending order of `evaluation_time`. Updated whenever the service evaluates the trigger conditions (via polling or upon receiving a push event)."
        },
        "condition": {
          "description": "Optional. The condition to use when triggering the workflow.",
          "enum": [
            "CONDITION_UNSPECIFIED",
            "ALL",
            "ANY"
          ],
          "enumDescriptions": [
            "If CONDITION_UNSPECIFIED, the default value is ANY.",
            "If ALL, all the trigger config conditions must be met before a workflow is invoked.",
            "If ANY, at least one of the trigger config conditions must be met before a workflow is invoked."
          ],
          "type": "string"
        },
        "minExecutionDuration": {
          "description": "Optional. Minimum duration between two consecutive executions. If not specified, the workflow will be executed every time trigger conditions are met and no ongoing workflow execution.",
          "type": "string",
          "format": "google-duration"
        },
        "lastSuccessfulEvaluationTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp of the last successful trigger evaluation.",
          "readOnly": true
        },
        "maxWaitDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. The effective maximum wait time duration for the trigger condition to be met. If not specified, the workflow won't be triggered until conditions are met."
        }
      },
      "description": "Represents a trigger configuration for a workflow."
    },
    "Workspace": {
      "id": "Workspace",
      "type": "object",
      "properties": {
        "disableMoves": {
          "description": "Optional. If set to true, workspaces will not be moved if its linked Repository is moved. Instead, it will be deleted.",
          "type": "boolean"
        },
        "name": {
          "description": "Identifier. The workspace's name.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp of when the workspace was created.",
          "readOnly": true
        },
        "privateResourceMetadata": {
          "readOnly": true,
          "$ref": "PrivateResourceMetadata",
          "description": "Output only. Metadata indicating whether this resource is user-scoped. For `Workspace` resources, the `user_scoped` field is always `true`."
        },
        "dataEncryptionState": {
          "description": "Output only. A data encryption state of a Git repository if this Workspace is protected by a KMS key.",
          "readOnly": true,
          "$ref": "DataEncryptionState"
        },
        "internalMetadata": {
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Represents a Dataform Git workspace."
    },
    "WorkflowTrigger": {
      "description": "The trigger definition to invoke a workflow.",
      "id": "WorkflowTrigger",
      "type": "object",
      "properties": {
        "tableUpdateTrigger": {
          "$ref": "TableUpdateTrigger",
          "description": "The table update trigger configuration."
        }
      }
    },
    "TriggerEvaluationRecord": {
      "type": "object",
      "properties": {
        "evaluationTime": {
          "readOnly": true,
          "description": "Output only. The timestamp of this trigger evaluation attempt.",
          "type": "string",
          "format": "google-datetime"
        },
        "status": {
          "description": "Output only. The status of the trigger evaluation. Success is indicated by a code of 0 (OK). Message will only be present if the status code is non-zero.",
          "readOnly": true,
          "$ref": "Status"
        }
      },
      "id": "TriggerEvaluationRecord",
      "description": "A record of an attempt to evaluate trigger conditions."
    },
    "WorkspaceCompilationOverrides": {
      "id": "WorkspaceCompilationOverrides",
      "type": "object",
      "properties": {
        "tablePrefix": {
          "type": "string",
          "description": "Optional. The prefix that should be prepended to all table names."
        },
        "defaultDatabase": {
          "type": "string",
          "description": "Optional. The default database (Google Cloud project ID)."
        },
        "schemaSuffix": {
          "type": "string",
          "description": "Optional. The suffix that should be appended to all schema (BigQuery dataset ID) names."
        }
      },
      "description": "Configures workspace compilation overrides for a repository. Primarily used by the UI (`console.cloud.google.com`). `schema_suffix` and `table_prefix` can have a special expression - `${workspaceName}`, which refers to the workspace name from which the compilation results will be created. API callers are expected to resolve the expression in these overrides and provide them explicitly in `code_compilation_config` (https://cloud.google.com/dataform/reference/rest/v1beta1/projects.locations.repositories.compilationResults#codecompilationconfig) when creating workspace-scoped compilation results."
    },
    "ActionErrorTable": {
      "description": "Error table information, used to write error data into a BigQuery table.",
      "id": "ActionErrorTable",
      "type": "object",
      "properties": {
        "retentionDays": {
          "type": "integer",
          "format": "int32",
          "description": "Error table partition expiration in days. Only positive values are allowed."
        },
        "target": {
          "$ref": "Target",
          "description": "Error Table target."
        }
      }
    },
    "ActionLoadConfig": {
      "id": "ActionLoadConfig",
      "type": "object",
      "properties": {
        "unique": {
          "description": "Insert records where the value of a column is not already present in the destination table",
          "$ref": "ActionIncrementalLoadMode"
        },
        "append": {
          "$ref": "ActionSimpleLoadMode",
          "description": "Append into destination table"
        },
        "replace": {
          "$ref": "ActionSimpleLoadMode",
          "description": "Replace destination table"
        },
        "maximum": {
          "description": "Insert records where the value exceeds the previous maximum value for a column in the destination table",
          "$ref": "ActionIncrementalLoadMode"
        }
      },
      "description": "Simplified load configuration for actions"
    },
    "ListWorkflowInvocationsResponse": {
      "type": "object",
      "properties": {
        "workflowInvocations": {
          "type": "array",
          "items": {
            "$ref": "WorkflowInvocation"
          },
          "description": "List of workflow invocations."
        },
        "unreachable": {
          "description": "Locations which could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "ListWorkflowInvocationsResponse",
      "description": "`ListWorkflowInvocations` response message."
    },
    "DataPreparationAction": {
      "description": "Represents a workflow action that will run a Data Preparation.",
      "type": "object",
      "properties": {
        "contentsSql": {
          "$ref": "ActionSqlDefinition",
          "description": "SQL definition for a Data Preparation. Contains a SQL query and additional context information."
        },
        "generatedSql": {
          "description": "Output only. The generated BigQuery SQL script that will be executed. For reference only.",
          "readOnly": true,
          "type": "string"
        },
        "contentsYaml": {
          "description": "Output only. YAML representing the contents of the data preparation. Can be used to show the customer what the input was to their workflow.",
          "readOnly": true,
          "type": "string"
        },
        "jobId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The ID of the BigQuery job that executed the SQL in sql_script. Only set once the job has started to run."
        }
      },
      "id": "DataPreparationAction"
    },
    "CommitAuthor": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The commit author's name."
        },
        "emailAddress": {
          "description": "Required. The commit author's email address.",
          "type": "string"
        }
      },
      "id": "CommitAuthor",
      "description": "Represents the author of a Git commit."
    },
    "InstallNpmPackagesResponse": {
      "description": "`InstallNpmPackages` response message.",
      "id": "InstallNpmPackagesResponse",
      "type": "object",
      "properties": {}
    },
    "InvocationConfig": {
      "description": "Includes various configuration options for a workflow invocation. If both `included_targets` and `included_tags` are unset, all actions will be included.",
      "type": "object",
      "properties": {
        "includedTargets": {
          "description": "Optional. The set of action identifiers to include.",
          "items": {
            "$ref": "Target"
          },
          "type": "array"
        },
        "fullyRefreshIncrementalTablesEnabled": {
          "description": "Optional. When set to true, any incremental tables will be fully refreshed.",
          "type": "boolean"
        },
        "queryPriority": {
          "description": "Optional. Specifies the priority for query execution in BigQuery. More information can be found at https://cloud.google.com/bigquery/docs/running-queries#queries.",
          "enum": [
            "QUERY_PRIORITY_UNSPECIFIED",
            "INTERACTIVE",
            "BATCH"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Query will be executed in BigQuery with interactive priority. More information can be found at https://cloud.google.com/bigquery/docs/running-queries#queries.",
            "Query will be executed in BigQuery with batch priority. More information can be found at https://cloud.google.com/bigquery/docs/running-queries#batchqueries."
          ]
        },
        "includedTags": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The set of tags to include."
        },
        "transitiveDependenciesIncluded": {
          "description": "Optional. When set to true, transitive dependencies of included actions will be executed.",
          "type": "boolean"
        },
        "transitiveDependentsIncluded": {
          "type": "boolean",
          "description": "Optional. When set to true, transitive dependents of included actions will be executed."
        },
        "serviceAccount": {
          "type": "string",
          "description": "Optional. The service account to run workflow invocations under."
        }
      },
      "id": "InvocationConfig"
    },
    "ActionSqlDefinition": {
      "type": "object",
      "properties": {
        "loadConfig": {
          "$ref": "ActionLoadConfig",
          "description": "Load configuration."
        },
        "errorTable": {
          "description": "Error table configuration,",
          "$ref": "ActionErrorTable"
        },
        "query": {
          "description": "The SQL query representing the data preparation steps. Formatted as a Pipe SQL query statement.",
          "type": "string"
        }
      },
      "id": "ActionSqlDefinition",
      "description": "Definition of a SQL Data Preparation"
    },
    "Policy": {
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "id": "Policy",
      "type": "object",
      "properties": {
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "Binding"
          },
          "type": "array"
        },
        "etag": {
          "type": "string",
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
        },
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "CommitRepositoryChangesRequest": {
      "type": "object",
      "properties": {
        "fileOperations": {
          "type": "object",
          "description": "Optional. A map to the path of the file to the operation. The path is the full file path including filename, from repository root.",
          "additionalProperties": {
            "$ref": "FileOperation"
          }
        },
        "commitMetadata": {
          "description": "Required. The changes to commit to the repository.",
          "$ref": "CommitMetadata"
        },
        "requiredHeadCommitSha": {
          "type": "string",
          "description": "Optional. The commit SHA which must be the repository's current HEAD before applying this commit; otherwise this request will fail. If unset, no validation on the current HEAD commit SHA is performed."
        }
      },
      "id": "CommitRepositoryChangesRequest",
      "description": "`CommitRepositoryChanges` request message."
    },
    "Assertion": {
      "id": "Assertion",
      "type": "object",
      "properties": {
        "selectQuery": {
          "type": "string",
          "description": "The SELECT query which must return zero rows in order for this assertion to succeed."
        },
        "parentAction": {
          "description": "The parent action of this assertion. Only set if this assertion was automatically generated.",
          "$ref": "Target"
        },
        "disabled": {
          "description": "Whether this action is disabled (i.e. should not be run).",
          "type": "boolean"
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Arbitrary, user-defined tags on this action."
        },
        "dependencyTargets": {
          "items": {
            "$ref": "Target"
          },
          "type": "array",
          "description": "A list of actions that this action depends on."
        },
        "relationDescriptor": {
          "description": "Descriptor for the assertion's automatically-generated view and its columns.",
          "$ref": "RelationDescriptor"
        }
      },
      "description": "Represents an assertion upon a SQL query which is required return zero rows."
    },
    "CompilationResult": {
      "type": "object",
      "properties": {
        "workspace": {
          "type": "string",
          "description": "Immutable. The name of the workspace to compile. Must be in the format `projects/*/locations/*/repositories/*/workspaces/*`."
        },
        "resolvedGitCommitSha": {
          "readOnly": true,
          "description": "Output only. The fully resolved Git commit SHA of the code that was compiled. Not set for compilation results whose source is a workspace.",
          "type": "string"
        },
        "dataformCoreVersion": {
          "type": "string",
          "description": "Output only. The version of `@dataform/core` that was used for compilation.",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp of when the compilation result was created."
        },
        "internalMetadata": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string."
        },
        "gitCommitish": {
          "type": "string",
          "description": "Immutable. Git commit/tag/branch name at which the repository should be compiled. Must exist in the remote repository. Examples: - a commit SHA: `12ade345` - a tag: `tag1` - a branch name: `branch1`"
        },
        "privateResourceMetadata": {
          "readOnly": true,
          "$ref": "PrivateResourceMetadata",
          "description": "Output only. Metadata indicating whether this resource is user-scoped. `CompilationResult` resource is `user_scoped` only if it is sourced from a workspace."
        },
        "compilationErrors": {
          "type": "array",
          "items": {
            "$ref": "CompilationError"
          },
          "readOnly": true,
          "description": "Output only. Errors encountered during project compilation."
        },
        "name": {
          "type": "string",
          "description": "Output only. The compilation result's name.",
          "readOnly": true
        },
        "releaseConfig": {
          "type": "string",
          "description": "Immutable. The name of the release config to compile. Must be in the format `projects/*/locations/*/repositories/*/releaseConfigs/*`."
        },
        "dataEncryptionState": {
          "description": "Output only. Only set if the repository has a KMS Key.",
          "readOnly": true,
          "$ref": "DataEncryptionState"
        },
        "codeCompilationConfig": {
          "description": "Immutable. If set, fields of `code_compilation_config` override the default compilation settings that are specified in dataform.json.",
          "$ref": "CodeCompilationConfig"
        }
      },
      "id": "CompilationResult",
      "description": "Represents the result of compiling a Dataform project."
    },
    "MakeDirectoryRequest": {
      "description": "`MakeDirectory` request message.",
      "type": "object",
      "properties": {
        "path": {
          "description": "Required. The directory's full path including directory name, relative to the workspace root.",
          "type": "string"
        }
      },
      "id": "MakeDirectoryRequest"
    },
    "Repository": {
      "type": "object",
      "properties": {
        "gitRemoteSettings": {
          "description": "Optional. If set, configures this repository to be linked to a Git remote.",
          "$ref": "GitRemoteSettings"
        },
        "npmrcEnvironmentVariablesSecretVersion": {
          "description": "Optional. The name of the Secret Manager secret version to be used to interpolate variables into the .npmrc file for package installation operations. Must be in the format `projects/*/secrets/*/versions/*`. The file itself must be in a JSON format.",
          "type": "string"
        },
        "dataEncryptionState": {
          "readOnly": true,
          "$ref": "DataEncryptionState",
          "description": "Output only. A data encryption state of a Git repository if this Repository is protected by a KMS key."
        },
        "labels": {
          "type": "object",
          "description": "Optional. Repository user labels.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "internalMetadata": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The timestamp of when the repository was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "containingFolder": {
          "type": "string",
          "description": "Optional. The name of the containing folder of the repository. The field is immutable and it can be modified via a MoveRepository operation. Format: `projects/*/locations/*/folders/*`. or `projects/*/locations/*/teamFolders/*`."
        },
        "workspaceCompilationOverrides": {
          "$ref": "WorkspaceCompilationOverrides",
          "description": "Optional. If set, fields of `workspace_compilation_overrides` override the default compilation settings that are specified in dataform.json when creating workspace-scoped compilation results. See documentation for `WorkspaceCompilationOverrides` for more information."
        },
        "kmsKeyName": {
          "type": "string",
          "description": "Optional. The reference to a KMS encryption key. If provided, it will be used to encrypt user data in the repository and all child resources. It is not possible to add or update the encryption key after the repository is created. Example: `projects/{kms_project}/locations/{location}/keyRings/{key_location}/cryptoKeys/{key}`"
        },
        "setAuthenticatedUserAdmin": {
          "type": "boolean",
          "description": "Optional. Input only. If set to true, the authenticated user will be granted the roles/dataform.admin role on the created repository. To modify access to the created repository later apply setIamPolicy from https://cloud.google.com/dataform/reference/rest#rest-resource:-v1beta1.projects.locations.repositories"
        },
        "serviceAccount": {
          "type": "string",
          "description": "Optional. The service account to run workflow invocations under."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The repository's name."
        },
        "teamFolderName": {
          "description": "Output only. The resource name of the TeamFolder that this Repository is associated with. This should take the format: projects/{project}/locations/{location}/teamFolders/{teamFolder}. If this is not set, the Repository is not associated with a TeamFolder.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. The repository's user-friendly name."
        }
      },
      "id": "Repository",
      "description": "Represents a Dataform Git repository."
    },
    "MoveFolderRequest": {
      "description": "`MoveFolder` request message.",
      "type": "object",
      "properties": {
        "destinationContainingFolder": {
          "description": "Optional. The name of the Folder, TeamFolder, or root location to move the Folder to. Can be in the format of: \"\" to move into the root User folder, `projects/*/locations/*/folders/*`, `projects/*/locations/*/teamFolders/*`",
          "type": "string"
        }
      },
      "id": "MoveFolderRequest"
    },
    "DeleteTeamFolderTreeRequest": {
      "description": "`DeleteTeamFolderTree` request message.",
      "type": "object",
      "properties": {
        "force": {
          "description": "Optional. If `false` (default): The operation will fail if any Repository within the folder hierarchy has associated Release Configs or Workflow Configs. If `true`: The operation will attempt to delete everything, including any Release Configs and Workflow Configs linked to Repositories within the folder hierarchy. This permanently removes schedules and resources.",
          "type": "boolean"
        }
      },
      "id": "DeleteTeamFolderTreeRequest"
    },
    "DeleteFolderTreeRequest": {
      "type": "object",
      "properties": {
        "force": {
          "description": "Optional. If `false` (default): The operation will fail if any Repository within the folder hierarchy has associated Release Configs or Workflow Configs. If `true`: The operation will attempt to delete everything, including any Release Configs and Workflow Configs linked to Repositories within the folder hierarchy. This permanently removes schedules and resources.",
          "type": "boolean"
        }
      },
      "id": "DeleteFolderTreeRequest",
      "description": "`DeleteFolderTree` request message."
    },
    "PullGitCommitsResponse": {
      "description": "`PullGitCommits` response message.",
      "id": "PullGitCommitsResponse",
      "type": "object",
      "properties": {}
    },
    "WriteFileResponse": {
      "description": "`WriteFile` response message.",
      "id": "WriteFileResponse",
      "type": "object",
      "properties": {}
    },
    "WorkflowConfig": {
      "description": "Represents a Dataform workflow configuration.",
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp of when the WorkflowConfig was created."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp of when the WorkflowConfig was last updated.",
          "readOnly": true
        },
        "cronSchedule": {
          "description": "Optional. Optional schedule (in cron format) for automatic execution of this workflow config.",
          "type": "string"
        },
        "invocationConfig": {
          "description": "Optional. If left unset, a default InvocationConfig will be used.",
          "$ref": "InvocationConfig"
        },
        "workflowTriggerConfig": {
          "description": "Optional. Optional trigger configuration for this workflow. If present, the workflow will be triggered based on the specified triggers.",
          "$ref": "WorkflowTriggerConfig"
        },
        "timeZone": {
          "description": "Optional. Specifies the time zone to be used when interpreting cron_schedule. Must be a time zone name from the time zone database (https://en.wikipedia.org/wiki/List_of_tz_database_time_zones). If left unspecified, the default is UTC.",
          "type": "string"
        },
        "internalMetadata": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string."
        },
        "name": {
          "description": "Identifier. The workflow config's name.",
          "type": "string"
        },
        "recentScheduledExecutionRecords": {
          "readOnly": true,
          "description": "Output only. Records of the 10 most recent scheduled execution attempts, ordered in descending order of `execution_time`. Updated whenever automatic creation of a workflow invocation is triggered by cron_schedule.",
          "type": "array",
          "items": {
            "$ref": "ScheduledExecutionRecord"
          }
        },
        "releaseConfig": {
          "description": "Required. The name of the release config whose release_compilation_result should be executed. Must be in the format `projects/*/locations/*/repositories/*/releaseConfigs/*`.",
          "type": "string"
        },
        "disabled": {
          "description": "Optional. Disables automatic creation of workflow invocations.",
          "type": "boolean"
        }
      },
      "id": "WorkflowConfig"
    },
    "MoveFileResponse": {
      "description": "`MoveFile` response message.",
      "id": "MoveFileResponse",
      "type": "object",
      "properties": {}
    },
    "SimpleLoadMode": {
      "id": "SimpleLoadMode",
      "type": "object",
      "properties": {},
      "description": "Simple load definition"
    },
    "ActionSimpleLoadMode": {
      "type": "object",
      "properties": {},
      "id": "ActionSimpleLoadMode",
      "description": "Simple load definition"
    },
    "ListOperationsResponse": {
      "type": "object",
      "properties": {
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations."
    },
    "TestIamPermissionsResponse": {
      "type": "object",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
        }
      },
      "id": "TestIamPermissionsResponse",
      "description": "Response message for `TestIamPermissions` method."
    },
    "MoveDirectoryRequest": {
      "description": "`MoveDirectory` request message.",
      "type": "object",
      "properties": {
        "path": {
          "description": "Required. The directory's full path including directory name, relative to the workspace root.",
          "type": "string"
        },
        "newPath": {
          "description": "Required. The new path for the directory including directory name, rooted at workspace root.",
          "type": "string"
        }
      },
      "id": "MoveDirectoryRequest"
    },
    "MakeDirectoryResponse": {
      "description": "`MakeDirectory` response message.",
      "type": "object",
      "properties": {},
      "id": "MakeDirectoryResponse"
    },
    "SqlDefinition": {
      "type": "object",
      "properties": {
        "load": {
          "$ref": "LoadConfig",
          "description": "Load configuration."
        },
        "errorTable": {
          "description": "Error table configuration,",
          "$ref": "ErrorTable"
        },
        "query": {
          "type": "string",
          "description": "The SQL query representing the data preparation steps. Formatted as a Pipe SQL query statement."
        }
      },
      "id": "SqlDefinition",
      "description": "Definition of a SQL Data Preparation"
    },
    "PushGitCommitsRequest": {
      "description": "`PushGitCommits` request message.",
      "id": "PushGitCommitsRequest",
      "type": "object",
      "properties": {
        "remoteBranch": {
          "type": "string",
          "description": "Optional. The name of the branch in the Git remote to which commits should be pushed. If left unset, the repository's default branch name will be used."
        }
      }
    },
    "IncrementalLoadMode": {
      "description": "Load definition for incremental load modes",
      "type": "object",
      "properties": {
        "column": {
          "description": "Column name for incremental load modes",
          "type": "string"
        }
      },
      "id": "IncrementalLoadMode"
    },
    "QueryTeamFolderContentsResponse": {
      "description": "`QueryTeamFolderContents` response message.",
      "id": "QueryTeamFolderContentsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "entries": {
          "type": "array",
          "items": {
            "$ref": "TeamFolderContentsEntry"
          },
          "description": "List of entries in the TeamFolder."
        }
      }
    },
    "FetchRepositoryHistoryResponse": {
      "description": "`FetchRepositoryHistory` response message.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "commits": {
          "type": "array",
          "items": {
            "$ref": "CommitLogEntry"
          },
          "description": "A list of commit logs, ordered by 'git log' default order."
        }
      },
      "id": "FetchRepositoryHistoryResponse"
    },
    "FileSearchResult": {
      "description": "Client-facing representation of a file entry in search results.",
      "type": "object",
      "properties": {
        "path": {
          "type": "string",
          "description": "File system path relative to the workspace root."
        }
      },
      "id": "FileSearchResult"
    },
    "Location": {
      "type": "object",
      "properties": {
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          }
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        }
      },
      "id": "Location",
      "description": "A resource that represents a Google Cloud location."
    },
    "SshAuthenticationConfig": {
      "id": "SshAuthenticationConfig",
      "type": "object",
      "properties": {
        "userPrivateKeySecretVersion": {
          "type": "string",
          "description": "Required. The name of the Secret Manager secret version to use as a ssh private key for Git operations. Must be in the format `projects/*/secrets/*/versions/*`."
        },
        "hostPublicKey": {
          "description": "Required. Content of a public SSH key to verify an identity of a remote Git host.",
          "type": "string"
        }
      },
      "description": "Configures fields for performing SSH authentication."
    },
    "BigQueryAction": {
      "description": "Represents a workflow action that will run against BigQuery.",
      "id": "BigQueryAction",
      "type": "object",
      "properties": {
        "jobId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The ID of the BigQuery job that executed the SQL in sql_script. Only set once the job has started to run."
        },
        "sqlScript": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The generated BigQuery SQL script that will be executed."
        }
      }
    },
    "RemoveDirectoryResponse": {
      "type": "object",
      "properties": {},
      "id": "RemoveDirectoryResponse",
      "description": "`RemoveDirectory` response message."
    },
    "PolicyName": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Identifies an instance of the type. ID format varies by type. The ID format is defined in the IAM .service file that defines the type, either in path_mapping or in a comment.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "Resource type. Types are defined in IAM's .service files. Valid values for type might be 'storage_buckets', 'compute_instances', 'resourcemanager_customers', 'billing_accounts', etc."
        },
        "region": {
          "description": "For Cloud IAM: The location of the Policy. Must be empty or \"global\" for Policies owned by global IAM. Must name a region from prodspec/cloud-iam-cloudspec for Regional IAM Policies, see go/iam-faq#where-is-iam-currently-deployed. For Local IAM: This field should be set to \"local\".",
          "type": "string"
        }
      },
      "id": "PolicyName",
      "description": "An internal name for an IAM policy, based on the resource to which the policy applies. Not to be confused with a resource's external full resource name. For more information on this distinction, see go/iam-full-resource-names."
    },
    "CommitWorkspaceChangesRequest": {
      "id": "CommitWorkspaceChangesRequest",
      "type": "object",
      "properties": {
        "author": {
          "description": "Required. The commit's author.",
          "$ref": "CommitAuthor"
        },
        "paths": {
          "description": "Optional. Full file paths to commit including filename, rooted at workspace root. If left empty, all files will be committed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "commitMessage": {
          "type": "string",
          "description": "Optional. The commit's message."
        }
      },
      "description": "`CommitWorkspaceChanges` request message."
    },
    "Config": {
      "id": "Config",
      "type": "object",
      "properties": {
        "internalMetadata": {
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The config name."
        },
        "defaultKmsKeyName": {
          "type": "string",
          "description": "Optional. The default KMS key that is used if no encryption key is provided when a repository is created."
        }
      },
      "description": "Config for all repositories in a given project and location."
    },
    "ReadFileResponse": {
      "description": "`ReadFile` response message.",
      "id": "ReadFileResponse",
      "type": "object",
      "properties": {
        "fileContents": {
          "description": "The file's contents.",
          "format": "byte",
          "type": "string"
        }
      }
    },
    "Relation": {
      "description": "Represents a database relation.",
      "type": "object",
      "properties": {
        "incrementalTableConfig": {
          "$ref": "IncrementalTableConfig",
          "description": "Configures `INCREMENTAL_TABLE` settings for this relation. Only set if `relation_type` is `INCREMENTAL_TABLE`."
        },
        "additionalOptions": {
          "description": "Additional options that will be provided as key/value pairs into the options clause of a create table/view statement. See https://cloud.google.com/bigquery/docs/reference/standard-sql/data-definition-language for more information on which options are supported.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "storageUri": {
          "type": "string",
          "description": "Optional. The fully qualified location prefix of the external folder where table data is stored. The URI should be in the format `gs://bucket/path_to_table/`."
        },
        "dependencyTargets": {
          "description": "A list of actions that this action depends on.",
          "items": {
            "$ref": "Target"
          },
          "type": "array"
        },
        "tableFormat": {
          "enumDescriptions": [
            "Default value.",
            "Apache Iceberg format."
          ],
          "type": "string",
          "description": "Optional. The table format for the BigQuery table.",
          "enum": [
            "TABLE_FORMAT_UNSPECIFIED",
            "ICEBERG"
          ]
        },
        "fileFormat": {
          "enumDescriptions": [
            "Default value.",
            "Apache Parquet format."
          ],
          "type": "string",
          "description": "Optional. The file format for the BigQuery table.",
          "enum": [
            "FILE_FORMAT_UNSPECIFIED",
            "PARQUET"
          ]
        },
        "preOperations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "SQL statements to be executed before creating the relation."
        },
        "selectQuery": {
          "description": "The SELECT query which returns rows which this relation should contain.",
          "type": "string"
        },
        "postOperations": {
          "description": "SQL statements to be executed after creating the relation.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "requirePartitionFilter": {
          "description": "Specifies whether queries on this table must include a predicate filter that filters on the partitioning column.",
          "type": "boolean"
        },
        "tags": {
          "description": "Arbitrary, user-defined tags on this action.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "relationDescriptor": {
          "description": "Descriptor for the relation and its columns.",
          "$ref": "RelationDescriptor"
        },
        "relationType": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The relation is a table.",
            "The relation is a view.",
            "The relation is an incrementalized table.",
            "The relation is a materialized view."
          ],
          "type": "string",
          "description": "The type of this relation.",
          "enum": [
            "RELATION_TYPE_UNSPECIFIED",
            "TABLE",
            "VIEW",
            "INCREMENTAL_TABLE",
            "MATERIALIZED_VIEW"
          ]
        },
        "disabled": {
          "type": "boolean",
          "description": "Whether this action is disabled (i.e. should not be run)."
        },
        "partitionExpirationDays": {
          "type": "integer",
          "format": "int32",
          "description": "Sets the partition expiration in days."
        },
        "connection": {
          "description": "Optional. The connection specifying the credentials to be used to read and write to external storage, such as Cloud Storage. The connection can have the form `{project}.{location}.{connection_id}` or `projects/{project}/locations/{location}/connections/{connection_id}`, or be set to DEFAULT.",
          "type": "string"
        },
        "partitionExpression": {
          "type": "string",
          "description": "The SQL expression used to partition the relation."
        },
        "clusterExpressions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of columns or SQL expressions used to cluster the table."
        }
      },
      "id": "Relation"
    },
    "ResetWorkspaceChangesRequest": {
      "type": "object",
      "properties": {
        "paths": {
          "description": "Optional. Full file paths to reset back to their committed state including filename, rooted at workspace root. If left empty, all files will be reset.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "clean": {
          "description": "Optional. If set to true, untracked files will be deleted.",
          "type": "boolean"
        }
      },
      "id": "ResetWorkspaceChangesRequest",
      "description": "`ResetWorkspaceChanges` request message."
    },
    "CodeCompilationConfig": {
      "type": "object",
      "properties": {
        "builtinAssertionNamePrefix": {
          "type": "string",
          "description": "Optional. The prefix to prepend to built-in assertion names."
        },
        "defaultLocation": {
          "description": "Optional. The default BigQuery location to use. Defaults to \"US\". See the BigQuery docs for a full list of locations: https://cloud.google.com/bigquery/docs/locations.",
          "type": "string"
        },
        "vars": {
          "type": "object",
          "description": "Optional. User-defined variables that are made available to project code during compilation.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "defaultSchema": {
          "type": "string",
          "description": "Optional. The default schema (BigQuery dataset ID)."
        },
        "defaultDatabase": {
          "description": "Optional. The default database (Google Cloud project ID).",
          "type": "string"
        },
        "assertionSchema": {
          "description": "Optional. The default schema (BigQuery dataset ID) for assertions.",
          "type": "string"
        },
        "schemaSuffix": {
          "description": "Optional. The suffix that should be appended to all schema (BigQuery dataset ID) names.",
          "type": "string"
        },
        "databaseSuffix": {
          "description": "Optional. The suffix that should be appended to all database (Google Cloud project ID) names.",
          "type": "string"
        },
        "tablePrefix": {
          "type": "string",
          "description": "Optional. The prefix that should be prepended to all table names."
        },
        "defaultNotebookRuntimeOptions": {
          "description": "Optional. The default notebook runtime options.",
          "$ref": "NotebookRuntimeOptions"
        }
      },
      "id": "CodeCompilationConfig",
      "description": "Configures various aspects of Dataform code compilation."
    },
    "ListWorkflowConfigsResponse": {
      "id": "ListWorkflowConfigsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "workflowConfigs": {
          "description": "List of workflow configs.",
          "type": "array",
          "items": {
            "$ref": "WorkflowConfig"
          }
        },
        "unreachable": {
          "description": "Locations which could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "`ListWorkflowConfigs` response message."
    },
    "DirectoryEntry": {
      "description": "Represents a single entry in a directory.",
      "type": "object",
      "properties": {
        "file": {
          "description": "A file in the directory. The path is returned including the full folder structure from the root.",
          "type": "string"
        },
        "metadata": {
          "description": "Entry with metadata.",
          "$ref": "FilesystemEntryMetadata"
        },
        "directory": {
          "description": "A child directory in the directory. The path is returned including the full folder structure from the root.",
          "type": "string"
        }
      },
      "id": "DirectoryEntry"
    },
    "Declaration": {
      "id": "Declaration",
      "type": "object",
      "properties": {
        "relationDescriptor": {
          "$ref": "RelationDescriptor",
          "description": "Descriptor for the relation and its columns. Used as documentation only, i.e. values here will result in no changes to the relation's metadata."
        }
      },
      "description": "Represents a relation which is not managed by Dataform but which may be referenced by Dataform actions."
    },
    "WorkflowInvocationAction": {
      "description": "Represents a single action in a workflow invocation.",
      "type": "object",
      "properties": {
        "internalMetadata": {
          "readOnly": true,
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "type": "string"
        },
        "bigqueryAction": {
          "description": "Output only. The workflow action's bigquery action details.",
          "readOnly": true,
          "$ref": "BigQueryAction"
        },
        "target": {
          "description": "Output only. This action's identifier. Unique within the workflow invocation.",
          "readOnly": true,
          "$ref": "Target"
        },
        "state": {
          "enum": [
            "PENDING",
            "RUNNING",
            "SKIPPED",
            "DISABLED",
            "SUCCEEDED",
            "CANCELLED",
            "FAILED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The action has not yet been considered for invocation.",
            "The action is currently running.",
            "Execution of the action was skipped because upstream dependencies did not all complete successfully. A terminal state.",
            "Execution of the action was disabled as per the configuration of the corresponding compilation result action. A terminal state.",
            "The action succeeded. A terminal state.",
            "The action was cancelled. A terminal state.",
            "The action failed. A terminal state."
          ],
          "type": "string",
          "description": "Output only. This action's current state."
        },
        "notebookAction": {
          "readOnly": true,
          "$ref": "NotebookAction",
          "description": "Output only. The workflow action's notebook action details."
        },
        "dataPreparationAction": {
          "readOnly": true,
          "$ref": "DataPreparationAction",
          "description": "Output only. The workflow action's data preparation action details."
        },
        "canonicalTarget": {
          "description": "Output only. The action's identifier if the project had been compiled without any overrides configured. Unique within the compilation result.",
          "readOnly": true,
          "$ref": "Target"
        },
        "failureReason": {
          "type": "string",
          "description": "Output only. If and only if action's state is FAILED a failure reason is set.",
          "readOnly": true
        },
        "invocationTiming": {
          "readOnly": true,
          "$ref": "Interval",
          "description": "Output only. This action's timing details. `start_time` will be set if the action is in [RUNNING, SUCCEEDED, CANCELLED, FAILED] state. `end_time` will be set if the action is in [SUCCEEDED, CANCELLED, FAILED] state."
        }
      },
      "id": "WorkflowInvocationAction"
    },
    "QueryDirectoryContentsResponse": {
      "description": "`QueryDirectoryContents` response message.",
      "id": "QueryDirectoryContentsResponse",
      "type": "object",
      "properties": {
        "directoryEntries": {
          "description": "List of entries in the directory.",
          "items": {
            "$ref": "DirectoryEntry"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "WorkflowInvocation": {
      "description": "Represents a single invocation of a compilation result.",
      "type": "object",
      "properties": {
        "invocationConfig": {
          "$ref": "InvocationConfig",
          "description": "Immutable. If left unset, a default InvocationConfig will be used."
        },
        "privateResourceMetadata": {
          "description": "Output only. Metadata indicating whether this resource is user-scoped. `WorkflowInvocation` resource is `user_scoped` only if it is sourced from a compilation result and the compilation result is user-scoped.",
          "readOnly": true,
          "$ref": "PrivateResourceMetadata"
        },
        "compilationResult": {
          "type": "string",
          "description": "Immutable. The name of the compilation result to use for this invocation. Must be in the format `projects/*/locations/*/repositories/*/compilationResults/*`."
        },
        "internalMetadata": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string."
        },
        "invocationTiming": {
          "description": "Output only. This workflow invocation's timing details.",
          "readOnly": true,
          "$ref": "Interval"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The workflow invocation's name.",
          "type": "string"
        },
        "resolvedCompilationResult": {
          "readOnly": true,
          "description": "Output only. The resolved compilation result that was used to create this invocation. Will be in the format `projects/*/locations/*/repositories/*/compilationResults/*`.",
          "type": "string"
        },
        "workflowConfig": {
          "description": "Immutable. The name of the workflow config to invoke. Must be in the format `projects/*/locations/*/repositories/*/workflowConfigs/*`.",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "CANCELLED",
            "FAILED",
            "CANCELING"
          ],
          "readOnly": true,
          "description": "Output only. This workflow invocation's current state.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The workflow invocation is currently running.",
            "The workflow invocation succeeded. A terminal state.",
            "The workflow invocation was cancelled. A terminal state.",
            "The workflow invocation failed. A terminal state.",
            "The workflow invocation is being cancelled, but some actions are still running."
          ],
          "type": "string"
        },
        "dataEncryptionState": {
          "description": "Output only. Only set if the repository has a KMS Key.",
          "readOnly": true,
          "$ref": "DataEncryptionState"
        }
      },
      "id": "WorkflowInvocation"
    },
    "TeamFolderSearchResult": {
      "type": "object",
      "properties": {
        "teamFolder": {
          "description": "A TeamFolder resource that is in the project / location.",
          "$ref": "TeamFolder"
        }
      },
      "id": "TeamFolderSearchResult",
      "description": "Represents a single content entry."
    },
    "QueryRepositoryDirectoryContentsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "directoryEntries": {
          "description": "List of entries in the directory.",
          "type": "array",
          "items": {
            "$ref": "DirectoryEntry"
          }
        }
      },
      "id": "QueryRepositoryDirectoryContentsResponse",
      "description": "`QueryRepositoryDirectoryContents` response message."
    },
    "UncommittedFileChange": {
      "description": "Represents the Git state of a file with uncommitted changes.",
      "id": "UncommittedFileChange",
      "type": "object",
      "properties": {
        "state": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The file has been newly added.",
            "The file has been deleted.",
            "The file has been modified.",
            "The file contains merge conflicts."
          ],
          "type": "string",
          "description": "Output only. Indicates the status of the file.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "MODIFIED",
            "HAS_CONFLICTS"
          ],
          "readOnly": true
        },
        "path": {
          "type": "string",
          "description": "The file's full path including filename, relative to the workspace root."
        }
      }
    },
    "ListReleaseConfigsResponse": {
      "description": "`ListReleaseConfigs` response message.",
      "id": "ListReleaseConfigsResponse",
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "Locations which could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "releaseConfigs": {
          "description": "List of release configs.",
          "items": {
            "$ref": "ReleaseConfig"
          },
          "type": "array"
        }
      }
    },
    "DirectorySearchResult": {
      "id": "DirectorySearchResult",
      "type": "object",
      "properties": {
        "path": {
          "type": "string",
          "description": "File system path relative to the workspace root."
        }
      },
      "description": "Client-facing representation of a directory entry in search results."
    },
    "Folder": {
      "description": "Represents a Dataform Folder. This is a resource that is used to organize Files and other Folders and provide hierarchical access controls.",
      "type": "object",
      "properties": {
        "internalMetadata": {
          "type": "string",
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The Folder's name.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp of when the Folder was created.",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. The timestamp of when the Folder was last updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "creatorIamPrincipal": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The IAM principal identifier of the creator of the Folder."
        },
        "teamFolderName": {
          "type": "string",
          "description": "Output only. The resource name of the TeamFolder that this Folder is associated with. This should take the format: projects/{project}/locations/{location}/teamFolders/{teamFolder}. If this is not set, the Folder is not associated with a TeamFolder and is a UserFolder.",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "Required. The Folder's user-friendly name."
        },
        "containingFolder": {
          "description": "Optional. The containing Folder resource name. This should take the format: projects/{project}/locations/{location}/folders/{folder}, projects/{project}/locations/{location}/teamFolders/{teamFolder}, or just \"\" if this is a root Folder. This field can only be updated through MoveFolder.",
          "type": "string"
        }
      },
      "id": "Folder"
    },
    "FolderContentsEntry": {
      "description": "Represents a single content entry.",
      "type": "object",
      "properties": {
        "folder": {
          "description": "A subfolder.",
          "$ref": "Folder"
        },
        "repository": {
          "description": "A repository.",
          "$ref": "Repository"
        }
      },
      "id": "FolderContentsEntry"
    },
    "TeamFolder": {
      "id": "TeamFolder",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Required. The TeamFolder's user-friendly name."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The TeamFolder's name."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The timestamp of when the TeamFolder was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
[...]
