{
  "baseUrl": "https://datapipelines.googleapis.com/",
  "documentationLink": "https://cloud.google.com/dataflow/docs/guides/data-pipelines",
  "canonicalName": "Datapipelines",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "datapipelines:v1",
  "name": "datapipelines",
  "rootUrl": "https://datapipelines.googleapis.com/",
  "parameters": {
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format."
    }
  },
  "batchPath": "batch",
  "servicePath": "",
  "basePath": "",
  "title": "Data pipelines API",
  "mtlsRootUrl": "https://datapipelines.mtls.googleapis.com/",
  "revision": "20260913",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "version_module": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true,
  "ownerName": "Google",
  "description": "Data Pipelines provides an interface for creating, updating, and managing recurring Data Analytics jobs.",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "pipelines": {
              "methods": {
                "delete": {
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "description": "Deletes a pipeline. If a scheduler job is attached to the pipeline, it will be deleted.",
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "description": "Required. The pipeline name. For example: `projects/PROJECT_ID/locations/LOCATION_ID/pipelines/PIPELINE_ID`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/pipelines/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/pipelines/{pipelinesId}",
                  "id": "datapipelines.projects.locations.pipelines.delete"
                },
                "run": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/pipelines/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The pipeline name. For example: `projects/PROJECT_ID/locations/LOCATION_ID/pipelines/PIPELINE_ID`."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/pipelines/{pipelinesId}:run",
                  "httpMethod": "POST",
                  "description": "Creates a job for the specified pipeline directly. You can use this method when the internal scheduler is not configured and you want to trigger the job directly or through an external system. Returns a \"NOT_FOUND\" error if the pipeline doesn't exist. Returns a \"FORBIDDEN\" error if the user doesn't have permission to access the pipeline or run jobs for the pipeline.",
                  "response": {
                    "$ref": "GoogleCloudDatapipelinesV1RunPipelineResponse"
                  },
                  "id": "datapipelines.projects.locations.pipelines.run",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}:run",
                  "request": {
                    "$ref": "GoogleCloudDatapipelinesV1RunPipelineRequest"
                  }
                },
                "patch": {
                  "path": "v1/{+name}",
                  "description": "Updates a pipeline. If successful, the updated Pipeline is returned. Returns `NOT_FOUND` if the pipeline doesn't exist. If UpdatePipeline does not return successfully, you can retry the UpdatePipeline request until you receive a successful response.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PATCH",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/pipelines/{pipelinesId}",
                  "id": "datapipelines.projects.locations.pipelines.patch",
                  "request": {
                    "$ref": "GoogleCloudDatapipelinesV1Pipeline"
                  },
                  "response": {
                    "$ref": "GoogleCloudDatapipelinesV1Pipeline"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/pipelines/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "The pipeline name. For example: `projects/PROJECT_ID/locations/LOCATION_ID/pipelines/PIPELINE_ID`. * `PROJECT_ID` can contain letters ([A-Za-z]), numbers ([0-9]), hyphens (-), colons (:), and periods (.). For more information, see [Identifying projects](https://cloud.google.com/resource-manager/docs/creating-managing-projects#identifying_projects). * `LOCATION_ID` is the canonical ID for the pipeline's location. The list of available locations can be obtained by calling `google.cloud.location.Locations.ListLocations`. Note that the Data Pipelines service is not available in all regions. It depends on Cloud Scheduler, an App Engine application, so it's only available in [App Engine regions](https://cloud.google.com/about/locations#region). * `PIPELINE_ID` is the ID of the pipeline. Must be unique for the selected project and location."
                    },
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "description": "The list of fields to be updated.",
                      "format": "google-fieldmask"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "httpMethod": "GET",
                  "id": "datapipelines.projects.locations.pipelines.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/pipelines",
                  "path": "v1/{+parent}/pipelines",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDatapipelinesV1ListPipelinesResponse"
                  },
                  "parameters": {
                    "pageSize": {
                      "description": "The maximum number of entities to return. The service may return fewer than this value, even if there are additional pages. If unspecified, the max limit is yet to be determined by the backend implementation.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "A page token, received from a previous `ListPipelines` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPipelines` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The location name. For example: `projects/PROJECT_ID/locations/LOCATION_ID`."
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "An expression for filtering the results of the request. If unspecified, all pipelines will be returned. Multiple filters can be applied and must be comma separated. Fields eligible for filtering are: + `type`: The type of the pipeline (streaming or batch). Allowed values are `ALL`, `BATCH`, and `STREAMING`. + `status`: The activity status of the pipeline. Allowed values are `ALL`, `ACTIVE`, `ARCHIVED`, and `PAUSED`. For example, to limit results to active batch processing pipelines: type:BATCH,status:ACTIVE"
                    }
                  },
                  "description": "Lists pipelines. Returns a \"FORBIDDEN\" error if the caller doesn't have permission to access it."
                },
                "get": {
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "id": "datapipelines.projects.locations.pipelines.get",
                  "response": {
                    "$ref": "GoogleCloudDatapipelinesV1Pipeline"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/pipelines/{pipelinesId}",
                  "description": "Looks up a single pipeline. Returns a \"NOT_FOUND\" error if no such pipeline exists. Returns a \"FORBIDDEN\" error if the caller doesn't have permission to access it.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The pipeline name. For example: `projects/PROJECT_ID/locations/LOCATION_ID/pipelines/PIPELINE_ID`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/pipelines/[^/]+$",
                      "required": true
                    }
                  }
                },
                "create": {
                  "description": "Creates a pipeline. For a batch pipeline, you can pass scheduler information. Data Pipelines uses the scheduler information to create an internal scheduler that runs jobs periodically. If the internal scheduler is not configured, you can use RunPipeline to run jobs.",
                  "parameters": {
                    "parent": {
                      "description": "Required. The location name. For example: `projects/PROJECT_ID/locations/LOCATION_ID`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/pipelines",
                  "path": "v1/{+parent}/pipelines",
                  "request": {
                    "$ref": "GoogleCloudDatapipelinesV1Pipeline"
                  },
                  "id": "datapipelines.projects.locations.pipelines.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDatapipelinesV1Pipeline"
                  }
                },
                "stop": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDatapipelinesV1Pipeline"
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudDatapipelinesV1StopPipelineRequest"
                  },
                  "path": "v1/{+name}:stop",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/pipelines/{pipelinesId}:stop",
                  "id": "datapipelines.projects.locations.pipelines.stop",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/pipelines/[^/]+$",
                      "type": "string",
                      "description": "Required. The pipeline name. For example: `projects/PROJECT_ID/locations/LOCATION_ID/pipelines/PIPELINE_ID`.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "description": "Freezes pipeline execution permanently. If there's a corresponding scheduler entry, it's deleted, and the pipeline state is changed to \"ARCHIVED\". However, pipeline metadata is retained."
                }
              },
              "resources": {
                "jobs": {
                  "methods": {
                    "list": {
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "A page token, received from a previous `ListJobs` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListJobs` must match the call that provided the page token."
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "description": "The maximum number of entities to return. The service may return fewer than this value, even if there are additional pages. If unspecified, the max limit will be determined by the backend implementation.",
                          "format": "int32"
                        },
                        "parent": {
                          "description": "Required. The pipeline name. For example: `projects/PROJECT_ID/locations/LOCATION_ID/pipelines/PIPELINE_ID`.",
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/pipelines/[^/]+$"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/pipelines/{pipelinesId}/jobs",
                      "id": "datapipelines.projects.locations.pipelines.jobs.list",
                      "response": {
                        "$ref": "GoogleCloudDatapipelinesV1ListJobsResponse"
                      },
                      "description": "Lists jobs for a given pipeline. Throws a \"FORBIDDEN\" error if the caller doesn't have permission to access it.",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/jobs",
                      "parameterOrder": [
                        "parent"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "version": "v1",
  "schemas": {
    "GoogleCloudDatapipelinesV1RunPipelineResponse": {
      "description": "Response message for RunPipeline",
      "type": "object",
      "id": "GoogleCloudDatapipelinesV1RunPipelineResponse",
      "properties": {
        "job": {
          "$ref": "GoogleCloudDatapipelinesV1Job",
          "description": "Job that was created as part of RunPipeline operation."
        }
      }
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDatapipelinesV1ListPipelinesResponse": {
      "description": "Response message for ListPipelines.",
      "type": "object",
      "properties": {
        "pipelines": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatapipelinesV1Pipeline"
          },
          "description": "Results that matched the filter criteria and were accessible to the caller. Results are always in descending order of pipeline creation date."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDatapipelinesV1ListPipelinesResponse"
    },
    "GoogleCloudDatapipelinesV1LaunchTemplateParameters": {
      "type": "object",
      "id": "GoogleCloudDatapipelinesV1LaunchTemplateParameters",
      "description": "Parameters to provide to the template being launched.",
      "properties": {
        "update": {
          "type": "boolean",
          "description": "If set, replace the existing pipeline with the name specified by jobName with this pipeline, preserving state."
        },
        "parameters": {
          "description": "The runtime parameters to pass to the job.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "environment": {
          "description": "The runtime environment for the job.",
          "$ref": "GoogleCloudDatapipelinesV1RuntimeEnvironment"
        },
        "transformNameMapping": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Map of transform name prefixes of the job to be replaced to the corresponding name prefixes of the new job. Only applicable when updating a pipeline."
        },
        "jobName": {
          "description": "Required. The job name to use for the created job.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatapipelinesV1RunPipelineRequest": {
      "id": "GoogleCloudDatapipelinesV1RunPipelineRequest",
      "type": "object",
      "description": "Request message for RunPipeline",
      "properties": {}
    },
    "GoogleCloudDatapipelinesV1Workload": {
      "id": "GoogleCloudDatapipelinesV1Workload",
      "type": "object",
      "properties": {
        "dataflowLaunchTemplateRequest": {
          "description": "Template information and additional parameters needed to launch a Dataflow job using the standard launch API.",
          "$ref": "GoogleCloudDatapipelinesV1LaunchTemplateRequest"
        },
        "dataflowFlexTemplateRequest": {
          "$ref": "GoogleCloudDatapipelinesV1LaunchFlexTemplateRequest",
          "description": "Template information and additional parameters needed to launch a Dataflow job using the flex launch API."
        }
      },
      "description": "Workload details for creating the pipeline jobs."
    },
    "GoogleCloudDatapipelinesV1ListJobsResponse": {
      "description": "Response message for ListJobs",
      "type": "object",
      "id": "GoogleCloudDatapipelinesV1ListJobsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "jobs": {
          "type": "array",
          "description": "Results that were accessible to the caller. Results are always in descending order of job creation date.",
          "items": {
            "$ref": "GoogleCloudDatapipelinesV1Job"
          }
        }
      }
    },
    "GoogleCloudDatapipelinesV1Pipeline": {
      "description": "The main pipeline entity and all the necessary metadata for launching and managing linked jobs.",
      "properties": {
        "lastUpdateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Immutable. The timestamp when the pipeline was last modified. Set by the Data Pipelines service."
        },
        "pipelineSources": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Immutable. The sources of the pipeline (for example, Knowledge Catalog). The keys and values are set by the corresponding sources during pipeline creation.",
          "type": "object"
        },
        "displayName": {
          "description": "Required. The display name of the pipeline. It can contain only letters ([A-Za-z]), numbers ([0-9]), hyphens (-), and underscores (_).",
          "type": "string"
        },
        "schedulerServiceAccountEmail": {
          "description": "Optional. A service account email to be used with the Cloud Scheduler job. If not specified, the default compute engine service account will be used.",
          "type": "string"
        },
        "scheduleInfo": {
          "description": "Internal scheduling information for a pipeline. If this information is provided, periodic jobs will be created per the schedule. If not, users are responsible for creating jobs externally.",
          "$ref": "GoogleCloudDatapipelinesV1ScheduleSpec"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Immutable. The timestamp when the pipeline was initially created. Set by the Data Pipelines service.",
          "readOnly": true,
          "type": "string"
        },
        "jobCount": {
          "format": "int32",
          "readOnly": true,
          "description": "Output only. Number of jobs.",
          "type": "integer"
        },
        "type": {
          "description": "Required. The type of the pipeline. This field affects the scheduling of the pipeline and the type of metrics to show for the pipeline.",
          "enum": [
            "PIPELINE_TYPE_UNSPECIFIED",
            "PIPELINE_TYPE_BATCH",
            "PIPELINE_TYPE_STREAMING"
          ],
          "type": "string",
          "enumDescriptions": [
            "The pipeline type isn't specified.",
            "A batch pipeline. It runs jobs on a specific schedule, and each job will automatically terminate once execution is finished.",
            "A streaming pipeline. The underlying job is continuously running until it is manually terminated by the user. This type of pipeline doesn't have a schedule to run on, and the linked job gets created when the pipeline is created."
          ]
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_RESUMING",
            "STATE_ACTIVE",
            "STATE_STOPPING",
            "STATE_ARCHIVED",
            "STATE_PAUSED"
          ],
          "description": "Required. The state of the pipeline. When the pipeline is created, the state is set to 'PIPELINE_STATE_ACTIVE' by default. State changes can be requested by setting the state to stopping, paused, or resuming. State cannot be changed through UpdatePipeline requests.",
          "enumDescriptions": [
            "The pipeline state isn't specified.",
            "The pipeline is getting started or resumed. When finished, the pipeline state will be 'PIPELINE_STATE_ACTIVE'.",
            "The pipeline is actively running.",
            "The pipeline is in the process of stopping. When finished, the pipeline state will be 'PIPELINE_STATE_ARCHIVED'.",
            "The pipeline has been stopped. This is a terminal state and cannot be undone.",
            "The pipeline is paused. This is a non-terminal state. When the pipeline is paused, it will hold processing jobs, but can be resumed later. For a batch pipeline, this means pausing the scheduler job. For a streaming pipeline, creating a job snapshot to resume from will give the same effect."
          ],
          "type": "string"
        },
        "workload": {
          "description": "Workload information for creating new jobs.",
          "$ref": "GoogleCloudDatapipelinesV1Workload"
        },
        "name": {
          "type": "string",
          "description": "The pipeline name. For example: `projects/PROJECT_ID/locations/LOCATION_ID/pipelines/PIPELINE_ID`. * `PROJECT_ID` can contain letters ([A-Za-z]), numbers ([0-9]), hyphens (-), colons (:), and periods (.). For more information, see [Identifying projects](https://cloud.google.com/resource-manager/docs/creating-managing-projects#identifying_projects). * `LOCATION_ID` is the canonical ID for the pipeline's location. The list of available locations can be obtained by calling `google.cloud.location.Locations.ListLocations`. Note that the Data Pipelines service is not available in all regions. It depends on Cloud Scheduler, an App Engine application, so it's only available in [App Engine regions](https://cloud.google.com/about/locations#region). * `PIPELINE_ID` is the ID of the pipeline. Must be unique for the selected project and location."
        }
      },
      "id": "GoogleCloudDatapipelinesV1Pipeline",
      "type": "object"
    },
    "GoogleCloudDatapipelinesV1DataflowJobDetails": {
      "type": "object",
      "description": "Pipeline job details specific to the Dataflow API. This is encapsulated here to allow for more executors to store their specific details separately.",
      "id": "GoogleCloudDatapipelinesV1DataflowJobDetails",
      "properties": {
        "resourceInfo": {
          "type": "object",
          "additionalProperties": {
            "format": "double",
            "type": "number"
          },
          "description": "Cached version of all the metrics of interest for the job. This value gets stored here when the job is terminated. As long as the job is running, this field is populated from the Dataflow API."
        },
        "currentWorkers": {
          "format": "int32",
          "description": "Output only. The current number of workers used to run the jobs. Only set to a value if the job is still running.",
          "type": "integer",
          "readOnly": true
        },
        "sdkVersion": {
          "$ref": "GoogleCloudDatapipelinesV1SdkVersion",
          "readOnly": true,
          "description": "Output only. The SDK version used to run the job."
        }
      }
    },
    "GoogleCloudDatapipelinesV1Job": {
      "id": "GoogleCloudDatapipelinesV1Job",
      "type": "object",
      "description": "Definition of the job information maintained by the pipeline. Fields in this entity are retrieved from the executor API (e.g. Dataflow API).",
      "properties": {
        "status": {
          "description": "Status capturing any error code or message related to job creation or execution.",
          "$ref": "GoogleRpcStatus"
        },
        "state": {
          "type": "string",
          "description": "The current state of the job.",
          "enumDescriptions": [
            "The job state isn't specified.",
            "The job is waiting to start execution.",
            "The job is executing.",
            "The job has finished execution successfully.",
            "The job has finished execution with a failure.",
            "The job has been terminated upon user request."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_PENDING",
            "STATE_RUNNING",
            "STATE_DONE",
            "STATE_FAILED",
            "STATE_CANCELLED"
          ]
        },
        "name": {
          "description": "Required. The fully qualified resource name for the job.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time of job creation.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The internal ID for the job."
        },
        "dataflowJobDetails": {
          "description": "All the details that are specific to a Dataflow job.",
          "$ref": "GoogleCloudDatapipelinesV1DataflowJobDetails"
        },
        "endTime": {
          "description": "Output only. The time of job termination. This is absent if the job is still running.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      }
    },
    "GoogleRpcStatus": {
      "id": "GoogleRpcStatus",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      },
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "GoogleCloudDatapipelinesV1ScheduleSpec": {
      "description": "Details of the schedule the pipeline runs on.",
      "properties": {
        "schedule": {
          "description": "Unix-cron format of the schedule. This information is retrieved from the linked Cloud Scheduler.",
          "type": "string"
        },
        "timeZone": {
          "description": "Timezone ID. This matches the timezone IDs used by the Cloud Scheduler API. If empty, UTC time is assumed.",
          "type": "string"
        },
        "nextJobTime": {
          "readOnly": true,
          "description": "Output only. When the next Scheduler job is going to run.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "GoogleCloudDatapipelinesV1ScheduleSpec",
      "type": "object"
    },
    "GoogleCloudDatapipelinesV1RuntimeEnvironment": {
      "description": "The environment values to set at runtime.",
      "properties": {
        "bypassTempDirValidation": {
          "description": "Whether to bypass the safety checks for the job's temporary directory. Use with caution.",
          "type": "boolean"
        },
        "additionalUserLabels": {
          "type": "object",
          "description": "Additional user labels to be specified for the job. Keys and values should follow the restrictions specified in the [labeling restrictions](https://cloud.google.com/compute/docs/labeling-resources#restrictions) page. An object containing a list of key/value pairs. Example: { \"name\": \"wrench\", \"mass\": \"1kg\", \"count\": \"3\" }.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "machineType": {
          "description": "The machine type to use for the job. Defaults to the value from the template if not specified.",
          "type": "string"
        },
        "ipConfiguration": {
          "enum": [
            "WORKER_IP_UNSPECIFIED",
            "WORKER_IP_PUBLIC",
            "WORKER_IP_PRIVATE"
          ],
          "enumDescriptions": [
            "The configuration is unknown, or unspecified.",
            "Workers should have public IP addresses.",
            "Workers should have private IP addresses."
          ],
          "description": "Configuration for VM IPs.",
          "type": "string"
        },
        "additionalExperiments": {
          "items": {
            "type": "string"
          },
          "description": "Additional experiment flags for the job.",
          "type": "array"
        },
        "numWorkers": {
          "description": "The initial number of Compute Engine instances for the job.",
          "type": "integer",
          "format": "int32"
        },
        "tempLocation": {
          "description": "The Cloud Storage path to use for temporary files. Must be a valid Cloud Storage URL, beginning with `gs://`.",
          "type": "string"
        },
        "subnetwork": {
          "description": "Subnetwork to which VMs will be assigned, if desired. You can specify a subnetwork using either a complete URL or an abbreviated path. Expected to be of the form \"https://www.googleapis.com/compute/v1/projects/HOST_PROJECT_ID/regions/REGION/subnetworks/SUBNETWORK\" or \"regions/REGION/subnetworks/SUBNETWORK\". If the subnetwork is located in a Shared VPC network, you must use the complete URL.",
          "type": "string"
        },
        "serviceAccountEmail": {
          "description": "The email address of the service account to run the job as.",
          "type": "string"
        },
        "workerZone": {
          "description": "The Compute Engine zone (https://cloud.google.com/compute/docs/regions-zones/regions-zones) in which worker processing should occur, e.g. \"us-west1-a\". Mutually exclusive with worker_region. If neither worker_region nor worker_zone is specified, a zone in the control plane's region is chosen based on available capacity. If both `worker_zone` and `zone` are set, `worker_zone` takes precedence.",
          "type": "string"
        },
        "maxWorkers": {
          "description": "The maximum number of Compute Engine instances to be made available to your pipeline during execution, from 1 to 1000.",
          "format": "int32",
          "type": "integer"
        },
        "kmsKeyName": {
          "type": "string",
          "description": "Name for the Cloud KMS key for the job. The key format is: projects//locations//keyRings//cryptoKeys/"
        },
        "network": {
          "description": "Network to which VMs will be assigned. If empty or unspecified, the service will use the network \"default\".",
          "type": "string"
        },
        "workerRegion": {
          "type": "string",
          "description": "The Compute Engine region (https://cloud.google.com/compute/docs/regions-zones/regions-zones) in which worker processing should occur, e.g. \"us-west1\". Mutually exclusive with worker_zone. If neither worker_region nor worker_zone is specified, default to the control plane's region."
        },
        "zone": {
          "type": "string",
          "description": "The Compute Engine [availability zone](https://cloud.google.com/compute/docs/regions-zones/regions-zones) for launching worker instances to run your pipeline. In the future, worker_zone will take precedence."
        },
        "enableStreamingEngine": {
          "type": "boolean",
          "description": "Whether to enable Streaming Engine for the job."
        }
      },
      "id": "GoogleCloudDatapipelinesV1RuntimeEnvironment",
      "type": "object"
    },
    "GoogleCloudDatapipelinesV1LaunchTemplateRequest": {
      "id": "GoogleCloudDatapipelinesV1LaunchTemplateRequest",
      "description": "A request to launch a template.",
      "properties": {
        "validateOnly": {
          "description": "If true, the request is validated but not actually executed. Defaults to false.",
          "type": "boolean"
        },
        "launchParameters": {
          "$ref": "GoogleCloudDatapipelinesV1LaunchTemplateParameters",
          "description": "The parameters of the template to launch. This should be part of the body of the POST request."
        },
        "location": {
          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request.",
          "type": "string"
        },
        "gcsPath": {
          "description": "A Cloud Storage path to the template from which to create the job. Must be a valid Cloud Storage URL, beginning with 'gs://'.",
          "type": "string"
        },
        "projectId": {
          "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDatapipelinesV1FlexTemplateRuntimeEnvironment": {
      "properties": {
        "maxWorkers": {
          "description": "The maximum number of Compute Engine instances to be made available to your pipeline during execution, from 1 to 1000.",
          "format": "int32",
          "type": "integer"
        },
        "kmsKeyName": {
          "description": "Name for the Cloud KMS key for the job. Key format is: projects//locations//keyRings//cryptoKeys/",
          "type": "string"
        },
        "additionalUserLabels": {
          "description": "Additional user labels to be specified for the job. Keys and values must follow the restrictions specified in the [labeling restrictions](https://cloud.google.com/compute/docs/labeling-resources#restrictions). An object containing a list of key/value pairs. Example: `{ \"name\": \"wrench\", \"mass\": \"1kg\", \"count\": \"3\" }`.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "tempLocation": {
          "description": "The Cloud Storage path to use for temporary files. Must be a valid Cloud Storage URL, beginning with `gs://`.",
          "type": "string"
        },
        "network": {
          "description": "Network to which VMs will be assigned. If empty or unspecified, the service will use the network \"default\".",
          "type": "string"
        },
        "additionalExperiments": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Additional experiment flags for the job."
        },
        "zone": {
          "description": "The Compute Engine [availability zone](https://cloud.google.com/compute/docs/regions-zones/regions-zones) for launching worker instances to run your pipeline. In the future, worker_zone will take precedence.",
          "type": "string"
        },
        "machineType": {
          "type": "string",
          "description": "The machine type to use for the job. Defaults to the value from the template if not specified."
        },
        "ipConfiguration": {
          "description": "Configuration for VM IPs.",
          "enumDescriptions": [
            "The configuration is unknown, or unspecified.",
            "Workers should have public IP addresses.",
            "Workers should have private IP addresses."
          ],
          "type": "string",
          "enum": [
            "WORKER_IP_UNSPECIFIED",
            "WORKER_IP_PUBLIC",
            "WORKER_IP_PRIVATE"
          ]
        },
        "numWorkers": {
          "format": "int32",
          "description": "The initial number of Compute Engine instances for the job.",
          "type": "integer"
        },
        "enableStreamingEngine": {
          "description": "Whether to enable Streaming Engine for the job.",
          "type": "boolean"
        },
        "workerRegion": {
          "description": "The Compute Engine region (https://cloud.google.com/compute/docs/regions-zones/regions-zones) in which worker processing should occur, e.g. \"us-west1\". Mutually exclusive with worker_zone. If neither worker_region nor worker_zone is specified, defaults to the control plane region.",
          "type": "string"
        },
        "serviceAccountEmail": {
          "type": "string",
          "description": "The email address of the service account to run the job as."
        },
        "subnetwork": {
          "type": "string",
          "description": "Subnetwork to which VMs will be assigned, if desired. You can specify a subnetwork using either a complete URL or an abbreviated path. Expected to be of the form \"https://www.googleapis.com/compute/v1/projects/HOST_PROJECT_ID/regions/REGION/subnetworks/SUBNETWORK\" or \"regions/REGION/subnetworks/SUBNETWORK\". If the subnetwork is located in a Shared VPC network, you must use the complete URL."
        },
        "flexrsGoal": {
          "description": "Set FlexRS goal for the job. https://cloud.google.com/dataflow/docs/guides/flexrs",
          "enumDescriptions": [
            "Run in the default mode.",
            "Optimize for lower execution time.",
            "Optimize for lower cost."
          ],
          "type": "string",
          "enum": [
            "FLEXRS_UNSPECIFIED",
            "FLEXRS_SPEED_OPTIMIZED",
            "FLEXRS_COST_OPTIMIZED"
          ]
        },
        "workerZone": {
          "type": "string",
          "description": "The Compute Engine zone (https://cloud.google.com/compute/docs/regions-zones/regions-zones) in which worker processing should occur, e.g. \"us-west1-a\". Mutually exclusive with worker_region. If neither worker_region nor worker_zone is specified, a zone in the control plane region is chosen based on available capacity. If both `worker_zone` and `zone` are set, `worker_zone` takes precedence."
        }
      },
      "description": "The environment values to be set at runtime for a Flex Template.",
      "type": "object",
      "id": "GoogleCloudDatapipelinesV1FlexTemplateRuntimeEnvironment"
    },
    "GoogleCloudDatapipelinesV1StopPipelineRequest": {
      "description": "Request message for StopPipeline.",
      "type": "object",
      "id": "GoogleCloudDatapipelinesV1StopPipelineRequest",
      "properties": {}
    },
    "GoogleCloudDatapipelinesV1SdkVersion": {
      "id": "GoogleCloudDatapipelinesV1SdkVersion",
      "properties": {
        "version": {
          "type": "string",
          "description": "The version of the SDK used to run the job."
        },
        "sdkSupportStatus": {
          "enumDescriptions": [
            "Dataflow is unaware of this version.",
            "This is a known version of an SDK, and is supported.",
            "A newer version of the SDK exists, and an update is recommended.",
            "This version of the SDK is deprecated and will eventually be unsupported.",
            "Support for this SDK version has ended and it should no longer be used."
          ],
          "enum": [
            "UNKNOWN",
            "SUPPORTED",
            "STALE",
            "DEPRECATED",
            "UNSUPPORTED"
          ],
          "description": "The support status for this SDK version.",
          "type": "string"
        },
        "versionDisplayName": {
          "type": "string",
          "description": "A readable string describing the version of the SDK."
        }
      },
      "description": "The version of the SDK used to run the job.",
      "type": "object"
    },
    "GoogleCloudDatapipelinesV1LaunchFlexTemplateParameter": {
      "properties": {
        "jobName": {
          "description": "Required. The job name to use for the created job. For an update job request, the job name should be the same as the existing running job.",
          "type": "string"
        },
        "transformNameMappings": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Use this to pass transform name mappings for streaming update jobs. Example: `{\"oldTransformName\":\"newTransformName\",...}`"
        },
        "containerSpecGcsPath": {
          "description": "Cloud Storage path to a file with a JSON-serialized ContainerSpec as content.",
          "type": "string"
        },
        "parameters": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The parameters for the Flex Template. Example: `{\"num_workers\":\"5\"}`"
        },
        "update": {
          "description": "Set this to true if you are sending a request to update a running streaming job. When set, the job name should be the same as the running job.",
          "type": "boolean"
        },
        "launchOptions": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Launch options for this Flex Template job. This is a common set of options across languages and templates. This should not be used to pass job parameters."
        },
        "environment": {
          "$ref": "GoogleCloudDatapipelinesV1FlexTemplateRuntimeEnvironment",
          "description": "The runtime environment for the Flex Template job."
        }
      },
      "id": "GoogleCloudDatapipelinesV1LaunchFlexTemplateParameter",
      "description": "Launch Flex Template parameter.",
      "type": "object"
    },
    "GoogleCloudDatapipelinesV1LaunchFlexTemplateRequest": {
      "properties": {
        "validateOnly": {
          "description": "If true, the request is validated but not actually executed. Defaults to false.",
          "type": "boolean"
        },
        "location": {
          "type": "string",
          "description": "Required. The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request. For example, `us-central1`, `us-west1`."
        },
        "projectId": {
          "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
          "type": "string"
        },
        "launchParameter": {
          "description": "Required. Parameter to launch a job from a Flex Template.",
          "$ref": "GoogleCloudDatapipelinesV1LaunchFlexTemplateParameter"
        }
      },
      "type": "object",
      "id": "GoogleCloudDatapipelinesV1LaunchFlexTemplateRequest",
      "description": "A request to launch a Dataflow job from a Flex Template."
    }
  }
}